[2021-06-29 13:46] simster7 commented on #6248
I think approach 1 is preferred. Approach 2 should be use if 1 is impossible or unfeasible.

I don't think this approach would be necessary and probably not desired. I understand how you arrived at it though :)

[2021-06-29 14:55] alexec commented on #6206
“argo list” is likely hydrating workflows (ie going to the database to get the node status) when they do not need to. Like the UI, is should pass the “fields” parameter to prevent this.

This should be a one line change here:

https://github.com/argoproj/argo-workflows/blob/43212590d4579c821280fd482b960934139eac2f/cmd/argo/commands/list.go#L112

Should be like this:

https://github.com/argoproj/ar

[2021-06-29 14:55] alexec commented on #6206
It’d be great if you want to submit and PR and I expect we can then backport to v3.1.2

[2021-06-29 14:56] alexec commented on #6238
Yes. They all need to be a+r at least.

I don’t think so.

[2021-06-29 14:58] alexec commented on #6179
That is normal and can be ignored.

[2021-06-29 15:06] goock commented on #6248
I'll check approach 1.
It would be great if this is as simple as connecting `Affinity` to `processedTmpl`.
Thank you.

[2021-06-29 15:11] dpeer6 commented on #6206
Cool, then!
I will work on it tomorrow, hope you will find it suitable.

[2021-06-29 15:39] alexec commented on #6179
Can you please fix this error:

[code]

[2021-06-29 15:42] alexec commented on #6244
Interesting, so the main container ID can change because it is re-created, that might explain some other issues.

I will fix. Would you be able to test out an engineering build?

[2021-06-29 15:45] alexec commented on #6246
Can you confirm if this works when creating a workflow directly rather than using a template? This will help us understand if the bug is in templates code or elsewhere.

[2021-06-29 16:22] sarabala1979 opened #6251 "SecondsAfterCompletion is not taking priority if TTLStrategy has SecondsAfterFailure and SecondsAfterSuccess"
## Summary
SecondsAfterCompletion is not taking priority if SecondsAfterCompletion configure less than SecondsAfterFailure and SecondsAfterSuccess

What happened/what you expected to happen?

Before we start, around 2/3 of issues can be fixed by one of the following:

* Have you double-checked your configuration? Maybe 30% of issues are wrong configuration.
* Have you tested to see if it is fixed

[2021-06-29 16:40] alexec commented on #6244
I've created a speculative fix. Github Actions will build `argoproj/argoexec:dev-docker` in the next 1h. Can I please ask you to test it and see if it resolves your issue?

[2021-06-29 17:22] huangjiasingle commented on #6244
@alexec not only main container re-created, in my prod env, include two case:

when l only use argo workflow, the  wait container also result: No such container: containerID, l read the wait code and view the wait container logs. include two case:
case one:
when main container recreated and the old main container was be gc collector deleted, the docker wait old container will return err: No such c

[2021-06-29 18:07] alexec commented on #6244
Did you try the new image?

[2021-06-29 20:48] ebr commented on #6223
It seems that as the number of workflow nodes grows, the server's Postgres query `SELECT "uid", "version", "nodes" FROM "argo_workflows" WHERE ("clustername" = $1 AND "namespace" = $2)` blocks all further queries, including the ones from the workflow controller. This starts being noticeable (and eventually grinds to a halt) when the total number of workflow nodes (maybe only `Running`? - unconfirm

[2021-06-29 20:51] andrew-arkhipov commented on #6053
See [variables.md](https://github.com/argoproj/argo-workflows/blob/master/docs/variables.md#metrics). It's right there.

[2021-06-29 21:38] alexec commented on #6223
How did you testing with v3.1 go?

[2021-06-29 22:41] koffemaria2u opened #6253 "Adding Exit handler on step level -- for WorkflowTemplate"
## Summary

What happened/what you expected to happen?
- When submitting a workflow/cronwf, `onExit` can be used on the step level when referencing a `container` as shown in this [example](https://github.com/argoproj/argo-workflows/blob/4e450e250168e6b4d51a126b784e90b11a0162bc/examples/template-on-exit.yaml#L22-L28). However, I have not been able to make it work when the exit handler calls a `Work

[2021-06-30 02:23] Bobgy opened #6254 "workflow with "when" stuck in running after all tasks completed"
## Summary

What happened/what you expected to happen?
I ran the attached workflow with when.
I expect the workflow to finish successfully after all tasks are completed, but the workflow itself is stuck in running status.

The original workflow is generated by Kubeflow Pipelines so it's a little convoluted, see downstream issue https://github.com/kubeflow/pipelines/issues/5937.

I've tried my best

[2021-06-30 03:51] huangjiasingle commented on #6244
@alexec yeah.

[2021-06-30 05:06] zijianjoy opened #6255 "Support `endpoint`,`bucket` fields for artifact access in runtime workflow status"
# Summary

In this PR https://github.com/argoproj/argo-workflows/pull/3377/files#diff-e513d8bd9786d929b66439f58e6a961bc77e4971998657573fbb047fe2e399d8, `S3Artifact` is removed because they are not being used. However, UI is unable to get bucket name from runtime workflow_manifest, therefore UI cannot load artifact preview using workflow_manifest. Suggest to include `bucket` and `endpoint` fields t

[2021-06-30 06:55] LudoNieuwenhuizen commented on #6179
Sorry, wrong serviceaccount, here it is with the correct one:
[code]

[2021-06-30 07:19] stevenbressey commented on #6246
Just tried without using a template and it seems to work.
So the issue might be linked to templates indeed.
FYI, I'm also using a `volumeClaimTemplates` in my workflow, which is then supposed to be mounted in main and sidecar containers.

[2021-06-30 12:25] klaucos opened #6256 "Successfully finished pods show stuck in pending phase indefinitely in GKE + Kubernetes v1.20"
## Summary

We were running reasonably complex Argo workflows without issues for a long time.
However around the time we updated Kubernetes version to 1.19.10-gke.1000 (Running ARGO in GKE) we started experiencing
frequent problems with workflow getting stuck because Pod that was successfully started by Argo and finished is shown stuck in the pending state in Argo. (Even though we can see from log

[2021-06-30 12:59] julianahrens opened #6257 "When condition randomly invalid"
## Summary

Running the following workflow template it fails sometimes. Most of the time it is valid and running without any issues.
[code]

The entered argument values are:
- `A|B`
- `B|C`
- `C|D`
- ...

Sometimes we get the following error `Invalid 'when' expression '{{=sprig.has('C', sprig.splitList('|', sprig.trim(workflow.parameters.jobsToExecute)))}}': Invalid token: '{{=' (hint: try wrappin

[2021-06-30 13:40] dpeer6 commented on #6206
Hi,
I created the PR, hope it's ok.

[2021-06-30 14:29] mac9416 opened #6260 "Expression template containing double-quoted string fails"
## Summary

### tl;dr

Argo failed to evaluate an expression template containing a double-quoted string.

[code]

But it successfully evaluated an expression template containing a single-quoted string.

[code]

According to the [expr language definition](https://github.com/antonmedv/expr/blob/da4c23e1ae39c67a7e2f5bc96d772573483ec359/docs/Language-Definition.md), it supports either.

### Full test

[2021-06-30 14:33] mac9416 commented on #6260
Here is an even simpler test:

[code]

[2021-06-30 14:41] bluelion commented on #6256
We have a very similar situation that we also started encountering when we went from Kubernetes 1.19 to Kubernetes 1.20.

After an upgrade to Kubernetes 1.20, we have hit upon a issue, where argo workflows with argo nodes fanout of more than about 100 were not getting their status updated properly. For example multiple argo nodes would have the erroneous status of ‘Pending’ in UI or cli while they

[2021-06-30 14:43] bluelion commented on #6256
Forgot to add that our current argo version is v2.12.5

[2021-06-30 14:57] bluelion commented on #6256
We can reproduce the issue with the following workflow:

[code]

[2021-06-30 15:11] #1150 closed

[2021-06-30 15:23] sarabala1979 commented on #6260
would you like to submit PR this?

[2021-06-30 15:27] mac9416 commented on #6260
@sarabala1979 maybe. I ran the controller locally and got some obtuse error back from expr (something about the backslash character being invalid, even when it wasn't present???). Will post that when I get the chance. If the problem turns out to be simple, I'll be happy to contribute a fix.

If this proves more involved, I might just have to submit a PR documenting the bug.

[2021-06-30 15:32] #6203 closed

[2021-06-30 16:14] yuha0 commented on #6256
We are on AWS (non-EKS, self managed kops cluster, on `v1.19.12`) and also observes this issue. The controller says

[code]

and then

[code]

This can be reliably reproduced for the same workflow in ~90% of time.

[2021-06-30 16:20] Pale-whale commented on #6256
Hello,

We are on aks 1.20.5 with containerd and pns as executor with argo 3.1 and we experience the same problem
Updating the workflow's status via kubectl also timeout with the same message
We did hotfix it by splitting the workflow by 2 and having a step submitting both workflows

[2021-06-30 19:29] jrowinski3d opened #6261 "malformed Dex configuration found - Workflows & ArgoCD authentication"
## Summary

Configuring Argo-Workflows with Argo-CD(Dex) for authentication. Getting `malformed Dex configuration found`

I expect it to not be malformed as I am following the docs here -> https://argoproj.github.io/argo-workflows/argo-server-sso-argocd/#example-helm-chart-configuration-for-authenticating-against-argocds-dex

## Diagnostics

What Kubernetes provider are you using?
**Using helm cha

[2021-06-30 19:48] terrytangyuan commented on #6255
The fields were removed since they were not being used at all in the codebase and these changes have been there for a year since v2.10. I doubt that it's a good idea to rely on those fields.

[2021-06-30 20:25] zijianjoy commented on #6255
@terrytangyuan Hello Terry, instead of bringing these fields back to the old format, can we support providing the content of `bucket` and `endpoint` as part of `configMap` in [ArtifactRepositoryRef](https://github.com/argoproj/argo-workflows/blob/f78b759cfca07c47ae41990e1bbe031e862993f6/pkg/apis/workflow/v1alpha1/generated.proto#L124)?

Please see the `status`->`ArtifactRepositoryRef` in https://g

[2021-06-30 21:03] WoLfulus commented on #4912
Seeing the same exact behavior with crons

[2021-06-30 23:24] Bobgy commented on #6255
The main information KFP wants is to parse workflow status and understand artifact source, URI, endpoint, secrets info.

I agree it's not a good idea to duplicate them per artifact.
However, IIUC right now the other information can only be found in argo runtime env. What if someone changes some config? How do we know the original artifact repository a workflow ran as.
Therefore this feature reques

[2021-07-01 03:25] #6244 closed

[2021-07-01 05:11] sarabala1979 commented on #6256
can you increase your k8s API QoS limit? It looks like API rate limit is happening

[2021-07-01 05:26] sarabala1979 commented on #6257
will `workflow.parameters.jobsToExecute` contain `'` `"`?

[2021-07-01 06:43] julianahrens commented on #6257
No, there is just the input I have mentioned before. No whitespaces, `'` or `"`.

[2021-07-01 07:13] avibha28 commented on #826
aks with 1.19 version starts using containerd instead of docker engine.  Thus we have this issue.

[2021-07-01 07:27] klaucos commented on #6256
I can confirm I can also sometimes see errors updating workflow.
[code]

@sarabala1979 - Can you be more precise?
We are using GKE which I believe has  [fixed API limit 600 requests per min](https://cloud.google.com/kubernetes-engine/quotas#limit_for_api_requests)  We are not able to increase it AFAIK.
But Argo was working without issues before k8s update.

Also if API limit is the case - I see th

[2021-07-01 12:06] klaucos commented on #6256
We found weird behavior when looking into pending pods in a workflow.
It seems like the pod is being repeatedly executed in ~20 min intervals.
Execution is done with the same pod name but across different nodes so it's not the same pod.
We can see that the each pod execution successfully finishes but Argo still shows it as pending.
For example workflow with the name:
workflow-1625104800-1625799007

[2021-07-01 14:16] christopheblin opened #6262 ""long" time between steps"
## Summary

I try to optimize the duration of my workflows

Currently, I have something like half the duration of my workflows which are not inside pods (which are generally short-lived).

These are the "blanks" between the pods I have :

![Capture d’écran 2021-07-01 à 15 23 16](https://user-images.githubusercontent.com/11044877/124131640-4ac49b80-da80-11eb-81cd-0848e1e332f1.png)

The duration o

[2021-07-01 14:26] sarabala1979 commented on #6262
How busy is you k8s server? Argo workflow will depend on Pod informer notification to schedule next step/pod. If k8s take a few seconds to update, the next pod will take few seconds delay.

Sent from my iPhone

[2021-07-01 14:35] christopheblin commented on #6262
@sarabala1979 thanks for the quicck answer :)

what metric exactly do you need (CPU / RAM) ?

here is the `k top node` output just before I run the wf

![Capture d’écran 2021-07-01 à 16 30 50](https://user-images.githubusercontent.com/11044877/124141467-bd864480-da89-11eb-93ea-f35a23aa1a03.png)

As you can see, this is pretty "normal" and there is no problem

If you have any kubectl command to r

[2021-07-01 15:36] arnonki opened #6263 "Workflows waiting for synchronization lock cannot be filtered as "pending" in ui and CLI"
## Summary

What happened/what you expected to happen?

After implementing synchronization in the workflow level, I cannot filter for "pending" workflows in the UI and in the CLI

## Diagnostics

What Kubernetes provider are you using?
GKE

What version of Argo Workflows are you running?
3.0.7

What executor are you running? Docker/K8SAPI/Kubelet/PNS/Emissary
kubelet

Did this work in a previous v

[2021-07-01 16:07] christopheblin commented on #6262
Here are additional infos for a 3 step wf

[code]

duration : 20 / 13 / 9

all pods have scheduled -> init = 0s and ready -> containersready = 0s

however
* first pod : init to ready = 9s
* second pod : init to ready = 20s
* third pod : init to ready = 5s

[2021-07-01 16:20] goock commented on #6248
@simster7 The first option does not work, at least for me. The template is held by a local variable and between  `executeTemplate()` calls the affinity is gone. Eventually, I finished with template recovery which works great.

The last piece of the puzzle for me is how to get the retry node from the current one, where I can retrieve the template. I can walk upward the node tree using `BoundaryID`

[2021-07-01 16:55] sarabala1979 commented on #6263
can you provide what is the current state of the workflows `argo list` and workflow controller logs?

[2021-07-01 16:58] sarabala1979 commented on #6262
The pod life cycle totally depends on your k8s.  you play with imagepullpolicy.

[2021-07-01 17:30] alexec commented on #826
Please use PNS executor

[2021-07-01 17:51] mac9416 commented on #6260
FastTemplate is escaping double-quotes in the tags before they're fed to expr. I believe adding this line before evaluating the expression would solve the issue:

[code]

I'll try to put up a PR, but might not find the time. At least now there's a clearer idea what the issue is. :-)

[2021-07-01 19:30] mac9416 commented on #6260
1. the template is [marshalled to JSON](https://github.com/argoproj/argo-workflows/blob/c9246d3d4c162e0f7fe76f2ee37c55bdbfa4b0c6/workflow/common/util.go#L171) in the `SubstituteParams` function (i.e. the interface becomes JSON as a JSON-encoded string [i.e. double quotes are escaped])
2. this string is passed to the [`Replace` function](https://github.com/argoproj/argo-workflows/blob/c9246d3d4c162

[2021-07-01 19:47] liafizan commented on #5953
hello @alexec we are facing similar issue as we use a different OIDC provider and have to use a custom claim but cannot use `groups` as the claim name. We plan to work on this. Could you please assign this?

[2021-07-01 19:55] alexec commented on #5953
Done.

[2021-07-01 19:59] alexec commented on #5953
(a) add `ADGroups` to `types.Claims`
(b) add to `GetUserInfoResponse` in `info.proto`
(c)  surface it to the user in `UserInfo` in user-info.tsx

i.e don't try and jam `ad_groups` into the existing `groups` variables, create a new place of it. No coupling.

[2021-07-01 21:43] zijianjoy opened #6267 "Parallel running nodes become parent/children dependency in Argo 1.3.0"
## Summary

After upgrading from Argo 2.19.0 to 3.1.0, two parallel running nodes have become parent/children dependency as shown in `status->nodes` path. Using Argo official example for a diamond workflow: https://argoproj.github.io/argo-workflows/examples/#dag.

The dependency of dag should look like:
[code]

But as a result of running against Argo 3.1.0, it is actually:

[code]

Both nodes (B a

[2021-07-01 21:52] yuha0 commented on #6256
I checked our metrics for the past 2 days. We did not hit API rate limit. Our API server inflight request limit is 1000 (2000 for mutating requests). And the value for `max_over_time(apiserver_current_inflight_requests[2d])` is lower than 100.

[2021-07-01 22:37] sarabala1979 commented on #6267
is it happening alway? I tried in latest code. I am not able to reproduce it.
[code]

![image](https://user-images.githubusercontent.com/33908564/124196930-4ac59b00-da82-11eb-803e-b5874a493b1f.png)

[2021-07-01 23:04] sarabala1979 commented on #6256
Can you check your k8s API server log whether `workflow update` call is reaching?
`Error updating workflow: Timeout: request did not complete within requested timeout 34s Timeout` This is telling it is environment issue it could be network/server load issue.

[2021-07-01 23:42] Bobgy commented on #6267
Yes, @sarabala1979 it happens stability.

@zijianjoy I just realized we can also verify using argo prebuilt installation in release note, rather than our own installation, maybe we did sth wrong in our manifest.

[2021-07-02 01:31] dongwangdw commented on #826
shall we just update the doc to show this?
The same question asked again again, I think it is worth the updating the doc.

[2021-07-02 07:06] michael132 commented on #5953
Thank you for taking care of this!

[2021-07-02 08:00] christopheblin commented on #6262
@sarabala1979

I understand that the part inside the pod is my responsibility.

What I'd like to know is what argo is doing and how much time it is supposed to take (or where I can find data about this).

pod/main ended -> pod/wait detection -> .... -> next pod created on k8s

for ex : when are logs uploaded to s3 : by wait container ? by argo-controlller ? synchronously or asynchronously before s

[2021-07-02 08:04] sharmahemlata opened #6268 "Wait container is stuck and so is the argo workflow controller for large datasets only"
### What happened/what you expected to happen?
I have a machine learning pipeline that runs several machine learning algorithms in parallel as components (pods in kubernetes)

When I run the pipeline on relatively small datasets (200,000 rows), the pipeline takes some time but finishes executing (3+ hours) with all components finished.

When I run the pipeline on a large dataset ([UCI poker datase

[2021-07-02 09:13] klaucos commented on #6256
We have used @bluelion's ALWAYS_OFFLOAD_NODE_STATUS workaround and we were able to at least finish our workload without Timeout issues.
Without it, whole workflow fails around 70/300 step so it's probably connected to the size of the workload being written?
However with this workaround Argo and Argo-UI doesn't work properly as mentioned in his comment.

Sadly I am unable to confirm or deny that wo

[2021-07-02 13:29] tczhao commented on #6256
Here's what I observed

I made a version such that when the controller operator updates the workflow, the operator will retry indefinitely if k8sclient timeout.
The controller kept retrying and receiving timeout forever for a particularly lengthy workflow.

Other workflows that were submitted at the same period are working fine.

---
Argo: v3.1.0
GKE: 1.20.6-gke.1000

[2021-07-02 15:28] sarabala1979 commented on #6267
@Bobgy  If it is an installation problem,  Please update the details and close it

[2021-07-02 15:33] sarabala1979 commented on #6268
Workflow controller and argoexec version should be the same version to execute properly.  2.7 onwards there is a lot of performance improvement on both. Please make sure you are using same version

[2021-07-02 15:40] sarabala1979 commented on #6262
Wait container will upload logs/artifacts/outputs once the main container completes.

Argo will create pods based on Step or DAG configuration. If the step or task configured parallel, Argo will create all pods at the same time. Pods schedule is up to the K8s scheduler.

[2021-07-02 15:42] sarabala1979 commented on #6261
@alexec can you comment on this?

[2021-07-02 16:28] alexec commented on #6261
@gdnlp - you wrote this guide, do have a suggestion?
@jrowinski3d  - if you can avoid Dex, we'd recommend, it adds complexity and failure points, and is often not needed if (like many) your OAuth2/OIDC provider is standard- compliant

[2021-07-02 16:46] bluelion commented on #6256
@klaucos  - you can try this to get kube api server logs and filter by a namespace that your workflow runs:
[code]
You should be able to see kube api server logs related to your namespace

[2021-07-02 16:54] sarabala1979 commented on #6257
I am able to reproduce it locally. It is random. I am looking at the root cause. Expression is not substituting/evaluating ` {{=sprig.has('C', sprig.splitList('|', sprig.trim(workflow.parameters.jobsToExecute)))}}`

[2021-07-02 18:04] sarabala1979 commented on #6256
This is clarify us. Workflow object is reaching limit 1MP.  So API call drops somewhere.

[2021-07-02 18:58] alexec commented on #6256
Never set ALWAYS_OFFLOAD_NODE_STATUS. This will lead to performance issues and bugs.

[2021-07-02 19:25] arulmeiyappan opened #6270 "Document url for argo workflow binary is wrong."
curl -sLO https://github.com/argoproj/argo/releases/download/v3.1.1/argo-darwin-amd64.gz

Please change all the links to

curl -sLO https://github.com/argoproj/argo-workflows/releases/download/v3.1.1/argo-darwin-amd64.gz

[2021-07-02 19:39] bluelion commented on #6256
Thank you for your feedback. We did try this first - https://argoproj.github.io/argo-workflows/offloading-large-workflows/ - setting the value `nodeStatusOffLoad: true` in the helm chart so that argo could selectively send updates to kube api server based on size. But that did not work for us, the large workflows still did not complete and we saw the kube api server errors mentioned before.

The o

[2021-07-02 21:11] alexec commented on #6256
(1)

This issue gained 👍  1000x the rate of any previous issue. If all the engineers at a FAANG up-voted an issue, that would unfair on other users would it not?

(2)

The error `upper: no more rows in this result set` should never happen. It indicates that data was deleted from the database but was needed and I'd expect this to result in broken workflows. It maybe a bug, but as it is conflated wi

[2021-07-02 21:35] ebr opened #6273 "Variable DAG targets do not work in WorkflowTemplates"
## Summary

Given this YAML:

[code]

[code]

This happens for both CWFT and WFT. However, changing it to a simple `Workflow` and doing `argo submit` seems to work completely fine.

- K8s v1.20
- Argo Workflows v3.0.7; I have not yet been able to test v3.1.x :(
- Docker executor

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-07-02 21:39] ebr commented on #6223
Hoping to get to it next week - sorry, crazy time crunch right now (which is the reason for running these huge workflows in the first place :sweat_smile:

[2021-07-02 22:28] sarabala1979 opened #6274 "Use https://github.com/argoproj/argo-workflow instead of https://github.com/argoproj/argo. softlink was changed."
## Summary
https://github.com/argoproj/argo Softlink changed to a different repo.
Please use https://github.com/argoproj/argo-workflows.

What happened/what you expected to happen?

Before we start, around 2/3 of issues can be fixed by one of the following:

* Have you double-checked your configuration? Maybe 30% of issues are wrong configuration.
* Have you tested to see if it is fixed in the lat

[2021-07-02 22:52] Manheim94 opened #6275 "Cannot Install Argo CLI for 'not in gzip format'"
## Summary

I follow the argo cli install instructions on
https://github.com/argoproj/argo-workflows/releases/tag/v3.1.1
The error happens during the unzip step:
➜  /tmp gunzip argo-darwin-amd64.gz
gunzip: argo-darwin-amd64.gz: not in gzip format

## Diagnostics

👀 Yes! We need all of your diagnostics, please make sure you add it all, otherwise we'll go around in circles asking you for it:

What K

[2021-07-02 23:28] tymokvo opened #6276 "Path to non-existing key on GCS fails to be handled as optional input"
## Summary

### Preamble

What happened/what you expected to happen?

Before we start, around 2/3 of issues can be fixed by one of the following:

* Have you double-checked your configuration? Maybe 30% of issues are wrong configuration.

Yep, other downloaded artifacts are fine.

* Have you tested to see if it is fixed in the latest version? Maybe 20% of issues are fixed by this.

Nope, but the c

[2021-07-02 23:58] sarabala1979 commented on #6275
Change the url from https://github.com/argoproj/argo to https://github.com/argoproj/argo-workflows

I will update the release notes

Sent from my iPhone

[2021-07-03 01:25] zhongwenqin commented on #6115
I have the same problem

[2021-07-03 01:26] zhongwenqin commented on #6115
[root@host1 ~]# kubectl -n argo logs hello-world-xr5lw wait
time="2021-07-03T01:14:10.519Z" level=info msg="Starting Workflow Executor" version="{v3.0.3 2021-05-11T21:14:20Z 02071057c082cf295ab8da68f1b2027ff8762b5a v3.0.3 clean go1.15.7 gc linux/amd64}"
time="2021-07-03T01:14:10.528Z" level=info msg="Creating a docker executor"
time="2021-07-03T01:14:10.528Z" level=info msg="Executor (version: v3.

[2021-07-03 01:26] zhongwenqin commented on #6115
[root@host1 ~]# kubectl -n argo logs hello-world-xr5lw main
 _____________
< hello world >
 -------------
    \
     \
      \
                    ##        .
              ## ## ##       ==
           ## ## ## ##      ===
       /""""""""""""""""___/ ===
[code]

[2021-07-03 01:29] zhongwenqin commented on #6115
[root@host1 ~]# kubectl -n argo get pod
NAME                                  READY   STATUS     RESTARTS   AGE
argo-server-594b5c8cb6-bjtbl          1/1     Running    0          19h
hello-world-xr5lw                     1/2     NotReady   0          13m
minio-77d6796f8d-p9bjj                1/1     Running    0          9d
postgres-546d9d68b-n7ptb              1/1     Running    0          9d
wo

[2021-07-03 02:52] avifried1 commented on #6115
wait container logs are basically an endless loop of:

[code]

[2021-07-03 03:51] sarabala1979 commented on #6275
updated  release notes

[2021-07-03 03:51] #6275 closed

[2021-07-03 06:34] bgdnlp commented on #6261
I wrote the Kustomize part, the helm charts and initial version were written by @hobbsh I believe. I have no idea why Dex would complain. I'd suggest checking the raw version of the config that ends up being loaded by Dex.

[2021-07-03 08:41] Bobgy commented on #6267
@sarabala1979 I verified using quickstart-mysql for argo v3.1.0 and v3.1.1.

Confirmed this issue happens in v3.1.0 and has been fixed in v3.1.1. I think that's why you weren't able to reproduce.

Can you help closing the issue? I don't have permission for this

[2021-07-03 10:42] Bobgy commented on #6254
Verified this has been fixed in v3.1.1

[2021-07-03 10:42] #6254 closed

[2021-07-03 12:09] Bobgy commented on #6255
Hi @alexec @sarabala1979, this is a blocker for Kubeflow Pipelines to upgrade to argo v3.1.x.
What do you think about it?

[2021-07-03 14:21] #6267 closed

[2021-07-03 14:27] sarabala1979 commented on #6276
@tymokvo Is this issue happening consistently?
Can you share the `wait  container` logs and `controller logs`? Can you provide sample reproducible workflow yaml?

[2021-07-04 05:55] vumdao commented on #4885
I got this issue in v3.1.1

[code]

![image](https://user-images.githubusercontent.com/37215642/124374620-04ad4900-dcc7-11eb-8731-f94cbf453384.png)

[2021-07-04 08:12] dtaniwaki commented on #1451
Are we going to make the same approach with ArgoCD?
https://github.com/argoproj/argo-cd/blob/master/docs/operator-manual/custom-styles.md

[2021-07-04 08:40] arnonki commented on #6263
When time passes pending workflows starts and/Users/arnon/Downloads/argo-logs.txt complete... the current state of `argo list` workflow depends on the the workflows...
[argo-logs.txt](https://github.com/argoproj/argo-workflows/files/6759595/argo-logs.txt)

argo list
[code]

[2021-07-05 05:08] prasunsultania opened #6279 "workflow validator runs into unknown field hostnetwork"
## Summary
hostPID field is not available in argo workflow cron and hostNetwork runs into error.

What happened/what you expected to happen?
Since, hostNetwork and hostPID fields are supported by native Kubernetes pods and cronjobs, it should be supported in argo cron workflows.

Before we start, around 2/3 of issues can be fixed by one of the following:

* Have you double-checked your configurati

[2021-07-05 06:05] sharmahemlata commented on #6268
@sarabala1979, Thank you for the quick reply.
output of **kubectl get deployment workflow-controller -o yaml :**
[code]

[2021-07-05 06:47] henrywangx opened #6280 "Why we skip error of GetTerminationGracePeriodDuration ?"
I think it will return error when it can't reach k8s. In that case, we should throw the error at least log the error.
https://github.com/argoproj/argo-workflows/blob/4fd38facbfb66b06ab0205b04f6e1f1e9943eb6a/workflow/executor/executor.go#L966

[2021-07-05 12:55] a67586646 opened #6283 "Retry a single failed node in a suspended workflow."
# Summary

Retry a single failed node in a suspended workflow.

# Use Cases

Hello, I have a question about retrying single node in a DAG.
I have a workflow X, there is a parent node A in X, children node B and C both depend on A. If the phase of B is failed and the phase of C is suspended, the phase of my workflow is Running(Suspended).In this situation, I just want to retry B and make C still be

[2021-07-05 14:16] AntoineDao opened #6284 "Argo Server GET fields param `status.nodes.<node-id>` does not return nodes"
## Summary

What happened/what you expected to happen?

We use the argo server API to request updates on workflows and update our reporting system outside of the argo environment. This is to reduce the load on the argo server overall.

To do this we make api requests using this URL pattern `/v1/workflows/<namespace>/<workflow-id>?fields=status.nodes.<node-id>`. This used to work until we upgraded

[2021-07-05 15:16] dtaniwaki commented on #1451
@alexec @alexmt
I have implemented the custom CSS feature.
https://github.com/argoproj/argo-workflows/pull/6282

We can pass another value in the settings endpoint if we'd like to customize a floating icon as @alexec suggested in the future.

[2021-07-05 16:18] jrowinski3d commented on #6261
We have an instance of Okta internally and would like to use that for our provider. My main goal is to only have `workflows` installed but came across this documentation to get the integration for Okta + Workflows authentication which required `dex`.

I'll have to step back a bit and potentially look at this at a different angle.

Also just wanted to bring this up as the `helm` section of the docs

[2021-07-05 16:32] alexec commented on #6256
I’ve taken another look at this, this API server will return 504 when it queues a request for APF. The article provides a number of solutions to this, such as disabling APF or configuring the FlowSchema users should try out.

[2021-07-06 02:07] tczhao commented on #6256
Thanks for the help

My exploration:
- GKE is a manged cluster, we can't configure _kube-apiserver_ (to disable _APF_)
- we can configure _flowschema_ but the max priority is only at _workload-low_, this doesn't solve the issue

We decide to downgrade GKE for now.
Alternatively (or in the long run), switch to use emissary executor (seems kubeflow is going with emmisary https://github.com/kubeflow/

[2021-07-06 07:49] ZhengJuCn opened #6287 "archived logs not stored in minio, event in wait containerlogs print success saved"
archived logs not stored in minio, event in wait containerlogs print success saved

What happened/what you expected to happen?
main log store in minio

## Diagnostics

in wait container logs , i can see main.log has successfully saved, but in minio nothing stored,

1. wait container logs

time="2021-07-02T07:04:45.918Z" level=info msg="Creating minio client minio.argo:9000 using static credentials

[2021-07-06 08:51] Guillermogsjc opened #6288 "Binaries download broken due to redirect"
This is probably a Github issue, but status is ok ...

`curl -sLO https://github.com/argoproj/argo/releases/download/v3.1.0-rc12/argo-linux-amd64.gz` will download an empty file. This broke every single pipeline from multiple IPs and zones

[2021-07-06 08:55] natChr-OL opened #6289 "Argo CLI install does not work"
## Summary

Hi I noticed today that Argo CLI install does not work following the usual steps.

curl -sLO https://github.com/argoproj/argo/releases/download/v2.8.0/argo-linux-amd64
chmod +x argo-linux-amd64
mv ./argo-linux-amd64 /usr/local/bin/argo

what happened (step by step):

curl -sLO https://github.com/argoproj/argo/releases/download/v2.8.0/argo-linux-amd64
cat argo-linux-amd64
the content of

[2021-07-06 09:05] book987 commented on #6288
try `https://github.com/argoproj/argo-workflows/releases...`, replace /argo/ with /argo-workflows/, this should work

[2021-07-06 09:08] Guillermogsjc commented on #6288
Ok great, just copied it from https://github.com/argoproj/argo-workflows/releases, but now it is corrected. Great it works that way.

Thanks.

[2021-07-06 09:17] Guillermogsjc commented on #6288
Do not close it , as this for example does not work:

``curl -sLO curl -sLO https://github.com/argoproj/argo-workflows/releases/download/v3.0.1/argo-linux-amd64.gz``` will throw an empty file .

[code]

[2021-07-06 09:22] natChr-OL commented on #6289
I just saw the comments under https://github.com/argoproj/argo-workflows/issues/6288 and it has the answer I searched for.
This one can be closed as it is also about the binaries location

[2021-07-06 09:22] #6289 closed

[2021-07-06 10:33] ankit131087 opened #6290 "Task StartedAt to be referred in same step for monitoring"
I want to pass some information from workflow to prometheus. So I want to pass step start time as a label. Is it possible to refer to step start time in the same step. The below is what I tried -

apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: wftmpl-monitoring-metric-example
  namespace: argowf
spec:
  entrypoint: dag-templ
  serviceAccountName: argowf-serviceaccount

[2021-07-06 12:04] tczhao commented on #6288
Hmm, the first command works fine for me, got a 40M gz file.
Can you please try again

[2021-07-06 13:08] terrytangyuan commented on #5502
@simster7 Is there also a decision on when to remove the scaffolding code?

[2021-07-06 13:10] terrytangyuan commented on #6255
Sounds good to me but I'll defer to others to decide whether to add those additional fields.

[2021-07-06 13:11] simster7 commented on #5502
I'll do it now, thanks for the reminder.

[2021-07-06 14:44] msmerc commented on #5173
@simster7 - is this still considered a low priority issue / wontfix?

It's a showstopper for us since we like to do our tests vs a clean environment.

Would you consider a partial fix whereby so long as the template files are specified in order such that no template is referred to before it is defined then it would pass? That would be immensely helpful!

[2021-07-06 15:14] Guillermogsjc commented on #6288
Yep, now it works. This morning it was giving a 4 kb file.

[2021-07-06 15:33] mattyb commented on #6288
Was this repo renaming intentional? Was there notice somewhere we could watch in the future?

[2021-07-06 16:28] jrowinski3d commented on #6261
@bgdnlp I just tested out `kustomize` and got past the issue of **malformed dex config** , but now approaching a 404 not found for the `/api/dex` url.

So something is not correct in the helm setup for some reason.

[2021-07-06 16:59] samene opened #6292 "container logs printed on UI have a newline char in them, making long URLs non parse-able"
I have a container template which prints a long URL like this on stdout

[code]

When the logs are viewed on the UI in logs it appends a new line character to the lines and copy-pasting this URL leads to an incorrect URL. Something like this

[code]

**Expected:**
The logs printed on URL should not add unnecessary newline characters

**Info**
Argo 3.0.7
kubernetes 1.20

[2021-07-06 17:24] #6183 closed

[2021-07-06 17:39] jrowinski3d commented on #6261
Any chance you could help me on how to check so I can validate the `helm` part of the docs?

[2021-07-06 18:05] alexec commented on #6255
One of the secondary benefits of removing this information is the reduced size of `NodeStatus`. I'm not keen to loose that because (a) big workflows are a performance issue and (b) that data can be found in the namespace:

https://github.com/argoproj/argo-workflows/blob/master/server/artifacts/artifact_server.go#L157

[2021-07-06 18:19] raviatmaryh commented on #6115
Had the same issue as others. `main` container finishes successfully. `wait` container keeps looping with `docker ps...`

Did not see this issue on local minikube cluster, but ran into it on digitalocean cluster.

For now, I've switched the executor to `k8sapi` and I'm not seeing any issues.

[2021-07-06 19:50] hobbsh commented on #6261
Can you post the raw config that is trying to be loaded as mentioned above? I don't think I changed anything in the helm charts from what I can recall, this was purely documentation around setting this up.

If you're getting a 404, then it's possible you have an issue with your ingress configuration.

[2021-07-06 20:18] jrowinski3d commented on #6261
I just came across this issue today: https://github.com/argoproj/argo-cd/issues/3787

I was setting the `url` during the config which turns the "config" to be malformed. Both Helm and Kustomize alike. Apparently not setting it gives the **404** ?

My ingress is as follows and per the docs:

[code]

[2021-07-07 00:04] hobbsh commented on #6261
Did your Argo stack work before you setup the Dex stuff?

[2021-07-07 01:44] tymokvo commented on #6276
@sarabala1979 thanks for the quick reply! I updated the issue with a failing workflow using GCS and, for comparison, one that succeeds using HTTP.

Wait container logs:

[code]

Controller logs:

[code]

[2021-07-07 02:11] jibuji opened #6293 "OSS artifact needs to support archive.none"
# Summary

What change needs making?

according to the doc, artifacts should supports archive.none, but oss artifacts does not fully supported.

# Use Cases

see the following template, when the oss.key is an directory, it will raise "NoSuchKey" error. Again, within ouputs.artifacts, if the oss.key is an directory, it will also raise "NoSuchKey" error.

[code]

When would you use this?

I want to

[2021-07-07 02:24] terrytangyuan commented on #6293
Could you please clarify what you meant and fill out information in the description?

[2021-07-07 02:34] jibuji commented on #6293
I fixed this bug locally, but I don't know how to commit it, should I wait for this bug assigning to me, and then pull a request to fix it?

[2021-07-07 02:40] terrytangyuan commented on #6293
Feel free to submit a PR directly and I'll review from there.

[2021-07-07 02:41] jibuji commented on #6293
OK，Thanks

[2021-07-07 04:19] zhongwenqin commented on #6115
@raviatmaryh thank you ,the issue has been solve.

[2021-07-07 05:24] Bobgy commented on #6255
Hi @alexec, for clarification, we propose to add the information back to workflow status, rather than node status, so size is not a concern as each workflow only records the status once.

[2021-07-07 05:39] sarabala1979 commented on #6288
URL redirection was changed recently to point the `ARGOCON21` landing page. Please release `argo-workflows` for workflow relate URLs

[2021-07-07 15:51] alexec commented on #6255
That seems sensible. Would you like to raise a PR?

[2021-07-07 15:57] alexec commented on #6256
Can you try this?

That’s 6x the default of 10s. Should reduce the number of API requests too.

[2021-07-07 16:00] alexec commented on #6256
We really need to see some metrics from users as to which API requests are being made to see if they are flooding the server.

[2021-07-07 16:11] jrowinski3d commented on #6261
This is a brand new setup.

ArgoCD install -> https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
ArgoWorkflows install -> https://raw.githubusercontent.com/argoproj/argo-workflows/stable/manifests/install.yaml

And then doing the `kustomize` steps or `helm` steps as provided in the docs

[2021-07-07 16:36] MichielDeMey commented on #6195
Looks like it's the same issue on the Quay.io registry?
Can't seem to find the v3.0.8 tag.

[2021-07-07 17:42] liafizan commented on #5953
hey @michael132 looks like the original request was to allow users to specify the key name for groups clam but looks it is not configurable and would add unnecessary complexity if try to make it user defined.

We are planning to go with what @alexec suggested and have `ad_groups` as another claim in there which I suppose will serve your purpose as well as others like us to set a custom claim with

[2021-07-07 18:08] alexec commented on #6255
Actually, hold-off from a PR, I can see a way to fix this AND use it to fix out a performance issue at the same time.

[2021-07-07 18:09] bm424 opened #6300 "(UI) Add search/filter functionality to the Workflow Templates page"
# Summary

Add searchability and tag-based filtering to the Workflow Templates page of the Argo UI, similar to the same functionality on the Workflows page.

# Use Cases

We've been using Argo as an ETL system, with one WorkflowTemplate per job. Cron Workflows can then reference the WorkflowTemplates to run to a schedule, or our analysts can run them manually. Trouble is the Workflow Templates pag

[2021-07-07 20:24] hobbsh commented on #6261
So you're applying the `install.yaml` and then installing with helm on top of that?

[2021-07-07 21:22] jrowinski3d commented on #6261
Yeah, I tried `helm` at first, and then tried `kustomize` and same results. Just to confirm with you, do you need to have a **connector** setup first to make this work?

I managed to finally get it working, but by setting up an Okta SAML integration with **argo-cd** and then appending the **staticClients** to the `argocd-cm` . Now it looks like my `argo-workflows` is piggy backing on the SAML inte

[2021-07-07 21:46] hobbsh commented on #6261
Glad you got it working. I've never tried it without a connector setup so I guess you do. Sorry the documentation is unclear!

[2021-07-07 22:47] alexec commented on #6255
I've just pushed `dev-6255`. Can you please try `argoproj/workflow-controller:dev-6255` and see if that is what you want?

[2021-07-07 22:48] alexec commented on #6256
I've just pushed `dev-6255`. Can you please try `argoproj/workflow-controller:dev-6255` and see if that helps?

[2021-07-07 22:53] alexec commented on #5967
I think this is probably:

Duplicate of $6256

[2021-07-07 22:53] #5967 closed

[2021-07-07 22:55] #6194 closed

[2021-07-07 22:58] alexec commented on #6279
The error is correct. `hostNetwork` is a field on the `workflowSpec`, not on the template. Outdent your YAML.

[2021-07-07 22:58] #6279 closed

[2021-07-08 00:22] ad22 opened #6301 "Step hangs forever w/ retryStrategy added to templates (possibly related to Lifecycle hooks)"
## Summary

I compose my DAG based on re-usable templates. I'm able to run the workflow successfully without retryStrategy on the templates, but adding the lines
[code]
causes the DAG to spin forever.

See images
**Without retryStrategy**
![image](https://user-images.githubusercontent.com/9344284/124843236-5b748600-df46-11eb-8b20-a22233f1997a.png)

**With retryStrategy**
![image](https://user-imag

[2021-07-08 02:06] Bobgy commented on #6255
Awesome, will have a try!

[2021-07-08 03:32] ZhengJuCn opened #6303 "can i define A,B,C three workflow, which A, B can run parallel, limit C to parallel run with A/B"
# Summary

can i define A,B,C three workflow, which A, B can run parallel, limit C to parallel run with A/B

current Mutex field can only define one mutex name, which will cause A,B,C cannot run parallel at all

while with Semaphore=2, i cannot define which two can run parallel

anyone has solution about this, thanks~

# Use Cases

want to controll workflow run can i define A,B,C three workflow, w

[2021-07-08 03:36] #6287 closed

[2021-07-08 05:15] zijianjoy commented on #6255
Thank you @alexec ! I tried the dev image and encountered an issue, is there anything we are missing?

#### Steps

1. In our `workflow-controller` deployment, replace the `image` field with `docker.io/argoproj/workflow-controller:dev-6255`.
2. Use the example workflow in https://argoproj.github.io/argo-workflows/examples/#dag.
3. Encounter the following error: 'Error (exit code 2): open /argo/podm

[2021-07-08 05:42] sarabala1979 commented on #6303
@ZhengJuCn you can define the Step for workflows of workflow pattern.
https://github.com/argoproj/argo-workflows/blob/master/examples/workflow-of-workflows.yaml

[2021-07-08 06:11] tczhao commented on #6256
with
[code]

The controller still hitting the same error on gke1.20
`time="2021-07-08T05:52:59.129Z" level=warning msg="Error updating workflow: Timeout: request did not complete within requested timeout 34s Timeout" namespace=default workflow=stress-test-f2cnf`

[2021-07-08 06:29] sarabala1979 commented on #6301
@ad22 Can you share the controller logs and sample reproducible workflow YAML?

[2021-07-08 06:42] michael132 commented on #5953
Hey @liafizan, not a problem at all. I have being building images locally with the support of custom group claims (with the same exact way) as well.

[2021-07-08 06:43] ZhengJuCn commented on #6303
@sarabala1979 but A,B not related, other words, ther may not need to alway run in the same time, A,B,C not know each other..

may mutex support rwmutex,  then A/B lock for read, while C lock for write

[2021-07-08 08:11] Bobgy commented on #6238
After fix in the PR, we still hit error messages like:
[code]

(this is an improvement, at least the Pod doesn't hang forever)

[2021-07-08 08:12] Bobgy commented on #6238
@alexec can you help me reopen this issue, so that I can keep adding PRs fixing this use-case?

[2021-07-08 09:27] giordyb opened #6305 "UI: granularity of "Duration" column in workflow list should be in minutes"
# Summary

When a workflow is shorter than 1 hour then the duration column is in minutes, when it's longer than one hour the duration is in hours.
This means that a workflow that runs 1 hour and 45 minutes is displayed as having a duration of 1 hour only.
I believe the duration should be more granular depending on the length of the workflow (es. 1 day and 3 hours).

# Use Cases

When comparing wor

[2021-07-08 09:55] prasunsultania commented on #6279
`hostNetwork` worked, although still errors for `hostPID`, but, I am able to get my use case without `hostPID`

[2021-07-08 10:19] book987 opened #6306 "Wrong order of DAG tasks may appear after sortDAGTasks when using Depends instead of Dependencies"
## Summary

What happened/what you expected to happen?

Running workflow belows **may**(about 12% chance to reproduce on my environment) got an error said 'invalid spec: templates.main.tasks.C templates.C-template: failed to resolve {{workflow.outputs.parameters.globalResult}}'

[code]

## Diagnostics

[sortDAGTasks](https://github.com/argoproj/argo-workflows/blob/v3.1.1/workflow/validate/validate

[2021-07-08 10:34] book987 commented on #6306
I'll submit a PR, make `sortDAGTasks` supports Depends.
Leaves you another one for discuss, is argo accept unpredicted behaviors like this? a bug cannot stably reproduce
@alexec @terrytangyuan

[2021-07-08 13:42] terrytangyuan commented on #6255
Did you also update `--executor-image` like in https://github.com/argoproj/argo-workflows/blob/master/manifests/namespace-install.yaml#L494 to `docker.io/argoproj/workflow-controller:dev-6255`?

[2021-07-08 15:16] alexec commented on #6255
@terrytangyuan is correct. I didn’t think you need to update the executor image, but you’ll need to update that too.

[2021-07-08 15:21] goock commented on #6248
@simster7 I really need a hit on how to get the indirect/direct parent `retry` node from the current `pod` node.

Walking on the tree of nodes does not work, sometimes `StepGroup` does not have a parent.

[2021-07-08 15:36] alexec commented on #6256
@tczhao could you share some of your Prometheus metrics please? I’m not sure you settings took. Only a dribble of requests would be made with QPS=1.

[2021-07-08 15:37] simster7 commented on #6248
@goock Taking a look now...

[2021-07-08 15:39] sarabala1979 commented on #6303
@ZhengJuCn Currently workflow doesn't support rwmutex. Can you try to set workflow `priority`?

[2021-07-08 15:42] simster7 commented on #6248
Can you elaborate one why this is necessary? It seems like a bit of an anti-pattern for a child node to need information of a parent node. If the `retry` node has relevant information, the logic should probably act when the `retry` node (and not the child node) is being considered, even if it means that when the `retry` node is being considered we dive down its child tree.

[2021-07-08 16:09] RafalSkolasinski commented on #6288
On related note, we observe a lot of installation failures on our side when installing argo (workflows) using following manifests
[code]

A lot of our scripts and CI pipelines got broken by renaming of the repository. Could a proper redirect be put in place?

[2021-07-08 16:18] yuha0 commented on #6256
@alexec Thank you for looking into this. Just want to update that `DEFAULT_REQUEUE_TIME=1m` on controller v3.1.1 did not fix the problem for us. I am going to try your dev branch (`dev-6255`) today and report back.

Some metrics that might be interesting:

p99 for `UPDATE` operations take significant longer time than other operations on the API server:

[code]

Inflight requests are not a lot and

[2021-07-08 16:33] zijianjoy commented on #6255
Thank you @terrytangyuan and @alexec !

I have updated the executor-image flag to the dev image too. This time the error has changed to the following:

[code]

For the request in this thread, the `artifactRepository` has populated `s3` detail now.

[2021-07-08 16:36] zijianjoy commented on #6255
The existing executor-image is `argoproj/argoexec:latest`, which is different from `workflow-controller`, maybe I should use something different than `docker.io/argoproj/workflow-controller:dev-6255` for `--executor-image`?

[2021-07-08 16:46] terrytangyuan commented on #6255
Yes it's a typo and should be argoexec image instead of workflow-controller.

[2021-07-08 17:02] ad22 commented on #6301
@sarabala1979 Here is a complete WF that can reproduce the issue.
[code]
Removing the following lines will make it pass
[code]

**Logs without retryStrategy**
[code]

**Logs with retryStrategy**
[code]

[2021-07-08 17:39] #6103 closed

[2021-07-08 18:22] goock commented on #6248
First of all, the current implementation only works for `pods` which are direct children from the `retry` node.

The first step was to modify `GetFailHosts()` and traverse all `pods` under the hood of the `retry` and this part works perfectly now.

When the new pod is about to create by https://github.com/argoproj/argo-workflows/blob/126701476effdb9d71832c776d650a768428bbe1/workflow/controller/ope

[2021-07-08 19:08] zijianjoy commented on #6255
Thank you @terrytangyuan ! I validated that this dev image works for providing artifact info in `status -> artifactRepositoryRef -> artifactRepository` field. The new workflow run failed with `'Error (exit code 1): pods "dag-diamond-1-4281134405" is forbidden:
        User "system:serviceaccount:kubeflow:default" cannot patch resource "pods"
        in API group "" in the namespace "kubeflow"'`, b

[2021-07-08 22:24] Bobgy commented on #6255
@zijianjoy the latest error message says kubeflow namespace's default service account do not have enough permissions.

The fix should be using a service account with enough permissions. E.g. pipeline-runner (deployed with kubeflow).

Change your workflow spec to add
[code]

See https://argoproj.github.io/argo-workflows/workflow-rbac/

[2021-07-08 22:37] Bobgy commented on #6238
Fixed by https://github.com/argoproj/argo-workflows/pull/6304

[2021-07-08 22:37] #6238 closed

[2021-07-09 00:04] markterm commented on #6256
FYI We are seeing what seems to be the same issue on GKE that only started happening in the last few weeks. We were running GKE 1.19, and upgraded to 1.20, but that didn't help.

With one of the affected workflows, if I try editing the workflow yaml manually with 'kubectl edit workflow' it takes 35 seconds for the edit to apply, which is past the 30 seconds timeout.

[2021-07-09 00:27] zijianjoy commented on #6255
@Bobgy Yes I have added service account from the initial run, which confused me why this error still shows up. You can search `"serviceAccountName":"pipeline-runner"` in this comment https://github.com/argoproj/argo-workflows/issues/6255#issuecomment-876133632.

[2021-07-09 00:33] Bobgy commented on #6255
@zijianjoy from your resource, looks like you added the field in metadata, but it should be in spec.

[2021-07-09 02:27] uxth opened #6313 "Is there a hook for enter for template?"
# Summary
Is there a hook for enter for templates?

# Use Cases
We have scenario like this:
When a step is initiated or started, we will need the workflow to call some webhooks to notify my system that this step has started.
When a step is finished, we will need the workflow to call some other webhooks to notify my system that this step has ended.

https://github.com/argoproj/argo-workflows/blob/m

[2021-07-09 04:52] yuha0 commented on #6256
Tried `dev-6255` but the workflow init containers then complained about:

[code]

So I couldn't test it further.

[2021-07-09 04:59] tczhao opened #6314 "WorkflowStep when condition behavior changes after v3.1"
## Summary

What happened/what you expected to happen?

With https://github.com/argoproj/argo-workflows/pull/5115, the when condition is now evaluated as an expr

The below template works prior to v3.1

[code]

However, with the expression update, if a value starts with number, it gets interpreted as numeric token

Currently, I put a  single quote around to make it work.
[code]

Maybe we need to d

[2021-07-09 09:26] PacoDu commented on #6194
I've encountered the same issue, this was due to the workflow controller using the `latest` version of argoexec. Pinning the image with v3.1.1 solved the issue.

The kustomize deployment should not set images to latest for tagged versions.

For reference here is how we fixed the issue:

`patch/workflow-controller-deployment.yaml`
[code]

`kustomization.yaml`
[code]

[2021-07-09 15:44] alexec commented on #6256
You’ll also need to update your argoexec image. That will fix the error.

[2021-07-09 15:44] sarabala1979 commented on #6314
Expression evaluation is refactored to support Goevaluate and expr v3.x onwards. It expects `'` for string comparison.

[2021-07-09 15:47] sarabala1979 commented on #6313
HTTP Template feature can be enhanced to support this lifecycle hook.  MVP of HTTP template targeted on v3.2

[2021-07-09 16:23] uxth commented on #6313
Hi @sarabala1979 thank you for the reply, could you give an example how to do it plz?

[2021-07-09 17:24] zijianjoy commented on #6255
@Bobgy Good catch! Yes I should add this field under spec, and the rerun is successful:

[code]

[2021-07-09 18:39] yuha0 commented on #6256
@alexec Thank you.

In some initial tests, `dev-6255` seems to have fixed the issue for us. We will keep an eye on it and run some more workflows next week to test.

We currently still have `DEFAULT_REQUEUE_TIME=1m` on the controller, is it still necessary with `dev-6255`?

[2021-07-09 21:12] alexec commented on #6256
Try with and with and let me know.

[2021-07-10 02:50] alexec commented on #6284
Did you have a fix in mind?

[2021-07-10 06:43] tczhao commented on #6256
Hi @alexec ,

I think the main issue is todo with the gke(1.20.7-gke.1800) etcd or how argo interacts with it rather than API, APF

tested on
- (🟢) rancher/k3s:v1.20.8-k3s1
- (🔴) gke:1.20.7-gke.1800
- (🟢) rancher/k3s:v1.20.7-k3s1
- (🟢) gke:1.18.17-gke.1901

sections:
- etcd
- APF
- API
- test code

## etcd

**issue:**
In a cluster without any custom controller running:

with a normal workflow (wor

[2021-07-10 14:48] kennytrytek commented on #4136
After encountering similar behavior as what is described by this bug in Argo 3.1.1, I started looking through the Kubernetes source to see how it decides to aggregate events, and found this:
https://github.com/kubernetes/kubernetes/blob/c23a4b08d704156db724769a32edc71c921095d4/staging/src/k8s.io/client-go/tools/record/events_cache.go#L417-L447
[code]
If that docstring is accurate, it should be exp

[2021-07-10 17:28] #6227 closed

[2021-07-10 23:27] alexec commented on #6223
Should be fixed in `:latest` (v3.2)

[2021-07-10 23:27] #6223 closed

[2021-07-10 23:28] alexec commented on #6256
I'd like to know if Amazon EKS, or Azure AKS are effected. All provider are a bit different.

[2021-07-10 23:29] alexec commented on #6255
@Bobgy good enough?

[2021-07-11 00:53] Bobgy commented on #6255
@alexec sure, that looks perfect!

[2021-07-11 03:50] sarabala1979 commented on #6313
Currently, the HTTP template feature is under development. I will release it on v3.2.  To support  workflow lifecycle hook, We need further deveployment

[2021-07-11 11:12] hellobiek opened #6319 "how to login through client"
I have deploy a argo service, and argo-server runing client in mode

argo-server log is belows：
[code]

but when in the UI mode, I can not using it,  please see the following picture.

![IMG_4507](https://user-images.githubusercontent.com/2854520/125192396-364f8280-e27a-11eb-862b-e4b2d7c63935.JPG)

so, follow the message  I run the command `argo auth token`

but the command run failed again!

![IM

[2021-07-11 19:03] #5800 closed

[2021-07-12 01:33] mac9416 commented on #3672
`eval $(minikube -p minikube docker-env)` did not work for me with minikube 1.22.0. I still get ErrImageNeverPull.

[2021-07-12 08:12] KasnocknDave commented on #5504
I would like to add a usecase from our side here:
We are using `Workflows` as a CI solution, currently v2.11.7, where archived logs are shown alongside logs from pods inside the respective tab of the GUI. Now we are hesitant to upgrade to 3.x because of the change to logs and the fact, that archived logs are no longer shown.
For devs - of all areas and seniority levels - hiding away this feedback

[2021-07-12 08:16] JulianZhang opened #6322 "Argo server will get erro to show kafka eventsource if duration din't use nanosecond."
## Summary
argo sever version = v3.0.7

Kafka event source support setting connectionBackoff.duration as "1s" or "3m" instead of write nanosecond as Int.
But argo sever always read this value as Uint64.

So when I create Kafka event source with value int 10000000 argo server can show event source in web UI.

When I create Kafka event source with value string '10s' -as the example -  argo server wi

[2021-07-12 09:01] debayande opened #6323 "Merge failed and successful job history limits for CronWorkflows into a single limit"
# Summary

Argo Workflows, in its current state, allows the separate specification of the maximum number of failed and successful jobs to keep around for CronWorkflows (by setting `spec.failedJobsHistoryLimit` and `spec.successfulJobsHistoryLimit` respectively). Setting `spec.failedJobsHistoryLimit` to too low a number sometimes puts one in a position where a certain failed job is no longer availa

[2021-07-12 09:29] mosheavni commented on #3080
Can't seem to be able to expose with load balancer controller of AWS. Anyone had luck with it?

[2021-07-12 13:49] samuelBB commented on #6256
@alexec Seeing this issue in EKS-1.20.4. Argo version 3.0.2 with K8sAPI executor.

Sadly, my ability to test different configs is limited as I don't have admin privileges, but I can possibly ask my infra team to change certain things. Happy to share other info that I can if it's helpful. Let me know.

(I was the one who asked in CNCF about this: https://cloud-native.slack.com/archives/C01QW9QSSSK/

[2021-07-12 14:27] klaucos commented on #6256
I executed test script provided by @tczhao on our GKE: 1.19.10-gke.1600 (Using default settings and executor)

**Default Argo installation (3.0.3)**
Kube api-server log receives the update and fails with following error:
[code]

Then tried the same thing with dev-6255. (I have used newest  manifest with argoproj/argoexec:dev-6255 and workflow-controller:dev-6255)
Test script got stuck in exactly t

[2021-07-12 15:49] crenshaw-dev opened #6325 "Expression templates which produce double quotes throw errors"
## Summary

[Another issue](https://github.com/argoproj/argo-workflows/issues/6260) shows how it's currently not possible to include double quotes (among a few other characters) in an expression.

This issue shows that any expression which _evaluates to something that contains a double-quote_ will fail.

[code]

[code]

The CLI throws this error because the expression can be evaluated at submit ti

[2021-07-12 16:42] uxth commented on #6313
is it possible to leverage the lifecycle in kubernetes?

[2021-07-12 17:31] yuha0 commented on #6256
Also want to update that with `dev-6255` the controller still fails on some big workflows (with or without `DEFAULT_REQUEUE_TIME=1m`), so it didn't completely resolve the issue.

[2021-07-12 17:33] alexec commented on #6256
Is anyone able to share their prometheus metrics?

[2021-07-12 18:43] #6204 closed

[2021-07-12 19:14] yuha0 commented on #6256
@alexec Could you list the metrics (or PromQLs) you are interested in? I will see what we can gather in our environment.

[2021-07-12 19:21] alexec commented on #6256
They are some about the number of Kubernetes API requests made. I forget the name, but it should be obvious.

[2021-07-12 20:28] alexec opened #6326 "`Parameters` is a Golang map not a slice"
The iteration order of a Golang map is not deterministic. Often iterating it is in the insertion order, but occasionally (maybe 10%) not. This produced weird bugs.

[2021-07-12 21:24] #6255 closed

[2021-07-12 22:24] #5536 closed

[2021-07-12 23:59] sheepdragon commented on #6262
![image](https://user-images.githubusercontent.com/4659052/125370032-246ffb80-e3b0-11eb-8024-d9bdc6aa0a4c.png)
me too

[2021-07-13 04:44] uxth commented on #6313
or is there any way to implement this feature on the entry point?

[2021-07-13 04:50] sarabala1979 commented on #6313
yes Controller will emit the k8s event for every status change.

[2021-07-13 04:51] uxth commented on #6313
could you help me to point it out how to do this every status change event?

[2021-07-13 06:05] sarabala1979 opened #6327 "v3.1.x Argo CLI auth token is not returning token"
## Summary
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x8 pc=0x12107aa]

goroutine 1 [running]:
net/url.(*URL).String(0x0, 0x2e02d010, 0xc000ac7818)
	/usr/local/go/src/net/url/url.go:813 +0x4a
k8s.io/client-go/transport.newRequestInfo(...)
	/Users/sbalasubram/go/pkg/mod/k8s.io/client-go@v0.19.6/transport/round_tripp

[2021-07-13 13:50] OscardR commented on #5953
We are facing the same issue, only our OIDC provider is using yet another key for this claim. Would it be too difficult to make this configurable so _any_ key could be possibly used?

[2021-07-13 13:54] mac9416 commented on #6326
Example workflow:

[code]

Adding a few more links to the chain causes it to fail more often.

[2021-07-13 13:54] sarabala1979 opened #6330 "v3.1.2 cherry-pick"
- [x] Alex Collins: feat(controller): Store artifact repository in workflow status. Fixes #6255 (#6299) 85c9279a9
- [ ] Denis Bellotti: docs: code format (#6269) 088c48b8d
- [ ] brgoode: require sso redirect url to be an argo url (#6211) d07d933be
- [ ] Byungjin Park (Claud): docs: Fix typo (#6311) e790e2276
- [ ] Alex Collins: fix(cli): Only list needed fields. Fixes #6000 (#6298) c2360c4c4
- [ ]

[2021-07-13 13:56] mac9416 commented on #5061
This could probably be done with expression templates now. Basically add an "invalid params" template conditioned on a `when` which uses expr to regex-match each param

[2021-07-13 13:56] #5061 closed

[2021-07-13 14:22] kobejn-jb commented on #6237
I will. Now I'm having problems migrating my setup to argo 3:
https://github.com/argoproj/argo-helm/pull/833

[2021-07-13 14:23] saranyaeu2987 commented on #6263
@sarabala1979
I have similar issue. I have set synchronization to 1 but the workflows (of a cron) are not running and are in pending state.

Here is workflow controller logs

time="2021-07-13T14:10:02Z" level=warning msg="Workflow processing has been postponed due to concurrency limit" key=argo/wf-joe-v-cost-sf7dv message="Waiting for argo/ConfigMap/wf-joe-v-cost-config-map/workflow lock. Lock sta

[2021-07-13 14:38] kobejn-jb commented on #6237
I've check. Problem does not appear in argo 3, tested on v3.0.7

[2021-07-13 14:38] #6237 closed

[2021-07-13 14:49] josephmcgovern-wf opened #6333 "File mounted from `SecretVolumeSource` into volume is always in read-only mode"
## Summary

What happened/what you expected to happen?

Mounting a file in a volume from a secret results in that mounted volume always being in read-only mode, regardless of the `mode` specified on the file and the `defaultMode` specified on the secret. I would expect the `mode` configured on the file being mounted from the secret to be respected. Namely, specifying a `0777` mode should allow me

[2021-07-13 15:26] jbaez opened #6334 "Synchronization mutex or semaphore is not working properly"
## Summary

What happened/what you expected to happen?

Synchronization mutex or semaphore is not working when trying to prevent running more that one workflow in the same namespace.
Maybe related to #6110?

First tried with:
[code]
and
[code]
I triggered 3 workflows from a argo-events webhook, at first it looked like it worked because only one was running and the other two were "waiting". After a

[2021-07-13 15:39] alexec commented on #6330
I've checked 3 items.

[2021-07-13 15:45] alexec commented on #5953
The marshalling of the claims goes into a struct, where keys are set at compile time. Maybe we need to change the struct to a map if we end up with many variations.

[2021-07-13 15:58] sarabala1979 commented on #6334
time="2021-07-13T12:07:39.764Z" level=info msg="Queueing Succeeded workflow remote-tests-runner/ci-lzlhr for delete in 5m0s"
time="2021-07-13T12:07:39.765Z" level=info msg="cleaning up pod" action=labelPodCompleted key=remote-tests-runner/ci-lzlhr-957369457/labelPodCompleted
time="2021-07-13T12:07:39.766Z" level=info msg="Queueing Succeeded workflow remote-tests-runner/ci-lzlhr for delete in 5m0s"

[2021-07-13 16:23] alexec commented on #6326
I'm not sure I'm correct about Parameters not being ordered, the underlying code does not seem to care.

[2021-07-13 16:24] mac9416 commented on #6326
Does it recursively evaluate params?

[2021-07-13 16:27] alexec commented on #6326
The code is very complex with much stick plasters on it. Hard to know how it'll behave.

[2021-07-13 16:31] liafizan commented on #5953
@OscardR Does your oidc support custom claims? Most providers do and might be the easiest approach as we are adopting the same path.

@alexec We were sort of done with the change based on your previous inputs and testing out stuff. I believe converting `Claims` type to map as suggested above would then also involve type assertion or reflection at some level and may add some complexity. Please corr

[2021-07-13 16:32] alexec commented on #6326
I think that the template is passed through the templating system multiple times. When if fails to substitute, it just ignores it. Then it may or may not get passed again, resulting in more substitutions.

I'm not sure this is fixable.

[2021-07-13 16:36] mac9416 commented on #6326
This matches what I've experienced setting breakpoints in that code. I'd hit the expression evaluation code multiple times for the same "field" (though it's technically all just one JSON string to the template engine).

While this would be a very nice feature, I'm not sure the lack of it is a bug. I personally had no expectation that the params would be evaluated in order, and neither did Sam in S

[2021-07-13 17:18] sarabala1979 commented on #6301
@simster7 Can you take a look at this issue?

[2021-07-13 17:38] simster7 commented on #6301
@sarabala1979 I'd be happy to

[2021-07-13 23:57] sarabala1979 opened #6335 "StoredTemplate get updated with new workflowTemplate if workflow stop or terminates"
## Summary
workflow submitted from workflow template.  The WorkflowTemplate gets updated after the submitted workflow.
If you try to terminate or stop template StoredTemplate get updated with a new WorkflowTemplate version which is causes some unexpected behavior.

What happened/what you expected to happen?

Before we start, around 2/3 of issues can be fixed by one of the following:

* Have you do

[2021-07-14 00:01] tvalasek commented on #5173
broken argo lint makes troubleshooting argo workflows really really hard for us. It is like looking for needle in haystack. Would it be possible to bump up the priority? Thanks

[2021-07-14 06:28] 7echno commented on #6256
Seems that we are facing same issue with:

argo: 2.8.2+8a151ae.dirty
self-managed k8s: v.1.19.10

It's a big workflow, that started hitting this error in working-controler:
`evel=warning msg="Error updating workflow: Timeout: request did not complete within requested timeout 34s Timeout"`
Workflow is in Running state, pending jobs/containers are Completed but workflow can not be updated by workflo

[2021-07-14 06:51] sarabala1979 commented on #5173
@tvalasek I am trying to understand your use-case and how this issue will be a showstopper.  If you split templates into separate files it will work what you expect like lint and create each resource.  I understand keep everything in one file is kind of convenient and maintenance-free.  But currently, our team has under-resource to work on this kind of issue. But we will try to prioritize but you

[2021-07-14 07:54] jbaez commented on #6334
[code]
Sure, here is the manifest, I've changed URLs and redacted some private info.

[2021-07-14 08:19] msmerc commented on #5173
@sarabala1979 I've found the opposite. If I glue the scripts into a single file in an appropriate order it works ok [workaround], but if you split the files it never works. I image if I were to do it like so:

1. Lint templates
2. Submit templates
3. Lint scripts

It would work - but that complicates our CI!

@tvalasek as an ugly workaround, we rename all our templates to start with `_` and then d

[2021-07-14 09:49] moshewe opened #6338 "Allow specifying Semaphore limits with parameters/numbers rather than just config map references"
# Summary

Allow specifying semaphore value by explicit number/parameter

# Use Cases

1. When using workflow generators, be them obscure scripts or `couler`, it's easier to encode the semaphore limits directly into the workflow definitions.
2. The semaphore value for a parallel operation might be decided in a prior step in the workflow, so outputting it as a parameter and using it as the semaphor

[2021-07-14 09:54] jbaez commented on #6334
I just had the issue again, and found something interesting. When I took the screenshot (09:06:46 GMT) `ci-544g4` was running for 5 minutes already and the logs say at 09:05:19 `Workflow processing has been postponed due to concurrency limit`. (when I downloaded the logs they start at 09:05:19, so can't see what happened 5 minutes before)

<img width="1811" alt="Screenshot 2021-07-14 at 11 06 46"

[2021-07-14 11:55] sarabala1979 commented on #6333
I am thinking this is not workflow related issue. Controller will just create pod with this configuration. To eliminate workflow, You can try creating just pod with above volume and see it that is working. I think this k8s feature

[2021-07-14 13:53] saranyaeu2987 opened #6340 "Deleting a workflow didnt release the lock."
## Summary

Deleting a workflow didnt release the lock.

Hi, I have set synchronization to 1 for a cronworkflow. **I deleted a running workflow of that cron but it didnt release a lock**. Now the workflow of that cron is in pending state

[code]

**yaml file**

[code]
How to manually release a lock without restarting the controller?

[2021-07-14 14:04] jbaez commented on #6334
I forgot to add this before, it might also be related (workflow controller restart)
<img width="1712" alt="Screenshot 2021-07-14 at 11 09 56" src="https://user-images.githubusercontent.com/1777543/125635708-a05f65c1-0ef7-4183-86e7-7b2f194a75c1.png">

[2021-07-14 14:27] sarabala1979 commented on #6340
I will look into this today

[2021-07-14 14:44] alexec commented on #6270
Where is that link?

[2021-07-14 14:50] alexec commented on #6257
“When” conditions are Goevaluate expression, not expression tags. This syntax is not supported.

[2021-07-14 14:53] alexec commented on #6288
This can’t be fixed I’m afraid as we do now control the redirection.

[2021-07-14 14:53] #6288 closed

[2021-07-14 14:55] julianahrens commented on #6257
If they are not supported, why are they working randomly?

[2021-07-14 14:55] alexec commented on #5960
Can you please try v3.1?

[2021-07-14 15:01] RafalSkolasinski commented on #6288
Can there be an archived repo present under the old location `github.com/argoproj/argo` with a notice at the top that new repo is under `github.com/argoproj/argo-workflows`?

[2021-07-14 16:20] alexec commented on #6256
I'm completely unable to run on GKE auto-pilot due to this error:

[code]

[2021-07-14 16:34] simster7 commented on #6301
I'm able to reproduce, I'll work on a fix

[2021-07-14 16:51] simster7 commented on #6301
Possibly related: https://github.com/argoproj/argo-workflows/pull/5455/

[2021-07-14 18:06] ad22 commented on #6301
@simster7 I agree - I ran a WF with retryStrategy added to the templates, but removed exit hooks, and it passes successfully.
I'm also able to trigger hangs on larger workflows without retryStrategy added, but while using exit hooks.

I think its a fair conclusion from the above experiments that the behavior is related to the use of exit hooks and not retryStrategy. I'll update the title according

[2021-07-14 21:05] elocke opened #6343 "Release v3.1.1 using latest containers"
## Summary

It appears that the v3.1.1 manifests in `/manifests` are using the `:latest` containers. I expect them to be `:v3.1.1` like prior releases.

## Diagnostics

What Kubernetes provider are you using? EKS
What version of Argo Workflows are you running? `v3.1.1`
Did this work in a previous version? I.e. is it a regression? Yes

[2021-07-14 21:48] AntoineDao commented on #6284
Late reply sorry. Yes I think I do, I'll aim to have it proposed in a PR by sometime next week 😄

[2021-07-14 22:32] alexec commented on #6256
I've done some local testing and the only constants seem to be:

* Large workflows (many nodse)
* Kubernetes >v1.19

Setting `ALWAYS_OFFLOAD_NODE_STATUS=true` appears to resolve the issue for anyone who's tried it. As this means you need a database, it is not a great solution for everyone. Other users may try `DEFAULT_REQUEUE_TIME=1m`.

I'm marking this as work-around until more details are forthc

[2021-07-14 22:57] markterm commented on #6256
Google Cloud support pointed me to this issue: https://github.com/kubernetes/kubernetes/issues/102749

[2021-07-14 23:04] alexec commented on #6256
It should be pretty easy for anyone to edit the CustomResourceDefinition to add that change. Anyone want to try?

[2021-07-14 23:05] alexec commented on #6256
[code]

[2021-07-15 04:05] tymokvo commented on #6276
@sarabala1979 I have patched our fork of argo with the change that I proposed [here](https://github.com/pollination/argo/pull/1/files) and can confirm that it solves the issue. Should I open a PR or is there more info I can provide?

[2021-07-15 04:47] #6335 closed

[2021-07-15 05:48] sarabala1979 commented on #6330
- [ ] Saravanan Balasubramanian: fix(cli): v3.1 Argo Auth Token (#6344) 3db467e6b
- [ ] Saravanan Balasubramanian: fix(controller): Not updating StoredWorkflowSpec when WFT changed during workflow running (#6342) d7c09778a
- [ ] Alex Collins: ci: only run Snyk once a day on master dbb537a26
- [ ] Alex Collins: chore: deleted wft.yaml aeed93669
- [ ] Yuan Tang: feat(controller): Differentiate CronW

[2021-07-15 07:59] OscardR commented on #5953
Hi @liafizan no, unfortunately our OIDC provides the _roles_ claim with a custom key and it doesn't by default use the _groups_ scope either (it can be enabled but it doesn't cover our use case; we need application-scoped roles). So I am afraid we can only use clients that can be configured with the custom key for _roles_.

We have the same problem with other applications, so it's not specific jus

[2021-07-15 09:49] philosophicus opened #6345 "outputs of a template composed of tasks or steps can be generated when any of the tasks or steps fails"
# Summary

Failed container/script templates' outputs are correctly generated, which is great. But the outputs of a template composed of tasks or steps are missing if any of the tasks or steps fails.

# Use Cases

We are trying to make templates that are composed of several closely related tasks and we want to record the outputs of those templates after execution. When any task or step fails in a

[2021-07-15 10:34] klaucos commented on #6256
I have updated K8S 1.19 -> 1.20 ([Fix doesn't work in 1.19 yet](https://github.com/kubernetes/kubernetes/issues/102749#issuecomment-868892022))
I have been able to successfully test atomic map-type fix!
It seems to work well with [test example](https://github.com/argoproj/argo-workflows/issues/6256#issuecomment-877580782) and Argo workflow successfully finishes with 1000 nodes.
I will have to furt

[2021-07-15 12:09] kzzalews commented on #6343
Manifests were specifying proper Docker images up to version v3.0.8 of Argo Workflows. With version v3.1.0, specific version tags were changed to `latest`. It seems that these changes used to be done manually.

[2021-07-15 13:45] tczhao commented on #6256
confirm working for me as well with the atomic map-type fix

[2021-07-15 14:39] danilorsilva commented on #6292
Same problema with log format:

Example:

[1m[0m
[1m[0m[1m[0m  [1m[34mdisk i/o            [1m[39m 3.600003ms
[1m[0m[1m[0m  [1m[34mparsing HCL         [1m[39m 13.377µs
[1m[0m[1m[0m  [1m[34mevaluating values   [1m[39m 161.665µs
[1m[0m[1m[0m  [1m[34mrunning checks      [1m[39m 578.709µs
[1m[0m[1m[0m  [1m[34mfiles loaded        [1m[39m 3
[1m[0m[1m[0m[1m[32m[1m[1m
No problems detected!
[1m[0m

[2021-07-15 15:34] alexec commented on #5953
Would someone like to send a PR to fix this?

[2021-07-15 15:37] alexec commented on #6256
@klaucos - you are awesome! Kudo to @markterm for finding the fix.

Would someone like to submit the fix?

1. In hack/crds.go#L671: `properties[k] = obj{"type": "object", "x-kubernetes-preserve-unknown-fields": true, "x-kubernetes-map-type": "atomic"}`
2. Run `make codegen`
3. Commit and create PR.

[2021-07-15 15:38] alexec commented on #6256
@klaucos - you are awesome! Kudo to @markterm for finding the fix.

Would someone like to submit the fix?

1. In hack/crds.go#L671: `properties[k] = obj{"type": "object", "x-kubernetes-preserve-unknown-fields": true, "x-kubernetes-map-type": "atomic"}`
2. Run `make codegen`
3. Commit and create PR.

[2021-07-15 15:48] sarabala1979 commented on #6343
@elocke I am working v3.1.2 release today which will overwrite your PR.

[2021-07-15 15:50] kzzalews commented on #6343
@sarabala1979, thanks for info! I'm closing my PR.

[2021-07-15 16:10] liafizan commented on #5953
@alexec we am working on it and the issue is assigned to me.

Should we proceed with making `Claims` ds a Map instead of Struct? Is configmap the right place to then also get the name of claim to be expected ( somewhere along with SSO config ). Please let me know if you think there is a better place for that

[2021-07-15 16:16] samuelBB commented on #6256
@alexec given that this is possibly a workaround (though a much needed one given it may take a while to get to cloud providers), will this be incorporated into Argo releases (backport or future)?

[2021-07-15 16:17] alexec commented on #5953
I think if we make it a map, we can support *any* claim, which is more powerful and would meet all use cases.

[2021-07-15 16:17] alexec commented on #6256
I'd expect we'd back-port the work-around to v3.1.3.

[2021-07-15 16:24] samuelBB commented on #6256
Unless I'm misunderstanding, I assume you mean v3.1.1 (as that is latest)?

[2021-07-15 16:24] liafizan commented on #5953
Ok, we will give it a shot and see how it goes.

[2021-07-15 16:38] alexec commented on #6256
yes. Same same.

[2021-07-15 18:36] bluelion commented on #6256
works for me as well

[2021-07-15 19:09] uxth opened #6349 "`io.k8s.apimachinery.pkg.util.intstr.IntOrString` is defined as string"
## Summary

in this swagger.json file https://raw.githubusercontent.com/argoproj/argo-workflows/master/api/openapi-spec/swagger.json

the io.k8s.apimachinery.pkg.util.intstr.IntOrString is defined as string

which make it unable to accept int

Is this a bug or by design?

## Diagnostics

👀 Yes! We need all of your diagnostics, please make sure you add it all, otherwise we'll go around in circles a

[2021-07-15 23:58] tczhao commented on #6256
I'm happy to submit a PR

[2021-07-16 00:06] alexec commented on #6256
Thank you!

[2021-07-16 06:15] stevenbressey commented on #6246
@alexec Hi !
Just wanted to know if you had any update on this, as we are still stuck with version 3.0.1 for now because of this issue.
If you need any more information or help investigating the issue, please let me know, I will gladly help.

[2021-07-16 06:58] atombender opened #6351 "Liveness probe fails with 500 and "workflow never reconciled""
Version 3.1.1 is failing a lot for us:

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-07-16 08:02] Bobgy commented on #5252
I'm still seeing the same error message from time to time (like 5%) with argo v3.1.1, but I'm not sure if it's the same root cause.

Clarification: I'm using Kubernetes 1.18 with Container-optimized OS with docker nodes. So it's not the same issue as the last two comments.

[2021-07-16 08:53] Bobgy commented on #5252
For what it's worth, I'm observing that metrics-server and gke-metrics-agent are OOMing on my nodes after running a lot of pipelines.
Still investigating

[2021-07-16 09:22] Bobgy commented on #5252
I think despite what the root cause is, argo's call of the command is problematic, because even if there may be a failure in `docker cp`, exit code will be overwritten by the second command `gzip > xxxx` which always succeeds. Therefore, argo is missing root cause error message here.

[code]

[2021-07-16 10:35] kzzalews commented on #6343
@sarabala1979 Tag 3.1.2 still doesn't specify proper Docker image versions inf YAMLs. See: https://github.com/argoproj/argo-workflows/blob/v3.1.2/manifests/install.yaml

[2021-07-16 12:27] Bobgy opened #6352 "Random failures with message "Error: No such container:path: ... This does not look like a tar archive tar""
Downstream KFP issue: https://github.com/kubeflow/pipelines/issues/5943

## Summary

What happened/what you expected to happen?

When I run many workflows in a cluster, some workflows fail at random (5~10%) steps with errors like the following message:

The error can happen at any step randomly.

I'd expect argo can identify root cause of this and return a meaningful error message.

## Diagnostics

[2021-07-16 12:28] Bobgy commented on #6352
Logs for wait container:

time="2021-07-16T08:55:30.538Z" level=info msg="Creating a docker executor"
time="2021-07-16T08:55:30.539Z" level=info msg="Executor initialized" includeScriptOutput=false namespace=kubeflow podName=pipeline-with-resource-spec-lzjrz-1397752094 template="{\"name\":\"training-op\",\"inputs\":{\"parameters\":[{\"name\":\"n\",\"value\":\"11234567\"},{\"name\":\"pipeline-name\

[2021-07-16 12:30] Bobgy commented on #5252
I created a separate issue for my report: https://github.com/argoproj/argo-workflows/issues/6352

[2021-07-16 13:58] atombender opened #6354 "Exit handler pod never finishes, wait container stuck"
## Summary

Workflow hangs on the `onExit` handler even though the pod's main container has successfully exited and terminated. The `wait` container continues to wait and never finishes. Eventually the pod enters the `NotReady` state.

## Diagnostics

What Kubernetes provider are you using? GKE (Kubernetes 1.19.10)

What version of Argo Workflows are you running? 3.1.2, also happens on 3.1.1

What

[2021-07-16 14:11] ChaosInTheCRD opened #6355 "Add Flag to override TLS certificate location"
# Summary

A command flag in [server.go](https://github.com/argoproj/argo-workflows/blob/e566c106bbe9baf8ab3628a80235467bb867b57e/cmd/argo/commands/server.go#L185) that would allow the user to set a custom location in the pod filesystem (e.g. `/tls/tls.crt` / `/tls/tls.key`) that the server looks to for a TLS certificate .

# Use Cases

This would allow users to mount their own certificates (e.g.

[2021-07-16 15:37] signaleleven commented on #4052
I'd love the ability of pushing artifacts to kafka.
Especially because I use argo events to react to messages on kafka topics, and this would allow us to shift all kafka related logic to Argo (events for reading, workflows for writing) and keep our jobs purely business, no infra.

[2021-07-16 15:40] alexec commented on #6246
This is with @sarabala1979 to prioritise.

[2021-07-16 15:55] #6262 closed

[2021-07-16 16:32] alexec commented on #6354
Can you please try with the PNS executor.

[2021-07-16 16:33] alexec commented on #4052
This is now a use case supported by Argo Dataflow.

[2021-07-16 16:33] #4052 closed

[2021-07-16 16:34] #6330 closed

[2021-07-16 16:34] alexec commented on #6343
Please read https://github.com/argoproj/argo-workflows/blob/master/docs/upgrading.md.

[2021-07-16 16:34] #6343 closed

[2021-07-16 16:36] alexec commented on #6349
See #6060. This cannot be fixed I'm afraid.

[2021-07-16 16:36] #6349 closed

[2021-07-16 16:36] #6326 closed

[2021-07-16 16:37] alexec commented on #6351
Interesting... this workflow does not have `status.phase` set, so the health check thinks it has not been reconcilled.

[2021-07-16 16:40] #6256 closed

[2021-07-16 16:43] sarabala1979 commented on #6351
@atombender can you provide the full workflow yaml (sample which we can reproduce) and controller log for that workflow?

[2021-07-16 16:46] atombender commented on #6354
Same behaviour. Log (while it's waiting):

[code]

By the way, I just noticed the earlier log says:

[code]

But the container that should be monitored is not called `main`, it's called `slack-notify`.

[2021-07-16 16:46] #6327 closed

[2021-07-16 16:49] alexec commented on #6351
I've committed a change, and our CI will push engineering builds `argoproj/workflow-controller:dev-6351` and  `argoproj/argoexec:dev-6351` in 1h. Can you please test to see if it fixes your issue?

[2021-07-16 16:49] alexec commented on #6351
@sarabala1979 I jumped on this issue as (a) it will prevent workflows from running and (b) I wrote the code and (c) I could see a clear fix so knew it would be quick.

[2021-07-16 16:50] atombender commented on #6351
Thanks! We haven't seen the issue today, actually, but we've been heavily developing our workflows and things haven't really had a chance to "settle". I will see if I can put this fix into testing soon.

[2021-07-16 16:51] alexec commented on #6351
Thank you. The problem will only occur if you are using semaphores.

[2021-07-16 16:52] atombender commented on #6354
I can confirm that the issue is fixed if I remove the name of the container from the workflow step. So this fails:

[code]

This works:

[code]

[2021-07-16 16:53] alexec commented on #6354
Ahh. Containers MUST be named "main".  Maybe we should have a check to prevent other names.

[2021-07-16 16:53] #6354 closed

[2021-07-16 16:59] atombender commented on #6354
Um. Where is this documented? The field reference has `name` as:

And, sorry, but why is there a name field if you cannot set it?

[2021-07-16 20:30] JLenssen commented on #5914
@alexec I would like to work on this. If it is okay for @DhairyaBahl you can assign the issue to me.

[2021-07-17 00:26] avifried1 commented on #6115
not sure why this was closed, the issue hasn't been solved - it has been circumvented by using k8sapin executor. Using the default Docker executor still has this issue.

[2021-07-17 01:36] ZhengJuCn commented on #6303
@sarabala1979 priority with semaphore may not work, maybe i have many workflows, a,b,c,d,e,f,g.....

in this case, "a" cannot run with others, others can run parallel

maybe i can set "a's" priority 100, others priority 1, but samaphore = ?

[2021-07-17 01:43] apratina opened #6357 "Creator label override is not working"
## Summary

I am trying to override `workflows.argoproj.io/creator` label for my workflows.

I configured my sensor that is triggering the workflow and here is an example:

[code]

When my workflow was submitted, it did not override the label `workflows.argoproj.io/creator` and it uses the default generated label.

Please let me know how can I override the label `workflows.argoproj.io/creator` bec

[2021-07-17 18:14] max-sixty commented on #3201
Hi @sarabala1979 — thanks for doing #5410. Can I ask whether it closes this issue though? Is there a way of setting *container* defaults?

I tried with:

[code]

But this doesn't seem to work. It would need to merge the `container` entries in here with those from the template.

[2021-07-17 18:35] sarabala1979 commented on #3201
This will support  but only thing `container` will add to all `template`  if this container is for all template then this will work

[2021-07-17 21:17] sarabala1979 commented on #6357
@apratina Can you reach out `Argo-event` repo?

[2021-07-17 22:19] max-sixty commented on #3201
Possibly I'm making a mistake and actually this does work — could I check I'm doing it right?

This fails with `   ✖ in "hello-world-" (Workflow): templates.whalesay.container.image may not be empty`

[code]

And commenting out `container`, or all the fields of `container` fails with `   ✖ in "hello-world-" (Workflow): template 'whalesay' type is unknown`

[code]

---

The feature request was to b

[2021-07-18 04:01] apratina commented on #6357
Opened here https://github.com/argoproj/argo-events/issues/1284

[2021-07-18 09:52] hellobiek commented on #6319
I have get the right info from [o](https://argoproj.github.io/argo-workflows/access-token/ ​), so drop this problem

[2021-07-18 18:24] deepaksinghvi opened #6362 "Not able to start argo ui (argo-workflows) with minikube"
## Summary
Not able to start argo ui (argo-workflows) with minikube
Running the following commands:
[code]
Expected that your should be running locally but after starting it getting errors as follows
 Request has been terminated Possible causes: the network is offline, Origin is not allowed by Access-Control-Allow-Origin, the page is being unloaded, etc.

What happened/what you expected to happen?

[2021-07-18 20:38] domderen opened #6363 "Link to join Slack channel is not working"
## Summary

Hey, I tried joining Argo Slack channel, but the link that is available on your website and in this Github project is not working. Is the Slack channel still available? The link I'm using: https://argoproj.github.io/community/join-slack

<img width="1680" alt="Zrzut ekranu 2021-07-18 o 22 37 07" src="https://user-images.githubusercontent.com/2360738/126081444-11031e53-8be5-4a10-80c2-2c

[2021-07-18 23:46] tczhao commented on #6363
I think that page definitely has some issues.
Also argo is now on cncf slack,
you can join by https://slack.cncf.io/ then #argo-workflows channel

[2021-07-19 04:03] sarabala1979 commented on #6362
Can you check argo server pod log?

[2021-07-19 04:04] #6357 closed

[2021-07-19 05:07] sarabala1979 commented on #6363
@tczhao Do you like to submit the PR for this?

[2021-07-19 05:20] tczhao commented on #6363
I think it's related to this PR https://github.com/argoproj/argo-site/pull/58
Let's ask the original author first?

Hi @todaywasawesome, do you have any plan to add the slack page in the near future?

[2021-07-19 12:14] atombender commented on #6351
We haven't tried the build yes, as I need some support from our SRE staff. In the meantime, we got a panic relating to one of these workflows that don't have a status. Does [this log](https://gist.github.com/atombender/b945bc323bc827ce2d6e437901e3ef0f) help?

[2021-07-19 13:01] domderen commented on #6363
Awesome, thanks @tczhao !

[2021-07-19 13:31] Ben-Epstein opened #6364 "CLI install guide for Darwin/MacOS incorrect"
In the releases, the gz url is https://github.com/argoproj/argo/releases/download/v3.1.2/argo-darwin-amd64.gz
See https://github.com/argoproj/argo-workflows/releases/tag/v3.1.2

It needs to be https://github.com/argoproj/argo-workflows/releases/download/v3.1.2/argo-darwin-amd64.gz

[2021-07-19 14:02] tczhao commented on #6364
Good finding.

I think it's because https://github.com/argoproj/argo-workflows/commit/0a16a5210f44dcbc81410f69bc3c79d3a933b540 didn't get picked when doing the 3.1.2 release

[2021-07-19 14:49] sarabala1979 commented on #6364
yes, I updated the release note

[2021-07-19 14:49] #6364 closed

[2021-07-19 14:51] atombender commented on #6351
New log from the `dev-6351` build: https://gist.github.com/atombender/03520de681ca7a09c9535065469ddc22

[2021-07-19 14:51] sarabala1979 commented on #6319
@hellobiek Still are you having this issue?

[2021-07-19 15:55] alexec commented on #6351
I've fixed the panic. Can you please test again?

[2021-07-19 15:57] #6284 closed

[2021-07-19 17:07] sarabala1979 commented on #6334
Could be related https://github.com/argoproj/argo-workflows/issues/6351#issuecomment-882662376

[2021-07-19 17:48] sarabala1979 commented on #6340
@saranyaeu2987 I am not able to reproduce with latest build

[code]
[code]

[2021-07-19 19:57] danilorsilva opened #6367 "Problem using PNS executor"
Hello all,

     I have Argo workflow installed on my k8s GKE cluster.

     Argo Workflow version: 3.1.1
     K8s Version: 1.19.9

     I try to execute a workflow and sometimes it works fine and sometimes i have a problem with the message below:

     Error (exit code 1): cannot enter chroot for container named "main": no PID known - maybe short running container

     I saw many people reportin

[2021-07-19 20:04] #6367 closed

[2021-07-20 00:06] alexmt commented on #6049
We've got the same error in Argo CD: https://github.com/argoproj/argo-cd/issues/6741

Fix is available in https://github.com/argoproj/pkg/pull/43 . Workflow need to ` go get github.com/argoproj/pkg` to pull in the fix.

[2021-07-20 04:57] tczhao commented on #6363
seems fixed https://github.com/argoproj/argo-site/pull/62
can close the issue now

[2021-07-20 05:24] book987 commented on #6306
Closed, #6307

[2021-07-20 05:47] tszngai commented on #5484
Hi still having this issue. Any updates?

[2021-07-20 06:04] hellobiek commented on #6319
no thanks! close it

[2021-07-20 06:05] #6319 closed

[2021-07-20 06:09] sarabala1979 commented on #5484
Can you try it with latest v3.1.2?

[2021-07-20 07:03] tczhao commented on #5484
still doesn't work,
let me make a PR for this

[2021-07-20 09:10] domderen commented on #6363
Yeah looks like it's working now, thanks!

[2021-07-20 09:10] #6363 closed

[2021-07-20 09:50] gpanagiotidis opened #6373 "How to do basic authentication for the server UI?"
I am looking for some authentication solution for ArgoWorkflows. I noticed that there are different options for ArgoCD, but for ArgoWorkflows this doesn't look to be the case.

It is possible to do a basic username/password login in ArgoWorkflows?

[2021-07-20 12:45] lloyd-dotmodus commented on #4510
@kennytrytek-wf @yxue-kabam I've come across this exact same issue trying to list cron workflows. I'm using the latest 5.0.0 version of the API (https://pypi.org/project/argo-workflows/)

Is there any work being done to fix this issue? Or at leat the ability to set client_side_validation to False as alluded to above?

Regards

[2021-07-20 13:18] Bobgy opened #6375 "emissary - tasks with orphan background processes hang forever"
## Summary
Downstream KFP issue found in https://github.com/kubeflow/pipelines/pull/5926

What happened/what you expected to happen?

I reproduced the problem using this minimal workflow:

[code]

With emissary executor, I got logs:
[code]
And if we change to sleep a very long time, the step hangs forever.

But with docker executor, I got logs:
[code]
So the container is killed as soon as the main

[2021-07-20 14:29] atombender commented on #6351
Deployed it and testing. I'm not seeing any status-less workflow, but it is apparently buggy in a different way: My workflow is stuck progressing on a daemon step that has successfully started.

* [Workflow controller log](https://gist.github.com/atombender/a6235070181a77a091070afa8f548c9b)
* [Output of `kubectl describe pod´ for stuck pod](https://gist.github.com/atombender/c704ff3e82f6c3c32baea7

[2021-07-20 14:32] atombender commented on #6351
I see this with multiple workflows. The initial pods start successfully, but no new steps are scheduled.

[2021-07-20 15:30] geekbass commented on #6194
Thanks @PacoDu 👍! Setting the controller and the server to version `v3.1.1` appears to have resolved the error for me as well.

[2021-07-20 15:35] alexec commented on #6351
Can you try using `:latest` too?

[2021-07-20 15:41] atombender commented on #6351
Same behaviour. In case it's relevant, the `wait` container just says:

[code]

[2021-07-20 15:45] alexec commented on #6351
Looking at the `kubectl describe` output, your main container is still running, which is not terminated.

Can you double-check that this runs on v3.1.

[2021-07-20 16:00] atombender commented on #6351
It's a `daemon: true` step that's part of a DAG. Reverting to 3.1.2 works.

[2021-07-20 16:05] alexec commented on #6351
@atombender can you please raise a separate bug?

[2021-07-20 16:12] atombender commented on #6351
Sure.

[2021-07-20 16:13] atombender commented on #6354
I'd still like some clarity on this.

[2021-07-20 16:17] alexec commented on #6375
I'm not sure what the correct behaviour here is, but I think the container should be killed, and therefore every process within the container.

[2021-07-20 16:21] atombender opened #6379 "v3.2.4 Daemon step in running state, but dependents don't start"
On `latest`, my workflow consistently gets stuck while progressing on a daemon step that has successfully started. Works fine on 3.1.2.

* [Workflow controller log](https://gist.github.com/atombender/a6235070181a77a091070afa8f548c9b)
* [Output of `kubectl describe pod` for stuck pod](https://gist.github.com/atombender/c704ff3e82f6c3c32baea7dddbdded2f)
* [Workflow YAML](https://gist.github.com/atom

[2021-07-20 16:22] alexec commented on #6375
[code]

This code is new on master.

[2021-07-20 16:22] alexec commented on #6375
@Bobgy can you test on `:latest` and see if the issue persists?

[2021-07-20 16:24] alexec commented on #6375
Great bug report by the way. Should be easy to repo.

[2021-07-20 16:27] atombender commented on #6351
https://github.com/argoproj/argo-workflows/issues/6379

[2021-07-20 16:30] alexec commented on #6379
Related? #6237

[2021-07-20 16:31] alexec commented on #6351
So we can close this issue, can you test with a workflow that does not use daemon steps?

[2021-07-20 16:35] atombender commented on #6351
We haven't confirmed whether your fix solves this issue. Unfortunately, the problem doesn't always show up, and I have no idea what provokes it, but I will try to reproduce it. We don't have any workflows that don't use daemon steps.

[2021-07-20 17:35] basanthjenuhb opened #6381 "Enable Argo archive per namespace"
# Summary
- Currently, argo archive can be enabled for a Kubernetes cluster
- And the archiving works by configuring an instance of Postgres/Mysql for the whole cluster.
- This proposal extends that capability to configure an RDS instance per namespace rather than a cluster.

# Use Cases
- Typically, in many organisations, a K8s cluster is maintained by multiple teams
- Hence, sharing an RDS insta

[2021-07-20 17:45] basanthjenuhb commented on #5937
It used to work before,
Somehow it doesn't work in V3

[2021-07-20 17:51] basanthjenuhb opened #6382 "Add UI capabilities to control specific nodes in the workflow"
# Summary

- This is regarding adding more capability in the UI regarding step workflows and dag workflows
- May a times, we have requirement to override and instance of a workflow
- This overriding could be of the form
    - allow selecting parameters manually at different nodes
    - Being able to hold/pause a specific node in the workflow
    - Release a node at will
    - Rerun a node with dif

[2021-07-20 18:26] atombender opened #6384 "UI: Selection in the log viewer is immediately unselected"
When trying to select text in the log viewer for a running pod, the selection immediately disappears. [Here](https://user-images.githubusercontent.com/50314/126376000-16590f17-a2e4-49b7-a362-ce999048078b.mp4) is a video.

It also appears that the log viewer isn't a real text box with the full content, as it's not possible to workaround this problem by doing a "select all" of the entire web page to

[2021-07-20 20:18] tszngai commented on #5484
FWIW, it seems this issue only occurs if the workflow is created via the UI. If I put `{{workflow.duration}}` in a wf template and then launch a workflow with the template, it would work fine

[2021-07-20 21:00] phelinor commented on #3961
@alexec I can see that v3.1.2 is already available but this issue is still Open and I can still see the Patch verb in the installation  file https://github.com/argoproj/argo-workflows/blob/master/manifests/install.yaml

Could please confirm that we are able to run workflows without `pod patch`?

[2021-07-20 21:30] #5377 closed

[2021-07-21 03:20] Bobgy commented on #6375
From my observation, I think it doesn't solve this problem, because after I added some debugging logs, I found out emissary executor is stuck on the `command.Wait()` step.

code change:
[code]

Full logs:
[code]

[2021-07-21 03:50] alexec commented on #6375
That is vanilla Go, so I'm no sure what's going wrong. It is waiting for the sub-process to exist. Can you `kubectl exec` into the container and run `ps`?

[2021-07-21 06:46] Bobgy commented on #6375
Sure, I got:
[code]

I think the argoexec process, the `sh -c` process and the `sleep 10000` process are still alive.

[2021-07-21 08:09] ammggm commented on #5508
Quick question what did you change on your DB side to fix this?

[2021-07-21 09:05] deepaksinghvi commented on #6362
![image](https://user-images.githubusercontent.com/1555248/126462515-9b7152dd-4119-4255-8138-7568f36f8cd3.png)

[2021-07-21 09:05] deepaksinghvi commented on #6362
Argo Server Log

[code]

[2021-07-21 09:13] Stevenyu1982 opened #6390 "workflow controller conflict if kubeflow installed"
## Summary

I am testing both argo workflow and kubeflow now, so i have both installed in the same k8s cluster. when I try to submit job into the argo workflow which in the namespace argo,  the argo-server seems will talk to the workflow controller in kubeflow.

this is very interesting, i am not sure how to override it.  here is what  looks like

in the namespace argo
k get pod

[2021-07-21 10:17] Stevenyu1982 commented on #6390
I have found the issue,
this is because the workflow CRD , both argo and kubeflow will install the CRD, however when kubeflow install the CRD, it will add below labels.  so when apply the workflow jobs it will talk to workflow-controller in kubeflow namespace due this label.

  labels:
    application-crd-id: kubeflow-pipelines

[2021-07-21 10:17] #6390 closed

[2021-07-21 10:37] AntoineDao opened #6391 "Emissary executor does not handle optional output artifacts"
## Summary

What happened/what you expected to happen?

We use optional output artifacts in our workflows and have recently switched from `docker` to the `emissary` and noticed that optional output artifacts do not work using the `emissary` executor.

This bug is reproducible by running this workflow using `docker` or `emissary` executors:

[code]

I am pretty sure I have found the offending lines

[2021-07-21 11:12] Bobgy commented on #6375
I tried simple examples with native go, but cannot reproduce this behavior.
[code]

I got:
[code]

[2021-07-21 15:26] dpeer6 commented on #6206
I updated the PR using the init func.

[2021-07-21 15:39] lacarvalho91 opened #6396 "Continue on specific exit codes"
# Summary

Support configuring specific exit codes with `continueOn`.

# Use Cases

I have a container that can return a custom exit code. I would only like the workflow to continue if the exit code matches that, I don't want it to continue for any failure.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-07-21 15:48] alexec commented on #6375
You're using `bash` in your example, but the other examples use `sh`. I just fixed a similar issue is Argo Dataflow by using `dumb-init` to wrap processing when using `sh`.

https://github.com/argoproj-labs/argo-dataflow/commit/9bc52a638d0653e366c34eafdd132e6e3a423ebe

[2021-07-21 15:51] alexec commented on #6375
The behaviour is different for `sh` and `bash`. If you use `sh` `wait up` is not printed.

[2021-07-21 16:07] simster7 commented on #6301
@ad22 Thanks for the info and sorry for the delay... I'll get a chance to look at this soon

[2021-07-21 16:16] alexec opened #6397 "=== FAIL: SignalsSuite/TestSidecars"
This test is sporadically failing. I think it is a real bug.

[2021-07-21 16:49] lloyd-dotmodus opened #6399 "Invalid value for `active`, must not be `None` when trying to list cron workflows"
## Summary

What happened/what you expected to happen?
- When listing Cron Workflows through the latest Argo API (https://pypi.org/project/argo-workflows/) the following error occurs: Invalid value for `active`, must not be `None`

I seems to be related to this issue logged previously: https://github.com/argoproj/argo-workflows/issues/4510
That seemed to have been closed because it was stale thoug

[2021-07-21 16:54] lloyd-dotmodus commented on #6399
Also I'm using the same API calls for workflows and worflow_templates respectively and they work fine just above this code:

i.e
`workflows = workflow_api.list_workflows('argo')
``workflow_templates = workflow_template_api.list_workflow_templates('argo')`

[2021-07-21 17:54] snoe925 commented on #6110
I also have this same problem on v3.0.8.  Once it enters the run one at a time mode, the controller logs and argo watch are in disagreement on the number of free locks.  The argo watch says 0/16 but the controller logs "15 free of 16".

[2021-07-21 17:57] #6049 closed

[2021-07-22 03:03] Bobgy opened #6402 "emissary - sidecars which ignore TERM signal hangs forever"
## Summary

What happened/what you expected to happen?

I ran this workflow:
[code]
(translated from KFP sample: https://github.com/kubeflow/pipelines/blob/master/samples/core/sidecar/sidecar.py)

It is stuck forever waiting for http-echo sidecar to exit.

## Diagnostics

👀 Yes! We need all of your diagnostics, please make sure you add it all, otherwise we'll go around in circles asking you for it

[2021-07-22 03:06] Bobgy commented on #6402
With some debugging, I confirmed that the hashicorp/http-echo container is problematic, it doesn't respond to terminate signal. However, it can still be killed with KILL signal.

This can be verified by:
[code]

## Expected behavior

emissary executor should probably learn what kubernetes does, use TERM signal first, wait for a grace period and then send KILL signal.

[2021-07-22 03:08] michael132 commented on #6204
We are seeing this behavior too.

When you submit a `workflowtemplate` with empty parameters, the UI actually sets the value `undefined` to the parameters like OP said.

Even though workflow parameters supports default value in the backend, it's useless in this situation since it has the value `undefined`

[2021-07-22 05:14] sarabala1979 commented on #6246
@stevenbressey I tried with the latest build. I can see the volumes are mounting on init and sidecar.  can you provide you pod yaml? Can you try with v3.1.2?
Here step I followed
create clusterworkflow template

[code]

pod yaml
[code]

[2021-07-22 07:06] Bobgy commented on #6375
That's a good catch for discovering I used different shells!
but I tried again comparing both sh and bash, both of them print `wake up` at the end, when running the go code on both linux and mac. Did I miss anything?

+1 on using dumb-init, that sounds like a robust solution.

Another simple workaround without adding a dependency is adding a trap for the shell script like https://github.com/kubefl

[2021-07-22 07:09] Bobgy commented on #6375
I'm not sure how many users will actually hit this, so I'd like to wait a bit more feedback before continuing to work on this.

[2021-07-22 07:23] Bobgy commented on #6402
Hmm, after reading code, I think argo is already doing what I expected:
https://github.com/argoproj/argo-workflows/blob/4fd38facbfb66b06ab0205b04f6e1f1e9943eb6a/workflow/executor/executor.go#L103-L104

Could this be sth wrong with emissary executor?

[2021-07-22 10:03] Bobgy commented on #6352
FYI, because Kubeflow Pipelines want to use emissary executor so much. I won't further invest in docker executor now.
Feel free to close or leave it here to see if others hit the same problems.

[2021-07-22 13:35] stevenbressey commented on #6246
Hi @sarabala1979 , thank you for your answer.
I have tried with v3.1.2, but got the same error.
My cluster workflow template is actually a bit more complicated as it contains multiple templates and sub steps. I'd be happy to share it with you on Slack if you have time.
Also, have you tried with a volumeClaimTemplates configured at the workflow level ? I will run some more tests to check if the iss

[2021-07-22 14:17] sylock opened #6404 "argo-server asks for authentication despite the fact that it is in server mode"
## Summary

I upgraded argo-workflows from 3.0.1 to 3.1.2 on my local setup. The upgrade seems fine the the web interface request a token despite the fact that I'm in "server" mode.

Here are the logs of the argo-server pod
[code]

## Diagnostics

👀 Yes! We need all of your diagnostics, please make sure you add it all, otherwise we'll go around in circles asking you for it:

What Kubernetes provid

[2021-07-22 14:53] lloyd-dotmodus commented on #4510
I've added a new issue here: https://github.com/argoproj/argo-workflows/issues/6399

[2021-07-22 15:19] sarabala1979 commented on #6257
@alexec To evaluate DAG dependency, code is calling the template.replace for entire task definition. But why it is failing randomly.  I am able to reproduce locally by it is not consistent.

https://github.com/argoproj/argo-workflows/blob/453539690e01827e97fd4921aaa425b2c864a3b1/workflow/controller/dag.go#L533-L562

[2021-07-22 15:36] sarabala1979 commented on #6246
@stevenbressey  problem could be In your `template` definition, the main container has named as a `dockerfile`. Argo container is looking name as `main`. Please remove the name field in your main container or name to `main`

[2021-07-22 15:40] stevenbressey commented on #6246
Issue fixed after removing container name in the template.
Thank you @sarabala1979

[2021-07-22 15:40] #6246 closed

[2021-07-22 15:41] sarabala1979 commented on #6340
@saranyaeu2987 are you still facing the issue?

[2021-07-22 16:01] sarabala1979 commented on #6340
User is using 2.11.8. they are in the process of upgrading to 3.1.x and try it.

[2021-07-22 16:08] #6351 closed

[2021-07-22 16:29] sarabala1979 commented on #6314
@alexec I don't think we can fix this. fasttemplate will consider all left and right is a string. But after changed govaluate, it is typed strict evaluator. User has to wrap the ' if the value start with number or date.

[2021-07-22 16:31] alexec commented on #6257
So this is DAG only issue?

[2021-07-22 16:36] alexec opened #6405 "invalid container names (i.e. not "main") are allowed and causes bugs"
We should not allow invalid container names. It is confusing for users and costs time to investigate.

I think we can add a check here:

https://github.com/argoproj/argo-workflows/blob/092b4271b9b57ce9dbff0d988b04ddbf9742425c/workflow/validate/validate.go#L372

@stevenbressey would you be interested in helping fix this as you were impacted by this recently?

[2021-07-22 16:46] sarabala1979 commented on #6257
yes

[2021-07-22 16:48] sarabala1979 commented on #6257
I kind of find the place where it happening. I am trying to find the callflows for that. There is two call flow that will hit the when condition. one will with `expression` and `when` which is working. another one is only `when`

[2021-07-22 16:50] alexec commented on #6314
I've documented this is the upgrading guide.

[2021-07-22 17:24] stevenbressey commented on #6405
@alexec with pleasure !
Just give me the requirements and I can start working on it next week.

[2021-07-22 17:51] alexec commented on #6405
I think basically if you validate a workflow, and the container is not named "main", there should be an error.

[2021-07-22 18:44] sbjetty opened #6407 "Workflows not getting terminated automatically"
## Summary

I have argo workflow setup with multiple steps. In one of the steps pods are stuck in running state for more than a day. When I checked the pod info using` kubectl describe pod ` it shows pod status as terminated with reason `Message:  error dialing backend: dial tcp 127.0.0.40:10260: connect: connection refused`. Even If I force terminate using the "terminate" button in UI, it does no

[2021-07-22 18:51] #6397 closed

[2021-07-22 18:52] alexec commented on #6404
[code]

Double-check your manifests.

[2021-07-22 21:47] domderen commented on #5642
Hey, I'm running into the same issue, is there any workaround to figure out gitlab groups?

[2021-07-22 22:58] alexec commented on #6405
This is actually a regression.

[2021-07-22 22:59] alexec commented on #6405
feat(controller): Container set template. Closes #2551 (#5099)

[2021-07-23 03:11] Bobgy commented on #1282
May I confirm whether above statement is up to date or the documentation?
https://argoproj.github.io/argo-workflows/sidecar-injection/

[2021-07-23 06:15] sarabala1979 commented on #6257
@julianahrens I have fixed  random failure. Can you try with dev build on your environment

sarabala1979/workflow-controller:6257

[2021-07-23 06:30] mruoss commented on #5642
Hi @domderen
We have an argoCD DEX server that does SSO over Gitlab. For argo-workflows we ended up configuring SSO over that dex server instead of going directly to Gitlab. So the chain now is argo-workflows => argoCD DEX => Gitlab.

[2021-07-23 06:46] shuheiktgw commented on #5506
Hi, may I work on this issue if no one does right now?

[2021-07-23 11:12] philosophicus opened #6415 "wait container won't exit"
## Summary

I'm using argo v3.0.7 and came across a rare case today.

![Screen Shot 2021-07-23 at 6 02 13 PM](https://user-images.githubusercontent.com/9477891/126767051-f2dacaec-9c4e-4d02-b3e1-2da5ce31d183.png)
(creation times of all the containers and pod of a task, output of `docker ps`)

A wait container won't exit because it was created too late, according to https://github.com/argoproj/argo-

[2021-07-23 12:25] philosophicus commented on #6415
https://github.com/argoproj/argo-workflows/issues/6345, another issue from me, which is not related to this one. Many thanks to anyone who checks that out.

[2021-07-23 12:37] philosophicus opened #6416 "container logs always get truncated"
## Summary

I'd like to know when logs will be truncated. The logs are definitely not too large in size. It seems that the truncation always takes place in specific lines. I'm wondering whether it's because there are some invisible characters which cause the truncation.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-07-23 15:32] sarabala1979 commented on #6345
you can configure `continueOn` in your step/task

[2021-07-23 15:41] sarabala1979 commented on #6415
@philosophicus can you share the `wait` container log?

[2021-07-23 15:47] sarabala1979 commented on #6407
@sbjetty share the workflow and pod yaml file.
Can you try on v3.1.2?

[2021-07-23 15:57] sarabala1979 commented on #6334
@jbaez can you try with latest build?

[2021-07-23 16:20] #6405 closed

[2021-07-23 16:27] alexec opened #6417 "Use PNS with`emissary` executor to kill more kinds of injected sidecar"
We could get the benefits of both by adding some of the features of PNS to emissary.

Specifically, PNS can kill injected sidecars easily, just using kill. If emissary used PNS, then we could probably fix that problem effectively.

[2021-07-23 17:35] philosophicus commented on #6415
@sarabala1979 Thanks for you reply. Here is the `wait` container log.
<img width="1316" alt="Screen Shot 2021-07-24 at 1 32 14 AM" src="https://user-images.githubusercontent.com/9477891/126819878-782d65da-ec6f-4ef0-af5d-6861c3e28fb3.png">

[2021-07-23 17:56] domderen commented on #5642
Hey @mruoss,

Thanks for your comment! I was hoping to avoid installing ArgoCD at the moment, as I don't have a need for it for the time being, but I guess it might be easier solution for now. Or I can just set up a DEX server. Anyways, thanks for the suggestion.

[2021-07-23 18:38] philosophicus commented on #6345
@sarabala1979 Let's take the following yaml for example

[code]

Do you mean I should configure `continueOn` in the `do-whalesay-failure` step in the `whalesay` template ? I took your advice and tried that. The output parameters of template `whalesay` are correctly generated now. However, the final status of  step `generate-parameter` is not `Failed` any more. It's `Succeeded` instead. That's actu

[2021-07-23 18:42] philosophicus commented on #6416
@sarabala1979 Hi, any comments on this issue?

[2021-07-23 22:39] #6226 closed

[2021-07-24 10:51] mruoss commented on #5642
In my opinion this ticket was closed prematurely (what do you think, @alexec?) But yeah, maybe you can get it working with a DEX server. For, us argoCD was already in place.

[2021-07-24 17:54] sarabala1979 commented on #6110
@2qif49lt @snoe925 I have fixed the issue and created a dev build for your testing `sarabala1979/workflow-controller:6110`.
Can you try and update me on whether the issue is fixed on your scenario.

[2021-07-24 20:52] max-sixty opened #6419 "Allow setting defaults for `container` in workflows"
# Summary

This is a follow-up to https://github.com/argoproj/argo-workflows/issues/3201, which was generously progressed in https://github.com/argoproj/argo-workflows/pull/5410, allowing to set defaults for `template`. This advances that to set defaults for a map _within_ `template` like `container`

# Use Cases

For example:

[code]

...while there's only one template in that spec, often we have

[2021-07-24 20:54] max-sixty commented on #3201
I renamed this task and opened #6419 for the `container` part. Thanks!

[2021-07-25 09:43] withnale opened #6421 "Allow shared synchronization across namespaces"
# Summary

It would be good to be able to specify a namespace to the synchronization fields to allow the synchronization limits within the configmap to be shared across namespaces. We'd like to segregate workflows across multiple namespaces but work from the same limits. I'm aware of the global limit on argo-workflow itself but we are also going to have different types of jobs, so whilst that migh

[2021-07-25 16:28] iatzmon commented on #6110
@sarabala1979 Hi, I've been experiencing the same issue and tried testing your fix on v3.1.2 but I'm getting an error whenever a container task is being executed:
`Error (exit code 2): open /argo/podmetadata/annotations: no such file or directory`

[2021-07-25 16:39] iatzmon commented on #6110
@sarabala1979 nvm, settings my argoexec tag to latest instead of v3.1.2 fixed the issue, so far the fix seems to be working. I will update if I encounter any issues

[2021-07-25 19:50] changhc commented on #2871
Hi @alexec, do you mean that it's not recommended to add descriptions to steps? I'm considering working on this issue and have done some basic explorations, but if you don't think we should implement this, maybe we can close this issue.

[2021-07-26 03:07] Radolumbo commented on #6082
For anyone looking here, the workaround we've gone with for now is applying a label `workflow-handle` to our workflows and referencing that as the tag on the metrics.

[2021-07-26 05:46] sarabala1979 commented on #6082
@Radolumbo would you like to contribute? We will pick enhancement based on no of `thumbs up`

[2021-07-26 10:11] BohdanKalytka opened #6423 "Allow to pass imagePullSecret for a argoexec image"
# Summary

There is a security requirement to pull all images from private repositories. We have all the required images already mirrored in our private repo, but after changing the image repo and adding imapePullSecret into deployment spec I still see that `argoexec` image cannot be pulled.  Everything else seems to be working fine.
I looked through docs and workflow-controller options but didn't

[2021-07-26 10:49] lacarvalho91 opened #6424 "Workflow container limits not applied"
## Summary

What happened/what you expected to happen?

Our namespace has a `ResourceQuota` policy configured, meaning all containers must explicitly declare resource requests and limits. However these do not seem to get applied when added to a Workflow. This was working fine on version 2.12.9 and only seems to be an issue when upgrading to 3.x.

When removing the `ResourceQuota` the Workflow ran

[2021-07-26 11:51] lacarvalho91 opened #6425 "Host path volumes are now needed"
## Summary

What happened/what you expected to happen?

Since upgrading from 2.12.9 to 3.x I am unable to submit any workflows. This is because we have pod security policies in place that forbid the use of host path volumes, these policies were in place when using 2.12.9 as well so it would seem in 3.x something has been introduced that requires the use of host path volumes, but I was unable to fi

[2021-07-26 12:03] lacarvalho91 commented on #6425
I was able to describe a pod from a workflow submitted after removing those policies and I can see this:

[code]

I'm not using the docker executor though, is this expected?

[2021-07-26 12:05] lacarvalho91 commented on #6425
hmm, `ARGO_CONTAINER_RUNTIME_EXECUTOR:  ` is blank, even though I have it configured to use K8SAPI in the config map. This would make it default to the docker executor I assume?

[2021-07-26 12:08] lacarvalho91 commented on #6425
maybe the config map structure has changed?

[2021-07-26 13:09] lacarvalho91 commented on #6425
The config map I am using:

[code]

[2021-07-26 13:27] lacarvalho91 commented on #6425
Looks like the above config map was not being applied by our CD system, I applied it manually and this seems to be resolved now.

However, it does seem like the config map structure has changed. The old one I was using (and was working with 2.12.9) was:
[code]

This structure now appears to have changed to the one in my previous comment.

[2021-07-26 13:28] #6425 closed

[2021-07-26 14:17] #5332 closed

[2021-07-26 15:17] jceb commented on #6362
I received the same error. Changing to https -> https://localhost:2746/ solved the problem for me.

[2021-07-26 15:36] sarabala1979 commented on #6424
@lacarvalho91 you have `resourceRequest` in your workflow that is not get applied on pod creation. Am I understanding correctly?
[code]

[2021-07-26 15:36] sarabala1979 commented on #6424
@lacarvalho91 can you provide the POD spec on 2.12.x and v3.x?

[2021-07-26 15:39] sarabala1979 commented on #6424
@lacarvalho91 can you remove the `name: main` in container and try it out?

[2021-07-26 15:41] sarabala1979 commented on #6416
@philosophicus are you seeing the log truncation in UI or CLI?

[2021-07-26 15:42] sarabala1979 commented on #6415
@philosophicus Will your main container takes more than 15s to start?

[2021-07-26 15:44] alexec commented on #6415
@sarabala1979 I think I need to take a deep dive into docker executor. I will own this.

[2021-07-26 15:49] alexec commented on #3961
With the introduction of TaskSet we now have a way to replace `pod patch` with `taskset patch`.

[2021-07-26 16:24] dhenneke opened #6426 "Provide a timeout setting that can cancel a workflow that is queued but not yet started"
# Summary

We want to set a timeout that automatically cancels workflows that have been stuck in a queued state. This can happen when a [synchronization](https://argoproj.github.io/argo-workflows/synchronization/) is configured or the global job limit has been exceeded.

# Use Cases

We use Argo Workflows as a task engine for a user-facing process. We set `activeDeadlineSeconds` to stop jobs that

[2021-07-26 16:42] alexec commented on #6402
Some ideas:

* hashicorp/http-echo does not run as PID 1 and so killing PID 1 does not work.
* This is an example of dumb-init - i.e. hashicorp/http-echo does not correctly respond to `kill -9 1` because in uses shell.

[2021-07-26 18:06] liafizan commented on #5953
Hi there, we do have the fix ready for this and we have been testing it out in our environments. However, we do have to follow up on some approvals before we can officially contribute it here. Hoping to get it done this week.

[2021-07-26 19:11] tscheepers commented on #6051
Please reopen, we have the same issue. Completed pods accumulate under heavy load. We are working with a few workflows each has many pods (10k) completing relatively quickly (mere seconds).

I've tried:
- Increasing the `qps`.
- Increasing the number of `pod_cleanup_workers`.

Both do not solve the issues.

[2021-07-26 19:21] #6314 closed

[2021-07-27 04:06] philosophicus commented on #6416
@sarabala1979 Both in UI and when I use `kubectl logs` to examine the container logs

[2021-07-27 09:55] jbaez commented on #6334
@sarabala1979 I just tested the latest release v3.1.2 and seems to be working fine. Thanks!
I'll close the issue.

[2021-07-27 09:55] #6334 closed

[2021-07-27 11:23] Bobgy commented on #5434
I verified emissary executor on GKE autopilot.
Works like a charm! : )

[2021-07-27 11:36] Bobgy commented on #6417
I like this, but note that this will mean emissary will not be able to run on GKE autopilot, because SYS_PTRACE is the permission not allowed, so probably this has to be an option too.

[2021-07-27 13:24] mahjonp commented on #6354
I meet the same issue, in the previous, I use v2.12.4 and everything is ok, but after upgrading to 3.1.2, the container job which has another name other than `main` don't work and the wait container runs forever

[2021-07-27 14:46] sylock commented on #6404
Yes, mistake from my side. Thanks.

[2021-07-27 14:46] #6404 closed

[2021-07-27 14:52] sylock opened #6431 "Trying to do introspection raise an internal error"
## Summary

For a specific workflow, I would like to retrieve the current workflow object, then parse it with python for triggering some action. Below you can find the most simple and basic workflow to reproduce the issue.

The message from argo-workflow engine is:
[code]
So it seems that it tries to parse/interpret the value of the variable output and it shouldn't.

## Diagnostics
What Kubernetes

[2021-07-27 16:20] sarabala1979 commented on #6431
@sylock Workflow JSON is causing the JSON parsing when it substitutes in the source.  I would recommend storing the workflow JSON as an artifact and pass it across the steps.  code has to handle JSON format in the source. we will investigate and fix it.

[code]

[2021-07-27 16:37] alexec commented on #6354
The workaround for containers not named `main` is to change the name to `main`. There is a fix on `master` for this.

@sarabala1979 what's the plan for v3.1.3 please?

[2021-07-27 16:38] alexec commented on #6354
My comment here was wrong:

In v3.0 we fixed wrong container names, and this was broken in v3.1

[2021-07-27 16:40] sylock commented on #6431
I tried saving the Json as an artifact but I could not do it. I don't think that the "resource" template support artifacts (Did not see it in the documentation and my tries failed).

[code]

[2021-07-27 16:42] alexec opened #6432 "`withParam value could not be parsed as a JSON list`"
This appears to be a sporadic issue with >v3.0, but has become more pronounced is v3.1.

See #5097, #6009, #1447, #3288, #3182

I suspect the expression tag template feature introduce in v3.1 is the cause or at least related.

[2021-07-27 16:44] sarabala1979 commented on #6426
The current implementation will check the controller level concurrency limit first and check the` activeDeadlineSeconds`. But Once workflow passed concurrency and `activeDeadlineSeconds` is exceeded, the controller will fail the workflow immediately.

[2021-07-27 16:45] AnjanaAK opened #6433 "MountVolume.SetUp failed for volume "docker-sock" on OKE"
## Summary

I have a k8s cluster on Oracle kubernetes engine (OKE) with Argo setup on it. Now i upgraded the kubernetes version of the cluster from v1.19.12 to v1.20.8.

Try to deploy the basic hello-world.yaml example in the cluster:
[code]
After that, argo workflows are not running properly as the pods cannot be started by giving the error:
[code]

## Diagnostics

What Kubernetes provider are yo

[2021-07-27 16:48] #6415 closed

[2021-07-27 17:22] #6391 closed

[2021-07-27 17:25] alexec commented on #6421
Interesting. Note - I think this may break the security model.

[2021-07-27 17:26] alexec commented on #6276
Maybe fixed by #6393. Re-open if not.

[2021-07-27 17:26] #6276 closed

[2021-07-27 18:06] alexec commented on #6432
To repro
parameter-aggregation-dag.yaml:

[code]

parameter-aggregation.yaml

[code]

[2021-07-27 18:11] sarabala1979 commented on #6433
Please try with `PNS` executor instead of Docker

[2021-07-27 18:11] sarabala1979 commented on #6433
@AnjanaAK

[2021-07-27 18:20] sarabala1979 commented on #6201
@steve-marmalade can you  try with PNS executor?

[2021-07-27 18:25] #6257 closed

[2021-07-27 18:25] philosophicus commented on #6415
@alexec Thanks for the fix.

[2021-07-27 18:27] philosophicus commented on #6345
@alexec Hi, any comments on this issue ?

[2021-07-27 18:37] #6110 closed

[2021-07-27 19:06] alexec commented on #6432
Caused by #5317?

[2021-07-27 19:11] alexec commented on #6432
I believe this issue only affects:

* >= v3.1
* container templates
* usage of output.results

I might be isolated to `withParam`.

[2021-07-27 21:32] sarabala1979 opened #6435 "v3.1.3 Cherry-pick"
- [ ] jibuji: fix: support archive.none for OSS directory artifacts (#6312) 40b08240d
- [x] Saravanan Balasubramanian: fix(controller): Same workflow nodes are not executing parallel even semaphore locks available (#6418) 7ec5b3ea9
- [x] Saravanan Balasubramanian: fix(controller): Randomly expr expression fail to resolve (#6410) c29b275d5
- [ ] Yuan (Bob) Gong: docs(executor): emissary executor al

[2021-07-27 21:54] alexec commented on #6435
@terrytangyuan do you want to mark any for OSS?
@tczhao there are a few fixes for GCS is this list. Do you think they should be included?

[2021-07-27 21:55] alexec commented on #6435
I'd like to include #6434, once it is merged.

[2021-07-27 22:40] bonareal opened #6436 "Workflow (pod) have status NotReady"
## Summary

Every workflow manifests (pod) have status "NotReady"

Create simple workflow hello-world.yaml
[code]
Create workflow, workflow finish task, but pod stay on status NotReady

[code]

## Diagnostics
What Kubernetes provider are you using?
Google GKE, Amazon EKS - reproduced on both

GKE : kubectl server version : v1.20.8-gke.900
EKS : kubectl server version : v1.19.8-eks-96780e

What ver

[2021-07-27 22:46] sarabala1979 commented on #6435
- [ ] Alex Collins: fix(controller): Reinstate support for outputs.results for containers. Fixes #6428 (#6434) 51c15764d

[2021-07-27 23:04] #5947 closed

[2021-07-27 23:04] #5873 closed

[2021-07-27 23:40] bonareal commented on #6436
Here more logs
[code]

[2021-07-27 23:41] terrytangyuan commented on #6435
Nothing to include for OSS for this release but could you include the following commit?

Yuan Tang: feat(controller): Allow configurable host name label key when retrying different hosts #6341 d6ec032

[2021-07-27 23:51] tczhao commented on #6435
I'm keen to include the GCS fixes

- Tianchu Zhao: feat(artifact): enable gcs ListObjects (feat(executor): enable gcs artifact ListObjects, supports data-transformations #6409) 959ce6b
- Tianchu Zhao: fix(executor): fix GCS artifact retry (fix(executor): fix GCS artifact retry #6302) 2df5f66

[2021-07-28 00:24] bonareal commented on #6436
I run again the same scenario on **Argo Workflows v2.12.11**
And I get the following results:
[code]

Get Status "Completed", but with an error!
[code]

[2021-07-28 00:27] tczhao commented on #6423
Hi @BohdanKalytka ,
I think you can use podspecpatch to add imagepullsecret to the init/wait container (where the argoexec image is used)
https://github.com/argoproj/argo-workflows/blob/master/examples/pod-spec-patch.yaml

[2021-07-28 00:52] bonareal commented on #6436
Maybe a problem with kubectl server version, is someone already test Argo Workflow on v1.19 and v1.20?

[2021-07-28 01:42] kevinglasson commented on #3523
Just a comment, can't the cases where there are different architectures / hardware requirements be achieved with the use of nodeSelector? you don't need to have to separate clusters to support this, you just need these nodes in the same cluster with appropriate labels.

[2021-07-28 03:28] #6432 closed

[2021-07-28 03:30] alexec commented on #5976
I think we have a solution.

[2021-07-28 03:30] #5976 closed

[2021-07-28 08:08] bonareal commented on #6436
**Hallelujah** thanks to my boss, we found a solution in Google GKE (only) - you need change "node pool" to Image type :: Container-Optimized OS with Docker (cos)
This solves all problems, and all work correct .....  now we trying find a solution for Amazon EKS

[2021-07-28 08:37] dhenneke commented on #6426
@sarabala1979 I'm not sure if my understanding is correct?

Given the following example:

[code]

The following happens (Argo Workflows v3.0.7):
* `sleep-1` executes for 25 seconds; `sleep-2` is in the `Waiting for */ConfigMap/sleep-config/workflow lock. Lock status 0/1` state
* `sleep-1` finishes and clears the lock; `sleep-2` starts to execute.
* `sleep-2` finishes.

We would like to configure `

[2021-07-28 08:43] davidcollom opened #6439 "Unable to use `step.XXXX.outputs.parameters` with script"
## Summary

In the sample/example code, here: https://github.com/argoproj/argo-workflows/blob/master/examples/parameter-aggregation.yaml

One would assume that this can be done with a `ScriptTemplate` over that of the `UserContainer`.

## Diagnostics

If I use the example provided and run `argo lint` every works/looks fine:
[code]

However if I change the template `odd-or-even` to a `ScriptTemplat

[2021-07-28 08:46] lacarvalho91 commented on #6424
@sarabala1979 I will look at getting this information for you today

[2021-07-28 09:35] cccdy commented on #6399
When creating cron workflow according to the api client, the same exception occurs['ValueError: Invalid value for active, must not be None']
So i want to confirm whether it is solved, or some insight. Big thx~

[2021-07-28 10:58] atombender commented on #6044
It's not stale.

[2021-07-28 13:20] mac9416 opened #6440 "Binary download links in Releases point to old repo (404)"
The "quick start" binary download links in the 3.1.3 [release page](https://github.com/argoproj/argo-workflows/releases/tag/v3.1.3) point to `argoproj/argo` instead of `argoproj/argo-workflows`, [causing some confusion](https://stackoverflow.com/questions/68557958/how-to-install-argo-cli).

It might be worth changing the `curl` flags to be more verbose so people can more easily self-diagnose this.

[2021-07-28 14:36] sarabala1979 commented on #6440
updated the release note. I will fix the ci

[2021-07-28 14:36] #6440 closed

[2021-07-28 15:23] #6206 closed

[2021-07-28 15:47] bonareal commented on #6436
In GKE - the default Node images is "Container-Optimized OS with Containerd (cos_containerd)" and on image base Containerd Argo Workflow nor working correct (even if you configure executor work as Docker or K8SAP or PNS.

So the only solution was, to convert Node Pool work with Node images as "Container-Optimized OS with Docker (cos)" and all start work correct.

Please check this issue.

[2021-07-28 16:14] alexec opened #6441 "workflow re-write vulnerability using input parameter"
# Summary

It's possible to rewrite parts of a workflow on-cluster using only an input parameter. Operators who allows users to run workflows specifying input parameters are vulnerable to this.

# Details

From @mac9416 :

It's possible to rewrite parts of a workflow on-cluster using only an input parameter. This relies on taking advantage of the fact that the output of expression templates is eva

[2021-07-28 16:16] alexec commented on #6436
1. Please use >= v3.1.3
2. Please use PNS or Emissary executor.

[2021-07-28 16:16] #6436 closed

[2021-07-28 16:17] alexec commented on #6433
I think we can close this. Re-open if not fixed.

[2021-07-28 16:17] #6433 closed

[2021-07-28 16:17] alexec commented on #6435
Released!

[2021-07-28 16:17] alexec commented on #6431
Please try with v3.1.3

[2021-07-28 18:16] alexec opened #6443 "Document running at scale"
We haven't documented this and users have been asking for it.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-07-28 21:04] sarabala1979 commented on #6301
@simster7 Will you be able to fix it soon? any ETA?

[2021-07-28 21:21] sarabala1979 opened #6445 "ParallelismReached is makes node failure"
## Summary

What happened/what you expected to happen?

Before we start, around 2/3 of issues can be fixed by one of the following:

* Have you double-checked your configuration? Maybe 30% of issues are wrong configuration.
* Have you tested to see if it is fixed in the latest version? Maybe 20% of issues are fixed by this.
* Have you tried using the PNS executer instead of Docker? Maybe 50% of ar

[2021-07-28 22:30] bonareal commented on #6436
Same scenario as above. Failed on Argo Workflow v3.1.3 with PNS and Emissary executor, when GKE node images configured as **contained** (Container-Optimized OS with Containerd).

PS
With node images based on Docker (Container-Optimized OS with Docker ) all work correct.

[2021-07-29 02:00] cccdy commented on #6399
Solved luckily, turn to an alternative way using kubernetes python sdk, maybe it is a better way according k8s python sdk more generally .
The example is as follow, hope it helps~
`config.kube_config.load_kube_config(config_file=CONF_FILE)
with open(yaml_conf) as file:
        body = yaml.load(file, Loader=yaml.FullLoader)
        resp = client.CustomObjectsApi().create_namespaced_custom_object(na

[2021-07-29 03:51] avifried1 opened #6447 "UI cron section crashes with "Cannot read property 'toString' of undefined""
## Summary

Can't seem to reproduce this, but at some conditions, the Cron workflows section (and only that section) crashes with:

[code]

This apparently traces back to this component in timestamp.tsx:

[code]

date isn't null, but it's undefined.

Argo version `v3.1.2`.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-07-29 03:54] #795 closed

[2021-07-29 04:15] sarabala1979 commented on #6447
@avifried1 can you send your cronworkflow yaml. looks like some date field empty.

[2021-07-29 09:16] atombender commented on #6354
But why is there a `name` field if you are not supposed to set it?

[2021-07-29 12:31] rbalagopalakrishna opened #6448 "High Vulnerabilities on argoexec docker image."
@alexec
CLAIR scan on Image: argoproj/argoexec:v3.1.3

We are using Clair tool for image scanning.

 Alert: 3 High Vulnerabilities Found.
 	Error: Voting Gate failed  due to a Vendor rated High CVE-2021-3520 which is Fixed By lz4 1.8.3-1+deb10u1

 Alert: 15 Low Vulnerabilities Found.

 Alert: 15 Medium Vulnerabilities Found.
 	Error: Voting Gate failed  due to a Vendor rated Medium CVE-2021-20305

[2021-07-29 14:18] BohdanKalytka commented on #6423
Hi @tczhao Thanks, that worked. However, it does not feel like the correct way of solving this problem. I would be glad to see some other options in the future.
I will close the issue anyway. Thanks for prompt support.

[2021-07-29 14:18] #6423 closed

[2021-07-29 15:33] AnjanaAK commented on #6433
@alexec Could you please re-open this issue? It was not fixed.

[2021-07-29 15:37] AnjanaAK commented on #6433
I tried modifying the workflow-controller configuration to use pns executor instead of docker, by editing the configmap :
[code]
Added this entry: `containerRuntimeExecutor: pns`

But now sometimes, some of my workflows are failing with error:
[code]

[2021-07-29 15:41] AntoineDao opened #6449 "Script templates don't allocate pod resource requests/limits"
## Summary

I noticed that pods generated by script templates do not allocate the resource `requests`/`limits`  to the pods they generate.

Here is an example template that doesn't set the expected resource on the resulting pod:

[code]

## Diagnostics

👀 Yes! We need all of your diagnostics, please make sure you add it all, otherwise we'll go around in circles asking you for it:

What Kubernetes

[2021-07-29 15:48] simster7 commented on #6301
Yes, working on it right now

[2021-07-29 16:39] simster7 commented on #6301
PR open: #6451

@sarabala1979 @ad22

[2021-07-29 16:52] sarabala1979 commented on #5439
@Bobgy I merged http template PR to master. Can you try with `latest`?

[2021-07-29 17:36] max-sixty opened #6454 "Float values for backoff.factor?"
# Summary

Currently supplying a float value for `retryStrategy.backoff.factor` will raise a JSON unmarshalling error.

Any thoughts on allowing float values?

# Use Cases

Mandating ints gives a minimum of a factor of 2, which leads to very long backoff times with many retries — i.e. IIUC the final attempt of 10 retries with a duration of 1 minute will be 31 hours after the first.

---

**Message

[2021-07-30 03:15] terrytangyuan commented on #6454
I agree this should be a float instead. We currently support env var RETRY_BACKOFF_DURATION which is float so we should probably be consistent there.

[2021-07-30 09:53] sylock commented on #6431
Unfortunately I still have the issue with the version 3.1.3:
![image](https://user-images.githubusercontent.com/2362405/127634506-777145e2-89f8-4985-bd99-1d7a3edc69f8.png)

Can you explain me the workaround mentionned by @sarabala1979 with the artifacts? Indeed it would be more elegant and more easy to handle if I could save the JSON object as an artifact than a variable. When I try this it doesn'

[2021-07-30 12:28] Guillermogsjc commented on #4662
Hi,

it would be really useful to allow to the client function `resubmit` to to this.

Something like

`argo resubmit -n argo -p UPDATED_PARAMETER=updated_value EXECUTED_WORKFLOW`

The use case is pretty clear, you want to retry a workflow changing some parameters.

[2021-07-30 16:02] cosmonova commented on #6447
Happen to catch this issue due to a incomplete cronworkflow.
However this is bug and  the UI should bypass this type of error.

[2021-07-30 16:20] alexec opened #6458 "TestGetPodByNode is flakey"
This test is sporadically failing (10% of the time maybe).

Caused by: feat(controller): opt-in to sending pod node events as pod (#6377)

[2021-07-30 16:20] alexec commented on #6458
@josephmcgovern-wf could you please take a look if you have time?

[2021-07-30 16:25] alexec commented on #6448
I don't see us fixing v3.1.3 because in v3.2 we use alpine which has fewer issues.

[2021-07-30 16:26] alexec commented on #4662
This issue is about UI. Please raise new issue.

[2021-07-30 16:27] alexec commented on #6431
@sarabala1979 I leave this with you to add to backlog.

[2021-07-30 16:31] #6449 closed

[2021-07-30 16:37] sarabala1979 commented on #6447
@cosmonova incomplete cronworkflow mean, it is not yet started or the controller is down. I am trying understand the scenario and try to reproduce it in my env.

[2021-07-30 21:27] #5953 closed

[2021-07-31 05:16] bigc2000 opened #6461 "HOW can I get metrics and monitor my job，so frustrated to work with argo"
### Discussed in https://github.com/argoproj/argo-workflows/discussions/6457

<div type='discussions-op-text'>

<sup>Originally posted by **bigc2000** July 30, 2021</sup>
http://localhost:2746/metrics
but without  useful metrics.

I want to monitor my step/task, but I tried as examples/custom-metrics,  and failed.
[code]
Is argo monitor and metrics production ready？

</div>

[2021-07-31 06:39] cosmonova commented on #6447
It means is missing some data fields ( Ex: date ) that are required by the UI to render de page. I haven't spent too much time on this, just removed the cronworkflow that was causing this error.

[2021-07-31 07:23] Guillermogsjc opened #6463 "Add parameters to argo resubmit client function"
It would be really useful to allow to the argo client function `resubmit` to admit the `--parameter` flag as does `submit`.

Something like

`argo resubmit -n argo -p UPDATED_PARAMETER=updated_value EXISTING_WORKFLOW_NAME`

The use case is pretty clear, you want to retry a workflow changing some parameters. This is a situation natural on an `onExit` stage (exit handler) with an `argocli` image, th

[2021-08-01 04:05] terrytangyuan opened #6464 "Incorrect redirect from argoproj/argo to argoproj/argocon21"
## Summary

It looks like https://github.com/argoproj/argo now redirects to https://github.com/argoproj/argocon21 (forked from https://github.com/todaywasawesome/argo).

This would break all the old issue/PR links that uses "argoproj/argo" and make it hard to find past discussions.

cc @todaywasawesome who owns the original fork https://github.com/todaywasawesome/argo and might have a better idea

[2021-08-01 05:23] sarabala1979 commented on #6463
@Guillermogsjc `argo resubmit -n argo -p UPDATED_PARAMETER=updated_value EXISTING_WORKFLOW_NAME` is equivalent to submit the new workflow.  you can submit the same workflow with a new parameter.
Is there any specific reason not to submit the workflow again?

[2021-08-01 09:44] Bobgy commented on #6435
Hi @alexec @sarabala1979, I think we missed cherry picking my first PR fix for emissary with nonroot: https://github.com/argoproj/argo-workflows/pull/6247/files. It's also required for running emissary with nonroot containers.

https://github.com/argoproj/argo-workflows/blob/release-3.1/workflow/executor/emissary/binary.go#L19

[2021-08-01 12:45] Guillermogsjc commented on #6463
@sarabala1979 right now it looks as not possible to use `submit` with `--from` `wf/EXECUTED_WORKFLOW`.

[code]

Of course this would be a solution, to allow `argo submit` to launch an executed workflow, or to add `parameters` to resubmit.

Think that you want to keep the exact parameters asociated to the workflow that you want to resubmit, and change them, and the spec may not be on any workflow t

[2021-08-01 14:37] #5859 closed

[2021-08-01 14:37] #5997 closed

[2021-08-01 22:21] sarabala1979 commented on #6461
@bigc2000 trying to understand what issue are you facing? Are you not seeing the custom metric on `http://localhost:2746/metrics`?

[2021-08-01 22:27] sarabala1979 commented on #6435
@terrytangyuan  We already released v3.1.3. Which includes only the checked once.  Sorry, we missed your comments.  you might be commented after we start releasing process. I can do 3.1.4 this week. I will create cherry-pick issue tomorrow.

[2021-08-01 22:39] #6024 closed

[2021-08-01 22:42] sarabala1979 commented on #6463
you achieve same functionality using `workflowtemplate` with `argo submit --from workflowtemplate/<name> -p params`
Convert workflow type to workflowtemplate and create it in your namespace using `argo template create <x.yaml>`

[2021-08-01 22:42] sarabala1979 commented on #6463
@Guillermogsjc

[2021-08-01 22:44] Bobgy commented on #6435
No worries, thank you for the quick response! Looking forward to the next release.

[2021-08-02 01:05] avifried1 commented on #6447
@sarabala1979 Not sure which cronworkflow caused this, we have a lot. But also, same templates are deployed to multiple environments, and for some reason only 1 environment was having this issue. Redeploying fixed this, but really now sure why.

It's obviously a problem if a workflow (any workflow really), which can be added by any engineer, can crash the entire Cron UI section. This might be a si

[2021-08-02 04:58] sarabala1979 commented on #6447
@cosmonova @avifried1 Got it. We can extra condition to check whether date is undefined along with a null check. Would you like to fix this issue and submit the PR?

[2021-08-02 07:21] Guillermogsjc commented on #6463
@sarabala1979 thanks for the workaround, I suggest to add this functionality on client also (as [UI aproved it on 4662](https://github.com/argoproj/argo-workflows/issues/4662)).

Think about workflows being created programatically inside another workflows, having an initial template as parent but having a potential evolution on parameters (needed on re-executions or variations dinamically establis

[2021-08-02 10:25] lacarvalho91 commented on #6424
@sarabala1979 this doesn't actually seem to be a problem any more, I've just tried to reproduce and I can't. I think it was due to the config map structure as explained in https://github.com/argoproj/argo-workflows/issues/6425.

So I'm happy to close this if what is on that linked issue makes sense to you.

[2021-08-02 13:39] vetyy commented on #5995
Hey @alexec, if you have time can you sometimes fix, documentation? `By default, the server will start with auth mode of "server".`  https://github.com/argoproj/argo-workflows/blob/4e450e250168e6b4d51a126b784e90b11a0162bc/docs/argo-server-auth-mode.md

[2021-08-02 15:45] #6248 closed

[2021-08-02 15:53] #6445 closed

[2021-08-02 16:17] sarabala1979 commented on #6463
@Guillermogsjc got it your usecase. it would be a great enhancement on CLI to update the parameter values. Would you like to contribute to this enhancement?

[2021-08-02 16:25] blkperl opened #6467 "commands.NewResourceCommand should retry when k8s api is unavailable"
## Summary

Resource executions are not retried for tcp timeouts when the K8s API becomes busy from too many workflows running in parallel. I think we can use retry.OnError from k8s.io/client-go/util/retry to avoid the issue.

[code]

- https://pkg.go.dev/k8s.io/client-go/util/retry#OnError
- https://pkg.go.dev/k8s.io/apimachinery/pkg/util/net#IsTimeout

## Diagnostics

👀 Yes! We need all of your

[2021-08-02 16:31] Guillermogsjc commented on #6463
@sarabala1979 hopefully I could study Go (level 0) and contribute sooner, right now it is hard to collaborate :(

[2021-08-02 16:43] sarabala1979 commented on #6467
@blkperl yes, the Current code is not retried if it is a transient error.  Would you like to fix this issue? here the code reference
https://github.com/argoproj/argo-workflows/blob/5fde8fa72f2e5b0bcd7cfb048fd1eb9e24b6a950/workflow/executor/resource.go#L34-L45

[2021-08-02 17:59] #6340 closed

[2021-08-02 18:58] blkperl commented on #6467
@sarabala1979 I'm not sure how to convert the exec error from kubectl into a real error that can be interpreted by `isTransientNetworkErr`

[2021-08-02 19:02] sarabala1979 opened #6468 "v3.1.4 cherry-pick"
Few PRs are already released in v3.1.3.  Please select your PR that needs to release in v3.1.4

- [x] Saravanan Balasubramanian: fix: Exit template shouldn't fail with max parallelism reached (#6456) 5fde8fa72
- [x] Marcin Gucki: fix(controller): fix retry on different hosts (#6429) c5d2461cf
- [x] Peixuan Ding: fix(server): Fix nil pointer error when getting artifacts from a step without artifact

[2021-08-02 20:44] alexec commented on #6468
@Bobgy can you mark the ones you needed again please?

[2021-08-02 20:44] enordberg opened #6469 "volumeClaimGC stategy not applied for workflows created from Worfklow Templates"
## Summary
For Workflow Templates defined with volumeClaimGC - strategy = OnWorkflowCompletion, the volumes are NOT being deleted when the workflow fails.

I expected that:
For workflow templates with volumeClaimGC-strategy=OnWorkflowCompletion, the volumes would be deleted when the generated workflows failed.

What happened is that:
The volumes are NOT deleted when the generated workflows fail.

[2021-08-02 22:19] #6443 closed

[2021-08-02 22:20] blkperl commented on #6467
@sarabala1979 I opened a PR but I'm not sure how to test it.

[2021-08-02 23:11] Bobgy commented on #6468
Thanks!
I was talking about https://github.com/argoproj/argo-workflows/pull/6247.

[2021-08-02 23:14] Bobgy commented on #6468
I want this too

Yuan (Bob) Gong: fix(executor/emissary): fix nonroot sidecars + input/output params & artifacts (fix(executor/emissary): fix nonroot sidecars + input/output params & artifacts #6403) 30e2518

But I think it's already cherry picked

[2021-08-02 23:45] sarabala1979 commented on #6468
@Bobgy I selected it. Do you have any more issues that need to be included in v3.1.4? I am planning to start release tomorrow

[2021-08-03 04:13] #5563 closed

[2021-08-03 07:19] Bobgy commented on #6468
Thanks, I didn't hit any other issues so far.

I am just curious, I think some fixes like the following are generally good to have, but they are not picked at the moment. How do you decide?

Antoine Dao: fix(emissary): throw argo error on file not exist (fix(emissary): throw argo error on file not exist #6392) b17d1bf

 Alex Collins: fix(executor): Remove 15s guard for Docker executor. Fixes wait

[2021-08-03 08:36] #6424 closed

[2021-08-03 13:13] philosophicus opened #6474 "Why does a failed pod task have no exit code?"
## Summary

The containers' statuses are shown in the picture.

![Screen Shot 2021-08-03 at 8 46 17 PM](https://user-images.githubusercontent.com/9477891/128019582-3bf72ce9-9f70-475e-b1f1-f0e0738a0d78.png)

And why is the phase of the task `Failed` rather than `Error`?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-08-03 15:30] sarabala1979 commented on #6474
@philosophicus Can you provide more details like `init` container logs?

[2021-08-03 15:34] sarabala1979 commented on #6469
@enordberg Are you referring whole `workflowtemplate` in your workflow as `workflowtemplateRef` or referring only some templates in `templateRef`? if you are referring only templates in your workflow, Spec level elements will not be applied to your workflow. it is by design.

[2021-08-03 15:45] #6301 closed

[2021-08-03 15:48] #5105 closed

[2021-08-03 16:00] alexec opened #6475 "Help users integrate workflows"
This is an issue to help track other integrations:

* https://github.com/Netflix/metaflow/issues/50
* https://github.com/kubeflow/katib/pull/1605

[2021-08-03 16:11] sarabala1979 commented on #6468
- [ ] Simon Behar: fix: Consider onExit children of Retry nodes (#6451) 7ef0f4750

[2021-08-03 17:35] sarabala1979 opened #6476 "workflows.argoproj.io/creator label gets overwrite by Argo CLI and UI"
## Summary

What happened/what you expected to happen?

Before we start, around 2/3 of issues can be fixed by one of the following:

* Have you double-checked your configuration? Maybe 30% of issues are wrong configuration.
* Have you tested to see if it is fixed in the latest version? Maybe 20% of issues are fixed by this.
* Have you tried using the PNS executer instead of Docker? Maybe 50% of ar

[2021-08-03 18:17] sarabala1979 commented on #6476
`workflows.argoproj.io/creator` consider as argo system label. user should not use it. If users really wants to use it, they create a workflow using `kubectl` or k8s api.

[2021-08-03 18:17] #6476 closed

[2021-08-03 18:43] ad22 commented on #6301
Thanks @simster7
It may be unrelated but I'm able to spawn other "hangs" on the WF. This happens while monitoring the state of the exit handler hook step sequence.  See image
![image](https://user-images.githubusercontent.com/9344284/128068971-8280473b-7cc7-49ae-bf42-64750ecc03bf.png)

[2021-08-03 18:45] simster7 commented on #6301
Can you include a "live" version of the workflow? You can get it from `kubectl get wf <name> -o yaml`. I can the check and see if these are also fixed by my fix

[2021-08-03 19:05] ad22 commented on #6301
Unfortunately the WF has a lot of parts that are not applicable to external environments. Creating a minimally reproducible workflow..

[2021-08-03 19:48] ad22 commented on #6301
@simster7 Here is a WF
[code]
I'm curious to see if you can reproduce a hang with the above.
I am running an "off the beaten" path multi-namespaced RBAC setup.. but even though I found a few things to fix with 3.1.4 manifests, I can still trigger the hang.

[2021-08-03 20:14] ad22 commented on #6301
FWIW, removing the lifecycle hooks makes it work correctly in my setup, so its likely a bug.

[2021-08-03 22:30] blkperl opened #6478 "Workflow Controller panic on addParamToGlobalScope"
## Summary

The workflow operator panic'd

## Diagnostics

What Kubernetes provider are you using?

EKS 1.19

What version of Argo Workflows are you running?

3.1.2

What executor are you running? Docker/K8SAPI/Kubelet/PNS/Emissary

Not sure

Did this work in a previous version? I.e. is it a regression?

Might be a regression. Looks similar to some bugs https://github.com/argoproj/argo-workflows/i

[2021-08-03 23:08] frbk opened #6479 "Suspend behaviour"
### Discussed in https://github.com/argoproj/argo-workflows/discussions/6437

<div type='discussions-op-text'>

<sup>Originally posted by **frbk** July 27, 2021</sup>
I am a bit confused about Argo UI when `suspend:` is utilized in a workflow. My goal is to add a job that I can manually execute, which will trigger the process of deploying new QA env, however, if `suspend:` is used, the pipeline ge

[2021-08-04 02:07] Bobgy commented on #6468
Hi @sarabala1979, I'm still not seeing my fix in #6247 cherrypicked into 3.1.4.
https://github.com/argoproj/argo-workflows/blob/247776d66fa6bf988f861ba82f181e386a972626/workflow/executor/emissary/binary.go#L19

[2021-08-04 03:04] sarabala1979 commented on #6468
I did cherry pick and resolve conflict on windows file. Let me check.

Sent from my iPhone

[2021-08-04 05:11] sarabala1979 commented on #6468
@Bobgy I miss understood. I was including Yuan (Bob) Gong: fix(executor/emissary): fix nonroot sidecars + input/output params & artifacts (fix(executor/emissary): fix nonroot sidecars + input/output params & artifacts #6403) 30e2518.
I missed your comment saying the issue is not on the list.
finally, find it https://github.com/argoproj/argo-workflows/commit/05c901fd4f622aa9aa87b3eabfc87f0bec6dea30

[2021-08-04 05:40] yuyu2172 opened #6481 "Templates with synchronization behave weird when retried"
## Summary

Templates with synchronization behave weird when retried.

## Diagnostics

What Kubernetes provider are you using?:
I see this behavior with my CI setup which uses [kind](https://github.com/kubernetes-sigs/kind).
I have also observed this issue with on-premise environment.

What version of Argo Workflows are you running? :
v3.1.4

What executor are you running?
k8sapi

### How to repro

[2021-08-04 05:50] sarabala1979 commented on #6481
@yuyu2172 are you trying with `latest` version?

[2021-08-04 06:12] yuyu2172 commented on #6481
No. I was running with a released version (3.1.4).

[2021-08-04 06:19] sarabala1979 commented on #6481
I can see the 3.2 features `"TaskSet Reconciliation"` log. Can you make sure you are running one controller?

[2021-08-04 06:19] sarabala1979 commented on #6481
@yuyu2172

[2021-08-04 06:38] yuyu2172 commented on #6481
My bad. I was using the latest image.
I was setting up argo using this manifest (https://github.com/argoproj/argo-workflows/blob/v3.1.4/manifests/install.yaml).
Although the files belongs to `v3.1.4`, the controller image points at `:latest`.

[code]

Let me retry with a v3.1.4 controller.

[2021-08-04 06:59] yuyu2172 commented on #6481
I retried with v3.1.4. The controller seems to be running with the intended version. (used https://github.com/argoproj/argo-workflows/releases/download/v3.1.4/install.yaml)

With this setup, the problem persists. The retry still seems to produce a pod with the name of the deleted pod.

The controller log is this:
`TaskSet Reconciliation` has disappeared from log.
[code]

[2021-08-04 07:13] Bobgy commented on #6468
Yes, it's a different PR. Sorry I split my fix into multiple PRs in the first place. I see it makes it more confusing than necessary.
I'll test more cases in the initial PR next time. : )

[2021-08-04 09:47] Bobgy commented on #6352
I'm resuming working on this, because it was a little rush for KFP to default to emissary right now.
Our plan is to keep supporting docker executor for 1 version and let people test out emissary executor on demand.

[2021-08-04 09:51] Bobgy commented on #6352
I can now stably reproduce this problem on GKE by running a lot of workflows in parallel, some will fail with this error.

I added some extra logging to argo executor and deployed to my cluster, got the following logs on a failed task:
[code]

[2021-08-04 09:55] Bobgy commented on #6352
It seems that when docker wait was run, the container was in "Created" state. `docker wait` succeeded almost right away, but the container is still in "Created" state when `docker wait` succeeded.

I tried to verify this behavior locally on my laptop by running docker wait in a loop waiting for a container to be created, then create a container alongside it.
[code]
I can always confirm that `docke

[2021-08-04 10:29] michael132 opened #6482 "v3.1.5 did not contain the fix from #5953"
## Summary

We upgraded to `v3.1.5` and found out the fix from #5953 was not included in the release

## Diagnostics
PR was merged and stated it will be part of `v3.1.4` release. However, it does not seem to be the case.
https://github.com/argoproj/argo-workflows/blob/v3.1.5/server/auth/types/claims.go

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the is

[2021-08-04 14:49] alexec commented on #6355
I think the 365 day issue is a bug, and should be fixed.

[2021-08-04 14:53] alexec commented on #6355
We can address the 365 day issue by generating self-signed certs whenever the server starts. This is more secure, but it does not allow you to use your own certificates. We could have a conventional path for them, and only create them if they are not found.

[2021-08-04 15:03] alexec commented on #6355
@davidcollom I'll roll the changes out to Argo Dataflow, would you be willing to look at porting them to workflows?

[2021-08-04 15:04] alexec commented on #6464
I don't think this is fixable.

[2021-08-04 15:07] alexec commented on #6478
#5931 was included in v3.1, so this is a new bug.

[2021-08-04 15:09] alexec commented on #6478
Caused by fix(conttroller): Always set finishedAt dote. Fixes #6135 (#6139)

[2021-08-04 15:09] davidcollom commented on #6355
@alexec - There is already a PR open @ https://github.com/argoproj/argo-workflows/pull/6460 which would be good to get some feedback on this specific area.

[2021-08-04 15:10] enordberg commented on #6469
@sarabala1979 Our workflows are created from the workflow template using "argo submit <template-name>".  This creates the workflow with a workflowTemplateRef to the template.

`spec:
  arguments:
    parameters:
    - name: helm
      value: ...
  workflowTemplateRef:
    name: workflow-template-deploy`

Inside the generated workflow yaml, I also see that the storedWorkflowTemplateSpec contains th

[2021-08-04 15:13] alexec commented on #6478
Not sure what is going on here. For a nil panic, there must be a variable that could be nil on line 477

[code]

It must be `param.Value` that is nil.

So that expression should be:

[code]

@blkperl would you like to submit a PR to fix?

[2021-08-04 15:22] alexec opened #6484 "fix e2e builds"
[code]

https://github.com/argoproj/argo-workflows/runs/3242706256?check_suite_focus=true

[2021-08-04 15:24] alexec commented on #6484
Where does this come from? kustomize?

[2021-08-04 15:25] blkperl commented on #6478
@alexec PR submitted

[2021-08-04 15:27] sarabala1979 commented on #6482
This feature PR is not included into 3.1 release. Normally features will not include in the patch release until the user requested.  We created cherry-pick with the list of issue and announce in the channel for select the issue that needs to include on coming patch. only regression issues will be added by default for a patch release.

[2021-08-04 15:33] michael132 commented on #6482
Sorry I did not know this. I saw #5953 PR mentioned it'll be available after `v3.1.4`
https://github.com/argoproj/argo-workflows/blob/90341524935287c7db30f34132c2a1aa4f1ea170/docs/argo-server-sso.md#custom-claims

What would I need to do to make the request? I do see #6468 which is still open

[2021-08-04 15:36] sarabala1979 commented on #6481
@yuyu2172 As per log, node is pending state, when the pod was missing, that's the controller is requeue the workflow for the process.
Can you provide more details about issue, expected behavior and reproducible steps/yaml?

`level=info msg="Workflow pod is missing" namespace=prj-primary nodePhase=Pending podName="my-workflowlbqzn.A(0)" recentlyStarted=false workflow=my-workflowlbqzn`

[2021-08-04 15:50] #6468 closed

[2021-08-04 15:51] #6435 closed

[2021-08-04 15:54] sarabala1979 commented on #6482
cherry-pick is done for 3.1.5. We are in the process of releasing 3.2-rc1 soon. This will include 3.2-rc1.  We may release another patch if there is any regression or high-demand issue. I will create cherry-pick issue and I will notify in the channel. you can select this issue.

[2021-08-04 16:22] alexec commented on #6355
So this is what I'm thinking:

https://github.com/argoproj-labs/argo-dataflow/pull/196

The runner generates a self-signed certificate when it starts. This same code would work for argo-server, but with one tweak, if `/tmp/argo/argo-server.crt` exists, then we use that instead. That would mean that this is configured using a convertion.

[2021-08-04 16:47] #6484 closed

[2021-08-04 16:47] alexec opened #6488 "Is Argo Server RBAC broken in Kubernetes >= v1.19"
It is not currently clear if the Argo security model is broken when used with Kubernetes v1.19.

These test have been disable to get the build back to green. Once we know if K3S has a bug in its RBAC, or if we need config, or something else, then we should re-instate them.

Run ArgoServerSuite/TestUnauthorized and see if it passes.

| Provider + Version | Argo Version | Problem |
|---|---|---|
| K

[2021-08-04 16:59] alexec commented on #6488
@jessesuen @sarabala1979 @whynowy I've changed to reflect this might be more severe.

[2021-08-04 17:26] sarabala1979 commented on #6469
Got it thanks for the reply. I will fix it

[2021-08-04 17:53] alexec commented on #6488
Broken in v1.19.13+k3s1 .

[2021-08-04 18:03] sarabala1979 commented on #6482
I will close this issue

[2021-08-04 18:03] #6482 closed

[2021-08-04 18:05] sarabala1979 commented on #6479
@frbk Are you suspending your worklfow through UI? or do you have  a`suspend` template in your workflow?

[2021-08-04 19:13] frbk commented on #6479
I have a  `suspend` in my template. I used example template provided from here: https://argoproj.github.io/argo-workflows/examples/#suspending

[2021-08-04 21:11] yuyu2172 commented on #6481
The yaml in the initial comment should reproduce the issue.

This is what happens when a pod is deleted and I call `argo get`.
[code]

What I am expecting when calling `argo get`:
[code]

[2021-08-04 22:16] alexec opened #6490 "Casbin RBAC for Argo Server"
# Summary

The current model of RBAC leans heavily on Kubernetes RBAC, so is easy to make secure, but may not scale well.

Consider the situation where you have 1000s teams and 1000s namespace. At the very least you're like to need a OIDC group for each namespace, and then a service account, role and role binding.

It maybe better to use Casbin (or similar) to provide a more flexible way to config

[2021-08-05 00:58] mgmm13 commented on #4430
hello, is there any update here? getting the same behavior as well

[2021-08-05 08:54] marcelobartsch opened #6491 "Github App Authentication Support"
# Summary

for github artifacts would be nice to support github app authentication , as it simple to manage access to repositories than using personal access token.

What change needs making?

Implement github jwt authentication for application in workflow/artifacts/git/git.go , "github.com/bradleyfalzon/ghinstallation" is suppose to provide the helpers to do it simply, also new parameters to the

[2021-08-05 10:32] tscheepers commented on #6443
Thank you for adding this doc 😃!

[2021-08-05 12:46] marcelobartsch commented on #6491
I have created a branch in a fork, it is not well done, but is working
https://github.com/marcelobartsch/argo-workflows/tree/github-apps

[2021-08-05 12:52] marcelobartsch commented on #6491
sample workflow
[code]

[2021-08-05 14:23] erkerb4 commented on #3080
For those who are experiencing this issue with Treafik Ingress Controller, you will need to create a "StripPrefix" middleware that matches the BASE_HREF value. Make sure to attach that to your ingress (_if you are using ingress instead of IngressRoute_):

In my case, I am using "/workflows/" as the BASE_HREF value:

and my Ingress includes the following annotation:

` traefik.ingress.kubernetes.io

[2021-08-05 15:17] arkgonzales opened #6492 "Argo v.2.12.6 - Unexpected non 200 status code: 401 body: Unauthorized"
Hi,

I would like to report an intermittent issue when Argo runs our workflows. At a random point, we get an "Unexpected non 200 status code" error from one of the pods that Argo runs while executing our workflow. It happens to different steps, sometimes frequent.

Hope you could share an insight on why this error is being returned. We believe it's not a service credential issue as no changes were

[2021-08-05 15:24] #6260 closed

[2021-08-05 15:24] #6325 closed

[2021-08-05 15:47] davidcollom commented on #6355
Yea, but this issue still stands:

If I'm a user of a cluster and don't have the ability to override where my certificates are presented to argo, therefore this doesn't solve the issue.

Being able to provide/override these values for those environments would a great step forward, something in which @ChaosInTheCRD began implementing earlier.

Something that this also doesn't cover is if you need t

[2021-08-05 15:51] sarabala1979 commented on #6492
@arkgonzales which executor are you configured in your environment? looks like your k8s API service returns 401 for accessing main container status.
Do you have a plan to upgrade to v3.1.5? 3.1 has a lot performance improvement on handling k8s API calls. We stop supporting v2.12.x.

[2021-08-05 15:53] sarabala1979 commented on #6481
This is as per the design and expected behavior. The controller will not create new nodestatus if it is in a pending state and the pod is missing.
`"Workflow pod is missing" namespace=prj-primary nodePhase=Pending podName="my-workflowlbqzn.A(0)" recentlyStarted=false workflow=my-workflowlbqzn`

[2021-08-05 16:04] sarabala1979 commented on #6479
@frbk I think the first workflow is in the above screenshot. you did suspend through UI or CLI. if you manually suspend the running template using UI or CLI or API other than `suspend` template. Workflow State will be running with flag suspend=true. The controller will not process the workflow until resuming the workflow.

But if workflow is suspended based on the `suspend` template, you can see t

[2021-08-05 16:06] alexec commented on #6355
So you're suggesting put the certificates into a secret and have argo-server load them from there?

[2021-08-05 17:58] ChaosInTheCRD commented on #6355
If this style was followed, it would work really well. You get kubernetes to rely on creating the certificate for you, but leave the opportunity for the user to completely decide on which certificates they want to mount (vault, cert-manager etc.).

It also works well with the PR that I raised 😊.

Regardless, I'm really happy to work on this. Myself and @davidcollom could also pair on it if there i

[2021-08-05 18:02] alexec commented on #6355
If Kubernetes can create the secrets automatically (and is supported in all recent versions and by all providers) then I think that is the correct solution.

Can I just create a `certficates.k8s.io` resource and Kubenetes fills out the details for me?

[2021-08-05 19:04] yuyu2172 commented on #6481
I see. Thanks.

I think the issue is that a running pod with a semaphore is recognized as pending by argo.
Is this an expected behavior?

[2021-08-05 20:55] Lobstrosity commented on #5892
Appears to be a duplicate of https://github.com/argoproj/argo-workflows/issues/3434.

[2021-08-05 20:56] Lobstrosity commented on #6113
Appears to be a duplicate of https://github.com/argoproj/argo-workflows/issues/3434.

[2021-08-05 21:02] sarabala1979 commented on #6481
it should not be case. I will take a look code

[2021-08-06 01:29] mac9416 commented on #6491
I like the idea of bot access... but as an aside, I think deploy keys are another access option besides personal access tokens.

[2021-08-06 03:18] #6469 closed

[2021-08-06 11:27] ChanYiLin opened #6497 "Cannot run artifact-passing example in 3.1.5 (3.1.2), got "key unsupported: cannot get key for artifact location, because it is invalid""
## Summary

I installed **argo 3.1.5 (and 3.1.2) on minikube** on my mac and tried to run official [artifact-passing example](https://github.com/argoproj/argo-workflows/blob/master/examples/artifact-passing.yaml).

[code]

It failed with following message
[code]

## Diagnostics

👀 Yes! We need all of your diagnostics, please make sure you add it all, otherwise we'll go around in circles asking you

[2021-08-06 15:48] alexec commented on #6497
The example you provide requires you to have an artifact repository set-up. Can you confirm that is this case?

[2021-08-06 15:49] dan-katz opened #6498 "Allow transient errors to not be counted against the retry limit"
# Summary

Add a flag to `RetryStrategy` to not count errors defined as transient (those defined in the codebase and those that match the `TRANSIENT_ERROR_PATTERN` environment variable) against the retry limit. I could also see never counting transient errors against the retry limit being the way to go instead

# Use Cases

- If you use preemptible nodes (or the equivalent), retries from pod delet

[2021-08-06 15:49] dan-katz commented on #6498
If the Argo team thinks this is a good idea/feasible but that it's not high priority I'm happy to take a crack at it myself

[2021-08-06 16:43] #6407 closed

[2021-08-06 16:51] alexec opened #6499 "Revert fix(executor/docker): fix random errors with message "No such contain… CI #8670"
This has broken the build on master and needs to be reverted. See #8670

[2021-08-06 16:51] alexec commented on #6499
https://github.com/argoproj/argo-workflows/commit/e4a53d4bf021fd4dce1374bb7fd4320d733e57ba
@Bobgy

[2021-08-06 16:52] alexec commented on #6499
![image](https://user-images.githubusercontent.com/1142830/128545087-dfea1100-960d-40ee-afe4-38463717805a.png)

[2021-08-06 16:52] alexec commented on #6499
Reverted in a3fd704a1.

[2021-08-06 16:53] alexec commented on #6352
This has been reverted because it appears to have been failing the master build.

[2021-08-06 16:54] alexec commented on #6352
[code]

[2021-08-06 18:25] alexec commented on #6488
Maybe caused by #6143

[2021-08-06 22:55] Bobgy commented on #6352
@alexec thanks for taking care of this, can you help me understand how to run e2e tests locally?

[2021-08-06 22:57] alexec commented on #6352
they're just normal Golang tests, run them in your IDE

[2021-08-06 23:04] Bobgy commented on #6352
Thanks, let me have a try!

[2021-08-07 01:32] Bobgy commented on #6352
@alexec I tried running all the unit tests:

[code]

They are all passing, but that didn't run the docker executor e2e test.

/cc @terrytangyuan @sarabala1979

[2021-08-07 01:48] alexec commented on #6352
Run

make test-executor E2E_EXECUTOR=docker

[2021-08-07 04:03] Bobgy commented on #6352
Thank you! Let me verify that

[2021-08-07 04:08] Bobgy commented on #6499
Thanks, let's keep tracking the resolution in https://github.com/argoproj/argo-workflows/issues/6352.

[2021-08-07 04:08] Bobgy commented on #6499
/close

[2021-08-07 10:22] Bobgy commented on #6352
I successfully reproduced the failed case, it's because when the container has an invalid command, the container will fail to run. However, container's state is stuck at "Created" too.
We need a way to distinguish that case from this issue's case.

[2021-08-07 12:19] Bobgy commented on #6352
here's the status we got from docker ps
[code]

[2021-08-07 12:22] Bobgy commented on #6352
container status
[code]

[2021-08-07 12:51] Bobgy commented on #6352
when I inspect the container:

[code]
[code]

[2021-08-07 12:53] Bobgy commented on #6352
this situation also seems like a bug in docker, the Status is "created", while "ExitCode" is non zero, and "Error" is non zero.

[2021-08-07 12:58] Bobgy commented on #6352
Hmm, at least the behavior can be observed on docker CLI too.

[code]
similarly

[2021-08-07 13:24] Bobgy commented on #6352
unfortunately, we cannot include exit code in docker ps format https://docs.docker.com/engine/reference/commandline/ps/#formatting

[2021-08-07 15:15] kevanslumin opened #6504 "Support Server Side Encryption for S3 Artifact Repository"
# Summary

Would you consider adding support for server side encryption in an S3 Artifact Repository?   Here is an example using a customer provided key (SSE-C): https://github.com/minio/minio-go/blob/master/examples/s3/put-encrypted-object.go. However, I'd be interested in using the S3 master key (SSE-S3).  There is also SSE-KMS that others might need.

# Use Cases

My organization requires encry

[2021-08-07 15:23] #6499 closed

[2021-08-08 04:59] terrytangyuan commented on #6498
I had a use case where we only want to retry transient errors and the support has been added in https://github.com/argoproj/argo-workflows/pull/4999.

I think this is also a similar and a valid use case. Others please confirm.

In the meantime, it would be great to think about whether a flag would be a good option and how this relates to the existing `OnTransientError` policy.

[2021-08-08 10:50] jsoref commented on #4975
I don't like 🤖

[2021-08-08 10:51] jsoref commented on #4973
I don't like 🤖

[2021-08-08 15:29] alexec commented on #6504
Duplicate of #2800 ?

[2021-08-09 01:43] kevanslumin commented on #6504
Yes, I apologize.

[2021-08-09 01:43] #6504 closed

[2021-08-09 01:47] kevanslumin commented on #2800
@toyama0919 How did you get SSE:S3 to work? I get an Access Denied message with archiveLogs enabled when it tries to write logs to the artifact repository.

[2021-08-09 03:20] ksudhir007 commented on #2800
@alexec I would like to take this up, having worked with S3 (SSE KMS) recently, I understand why adding this support is important for adoption. I am getting up to speed with argo workflows in general.

[2021-08-09 04:55] Bobgy commented on #6352
we could use docker inspect to get exit code, updated implementation in #6508

[2021-08-09 05:44] Bobgy commented on #6352
For record, here's how I tested docker executor e2e tests locally:

1. install k3s setting docker as container runtime
2. run workflow controller:
[code]
3. build argoexec:
[code]
4. run e2e tests:
[code]
[code]

[2021-08-09 06:36] ChanYiLin commented on #6497
Yes it works after setting the repository.

Sorry, this is my mistake, the artifacts indeed needs to have an artifact repository set-up.
I will close this issue, thanks!

[2021-08-09 06:36] #6497 closed

[2021-08-09 13:45] #6352 closed

[2021-08-09 14:41] AndriPL opened #6511 "Allow accessing status of the parent step in exit hook (new onExit)"
# Summary

Passing status as an argument to a new exit hook is not possible. It seems that during execution of hook, parent step is still running, so its has status is not defined yet.

However as presented in official example (https://github.com/argoproj/argo-workflows/blob/master/examples/exit-handler-with-param.yaml), we can access outputs of the step, so logically status should also be accessi

[2021-08-09 15:27] sarabala1979 commented on #6498
@terrytangyuan As per code, this PR #4999 changes will not hit in real scenario. All TransientError will make node status to `pending` and it should not take retry limit. Am I missing anything ?

[code]

[2021-08-09 16:33] arkgonzales commented on #6492
@sarabala1979 the executor we're using is via kubelet.

Noted on the end of support for ver 2.12.x, we'll check on v3.1.5.

Thank you

[2021-08-09 20:13] #6441 closed

[2021-08-09 20:49] ad22 commented on #6301
@sarabala1979 @simster7 any feedback on the above? Should I open a new bug?

[2021-08-09 22:57] #6478 closed

[2021-08-10 02:06] #6060 closed

[2021-08-10 18:48] alexec opened #6519 "Make it easier to “make pre-commit”"
This is one of the biggest barriers to getting good PR done. How can we make this easier? Maybe running the tools in a container?

[2021-08-10 19:05] #6201 closed

[2021-08-10 19:52] alexec opened #6520 "Trail of Bits"
https://github.com/argoproj/argoproj/blob/master/docs/argo_security_final_report.pdf

- [x] TOB-ARGO-006 Unhandled deferred file close operations- quick-start only https://github.com/argoproj/argo-workflows/issues/5312
- [x] TOB-ARGO-007 MinIO container runs as root - quick-start only https://github.com/argoproj/argo-workflows/issues/5860
- [ ] TOB-ARGO-008. File extension comparisons are case sen

[2021-08-10 20:34] dan-katz commented on #6498
@terrytangyuan for your use case do you want to retry transient errors a set number of times or would it be ok to always retry them? I can also see how changing the transient error behavior to always retry might break some users' existing usage of `onTransientError`

[2021-08-10 20:41] alexec commented on #6520
@sarabala1979 please can you double-check I've correctly identified all issues?

[2021-08-10 20:43] alexec opened #6521 "TOB-ARGO-035 Packages with security vulnerabilities in Argo-CD and Argo Workflows UI - medium severity"

[2021-08-10 20:43] alexec opened #6522 "TOB-ARGO-017 Non-cryptographically secure random function documented as CSPRNG - medium severity"

[2021-08-10 20:47] alexec commented on #6522
@sarabala1979 can I ask you work on this next please?

[2021-08-10 20:48] alexec commented on #6522
argo-workflows/server/auth/sso/sso.go#L195

[2021-08-10 20:49] alexec commented on #6522
Actually, I wrote this, I'll fix it.

https://github.com/argoproj/argo-workflows/blob/e6fa41a1b91be2e56884ca16427aaaae4558fa00/server/auth/sso/sso.go#L195

[2021-08-10 21:02] alexec commented on #6522
https://github.com/argoproj/pkg/pull/44

[2021-08-10 22:28] sarabala1979 commented on #6511
Accessing parent status on the step-level scope is a little complex.

[2021-08-11 06:12] motocoder-cn opened #6526 "delete workflow then create workflow with same name immediately, may cause workflow stuck til another cache sync period"
## Summary

What happened/what you expected to happen?

delete workflow then create workflow with same name immediately, may cause workflow stuck til another cache sync period

want second workflow run  as noraml

## Diagnostics

What Kubernetes provider are you using?

local k8s cluster

What version of Argo Workflows are you running?
3.0.8

What executor are you running? Docker/K8SAPI/Kubelet/PN

[2021-08-11 07:38] ZhengJuCn commented on #6526
maybe not first workflow's pod..

i check creationTimestamp of the exist pod, it more close to second

i found  more related log in workflow-controller:

**Workflow pod is missing "namespace=xx nodePhase=xx podName=xx"**

i search this in the argo-worflow code, found

https://github.com/argoproj/argo-workflows/blob/a105b137c97e5aea852c6db6e77997ca3713cb08/workflow/controller/operator.go: 1035

som

[2021-08-11 07:48] ZhengJuCn commented on #6526
@sarabala1979 any possible to give some help, thank you~..

[2021-08-11 13:31] wdma opened #6528 "Error while using argo commands"
## Summary

I have installed the latest Argo Workflows using the manifest found here:

https://github.com/argoproj/argo-workflows/releases/tag/v3.1.5

When I run the Hello World example, I am getting the following error:

FATA[2021-08-11T08:50:53.533Z] rpc error: code = NotFound desc = the server could not find the requested resource (get workflows.argoproj.io)

There is also the following non fat

[2021-08-11 15:24] sarabala1979 commented on #6528
@wdma It looks like CRD didn't get installed on your cluster. Have you applied below command on your cluster?
[code]

[2021-08-11 15:29] wdma commented on #6528
Hm.  I thought i had....

It worked! Thank you

[2021-08-11 15:29] #6528 closed

[2021-08-11 15:33] sarabala1979 commented on #6526
@ZhengJuCn Can you provide your reproduction steps? If you delete workflow and create the same name simultaneously, the created workflow is stuck for the next sync period(20m).  Possible informer events will be overwritten with the latest event.
how busy is your cluster? you can increase the no of workflow work to pick all events immediately. So, Delete and create will be process. default `workflo

[2021-08-11 15:57] #6521 closed

[2021-08-11 16:07] atombender opened #6529 "Show workflow title/description in UI"
# Summary

Support showing a title and/or description for workflows in the UI, instead of the less readable `metadata.name`.

# Motivation

The `metadata.name` is an identiifer, not a title. It ends up being something like:

It would be much more readable if you could have something like:

Should be easy enough to read a standard annotation such as `workflows.argoproj.io/description` for this. It'

[2021-08-11 16:35] #6481 closed

[2021-08-11 16:45] zxpower commented on #5097
I'm noticing the same in v2.12.11. Trying to run following workflow and when `subtask` tries to execute then `when:` clause kills it with `invalid character 'a' in literal true (expecting 'r')` (as well I got `invalid character 'i' looking for beginning of value` in similar workflow, but again it happened while evaluating `when:` that contained output from dependent task).

Here is workflow.yaml:

[2021-08-11 16:58] sarabala1979 opened #6530 "v3.1.6 cherry-pick"
- [x] Saravanan Balasubramanian: fix: Fix the Status update for node with synchronization lock (#6525) 903ce68ff
- [x] Alex Collins: fix: Upgrade pkg to v0.10.1. Fixes #6521 (#6523) a38460342
- [ ] Saravanan Balasubramanian: fix(controller): fix tasket warning in Non-HTTP Template scanerio (#6518) 0670f652c
- [ ] Alex Collins: docs: update PR template 863d22631
- [ ] Ivan Karol: docs: Update argo-

[2021-08-11 17:33] blkperl opened #6531 "TestGitArtifactDriverLoad_SSL fails locally with "private key is passphrase protected""
## Summary

When running `make test` locally on the master branch TestGitArtifactDriverLoad_SSL fails due to the private key having a password.  The test should either generate it's own key or be automatically skipped when run locally.

## Diagnostics

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-08-11 17:34] tymokvo opened #6532 "workflow-controller memory usage increases monotonically"
## Summary

Opened by request of @sarabala1979 on slack [here](https://cloud-native.slack.com/archives/C01QW9QSSSK/p1628702076319100?thread_ts=1628701743.317800&cid=C01QW9QSSSK).

What happened/what you expected to happen?

workflow-controller's memory usage increased monotonically for each submitted workflow. I expected its memory usage to free up some time after the workflow transitioned to a "f

[2021-08-11 17:38] alexec commented on #6530
done

[2021-08-11 17:41] sarabala1979 commented on #6532
I can see log `Deleting TTL expired workflow` so I think TTL is working. Can you provide little more information about your environment? how busy is your cluster?
Can you check your cluster whether already deleted workflow is still there?
`Deleting TTL expired workflow '793fb579-caf4-49d1-a7e6-f4bb1d246095/bf14d17b-a55f-50d3-8420-f6196563b19e'"`

[2021-08-11 17:45] tymokvo commented on #6532
The cluster is under pretty heavy load. This workflow `bf14d17b-a55f-50d3-8420-f6196563b19e` was one of 216 that a user submitted at once which created a total of 3493 nodes.

[2021-08-11 17:49] sarabala1979 commented on #6532
@tymokvo it means TTL is deleting. Because of Big workflows and heavy load on new workflows controller informer size is growing.
Can you try to reduce TTL time?

[2021-08-11 17:50] tymokvo commented on #6532
Yep, I will do that and follow up here. Thanks!

[2021-08-11 17:53] alexec commented on #6532
Memory usage should be less that 1GB in most use cases:

* How many workflows are you running.
* How many nodes per workflows on average?

Can we get a pprof dump please?

This is an example: https://github.com/argoproj/argo-workflows/blob/master/hack/capture-pprof.sh

[2021-08-11 18:05] tymokvo commented on #6532
We have seen it increase to ~10GB after running 215 workflows with a total of 55,492 nodes over the course of 8 hours at which point the node was OOM and killed the workflow-controller and a few of our other monitoring services.

I will get the pprof dump asap.

[2021-08-11 18:52] aaronmell commented on #2800
@ksudhir007 We really need this feature as its blocking implementation of workflow in an important project for us, so we put it in our current sprint.

[2021-08-11 19:43] tymokvo commented on #6532
pprof output files [1](https://storage.googleapis.com/pollination-public/blobs/argo-test/workflow-controller-pprof-2021-08-11/pprof.workflow-controller.alloc_objects.alloc_space.inuse_objects.inuse_space.001.pb.gz), [2](https://storage.googleapis.com/pollination-public/blobs/argo-test/workflow-controller-pprof-2021-08-11/pprof.workflow-controller.alloc_objects.alloc_space.inuse_objects.inuse_space

[2021-08-11 20:40] rwong2888 opened #6534 "github webhook stopped working"
Did something release in
https://docs.github.com/en/enterprise-server@3.1/admin/release-notes

that broke
https://argoproj.github.io/argo-cd/operator-manual/webhook/

Nothing changed on my end, but webhooks stopped working.

I confirmed secret is same and I can hit /api/webhook endpoint and receive a "Unknown webhook event" in the browser.

![image](https://user-images.githubusercontent.com/614703

[2021-08-11 21:34] tymokvo commented on #6532
For the same duration as the log file linked above `2021-08-10T06:50:00` to `2021-08-11T17:30:00` (~10.5hrs) we ran 452 workflows. These were started in groups of related workflows that we call "jobs"

Here's a table of how the load over time breaks down:

| job_id   | started_at          | finished_at         | workflow_count | nodes |
| -------- | ------------------- | ------------------- | ----

[2021-08-11 21:47] alexec commented on #6532
The heap dump is missing, and allows appears to be attached twice? It's the heap I want to see most.

[2021-08-11 21:48] alexec commented on #6532
It might be good to set-up 30m: https://bit.ly/book-30m-with-argo-team

[2021-08-11 21:52] tymokvo commented on #6532
Ok, I will try to find some time. I ran it again and captured the heap dump svg [here](https://storage.googleapis.com/pollination-public/blobs/argo-test/workflow-controller-pprof-2021-08-11/pprof001.svg).

[2021-08-11 21:56] alexec commented on #6532
I though I'd jump in - but I didn't see anything out of the ordinary in the pprof dumps.

Can I ask you to review https://argoproj.github.io/argo-workflows/running-at-massive-scale/

Additionally, you didn't state if this is a regression or not, is this is a brand new installation?

[2021-08-11 22:07] tymokvo commented on #6532
It's hard to tell if it's a regression, it's the first time that we've experienced this specific issue. We weren't running this kind of load before upgrading to Argo 3 and we've been using 3.1.0-rc14 for a while now (though we had to fork and patch to mitigate #6276 )

Re: running at massive scale, we've implemented parallelism limits, and we're using the emissary executor, and the k8s cluster can

[2021-08-11 22:10] alexec commented on #6532
Try the re-queue setting, if that works great, if not - lets get on a call.

[2021-08-11 22:12] alexec commented on #6532
Code - you really should be running the latest version which will be v3.1.5 (or v3.1.6 if that is released today). If needs be, fork and re-apply your patch.

[2021-08-11 22:16] tymokvo commented on #6532
Ok, I'll start there.

[2021-08-11 22:18] #5942 closed

[2021-08-12 00:03] alexec opened #6535 "Add summary to workflows list page"
Like Apache Fink:

![image](https://user-images.githubusercontent.com/1142830/129118747-a974d40b-7e61-4739-938a-e0b58d006831.png)

[2021-08-12 01:22] tymokvo commented on #6532
One thing I forgot to mention: we are using per-user namespaces with resource limits to prevent users starving each other of CPU/memory. This and our resource allocation settings amount to each namespace being able to run ~66 pods simultaneously.

In order to test the suggested changes appropriately, I've been trying to replicate the memory consumption behavior on our test cluster and have gotten

[2021-08-12 01:41] ZhengJuCn commented on #6526
@sarabala1979

**reproduction steps:**
1 . create workflow-A (entrypoint: steps -> steps: A-template (only one step) -> A-template: sleep 5 second then exit)
2.  wait worflow-A to be completed
3.  delete workflow-A then create workflow-A (same name & same spec, all same) (actually this time i wait get workflow-A return notfound & list all pods with label workflow-A with notfound then create workfl

[2021-08-12 05:39] Bobgy commented on #6530
Can I ask for cherry pick  Yuan (Bob) Gong: fix(executor/docker): re-revert -- fix random errors with message "No such container:path". Fixes Random failures with message "Error: No such container:path: ... This does not look like a tar archive tar" #6352 (fix(executor/docker): re-revert -- fix random errors with message "No such container:path". Fixes #6352 #6508)?

[2021-08-12 13:29] rwong2888 commented on #6534
I think it may be related to this brownout period.

However, will this functionality cease to work after Sept 8, 2021 14:00 UTC?

https://github.blog/changelog/2021-04-19-sunsetting-api-authentication-via-query-parameters-and-the-oauth-applications-api/

[2021-08-12 13:34] #6522 closed

[2021-08-12 13:52] rwong2888 commented on #6534
Looks like oauth endpoints have been deprecated 8/11 and query params deprecating 9/8

https://developer.github.com/changes/2020-02-14-deprecating-oauth-app-endpoint/

https://developer.github.com/changes/2020-02-10-deprecating-auth-through-query-param/

[2021-08-12 14:20] egeland commented on #6355
Would be great if we just specify the TLS location, like
[code]

Then you can have cert-manager create and maintain with config like:
[code]

[2021-08-12 14:29] Marks-Ed commented on #6530
Reckon I could sneak https://github.com/argoproj/argo-workflows/pull/6512 in or will that need to wait until 3.1.7?

[2021-08-12 15:12] rwong2888 commented on #6534
wrong repo. recreated https://github.com/argoproj/argo-cd/issues/6974

[2021-08-12 15:12] #6534 closed

[2021-08-12 15:21] steve-marmalade opened #6536 "Intermittent "invalid cache key" error for step memoization"
## Summary

Argo Workflows will intermittently crash with an "invalid cache key" error and then succeed upon retry.

It appears that in the failure mode, the variable substitution step has not occurred yet, and so Argo is attempting to use the entire expression as the cache key (which contains invalid characters). Maybe there's a race condition somewhere?

## Diagnostics

What Kubernetes provider

[2021-08-12 16:19] sarabala1979 commented on #6536
@steve-marmalade Can you provide the reproducible workflow yaml? Can you share the controller log?

[2021-08-12 16:33] sarabala1979 commented on #6530
we will include it

- [ ] github-actions[bot]: docs: updated CHANGELOG.md (#6524) 88520891a
- [x] Ed Marks: fix: use execWf when setting PodMetadata (#6512) dc4f0a172
- [ ] Henrik Blixt: docs: TOB-ARGO-TM16: Update Quickstart guide (#6515) 333df2b1f
- [ ] Miles Croxford: docs(users): add arabesque (#6533) 047ae4f5e

[2021-08-12 20:19] #6080 closed

[2021-08-12 22:24] jessesuen opened #6537 "Workflow install.yaml should switch from docker.io to quay.io"
# Summary

Argo project install manifests should install from quay.io instead of docker.io due to the rate limiting enforced by docker.io. All other projects (CD, Rollouts, Events) install manifests have been updated to quay.io and Workflows is the last remaining.

# Use Cases

Install without rate limiting. The error users are getting is:

[code]

---

**Message from the maintainers**:

Impacted

[2021-08-12 23:28] Radolumbo commented on #6243
@simster7 Any update on this? Might look to pick this up on my team sometime soon if not.

[2021-08-13 01:46] #6492 closed