[2021-03-26 20:35] sarabala1979 commented on #5525
@vbarbaresi I will look into it

[2021-03-26 21:23] MuhammadZeeshan34 commented on #2522
Hi. I have created the exact same 3 roles, service accounts and respected roleBindings. I am able to run workflow but somehow container does not have permissions to write. Is it something to do with these roles or I need to make changes in the pod level or container level securityContext?
Here are the yamls I used https://github.com/argoproj/argo-workflows/discussions/5517

[2021-03-26 21:33] alexec opened #5526 "`TestRetriesVariableInPodSpecPatch` broken on `master`?"
@dinever ?

[2021-03-26 21:34] dinever commented on #5526
Let me see

[2021-03-26 21:34] alexec commented on #5525
Does the metrics endpoint start if we are not leader? @terrytangyuan ?

[2021-03-26 21:38] alexec commented on #5526
https://github.com/argoproj/argo-workflows/actions/workflows/ci-build.yaml?query=branch%3Amaster

[2021-03-26 21:45] sarabala1979 commented on #5525
@alexec It will not start

[2021-03-26 21:46] sarabala1979 commented on #5525
I am fixing it. I am able to reproduce locally.

[2021-03-26 21:46] sarabala1979 commented on #5525
I am fixing it. I am able to reproduce locally.

[2021-03-26 21:56] dinever commented on #5526
Hi @alexec, could you point me to a build in which `TestRetriesVariableInPodSpecPatch` fails? I checked several builds and the case seems to have passed. Thanks!

[2021-03-26 21:58] alexec commented on #5526
Maybe it is flakey. Lets just monitor for now.

[2021-03-26 22:28] terrytangyuan commented on #5525
Nope, currently it only starts when the leader starts leading but not for other instances. We should also add some tests to make sure the non-leading replicas are all heathy.

[2021-03-27 03:39] dcu commented on #1457
this was fixed in go-git/go-git#70

[2021-03-27 07:04] bgdnlp commented on #5523
Yeap. We were indeed doing something stupid. We didn't set `alb.ingress.kubernetes.io/backend-protocol` to `HTTPS`, only the health check was set.

Shouldn't `--secure=false` turn off TLS though? It doesn't seem to do that.

[2021-03-27 11:09] SophiaNamesLiu commented on #1519
Hi，have you solved this problem？
I have read the source code of ‘argoexec resource’, and I found that there are saving output parameters in the source code. However, there aren't saving output artifacts.
I'm not sure if it is possible to use output artifact with resource.

[2021-03-28 02:14] kennytrytek commented on #5320
I have a draft PR up with what I thought were the required changes to make this work. However, my local testing does not produce any `WorkflowNodeRunning` events, so I must be missing something. See my PR testing notes for more details.

[2021-03-28 04:44] lowc1012 commented on #3587
Hi, Is anybody working on this issue?
I'm interested in working on this. Could I take it forward?

[2021-03-28 13:00] lowc1012 opened #5532 "make codegen failed"
## Summary
Hello, I am new here. I would like to join and contribute to this awesome project but I don't know much about development in GO.

I watched the contributor workshop [vedio](https://www.youtube.com/watch?v=zZv0lNCDG9w) and followed instructions. I have a problem with "make codegen" command locally.

<img width="1172" alt="IMG" src="https://user-images.githubusercontent.com/52355146/11275

[2021-03-29 07:22] tim-sendible opened #5534 "When searching for a workflowTemplate, the text box isn't autoselected"
## Summary

This is minor, but also really annoying when trying to run a bunch of workflows from the UI.

1. Go to /workflows
2. Click 'Submit new workflow'
3. Click in the 'select a workflow template' text area
4. Start typing

Issue: Your typing isn't refining the search.

I have to click _again_ in the text dropdown for my typing to be effective.

## Diagnostics

What Kubernetes provider are yo

[2021-03-29 08:15] RoiSightfull commented on #5506
Thanks for the quick comment!

## Syntax
Regarding the syntax I though something along the lines:
[code]

The valueFrom idea is taken from here: https://argoproj.github.io/argo-workflows/examples/#secrets

## Secrets location
regarding the location of the secrets, I think placing the secret in the user namespace and giving permissions to the controller to this specific secret only will pass most s

[2021-03-29 09:25] Bobgy commented on #5473
Thank you all!

May I ask for a cherry pick to v2 branch?

[2021-03-29 10:18] lukeFalsina opened #5536 "Custom metrics for referenced template from workflowTemplate are not expanded when using iterations"
## Summary

What happened/what you expected to happen?

I have a workflow that references in its steps a template stored in a `workflowTemplate` object. This template emits a custom metric with a label value based on an input parameter passed to the template.

In the workflow's code I am referencing the external template (i.e., using `templateRef`) in an iterative way using `withItems` or `withPar

[2021-03-29 13:39] vbarbaresi commented on #5473
I experience a similar error on `v3.0.0-rc9` but it happens randomly. I'm triggering the same `WorkflowTemplate` with similar parameters every 5 minutes, and the panic happens roughly 20% of the time.

[code]

I diffed the `Workflow` objects between to try to spot any difference

[code]
On the workflow that triggered the panic, my parameters seem to be missing from this field, despite being presen

[2021-03-29 14:00] terrytangyuan opened #5538 "[Proposal] Guard workflow controller's configmap from being modified by memoization"
# Summary

What change needs making?

Add identifier for workflow controller's configmap and avoid modifying it by memoization.

# Use Cases

When would you use this?

If a user submits a workflow that contains the following in the template:
[code]
The controller's configmap will be accidentally modified to something like:
[code]

As a result, this cache entry is invalid and controller fails to up

[2021-03-29 14:40] danilorsilva opened #5539 "Error to access UI using port-forward"
## Summary

Error when i try to access UI using port-forward

## Diagnostics

What Kubernetes provider are you using?

GKE 1.18.15

What version of Argo Workflows are you running?

Latest - Using namespaced installation

LOG:

When i try to access:

[code]

[code]

[2021-03-29 15:29] alexec commented on #5506
That looks good. Would you like to submit a PR?

[2021-03-29 15:31] alexec commented on #5473
@sarabala1979 ?

[2021-03-29 15:32] alexec commented on #5539
try starting using `--secure=false`

[2021-03-29 16:57] danilorsilva commented on #5539
Thanks @alexec

I need to set --secure=false, --auth-mode=server and change de readness probe from https to http.

[2021-03-29 17:26] simster7 commented on #5536
Will take a look

[2021-03-29 18:53] sarabala1979 commented on #4894
yes I will do it

[2021-03-29 19:56] simster7 opened #5541 "v3.0.0-rc10 cherry-pick"
* [ ] Simon Behar: chore: Lint master (#5527) eb6f3a14f
* [ ] Yuan Tang: docs: Add instruction on configuring env vars for controller and executor (#5524) a443c53d1
* [ ] Yuan Tang: feat(controller): Add last hit timestamp to memoization caches (#5487) 76b6a0eff
* [x] Simon Behar: fix: Default to insecure mode when no certs are present (#5511) a61d84cc0
* [ ] Riccardo Piccoli: fix: add softonic as

[2021-03-29 19:58] simster7 opened #5542 "v2.12.11 cherry-pick"
* [ ] Simon Behar: chore: Lint master (#5527) eb6f3a14f
* [ ] Yuan Tang: docs: Add instruction on configuring env vars for controller and executor (#5524) a443c53d1
* [ ] Yuan Tang: feat(controller): Add last hit timestamp to memoization caches (#5487) 76b6a0eff
* [ ] Simon Behar: fix: Default to insecure mode when no certs are present (#5511) a61d84cc0
* [ ] Riccardo Piccoli: fix: add softonic as

[2021-03-29 20:10] alexec commented on #5541
done

[2021-03-29 20:10] alexec commented on #5541
I vote we GA.

[2021-03-29 20:49] #5525 closed

[2021-03-29 21:30] rysunder opened #5543 "Workflow hangs indefinitely during "ContainerCreating" if the Pod or Node unexpectedly dies"
## Summary
When a node is drained or pods are evicted from a node during the "ContainerCreating" step, the argo-workflow goes into a zombie state; perpetually waiting for the non-existent container to create.

Ideally at this stage argo would recognize the pod/node is no longer present and retry the task or report a failure for that workflow.

The easiest way to reproduce this error is to delete t

[2021-03-29 21:49] sarabala1979 opened #5544 "Implement Agent functionality -Controller Side"
# Summary
All functionality is needed to support the Agent model.

1. Create and monitor Agent Pod
2. Controller will create one Taskset and Agent per workflow.
2. Create Taskset  resource when controller sees the first HTTPTemplate
3. Controller will upset next  HTTPTemplate into created Taskset
4. Controller will check the Taskset status and node result.
5. Controller will update Taskset result

[2021-03-29 22:30] simster7 commented on #5541
Same, I'll make a GA release

[2021-03-29 22:40] ebr commented on #4508
@saitoy1 did you find a viable workaround?

[2021-03-30 01:16] dinever commented on #3644
Yes. If we have `parallelism: 3` and `failFast: true`, if one iteration fails, the entire sequential loop will fail fast, and the iterations that are not running yet will not be triggered.

Try this. We have 5 iterations and `parallelism: 3`. In this case, the first 3 iterations will run together. The next 2 iterations will not run.

[code]

![Screen Shot 2021-03-29 at 9 14 56 PM](https://user-ima

[2021-03-30 02:54] alexec commented on #5543
Maybe this is some interplay between parallelism and created nodes. However, I'm surprised we have not had a any other complaints about this as I would imagine it would pretty common.

[2021-03-30 03:30] kennytrytek commented on #5320
PR moved out of draft; ready for review.

[2021-03-30 03:57] book987 commented on #5541
Hi, can we pick #5315 in RC10?

[2021-03-30 04:07] tszngai commented on #1391
Is there a way to allow users to enter (or select) parameters when resuming a suspended workflow on the UI?
User inputs can be easily added in Jenkins. I would imagine this should be available in argo workflow too. Thanks

[2021-03-30 04:10] tszngai commented on #4910
Would be great if this is enabled on the UI as well. Currently if a user clicks resume on the UI, it'd resume all suspended nodes. But ideally we want to be able to select which node to resume.

[2021-03-30 06:30] tim-sendible opened #5545 "Allow us to customize the sso logout timer"
# Summary

If you have SSO set up, you get logged out after 24 hours (possibly before, but I do sleep somtimes!). This is frustrating for our end users who are used to tools of this nature remembering their credentials for a long time after logging in.

However, I appreciate that some companies will have security requirements that mandate that users are logged out more frequently.

An option in th

[2021-03-30 06:34] tim-sendible commented on #5508
Your assumption was correct. RDS was helpfully disconnecting. I believe I have addressed this now, even if I haven't, the database is at fault, not argo-workflows. Thanks.

[2021-03-30 06:34] #5508 closed

[2021-03-30 08:38] tim-sendible opened #5547 "Widgets help link goes to the wrong url"
## Summary

1. Go to a running workflow
2. Click the 'share' button
3. Scroll down to "Widgets not loading? Check for solutions in the docs."
4. The link goes to https://argoproj.github.io/argo/widgets

As you don't have a global redirect in place, this doesn't link to the new repo name

## Diagnostics

What Kubernetes provider are you using? EKS 1.19

What version of Argo Workflows are you runnin

[2021-03-30 14:27] alexec commented on #5547
This is a small fix, would you like to contribute? It would just be a search and replace of `argoproj.github.io/argo/` for ` argoproj.github.io/argo-workflows`.

[2021-03-30 14:31] alexec commented on #5545
This is possible already in >= 2.12:

https://github.com/argoproj/argo-workflows/commit/4bacbc121ae028557b7f0718f02fbb25e8e63850

But it is not documented, would you like to add it?

@arghya88 FYI

[2021-03-30 14:35] simster7 commented on #5541
Hi @book987. Sorry, this didn't make it on the release. Since it's a feature we'll want to release is with `v3.1`. I can make a dev build with `v3.0.0` + #5315 for you to test and get it straight away. Are you interested?

[2021-03-30 14:35] simster7 commented on #5541
Released

[2021-03-30 14:35] #5541 closed

[2021-03-30 14:42] simster7 commented on #5466
This is now fixed in [`v3.0.0`](https://github.com/argoproj/argo-workflows/releases/tag/v3.0.0)

[2021-03-30 14:48] tim-sendible commented on #5545
oh nice. Yes, I'll document that.

[2021-03-30 15:45] tomgoren commented on #4965
I think that for us this is no longer relevant as we've been on latest/3 based releases for a while. Feel free to close @alexec

[2021-03-30 15:53] #4965 closed

[2021-03-30 16:53] deepk2u opened #5549 "Timeout for resource template"
# Summary

need a way to be able to timeout the resource operation if it's taking too much time

# Use Cases

We have some custom resources which take a lot of time for many reasons and workflow gets stuck on that step and we want to be able to timeout the step

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-03-30 17:37] terrytangyuan commented on #5549
A solution to this could be setting `ActiveDeadlineSeconds` for the pod/main container in `workflowSpec.PodSpecPatch` and then setting your resource's owner reference to that particular step so that the CR would not continue running forever.

[2021-03-30 18:10] alexec commented on #5539
` Service Unavailable: connection error: desc = "transport: authentication handshake failed: x509: certificate relies on legacy Common Name field, use SANs or temporarily enable Common Name matching with GODEBUG=x509ignoreCN=0"`

[2021-03-30 18:11] alexec commented on #5539
https://github.com/jaegertracing/jaeger/issues/2435

[2021-03-30 18:12] alexec commented on #5539
https://github.com/golang/go/issues/39568#issuecomment-671424481

[2021-03-30 18:34] vandreykiv commented on #5523
`--secure=false` works for us

[2021-03-30 18:50] alexec opened #5551 "v2.12.11"
Added 199016a6bed5284df3ec5caebbef9f2d018a2d43 feat(server): Enforce TLS >= v1.2 (#5172)

[2021-03-30 18:51] simster7 commented on #5551
Absolutely

[2021-03-30 20:15] #5520 closed

[2021-03-30 20:36] jsoref commented on #4974
I do not like bots

[2021-03-30 20:36] jsoref commented on #4973
I do not like bots

[2021-03-30 20:36] jsoref commented on #4970
I do not like bots

[2021-03-30 20:44] aido93 commented on #5466
@simster Thank you for your comment. I spent 2 hours for changing "--secure false" to "--secure=false"

[2021-03-30 22:34] #5539 closed

[2021-03-30 22:42] simster7 commented on #4970
@jsoref Would you like to submit a PR?

[2021-03-31 04:57] dcherman commented on #5495
Mind assigning this one over to me?  I'm currently working on it as time allows when I can steal 30m here or there, hoping to have an MVP to share/review within a couple weeks.

[2021-03-31 06:42] windmark opened #5554 "Argo Server Key Permission Denied"
## Summary
Upgraded from v2.12.10 to v3.0.0 for Argo Workflows [installed namespaced](https://github.com/argoproj/argo-workflows/blob/v3.0.0/manifests/namespace-install.yaml) in Openshift v4.5. Openshift is running unprivileged and I'm getting permission denied on the argo-server.key.

This seems directly related to #5476 and #5460 but they are both merged, so I didn't expect this to happen in the

[2021-03-31 09:14] tim-sendible opened #5557 "Allow for epoch time in links"
# Summary

I want to be able to add a link on the workflows screen along these lines:
`https://randomtool.mycompany.biz/wibble?start=${status.startedAt}&end=${status.endedAt}&workflow=${metadata.name}`

However, I need the date format to be in unix epoch (because this is what the tool accepts), not standard date format.

Being able to do something like this would be ideal:
`https://randomtool.myco

[2021-03-31 11:13] tim-sendible opened #5558 "Adding an annotation to a cron via ui also adds a label with the same name"
## Summary

1. Add a cron workflow
2. Go to the Workflow Metadata tab of that cron workflow in the ui
3. Enter an annotation name and value  eg  `test: issue` and hit enter

issue: both the annotations and the labels fields are populated. The manifest is updated to reflect this.

## Diagnostics

What Kubernetes provider are you using? EKS 1.19

What version of Argo Workflows are you running?  3.0

[2021-03-31 14:23] simster7 commented on #5557
Seems like sprig [supports](https://masterminds.github.io/sprig/date.html) these types of functions. I'll make sure you're able to use them with [expression variables](https://github.com/argoproj/argo-workflows/blob/master/docs/variables.md#expression). Note, however, that expression variables are a v3.1 feature

[2021-03-31 14:24] simster7 commented on #5554
Yup, we had similar issues on the v3.0.0 release. I am working on a v3.0.1 release right now. Would you be willing to test a development build to make sure that what I am about to release works as expected? @windmark

[2021-03-31 14:25] simster7 commented on #5551
Closing, marked this commit to be included in https://github.com/argoproj/argo-workflows/issues/5542

[2021-03-31 14:25] #5551 closed

[2021-03-31 14:39] alexec commented on #5542
Done

[2021-03-31 14:39] alexec commented on #5554
Didn’t RedHat fix this?

[2021-03-31 14:46] #5547 closed

[2021-03-31 15:01] alexec commented on #5543
@rysunder can you please run the workflow without parallelism (or until running nodes complete) and see if the third pod runs?

[2021-03-31 15:13] simster7 commented on #5554
Yes (if you're referring to @sbose78's PRs), but the commits weren't cherry-picked to the release.

[2021-03-31 16:50] rysunder commented on #5543
@alexec We originally ran it without Max Parallelism set.  We tried to fix the issue by setting Max Parallelism to 100.  If that is what you meant by "without parallelism" then we have already tested that with the same effect.  Also "parallelism reached 1/1" is mentioned multiple times in the logs.

Is there any other information that may be helpful?

[2021-03-31 17:29] alexec commented on #5543
the controller will not schedule any pods where you reach parallelism - the example you attached has reached max parallelism - I want to know if disabling it allows those pods to scheduled which will help shed light on whether or not it is a bug with that feature, or something else

[2021-03-31 18:16] alexec opened #5563 "Upgrade to Golang 16"
https://github.com/golang/go/issues/39568

GODEBUG is removed in Golang 16, so we may need to find a solution to this.

[2021-03-31 18:18] windmark commented on #5554
Hey, that sounds good! I can absolutely test it out.

[2021-04-01 07:48] tim-sendible opened #5566 "Can't kubectl get a pod that wasn't created by argo-workflows"
## Summary

1. Manually deploy a pod to your cluster (I'll use a deployment so that we get a random pod name):  `kubectl create deployment nginx --image=nginx -n ci`
2. Create a simple workflow to get the pod and determine the name:

[code]

When you run this, it fails...
`level=error msg="`[kubectl get Pod./ -o jsonpath={.metadata.name} -n ci]` stderr:\nerror: arguments in resource/name form must

[2021-04-01 10:07] book987 opened #5567 "archive workflow got duplicate entry error"
## Summary

There were some workflows already archived but still labeled archive-status pending. After that every resync period the controller archiving these workflows got duplicate entry error from db.

I don't know why these workflows' labels didn't changed ( maybe some delete/restart workflow-controller operations cause this ). But the duplicate entry issue is controller [doesn't cleanup befor

[2021-04-01 10:24] book987 commented on #5567
similar with #2427, it leads to a fix which clean up archived workflow before insert

[2021-04-01 11:19] chtcvl commented on #4804
Still facing the issue in v3.0.0.

[2021-04-01 13:03] laymain opened #5570 "Passing a string array as an input parameter of a template"
# Summary

It would be nice to be able to define dynamic template parameters using string arrays.

As a workaround I can define multiple templates pointing to the same image, but it would drastically reduce the workflow complexity since all the pod configuration (annotations, labels, nodeSelector, tolerations...) has to be duplicated.

_Feature has already been requested here: https://github.com/a

[2021-04-01 13:20] terrytangyuan commented on #5566
The `./` you are seeing is just that the way we log that can be certainly improved. For example, here's a successful one if we just try to match with a specific pod name instead:

`time="2021-04-01T13:15:31.129Z" level=info msg="[kubectl get Pod./nginx-f89759699-pt7cf -o jsonpath={.metadata.name} -n argo]"
time="2021-04-01T13:15:31.244Z" level=info msg="Saved output parameter: pod_name, value: ngi

[2021-04-01 13:29] laymain commented on #5570
Here is another workaround based on this comment: https://github.com/argoproj/argo-workflows/issues/3191#issuecomment-641630979

[code]

Pretty ugly workaround but it does work until we have a more elegant solution ;)

[2021-04-01 13:48] terrytangyuan commented on #5566
Looks like `kubectl get -f` only supports identifying resources by name? From their help doc:

[code]

[code]
which doesn't return the actual json object for the pod.

[2021-04-01 13:54] simster7 commented on #5570
I was about to bring that workaround up :)

I agree that a first-class solution would improve UX here. I'll look into it :)

[2021-04-01 14:09] terrytangyuan commented on #5566
We can perhaps try support this by locating the pod name using the labels first (e.g. `kubectl get pods -l app=nginx -n argo -o jsonpath='{.items[*].metadata.name}'`) before we try to save the resource parameters or at least improve the error message.

In the meantime, it's probably easier to use a script template that contains `kubectl` commands directly so you can manipulate the output in a more

[2021-04-01 14:10] tim-sendible commented on #5566
Yeah, I have a workaround using a kubectl container at the moment, but I thought it was an interesting use case that doesn't seem to be handled.

[2021-04-01 14:16] terrytangyuan commented on #5566
Actually the resource template is only supposed to operate on a single resource so I don't think it makes sense to support label selectors that might return multiple objects (which we may also need to provide meaningful error messages).

[2021-04-01 14:28] mhensley-cls opened #5572 "Port forwarding not connecting to the server"
## Summary

Port Forwarding to fresh server install not working.

## Diagnostics

What Kubernetes provider are you using?

`On Prem - v1.20.2`

What version of Argo Workflows are you running?  `argoproj/argocli:v3.0.0`

[code]

Port forwarding works for other deployments /services.

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the

[2021-04-01 14:33] simster7 commented on #5572
Yup! We're aware of this issue. Working on it right now.

Workaround is to use `--secure=false` when starting `argo server` and connecting via HTTP. You might have to also change your readiness checks.

[2021-04-01 14:39] Atharex opened #5573 "Issue installing Argo v3.0.0"
## Summary

What happened/what you expected to happen?
Wanted to try Argo v3.0.0 installation, but I get a Service Unavailable error.

## Diagnostics

What Kubernetes provider are you using?
Local kubeadm installation v1.19.7

What version of Argo Workflows are you running?
v3.0.0

I've followed the standard install instructions

[code]

Then I get the following error on `https://localhost:2746`
!

[2021-04-01 14:40] mhensley-cls commented on #5572
Ahh, thanks @simster7 . I scanned over #5539 and didn't make the connection that `argo server --secure=false` was the temp workaround for the time being. (coffee hasn't kicked in yet)

![image](https://user-images.githubusercontent.com/76120104/113310841-a727eb80-92d6-11eb-92b2-0f49f220fb84.png)

[2021-04-01 14:43] alexec commented on #5573
This is fixed in v3.0.1

[2021-04-01 14:44] Atharex commented on #5573
Ok, will wait for v3.0.1 then :+1:

[2021-04-01 14:48] Atharex commented on #5573
#5572 was slightly faster posting about this issue. Can confirm the workaround mentioned there works!
![argo-works](https://user-images.githubusercontent.com/2872241/113311780-f1769000-9309-11eb-893b-fe468b27f1f8.png)

[2021-04-01 14:48] #5573 closed

[2021-04-01 14:49] alexec commented on #4804
Can you try latest and see if it fixed there it might be the fix didn’t make v3

[2021-04-01 14:53] alexec commented on #5567
We should already tolerate duplicate entries to prevent this exact issue. If archiving happens, but there is a duplicate entry, the work should get marked as archived.

Did the workflows stay in pending state?

[2021-04-01 15:48] alexec commented on #5572
Can be closed.

[2021-04-01 15:49] #5572 closed

[2021-04-01 15:51] alexec commented on #4973
That does look odd, but I think it is annoyance.

[2021-04-01 15:51] alexec commented on #5545
Closing.

[2021-04-01 15:51] #5545 closed

[2021-04-01 15:53] alexec commented on #5567
I've just reviewed the code, and I was wrong.

[2021-04-01 16:08] alexec commented on #5543
@sarabala1979 there may be two issues here:

* Is max parallelism preventing scheduling until running pods complete? It's not clear to me if there is actually an issue here.
* Is there some issue with ignoring or missing `ContainerCreating`? Those pods will be in `Pending` state.

[2021-04-01 16:11] saitoy1 commented on #4508
Hi @ebr,
Yes, at the least this workaround has been working on my end, which roughly looks like the following:
[code]
The step of reporting final artifacts is a script step written in Python. I just use Python's `dict` to eliminate duplicates before the final report. Should this issue get fixed, I will remove this band-aid. Hope that answers your question?

[2021-04-01 16:13] saitoy1 commented on #4508
Hi @ebr,
Yes, at the least this workaround has been working on my end, which roughly looks like the following:
[code]
The step of reporting final artifacts is a script step written in Python. I just use Python's `dict` to eliminate duplicates before the final report. Should this issue get fixed, I will remove this band-aid. Hope that answers your question?

[2021-04-01 16:21] #5567 closed

[2021-04-01 16:23] alexec commented on #5365
Close?

[2021-04-01 16:23] #5365 closed

[2021-04-01 16:23] alexec commented on #5349
Close?

[2021-04-01 16:23] #5349 closed

[2021-04-01 16:31] brandonaikey opened #5574 "Script outputs.result not rendering in fanout nested dag"
## Summary

After upgrading from v3.0.0-rc8 to v3.0.0, one of our workflows began experiencing an issue with rendering `outputs.result` from a script task in a dag that is nested under some fanouts. This issue only occurs if the dag is nested, and regardless of if it is in the same template or separated into its own. We expected this functionality to continue working the same after upgrading.

The

[2021-04-01 16:50] alexec commented on #5513
@shuker85 I've not been able to reproduce this issue. I cannot run your email, so needed something more minimal, so it maybe there's something important in your example. Can you please run this

[code]

[2021-04-01 17:01] alexec commented on #3991
Should be fixed now? https://pkg.go.dev/github.com/argoproj/argo-workflows/v3

[2021-04-01 17:01] #3991 closed

[2021-04-01 17:37] simster7 commented on #5574
Will take a look

[2021-04-01 17:41] simster7 commented on #5572
@mhensley-cls Are you able to test a potential fix for this issue? If so, try: `argoproj/argocli:dev-ensure-certs-fixed`. You will probably have to “Proceed Anyway” when your browser complains about self-signed certs.

[2021-04-01 17:41] simster7 commented on #5554
@windmark  Thanks! Please try: `argoproj/argocli:dev-ensure-certs-fixed`. You will probably have to “Proceed Anyway” when your browser complains about self-signed certs

[2021-04-01 18:12] rysunder commented on #5543
@alexec Thank you for clarifying!

I removed parallelism from the `controller.parallelism` and `controller.workflowDefaults.spec.parallelism` on the EKS cluster and re-ran the tests.

Interestingly, the workflow did not hang indefinitely.  It would pause when the pod was yanked, but eventually recovered (usually within a handful of seconds) and complete the workflow successfully.  Below are the wo

[2021-04-01 18:36] simster7 opened #5576 "v3.0.1 cherry-pick"
* [x] Simon Behar: fix: Switch InsecureSkipVerify to true (#5575) 4e450e250
* [x] BOOK: fix(controller): clean up before insert into argo_archived_workflows_labels (#5568) ed54f158d
* [ ] Yuan Tang: fix: Remove invalid label value for last hit timestamp from caches (#5528) 2b3655ecb
* [x] Alex Collins: fix(executor): GODEBUG=x509ignoreCN=0 (#5562) 2ba0a4369
* [ ] Alex Collins: docs: Updated README

[2021-04-01 18:39] alexec commented on #5576
I've remove Shuoubhik's PRs as they risk introducing new problems.

I've added 20f0047, but I think you might end up reverting.

[2021-04-01 18:40] simster7 commented on #5576
:+1: we can test those and if all good include them in v3.0.2

[2021-04-01 18:46] alexec commented on #5576
I think we don't need them.

[2021-04-01 18:47] alexec commented on #5543
Can you please share your workflows-controller-configmap?

[2021-04-01 19:57] rysunder commented on #5543
Can do!

[code]

[2021-04-01 20:03] alexec commented on #5543
I'm not clear, there are two parallelism settings, `data.parallelism` and `data.workflowDefaults.spec.parallelism'. Removing which fixed the problem?

[2021-04-01 20:11] rysunder commented on #5543
Removing `data.workflowDefaults.spec.parallelism` fixed the issue

[2021-04-01 20:17] alexec commented on #5543
Ok. Can you attach:

1. `status.storedWorkflowTemplateSpec` for the bad workflow.
2. `status.storedWorkflowTemplateSpec` for the good workflow.

[2021-04-01 20:24] simster7 commented on #5576
Released

[2021-04-01 20:24] #5576 closed

[2021-04-01 20:33] simster7 commented on #5554
Note this won't be on the v3.0.1 release

[2021-04-01 20:41] rysunder commented on #5543
More than happy to ... if I knew how to get that information.  Is there a quick how-to on it I could follow?

[2021-04-01 22:57] saitoy1 commented on #4508
Hi @ebr,

Yes, at the least this workaround has been working on my end, and here is what looks like, reusing my workflow `loop-param-result-example` from above.
[code]
Basically, I filter duplicates in the last step `fan-in`, using a Python's dict. The `print` function then yields:
[code]
Should this issue get fixed, I will remove this band-aid fix. Hope this answers your question?

[2021-04-01 23:14] sarabala1979 commented on #5543
@alexec problem is the active pod is calculated based on node status (pending and running) In this scenario, the node  status is in pending status and parallelism is 1, so the controller is the exit from the parallel check.  `podReconciliation` is just continue if pod is missing and node status is pending.

Suggestions:
1. Introduce a new state for pod missing which needs to exclude from active po

[2021-04-01 23:18] sarabala1979 commented on #5543
https://github.com/argoproj/argo-workflows/blob/4e450e250168e6b4d51a126b784e90b11a0162bc/workflow/controller/operator.go#L969-L980

https://github.com/argoproj/argo-workflows/blob/4e450e250168e6b4d51a126b784e90b11a0162bc/workflow/controller/node_counters.go#L9-L18

[2021-04-02 00:35] Radolumbo opened #5577 "V3: In namespaced mode, Argo UI's /workflows tries to serve all workflows across the cluster"
## Summary

What happened/what you expected to happen?
In Argo v2, in namespaced server mode, going to /workflows in the Argo UI served only the workflows for the corresponding namespace of the server you're connected to. In v3, it appears to serve the workflows across the cluster, even though you're connecting to the server of a specific namespace. This forces you to go to /workflows/namespace to

[2021-04-02 02:33] chtcvl commented on #4804
Tried running on latest, the issue looks resolved, thanks.
argo version used:
[code]

[2021-04-02 08:38] gakkiyomi opened #5580 "pod init error but argo status still Running,Is this really okay?"
pod init error but argo status still Running

[code]
i just run a simple app on argo,but k3s dont dependent docker ,so pod init will fail ,like this:
![image](https://user-images.githubusercontent.com/41406557/113398827-c9526400-93d1-11eb-9e74-bae9c039fcd2.png)

![image](https://user-images.githubusercontent.com/41406557/113398662-8b554000-93d1-11eb-8a2b-7a769fdeaafa.png)

how can i solve it

[2021-04-02 11:37] ffred1962 opened #5581 "error in doc: workflow server servs on https, not http"
In workfow-serer quick-start guide there is an error - doc says that workflow-server listens at http protol, in fact is listens at https protocol!

[2021-04-02 12:29] ghost opened #5582 "TLS configuration and/or docs enhancement"
# Summary

It looks like after 3.0 release argo server listens on https port with self-signed certificate (#5581 )
I think it would be great to have a dedicated ConfigMap with tls.cert and tls.key parameters which would be mounted inside pod (Like it is implemented in ArgoCD) so it would be very easy to generate a valid certificate with cert-manager or ue any pre-isued one.
At least it would be gr

[2021-04-02 14:50] alexec commented on #5582
This sounds like a great idea. Would you like to submit a PR? We could ship it with crt/key in a config map too.

[2021-04-02 14:51] alexec commented on #5581
Would you like to submit a PR to fix the docs?

[2021-04-02 16:23] windmark commented on #5554
Hi! I installed the https://raw.githubusercontent.com/argoproj/argo-workflows/dev-ensure-certs-fixed/manifests/namespace-install.yaml but I'm getting the same permission denied error as before.

[2021-04-02 16:36] shuker85 commented on #5513
[code]

[2021-04-02 16:46] alexec commented on #5577
Can I please request...

* Screenshot.
* Contents of `localStorage`, found in Javascript console. Looks like:

[code]

[2021-04-02 16:47] max-sixty commented on #5582
I _think_ this means that a Google IAP setup no longer works with existing settings. Does anyone have a similar setup and has it working?

(as ever, not meant as a complaint — thank you for the incredible pace of improvements to argo!)

[2021-04-02 16:49] alexec commented on #5513
The error `key unsupported` occurs:

* For artifacts like Git or Raw which do not have URL.
* Something weird.

[2021-04-02 16:52] shuker85 commented on #5513
Maybe my setup is somehow polluted. I've workflow-controller CMs in `argo` and `argo-events`. Although some parts are commented out. I can give a try on a clean install next week
[code]

[2021-04-02 16:53] alexec commented on #5513
I'm going to test the v3.0.1 tag in case there is a difference between `master` and it.

[2021-04-02 17:05] Radolumbo commented on #5577
E.G.
<img width="917" alt="Screenshot 2021-04-02 125956" src="https://user-images.githubusercontent.com/3118655/113437106-07d92600-93b4-11eb-8b54-2e94a98d5a3d.png">

[code]

[2021-04-02 17:06] Radolumbo commented on #5577
When I browse to the base URL, it auto redirects me to /workflows/s-workflow-platform

But I can manually delete the namespace name, whereupon it will serve (or attempt to, if I'm not permissioned) all workflows in the cluster.  My expectation would be that there is no way to view cluster-wide workflows from a namespaced server, which is how it behaved in V2.

[2021-04-02 18:38] #4927 closed

[2021-04-02 20:27] jgibson2 opened #5584 "Add selector and field selector arguments to retry and resubmit CLI commands"
# Summary

It would be helpful to be able to retry and resubmit workflows using selectors and field selectors, just like with `argo delete` and `argo list`.
# Use Cases

When would you use this?

Whenever we are retrying jobs tagged with selectors (which is very often for us).

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-04-03 01:42] andrewgeller commented on #5557
I just ran into this as well trying to link into Grafana which seems like a common use case. Unfortunately, it seems Grafana's query parameter date parsing is still limited to what was done for this issue https://github.com/grafana/grafana/issues/787 and it only parses https://github.com/grafana/grafana/blob/master/public/app/features/dashboard/services/TimeSrv.ts#L85.

[2021-04-03 03:50] bin-chen-techlabs commented on #3080
Does anybody has a similar one for AWS LoadBalancer Controller, instead of nginx controller?

[2021-04-03 16:24] hadim commented on #5554
I am seeing the same error with `dev-ensure-certs-fixed`, `v3.0.0` or `v3.0.1`. A snippet of my terraform config:

[code]

[2021-04-03 18:38] hadim commented on #5582
Is that possible to disable HTTPS for HTTP? I am currently using 2.10.2 with Google IAP and it works fine but would like to switch to 3.0.1 (currently blocked by https://github.com/argoproj/argo-workflows/issues/5554).

[2021-04-04 02:41] jsoref commented on #4975
Not a fan of the bot.

[2021-04-04 02:55] jsoref commented on #4970
I started playing w/ this, it seems like the right thing is to replace the button w/ either tabs or a widget (with spacing!) that presents two stateful buttons.

I think I may have just lost the work I was doing (I think I was drafting ideas in a github.com edit page instead of locally and I just restarted my browser...).

We use workflows, but mostly w/o interacting w/ the UI. So my bug filing wa

[2021-04-04 14:28] hadim commented on #5577
I see the same error.

[2021-04-04 16:14] hadim commented on #5582
The key for me to make 3.0.1 work with Google IAP was to disable the now default secure mode with `--secure=false` (TLS termination is done at the level of the load balancer).

[2021-04-04 16:15] hadim commented on #5554
FYI: In my specific case it's no longer an issue using `--secure=false` (but that does not solve the issue raises here).

[2021-04-04 17:12] alexec commented on #5577
This needs to be fixed here:

https://github.com/argoproj/argo-workflows/blob/master/ui/src/app/workflows/components/workflows-list/workflows-list.tsx#L198

Basically we need to check to see if managed namespace is set.

Would anyone like to submit a PR?

[2021-04-05 15:31] Unb9rn commented on #5582
I think we need some docs at least. I've tried issuing a cert with cert-manager, mounting it inside pod but still nothing:
Changes I've tried:
[code]
Apiserver still uses the default cert...

[2021-04-05 17:03] simster7 commented on #5574
Found the bug... working on a fix. This is a regression right?

[2021-04-05 17:25] brandonaikey commented on #5574
Yes, it's a regression between rc8 and rc9 I believe.

[2021-04-05 17:32] sarabala1979 commented on #4152
This feature can be solved by HTTP template

[2021-04-05 17:42] alexec commented on #4152
Nice idea @sarabala1979. We should add some examples for this to the catalog.

[2021-04-05 18:52] alexec opened #5595 "Give daemons some TLC"
They are fundamental, but not much used.

We could benefit from:

* Much more test coverage
* Better documentation
* Maybe more examples?

[2021-04-05 19:16] simster7 commented on #5542
`2ba0a43`

[2021-04-05 20:20] #5574 closed

[2021-04-06 00:26] Radolumbo commented on #5577
Are you suggesting that we just filter down to the managed namespace on all fetchWorkflow calls?

To go in hand with this, we should probably also change the redirect from base URL to just go to /workflows/ when there is a managed namespace, too, right?

[2021-04-06 00:31] alexec commented on #5580
Can you please attach the full pod yaml?

[2021-04-06 00:31] alexec commented on #5577
Either that - or there's a bug in app-router?

[2021-04-06 00:32] alexec commented on #5105
I've started a PoC, would anyone like to take over and drive it to the finish line?

[2021-04-06 00:37] Radolumbo commented on #5577
I just edited my like 30 seconds ago so not sure if you saw it -- but I linked where I think this might be happening https://github.com/argoproj/argo-workflows/blob/master/ui/src/app/app-router.tsx#L167 .. if any namespace is set, which will always be true I think since we have a managed namespace in this case .. it directs there.

So perhaps we should update it to just redirect to /workflows if w

[2021-04-06 00:58] hadim commented on #4297
For the record, the issue was due to a too short timeout and not to HTTP/2. See https://github.com/argoproj/argo-workflows/discussions/5592#discussioncomment-572535.

[2021-04-06 02:08] gakkiyomi commented on #5580
ok，this is pod pull describe
[code]

[2021-04-06 02:11] gakkiyomi commented on #5580
argo get

[2021-04-06 02:12] gakkiyomi commented on #5580
![image](https://user-images.githubusercontent.com/41406557/113649173-88ec3200-96c0-11eb-8cbf-43ea18fe2e4f.png)
argo get

[2021-04-06 02:14] gakkiyomi commented on #5580
i need when pods init fail,argo status will Error,Otherwise, my argo task monitoring program cannot get correct feedback

[2021-04-06 03:01] alexec commented on #5580
This pod should result in a pending node. Not a running node. Can you try Argo v3.0.1.

[2021-04-06 03:43] #4614 closed

[2021-04-06 03:43] #4584 closed

[2021-04-06 03:43] #4956 closed

[2021-04-06 08:28] tim-sendible opened #5598 "Cannot seem to set SSO Expiry"
## Summary

I believe I should be able to set an expiry value in my sso config to trigger user logouts after a given time period. However, If I set the `expiry` to `1h`, nothing happens after 1 hour.

[code]

I also tried `expiry: 1` and `sessionExpiry: 1h` just in case I was reading the code wrong, but in each instance, I do not get logged out after 1 hour.

Each time I set the value I manually k

[2021-04-06 09:34] niekoost opened #5599 "Workflow stays in Pending state"
## Summary

I start a workflow and it keeps running forever. It doesn't matter if I start on the commandline or via the argo web interface.
Even the simplest example never finishes, although the main container is finished in the first couple of seconds. The wait container keeps running.

The log of the main container show the whalesay/cowsay output.

The log of the wait container shows hundreds of

[2021-04-06 11:28] niekoost commented on #5599
I have just created a completely new Kubernetes cluster on Digitalocean in AMS3. Then I followed `https://argoproj.github.io/argo-workflows/quick-start/` and observed the same behavior: workflows keep running forever. How can I dig deeper and find the root cause of the `wait` containers running forever?

[2021-04-06 14:01] rccrdpccl opened #5600 "Unable to resolve outputs.result variable"
## Summary

Once upgraded to v3.0.0, on *some* workflows we have started getting "Unabe to resolve: " error.

I have managed to reproduce something somewhat simpler (attached below).

Notice that this is triggered by submitting outer wf template `argo submit --from wftmpl/greet-many --entrypoint=greet`, but not if submitting any inner template (`argo submit --from wftmpl/greet-script --entrypoint=

[2021-04-06 14:15] Unb9rn commented on #5582
After running through sources, I've figured out where it tries to load key from.
After creating an ingress:
[code]
I was able to mount it inside the pod and run it with ssl passthrough,
after adding something like:
[code]
I'm not sure wheteher fsgroup is required but I saw it in dockerfile, so why not?

[2021-04-06 15:49] alexec commented on #5513
@shuker85 any update?

[2021-04-06 15:59] alexec commented on #5598
Works for me. I set the expiry time to 10s:

[code]

Can you please attach your complete config YAML?

[2021-04-06 16:00] alexec commented on #5577
I wonder if the order of those elements is important and the redirect should be top of the list?

[2021-04-06 16:41] simster7 commented on #5600
Potentially fixed by https://github.com/argoproj/argo-workflows/pull/5594

[2021-04-06 16:41] simster7 commented on #5600
Will make sure

[2021-04-06 17:55] tszngai commented on #2852
Is there a way to not approve the suspend step and finish the pipeline (essentially skipping the steps)? I couldn't stop the pipeline once it's in Suspend waiting for approval.
The only way to finish the pipeline without approving it is to delete the whole workflow, which does not make too much sense

[2021-04-06 19:25] niekoost commented on #5599
This seems to be an issue with DigitalOcean. I have followed the same steps on GKE (Standard mode, since Autopilot mode cannot run Argo at the moment) and everything went perfect.

[2021-04-07 04:16] lminzhw opened #5605 "upgrade gogo/protobuf to 1.3.2"
## Summary

The version of gogo/protobuf that argo currently depends on has security vulnerability, so we should upgrad it to the latest version.
   https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-3121
`An issue was discovered in GoGo Protobuf before 1.3.2. plugin/unmarshal/unmarshal.go lacks certain index validation, aka the "skippy peanut butter" issue.`

## go.mod snapshot

go.mod in ma

[2021-04-07 05:39] #3090 closed

[2021-04-07 07:41] tim-sendible commented on #5598
After deleting and reinstalling workflows, this worked. No idea what was going on before, sorry.

[2021-04-07 07:41] #5598 closed

[2021-04-07 12:39] sylock commented on #5554
I have the same issue:
* image: argoproj/argocli:v3.0.1
* Openshift 4.5.5
Workaround as proposed by @hadim works for me (also need to change the readinessProbe scheme to HTTP).

[2021-04-07 12:45] sylock opened #5607 "ARGO_SECURE is not taken into account"
## Summary

When trying to disable the TLS functionnality of argo server, the documentation says you have 2 options:
* pass an argument --secure=false
* set an environment variable ARGO_SECURE=false

Since argo v3.0.0 the defaults is to enable TLS by default. I can revert to plain text using --secure=false but setting the ARGO_SECURE environement variable has absolutely no effect.

## Diagnostics

[2021-04-07 12:53] sylock opened #5608 "Documentation says argo server does not enable TLS by default - not true anymore since v3.0.0"
# Summary

In the documentation it is said that argo server is plain text by default: https://argoproj.github.io/argo-workflows/tls/#plain-text
This is not the case anymore since v3.0.0

# Expected

Inform the argo users that
* this behavior has changed since v3.0.0 and TLS is enabled by default
* explain how to revert to TLS disabled with:
  *  --secure=false
  * env ARGO_SECURE=false - but not w

[2021-04-07 12:57] sylock opened #5609 "Documentation should have a version selector"
# Summary

There are more and more differences of behavior and options between the versions of argo. Like a lot of other projects, it would be of great help if the documentation would have a list selector with the available versions of argo. And thus loading the documentation related to the chosen version (for example, selecting v3.0.0 would show me the doc about the key-only artifact, but selecti

[2021-04-07 13:10] sylock commented on #5330
I would be really happy of this feature also.
I use almost only python scripts and I was also thinking about a way to ease the coding, since from a IDE (like Visual Studio Code) where your python code is just a string of a yaml field, you don't get all the help like syntax highlighting etc.

One "hack" would be to store locally workflow definition using kustomize. And with json patches, adding .py

[2021-04-07 13:12] sylock opened #5610 "Implement a workflow visual designer"
# Summary

Camunda has implemented a visual modeler for designing workflow with drag and drop:
https://camunda.com/products/camunda-platform/modeler/
It would be nice and ease the workflow design to have an equivalent tool.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-04-07 13:17] mac9416 opened #5611 "Document list of template-able fields"
# Summary

At the moment, folks have to guess which fields are template-able or infer from examples. Ideally, folks could look in a list of field names indicating which version of Argo first supported templating in that field.

# Use Cases

Whenever I'm trying to template a field that I haven't successfully templated before.

---

**Message from the maintainers**:

Impacted by this bug? Give it a

[2021-04-07 15:53] alexec commented on #5610
This is a great idea. Big piece of work. Would need community help.

[2021-04-07 15:55] alexec commented on #5608
Would you like to submit a PR to correct this.

[2021-04-07 15:59] alexec commented on #5605
Would you like to submit a PR?

[2021-04-07 16:33] hermanhobnob opened #5612 "DAG - On error abandon currently running tasks"
# Summary

It would be extremely useful if a DAG could give up if argo already knows the end result will be failure. Currently the failFast option will stop scheduling dependencies if there has been a failure but if there are concurrently running tasks and one of them fails the others will be left to finish running before the workflow will finish.

# Use Cases

I have a DAG workflow which uses Rab

[2021-04-07 17:45] alexec commented on #5607
workaround: `--secure=false`

[2021-04-07 17:45] alexec opened #5613 "UI: Editor JSON/YAML toggle does not work anymore"

[2021-04-07 17:51] alexec commented on #5613
We need to add `ObjectEditor`:
[code]

[2021-04-07 18:27] alexec opened #5614 "ui: what's new dialog"
Something like this to help new users:

![image](https://user-images.githubusercontent.com/1142830/113915921-34b28200-9794-11eb-8b4d-e626a996c56b.png)

[2021-04-07 22:04] alexec commented on #5612
This is a good idea. We would need to terminate the running pods:

https://github.com/argoproj/argo-workflows/blob/master/workflow/controller/operator.go#L1222

I'm not sure how you'd configure it on? Perhaps `spec.failFastStrategy: TerminateContainers`.

[2021-04-07 22:04] alexec commented on #5612
Would you like to submit a PR?

[2021-04-07 23:46] alexec opened #5617 "v3: "Upload file" does not work"

[2021-04-08 00:01] alexec opened #5618 "v3: Cannot delete sensor from UI (button does nothing)"

[2021-04-08 00:02] alexec opened #5619 "v3: Cannot delete sensor from UI"

[2021-04-08 03:13] lminzhw commented on #5605
I'd love to, but as a novice, it takes some time.

[2021-04-08 05:37] simster7 opened #5621 "TaskSet CRD"

[2021-04-08 06:13] tim-sendible commented on #5619
Not sure if this helps, but in 3.0.1, I can definitely delete a sensor from the ui.

[2021-04-08 06:16] tim-sendible commented on #5618
This also definitely works for me on 3.0.1. Happy to share any relevant config if you point me in the right direction.

[2021-04-08 10:01] book987 opened #5622 "wrong node relation in node status cause workflow stuck"
## Summary

We have a special workflow, still stuck.
Every leaf nodes have successed but one task group node keep staying at Running state.

I dont know how to fix this, pls help @alexec @simster7 @terrytangyuan

## Diagnostics

Argo Workflow Version: `v3.0.1`

Node created by task `Lv2-node-2` didn't link to others, means this DAG's node status is splited into two part.

When [evaluate DAG's phas

[2021-04-08 10:05] book987 commented on #5622
I think `Lv2-node-2` should link to a pod node created by `Lv2-node-1` but when `Lv2-node-2` initialize, this pod node cannot be found as outbound node

[2021-04-08 10:07] book987 commented on #5622
And there's another problem, this workflow cannot be stopped or terminated, dont know why. We have to delete it.

[2021-04-08 12:59] terrytangyuan commented on #3678
Note: This is blocked by https://github.com/kubernetes/kubectl/issues/454. Once `kubectl cp` works on completed pods we can revisit this issue and pick up https://github.com/argoproj/argo-workflows/pull/3687 again.

[2021-04-08 14:08] simonbonnefoy opened #5623 "Outdated links in Argo blog tutorial"
# Summary

Several links seem to be outdated in the [Argo tutorial](https://admiralty.io/blog/2019/01/17/running-argo-workflows-across-multiple-kubernetes-clusters)m or the config seems not to be working. Here is how I replaced them in order to get everything to work.

# Use Cases
Replace:
* [Argo installation](https://raw.githubusercontent.com/argoproj/argo/v2.2.1/manifests/install.yaml) by [Argo

[2021-04-08 14:16] terrytangyuan commented on #5623
Should probably contact the author of that blog post or file an issue to https://github.com/admiraltyio/admiralty instead?

[2021-04-08 14:47] alexec opened #5625 "build failures: Unable to connect to the server: dial tcp 10.1.0.215:6443: i/o timeout"
[code]

I think this was somehow introduced by `make nuke`.

[2021-04-08 14:48] alexec commented on #5622
Can you please confirm if this is an issue in v2.12?

[2021-04-08 14:49] alexec commented on #5623
We can't fix this. As @terrytangyuan , you must speak to Admiralty.

[2021-04-08 14:49] #5623 closed

[2021-04-08 14:59] alexec commented on #5582
@Unb9rn I think your "work-around" is actually the correct solution. Would you like to document it for other users to benefit from?

[2021-04-08 16:03] alexec opened #5627 "TestSignalsSuite/TestInjectedSidecar fails too often to be flakey IMHO"
Not quite sure if this is only Emissary or PNS:

[code]

[2021-04-08 16:08] hermanhobnob commented on #5612
I don't think I can work on it right now but if this ticket stays dormant I'll try to have a look in a few weeks time. I'm a Python person mostly so it would take me a while I suspect :)

[2021-04-08 17:00] kennytrytek opened #5629 "Git Clone Fails if Revision is `refs/heads/*`"
## Summary

If a GitArtifact revision is of the form `refs/heads/*`, this error will occur (logs from `init` container):
[code]

## Diagnostics

What Kubernetes provider are you using?

What version of Argo Workflows are you running?

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-04-08 17:00] kennytrytek commented on #5629
I can submit a fix for this; it is a small change.

[2021-04-08 18:04] book987 commented on #5622
just confirmed, same issue in v2.12

[2021-04-08 19:51] cscetbon commented on #3156
Any news on that issue ? @alexec @simster7

[2021-04-08 20:08] alexec opened #5635 "Github Actions disabled until Github starts blocking crypto-miners spam PRs"

[2021-04-08 22:14] #5613 closed

[2021-04-08 22:14] #5617 closed

[2021-04-09 05:15] sarabala1979 commented on #5439
### **Agent Design:**

![image](https://user-images.githubusercontent.com/33908564/114126895-29ec1000-98ae-11eb-976c-6ffea009b95c.png)

TaskSet CRD: https://github.com/argoproj/argo-workflows/pull/5628

### **Resposibility:**

| Controller  https://github.com/argoproj/argo-workflows/issues/5544 (Bala)| Agent (Simon) |
| ------------- | ------------- |
| Controller will create TaskSet (Name= workfl

[2021-04-09 10:59] Unb9rn commented on #5582
@alexec Yeah, why not, will do =)
Anyway, I think ArgoCD's soultion looks more "k8s-native" to me, without necessity to edit deployments and manually inject some secrets...

[2021-04-09 12:24] tobisinghania opened #5638 "Workflow controller v3 fails to start on OpenShift 3.11"
## Summary

When tying to upgrade to Argo workflows 3, startup of the workflow controller on OpenShift 3.11 failes, because the underlying api for leader election is not available.

A configuration for disabling leader election might mitigate the situation.

## Diagnostics

What Kubernetes provider are you using?

OpenShift 3.11 which is running on Kubernetes 1.11

What version of Argo Workflows a

[2021-04-09 14:15] rccrdpccl opened #5639 "ArchiveLogs not working when upgrading to v3"
## Summary

Archiving logs in GCS bucket broke by just upgrading version from 2.12.11 to 3.0.0/3.0.1

## Diagnostics

What Kubernetes provider are you using?
GKE

What version of Argo Workflows are you running?
3.0.0/3.0.1

By just upgrading version I can confirm that even with archiveLogs enabled, workflow-controller does not store logs in GCS anymore.

This is my config:

[code]

I have tried bo

[2021-04-09 14:25] raftAtGit commented on #5408
One workaround for this issue is, storing the output in an `artifact`, then in an intermediate step printing the contents of the artifact and using output of intermediate step in `when` condition.

Working example:
[code]

[2021-04-09 14:57] mruoss opened #5640 "unknown flag: --log-format"
## Summary

According to the [docs](https://argoproj.github.io/argo-workflows/cli/argo_server/#options) I should be able to start argo server with --log-format=json. However, if I do that, I get the error: `unknown flag: --log-format`

## Diagnostics

What Kubernetes provider are you using?

GKE

What version of Argo Workflows are you running?

3.0.1

---

**Message from the maintainers**:

Impact

[2021-04-09 15:02] terrytangyuan commented on #5640
It's not available in 3.0.1 yet. You'll probably want to try the development version on master branch. You should see something like this once you upgrade:

[code]

[2021-04-09 15:03] mruoss commented on #5640
Oh I see. Very nice, thanks!

[2021-04-09 15:03] #5640 closed

[2021-04-09 15:04] terrytangyuan commented on #5640
I guess this can be improved by introducing versioned documentation as in https://github.com/argoproj/argo-workflows/issues/5609.

[2021-04-09 15:15] tobisinghania commented on #2717
Is it also possible to retrieve those metrics via the prometheus metrics endpoint?

[2021-04-09 15:27] mruoss opened #5642 "SSO over Gitlab with RBAC: Groups not fetched"
## Summary

I have successfully configured SSO over Gitlab. On Gitlab there is no scope `groups`. However, according to the [docs](https://docs.gitlab.com/ee/integration/openid_connect_provider.html#shared-information) they are part of the `openid ` scope:

Looking at the profile page in Argo, Argo seems to fail to fetch email, email_verified and groups. The latter is especially annoying because I

[2021-04-09 16:04] alexec opened #5643 "Pod with multiple containers can use kubectl.kubernetes.io/default-container label to have a container preselected for kubectl command"
[code]

[2021-04-09 16:13] alexec commented on #5582
I think your workaround is a fine solution. Those are the correct paths for the crt and key. Mounting a secret containing the values will always work. If anyone were to ask me how to do this, I would say do what @Unb9rn did.

[2021-04-09 16:15] alexec commented on #5638
Can you please run `kubectl api-resources|grep leases` and attach the result?

[2021-04-09 16:16] ghost opened #5644 "govaluate types mismatch"
## Summary
I am trying to run a workflow with some conditional steps(I am trying to figure out if a new branch in GitLab was created):
`when: "{{inputs.parameters.sha-before}} != 0000000000000000000000000000000000000000 && {{inputs.parameters.sha-after}} == 0000000000000000000000000000000000000000"`

But this comparison would fail with an error:
`Error node gitlab-workflow-render-gb79x[0]: Invalid

[2021-04-09 16:18] alexec commented on #5638
Can you also Google "OpenShift coordination API" / speak to your OpenShift contacts and ask for their advice or documentation of this feature.

Once you've confirm if they do not support this API, then you'll have confirmed that OpenShift that Leader Election/HA is not supported on v3.

If that is the case, can you please submit a PR to support a `LEADER_ELECTION_IDENTITY=off` configuration option

[2021-04-09 16:23] alexec commented on #2717
Short answer - no.
Long answer - there are metrics related to workflow execution that might help you.

[2021-04-09 16:24] alexec commented on #5642
Because `groups` is not part of the OIDC standard, they are disabled by default. You must enable them in the config map:

https://github.com/argoproj/argo-workflows/blob/master/docs/workflow-controller-configmap.yaml#L288

[2021-04-09 16:24] #5642 closed

[2021-04-09 16:25] alexec commented on #5644
Maybe quote the numbers
[code]

[2021-04-09 16:30] #5635 closed

[2021-04-09 16:30] alexec commented on #5599
Not a bug.

[2021-04-09 16:30] #5599 closed

[2021-04-09 16:31] alexec commented on #5542
Released.

[2021-04-09 16:31] #5542 closed

[2021-04-09 16:32] #5581 closed

[2021-04-09 16:33] alexec commented on #5473
@sarabala1979 this is your code no?

[2021-04-09 16:34] alexec commented on #5532
Can you ask for help in #argo-dev please?

[2021-04-09 16:34] #5532 closed

[2021-04-09 16:34] #5518 closed

[2021-04-09 16:34] #5509 closed

[2021-04-09 16:34] #4885 closed

[2021-04-09 16:38] alexec commented on #5392
I think this is just the process being killed as I've seen it. We can leave this.

[2021-04-09 16:38] #5392 closed

[2021-04-09 16:39] alexec commented on #5075
I think it is the case that the code for no workspace set (i.e. show all clusters) gets confused with undefined workspace. Would anyone like to investigate this?

[2021-04-09 16:39] #5425 closed

[2021-04-09 16:39] vbarbaresi commented on #5473
I didn't reproduce in the last week after upgrading to `v3.0.1`. So if you can't reproduce either, you can ignore my last comment

[2021-04-09 16:41] alexec commented on #5554
Another OpenShift issue.

[2021-04-09 16:41] #5554 closed

[2021-04-09 16:46] #5473 closed

[2021-04-09 16:48] mruoss commented on #5642
If I do that, Gitlab returns an error (malformed scopes) during auth.

[2021-04-09 17:32] tobisinghania commented on #2717
Thx for your answer....although it's not the one I was hoping for ;)
Unfortunately I have not been able to create a similar diagram as you have in the UI with using the duration workflow metric together with a gauge in grafana (this might be only because a lack of skill on my end, though).

Maybe I will create the metric via a workaround which is using your api and pushes to prometheus...

Thank y

[2021-04-09 18:03] tobisinghania commented on #5638
The `grep` command returns nothing and indeed it seems that the required kubernetes coordination.k8s.io api was introduced in 1.14.
In the 1.14 change log I found this `The Lease API type in the coordination.k8s.io API group is promoted to v1`

OpenShift 3.11 is using Kubernetes 1.11, so it makes sense this is not working.

[https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-

[2021-04-09 18:08] alexec commented on #5638
Thank you for helping!

[2021-04-09 20:30] Unb9rn commented on #5644
I've tried quoting zeroes hoping it would cast template to string-it didn't work. Will try your solution with quoting both parts... Thanks!

[2021-04-09 20:44] weisjohn commented on #5107
Anything ever materialize here?

[2021-04-09 21:18] JakeColor commented on #2742
@simster7 sorry if i'm missing the obvious, but i've bounced back and forth a few times between this thread and #3064 + the docs without finding an answer to the following question:

If I have multiple step/tasks running under a single workflow, how can i gracefully terminate one of the steps/tasks?

[code]

[2021-04-09 22:00] alexec opened #5645 "'showWorkflows' button on event-flow page does not work"
Maybe related to fix: Propagate URL changes to react state (#5188)

[2021-04-09 23:11] washcycle opened #5646 "V3.0.1 error upgrading "error getting config map for artifact repository ref""
## Summary

What happened/what you expected to happen?

Upgraded from 2.12.2 to 3.0.1 Manually with yml files.

## Diagnostics

What Kubernetes provider are you using?

Server Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.13", GitCommit:"30d651da517185653e34e7ab99a792be6a3d9495", GitTreeState:"clean", BuildDate:"2020-10-20T16:22:33Z", GoVersion:"go1.13.15", Compiler:"gc", Platform

[2021-04-09 23:31] alexec commented on #5646
Was your workflow running at the time of upgrade?

[2021-04-09 23:36] alexec commented on #5646
Can you please run `kubectl get cm artifact-repositories -n argo -o json` and paste the result (please redact)?

[2021-04-10 00:17] washcycle commented on #5646
I am using azure blob storage, but using minio as a proxy api. Take the below with a grain of salt as I did have to rollback the upgrade, but I didn't make any modifications to the repository config. I am going to try again Monday and I'll add more info then too.

[code]

[2021-04-10 00:19] washcycle commented on #5646
No we made sure all workflows we're running when we tried the upgrade.

[2021-04-10 00:26] alexec commented on #5646
Um. What does this mean please?

[2021-04-10 00:40] alexec commented on #5646
This happens if you have `config-map/artifact-repositories` that either does not have an annotation `workflows.argoproj.io/default-artifact-repository`.

This line expects an `IsNotFound` error, but instead we get another error:

https://github.com/argoproj/argo-workflows/blob/master/workflow/artifactrepositories/artifactrepositories.go#L55

This line should be able to deal with:

https://github.c

[2021-04-10 01:29] ryedin commented on #2430
i know this is closed, however, there is a case that is not being covered (unless I've missed something in the docs somewhere that explains how to do this): the workflow of worklows pattern, where the inner workflow resource wants to define parameters that it manages. So Argo itself needs a way to escape double curly braces (like Helm supports via `{{ "{{" }}`. The Helm level problem is well under

[2021-04-10 01:31] Bobgy commented on #5473
Friendly reminder, what's general criteria to cherry pick to v2?

[2021-04-10 03:33] mac9416 commented on #2430
I don't think the StackOverflow post is _100%_ incorrect. I believe Jinja is used for some of the templating logic.

The only workaround that I can think of is _super_ hacky, but I think it'd work: store the template string you need as a parameter and then interpolate that as needed in the manifest.

[code]

I haven't tested it yet. But if I recall correctly, `inputs.paramters[].value` isn't proce

[2021-04-10 06:01] #4928 closed

[2021-04-10 06:01] #4981 closed

[2021-04-10 18:53] #4894 closed

[2021-04-11 10:24] criescrisis opened #5649 "Artifact-Output not completing on microk8s"
## Summary
Artifact-Output does not complete and artifact is not uploaded to minio. Argo-deployment on top of microk8s.

What happened/what you expected to happen?
Container complete waiting in argo workflow, upload the artifiact to minio and go to the next step or finish.

## Diagnostics

What Kubernetes provider are you using?
Microk8s
sudo snap install microk8s --classic --channel=1.21

What ve

[2021-04-11 18:16] #5649 closed

[2021-04-12 00:23] sevberg commented on #5595
Regarding this one, if you're interested, @alexec, I'd be happy to offer some assistance here.

I've recently been exploring a pattern to get more performance out of an Argo workflow which includes numerous fine-grained tasks (i.e. 100,000s of tasks in the 5 -30 second range). In short, what I would propose would be a 3-node workflow which :
1. Creates a Dask scheduler as a daemon node
2. Creates

[2021-04-12 00:25] endzyme opened #5653 "Timezone for CronWorkflow not working for all expected zones"
## Summary

Timezone settings for CronWorkflows don't appear to work for all expected timezones. I have set a timezone of `Europe/Dublin` and the controller does not actually start the job. There are some log messages that it is processing the job but nothing appears to start. When I changed to `America/New_York` or `Europe/Paris` it appears to work. I have also tested with `Etc/GMT-1` and `Europe

[2021-04-12 03:23] shahabio commented on #1522
Any thoughts?

[2021-04-12 07:54] jopfeffe commented on #3445
Hi, what is the current state of this issue? Task in "pending" state still seems to get stuck forever. Any advice how to configure the workflow to avoid this issue?

[2021-04-12 08:15] amitm02 opened #5655 "Problem with the quick start for version 3.0.1."
## Summary

What happened/what you expected to happen?

Problem with the quick start for version 3.0.1.

I can get this to work:
[code]
after I can see the UI via 127.0.0.1:2746

But if i try:
[code]

I can not log into the UI via 127.0.0.1:2746

[2021-04-12 08:15] amitm02 opened #5859 "Problem implementing the "quick start" guide for version 3.0.1."
## Summary

What happened/what you expected to happen?

Problem with the quick start for version 3.0.1 under GCP K8S.

I can get this to work:
[code]
after I can see the UI via 127.0.0.1:2746

But if i try:
[code]

I can not log into the UI via 127.0.0.1:2746.
All I get is "ERR_EMPTY_RESPONSE".
argo-server logs:
[code]

[2021-04-12 09:04] tommy-heyde-olsen opened #5656 "stat /argo/podmetadata/annotations: no such file or directory"
## Summary

After upgrade to v3.0.1 the wait container consistently fails the workflow with the following output:
[code]

This works perfectly fine in v2.12.11. Any idea why this is happening?

## Diagnostics

What Kubernetes provider are you using?

Azure Kubernetes Service (AKS)

What version of Argo Workflows are you running?

v3.0.1

[code]

---

**Message from the maintainers**:

Impacted by

[2021-04-12 10:07] simonbonnefoy commented on #5623
Sorry for that! I was tired and post it on Argo instead of Admiralty repo.
Sorry!

[2021-04-12 10:51] dzirg44 commented on #5107
@weisjohn  yes, I didn't forget about it. Now we are testing.

[2021-04-12 12:31] book987 opened #5657 "resource template doesn't support list resources with output parameter"
## Summary

What happened/what you expected to happen?
We have a pod created by deployment, we can only get this pod's information by using label selector.
Below is the equivelance workflow, running `kubectl get pods -n argo --selector run=debug`, filtering name and namespace in output parameters.

## Diagnostics

What version of Argo Workflows are you running?  `v3.0.1`

The reason workflow faile

[2021-04-12 12:31] book987 commented on #5622
hi @alexec
may i ask the progress about this issue

[2021-04-12 12:39] terrytangyuan commented on #5657
Could you provide a minimal and reproducible example workflow?

[2021-04-12 12:42] book987 opened #5658 "More efficient SaveResourceParameters"
# Summary

Currently argo call `kubectl get` [for each output parameters](https://github.com/argoproj/argo-workflows/blob/v3.0.1/workflow/executor/resource.go#L340) in resource template. It can decrease to 1 time `kubectl get` call and `len(outputs.parameters)` times processing with same data, saving network traffic, and also preventing data inconsistency if something happen to the resource betwee

[2021-04-12 12:43] book987 commented on #5657
Hi, here's the workflow i use.

[code]

[2021-04-12 12:48] terrytangyuan commented on #5658
Good idea. It would be even better if we could switch to use k8s SDK for this as well instead of `kubectl`. Would you like to submit a PR for this?

[2021-04-12 14:14] terrytangyuan opened #5659 "Proposal: Automatically suspend CronWorkflow for repeated errors in child workflows"
# Summary

What change needs making?

Automatically suspend a CronWorkflow for repeated errors in its workflows.

# Use Cases

When would you use this?

When there are repeated errors observed in the child workflows, future child workflows would likely also fail. In this case, the controller could automatically suspend CronWorkflow from submitting new child workflows to avoid waste of computationa

[2021-04-12 14:34] mruoss commented on #4991
Alright - I think I just got lucky and found the problem. I assume you copied the credentials from "Using Your Login With The CLI" dialogue in the UI. If I do that, for the token it does this:

`export ARGO_TOKEN='"Bearer ..."'`

if I remove the inner quotes it works:

`export ARGO_TOKEN='Bearer ...'`

[2021-04-12 14:34] uucloud commented on #3105
/reopen

[2021-04-12 14:35] uucloud commented on #3105
I have the same problem.

[2021-04-12 14:48] alexec commented on #5657
I don’t understand how this is a bug. Can you please provide more information?

[2021-04-12 14:58] alexec commented on #5656
Can you please attach the Pod's YAML?

[2021-04-12 15:01] alexec commented on #5653
@simster7 ?

[2021-04-12 15:02] terrytangyuan commented on #5656
I think I've seen this occasionally and it usually happens when the apiserver is unstable and fails to write/update the pod's annotations.

[2021-04-12 15:10] tommy-heyde-olsen commented on #5656
[code]

[2021-04-12 15:13] tommy-heyde-olsen commented on #5656
This is a very interesting theory; we have certainly seen this behaviour before with AKS. However we have consistently seen that one workflow fails with this error 100% of the times we've run it, but another workflow with a similar step did *not* fail.

[2021-04-12 15:15] alexec commented on #5656
Can you please try in v2.12?

[2021-04-12 15:17] terrytangyuan commented on #5659
@alexec I can work on this if you think this is a reasonable feature to have. We currently have a hacky workaround and it would be good to implement the logic in the controller itself.

[2021-04-12 15:22] terrytangyuan commented on #5656
Okay then the causes might be different. In our case, we only observe this when apiserver is under extremely high load or unstable. We observed this in v1.12.

[2021-04-12 15:22] book987 commented on #5657
My bad, the error shows in container log:
<img width="1440" alt="Screenshot 2021-04-12 at 11 18 09 PM" src="https://user-images.githubusercontent.com/17219814/114418726-63da5080-9be5-11eb-80b3-9a18657f0e52.png">

I expect it runs `kubectl get pods -n argo --selector run=debug -o jsonpath='{.items[0].metadata.name}'` to get pod name but actually it runs `kubectl get List./ -o jsonpath={.items[0].me

[2021-04-12 15:24] tommy-heyde-olsen commented on #5656
[code]

[2021-04-12 15:35] alexec commented on #5639
Can you please provide the following:

* The executor logs (i.e. the wait sidecar) of a step which fails to archive logs.
* The complete workflow YAML for the workflow.

[2021-04-12 15:44] book987 commented on #5658
yeah, I'd like to.

[2021-04-12 15:52] rccrdpccl commented on #5639
This happens in all workflows all steps.

Workflow YAML:

[code]
Wait container logs:
[code]

Controller logs:

[code]

[2021-04-12 16:23] simster7 commented on #5659
I think this is a good idea

[2021-04-12 16:24] simster7 commented on #5653
Will take a look

[2021-04-12 16:28] simster7 commented on #5621
Duplicate of https://github.com/argoproj/argo-workflows/issues/5437

[2021-04-12 16:28] #5621 closed

[2021-04-12 16:32] alexec commented on #5639
Sorry. I was not clear, can you attach the whole YAML, including the status?

[2021-04-12 16:41] rccrdpccl commented on #5639
`kubectl get workflow hello-world -o yaml`

[code]

[2021-04-12 16:43] simster7 commented on #5600
Update: not fixed by #5594

[2021-04-12 16:54] simster7 commented on #5600
@rccrdpccl can you confirm if this is a regression? If so, what is the latest version that this does in fact work on

[2021-04-12 16:58] alexec commented on #5639
Can you attach the YAML for the pod itself so I can inspect it's annotations?

[2021-04-12 17:13] alexec commented on #5639
ahhhhh - you're using artifact repository ref - so can you please attach the config map for it? maybe that is missing the archive logs flag?

[2021-04-12 17:47] alexec opened #5661 "update Dockerfile to be have 1.2 syntax header"
https://docs.docker.com/develop/develop-images/build_enhancements/#overriding-default-frontends

Needed to use Buildkit on Jenkins.

[2021-04-12 18:14] rccrdpccl commented on #5639
I have enabled `artifactRepository.archiveLogs` from the helm Chart - sorry if I did not explain myself clearly enough, I am unsure how this feature is called exactly. I have no explicit reference to this configmap, I have assumed is a "default artifacts" location.

[code]

As explained earlier in the issue, I can see that is apparently being read (attached log that makes me think so above in the

[2021-04-12 18:16] rccrdpccl commented on #5639
Not sure if it's still needed, however here goes the pod's YAML:

[code]

[2021-04-12 18:18] rccrdpccl commented on #5600
@simster7 I confirm this was working fine on v2.12.10

[2021-04-12 18:22] terrytangyuan commented on #5657
@book987 Resource templates currently only support single resources so you cannot get a list of resources using selector. You should probably consider using script templates instead.

[2021-04-12 18:40] book987 commented on #5657
yeah, thanks, it's the only solution i found. 😢 Will we fix this? seems a little complicate. Or, it's not a bug?

[2021-04-12 18:48] terrytangyuan commented on #5657
It's certainly not a bug but there is definitely room to improve error message or documentation. I don't think it's originally designed to work with multiple resources but I'd defer to @alexec to double check if there's any plan on expanding that.

[2021-04-12 18:53] alexec commented on #5639
From your workflow I see this:

[code]

This means it is not using the default configmap, it is using a different one.

[2021-04-12 19:22] 0xlsa opened #5663 "Structured Data Visualiser"
# Summary
It would be helpful to be able to visualise the input and the output data of each step as structured data.

# Use Cases
When we perform any transformation on a given input data, it could be a data normalisation, enrichment, etc... and the output would be the byproduct of it. It would be quite helpful if we could see the input and the output record by record on the GUI (so it would be a g

[2021-04-12 19:22] terrytangyuan commented on #5659
I created a quick draft PR in https://github.com/argoproj/argo-workflows/pull/5662 and left some comments so that we can discuss pros and cons of different designs in several places.

[2021-04-12 21:43] jherman3 opened #5665 "workflowTemplateRef gives missing entrypoint error when used within a WorkflowTemplate"
## Summary

I am trying to reference a WorkflowTemplate from another WorkflowTemplate for the purpose of submitting workflows from the UI while allowing a few different sets of default parameters to be chosen. We have a base workflow and several child workflows which are simply different sets of parameters to the base workflow. Using workflowTemplateRef creates a valid template but submitting the

[2021-04-13 06:38] sonowz commented on #5639
For v3.0.1, I can confirm `archiveLogs: true` hangs all workflows in Running state, and gets into Error state with message `
Error (exit code 1): timed out waiting for the condition`.

My `artifact-repositories` configmap:
[code]

[2021-04-13 07:55] rccrdpccl commented on #5639
Oops, you're right @alexec , my bad.

I had a "forgotten" config dangling and, while it was harmless in v2.x, took action in v3.x.

[code]

We can close the issue by my side

[2021-04-13 10:29] sonowz commented on #5639
In my case, specifying `region` attribute in `s3` solved the issue.

Me either

[2021-04-13 10:54] #5639 closed

[2021-04-13 14:04] alexec commented on #5665
At first glace - I don't think this can be a bug - we'd've seen many reports.

[2021-04-13 14:12] alexec commented on #5663
This sounds like a great idea! Would you like to create a PR?

[2021-04-13 14:26] uucloud opened #5669 "Node lost outputs if waitContainer failed before AnnotateOutputs execute"
## Summary
Sometimes I can't get the archive log of failed nodes, the interface `/artifacts-by-uid/{uid}/{name}/main-file` returned `artifact not found`  but `main.log` could find in s3. This is because node outputs path not exist which cause waitContainer return before outputs annotation patched to pod, and then `podReconciliation` can't save node output.

This bug still exists in the latest vers

[2021-04-13 15:06] jherman3 commented on #5665
Thanks for looking. Is this type of use not supported? The documentation for [WorkflowSpec](https://argoproj.github.io/argo-workflows/fields/#workflowspec) and [WorkflowTemplateSpec](https://argoproj.github.io/argo-workflows/fields/#workflowtemplatespec) have identical descriptions for `workflowTemplateRef`, which is why I thought they would behave the same way, but it works for Workflow and gives

[2021-04-13 15:07] washcycle commented on #5646
I changed my artifact repositories configmap and all is well now.

[code]

Do I still need this section in the workflow-controller-configmap?

[code]

[2021-04-13 15:29] lucianodesa commented on #5663
I would gladly work on that. I will start looking at it.

[2021-04-13 15:36] alexec commented on #5646
Which config you use depends on your use case. If you are single-tenant, then the global config map is good for you. If you are multi-tenant. (one tenant per namespace) they use the ref.

[2021-04-13 15:36] alexec commented on #5665
@sarabala1979 ?

[2021-04-13 15:45] #5600 closed

[2021-04-13 18:25] #5607 closed

[2021-04-13 18:26] #5220 closed

[2021-04-13 18:26] #5669 closed

[2021-04-13 20:46] everton-nasc commented on #5536
Hey guys, getting the same error on version `v2.12.10`.

Here's a snapshot from our yaml file:
[code]

Adding the metric on the workflow level, it works but on `dag`->`task` level, doesn't work properly.

Probably the issue could be related with this one: https://github.com/argoproj/argo-workflows/issues/3872

[2021-04-14 01:16] #5629 closed

[2021-04-14 08:09] altonchuzhan commented on #4508
I have exactly the same issue.

[2021-04-14 15:23] sarabala1979 commented on #4621
#5455 will resolve this use-case

[2021-04-14 15:48] clemensvonschwerin commented on #2527
Hey guys, I can no longer find "/api/v1/workflows/{namespace}/submit-from" in the swagger documentation. Has it been removed? I am using argo-workflow-server v2.12.9 and the endpoint returns 501 for me.

[2021-04-14 16:16] sarabala1979 commented on #2527
It is renamed to `submit` #2778.
try `/api/v1/workflows/{namespace}/submit`

[2021-04-14 16:23] clemensvonschwerin commented on #2527
Ah, thank you, found it. If I may ask, what is the format for `submitOptions.parameters`? So lets imagine I have a parameter named "message" that I would like to set to the value "hello".

[2021-04-14 16:29] sarabala1979 commented on #2527
submitOptions.parameters="param1=val1, param2-val2"

[2021-04-14 16:30] clemensvonschwerin commented on #2527
Perfect, is works 👍 thanks a lot!

[2021-04-14 17:17] matt-carr commented on #4621
😍 watching eagerly

[2021-04-14 18:11] #5625 closed

[2021-04-14 18:12] alexec commented on #5627
PNS example:

https://github.com/argoproj/argo-workflows/runs/2344559289

[2021-04-14 18:12] alexec commented on #4991
@mruoss would you like to sumbit a PR to fix this mistake?

[2021-04-15 12:38] snowzach commented on #4950
I've kept mostly up to date and have not experienced this anymore...

[2021-04-15 12:38] #4950 closed

[2021-04-15 13:06] ashwin316 opened #5680 "Argo CLI not working with https/ingress"
## Summary

What happened/what you expected to happen?

Hi guys
I have installed argo-workflows(v2.12.5) on AWS EKS using helm charts. The argo-workflow-server is running on NodePort service type, and have exposed this using nginx-ingress. The UI works fine, and I am able to submit workflows from the UI. However using the cli (v3.0.0-rc8), I am not able to submit jobs.

Command: `argo submit file.

[2021-04-15 15:03] #4991 closed

[2021-04-15 15:03] #5680 closed

[2021-04-15 15:35] alexec commented on #5646
Closing as I think fixed.

[2021-04-15 15:35] #5646 closed

[2021-04-15 15:35] alexec commented on #5513
Closing as no reply.

[2021-04-15 15:35] #5513 closed

[2021-04-15 15:35] alexec commented on #5577
Bump! @Radolumbo are you still investigating?

[2021-04-15 15:37] #4290 closed

[2021-04-15 15:40] alexec commented on #5627
Pretty sure this is only PNS.

[2021-04-15 17:00] Radolumbo commented on #5577
I definitely still intend on coming back to this! I've been on vacation for the last week so haven't had a chance. If someone else feels like they want to make the fix they can, else I'll be working on it next week!

[2021-04-15 17:08] softwarebloat commented on #2376
Hey @nicks, sorry but i didn't get how you solved this.
After download and edit the YAML file as you stated above, what i have to do with it?
Sorry but i'm new to Argo and k8s in general

Thanks!

[2021-04-15 18:33] #5557 closed

[2021-04-15 21:44] seiyuricardohiga commented on #5639
Hi guys, we're facing the same issue and, after reading the entire discussion. We don't understand why we should remove `archiveLogs: true` in order to fix the error. It doesn't look like is an invalid configuration for artifacts on `v3.0.1`

 This configuration worked for us in `v3.0.0-rc8` and we cannot find any official documentation related to this issue.

-  https://github.com/argoproj/argo-w

[2021-04-15 21:54] alexec commented on #5639
I don't think that's what's happening in this issue. This was due to a forgotten config.

[2021-04-15 22:09] seiyuricardohiga commented on #5639
Thanks @alexec for your prompt response! We'll keep looking at our problem and we open another issue if needed.

[2021-04-16 05:47] sarabala1979 commented on #5665
@jherman3
[code]
The above example is nested `workflowtemplateRef` which doesn't support.  When CLI or UI submit workflowTemplate, it will create a workflow with `workflowtemplateRef`. In your case that workflowTemplate has one more workflowtemplateRef.
Currently controller doesn;t support the nested `workflowTemplateRef`

[2021-04-16 06:07] sarabala1979 commented on #5148
resolved by #5410

[2021-04-16 06:07] #5148 closed

[2021-04-16 12:52] #5018 closed

[2021-04-16 14:09] shuker85 commented on #5513
@alexec sorry, i found my mistake: bad indentation in the cm: `s3` stanza was nested under `artifactRepository:`
It works as expected now!

[2021-04-16 14:43] chrisjwhiteley commented on #3188
@ajitspendse how did you get on with this?
Looking at the docs it seems that onExit is of type String rather than being of type TemplateRef.
I agree with your points earlier that being able to point the exit handler at a template outside of your current workflow would be extremely useful to create default exit handlers. @alexec is this something that would be possible or does it go against some la

[2021-04-16 15:15] #5608 closed

[2021-04-16 16:20] alexec commented on #2729
People wanting to do stream processing might want to take a look at Argo Dataflow PoC:

https://github.com/argoproj-labs/argo-dataflow

[2021-04-16 16:21] alexec commented on #1282
Workflows v3 should just work with ISTIO. Please let me know if that is not the case.

[2021-04-16 16:21] #1282 closed

[2021-04-16 16:22] #5142 closed

[2021-04-16 16:22] alexec commented on #3265
This should be greatly improved in v3.0. If not, v3.1 introduced the Emissary Executor and you should just use that.

[2021-04-16 16:22] #3265 closed

[2021-04-16 16:31] alexec commented on #5146
Closing as invalid. Please comment if incorrect.

[2021-04-16 16:31] #5146 closed

[2021-04-16 16:33] alexec commented on #5356
Fixed in feat(controller) Emissary executor. (#4925) I think.

[2021-04-16 16:33] #5356 closed

[2021-04-16 16:35] alexec commented on #4915
Fixed by emissary.

[2021-04-16 16:35] #4915 closed

[2021-04-16 16:35] alexec commented on #4552
We can't really change these now.

[2021-04-16 16:35] alexec commented on #5614
Duplicate.

[2021-04-16 16:35] #5614 closed

[2021-04-16 16:36] alexec commented on #5256
I think we need something better here.

Can you confirm if ISTIO contains a `/bin/kill` file?

[2021-04-16 16:37] alexec commented on #2652
I think fixed in v3.

[2021-04-16 16:37] #2652 closed

[2021-04-16 16:37] alexec commented on #4790
This is basically going be the agent.

[2021-04-16 16:37] #4790 closed

[2021-04-16 16:37] #4920 closed

[2021-04-16 16:38] #4474 closed

[2021-04-16 16:38] alexec commented on #1838
You should be able to set the `executor` configmap item. Please let me know if this does not work for you.

[2021-04-16 16:38] #1838 closed

[2021-04-16 16:38] #5275 closed

[2021-04-16 16:39] alexec commented on #5275
No need to fix.

[2021-04-16 16:39] #2772 closed

[2021-04-16 16:44] alexec commented on #4545
Killing sidecars like this is by design. I don't think we can fix it. The emissary executor does not kill sidecars like this, the controller does it when it sees the wait container has exited. Could you try that? You need v3.1

[2021-04-16 16:44] #4545 closed

[2021-04-16 16:44] #4505 closed

[2021-04-16 16:44] alexec commented on #4865
https://github.com/argoproj-labs/argo-dataflow

[2021-04-16 16:44] #4865 closed

[2021-04-16 16:45] #5282 closed

[2021-04-16 16:46] alexec commented on #4862
I'm not sure this is valuable.

[2021-04-16 16:46] #4862 closed

[2021-04-16 16:46] alexec commented on #4988
https://github.com/argoproj-labs/argo-dataflow

[2021-04-16 16:46] #4988 closed

[2021-04-16 16:46] #4488 closed

[2021-04-16 16:46] alexec commented on #4488
Done.

[2021-04-16 17:03] chrisjwhiteley commented on #3188
My workaround was to create a template with a single step, calling a templateRef. This template was then added into my workflow defaults so it is available on all workflows. Setting onExit to this template gives me the functionality that I am after. I think it would be easier if onExit was of type templateRef but my solution works fine for my use.

[2021-04-16 17:37] #5661 closed

[2021-04-16 19:19] seiyuricardohiga commented on #5639
I’ve found our issue, and it is not related to v3.0.1 or something like that, it was a dangling config of our artifact repository. It was really useful to look `wait` logs from our failed pod.
Thank you!

[2021-04-16 23:05] #5627 closed

[2021-04-17 04:57] dinever opened #5690 "Manifest editor not working as expected"
## Summary

What happened/what you expected to happen?

I'm running the latest master branch. When opening up a manifest editor. I'm expecting to see the YAML view initially.

However, the current behavior is:

1. Editor shows JSON view by default
2. On the first click, still shows JSON view, but a different highlighting
3. On the second click, shows YAML view now but broken highlighting

![editor

[2021-04-17 05:10] dinever opened #5691 "CronWorkflow schedule giving inconsistent experience"
## Summary

This issue contains several minor issues related to CronWorkflow:

AFIAK we don't support the second-level CronWorkflow schedule. Second-level CronWorkflow will be rejected when submitting.  But the crontab translator seems to have no problem with it. This is an inconsistent user experience:

![Screen Shot 2021-04-17 at 1 00 58 AM](https://user-images.githubusercontent.com/1311594/1151

[2021-04-17 21:03] alexec commented on #5690
I think we should consider getting rid of the JSON editor:

1. It is complex and buggy.
2. I don't think it is useful to most users.

[2021-04-17 21:07] alexec commented on #5690
If we decide to do this:

1. Delete `api/jsonschema/schema.json`.
2. Remove `json` from `new MonacoWebpackPlugin({"languages":["json","yaml"]})` is ui/src/app/webpack.config.js.
3. Remove `lang` and `<ToggleButton/>` from `<ObjectEditor/>` (ui/src/app/shared/components/object-editor/object-editor.tsx)

See also #5613

[2021-04-17 21:15] alexec commented on #5691
Changes needed:

1. Fix `UpdateCronWorkflow` (server/cronworkflow/cron_workflow_server.go) to invoke `validate.ValidateCronWorkflow (like `CreateCronWorkflow` does on line 35)
2. Remove `Next Scheduled Time` (ui/src/app/cron-workflows/components/cron-workflow-status-viewer.tsx#L27-35). I think it is better to remove this feature than it to be buggy because it is based on wrong information.
3. The

[2021-04-17 21:44] alexec commented on #5558
I was unable to reproduce this issue.

[2021-04-17 21:50] alexec commented on #5577
Related:

fix(ui): Fix editor. Fixes #5613 Fixes #5617 (#5620)

[2021-04-17 21:50] alexec commented on #5577
I think this *may* have been fixed on master.

[2021-04-17 22:16] alexec commented on #5656
This might be a pre-existing timing issue surfaced introduced by changes in v3.

[2021-04-17 22:16] alexec commented on #5653
@endzyme can you please confirm if this worked in v2.12?

[2021-04-17 22:17] alexec commented on #5653
Related?

fix(controller): Fix timezone support. Fixes #5181 (#5182)

[2021-04-17 23:34] avifried1 opened #5697 "Argo server logs print "token not valid for running mode" every 30s"
## Summary

The argo server logs are bombarded with the following error every 30s or so:

[code]

Running with both SSO & client auth modes. Both work fine in UI & API calls (with authentication header with `Bearer TOKEN`)
We haven't seen this before v3 (upgraded from `v2.12.11`).

## Diagnostics

Running on self-managed k8s cluster in AWS. Server behind an ingress, running insecure with TLS termi

[2021-04-18 00:17] alexec commented on #5697
You most likely have a user who's browser window is open - but they have been logged out.

[2021-04-18 01:54] avifried1 commented on #5697
it really pollutes the logs. seems like the UI shouldn't need to poll the server if user's logged off.

[2021-04-18 09:57] markterm opened #5699 "Resuming a node with a global parameter using 'node set' API or CLI does not update global parameter"
## Summary

This issue concerns suspend nodes that have a output parameter that is meant to update a global (ie an output parameter with 'globalName' set).

If the workflow is suspended on one of these nodes, and a 'node set' request is received (either via API or CLI) with an update to the output parameter, then the global parameter should be updated.

Currently the global parameter is not update

[2021-04-18 18:29] andreyvelich commented on #4545
Thank you for this information @alexec!
To define Emissary runtime executor I just need to define appropriate label, like in this example: https://github.com/argoproj/argo-workflows/blob/master/examples/container-set-template/workspace-workflow.yaml#L7 ?

[2021-04-18 21:37] endzyme commented on #5653
It did, but I'll try to spin something up this coming week to provide proof. I saw your note on the related Dockerfile change. It's likely related but I haven't fully dug into why some timezones would work and others would not.

[2021-04-18 21:52] #5016 closed

[2021-04-18 21:52] #5050 closed

[2021-04-19 01:27] terrytangyuan commented on #4545
@andreyvelich Good to see you around here! Normally you don't have to specify the label in the workflow unless your controller is configured to support multiple types of executors and you want to use a specific executor for that particular workflow. You can just configure your executor in the controller's configmap: https://github.com/argoproj/argo-workflows/blob/ec4c662c952328015c4ed0eb0a04579f5a

[2021-04-19 04:52] dinever opened #5704 "GetArtifact doesn't look for input artifacts"
## Summary

When running [the artifacts example](https://argoproj.github.io/argo-workflows/examples/#artifacts), the UI link to input artifacts gives not found error.

![artifacts](https://user-images.githubusercontent.com/1311594/115182864-bc5b9300-a0a8-11eb-9f60-c76b83c23e51.gif)

## Diagnostics

The root cause is simple: `returnArtifact` only looks for output artifacts:

https://github.com/argo

[2021-04-19 05:01] #5543 closed

[2021-04-19 06:54] tommy-heyde-olsen commented on #5656
Thanks for taking the time to look into this.

[2021-04-19 10:59] tim-sendible commented on #5558
Agreed. This does seem to have fixed itself in 3.0.1

[2021-04-19 10:59] #5558 closed

[2021-04-19 12:05] boonware opened #5709 "Argo CLI lint command flag --kinds is broken"
## Summary

Follopwing the documentation at https://argoproj.github.io/argo-workflows/cli/argo_lint/ is should be possible to use the `--kinds` flag with the Argo CLI `lint` command. Argo lint `--kinds` flag is broken.

## Diagnostics

Argo CLI version `2.12.11` (latest)

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the mo

[2021-04-19 12:11] boonware opened #5710 "Argo CLI lint command incorrectly flags spec.entrypoint as missing field"
## Summary

Argo CLI lint is incorrectly complaining that field `spec.entrypoint` is missing from a workflow definition.

## Diagnostics

Argo CLI version `2.12.11` (latest)

[code]

Running `argo lint workflow/` where `workflow/` is a directory containing the workflow produces the following console output:
[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prior

[2021-04-19 12:54] terrytangyuan commented on #5709
`--kind` is not yet supported in `2.12.11`. It's currently in master branch (relevant commit: https://github.com/argoproj/argo-workflows/commit/ea26a964b7dffed2fe147db69ccce5c5f542c308) so you'll have to use the version from master.

[2021-04-19 14:25] #5709 closed

[2021-04-19 15:26] andreyvelich commented on #4545
Thank you for the clarification @terrytangyuan!
I will try this out.

[2021-04-19 15:33] alexec commented on #5653
[code]

[2021-04-19 15:35] alexec commented on #5653
[code]

[2021-04-19 15:45] #5656 closed

[2021-04-19 15:45] #5691 closed

[2021-04-19 15:45] #4970 closed

[2021-04-19 15:45] #5690 closed

[2021-04-19 15:45] #5645 closed

[2021-04-19 15:51] alexec commented on #5653
https://medium.com/@mhcbinder/using-local-time-in-a-golang-docker-container-built-from-scratch-2900af02fbaf
https://stackoverflow.com/questions/47794740/gos-time-doesnt-work-under-the-docker-image-from-scratch

[2021-04-19 16:54] Radolumbo commented on #5577
I'll test it out in a bit, and see!

[2021-04-19 17:27] #5653 closed

[2021-04-19 18:53] simster7 opened #5715 "v3.0.2 cherry-pick"
* [x] Yuan Tang: fix: Only save memoization cache when node succeeded (#5711) dba2c044
* [x] Alex Collins: fix(controller): Fix cron timezone support. Fixes #5653 (#5712) 8e9e6d67
* [x] Alex Collins: fix(ui): Fix `showWorkflows` button. Fixes #5645 (#5693) 0a6f2fc3
* [x] Alex Collins: fix(ui): Fix YAML/JSON toggle. Fixes #5690 (#5694) f9635563
* [x] Alex Collins: fix(cli): Validate cron on update.

[2021-04-19 19:17] alexec commented on #5715
done

[2021-04-19 20:23] alexec commented on #5715
@simster7 I just added another one (the dockefile v1.2). I needed this for Dataflow deployments, and I expect we need it for WFs.

[2021-04-19 20:53] simster7 commented on #5715
Done, thank you

[2021-04-20 01:27] Radolumbo commented on #5577
I'm still seeing the same behavior.

[2021-04-20 04:45] dinever commented on #5710
This issue seems to have been fixed in the latest master branch. It now gives correct error message:

![Screen Shot 2021-04-20 at 12 44 56 AM](https://user-images.githubusercontent.com/1311594/115338825-a1a12100-a171-11eb-92d9-434353508189.png)

[2021-04-20 14:57] alexec commented on #5577
I could not reproduce this. Can anyone volunteer to debug via Zoom?

[2021-04-20 15:29] alexec opened #5720 "change `argoexec` to use `alpine` rather that debian"
The Debian base image (10) has not been updated since 2019 and has 14 high severity vulnerabilities that are only fixed in 11 which will not be released for some months.

Using Alpine we can:

* Reduce the vuln surface.
* Have faster builds.
* Have smaller images.

[2021-04-20 15:30] alexec commented on #5720
Using alpine fixes all the problems.

[2021-04-20 16:05] #5580 closed

[2021-04-20 16:17] Radolumbo commented on #5577
I could do so. I just got back to looking at this, and I think I understand what's happening, though I haven't decided exactly the best way to approach it, yet.

[2021-04-20 19:36] mojojoji opened #5722 "Kubernetes resource creation template fails for resources like ConfigMap, Secrets, Pods etc"
Creation of resources like ConfigMap, Secret fails when a kubernetes resource type template is used. This is happening because there is a check for empty resourceGroup. But resourceGroup will be empty for certain resources like ConfigMap, Secrets, Pods etc.

https://github.com/argoproj/argo-workflows/blob/dba2c044e6d471f65dec868ff2453b90c088bd3e/workflow/executor/resource.go#L59-L61

The resource

[2021-04-20 19:53] alexec commented on #5722
Related to https://github.com/argoproj/argo-workflows/commit/2651bd6193acc491f4a20b6e68c082227f9e60f6
@terrytangyuan ?

[2021-04-20 19:54] alexec commented on #5722
@simster7 did we back port that commit to v3.0?

[2021-04-20 20:24] terrytangyuan commented on #5722
My apologies. This is indeed an oversight. Fixing in https://github.com/argoproj/argo-workflows/pull/5723.

[2021-04-20 20:25] terrytangyuan commented on #5722
@alexec From the commit https://github.com/argoproj/argo-workflows/commit/2651bd6193acc491f4a20b6e68c082227f9e60f6, I don't see it being ported to any of the releases yet.

[2021-04-20 20:37] terrytangyuan opened #5724 "Lack of e2e tests on resource-type templates"
# Summary

What change needs making?

We current only run a couple of examples with resource-type templates in the CI but they don't test all the use cases yet.

# Use Cases

When would you use this?

* Prevent bugs/regressions like https://github.com/argoproj/argo-workflows/issues/5722.
* Make it easier/safer to add new functionality or refactoring. Ref https://github.com/argoproj/argo-workflows/

[2021-04-20 20:41] Radolumbo commented on #5577
I should at least have a draft PR soon for one way we can approach this. I think it's a little hacky, but it's similar to what was being done in V2, and should at least start a discussion.

[2021-04-20 20:41] terrytangyuan commented on #5724
I can work on adding some tests when I get a chance. Feel free to assign to me.

[2021-04-20 21:29] mojojoji commented on #5722
I installed argo-workflows using `https://raw.githubusercontent.com/argoproj/argo-workflows/stable/manifests/install.yaml` which uses `latest` container image tag. This bug was present in the latest image.
The 3.0.2 which is the latest release does not have the check for resourceGroup. It is there in master branch.

Does that mean that the latest image tag does not use the latest release tag but t

[2021-04-20 22:08] #5722 closed

[2021-04-20 22:57] jangold-miovision opened #5727 "Logs stop working after long-running "aws s3 cp""
## Summary

Argo's logs stop reporting new lines after running some awscli commands. The underlying Kubernetes logs are **not** broken at the same time.

I think this is related to the example command logging its progress in 1 line that gets repeatedly overwritten. Other commands that work the same way may cause the same problem.

A container that runs `aws s3 cp (s3url for large file) (localfile)

[2021-04-21 02:32] #5068 closed

[2021-04-21 02:32] #4431 closed

[2021-04-21 04:07] catfalls commented on #4153
I found that if you wrap the left and right expressions with single quotes respectively, the error will go away. For example, for
[code]

the working version would be
[code]

[2021-04-21 12:48] vbarbaresi commented on #5638
I'm trying this fix to run Argo Workflows v3 on a cluster running in version < 1.14
I set the environment variable

I found out 2 issues:

- It still tries to start leading and will fails to get leases. It seems this cause the controller to never be in a processing state
[code]
I think when the leader election is disabled, we shouldn't try to start leading:
https://github.com/argoproj/argo-workflo

[2021-04-21 14:10] dinever opened #5728 "Support more variables in the pod-level link"
## Summary

This issue is based on a request from the CNCF slack channel: https://cloud-native.slack.com/archives/C01QW9QSSSK/p1618627728028000

Currently we support `${metadata.name}`, `${metadata.name}`, `${workflow...}` in the pod-level link. It would be great if we can also access more metadata of the workflow node/pod.

For example:
- `${metadata.stepName}`: Name of the workflow step
- `${met

[2021-04-21 14:17] Radolumbo commented on #5577
Please see https://github.com/argoproj/argo-workflows/pull/5729

[2021-04-21 16:09] agershman commented on #5728
I think we'd want to see the option to reference metadata related to the step/pod in addition to the above. Would this be possible via those `stepName` and `templateName`?

[2021-04-21 20:13] ppapasani1 opened #5732 "bug: Unable to switch to different namespace in Argo UI"
## Summary

What happened/what you expected to happen?

## Diagnostics

What Kubernetes provider are you using?  on-premise cluster

What version of Argo Workflows are you running? Argo v3.0.1

We have workflows running in different namespaces and there is no way to directly switch to a different namespace from UI, the namespace field is hardcoded to `default`. Should this be a drop-down with a li

[2021-04-21 21:29] heyleke opened #5733 "artifactory main pod log storing using workflow-controller-configmap gives nil pointer panic"
## Summary

I wanted to store the main pod logs of my steps directly on artifactory, so followed the (splintered) docs I found to configure artifactory repo in the workflow-config-map, but I see the wait container (argoexec) crashing

## Diagnostics

Using docker executor

What version of Argo Workflows are you running?
3.0.1

[code]

I then recompiled argoexec to add some extra prints to see the

[2021-04-21 22:19] alexec commented on #5732
As a work-around, change the URL. Also, please try v3.0.2.

[2021-04-21 23:41] deepk2u opened #5735 "Passing artifacts as manifest to resource template"
# Summary

What change needs making?

I need to pass input artifacts as manifest to resource template

# Use Cases
I have a huge k8s manifest that is coming as an artifact from another step and because of size limitations, we can not take that manifest as a parameter, so artifact is an alternative.

When would you use this?

[code]

currently, it throws error: ` templates.spark-application.resourc

[2021-04-22 00:46] ppapasani1 commented on #5732
@alexec . Yes we are going with the workaround. Even the issue exits in v3.0.2

![Screen Shot 2021-04-21 at 5 43 53 PM](https://user-images.githubusercontent.com/37124509/115639453-76c9e080-a2c9-11eb-85be-c832804dd514.png)

[2021-04-22 03:10] sujaykulkarn opened #5737 "[PROPOSAL] Provide Godoc for all the codebase in the argo-workflows."
# Summary

What change needs making?

Right now, In the argo-workflows codebase, there is no proper documentation of the file and it becomes difficult for beginners to identify what that particular file does so it will be good if this godoc enhancement we do it.

# Use Cases

When would you use this?
This helps contributors to get more out of the codebase and eventually helps in the development of

[2021-04-22 05:40] dinever commented on #5728
Thanks @agershman! I just took a look at the code. We don't really have pod metadata information on UI at the moment. Here is a list of attributes that are exposed to UI. These are very simple to be supported on a Pod-level link:

https://github.com/argoproj/argo-workflows/blob/0a1bff19d066b0f1b839d8edeada819c0f08da57/pkg/apis/workflow/v1alpha1/generated.proto#L640-L728

Supporting pod metadata wi

[2021-04-22 08:24] joyciep commented on #5638
I also encountered the same issue as @vbarbaresi in Openshift 3.11 (Argo v3.0.2).

[code]

[2021-04-22 11:45] yangyuan6 commented on #630
I've had this problem before.
exec
[code]
then OK.

[2021-04-22 12:15] jp-gouin commented on #733
Hi ,
Since Argo-ci is deprecated , is there a way to have the workflow status in GitHub ?
and the badge (same as argo-cd)

thanks

[2021-04-22 12:33] AvasDream commented on #4169
Since this is the first thing that comes up when googling the error I add my solution.

My script template looked like this:

[code]

And should have been:

[code]

The parameters name key was not a list. `  name: text` vs `  - name: text`

[2021-04-22 13:16] chtcvl opened #5738 "continueOn: failed: true doesn't work as expected for "pod deleted" steps"
## Summary

What happened/what you expected to happen?
What happened:
* Some pods get `pod deleted` error message, even though the workload succeeds and main.log successfully stored to artifacts. This happens in a nested workflow and the next step of the nested workflow never happens even though there is:
[code]
Expected:
1. Not having `pod deleted` on pods which actually succeed (can see on the l

[2021-04-22 14:48] alexey-pankratyev opened #5739 "Issues with run argoexec used argoworkflow with k8s enabled "pod-security-policy" with option readOnlyRootFilesystem"
## Summary

What happened/what you expected to happen?
What happened:

* Problem of getting git artifact with k8s option enabled  "pod-security-policy" with option readOnlyRootFilesystem

## Diagnostics

What Kubernetes provider are you using?
bare metal vanilla k8s -  v1.20.0 - enabled  "pod-security-policy" with option readOnlyRootFilesystem
What version of Argo Workflows are you running?
v3.0.1

[2021-04-22 15:06] terrytangyuan commented on #5738
I believe this error should stop appearing after https://github.com/argoproj/argo-workflows/pull/4808 got merged (related issue https://github.com/argoproj/argo-workflows/issues/4798) but I'll defer this to @alexec to double check.

[2021-04-22 15:47] alexec commented on #5739
This can be fixed by changing:

workflow/artifacts/git/git.go

Instead, we should bundle the binary into the container image.

Would you like to submit a PR to make these changes?

[2021-04-22 15:51] alexey-pankratyev commented on #5739
Yes, I can and I want to participate in your project

[2021-04-22 15:51] alexec commented on #733
Maybe try widgets in v3?

[2021-04-22 15:52] alexec commented on #5638
@sarabala1979 didn't this get fixed?

[2021-04-22 18:18] alexec opened #5741 "Hide managed fields in the UI"
They are quite annoying.

[2021-04-22 18:19] #5704 closed

[2021-04-22 18:19] alexec commented on #5732
Maybe fixed by #5729

[2021-04-22 18:23] #2729 closed

[2021-04-22 18:28] Radolumbo commented on #5732
Are you sure you aren't running the server in namespaced mode? I.E. the server has the --namespaced flag in its deployment definition? I was just testing this behavior recently, and without the --namespaced flag, that field behaves as an input.

[2021-04-22 18:47] ppapasani1 commented on #5732
Yes, I have the --namespaced flag. Removing --namespaced flag allowed to edit the namespace field. Thanks. @Radolumbo

[2021-04-22 18:50] Radolumbo commented on #5732
Yep, no worries! In general, "namespaced" mode necessarily means that Workflows will only run in a single namespace for the corresponding server. A major use for this being that it allows you to have a separate server running in each namespace with isolation. If you want one server/controller that runs workflows in many namespaces, leave out "--namespaced".

[2021-04-22 19:34] jp-gouin commented on #733
Thank you 🙏 that’s exactly what I was looking for

[2021-04-23 02:54] chtcvl commented on #5738
There are no events regarding pod eviction in events. In cluster audit log, Pod is deleted by `kube-system:pod-garbage-collector` service account.

[2021-04-23 13:53] marcstreeter opened #5745 "CLI: Build for Apple M1"
I notice that there is a Darwin AMD64 and was wondering if building it for the M1 would be supported?

[2021-04-23 16:09] alexec commented on #5745
Not yet. Don't even know if it works. Would you like to try it?

[2021-04-23 16:10] alexec commented on #5745
Looks like we'd need to upgrade to Go 1.16:

https://www.zdnet.com/article/go-programming-language-just-added-native-support-for-apples-mac-m1-arm-chip/

[2021-04-23 16:10] alexec commented on #5745
#5563

[2021-04-23 17:29] #5361 closed

[2021-04-23 23:21] #5577 closed

[2021-04-24 01:38] #5104 closed

[2021-04-25 17:52] paulvvuong opened #5753 "workflows' manifests/base/crd missing crd from argo-events"
## Summary

In the Argo UI, when clicking on `Event Sources` or `Sensors` icon, error message will appear if the CRDs from `argo-events/manifests/base/crds/` have not been installed.

## Diagnostics

I am using AWS EKS, running v1.19 kubernetes

I just completed a fresh install of Argo Workflows v3.0.2

In the UI, these are sample error messages:
[code]
[code]

From the Argo server  kubelogs, thes

[2021-04-26 05:59] #4772 closed

[2021-04-26 19:31] ionutz89 opened #5755 "[FEATURE REQUEST] Multi arch support"
# Summary

It will be great to have docker images built as multi arch-like `amd64/arm64`. I want to use the docker containers on hardware with arm64 like RPI 4 for example.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-04-26 19:57] alexec commented on #5755
They are?

[2021-04-26 20:17] dinever commented on #2053
I can confirm this can be achieved by `podSpecPatch`. For example:

[code]

[2021-04-27 00:35] cscetbon opened #5756 "Workflow arguments should default to the entrypoint's inputs"
# Summary

When no arguments are present on a workflow spec it should default to the entrypoint inputs.

# Use Cases

When would you use this?

I have a workflow template that is called by a cron workflow. Everything works as expected and from the CLI I can call it and pass parameters defined in the entrypoint inputs parameters. However, from the UI, users don't see the parameters unless they are

[2021-04-27 01:56] yuriyfilonovooh commented on #4667
Many thanks for this suggestion

[2021-04-27 06:03] tim-sendible opened #5757 "Can't scroll on the workflow summary screen"
## Summary

Got to a running workflow (or an archived workflow if you're feeling fancy). Go to the summary screen. Attempt to scroll down.

User cannot scroll down. This only started happening from 3.0.2, 3.0.1 was fine.

## Diagnostics

Firefox 87.0 (mac)
Chrome 90 (windows)

What Kubernetes provider are you using? EKS 1.19

What version of Argo Workflows are you running? 3.0.2

---

**Message fr

[2021-04-27 09:57] toninis commented on #5697
Check also if there is a healtcheck from kubernetes

[2021-04-27 11:27] ionutz89 commented on #5755
If you have cluster k8s on RPI 4, it will be very good to have this. I have to rebuild the image to make it compatible with arm64. Maybe a github action with a build kit will be very useful for more people. I can see the potential of this project.

[2021-04-27 15:05] alexec commented on #5755
Sorry. I mean to say we already build multi arch images of the executor. Do you need the controller too? If, would you like to submit a PR to add the build?

[2021-04-27 15:07] alexec commented on #5757
I think this was fixed on latest?

[2021-04-27 15:37] justinmchase commented on #4769
I am looking for this, was this implemented or why was this closed?

[2021-04-27 17:18] bklaubos commented on #5439
What is the rationale and usecase scenarios for this enhancement?

[2021-04-27 17:19] ionutz89 commented on #5755
You are right. I had did not see clearly for the workflow it is on arm64. Apologies for inconvenience

[2021-04-27 17:19] #5755 closed

[2021-04-27 18:25] kmorkans commented on #5582
That solution seems at most like a workaround.
I would agree with @Unb9rn that the correct way would be to do it in a standard way by reading a certificate secret by a certain name. That then can be provided by cert-manager or other ways.

[2021-04-27 21:15] alexec commented on #5582
would anyone would like to submit a PR to add something a bit more to their taste?

[2021-04-27 23:41] alexec commented on #5753
You need to install these from the argo-events repository.

[2021-04-27 23:41] #5753 closed

[2021-04-27 23:41] alexec commented on #5753
https://argoproj.github.io/argo-events/quick_start/

[2021-04-27 23:42] #5715 closed

[2021-04-27 23:43] #5732 closed

[2021-04-28 01:07] marcstreeter commented on #5755
I actually would be willing to look into helping here, I think if at all possible it would be great to have this work 100% in RPi (and arm in general).  Could we keep this task open for those (including myself) who'd like this work to continue?

[2021-04-28 03:50] joyciep commented on #5638
Any updates on this?

[2021-04-28 03:52] alexec commented on #5638
I think you need to set LEADER_ELECTION_IDENTITY=off.

[2021-04-28 07:08] joyciep commented on #5638
I already set `LEADER_ELECTION_IDENTITY` to `off` and `LEADER_ELECTION_DISABLE` to `true` and I still encountered the same error.

[2021-04-28 09:39] vbarbaresi commented on #5638
I tested with the `latest` image this time, and setting `LEADER_ELECTION_DISABLE=true` worked for me this time
I previously tested on `v3.0.2` but `LEADER_ELECTION_DISABLE` wasn't released on this version

[2021-04-28 09:39] anankun opened #5763 "Can the resume function only target a node,not target a workflow"
# Summary
Current implementation of resume targets workflow. When I have two nodes both suspend template, I just  want only one node resume to go on, other node is still suspend. Like this:

# Use Cases
![image](https://user-images.githubusercontent.com/13867253/116382331-60cb9b00-a848-11eb-9c09-b876732e9c70.png)
I have two paths both suspend, when I click resume, both of them are resume. I just w

[2021-04-28 12:56] digibank-rons opened #5764 "executor error: entry not found"
## Summary

We are ruuning many repos through our Argo workflows CI and dozens work perfectly fine, just one repo produces the error -
"executor error: entry not found" in it's init container of the first step before it should fetch code

We are running on argo workflows 3.0.2 but this happened on 2.12.11 too

Workflow -

kind: Pod
apiVersion: v1
metadata:
  name: workflow-ci-cheque-9900469pdt9x-2

[2021-04-28 12:59] ghoubrial opened #5765 "Make links in README file open in a new tab"
# Summary

Links in the README file opens in the same tab. It would be better if we could make it open in a new tab instead.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-04-28 13:26] madhuresh04 opened #5766 "The env variable can't be used in another env variable."
## Summary

I was expecting that when i declare an env variable , the same can be referenced i another env variable too (in the same container). But it was not happening.
I gave tries with  $, ${} , {$} , {{$}}

## Diagnostics

What version of Argo Workflows are you running?
v2.12
kubectl get workflow -oyaml
[code]

kubectl logs -n argo $(kubectl get pods -l app=workflow-controller -n argo -o name

[2021-04-28 13:28] madhuresh04 commented on #5766
We want to run docker commands from the script and want DOCKER_HOST variable to be set as tcp://${DOCKER_HOST_IP}:2375
Were this DOCKER_HOST_IP is coming from the the env variable
[code]

[2021-04-28 14:29] edeliot-fr opened #5767 "argo resume does not work when workflow is started using workflowTemplateRef"
## Summary

I start a workflow using workflowTemplateRef to reference a workflowTemplate. I can suspend the workflow and I see the processing stop once the running container is done. However when I resume it, argo cli returns success "workflow test-hg2rk resumed" and the status go back to Running from Running(Suspended) but no new step is started and nothing happens.

## Diagnostics

I am using ar

[2021-04-28 15:28] sarabala1979 commented on #5767
Let me take a look. I could be a bug to update the `suspend` on `storedWorkflowTemplateSpec`

[2021-04-28 15:41] alexec commented on #5638
We should backport the fix.

[2021-04-28 15:45] alexec commented on #5766
Can you point me to the docs where this works?

[2021-04-28 15:45] alexec commented on #5765
Can you please send me a like to the document you mean?

[2021-04-28 15:46] alexec commented on #5763
This would be a nice enhancement to the UI.

[2021-04-28 16:26] alexec commented on #5274
This was fixed in #5088.

[2021-04-28 16:26] #5274 closed

[2021-04-28 16:32] alexec commented on #2800
Bump. This PR needs community contribution. The core maintainers do not operate S3 with SSE buckets, and are therefore unable to develop the feature.

[2021-04-28 16:34] vbarbaresi opened #5769 ""artifact-repositories not found" error from the workflow-controller"
I’m getting a new error on workflow-controller `latest` image:
It happens right after a workflow is processed
[code]

I didn’t configure any artifact repository, I’m using a very simple configmap from the [default manifests](https://github.com/argoproj/argo-workflows/blob/master/manifests/base/workflow-controller/workflow-controller-configmap.yaml).
I don't have a configmap `artifact-repositories`

[2021-04-28 16:35] dhenneke opened #5770 "Reading outputs from an input directory fails in k8sapi"
## Summary

I want to run a workflow that gets a working directory as an input, runs a container to modify the files, and publishes the modified working directory as an output. This should work with the `k8sapi` executer since the input folder is already part of an `emptyDir` volume.

Given this example workflow:
[code]

When I submit it, I get the following output:

[code]

## Diagnostics

Intere

[2021-04-28 16:44] alexec commented on #5770
This feature does not work for the `k8sapi` executed. Please try `pns`.

[2021-04-28 16:49] ghoubrial commented on #5765
@alexec Seems like it is all the links in README e.g., "Cloud Native Computing Foundation (CNCF)", 5-min demonstration video, "Read what people said in our latest survey", "Access the demo environment", etc.

[2021-04-28 17:46] alexec commented on #5765
do you mean on this page?

https://github.com/argoproj/argo-workflows

we don't control that (Github do)

[2021-04-28 17:47] ghoubrial commented on #5765
Yep!

[2021-04-28 17:50] ghoubrial commented on #5765
My bad, we can't do this in markdown as discussed in https://github.com/mojombo/github-flavored-markdown/issues/28

[2021-04-28 18:53] terrytangyuan commented on #5769
This is due to the additional logging added to transient errors in https://github.com/argoproj/argo-workflows/pull/5501.

The error can be ignored and should have no impact. It would definitely be better if it can be removed though.

[2021-04-28 19:36] dpkirchner commented on #4531
@hadim I believe that fix was for authenticating with Kubernetes' API server, not for front-end UI users. As far as I can tell, Argo support IAP.

[2021-04-28 19:41] alexec commented on #5769
we should not log anything at error level that is not an error - so this should be changed to warn level

@copierrj could I please ask you to send a PR to change the log level?

[2021-04-28 20:04] max-sixty commented on #4531
We run argo successfully with IAP (it's great!), here are our manifests:

[code]

This is mostly cobbled together, so lmk any better approaches

[2021-04-28 21:28] bmayfi3ld commented on #5733
I seem to be running into the same thing. I found it interesting that when I embed the Artifactory config into the workflow I do not have an issue.

[2021-04-28 22:42] alexec commented on #5733
@bmayfi3ld can you paste your error please?

[2021-04-28 22:55] alexec commented on #5733
your logs do not show v3.0.1 - I'm not sure what they show -

git checkout `git rev-list -1 --before="Apr 04 2021" master`

[2021-04-28 23:00] alexec commented on #5733
ok - I see you recomplied it and that changed the line numbering - so I cannot reference your stack trace to source code.

[2021-04-28 23:02] alexec commented on #5733
only so many things this could be:

art.Artifactory.UsernameSecret.

or maybe

art.Artifactory.PasswordSecret

[2021-04-29 00:00] alexec commented on #5733
I've made a few attempts to repro in v3.0.2. I've not succeeded. Could you please try v3.0.2 and see if that fixes it ?

[2021-04-29 03:13] marcstreeter opened #5771 "ArchiveLogs false not respected"
## Summary

expected: setting `archiveLogs: false` in `workflow-controller-configmap`  using `kubectl -n argo edit cm workflow-controller-configmap` would prevent output.
actual: still provides output

## Diagnostics

What Kubernetes provider are you using? k3s (on prem) v1.20.2+k3s1

What version of Argo Workflows are you running? 3.0.2

#### example workflow manifest
[code]

### Logs
[code]

###

[2021-04-29 03:31] marcstreeter commented on #5745
Definitely! In the meantime I'll see if I can just get along with using Rosetta.

[2021-04-29 07:18] heyleke commented on #5733
Yes, I will retry with v3.0.2 without extra debug lines so stack trace can be used, can you also share how you can use the stracktrace when you have the binary build yourself. I'm not used to working with golang and these kind of printed stacktraces.

[2021-04-29 07:49] madhuresh04 commented on #5766
I am not sure, if this is expected to run or is it not supported by kubernetes containers itself.
If it is not supported by k8s containers itself. please let me know. @alexec  Thanks.

[2021-04-29 09:24] madhuresh04 commented on #5766
This helped https://stackoverflow.com/questions/40889743/string-operation-on-env-variables-on-kubernetes
Thanks for quick reply @alexec . Closing the isssue

[2021-04-29 09:24] #5766 closed

[2021-04-29 12:28] bmayfi3ld commented on #5733
my error from v3.0.1 for further reference.

`executor panic: runtime error: invalid memory address or nil pointer dereference
goroutine 1 [running]:
runtime/debug.Stack(0x2054e8a, 0x14, 0xc0004f6300)
    /usr/local/go/src/runtime/debug/stack.go:24 +0x9f
github.com/argoproj/argo-workflows/v3/workflow/executor.(*WorkflowExecutor).HandleError(0xc0000d2000, 0x2371540, 0xc000056018)
    /go/src/github

[2021-04-29 12:45] bmayfi3ld commented on #5733
My error from v3.0.2

[code]

[2021-04-29 12:52] bmayfi3ld commented on #5733
I'd agree it is the lines you pointed out @alexec. Looking at the extra debug output that @heyleke added in it looks like UsernameSecret and PasswordSecret are remaining nil even though no error is thrown from the ri.GetSecret call.

```time="2021-04-21T21:20:24.630Z" level=info msg="Artifactory: &ArtifactoryArtifact{URL:/artifactory/fixedaccess-sw-rpm-local/nested-wf-test/nested-wf-test-73877493/

[2021-04-29 12:59] terrytangyuan commented on #5745
@alexec May I ask what's the reason for closing https://github.com/argoproj/argo-workflows/pull/5721 that could fix #5563?

[2021-04-29 15:47] bmayfi3ld commented on #5733
It seems like the variables are not getting loaded when the source is the controller configmap or a default configmap

[code]

[2021-04-29 16:06] dpkirchner commented on #4531
@max-sixty yeah -- I should have been more clear. While you can run Argo behind IAP it cannot not (as far as I can tell) integrate with Argo's authentication systems, so you still have to log in after logging in to Google. I could definitely be wrong but I've spent a lot of time and dug through the code all to no avail.

[2021-04-29 16:20] alexec commented on #5745
I closed #5721 because it was intended as PoC, I wanted to see what benefits 1.16 might have. I didn't feel that I was getting much out of it.

[2021-04-29 16:22] #5229 closed

[2021-04-29 16:22] rpledger commented on #5229
No longer needed due to work around with podSpecPatch

[2021-04-29 16:23] alexec commented on #5771
This flag disable the archiving of logs (main.log) to you artifact repository. It does not (and we cannot) change what Kubernetes does for the pod.

[2021-04-29 16:36] alexec commented on #5733
Your stack trace confirm what I thought - that `UsernameSecret` is nil. You CM clearly shows it is set to "artifactory-secret"

[2021-04-29 16:40] alexec commented on #5733
My first suspect:

[code]

[2021-04-29 16:56] alexec commented on #5733
I've created PR that will push an engineering build of the executor: `argoproj/argoexec:dev-5733`. This adds logging. Could I please ask you to try it out?

[2021-04-29 17:14] max-sixty commented on #4531
Ah, yes @dpkirchner , that makes sense.

[2021-04-29 18:04] heyleke commented on #5733
I've tested with controller 3.0.1 and your argoexec:dev-5733:

`time="2021-04-29T18:02:47.630Z" level=info msg="Starting Workflow Executor" version="{untagged 2021-04-29T16:55:49Z 1b478cd0af002d3630d6e0b265d477e3a24444c9 untagged clean go1.15.7 gc linux/amd64}"
time="2021-04-29T18:02:47.634Z" level=info msg="Creating a docker executor"
time="2021-04-29T18:02:47.634Z" level=info msg="Executor (vers

[2021-04-29 18:26] alexec commented on #5733
I've updated the branch with a potential bug fix. It should be built by 12:30 Pacific time. Can you please test it out?

[2021-04-29 19:38] bmayfi3ld commented on #5733
Was able to test the latest build and the nil pointer error is gone. I am still getting a key error, but this might be unrelated as I get this even if I embed the artifact config sometimes.

[code]

[2021-04-29 21:28] alexec commented on #5763
@anankun would you like to submit a PR to fix this?

[2021-04-29 21:30] alexec commented on #5764
Can you please confirm if the container status is also `entry not found`? This can be found using `kubectl get pod  -ojson`.

[2021-04-29 23:02] everton-nasc commented on #5757
Same error on version `3.0.2` and `latest`.

Here's the image:
![Screen Shot 2021-04-29 at 4 55 03 PM](https://user-images.githubusercontent.com/58737540/116628525-8d48eb00-a90c-11eb-9b75-d68af0c91a32.png)

[2021-04-29 23:24] everton-nasc commented on #5536
Update: The error persists on Argo WF `3.0.2` :(

[2021-04-29 23:49] caueasantos opened #5779 "DAG/STEPS Hang v3.0.2 - Sidecars not being killed"
## Summary

What happened?
[code]
<img width="1185" alt="Screen Shot 2021-04-29 at 7 01 35 PM" src="https://user-images.githubusercontent.com/46695526/116630781-e3745900-a921-11eb-8cff-7df478c772b9.png">

<img width="811" alt="image" src="https://user-images.githubusercontent.com/46695526/116632279-d1e08080-a924-11eb-8d5a-16ef34ce7c30.png">

What did you expect to happen?
[code]

## Diagnostics

W

[2021-04-29 23:54] thiago4int commented on #5771
+1.

[2021-04-30 00:44] anankun commented on #5763
Sorry，I'm beginner in go , not good at go and ts. Maybe after a while

[2021-04-30 01:11] alexec commented on #5779
Can you confirm if the pod completes? E.g. by providing `kubectl get pod NAME_OF_POD -ojson`.

[2021-04-30 01:14] alexec commented on #5733
I've built a new version with a fix. Same tag. Set `imagePullPolicy: Always` to make sure you get the new version. Can you please test?

[2021-04-30 02:52] caueasantos commented on #5779
`kubectl get pod NAME_OF_POD -o yaml`

[pod-dag-hang.txt](https://github.com/argoproj/argo-workflows/files/6402745/pod-dag-hang.txt)

Executor `PNS`

[code]

[2021-04-30 05:55] heyleke commented on #5733
new run with imagePullPolicy for the executor to Always:

[code]

2 files present on artifactory:
![image](https://user-images.githubusercontent.com/8751615/116654092-c45ce200-a988-11eb-98ff-6f8fece7f6a3.png)

[2021-04-30 08:44] dhenneke commented on #5770
Yes, `pns` works. We will check internally if it is OK to use it in our installation.

I could also try to fix the issue for `k8sapi`. How about creating a new function `common.IsOverlappingWithInput(…)` with the code from the `executor.go`, and using it in both the `executor.go` and the `validate.go`? If that fix solves the issue, it would be fine; if not and it requires more changes, I would pro

[2021-04-30 11:59] kmorkans commented on #2902
Facing the same problem. Cannot connect to TLS enforced server.
github.com/go-sql-driver/mysql has params tls=true and I would suggest also adding skip-verify.
If time permits will try to submit a PR soon

[2021-04-30 14:04] bmayfi3ld commented on #5733
I'm back to the panic

[code]

[2021-04-30 14:26] bmayfi3ld commented on #5733
The key unsupported error I was getting above I think might be unrelated. I'm going to open a new ticket for it.

[2021-04-30 14:49] bmayfi3ld opened #5782 "Receiving Key Unsupported Error when running artifact example"
## Summary

I expected to be able to run the artifact example. I received an error when running the artifact example.

Errors:
executor error: key unsupported
key unsupported

Also received the error when using the k8sapi and emptyDirs, but I thought this was the simplest way to replicate.

## Diagnostics

What Kubernetes provider are you using?
RKE
Kubernetes Version 1.20.5
Docker Version 20.10.6

[2021-04-30 15:53] dinever commented on #5757
Hi, this is fixed in #5743. Will be included in the next release. Thanks!

[2021-04-30 16:35] alexec commented on #5770
As of v3.1 users should consider migrating to the emissary executor if security is their primary concern (it is at least as secure). I’m not sure we should invest too much in older executors.

[2021-04-30 18:27] alexec commented on #5779
Thank you. I can see from your attachment that you have several sidecars, but even though the wait contained exited, these were not killed.

[2021-04-30 18:36] alexec commented on #5779
I've created an engineering build which logs more information: `argoproj/argoexec:dev-5733`

Could I please you to try it out and attach the wait container logs?

[2021-04-30 18:44] alexec commented on #5782
I've added more logging  to `argoproj/argoexec:dev-5733` can you please test?

[2021-04-30 18:47] alexec commented on #5733
@heyleke I think you're saying your issue is fixed?

[2021-04-30 18:53] bmayfi3ld commented on #5782
[code]

[2021-04-30 19:02] bmayfi3ld commented on #5782
new logs below
[code]

[2021-04-30 19:11] victorkirov opened #5786 "SSO RBAC not working with most claims"
## Summary

We're running Argo Workflows with SSO and RBAC enabled. We're using Google as the OIDC provider. The email scope is being requested as was confirmed in the URL when signing in on Google.

With RBAC disabled, anyone is able to login to the server successfully.

With RBAC enabled, we have annotated the server workflow account with the precedence and rule.

When we try to set a rule for t

[2021-04-30 19:22] heyleke commented on #5733
Yes, for me this solves the issue, still interested in being able to use the stack dump myself to debug such issues, any pointer for a newby with golang? 😁

[2021-04-30 19:25] caueasantos commented on #5779
Nice, thank you for that. That won't be so easy since I didn't find a way to simulate the failure which only happens when I've multiple workflows running (AND the workflow is huge)

I'm gonna try to take advantage of the weekend to roll out the new version again and see if I can capture the logs for you. Meanwhile, I'm working in a different approach moving towards `steps` instead of `dag` using w

[2021-04-30 20:43] #5135 closed

[2021-04-30 21:01] alexec commented on #5786
Your rule looks correct to me. Can you confirm that if you open the user info page, the. Your email is shown? You need to configure the server is request the email scope.

[2021-04-30 21:46] marcstreeter commented on #5771
hmm - I thought I'd confirmed this as still writing to the artifact repository (in my case Minio -- this is the quick start -- maybe that has an effect?).  Would it help if I showed screenshots?
<img width="1206" alt="image" src="https://user-images.githubusercontent.com/5916490/116757307-73bea680-a9d3-11eb-9320-c0e91d0104c6.png">

and here is minio

<img width="1206" alt="image" src="https://user

[2021-04-30 22:40] alexec commented on #5771
Ah - you're saying the `main.log` is uploaded, even if not requested.

Can you please share the YAML for you pod?

[2021-05-01 07:11] victorkirov commented on #5786
No, it doesn't look like it's there:
![image](https://user-images.githubusercontent.com/3322667/116774440-ddcf5e00-aa5c-11eb-9c35-816144ae4e34.png)

This is the google login link we use:
[code]

The email scope is definitely there and going through the flow manually does get me a JWT with the email claim.

[2021-05-01 08:16] fr-ser commented on #4993
We are experiencing the same problem at our cluster. I cannot confirm the observations of @RysBen, however.
The argo commands take a reasonable amount of time.

Out Kubernetes is an AWS EKS cluster, which I would follow best practices so I cannot say much about customizations regarding Kubernetes API agents...

[2021-05-01 10:05] orrymr opened #5789 "Resource Template Patch Fails Due to Insufficient Permissions"
## Summary

What happened/what you expected to happen?
I expect to be able to create a workflow with a resource template which is able to patch an existing deployment in my cluster.
The deployment is in the "dev" namespace. Argo Workflows is installed in argo-workflows.
I am getting a permission error: default serviceaccount (which workflows is using) doesn't have "get" permissions for deployments

[2021-05-01 13:07] bmayfi3ld commented on #5733
@heyleke Ardan labs is always a good resource https://www.ardanlabs.com/blog/2015/01/stack-traces-in-go.html

[2021-05-01 18:01] wanghong230 commented on #5789
It is just an RBAC issue. By default, we just ask for the bare minimum permission.

In your case, the default service account in the argo-workflows namespace is being used for your workflow which doesn't have the permission to touch the deployment object. You need to create additional role and role binding to enhance the default service account permission to allow that.

[2021-05-01 18:01] #5789 closed

[2021-05-02 03:17] AshwiniSwain commented on #5786
@victorkirov Can you please share your rbac.yaml file. I have tried the rule `email endsWith '@ourdomain.com'`, and it works for me

[2021-05-02 04:25] marcstreeter commented on #5771
Sure, it doesn't require any special pod, I'm seeing the behavior with the stock `hello-world` -- I'm using this workflow:
[code]

maybe I'm not understanding the question, apologies

[2021-05-02 04:28] marcstreeter commented on #5771
wait maybe you want he output from the pod

[code]

[2021-05-02 04:30] lowc1012 commented on #5769
@alexec  Hi, Could I take over this issue?

[2021-05-02 04:34] marcstreeter commented on #5771
Note, the above is me just running this over again (I have it set up to clear out completed pods, I love that feature btw, and so did not have the previous pod to still look at) and here's the screenshot showing it is still is storing the `main.log` artifacts in Minio

<img width="725" alt="image" src="https://user-images.githubusercontent.com/5916490/116802056-5e31a580-aad5-11eb-8d9e-ea843753c6b2

[2021-05-02 09:59] orrymr commented on #5789
@wanghong230  The deployment object I wish to patch is in the "dev" namespace, though.
So why is it complaining that the default serviceaccount cannot touch deployment resources in the "argo-workflows" namespace?

Regardless, I modified the RBAC rules as suggested:

[code]

and the problem persists.

I though that possibly I would need to allow access to the deployments resource, within the dev na

[2021-05-02 12:07] #5147 closed

[2021-05-02 16:53] alexec commented on #5771
The workflows.argoproj.io/template shows that archiving of logs was requested. Do you have an artifact repository ref set? The quick start sets them to default-v1

[2021-05-02 16:54] alexec commented on #5786
The user interface will show your email address. This makes me wonder if you’re using an older version which does not support it. Can you please try with 2.12.11?

[2021-05-02 18:39] caueasantos commented on #5779
@alexec

[get-pod-hang-json](https://github.com/argoproj/argo-workflows/files/6412032/describe_pod_hang.txt)
[get-container-wait](https://github.com/argoproj/argo-workflows/files/6412033/wait_dind_hang.txt)

As you said before, apparently sidecars are not being killed. I tried to use `STEPS` instead of `DAG` and also randomly hangs because of it.

[2021-05-02 23:09] alexec commented on #5782
@bmayfi3ld this error appears to be because the controller did not provide the artifact location to the executor. Can you please attach you configuration:

* `kubectl -nargo-wf-infrastructure get cm -ojson`

[2021-05-02 23:17] alexec commented on #5779
I hypothesis that your sidecar containers need >5s to start. I've created a fix: `argoproj/argoexec:dev-5779` - could you please try that out?

[2021-05-02 23:27] alexec commented on #5733
@heyleke I've created a polished version of my fix. Do you think you test it just in case I've un-fixed it? `argoproj/argoexec:dev-5733`

[2021-05-02 23:31] caueasantos commented on #5779
Sure. Let me try a few more times with the new image.

[2021-05-03 00:07] caueasantos commented on #5779
@alexec  failed again

Executor `PNS`
Image `argoproj/argoexec:dev-5779`

[get-pod-json](https://github.com/argoproj/argo-workflows/files/6412484/describe_pod_hang.txt)
[wait-sidecars-json](https://github.com/argoproj/argo-workflows/files/6412485/wait_sidecars_hang.txt)

[2021-05-03 00:23] alexec commented on #5779
Thanks for giving it a go.  I’ll look to repro tomorrow and see what I discover

[2021-05-03 06:04] heyleke commented on #5733
Yes, I've double checked, you latest version is still fine:

[code]

[2021-05-03 07:33] victorkirov commented on #5786
I just tried v2.12.11, but no luck :/

This is probably relevant, we are using the Helm charts to deploy Argo Workflows. The SSO section is configured as below:

[code]

[2021-05-03 07:41] victorkirov commented on #5786
I'm so sorry :see_no_evil: This was an issue with the helm charts, I only thought of checking those after typing the above message.

Thanks for the help :)

[2021-05-03 07:41] #5786 closed

[2021-05-03 07:46] dhenneke commented on #5770
Is there a plan on when v3.1 is published? Where I find some documentation about what `emissary` does differently compared to `k8sapi` and `pns`? As a new user, I find the documentation about executors a bit confusing since there seems to be three different ones that run on Kubernetes but I expected that the one with "Kubernetes" in its name would be the optimal choice.

I agree, I also don't want

[2021-05-03 07:46] #5770 closed

[2021-05-03 12:39] akshaybhatt14495 opened #5796 "activeDeadlineSeconds at workflow level not working as expected"
## Summary

What happened/
Let say activeDeadlineSeconds at workflow level is 60 sec, and step will sleep for 60 secs. then after 60 seconds got error. That looks good.
Response:
[code]
 But on retiring workflow, It's directly throwing error. Not creating pod as well.
Response:
[code]

what you expected to happen?

On workflow retry, Pod should again run for 60 secs then it should fail.

## Diagno

[2021-05-03 14:03] bmayfi3ld commented on #5782
Hmm. I am back to a nil pointer error like from https://github.com/argoproj/argo-workflows/issues/5733

[code]

Here is my config though
[code]

[2021-05-03 14:51] terrytangyuan commented on #5796
This is because `activeDeadlineSeconds` is used in conjunction with `wf.Status.StartedAt` which is still the timestamp when the workflow is initially submitted and is not reset to current time when retrying workflow. I've submitted https://github.com/argoproj/argo-workflows/pull/5798 to fix this.

[2021-05-03 14:52] christopheblin commented on #1319
As a (limited) workaround, you can do :

    k get pods -o custom-columns=NAME:".metadata.annotations.workflows.argoproj.io/node-name",STATUS:.status.phase,POD:.metadata.name

this will give you the name of the step in the name

If you want to see only for one exec :

    k get pods -o custom-columns=NAME:".metadata.annotations.workflows.argoproj.io/node-name",STATUS:.status.phase,POD:.metadata.na

[2021-05-03 14:54] #5605 closed

[2021-05-03 14:55] #5320 closed

[2021-05-03 15:47] alexec commented on #5782
That confirms you are using artifact repository.

[2021-05-03 15:51] alexec commented on #5782
Can you please attach the controller logs.

[2021-05-03 16:30] Cicatrice commented on #1262
Hello,

I tried to build the library myself based on [jsonnet generator](https://github.com/jsonnet-libs/k8s).

It built actually, but I notice that the library miss `new()` method that would populate `apiVersion` and `kind` properties. It generate a `withKind()` method that is not really helpful as it is expected that `kind` property to be automatically set by constructor.

<details>
  <summary><

[2021-05-03 17:33] #5769 closed

[2021-05-03 18:18] bmayfi3ld commented on #5782
The controller logs when I was getting key error are attached to the original post. Here are some new logs where the error went back to the nil pointer

[code]

[2021-05-03 18:20] avifried1 commented on #5697
there's only the readiness probe:
[code]

but the frequency of these info-level log lines doesn't suggest it is that.

[2021-05-03 18:25] bmayfi3ld commented on #5782
Just saw that you updated the 5733 branch here are the new logs from that

from the executor

[code]

from the controller
[code]

[2021-05-03 18:32] msbecker opened #5800 "Unable to generate workflow from workflowtemplate using API"
I am running Argo workflows in an Azure Kubernetes Service cluster, with Kubernetes v1.19.1 and the default AKS kubenet network  The container runtime is set to k8sapi as newest versions of AKS no longer use Docker.
I am running Argo v3.0.2.

I am using the quickstart deployment to set up Argo workflows. https://raw.githubusercontent.com/argoproj/argo-workflows/stable/manifests/quick-start-postgre

[2021-05-03 18:50] alexec commented on #5782
I'm going to un-assign this issue as it is making me confused and both problems are related to artifactory.

[2021-05-03 18:51] alexec commented on #5779
Ok. I could not reproduce. Could I ask you to try the latest updated image please?

[2021-05-03 18:56] alexec commented on #5733
Can you please try both `argoproj/workflow-controller:dev-5733` and `argoproj/argoexec:dev-5733`

[2021-05-03 19:03] #5796 closed

[2021-05-03 19:17] bmayfi3ld commented on #5782
let's say this is a duplicate of https://github.com/argoproj/argo-workflows/issues/5733 until proven otherwise.

[2021-05-03 19:17] #5782 closed

[2021-05-03 19:23] bmayfi3ld commented on #5733
I'm now getting unsupported protocol scheme errors.

[code]

[2021-05-03 20:02] caueasantos commented on #5779
Sure. I can flip the key later tonight in my prod environment. Should I use `argoproj/argoexec:dev-5779`, right?

[2021-05-03 20:46] alexec commented on #5779
please

[2021-05-03 21:59] Radolumbo opened #5804 "Documentation request: Expression templates don't work for variable names with hyphens in them"
## Summary

I would anticipate that expression templates would work any place that simple templates work. It seems like they are only working in specific places within a YAML. They work, for example, when part of the args for a container. However, they don't work in volumes or annotations (or probably many other places), even though simple templates do.

## Diagnostics

As an example, this works:

[2021-05-03 22:31] alexec commented on #5804
No. They should work wherever a simple template works.

[2021-05-03 23:18] Radolumbo commented on #5804
Ahhhh.... my apologies. What's actually happening is that the parameter has "-" in the name. This seems to cause the entire template expression to fail and just render as its literal value. So, I guess the expressions cannot support hyphens.

[2021-05-03 23:21] Radolumbo commented on #5804
And, of course, you can work around this by using inputs.parameters[''] ... so. nevermind for now!

[2021-05-03 23:21] Radolumbo commented on #5804
My apologies.

[2021-05-03 23:56] alexec commented on #5804
We should probably document that behavior. Would you like to contribute some docs?

[2021-05-03 23:58] Radolumbo commented on #5804
Surely.

[2021-05-04 00:17] Radolumbo commented on #5804
https://github.com/argoproj/argo-workflows/pull/5805

[2021-05-04 00:26] caueasantos commented on #5779
@alexec Initial attempts workflow execution while cluster still warm (few nodes idle) just went fine, but when the pods stayed pending for a while waiting for the scheduler to assign them multiple tasks hanged.

[2021-05-04 00:27] caueasantos commented on #5779
Wait container
[code]

[2021-05-04 02:28] alexec commented on #5779
Could you please provide the logs from v2.12?

[2021-05-04 02:54] caueasantos commented on #5779
Sure.

Wait container

[code]

[2021-05-04 03:19] #5804 closed

[2021-05-04 03:48] avifried1 opened #5806 "`WorkflowEventBinding` supports only a subset of documented arguments"
## Summary

There is no way of creating a WorkflowEventBinding configuration with constants as arguments.
Using `expression` as per the [documentation](https://argoproj.github.io/argo-workflows/fields/#valuefrom):

[code]

The parameter is parsed as empty:

[code]

Same thing happens with the `default` option. Only option that seems to work is `event`, so there's no way of supplying a WorkflowEven

[2021-05-04 04:24] alexec commented on #5806
An expression can be a constant string value. Eg. ‘“Const”’

[2021-05-04 04:55] avifried1 commented on #5806
in the example I gave for reproduction the expression is a const, but it's not even getting parsed

[2021-05-04 05:23] dinever commented on #5800
Hi @msbecker, did API return 200 status? Could you post the Argo Server logs if you have them?

[code]

[2021-05-04 06:24] uxth opened #5808 "Controller keeps crashing"
## Summary

Argo controller keeps crashing

## Diagnostics

What Kubernetes provider are you using?
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f75cc67d3d580833a7479", GitTreeState:"clean", BuildDate:"2021-04-08T16:31:21Z", GoVersion:"go1.16.1", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"21", Git

[2021-05-04 07:09] heyleke commented on #5733
with both I get following error:
[code]

[2021-05-04 09:23] jopfeffe opened #5811 "Parameter loop fails with pod deleted"
## Summary

Only two steps of a loop workflow succeed in Argo-Workflow 3.0.2. The same workflow executed in 3.0.1 works as expected.

## Diagnostics

What Kubernetes provider are you using?
Rancher

What version of Argo Workflows are you running?
3.0.2

Loop example: https://github.com/argoproj/argo-workflows/blob/master/examples/loops-param-result.yaml

[code]

[code]

---

**Message from the mai

[2021-05-04 14:32] alexec commented on #5733
Good. We're making progress. I've just added a line of debugging to the branch. Can you run again please?

[2021-05-04 14:48] alexec commented on #5808
[code]

This suggests that there is something wrong with one of your workflows. Maybe a DAG, where there is a cycle. This results in a stack-overflow and then crash.

Can you please determine which workflow is the problem and attached it to this ticket?

[2021-05-04 14:53] alexec commented on #5811
@sarabala1979

I'm pretty sure this line of code in v3.0.2 introduced this bug:

[code]

This will now mark nodes as error unless we are waiting for a sync lock.

I think we should try and fix this in v3.0.3. Could you please own?

[2021-05-04 15:11] heyleke commented on #5733
[code]

[2021-05-04 15:14] heyleke commented on #5733
note: the log that is now trying to be put on artfiactory is:
http://artifactory-espoo1.int.net.nokia.com/artifactory/fixedaccess-sw-rpm-local/nested-wf-test/nested-wf-test-73877493/main.log

while the only path that already exist is:
http://artifactory-espoo1.int.net.nokia.com/artifactory/fixedaccess-sw-rpm-local/nested-wf-test/

where old logs are seen, with the same filename as the directory be

[2021-05-04 15:16] alexec commented on #5733
It's a 400 error, not 403/401 so I think auth is correct. But the URL may be wrong.

Does it appear to be inserting `nested-wf-test-73877493` into the URL?

[2021-05-04 15:18] heyleke commented on #5733
If I remove the old file (from previous runs), it works fine:

[code]
so this collision in filename seems the reason for the 400

[2021-05-04 15:21] sarabala1979 commented on #5811
I will take a look

[2021-05-04 15:23] alexec commented on #5733
I'm not clear - you re-ran with the same workflow name and see we tried to upload the same file?

[2021-05-04 15:29] heyleke commented on #5733
The original dev-5733 image put logs in the root of that folder, while with your latest version, logs are put as 'main.log' (name of container) in a subfolder with the workflow name, that was the same name as the log that was there already and so gave a collision

[2021-05-04 15:46] msbecker commented on #5800
API returns empty response, just two curly braces -- {} No success or error codes.

I create a service account and rolebinding. Role has Role has list permissions on workfloweventbindings; list, update, create and get on workflows; and get, list on workflow templates.

I run curl both with and without the discriminator:

curl https://<ipaddress>:2746/api/v1/events/argo/ \
  -H "Authorization: $ARG

[2021-05-04 16:01] alexec commented on #5733
Thank you @heyleke  - I'm not clear - is this is a bug?

[2021-05-04 16:17] uxth commented on #5808
In fact I ran the dag diamond example from this repo.

What I guess is not normal use is:

I created 3 namespaces, argo00, argo01, workflow
I installed namespaced argo instance in argo00 and argo01, they both have the workflow as managed namespace. And also I have change the deployment replicas to 2.
then I submit the dag diamond example,  but from the workflow log I can see the workflow succeeded

[2021-05-04 17:36] heyleke commented on #5733
No, just a side effect of the different implementations I guess

[2021-05-04 17:41] alexec commented on #5733
So it’s fixed?

[2021-05-04 17:48] heyleke commented on #5733
yes

[2021-05-04 17:52] dinever commented on #5800
Thanks @msbecker!

I suspect this is due to the `WorkflowEventBinding` mismatch which raises no error, will need to look into this more.

[2021-05-04 18:11] alexec commented on #5779
I've created a new image. Can you please test it?

[2021-05-04 18:15] #3931 closed

[2021-05-04 18:15] #5584 closed

[2021-05-04 18:40] caueasantos commented on #5779
Sure. Which one should I use?

[2021-05-04 18:53] alexec commented on #5779
`argoproj/argoexec:dev-5779`

[2021-05-04 19:10] kaaquist opened #5817 "UI "problem" - An overlay on top of drop down."
## Summary

In the web UI - bottom right corner, there is a drop down to select how many workflows to be shown on a page. The "Get Help" overlay button hoovers just on top of the drop down, making it difficult to click.

It is not an error as such, more a UI problem that make it difficult to click on an option for how a page should look like.

## Diagnostics

Using GKE - v1.18.16-gke.2100
Argo Wor

[2021-05-04 19:51] msbecker commented on #5800
I've double-checked, and the event binding references the workflowtemplate I'm using. There is only one workflowtemplage and one event binding in my test environment. Not sure where there would be a mismatch.

[2021-05-04 22:33] caueasantos commented on #5779
@alexec

Wait container logs

[code]

[2021-05-04 22:57] sarabala1979 opened #5820 "v3.0.3 cherry-pick"
- [ ] Peixuan Ding: feat(cli): resubmit workflows by label and field selector (#5807) 507b92cf9

- [ ] Yuan Tang: chore: Surface parse duration error in operator (#5814) 3f808661c
- [ ] Nicoló Lino: docs: fix typo in async-pattern page (#5810) a65cc3e27
- [ ] Radolumbo: fix: Add note about hyphenated variables (#5805) bdd44c723
- [ ] Peixuan Ding: feat(cli): Retry workflows by label selector and f

[2021-05-04 23:25] alexec commented on #5820
done

[2021-05-04 23:34] #5733 closed

[2021-05-05 01:43] alexec commented on #5779
Ok. That's a bug, which I think I've just fixed. Can you try again please?

[2021-05-05 02:55] caueasantos commented on #5779
@alexec

The output looks better, but isn't working properly.

Wait container
[code]

Container statuses
[code]

[2021-05-05 03:36] henrywangx opened #5821 "support k8s `nodeName` for scheduling"
# Summary

argo-workflow at present only support node-selector. But If we also support `nodeName`, the k8s's scheduler will just ignore this pod, will accelerate the pod's creation.

# Use Cases

Run large scale pods on virtual kubelet. In that case, we know the virtual-kubelet's node name. And we don't need the scheduler. We wanna reduce the pressure of scheduler.

---

**Message from the maintai

[2021-05-05 07:48] tim-sendible opened #5824 "Maintain a constant url for a workflow regardless of its lifecycle"
# Summary

When a workflow is created, you can view it in the UI by going to `https://server/workflows/namespace/name`  but as soon as it’s archived, that url no longer works and you have to use `https://server/archived-workflows/uid`.

It would be much more useful if a workflow had a fixed URL regardless of whether it was archived or not, even if that's a url that simply 301 redirects to the corr

[2021-05-05 10:54] marcstreeter commented on #5771
my entire set up process is

[code]

after that I set the config using `kubectl edit ....` and then apply the following workflow

[code]

I haven't set anything else anywhere.  It could be I'm not following the Quickstart properly.    You may have noticed I am installing unneeded event bus  crd's (that's a different topic -- but this *does* represent all I am doing to get here).

[2021-05-05 11:53] christopheblin opened #5825 "Example not working for emptyDir"
## Summary

Example in the docs should work

## Diagnostics

What Kubernetes provider are you using? AKS with containerd

What version of Argo Workflows are you running? irrelevant

yaml is currently at https://argoproj.github.io/argo-workflows/empty-dir/

[code]

Error:

Error (exit code 1): stat /mainctrfs/mnt/out/message: no such file or directory

---

**Message from the maintainers**:

Impact

[2021-05-05 13:00] terrytangyuan commented on #5825
Thanks for reporting. This should be fixed by https://github.com/argoproj/argo-workflows/pull/5826. Please try out the revised example instead.

[2021-05-05 15:02] #5825 closed

[2021-05-05 15:04] #5739 closed

[2021-05-05 15:29] alexec commented on #5779
Ok. I've updated the image, can you try again? I'm hoping this is the last one!

[2021-05-05 15:36] caueasantos commented on #5779
I hope so as well, just need to find a good time spot now to try that out. If that works do you mind to keep this image untouchable for me? I'm planning to send all prod traffic to this executor image and see if anything else show up

[2021-05-05 15:37] alexec commented on #5771
can you provide `kubectl get cm` - if you see `artifact-repositories` you'll need to either delete or disable that cm

[2021-05-05 15:39] alexec commented on #5638
@sarabala1979 this did not appear to get back-ported to v3.0.2 - can you please make sure it makes it into v3.0.3. Commits are:

e3d1d1e822c01e2765bab2d57d9537849cd0f720
4c3b0ac530acaac22abb453df3de09e8c74068fb

[2021-05-05 15:40] heyleke opened #5830 "nodeAffinity retryStrategy children node lookup is done on name while 'Children(parentId)' expects ID"
## Summary

Using retryStrategy nodeAntiAffinity to work as example describes
[code]

## Diagnostics

Seen on private K8S cluster

tested on v3.0.1 (but checked master branch as well)

[code]

logs of controller with some extra prints shoul that the lookup of the children fails, and so hostNames is empty:
[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We priorit

[2021-05-05 15:40] alexec commented on #5820
@sarabala1979 these commits may have not been backported to v3.0.2 - can you please make sure it makes it into v3.0.3?

e3d1d1e822c01e2765bab2d57d9537849cd0f720
4c3b0ac530acaac22abb453df3de09e8c74068fb

[2021-05-05 15:43] alexec commented on #5820
Can we also add:

461b0b3cda111da1461c217d4a375c9e8a6fba50

[2021-05-05 15:46] alexec commented on #5820
And we need to also add this to fix the build:

Alex Collins: ci: Fix argoexec-dev target (#5714) 0ebf6c0

[2021-05-05 16:02] alexec commented on #5779
Sure. This image is only for this ticket.

[2021-05-05 16:31] heyleke commented on #5830
/review @goock

[2021-05-05 17:03] alexec opened #5832 "link to SSO docs when login fails: "token not valid for running mode""
Many users are confused by this error. This means they have not configured `--auth-mode` correctly.

We could enhance this error message with more help.

[2021-05-05 17:09] simster7 opened #5833 "Support retryStrategy for running daemoned steps"
# Summary

What change needs making?

Currently, if a daemoned steps starts correctly, subsequent steps begin running, and the daemoned step suddenly fails, it will not be retried even if it has a retryStrategy. We should support this retrying behavior, suspending new steps until the daemoned step is successfully restarted.

# Use Cases

When would you use this?

To create resilient/HA daemoned st

[2021-05-05 18:27] alexec opened #5834 "automated release artifact generation"
@jessesuen spent 1 day doing this for rollouts.

We should do this for workflows.

[2021-05-05 19:37] vladlosev opened #5835 "Workflows with error in onExit handler never finish"
## Summary

What happened/what you expected to happen?

When Argo fails to run an `onExit` handler in a workflow, it never marks the workflow as finished, even if all the nodes in it are fulfilled.
Expected: the workflow is marked as errored.

## Diagnostics

What Kubernetes provider are you using?
EKS 1.19, kind v0.10.0

What version of Argo Workflows are you running?
3.0.2

Paste a workflow that

[2021-05-05 20:46] #5452 closed

[2021-05-05 20:58] marcstreeter commented on #5771
I do see `artifact-repositories` there, I'll remove it and report back here later tonight

[2021-05-05 22:38] alexec commented on #5835
@jesse what's your take on this? I think the workflow should be failed, but want to double-check.

[2021-05-06 00:10] caueasantos commented on #5779
@alexec Nicely done. It's working 🎉 🎉

I'm going to leave it running for now (~roughly 2.5 thousand workflows running throughout the day should give us a better idea)

Cheers 🍻

[2021-05-06 00:14] alexec commented on #5779
I'm planning it to come in v3.0.3

[2021-05-06 00:20] alexec commented on #5779
@caueasantos I've performed a code tidy up and pushed the changes. It would be great if you could check them, just in case I've somehow reverted the fix (that does occasionally happen). Thank you again for taking some much time to help test this.

[2021-05-06 00:43] caueasantos commented on #5779
So far so good. I'll keep you posted tomorrow

[2021-05-06 00:44] terrytangyuan commented on #5835
Think you tagged the wrong Jesse. Here it is @jessesuen

My two cents: +1 to fail the workflow in this case. An analogue to this is the `finally` block in Python which would raise exception as well if there's any.

[2021-05-06 01:04] kevinhwang opened #5838 "CLI: Support input from device files (e.g., /dev/stdin)"
# Summary

Disable (or provide a flag to disable) file extension checking for CLI commands requiring input files, **OR** modify CLI to interpret `-` when a file is expected to mean "read input from stdin" (a common convention).

# Use Cases

When piping things around between programs. E.g., using Kustomize to build your templates alongside your other K8s manifests:

[code]

[code]

In both cases t

[2021-05-06 03:34] iven commented on #5332
I set up SSO with self-hosted SSO provider, and got the same error.

By default, Argo tries to auto-detect your AuthType, at first it tries to use `InHeader`, if any error occurs, it tries `InParams`. Some provider doesn't support this feature, and make your code invalid at your first try. So when you make the second try, the server returns `invalid_grant` error.

Maybe it's the same reason for Ke

[2021-05-06 08:30] christopheblin opened #5841 "namespace install does not support CronWorkflows"
## Summary

What happened/what you expected to happen?

I use https://github.com/argoproj/argo-workflows/blob/stable/manifests/namespace-install.yaml (just changing auth-mode to server and adding an ingress with basic auth) and I try to open https://my-ingress-url/cron-workflows

Unsuccessful HTTP response: cronworkflows.argoproj.io is forbidden: User "system:serviceaccount:staging-argo:argo-serve

[2021-05-06 08:37] christopheblin opened #5842 "templateDefaults not supported when called from another template"
## Summary

What happened/what you expected to happen?

I have 2 templates, let's call them wf1 and wf2

wf2 calls wf1 with a templateRef

when wf1 is executed in this context, some step in wf1 complains about a missing volume

in wf1, the volume is declared in a templateDefaults

Here are the relevant parts

## Diagnostics

What Kubernetes provider are you using? AKS

What version of Argo Workflo

[2021-05-06 08:47] Farkal opened #5843 "Workflow Controller panic on addParamToGlobalScope"
## Summary

**What happened/what you expected to happen?**
Start workflow with some globalOutput
Workflow fail
The workflow controller go CrashLoopBackOff with panic

## Diagnostics

**What Kubernetes provider are you using?**
Managed v1.20.6

**What version of Argo Workflows are you running?**
v3.0.2

Code from the example: https://github.com/argoproj/argo-workflows/blob/master/examples/global-ou

[2021-05-06 08:51] christopheblin commented on #5842
wf2.yml (I have edited it manually to prevent leaking some sensitive data, it may contain some errors)

[code]

wf1.yml (I truncated to a single step, this workflow is working if launched standalone)

[code]

MESSAGE
step group deemed errored due to child dataset-coverage-2v277[1].execute(1:xxxxxxx)[0].config error: volume 'out' not found in workflow spec

However, wf1.yml > templateDefaults DOES

[2021-05-06 09:13] PacoDu commented on #5843
We tried to downgrade argo to v2.12.11, same error.

v2.9.5 behaves as expected (no SIGSEGV)

[2021-05-06 13:39] Radolumbo commented on #5841
I can take this one. It's a one-liner change.

[2021-05-06 13:45] Radolumbo commented on #5841
See https://github.com/argoproj/argo-workflows/pull/5846

With this change, the state's namespace in the constructor now matches that in workflows-list: https://github.com/argoproj/argo-workflows/blob/master/ui/src/app/workflows/components/workflows-list/workflows-list.tsx#L114

(Same changes made to similar "list" pages in this PR: https://github.com/argoproj/argo-workflows/pull/5729/files)

[2021-05-06 14:04] terrytangyuan commented on #5330
There is now an interactive Katacoda course that teaches step-by-step on how to write and submit your first Argo workflow using [Couler Python SDK](https://github.com/couler-proj/couler). Thanks @alexec for setting it up!

You can play with it right from your browser so please check it out and let us know what you think! https://github.com/couler-proj/couler#try-couler-with-argo-workflows

[2021-05-06 15:13] goock commented on #5830
Could be related to this?
https://github.com/argoproj/argo-workflows/issues/5054

[2021-05-06 15:23] terrytangyuan commented on #5464
@simster7 Looks like #5465 is closed since it goes stale. Are you still planning to finish it? Let me know and If not, I can help pick up from what's left.

One user just requested this feature yesterday ([Slack thread](https://cloud-native.slack.com/archives/C01QW9QSSSK/p1620235308455100)). The use case is to update a `WorkflowTemplate` without deleting it without validation which `kubectl` does

[2021-05-06 15:31] sarabala1979 commented on #5842
I will take a look

[2021-05-06 15:56] sarabala1979 commented on #5843
will take a look

[2021-05-06 16:18] alexec commented on #5830
@goock did you do write the code for this originally?

[2021-05-06 16:23] alexec commented on #5820
We should also add  e332be5.

[2021-05-06 16:29] alexec commented on #5838
This error comes from lint.go#L142. Is that switch it should be easy to add `/dev/stdin` and `/dev/fd/*' as supported options. Would you like to submit a PR?

[2021-05-06 16:37] alexec commented on #5779
Thank you.

[2021-05-06 17:01] heyleke commented on #5830
I have a second pr waiting where I fetch the hostNodeName sooner (at any podstate update), but wanted to be sure that the way I'm handling this issue and pr correctly

[2021-05-06 17:14] sarabala1979 commented on #5843
@PacoDu I am not able to reproduce with above example and v3.0.2
[code]

[2021-05-06 17:22] PacoDu commented on #5843
@sarabala1979 We have patched the kustomize cluster deployment with `--secure=false` and the following configmap:

[code]

[2021-05-06 17:26] sarabala1979 commented on #5843
@PacoDu  Can you try with `containerRuntimeExecutor: pns`?

[2021-05-06 17:49] caueasantos commented on #5779
@alexec It's working really good. I don't want to downgrade again, so I really hope we can keep using it until the fix launch. Keep me posted about it.

Thank you

[2021-05-06 17:54] sarabala1979 commented on #5843
tried with `docker`
[code]

[2021-05-06 18:03] kevinhwang commented on #5838
@alexec Sure thing, opened #5851.

[2021-05-06 18:09] alexec opened #5852 "v3: 7x CPU usage"
v3 has increased CPU usage by 7x. This appears to due to `WorkflowSemaphoreKeysIndexFunc` calling `util.FromUnstructured`

![image](https://user-images.githubusercontent.com/1142830/117345541-8580cd80-ae5b-11eb-8bcc-ee5689297bc2.png)

[2021-05-06 20:17] #5838 closed

[2021-05-06 21:05] josephmcgovern-wf opened #5854 "RBAC is not being respected"
## Summary

I am attempting to use the RBAC feature to prevent bad things from happening in a production environment. However, it seems that these controls are not working.

I would expect a service account with read-only permissions (e.g. `get`, `list`, `watch`) to not be able to create, update, or delete any resources using the Argo UI.

However, I'm finding that enabling RBAC and having all use

[2021-05-06 21:09] alexec commented on #5854
Not all Kubernetes providers support RBAC. E.g Docker Desktop, GCP under default configuration. Given we have tests for RBAC, I'd believe it is unlikely it is not working. Can you please confirm which provider you're using.

[2021-05-06 21:10] alexec commented on #5854
Side-note `kubectl auth can-i` can be used to check RBAC set-up.

[2021-05-06 22:01] alexec opened #5855 "`TestResubmitPendingPods` occasionally panics and fails"
[code]

[2021-05-06 22:02] alexec commented on #5855
Unable to repro.

[2021-05-07 03:09] bkanuka commented on #5434
Even after changing to PNS there's an error regarding `SYS_PTRACE`:

[2021-05-07 06:30] ppapasani1 commented on #5820
@sarabala1979 Can you please include #5678 in this version. #5736  and #5678 and related, they both should go in the same release. Thanks

[2021-05-07 06:53] paveq opened #5857 "Unable to clone empty repository"
## Summary

When cloning empty repo via input artifacts there's an error:

`executor error: remote repository is empty`

It should be possible to clone empty repositories. This comes up especially if a workflow is used to create new repositories through eg. Bitbucket API, and then committing to those.

[2021-05-07 09:35] goock commented on #5830
I introduced the feature. I'll take a look.

[2021-05-07 11:17] goock commented on #5830
`retryNodeName` seems to be the node ID, however the code from #5831 ensures we always get node ID, originally the `retryNodeName` comes from https://github.com/argoproj/argo-workflows/blob/d66954f5b9b09e030408483502b03aa29727039a/workflow/controller/operator.go#L1501
https://github.com/argoproj/argo-workflows/blob/d66954f5b9b09e030408483502b03aa29727039a/workflow/controller/operator.go#L1661

@he

[2021-05-07 11:20] cyberbliss commented on #5582
Additional note for those wanting to use nginx-ingress with the ssl passthrough solution above - you need to explicitly tell nginx to enable ssl passthrough as it is disabled by default (https://kubernetes.github.io/ingress-nginx/user-guide/tls/#ssl-passthrough)

[2021-05-07 11:37] christopheblin commented on #5841
Hello,

Does it mean that in next argo version we will have the Cron workflows working in namespace install ?

[2021-05-07 11:41] christopheblin commented on #5842
HI @sarabala1979

how do you implement the pattern where you want a top-workflow to call sub-workflows ?

the problem I have is that all my workflows do not have the same templateDefaults (so "merging" them in a parent workflow is not so easy)

basically, I would like to do :

    - - name: execute
        templateRef:
          name: wf1 #not setting a specific template mean launch sub-workflow e

[2021-05-07 11:45] christopheblin commented on #5842
to avoid problem with backward compatibility, we could also have something like

[code]

so that WorkflowTemplate is really a "template for a whole workflow" whereas at the moment it is more "some bricks to create another workflow"

I think that this is not so common in ML pipleines, however in data pipelines this is something I've seen a lot in 'traditional' ETLs

[2021-05-07 12:27] heyleke commented on #5830
I don't fully get what you want to say with your comment, can you rephrase?

on the other PR for the sooner fetching of hostNodeName, no I didn't create the PR yet, will do it

[2021-05-07 12:50] heyleke commented on #5830
see #5858 for draft PR on the hostNodeName potential fix

[2021-05-07 15:12] alexec commented on #5857
Would you like to investigate and raise a PR to fix?

[2021-05-07 16:24] #5779 closed

[2021-05-07 18:18] alexec opened #5860 "TOB-ARGO-007: MinIO container runs as root"
[code]

[2021-05-07 18:18] #5860 closed

[2021-05-07 21:38] alexec opened #5861 "TOB-ARGO-TM10 Insufficient default network access controls between pods"
[code]

[2021-05-07 21:40] alexec commented on #5861
@jessesuen you said you addressed this for Argo CD? Can you provide a link? I find it a bit vague/non-specific recommendation. Which components

[2021-05-07 22:26] jessesuen commented on #5861
See:
https://github.com/argoproj/argo-cd/pull/6156
https://github.com/argoproj/argo-cd/pull/6179

Basically, if you have a microservices architecture like Argo CD does, you add NetworkPolicies to prevent ingress/egress access to the components which have no need for network communication. In the case of Argo CD, we created rules such as:
* redis, repo-server can only be accessible by argocd-server

[2021-05-07 22:33] jalberti opened #5862 "Custom artifact repository plugins"
# Summary

There are several Github issues that discuss volumes and how they can and do relate to artifact management, e.g. https://github.com/argoproj/argo-workflows/issues/1024, https://github.com/argoproj/argo-workflows/issues/1349. Today the supported artifact repository types are fixed, and extensions are only feasible in-tree, if I understand this correctly? I’m wondering if there were any s

[2021-05-07 23:14] alexec commented on #5861
I'm not sure what would be our rules:

* `workflow-controller` egress to Kubernetes API + database, ingress from any Prometheus collector
* `argo-server` same egress, ingress from anyone

[2021-05-07 23:15] #5286 closed

[2021-05-08 13:14] CaptainFreak opened #5865 "Repeated Log while Streaming from a failed container"
## Summary

When streaming logs from a failed container, the message event with logs keep coming. Logs repeat and stream does not gets closed. What's weird is, The argo server UI somehow does not get impacted with, It properly gets just the proper no. of message events and logs and stream closes from either UI or server, don't know.

Use following NodeJS code to reproduce:
[code]

## Diagnostics

[2021-05-08 16:49] lausser opened #5866 "Please fix the Argo Server homepage"
## Summary

I followed the instructions on https://argoproj.github.io/argo-workflows/argo-server/ where you write "This will start a server on port 2746 which you can view at http://localhost:2746"
After two days of desperate reinstalling and searching, i found that it must be https instead of http.

## Diagnostics

Running on k3s and applied https://raw.githubusercontent.com/argoproj/argo-workflo

[2021-05-08 18:28] alexec commented on #5866
Try HTTPS

[2021-05-08 18:42] lausser commented on #5866
I just got aware that the web page is part of this repository. Here the url is ok:
[code]
here it's not
[code]
grep -r localhost:2746 docs/ shows a lot more such urls, some with http, some with https. Can you confirm that https is the deault in the latest releases? I would then make a pull request.

[2021-05-09 12:22] #4993 closed

[2021-05-09 12:22] #4845 closed

[2021-05-09 12:22] #5235 closed

[2021-05-09 18:28] BhaRgav-MoRadiya commented on #2430
This does not seem to work.its replacing the variable and then tries to interpolate.so same issue.

[2021-05-10 06:33] akshaybhatt14495 opened #5868 "Logs not archived in s3 bucket."
## Summary

What happened
Let say archive logs flag is true, (Logs will be pushed to s3 bucket). So in case of step failure/success logs used to save in s3 bucket.
But In case of step failure due to timeout, Logs not getting saved in s3 bucket

what you expected to happen?
In any status of step. Logs should be saved to s3 bucket.

## Diagnostics

What Kubernetes provider are you using?
clientVersi

[2021-05-10 14:02] josephmcgovern-wf commented on #5854
I am using docker desktop for this test, so perhaps that's why it's not showing up.

`kubectl auth can-i` does give me the expected results though. Example:

[code]

Yet, I am in fact able to create workflow templates in the argo UI. Is that what you would expect?

[2021-05-10 14:28] alexec commented on #5854
I can’t really predict Docker for Desktop behavior. It is at least odd. We use K3D to test RBAC.

[2021-05-10 15:55] afoltzm commented on #4471
@whynowy I have opened a discussion about potentially overriding this default behavior in Logrus here: https://github.com/argoproj/argo-workflows/discussions/5871. Perhaps you'd like to describe your use case in that discussion?

[2021-05-10 15:56] afoltzm commented on #5135
@klaucos I'm encountering this issue as well, but felt that it made more sense to raise for a discussion instead of re-opening these issues. If you'd like to add your thoughts, you can do so here: https://github.com/argoproj/argo-workflows/discussions/5871

[2021-05-10 17:38] alexec commented on #5820
- [ ] 418395b7f build: fix codegen failure on master branch (#5799)
- [ ] 4b3a30f4e fix: Reset workflow started time to current when retrying workflow. Fixes #5796 (#5798)
- [ ] 076ff18a8 feat(controller): Add validation for ContainerSet (#5758)
- [ ] 8f2acee32 fix: Node set updating global output parameter updates global. #5699 (#5700)
- [ ] b9a79e065 feat(cli): Retry workflows by label selector

[2021-05-10 17:44] pablofiumara-azumo commented on #826
Any news about this? It's happening in Azure

[2021-05-10 17:55] #5835 closed

[2021-05-10 18:03] samath117 opened #5873 "Linting fails to recognize global output parameters created within layered templates"
## Summary

Global output parameters are getting incorrectly flagged by the linter when they are invoked through a series of templates. First consider a series of layered templates like this:

[code]

[code]

[code]

[code]

Now consider a simple workflow that uses this global parameter:
[code]

This fails the linter with the following error:
[code]
However, if we change the `templateRef.name` of

[2021-05-10 18:29] alexec opened #5874 "Add health check to controller if workflows are not being reconconcilled"
It appears that sometimes the controller goes wrong for many reasons. E.g. Goroutine silent crash.

Add a health check that see if workflows are being scheduled, i.e. `status.phase = ""` and `time.Since(metadata.creationTimestamp) > 2m`.

[2021-05-10 18:45] JohannesOlsson commented on #5821
/assign

[2021-05-10 20:13] anshumanbh commented on #4565
Hi @alexec, we are seeing this as well. What was the fix here? Or, what can we add to our workflow files to introduce the additional grace period?

[2021-05-11 02:08] davejhahn commented on #826
Just started looking into using Argo as a replacement for CronJob because it supports timezones / + dst, but on 1.19.9 I'm running into the same problem as described above.

MountVolume.SetUp failed for volume "docker-sock" : hostPath type check failed: /var/run/docker.sock is not a socket file

[2021-05-11 07:30] amitm02 opened #5877 "Extend withParam field to support an inputs.artifacts.ARR values"
# Summary

Currently withParam only accepts a (json array)` inputs.parameters.ARR` as a value. e.g:

[code]

Allowing it to accept ` inputs.artifat.ARR` as its value will allow Argo to loop over very large arrays.

What change needs making?

copying here from slack thread:

# Use Cases

When would you use this?

Currently, the only way to loop over a large array is via withSequence. it is cumberso

[2021-05-11 07:51] paveq commented on #5857
It seems design issue in Go-Git: https://github.com/go-git/go-git/issues/118

There's one example how to work around this in https://github.com/jmalloc/grit/pull/80/files

I'll see if I have time to raise this as PR.

[2021-05-11 07:51] orrymr opened #5878 "Creating A Resource Using Git Artifact"
## Summary

I have a workflow with 2 steps. The first is simply doing a git clone in order to create a git artifact. The repository I clone has a workflow yaml in it. I then want to use the workflow yaml in the next step, where I have a resource template. That is, the resource template should create the workflow which was in the git repo cloned in step 1!

## Diagnostics

What Kubernetes provider

[2021-05-11 19:34] Radolumbo commented on #2452
Bump! This is an important feature. Creating things in `public` in postgres is icky...

[2021-05-11 19:40] alexec commented on #2452
Would you like to submit a PR to fix?

[2021-05-11 20:01] everton-nasc opened #5881 "Custom metrics - DAG/TASK not being emitted properly"
## Summary

Seems the custom metrics for DAG/TASK are not being emitted properly.

## Diagnostics

What Kubernetes provider are you using?
[code]
What version of Argo Workflows are you running?
**v3.0.2**

[code]

[code]

## Custom metric

Custom metric emitted - workflow-level
[code]

Custom metric emitted - dag-task-level
[code]

Note: Seems there are more related issues regarding custom metrics

[2021-05-11 22:53] alexec commented on #5638
@lucastheisen would you like to supply the updated manifests needed to run it in a PR?

[2021-05-11 22:56] lucastheisen commented on #5638
@alexec I would...  As soon as I figure it out.  We are stuck on the `lease` thing.  Any chance you could explain a little about what leases add, why needed and if you understand the implication of allowing namespace `admin` role to have the required permissions for creating the role/binding?  Our research seems to indicate that granting the perms shouldn't be bad, but we might be missing some det

[2021-05-11 22:59] alexec commented on #5638
Leases are used for controller HA. If v3.0.3 you can disable them by setting `LEADER_ELECTION_DISABLE=true`

[2021-05-11 23:00] lucastheisen commented on #5638
Was just about to say:

Looks like you released it 29 minutes ago...  Ill give that a go.

[2021-05-11 23:12] lucastheisen commented on #5638
Looks like `events` results in a similar permissions conundrum.  Investigating, but is events also something that can be tuned out?  If i understand correctly its a _new feature of 3.0_, but is it _integral_ (required for the old functionality to continue to work) or standalone (only required for the [`workfloweventbinding`](https://github.com/argoproj/argo-workflows/blob/master/manifests/namespac

[2021-05-11 23:21] alexec commented on #5638
`events` is a v2.x feature, and the provided manifests should already have the requisite RBAC.

[2021-05-12 00:13] #5820 closed

[2021-05-12 04:17] Radolumbo commented on #2452
Honestly, we're just working around this for now by setting the searchpath of the user who Argo is logging into the DB as. It'll create all the tables in whichever schema you set first in the search path, e.g. `ALTER ROLE argo SET search_path = argo,public`

I might be able to swing back to it later, but this works for us for now.

[2021-05-12 06:24] tbasim commented on #1150
Hi, this would be a super helpful feature to have. Any updates around this?

[2021-05-12 07:35] tuvovan commented on #5243
where can I find the configmap?

[2021-05-12 07:44] fasmat commented on #5243
https://github.com/argoproj/argo-workflows#quickstart installs argo. The yaml contains the `workflow-controller-configmap` ConfigMap. I just extended this with the data provided by @schoeffm.

[2021-05-12 10:16] dinesh commented on #5310
@alexec is this released in 3.0.2, I see the commit was not cherry-picked. though it's there in 2.12.11 release.

[2021-05-12 10:19] gsdevme opened #5889 "Ability to submit a workflow template but also skipping sections"
# Summary

Add the ability to submit a workflow template but skip some tasks

What change needs making?

I think it might be straight forward to mutate the template here https://github.com/argoproj/argo-workflows/blob/master/cmd/argo/commands/submit.go#L222-L227 before its submitted to exclude some steps

# Use Cases

During development or sometimes during failure its handy to have the ability to

[2021-05-12 11:19] jopfeffe commented on #5811
Thanks for the effort taken to fix that issue. Unfortunately I retested the same workflow with v3.0.3 and it's still failing the same way.

What I noticed: The number of successful executed steps corresponds to the number of available CPU limit divided by the CPU limit requested by the step pods.

Example:
Total CPU limit available in the Cluster 2 CPUs. Only two steps with total CPU limit of 1,8

[2021-05-12 13:29] amitm02 commented on #5877
@alexec, a few questions.
1. for the docs, I see that the data template store the results in `outputs.result`, can `outputs.result` store >256kb data?
2. Can the data template work with the configured key-only artifact?
3. Can the data template loop over a specific folder in the artifact? else it means that it will have to loop over ALL the artifacts or all workflows which can be a heavy task.
4.

[2021-05-12 14:53] Kraego commented on #5235
I'm also run into some authentication problems using a AzureDevOps - git repository ([stackoverflow question]).(https://stackoverflow.com/questions/67494705/authentication-issue-argo-cd-with-azure-devops-server-2020-git-repo).

Setup:

- Argo CD: v2.0.1+33eaf11
- AzureDevops2020 - Version Dev18.M170.8

[2021-05-12 15:33] alexec commented on #5877
Short answer - no. Use artifacts.

Yes.

Yes.

There is an example in the `examples` folder.

[2021-05-12 15:38] alexec commented on #1150
Would someone like to raise a PR to add this feature?

[2021-05-12 15:42] sarabala1979 commented on #5889
@gsdevme  you can achieve using workflow parameter and `when` on steps/tasks.
[code]

[2021-05-12 15:54] kulinskyvs opened #5891 "Support workflow parameters as values for "artifactRepositoryRef.key""
# Summary

Add support of workflow parameters as values of "[artifactRepositoryRef.key](https://argoproj.github.io/argo-workflows/artifact-repository-ref/)" for workflows/workflowTemplates?

# Use Cases

I have a ConfigMap with several supported Artifact Repositories.

[code]

Would be great to have the ability to set the artifact repository to be used by a workflow through the workflow input para

[2021-05-12 16:00] kulinskyvs opened #5892 "Add support of using workflow parameters in workflow metadata"
# Summary

Add support of using workflow parameters for `workflowMetadata` section on the workflow template level?

# Use Cases

I have a reusable workflow template with some `workflowMetadata` defined - I would like to refer to workflow input parameters from `workflowMetadata` section (use these values when building the labels for example).

[code]

Supporting workflow parameters inside the `work

[2021-05-12 17:33] sarabala1979 commented on #5811
@jopfeffe  We didn't port it on 3.0.3 because of code conflict with 3.1 feature. you can try this with `latest` (master) build

[2021-05-12 18:35] everton-nasc commented on #5881
@alexec
Finally, I got it working in a rough example.
Also, I've created this PR with my example, it could be helpful.
https://github.com/argoproj/argo-workflows/pull/5894

Closing this thread.

[2021-05-12 18:35] #5881 closed

[2021-05-12 18:44] gsdevme commented on #5889
I see, but to do this I’d have to mutate the workflow template? In our case that’s a whole deployment procedure and would be something you’d then revert.

The common use case is the execution of some steps needs ran again as-is just with a few skipped.

[2021-05-12 19:00] alexec commented on #5811
@sarabala1979 I still think we need to fix this on v3, as it makes argo useless for large workflows. Can I ask you to own the fix please?

[2021-05-12 20:19] alexec opened #5896 "v3.0.4"
- [x]  fix(ui): Fix workflow summary page unscrollable issue (#5743)
- [x] bug related to "pod deleted" #5811
- [x] pod spec jumbling #e71d33c
- [x] Alex Collins: fix(controller): Fix pod spec jumbling. Fixes #5897 (#5899) e71d33c54
- [ ] Jan Heylen: fix: workflow-controller: use parentId (#5831) 9a10bd475
- [ ] Alex Collins: build!: Automatically add manifests to `v*` tags (#5880) 3fff791e4
- [ ]

[2021-05-12 20:54] alexec opened #5897 "v3: `podSpecPatch` can result in failed workflow"
[code]

This workflow fails:

[code]

[2021-05-12 20:55] alexec commented on #5897
You can fix this issue by changing the order of containers in `podSpecPatch`:

BAD:

[code]

GOOD:

[code]

[2021-05-12 20:59] alexec commented on #5897
Could have been introduced by:

fix(controller): Fix podSpecPatch (#5360)

[2021-05-13 00:52] alexec commented on #5897
Created an upstream issue. https://github.com/golang/go/issues/46146

[2021-05-13 06:57] amitm02 commented on #5877
It is very likely I'm missing something.  but looking into _data template_ I couldn't find how it improves the situation.
Assuming I'm having the simple template `echo`.
It is trivial and clear how to  loop over an array stored in a parameter using `withParam`, and run the echo template per item.
If that array is large (>256kb) and stored in an atrifact, I can no longer use the _echo_ template bel

[2021-05-13 10:26] stephenrob opened #5900 "v3.0.3 has no binaries"
## Summary

When trying to install the v3.0.3 CLI there are no binaries on the release for this version.

## Diagnostics

Viewing the releases tab on GitHub shows no binaries whilst there are some for all other releases.

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-05-13 15:12] #5830 closed

[2021-05-13 15:42] #5897 closed

[2021-05-13 16:20] #5638 closed

[2021-05-13 17:26] sarabala1979 commented on #5900
uploaded

[2021-05-13 17:26] #5900 closed

[2021-05-13 18:02] alexec commented on #5896
I've marked some that need adding. I think there are some duplicates/already backported.

[2021-05-13 20:09] vishal-wiai commented on #3448
I'm experiencing the same error in `argo: v3.0.2`. Is this a bug or am I missing something?

[2021-05-13 20:21] alexec commented on #3448
Please open new issue.

[2021-05-13 20:22] alexec commented on #5878
Did this work in v2.12?

[2021-05-13 20:31] alexec commented on #5865
This is a very old version. Can you please try in v3.0 which has many improvement to the UI.

[2021-05-13 20:33] caueasantos commented on #5779
@alexec After a few days running smoothly the workflow suddenly failed again. Just happened once so far ...

Version: `3.0.3`

Containers status
[code]

Wait container
[code]

[2021-05-13 20:34] alexec commented on #5806
Can you please attach a complete example that does not work? I would expect to see more users with this problem.

[2021-05-13 20:34] #5855 closed

[2021-05-13 20:35] alexec commented on #5808
https://argoproj.github.io/argo-workflows/high-availability/

[2021-05-13 20:36] alexec commented on #5757
This is fixed, but needs to be released in v3.0.4

[2021-05-13 20:36] #5757 closed

[2021-05-13 20:37] alexec commented on #5738
I think this will be fixed in v3.0.4

[2021-05-13 20:37] #5738 closed

[2021-05-13 20:37] alexec commented on #5727
Please can you test in v3.0?

[2021-05-13 20:37] #5710 closed

[2021-05-13 20:39] alexec commented on #5779
Your logs should be showing `Killing sidecars ["pid/23"]`. Can you please confirm you're running the correct image?

[2021-05-13 20:44] caueasantos commented on #5779
[code]

[2021-05-13 20:46] alexec commented on #5779
I meant of argoexec

[2021-05-13 20:49] caueasantos commented on #5779
[code]

[2021-05-13 21:38] #5764 closed

[2021-05-14 02:20] #5312 closed

[2021-05-14 02:20] #5245 closed

[2021-05-14 08:13] softwarebloat commented on #3212
Hi!
I have the same need. I saw the PR but i'm pretty new to the project and never coded in Go. anyone from the community wants to continue the work on that PR together? :smiley:

[2021-05-14 14:24] stefankraus-wf commented on #5806
Whoops, looks like I am trying to use a >=3.1 feature in 3.0.2. My mistake, I apologize for commandeering the issue.

[2021-05-14 15:46] crenshaw-dev opened #5912 "Missing file for global output param crashes controller (3.1.0-rc3)"
## Summary

What happened/what you expected to happen?

I expected a missing file for a global output param to cause the Workflow to fail, not the workflow-controller. The workflow only fails if I specify a `globalName`.

At first, I thought it might be the same issue as https://github.com/argoproj/argo-workflows/issues/5843, but I can't reproduce the issue in either 3.0.2 or 3.0.4.

## Diagnostic

[2021-05-14 17:16] sarabala1979 commented on #5912
@mac9416 is it happening in v3.0 also?

[2021-05-14 17:38] mac9416 commented on #5912
@sarabala1979 no, it is not happening in 3.0.2 or 3.0.4. So should probably be on the v3.1 milestone?

[2021-05-14 18:18] alexec opened #5914 "add env vars for CLI flags `argo-server` and `workflow-controller` because these are easier to work with"
Particularly `EXECUTOR_IMAGE`

[code]

CLI flags take precedence obviously.

[2021-05-14 18:31] alexec commented on #5914
[code]

[2021-05-14 18:32] alexec commented on #2099
I think this is fixed.

[2021-05-14 18:32] #2099 closed

[2021-05-14 18:41] Himself12794 opened #5916 "SSO "authorization" cookie seems to be set incorrectly, causing a "token not valid for running mode" error"
## Summary
I've set up my installation of Argo following the documentation at [Argo Server SSO](https://argoproj.github.io/argo-workflows/argo-server-sso/). RBAC additionally has been set up.

Based on the server logs, I can see that my token is successfully being fetched, and the `sso` secret is being created. When trying to access the UI resources however, I'm experiencing the `token not valid f

[2021-05-14 18:42] #5866 closed

[2021-05-14 18:43] alexec commented on #5916
This is fixed in v3.1. Can you please test with v3.1.0-rc3

[2021-05-14 22:44] DhairyaBahl commented on #5914
Hii @alexec I would love to contribute to this project ^_^ but I am new with this repo ! Can I work on this issue ? If yes then kindly assign this to me ^_^ .

Thanks :)

[2021-05-14 22:50] alexec commented on #5914
Any issues marked with "help wanted" or "good first issue" are candidates for working on.

[2021-05-14 23:40] DhairyaBahl commented on #5914
Kindly assign this issue to me ^_^ ! I would love to work on this !

[2021-05-15 12:48] Himself12794 commented on #5916
I was able to upgrade to v3.1.0-rc3 and test this, unfortunately I still experienced the same issue even after opening it in a private browser.

[2021-05-16 03:38] sujaykulkarn opened #5928 "[PROPOSAL] Mutual TLS support for Argo-Server"
# Summary

What change needs making?
Currently, argo-server supports only one-way TLS, Mutual TLS also if present means it will improve the security of argo-server.
1. According to my analysis changes needs to be done to the server.go file and a certifying authority is required for this work.
2. In the Server currently server's public key and the private key is being read and processed further to

[2021-05-16 06:46] sujaykulkarn commented on #5609
Hi @alexec, @sylock I am interested to contribute to this issue, I want to know the approach to support this enhancement. Thanks

[2021-05-17 08:51] heyleke commented on #5896
Will "Jan Heylen: fix: workflow-controller: use parentId" be taken along in v3.0.4? Or do I misinterprete the once not marked?

[2021-05-17 10:33] shrgabor commented on #1503
I can reproduce the same issue on 3.0.2 and 3.0.4.
Please reopen this issue as this causes unexpected errors if that optional artifact is a file.

[2021-05-17 15:20] akloss-cibo commented on #1322
Can we un-stale this?  Probably just removing the memory overcommit in the init container would be enough to mostly fix it.

[2021-05-17 15:34] alexec commented on #5916
Make sure you clear your cache?

[2021-05-17 16:04] Himself12794 commented on #5916
I did; cleared the cache, opened in a private session, and even deleted the sso secret for good measure. I can take another crack at it today, maybe my last attempt was a fluke.

[2021-05-17 18:38] Himself12794 commented on #5916
@alexec, not sure why it wasn't working for me on Friday, but I can confirm that it now works correctly, thanks for the support!

[2021-05-17 18:38] #5916 closed

[2021-05-18 00:07] alexec commented on #5852
After analysis, cb9676e88857193b762b417f2c45b38e2e0967f9 seems likely candidate.

[2021-05-18 00:20] alexec commented on #5861
@jessesuen any input on how this might be set-up for

[2021-05-18 06:42] shrgabor opened #5934 "Optional s3 input artifact appears as empty directory"
## Summary

**What happened:** When an optional input artifact is not supplied, an empty directory is still placed at the given path. This causes unexpected errors if that optional artifact is usually a file.

**What you expected to happen:** The empty directory should simply not be created if the input artifact is not supplied.

This issue is very similar to: #1503
**But it requires an S3 input a

[2021-05-18 10:09] orrymr commented on #5878
Doesn't work in v2.12.11:

` error unmarshaling JSON: while decoding JSON: json: cannot unmarshal string into Go value of type map[string]interface {}`

![image](https://user-images.githubusercontent.com/2097481/118633456-cc62b180-b7d1-11eb-807a-15632c232457.png)

I did the following:

I created a new namespace, and installed v2.12 controllers there. I did this by copying across the [namespace ins

[2021-05-18 10:16] Hunter-Thompson opened #5935 "bug: non standard cron schedule crashes UI"
## Summary

What happened/what you expected to happen?

When I use a non standard cron schedule like `30 17 1-30/7 * *`, the cronworkflow UI crashes, with `t is undefined` error

## Diagnostics

What Kubernetes provider are you using?

`Amazon EKS - v1.19`

What version of Argo Workflows are you running?

`v3.0.4`

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give

[2021-05-18 15:34] alexec commented on #5934
This seems sensible - did you test in v2.12 and see a different behavior?

[2021-05-18 15:35] alexec commented on #5878
I've changed this from bug to enhancement and updated the title. I think this would not be hard for someone to contribute.

[2021-05-18 15:36] alexec commented on #5878
I suggest we add a `manifestPath` field to the resource template. That can be a file we use instead of the raw YAML in the `manifest` field.

Would you like to submit a PR?

[2021-05-18 15:39] szab100 opened #5936 "Make `shutdown` parameter available to exit-handler"
# Summary
We need to be able to detect in the exit-handler whether the workflow has been STOPped or not. Currently, this is not possible, since when the 'exit-handler' is invoked, the Workflow object's `status` structure is not yet finalized, the workflow's and last steps' states are still `Running`. The only way to know the final Workflow status is the `{{workflow.status}}` & `{{workflow.failures

[2021-05-18 15:42] alexec commented on #5935
I cannot seem to reproduce this. Can you please include the URL and screenshot of the page where the problem occurs?

[2021-05-18 15:43] alexec commented on #5936
I *think* this might be a duplicate.

[2021-05-18 15:49] szab100 opened #5937 "UI: Make the external log / Splunk link open(able) on new tab"
# Summary
When looking at a workflow, we often need to check its logs in Splunk (or other ext. log aggregator). However, it is very annoying that 1) clicking that button navigates off the Argo UI to the log system and/or 2) we cannot right-click / 'open on new tab'. This is especially important when using lower podGC strategies (like delete after completion => no way to check its logs anytime afte