[2019-10-14 09:17] dtaniwaki commented on #1674
I realized `argoexec:v2.3.0` fails in the first step in this case while `argoexec:2.4.0` and `argoexec:2.4.1` doesn't.

[code]

[2019-10-14 14:59] bnouvelbmll opened #1676 "Multiply memory on retry"
FEATURE REQUEST

I am trying to run a parallel process which generally is low mem but occasionally requires a larger amount of memory. To increase parallelism it is tempting to put small memory requests on a large number of pods but if they fail they would need to retry, ideally with more memory.
It would be nice on retry to be able to tweak resource requests by adding providing a multiplicative f

[2019-10-14 23:17] inc0 opened #1677 "[Feature] Allow to specify bucket name in secret"
In our setup, we will run argo in multitenant environment. That means, one set of users will have access to their namespace, but others won't. Argo secret management already requires S3 secrets to be present in namespace, allowing therefore to have different secret in namespace foo than bar (assuming secret is under same name and holds same keys).

We would like to use this to allow multitenancy i

[2019-10-15 21:59] ryan-maus opened #1678 "Parameter aggregation doesn't work when aggregating over a nested DAG output"
Possible BUG REPORT

**What happened**:
Input workflow:
[code]

**What you expected to happen**:
As noted in the YAML code above, I am expecting parameter aggregation in the outer DAG such that the 'echo-results' task would print ["hello world", "goodbye world"]

Instead it just prints the un-expanded parameter name it was given:  {{tasks.parallel-outer-tasks.outputs.parameters.inner-dag-output-pa

[2019-10-16 01:54] ryan-maus commented on #1678
So I was digging through old issues related to parameter aggregation and this issue seems to be somewhat resolved by specifying ```{{tasks.parallel-outer-tasks.outputs.parameters}}``` in the outer echo-results argument, rather than ```{{tasks.parallel-outer-tasks.outputs.parameters.inner-dag-output-param}}```.

It's not clear to me when the parameter name is required or not (I have another aggrega

[2019-10-16 08:38] dove-young opened #1680 "unknown field "templateRef" when submit workflow"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
`unknown field "templateRef"` when submit a workflow with `templateRef` definition

2019/10/16 01:36:30 Failed to parse workflow: error unmarshaling JSON: while decoding JSON: json: unknown field "templateRef"

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

- `argo submit https:/

[2019-10-16 08:45] dove-young commented on #1680
I upgrade to argo client 2.3.0, but it still fails.

[code]

[2019-10-16 08:57] dove-young commented on #1680
when I upgrade everything to 2.4.1, it works

[2019-10-16 08:57] #1680 closed

[2019-10-16 13:42] #1674 closed

[2019-10-16 19:00] mehtadeepen commented on #1668
Probably you will also need to add refresh time for long running steps. As `sts` can get you credentials just for 3600 seconds.

[2019-10-16 20:07] danilorsilva opened #1682 "Argo Workflow metrics"
**FEATURE REQUEST**

Hello all,

I try to find something about Argo Workflow metrics without success.

Is there any work in progress to Argo workflow export metrics to prometheus or something else? To monitoring jobs status.

Thanks

[2019-10-16 21:03] crenshaw-dev opened #1683 ""Failed to establish pod watch: unknown" when following Getting Started w/ minikube"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Bug report.

**What happened**:

I got `failed to save outputs: Failed to establish pod watch: unknown (get pods)` when running the hello-world workflow from the [Getting Started page](https://github.com/argoproj/argo/blob/master/demo.md).

**What you expected to happen**:

I expected the hello-world workflow to complete successfully.

**How to reprod

[2019-10-16 21:13] Ark-kun commented on #1349
Here is a draft rewriter script: https://github.com/Ark-kun/pipelines/blob/SDK---Compiler---Added-support-for-volume-based-data-passing/sdk/python/kfp/compiler/_data_passing_using_volume.py
It can be run as a command-line program to rewrite Argo Workflow from artifacts to volume-based data passing.

What does everyone think?

[2019-10-16 23:21] thundergolfer commented on #1668
It can get you credentials for up to 12hrs, if the role you're getting creds for allows the full 12hrs. If not, you can get the max allowed by the role.

[2019-10-16 23:34] ddseapy commented on #1683
Looks like there was a recent change to install things in argo namespace instead of default:

https://github.com/argoproj/argo/pull/1656/files

Possibly some steps weren't updated?

You may want to try using the v2.3.0 docs if that's the version you are running.  Maybe installation changed between the two versions.

[2019-10-16 23:47] ddseapy commented on #1683
Nevermind, I see that master points to v2.3.0.  Yeah, looks like some instructions are still for the default namespace.

[2019-10-17 00:06] Ark-kun opened #1684 "Add structural templates as alternative to text placeholders"
Fixes https://github.com/argoproj/argo/issues/1293 : "Argo should provide a (limited) set of functions available in templates to support basic tasks like string modification."

Argo's text placeholders are limited and is not flexible enough .

Even with the current very limited placeholder support, it's impossible to call some programs that use go format templates (e.g. docker) since their templat

[2019-10-17 01:24] ryan-maus opened #1685 "Parameter aggregation doesn't work when aggregating file-based output parameters created in a 'script' template"
BUG REPORT

**What happened**:
When an output parameter is created from a file in a ```script``` template, that parameter cannot be used in parameter aggregation.

**What you expected to happen**:
I would expect it to be aggregated similarly to output parameters generated from other types of templates.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we ne

[2019-10-17 01:25] ryan-maus commented on #1678
I have created a better minimal repro of the issue here: #1685

[2019-10-17 01:25] #1678 closed

[2019-10-17 02:15] Ark-kun opened #1686 "[Bug] `arguments: {}` is added to templates after unmarshal/marchsl"
We're trying to upgrade to Argo v2.4.1

We do some workflow augmentation as part of our test. It never touches `arguments` (as it did not exist in Argo v2.3.0).

[code]

The test fails and we see `arguments: {}` being added to the representation of container and DAG templates.

I think that fields should not become non-Nil just becauls of Unmarshal+Marshal.

@dtaniwaki Can you please take a look?

[2019-10-17 04:17] #1659 closed

[2019-10-17 06:27] naiduasn opened #1688 "OnExit Handler for Workflow Template"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Feature Request

**What happened**:
I want to get a notification for every stage and every stage is now a workflow template for me. I defined exit handlers in workflow template but those are not getting executed.
**What you expected to happen**:
 i expected onExit handler to work even for workflow template

**How to reproduce it (as minimally and preci

[2019-10-17 07:56] janhicken opened #1689 "UI not Showing Logs When Using Workflow Templates"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug Report

**What happened**:
I created a workflow using workflow templates. When running the workflow and inspecting it in the UI, the button to read the logs is not shown. Also the _Containers_ tab on the right is empty.

**What you expected to happen**:
I expect to be able to read the pod's logs.

**How to reproduce it (as minimally and precisely a

[2019-10-17 17:10] simster7 commented on #1628
@ptemmer I have not been able to reproduce this issue. Here is my attempt:

[code]
Taking a look at the results it looks like it worked as expected:
[code]

And I'm using the latest `argoexec` and `workflow-controller`:
[code]
Are you still having this issue? If so, could you provide more advice on how to reproduce?

[2019-10-17 19:52] ptemmer commented on #1628
I just realized I did not mention I was having this issue with 2.4.0rc. I'll try with the final 2.4 release and confirm.

[2019-10-18 05:58] jessesuen opened #1691 "Setting node outputs: nil pointer dereference in v2.4.1"
[code]

[2019-10-18 11:00] kivio commented on #1665
I have done it that way, but as both parts goes from Argo will be nice to simplify it.

[2019-10-18 11:47] hnykda commented on #1331
Thanks for the awesome work btw.!

Just wanted to mention that there is a huge demand for this feature, so we don't have to do this by ourselves by getting it out of the "raw" DB by ourself (with 2.4.0 out :heart: ).

[2019-10-18 13:02] paveq commented on #1691
In our workflow we read a version file after CI process has completed:

[code]

This error seemed to happen when main container exited before writing contents to /tmp/version, due to code not compiling properly. The issue is made worse as workflow gets stuck in running state, causing workflow controller to CrashLoopBackOff.

Logs from wait container:

[code]

[2019-10-18 14:11] mac9416 commented on #1683
@ddseapy do you think the instructions change needs to be reverted, or is there something else that needs to change to make the workflow use the `argo` namespace instead of `default`?

[2019-10-18 17:02] #1663 closed

[2019-10-18 23:05] simster7 opened #1693 "Retrying nodes hangs execution after #1669"
Builds on or after #1669 (https://github.com/argoproj/argo/commit/30a91ef002e7c8850f45e6fe7ac01a7966ff31b8) hang the execution when retrying nodes.

Consider this example:
[code]

Here is the example running on https://github.com/argoproj/argo/commit/263cb7038b927fabe0f67b4455e17534b51c2989 (one commit before the offending commit):

[code]

Here is the same example running on https://github.com/ar

[2019-10-18 23:42] jessesuen commented on #1691
We reproduced this in v2.4.1 and confirmed this is fixed in the release-2.4 branch through some of the template resolution refactoring. Will be included in a v2.4.2 patch next week

[2019-10-18 23:42] #1691 closed

[2019-10-18 23:42] jessesuen commented on #1693
I agree

[2019-10-19 00:13] dtaniwaki commented on #1693
Let me check it. It’s too hard to check regression without e2e tests in CI.

[2019-10-19 18:18] #1693 closed

[2019-10-20 23:59] JavascriptMick opened #1697 "Failed to establish pod watch Succeeds with Corrupted Outputs"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug

**What happened**:
We are using Argo to run large scale biological computation.  Excessive load on our Kubernetes API server is causing intermittent instances of the `Failed to establish pod watch` error in the wait container.

This in turn leads to the outputs from the main container being copied and uploaded to S3 *before* the main container is

[2019-10-21 12:46] henriquesobral opened #1698 "PersistentVolume not found when resubmit --memoized"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT
**What happened**:
When I resubmit a workflow that got error, my volume created was not found in the new workflow created.

**What you expected to happen**:
Be able to use the persistent volume created in previous workflow

**How to reproduce it (as minimally and precisely as possible)**:
Create a workflow with `volumeClaimTemplates`, two st

[2019-10-21 13:52] #703 closed

[2019-10-21 17:03] sudermanjr commented on #1689
Same issue for output parameters as well.

[2019-10-21 18:29] jessesuen commented on #1634
Fixed by https://github.com/argoproj/argo/pull/1695

[2019-10-21 18:29] #1634 closed

[2019-10-21 19:15] simster7 commented on #1668
@sarabala1979 mentioned this possible solution. Would this work?

[code]

[2019-10-21 19:27] simster7 commented on #1682
Would this help? https://argoproj.github.io/argo-cd/operator-manual/metrics/

[2019-10-21 20:04] #1672 closed

[2019-10-21 20:28] simster7 commented on #1683
Thanks for the catch @mac9416. @ddseapy is correct -- we still intend to use the default namespace in this demo.

[2019-10-21 20:35] sarabala1979 commented on #1686
v2.4.2 has been released with few fixes on argument substitution and
DAG retry. Can you try it on v2.4.2?

[2019-10-21 22:14] #1646 closed

[2019-10-22 11:18] brabster opened #1701 "`restartPolicy` does not work in workflow definition"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**What happened**:
Unable to specify `restartPolicy` on a daemon container. On copying https://github.com/argoproj/argo/blob/master/examples/daemon-step.yaml and overwriting the daemon spec as shown in the [daemon container README](https://github.com/argoproj/argo/blob/master/examples/README.md#daemon-containers), the `argo` cli tool reject

[2019-10-22 14:46] simster7 commented on #1701
Hmm it seems like you stumbled on an example from 2 years ago! (https://github.com/argoproj/argo/commit/4b2098ee271301eca52403e769f82f6d717400af)

This was before my time, but it doesn't seem like we support `restartPolicy` anymore, instead we hard-wire to `Never`

https://github.com/argoproj/argo/blob/167d65b15ac0d3483071e0506f3e98a92a034183/workflow/controller/workflowpod.go#L111

Instead, you c

[2019-10-22 15:16] MrShaddix opened #1703 "RBAC not supporting team name with space in it"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug
**What happened**:
Trying to add a github team with a space in the team, ie, "Team Name"

`apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-rbac-cm
data:
  policy.default: role:readonly
  policy.csv: |
    p, role:org-admin, applications, *, */*, allow
    p, role:org-admin, clusters, get, *, allow
    p, role:org-admin, repositories, get, *

[2019-10-22 15:52] brabster commented on #1701
That would explain why I couldn't find anything related when I was searching through the codebase! Looking forward to kicking the tyres when it gets release, thanks @simster7

[2019-10-22 16:04] simster7 commented on #1701
Sure thing!

[2019-10-22 16:04] #1701 closed

[2019-10-22 16:06] simster7 commented on #1703
This is actually an https://github.com/argoproj/argo-cd issue. Transferring.

[2019-10-22 19:36] athornton opened #1706 "slack invite link does not work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

BUG REPORT

**What happened**:

I clicked on the Slack Invite link, and was told it had expired.  I then tried argoproj.slack.com and was told that I should contact the workspace admin, but since no contact information was present, that didn't help.

**What you expected to happen**:

For me to be signed up for the argoproj Slack workspace, or to creat

[2019-10-22 22:17] simster7 commented on #1628
Fee free to repoen if the issue comes up again

[2019-10-22 22:17] #1628 closed

[2019-10-23 00:46] conorcurlett opened #1707 "UI fails to load workflow list"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug report
**What happened**:
After enabling the UI, and exposing it using the AWS ALB Ingress Controller and External DNS, I can browse to the URL and the outer react app loads. The call to /api/workflows gets a 502 (error) message however. Making a cURL request to /api/workflows/live returns a LOT of data.
We run a very large number of workflows, and

[2019-10-23 16:15] sarabala1979 commented on #1007
it is in S3
[code]

[2019-10-23 16:21] simster7 commented on #1706
Worked for me: https://cl.ly/146d571b7eb3. Can you try again?

[2019-10-23 17:20] danxmoran commented on #1349
Hi @Ark-kun, I'm exploring Argo for a use-case where I want to:
1. Query metadata about a file in external storage (i.e. FTP), outputting its size
2. Dynamically generate a volume big enough to store the downloaded file
3. Download the file to the volume
4. Mount the volume in a separate task, for processing

Would this proposal support the step-level (or template-level) dynamic volume sizing that

[2019-10-23 18:42] athornton commented on #1706
The link I see on the page is:

https://join.slack.com/t/argoproj/shared_invite/enQtMzExODU3MzIyNjYzLTA5MTFjNjI0Nzg3NzNiMDZiNmRiODM4Y2M1NWQxOGYzMzZkNTc1YWVkYTZkNzdlNmYyZjMxNWI3NjY2MDc1MzI

That yields:

<img width="1322" alt="Screen Shot 2019-10-23 at 11 41 43 AM" src="https://user-images.githubusercontent.com/2453165/67423984-249be800-f58a-11e9-872f-533839609c3d.png">

Mac OS Catalina, Firefox 69

[2019-10-23 18:46] simster7 commented on #1706
The actual link on the readme is: https://argoproj.github.io/community/join-slack. Seems like it's only an issue on your end?

[2019-10-23 18:55] #1683 closed

[2019-10-23 20:18] cludden commented on #1668
@thundergolfer is there somewhere this effort is being tracked that I can follow?

[2019-10-23 21:21] sudermanjr opened #1709 "[FEATURE REQUEST] specify automatic resume on timer"
It would be really nice if we could specify a timer on suspend.

Example/Use-Case:

I have a workflow that spins up a bunch of infrastructure and then suspends so that it can be utilized or tested. Once the workflow is resumed, the infra is cleaned up along with all of the resources created by the workflow.

It would be really cool to put a timer on that so that if someone forgets to delete, it ca

[2019-10-23 21:30] simster7 commented on #1709
Not a bad idea, I'll look into this

[2019-10-23 21:48] athornton commented on #1706
Odd.  It's the same both from work and home for me, so two different networks, but similar-to-identical OS/Browser combinations.

[2019-10-23 21:56] rchernobelskiy commented on #889
Would be useful to be able to retry a group of steps - if any one step fails in the group, retry the whole group/template

[2019-10-23 21:57] athornton commented on #1706
Ah, there's the problem.  The button presumably works fine.  Go all the way down to the bottom of README.md.

[code]

[2019-10-23 22:02] athornton commented on #1706
#1710

[2019-10-23 22:06] simster7 commented on #1706
Closed via #1710

[2019-10-23 22:06] #1706 closed

[2019-10-23 22:35] simster7 commented on #1709
FYI: We currently have https://github.com/argoproj/argo/pull/1704 that is similar to this and will allow a suspended workflow to stop execution after a set amount of time. However, this feature request would allow a suspended workflow to continue gracefully after a set amount of time and is therefore different.

[2019-10-23 22:54] thundergolfer commented on #1668
@cludden by "we" I mean my company.

[2019-10-24 02:23] fchenTelus commented on #1273
@jessesuen Supported in v2.3 based on env var FORCE_NAMESPACE_ISOLATION, or can we use something else now?

[2019-10-24 06:38] guohenghaha opened #1711 "for a specific workflow, how to set max parallel running limit"
**Is this a BUG REPORT or FEATURE REQUEST?**:

FEATURE REQUEST

**What happened**:

I have a workflow template, and i want the max parallel running workflow is 2 even if i submit 200 workflows at once, what should i do?

I used `spec.parallelism` , but it's not works.

**Environment**:
- Argo version: 2.3.0
- Kubernetes version : 1.12

[2019-10-24 08:46] logicfox opened #1712 "SSL enabled database connection for workflow repository"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Feature Request. SSL enforced database connections are mandatory for security reasons, especially with cloud-based managed database services.

**What happened**:
The workflow repository backed by databases does not seem to support SSL. The underlying `upper.io/db.v3` library seems to support it. See https://github.com/upper/db/blob/v3.5.7/postgresql/co

[2019-10-24 14:39] sarabala1979 commented on #1711
For workflow level parallelism, you need to config in  `workflow-controller-configmap`.
Set your parallel requirement in `Parallelism`

[2019-10-24 22:23] mark9white opened #1713 "Nested steps run with incorrect parameters"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug report

**What happened**:
If you execute the parallelism-nested.yaml example then the pods with a seq-id of b, c or d all have a parallel-id of 1

**What you expected to happen**:
pods with a seq-id of b, c or d all to have all parallel ids (1, 2, 3 and 4).

**How to reproduce it (as minimally and precisely as possible)**:
```argo submit paralleli

[2019-10-24 22:25] mark9white commented on #1713
@dtaniwaki fyi, I think this relates to your PR

[2019-10-25 01:10] sarabala1979 opened #1714 "Randomly Collision in pod names when Big workflow submitted"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG
**What happened**:
Recently observed Workflow controller is crashing with panic whenever POD name collision happens.

**What you expected to happen**:
Pod names should be a unique per workflow and workflow should continually run.

**How to reproduce it (as minimally and precisely as possible)**:
The bug is observed inconsistently when big workflow

[2019-10-25 01:53] guohenghaha commented on #1711
really thanksl, i will try

[2019-10-25 10:28] l15k4 commented on #630
Guys how come I get this error message now with :
[code]
[code]

There is nothing like this in `2.4.2` of `controller.go`

I cannot figure out what is going on

[2019-10-25 19:22] cludden commented on #1668
@thundergolfer thanks for clarifying. out of curiousity, were you able to get it to work for artifacts?

[2019-10-25 21:41] jgbaum commented on #703
Hi @sarabala1979.

Is this in release 2.4.2?  If so, can you please provide an example on how to pass the cpu or memory resource requirements?

Thanks!

-J

[2019-10-25 21:52] sarabala1979 commented on #703
https://github.com/argoproj/argo/blob/master/examples/pod-spec-patch-wf-tmpl.yaml
https://github.com/argoproj/argo/blob/master/examples/pod-spec-patch.yaml
https://github.com/argoproj/argo/blob/master/examples/pod-spec-yaml-patch.yaml

[2019-10-25 22:35] jessesuen commented on #1714
I think this new logic is causing the problem. @dtaniwaki can you check

[code]

[2019-10-26 00:15] jgbaum commented on #703
Perfect!

-J

Sent from mobile device
On Oct 25, 2019, 2:52 PM -0700, Saravanan Balasubramanian <notifications@github.com>, wrote:

[2019-10-26 03:43] thundergolfer commented on #1668
@cludden  Haven't tried with Argo's `artifacts` functionality.

[2019-10-28 13:48] #1711 closed

[2019-10-28 15:04] mac9416 commented on #1007
Is there a way to view the full "bad request" response? I've added a region, but still no luck.

[2019-10-29 06:55] pavel-mikhalchuk commented on #1558
same issue on GKE cluster 1.14.6-gke.13

[2019-10-29 06:56] pavel-mikhalchuk commented on #1558
some logs:

`level=error msg="Mark error node coinflip-49bqx[1].heads: Invalid 'when' expression '{{steps.flip-coin.outputs.result}} == heads': Invalid token: '{{'\ngithub.com/argoproj/argo/errors.New\n\t/go/src/github.com/argoproj/argo/errors/errors.go:49\ngithub.com/argoproj/argo/errors.Errorf\n\t/go/src/github.com/argoproj/argo/errors/errors.go:55\ngithub.com/argoproj/argo/workflow/controller.s

[2019-10-29 20:20] l15k4 commented on #630
@nrmitchi sorry it was a bug in helm chart https://github.com/argoproj/argo-helm/pull/138

[2019-10-29 21:00] nrmitchi commented on #630
Ah good to know. I didn't realize that the chart had started managing the CRD. I'll have to fix my deployment when the chart update is merged

[2019-10-29 23:26] tomdurrant commented on #1492
@yncxcw did you manage to get these kubeflow examples working in argo?

[2019-10-30 05:55] thundergolfer opened #1717 "Argo is truncating pod logs"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT 🐛

**What happened**:

Running the following:

`argo -n argo logs -f ds-dev template-stats-pipeline-lk6vx-1796972213`

produces truncated logs, as evidenced by the output of this:

`kubectl -n argo logs  template-stats-pipeline-lk6vx-1796972213 -c main`

being many many lines longer.

`wf.sh logs -f ds-dev --follow --workflow template-stats-

[2019-10-30 06:01] thundergolfer commented on #1717
I'm pretty sure this has been an issue since at least #1259 in March 2019, but likely #819. So it's worth trying to reproduce.

[2019-10-30 11:51] perbu opened #1718 "Environment variables from parameter file are encapsulated in quotes"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

**What happened**: Environment variables from parameter file are encapsulated in quotes.

**What you expected to happen**: I expected the environment variable to be set to the correct value without adding quotes to the string.

**How to reproduce it (as minimally and precisely as possible)**:

Given the following workflow:
[code]
with the f

[2019-10-30 11:54] perbu commented on #1718
Note that if I set the variable directly in the workflow it is set correctly.

It seems there is a bit much quoting happening when parsing the parameter file.

[2019-10-30 17:01] sarabala1979 commented on #1588
I am trying to understand your usecase. Can you provide more details? The Argo controller will execute a workflow that you defined in YAML.  But you can configure sequential steps to achieve the above one.

[2019-10-30 17:36] chartinmarrel commented on #1588
I specified **across workflows**, but I should have said **across workflow executions**.
We come from Luigi, where a `step` is called a `Task`, and Luigi ensures that a `Task` along with a given set of parameters is run exactly once.
For example if an Argo workflow has some steps that write to s3, we want to ensure that two different executions of that workflow do not lead to multiple processes tr

[2019-10-31 00:44] thundergolfer commented on #1714
Just curious, is this a real workflow, or an abnormally large workflow created specifically to surface the bug?

If it's real, how is this workflow being defined? It seems having a single YAML for the workflow would be painfully large and unwieldy?

[2019-10-31 05:28] davidboren opened #1719 "Retries use an incorrect parameter set"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**What happened**:
When tasks within a dag share a template, on retry these tasks will use an incorrect parameter set (Possibly belonging to the first task registered with said template)

**What you expected to happen**:
A retry should use the same parameter set as the first attempt

**How to reproduce it (as minimally and precisely as poss

[2019-10-31 10:05] chartinmarrel commented on #1180
+1

[2019-10-31 10:21] chartinmarrel commented on #944
+1. We use Luigi and consider migrating to Argo.
Luigi is "able to figure out whether container image 5 already executed with the exact same inputs previously. (It could have been as part of another workfow)" and it would be great if Argo provides it as well.

[2019-10-31 12:56] Syps opened #1720 "Workflow controller repeatedly attempts to create pods that already exist"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**What happened**:
Workflow controller continually tries to create the same workflow pod, which counts against resource quotas.

**What you expected to happen**:
Workflow should create the workflow pod once, and not try again if it was successful the first time.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a

[2019-10-31 13:49] sarabala1979 commented on #1714
It is a real workflow. We are using Argo workflow for  ML training and modeling.  No of steps will be dynamically increased based on no of input files that are using `withItems` argument options. Each step is a DAG of three tasks.

[code]

[2019-10-31 23:39] thundergolfer commented on #1714
@sarabala1979 thanks for info. Makes total sense that it involves dynamic step generation.

[2019-11-01 00:18] mehtadeepen opened #1722 "When using script template input artifact is not able to save in volume mount"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug

**What happened**:
When using script template input artifact is not able to save in volume mount

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

[code]

**Environment**:
- Argo version:
[code]

[2019-11-01 00:52] thundergolfer commented on #1717
_Update:_ I've begun working on an open-source reproduction of this bug here -> https://github.com/thundergolfer-playground/argo-logs-truncation-bug-repro

I'll update the "How to reproduce it" section once I've confirmed that the above actually does reproduce the bug.

👍

[2019-11-01 03:34] dove-young opened #1723 "Failed to wait for container executor error: Get https://worker-ip:10250/pods: x509: certificate signed by unknown authority"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug report

**What happened**:

When executor set to `kubelet` and using artifacts outputs in a workflow,

Get https://worker-ip:10250/pods: x509: certificate signed by unknown authority"

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
-

[2019-11-01 03:48] thundergolfer commented on #1405
@kbruner

We'd also find an `onTerminate` feature useful. We have some tear-down we'd like to do if a workflow is forcefully stopped in the middle of execution.

[2019-11-01 05:19] dove-young commented on #1723
This could be workaround by set

[code]

But after that I got 403 error

[code]

Here is my rolebinding

[code]

[2019-11-01 05:27] dove-young commented on #1723
And this error does not workaround even when I bind serviceaccount `default` to `cluster-admin`

I have to create a `clusterrolebinding` to `system:serviceaccount:argo:default`  and bind it to `cluster-admin`

[2019-11-01 05:28] #1723 closed

[2019-11-01 06:51] cuericlee commented on #873
maybe we could consider to parse both wdl/cwl into DAG and parse inputs as parameters in argo, take NAS volume as an example PoC, then go object storage.

https://github.com/gatk-workflows/broad-prod-wgs-germline-snps-indels/blob/master/JointGenotypingWf.wdl
https://github.com/gatk-workflows/broad-prod-wgs-germline-snps-indels/blob/master/JointGenotypingWf.hg38.inputs.json

[2019-11-01 12:44] melihme commented on #1427
Likewise, I'm adding parallelism to Workflow manifest and it broke the deployment.

Can anybody refer a document/example to clarify these options?

[2019-11-01 17:05] simster7 commented on #1719
Possibly related to #1713

[2019-11-01 22:12] mehtadeepen opened #1727 "how to set pod spec dynamically from previous step output"
**Is this a BUG REPORT or FEATURE REQUEST?**: Illustration

PR: https://github.com/argoproj/argo/pull/1724

[2019-11-01 22:18] mehtadeepen opened #1728 "Adding Pod Disruption budget for each workflow run by argo controller so that Pod/Step does not gets deleted during autoscaling event"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature

**What you expected to happen**:

Adding Pod Disruption budget for each workflow run by argo controller so that Pod/Step does not gets deleted during autoscaling event

[2019-11-01 22:18] mehtadeepen opened #1729 "Creating WorkflowTemplate on a cluster level so all namespace can use it"
**Is this a BUG REPORT or FEATURE REQUEST?**: feature

**What you expected to happen**:

Creating WorkflowTemplate on a cluster level so everyone can use it.

[2019-11-01 22:20] mehtadeepen opened #1730 "Bug: Setting value of global output parameter even if worklfow fails"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug

**What happened**:
Argo controller not setting value of  global output parameter even if step fails

**What you expected to happen**:
It should set it even if it fails. It should be independent of step execution.

**How to reproduce it (as minimally and precisely as possible)**:

Working on it

[2019-11-01 22:21] mehtadeepen opened #1731 "Argo Java SDK for developers"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 Feature

If we have argo java sdk for developers then it would be really helpful to integrate with other application in my company.

[2019-11-01 22:24] mehtadeepen commented on #1668
@sarabala1979 This worked for me .. !! 👍

[code]

[2019-11-01 22:24] #1668 closed

[2019-11-01 22:24] harry0123 commented on #1731
This would be helpful for integrating with applications in my company too! 😉

[2019-11-01 22:28] mehtadeepen commented on #1717
@thundergolfer I have also faced this issue intermittently.

[2019-11-01 23:35] #1727 closed

[2019-11-02 00:42] simster7 commented on #1718
Have you thought about contributing a fix? Looks like this one line needs a `strconv.Unquote(...)`:

https://github.com/argoproj/argo/blob/12b983f4c00bda3f9bedd14a316b0beade6158ed/workflow/util/util.go#L222

Glad to hear!

[2019-11-02 03:57] Ark-kun commented on #1349
The per-step or per-artifact volumes could technically be implemented as another rewriting layer on top of the one in this issue. (My rewriter scrip will make it easier. You'll just need to change subPaths to volume names.)

This issue is more geared towards centralized data storage though.

[2019-11-03 03:30] dtaniwaki commented on #1714
I think this code is related.
https://github.com/argoproj/argo/blob/12b983f4c00bda3f9bedd14a316b0beade6158ed/workflow/controller/operator.go#L1237-L1241

If something happens during the actual node processing, the node is not registered as a child and the children's number is not increased, therefore, new nodes with an existing name are generated.

Here's the minimum manifest to reproduce this iss

[2019-11-03 23:39] thundergolfer commented on #1717
@mehtadeepen It would be great to get details so I can narrow down what's causing this.

My attempted reproduction above is targeting the context that we had when we saw this problem. Unfortunately running it didn't trigger the issue.

[2019-11-04 01:50] simster7 commented on #1697
In my attempts to reproduce this, the workflow does end under an "Error" state. Was this not your experience? If not, what ended up happening?
[code]

I agree that if we're saving outputs of a known failed container we should label them as such somehow.

[2019-11-04 02:16] simster7 commented on #1720
I've only been on Argo recently, so take this with a grain of salt, but it seems to me that we repeatedly submit the pod creation request in order to fit the operator's idempotent paradigm. (We operate workflows by repeatedly running the template over and over, so we ensure that individual steps are idempotent.) Since attempting to create a pod that already exists is basically a no-op, this is the

[2019-11-04 14:17] perbu commented on #1718
Thanks for the welcoming attitude, Simon. I've made an attempt at a fix.

[2019-11-04 14:53] sarabala1979 commented on #1718
Welcome @perbu to Argo community.  I will review your PR.

[2019-11-04 18:19] goern commented on #1583
is this using the k8sapi executor?

[2019-11-04 18:28] crobby commented on #1583
I'm 95% sure this bug was found when we were using k8sapi executor.

[2019-11-04 22:41] #1709 closed

[2019-11-04 23:39] simster7 commented on #1718
#1733 merged.

[2019-11-04 23:39] #1718 closed

[2019-11-05 01:13] simster7 opened #1734 "Improvements to auto-resume suspended nodes"
Enhancements to auto-resume suspended nodes (https://github.com/argoproj/argo/pull/1715):

1. Parameterize the duration, i.e. support:
[code]
2. Allow argo-y duration:
[code]

This change involves changing the `duration` type (`*int32` -> `string`) so no releases should be made until this is closed.

[2019-11-05 01:40] simster7 opened #1735 "Enhanced support of coninuing on unsuccessful dependencies on DAG"
Add support to continuing on a DAG when not all dependencies of a node are successful:

https://github.com/argoproj/argo/blob/8ae688c6cbcc9494195431be7754fe69eb33a9f4/workflow/controller/dag.go#L320-L325

[2019-11-05 08:23] NirvanaZA commented on #1713
Hi sir, When this bug fix will release? Hope soon. Many thanks.

[2019-11-05 14:46] #1577 closed

[2019-11-05 15:19] epa095 opened #1736 "argo resubmit removes ownerReferences"
**Is this a BUG REPORT or FEATURE REQUEST?**:
I don't know, bug report maybe? I don't know what is expected behaviour in k8s, but I definitely did not expect the current behaviour.
**What happened**:
I have a workflow with `metadata.ownerReferences` set. I resubmit it. The resubmitted job does not get `metadata.ownerReferences` set.

**What you expected to happen**:
The resubmitted workflow to hav

[2019-11-05 16:04] sarabala1979 commented on #1713
@dtaniwaki is refactoring the store template feature. This will close most of the bugs.

[2019-11-05 16:54] NirvanaZA commented on #1713
I tried to downgrade the version to 2.4.0, from 2.4.2, and seems the retry feature has some bug as well.

[2019-11-05 17:19] simster7 commented on #1713
@NirvanaZA could you elaborate on the bug with the retry feature?

[2019-11-05 17:25] simster7 opened #1737 "Enable all linters in `golangci-lint` and fix current lint issues"
Currently we do not have all liners enabled in `golangci-lint` and therefore some of our files have lint issues, so we should fix them and enable all linters.

[2019-11-05 18:26] warunapww opened #1738 "Incorrect parameters passed into pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**What happened**:
I was running the following workflow

[code]

[code]

The value of ‘message’ passed to T2 of PT(1:B) and PT(2:C) is incorrect. It passes value 'A' instead of 'B' and 'C' respectively.

**What you expected to happen**:
The value of ‘message’ passed to T2 of PT(1:B) to be 'B'
The value of ‘message’ passed to T2 of PT(1:C) t

[2019-11-05 22:09] simster7 commented on #1738
Duplicate of https://github.com/argoproj/argo/issues/1713. A fix is being worked on currently.

[2019-11-06 13:15] RemiSahl commented on #927
Is there any way to get output parameters from WorkflowTemplates ?

[2019-11-06 14:10] aviweit opened #1740 "Typo in rest-api.md"
Hi,

There is a typo in https://github.com/argoproj/argo/blob/master/docs/rest-api.md 2nd line:
argorproj.io/v1alpha1 should be argoproj.io/v1alpha1

It caused errors in my REST client until I noticed this typo.

Thanks.

[2019-11-06 15:57] lorenz-99 opened #1742 "Argo input artifacts with files > 6 GB cause The node was low on resource Error"
BUG REPORT

when using an artifact with input of a file > 6 GB the workflow errors with the message: The node was low on resource: ephemeral-storage"

Success is expected as with smaller files

loading a large file (6 GB) into an S3 bucket, then starting the workflow.

kubectl descrieb nodes show 0% for ephemeral storage while running the workflow

**Environment**:
- Argo version:
[code]
- Kuberne

[2019-11-06 16:52] simster7 commented on #1740
Feel free to submit a PR with the fix.

[2019-11-06 18:59] samath117 commented on #1713
Another minimal example to illustrate what appears to be the same problem:
[code]

On Argo 2.3.0, this has the expected behavior. Workflow logs:
[code]

On Argo 2.4.2, the message for the last one is passed incorrectly:
[code]

[2019-11-06 19:21] fj-sanchez commented on #877
I would like to reopen this issue, I think it was only partially implemented. It seems that the current behaviour is to always untar/uncompress an input artifact if it is tarred/compressed: https://github.com/argoproj/argo/blob/1bd50fa2dfd828a04ff012868c98ba33bac41136/workflow/executor/executor.go#L164

[2019-11-06 19:46] cchanley2003 commented on #1713
Just FYI we are also seeing issues with **when** statements getting the wrong parameters with a nested setup

[2019-11-07 11:15] aviweit commented on #1740
I created PR at: https://github.com/argoproj/argo/pull/1745

Thanks.

[2019-11-07 12:42] strump commented on #1558
I got same error on GKE. Pod logs also have error:

[code]

Looks like Argo can't get POD output. My workaround is to grant roles:

[code]

[2019-11-07 14:19] simster7 commented on #1740
Closed by #1745

[2019-11-07 14:19] #1740 closed

[2019-11-07 15:17] naiduasn opened #1746 "Question: How to get kubernetes pods fields as Environment varibales"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Question
**What happened**:
I am trying to fetch the node name of current POD execution similar to below
https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/#use-pod-fields-as-values-for-environment-variables

**What you expected to happen**:
i could not able to figure out a way to get this info during w

[2019-11-07 17:57] danxmoran opened #1747 "Support for template-level volumeClaimTemplates"
**Is this a BUG REPORT or FEATURE REQUEST?**:

FEATURE REQUEST

**What happened**:

I'm trying to write a workflow that:
1. Queries an external storage system to get the size of a file
2. Generates a PVC big enough to fit the file
3. Downloads the file onto the volume
4. Processes it from there

Since PVCs are currently a workflow-level resource in Argo, my first thought for how to make this work

[2019-11-07 21:25] simster7 commented on #1746
I don't think we currently expose this

[2019-11-07 22:17] duyngle opened #1749 "Support session token to access S3"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Feature request

**What happened**:
One more option to add Session Token along with Access Key ID & Secret Access Key.
When I try to run workflow locally,I cannot be able to call metadata server (http://169.254.169.254) to assume role. Need to have a way to directly provide aws temp credential in the workflow to make connection.

**Screenshot**
<img w

[2019-11-07 22:21] llimon commented on #1229
@dtaniwaki I have something for this. Ping me next week.

[2019-11-07 22:25] sarabala1979 commented on #1229
@simster7 is working CRONWorkflow. He almost through.

[2019-11-07 22:27] llimon commented on #1229
@sarabala1979 I guess great minds think a like.

[2019-11-07 23:00] simster7 commented on #1229
@llimon @dtaniwaki I've been working on this for the last couple of days internally. Feel free to ping me on the slack channel (`@simon`) if there's anything you guys want to discuss

[2019-11-07 23:03] simster7 commented on #1749
Would something like this work? https://github.com/argoproj/argo/issues/1668#issuecomment-544664510

[2019-11-08 01:08] samath117 opened #1750 "Output artifact in same location as optional input artifact is not saved"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

**What happened**: When an output artifact location matches that of an optional input artifact which is not supplied, the output artifact fails to save properly. This is related to #1503 and #1660.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
When this is run, the `write` step passes, but the `read` step fails w

[2019-11-08 01:47] dtaniwaki commented on #1229
@llimon @simster7 Thank you for implementing the feature. My progress is not so big because I was quite busy with other things. Please feel free to go ahead discussing about it between you guys.

[2019-11-08 05:59] vdinesh1990 opened #1751 "DNS config example not working"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

**What happened**: dnsConfig in https://github.com/argoproj/argo/blob/master/examples/dns-config.yaml not working

**What you expected to happen**: container dns config should be changed

**How to reproduce it (as minimally and precisely as possible)**: kubectl -n default create -f dns-config.yaml

kubectl get pod <pod_name> -o yaml

check the dns

[2019-11-08 11:36] mak-454 commented on #1405
Should  `onTerminate` be an another template?
Or Can there be a single onExit template for workflow like today and `onTerminate` is like boolean.
`onTerminate: true` will trigger the workflow exit handler when workflow is terminated.
Default will be `false`

[2019-11-08 15:01] aatabek commented on #1405
Is there any update for this issue? `onTerminate` feature is critical for some specific cases.

[2019-11-12 06:04] cccdy commented on #954
hi，@jessesuen i also have a similar problem， i want to pass some failed log messages to global output， so that other container can access the log messages. i follow your advice for default value，but it still fails with “failed to save outputs: exit status 2”. the yaml snippet  is as follows，waiting for your help，thanks！
    outputs:
      parameters:
      - name: error-msg
        default: ""

[2019-11-12 07:19] cccdy opened #1755 "Setting default value for output parameters with globalName, the workflow fails to report "failed to save outputs: exit status 2""
Similar to issue 954(https://github.com/argoproj/argo/issues/954), i set default empty string for output parameters,but i make it global output by globalName,but the workflow fail to report "failed to save outputs: exit status 2". i have some try, but fail. Wish for some help, thanks!

**Environment**:
- Argo version:
argo: v2.2.1
  BuildDate: 2018-10-11T16:26:28Z
  GitCommit: 3b52b26190163d1f72f3

[2019-11-12 09:46] ambarish510 opened #1757 "[Question] How to pass parameters to a workflow via http call?"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Question
**What happened**:
I'm able to make an api call to submit a workflow using the curl request below:-

curl -X POST  http://host/apis/argoproj.io/v1alpha1/namespaces/default/workflows   -H 'Authorization: Bearer TOKEN'   -H 'Content-Type: application/yaml'  -d"$(cat sample-pipeline.yaml)"

I've gone through many examples / documentations etc but

[2019-11-12 13:03] sebinsua commented on #934
Does anybody have a working example of how to do this?

If not, I'll work something out myself.

[2019-11-12 14:43] sarabala1979 commented on #1755
Can you upgrade to the latest version or v2.3 and try the same scenario?

[2019-11-12 16:32] simonwa7 commented on #1713
FYI after creating and deploying an argo controller image with https://github.com/argoproj/argo/pull/1744 it did fix the issues we were seeing with parameter passing, but now the `podSpecPatch` does not get applied or even stored with a workflow.

I.E. after submitting a workflow with a task that has a `podSpecPatch` it is not found anywhere within the workflow obtained by `argo get <workflow-ID>

[2019-11-12 17:56] llimon commented on #1229
My POC was demoed to the internally with good feedback.
This is what I have all working:

Workflow scheduler and orchestration engine for Kubernetes.
Is targeted to ETL, Batch Processing, ML and where work needs to be orchestrated.

In its basic mode It runs on a cronSpec, What makes a difference is Workflows are sourced from GitHub. Allowing to have a version, PR, etc. Keeping GitOps & infrastruc

[2019-11-12 21:56] mehtadeepen opened #1759 "[Bug] Global Output params not getting set if step fails"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug

**What happened**:
Global Output params not getting set if step fails

**What you expected to happen**:
Global Output params should get set irrespective of step failing

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Other debugging information (if applicable)**:
- workflow result:
[code]
- executor logs:
[code]

[2019-11-13 12:35] kclaes commented on #1714
The subsequent errors in anything related with retry-logic has prevented us from updating to 2.4.
Is there an ETA on when the fix for this will make it into a new release?

[2019-11-13 14:02] ptemmer commented on #1489
+1

[2019-11-13 14:08] dtaniwaki opened #1761 "Cannot retry operation-level-failed workflows"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**What happened**:
Workflows with operation-level-failure cannot be retried as the phase of the entry-point node is running.

**What you expected to happen**:
Able to retry such workflows.

**How to reproduce it (as minimally and precisely as possible)**:

Block access to your Minio server by setting the `replicas` 0, and submit `$ argo sub

[2019-11-13 15:30] sarabala1979 commented on #1751
Not reproducible.

[2019-11-13 15:30] #1751 closed

[2019-11-13 16:04] simster7 commented on #1713
@simonwa7 Could you take a look at @dtaniwaki's comments regarding your issue? https://github.com/argoproj/argo/pull/1744#issuecomment-553455599

[2019-11-14 09:05] ptemmer opened #1765 "Go templating substitution is enforcing on second pass"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG

**What happened**:
The following use case is currently not possible with Workflows:

Have a workflow that creates an Argo Sensor, which has a nested Argo Workflow as triggered resource containing go templating. The nested go templates should not be substituted. As a nasty workaround was possible in previous versions of Argo Workflow:

`{{workflow.

[2019-11-14 16:35] thejmazz commented on #1765
Confirmed working on 2.2.1 (but I had to change `left_brace` to `left-brace`):

[code]

[code]

[code]

Perhaps this regression occurred around the time whatever code change was introduced that made using `_` in params legal.

[2019-11-14 17:50] dcherman opened #1767 "Create documentation for executors"
It looks like there are a variety of executors available to use (docker, pns, kubelet, k8sapi, etc..), however there's no documentation available on what's required to use each of them and what the tradeoffs being made are.

Can we consider adding some docs around that?  Thanks!

[2019-11-14 17:53] dcherman commented on #1767
Found this comment by @jessesuen that described some of the tradeoffs for each executor

https://github.com/argoproj/argo/issues/1256#issuecomment-481471276

[2019-11-14 19:39] simster7 commented on #1765
Interesting workaround, seems like there should be a way to escape `{` and `}` for Argo purposes...

[2019-11-14 21:15] ptemmer commented on #1765
Kudos to @thejmazz who told me about the workaround in the first place

[2019-11-14 22:42] #1737 closed

[2019-11-14 22:55] thejmazz commented on #1765
I had originally tried the params being  `{{` and `}}`, but that led to double-pass templating trying to resolve it - so `{` XD

[2019-11-14 23:20] simster7 opened #1769 "Add audit logging for Workflow resources"
Currently `kubectl describe wf [...]` does not display anything under `Events`:

[code]

It would be useful to log significant events during the Workflow's execution

[2019-11-15 01:44] rushtehrani commented on #1558
Also getting the `Invalid 'when' expression '{{steps.flip-coin.outputs.result}} == heads': Invalid token: '{{'` error with both `1.14.8-gke.12` and `1.15.4-gke.18`.

[2019-11-15 04:37] naiduasn commented on #1731
would n't any existing kubernetes java client work? like this https://github.com/kubernetes-client/java

[2019-11-15 04:47] sarabala1979 commented on #1731
Are you looking Java ask for Argo workflow? Kubernetes Java SDk can be used for all basic kubectl operation for workflow

[2019-11-15 04:49] sarabala1979 commented on #1731
We are working Argo API server with grpc support. Once this is done, we can easy create all language SDK with full functionality

[2019-11-15 07:46] jangojam opened #1770 "Retries with artifacts in DAG is not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT
**What happened**:
my yaml
[code]
and the workflow status is Error
STEP                                          PODNAME                            DURATION  MESSAGE
 ⚠ artifact-passing-v7vbf (artifact-example)
 ├-✔ generate-artifact(0) (whalesay)          artifact-passing-v7vbf-1512299620  47s
 └-✔ consume-artifact(0) (print-message)      a

[2019-11-15 07:52] jangojam opened #1771 "retryStrategy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Argo version:
[code]
- Kubernetes version :
[code]

**Other debugging information (if applicable)**:
- workflow result:
[code]
- executor logs:
[code]
- workflow-controller log

[2019-11-15 09:09] #1771 closed

[2019-11-15 09:20] tyagi-prashant opened #1772 "Argo not executing a next step in a dag even though previous step is successful"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**: I have a certain tasks in my DAG where in my first step i'm  creating some artifacts which will be consume by all other tasks down the tree. but after executing 2 steps next step is not being created in the argo.

**What you expected to happen**:I expect  that next step should be run.

**How to reproduce it (as minimally and precise

[2019-11-15 13:06] epa095 commented on #1150
A very natural usecase for this is to skip depending on the exit code of the step. We have steps which can fail for many reasons, some make sense to retry, some do not.

[2019-11-15 13:18] epa095 opened #1773 "Expose exit code in as output parameter"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Feature request

When doing `argo get ...` I can see the exit code for failed workflows. It would be reasonable if the exit code for steps could be exposed as an output parameter and used for other parts in the workflow. E.g. to [not retry](https://github.com/argoproj/argo/issues/1150) a step for certain exit codes, or to use the exit code in condition

[2019-11-15 13:56] PacoDu commented on #1405
+1

[2019-11-15 17:27] dcherman commented on #1187
Just ran across this issue since I'm considering how to secure argo in my own cluster.

As an alternative, couldn't you modify the `keyFormat` in the argo cm to include the workflow namespace as the first part of the path:

https://github.com/argoproj/argo/blob/9ab1bc88f58c551208ce5e76eea0c6fb83359710/docs/workflow-controller-configmap.yaml#L62

`keyFormat: {{workflow.namespace}}/{{workflow.name}}

[2019-11-15 17:50] simster7 commented on #1772
Could you please add a Workflow that is able to reproduce this?

[2019-11-15 17:51] simster7 commented on #1773
Seems reasonable. Have you thought about contributing a fix?

[2019-11-15 18:16] #1734 closed

[2019-11-15 21:39] dcherman opened #1774 "Update aws-sdk-go to support IRSA"
In order to support [IAM Roles for Service Accounts](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html), the minimum version of the Go SDK needs to be 1.23.13 (https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-minimum-sdk.html).  It's currently [1.23.8](https://github.com/argoproj/pkg/blob/02a6aac40ac4cd23de448afe7a1ec0ba4b6d2b96/Gop

[2019-11-15 21:57] sarabala1979 commented on #1774
we will update the dependency v1.25.35 next release.

[2019-11-16 01:18] rushtehrani commented on #1558
In my case, the fix was to grant roles to `default` service account in each namespace that workflows are run (example below). Is there a better way to handle this? In the `wait` container logs, it looks like the namespace's `default` service account is always used to make API calls.

[code]

[2019-11-16 06:50] tyagi-prashant commented on #1772
Hi @simster7
You can reproduce this by running a below workflow.All the containers used are fetched from docker hub so you just have to run this as it,is, no change needed from your side to run this workflow.
`apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  generateName: osvalidation-
spec:
  entrypoint: main
  templates:
  - name: main
    dag:
      tasks:
      - name: createMainVal

[2019-11-16 20:36] epa095 commented on #1773
Unfortunately I dont know go:-/

[2019-11-18 04:49] akshaybhatt14495 opened #1775 "stderr archiveLogs not persisting on artifact"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPERT

**What happened**:
I enabled log archiving via the workflow-controller-configmap ConfigMap with:
[code]
**What you expected to happen**:
Full logs written to s3. (stdout + stderr)

**How to reproduce it (as minimally and precisely as possible)**:
1: Enable archive logging as shown in ConfigMap above
2: Submit a workflow with
     archiveloc

[2019-11-18 14:03] Syps commented on #1720
Checking if pod exists sounds like good plan to me. Any chance on this being addressed on an upcoming release? I can attempt to make a PR too if that would be better.

[2019-11-18 14:23] arbakker commented on #1570
I experience the same, sidecar not terminated when main container completes leaving the workflow in a running state.

#### How to reproduce it (as minimally and precisely as possible):

[code]

#### Environment

- Argo version

[code]

- Kubernetes version

[code]

[2019-11-18 18:25] simster7 commented on #1229
https://github.com/argoproj/argo/pull/1758 is now ready for community review and feedback

[2019-11-18 23:55] #1603 closed

[2019-11-19 02:02] Ark-kun commented on #1759
I'm not sure this behavior should be expected.
I'd be negatively surprised if failed steps resulted in changes.

[2019-11-19 16:27] oscarrobertson commented on #1583
I've hit the same problem with argo v2.3.0 and the kublet executor

[2019-11-19 16:44] sebinsua opened #1780 "Pass `parallelism` via CLI? Error on string vs int"
Is it possible to pass in parallelism via the command line?

I tried to setup a parameter to do this, but got an error about the value not being a number.

[code]

If it's not possible by default to set this for the workflow from the command line, is there a way of coercing a string containing a number into a number?

**Edit**: Do you have [anything like an `int` filter](https://stackoverflow.com/

[2019-11-19 16:55] oscarrobertson commented on #1583
probably just have to do a few more chmod calls and walk the dir on this line https://github.com/argoproj/argo/blob/master/workflow/executor/executor.go#L184

[2019-11-19 18:14] simster7 commented on #1780
Currently not possible.

Not as far as I know.

Could you elaborate a bit on this? Are you trying to run dynamically generated Workflows?

[2019-11-19 20:49] Ark-kun opened #1781 "Proposal: A better way to specify optional dependencies"
Currently in Argo every task has `depends` attribute that lists the tasks that needs to succeed first.
Argo also supports the `continueOn: Failure` attribute that makes the downstream tasks run even when the current task fails.

I think these two options are still not enough to express some common user scenarios.
I also think that the `continueOn` is a bit problematic since it changes the orchestr

[2019-11-19 20:59] simster7 commented on #1781
Related: https://github.com/argoproj/argo/issues/1735

[2019-11-20 05:56] yujingz opened #1783 "What's a good way to manage and search workflow & job info"
Is there any recommended way to manage the information of a workflow/job, it's related parameters and job status. So users are able to search by let's say parameters, dates, job status etc. Or this is totally a different topic we should build our own record/job tracking system to do this.

Thanks!

[2019-11-20 06:19] sarabala1979 commented on #1783
The current v2.4.2 version supports secondary persistence to store the workflow objects.  The next v2.5 will support API Server with persistence. So, the user can query the workflow with all filters.

[2019-11-20 06:53] yujingz commented on #1783
Awesome, thanks for the info and quick reply.

[2019-11-20 06:53] #1783 closed

[2019-11-20 11:32] barambani opened #1784 "AWS S3 artifact repo: Failed to put file: 404 Not Found"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Unexpected behaviour (possibly a bug ?)

**What happened**:
After deploying argo to EKS (AWS) through argo CD and configuring the default artifact repository to use S3 directly, a simple example workflow (see below) fails to Put the compressed object to the bucket with a message `404 Not Found`. I use the IAM role (as can be seen from the logs). Same b

[2019-11-20 16:50] simster7 commented on #1713
For those blocked by this regression: I would consider building #1744 into an image until the PR goes through review and a release is made hopefully sometime next week.

[2019-11-20 17:59] jpugliesi commented on #906
Looks like this is tracking in #1688

[2019-11-20 19:06] nHurD opened #1785 "Cannot reference multiple workflowtemplates in single workflow"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

**What happened**:
I'm writing a workflow that references two separate `WorkflowTemplates` within my cluster and am receiving the following error:
[code]

**What you expected to happen**:
The workflows to run as expected

**How to reproduce it (as minimally and precisely as possible)**:
1.  Create two workflow templates within k8s:
[code]
2. Submi

[2019-11-20 19:11] #1785 closed

[2019-11-20 19:23] sudermanjr commented on #906
More specifically, https://github.com/argoproj/argo/pull/1716

[2019-11-21 00:27] sebinsua commented on #1780
I tried this at one point, but it doesn't work:

[code]

I'm not trying to run dynamicly generated workflows. I just wanted to be able to configure the level of parallelism a workflow should be run by at the point of submission.

[2019-11-21 04:13] salanki commented on #1742
Sounds like you are running out of local storage on your node.

[2019-11-21 07:15] lorenz-99 commented on #1742
Thanks, Peter - yes, I've increased storage and I'm requesting ephemeral storage in the workflow, as well. Do you think it's going to work with 200 GB files?

[2019-11-21 07:46] zhujiangyou opened #1786 "Python SDK for Argo"
hi,Where can I find a python SDK to replace Argo's various command-line interfaces？

[2019-11-21 15:02] simster7 commented on #1786
We are working on an REST/gRPC API server that will provide the same functionality as the CLI.

[2019-11-21 17:42] sarabala1979 commented on #1784
We will try to reproduce. It should work. Basically, Argo is using `minio client` push and retrieve the object from S3. The error looks like a Container is not able to connect `s3.amazon.com` or error might misleading with some other error.  Can you try to add `region` and try it?

[2019-11-21 18:16] barambani commented on #1784
Thanks, I have tried adding the region with the same outcome. It looks like that the `Not Found` error was actually hiding an role issue. I could make it work adding a role annotation to every step of the DAG. Something like
[code]
I still see a couple of problems with the use case above. First of all the error message. `404 Not Found` is misleading if the problem is permission or credentials rela

[2019-11-22 10:25] stevef1uk opened #1788 "Does Argo work with OpenShift (crc) V4.x?"
As new to Argo I am trying the install on Openshift (crc v4.2.2) with the usual actions to weaken security within the argo project. OpenShift v4 has removed docker and is using CRI-O

The basic argo  install looked ok (although I can't reach the GUI from the route I manually created), but when trying the basic workflows I am seeing the following errors:

Pcoinflip-c29nz-981967317
NamespaceNSargo

[2019-11-22 10:59] stevef1uk commented on #1788
Just noticed that there is an Operator for Argo: https://github.com/jmckind/argocd-operator/blob/master/docs/guides/install-openshift.md

Now trying this approach. I will close this issue if it works :-)

[2019-11-22 12:09] stevef1uk commented on #1788
I have just tried something mentioned on another issue:
apiVersion: v1
kind: ConfigMap
metadata:
  name: workflow-controller-configmap
data:
  config: |
    containerRuntimeExecutor: cri-o

No difference

[2019-11-22 12:56] stevef1uk commented on #1788
More Googling and I was on the right path. I needed to change cri-o above to k8sapi and all is well,
although I needed to add:
oc adm policy add-cluster-role-to-user cluster-admin  system:serviceaccount:argocd:default

[2019-11-22 12:56] #1788 closed

[2019-11-22 15:37] dseynaev opened #1789 "Slack invite link is no longer active."
The link in the README doesn't work for me: https://argoproj.github.io/community/join-slack

[2019-11-22 15:43] #1767 closed

[2019-11-22 17:10] CermakM commented on #1786
Hello @zhujiangyou ... check out https://github.com/CermakM/argo-client-python

[2019-11-22 19:13] irlevesque opened #1790 "[Feature Request] Globally-defined logging to artifact repository"
## Feature Request
As an administrator, I'd like to ensure that all cluster users' workflow logs are always persisted to our globally-defined artifact repository.

## Problem
Currently, Argo requires Workflow developers to remember to add `archiveLocation.archiveLogs: true` to every template. This is error prone and doesn't provide compliance guarantees.

## Solution
Provide a global logging optio

[2019-11-22 21:52] sudermanjr commented on #802
Also filter by namespace would be awesome.

[2019-11-22 23:53] sarabala1979 opened #1792 "Argo Executor Error message is misleading if service account doesn't have permission"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

**What happened**:
The controller is executing the next step if the previous step didn;t capture the output because of the permission issue and an error message is misleading.
`Invalid 'when' expression '{{steps.flip-coin.outputs.result}} == heads': Invalid token: '{{'`

**What you expected to happen**:
The step should fail with the correct error

[2019-11-23 16:41] sarabala1979 commented on #802
@simster7 is working on a refactoring  Argo UI for Argo API server.  namespace filter is already a requirement in that.

[2019-11-24 07:22] TrevorNodeJS opened #1793 "Second step cannot get correct input value from loop item"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG
**What happened**:
call  docker/whalesay:latest cowsay two times in every loop.
second call cannot print out correct message. Print our the item[0]'s content: hello world abc001sap.comabc001.

Because input parameters are item[0].

**What you expected to happen**:
Second step should print out correct message.

**How to reproduce it (as minimally an

[2019-11-25 06:23] TrevorNodeJS commented on #1793
sorry click wrong button.

[2019-11-25 06:47] sarabala1979 commented on #1793
@TrevorNodeJS
I am not able to reproduce above issue with given workflow

[code]

[2019-11-25 06:51] jomach opened #1794 "Start a workflow without the yaml definition"
FEATURE REQUEST:

**What happened**:
I would like to expose the argo workflow to users and just tell the users:
"Your workflow is the one with name template1" Now they can start the workflow when they want by just calling template1.

**What you expected to happen**:
We should have a place were we can define and store workflows that then can be started by others.

**Environment**:

[code]

😄  minik

[2019-11-25 09:10] TrevorNodeJS commented on #1793
@sarabala1979 sarabala1979

could you please check logs for steps: print-message-2 (whalesay)

loops-two-steps-6crhw-3740400051
loops-two-steps-6crhw-2118744806
loops-two-steps-6crhw-2501638565

then, you will get same value for different branches.

[code]

[2019-11-25 14:52] sarabala1979 commented on #1793
yes. I can reproduce the issue. Thanks for information. looking for help to fix. can you fix and create PR?

[2019-11-25 18:42] sarabala1979 commented on #1794
you can try the `resubmit` option in argocli. This will create a new workflow from the already created workflow.

'argo resubmit <workflowname>`

[2019-11-25 20:59] jimbeck opened #1795 "Argo suspend template example does not work."
**Is this a BUG REPORT or FEATURE REQUEST?**:
 BUG REPORT

**What happened**:
 Example in documentation does not work for suspending a template using duration as defined by this example: https://github.com/argoproj/argo/blob/master/examples/suspend-template.yaml
This error was thrown `Failed to parse workflow: error unmarshaling JSON: while decoding JSON: json: unknown field "duration"` The workfl

[2019-11-25 21:04] jimbeck commented on #1795
After further inspection. It looks like the code associated with duration has not been released yet. Any word on when the next release will be cut?

[2019-11-25 23:55] alexbrand commented on #1789
+1

[2019-11-26 03:20] cloud-on-prem commented on #1795
Hi @jimbeck

Great investigative work! You are right on the money.
`duration` is not part of the [`SuspendTemplate struct`](https://github.com/argoproj/argo/blob/release-2.4/pkg/apis/workflow/v1alpha1/workflow_types.go#L1181) in the version you are running - `2.4.2`.

And the `master` does have it today which can be confusing to some new users.
I'll let the maintainers comment on the release date

[2019-11-26 06:40] jomach commented on #1794
what would be the api for it? Is the workflowname the one generated from K8 ? If yes this will not work because:
* Image I re-setup my argo people will still call re-submit on a old "thing"

[2019-11-26 12:02] hnykda opened #1796 "Question: how to restart workflow/step in the case of preemption"
**Is this a BUG REPORT or FEATURE REQUEST?**: Question

**What happened**: When a k8s Job's pod is preempted, it gets restarted no matter `backoffLimit` value and restart doesn't count against that. In the case of Argo's Workflow, it does count against `retryPolicy`.

**What you expected to happen**: In the case of preemption, it wouldn't count against retryPolicy.

**How to reproduce it (as minim

[2019-11-26 15:39] ian-howell opened #1797 "Feature Request: Expose kubeconfig so that cmd package can be consumed"
I would like to be able to use the Argo CLI's commands as subcommands to other CLI applications. This is possible as is, since the New*Command functions are all publicly exported, but since the clientConfig object is initialized privately in the root NewCommand, any command that uses it panics.

It would be nice to have an exported way to initialize the clientConfig object.

[2019-11-26 16:36] simster7 commented on #1795
Correct -- this feature is aimed for next release, which should be early next week. Happy to see that folks are already looking to use this feature!

[2019-11-26 16:49] simster7 commented on #1794
Hi @jomach. You can always use the `name` field (instead of `generateName`) to run your worklfows. This will use the same name to run it every time. For example:
[code]
For the first run, you would submit just like normal:
[code]
And then from then on you would use `resubmit` like @sarabala1979 mentioned:
[code]

[2019-11-26 17:41] jimbeck commented on #1795
Awesome. Thanks so much for the quick responses.
I'm going to close this ticket.

[2019-11-26 17:41] #1795 closed

[2019-11-26 17:42] niebniebnieb commented on #1793
See same issue. Also retries seem to be affected.

[2019-11-26 18:33] jomach commented on #1794
Hmm that would work ... thanks a lot.

[2019-11-26 18:33] #1794 closed

[2019-11-26 19:32] irlevesque commented on #1361
https://github.com/argoproj/argo/pull/1791 would fix this issue

[2019-11-26 23:22] simster7 opened #1799 "Parameters not displayed with `withParams`"
After https://github.com/argoproj/argo/pull/1601 parameters are no longer displayed next to the name of the node.

Before:
[code]

After:
[code]

Relevant code changes:

https://github.com/argoproj/argo/pull/1601/files#diff-fcb04129f1d32e69cca32631c6586587R1849-R1863

[2019-11-26 23:25] simster7 commented on #1793
While looking into this issue I found this bug: https://github.com/argoproj/argo/issues/1799. Could be related

[2019-11-27 06:43] NirvanaZA commented on #1713
👍 Waiting for the new release.

[2019-11-27 15:53] simster7 commented on #1793
This issue is actually fixed by #1744. I built that branch and had these results (I replaced the parameters with `{A, B, C} X {1, 2, 3}` for easier readability; `pl` here just prints the logs):

[code]

[2019-11-27 16:35] simster7 commented on #1792
https://stackoverflow.com/questions/58834064/can-not-execute-argo-workflow-due-to-invalid-when-expression-in-workflow-file

[2019-11-27 16:35] simster7 commented on #1792
Related issue from actual user: https://stackoverflow.com/questions/58834064/can-not-execute-argo-workflow-due-to-invalid-when-expression-in-workflow-file

[2019-11-27 17:19] simster7 opened #1801 "When script output contains "{{", it cannot be used in a "when" expression"
Example:
[code]
Result:
[code]
Slightly related to https://github.com/argoproj/argo/issues/1792

[2019-11-27 18:05] danxmoran opened #1802 "Question/Request: Using one Argo controller to manage workflows in multiple clusters"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Question

**What happened**:

Depending on the project, my team needs to run different workflows in different k8s clusters. Our original plan was to run one instance of Argo in each cluster and update our client-side code to pick the appropriate cluster to use for each submission. This isn't ideal because:

1. We have `N` Argo UIs to check instead of

[2019-11-27 18:16] mckjhd opened #1803 "Restart failed DAG step"
Suppose we have a complex DAG, and one step fails.
Is there a way to manually retry the failed step only and let it to continue execution?

I tried to resubmit with memoize, but it fails with: `volume 'work' not found in workflow spec`,
and automatic retry fails because of messed arguments.

[2019-11-27 19:40] simster7 commented on #1789
Slack link should work now. Feel free to reopen if it still doesn't.

[2019-11-27 19:40] #1789 closed

[2019-11-28 10:03] boombard opened #1805 "Error in minio client uploading artifact: "301 response missing Location header""
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT
**What happened**:
Failure uploading an artifact to s3
**What you expected to happen**:
Expected successful upload
**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:
I am using the new EKS IAM for ServiceAccount (https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-a

[2019-11-28 17:19] simster7 commented on #1803
Sorry if I misunderstood your question, but have you tried `retryOn`?

https://github.com/argoproj/argo/blob/master/examples/retry-container-to-completion.yaml
https://github.com/argoproj/argo/blob/master/examples/retry-container.yaml

[2019-11-28 17:37] simster7 commented on #1802
Hmmm, I believe the config that you pointed out only allows for one workflow controller to dispatch workflows to a single other K8s cluster. So if this were to be used as a solution to your problem, then you would still need one controller per different cluster you would want to deploy to.

Don't take this for granted, but I believe that supporting the multi-context behavior you described would be

[2019-11-28 18:40] mckjhd commented on #1803
@simster7, yes, it's fails because on retry it messes with step arguments. My question is more about api/cli feature, e.g. you have a workflow, and one of dag step fails -- is it possible/would it make sense to manually restart the failing step? I'd expect the workflow to continue in that case, tbh.

[2019-11-28 19:08] simster7 commented on #1803
We currently have an open issue/bug with step arguments (#1744). So the issue with your workflow might be unrelated to the `retryOn` behavior.

Could you include the version of argo that you're using and a sample workflow that demonstrates this behavior please?

[2019-11-29 00:44] danxmoran commented on #1802
Thanks for the info @simster7, it's understandable that the multi-context behavior is a ways out. As a work-around, do you think it'd be feasible for me to do something like:

1. Run `N` Argo controller deployments within our "core" cluster, each in a different namespace and configured to point at a different external cluster using the existing kubeconfig options
2. Run a single deployment of the

[2019-11-29 03:57] Liv1020 commented on #1470
we also have this problem，have any fix?

[2019-11-29 05:32] thundergolfer opened #1806 "Argo 'lint' tolerates redundant dependencies"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

**What happened**:

Created a workflow DAG of this structure:

[code]

where `C` unnecessarily declares a dependency on `A`, as it depends on `A` already via depending on `B`.

**What you expected to happen**:

As I can't think of a reason why you would ever want to redundantly declare a dependency and I don't think that doing so will actua

[2019-11-29 10:49] Liv1020 commented on #1470
@kalugny you can check --terminated-pod-gc-threshold too small, we set 10.

[2019-11-30 07:20] tedostrem commented on #1253
I'm having this issue on v2.4.2 on k3s.
[code]

[2019-11-30 07:41] sarabala1979 commented on #1253
configure PNS executor in workflow-controller-configmap and try

[2019-11-30 08:41] perbu opened #1807 "Inputs to a task are evaluated even if the condition says it shouldn't run - failing the flow"
**Is this a BUG REPORT or FEATURE REQUEST?**:

BUG, potentially this could be the desired behavior, but if so it should be reflected in docs or examples.

**What happened**:
Given a flow which looks like this:

[code]
Where C2 depends on artifacts created by C. C isn't run so when the C2 container is evaluated it fails the entire workflow as it has inputs from C.

Note that the C and C2 tasks have

[2019-11-30 18:53] simster7 commented on #1807
I tried this out and I agree it seems like buggy behavior. More specifically, it seems like we should evaluate a `when` clause _before_ trying to evaluate arguments.

I'll try to take a look at this next week. Here is the relevant code in case anyone wants to also take a look: https://github.com/argoproj/argo/blob/master/workflow/controller/dag.go#L357-L393

Here is the Workflow I used:
[code]
Wit

[2019-11-30 19:01] simster7 commented on #1806
Maybe a (somewhat trivial) reason to allow redundant dependencies is because it makes `B` more modular?

For example, if a user redundantly declares that `A` depends on `C` from the get go and then decides to remove `B` from the workflow, it is less likely that they will run into a user issue after the removal.

No strong opinions here, just throwing ideas around.

[2019-11-30 19:07] simster7 commented on #1802
I don't see any issues with that from the get-go, but I have not tried something like that myself, so let me know how it turns out!

Also, we are currently working on a refactor of the UI and one of the ideas floating around is to allow the user to specify a `kubeconfig` file to use in order to communicate with the Workflow controller. Do you think that this is something that could solve your prob

[2019-12-01 05:37] cloud-on-prem commented on #1773
@epa095 - Thanks for using Argo and for the awesome suggestion.

@simster7 - I'm looking to pick this one. Quick clarification - Would this apply only for `script` type `templates`? Or do you see this working for a `container` type as well? if so, how do we handle multiple `exitCodes` in a `Pod` - say a template that has a `sidecar`?

[2019-12-01 05:45] sarabala1979 commented on #1773
Exitcode should be expose for script and container template types. Exitcode should be from main container.

[2019-12-01 09:47] cloud-on-prem commented on #1773
@sarabala1979 roger that.

[2019-12-01 14:06] dtaniwaki commented on #1801
I found this error when I tried `test/e2e/functional/coinflip.yaml` in #1744. Here's the output of `argo get`.

[code]

Do you think it's the same issue?

[2019-12-01 16:44] simster7 commented on #1801
Hi @dtaniwaki, it looks like you ran into https://github.com/argoproj/argo/issues/1792. Going to make a PR to close both of these soon.

[2019-12-02 06:03] zhangxiaohao opened #1809 "Can't set different network policy to different pods in single workflow"
I am using Argo to build CI pipeline, and I have two step (compile, test) in a workflow. I want using hostNetwork only in compile step pods.

[2019-12-02 15:41] CermakM commented on #1592
Hello! Any updates on this?

[2019-12-02 17:25] simster7 commented on #1792
This will be fixed by https://github.com/argoproj/argo/pull/1776

[2019-12-02 18:03] #1799 closed

[2019-12-02 18:40] simster7 commented on #1780
I see. I don't think we currently support a way to pass in parameters to the `Workflow` object... only to `Template` objects within a workflow.

A workaround suggestion I could give you would be to use `sed` to replace the placeholder value before submitting. Something like this:

[code]

[2019-12-03 04:19] thundergolfer opened #1812 "scripts-python.yaml example doesn't work"
**Is this a BUG REPORT or FEATURE REQUEST?**: 🦟🐛

**What happened**:

Running this https://github.com/argoproj/argo/blob/master/examples/scripts-python.yaml

`argo -n argo logs -w scripts-python-9stwm`

[code]

It's not substituting anything.

**What you expected to happen**:

`argo -n argo logs -w scripts-python-9stwm`

[code]

**How to reproduce it (as minimally and precisely as possible)**:

**

[2019-12-03 05:11] simster7 commented on #1812
I was not able to reproduce this on `v2.4.2` or on `master`. Is there any more info you could provide to help track this down?

(Here `pl` is a function to just print the logs of the pod)
[code]

[2019-12-03 05:36] thundergolfer commented on #1812
I'll double check. I'm literally doing:

[code]

[2019-12-03 05:38] thundergolfer commented on #1812
Our `workflow-controller` is `argoproj/workflow-controller:v2.4.2` and our client is actually `"2.4.1"` (sha256 is `1f9l9d4r0qfhpr2fn17faczcwmwmdz8f56f27cmmnhxz4r7qcm48`).

[2019-12-03 05:39] thundergolfer commented on #1812
I wouldn't expect this involves the client though as if I do:

`kubectl -n argo logs scripts-python-dngws-4266348542 main`

then I see:

`result was: {{steps.generate.outputs.result}}`

[2019-12-03 05:42] thundergolfer commented on #1812
[code]

[2019-12-03 05:43] thundergolfer commented on #1812
☝️ That's the `workflow-controller` logs during an execution.

[2019-12-03 05:52] simster7 commented on #1812
I think I know what's going on – your issue seems to be related to https://github.com/argoproj/argo/issues/1792.

It seems that you either do not have your service account set up correctly, or are running the workflow in a namespace in which you do not have the service account set. Because of this, Argo can't access the outputs of the script. Can you check this for me please?

I tried running the

[2019-12-03 06:02] thundergolfer commented on #1812
Ahh! Yeh this sounds likely. We need to set `serviceAccount` in our workflows namespace you can't use the default.

Just checked by adding the requisite `serviceAccount` and yep it works.

This is pretty close to a silent failure. I think this should not be the behaviour of the workflow if it's missing perms. It should fail hard.

What do you think?

[2019-12-03 06:08] simster7 commented on #1812
Agree with you, that’s what #1792 is tracked to fix.

[2019-12-03 06:13] thundergolfer commented on #1812
Yep fair. I was a little thrown off because in this case there technically is no error but that issue is about an error, but yeah that'll cover it.

Cheers for getting on this fast. 👍

[2019-12-03 07:44] nmandery commented on #1253
@tedostrem: I had the same issue with v2.4.2 on k3s, but switching from the default `docker` executor to the `k8sapi` executor resolved the issue for me:

k8sapi-executor.yml:

[code]

[code]

[2019-12-03 15:21] jaydipdave opened #1813 "Argo Workflow UI - Authentication and Authorization Feature"
We are in process of positioning ArgoCD for Kubernetes/OpenShift deployments and Argo Workflow for Terraform/Ansible based deployments.

ArgoCD has good enough Authentication/Authorization features. But Argo Workflow UI has no such features (as per my knowledge).

Surprisingly, I couldn't find any feature request for this. Are we planning to implement such features for Argo Workflow?

In big compa

[2019-12-03 15:26] benabineri commented on #1720
We have also encountered this and it's blocking our upgrade to 2.4.2, is there anything we can do to help (like providing logs/running tests)?

[2019-12-03 15:37] simster7 commented on #1813
To the best of my knowledge, Workflows does not have any RBAC Auth features. We rely on [Kubernetes' RBAC support](https://kubernetes.io/docs/reference/access-authn-authz/rbac/) to provide them. Don't take this for granted, but I don't think adding our own RBAC support is in our roadmap.

What would you think of each team having their own controller (i.e. instance of Argo)?

[2019-12-03 15:40] simster7 commented on #1720
Hello @Syps and @benabineri. Sorry I missed your comment a couple of weeks ago. Feel free to make a PR (should be a small change) and run tests to see if this solves your problem. We can see and discuss the trade offs then.

@benabineri Which version of Argo are you currently running? Does that version not have the behavior described here?

[2019-12-03 15:41] simster7 commented on #1812
Thanks for the discussion!

[2019-12-03 15:41] #1812 closed

[2019-12-03 15:42] benabineri commented on #1720
We're running argo 2.3.0 in production at the moment and the changes to use of ResourceQuotas it causes are more accurate.

[2019-12-03 15:56] sarabala1979 commented on #1720
We are planning to release the patch release soon.  Go ahead to create PR soon. We will review and release it with coming patch

[2019-12-03 15:59] simster7 commented on #1802
Closing this, feel free to reopen if necessary

[2019-12-03 15:59] #1802 closed

[2019-12-04 04:58] naiduasn opened #1816 "[Question] S3 Artifact: Handling Multiple Accounts & Multiple Buckets"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Question
**What happened**:
I want to manage below use cases via workflow controller config
1) All output artifacts will be available in one bucket
2) All logs will be available in one bucket
3) All temp artifacts like git will be in one bucket with expiration policy set to auto delete

How can i configure these at a global argo level?

**What you expe

[2019-12-04 06:42] ddseapy commented on #1813
That's what we do.  We leverage namespaced Argo installations.

[2019-12-04 07:02] xianlubird commented on #1759
same to @Ark-kun

[2019-12-04 17:58] #1801 closed

[2019-12-04 18:45] simster7 commented on #1720
I found the offending commit for this issue to be https://github.com/argoproj/argo/pull/1552. Looking for a fix right now

[2019-12-04 19:23] #1697 closed

[2019-12-04 19:43] #1738 closed

[2019-12-04 19:44] #1714 closed

[2019-12-04 22:33] simster7 commented on #1792
Closed by #1776

[2019-12-04 22:33] #1792 closed

[2019-12-05 09:22] vmanucharyan opened #1817 "continue on failed doesn't work with nested dag and retries"
**Is this a BUG REPORT or FEATURE REQUEST?**:

BUG REPORT

**What happened**:

I tried to modify [dag-continue-on-fail](https://github.com/argoproj/argo/blob/master/examples/dag-continue-on-fail.yaml) example by changing `intentional-fail` template to nested dag and `continueOn: failed` stopped working - so task `D` never starts after `B` failed.

I've noticed that it only continues if task `C` fi

[2019-12-05 14:17] CermakM commented on #1817
+1 doesn't seem to be working with `templateRef` either

[2019-12-05 17:27] #1662 closed

[2019-12-05 19:32] #1761 closed

[2019-12-05 19:33] #700 closed

[2019-12-05 20:29] matheper commented on #1570
I had the same issue. It was related to the rolebinding config. Following Argo installation steps fixed it. https://argoproj.github.io/docs/argo/demo.html#3-configure-the-service-account-to-run-workflows

[2019-12-06 00:11] mckjhd opened #1819 "PVC goes to "terminating" state on workflow completion."
**Is this a BUG REPORT or FEATURE REQUEST?**:

A bug.

**What happened**:

When workflow having a reference to PersitentVolumeClaim completes the PVC goes to "Terminating" state and stays in this state until the workflow is deleted.

**What you expected to happen**:

PVC should remain intact until the workflow is deleted.

**How to reproduce it (as minimally and precisely as possible)**:

Create w

[2019-12-06 00:18] mckjhd commented on #1803
@simster7
[code]
wrt the workflow, it's a dag with dependencies, e.g. steps `a`, `b`, `c` and `c` depends on `a` and `b`, so if `b` fails, the workflow fails too. The things is that `b` might succeed on retry, and retry doesn't work due to known issue #1744 (I hope it's resolved in the latest master, but still), so I've been thinking about a way to manually retry `b`,  e.g. `argo retry workflow st

[2019-12-06 14:52] simster7 commented on #1713
Hello everyone [`v2.4.3`](https://github.com/argoproj/argo/releases/tag/v2.4.3) was just released with a fix for this issue, please take a look! Thank you for your patience.

[2019-12-06 14:52] simster7 commented on #1738
Hello @warunapww, [`v2.4.3`](https://github.com/argoproj/argo/releases/tag/v2.4.3) was just released with a fix for this issue, please take a look! Thank you for your patience.

[2019-12-06 14:54] simster7 commented on #1719
Hello @davidboren, [`v2.4.3`](https://github.com/argoproj/argo/releases/tag/v2.4.3) was just released with a fix for this issue, please take a look! Closing

[2019-12-06 14:55] #1719 closed

[2019-12-06 14:55] simster7 commented on #1793
Hello @TrevorNodeJS, [`v2.4.3`](https://github.com/argoproj/argo/releases/tag/v2.4.3) was just released and should have the fix for this issue, please take a look!

[2019-12-06 14:56] #1793 closed

[2019-12-06 17:10] Jude188 commented on #1813
We would also love similar OIDC functionality as ArgoCD for Argo Workflows UI. Our reason for this is that we're running an ETL process which may pass sensitive data via artifacts. Currently the UI exposes these files from the underlying S3 storage to anyone on the network. If the UI were at least behind OIDC similar to ArgoCD then this would be much less of an issue.

[2019-12-06 17:30] CermakM commented on #1386
+1, this is quite unpleasant

[2019-12-08 08:59] CermakM opened #1822 "nested template outputs produce runtime error: invalid memory address or nil pointer dereference"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG

**What happened**:
[code]
**What you expected to happen**:
I expect to be able to pass outputs even from templates that contain steps/tasks.

**How to reproduce it (as minimally and precisely as possible)**:
<details>
<summary>Workflow to reproduce</summary><p>

[code]
</p>
</details>

**Environment**:
- Argo version:
[code]

[2019-12-08 19:30] dmayle opened #1823 "Don't return an error when getting a nonexistent k8s resource"
**Is this a BUG REPORT or FEATURE REQUEST?**:
This is somewhere in between the two.

**What happened**:
When you try to check for the existence of a resource, the resource executor passes through the error directly from kubectl.  I've filed an issue against kubernetes ( https://github.com/kubernetes/kubernetes/issues/86042 ) because the get command returns an error when querying the singular if a

[2019-12-09 05:42] sarabala1979 commented on #1823
It should be a new flag/element under resource `ignore-not-found : true` and the default is false.
you are more welcome to create PR. Thanks for creating this issue.

[2019-12-09 05:49] sarabala1979 commented on #1817
Tried above workflow in `v2.4.3`. The issue is not reproducible. Try on `v2.4.3` and let us know

[2019-12-09 08:54] XciD commented on #1729
Could be a good feature, can I help ?

[2019-12-09 10:06] vmanucharyan commented on #1817
@sarabala1979 still doesn't work for me - tried with `latest` and `v2.4.3` builds

[2019-12-09 14:50] sarabala1979 commented on #1817
@vmanucharyan Got it. I am able to reproduce `D task is missing`. would you like to fix yourself? Feel free to fix and create PR. We will review it.

[2019-12-09 18:22] idristarwala opened #1824 "Argo UI and Workflow container pods running as root users"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST :- Set the user in the argo container pods to be nonRoot.
**What happened**:
We are evaluating Argo tools for our use-case, our kubernetes clusters are built with pod-securities enabled. Which means no pod can run as root. The argo tool container images are by default running as root. As a result we are unable to directly use the image

[2019-12-09 18:23] idristarwala commented on #1824
we would be happy to submit PRs enhancing the docker files to use a nonRoot user instead of the default root user.

[2019-12-09 19:07] sarabala1979 commented on #1824
l will leave @jessesuen to comment on this enhancement.

[2019-12-09 20:14] trondhindenes commented on #1666
imho this is almost a must in order to be able to interact with workflows from other apps - we need to be able to see the api calls made in order to be able to emulate them.

[2019-12-09 23:46] idristarwala commented on #1802
@simster7 we have a similar requirement, where we want to be able to deploy workflows to multiple clusters and also be able to view all the workflows from a single Argo UI instance.. is the UI refactor still under works ?

[2019-12-10 03:03] tonyyang-svail opened #1826 "Question on building and versioning"
Hi Argo team,

Thanks for open sourcing this workflow engine. I am trying to integrate it into our system and find the following problem.

First, I am confused about the version names. It looks like Argo is on version 2.4.3, however, [the example](https://github.com/argoproj/argo/blob/master/docs/example-golang/main.go) is using `v1alpha1`. Are `v1` and `v2` compatible? What is the relationship be

[2019-12-10 05:17] simster7 commented on #1826
The version you see on the examples (v1) is the [API version](https://kubernetes.io/docs/concepts/overview/kubernetes-api/#api-groups) for the Custom Resource Definitions in Kubernetes, and the Argo version (v2) is the version of the Workflow controller. They refer to separate things and are compatible with each other.

Yes. Documentation is not great currently, unfortunately, but take a look at t

[2019-12-10 05:44] tonyyang-svail commented on #1826
@simster7 Thanks for the explanation. The effort of migrating to `go.mod` is greatly appreciated. :)

[2019-12-10 05:44] #1826 closed

[2019-12-10 05:58] naiduasn commented on #1816
any way i can achieve this? @simster7 @sarabala1979

[2019-12-10 07:03] sarabala1979 commented on #1816
if you want to achieve the above use-case on workflow-controller-configmap(centralized), currently there is no support for multi S3 buckets in config.  we can enhance to support multiple ArtifactRepositories config in `configmap` and it will be referred in workflow input and output.

[2019-12-10 08:25] NikeNano opened #1827 "Different TTLSecondsAfterFinished depending on if job is in Succeeded, Failed or Error?"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST

**What happened**:

Argo workflows [TTLSecondsAfterFinished](https://github.com/argoproj/argo/blob/5274afb97686a4d2a58c50c3b23dd2b680b881e6/pkg/apis/workflow/v1alpha1/workflow_types.go#L202) offers the possibility so handle clean up of workflows that have finished execution. Which means workflows in either Succeeded, Failed or Error st

[2019-12-10 09:37] bappr commented on #1405
+1 too, using argo for my Continuous Deployment and wanna propose to the users to Abort the Deployment without implementing any complex logic.

[2019-12-10 14:55] Farkal commented on #993
Any new on this ? Currently we saturate etcd and it's impossible to recover our cluster.

[2019-12-10 15:37] sarabala1979 commented on #993
Cronworkflow feature has been implemented. It will be included in next release v2.5. you can schedule the workflows with crontap. #1758

[2019-12-10 17:40] naiduasn commented on #1816
@sarabala1979 Yes, Multiple Artifact repositories can allow me to create a workaround.

[2019-12-10 18:56] #1713 closed

[2019-12-10 21:09] alexec commented on #1817
Feature introduced in 94cda3d53c6a72e3fc225ba08796bfd9420eccd6 by @schrodit .

[2019-12-10 21:12] alexec commented on #1817
Conflated by 6acea0c1c21a17e14dc95632e80655f7fff09e2e by @dtaniwaki maybe.

[2019-12-10 23:10] salanki opened #1832 "Workflow steps get stuck in Running state on Kubernets Node Failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Bug

**What happened**:

When a Kubernetes node dies, ie. because the server crashes or a spot instance is preemted all pods on that node are first set to "Error" state and then to "Terminating" state. Argo doesn't pick up on this, and believes the pod is still running, making the job run indefinitely (even past `activeDeadlineSeconds`). I have waited

[2019-12-11 09:11] timnon opened #1833 "current date in global variable"
for etl-processes, i often need the current date. In order not to have to grep the date in every step of the workflow (which might also lead to a non-synchronized date), i usually get the date in a tiny first workflow step and write it to `workflow.outputs.parameters.date`.

To avoid this, it would be handy to have the date when the workflow was started already as a default global variable.

[2019-12-11 22:01] #927 closed

[2019-12-11 22:30] Ark-kun commented on #1833
There is the `workflow.creationTimestamp` placeholder https://github.com/argoproj/argo/blob/master/docs/variables.md

[2019-12-11 22:32] Ark-kun commented on #1807
`C2` should not be evaluated at all since its dependency (`C`) has not succeeded.

[2019-12-11 22:39] simster7 commented on #1807
@Ark-kun Correct, but the problem is the entire Workflow is errored out instead of simply skipping `C` and `C2`

[2019-12-12 05:20] timnon commented on #1833
thanks a lot, this is perfect, did a lot of googleing, but this one didnt pop up!

[2019-12-12 05:20] #1833 closed

[2019-12-12 12:23] dtaniwaki commented on #1689
I'm working on a fix for this issue.
https://github.com/argoproj/argo-ui/pull/52

[2019-12-12 14:17] NikeNano commented on #1827
@sarabala1979 Do you have some feedback on this?

[2019-12-12 17:04] sarabala1979 commented on #1827
It is a good feature add. we have two options
1. Adding two more elements like`TTLSecondsAfterSuccess` and `TTLSecondsAfterFailed`
2. Deprecate old one `TTLSecondsAfterFinished` and create new structs `TTLStrategy` which has these three elements
[code]
I would like to add the same functionality in the controller level also. so if workflow doesn't have TTL element then the central configuration wil

[2019-12-12 17:19] DanGolding opened #1837 "Discrepancy in examples for steps syntax"
**Is this a BUG REPORT or FEATURE REQUEST?**: Possible error in the documentation

**What happened**: In many of the examples, the steps are written both with two hyphens as in `- - name` ([example](https://github.com/argoproj/argo/blob/master/examples/retry-with-steps.yaml#L11)) and in the same list, with one hyphen as in `  - name` ([example](https://github.com/argoproj/argo/blob/master/examples

[2019-12-12 17:22] #1712 closed

[2019-12-12 17:42] simster7 commented on #1837
This is actually intended. The `steps` spec is a list of lists, all of the steps in each element of the parent list will be run in parallel and once they are all done, the next set of elements in the parent list will be run.

In the example you cite:
https://github.com/argoproj/argo/blob/b3d458504b319b3b02b82a872a5e13c59cb3128f/examples/retry-with-steps.yaml#L11-L16

`hello1` will be run first (si

[2019-12-12 17:44] DanGolding commented on #1837
Ah, thanks!

[2019-12-12 17:44] #1837 closed

[2019-12-12 19:25] dmayle opened #1838 "Support using argoexec image from private repository"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST

**What happened**:
While developing changes to the argoexec image, I had to publish changes to a public repository, because the workflow controller doesn't support passing the name of an imagepullsecret via a command line arg

**What you expected to happen**:
I expect to be able to use a private repository

**How to reproduce it (as mi

[2019-12-12 19:46] NikeNano commented on #1827
I will pick it up and start to work on it!

[2019-12-12 20:05] simster7 commented on #1827
I would say `TTLStrategy` with backwards compatibility scales better

[2019-12-12 21:01] ebelisle opened #1840 "Setting Global Output value of failed task sometimes works (indeterminate)"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**What happened**:
Sometimes the output value of a failed task is set.

**What you expected to happen**:
The output value of a failed task is always set.  (or never set, if you want to match the behavior of a failed step)

**How to reproduce it (as minimally and precisely as possible)**:
Run attatched script.  (May take 2-3 runs).  Global o

[2019-12-12 21:32] paguos opened #1841 "Incomplete Installation Instructions"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**What happened**:
When installing `argo` using the release instructions workflows are not able to run with the `default ` service account.

**What you expected to happen**:
After following the installation instructions. Been able to successfully run some basic workflow examples.

**How to reproduce it (as minimally and precisely as possibl

[2019-12-12 21:57] jmeickle opened #1842 "Interpolating variables into multiple volume mounts in a WorkflowTemplate is broken"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Bug report

**What happened**:

[code]

**What you expected to happen**:

Not that

**How to reproduce it (as minimally and precisely as possible)**:

Create a WorkflowTemplate with multiple VolumeMounts on the same container, and use variables for their paths. Even if the variables are different, they all get interpolated as "placeholder". This then

[2019-12-12 21:58] simster7 commented on #1841
You will need to create a new `RoleBinding` on the namespace in which you want your workflow to run:
[code]
For example, if you want to run workflows in the `argo` namespace, but you will have to run:
[code]

This is already provided in the [Getting Started guide](https://github.com/argoproj/argo/blob/master/demo.md#3-configure-the-service-account-to-run-workflows)

[2019-12-12 22:06] paguos commented on #1841
I totally forgot about the starting guide. I think is more than enough. Thanks!

[2019-12-12 22:07] #1841 closed

[2019-12-12 22:48] alexec commented on #1781
Would it be possible to get an example of the types of workflow where you'd like this feature please?

[2019-12-12 22:52] simster7 commented on #1822
I don't think you're supposed to use the `outputs.parameters.value` field directly. That field gets filled in based on the contents of `valueFrom` precisely on the function that causes the panic in this issue:
https://github.com/argoproj/argo/blob/b3d458504b319b3b02b82a872a5e13c59cb3128f/workflow/controller/operator.go#L1595

Instead, you should use `valueFrom` and specify where you want the value

[2019-12-12 22:55] simster7 commented on #1822
Will be closing this for now but feel free to reopen if necessary

[2019-12-12 22:55] #1822 closed

[2019-12-13 03:24] dtaniwaki commented on #1842
@Eronarn Could you provide a reproducible manifest for this issue?

[2019-12-13 03:25] dtaniwaki commented on #1842
I will try to fix the issue with the following manifest.

[code]

[2019-12-13 03:30] dtaniwaki commented on #1689
Please try out dtaniwaki/argoui:v2.2.1-cfca2f6 from DockerHub.

[2019-12-13 05:12] dtaniwaki commented on #1842
I found a minimum manifest to reproduce this issue.

[code]

And sent a PR for the fix.

[2019-12-13 08:03] CermakM commented on #1822
Ah, I see, darn it! Thanks a lot!

[2019-12-13 09:07] NikeNano commented on #1827
Should I be assigned to it in order to work on it?

[2019-12-13 10:29] TekTimmy commented on #1203
Hey @jessesuen, could you give an example how I specify an emptyDir volume as workflow output?

[2019-12-13 14:44] sarabala1979 commented on #1827
yes . I already assigned this issue to your name.

On Fri, Dec 13, 2019 at 1:07 AM Niklas Hansson <notifications@github.com>
wrote:

--
Thanks & Regards
Saravanan

[2019-12-13 14:57] sarabala1979 commented on #1203
[code]

[2019-12-13 17:05] TekTimmy commented on #1203
Thanks @sarabala1979. When I get @jessesuen s comment right he said that we should use emptyDir volumes for workflows output data to prevent Argo from using `docker cp`. How does Argo know that the output is an `emtpyDir` in your example? You are just providing the `path` in the outputs and not the volume name...

[2019-12-13 20:11] ebelisle opened #1846 "Constant Output Value on Template with Steps causes internal error"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**What happened**:
Workflow ends with Error status.

**What you expected to happen**:
Workflow ends with Success status, globalName `causes-error` set to 'x'.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:
* Change `entrypoint` to `invoke-container` and output parameters are cor

[2019-12-13 21:14] jgbaum opened #1849 "What are the possible values for node phases?"
I need to know what are the possible values that I can expect in the 'phase' field for each node.  E.g., the following is the partial output of a call to ```argo get -o json jjm-argotdb6d```:

[code]

I'd like to know what are the possible values at ```status.nodes.jjm-argotdb6d.phase``` so I can write a proper handler for each condition.  I could not find any existing documentation on this.

Than

[2019-12-13 23:00] sarabala1979 commented on #1849
[code]

[2019-12-13 23:07] jgbaum commented on #1849
Perfect, thanks!

[2019-12-13 23:07] #1849 closed

[2019-12-16 06:58] #1564 closed

[2019-12-16 08:04] NikeNano commented on #1827
After looking further in to the code base and the current solution I have some questions related to Complete vs Succeded vs Failed? As I understand it from the check if a workflow is [complete](https://github.com/argoproj/argo/blob/cb0598ea82bd676fefd98e2040752cfa06516a98/pkg/apis/workflow/v1alpha1/workflow_types.go#L843) failed and succeeded are sub-groups of Complete. Is this a correct understan

[2019-12-16 17:26] sarabala1979 commented on #1827
you are understanding it is correct. `Succeeded` and `Failed` are sub-group of complete.  As I mentioned above `TTLSecondsAfterFinished` can be deprecated v2.5 but I can be supported next few releases.   Ideally, we should have below configuration in `workflowspec` and `configmap`. So the user can configure in one place instead of two places. Code and implementation will be easier if everything in

[2019-12-16 19:49] simster7 opened #1857 "Allow resources to pass arbitrary flags to kubectl"
I think that this PR could become more generalized by allowing the user to pass arbitrary arguments to `kubectl`. If we merge this, other users could request a similar implementation for other flags, which could cause it to get cluttered.

Something like:
[code]
could work.

Will open this as a new issue. @CermakM do you want to own this?

(P.S. Not that this is slightly different from the open ht

[2019-12-16 20:57] simster7 commented on #1573
Closed by #1829

[2019-12-16 20:57] #1573 closed

[2019-12-16 21:40] alexec commented on #1790
This already partially works

Add this to your config map:

[code]

Anything that uses uses artifacts will also archive logs.

If they do not use it, they do not archive logs.

[2019-12-16 21:48] NikeNano commented on #1827
Great @sarabala1979  I will try to fix it all at once. Will start the work tomorrow :)

[2019-12-16 22:15] #678 closed

[2019-12-16 22:49] alexec commented on #1838
I've just merged changes to master that allow you to run your own container locally and write e2e tests for it, does this help:

https://github.com/argoproj/argo/blob/master/test/e2e/README.md#to-update-the-executor

[2019-12-16 23:56] cchanley2003 opened #1864 "Argo hangs when handling multiple with parameter steps (some empty)"
**What happened**:

This is running argo version 2.4.3.

I'll provide templates but basically argo get stuck if I submit a nested workflow with multiple parameters. Not sure of all the specifics of what is going wrong but in this case the first step produces multiple json results and uses withParameters across multiple steps.

In this case list-one is empty and list-two has values. It correctly st

[2019-12-17 04:25] AntoineDao opened #1866 "Argo Database Persistence SSL does not work"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
Setting up SSL on postgres database to persist workflow objects fails because config is incorrect.

**What you expected to happen**:
I expected SSL to work :smile:

**How to reproduce it (as minimally and precisely as poss

[2019-12-17 04:27] AntoineDao commented on #1866
I will aim to submit a fix within the next day or two as it seems the issue is just that the SSL config should accept:
- require
- verify-full
- verify-ca
- disable

Oddly enough the debugging message indicates that sslmode is set to `require` by default. Not sure why previous workflow-manager pods with persistence were not able to use SSL.

[2019-12-17 08:32] CermakM commented on #1857
@simster7 This looks reasonable to me and I'll be happy to extend the implementation :) I suppose we, therefore, want to have just flags, instead of both flags and validate, correct?

[2019-12-17 15:22] janhicken commented on #1689
It works perfectly for me, I'm able to see the corresponding logs :+1:

[2019-12-17 15:43] simster7 commented on #1857
Correct

[2019-12-17 16:01] flxs commented on #1253
I'm having the same issue on k3s v1.0.0 (which is Kubernetes v1.6), argo v2.4.2.

I've had to edit install.yml from Master since the `Deployment` kind is now part of `apps/v1` in Kubernetes 1.6; afterwards, I was able to apply the yaml without errors.

I've next applied the fix by @nmandery, but it doesn't work for me, the k8sapi executor still seems to require Docker somehow (I'm using the k3s de

[2019-12-17 16:14] crenshaw-dev opened #1868 "WorkflowTemplate withParam causes "template not found""
**What happened**:

A Workflow relying on a WorkflowTemplate using `withParam` fails with `template [template-name] not found`. The individual steps based on `[template-name]` succeed, but the Workflow as a whole fails.

**What you expected to happen**:

I expected the Workflow to finish successfully.

**How to reproduce it (as minimally and precisely as possible)**:

WorkflowTemplate:

[code]

Wo

[2019-12-17 20:47] alexec commented on #1846
Please attach workflow YAML.

[2019-12-17 20:48] alexec commented on #1864
@dtaniwaki @sarabala1979 what is best for bugs with workflow templates?

[2019-12-17 20:50] simster7 commented on #1868
@dtaniwaki Could you take a look at this?

[2019-12-17 21:35] cchanley2003 commented on #1864
Just to clarify. I ran this with 2.4.0-rc1 with workflow templates and it works. So it worked with templates prior to the 2.4.0 official release.

[2019-12-17 22:11] alexec commented on #1786
What kind of functions would an SDK need to be minimally useful?

[2019-12-18 08:50] nmandery commented on #1253
@flxs For what its is worth: I am using the `pns` executor now as I experienced some other issues with the `k8sapi` executor with dag workflows.

[2019-12-18 10:25] CermakM commented on #1786
@alexec @simster7 We've recently started working on [Argo Python SDK](https://github.com/CermakM/argo-python-sdk) ... it's under development, but starting to be quite useful already.

It builds upon the [models]( https://github.com/CermakM/argo-client-python) that I mentioned above.

Here is a hello-world example of the SDK usage:

<table>
<tr><th>Argo YAML</th><th>Argo Python</th></tr>
<tr>
<td v

[2019-12-18 13:28] flxs commented on #1253
Weird, it seems argo silently reverts to the default Docker executor when I set the executor to `pns`, at least I'm getting the same errors I got with the default config. The behaviour is the same if I put in a random string as the executor, and for `k8sapi`. Do I need to install those executors separately?

I'm setting it like this:

[code]

The workflow controller pod seems to have discovered th

[2019-12-18 15:00] nicorikken opened #1871 "Argo UI cannot deal with multiple RBAC Roles instead of a ClusterRole"
**What happened**:

I'm running Argo Workflow and Argo UI based on the [Argo Helm Chart](https://github.com/argoproj/argo-helm/tree/master/charts/argo). I'm trying to create a multi-tennant setup, with a Helm chart rollout per tennant (team). Each team having their own tst, acc and prd namespaces.
I can already deploy a workflow controller for each team, covering multiple namespaces. This is suppo

[2019-12-18 18:33] #1790 closed

[2019-12-18 19:09] alexec opened #1874 "Update e2e tests to isolate using namespace"
# Summary

Today, e2e tests label the workflows they create and then delete them. Instead, lets use a namespace for them.

# Motivation

* Consistent with Argo CD and Argo Events.
* More robust - you can just delete the namespace when done.

# Proposal

This will require changes to CI set-up, Makefile, and e2e_suite.go.

[2019-12-18 19:20] dougtoppin opened #1875 "Suspend duration units not supported?"
Checklist:

 * [x ] I've included the version.
 * [x ] I've included reproduction steps.
 * [x ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

Following example suspend at https://raw.githubusercontent.com/argoproj/argo/master/examples/suspend-template.yaml

Suspend duration units not supported, example indicates that units included with duration should work

[2019-12-18 19:21] dougtoppin commented on #1875
I am new to argo so I may be doing something wrong.

[2019-12-18 20:10] Ark-kun commented on #1781
Add some scenarios in the end of the description.

[2019-12-18 20:30] alexec commented on #1875
The types in `int32` so you should use 120 for 120s=2m

[2019-12-18 20:57] simster7 commented on #1875
Hi @dougtoppin, thanks for bringing this up! It looks like https://github.com/argoproj/argo/pull/1752 – which provides support for duration as you described – didn't make it to the `v2.4.3` release. It should make the next release without a doubt.

For now, as a workaround, please specify the wait duration in seconds as @alexec suggested.

[2019-12-18 23:00] dougtoppin commented on #1875
Doh, sorry, I should have included that an int was working fine for me. I just noticed the units comment and wanted to pass along that theta did not work.

[2019-12-18 23:24] ebelisle opened #1876 "StepA calling StepB in WorkflowTemplate expects StepB to also be defined in submitted workflow"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
No pods execute.  Error reported and no PODNAME

**What you expected to happen**:
template remoteC executes normally and outputs `Happy`

**How to reproduce it (as minimally and precisely as possible)**:
[code]
[issue-temp

[2019-12-19 00:11] alexec commented on #1875
OK. We can close?

[2019-12-19 00:11] #1875 closed

[2019-12-19 00:13] alexec commented on #1786
https://github.com/CermakM/argo-python-sdk/issues/1

[2019-12-19 00:42] alexec commented on #1256
https://circleci.com/gh/argoproj/argo/72?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-12-19 01:12] #1842 closed

[2019-12-19 05:21] #1817 closed

[2019-12-19 17:02] dorsany opened #1877 "invalid spec templates not found using WorkflowTemplate and dag"
**What happened**:
[code]

**What you expected to happen**:
the core-example-migrator-pod-template should be exist

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- Argo version:
[code]
- Kubernetes version :
[code]

**Other debugging information (if applicable)**:
- workflow result:
[code]

- workflow-controller logs

[2019-12-19 17:19] simster7 commented on #1877
The `Workflow` and `WorkflowTemplate` you posted look malformed. It should be the following (note "`podgcstrategy`" field and indentation of `.spec.templates.container`):
[code]

The following worked for me. Are you submitting using `argo {submit, template create}` or `kubectl apply`? `argo` should be catching the linting errors.

[2019-12-19 18:32] dorsany commented on #1877
I'm using `kubectl apply`
I also tried your fixed argo template and it worked but only on the seconds time, probably if you are creating the `Workflow` before `WorkflowTemplate` the `argo-workflow-controller` doesn't wait for the `WorkflowTemplate` to be creates. is it possible?

btw, thaks for the information about `podgcstrategy` I couldn't find any docs about it except the PR

[2019-12-19 18:37] simster7 commented on #1877
If there isn't a specific reason to use `kubectl`, we recommend using `argo` to get the nice validation :)

Correct, the resources will be created in order. By the time you call your `Workflow` your `WorkflowTemplate` has not yet been created. Please ensure you always create the `WorkflowTemplates` first.

Here is a good example of how it works: https://github.com/argoproj/argo/blob/master/example

[2019-12-19 18:37] simster7 commented on #1877
Closing this, please feel free to reopen if necessary

[2019-12-19 18:37] #1877 closed

[2019-12-19 18:58] dorsany opened #1880 "support Field Management (managedFields)"
# Summary
In my k8s cluster I have the Field Management turned on for audit purposes.
The Field Management will add another `key` called `managedFields` under `metadata.managedFields` and this `managedFields` can be more than depth (10) which is the limit in `argo workflow` for `WorkflowTemplate`

example how the `WorkflowTemplate` it looks:
[code]

and I'm getting the error:
[code]

What change y

[2019-12-20 01:45] #1832 closed

[2019-12-20 15:28] frs3 opened #1884 "Unhandled race condition in DockerExecutor.Kill"
**Is this a BUG REPORT or FEATURE REQUEST?:**
BUG REPORT

**What happened**:
Random failure of workstep with sidecar when sidecar terminates with main container.

If DockerExecutor.Kill (docker.go:99) is called while container is terminating, docker --kill can fail with "Error response from daemon: Cannot kill container ... is not running".

Potential fix in docker.go:
[code]

Or just ignore error

[2019-12-22 10:08] merlintang opened #1885 "[Feature-request] OSS support for the artifact"
# Summary

OSS is very popular object storage [link](https://www.alibabacloud.com/product/oss?spm=a3c0i.7950270.1389108.dnavproductstorage1.2b2aab912n5agg), is there possible to extend the current artifact storage with OSS supported?

# Motivation

OSS is provided for Artifact backend storage.

# Proposal

We can extend the current S3 storage as well.

[2019-12-22 11:03] logicfox commented on #1813
We've worked around this problem by having a single Argo Workflow controller instance that can execute workflows in any namespace and deploying multiple ArgoUI instances in separate instances. The UI is fronted by github.com/pusher/oauth2-proxy to auth requests.

[2019-12-23 05:08] Itfly opened #1886 "failed to get workflow after creating it by argo golang client"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
I use golang code to create workflow without error, but cannot get the workflow.

[code]
Got some error log found in `workflow-controller`:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and

[2019-12-23 09:44] DylanBowden commented on #666
Hi, does the feature exist ? I couldn't see anything in the documentation to limit the number of pods running concurrently in a loop withParam.

Thanks

[2019-12-23 09:49] DylanBowden commented on #721
Hi, PR #1096 is closed but not because it was merged. I'm guessing the idea of limiting the parallel executions didn't take off ? Thanks

[2019-12-23 20:10] maryala9 commented on #1307
@jessesuen How did you fix it, please could you paste that block of code. Thanks in advance.

[2019-12-23 20:37] alexec commented on #1885
Naturally this can probably be done. Would you like to have a go at submitting a PR?

[2019-12-23 20:39] alexec commented on #1886
This is the error:

[code]

Can you make sure you're not submitting the same UID twice? These must be unique.

[2019-12-23 20:42] alexec commented on #721
I closed that PR because it was inactive for 1 year. I believe that you can use the parallelism feature to achieve the same goal?

[2019-12-23 20:50] alexec commented on #1813
In version v2.4 you could front the Argo UI with your own ingress and configure permission in that.

In version v2.5 we'll plan to remove Argo UI. Instead, the new Argo Server can be run on your local machine and gets permissions from your KUBECONFIG, so you can only access what your config allows you to.

Alex

[2019-12-24 03:14] Itfly commented on #1886
The UID is not generated by my code. Here's workflow generate func:
[code]

[2019-12-24 04:54] Itfly commented on #1886
There's two process update workflow, maybe that's the reason.

[2019-12-24 04:54] #1886 closed

[2019-12-24 15:51] jamhed opened #1887 "Label workflow-created PVC the same way as Pods"
# Motivation

It's not easy to select workflow PVC with only ownerReference, and using naming ($workflow-name-$pvcname) convention is not reliable and differs from how pods and other objects are selected.

# Proposal

By labeling PVC the same way as Pods.

[2019-12-24 15:52] jamhed commented on #1887
https://github.com/jamhed/argo/commit/dd42981c7b2b25460a356ac482e879d3c0786575

[2019-12-24 17:05] simster7 commented on #1887
Feel free to open a PR!

[2019-12-24 17:16] wangkuiyi opened #1888 "Does Argo assume Docker the container runtime used by Kubernetes"
We are the SQLFlow.org team. We are trying to refactorize SQLFlow.org to convert a SQL program into a workflow. For that purpose, a team member https://github.com/Yancey1989 tried to deploy Argo on a customized implementation of Kubernetes, which doesn't use Docker as the default container runtime.

The trial failed with error messages indicating that Argo expected to mount `/var/run/docker.sock`

[2019-12-24 21:24] jamhed commented on #1887
@simster7 Is it okay for `Default - Argo CI` check to fail? I was unable to figure out the reason.

[2019-12-25 02:48] merlintang commented on #1885
@alexec I am so glad to send a PR.

[2019-12-26 13:05] markterm opened #1891 "Enable retryStrategy to be specified for non-leaf nodes"
# Summary

Enable retryStrategy to be specified for non-leaf nodes, so for example it can be applied to a set of steps and they will all be retried if any fail.

# Motivation

For example if there are a pair of steps when one fetches some data and another processes the data, if the processing fails then this is useful if we want to retry the fetch too.

# Proposal

https://github.com/argoproj/argo

[2019-12-26 13:14] mark9white opened #1893 "More control over un-suspension"
# Summary

Enable the unsuspend command/API to unsuspend just nodes with arguments matching a parameter, and it to set a suspend node to failure.

# Motivation

In the case of a workflow triggering asynchronous execution, eg a third party service that uploads data to S3. At the end of the execution we would want to unsuspend just that specific node, and if the execution fails then we would want to

[2019-12-26 15:50] DylanBowden commented on #721
Indeed you can, it just took me a while to figure-out how.

For anyone else seraching :

[code]

[2019-12-26 17:12] delwaterman opened #1894 "Argo CLI: String parameters submitted in parameter-file have extraneous double quotes added"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

When creating a workflow and using a parameter-file, argocli adds double quotes to all strings. This causes problems with annotations, labels, etc.

**What you expected to happen**:
Strings should not have double quotes.

[2019-12-26 17:16] simster7 commented on #1893
Sounds like a good idea. Are you interested in submitting a PR for this?

[2019-12-26 20:29] mark9white commented on #1893
Yes, I'll be creating it within the next couple of weeks.

[2019-12-27 19:23] apoorvprecisely opened #1895 "Installation section doesnt have cmd for event source custom resource definition"
# Summary

Because of missing
`kubectl apply -n argo-events -f https://raw.githubusercontent.com/argoproj/argo-events/master/hack/k8s/manifests/event-source-crd.yaml`
first step in Getting Started fails with error
`error: unable to recognize "https://raw.githubusercontent.com/argoproj/argo-events/master/examples/event-sources/webhook.yaml": no matches for kind "EventSource" in version "argoproj.io

[2019-12-27 19:27] #1895 closed

[2019-12-30 03:09] astanway commented on #1609
I'm still getting this in 2.4.3

[2019-12-30 15:05] mac9416 commented on #1868
@dtaniwaki I don't know Go, but if you point me in a general direction, I might be able to figure things out.

[2019-12-30 16:08] simster7 commented on #1894
This was already fixed in https://github.com/argoproj/argo/pull/1733. The fix will be released in the next release.

[2019-12-30 16:24] simster7 opened #1896 "Mark suspended nodes as suspended with a unique symbol in the CLI"
Currently, suspended nodes are marked with the `running` symbol even when they are suspended. The CLI ux should be changed to reflect that they are in fact suspended.

From this:
[code]
To maybe this:
[code]

[2020-01-01 00:10] #1602 closed

[2020-01-01 17:39] logicfox commented on #1866
I know its holidays, but did you get a chance to work on the PR? I'd really love to test this feature and start using it.

[2020-01-02 00:38] hychrisli commented on #1509
Would love this new feature to be added! From the ops perspective, I would like to know how a particular job has been doing in the past. It's difficult to do that in the UI right, since jobs are sorted in reverse chronological order with very limited filter options.

[2020-01-02 02:14] agershman commented on #1813
Is it a certainty that the argo workflow UI will be sunsetted come v2.5? Is the intent to have end users primary interface to workflows be through the argo CLI?

[2020-01-02 05:23] DungLai commented on #1231
same problem

[2020-01-02 15:49] #849 closed

[2020-01-02 18:22] jimdickinson opened #1900 "Unable to resolve artifact from one skipped step in another skipped step"
We have a fairly complex workflow that we pass some variables into so we can skip steps that aren't needed during this execution. When we do that, it would seem like artifact inputs/outputs are validated before the `when` clause that lets job steps get skipped over.

Here's a snippet that illustrates what's going on. The job fails at runtime before checking whether `use-magic-files` needs to run.

[2020-01-02 21:06] wreed4 commented on #1359
Is there a way to turn this feature off??  I'm trying to write a controller that listens to workflows and publishes status and human readable logs (not necessarily pod logs).  I'm not sure how to capture these outputs, but my plan was to have a small template that just echoed a message, and read that output as a log and collect that.  This output is useless for the Workflow, so I don't want to ref

[2020-01-02 21:18] wreed4 opened #1901 "QUESTION: best way for a reader of workflows to get output of individual steps"
At a high level, my goal is to use argo workflows as a kubernetes-based task system for my company.  The main goal is to read argo workflows, and publish their status, potentially progress (X% complete), and some human-readable logs, that are not necessarily the logs of the individual steps to a company-wide message broker. My plan basically is to write a controller that `watch`es workflows, and p

[2020-01-02 21:19] #1720 closed

[2020-01-02 21:21] whynowy commented on #1447
@ozankabak - could you provide an example yaml for it?

[2020-01-03 01:42] alexec commented on #1900
Thank you for your bug report. Do you think you could please attach the whole workflow?

[2020-01-03 01:42] #1774 closed

[2020-01-03 01:44] alexec commented on #1901
Have you tried turning artifact collection for logs on?

[code]

That will always save your logs.

[2020-01-03 14:09] wreed4 commented on #1901
Oh interesting.  Okay, so I did find another option I wanted to bring up.  Do you guys think the above suggestion would be a better idea, or the following:

[code]

What I don't like about this approach is it requires the writer of the workflow to provide some weird `out` param to the `log` template.  For context, this `log` template would be reused by many many Workflows, and the writers of these

[2020-01-03 14:34] wreed4 commented on #1901
actually, update, I think I solved the "out" param issue.

[code]

Thoughts?

[2020-01-03 15:23] dcherman commented on #1888
(Not a maintainer, just a drive by suggestion):

The default executor for Argo is the docker executor which is why it's trying to mount `docker.sock`.  There are multiple others executors available which should avoid the need to do that:

https://github.com/argoproj/argo/blob/master/docs/workflow-executors.md
https://github.com/argoproj/argo/blob/59a190697286bf19ee4a5c398c1af590a2419003/docs/workf

[2020-01-03 17:34] alexec commented on #944
What is the goal please - to execute workflows faster by not running steps that have already been computed?

[2020-01-03 17:40] alexec commented on #1901
AFAIK (I'm new here), artifacts are the only way to collect output, even if the amount of output is very small. Artifacts should have predictable names within your S3 bucket.

Alex

[2020-01-03 17:41] alexec commented on #1888
@dcherman is correct, you can change the container runtime. What runtime do you need to use? `containerd`?

[2020-01-03 22:22] wangkuiyi commented on #1888
Thanks, @dcherman for pointing me to the container runtimes available to Argo and how to choose one.

Hi @alexec, I was trying to deploy [SQLFlow](http://sqlflow.org/sqlflow) on an Alibaba internal customized Kubernetes cluster running Pouch https://github.com/alibaba/pouch when I noticed the problem. In other deployments to vanilla Kubernetes, including the one at DiDi https://en.wikipedia.org/wi

[2020-01-04 00:42] alexec commented on #1888
@jessesuen ?

[2020-01-05 00:04] samath117 opened #1902 "Global output parameter reverts to its previous value after 2 seconds"
The following workflow should simply set `global-parameter` to `initial`, then update it to `final`:
[code]

However, the parameter reverts to `initial` after about 2 seconds. We can observe this by `watch` (as global parameters are recorded there) or with the consume steps in the workflow. Here are the logs:
[code]
As we can see, `consume-global-parameter-3` is able to start before the parameter

[2020-01-05 02:06] samath117 commented on #1876
If it helps, downgrading to v2.4.1 or v2.4.2 solves this issue. It seems to be related to https://github.com/argoproj/argo/pull/1655.

[2020-01-05 03:26] cscetbon commented on #1447
@whynowy not exactly the same error but when I submit
https://github.com/argoproj/argo/blob/master/examples/loops-param-result.yaml I get `withParam value could not be parsed as a JSON list`, so there is definitely a problem cause I can see that a son a returned by https://github.com/argoproj/argo/blob/master/examples/loops-param-result.yaml#L29

[2020-01-06 04:14] DungLai opened #1903 "Question: Specify network and ports for container"
I created a docker image that run a flask application inside and I am using argo to run the container and use HTTP requests to talk to that container.

Without argo, I run `docker run -it -network:host containerName` to spin up the web server and it works.

With argo, the problem is I can't specify the `network` in the `yaml` file so my host machine can't talk to the flask server.

Is there any wa

[2020-01-06 05:43] mark9white commented on #1893
I've created https://github.com/argoproj/argo/pull/1904

[2020-01-06 05:51] dtaniwaki commented on #1868
@mac9416 Sorry for the late reply. I'll check the issue and fix it soon.

[2020-01-06 05:52] dtaniwaki commented on #1864
Sorry for the late reply. I'll check the issue soon.

[2020-01-06 05:55] dtaniwaki commented on #1686
@Ark-kun Sorry for the late reply. I'll check and fix it soon.

[2020-01-06 06:47] mark9white opened #1905 "Provide values of withItems maps as JSON in {{item}}"
# Summary

Provide values of withItems maps as JSON in {{item}}

# Motivation

Allows map to be used and passed through to a template without knowing which keys it will contain in advance.

# Proposal

This already validates as correct, but needs a small change to the operator. PR is at https://github.com/argoproj/argo/pull/1906

[2020-01-06 10:36] madhuresh04 commented on #1625
@simster7 any update on this?

[2020-01-06 14:11] StoneRelax opened #1907 "GetTaskAncestry loop through steps that are already visited and cause performance issue"
Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
When testing complicated DAG workflow (10*10 matrix with Cartesian product like dependencies) the workflow controller stuck at GetTaskAncestry, as it try to process every node even through they are already visited and take

[2020-01-06 14:40] simster7 commented on #1625
This should be resolved in [`2.4.3`](https://github.com/argoproj/argo/releases/tag/v2.4.3). Could you please check? If the issue still exists please reopen.

[2020-01-06 14:40] #1625 closed

[2020-01-06 16:03] nikolay opened #1911 "Support GCS natively"
# Summary

In addition to Artifactory, native support for GCS would be great.

# Motivation

Enabling S3-compatible API to GCS is not specific to the bucket Argo would use, so, it has more side effects that it should.

# Proposal

Just like Artifactory is supported natively, Google Cloud Storage should be as well. Ideally, Azure Storage, too.

[2020-01-06 19:32] alexec commented on #1907
Thank you @StoneRelax. You seem to have a good handle on this issue - would you be interested in submitting a PR to fix it please?

[2020-01-06 19:37] alexec commented on #1911
This would be a useful feature. Would you be Interested in submitting a PR?

[2020-01-07 00:02] steve-dtg commented on #1689
When can we expect this to be shipped into a release?

[2020-01-07 03:00] StoneRelax commented on #1907
Sure https://github.com/argoproj/argo/pull/1908 opened for review

[2020-01-07 11:27] CermakM opened #1913 "About failures due to exceeded resource quota"
# Motivation

Hello there! Some time back I asked a [question](https://argoproj.slack.com/archives/C8J6SGN12/p1574948916066400) on the Slack channel and still haven't got any advice on the problem.

I need some help and advice about the way Argo handles resource quotas. We're hitting the problem repeatedly in our namespace, a workflow fails because of quota limits and is not retried later on.

An

[2020-01-07 12:31] jessesuen commented on #1888
Argo started out with only the Docker runtime, and subsequently added kubelet, K8s, and finally PNS to address the security concerns with the mounting of docker.sock on the host. The kubelet, k8s, and PNS executor should work with any container runtime including containerd.

There are tradeoffs to using each runtime as explained in the docs. Often, the choice is made for you such as if you are *no

[2020-01-07 13:26] tandeday opened #1914 "CLI image does not have a "cat" command for kubernetes usage"
The CLI image only contains the argo command which does not have an option to do a wait forever, which the kubernetes agent in Jenkins needs to if it is to be used in a build pipeline.

Adding this (a cat or a busybox or similar) will allow us to use it directly.  Right now we curl the binary from our server and would rather use the native image.

[2020-01-07 14:03] simster7 opened #1915 "Record last time when a WorkflowTemplate was used in a status field"
# Summary

Record last time when a WorkflowTemplate was used in a status field

# Motivation

It would be useful to know when the last time a WorkflowTemplate was run

# Proposal

Create a status field for the template and modify a "LastRun" field whenever it is run

[2020-01-07 15:17] #1905 closed

[2020-01-07 15:57] #1229 closed

[2020-01-07 16:06] simster7 commented on #1913
As far as I'm aware, resource quotas are a [K8s concept](https://kubernetes.io/docs/concepts/policy/resource-quotas/) that Argo does not know about. They are manged by a cluster admin and restrict how much resources can a specific namespace use. If running workflows is providing this error, might it be that your specific namespace in your specific cluster is running out of quotas? If so, this is n

[2020-01-07 16:18] alexec commented on #1914
Could you use `sleep 9999` too?

[2020-01-07 16:22] m86194 commented on #1914
There is no "sleep" command in the image.  Why the bug->enchantment alteration?  It is a bug for anyone who needs to use this in a kubernetes based build.

[2020-01-07 23:44] DungLai opened #1917 "Specify port and network in argo yaml file."
# Summary

I created a server running inside a container and use argo to start the container,  however argo yaml template does not let me specify port and network like what docker-compose can do and now I am struggling with connecting the server inside the container from host machine.

So my question is how to specify port and network in the `.yaml` file to connect to server running inside contain

[2020-01-07 23:44] #1903 closed

[2020-01-08 02:14] mark9white opened #1918 "Incomplete node offload feature - should it be removed from config?"
Taking a look at the node status offload feature in the code, there seem to be a couple of potential issues:

- not supported by CLI commands (/API server, at least in https://github.com/argoproj/argo/pull/1882). For example retry and resume workflow functions fetch the workflow directly from K8s API and assume that wf.Status.Nodes are present. I believe this also breaks compressed workflows.

- i

[2020-01-08 03:01] alexec commented on #1918
@sarabala1979 @jessesuen

[2020-01-08 05:46] hongkunyoo commented on #1819
I have similar problem

I tried dynamic volume example posted [here](https://github.com/argoproj/argo/blob/master/examples/README.md#volumes) with slight change which is, I used [nfs storageclass](https://github.com/helm/charts/tree/master/stable/efs-provisioner)

Same as above case after workflow completes, the pvc is stuck in terminating state.

[code]

[2020-01-08 14:08] CermakM commented on #1913
Hello @simster7 , thank you for the answer!

Correct, it is a K8s concept.

That is precisely the issue, the namespace is *temporarily* out of quotas. For example, due to lots of pods being currently running or lack of memory.

I disagree. I believe the correct behaviour would be to wait for the resource quota to be available before executing the next step of a Workflow. Argo is, after all, a work

[2020-01-08 15:06] simster7 commented on #1913
(I edited your comment above to distinguish the quotes and your responses)

Ah, I see what you're saying now. If that is the case as you've described, I agree that we need some sort of spec/logic to fix this.

I haven't tried it here yet, but would using `retryStrategy` here help at all? If not, what do you think we could add to it to solve this issue?

[2020-01-08 15:40] NikeNano commented on #1827
@simster7 I have also looked at the possibility to add default settings to argo/docs/workflow-controller-configmap.yaml to not make it necessary to set it on each workflow. But I don't understand how the argo/docs/workflow-controller-configmap.yaml is parsed? Could you point me in some directions? Thanks for the help!

[2020-01-08 15:47] simster7 opened #1921 "Update the UI Workflow models with the latest spec"
The UI models haven't changed in a long time, we should update them to refect what they are currently before the 2.5 release

[2020-01-08 16:21] CermakM commented on #1913
Thanks for the edit! :)

I actually do see your point now as well after giving it a deeper thought and I think you might be right in the sense that Argo is probably not to blame ( but it might be the saviour :) )

I'll get back to the `retryStrategy` in a sec. Please, correct me if I am wrong in my reasoning. Let's consider the case of k8s resources first (which is the most trickier one I suppose,

[2020-01-08 17:25] simster7 commented on #1917
How are you starting the container? Are you using the `resource` template? You can use the `resource` template to create K8s objects directly, such as a `Deployment` and a `Service`. Here is a toy example I got working.

(P.S. If you are deploying this server for a persistent amount of time (instead of just for the purposes of a workflow), consider using [Argo CD](https://github.com/argoproj/argo-

[2020-01-08 17:33] simster7 opened #1923 "Provide a way to set default Workflow options that will apply to all workflows"
# Summary

Provide a way to set default Workflow options that will apply to all workflows.

# Motivation

Users have asked for a way to set particular Workflow options once in the `worfklow-controller-cm` that will apply to all new Workflows as a convenience feature.

See: https://github.com/argoproj/argo/issues/1827#issuecomment-572126407 https://github.com/argoproj/argo/issues/1790

# Proposal

[2020-01-08 17:34] simster7 commented on #1827
@NikeNano Openened https://github.com/argoproj/argo/issues/1923 for this. It is a more generalized version of what you're asking. Feel free to continue the discussion there

[2020-01-08 17:35] NikeNano commented on #1923
I would be happy to make a contribution and continue to work on this. I have looked over the code base a bit but don't understand how https://github.com/argoproj/argo/blob/master/docs/workflow-controller-configmap.yaml is parsed.

[2020-01-08 19:31] simster7 opened #1924 "Add ability to pause and resume CronWorkflows from the CLI"

[2020-01-08 21:50] nfickas commented on #1282
Is there any way to get an Argo Workflow to recognize an automatically injected istio sidecar?

[2020-01-08 22:31] ddseapy commented on #1282
@nfickas is there an issue you are running into with istio sidecars, or what do you mean by "recognize"?  We have been using 2.4.2 with istio sidecars automatically injected without any issues.

[2020-01-08 22:36] ddseapy commented on #1282
For us this issue was resolved here: https://github.com/argoproj/argo/pull/1645

[2020-01-09 00:08] DungLai commented on #1917
Hi @simster7 , thanks for replying, I am running the container using the template, I created my own image that has a python flask server running on it and call that in the argo workflow yaml template.

What I'm trying to do is being able to run a HTTP POST request to the flask server inside the container from host machine.

[2020-01-09 00:52] nfickas commented on #1282
@ddseapy our workflows start up with the automatic sidecars but then the sidecars are stuck in a running state after the workflow completes.

[2020-01-09 02:53] rushtehrani commented on #1923
We also need this for [PodGC](https://github.com/argoproj/argo/blob/02022e4bb36977253ff2e362f844b9596e768102/pkg/apis/workflow/v1alpha1/workflow_types.go#L234).

[2020-01-09 03:48] nfickas commented on #1282
I am seeing some odd behavior on the wait container, looks like it Errored out. `Failed to establish pod watch: Get https://10.100.200.1:443/api/v1/namespaces/default/pods?fieldSelector=metadata.name%3Dhello-world-82bm7&watch=true: dial tcp 10.100.200.1:443: connect: connection refused`

[2020-01-09 06:44] Itfly commented on #1625
@simster7 The issue is resolved in `v2.4.3` if i use global artifiacts. However it still can not resolve artifact without `globalName` field. Here's workflow yaml content:

[code]

[2020-01-09 10:26] andye2004 opened #1927 "Helm3 Upgrade"
EDIT: Wrong repo - apologies!

[2020-01-09 10:52] #1927 closed

[2020-01-09 11:00] rmgpinto opened #1928 "failed to save outputs: invalid configuration: no configuration has been provided"
**What happened**:
When I run `argo submit --namespace argo --serviceaccount argo --watch https://raw.githubusercontent.com/argoproj/argo/master/examples/hello-world.yaml`
I get the error:
[code]

**What you expected to happen**:
The `hello-world` to run successfully.

**How to reproduce it (as minimally and precisely as possible)**:
I've installed `argo` with:
[code]

**Anything else we need to k

[2020-01-09 11:41] NikeNano commented on #1923
I have read more of the code base, and as I understand the [workflow-controller-configmap](https://github.com/argoproj/argo/blob/master/docs/workflow-controller-configmap.yaml) is parsed by the [config_controller](https://github.com/argoproj/argo/blob/master/workflow/controller/config_controller.go).  As I understand the workflowControllerConfig is parsed here:
https://github.com/argoproj/argo/blo

[2020-01-09 12:01] amarrella commented on #1769
I agree this would be great! It would also make it easier to watch on these events to trigger alerts/etc

[2020-01-09 12:43] ptemmer commented on #1805
I had the same error, and it's somewhat misleading. In my case it was the bucket region that was not correct.

[2020-01-09 13:19] amarrella commented on #1769
I can try to help with this but I have never written Go. Any pointers would be appreciated :)

[2020-01-09 14:05] nfickas commented on #1282
I would rather not making any changes to argo code, out of the other two options which one would be easier and do you have any examples of either of those being done?

Just curious did you run into this issue when getting argo working with injected sidecars?

[2020-01-09 14:08] jaygorrell commented on #1282
The easiest thing to do is to just annotate your Argo worfklows so that the auto-injector doesn't add a sidecar to them. Better support is coming in k8s (maybe in 1.8) but it's just not there yet.

Jobs in k8s are the same way... there isn't really anything special about Argo there.

[2020-01-09 14:15] ddseapy commented on #1282
if you don't need sidecar, that is indeed easiest.  We need to control traffic for our applications, so that is not an option for us.  For the workflows we run it was sufficient to exclude the k8s master IP range via `traffic.sidecar.istio.io/excludeOutboundIPRanges`

[2020-01-09 14:16] nfickas commented on #1282
We need sidecars as well, I will try that out. Thanks!

[2020-01-09 14:21] jaygorrell commented on #1282
That's a good point, too. But just to be clear, I do believe that is going to make the pod stay up when the workflow is finished - correct? You may need a separate system to clean those up, I believe. I'm going off memory and could be mistaken.

[2020-01-09 14:21] ddseapy commented on #1282
To state the obvious, requests to k8s api server will then bypass istio.  This was not a security concern for our use-cases, but it could be for someone else.

[2020-01-09 14:22] ddseapy commented on #1282
@jaygorrell that's why I put up the pr.  we have been using 2.4.2 for quite a while now without issues, and the pod goes to completed state.

[2020-01-09 15:34] simster7 commented on #1917
Did you try something like my example above? If so, what about it didn't work? I think that may solve your problem.

[2020-01-09 15:46] simster7 commented on #1928
See if this helps https://github.com/argoproj/argo/issues/838

[2020-01-09 16:57] crabulik commented on #1507
@jessesuen Is there any information about Argoexec support for Windows? Will it be somewhere in the nearest future?

[2020-01-09 19:46] NikeNano commented on #1827
This is resolved and I will therefore close this issue.

[2020-01-09 19:46] #1827 closed

[2020-01-09 23:38] merlintang commented on #1885
@alexec can you review this PR. thanks in advance.

[2020-01-10 00:09] DungLai commented on #1917
hi @simster7 , it works, thank you so much, that's exactly what I'm looking for !!!

[2020-01-10 00:10] #1917 closed

[2020-01-10 15:08] simster7 opened #1931 "Add timezone support to CronWorkflows"
Users have requested timezone support to CronWorkflows

_Originally posted by @evaneaston in https://github.com/argoproj/argo/pull/1758#issuecomment-573045485_

_Originally posted by @rdigiorgio in https://github.com/argoproj/argo/pull/1758#issuecomment-573055151_

[2020-01-10 18:36] sarabala1979 commented on #1918
not supported by CLI commands (/API server, at least in #1882). For example retry and resume workflow functions fetch the workflow directly from K8s API and assume that wf.Status.Nodes are present. I believe this also breaks compressed workflows.
**[Bala]:** Thanks for finding. It was missed.  we can add it v2.5

if there are conflicts when persisting workflow updates, the reapplyUpdate function i

[2020-01-10 18:38] danxmoran opened #1932 "Can't set size of volumeClaimTemplate using a workflow variable"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

Running Argo 2.4.2, trying to use a workflow parameter to set the size of a `volumeClaimTemplate` fails with:
[code]
The workflow is never submitted.

**What you expected to happen**:

I expect the workflow to validate su

[2020-01-10 18:39] danxmoran commented on #1932
It looks to me like this is another instance of #703. #1687 fixed the problem for pod specs, but the volume claim template might have been left out?

[2020-01-10 19:22] sarabala1979 opened #1933 "Missing workflow decompress in retry, resume and resubmit cli commands"
Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
workflow decompress is missing in follow CLI commands.
1. retry
2. resume
3. resubmit

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**

[2020-01-10 19:42] simster7 opened #1935 "CLI: Rework to use `RunE`"
Rework the CLI to use `cobra.RunE` instead of `cobra.Run`. This will provide some benefits such as unit testing for CLI commands, ability to export CLI as a package, etc.

Follow the model used by Argo Rollouts.

[2020-01-10 21:23] #1924 closed

[2020-01-10 22:51] wreed4 opened #1936 "Old version of jq in jqFilter output param"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
jq > 1.5 supports decoding base64 encoded strings.  I want to use this feature to read secrets that are _outside_ of the namespace in which I run my workflow.  When attempting to use the feature I get
[code]
which is the e

[2020-01-10 23:01] salanki commented on #1876
I am also having this issue. Upgraded to 2.4.3 to fix the issues that #1744 addresses.

[2020-01-10 23:26] mark9white commented on #1918
I agree that if the issues are fixed then the feature should be kept,
however I didn't describe the race condition clearly.

What I meant is that if two instances of the persistUpdates function in
operator.go are operating at the same time against a single workflow, then
you could end up with the database and the k8s API getting out of sync with
each other. Imagine the following steps:
1) in gorou

[2020-01-11 00:31] whynowy opened #1938 "Proposal: Enhance settings for namespace mode installation"
# Summary

- Deprecate `namespace` setting in configmap
- Add optional `--namespace-mode` in `workflow-controller` start args
- Add optional `--namespace` in `workflow-controller` start args to support specifying a namespace for `workflow-controller` to listen to

# Motivation

For most of the cases of namespace mode installation, it's redundant to set up the namespace in the configmap, unless peo

[2020-01-11 17:42] TekTimmy commented on #1602
I still have this problem with 2.4.3 ='|

[2020-01-12 10:05] NikeNano commented on #1923
@simster7  do you have some feedback on this? :)

[2020-01-12 10:36] TekTimmy commented on #1602
As mentioned in the comments of commit 772ce6da9da2a8fdb5966cae64c0f67d940e297c AWS seems to create files when you create bucket folders via the AWS console. To fix my problem I had to delete the whole folder structure, create it desired structure locally ans use `aws sync` to upload it.

[2020-01-13 10:10] rahuly1516 opened #1940 "Failed to parse workflow: error unmarshaling JSON: while decoding JSON: json: unknown field "backoff""
Hi,

I am trying a restart strategy wherein I am trying to rerun(retry) my workflow at an interval of 5 mins for couple of time.  When I submit my argo workflow I get error :
Failed to parse workflow: error unmarshaling JSON: while decoding JSON: json: unknown field "backoff"

On the slack couple of people have asked to check format as when code is copied to the editor they can see tab. So I re-cr

[2020-01-13 10:11] Arkanayan opened #1941 "archiveLogs not saving stack-trace when pod fails"
Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
When archieveLogs is set, argo saves the logs of the pod as "main-logs" in artifact store. But in cases where the pod is exiting with non-zero status. The logs doesn't contain the stack-trace.

**What you expected to happe

[2020-01-13 11:06] dtaniwaki commented on #1864
I tried the example above without workflow templates as below and I can reproduce the same issue.

[code]

Here's the result.

[code]

I tried it without empty output with the following diff on my manifest.

[code]

And it succeeded.

[code]

Although this is not a workflow-template-related issue, I'm happy to fix it as I started the investigation.

[2020-01-13 15:02] simster7 commented on #1940
Hi @rahuly1516, `backoff` has not been released yet, it is expected to be released this Wednesday the 15th with the `v2.5` pre-release. Keep an eye out!

[2020-01-13 16:55] janhicken commented on #1928
I am experiencing the same error. #838 does not help, as this is an issue with the CLI itself. The error shown here happens after the workflow has been submitted to Kubernetes successfully using the CLI. The workflow controller schedules the pod but the wait container fails as shown.

[2020-01-13 17:14] janhicken commented on #1928
Actually, it worked for me now, after setting `automountServiceAccountToken` to `true` for the pod's service account

[2020-01-13 19:23] simster7 commented on #1923
We would have to go with option 1. However, we would also need to come up with a spec of how to declare default options on the config map. Do you have any ideas/suggestions for this?

[2020-01-13 19:58] alexec opened #1942 "Make clean should remove images"
Enhance ‘make clean’ to remove images.

[2020-01-13 20:10] Syps opened #1943 "CronWorkflow Controller Attempts to List Resources at Cluster Level instead of Namespace Level"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
The new cron workflow controller queries the kube api for workflows and cronworkflows at the cluster level, even if a namespace is specified in the workflow controller's configmap.

**What you expected to happen**:

Accord

[2020-01-13 20:47] simster7 commented on #1943
This is already fixed on the `apiserverimpl` branch, which should get merged in today

[2020-01-13 20:47] #1943 closed

[2020-01-13 20:49] simster7 commented on #1943
https://github.com/argoproj/argo/blob/51dcb1ce50b19733622fb094ccc60b76d9be2784/workflow/cron/controller.go#L70-L73

[2020-01-13 21:13] simster7 commented on #1913
What sort of condition would `{success, failure}Condition` use to determine if the issue is caused by resource quotas?

I think this falls in the domain of `retryStrategy` although I agree it might be a bit off, because this is technically a failure while scheduling, and not a failure of the pod. Any ideas for what would be a good change to `retryStrategy` to alleviate this?

[2020-01-13 21:46] alexec opened #1944 "Offload node status should use resourceVersion/generation"
This feature should make better attempts at data consistency. Maybe we can use `resourceVersion` or `generation`?

	// be used by clients to determine when objects have changed. May be used for optimistic
	// concurrency, change detection, and the watch operation on a resource or set of resources.
	// Clients must treat these values as opaque and passed unmodified back to the server.
	// They may

[2020-01-13 21:50] alexec opened #1945 "MySQL support for offload node status"
The code for this is in place, but not tested. Run the tests using MySQL. You will most likely find `migrate.go` does not work.

[2020-01-13 21:55] alexec opened #1946 "Set MAX_WORKFLOW_SIZE for e2e tests"
We can forcibly enable offloading of node status by patching the workflow controller to have

[code]

This will help identify bugs in this feature.

[2020-01-13 22:05] simster7 opened #1947 "Move server code out of cmd/ folder"
The `cmd/` folder should only have CLI code, but currently it contains all of the server code. Let's move the server code to its own folder

[2020-01-13 22:09] simster7 opened #1948 "Rsync config always returns an error"
Investigate and resolve this TODO:

https://github.com/argoproj/argo/blob/bbbadcba114a47d0fe441fb1e1b255559d4ee0a2/cmd/server/apiserver/argoserver.go#L95

[2020-01-13 22:11] alexec opened #1949 "TODO - we should not put the token in the URL - OSWAP obvs"
in `artifact_server.go` line 94 we should not get the token from the URL query parameter because this would appear in HTTP access logs and is a security risk.

We can use a cookie instead, but only if the bearer token in under 4KB in size.

Alternatively, can we create a GPRC endpoint somehow?

[2020-01-13 22:12] alexec opened #1950 "TestServer_GetWFClient"
TestServer_GetWFClient has some skipped tests. Should we fix them? Or delete them if they are invalid tests.

[2020-01-13 22:13] sarabala1979 opened #1951 "Epic: Create ArgoCli interface and refactor the Argo cli code to support k8s API and Argo API"
I keep seeing this pattern of

[code]

This really tells me that we need an official Argo client which is interfaced and can switch between K8s API server vs. Argo API server, and abstracted away from the CLI.

# Tasks

* [x] archive/delete.go
* [x] archive/get.go
* [x] archive/list.go

[2020-01-13 22:13] alexec opened #1952 "ARGO_NAMESPACE appears to be unused"
Remove ARGO_NAMESPACE.

[2020-01-13 22:15] alexec opened #1953 "Create smoke and complete API tests for workflow templates"
Look for `TODO templates - but we also need templates tests`.

We also need an API template for UpdateWorkflowTemplate.

[2020-01-13 22:16] alexec opened #1954 "Write tests for permissions"
Argo Server introduces endpoints. We need tests to make sure we cannot read/write to namespaces we are not allowed to.

[2020-01-13 22:18] alexec opened #1955 "Fix UI TODOs"
Fix all remaining TODOs in UI.

[2020-01-13 22:23] sarabala1979 opened #1956 "Enhance cron cli commands to send request to argo api server."
Currently, Cron cli commands are interacting with k8s APIs. it has to be enhanced to interact with Argo API server like other commands.

[2020-01-13 22:26] alexec opened #1957 "Test the various different K8S providers"
Install and test bearer token with:

* Minikbue
* Docker Desktop
* GCP
* IKS

[2020-01-13 22:35] alexec opened #1958 "Dockerfile"
We need two docker files - one for dev and one for production.

[2020-01-13 22:54] sarabala1979 commented on #1957
Approach :
1. Create an environment
2. Run `make start`
3. Run ` make test`
4. Run ` make test-e2e`

[2020-01-13 23:10] alexec opened #1959 "Replace FORCE_NAMESPACE with NAMESPACED/WATCHED_NAMESPACE"

[2020-01-13 23:44] simster7 commented on #1931
Update: I've come up with a design to add timezone support and will implement it after the upcoming API Server release

[2020-01-13 23:48] simster7 opened #1960 "Fix TestFastFailOnPodTermination"
Test fails due to using a service account with insufficient permissions, skipping for now

`pods is forbidden: User "system:serviceaccount:argo:default" cannot list resource "pods" in API group "" in the namespace "argo"`

https://github.com/argoproj/argo/blob/690e05a39934fc8cae3f5cfad44d7beb61815278/test/e2e/functional_test.go#L77-L80

[2020-01-14 00:00] simster7 opened #1961 "Add E2E WorkflowTemplate tests"
Will need to add infrastructure to e2e fixture as well

[2020-01-14 01:25] #1958 closed

[2020-01-14 01:25] #1942 closed

[2020-01-14 01:29] #1874 closed

[2020-01-14 02:12] dtaniwaki commented on #1876
I can't see this issue in the branch of #1920.

[2020-01-14 09:26] NikeNano commented on #1923
Cool, thanks for the feedback @simster7.

- Why option 1? It feels like it should be more general if we updated the workflow in one place instead? Then also it could be handled for other default settings instead of adding in the controllers?

- For the config map I found a similar example for the https://github.com/argoproj/argo/blob/c51c1302f48cec5b9c6009b9b7e50962d338c679/docs/workflow-controlle

[2020-01-14 09:27] NikeNano commented on #1923
I it is fine that I start to work on it, could you please assign me to the issue?

[2020-01-14 09:52] rahuly1516 commented on #1940
Thanks @simster7 ... I was looking to contact you to get this information. Good to see your reply

[2020-01-14 09:57] xiaogaozi commented on #1620
Anyone could help address this issue?

[2020-01-14 12:28] antoniomo commented on #944
While the goal to execute faster is part of it, it also involves better resource usage and the ability to use Argo as a generic ETL/Data/ML workflow engine. Some workflows might be really costly in time and money, say workflows that require GPU and big CPU/RAM requirements, and might take several hours to compute.

[2020-01-14 14:38] danxmoran commented on #859
Re: Making it optional, it looks like that won't be possible if/when the CRDs update from `apiextensions.k8s.io/v1beta1` to `apiextensions.k8s.io/v1`. I'm not sure if it's feasible to keep using the beta API version forever (some version of k8s will drop support for it eventually? not sure)

[2020-01-14 15:18] rdigiorgio commented on #1931
Hey @simster7 , am I right thinking this is quite easy to implement ? Being more and more involved into K8S stuff, I am willing to get my hands dirty with some work using Golang, and why not this feature implementation. What do you think about it ?

If you agree, I would be glad to hear about the design you came up with.

[2020-01-14 15:36] simster7 commented on #1931
Sure! New contributors are always welcome. The design is simple:

The library we use to dispatch `cron` events already has in-line timezone support by prepending a `CRON_TZ` env variable before the schedule, e.g. `"CRON_TZ=Asia/Tokyo 0 6 * * *"`. This technically means that timezone support is actually available now if users would just prepend their schedule string with `CRON_TZ`. However, since w

[2020-01-14 15:39] simster7 opened #1963 "Add CLI command to run a CronWorkflow on demand"
E.g. `argo cron run cron-wf-1`. This will allow users to run CronWorkflows on demand and out of schedule.

Note: Since the `cron` CLI currently only manipulates `CronWorkflow` resources, we may not want to use it to submit a Workflow directly.

Options to implement this:

1. Use `argo cron run cron-wf-1`. Implement by `Get`ing the CronWorkflow resource, converting it to a Workflow object and calli

[2020-01-14 16:33] alexec opened #1966 "`argo server`"
We need to run `argo server` to start the server.

[2020-01-14 17:06] alexec opened #1968 "Add support for JSON and YAML output to `argo template get/list` commands"
[code]

[2020-01-14 17:08] tcolgate opened #1969 "Duplicate volumes when using input artifacts"
Version: 2.4.3 (likely anything > 2.3)

When using a git private key via an input artifact secret reference, argo adds an additional volume named after the secret being referenced. If a volume with that name already exists, then the resulting pods are invalid.

Ideally this work work, either by reusing the existing volume, or using a private, non-colliding, name for the mount added by the controll

[2020-01-14 17:22] alexec opened #1970 "Code Coverage"
This should be reported in the PRs. Why isn't it?

[2020-01-14 17:23] alexec opened #1971 "Lint test files"
We don't appear to be linting test files. Why not? Please fix.

[2020-01-14 17:38] #1936 closed

[2020-01-14 17:51] Syps opened #1973 "Cron operator does not submit workflows using desired service account"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

Cron operator submits workflows using default service account.

**What you expected to happen**:

Operator should use the service account specified in the workflow controller deployment or perhaps in the cronworkflow mani

[2020-01-14 17:58] simster7 commented on #1973
I'll take a look at this. Are you using `kubectl` or `argo cron` here to submit/get CronWorkflows? Could you add some CLI steps to reproduce this please?

[2020-01-14 18:01] simster7 commented on #1928
Closing this, feel free to reopen if necesary

[2020-01-14 18:01] #1928 closed

[2020-01-14 18:03] simster7 commented on #1938
#1939 Merged

[2020-01-14 18:03] #1938 closed

[2020-01-14 18:03] simster7 commented on #1940
Closing this, feel free to reopen if necessary

[2020-01-14 18:03] #1940 closed

[2020-01-14 18:05] Syps commented on #1973
Using kubectl. I've included steps in the Issue description - let me know if I can provide any more details. (I have a different service account specified in my workflow-controller deployment manifest)

[2020-01-14 18:16] sarabala1979 opened #1975 "Add Suspend and Resume for Cronworkflow in UI"
Provide the Suspend and Resume functionality in Cronworkflow UI

[2020-01-14 18:34] #1933 closed

[2020-01-14 18:35] simster7 commented on #1973
Hmm, I am not able to reproduce this issue. How did you install your build? Did you make sure to `kubectl apply` the new manifests files? Those contain all the resources that set up the RBAC permissions.

[2020-01-14 18:36] simster7 commented on #1975
Is there an API endpoint for these already?

[2020-01-14 18:36] sarabala1979 opened #1976 "V2 Token is failed in Argo cli"
Argo cli is failed with `FATA[0000] invalid token version`

[2020-01-14 19:26] Syps commented on #1973
I cherry-picked the new CronWorkflow CRD and associated role bindings; however, the logs show the default service account being used, and from the code it also appears that no service account is passed when submitting the workflow (https://github.com/argoproj/argo/blob/master/workflow/cron/operator.go#L54) - is there a way to specify the SA to be used, similar to when submitting a workflow with th

[2020-01-14 20:21] simster7 commented on #1973
Gotcha.

Currently you can't from the CLI, but this will definitely be added.

However you _should_ be able to specify which `ServiceAccount` to use by using [`WorkflowSpec.ServiceAccountName`](https://github.com/argoproj/argo/blob/f69655a09c82236d91703fbce2ee1a07fc3641be/pkg/apis/workflow/v1alpha1/workflow_types.go#L133) and [`WorkflowSpec.Executor.ServiceAccountName`](https://github.com/argoproj

[2020-01-14 22:17] simster7 commented on #1931
@rdigiorgio Sorry, I had to take over this PR since I realized that more involved changes would be needed (such as adding timezone binaries to our images). If you're still interested in contributing feel free to checkout our [help wanted](https://github.com/argoproj/argo/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22) and [good first issue](https://github.com/argoproj/argo/issues?q=is%3Ao

[2020-01-15 02:56] jessesuen opened #1980 "Interfaced Argo API / K8s API workflow client library"
# Summary

The CLI code is **not** DRY. I see the following all over the place:

[code]

This really is an indication that the client needs to be interfaced and abstracted away from the CLI code

# Motivation

There is a lot of repeated code, which is unmaintainable.
Consumers will be able to benefit from a client library which can interact with either K8s or Argo API interchangeably.

# Proposal

[2020-01-15 03:08] jessesuen opened #1981 "Listing archived workflows API is inconsistent/sensitive to DB order"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

See comment:
https://github.com/argoproj/argo/pull/1882#discussion_r366667753

If I request to list archived workflows with a small page size (lets say size 1), and the first workflow in the list, happens to be in a names

[2020-01-15 03:29] jessesuen opened #1982 "All proto requests should use name and not resourceNameName"
Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

See the following proto messge:

[code]

In the above example request, we have `cronWorkflowName` and `namespace`. It really should be `name` and `namespace`, since the resource type is implied by the message type, `GetCr

[2020-01-15 04:39] fabio-rigato commented on #1012
any update on this guys? =)

[2020-01-15 08:29] rdigiorgio commented on #1931
Ok @simster7 , I started working on it, but I do not think it will help you much making a PR for you to see the changes as it really was simple

[2020-01-15 09:42] fscnick opened #1983 "Import Argo client library but build failed."
# Summary

Tried to utilize client library reference `example/example-golang` to fulfill our need. But build failed. Is something I did wrong? The snippet is from `go.mod`

[code]

# Motivation

At the first, I encountered:
[code]

I googled and follows https://github.com/kubernetes/client-go/issues/584#issuecomment-483214397

Use `go get k8s.io/client-go@master` to upgrade `client-go`

After that

[2020-01-15 10:13] rdigiorgio commented on #1773
@cloud-on-prem are you still working on it ?

[2020-01-15 10:39] cloud-on-prem commented on #1773
@rdigiorgio - sorry this fell off my radar. I did some initial digging around but haven't been to find time to get it work properly. Are you planning on picking this up? Feel free to do so.

[2020-01-15 14:08] Syps commented on #1973
using `WorkflowSpec.ServiceAccountName` and `WorkflowSpec.Executor.ServiceAccountName` did the trick! Thanks for your help @simster7 !

[2020-01-15 15:50] vboulineau opened #1984 "Unable to submit workflow due to validation done on variables taken from inputs"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
Upgrading from v2.1.1 -> v2.4.3, we are not able to submit our workflow anymore, due to the added checks in the `workflow/validate/validate.go` and because we use input values as value to these fields.

Debugging, I see th

[2020-01-15 16:07] mildewey commented on #1098
How do we do this now that 2.4 is released? It's not in the docs?

[2020-01-15 16:51] simster7 commented on #1973
Glad I could help!

[2020-01-15 16:51] #1973 closed

[2020-01-15 18:49] alexec opened #1985 "Community Meetings"
* [x] Create new community meeting Google doc.
* [x] Add 15th Jan 2020 meeting to doc.
* [x] Create bit.ly link.
* [x] Update community folder.
* [x] Archive old docs (e.g. https://github.com/argoproj/argo-site/wiki/ArgoProj-Community-Meetings)

@edlee2121 @mukulikak

[2020-01-15 18:57] #1331 closed

[2020-01-15 19:05] #1985 closed

[2020-01-15 19:44] alexec opened #1990 "Put quick start manifests into Git"
Currently, these manifests are not in Git. This means we must remember to attach them to the release.

[2020-01-15 21:28] #1952 closed

[2020-01-15 21:47] #1955 closed

[2020-01-15 21:47] #1953 closed

[2020-01-15 22:10] #1966 closed

[2020-01-16 01:31] jared-dtg commented on #794
+1 to this proposal -- would be great for debugging and probably lots of over clever situations

[2020-01-16 01:47] alexec commented on #1975
No endpoints as of today.

[2020-01-16 01:48] alexec commented on #1982
This is across all proto files, so probably just copy-and-paste. Should be easy to change.

[2020-01-16 02:22] simster7 opened #1994 "Introduce exit handler vairable to be filled with the name and output of step failed"
# Summary

Introduce exit handler vairable to be filled with the name and output of step failed

# Motivation

As suggested on Slack:

# Proposal

Introduce exit handler vairable to be filled with the name and output of step failed

---
**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know wha

[2020-01-16 02:30] #1931 closed

[2020-01-16 05:53] sarabala1979 opened #1997 "Refactoring Auth implementation to support single token format"
Refactor the v0, v1 and v2 token support to single bearer token format.

[2020-01-16 07:34] fscnick commented on #1983
I referenced `Gopkg.lock` to specify `go mod` to download exact version mentioned in the file. It seems passed but now I got stuck at
[code]

It had mismatched function arguments with our imports, we use v1.0.0. Instruct `go mod` to download old version seems useless, it would fresh to v1.0.0.

By the way, I change to master branch.

[2020-01-16 08:27] nicorikken commented on #1635
To me this looks more like a bug than a feature request. Go is trying to parse the JSON string, but there is no reason for doing so. Or perhaps the string is incorrectly formatted regarding escaping.

I think Argo Workflow should be capable of taking a structured string, and pass it to a step. I assume you were thinking of using a preprocessing step to deconstruct the JSON structure into individua

[2020-01-16 08:41] nicorikken opened #1999 "UI for providing input parameters to a (templated) workflow"
# Summary

The main reason we are considering Kubeflow is the UI which has a user-friendly way of providing run parameters. With the arrival of WorkflowTemplates in v2.5 it seems that Argo is close to a similar user-experience and I think it might be worthwhile to have a similar feature in 'plain' Argo Workflow.

# Motivation

We use Argo Workflow for simulations and machine learning. Experimentin

[2020-01-16 11:26] clementlecorre commented on #1983
I have exactly the same problem (`argo@v2.4.3`). How do I fix it?
(I have the same mistake with `master`)

[2020-01-16 15:01] fscnick commented on #1983
Finally, I took a workaround. The grpc client is what I wants, so copy the code related to grpc and it worked.

[2020-01-16 15:05] danxmoran opened #2000 "Ability to only archive workflows in a certain state"
# Summary

Based on the community meeting and the example manifests [here](https://github.com/argoproj/argo/blob/master/manifests/quick-start/postgres/overlays/workflow-controller-configmap.yaml#L21), it sounds like workflows will be auto-archived if they enter any terminal state. I think it'd be more valuable to have a configurable list of workflow states that trigger the auto-archive.

# Motivat

[2020-01-16 15:07] danxmoran opened #2001 "Auto-delete workflows on archive"
# Summary

During the community meeting, I believe something was mentioned like "once a workflow is archived, you can go in and delete it". I think it'd be nice to have a config toggle that makes the behavior automatic.

# Motivation

My workflows generate ~large persistent volumes, with ownership set so the volumes get deleted when the workflow is deleted. It'd be ideal if I could configure the A

[2020-01-16 15:52] #1387 closed

[2020-01-16 15:52] ptemmer commented on #1387
works in latest Argo versions

[2020-01-16 16:15] simster7 commented on #1999
I'll work on a PoC of this today

[2020-01-16 16:16] simster7 commented on #2000
cc @alexec

[2020-01-16 16:16] simster7 commented on #2001
cc @alexec

[2020-01-16 16:20] clementlecorre commented on #1983
Finally, I've also found a solution which works...

[code]

[2020-01-16 17:46] alexec commented on #2001
@jessesuen can this be done using TTL?

[2020-01-16 19:20] alexec opened #2002 "Argo Workflows SDKs"
We should provide SDKs, and like MinIO print out where to find them on start-up:

[code]

See also:

* Argo Python SDK: https://github.com/argoproj/argo/issues/1786
* Argo Java SDK: https://github.com/argoproj/argo/issues/1731

[2020-01-16 19:21] #1990 closed

[2020-01-16 22:01] jessesuen opened #2004 "Argo server should support controller instance ids"
# Summary

The workflow controller has a feature in which it can be configured with an "instance ID", which means it only operates on workflows with a specific label. The purpose of this feature is to allow multiple controllers to run in the same cluster, but sharded with a specific purpose (testing vs. ML), using different artifact repositories, etc....

Since the Argo API server is so closely ti

[2020-01-16 22:38] jessesuen opened #2005 "Use instance IDs in e2e testing"
# Summary

e2e testing is currently done using a namespace. We could use use instance IDs instead

# Motivation

This would give us instance id testing for free, and also allow use to share a namespace for e2e testing.

# Proposal

workflows would be submitted using instance id and controller/api server would be configured to use it.

[2020-01-16 23:09] jessesuen commented on #2001
Yes, this can be done using the `spec.ttlStrategy` feature in v2.5, or `spec.ttlTimeAfterFinished` prior to v2.5.

That said, I think there might be a feature in here where the controller could be configured with a "default" ttlStrategy so that all workflows fall back to (if not specified in the spec). In this case, workflows which wish to *not* auto-delete is could be specified as:

[code]

[2020-01-16 23:23] simster7 commented on #1923
@NikeNano Sorry, we've been rather busy with the upcoming 2.5 RC launch. I feel like we will need to have an internal discussion about this feature, which is not likely to happen until we ship the 2.5 RC launch.

However, feel free to make a proof of concept for this however you'd think it's best... if it's good it might drive our discussion in its favor. Just know that if you get started on this

[2020-01-17 00:03] #1976 closed

[2020-01-17 01:08] jessesuen opened #2007 "Workflow templates should be submittable"
# Summary

Currently, WorkflowTemplates only acts as a reusable component library whose `spec.templates` can be referenced from Workflow definitions.

By themselves, WorkflowTemplates are not submittable. This is because WorkflowTemplates are missing key information necessary to submit it (namely `entrypoint`, but also other relevant items such as `serviceAccount`). A large and common use case (wh

[2020-01-17 01:53] danxmoran commented on #2007
@jessesuen it sounds like you picture an either/or scenario where the template is either a full workflow OR a reference-able component. Do you think the implementation of this would support the and/or scenario of templates which could be runnable on their own, but which also make sense to embed as a component in another workflow?

#1747 is a concrete use-case for what I’m asking about. If this fea

[2020-01-17 08:00] dtaniwaki opened #2010 "Make is broken"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

I can't build a controller by make command. I can't execute make commands with other targets either.

[code]

I investigated the issue and the following code of `Makefile` is problematic.

[code]

Because my `GOPATH` is `

[2020-01-17 08:13] dtaniwaki commented on #2007
Thank you for raising new idea.

I agree with this, but I'm still not sure about the expected behavior. Do you think workflow-template-global settings should be propagated? In other words, does it affect outside of a workflow template?

Another consideration is, if a `WorkflowTemplate` has the same spec as `Workflow`, There's no need to have `WorkflowTemplate` but we can just make `Workflow` refer

[2020-01-17 09:48] ptemmer commented on #1984
+1

[2020-01-17 10:17] devlounge commented on #1376
Hi,

We need a fix for this, because this makes it annoying to use in corporate air-tight environments.

[2020-01-17 12:10] amarrella commented on #2007
Hi, I think this is a good idea and would be very useful!

Will with this proposal `Workflow` be able to reference a `WorkflowTemplate`by name instead of just inlining (same for argo events eventually)? If yes this would be great!

[2020-01-17 13:46] devlounge opened #2011 "Private github enterprise with git artifact"
# Summary
How to prove a private CA cert to talk to self hosted GitHub enterprise?

# Motivation

I need to be able to clone repos hosted in a private github enterprise, but how to mount the CA cert to communicate with it when using the gut artifact feature?

[2020-01-17 14:19] devlounge commented on #2011
It looks to me that what is cloning the git repo is the argoexec init container.
I have no way to mount the volume containing the CA cert as the container is injected dynamically by argo.
What do you suggest.

[2020-01-17 14:36] ecurtin2 commented on #2007
I think this would be very nice for development/testing of workflow components in isolation

[2020-01-17 15:04] devlounge commented on #2011
I solved the issue by injecting the ssl certs via PodPreset

[2020-01-17 15:40] sarabala1979 opened #2012 "UI should take to login page if response is unauthorized or token is invalid"
# Summary
Argo Server UI is keep showing the error page if UI gets an unauthorized response from the server.

What change you think needs making.
UI should show the login page with an error message or Error page should have login page link

# Motivation
The token is cached in the browser. if token changed or accessing the different servers. UI should show the login page to update the token

[2020-01-17 15:54] samath117 commented on #2007
Why not just make Workflows savable to the cloud in the same way as WorkflowTemplates? I'm envisioning an `argo workflow ...` API analogous to the current `argo template ...` API.

This way, you wouldn't need to change the file specs or have two different notions of WorkflowTemplates.

[2020-01-17 16:30] simster7 commented on #1984
Will take a look at this

[2020-01-17 18:16] alexec commented on #2010
Any thoughts on how to fix this please?

[2020-01-17 18:17] alexec commented on #1376
Would you like to submit a PR to fix this?

[2020-01-17 22:15] alexec opened #2015 "UI gives 403 Forbidden rather than correctly using managed namespace"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

I open the UI and it redirected to http://localhost:2746/workflows/?namespace=argo, but I get "forbidden" error.

**What you expected to happen**:

It should actually redirect to managed namespace.

**How to reproduce it

[2020-01-18 02:07] jessesuen opened #2016 "Our Makefile is dangerous"
**What happened**:

Our Makefile does some pretty intrusive things such as installing manifests, scaling up and down services, and deleting untracked files in the git repo, with the assumption that the current kubeconfig is pointing to a cluster which is safe for development purposes.

This is *not* always a safe assumption, **especially** when the development namespace we are manipulating is the

[2020-01-18 02:37] jessesuen commented on #2007
@sarabala1979 had the same suggestion and here were my counter points:

1. Workflows vs. WorkflowTemplates require different RBAC. The former causes resources to be used in the cluster. Furthermore workflows may contain sensitive information in the actual payloads themselves (e.g. locations of s3 artifacts, IDs, etc...).

By having different resource kinds, it supports the ability to grant differe

[2020-01-18 02:42] jessesuen commented on #1747
Resource templates [can have output parameters](https://github.com/argoproj/argo/blob/master/examples/k8s-jobs.yaml#L50).
The resource template which creates the PVC should make the name of the PVC as an output parameter, which is then used as an input parameter to the step which wants to use it.

[2020-01-18 02:49] jessesuen commented on #2007
Yes, in this proposal, WorkflowTemplates is not an either/or in terms of wether or not they are referenceable or not. It can be both. Even if a WorkflowTemplate is fully defined and submittable, it could still have its templates referenceable as a component from another Workflow or WorkflowTemplate.

I think your use-case is achievable today. I posted a solution: https://github.com/argoproj/argo/i

[2020-01-18 02:51] jessesuen commented on #2007
Actually, I think what we have today is close to what you are looking for:
https://github.com/argoproj/argo/blob/master/examples/workflow-template/hello-world.yaml

[2020-01-18 05:50] TrevorNodeJS opened #2017 "CronWorkflow does not work on current master branch"
Checklist:

 * [Y ] I've included the version.
 * [ Y] I've included reproduction steps.
 * [ Y] I've included the workflow YAML.
 * [ Y] I've included the logs.

**What happened**:
set up dev environment by following [CONTRIBUTING.md](https://github.com/argoproj/argo/blob/master/docs/CONTRIBUTING.md)

[code]

[code]
cron workflow is not started, LAST RUN is N/A
[code]

I cannot get any useful log

[2020-01-18 06:40] samath117 commented on #2007
I think my main objection is just to the naming. I would like to have Workflows whose definition is on the cluster, with their own WorkflowTemplate-like API and distinct RBAC, but I just think they should be a third type of object, not a redefinition of WorkflowTemplate.

Could we, at least in discussing the idea, call them something like RemoteWorkflows instead?

This is exactly why WorkflowTempl

[2020-01-18 14:06] zoux86 opened #2018 "【setup local dev environment error】"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
i followed the CONTRIBUTING.md to  setup my dev environment。
![image](https://user-images.githubusercontent.com/14087435/72664752-8d391a80-3a3c-11ea-8d1b-af8cc2dd31d1.png)

i built "myrep:workflow-controller:v1" image, and

[2020-01-18 18:19] alexec commented on #2018
No sure what you're doing, but the 'cluster scope' error is typically due to using different args. Can you check you're using the args as specified in `dist/postgres.yaml`?

[2020-01-18 18:21] alexec commented on #2016
Short-term - what about adding a check to make sure you cluster is localhost?
Mid-term - we could use a different namespace (e.g. `argo-dev`).

[2020-01-18 21:51] danxmoran commented on #1747
@jessesuen getting the PVC name isn't tough, but I'm not sure how to use it in downstream steps. I'm trying to do something like this:
[code]
But that results in errors like `volume 'mid-workflow-pvc-pnz7s' not found in workflow spec`.

My current best guess at a workaround is to use `podSpecPatch` to inject all the configuration needed to mount the generated PVC into the `main` container of every

[2020-01-18 22:00] sarabala1979 opened #2020 "Support basic Authentication in Argo CLI to API Server"
# Summary
Argo CLI  should support Basic username and password auth with API server.

[2020-01-19 07:18] zoux86 commented on #2018
@alexec how to check？i can't find  dist/postgres.yaml?  In dist directory，there is only workflow-controller-linux-amd64 file.

I install argo by these command:
[code]
it wroks。but when i replaced the image, it failed。

[2020-01-19 09:48] dorsany commented on #1880
Hi @alexec , Can you please review this issue?
I can create a PR to fix this by ignore the `managed fields` key or increase the `max depth` , but I need your guide of how do you want to implement the solution

[2020-01-19 22:26] alexec commented on #2018
Try ‘make install’. Bear in mind, these instructions are for Argo developers. If you just want to install Argo, then you should just apply the manifests.

[2020-01-20 02:17] #1983 closed

[2020-01-20 21:11] HumairAK opened #2022 "Consecutive workflow deployments using different exec images."
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
When I deploy the same workflow multiple times, it is not always the case that the same argoproj/argoexec image is used for the executor.

**What you expected to happen**:
I expect the workflow to always use argoproj/argoe

[2020-01-21 02:09] fabio-rigato commented on #1427
Hi guys!
any updates about that?
Thank you for your effort.

[2020-01-21 07:06] TrevorNodeJS commented on #2017
[code]

by using these commands, i can use latest feature, cronworkflow works fine.

[2020-01-21 07:06] #2017 closed

[2020-01-21 16:31] simster7 commented on #1984
Hi @vboulineau, thanks for this excellent bug report! I saw your patch and it looks good to me. Would you like to open a PR with your changes?

[2020-01-21 17:06] samath117 opened #2026 "Input artifacts should allow for defaults"
# Summary

Just like how input parameters allow for default values, input artifacts should allow for defaults which can be overridden by the instantiation.

# Motivation

The same as default input parameters. In my use case, I want to provide a default configuration file in the template but allow it to be overridden if necessary.

# Proposal

The notation should be the same as default input parame

[2020-01-21 17:17] simster7 commented on #2026
Hmm seems like a reasonable request (@jessesuen any thoughts?). Would you be interested in submitting a PR? Seems like `ProcessArgs` in `common/util.go` needs to be modified for this

[2020-01-21 17:36] samath117 commented on #2026
Sadly, I'm just an Argo user, not a developer. Glad it seems reasonable, though!

[2020-01-21 17:38] simster7 commented on #2026
No worries! We'll open this up for a community contribution, then :)

[2020-01-21 22:53] sarabala1979 opened #2027 "Support --token option for Argo API Server"
# Summary
`Argocli` should consider the `--token` flag to pass the token to API Server Authentication.

[2020-01-21 23:15] vboulineau commented on #1984
Here you go: https://github.com/argoproj/argo/pull/2028

[2020-01-21 23:40] #1971 closed

[2020-01-22 01:18] #1944 closed

[2020-01-22 05:00] kabilan6 opened #2031 "Argo Workflow setup on windows"
can someone please share the setup steps to install Argo workflow on local windows machine ?

[2020-01-22 16:35] #1984 closed

[2020-01-22 16:39] vboulineau commented on #1984
@simster7 Thank your for the merge. I don't how your releases work, can we expect to have a patch release on 2.4 with the fix, or will it be for 2.5?

[2020-01-22 16:55] #1769 closed

[2020-01-22 16:58] simster7 commented on #2031
How are you running Kubernetes on your windows machine? Our Argo CLI binaries are currently unix-only, but you could still communicate with Argo using the new API server, or running the CLI in a docker container

[2020-01-22 17:15] kabilan6 commented on #2031
installed kubernetes in local machine with steps mentioned here(using Minikube) - https://kubernetes.io/docs/setup/learning-environment/minikube/.

[2020-01-22 17:17] simster7 commented on #1984
This will be on `v2.5-rc1` which is expected to be released today

[2020-01-22 20:05] alexec commented on #2002
* https://github.com/argoproj-labs/argo-python-sdk

[2020-01-22 20:35] alexec commented on #2002
We can generate SDKs for many languages from Swagger. We can also generate a few (5?) from protoc.

[2020-01-22 20:38] #1945 closed

[2020-01-22 21:20] simster7 opened #2037 "Refine instanceId support for CronWorkflows"
Add `instanceId` field to `CronWorkflow` spec and ensure that the cron controller only listens for Workflows with the applicable `instanceId`

[2020-01-22 21:49] #2015 closed

[2020-01-22 22:20] ptemmer commented on #1770
I'm seeing something similar. The DAG itself is marked as "ERROR", while it's tasks have the green check and finished fine.
Interesting to mention is that the workflow stops at that point as if it finished, although there are much more tasks after the DAG.
Without "retryStrategy", the all tasks get executed as expected.

[2020-01-23 00:33] fabio-rigato opened #2039 "Is it possible to use a different nodeSelector at retryStrategy attempts failure?"
# Summary

First of all thanks a lot for this awesome project.

# Motivation

I'm wondering if is possible to use a different node after all failure retries defined in the retryStrategy field.
Basically I used to try N times with a preemptible node (defined in nodeSelector) and I would love to run the same steps in a not-preemptible node if all the N attempts will fail.

Thanks so much for your ef

[2020-01-23 12:48] audriusrudalevicius commented on #1130
Im still getting persistentvolumeclaims "ml-work-bbwhv-workdir-1" already exists 1/10 time when i run my workflow.

What i want is to predownload files before processing them, do it in parallel

[code]

Pvc:
[code]

Kubernetes version:
[code]

Argo version:
argoproj/workflow-controller:v2.4.3

Controller logs:
[code]

Workflow:
[code]

[2020-01-23 13:30] maryoush opened #2042 "Multiteam collaboration support"
# Summary

Was wondering about potential capabilities or mitigations of ArgoWorkflow in order to support that multi-team can work on single workflow.  The most aspects are security where minimal visibility of steps between teams/namespaces need to be kept.

* Each team can provide own step in separate namespace
* Each team can test its step separately (in own namespace)
* Each step can use dedicat

[2020-01-23 16:41] #2010 closed

[2020-01-23 16:45] dobrerazvan opened #2043 "Running multiple parallel pods per step"
Our usecase requires to run multiple parallel containers per workflow step. We've searched in examples and in CRD and parallel operations are used for lists (withItems) or in dags where makes sense.

Is the feature available (did we miss it from the docs)?

We got inspiration from https://github.com/argoproj/argo/blob/master/examples/README.md#steps and wanted to run multiple containers/pods per s

[2020-01-23 17:16] simster7 commented on #2043
You mean run multiple pods/containers at once? If so the example that you posted should do the trick. `hello2a` and `hello2b` run at the same time and use the same container image `docker/whalesay`

[2020-01-23 17:41] #1999 closed

[2020-01-23 18:07] delwaterman opened #2046 "Template within Workflow can not directly call a WorkflowTemplate with arguments"
Checklist:

 * [x] I've included the version.
 * [ ] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
Trying to submit a Workflow which executes a template on a WorkflowTemplate fails.

**What you expected to happen**:
The workflow should be submitted and run.

**How to reproduce it (as minimally and precisely as possible)

[2020-01-23 22:31] #1959 closed

[2020-01-24 00:54] whynowy opened #2049 "Lack of permission check when listing archived workflows"
There's no permission check when listing archived workflows, as a result, listing archived workflows with an unauthorized token also returns items.

[2020-01-24 07:22] dobrerazvan commented on #2043
Thanks for the reply. I was more interested about how I can run 10 hello2b at the same time.

[2020-01-24 11:11] KowalczykBartek opened #2053 "service-account defined for individual steps."
Buenos Dias  :)

Our team is making  research around argo-workflow project usage, and we found one potential security-issue (because of company guidelines) - we want to address it somehow, potentially contributing PR, but first I wanted to consult an idea.

# Summary
Allow to define service-account on per step basis (each pod have different service-account)

# Motivation

How we want use argo work

[2020-01-24 12:37] nicorikken commented on #1999
@simster7 thanks. I'm looking forward to this feature!

[2020-01-24 12:56] maryoush commented on #2042
Are there any plans to support cross namespace deployment for workflow steps ?

[2020-01-24 15:46] danxmoran opened #2054 "Any known issues with many controllers writing to the same DB?"
# Summary

My team is planning to run multiple Argo controllers (one per namespace) within a single cluster. We'd like to make use of the status-offload and archive features. We'd also like to run a single Argo server instance in the cluster so we can see the status of everything running in a single UI. We were thinking that we'd set up a single database for all of these systems to interact with.

[2020-01-24 17:39] jamhed commented on #1913
I second that, we use argo workflows with gpus, and as of now having a limit on namespace causes workflow to fail. To make it work one needs to put number of retries to unlimited, and this is very bad -- suppose there is an error in the pod itself.
I'd like argo controller to be a bit more mindful wrt resource allocation and take pod requests and namespace limits into consideration.

[2020-01-24 17:50] rushtehrani opened #2056 "Completed DAG workflow incorrectly labeled as "Steps""
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
In a completed DAG workflow, the first node in `status.nodes` has `type` value of `Steps` instead of `DAG`

**What you expected to happen**:
The `type` value should remain as `DAG`

**How to reproduce it (as minimally and

[2020-01-24 18:11] alexec commented on #2054
Good question, and requires a detailed answer.

## Offloading Node Status

If configured on, we will offload the large workflows (ones over 1MB). This is only after we attempted to compress it. In many common uses cases, even if you enable offloading, it will not need to be used.

The specific field we compress is `/status/nodes`. This is written into a table named `argo_workflows`. This table is

[2020-01-24 18:39] samath117 opened #2057 "Argo linter doesn't recognize global output parameters specified indirectly"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**Summary**:
When I set a global output parameter in a complicated way (that's "too smart" for Argo validation), then the linter complains when I use it (and I therefore can't run the workflow). The same problem also arises if I want to use

[2020-01-24 19:25] #1954 closed

[2020-01-24 20:43] alexec commented on #2002
https://www.kubeflow.org/docs/pipelines/sdk/sdk-overview/

[2020-01-24 20:46] alexec commented on #2002
TensorFlow API (not SDK):

https://www.tensorflow.org/api_docs

[2020-01-24 22:03] samath117 opened #2060 "Argo should support YAML file inclusion at runtime"
# Summary

YAML by default [does not allow](https://stackoverflow.com/questions/528281/how-can-i-include-a-yaml-file-inside-another) one to externalize portions of the file to other files. But as several of these StackOverflow answers describe, some YAML interpreters, such as Symfony and PyYAML, allow one to do this at runtime. There are a couple compelling use cases to argue that Argo's YAML inte

[2020-01-25 00:37] alexec opened #2061 "Download artifacts using CLI"
# Summary

It is not possible to download artifacts using the CLI. You have to use the UI or know where you're storing them.

# Motivation

TBD

# Proposal

Provide the following CLI commands:

* `argo artifact list WORKFLOW -o wide|json|yaml` - should support output formats
* `argo artifact get WORKFLOW NODE_ID ARTIFACT_NAME` - should it just create the file? output to stdout?

---

**Message fro

[2020-01-25 00:40] alexec opened #2062 "CLI does not support namespace correctly for artifacts"
Checklist:

 * [x] I've included the version. v2.5.x
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML. N/A
 * [ ] I've included the logs. N/A

**What happened**:

Executing `argo artifact list`  should use namespaces from `kubectl`. It does not.

**What you expected to happen**:

Should get it from the usual place.

**How to reproduce it (as minimally and precisely a