[2020-11-10 22:44] kennytrytek-wf opened #4510 "Discrepancy Between Generated Python OpenAPI Client And Argo Server"
## Summary

I can make a request using the HTTP API that fails when using the Python client generated from the swagger.json.

Running Argo server locally, I navigate to this URL in my browser: http://localhost:2746/api/v1/workflows/argo?fields=items.metadata.name
I have a few example workflows, so the response looks like this:
[code]
Generating the Python OpenAPI client:
[code]
And using it to mak

[2020-11-10 23:16] alexec commented on #4510
Can you ask in the #argo-sdks channel?

[2020-11-10 23:17] kennytrytek-wf commented on #4510
https://argoproj.slack.com/archives/CT5HFHDK8/p1605050218009600

[2020-11-10 23:22] alexec commented on #4509
`ui-v3` branch:

![image](https://user-images.githubusercontent.com/1142830/98745515-93e8a380-2368-11eb-9828-cbd747bd45aa.png)

[2020-11-10 23:23] alexec commented on #4509
The fact that the edges in your graph only have one line suggest you're using the fast rendered?

[2020-11-10 23:24] alexec commented on #4509
I take this back. My graph is very different to the one in the ticket description - yet is based on the same template.

Can I please request complete YAML to reproduce the issue?

[2020-11-10 23:57] alexec opened #4511 "Filter logs using - date range or regexp"

[2020-11-10 23:58] alexec opened #4512 "Log viewer - link to logging facility (e.g. Splunk) for sensors and event source"

[2020-11-11 05:47] #4384 closed

[2020-11-11 06:09] lippertmarkus commented on #4499
Push for Windows Image failed: https://github.com/argoproj/argo/runs/1365261588?check_suite_focus=true

@alexec Don't you receive emails about such failures?

[2020-11-11 06:58] nojvek commented on #3709
Regarding retry, I wish the logic was simpler "find the first failed/error node and run everything after it".

Our scenario is that we have check steps the behave more like warnings than failures. The stage-deploy step has `depends: "check-ci || check-ci.Failed"`. We want user to have the ability to retry check-ci if it failed, however don't stop if it failed.

![image](https://user-images.githubu

[2020-11-11 07:29] nojvek opened #4513 ""RETRY" button is disabled when continueOn: {failed:true} on a DAGTask or onExit"
# Summary

What change needs making?

Without continue on, retry is enabled for a DAG, but adding continueOn disables RETRY. Not sure why. I would expect that RETRY finds the first failing node, and then retries the failing node + all nodes connected to it.

# Use Cases

When would you use this?

We have tasks that are like soft fails e.g check tests. Even if tests fail we want to proceed to next

[2020-11-11 09:05] rr-sushant-choudhary commented on #4181
@simster7  We did upgrade to 2.11.4 and haven't seen issues till now. It's hard to replicate the issue because we don't know what caused it in the first place.

[2020-11-11 11:04] ludydoo opened #4515 "Argo Pod Link Template Replacement Bug - Ignores multiple instances of same replacement"
## Summary

Created the bootstrap argo app with the quickstart guide (latest version 2.11.7)
The bootstrap configured pod links

[code]
The link template elements should be replaced.

But the generated link reads

[code]
The ${status.startedAt} and ${status.finishedAt} are not replaced.

Also, I am using elastic search / fluentd for logging. The link to access the logs in kibana is really ugly.

[

[2020-11-11 14:25] markterm commented on #4464
It looked like this worked :)

[2020-11-11 14:46] ryedin commented on #4509
The screenshot was taken with vanilla settings in the UI (i.e. not fast render)

I think in your repro case, you're also missing the fact that some of my tasks have retries enabled. I think the retry-fanout layout algo is messed up.

I'll spend a little more time getting you more yaml later, if I have time today. I'm on a deadline.

It's also worth noting that I think your screenshot also looks wo

[2020-11-11 19:22] terrytangyuan opened #4517 "Issue building images for v2.12.0-rc1"
## Summary

I am trying to build images via `./hooks/build` for `v2.12.0-rc1` but seeing the following error:

[code]

## Diagnostics

What Kubernetes provider are you using?

What version of Argo Workflows are you running?  v2.12.0-rc1

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-11-12 00:02] terrytangyuan commented on #4517
I played with things like `JOBS=1` and `NODE_OPTIONS=--max_old_space_size=8192` but still no luck. Is there anything else I should try?

[2020-11-12 00:14] kennytrytek-wf commented on #4510
While continuing to look at this, I tried the following:
[code]
I noticed that this `client_side_validation` variable exists on the `Configuration` object and is always set to `True`. That same variable is referenced in a few places in `WorkflowServiceApi` like this: `self.api_client.client_side_validation`. It also has a corresponding idea in the generated model files, e.g. `io_argoproj_workflow_

[2020-11-12 08:20] mweibel commented on #4422
@alexec sorry for replying a bit late.

using the client directly - I wanted to avoid writing the [necessary code for reading argo workflow logs](https://github.com/argoproj/argo/blob/master/util/logs/workflow-logger.go#L40) again. I'm not sure if this code over there is considered public and can be used without breaking. If I use the argo api client that's somewhat more guaranteed - I hope, at le

[2020-11-12 13:34] lonsdale8734 opened #4521 "[bug] workflow stuck in running when daemon pod missing"
## Summary

What happened/what you expected to happen?

**Workflow stuck in running phase when daemon pod missing.**

## Diagnostics

What version of Argo Workflows are you running?

I had tests based on v2.7.1, v2.10.2 and v2.11.7.

`argo submit -p error=0 daemon-miss.yaml` work as expected.
`argo submit -p error=1 daemon-miss.yaml` stuck at v2.7.1.
`argo submit  -p error=2 daemon-miss.yaml` stuc

[2020-11-12 14:26] sarabala1979 commented on #4521
I will take a look

[2020-11-12 14:33] rosscdh opened #4522 "prometheus names prefixed with argo_*"
# Summary
When running argo with potentially tens if not hundreds of other services all with prometheus scrapers
It is difficult to find the argo labels.

Ideally grouping of the prometheus labels should be together
currently they are scattered and not central to find without the docs

https://github.com/argoproj/argo/blob/25f12441f94dfb8e8b7ade5f20c79687e4ac1471/docs/metrics.md

# Use Cases

when

[2020-11-12 14:49] simster7 commented on #4522
I'm sorry, I'm not sure I understand what the request is. Currently all Argo Workflows metrics are indeed grouped:

<img width="826" alt="image" src="https://user-images.githubusercontent.com/614838/98954906-edb1b080-24c3-11eb-8139-743611e51a86.png">

Are you asking that they do not be grouped?

[2020-11-12 14:52] simster7 commented on #4513
`Retry` is only enabled if the workflow as a whole fails (i.e. the top source node is failed). Since you had `continueOn` enabled, then the workflow as a whole did not fail, leaving the `Retry` disabled. We might explore enabling retry when this is the case as well.

However, if you want to ensure that a said step is successful, then it seems like you shouldn't be using `continueOn`. Can you elabo

[2020-11-12 15:06] rosscdh commented on #4522
apologies if this is the case! Thanks for the prompt response..

[2020-11-12 15:06] #4522 closed

[2020-11-12 16:47] alexec commented on #4422
Only code in the `pkg` directory is considered public (Golang convention). That said, if it works for you - go for it.

To logs workflow pods, simply log any pod in the namespaces with the `workflows.argoproj.io/workflow: my-wf`. You'll need to watch for creation.

[2020-11-12 16:47] alexec commented on #4517
We don't use this build hook anymore. We use Github actions.

[2020-11-12 17:23] sarabala1979 commented on #4500
It works for me. Recent refactoring on WorkflowTemplateRef. you can find merged `workflowSpec` under `status.storedWorkflowTemplateSpec`

Request
[code]

Response:

[code]

[2020-11-12 18:19] alexec opened #4523 "time is wrong in log entry"
Both sensor and event sources log entries have a `time` field which is `metav1.Time`, but the actual field is called `ts` which is some other type (uint64 with decimal). Needs fixing.

[2020-11-12 19:18] sarabala1979 commented on #4521
@lonsdale8734 I tried to reproduce this issue on my local. I couldn't reproduce it. Am I missing anything?

Workflow:
[code]

Output :

[code]

[2020-11-12 19:18] sarabala1979 commented on #4521
@lonsdale8734 I tried to reproduce this issue on my local. I couldn't reproduce it. Am I missing anything?

Workflow:
[code]

Output :

[code]

[2020-11-12 20:07] terrytangyuan commented on #4517
@alexec Sure but the images are the same though. The only difference I noticed is the use of Docker Buildx in GitHub Actions.

[2020-11-13 01:41] dcherman opened #4524 "Handle idle timeouts more gracefully"
## Summary

When you're using an ingress controller that has an idle timeout configured, it's possible that there are no events that occur within that period of time which results in the UI throwing an error since the `workflow-events` stream is closed.  In the case of my cluster, I use ingress-nginx which has a default idle timeout of 60s.

![image](https://user-images.githubusercontent.com/97660

[2020-11-13 01:59] alexec commented on #4524
I think we have addressed some of this in v2.11.7 and v2.12. Could you try latest?

[2020-11-13 02:51] hidekuro commented on #1538
@ademidun  I don't remember it well because it was a long time ago, but I'm sure it was decided to avoid it by the naming convention.

[2020-11-13 02:57] dcherman commented on #4524
Yep, looks like you're right - v2.12.0-rc2 retries automatically after 10s and provides a way to explicitly reload.

![argo retry (2)](https://user-images.githubusercontent.com/976608/99022400-a57ca780-2530-11eb-9cb8-b33369e57fb4.gif)

Wonder if we can improve the UX on that though since for low traffic instances, this might be a relatively common error to run into.  Maybe we can retry seamlessly

[2020-11-13 03:30] monsterxx03 commented on #4445
I upgraded to 2.12.0-rc1 yesterday, the suspend/resume  trigger wf twice issue go away.

But I still come to cronwf trigger twice on scheduled time today. After read #4392 again, I think the reason is I use kubectl apply -f xxx.yaml to update cronwf. It's using PATCH internally.

So the right way to update cronwf from cli is delete & create again?  I checked argo server code, seems it's using UPDA

[2020-11-13 07:35] mweibel commented on #4499
FYI rc2 works now - I'm closing this issue therefore 👍

[2020-11-13 07:35] #4499 closed

[2020-11-13 11:30] sylock commented on #4463
Hi Alex. Multiple things to say :)

After upgrading to 2.11.7 I lost the archived workflow. So I rerun one.
**I must bring your attention** that I'm using PNS containerRuntimeExecutor on an Openshift (and not raw Kubernetes).

1) Artifact
- What do you mean by the URL? My screenshot where you see "no such file or directory" is from that artifact URL.
- Note that it seems that between 2.10.0 and 2.

[2020-11-13 12:02] omerfsen opened #4525 "Argo and Istio Injection enabled Namespace"
## Summary

I expect to run Argo workflows on Istio enabled Namespaces. When we disable Istio injection workflow passes to other steps (ie wait-seldon-resource) but when Istio is enabled it waits forever on the first phase.

## Diagnostics

AKS 1.16.15

Argo v2.11.7

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-11-13 12:04] omerfsen commented on #4525
![image](https://user-images.githubusercontent.com/29705627/99070529-51150e80-25a8-11eb-8ef1-7dc88a11beaa.png)

[2020-11-13 12:24] fwfichtner commented on #4500
It works and is supported via workflowTemplates with v2.12.0-rc2! Thank you very much!

We downgraded to rc1 again, just to check, and there it did not work.

[2020-11-13 12:24] #4500 closed

[2020-11-13 13:30] akloss-cibo commented on #4239
We've switched to a workflow-of-workflows for this particular task.  I've spent a little time trying to create a simpler way to reproduce issues without much luck, but we'll reach out if we find something that we're stuck on.

[2020-11-13 14:20] omerfsen opened #4526 "sso secretname on configmap is not respected and defaults to sso as secretname"
## Summary

sso secret name on --configmap=argo-workflow-controller-configmap is not respected and defaults to "sso" as the secret name even we define secret on  argo-workflow-controller-configmap configmap. This is working fine on v2.11.17 but not on v2.12.0-rc2

## Diagnostics

AKS 1.16.15

Argo 2.12.0-rc2

Argo-Server pods:

[code]

configmap (containing argo-server-sso as sso section)

[code]

[2020-11-13 14:37] omerfsen commented on #4526
Just for test changed secret name from argo-server-sso to sso and that part has passed but now has:

[code]

Not sure why it is complaining about:

**"failed to parse private key: asn1: syntax error: sequence truncated**

[2020-11-13 15:37] JamesLaverack opened #4527 "Add `.Complete` to Enhanced Depends"
# Summary

Currently using the [directed-acyclic graph](https://argoproj.github.io/argo/examples/#dag) workflow template and the [enhanced depends logic](https://argoproj.github.io/argo/enhanced-depends-logic/) it's possible to declare that a step should run if a specific previous step failed.

To give a simple example, here if A is successful then B will run. If A fails then C will run instead.
[

[2020-11-13 15:49] JamesLaverack commented on #4527
For background, a related thread in Argo project Slack: https://argoproj.slack.com/archives/C8J6SGN12/p1605206561485900

[2020-11-13 16:18] sarabala1979 commented on #4525
@omerfsen I can see the step `pod` is running. looks like it stuck in resource creation. Can you provide us pod logs `kubectl logs <podname> main`

[2020-11-13 16:19] omerfsen commented on #4525
[SSHlog.log](https://github.com/argoproj/argo/files/5538047/SSHlog.log)

ran workflow-controller with **--loglevel debug** and output attached

[2020-11-13 16:53] sarabala1979 commented on #4525
Can you provide  workflow step `pod log` seldon-batch-process-3626514072?

[2020-11-13 17:08] alexec commented on #4526
Incorrect. There is a new secret used to store the encryption key for JWE cookie. I expect it is unable to create that secret, as per #4514, and therefore probably fixed by it.

@simster7 @sarabala1979 I don't think v2.12-rc1/2 starts up for most people and rc3 is therefore needed.

[2020-11-13 17:36] groszewn commented on #4525
Worked with @omerfsen offline and figured out the issue.  The actual argo workflow pod needs istio-injection disabled, which wasn't happening in the workflow definition above.  Adding the `sidecar.istio.io/inject: 'false'` annotation to each template as follows fixed it.

[code]

and

[code]

[2020-11-13 18:14] #4525 closed

[2020-11-13 19:07] omerfsen commented on #4526
@alexec I think that is valid for secret creation but i simply created secret manually before so this issue has 2 parts:

1. sso secret name on configmap is not respected
2.  sso.clientId.name: **client-id-secret** is not respected and simply uses default secret which i think `sso`

[2020-11-13 21:09] simster7 opened #4529 "Tolerate large workflows in GRPC calls"
## Summary

What happened/what you expected to happen?

## Diagnostics

What Kubernetes provider are you using?

What version of Argo Workflows are you running?

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-11-13 21:11] metasim commented on #2931
Good question @yauhen-sobaleu

[2020-11-13 22:04] sarabala1979 commented on #4529
https://godoc.org/google.golang.org/grpc#MaxCallSendMsgSize

[2020-11-13 22:06] sarabala1979 commented on #4529
https://github.com/argoproj/argo/blob/d0082e8fb87fb731c7247f28da0c1b29b6fa3f02/server/apiserver/argoserver.go#L55

[2020-11-14 14:06] #3912 closed

[2020-11-14 17:05] alexec opened #4530 "<ErrorNotice/> timer reload does not work"
Due to security constraints. Don't know how I didn't catch this.

[2020-11-14 20:33] #4526 closed

[2020-11-14 21:17] hadim opened #4531 "Argo auth with Google Cloud Identity Access Proxy (IAP)"
I have been able to set up access to Argo on a GKE cluster with a Google Cloud Identity Access Proxy. Currently, the argo server runs in auth client mode. It looks like the IAP proxy is transparent for argo in that case.

I am confused about how to make argo "aware" of the upstream IAP proxy and use the SSO argo feature.

Did anyone has already configured an argo cluster with Google IAP?

Currentl

[2020-11-14 21:17] hadim commented on #4531
Also probably related to https://github.com/argoproj/argo-cd/issues/2224

[2020-11-15 10:03] tczhao opened #4532 "Add filter all cronWorkflow/templateWorkflow to UI Workflow labels filter"
# Summary

What change needs making?

Add `workflows.argoproj.io/cron-workflow`, `workflows.argoproj.io/workflow-template` to the UI Labels autocomplete

For example,
![tempsnip](https://user-images.githubusercontent.com/20961507/99181798-0a304000-2785-11eb-80a8-70dbb85f1d10.png)

# Use Cases

When would you use this?

This will enable us to quickly filter all cronWorkflows or templateWorkflows.

[2020-11-15 17:03] #3873 closed

[2020-11-16 00:15] brabster commented on #4477
Generating that secondary.swagger.json and wrapping it with:

[code]

gets me reasonably far - I get the appropriate validation errors and autocomplete working. I removed anything referencing the k8s API as I can't resolve any of that directly - but doing so does remove a lot of the value, e.g. the `container` key is defined in the k8s spec. Also not sure the schema is actually valid as a specific

[2020-11-16 01:22] YasukeXXX opened #4534 "Failed to establish pod watch: timed out waiting for the condition"
## Summary

Workflow is never success.
The command itself completed successfully, but Workflow returns an error `failed to save outputs: Failed to establish pod watch: timed out waiting for the condition`.

## Diagnostics

What Kubernetes provider are you using?
EKS

What version of Argo Workflows are you running?
v2.12.0-rc2 and v2.11.7
(install via Kustomize cluster-install)

[code]

[code]

---

[2020-11-16 04:36] #4478 closed

[2020-11-16 05:29] lonsdale8734 commented on #4521
@sarabala1979 This is the simplified workflow for v2.7.1

[code]

[2020-11-16 16:01] alexec commented on #4524
Do you want to suggest something?

[2020-11-16 16:19] simster7 commented on #4532
Would you like to submit a PR for this?

[2020-11-16 16:22] simster7 commented on #4515
Closed in #4516

[2020-11-16 16:22] #4515 closed

[2020-11-16 16:23] simster7 commented on #4484
We have had some issues with Argo variables and helm in the past. Take a look at this thread for more info: https://github.com/argoproj/argo/issues/2430

Let me know if you need more help

[2020-11-16 16:23] #4484 closed

[2020-11-16 16:25] alexec commented on #4501
This test is still flakey. I think it should create a new controller for each of the three tests.

[2020-11-16 16:30] sarabala1979 commented on #4501
I will take a look.

[2020-11-16 16:43] alexec commented on #4477
@brabster can you still demo on Wednesday? thank you.,

[2020-11-16 16:50] dcherman commented on #4524
Sure - I think a pretty straightforward change to make would be when a disconnect occurs:

- Don't remove the existing workflow listing since the existing data is all still valid and in the case of users that don't necessarily understand the error, causes them to reach out thinking that Argo is broken when it's just a normally occurring situation due to the idle timeout on the ingress controller i

[2020-11-16 16:59] alexec commented on #4524
This makes sense. Each page is different and needs different disconnect logic.

[2020-11-16 17:00] #4530 closed

[2020-11-16 17:46] nirav24 opened #4537 "Variable with spaces doesn't get evaluated"
## Summary

When I user global variable `workflow.name` with spaces in after double curly braces, it doesn't get evaluated and gets injected as string.

## Diagnostics

What Kubernetes provider are you using?

What version of Argo Workflows are you running?

**v2.7.6**

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most

[2020-11-16 17:58] brabster commented on #4477
Almost... doesn't validate because all the `oneOf` schemas match. I fixed that (and forgot to say so) by setting the `kind` to the correct const value, allowing differentiation... eg

[code]

When I add the const Kinds for the 5 types in the `oneOf`, I detect two problems in my CronWorkflow:

![image](https://user-images.githubusercontent.com/38702/99289755-491dce80-2835-11eb-9eda-cab424bae186.png

[2020-11-16 18:00] brabster commented on #4477
If we can get the schema published (which is looking hopeful!) then sure! I wouldn't think it'd be helpful to demo something before folks can really use it.

[2020-11-16 18:22] alexec commented on #4477
can you show how it should change please?

[2020-11-16 18:44] sarabala1979 commented on #4521
@lonsdale8734  can you provide me ` kubectl describe pod daemon-missing-before-tf9xx-2195151498`?

[2020-11-16 19:07] brabster commented on #4477
https://gist.github.com/brabster/04cfc4410bb133b9341fa9793044c9d6#file-argo-schema-with-discriminator-values-json-L428

Line 428, switched "type":"string" to "const":"CronWorkflow" - same for the other 4 types of YAML

[2020-11-16 19:23] #4501 closed

[2020-11-16 19:23] simster7 commented on #4537
https://github.com/argoproj/argo/issues/4484

This seems to work correctly, although it is the second time this has been mentioned. I see you're using a very old version (2.7) can you upgrade to latest and see if it works?

[2020-11-16 19:28] sarabala1979 commented on #4534
@YasukeXXX can you provide the wait container log?  `kubectl logs <podname> wait`

[2020-11-16 19:33] alexec commented on #4477
so we use `kind` as a _type discriminator_ - I get it now

[2020-11-16 19:47] alexec commented on #4531
We do not run GCP, so we don't know. Maybe ask in the Slack channel?

[2020-11-16 19:47] terrytangyuan commented on #4517
Closing this for now as a workaround is found.

[2020-11-16 19:47] #4517 closed

[2020-11-16 19:48] alexec commented on #4532
This should be automatic - maybe you don't have any cron workflows?

[2020-11-16 19:48] hadim commented on #4531
Will do thanks. I'll also let this open so others might jump.

[2020-11-16 19:49] alexec commented on #4532
It might be nice to have pre-populated lists of cron workflows and workflow templates to filter on, like the reports page.

![image](https://user-images.githubusercontent.com/1142830/99300718-ccbdc800-2801-11eb-84d5-f56d90c4082e.png)

[2020-11-16 19:51] alexec commented on #4534
I've seen this problem when the workflow RBAC is missing permission. E.g. it is a namespace-install, and you're running in another namespace to the installation.

Maybe you need to install Argo Workflows using the cluster manifests?

[2020-11-16 20:07] brabster commented on #4477
Also happy to do a docs update with instructions for VSCode when the schema is available at a stable location :+1:

[2020-11-16 20:15] alexec commented on #4477
What about this:

https://raw.githubusercontent.com/argoproj/argo/a00c1c92da09322d3132404d519ba015d21b0db6/api/jsonschema/schema.json

[2020-11-16 20:25] nirav24 commented on #4537
Hey @simster7 thanks for replying. I tried with `v2.11.7` and it did not evaluate variable with space.

[2020-11-16 20:54] simster7 commented on #4537
I am still unable to reproduce:

[code]

Not sure why. Are you using helm at all? Can you tell me more about your environment?

[2020-11-16 21:05] nirav24 commented on #4537
Argo with `v2.7.6` is deployed using helm chart. I used https://argoproj.github.io/argo/quick-start/#install-argo-workflows to install locally which is version `v2.11.7`.

Can you please try with following workflow?

[code]

Output is

<img width="1101" alt="Screen Shot 2020-11-16 at 4 04 15 PM" src="https://user-images.githubusercontent.com/16739632/99308079-634fb080-2825-11eb-9a07-e04db099aa46.p

[2020-11-17 00:53] simster7 commented on #4537
Take a look at https://github.com/argoproj/argo/issues/2430#issuecomment-632862338 for a helm workaround if you submit Workflows with helm charts.

[2020-11-17 00:58] simster7 commented on #4537
[code]

[2020-11-17 01:02] davidgibbons opened #4541 "No argo, argoexec, argo-workflow binary in latest argocli docker images"
## Summary
The update in #4519 attempts to variables the os, but as the variable doesn't exist in the 3 images that actually copy over the binaries, it doesn't copy over anything, leading to building a docker image with no binaries in it.

This basically makes all new installs or anything that pulls the latest container fail.

## Diagnostics

[code]

---

**Message from the maintainers**:

Impacte

[2020-11-17 01:03] nirav24 commented on #4537
@simster7 sorry I forgot to mention I am using argo UI to submit my workflow. I tried your workflow and I still get same thing

[code]

[2020-11-17 01:07] nirav24 commented on #4537
thanks for the link. I use this for other workflow which uses helm chart.

[2020-11-17 01:09] simster7 commented on #4537
Good point, but still the same result

https://share.getcloudapp.com/GGurmGAO

[2020-11-17 01:15] nirav24 commented on #4537
ha, only thing different is the version. I am using v2.11.7. Do you happen to know in which version it was solved? I tried it again and saw same result 🤐

[2020-11-17 01:28] YasukeXXX commented on #4534
@sarabala1979

wait container logs here
[code]

@alexec
I'm using this kustomization.yaml to deploy an argo workflow via an argo CD
[code]

[2020-11-17 01:39] YasukeXXX commented on #4534
pod manifest here.
it seem to be using the default service account, is this correct behavior?
[code]

[2020-11-17 02:13] alexec commented on #4541
@terrytangyuan could you take a look by any chance? Thank you.

[2020-11-17 02:13] alexec commented on #4541
@simster7 @sarabala1979 I imagine this would block  v2.12.0-rc3

[2020-11-17 02:14] #4541 closed

[2020-11-17 02:15] alexec commented on #4534
Workflows will execute using the service account you specify. By default this is the default service account.

[2020-11-17 02:19] alexec commented on #4463
Can you please attach your argo-server logs?

[2020-11-17 02:20] alexec commented on #4524
I'm fixing in the v3 UI

[2020-11-17 03:00] tczhao commented on #4532
that sounds like a good idea, I will do PR for that,

regarding the "This should be automatic - maybe you don't have any cron workflows?"
I was in the line of

if there exist any cron/template jobs,
we will add a
`workflows.argoproj.io/cron-workflow`/`workflows.argoproj.io/workflow-template`
at the beginning of list of labels, to enable us filter all cron/template jobs

[2020-11-17 03:35] YasukeXXX commented on #4534
oh, sorry...
It worked by specifying `workflow.spec.serviceAccountName`.

thank you

[2020-11-17 03:35] #4534 closed

[2020-11-17 04:00] #3974 closed

[2020-11-17 04:13] terrytangyuan commented on #4541
Thanks for the catch! @davidgibbons Looks like the PR is already merged. Thanks for the quick fix.

[2020-11-17 05:16] vinayagg opened #4544 "invalid memory address or nil pointer dereference"
## Summary

What happened/what you expected to happen?
Got following stack trace
[code]

## Diagnostics

What Kubernetes provider are you using?
GKE

What version of Argo Workflows are you running?

[code]
This is NOT workflow dependent. I think this happens if I launch a workflow soon after installing argo (within 1-5 seconds)

[code]

---

**Message from the maintainers**:

Impacted by this bug?

[2020-11-17 05:51] sarabala1979 commented on #4544
@vinayagg Can you provide the argo version which you are using?

[2020-11-17 06:00] sarabala1979 commented on #4544
https://github.com/argoproj/argo/issues/3422

[2020-11-17 06:04] vinayagg commented on #4544
$ argo version
argo: v2.9.1
  BuildDate: 2020-07-03T15:06:40Z
  GitCommit: 6b967d08c0a142aaa278538f2407c28de467262e
  GitTreeState: clean
  GitTag: v2.9.1
  GoVersion: go1.13.4
  Compiler: gc
  Platform: linux/amd64
=============================
image: argoproj/workflow-controller:v2.11.7

[2020-11-17 07:04] sarabala1979 commented on #4544
This issue is fixed in 2.9.4 +. I would recommend to upgrade the Argo cli to latest version 2.11.7

[2020-11-17 10:05] brabster commented on #4477
OK that's working pretty well now. Trying it on more complex files I've found a problem with the schema, `io.argoproj.workflow.v1alpha1.DAGTask` says that `template` is required, but it's not if you use a `templateRef` - not sure how that's happened...?

[2020-11-17 12:13] AntoineDao commented on #4136
We are experiencing a similar issue trying to scrape workflow events for post-processing. I think scraping workflow events from Kubernetes events might not be the right way to reliably access them. As @sarabala1979 was saying above Kubernetes events are "best-effort" and on top of that I think they are compressed/ignored by Kubernetes to avoid overloading etcd (which is why we get the `combined fr

[2020-11-17 12:40] andreyvelich opened #4545 "Wait for the sidecar container finish during Workflow run"
# Summary

Hi Everyone!

Is it possible to define Workflow when wait container waits until all sidecar pod’s containers are finished ?
Maybe specify some flag to the Workflow controller.

As I can see [here](https://github.com/argoproj/argo/blob/master/cmd/argoexec/commands/wait.go#L33), wait container kills all Pod's containers that are not main or wait.

I want to use Argo workflow in my custom

[2020-11-17 14:43] sylock commented on #4463
[argo-server-766f9c855c-r8trt.log](https://github.com/argoproj/argo/files/5554157/argo-server-766f9c855c-r8trt.log)
[argo-server-766f9c855c-shxld.log](https://github.com/argoproj/argo/files/5554159/argo-server-766f9c855c-shxld.log)

[2020-11-17 14:54] snowzach opened #4546 "Poor UI performance with lots of workflows viewing all. Random sort order when viewing paginated."
## Summary

When viewing 100's of workflows paginated, the sort order doesn't seem to make sense. When viewing all workflows, the load time is very high.

## Diagnostics

What Kubernetes provider are you using? GKE

What version of Argo Workflows are you running? 2.11.7

I am using a Postgres database to archive workflows as well. When I view workflows in the list, I can select `all` in which case

[2020-11-17 15:06] simster7 commented on #4546
This is known. We use K8s' pagination and simply propagate its result, and K8s pagination does not have "global sorting" between pages. See https://github.com/argoproj/argo/issues/2926.

For now, yes.

That would actually be the intended use case. Ideally the live workflows view is meant for recent workflows. Those workflows would then have short TTLs after completion and if their information is n

[2020-11-17 15:19] simster7 commented on #4537
You're right! It doesn't work in 2.11.7, I'll try to find the commit that fixes this so I can backport to 2.11.next

[2020-11-17 15:22] alexec commented on #4477
Cool. Will you be able to demo tomorrow at the community meeting still please?

[2020-11-17 15:23] alexec commented on #4136
@AntoineDao I'm not an expert in K8S events, but I do know that there was a bug fixed in v2.11. I think you're already running this version?

I think you should reasonably expect to get all events - if not I think it is a bug.

[2020-11-17 15:30] AntoineDao commented on #4136
I'm currently running from this commit: 3aeb1741e720a7e7e005321451b2701f263ed85a so I should have the bug fixed in 2.11 in there but I am still not receiving all the events reliably. Guess it's getting labelled as a bug then 😅

[2020-11-17 15:33] alexec commented on #4136
@AntoineDao we're busy with KubeCon this week. Maybe you could help by tracking down the logic in the Kubernetes codebase to see how it determine to combine similar events?

https://github.com/kubernetes/kubernetes/blob/c23a4b08d704156db724769a32edc71c921095d4/staging/src/k8s.io/client-go/tools/record/events_cache.go#L179

[2020-11-17 15:36] snowzach commented on #4546
Okay... This makes sense... I guess I didn't follow that I need to make sure my jobs get archived after a certain amount of time to remove them from the list. I am still learning.

So, for others...  I added this to my configmap so there is a TTL automatically applied to all of my workflows and that list now has only workflows from the past hour. It's safe to use the `all` option which sorts corre

[2020-11-17 15:36] #4546 closed

[2020-11-17 15:53] simster7 commented on #4537
I identified the PR responsible for the fix: #4310. It was merged while I was OOO, so I wasn't aware of it. I have backported it to 2.11 and it will be in the next release.

[2020-11-17 15:54] simster7 commented on #4484
@cgorman Quick update:

I identified the PR responsible for the fix: #4310. It was merged while I was OOO, so I wasn't aware of it. I have backported it to 2.11 and it will be in the next release.

[2020-11-17 15:54] #4537 closed

[2020-11-17 15:55] snowzach commented on #4546
@simster7 do you think it would be a good idea to set some sort of sane workflow TTL default (24 hours)? I am starting to wonder if poor performance of my cluster/kubectl CLI was due to so many workflows sitting in etcd. It was not at all clear to me that I should be clearing out old workflows manually. I probably missed it in the docs somewhere. Just food for thought.

[2020-11-17 16:12] brabster commented on #4477
Yep. Will ping on Slack.

[2020-11-17 16:12] alexec commented on #4463
The logs show the following

* Running v2.11.7
* Several panics due to incorrect URL (hand crafted?): `http: panic serving 10.131.0.1:34530: runtime error: index out of range [3] with length 3`
* Successful download of artifact for archived workflow: `time="2020-11-13T10:30:47Z" level=info msg="Download artifact" artifactName=main-logs nodeId=quick-start-tutorial-dev-gl49d-1107067512 uid=c10d2205-

[2020-11-17 16:31] sarabala1979 commented on #4545
@andreyvelich
Just curious, how you do inject sidecar containers on a created pod?

[2020-11-17 16:39] sarabala1979 commented on #4544
@vinayagg Please verify it on the latest version and close this issue

[2020-11-17 16:44] nirav24 commented on #4537
Thanks @simster7

[2020-11-17 17:03] andreyvelich commented on #4545
@sarabala1979 I am using [MutatingAdmissionWebhook](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#mutatingadmissionwebhook) to mutate additional container to the necessary Pods in namespace that has required label.
Once Pod is created in this namespace, controller checks if mutation is required.
If it is required, controller adds another container to this Pod.

/cc

[2020-11-17 18:19] simster7 commented on #4546
We actually have nudges in the UI that display this information (#3089)

<img width="836" alt="image" src="https://user-images.githubusercontent.com/614838/99430498-08729380-28cf-11eb-8305-2e440a540e7b.png">

Do you use the UI? I'm thinking that we should also add nudges on the CLI. I'll work on that soon.

[2020-11-17 18:20] simster7 opened #4548 "Add cost optimization nudges on the CLI"
# Summary

The nudges are currently only available on the UI (https://github.com/argoproj/argo/pull/3089). Many users may not use the UI, so add them to the CLI as well.

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-11-17 18:21] simster7 commented on #4546
It might be useful, but I don't think we'd want to add code that deletes K8s resources without the user taking an explicit action to enable it. Especially since the workflow archive may not be enabled so information could be lost

[2020-11-17 19:10] snowzach commented on #4546
@simster7 I saw the nudge in the UI about the number of workflows and I checked the link to the documentation. I guess I didn't read it well enough... Up until this point I didn't follow that there was the "active workflows" vs the "workflow archive" being two different holding tanks that you need to somewhat manually manage the transition between. My suggestion would still be a sane default for a

[2020-11-17 19:30] snowzach commented on #4546
@simster7 how about this #4549

[2020-11-17 22:37] brabster commented on #4477
Thought occurred to me - IDEA also supports YAML validation via JSON Schema natively (the current instructions require the Kubernetes plugin - only works on the for-$$$ Ultimate Edition which is why I couldn't try it)

![image](https://user-images.githubusercontent.com/38702/99458899-35ea2c00-2925-11eb-8f7f-28419d534ec4.png)

Maybe switching over would have the added benefit of only one schema to

[2020-11-17 22:45] mailtoraja18 opened #4550 "pick persistence password from mounted property file"
# Summary
My persistence passwords are stored/rotated in AWS Secrets manager. I can fetch it using a init container to a property file written to a designated location like /tmp/secrets  . I cannot work with a config map. Do I have any options ?

[2020-11-17 23:06] yxue-kabam commented on #4510
@kennytrytek-wf try out https://pypi.org/project/argo-workflows ?

[2020-11-17 23:15] yxue-kabam commented on #4510
OK this is the argo server api correct (not submitting the workflow), this is on my todo list for above project (add an issue there? maybe we can work together on this)

[2020-11-17 23:42] andizzle commented on #4034
This seems to be working in `Workflow`, but not in `WorkflowTemplate`.

[2020-11-17 23:46] andizzle commented on #4034
I'm on v2.11.7 and also see this problem.

[2020-11-18 00:00] alexec commented on #4477
Good idea!

[2020-11-18 01:04] alexec commented on #4509
@ryedin could you send over either the whole YAML (with status field) please? That should be enough to test the problem.

[2020-11-18 01:06] alexec commented on #4509
Note to self: bug most likely here: https://github.com/argoproj/argo/commits/master/ui/src/app/workflows/components/workflow-dag/workflow-dag.tsx

[2020-11-18 07:43] ebr commented on #4048
The issue description and comments sound exactly like what we're experiencing on 2.11.6. "stuck" workflow steps without running pods. @alexec we briefly chatted in Slack and you suggested upgrading to 2.11.7 - would `:latest` be a better idea instead?

[2020-11-18 09:02] eduranf commented on #1809
Hi, there is a way to specify hostNetwork PodSecurityPolicy for certain steps?
It would be a very useful enhancement

[2020-11-18 09:02] gtarcoder opened #4551 "workflow metrics is not correct in v2.12.0-rc2 and latest master branch"
## Summary

What happened/what you expected to happen?

I have enabled argo metrics and scrape those metrics using prometheus, but find that the default argo metrics argo_workflows_count{status="Pending"} is increasing continusly and argo_workflows_count{status="Running"} is decreasing continusly.

## Diagnostics

What Kubernetes provider are you using?
v1.14

What version of Argo Workflows are yo

[2020-11-18 09:03] gtarcoder commented on #4551
v2.11.7  is ok, so the  bug is involved in code between v2.11.7 and v2.12.0-rc2

[2020-11-18 09:13] gtarcoder commented on #4551
I added logs in [WorkflowUpdated](https://github.com/argoproj/argo/blob/master/workflow/metrics/metrics.go#L138) and found that no workflows updated from Pending status to Running status, all calls returned due to `fromPhase == toPhase`.

[2020-11-18 09:41] lonsdale8734 commented on #4521
@sarabala1979
I am using the default `containerRuntimeExecutor: docker` and `docker.sock` is mountable.

I create a [repo](https://github.com/lonsdale8734/argo-reproduce-daemin-missing) to reproduce my environment. But I am running in a single node k8s cluster.

The error message for `describe pod` is something like `Error from server (NotFound): pods "daemon-missing-before-8t75h-4024999701" not f

[2020-11-18 10:39] xakraz opened #4552 ""clearer" flags name for Argo CLI"
# Summary

I would like to update cli flags to remove ambiguity and confusion between "target" (Kubernetes API server or Argo API server)

# Use Cases

Since, we already have flags like `--argo-server` and `--kubeconfig` I would like to spread this kind of prefixes to remove ambiguity.

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with

[2020-11-18 13:15] simster7 commented on #4551
Thanks, will take a look

[2020-11-18 15:00] simster7 commented on #4551
Offending commit is #4025

[2020-11-18 15:03] simster7 commented on #4551
For an immediate workaround set the environment variable `INFORMER_WRITE_BACK=false` in the `workflow-controller` environment

[2020-11-18 15:37] sylock commented on #4463
First about the archived listing.

Targeting the right API endpoint (without the trailing slash), I get 3 objects:
[code]
But from the UI I see only one:
![2020-11-18_16h34_42](https://user-images.githubusercontent.com/2362405/99551422-21a53e00-29bc-11eb-903d-e0e54dcbd812.png)

[2020-11-18 15:38] #4544 closed

[2020-11-18 15:44] sylock commented on #4463
I deleted the 2 pods of the argo-workflow to get fresh logs. The last job I run is 83adc3b5-3690-4b32-b408-b672fab31378.
[argo-server-766f9c855c-jm9c5.log](https://github.com/argoproj/argo/files/5561117/argo-server-766f9c855c-jm9c5.log)

Even without seing them from the Timeline page of the UI, I can directly access it from the url:
https://resilience-argo.<domain>/archived-workflows/quickstart-nm

[2020-11-18 16:52] cgorman commented on #4484
Awesome, thanks!

[2020-11-18 17:30] alexec commented on #4551
@simster7 anyway we could redesign this? This is not the first time it's had problems. That change was far away from the place of impact. What about using the workflow informer and querying it? Maybe using an indexer?

[2020-11-18 17:31] alexec commented on #4048
@ebr try them both.

[2020-11-18 17:37] alexec commented on #4463
I can't see filters in the new screenshot. This page filters by date by default. Can you check the actual HTTP request made in your browser console?

Next steps - can we get on a Zoom?

If not, can I get you to provide the full YAML for the `argo-server` pod? I want to check that `/tmp` is mounted.

[2020-11-18 17:39] simster7 commented on #4551
Yes, I am considering a "polling" redesign similar to that of the workflow controller, where the metrics code reads from the workflow lister every 10 seconds and updates the metrics as needed.

However I am reluctant to redesign this off the bat. The design of this was fairly robust before #4025. Although the change is far from the metrics code, this part of the code is dependent on the informers

[2020-11-18 17:41] alexec commented on #4551
I get it, but my take is that if you read from the informer - you'll get accurate values - and it is hard for someone else to break this with another change.

I'm happy to take ownership of a fix for this if you like - I'm keen for you to get your hands dirty with the new UI.

[2020-11-18 18:02] alexec commented on #4551
POC:
[diff.txt](https://github.com/argoproj/argo/files/5561829/diff.txt)

[2020-11-18 18:10] sarabala1979 commented on #4550
@mailtoraja18  https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets-as-files-from-a-pod

[code]

[2020-11-18 18:52] alexec opened #4556 "Improve docs around inputs and arguments"
New Relic highlighted that it is hard to understand these concepts.

[2020-11-18 19:35] simster7 commented on #4551
This is exactly the issue. I have pinpointed the bug to the informer not producing correct information.

No thanks, I'd like to own this issue

[2020-11-18 19:40] kennytrytek-wf commented on #4510
Yes, this is the argo server API as it compares to the generated OpenAPI client. I know the argo-client-python project exists, but I want to use the client as generated from the OpenAPI spec to ensure it is always compatible with the version of Argo server we have deployed.

My question is more fundamental about how the OpenAPI spec and Argo server relate to each other; _should_ the server return

[2020-11-18 19:41] simster7 commented on #4551
Question is now if we should investigate why this is the issue or change tracks and redesign

[2020-11-18 20:18] ebr commented on #4048
Still an issue with 2.11.7 (i can share some screenshots privately or Zoom). I also raised `--qps`, `--burst` and `--pod-workers` to 10x-20x above than the defaults.

`:latest` is 2.12.x - will trying it prevent me from reverting to 2.11.7 (we're offloading to Postgres)

[2020-11-18 22:04] mailtoraja18 commented on #4550
kube secrets is possible but cannot use due to policy restrictions of secrets in the cluster. I can fetch it into the container . Can we make change to supply a property file instead of reading from secret ?

[2020-11-19 00:01] alexec commented on #4048
You should be able to revert, but I'd recommend you try in a test env.

[2020-11-19 00:11] ebr commented on #4048
We are not lucky enough to have a test env :) In a middle of a massive production run right now. so we're doing it live.
I went for 2.12.0-rc2, and as soon as I upgraded the controller, a lot of the step nodes got "unstuck" and shot for the moon, creating all the pods. but some kind of upper bound still exists. E.g., deploying a workflow with a `withItems` step which is supposed to create ~8000 it

[2020-11-19 00:36] alexec commented on #4048
Does it come unstuck after 20m (at which time there is a resync)?

[2020-11-19 00:50] ebr commented on #4048
Unfortunately, no. E.g. we have a couple of wfs right now that have been "stuck" this way with 0 pods (because they have been GC'd), but no new pods are being created for those wfs. Other wfs (like the chunked-up ones i described above) are happily creating pods though.

[2020-11-19 00:57] alexec commented on #4048
Can we Zoom? I'd like to investigate online.

[2020-11-19 01:09] ebr commented on #4048
That would be fantastic. Could we organize it for tomorrow, as it's getting late here (EST)? I'll make sure to keep the stuck workflows around (though it's reproducible, so that's not an issue). I can message you on Slack to organize, if that's ok.

[2020-11-19 02:56] monsterxx03 opened #4558 "Cronworkflow still trigger twice after upgraded to v2.12.0-rc1"
## Summary

Hi, In #4445 , I reported two issues, suspend/resume cronwf will 100% trigger two workflows, it's fixed after v2.12.0-rc1. Another issue is cronwf will randomly trigger two workflows at scheduled time. I still come to it 3 or 4 times everyday, I have batch of cronwf, scheduled at different intervals(every X mins, daily, hourly...), trigger twice issue happens to random one. I did some

[2020-11-19 04:05] alexec commented on #4048
I'm in PST.

[2020-11-19 07:17] lonsdale8734 commented on #4521
@sarabala1979  After working through the source code, I found this line problematic.
https://github.com/argoproj/argo/blob/2a3f59c10ae260a460b6ad97a0cadd8667d4b488/workflow/controller/operator.go#L719

When a Pod is missing, it cannot be retrieved. And then `assessNodeStatus` will not work.
https://github.com/argoproj/argo/blob/2a3f59c10ae260a460b6ad97a0cadd8667d4b488/workflow/controller/operator.

[2020-11-19 09:43] iven commented on #3041
I think this issue should be reopened, as there's no solution right now, only workarounds.
I'm trying to set `activeDeadlineSeconds` in Argo Workflow, and also meet this problem. It's too complicated to represent the entire structure as JSON, as the workaround said above.

[2020-11-19 15:22] simster7 commented on #4558
Will take a look

[2020-11-19 15:51] radcheb commented on #1095
Seems to be the same as here: https://github.com/kubeflow/pipelines/issues/3550

[2020-11-19 16:50] alexec opened #4559 "Flakey test `TestResourceTemplateStopAndTerminate/ResourceTemplateStop`"
Flakey, not as often as other examples.

https://github.com/argoproj/argo/pull/4470/checks?check_run_id=1422010222

[code]

[2020-11-19 16:57] alexec commented on #3041
@iven I think a new issue is in order - one to support templating for non-strig fields. Could you like to open it?

[2020-11-19 16:58] alexec commented on #4521
@lonsdale8734 the code you indicate is old (maybe v2.10) and this has changed recently to use an informer.

[2020-11-19 16:59] jkgeyti commented on #4048
We're seeing the exact issues in 2.11 as well, when submitting hundreds of workflows. If possible, I'd be delighted to join the call.

[2020-11-19 17:00] alexec commented on #4048
Ping me on the Slack channel.

[2020-11-19 17:13] alexec opened #4560 "Zombie workflows (aka "stuck workflows")"
A "zombie workflow" is one that starts but does not complete. Pods are scheduled and run to completion, but the workflow is not subsequently updated.

It is as if the workflow controller never sees the pod changes.

Impacted users:

* @BlackRider97
* @AbhishekMallick
* @jayz28
* @ebr
* @jkgeyti
* @TekTimmy

All users have been running very large workflows.

Typically:

* Zombie workflows are runni

[2020-11-19 17:35] #4398 closed

[2020-11-19 17:35] alexec commented on #4048
Closing as we have #4560 now.

[2020-11-19 17:56] ebr commented on #4560
Not sure if relevant: immediately following the controller restart, Kubelet operation rate for `inspect_container` and `inspect_image` increases to ~10x higher than the usual baseline. It subsides eventually. No other metrics are correlated, in kubelet or elsewhere:
![image](https://user-images.githubusercontent.com/2433541/99704394-54a40c00-2a66-11eb-91c9-4c276eb4e4e3.png)
(If this sounds like a

[2020-11-19 18:20] #4124 closed

[2020-11-19 18:23] alexec opened #4561 "Limit total number of pods created by the controller"
# Summary

Kubernetes clusters often max out with a number of scheduled running pods.  For us, limiting this to 5k allow us to protect ourselves.

# Use Cases

Prevent broken clusters. Protect other cluster users.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-11-19 18:23] alexec commented on #4561
@jessesuen @sarabala1979 thoughts?

[2020-11-19 18:25] #4532 closed

[2020-11-19 18:30] alexec opened #4563 "Is `podReconciliation` upside down?"
# Summary

`podReconciliation` iterates over every pod returned for the workflow.  This could be thousands of pods. Could somehow iterating over nodes be faster?

# Use Cases

Contra:
I believe that most of the reconciliation time is JSON marshaling.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-11-19 18:37] ebr opened #4565 "Workflow steps fail with a 'pod deleted' message."
## Summary

Maybe related to #3381?

Some of the workflow steps end up in `Error` state, with `pod deleted`. I am not sure which of the following data points are relevant, but listing all observations:

- the workflow uses `PodGC: strategy: OnPodSuccess`.
- we are seeing this for ~5% of workflow steps.
- affected steps are a part of a `withItems` loop
- the workflow is not large - ~170 to 300 conc

[2020-11-19 18:40] alexec commented on #4565
I'm betting this is caused by #4024.

[2020-11-19 18:41] alexec commented on #4565
Can you please try running your controller with `INFORMER_WRITE_BACK=false`?

[2020-11-19 19:13] ebr commented on #4565
Can confirm that we are seeing zero occurrences of this with `INFORMER_WRITE_BACK=false`, on a 10x larger workflow. We'll leave it like this for now. Are there any performance/reliability issues to look out for with this flag?

[2020-11-19 19:22] ebr commented on #4561
This would be very welcome, but definitely should be configurable. With the latest scalability improvements in v2.12 we were finally able to hit over 12K concurrent pods on our EKS cluster yesterday, and that made us very happy.

[2020-11-19 19:26] alexec commented on #4565
`INFORMER_WRITE_BACK=false` only points to a solution - it is not the solution itself and it comes with a performance cost

[2020-11-19 19:26] alexec commented on #4565
If I create an engineering build - can you please test it?

[2020-11-19 19:27] simster7 commented on #4558
@monsterxx03 I'm having a difficult time reproducing this. My initial suspicion is that our `syncAllWorkflows` function -- which runs ever 10 seconds -- will sometimes run at exactly the same time as the scheduled `Run` function (which is what actually triggers the CronWorkflow).

My hypothesis is that `syncAllWorkflows` will pick up a stale CronWorkflow from the informer and persist it.

I will l

[2020-11-19 19:33] ebr commented on #4565
Certainly! will it also include what we discussed re: #4560 ?

[2020-11-19 19:39] alexec commented on #4565
Please can you try `argoproj/workflow-controller:grace` and check to see if `allowing a short grace-period before marking node as error` is logged?

[2020-11-19 19:48] ebr commented on #4565
@alexec should I also remove the `INFORMER_WRITE_BACK` envvar?

[2020-11-19 19:49] terrytangyuan commented on #3768
Looks like this document has been added already. We can close this now? @alexec

[2020-11-19 19:51] #3768 closed

[2020-11-19 19:51] alexec commented on #4565
Yes. Remove `INFORMER_WRITE_BACK`.

[2020-11-19 19:53] sarabala1979 commented on #4561
Pods are created at the workflow level, not at the global controller level.
option 1:
Workflow can have podCreateStrategy which user configure for pod creation limit with delay. We need to consider 10s reconciliation
[code]
option 2:
Refactor Pod creation to the common queue based worker with the rate limit.

option 3:
I am not sure we can configure the API rate limit on k8s API server

[2020-11-19 19:56] simster7 commented on #4563
Closed per Alex's request

[2020-11-19 19:56] #4563 closed

[2020-11-19 20:30] crenshaw-dev opened #4568 "The 2.12.0-rc2 binaries aren't compressed"
The [release page](https://github.com/argoproj/argo/releases/tag/v2.12.0-rc2) has instructions for compressed binaries, but they aren't actually compressed.

So either the assets or the instructions should be updated.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-11-19 20:47] ebr commented on #4565
Still seeing ~3% of pods being deleted on `:grace`, and no log messages with `grace-period`. I'd like to revert to 2.12.0rc2 and set `INFORM_WRITE_BACK=false` for now - is that safe aside from the performance cost?

[2020-11-19 20:53] simster7 commented on #4568
Fixed

[2020-11-19 20:53] #4568 closed

[2020-11-19 21:35] alexec commented on #4565
@ebr  - no - that is an unsupported development flag.

This is a blocking issue for v2.12 and does need to be fixed.

[2020-11-19 21:43] ebr commented on #4560
Testing this on `:latest`.
- a workflow is started where `withItems` is used on a step template, expecting to spawn 8172 nodes with children, for a total of ~40K nodes in the workflow
- iteration begins and pods are started, but pauses at item 1256 with the same symptom as originally described (parent node shows "running", one child node has completed, but no further child nodes are being created)

[2020-11-19 21:50] alexec commented on #4565
I've just updated the build with a longer grace period and more logging. Could you please try it out?

[2020-11-19 22:28] alexec commented on #4560
Thank you. Can you try this?

Run argoproj/workflow-controller:mot.with env MAX_OPERATION_TIME=30s. Make sure it logs defaultRequeueTime=30s maxOperationTime=30s. Hypothesis: we need more time to schedule pods.

[2020-11-19 22:45] ebr commented on #4565
no longer seeing this on `:grace`! but no log messages either.

[2020-11-19 22:51] ebr commented on #4560
I did have `INFORMER_WRITE_BACK=false` both set and not set, as I'm also testing #4565 in parallel :)

Seeing same behaviour on `:no-sig`. I can try `:mot` now as you describe above.

[2020-11-19 22:58] alexec commented on #4565
can you tell me if you see `recentlyStarted` in your logs?

[2020-11-19 23:08] ebr commented on #4565
No `recentlyStarted`.... I'm going to try reproducing this again on 2.12rc2

[2020-11-19 23:10] alexec commented on #4565
That's really odd. You should absolutely see it. What is your log level? `info`? Is your your `imagePullPolicy` set to `Always`?

[2020-11-19 23:11] ebr commented on #4565
Log level `debug` as we set in our Zoom troubleshooting and I haven't changed it; `imagePullPolicy: Always`.

[2020-11-19 23:19] ebr commented on #4565
there are definitely dozens of pods being started and completed, and none of the given strings appear in the controller logs.... I double checked that I'm still on `:grace`.

[2020-11-19 23:23] alexec commented on #4565
Do you see `Pod for node deleted`? You should not.

[2020-11-19 23:24] ebr commented on #4565
No, I'm not seeing that. but I'm no longer seeing deleted pods either

[2020-11-19 23:29] alexec commented on #4565
Ok, I did not `docker push` the very latest version. I have now pushed it if yo have time to test and check for `recentlyStarted` in your logs.

[2020-11-19 23:30] alexec commented on #4565
Why am I asking again? Seeing `recentlyStarted: true` will give me confidence that fix is correct. Not something else changed.

[2020-11-19 23:35] ebr commented on #4565
Sounds good, I will try right now before signing off for the day. thanks for all your attention to this!

[2020-11-20 00:10] ebr commented on #4565
I wasn't able to reproduce this at all (still on `:grace`). And see none of the above log messages...
Tomorrow I'm going to try reproducing this again on 2.12.0rc2
A silly thought perhaps, but could this have been caused by another workflow? The only thing that changed throughout the day (aside from my testing) was that we deleted some previously failed workflows.

[2020-11-20 00:11] #4368 closed

[2020-11-20 02:00] monsterxx03 commented on #4558
@simster7  It's okay, can you share a docker image to me? I can run it to collect logs

[2020-11-20 02:54] peng09 opened #4570 "Workflow controller fails when dependencies (not depends) are UUIDs"
## Summary

What happened/what you expected to happen?
I set argo workflow `Dependencies` to a UUID, not using `Depends` in the spec. The MR #4218 only fix the case when we are using `Depends`.

Related issue #4199

## Diagnostics

What Kubernetes provider are you using?
Local

What version of Argo Workflows are you running?
release-2.10

[code]

[code]

---

**Message from the maintainers**:

Imp

[2020-11-20 06:13] iven opened #4571 "Add workflow variable support for non-string fields"
# Summary

What change needs making?

Currently workflow variables can only be used in string fields(#3041), we should add support for non-string fields.

# Use Cases

When would you use this?

For example, `activeDeadlineSeconds` is an int64 field in Argo. If I want to set the value from a parameter:

[code]

, a validation error will be raised:

[code]

Using yaml's type cast is also not possibl

[2020-11-20 06:14] iven commented on #3041
Added #4571.

[2020-11-20 08:21] nojvek opened #4572 "WorkflowEventBinding passes raw go structs instead of json marshalled payload params"
## Summary

What happened/what you expected to happen?
Creating a simple WorkflowEventBinding for github that triggers workflows based on certain labels in PR.

Doing payload.pull_request.labels gives me a full go struct rather than a json object. Go structs aren't very useful since the lingua franca of the web is json. I can't easily pipe this into a python container and do something with labels.

[2020-11-20 08:28] nojvek commented on #4572
I've done some debugging. It seems the issue is at this line.

https://github.com/argoproj/argo/blob/176d890c1cac25856f67fbed4cc39a396aa87a93/server/event/dispatch/operation.go#L116

Rather than having an AnyStringPtr, we should probably jsonMarshall if the value is non string

[2020-11-20 09:57] zen-xu opened #4573 "How can I get sub workflow steps/tasks output?"
# Use Cases

When would you use this?

I created a cluster workflow template, which will do some tasks.
when I ref this template, I don't know how can I get the output from cluster workflow task/step.

For example

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-11-20 15:54] ebr commented on #4565
Update: we did see quite a lot of deleted pods through the night - hard to say how many exactly because we were running over 12,000 pods, but it's definitely in the thousands. this is still on `:grace`. So I guess it's not as *immediately* reproducible, but definitely still happening.
I can't say whether there were any log messages with `recentlyStarted: true`, as the controller is pumping out suc

[2020-11-20 16:32] ebr commented on #4560
Here's another perhaps relevant point: a workflow that is both: 1) stuck, AND 2) has a pod that's running, but is "frozen" (for a reason unrelated to Argo, e.g. the Python process in the container locks up), I can get the workflow "unstuck" temporarily, to some degree, by forcing the pod to fail (`exec -it`, `kill python`). The step has a `retryPolicy`. It is retried, and at the same time a few mo

[2020-11-20 17:16] ebr commented on #4560
on `:mot`, with `MAX_OPERATION_TIME=30s`, confirmed in logs: `defaultRequeueTime=30s maxOperationTime=30s`

**everything just lit up like a christmas tree!** :heart_eyes_cat:

all "stuck" steps started up.

@alexec not to jinx it, but i think we have a winner!

[2020-11-20 17:47] ebr opened #4576 "gRPC message too large when getting status of a very large workflow"
## Summary

Trying to get details on a very large workflow after it progresses beyond a certain point (unclear what that point is), returns a message:

`FATA[0004] rpc error: code = ResourceExhausted desc = grpc: trying to send message larger than max (113030693 vs. 104857600)`

This workflow is offloaded, and current progress (retrieved by `kubectl get wf -o yaml`) is `progress: 26372/27798`.

Co

[2020-11-20 17:57] ryedin commented on #4509
I'm sorry, we just moved back to 2.10 for now and I'm up against the wall on a huge project. no real spare cycles for this, and grabbing the full workflow actually requires grabbing all of the templates we're referencing, etc... then cleaning and redacting to post here... just not a priority right now.

fwiw, the only reason we need/want 2.11 is to get access to the startTime/endTime stats to aggr

[2020-11-20 18:53] alexec commented on #4509
OK. You're the only person to report this issue, so I'll shelf the investigation for the moment.

[2020-11-20 18:54] alexec commented on #4576
Duplicate of #4529

[2020-11-20 18:54] #4576 closed

[2020-11-20 18:56] alexec commented on #4560
Can I play this back:

* `:mot` with 30s fixed your problem.
* `:grace` did not sort fix the problem

[2020-11-20 18:57] alexec commented on #4573
I think this should probably be a question on StackOverflow?

[2020-11-20 19:20] ebr commented on #4560
Correct!

[2020-11-20 19:24] alexec commented on #4572
@nojvek can you please provide an example of the payload?

[2020-11-20 19:45] alexec commented on #4572
I've created an engineering build:

[code]

This is based on master.

[2020-11-20 19:48] tomgoren commented on #4560
We were able to replicate the findings here - can verify that the CPU usage is way down with hundreds of concurrent workflows running.

[2020-11-20 19:57] ericandrewmeadows opened #4578 "Pod Annotations do not work on Workflow Templates"
## Summary

I attempted to add `annotations` to a WorkflowTemplate Step, but only `labels` works.

Whenever `annotations` is added, neither labels nor annotations are populated on the pod itself.

## Diagnostics

What Kubernetes provider are you using?  `GKE`, v1.16

What version of Argo Workflows are you running?  `v2.12.0-rc2`

[code]

[code]

[2020-11-20 20:03] alexec commented on #4560
@tomgoren can you confirm which engineering build you ran please?

[2020-11-20 20:57] tomgoren commented on #4560
@alexec:
[code]

With:
[code]

[2020-11-20 23:21] kashook opened #4580 "Argo Server UI repeatedly requests resource with too old version"
## Summary

When viewing a workflow in the argo server web UI at the `/workflows/wf/[WORKFLOW-NAME]` route, the UI appears to watch for updates using a streaming connection to the `/api/v1/workflow-events/wf?listOptions.fieldSelector=metadata.name=[WORKFLOW-NAME]` route.  If the connection is interrupted for any reason, the UI reestablishes the connection, but it adds the `listOptions.resourceVers

[2020-11-21 01:01] #4239 closed

[2020-11-21 08:35] ebr commented on #2393
Would JSONPath-like `{{steps.write.outputs.parameters.number[*]}}` work? With `*` being the only supported value to clearly indicate that the entire array will be returned.

[2020-11-22 15:20] dtaniwaki opened #4583 "Cannot retry a steps workflow w/ pod creation failure"
## Summary

If a step group has pending/running nodes when it ends with an error node that failed to create a pod, the workflow cannot be retried because the completion states of pending/running nodes have not been synchronized, and they won't as the workflow itself finished with an error state.

My actual workflow failed with an API timeout of pod creation on a massive number of `withSequence`, b

[2020-11-22 15:22] dtaniwaki commented on #4583
I was trying to send a PR to fix this problem, but I'm not sure what the best solution is. Can we let a step group wait for all node completions even if some of them failed with errors? What's the final state of the step group w/ an error node after waiting for running nodes?

[2020-11-22 16:36] chermed opened #4584 "Cannot get the result outputs when we have many parents"
Bug report

## Summary

I have a dag :
[code]
## Diagnostics

What Kubernetes provider are you using?
` K8s Rev: v1.17.12+k3s1`

What version of Argo Workflows are you running?
[code]

[code]

![dag](https://i.ibb.co/0QPTb7j/Capture-d-e-cran-2020-11-22-a-17-31-25.png "DAG")

**The problem:**

The expression `{{tasks.FD.outputs.result}}` from the task `FD` is not rendered, it gives as value `{{task

[2020-11-22 16:59] chermed opened #4585 "Support of Sprig (filter for variables)"
# Summary

why not integrate a library like sprig (http://masterminds.github.io/sprig/) to be able to transform data without adding extra tasks, example:
[code]

What change needs making?

# Use Cases

When would you use this?
Let's assume that  I have many functions (top of serverless framework) that accepts JSON  as input and outputs
The syntax of the input json is `{"value": {"itemX","valueY}}`

[2020-11-22 23:09] dcherman opened #4587 "Use signed URLs when possible with artifact store"
# Summary

Right now when downloading an artifact, it's downloaded to a tmp file in the `argo-server` pod and subsequently returned to the client.  When downloading large files, this causes a large delay since the file first has to be downloaded to the pod before being able to serve a single byte, and also potentially increases costs since you'll have increased network traffic.

When possible, we

[2020-11-22 23:11] dcherman opened #4588 "argo-server goes OOM when serving large artifacts"
## Summary

When downloading very large artifacts, the `argo-server` pod can go OOM since we load the entire file into memory before serving it to the user.  Rather than loading the file into memory, we can just use `io.Copy` to serve the file from disk to the response directly.

## Diagnostics

What Kubernetes provider are you using?

k3d

What version of Argo Workflows are you running?

latest/e

[2020-11-23 00:04] chermed commented on #4584
### Another example :
[code]

### Console output :

[code]

### Logs (results not rendered)
[code]

[2020-11-23 01:27] Bobgy commented on #4355
I've got a round of feedback internally, I'll soon update the feature requests to reflect latest discussion.

[2020-11-23 02:14] Bobgy commented on #1095
@radcheb it's different from kubeflow/pipelines#3550 where people reports a memory leak for KFP, but not argo

[2020-11-23 02:33] #4038 closed

[2020-11-23 09:10] iven commented on #2288
I tried to dig into this issue, here is some notes:

- To be consist with k8s label selector syntax, Argo uses k8s apimachinery library to parse the conditions
- apimachinery library parse the conditions, and split them into key-values, and validate them(https://github.com/kubernetes/apimachinery/blob/2456ebdaba229616fab2161a615148884b46644b/pkg/util/validation/validation.go#L42)
- The validator s

[2020-11-23 10:44] sylock commented on #4463
I Alex,

Thank you for you help. I found a solution for both problems. Indeed, there was no volume monted on /tmp of the argo-server pods. It was not an issue when I tried it on a raw kubernetes. But on openshift with the PNS engine, it did throw my issue.

I can suggest to check and log at the boot of argo-server when PNS is used and argo-server has no volume monted on /tmp, as a request for impr

[2020-11-23 10:47] markterm commented on #4464
Just checking if this is going to be merged?

[2020-11-23 12:35] simster7 commented on #4558
Will work on this today

[2020-11-23 18:21] alexec commented on #4464
I've just re-implemented this is a simpler version. It's targetted for v2.12 which is rc-3 today.

[2020-11-23 18:21] alexec commented on #4463
That's odd. The installation manifests do mount /tmp.

[2020-11-23 18:26] alexec commented on #4583
Could we just modify the code to allow you to retry workflows where nodes were pending? Any reason not to? I feel like we should always allow to retry a workflow as you're trying to fix a problem, and you don't want another problem.

[2020-11-23 18:52] duongnt commented on #2333
@alexec we're still seeing this issue in 2.10.0

[2020-11-23 18:59] markterm commented on #4464
great - thanks!

On Mon, 23 Nov 2020 at 18:21, Alex Collins <notifications@github.com> wrote:

[2020-11-23 19:01] alexec commented on #2333
Please upgrade to v2.11.8

[2020-11-23 19:07] #4472 closed

[2020-11-23 19:07] #4502 closed

[2020-11-23 19:08] #4203 closed

[2020-11-23 19:11] #3881 closed

[2020-11-23 19:11] #3753 closed

[2020-11-23 19:56] changhc commented on #2314
Hi, sorry I was a bit occupied after my last comment. I've confirmed that this issue is still reproducible with the latest commit.

Initially I tried to fix this, but then I started to wonder if we should really fix this. What if a user really wants to print `{{tasks.generate-parameter.outputs.parameters.hello-param}}`? Are we going to allow users to escape double brackets?

[2020-11-23 19:56] alexec commented on #4580
A work-around is to close the browser so it stops making requests.

[2020-11-23 19:58] alexec commented on #4583
@dtaniwaki look at `retryWorkflow`? I think you just need to add a switch block for pending.

[2020-11-23 19:59] kashook commented on #4580
I don't have control of all of the end user's browsers unfortunately.

[2020-11-23 20:00] alexec commented on #4585
This is an interesting idea. Would you like to submit a PR? @simster7 might be willing to give pointers.

[2020-11-23 20:02] alexec commented on #4565
Not fixed - but less of a problem?

[2020-11-23 20:10] erhhung commented on #3971
If by

you mean you're having to repeat this block of YAML, then it looks like native **YAML anchors and aliases** should help. No special support from Argo itself should be necessary.

[code]

[2020-11-23 20:30] #4464 closed

[2020-11-23 20:39] kashook commented on #4580
With the suggested workaround of "close the browser", if one or more users' browsers start flooding the server with these requests, we would have to somehow track those people down and ask them to close their browser, or make netpol or security group changes to block traffic from their machine, and then eventually unblock it once they realize they can no longer reach the server and complain to us.

[2020-11-23 20:41] alexec commented on #4560
I've created a POC engineering build that uses S3 to offload and archive workflows to instead of MySQL or Postgres. My hypothesis is that offloading there maybe faster for users running large (5009+ node) workflows, or that archiving maybe more to many users. On top of this, it maybe cheaper for many users. I challenge you to prove me wrong. https://github.com/argoproj/argo/pull/4582

[2020-11-23 20:42] alexec commented on #4565
Ah -  the `:grace` version does not have any fixes from `:mot` (which is now merged to `:latest`). If I create a new engineering build of `:grace` that includes that - could you test the together?

[2020-11-23 20:44] alexec commented on #4565
Done. `argoproj/workflow-controller:grace` has both fixes.

[2020-11-23 20:47] alexec commented on #4584
I'm not sure this is a bug - I don't think this feature ever existed.

[2020-11-23 20:48] #4048 closed

[2020-11-23 20:48] alexec commented on #4584
Related? #2393, #934

[2020-11-23 20:49] alexec commented on #4584
@chermed do you think I'm correct?

[2020-11-23 21:31] #4475 closed

[2020-11-23 21:34] alexec commented on #4506
@simster7 I'm stealing this chore if that is ok?

[2020-11-23 21:39] alexec commented on #3648
@simster7 could this be a solution the duplicate cron workflows #4558 - simply make it impossible?

[2020-11-23 22:32] #4252 closed

[2020-11-23 22:44] alexec commented on #4506
Done. See `scoped-local-storage.ts`

[2020-11-23 22:44] #4506 closed

[2020-11-23 23:45] dtaniwaki commented on #4583
In this case, the pending node is the one actually succeeded, but as the pod creation error in another node marked the parent node (step group) error before it would detect the pod completion, it never checked the state of the pending node.

@alexec Could you tell me how I can solve this issue by using retry? By the way, modifying the pending node state in workflow resource manually is not a good

[2020-11-24 00:20] saward commented on #1457
I'm getting this more frequently now.  Using argo 2.11.2.

[2020-11-24 00:36] saward commented on #1457
Based on the issue linked previously (https://github.com/src-d/go-git/issues/1033#issuecomment-522245481), I tried setting "depth: 1", and that appeared to allow it to clone.  So looks like it may be an issue with go-git and ssh keys for repositories that are larger.

[2020-11-24 00:40] #4588 closed

[2020-11-24 00:43] alexec commented on #4583
I'm not sure we'd want to postpone a workflow failure because one node is still running - this is faster feedback.

What about terminating pending nodes on workflow failure?

[2020-11-24 04:36] thundergolfer commented on #2314
I'd guess that 99/100 times they wouldn't want to print that, and it'd be a mistake in their task dependency specification.

[2020-11-24 11:10] EricYqd opened #4591 "argo ui build"
# Summary

I want to deploy the latest version of UI. I encounter various problems during the build process. Can I provide argoui dockerfile or image.

Thanks very  much！👍

[2020-11-24 13:18] hadim opened #4592 "Output artifacts saving sometime fails using Workload Identity on a GKE cluster"
## Setup

Running Argo 2.10.2 and the log bucket is a GCS one relying on Workload Identity.

## Issue

It seems that the default service account is used when retrieving logs from an archived workflow. Two things, let me think that:

- the error message is the following:

[code]

It contains `instance/service-accounts/default/token` which refers to a `default` SA.

- When I annotate the `default` S

[2020-11-24 14:28] tomqwpl opened #4593 "Quickstart "namespace" manifest causes lots of errors in workflow controller log"
## Summary

I installed the namespaced-install manifest : https://github.com/argoproj/argo/blob/master/manifests/namespace-install.yaml
In the log for the workflow controller, I then get 1 message every second saying:

     E1124 14:17:29.471963       1 reflector.go:153] pkg/mod/k8s.io/client-go@v0.17.8/tools/cache/reflector.go:105: Failed to list *unstructured.Unstructured: clusterworkflowtemplat

[2020-11-24 15:40] dtaniwaki commented on #4583
Sorry, my example was not good. My actual problematic workflow met a Kubernetes API timeout of 30 seconds, so other nodes already became `Running`. I think we can't randomly terminate running nodes.

[2020-11-24 16:06] tomqwpl commented on #4593
That's interesting. I have removed the "instanceID" configuration and it now works. I don't get the log messages, and it runs my workflow.
I was expecting to have to specify an instanceID, as well. We have a "globally installed" argo, that's watching all namespaces, and doesn't have an instanceID, so picks up anything anywhere without an instanceid annotation. So I specified instanceID on my insta

[2020-11-24 16:11] hadim commented on #4592
Note that the argo controller does not have the permission to upload the logs. Is the controller supposed to be able to upload logs to a bucket?

[2020-11-24 16:15] hadim commented on #4592
I guess my question is which service accounts are supposed to have the correct credential to read/write logs? `argo` used by the controller, `argo-server` used by the server and/or `workflow` used by the workflow's pod. It looks like the answer is all of them. AM I correct?

[2020-11-24 16:18] tomqwpl commented on #4593
Very strange.
I've been through the process again, and now my symptoms have changed. Having put the instanceID back, I now just get:

    time="2020-11-24T16:15:57Z" level=warning msg="Controller doesn't have RBAC access for ClusterWorkflowTemplates"

once, and the result works.

[2020-11-24 16:29] tomqwpl commented on #2522
Is it worthwhile including the minimum service account role in the manifests? At least they are then there for people to use. Any deployment outside of minikube or docker desktop etc is going to need to do this to make "hello world" work, and it's taken me a while to figure this out. I can't find any reference on the documentation on the https://argoproj.github.io/argo/ website to this?

[2020-11-24 17:27] alexec commented on #4593
You're not applying the master version of these manifests because the controller is logging the version as `v2.11.8` not `9ee4d446c1908f59240ca4b814ba565bb1acbc1f` (i.e. `latest`).

I would expect `Controller doesn't have RBAC access for ClusterWorkflowTemplates` to be logged for a namespace install.  However, instance ID configuration should not have any impact on this, as we ignore this value fo

[2020-11-24 17:29] alexec commented on #4592
The Argo Server, in `server` auth mode uses the `argo-server` service account. In `client` auth mode, it will use the service account related you provided. Could the latter be a possibility?

[2020-11-24 17:30] alexec commented on #4583
OK. Any other proposals?

[2020-11-24 17:31] alexec commented on #4591
You can pull the latest from Docker:

[code]

If you want to test the v3 UI:

[code]

[2020-11-24 17:42] rmgpinto commented on #4558
We're having the same issue.

[2020-11-24 17:44] hadim commented on #4592
I am currently using the `client` auth model with the `argo-server` token and the UI confirms the `argo-server` SA is actually used. I actually noticed the same issue some time to upload the logs when a workflow terminates.

So if I understand correctly the only and only one process that read/write logs is tighter to the SA provided in `client` auth mode? Do you confirm that neither the `argo-serv

[2020-11-24 17:58] alexec commented on #4592
For `kubectl logs`:

* Workflow logs are always created by the workflow pod and therefore using the service account the workflow pod is configured to use.
* The controller never reads or writes logs (except writing its own obviously).
* The server only ever reads logs (except writing its own log).

For logs stored in your artifact repository (e.g. `main.log`):

* The workflow pods write these logs

[2020-11-24 18:00] alexec commented on #4558
@simster7 I'm going to push using the timestamp to create a deterministic name solution again, this is what `CronJob` does:

https://github.com/kubernetes/kubernetes/blob/0b1d94a849e3e31d83b8e29454bf6698b93a8f11/pkg/controller/cronjob/cronjob_controllerv2.go#L594

[2020-11-24 18:01] alexec commented on #3648
https://github.com/kubernetes/kubernetes/blob/0b1d94a849e3e31d83b8e29454bf6698b93a8f11/pkg/controller/cronjob/cronjob_controllerv2.go#L594

[2020-11-24 18:02] simster7 commented on #4558
Sure, will take a look

[2020-11-24 18:02] alexec commented on #4558
1. Using an opaque but deterministic name will prevent users from trying to parse the name.
2. I'm not sure if/what we do about corn workflows that schedule more often than once per minute.
3. We should use the scheduled time, not `time.Now()` obviously.

[2020-11-24 18:05] hadim commented on #4592
Thanks a lot, @alexec, this is what I had in mind without being sure. Now it's crystal clear. I will investigate on my side then and report here any interesting things related to GKE and workload identity (likely to be the culprit here).

That being said I am still confused about this `default` SA that makes it worked when I annotate it with the workload identity tag...

[2020-11-24 18:05] #4463 closed

[2020-11-24 18:56] simster7 commented on #4591
There is a typo above. The correct image name is `argoproj/argocli:...`

[2020-11-24 18:59] alexec commented on #4477
Good work!

[2020-11-24 18:59] #4477 closed

[2020-11-24 18:59] alexec commented on #4477
https://argoproj.github.io/argo/ide-setup/#vscode

[2020-11-24 19:15] simster7 commented on #4559
@sarabala1979 owns this test

[2020-11-24 19:23] alexec opened #4596 "`argo watch` can fail with `too old resource version`"
## Summary

`argo watch` can return `too old resource version` after a long time and we could be tolerant of this.

## Diagnostics

This will be a challenge to fix. It only happens after a long time and the action you need to take will vary.

See #4580

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-11-24 21:03] ebr commented on #4565
hey @alexec - thank you - I was offline for a couple of days, but will test it as soon as I can. It is unlikely to happen today.

This is correct. Definitely not as reproducible anymore. For what it's worth, my team has been running jobs on the  `:mot` build since Friday (4 days), and many very large workflows have completed perfectly, while some smaller ones experienced pod deletion. There doesn'

[2020-11-24 21:25] thedewpoint commented on #3619
hey @LazyBrush did you ever get your docker image build and push workflow working? I'm trying to do the same but struggling to find a working example. Thank you!

[2020-11-24 21:36] #4050 closed

[2020-11-25 01:58] EricYqd commented on #4591
First of all, thank you for your reply ，I have try   docker pull   argoproj/argoui:latest   ，but  is not the latest version of argo UI， Because it can only be used to read, not to update， I just tried your way, but it can not start  running ，Some startup parameters are required； I  pulled image “argoproj/argoclil:ui-v3 ”  but error message：”Error response from daemon: pull access denied for argopr

[2020-11-25 02:13] alexec commented on #3619
https://raw.githubusercontent.com/argoproj-labs/argo-workflows-catalog/master/templates/buildkit/manifests.yaml

[2020-11-25 02:35] zen-xu commented on #4573
**ref**
https://stackoverflow.com/questions/64961805/how-can-i-get-sub-workflow-steps-tasks-output

[2020-11-25 02:35] #4573 closed

[2020-11-25 05:07] ebr commented on #4565
Some more deleted pods today; i switched to `:grace`. Seeing this:

![image](https://user-images.githubusercontent.com/2433541/100185259-6b58c180-2eb1-11eb-9b57-6d0873caadd5.png)

- significant increase in RAM usage of the workflow controller
- still some deleted pods, very few and very intermittent
- still **not** seeing any log messages like `recentlyStarted: true` or `grace`, but also due to th

[2020-11-25 08:30] sylock commented on #4463
It's true. Indeed, I took the work (manifest) of a collegue and port it to openshift 4. He flatten the manifest into one file and I see there are differences between the upstream manifest and what I have.
I need to change that. So one question : what is the best way to use your manifest "out of the box" while bringing the modifications needed for my environment. Of course I could fork the repo and

[2020-11-25 09:04] tomqwpl commented on #4593
OK. Thanks.
I think I know what I probably did. I started out by just following the instructions to install the normal manifest, and then probably later tried to delete everything and install the namespaced one. One was probably the released one and one was master, and I probably didn't delete everything I needed to in between.
Good news is that it's working as expected now.
Thanks

[2020-11-25 09:04] #4593 closed

[2020-11-25 11:00] clementlecorre commented on #4463
hi,
I also have systematic errors when I want to download artefacts.

Ui error: I have error 500
`open /tmp/artifact390645041: no such file or directory`

argo-server: I see no error
`time="2020-11-25T10:55:45Z" level=info msg="Download artifact" artifactName=main-logs`

argo v.2.11.7
eks 1.16

[2020-11-25 15:36] sylock opened #4597 "UI live view hang on retryStrategy"
## Summary

When defining a step where the template have a retryStrategy (without maxDuration defined), the last step is hanging when looking its live progression through the UI (the step is running forever from the UI point of view).

Workaround: force a refresh of the browser with SHIFT+refresh button. Then you see that the workflow has passed and continued through its further steps.

[code]
##

[2020-11-25 16:34] hadim commented on #4592
From the [Workload Identity documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity#limitations):

It "could" explain why sometimes saving the log in the default artifacts sometimes works and sometimes failed

[2020-11-25 16:36] fsiegmund opened #4599 "Workflow executor waitMainContainerStart returns while main container is in waiting state"
## Summary

WorkflowExecutor.waitMainContainerStart returns while main container is in waiting state, which causes premature detection of main container completion. Pod sidecars get killed and pod fails.

## Diagnostics

What Kubernetes provider are you using?

GKE

What version of Argo Workflows are you running?

master

Paste a workflow that reproduces the bug, including status:

Random error. O

[2020-11-25 16:50] hadim commented on #4592
From the [Workload Identity documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity#limitations):

It "could" explain why sometimes saving the logs in the default artifacts sometimes works and sometimes failed. Here is the error I am getting from the `gke-metadata-server-xxx` pod when the saving step in the `wait` container fails:

[code]

Two things confused me:

-

[2020-11-25 17:02] alexec commented on #4565
*. `recentlyStarted` was logged at debug level. I've increased this to info level and published a new  `:grace` image.
* I've added `RECENTLY_STARTED_POD_DURATION=10s` you could try setting this to higher values, e.g. `RECENTLY_STARTED_POD_DURATION=30s` to see if that improves the issue.
* `:mot` is merged to master and the fix is on `:latest`.
* I would not expect to see increased RAM usage. Are

[2020-11-25 17:03] alexec commented on #4463
We use Kustomize.

[2020-11-25 18:40] Sharathmk99 commented on #4430
/bug

[2020-11-25 18:50] ebr commented on #4565
no worries and no rush - happy Thanksgiving! I actually did change to `:latest` shortly after posting the last reply, as I wasn't comfortable with the spurious restarts. And yes,  on `:latest` the restarts stopped, and the RAM usage went back down and flattened. I noticed that on `:grace` the RAM usage increased proportionately to the number of workflow pods in the cluster - which is not the case

[2020-11-25 21:11] nojvek commented on #4572
@alexec thanks for looking into this. The payload is a github payload for pull_request. Looks like this https://developer.github.com/webhooks/event-payloads/#pull_request

[code]

My intent was to capture `payload.pull_request.labels` and have it sent to the workflow as a json param.

[code]

**Actual**: (go formatted struct)

[code]

**Expected**: (json string)

[code]

[2020-11-26 18:53] alexec commented on #4572
OK. Can you please test the engineer build mentioned in my comment has addressed this please?

[2020-11-26 22:55] brabster opened #4602 "Examples do not validate by api/jsonschema/schema.json"
## Summary

Content of `examples` on master should validate against the JSON schema on master

## Diagnostics

Issues with
- string-or-int (eg. for port numbers) - can be fixed by setting schema type to `"type": ["string", "int"]`
- string-or-number (eg. workflow parameters defaults & values) - can be fixed by setting schema type to `"type": ["string", "number"]` - are they parsed or should these

[2020-11-26 23:01] brabster opened #4604 "Check examples validate as part of build"
# Summary

Require examples to validate against the JSON schema as part of build

# Use Cases

- Avoid deploying examples that don't validate for users
- Reminder to update schema if new capabilities added

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-11-26 23:03] brabster opened #4605 "argo lint to use JSON schema"
# Summary

argo lint CLI tool to use JSON schema for YAML validation

# Use Cases

- behaviour consistent with IDE validation when linting on the cli

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-11-27 01:37] hadim commented on #4592
After testing on a new cluster it seems to work ok. Since the GCP service account has been recreated during the lifetime of the previous cluster, I suspect the metadata server to have been confused by this (same name but probably a different uuid). ANyway with a new service account and a new cluster, it works. Hope it can be useful to someone else.

(that being said I am still confused why it work

[2020-11-27 01:37] #4592 closed

[2020-11-27 05:20] nojvek commented on #4572
Hi @alexec, I don't manage our argo install so not sure how to test this. If it's working in your tests, that is good enough. We will update to next release of argo when it's out.

[2020-11-27 11:41] lonsdale8734 commented on #1093
@jessesuen Why not discard `activeDeadlineSeconds` and leverage `workflows.argoproj.io/execution` to control the `Timeout` behavior?

[2020-11-27 12:26] susana-garcia opened #4607 "argo stop doesn't stop the workflow when it's already running"
## Summary

When executing the command in the cli `argo stop workflow-name` I expect the workflow to stop executing.

At the moment when executing the command, if the workflow is already running, it doesn't stop.

## Diagnostics

What Kubernetes provider are you using? GKE

What version of Argo Workflows are you running? v2.11.0-rc2

[code]

---

Impacted by this bug? Give it a 👍. We prioritise th

[2020-11-27 12:40] sylock opened #4608 "UI - choosing "all" as pagination of archived workflows throw a stacktrace"
## Summary

What happened/what you expected to happen?

- With the UI, go to `/archived-workflows/`
- On the bottom right choose in the pagination the option "all"
![2020-11-27_13h35_30](https://user-images.githubusercontent.com/2362405/100450351-c824c980-30b5-11eb-9f2a-5581f00cdaef.png)
- You get a stacktrace
![2020-11-27_13h38_39](https://user-images.githubusercontent.com/2362405/100450420-e38fd

[2020-11-27 12:52] sylock opened #4609 "UI - The cron refresh of the "Timeline" view throw an error"
## Summary

- From the UI, go to /workflows/
- First you get the list of your last workflows
- Do nothing and wait
- After some time instead of the list of workflows you get `Unknown error. Open your browser error console for more information.`

## Diagnostics

- From the UI, go to /workflows/
- First you get the list of your last workflows
![2020-11-27_13h53_12](https://user-images.githubusercont

[2020-11-27 18:39] #4078 closed

[2020-11-28 02:14] #4086 closed

[2020-11-28 15:20] chermed commented on #4584
@alexec  for me it's a bug because there are the parameter aggregation
The other example : [Working example](https://github.com/argoproj/argo/blob/master/examples/parameter-aggregation.yaml ) works well

[2020-11-28 23:47] #4092 closed

[2020-11-29 06:30] avifried1 opened #4612 "Use Email for SSO RBAC with Google OIDC"
# Summary

When using SSO auth mode with Google's OIDC, the issuer identifier (subject) is a unique user ID that isn't very useful and is hard to use for identifying users and managing RBAC permissions in a scalable way.

It will be more useful to use the user's email as the subject when using google as the OIDC provider.
per Google's [OIDC documentation](https://developers.google.com/identity/pro

[2020-11-29 08:30] FogDong opened #4613 "Kustomize install cluster argo error"
## Summary

Kustomize install cluster argo error

[code]
kustomize version: v3.8.7

## Diagnostics

What Kubernetes provider are you using?

What version of Argo Workflows are you running?
master branch

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-11-29 19:02] thedewpoint commented on #3619
@alexec thank you!

[2020-11-29 22:35] mkjpryor-stfc commented on #3587
This is required for caching large outputs because etcd places a limit on the maximum size of a configmap. Piggy-backing on the artifact storage sounds like it should be feasible to me.

[2020-11-30 04:55] #4108 closed

[2020-11-30 04:55] #1122 closed

[2020-11-30 13:18] artheus opened #4614 "Incorrect statement about assuming the workflow-controller is running in UTC timezone"
The statement about argo assuming that the workflow-controller is running in UTC is incorrect, as it actually expects the workflow-controller to be running in the same timezone as argo.

I've been testing this for my work, and by simply setting the `TZ` environment variable to a IANA standard timezone (in my case `CET`) for both the argo pod and the workflow-controller pod, UTC is completely out o

[2020-11-30 13:27] hadim opened #4615 "Label pod with workflow's labels"
Currently, the pods of a given workflow are labelled with `workflows.argoproj.io/completed` and `workflows.argoproj.io/workflow`. Could we also add the labels of the workflow to that list, something like:

[code]

[2020-11-30 16:04] ryedin opened #4616 "Provide alternate to downwardAPI for podmetadata volume/data"
# Summary

Currently, the use of the `downwardAPI` to project the `podmetadata` volume blocks the use of argo workflows on nodes that don't have support for downwardAPI projections. This is currently the case for Azure's `Virtual Nodes` feature for AKS. I have worked through all the other issues (ie using the `k8sapi` executor to get around the docker-sock problem), but this one is currently block

[2020-11-30 16:14] simster7 commented on #4614
The issue here is that the `workflow-controller` does not communicate at all with the UI/Argo Server and the CLI. This is by design, as we always want the source of truth to be the CRDs on the cluster. Because there is no direct communication between the controller and the clients, there is no way for the clients to know what timezone the controller is using and therefore impossible to guarantee w

[2020-11-30 16:15] simster7 commented on #4609
Possibly related tohttps://github.com/argoproj/argo/issues/4529. The same endpoint is implicated

[2020-11-30 16:22] simster7 commented on #4607
We will certainly need more information to debug this. Could you attach a minimal workflow that has this issue? We would need the "live" workflow CRD, which you can get by running `kubebctl get wf <NAME> -o yaml`. Also useful would be the `workflow-controller` logs around the time you stop the workflow.

[2020-11-30 16:36] alexec commented on #4614
I second Simon. There are no circumstances where I could recommend you run your installations in a non-UTC timezone, neither production or non-production. Combined with the fact that it is rare to do this, means that assuming UTC is a reasonable assumption in most cases. We do sign-post this, so if you are running non-UTC - then we cater for you.

[2020-11-30 16:45] alexec commented on #4616
Some of the code related to podmeta can be found in executor.go:

[code]

I believe this is used to see if the pod has been annotated with "execution control" and the main container must therefore be terminated.

This could be replaced by a `pod get` on the deadline timer.

Would you like to submit a PR?

[2020-11-30 16:46] alexec commented on #4616
@simster7 you know this code well - anything to add?

[2020-11-30 16:47] alexec commented on #4615
I think you can label your pods as follows. Look at `examples/pod-metadata.yaml`

[2020-11-30 16:56] hadim commented on #4615
Thanks. I am aware of this and should have mentioned it actually in my first message. I am looking for an automated way of doing it.

But maybe it's a too specific feature for Argo? (feel free to close if you think it is)

As a workaround, I'll use `examples/pod-metadata.yaml`.

[2020-11-30 17:16] simster7 commented on #4614
As a way to mitigate this, if a cron workflow has an explicit `timezone` set then we can confidently display its next runtime regardless of the timezone of the `workflow-controller` (and therefore get rid of this warning).

However, if not timezone is set this behavior remains the best way forward. I'll open a PR for this

[2020-11-30 17:24] #4513 closed

[2020-11-30 17:28] alexec commented on #4616
After a bit of an investigation - this is non-trivial. Each workflow pod running using the k8sapi executor creates a connection to the k8sapi to watch for changes to the pod. This means if a workflow has N pods, it has N connections. This solution does not scale and as a result, will not work for the `pns`, `docker` or `kubelet` executors.

We could move the responsibility of watching for annotati

[2020-11-30 17:54] sarabala1979 commented on #4578
@ericandrewmeadows  I couldn't able to reproduce the above example.  Label and Annotations are updated on pod spec.

WorkflowTemplate
[code]

workflow:
[code]

[code]

[2020-11-30 18:04] sarabala1979 commented on #4571
you can use `podSpecPatch` to parameterized value.

https://github.com/argoproj/argo/blob/master/examples/pod-spec-from-previous-step.yaml

[2020-11-30 18:28] iven commented on #4571
I think it only applies to container fields, while `activeDeadlineSeconds` in the example is a field of the template. I think it should not work.

[2020-11-30 18:42] sarabala1979 commented on #4571
- name: apply-manifest
    inputs:
      parameters:
      - name: manifest
      - name: timeout
    resource:
      action: apply
      manifest: "{{inputs.parameters.manifest}}"
    activeDeadlineSeconds: "{{inputs.parameters.timeout}}"

The above example is mentioning about template fields which will directly transform to podSpec. Template's activeDeadlineSeconds is `intstr` but it won't suppo

[2020-11-30 18:42] ryedin commented on #4616
coming in with low context, this does seem like potentially the optimal solution. e.g. with k8sapi set as the executor, and watching, the podmetadata volume is just moot?

I am slightly confused by this, in that I don't understand the relationship to the monitoring of the execution control annotation, and the workflow actually working. I thought the annotations were somehow critical to the correct

[2020-11-30 19:11] #4504 closed

[2020-11-30 19:11] #4503 closed

[2020-11-30 19:11] #4489 closed

[2020-11-30 19:14] #4524 closed

[2020-11-30 19:16] alexec commented on #4565
@ebr I think I've heard of one or two users mention this (but not reporting this by creating a ticket), so I assume they are not seriously impacted.

Let me know how you get on with `:grace` with `RECENTLY_STARTED_POD_DURATION=30s`.

[2020-11-30 19:16] #4570 closed

[2020-11-30 19:22] alexec commented on #4616
The annotations are used for terminating the pod - i.e. `argo stop`. If you can go without that capability - there is a simpler solution.

[2020-11-30 19:44] alexec commented on #4597
Is this reproducible? It seems unlikely to us it is a problem with retry. Maybe you could add any information from the browser console.

[2020-11-30 19:44] mecampbellsoup commented on #1033
Hi @alexmt I'm experiencing this issue in my local Argo installation (not production but very annoying to my dev workflow)...

[code]

Here are my k8s manifests related to Argo:

[code]

[code]

[code]

[2020-11-30 19:51] alexec commented on #4612
This should be easy for you to create a PR

[code]

That needs an `Email` field, e.g.:

[code]

Also need to update the docs and your config to add `email` to `sso.groups`

[2020-11-30 19:52] alexec commented on #4613
What version of Kustomize are you using? The latest v3?

[2020-11-30 19:54] alexec commented on #4615
Would you like to submit a PR to add this feature?

[2020-11-30 19:55] ryedin commented on #4616
ah ok, I understand. I do occasionally manually re-submit a flow, and then potentially delete the flow (from the UI), but those cases are typically when I'm debugging flows / configs.

We can honestly live without those functions for the stable production flows, if it means we can run on instantly scalable infra

[2020-11-30 19:58] alexec commented on #4616
We've just spoken about the lack of init containers. We must have a way to delay the start of the main container, and this is init containers.

Can you please link to the Azure issue?

[2020-11-30 20:02] ebr commented on #4560
Offloading to S3 would be very interesting and welcome. Will try it when I can! Over the past weekend we ended up running workflows of enormous size, on the `:latest` build, and highest node count we were able to get to, even with `MAX_OPERATION_TIME=600s`, was about 50,000 nodes. It's probably unreasonable to expect Argo to handle more at this point, but if anyone was curious about testing the li

[2020-11-30 20:06] hadim commented on #4615
I'll consider it for sure if the `examples/pod-metadata.yaml` becomes too cubersome.

[2020-11-30 20:13] #4599 closed

[2020-11-30 20:18] ryedin commented on #4616
The azure docs on virtual nodes (quick linked to limitations section): https://docs.microsoft.com/en-us/azure/aks/virtual-nodes#known-limitations

issue in azure-cli project I just created today to ask about potential support for downwardAPI volumes: https://github.com/virtual-kubelet/azure-aci/issues/91 (no movement yet)

And ah... I was not thinking about the `init` container. Interestingly, isn

[2020-11-30 20:32] ryedin commented on #4616
For our needs, I can re-implement those `script` tasks as `container/command` tasks and completely get rid of any task pods that create the `init` container (the rest of the pods are container/command tasks).

[2020-11-30 22:14] alexec commented on #4560
Excellent. Can you share a screenshot?

[2020-11-30 22:26] #3051 closed

[2020-12-01 01:31] #4608 closed

[2020-12-01 02:07] avifried1 commented on #4612
Will also be better to use Email, if available, in the `workflows.argoproj.io/creator` label

[2020-12-01 06:41] iven commented on #4571
@sarabala1979
Thanks, I get it, it should be a valid workaround for my case.

[2020-12-01 07:02] alexec commented on #3523
PoC findings:

* Assuming the same model as Argo CD for configuring works well. `argo cluster add other`
* What about cross-cluster Kubernetes API communications? Same issue as Argo CD?
* We primarily need to watch pods in other clusters - not workflows.
* It is not only pods, we will also need to create config maps and secrets for artifacts.
* Workflows run in a single namespace. What do we do wi

[2020-12-01 07:45] FogDong commented on #4613
yes the version of kustomize is  v3.8.7

[2020-12-01 08:54] artheus commented on #4614
Thank you for your input on this matter. I agree that it is a good pattern to use UTC as the default timezone in containers and on server hosts. Though this would make the logs a bit confusing for e.g. my workplace as we only exist within one timezone.

Even more confusing as we are still using summertime. So we toggle between CET and CEST every half year.
But I see your stand-point on this. And I

[2020-12-01 09:20] artheus commented on #4614
We´ve changed the timezone for our CronWorkflows internally now. That made me think that maybe the solution to this is just to add the timezone after the Z in the time format in the WebUI?

![image](https://user-images.githubusercontent.com/618946/100719942-949bb500-33bd-11eb-9551-e11b4ec63902.png)

Here you see that the next scheduled time is in [RFC3339](https://tools.ietf.org/html/rfc3339) form

[2020-12-01 09:22] artheus commented on #4614
Please also consider this: https://tools.ietf.org/html/rfc3339#section-4.3

[2020-12-01 15:44] alexec commented on #4613
I don't think this is an Argo issue, because we use Kustomize 3 to create our manifest. Could you share your files?

[2020-12-01 16:41] ryedin commented on #4616
So, I know we don't have a conceptual, generic solution for the init container beyond my willingness to re-implement our flows to avoid it completely, but as for the other main blocker, you mentioned there being a possible simpler solution (eg. having the optionality to not monitor the annotations).

I'm still slightly confused just because when I looks at the annotations in the cluster, they are

[2020-12-01 18:48] #4529 closed

[2020-12-01 21:05] matt-carr opened #4621 "[Feature request] Step-level exit handler information"
# Summary

Step-level exit handlers should include context regarding the step they are attached to.

Support:
https://github.com/argoproj/argo/issues/4138
https://github.com/argoproj/argo/issues/3348

# Use Cases

Given https://github.com/argoproj/argo/blob/master/examples/exit-handler-step-level.yaml

I would want information populated by the step completion to be available (e.g. anything from ht

[2020-12-01 21:58] tomgoren commented on #4551
The `Running` count looks correct now, and `Succeeded` is not just growing as before, however, `Pending` is consistently at `0` which is false.

[2020-12-01 23:17] alexec commented on #4551
@simster7 ☝️

[2020-12-02 00:54] segabond commented on #1244
[code]

You're welcome

[2020-12-02 02:35] zen-xu opened #4623 "Support podSpecPatch for patching volumeMounts"
# Use Cases

When would you use this?

I create a cluster workflow template, one parameter is `volume-mounts`. With this parameter I can choose already created pvcs to mount on the pod instead all of them.

But current `argo` seems not support for patching `volumeMounts` yet. Because  I will get spec.containers[1].volumeMounts[0].name: Not found: `${volume-name}`, which has already defined in work

[2020-12-02 02:57] #4572 closed

[2020-12-02 04:13] arghya88 commented on #4615
@alexec I am interested to contribute this.Can you assign this to me?

[2020-12-02 05:25] alexec commented on #3523
I've created a dev build for people to test out multi-cluster workflows (and therefore prove  demand for it)

[code]

Instruction for use:

[https://github.com/argoproj/argo/blob/399286fc1884bf20419de4b091766b29bbca7d94/docs/multi-cluster.md](multi-cluster.md)

[2020-12-02 06:00] zen-xu opened #4624 "Support get json parameter field value"
# Use Cases

When would you use this?

So can argo provide `withJson`, so I can use "{{item.field}}" like `withParam`, which must be **json array** in `Loop`.

Demo
[code]

Or more humanized, just get json field value from template variable
[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-12-02 12:57] hadim commented on #4615
I started to look at various entry points in the code to integrate this. I found https://github.com/argoproj/argo/blob/91bce2574fab15f4fab4bc4df9e50563aa748838/workflow/controller/workflowpod.go#L131 to be a potentially good candidate to add the label of the workflow spec on-the-fly during pod creation. Maybe @alexec would like to see this elsewhere?

Another question is do we want to force by def

[2020-12-02 15:37] brabster opened #4626 "Example memoize-simple.yaml is not valid"
## Summary

Examples should validate by the JSON schema.

![image](https://user-images.githubusercontent.com/38702/100892381-2f75bb80-34b2-11eb-8113-3724d590fe01.png)

![image](https://user-images.githubusercontent.com/38702/100892648-72379380-34b2-11eb-8609-33329cf24d08.png)

Schema or example is wrong. This example will be ignored in the validation test until fixed (see `examples/validation_test

[2020-12-02 15:45] #4337 closed

[2020-12-02 15:49] simster7 commented on #4551
The new model polls workflows every 15 seconds. Could I ask you to verify if workflows are in `Pending` state for more than 15 seconds? It is possible that workflows simply don't spend enough time in `Pending` state for them to be picked up by the polling model

[2020-12-02 15:57] simster7 commented on #4551
Just confirmed this is not the case... working on a fix

[2020-12-02 16:00] simonfrey opened #4627 "Argo is not respecting container default entry point"
## Summary

I want argo to choose the default entry point of a container. It does not.

[code]
fails and the following works:
[code]
When I directly docker run the container the entry point works as expected

## Diagnostics

### What Kubernetes provider are you using?

GCE

### What version of Argo Workflows are you running?

v2.11.1

---

**Message from the maintainers**:

Impacted by this bug? G

[2020-12-02 16:11] simster7 commented on #4551
Fix is done: https://github.com/argoproj/argo/pull/4628

[2020-12-02 16:13] simster7 commented on #4558
It is impossible to schedule cron workflows that run more frequently than every minute

[2020-12-02 16:43] #4273 closed

[2020-12-02 16:45] simster7 opened #4629 ""TestSynchronizationWfLevelMutex" is flakey"
https://github.com/argoproj/argo/pull/4628/checks?check_run_id=1487504071

[2020-12-02 16:45] simster7 commented on #4629
@sarabala1979 Would you like to take a look?

[2020-12-02 16:53] sarabala1979 commented on #4629
I will take a look

[2020-12-02 17:32] sarabala1979 commented on #4623
Pod creation code is checking `volumemounts`  to attach the `volume` on pod spec. Here it is dynamically adding into pod Spec, so volume is not attaching to pod spec.

[2020-12-02 17:57] alexec opened #4630 "Support SSO using the CLI"
# Summary

Users would like to use SSO on the CLI, like Argo CD.

# Use Cases

Probably easiest to just provide a way to get the token in the UI.

Maybe an obfuscated text fields which they could copy and paste?

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-12-02 18:12] mac9416 commented on #4623
@sarabala1979 can you point us to the place in code where this happens? I could try to hunt it down, but I get lost quickly. :-)

@zen-xu I'm curious, what's your use case? In the StackOverflow post, you were passing in volume mounts via a param. That worries me a little bit, because it opens a risk of YAML injection. Maybe there's a cleaner approach in general?

Given the current constraints, it

[2020-12-02 18:17] #4602 closed

[2020-12-02 18:19] alexec commented on #4558
What it two different Goroutine create one?

[2020-12-02 18:39] #4062 closed

[2020-12-02 19:08] #3973 closed

[2020-12-02 19:45] whynowy commented on #4621
You can use `ResourceEventSource` from Argo Events to do it.

[2020-12-02 19:59] sarabala1979 commented on #4623
@zen-xu @mac9416  Just discussed with @jessesuen. I enhance the code to support this usecase

[2020-12-02 19:59] whynowy commented on #4624
`withParam` also can take a json array and iterate the items, check the example: https://github.com/argoproj/argo/blob/master/examples/loops-param-argument.yaml

[2020-12-02 20:02] mac9416 commented on #4623
@sarabala1979 sweet! I think at some point docs will need to be sprinkled with "don't just parameterize all the things, it's a security nightmare." But for the moment I guess more features is always good. :-)

[2020-12-02 20:02] sarabala1979 commented on #4623
https://github.com/argoproj/argo/blob/e1919c86b3ecbd1760a404de6d8637ac0ae6ce0b/workflow/controller/workflowpod.go#L726

[2020-12-02 20:03] whynowy commented on #4626
@brabster - would you like to submit a PR to fix it?

[2020-12-02 20:06] abuckenheimer opened #4632 "synchronization semaphore lost on delete"
## Summary

I had a large number of pending workflows (~50-100) stuck behind my synchronization semaphore (~20) and decided to shed load by deleting all workflows. I expected this to free up slots in the semaphore but it seems like deleting the workflows did not release those slots.

## Diagnostics

What Kubernetes provider are you using?
running on EKS
[code]

What version of Argo Workflows are y

[2020-12-02 20:09] whynowy commented on #4627
Argo workflows only creates PODs, does not touch `command` or `args` in the POD spec, if your entrypoint doesn't work which means your k8s is not honoring the entrypoint of your container.

[2020-12-02 20:42] alexec commented on #4584
Attempted to run examples - but failed to reproduce the issue.

[2020-12-02 20:50] alexec commented on #4162
See PR for instruction for testing.

[2020-12-02 21:43] tomgoren opened #4634 "Difficulty scaling when running many workflows and/or steps"
## Problem statement

* Use case: processing media assets as they are uploaded by customers
    * We are trying to test the case of continuously created workflows, with the hope of relatively predictable responsiveness.
    * In an ideal world, we would be able to run ~2500 workflows in parallel at peak times
    * Expected workflow run time varies quite a bit, but most of them will take less than

[2020-12-02 22:47] alexec commented on #4634
I'm assuming you've read #4560 and you're running `:latest`?

[2020-12-03 00:27] alexec commented on #4634
You've some custom metrics for things that are surfaces as standard metrics. The workflow controller exposes theres on port 9090:

[code]

[2020-12-03 00:55] alexec commented on #4464
Merged into https://github.com/argoproj/argo/releases/tag/v2.12.0-rc4

[2020-12-03 00:55] alexec commented on #4572
Merged into https://github.com/argoproj/argo/releases/tag/v2.12.0-rc4

[2020-12-03 00:55] alexec commented on #4599
Merged into https://github.com/argoproj/argo/releases/tag/v2.12.0-rc4

[2020-12-03 00:56] alexec commented on #4273
Merged into https://github.com/argoproj/argo/releases/tag/v2.12.0-rc4

[2020-12-03 02:34] zen-xu commented on #4623
The issue demo is used to verify patching volumeMounts will failed.

My case is I'll create a clusterWorkflowTemplate, and it has many already created volumes pvc (maybe `a`, `b`, `c`),
But users only have some of these pvcs, for example user A has pvc `a` and `b`, user B has pvc `a` and `c` .
So I need patch volumeMounts  instead mount all of them

[2020-12-03 02:54] zen-xu commented on #4623
May be can argo support optional mount a volume?

[code]

[2020-12-03 02:55] AndersonReyes opened #4635 "archived workflows not showing in UI"
## Summary

I have archive turned on in the persistent config. I see the workflow shows up in the archive table but the UI shows nothing

postgres query
[code]

UI
<img width="1275" alt="image" src="https://user-images.githubusercontent.com/13670774/100957438-6cf53b80-34e8-11eb-82be-641e430a8ce8.png">

## Diagnostics

What Kubernetes provider are you using?
local instance of docker-desktop

What v

[2020-12-03 04:29] #4138 closed

[2020-12-03 05:19] tczhao opened #4636 "UI cron workflow countdown column"
# Summary

What change needs making?

Would having a countdown column be something nice to add?

# Use Cases

When would you use this?

We have teams working at different timezones and with the addition of DST it's not straightforward to tell from the cron which workflow will execute next

![image](https://user-images.githubusercontent.com/20961507/100967216-cc078e80-3582-11eb-9933-29f35aff91e0.pn

[2020-12-03 08:14] simonfrey commented on #4627
Oh. Thanks for that info!

[2020-12-03 08:14] #4627 closed

[2020-12-03 12:03] #4551 closed

[2020-12-03 12:10] gturbat commented on #4058
Hi, we have the same error when doing `argo submit` from a pod within the cluster. It happens when the label `workflows.argoproj.io/creator` is longer than 63 characters and is truncated up to a `-`.

To reproduce it, you can use a Namespace `example-of-wrong-length-submit` and a ServiceAccount `workflow-manager`.

When submitting any template from within a Pod using this service account, you shou

[2020-12-03 12:12] simster7 commented on #4636
Sure. We already display this information as `Next Scheduled Run` in the cron workflow details page. If you'd like to add it to the cron workflow list, feel free to submit a PR

[2020-12-03 12:30] claas-fridtjof-lisowski opened #4637 "Complex CronWorkflow Schedules are not working properly"
## Summary

We use a CronWorkflow with this schedule:

[code]

Argo ignores the day of the month and triggers the workflow as soon as the day of the week matches.

Expected trigger schema in words:

[code]
From [https://crontab.guru/#0_10_10,27_*_*/2,*/3,*/4,*/5](https://crontab.guru/#0_10_10,27_*_*/2,*/3,*/4,*/5)

Kubernetes CronJob is handling it as expected, Argo CronWorkflow does not.

## Diag

[2020-12-03 12:53] #3405 closed

[2020-12-03 14:22] michaeljohnalbers opened #4640 "Allow custom name in workflow started from event"
# Summary

It would be very useful to set the workflow name when it is started from an event.

# Use Cases

My team is using Argo to build our software when a webhook is received from Bitbucket. We use a single workflow template to build all of our various repos. So when a new workflow is kicked off from the webhook, the workflow name is always "common-workflow-&lt;generated stuff>". It makes it d

[2020-12-03 16:38] alexec commented on #4640
Check the labels to see which workflow template was used.

[2020-12-03 16:40] alexec commented on #4635
I think this maybe error in set-up Can you please provide the content of the API request from your browser console?

[2020-12-03 16:43] michaeljohnalbers commented on #4640
I know which template was used. We only use one. What I'm looking for is a usability enhancement. In the UI all of the workflows show up with the same(-ish) name.

For instance, suppose two builds get started for two different repos, cool-repo and bad-repo. Because both workflows will have been started from the same template, with the same generate-name value, the workflows just show up as "common

[2020-12-03 16:51] alexec commented on #4640
Is this UI or CLI issue? What about displaying the parameters in the workflow list?

[2020-12-03 16:57] michaeljohnalbers commented on #4640
Both, I suppose. You'd obviously see the same names if you look in the UI or run `argo list`.

Displaying the parameters might make things too cluttered. But I shouldn't be married to a specific way to fix this. Giving the ability to set the name seemed like the most straight-foward approach. And the capability is already in the CLI.

[2020-12-03 17:01] #3586 closed

[2020-12-03 17:05] alexec commented on #4640
How do you create these from templates?

[2020-12-03 17:07] AndersonReyes commented on #4635
@alexec here ya go but yeah I figured as much just can't pinpoint where though. The web server pod returns ok for the request too I see in the logs

<img width="1254" alt="image" src="https://user-images.githubusercontent.com/13670774/101062344-87b6c700-355f-11eb-93f8-865db27da658.png">

<img width="446" alt="image" src="https://user-images.githubusercontent.com/13670774/101062714-f8f67a00-355f-11

[2020-12-03 17:07] michaeljohnalbers commented on #4640
We have our Bitbucket send a webhook on a push. That is handled by a workflow event binding. Here's the binding:

[code]

[2020-12-03 17:09] alexec commented on #4640
So you need something like a new templatable field for the name?

[2020-12-03 17:10] alexec commented on #4635
Do the argo-server logs mention that the workflow archive is configured? It should read the workflow-controller-configmap for settings.

[2020-12-03 17:20] AndersonReyes commented on #4635
yeah  it is
[code]

also I have a dummy cron wf running the logs don't seem to show any error
[code]

unless there supposed to be more logs after `archiving workflow` for wf `hello-cron-j8rc9`

[2020-12-03 17:29] alexec commented on #4635
Can I have the argo-server logs, not the workflow-controller logs?

[2020-12-03 17:32] alexec commented on #4058
This bug was fixed in v2.11

[2020-12-03 17:34] michaeljohnalbers commented on #4640
The name of the resulting workflow, yes. I personally don't have a need to template which workflow template ref to use (and it seems like if you need to use different templates then you should probably just use a different binding). Just spit-balling, something like this might work:
[code]

[2020-12-03 17:35] AndersonReyes commented on #4635
[code]

[2020-12-03 18:15] alexec commented on #4640
This seems like a good feature. Would you like to submit a PR?

[2020-12-03 18:30] gturbat commented on #4058
Thanks !

[2020-12-03 18:33] alexec commented on #934
I think this could be fixed by using key-only artifacts. See #4341

[2020-12-03 18:34] alexec commented on #4635
Hmm. Logs were not helpfully (but thank you anyway). This works for me. Can you request using the endpoint directly?

[2020-12-03 18:36] gturbat commented on #4058
@alexec we are having this bug on v2.11.7

[2020-12-03 18:36] michaeljohnalbers commented on #4640
The problem is that I don't know the code-base at all and my golang knowledge is very limited.

[2020-12-03 19:31] alexec commented on #4058
This is a new bug, can you please create a new issue?

[2020-12-03 19:32] alexec commented on #4640
DCO - yes. Submitting a PR is by far the fastest way to (a) prove there is a need and (b) get it done.

[2020-12-03 19:33] alexec commented on #4058
Would you be interested in submitting a PR? Should be easy to do:

https://github.com/argoproj/argo/blob/f7e85f04b11fd65e45b9408d5413be3bbb95e5cb/workflow/creator/creator.go#L19

[2020-12-03 19:55] michaeljohnalbers commented on #4640
Sorry, DCO?

[2020-12-03 20:03] alexec commented on #4640
DCO = contributor agreement

[2020-12-03 20:53] alexec commented on #4612
I've created a dev build for you to test to see that it does what you need:

[code]

Please see #4644 for how to add email to your scopes, how to use it in your RBAC annotations, and how the email is re-formatted for the label.

[2020-12-03 21:56] AndersonReyes commented on #4635
[code]

but actually reading this
<img width="1004" alt="image" src="https://user-images.githubusercontent.com/13670774/101093270-82ba3d80-3588-11eb-80bd-9680321cb7a6.png">

seems like the Webserver not detecting the config even though the controller does

[2020-12-03 21:57] tomgoren commented on #4634
Indeed we have read the thread, and we followed all of the workaround suggested there. We have been keeping up to date with the latest builds from `master`, yes.

We haven't seen a controller crash on the most recent builds.

In our first test, we submitted three workflows per second of two steps each.
In the second test, we submitted one workflow of 102 steps each every 10 seconds.

The highest n

[2020-12-03 21:58] AndersonReyes commented on #4635
ill double check to make sure I didn't miss anything in the kustomize yaml for the web server
[code]

[2020-12-03 22:14] AndersonReyes commented on #4635
gaaahh figured it out, In my local kustomize I add a name suffix (since the resources need unique name for our cluster)

so I just had to pass the correct Configmap name in the server too

[code]

I add argo-prefix to all resources (yes some already have it and show up as argo-argo but ignoring that lol)

Closing but thanks for helping me out even thought the solution was just my mistake

[2020-12-03 22:14] #4635 closed

[2020-12-03 23:09] #2614 closed

[2020-12-03 23:14] alexec commented on #4634
What TZ are you in? Can we get on a Zoom in the next few days?

[2020-12-04 01:33] alexec commented on #3523
Please answer this poll: https://argoproj.slack.com/archives/C8J6SGN12/p1607041333397500

[2020-12-04 01:43] dcherman opened #4646 "Proposal: Change default executor from docker to PNS or k8s"
As of Kubernetes 1.20, [support for Docker has been officially deprecated ](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md#deprecation)

Although it will likely still be supported for quite a while at this point (until late 2021 according to https://kubernetes.io/blog/2020/12/02/dockershim-faq/#when-will-dockershim-be-removed), I wanted to open this to get a discu

[2020-12-04 05:15] adrienjt commented on #3523
@alexec what do you think of this? https://admiralty.io/blog/2019/01/17/running-argo-workflows-across-multiple-kubernetes-clusters (the link was once listed on the Argo Workflows website)

The blog post is slightly outdated, as Admiralty uses Virtual-Kubelet and the Scheduler Framework now, but the use case still works. Admiralty creates a node that represents a remote cluster, makes multi-cluster

[2020-12-04 12:41] simster7 commented on #4646
We use PNS in our dev environments. What do you think @alexec @sarabala1979?

[2020-12-04 12:47] simster7 commented on #4646
@jessesuen

[2020-12-04 13:22] simster7 commented on #4637
May I suggest you open an issue with https://github.com/robfig/cron?

[2020-12-04 13:25] simster7 commented on #4614
@artheus Would you like to open a PR to fix these issues?

[2020-12-04 13:25] simster7 commented on #4607
@susana-garcia Bump^

[2020-12-04 13:30] susana-garcia commented on #4607
@simster7 sorry for the waiting. This problem might be related to our current setup with Admiralty. I'll come back as soon as I know more.

[2020-12-04 13:55] claas-fridtjof-lisowski commented on #4637
Sure, I will do that.

[2020-12-04 14:35] simster7 commented on #4558
@monsterxx03 @rmgpinto Sorry for the delay with this. Could I ask you both to try this _development_ image and see if it fixes the issue: `argoproj/workflow-controller:cron-update-dev`

Disclaimer: this is a development image and should not be used in production

[2020-12-04 14:39] simster7 commented on #3884
Closing for no

[2020-12-04 14:39] #3884 closed

[2020-12-04 14:47] claas-fridtjof-lisowski commented on #4637
That's the issue https://github.com/robfig/cron/issues/358

[2020-12-04 14:52] rmgpinto commented on #4558
@simster7 thanks, just updated our workflow controller image. I'll report Monday or Tuesday.

[2020-12-04 15:47] matt-carr commented on #4621
Sure, that works for statuses, but afaik there's no insight into outputs/exit status/etc

[2020-12-04 16:28] alexec commented on #4646
I'm in two minds. I. believe that `k8sapi`  should be the default because it is more secure, but that would break people who have left it in the default settings.

[2020-12-04 16:38] sarabala1979 commented on #4646
We can change it when we upgrade Kubernetes 1.20. Most Argo users are using Docker for CI/CD use-cases.

[2020-12-04 16:45] alexec commented on #3523
Hi @adrienjt thank you - I just tweeted the post's author before realizing it was you. I'm aware that any first-class solution in Argo would be in competition with a multi-cluster scheduler as it would make the need moot. I'm also aware from working on Argo CD, that security with multi-cluster is difficult, because you end up with a single main cluster that has a lot of permissions..

[2020-12-04 16:45] #4058 closed

[2020-12-04 18:56] michaeljohnalbers commented on #4640
Where do I find this? I don't see it on https://argoproj.github.io/argo/CONTRIBUTING/

[2020-12-04 18:57] samath117 opened #4647 "Allow optional input artifacts to fail to resolve without erroring"
# Summary

If an input artifact is optional and its reference fails upon execution, most commonly because the `from` field references another step that was skipped, the workflow should continue with the optional input artifact omitted.

# Use Cases

First requested by sahil sawhney in Slack: "I am trying to skip a step lets say `StepA` using `when` in my workflow and this step produces an artifact

[2020-12-04 19:17] alexec commented on #4640
https://github.com/argoproj/argoproj/tree/master/community#contributing-to-argo

[2020-12-04 19:18] alexec commented on #4647
This should actually be the case. If an artifact is optional, it should not error. This maybe a bug.

Can you please attach a reproducible workflow YAML manifest and tell me what version you are running?

[2020-12-04 19:43] samath117 commented on #4647
Here's my test example. I'm running Argo v2.11.8

[code]

Logs:
[code]

[2020-12-04 20:25] alexec commented on #4647
`unable to resolve references: Unable to resolve: {{steps.create-artifact.outputs.artifacts.hello}}`

? error is not related to optional?

[2020-12-04 20:28] samath117 commented on #4647
The input artifact `artifact` in `artifact-printing` is optional, and `{{steps.create-artifact.outputs.artifacts.hello}}` is the reference being passed for it in the `print-artifact` invocation. The reference fails, but the artifact is optional so the step should proceed without it.

[2020-12-05 14:38] lonsdale8734 opened #4652 "Daemoned flag not removed and workflow not completed when daemon pod deleted."
## Summary

What happened/what you expected to happen?

Daemoned flag in `NodeStatus` not removed and workflow not completed when daemon pod deleted.

When daemon pod deleted, code blow may be unreachable.

https://github.com/argoproj/argo/blob/v2.11.8/workflow/controller/operator.go#L1089

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the

[2020-12-05 18:17] alexec opened #4654 "New template/cron workflow drop-down result in too many extra API calls"
# Summary

These drop-down are neat, but for some reason, they make many extra requests (see below).

We can avoid the extra requests by only loading the data when the controls are clicked upon.

This was introduced kind of by 916b4549 by @tczhao, though I was the original author and therefore to blame :)

[code]

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impac

[2020-12-05 18:17] alexec commented on #4654
@tczhao would you be interested in taking a look as you know the code? Or I can.

[2020-12-05 22:35] tczhao commented on #4654
sure, I will take a look

[2020-12-05 23:46] brabster commented on #4626
@whynowy no, I'm not sure whether the schema or the example is right and I don't know the feature

[2020-12-05 23:58] #4088 closed

[2020-12-05 23:58] #4123 closed

[2020-12-05 23:58] #3538 closed

[2020-12-07 02:38] #4167 closed

[2020-12-07 04:53] #4654 closed

[2020-12-07 04:54] alexec commented on #4559
Still flakey.

[2020-12-07 05:31] bklaubos opened #4657 "Doc: Need to specify the concurrency model for `WithSequence` loop"
##  Need to specify the concurrency model for `WithSequence` loop
`WithSequence ` loop  concurrency behaviour is currently not documented clearly as parallel or sequential.
The other thing  unclear: How are the `outputs.Parameters` or `outputs.Artifacts` of an item in the sequence related to each other.
Is each output independent or they are aggregated as one single output?

**Message from the mai

[2020-12-07 06:18] sarabala1979 commented on #4559
I will take a look tomorrow

[2020-12-07 09:28] rmgpinto commented on #4558
Seems to work fine, thanks.
When should we expect the fix released?

On Fri, Dec 4, 2020 at 2:35 PM Simon Behar <notifications@github.com> wrote:

[2020-12-07 09:34] lueenavarro commented on #4596
I'm getting this error as well
![image](https://user-images.githubusercontent.com/47080916/101334174-7d276500-38b2-11eb-8fc0-70fa1544c7e5.png)

[2020-12-07 10:06] monsterxx03 commented on #4558
Just updated controller image, will report result tomorrow.

[2020-12-07 15:15] #4454 closed

[2020-12-07 17:24] #4192 closed

[2020-12-07 18:27] simster7 commented on #4637
@claas-fridtjof-lisowski

I just investigated and K8s uses the same cron library we use, so I don't understand why the schedule would work on K8s CronJob but not on CronWorkflow. Can you take a look? Would it have something to do with `timezone`, as that is the only significant difference between us and k8s in terms of scheduling.

[2020-12-07 18:30] simster7 commented on #4637
The use version `v1.1.0` and we use version `v3.0.1`... that might be the difference. Not sure if I would feel comfortable going down to version `v1.1.0` to match K8s though

[2020-12-07 19:07] harsh-dialpad opened #4660 "WorkflowDefaults: `retryStrategy` does not get applied via workflow controller"
## Summary

According to the docs, it is unclear whether or not a default `retryStrategy` can be specified via Workflow Defaults.

For instance, if a workflow controller configmap has such a configuration:

[code]

All other `workflowDefaults` like `labels` and `parallelism` do get applied when a workflow is executed, however, the `retryStrategy` is neither parsed by the WorkflowController nor doe

[2020-12-07 20:05] alexec commented on #4652
@lonsdale8734 have you seen this in the wild? Do you have steps to reproduce please?

[2020-12-07 20:08] alexec commented on #4657
Expanded steps, i.e.`withItems`, `withParam`, and `withSequence` are launched in parallel with non-deterministic ordering.

Expanded steps do not currently provide a way to access the aggregated output artifacts. Parameters can be accessed.

See #934

[2020-12-07 20:08] alexec commented on #4657
Would you like to submit a PR to update the docs?

[2020-12-07 20:09] alexec commented on #4660
Spec-level retry strategy is not supported in v2.7. Please upgrade to v2.11.

[2020-12-07 20:13] kushthedude commented on #4123
Hi @alexec , we are still experiencing this. Is it fixed?

[2020-12-07 20:37] avifried1 commented on #4612
Checked new tag `fix-4612` on minikube v1.15.1. Looks good.

- role annotations using email object:
[code]
- Tested user is assigned to correct SA
- Tested other users are assigned to default SA
- Tested annotation is added to new workflows:
[code]
- After logging in with OIDC and redirecting back to Argo, Login page needs refresh in order to show `email` & `email verified` entries.

[2020-12-07 21:07] bklaubos commented on #4646
what is PNS??

[2020-12-07 21:12] bklaubos commented on #4657
No concept of `waitGroup` for `Items`???

[2020-12-07 21:31] alexec commented on #4123
@kushthedude please open new issue.

[2020-12-07 21:35] #4636 closed

[2020-12-07 21:41] kushthedude opened #4661 "v2.11.7: UI errors out with `Cannot read property 'forEach' of undefined`"
## Summary

I navigated to the main workflows page http://localhost:2746/workflows/argo and received an error with a stack trace. I expected to see my workflows listed.

## Diagnostics

What Kubernetes provider are you using?
AKS

What version of Argo Workflows are you running?
v2.11.7

Stacktrace
[code]

It works fine on incognito, also an error goes out when I clear my `localStorage`.

Similar t

[2020-12-07 22:05] #4630 closed

[2020-12-07 22:06] alexec commented on #4661
workaround = clear local storage

does this re-occur after local storage is cleared?

[2020-12-07 22:09] kushthedude commented on #4661
Nope!

[2020-12-07 22:38] alexec commented on #4580
See fix(ui): Reconnect to DAG. Fixes #4301 (#4378)

[2020-12-07 22:39] alexec commented on #4596
@lueenavarro  I think you see #4580

[2020-12-07 23:04] amoldharamshi opened #4662 "Need ability to change parameters/arguments while submitting/re-submitting workflows in Argo UI"
# Summary

Need ability to change parameters/arguments while resubmitting workflows in Argo UI

# Use Case

In case of failures or if we want to run the workflow again with different parameters/arguments, we need ability to do so using Argo UI

[2020-12-07 23:33] alexec commented on #4662
Thank you @amoldharamshi I'll speak to my colleagues about your request.

[2020-12-07 23:33] alexec commented on #4661
Good stuff. Maybe won't fix then :)

[2020-12-07 23:40] alexec commented on #4580
@kashook I've just pushed a dev image for you to test `argoproj/argocli:ui-err`.

[2020-12-08 01:54] monsterxx03 commented on #4558
Seems it's fixed, no duplicated wf triggered so far.

[2020-12-08 05:01] #4143 closed

[2020-12-08 05:58] lonsdale8734 opened #4665 "Workflow operation error when daemon pod failed"
## Summary

What happened/what you expected to happen?

When daemon pod failed but its children are still running, workflow will be marked `Workflow operation error`.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-12-08 07:06] lonsdale8734 commented on #4521
@alexec v2.11.7 still has the problem, v2.11.8 works as expected.

[2020-12-08 07:06] #4521 closed

[2020-12-08 09:48] bharathguvvala commented on #1256
@alexec Is this issue also fixed, as I see https://github.com/argoproj/argo/issues/4230 is fixed/closed?

[2020-12-08 10:14] susana-garcia commented on #4607
Hi, sorry again for the waiting. I tested the behavior this time using the [quick-start](https://argoproj.github.io/argo/quick-start/) setup (without admiralty and with [minikube](https://kubernetes.io/docs/tutorials/hello-minikube/)):

1. Test example quick-start guide:
[code]

The workflow’s duration is 25 seconds And it ends with status `Error` because it `failed to save outputs`. Last output o

[2020-12-08 10:30] susana-garcia commented on #4607
@simster7 please let me know if I can help you with more info.

[2020-12-08 10:46] orcaman opened #4667 "Argo Workflows - All New Workflows Stuck in Pending"
## Summary

I'm running Argo Workflows on EKS (AWS-hosted k8s). Everything has been working fine, but a few hours ago, one of the underlying nodes restarted, and since then, it looks like all new workflow submissions are stuck in pending - even though nothing seems to be running.

The workflow controller and underlying nodes seem to be OK (see logs below). I'm wondering how can one debug the mecha

[2020-12-08 10:49] orcaman commented on #4667
OK - update: it looks like the node restart had some impact on the default namespace. Our workflows used to run with the default namespace. But now, they are sent to pending-status, unless we change the namespace explicitly to "argo".

[2020-12-08 11:06] orcaman commented on #4667
Working on this using after finding out it might be a namespace issue, closing for now

[2020-12-08 11:06] #4667 closed

[2020-12-08 12:31] susana-garcia commented on #4607
Seems that this is due to the `terminationGracePeriodSeconds: 30`

[2020-12-08 15:13] simster7 opened #4670 "CronWorkflow FMEA Testing"
## Environment Disruptions

| Disruption | Behavior | Recovery |
|-|-|-|
| Kubernetes API network issues. | Lots of errors printed the logs | Full recovery |
| CronWorkflow deleted mid execution. | Children workflows deleted immediately | No recovery expected: workflows not allowed to finish (by design)|
| CronWorkflow controller panic or killed | Workflows will not be scheduled while controller i

[2020-12-08 15:14] simster7 commented on #4076
Closing in favor of https://github.com/argoproj/argo/issues/4670

[2020-12-08 15:14] #4076 closed

[2020-12-08 16:32] sarabala1979 opened #4671 "WorkflowSucceeded event is missing on big workflows"
## Summary

What happened/what you expected to happen?

## Diagnostics

What Kubernetes provider are you using?

What version of Argo Workflows are you running?

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-12-08 16:47] kashook commented on #4580
Thanks @alexec!  I tested the `ui-err` dev image following the same reproduction steps I originally posted.  The server is no longer flooded so fast with requests.  Instead, the UI attempts to reconnect every 10 seconds, still adding the `resourceVersion` parameter to the URL when it reconnects, using the workflow's actual current resource version.  The server still returns a 500 and the log still

[2020-12-08 17:23] #4632 closed

[2020-12-08 18:09] bklaubos commented on #2393
I would like to point out that the syntax should work for a task/step with  or without loop:
example: a function foo( x ... string) can be invoked as:
foo("a") or foo("a", "b", "c") via variadic argument.
Likewise, maybe we should return a collection(list) type.
Without loop, it would be a collection of one item.

[2020-12-08 18:27] alexec commented on #4634
* Try using no parallelism.
* Separately, try using semaphores instead.
* Try `:no-sig` and `:easyjson`.
* Can you check the memory settings? Should not max out at 1GiB.
* I'll check to see if we have a memory leak.

[2020-12-08 18:43] alexec commented on #1256
Test it and see?

[2020-12-08 18:44] alexec commented on #4665
Please provide reproduction steps, e.g. a workflow that produces this issue.

[2020-12-08 18:45] simster7 commented on #4647
Fix for this is done. Please note that the `optional` flag is required on the parameter as well as the argument:

[code]

[2020-12-08 18:50] harsh-dialpad commented on #4660
Thanks for the quick response @alexec. I went ahead and updated the `argo` version to `2.11.8`, but `retryStrategy` still does not work. Here are the snippets.

Workflow controller logs:
[code]

Workflow spec:
[code]

Workflow controller configmap:
[code]

[2020-12-08 18:57] bklaubos commented on #934
@jessesuen Can we get on slack/zoom to talk to about this?

[2020-12-08 19:57] opensean commented on #2967
I understand this is closed but this issue gave me hard time.  I have argo behind nginx just like @paltaa.  The key for me was adding ```proxy_set_header Authorization "";``` to the nginx config as suggested by @paltaa.  Without it I was continuously redirected to the argo login page.

[2020-12-08 21:48] acj commented on #4634
@alexec Thanks again for your time today. We're looking forward to getting to the bottom of this :)

We ran this test for about 30 mins using the script in Fig 2 (submits 3 wf/sec, two steps total, about 60-70 seconds expected total time per workflow). Workflows seemed to start and complete smoothly with a steady accumulation of "succeeded" workflows. No workflow GC ever appeared to run, which is

[2020-12-08 21:51] acj commented on #4634
Forgot to mention that we've been seeing a lot of "Deadline exceeded" warnings in our controller logs during recent runs (not just today). I've added a metric to our controller build to count them, so we should have hard numbers to share next time if that would be a useful signal.

[2020-12-08 22:49] alexec commented on #4634
@acj

I've done some analysis and can't see any memory leaks. That ties with your analysis.

I've created a dev build intended to reduce the amount to Kubernetes API requests the controller makes by limiting each workflow to one reconciliation every 15s (configurable). The details are in the linked PR. Would you like to try that out?

[2020-12-09 00:16] #4065 closed

[2020-12-09 00:36] ryedin commented on #4509
@alexec just wanted to let you know, today I came back to this and it looks OK. I don't know if the earlier issue was related to specific workflow specs, or possibly the fact that we are managing argo via Helm and at the time I merely updated the `tag` value in the helm chart (and didn't actually pull in the new helm chart itself also). But whatever the case, I have currently not reproduced the cr

[2020-12-09 06:55] antoniomo opened #4676 "Output artifact gets deleted even when it resides on a volume mount"
## Summary

If we have an output artifact from a mounted PVC or some other Volume mount, it shouldn't be deleted after upload.

The code: https://github.com/argoproj/argo/blob/master/workflow/executor/executor.go#L343-L348
Assumes that the artifact is on the container ethereal storage, but that might not be the case.

We use a volume to share data fast between workflow steps. However, some of the

[2020-12-09 10:04] omerfsen opened #4677 "K8S ServiceAccount token with argocli throws error"
## Summary

When we try to use argo cli to do Kubernetes ServiceAccount Token authentication (client authentication) we are getting a reproducible error

## Diagnostics

Example command we used is :

[code]
we get:

[code]

Error we get is:

[code]

What version of Argo Workflows are you running?

We are using 2.11.7 as argo Server but I have tested with argo cli  2.9.4 , 2.11.1 , 2.11.7 and 2.12-

[2020-12-09 10:08] omerfsen commented on #4677
We can use curl though but we would like to use argo cli as it is more flexible and handles most of the stuff automatically. Following curl command works fine so it is something to do with argo cli (not argo server)

[code]

[2020-12-09 10:40] Naveenlbg opened #4678 "Wait container stuck in running state"
Wait container stuck in running state

We are running cron workflow every 10 mins some times the workflow gets stuck in Running state

What happened/what you expected to happen?

Workflow should not get stuck in Running state either it should throw some exception or complete , when we did a describe on the pod we could see that the wait container in the pod got stuck in Running state

What Kuberne

[2020-12-09 13:03] Oded-B commented on #4531
I think google IAP send the JWT in a header named `x-goog-iap-jwt-assertion`  https://cloud.google.com/iap/docs/signed-headers-howto.

So ArgoCD would have to be able to validate and get user identity and claims from that header.
If the header name would be configurable this will probably work with other Identity proxy/Zero trust SAASs like Cloudflare Access  (their header name is Cf-Access-Jwt-As

[2020-12-09 13:17] omerfsen commented on #2228
Thank you that is great!

[2020-12-09 15:08] ryedin commented on #4509
@alexec I spoke too soon...

![Screen Shot 2020-12-09 at 9 07 01 AM](https://user-images.githubusercontent.com/151376/101647151-026b6080-39fe-11eb-89ae-051bdf1df088.png)

Going back to v2.10.

[2020-12-09 15:09] #2393 closed

[2020-12-09 15:33] sylock opened #4680 "Cannot use the global variable workflow.outputs.parameters.<NAME>"
## Summary

What we need to do : from the exit handler, access the output parameter of a workflow step. We tried to do it using the global variable workflow.outputs.parameters.<NAME> as defined in your documentation: https://argoproj.github.io/argo/variables/#global

We get an error from argo saying it cannot resolve the variable.

The error:
![2020-12-09_16h25_33](https://user-images.githubuserco

[2020-12-09 16:31] alexec commented on #4531
We have several files where we have

[code]

And this should be

[code]

Might help fix this.

[2020-12-09 16:32] alexec commented on #4678
v2.11.7 has a know issue where workflows with many (1000+ nodes) can get stuck is running (aka "Zombie") state. Please upgrade to v2.11.8

[2020-12-09 16:33] alexec commented on #4677
Please share all your ARGO_* values.

[2020-12-09 16:33] alexec commented on #4676
Interesting. Could be pretty nastly. We'll discus.

[2020-12-09 16:41] Naveenlbg commented on #4678
@alexec We Just have 6 nodes in our cluster.

[2020-12-09 16:57] alexec opened #4684 "Multi-cluster UI: aka "control plane""
# Summary

Users would like the UI to be a single place to manage all workflows.

# Use Cases

Reduces the operational burden of installing the UI in many places

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-12-09 16:58] alexec opened #4685 "Move shared UI V3 components to `argo-ui`"
# Summary

Move the shared UI component to argo-ui.

# Use Cases

This will make it easier to reuse those components.

@dcherman @alexmt I think we should go over this list and make a determination:

Simple UI components (e.g. wrap a form input or add some feature to it):

ui/src/app/shared/components/button.tsx
ui/src/app/shared/components/chat-button.tsx
ui/src/app/shared/components/checkbox-lis

[2020-12-09 17:06] amal-kumar commented on #4678
@alexec at no time we are running 1000+ node (or if you mean workflow steps) in parallel, but we are still seeing this issue. Maximum we are running 50-100 nodes (or, workflows steps) in parallel. The strange part is that we are getting this error on one environment i.e. integration, however not on the build which is used ferociously for running workflow.

Please can you point me to the known issu

[2020-12-09 17:24] austinpray-mixpanel opened #4686 "UI crash: "Cannot convert undefined or null to object" on timeline tab for pending workflow"
## Summary

When clicking on the timeline tab for a pending workflow, the UI crashes with the following trace:

[code]

### reproduce

Submit two workflows with the same mutex:

[code]

This should put the second workflow in a pending state for 100 seconds.

![Screen Shot 2020-12-09 at 11 04 52 AM](https://user-images.githubusercontent.com/71290498/101663326-32236400-3a10-11eb-84a6-aabc339dfd2a.pn

[2020-12-09 17:34] #4558 closed

[2020-12-09 18:37] #4647 closed

[2020-12-09 18:54] simster7 commented on #4558
@monsterxx03 @rmgpinto Should be on the next RC release. Note that the actual fix that went in is different from the one in the dev image, but it still targets the same bug.

This means that when I release the new RC (likely soon), I'll ask both of you to test this for me again. Sound good?

[2020-12-09 19:08] Ark-kun commented on #4676
Perhaps there is no need to delete the artifact files after uploading them.
It's supposed to be an optimization, but I'm not sure it provides benefit.
I also remember there was a bug I've fixed long time ago in cases where the same file was being output as both artifact and parameter.

This scenario seems pretty strange. If the output data is generated by the component, then it's usually located o

[2020-12-09 19:15] antoniomo commented on #4676
It's actually quite common and the recommended way to pass data between steps, without artifact upload and then download. We are talking about "heavy" artifacts, multiple gigabytes.

As an optimization we typically do that, so that the upload can happen concurrently with other workflow steps (otherwise, the step that creates the output data, doesn't end until the artifact upload is complete, preve

[2020-12-09 19:19] rmgpinto commented on #4558
Sounds good to me

On Wed, 9 Dec 2020 at 18:54, Simon Behar <notifications@github.com> wrote:

[2020-12-09 19:33] #4077 closed

[2020-12-09 19:45] terrytangyuan commented on #4467
See discussions in https://github.com/argoproj/argo/pull/4669#discussion_r538762866. This should not be an issue anymore.

[2020-12-09 20:08] alexec commented on #4677
Also, can you run same examples using `--gloglevel=9` please.

[2020-12-09 20:14] alexec commented on #4678
@amal-kumar please see the release notes for fixes in v2.11.8.

This can also happen with smaller clusters and is possible with 100 node workflows.

[2020-12-09 20:15] alexec commented on #4680
To help diagnose, please can we ask for:

* What version are you running?
* Can you attach the complete YAML for the workflow?

Thank you.

[2020-12-09 20:21] omerfsen commented on #4677
I dont set any ARGO_

Here is output with --gloglevel=9

[code]

No I am not using any Proxy. Also I reported that on Slack too so another person also seen the same issue (Argo Workflow Slack)

[2020-12-09 20:25] amal-kumar commented on #4678
@alexec sure we will got the release notes.

however, we have also seen that dynatrace monitoring cause this issue in v2.3.0. reference : https://github.com/argoproj/argo/issues/1382#issuecomment-499951098

at some point we will have dynatrace enabled in our clusters, so wanted to check how dynatrace interrupts the argoexec wait container and if that issue is already taken care in the newer versio

[2020-12-09 20:33] mykidong opened #4689 "Question: How to recover data of postgresql with statefulset."
Hi,

I have installed argo workflow with modifying the manifest of quick-start-postgres https://github.com/argoproj/argo/blob/master/manifests/quick-start-postgres.yaml .
I have changed Deployment of postgres to Statefulset like this:
[code]
I have added a PVC for which I have used minio direct csi to persist postgresql data.
I have tested my spark jobs running with argo workflow. All the jobs wor

[2020-12-09 21:02] alexec commented on #4677
please change `--server` to `--argo-server`

[2020-12-09 21:03] alexec commented on #4689
quick start is only intended for experimentation - so data integrity is not needed - I'd suggest you look to a database service like AWS Aurora instead for that

[2020-12-09 22:08] acj commented on #4634
Okay, we have a few more test results. Short version: no significant improvement.

- Using `:ratel`, we still saw oscillations in the key metrics after ~15 minutes and slowly fell behind. Queue depth, time in queue, and the running/pending workflow counts slowly increased. We had a fairly large backlog of completed pods (several hundred) near the end of the run, but there was no backlog of succeed

[2020-12-10 00:10] alexec commented on #4634
Do you mean you had zombies?

[2020-12-10 00:25] alexec commented on #4634
Note to self:

* WORKFLOW_RESOURCE_VERSION_CHECK = false
* POD_RESOURCE_VERSION_CHECK = false

[2020-12-10 00:44] monsterxx03 commented on #4558
Sure

[2020-12-10 01:53] ryedin commented on #4509
it should be noted, here is the exact same workflow portion in v2.10.1.

![Screen Shot 2020-12-09 at 7 51 17 PM](https://user-images.githubusercontent.com/151376/101710873-fb713c00-3a57-11eb-9423-2b76addc4718.png)

This is a (albeit somewhat large) simple, linear workflow. in 2.10 it's just a long straight line. in v2.11 it's... garbled mess.

Sorry for the premature indication of non-issue. Defin

[2020-12-10 05:24] Ark-kun opened #4690 "Make sure all examples and features work out of the box with non-Docker executors"
Kubernetes is planning to deprecate Docker: https://kubernetes.io/blog/2020/12/02/dont-panic-kubernetes-and-docker/

Previously Argo had some issues with artifact/parameter passing on non-Docker executors. Our clients have reported some issues when running the artifact passing examples on OpenShift.

Let's make sure all examples can run on non-Docker executors without changes.

[2020-12-10 09:22] paalkr opened #4691 "UI crash when viewing YAML of nodes in workflows using `workflowTemplateRef`"
## Summary
View the yaml def of archived workflows does not work in 2.12-rc4, and will render a stack trace error in the UI
Images from 2.12-rc4 (BTW, the same problem occurs if click on the Containers tab)
![image](https://user-images.githubusercontent.com/9726307/101751356-783ffc80-3ad0-11eb-8fcc-51900344fbc9.png)
![image](https://user-images.githubusercontent.com/9726307/101751554-ad4c4f00-3ad0

[2020-12-10 11:46] hermanhobnob opened #4692 "Long running tasks are stopped too early."
## Summary

I believe https://github.com/argoproj/argo/pull/4253 introduced a regression in the way the wait container watches the main container to detect when it's terminated.

The result is that for a long running tasks  (eg something which runs for about an hour) the output artifacts will be collected before the task has actually finished so the next task in the graph won't get the files it's

[2020-12-10 13:50] simster7 commented on #4558
@rmgpinto @monsterxx03 Hey guys, rc5 is out: https://github.com/argoproj/argo/releases/tag/v2.12.0-rc5

Please test this and let me know if there are any further issues

[2020-12-10 13:53] rmgpinto commented on #4558
Thanks, I've updated the deployment.

On Thu, Dec 10, 2020 at 1:51 PM Simon Behar <notifications@github.com>
wrote:

[2020-12-10 14:37] kashook commented on #4580
@alexc I noticed this issue was closed.  There really were two issues here, one being the rapid reconnect loop, and the other being that the reconnect can never work as currently implemented once the resource version on the workflow becomes too old.  The rapid reconnect is fixed, but not the `too old resource version`.  Should I log a new issue for that?

[2020-12-10 14:38] kashook commented on #4580
@alexec I noticed this issue was closed.  There really were two issues here, one being the rapid reconnect loop, and the other being that the reconnect can never work as currently implemented once the resource version on the workflow becomes too old.  The rapid reconnect is fixed, but not the `too old resource version`.  Should I log a new issue for that?

[2020-12-10 14:50] alexec commented on #4634
Completed and GC pods are bounded to 512 before blocking:
[code]

[2020-12-10 15:30] alexec commented on #4580
I think we can re-open this issue.

[2020-12-10 15:32] alexec commented on #4692
Good spot. It looks like `auxUntilTermniate` should wrap the loop in another loop checking the status. Would you like to submit a PR?

[2020-12-10 15:38] alexec commented on #4690
It is not possible for all executors to support all examples, so this is not actually possible. However, we do need to think about how ultimately people won't be running Docker and how we support Docker uses cases.

[2020-12-10 15:39] alexec commented on #4509
I have been unable to reproduce this. Can you please attach the complete YAML so I can load it up and investigate.

[2020-12-10 15:41] acj commented on #4634
I don't think so, at least by the definition given in #4560. The workflows seemed to reliably complete and get GC'd, but we had a lot of completed pods hanging around (visible using `kubectl`) until the end of the test.

We noticed this a while back and wondered if it was contributing to our perf issues. What controller behavior would you expect to see when those channels are full?

I didn't pay c

[2020-12-10 15:43] alexec opened #4693 "Robust and faster pod GC"
Currently, when we need to GC a pod, we stick it on an in-memory channel and have another Goroutine delete the pods one by one.

* Controller restart -> pods never get deleted?
* Transient error in deletion ->   pods never get deleted?
* O(n) API invocations to delete n pods.
* Deletion has a thundering-herd problem.

I could be wrong mind you:

* Controller restarts and workflow gets reconciled a

[2020-12-10 16:01] hermanhobnob commented on #4692
Sure @alexec, I'll give it a go. Sounds simple enough.

[2020-12-10 16:02] alexec commented on #4634
Good news about the CPU. I think these are some design issues in pod GC (see #4693).

When the channel gets full, it will block when new entries are added to it. This means that reconciliation will take longer.

I'm creating a new build with a configurable fix for #4693.

[2020-12-10 16:21] alexec opened #4694 "Workflows get queued for GC >=2 times"
I don't think we need to queue them for GC deletion more than once, but I see

[code]

This means we'll make O(n) API requests.

The code tolerate this (ignores not-found error on deletion), but is doing at least 2x work.

[2020-12-10 16:35] alexec commented on #4634
@acj I've created a new dev build. Can you run this firstly without any env var changes as a baseline? I expect you to see an improvement with default settings. Then can you try the new env vars as listed in PR please?

Thank you again.

[2020-12-10 16:40] alexec commented on #4691
Can I please ask for your complete workflow YAML?

[2020-12-10 16:42] alexec commented on #4580
@kashook I'm trying to decide if we should fix this. It will be fixed in v3, but I'll have to create a fix for this too. I don't want to do that if I can help it.

Give that the UI v3 should come in January - do you think we should fix it on v2.12? Would you like to try and fix it?

[2020-12-10 16:44] alexec commented on #4691
I've created a dev build for you to test: `docker pull argoproj/argocli:fix-4691`. Let me know if it fixes your issue, please.

[2020-12-10 16:50] vivekthangathurai opened #4696 "Template reference fails for template with multiple steps"
## Summary

What happened/what you expected to happen?

I am trying to use the workflowTemplate in one of the workflow but an error is thrown saying "template not found"

[code]
[code]

## Diagnostics

What Kubernetes provider are you using?
AWS
What version of Argo Workflows are you running?
2.10.1

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prio

[2020-12-10 16:50] kashook commented on #4580
@alexec if it's fixed in v3 in January we can wait until then, especially since the rapid reconnect loop is fixed. I certainly could try to fix it, but will probably hold off since a fix is coming.  Thanks!

[2020-12-10 16:52] alexec commented on #4580
No problem. I'll leave open as it is still a bug.

[2020-12-10 17:00] alexec commented on #4676
@antoniomo. I've created a dev build for you to test. Can you please test `argoproj/argoexec:fix-4676`?

[2020-12-10 18:14] antoniomo commented on #4676
Thanks, I can give it a go over the weekend!

[2020-12-10 18:38] alexec opened #4699 "8509 (and growing) workflows backlogged on https://workflows.apps.argoproj.io"
## Summary

The controller cannot start because it cannot obtain a lease. This is part of the standard YAML manifests. Not sure why this is happening.

Ultimately, this may make this cluster unusable.

@jessesuen @alexmt @sarabala1979

https://cd.apps.argoproj.io/applications/argo-workflows

[2020-12-10 18:53] simster7 opened #4700 "CronWorkflow load and benchmark testing"

[2020-12-10 18:58] simster7 commented on #4700
https://github.com/argoproj/argo/pull/4320

[2020-12-10 19:13] sarabala1979 commented on #4686
I tried with 2.11.8 with the above reproduce steps it works fine for me

![image](https://user-images.githubusercontent.com/33908564/101818420-afb2a700-3ad8-11eb-9f2a-d7eb9ac4a603.png)

![image](https://user-images.githubusercontent.com/33908564/101818376-9b6eaa00-3ad8-11eb-885f-06a773df27ed.png)

[2020-12-10 19:35] sarabala1979 commented on #4393
No Response from the user. Closing.

[2020-12-10 19:35] #4393 closed

[2020-12-10 19:45] sarabala1979 commented on #4696
there is typo on template name `ci-pipline`  `ci-pipeline`

[2020-12-10 20:03] #4671 closed

[2020-12-10 20:21] alexec opened #4702 "Expose Kubernetes API requests as Prometheus metrics"
Expose these. Break down by kind. Already implemented in rollouts.

https://github.com/argoproj/argo-rollouts/blob/master/utils/kubeclientmetrics/metric.go

Should move that to `argoproj/pkg`.

https://github.com/argoproj/argo-rollouts/blob/6a78c769c06bf2c8f4eccdd8c2b1ebf2456ae70e/cmd/rollouts-controller/main.go#L86

[2020-12-10 20:55] Fumesover opened #4703 "Workflows with mutexes get stuck"
## Summary

I'm trying to run a few workflows that are using a mutex, however if I run ~25 steps on the same mutex, the workflows get stuck and can't grab the mutex.

What happened/what you expected to happen?

The workflows get stucks and hangs indefinitely. Deleting the stuck workflows with the web-ui or kubectl does not release the mutex so new workflows can't run until the workflow-controller

[2020-12-10 21:10] paalkr commented on #4691
Thx. looks like the initial problem is fixed, but now I get this error
![image](https://user-images.githubusercontent.com/9726307/101830188-6db74e80-3b34-11eb-9d9f-f0ca0bf1d6c5.png)

[2020-12-10 21:24] dylanhellems commented on #4400
This fix appears to have been recently undone. Was that intentional? https://github.com/argoproj/argo/pull/4496/files

Works in v2.12.0-rc1 but seeing this issue again in later rcs.

[2020-12-10 21:35] alexec commented on #4400
Do you mean you can point to a specific change that undoes it? Or do you actually mean the problem has started to appear again?

[2020-12-10 21:36] alexec commented on #4691
Ok. Please attach the YAML of your workflow so I don't go round in circles on this please.

Thank you.

[2020-12-10 21:44] dylanhellems commented on #4400
Both. It looks like the additional checks for the current auth-mode were removed in the linked PR: https://github.com/argoproj/argo/pull/4496/files

[2020-12-10 21:49] alexec commented on #4400
@simster7 -your PR?

[2020-12-10 22:13] alexec opened #4705 "Leadership election tweaks"
(1) I think it polls too often (every 2s). Is this correct? Is it 		`RetryPeriod:     2 * time.Second`? Why so often?

(2) I think we could have some helpfully Kubernetes debugging events by adding an event recorder:

[code]

[2020-12-10 22:20] simster7 commented on #4400
@dylanhellems I'm having a hard time seeing what the issue is just looking at the changes from the PR you linked. Can you elaborate a bit more on what the issue is, as well as what lines in particular you think affected it? Some steps to reproduce would also help.

[2020-12-10 22:36] dylanhellems commented on #4400
The original fix for this issue added checks to the GetMode conditionals to ensure that it didn't try to use an inactive auth mode (see: the `&& m[Client]` in  https://github.com/argoproj/argo/pull/4412/files#diff-d26743300120981351842cdfdb25e21906ed62d3ca53c448ea6df863d7f1a90cR37).

The later PR removes those extra conditions (see: https://github.com/argoproj/argo/pull/4496/files#diff-d2674330012

[2020-12-10 22:46] simster7 commented on #4400
I see what you mean, I hadn't considered the validity of using Authorization headers while using server mode. I'll get a PR in soon and this will be fixed in the next release

[2020-12-10 22:50] acj commented on #4634
Will do. We ran the latter test (today's `:ratel` + the new env vars related to GC and queuing) this afternoon and had the smoothest run so far. We still slowly fell behind (increasing time in queue, pending workflows, etc), but the workflow completion rate was very consistent throughout the hour-long run, which is great to see. We'll run it again with default settings tomorrow morning and then po

[2020-12-10 23:04] paalkr commented on #4691
Sure. For me this is happens with basically all workflows.
BTW, I now see the latest "cannot read property 'dag' of undefined" error happening for both archived and not archived workflows.

So for example this template
[code]

Resulting in this workflow
[code]

[2020-12-10 23:18] alexec commented on #4634
I think it is best to test one thing at a time :)

[2020-12-10 23:24] alexec commented on #4691
It also happens for me for non-archived workflows.

[2020-12-10 23:28] justinb100 commented on #4703
Can you try using `generateName: test-` instead of `name: test` in the metadata. There can only be one unique WF name per namespace, which is probably causing the issue when you’re submitting 5 at a time.

[2020-12-10 23:32] alexec commented on #4634
Can you try:

* `DEFAULT_REQUEUE_TIME=30s`
* `DEFAULT_REQUEUE_TIME=60s`

I think you should get more workflow throughput (i.e. the queue should not grow).

[2020-12-10 23:35] alexec commented on #4691
I've created a new dev build for you to test: `argoproj/argocli:fix-4691`

[2020-12-10 23:44] paalkr commented on #4691
Thx. I'll test.

Just to make sure, the image tag is supposed to be the same as the previous test build?

[2020-12-10 23:48] paalkr commented on #4691
So, now the stack trace is gone, excellent. But the yaml output does not seem right for the Parent node and Current Node
![image](https://user-images.githubusercontent.com/9726307/101843457-83377300-3b4a-11eb-9dec-5a4269c15e99.png)

[2020-12-10 23:55] alexec commented on #4691
So I think it is the wrong solution.

[2020-12-10 23:55] alexec commented on #4691
@paalkr how's your react?

[2020-12-10 23:58] paalkr commented on #4691
Sorry, I'm not a developer, but a Cloud Native infra architect and ops person.

[2020-12-11 00:05] Fumesover commented on #4703
@justinb100
I'm using a workflow template and not directly a workflow, so if you look at the two workflows that I linked at the end, they have a `generateName: test-` generated by argo with the `--from workflowtemplate/test`
I don't think the issue is caused by that, the workflow template is unique

[2020-12-11 01:43] sarabala1979 commented on #4703
Can you provide workflow controller log for the stuck workflow ?

[2020-12-11 02:02] acj commented on #4634
Completely agree. I was trying to get clarity on what you meant here:

Whether we should apply all of those new env vars at once, or by group, or one at a time, etc.

[2020-12-11 02:27] alexec commented on #4634
I've updated the PR description to make this clearer.

[2020-12-11 03:48] alexec opened #4707 "Fix "Using Your Login With The CLI""
## Summary

![image](https://user-images.githubusercontent.com/1142830/101859492-9afa0180-3b20-11eb-908d-bddc56d60262.png)

Should be `ARGO_SECURE=true` and `export ARGO_SERVER=`workflows.apps.argoproj.io:443`

## Diagnostics

What Kubernetes provider are you using?

What version of Argo Workflows are you running?

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give

[2020-12-11 03:59] alexec commented on #4699
Not fixed. In the Go code it says:

`workflow-controller-lease`

in the role

 `resourceName: workflow-controller`

Should both be `workflow-controller`

[2020-12-11 05:40] #4559 closed

[2020-12-11 05:40] #4629 closed

[2020-12-11 06:19] zen-xu opened #4710 "[UI] Unknown error. Open your browser error console for more information."
## Summary

I upgrade argo to 2.12.0-rc5, and I will meet error when workflow complete

![image](https://user-images.githubusercontent.com/38552291/101870065-d4cc1600-3bbb-11eb-9dc3-2652ddd0dde3.png)

## Diagnostics

What Kubernetes provider are you using?
v1.18.2

What version of Argo Workflows are you running?
v2.12.0-rc5

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍

[2020-12-11 06:35] ryedin commented on #4509
@alexec sorry for late reply. yeah, you bet, and I feel bad for not having done that yet. thanks for everything you do, couldn't live without argo - hope to actually contribute something back at some point :). I'll try to get something posted here tomorrow some time. crunch time, long hours, etc.

[2020-12-11 07:03] dtaniwaki commented on #4583
This is just a workaround, but how about just retrying against Kubernetes control plane API timeout w/ exponential backoff? I think we can stop operating on other workflows if the API timeout.

[2020-12-11 07:25] Fumesover commented on #4703
Here are the logs of the stuck workflow: [GIST](https://gist.githubusercontent.com/Fumesover/0360ea227560f4212e1a22ac40fda4b4/raw/ae7e88ee4ad1d592b5a1475b4a40657117fcd118/stuck-workflow.logs)

And you have the full log of my test controller: [GIST](https://gist.githubusercontent.com/Fumesover/0360ea227560f4212e1a22ac40fda4b4/raw/11a9a1ffc9f39345a6170ee14eb4a47d6ca7eebc/workflow-controller-79d879b9

[2020-12-11 08:42] susana-garcia commented on #4607
I couldn't find out yet what the problem is in our setup with Admilraty. I'm going to close the issue for now.

[2020-12-11 08:42] #4607 closed

[2020-12-11 10:36] sylock commented on #4680
Version of ARgo : 2.11.7

Here is the yaml (with obsfuscated URL or sensible information).
[code]

[2020-12-11 12:55] vivekthangathurai commented on #4696
sorry. my bad. :( closing

[2020-12-11 12:55] #4696 closed

[2020-12-11 16:08] bnoeson opened #4713 ""parallelism" field can't be added in templates referenced inside a dag"
## Summary

I am trying to create a workflow using a DAG template referencing other templates.

[code]

In this workflow, I need to have a task (let's say task-1) that is parallelized with max 5 tasks at the same time, while another needs to be parallelized with max 10 tasks at the same time.

When I try to add `parallelism` field inside `task-1-template`, I get the following error:
[code]

When l

[2020-12-11 17:06] #4699 closed

[2020-12-11 17:24] alexec commented on #4583
Have you attempted to retry a completed workflow with pending/unknown pods? I would imagine it would try to create them again, skip them (due to 409 Conflict) and then run the workflows successfully.

[2020-12-11 17:29] sarabala1979 commented on #4703
I will look into this issue

[2020-12-11 17:34] sarabala1979 commented on #4703
Can you try on 2.12-rc5 build? I have a lock release fix.

[2020-12-11 17:43] alexec commented on #4713
try:

[code]

[2020-12-11 17:47] bnoeson commented on #4713
This doesn't match my use case. I would like to have different parallelism values for the 2 tasks. For now I didn't find a way to have that.

Example:

[code]

[2020-12-11 17:49] Fumesover commented on #4703
Than you for your fast answer.

I run the same test with this version ().

Gist with logs + 5 workflows: [GIST](https://gist.github.com/Fumesover/fae7e5c827f934c2768c620511e15475)

The workflows are locked, but they are not showing the same holder on each workflow.
[code]

[2020-12-11 18:04] tvalasek opened #4714 "Argo UI: Unknown error"
## Summary

When using the UI I randomly get:

[code]
Reload button is dead.

Browser error console shows:

[code]

## Diagnostics

What Kubernetes provider are you using?

`AWS EKS v1.15.12-eks-31566f`

What version of Argo Workflows are you running?

`v2.12.0-rc5`

OS and browser details:

Vivaldi | 3.4.2066.106 (Stable channel) (x86_64)
-- | --
Revision | 9faa7da6e287d30fe3948ac5d9d62aefe7977da

[2020-12-11 18:07] alexec commented on #4680
I believe this error is correct. You do not specify an output parameter with "globalName" in your manifest.

[code]

[2020-12-11 18:08] alexec commented on #4714
Do you have an ingress or proxy in front of your server? If so, please check its configuration wrt to keep-alives.

[2020-12-11 18:14] tvalasek commented on #4714
i can do. i have a question though - something in this release that would trigger this behaviour? I'm using v2.9.5 in exactly same setup and that works just fine.

[2020-12-11 18:23] alexec commented on #4714
Can you try `:latest` and see if you have the same problem?

[2020-12-11 18:40] tvalasek commented on #4714
ehm, with `:latest` I can't even get the `workflow-controller` pod running
[code]
no obvious reason, no logs :(

[2020-12-11 18:44] alexec commented on #4714
ah - I should have just said - just run the argocli, not the controller (which is broken)

[2020-12-11 18:49] alexec commented on #4691
@paalkr does the problem resolve when you refresh the page?

[2020-12-11 18:57] alexec opened #4716 "Prometheus: add metrics to podGC completedPods queues"
# Summary

What change needs making?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-12-11 18:58] alexec opened #4717 "GC pods using background propagation"
# Summary

Any reason to GC pods in the foreground?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-12-11 18:59] alexec opened #4718 "Rate-limit workflow reconcilliation"
Provide a knob that we can use to rate limit reconciliations - reducing CPU usage and allow other workflows to get prioritised.

[2020-12-11 19:00] alexec opened #4719 "Allow grace before marking nodes as error + "pod deleted""
We don't always seem to get updates about pods when K8S is under high load. Allow a grace period before failing workflows.

Add a Prometheus metric too.

[2020-12-11 19:02] alexec opened #4720 "Add debug logging for K8S API requests"
Add to controller and executor.

See #4674

[2020-12-11 19:15] tvalasek commented on #4714
tried following setup

[code]

Still receiving same error. I tried Chrome as well (just in case), same thing

[2020-12-11 19:22] alexec commented on #4714
If you reload the page it goes away?

[2020-12-11 19:25] tvalasek commented on #4714
yes

[2020-12-11 19:52] jessesuen commented on #4713
[code]

As the error message indicates, parallelism is valid on dag or steps. You are attempting to put it on a single container template which by definition, cannot have parallelism.

I think you want this:

[code]

[2020-12-11 19:52] #4713 closed

[2020-12-11 20:12] #4612 closed

[2020-12-11 20:26] #4707 closed

[2020-12-11 21:34] paalkr commented on #4691
Unfortunately refreshing the page does not make any difference.

[2020-12-11 22:28] acj commented on #4634
We see a pretty big difference between `:ratel` with the defaults vs. `:ratel` with `INLINE_POD_GC`, `COMPLETED_PODS_QUEUE`, and `GC_PODS_QUEUE` set to the values I mentioned [above](https://github.com/argoproj/argo/issues/4634#issuecomment-742849878). With the defaults, there's steep growth in queue depth (especially for wf_ttl_queue), succeeded workflow count, and time in queue (again for wf_ttl

[2020-12-11 22:34] alexec commented on #4634
Can I ask you to execute another test? `INLINE_POD_GC=false` instead of on. To back-up this solution, you should see a metric name `gcPod` and it should top out at 2048 (or 512). That would be strong evidence of this being a change we should pursue.

[2020-12-11 22:54] alexec commented on #4634
`DEFAULT_REQUEUE_TIME` acts as a thought-put throttler. As a workflow must be processed twice - no workflow can complete in less time than this value. Once all the pods in a workflow is started, the controller does not need to make any more API requests, it uses a watch to get updates.

I've changed workflow GC so there are now 4 workers (rather than 1) deleting TTL workflows.

I've added new metr

[2020-12-12 01:06] omerfsen commented on #4677
Command worked like this: ( I had to use v2.12.0-rc4 and v2.12.0-rc5 as --argo-base-href can only be provided at this version) along with --argo-http1

[code]

Output is:

[code]

So I think we can close this issue as with new 2.12 cli we support

[code]

command arguments to support also base-href

[2020-12-12 01:06] omerfsen commented on #4677
Closing issue

[2020-12-12 01:06] #4677 closed

[2020-12-12 01:25] alexec commented on #4634
@acj I think we're getting closer to a solution, so as a result I've created a series of PRs with one fix (`:ratel` is stuffed with many fixes). This should make it easier to understand the impact of each change in isolation.

Assumptions:

* You're not getting zombie workflows.
* You're not seeing "pod deleted" errors.

Rejected hypothesis:

* Too many Kubernetes API requests (shown by `k8s_reque

[2020-12-12 16:05] antoniomo commented on #4676
Hi!

I used this modified example workflow for testing:

[code]

It completes just fine, including the expected output on the second step, reading from the volume after the output artifact upload (to the default artifact storage here).

The logs of the wait container on the first step correctly show:

[code]

So I think it works as expected and is good to go :) Thank you!

[2020-12-12 20:01] hughobrien opened #4730 "'heebo.css' requests always return html root"
## Summary

According to the browser network logs, requests to assets/styles/heebo.css are invalid. Accessing the resource directly shows that the index html is returned instead of any css. A base_href envvar is in use, but it seems reproducible without it.
This is a namespaced install.

Other resource seem simarly affected, from the browser console log:
[code]
## Diagnostics

What Kubernetes prov

[2020-12-12 20:45] #4134 closed

[2020-12-14 00:55] alexec opened #4731 "techdebt: Migrate `TestSynchronizationWfLevelMutex` to `FunctionalSuite`"
When we remove the CLI code for v3.0, there will be tests in `CLISuite` that are not primarily testing the CLI, they are testing the controller functionality. These should be moved to `FunctionalSuite` so that we have a complete set of tests.

The only tests that should be in the `CLISuite` are those testing the CLI input and outputs.

[2020-12-14 01:42] monsterxx03 commented on #4558
I've run rc5 over the weekend, seems no issue so far. @simster7

[2020-12-14 04:04] alexec commented on #4693
I've done some tests and I don't think this has the impact I thought it did in most scenarios.

[2020-12-14 04:04] #4693 closed

[2020-12-14 04:05] alexec commented on #4717
I don't think this gives the benefit I expect. I expect it will be better to have more Groutines deleting pods in parallel.

[2020-12-14 04:05] #4717 closed

[2020-12-14 04:06] #4223 closed

[2020-12-14 04:06] alexec commented on #4157
No ask for this. Could just use pods.

[2020-12-14 04:06] #4157 closed

[2020-12-14 04:08] alexec commented on #3648
Done by @simster7

[2020-12-14 04:08] #3648 closed

[2020-12-14 04:08] alexec commented on #3462
@TimothyGu would you like to submit a PR to fix?

[2020-12-14 04:09] alexec commented on #3453
@ashrafgt, @raphelemmanuvel, @terrytangyuan would you like to submit a PR for this? It would be good to support resubmit with different parameters too.

[2020-12-14 04:13] alexec commented on #3453
This would be really useful for ML, where user want to re-submit the same workflow with different parameters each time.

[2020-12-14 04:16] alexec commented on #4710
Is your workflow GCed please?

[2020-12-14 04:17] alexec commented on #4348
Is this still a problem in v2.12 please?

[2020-12-14 04:18] alexec commented on #4266
This dropdown allows to enter garbage namespace names (e.g. "!"). We should fix that.

[2020-12-14 04:18] alexec commented on #3453
See #4662

[2020-12-14 04:19] alexec commented on #4662
Might be good to fix #3453 at the same time. I'm imagining a new panel that pops up similar to submitting from workflow templates. That would be neat.

[2020-12-14 05:22] zen-xu commented on #4710
No, self hosted

[2020-12-14 06:25] TimothyGu commented on #3462
@alexec What's wrong with #3373? Or is it the case that the code is fine, but you'd rather get someone else to champion it?

For what it's worth, we eventually just used the Git CLI for this. Our workflow already had Git available in the container anyway, so it wasn't a huge hassle.

[code]
[code]

[2020-12-14 14:11] hermanhobnob commented on #4692
https://github.com/argoproj/argo/pull/4734

[2020-12-14 14:38] sylock commented on #4680
Hi Alex,

Almost :) Globalname must be a string without dots. Here is the exerpt of code that works.

[code]

By the way, I did not found any explanation or exemple of it's usage in the documentation. It would be fine to add an example.

[2020-12-14 15:18] simster7 commented on #3453
Will be fixed with https://github.com/argoproj/argo/issues/4662

[2020-12-14 15:18] #3453 closed

[2020-12-14 17:16] alexec commented on #4680
Excellent. Would you like to add an example?

[2020-12-14 17:17] alexec commented on #3462
Essentially yes. I don't have the bandwidth to fix this, but if you do have time, you could rebase and test that PR and then submit it. That would be a great way to get it completed.

[2020-12-14 17:17] alexec commented on #4710
I'm afraid the screenshot does not show either the HTTP status code or response body. Could you please attach them?

[2020-12-14 17:43] #4719 closed

[2020-12-14 18:00] hermanhobnob commented on #4692
@alexec , is there anything more I need to do with the PR or will you just merge it at some point, when appropriate?

[2020-12-14 18:21] alexec commented on #4692
@hermanhobnob  - nope. It'll be backport to v2.12 and we'll let you know when it is ready to test as an RC candidate.

[2020-12-14 18:36] #4578 closed

[2020-12-14 19:22] #4400 closed

[2020-12-14 19:34] simster7 commented on #4558
Great to hear. Thanks, @monsterxx03

[2020-12-14 19:39] #4670 closed

[2020-12-14 19:56] #4691 closed

[2020-12-14 22:52] acj commented on #4634
Yep, we'll give this a try tomorrow

Given the plateauing behavior we were seeing last week (bottom of my last comment), is it safe to reject this hypothesis? I'm still wondering about a possible bottleneck there

Sure. We'll ping you in slack once we get our schedule sorted

[2020-12-14 23:50] alexec commented on #4623
I've spoken to @sarabala1979 today.

* `podSpecPatch` is intended for parameterizing fields that are not a parameterizable string (e.g int, resource quantity). It is not intended for conditionally adding volumes.
* This is not a popular issue.
* For this complex use-case -  you can create your workflows programmatically (e.g. using the Python SDK) to have whatever volumes you want.

I've asked @sa

[2020-12-15 00:57] Ark-kun commented on #4690
Perhaps we can have a document describing the limitations.

Hopefully the core Argo features (e.g. Artifact passing) can be supported with all executors.

[2020-12-15 01:04] alexec commented on #4690
@Ark-kun my favourite executor is the `pns`. This is both secure and flexible. If you `runAsNonRoot` it requires you to use the "empty dir" pattern if your output artifacts are not on a mounted volume.  References:

https://argoproj.github.io/argo/workflow-executors/

[2020-12-15 01:06] alexec commented on #4690
Side note, checkout CRI-O: https://cri-o.io/

[2020-12-15 01:13] sarabala1979 commented on #4703
@Fumesover I have eng build with fix. Can I request you to try on your env?
sarabala1979/workflow-controller:mutex

[2020-12-15 02:31] zen-xu commented on #4623
@alexec
But in my case I shoud optional mount volumes in  **Cluster Workflow Template**,  which like a function receive parameters
 and encapsulate the logic rather than let users to implement the workflows logic

[2020-12-15 02:40] zen-xu commented on #4710
![image](https://user-images.githubusercontent.com/38552291/102161201-d3536400-3ec1-11eb-9555-ac6882b0f5e9.png)

[2020-12-15 04:21] avifried1 opened #4745 "TypeError: Cannot read property 'find' of undefined When trying to inspect WF containers in UI"
## Summary
Happens only for specific workflow (regardless of exit status). Reproduce in dashboard:
- Go to workflow.
- Press running pod.
- Go to `Containers` section.

Console throws:

[code]

Component stack:

[code]

## Diagnostics

What version of Argo Workflows are you running? **2.12.0-rc5**

[code]

No controller log errors

---

**Message from the maintainers**:

Impacted by this bug? Give

[2020-12-15 04:53] Bobgy commented on #4690
Thanks for the suggestion.
@Ark-kun I think we should switch KFP to `pns` by default and start validating stableness via e2e tests.

[2020-12-15 07:03] mimicode opened #4746 "Unsuccessful HTTP response: workflows.argoproj.io is forbidden: User "system:serviceaccount:argo:argo-server" cannot list resource "workflows" in API group "argoproj.io" in the namespace"
## Summary

Unsuccessful HTTP response: workflows.argoproj.io is forbidden: User "system:serviceaccount:argo:argo-server" cannot list resource "workflows" in API group "argoproj.io" in the namespace

[2020-12-15 09:10] Fumesover commented on #4703
I confirm that I can no longer reproduce this behavior with this version. Thank you very much!

[2020-12-15 10:37] paalkr commented on #4691
@alexec , is it a test / master image with this fix included? I appreciate that your support on this issue, thx!

[2020-12-15 11:15] #4009 closed

[2020-12-15 12:19] paalkr commented on #4691
I noticed that the same test-build was updated to include the latest commit. To me it looks like the problem is solved!

[2020-12-15 12:35] paalkr commented on #4745
I believe this bug is the same as https://github.com/argoproj/argo/issues/4691, which is now fixed in master.
You can test using test image that @alexec created, `argoproj/argocli:fix-4691`

[2020-12-15 14:43] simster7 opened #4748 "Cherry-pick for v2.12.0-rc6"
* [x] Saravanan Balasubramanian: fix(controller): Fixed workflow stuck with mutex lock
* [ ] Alex Collins: feat(controller): Enhanced TTL controller scalability (#4736) (1a7ed7342)
* [x] Yuan Tang: fix(executor): Always check if resource has been deleted in checkResourceState() (#4738) (7437f4296)
* [x] Yuan Tang: fix(executor): Copy main/executor container resources from controller by value inste

[2020-12-15 16:26] #4571 closed

[2020-12-15 16:50] alexec commented on #4748
I may want to cherry-pick 724fd80, but not today. It has at least one bug in it right now.

[2020-12-15 16:50] alexec commented on #4748
I have submitted my fixes.

[2020-12-15 16:51] alexec commented on #4746
As per the error message  - the RBAC role and rolebinding you have set-up do not grant argo-server service account the "list workflows" permission. You need to correct this.

[2020-12-15 16:54] sarabala1979 commented on #4474
@alexec This feature will applicable only webhook and Calendar event sources.  Do we need this feature?

[2020-12-15 17:01] alexec commented on #4745
This is a duplicate.

[2020-12-15 17:01] #4745 closed

[2020-12-15 17:04] #4703 closed

[2020-12-15 17:06] alexec commented on #4474
I think we should get evidence for the need for this feature. Maybe ask in #argo-events?

[2020-12-15 18:49] max-sixty commented on #4247
I think the easiest resolution is to note in the docs that these will only work in the argo namespace with kustomize. Does that sound reasonable? I can put the PR in if so.

[2020-12-15 18:55] terrytangyuan commented on #4748
Thanks. FYI, in order to cherry-pick #4681 and #4737, you would need #4656 as well.

[2020-12-15 19:01] simster7 commented on #4400
@dylanhellems The fix for this was just released in RC6. Could I ask you to test?

[2020-12-15 19:01] simster7 commented on #4400
https://github.com/argoproj/argo/releases/tag/v2.12.0-rc6

[2020-12-15 19:07] sarabala1979 commented on #3551
@abirdZendesk are you still facing this issue? I didn't hear any update from your side.

[2020-12-15 19:15] terrytangyuan commented on #4748
Looks like rc6 has been released though it seems like #4737 is mentioned in release notes but the commit is not included.

[2020-12-15 19:43] simster7 commented on #4748
I'll include them in GA

[2020-12-15 19:43] #4748 closed

[2020-12-15 20:24] #4714 closed

[2020-12-15 20:24] #4730 closed

[2020-12-15 21:07] tomgoren commented on #4634
We ran a test with `INLINE_POD_GC` set to `true`, (fig. 1) and observed relatively steady processing of workflows for over an hour. It was the smoothest run thus far.
- CPU usage was nominal.
- Completed pods accumulated
- Pending workflows accumulated slowly

When we ran with `INLINE_POD_GC: false`, (fig. 2) this was the outcome:
- CPU usage climbed throughout the run
- workflows in the `Succeede

[2020-12-16 00:26] alexec opened #4749 "Determine and document our 4 golden signals"
https://blog.netsil.com/the-4-golden-signals-of-api-health-and-performance-in-cloud-native-applications-a6e87526e74

[2020-12-16 00:39] alexec commented on #4749
working doc: https://docs.google.com/document/d/1BC2Vg7gYBRadUf9DQdAEwJK7PDoV1wqofZiq23gK93g/edit

[2020-12-16 00:53] simster7 opened #4751 "Argo Server prometheus metrics"
# Summary

What change needs making?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-12-16 01:36] ebr commented on #4560
We don't have those workflows in the cluster anymore, and I didn't take a screenshot! I'll try to run one of the larger workflows again over the holidays to take the screenshot

[2020-12-16 09:32] kenchan0130 opened #4752 "Support external link annotation"
# Summary

Like https://github.com/argoproj/argo-cd/pull/4380, we may want to put external links to workflow templates and workflow execution results as well.

# Use Cases

- Check the specifications for workflow.
- Check logs and performance of workflow execution results

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-12-16 10:01] hyorigo opened #4753 "For multiple step workflow, Recv() of WorkflowService_PodLogsClient for each single stage will block until all stages is done."
## Summary

What happened/what you expected to happen?

Recv() of WorkflowService_PodLogsClient returns io.EOF error right after the pod is completed.

## Diagnostics

What Kubernetes provider are you using?

[code]

What version of Argo Workflows are you running?

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-12-16 14:23] idsvandermolen opened #4754 "failed to save outputs: Timeout: request did not complete within requested timeout 34s"
## Summary

We have a cluster-wide Argo install. When deploying a simple workflow with `argo submit --watch ./wf.yaml`, the container finishes but about 30s later we get this error:
[code]
It is always returning the error with `34s`, even if we change the `sleep` value in the workflow.

## Diagnostics

What Kubernetes provider are you using?
We are using GKE `v1.17.13-gke.2001`

What version of Ar

[2020-12-16 15:07] basanthjenuhb commented on #4754
@idsvandermolen Can you please try with this role https://gist.github.com/basanthjenuhb/7d4b70db92cfa836b3d9825f3b646b44

[2020-12-16 16:32] alexec commented on #4752
A feature to add links exists: https://argoproj.github.io/argo/links/
If we had a standard annotation we could modify the code to allow you to link that too. Would you like to submit a PR?

[2020-12-16 16:33] alexec commented on #4753
Could you perhaps add some detail of why this is a problem and reproduction steps?

[2020-12-16 17:02] stefansedich opened #4756 "When not specifying port for Postgres DB port is defaulting to 0"
## Summary

It looks like since the changes in https://github.com/argoproj/argo/pull/4307 if you do not specify a port for your PG configuration it will now default to `0` since the port type has changed to an integer and the concatenation logic will append `:0` to the connection string.

---

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-12-16 17:11] alexec commented on #4756
Please can you test `:fix-4756`

[2020-12-16 17:21] stefansedich commented on #4756
Thanks @alexec for the speedy fix, that LGTM.

[2020-12-16 18:12] hughobrien commented on #4730
thank you for the super-quick analysis/resolution!

[2020-12-16 19:18] simster7 opened #4760 "If a Workflow, CronWorkflow, etc. uses a WorkflowTemplate as `workflowTemplateRef`, provide a link in the UI directly to that template"
# Summary

What change needs making?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-12-16 19:25] Trollgeir commented on #3933
I'm also being affected by this bug, specifically that of https://github.com/argoproj/argo/issues/2841

@whynowy - I saw you assisted in the PR implementing the GCS feature https://github.com/argoproj/argo/pull/2484 - do you have insights for a potential fix?

[2020-12-16 19:35] tomgoren commented on #4634
Test results from using the `:gc-queue` image:
- CPU usage grew as the test went on, and maxed out (32 cores) after ~30 minutes
- "Succeeded" workflow tally accumulated throughout the test, only clearing after we killed the script that submits new workflows
- Pending workflows steadily grew at the same pace as the running workflows
- `workflow_ttl_queue` grew throughout and its behavior mirrored t

[2020-12-16 19:49] alexec opened #4761 "v2.12: leadship election panics and crashes controller"
[code]

I'm pretty use we panic here and then we see other things shutting down.

[code]

https://github.com/kubernetes/client-go/issues/754

[2020-12-16 20:04] alexec commented on #4634
#4761

[2020-12-16 20:27] #4694 closed

[2020-12-16 20:42] alexec commented on #4634
I'm pretty sure we have a new bug in TTL.

[2020-12-16 21:13] aviklai commented on #3551
@sarabala1979 yes but I am still on version 2.9.3

[2020-12-16 21:46] tomgoren commented on #4634
Testing with `:latest` (`argoproj/workflow-controller@sha256:4bccc84a407d275b6b7f0e5072341cdfd293fd098b8d2d10465ecb85c6265e49`) - fig. 1:

- CPU climbed steadily
- Succeeded count kept going up
- workflow_ttl_queue kept going up
- Running and pending relatively steady - both grew slowly in tandem

Testing with `:rate` - fig. 2:

- Essentially identical to the first test

Testing with`:latest` (sam

[2020-12-16 22:05] alexec commented on #4634
I've been doing some exploratory testing and it is clear TTL often just does not happen. This is a functional bug, not in fact a scaling issue. I'll fix this and get back to you as I'm currently trying to improve the performance of something fundamentally broken.

[2020-12-16 22:39] sarabala1979 commented on #3551
Can you try it on 2.11.8?

[2020-12-16 22:52] alexec commented on #3551
@sarabala1979 a little note here. Default workflow TTL do not apply to the ttl controller.

[2020-12-16 22:55] alexec commented on #3551
Ignore me, I think I am wrong.

[2020-12-16 23:03] #4716 closed

[2020-12-16 23:04] alexec commented on #4565
I believe this has been likely fixed/mitigated on master.

[2020-12-16 23:04] #4565 closed

[2020-12-16 23:04] sarabala1979 commented on #4761
@alexec is this happening on your test? are you configuring `LeaseDuration:   0 * time.Second` on code?

[2020-12-16 23:09] #4731 closed

[2020-12-16 23:13] alexec commented on #4761
@sarabala1979 no, it just seems to happen after about running for (maybe) 20m+

[2020-12-16 23:21] alexec commented on #4560
I think this is now fixe.d

[2020-12-16 23:21] #4560 closed

[2020-12-16 23:53] sarabala1979 commented on #4761
The issue is fixed in v1.20 Kubernetes.
https://github.com/kubernetes/kubernetes/pull/80954

[2020-12-17 00:15] alexec commented on #4634
Accidentally close.

[2020-12-17 00:17] alexec commented on #4634
@tomgoren I've merged #4728 master. I'd like you to test my bug fix for TTL `:fix-ttl` (based on `master`).

[2020-12-17 00:19] alexec commented on #4634
I should note I've run submitting 600 workflows at once on my Macbook. That peaked at 60 concurrent a second. I'm going to launch this on a test cluster tomorrow.

[2020-12-17 01:22] Ark-kun commented on #2679
I'm not sure this has been fixed.

[2020-12-17 01:24] Ark-kun commented on #4690
The main issue holding that back is https://github.com/argoproj/argo/issues/2679 . Making Argo auto-mount volumes (e.g. `emptyDir`) under output artifacts would solve this.

[2020-12-17 03:45] alexec commented on #2679
Re-opened. This got closed by a PR and should not have been close. Would anyone be interested in investigating how to fix this?

[2020-12-17 03:47] alexec commented on #2679
This would be for `k8sapi` and `kubelet` executors. I think it may also be needed for whenever `runAsNotRoot: true`.

[2020-12-17 07:08] kenchan0130 commented on #4752
This is to provide a link to the argo server, and I am aware that it is not possible to provide a link for individual workflows.

I don't know what the policy is for modifications, so please let me know.

Are you assuming that you don't add any processing on the server side, but modify the front end (probably [around here](https://github.com/argoproj/argo/blob/master/ui/src/app/workflow-templates/

[2020-12-17 07:25] #4366 closed

[2020-12-17 08:40] idsvandermolen commented on #4754
@basanthjenuhb Adding access to the secrets in the role has no effect, same error.