[2022-06-27 02:38] ThreadDao opened #9062 "workflow-controller panic: runtime error: invalid memory address or nil pointer dereference"
## Checklist

* [ ] Double-checked my configuration.
* [ ] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary
We faced the argo workflow controller panic problem:
[code]
What happened/what you expected to happen?

What version are you running?
Image: `quay.io/argoproj/workflow-controller:v3.3.6`

K8s version
[code]

## Diagnostics

Paste the smallest workflow that repro

[2022-06-27 04:53] sarabala1979 commented on #9062
@ThreadDao  fixed in https://github.com/argoproj/argo-workflows/pull/8961
try with latest tag

[2022-06-27 05:14] zjgemi commented on #8224
I think the problem is that the workflow contexts (workflow.xxx, inputs.xxx, steps.xxx or tasks.xxx) and the loop context (item) cannot be introduced simultaneously for a expression (starts with {{=).

[2022-06-27 07:59] rmathagiarun commented on #6635
Similar to the issue mentioned by @edevash , we have external generated Certs and rootca that needs to be available at execution time and not at build time.

We are planning to use the following workaround done on top of workflow/controller/workflowpod.go,

1. Add an additional mount volume(/usr/local/share/ca-certificates). This volume will be pointed to a secret file which contains external gene

[2022-06-27 11:33] DiegoFlop commented on #8911
Any idea how to solve this?

[2022-06-27 14:24] sarabala1979 commented on #8911
@DiegoFlop let me look this and update you

[2022-06-27 20:32] sandeepitachi commented on #8742
Just tested with latest image. Issue still exists.
exit hook ignores the expression

[2022-06-27 21:56] #9029 closed

[2022-06-27 23:29] #8666 closed

[2022-06-28 02:30] ThreadDao commented on #9062
Thanks a lot. the workflow controller pod restarted after deleting the running workflow. Next time I encounter this problem I will try the new version

[2022-06-28 11:33] CRASH-Tech opened #9065 "Cannot create workflow by sensor, the server could not find the requested resource"
## Checklist

* [X] Double-checked my configuration.
* [X] Tested using the latest version.
* [X] Used the Emissary executor.

## Summary

Cannot create workflow by sensor, the server could not find the requested resource

## Diagnostics

Paste the smallest workflow that reproduces the bug. We must be able to run the workflow.

[code]

[code]

---

**Message from the maintainers**:

Impacted by th

[2022-06-28 13:11] sebastian-sz opened #9066 "Cannot connect Argo Workflow with a local Nvidia GPU."
## Checklist
* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary
I am trying to expose my GPU to Argo Workflow.

* I am running Minikube with `driver=None`
* I have followed and completed the steps in [Nvidia's repo](https://github.com/NVIDIA/k8s-device-plugin#quick-start)
* I am successfully able to access GPU running [Nvidia

[2022-06-28 13:31] liujiong1982 opened #9067 "Large Workflow hydration failed: upper: no more rows in this result set"
### Version
Argo Version: v2.12.0

### Problem
I am running a large workflow with more than 130 nodes in Argo Workflow.
At some point, workflow controller will report "hydration failed: upper: no more rows in this result set" and update workflow from Running to Error

### Log
time="2022-06-28T09:46:54.965Z" level=info msg="Alloc=68215 TotalAlloc=68006896 Sys=290846 NumGC=2238 Goroutines=344"
time=

[2022-06-28 13:54] liujiong1982 commented on #9067
Could it caused by GC delete offloadWorkflow in database?

[2022-06-28 13:56] terrytangyuan commented on #9066
Is it working with a standalone pod?

[2022-06-28 14:02] sebastian-sz commented on #9066
@terrytangyuan Yes, running from Nvidia example:
[code]
Inspecting logs:
[code]

[2022-06-28 16:16] #6888 closed

[2022-06-28 16:37] #9062 closed

[2022-06-28 16:40] sarabala1979 commented on #9065
@CRASH-Tech  Did you install Argo-workflow CRD on your cluster?

[2022-06-28 16:44] CRASH-Tech commented on #9065
Yes, it works if I create this workflow manually

[2022-06-28 17:13] #8533 closed

[2022-06-28 21:54] #8667 closed

[2022-06-28 23:00] #8998 closed

[2022-06-28 23:12] kasteph commented on #8921
Hey @lacarvalho91 I just wanted to let you know that I verified this by running a workflow that uses `{{ tasks.previous-task.outputs.result }}` as an input and it worked.

[2022-06-29 06:07] sebastian-sz commented on #9066
Apologies, this seems to be an issue with my local cluster.

[2022-06-29 06:07] #9066 closed

[2022-06-29 06:41] chenbodeng719 commented on #1625
@Itfly Did you solve it? The same demo code. And It happens sometime not all the time, but I can't fix it.

[2022-06-29 08:05] chenbodeng719 opened #9074 "Unable to resolve artifact by using its own artifact storage sometimes"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

I expected the dag workflow is ok all the time instead of sometimes. I resubmit the workflow, but it just works sometimes, not all the time. It shows "Unable to resolve: "tasks.generate-artifact.outputs.artifacts.hell

[2022-06-29 08:24] chenbodeng719 commented on #1625
@Itfly Do you solve it? I get the error sometimes. It's weird.

[2022-06-29 10:01] JulesBelveze opened #9075 "Cannot access Argo server"
## Summary

What happened/what you expected to happen?

I am attempting to run Argo on a GKE cluster. To do so, I'm following the [Quick Start guide](https://argoproj.github.io/argo-workflows/quick-start/) and I am running into an issue trying to connect to the server UI. I've open a port-forward to my k8s cluster but I cannot seem to be able to open it.
I've tried to access it through both `http:

[2022-06-29 12:40] clumsy456 commented on #6805
Above is just my proposal, not implemented...

[2022-06-29 13:53] louisnow opened #9077 "Unable to load the root of s3 bucket path as an artifact on argo"
## Summary

What happened/what you expected to happen?

Unable to load the root path of the s3 bucket in argo. Attaching sample workflow where I've tried specifying the key as `/`
I expect to be able to load the bucket as an artifacts.

Use Case: We have multiple buckets for different data resources/projects. All of the data needed is at the root of the bucket and it seems to be impossible to load

[2022-06-29 14:31] #9065 closed

[2022-06-29 15:37] #7745 closed

[2022-06-29 15:50] #8882 closed

[2022-06-29 16:55] sandeepitachi commented on #9075
Hi Jules, did you try port forwarding the service ?
`kubectl port-forward -n argo svc/argo-server 2746:2746`

[2022-06-29 17:06] JulesBelveze commented on #9075
Thanks!

[2022-06-29 17:06] #9075 closed

[2022-06-29 18:35] sarasensible opened #9080 "Runtime error on missing logs for Argo Workflows configured with S3 bucket"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor - I used the default of `containerRuntimeExecutor: emissary` in my helm chart

## Summary

What happened/what you expected to happen?
I looked for logs to show up under a sample workflow configured with a service account that has S3 access with an S3 bucket as an artifact re

[2022-06-29 18:50] jmeridth commented on #2890
Is this solved by https://github.com/argoproj/argo-workflows/pull/7854 being merged today?  Still waiting on release but curious if so.

[2022-06-29 19:01] juliev0 commented on #9077
Hi @louisnow. Do you have reason to think S3 lets you do this? I don't think is related to Argo but rather to S3 itself (you can let me know otherwise, though).

[2022-06-29 20:03] sarasensible commented on #9080
I tracked this down to an issue in which I had three competing configmaps all trying to specify where the artifact repository default should be.  Two of these were left over from a previous install which had been done manually and the third was from the helm install.  The error was therefore most likely an issue with the Go code trying to resolve three different directives around the default repos

[2022-06-29 20:03] #9080 closed

[2022-06-29 20:08] dpadhiar commented on #9074
@chenbodeng719 Hello, I have run this workflow a few times now on `master` branch and I've been unable to see this error reproduce. Could you try running again and see how often this error appears?

[2022-06-30 00:09] #2890 closed

[2022-06-30 00:09] alexec commented on #2890
This is a feature, not a fix. We typcially don't backport features.

[2022-06-30 01:18] chenbodeng719 commented on #9074
@dpadhiar You can click the resubmit multi times the workflow in a short time. It will happen sometimes.

[2022-06-30 02:51] tianshimoyi opened #9083 "Wait container cannot exit if main container is OOMKilled"
What happened/what you expected to happen?

wait container cannot exit if main container is OOMKilled

Use Case: Start a workflow, then let the main container oom, and find that the wait container does not exit.

![截屏2022-06-30 上午10 47 17](https://user-images.githubusercontent.com/68532999/176581977-af5859b9-fa45-4fcc-b188-5737462bf69f.png)

![截屏2022-06-30 上午10 48 03](https://user-images.githubuse

[2022-06-30 02:55] terrytangyuan commented on #9083
@alexec Could you take a look?

[2022-06-30 03:37] caelan-io commented on #2890
Closed by #7854

[2022-06-30 03:38] caelan-io commented on #5824
I believe this is closed by #7854.

@tim-sendible let us know if not the case and we can re-open this issue!

[2022-06-30 03:38] #5824 closed

[2022-06-30 04:56] alexec commented on #9083
This should not happen in v3.4. If the controller see that the main container has exited, then it sends a SIGTERM to the wait container and it should exit.

Can you try with latest?

If latest works, then we could look at backporting the fixes. My worry would be that the fixes are involved, so backporting might be tricky.

I’m not sure when the team plan to release v3.4

[2022-06-30 06:32] tianshimoyi commented on #9083
@alexec Sorry, I tried the latest version and it still doesn't work！

3.3.5 version and 3.3.8 version the code about this part is the same, I don't think it will handle this case, and I tried the latest version, it does not work！

![截屏2022-06-30 下午2 26 24](https://user-images.githubusercontent.com/68532999/176607510-83104a3c-0762-4cae-96b5-f45437a11772.png)

[2022-06-30 08:08] tim-sendible commented on #5824
Yes, I think it probably will fix the issue. Do you know what version it'll go into @caelan-io ?

[2022-06-30 11:12] tooptoop4 opened #9085 "trivial - reduce log spamming about artifact-repositories"
I see this message printed in my argo-workflows-workflow-controller pod logs about 15 times every hour:
```time="2022-06-30T11:03:40.245Z" level=warning msg="Non-transient error: configmaps \"artifact-repositories\" not found"```

perhaps controller can change to only look for the configmap on startup of the pod?

argo version is 3.3.8

[2022-06-30 11:53] shioshiota commented on #8275
We faced a similar problem.
A workflow controller in our cluster kept restarting by failing the liveness probe.
There are over 6000 Workflow objects in our cluster.
Argo Workflow version: v3.3.1

We decided to turn off the liveness probe.
The implementation of the healthz endpoint used by liveness probe implementation frequently sends very high-load requests to the k8s API server.
It lists all Wor

[2022-06-30 14:57] yeongsheng-tan commented on #8380
I'm still getting the error on argo-workflows master branch from commit hash [61211f9d](https://github.com/argoproj/argo-workflows/commit/61211f9db1568190dd46b7469fa79eb6530bba73). Plus `singleBranch` with `branch` throws workflow json error:
[code]

My workflow is a modified version from [input-artifact-git.yaml](https://github.com/argoproj/argo-workflows/blob/master/examples/input-artifact-git.y

[2022-06-30 15:20] alexec commented on #8275
The logic of health is inefficient as it lists all workflows. It should use a label selector to find to only list workflows without the phase label (workflows.argoproj.is/phase I think). That label indicates a workflow has not been reconciled. It could also use then “limit” list option to reduce the number of result returned. That would address the problem.

[2022-06-30 15:58] sarabala1979 commented on #8986
@alexrosenfeld10 Do you like to contribute to this feature.
you can set the log formatted during the startup
[code]

[2022-06-30 16:37] sarabala1979 commented on #9083
@alexec Are you going to fix it?

[2022-06-30 16:39] sarabala1979 commented on #9085
@dpadhiar can you take a look?

[2022-06-30 16:54] alexec commented on #9083
No. I'm both about to go OOV for two week, but also I don't have a mandate for bug fixes now. The core team will need to address them. Instead, the team can make sure they can repro the issue. If you can do that today or tomorrow, then we can get on a Zoom debug for 30m and see if we can diagnose the issue.

[2022-06-30 16:57] alexec commented on #9085
@sarabala1979 I think this is low impact and therefore low priority. I don't think it is a bug either, tech debt.

[2022-06-30 18:01] terrytangyuan commented on #9085
For other transient errors (not related to artifact-repositories configmap), this info is useful for users to know what is being retried so I am not sure if we want to make it debug level.

[2022-06-30 19:39] TheGreatAbyss opened #9087 "respect-concurrency flag on argocli for cronworkflows"
# Summary
Sincere apologies if I'm missing something, but there doesn't seem to be a way to use argocli to submit a cronworkflow job while also respecting the concurrency policy.   I have some cronworkflows created with ` concurrencyPolicy: Forbid`.  This works just fine when it's following the usual cron schedule where two jobs will never schedule at the same time.   However, if you submit the wo

[2022-06-30 20:31] alexrosenfeld10 commented on #8986
@sarabala1979 sure, I'm happy to open a PR.

Are you suggesting we simply hard code it to be logged as JSON? I'd imagine we want it configureable to the user. Can you point me to how I might do that?

[2022-06-30 22:31] dpadhiar commented on #9085
In that case, we can leave as is and come to another solution if necessary.

[2022-06-30 23:05] sarabala1979 commented on #9083
@alexec will this code fix this issue?
https://github.com/argoproj/argo-workflows/blob/0b2fe2face955f31941496c1a99c13e1b12909d9/workflow/controller/operator.go#L1188-L1192

[2022-06-30 23:30] sarabala1979 commented on #9083
I am not able to reproduce this issue on my local.
 controller | ******* Running
 controller | ***** checking cleanupPod dag-test2-a-4233667491
 controller | ***** main &ContainerStateTerminated{ExitCode:137,Signal:0,Reason:OOMKilled,Message:,StartedAt:2022-06-30 16:28:16 -0700 PDT,FinishedAt:2022-06-30 16:28:17 -0700 PDT,ContainerID:containerd://d8942963603d4e01a1e489432a4361f9b629dbb706d32b63872

[2022-07-01 00:29] sarabala1979 commented on #9083
@tianshimoyi are you seeing `cleaning up pod` in your log once main container exits.

[2022-07-01 02:25] tianshimoyi commented on #9083
@sarabala1979 When I adjust the memory limit to 100 Mi, I can see the cleaning up pod log, but the memory limit remains unchanged, still 50 Mi, I can't see the cleaning up pod log.

memory.limits = 50Mi
![截屏2022-07-01 上午10 17 26](https://user-images.githubusercontent.com/68532999/176811007-6d131bdc-bf21-4ce0-a575-da3d555465f2.png)

memory.limits = 100Mi
![截屏2022-07-01 上午10 20 34](https://user-imag

[2022-07-01 02:29] tianshimoyi commented on #9083
@sarabala1979 Another point, when the memory limit is 50Mi, the pod will immediately become OOMKilled state. But when the memory limit is 100Mi, the pod will run for a while, then it will become OOMKilled state, and the wait container will also exit.

[2022-07-01 03:20] tianshimoyi commented on #9083
Sorry, I didn't see this log. But what's interesting is that with version 3.3.5 this happens for sure, but occasionally with version 3.3.8.

[2022-07-01 04:37] tianshimoyi commented on #9083
Sorry, I didn't see this log. You can make limits.memory smaller. And I think in the following code, if we judge that the main container is terminated, we should clean up pod.
![截屏2022-07-01 下午12 34 51](https://user-images.githubusercontent.com/68532999/176824257-8f3eddb2-2d5f-44a3-bcca-f97d6e80122e.png)

[2022-07-01 07:47] tianshimoyi commented on #9083
@sarabala1979 What is your ContainerRuntimeExecutor? Mine is the default emissary.

[2022-07-01 08:41] LoricAndre opened #9090 "Static token authentication mode"
# Summary
This would implement a new authentication method using tokens from a specific secret.

# Use Cases
This could be useful for automatically managing workflows from a different cluster or namespace.
Right now,
+ `--auth-mode server` will allow to bypass any other authentication method by design.
+ `--auth-mode client` requires access to a ServiceAccount-s secret token, which can be complica

[2022-07-01 12:10] ezk84 commented on #8882
🕺 Great!

[2022-07-01 15:24] leonidas-o opened #9091 "Argo CronWorkflow unknown time zone"
## Summary

As soon as I add `timezone: "Europe/Zurich"` the workflow is not generated out of the cron workflow. When I remove it, all works fine, then I add back the timezone, it shows and also counts (countdown) correctly inside the UI, but it is not creating a workflow.
Should be resolved according to: https://github.com/argoproj/argo-workflows/issues/5653

Running on Argo Workflows 3.3.8 deplo

[2022-07-01 18:11] juliev0 opened #9092 "wait container doesn't update Artifact location in Workflow Status if Template.ArchiveLocation is specified"
If I set Template.ArchiveLocation, the wait container doesn't seem to reflect that location in the NodeStatus. I believe it is a change that needs to be made in executor.go on this [line](https://github.com/argoproj/argo-workflows/blob/master/workflow/executor/executor.go#L342).

[code]

[2022-07-01 20:51] caelan-io commented on #5824
Awesome! It sounds like a v3.4 is getting ready for release in late July/ early August so we'll see if it can get it into that version.

[2022-07-01 21:26] terrytangyuan commented on #9091
Just quickly checked that this time zone is already in: https://github.com/golang/go/raw/master/lib/time/zoneinfo.zip

[2022-07-01 21:30] leonidas-o commented on #9091
Okay, at least the timezone can be found under the zoneinfo.zip file. Haven't mentioned it, but I also tried "Europe/Paris" and this had exactly the same behaviour of not starting up a workflow when set.

[2022-07-02 03:18] venkatamutyala opened #9094 "bug: GitHub Codespaces not building"
## Summary

What happened/what you expected to happen?

**The GitHub Codespaces image is not building for this repository. This impacts me and other future contributors who want to get a dev environment up and running quickly so that they can make a contribution.**

What version are you running?

**latest - [0b2fe2f](https://github.com/argoproj/argo-workflows/commit/0b2fe2face955f31941496c1a99c13e

[2022-07-02 03:23] venkatamutyala commented on #9094
@tczhao i noticed you committed the original files [here](https://github.com/argoproj/argo-workflows/tree/master/.devcontainer). Would you be OK with me committing a PR to fix those files so that they work with GitHub codespaces?

[2022-07-02 07:18] #8615 closed

[2022-07-02 07:20] #8616 closed

[2022-07-02 07:24] #8580 closed

[2022-07-02 07:40] tooptoop4 commented on #8322
crunchy

[2022-07-02 13:26] tczhao commented on #9094
Of course, you are very welcome.
Please go ahead and make a PR

[2022-07-04 06:35] chenbodeng719 commented on #9074
@dpadhiar Anyway, it looks like if you use artifact to pass data, it's not stable. Sometimes it can't resolve the artifact source. So I change my way to use volumeClaimTemplates to artifact tmp location. There is a demo of it. [https://github.com/argoproj/argo-workflows/blob/master/examples/ci-output-artifact.yaml](example)

[2022-07-04 07:44] rpalloni commented on #8984
@dpadhiar Firefox on Ubuntu 20.04

[2022-07-04 08:59] hjorth opened #9108 "serviceAccountKeySecret - optional not respected."
## Checklist

* [X] Double-checked my configuration.
* [X] Tested using the latest version.
* [X] Used the Emissary executor.

## Summary

When using gcs for getting artifacts:
            gcs:
              bucket: "{{ workflow.parameters.storage-bucket }}"
              # key could be either a file or a directory.
              key: "{{workflow.parameters.file}}"
              serviceAccountKeyS

[2022-07-04 13:58] LingClassmate opened #9109 "Argo Workflow can only create 10 running tasks."
What happened/what you expected to happen?

Argo Workflow can only create 10 running tasks. If you submit them again, you will be prompted `Pending: Workflow processing has been postponed because too many workflows are already running`

What version are you running?
`v3.3.5`

[2022-07-04 17:50] deepto98 commented on #8685
@terrytangyuan @alexec I'm working on this, have been trying to run the project locally, following

[2022-07-04 17:53] deepto98 commented on #8685
@terrytangyuan  @alexec  I'm working on this, have been trying to run the project locally using the VS Code remote container, following [the docs here](https://argoproj.github.io/argo-workflows/running-locally/), but I keep getting this error when running `make start`:
[code]
Can you please help with this?

[2022-07-04 17:54] terrytangyuan commented on #8685
@tczhao Would you want to help take a look at the error above regarding dev container?

[2022-07-05 01:36] tczhao commented on #8685
@deepto98
the error looks like you have problem connect to k8s
you can try
[code]

It would be good if you can also provide which platform you are running it on (e.g. apple m1)

[2022-07-05 06:39] Dbraum commented on #8380
I also get the same error ,the workflow

[code]

[2022-07-05 13:37] licheng5625 commented on #7273
still dose not work with version workflow-controller:v3.3.5

[2022-07-06 05:23] amosaini opened #9117 "Argo Workflow not working with libreoffice"
## Summary

What happened/what you expected to happen?
I am need to use libreoffice headless to convert docx file to pdf. This is working execellent in Vanilla k8s and Databricks but when i do the same in Kubeflow which uses argo workflow at its backend it does not produce any output.

What version are you running?
argoproj.io/v1alpha1
Kubeflow 1.4

## Diagnostics

Paste the smallest workflow that

[2022-07-07 00:39] cobyrne09 commented on #7252
I believe I'm seeing the same issue... most errors are being logged in json, but still getting some such as `W0707 00:22:13.789315       1 warnings.go:70] external-secrets.io/v1alpha1 ExternalSecret is deprecated; use external-secrets.io/v1beta1 ExternalSecret` coming through. Guessing it's just a matter of different processes outputting differently... will dig deeper if I get the chance.

[2022-07-07 06:39] zjgemi opened #9120 "Unable to resolve output artifact of steps from expression when it refers to its own input artifact"
## Summary

I'm trying to assign an output artifact of steps using `fromExpression`. When the expression contains reference of an input artifact of the same steps, Argo fails to resolve it. Interestingly, using `from` instead of `fromExpression` works.

## Diagnostics

The smallest workflow that reproduces the bug

[code]

When the workflow is submitted, the steps becomes error with message:
[code

[2022-07-07 09:43] RoryDoherty opened #9121 "Artifacts: HTML artifact with javascript will not open correctly from UI"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
I have a pipeline which produces a html test report which uses javascript. I upload this to GCS using
[code]
so that I can open it directly from the browser. This did work a few months ago but now In the chrome develop

[2022-07-07 10:22] abhilasharevur opened #9122 "list_workflows: `argo_workflows.exceptions.ApiTypeError: Invalid type for variable 'finished_at'`"
## Checklist

* [x] Double-checked my configuration.
* [ ] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
listing workflows using Python sdk example in the document returns this error:
[code]

What version are you running?
argo==3.3.7
argo-workflows==6.3.0rc2

## Diagnostics
1. create, delete workflows work fine
2. list wo

[2022-07-07 11:43] abhilasharevur commented on #9122
There was only one workflow and it was still running when I executed "list_workflow".
So the value for the variable 'finished_at' is null.

[2022-07-07 15:35] agrvu opened #9123 "Support mounting `workflow-controller-configmap` as a volume to prevent need for manual restarts"
# Summary
Currently the `workflow-controller-configmap` reference is passed in as a CLI argument to both the argo server and workflow-controller. As such, when the configmap is updated it does not automatically trigger a restart of workflow controller's pods which means the pods have to manually bounced in order for the new config to be picked up by the controller.

# Use Cases
To avoid the need f

[2022-07-07 16:42] sarabala1979 commented on #9083
I am also using emissary

[2022-07-07 20:55] dpadhiar commented on #9120
@zjgemi Hello, what is your use case for these artifacts in this scope?

[2022-07-07 21:36] #9092 closed

[2022-07-08 01:59] tianshimoyi commented on #9083
@sarabala1979 @alexec
I have found the problem, the reason is when oom_kill is triggered, the argoexec process has more rss than the child process, so the aroexec process is killed, the defer function cannot be called, and the /var/run/argo/ctrl/main/exitcode file cannot be created, and the wait container cannot exit. , the pod is always in the Running state.
This is to allocate enough memory spac

[2022-07-08 09:24] zjgemi commented on #9120
In my case I have a conditional step. If the step is not skipped, the next step uses its output artifact, otherwise the next step uses my input artifact directly. Due to conditional artifacts only supported when assigning output artifacts, I construct a steps template to do this.

[2022-07-08 10:02] alexec commented on #9083
Ok. So the controller presumably does not catch this. I have a solution that might work.

Every second, a Goroutine in the emissary in the main containers touches a file named `/var/run/argo/ctrl/main/alive` to indicate it is alive. In the same loop wait container loop that checks for the exitcode file, add a check to see if the alive file has been touched recently (e.g. in the last 10s), if not w

[2022-07-08 10:07] alexec commented on #9121
JavaScript is disabled. This reason is explained here:

https://argoproj.github.io/argo-workflows/artifact-visualization/#security

You can use CSS, and you can do some pretty neat animation using CSS. Check out the HTML produced for the test report in the examples dir.

If you want to change it:

https://github.com/argoproj/argo-workflows/blob/50a4d00443cfc53976db6227394784bbf34fe239/server/artif

[2022-07-08 10:07] #9121 closed

[2022-07-08 10:09] alexec commented on #9090
Could you add a problem statement or use case please?

[2022-07-08 10:13] tianshimoyi commented on #9083
I don't think this method can be solved, because you can't control when the main container starts. What if it takes an hour for the main container to start? I think the best way to modify it is to modify it in the contoller. If the main container fails, but the wait container does not exit, send a signal to the wait container, and the wait container will execute the exit logic after receiving the

[2022-07-08 10:16] alexec commented on #9083
That should already be the logic on `:latest`. You shared the block of code a 7 days ago, but the block you share was on v3, not on master.

[2022-07-08 10:29] tianshimoyi commented on #9083
I'll check it sometime, or can you send me the relevant code? I remember that the code in 3.3.8 is that both the wait container and the main container exit, sending a kill signal to other sidecars

发自我的iPhone

------------------ Original ------------------
From: Alex Collins ***@***.***&gt;
Date: Fri,Jul 8,2022 6:16 PM
To: argoproj/argo-workflows ***@***.***&gt;
Cc: 天使莫忆 ***@***.***&gt;, Mention *

[2022-07-08 10:41] niqdev commented on #4804
I have the same issue in `v3.3.8` with Ambassador `3.0.0`. If it can help, I've temporarily "patched" it by increasing the timeout too
[code]
I've opened a feature request 🤞🏻 https://github.com/emissary-ingress/emissary/issues/4323

[2022-07-08 10:46] tianshimoyi commented on #9083
This is really cool, I'll check out the master branch

[2022-07-08 12:35] RoryDoherty commented on #9121
Thanks @alexec
I had tried searching but didn't see any issues referring to it, should have checked the docs better!

I assume this is the example workflow: https://github.com/argoproj/argo-workflows/blob/master/examples/ci-workflowtemplate.yaml

I'm using xunit viewer to generate the artifacts which adds the javascript

[2022-07-08 15:07] pwheimann commented on #7080
There still seems to be an issue around HTTP Templates and exit handling. While the reproducible example included with this issue does complete, this simple change will make it hang:
[code]
It looks like running an HTTP Template within an invocation exit handler template (step or dag) still hangs. I've seen this behavior in v3.8.8 and K8s v1.21.

[2022-07-08 17:41] huangjiasingle opened #9128 "hash/fnv has collision cause the wait container process not as expected when create workflow as same name"
## Checklist

* [ ] Double-checked my configuration.
* [ ] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
wait container can wait correct main container
What version are you running?
v3.3.8
## Diagnostics

every day, we has more than 1000000 data process task process by argo workflow, use workflowtemplate to create workflo

[2022-07-08 18:06] huangjiasingle opened #9129 "when node docker restarted the before created pod's wait container exit unexcept"
## Checklist

* [ ] Double-checked my configuration.
* [ ] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
the node docker restart the wait container exit not except
What version are you running?
v3.3.8
## Diagnostics

the wait container mount node's /var/run/docker.sock in container's /var/run/docker.sock, when docker rest

[2022-07-08 18:17] huangjiasingle commented on #9007
@kaiyuanlim  the container's created and start is not contorller by the argo workflow contoller, it's control by kubelet, the kubelet process pod containers group logic is:  do initcontainers, containers. event containers, it's can't ensure the order of them， for example: one pod has A,B,C container,  the created order maybe  A B C、B C A、A C B,  the started order same as created.

[2022-07-08 19:24] huangjiasingle commented on #9128
@alexec docker ps cmd should use pod uid as filter label:  --filter=label=io.kubernetes.pod.uid=podUid

[2022-07-09 13:04] alexec commented on #9128
The Docker executor has been deprecated and not longer supported. Please try the Emissary executor.

[2022-07-09 17:28] munachisonwadike commented on #7781
@alexec @sarabala1979 @gmouchakis I noticed this issue has been closed, was it resolved? I am currently using version 3.3.4 and still facing the same error? If it has not, could you kindly shed more light on the workaround with Python SSE Client? :)

[2022-07-10 07:43] #8224 closed

[2022-07-10 07:43] #8928 closed

[2022-07-10 07:43] #8903 closed

[2022-07-10 07:43] #7518 closed

[2022-07-10 07:43] #7877 closed

[2022-07-10 07:43] #7937 closed

[2022-07-10 07:43] #8368 closed

[2022-07-10 07:43] #8410 closed

[2022-07-10 07:43] #8488 closed

[2022-07-10 07:43] #7857 closed

[2022-07-10 07:43] #8349 closed

[2022-07-10 07:43] #8305 closed

[2022-07-10 07:43] #8576 closed

[2022-07-10 07:43] #8869 closed

[2022-07-10 07:43] #8032 closed

[2022-07-10 07:43] #8801 closed

[2022-07-10 07:43] #8286 closed

[2022-07-10 07:43] #8648 closed

[2022-07-10 07:43] #7867 closed

[2022-07-10 07:43] #8671 closed

[2022-07-10 07:43] #8682 closed

[2022-07-10 07:43] #8699 closed

[2022-07-10 07:43] #8652 closed

[2022-07-10 07:43] #8741 closed

[2022-07-10 07:43] #8780 closed

[2022-07-10 07:43] #8814 closed

[2022-07-10 07:43] #8745 closed

[2022-07-10 14:48] juliev0 commented on #9027
still hoping to address this when I have time if nobody else does, so keeping it alive

[2022-07-11 01:09] JessieTeng89 commented on #8922
I have created a PR for this issue, and it is pending on merge, so this is still active

[2022-07-11 02:13] yeongu-dev commented on #8300
The same error as above occurs in the part using http in the workflow I am using. I think I'm in the same situation, so I used srajeev's workflow as is. The minimum privileges to run on the Agent are thought to be set. Role and RoleBinding are as follows.

Is there something I'm missing out on?

* I use argo-workflow v3.3.8 (Helm chart v0.16.6)

* Role is ...

[code]

* RoleBinding is ...
[code]

[2022-07-11 07:17] RoryDoherty commented on #8827
issue still exists

[2022-07-11 07:26] #8809 closed

[2022-07-11 08:18] roofurmston commented on #8972
As far as I am aware this issue still exists. Still waiting for confirmation from the Argo team.

[2022-07-11 08:20] roofurmston commented on #8780
I don't believe this issue should be closed. While there is a typo in the first example, I believe the second example is a valid reproducible bug.

[2022-07-11 08:22] roofurmston commented on #8529
I believe this is still a known bug, so I don't think it should be closed. Would be good to know if this is not the case. Otherwise, I think it should stay open.

[2022-07-11 14:41] sarabala1979 commented on #9123
@agrvu Workflow controller will automatically reload the configmap if there is an update. you can check the controller log.

[2022-07-11 15:13] dpadhiar commented on #9120
@sarabala1979 Will do.

[2022-07-11 18:54] RyanCopley commented on #7698
+1 on this issue, this would really help out the unit test framework I have been working on for Argo workflows.

[2022-07-11 19:37] sandeepitachi opened #9137 "Error while SSO Delegation" error="no service account rule matches""
Hi,

I've followed the docs for SSO RBAC namespace delegation https://argoproj.github.io/argo-workflows/argo-server-sso/#sso-rbac-namespace-delegation and getting an error as below -
`Error while SSO Delegation" error="no service account rule matches"`

- argo v3.3.5
- emissary executor v3.3.5
- Cluster-install
- Cluster roles and cluster role bindings

Currently, we have 3 service accounts - read

[2022-07-11 20:49] Talador12 commented on #6578
@shuker85 how did you resolve this one? Rather than turning off the proxy, is there a way to enable proxy traffic for this request?

[2022-07-12 01:40] terrytangyuan commented on #7366
14+ upvotes. We should keep this open.

[2022-07-12 01:41] terrytangyuan commented on #7366
@sarabala1979 Anyone available to look into this?

[2022-07-12 01:42] terrytangyuan commented on #9129
Please use the Emissary executor and feel free to open if you still have issues.

[2022-07-12 01:42] terrytangyuan commented on #8954
@sarabala1979 Who's working on this?

[2022-07-12 01:45] sandeepitachi commented on #9137
https://github.com/argoproj/argo-workflows/blob/57bac335afac2c28a4eb5ccf1fa97bb5bba63e97/server/auth/gatekeeper.go#L307

Should I modify my cluster roles ??

[2022-07-12 01:50] terrytangyuan commented on #8528
@dalongfan Any updates on this?

[2022-07-12 05:19] huangjiasingle commented on #9128
@sarabala1979 l can't use emissary executor to do in prod env, because every day we has more than 1000000 prod data process task to do with argo workflow, l I haven't tested it with emissary executor  for a lot of tasks.  first of all, I need to ensure the stability of production task processing.

[2022-07-12 05:22] huangjiasingle commented on #9129
yes,  but it doesn't matter, I have fixed the problem myself by modifying the argo docker exec  code

[2022-07-12 05:23] huangjiasingle commented on #9129
l can't use emissary executor to do in prod env, because every day we has more than 1000000 prod data process task to do with argo workflow, I haven't tested it with emissary executor for a lot of tasks. first of all, I need to ensure the stability of production task processing.

[2022-07-12 05:54] #8751 closed

[2022-07-12 05:54] #8855 closed

[2022-07-12 10:04] vitalyrychkov opened #9139 "Emissary does not recognize the Entrypoint in the Docker image"
Hello,

We have recently upgraded to Argo Workflows 3.3.8 and changed the executor to Emissary. We are using Argo since about two years and built a framework around it. Until now we have used pns executor. After switching to Emissary, all our workflows fail with:
 "task <task name> errored: container "main" in template <template>, does not have the command specified: when using the emissary execut

[2022-07-12 10:05] vitalyrychkov commented on #9139
TEST CASE
Create a Dockerfile:
[code]

Build the image, e.g. cmdtest:latest and push to your repo

Create a test workflow to use the built image:

[code]
In our Argo installation with Emissary executor the workflow fails with the mentioned error. If I uncomment the command, then the workflow succeeds.

[2022-07-12 11:06] bengoldenberg opened #9140 "UI/API: show all namespaces possibilities"
we would like to have the option to see all the namespaces we have in our cluster, in the Namespace section inside the ui as a dropdown list or something like this.
today we have many namespaces and once we have added more namespaces, we cant manage them manually.
![Screen Shot 2022-07-12 at 14 06 17](https://user-images.githubusercontent.com/71871067/178476348-33f9a875-cf00-4938-8900-06a0bed9dc1d

[2022-07-12 11:40] vitalyrychkov commented on #9139
Unfortunately I can not assign a Bug label now, could anyone do it for this issue please?

[2022-07-12 11:56] kanwalnainsingh commented on #7513
@tooptoop4  can you share your configuration used to fix?

[2022-07-12 12:27] terrytangyuan commented on #9139
@alexec Would you be able to take a look?

[2022-07-12 12:59] LoricAndre commented on #9090
The use case is automatically managing workflows from a different cluster (in our case, using another argo-workflow deplyment)

[2022-07-12 17:00] alexec commented on #9139
It maybe the case that they’re using v1 Docker image, not v2. Or it maybe they need to try “:latest”

[2022-07-12 17:07] sandeepitachi commented on #9137
Hi @basanthjenuhb - could you help me on this ? I'm stuck on this. Thanks :)

[2022-07-12 21:49] CRASH-Tech commented on #8937
Same issue

[2022-07-13 12:16] vitalyrychkov commented on #9139
@alexec  Thank you for looking into this, I will check with developers about the schema version.

[2022-07-13 12:36] leonidas-o commented on #9091
So, am I the only one who has this buggy behavior or is simply no one using time zones in Argo Workflows?

[2022-07-13 12:53] vitalyrychkov commented on #9139
The image I have built for the described test case shows the schema version 2:
`
{
        "schemaVersion": 2,
        "mediaType": "application/vnd.docker.distribution.manifest.v2+json",
        "config": {
                "mediaType": "application/vnd.docker.container.image.v1+json",
                "size": 912,
                "digest": "sha256:2031bebd1be7070e5590d67421c54e49071629ddf17bb2fec0

[2022-07-13 18:08] juliev0 opened #9143 "modify "argoexec artifact delete" to handle multiple artifacts"
Implement the logic of the GC Pod according to Option 2 in the slides [here](https://docs.google.com/presentation/d/1LhtWuVSk4bxM_a1-lt5ys2yd-AcdT9F8NhczJ2rVfVU/edit#slide=id.g13af713bf61_0_113).

For this MVP:
- don't worry about retries in the case of failure
- optionally don't worry about having multiple goroutines - it's okay if it runs serially

New CRD type `ArtifactGCWork` is shown [here](h

[2022-07-13 21:25] seif-raafat commented on #9137
I'm also not able to authenticate with other service accounts. It only works with one service account, which happens to match the first group in the list. See error:

[code]

[2022-07-13 21:50] robertkotcher opened #9144 "`make codegen` does not succeed on master (for me)"
## Summary

I do not believe that this is actually a "bug" or regression, but I'm labelling as such because it's incorrect behavior on a fresh branch. Depending on the cause, there might be a way to improve the repo so that others don't spend as much time debugging as I have.

I am trying to run `make codegen` on commit `b0c1df6` (I have encountered this on other commits). I'm developing in a devc

[2022-07-13 22:45] seif-raafat commented on #9137
Was able to figure out the issue from @basanthjenuhb's  [comment](https://github.com/argoproj/argo-workflows/issues/8167#issuecomment-1070317872) in another issue. The service account I needed was missing.

[2022-07-13 22:50] sandeepitachi commented on #9137
Ohh that's nice! In my case, I do have a service account in the namespace (not where Argo is installed) but still it's giving the same error to the users in the external team group (see above)

[2022-07-13 23:01] juliev0 commented on #8476
Here's the flow chart to indicate what I'll do:
![Artifact GC Flow Chart](https://user-images.githubusercontent.com/17830711/178851359-f4912d55-296c-40c0-83da-496fd8eee563.png)

[2022-07-14 00:06] seif-raafat commented on #9137
I think the service accounts need to be in the same namespace where argo-workflows is installed. The role and role binding would be in the target namespace.
https://github.com/argoproj/argo-workflows/blob/master/docs/argo-server-sso.md#sso-rbac

[2022-07-14 00:19] sandeepitachi commented on #9137
@seif-raafat
- That's the whole point of SSO RBAC delegation right ? Service accounts should be in their respective namespaces
- The link which you sent is for default routing into the Argo server itself 😄

[2022-07-14 00:42] seif-raafat commented on #9137
Yeah you're right 😁 I'll need to reconfigure my setup and test it out. I'll let you know how it goes.
https://github.com/argoproj/argo-workflows/blob/master/docs/argo-server-sso.md#recommended-usage

[2022-07-14 01:22] basanthjenuhb commented on #9137
@sandeepitachi
I think your setup looks correct. Not sure what is the issue. Needs debugging.
Can we connect on zoom or something for 15 mins offline to debug this ?

[2022-07-14 01:26] sandeepitachi commented on #9137
@basanthjenuhb Hey basanth! Thanks for the response. Sure let me know when's your availability ? Anytime works for me

[2022-07-14 02:22] berlinsaint commented on #8972
the same

[2022-07-14 04:28] juliev0 opened #9146 "Intermittent CI failures in Unit Tests"
My PR doesn't make any code changes, yet I just had two different unit test failures that passed later after an "empty commit".

Test name: TestRetriesVariableInPodSpecPatch
File name: workflow/controller/operator_test.go
Line: 1196
Link: https://github.com/argoproj/argo-workflows/runs/7333472812?check_suite_focus=true

Test name: TestFormulateRetryWorkflow/Nested_DAG
File name: workflow/util/util

[2022-07-14 07:57] wekinu opened #9147 "workflow-controller CrashLoopBackOff"
│ time="2022-07-14T07:55:48.221Z" level=info msg="Starting Workflow Controller" defaultRequeueTime=10s version=untagged                                                                               │
│ time="2022-07-14T07:55:48.221Z" level=info msg="Current Worker Numbers" podCleanup=4 workflow=32 workflowTtl=4                                                                                      │

[2022-07-14 12:13] mhehle commented on #8654
in version 3.3.8 this issue still exists.
Its impossible to launch/create a workflow with `depends` on .Omitted step.
You get an error: `Internal Server Error: templates.main.tasks.E task result 'Omitted' for task 'D' is invalid`

Example Workflow:

[code]

[2022-07-14 13:59] #8922 closed

[2022-07-14 15:43] vavdoshka commented on #8994
+1
also relevant when use AWS Cognito with built-in user pool

[2022-07-14 15:49] jkldrr opened #9148 "Java client fails to deserialize WorkflowTemplate"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
I'm using the java-client to get a WorkflowTemplate (any) form the server. This results in an IllegalStateException.
[code]
the server returns a valid JSON with the following metadata (double checked that via cURL):
[c

[2022-07-14 16:20] seif-raafat commented on #9137
I have updated the service accounts to be deployed to each namespace and can confirm that it works. Rule matches are done correctly. One thing that is confusing to me is the log entry has `loginServiceAccount` referencing the default account in the installation namespace while `serviceAccount` correctly points to the namespace service account. See below:

[code]

[2022-07-14 16:54] juliev0 commented on #9146
note there's a separate issue related to intermittent e2e test failures in CI [here](https://github.com/argoproj/argo-workflows/issues/9027)

[2022-07-14 16:54] divyaArthurAI opened #9149 "CRITICAL Vulnerability CVE-2022-1996 found in image for v3.3.8"
The docker image for argoproj/argo-workflows:v3.3.8 (https://github.com/argoproj/argo-workflows/releases/tag/v3.3.8) is flagging vulnerability [CVE-2022-1996 ](https://nvd.nist.gov/vuln/detail/CVE-2022-1996).

The vulnerability appears to come from the underlying argo docker images (argoexec, argocli, workflow-container). The :latest images for these (in docker and quay) no longer have the vulnera

[2022-07-14 17:12] seif-raafat commented on #9137
Thanks for the explanation! It makes sense to me now. I found the page `<argo-workflows-server-url>/userinfo` to be pretty helpful when debugging user groups.

[2022-07-14 22:46] juliev0 commented on #9146
@terrytangyuan I'm not sure why I saw these two intermittent unit test failures yesterday (and now they're working), but interestingly the second one above is related to a new test you added. Could you take a look and see if you have any idea why it might have failed? Thank you!

[2022-07-14 23:52] terrytangyuan commented on #9146
I'll see if I can reproduce locally.

[2022-07-15 04:49] juliev0 commented on #9146
Thank you!

[2022-07-15 07:29] mhehle opened #9153 "Followup Issue for #8654 Enhanced depends logic not working when task is omitted"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary
This is a follow up Issue for #8654 . This issue still exists in version 3.3.8 .
Its impossible to launch/create a workflow with `depends` on `.Omitted` step.
You get an error: `Internal Server Error: templates.main.tasks.E task result 'Omitted' for task 'D' is

[2022-07-15 10:37] jyeray commented on #8528
@terrytangyuan I was looking for good first issues, and just saw that this issue was solve on [this commit](https://github.com/argoproj/argo-workflows/commit/7dacb5bcaeae8e3be64bb1fbf54024401d42d867#diff-a343bd8d7da95528694b5dbdf8d10d73c9ba60bb61b5a7b13807aaad88ef1094L264)

[2022-07-15 11:41] gmouchakis commented on #7781
@munachisonwadike not sure if this is fixed or not and i'm not able to investigate these days.

[2022-07-15 11:42] #8528 closed

[2022-07-15 12:44] ivanfoo commented on #8746
We addressed the issue with that PR, we hope it get it done

[2022-07-15 13:05] #8746 closed

[2022-07-15 14:49] terrytangyuan commented on #9146
@juliev0 That test case should be fixed in https://github.com/argoproj/argo-workflows/pull/9156.

[2022-07-15 16:54] #8518 closed

[2022-07-15 18:14] juliev0 commented on #9146
Thank you so much for doing that right away!!

[2022-07-16 04:26] juliev0 commented on #9027
As an update, the overall GitHub Action timeout for each e2e test was increased from 20m to 25m today, and the timeout passed into "go test" for the Test Suite run by the Action was increased from 15m to 20m. This should take care of some of the failures, although ultimately we need to address the [issue](https://github.com/argoproj/argo-workflows/issues/9024) of why the build is so slow.

Also, i

[2022-07-16 09:03] danielbraun89 commented on #3102
Excuse me for my ignorance, but wouldn't using a proper data streaming service as a means to transfer the artifacts (eg. Kafka and the like) would inherently solve this issue as the data will be automatically clean after being pulled?

[2022-07-16 22:07] Gibstick commented on #8684
Still happening on v3.3.8 with the same steps

[2022-07-16 22:55] Rachel-Rabinowitz opened #9160 "Trying to run an argo workflow from a selected step"
I have this pipeline configuration:
`@dsl.pipeline(name='hello-workflow', description='Learning argo workflow')
def pipeline(message1: str = 'message1', message2: str = 'message2', message3: str = 'message3'):
    step1 = HelloWorflowStep1(message=message1)
    step2 = HelloWorflowStep2(message=message2)
    step3 = HelloWorflowStep3(message=message3).after(step2)`

I'm trying to run the following

[2022-07-16 23:53] terrytangyuan commented on #9160
You step 3 might not be connected with step 2. Could you paste the raw workflow YAML generated from KFP?

[2022-07-17 02:04] terrytangyuan commented on #9149
We should be releasing v3.4 at some point soon. Not sure which specific commits fixed the issues but we might want to backport them. cc @sarabala1979 @alexec

[2022-07-17 05:57] Rachel-Rabinowitz commented on #9160
metadata:
  name: hello-workflow
  namespace: production
  uid: d8464cdc-86e9-4331-8820-c2e69beed6cc
  resourceVersion: '37300395'
  generation: 1
  creationTimestamp: '2022-07-16T22:43:43Z'
  labels:
    app.kubernetes.io/version: 1.0.0
  annotations:
    pipelines.kubeflow.org/pipeline_spec: >-
      {"description": "Learning argo workflow", "inputs": [{"default":
      "message1", "name": "mess

[2022-07-18 09:51] vitalyrychkov commented on #9139
@alexec  I understand that you are busy with lots of other issues, just note that the test case above takes not more than 10-15 minutes to perform. In the version 3.3.8 we can still use the PNS executor, but would appreciate if this issue is solved before Emissary will be the only supported executor.

[2022-07-18 09:56] Dennis981210 opened #9165 "Argo workflow mysql 5.7.18 persistence deadlock"
Environment:
Argo workflow: V3.2.6
MySQL: 5.7.18
My configmap persistence storage yaml:
<img width="769" alt="image" src="https://user-images.githubusercontent.com/46859274/179487715-7bb6077f-a3b3-4ad5-9c4b-426c42fc420a.png">

Infact at beginning when I config my configmap and Argo workflow controller could archive workflow to mysql normally, but later I found that the workflow we submit are much

[2022-07-18 09:57] Dennis981210 commented on #9165
How could I resolve this problem?

[2022-07-18 11:52] Hunter-Thompson commented on #9091
We use CronWorkflows with the `Asia/Calcutta` timezone and it works perfectly. We also use argo-workflows `v3.2.8`

[2022-07-18 12:22] Hunter-Thompson commented on #9091
I tried to create a workflow from your example, using the Europe/Zurich timezone, and it managed to schedule just fine.

Not sure why its throwing that error for you.
[code]

[2022-07-18 12:58] RoryDoherty opened #9166 "sprig functions are re-evaluated when passed as a parameter, expect them to be evaluated once then set for rest of workflow"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
Used a sprig function to generate a random variable name that I want all tasks to have access to however the random string is regenerated for each step in the dag. In the below example the input for both run-test templ

[2022-07-18 13:32] antoinetran opened #9167 "UI: `e.templateRef is undefined` when using inline template"
## Checklist

* [ ] Double-checked my configuration.
* [ ] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
Creates a simple workflow with inline template. It should succeed.

What version are you running?
Argo v3.2.11

## Diagnostics

Paste the smallest workflow that reproduces the bug. We must be able to run the workflow.

[2022-07-18 13:32] antoinetran commented on #9167
This bug is exactly like https://github.com/argoproj/argo-workflows/issues/7749

[2022-07-18 13:33] antoinetran commented on #9167
Error image:
![image](https://user-images.githubusercontent.com/14093758/179522922-2fbdaf73-6f8b-4d86-a069-a034bb059aa9.png)

[2022-07-18 14:21] terrytangyuan commented on #9167
Thanks for reporting. This should be fixed in https://github.com/argoproj/argo-workflows/pull/9168.

[2022-07-18 14:30] #8917 closed

[2022-07-18 14:36] leonidas-o commented on #9091
@Hunter-Thompson I'm on `3.3.8` not `3.2.8`, typo or are you really on `3.2.8`? Maybe a downgrade could help then.

[2022-07-18 14:38] Hunter-Thompson commented on #9091
It was a typo. We are on `v3.3.8`

![image](https://user-images.githubusercontent.com/20844961/179535960-892afecd-cea9-490b-bced-5429e9e0ece6.png)

[2022-07-18 14:42] terrytangyuan commented on #9160
I think this is expected behavior. The issue is that your step 3 is an individual step that belongs to a steps group `hello-workflow`. If your entrypoint is `hello-workflow` or if you change your step 3 to a steps group or a DAG then the following steps will run.

[2022-07-18 15:00] #9167 closed

[2022-07-18 15:22] alexec commented on #9090
Let me play this back so I understand correctly. This auth method allows you to interact with Argo Server without knowing the value K8s auth token. Rather than passing the token directly (e.g. `ARGO_TOKEN=k8s-token-value argo ...`) you pass the name of the token stored in a secret (e.g. `ARGO_TOKEN=my-token-name argo ...`). The Argo Server looks the Kubernetes API authentication token in a secret

[2022-07-18 15:22] alexec commented on #9090
@basanthjenuhb @terrytangyuan could I ask for your thoughs on this?

* Would you use it in your projects?

[2022-07-18 15:22] leonidas-o commented on #9091
hmm interesting, how did you deploy your instance? I deployed via bitnamis helm chart, maybe the chart has an issue deploying a "broken" state. Don't know how it could cause this, as all other things seem to work, but if this version works for you then this is pretty strange.

[2022-07-18 15:28] alexec commented on #9149
I can't see either. I think this should back-ported.

[2022-07-18 15:29] alexec commented on #9147
This is permission issue. Please check to make sure you have `get configmaps` permission for your service account.

[2022-07-18 15:29] #9147 closed

[2022-07-18 15:31] alexec commented on #9143
I'm not sure why `WorkflowTaskSet` is relevant. I think this is a good idea, but not MVP.

[2022-07-18 15:34] alexec commented on #9117
Docker is no longer supported. If this does not work with PNS, then this is a regression. Have you tried PNS?

[2022-07-18 15:35] alexec commented on #9117
Can you please upload the workflow that caused this problem.

[2022-07-18 15:38] alexec commented on #9091
Please check you are running the correct version of the controller, e.g.:

[code]

[2022-07-18 16:08] Ali-RT opened #9170 "`backoff` under `retryStrategy` does not work as expected for version 3.3.8"
The `backoff` feature for `retryStrategy` does not behave as expected under version `3.3.8`.
[code]
The workflow was retried 10 times, but the wait time between each retry call was about 21 seconds.

Tested under version `3.2.4`, and it worked as expected.

[2022-07-18 16:27] #1540 closed

[2022-07-18 17:37] balint-bg opened #9171 "Workflow templates should be more easily discoverable/organized"
# Summary

My team uses a lot of WorkflowTemplates to create and run Workflows. These WFTs are scattered around a few environments (test, prod, etc), operation types (system-level-operations, utility workflows, custom jobs, etc etc.) and categories (soft- or hard- operations for startup or shutdown).
It'd be great if we didn't have to name the WFTs cleverly, to make sure related items show up next

[2022-07-18 19:16] sarabala1979 opened #9172 "Support ValueFrom.Expression on Workflow level argument"
# Summary

[code]

What change needs making?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-18 23:52] sandeepitachi commented on #9137
@basanthjenuhb
Sorry fo the incovienience. It's working :) Our org AD team groups sync policy is a bit slow. I can see, multiple groups under the user info tab now. Though I had the correct configuration - That's what I was wondering what was causing an issue - I checked like 10 times - haha 😄

[2022-07-18 23:52] #9137 closed

[2022-07-19 06:32] alejoGT1202 commented on #5755
Hello, I've a cluster with ARM and AMD arch. nodes. Argo works as expected when an AMD arch. node is requested. However, when an ARM node is required it doesn't work and the error message I'm getting is related that it's trying to run an AMD built image in a ARM architecture. The image that is being pulled in the init container is `argo-workflow-exec:3.3.2-debian-10-r0` which is built for AMD arch

[2022-07-19 08:31] LoricAndre commented on #9090
It not clear how secret rotation would happen. Presumably that is up to the user. **Yes it is, that is part of what makes this simple and easy to setup for the users, even though I admit this makes it closer to a password than a token unless it is rotated frequently**
    It makes 1 extra request to the K8s API for every request. Do NOT fix for MVP. **From what I understand, the way I implemented

[2022-07-19 09:09] leonidas-o commented on #9091
Hunter-Thompson thanks for that.

@alexec I guess that should be a `... | grep version` there. So I got:
`time="2022-07-14T16:00:04.561Z" level=info msg="Starting Workflow Controller" defaultRequeueTime=10s version=v3.3.7`
Do the server and controller version have to match?

[2022-07-19 11:07] amosaini commented on #9117
I just tried it with PNS executor. It is succeeding with the PNS executor. I will get back to you with the argo workflow.

[2022-07-19 11:20] amosaini commented on #9117
Output of the wf with pns executor:
[code]

[2022-07-19 12:06] SiddharthMalhotra commented on #4430
Facing the same issue, any advice?

failed to resolve {{tasks.task.status}}

[2022-07-19 12:29] SiddharthMalhotra commented on #7366
Facing same issue, this is big problem

[2022-07-19 12:47] basanthjenuhb commented on #9090
Apologies, I m not sure if I understand the use-case.
Currently Argo workflows supports token authentication, which are generated by secrets related to service accounts.
This allows us to easily map tokens to the roles using the role-binding mapping.

If your use-case is `automatically managing workflows from a different cluster`
Then that can be accomplished using the above functionality.
Create

[2022-07-19 13:37] RoryDoherty commented on #9166
Thanks @sarabala1979
I had thought that because I was passing it from a dag to another dag the expression would be evaluated first
I've worked around it now by passing it to the first step of the dag only and then having this step make an output containing the generated name and using this output as the input for subsequent steps

[2022-07-19 13:37] #9166 closed

[2022-07-19 13:41] RoryDoherty opened #9179 "Specifying tty and stdin as true but still not getting a tty in the container"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
Ran the below workflow expecting the container to have a tty but when I run the `tty` command I get `not a tty`

What version are you running?
3.3.8

## Diagnostics

Paste the smallest workflow that reproduces the bug.

[2022-07-19 14:53] sarabala1979 commented on #9179
@RoryDoherty Can you try the above `image` and command create POD?

[2022-07-19 14:53] sarabala1979 commented on #9170
@dpadhiar Can you try to reproduce this issue?

[2022-07-19 14:57] ShayNehmad-RecoLabs opened #9181 "Add Reco to USERS.md list"
# Summary

What change needs making?

Just adding my company as a user

# Use Cases

When would you use this?

not relevant

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-19 15:13] dpadhiar commented on #9170
@sarabala1979 Yes.

[2022-07-19 15:23] alexec commented on #9117
Thank you. Have you tried `:latest`?

[2022-07-19 15:26] alexec commented on #9090
@basanthjenuhb the issue description does not describe the problem clearly. I recommend you read my comment to understand it .

@LoricAndre by "user namespace" I mean like this code:

https://github.com/argoproj/argo-workflows/blob/0f1d1d9b7ef9b602b82123a9d92c212b50ac01e1/server/auth/gatekeeper.go#L278

[2022-07-19 15:49] RoryDoherty commented on #9179
I'm not sure what you mean by this, di you mean the following?:
[code]

but if I run this then I get the `not a tty` output:
[code]

[2022-07-19 15:57] amosaini commented on #9117
I changed gcr.io/ml-pipeline/argoexec:v3.1.6-patch-license-compliance to 'argoproj/argoexec:latest' and executor to emissary now the pipeline is throwing Error (exit code 2): unexpected end of JSON input. Screenshot attached.
<img width="550" alt="image" src="https://user-images.githubusercontent.com/95207359/179795423-f96fe9c0-5253-4cd7-af7a-ef42a15f938a.png">

[2022-07-19 16:27] sarabala1979 commented on #7366
@dpadhiar variable is not included in a scope. Please move this line out of if block
https://github.com/argoproj/argo-workflows/blob/1af892133cd5b9e6ac22fc61bd4eabd84c568e89/workflow/controller/dag.go#L258

[2022-07-19 16:28] sarabala1979 commented on #4430
@SiddharthMalhotra are you facing  in exit hook?

[2022-07-19 17:33] terrytangyuan commented on #8982
Slides: https://docs.google.com/presentation/d/1izeZeHZxz54P3njVRAJVVczMpDmGtkU7hD_CUtbaqgY/edit#slide=id.g13af2caef18_0_159

[2022-07-19 20:18] dpadhiar commented on #7366
@sarabala1979 @terrytangyuan I am not seeing this same failure on `master` currently, maybe there is already a fix for this? Could you provide another YAML that fails with this issue to test? I will stay make change Bala pointed out however.

[2022-07-19 22:07] dpadhiar commented on #9170
@sarabala1979 Confirmed backoff duration isn't working on 3.3.8.

[2022-07-20 04:31] amosaini commented on #9117
[libreoffice_fail_stack (1).txt](https://github.com/argoproj/argo-workflows/files/9146526/libreoffice_fail_stack.1.txt)
log trace of libreoffice.

[2022-07-20 04:52] alexec commented on #9117
You need to run latest controller too.

[2022-07-20 05:38] basanthjenuhb commented on #9090
Got it,
So even if we move to secret based authentication,
The cluster admin of cluster-1 has to manually create a token, add it to a secret and give it to a user of cluster-2.

Isn't it the same as just getting the secret that's already available and associated to a service account in cluster-1 and giving it to  the user in cluster-2.

[2022-07-20 07:57] LoricAndre commented on #9090
This is really designed for automation, and afaik it is not that simple to transfer the token gotten from one cluster to another, but it can be trivial to set the same token in both clusters

[2022-07-20 10:30] sakvaka opened #9187 "Parameter field `description` not recognized"
## Checklist

* [X] Double-checked my configuration.
* [X] Tested using the latest version.
* [X] Used the Emissary executor.

## Summary

`WorkflowTemplate`s do not actually support the field `description` in a `parameter`. However, I would expect the `description` field to work since it is listed [here](https://argoproj.github.io/argo-workflows/fields/#fields_28) as one of possible attributes to

[2022-07-20 10:59] #9007 closed

[2022-07-20 12:40] reddymh opened #9189 "Any plan to introduce sequential build number for each workflow execution"
# Summary

Do we plan to introduce sequential build number for each workflow execution or environment variable  like BUILD_NUMBER or WORKFLOW_NUMBER for each workflow build.

# Use Cases

It will be good if we have build number and will be helpful for tagging the build or using the build number for the CI/CD.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We

[2022-07-20 13:54] baranbartu opened #9190 "Retry strategy with `withParam` context could only retry failed ones, not succeded ones"
# Summary

If a template has `retryStrategy` and if one of the steps of the template has `withParam`, the following situation happens;

Let's say, we have 4 items `eg. projectIDs: [1,2,3,4]`, and we use `withParam` to make them concurrently run. 3/4 of tasks succeeded and 1/4 of tasks failed. The main template will retry this step again but with all the `projectIDs`, including previously successfu

[2022-07-20 14:02] raafatseif commented on #9170
Hi @sarabala1979 @dpadhiar ! Do you think this can be fixed in a new release soon? It's the only thing preventing us from deploying to production so far.

[2022-07-20 15:10] sarabala1979 commented on #9190
@baranbartu Good improvement. We can add a strategy on retrying whether it needs to retry all or only failed. Do you like to contribute to this enhancement?

[2022-07-20 15:10] hilla-areion commented on #7385
Experiencing the same issue.
Can you please address it?

[2022-07-20 15:11] sarabala1979 commented on #9189
@reddymh Can you provide us more details for this requirement?

[2022-07-20 15:15] reddymh commented on #9189
@sarabala1979  for CI/CD , it will be good providing sequential build number for each workflow/pipeline executions.

example:
if I am building java application build the it will be good to have build number or workflow number for each build and tag the build or publish the artifact with the build number  or some unique sequential number as well.
If you see any CI tool like jenkins , each job will

[2022-07-20 15:24] dpadhiar commented on #9170
@raafatseif Yes, we will look into getting this fixed before 3.3.9/3.4 is released.

[2022-07-20 16:36] RoryDoherty commented on #9179
@sarabala1979 let me know if the above is not correct and there was something else you wanted me to try, happy to help try debug this

[2022-07-20 16:49] alexec commented on #9090
Another benefit is that this allows you to refresh the Kubernetes API token (i.e. by updating the secret) without having to change the token used by the client. You could build automation to rotate then easily.

[2022-07-20 17:41] #8986 closed

[2022-07-20 17:42] cwichka opened #9193 "`retryStrategy` with `nodeAntiAffinity` is not working as expected."
## Summary

What happened/what you expected to happen?

I wanted to use `retryStrategy` with `nodeAntiAffinity` in order to prevent retrials from running on the same hosts. I was using the following small workflow for testing, but what happens is all retrials were started on the same host (node).
[code]
Not sure if this is an expected behavior and in my case i should use `RetryNodeAntiAffinity` wh

[2022-07-21 02:14] basanthjenuhb commented on #9090
Ok, fair
@alexec to your original question, `Would you use it in your projects?`,
Don't think so, the existing model works as of now for us.

[2022-07-21 05:35] sakvaka commented on #9187
@sarabala1979 , ah, that did the trick, thanks! No issue with Argo then, closing this.

[2022-07-21 05:35] #9187 closed

[2022-07-21 06:55] Rachel-Rabinowitz commented on #9160
Okay
thank you

[2022-07-21 08:31] clementlecorre commented on #8300
Yes, I have same issue with @yeongu-dev config ... :/

[2022-07-21 08:49] yeongu-dev commented on #8300
@clementlecorre
It's not complete, but I found a way. I installed it with helm but it didn't seem to use the controller serviceaccount that is created by default. I solved it by adding default serviceaccount to argo-workflow RoleBinding . Not the right way. You will need to set serviceaccount to the intended serviceaccount , not the default . But I don't know how.

You can check the permissions of

[2022-07-21 08:56] yeongu-dev commented on #8300
@clementlecorre
Looking at it now, it seems that your situation and the situation of this issue are different. This issue is about `"Watch workflowtasksets 403"`, your issue seems to be different.

Sorry for the misunderstanding.

[2022-07-21 09:05] tim-sendible opened #9195 "Patch `workflowtasksets/status` is not enabled by default. Http templates don't work."
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
While trying to help someone in slack, we noticed that [this example](https://raw.githubusercontent.com/argoproj/argo-workflows/v3.3.8/examples/http-hello-world.yaml) does not run on workflows 3.3.8 out of the box. You

[2022-07-21 10:06] clementlecorre commented on #8300
I think my rights are OK but my pod (agent) never ends after this message `msg="Patched TaskSet"`.

[2022-07-21 10:16] HRusby commented on #9170
To add to this, I've tested against v3.3.7 where the Backoff duration is working. This issue must have been introduced between v3.3.7 and v3.3.8

[2022-07-21 10:58] RoryDoherty commented on #9179
@sarabala1979 did some more testing:

Without tty and stdin set to true:
[code]

With tty and stdin set to true:
[code]

I'm assuming the issue lies in this line:
https://github.com/argoproj/argo-workflows/blob/master/workflow/controller/workflowpod.go#L388

argoexec is using `os.exec` to call the original command so we lose the tty status here
https://github.com/argoproj/argo-workflows/blob/maste

[2022-07-21 12:10] DiegoFlop commented on #8911
Any news on this issue?

[2022-07-21 13:44] Hunter-Thompson commented on #9189
Workflows are different from Jenkins pipelines. It is quite hard to keep track of the sequence because each workflow is created, not invoked.

Templates are invoked.

I dont think argo has a way to determine a sequence in this architecture.

Jenkins invokes a pipeline which is already created, has a history and thus, there is a sequence to it.

Also tagging an artifact with the build sequence make

[2022-07-21 14:19] alisongabiatti commented on #3188
In my case, these steps would not work because I need to mount a volume in the workflow template, and when I refer to it as a template, there is a problem in mounting the volume as you can see in this [thread](https://github.com/argoproj/argo-workflows/issues/7606#issuecomment-1032004554).

We still don't possible to reference a workflowTemplateRef using onExit?

[2022-07-21 14:20] baranbartu commented on #9190
Hey @sarabala1979, yes I definitely would like to contribute!

[2022-07-21 14:43] terrytangyuan commented on #9195
It's not in the core installation intentionally but in the quickstart manifests, e.g. https://github.com/argoproj/argo-workflows/blob/master/manifests/quick-start-mysql.yaml

See https://github.com/argoproj/argo-workflows/blob/master/manifests/quick-start/base/agent-role.yaml

[2022-07-21 14:46] terrytangyuan commented on #8300
See https://github.com/argoproj/argo-workflows/issues/9195#issuecomment-1191573224

[2022-07-21 14:51] tim-sendible commented on #9195
Intentionally because?  At a minimum the documentation should explicitly highlight this. The quickstarts all use `latest` tags so are at best unreliable and a bad introduction for newcomers.

[2022-07-21 14:59] terrytangyuan commented on #9195
cc @alexec who added this in https://github.com/argoproj/argo-workflows/pull/7999

The idea is to have clear permissions for the additional features and avoid overloading the RBAC.

[2022-07-21 15:15] terrytangyuan commented on #7366
@SiddharthMalhotra Could you provide another example YAML? Also try out the latest tag?

[2022-07-21 15:27] #9181 closed

[2022-07-21 15:41] raafatseif commented on #9170
@HRusby I was able to reproduce the issue in v3.3.7

[2022-07-21 16:59] juliev0 opened #9200 "New ArtifactGCTask CRD type"
# Summary

For the Artifact GC work, we need a new CRD type so the Controller can communicate to the pod doing the work which artifacts need to be deleted, and the Pod can return results to the Controller.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-21 17:08] juliev0 opened #9201 "add e2e tests to confirm garbage collection of artifacts is working in various scenarios"
Test should include various configurations for specifying Template.ArchiveLocation, Artifact.ArchiveLocation, ArchiveLocation specified in Controller config and/or artifactRepositoryRef config

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-21 17:09] juliev0 commented on #9201
@sarabala1979 can you add this to "Artifacts" project?

[2022-07-21 17:09] juliev0 commented on #9200
@sarabala1979 can you add this to the "Artifacts" project?

[2022-07-22 00:49] #9200 closed

[2022-07-22 03:11] tczhao opened #9205 "Argo Server API ratelimit should have docs and http headers"
# Summary

A second thought after https://github.com/argoproj/argo-workflows/pull/8993
We'd better add docs and http headers

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-22 10:46] #9205 closed

[2022-07-22 11:55] vermaxik commented on #8911
Is it any plan fix this issue? 🙏

[2022-07-22 12:53] vermaxik commented on #8911
@DiegoFlop could you please share with us workaround that you mentioned above? Thank you in advance 🤗

[2022-07-22 13:38] stephpalis opened #9209 "argo terminate marks task as Succeeded instead of Failed"
## Checklist

* [ ] Double-checked my configuration.
* [ ] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
* When running `argo terminate` on a running workflow, it properly terminates the workflow, but marks the task as `Succeeded`. I would expect the workflow to be marked as `Failed`.

What version are you running?
* Oper

[2022-07-22 14:17] terrytangyuan commented on #9209
Could you check if your step is a retried step? Also what's the status of the previous step?

[2022-07-22 14:46] DiegoFlop commented on #8911
@vermaxik  In my case only use this feature to skip steps.

During firts step I create a config file, however with expr doesn't work for my case. But how I only need get if boolean attribute is True or False, I create others files only with this attribute value.

Example:
I create the file /tmp/step1_skip.txt, on this file on write True or False.
and with outputs parameters get this value of file

[2022-07-22 19:57] stephpalis commented on #9209
Hey @terrytangyuan - I'm not quite sure how to reproduce the issue. The pod was in a pending state when I saw the bug occur, but it seems to work as expected when the pods are in a running state.

[2022-07-22 20:28] DiegoFlop commented on #9209
I have the same problem, but I don't now how reproduce the issue.

My problem is, that when I Terminate a workflow sometimes the workflow pipeline is marked as success but see the pipeline in UI and I see that all next steps to pipeline since that I terminated workflow are omitted and marked as success.

![Captura de pantalla 2022-07-22 a las 22 24 37](https://user-images.githubusercontent.com/340

[2022-07-22 20:40] blkperl commented on #9209
@DiegoFlop can you provide the version of Argo Workflows the operator is running and the version of Argo Workflow CLI you are using?

[2022-07-22 21:02] blkperl opened #9212 "CLI should warn when CLI version is outdated"
# Summary

In  #9209, the user was using a version of the Argo CLI that was 2 minor versions behind the operator running on the cluster. It would be a nice feature if the Argo CLI could throw a warning if the CLI version is older than version running on the cluster and it would be nice if the Argo CLI could tell the user that a new version is available.

# Use Cases

* Use case 1: As a cluster adm

[2022-07-23 09:13] tooptoop4 commented on #6769
my current thinking is cluster admin defines team1 with namespace1/serviceaccount1/rolebinding1/gitrepo1, and defines team2 with namespace2/serviceaccount2/rolebinding2/gitrepo2. But what prevents team2 from creating a workflow yaml that references namespace1/serviceaccount1 ?

[2022-07-23 22:37] terrytangyuan commented on #9212
They may also be using a pretty new version of CLI while running older versions of the controller. We should just check whether the versions match and if not, print out a warning.

Would you like to contribute a PR for this?

[2022-07-23 23:13] tiwarisanjay commented on #7624
@alexec  I have solved this one by using standalone dex without argocd dex. :

https://youtu.be/4HTFGlAEqJg
https://medium.com/@tiwarisan/argo-workflow-dex-integration-without-argocd-dex-844a017ad558

[2022-07-24 05:22] Bhavya-official commented on #9212
I would like to contribute a PR for this. Would you like to guide me.

[2022-07-24 14:02] terrytangyuan commented on #9212
Please file a mentoring request. It would be good to know your background and see if you have the right prerequisites: https://github.com/argoproj/argo-workflows/blob/master/docs/mentoring.md

[2022-07-24 17:18] HRusby commented on #9170
Interesting, I've been using the following to test which is working in v3.3.7, perhaps it's too naive a test.

[code]

[2022-07-24 17:19] corneredrat opened #9224 "Argo workflows - controller crashes if bad workflow is run"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
expectation: Argo Workflows (from user PoV) should report bad config.
what happened: workflow controller crashes with `OOMKilled`.

What version are you running?
`3.3.8`

## Diagnostics

Paste the smallest workflow tha

[2022-07-24 17:26] corneredrat opened #9225 "request mentorship to fix a small bug/issue"
**Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).**

Answer: **Yes I have read the mentoring guide.**

**What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?**

Answer: **I have previous experience in Golang, Kubernetes ; but not react.**

**Is the

[2022-07-24 20:05] sarabala1979 commented on #8911
@DiegoFlop Core Argo team is busy with 3.4 feature completion. We will take a look at this issue once we have completed the feature work. do you like to contribute to fixing this issue?

[2022-07-24 21:14] mbtamuli commented on #8762
Can I work on this if it's still not done? @dpadhiar

[2022-07-25 06:02] IoanaIvanova opened #9227 "Wrong pod name is visualised in the workflow"
## Summary

What happened/what you expected to happen?

I started a workflow in my local k8s cluster with the latest version of argo-server and I observed that the name of the pod mentioned in the workflow step is wrong it is not actually the name of the pod which is started which includes the name of the step in the middle.
I expected that executing argo get <name-of workflow> will show me the co

[2022-07-25 11:24] terrytangyuan commented on #9227
@JPZ13 This seems related to pod name change. Would you like to take a look?

[2022-07-25 12:58] JPZ13 commented on #9227
@terrytangyuan Yep! I'll take a look this afternoon Eastern Time. Thanks for the heads up

[2022-07-25 14:45] sarabala1979 commented on #9224
@corneredrat  we can add validation for cyclic reference

[2022-07-25 14:46] terrytangyuan commented on #9225
@sarabala1979 Would you like to mentor this given that you already commented in the mentioned issue?

[2022-07-25 16:51] corneredrat commented on #9224
@sarabala1979  will try, thanks..

[2022-07-25 18:18] tojaroslaw commented on #9149
Sorry to bug y'all, but do either of you have an estimate on when 3.4 will be released?

[2022-07-25 18:37] divyaArthurAI commented on #9149
Looks like the vulnerabilities, that were scanning clean in the :latest image 11 days ago, are now flagging again as of today.

@alexec @terrytangyuan - Any idea on which commit fixed/reverted the issue and if v3.4 will have a fix ?

[2022-07-25 20:10] frimuchkov commented on #8968
@juliev0 hi! Sorry for this huge delay. We can't catch this problem after upgrading to 3.3.8
Looks like fixed, thanks a lot :)

[2022-07-25 23:52] JPZ13 commented on #9227
@IoanaIvanova Could you post the workflow that you ran or a reproducible example? I ran a fresh quick start install from the command you provided and submitted a couple workflows from the examples folder. Outputs are looking good on my end:
[code]

Might be an edge or corner case I haven't seen yet. Thanks for reporting the issue!

[2022-07-26 06:21] sanqiuli commented on #9148
I also encountered this problem, looking forward to the official solution to it

[2022-07-26 06:58] sotiris-oikonomou commented on #7209
@zsolt-keseru-epam Could you please post the link for the enhancement proposal here ?

[2022-07-26 11:11] zsolt-keseru-epam commented on #7209
GitHub has shown the cross-reference to it before my comment.

But let's put the enhancement proposal here for convenience:
https://github.com/argoproj/argo-workflows/issues/7818

I had some additional finding in the meantime, which worth mentioning: if sidecar-free service mesh implementations (Cilium) will land in more widespread service meshes in the future, then the need for this enhancement w

[2022-07-26 14:43] terrytangyuan commented on #9149
I don't see any related commits that would cause this. @divyaArthurAI Are you continuously monitoring it and did the issue just start to appear again yesterday?

[2022-07-26 14:47] divyaArthurAI commented on #9149
@terrytangyuan I scanned the argoexec:latest image from docker 12 days ago and they were clean and then I scanned the argoexec:latest image yesterday and it appeared again.

[2022-07-26 14:50] sarabala1979 commented on #7818
@zsolt-keseru-epam  I would not recommend changing the existing design instead of Workflow is already providing flexibility to add a sidecar on step/task. you can sidecar with a lifecycle hook which will download the artifacts.

[2022-07-26 15:03] mcgrawia commented on #9149
For clarity, [CVE-2022-1996](https://nvd.nist.gov/vuln/detail/CVE-2022-1996) is not actually a vulnerability in Argo Workflows. The problem is Argo is dependent on a vulnerable version of the [emicklei/go-restful](https://github.com/emicklei/go-restful) package. To fix this, Argo needs to update to a version of emicklei/go-restful >= v3.8.0. It looks like today Argo uses version `v2.15.0` of go-re

[2022-07-26 15:03] alexec commented on #9149
@divyaArthurAI is quite correct. There is a daily Githhub Action  that runs Snyk and detects issues. You can see that the "go" job has failed:

https://github.com/argoproj/argo-workflows/runs/7512800278?check_suite_focus=true

You can run this yourself locally:

[code]

Because this is bough in by Argo Events, that needs updating. It will also need releasening (v1.7.2) before Argo Workflows can ta

[2022-07-26 15:09] mcgrawia commented on #9149
Hi @alexec, I'm speaking for @divyaArthurAI here but we run nightly scans of all of our containers using an open source tool called [Trivy](https://github.com/aquasecurity/trivy). Our nightly scan started failing ~2 weeks ago because of CVE-2022-1996, which flagged in all of our Argo Workflow images.

[2022-07-26 15:16] alexec commented on #9149
Thank you. There can be only one. Will Snyk win, or Trivy? :)

@mcgrawia you seem to know this problem. Would you like to contribute the fix?

[2022-07-26 15:18] mcgrawia commented on #9149
Sure thing! I think someone from our team can start looking into it. Can you give any guidance on where the go-restful dependency comes from? I see in [Argo Events it's also listed as indirect](https://github.com/argoproj/argo-events/blob/master/go.mod#L155), which makes me think it comes from something further downstream.

[2022-07-26 15:20] sarabala1979 commented on #9227
@IoanaIvanova Can you check your Argo Cli version?

[2022-07-26 15:20] alexec commented on #9149
Yes.

https://github.com/argoproj/argo-events

[2022-07-26 15:21] sarabala1979 commented on #9224
@corneredrat Do you have any ETA to work on this? If you need any help let us know.

[2022-07-26 15:26] mcgrawia commented on #9149
Right, but even in Argo-Events it is listed as an indirect dependency, meaning it comes from something else that Argo Events depends on if I'm not mistaken. Do you have any insight into what dependency brings in go-restful to Argo Events? If Argo Events was using it directly, I would expect it to be a direct dependency.

[2022-07-26 16:30] VladimirYushkevich commented on #3976
I still have this issue with labels but on the `WorkflowTemplate` level. Is it expected behavior?

[2022-07-26 17:34] mcgrawia commented on #9149
@alexec @terrytangyuan created PR here, let me know if there's anything else I can do:

https://github.com/argoproj/argo-events/pull/2111

[2022-07-27 05:52] kenchan0130 opened #9237 "Workflow API response failure due to RBAC restrictions"
## Summary

If we are not authorized for a particular operation according to RBAC, the Workflow API will return an HTTP status 500 error.
Not authorized, we expect the API to return a HTTP status 4xx error such as 403.

Server administrators often monitor the API for HTTP status errors at 5xx.
However, since an unauthorized request is normal for the server, it is a false positive and turns into "T

[2022-07-27 08:44] MISSEY opened #9238 "A bug encountered when executed examples from workflow-templates - A' errored: expected < 2 pods, got 2 - this is a bug"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

I create a template using

[code]
from examples/workflow-templates.

Then submitted dag.yaml using

[code]

What version are you running?
**argo: v3.3.8**

## Diagnostics

Paste the smallest workflow that reproduces the bug. We must be able to run the workflow.

[2022-07-27 09:18] carolkao opened #9239 "Early evaluate sprig functions and set the result as an input parameter"
# Summary
Hi, our teams encounter the same issue with #9166. When we pass a parameters with sprig function such as `name-{{=sprig.randAlphaNum(5)}}` to a step base template which execute two parallel templates, the sprig-function will be re-evaluated during the two templates run time and the result sometime are inconsistent.

I'd like to know if it's possible to have an environment variable like '

[2022-07-27 15:25] sarabala1979 commented on #9237
@kenchan0130 Make sense, Current API server is returning an error to the GRPC server and HTTP Mux is using `DefaultHTTPProtoErrorHandler` which is sending 500 for all errors.
Two way to fix it:
1. Return status.Error(code, message) instead of error. Util function will intercept the error return status.error. We need to change all handles
2.  Add custom `HTTPProtoErrorHandler`  to intercept the all

[2022-07-27 20:35] fdebuire opened #9244 "argo retry ends up in runtime error: invalid memory address or nil pointer dereference"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

Launching a retry of the workflow using the command:
❯ argo retry test-pipeline-testbug --node-field-selector=displayName=test-api-account-contract -n cloud-workflows
INFO[2022-07-27T21:59:29.478Z] Deleting pod: test-

[2022-07-28 14:46] danajp opened #9248 "Artifact load on 503 Service Unavailable error is not retried for S3 artifact repository"
## Checklist

* [x] Double-checked my configuration.
* [ ] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

The `init` container in one of my workflow pods failed to download an artifact from s3.

What version are you running?

v3.3.3

## Diagnostics

Paste the smallest workflow that reproduces the bug. We must be able to r

[2022-07-28 15:04] kenchan0130 commented on #9237
I find it difficult for me to work on my contribution as it would affect all APIs and would require design skills.

[2022-07-28 17:39] terrytangyuan opened #9250 "Main branch CI builds are failing"
test-functional: https://github.com/argoproj/argo-workflows/runs/7564981459?check_suite_focus=true
[code]

test-examples: https://github.com/argoproj/argo-workflows/runs/7564908634?check_suite_focus=true

[code]

[2022-07-28 17:40] terrytangyuan commented on #9250
@sarabala1979 @juliev0 Would these be caused by our recent changes?

[2022-07-28 19:45] alexec commented on #9250
@sarabala1979 @juliev0 can I please ask for this to be made top priority? It impact all builds for all users.

[2022-07-28 21:33] ChillAndImprove commented on #8224
Up

[2022-07-28 21:43] juliev0 commented on #9250
@terrytangyuan Is this particular failure happening every time? or most times? Which code change are you thinking caused it?

[2022-07-28 21:44] terrytangyuan commented on #9250
Yes it happens on master branch as well as on PRs. I tried re-run but they still failed.

[2022-07-28 21:44] juliev0 commented on #9250
@sarabala1979 says he'll fix it.

[2022-07-28 21:47] juliev0 commented on #9250
@alexec Yes, getting these false failures addressed is important. That's why I logged these issues: https://github.com/argoproj/argo-workflows/issues/9027
https://github.com/argoproj/argo-workflows/issues/9146

Bala and Dillen actually took steps recently to help with some of them. For Unit tests, Bala made it so they run in parallel so they don't time out. For e2e, Bala separated the test-functio

[2022-07-29 02:36] davidghiurco commented on #1625
I still get this exact issue in Argo v3.3.8 ...

[2022-07-29 02:42] davidghiurco commented on #6805
Is there a workaround for this problem?

The issue summary indicates If a dag/task includes withItems/withParam parameter, we are not able to resolve its output artifacts"

Does that mean dag/tasks don't work with `withItems` / `withParam`, but steps do?

[2022-07-29 05:20] KnightMode opened #9254 "Events api doesnt return the workflow id triggered"
On triggering a workflow using the endpoint: /api/v1/events/argo/<discriminator>, The response received a 200 status code incase of success with an empty body. There is no way to get the status of the workflow active since there is no workflow id being returned in the response.

Is there a way to get the status of workflow triggered through the event especially in the scenario where the workflow n

[2022-07-29 06:31] #9248 closed

[2022-07-29 06:47] sarabala1979 commented on #9250
Failure caused external URL returns 503. I will fix it before Monday.
<img width="721" alt="image" src="https://user-images.githubusercontent.com/33908564/181699799-e5c52b2f-a681-4247-8b04-bb1d31ad3d3c.png">

[2022-07-29 06:51] juliev0 commented on #9250
Thank you, Bala!

[2022-07-29 11:59] Stelagowski-Tomasz commented on #3523
@alexec Is this feature also allowing to watch argoworkflows deployed in a single cluster but view them in UI deployed in another one?

[2022-07-29 13:16] DiegoFlop opened #9257 "Problem when I retry workflow when it used git artifact"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

I'm using field **retryStrategy=3** at workflow template configuration

When the workflow fail on a step, this, retry the same step  3 times, if none of them finishes correctly, the workflow retry all steps since star

[2022-07-29 14:27] terrytangyuan commented on #9250
Seems like tests are passing now. What did you do to fix it?

[2022-07-29 15:06] terrytangyuan commented on #9250
In case you are looking into this as well, I am seeing issues with docs build but it's caused by StackOverflow. https://github.com/argoproj/argo-workflows/pull/9258#issuecomment-1199481700

[2022-07-29 17:12] sarahhenkens opened #9259 "The SSO integration does not consider HTTP_PROXY env vars when making requests"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

The `github.com/coreos/go-oidc/v3/oidc` library by default uses an http client that is not reading the env vars for `HTTP_PROXY` variables. This results in SSO failing to initialize at startup.

## Diagnostics

I added several `log.Print` statements in my fork

[2022-07-29 17:21] #9149 closed

[2022-07-29 17:58] sarahhenkens commented on #9259
The `HandleCallback` function seems to be impacted by this bug as well

[2022-07-30 16:41] sarabala1979 opened #9262 "Cherry-pick 3.3.9"
- [x] 61211f9db fix: Add workflow failures before hooks run. Fixes #8882 (#9009)
- [ ] f5f1a3438 fix: sync lock should be released only if we're retrying (#9063)
- [x] 89f3433bf fix: workflow.status is now set properly in metrics. Fixes #8895 (#8939)
- [ ] 62287487a fix: Treat 'connection reset by peer' as a transient network error. Fixes #9013 (#9017)
- [ ] e31ffcd33 fix: Correct kill command. Fi

[2022-07-30 16:43] measutosh commented on #8759
Hi @alexec , I am new and want to work on this issue. I see @deepanshululla has raised a PR([9001](https://github.com/argoproj/argo-workflows/pull/9001)) and the issue has not been solved since then . Could you please suggest can we move forward with the changes he has made or some other thing needs to be modified.

[2022-07-31 05:22] juliev0 commented on #9146
keeping this alive...

[2022-07-31 07:57] roofurmston commented on #8972
This is still not stale as far as I am aware.

It's a really bad issue. Can someone look into it please?

[2022-07-31 09:23] roofurmston commented on #8275
/unstale

[2022-07-31 13:26] sarabala1979 commented on #8972
We have very limited resources, on argo core team. We are busy with other issues. Let me add it in blog and prioritize.

Sent from my iPhone

[2022-07-31 18:21] sarabala1979 commented on #8972
@roofurmston I am not able to reproduce on `latest`  and 3.3.8.
Can you try with 3.3.8?

[2022-07-31 18:21] sarabala1979 commented on #8972
@berlinsaint

[2022-07-31 22:26] terrytangyuan commented on #9262
I propose to cherry pick the following commits related to security:
* https://github.com/argoproj/argo-workflows/commit/aa9ff17d5feaa79aa26d9dc9cf9f67533f886b1c fix: Remove path traversal CWE-23 (https://github.com/argoproj/argo-workflows/pull/8331)
* https://github.com/argoproj/argo-workflows/pull/9235

[2022-07-31 22:59] Gibstick commented on #8684
v3.3.8 is still the latest release so I think it's fair to say this bug is still relevant

[2022-08-01 06:29] roofurmston commented on #8972
Sure, no problem. I will try with 3.3.8 this week.

Out of interest, what plugin did you use with your test?

[2022-08-01 07:27] mhehle commented on #9153
still relevant

[2022-08-01 09:14] LoricAndre opened #9266 "Fix: differentiate between no currentNamespace and empty currentNamespace"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
After logging in with SSO on the server (using the UI) in the latest master, the namespace is always reset to the user's namespace when the current namespace is empty, but it should stay at cluster level. This is due t

[2022-08-01 10:59] DiegoFlop opened #9268 "Error workflow sometimes try start pod when node doesn't have enough resources"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

In the kubernetes cluster, we have implemented cluster autoscaler, however, sometimes we received next error.

![Captura de pantalla 2022-08-01 a las 12 46 15](https://user-images.githubusercontent.com/34077334/182132

[2022-08-01 12:22] Siebjee opened #9269 "Error: runtime error: invalid memory address or nil pointer dereference (3.3.8)"
## Summary

When a `valueFrom` is used in a workflow parameter (`arguments.parameters`) it produces a:

[code]

What version are you running?

3.3.8

## Diagnostics

Paste the smallest workflow that reproduces the bug. We must be able to run the workflow.

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-08-01 14:35] #9266 closed

[2022-08-01 16:59] #9170 closed

[2022-08-01 21:19] DiegoFlop commented on #8911
@sarabala1979
I'd like to contribute with this project, but unfortunately, my knowledge with golang are very limited at this moment

[2022-08-02 03:12] wekinu opened #9270 "Unschedulable: 0/2 nodes are available: 2 pod has unbound immediate PersistentVolumeClaims."
After the Ubuntu OS format and Installed kuberentes and Argo,
when i run the pvc-related template provided by Argo, A message is coming out.
message : Unschedulable: 0/2 nodes are available: 2 pod has unbound immediate PersistentVolumeClaims.

I am attaching the log.

│ Events:

[2022-08-02 05:56] sarabala1979 commented on #9262
- [ ]  [fix: retryStrategy.Limit is now read properly for backoff strategy. F…](https://github.com/argoproj/argo-workflows/commit/2d1758fe90fd60b37d0dfccb55c3f79d8a897289)

…ixes https://github.com/argoproj/argo-workflows/issues/9170. (https://github.com/argoproj/argo-workflows/pull/9213)

[2022-08-02 06:13] sarabala1979 commented on #9262
This fix contains other feature changes. We could cherry pick

[2022-08-02 06:15] sarabala1979 commented on #9262
I am busy with priority work. I will try to release before the end of this week.

[2022-08-02 06:15] sarabala1979 commented on #9262
@terrytangyuan Do you have bandwidth do cherry-pick?

[2022-08-02 06:29] journey-wang commented on #7259
Hi alexec,  why ReapZombies cannot be found in the v3.3.8 ?

[2022-08-02 06:29] journey-wang commented on #7259
@alexec

[2022-08-02 07:34] mortemate commented on #9148
I also faced this issue.
An easy way to reproduce it is to mock the response from a server and pass it through `io.argoproj.workflow.JSON`

My example:
[code]

Despite the json is valid, the result is:
`Caused by: java.lang.IllegalStateException: Expected BEGIN_OBJECT but was STRING at line 1 column 49 path $.metadata.creationTimestamp
`

[2022-08-02 07:36] carolkao opened #9271 "Support retry when putting file to OSS and encounter 'dial tcp: i/o timeout' error"
# Summary
Sometimes the pod become failed due to putting main.log to OSS failure. The error showed in pod are:
[code]
It meet the timeout setting - 30s in the [default config](https://github.com/aliyun/aliyun-oss-go-sdk/blob/c82fb81e272d84f716d3f13c36fe0542a49adfeb/oss/conf.go#L198). I'd like to request for adding `dial tcp: i/o timeout` like error into this white list, so that the request can be

[2022-08-02 08:04] kulinskyvs commented on #9148
Just wondering which version this issue occurs from? Is there any working 3.3.x Argo Workflows Java SDK?

[2022-08-02 08:48] vcarluer commented on #9148
I have the issue with 3.3.8 java SDK

[2022-08-02 09:08] vitalii-cidersecurity commented on #9139
It looks like emissary is going to be the only possible choice. Is it any plan to take a look into the issue? 😢

[2022-08-02 13:02] leoncider commented on #9139
This is a big problem for us as well

[2022-08-02 13:42] mcgrawia commented on #9262
Hi @terrytangyuan @sarabala1979, is this something I could help out with? If one of you can provide a quick write up of what needs to be done, happy to take a stab at it.

[2022-08-02 14:08] zachaller opened #9273 "Argo Projects Shared Schema File"
# Summary

As an end user of Argo Projects and a user of Kustomize I would like to be able to use strategic merge patching to merge arrays for both Argo Rollout and Argo Workflows. There are some major bugs with how kustomizes support for openapi schema definitions are used in that they are currently only one schema that can be defined and so you have to choose between being able to patch CRDs or

[2022-08-02 14:31] IoanaIvanova commented on #9227
It is reproducible on my side with your simple workflow example with steps defined [here](https://github.com/argoproj/argo-workflows/blob/master/examples/steps.yaml).

The `argo version` command return as follow
[code]

[2022-08-02 15:21] terrytangyuan commented on #9271
Would you like to send a PR and test it out? I'd also make sure your cluster has stable connection to that OSS address.

[2022-08-02 15:22] terrytangyuan commented on #9270
Please fill out the issue template.

[2022-08-02 17:09] JPZ13 commented on #9273
Argo Rollouts Kustomize docs: https://argoproj.github.io/argo-rollouts/features/kustomize/

[2022-08-02 17:10] sid8489 opened #9274 "Bugs in UI Error Notice/Popup"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
Issues:
1. **Error Notice/Popup does not render again after closing.**
  Steps to Reproduce:
-  Run argo server in sso mode.
- Associate a service account for user such that user does not have delete  permission
- Subm

[2022-08-02 17:16] JPZ13 commented on #9273
From the community meeting:
- Move the [Argo Schema Generator](https://github.com/zachaller/argo-schema-generator) to the argoproj organization
- Want to put a link in the documentation to the [Argo Schema Generator](https://github.com/zachaller/argo-schema-generator) once it has been moved into the argoproj organization

cc @sarabala1979 @zachaller

[2022-08-02 17:22] alexec commented on #9139
Can you repro on latest?

[2022-08-02 17:41] alexec commented on #9237
Seems good to me.

[2022-08-02 17:46] alexec commented on #9195
@terrytangyuan is correct. We don't want to over-permission roles. Users using HTTP templates will need to install additional roles to do so.

[2022-08-02 17:47] alexec commented on #9193
#4679

[2022-08-02 17:47] alexec commented on #9193
@goock could you look into this pls?

[2022-08-02 17:49] terrytangyuan commented on #9273
Do you mean argoproj-labs org instead?

[2022-08-02 17:49] alexec commented on #9148
Can you try latest?

[2022-08-02 17:52] zachaller commented on #9273
I think that argoproj org makes the most sense for this particular use because the links in both documentations and usage by the end users kustomization files will go to this repo.

[2022-08-02 18:10] #8861 closed

[2022-08-02 18:25] terrytangyuan commented on #9262
@mcgrawia @sarabala1979 https://github.com/argoproj/argo-workflows/pull/9235 has been cherry-picked and CI is passing in the release branch.

[2022-08-02 18:36] terrytangyuan commented on #9262
I cherry-picked this one as well.

[2022-08-02 22:23] juliev0 opened #9277 "Artifact location in UI shown has incorrect repository location information if Template.ArchiveLocation is defined"
When Template.ArchiveLocation defines the location of the artifact, the UI doesn't seem to be using that.

Note below that second-on-deletion.txt should be in _my-bucket-3_ but the UI thinks _my-bucket_.

![Screen Shot 2022-08-02 at 3 21 19 PM](https://user-images.githubusercontent.com/17830711/182483546-8dc79597-57e6-4e0f-927b-2aedd574d9f6.png)

[code]
---

**Message from the maintainers**:

Impa

[2022-08-02 23:03] vcarluer commented on #9148
It is maybe not the same case for me. I was migrated from an old argoproj-lab SDK client and no 3.x version works for me in fact.
I have: Failed making field 'java.time.Instant#seconds' accessible; either change its visibility or write a custom TypeAdapter for its declaring type
So it is related to Gson parsing and basic java type protection.
I got the same error with "Expected BEGIN_OBJECT but wa

[2022-08-02 23:15] wekinu commented on #9270
https://github.com/argoproj/argo-workflows/blob/master/examples/volumes-pvc.yaml

In addition to this link, the volumeClaimTemplates related functions all output the same message

[2022-08-02 23:21] vcarluer opened #9278 "New ENV var to set delay between Pods COMPLETED and Workflow SUCCESS check"
# Summary

Argo Workflow seams to wait 10s after all the Pods are marked as Completed to delete the pods and mark the workflow as Success.
Enhancement Idea: Add an env var option to reduce this delay.

_Note, i already have set: RESOURCE_STATE_CHECK_INTERVAL & WAIT_CONTAINER_STATUS_CHECK_INTERVAL to 1s which help for other parts. I didn't find any env vars for that (tried RECENTLY_STARTED_POD_DURA

[2022-08-03 01:52] carolkao commented on #9271
Hi @terrytangyuan , thanks for your reply. I believe the connection between our cluster and OSS address is stable since the error rarely happens. (But feel inconvenience for us)

Our colleague @jingkkkkai has an interest in working on this issue. He'll follow up and send the PR once he done.

[2022-08-03 05:45] jomach opened #9279 "Documentation for argo workflows"
# Summary

Hey, it would be great if we could add a field on the Argo workflow for a doc string. This way if you have multiple workflows on a big company you can describe it a little bit and place persons in charge or just describe what the flow does. This could be pick up by the UI then.

# Use Cases

Always

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We

[2022-08-03 06:15] tim-sendible commented on #9195
I still disagree that closing this is the right course of action. If you want to engage users, you need to tell them this stuff in the documentation.

[2022-08-03 07:13] DiegoFlop commented on #9270
I use volumeClaimTemplates with AWS cloud and all works properly.

This is my workflow configuration:
[code]

[2022-08-03 07:17] DiegoFlop commented on #9279
You can use some annotations metadata annotations.

In argohub uses a few annotations to describe the project: https://github.com/codefresh-io/argo-hub#WorkflowTemplate-manifest-conventions

[2022-08-03 07:18] mortemate commented on #9148
`io.argoproj.workflow.models.IoArgoprojWorkflowV1alpha1Workflow` has an attribute `metadata` which is an object of `io.kubernetes.client.openapi.models.V1ObjectMeta`
In turn, `V1ObjectMeta` has `creationTimestamp` which is custom DateTime format `org.joda.time.DateTime`.
So, the reason of the error is that `io.argoproj.workflow.JSON` can't deserialize this joda `creationTimestamp`, since there is

[2022-08-03 07:33] clementlecorre commented on #9195
I don't know if my installation is bad but I have exactly the same problems with the http template. I don't understand why it doesn't work. I have no error and the HTTP templates do not work. It is true that the documentation on this subject is poor....

[2022-08-03 07:38] jomach commented on #9279
Still the UI is not updated with it right ?

[2022-08-03 08:53] JulianZhang commented on #8417
@alexec @lippertmarkus  Dears,
I am using argo-workflow version 3.3.6 with windows worker now. When I run the windows-helloworld workflow, the main container with end as success. But the wait container can't get the main container's information. The stage aways in the running  status.

The log from wait container is

[code]

I also try to change the executor as the following example, But the wait

[2022-08-03 08:53] goock commented on #9193
I run the example from the ticket, and from above 30K feet, it looks like the controller stopped adding `Affinity` to the pod's spec, or it's removed at some point, I'll start debugging and find the cause.

[2022-08-03 09:06] JulianZhang commented on #8417
I had change my argo-workflow version to 3.3.1, before this change merged, The hello-windows can end with success now.

[2022-08-03 09:27] lippertmarkus commented on #8417
@JulianZhang I think you need to set the executor in the global configmap to affect the wait container

[2022-08-03 10:10] sid8489 commented on #3080
@ramanNarasimhan77 We are facing a similar issue with kong ingress. Can you share the resolution you did for this issue.

[2022-08-03 10:32] YashasviChaurasia commented on #7920
@tooptoop4 @alexec  I would like to work on this issue.

[2022-08-03 10:35] YashasviChaurasia commented on #2185
@alexec @simster7 I would like to work on this issue.

[2022-08-03 10:55] JulianZhang commented on #8417
@lippertmarkus Thank you. After change containerRuntimeExecutor from docker to emissary, It works.

[2022-08-03 11:09] vitalii-cidersecurity commented on #9139
Tried on https://github.com/argoproj/argo-workflows/releases/tag/v3.3.8. Received the same issue.

[2022-08-03 12:10] withnale opened #9281 "Does P/R/C reporting on argo list -o wide still work?"
Whenever I try running any of our workflows and I used

[code]

I've tried this with our job definitions and I've also tried this out of the box some of the workflows in `argo-workflows/examples` and I've yet to see a case where it works.

## Summary

What happened/what you expected to happen?

The `P/R/C` column is populated based on the number of pending/running/completed steps of the workflow.

[2022-08-03 12:29] #9279 closed

[2022-08-03 12:35] terrytangyuan commented on #9271
Sounds great.

[2022-08-03 13:27] SebastianGoeb commented on #8539
@alexec could you briefly elaborate which feature you mean, when you say this already exists? I really don't see how this already exists. I've already named a bunch of features that don't cover my use case.

Do you mean I should rely on preStop? That only run during external termination, not on crash or exit.
Do you mean finalizers? Those are metadata and metadata.finalizers is filtered out by the

[2022-08-03 14:59] alexec commented on #9195
@tim-sendible his is a good point. We have spent time trying to update and improve the docs. I don’t have bandwidth now to do this. Would you be interested?

[2022-08-03 15:01] alexec commented on #9139
Sorry. By “latest” I mean ”:latest” image which is built from master branch.

[2022-08-03 15:05] tim-sendible commented on #9195
Maybe in a few weeks, yes. Need to get some projects out the door first. So I think we're agreeing this is a valid issue that shouldn't be closed then.

[2022-08-03 22:34] JPZ13 commented on #9227
@IoanaIvanova Can I get you to update your Argo CLI version and try again? I'm on a later CLI version:
[code]

I ran the example you gave and got the following output:
[code]

These pod names match what I'm seeing in K8s:
[code]

Let me know if you're still running into this issue after upgrading the CLI

[2022-08-03 23:39] wekinu commented on #9270
Thank you for your answer.
I also work well on AWS EKS.
However, in the bare metal environment, it comes out like the above message.
Is there an impact with the Kubernetes platform?

[2022-08-04 01:13] carolkao commented on #9239
Hi @sarabala1979, I've read your comment in @9166, would you please help to take a look on this issue? Thank you.

[2022-08-04 03:57] smile-luobin opened #9283 "How to configure a default artifact repository, so that workflows in all namespaces can use it."
install argo-workflows in namespace `argo-system`, create `cluster-role-binding` for `argo-server` and `workflow-controller`. So i can create workflows in all namespaces.

configure a default artifact repository in `workflow-controller-configmap` with secret 'minio-secret' (of course, this configmap and secret are all in namespace `argo-system`).

create a workflow, with two step nodes, in namespa

[2022-08-04 06:14] #9283 closed

[2022-08-04 07:25] smile-luobin commented on #9269
`secretKeyRef` is unsupported in `valueFrom`.

arguments:

        parameters:
        - name: foobar
          valueFrom:
            secretKeyRef:
              name: my-secret
              key: test

will be Unmarshaled as:

        parameters:
        - name: foobar
          valueFrom: {}

there is no validation if `valueFrom=={}` in func `validateArgumentsValues`:
https://github.com/argopro

[2022-08-04 09:27] Siebjee commented on #9269
But shouldn't the error be more explanatory :).

I didn't submit this issue because it's unsupported, but the error is not clear enough that it isn't supported. In fact it throws a "nil pointer". Which is bad :).

[2022-08-04 12:09] sid8489 opened #9286 "Add Header "X-Accel-Buffering: no" to argo server responses to improve buffering between argo server and client"
**#** Summary
We have been below facing workflows UI issues in production env, where ingress is enabled
**Note: our ingress controller -> KONG**

- On submiting a new workflow:
    - initial steps in workflow Dag takes a lot of time to load
    - steps animation (like loader) does not work
    - delays in recieving workflow Progress updates, eg: step  still in progress on UI, eventhough a it has c

[2022-08-04 12:26] smile-luobin commented on #9269
@Siebjee agree with you.

maybe we can do validation in func `validateArgumentsValues` [argo-workflows/workflow/validate/validate.go](https://github.com/argoproj/argo-workflows/blob/06b0a8cce637db1adae0bae91670e002cfd0ae4d/workflow/validate/validate.go#L754), and return a more explanatory error if `valueFrom=={}`.

[2022-08-04 12:36] vitalyrychkov commented on #9139
Hi Alex, thank you very much for the fix!

With the "latest" tag deployed, I have repeated my test case:

I assume that Emissary is the only supported executor in the latest build and does not recognize the executor-related keywords: **containerRuntimeExecutor** and **containerRuntimeExecutors**. I had to remove them from the configmap for the workflow controller to start successfully.

Then I hav

[2022-08-04 13:21] AndriySidliarskiy opened #9289 "Unable to convert unstructured to CronWorkflow when syncing CronWorkflows" error="unrecognized type: int64""
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
I use argocd workflow with outputs parameter(ecr token) and maybe it`s problem, but argocd workflow work good but cron workflow not working

        "templates" = [
          {
            "name" = "update-ecr-login-pa

[2022-08-04 13:21] MISSEY commented on #9238
@sarabala1979

I am sorry for the late response; I was not well in the past week.

I am having now very different problems related to the same issue.

I prepared a workflow called ml-pipleine with DAGS, has two workflow-template, update-dataset and train-classifier.

I tried to explain problems in two experiments

## 1st experiment

### pipeline.yaml

[code]

### update-dataset.yaml

[code]

### t

[2022-08-04 13:27] mcgrawia commented on #9262
Hi @terrytangyuan, it looks like the changes are ready to go on the release branch. Is there anything else that needs to be done before the patch can be released?

[2022-08-04 15:02] sarabala1979 commented on #9262
@terrytangyuan Sorry I forgot to mention.  Cherry-pick process is to cherry-pick all fixes (exclude new feature fixes or fixes in new code).
we will cherry-pick the issue and mark selected here.
Can you try to cherry-pick the above list of issues?

[2022-08-04 15:10] terrytangyuan commented on #9262
Okay I thought you only needed help with the mentioned fixes. Unfortunately I am on vacation starting today. Would you be able to take it from here?

[2022-08-04 17:59] alexec commented on #9139
Thank you for your detailed explanation. I think other uses will find this helpful. I think your approach is fine.

[2022-08-04 19:51] tfurmston opened #9292 "I would like a mentor"
**Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).**

Answer: **Yes I have read the mentoring guide.**

**What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?**

Answer: **I have experience and am in the process of learning Go.**

**Is there any par

[2022-08-04 23:39] #9201 closed

[2022-08-04 23:41] juliev0 opened #9294 "Implement retries for Artifact GC"
If Artifact GC fails, the Pod can do a few retries through some sort of exponential backoff before declaring failure.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-08-04 23:44] juliev0 opened #9295 "Artifact GC performance improvement - delete artifacts in parallel"
The current "argoexec delete" command operates serially. We can improve performance by using workers that run in parallel.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-08-04 23:48] juliev0 opened #9296 "Artifact GC - enable strategies for deletion upon success and failure"
May want to do something like "OnWorkflowSuccessOrDeletion" and "OnWorkflowFailureOrDeletion" so that the artifacts get deleted no matter what.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-08-04 23:50] tooptoop4 commented on #7623
@alexec can we run multi replicas? https://stackoverflow.com/questions/64574129/what-is-the-recommended-number-of-argo-workflow-controller-replicas-in-productio and https://blog.argoproj.io/argo-workflows-v3-0-4d0b69f15a6e suggests yes

[2022-08-05 02:55] DjokerR opened #9297 "Allow `dependencies` to be templated"
## Checklist

* [ ] Double-checked my configuration.
* [ ] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

how to use loops  dags   dependency, its not to unmashl

What version are you running?
argo: v3.3.7
kubernetes: v1.21.6
## Diagnostics

Paste the smallest workflow that reproduces the bug. We must be able to run the workflow.

[code]

[code]

---

**Message fro

[2022-08-05 08:53] vitalyrychkov commented on #9139
Thank you Alex, we really love Argo.

[2022-08-05 10:15] duynguyenhoang commented on #7698
This feature is also good for our case. We would like to use task name as a metric label.

[2022-08-06 13:39] CRASH-Tech opened #9312 "Show available namespaces in UI with RBAC namespace delegation"
# Summary

In the UI I cannot to see available namespaces for my account, and need to enter it.
User may not to know him namespace/s, and will be cool if with empty namespace field will be show resources in all available namespaces, associadet wit that ServiceAccount

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-08-07 10:38] nice-pink opened #9313 "Use workflowTemplateRef in steps to load workflow template incl. parameters"
# Summary

We have a base repo and X apps building when changing this base repo. Currently there is a workflow started for each one of these apps. As they have the same code base the checkout step is doing exactly the same (and some preparation steps following are equal as well). My idea was to setup a single `Workflow` for building all the apps. After the checkout and preparation steps, a `Workfl

[2022-08-07 12:17] deepaksinghvi opened #9314 "Linting/Submission for Workflow Of Workflows not working for workflows steps withItems and other complex workflows."
## Checklist

* [x] Double-checked my configuration.
* [X] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary
Linting/Submission for **Workflow Of Workflows** not working for workflows steps withItems and other complex workflows.

What happened/what you expected to happen?
Would like to use workflow of workflow feature of ArgoWorkflow but it is working for basic cases o

[2022-08-07 18:38] #9143 closed

[2022-08-08 04:52] mm-fsai commented on #9083
I am experiencing the same on v3.3.8

[2022-08-08 04:58] juliev0 opened #9315 "Add "argo delete --force" to force deletion of a workflow which has a finalizer"
Artifact GC creates a finalizer to prevent Workflows from being deleted until their artifacts have been deleted. But if the artifacts fail to get deleted, the finalizer will remain.

This CLI command would force delete a workflow which has a finalizer, removing the finalizer first. (And thus the ArtifactGCTask, which is owned by it, and the ArtifactGC pod owned by the ArtifactGCTask would all get

[2022-08-08 04:59] juliev0 commented on #9315
@sarabala1979 Added this per your suggestion. Can you add it to "Artifacts" project?

[2022-08-08 05:59] journey-wang commented on #7259
After some work, someone could try this solution for v3.3.8:

--- a/workflow/executor/os-specific/signal_linux.go
+++ b/workflow/executor/os-specific/signal_linux.go
@@ -2,7 +2,11 @@ package os_specific

 import (
        "os"
+       "os/signal"
        "syscall"
+
+       "github.com/argoproj/argo-workflows/v3/util/errors"
+       "golang.org/x/sys/unix"
 )

 func IsSIGCHLD(s os.Signal) bool { r

[2022-08-08 06:17] #8476 closed

[2022-08-08 08:20] IoanaIvanova commented on #9227
Thanks it is working with version
[code]
Could you tell me also from which version or argo-server/argo go client is the pod name change introduced as we have some functionality which is related to the failed pod name and as I can see when the workflow fails there is no direct information in the workflow kind for the name of the failed pod which was the behaviour in the older version of argo server

[2022-08-08 08:34] MISSEY commented on #9238
Hi @sarabala1979, did you find out what went wrong?

[2022-08-08 09:44] frimuchkov commented on #8997
Weird, I don't see error anymore...

[2022-08-08 09:44] #8997 closed

[2022-08-08 13:08] nice-pink opened #9316 "UI returns 500 on WorkflowTemplates tap if one WorkflowTemplate is invalid"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

I pushed a broken version of a WorkflowTempate to the cluster. Clicking on the WorkflowTemplates tap in the argo-workflows UI returns 500 and I can't see any WorkflowTemplates.

The error message is:
"Unsuccessful HTT

[2022-08-08 17:06] juliev0 opened #9318 "ArtifactGC: Add strategies for "OnWorkflowSuccessOrDeletion" and "OnWorkflowFailureOrDeletion""
Consider giving users the ability to configure their Workflows so artifacts be automatically deleted only in the case of success or failure.

Strategies like "OnWorkflowSuccessOrDeletion" and "OnWorkflowFailureOrDeletion" would make it so that artifacts could also be deleted when the Workflow gets deleted if they weren't already deleted.

Need to determine if we also want to have "OnWorkflowSucces

[2022-08-08 17:07] #9296 closed

[2022-08-08 17:14] juliev0 commented on #9294
@dpadhiar I believe we need to call the Backoff function [here](https://github.com/argoproj/argo-workflows/blob/master/util/wait/backoff.go) (you can look to see other places in the code where we call that). You can look up the concept of "Exponential backoff" to see what that's all about if you don't already know.

[2022-08-08 17:28] juliev0 commented on #9295
@dpadhiar You can model the code in agent.go [here](https://github.com/argoproj/argo-workflows/blob/master/workflow/executor/agent.go#L85) which starts up workers running in parallel and uses channels to communicate with them. (We can discuss more in detail if you like when you start this.)

[2022-08-08 17:38] Kyle-Wong opened #9320 "Workflows fail when cluster-scoped resources have successCondition"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

I expected this workflow to succeed. It applies a namespace and has a successCondition. The resource is applied successfully, but the workflow is marked as failed because of `The resource has been deleted while its st

[2022-08-09 02:03] thinkhoon opened #9322 "dag task failed with error msg "converting YAML to JSON: yaml: invalid map key""
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

hello,  i am using dag  workflow in argo,   i have a task A will output 3 files as  output parameters and  task B will use these param as it's input parameters. some times  both task A and B work fine,   but some time

[2022-08-09 11:58] AbdAlRahman-Odeh-99 opened #9323 "Argo server shuts down and the UI doesn't connect"
Environment:
- Ubuntu 20.04
- Minikube: 1.26.1
- Kubernetes Version: 1.24.3
- Docker: 20.10.17
Issue:
- The argo server shuts down after the first request and doesn't connect to the UI.
Steps:
- Install minikube and kubectl
- Run minikube
- kubectl create ns argo
- kubectl apply -n argo -f https://raw.githubusercontent.com/argoproj/argo-workflows/master/manifests/quick-start-postgres.yaml
- kubect

[2022-08-09 15:32] sandeepitachi opened #9324 "Workflow Controller Crashing v3.3.8"
* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

Workflow controller is crashing with large workloads in a workflow. We started seeing this behavior in the last 2 weeks
We have around 40k network devices and collect the status of the devices using the workflows. The corn wf runs by dividing them into batches of around 80-9

[2022-08-09 15:46] #8670 closed

[2022-08-09 17:06] sarabala1979 commented on #9324
you can disable the leader election if you are not using HA mode.  you can set env var `LEADER_ELECTION_DISABLE= true`

[2022-08-09 17:08] sarabala1979 commented on #9323
@AbdAlRahman-Odeh-99 can you provide more information on why the argo server pod is going down?

[2022-08-09 18:51] sandeepitachi commented on #9324
Thanks, @sarabala1979 controller stopped crashing now

[2022-08-09 18:51] #9324 closed

[2022-08-09 20:21] terrytangyuan commented on #9320
Good catch. Would you like to submit a PR to fix this?

[2022-08-09 20:53] mcgrawia commented on #9262
Hi @sarabala1979, I see some progress was made on cherry picking the commits to the release branch. Just offering again to see if there's anything I can do to get this over the finish line. The Critical level CVE was identified 26 days ago and we are about to break our 30 day patch SLAs with our customers if we cannot get this released asap. Please let me know, thanks

[2022-08-09 20:58] dqsully opened #9325 "SSO auth mode -- use k8s OIDC directly"
# Summary

Currently, Argo Workflow's SSO auth mode verifies a user, and then delegates their access through a ServiceAccount in the Kubernetes cluster. The user's OIDC token is verified, and then used to pick a ServiceAccount (OIDC) token from Kubernetes to use on the user's behalf.

However, in our organization, the user's OIDC token can be valid for use within Kubernetes directly, with our Kube

[2022-08-09 22:08] Kyle-Wong commented on #9320
Sure, I'll do that

[2022-08-10 05:04] juliev0 commented on #9297
So, I started looking at this and there may possibly be a bug here. It looks like the issue occurs when validating the Workflow, before it gets run in the TopologicalSorting() function. I think we can prove it's a bug if I can comment out the Validate functionality and get it to successfully run after that.

However, do you have a good solution for the issue that the debian task seems to be depend

[2022-08-10 05:36] sarabala1979 commented on #9262
Release 3.3.9

[2022-08-10 05:36] #9262 closed

[2022-08-10 07:05] mcgrawia commented on #9262
Thank you so much @sarabala1979!!

[2022-08-10 08:58] dacamposol opened #9328 "Workflow Failed: wait container is forcefully stopped"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

We have updated Argo Workflow to the version 3.3.8 and lately, we noticed some of the Workflows are failing due to the Pods being terminated.

When I analyse the Pod, I noticed the following:

[code]

Also, when I check the logs of the aforementioned `wait` con

[2022-08-10 09:07] AbdAlRahman-Odeh-99 commented on #9323
Here are the logs of the pods that have CrashLoopBackOff error:

Argo Server Logs:
time="2022-08-10T09:02:59.890Z" level=info msg="not enabling pprof debug endpoints"
time="2022-08-10T09:02:59.891Z" level=info authModes="[server client]" baseHRef=/ managedNamespace=argo namespace=argo secure=true ssoNamespace=argo
time="2022-08-10T09:02:59.891Z" level=info msg="Generating Self Signed TLS Certifica

[2022-08-10 09:22] CRASH-Tech commented on #8938
Also have this issue:
[code]

`Failed: invalid spec: templates.ci-pipeline-git-tag.tasks.publish template reference argocd-publish.{{ item.syncPolicy }} not found`

[2022-08-10 12:02] CRASH-Tech opened #9329 "Cannot use {{ item }} variable in template name"
## Checklist

* [X] Double-checked my configuration.
* [X] Tested using the latest version.
* [X] Used the Emissary executor.

## Summary

I'm trying to use {{ item }} variable to set name of used tamplate, but seems {{ item }} renders after dag step
There is an example:
[code]

and error:
`templates.ci.tasks.publish template reference argocd-publish.{{ item.image }} not found`

argo-workflows ver

[2022-08-10 14:49] terrytangyuan commented on #9292
Welcome! Based on discussions in https://github.com/argoproj/argo-workflows/issues/8275, @sarabala1979 @alexec Would any of you like to be a mentor for this?

[2022-08-10 14:50] terrytangyuan commented on #8970
The issue is resolved so closing this.

[2022-08-10 14:50] #8970 closed

[2022-08-10 16:32] alexec commented on #9139
I think this issue is resolved now.

[2022-08-10 16:32] #9139 closed

[2022-08-10 16:39] alexec commented on #9325
Is this fixed by  #7193?

[2022-08-10 16:51] dqsully commented on #9325
Sorta. We attach RoleBindings and ClusterRoleBindings based on group claims in an OIDC token, so we would need that to be implemented for the SubjectAccessReview mechanism. It also doesn't solve the Kubernetes access log problem, since in that PR, the Argo Workflows server ServiceAccount is still making the changes to Kubernetes.

With our Kubernetes config, the OIDC tokens that Argo Workflows cou

[2022-08-10 19:48] tooptoop4 commented on #9325
@dqsully have u got multi-tenant working? what prevents team2 writing a yaml that uses team1's namespace/serviceacct?

[2022-08-10 20:03] juliev0 commented on #9322
Thanks for submitting. Definitely seems like a bug if the behavior is inconsistent from run to run.

[2022-08-10 20:12] juliev0 commented on #9316
I was able to reproduce this and seems like a real bug. (Therefore, removing the "Triage" label.) I did also confirm that it works again if you delete the WorkflowTemplate.

[2022-08-10 20:20] dqsully commented on #9325
Yes, we're using multi-tenant clusters. I'm not quite sure what you're referring to @tooptoop4, but our engineers currently access Kubernetes using our IdP, and their permissions are governed by RoleBindings that apply to one or more groups, mapping up to the `k8s_groups` claim in the OIDC token returned from our IdP. At the moment, we use one namespace prefix per team, and allow engineers in that

[2022-08-10 20:26] juliev0 commented on #9323
Definitely seems specific to the Postgres Pod, since that's listening on port 5432 and the reason that Argo Server and Workflow Controller are going down.

I just tried "kubectl apply -n argo -f https://raw.githubusercontent.com/argoproj/argo-workflows/master/manifests/quick-start-postgres.yaml" (but on k3d, not minikube) and everything came up fine. I guess we need to understand what would cause

[2022-08-10 20:35] juliev0 commented on #9323
Here are some people who've encountered the same thing: https://github.com/docker-library/postgres/issues/451

Can any of this work for you?

[2022-08-10 21:47] juliev0 commented on #9329
So, all of the examples I've seen of "withParam" have involved the use of the {{item}} in arguments. Have you seen anything indicating that it can be used elsewhere?

[2022-08-10 22:09] tooptoop4 commented on #9325
@dqsully what I mean is what prevents a user going into the Argo Workflows UI and submitting a new workflow yaml that has another team's serviceAccoutName and namespace in it?

[2022-08-10 22:18] adisunw commented on #7385
bump

[2022-08-11 00:33] dqsully commented on #9325
In the existing "client" auth mode, my understanding is that the Argo Workflows server will use the client's bearer token to communicate with the Kubernetes API directly, e.g. for creating a workflow object. If that token is only authorized to create a workflow in a certain namespace, then the user is only allowed to run the workflow under a ServiceAccount in that same namespace. A workflow in one

[2022-08-11 07:33] tooptoop4 commented on #9325
@dqsully I mean just like https://github.com/argoproj/argo-workflows/blob/147730d49090348e09027182dcd3339654993f41/examples/cron-backfill.yaml#L51

[2022-08-11 08:04] CRASH-Tech commented on #9329
Hello, of couse, this is my case:

I'm using two templates, for manual and auto deploy(because I can't use "if" statement inside manifest section :(( )
[code]

Next, inside webhook I send deploy strategy (auto for dev, manual for prod )
[code]

As you can see, I need to use two steps with "when" for auto and dev. It's looks weird.
It would be cool if i could use just one step and set template name

[2022-08-11 09:57] Siebjee opened #9336 "Argo waiter: invalid memory address or nil pointer dereference with port-forward"
## Summary

When a `argo wait <workflow>` is used via `kubectl port-forward svc/argo-server 8443:2746 -n argo` it eventually panics with a `invalid memory address or nil pointer dereference`.

[code]

What version are you running?

3.3.8

## Diagnostics

Paste the smallest workflow that reproduces the bug. We must be able to run the workflow.

[code]

### Reproduction steps:

**Please note, here i

[2022-08-11 11:07] caelan-io opened #9337 "Set Retry Strategy default to `Always` rather than `onFailure`"
# Summary

Users often report wanting to enable retries whenever a pod fails or is deleted ([example](https://cloud-native.slack.com/archives/C01QW9QSSSK/p1659302901579149)). Changing the retry strategy to `always` would enable this out of the box with less debugging for a user to find the precise retry strategy they desire.

Currently, the user has to understand the difference between `onError` a

[2022-08-11 11:11] dqsully commented on #9325
Right, so in a cluster install of Argo Workflows, if a user isn't allowed to create a workflow in the same namespace as Argo Workflows itself, then they can't use any of the Argo Workflows ServiceAccounts.

[2022-08-11 11:29] pevers commented on #6262
Any ideas or updates on this @christopheblin ?

I'm now looking into optimizing an Argo workflow where pod creation takes 10 seconds for every step. It adds a lot of overhead to the whole flow (which only takes 20 seconds).

[2022-08-11 12:07] smile-luobin opened #9338 "ArtifactRepository configuration maybe cannot be used across namespaces"
Install argo-workflows in namespace `argo-system`, create `cluster-role-binding` for `argo-server` and `workflow-controller`. So i can create workflows in all namespaces.

Configure a default artifact repository in `workflow-controller-configmap` with secret 'minio-secret' (of course, this configmap and secret are all in namespace `argo-system`).

Create a workflow, with two step nodes, in namespa

[2022-08-11 13:39] #9244 closed

[2022-08-11 14:02] ddemydenko commented on #8827
the same problem

[2022-08-11 15:00] sarabala1979 commented on #9329
`"{{ item.image }}"` can be only substitute in arguments.

[2022-08-11 15:04] sarabala1979 commented on #9328
@dacamposol can you provide the minimum reproducible workflow and controller logs for this workflow?

[2022-08-11 15:10] sarabala1979 commented on #9322
@thinkhoon Can you check the A task output during the failure? looks like A output is invalid to marshal it.

[2022-08-11 15:13] sarabala1979 commented on #9320
@Kyle-Wong can you try to reproduce on  3.3 release?

[2022-08-11 15:22] shbfy commented on #9195
As a new comer to Argo, for what it's worth, I agree with @tim-sendible . I'm finding it terribly confusing to get to grips with Argo due to the documentation not behaving as described. I currently have no idea how to use the HTTP templates and have spent most of the day searching the internet and slack groups to try and figure out what I need to do. None of this is clear in the documentation. I u

[2022-08-11 15:37] tu-maurice commented on #9312
To add to this: It would be helpful to be able to set a default namespace to display using an environment variable, because as far as I can see the web ui tries to display a namespace called "undefined" when argo server is not restricted to a single namespace.

[2022-08-11 15:57] sivaguru-pat opened #9341 "invalid character '{' after top-level value" when running pod as resource"
hey i am trying to run a pod in the workflow using kubernetes resource
where i am facing this error
![image](https://user-images.githubusercontent.com/46225496/184175837-f2a19f3c-d311-443f-b6aa-1ef2f5744ed5.png)
pod is getting deployed but workflow is getting failed
[code]

[2022-08-11 16:02] juliev0 commented on #9297
Okay, thanks for looking. I have changed it to "enhancement" then.

[2022-08-11 16:36] terrytangyuan commented on #9312
Could you try the new release https://github.com/argoproj/argo-workflows/releases/tag/v3.4.0-rc1?

A more meaningful default namespace associated with the service account will be displayed instead in this new release.

[2022-08-11 17:09] juliev0 opened #9344 "Implement Artifact Garbage Collection for Azure"
---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-08-11 17:10] juliev0 opened #9345 "Implement Artifact Garbage Collection for GCS"
---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-08-11 17:11] juliev0 opened #9346 "Implement Artifact Garbage Collection for Git artifacts"
---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-08-11 17:12] juliev0 opened #9347 "Implement Artifact Garbage Collection for HDFS"
---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-08-11 17:13] juliev0 opened #9348 "Implement Artifact Garbage Collection for HTTP Artifacts"
# Summary

What change needs making?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-08-11 17:14] juliev0 opened #9349 "Implement Artifact Garbage Collection for OSS Artifacts"
---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-08-11 17:14] juliev0 opened #9350 "Implement Artifact Garbage Collection for Raw Artifacts"
---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-08-11 18:57] alexec commented on #9195
@shbfy would you like to have a go at updating the docs with the information you think is missing?

[2022-08-11 19:12] jmeridth commented on #8901
@sarabala1979 Was this satisfied by https://github.com/argoproj/argo-workflows/pull/8157?

[2022-08-11 19:19] tico24 commented on #9195
I think the problem here @alexec is nobody other than the original devs know the purpose of the quiskstart manifests, so making changes to the documentation is prohibitively difficult.

"Quick start" obviously implies some sort of manifest to get up and running fast. But these manifests all default to the "latest" images so are completely unreliable (scroll up in the slack channel for 5 minutes an

[2022-08-12 03:42] thinkhoon commented on #9322
hi  sara,   the output is absolutely  right because the k8s job ( which need the output param of task A to define the success pods num  ) is created correctly and run fine.

[2022-08-12 06:05] AbdAlRahman-Odeh-99 commented on #9323
I have tried the following:
- The suggested solutions, but none worked
- Use 14-alpine version and changing the port number but that didn't work
I have also installed the Postgres pod following this tutorial: https://itnext.io/basic-postgres-database-in-kubernetes-23c7834d91ef . So I was able to start the pod, but this still leaves the problem with the Argo script on https://raw.githubusercontent.

[2022-08-12 07:28] CRASH-Tech commented on #9329
No, I can't.

[2022-08-12 17:12] shbfy commented on #9195
Yes of course I’m happy to once I’ve got it working.

[2022-08-12 17:50] Tolsto commented on #8954
Still experiencing this issue.

[2022-08-12 19:43] terrytangyuan commented on #9336
Could you try the latest version v3.4-rc1?

[2022-08-12 19:44] Siebjee commented on #9336
I shall Monday 👍🏼, have a busy weekend ahead of me.

[2022-08-12 22:47] cpendery commented on #9329
@sarabala1979 I'd be happy to contribute support for this feature. Can you assign me?

[2022-08-12 23:24] sarabala1979 commented on #7378
@CIPHERTron are you working this issue?

[2022-08-13 00:29] juliev0 commented on #9329
Thanks for volunteering! Just assigned you

[2022-08-13 04:25] Yh010 commented on #8591
I would like to work on this issue. I am completely new to Kubernetes, could you pls guide me on how to get this issue solved?

[2022-08-13 05:07] #9153 closed

[2022-08-13 05:07] #9128 closed

[2022-08-13 05:07] #6635 closed

[2022-08-13 05:07] #8742 closed

[2022-08-13 05:07] #8653 closed

[2022-08-13 05:07] #8832 closed

[2022-08-13 05:07] #8737 closed

[2022-08-13 05:07] #8926 closed

[2022-08-13 05:07] #8715 closed

[2022-08-13 05:07] #8463 closed

[2022-08-13 05:07] #7633 closed

[2022-08-13 05:07] #9021 closed

[2022-08-13 05:07] #8866 closed

[2022-08-13 14:03] mm-fsai opened #9360 ""Please reduce your request rate" when using withSequence.count: 600 * 5GB saved to S3"
I am using v3.3.8

I am using withSequence.count: 600. Each pod does some processing and then tries to save about 5GB to S3 (at roughly the same time).

About 30.5% of the 600 pods fail to complete. The wait container responds with the error message level=fatal msg="timed out waiting for the condition: failed to put directory: Please reduce your request rate."

The wait container does not seem to

[2022-08-14 16:03] AbdAlRahman-Odeh-99 commented on #9323
I managed to run the Argo server by using MySQL as a database instead of Postgres through the following start-up config file https://github.com/argoproj/argo-workflows/blob/master/manifests/quick-start-mysql.yaml. But still don't know the issue with the postgres one and whether I will be able to use it in the future or not.

[2022-08-14 16:30] AbdAlRahman-Odeh-99 opened #9361 "Context Deadline Exceeded error message"
Environment:
- Ubuntu 20.04
- Minikube: 1.26.1
- Kubernetes Version: 1.24.3
- Docker: 20.10.17
Issue:
- I am trying to run my workflow, but the pod won't start and gives me ErrImagePull and ImagePullBackOff when trying to pull "reanahub/reana-demo-bsm-search" image. I have tried pulling it locally and it was pulled successfully, so the image actually exists.
- The error message is: ```Failed to pu

[2022-08-14 18:21] basanthjenuhb commented on #9312
Its a hard problem,
Reason being, when we use NAMESPACE DELEGATION feature, you are logged in using an account in argo namespace,
But you can perform an operation in any namespace using an account present in that account.

To show available namespaces,
I would have to loop over all namespaces, then each account in that namespace, and see if any account can be used.
Not sure how fast would this be

[2022-08-14 22:42] bengoldenberg commented on #9224
we also need solution for this issue

[2022-08-15 03:37] juliev0 commented on #9323
I’m glad to hear. Thanks for trying that work around.

[2022-08-15 04:11] sarabala1979 commented on #9224
@bengoldenberg Can you provide your usecase? The above use case considers a user error.
@corneredrat are you looking on this issue?

[2022-08-15 05:30] sarabala1979 commented on #9360
@mm-fsai Can you provide the wait container logs?

[2022-08-15 07:54] AbdAlRahman-Odeh-99 commented on #9323
Sure @juliev0  you're welcome. Actually after I solved this issue I ran into another issue with running my workflow that is available at https://github.com/argoproj/argo-workflows/issues/9361. I would appreciate if you look into it.

[2022-08-15 13:56] ezk84 opened #9363 "Panic on nill pointer when running a workflow with restricted parallelism"
## Checklist

* [✔] Double-checked my configuration.
* [✔] Tested using the latest version.
* [✔] Used the Emissary executor.

## Summary

Running a workflow with mutliple parallel steps, where the `parallelism` flag is set lower than the number of parallel steps.

What happened/what you expected to happen?
A nill pointer dereference panic is thrown by the workflow controller.
Expected the tasks r

[2022-08-15 14:18] sarabala1979 commented on #9027
Here the one more test case
https://github.com/argoproj/argo-workflows/runs/7816710269?check_suite_focus=true
FAIL: TestCLISuite/TestLogProblems (27.56s)
=== RUN   TestCLISuite/TestLogProblems
Submitting workflow  log-problems-
Waiting 1m0s for workflow metadata.name=log-problems-4d4nk
 ? log-problems-4d4nk Workflow 0s

 ● log-problems-4d4nk   Workflow  0s
 └ ● [0]                StepGroup 0s
 └ ●

[2022-08-15 14:25] sarabala1979 commented on #9361
@AbdAlRahman-Odeh-99 looks like your cluster is not able to pull `reanahub/reana-demo-bsm-search` Can you just create test pod with this image to check whether it is able to pull it?  Do you have duration or activedeadlineSeconds on your workflow?

[2022-08-15 14:34] juliev0 commented on #9323
Unfortunately, I’m on vacation all this week but I see my colleague has replied.

[2022-08-15 15:42] AbdAlRahman-Odeh-99 commented on #9361
Thank you @sarabala1979 for looking into this.

I have created a test pod as following which runs into the same error, furthermore I haven't specified a duration for it:
[code]

[2022-08-15 16:29] Kyle-Wong commented on #9320
I was able to reproduce the issue on 3.3 release.

[2022-08-15 19:54] terrytangyuan commented on #9320
Yeah it should still be a problem. Please submit a PR and we'll review.

[2022-08-15 20:02] #9271 closed

[2022-08-15 22:39] tooptoop4 commented on #9137
@sandeepitachi what prevents a user going into the Argo Workflows UI and submitting a new workflow yaml that has another team's serviceAccoutName and namespace in it? ie https://github.com/argoproj/argo-workflows/blob/147730d49090348e09027182dcd3339654993f41/examples/cron-backfill.yaml#L51

[2022-08-16 03:56] corneredrat commented on #9224
Hi @sarabala1979  I have started looking into the issue.

[2022-08-16 08:30] DjokerR opened #9366 "why workflow duration is not equal to the accumulation of steps or dag"
# Summary

What change needs making?

# Use Cases
argo: v3.3.8
kubernetes: v1.22.2
When would you use this?
![image](https://user-images.githubusercontent.com/32182717/184834369-09199c2d-4ca2-432e-8ac6-c828fad57609.png)
![image](https://user-images.githubusercontent.com/32182717/184834456-a2599bf7-016b-4808-ac8b-31588c6352aa.png)
![image](https://user-images.githubusercontent.com/32182717/18483452

[2022-08-16 09:24] RoryDoherty commented on #9179
Issue still exists

@sarabala1979 do you think my above proposal for an update to argoexec is acceptable?

[2022-08-16 09:26] RoryDoherty commented on #8832
This issue still exists

[2022-08-16 09:49] Izvi-digibank opened #9367 "input parameter value condition doesn't work as expected"
Argo workflows v3.3.6

Hi all,

I wrote a template with input parameter named `image`. The value of `image` is depended on `buildcntr`, which arrives from a previous template (`templateRef`).

[code]

For some reason the value of `image` always go to the else condition ("snyk/snyk:gradle-jdk11"), even when the condition is true (i.e `buildcntr == 'default-image:0.0.1' ? 'snyk/snyk:gradle-6.4-jdk14

[2022-08-16 10:09] frimuchkov opened #9368 "Invalid memory address or nil pointer dereference"
Hi!

We caught nil pointer error twice (withing 2 seconds interval). I'm not sure it's possible to reproduce this bugl, but can you catch this error and add more logs or retry?

First:
[code]

Second:
[code]

[2022-08-16 11:06] ezk84 commented on #9153
This is not completed and still an issue.

[2022-08-16 13:27] mhehle commented on #9153
the commit [961f731](https://github.com/argoproj/argo-workflows/commit/961f731b7e9cb60490dd763a394893154c0b3c60) with the fix was only picked for 3.3.9 release. So this issue should be reolved since 3.3.9.

CherryPick list for 3.3.9
https://github.com/argoproj/argo-workflows/issues/9262

[2022-08-16 14:22] ezk84 opened #9370 "Enhanced depends logic: Convenience definition isn't entirely convenient"
## Checklist

* [✅] Double-checked my configuration.
* [✅] Tested using the latest version.
* [✅] Used the Emissary executor.

## Summary

In [Enhanced Depends Logic](https://argoproj.github.io/argo-workflows/enhanced-depends-logic/) we see the following text:

This is confusing, but what it effectively means is that when I write `depends: A` that is equivalent to `depends: (A.Succeeded || A.Skipp

[2022-08-16 14:27] tooptoop4 commented on #9137
when you say "your service account" do you mean my personal user from IDP is somehow being restricted to only use a particular serviceaccount or namespace? I'm not sure where that restriction happens otherwise I could just reference someone else's serviceaccount and namespace in the yaml

[2022-08-16 14:33] sandeepitachi commented on #9137
Yes. You could verify your service account on the user info tab on Argo workflows UI. Users are binded to the service account

[2022-08-16 16:42] terrytangyuan opened #9371 "Blank workflow info page once submitted through the UI"
## Summary

What happened/what you expected to happen?

The workflow information page is bank after I clicked submit through the UI.

What version are you running?

3.4-rc1

## Diagnostics

See the gif below.
![Screen Recording 2022-08-15 at 3 33 41 PM](https://user-images.githubusercontent.com/4269898/184933411-34780768-bb8f-4d93-bcf2-f3b4fc0e5404.gif)

---

**Message from the maintainers**:

Imp

[2022-08-16 16:44] terrytangyuan commented on #9371
Console logs:
![image](https://user-images.githubusercontent.com/4269898/184933776-7444c5ec-00ca-4913-865f-2cdb92ad6e5a.png)
@juliev0 Seems like related to the artifactGC change.

[2022-08-16 16:49] brianloss commented on #9344
Does the implementation of this boil down to implementing the Delete method for the artifact driver? If so, then this is already implemented for Azure: https://github.com/argoproj/argo-workflows/blob/master/workflow/artifacts/azure/azure.go#L311

I have done some sniff testing with https://github.com/argoproj/argo-workflows/blob/master/examples/artifact-gc-workflow.yaml and it appears to be doing

[2022-08-16 17:02] juliev0 commented on #9371
@dpadhiar Since I’m out can you take a look at this if you have bandwidth?

[2022-08-16 17:03] dpadhiar commented on #9371
@juliev0 Yes.

[2022-08-16 17:16] terrytangyuan commented on #9337
This would be a breaking change. We want to improve the docs in the meantime.

[2022-08-16 17:29] terrytangyuan commented on #8762
Since there hasn't been any progress from @alok1929. @mbtamuli Feel free to work on it.

[2022-08-16 17:30] juliev0 commented on #9344
Cool. I should’ve looked to see if any were implemented rather than relying on heresay. Thanks for saying. We can close then.

[2022-08-16 17:30] #9344 closed

[2022-08-16 17:30] terrytangyuan commented on #8702
Removing assignee as there hasn't been any progress. Feel free to update here if you are still working on it.

[2022-08-16 17:31] terrytangyuan commented on #8591
Removing assignee as there hasn't been any progress. Feel free to update here if you are still working on it.

[2022-08-16 17:31] terrytangyuan commented on #8591
You'll need to be familiar with Kubernetes.

[2022-08-16 17:31] terrytangyuan commented on #7816
Removing assignee as there hasn't been any progress. Feel free to update here if you are still working on it.

[2022-08-16 17:41] alexec opened #9372 "v3.4: Icons in Workflow DAG are missing or broken in UI in Chrome"
In Chrome, I don't see icons for completed workflows (i.e. the green tick):

<img width="301" alt="image" src="https://user-images.githubusercontent.com/1142830/184943963-29f333e8-5a23-4aea-bab0-93fe04a74cfe.png">

This is not a blocker, because you can still run workflows. It should be fixed rather than back-burnened, because it makes the product look amateurish.

[2022-08-16 17:42] alexec opened #9373 "DAG Icons appear as boxes in Safari"
Only an annoyance, you can use Chrome instead.

<img width="182" alt="image" src="https://user-images.githubusercontent.com/1142830/184944337-b171117c-fa31-4923-ac83-f46e6a2022bf.png">

Might be related to #9372.

[2022-08-16 17:44] alexec opened #9374 "v3.4: Artifact Visualtions take 10s-30s to load"
I'm running this in local dev. It should load instantly, but takes anywhere between 10s and 30s.

I am using my iPhone for Internet. Maybe that is problem I need to retry on Wifi.

[2022-08-16 18:31] lxlxok opened #9376 "Support read RDS secret from file"
# Summary

Argo workflow read [MYSQL secret ](https://github.com/argoproj/argo-workflows/blob/master/manifests/quick-start/mysql/argo-mysql-config-secret.yaml) through [k8s API call](https://github.com/argoproj/argo-workflows/blob/master/persist/sqldb/sqldb.go#L43) instead of a file, which can be mounted to the pod through secret volume or emptyDir volume(injected by vault).

What change needs mak

[2022-08-16 19:28] terrytangyuan commented on #9371
I am fixing this in https://github.com/argoproj/argo-workflows/pull/9377.

[2022-08-16 19:49] alexec commented on #9374
Not actually a problem.

[2022-08-16 19:49] #9374 closed

[2022-08-16 20:40] alexec opened #9379 "Increase CI test timeout"
Test are timing out after 7m. Increase to 10m.

[2022-08-16 20:43] #9315 closed

[2022-08-16 20:49] #9371 closed

[2022-08-16 20:51] alexec commented on #9379
Wrong solution. Problem appears to be that caches have become large.

[2022-08-16 21:07] bencompton commented on #8529
I'm seeing this issue, and I also notice when bringing up the logs for the hook that the logs UI continuously appends the same logs to the displayed log output every second. Closing the logs window and re-opening it clears the logs and then starts continuously appending the same logs once again.

[2022-08-16 21:42] alexec commented on #9379
https://stackoverflow.com/questions/63521430/clear-cache-in-github-actions

env GH_REPO=argoproj/argo-workflows gh api /repos/$GH_REPO/actions/caches --jq '.actions_caches[].id' | while read ID; do gh api --method DELETE /repos/$GH_REPO/actions/caches/$ID --silent ; done

[2022-08-16 23:08] #9372 closed

[2022-08-16 23:08] #9373 closed

[2022-08-17 01:59] chenjunyu0103 opened #9384 "argo依赖问题"
你好，从官方给出的goland的argo的客户端，这个依赖k8s的open-api的ref地址还是老地址，这个问题算是一个bug吗？
![image](https://user-images.githubusercontent.com/72799872/185017789-dad5cf31-08d7-45bc-b50f-a887e0832949.png)
![image](https://user-images.githubusercontent.com/72799872/185017924-ca353fcb-9fcd-47c4-b1fe-ff81e7fabe38.png)

[2022-08-17 03:53] amosaini commented on #9117
We upgraded the platform to kubeflow 1.5. It is working there. thnx

[2022-08-17 03:53] #9117 closed

[2022-08-17 05:10] jamesgoodhouse commented on #5506
I'm unsure the reason Argo can't load secrets like this, but I suspect it was an intentional decision to limit Argo from accessing secrets directly. I just load the secret name into my workflows and pass it down to the container that needs it, and have it be "responsible" for getting the value from the secret.

[2022-08-17 07:39] JessieTeng89 commented on #9379
@alexec Can I try to work on this issue if possible?
I am very appreciate it if you could provide more information to fix it

[2022-08-17 08:29] Siebjee commented on #9336
Sorry for the delay @terrytangyuan , But i hit the same error with `3.4.0-rc1`

[code]

[2022-08-17 08:33] lubegaroo commented on #7698
+1 We'd  also like to use the task/step name as a metric label. We were hoping to configure it as a Workflow Default, but there's no `{{steps.<STEP_NAME>}}` or `{{tasks.<TASK_NAME>}}` we can leverage

[2022-08-17 09:06] tu-maurice commented on #9312
That would be the namespace where I installed argo to, right? Not one of the dedicated namespaces I created for workflows to run. Either way I'm having trouble updating to v3.4.0-rc1 so I can't try it out currently, but that's not a topic for this issue.

[2022-08-17 10:11] thinkhoon commented on #9384
大哥，argo又不是中国人维护的，你发中文有咩用

[2022-08-17 10:43] bengoldenberg commented on #9224
when someone create incorrect workflow template structure, the argo ui doesnt show any option to select, and throw a http request error.

[2022-08-17 10:45] ramanNarasimhan77 commented on #3080
@sid8489  I do not have a resolution for this issue. We still have this issue in our argo installation as it is behind a bunch of proxies

[2022-08-17 11:56] terrytangyuan commented on #9384
Please use English and fill in the issue template. Thanks.

[2022-08-17 11:56] #9384 closed

[2022-08-17 12:16] jackivanov commented on #8529
We're seeing the same behavior for `workflow.status == "Failed"`

[2022-08-17 12:57] gpanagiotidis commented on #8746
This issue doesn't affect only GCS. I have this issue using S3.

[2022-08-17 14:37] #9363 closed

[2022-08-17 15:20] maxisam commented on #5832
I have the same issue.
https://argoproj.github.io/argo-workflows/argo-server-sso/#sso-rbac

If I add `groups` as example code, it doesn't work and throw the error message. If I remove it, it works as expected

[2022-08-17 16:18] alexec commented on #9379
This issue does not need to be worked on. The actual problem was that the Github Actions cache got very big and took too long to upload/download. I deleted the caches using the command above.

[2022-08-17 16:18] #9379 closed

[2022-08-17 16:38] bencompton opened #9386 "Hooks defined in Workflow Controller `workflowTemplates` cause every workflow to fail"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

### What happened/what you expected to happen?

Any hook defined in the Workflow Controller ConfigMap under `workflowTemplates` causes workflows to fail with `Workflow Operation Error` and the error showing in the Workflow Controller logs is `Unable to set Exec

[2022-08-18 14:22] heyleke commented on #9268
As per https://github.com/kubernetes/kubernetes/issues/106419#issuecomment-1005081791 , "All controllers must be resilient to nodes rejecting pods.", so would the enhancement be to not rely on the retryStrategy and have a dedicated re-schedule strategy?

Also linking the 'intentional design' explanation link: https://github.com/kubernetes/kubernetes/issues/106884#issuecomment-1005074672

[2022-08-18 15:41] pwgreco commented on #7385
Having the same issue but when using retryStrategy on a step that uses withParam.

[2022-08-18 17:04] #9320 closed

[2022-08-18 17:25] alexec opened #9391 "v3.4: clicking on input arifact in UI crashes UI"
1. Run the `artifact-workflowtemplate.yaml`.
2. Click on the "annual.csv" input artifacts.
3.See `undefined is not an object (evaluating 'Y.find((function(e){return e.name===x.name})).artifactGC')` error.

Clicking "Reload the page" fixes the issue.

I think it must be this:

https://github.com/argoproj/argo-workflows/blob/b356cb503863da43c0cc5e1fe667ebf602cb5354/ui/src/app/workflows/components/wo

[2022-08-18 18:46] chrispsplash commented on #7472
I have updated to the latest Argo Workflows and this is still broken 😅 (side note, i added a small tweak to the demo workflow to support emissary executor)

[2022-08-18 18:54] #7366 closed

[2022-08-18 19:44] terrytangyuan commented on #9391
We had the same issue and went ahead and fixed (different from what you suggested) to make it to the next release candidate today. https://github.com/argoproj/argo-workflows/pull/9392

[2022-08-18 20:21] #9391 closed

[2022-08-18 20:22] wreed4 opened #9393 "Some resources cannot use success/failure conditions at all due to bug in UnsafeGuessKindToResource"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

Due to this bug https://github.com/kubernetes/client-go/issues/1082
And the usage of this function here: https://github.com/argoproj/argo-workflows/blob/74cdf5d870cc4d0b5576e6d78da7a6fde6a1be99/workflow/executor/resource.go#L80
certain custom resources will get

[2022-08-18 20:50] sarabala1979 commented on #9361
@AbdAlRahman-Odeh-99 did you push `reanahub/reana-demo-bsm-search`  to docker  repo? `reanahub/reana-demo-bsm-search` is not available on your minikube

[2022-08-18 20:57] terrytangyuan commented on #9393
I don't think there's any better way than `UnsafeGuessKindToResource` to can do this. This should be a bug in client-go instead.

[2022-08-19 00:19] jli commented on #5398
My ideal `failFast` behavior is: the workflow should retry tasks that have retryStrategy set, but once all retries are exhausted, the workflow should stop scheduling other tasks and fail.

I'm on Argo 3.1, and I can't get this behavior. Is it possible, or is it expected that this doesn't work?

I tried the following permutations:
- by default without any explicit configuration, my workflows don't

[2022-08-19 05:04] mashriram commented on #8899
Can we use **killercoda** as a solution
as we can directly **migrate katacoda  projects** without starting from scratch

**the link attached below is the about page of their official website**
https://killercoda.com/about

**this link below shows an example  of kubernetes-dashboard running from killercoda**
https://killercoda.com/kubernetes/scenario/kubernetes-dashboard
`_Follow the steps mentione

[2022-08-19 05:14] mashriram commented on #8899
Im interested in working on this particular issue

[2022-08-19 05:59] jsvk opened #9394 "Can't use `/` in mutex name"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

I tried to use a mutex with a `/` character in the name. This results in this (truncated):

[code]

The Workflow never starts.

What version are you running?

Argo Workflows 3.3.8

## Diagnostics

Paste the smallest w

[2022-08-19 06:19] jsvk opened #9395 "Can't use template interpolation in mutex name in DAG"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

Related merged PR: https://github.com/argoproj/argo-workflows/pull/3957

What happened/what you expected to happen?

As a workaround for this issue: https://github.com/argoproj/argo-workflows/issues/9394, we tried using a sprig function to replace the slash in

[2022-08-19 07:29] deepaksinghvi commented on #8253
@AvasDream after converting to base64, did it work for you?
I tried **base64.StdEncoding.EncodeToString(bytesInput)** and it did not work, getting error **"resource.manifest must be a valid yaml"**

[2022-08-19 09:16] AbdAlRahman-Odeh-99 commented on #9361
@sarabala1979
```reanahub/reana-demo-bsm-search``` is available at DockerHub, so will I need to push it?
If yes, can you provide me with the steps to do so?

[2022-08-19 10:19] AbdAlRahman-Odeh-99 commented on #9361
@sarabala1979
Ok, I got it.
I performed ```minikube image pull reanahub/reana-demo-bsm-search```, submitted the workflow and now it works fine.
Thank you so much for your help

[2022-08-19 10:19] #9361 closed

[2022-08-19 11:16] wreed4 commented on #9393
an optional field could be provided to specify the plural explicitly on the `resource` template as a workaround.  That seems like a simple option that would be fairly easy to ignore in future versions if/when this bug gets fixed.

Alternatively, and this might be extreme, the plural is stored on the CRD.  That could be looked up and parsed.  That feels pretty hacky though.

[2022-08-19 11:28] wreed4 commented on #9393
This seems like another reasonable work around

https://github.com/kubernetes/kubernetes/pull/110053#issuecomment-1132255277

[2022-08-19 12:00] wreed4 commented on #9393
Threw up a test PR.  Seems to work locally. https://github.com/argoproj/argo-workflows/pull/9396

[2022-08-19 12:02] jkldrr commented on #9148
Version 3.3.9 solves the issue for me.

[2022-08-19 15:23] tim-sendible opened #9398 "Diminish the use of quickstart manifests to improve first-time user experience"
# Summary

The Argo Workflows quickstart manifests are referenced heavily within the Argo Workflows documentation. It is highly likely that the first experience of Argo Workflows to newcomers will be via these quickstart manifests. (Note, for the purpose of this document, “Quick Start” refers to anything in the argo/manifests directory on github.)

These manifests rely on referencing the `latest`

[2022-08-19 15:41] caelan-io commented on #9398
I agree with this suggestion. If we can direct more users to the release manifests, they should have a smoother first-time experience based on a stable release.

Here are some recent specific examples of where the Quick Start manifests confused users and led them to post in Slack:
- https://cloud-native.slack.com/archives/C01QW9QSSSK/p1660203791944519
- https://cloud-native.slack.com/archives/C01Q

[2022-08-19 16:59] caelan-io commented on #8899
Thanks, @mashriram. Yes, I have been testing Killercoda and Instruqt with a couple other contributors, and we plan to have an update posted within 4-6 weeks about a new course for the community to try out and provide feedback.

[2022-08-20 06:19] mbtamuli commented on #8762
Thanks @terrytangyuan. I created PR - https://github.com/argoproj/argo-workflows/pull/9400

[2022-08-21 14:20] Izvi-digibank commented on #9367
Any help here guys ?

[2022-08-21 16:45] corneredrat commented on #9224
Hi @sarabala1979 , in controller - steps.go [link](https://github.com/argoproj/argo-workflows/blob/master/workflow/controller/steps.go#L247) will adding following logic suffice to stop infinite loop?
[code]

This is what I get from first go-through of code; Please suggest a better alternative that would cover all usecases that may endup putting the workflow in infinite loop

[2022-08-22 04:29] sarabala1979 commented on #9394
This is not a bug. this was by design. I saw your PR for enhancing. Thanks for contributing

[2022-08-22 04:31] jsvk commented on #9394
gottcha, apologies for the incorrect labeling!

[2022-08-22 04:35] sarabala1979 commented on #9328
@dacamposol thanks for your response. Are you using `emissary` executor or other?

[2022-08-22 17:14] #9277 closed

[2022-08-22 17:21] #9024 closed

[2022-08-22 17:28] sarahhenkens commented on #9259
Still pending

[2022-08-22 23:55] #9368 closed

[2022-08-22 23:55] #9336 closed

[2022-08-23 04:50] #9195 closed

[2022-08-23 12:47] HRusby opened #9415 "Argo-Exec V3.3.9 is recognising a failure exit code as exitCode 0"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
Dotnet console app running in Argo, Exception occurs and container terminates. Argo recognises this as Success in version 3.3.9. In previous versions v3.3.7 and v3.3.8 Argo correctly recognises this as a failure. Note

[2022-08-23 12:57] AndriySidliarskiy opened #9416 "How run docker in workflow?"
Previously i run step with docker image for build docker image in container. And have error` ERROR: Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?` How fix this?
MY CONFIGURATION
[code]

[2022-08-23 13:21] ghost opened #9417 "mutex synchronization does not preserve spec.workflowMetadata"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version. (v3.3.9)
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
created a `WorkflowTemplate` with some mutex value. Workflows that are in a pending state  (waiting for the mutex) lose their labels which were defined under `workflowMetadata.labels`.

[code]

To reproduce:
s

[2022-08-23 14:31] terrytangyuan commented on #9416
Closing since this is unrelated to workflows but a general question to Docker.

[2022-08-23 14:31] #9416 closed

[2022-08-23 14:39] sarabala1979 commented on #9417
@Nizar-opt fixed in https://github.com/argoproj/argo-workflows/pull/8907. We are in process of releasing v3.4. Can you try on v3.4-rc2?

[2022-08-23 14:43] sarabala1979 commented on #9415
@HRusby I can see your main container is exit with exit code=0.
[code]

[2022-08-23 14:49] tomjo opened #9418 "Resource template with action delete now requires manifest or manifestFrom"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

**What happened/what you expected to happen?**

Trying to run following example: https://github.com/argoproj/argo-workflows/blob/master/examples/resource-delete-with-flags.yaml

It fails with:  Internal Server Error: templates.main.steps[1].delete-resource eith

[2022-08-23 15:02] HRusby commented on #9415
@sarabala1979 That is correct, however running the container locally results in a non-zero exit code, as per my summary the issue here is that argo is recognising a zero exit code when the image is outputting a non-zero exit code. I'll be uploading a docker image that displays this behaviour this evening (I'm currently blocked from doing so due to a proxy network). I appreciate it may be difficult

[2022-08-23 15:14] terrytangyuan commented on #9418
Thanks for reporting! This should be fixed via https://github.com/argoproj/argo-workflows/pull/9419.

[2022-08-23 15:27] #8762 closed

[2022-08-23 15:31] sarabala1979 commented on #9259
@sarahhenkens Do you like to submit the PR for the above change?

[2022-08-23 17:16] sarabala1979 commented on #9415
@HRusby Argo-Exec won't do anything for the main container's exit-code. if the container exit with a different code, k8s will update on pod spec.
Just trying to understand more clearly:
Is the workflow status successful instead of failed?
Are you using `exit-code` on another step?

I tried below workflow and not able to reproduce it
[code]

pod spec
[code]

[2022-08-23 17:41] HRusby commented on #9415
@sarabala1979 I also tried replicating in both python and bash and couldn't get the same behaviour. This behaviour has changed between V3.3.8 (Argo recognised the exit code and failed) and V3.3.9 (Argo is no longer recognising the exitCode)

Correct

The exit-code is not being used in another step, though we are expecting the step to fail when the container does not succeed.

I've now updated the

[2022-08-23 17:48] sarabala1979 commented on #9367
@Izvi-digibank can you upgrade to v3.3? v2.x is not being supported

[2022-08-23 21:43] RossComputerGuy commented on #3080
I'm having the same issue, using [this file](https://github.com/RossComputerGuy/kluster/blob/522c028836b7ef23b1c7d61e0aa8bca429ba3e90/kubernetes-apps/apps/argo-workflows/values.yaml) for my configuration.

[2022-08-23 22:25] Transmitt0r commented on #5235
@mmckane yes please reopen this issue

[2022-08-24 08:05] Izvi-digibank commented on #9367
@sarabala1979 Thanks. My current is v3.3.6, doesn't seem to work.

[2022-08-24 09:01] HRusby commented on #9415
Looking at the PRs for V3.3.9 the suspicion at the moment is that this problem was introduced in [this commit](https://github.com/argoproj/argo-workflows/commit/e4dca01f1a76cefb7cae944ba0c4e54bc0aec427). Specifically in [main.go](https://github.com/argoproj/argo-workflows/commit/e4dca01f1a76cefb7cae944ba0c4e54bc0aec427#diff-6b3f7133328faebcaa6f5ae3e1055d60708228611d29c30531fa2e2afe49fdef) I can se

[2022-08-24 09:14] linke-autra commented on #9415
I've got the same problem.

[2022-08-24 12:57] Nizar-opt commented on #9417
@sarabala1979 Thanks, it worked on v3.4.0-rc2. However, `argo-server` and `workflow-controller` keep complaining about some values in the controller-configmap.
[code]

Are there any breaking changes related to that?

[2022-08-24 14:54] dacamposol commented on #9328
Thank you for checking the issue so fast.

I'm using `emissary`.

[2022-08-24 16:20] sarabala1979 commented on #9417
There is no breaking change on this spec. Can you share your Argo server/workflow controller version and K8s version?

[2022-08-24 16:22] sarabala1979 commented on #9415
@HRusby @linke-autra looks like windows container specific. can you share the container?
@HRusby  can you quickly try creating pods for your container and evaluate the pod status?
@linke-autra are you also using windows container?

[2022-08-24 16:33] sarabala1979 commented on #8911
@DiegoFlop are you working on it?  Can I get ETA for this?

[2022-08-24 16:36] HRusby commented on #9415
@sarabala1979 The container is hrusby/dotnet-immediate-exception:1.0.0 (the original post was edited to include this last night).

I've run the pod locally via `docker run hrusby/dotnet-immediate-exception:1.0.0` . Results of `docker inspect` are below
I believe the relevant section is:
[code]

<details>
<summary>Result of docker inspect</summary>

[code]
</details>

[2022-08-24 16:44] HRusby commented on #9415
And doing the same thing in kubernetes via
`kubectl run --image hrusby/dotnet-immediate-exception:1.0.0 --restart=Never immediate-exception-test`
The results of `kubectl get pod immediate-exception-test -o yaml`
are:
<details>
<summary>Results</summary>

[code]
</details>

[2022-08-24 16:53] sarabala1979 commented on #8827
@RoryDoherty  This is by design this is not a bug. Script Template is using `v1.container` spec. if v1.container will accept the array of EnvVar.
We can enhance the controller to parse the JSON and convert []envVar.

[2022-08-24 18:42] #9418 closed

[2022-08-24 19:11] RoryDoherty commented on #8827
Thanks @sarabala1979 , I had seen a similar snippet in a slack thread as a working example in an earlier release which is why I opened it as a bug!
I'm happy for it to be converted to an enhancement though, if you want to point me in the right direction of where the processing is I'd be happy to take a crack at it

[2022-08-24 19:11] jmeridth opened #9424 "MetricsError: unable to compute workflow.status in metrics block with 'when' clause"
Related to #8939

## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

Expected:

Conditional metrics based on workflow status work with usage of a `when` clause

Actual:

Received following error

[code]

What version are you running?

v3.3.9

## Diagnostics

Paste the

[2022-08-24 19:12] jmeridth commented on #9424
Fully aware that `PRs are welcome` but wanted to put this here and ping @dpadhiar to gauge my situation.  Thanks. :smile:

[2022-08-24 20:15] sarabala1979 commented on #9415
@HRusby Thanks for your response. this will eliminate a few doubts. I will try to reproduce with your image

[2022-08-24 21:19] dpadhiar commented on #9424
@jmeridth I ran your workflow and it completed. Where are you seeing the error and is this the same behavior?

[2022-08-24 21:44] cjyar opened #9425 "retryStrategy when not all fields are specified"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

When `retryStrategy` doesn't have all its fields set, Argo's behavior doesn't seem consistent with the settings.

What version are you running?

3.3.9

## Diagnostics

These minimal Workflows test the combinations tha

[2022-08-25 00:46] tooptoop4 commented on #9325
on the argocd side i guess you use appProject to map between which git repos can use which namespaces ie https://github.com/argoproj/argo-cd/blob/v2.4.11/docs/operator-manual/project.yaml#L15-L19

[2022-08-25 02:25] juliev0 commented on #9425
Looks like some good investigation, but just trying to understand the chart:
1. where you have "yes" and "X" together, does that mean your result was "yes" but it was the result you didn't expect?
2. where you have "no, but created Retry node" should there be a red "X" next to it?

[2022-08-25 05:07] omriarieli opened #9429 "GCS Directory output Artifact Visualization"
What happened/what you expected to happen?
Trying to display mochawesome tests report on the UI using a folder in a gcs bucket [Through Native GCS APIs](https://argoproj.github.io/argo-workflows/configure-artifact-repository/#through-native-gcs-apis) the [documentation](https://argoproj.github.io/argo-workflows/artifact-visualization/#directory) states "To view a directory, add a trailing-slash",

[2022-08-25 08:01] tim-sendible opened #9432 "containerRuntimeExecutor usage needs clarifying before 3.4 release"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

[This page](https://argoproj.github.io/argo-workflows/workflow-executors/) of the documentation advises users to use the `containerRuntimeExecutor` value in the configmap.

This value has been removed in 3.4.

No other alternative is documented. The example con

[2022-08-25 08:03] tim-sendible commented on #9432
`containerRuntimeExecutors` has the exact same issue. No documentation explaining what I can do instead.

[2022-08-25 08:09] tim-sendible opened #9433 "3.4rc2 - Archived Workflows are left-aligned"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
Upgraded from 3.3.9 to 3.4rc2 and the archived workflows are now all left-aligned and hard to navigate as a result. I couldn't really give you a detailed screenshot, but I hope you get the idea:
![image](https://user-i

[2022-08-25 08:12] Nizar-opt commented on #9417
I faced this issue after upgrading to v3.4.0-rc2.
K8s version: 1.22.10-gke.600

[2022-08-25 08:14] tim-sendible commented on #5824
Just to confirm, I tested and it's working in 3.4-rc2

[2022-08-25 08:50] tim-sendible opened #9434 "3.4-rc2 - Workflows UI can no longer get logs (s3)"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary
This occurs following an upgrade from workflows 3.3.9 to 3.4-rc2.

Logs are still correctly sent to s3 by argo workflows, I can see main.log in s3 and the contents of the log file are correct.

However, once the workflow has finished the pod has been archived, t

[2022-08-25 09:10] tim-sendible commented on #9434
I rolled back to 3.3.9 just to be sure, and the logs for the same workflow immediately just worked.

[2022-08-25 09:13] tim-sendible opened #9435 "3.4-rc2 - Links defined in configmaps have changed (so are broken)"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

Insert the following into your workflow configmap:

[code]

On Workflows 3.3.9, when the link is clicked, this correctly renders as:
`https://grafana.mycompany.bizt/explore?orgId=1&amp;left=%7B%22datasource%22:%22Loki%22,%22queries%22:%5B%7B%22refId%22:%22A%22,

[2022-08-25 10:17] ezk84 commented on #8529
This has been affecting our team also. Seems like a fix is in, thanks @sarabala1979. Will it make 3.4?

[2022-08-25 11:18] omriarieli commented on #9429
also tried to [use S3 API](https://argoproj.github.io/argo-workflows/configure-artifact-repository/#use-s3-apis) with interoperability and hmac keys when clicking on the report link i see na error:
[code]

[2022-08-25 11:36] yavulan commented on #8954
@sarabala1979 @terrytangyuan It would be really useful to have this fixed.

My use case is having the exit hook to access and work with STDOUT of each task in dag workflow within a sensor (v3.3.9). And, most probably, this issue is the blocker for me. I'm using the same approach, but in my case the value is not interpolated correctly, so
`print("{{inputs.parameters.message}}")` prints exactly this

[2022-08-25 14:19] terrytangyuan commented on #9432
Thank you! Added in https://github.com/argoproj/argo-workflows/pull/9437.

[2022-08-25 14:21] terrytangyuan commented on #8954
Could you try the most recent release and see if the problem persists?

[2022-08-25 15:02] terrytangyuan commented on #9433
Should be fixed via #9439.

[2022-08-25 15:04] #9432 closed

[2022-08-25 15:37] juliev0 commented on #9434
Sorry, do you mind helping me to find what you're referring to on the UI? (maybe taking a screenshot) I'm not sure where you're referring to when you say "the logs field is now empty in the UI". I'm also not seeing the `Try getting logs from the artifacts` button.

I may have touched the back-end code which is being called, however, which is why I assigned this to myself.

[2022-08-25 18:51] jpdoria opened #9441 "Approval step example from the Intermediate Parameters documentation is giving me an error."
## Summary

What happened/what you expected to happen?

I'm trying to implement the approval step in our workflow by following the simple guide [here](https://argoproj.github.io/argo-workflows/intermediate-inputs/). Unfortunately, it doesn't work as expected.

In the video, it asked for an input, but in my workflow, it didn't so the default `NO` value is not overridden.

Another issue is that afte

[2022-08-25 19:36] navi86 opened #9445 "add resumer details to suspend node"
# Summary
I am trying to add suspend workflow, however, I want to have possibility to look who resumed workflow.

# Use Cases
cicd pipeline, where
1. run tests
2. promote to stage
3. approval step, so if someone press yes, then next stop is executed, otherwise skipped
4. promote to prod

[2022-08-25 21:32] juliev0 commented on #9434
Okay, I didn't see "main logs" but if I click on the Task I see "LOGS" in the Summary Page and from there I see the link to "Try getting logs from the artifacts." I haven't been able to fully duplicate what you're doing yet and am just testing with minio - may need to see if I can use an iKSM environment with ARN.

One question: I see your settings are on controller-config ConfigMap. Do you have a

[2022-08-25 21:34] BhavikaSharma opened #9446 "Emissary Executor Zombie Processes"
## Checklist

* [X] Double-checked my configuration.
* [X] Tested using the latest version.
* [X] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

When restarting a service, it seems that the process is not being cleaned up properly with an emissary container. A zombie process remains, indicated by `<defunct>`.

What version are you running?

Originally v3.3.6 b

[2022-08-25 22:05] juliev0 commented on #9434
I may have just reproduced what you did by not using an artifact-repositories configmap but I'm not sure.

I see the same "Internal Server Error" and same error message in the argo server log. But in my case, I'm not sure if the log was ever written to storage at all. Are you saying that you still see the log in S3 after the Workflow has completed, but it's the Argo Server that's not able to get i

[2022-08-25 22:51] terrytangyuan commented on #9446
@alexec Would you like to take a look at this?

[2022-08-25 23:18] wekinu opened #9447 "explicitly specify the command"
Updated from ver 3.2 to 3.3 workflow template error occurred.
this is workflow template .
'''
    - name: create-postgres
      daemon: true
      container:
        image: postgres
        resources:
          limits:
            cpu: 100m
            memory: 1Gi
        env:
          - name: POSTGRES_USER
            value: postgres
          - name: POSTGRES_PASSWORD
            value: postgre

[2022-08-25 23:41] juliev0 commented on #9434
My mistake that I was able to reproduce. I accidentally had archiveLogs set to false.

[2022-08-25 23:53] terrytangyuan commented on #9447
You need to specify your container command per the error message suggests.

[2022-08-26 09:18] yavulan commented on #8954
In my case the issue still persist with releases 3.3.9 and v3.4.0-rc2

[2022-08-26 12:55] terrytangyuan commented on #8954
@sarabala1979 Could this be fixed by one of your recent commits?

[2022-08-26 15:12] christophercutajar opened #9451 "Argo Workflows UI Crashes when having a misconfigured Sensor"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

A new sensor was deployed with a typo having `argument` instead of `arguments`. When trying to load Argo Workflows UI, the UI was completely stuck highlighting the HTTP error response as be illustrated below:

<img wi

[2022-08-26 15:20] #9398 closed

[2022-08-26 16:02] cklucker-w opened #9454 "Argo-workflows workflow-controller crashing after upgrading from 3.2.x to 3.3.x"
We deploy our argo-workflows workflow-controller using the argoproj's helm chart onto a k8s/eks 1.22 cluster.  After upgrading our chart/app from `argo-workflows-0.9.4    v3.2.6` to `argo-workflows-0.16.9	v3.3.9` (and also tested the same unplanned behavior on `argo-workflows-0.16.7	v3.3.8`) we noticed that our workflow-controller seemed to crash every few minutes when actively processing one of o

[2022-08-26 16:15] terrytangyuan commented on #9454
Could you try v3.4-rc2?

[2022-08-26 16:18] juliev0 commented on #9434
@tim-sendible  I'm looking at your statement: "the logs field is now empty in the UI". Are you referring to this dialogue box?:
![Screen Shot 2022-08-26 at 9 15 50 AM](https://user-images.githubusercontent.com/17830711/186948555-8f9ba57c-130b-499d-b4b9-f038fe8b6ffb.png)
If so, do you mean the text box on the left (pod names) or the text box on the right (container name)?
If this particular behavio

[2022-08-26 16:20] tico24 commented on #9434
No. I mean the logs do not show in the ui (or when you click the artifact). I'm sorry, I'm not sure how much more I can clarify this.

[2022-08-26 16:25] aaronmell opened #9455 "Replace the jsonpath library used with a library that is more fully featured"
# Summary
The current library is missing a bunch of features as compared to several other libraries. It also no longer seems to be actively maintained.

https://cburgmer.github.io/json-path-comparison/

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-08-26 16:52] cjyar commented on #9425
Thanks for your quick reply @juliev0. Yes, I read the doc you linked and also [this](https://argoproj.github.io/argo-workflows/fields/#retrystrategy), which I assume is autogenerated from the source. Now that I reread the issue I submitted, I think there's only one real issue, and a minor nitpick:
1. If `limit` isn't set, then it should be implicitly zero, and no retries should be attempted even i

[2022-08-26 16:54] juliev0 commented on #9434
@tim-sendible / @tico24: okay, so it's just that you can't get to the logs. And my other assumptions related to previous questions are:
1. the logs are in fact in S3 after the Workflow has completed
2. you do not have a ConfigMap called "artifact-repositories"

Please correct if either assumption is wrong

[2022-08-26 16:55] tico24 commented on #9434
Those assumptions are correct (I wrote that in the initial bug description)

[2022-08-26 16:59] juliev0 commented on #9434
Do you have Workflows being archived (`archive` set to true) in your controller configmap? (That code has different logic)

[2022-08-26 17:00] tico24 commented on #9434
Yes. But after 7 days.

[2022-08-26 18:27] juliev0 commented on #9434
Thank you for the information. I have not been able to reproduce this yet. My test - as far as I can tell - is identical to what you've written except for the following differences in my environment:
- using minio as stand-in for S3
- S3.insecure = true (not sure offhand how to configure minio to use TLS)
- no role-arn annotation or fsGroup setting as I'm not testing in AWS directly

I may be able

[2022-08-26 18:29] tico24 commented on #9434
I do distinctly remember seeing /artifact-files in the url if this helps? The rest of the path (from memory) essentially mirrored the path to the file in s3.

I can give you an exact path but not until Tuesday (due to public holidays)

[2022-08-26 18:39] dpadhiar commented on #9415
@HRusby Hello, I was able to reproduce your issue by using your image and workflow. I am seeing exit code 0 on pod and workflow.

@terrytangyuan Could you take a look at this issue as well and see if you can reproduce this?

[2022-08-26 19:31] jamesgoodhouse commented on #5506
why not just pass the secret name in and have the container load the secret? there's no need for argo to load the secret, nor do i think it should.

[2022-08-26 19:37] beejiujitsu commented on #5506
The HTTP Template is a built-in template that doesn't offer container parameters, so what you're suggesting isn't possible.

https://argoproj.github.io/argo-workflows/http-template/

[2022-08-26 19:40] juliev0 commented on #9434
Tuesday would be great! Thank you for your time. If it's at all possible to collect debug-level logs on the Argo Server (up to you) that would be even more helpful, which I believe you should be able to do by adding this to the argo-server Deployment in your container's args: `- --loglevel=DEBUG`

[2022-08-26 19:55] juliev0 commented on #9425
Thanks @cjyar. One question: when limit wasn't set and it did retry, it retried once, right? I think I agree, that "limit" should be implicitly zero and maybe it shouldn't do a retry at all.

Submitting a PR would be great. Thanks!

Adding @simster7 who seems to have written this code who may want to chime in?

[2022-08-27 01:19] cjyar commented on #9425
In all cases when `limit` wasn't set, it retried multiple times. When all 3 `backoff` parameters were set, it only retried 3 times before stopping with `Backoff would exceed max duration limit`. But in the other 2 cases, it retried dozens of times until I stopped it. I haven't tried to reproduce that behavior.

[2022-08-27 03:04] juliev0 commented on #9425
I see, so it kind of sounds like you're saying that when `limit` isn't set (and `maxDuration` isn't set) there is in fact no limit, i.e. infinity. Maybe that's actually reasonable? (and the real issue is unclear documentation) or do you disagree and think it should be 0?

[2022-08-27 06:41] tico24 commented on #9434
3.3.9: `https://argo-workflows.mycompany.biz/artifacts/ci/wl-networking-cron-1661581200/wl-networking-cron-1661581200-4195934545/main-logs`

3.4.0-rc2: `https://argo-workflows.mycompany.biz/artifact-files/ci/workflows/wl-networking-cron-1661581200/wl-networking-cron-1661581200-4195934545/outputs/main-logs`

If I manually go to the 3.3.9 URL while running 3.4.0, I get to the logs.... so the issue i

[2022-08-27 13:42] mbtamuli commented on #2053
@alexec Does the approach mentioned in the issue description, by @KowalczykBartek make sense? Or is there some different approach that should be explored?

I'm taking a look at this issue and am working on a PR.

[2022-08-27 16:02] juliev0 commented on #9434
That's great information. Let me see what I can do with that.

[2022-08-27 19:20] aaronmell opened #9457 "Unable to use input parameter inside jsonpath filter."
## Checklist

* [x] Double-checked my configuration.
* [ ] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
Trying to filter some json based on an input parameter. I was hoping that there would be a way to pass an input parameter to a filter.

ENV1 shows a working example of a jsonpath filter in a workflow, that has the filt

[2022-08-27 20:02] juliev0 commented on #9434
I'm completely flabbergasted that your URL prefixed with "artifacts" works in 3.4 and your URL prefixed with "artifact-files" doesn't.

Both endpoints seem to take the same path:

`ctx, err := a.gateKeeping(r, types.NamespaceHolder(namespace))
if err != nil {
	a.unauthorizedError(w)
	return
}

workflowName := id // wl-networking-cron-1661581200
wf, err = a.getWorkflowAndValidate(ctx, namespace, wo

[2022-08-27 20:04] tico24 commented on #9434
All our workflows are indeed dags.

[2022-08-27 20:06] tico24 commented on #9434
Podnames is still opt-in isn't it? I haven't chosen to enable that yet if that helps?

[2022-08-27 20:19] juliev0 commented on #9434
The default is now POD_NAMES_V2, so you could try setting the environment variable for `POD_NAMES` to `v1`? (that's for both Controller and Argo Server) (see [here](https://argoproj.github.io/argo-workflows/environment-variables/))

Even before that, we could see if this is the issue by inspecting the Workflow's "Status". If you either do a "kubectl get workflow <workflowname> -o yaml" or use the

[2022-08-28 04:02] jmeridth commented on #9424
@dpadhiar this error is occurring in 2 remote environments and also locally with a brand new, clean argo-workflows setup.

NOTE: This is not to say all of our setups are wrong in some way. I'm looking :smile:

On the UI I see the error here:

![Screen Shot 2022-08-27 at 10 57 39 PM](https://user-images.githubusercontent.com/35014/187056732-11e9569a-dc23-4ee0-bf08-f1952fef39ff.png)

and then

![Scr

[2022-08-28 17:55] jsvk opened #9459 "UI hangs when attempting to view Sensor logs if pod has more than one container"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

We're using a Kubernetes mutating webhook to inject a fluent-bit container into certain running pods for the purposes of collecting logs and sending them to Splunk. When attempting to view Sensor logs in the UI, the A

[2022-08-28 23:48] alexec commented on #9446
I’m afraid I do not have bandwidth.

[2022-08-29 08:53] uhlajs opened #9460 "Argo Workflow server does not support slash symbol for label value from workflow"
## Checklist

-  [x] Double-checked my configuration.
-  [x] Tested using the latest version.
-  [x] Used the Emissary executor.

## Summary
What happened/what you expected to happen?
When running modified version of [label-value-from-workflow.yaml](https://github.com/argoproj/argo-workflows/blob/master/examples/label-value-from-workflow.yaml) everything works as expected.

[code]

However, when t

[2022-08-29 08:55] uhlajs commented on #9460
Related #3434.

[2022-08-29 08:59] omriarieli commented on #9429
I realize not tha its on 3.4 only, so i installed v3.4.0-rc2 anf this works only using s3 api not through native gcs api. however my cypress generated html report uses javascript and files stored in the buckets sub folders and is being blocked by the content security policy. will this be configurable in 3.4?

[2022-08-29 09:41] decipher27 opened #9461 "Argo - The server could not find the requested resource (get workflows.argoproj.io)"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

Cluster Configuration:
Eks clusters having 4 spot nodes.

We noticed our workflows are failing due to this error - "Failed to wait for service account secret: timed out waiting for the condition". , this started happe

[2022-08-29 09:48] asfaltboy opened #9462 "Executing workflows in the UI unexpectedly uses the namespace last selected in the UI"
## Checklist

* [x] Double-checked my configuration.
* [ ] Tested using the latest version.  -- looking to upgrade soon
* [x] Used the Emissary executor.

## Summary

The issue can be summarised as 3 distinct behaviours:

1. Executing workflows in the UI unexpectedly uses the namespace last selected in the UI, e.g set by filtering workflow list in the by the namespace field (possibly introduced in

[2022-08-29 14:48] or-shachar commented on #9341
I had the same problem. IIUC the problem is not `pod` but trying to apply multiple manifests in a single file.
The underlying implementation runs `kubectl apply -f $file-o json` and then tries to read the json output, but when the file contains more than one object - the json output is a simple concatenation of multiple jsons.
eg:
[code]

[2022-08-29 15:12] or-shachar opened #9463 "[Feature request] Resource template support for multi-manifest file"
## Summary

What version are you running? latest / 3.3.9

## Diagnostics

- The wonderful Resource Template allows creating objects using inline file or manifest from artifact.
- Sometimes we need to apply multiple objects in the same file using the `---` separator.

I tried to manipulate [the example from the e2e](https://github.com/argoproj/argo-workflows/blob/6106ac7229eeaac9132f8df595b569de2bc

[2022-08-29 15:18] terrytangyuan commented on #9463
This is by design. We only support single-resource manifest.

[2022-08-29 15:42] or-shachar commented on #9463
Probably this is describing the same symptoms as  https://github.com/argoproj/argo-workflows/issues/9341

[2022-08-29 15:46] or-shachar commented on #9463
Thanks @terrytangyuan . I'm guessing this is so we can listen to the applied object status and wait for it.

I wonder can be changed in order to support the multiple objects case though.
[code]

## Workaround
For now my workaround is to simply call `kubectl create` from script Template.

[2022-08-29 15:47] terrytangyuan commented on #9463
I think we discussed this previously. Let's close this and use script template instead.

[2022-08-29 15:47] #9463 closed

[2022-08-29 15:48] terrytangyuan commented on #9341
See https://github.com/argoproj/argo-workflows/issues/9463

[2022-08-29 15:48] #9341 closed

[2022-08-29 17:00] sarabala1979 commented on #9460
@dpadhiar can you do initial triage?

[2022-08-29 17:01] sarabala1979 commented on #9461
@dpadhiar can you do the initial triage?

[2022-08-29 17:01] sarabala1979 commented on #9462
@dpadhiar can you do the initial triage?

[2022-08-29 17:57] tim-sendible commented on #9434
I'm not 100% sure what I'm supposed to be showing you but heres a snippet:

[code]
(note this is a different workflow from the one I tested above.

Also note, setting POD_NAMES to v1 doesn't resolve the issue.