[2022-02-03 15:53] terrytangyuan commented on #7743
Usually, users store results from the steps as artifacts in other storages so you can inspect them from there. It's flexible in terms of the format of the report and how you want to render the report, e.g. static HTML reports or dynamic dashboards like TensorBoard.

It might be useful to allow some HTML/JavaScript templates that are rendered directly in Argo Workflows UI but this would be limited

[2022-02-03 16:43] alexec commented on #5506
I think you mean it is a clone of #6662. I think it might be more difficult. I think we store parameters in the workflows status. But, we should not do this with secrets. I might be wrong. Could you investigate?

[2022-02-03 16:44] alexec commented on #5697
I believe this issue happens because the user interface retries on error. This can happen when you were logged in, then login expires. It is either retrying too often, or should stop if the error is Unauthorised.

[2022-02-03 17:02] sarabala1979 commented on #7739
@jjjjoooo Are you setting creationTimestamp on your object?

[2022-02-03 17:07] alexec commented on #7725
This behaviour seems correct to me. You don't need to use `podSpecPatch` to patch wait container resources. Instead, you can set this it in `configmaps/workflow-controller-configmap`.

[2022-02-03 17:09] alexec commented on #7743
I've thought this would be a neat feature to add. Currently, it is hard to view output artifacts in the user interface. It should be possible to click on them and view them. E.g. in a popup window.

[2022-02-03 17:16] alexec commented on #7742
Runbook:

* You up app https://cd.apps.argoproj.io/applications/argo-workflows
* Login
* Restart argo-server deployment

[2022-02-03 17:16] #7742 closed

[2022-02-03 17:19] jjjjoooo commented on #7739
No. This version(https://github.com/argoproj-labs/argo-java-client) works. It registers` DateTime` type when initialize Gson instance in `JSON `class.

[2022-02-03 17:44] #7683 closed

[2022-02-03 17:51] sarabala1979 commented on #7739
@jjjjoooo Do you like to fix this and submit  PR?

[2022-02-03 17:55] #7672 closed

[2022-02-03 17:55] #7717 closed

[2022-02-03 20:17] terrytangyuan commented on #7743
I agree that this would be a great usability enhancement.

[2022-02-03 21:39] ccfishk commented on #7721
Sure. Will do. Do you mind add the "triange" and remove the "invalid" tag ?

[2022-02-03 22:11] alexec opened #7745 "Suggest going to the archive if workflow not found in UI"
# Summary

If you deep-link into a workflow, but the workflow is deleted you are shown this:

![image](https://user-images.githubusercontent.com/1142830/152437655-c0ebd4c4-03d1-4234-914e-6272e7870e0f.png)

Add a link to the archive to see if it could be found there.

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prior

[2022-02-03 22:35] blkperl commented on #7402
This is being worked on in #7440

[2022-02-03 22:52] alexec commented on #7726
@tyrken this is a CLI problem?

@sarabala1979 can I check my logic here? If you have `wf.Status.StoreWorkflowSpec`, you should use that, otherwise use `wf.Spec`? I wonder if we should add a `wf.GetExecSpec()`?

[2022-02-03 23:09] alexec commented on #7726
@tyrken I think you've found the bug, do you want to fix it? I think we'd benefit from a func named:

[code]

That would return `w.Status.StoredWorkflowSpec` or `w.Spec` and then you could just call that.

[2022-02-03 23:26] sarabala1979 commented on #7726
yes cli should use `wf.GetExecSpec()`

[2022-02-04 07:23] isubasinghe commented on #3102
Note that my GCS deletion related work is present here if someone wants to work on top of that https://github.com/argoproj/argo-workflows/pull/7659/files

[2022-02-04 13:57] Hunter-Thompson opened #7749 "bug(argo-ui): e.TemplateRef is undefined when using inline template"
## Summary

### What happened/what you expected to happen?

When clicking on my workflow name on the argo dashboard, or clicking on the logs button. The UI crashes.

This workflow uses an inline template.

### What version of Argo Workflows are you running?

v3.2.6

## Diagnostics

[Example Inline Template Workflow taken from argo github](https://github.com/argoproj/argo-workflows/blob/master/exam

[2022-02-04 14:27] sylock opened #7750 "Configure a proxy for the docker hub?"
## Summary

Very often now, I get the following error at a step execution:
[code]
Source: oc get events

From my understanding, this image is pulled from the backend code for the sidecars. (because I don't pull myself the argoexec image in the workflow).
We have an artifactory proxy for dockerhub and other docker proxy. Is it possible to configure it at the argo-level?

I'm on Openshift 4.8.28 wit

[2022-02-04 14:39] terrytangyuan commented on #7750
The Argo images are all on quay.io now so you should pull images from there instead of DockerHub, e.g. quay.io/argoproj/argocli:latest

[2022-02-04 15:30] Hunter-Thompson opened #7751 "bug(contributing): make pre commit -b & make start fails"
## Summary

What happened/what you expected to happen?

`make pre-commit -B` should succeed.
`make start API=true` should succeed.

 But im getting errors

## `make pre-commit -B`

[code]

## `make start API=true`

If I remove the `--load-restrictor` flag and run `make start API=true` it still fails.

[code]
[code]
[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍.

[2022-02-04 16:23] sylock commented on #7750
Sure but the point is: I don't defined this image myself in the workflow. So I guess it is done from the argo-controller code and I don't have the hand on it.
- Can you confirm that argoproj/argoexec is automatically pulled from sidecars?
- Is it possible to setup a proxy?

[2022-02-04 16:37] alexec opened #7754 "Submit to Google Summer of Code before Feb 14th"

[2022-02-04 16:39] alexec commented on #7749
@JPZ13 could I please ask you to look into this?

[2022-02-04 16:41] alexec commented on #7751
We use `kubectl kustomize` so can you please let me know what version you are using?

[2022-02-04 16:44] #7129 closed

[2022-02-04 16:47] JPZ13 commented on #7749
@alexec For sure

[2022-02-04 16:49] Hunter-Thompson commented on #7751
[code]

The install:

[code]

[2022-02-04 17:02] #7682 closed

[2022-02-04 17:06] louisblin opened #7755 "Incompatibility with PSPs using read-only allowed host paths"
## Summary

Argo Workflows seems to be incompatible with Pod Security Policies (PSPs) specifying read-only allowed host paths. [As mentioned in this thread](https://github.com/argoproj/argo-workflows/pull/1214#discussion_r789865942), the `init` / `wait` containers surrounding a workflow container mount the same volumes as the main container, but without respecting their read/write mode. For enviro

[2022-02-04 17:06] #7595 closed

[2022-02-04 17:06] #7749 closed

[2022-02-04 17:07] alexec commented on #7751
[code]

Could you try upgrading to v1.23.2?

[2022-02-04 17:12] sarabala1979 commented on #7755
@louisblin you use `podSpecPatch` as workaround to set appropriate values. Can you try and let use know?

[2022-02-04 17:14] Hunter-Thompson commented on #7751
that worked! thanks.

[2022-02-04 17:14] #7751 closed

[2022-02-04 17:20] alexec commented on #7687
The argo server is panicking. This is because the URL is incorrect. Can you please show screenshot of error in UI?

[2022-02-04 17:28] alexec opened #7756 "Add cncf-argo-security@lists.cncf.io to security.md"
- [ ] Add cncf-argo-security@lists.cncf.io to security.md
- [ ] Make sure that security.md is easy to discover in docs

[2022-02-04 17:30] alexec opened #7757 "Add a bot to help triage issues"
We want to plan a roadmap and would like to have issues labelled with components.

It would be good to label issues by version too.

[2022-02-04 17:33] alexec commented on #7756
@jannfis should we do this?

[2022-02-04 18:00] louisblin commented on #7755
Thanks for the hint @sarabala1979!

It does work, but the patch is particularly unreadable and I can't expect my users to understand this. Problems are:
- Custom patch for each combination of volume mounts
- Patch size grows with the number of mounts
- Makes an assumption about the magic `/mainctrfs` path prefix

Here's what it looks like:
[code]

I would very much like to avoid doing this. Is the

[2022-02-04 18:12] alexec commented on #7757
* Label top 10 issues - https://github.com/marketplace/actions/top-issues-labeler
* Uses AI - https://github.com/marketplace/issue-label-bot
* @jessesuen suggestion - https://github.com/DeFiCh/oss-governance-bot

[2022-02-04 18:15] alexec opened #7759 "Spark plugin"
# Summary

1st-class support for Spark, could be based on this:

https://github.com/danielhstahl/argo-sparkoperator/blob/master/argo_wf.yml
https://github.com/StreamState/terraform-k8s-configuration/blob/e2117bab243e27e2ec3cabaf914c8022f3d2dc05/streamstate/templates/mainapp.yml#L340

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Love this enhancement proposal? Give

[2022-02-04 19:08] alexec commented on #7662
Can you please attach the workflow controller's logs?

[2022-02-04 19:10] alexec commented on #7627
Lets see how many votes this issue gets.

[2022-02-04 19:14] alexec commented on #7608
I think you need to specify the input parameters, something like this:

[code]

[2022-02-04 19:19] alexec commented on #7588
It seems to me that the limit is 1 off. Can you confirm?

[2022-02-04 19:21] alexec commented on #7576
We should have a new `when` that uses expression syntax.

[2022-02-04 19:22] alexec commented on #7575
If the DB error is "unauthorised" we could restart the workflows controller.

[2022-02-04 19:23] alexec commented on #7530
Can you please try the latest version?

[2022-02-04 19:24] alexec commented on #7527
It is not possible to fix this is the current architecture due to limitations on the size or argument.s

[2022-02-04 19:28] alexec commented on #7466
Could you use retry strategy for this?

[2022-02-04 19:48] savingoyal commented on #7743
We are currently integrating Metaflow with Argo - that would ensure that this functionality is natively available for Argo workflows constructed through Metaflow. Once we have the integration available, I would love to check in and figure out ways to make it a first-class citizen within the Argo UI.

[2022-02-04 19:49] rwong2888 opened #7762 "Make POD_NAMES configurable via configmap instead of environment variable"
The [v3.3 blog](https://blog.argoproj.io/whats-new-in-argo-workflows-v3-3-dd051d2f1c7) mentions to

It was a little unclear where to do this.

At first, I tried running the controller container with a "-h" flag, but did not see any mention of POD_NAMES.

My next thought was an environment variable which @crenshaw-dev pointed out

I got it working with a kustomize overlay (and it works great!), but

[2022-02-04 19:56] terrytangyuan commented on #7762
There's actually instruction on how to add environment variables to the controller in https://github.com/argoproj/argo-workflows/blob/master/docs/environment-variables.md

[2022-02-04 20:01] rwong2888 commented on #7762
Ah thanks @terrytangyuan , did not know of that!
Link to the non-github docs,
https://argoproj.github.io/argo-workflows/environment-variables/https://argoproj.github.io/argo-workflows/environment-variables/

I suppose that these are all experimental and will not make it into a configmap then?

[2022-02-04 20:03] terrytangyuan commented on #7762
Not yet. See https://github.com/argoproj/argo-workflows/issues/7267. We probably need a process for that. cc @alexec

[2022-02-04 20:09] terrytangyuan commented on #7743
That's great! Please keep us posted on how the integration goes on https://github.com/Netflix/metaflow/issues/50!

[2022-02-04 20:54] terrytangyuan commented on #7750
They are defined in the installation manifests. Search for "image" in https://github.com/argoproj/argo-workflows/blob/v3.2.8/manifests/install.yaml#L652-L661

[2022-02-04 21:47] jessesuen commented on #7743
With respect to a UI integration into Argo Server UI,  I can say that with Argo CD, we were able to make the UI dynamically load UI components using a new extension mechanism.

Example of this view can be seen below. This UI is not part of argo CD codebase, it's dynamically loaded at runtime:
https://cd.demo.akuity.io/applications/istio-canary?resource=&node=argoproj.io%2FRollout%2Fdemo-istio-cana

[2022-02-04 22:05] alexec commented on #7762
Yes/no. Just different.

[2022-02-04 22:07] alexec commented on #7743
See #7177

[2022-02-04 22:09] alexec commented on #7743
The argo-server provides an endpoint to get artifacts from a workflow. Click on a node, then choose "inputs and outputs", then choose your output artifact.

Do we need a better way to surface this is the UI? Could someone provide an example?

[2022-02-04 23:42] alexec opened #7763 "TektonCD Plugin"
# Summary

What change needs making?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-04 23:42] alexec opened #7764 "Airflow Plugin"
# Summary

What change needs making?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-04 23:43] alexec opened #7765 "Slack plugin"
# Summary

What change needs making?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-05 00:07] ado120 commented on #7687
When you say url is incorrect what do you mean by that? I took out our s3 repository and now I am able to view logs for each task, but that is because it's no longer trying to reach /artifacts.

The funny thing is the s3 bucket was writing the log files just fine. Here is a screenshot
![Screen Shot 2022-01-27 at 4 17 02 PM](https://user-images.githubusercontent.com/24661977/152619235-cb0fd177-94d5

[2022-02-05 00:36] sarabala1979 commented on #7726
Dillen is going submit the PR for this

[2022-02-05 02:01] blkperl commented on #7596
We will need argo-events to update to k8s 1.22 before we can upgrade argo-workflows.

[2022-02-05 03:55] alexec opened #7766 "Release build broken on master"
It’s trying to generate SPDX for images, but presumable using wrong tag.

[2022-02-05 09:09] alexandrud opened #7767 "Implement rootpath similar to argo-cd"
# Summary

Currently, running argo-workflows on a subpath requires rewrites on the reverse proxy. In argo-cd you can avoid that by setting extra arguments to the entrypoint command.
[code]
Would it be possible to replicate this behavior on argo-workflows as well?

# Use Cases

AWS Application Load Balancers do not support rewrites. Our setup doesn't use any additional controller like nginx.

---

[2022-02-05 15:24] tyrken commented on #7726
I think it is a CLI only issue, and thanks-in-advance to Dillen!

[2022-02-05 17:36] sarabala1979 commented on #7726
Yes it is a CLI issue. Dillen will fix it

Sent from my iPhone

[2022-02-05 21:36] ericmeadows commented on #7576
Coincidentally, our build infrastructure for [Plumbr.ai](https://www.plumbr.ai) is trying to use this as well!  I have a workaround, but what we open-source won't be too elegant until this - looking forward to it coming soon :)

[2022-02-05 22:35] crenshaw-dev commented on #7576
@ericmeadows I'm pretty sure the build system I put together at my last job relies on this feature. At the time I assumed it had first-class support. So really hope it doesn't break. 😆

[2022-02-06 08:03] sylock commented on #7750
Very nice. This is what I needed:
[code]

[2022-02-06 08:05] sylock commented on #7750
Searching on the doc, I don't see any mention of this workflow-controller option?

https://argoproj.github.io/argo-workflows/

[2022-02-06 10:43] terrytangyuan commented on #7750
It's in the same manifests link I posted above.

[2022-02-06 16:06] sylock commented on #7750
Sure, but I think it would be an improvement to the documentation if all options available to argo-workflow and argo-server would be listed and commented in the documentation pages (and not in the manifest).

[2022-02-06 19:22] alexec commented on #7576
@ericmeadows would you like to submit a PR to introduced an alternative to `when`, e.g. `whenExpression`?

[2022-02-06 20:41] alexec commented on #7767
Can you link to Argo CD issue or code please?

[2022-02-06 21:14] #7757 closed

[2022-02-07 06:16] SVilgelm commented on #6750
Does any one know, How to ping anyone of the argo-workflows maintainers?

[2022-02-07 06:59] ccfishk commented on #7721
@terrytangyuan  Can you please grant me permission or add me as a member ?
failed to push PR due to following errors

sudo git push --set-upstream origin v3.2.6-fix
ERROR: Permission to argoproj/argo-workflows.git denied to ccfishk.
fatal: Could not read from remote repository.

[2022-02-07 07:14] ccfishk commented on #7721
trying... a fork branch

[2022-02-07 07:15] sarabala1979 commented on #6750
@SVilgelm are you using the latest v3.2.x CLI?

[2022-02-07 07:33] qingfeng777 commented on #7662
next time it happens

[2022-02-07 07:36] danielrubin1989 commented on #7385
Experience the same issue when I'm using ```when``` expression which evaluates to "false" any steps with ```withParam``` failed with failed to resolve input atrifacts.

[2022-02-07 07:49] chensun commented on #7424
bump

[2022-02-07 08:43] alexandrud commented on #7767
I think these are the feature requests that were opened for ArgoCD:
* https://github.com/argoproj/argo-cd/pull/3475
* https://github.com/argoproj/argo-cd/pull/3503
* https://github.com/argoproj/argo-cd/pull/3525

[2022-02-07 13:14] terrytangyuan commented on #7366
@simster7 Have you looked into this yet?

[2022-02-07 13:56] rwong2888 opened #7780 "Emissary no command error"
When using emissary executor, if command is not passed in template or configmap, it will fail. Improve the error message by indicating which step & container failed.

@alexec
[Alex Collins](https://app.slack.com/team/ULZF02TME)  [3 days ago](https://cloud-native.slack.com/archives/C01QW9QSSSK/p1644004316633359?thread_ts=1644000559.222279&cid=C01QW9QSSSK)

@crenshaw-dev
[Michael Crenshaw](https://a

[2022-02-07 14:17] gmouchakis opened #7781 ""Invalid type for variable 'received_data'" when getting logs using the python client"
I'm trying to get workflow logs using the python client library but an ApiTypeError exception is raised with message  `argo_workflows.exceptions.ApiTypeError: Invalid type for variable 'received_data'. Required value type is StreamResultOfIoArgoprojWorkflowV1alpha1LogEntry and passed type was str at ['received_data']`. Any solutions or workarounds for this? `_check_return_type=False` did not help.

[2022-02-07 14:19] gmouchakis commented on #7781
/kind bug
/component component:sdks
/v v3.2

[2022-02-07 14:56] terrytangyuan commented on #7781
StreamResultOfIoArgoprojWorkflowV1alpha1LogEntry needs to disable the type check via _check_type=False. However it looks like there isn't a way to pass that flag to workflow_logs().

@flaviuvadan Did you have this issue too when using the latest version?

[2022-02-07 15:25] alexec opened #7782 "Bot labels are wrong"
The bot will helpfully demonstrate this by labelling this issue all wrong.

[2022-02-07 15:46] simster7 commented on #7366
@terrytangyuan Sorry, haven't gotten a chance. Will try to take a look this week

[2022-02-07 15:50] terrytangyuan commented on #7381
We should consider adding update configmap permission to the manifests. Memoization is a great feature and I don't see any harm adding this one additional permission on configmaps, especially given that this is a permission that the controller needs for a supported feature. WDYT? @alexec

[2022-02-07 15:53] terrytangyuan commented on #7374
Bump. Assigning to @flaviuvadan to migrate the related code from Hera.

[2022-02-07 15:54] alexec commented on #7381
Not sure about adding `update configmaps` permission. Weakens security posture by giving permission we don't always need.

Instead, I wonder if we should use a different database for memoization.

[2022-02-07 15:59] terrytangyuan commented on #7381
Separate issue to track that https://github.com/argoproj/argo-workflows/issues/3587

[2022-02-07 16:00] terrytangyuan commented on #7750
Feel free to submit PRs to improve the documentation. The reason you are seeing the DockerHub issue is because you are using an older version of Argo where the manifests still point to DockerHub. All new versions have migrated to quay.io so users should not see this rate limit issue any more.

[2022-02-07 16:02] alexec commented on #7766
https://github.com/argoproj/argo-workflows/runs/5086036627?check_suite_focus=true

It is because `version=master`

[2022-02-07 16:23] alexec opened #7785 "ChatOps and governance bot"
The first bot had problem:

* It commented a lot.
* It added unexpected labels.

Instead, I propose something different:

* Trial it on a smaller set of labels.
* Use a different bot.

This is the new bot I'm proposing, it's is meant to be like Prow:

https://github.com/jpmcb/prow-github-actions

Bots tend to want `x/y` format for labels, e.g. `kind/bug`, `area/ui`. So...

* `bug` -> `kind/bug`
*

[2022-02-07 16:27] alexec commented on #7600
Executed last week. No issues found.

[2022-02-07 16:27] #7600 closed

[2022-02-07 16:33] #7527 closed

[2022-02-07 16:37] #7415 closed

[2022-02-07 16:37] alexec commented on #7415
When cannot be changed. Instead, we will replace it.

[2022-02-07 16:45] alexec commented on #7273
I believe this should work. Can you please try with Emissary executor in v3.2.

[2022-02-07 16:46] crenshaw-dev commented on #7576
@alexec I don't think it's actually necessary to add a new field.

Despite what the error message says, `when` _does_ support expressions. If your expression throws an error, you get a misleading error message saying "`when` does not support expressions." But I think the error message is the bug, not an actual lack of support for expressions.

For any valid expression producing `true` or `false`,

[2022-02-07 16:48] alexec commented on #7192
Won't fix.

[2022-02-07 16:48] #7192 closed

[2022-02-07 16:49] frimuchkov opened #7786 "runtime error: invalid memory address or nil pointer dereference"
Hi!

It's a pretty rare bug and I don't know how to reproduce it, but maybe it will be useful

[code]

[2022-02-07 16:50] alexec commented on #7137
Duplicates #7121.

[2022-02-07 16:50] #7137 closed

[2022-02-07 16:53] alexec commented on #7073
Fixed I think?

[2022-02-07 16:53] #7073 closed

[2022-02-07 16:57] alexec commented on #6976
Maybe blog post with Kubecost will help this.

[2022-02-07 17:02] alexec commented on #6864
You mean logs no?

[2022-02-07 17:10] alexec commented on #6769
How about we manage namespaces based on labels?

[code]

[2022-02-07 17:12] alexec commented on #6710
I get this issue, but I don't think we can ever fix it due to the number of users that depend on it.

[2022-02-07 17:12] #6710 closed

[2022-02-07 17:12] alexec commented on #6695
Try this:

[code]

[2022-02-07 17:12] #6695 closed

[2022-02-07 17:13] alexec commented on #6664
I don't think this is fixable. Sorry.

[2022-02-07 17:15] alexec commented on #6586
This is a duplicate. Not sure of the issue number I'm afraid.

[2022-02-07 17:15] #6586 closed

[2022-02-07 17:19] frimuchkov commented on #7786
argoproj/workflow-controller:v3.2.4

[code]

Unfortunately, there are a lot of client's data in workflow :(
But looks like it doesn't depend on workflow

[2022-02-07 17:23] alexec commented on #6313
I think this fixed in v3.3

[2022-02-07 17:23] #6313 closed

[2022-02-07 17:25] alexec commented on #6218
https://github.com/sirupsen/logrus/issues/403

[2022-02-07 17:26] #7766 closed

[2022-02-07 17:28] #6171 closed

[2022-02-07 17:29] rwong2888 commented on #6864
No @alexec , I mean the archive to the postgresdb. By default it archives every workflow to the db if it is enabled in the configmap. I would like to bypass the default behaviour by adding a field to say a cron workflow to not archive to the db.

[2022-02-07 17:31] #5937 closed

[2022-02-07 17:35] alexec commented on #6864
This feature exists. See docs.

[2022-02-07 17:38] #5765 closed

[2022-02-07 17:41] alexec commented on #5595
Done.

[2022-02-07 17:42] alexec commented on #5514
Done.

[2022-02-07 17:42] #5514 closed

[2022-02-07 17:42] #5505 closed

[2022-02-07 17:49] alexec commented on #1541
I think this is solved:

https://github.com/marketplace/actions/submit-argo-workflows-from-github

[2022-02-07 17:55] #1031 closed

[2022-02-07 17:55] rwong2888 commented on #6864
Hi @alexec

I am looking in
https://argoproj.github.io/argo-workflows/fields/#workflowspec

I see `archiveLogs` which is only for logs. I do not see anything to exclude workflow from being archived in `persistence.archive`
https://argoproj.github.io/argo-workflows/workflow-controller-configmap.yaml

Am I missing something?

I would like to see a boolean similar to `archiveLogs`, but for `archiveWo

[2022-02-07 17:58] alexec commented on #2060
I think this is an interesting feature, but as the manifest syntax cannot support includes, I'm not sure it is fixable.

[2022-02-07 17:58] #2060 closed

[2022-02-07 18:02] #5152 closed

[2022-02-07 18:07] alexec commented on #3678
I think the solution to this today is to use the Emissary executor.

[2022-02-07 18:07] #3678 closed

[2022-02-07 18:11] alexec commented on #1665
This could be implemented as a plugin too.

[2022-02-07 18:12] #1127 closed

[2022-02-07 18:12] alexec commented on #1127
Closing as queuing is not on roadmap anymore

[2022-02-07 18:19] alexec commented on #2258
This could be achieved by adding the workflow template in the log context. We should also label the pods with template.

[2022-02-07 18:22] #1091 closed

[2022-02-07 18:22] alexec commented on #5067
The emissary does not need `pod/logs` permission.

[2022-02-07 18:23] alexec commented on #3049
Argo Workflows is already available via Helm?

[2022-02-07 18:28] terrytangyuan opened #7789 "UI: filter dropdown bar arrow is half hidden"
v3.3.0-rc3

Examples see the dropdown for workflow template and cron workflow.

<img width="325" alt="Screen Shot 2022-02-07 at 1 26 38 PM" src="https://user-images.githubusercontent.com/4269898/152849275-dd0e1c94-e401-474e-8d32-e5040814d24a.png">

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-02-07 18:58] terrytangyuan commented on #3049
https://github.com/argoproj/argo-helm/tree/master/charts/argo-workflows

[2022-02-07 19:11] mateoporcar opened #7790 "HTTP Template - `x509: certificate signed by unknown authority`"
## Summary

What happened?

We are trying to make a request to an internal url with a custom ca certificate, but we get `x509: certificate signed by unknown authority`.

What you expected to happen?

The ability to skip tls verification or the ability to provide our internal ca certificate.

What executor are you using?

Emissary

## Diagnostics

Paste the smallest workflow that reproduces the bug

[2022-02-07 19:38] rwong2888 commented on #6864
I have this cron workflow

[code]

And this configmap

[code]

@alexec I am still seeing the workflow get archived every 10 minutes. I also tried moving the label to `spec.metadata.labels`. Am I missing something?

![image](https://user-images.githubusercontent.com/61470342/152859206-2132b308-3616-44ed-85ce-d1a74dd88c8b.png)

[2022-02-07 19:44] ado120 commented on #7687
@alexec
Hi Alex,

So today I tried completely blowing out the postgres for persistance, and the s3 bucket I recreated and added by adding a configmap called artifact-repositories per:
https://argoproj.github.io/argo-workflows/artifact-repository-ref/

[code]

I am now getting a 504 GATEWAY_TIMEOUT error. I want to see if I am understanding the flow properly:
1. workflow controller writes the logs

[2022-02-07 20:53] jjjjoooo commented on #7739
I‘d like to help but I can't find source code of ApiClient.java and I am not familiar with Go.

[2022-02-07 20:57] alexec commented on #6864
I don't see the config in your config map? Make sure you restart the controller.

[2022-02-07 21:13] rwong2888 commented on #6864
I think what you are saying is to set `persistence.archive=false` and add a matchlabel for every workflow I want archived.

I want to do the inverse where the default behaviour is to archive every workflow (`persistence.archive=true`) and there is a label/annotation to exclude resources from archival.

Is my understanding correct @alexec ?

[2022-02-07 21:15] alexec commented on #6864
I think you can do this:

[code]

[2022-02-07 21:21] alexec commented on #7790
I don't think this is a bug. I think this is the correct behaviour. Instead we need the following enhancements:

- [ ] Support `insecureSkipVerify` for HTTP template.
- [ ] Support import of CA certs into agent for HTTP template.

[2022-02-07 21:24] ccfishk commented on #7721
@terrytangyuan @alexec   https://github.com/argoproj/argo-workflows/pull/7793
                                              👆
running the PR against CI.
Also, thinking/proposing a patch of this improvement/fix. It does block our release.
What you think ?

[2022-02-07 21:29] #5544 closed

[2022-02-07 21:31] alexec commented on #5338
We now produce SPDX with each release.

[2022-02-07 21:31] #5333 closed

[2022-02-07 21:32] #5329 closed

[2022-02-07 21:34] alexec commented on #5127
Not fixable.

[2022-02-07 21:34] #5127 closed

[2022-02-07 21:36] #4917 closed

[2022-02-07 21:39] #4792 closed

[2022-02-07 21:39] #4689 closed

[2022-02-07 21:39] alexec commented on #4616
Fixed.

[2022-02-07 21:39] #4616 closed

[2022-02-07 21:40] alexec commented on #4604
Fixed.

[2022-02-07 21:42] #4552 closed

[2022-02-07 21:43] alexec commented on #4550
This has been duplicated. As this has no 👍 I close it.

[2022-02-07 21:43] #4550 closed

[2022-02-07 21:47] alexec commented on #4187
Solution: use parameters.

[2022-02-07 21:47] #4187 closed

[2022-02-07 21:48] alexec commented on #4164
I think this is done.

[2022-02-07 21:48] #4164 closed

[2022-02-07 21:49] alexec commented on #4153
We're moving away from `govaluate`. Closing issue.

[2022-02-07 21:49] #4153 closed

[2022-02-07 21:56] alexec commented on #3715
This could be fixed if we implement archive plugins.

[2022-02-07 21:56] alexec commented on #3676
More info needed.

[2022-02-07 21:56] #3676 closed

[2022-02-07 21:57] alexec commented on #3517
Fixed.

[2022-02-07 21:57] #3517 closed

[2022-02-07 21:58] alexec opened #7794 "Delete `helpwanted` label"
The original goal of this label was to encourage users to fix issues themselves. I don't see any evidence of that happening.

@sarabala1979 @terrytangyuan

[2022-02-07 21:58] alexec commented on #3457
Fixed, by the debug pause feature in v3.3

[2022-02-07 21:58] #3457 closed

[2022-02-07 21:59] alexec commented on #3428
Fixed by hooks in v3.3

[2022-02-07 21:59] #3428 closed

[2022-02-07 21:59] alexec commented on #3384
Should probably be consistent with `git` options.

[2022-02-07 22:02] alexec commented on #3150
Closing issue. I don't support docker-compose (who does these days?).

[2022-02-07 22:02] #3150 closed

[2022-02-07 22:04] alexec commented on #3050
This is fixed by workflow archive.

[2022-02-07 22:04] #3050 closed

[2022-02-07 22:10] alexec commented on #2265
This behaviour is correct. Workflow metadata should not be propagated. Instead, use `spec.workflowMetadata.labels`.

[2022-02-07 22:10] #2265 closed

[2022-02-07 22:13] #1914 closed

[2022-02-07 22:13] alexec commented on #1914
Won't fix.

[2022-02-07 22:16] alexec commented on #1746
This is possible, you can use env vars.

[2022-02-07 22:16] #1746 closed

[2022-02-07 22:17] alexec commented on #1684
This is fixed by Expression Tag Templates in v3.

[2022-02-07 22:17] #1684 closed

[2022-02-07 22:17] alexec commented on #1489
Fixed in v3.2.

[2022-02-07 22:17] #1489 closed

[2022-02-07 22:18] ado120 commented on #7687
@alexec

And anyone else facing this issue. It was pretty obvious, just wish the error logs showed more to help lead me in the right direction.

So we set a serviceAccountName in the workflow that has full S3 access. I was under the assumption that this was all that was needed.

What happens is that when a workflow is created, it will write the log files using whatever is set to serviceAccountName

[2022-02-07 22:19] alexec commented on #1481
I think this is fixed. Re-open if not.

[2022-02-07 22:19] #1481 closed

[2022-02-07 22:21] alexec commented on #1055
I've not need this behaviour. Please re-open if you see it.

[2022-02-07 22:21] #1055 closed

[2022-02-07 22:21] alexec commented on #1145
Fixed by expression tag templates in v3.

[2022-02-07 22:21] #1145 closed

[2022-02-07 22:24] alexec commented on #576
This is fixed by workflow templates.

[2022-02-07 22:24] #576 closed

[2022-02-07 22:27] alexec commented on #5697
@sarabala1979 I've kept this one for @dpadhiar as I think we should fix it.

[2022-02-07 22:31] alexec commented on #7721
I don't think we should change this behaviour. Instead, I think we should discus alternative options and workarounds.

[2022-02-07 22:34] alexec commented on #7606
This is because you're using `templateRef` not `workflowTemplateRef`. `templateRef` does not inherit volumes (or anything else) from the `spec`.

[2022-02-07 22:37] pisymbol commented on #7606
@alexec  Can you explain why templateDefaults do not include volumeMounts?

[2022-02-07 22:44] alexec commented on #7606
This issue is not about `templateDefaults` AFAIK. Maybe raise another issue?

[2022-02-07 22:48] alexec commented on #7794
Done.

[2022-02-07 22:48] #7794 closed

[2022-02-07 22:57] alexec commented on #4209
Duplicates #2706

[2022-02-07 22:57] #4209 closed

[2022-02-07 23:01] alexec opened #7795 "Remove the deprecated `docker` executor"
Remove the executor code. Remove `docker` binary from executor.

[2022-02-07 23:02] alexec opened #7796 "Replace use of `curl` binary in the HTTP artifact driver with pure Go"

[2022-02-07 23:02] alexec opened #7797 "Replace use of `kubectl` with pure Go in the resource template code"

[2022-02-07 23:02] alexec opened #7798 "Replace use of `git` binary in Git artifact driver"
(does Golang Git client support submodules)

[2022-02-07 23:02] alexec opened #7799 "Replace the `jq` with pure Go"

[2022-02-07 23:02] alexec opened #7800 "Replace use of the `tar` with pure Go in the Kubernetes API executor"
This maybe obviated by #7802 .

[2022-02-07 23:06] acj commented on #1541
@alexec That action helps you submit Argo workflows from GHA, but that's been possible since the launch. I think your previous comment captured the feature request here, i.e. the ability to run a GitHub Action natively on Argo, without converting the syntax.

[2022-02-07 23:07] sarabala1979 commented on #7786
Do you have any of skipped steps/tasks on your failed workflow?

[2022-02-07 23:21] alexec opened #7801 "For-loop instead of withParam/withItems/withSequence"
We could replace all three of these with a iterator for-loop spec:

[code]

Things we could/should fix:

- [x] #7895
- [ ] #5978
- [ ] #3072
- [ ] #2957

https://en.wikipedia.org/wiki/For_loop

Some thoughts. For-loops are split into:

* Traditional - i.e. `withSequence`
* Iterator - i.e. `withItems`

I'm not sure we need a new construct, unless we deal with #7831 at the same time.

[2022-02-07 23:31] terrytangyuan commented on #7794
Do we need an alternative like “contributions welcomed”?

[2022-02-07 23:39] alexec commented on #7794
I don't think it would affect behaviour either. Better would be organisations committing to certain areas :)

[2022-02-07 23:41] alexec commented on #6635
@cotjoey seem like the right solution to me?

[2022-02-07 23:41] terrytangyuan commented on #7794
Sounds good

[2022-02-07 23:45] alexec opened #7802 "Remove `k8sapi` executor"
Not needed, use Emissary.

[2022-02-07 23:45] alexec opened #7803 "Remove `kubelet` executor"
Not needed, use Emissary.

[2022-02-07 23:46] #7696 closed

[2022-02-07 23:46] alexec opened #7804 "Remove `pns` executor"
👀

Should be able to use Emissary.

Also, remove the `libcap` and `procps` libraries one complete.

[2022-02-08 01:15] ndamclean opened #7806 "`argo submit --strict=false` option not clearly documented"
# Summary

The `--strict` option for `argo submit` is a flag-style argument where the default value is `true`.

~This means the argument is useless because it is not possble to set `strict` to `false` via the CLI.~

~The CLI should support syntax similar to one of the two following options:~
[code]
~or~
[code]
The CLI documentation does not make it clear how you would set this to false (`--strict=

[2022-02-08 02:22] #7780 closed

[2022-02-08 02:22] qingfeng777 commented on #7662
it happened again at today 01:51, but i can't get logs from the wf-ctrl pod,  i can only get logs  after 02:10， like laste time ,
the wf-ctrl pod have not restarted,  i don't know why.
i will set log collector, and try  again when it happens again.

[2022-02-08 03:08] terrytangyuan commented on #7721
@ccfishk Your PR https://github.com/argoproj/argo-workflows/pull/7793 seems to change the original behavior and design, which is not what I suggested so I am going to close it for now.

The current workaround is to use multiple resource templates or use a script template that executes a `kubectl apply`.

Also note that we will be switching to replace `kubectl` with pure Go. See https://github.com/

[2022-02-08 03:10] blkperl opened #7810 "Remove `valyala/fasttemplate` dependency"
# Summary

We should investigate whether `valyala/fasttemplate` can be replaced with the standard library `text/template` or a maintained alternative.

https://pkg.go.dev/text/template

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-08 03:15] blkperl opened #7812 "Remove `xeipuuv / gojsonschema` dependency"
# Summary

`xeipuuv / gojsonschema` is not maintained and is only used in `examples/validator.go`

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-08 03:17] blkperl opened #7813 "Remove `github.com/Knetic/govaluate` dependency"
# Summary

govaluate is not maintained and should be removed. This issue depends on a new parameter added in #7576

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-08 03:25] blkperl opened #7814 "Update `gopkg.in/square/go-jose.v2` to `github.com/go-jose/go-jose`"
# Summary

go-jose has moved to a new github org and released version 3.0

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-08 03:25] terrytangyuan commented on #7806
You should be able to set it via `--strict=false`.

[2022-02-08 03:34] blkperl opened #7815 "Remove `github.com/prometheus/client_model` dependency"
# Summary

The module is deprecated and is only used by tests.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-08 03:39] blkperl opened #7816 "Update `colinmarc/hdfs` to version 2.x"
# Summary

The 2.x releases notes contains breaking changes: https://github.com/colinmarc/hdfs/releases/tag/v2.0.0

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-08 04:49] qingfeng777 commented on #7662
[code]

[2022-02-08 05:03] qingfeng777 commented on #7662
[code]

[2022-02-08 05:24] alexec commented on #7662
Error is actually from this line:

https://github.com/argoproj/argo-workflows/blob/v3.2.6/workflow/controller/operator.go#L2696

`p.Value` must be nil. This line needs a nil check.

[2022-02-08 05:27] alexec commented on #7721
A resource template is really a convenience around `kubctl apply` (or `kubectl create` etc) today. It should be easy to replace it with the following in a script template:

[code]

[2022-02-08 07:28] frimuchkov commented on #7786
Only this one, but it was retried
<img width="1368" alt="image" src="https://user-images.githubusercontent.com/19934346/152938177-23346ca8-e60a-4af0-950e-8b1f7042eb4b.png">
<img width="413" alt="image" src="https://user-images.githubusercontent.com/19934346/152938343-403df8b5-93b3-4c61-a03c-4607ba42ab9c.png">

Unfortunately, there are no artifacts for this pod
<img width="1097" alt="image" src="ht

[2022-02-08 12:30] ogandoe commented on #7790
It would be great!!! having those options

[2022-02-08 12:33] zsolt-keseru-epam opened #7818 "Option to load workflow input artifacts in the wait container"
# Summary

- Provide option to switch artifact loading from a workflow step's init container to the wait container.
- Implement artifact loading status check to monitor the artifact loading
- Delay the workflow container until artifact loading finish: add post-start lifecycle hook to the wait container definition inside the PodSpec, which uses the status check and blocks the next container startup

[2022-02-08 12:38] zsolt-keseru-epam commented on #7209
This seems to be more like an architectural limitation than a bug, so I've opened an enhancement proposal instead of this with a solution idea.
Maybe I have some time to work on it in the future...

I'm closing this issue.

[2022-02-08 12:38] #7209 closed

[2022-02-08 12:48] olegmayko opened #7819 "Inconsistency of parsing the realtime metric value."
## Summary
During the definition of real time metric in a workflow, the value of metric is not parsed correctly when defined
using valid go template syntax
What happened/what you expected to happen?
if value in real time metric is defined like this ` {{ workflow.duration }}`. The next error shown in the log

 However it works correctly like this `{{workflow.duration}}`

I'd expect that it works co

[2022-02-08 13:57] terrytangyuan commented on #7799
The use of `jq` is tied to a particular functionality `param.ValueFrom.JQFilter`. I am not sure if any rewrite in pure Go would be fully featured. One way to remove this is to expose this logic as a custom command that users can specify, e.g. `kubectl get xxx -o json | jq -rc xxx` or `kubectl get -o xxx  jsonPath=xxx` and users can choose to provide a custom executor image that includes the necess

[2022-02-08 14:37] alexec commented on #7799
The goal is to create a distroless image, but I think we can probably keep JQ to archive that.

[2022-02-08 16:14] jmeridth commented on #7606
@alexec confirmed.  We needed to use `workflowTemplateRef` instead of `templateRef`.  Thank you.

For others, solution is:

[code]

change `entrypoint` to entry point on workflow template and use `workflowTemplateRef` right under arguments.  Example in docs [here](https://github.com/argoproj/argo-workflows/blob/master/examples/workflow-template/workflow-template-ref-with-entrypoint-arg-passing.yam

[2022-02-08 16:41] alexec commented on #7606
I think so, I did think maybe we should copy the volumes, but I think we should not do that.

[2022-02-08 16:47] alexec opened #7821 "Semantic Pull Request and DCO Github Actions are broken"
Removing as "required" check for the moment so we can merge PRs.

[2022-02-08 17:45] ndamclean commented on #7806
@terrytangyuan I see that works. Thanks!

I do think this could be made clearer in the CLI help text as it was not obvious to me.

[2022-02-08 17:48] terrytangyuan commented on #7806
Other boolean flags such as `--log`, `--watch`, and `--wait` are handled in the same way so the use of `--strict` should be pretty straightforward. Feel free to submit a PR to improve the documentation though.

[2022-02-08 17:59] alexec commented on #4090
@JPZ13 I'm pretty sure this issue is needed to implement multi-cluster, so I labelled it as such.

This will simplify the code-base.

[2022-02-08 18:28] rwong2888 commented on #6864
@alexec , I updated the configmap and bounced the server and controller, but still seeing both workflows archiving

[code]

<img width="1688" alt="image" src="https://user-images.githubusercontent.com/61470342/153052106-b5bb2c4c-5489-4edf-a402-aa5701b74bd2.png">

[2022-02-08 19:00] alexec opened #7823 "Review fuzzers"
Review the oss-fuzz and see what we have and what we need.

[2022-02-08 19:01] alexec opened #7824 "Alternative to `expr` needed?"
Do we need an alternative? Is it maintained?

[2022-02-08 19:02] alexec opened #7825 "Agent CA certs"
Provide a way for users to put custom certs into the agent.

[2022-02-08 19:41] caelan-io commented on #7745
Thanks for creating this issue @alexec! This encapsulates issues #2890 and #5824. @JPZ13 or I will circle back once we have an ETA for this.

[2022-02-08 20:44] terrytangyuan commented on #7754
https://github.com/cncf/mentoring/pull/482

[2022-02-08 20:56] HWiese1980 commented on #6367
How has this resolved? I've just seen the same error message on a `kind` based v1.21.2 cluster running Kubeflow v1.4.1.

[2022-02-08 21:31] yashvardhan-kukreja commented on #7816
Hi @blkperl , I'd love to pick this up as I think it would be a good place for me start contributing to argo-workflows :)

[2022-02-08 21:31] yashvardhan-kukreja commented on #7816
/assign

[2022-02-08 21:55] alexec opened #7828 "Workflow parameter sanitisation"
# Summary

Prevent users from injecting or abuse parameters (e.g. by embedding templates).

# Use Cases

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-08 22:07] alexec opened #7829 "Remove non-Emissary executors"
- [x] #7795
- [x] #7802
- [x] #7803
- [x] #7804

[2022-02-08 22:08] yashvardhan-kukreja commented on #7812
Hi @blkperl 👋🏼

I'd suggest to we move to `github.com/qri-io/jsonschema` as it performs much better than `xeipuuv` (2x faster) and has more recent commits although they're still pretty old.

wdyt :)

[2022-02-08 22:09] alexec opened #7830 "Support archived workflows logs in UI from archived logs"
# Summary

Currently, if you open an archived workflow, you are not able to see logs in the log viewer, even if the logs were archived to 'main.log'. We could fix this.

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-08 22:20] alexec opened #7831 "`whenExpression`: `when` using `expr` instead of `govaluate`"
# Summary

We don't like `govaluate`, we want to get off it, it is confusing to users:

- #7576
- #7509
- #7089
- #6823
- #7382

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-08 22:26] ebr commented on #4508
keepalive

[2022-02-09 00:41] blkperl commented on #7810
I was limiting my search to dependencies that have not released in the last 2 years. expr has recent commits so perhaps they release yearly.

[2022-02-09 00:42] SVilgelm commented on #6750
@sarabala1979 I'm trying to update, but got same error:
[code]

[2022-02-09 00:44] SVilgelm commented on #6750
[code]

[2022-02-09 00:46] #7726 closed

[2022-02-09 00:50] blkperl commented on #7816
Thanks for the volunteering @yashvardhan-kukreja. If there are breaking changes please make sure to document them on the PR.

[2022-02-09 00:53] blkperl commented on #7812
Hi @yashvardhan-kukreja 👋🏻

I'm not very experienced with jsonschema libraries but you could ask in the #argo-contributers slack channel for feedback on that dependency or join the weekly contributor meeting https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md#contributor-meetings

[2022-02-09 00:59] blkperl commented on #7823
We could also investigate adding our own fuzz tests coming in 1.18 https://go.dev/blog/fuzz-beta

[2022-02-09 01:05] alexec commented on #7786
Duplicates #7786. Closing.

[2022-02-09 01:05] #7786 closed

[2022-02-09 01:06] alexec commented on #7662
https://github.com/argoproj/argo-workflows/pull/7517/files

[2022-02-09 01:10] alexec commented on #7662
Fixed in v3.2.7

[2022-02-09 01:10] #7662 closed

[2022-02-09 01:13] #7463 closed

[2022-02-09 01:22] #7333 closed

[2022-02-09 01:24] alexec commented on #7275
Probably introduced by fix: Parameter with Value and Default #6887

[2022-02-09 01:26] alexec commented on #7275
Maybe workaround:

[code]

[2022-02-09 02:29] chrispsplash commented on #7472
Hello again!  I updated the reproduction workflow after noticing the original was very inconsistent.  It suffered some other issue I wasn't quite grasping.  Also this one has a proper webserver instead of some `netcat` hacks 😅

[2022-02-09 02:41] JPZ13 commented on #4090
Thanks for the heads up! @isubasinghe if you have a minute today, could you look into it?

[2022-02-09 03:09] isubasinghe commented on #4090
I am looking into this now

[2022-02-09 08:54] Ark-kun opened #7835 "Proposal: Add the artifact value placeholder"
# Summary

Argo provides great help connecting containerized command-line programs and turning them into workflow. I consider Argo's support for data passing (parameters and artifacts) to be one of the most important features of Argo that sets it apart from most other workflow tools.

However, there is a gap in Argo's data passing support.
Argo separates input/output data into "parameters" and "ar

[2022-02-09 10:07] sylock commented on #7750
ok thanks for the help.

[2022-02-09 10:07] #7750 closed

[2022-02-09 12:15] Shark commented on #7683
@alexec The Executor Plugin [example](https://github.com/argoproj/argo-workflows/blob/master/docs/executor_plugins.md#a-simple-python-plugin) is currently broken because it's missing a step. There is a Python HTTP server and the plugin is configured to run `python -c`, but the script is never referenced or copied into a Docker image.

Do you have a neat idea for baking the script into the plugin?

[2022-02-09 14:04] trondhindenes opened #7836 "make container template resources configurable thru parameters"
# Summary

I'm trying to dynamically send container resources using parameters, so that I can submit a job using the same container template with different resources.

Pseudocode:
[code]

# Use Cases

We'd like to dynamically set container resources

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-09 14:56] terrytangyuan commented on #7829
This would depend on resolving any limitations of the Emissary executor.

[2022-02-09 15:18] crenshaw-dev opened #7838 "Improve managed namespace docs"
# Summary

1. It needs to be clearer when/why someone might choose a managed namespace install over a namespace install.
2. It needs to be clearer where the `--managed-namespace` arg needs to be set (I think in both workflow-controller and argo-server?).

Feel free to copy/paste from my [StackOverflow answer](https://stackoverflow.com/a/71052112/684776) if it's useful. (I think all SO answers are

[2022-02-09 15:44] sarabala1979 commented on #7836
You can use podSpecPatch

Sent from my iPhone

[2022-02-09 15:56] trondhindenes commented on #7836
Thanks! I'm trying to have individual steps in a dag target the same container template with different resource settings. podSpecPatch seems to work on a workflow level, so that's not usable for us (as far as I can see)

[2022-02-09 16:15] terrytangyuan commented on #7823
@blkperl We already have fuzzers now and it will use CNCF's computational resources to run fuzz tests.

[2022-02-09 17:37] alexec commented on #7835
I'm not sure how we could implement this. Artifacts are in the user namespace, but replacement occurs in the system namespace. As a result (by design) the system namespace cannot read the contents of artifacts.

[2022-02-09 17:40] alexec opened #7839 "Allow `{{}}` parameters in resource requests and limits"
# Summary

This is a popular request, and even thought there is a work-around, it keeps coming up. The workaround "podSpecPatch" is, well, it's a workaround. Not ideal.

We use the `corev1.Container` type for this. We could copy and modify this type to remove the validation constraints.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposal

[2022-02-09 18:42] alexec commented on #7839
Too hard.

[2022-02-09 18:44] alexec opened #7840 "Blog about architecting workflow for reliability"
[code]

[2022-02-09 18:44] #7754 closed

[2022-02-09 18:49] terrytangyuan commented on #7829
Sounds good. I can start with those.

[2022-02-09 18:58] alexec commented on #7829
I'd hold off for a few months. I don't think we want this until maybe v3.5.

[2022-02-09 20:51] iamrajiv commented on #3171
Hi @terrytangyuan, I want to contribute to this project for GSoC 2022, can you guide me on how can I get started with this project? After going through the above discussion I think we are afraid of large refactoring code right?

[2022-02-09 21:18] alexec commented on #5697
@sarabala1979 @dpadhiar going into the details of this, it seem "bombarded" does not mean ever 30ms, but every 30s. I think this is fine for most users and not worthwhile fixing today.

[2022-02-09 21:22] alexec commented on #7390
@jackivanov are you saying you have client certificates you need to put in the request? I.e. MTLS?

[2022-02-09 22:52] jackivanov commented on #7390
@alexec uhmm, no, just support for self-hosted CA authority

[2022-02-09 22:56] alexec commented on #7825
Duplicates #7390

[2022-02-09 22:56] #7825 closed

[2022-02-09 23:09] alexec commented on #7390
So code change needs to be here to automatically mount volumes on agent:

https://github.com/argoproj/argo-workflows/blob/ca889ed040a84e24ca66d473e06e21c43ba25dc8/workflow/controller/agent.go#L120

I think we should mount a volume with the certificates. Which volume? Should be from Kubernetes secret containing certs.

I think we'd need to mount the secret as `/etc/ssl/certs/ca-certificates`.

We m

[2022-02-10 02:28] blkperl commented on #7840
Hi @alexec

Another great blog post! ✨

Feedback:

* Based on personal experience new engineers have often never heard the word `idempotent` before and we might want to explain what it means.
* If the step is idempotent we could recommend that they use `retryPolicy: "Always"` in the blog
[code]
* The pod disruption budget links to an example so from the blog post it takes 3 steps to see pod disrup

[2022-02-10 02:55] sarabala1979 commented on #7790
https://github.com/argoproj/argo-workflows/issues/7390

[2022-02-10 03:55] Vrukshali-26 opened #7844 "I would like a mentor"
# Summary

What change needs making?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-10 04:01] terrytangyuan commented on #7844
👋🏻 Hi @Vrukshali-26, is there any particular issue you’d like to pick up or area that you need help with?

Here’s a list of good first issues that might be interesting to you: https://github.com/argoproj/argo-workflows/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

[2022-02-10 04:43] Vrukshali-26 commented on #7844
@terrytangyuan I would like to work with this one https://github.com/argoproj/argo-workflows/issues/7285

[2022-02-10 05:43] sarabala1979 commented on #7790
Cert can be imported/mounted as k8s  secrets into agent pods.  HttpTemplate can have  `tlsConfig` with list  for  secretsRefercences. Agent pods will mount all certs during the creation.

[code]

[2022-02-10 06:36] TakuKaneda opened #7845 "workflow-controller deployment liveness probe fails"
## Summary

The workflow-controller deployment continues to restart due to CrashLoopBackOff.

Our environment:

- Argo workflow: `v3.2.7`
- GKE: `v1.19.15-gke.1801`

## Diagnostics

We have three GKE envs, `dev/stg/prd` and  try to update Argo workflow from v2.10.12 to v3.2.7.
When we deployed the v3 to `dev`, it works fine. However, after applying to `stg`, we encounter this issue.

Here is the m

[2022-02-10 08:08] isubasinghe commented on #5824
I think it is better if we display a list of available links if there is no workflow to be found. This is because workflow **names** can be duplicated in the archived storage layer.  This addresses your use case while being a non-breaking change.

[2022-02-10 08:08] isubasinghe commented on #5824
Does that sound like an acceptable solution @tim-sendible ?

[2022-02-10 08:13] tim-sendible commented on #5824
We have hacked around the issue using a custom container: https://github.com/sendible-labs/argo-workflows-url-finder

It's not clear what you mean by "a list of available links", so I'm afraid I can't answer your question.

[2022-02-10 08:28] isubasinghe commented on #5824
Sorry my bad, I shall elaborate: a list of links to archived workflows that have the name you desire to examine.
So if you want to look at "xyz" and it has been archived a list of links to archived workflows that have the name "xyz" will be displayed instead of the normal error message: ![error message](https://user-images.githubusercontent.com/1142830/152437655-c0ebd4c4-03d1-4234-914e-6272e7870e0

[2022-02-10 08:32] tim-sendible commented on #5824
Presumably though, in the case of only one returned value, you could just 302 redirect the user?

[2022-02-10 08:34] trondhindenes commented on #7836
nice, thanks! That works. Closing.

[2022-02-10 08:34] #7836 closed

[2022-02-10 08:37] isubasinghe commented on #5824
Yeah I'd be happy to add that functionality as well.

[2022-02-10 08:38] tim-sendible commented on #5824
Cool, then yes, what you describe is effectively the solution we are after. Thanks.

[2022-02-10 08:39] isubasinghe commented on #5824
Sweet, no worries!

[2022-02-10 09:21] jackivanov commented on #7390
In my case no

[2022-02-10 11:09] isubasinghe commented on #7745
Should be done before 11pm AEST time tomorrow.

[2022-02-10 12:58] LaloLoop opened #7849 "I would like a ~mentor~ GSoC"
# Summary
I just saw the post about GSoC and I’d like to work on #7588 or #1915 , or any other controller related tasks :)

# Use Cases

At my current job we are already using Argo CD Workflows, Events and some of the other components of the Argo project. I do devops and will mostly benefit from the improvements. I know some Go and Typescript as well.

---

**Message from the maintainers**:

Love

[2022-02-10 16:06] alexec commented on #5824
This could be improved in the following ways:

* If the /workflow/my-ns/my-name link is not found, redirect to /workflow-archive/my-ns?metadata.name=my-name&deep=true.
* In /workflow-archive, if deep=true, and only one archive workflow has that name (common case) then redirect to that one workflow.

[2022-02-10 16:16] terrytangyuan commented on #7844
I can help mentor you on this one.

[2022-02-10 16:19] terrytangyuan commented on #7849
@sarabala1979 @alexec @simster7 Anyone vulunteers?

[2022-02-10 17:16] pavan541cs opened #7850 "I would like a mentor"
# Summary

I just saw the post about GSoC and I’d like to work on https://github.com/argoproj/argo-workflows/issues/7618 or https://github.com/argoproj/argo-workflows/issues/1915, or any other controller related tasks :)

# Use Cases

At my current job we are already using Argo CD . I do DevOps and will most benefit from the improvements. I know some Go.

---

**Message from the maintainers**:

Lo

[2022-02-10 17:19] alexec commented on #7765
https://github.com/kjagiello/hermes

[2022-02-10 17:21] olegmayko commented on #7819
exactly. Should I submit a PR?

[2022-02-10 17:24] terrytangyuan commented on #7849
@alexec Looks like the issue description already links to a couple of issues that @LaloLoop is interested in working on. Those are non-GSOC issues.

[2022-02-10 17:36] LaloLoop commented on #7849
Oh my bad, I completely misunderstood the GSoC and the mentors process. My interest is to contribute features for the GSoC and I just saw the page for available projects.
I see some people have already raised interest for some of them. If available, I'd like to work on this one

https://github.com/argoproj/argo-workflows/issues/3587

Thank you both.

[2022-02-10 20:02] yashvardhan-kukreja commented on #7812
Sure, definitely. Sounds like a plan :)

[2022-02-10 20:08] terrytangyuan commented on #7849
If you are interested in GSoC, take a look at https://github.com/argoproj/argo-workflows/blob/master/docs/mentoring.md#how-to-participate-google-summer-of-code

I am closing this for now. If you are looking for non-GSoC or general mentoring, feel free to re-open this.

[2022-02-10 20:08] #7849 closed

[2022-02-10 20:09] terrytangyuan commented on #7850
Is this for general mentoring or GSoC mentoring? For GSoC, please refer to: https://github.com/argoproj/argo-workflows/blob/master/docs/mentoring.md#how-to-participate-google-summer-of-code

[2022-02-11 01:17] #4090 closed

[2022-02-11 02:19] iamdinesh opened #7851 "Not able to view node logs argo log UI"
## Summary

When I try to view the completed node log from argo log UI, it is throwing "Unsuccessful HTTP response". But I can see whole workflow logs. It is happening after upgrade to emissary executor.

helm - argo-workflow version - 0.9.3

When i try to view particular node log, i notice it is making http call to following API.

GET: /artifacts/tc-tenant-workflows/app-7z4qc/app-7z4qc/main-logs

[2022-02-11 02:42] terrytangyuan commented on #7844
Correct.

[2022-02-11 02:51] Vrukshali-26 commented on #7844
I did it https://github.com/argoproj/argo-workflows/pull/7852

[2022-02-11 04:45] pavan541cs commented on #7850
I am looking for general mentoring and would love to contribute to enhancing argoCD by working and delivering a feature.

[2022-02-11 08:44] Shark commented on #7683
💡 The file must have the name `server.* `.

This isn't mentioned in the docs, I'll open a PR.

[2022-02-11 10:18] edevash commented on #5582
Though the pull request has https://github.com/argoproj/argo-workflows/pull/7621 brought in support for new command line parameter --tls-certificate-secret-name, it looks from code, it is not exposed outside.
// Missing.
command.Flags().StringVar(&tlsCertificateSecretName, "tls-certificate-secret-name", "", "The name of a Kubernetes secret that contains the server certificates")
///
This part avai

[2022-02-11 12:04] isubasinghe commented on #7745
Done, addressed comment in #5824

[2022-02-11 14:08] #7285 closed

[2022-02-11 14:10] terrytangyuan commented on #7844
Congrats on your first PR! That was super quick. https://github.com/argoproj/argo-workflows/pull/7852

I am going to close this issue per https://github.com/argoproj/argo-workflows/blob/master/docs/mentoring.md#how-to-end-your-relationship. However, feel free to send PRs for other issues and discuss there if you have any questions!

[2022-02-11 14:10] #7844 closed

[2022-02-11 14:51] Vrukshali-26 commented on #7844
yeah sure! moving on to working on new issues!!

[2022-02-11 15:14] terrytangyuan commented on #7850
This is Argo Workflows repo though. Not Argo CD. You might want to discuss that in Argo CD instead. In the meantime, we'd be happy to mentor any issues you are interested in picking up in Argo Workflows.

[2022-02-11 15:37] cnu1812 opened #7857 "I would like a mentor"
# Summary

What change needs making?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-11 15:41] terrytangyuan opened #7858 "Issue template for mentoring requests"
# Summary

We've been receiving several mentoring requests and we have to ask them several questions to get going, e.g. type of mentoring, interested issues, etc. One person even asked me on Twitter regarding what type of issue (enhancement or bug report) to create for mentoring requests. It might be useful to create a dedicated issue template for mentoring. Some additional clarification might als

[2022-02-11 15:44] pavan541cs commented on #7850
I would love to work on #7618 and #1915 issues

[2022-02-11 16:45] alexec commented on #7851
Can you please attach:

* The actual version you are running, not Helm chart version.
* The stack trace of the error in your argo-server logs.

[2022-02-11 16:47] alexec commented on #7850
Hi @pavan541cs - I'll be your mentor. What timezone are you in? We can have a Zoom to discus.

[2022-02-11 16:53] #7821 closed

[2022-02-11 16:56] alexec opened #7860 "Resources plugin"
# Summary

Today - the resources template has two downsides:

* It is expensive as it requires one pod per resource.
* It only supports a single resource.
* Resource manifests must come from the workflow.
* Resources are strings, not structured YAML

It would also be an opportunity to complete this:

* #7725
* #7179
* #7143
* #6862

I propose a new plugin:

[code]

---

**Message from the maintain

[2022-02-11 17:31] sarabala1979 commented on #7790
[code]

[2022-02-12 06:33] khanjasir90 opened #7866 "I would like a mentor"
I need a mentor to get started with the Agro Project.

[2022-02-12 06:37] khanjasir90 commented on #7815
@terrytangyuan i would love to take this up

[2022-02-12 06:38] khanjasir90 commented on #7801
@alexec i would love to take this up

[2022-02-12 08:05] SkRai0 opened #7867 "I would like a mentor"
I need a mentor to get started with the argo project.

[2022-02-12 08:15] tooptoop4 opened #7868 "blackout time support"
# Summary

allow configuring ALL CronWorkflows (or even normal workflows) with a time range that they CANNOT start inside

# Use Cases

My target DB that my workflows write data to has a weekly outage at a pre-defined 30 minute block

[2022-02-12 12:52] terrytangyuan commented on #7868
You can set suspend to true for your CronWorkflow before the outage.

[2022-02-12 13:13] cnu1812 commented on #7857
I would like to work on #7814 and #7815

[2022-02-12 13:39] #7858 closed

[2022-02-12 14:05] terrytangyuan commented on #7867
Could you answer the questions in this issue template? https://github.com/argoproj/argo-workflows/blob/master/.github/ISSUE_TEMPLATE/mentoring_request.md

[2022-02-12 14:45] khanjasir90 commented on #7866
Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).
Answer : Yes I have read the mentoring guide.

Question : What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?
Answer : I am familiar with React and Typescript.Learning Kubernetes and Go

Question : I

[2022-02-12 16:45] CIPHERTron opened #7870 "Mentoring request"
**Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).**

Answer: Yes

**What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?**

Answer: I've been making UIs with React & TS for over a year and I also have worked with K8s and Go during my past internshi

[2022-02-12 16:47] CIPHERTron commented on #7378
would love to work on this issue 🚀

[2022-02-12 18:23] tooptoop4 commented on #7868
@terrytangyuan that sounds manual to suspend/unsuspend every week (our org would require change management paperwork too), but if time range is set would be automated.

[2022-02-13 04:19] mehabhalodiya commented on #2026
@terrytangyuan I think the maintainer can close this issue. Seems like it got resolved!

[2022-02-13 04:22] #2026 closed

[2022-02-13 04:22] terrytangyuan commented on #2026
Thanks

[2022-02-13 04:30] mehabhalodiya opened #7872 "I would like a mentor"
**Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).**

Answer: Yes, I have read it. I am submitting this request for general mentoring only (not GSoC).

**What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?**

Answer: I am a junior pursuing Bachelor

[2022-02-13 04:41] terrytangyuan commented on #7868
How about another CronWorkflow that patches the `suspend` field in other existing CronWorkflow before the outage?

[2022-02-13 05:43] a-muk commented on #3587
I would like to contribute to this project for GSOC 2022. Can you please give me some more details on this?

[2022-02-13 06:05] sarabala1979 commented on #3587
Here is the current  memoization  implementation document https://github.com/argoproj/argo-workflows/blob/master/docs/memoization.md

[2022-02-13 06:24] zjgemi opened #7873 "A memoized steps hit, the following nodes not displayed in the UI"
## Summary

When a memoized step with steps template is hit by a ConfigMap record, the nodes following this step are not displayed in the UI (despite they run expectedly). The behavior might result from that the memoized step has no children.

## Diagnostics

The smallest workflow that reproduces the bug looks like

[code]

When the workflow is submitted for the first time, the step `hello-steps`

[2022-02-13 06:37] sarabala1979 commented on #7725
@dmegyesi This is expected behavior.  I  think `rescource  template` doesn't have `wait` container. Can you  remove  wait container resource request from podpatch?

[2022-02-13 08:16] djdongjin commented on #7814
/assign

[2022-02-13 09:33] djdongjin commented on #7810
Hi @blkperl ,

I took a look at replacing the mentioned pkg with `text/template`. IMO the following should be done, given that `text/template` doesn't support `Template.ExecuteFunc` directly as `fasttemplate`, but only uses a `FuncMap` which is basically a map from function names to actual functions:

1. Move the [executed func](https://github.com/argoproj/argo-workflows/blob/4ee1567373a84d3dbc46f

[2022-02-13 14:22] tczhao commented on #5273
Hi @saranyaeu2987 ,
I wonder if this is what you are after
![image](https://user-images.githubusercontent.com/20961507/153757450-e57cccfb-2213-4a92-9dca-0ad9a8320ba3.png)

[2022-02-13 14:49] tczhao commented on #7830
Hi @alexec , would you mind providing more details on this.
I couldn't get my head around what you meant by "Support archived workflows logs in UI from archived logs".
All I'm thinking right now is we can view archived log from archived workflows

[2022-02-13 14:54] tczhao commented on #5262
Hi @simster7 , could you elaborate a bit on what you meant by gcp driver?

[2022-02-13 16:26] #7733 closed

[2022-02-13 22:31] ccfishk commented on #7721
@alexec if I understand correctly,  to use script template requires to setup artifact repository, is it ok to re-use existing artifact repo, is there any other requirement ?

[2022-02-13 23:29] alexec commented on #7721
No, you could template it using parameters

[2022-02-13 23:31] #7290 closed

[2022-02-13 23:47] adeniyistephen opened #7877 "I would like a mentor"
**Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).**

Answer: Yes

**What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?**

Answer: Yes I'm a software engineer with 1 and half years of Golang experience, 1-year experience with Kubernetes but I don'

[2022-02-14 01:29] ccfishk commented on #7721
That means if I want to run following script, do not need to configure artifact-repository ?
`apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  name: wf-script-template
  namespace: argo
spec:
  entrypoint: entry
  templates:
    - name: entry
      script:
        image: expert360/kubectl-awscli:v1.11.2
        command: ["kubectl version"]
`

[2022-02-14 03:37] blkperl commented on #7815
Hi @khanjasir90,

Thanks for volunteering. I've assigned the issue to you. Please do reach out to Terry or I if you have questions either here or on the slack in #argo-contributors.

[2022-02-14 03:41] blkperl commented on #7810
Hi @djdongjin,

Thanks for taking a look at this. Would you like to open a PR with your proposal? If we would could benchmark the change as well then I think that would help with getting it merged.

@alexec @terrytangyuan any thoughts on the implementation detailed above?

[2022-02-14 03:43] Ark-kun commented on #7835
I understand this is non-trivial. However, it might not be as impossible.
For example, if I understand correctly, the emissary executor controls the command-line that's being executed. With artifacts already downloaded to local files by the init container, the emissary executor could read the file and substitute the placeholder.

P.S. Such approach could also help other issues like workflow failur

[2022-02-14 03:48] djdongjin commented on #7810
Hi @blkperl,

Yes, will open a PR. Just want to see if there is any suggestion before implementation. :)

Also is there existing test/benchmarks for the template, or should be included in the PR as well.

Thanks.

[2022-02-14 03:59] blkperl commented on #7829
Wouldn't the removing part need to be done in a 4.0 release? We can add deprecation warnings in the logs and UI in the meantime though.

[2022-02-14 04:53] TakuKaneda commented on #7845
Thank you! Actually we removed the livenessProbe and are seeing how it goes.

I'll look into it, thanks a lot.

[2022-02-14 04:55] sarabala1979 commented on #7873
@zjgemi memoization is only storing the node status of a particular step/task, not an original template.  I don't think we can get memoization templates.
one workaround:  instead of configuring memoization on  `definition templates`  like `steps/dag`, you can configure memoization on `execution templates ` like container, script, etc. It will give the same output.

[2022-02-14 10:34] dimitri-fert commented on #7588
Performed a 2nd test with a simple `exit 1`.I confirm the diagnosis, my limit is set to 2 but back-off is applied even this limit is reached

[code]

[2022-02-14 10:55] TakuKaneda commented on #7845
I found that the error comes from the timeout of listing all workflow resources.
i.e. this line: https://github.com/argoproj/argo-workflows/blob/v3.2.7/workflow/controller/healthz.go#L33

There are too many workflows (over 40k) in our `stg` env so `list` command fails to return within a time.
[code]

Hence we follow the instruction here: delete old workflows and archive them if needed.

https://ar

[2022-02-14 11:48] zjgemi commented on #7873
I understand the workaround. Thanks a lot.

[2022-02-14 12:44] bchalk101 opened #7881 "pypi package for rc missing Licence"
## Summary

What happened/what you expected to happen?
The tar/package of argo-workflows on pypi, is missing the LICENSE file, whereas in previous versions this was included. We internally use conda, and wanted to bump the conda-forge recipe, however, it has a dependency on the LICENSE file and therefore is not publishing. See https://github.com/conda-forge/hera-workflows-feedstock/pull/10

What v

[2022-02-14 12:45] bchalk101 commented on #7881
Happy to do a MR for this

[2022-02-14 12:49] terrytangyuan commented on #7881
Yes feel free to submit a fix for this.

[2022-02-14 14:47] saranyaelumalai-okta commented on #5273
Yes!!. Thanks.

[2022-02-14 15:44] dimitri-fert commented on #7588
Not familiar with the code yet but regarding [this file](https://github.com/argoproj/argo-workflows/blob/bf3b58b98ac62870b779ac4aad734130ee5473b2/workflow/controller/operator.go#L774), it seems to me that we first compute and apply the backoff duration and then check if the limit reach after this duration.

I guess we could avoid requeing the wof if the limit has already been reached (see [here](h

[2022-02-14 15:56] alexec commented on #7801
Hi @khanjasir90 - sure - do you would to propose a spec for this?

[2022-02-14 16:19] alexec opened #7882 "I would like more mentors"
We have a lot of new requests for mentoring, we have 4 mentors.

We could ask other members/key contributors such as:

- [ ] @dinever
- [ ] @blkperl
- [ ] @JPZ13
- [ ] @tczhao

[2022-02-14 16:26] alexec commented on #3587
If you'd like to do this as part of GSoC, you'll need to sign up here:

https://summerofcode.withgoogle.com

GSoC does not start for several months, so if you're instead looking to make impact today, and don't need the benefits of GSoC (see their website for the details), then mentoring might the right approach for you.

[2022-02-14 16:29] alexec commented on #7588
I'm not super familiar with the code, but that looks to be the right area. What I cannot see in that code is where limit is actually enforced. Do we need to look wider?

[2022-02-14 16:33] alexec commented on #7622
@sarabala1979 @JPZ13 @NikeNano @basanthjenuhb  are you ready for Wednesday please?

[2022-02-14 16:34] alexec commented on #7622
Also @andreyvelich will be presenting on Katib.

[2022-02-14 16:52] alexec commented on #7829
I actually think we can and should do this without going v4.0. The executor you use really should be an implementation detail. The emissary should have feature parity with other executors.

[2022-02-14 16:52] #7873 closed

[2022-02-14 16:54] alexec commented on #7835
You suggest moving parameter substitution into the executor. Smart and that makes sense. I think we need more 👍 on this issue.

[2022-02-14 16:56] #7819 closed

[2022-02-14 17:20] iamdinesh commented on #7851
@alexec

When I view logs for particular node:

API: artifacts/dinesh-cicd-infra/hello-worldnsklr/hello-worldnsklr-204589609/main-logs
Status Code: 500 Internal Server Error

[code]

[2022-02-14 17:43] JPZ13 commented on #7882
@alexec What all is involved in mentoring? I'm interested but strained for time this week. I could start in March

[2022-02-14 17:48] terrytangyuan commented on #7882
This is for general mentoring since we got an increasing number of mentoring requests: https://github.com/argoproj/argo-workflows/issues?q=is%3Aopen+is%3Aissue+label%3Amentoring

We should assume that the people who requested mentors are for general mentoring (see the first question in the issue template)

[2022-02-14 18:08] #7881 closed

[2022-02-14 18:12] a-muk commented on #3587
@alexec The applications for participants will open in April right? I'm actually a bit new to all of this.

[2022-02-14 22:53] blkperl commented on #7882
@alexec I can help out minus the Typescript/React/UI part.

[2022-02-14 23:52] #7639 closed

[2022-02-15 02:01] tczhao commented on #7882
Sounds good, happy to be a mentor.

[2022-02-15 05:44] Guillermogsjc commented on #3434
Hi @alexec, being able to put workflow.parameters or attributes as labels would be nice to be able to do:

[code]

[2022-02-15 08:26] dimitri-fert commented on #7588
The limit is enforced at the very end of the function : https://github.com/argoproj/argo-workflows/blob/bf3b58b98ac62870b779ac4aad734130ee5473b2/workflow/controller/operator.go#L913

[2022-02-15 09:14] dshiryaev-plesk commented on #4078
The page has been moved to https://argoproj.github.io/argo-workflows/synchronization/ .

[2022-02-15 10:02] spothound opened #7887 "argo lint always print "found nothing to lint in the specified paths, failing...""
## Summary

I have recently started using argocd and I am interested in adding automatic gitlabci pipelines to our argocd workflow. I tried to make some tests with the argo client linter to see if I could use this tool to prevent syntax error or similar but **I always get the message "found nothing to lint in the specified paths, failing..."** when I run this on any argocd repository.

I have even

[2022-02-15 10:35] edwardfung123 opened #7888 "Observed invalid memory address or nil pointer dereference"
## Summary

What happened/what you expected to happen?

workflow failed but one of the template is shown as running. Upon checking the log, the controller was panic and the high level description is `runtime error: invalid memory address or nil pointer dereference`.

What executor are you using? PNS/Emissary

k8sapi

## Diagnostics

Our DAG is complex, I can't create a simplified DAG to reproduce

[2022-02-15 10:50] terrytangyuan commented on #7887
This is for linting workflows|workflowtemplates|cronworkflows|clusterworkflowtemplates.

[2022-02-15 13:25] a-muk commented on #3587
Thank you @terrytangyuan 🙂

[2022-02-15 13:26] a-muk commented on #3587
Thank you @terrytangyuan

[2022-02-15 16:04] alexec commented on #7588
Should it be a case of changing ">" to ">="?

[2022-02-15 17:53] spothound commented on #7887
Oh, I see, so for any other resource managed by argo, I guess I'll just check yaml syntax with a yaml linter and that's all.

Sorry I didn't notice it was only for those, thanks!

[2022-02-15 17:53] #7887 closed

[2022-02-15 18:16] #7471 closed

[2022-02-15 18:28] blkperl commented on #7857
@cnu1812 the first issue is closed and the second one already has an interested person on the issue. Is there another issue you are interested in? Let me know if you want have a call or slack conversation to help get you started on an issue.

[2022-02-15 18:32] alexec commented on #7810
There should be a lot of test coverage for templates, so it should be easy to know if this is backwards compatible.

I'm not expecting this to impact performance, but that can be verified by reading stress.md, capturing the profiles and seeing there is anything odd in "allocs" or "cpu" profiles.

[2022-02-15 18:34] alexec commented on #7816
Is there somekind of stand-alone HDFS server?

[2022-02-15 18:55] alexec commented on #7882
@dinever only for general mentoring.

[2022-02-15 19:28] alexec commented on #7882
Next actions (if you're happy to help mentoring):

* Please review the linked PR and approve it.
* Take a look at the [mentoring requests](https://github.com/argoproj/argo-workflows/issues?q=is%3Aissue+is%3Aopen+label%3Amentoring+no%3Aassignee) and see if theres someone you think you could help.
* Comment on the issue offering your help. Perhaps add any useful getting started pointers. E.g. guides

[2022-02-15 19:32] alexec commented on #7405
For this feature, I think we should make it opt in for the namespace. I.e. the namespace should be labelled with something like `workflows.argoproj.io/ui: Allow` for them to appear in the list automatiaclly. In multi-tentant systems, you will not want users to determine what the other namespaces are.

[2022-02-15 19:32] alexec commented on #7405
This will require a new `ListNamespaces` endpoint.

[2022-02-15 19:35] alexec commented on #7870
Hi @CIPHERTron,

I'd like to offer to be your mentor. Let me know if that is acceptable to you.

It sounds like you've gotten started already, but not submitted a PR yet. I've added a brief comments to both the issue hoping to give some pointers for direction. You may need more. We can have a Zoom if you like, use Slack, or message via the issues.

Alex

[2022-02-15 20:26] JPZ13 commented on #6750
@alexec We're running into this issue now. Is it cool if I take the upgrade to unblock us?

[2022-02-15 20:27] terrytangyuan commented on #7882
@alexec Perhaps also update the mentoring guide regarding the process as part of https://github.com/argoproj/argo-workflows/pull/7889?

[2022-02-15 21:07] SamOh commented on #5173
+1 to all of the above.

We're trying to use the argo linting in our CI pipeline to catch errors in the manifests before we apply resources to our cluster. The linting fails for any references to workflow templates even if they are defined within the same file. This isn't actually an error and shouldn't be caught by the linting tool as one, given that the template will exist if it were applied abo

[2022-02-15 22:41] NikeNano commented on #7622
Yes, should I send anything before the meeting or it is just to join through the link on CNCF calendar and share screen when it is time to present?

[2022-02-15 23:10] dpadhiar commented on #5405
I will take this issue

[2022-02-15 23:11] sarabala1979 commented on #7622
yes

On Tue, Feb 15, 2022 at 2:41 PM Niklas Hansson ***@***.***>
wrote:

--
Thanks & Regards
Saravanan

[2022-02-15 23:50] terrytangyuan commented on #5405
Wow this got popular. 👍🏻 @dpadhiar assigned to you.

[2022-02-16 00:41] alexec commented on #6750
The PR is blocked on Argo Events PR. I'm waiting for @whynowy to review that PR, because I could not figure out how to get it to work nicely. Hoped he'd be able to bring new ideas to it.

[2022-02-16 00:42] alexec commented on #7882
Yes. We are feeling our way a bit.

[2022-02-16 09:48] wujayway opened #7891 "Global agent pod instead of one per workflow"
# Summary
Hi all, I find argo workflows support plugins since 3.3. An agent pod will load plugins to serve no pods tasks.
In #5544 , agent pod is designed to be one per workflow.
I'm wondering if agent pod could be a global one instead of one per workflow. The agent pod could watch all workflowset  and send request to the plugins. The global agent pod will save k8s resources and also improve perfo

[2022-02-16 10:48] dimitri-fert commented on #7588
I don't think so no. If we use `>=` here we'll skip a retry. We only want to skip a backoff, so we should instead change the condition of the requeue (i.e. don't requeue if the limit has been reached)

[2022-02-16 12:17] LingHuaHui opened #7892 "Request help, can realize drawing the way to generate workflow?"
1. Can Argo UI add workflow by drawing?
2. The flow chart drawn by Activiti is imported into Argo to implement the workflow.

[2022-02-16 14:02] cjvirtucio87 opened #7893 "Limited character support in workflow.creationTimestamp.<STRFTIMECHAR>"
## Summary

The [docs](https://argoproj.github.io/argo-workflows/variables/) mention that we can
reference `workflow.creationTimestamp.<STRFTIMECHAR>` to get the value of a
[strftime format character](http://strftime.org/). However, it seems only a few characters
are supported. Using `workflow.creationTimestamp.d` and `workflow.creationTimestamp.Y`
works for getting the day and year, but `workflow

[2022-02-16 14:43] alexglatt opened #7894 "Get command-line/environment information/data from within a Workflow Template"
## Summary
In my Workflow Template, I want to include a parameter that, whenever the Workflow that uses this Workflow Template does not specify a value for that parameter, pulls the information from the command line where the Workflow is submitted on.
Specifically, I want to execute a command line command and need the result of that command inside the Workflow Template and, therefore, in the Workf

[2022-02-16 14:56] terrytangyuan commented on #7892
This issue template is only for mentoring. Not feature request.

Also this is a duplicate of https://github.com/argoproj/argo-workflows/issues/5610 so I am closing this.

[2022-02-16 14:56] #7892 closed

[2022-02-16 16:20] khanjasir90 commented on #7815
sure! thanx

[2022-02-16 16:32] alexec commented on #7588
Do you mean `woc.requeue()`? If so, that function can be called for many reasons, so I don't think fix can be there.

[2022-02-16 16:40] alexec commented on #7893
I think you might be able to use `{{=sprig.date(workflow.creationTimestamp, "2006")}}`

You'll need to dive into the docs to get the right expression:

https://argoproj.github.io/argo-workflows/variables/#expression

[2022-02-16 16:42] alexec commented on #7891
One enhancement, we should not load plugins, unless workflow has plugins.

Plugins should be lightweight, if you need a heavy-weight one, then run a normal delpoyment and service, and the plugin should proxy to the service.

[2022-02-16 17:18] grid-dev commented on #2154
It's already made it into a Stackoverflow question https://stackoverflow.com/questions/68334643/enable-anonymous-read-only-access-to-users-in-argo-workflows-similar-to-argocd

[2022-02-16 17:23] alexec commented on #7588
sure, do you want to submit PR?

[2022-02-16 17:33] alexec commented on #6750
Ugh. This is a massive tangel of dependiencies.

[2022-02-16 17:47] terrytangyuan commented on #7866
The issue to be worked on https://github.com/argoproj/argo-workflows/issues/7815.

[2022-02-16 17:48] terrytangyuan commented on #7866
Would you like to be a mentor on this? @blkperl

[2022-02-16 18:22] mynameisfiber opened #7895 "Serialization issue in withItems leading to duplicate tasks"
## Summary

With argo version 3.2.6, when submitting workflows that use `withItems` where the value has double quotes inside of single quotes (ie: `value: '"foo"'`) then each task is doubled where the duplicate task contains a different quote-escape of the parameters.

Note that this single-double quoting is a result of hera-workflows sending json blobs back and forth.

[code]

Interestingly, once

[2022-02-16 18:51] alexec opened #7896 "Does pod names v2 result in too long pod names?"
Pod names can only be so long:

https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#dns-subdomain-names

We don't want to break any workflows when you enable this feature. So we should trim the pod name.

Maybe we already do this?

[2022-02-16 18:51] alexec commented on #7896
@JPZ13 can you check pls?

[2022-02-16 18:56] JPZ13 commented on #7896
@alexec Happy to. Can you assign to me?

[2022-02-16 19:40] noam-codefresh opened #7897 "Save containerSet logs in logs archive"
# Summary

Currently, the logs archive only saves the "main" container logs. When using a ContainerSet, a lot of information is being lost once the pod is removed from the cluster.
I propose saving all the container logs in the archive (with the exception of the `init` and `wait` containers).

# Use Cases

In many cases, immediately or shortly after a wf has completed its run, its pod are getting

[2022-02-16 19:56] terrytangyuan commented on #7897
Potential duplicate but this is more related to containerSet: https://github.com/argoproj/argo-workflows/issues/7830

I don't think we support saving logs for non-main containers but we probably should support it for containerSet containers.

[2022-02-16 20:06] noam-codefresh commented on #7897
I have PR *almost* ready for it. i still need to iron out some kinks, but the main flow is working for me.
Regarding the archived-workflow-archive-logs - I am not sure it is directly related.

[2022-02-16 20:07] #7790 closed

[2022-02-16 20:07] noam-codefresh commented on #7830
If I understand correctly - the current UI does not make the request to get the logs (output artifacts) by the workflow's UID? because the server's endpoint for it exist.

[2022-02-16 21:46] blkperl commented on #7866
@terrytangyuan Yep

@khanjasir90 Let me know if you would like to zoom or have a slack conversation about #7815 or any of the other various getting started items.

[2022-02-16 22:44] mynameisfiber commented on #7895
Poking around, it seems like this may be part of the issue: https://github.com/argoproj/argo-workflows/blob/master/pkg/apis/workflow/v1alpha1/item.go#L67-L71

[2022-02-17 01:20] LingHuaHui commented on #7892
Asking for help, can you now implement the way drawing generates workflow?

[2022-02-17 01:20] LingHuaHui commented on #7892
Asking for help, can you now implement the way drawing generates workflow?

[2022-02-17 02:17] terrytangyuan commented on #7892
No that's not supported which is why the linked issue is still open.

[2022-02-17 02:31] LingClassmate commented on #7892
Is there any requirement that can be realized:
Flowchart drawing tools such as Activiti and Camunda can be used to design a flowchart and then be connected to or imported into Argo Workflow for execution

[2022-02-17 06:10] edwardfung123 commented on #7888
@sarabala1979 Sorry I upgraded the server to `3.2.7` to see if it fixes the issue. I still get the nil pointer error. But the stack trace showed a different error. It changed from `SemaphoreStatus` to `MutexStatus`.

Here is the workflow for `3.2.7`:

[code]

The stacktrace:

[code]

[2022-02-17 08:32] tooptoop4 opened #7900 "metadata.generateName or metadata.name should allow variables in their definition"
if I try some variable within these values they complain about { is not a valid alphanumeric

[2022-02-17 11:32] edwardfung123 commented on #7888
I re-ran the reproducible workflow in `3.2.6`. I got the same `MutexStatus` error.  I hope it gives you enough info to identify and fix the bug.

[2022-02-17 11:56] terrytangyuan commented on #7900
I don’t think you can substitute these.

[2022-02-17 12:04] terrytangyuan commented on #7868
One CronWorkflow’s spec could contain a resource template that runs kubectl patch to another CronWorkflow to modify the suspend field.

[2022-02-17 12:34] tooptoop4 commented on #7868
wouldn't argocd's auto sync then try to overwrite it with what git has?

[2022-02-17 12:50] terrytangyuan commented on #7868
You can ignore diff from fields. Check this out: https://blog.argoproj.io/new-sync-and-diff-strategies-in-argocd-44195d3f8b8c

[2022-02-17 15:13] afilipchik commented on #5508
@alexec We are expiriencing a similar issue. Our connection to Postgres is routed via service mesh and looks like the connection is periodically killed.

I know that a lot of postgres drivers can re-establish a connection, any reason it is not happening in our case. The error is: ```broken pipe```

[2022-02-17 15:22] flaviuvadan commented on #7781
@terrytangyuan I started exploring this and it's a bit unclear to me what is really going on. I attempted performing the call with a `pod_name` as well but nothing comes back from the Argo server (I edited the library code on local and added a bunch of print statements around the API response and it's... empty, even if there are logs). I have to dive into this and see whether the server does not r

[2022-02-17 15:48] alexec commented on #7895
I knew that code would cause problem. I'm not sure this is fixable due to inherent problems with the design of `Item`.

Instead, I think we need #7801

[2022-02-17 15:50] alexec commented on #7739
The new Java JAR uses Java8 date time, not JODA. Can you please try a Java 8 date time.

[2022-02-17 16:57] alexec commented on #3046
I'm not sure we need this, `withParam` achieves it.

[2022-02-17 17:01] alexec commented on #7895
I take this back. I think this is just a bug.

[2022-02-17 17:27] mynameisfiber commented on #7895
@alexec thanks so much for looking into this!

[2022-02-17 17:30] alexec commented on #7895
I've run latest and I do not see this behaviour:

[code]

[2022-02-17 17:37] iamdinesh commented on #7851
@alexec, There is no error on workflow server.

http://localhost:2746/artifacts/dinesh-cicd-infra/dinesh-local-test-hfmrq/dinesh-local-test-hfmrq/main-logs api fails with `500 Internal Server Error`
body - `secrets "argo-artifacts" is forbidden: User "system:serviceaccount:dinesh-cicd-infra:tc-workflow-admin" cannot get resource "secrets" in API group "" in the namespace "dinesh-cicd-infra"`

So,

[2022-02-17 17:44] sarabala1979 opened #7906 "Add Retry API on Archive workflow"

[2022-02-17 17:44] sarabala1979 opened #7907 "Add Archive Retry Command on CLI"

[2022-02-17 17:44] sarabala1979 opened #7908 "Add Retry Button on UI"

[2022-02-17 17:44] sarabala1979 opened #7909 "Add Resubmit API on Archive workflow"

[2022-02-17 17:45] sarabala1979 opened #7910 "Add Archive Resubmit Command on CLI"

[2022-02-17 17:45] sarabala1979 opened #7911 "UI: Add Resubmit Button for Archived Workflows"

[2022-02-17 17:46] #7851 closed

[2022-02-17 19:06] mynameisfiber commented on #7895
@alexec Strange! Oddly enough I get the same type of output as you... no reference to the `test9ckrq-2427085523` node which was alive before the job was finished and which added to the logs (from `argo -n etl logs @latest`).

 I've got v3.2.6 client and controller. Here is the output for the workflow from my first post:

[code]

[2022-02-17 19:54] alexec opened #7912 "ArgoCD plugin"
I'd like a plugin that allows you to perform action on an Argo CD app:

* Update and sync and wait - e.g. if you wanted a deployment
* Delete - e.g. if you wanted a temporary app during e2e testing

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-17 20:02] alexec opened #7913 "Python plugin"
A Python plugin that allows you to execute basic Python scripts.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-17 20:09] CIPHERTron commented on #7870
Hey @alexec thank you so much for the offer. I would love to have you as my mentor. Sorry for the late response as I was sick since the past 2 days

Nope, I haven't submitted a PR. I had a couple of questions that are acting as a blocker for me as of now.

A zoom call would be really helpful. Also, I'm available in CNCF slack. Both of them work for me. Let me know what works for you and I'll also

[2022-02-17 20:27] alexec commented on #7870
Zoom might be easiest. When's good for you? Which TZ are you in?

[2022-02-17 20:34] CIPHERTron commented on #7870
I'm in the IST Timezone and it's 2:00 AM here right now.
https://time.is/IST

[2022-02-17 21:06] alexec commented on #7870
Hi - I'm in Pacific Time, so we don't have overlapping hours :(

For the template-defaults - I think there is a bug in the UI where it looks at the wrong field - it's looking at spec, but it should be looking at status.storeWorkflowSpec.

To start the UI, run `make start UI=true` and open http://localhost:8080.

[2022-02-17 21:19] tooptoop4 commented on #7900
@alexec does your example work in released version or is it a proposal?

[2022-02-18 00:04] alexec commented on #7900
It is proposal.

[2022-02-18 01:50] alexec opened #7914 "Tighten up agent pod spec"
The agent pod spec allows the agent to do things we should fix:

[code]

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-18 02:08] tczhao commented on #7872
Hi, @mehabhalodiya I'll be your mentor.
We can communicate/meet through slack (https://argoproj.github.io/community/join-slack/).

[2022-02-18 02:19] RifeWang opened #7917 "Input and output artifacts support artifactRepositoryRef"
# Summary And Use Cases

We have multiple artifact repositories and have them configured in the configMap, like:
[code]

And then we can reference them in a key-only way in a same workflow ：
[code]

Since `workflow.spec.artifactRepositoryRef` can only refer to one artifact repository, it is not very convenient and concise when we need to use multiple artifact repositories.

---

**Message from the

[2022-02-18 02:49] alexec opened #7918 "Plugins don't count toward progress"

[2022-02-18 05:33] cnu1812 commented on #7857
Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).

Answer: Yes.

What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?

Answer: I have a bit experience with kubernetes and go.

Is there any particular issue you'd like to work on? You may want to check out the [

[2022-02-18 05:51] CIPHERTron commented on #7870
Yeah.Time zones can be daunting :(

I already have the local setup ready i.e. both UI and argo-server API but am unable to figure out which route to go in-order to find the template defaults.

[2022-02-18 14:55] tooptoop4 opened #7920 "Start/End times in UI missing detailed timestamp (HH:MI:SS)"
UI start/end times don't show exact timestamp ie HH:MI:SS . When debugging a failed workflow the exact minute/second is very useful to know.

![image](https://user-images.githubusercontent.com/33283496/154706143-ef11130e-e94b-49dc-91aa-817f54bce8cf.png)

[2022-02-18 15:39] pavan541cs commented on #7850
I am in IST timezone

[2022-02-18 16:35] terrytangyuan commented on #7829
Just add a note here that we will also need to remove the functionality that allows using different executors.

[2022-02-18 16:55] Piroddi opened #7921 "Unnecessary error prior to logging in with SSO"
## Summary

Once sso is configured an error will appear on the landing page, before login has occurred. This is not a valid error as the user just needs to login. However it effects the aesthetic of the landing page and can give off the impression that something is wrong with the Argo server.

What happened/what you expected to happen?

Have a general landing page for login. Similar to ArgoCD

![i

[2022-02-18 17:12] tooptoop4 opened #7922 "workflow-workers limit not working?"
my startup configs are below. i have single step workflows but somehow 350 workflows were able to start (via argo-events sqs sensor), why doesn't the --workflow-workers 16 limit get enforced?

      --configmap
      argo-workflows-workflow-controller-configmap
      --executor-image
      quay.io/argoproj/argoexec:v3.2.8
      --loglevel
      info
      --gloglevel
      0
      --workflow-worke

[2022-02-18 17:18] alexec commented on #7850
Ah. There is no good time overlap between IST and PST for doing meetings. Options:

1. We can try and find you mentor in a timezone that overlaps.
2. We can do mentoring async.

What would you like?

[2022-02-18 17:19] alexec opened #7923 "Ask for timezone in mentoring guide"
We should ask both mentors and mentees what TZ they are in, as it is not great to mentor people in IST if you are is PST.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-18 17:50] alexec commented on #7895
In your YAML I do not see the duplicated node under `spec.nodes`. I hypothesies that this this is a CLI only issue. That then makes me wonder if it has been fixed in a more recent version.

To test this hypothesis, could you do either of the following

1. Confirm that a second pod was created, e.g. starting `kubectl get pods -w` while running the workflow.
2. Upgrade your CLI to the latest version

[2022-02-18 17:54] alexec opened #7925 "Individual containers within container set do not count towards progress"
This may be a minor issue, creating for reference.

The progress of a workflow could a whole container set a 1 toward progress. This is because we count pods, not containers, towards progress.

[2022-02-18 17:54] alexec commented on #7921
Maybe a cheap solution to this, is to add some help text to the page telling users to not to worry about the error message?

[2022-02-18 17:57] #7922 closed

[2022-02-18 18:19] terrytangyuan commented on #7925
Should we distinguish them and have a mechanism for container set?

[2022-02-18 18:51] flaviuvadan commented on #7895
@alexec I'd also like to confirm there are no duplicate pods created. I tested this when @mynameisfiber [first reported](https://github.com/argoproj-labs/hera-workflows/issues/98#issuecomment-1042059541) this on Hera.

[2022-02-18 19:39] alexec commented on #7306
Based of the feedback so far, and we should get more, a bug bash is top topic.

[2022-02-18 22:03] Ark-kun commented on #7835
I suspect there are both pros and cons to this approach =)

Some other thoughts about alternative solutions:

Perhaps it might be good for Argo to make artifacts/drivers more accessible to the controller and UX.
It would enable several new scenarios like artifact previews in the UX like in KFP
It would also pave way for merging the concepts of parameters and artifacts and having a single way of st

[2022-02-18 22:38] alexec commented on #7835
If I rearchiteted workflows, I'd make a workflow like a small app. I'd move all the responsibilty the actual execution into the user namespace.

[2022-02-18 23:12] blkperl commented on #7586
Is this a duplicate of #7527?

@alexec Can we add something to the upgrade guide for 3.2 if we plan to change the limit to 128kb instead of 256kb?

[2022-02-19 01:25] alexec opened #7931 "Windows image no longer building"
See

https://github.com/argoproj/argo-workflows/runs/5132490672?check_suite_focus=true

[code]

[2022-02-19 01:25] alexec commented on #7931
@argoproj/argo-windows can any one please help?

[2022-02-19 04:18] terrytangyuan commented on #7931
Looks the URL to download docker-cli has changed:

Last successful build: https://github.com/argoproj/argo-workflows/runs/5118433404?check_suite_focus=true
[code]

Failed build: https://github.com/argoproj/argo-workflows/runs/5253173822?check_suite_focus=true
[code]

[2022-02-19 07:49] lippertmarkus commented on #7931
@terrytangyuan thanks! Instead of pinning to an old version I would favor adapting to the new directory structure of the new package. I created https://github.com/argoproj/argo-workflows/pull/7933 for that.

[2022-02-19 11:09] #7931 closed

[2022-02-19 11:53] chazapis commented on #7586
@blkperl, yes, I think this is a duplicate of #7527, and it seems to be caused by [the switch from Debian images to Alpine](https://github.com/argoproj/argo-workflows/issues/7527#issuecomment-1016172690).

[2022-02-19 22:12] DPT4 commented on #7921
@Piroddi thanks for reporting this. I'm also dealing the same issue.
It would be really nice to have a SSO onboarding screen like ArgoCD.

[2022-02-20 19:32] louisnow opened #7934 "Using on exit handlers with semaphores leads to workflow operation error on retry"
## Summary

#### Argo Version: 3.2.8 with Emissary

#### What happened
Using on exit handlers with semaphores leads to workflow operation error on retry. Similar to https://github.com/argoproj/argo-workflows/issues/7888 from the logs
`invalid memory address or nil pointer dereference`

https://user-images.githubusercontent.com/6024271/154860669-4d92e078-2f0c-43f1-aa3a-5a0ebe546e56.mov

#### What y

[2022-02-20 19:38] louisnow commented on #7888
Similar error when using an exit handler
https://github.com/argoproj/argo-workflows/issues/7934

[2022-02-20 19:39] sarabala1979 opened #7935 "Windows Release is failing in v3.3.0-rc5"
<img width="914" alt="image" src="https://user-images.githubusercontent.com/33908564/154860991-effeb278-c567-4f45-bfeb-5411c06104fb.png">

## Summary

What happened/what you expected to happen?

What executor are you using? PNS/Emissary

## Diagnostics

Paste the smallest workflow that reproduces the bug. We must be able to run the workflow.

[code]

What executor are you running? PNS/Emissary

[c

[2022-02-20 19:53] terrytangyuan commented on #7935
This has already been fixed https://github.com/argoproj/argo-workflows/issues/7931

[2022-02-20 19:54] terrytangyuan commented on #7935
You’ll probably want to cherry pick that Windows fix.

[2022-02-20 20:27] louisnow opened #7936 "Unable to set parallelism for DAG at template level from another DAG"
## Summary
#### Argo 3.2.8 with Emissary

### What happened?
I can't set the parallelism value for a part of a DAG from another DAG. I've attached the workflow.

https://user-images.githubusercontent.com/6024271/154862771-e4426396-490f-449e-9435-aafbab0aed63.mov

### What you expected to happen?
I expected to be able to control the parallelism factor. If I set the root template's parallelism, it w

[2022-02-20 20:48] sarabala1979 commented on #7935
I took the entire master for RC. Let me check it the PR merged after I  merged

[2022-02-21 00:11] rainfd commented on #5859
@alexec  Can you highlight HTTPS on the Quick Start doc? We stuck on this problem for couple hours.

[2022-02-21 05:21] wujayway commented on #7891
Hi alexec,
I understand what you concern. Maybe our k8s system is a little bit special. It is customized, and the creation of a pod  may cost 10 ~ 15sec, even pod is lightweight. However, small tasks execute in seconds. So if there is a global agent to execute non-pods task, it will save the cost of creation of pod which improve a lot if the workflow consists of some small tasks.
It looks like it

[2022-02-21 06:11] PradeepLoganathan opened #7937 "I would like a mentor"
**Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).**

Answer: Yes

**What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?**

Answer:  I have extensive experience on Kubernetes and have deployed multiple systems using K8s as the underlying container

[2022-02-21 07:25] journey-wang opened #7938 "How to patch workflow with K8s client-go api"
# Summary

How to patch worfklow annotations/labels?

# Use Cases

I need to update the workflow annotations/labels via api, but unfortunately, argo sdk didn't provide this API. WIth kubectl, like kubectl label/annotation, or kubectl edit workflow <workflow-name>, this can be easilily.

But I wonder how to do this work via Kubernetes go client sdk?

Thanks very much.

[2022-02-21 08:16] kpiroddi-yieldstreet commented on #7921
@alexec unfortunately I am not a frontend developer :) So my pr might be less than useful.

But hoping for rather than just a message to ignore the error. Argo Workflow can incorporate a proper login screen (Like ArgoCD). In my opinion it will give Argo Workflow a better first initial impression when team members first use Argo Workflows (Could even go a far as saying, would make it like more prof

[2022-02-21 10:28] tczhao commented on #7923
Maybe we can specify/request the TZ in both

- mentoring document
- mentoring issue template

[2022-02-21 11:32] tczhao opened #7940 "workflow failed when `withSequence` is used and `when` evaluated to false"
## Summary

When trying to use `when` condition in combination with `withSequence`,
if `when` is evaluated to false, the workflow fails with error
`failed to resolve {{tasks.get-items.outputs.artifacts.items}}`

Expect:
We expect the step/task to skip when `when` evaluated to false and workflow succeed

Version:
Lastest Master [ad31267](https://github.com/argoproj/argo-workflows/commit/ad312674a0b

[2022-02-21 12:45] guillaumBrisard commented on #6769
It's not enough I think.
When we have 2 argo workflow deployed on the same cluster.
We will need to specify which one we want to use for ours workflows.

To manage namespace there is 2 options :
1.  the managed namespace decide which argo wf namespace it will use
2.  the argo wf ns decide the list of ns it will manage

The 2 options are not exclusive, but I will need to control which ns used my ar

[2022-02-21 16:32] louisnow commented on #7934
I've noticed it happening even without the exit handler in more complicated DAGs where we use semaphores.
Using parallelism could be a workaround but we're [facing issues](https://github.com/argoproj/argo-workflows/issues/7936) with that approach as well.

[2022-02-21 16:54] alexec commented on #6769
I think this can also be achieved by using instance ID.

[2022-02-21 16:57] alexec commented on #7586
This issue was raised as a “bug”, rather than a “regression”, but it seems like a regression in from v3.1 to v3.2.

[2022-02-21 17:05] alexec commented on #7938
Yes. Just use the standard client-go for this.

[2022-02-21 17:05] #7938 closed

[2022-02-21 17:07] alexec commented on #7940
I think this might be duplicate.

[2022-02-21 17:07] alexec commented on #7940
@tczhao is this a bug or a regression?

[2022-02-21 17:11] #7935 closed

[2022-02-21 17:12] alexec commented on #7923
Maybe just as - are you in:

* Americas
* Europe, Middle East or Africa (EMEA)
* Asia Pacific (APAC)

[2022-02-21 17:16] alexec commented on #6115
I think this has been fixed.

[2022-02-21 17:16] #6115 closed

[2022-02-21 17:20] alexec commented on #7355
Please try using “apply” rather than “create” and retry-strategy, I’ve blogged here about this.

https://blog.argoproj.io/architecting-workflows-for-reliability-d33bd720c6cc

[2022-02-21 17:20] #7355 closed

[2022-02-21 17:23] alexec commented on #7527
This is actually a regression and should not have been closed.

[2022-02-21 17:34] alexec commented on #7586
This regression maybe caused by using Alpine rather than Debian. This reduces ARG_MAX. It does not look possible to change this with simple reconfiguration (you must recompile your kernel):

https://unix.stackexchange.com/questions/336934/raise-128kib-limit-on-environment-variables-in-linux

However, there is an ugly, but workable solution. Because of the limit on the size of an annotation, we onl

[2022-02-21 17:40] alexec commented on #7895
Unless this can be reproduced, we cannot fix this. I’m not sure how to proceed.

[2022-02-21 18:02] mynameisfiber commented on #7895
@alexec do you not see the duplicate log entries when running the test workflow? So far the outputs we've both shared are consistent with one-another and the logs are the only place, once the workflow is finished, where this duplicate task is recorded.

Running `kubectl get pods -w` doesn't show the duplicate tasks either. All this _seems_ to be pointing to the fact that these duplicate tasks are

[2022-02-21 18:08] CIPHERTron commented on #7870
@alexec isn't the required UI supposed to be here in the workflow templates?

<img width="1438" alt="Screenshot 2022-02-21 at 11 35 55 PM" src="https://user-images.githubusercontent.com/56754747/155007259-0deccb71-c475-4335-b3c8-9432fcb25ea8.png">

[2022-02-21 18:08] mynameisfiber commented on #7895
Actually, I do see them both starting in the PodInitializing phase!

[code]

Meanwhile:

[code]

... later ...

[code]

This is with:

[code]

[2022-02-21 18:10] CIPHERTron commented on #7870
I'm not able to hunt down where the `env` field is present :(

[2022-02-21 18:12] mynameisfiber commented on #7895
Upgraded CLI leads to the same behavior :

[code]

[2022-02-21 18:24] CIPHERTron commented on #7870
NVM. I found it 💪🏻

https://github.com/argoproj/argo-workflows/blob/79fc4a9bea8d76905d314ac41df7018b556a91d6/ui/src/app/workflows/components/workflow-node-info/workflow-node-info.tsx#L332

If you check here, we are actually checking if the container has any `env` with the help of the `hasEnv` function. If we get a `true` then we are rendering the `<EnvVar />` component which will display the env o

[2022-02-21 18:38] Alfablos opened #7945 "Panic when injecting arguments.parameters in a DAG if the value comes from an expression"
## Summary

What happened/what you expected to happen?
I'm learning about workflows' conditionals and it should be possibile to inject an input conditionally; however if I use valueFrom.expression in the arguments.parameters of the template argo panics with `argo lint` and `argo submit`

What executor are you using?
Emissary

## Diagnostics

Paste the smallest workflow that reproduces the bug. We

[2022-02-21 23:34] tczhao commented on #7940
There was https://github.com/argoproj/argo-workflows/issues/4784, and that issue no longer exist in latest version.

This is the first time we use this combination, not sure if it's a regression or bug. Probably call it a bug?

[2022-02-22 00:52] Stevenyu1982 opened #7949 "Argo CLI command to support SSH to the container"
# Summary

Often time, we need login to the container /pod to do some troubleshooting,  it could be done by kubectl exec , however if argo can do it, example "argo ssh taskid" , that will help a lot dev engineer who may not know k8s.

# Use Cases
Argo ssh taskid

When would you use this?

troubleshooting and debug

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍

[2022-02-22 02:39] alexec commented on #7895
There is some inconsistencies with some of the data here. For example, you should never two pods unless you have two pod nodes with in your YAML - you do not have these.

Your log file shows a conflict error. This can occur when there are two workflow controllers running in a single cluster, both trying to update the same workflow. Could you check to make sure this is not the case so that we can r

[2022-02-22 02:48] alexec commented on #7870
I’d need to check the code, but maybe WorkflowNodeContainer Is being passed the container from .spec, not from .status.storedWorkflowSpec?

[2022-02-22 08:53] chazapis commented on #7586
@alexec, unfortunately I can not do this right now.

[2022-02-22 08:57] mynameisfiber commented on #7895
@alexec we indeed have two controllers running, but they are in different namespaces. I take it that this is a mistake? We have the `etl` namespace which is running argo <v3 and `etl-argo-v3` where we are testing argo v3.2.6.

[2022-02-22 09:01] mynameisfiber commented on #7895
Here are the controllers... both namespaces installed with the argo helm charts.

[code]

[2022-02-22 11:47] LingClassmate opened #7953 "Why is Curl unable to access nginx?"
`apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  generateName: artifact-passing-
spec:
  entrypoint: artifact-example
  templates:
  - name: artifact-example
    steps:
    - - name: generate-artifact
        template: generate-message
    - - name: consume-artifact
        template: print-message
        arguments:
          artifacts:
          - name: message
            from: "{{st

[2022-02-22 11:57] LingClassmate commented on #7953
`args: ["curl http://localhost | tee /tmp/hello_world.txt"]`
I want to use curl to access the nginx container and transfer the data to the consumer

[2022-02-22 14:16] terrytangyuan commented on #7829
Some learnings from @alexec's POC: https://github.com/argoproj/argo-workflows/pull/7930#issuecomment-1047371627

[2022-02-22 15:41] alexec commented on #7895
Are they different versions? Are they configured with --managed-namespace?

[2022-02-22 15:42] #7940 closed

[2022-02-22 15:48] alexec commented on #7945
I'm afraid you cannot use `valueFrom` in this context. Try using expression tag template instead:

[code]

[2022-02-22 15:48] alexec commented on #7949
You should be able to use

[code]

[2022-02-22 15:50] alexec commented on #7953
I'm really not sure how to help you. This is core Kubernetes, not really Argo. Just curl the service name, endpoint, or load-balancer.

[2022-02-22 15:50] #7953 closed

[2022-02-22 15:51] alexec commented on #7936
[code]

[2022-02-22 15:52] alexec commented on #7936
I'm not sure that this works in your case, but you could try using semaphores instead.

[2022-02-22 15:54] alexec commented on #7937
Hi @PradeepLoganathan - can I ask what TZ you're in please?

[2022-02-22 15:55] alexec commented on #7877
Hi @adeniyistephen can I ask what TZ you're in please?

[2022-02-22 16:19] louisnow commented on #7936
Thanks @alexec .
We've been having reliability problems with semaphores where the lock does not release if there's an error.
The workflow has failed but unless I completely delete the workflow, the locks do not release. Will keep you posted if I can reproduce it.

[2022-02-22 16:27] alexec opened #7954 "Published Snyk report"
@crenshaw-dev

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-22 16:27] alexec commented on #7954
As discussed in meeting.

[2022-02-22 16:40] Alfablos commented on #7945
This way It doesn't panic, but the string is neither ok or ko. The last container echoes nothing.
Also, reading the [documentation for the parameters field](https://argoproj.github.io/argo-workflows/fields/#parameter) under DAGtemplate - DAG Task - arguments - parameters I understand that `value` only accepts a string as a value and `expression` is only to be under the `valueFrom` key.
Also expres

[2022-02-22 16:52] alexec commented on #7945
Sorry - wrong syntax:

[code]

[2022-02-22 17:09] alexec opened #7955 "Change from using the default service account to a specific account"
# Summary

Today, if a workflow does not specify a service account, we use the default service account. Because the default service account maybe used for many things, it is likely we see many additional privileges added to it over time - until it becomes god like.

Users should never use the default service account in production.

Instead:

- [ ] Print a warning in the controller when the default

[2022-02-22 17:18] Alfablos commented on #7945
ok,
[code]
this works.
I tried to play with it a little bit and I finally found the correct syntax: `"{{=tasks['diff-env'].outputs.result contains 'no differences' ? 'ok': 'ko'}}"`.
Documentation was actually clear about this:
[code]
However I think it's worth investigating why using arguments.parameters[*].valueFrom.expression causes a panic (see the link to the docs). It should be legal but most

[2022-02-22 17:19] neilharris1 opened #7956 "Cannot pass input parameters to volumeClaimTemplate resource.requests.storage"
It appears it's not possible to pass input parameters as volumeClaimTemplate storage values.

I'm receiving the following error when attempting to execute a workflow with the below configuration.

`quantities must match the regular expression '^([+-]?[0-9.]+)([eEinumkKMGTP]*[-+]?[0-9]*)$'`

[code]

argo-workflow version: 3.1.6
K8s: v1.21

[2022-02-22 17:24] #7956 closed

[2022-02-22 17:25] alexec commented on #7945
Yes. We should not panic. I think this is fixed by this commit:

https://github.com/argoproj/argo-workflows/commit/e2e046f6fded6581f153598100d3ccf9bb661912

So no action needed.

[2022-02-22 17:25] #7945 closed

[2022-02-22 18:07] ehienabs opened #7957 "I Would like a mentor"
**Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).**

Answer: Yes I have,

**What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?**

Answer: I have experience with Kubernetes but I am very excited about learning Go.

**Is there any particular issue

[2022-02-22 18:09] alexec commented on #3961
We should test some attacks to verify this is true. Much of the pod spec is immutable, is it really true that you can change the image or args?

[2022-02-22 18:20] #7923 closed

[2022-02-22 18:24] adeniyistephen commented on #7877
Hello @alexec Thank you for reaching out, I'm in the (UTC +1/ GMT +1) time zone.

[2022-02-22 18:26] alexec opened #7959 "Move plugins to argolabs"
# Summary

What change needs making?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-22 19:09] gavinclarkeuk opened #7962 "Ability to set default container security context"
# Summary

Currently you can only set the default pod security context as part of `workflowDefaults`. It would be good to be able to set a default container security context as well. At the moment there doesn't seem to be a good way to do this, as the container securityContext can only be set in the container template definition in a workflow/workflowTemplate.

Moving this to defaults would potent

[2022-02-22 19:18] #7913 closed

[2022-02-22 19:25] #7959 closed

[2022-02-22 19:25] alexec opened #7964 "Improve executor default security posture"
The executor has a number of things we could improve:

- [x] #3961
- [ ] #7955
- [x] #7829
- [x] #6895 (depends on #7804)
- [x] #7486

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-22 19:37] #7918 closed

[2022-02-22 19:37] #7925 closed

[2022-02-22 19:50] terrytangyuan commented on #7957
You mentioned that you'd like to learn Go but the issue you linked to is a front-end issue which requires knowledge in React.

[2022-02-22 19:50] #7914 closed

[2022-02-22 19:54] terrytangyuan commented on #7877
I can be a mentor for this one. @adeniyistephen Looks like you might want to re-pick issues: one of them is closed and another one is front-end issue. I am not 100% sure if https://github.com/argoproj/argo-workflows/issues/4867 would be a good one to work on.

[2022-02-22 20:08] ehienabs commented on #7957
Thank you for getting back to me Terry. I have found some issues I would love to work on. I think I am interested in tech debt. So I found some issues I am interested in.
https://github.com/argoproj/argo-workflows/issues/7829
https://github.com/argoproj/argo-workflows/issues/7815
https://github.com/argoproj/argo-workflows/issues/7802
https://github.com/argoproj/argo-workflows/issues/7800
https://g

[2022-02-22 21:56] Alfablos commented on #7945
ok, wonderful. Thanks!

Maybe just the docs? I mean, I didn't understand if it's correct what I understood from the docs, which is 'expression' is a key of 'valueFrom'. My understanding is that It panics because such key is not expected there at all.

[2022-02-22 22:40] adeniyistephen commented on #4561
@alexec  Hello, as this issue has been fully fixed?

[2022-02-22 22:44] adeniyistephen commented on #7877
Hello, @terrytangyuan Thank you for letting me know more about the issues, I think #4561 is still open? @alexec am I right.

[2022-02-22 22:44] alexec commented on #4561
@adeniyistephen no. Not implemeted. Would you like to help by submitting a PR?

[2022-02-22 22:47] adeniyistephen commented on #4561
@alexec Awesome, Yes! I would love to, I submitted it for my #7877 issue.

[2022-02-22 23:25] terrytangyuan commented on #7877
I assigned that issue to you.

[2022-02-22 23:57] alexec opened #7970 "Remove `automountServiceAccountToken` for main containers"
# Summary

There's no reason to have this mounted for most tasks. In fact, main containers will get `pod patch` allowing the to change other pods within the namespace.

This might be easier than fixing #3961

# Use Cases

Better default security.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-23 00:30] adeniyistephen commented on #7877
Awesome! please what would be the next steps?

[2022-02-23 00:59] terrytangyuan commented on #7877
Try take a look at the issue/discussions and let me know if you have any specific questions.

[2022-02-23 01:02] terrytangyuan commented on #7957
Perhaps try take a look at this one? https://github.com/argoproj/argo-workflows/issues/7800

The rest of them either already have an assignee or non-trivial as first contributors.

I can be your mentor.

[2022-02-23 01:07] ehienabs commented on #7957
This looks really great and I would be so honoured. Thank you so much!

[2022-02-23 02:45] alexec opened #7971 "Remove deprecated config flags"
# Summary

Several values have been deprecated since 2019 and can be removed straight away.

* executorImage
* executorImagePullPolicy
* executorResources
* namespace

Looking at the code, they're probably broken anyway.

Changes will need to be made:

* https://github.com/argoproj/argo-workflows/blob/980f2feb7b887b23513f1fc0717321bfdf134506/config/config.go#L29
* https://github.com/argoproj/argo-

[2022-02-23 04:49] alexec commented on #6895
Can you please try with the emissary executor?

[2022-02-23 05:09] alexec opened #7972 "Run agent with own service account"
# Summary

We should not use the workflows service account for the agent. Instead, we should have a way to use a different service account.

The agent pod needs different permissions to the workflows pod. It does not need `pod patch` and does need `patch workflowtaskset`. We should have a way to specify this account differently so we are not violated minimum permission principle.

Options:

1. Do

[2022-02-23 05:53] cnu1812 commented on #7857
Would like to work on #6924

[2022-02-23 09:14] boshnak commented on #3523
Is there any update on this feature?

[2022-02-23 09:21] berlinsaint opened #7981 "sprig in manifest validation problem."
## Summary

i

Paste the smallest workflow that reproduces the bug. We must be able to run the workflow.

[code]

What executor are you running?  k8s

in the yaml, minAvailable is a int value; i can't submit it because it will say

"templates.horovod-cpu templates.horovod-cpu.resource.manifest must be a valid yaml"

how can i avoid this.

[2022-02-23 09:29] berlinsaint commented on #7981
i replace it with

[code]
solve the problem

[2022-02-23 09:29] #7981 closed

[2022-02-23 10:01] AnuragThePathak commented on #7971
Hello! I would like to work on this issue for GSoC 2022. Can you please show me around or tell me a little how should I proceed with it?

[2022-02-23 14:42] terrytangyuan commented on #7971
@AnuragThePathak Please read this page first: https://github.com/argoproj/argo-workflows/blob/master/docs/mentoring.md

[2022-02-23 15:17] blkperl commented on #7857
@cnu1812 Sounds good, let me know if you would like to talk about it or look at a draft PR.

[2022-02-23 15:19] terrytangyuan commented on #7857
I added a comment in https://github.com/argoproj/argo-workflows/issues/6924#issuecomment-1048893567 since GitHub does not allow me to assign to you.

[2022-02-23 15:44] alexec commented on #7971
I think this too small issue for GSoC, but fine for general mentoring.

[2022-02-23 15:45] alexec commented on #7971
I've added notes for where to make the changes.

[2022-02-23 17:38] alexec opened #7982 "Rate-limit Argo Server API requests"
# Summary

I'm not sure if we have a rate-limiter. If not, we should add one.

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-23 17:46] crenshaw-dev commented on #7954
I think we could add a CI job to generate the relevant report(s) as JSON, convert that to HTML (there's a CLI for that), and upload the HTML as a release asset. Going to look into doing this for Argo CD and then will port it over.

[2022-02-23 17:52] sarabala1979 commented on #7937
@PradeepLoganathan Let me know when you ready to contribute the above issue

[2022-02-23 19:27] #6750 closed

[2022-02-23 19:43] NikeNano commented on #7486
For the work related to replacing `kubectl` do we aim for using the dynamic k8s client? Have looked around and it don't seem like there is any libs that handle this smoothly so it might be quite a lot of code that needs to be brought in to argo to handle this. I will continue to research it to see what I can find.

[2022-02-23 20:18] alexec commented on #7486
Correct. I think we can use `dynamic.New`.

[2022-02-23 20:53] tatodorov opened #7985 "Argo CLI support for custom request headers"
# Summary

Add support for setting custom HTTP headers to `argo` CLI, similar to `argocd` `-H, --header`.

# Use Cases

When Argo Workflows is configured behind IAP proxy like Cloudflare Access, we need to set a custom header with key `cf-access-token` and the actual token as a value.
Otherwise, when we execute `argo list`, we face the following error:
[code]
This is already implemented in `argocd

[2022-02-23 20:54] NikeNano commented on #7486
As I see the downside atm is that it will be hard to be backwards compatible since the dynamic API don't have the same functionality out of the box as `kubectl`. Specifically there is not direct mapping towards `apply`, but might be in the not to distant future hopefully since k8s now supported `apply` server side, https://pkg.go.dev/k8s.io/client-go/dynamic#NewForConfig. I guess we could implemen

[2022-02-23 20:57] alexec commented on #7486
`kubectl` is written in Golang. Argo CD uses it like that:

https://github.com/argoproj/argo-cd/blob/master/go.mod#L87

[2022-02-23 20:58] NikeNano commented on #7486
yes, my bad!

[2022-02-23 20:59] NikeNano commented on #7797
Will check how it is used in Argo CD as you pointed out [here](https://github.com/argoproj/argo-workflows/issues/7486#issuecomment-1049209348) @alexec

[2022-02-23 22:08] alexec commented on #7985
I'm assuming you're using `ARGO_HTTP1=true`.

We would need to pass the header here:

https://github.com/argoproj/argo-workflows/blob/6076524cd51484b5f1efb3b6ff96cebdd020eba2/pkg/apiclient/http1/facade.go#L60

It would get the header values from here:

https://github.com/argoproj/argo-workflows/blob/6076524cd51484b5f1efb3b6ff96cebdd020eba2/pkg/apiclient/argo-server-opts.go#L7

Which would be set h

[2022-02-23 22:27] alexec commented on #7725
I found fix for this:

[code]

[2022-02-23 22:27] #7725 closed

[2022-02-23 22:28] alexec commented on #6150
Is this same as `apply`?

[2022-02-23 23:04] alexec opened #7986 "Reduce agent permissions"
# Summary

The agent should not be able to update the task set, only patch its status. This means the agent cannot add work to the workflow.

This got overlooking in the implementation and code review.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-24 04:17] Ark-kun commented on #7835
A separate Pod for each DAG execution? This is one of the solution I'm thinking about.
Although collecting the whole workflow execution state would be harder.

Caching (including still running execution caching) would be easier though.
Imagine that all past and present executions form a global lineage graph with workflow run being a grouping construct selecting some subset of that graph. Multiple

[2022-02-24 04:35] terrytangyuan opened #7990 "E2E tests fail on k3s v1.22+"
See context in https://github.com/argoproj/argo-workflows/pull/7983#issuecomment-1049478654.

Failed builds:

- 1.22.6: https://github.com/argoproj/argo-workflows/runs/5313844823?check_suite_focus=true
- 1.23.3: https://github.com/argoproj/argo-workflows/runs/5310874489?check_suite_focus=true

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issu

[2022-02-24 05:26] AnuragThePathak commented on #7971
In order to fix the dependency issues created after removing the above-mentioned fields in the Config struct of config.go file, I created a function that returns the executor with Config as the receiver. I took the help of your PR in the process.
But I was having a problem with [this part(https://github.com/argoproj/argo-workflows/blob/200ae9c032dd6d6510d5cd9a1317cd1f9d60bc53/workflow/controller/w

[2022-02-24 06:59] caelan-io commented on #3523
@boshnak - @JPZ13 and I have been working on a feature based on @alexec 's POC where users can run a workflow that has 2+ steps running in different clusters or namespaces. We're wrapping up the design phase for that now. This is different from a multi-cluster control plane, which is our day job at [Pipekit](https://pipekit.io/).

Would you mind sharing your use case(s) and any requirements you ha

[2022-02-24 08:40] boshnak commented on #3523
@caelan-io Thanks for the prompt response.
Our main use case is that we have 4 kubernetes clusters, and we would like to have single centrlized Argo workflow instance, from which we will be able to trigger workflows on all the clusters.
So its a combination of having central argo server and the ability to trigger workflows on other clusters.
I guess having specific steps triggered on different clu

[2022-02-24 11:05] AdamKorcz commented on #7719
This has been fixed.

[2022-02-24 11:05] AdamKorcz commented on #7716
This has been fixed.

[2022-02-24 11:07] #7719 closed

[2022-02-24 11:07] #7716 closed

[2022-02-24 13:11] tatodorov commented on #7985
Yes, I will be working on a PR.

[2022-02-24 13:46] EzrealK commented on #7831
https://github.com/argoproj/argo-workflows/discussions/7413

[2022-02-24 14:56] adeniyistephen commented on #7877
@terrytangyuan Thank you, I believe I understand the issue and the use case
- but just to be clear we need to allow the controller to be able to create a maximum of 5k pods not to max out our Kubernetes cluster for safety?
- and is there a slack channel where I should be part of and I might need help setting up my environment if there's a specific way for the project.

[2022-02-24 16:08] alexec commented on #7971
Yes. You will need to.

[2022-02-24 16:12] gandeevan opened #7994 "Pod deletions with large workflows"
## Summary

I’ve been running large scale jobs (~1K parallel jobs, each of which spawns around ~100 tasks in parallel) on an argo cluster deployed on GKE and I’ve been seeing a quite a few “pod deleted” errors. On further investigation, it looks like the the main container finishes to completion, but GKE pod garbage collector deletes the pod before the workflow controller updates the workflow stat

[2022-02-24 16:28] alexec opened #7995 "Publish blog post on workflows security"
[edit](https://medium.com/p/dd8429acc1ce/edit)
[public draft](https://blog.argoproj.io/argo-workflows-security-model-dd8429acc1ce)

[2022-02-24 17:54] terrytangyuan commented on #7990
@sarabala1979 This is not fixed yet. CI is still only running with K3s 1.21. Let's use this issue to track the upgrade of CI to 1.22+.

[2022-02-24 18:19] gandeevan commented on #7994
No, we are not using the autopilot feature. I think it's the pod garbage collector kicking in when the # of terminated pods exceed the `--terminated-pod-gc-threshold` (https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/).

Based on the application logs, it looks like the pod ran to completion and the k8s garbage collector GC'ed the terminated pod before the w

[2022-02-24 18:34] alexec opened #7996 "Re-factor `assessNodeStatus`"
This func needs work:

* It can determine that a state change is needed, but that never gets persisted :- remove `update`.
* It can miss exit code and output changes :- remove guard condition on this.
* The daemon code is hard to understand, undocumented, spread out.

status.nodes.daemoned:

Completed daemon node are ALWAYS succeeded.

Related changes:

ca87f2906 fix: Daemon step in running state,

[2022-02-24 18:41] gandeevan commented on #7994
@alexec would the fix for this be under the scope of https://github.com/argoproj/argo-workflows/issues/7996?

[2022-02-24 19:39] alexec commented on #7994
I think #7966 would improve the situation. But we can do something better, we could add a finalizer to each pod which is only removed by workflow controller when the pod is GCed.

[2022-02-24 20:01] alexec commented on #7994
To block GC, add a finalizer:

https://github.com/argoproj/argo-workflows/blob/de1f4f50e61b08eed1dbddcb167cab00f4bd2b97/workflow/controller/workflowpod.go#L205

I would call this finalizer `workflows.argoproj.io/capture-result`. It should be opt-in based on an environment variable (e.g. `ARGO_RESULT_CAPTURE_FINALIZER=true`.

The finalizer must be removed when the controller has captured the outcom

[2022-02-24 20:02] alexec commented on #7994
@gandeevan I've added on outline solution if you want to submit a PR.

However, this may just move your problem.

[2022-02-24 20:15] rohankmr414 opened #7997 "I would like a mentor"
**Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).**

Answer: **Yes I have read the mentoring guide.**

**What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?**

Answer: **I have previous experience in Go and I'm currently learning Kubernetes.**

**

[2022-02-24 20:50] #7684 closed

[2022-02-24 21:40] #3434 closed

[2022-02-24 21:40] #7011 closed

[2022-02-24 23:55] gandeevan commented on #7994
Thanks for the pointer @alexec! I can definitely work on the fix, will probably take some time though since I'd have to ramp up with the argo-workflows code base.

I'm not sure I understand why would it move the problem, instead of fix it? Do you mind explaining that. Thanks!

[2022-02-24 23:59] alexec commented on #7994
By "move" I mean that the pod will no longer be deleted, but you might have a new problem because new pod cannot be created.

[2022-02-25 00:00] alexec commented on #7994
You may wish to request a mentor if you want help.

[2022-02-25 00:02] alexec commented on #7997
Hi @rohankmr414

I would like to offer my help as a mentor. Please let me know if you'd like that.

[2022-02-25 00:59] blkperl commented on #7995
Do we have docs we can link to?

We can link to https://kubernetes.io/docs/concepts/services-networking/network-policies/

Incomplete thought?

[2022-02-25 02:49] gandeevan commented on #7994
Why do you say that there could be a new problem because new pod cannot be created? AFAIK the terminated-pod-gc-threshold doesn't limit the number of pods in the cluster.

Also, how is the output captured (e.g. output parameter), passed on to the next step in the workflow? Would it be okay to remove the finalizer before the output is captured (as mentioned in the proposed solution)?

[2022-02-25 03:22] alexec commented on #7994
Ok, maybe try and see?

[2022-02-25 03:23] #5067 closed

[2022-02-25 03:23] alexec commented on #5067
Duplicates #3961.

[2022-02-25 03:25] alexec commented on #3961
Notes from PoC:

* We can use a seperate CRD to report back results from the wait container to the controller.
* This CRD must contain all results, otherwise we get race between pod informer and task result informer.
* We can't use taskset, it is not big enough for outputs.

[2022-02-25 08:15] SebastianGoeb commented on #3961
Does this refer to global workflow outputs or step outputs? We use step outputs to communicate things between steps, and I don't see how pod/patch is required for that. What's stopping the controller from just creating the workflow pod with the required volumes for passing outputs from `main` to `wait` in the first place, and then leaving it like that? Is this really something the sidecar must do?

[2022-02-25 08:31] SebastianGoeb commented on #5067
Well the executor is instantiated by the controller, so any permissions it has, must have been available to the controller, so I don't see how that reduces the scope of permissions of the controller. If the scalability is the main concern, why not instantiate sibling-pods to handle potential pod/patch operations, and leave the sidecar to handle outputs, logs, an other read-only operations. That it

[2022-02-25 12:48] #7996 closed

[2022-02-25 15:22] riscie opened #8007 "How to reuse existing clientConfig? (Go Client Library)"
Hi Everyone!

Thank you so much for this project. I really appreciate the time that went into creating it, great work! :+1: :+1:

I have a question reagrding the usage of the go client library.
In the [linked example](https://github.com/argoproj/argo-workflows/blob/master/cmd/argo/commands/submit.go) a new serviceClient gets created like so:

[code]

How would I be able to create a new serviceClie

[2022-02-25 15:27] alexec commented on #3961
Correct. Outputs are patched onto the pod using annotations. Not outputs, no need for annotations. You could pass outputs using a volume mounted to all pods in the workflow. This volume would need to be readable from the controller. Not sure if that’s possible.

@jessesuen I think we only need patch for result and logs, exit code is found by controller. We know that we need these in the controller

[2022-02-25 15:33] gandeevan opened #8008 "I would like a mentor"
Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)?
Answer: Yes I have read the mentoring guide.

What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?
Answer: I have previous experience with Go and Kubernetes

Is there any particular issue you'd like to work on?
Answer: I would like to work on 7994

Do you want to wo

[2022-02-25 16:10] alexec commented on #3961
Reviewing `pods/log` option:

The current solution the executor capturing logs scales. Consider a 1000 node workflow, each pod captures its own logs. If this was moved to the controller, it would have to do much more work that it currently does. The controller is the wrong place to do heavy lifting as it creates a single point of failure.

On top of this, we don't know where to save the main.log (

[2022-02-25 16:17] alexec commented on #8007
This looks correct to m.

[2022-02-25 16:24] terrytangyuan commented on #7800
Assigned to @ehienabs

[2022-02-25 16:33] alexec commented on #7800
I think, as this is superceeded by #7802, maybe we could work on that instead?

[2022-02-25 16:34] sarabala1979 commented on #8008
I can mentor you, Please let me know if you need any help

[2022-02-25 16:40] emenendez commented on #7613
Hi! I'm also running into this error. In my case, I've installed Argo Workflows as part of Kubeflow, and yes, our workflows are in different namespaces from the controller. Can you suggest any other steps I can try to troubleshoot? Thank you!

[2022-02-25 16:48] terrytangyuan commented on #7800
You are right. @ehienabs Would [that](https://github.com/argoproj/argo-workflows/issues/7802) be something you are interested in working on?

[2022-02-25 16:49] #7986 closed

[2022-02-25 16:49] terrytangyuan commented on #7795
This would also remove the `gzip` binary: https://github.com/argoproj/argo-workflows/blob/6566396666163198f2520c9a0790b01ada3863fd/workflow/executor/docker/docker.go#L445

[2022-02-25 16:56] terrytangyuan commented on #7877
Yes

https://argoproj.github.io/community/join-slack
I think #argo-contributors would be the best place.

[2022-02-25 17:21] ehienabs commented on #7800
@terrytangyuan Of course. I am wondering though, would you still be staying on as my mentor?

[2022-02-25 17:23] terrytangyuan commented on #7800
Yes

[2022-02-25 17:38] alexec commented on #7613
please add stack trace

[2022-02-25 18:07] adeniyistephen commented on #7877
Awesome, please let me know if there's anything I should do next.

[2022-02-25 19:34] emenendez commented on #7613
Thanks @alexec!

[code]

[2022-02-25 19:40] riscie commented on #8007
Thanks so mich for the fast feedback @alexec

[2022-02-25 20:41] alexec commented on #7613
Are you using `--managed-namespace`?

[2022-02-25 20:50] alexec commented on #7613
The panic is a red herring. It is caused by the shutdown, but will not have impact. Any fix for that would go here, but I think it is just annoying, so not needed:

https://github.com/argoproj/argo-workflows/blob/06d4bf76fc2f8ececf2b25a0ba5a81f844445b0f/workflow/metrics/server.go#L54

The event issue is coming from here, but I can't see the problem:

https://github.com/argoproj/argo-workflows/blob

[2022-02-25 20:50] #8007 closed

[2022-02-25 20:57] alexec opened #8013 "Agent permissions is actually breaking (you cannot patch `.status` of any CR with sub-resource)"
I made a mistake here, and learnt something.

Once you introduce a status sub-resource, you can no longer patch the whole resource, for example:

[code]

See that there was "no change".

That means that changing to use `workflowtaskset/status` is a breaking change.

For users that are impacted by this, there is an espace hatch - do not install new manifests. This is a bad solution.

[2022-02-25 21:04] terrytangyuan commented on #8013
This hasn't been released yet though, right? https://github.com/argoproj/argo-workflows/pull/7987

Should we try to cover this in tests and make sure we can always patch the resource?

[2022-02-25 21:20] alexec commented on #8013
It's not fixable. And I don't want to fix it. We could delay #7987 to v3.4.

[2022-02-25 21:31] alexec commented on #3434
This feature is available to test in v3.3.

[2022-02-25 22:32] #8013 closed

[2022-02-26 08:25] trondhindenes opened #8016 "UI: Custom icon url support per step"
# Summary

Allow specifying custom icon sets in the workflow definition that would be rendered by the server when vieweing a workflow

# Use Cases

We have some workflows that can be quite busy, with 60-70 steps or more. It would be good if we were able to "categorize" steps by supplying a custom icon set for some of the steps, and have the "workflow view" use those instead of the standard green/y

[2022-02-26 19:01] DhairyaBahl commented on #6945
Hello @alexec ! I am willing to work on this issue but I am not familiar with cncf projects. I am facing a small issue that resources are more than enough and I am feeling a bit lost in all these repos and all. Kindly help me out a bit. I would also love to start contributing on this.

If this issue is available then kindly assign this to me.

[2022-02-26 19:39] UrielCohen456 opened #8018 "3.3.0-rc7 error - Plugin template can't find workflowtaskset"
## Summary

When testing writing a plugin, everything appears to work until the main container logs says the following:
`argocd-example-brtgk-1340600742-agent: time="2022-02-26T19:32:26.974Z" level=error msg="TaskSet Patch Failed" error="workflowtasksets.argoproj.io \"argocd-example-brtgk\" not found"` <br>

But when executing `kubectl get workflowtasksets.argoproj.io` I get:
[code]

Running Emiss

[2022-02-26 20:13] sarabala1979 commented on #8018
@UrielCohen456 can you provide the Agent pods log?

[2022-02-26 20:21] UrielCohen456 commented on #8018
[code]

[2022-02-26 20:22] sarabala1979 commented on #8018
@UrielCohen456 can you try it with RC6?

[2022-02-26 20:41] UrielCohen456 commented on #8018
Still doesn't work

[2022-02-27 00:39] alexec commented on #6945
Hi @DhairyaBahl this issue is currently being held for Google Summer of Code. It’s a really big issue and wide ranging issue, with potential for massive impact, and would require some time and dedication. We do have a lot of issues marked “good first issue” which are great places to start contributing (if you have not done so before). Users vote for issues with 👍 so you can sort issues by 👍 to fin

[2022-02-27 00:43] alexec commented on #8018
This is interesting “Patch workflowtasksets/status 404”. That indicates you have the change that makes agent run more securely.

That was only merged yesterday (I think). Can you try using :latest images and make sure you have the new “executor” role installed (the one that has “patch workflowtasksets/status” permission).

[2022-02-27 00:44] alexec commented on #8018
Also - cool to see another community plugin - when the feature is not even GA yet.

[2022-02-27 00:49] alexec commented on #7799
I think we might not need this. JQ is a standalone binary. We just need to copy it to the container.

[2022-02-27 01:11] alexec opened #8019 "Provide a way to know a third-party plugin is safe to run ( e.g. `argo executor-plugin scan`)"
# Summary

Hopefully, we’ll see a growing community of plugins for workflows. Maybe we’ll end up with an App Store of plugins :)? “Plug-in Hub”.

OK. So either we have some kind of “Plugin Store” (maybe just repos in Argo Labs). How can we say that plugin is ok to install?

(1) Introduce a badging system, they could just the one we use:

https://bestpractices.coreinfrastructure.org/en

How will us

[2022-02-27 22:57] UrielCohen456 commented on #8018
I am not sure if this is the fact as: a. I have given said permissions to the service account used to run the workflow, and b. A normal workflow executes as expected.

I'll try running the latest image tomorrow as I didn't get the chance today after work.

[2022-02-27 23:03] UrielCohen456 commented on #8019
Perhaps a rating style system (akin to git project stars) that enable users to find community updated and trusted plugins.

Also I think a badge system sounds great, with a final certified plugin type badge issued to plugins verified by the argo workflow maintainers (Possibly even from verified companies if they create/support plugins, for example certified badge on an ansible plugin supported by

[2022-02-28 12:59] mattharrigan commented on #1282
Hello. First thanks for creating argo. I think its a great tool. I'm also struggling to use argo and istio. Using istio for me is also a company policy. IMO killing the sidecar is easy, but its almost impossible to get init containers working if they need network access. I would like to be able to use artifacts. My best thought with the current functionality is to have steps upload artifacts as no

[2022-02-28 15:03] rvignesh89 opened #8022 "pod deleted due to delayed cleanup"
## Summary

What happened/what you expected to happen?

I have a cron workflow in namespace `app-launch` which does the following every 30 minutes,

1. check if namespace `app-launch` exists,
2. if it exists, delete all resources (pods, deployments, worklows etc)
3. launch new set of pods, deployments & workflows.

workflows in `app-launch` complete within a few minutes of launching. My expectatio

[2022-02-28 15:07] alexec commented on #8019
I’m not sure about a rating system. They can be gamed. I’m not sure about CII badge either. It self-certifaction, which would be suitable for plugins where you’re confident that the authors are trustable.

[2022-02-28 15:23] #7613 closed

[2022-02-28 15:33] alexec commented on #8022
OK. So this will only happen if two workflows have the same name, and (I assume) the second workflow is created very soon after the first workflow was deleted. Pod names are deterministic, so they will get the same name each time.

Most users will not be affected, because they do not re-use workflow names.

When the pod is deleted we could have the clean-up queue forget about it.

https://github.c

[2022-02-28 16:39] pmjacinto commented on #1540
Is this still being considered? I see https://github.com/argoproj/argo-workflows/pull/3173 was abandoned in 2020.

We also use Azure Blob Storage so it would be good to have direct support for it (similar to S3 and GCS).

[2022-02-28 19:13] alexec opened #8024 "Agent does not use workflow service account"
The agent should use `spec.serviceAccountName`, but instead it always uses `default`.

[2022-02-28 19:13] alexec commented on #8024
@sarabala1979 could I ask you to fix this please?

[2022-02-28 19:27] alexec opened #8026 "Use config/mainContainer for security context and more"
# Summary

Currently, this field is only used for executor resource. We should use it for security contex and others too.

# Use Cases

Harden default configuration.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-28 19:27] alexec commented on #8026
@terrytangyuan fancy owning this?

[2022-02-28 19:31] terrytangyuan commented on #8026
Sure, happy to. Anything other than security context that you can think of?

[2022-02-28 19:38] alexec commented on #8026
this is not top priority, I think we have bigger issues to fix, firstly `pod patch` - which I could do with a review

[2022-02-28 19:48] terrytangyuan commented on #8026
Happy to prioritize reviews. Noticed that it's still in draft. Please assign/request review when ready.

[2022-02-28 20:54] UrielCohen456 commented on #8018
Update: I downloaded the manifests provided from the release page instead of going to the git repo on the v3.3.0-rc7 release and installing the manifests - cluster install.
Now that it works I can get to building the plugin! Thanks for the help.
You can close this issue.

[2022-02-28 21:13] #8018 closed

[2022-02-28 21:31] alexec opened #8027 "NetworkPolicy"
A workflow is a little app. Users cand and maybe should use network policies to secure them.

[2022-02-28 22:11] alexec commented on #7962
See #8026

[2022-02-28 23:53] alexec commented on #7912
https://github.com/UrielCohen456/argo-workflows-argocd-executor-plugin.git

[2022-03-01 00:10] #7888 closed

[2022-03-01 00:10] #7934 closed

[2022-03-01 03:47] Colstuwjx opened #8031 "Feature Request: support `skip` action for skipping an action"
# Summary

What change needs making?

For an instantiated workflow, we'd already support `resume`, `suspend`, `stop` such actions, but for a complete workflow engine, we also need to support `skip` action for allowing to skip an action.

# Use Cases

When would you use this?

When we submitted a workflow, and it's running a specific step, which is optional and could be skip, e.g. send a message to

[2022-03-01 05:55] a-muk opened #8032 "I would like a Mentor"
**Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).**

Answer: **Yes I have read the mentoring guide.**

**What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?**

Answer: **I am currently a beginner in Kubernetes. I am ready to learn these technologi

[2022-03-01 10:23] CodingOrca opened #8037 "supplied ValueFrom is ignoring default"
### Discussed in https://github.com/argoproj/argo-workflows/discussions/7905
I am using argo workflows v3.3.0-rc4, and need a way to distinguish after a suspend step if its output parameter was supplied with a value per API and then resumed, or if the configured duration expired.
Currently this is not possible:

<div type='discussions-op-text'>

<sup>Originally posted by **CodingOrca** February 17

[2022-03-01 12:36] paralin commented on #7400
Closed here and closed in upstream k8s, I guess everyone collectively decided to forget about this.

[2022-03-01 14:29] #7985 closed

[2022-03-01 14:35] alexec commented on #8037
`{}` is not a string. Have you tried setting `supplied` to the default value?

[2022-03-01 14:37] UrielCohen456 commented on #8019
Perhaps a way to allow every plugin to define what privileges and permissions it needs inside a cluster and providing a way to rank them based on it? That way when you install a plugin it asks if you want yo give those permissions.

For example a plugin that needs read access to all secrets in a cluster would be rated lower on the security scale.

That way community feedback isn't the only paramet

[2022-03-01 16:43] sarabala1979 commented on #7934
@louisnow Issue fixed and release in 3.3.0-rc8. Can you test it?

[2022-03-01 16:44] sarabala1979 commented on #7888
@edwardfung123 Issue fixed and released in 3.3.0-rc8. Can you test it?

[2022-03-01 17:12] sarabala1979 opened #8043 "v3.2.9 Cherry-pick"
Planning to release v3.2.9 end of today. Please select your issues which you want to include in this release

- [ ] Todor Todorov: fix: Support for custom HTTP headers. Fixes #7985 (#8004) fe8ac30b0
- [x] Saravanan Balasubramanian: fix: panic on synchronization if workflow has mutex and semaphore (#8025) 9655a8348
- [ ] Shyukri Shyukriev: fix: Fix/client go/releaseoncancel. Fixes  #7613 (#8020) 95

[2022-03-01 17:39] alexec commented on #8043
@sarabala1979 can I request

- only show fixes in list, not chore/feat
- I think some of these fixes are already in v3.2?

[2022-03-01 18:28] alexec commented on #7586
refactor: Remove the need for pod annotations to be mounted as a volume (#6022)

[2022-03-01 18:34] alexec commented on #7586
This issue has two underlying causes which cannot be reverted:

* Change to Apline - reverting would comprasize security posture.
* Use env var rather than downward API - would stop workflows working on serverless systems. Which would also be a regression.

[2022-03-01 18:45] #7971 closed

[2022-03-01 18:55] sarabala1979 commented on #8043
done.  issues have `fix` subject that's why it is included. I will do a manual check next time.
I got PRs from last hash in v3.2 to master HEAD.

[2022-03-01 19:04] alexec commented on #8043
Can I leave it with you to review the list and include any bug fixes you think we need?

[2022-03-01 19:08] sarabala1979 commented on #8043
sure

[2022-03-01 19:24] alexec commented on #8019
So here is the security scope:

* We do not enforce defaults more secure than Kubernetes does.
* We will make it possible to run workflows using more secure defaults.

Unlike a conventional deployment, it is not be possible to use static analysis on workflows, pods specs are generated at runtime. Instead, you can use something like Open Policy Agent to enforce security policies (e.g. allowed image

[2022-03-01 19:24] #8019 closed

[2022-03-01 20:06] louisnow commented on #7934
Is there any chance of back porting the fix to the latest stable version(3.2.x) that is released @sarabala1979 ?

[2022-03-02 00:36] #3016 closed

[2022-03-02 02:59] sarabala1979 commented on #7616
@Colstuwjx it is good point let  me  take a look

[2022-03-02 02:59] sarabala1979 commented on #7937
Hi @PradeepLoganathan Do you need any help

[2022-03-02 02:59] sarabala1979 commented on #7685
added e2e

[2022-03-02 04:10] SeibertronSS opened #8046 "Can't see anything in WORKFLOW DETAILS"
## Summary

What happened/what you expected to happen?

I deployed an argo workflow and reverse proxyed its ui using nginx. After I submit a `helloworld` workflow, I can't view its details in WORKFLOW DETAILS. After I click on `helloworld` workflow nothing is displayed in the page.

## Diagnostics

Paste the smallest workflow that reproduces the bug. We must be able to run the workflow.

[code]

-

[2022-03-02 06:40] SeibertronSS commented on #8046
![image](https://user-images.githubusercontent.com/69496864/156308888-69912a1f-ba84-47ce-90bb-64be0db4bed3.png)

[2022-03-02 06:54] SeibertronSS commented on #8046
Seems to be because this interface is not responding. `/api/v1/workflow-events/argo`

[2022-03-02 08:10] Hunter-Thompson commented on #7469
keep

[2022-03-02 10:05] BeyondEvil commented on #1262
Any updates here?

[2022-03-02 10:13] gmouchakis commented on #7781
bump since this is still an issue.

[2022-03-02 13:25] Alfablos commented on #6629
This removes the PVC but the PV is still there even though the workflows finishes successfully. It does have pvc-protection as finalizer. The storageClass has "Delete" as reclaimPolicy :/ I'm not sure whether this is intentional or not...

[2022-03-02 14:25] terrytangyuan commented on #7304
This will be worked on

[2022-03-02 14:26] terrytangyuan commented on #7804
Bump

[2022-03-02 14:26] terrytangyuan commented on #7803
Bump

[2022-03-02 14:27] terrytangyuan commented on #7802
Bump

[2022-03-02 15:31] peterandluc opened #8051 "Patch activeDeadlineSeconds can not failed running workflow"
## Summary

What happened/what you expected to happen?
When we try to patch ```activeDeadlineSeconds: 0``` to a running workflow, we expect to see the workflow status to be failed, however after patched, the status is running.

What executor are you using? PNS/Emissary
Docker executor: argoexec-image:3.2.4
## Diagnostics

Paste the smallest workflow that reproduces the bug. We must be able to run

[2022-03-02 15:41] alexec opened #8052 "Stop the stale bot marking tech debt as stale"

[2022-03-02 15:42] alexec commented on #8046
Please can you see what error is in your web console.

[2022-03-02 15:42] terrytangyuan commented on #7829
Bump

[2022-03-02 15:43] terrytangyuan commented on #8052
What about mentoring requests?

[2022-03-02 15:43] alexec commented on #8051
What happens if you patch 1s rather than 0s?

[2022-03-02 15:44] alexec commented on #8052
No, I think we should stale out mentoring requests, stale acts as automatic bump.

[2022-03-02 15:45] peterandluc commented on #8051
It's same, no different.

[2022-03-02 15:49] alexec commented on #7870
@CIPHERTron how is it going so far?

[2022-03-02 15:56] alexec commented on #7850
Hi - is seen we’ve not had recent activity.

[2022-03-02 15:57] alexec commented on #7306
Bump

[2022-03-02 15:58] alexec commented on #7957
How’s this going?

[2022-03-02 16:10] peterandluc commented on #8051
Another information, if we patch to workflow pod, and the pod failed immediately.
[code]
Could you help me to point out where the related codes located?

[2022-03-02 16:19] alexec opened #8053 "Documents not building on CI"
I think this is probably due to expired token.

[code]

[2022-03-02 16:21] alexec commented on #8053
![image](https://user-images.githubusercontent.com/1142830/156403011-c02aef41-f66f-409b-937a-8f3dd866d6f8.png)

Secrets can be updated here:

https://github.com/argoproj/argo-workflows/settings/secrets/actions

Personal access token create here:

https://github.com/settings/tokens/789666290

6mo expiry.

[2022-03-02 16:22] alexec commented on #8053
Re-running job:

https://github.com/argoproj/argo-workflows/runs/5394238655?check_suite_focus=true

[2022-03-02 16:26] alexec commented on #1809
Could you simple labels the pods to set your net pol?

[2022-03-02 16:28] alexec commented on #7486
I've thought about this and I think there is a third-way that might be easier. Instead of replacing the binaries with pure Go, we actually just want to get rid of the operating system. We can do this by copying just the binaries accross. Assmuming all the biniaries work without the underying OS.

[2022-03-02 16:30] #8053 closed

[2022-03-02 17:05] alexec commented on #8051
I don't think this should work. Not a bug.

[2022-03-02 17:33] mehabhalodiya commented on #7872
As I was busy with some other work, I haven't continued working on it yet. I will look around. Thanks for keeping up!

[2022-03-02 17:49] sarabala1979 commented on #8037
@CodingOrca
    outputs:
      parameters:
        - name: message
           default: "default"

[2022-03-02 17:51] crenshaw-dev commented on #7576
Just a reminder that `when` _does_ support expressions, and that removing support would break Workflows (like ones I wrote at my last job). It's fine to add a `whenExpression` field, but it should not break the (accidental) support for expressions in `when`.

[2022-03-02 18:13] #5724 closed

[2022-03-02 19:34] louisblin commented on #7755
Any thoughts on removing [the line](https://github.com/argoproj/argo-workflows/blob/v3.3.0-rc2/workflow/controller/workflowpod.go#L1027-L1028) I mentioned, @sarabala1979 or @alexec?

[2022-03-02 21:15] alexec commented on #8026
I'm going to close this. The real use case is in #7962

[2022-03-02 21:15] #8026 closed

[2022-03-02 21:23] iamdinesh opened #8057 "Not able to view workflow logs from s3 / minio for deleted pods"
## Summary

What happened/what you expected to happen?

When pod is deleted not able to view workflow logs. But I can view individual node logs.

Get Workflow Log API (Returns Empty):

http://localhost:2746/api/v1/workflows/<namespace>/<workflowname>/log?logOptions.container=main&grep=&logOptions.follow=true

Individual Node / Step API (Returns full log):

http://localhost:2746/artifacts/<namespac

[2022-03-02 21:53] peterandluc commented on #8051
I think the behavior is different with argo workflow [document ](https://argoproj.github.io/argo-workflows/fields/#fields_3) explanation:
[code]
And it is also different with kubernetes behavior. We use it to terminate workflow in v2.10.1 without problem. Is there any explanation why we make difference?

[2022-03-02 21:55] alexec commented on #8051
Can't argue with the docs. This is a regression then.

[2022-03-02 21:56] alexec commented on #8051
v2.10 is out of support. To help determine when the regression occured, have you found the same regression in any version between v2.10 and v3.2?

[2022-03-02 22:14] peterandluc commented on #8051
Hi, I haven't had chance to test it in any other argo version. But I can try it in v2.11 and v3.1?

[2022-03-02 22:49] alexec commented on #8051
That'd be helpful if it is not too hard.

[2022-03-02 22:55] tooptoop4 opened #8059 ""This does not look like a tar archive tar""
Getting this error on the 1st try of the pod (but 2nd auto retry succeeds):

[code]

yaml is:
[code]

using v3.2.8 and pns exec

[2022-03-02 23:55] PradeepLoganathan commented on #7937
Hello @sarabala1979 apologies for the delayed response. I am currently available to get started. What is the best way to reach you directly and get started please.

[2022-03-03 01:23] SeibertronSS commented on #8046
Thanks for your reply, I will give some screenshots.
![image](https://user-images.githubusercontent.com/69496864/156477817-cb8cb65d-6712-4355-a33b-60049a5e70a1.png)
In the `Network`, an interface status is displayed as pending.  No errors are displayed in the `Console`

[2022-03-03 01:43] sarabala1979 commented on #7937
you can find me on slack or my email sarabala1979@gmail.com.

[2022-03-03 05:03] sarabala1979 commented on #8051
it looks like a missing usecase.  Patching activeDeadlineSeconds will only apply for pending pods, not in running pods.
https://github.com/argoproj/argo-workflows/blob/e7ff3f5aec16dfb436ebd8b13450209f3c6ff79d/workflow/controller/exec_control.go#L29

[2022-03-03 06:29] #8043 closed

[2022-03-03 06:42] sarabala1979 commented on #7424
you can make `parameter` as global and refer it in exithandler on 3.1. you can pass arguments to step/dag level exithandler in 3.2 +.  For workflow level, 3.3 will have lifecycle hooks

[2022-03-03 09:19] rvignesh89 commented on #8022
I think removing the `enqueueWfFromPodLabel` would break legitimate use cases like when the pod is deleted due to evictions from node in which case the controller would lose the ability to do what it needs to do. So I'm skeptical in removing that in my PR.

Also while working on the fix I remembered that after the old action which marks the pod as deleted is triggered the controller tries to recre

[2022-03-03 13:16] alexglatt commented on #7894
Update: It would be sufficient, if I somehow could use the Kubeconfig file, stored in the environment variable KUBECONFIG, in my Argo Workflow (Template). Is there a way to reference environment variables in an Argo Workflow (Template)?

[2022-03-03 14:27] beenjohn commented on #7589
I may have missed it in the docs, but is there an anticipated release data for 3.3?

[2022-03-03 15:06] sarabala1979 commented on #7589
We are very close the release GA. I am planning to release last RC today for stress test. Is it possible to create PR today? I can include it

Sent from my iPhone

[2022-03-03 15:30] terrytangyuan commented on #5658
`kubectl` removal: https://github.com/argoproj/argo-workflows/issues/7797

[2022-03-03 15:31] simster7 commented on #7366
I actually started looking at this yesterday... seems like the validator issue was somehow fixed, but the value still does not get replaced correctly. Working on this today.

[2022-03-03 15:33] #7622 closed

[2022-03-03 15:33] #7709 closed

[2022-03-03 15:33] #7685 closed

[2022-03-03 16:07] wurstbrot opened #8068 "workflowtaskresults doesn't exists in namespace install"
## Summary

Workflowtaskresults are not installed within namespace install.

## Diagnostics

I am using
[code]
to install argo worklows (see https://github.com/SDA-SE/cluster-image-scanner/blob/master/test/argowf/argoworkflow.yml). I have tried multiple 3.2.X versions, which all result in a missing permission for the SA argo to access workflowtaskresults. Logs:
[code]

When I create the permission

[2022-03-03 16:12] alexec commented on #8068
This feature is not available in v3.2. You're running the `latest` image, not the versioned images.

Do not install using Kustomize. Instead, install using the manifest attached to the release:

https://github.com/argoproj/argo-workflows/releases/download/v3.2.9/namespace-install.yaml

[2022-03-03 16:20] wurstbrot commented on #8068
@alexec Thank you for the quick response.
That means this https://github.com/argoproj/argo-workflows/tree/master/manifests#kustomize is outdated?

[2022-03-03 16:26] #8051 closed

[2022-03-03 16:33] alexec commented on #8068
Yes. This guide is incorrect. Would you like to submit a PR to correct it?

[2022-03-03 17:13] #7962 closed

[2022-03-03 17:23] wurstbrot commented on #8068
https://github.com/argoproj/argo-workflows/compare/master...wurstbrot:patch-1

[2022-03-03 17:52] alexec commented on #8068
Maybe we should warn people about Kustomize?

[2022-03-03 18:00] #7616 closed

[2022-03-03 19:28] #7686 closed

[2022-03-03 19:31] jfarrell commented on #7586
@alexec the previous debian container was pinned to a specific version of debian:10.7-slim and not the debian:10-slim container that would be updated every 30d on their typical release cycle. We could also add the needed apt-get update calls to pull the needed security patches as part of the docker build to ensure that each release has the latest security patches (alpine has the same problem here

[2022-03-03 20:09] SkRai0 commented on #7867
I answered the questions and pushed the README file.

[2022-03-03 20:34] terrytangyuan commented on #7867
Where did you answer the questions and what README file are you referring to?

[2022-03-03 21:45] alexec commented on #7586
We don’t want to go back to Debian. Instead, we can fix this in code.

[2022-03-03 22:58] tczhao commented on #8057
[code]

The `/log` API is trying to retrieve the live logs from the pod/container,
if the pod is gone, it won't return anything

The `artifact` API is trying to retrieve the archived log from the s3/minion,
this log is available after the pod is finished.

In UI, we have a condition to check live log first if not available, return archived log

[2022-03-04 01:10] iamdinesh commented on #8057
Is there anyway to get full workflow log from s3 / minio instead of specific step log?

Expected API : http://localhost:2746/artifacts/<ns>/<workflowname>/main-logs (without step / pod name)

[2022-03-04 02:30] SeibertronSS commented on #8046
I see some suspicious log
`argo-server-546d4958d9-ml4dg 2022/03/04 02:19:58 http: superfluous response.WriteHeader call from github.com/felixge/httpsnoop.(*rw).WriteHeader (wrap_generated_gteq_1.8.go:336)`

[2022-03-04 02:52] SkRai0 commented on #7867
Here is the link where I have answered the questions: https://github.com/SkRai0/argo-workflows/blob/master/.github/ISSUE_TEMPLATE/mentoring_request.md

[2022-03-04 03:21] tczhao commented on #8057
`Is there anyway to get full workflow log from s3 / minio instead of specific step log?`
I don't think there's an existing API that does that..

I'm a bit worried if we did go on and implement that, would that cause too many burst traffic to the storage API, e.g. if a workflow has 10,000+ pods

[2022-03-04 03:37] gai6948 commented on #7893
The documentation is not very helpful when it comes to template variables, especially use of `sprig`, can we have more practical examples of how they work?

[2022-03-04 07:21] wurstbrot commented on #8068
It would work with some customization. You think this is not offensive enough?

[2022-03-04 08:00] berlinsaint commented on #7860
very useful feature.

[2022-03-04 08:54] SeibertronSS commented on #8046
I found a workaround. When using nginx to proxy argoworkflow, you need to close the nginx cache
[code]

[2022-03-04 08:54] #8046 closed

[2022-03-04 09:59] GitHubFor122 opened #8074 "Support private registry credential imagePullSecrets for argoproj/argoexec"
# Summary
When we deploy a argo-workflow in private internal datacenter, have no intenet access, we would like to pull argoproj/argoexec with a docker registry crendential,  but no such args in deployment yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: workflow-controller
spec:
  selector:
    matchLabels:
      app: workflow-controller
  template:
    metadata:
      labels:
        a

[2022-03-04 10:08] junjunjunk opened #8075 "Proposal: support for multiple serviceAccount login"
# Summary
Allow users to sign in using multiple service accounts when signing in to Argo Workflows.

This is primarily for the purpose of enhancing SSO RBAC .
https://argoproj.github.io/argo-workflows/argo-server-sso/#sso-rbac-namespace-delegation

When using SSO RBAC, it is possible that someone may need to have permissions to multiple namespaces.
It could happen, for example, if the same person

[2022-03-04 13:23] terrytangyuan commented on #8074
You can customize your container in executor field in the controller configmap: https://github.com/argoproj/argo-workflows/blob/master/docs/workflow-controller-configmap.yaml#L216

[2022-03-04 13:50] ehienabs commented on #7957
@alexec It's going great. @terrytangyuan and I are working together on this. He has so far given me resources to learn Golang, plus the Youtube Vid introducing new contributors to the project, as a sort of on-boarding.
We are currently touching base on Slack.
Thank you so much for asking.

[2022-03-04 13:51] amitjainr opened #8076 "Argo Workflow SSO redirect_url from OIDC returns blank page"
Hi,

We have configured our Argo workflow to authenticate with OIDC but after OIDC authentication it lands into blank page and then we have to click Workflows page to start seeing workflows.

Going through Argo workflow docs, it says the redirect_url format has be to be https://<argo-workflows-server>/oauth2/callback.

`https://argoproj.github.io/argo-workflows/workflow-controller-configmap.yaml

[2022-03-04 16:08] serafdev opened #8077 "Outdated Client: workflow/v1alpha1"
## Summary

Can't compile Go code that uses the `v1alpha1.WorkflowInterface`.

## Diagnostics

Trying to run the following:

[code]

Error I'm getting:

[code]

---

**Message from the maintainers**:

Impacted by this regression? Give it a 👍. We prioritise the issues with the most 👍.

[2022-03-04 16:22] kaancfidan commented on #7442
Any suggestions here?

We are still experiencing outages and we had to basically put a liveness probe on the archive endpoint to restart argo-server whenever archive db connection fails.

[2022-03-04 16:35] serafdev commented on #8077
Seems to be fixed in `v3.3.0-rc8` (maybe slightly before, rc1 is broken)

[2022-03-04 21:49] terrytangyuan commented on #7867
Please answer questions here directly so that we can see if other potential mentors might be able to mentor.

[2022-03-05 03:30] MagicFrogSJTU opened #8081 "Examples should be added for failfast & withParam"
# Summary
Before all, I am new to all K8S and argo workflow stuff.
Recently I am struggling with finding solutions for having sequential task pipeline of arbitrary steps. After endless searching on official argo documentation and googling, I finally ended up at: https://github.com/argoproj/argo-workflows/issues/3644. And that is exactly what I need, failfast & withParam!
I strongly recommend that

[2022-03-05 13:08] frimuchkov opened #8083 "getaddrinfo EAI_AGAIN inside pods"
Hi!

During the migration into the new Argo Cluster we found a problem with DNS. Do you know, what can be the reason for it?
Argo version: v3.3.0-rc8

[code]

Result:
<img width="1326" alt="image" src="https://user-images.githubusercontent.com/19934346/156884234-e2513a91-21a4-4a43-af41-9688a40b7d86.png">

I understand, there is not much info and if it's not familiar, just close it :)

[2022-03-05 15:46] #8074 closed

[2022-03-05 18:20] lucastheisen commented on #7893
@alexec , there is definitely a shortcoming in documentation on the sprig support. It primarily links to the sprig doc's which use pipeline syntax, but the expression parser in argo uses function syntax.  To that end, its not immediately clear whether the values piped in would be the first or last and whether you pipe calls together or nest functions.  Even [your comment here](https://github.com/a

[2022-03-05 18:42] frimuchkov commented on #8083
Solved :-)
In GKE be sure that ` VPC-native traffic routing` is `Disabled`.

[2022-03-05 18:42] #8083 closed

[2022-03-05 20:35] thegreymatter commented on #7405
i would like to start working on this capability in a  couple of days. I am wondering about the opt-in labels. shouldn't RBAC and namespace permissions solve that for us in a more standardized way?

The label solution creates a split responsibility, as RBAC is responsible for "where I can run", while the labels are responsible to "where I can I can run".

Thoughts?

[2022-03-06 00:30] terrytangyuan commented on #8081
Yes feel free to submit a PR with a proposed new example.

[2022-03-06 15:36] alexec commented on #8057
I think this works as expected. The WorkflowLogs API is only intended to get logs from Kubernetes API. Essentially it is like `kubectl logs -l workflows.argoproj.io/workflow=your-workflow`. Once the pod is deleted, the logs are deleted.

[2022-03-06 15:39] alexec commented on #8077
This was fixed in a recent PR. That can’t be backported to v3.2, because is upgrade client-go. Please use v3.3

[2022-03-06 15:39] #8077 closed

[2022-03-06 15:42] alexec commented on #7860
Correct. Plug-ins are coming in v3.3 and it would be easy for anyone to write a turbo-charged version of the resources template themselves.

[2022-03-07 01:07] berlinsaint commented on #7860
Good. I have read the doc , and i'll  do a job for adapting the Volcano Job, when the v3.3 will be released

[2022-03-07 01:07] berlinsaint commented on #7860
Good. I have read the doc , and i'll  do a job for adapting the Volcano Job

[2022-03-07 12:02] tastelikefeet opened #8093 "Wait container won't exit when main container open iptables rules"
## Summary

We have a scenario in which we must keep the pod network off, so when working with argo, we config the yaml file like this:
[code]

We opened the NET_ADMIN permission and configured the iptables rules, which allowed the certain kube service in/out.

What actually happened:
Main container exited normally, but wait container still waiting on main container(stucked).
Wait container logs:

[2022-03-07 15:36] lstolcman commented on #7633
The bug is not resolved

[2022-03-07 15:46] alexec commented on #8093
Please add version, and type of executor used.

[2022-03-07 15:49] alexec commented on #8068
I think is frustrating to see kustomize.yaml files, but then not be able to use them. It looks like it is supported, but is not.

I _think_ you could use Kustomize, but you must set `kustomize edit set image` to set the argo-server and workflow-controller image tags. Additionally, you must patch the executor version, by patching the workflow-controller deployment with the correct env var (I think

[2022-03-07 18:38] wurstbrot commented on #8068
I think we are having a missunderstanding here, I understood that it is not supported.
Let is continue in the PR https://github.com/argoproj/argo-workflows/pull/8095.

[2022-03-07 19:35] SkRai0 commented on #7867
Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).

Answer: Yes I have read the mentoring guide.

What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?

Answer: I have previous experience in React.

Is there any particular issue you'd like to work on?

[2022-03-07 23:19] dabenson4 commented on #3523
Hi @alexec  thanks for working on this, been trying to make it work, I am not sure why the workflow pod is not spinning on the remote cluster, logs just indicate it is choosing the main(where argo is installed) cluster.

Logs from the workflow-controller seems to indicate the cluster is added and that it is reading the kubeconfig secret:

`time="2022-03-07T23:09:47.244Z" level=info msg="starting p

[2022-03-08 01:28] MagicFrogSJTU commented on #8081
Will submit one within days!

[2022-03-08 02:39] tastelikefeet commented on #8093
argo version:

argo: v2.2.1
  BuildDate: 2018-10-11T16:26:28Z
  GitCommit: 3b52b26190163d1f72f3aef1a39f9f291378dafb
  GitTreeState: clean
  GitTag: v2.2.1
  GoVersion: go1.10.3
  Compiler: gc
  Platform: linux/amd64
(base)

executor:
time="2022-03-07T11:35:04.210Z" level=info msg="Starting Workflow Executor" version=v2.12.10
time="2022-03-07T11:35:04.214Z" level=info msg="Creating a docker executo

[2022-03-08 02:39] tastelikefeet commented on #8093
Please review the information above, thanks!

[2022-03-08 08:21] vivekthangathurai opened #8101 "ttlStratergy not applied to the workflows and workflow does not get deleted"
## Summary

What happened/what you expected to happen?

A workflow was triggered with the ttlStrategy and the workflow does not get deleted and also kubectl get workfow -oyaml does not show the ttl section.

What version is it broken in?
latest
What executor are you using? PNS/Emissary
Not sure
## Diagnostics

Paste the smallest workflow that reproduces the bug. We must be able to run the workflow

[2022-03-08 09:11] berlinsaint commented on #7860
@alexec  hi , i just implement a demo plugin , and i found that  , every workflow will start an agent with a plugin sidecar container,  i have some question here, do we really need sidecar? why not we make the plugin run forever and all the same extended type workflow share the plugin?  i think   per workflow with an sidecar is expensive too.

[2022-03-08 09:29] zhichenghe commented on #6049
according to https://github.com/argoproj/argo-workflows/blob/master/CHANGELOG.md,  this issue already been fixed on version of v3.2.0-rc1 (2021-08-19), but we still meet the same issue on the version of v3.2.7.

[2022-03-08 09:58] vermaxik opened #8102 "Workflows UI: Cannot read properties of undefined (reading 'template')"
## Summary

I submitted DAG workflow with inline template. The workflow is successfully run, but when I click on any task `task` for details/logs I got the error `Cannot read properties of undefined (reading 'template')`.

With DAG yaml and separate template approach like in [multiroot example](https://raw.githubusercontent.com/argoproj/argo-workflows/master/examples/dag-multiroot.yaml) it works,

[2022-03-08 11:00] r-nagaraj commented on #5332
Hi All,
I am also getting the same error.  Please help me to solve the same.

time="2022-03-08T10:38:18.204Z" level=info msg="finished unary call with code Unauthenticated" error="rpc error: code = Unauthenticated desc = token not valid for running mode" grpc.code=Unauthenticated grpc.method=ListWorkflows grpc.service=workflow.WorkflowService grpc.start_time="2022-03-08T10:38:18Z" grpc.time_ms=0.0

[2022-03-08 11:08] MagicFrogSJTU opened #8103 "Specify container resources dynamically for containerSet."
# Summary
Currently there's no way to specify container resources dynamically for containerSet.
For normal template, we can use podSpecPatch which is absent when it comes to containerSet.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-03-08 13:33] #7894 closed

[2022-03-08 15:40] DrissiReda commented on #7252
Actually even when I use this, I have different log formats:

[code]

This leads me to believe there are multiple log outputs.

[2022-03-08 17:58] joshadambell opened #8105 "Cron Schedule Not Honored Correctly"
The following cron schedules are not supported correctly. It schedules everyday in the day span instead of only on the certain day of the week i.e. scheduled on March 8, 9, 10 etc. It should have only scheduled on the 9th which is a Wednesday. However, the wording is correct in the UI.

<img width="1004" alt="Screen Shot 2022-03-08 at 10 51 56 AM" src="https://user-images.githubusercontent.com/270

[2022-03-08 18:29] cjvirtucio87 commented on #7893
Sprig also doesn't appear to handle function calls with more than one return value. For instance, I used [`Time.ISOWeek()`](https://pkg.go.dev/time#Time.ISOWeek) in the following code as an alternative for the `%U` `STRFTIMECHAR` mentioned in the issue description:

[code]

and I get:

[code]

when `week_in_year_sprig` should be `10`.

[2022-03-08 19:39] liuzqt opened #8106 "template substitution for `configMapKeyRef`"
# Summary

want to support template substitution for configMap

something like:

[code]

I've tried the example above but it's not working, I suppose this feature is not supported yet. But if my usage is wrong pls let me know.

# Use Cases

I might have several parallel configMap (or something like branching) and I would like to indicate the workflow which configMap to pick from

---

**Message fr

[2022-03-08 20:11] dabenson4 commented on #1802
@danxmoran Hi, were you able to figure something out?

[2022-03-09 06:57] ipythonlamp commented on #7781
Same error also happend to me today,  hope to fix it ASAP

[2022-03-09 07:22] r-nagaraj opened #8107 "Agro-Workflows with Keycloak Intergration"
Hi All,
I am getting the same error. Please help me to re-solve the same.

time="2022-03-08T10:38:18.204Z" level=info msg="finished unary call with code Unauthenticated" error="rpc error: code = Unauthenticated desc = token not valid for running mode" grpc.code=Unauthenticated grpc.method=ListWorkflows grpc.service=workflow.WorkflowService grpc.start_time="2022-03-08T10:38:18Z" grpc.time_ms=0.066

[2022-03-09 08:58] vatine commented on #8068
Well, having just been bitten by the same problem, it seems I am running ":latest" because that's what the default install manifests actually have in them. I probably should've noticed that it said ":latest", but there's an argument to be made that ":latest" is a somewhat dangerous thing to leave in the "this is how you install it quickly" manifest(s).

[2022-03-09 16:15] djshen opened #8109 "Failed to acquire template-level semaphore even if there are available locks"
## Summary

What happened/what you expected to happen?

When there are two (or more) workflows and the nodes in both of the workflows share the same template-level semaphore, the nodes in the second workflow cannot acquire any lock until the first workflow completes.

What executor are you using? Emissary

Version: v3.2.9

## Diagnostics

Paste the smallest workflow that reproduces the bug. We mus

[2022-03-09 16:20] laymain commented on #7465
We are updating Argo, I'll give a try soon

[2022-03-09 16:23] alexec commented on #8103
Can't you use `podSpecPatch`? I think it should work.

[2022-03-09 16:24] alexec commented on #8106
This might not be possible unfortunately. The security model of the workflow controller means it typcially cannot read configmap in the user's namespace. We would not want to change this.

However, I think there is a similar issue for config maps in parameters. Did you check for that feature?

[2022-03-09 16:25] alexec commented on #8109
Can you please try with v3.2.9?

[2022-03-09 16:26] alexec commented on #8102
932466540a109550b98714f41a5c6e1d3fc13158

[2022-03-09 16:29] alexec commented on #8093
You are using a version that is no longer supported. Can you please try with v3.2.9?

[2022-03-09 16:47] djshen commented on #8109
Hi @alexec , I tried v3.2.9 and the bug still exists.

![argo](https://user-images.githubusercontent.com/1704484/157489471-3b23579c-fd2b-4194-b01d-42482da7c3b8.jpg)

[2022-03-09 16:48] alexec commented on #8032
@a-muk would you like a mentor? I wonder if @dpadhiar might be interested in helping you with this UI change?

[2022-03-09 16:50] alexec commented on #8109
@sarabala1979 I wonder if this is just behavioural?

[2022-03-09 16:52] #7909 closed

[2022-03-09 17:14] djshen commented on #8109
Our use case is that we submit multiple workflows. Each workflow contains about 100 parallel jobs and we use semaphore the limit the concurrency, 50 for example. Usually, each job takes 2 hours to finish, so the worst case is that the number of concurrent jobs is only one (2% of the maximum concurrency) for 2 hours. This problem greatly decreases the throughput of our pipeline.

Currently, we can

[2022-03-09 18:05] terrytangyuan commented on #7781
I am not investigating this at the moment. @flaviuvadan Have you got a chance to look into this yet?

[2022-03-09 18:13] terrytangyuan commented on #7877
Have you looked into the issue and set up your local dev environment yet? Let me know if you have any specific questions.

[2022-03-09 19:25] adeniyistephen commented on #7877
I have looked into the issue, that was the first task, which I asked some questions about it in our previous messages.
No, I haven't set up my local dev environment yet, I would love pointers/input into setting it up in a good manner. Thank you.

[2022-03-09 21:02] prithvihv commented on #7815
how can i request for a reviewer on https://github.com/argoproj/argo-workflows/pull/8114 @blkperl

[2022-03-09 21:05] alexec commented on #873
See #7503, #7506, #7538, #7553 ,#7578

[2022-03-09 21:16] isubasinghe commented on #873
Apologies for not getting back on to this, my latest work is available on my branch here: https://github.com/isubasinghe/argo-workflows/tree/feat/cwl2argo-output/cmd/cwl2argo

It is capable of compiling "CommandLineTool" types but it would be trivial to reuse the functions to make the compiler work for "Workflow" types.

Unfortunately I am busy with university and settling in another country at th

[2022-03-09 21:29] alexec commented on #873
Would anyone watching this issue like to pick this up?

[2022-03-09 22:33] sarabala1979 opened #8115 "v3.3 GA release"
# Summary

tasks:

- [ ] Stress on GCP
- [ ] Document updates
- [ ] Release notes

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-03-09 22:33] sarabala1979 opened #8116 "Stress on GCP"

[2022-03-09 22:33] sarabala1979 opened #8117 "Document updates"

[2022-03-09 22:33] sarabala1979 opened #8118 "Release notes"

[2022-03-09 23:20] blkperl commented on #7815
One of the commiters will review in the next few days.  I don't believe there is an official request process. If you nobody comments on the PR, you can ask on Slack in #argo-contributors.

[2022-03-10 01:33] SeibertronSS opened #8119 "The workflow can't stop when an error occurs in a node"
## Summary

I built a CI pipeline, but an error occurred while building the docker image. I found that the workflow did not stop, but continued with subsequent tasks.

The error log is
[code]
Clearly the image build failed, but still passed the workflow.

![image](https://user-images.githubusercontent.com/69496864/157569559-68f449bb-5197-497c-bcf7-8a4cf6642ba8.png)

[2022-03-10 01:38] alexec commented on #8119
Please share workflow.

[2022-03-10 01:47] SeibertronSS commented on #8119
Due to company security regulations, I cannot give specific docker repositories and git repositories.
[code]

[2022-03-10 01:55] alexec commented on #8119
try `set -eu`

[2022-03-10 02:03] SeibertronSS commented on #8119
Thank you very much

[2022-03-10 02:03] #8119 closed

[2022-03-10 02:29] liuzqt commented on #8106
@alexec  sorry but what do you mean by config maps in parameters...basically I was trying to retrieve value from configMap as one of the input parameters, but also want to "template-ize" the configMap name from another input parameter

[2022-03-10 03:11] r-nagaraj commented on #8107
Hi Alexec,

I have start running argo-server with sso mode, observed authentication is happening with SSO and may be failing bearer token is validating.

Also, completed the configuration as mentioned in below document:

https://argoproj.github.io/argo-workflows/argo-server-sso/

Please do the needful.

Thanks,

[2022-03-10 04:05] a-muk commented on #8032
Thank you for replying. I would surely like a mentor.

[2022-03-10 04:48] khmak3 opened #8121 "Argo workflow released version use workflow-controller:latest version result compatibility issue"
## Summary
All workflow submit to argo 3.1 go to pending statue after 3.3 GA

## How to Reproduce
Install argo 3.1 on k8s 1.21.9
1. kubectl create namespace argo
2. kubectl apply -n argo -f https://raw.githubusercontent.com/argoproj/argo-workflows/release-3.1/manifests/install.yaml
3. Add workflow-controller-configmap with data: containerRuntimeExecutor: emissary
4. kubectl create rolebinding defa

[2022-03-10 05:24] khmak3 commented on #8121
Found this fixed in latest release version

[2022-03-10 05:24] #8121 closed

[2022-03-10 05:41] r-nagaraj commented on #8107
please find statement which is captured from server log

time="2022-03-10T03:25:58.915Z" level=info msg="SSO enabled"

Please do the needful

[2022-03-10 06:08] alexec commented on #8106
[code]

[2022-03-10 11:22] jribmartins opened #8123 "Workflow security context not set when creating workflow from workflowtemplate with workflowDefaults and argo cli"
## Checklist

* [ x ] Double-checked my configuration.
* [ x ] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

when I submit a workflow from a template using the argo cli:
`argo submit --from workflowtemplate/my-template`

the cli outputs: `This workflow does not have security context set.`

This is wrong because when I describe the created workflow I see:

[code]

[2022-03-10 11:22] wujayway commented on #7891
Hi @alexec
Thanks for guidance. The description of the lifecycle of an agent per service account per namespace is clear.
There is one more question left. The agent executor bind with workflow now, I think the `AgentExecutor` executor should refactor to treat all workflows.  Is my concern right?

[2022-03-10 11:40] ChaosInTheCRD opened #8124 "Ensure all links in docs point to the latest stable release rather than master"
# Summary
As a consequence of one of my PRs, a bug was introduced into the master branch of the Argo Workflows codebase. This had instant repercussions (see Github Issue [here](https://github.com/argoproj/argo-workflows/issues/7632)) for new users that were consuming the tool. Whenever the docs provide a link to manifests, they point to the master branch (see [here](https://github.com/argoproj/arg

[2022-03-10 14:53] NikeNano commented on #7912
I can work on this

[2022-03-10 15:36] alexec commented on #8123
@dpadhiar fixed this recently I think - @dpadhiar can you please comment?

[2022-03-10 15:46] alexec commented on #8124
`latest` is a anti-pattern:

* https://medium.com/@mccode/the-misunderstood-docker-tag-latest-af3babfd6375

It does not mean anything. If we do support it as stable, it means operating known bad practice.

Using master/latest is fine for development environments and I've just updated the installation guide because production set-up has several important steps.

[2022-03-10 16:11] LukeRobbo opened #8125 "Set to stable image tag in manifests/ instead of latest with each release"
# Summary

I think it's probably bad practice to have the images in the manifests/ directory set to use the "latest" image tag.
I've just come across a situation where upon restarting the workflow controller pod it's pulled down the latest image, which is expecting to use what looks like a new CRD type (WorkflowTaskResult), which the service account and relevant RBAC permissions I installed initia

[2022-03-10 16:13] alexec commented on #8125
Duplicates #8124

[2022-03-10 16:13] #8125 closed

[2022-03-10 16:15] alexec commented on #7755
Would you be interested in investingg and submitting a PR to see if the change works?

[2022-03-10 16:17] LukeRobbo commented on #8125
ah apologies @alexec, thanks for the quick reply

[2022-03-10 16:58] sarabala1979 commented on #8123
@jribmartins can you provide the full workflow yaml?

[2022-03-10 17:07] sarabala1979 commented on #8109
@djshen It is expected behavior to go with priority (creation time and priority from workflow).  I am doubting the `releaseall` based above information. ReleaseAll should release all locks for that workflow and requeue the pending workflow.

Can you provide the controller logs for this workflow?

[code]

[2022-03-10 17:24] alexec opened #8126 "Leader election looks broken"
Leader elections looks broken to me.

It creates the various informers so it is in hot-standby, but those informers also starting doing work, e.g. enqueue workflows.

[2022-03-10 17:27] alexec commented on #8126
I think it is kind of hard to fix this.

`client-go` informers cannot be paused. Your only option is to delete and re-create. At this point, you might as well as `exit 0` when you stop, and fully re-sync when you start-up again.

[2022-03-10 18:20] louisblin commented on #7755
Absolutely, I'll give that a try!

[2022-03-10 19:03] dpadhiar commented on #8123
@jribmartins Hi, I implemented a fix for this issue in https://github.com/argoproj/argo-workflows/pull/7805 which will be included in the next release of Argo Workflows which is 3.3.0.

[2022-03-10 19:35] sarabala1979 commented on #8116
pproof result on k8s 1.22.500

<span style="color: rgb(0, 0, 0); font-family: Times; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thick