[2020-04-21 17:18] alexec commented on #2773
I think we should fix in v2.8? By creating deterministic workflow names?

[2020-04-21 17:25] jackiemazy opened #2775 "Not able to find requests.cpu and requests.memory"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
I'm new to Argo, so thanks for looking into this in advance. When submitting a simple argo workflow on openshift, the resources in the container didn't seem to get detected, even I explicitly specified resources/requests.c

[2020-04-21 18:03] alexec commented on #2775
This could be because the pod we create contains 3 containers. Can you please provide the pod YAML?

[2020-04-21 18:25] stefansedich commented on #1813
@alexec with the SSO changes how will the API be secured? I was attempting to use `client` mode which secures the API fine however we run the UI as a deployment behind oauth2-proxy and in my testing it appears as using the bearer token to login to the UI was not working at all.

Just curios how sso mode will handle the mix of UI and API authentication needs.

[2020-04-21 18:37] jackiemazy commented on #2775
The pod didn't get created, so no pod yaml. I have the YAML for the workflow though:
[code]

[2020-04-21 18:47] simster7 commented on #2773
This issue should be unrelated to naming

[2020-04-21 19:38] vilmosnagy commented on #2773
It works well if I start an argo in a k3d cluster on my local machine - so my guess would be it has nothing to do with the naming.

The versions in the k3d cluster:

[code]

[2020-04-21 19:49] #2770 closed

[2020-04-21 20:51] Mohjive commented on #1128
Just ran into similar issue with "no space left on device", but with logs and found this issue. Looking at the old code, not being an expert Golang dev and being late to the party, is it guaranteed that the watcher handle is always closed? Is this row always called: https://github.com/lippertmarkus/argo/blame/5cae6c6a3ffe45c340cb6fe2341ddaac0ec7d16a/workflow/executor/executor.go#L827
or is there o

[2020-04-21 21:59] wreed4 opened #2777 "Ability to specify volumes on a WorkflowTemplate"
# Summary
There doesn't seem to be a way to share Volumes between two templates in a `WorkflowTemplate`.

# Motivation
When writing workflows that are meant to be kicked off by other workflows, the best way to accomplish this seems to be to use a WorkflowTemplate with a main template intended to be called by other Workflows.  In this case, the Template may get rather complex. In my case, I have a

[2020-04-21 22:25] evagonz commented on #1969
FWIW I ran into this as well and can confirm the configuration worked in 2.2.0 and started failing with this error in 2.3.0., up to and including 2.7.4.

[2020-04-21 23:02] logicfox commented on #1813
`argo-server` is proxied behind an authentication sidecar that listens on 3000. The service also exposes the usual port 2746. The authenticated endpoint is exposed through an ingress.

Users who need CLI access have access to the cluster. They port-forward the `argo-server` service and access it with the Argo CLI. We typically deploy the workflows through CI, so users don't typically need cluster

[2020-04-22 00:33] evagonz commented on #1969
Actually...we were able to get around this by changing the name of the volume to be different from the actual secret.

If you change it to

[code]

or w/e, it should work for you too.

[2020-04-22 08:50] mark9white commented on #2550
One other suggestion, given that there is potentially a queue of pending workflows, is that you may want to provide a TTL for queuing a new workflow if it's blocked by an existing workflow, that is separate from the workflow execution TTL.

[2020-04-22 08:51] mark9white commented on #2749
Is this not the same as #1891 ?

[2020-04-22 09:59] sylvainblot commented on #2600
@ProvoK I've a single installation, just retried the install on a new machine with minikube and got the same error

[2020-04-22 10:03] ProvoK commented on #2600
@sylvainblot
Got it. We were using minikube too yesterday, may be something related to it?
We did again the same procedure on GKE cluster and that problem did **not** occur.

[2020-04-22 10:21] sylvainblot commented on #2600
👍  That what I was thinking too, I dont have the issue with a cluster on premise deployed using Nvidia deepops

[2020-04-22 11:00] dtaniwaki commented on #2432
It seems a fakeclient may have a race condition with its informer.
https://github.com/kubernetes/kubernetes/issues/87472

[2020-04-22 12:13] lippertmarkus commented on #2581
Resource `nodes/proxy` is non-namespaced (a cluster-wide resource) so instead of a `Role` and a `RoleBinding` you need to create a `ClusterRole` and a `ClusterRoleBinding` instead:

For testing you can use
[code]

but it should also work when you change the `kind` of your manifests above to `ClusterRole` / `ClusterRoleBinding` accordingly.

This is only necessary when using `kubelet` and should be

[2020-04-22 13:09] dtaniwaki commented on #1686
`Arguments` is not used anymore and will be removed in the future.

https://github.com/argoproj/argo/blob/54f5be361f597d45c97469095a2e5cb5678436a8/pkg/apis/workflow/v1alpha1/workflow_types.go#L338-L340

So, I think we can close this issue unless we need to fix it now.

[2020-04-22 13:09] #1686 closed

[2020-04-22 14:42] jackiemazy commented on #2775
Not sure if this is related... I have something like below in the configmap:
[code]

[2020-04-22 15:24] benabineri opened #2780 "argo list does not show workflows from all instances or accept --instanceid"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs. (N/A - can do if necessary.)

**What happened**:
We have deployed an argo 2.7.3 workflow controller with an instance ID in the configmap alongside a 2.3.0 controller.

`argo list` only shows workflows from the controller with no instance ID (

[2020-04-22 15:28] alexec commented on #2780
Are you connecting to the Argo Server - if so you will not see any workflows that the server cannot see.

[2020-04-22 15:29] #2432 closed

[2020-04-22 15:33] benabineri commented on #2780
I don't think so, I tried with that and get connection closed, but it's going through a k8s ingress so that might be something off in our setup:
[code]

[2020-04-22 15:35] alexec commented on #2780
Ok  - we don't support #2764 yet for the CLI. This most likely means you're using the CLI in "classic" mode and there is a bug.

[2020-04-22 15:59] tvalasek commented on #2749
to my understanding #1891 is "set of steps" scoped. This one wants particular step/DAG task scoped

[2020-04-22 16:08] ericmeadows opened #2782 "Workflow Labels - Annotations on Rows"
# Summary

Add labels to each workflow row for custom Workflow labels.

# Motivation

We have some developers that want to be able to have a quick look at the workflows, and not all understand the way to filter through the massive list of values in the list.
# Proposal

How do you think this should be implemented?

Add random, or `configMap` specifiable labels to each row, giving simple visual rep

[2020-04-22 16:12] alexec commented on #2782
This is a great idea! But, what is the app in the screenshot? It is not Argo Workflows AFAIK?

[2020-04-22 16:20] ericmeadows opened #2783 "Create Dropdowns per Label in Workflows Views"
# Summary

Group labels into sortable drop-down lists to ease searching.

# Motivation

We are adding labels to make them sortable - we have hundreds of builds a day, and sometimes you want to look at the builds for yourself to trace down a bug instead of having to go between GitHub for the given commit's build, etc.  By allowing me to select just my builds on a given branch (these are already lab

[2020-04-22 16:26] ericmeadows opened #2784 "Enable Outputs on a Workflow Level"
# Summary

Enable Workflows to have outputs that can be sourced from steps, including `onExit`, and can get values from nested Workflow Templates by their step names.

# Motivation

I would like to understand what builds ran that had under 75% code coverage, which have high code smells (SonarLint/SonarQube), what my average build cost is per build per user (see https://github.com/argoproj/argo/iss

[2020-04-22 16:38] ericmeadows opened #2785 "Workflow Details are not Scrollable"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

Argo Workflows `fa fa-columns` page, when on an individual Workflow, is not scrollable.

**What you expected to happen**:

We can scroll, when there are large numbers of variables present.

**How to reproduce it (as minim

[2020-04-22 16:39] ericmeadows commented on #2782
@alexec - it is not.  It was a React app that I figured would be an example.  Another one would be GitHub's labels...

[2020-04-22 16:59] dtaniwaki commented on #2777
I like your idea A. If no one disagree, I will implement it.

[2020-04-22 17:02] dtaniwaki commented on #2679
As far as I know, it’s not possible now.
https://github.com/kubernetes/kubectl/issues/454

[2020-04-22 17:09] dtaniwaki commented on #2569
I want the feature too. I’ll take care of it.

[2020-04-22 17:47] simster7 commented on #2749
I brought this up during an internal meeting, we agreed that this might be a desirable feature but because of how our controller is structured might be more difficulty than it's worth. I'm going to work on a PoC and if there are no issues we can move forward with this.

[2020-04-22 17:49] simster7 commented on #2777
@dtaniwaki Assigned

[2020-04-22 20:51] mac9416 opened #2790 "`withItems` isn't accurately described in swagger.json"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

swagger.json didn't match API output for `spec.templates[0].dag.tasks[1].withItems`. The swagger spec [describes](https://github.com/argoproj/argo/blob/8de572813ee9f028cf8e06834f45a3592bc73f14/api/openapi-spec/swagger.jso

[2020-04-22 21:14] simster7 commented on #1525
Closing as resolved

[2020-04-22 21:14] #1525 closed

[2020-04-22 21:18] simster7 commented on #2773
@vilmosnagy Could I ask some more details about this?

* Does it happen reliably or is it a one off?
* Does it happen with other schedules or just with `* * * * *`?
* Does this happen in `2.7.5`?
* Does this happen in any other cluster types?

Don't worry if you can't answer every question, but the more the better in tracking this down.

[2020-04-22 21:36] vilmosnagy commented on #2773
It happens every time on that cluster.

It happens with the following schedule as well: `5 * * * *`  As far as I remember, I tried it with multiple schedules (every second hour, once a day at a given time, etc), and it happened every time.

I'll talk with the guys, who administer that cluster, wether we can upgrade it or not.

I'm not sure that I understand the question, but I'll talk with the dev

[2020-04-22 21:37] alexec commented on #2773
Two controllers?

[2020-04-22 21:38] vilmosnagy commented on #2773
This command should list the controllers, isn't it: `kubectl get pods -l app=argo-workflow-controller -n argo-system -o name`

Then we have only one controller:

[code]

[2020-04-22 21:52] simster7 commented on #2777
Before any works begins on this, @wreed4 did you know that you can currently specify volumes on a template level? Here is an example, I just tested it and it works.

[code]

[2020-04-22 21:55] vilmosnagy commented on #2773
This command should list the controllers, isn't it: `kubectl get pods -l app=argo-workflow-controller -n argo-system`

Then we have only one controller:

[code]

[2020-04-22 22:45] alex-lipkin-create opened #2792 "How to submit Workflowtemplate"
In 2.7 release was added a feature to to submit Workflowtemplate. I can not find any documentation how exactly can workflow template be submitted through argo cli.

Could you please describe exact command and add it to documantation.

[2020-04-22 23:42] simster7 commented on #2792
`argo submit --from=wftmpl/<template_name>`

[2020-04-22 23:44] simster7 commented on #2792
[code]

[2020-04-23 01:12] Ark-kun opened #2793 "argo lint fails with "invalid configuration: no configuration has been provided""
Repro steps:

Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

`argo lint workflow.yaml` used to work in Argo v2.3.0, but it no longer works in Argo v.2.7.4

**What you expected to happen**:

I expect `argo lint` to validate my workflow

**How to reproduce it (as minima

[2020-04-23 04:12] #2273 closed

[2020-04-23 06:55] sylvainblot commented on #2600
My bad, it was an indentation problem in the workflow-controller-configmap.
Closing the issue, to avoid that make sure you respect the yaml syntax.

[2020-04-23 06:55] #2600 closed

[2020-04-23 07:00] alex-lipkin-create commented on #2792
Thanks a lot for a quick response. One working example with all steps wrere really helpfull.
I am pretty new in using argo. So I do following steps.

For instance  workflow  hello-word

----
apiVersion: argoproj.io/v1alpha1
kind: Workflow                  # new type of k8s spec
metadata:
  generateName: hello-world-    # name of the workflow spec
spec:
  entrypoint: whalesay          # invoke the

[2020-04-23 08:28] seddonm1 opened #2794 "Expose Workflow.Spec.ServiceAccountName as global workflow.serviceAccountName"
# Summary

Similar to the `workflow.namespace` it would be useful to the expose the execution context `ServiceAccountName` as a global variable to allow passing this information to templates.

# Motivation

Because `ServiceAccountName` is used to control permissions it can be useful to add to logs or use for logic in child containers when debugging issues such as access control lists.

# Proposal

[2020-04-23 09:19] mikhailian opened #2795 "Can we have millisecond-level timestamps in argoexec?"
# Summary

Currently, timestamps are `time="2020-04-23T08:28:23Z"` , it would help to have milliseconds included, e.g. `time="2020-04-23T08:28:23.000Z"`

# Motivation

argoexec spawns short-lived processes where milliseconds matter.

# Proposal

[code]

[2020-04-23 10:30] ptemmer commented on #1900
+1

[2020-04-23 10:42] dcd000 commented on #1900
+1

[2020-04-23 11:48] samath117 commented on #1750
Update: In v2.7.5, this example still fails, but on the `write` step and with a different error:
`failed to save outputs: stat /mainctrfs/tmp/file1.txt: no such file or directory`

[2020-04-23 12:42] samath117 opened #2796 "argo watch fails with an "EOF" error for workflows lasting > 90 seconds"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

In Argo v2.7.5, for any long / involved workflows, both `argo submit --watch` and `argo watch` fail after about 80-90 seconds, with the following error:
```FATA[0117] EOF```
(the number in brackets varies)

**How to repro

[2020-04-23 13:02] jackiemazy commented on #2775
@alexec , this is still blocking us. Any suggestions? Thanks much.

[2020-04-23 14:12] tvalasek opened #2798 "continueOn: failed: true together with retryStrategy makes workflow to fail"
Checklist:

 * [X] I've included the version.
 * [X] I've included reproduction steps.
 * [X] I've included the workflow YAML.
 * [X] I've included the logs.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:
It does not happen when MaxDuration finishes sooner than all retries. E.g.:
[c

[2020-04-23 14:28] danxmoran opened #2799 "Default values of empty string are ignored"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
We tried setting a default value of `""` for an output parameter. The workflow controller didn't register the default, and marked the workflow as failed when it couldn't resolve the output. Here's a reproducer:
[code]
If I

[2020-04-23 15:12] alexec commented on #2799
This could be because empty string is a zero value in Golang. @simster7 this is your area of expertise - do you want to own?

[2020-04-23 15:13] alexec commented on #2795
Would you like to summit a PR?

[2020-04-23 15:13] alexec commented on #2796
See #2719

[2020-04-23 15:14] alexec commented on #2796
I think this was not solved.

[2020-04-23 15:14] twiechert opened #2800 "Support S3 server-side-encrypted buckets as artifact store (S3 or KMS)"
# Summary

There is currently no way to pass the required parameters to the underlying S3 client. This complicates working with SSE buckets.

# Motivation

Corporate requirements to use SSE for S3 buckets.

# Proposal

Either have properties similar to:

![image](https://user-images.githubusercontent.com/1926750/80116030-c3c78980-8585-11ea-9f3e-e2d8d0bfad59.png)
(took presto as an example)

or tra

[2020-04-23 15:15] alexec commented on #2775
I'm maxed at the moment. Can I suggest you try:

* Add default limits to yoru namespace?
* Ask in the Slack channel.

[2020-04-23 15:21] simster7 opened #2802 "Allow parameter evaluation on-the-fly with `valueFrom.evaluate` field"
# Summary

Add a field `valueFrom.evaluate` that will run the expression through our evaluator after parameter substitution.

# Motivation

Seeing the example in #2801, a Python image is booted up just to add one to a counter on each iteration. This is obviously a waste of resources as it would be easily done by the controller's evaluator.

# Proposal

I'll implement this by running the field thro

[2020-04-23 15:23] alexec commented on #2800
This is implemented in [s3.go](https://github.com/argoproj/argo/blob/master/workflow/artifacts/s3/s3.go) would you like to investigate?

[2020-04-23 15:24] alexec commented on #2798
@schrodit I think you originally implemented this? Would you like to take a look please?

[2020-04-23 15:27] alexec commented on #1900
You should 👍 if you want to upvote an issue please. We use 👍 to prioritize would. That said, the fix is most likely needed in [operator.go](https://github.com/argoproj/argo/blob/master/workflow/controller/operator.go) if you have time to investigate.

[2020-04-23 15:30] simster7 commented on #2794
Feel free to submit a PR

[2020-04-23 15:32] simster7 commented on #2799
Yes, I made the original enhancement and should be an easy fix

[2020-04-23 15:32] alexec commented on #2793
Can you please attach logs `argo --loglevel DEBUG lint ...`

[2020-04-23 15:33] alexec commented on #2793
Can you also attach the output of `kubectl cluster-info`?

[2020-04-23 15:33] alexec opened #2803 "v2.8.0-rc1 Goroutine increased"
We now have 162 Goroutines rather than 108. Why is this?

[2020-04-23 15:37] schrodit commented on #2798
yes, let me have a look

[2020-04-23 15:41] simster7 commented on #1900
Is this not fixed by https://github.com/argoproj/argo/pull/2657? It should be in `2.7.5`

[2020-04-23 15:43] simster7 commented on #2798
I've most recently made changes to this code, so I can own this unless you want to find the fix @schrodit. Let me know

[2020-04-23 15:46] schrodit commented on #2798
if you recently made some changes than I guess you're faster than me.
I would have to get familiar with these changes. But if you need help, Im happy to help.

[2020-04-23 15:51] simster7 commented on #2798
Just noticed: `argo: v2.7.1`

This should be fixed in `v2.7.5`. @tvalasek Can you try?

I just ran this in `2.7.5` without a problem:

[code]

[2020-04-23 16:10] twiechert commented on #2800
The only thing I see there is a secure flag which enables encryption in transit. I was talking about encryption at rest through a customer referenced KMS key or transparently managed bv AWS.
Minio config: https://github.com/minio/minio/tree/master/docs/security

If I am overseeing something, please become a bit more specific. Thanks.

[2020-04-23 16:13] alexec commented on #2803
This is because we have increased the default number of workers.

[2020-04-23 16:13] #2803 closed

[2020-04-23 17:23] astein-te commented on #2795
@alexec I would like to give this a try

[2020-04-23 17:24] aistein commented on #2795
@alexec I would like to give this a try

[2020-04-23 18:00] tvalasek commented on #2798
hmm, it works in 2.7.5! It did not work in 2.4.3, nor 2.7.1 so I assumed it is long running bug.

Nice, thanks!

[2020-04-23 18:00] #2798 closed

[2020-04-23 19:05] #2799 closed

[2020-04-23 19:08] simster7 commented on #2798
It was in fact a long running bug :) I fixed it recently in https://github.com/argoproj/argo/pull/2656

[2020-04-23 19:16] simster7 commented on #2795
@aistein Assigned

[2020-04-23 19:23] danxmoran opened #2808 "Ability to report pod-level success/failure as a metric for steps with retries"
# Summary
Based on the [variables docs](https://github.com/argoproj/argo/blob/master/docs/variables.md#metrics), it looks like it's possible to use the overall status of a step to generate metrics. In cases when a step includes multiple retries, I don't see a way to access / report the count(s) of pod-level statuses (i.e. 3 failures and 1 success).

# Motivation
Our ETL workflows interact with ext

[2020-04-23 19:48] salanki opened #2809 "Workflows are never removed from metrics exporter"
**What happened**:
The argo Promeheus metrics exported by the `workflow-controller` on `/metrics` are never cleaned up. Workflows that have been deleted are still reported by `/metrics`. When churning through a lot of workflows, this will waste unnecessary storage in Prometheus, resources in workflow-controller and making `/metrics` slow to load. With workflow controller running on a top of the li

[2020-04-23 20:10] salanki commented on #2809
This is driven by legacy metrics. `disableLegacy: true` will fix this. I have not tested custom metrics so cannot tell if there is a similar issue in the new metrics system.

[2020-04-23 20:10] #2809 closed

[2020-04-23 20:27] jackiemazy commented on #2775
Adding the resources configuration in the configMap seems to solve the problem:
[code]

Thanks for your time @alexec

[2020-04-23 20:27] #2775 closed

[2020-04-23 20:38] #2764 closed

[2020-04-23 20:54] lkeijser commented on #2796
:+1:  same problem here

[2020-04-23 20:56] alexec commented on #2796
there should be new debug output , could you run

`argo --loglevel DEBUG watch ...`.

and paste the output

[2020-04-23 21:36] alexec commented on #2650
See #2780

[2020-04-23 21:39] alexec commented on #2785
I feel like I might have fixed this. Can you check in v2.8.0-rc1?

[2020-04-23 21:41] ericmeadows commented on #2785
I can check.  I was using 2.7.5.  Since this is our CI/CD, what's the stability of v2.8.0-rc1?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Alex Collins <notifications@github.com>
Sent: Thursday, April 23, 2020 5:39:48 PM
To: argoproj/argo <argo@noreply.github.com>
Cc: Meadows, Eric A. <meadows.120@buckeyemail.osu.edu>; Author <author@noreply.github.com>
Subje

[2020-04-23 21:42] alexec commented on #2785
v2.8.0-rc1 is unstable. Dev and test only.

[2020-04-23 21:44] ericmeadows commented on #2785
👍🏻.  If it has changed from v2.7.5 to v2.8.0-rc1, it should be able to be closed.  I can't verify right now.

Eric

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Alex Collins <notifications@github.com>
Sent: Thursday, April 23, 2020 5:43:03 PM
To: argoproj/argo <argo@noreply.github.com>
Cc: Meadows, Eric A. <meadows.120@buckeyemail.osu.edu>; Author <author@norep

[2020-04-23 21:45] alexec commented on #2497
1. Yes - same arguments.
2. If you have admin on the Kubernetes cluster, and you do not set `ARGO_SERVER`, then this can happen.

[2020-04-23 21:51] salanki commented on #2663
I am posting this here in lieu for creating a separate ticket:

[code]

workflow controller is running unbounded in a latest generation AMD Epyc CPU. A response time <10s is often expected for a Prometheus metric, which means that this will top out at a couple of thousand more workflows.

[2020-04-23 21:51] ericmeadows commented on #2393
This would be helpful as well - I am having to sprinkle in jq wish Bash to be a workaround, which isn't idea.

[2020-04-23 21:53] alexec commented on #2796
Can you also say what you're using for connection settings?

[2020-04-23 22:06] alexec commented on #2796
Note to self - could not repro locally. Theory - is there a proxy in between that drops connections every 90s?

[2020-04-23 22:07] alexec commented on #2663
Thank you @salanki - this ticket is meant to be an umbrella ticket for scalability issues. I think I'd like to ask you to create a separate ticket for Prometheus problems?

[2020-04-23 22:08] alexec commented on #2785
Lets close and re-open if it is still an issue.

[2020-04-23 22:08] #2785 closed

[2020-04-23 22:32] salanki opened #2815 "Metrics Endpoint slow with large number of Workflows"
**What happened**:
With a large number of workflows, the `/metrics` endpoint is slow to respond. This with legacy metrics disabled and no custom metrics.

[code]

The `workflow-controller` is running unbounded on a latest generation AMD Epyc CPU, much faster than you'd find in your typical AWS or GCP instance, however I assume that much of the delay is due to querying Kubernetes objects. A respons

[2020-04-23 23:06] simster7 commented on #2815
Thanks for this @salanki, I have a fair idea of what the issue is here

[2020-04-23 23:13] simster7 opened #2817 "Validate Workflow metric names"
Currently we accept all metric names. This can crash the metrics server.

Acceptable metric name is `[a-zA-Z_:][a-zA-Z_:0-9]*`

[2020-04-23 23:15] simster7 opened #2818 "Implement metric retention policy and a way to flush metrics cache"
Currently all emitted metrics are stored in memory and are not cleared until the controller restarts. This is unnecessary since most likely metrics are scraped during a predetermined schedule.

[2020-04-24 00:42] alexec opened #2820 "Augment `argo list --chunk-size` with `--continue` and `--limit`"
# Summary

There is no way to get the next chunk.

# Motivation

* So that we can get the next chunk.
* So we know that there is another chunk.
* Use server side list options.
* Do not default to 500, should be all by default - I think this was a breaking change.
* Not consistent with `kubectl get`

# Proposal

Edit `cmd/argo/commands/list.go` keep the option like `kubectl get`:

[code]

We should

[2020-04-24 00:44] alexec commented on #2820
@changhc FYI

[2020-04-24 00:46] salanki commented on #2820
As currently implemented, it seems as the pagination is done client side, without any performance benefit except for less console output: https://github.com/argoproj/argo/blob/96c80e3e2c6eb6867e360dde3dea97047b963c2f/cmd/argo/commands/list.go#L120. For this to be useful, the chunking has to happen server side, otherwise it is fairly pointless from a performance perspective.

[2020-04-24 00:52] salanki opened #2821 "Argo delete all/completed should not abort on missing Workflow"
**What happened**:
Deleting a large number of workflows using `argo delete --all`, `argo delete --completed` or any other selector fails if one of the existing workflows covered by the delete are deleted by another client during the delete loop. This can happen ie. due to `workflow-controller` removing a workflow due to expired TTL.

[code]

**What you expected to happen**:
The delete operation sh

[2020-04-24 01:25] Ark-kun commented on #2793
There is no cluster. We run the Argo CLI program inside a Docker container. It has no access to anything.

[2020-04-24 01:42] Ark-kun commented on #2793
Try running the following inside some container (e.g. busybox)

[code]
[code]

[2020-04-24 01:50] changhc commented on #2820
I agree. So it means that we need to implement some cursors as well for this right?

[2020-04-24 03:40] samath117 commented on #2796
Adding `--loglevel DEBUG`, here are the logs:
[code]

[2020-04-24 08:52] samath117 opened #2823 "v2.7.1+ Regression: Global outputs cannot be defined by steps/DAGs templates"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

In Argo v2.6.3, you could produce global output parameters as the outputs to steps/DAG templates as shown in the example below (based on [this example](https://github.com/argoproj/argo/blob/master/examples/global-outputs.

[2020-04-24 09:05] brunomptorres commented on #2736
Hey guys!

Just wondering if this fix was already released? I can't find it on the release notes and after updating to v2.7.5 we're still getting the error when pressing the YAML and Container buttons. 🤔

[2020-04-24 09:13] clementlecorre opened #2824 "bug: cannot get artifact log with state "pod termination" (502 Bad Gateway)"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

In argo UI I want to see an artifact (from the log download link)  but I have a 502 (502 Bad Gateway) error.

workflow > logs > Still waiting for data or an error? Try getting logs from the artifacts.

**What you expected

[2020-04-24 14:28] simster7 commented on #2821
Would you like to submit a PR for this @salanki?

[2020-04-24 15:52] alexec commented on #2820
The Kubernetes APIs already support limit and continue, so it is a case of just passing the values down and back.

[2020-04-24 15:54] alexec commented on #2824
We should never see panics. This will cause the container to restart. I’ll investigate.

[2020-04-24 16:16] #2817 closed

[2020-04-24 16:44] alexec commented on #2696
Is this still a problem please?

[2020-04-24 17:11] alexec commented on #2793
OK. I can now repro this by doing:

[code]

Unfortunately, I'm not sure we can acceptably fix this. In v2.5.2 we introduced workflow templates. To lint a workflow that contains a template, we must read the template from the cluster, so we must have a connection to the cluster. This means a hermetically sealed container cannot lint workflows that contain templates.

There are a couple of options op

[2020-04-24 17:11] alexec commented on #2793
@sarabala1979 @jessesuen FYI

[2020-04-24 17:22] alexec commented on #2824
Can you please share your artifact configuration?

[2020-04-24 17:28] clementlecorre commented on #2824
I don't have a problem with other workflows. I have more than 1000 finished workflows or I had no problem.

[code]

[2020-04-24 17:32] alexec commented on #2824
The reason you get a 502 is the controller panics due to a nil deref. This crashes it and is a bug. But it is coincident - it is not why you do not have any logs - but it will hide the reason. So we need to fix it.

Are you able to use `kubectl  logs` to get the logs of the `wait` and `main` containers and paste them here please?

[2020-04-24 17:37] alexec commented on #2796
Excellent. This is exactly what I need.

[2020-04-24 17:37] wreed4 commented on #2777
I did yes.  The issue is if I want two templates to share a volume.  So for example, I have two processes (basically I want to run kaniko).  So the first process sets up the workspace, and the second does the kaniko build.  But because of this limitation, I have to run my setup in an init container.  This is how I would normally set it up in a Job, so it's not the end of the world.  The downside i

[2020-04-24 17:45] clementlecorre commented on #2824
Unfortunately I don't have the crash pod logs.... I feel like it's been deleted.

[2020-04-24 17:51] alexec commented on #2796
@samath117 @lkeijser I have a fix - but no way to test it on your systems - if you Slack me (I can't figure out you handle from your Github profile) - I can send you build of the CLI to test out.

[2020-04-24 17:55] simster7 opened #2831 "Compatibily issues when using WorkflowTemplates as a "template" library"
Currently a `WorkflowTemplate` is guaranteed to behave exactly as a `Workflow` when it is used as a “Submittable WorkflowTempalte” – i.e. when creating the WorkflowTemplate on the cluster and then submitting it as a whole via `argo submit --from`.

The same guarantee is not afforded when using them as a “template” (note lower-case template) library. I.e. when you there is an existing `WorkflowTemp

[2020-04-24 17:57] simster7 commented on #2777
Sounds good. I opened #2831 to discuss the larger picture of this request and similar others.

[2020-04-24 17:58] alexec commented on #1666
I'm closing this as the solution meets the description. However, printing the requests does not happen (it is GRPC anyway - not HTTP+REST). Feel free to open a new issue.

[2020-04-24 17:58] #1666 closed

[2020-04-24 18:04] alexec commented on #1044
Of what - the controller?

[2020-04-24 18:10] alexec commented on #1337
We no longer support the Argo UI.

[2020-04-24 18:10] #1337 closed

[2020-04-24 18:11] alexec commented on #2734
Could you please provide more diagnostic information? I recommend you re-raise this as a bug to see what information is needed.

[2020-04-24 18:11] alexec commented on #766
I think this works as described.

[2020-04-24 18:11] #766 closed

[2020-04-24 18:12] alexec commented on #1036
Argo API docs can be found under `docs/openapi-spec/swagger.json`

[2020-04-24 18:12] #1036 closed

[2020-04-24 18:12] alexec commented on #1395
This is over 6 months old. Please re-open if still an issue.

[2020-04-24 18:12] #1395 closed

[2020-04-24 18:13] alexec commented on #1466
I think this is fixed now. Please re-open if still an issue.

[2020-04-24 18:14] alexec commented on #1575
This was not possible last year. Today, if you expose the metrics server on port 9090 - you can also have a liveness probe on that.

[2020-04-24 18:14] #1575 closed

[2020-04-24 18:14] alexec commented on #1935
@sarabala1979 did you raise a more general ticket for testing the CLI.

[2020-04-24 18:14] alexec commented on #713
This is over 6 months old. Please re-open if still an issue.

[2020-04-24 18:14] #713 closed

[2020-04-24 18:14] alexec commented on #1616
This is over 6 months old. Please re-open if still an issue.

[2020-04-24 18:14] #1616 closed

[2020-04-24 18:15] alexec commented on #1367
Would you like to submit a PR for this?

[2020-04-24 18:15] alexec commented on #1806
This is over 6 months old. Please re-open if still an issue.

[2020-04-24 18:15] #1806 closed

[2020-04-24 18:15] alexec commented on #1610
We now provide `argo-linux-ppc64l`. Does this work for you?

[2020-04-24 18:15] #1610 closed

[2020-04-24 18:16] alexec commented on #1598
This has been implement in v2.7 .

[2020-04-24 18:16] #1598 closed

[2020-04-24 18:17] alexec commented on #1546
We now list the download options in the release notes.  Please re-open if still an issue.

[2020-04-24 18:17] #1546 closed

[2020-04-24 18:17] alexec commented on #1819
@jessesuen can we please get your thoughts on the correct behaviour.

[2020-04-24 18:17] alexec commented on #1394
This is over 6 months old. Please re-open if still an issue.

[2020-04-24 18:17] #1394 closed

[2020-04-24 18:18] alexec commented on #767
This is implemented (to a degree) now.

[2020-04-24 18:18] #767 closed

[2020-04-24 18:18] alexec commented on #987
This is over 6 months old. Please re-open if still an issue.

[2020-04-24 18:18] #987 closed

[2020-04-24 18:18] alexec commented on #1376
Should combine with #2760

[2020-04-24 18:19] alexec commented on #2289
I think your questions are answered.  Please re-open if still an issue.

[2020-04-24 18:19] #2289 closed

[2020-04-24 18:19] alexec commented on #2031
Please read `docs/running-locally.md`.

[2020-04-24 18:19] #2031 closed

[2020-04-24 18:19] alexec commented on #2126
Please re-open if still an issue.

[2020-04-24 18:19] #2126 closed

[2020-04-24 18:19] #1543 closed

[2020-04-24 18:19] alexec commented on #1543
This is over 6 months old. Please re-open if still an issue.

[2020-04-24 18:20] alexec commented on #944
See #1054

[2020-04-24 18:24] alexec opened #2833 "Fix flakey test TestFunctionalSuite/TestStopBehavior"
[code]
https://18739-100982449-gh.circle-artifacts.com/0/FunctionalSuite-TestStopBehavior.log

[2020-04-24 18:25] alexec commented on #2833
@simster7 do you want to own this? I'll just skip today.

[2020-04-24 18:26] #2824 closed

[2020-04-24 18:27] simster7 commented on #2833
Sure I’ll own

[2020-04-24 18:30] alexec commented on #2162
I think this is done now. Please re-open if still an issue.

[2020-04-24 18:30] #2162 closed

[2020-04-24 18:30] alexec commented on #2821
I think this  maybe why the DeleteCompleted test is flakey.

[2020-04-24 19:01] cburbridge opened #2835 "UserContainer swagger definition not matching command line client"
**What happened**:

The API swagger file for release 2.7 (https://github.com/argoproj/argo/blob/release-2.7/api/openapi-spec/swagger.json) defines a UserContainer as a

[code]

and the `sidecars` property of a `Template` as an array of `UserContainers`.

In the sidecar example at https://github.com/argoproj/argo/blob/master/examples/sidecar.yaml, the YAML for the sidecar property looks like:

[cod

[2020-04-24 19:22] alexec commented on #2835
https://github.com/argoproj/argo/blob/master/docs/fields.md#usercontainer

[2020-04-24 19:25] alexec commented on #2835
You're quite correct - I wonder if this is a problem with Golang `inline`.

[2020-04-24 19:27] alexec commented on #2835
Yes. There are multiple instances, cf `S3Bucket`.

[2020-04-24 20:14] alexec commented on #2835
Ok. I've investigated - and I believe this is correct - the Swagger reflects the API, not the YAML. These are different, that is to be expected.

[2020-04-24 21:00] simster7 commented on #2742
Here is where we actually delete Pods:

https://github.com/argoproj/argo/blob/bac339afe10013a63bc1bb2fb83a883c07e19cb9/workflow/controller/exec_control.go#L34

We use the K8s API `Delete` request, which _should_ be the same as `kubectl delete`. Is this not the behavior you're experiencing?

Also, is this only relevant for `Stop`/`Terminate` commands? Or for other scenarios?

[2020-04-24 21:02] #2823 closed

[2020-04-24 21:42] wktmeow commented on #2742
@simster7 unless I am mistaken, the line of code you mentioned is only run in the case when the pod is in PodPending status, but if it is PodRunning I don't believe it applies.

We are not experiencing the same behavior as kubectl delete with our batch application pod.  When running as a Kubernetes job, delete will result in a graceful shutdown, but terminate command from Argo CLI or UI when using

[2020-04-25 02:01] aoighost commented on #1044
the cli appears to have been made with for windows now, closing.

[2020-04-25 02:01] #1044 closed

[2020-04-25 04:54] blkperl commented on #2796
I was able to reproduce this with a local microk8s running in multipass.

First let's drop a lot of packets between the argo client and kubernetes.

[code]

Then verify we can reproduce the bug on v2.7.5

[code]

Then try with https://github.com/argoproj/argo/pull/2830

[code]

With the patched argo cli there was no EOF error. I repeated this process twice and had consistent results.

[2020-04-25 15:50] alexec commented on #2796
@blkpe so are you saying the fix worked?

[2020-04-25 18:18] alex-lipkin-create commented on #2792
OK, found the problem. It schould be executed as:

 argo submit --watch --from=wftmpl/workflow-template-submittable

Thanks for support

[2020-04-25 18:18] #2792 closed

[2020-04-25 18:26] alex-lipkin-create opened #2840 "Using submittable Workflowtemplate wit parameters"
Currently we would like start to use submittable workflow template.
The challenge is that workflow, which I would like to convert to workflowtemplates includes some run time parameter specified during submit.

In my understanding there is no possibility to convert workflow to workflowtemplate without
setting the parameter. Is that correct?

For sure I can set the parameter in yaml file and then cr

[2020-04-25 18:51] blkperl commented on #2796
@alexec Yes!

[2020-04-25 19:21] alexec commented on #2796
I believe you network cuts the connection at 90s. The change re-establishes the connection when it is cut.

[2020-04-26 00:08] Ark-kun commented on #2793
What if we make this connection lazy? This way the workflows that do not have external templates can still be linted.

[2020-04-26 00:14] Ark-kun commented on #2793
Just some thoughts about the design of external templates.
When faced with a need to separate templates from workflows, in Kubeflow Pipelines we chose to mainly reference the external templates by URL. URLs are universal resource locators. They point to the exact location where component/template can be accessed.  And they are significantly easier to download than cluster-specific CRDs. In Argo, a

[2020-04-26 03:15] sarabala1979 commented on #2840
yes, you can pass the parameter during workflow submission time using `-p`

Scenario 1: `Workflow` is  referring to `WorkflowTemplate`

Workflow:
[code]
Workflow Template:
[code]

you can pass the `message` argument in runtime

[code]

Scenario 2: Directly submitting `WorkflowTemplate` as `Workflow` using --from option

Workflow Template :

[code]
argo template create <yaml>

[code]

[2020-04-26 05:44] sarabala1979 commented on #2777
#2556 will solve the Volumes and Parameters from the caller workflow to WorkflowTemplates.

The approach is to merge all Volumes and parameters declare from caller workflow to WorkflowTemplates. Those will available for all templates in that workflows. I am already working on it.
@simster7 Please discuss with me before you are starting any work on this.

[2020-04-26 05:46] sarabala1979 commented on #2831
https://github.com/argoproj/argo/issues/2777#issuecomment-619486554
#2556

[2020-04-26 07:01] cburbridge commented on #2835
Thank you for investigating this.

Instead of pushing swagger-spec generated YAML through the argoclient, I have tried calling the API directly with a `WorkflowCreateRequest` request object created following the swagger. I still get the same issue around the use of a 2.6+ `UserContainer` instead of the older 2.5 `UserContainer`:

[code]

[code]
happens because the API appears to expect the `contai

[2020-04-26 10:26] puchake opened #2841 "Unable to load GCS artifact which is a not empty directory"
**What happened**:

Workload which attempts to load input artifact from GCS with key that is a not empty directory fails like this:
[code]

**What you expected to happen**:

Directory artifact is recursively loaded under specified path and workload ends with a success.

**How to reproduce it (as minimally and precisely as possible)**:

Workflow template:
[code]

1. Setup GCS bucket with `test_dir`

[2020-04-26 12:49] alex-lipkin-create commented on #2840
Thanks a lot!

[2020-04-26 12:49] #2840 closed

[2020-04-26 13:03] alex-lipkin-create opened #2842 "Provide an image version during submit workflow"
We are using different image versions (tags) during our development.
Is there any easy way provide an image tag during submission of workflow?

We have currently implemeted this as a variable, which we provide in argo submit vommand.
A disadvantage of this approach is, we need to include this parameter in every workflow step and propagate through several layers of workflow templates.

If I underst

[2020-04-26 16:01] alexec commented on #2835
Hmm. Needs further investigate.

[2020-04-26 16:01] salanki commented on #2820
It would be super awesome if this was implemented in a way so that it can be used by the web UI in the future as well. Doing server side pagination would make the UI actually useful for > 400 workflows.

[2020-04-26 16:04] salanki opened #2843 "Aggregate resource duration to step group and workflow level"
# Summary

Calculate and display total workflow resource duration.
# Motivation

The implementation in #2219 gives great visibility to resource demand at individual pod level. Being able to see total resource usage of a workflow in the workflow list in the UI would make the usefulness a magnitude higher.

# Proposal

The logic of the implementation should be pretty straightforward, sum up all Pod

[2020-04-26 17:06] simster7 opened #2844 "“Argo update” command"
Provide a CLI command to automatically fetch the latest manifests from GitHub and — after a confirmation prompt — apply them to the cluster.

Just an idea right now. Any opinions?

[2020-04-26 17:07] simster7 opened #2845 "Add a “status.conditions” display to CLI output"
Currently we output the contents of status.conditions on the UI, but not the CLI.

[2020-04-26 18:08] salanki opened #2846 "Argo Server doesn't release memory when Workflows are deleted"
**What happened**:
When passing through thousands of workflows through Argo, Argo Server seems to hold on to some resources in memory even efter the workflow has been deleted by `argo delete`.

![Screen Shot 2020-04-26 at 11 28 42](https://user-images.githubusercontent.com/192223/80315349-ee535580-87c4-11ea-9a83-8f2a620df911.png)
Between each run (noted by the large uptick), all workflows were del

[2020-04-26 19:32] alexec opened #2847 "Allow templates to be URLS, like Kubeflow"
# Summary

Allow resolution of templates by using URLs.

# Motivation

So we can have templates in a single place.

# Proposal

This is a feature that Kubeflow has and @Ark-kun mentions in #2793.

@mukulikak @jessesuen

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to priorit

[2020-04-26 19:34] alexec commented on #2793
The request happens pretty much as the CLI starts. This is pretty fundamental to the design of the API client - which is is why is it is probably impractical to fix.

But I'm not sure this is what you need - you need a syntax check - I think we can add on `--offline` flag to `argo lint` which does basic validation.

[2020-04-26 21:38] alexec commented on #1759
@mehtadeepen ok?

[2020-04-26 21:38] seddonm1 opened #2849 "Exit code as output variable not resolving"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

I am testing Argo 2.8.0 RC1 and RC2 and have found that the `outputs.exitCode` variable created via PR #2111 does not appear to work:

[code]

**What you expected to happen**:

Exit code should have been resolved as #2111

[2020-04-26 21:41] alexec opened #2850 "Fix flakey TestWorkflowRetryNoPersistence"
# Summary

This test is flakey because it is using banned image `whalesay` rather than `cowsay:v1`

# Motivation

This should have failed validation in fact. Not sure why it did not.

Can we also find out why this test is a special case? I can't see why this test has a conditional on persistence - it should work fine without it.

# Proposal

* Change image to cowsay.
* Determine why this test case

[2020-04-26 21:41] alexec commented on #2850
@mark9white would you like to own this?

[2020-04-26 21:43] Ark-kun commented on #2847
Note that the Kubeflow Pipelines team does not require this feature to be present in Argo (KFP works fine as it is). But this might be a neat feature for people using raw Argo.

Here is an example of using this feature in KF Pipelines: https://github.com/kubeflow/pipelines/blob/master/sdk/python/tests/components/test_data/retail_product_stockout_prediction_pipeline.component.yaml

Here is an examp

[2020-04-26 21:45] alexec commented on #2846
Thank you for this report. The argo-server (not the workflow controller) is stateless and so memory usage should not increase. To control memory usage in the short term you can set pod resource requests and limits for the container (we probably should by default - so if you do come up with limits - do let us know what they are).

Can I please ask for additional information:

* What auth-mode are y

[2020-04-26 21:46] Ark-kun commented on #2793
This sounds great. Thank you.

[2020-04-26 21:46] alexec commented on #2847
Thank you @Ark-kun. I've created this issue and we'll see how many up-votes it get. I can imagine people might like this - I'm intrigued how we can verify URLs.

[2020-04-26 22:04] alexec commented on #2846
argo-server:
[code]

You need only to create some workflows to repro this and you can see memory usage slowly increase from 16m .

[2020-04-26 22:26] alexec commented on #2793
Cool. If you fancy helping - please take a look at the linked PR.

[2020-04-26 22:53] alexec commented on #2846
![profile001](https://user-images.githubusercontent.com/1142830/80321920-0aabbe00-87d6-11ea-9d19-7aaf93aa81ce.png)

[2020-04-27 02:35] changhc commented on #2820
Do we really want to remove the default 500? I'm wondering if it's problematic if a user has lots of workflows. Or we still keep it but set limit to 500 at the same time and show `There are additional suppressed results, show them by increasing --continue string` if there are more records?

[2020-04-27 02:47] salanki commented on #2820
I think either or is good, as long as the message is there.

[2020-04-27 09:02] mark9white commented on #2850
Sure, I'll take a look.

[2020-04-27 10:36] mark9white commented on #1918
@alexec FYI I tried running a large workflow with offload enabled and got consistency issues, I'm pretty sure related to this. Note that there were simultaneous updates happening in workflow-controller and from the apiserver.

Describing the issue with the current version of the code:

1) goroutine A loads the workflow + nodes
2) goroutine B (which may be in a different process) loads the same wor

[2020-04-27 14:35] shibataka000 commented on #2638
Workflow controller restarts with `fatal error: concurrent map read and map write` in our environment, too.

Our environment are as follow.

- Argo server version:

[code]

- Workflow controller version:

[code]

- Kubernetes version:

[code]

This is part of workflow-controller's error logs.

[code]

You can see full of it in [here](https://gist.github.com/shibataka000/c655411d816eb02a3d7fff8a0ff

[2020-04-27 15:12] alexec commented on #1918
So there's a bug in `reapplyUpdate`?

[2020-04-27 15:22] kabilan6 opened #2852 "Manual intervention in workflow process"
# Summary

I have scenario in workflow where manual approval step is required in the flow and it needs to hold till the approval and move forward once it is approved .

is it possible to achieve this in Argo workflow ? can you please provide eg for this ?

The workflow will have 6-7 steps with dependency and it will run in loop for about 100 times. so may go for Approval and some mayn't go for app

[2020-04-27 15:33] simster7 commented on #2777
I think we should have a discussion first if we want to support this behavior. At its simplest, #2556 could just be a reference to a wftmpl, just like how doing `template.steps.templateRef` would be. On the other hand it could support behavior outlined in #2831. We need to decide where in that spectrum we want to be as I don't think the answer is obviously either way.

This sounds problematic sinc

[2020-04-27 15:36] simster7 commented on #2841
@whynowy GCS: seems like your domain?

[2020-04-27 15:38] simster7 commented on #2843
Interested in submitting a PR for this?

[2020-04-27 15:46] dtaniwaki commented on #2777
My original thought to solve the situation described in the issue was having volumes with a template context. So volumes at the top level of WorkflowTemplate can be used only within the resource but they cannot be used the outside unless they’re manually included.

[2020-04-27 15:50] simster7 commented on #2852
Take a look at: https://github.com/argoproj/argo/blob/master/examples/suspend-template.yaml

[2020-04-27 15:51] mark9white commented on #1918
I'd say it's the whole handling of offloaded nodes in the `persistUpdates()` function when `apierr.IsConflict(..)` returns true.

[2020-04-27 15:56] sarabala1979 commented on #2777
Agreed, we need to discuss the usecase and behavior of `Global Arguments` and `Volumes` on referred workflow templates. I had an initial discussion with @jessesuen how the Arguments and Volumes will need to handle in the `TopWFTRef` feature. After I saw the above issue. I think we can solve it the same way.
Suggestion  :
We can store Workflow Template Arguments and Volumes in Status Section like S

[2020-04-27 16:06] simster7 commented on #2849
Hi @seddonm1, thanks for the great catch. The example should actually say

[code]

I opened #2853 to fix this and the docs.

[2020-04-27 16:09] automagic commented on #2831
A use-case we have is being able to use the global outputs of a workflow template (by `globalName:`) just as if we were referencing the outputs of a local template in a workflow.  That is, our workflow has a step that references a WorkflowTemplate by `templateRef` and we would like to reference its outputs in a dag or step workflow, e.g. `{{ tasks.my-templated-task.outputs.parmeters.my-template-gl

[2020-04-27 16:14] simster7 commented on #2742
Ah, good catch!

If the Pods are running (instead of pending), we implement using the shutdown using the old "set `activeDeadlineSeconds` to 0" way, which I _think_ (but I'm not sure) terminates the Pod non-gracefully. See:

https://github.com/argoproj/argo/blob/bac339afe10013a63bc1bb2fb83a883c07e19cb9/workflow/controller/exec_control.go#L76-L79

I think the fix should be to replace this logic and

[2020-04-27 16:16] alexec commented on #1918
It needs to read it back. I get it.

Could I please ask you to raise a bug for this?

[2020-04-27 16:21] dtaniwaki commented on #2777
Sounds good. Have you already made some work on this idea?

[2020-04-27 16:25] sarabala1979 commented on #2777
yes I am working on it

[2020-04-27 16:37] alexec commented on #2835
[code]

[2020-04-27 16:40] simster7 commented on #2742
Turns out fix was way simpler: #2855

[2020-04-27 16:40] alexec commented on #2835
[code]

[2020-04-27 16:42] #2849 closed

[2020-04-27 17:08] mark9white opened #2856 "Persistence race condition with merging offloaded nodes"
If there is a conflict when updating the offloaded nodes for a workflow, there is no merge between the two workflow updates - instead the latter one wins.

This is because the persistUpdates() function is missing support for offloaded nodes when apierr.IsConflict(..) returns true - it needs to make sure that any changes to the nodes in the offload storage are merged with the changes we're trying t

[2020-04-27 17:08] mark9white commented on #1918
I've created #2856

[2020-04-27 17:25] #2796 closed

[2020-04-27 17:34] simster7 opened #2857 "Cannot create WorkflowTemplate with unsupplied inputs"
**What happened**:

I tried to create a set of `WorkflowTemplates` from the examples and received an error:

[code]

**What you expected to happen**:

I expected to be able to create these templates without an error.

**How to reproduce it (as minimally and precisely as possible)**:

Run `argo template create examples/workflow-template/templates.yaml`

**Anything else we need to know?**:

This is

[2020-04-27 17:36] samath117 commented on #2831
For volumes and global parameters, I like the solution @sarabala1979 linked in of merging all of the global (workflow) parameters, with the caller getting priority over the template library if they conflict (as with default input parameters).

I'm not sure there's a good solution to the exit handler issue, though, and maybe that should be forked for another time. On the project I'm working on righ

[2020-04-27 17:45] samath117 commented on #2831
@automagic There shouldn't be any issue using regular (non-global) outputs of a WorkflowTemplate exactly the same way as you would a template (e.g. `{{tasks.TASK.outputs.parameters.NAME}}`). Global output variables (`{{workflow.outputs.parameters.NAME}}`) just have a bug (#2590) whose fix appears to be in the works

[2020-04-27 18:04] kabilan6 commented on #2852
my scenario- i dunno know exactly how long it will take for approval step. i want that next step to after approval.

Also my workflow could 6-10 steps and it will run in loops/iteration for each input. In that flow, one step could be approval (based on case condition, approval not req for each input iteration )

[2020-04-27 18:08] inc0 opened #2859 "Workflow archive installation is incomplete"
Checklist:

 * [x] I've included the version. - 2.7.5
 * [x] I've included reproduction steps.

**What happened**:

When installing Argo from guide, we enabled workflow archive. We've created database. Now after checking Argo UI in archive, we got error.

[code]

https://github.com/argoproj/argo/blob/master/docs/workflow-archive.md doesn't show any notion of create table needed or which schema sho

[2020-04-27 18:24] alexec commented on #2859
Tables are created by the workflow controller. Can you please attach its logs?

[2020-04-27 18:30] simster7 opened #2860 "Need documentation on "nodeFieldSelector""
We need to add some documentation regarding `nodeFieldSelector`s in CLI commands. Ideally, it would be a doc under `docs/` something like `node-field-selector.md` following the same template of other docs. The docs should contain a list of all available "node selector fields" in it.

I think the closest example for this would be something like https://github.com/argoproj/argo/blob/master/docs/defa

[2020-04-27 18:31] simster7 commented on #2860
@mark9white Could I ask that you own this since you implemented the feature? If not possible I can take care of it.

[2020-04-27 18:35] inc0 commented on #2859
I figured it out, problem was that user that workflow controller had was unable to create tables. I also had small typo in config. Problem was, as usual, between chair and keyboard. Thank you!

[2020-04-27 18:35] #2859 closed

[2020-04-27 18:36] simster7 commented on #2852
Per the example, an empty suspend template will stop execution until manual intervention is made:

[code]

You should be able to add suspend templates to each of the items in your loop:

[code]

This can result in some steps finishing before others and therefore suspending before others:

<img width="382" alt="image" src="https://user-images.githubusercontent.com/614838/80407667-d6d6a400-887a-11ea

[2020-04-27 18:38] simster7 opened #2861 "Add a way to distinguish child nodes of `withParam` using nodeFieldSelector"
If we want to use `nodeFieldSelector` in an example such as https://github.com/argoproj/argo/issues/2852#issuecomment-620159504 where the relevant node is a child node of a `withParam` execution, we cannot use the usual `--node-field-selector=inputs.parameters.<NAME>.param=...` approach, since this relevant node won't have that information.

We need a way to distinguish such nodes.

[2020-04-27 19:48] alexec commented on #1707
Is this still a problem please?

[2020-04-27 19:50] alexec commented on #1080
See #976 and #2782

[2020-04-27 20:44] simster7 opened #2864 "Create a cmd/common package for methods used accross the CLI"
For example, the `printWorkflow` method is used in different parts of the CLI. `cmd/argo/get.go` and `cmd/argo/archive/get.go`.

Currently, the method is duplicated in the two files, which is undesirable. Furthermore, importing the method from the `commands` package would create a circular dependency.

We should extract these functions under a common package so that they can be imported across the

[2020-04-27 20:49] #2845 closed

[2020-04-27 20:51] simster7 commented on #2738
Please also consider https://github.com/argoproj/argo/issues/2864 during this

[2020-04-27 22:17] alexec opened #2865 "Unable to delete Successful Workflows of CronWorkflow...v1.StatusReason=NotFound"
[code]
Fix is to` !apierr.IsNotFound(err)`. i.e.:
[code]

[2020-04-27 22:17] alexec commented on #2865
@simster7 trivial fix - do you want to own?

[2020-04-27 22:27] simster7 commented on #2865
Nice catch: https://github.com/argoproj/argo/pull/2866

Just making sure, I assume you meant:

[code]

?

[2020-04-27 22:52] automagic commented on #2831
@samath117 tasks.TASK refers to a WorkflowTemplate (entrypoint), but i want the output of a (sub) task within that WorkflowTempate to use in the caller.  How do I specify the output parameter name on the WorkflowTemplate?

[2020-04-27 23:08] simster7 opened #2867 "Add controller mode where only WFs from WFTemplates can be submitted"
# Summary

Add a "restricted" mode to the `workflow-controller` where only `Workflows` that submit `WorkflowTempaltes` can be executed. Depends on the top-level `WorkflowTemplate` reference PR #2556

# Motivation

After #2556 is completed, users will be able to submit Workflows that are simply a reference to a `WorkflowTemplate`.

Some users might want to take advantage of this feature to add a "r

[2020-04-27 23:12] #2865 closed

[2020-04-28 00:38] sudermanjr opened #2868 "The parameters list does not scroll in table view"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
I have a very long list of parameters, and when I view the table view in the server UI, it cuts off unless I zoom out.

**What you expected to happen**:
I think it should allow scrolling inside the list, or of the entire p

[2020-04-28 07:14] samath117 commented on #2831
@automagic No, tasks.TASK refers to a particular invocation of the template in a dependent task within the same DAG as where it is called. If the dependent task is itself an invocation of a DAG (or steps) template, you can't extract any of its own tasks' output artifacts or parameters unless those are "exported" by making them output artifacts or parameters of the parent task. All of this holds wh

[2020-04-28 08:48] samath117 opened #2870 "Give argo stop the option to respect continueOn"
# Summary

`argo stop`, possibly by default and possibly with an option, should still execute steps that would run subsequently upon failure of the currently-running steps to continue. This allows "manual exit handlers" to still function in addition to explicitly-specified exit handlers.

# Motivation

`argo stop` provides a softer alternative to `argo terminate` by still running exit handlers, wh

[2020-04-28 09:04] mark9white commented on #2860
No problem

[2020-04-28 14:26] HumairAK opened #2871 "Add descriptions for steps that can show up in ui"
# Summary

Add step description field that can add human readable descriptions about the step.

# Motivation

We make the ui available for others on our teams to view, but they do not necessarily have the full technical understanding of what the workflow is doing. It would be great if instead we could offer them a description of a step when they click on it to get a summary of what the step is doi

[2020-04-28 16:13] alexec commented on #2871
This sounds useful, and there is "display name" for a step. Have you set that?

[2020-04-28 16:40] frostebite commented on #1541
This would be absolutely excellent.

[2020-04-28 16:41] ntwrkguru commented on #2733
This is the 3rd exact issue for this and yet it doesn't work, as shown on the Getting Started doc. Maybe someone should actually update the source documentation instead of answering the same question (at least) 3 times in issues? Just a thought...

[2020-04-28 17:34] simster7 commented on #2849
.

[2020-04-28 19:01] simster7 commented on #2621
Currently being fixed by @mark9white: https://github.com/argoproj/argo/pull/2548

[2020-04-28 19:24] alexec commented on #2846
@salanki are you please able to provide more information?

[2020-04-28 19:32] jrinvictus opened #2875 "Upgrade to latest version"
Is there a way to upgrade to the latest version or do we just need to uninstall and then install the latest version?

Thanks!

[2020-04-28 19:44] stefansedich commented on #2773
We are seeing the same running one controller too.

[2020-04-28 19:48] stefansedich commented on #2867
I like this idea, lets us manage the templates in our normal GitOps process and not allow arbitary workflow execution.

[2020-04-28 19:50] alexec commented on #2856
@jessesuen @sarabala1979 `reapplyUpdate` has some issue when it comes to offloading:

1. Any fix to this bug is complex and I think it might actually be impossible to test.
2. Wouldn't it be better to use mutexes to ensure that we cannot update the same workflow twice at the same time?

[2020-04-28 19:51] alexec commented on #2856
@mark9white are you able to talk a bit about the impact of this bug?

[2020-04-28 19:53] alexec commented on #2875
You should track stable, but how you install is really up to you. We use Argo CD to manage our installations.

[2020-04-28 19:53] simster7 commented on #2773
Will look into this this week

[2020-04-28 19:56] simster7 commented on #2773
This could potentially be fixed by: https://github.com/argoproj/argo/pull/2851

[2020-04-28 20:00] alexec commented on #2856
[code]

[2020-04-28 21:13] mark9white commented on #2856
Mutexes assume there is only one workflow-controller instance, and also workflows get updated by both the apiserver and the workflow-controller.

One issue here is that the system relies on Kubernetes 'patch' command to apply a set of updates to the metadata/nodes in Kubernetes, but there's no direct equivalent for patching the nodes if they're in a SQL database.

In terms of impact, we have a lar

[2020-04-28 21:25] salanki commented on #2846
Thanks for the reminder, will get back to you asap.

[2020-04-28 21:37] AkhilKavuri commented on #2502
@hayato1121 I'm facing the same issue on EKS Fargate. were you able to find a workaround ?

[2020-04-28 21:47] #2818 closed

[2020-04-28 21:52] #2835 closed

[2020-04-28 22:56] #2623 closed

[2020-04-28 22:56] #2620 closed

[2020-04-28 23:19] #976 closed

[2020-04-28 23:19] #1080 closed

[2020-04-29 02:02] hayato1121 commented on #2502
@AkhilKavuri
No. Because of this issue, I gave up using Fargate and instead of it use EC2.

[2020-04-29 03:03] jfb74 commented on #2664
@alexec I am trying to deploy the namespaced install.yaml and too am experiencing this problem. I am using argo v2.7.6 with the argoexec, workflow-controller, and argocli images all being hosted in our enterprise artifact repository.

[2020-04-29 06:18] sarabala1979 commented on #2664
@jfb74 Can you try v2.8.0-rc3?

[2020-04-29 07:55] hyeonjae opened #2879 "Add `grpc reflection` for tools like grpcui."
# Summary

Add `grpc reflection` for tools like grpcui. 😄

# Motivation

I want to call argo api using tool like [grpcui](https://github.com/fullstorydev/grpcui) (similar with postman) which lets us interect with grpc server via a browser.
For this, the grpc reflection need to be added.  🙏

# Proposal

Add only 2 lines of code in `argoserver.go`

[code]

---

**Message from the maintainers**:

If

[2020-04-29 08:07] ktjooho commented on #2879
This suggestion is what I really need to exactly!

[2020-04-29 10:16] mark9white commented on #2850
It has the conditional on persistence because it needs to read and modify the nodes. I am creating a PR which modifies it to run both in the persistence and non-persistence suites.

[2020-04-29 10:30] hnykda opened #2881 "Preempted nodes are treated as Fails but should be Errors"
**What happened**: When a kubernetes node is preempted (killed), the workflow nodes get into `phase: Failed`, but it should be `phase: Error`.

**What you expected to happen**: A node would get `phase: Error`

**How to reproduce it (as minimally and precisely as possible)**: Run jobs on cloud (we use GCP) and wait until your node is preempted.

**Anything else we need to know?**: The reason why we

[2020-04-29 10:41] brabster commented on #2777
I think I have a related problem, not sure if it's different enough to warrant a different issue. I am using the nested parallel workflows pattern https://github.com/argoproj/argo/blob/master/examples/parallelism-nested.yaml to train several different ML models from the same source dataset. They are the same DAG workflow in a WorkflowTemplate, parameterised differently, and they store intermediate

[2020-04-29 12:35] wreed4 commented on #2671
I've encountered this problem now even when storing outputs in emptyDirs.  The problem for me isn't actually saving the outputs, it says it successfully saved the outputs. Here's the wait container logs.

[code]

[2020-04-29 13:21] ddseapy opened #2883 "Recommended resources for workflow controller"
On 2.7.1 getting OOMKilled from kubernetes on workflow-controller causing constant restarts.  This was with memory limit and requests set to 1Gi.

I'm also getting this error, which then doesn't get retried (presumably because pod is down and controller not able to grab the pod change as it happens): https://github.com/argoproj/argo/blob/v2.7.1/workflow/controller/operator.go#L792

seems to be hap

[2020-04-29 13:43] jackiemazy opened #2884 "Workflow not exiting even both pod and workflow completed"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
While submitting a simple argo workflow with only one step, the pod gets created and completed successfully, so is the workflow, but the workflow doesn't exit. it hangs at the following stage:
[code]

**What you expected t

[2020-04-29 13:45] jackiemazy commented on #2884
Things I can think of for now are
* Too much logs in the pod main container
* Didn't see the `deadline monitor stopped` message in the wait container logs

[2020-04-29 14:05] mac9416 opened #2885 "workflow-controller should throw an error when config has 'config' and any other key"
**What happened**:

Copy/pasting the following workflow-controller config from getting-started (before it was [fixed](https://github.com/argoproj/argo/pull/2872)), would cause workflow-controller to silently ignore the section after `config`. (I think the `|` causes the structure to be flattened).

[code]

**What you expected to happen**:

I would have expected workflow-controller to throw an exce

[2020-04-29 14:56] hnykda opened #2886 "UI unusable with a few hundreds of workflows"
Please see my update: https://github.com/argoproj/argo/issues/2886#issuecomment-621297445

**What happened**: When port-forwarding an `argo-server` to my localhost and accessing the root page, I see no progress in the Network tab (developers tools) and after 30 seconds (I guess the server timeout) I get:
![image](https://user-images.githubusercontent.com/2741256/80610153-4befd800-8a39-11ea-9779-bf

[2020-04-29 15:07] dguendisch opened #2887 "Allow to open workflow logs in new tab"
The new logging facility option is really great and super useful (https://github.com/argoproj/argo/pull/2443)
While the pod log link allows to be opened in a new tab (or directly cmd+click), the same doesn't work for the workflow link on the top.
Is it possible to enable this for the top workflow log link as well?

![image](https://user-images.githubusercontent.com/30311254/80612176-e4875780-8a3b-

[2020-04-29 15:39] mac9416 commented on #2885
Actually, the fix wasn't correct. I think the pipe after `artifactRepository` is the problem. I believe it's causing the `s3` block to be treated as a string, which then doesn't get unmarshalled into the `ArtifactRepository` block.

So the fix is to remove the pipe after `artifactRepository` or to un-nest it from `config`.

[2020-04-29 15:46] hnykda commented on #2886
## Update
The above is probably a bit of red herring. When I tried to access the server few minutes later, I was able to see that the workflows are loading in the developer console, but it has never finished and become unresponsive (it downloaded about 50MB in two minutes):
![image](https://user-images.githubusercontent.com/2741256/80616457-3a123300-8a41-11ea-8477-cf82d2a10929.png)

I believe the

[2020-04-29 15:53] cburbridge opened #2888 "Swagger giving wrong Kubernetes definitions."
**What happened**:

The swagger definition for the Argo API includes Kubernetes  definitions such  as `io.k8s.api.core.v1.Volume` and ``io.k8s.api.core.v1.Container`. Some definitions don't match those from Kubernetes, e.g:

Argo defines:

[code]

whereas Kubernetes (1.14.9) defines:

[code]

This means that following the Argo supplied definition with the "localObjectReference" field causes workfl

[2020-04-29 16:05] alexec commented on #2888
The specs changed on master yesterday. See #2837.

[2020-04-29 16:07] alexec commented on #2886
#2863 (v2.9) introduces pagination for the workflow list. Do you think that would fix your problem?

[2020-04-29 16:10] #2885 closed

[2020-04-29 16:10] alexec commented on #2887
Would you like to submit a PR to fix this?

[2020-04-29 16:14] alexec commented on #2884
This smells:

[code]

[2020-04-29 16:16] alexec commented on #2883
This is a really good pair of questions:

1. No, you must only run one controller per instance ID, typically people don't use this (it can be a workaround).
2. Great question. I think the memory usage will grow liniarly with the number of workflow you're using - thought 4GB seems a lot.

[2020-04-29 16:16] hnykda commented on #2886
I would expect so.

[2020-04-29 16:18] jackiemazy commented on #2884
@alexec Thanks for looking into this... It does look like something odd. And I have seen those logs from the workflow-controller since I upgraded to argo 2.7.4. But other workflows seem to work fine (I have some multiple-step workflows went thru even with those messages in the controller). So it doesn't seem to be causing the workflow to hang.

[2020-04-29 16:18] alexec commented on #2881
You've raised a bug, are you able to provide repro steps?

Also, can you try in v2.8.0-rc3?

[2020-04-29 16:19] alexec commented on #2879
How would you secure this API?

[2020-04-29 16:24] alexec commented on #2886
Ok. I will close this issue.

[2020-04-29 16:24] #2886 closed

[2020-04-29 16:25] alexec commented on #2884
https://sharingtechknowledge.blogspot.com/2019/03/openshift-resourceversion-for-provided.html

[2020-04-29 16:33] cburbridge commented on #2888
I've tested with the master branch, the problem can be seen here: https://github.com/argoproj/argo/blob/master/api/openapi-spec/swagger.json#L6349
https://github.com/argoproj/argo/blob/master/api/openapi-spec/swagger.json#L6111

[2020-04-29 16:35] simster7 commented on #2773
@vilmosnagy I spent some good time looking over the logs you posted, thinking it could be a possible race condition started when Workflows finish too close to the scheduled time. However, I have a big doubt to this theory:

If the same controlling was scheduling the Workflow multiple times then we would see this line in the logs more than once every minute:

[code]

Any time a Workflow from a Cron

[2020-04-29 16:55] simster7 commented on #2881
The node is set to `Failed` in this line (per your posted logs):

https://github.com/argoproj/argo/blob/a0035dd58609d744a6fa304e51d61474f25c817d/workflow/controller/operator.go#L957-L960

Which leads me to assume that when a Node is preempted, it deletes all of its pods gracefully (hence setting `DeletionTimestamp`). This behavior would be similar to a user deleting a pod manually while a Workflow

[2020-04-29 17:03] jackiemazy commented on #2884
Good to know that message isn't a bug. Now back to this issue, the workflow seems to stuck with no reasons, so am i :-(.

[2020-04-29 17:06] logicfox opened #2890 "Redirect deep-links to workflows redirect to workflows in archive"
# Summary

If workflow archiving is enabled, can we have deep-links to workflows redirect to the archived workflows?

# Motivation

We use Slack notifications where we deep-link to the workflow. If a workflow is archived, the deep-links fails. The end-user is presented with a blank page without the workflow chart.

# Proposal

How do you think this should be implemented?

Look up workflow by name.

[2020-04-29 17:08] dguendisch commented on #2887
I'm sorry but having never done any html/javascript/typescript/react and judging from a quick look (seeing that the buttons in the pod links are directly styleable and seeing that the buttons from the workflow links come from some more generic page/toolbar and given your comment here https://github.com/argoproj/argo/pull/2443/files#diff-a19f113f6e39d3f31c1d1e776cdf84b3R388) I fear that I'm not cap

[2020-04-29 17:15] alexec commented on #2888
Do you think this could be due to different versions of their API?

[2020-04-29 17:17] logicfox opened #2891 "Workflow Template UI - "Empty" workflow template causes error when rendering"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
When an "empty" WorkflowTemplate is selected from the Workflow Templates summary page, a rendering error occurs.

**What you expected to happen**:
Page is rendered correctly

**How to reproduce it (as minimally and precise

[2020-04-29 17:44] cburbridge commented on #2888
I'm really not sure, I couldn't find any version documentation/swagger for Kubernetes that matches the  Argo swagger.

[2020-04-29 17:46] simster7 opened #2892 "Swagger docs not getting updated after #2837"
**What happened**:

`api/openapi-spec/swagger.json` is not getting updated after #2837. To test this, I reverted the commit and ran `make swagger` again and the docs were updated successfully.

**What you expected to happen**:

When I update `workflow_types.go` and run `make codegen` or even `make swagger`, I expect `api/openapi-spec/swagger.json` to be updated.

**How to reproduce it (as minimall

[2020-04-29 17:46] simster7 commented on #2892
FYI @alexec

[2020-04-29 18:00] alexec commented on #2892
`api/openapi-spec/swagger.json` is based on `$(SWAGGER_FILES)`, which is based on `codegen` - so we could create an alias target.

[2020-04-29 18:09] alexec commented on #2888
Could you please attach a link to the K8S Swagger?

[2020-04-29 18:14] alexec commented on #2888
You've highlighted two issues.

* We have `io.k8s.api.core.v1.Volume#volumeSource` but we should have -- what?
* We have `io.k8s.api.core.v1.SecretKeySelector#localObjectReference` but we should have `name`.

Additional question - what spec does the API actually match - the K8S one or the Argo one. I.e. ify you submit a request via the API - what happens?

[2020-04-29 18:17] alexec commented on #2888
Ah - another example of Golang `inline` garbage - https://github.com/golang/build/blob/master/kubernetes/api/types.go#L226.

[2020-04-29 18:24] simster7 commented on #2892
I thought `make swagger` was a target on `api/openapi-spec/swagger.json`:

[code]
?

[2020-04-29 18:27] cburbridge commented on #2888
Kubernetes swagger: https://raw.githubusercontent.com/kubernetes/kubernetes/release-1.14/api/openapi-spec/swagger.json

io.k8s.api.core.v1.Volume#volumeSource -> should just have the attributes of the VolumeSource type instead of a 'volumeSource' attribute.

The actual API matches the Kubernetes swagger, i,e if I submit a request based on using the Kubenetes swagger combined with the Argo swagger

[2020-04-29 18:39] mac9416 commented on #859
My use case is just Intellij linting. Validation wouldn't even have to be built into the CRD that gets installed. It would just have to exist in another file that can be imported to Intellij's Kubernetes plugin.

[2020-04-29 18:44] vilmosnagy commented on #2773
@simster7 thanks for the time you spent with my issue. I've spoke with our devops guy, and after all there's an other controller in an other namespace.

I'm still not able to see it (even with the `--all-namespaces` flag), but we sorted it out after all.

Thanks again.

[2020-04-29 18:44] #2773 closed

[2020-04-29 19:01] alexec opened #2893 "Address Synk comments"

[2020-04-29 19:43] simster7 opened #2895 "Add sorting options in UI"
Currently we only support sorting by `Finished` time in UI. We should add sorting options by way of pressing column headers.

[2020-04-29 20:28] hnykda commented on #2881
Yes, you are probably right. When I `delete` a running pod (managed by workflow) manually, it does get `phase: Failed`:
![image](https://user-images.githubusercontent.com/2741256/80643541-8f156f80-8a68-11ea-8dfa-ad5cb4c61467.png)

[2020-04-29 20:45] alexec opened #2897 "`argo archive list` can only return 10 results"
This is because we do not support the limit argument.

[2020-04-29 21:54] seddonm1 opened #2898 "Expose execution/retry attempt number as variable"
# Summary

Currently there is no way of exposing the retry attempt number to a pod to change the logic depending on whether the workflow is executing correctly (the first execution attempt) or if it has already failed (one of *n* retry attempts).

# Motivation

Being able to determine the execution attempt number at the child container level means that those containers can request different resour

[2020-04-29 22:55] merlintang opened #2899 "Argo stress test"
# Summary

Currently, for each release, we do not provide the stress test. The stress test would help us to understand the system performance like throughput and scalability for each release.

# Motivation

As introduced above

# Proposal
We can test Argo runtime performance w.r.t the number of pods, jobs and concurrent workflows.

How do you think this should be implemented?

---

**Message from

[2020-04-29 23:03] merlintang opened #2900 "Build Workflow dynamically while calling other servers"
# Summary
Argo controller need the ability to talk with another server

# Motivation
For the workflow template, we would like to store it like a DB, and this template would be easier to manage. As a result, we hope Argo can talk with the DB to get the template information, then build a workflow. Similarly, we would like Argo to talk with our server to check user information in the workflow Yaml. h

[2020-04-30 02:25] jfb74 commented on #2664
@sarabala1979 Yeah, applying that as a namespaced install for v2.8.0-rc3 has stopped the errors and allows me to `argo submit` workflows as long as they are in the same namespace that I installed it in.

[2020-04-30 04:23] danxmoran commented on #2898
Related to #2808 (the top-level description is about metrics, but the proposed solution is to expose something like the “retryAttempt” variable mentioned here)

[2020-04-30 04:27] seddonm1 commented on #2808
Agreed this is related to #2898. I have a PR ready so if agreed we can work through the details and get it done.

[2020-04-30 04:34] fabio-rigato opened #2901 "Retry Strategy doesn't work in GKE preemptible node (pod deleted)"
Checklist:

 * [x] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
I configured the retry strategy as the following
[code]
and run the Argo workflow in a GKE preemptible nodes.
When GKE required resources back deleting the nodes, the retry strategy doesn't work.
I received a red warning /

[2020-04-30 05:12] murali198 opened #2902 "SSL enforced Mysql database connections for Workflow repository"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
The workflow repository backed by mysql databases does not seem to support SSL.

**What you expected to happen**:
SSL enforced mysql databases can be used to as workflow repository

**How to reproduce it (as minimally and

[2020-04-30 06:15] rjdp opened #2903 "Unable to understand error messgae "fatal: Not a valid object name /argo/staging/script""
Here is my Workflow definition:

[code]

Here is the message from argo UI, Thanks

![Screenshot from 2020-04-30 11-22-58](https://user-images.githubusercontent.com/7734938/80678364-64fb9600-8ad8-11ea-90d4-5e596ef6cbb7.png)

[2020-04-30 06:58] fabio-rigato commented on #2901
**This is an update**
After digging logs with @sarabala1979, we understood that probably there is an issue in managing the **maxDuration** in the retryStrategy.
As you can see in my retryStrategy configuration, the maxDuration: "200m" and the pod was running just for 3m before to be claimed by GKE.

We analysed the controller's logs and these are the 3 logs after pod deletion:

**1)** `time="2020-

[2020-04-30 08:25] shadiramadan opened #2905 "Failed to submit workflow when a nested template is chosen via input parameter."
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
[code]

**What you expected to happen**:
I expected the workflow to submit and for the the template `echo-hello` to run.
It does not seem to be resolving the input parameter.

**How to reproduce it (as minimally and precis

[2020-04-30 10:51] logicfox commented on #2884
I recently upgraded to 2.7 from 2.4 and seeing similar behaviour. In my case, it seems to hang when it tries to update labels.
[code]
In the above instance, that pod has been stuck there for over 10 minutes now. Sometimes, it stays stuck there for hours. There are other times where I see the same behaviour as OP - sidecars killed, annotation monitors stopped, etc, but the wait container still keep

[2020-04-30 13:31] saschagrunert opened #2906 "Deploy Pod Security Policy with Argo"
# Summary
Deploy Pod Security Policy with Argo to allow SYS_PRACE when using the PNS executor.
# Motivation

Argo needs `SYS_PTRACE` as capability when using the PNS executor, which may be blocked by default PSPs. To have a better out-of-the-box deployment experience we could define our own PSP and ship it with argo.

# Proposal

We add the PSP to the deployment link the cluster role(s) to it.

[2020-04-30 14:21] YourPsychiatrist commented on #2550
A use case that is vital to us:
Being able to label a semaphore at runtime. For example, we want to raise an employee's salary as part of a workflow or step. In the meantime, other business logic (i.e. other workflows or steps) should not be allowed to read or write the value. However, other employees would be allowed to read their own salary. In other words: we would want to be able to "instantia

[2020-04-30 15:12] mark9white commented on #2856
@alexec btw, in terms of tests, you're right that it's difficult to test the race condition, but the fix should be pretty amenable to unit tests that it's able to correctly merge two different sets of nodes together.

[2020-04-30 15:15] simster7 commented on #2898
Closing as duplicate of #2808

[2020-04-30 15:15] #2898 closed

[2020-04-30 15:17] simster7 commented on #2905
Hmm, I don't think we officially support parametrizing template names... although I don't see why we wouldn't. Let me explore this

[2020-04-30 15:21] simster7 commented on #2808
@seddonm1 Feel free to open your PR with `retryAttempt`

[2020-04-30 15:46] sarabala1979 commented on #2901
@simster7 can you own this issue?

[2020-04-30 15:51] #2821 closed

[2020-04-30 16:12] alexec commented on #2903
Please attach argo server logs

[2020-04-30 16:12] alexec commented on #2856
So you're seeing this on production workloads.

[2020-04-30 16:14] alexec commented on #2902
Would you like to sbumit a PR to fix this?

[2020-04-30 16:22] mark9white commented on #2856
That's right, we're unable to use offloaded nodes because of this issue.

[2020-04-30 16:40] alexec commented on #2892
Should be fixed

[2020-04-30 16:40] #2892 closed

[2020-04-30 18:28] alexec commented on #2856
@jessesuen suggests that this should only happen under certain circumstances:

* The workflow controllers managing a namespace.
* Another process editing the resources (e.g. `kubectl edit`) or edit via Argo Server.

Can you confirm a few more things please:

* How common is this incident?
* You don't believe the above two apply?

[2020-04-30 19:46] rjdp commented on #2903
I missed to use the "source" attr in script block , it works now , Thanks :)

[2020-04-30 19:46] #2903 closed

[2020-04-30 20:50] mark9white commented on #2856
I can see that the workflow queue only has one instance for a given workflow at a time, therefore a single workflow controller won't have a race condition with itself.

Therefore I agree with jessesuen.

For me this incident happens every single time we process a large workflow with a large number of nodes that need to be unsuspended (a few hundred). In our case the unsuspensions are happening via

[2020-04-30 20:53] alexec commented on #2856
We could have the controller be the only thing making changes and communicate those changes via annotations - i.e. we add a "suspend" annotation. The informer would then see the annotation and make the change.

[2020-04-30 20:54] mark9white commented on #2856
btw, I suggest for now a note be added to the docs that workflow-controller replicas should always be set to 1 if node offload is enabled.

[2020-04-30 21:22] alexec opened #2908 "Do not sleep for 1s each time we reconcile"
# Summary

We sleep for 1s in the reconciliation loop. Can we avoid this?

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

@jessesuen ...

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-04-30 21:22] alexec opened #2909 "Do not reconcile workflow if nothing interesting about the pod changed"
# Summary

What change you think needs making.

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

How do you think this should be implemented?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-04-30 21:41] #2638 closed

[2020-04-30 23:34] alexec opened #2914 "`argo stop` can result in errored workflow"
TestStopBehavior - this test is improved, but still flakey.

It uses `WaitForWorkflowToStart(5*time.Second).` but the workflow can start, without a pod being created.

This results in an errored workflow.

This is a bug in stop code .

[code]

Here are the full logs:

https://circle-production-customer-artifacts.s3.amazonaws.com/picard/5bfbd6d1cce511000113eecc/5eab5ac97fac6b56aa93edcc-0-build/arti

[2020-04-30 23:35] alexec commented on #2914
@simster7 we should presumable not try to kill containers that are not running?

[2020-05-01 00:17] #2621 closed

[2020-05-01 00:20] #2860 closed

[2020-05-01 00:26] sfc-gh-pkrishnamurthy commented on #2502
@hayato1121 : Change the workflow executor to K8sAPI : https://github.com/argoproj/argo/blob/master/docs/workflow-executors.md

The default mechanism used by the wait container to get pod logs and pod execution status (to  make sure a step completes) is to mount the docker socket and that does not work on EKS by the default seccomp profile

[2020-05-01 01:10] alexec commented on #2914
I'm not sure my above analysis is correct.

[2020-05-01 05:26] #2569 closed

[2020-05-01 05:37] alexec commented on #2815
@simster7 I have a solution to this I'd like to discus than would design-on scalability problems.

[2020-05-01 08:50] Naveenlbg opened #2916 "Some E2E Tests fails in Argo 2.6.1"
Hi Team,

I am using Argo 2.6.1 as part of this there were some security vulnerabilities in Argo Exec image so I tried fixing the issue by changing the base image.
For testing the images are working fine or not I tried executing the Argo E2E tests. I can see some of the tests are failing is it expected or am I missing some configuration.

Any help in this regard will be appreciated

Attached is th

[2020-05-01 14:21] HumairAK commented on #2871
Is that separate from the `name` field within a step? I.e. the name you see in the ui on workflow square icon? Those get truncated after exceeding a certain number of characters. I was thinking more along the lines of a way to click the specific step then be able to see a more detailed description in a form of a paragraph - if that makes sense.

[2020-05-01 14:45] simster7 commented on #2908
I'm sure you've seen the explanation as to why we do this, but good to have on the issue.

https://github.com/argoproj/argo/blob/3afa7b2f1b4ecb9e64b2c9dee1e91dcf548f82c3/workflow/controller/operator.go#L510-L516

[2020-05-01 14:54] alexec commented on #2900
See #2847

[2020-05-01 14:54] #1383 closed

[2020-05-01 14:54] #1507 closed

[2020-05-01 14:55] alexec commented on #2916
Thank you for attaching this. We no longer support v2.6, so I'll close this for now.

[2020-05-01 14:55] #2916 closed

[2020-05-01 14:55] alexec commented on #2871
Sounds good too. Would you like to raise a PR?

[2020-05-01 15:30] simster7 commented on #2815
Sure, let's discuss

[2020-05-01 15:39] alexec commented on #2815
ping me whenever

[2020-05-01 15:48] simster7 opened #2922 "Auto generate CLI docs"

[2020-05-01 16:09] simster7 opened #2923 "Do not update backoff message to avoid unecessary operations"

[2020-05-01 16:27] simster7 commented on #2914
We should not try to delete pods that do not exist. Will fix in #2855

[2020-05-01 17:06] simster7 opened #2926 "Workflow list pagination by date completed"
# Summary

Paginate workflow lists served by the Argo Server by date completed.

# Motivation

We want to improve performance and scalability by paginating Workflow list queries. To do so, we recently started using K8s API pagination. Problematically for us, K8s API pagination does not support ordering (https://github.com/kubernetes/kubernetes/issues/80602#issuecomment-525762631), leaving us with

[2020-05-01 17:07] simster7 opened #2927 "Create Metric emission interface"
# Summary

Create Metric emission interface for easily emitting internal metrics across the controller.

[2020-05-01 17:20] simster7 opened #2928 "Investigate using shared Workflow informers"
There are multiple Workflow informers. We should investigate if there are any redundancies between them and use as few shared informers as possible.

[2020-05-01 17:37] merlintang commented on #2900
@alexec thanks Alex, I would like to see how to do it.

[2020-05-01 17:37] merlintang commented on #2847
Plus one for this. We also have a similar issue. https://github.com/argoproj/argo/issues/2900

[2020-05-01 18:38] MrSaints commented on #2382
I came across this some time around March. I believe it was around the time we upgraded fro 2.5.x to 2.6.x. It was the exact same problem as https://github.com/argoproj/argo/issues/2382#issuecomment-596247011.

Running:

[code]

Against our postgresql database fixed the issue.

[2020-05-01 20:05] #1968 closed

[2020-05-01 20:05] #2820 closed

[2020-05-01 20:26] simster7 commented on #2914
Fix: https://github.com/argoproj/argo/pull/2855/files#r418722795

[2020-05-01 20:33] #2694 closed

[2020-05-01 20:54] danxmoran opened #2929 "Cannot resolve {{pod.name}} in GCS keyFormat for resource steps"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
We're trying to enable archiving logs to GCS. We've set the default `keyFormat` in the controller to `{{workflow.name}}/{{pod.name}}`. This causes tasks of type `resource` to fail with the error "failed to resolve {{ pod.n

[2020-05-01 22:01] alexec commented on #2909
POC showed a 15% improvement vs risk of missed updates. Not worth it.

[2020-05-01 22:01] #2909 closed

[2020-05-02 17:07] yauhen-sobaleu opened #2931 "Testing Argo Workflow pipelines"
# Summary

Hello!
Is there a way to test Argo Workflow pipelines? Are there already any best practices on how to test the contents of an Argo Workflow manifest?

# Motivation

I use Argo Workflows for Spark jobs orchestrations and part of my pipeline is a Python `script` step that does all data dependency checks (if input data is there and output data is not still there -> launch a spark job).

Th

[2020-05-02 22:11] hashkanna opened #2932 "MySQL 5.7 bug for null value in timestamp column"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
Installation of Argo fails while applying the MySQL YAML manifest for MySQL 5.7 version with error message.
**Error 1067: Invalid default value for 'finishedat'**
[code]
**What you expected to happen**:
Expected the instal

[2020-05-02 23:06] alexec opened #2934 "Enhanced resource duration"
* Import the updated algo from `usage` branch.
* Enable by default.
* Display denominator.

See #2219 and #1066

[2020-05-02 23:44] alexec commented on #2367
Questions:

Which part? We've made a small improvement to rendering in the DAG in the UI, and tested with 4500 node DAG. It is slow, but not unusabled.

Have you tried `argo wait`?

Is this just a comment on choice of terminology?

Are we talking about `argo wait`? What do you need from the output?

Are you able to tell us which frameworks might work better?

What would you need in such a summary?

[2020-05-03 18:42] bolthar opened #2936 "Large workflow won't start, even with persistence enabled"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
This is what I get when trying to ```argo submit``` the workflow which I put in [this gist](https://gist.github.com/bolthar/dac4d699cdc25a1fc9d8d2eb2ea934bf)

[code]

After digging for a bit, I figured out that the above i

[2020-05-03 19:09] sarabala1979 commented on #2936
try the `WorkflowTemplate` feature to reduce your Workflow definition Size.

[2020-05-03 21:07] #2887 closed

[2020-05-03 22:59] alexec opened #2938 "Something funky with the way we display the first page of workflows"
The current paginated page does not deal well with additions to the listing:

* New workflows appear at the top - regardless of the page we're on.

Maybe we need a new page that shows what's happening now vs a search page?

[2020-05-04 06:53] bolthar commented on #2936
Hi! thanks for your reply :) workflow templates might help in some cases but the workflow definitions I am generating are highly dynamic, so for some of the extreme outliers I have I would still easily go above 1Mb for the definition itself. I guess there's no other way to work around this, and I suppose there's no way currently to have argo store the definitions themselves in the persisted storag

[2020-05-04 10:57] hashkanna commented on #2932
Fixed in #2933

[2020-05-04 10:57] #2932 closed

[2020-05-04 15:09] alexec commented on #2847
We could maybe easily address this using the artifact code we already have.

[2020-05-04 15:12] alexec commented on #859
@jessesuen @mukulikak I'm gathering some notes. The lack of YAML validation is one of the key reason that people want to use a Python DSL. I think we should revisit this popular issue.

[2020-05-04 15:22] Naveenlbg opened #2940 "Some E2E Tests fails in Argo 2.7.6"
Hi Team,

I am using Argo 2.7.6 as part of this there were some security vulnerabilities in Argo Exec image so I tried fixing the issue by changing the base image.
For testing the images are working fine or not I tried executing the below cmd.

make test               //(output in test.txt)
make test-e2e       //(output in e2e-test.txt)

I also ran the same e2e test connecting to Kubernetes cluste

[2020-05-04 15:48] sarabala1979 commented on #2936
are you using managed k8s cluster (GKE/EKS)? if it is no, you can increase the etcd request size from 1.5 Mb to your max size.
`
etcd is designed to handle small key value pairs typical for metadata. Larger requests will work, but may increase the latency of other requests. By default, the maximum size of any request is 1.5 MiB. This limit is configurable through --max-request-bytes flag for etcd

[2020-05-04 16:04] ntwrkguru commented on #1428
Doesn't work for me using ssh key.

[code]

and this error from the Argo CLI:
[code]

[2020-05-04 16:11] jackiemazy commented on #2884
Updating to v2.8.0-rc3 seems to get this problem solved.

[2020-05-04 16:11] #2884 closed

[2020-05-04 17:14] alexec commented on #2926
See #2938

[2020-05-04 17:17] alexec opened #2942 "Resume/suspend/terminate/stop can result in invalid state"
# Summary

Only the workflow controller should be able to change a workflow.

# Motivation

All these operations can result in invalid state one large workflows because they update the workflow out of the main loop.

# Proposal

The controller currently reacts to pod and workflow changes, but it can already be reacting when a third-party changes - resulting in conflict and invalid state.

We could

[2020-05-04 17:17] alexec commented on #2942
See #2367

[2020-05-04 18:29] #2650 closed

[2020-05-04 18:29] #2780 closed

[2020-05-04 18:56] chittu11 opened #2945 "Argo server issue, breaking intermittently"
Hi,
We deployed argo 2.6.2 and its working fine. But we have to run "argo server" command in the background in order to see the argo server UI. sometimes the background process is breaking and its causing issues with argo servers and we are unable to access the UI as well as our job submission is getting crippled. I  deployed argo server using the following instruction from official argo github:

[2020-05-04 20:03] logicfox opened #2946 "Logs UI is very CPU heavy"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
The logs view in the UI appears to be CPU heavy. When I view the logs view open to keep track of logs for a long running step, I can feel my laptop get noticably warm and the fans spin up. Chrome's task manager indicates t

[2020-05-04 20:14] sorenvind commented on #2946
This happens consistently for me. It may take a couple of minutes before it reaches 100%, but already initially it hovers around 25% cpu usage.

[2020-05-04 20:36] #2888 closed

[2020-05-04 20:38] alexec commented on #2946
@dtaniwaki we merged your change to master in the last couple of days, ie. after v2.7.5? Could that help do you think?

[2020-05-05 00:05] merlintang commented on #2847
@alexec can you give more hints on using the artifact code? do you mean that we can use the executor of the artifact to support URL loading? thanks

[2020-05-05 01:45] alexec commented on #2847
No. The real problem here is not rendering templates, but accessing the source in a secure and configurable manner. As we already have code for reading and writing artifacts to various locations - we could reuse that code here.

[2020-05-05 01:49] merlintang commented on #2847
Got you, I can look at this. Thanks Alex.

On Mon, May 4, 2020 at 6:45 PM Alex Collins <notifications@github.com>
wrote:

[2020-05-05 02:11] alexec commented on #2856
@mark9white I've been trying out some POC to improve this. I have two PoCs.

[code]

Changes the behaviour of the controller so that it processes workflow in a new way, as well as expose a bunch of new metrics on 9090.

This is a recent branch of master so should hopefully work with a v2.7 install.

Would you be able to test this out please?

[2020-05-05 04:58] dtaniwaki commented on #2946
I believe [the logs viewer improvement](https://github.com/argoproj/argo/pull/2825) has not been deployed as of v2.7.6. I'm not sure what caused this problem, but I'll take a look. 👍

[2020-05-05 05:44] dtaniwaki commented on #2946
I compared `v2.7.6` and the master at `e3ed686e13eacf0174b3e1088fe3cf2eb7706b39` of the CLI and run the following manifest.

[code]

After 30 seconds, I checked the task manager of Chrome and found CPU usage increases differ as below.

<img width="765" alt="Screen Shot 2020-05-05 at 2 38 24 PM" src="https://user-images.githubusercontent.com/1162120/81037552-184ffa80-8ede-11ea-88c6-aede8a35b06d.png

[2020-05-05 08:39] mark9white commented on #2856
@alexec I just tried argoproj/workflow-controller:feat-no-sleep and it did not fix the issue.

It does look to me like #2947 should fix it however, please tell me when that's ready to test.

[2020-05-05 10:22] samirmajen opened #2948 "Workflow UI params dont work when params are part of a workflow template"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

https://github.com/argoproj/argo/pull/2030 introduced new functionality to provide a UI to enter parameters. This UI works fine if the workflow arguments are defined as part of the workflow but fails to work if the argume

[2020-05-05 11:02] samath117 opened #2949 "Make failures accessible to later steps"
# Summary

{{workflow.failures}} is a great way for exit handlers to diagnose problems with their workflows, but requires you to use the exit handler structure and only apply on the entire workflow. The same information should be made accessible to later steps via manually-defined exit handlers that utilize `continueOn: {failed: True}`.

# Motivation

Exit handlers don't work properly with Workflo

[2020-05-05 11:12] sinvalmendes commented on #1900
We are using 2.7.6 and the this issue is still happening

[2020-05-05 14:43] simster7 commented on #2948
This feature is only for Workflow-level parameters. I.e. parameters under `Workflow.spec.parameters`. It currently does not support template-level parameters (`Workflow.spec.templates.parameters`).

The idea is that only these top-level parameters should be specified by the user and all of the parameters within the Workflow should be set at runtime.

What is the use case that caused you to want th

[2020-05-05 14:48] simster7 commented on #2945
This would be hard to diagnose without any logs. Can you get logs for the Argo Server that cover when the server restarts? `kubectl logs deploy/argo-server`

[2020-05-05 14:55] alexec commented on #2856
#2947 is more complex because it requires new permissions, new UI and new CLI. I'll see if I can package it today.

[2020-05-05 16:01] alexec opened #2952 "Investigate cron controller panic"
Panics result in controller restart and therefore loss of service. We should investigate this.

[code]

[2020-05-05 16:01] alexec commented on #2952
@simster7 this appears to be in the cron code - would you own the investigate please?

[2020-05-05 16:08] alexec commented on #2856
[code]

You'll need to run the above controller and cli images. I've also created an argoexec image, but you don't need that.

You need to add the `workflowop` RBAC entries:

* `create` to the CLI (so the UI can create ops).
* `get`/`list`/`watch`/`delete` to the controller.

https://github.com/argoproj/argo/pull/2947/files

Finally, you cannot use the normal CLI. You must use a new one. The easie

[2020-05-05 16:11] simster7 commented on #2952
Could you make sure that the branch you're working on has this fix https://github.com/argoproj/argo/pull/2851 in it?

[2020-05-05 16:12] simster7 commented on #2952
The line in the stack trace:
[code]
Only points to a relevant line in a version of the file without the fix, leading me to believe you don't have it merged

[2020-05-05 16:18] simster7 commented on #2901
@fabio-rigato Do you still have access to the logs that caused this? With the logs provided it's hard to diagnose the max duration issue.

Really helpful would be:

* The full Workflow object after it fails: `kubectl get wf <NAME> -o yaml`
* Logs for the controller when the operation takes place: `kubectl logs deploy/workflow-controller`

I see that you redacted some data in your logs. If you don'

[2020-05-05 16:32] MaksimKiselev commented on #1451
@thundergolfer

I've use custom user css styles installed via browser extensions for mark that some environment is production.

F.e. for chrome https://chrome.google.com/webstore/detail/user-css/okpjlejfhacmgjkmknjhadmkdbcldfcb

[code]

[2020-05-05 16:41] MaksimKiselev opened #2953 "[UI] Use production build instead dev"
**What happened**:
UI was built for dev environment

**What you expected to happen**:
Build UI for production environment

**How to reproduce it (as minimally and precisely as possible)**:
Deploy UI somewhere and open console

**Anything else we need to know?**:
![image](https://user-images.githubusercontent.com/4495801/81091480-01be9900-8f08-11ea-8438-8ab9dd4bb4ef.png)

To fix it just add: `ENV N

[2020-05-05 18:14] chittu11 commented on #2945
Thank you for the reply. I am looking something with in Argo to run the argo server service continuously instead of firing "argo server" command line? do we have any option from Argo side?

[2020-05-05 18:21] simster7 commented on #2945
You're looking to host the server in [hosted mode](https://github.com/argoproj/argo/blob/master/docs/argo-server.md#hosted-mode).

In short, you need a deployment that essentially runs the `argo server` command in the cluster:
[code]

[2020-05-05 18:25] chittu11 opened #2954 "Argo server is breaking intermittently"
Hi,
We deployed argo 2.6.2 and its working fine. But we have to run "argo server" command in the background in order to see the argo server UI. sometimes the background process is breaking and its causing issues with argo servers and we are unable to access the UI as well as our job submission is getting crippled. I deployed argo server using the following instruction from official argo github:

h

[2020-05-05 18:34] simster7 commented on #2954
How is this any different than https://github.com/argoproj/argo/issues/2945?

[2020-05-05 19:52] chittu11 commented on #2954
Apologies. I saw your comment there. thank you. will give a try.

[2020-05-05 19:55] samath117 opened #2955 ""Re-establishing workflow watch" should be debug-level"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

When running `argo logs -f` on any workflow that runs for long enough, the logs are sprinkled with lines that start like this:
[code]
(The namespace and workflow name are also listed after several spaces.) These logs are

[2020-05-05 20:42] simster7 commented on #2954
Closed as duplicate of #2945

[2020-05-05 20:42] #2954 closed

[2020-05-05 21:57] simster7 opened #2956 "Ensure that running nodes are marked as failed during Shutdown"
**What happened**:

I terminated a workflow using `argo terminate`. Workflow execution stopped and Pods were deleted, however Nodes in the workflow weren't updated to reflect this.

**What you expected to happen**:

I expected Nodes in the workflow to be updated accordingly.

[2020-05-05 22:20] erhhung opened #2957 "Specify conditions for breaking out of a step loop"
# Summary

There does not appear to be an ability to break out of a `withItems`/`withParam` loop in a workflow step without executing all iterations. While the `when` property allows for specifying a condition to run or skip an entire step, it does not appear that it can be used for breaking out of a loop after some iterations.

# Motivation

Using the documented example below for looping over a s

[2020-05-05 22:27] chittu11 commented on #2945
thank you so much for providing argo server deployment. worked like charm. thank you sir

[2020-05-05 22:34] alexec commented on #2953
This should be fixed in recent versions - what version are you using please?

[2020-05-05 22:35] alexec commented on #2952
This is old - so probaly fixed. Thank you.

[2020-05-05 22:35] #2952 closed

[2020-05-05 22:39] simster7 commented on #2956
Issue seems to be related to

https://github.com/argoproj/argo/blob/f281199a1df65a6716d29a8e29ba756aa31f36dc/workflow/controller/dag.go#L178-L182

In short, Workflow is Shutdown, so no new nodes are not executed. However, since the DAG has not been exhausted (it hasn't created nodes for all its tasks) it assumes the Workflow is still running when in fact no new nodes will be created

[2020-05-05 22:40] erhhung commented on #2957
I had not realized that `withItems` executes all items **in parallel pods**, so my proposal regarding iterations is moot unless there's also a **sequential looping** construct, which I did not see in the examples.

[2020-05-05 22:45] #2926 closed

[2020-05-05 23:14] #2938 closed

[2020-05-05 23:31] alexec commented on #2247
I have pushed a development build of the controller that should/may reduce this problem.

[code]

@paveq could you please try it out?

[2020-05-06 04:51] rosscdh commented on #2899
CPU stress, memory stress, network stress and random fail with backlog would be interesting.

Max archived
Max num  cronworkflows
Max nun templated workflows
Max num cronworkflow start spike

[2020-05-06 04:59] raanand-home commented on #2901
I have the same problem on aws eks
a good reproduction is delete the pod while the the workflow is running

[2020-05-06 06:01] fabio-rigato commented on #2901
Hi @simster7,
thanks for reaching me out.

I still have access to the controller log but unfortunately, when I run `kubectl get wf <NAME> -o yaml` I received pod not found, probably because the node was preempted by GCP?
But I have the whole yaml in MySQL I can share it with you if you need it.
please let me know =)

with all the best,
Fabio

[2020-05-06 13:33] yoichiwo7 opened #2961 "Duplicated events for Workflow Node Event"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

Duplicated Workflow Node Events are emitted for task/step while running workflow.
The event duplication happens on both Steps and DAG.

https://github.com/argoproj/argo/blob/master/docs/workflow-events.md

**What you expe

[2020-05-06 13:43] cy-zheng commented on #2901
Same issue. What is the expected behavior in such a situation, like pod eviction? @simster7 Should argo controller create a new pod and add it to the workflow?

[2020-05-06 14:21] jsenon opened #2962 "Package v2.5.2+incompatible and Kubernetes 1.18"
# Summary

Compatibility with Kubernetes 1.18

# Motivation

It seems that the package v2.5.2+incompatible is not compatible with new version of Kubernetes 1.18 and the new `context.Context`. Do you have plan to update your package for Kubernetes 1.18 ?

For example in this package: https://pkg.go.dev/github.com/argoproj/argo@v2.5.2+incompatible/pkg/apis/workflow/v1alpha1?tab=doc

[2020-05-06 14:27] simster7 commented on #2945
Glad to hear!

[2020-05-06 14:27] #2945 closed

[2020-05-06 14:28] simster7 commented on #2957
There is not any native supported sequential looping. However, you can create your own following this example: https://github.com/argoproj/argo/blob/master/examples/recursive-for-loop.yaml

[2020-05-06 14:38] cy-zheng opened #2963 "RetryStrategy doesn't apply to daemon container"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

When a worker node inside k8s cluster crashed, daemon container running on it couldn't restart.
The daemon container becomes "Error" state, however I've set up its retry strategy like
[code]

**What you expected to happen

[2020-05-06 14:56] mark9white commented on #2856
@alexec This is broadly working however:
- Currently my client code retries unsuspends on failure - this caters for when the suspend node doesn't exist yet. The API in poc-events doesn't fail if the node doesn't exist which breaks that logic. I could modify my code to get the workflow and check the suspend node exists before unsuspend, but it would make it more complex.
- I don't think you've impl

[2020-05-06 15:02] #2923 closed

[2020-05-06 15:07] alexec commented on #2962
We do not support v2.5 anymore. Please try with the stable version - v2.7.

[2020-05-06 15:40] alexec commented on #2961
Can you please try with `argoproj/workflow-controller:fix-2961`?

[2020-05-06 15:51] jsenon commented on #2962
Are you talking about golang package? Seems that version 2.7 is not published, the latest version on godoc is 2.5.2

[2020-05-06 16:07] jsenon commented on #2962
If we force module with:

`go get github.com/argoproj/argo@master  `

I've still have issue with kubernetes client 1.18 and the context

[2020-05-06 16:11] simster7 opened #2965 "Add a "start foreground" option to Makefile"
Running the controller on the foreground is useful for debugging, such as being able to `grep "..."` logs

[2020-05-06 17:32] samirmajen commented on #2948
passing the worklow level parameter works, thanks

[2020-05-06 17:32] #2948 closed

[2020-05-06 18:54] simster7 commented on #2963
Good suggestion, I'll look into this

[2020-05-06 19:23] simster7 commented on #2901
Hi @fabio-rigato, I spent some time debugging today. If you could share the yaml with me it would be very helpful.

Another note to you and @raanand-home: What is the message that gets tagged on when the Node gets preempted? Is it always `pod deleted`?

[2020-05-06 19:45] vrodomista opened #2967 "persistant 'Request has been terminated Possible causes'"
Checklist:

 * [v.2.7.6 ] I've included the version.
 * [ ] I've included the logs.
[code]

**What happened**:
Installed Argo v2.7.6 and set it up with a custom ingress.
**What you expected to happen**:
usage without being bothered by the error=

**Anything else we need to know?**:

[code]

**Environment**:
rancher kubernetes

- Argo version: 2.7.6
---

**Message from the maintainers**:

If you ar

[2020-05-06 19:50] uipo78 commented on #2239
Part of the reason why I asked this is because we plan to deploy Argo onto our PSP-enabled clusters. The other reason, however, is because these pod security policies call attention to potential risks that need to be addressed before deploying to production, which is something that's particularly important for organizations with more stringent security requirements.

[2020-05-06 21:50] alexec commented on #2367
@tmbdev I've created a development build of the UI for you to try out:

[code]

Please let me know if this works for you large workflows.

[2020-05-06 21:55] yoichiwo7 commented on #2961
Thanks for rapid response and fix!
I have checked that the fixed controller has no event duplication in both DAG and Steps examples.

DAG:
[code]

Steps:
[code]

[2020-05-06 22:34] alexec commented on #2961
brilliant - thank you

[2020-05-06 23:35] fabio-rigato commented on #2901
Hi @simster7,

thanks for your effort in debugging the issue.

I shared with you in Slack more information about the workflow.
Happy to have a chat if you need more details.

Hope you an amazing day guys.
Cheers,
Fabio

[2020-05-07 03:31] cy-zheng commented on #2963
By the way, what do you think about manage daemon containers by k8s deployment/statefulset object? @simster7 I think daemon containers is designed for background long-running services, so some configurations like `RetryStrategy.Limit` are useless in such cases.

[2020-05-07 06:31] changhc commented on #1915
I have roughly understood how to implement this but have a question about this. Currently in each workflow template, a user can define multiple templates. Do we simply update `lastRunAt` of this workflow template when any template of this workflow template is used?

[2020-05-07 07:58] youngjoonso1 opened #2969 "Support large parameters"
# Summary

We can pass [parameters](https://github.com/argoproj/argo/blob/master/examples/README.md#parameters) to workflows.
And, we usually use those parameters to set environment variables of each stage.

But, if the parameter is too large, we will get the following error:
[code]

I would like to propose the way to pass big files as artifacts.

# Motivation

If I set the large parameters, when

[2020-05-07 09:05] changhc commented on #1975
Could you please provide more details on this? Can we suspend or resume a cronworkflow?

[2020-05-07 09:16] changhc commented on #2540
@simster7 would you please close this issue as it's implemented?

[2020-05-07 13:24] #2540 closed

[2020-05-07 14:21] AndreiBrajnicov opened #2970 "Could you show me an example of CronWorkflow together with DAG?"
Hello. I would like to setup a cronworkflow together with DAG conditions.
Could you tell me if it is supported?

Unfortunately you don't have such examples, and I wasn't able to create a working one.

[2020-05-07 14:37] MaksimKiselev commented on #2953
@alexec 2.7.2

[2020-05-07 14:57] saiyidi commented on #1442
Hi Argo experts, I wish to add cron schedule to a child job.
Like- A runs at 1 AM and B runs at 2 AM and then C runs as a dependant job of A and B at say 4 AM.
A (1AM)      B (2AM)
        \    OR     /
            C (4 AM)

Would highly appreciate any help on this

[2020-05-07 15:10] alexec commented on #2953
Can you please try v2.7.7 and v2.8.0-rc4?

[2020-05-07 15:12] alexec commented on #2940
We should be fixing security vulnerabilities on master. Can you please provide more info?

[2020-05-07 15:13] #2850 closed

[2020-05-07 15:14] #2875 closed

[2020-05-07 15:15] alexec commented on #2843
Resource duration is already aggregate to workflow level. It would be great if you want to write the code to aggregate to DAG/step-group level.

[2020-05-07 15:16] sarabala1979 commented on #1975
you use Argo CLI to suspend and resume the Cronworkflow.
`argo cron suspend <cronwf>
argo cron resume <cronwf>
`

[code]

[2020-05-07 15:18] alexec commented on #2927
@simster7 do you want to own this?

[2020-05-07 15:18] alexec commented on #2815
@simster7 do you want to own this?

[2020-05-07 15:19] simster7 commented on #2927
Sure

[2020-05-07 15:20] alexec commented on #2856
@mark9white I have one more set of images for you try

[code]

I've provided `argocli` and `argoexec` images - but the controller is the one you need.

[2020-05-07 15:20] simster7 commented on #1975
The goal with this issue is to add this functionality to the UI

[2020-05-07 15:23] salanki commented on #2843
So it exists but not displayed in the Web UI then?

[2020-05-07 15:24] simster7 commented on #2969
To clarify, the only functionality you're requesting is that we enable artifact passing from the CLI?

[2020-05-07 15:30] Naveenlbg commented on #2940
Hi Alex,

Thanks for replying.
No, I have already fixed the security vulnerabilities as per my company standards but for testing the cleaned image is working fine or not i am using Argo E2E Test suite.

I tried executing E2E Tests which is there in the make file as a cmd.

I followed the below steps to execute E2E Test

- cloned https://github.com/argoproj/argo Repo

- I installed below packages

[2020-05-07 15:37] alexec commented on #2940
run `make test-e2e`

[2020-05-07 15:37] alexec commented on #2843
It is displayed under the "summary" tab in the workflow view.

[2020-05-07 15:39] Naveenlbg commented on #2940
But I was unable to execute the whole e2e Test suite as it fails with below step

FAIL github.com/argoproj/argo/test/e2e 900.209s
? github.com/argoproj/argo/test/e2e/fixtures [no test files]
FAIL

Below is the log
[e2e-test.txt](https://github.com/argoproj/argo/files/4593979/e2e-test.txt)

[2020-05-07 15:57] simster7 commented on #2742
@wktmeow After an internal review I realized that the fix I had proposed will not work. The reason we terminate Workflow pods the way we do is to allow the wait container to gather and upload all artifacts without being restricted by K8s. I'll look for another fix

[2020-05-07 16:10] #2881 closed

[2020-05-07 16:10] #2914 closed

[2020-05-07 16:13] changhc commented on #1975
I see. I missed out the explanation in the document. Thanks!

[2020-05-07 16:24] #2956 closed

[2020-05-07 16:31] simster7 opened #2973 "`preExecutionNodePhases` can be removed, use `woc.orig.Status.Nodes` instead"

[2020-05-07 16:36] #2961 closed

[2020-05-07 16:46] MaksimKiselev commented on #2953
**v2.7.7 still**
![image](https://user-images.githubusercontent.com/4495801/81319821-ea62e580-9098-11ea-8982-d5d8e297d237.png)

**v2.8.0-rc4 OK**
![image](https://user-images.githubusercontent.com/4495801/81320221-81c83880-9099-11ea-9c95-18e3500f54a0.png)

As I see it is already fixed here: https://github.com/argoproj/argo/commit/65d413e5d68b2f1667ef09f3c5938a07c3442fe8#diff-6559f21ee61b77fb6e0ed9

[2020-05-07 16:46] #2953 closed

[2020-05-07 17:04] tmbdev commented on #2367
Thanks, I'll give it a try.

That's a useful option. I'm just saying that "argo watch" probably shouldn't try to scroll but rather simply cut off the list of jobs; it's likely a quick and simple fix.

I'm suggesting changing the terminology in the UI, since the current terminology seems misleading to me. "Unschedulable" suggests a permanent condition, while "waiting" or "pending" suggests somethin

[2020-05-07 17:05] tmbdev commented on #2367
Thanks, I'll give it a try!

[2020-05-07 17:10] brabster opened #2974 "Workflow parameter `creationTimestamp` is not RFC3339 compliant"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

Workflow parameter `workflow.creationTimestamp` did not output a timestamp in RFC3339 compliant format.

**What you expected to happen**:

[Documentation states it should output a timestamp compliant with RFC3339](https:/

[2020-05-07 17:32] mark9white commented on #2856
It got most of the way through, then I got this error and the workflow showed a 'Workflow operation error':

[code]

[2020-05-07 17:34] simster7 opened #2975 "DAG doesn't consider retryStrategy.backoff.maxDuration when determining if a Retry node has exhausted its retries"
If a `Retry` node is not complete on a DAG, `assessDAGPhase` considers if the node has more retries available. If it does, it allows the DAG to continue Running.

https://github.com/argoproj/argo/blob/3c4422326dceea456df94a71270df80e9cbf7177/workflow/controller/dag.go#L141-L145

However, `hasMoreRetries` does not consider `retryStrategy.backoff.maxDuration` in this assessment:

https://github.com/

[2020-05-07 19:04] tpengandrew commented on #1038
@xubofei1983 the daemon sounds great -- do you mind share the detail of your setting? Thanks.

[2020-05-07 19:58] alexec commented on #2856
@mark9white new version: `argoproj/workflow-controller:chore-hydrate.1`

[2020-05-07 19:58] hnykda commented on #2881
Awesome, thank you!

[2020-05-07 20:02] simster7 commented on #2963
Our limitation with using deployments or stateful sets is that [IP addresses of the Pods are not guaranteed to stay the same across restarts](https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/#using-stable-network-identities).

Such a functionality would require Argo or the user to set up a Service in order to interact with them reliably

[2020-05-08 02:36] cy-zheng commented on #2963
Yes. I think a good design is to use the deployment, stateful set to achieve the function of the daemon container, or implement failover logic of the daemon container in Argo side. Eventually, we need to bind pods to the service object to guarantee connectivity during pod failover.

By the way, do you (or other contributors) have efforts to implement this feature? Our team is evaluating Argo, If y

[2020-05-08 03:21] ygapon-mio commented on #2247
@alexec I'd like to try out this build, but I don't see `argoproj/workflow-controller:feat-no-sleep` [here](https://hub.docker.com/r/argoproj/workflow-controller/tags)

I have a workflow with about 900 items and can compare performance vs workflow-controller:v2.7.6.

[2020-05-08 12:18] VaibhavPage opened #2980 "Support remote script source in the script template"
# Summary

Support an option to fetch the script source in `ScriptTemplate` from `Git`, an `URL`, or `S3`.

# Motivation

Placing the script source directly in the workflow definition makes it difficult to manage and it loses ability to refer to a particular version of the script. With Git or S3 as a source, the developer can test the code in some interactive environment like Jupter notebook, push

[2020-05-08 12:19] VaibhavPage opened #2981 "Support remote script source in script template"
# Summary

Support an option to fetch the script source in `ScriptTemplate` from `Git`, an `URL`, or `S3`.

# Motivation

Placing the script source directly in the workflow definition makes it difficult to manage and it loses ability to refer to a particular version of the script. With Git or S3 as a source, the developer can test the code in some interactive environment like Jupter notebook, push

[2020-05-08 12:19] VaibhavPage commented on #2981
duplicate.

[2020-05-08 12:19] #2981 closed

[2020-05-08 12:20] VaibhavPage commented on #2980
@jessesuen @sarabala1979 @simster7 thoughts?

[2020-05-08 13:37] ygapon-mio commented on #2077
Argo workflow already does JSON transforms on output parameters in some parts, e.g. `withParams` expects json list and allows to access particular fields with `item.someField`. Extending ability to do Json transforms on any input/output parameters with jsonPath would be awesome addition.

[2020-05-08 15:51] sarabala1979 commented on #2980
I think there is workaround to achieve the same functionality using container template with kubectl image.
[code]
If we need first class support for this. I would recommend using `Input Artifacts` instead of introducing new struct.

[code]

[2020-05-08 17:26] mark9white commented on #2856
Thanks. I ran this version on both the API and Controller pods, with ALWAYS_OFFLOAD_NODE_STATUS set to true.

It didn't seem to use node offload, or compression, and when the workflow yaml reached 1mb, it lost all the nodes and started again.

[2020-05-08 17:57] alexec commented on #2856
that doesn't sound right? can we Zoom? ping me on Slack today if you're free

[2020-05-08 18:17] simster7 commented on #2963
I'm looking into this feature myself as there are some tangential changes I want to make. I'll let you know if that changes. Thanks, @cy-zheng

[2020-05-08 20:03] smitthakkar96 commented on #2430
I would like to work on this if the maintainers agree to make this change. It looks really ugly when used with helm

[2020-05-08 21:33] simster7 commented on #2973
This enhancement won't work because the original Workflow may have offloaded nodes... closing

[2020-05-08 21:33] #2973 closed

[2020-05-08 22:04] alexec opened #2983 "`latest` images not built for 20 days"
Why not?

https://hub.docker.com/layers/argoproj/workflow-controller/latest/images/sha256-d6160e4078296ab5ae9cfd9c4a554275151428c8d5f443a7213fb6e76d553f17?context=repo

@jessesuen @alexmt how are these built please?

[2020-05-08 22:05] alexec commented on #2983
https://hub.docker.com/repository/registry-1.docker.io/argoproj/workflow-controller/builds/5c182a1c-e6f7-4d56-b9b3-30c2e65b4b55

[code]

Why is hooks different?

[2020-05-08 22:08] alexec commented on #2247
Can you try the prototype here: https://bit.ly/argo-wf-prototypes

[2020-05-08 22:09] alexec commented on #2946
Fixed by the sound of it.

[2020-05-08 22:12] alexec commented on #2856
New prototype here: https://bit.ly/argo-wf-prototypes

[2020-05-08 22:17] alexec commented on #2983
Presumably Docker Hub blindly decides to make everything in that directory executable and that results in the diff.

[2020-05-09 08:14] gethinzhang opened #2985 "Add Prometheus collection metrics error options"
# Summary

the default behavior of [prometheus golang http error handling](https://github.com/prometheus/client_golang/blob/ce2dae2878aa27d655eaea61569c4d3775252f4e/prometheus/promhttp/http.go#L180) is show a error message in metrics server. These errors including same metrics name or tags

But in argo, workflow is usually submitted by users, if they submit a identical metrics, which would cause w

[2020-05-09 16:06] simster7 commented on #2985
What would be the behavior of this when `IgnoreError: true`? Would both identical metrics be shown? Would the new metric be ignored?

[2020-05-09 17:15] foobarbecue commented on #944
@ecurtin2 I'm doing the same, on an NFS share volume. Manually checking at each step whether the output exists and skipping the step if it does. It would be great to have a solution built-in to Argo.

[2020-05-09 18:41] gethinzhang commented on #2985
as shown in code, promhttp would print a error in comment but skip the follow duplications.

[2020-05-09 20:10] erhhung opened #2989 "Passing non-scalar workflow parameter value into a container"
# Summary

I would like to pass an object, embedded directly in the workflow YAML, as a workflow parameter into my container as a JSON file using the artifact driver:

[code]

However, I don't see a way to **specify the serialization format of the artifact** that gets created.
In fact, here's the output of the workflow:

[code]

The good news is that my parameter content does get written into a fi

[2020-05-10 01:57] alexec opened #2990 "Cannot use `optional` with input artifacts/S3"
Checklist:

 * [x] I've included the version. - master
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

Started a step with an input artifact where the bucket does not exist, step failed.

**What you expected to happen**:

Artifact was marked optional - should pass.

**How to reproduce it (as minimally and precisel

[2020-05-10 01:59] alexec opened #2991 "Argo in Argo"
# Summary

Build Argo Workflows, using Argo Workflows.

# Motivation

Dogfood Argo Workflows using a challenging build, one the uses various technologies (Go, Yarn), requires you to build Docker images and run K3S in a sidecar.

# Proposal

WIP: https://github.com/alexec/argo/blob/ci/examples/build-argo.yaml

---

**Message from the maintainers**:

If you wish to see this enhancement implemented p

[2020-05-10 02:15] alexec opened #2992 "Retroactive/historical `TTLStrategy` and `activeDeadlineSeconds`"
# Summary

Currently you can set `activeDeadlineSeconds` and `ttlStrategy` on a per workflow basis, or as a default. But neither apply retroactively.

# Motivation

So we can clean-up historical workflows automatically, reducing operating costs.

# Proposal

For new workflows we can apply them automatically when we set-up defaults.

For historical workflows, we can't do `activeDeadlineSeconds`. Th

[2020-05-10 07:48] erhhung commented on #2989
Sorry for being a Golang noob. I see that the `map[key:val key:val]` construct is produced by `fmt.Println()` on a map object.

So, if there's isn't yet a way yet to control serialization format, is there a simple Linux utility to convert this format to JSON (without having to write a Go program)?

[2020-05-10 14:08] simster7 commented on #2992
`activeDeadlineSeconds` only applies to Running workflows... not sure how it would be used to clean up historical workflows

[2020-05-11 02:17] Woland2k commented on #2981
@VaibhavPage would be helpful to have a link to the actual duplicate here

[2020-05-11 07:14] youngjoonso1 commented on #2969
I hope Argo HTTP API also can have the artifact passing feature, because many users trigger Argo workflow via HTTP API.

[2020-05-11 09:32] mmaggiolo opened #2993 "Workflow stuck when Failed pod status switches back to Pending"
hecklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
I have a large workflow that I need to run, represented as a DAG with a large number of mutually independent nodes (probably not the best way to be represented), that run in parallel. Each of the tasks in the DAG could take

[2020-05-11 10:38] yoichiwo7 opened #2994 "apiVersion field in Workflow Event violates API conventions"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

`involvedObject.apiVersion` field in both Workflow Event and Workflow Node Event violates Kubernetes API conventions.

https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-convention

[2020-05-11 14:18] simster7 commented on #2993
Something that is invaluable when debugging similar errors is the full Workflow object that causes this error after it finishes running (or in this case stops running any further).

You can get it by running `kubectl get wf <NAME> -o yaml`. If it contains any sensitive company data and you're not comfortable sharing it publicly, you can share it with me privately on the project Slack in `@simon`

[2020-05-11 14:19] jbehling opened #2996 "OpenAPI definition for io.argoproj.workflow.v1alpha1.ScriptTemplate missing "metadata" field"
Checklist:

 * [x] I've included the version. master
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
The definition for  io.argoproj.workflow.v1alpha1.ScriptTemplate is missing the "metadata" field. This means that https://github.com/CermakM/argo-client-python (which uses the apispec to generate the models) cannot

[2020-05-11 14:22] simster7 commented on #2996
@alexec Seems like another `inline` issue

[2020-05-11 14:47] #2901 closed

[2020-05-11 15:38] alexec opened #2998 "Allow input/output artifacts to inherit auth from config"
# Summary

If you want to store/restore an artifact from storage, you must specify credentials, even if it is the same storage as as in the config.

# Motivation

Simplify store/restore of artifacts

# Proposal

TBD

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize

[2020-05-11 15:49] dan-katz commented on #1780
I'm also running into this issue when trying to have parallelism be a parameter of a workflow template

[2020-05-11 16:18] #978 closed

[2020-05-11 19:48] dan-katz opened #3002 "argo lint doesn't catch syntax errors in a WorkflowTemplate"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
Ran `argo lint` on a WorkflowTemplate with syntax errors and they weren't caught. If the `kind` is changed to `Workflow` then the syntax errors are caught.
**What you expected to happen**:
The syntax errors to be caught.
*

[2020-05-11 20:25] wreed4 opened #3003 "Support `list` verb in `resource` templates"
# Summary

Currently resource templates only support `get, create, apply, delete, replace, patch`.  Listing is something that very commonly required as well.  There should be a default way to list by label selectors without specifying name or optionally even namespace.

# Motivation

I find it fairly self-explanatory when a list is required over a Get :).  But namely, anytime you need more than on

[2020-05-11 20:32] alexec commented on #3002
@dtaniwaki ?

[2020-05-11 20:38] dtaniwaki commented on #3002
`argo workflowtemplate lint` instead?

[2020-05-11 20:42] #1975 closed

[2020-05-11 21:05] simster7 commented on #3002
I'll own this

[2020-05-11 21:35] simster7 commented on #3002
@dan-katz As @dtaniwaki correctly pointed out, `WorkflowTemplates` should be linted with

[code]

When I ran this, the lint returned an error as expected:
[code]

However, the command still exits `0` and not `1` when this is the case. Furhermore, when incorrectly linting with `argo lint`:

[code]

A warning is issued correctly, but a `Workflow manifests validated` message is still returned, which

[2020-05-12 07:06] Wenfeng-GAO opened #3004 "not found latest release version docker image in docker hub"
# Summary
Now the latest release version is v2.8.0, and when follow the **getting-started** tutorial
[code]
I found that the controllers use images `argoproj/workflow-controller:v2.8.0` and `argoproj/argocli:v2.8.0`, however version v2.8.0 is missed in docker hub.

Do we have some automation or plans to make docker hub image keep up with the binary releaes version?

[2020-05-12 08:18] engineerakki opened #3005 "How to use YAML inputs with ARGO"
# Summary
I am just getting started with Argo and want to pass parameters to my workflow from a YAML file.(i.e inputs.yaml)

Here is my inputs.yaml:
[code]
What do you want to know about this project?

Here is my ArgoWorkFlow hello.yaml:

[code]

I am running following command to run my workflow
`argo submit hello.yaml -f inputs.yaml`

But I am getting following error:
`
FATA[0000] error unmarshal

[2020-05-12 08:58] mark9white commented on #2856
@alexec FYI latest prototype is working :)

[2020-05-12 10:40] shirou commented on #2748
Is there any update for this issue? I also get same situation. And minio-go have many of fixes lik e [this](https://github.com/minio/minio-go/pull/1263), so I am very appreciate if you update the minio-go dependency to latest v6.0.55.

[2020-05-12 13:18] dan-katz commented on #3002
Thank you for the quick responses!

[2020-05-12 13:26] ygapon-mio commented on #2247
I ran my relatively large workflow with `workflow-controller:feat-no-sleep` and `workflow-controller:v2.7.6` with different parallelism settings. Workflow contains just over 900 nodes, all small with just couple API call.

Here is what I got:

Nodes in workflow ~ 900

**argoproj/workflow-controller:v2.7.6**

parallelism 5
Duration: 25:17 min
cpu:
	avg: 320

---

parallelism 10
Duration: 14:41 min

[2020-05-12 13:41] wreed4 opened #3006 "Workflows can get stuck in Running with no backing pod"
Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
We have seen several times now a workflow being stuck in the Running state waiting for pods to come up that are nowhere to be found.

[code]
[code]

**What you expected to happen**:
The workflow should be marked as Failed

[2020-05-12 13:59] simster7 commented on #3006
Something that is invaluable when debugging similar errors is the full Workflow object that causes this error after it finishes running (or in this case stops running any further).

You can get it by running `kubectl get wf <NAME> -o yaml`. If it contains any sensitive company data and you're not comfortable sharing it publicly, you can share it with me privately on the project Slack in `@simon`

[2020-05-12 15:10] alexec commented on #2856
Yay! @mark9white we're pretty busy ATM - would you like to take a stab at reviewing the code changes?

[2020-05-12 15:11] alexec commented on #3005
Have you checkout the examples: https://github.com/argoproj/argo/tree/master/examples

[2020-05-12 15:13] alexec commented on #3004
The build scripts seemed to have used an old tag. I'll re-push.

[2020-05-12 15:19] alexec commented on #3004
[code]

[2020-05-12 15:32] alexec commented on #3004
Fixed by be32b207ddf4490f90d7e85df9de84b52b46eb6e (needs PR).

New images pushed.

[2020-05-12 15:32] simster7 commented on #2963
Hi @cy-zheng! Sorry for the delay on this. We had some internal discussions about this feature and I did some testing and we decided that the best way to support this use case is for users to manually create a `StatefulSet` and a `Service` using the `resource` template.

The example below:

1. Creates a `Service` and a `StatefulSet` in parallel using `resource` templates
2. Waits for the `Stateful

[2020-05-12 15:34] logdnalf opened #3007 "Non-configurable time-out for Kubernetes API causes workflow to fail"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
I am experiencing failures in Argo workflows because the Kubernetes API is timing out. And I can't find a way to override or increase the time-outs because they see to be hard-coded: https://github.com/argoproj/argo/blob/1

[2020-05-12 16:35] #2934 closed

[2020-05-12 16:58] alexec commented on #2994
* [ ] Back-port to v2.8

[2020-05-12 17:24] #2969 closed

[2020-05-12 18:42] oudwud opened #3012 "Argo tries to untar artifacts, even if they aren't tarballs (when `archive` is `none`)"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
When I generate an artifact which is a `.gz`, and when I set `archive` to `none`, the artifact is uploaded well without archiving.
But, when it's used as an input artifact, Argo tries to untar it, even though it's not a ta

[2020-05-12 18:43] aviklai opened #3013 "WorkflowTemplate version"
# Summary
Is it possible to add support for custom metadata containing the version for the WorkflowTemplate? the version can be filled by the creator of the WorkflowTemplate.
# Motivation
Allow WorkflowTemplate maintainers to know which version of the WorkflowTemplate exists in the server.
I would like to automatically compile and deploy WorkflowTemplates using kfp and with each deployment change

[2020-05-12 18:49] alexec commented on #3012
Thank you for your bug report. Would you be interesting in helping test or ever develop the fix?

[2020-05-12 18:50] alexec commented on #3013
@dtaniwaki ?

[2020-05-12 18:50] oudwud commented on #3012
Hi @alexec
Thank you for your quick reply! :) I actually made a PR #3014.
I hope it can be reviewed when you have time.

[2020-05-12 18:53] alexec commented on #2833
With argosay:v2, this seems to have become a problem again. @simster7 do you want to own?

I'm a bit worried that this code changes behaviour with a change to a image tag.

https://app.circleci.com/pipelines/github/argoproj/argo/3797/workflows/ba1c40b4-78f4-4fa5-bc2d-d526fa2ab6f5/jobs/22741/tests
https://22741-100982449-gh.circle-artifacts.com/0/FunctionalSuite-TestStopBehavior.log

[2020-05-12 18:56] simster7 commented on #2833
Increase the timeout? Test passes locally

[2020-05-12 19:33] alexec opened #3016 "Directory traversal bug"
My team found a weakness that could open up security vulnerabilities in the right circumstances. It happens when un-trusted users are allowed pass params that are templated into input artifact destination paths. It becomes worse when un-trusted users are able to control the source of the artifact and/or the step is designed in a way that non-executable files are made executable.

For example, if I

[2020-05-12 20:40] #2963 closed

[2020-05-12 22:43] #2983 closed

[2020-05-12 22:46] alexec commented on #3007
You would like this to be configurable?

[2020-05-12 22:51] alexec commented on #2998
Duplicate of #2157

[2020-05-12 22:52] jsenon commented on #3007
I’m also interested to have the capability to set or customize the timeout. We have some workflows that failed due to timeout with kubernetes API. Perhaps a way to configure it in the Argo config map?

[2020-05-12 22:53] alexec commented on #1816
See #2157

[2020-05-12 22:55] alexec commented on #1667
Closing as no activity in 6 months.

[2020-05-12 22:56] alexec commented on #1599
Could you use a PVC claim?

[2020-05-12 22:56] alexec commented on #1583
Is this still a problem please?

[2020-05-12 22:57] alexec commented on #1472
Is this still a problem please?

[2020-05-12 22:57] alexec commented on #1469
Is this still a problem please?

[2020-05-12 22:58] alexec commented on #1457
Is this still a problem please?

[2020-05-12 22:58] alexec commented on #1449
This issue is over 6 months old and we do not support Argo UI anymore.

[2020-05-12 22:58] #1449 closed

[2020-05-12 22:59] alexec commented on #1377
You cannot.

See #2157

[2020-05-12 22:59] alexec commented on #1377
This needs fixing.

[2020-05-12 23:00] alexec commented on #1349
Could you use PVCs for this?

[2020-05-12 23:07] #3012 closed

[2020-05-12 23:12] searsaw commented on #1472
@alexec I think this is a nonissue at this point.

[2020-05-13 00:45] logdnalf commented on #3007
@alexec yes, ideally it would be nice to have it configurable, because the time-out configuration that works for me might not work for everyone.

[2020-05-13 00:46] logdnalf commented on #3007
As @jsenon mentioned, I think the `workflow-controller-configmap` would be the best place to configure what is currently hard-coded in the `DefaultRetry` Go struct.

[2020-05-13 01:27] alexec commented on #1472
Ok. Closing.

[2020-05-13 01:27] #1472 closed

[2020-05-13 01:27] alexec commented on #3007
Would you like to take a stab at creating a PR for this?

[2020-05-13 04:23] simster7 commented on #2963
@cy-zheng Let me know if the solution works for you!

[2020-05-13 04:28] cy-zheng commented on #2963
Cool. It does work for me. The only one question from me is:
Would you remove the feature "daemon container" in the future? It seems useless if we start daemon services at this way. Also, RetryStrategy field inside daemon container could make user feel confused. @simster7

[2020-05-13 08:44] bbrauzzi commented on #873
+1

[2020-05-13 09:04] cy-zheng commented on #2963
Hi @simster7 , there are some drawbacks if I use the solution above.
1. Argo server cannot show stateful set related pod on web portal. So I cannot find some information like log, pod status through argo web portal.
2. Also, these information won't be archived to MySQL/PostgreSQL
3. There could be resource leak risk when user forget to delete statefulset/service etc., we need to do some operations

[2020-05-13 09:06] logdnalf commented on #3007
I could try, but first I need to figure out how to build Argo myself. I guess it's using something like `hooks/build` to produce the Docker images. I will first try changing the hard-coded values, then if it works for my use case, I will try to figure out how to propagate them to the ConfigMap.

[2020-05-13 10:39] saiyidi opened #3021 "Passing multiple arguments to a containerised shell script"
Hi Guys, I have a requirement wherein I need to submit multiple arguments to a shell script running in a docker container and scheduled in Argo.
My script (simplified)-
# Declare variables needed.
URL="${URL}"
BATCH_NAME="${BATCH_NAME}"
BATCH_TYPE="${BATCH_TYPE}"
loglocation="/usr/batch/log/${BATCH_NAME}"

result=$(curl -i -k -s -H "Content-type: application/text" -H "batchtype:${BATCH_TYPE}" -H "

[2020-05-13 13:26] yuvraj9 commented on #716
Any updates here?
I have
       - name: **BASE_HREF**
          value: /argo/
And in my nginx ingress file I have - rewrite target to - **/** and my path is **/argo**.

I am getting a blank page when I route to - xxx.com/argo. When I open the network tag I get this error = **Uncaught SyntaxError: Unexpected token '<'**

[2020-05-13 14:35] #2815 closed

[2020-05-13 14:35] #2927 closed

[2020-05-13 14:35] #2985 closed

[2020-05-13 14:38] simster7 commented on #3016
We should also support a way to turn off strict directory validation if a user desires

[2020-05-13 15:38] alexec commented on #3007
Check out the [contributing guide](https://github.com/argoproj/argo/blob/master/docs/CONTRIBUTING.md). There's even a tutorial video there.

[2020-05-13 15:40] alexec commented on #873
This is unlikely to be developed by the core team at this time - it is a perfect piece of work for community contribution.

[2020-05-13 15:58] #1376 closed

[2020-05-13 15:58] #2760 closed

[2020-05-13 15:58] #2761 closed

[2020-05-13 16:34] brabster opened #3022 "IDE tooling?"
# Summary

This is probably the wrong project, but it's a place to start!

It would be great to get some IDE tooling in place for workflow authoring. See https://argoproj.slack.com/archives/C8J6SGN12/p1589298816385200 for context.

# Motivation

It's hard to keep track of what's going on in a non-trivial Argo workflow without some tool support. Current feedback loop for me is typically mistyping -

[2020-05-13 17:22] #2762 closed

[2020-05-13 17:24] alexec commented on #1705
Can you provide an example of the secrets shown in the UI?

[2020-05-13 17:25] alexec commented on #1750
@simster7 are you looking into this please? If not, I would like to.

[2020-05-13 17:25] alexec commented on #1742
Can I please ask if this is still a problem with v2.8?

[2020-05-13 17:28] simster7 commented on #1750
Yup, was planning to start on this after closing my open PRs

[2020-05-13 17:28] swapnild2111 commented on #1705
For me - click on Argo step where you unlock your secrets, download its artifacts. There you can see all your git-crypt unlocked files & the secrets will be seen in plaint text.

[2020-05-13 17:32] alexec commented on #2343
It is simply the case that we do not support authentication for Git. I think we should remove the go-git library and use Git directly. @jessesuen @sarabala1979 reason for using go-git here?

[2020-05-13 17:33] alexec commented on #1750
Cool- Thank you

[2020-05-13 17:33] alexec commented on #1705
Sorry - I was not clear - can you share the workflow YAML?

[2020-05-13 17:50] alexec commented on #1428
Someone with Git XP needs to sit down and test out all the authentication scenarios.

[2020-05-13 17:52] alexec commented on #1784
I think the 404 may come from the API. Often APIs return 404 rather than 401/403 so they do not leak information.

[2020-05-13 17:53] #2998 closed

[2020-05-13 18:02] swapnild2111 commented on #1705
`templates:
  - name: step-name
    steps:

    # Clone and decrypt the repository
    - - name: git-crypt
        template: git
        arguments:
          parameters:
          - name: cmd
            value: |
              echo "Unlocking git-crypt files"
              git clone {{workflow.parameters.repo-https-url}} .
              git checkout {{workflow.parameters.commit-id}}

[2020-05-13 19:00] kotyara85 opened #3026 "Argo UI Error while dialing dial tcp"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the logs.

**What happened**:
Argo UI doesn't work

**What you expected to happen**:
UI working

**How to reproduce it (as minimally and precisely as possible)**:
install using helm chart

- Argo version:
0.8.6
- Kubernetes version :
1.16

Argo UI is trying to connect to internal k8s svc

Re

[2020-05-13 19:04] ntwrkguru commented on #1428
@alexec I'm not sure I know Argo well enough to test. :-(

[2020-05-13 19:19] alexec opened #3027 "Argo YAML Editor"
# Summary

Edit Argo YAML in the UI with auto-completion.

# Motivation

It is hard to author YAML without proper validation.

# Proposal

https://github.com/redhat-developer/yaml-language-server
https://github.com/redhat-developer/vscode-yaml
https://github.com/pengx17/monaco-yaml

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to t

[2020-05-13 19:20] alexec commented on #3027
#3022

[2020-05-13 19:47] mac9416 commented on #3022
#859 would help with this for Intellij. It might also help for VSCode, but I'm not sure. https://github.com/Azure/vscode-kubernetes-tools/pull/583

[2020-05-13 21:17] alex-lipkin-create opened #3028 "Define entrypoint as a dag step"
Hi,

is it possible to define an entrypoint as a step in a dag?
Let assume I have following workflow

apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  generateName: dag-test-
spec:
  entrypoint: dag
  templates:
  - name: echo
    inputs:
      parameters:
      - name: message
    container:
      image: alpine:3.7
      command: [echo, "{{inputs.parameters.message}}"]
  - name: whales

[2020-05-13 21:46] #3004 closed

[2020-05-13 21:55] Ark-kun commented on #1349
If this is a question for me, then yes - the proposed feature an the implementation script are volume-agnostic. Any volume can be used and probably most users will specify some PVC even if only for a layer of indirection.

[2020-05-13 22:02] simster7 commented on #3028
Yes. You can do so in two ways:

1. Any task without a dependency is automatically considered an entrypoint and will be run as soon as the DAG begins.

2. You can use the `dag.target` field to set this

[2020-05-13 22:33] #1750 closed

[2020-05-13 23:37] chittu11 opened #3031 "Running argo server with "namespaced""
HI Team,
We deployed argo server and it is working fine. Now we created custom kube config with defined roles and rolebinding rules. We have to fire argo server with "argo server --namespaced" to load the kubeconfig and to reflect the roles we enforced for kube config on argo server. I also deployed argo server service using the below instructions. it is also working fine for normal "argo server"

[2020-05-14 00:02] alexec commented on #3031
Can I recommend checking out the quick start manifests which provide complete examples with namespace setup:

https://github.com/argoproj/argo/tree/master/manifests

[2020-05-14 10:37] alex-lipkin-create commented on #3028
Hi Simon,

thanks a lot for a quick response.

If understand correctly with target parameter I can define till which step dag should be executed.
I would like to define with which step it should start.

So in my examle modified example
apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  generateName: dag-test-
spec:
  entrypoint: dag
  arguments:
    parameters:
    - name: target
      va

[2020-05-14 14:14] danxmoran commented on #2929
I'd like to take a stab at fixing this myself

[2020-05-14 16:19] #2990 closed

[2020-05-14 18:22] Syps opened #3034 "Metrics should display controller error counts by type"
# Summary

Workflow Controller should be able to emit a Prometheus metric when an error occurs when trying to execute a CronWorkflow.

# Motivation

Currently, when a workflow controller encounters an error when resolving parameters for executing a cron workflow, the error will be logged to stdout but otherwise there is no way to be made aware of this failure.

If the workflow controller was able

[2020-05-14 19:02] #2974 closed

[2020-05-14 19:32] simster7 opened #3036 "Surface errors and status of CronWorkflow to CRD"
# Summary

We need to surface information about the operation of CronWorkflows to the CRD

# Motivation

There is currently no way to see the status of a `CronWorkflow` except looking at the logs.

# Proposal

We should do so similarly to how we do `Workflow.Status.Conditions`

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this i

[2020-05-14 19:32] simster7 commented on #3034
There are two issues within this issue.

1. There is currently no way to see the status of a `CronWorkflow` except looking at the logs. This should be fixed independently of any metrics being emitted. I have opened https://github.com/argoproj/argo/issues/3036 to track this issue.

2. We should emit metrics when the controller has certain errors, including but not limited to an error when operating

[2020-05-14 20:53] dmayle commented on #1823
I've just created a PR #3037

[2020-05-14 21:05] AdamKorcz opened #3038 "Continuous fuzzing"
# Summary

I have been fuzzing Argo, and I would like to contribute my fuzzer to Argo. The fuzzer runs locally, and I have managed to get it running on oss-fuzz's infrastructure as well. I would suggest that continuous fuzzing is implemented into Argos via oss-fuzz. This will allow the current fuzzer as well as all future fuzzers continuously in search for bugs.
Continuous fuzzing has been proven

[2020-05-14 21:18] danxmoran commented on #2929
Ugh, false alarm. Turns out that our config had spaces around the variable references (so `{{ pod.name }}` instead of `{{pod.name}}`) and that was causing issues. Closing this.

[2020-05-14 21:18] #2929 closed

[2020-05-14 23:13] jpambrun opened #3040 "Use fixed image version instead of :latest."
While I can't be sure, everything worked fine until 2 hours ago where I started having issue with GCS artifacts. While debugging, I notice that the init pod is using `argoproj/argoexec:latest` and that it was updated at about the same time.

Regardless of if it is the root cause of my issue, it would be nice to use fixed version so we don't have to worry about random changes.

[2020-05-15 00:49] alexec commented on #3040
I'm not sure where you're getting `latest` from. You should always be using a fixed version unless you're trying out a new version.

For example, use this:

https://raw.githubusercontent.com/argoproj/argo/v2.8.0/manifests/install.yaml

If `latest` has introduced a bug in GCS handling it would be interesting to know more about it.

[2020-05-15 02:25] jpambrun commented on #3040
On the day of the 2.8.0 release I ran

[code]

and got this (I had it checked in git)

[code]

[2020-05-15 02:36] jpambrun commented on #3040
Redeploying the the proper 2.8.0 manifest fixed the artifact issue. The error I got in the event log for the main container is below, but I assume the regression is in the init container `argoproj/argoexec:latest` responsible for downloading and extracting the tarball.

[code]

[2020-05-15 02:47] dtaniwaki opened #3041 "Set int64 Fields with Parameters"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

I wanted to set `runAsUser` and `runAsGroup` with parameters in a workflow, but they're not possible because parameters are string while those fields are int64.

[code]

**What you expected to happen**:

Convert non-strin

[2020-05-15 10:30] vanpeltj opened #3042 "Collect dynamic number of metrics from artifact/output parameter"
I use Argo Workflows to run batch jobs. Most of these batch jobs share a common docker image but each job has a different set of custom metrics. At first, I tested the custom metrics by writing an individual text file for each metric and then have a static definition of that metric in my template. And to be clear, this works as it should. However, it would be a lot easier if I could define it dyna

[2020-05-15 12:41] julienvey opened #3043 "argo executor doesn't untar artifacts before mounting volumes"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

We are using argo v2.7.3. Since this morning, all our workflows that use artifacts started to fail.
Our symptom was this error
[code]
After some investigation, we discovered that our artifact (initially a folder, which wa

[2020-05-15 15:05] samirmajen opened #3044 "Annotations assigned to a template are not applied to a pod"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

Defining annotations in a workflowTemplate are not applied to a pod, however applying them to a workflow which inherits the template works fine.

**What you expected to happen**:

Annotation applied at a workflowtemplate

[2020-05-15 15:37] simster7 opened #3045 "Link to active Workflows from CronWorkflow UI page"
# Summary

What change you think needs making.

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

How do you think this should be implemented?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-05-15 15:45] alexec commented on #3043
Can you tell us why you're using `latest`? Someone else reported this yesterday too.

[2020-05-15 15:46] alexec commented on #3043
See #3043

[2020-05-15 15:48] sarabala1979 opened #3046 "Support Json list on WithSequence"
# Summary
`WithParam` will take JSON array and generate parallel steps for execution.  `WithSequence` should support the same.
There is a workaround to achieve the sequence execution using `parallelism`

[code]

What change you think needs making.

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

How do you think this should be implemented?

---

**Me

[2020-05-15 15:48] alexec commented on #3040
OK. I'm glad we got to the bottom of that - this is due to #3004 (#3009) and #2140 (#3024) which have been fixed.

[2020-05-15 15:48] alexec commented on #3040
This is fixed. There's an explanation in Slack and a list of mitigating actions that will be taken in future.

[2020-05-15 15:49] #3040 closed

[2020-05-15 15:57] #2928 closed

[2020-05-15 15:58] alexec commented on #2994
Back

[2020-05-15 15:58] #2994 closed

[2020-05-15 15:59] alexec commented on #2974
v2.8.1

[2020-05-15 16:03] julienvey commented on #3043
Using `latest` was not on purpose. We just didn't realised it until today, I guess we just took the samples in the manifest and forgot to change the version for this image

[2020-05-15 17:10] sarabala1979 commented on #3044
I couldn't reproduce this issue on my env with the below example.  can you try it with the latest release?

[code]
[code]

[2020-05-15 17:29] sarabala1979 commented on #1759
This requirement will be solved by #2166. @mehtadeepen can you try it and let us know

[2020-05-15 18:01] sarabala1979 commented on #1759
@mehtadeepen Deepak Kumar has confirmed it works for your use case. I will close this issue

[2020-05-15 18:01] #1759 closed

[2020-05-15 19:41] sarabala1979 commented on #2739
The main delay is caused in 'createWorkflowPod` which is running synchronously (blocking call).  I tried with span the goroutine to execute `createWorkflowPod` workflow is creating nodes fast and start updating the finished pods.

Changes in operator.go line 1839
[code]
@jessesuen and @alexec  can you provide the your feedbacks?

[2020-05-15 19:45] alexec commented on #2739
maybe use a wait group with this, might be good to limit the number of goroutine with a work queue

[2020-05-15 19:49] sarabala1979 commented on #2739
if the user wants to limit their goroutines. they can use `parallelism` on their workflow.

[2020-05-15 19:52] sarabala1979 commented on #2739
Another suggestion is the Queue and worker design. All pod creation will be pushed into Queue and workers will create pods.

[2020-05-16 05:33] dtaniwaki commented on #3041
I realized the error occurred on the client-side when it's unmarshalled to a `Workflow` object. As we use `RunAsUser` of `PodSecurityContext` in my example, it is not possible to keep placeholders in a manifest.

Here're my 2 ideas to solve this problem and pros and cons.
1. Use a custom structure instead of `PodSecurityContext`.

Pros:
No change in the user-side operations.

Cons:
Hard to track c

[2020-05-16 09:34] rjdp commented on #1457
@alexec its still there I got following error on 2.8.0 : failed to load artifacts: close tcp 10.244.1.251:55912->18.205.93.1:22: use of closed network connection

[2020-05-16 12:25] ozankabak commented on #1900
It is somewhat surprising that #2657 did not fix this.

[2020-05-17 03:53] deepk2u commented on #1759
Yes, I have verified in our workflow, it works. Awesome work by Argo Team 👍

[2020-05-17 15:13] atrauzzi opened #3049 "Helm registry support?"
# Summary

Just wondering if there's any awareness or intention to support [helm registries](https://helm.sh/docs/topics/registries/) at some point?

# Motivation

This seems like it'll become the favoured way to distribute helm packages, I figured something like argo would do well to support it.

# Proposal

Totally beyond me :smile:

I'm only just starting to read about argo.

---

**Message fro

[2020-05-17 15:31] ericandrewmeadows opened #3050 "Store Workflow History with Parameters in DB"
# Summary

Storing the workflow history, with parameters used, will allow for CI/CD to build changes since the last successful build, potentially speeding up the build times.  We used to have this feature in Jenkins, saving us a lot!

# Motivation

By only building diffs, not the entire change history, you could then resubmit old Workflows, but also get changes since the last successful build with

[2020-05-18 03:30] dtaniwaki commented on #3041
I found it can be solved by adding `podSpecPatch: '{"securityContext": {"runAsUser": {{workflow.parameters.uid}}, "runAsGroup": {{workflow.parameters.uid}}}}'`.

[2020-05-18 03:31] #3041 closed

[2020-05-18 06:04] dienstfuchs commented on #2974
Can you explain how this will tackled. Will it got into.a 2.8.1 release?

[2020-05-18 07:49] whynowy commented on #2841
I wasn't able to reproduce it.

@puchake and @hashkanna , could you please share the detail about it? I guess it might be related to some kind of special object in the bucket.

My test workflow:
[code]

Logs:
[code]

[2020-05-18 12:46] cohadar commented on #2967
This VERY often happens to our production argo.
The problem goes away after i delete ALL workflows from command line.

[2020-05-18 12:58] BlackRider97 commented on #1349
Is there any issue if I use [AzureFiles ](https://docs.microsoft.com/en-us/azure/aks/azure-files-dynamic-pv) as persistent volume as Argo since it provides concurrent access on volume which is the limitation with EBS ?

[2020-05-18 14:57] sarabala1979 commented on #3050
Is it not supported currently? All workflow-level parameters will be applied in Workflow resource while creating. Workflow Controller will same the created resource. you can resubmit the workflow with the old parameters(which is saved in workflow resource) or you can pass new values.

I think this feature should be supported already.

[2020-05-18 16:34] alexec commented on #2967
The "context cancelled" error is caused by the client disconnecting. We've seen this can be caused by ingress, e.g. Nginx, between Argo and your browser. Can you confirm if this might be the case please?

[2020-05-18 16:37] #2946 closed

[2020-05-18 17:05] #2132 closed

[2020-05-18 17:16] alexec commented on #2624
@vmanucharyan bump!

[2020-05-18 17:21] alexec opened #3051 "Reduce node status bloat"
# Summary

We can create massive nodes:

[code]

# Motivation

Run workflows faster.

# Proposal

TBD

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-05-18 17:31] georgekaz commented on #2696
@alexec I'm having the same problem. What do you mean by "but you must add apiVersion and kind fields." They are there already: https://github.com/argoproj/argo/blob/master/examples/ci.yaml#L1
Do you mean somewhere else? Thanks

[2020-05-18 18:24] justenwalker opened #3053 "bug: `argoexec` sometimes panics when waiting for a docker:dind sidecar to exit"
**What happened**:

There appears to be a Go panic in `argoexec` when the `wait` container terminates a heavily-used `docker:dind` side-car. It happens a lot to me, but not **every** time.

**What you expected to happen**:

`argoexec` should ideally not panic; but at least it should log it.

**How to reproduce it (as minimally and precisely as possible)**:

Still trying to get a minimal test-case

[2020-05-18 18:28] alexec commented on #3053
We have two facts here:

* `argoexec` panicked - inferred from exit code 2
* It failed a permission check at the some time.

Correct?

[2020-05-18 18:35] justenwalker commented on #3053
Fact 1 is correct. I'm not sure if fact 2 is correct. The service account has has admin permissions so it would be unlikely that it would fail a permission check; But the error message does say:

```failed to save outputs: verify serviceaccount argo:default has necessary privileges```

So it's difficult to tell. I saw a previous issue say that this message is somewhat confusing/generic (See #982)

[2020-05-18 19:23] jaygorrell opened #3054 "Add command to run Workflow from CronWorkflow"
# Summary

I'd like to have the ability to kick off a `Workflow` from a deployed `CronWorkflow`. This is similar to the `CronJob` counterpart: `kubectl create job --from=cronjob/cronjobname jobname`

# Motivation

Primarily for debugging, but in my case, we deploy `CronJob` (and soon `CronWorkflow`) resources through CI and give engineers the ability to run a `Job` from an existing `CronJob` witho

[2020-05-18 19:39] #3043 closed

[2020-05-18 21:14] sarabala1979 commented on #3054
This feature is already implemented on v2.7.
[code]

[2020-05-18 23:31] jaygorrell commented on #3054
Ah! I missed this, thank you!

[2020-05-18 23:31] #3054 closed

[2020-05-19 02:37] weisjohn commented on #2696
@MrAmbiG @georgekaz
the error message says:
[code]

That last phrase of the error message is key: `resource name may not be empty`. Every resource in k8s must have a `metadata.name` value.

The resource you're trying to apply to your cluster has a `generateName` value, not a `name` value: https://github.com/argoproj/argo/blob/master/examples/ci.yaml#L4

[2020-05-19 10:53] vmanucharyan commented on #2624
@alexec sorry, missed your previous mention. Yes, I'll fix it.

[2020-05-19 12:57] georgekaz commented on #2696
@weisjohn I'm aware of this but that's in the example so I expect that must have worked for someone, and generateName is a valid k8s concept: https://kubernetes.io/docs/reference/using-api/api-concepts/#generated-values. It should be creating a name for us. What is apparent though is that you can not use generateName with kubectl apply,but you can use it with kubectl create. I'm trying to apply th

[2020-05-19 16:29] ericandrewmeadows commented on #3050
From what I can tell, no.  On 2.8, I do not have a SQL instance.  I am not trying to resubmit a workflow for whom their TTL has not expired, I may or may not have the TTL expired, but I only want to get the Git differences between the commit.  I have the Workflows labeled with the Git commit short hash to be able to do this, but I do not know how to retrieve previous information automatically.  In

[2020-05-19 17:50] simster7 opened #3057 "Document new controller-level metrics"

[2020-05-19 19:20] theStrayPointer opened #3058 "CPU and memory request values from workflow parameters"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

Unable to set CPU and memory request values from workflow parameters. Error on submit:
[code]

**What you expected to happen**:

Successful submit

**How to reproduce it (as minimally and precisely as possible)**:

Run
[c

[2020-05-19 19:39] ddseapy commented on #2883
Are there recommendations on running a high-availability argo in production?  We have had other workflows fail when the argo workflow controller restarts for some reason (ie. postgres connection dropped, underlying node issue).  We currently manually alert and re-run on these situations, as workflows are not retried in these scenarios even though we have retries enabled.

I believe the instance ID

[2020-05-19 19:59] #3002 closed

[2020-05-19 20:06] jsenon commented on #3007
Could you just increase the hard coded value while waiting for the PR with dynamic configuration in configmap?

[2020-05-19 20:32] alexec commented on #1377
Pretty sure this is fixed.

[2020-05-19 20:32] #1377 closed

[2020-05-19 22:16] danxmoran commented on #2793
I see the linked PR got shelved, but chiming in: An `--offline` flag for `argo lint` is exactly what my team needs. Ideally it would still check the calls between all the `WorkflowTemplate` objects found in the inputs, and just ignore any "dangling" references.

If the Argo team is still willing to accept the feature but isn't interested in building it themselves, I'd be happy to try extending the

[2020-05-19 22:23] alexec commented on #2793
See #3027

[2020-05-19 22:24] alexec commented on #2793
See #3027

[2020-05-20 01:32] cscetbon commented on #2469
Still the same issue on 2.8

[2020-05-20 02:39] danxmoran commented on #2793
The YAML editor from the linked issue would be awesome, but I think there is still a use-case for `argo lint` in a vacuum. For example, my team uses Helm to package & deploy WorkflowTemplate and CronWorkflow objects, using templating to inject global variables and DRY up repeated blocks of configuration. As part of CI, we'd like to be able to verify that the output of rendering a chart using defau

[2020-05-20 03:01] salanki commented on #3058
All argo parameters are strings, while CPU and GPUs are expected to be Numbers.

Passing the resources as parameters can be achieved with a `podSpecPatch`
[code]

[2020-05-20 04:03] sarabala1979 commented on #2469
@cscetbon I am not able to reproduce it.  can you provide your example which will reproduce this issue?
Here my example.
[code]

[2020-05-20 04:06] sarabala1979 commented on #3058
https://github.com/argoproj/argo/blob/master/examples/pod-spec-from-previous-step.yaml
https://github.com/argoproj/argo/blob/master/examples/pod-spec-patch.yaml
https://github.com/argoproj/argo/blob/master/examples/pod-spec-yaml-patch.yaml

[2020-05-20 04:17] sarabala1979 commented on #3053
I didn't see any error on wait.log. is it the right one?

[2020-05-20 04:21] Ark-kun commented on #2679
Argo already adds volumes to capture artifacts for docker executor. Why not for other executors? If Argo tells us to "mount an emptyDir volume", why can't it just auto-mount that volume itself?

[2020-05-20 04:22] Ark-kun commented on #2679
Our users need artifacts to work for some non-docker executor.

[2020-05-20 05:09] justenwalker commented on #3053
I have a hunch it is a race with the timer func; although I don't really have hard evidence. I say this because there does appear to be a race to set the `err` var.
-  https://github.com/argoproj/argo/blob/e0ad7de97a82b2e509bb4bc8bb5fcf5b9c26dea3/workflow/executor/docker/docker.go#L209
-  https://github.com/argoproj/argo/blob/e0ad7de97a82b2e509bb4bc8bb5fcf5b9c26dea3/workflow/executor/docker/docker

[2020-05-20 05:45] sarabala1979 commented on #2679
I agree with @Ark-kun. The controller should add emptydir volume automatically if non-docker executors configured. This is a nice feature and will reduce many support questions.

[2020-05-20 07:02] AntoineDao opened #3061 "Artifact Reference Subpath"
# Summary

We should allow users to specify a `subpath` witthin a referenced artifact.

# Motivation

We run workflows where we generate a folder of artifacts we then want to loop over. Our current implementation is to create a hard coded S3 key where we store the output artifacts in an unzipped `folder` and then run a loop that uses the `{{item}}` to specify a subkey in the S3 artifact path.

Thi

[2020-05-20 08:24] cy-zheng opened #3062 "Question: how do we setup argo server using "hybrid" mode?"
# Summary

How do we setup argo server using "hybrid" mode?
I find some guide below in one of README:
`"hybrid" - use the client token if provided, fallback to the server token if note.`
So how do we setup server token here? I can not find any guide about that.

# Motivation

I want to set up argo server with basic authentication and authorization:

- If user don't set token in his request, argo s

[2020-05-20 08:28] cy-zheng commented on #3062
Should argo service fallback to use k8s service account? I've set service account in argo server deployment, but it seems that argo server doesn't use the service account.
[code]

[2020-05-20 08:44] cy-zheng commented on #3062
Sorry for bothering, a cookie has been stored in my browser. I clear it and all things go well.

[2020-05-20 08:44] #3062 closed

[2020-05-20 08:51] jsenon commented on #3007
I've also set `Timeout` value in `waitMainContainerStart` function:
https://github.com/argoproj/argo/blob/4c3387b273d802419a1552345dfb95dd05b8555b/workflow/executor/executor.go#L924

[code]

[2020-05-20 09:37] theStrayPointer commented on #3058
Using `podSpecPatch` worked flawlessly. Thank you.
Quick note: I think for workflows with `dag`, you have to define the `podSpecPatch` in the template implementation (along with `script` and `image` ...).

[2020-05-20 09:37] #3058 closed

[2020-05-20 12:00] foobarbecue commented on #934
I'm having a little trouble figuring out the state of this. Looks like there's a solution that works on a volume mount but not on an artifact store? And this is because argo can't specify absolute paths (yeah, I know, "they're keys not paths") if you're writing to an artifact store?

[2020-05-20 13:40] xCASx commented on #879
Hello there.
We're currently using Kubernetes 1.15.11 (hard to migrate due to incorporated custom patches) and my workflows stuck if they have any long running sidecar(s).
I tried to run [the test](https://github.com/argoproj/argo/blob/311169f7e71c58fe9bf879a94681ee274ddf623c/test/e2e/functional/sidecar-force-kill.yaml) using Minikube. It works as expected on Kubernetes 1.18.2, but hangs on Kubern

[2020-05-20 16:09] alexec commented on #2793
@danxmoran would you like to take over this work?

[2020-05-20 18:04] danxmoran commented on #2793
Sure! Do you think I should build off of your original (closed) PR, or should I start fresh?

[2020-05-20 18:20] alexec commented on #2793
I'll leave it with you to decide - but implementing a new "offline client" is probably the right way to go.

[2020-05-20 19:17] Ark-kun commented on #2679
Related: https://github.com/kubeflow/pipelines/issues/1654 https://github.com/kubeflow/pipelines/issues/561 https://github.com/kubeflow/pipelines/issues/3407

[2020-05-20 22:04] wktmeow commented on #2742
It looks like I did not dig deeply enough the first time around.  The USR2 signal triggers a reload of the annotations, which is I believe when executor realizes that the container needs to be killed.

I think what I actually want is for the following grace period to be configurable, as our app can take longer than 10 seconds to stop safely:
https://github.com/argoproj/argo/blob/4c3387b273d802419a

[2020-05-21 00:19] yeya24 opened #3065 "Cannot see logs in argo UI"
Checklist:

 * [X] I've included the version.
 * [ ] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [X] I've included the logs.

**What happened**:

Unable to view the workflow logs in the argo UI.

![image](https://user-images.githubusercontent.com/25150124/82509438-e477f600-9ad5-11ea-8287-fc0e96ad6c4f.png)

![image](https://user-images.githubusercontent.com/25150124

[2020-05-21 00:29] yeya24 commented on #3065
I just tested this with another workflow again, seems even the workflow is succeded, this problem is still reproducible.

![image](https://user-images.githubusercontent.com/25150124/82510367-55b8a880-9ad8-11ea-8ab0-005ce9bf7e21.png)

![image](https://user-images.githubusercontent.com/25150124/82510380-5ea97a00-9ad8-11ea-8675-cf979723261a.png)

![image](https://user-images.githubusercontent.com/251

[2020-05-21 00:55] simster7 commented on #3065
Will take a look. Thanks for the detailed bug report!

[2020-05-21 02:12] #1781 closed

[2020-05-21 02:51] alexec commented on #3065
Do you have PodGC enabled?

[2020-05-21 03:01] yeya24 commented on #3065
I don't set `PodGC`.

[2020-05-21 04:51] tmshn opened #3067 "Support onRetry handler"
# Summary

Introducing handler mechanism which is called after a node exits but before sleep for next retry.

# Motivation

`onExit` callback handler for DAGTask is quite useful, but it lacks an ability to do stuffs between each retry attempts.

`onRetry` handler can be used for say

- Notification to Slack (especially for long running jobs)
- Reporting status to external system
- Logging (especia

[2020-05-21 07:10] Ark-kun commented on #1642
2.5.0

[2020-05-21 07:27] Ark-kun opened #3069 "[Bug] Global archivelogs: true does not work for templates without outputs"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

When `archivelogs: true` is specified in `workflow-controller-configmap`, the logs are usually archived as an artifact. However this does not work for templates that have no outputs.

**What you expected to happen**:

I e

[2020-05-21 08:51] er0sin commented on #2967
Enabling http2 on my ingress controller seems to have fixed it for me.

[2020-05-21 12:53] tincopper opened #3070 "Where is the implementation of the ServerHttp and Hash methods in the static.go file?"
# Summary
What do you want to know about this project?
First of all, I'm sorry to ask such a basic question. When I was debugging the source code, I found that ServerHttp and Hash were reporting errors on my ide in the file `github.com/argoproj/argo/server/static/static.go`, I found that the implementation of ServerHttp and Hash methods could not be found. Where is the implementation?

[code]
# Mo

[2020-05-21 14:31] simster7 commented on #3067
How about something like this mimic this behavior? Note: I drafted this without testing, might need some modifications to work.

[code]

[2020-05-21 14:35] simster7 commented on #3065
Could you include a minimal Workflow to reproduce?

[2020-05-21 14:42] simster7 commented on #3065
@alexec I see this may be your area of expertise, so feel free to take this over if you'd like. Just let me know.

[2020-05-21 14:59] simster7 commented on #3065
These lines look to be the problem:

https://github.com/argoproj/argo/blob/5b5bae9a6e46a82f5830f68f87598ee0c7dc2ff7/util/logs/workflow-logger.go#L97-L101

We might need better error handling here

[2020-05-21 15:10] simster7 commented on #3065
Opened #3071 to fix

[2020-05-21 15:40] simster7 commented on #3065
While #3071 fixes our strict error handling, the root cause of the issue seems to come from the decoding stage of the watch (these are the only errors that begin with "unable" in this scope).

https://github.com/kubernetes/client-go/blob/7ab8430bef2c3a2dac4002a48f714b0557379cd7/rest/watch/decoder.go#L47-L67

@yeya24 Do your log outputs contain unusual character formatting? If you could provide the

[2020-05-21 15:42] yeya24 commented on #3065
Thanks for the help ❤️. I am not sure whether I have time to investigate this today. I will try to reproduce this again and give you more information.

[2020-05-21 16:10] dtaniwaki opened #3072 "Handle CSV rows in WithParam"
# Summary

The `WithParam` field currently supports only JSON and YAML. However, there're several needs in my team that they want to run a step for each rows in a CSV file.

# Motivation

We have CSV files which need to be parsed and run a step for each row.

# Proposal

Either of the following items are possible.

- `WithParam` automatically identify CSV format and parse it.
- Create another fiel

[2020-05-21 16:22] alexec opened #3073 "msg="finished streaming call with code Unknown" error="context canceled"
We should investigate this error. I'm pretty sure it is a red herring.

[2020-05-21 16:23] alexec commented on #2967
See #3073

[2020-05-21 16:42] alexec commented on #3065
@simster7 good work - please own.

[2020-05-21 16:45] alexec commented on #3061
I'm trying to understand this. You have a step that generates a directory of files, and for each file in that directory, you want to loop over it? Could you please attach your current YAML?

[2020-05-21 16:46] alexec commented on #3070
This code is generated using `staticfiles`. This tool creates a `staticifiles.go`. Look at the `Makefile` for details.

[2020-05-21 16:47] alexec commented on #3069
@dtaniwaki would you like to own.

[2020-05-21 17:36] #2965 closed

[2020-05-21 17:54] #2428 closed

[2020-05-21 23:47] blkperl commented on #3006
@simster7 This is the workflow @wreed4 was referring to. I've changed a few lines to REDACTED but the majority is present

[code]

[2020-05-22 01:07] ysaito1001 commented on #1583
Hi, I've recently run into this issue using Argo v2.8.0.  I'm curious whether there are any workarounds; running my container as `root` doesn't feel like it's a viable workaround.

[2020-05-22 01:12] ysaito1001 commented on #1583
Hello. I've recently run into this issue using Argo v2.8.0. I'm curious if there are any workarounds?

[2020-05-22 04:30] sarabala1979 commented on #3069
I am not able to reproduce this with the master branch.

Workflow:
[code]
Configmap:
[code]
Pod Annotation:
[code]
Wait container log:
[code]

Minio screen shot:
![image](https://user-images.githubusercontent.com/33908564/82631298-ff1b9f00-9ba9-11ea-8ac3-1fca931041e1.png)

[2020-05-22 04:30] sarabala1979 commented on #3069
@Ark-kun

[2020-05-22 05:15] yoni-taranis commented on #2190
Hi,
+1 this.

I am experiencing an issue where workflow-controller eats up too much memory (up to 5GB), reaching the nodes full capacity, causing ti to be evicted in a loop.

I am running argo as a a part of a Kubeflow deployment, and the amounts of pipelines running is much (10s and not thousands)

[2020-05-22 06:47] Ark-kun commented on #3069
Sorry for wasting your time. It turns out I got the versions wrong. We've upgraded Argo recently and I thought that our latest release already used Argo 2.7.5, but it actually still had Argo 2.3.0 (and since we use re-tagged images that was hard to spot).
I've verified that the issue is fixed in Argo 2.7.5.
Thank you.

[2020-05-22 06:47] #3069 closed

[2020-05-22 09:10] antoniomo commented on #3006
We have experienced this as well. We think it's related to the cluster not having enough resources to run the pod/pods getting OOM killed. The workflow controller seems to think the workflows are still running, but of course they aren't, and they'll never complete.

[2020-05-22 09:30] antoniomo commented on #3006
In our case, we were running argo 2.7.0 so perhaps it might be related to https://github.com/argoproj/argo/issues/2711, so now testing with 2.8.0 after https://github.com/argoproj/argo/pull/2721

[2020-05-22 10:24] yuvraj9 opened #3080 "BASE_HREF is not working"
Cant Access argo UI if I change the BASE_HREF to something other than /

I want it to be accessible at xxx.com/argo

To reproduce it you can just change the env variable BASE_HREF to something other than /. I have tried these - argo, /argo , /argo/ . None of these work.

Getting this on the console of my browser -
[code]
THis is the image we are using: argoproj/argocli:v2.7.4

- Kubernetes version

[2020-05-22 11:40] sh-tatsuno opened #3081 "running onExit handler in dag task even if condition isn't match"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

If you set both "onExit" and "when" in dag task and a workflow does not satisfy the condition during running, dag task does not start but onExit handler starts runnig.

**What you expected to happen**:

The workflow shoul

[2020-05-22 15:28] tarjintor commented on #2733
thanks alot, I got the same issue,for the doc use `config:`
https://argoproj.github.io/docs/argo/configure-artifact-repository.html#s3-compatible-artifact-repository-bucket-such-as-aws-gcs-and-minio
 @talhairfanbentley

[2020-05-22 15:30] simster7 commented on #3006
Thanks, I'll take a look at this

[2020-05-22 15:31] simster7 commented on #3081
Thanks, I'll take a look at this!

[2020-05-22 15:44] alexec commented on #2733
we should get rid of those docs

[2020-05-22 15:45] alexec commented on #2733
@alexmt can you help me? Can we get rid of those docs ?

[2020-05-22 15:46] alexec commented on #2190
Would a warning in the user interface be useful?

[2020-05-22 15:49] blkperl commented on #3006
We will try updating to 2.8 as well.

[2020-05-22 16:26] sarabala1979 commented on #3061
I would recommend resolving the `from` variable with path concatenate in runtime. Controller is already resolving variables in other places like 'args' and command.
[code]

eg:
[code]

[2020-05-22 17:06] yoni-taranis commented on #2190
Hi alexec, not sure, is there a way to estimate the required memory usage per 1 kf pipeline/argo workflow

[2020-05-22 17:40] alexec commented on #2190
Please read this help: https://github.com/argoproj/argo/blob/6999dec21a54f1700dc68c6e480a0cbae6f28301/docs/cost-optimisation.md

[2020-05-22 17:43] yoni-taranis commented on #2190
I might have snatched the wrong issue, but my issue happened while initiating 10 workflows together containing each one about a hundred of pods or so

[2020-05-22 17:45] alexec commented on #2190
Have you enabled podGC on your workflows?

[2020-05-22 17:49] yoni-taranis commented on #2190
If by that you mean garbage collecting finished pods, yes.

There were no pods up when this happened, I think I can reproduce this easily

[2020-05-22 18:23] sarabala1979 opened #3087 "Support Label Selector and Field Selector in Argo list"
# Summary

What change you think needs making.

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

How do you think this should be implemented?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-05-22 19:04] simster7 commented on #2430
I've given some thought to this and see some blockers before introducing this in the controller:

1. It seems like an abstraction violation for us to implement a solution in the controller for a problem which is really external to it (collisions with Helm).

1. I can foresee some issues with `WorkflowTemplates`. We agree that it's not a good idea to define the syntax on the controller-level, as it

[2020-05-22 19:25] ljk662 opened #3090 "Add -o short option for argocli get command"
# Summary

What change you think needs making.

I want a status message that is small enough to pull out and send in a slack attachment. Some of the general info template/pod-name is not needed for a quick summary report.

Please give examples of your use case, e.g. when would you use this.

When I want a short summary to glance at for recurring jobs.

How do you think this should be implemented?

[2020-05-22 20:13] ljk662 commented on #3090
@alexec I've already implemented this on my fork (It was a good first issue :) ) . Since it seems this is something you are interested in I will make the PR now

[2020-05-22 22:41] alexec opened #3091 "In the UI, if the workflow could not start, we should show why - not sit there loading the DAG"

[2020-05-22 22:43] alexec opened #3092 "The UI example for a template is deprecated"
When I attempt to submit a workflow template, it uses this YAML:

[code]

But this YAML has a warning in the conditions:

[code]

We should probably use YAML that is not deprecated!

@simster7 - would you like to own this?

[2020-05-22 23:14] ptemmer opened #3093 "Prometheus metrics port not taken into account"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
No matter the port number configured for the prometheus metrics server in the workflow configmap, the workflow-controller-metrics targetPort is always set to 9090.

**What you expected to happen**:
workflow-controller-metr

[2020-05-22 23:22] alexec commented on #3093
@simster7 ?

[2020-05-23 00:10] #2856 closed

[2020-05-23 07:50] Ark-kun commented on #3061
Can you use normal output artifacts (with auto-generated keys) and just make an output for every file you want to output?

[code]

[2020-05-23 09:59] tmshn commented on #3067
Thank you for your suggestion @simster7 !

Actually our workaround is something quite similar to yours:

[code]

But obviously this kind of workaround increases the complexity of the dag, resulting harder to understand the execution graph.

[2020-05-23 12:04] brabster commented on #2430
I'm pretty happy with my workaround, not seen any issues so far. I have a more detailed walkthough up at https://tempered.works/posts/2020-05-23-helm-charts-for-argo-workflows with a linked Github example repo if helpful.

If you do decide to implement, on point (3) I think it would be reasonable to require new delimiters to not be valid JSON syntax and to expect users to ensure that is so.

[2020-05-23 17:16] weisjohn commented on #2696
@georgekaz interesting, so if `generateName` is only applicable if using `kubectl create`, then ArgoCD must be using `kubectl create` under the hood?

[2020-05-23 18:43] dcherman opened #3095 "PVC GC Policy"
# Summary

Similar to `PodGC`, can we consider implementing `VolumeGC` which would allow users to customize whether or not PVCs are retained on failed / errored workflows?  Right now, volumes are never deleted when a Workflow fails or errors.

# Motivation

There are a lot of scenarios where if a given workflow fails, you may choose to never retry or re-submit it, or retrying the workflow would re

[2020-05-23 20:46] alexec commented on #3095
See #2771

[2020-05-23 20:50] jyotishp opened #3096 "DAG gets stuck when using retry"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
The DAG gets stuck after the retry on error task fails.

**What you expected to happen**:
The DAG step is supposed to fail and the workflow should stop or trigger the exit handler.

**How to reproduce it (as minimally and

[2020-05-23 21:14] jyotishp opened #3097 "Inconsistent behavior on deleting a running pod in DAG"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
When a running pod of a DAG from a workflow is deleted, the pod fails with either
[code]
or
[code]

**What you expected to happen**:
Expected the pod to fail with `phase: Error`.

**How to reproduce it (as minimally and pr

[2020-05-23 23:21] foobarbecue commented on #1054
Is there any way to do this this "work avoidance" pattern if using an artifact repository as opposed to a volume? You can't check if the file exists...

[2020-05-24 02:53] #3036 closed

[2020-05-24 02:53] #3045 closed

[2020-05-24 05:38] foobarbecue commented on #934
Wow, I found a solution that works OK for me. Trick was to use parameter as part of the artifact key. I might post an example tomorrow.

[2020-05-24 07:02] yunhailuo commented on #2733
Hi, I just started to learn and use Argo and K8s. I also hit this issue and the answers here (**# DELETE `config:\`**) helps. Thank you!

I also hit two other issues
* The argo namespace is not used consistently through this getting-started tutorial. This is potentially confusing. For example, I couldn't see workflows I submitted, hello-world for example, after launching Argo UI (which is with arg

[2020-05-24 12:48] alex-lipkin-create commented on #3028
There is no feature for defining start step in the dag. But condionals may be used to skip stepts that are not required.

For instance like following:

apiVersion: argoproj.io/v1alpha1
kind: Workflow
 metadata:
 generateName: dag-test-
 spec:
 entrypoint: dag
 arguments:
 parameters:
 - name: target
 value: B
 templates:
•name: echo
 inputs:
 parameters: ◦name: message
 container:
 image: alpine:3

[2020-05-24 12:48] #3028 closed

[2020-05-24 19:49] alexec commented on #2733
Yes please! We'd love to see someone refresh these!

[2020-05-24 19:50] alexec commented on #934
Yes please - would you like to update the example too?

[2020-05-24 22:38] foobarbecue commented on #934
Here's an example of how I'm doing it. I could contribute as an example but it's more of a hack than a pattern at this point I think! I'll see if I can make it a little less hacky and submit as an example with caveat. https://gist.github.com/foobarbecue/bb6c5a1a5c67ad17b9c6cbb7fd32f5ee