[2020-03-09 03:13] alexec commented on #2382
It sounds like something went wrong when migrating your workflows. Look for a file named migrate.go to find the SQL to run to create this table.

[2020-03-09 08:00] changhc commented on #2378
Em I think I'll just take it unless anyone else is interested in this as well

[2020-03-09 11:40] vh opened #2395 "CronWorkflow: workflow metadata"
# Summary

Add the ability to specify workflow metadata (labels, annotations).

# Motivation

I want to filter workflows by label.

[code]

# Proposal

[code]

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-03-09 12:15] ervindm opened #2396 "Argo UI cronworkflow not running"
Checklist:

 * [y] I've included the version.
 * [y] I've included reproduction steps.
 * [y] I've included the workflow YAML.
 * [n] I've included the logs.

**What happened**: I am trying to submit a cron workflow that has nesting dag but it does not work on the UI.

**What you expected to happen**: cron workflow should run, as this same workflow run on normal workflow (using workflowspec defini

[2020-03-09 13:37] danxmoran commented on #2382
Dropping all the tables (including `schema_history`) and rebooting the controller seems to have fixed the write-side of archiving. The UI still isn't showing any records, but I'll dig a bit to make sure nothing's misconfigured and open a separate issue if needed.

Thanks for the help!

[2020-03-09 13:37] #2382 closed

[2020-03-09 14:13] uipo78 commented on #2239
RBAC and pod security policies are two separate things.

[2020-03-09 15:16] #2378 closed

[2020-03-09 15:16] alexec commented on #2395
@simster7 FYI

[2020-03-09 15:17] alexec commented on #2382
Thank you @danxmoran . We'll keep an eye on this one.

[2020-03-09 15:22] ervindm commented on #2396
I saw the issue on my end, I will close. thanks

[2020-03-09 15:22] #2396 closed

[2020-03-09 15:41] alexec commented on #2239
@sarabala1979 ?

[2020-03-09 15:50] alexec opened #2397 "Delete the CHANGELOG.md"
# Summary

Delete this file.

# Motivation

This file in 2 release out of date. We're clearly not updating it. It's costly and with little benefit.

# Proposal

Delete the file.

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-03-09 15:50] alexec commented on #2397
@jessesuen @sarabala1979 thoughts?

[2020-03-09 16:41] theomessin opened #2398 "Argo UI workflow duration is counting down"
**What happened**:
Workflow duration is counting down.

**What you expected to happen**:
Workflow duration should count up.

**How to reproduce it (as minimally and precisely as possible)**:
Deploy a workflow, navigate to workflow in UI and see duration.

**Anything else we need to know?**:
Nope

**Environment**:
- Argo version:
[code]
- Kubernetes version :
[code]

---

**Message from the maintai

[2020-03-09 16:44] alexec commented on #2398
Thank you. Would you like to submit a PR to fix this?

[2020-03-09 16:52] theomessin commented on #2398
Double checking the details table, it seems that the start and end time are actually in the future
<img src="https://imgur.com/9YwHTBL.png">

This is probably why the duration is negative in the beginning.

[2020-03-09 16:54] danxmoran opened #2399 "Workflow Archive RBAC doesn't agree with Workflow / Timeline RBAC"
Checklist:

 * [x] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
For context, I'm running the Argo Server in hosted mode, with the "client" auth mode enabled. The SA running the server has minimal RBAC (get/watch/list on configmaps and get on secrets).

Workflows are being written to th

[2020-03-09 17:57] simster7 commented on #2399
@alexec Would you take this one?

[2020-03-09 18:00] simster7 commented on #2398
Interesting... I am unable to reproduce this. All times are assigned using the system time. Perhaps your cluster's clock is ahead of your machine's clock, and when times are returned to the client side the TS tenderer uses your machine's time as truth?

[2020-03-09 18:02] simster7 commented on #2397
Why not add to the top something like: `This file is deprecated and no longer supported. For latest release information please see our [releases page](https://github.com/argoproj/argo/releases)`?

[2020-03-09 18:34] simster7 commented on #2393
It seems like this is already supported? From [Argo Variables](https://github.com/argoproj/argo/blob/master/docs/variables.md#steps-templates):

An example: https://github.com/argoproj/argo/blob/master/examples/nested-workflow.yaml

Am  I missing something here?

[2020-03-09 18:35] seaneagan commented on #2007
@delwaterman that would be convenient, but it's already fairly easy to wrap workflow templates in a workflow:

[code]

my use case here though is being able to define other `Workflow` fields besides `templates` e..g `arguments` and `volumes` in a `WorkflowTemplate` ( inert `Workflow` ) which can be called from a higher level `WorkflowTemplate` or `Workflow`.

[2020-03-09 18:42] simster7 commented on #2395
Thanks @vh! Opened a PR for this

[2020-03-09 18:46] mac9416 commented on #2393
That's true for retrieving output parameters for steps without parallelism. For a looped step, it seems like `steps.<TASKNAME>.outputs.parameters.<NAME>` isn't defined.

Example from the StackOverflow post:

[code]

[2020-03-09 18:50] simster7 commented on #2393
Hmm... that seems like a bug then. Will investigate later today

[2020-03-09 18:56] seaneagan commented on #2007
I think the cleanest way to support reusable workflow definitions would be to fully separate workflow definition from workflow instantiation. Currently `Workflow` is definition+instantiation, while `WorkflowTemplate` is only a partial definition. We can't remove the definition aspect from `Workflow` at this point (it's convenient anyway), but adding a full workflow definition ability to `WorkflowT

[2020-03-09 19:26] seaneagan commented on #2007
One thing that's unclear with the proposal, do we need an ability to reference [metadata variables](https://argoproj.github.io/docs/argo/docs/variables.html) about the entire workflow/workflowtemplate chain?

I am not sure what the current behavior is, but presumably it would be useful to reference, from within a `WorkflowTemplate` let's call it `wt`, variables for both the entrypoint `Workflow` a

[2020-03-09 20:35] alexec commented on #2399
@danxmoran you are quite correct - the RBAC should be exactly the same rules.

[2020-03-09 20:36] alexec commented on #2399
The code is different for getting a single archive and listing all of them. I'd like to understand which is the problem. Are you listing? Or are you trying to view a single one? Could you share the URL?

[2020-03-09 20:39] danxmoran commented on #2399
I'm seeing the difference on the list view (/archived-workflows)

[2020-03-09 20:40] danxmoran commented on #2399
What would the URL be for a workflow named "clinvar-ingest-4bv6t"? I can try going to it directly and see if that works.

[2020-03-09 20:44] simster7 commented on #1676
I brought this up at an internal meeting and we have decided to not prioritize this for now. Let me know if the workaround works for you guys, if not we can revisit.

[2020-03-09 20:44] #1676 closed

[2020-03-09 21:13] alexec commented on #1728
@sarabala1979 close?

[2020-03-09 21:17] alexec commented on #1539
Close in favour #2203.

[2020-03-09 21:17] #1539 closed

[2020-03-09 21:17] #1731 closed

[2020-03-09 21:17] #1728 closed

[2020-03-09 21:26] vh commented on #2395
@simster7 Thank you!

[2020-03-09 21:49] alexec commented on #2399
you need the UID. I think it is either

* /archived-workflows/${uid}
* /archived-workflows/${namespace}/${uid}

[2020-03-09 21:52] danxmoran commented on #2399
Direct access to the workflow (/archived-workflows/${namespace}/${uid}) works.

[2020-03-09 22:16] alexec commented on #2399
So it is list that is broken. Can you tell what RBAC provider you are using.

[2020-03-09 22:21] alexec commented on #2399
I'd also like to find out what K8S is returning. We use a request called SelfSubjectAccessReview:

https://docs.openshift.com/container-platform/3.7/rest_api/apis-authorization.k8s.io/v1.SelfSubjectAccessReview.html

Do you think you could do this? This is advanced.

[2020-03-09 23:01] danxmoran commented on #2399
I'm running on GKE, so the RBAC comes from whatever mechanism it uses under-the-hood (not sure of the details myself).

Is `kubectl auth can-i` the CLI way to run the SelfSubjectAccessReview? If so:
[code]

Also, if it helps, here's the role assigned to the SA running the Argo server:
[code]
So I'd expect any `can-i` calls about workflows that run as this SA to fail.

[2020-03-10 01:21] cscetbon opened #2403 "Taking time to mark task as succeeded"
**What happened**:
Workflow duration is about 10 minutes when retryStrategy is used with backoff. When backoff is not used it takes a few seconds (see debug information)

**What you expected to happen**:
Workflow duration should be of a few seconds

**How to reproduce it (as minimally and precisely as possible)**:
Use
[code]

Submit it with and without the ReplyStrategy and Backoff options.

**Any

[2020-03-10 07:11] theomessin commented on #2398
What the.... That explains why I almost missed my train yesterday, my laptop's time is about two minutes behind :astonished: Not much you can do from your end though

[2020-03-10 07:11] #2398 closed

[2020-03-10 08:56] dseynaev commented on #2272
Never mind, I solved my own issue by replacing keycloak-gatekeeper with oauth2_proxy v5.0.0.

[2020-03-10 17:14] simster7 opened #2406 "Disable "Logs" button on the UI if the node type is virtual"
Virtual nodes don't output logs, so a button suggesting to see them is misleading. Note that most virtual nodes are not shown at all, but `RetryNodes` and `SuspendNodes` are still shown.

[2020-03-10 17:16] simster7 commented on #2403
I'll take a stab at this one

[2020-03-10 19:31] simster7 commented on #2393
So in this example, your desired output for `{{steps.write.outputs.parameters.number}}` would be `["20", "21", ..., "30"]`? @mac9416

[2020-03-10 19:33] mac9416 commented on #2393
Yep, I think that would do nicely! As long as you can't think of a reason this would be misleading or otherwise problematic for users.

[2020-03-10 19:33] mac9416 commented on #2393
It is a slight deviation from typical JSON referencing, but hopefully the user will understand they're not working directly with a JSON object here.

[2020-03-10 19:40] simster7 commented on #2393
This is my main concern. I think the syntax `A.B` is pretty consistent to "B is a subset of A" and implementing the name as proposed would mean something different. Can you think of a different syntax that would clearly say "B is aggregated from all members of A"? Or at least some syntax that wouldn't conflict with `A.B`?

[2020-03-10 20:03] mac9416 commented on #2393
(chatted a bit offline)

JavaScript: `A.map(params => params.B)` - clear but verbose - maybe could shorten to `A.map(B)`?
Python: `[item.B for item in range(A)]` - still verbose
jq: `.A[] | .B` - short but introduces `|` - maybe shorten to `.A[].B`? but then we're inventing stuff

Or maybe invent some function like `getall(A, B)`.

Simon plans to bring it up with Jesse.

[2020-03-10 20:48] simster7 commented on #2324
Fixed in https://github.com/argoproj/argo/pull/2330

[2020-03-10 20:48] #2324 closed

[2020-03-10 21:57] jessesuen commented on #2393
My feelings about this are:

1. I agree with @simster7  that dot-notation for property access should be consistent with everyones expectations. This rules out `{{steps.write.outputs.parameters.number}}` as an aggregate accessor.
2. We should not invent any new syntax.
3. Argo Rollouts has already chosen to use a different library https://github.com/antonmedv/expr than workflows for expression proc

[2020-03-10 22:51] mac9416 commented on #2393
Sounds like a major refactor to use expr. Maybe the solution is to throw a lint error if someone tries to directly access a param for a parallelized step?

[2020-03-10 23:57] #2395 closed

[2020-03-11 01:06] thundergolfer opened #2408 "Intermittent RBAC permission problems in workflows using volumeClaimTemplates"
Checklist:

 * [x] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

We're seeing that _sometimes_ our scheduled workflows are entering an `Error` state within a minute because of an error like:

[code]

For example, today this workflow was scheduled and entered the `Error` state after 13

[2020-03-11 01:17] thundergolfer commented on #2408
**`workflow-controller` from time of the `Error` shown in my report:**

[loggly_events_2020-03-11 01_15_18.586631.txt](https://github.com/argoproj/argo/files/4315520/loggly_events_2020-03-11.01_15_18.586631.txt)

[2020-03-11 03:39] cscetbon commented on #2376
@nicks https://github.com/argoproj/argo/blob/master/examples/retry-container-to-completion.yaml does not work for me using that executor on Kind. Were you able to use it with Kind with no issues ?

[2020-03-11 03:56] nicks commented on #2376
I haven't tried that one, so I can't speak to whether/how it would work, sorry!

[2020-03-11 12:22] yustoris commented on #1813
I would like to prepare Argo environment as a workflow engine that manages tasks which our machine learning engineers requires.
I should not force such non-infra engineers to learn Kubernetes because they should concentrate on their own tasks. To achieve this, we need some common authentication like things implemented in Argo CD.
Is this an outlier requirement ?

[2020-03-11 14:41] grantstephens opened #2412 "Specifying specifying resources with input arguments causes an error"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
I am trying to make the template's resources depend on input arguments. When I submit a workflow like this it fails
**What you expected to happen**:
Each template should be able to have its own resources
**How to reproduce

[2020-03-11 16:19] ntwalibas opened #2413 "New Argo releases fail on workflows with parameters that are not strings"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
Create a simple workflow where input paramters contain, say, a number and submit it either via the CLI or via the Golang API. Argo will reject it saying that steps can't be numbers.

**What you expected to happen**:
I expe

[2020-03-11 16:33] simster7 commented on #2413
Hi @ntwalibas, thanks for submitting this. The workflow you submitted is invalid, but I was nevertheless able to reproduce the bug using this workflow:

[code]

Will take a look at this.

[2020-03-11 19:09] yustoris opened #2415 "Argo doesn't delete PVC with `volumeClaimTemplates`"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
When I used git artifact and `volumeClaimTemplates` in a workflow , Argo doesn't delete PVC and git pod even after the workflow successfully finished.

**What you expected to happen**:

Delete PVC and pods completely.

**H

[2020-03-11 19:15] yustoris commented on #2415
Also happened though I don't use git artifact

[code]

[2020-03-11 21:15] alexec commented on #2321
This should be via the UI.

[2020-03-11 21:18] alexec commented on #2321
This needs to be for both live workflows and archived workflows.

[2020-03-12 05:20] samath117 commented on #1876
Confirmed that this issue appears to be fixed in v2.6.1 at least.

[2020-03-12 11:01] danxmoran commented on #2399
The main difference I see between list and get's auth calls are that the list method creates a new authorizer [each time](https://github.com/argoproj/argo/blob/master/server/workflowarchive/archived_workflow_server.go#L60), while the get method seems to use some [global instance](https://github.com/argoproj/argo/blob/master/server/workflowarchive/archived_workflow_server.go#L103).

Is there an eas

[2020-03-12 11:34] dguendisch commented on #2261
We upgraded yesterday from 2.4.x to 2.6.0 and faced the same issue for some of our workflows. `wait` container got stuck and process output showed `docker logs` running...
Looking forward to argo v.2.6.2.

[2020-03-12 14:52] samath117 opened #2420 "v2.6.1: argo list --chunk-size truncation should apply after other filters"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

Summary:

`argo list` takes multiple options which act like filters, like `--since [time]` or `--completed`. It also provides an option `--chunk-size` (default 500) which truncates the list. However, these two operations happen in the wrong

[2020-03-12 15:01] amitgilad3 commented on #2408
i am also experiencing this issue but with argo version 2.6.1, any help or insight would be appreciated

[2020-03-12 17:00] seaneagan opened #2421 "Add `Conditions` to workflow status"
# Summary

Add `Conditions` to workflow status.

# Motivation

From the [kubernetes api conventions](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#typical-status-properties):

This would facilitate using e.g. `kubectl wait` to wait for workflows:

`kubectl wait --for=condition=complete workflow/myworkflow`

The `argo wait` command UI is

[2020-03-12 17:25] alexec commented on #2421
great idea! we put the status is a label currently, so you'd just need to figure out how to get that into the status

[2020-03-12 18:53] alexec opened #2422 "Argo server has cluster scope, but user does not have permission"
# Summary

If the Argo Server is set-up in cluster install rather than namespace install, but the user does not have cluster permission, then they are show the 403 error page. But it would be better if they could choose a namespace they have access to.

# Motivation

Confusing to the user.

# Proposal

Not sure.

---

**Message from the maintainers**:

If you wish to see this enhancement implement

[2020-03-12 18:53] alexec commented on #2422
@sarabala1979 @jessesuen @simster7 FYI - I had to help a user out today because of this.

[2020-03-12 19:00] alexec commented on #2422
[code]

[2020-03-12 19:06] alexec commented on #2374
This has improved things, but we are now seeing

* `vHEAD++918d0d1.dirty` on release-2.6
* `vlatest+918d0d1.dirty` on master.

[2020-03-12 19:07] alexec commented on #2374
[code]

[2020-03-12 19:08] alexec commented on #2374
[code]

[2020-03-12 19:51] #1876 closed

[2020-03-12 20:51] whynowy opened #2424 "Incorrect codegen directory"
Checklist:

Since we have moved to use `go mod`, `codegen` files should not always always saved to the directory under `GOPATH`.

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
Move the source code dir out of `$GOPATH`, run `make codegen`, generated files still go to the dir `$GOP

[2020-03-12 20:58] #2374 closed

[2020-03-12 20:59] #2403 closed

[2020-03-12 21:48] alexec commented on #2422
![image](https://user-images.githubusercontent.com/1142830/76569491-7af1c080-6470-11ea-9085-6edd6669734f.png)

[2020-03-12 21:49] alexec commented on #2422
I don't think this is fixable, because we need to know what namespaces the user has access to. The user will not have permission to list namespaces:

[code]

[2020-03-12 21:49] #2422 closed

[2020-03-13 03:28] danxmoran opened #2427 "Updating the workflow archive entry for a retried workflow fails with "current transaction is aborted""
Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
One of my workflows failed with a transient error. I retried it through the UI and all of its steps succeeded, but the root node (a DAG template) was still marked as an Error. I looked through the logs and found this error

[2020-03-13 05:40] changhc commented on #2420
I'd like to take this ticket

[2020-03-13 08:52] samath117 opened #2428 "give argo watch and argo submit --watch the option to hide skipped steps"
# Summary

`argo watch` gets cluttered if there are too many false conditionals. There should be an option to mute the lines of those steps.

# Motivation

`argo watch` is a great way to look at the full workflow as it's running. However, it tends to get quite cluttered when there are multiple routes that a workflow can go down, controlled by `when` conditionals. For instance, an exit handler migh

[2020-03-13 09:51] samath117 commented on #1902
Any progress / hope on this? It's caused me a bunch of befuddling problems with global parameters, and appears to still be an issue as of v2.6.1.

[2020-03-13 10:28] dguendisch commented on #2261
I can confirm that v2.6.2 fixed this issue for us, thanks!

[2020-03-13 10:31] rmgpinto commented on #2261
I can confirm as well.

Thanks @tcolgate !

[2020-03-13 10:39] tcolgate commented on #2261
Well, I also did break it in the first place :)

[2020-03-13 10:48] dguendisch commented on #2261
Only people that do nothing won't break anything :)

[2020-03-13 12:19] samath117 opened #2429 "optional output artifacts do not work on composite templates"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

Optional output artifacts are meant to handle the case when the file being created does not exist; they simply do not create the artifact. They work great for container and script templates. But this same functionality does not apply to outp

[2020-03-13 14:02] NikeNano commented on #2421
I would be happy to help out with this issue @seaneagan , will start to look at it. How do I assign my self to this issue @alexec?

[2020-03-13 14:51] alexec commented on #2421
Assigned!

[2020-03-13 15:03] alexec commented on #2427
I'll investigate..

[2020-03-13 15:07] danxmoran opened #2430 "Add support for alternate variable-reference syntax"
# Summary

(This would be a significant change, so I understand if it's not really feasible)

Argo currently supports syntax like this for referencing variables:
[code]

It would be a significant UX improvement for my team if we could use something other than `{{ }}` as the syntax.

# Motivation

I have two main motivations for asking.

First, my team uses Helm to publish & share utility `Workflow

[2020-03-13 16:08] alexec commented on #2018
@zoux86 sorry - I can see I dropped this - are you sorted now?

[2020-03-13 16:19] alexec commented on #2427
@danxmoran you are correct, the archive should insert a new record, if it gets a primary key, we assume that somehow we're trying to archive the workflow twice, so we need to do an update.

You haven't included the error message from the workflow. Could I please ask for it as it would really help narrow this down?

[2020-03-13 16:51] alexec opened #2432 "Fix flakey tests in operator_template_scope_test.go"
These are marked with SkipNow

[2020-03-13 16:53] alexec commented on #2432
@dtaniwaki do you want to own this?

[2020-03-13 16:55] #2004 closed

[2020-03-13 17:07] #2413 closed

[2020-03-13 17:21] danxmoran commented on #2427
I think the error in my workflow was a red herring. The WF spec was invalid, and the message was `output parameters must have a valueFrom specified` (we haven't figured out our CI story for linting the workflow we deploy with Helm, yet).

Looking at the logs again, I see what you mean about first trying to INSERT, then performing an UPDATE. I think the UPDATE step is failing, though, because it's

[2020-03-13 17:22] danxmoran commented on #2427
I'm going to update the issue title since the original behavior I saw is expected to happen in this case 😄

[2020-03-13 17:25] alexec commented on #2427
So
1. Yes, there is a bug.
2. It is an edge-case.
3. It should be fixed.

[2020-03-13 17:33] alexec opened #2435 "Log pod manifest on completion"
For debugging purposes it would be good to log the pod's manifest. This should be optional and use a feature flag (see https://github.com/argoproj/argo/pull/2219/files#diff-47785e33eca44160010dfabf539712c0)

See #2321

[2020-03-13 17:50] alexec opened #2436 "Search archive by started at between two dates and times"
Allow users to search for archived workflows between two dates and times.

See #2321

[2020-03-13 17:52] alexec opened #2437 "Search for workflows by creator"
See #2321

[2020-03-13 17:56] alexec opened #2438 "Deep link into Splunk (or other logging facility) from UI"
Provide a way to get directly from the UI to the logs for the pod.

See #2321

[2020-03-13 17:59] alexec commented on #2321
Broken up into smaller issues.

[2020-03-13 17:59] #2321 closed

[2020-03-13 18:17] alexec opened #2439 "Remember namespace across UI pages"
When you choose a namespace in the UI, but then change to a different page, that namespace selection is forgotten. E.g.

1. I'm looking at the "monitoring" namespace in /workflows/monitoring.
2. I change to the archive view, the namespace selection is forgotten.

[2020-03-13 18:19] alexec commented on #2174
Thank you @mukulikak

[2020-03-13 18:19] #2174 closed

[2020-03-13 18:48] alexec commented on #2435
@sarabala1979 did you want to do this one?

[2020-03-13 19:37] jbmcfarlin31 opened #2440 "Argo Workflow Pod Logs seem to be truncated"
Hello,

Running Argo Workflows `v2.6.0`. When looking at steps within a workflow, you have the ability to view logs. Prior to this release, you used to see all log output however as of now it appears the log output is truncated to the last 20 lines.

If you look at the logs using the CLI however, it shows all log output with no truncation.

Is there a configuration setting for the workflow server

[2020-03-13 20:54] danxmoran opened #2442 "Script "result" output not populated when script template needed a retry"
Checklist:

 * [x] I've included the version.
 * [ ] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
Context: I have a workflow DAG that runs 2 `script` steps in a row. The `result` output of the 1st is passed as an input to the 2nd. Both scripts can be flaky, so they enable a `retryStrategy`.

When the 1st `script` compl

[2020-03-13 21:21] simster7 commented on #2440
Fixed in: https://github.com/argoproj/argo/pull/2330

Should be in the next release

[2020-03-13 21:21] #2440 closed

[2020-03-13 22:23] #1913 closed

[2020-03-13 22:29] #2439 closed

[2020-03-13 22:37] #2397 closed

[2020-03-13 23:51] #2427 closed

[2020-03-14 03:43] dtaniwaki commented on #2432
I have fixed something about the informer. Does it solve the issue?
https://github.com/argoproj/argo/commit/563b5b9bf6a30e2a81365b1a226b5423c6968508

[2020-03-14 04:34] alexmt commented on #1098
I was looking for an example as well. Found it here: https://github.com/argoproj/argo/blob/c7e5cba14a835fbfd0aba88b99197675ce1f0c66/examples/pod-gc-strategy.yaml#L9

[2020-03-14 08:28] TrevorNodeJS opened #2444 "CronWorkflow labels are not copied into relevant Workflow instance"
# Summary

CronWorkflow has special labels
it necessary to pass these labels into relevant workflow instance.

# Motivation

it will be helpful to manage instances of CronWorkflow.

# Proposal

in current implementation, two labels could be found on instance workflow.

[code]

in case of cron workflow has more labels, e.g.

[code]

the final workflow instance should have labels :
[code]

---

**Me

[2020-03-14 08:31] TrevorNodeJS commented on #2444
my testing result:

[code]

the cron workflow
[code]

the workflow instance, could not find
[code]
[code]

[2020-03-14 08:56] TrevorNodeJS commented on #2444
find
https://github.com/argoproj/argo/issues/2395

[2020-03-14 08:56] #2444 closed

[2020-03-14 12:09] descrepes commented on #2249
The 2.6.1 release fixed the issue.
Thank you so much for your work !

[2020-03-14 16:09] simster7 commented on #2249
Fully fixed with #2360

[2020-03-14 23:28] alexec opened #2446 "Fix flakey test: `TestPendingRetryWorkflowWithRetryStrategy`"
This test is failing master builds. It looks like the test is flakey rather than incorrect.

This test was introduced in #2385.

[2020-03-14 23:30] alexec commented on #2446
@jamhed I think you introduced the test? Before we disable it, do you want to investigate?

The first actually failing build appears to be the one after yours, but as that is UI only changes, it cannot be that one:

Failures

* https://circleci.com/gh/argoproj/argo/9235
* https://circleci.com/gh/argoproj/argo/9238

[2020-03-14 23:30] alexec commented on #2446
Argo builds have become unstable on master. As previously, Ive enabled "Require branches to be up to date before merging". The flakey  test is TestPendingRetryWorkflowWithRetryStrategy .

@whynowy @sarabala1979 @simster7

[2020-03-14 23:31] simster7 commented on #2446
I own this test, I’ll self assign.

[2020-03-15 15:09] zoux86 commented on #2018
@alexec i am afraid not. The problem is as follows:
[code]
the argo images is always ErrImageNeverPull 。because the image pull policy is Never。 How can I change it to "Always" and use my docker registery。

#### Other things that might help
 I clone argo and use "make start" command, a error happend the log is as follows.
[code]
It seems the reason is the image pull policy is "Never".
Because i am

[2020-03-15 15:37] #2007 closed

[2020-03-15 15:51] simster7 commented on #2446
@alexec The flakey-ness of this test is because of this line:

https://github.com/argoproj/argo/blob/32fc2f78212d031f99f1dfc5ad3a3642617ce7e7/test/e2e/fixtures/e2e_suite.go#L103-L104

From the sack trace:
[code]

[2020-03-15 15:53] simster7 commented on #2446
The test passes reliably in my local machine. Thoughts?

[2020-03-15 19:08] simster7 commented on #2007
For those interested in the problematic template-to-template referencing (@Ark-kun, @seaneagan, @delwaterman), I have opened #2447 to address this. Please feel free to add your comments there.

[2020-03-15 19:14] alexec commented on #2446
😂

[2020-03-15 19:15] alexec commented on #2446
That code is several weeks old and this test has only just started failing the exact commit the PR was merge at.

But, that comment is clear about it, so leave it with me.

[2020-03-15 20:20] #2429 closed

[2020-03-15 20:23] simster7 commented on #2446
Test is currently being skipped

[2020-03-15 21:21] simster7 commented on #2018
@zoux86 Are you using minikube?

[2020-03-16 01:43] #2415 closed

[2020-03-16 04:48] ghostsquad commented on #1098
is there a strategy for not deleting pods? Or keeping a history?

[2020-03-16 06:49] paguos opened #2452 "Custom db schema for persistence tables"
# Summary

In the latest release of argo (v2.6.2 at the time of writting) it is not possible to define a schema when enabling persistence. I would like to have persistence stored in a schema different that `public`.

# Motivation

Many applications or organizations use a database for multiple purposes. Having the ability to choose the schema where to store the information about argo would be usefu

[2020-03-16 12:46] mac9416 opened #2454 "swagger.json treats ParallelSteps as an object instead of an array"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

I inspected the swagger.json, and it differed from the API JSON response.

**What you expected to happen**:

I expected swagger.json to indicate that `ParallelSteps` is `"type": "array"`, since that is how it is serialize

[2020-03-16 14:21] seaneagan commented on #2391
I don't understand, isn't the purpose of `WorkflowTemplate` to be able to define workflow definitions that can be reused (called) from higher level workflow definitions (Workflow or WorkflowTemplate)? And isn't #2447 deprecating that ability? Is there a proposal to add that back in some other way? Our team's usage of Argo is highly dependent on this ability.

I also do not understand why `template

[2020-03-16 14:39] simster7 commented on #2391
Hi @seaneagan. To be clear, the proposal in #2447 does **not** deprecate the ability to define workflow definitions that can be reused from higher level definitions. It just deprecates one specific location you can do so.

In short, the change will deprecate calling other templates on a `template` directly and will encourage users to call other templates in `template.steps` or `template.dag`.

For

[2020-03-16 14:41] seaneagan commented on #2391
Ah, in that case I totally agree. Thanks for the explanation!

[2020-03-16 14:55] simster7 commented on #2454
Hi @mac9416. This issue has also been brought up by @vilmosnagy. Could you take a look at https://github.com/argoproj/argo/pull/2404 and let me know what you think w.r.t. your particular issue? Would the solution suggested below help?

@vilmosnagy, did the solution posted in #2404 help you? If you could post your findings here that would be incredibly helpful

[2020-03-16 15:09] mac9416 commented on #2454
Sure thing, I'll give that a try!

At a glance, do you see any advantages to that swagger JSON over the manual change I've made here? https://github.com/argoproj/argo/compare/master...mac9416:fix-parallelsteps-swagger

Once we have working JSON, how would you recommend implementing it? Quick-and-dirty would be a jq hack in Makefile. I'm not sure what the proper fix would be, but my guess is we'd h

[2020-03-16 15:21] simster7 commented on #2454
The problem here is that we "hack" the illusion that `ParallelSteps` is an array of `WorkflowSteps` with our custom unmarshaler – which, of course, is not being represented by the swagger codegen tools.

That _seems_ correct when looking the "illusion", but not when looking at the Go types.

Since we used a hack to achieve the "illusion" it would seem reasonable that we need a hack to achieve the

[2020-03-16 15:53] vilmosnagy commented on #2454
@simster7 I haven't got the time to take a look at that during the weekend, sorry about that. I'll try to do that on one of the following days.

[2020-03-16 16:00] alexec commented on #2452
Great idea - would you be interested in submitting a PR?

[2020-03-16 16:26] #2446 closed

[2020-03-16 17:53] Sharathmk99 opened #2458 "PodInitialization taking around 1 to 1.5 minutes"
# Summary
I'm using Argo workflow for ML training. We have designed around 10 steps to train ML model.
10 days back, the complete workflow was taking 3minutes. I'm using latest docker version for argo.
After recent docker image, Pod Initialization is taking around 1min and total time has increased to 8 to 9 minutes.

Can you please help me to identify the bug.

[2020-03-16 17:59] simster7 commented on #2458
Can you paste your workflow controller logs?

[2020-03-16 18:00] simster7 commented on #2458
As well as the results of `kubectl describe pod` for the relevant pods?

[2020-03-16 18:58] mac9416 commented on #2454
Looks like `additionalProperties` end up in a map. I'm thinking deserializing straight to a List would probably work better. Going with that for now.

[2020-03-16 19:25] paguos commented on #2452
I could try 👍

[2020-03-16 21:12] Sharathmk99 commented on #2458
Logs
[code]

[2020-03-16 21:16] Sharathmk99 commented on #2458
Pod describe

[code]

[2020-03-16 21:19] Sharathmk99 commented on #2458
Full pod describe

[code]

[2020-03-16 21:42] alexec commented on #2274
it looks to me that we already emit events on workflow completion

[2020-03-16 23:21] alexec opened #2460 "Expose resource duration in the UI"
# Summary

From the UI, you should be able to see how much resources are used by that workflows.

# Motivation

Currently the total is surfaced in the CLI but not the UI.

# Proposal

Out of scope:

* Accurate cost estimation.
* Searching for workflow by usage.

See:

* #1066
* #2098
* #1539

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 rea

[2020-03-16 23:26] #1948 closed

[2020-03-16 23:47] mildewey commented on #1098
The default strategy is to not delete the pods, simply leave off the podGC section. Alternately, you can persist the run data while cleaning up the pods if you enable persistence: https://github.com/argoproj/argo/blob/master/docs/offloading-large-workflows.md

[2020-03-17 12:12] ddseapy commented on #2436
Potentially this could play nicely with https://github.com/argoproj/argo/issues/2258

[2020-03-17 12:51] vilmosnagy opened #2461 "How to use the `spec.artifactRepositoryRef`, example"
# Summary
I'm interested in how to use artifactRepositoryRefs (`spec.artifactRepositoryRef`) in my workflow.

# Motivation

In our workflow, we use a few workflow templates and a huge amount of artifacts. We'd like to test this workflow in a test environment (let's call it `uat`), and use the same workflow files in the `prod` environment - but the Minio we use have different URLs, different bucket

[2020-03-17 13:55] whyvez opened #2462 "Bad URL for project URL"
The URL used for the project website is broken.

<img width="767" alt="Screen Shot 2020-03-17 at 7 55 14 AM" src="https://user-images.githubusercontent.com/1593907/76863132-b13e8f80-6824-11ea-9ccc-5e9f25f884de.png">

<img width="449" alt="Screen Shot 2020-03-17 at 7 54 00 AM" src="https://user-images.githubusercontent.com/1593907/76863027-8b18ef80-6824-11ea-9213-16db3e9bcac5.png">

[2020-03-17 14:57] alexec commented on #2462
Thank you. Fixed!

[2020-03-17 14:57] #2462 closed

[2020-03-17 14:59] #2421 closed

[2020-03-17 15:47] #1866 closed

[2020-03-17 16:04] alexec opened #2463 "Update configm ap to support strategic-merge-patch"
# Summary

Currently the config map has a single field named `config`. This is a PITA to use with Kustomize.

# Motivation

Make it easier to GitOps you config.

# Proposal

Allow you to use normal keys.

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-03-17 17:12] #2391 closed

[2020-03-17 17:23] simster7 commented on #2046
Hello everyone. Please be advised that we will be deprecating calling templates directly on a `template` object and will now only support calling them under `template.steps` or `template.dag`.

Please see this doc for more information: https://github.com/argoproj/argo/blob/master/docs/workflow-templates.md#referencing-other-workflowtemplates

(Also cc people who reacted but didn't comment: @ptemme

[2020-03-17 17:25] simster7 commented on #2007
Hello everyone. Please be advised that we will be deprecating calling templates directly on a `template` object and will now only support calling them under `template.steps` or `template.dag`.

Please see this doc for more information: https://github.com/argoproj/argo/blob/master/docs/workflow-templates.md#referencing-other-workflowtemplates

The docs on `WorkflowTemplates` have also been updated

[2020-03-17 18:07] #2203 closed

[2020-03-17 18:36] alexec opened #2466 "ParallelSteps UnmarshalJSON is incompatible with the Swagger"
There is a big difference between the generated `swagger.json` and what the marshaller supports.

In short the marshaller should correctly marshal/un-marshal the steps.

I fear we may need to make a breaking change to fix this.

FYI: @sarabala1979 @simster7 are you able to add any details?

See:

* #1601
* #2210

[2020-03-17 18:51] alexec commented on #2466
One option is to make the Go code match the API. I.e.

[code]

[2020-03-17 19:02] alexec commented on #2466
@mac9416

[2020-03-17 19:08] #2438 closed

[2020-03-17 19:08] mac9416 commented on #2466
I like that.

Besides fixing references in golang, what changes would be necessary?

[2020-03-17 19:38] #1405 closed

[2020-03-17 19:38] mac9416 commented on #2466
Yikes. I'm not sure Swagger understood that change the way it was intended:

[code]

If I understand that correctly, the nesting is eliminated entirely.

[2020-03-17 20:40] alexec commented on #2466
Looks like we may be able to do this:

https://github.com/kubernetes-client/gen/blob/e056721a80bf2198c505998052b2814168450a96/openapi/java.xml#L53

[2020-03-18 00:00] mac9416 commented on #2466
Hm. The idea being to map what would have been `ParallelSteps` to `List<WorkflowStep>` (a bit like [here](https://github.com/argoproj-labs/argo-client-java/compare/master...mac9416:fix-parallelstep-deserialization#diff-bd81297503cc4c7b2104b11f9d4b47e9R155)?

That could work for Java, but anything else based on the swagger.json will still be wrong.

[2020-03-18 00:05] mac9416 commented on #2454
Sorry this issue ended up in a few different places. Current discussion here: https://github.com/argoproj/argo/issues/2466

[2020-03-18 00:05] alexec commented on #2466
Basically. But it needs to be implemented in `argo-client-gen`.

[2020-03-18 00:06] mac9416 commented on #2466
I'll give it a try.

[2020-03-18 00:22] alexec commented on #2466
Dup of #2454.

[2020-03-18 00:22] #2466 closed

[2020-03-18 03:17] cscetbon opened #2469 "Can't watch correctly a workflow submitted using --from cronwf/xxx"
**What happened**:
Can't submit and watch a cronworkflow as opposed to a regular workflow. I can submit then watch it but not both at once like a regular workflow.

**What you expected to happen**:
I would expect to be able to watch the workflow created from a cronworkflow the same way I can with a regular workflow.
So I would expect something like

[code]

**How to reproduce it (as minimally and

[2020-03-18 03:42] zoux86 commented on #2018
@simster7 No, it's k8s cluster. I edited the Makefile and dist/yaml。 it successed.

[2020-03-18 03:42] #2018 closed

[2020-03-18 09:47] vilmosnagy commented on #2454
@mac9416 the issue #2466 is closed, because it's the duplicate of this :wink:

@simster7 I tried the jsonschema sou suggested, but the `additionalProperties` ends up in named field, see:

[code]

[2020-03-18 09:51] NikeNano commented on #2217
I believe this could be closed @simster7

[2020-03-18 09:56] NikeNano commented on #2392
@simster7 I would be happy to help out with this. Could you assign me?

[2020-03-18 11:08] NikeNano commented on #2392
Is it possible to become a member of Argo and get permissions to assign my self and such?

[2020-03-18 14:55] alexec commented on #2469
@simster7 I'm pretty sure you won't see the updates to the _workflow_ by watching the _cron workflow_?

[2020-03-18 15:32] #2217 closed

[2020-03-18 15:34] simster7 commented on #2469
Will take a look

[2020-03-18 15:50] theomessin opened #2471 "Show environment variables in Argo UI"
# Proposal

Set environment variables should be shown in the containers tab of the UI.

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-03-18 15:57] simster7 commented on #2469
I'm unable to reproduce https://cl.ly/ecdae86ea6ad

Could you share your logs?

[2020-03-18 16:43] cscetbon commented on #2469
Which logs ?

[2020-03-18 16:45] jclanoe commented on #1267
Hey @vincent-pli, did you make any progress on that since you wrote that issue? Thanks!

[2020-03-18 16:47] alexec commented on #2471
Sounds like a great idea - would you like to submit a PR?

[2020-03-18 16:48] #2454 closed

[2020-03-18 19:00] cscetbon commented on #2469
@simster7 You can see the logs I sent to @sarabala1979 https://argoproj.slack.com/files/UGGQJKB6C/FV7T6GGHY/argo-wf-controlle.log. That was with another example but maybe you can see something there.

[2020-03-18 19:30] theomessin commented on #2471
@alexec I tried #2472

[2020-03-18 19:34] sarabala1979 commented on #2458
looks like aks scheduler is taking 25s and argoproj/argoexec:latest pulled from internet because of `latest` tag.  are you deployed v2.6.3 or from master?

[2020-03-18 19:37] Sharathmk99 commented on #2458
@sarabala1979 how can I specify version for argoexec?

[2020-03-18 20:58] ddseapy commented on #2471
I think this feature would be very helpful.  I do have a couple questions wrt to security - mostly just want to make sure they are considered:

Do we expect sensitive data (ie. passwords) to be provided to containers via environment variables?  And if so, are we expecting those accessing the UI to be allowed visibility on those?

[2020-03-18 21:48] theomessin commented on #2471
@ddseapy that's a good point there. Someone from the Argo team should answer what we should expect. A quick and dirty fix to this is to filter any environment variable for which the name contains words such as `KEY`, `TOKEN`, `PASS`, etc. and censor the value in the UI.

[2020-03-18 23:21] #2471 closed

[2020-03-18 23:52] tomdurrant opened #2474 "Slow linting performance"
# Summary

I am attempting to use argo to submit large workflows.  The problem is that argo appears to have significant performance issues with large workflows.

These first present in the submit.  `argo submit <workflow>` cannot process large workflows, sitting at 100% cpu indefinitely
[example.yaml.txt](https://github.com/argoproj/argo/files/4351962/example.yaml.txt)

. `argo lint <workflow> pro

[2020-03-18 23:54] tomdurrant commented on #2474
[example.yaml.txt](https://github.com/argoproj/argo/files/4351968/example.yaml.txt)

[2020-03-19 00:46] #2436 closed

[2020-03-19 03:03] cscetbon commented on #2469
@simster7 I get `The media could not be loaded, either because the server or network failed or because the format is not supported.` when trying to see your picture/video. so you can submit and watch at the same time a workflow created from a cronwf ?

[2020-03-19 07:18] TRManderson opened #2477 "withItems mangles strings with percent signs"
In argo 2.6.3, when providing a string with a percent sign to `withItems`, it's mangled to add extra content that seems like it's in the style of Go format strings (this might be a red herring though).

Minimal reproduction, the single percent string procudes `$!(NOVERB)` while the double percent produces a single percent sign.

[code]

**Environment**:
- Kubernetes version :
[code]

---

**Messag

[2020-03-19 11:16] mattbennett commented on #2188
We experienced this error with v2.6.1.

The docs refer to `retryOn`, which does not appear to be valid. They should refer to `retryPolicy`

[2020-03-19 16:06] alexec commented on #2477
Does this work in earlier versions?

[2020-03-19 16:21] simster7 commented on #2469
Yes I'm able to submit and watch successfully.

I found this line in your logs:
[code]

Perhaps when you're submitting and watching, there is a max parallelism limit preventing the immediate execution of your workflow, which is causing this issue?

[2020-03-19 16:38] cscetbon commented on #2469
Perhaps but parallelism should impact the worklow not watching it

[2020-03-19 17:28] sarabala1979 opened #2480 "UI enhancement for cluster scoped workflowtemplate"
# Summary

What change you think needs making.

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

How do you think this should be implemented?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-03-19 17:36] alexec commented on #2080
Had to revert PR. New PR needs to be submitted.

[2020-03-19 17:49] pisymbol commented on #2080
Can you add arm as well?

[2020-03-19 18:02] alexec commented on #2080
linux-x64 i think

[2020-03-19 18:58] Sharathmk99 commented on #2458
@sarabala1979 i have deployed from v2.5.2

[2020-03-19 19:45] Sharathmk99 commented on #2458
My mistake, i have installed from master, so it was downloading every time. When i installed from specific version, its normal behavior.
Thank you.

[2020-03-19 19:45] #2458 closed

[2020-03-19 20:14] SM616 commented on #1813
Can Workflows UI just be unified in some way with Argo CD UI? It just doesn't make sense to have two different UIs and two different sets of Deployments/Services of Argo Server deployed in the same cluster if both Workflows and CD are used.

[2020-03-20 02:22] TRManderson commented on #2477
It works in 2.4.2 and 2.4.3

[2020-03-20 02:49] MrXinWang commented on #2080
Hi @pisymbol ! Do you mean `GOARCH=arm` i.e. arm 32bit? (Also a little bit off-topic but are you asking this because you need to run kubeflow on arm/arm64? I remember saw you in that community as well and I am doing exactly the same thing...)

Hi @alexec , well received, I have left my investigation in the original PR #2364 , could you please take a look? Thanks!

[2020-03-20 03:49] TrevorNodeJS opened #2486 "CronWorkflow workflowMetadata does not work for kubectl apply -f examples/cron-workflow.yaml"
Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
CornWorkflow workflowMetadata labels have not been transferred into workflow when creating cronworkflow by using kubectl apply .....

**What you expected to happen**:
workflowMetadata labels should be transferred into work

[2020-03-20 11:45] tomdurrant commented on #2474
Thanks @alexec. I have done some more digging, it looks like its actually and spending most of its time in GetTaskAncestry.

[code]

[2020-03-20 14:23] #2420 closed

[2020-03-20 14:25] alexec commented on #2486
@simster7 ?

[2020-03-20 15:18] simster7 commented on #2486
Hi @TrevorNodeJS. seems like your issue is that you're using `WorkflowMetadata` instead of `workflowMetadata` (the first "w" should be lower case). Can you confirm this for me?

It may be that submitting with `argo cron create` is more lenient with case-sensitivity, but not with `kubectl apply`

[2020-03-21 05:30] TrevorNodeJS commented on #2486
Hi @simster7 ,

thanks a lot.

i can get labels on workflow now after replacing WorkflowMetadata with workflowMetadata.

best regards,
Trevor

my testing result is attached for your reference:

[code]

[code]

the cronworkflow
[code]

the workflow

[code]

[2020-03-21 05:30] #2486 closed

[2020-03-21 10:30] tomdurrant commented on #2474
Looks much better!

[code]

[2020-03-21 18:45] ghost opened #2492 "FATA[0000] invalid configuration: no configuration has been provided"
I downloaded three binaries from  https://github.com/argoproj/argo/releases
curl -sLO  https://github.com/argoproj/argo/releases/download/v2.7.0-rc1/argo-linux-amd64
curl -sLO  https://github.com/argoproj/argo/releases/download/v2.6.3/argo-linux-amd64
curl -sLO https://github.com/argoproj/argo/releases/download/v2.4.3/argo-linux-amd64
[code]

[2020-03-22 11:13] samath117 opened #2494 "Default output parameters don't work (anymore?)"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

According to #954, it should be possible to specify default values for output parameters when the `valueFrom.path` does not actually have a file. Here's how @jessesuen described his proposal:

That issue was later closed by PR #1277. However

[2020-03-22 11:33] samath117 opened #2495 "Extend default output parameters to steps/dag templates"
# Summary

If an output parameter in a steps/dag template references one of the constituent steps that doesn't actually run, the `default` field should provide a backup value. This is simply the parameter equivalent of #2429.

# Motivation

Default output parameters in script/container are supposed to (but [might not](https://github.com/argoproj/argo/issues/2494)) cover the situation where a param

[2020-03-22 13:29] samath117 opened #2496 "Conditional artifact/parameter logic"
# Summary

In some steps/dag templates, there is a `when` conditional specifying which of two (or more) steps should run. In this situation, though, there is currently no way to export an artifact or parameter from "the step that ran" in that set, or any other condition.

# Motivation

Suppose you want to handle recursion using an Argo workflow with an output artifact. Here's an example of exactly

[2020-03-22 17:06] kabilan6 commented on #2154
@sarabala1979 @alexec how to setup the argo-server with client mode ?

[2020-03-22 23:25] ctext commented on #2492
[code]
###With error
**./2.7.0/argo-linux-amd64**
FATA[0000] invalid configuration: no configuration has been provided
**./2.6.2/argo-linux-amd64**
FATA[0000] invalid configuration: no configuration has been provided
**./2.6.1/argo-linux-amd64**
FATA[0000] invalid configuration: no configuration has been provided
**./2.6.3/argo-linux-amd64**
FATA[0000] invalid configuration: no configuration has b

[2020-03-22 23:51] kabilan6 opened #2497 "Example for default auth mode change for argo server"
can someone provide an example to change the default auth mode setting for argo server ?

[2020-03-23 00:49] alexec commented on #2497
[code]

[2020-03-23 01:01] alexec commented on #2492
I Googled `invalid configuration: no configuration has been provided` and found many related to other projects, not Argo. I think this might be something with your set-up.

Can you try `kubectl get ns` and see what that returns?

[2020-03-23 04:20] kabilan6 commented on #2497
i tried to run the command from CLI and it throwed below error

 argo server --auth-mode server
INFO[0000]                                               authMode=server baseHRef=/ managedNamespace= namespace=argo-qa
WARN[0000] ConfigMap 'workflow-controller-configmap' does not have key 'config'
INFO[0000] Config Map:
WARN[0000] failed to listen: listen tcp :2746: bind: address already in use
WARN[

[2020-03-23 07:24] kabilan6 commented on #1813
We are very much interested in this feature. We are planning to use Argo for ETL orchestration process and we want the prod support resources to use the centralized argo server for monitoring and submits workflows. so we want to limit the users access and also track the user UI action . we have implemented SSO intgeration for most of our application and we would want to the same for argo server as

[2020-03-23 09:35] ctext commented on #2492
@alexec i'm facing this error with the following version
argo-linux-amd64  v2.7.0-rc1
argo-linux-amd64  v2.6.2
argo-linux-amd64  v2.6.1
argo-linux-amd64  v2.6.3

and i'm currently using v2.6.0  argo-linux-amd64 and its working fine
[code]
i'm using debian 10. If few binaries are usable using --kubeconfig  flag , is it still possible there is some problem in my setup. I downloaded these binaries on

[2020-03-23 09:37] ctext commented on #2492
@alexec
[code]

[2020-03-23 13:37] discordianfish commented on #1281
@jessesuen Getting back to this now. Have you thought about this? I think best option would be adding a (Additional)KnownHosts to https://godoc.org/github.com/argoproj/argo/workflow/artifacts/git

[2020-03-23 15:05] simster7 commented on #2494
I doesn't look like it from the code, seems like the field `parameter.default` has been unused for a while.

Is there a use case where having default output parameters would be significantly more useful versus a solution that takes advantage #1277? If so, we can implement it.

[2020-03-23 15:08] simster7 commented on #2494
I'll close this in favor of #2495, since this is now a feature request. No need to provide motivation anymore, since you've done it there.

[2020-03-23 15:11] samath117 commented on #2494
Well, yes, in the case that you want to use an output parameter, not an output artifact, in this way.

This issue covers the case of container/script templates; #2495 covers the case of steps/dag templates. The trigger condition (file at path does not exist versus parameter does not exist) is slightly different but if you can solve both in one fell swoop, that'd be great.

[2020-03-23 16:42] simster7 commented on #2477
@TRManderson I spent some time trying to look into this, but it seems like the issue is within the libraries that we use to do our YAML unmarsahlling. Best I can do right now is to suggest that you escape your percentage signs with another percentage sign. I.e. `%% = %, %%%%= %%`. You seem to have already been on the right track here.

[2020-03-23 16:44] simster7 commented on #2477
Going to close this, but feel free to chime in if you think this isn't resolved properly

[2020-03-23 16:44] #2477 closed

[2020-03-23 17:09] alexec commented on #2497
you already have a process listening on the port, you will need to kill it

[2020-03-23 17:12] alexec commented on #2492
does it work without the flag?

[2020-03-23 17:23] ctext commented on #2492
I rechecked and all binaries are detecting config file  if k8-config-file is placed at ~/.kube/config

But few are working if you manually specify config file location using --kubeconfig  flag

[2020-03-23 17:40] #2463 closed

[2020-03-23 18:02] NikeNano commented on #2392
FYI, working on it. Took more time than expected

[2020-03-23 18:54] kabilan6 commented on #2497
Thanks @alexec . Two questions
1.  Can we set auth mode as part of argo server deployment ? what is the args that should be added/changed in the deployment yaml?
2. when auth-mode is set to client, i was able to submit the cron/workflow without passing the token in the argo UI. the submit options shouldn't be exposed when the token is not passed. I used the argo-server services endpoint ip:port ad

[2020-03-23 20:28] #2435 closed

[2020-03-23 22:33] #2494 closed

[2020-03-23 22:33] #2495 closed

[2020-03-23 22:54] #2460 closed

[2020-03-24 09:14] hayato1121 opened #2502 "Can't I use Argo Workflow for EKS on Fargate?"
# Summary

I am attempting to run pods on Argo Workflow with AWS Fargate.
And I got the same message below when I used [Fargate Profile](https://docs.aws.amazon.com/eks/latest/userguide/fargate-profile.html), even if I use Volume Mount for ConfigMap or Secret or NOT.

[code]

However I could successfully apply my manifest file and workflow was running, the `STATUS` of the pod was `Pending` and nev

[2020-03-24 12:52] JulianZhang opened #2503 "How to pass artifacts to other workflowtemple"
I want to split my workflows to defferent  workflowtemples.
Such as build, install, test, uninstall.

So I need pass artifacts from a workflowtemple to an other workflowtemple.

But I didn't find a example for this case.
Can someone provide a example ?

Thanks very much.

[2020-03-24 14:43] hayato1121 commented on #2503
@JulianZhang

Hi!
`templateRef`, which is kind of CRD would help you.

https://github.com/argoproj/argo/pull/1312

In addition here is how to write with Argo after v2.5. The difference between before v2.7 and after will occur some errors.

https://github.com/argoproj/argo/blob/master/docs/workflow-templates.md

[2020-03-24 14:51] makeItFuckingSustainable opened #2504 "workflow-controller-configmap misses the `config` key"
**What happened**:

I applied a minimal version of the workflow-controller-configmap from <https://raw.githubusercontent.com/argoproj/argo/master/docs/workflow-controller-configmap.yaml>:

The workflow-controller logs gave:
[code]
No default artifact registry was configured.

**What you expected to happen**:

I expected to see log entries in the workflow-controller of the form

[code]

**How to re

[2020-03-24 14:57] simster7 commented on #2504
Hi @makeItFuckingSustainable, we are upgrading the way we structure our configuration maps and the changes you linked have not been in a release yet.

Could you take a look at [this version of the file](https://github.com/argoproj/argo/blob/f3df9660be9f4d52975720e79bd01a6efe6fa18d/docs/workflow-controller-configmap.yaml)? It should work for you

[2020-03-24 14:59] simster7 commented on #2504
@alexec We need to make sure we have both versions of the config map in our docs, so that users who are not yet on 2.7 don't run into issues.

[2020-03-24 15:09] yananielsen opened #2506 "Is it possible to loop on step name?"
Hi,
I am looking to dynamically set the steps that will be run from an outside parameter. Something like this, is it possible?
[code]

[2020-03-24 15:43] #1907 closed

[2020-03-24 15:43] #2474 closed

[2020-03-24 15:44] simster7 commented on #2474
Thanks for the detective work, @tomdurrant! Hopefully this issue is fixed

[2020-03-24 16:30] makeItFuckingSustainable commented on #2504
Hi @simster7, my proposed solution seems to match that. Thanks for getting back to me so quickly.

[2020-03-24 16:37] simster7 commented on #2504
Thanks for bringing this up

[2020-03-24 16:37] #2504 closed

[2020-03-25 00:24] chittu11 opened #2509 "Getting authentication error while launching Argo server"
Hello all,
We have upgraded our Argo version from 2.4.3 to 2.6.2 and while I am launching argo server getting the below error on WebUI. Also including the role which I created for this.

[code]
Here is my role:

[code]

Error while accessing the WebUI:

[](WARN[0008] finished unary call with code PermissionDenied  error="rpc error: code = PermissionDenied desc = workflows.argoproj.io is forbidden:

[2020-03-25 00:32] #1911 closed

[2020-03-25 10:06] vatine opened #2512 "SecurityContext settings for executor container not fully honoured"
Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

Nothing

**What you expected to happen**:

The configured security context to be applied to the wait pod.

**How to reproduce it (as minimally and precisely as possible)**:

Configure the workflow-controller as:

[code]

[2020-03-25 14:32] mark9white opened #2513 "Client max gRPC size does not match server"
**What happened**:

Executing a client request that is over the default gRPC size limit results in an error.

**What you expected to happen**:

Client gRPC size limit to match server (100mb)

**How to reproduce it (as minimally and precisely as possible)**:

If you have enough data in the server, then a 'argo list' will result in a message like:
[code]

**Anything else we need to know?**:

---

**

[2020-03-25 14:59] alexec commented on #2509
You do not have permission to list at cluster scope. Try running `argo server --namespaced`

[2020-03-25 16:53] #2512 closed

[2020-03-25 17:02] #2057 closed

[2020-03-25 17:10] #2513 closed

[2020-03-25 18:14] alexec commented on #1759
@simster7 can you link to the fix you mentioned today?

[2020-03-25 20:25] alexec commented on #2333
Bug in tests.

[2020-03-25 20:25] alexec commented on #2110
Is this still a problem?

[2020-03-25 21:09] chittu11 commented on #2509
Thank you so much Alex. its working now as expected after adding "--namespacd". What actually it does? will it change the scope of role?

Regards,
Chittu

[2020-03-25 21:16] jessesuen commented on #2356
We actually use expr for Rollouts and looking into moving towards this for Workflows. Thanks for an awesome project!

[2020-03-26 03:22] changhc commented on #2302
I'd like to take this issue.

[2020-03-26 07:48] tcolgate commented on #2110
To be honest, I put the env vars in and haven't checked since. If the test case passes without the configmap settings, then this can be closed.

[2020-03-26 12:54] lucasces opened #2520 "Error: Your proposed upload size ‘6722021858’ exceeds the maximum allowed object size ‘5368709120’ for single PUT operation"
Checklist:

 * [X] I've included the version.
 * [X] I've included reproduction steps.
 * [X] I've included the workflow YAML.
 * [X] I've included the logs.

**What happened**:
 I'm trying to upload a large file to s3 as output artifact and get the erro message `Your proposed upload size ‘6722021858’ exceeds the maximum allowed object size ‘5368709120’ for single PUT operation`.
**What you expect

[2020-03-26 13:51] JulianZhang commented on #2503
@hayato1121
Thanks you reply, I had already use workflowtemplate in main workflow with templateRef.

I point is  don't know how to pass artifacts to other workflowtemplate.

Let me explain with a details:

I had write two workflowtemplate such as :
1,  build-template: build install package, last step have an output artifactory name as package );
2,  install-template(first step need an input artifa

[2020-03-26 14:50] alexec commented on #2110
👍

[2020-03-26 14:50] #2110 closed

[2020-03-26 14:55] alexec commented on #2503
It'd be great to see an example, but have you looked in the examples directory yet? artifact-passing.yaml maybe?

[2020-03-26 15:33] czardien opened #2522 "Argo *namespace-install* raises `failed to save outputs: Failed to establish pod watch: unknown (get pods)`"
Checklist:

 * [ X ] I've included the version.
 * [ X ] I've included reproduction steps.
 * [ X ] I've included the workflow YAML.
 * [ X ] I've included the logs.

**What happened**:

On a fresh namespace install of Argo running: `kubectl apply -n custom_namespace -f https://raw.githubusercontent.com/argoproj/argo/master/manifests/namespace-install.yaml`, submitting an example workflow through

[2020-03-26 15:45] matheusjericoo opened #2524 "CronWorkflow with multiple steps"
# Summary

How I can do cronworkflow with two steps (DAG)?

# Motivation

I need create a workflow to machine learning pipeline (preprocess and training) in two different container.
I did workflow work in "Kind: Workflow" (code bellow), but i need schedule every day this workflow. Than, i think that CronJobs is solution for my problem.

How I tranform Workflow to CronWorkflow?

[code]

I did, but

[2020-03-26 15:48] simster7 commented on #2520
Interesting... S3 doesn't tolerate single uploads of size more than 5GB. However, the minio client we use to do all uploading to S3 should automatically convert uploads larger than 64MB to a multipart upload that is suppoerted by S3, but for some reason it is not doing so.

[2020-03-26 15:51] simster7 commented on #2520
Investigating further...

[2020-03-26 15:54] sarabala1979 commented on #2524
you need to create cronworkflow  using `argo cron create <filename>`
[code]

[2020-03-26 15:57] simster7 commented on #2520
It seems like Minio might not be splitting your file efficiently. The error comes from this line:

https://github.com/minio/minio-go/blob/44ba45c1aa02cff384a840fe35950b50978bf620/api-put-object-multipart.go#L239-L241

I don't have the bandwith to investigate further right now, but in case anyone wants to pick this up.

[2020-03-26 15:59] simster7 commented on #2524
@matheusjericoo The answer above is correct. Could you let us know if it works? Also, what is your `argo version`? I want to fix the panic error

[2020-03-26 16:23] matheusjericoo commented on #1229
Argo version:
[code]

I runned the command, but don't worked:
[code]

[2020-03-26 16:25] matheusjericoo commented on #2524
Argo version:
[code]

I runned the command, but don't worked:
[code]

[2020-03-26 16:56] simster7 commented on #2522
This happens because Argo uses the "default" service account on a namespace authenticate the wait container and the "default" `ServiceAccount` on the `test-ns` namespace does not have permissions to `get pod`. You can verify this with:

[code]

From here you have at least a couple of options, depending on your security needs:

1. If you don't have any security needs (i.e. you trust everyone who wi

[2020-03-26 17:01] simster7 commented on #2524
@matheusjericoo `CronWorkflows` are only available on `v2.5+`. You are running `v2.2.1`, so you'll need to upgrade before you can use them.

[2020-03-26 17:01] #2524 closed

[2020-03-26 17:25] matheusjericoo commented on #2524
It's worked!! Thanks

[2020-03-26 17:51] czardien commented on #2522
Thank you very much for getting back on this :+1: In that case it sounds like a duplicate of another issue I've seen and misunderstood, sorry about that

I'm struggling on one point; the `namespace-install.yaml` defines the `argo-server` `ServiceAccount` and binds it to the `argo-server-role` `Role`, which itself has enough privileges to `get pods` as far as I can tell.

I don't see why the `argo-

[2020-03-26 18:11] simster7 commented on #2522
No worries at all! There are 3 `ServiceAccounts` relevant here:

1. `argo-server`: which defines what the `argo-server` can access
2. `argo`: which defines what the `workflow-controller` (the code that schedules and manages workflows) can access
3. And container-level service accounts: which defines what the specific container that you have scheduled can access

The first two service accounts are

[2020-03-26 20:11] jpambrun opened #2527 "Submit submittable WorkflowTemplate through the rest api"
# Summary

Workflow are re-submitable from the [rest api](https://github.com/argoproj/argo/blob/master/api/openapi-spec/swagger.json#L1043), I think it would be reasonable to be able to submit  submittable WorkflowTemplate with something like PUT /api/v1/workflow-templates/{namespace}/{name}/submit.

# Motivation

I want to be able to submit WorkflowTemplates from a web service running in the clus

[2020-03-26 20:32] alexec commented on #2274
Nodes are run as pods. Any reason that listening to pods would not be good enough?

[code]

[2020-03-26 20:59] simster7 commented on #2522
A little update: the minimum service account that 3. needs to run correctly can be found here: https://github.com/argoproj/argo/blob/master/docs/workflow-rbac.md

[2020-03-26 22:47] sarabala1979 commented on #2527
It is good enhancement. I would enhance the workflow API `CreateFromResource` API will have resourcekind and resource name rather enhancing in `workflow-template` , `cron-workflow` and `clusterworkflowtemplate` APIs
`CreateFromResource` API can  submit the workflow from `workflowtemplate`,`cronworkflow` and `ClustetWorkflowTemplate`

[2020-03-27 02:26] JulianZhang commented on #2503
Dear @alexec
I had look in the examples directory. And I can pass artifact in build-template from step1 to step2.

But when I use same syntax to try to pass  artifact from build-template to install-template, it didn't work.

[2020-03-27 06:34] shanleyHe commented on #2527
I have same problem.I'm looking forward you can resolve this issue

[2020-03-27 06:44] sarabala1979 commented on #2527
I am working on it

[2020-03-27 06:47] shanleyHe commented on #2527
[thumb up]👍👍

[2020-03-27 08:35] samath117 opened #2529 "argo cron lint should run before argo cron create"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

This one is pretty simple, the title says it all. Just like with Argo Workflows and WorkflowTemplates, Argo CronWorkflows should be linted before they are created.

Here's a test example to demonstrate based on the hello world example:
[code

[2020-03-27 08:55] samath117 commented on #2302
Just noticed this. In this situation (and what you describe), can't you just export the result you want as an output parameter to the `nested` script?

[code]

[2020-03-27 09:11] samath117 opened #2530 "{{steps.<STEPNAME>.outputs.result}} should work for container steps"
# Summary

The stdout of script steps can be accessed in later steps through the variable `{{steps.<STEPNAME>.outputs.result}}`. (The same is true for tasks in DAGs.) This should also be true for container scripts.

# Motivation

When testing a script step, we can save its result to logs and feed those logs into a reporting step if that script step fails. Unfortunately, this is not possible for co

[2020-03-27 10:00] czardien commented on #2522
This is a great answer man, very useful :pray: Going over the docs again I now see this covered at: https://github.com/argoproj/argo/blob/master/docs/getting-started.md#3-configure-the-service-account-to-run-workflows.

Provisioning the necessary RBAC I was able to get those workflows to run smoothly :+1: Below is a snippet for anyone interested:

[code]

Later on when submitting the workflow addi

[2020-03-27 10:00] #2522 closed

[2020-03-27 14:28] jpambrun commented on #2391
It may be late to chime in, but those two are not equivalent. I have a dag with tasks based on templates and I use the conditional 'when' with `{{tasks.prev-step.outputs.result}}`. This works with local-ref as still documented [here](https://github.com/argoproj/argo/blob/master/examples/workflow-template/local-ref.yaml), but not with the proposed embedded `steps`.

[2020-03-27 14:32] simster7 commented on #2391
@jpambrun Not sure I fully understood, could you paste a sample Workflow of the case that you think would be affected by this change?

To be clear, you can still use both `templateRef` and `template` under a `dag` template just the same as a `steps` template.

[2020-03-27 14:50] simster7 commented on #2522
Thanks for reaching out @czardien! Feel free to ask if you have any more questions 🎉

[2020-03-27 16:08] #2529 closed

[2020-03-27 17:06] jpambrun commented on #2391
This is what I am doing. I am trying to avoid copy paste as much as possible. Doing it under the dag as you proposed I would have to copy paste the `command` parameters. I also have scripts where the whole code would have to be copy pasted multiple times in multiple dags.

[code]

[2020-03-27 17:20] simster7 commented on #2391
I see. Why can't you have this instead? Everything else on your workflow can stay the same and it should work correctly.

[code]

[2020-03-27 17:25] simster7 commented on #2391
Oh I see, the `when` statement is causing trouble here. Let me take a look

[2020-03-27 17:31] simster7 commented on #2391
@jpambrun Shouldn't you be using `dependencies` instead of `when`?

[code]

[2020-03-27 17:36] jpambrun commented on #2391
I have mistakenly removed the dependency statement when creating this minimum working example, both the `when` and `dependencies` are in my true files.

The `needs-tfrecords` scripts actually prints `true` or `false` to stdout. That is what the `when` statement is using.

[2020-03-27 17:49] simster7 commented on #2391
I see @jpambrun. Then in that case you would need to surface the result through the `step` template into your `dag` template. I just created the following example and it worked with both `echo true` and `echo false:

[code]

I realize this is slightly more cumbersome, but due to design and consistency considerations this is the correct way to do this.

[2020-03-27 18:05] jpambrun commented on #2391
yikes, going through a file feels a bit hacky. The previous method of composing templates was far more versatile and this depreciation makes quite a bit harder to reuse code.

[2020-03-27 18:15] simster7 commented on #2391
I understand the frustration 🙁. Unfortunately, that method of composing templates should have not been supported since it has some major design flaws and could produce larger bugs. (If you are interested you can read more about the thought process here: https://github.com/argoproj/argo/issues/2007#issuecomment-589388470)

However, there is an issue currently open for being able to do this correctl

[2020-03-27 22:38] yujingz commented on #2358
@whynowy @merlintang

we were trying out this feature wondering why it doesn't work and saw this issue. Any current workaround guys or is it something to be implemented?

[2020-03-27 22:51] merlintang commented on #2358
@yujingz can you illustrate your way to test it ? and post any log errors then we can look at it together.

[2020-03-27 23:47] yujingz commented on #2358
@merlintang Sure.

- k8s version: 1.14.8-aliyun.1
- argo version: 2.6.

We were testing this feature on Aliyun ACK following the configurations listed here
https://github.com/argoproj/argo/blob/7c99c109e3dd726f6453c94a594d69bca709ccf6/docs/workflow-controller-configmap.yaml#L40

It works fine for our S3 buckets but once we change all the setup to OSS, it starts to timeout.  Below is a stripped out

[2020-03-28 00:03] merlintang commented on #2358
Yes, Argo 2.6 does not include this feature. if you like to try, you can build from the master branch and test it. @yujingz thanks for your testing. if you need any help, let me know.

[2020-03-28 00:12] foobarbecue opened #2536 "Add option to display virtual nodes in UI"
# Summary

Virtual nodes, such as DAG and step templates, used to display in older versions of Argo UI (RetryNodes and SuspendNotes are still shown when needed). The updated UI is better overall, but the lack of ability to display DAG and step template nodes is unfortunate and I'm hoping that functionality can be restored.

# Motivation

In my case, I want to know what parameters are being passed

[2020-03-28 16:59] #2399 closed

[2020-03-28 17:07] alexec commented on #2274
@AntoineDao @Mohjive thoughts on just using normal pod events?

[2020-03-29 04:56] salanki opened #2540 "Add Kubernetes node name to workflow node detail in Web UI and CLI output"
# Summary

Add information about which Kubernetes node a workflow step is executing on to Web UI and CLI.

# Motivation

For people operating bare metal clusters knowing which instance a Workflow step is executing on is valuable for troubleshooting and monitoring.

# Proposal

How do you think this should be implemented?
**Proposed WebUI Placement**
<img width="557" alt="Screen Shot 2020-03-29 at

[2020-03-29 10:21] AntoineDao commented on #2274
I have considered using events from pods and was dissuaded from doing so mostly because of having to build a custom resolver between pods and the workflow step they correspond to.

It feels like this resolution service between pod events and workflows is something that would fit nicely within the Argo codebase.

[2020-03-29 14:39] jd0x commented on #934
@sebinsua This example rocks, thanks for sharing!

I was able to get this running with ReadWriteMany volumes using nfs-server-provisioner on multiple cloud providers backed with volumes that are usually constrained to ReadWriteOnce. @TekTimmy if you are still blocked on this, I provided a link to the helm chart below.

https://github.com/helm/charts/tree/master/stable/nfs-server-provisioner

[2020-03-29 16:07] ozankabak commented on #2492
I have the same issue.

[2020-03-29 17:01] simster7 commented on #2540
Interested in contributing submitting a PR for this?

[2020-03-29 17:38] danxmoran commented on #2430
(Just thinking out loud): Instead of an annotation, could this be implemented using new `spec` fields? With default values of "{{" and "}}"

[2020-03-30 15:24] NikeNano commented on #2266
I would be happy to work on this. Could you assign me @simster7 ?

[2020-03-30 16:13] alexec commented on #2492
@sarabala1979 this is your area of expertise?

[2020-03-30 17:43] ozankabak commented on #2492
For anyone who may find it helpful: My current workaround is to use the `KUBECONFIG` environment variable instead of the `--kubeconfig` command-line argument. So I invoke the CLI via:
[code]

[2020-03-30 20:01] yujingz commented on #2358
@merlintang thanks for the confirmation. I had the impression that OSS is fully s3 compatible hence tried the s3 options. Will try out the master. Appreciate your new feature PR a lot!

[2020-03-30 20:09] jananzhu opened #2545 "Error when using PodSpecPatch to parameterize ActiveDeadlineSeconds"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
I would like to parameterize activeDeadlineSeconds for my workflows so that a timeout can be set at time of workflow submission, similar to the request in #703 . The PodSpecPatch functionality added in #1687 seems like it

[2020-03-30 20:43] alexec opened #2546 "Resuming nodes"
In #1893 the ability to resume nodes based on a "node field selector" was introduced. This included a test named `TestNodeSuspendResume`.

This test was sporadically failing on master, so in #2543 I increased the timeout from 10s to 20s. This actually made the test reliably fail, the exact opposite of what I expected.

This suggests that the test is probably valid - therefore there might be an und

[2020-03-30 20:43] alexec commented on #2546
@mark9white I've created a bug and would love it if you could take a look.

[2020-03-30 22:53] alexec commented on #2432
These tests are still skipped.

[2020-03-30 23:20] alexec opened #2549 "Epic: Improve the Docs"
# Summary

What change you think needs making.

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

How do you think this should be implemented?

Not sure.

Maybe see https://github.com/argoproj/argo/issues?q=is%3Aopen+is%3Aissue+label%3Adocs

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction

[2020-03-30 23:30] alexec opened #2550 "Workflow semaphores"
# Summary

It should be possible to prevent two workflows from running at the same time based on a key (semaphore name).

# Motivation

TODO

# Proposal

TODO

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-03-30 23:31] alexec opened #2551 "Container sequences"
# Summary

It should be possible to run multiple steps within the same pod ~using ephemeral containers~.

# Motivation

* Avoids the need to pass artifacts around.

# Proposal

TODO

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-03-30 23:35] alexec commented on #934
Document the pattern. #2549

[2020-03-31 04:40] gordiustechnologies commented on #1900
@alexec: We also ran into this problem. It happens not only with artifacts but also with output parameters. Here is a simple scenario to reproduce the issue: Consider two steps, say A and B, where B uses A's output. Assume that A and B have the same conditional execution expression (i.e. `when` expression). If this `when` expression evaluates to false, we get an error. We obviously shouldn't, sinc

[2020-03-31 14:38] NikeNano commented on #2077
I would be happy to work on this one as well @simster7.  After this one I will wait for the other PR:s that I work with to be merge in order to not grab too much :)

[2020-03-31 16:12] huikang commented on #1578
@nicorikken , @simster7 , where can I find the example to retry the whole workflow pipeline if one step fails? I searched, but only find examples about retrying one step. Thanks.

[2020-03-31 16:40] heavytail opened #2554 "allow customization of securityContext for wait container in workflow-controller-configmap"
# Summary

Currently there's no way to specify the securityContext just for the wait container. We could only set securityContext at the pod level. It would be useful if it's possible to set the securityContext in `workflow-controller-configmap`.

# Motivation

I have pod security policy of run as non root user. To use workflow, I have to change the securityContext of wait container because argoex

[2020-03-31 16:47] heavytail commented on #2554
just saw it's fixed in #2510

will wait for the new release

[2020-03-31 16:47] #2554 closed

[2020-03-31 17:20] #2492 closed

[2020-03-31 17:39] simster7 commented on #1578
This issue was closed on error, the feature has not been implemented

[2020-03-31 18:11] #1902 closed

[2020-03-31 18:52] LarsAC commented on #2550
In terms of motivation: how about exclusive resources (e.g. a GPU) ? Is the idea behind the feature that argo would queue and serialize the workflows ?

[2020-03-31 19:19] alexec commented on #2550
That is one use case - more suggestions welcome!

[2020-03-31 19:21] simster7 commented on #1902
@samath117 This should be fixed in the next release

[2020-03-31 19:34] #2406 closed

[2020-03-31 19:34] #2536 closed

[2020-03-31 21:42] arctiqtim commented on #1813
Added a thumbsup to this as well ... a Dex implementation with RBAC similar to ArgoCD (and/or integrated with ArgoCD) would be a perfect add-on.

[2020-03-31 23:24] #2274 closed

[2020-04-01 01:39] jessesuen commented on #2550
# Motivation

A use case which has come up multiple times is where there are many workflows submitted at once, but the number of parallel executions of the workflow or even an individual step in the workflow needs to be limited/mutually exclusive. This issue is  to introduce some type of Mutex or Semaphore functionality in workflows to limit the total number of concurrently running workflows from

[2020-04-01 01:45] jessesuen commented on #2550
A complimentary concept could also be mutexes. Although mutexes are simply a binary semaphore, we would introduce it as a convenience so that deploying separate configmap object is not necessary for defining the value of the semaphore:

[code]

[code]

[2020-04-01 02:21] JulianZhang commented on #2503
I had try again with the artifact-passing.yaml, and I know how to change it to template now.
So so I close this issue, Thanks.

[2020-04-01 02:21] #2503 closed

[2020-04-01 03:27] AntoineDao commented on #2274
Awesome thanks for addressing this!

[2020-04-01 03:59] cscetbon commented on #2469
I'm also wondering how parallelism can be a problem as soon as the workflow starts ? There should be some steps running to reach that parallelism number.

[2020-04-01 04:10] sarabala1979 opened #2556 "Workflows should be able to reference WorkflowTemplates entirely without templates"
# Summary
Workflow-template need to be submitted periodically through Cron-Workflow
# Motivation
In v2.7, `templateRef` has been removed from the `template` and the submittable workflowtemplate feature has been added. It would be a good feature to support the cron workflow to submit the workflow template periodically. This feature will enable the use-case to change the workflow definition without

[2020-04-01 11:44] srados opened #2557 "Hello Wold example stuck at ContainerCreating with microk8s"
**What happened**:

I installed microk8s 1.18.0 on Ubuntu 18.04. Enabled dns, storage, ingress.
Then I went through https://github.com/argoproj/argo/blob/master/docs/getting-started.md.
I executed following
[code]
I installed argo binary, then I did `microk8s.kubectl config view --raw > $HOME/.kube/config`
Then I tried `argo submit --watch https://raw.githubusercontent.com/argoproj/argo/master/exa

[2020-04-01 12:07] sjc960115 commented on #2557
You should checkout your docker sock file path

[2020-04-01 12:50] srados commented on #2557
microk8s uses containerd. I installed version 1.13 which uses docker and then manually applied these
[code]
as mentioned in this issue https://github.com/kubeflow/kubeflow/issues/2347
after which it started to work.

My question is how I get it to work with latest microk8s, if possible.

[2020-04-01 13:10] srados commented on #2557
ok, I found a way to make it work with latest microk8s. Seems that the default executor needs to be changed (https://github.com/argoproj/argo/blob/master/docs/workflow-executors.md). The default seems to be docker which doesn't work with latest microk8s.
I added `containerRuntimeExecutor: k8sapi` to the hello world example (https://raw.githubusercontent.com/argoproj/argo/master/examples/hello-worl

[2020-04-01 13:10] #2557 closed

[2020-04-01 14:22] simster7 commented on #2556
While `template.tempalteRef` was deprecated, `template.steps.templateRef` and `template.dag.task.templateRef` weren't. Calling a `WorkflowTemplate` from a `Workflow` is still very much possible, it just needs to be done inside `steps` or `dag`.

[code]

[2020-04-01 14:35] jananzhu commented on #2545
I did some digging and the error is thrown here:
https://github.com/argoproj/argo/blob/8b92d33eb2f2de3b593459140576ea8eaff8fb4b/workflow/controller/workflowpod.go#L294

The underlying json error is `json: cannot unmarshal string into Go struct field PodSpec.activeDeadlineSeconds of type int64`. Seems like the cause might be due to parameter values being String types and so the numeric value for Ac

[2020-04-01 15:57] alexec commented on #2550
@jessesuen given the relative simplicity of mutexs, could we implement them instead of semaphores? It'll be quicker and less buggy.

[2020-04-01 16:16] sarabala1979 commented on #2550
Mutex is simple and easy. But It won't give the flexibility of configured no of parallelism to the group of workflows.  Semaphore will solve more use-cases (including mutex use- case). I think Semaphore will be the right choice.

[2020-04-01 16:25] sarabala1979 commented on #2556
I think it is a workaround. let's discuss and get feedback from users and team

[2020-04-01 16:47] sarabala1979 commented on #2545
Thanks for your detailed debug information. We will take a look and work that.

[2020-04-01 17:00] sarabala1979 commented on #2545
it is wrongly defined in podspec for number element should put ""s.
Try below config an let me know
[code]

[2020-04-01 17:30] danxmoran commented on #2556
FWIW, as somebody who just converted a bunch of existing `CronWorkflows` from using `template.templateRef` to using `template.steps.templateRef`, I'd 100% re-convert them back to using a dedicated top-level `workflowTemplateRef` field if that became an option. The extra syntactic noise of the `steps` is annoying, and it makes it tempting to add more logic there (vs. a top-level ref, which I feel p

[2020-04-01 17:45] alexec commented on #2550
I get that, I want to be confident that the additional complexity is valuable as I don't see how you could implement semaphores with the same quality as mutexs.

So my question is - what are the additional uses case we cannot support with mutxs?

[2020-04-01 19:00] jananzhu commented on #2545
That resolved the issue, thanks!

[2020-04-01 19:00] #2545 closed

[2020-04-01 19:03] jessesuen commented on #2556
This is exactly my sentiment as well.

[code]

Can we make sure that it is possible for Argo Events to also follow the proposed syntax?

Agree, we need to make sure this is supported as well.

[2020-04-01 19:24] sarabala1979 commented on #2556
Thanks @jessesuen  I will create an Issue in Argo Event and contribute it.

[2020-04-01 19:42] simster7 commented on #2556
I think this would be good if it were implemented at the `Workflow` level (instead of the `CronWorkflow`).

Currently the only way to submit a `WorkflowTemplate` is through the CLI, which converts it directly to a `Workflow`. If a `WorkflowTemplate` is actually a _definition_ of a `Workflow`, it should be possible for it to be instanciated on a `Workflow` object.

Perhaps by
[code]

I fear that im

[2020-04-01 19:58] simster7 opened #2559 "WorkflowTemplates shouldn't have an "Arguments" field"
A `WorkflowTemplate` is a **definition** of a `Workflow` that lives in the cluster; it is only instantiated once it is submitted. In Argo, the term "Arguments" refers to live arguments being passed by an **instantiator** (such as a `dag` or `steps` or even a `Workflow`). It follows that if a `WorkflowTemplate` is a **definition** and not an **instantiator**, then it shouldn't support "Arguments".

[2020-04-01 20:24] danxmoran commented on #2556
Implementing at the `Workflow` level makes sense to me as a user :+1:

Having the ability to pass inputs to the `entrypoint` of the template is critical to my use-case, but I think we might be talking about two separate things. I'll comment on the other issue to clarify.

[2020-04-01 20:27] danxmoran commented on #2559
@simster7 just so I understand, it would still be possible for the template referred to by the `entrypoint` of a `WorkflowTemplate` to require inputs under this change, correct?

[2020-04-01 20:28] simster7 commented on #2556
Correct, two different things 🙂

To be super clear, I meant that `WorkflowTemplates` shouldn't be able to define Arguments in its own definition. Arguments should be passed into a `WorkflowTemplate` from its caller. #2559 is opened to address this.

[2020-04-01 20:30] simster7 commented on #2559
Correct. Whomever calls your `WorkflowTemplate` (and by extension its `entrypoint`) would still be able to pass in any `arguments` that are defined as `inputs` in the `entrypoint` of the template.

[2020-04-01 21:07] Onlinehead opened #2560 "IP variables unavailable in workflow"
Checklist:

 * [X] I've included the version.
 * [X] I've included reproduction steps.
 * [X] I've included the workflow YAML.
 * [X] I've included the logs.

**What happened**:
I tried to run a daemon workflow from examples and variable {{steps.influx.ip}} has not been replaced to an actual influx address.

**What you expected to happen**:
Variable replaced by IP

**How to reproduce it (as minima

[2020-04-01 21:25] heavytail commented on #2285
Saw this bug again in 2.7.0
[code]
[code]
[code]

[2020-04-02 00:39] thundergolfer commented on #2408
👋 Still having this problem. Any help would be much appreciated.

[2020-04-02 03:40] thundergolfer commented on #2408
I realised this command really helps in checking up on the "cannot get resource" aspect of the error message:

`kubectl auth can-i get persistentvolumeclaims --as=system:serviceaccount:argo:argo -n argo` returns `no` which would explain the error I'm seeing.

The current `master` [`install.yaml`](https://github.com/argoproj/argo/blob/master/manifests/install.yaml#L180) doesn't include the `get` pe

[2020-04-02 09:35] encigem opened #2564 "New 'Argo-Server' dashboard should have the option to display workflow creation timestamps"
# Summary

Previously I was using Argo v2.4.2, including the 'argo-ui' dashboard that showed timestamps of workflows, which for my needs was very useful.
See screenshot:
![argo-ui-old](https://user-images.githubusercontent.com/38977030/78232663-7e56f580-74cc-11ea-9fda-419f6d101775.jpg)

However, since upgrading to v2.6.1 and with it the 'argo-ui' into the 'argo-server' dashboard, all workflows in

[2020-04-02 14:31] simster7 commented on #2564
Hey @encigem. You can hover over the "short" date and see the full date. Example:

https://cl.ly/ec2e6433e1da

Does this work for you?

[2020-04-02 15:01] encigem commented on #2564
Ahh, excellent!
Yes, this is workable, in my case. Thanks for the help!

[2020-04-02 15:01] #2564 closed

[2020-04-02 15:06] #2285 closed

[2020-04-02 15:39] simster7 commented on #2560
Opened #2565 to fix this. Thanks @Onlinehead

[2020-04-02 15:56] huikang opened #2567 "Link broken on doc page - Workflow Executors"
On this page (https://argoproj.github.io/docs/argo/workflow-executors.html), the link to  `the configmap` (https://argoproj.github.io/docs/argo/workflow-controller-configmap.yaml) seems broken.

[2020-04-02 16:13] alexec commented on #2567
Would you like to submit a PR to fix?

[2020-04-02 16:16] sebastien-prudhomme opened #2569 "Make log viewer compatible with output in color"
# Summary

Container log viewer is not compatible with containers that use terminal escape code to display text in color.

# Proposal

Argo CD has this feature and is using the LogsViewer component from  argo-ui package.

[2020-04-02 16:16] simster7 commented on #2567
@alexec The link on the page in this repo is correct. It seems like the website hasn't been refreshed.

[2020-04-02 16:17] Onlinehead commented on #2560
@simster7 oh, thanks a lot for the fix. Yes, without retry it works (just checked).

[2020-04-02 17:08] alexec commented on #2567
@alexmt can you help please?

[2020-04-02 17:08] alexec commented on #2569
Would you like to submit a PR?

[2020-04-02 17:12] simster7 opened #2570 "Refactor `GetTemplateScope` and `GetStoredTemplate`"
_Originally posted by @jessesuen in https://github.com/argoproj/argo/pull/2451_

_Originally posted by @sarabala1979 in https://github.com/argoproj/argo/pull/2451_

[2020-04-02 18:03] #1729 closed

[2020-04-02 18:44] alexec opened #2571 "When trying to delete a pod, and we do not find it, this should not be an error"
[code]

[2020-04-02 18:56] alexec commented on #2571
Bug in existing code. Fixing.

[2020-04-02 20:00] #2571 closed

[2020-04-02 20:23] sebastien-prudhomme commented on #2569
@alexec Unfortunately i have zero knowledge in Go and React...

[2020-04-02 21:50] adamglt opened #2574 "Allow setting a compression level for archives"
# Summary

TarStrategy should allow setting an optional compression level.
Behavior should be backwards compatible with current workflows and implementation.

# Motivation

When outputs are large files or directories with terrible compression ratios (e.g. build caches, binaries, random data, already compressed or encrypted files) - the extra gzip pass with default compression is terrible for perfo

[2020-04-03 14:37] huikang opened #2581 "Insufficient description in the doc regarding RBAC configuration"
I am following the get-started tutorial to install the argo workflow 2.7.
The only change I made to the install yaml is to add `containerRuntimeExecutor: kubelet` in the ConfigMap.

Then I run the following command following the instruction:

[code]

However, after I submit a job, the following error appears

[code]

Could anyone help to look at this issue? Thanks.

[2020-04-03 15:07] huikang commented on #2581
My understanding is that I need to assign proper permission to access the resource `nodes` and `nodes/proxy`. Could anyone offer some help about how to setup this for argo? Thanks.

[2020-04-03 15:21] simster7 commented on #2581
Correct, you need to add permissions to access them by binding them to a service account(either `default:default` or another one you create). You can use this as an example on how to do so: https://github.com/argoproj/argo/blob/master/docs/workflow-rbac.md

Should add a new resource `nodes` and add the proper verbs.

Hint: I use this a lot when checking if I was successful in binding new permissio

[2020-04-03 15:37] paguos opened #2583 "Parallel steps using withItems causes lint error"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

It is not possible to run a workflow with two parallel steps when the former uses the `withItems` loop. Because of a false lint error is raised. If the order of the definition of steps is inverted, the problem is gone.

*

[2020-04-03 15:57] alexec commented on #2583
A third reason we should not have used a custom marshaller? @sarabala1979 ? @jessesuen ?

[2020-04-03 16:36] #2560 closed

[2020-04-03 17:34] sudermanjr opened #2585 "PodSpecPatch cannot patch metadata"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
Using podSpecPatch, I attempted to add metadata to  the argo pods of a workflow. The metadata was not patched, but other patches worked fine.

**What you expected to happen**:
I expected to be able to add labels and/or ann

[2020-04-03 17:57] simster7 commented on #2585
@sarabala1979 this seems to be in your area of expertise

[2020-04-03 18:14] talebzeghmi commented on #1054
Related https://github.com/kubeflow/pipelines/issues/1509

[2020-04-03 19:30] sarabala1979 commented on #2585
PodSpecPatch will only support to patch all elements under the `spec` section in `Pod` resource.  you can't patch `pod metadata`.  For your case, you can add your label on workflow label section which will be propagated to all pods in that workflow

[2020-04-03 20:21] sudermanjr commented on #2585
Thanks!

It makes sense now that you say it, but that wasn’t entirely clear.

Is this documented somewhere?

[2020-04-03 20:22] #2585 closed

[2020-04-03 20:52] #2574 closed

[2020-04-04 05:37] ptran32 opened #2588 "Environment variables doesn't display when exec into the pod"
Checklist:

 * [X] I've included the version.
 * [X] I've included reproduction steps.
 * [X] I've included the workflow YAML.
 * [X] I've included the logs.

**What happened**:

Environment variables defined in the yaml file doesn't display when I exec into a pod.
`kubectl exec -it test-jwtqs bash`
`env`

The output doesn't show the 2 variables defined below:
- FOO
- BAR

The pod has been deploye

[2020-04-04 06:14] ptran32 commented on #2588
Resolved. My mistake.

My command was incomplete, I had to specify the main container to be able to see the variable:

` kubectl exec -it <CONTAINER_NAME> -c main bash`

[2020-04-04 06:14] #2588 closed

[2020-04-04 06:48] samath117 opened #2589 "v2.7.0 CLI argo logs for workflows are broken"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

`argo logs` in v2.7.0 for workflows are broken in many ways.

1. Some pods' logs are dropped, seemingly at random.
2. The logs from each pod are arranged in random order, not chronological.
3. Run with the `-f` flag, `arg

[2020-04-04 06:56] samath117 commented on #1902
@simster7 You mean v2.7.1? Because I checked and it's still an issue in v2.7.0.

[2020-04-04 07:07] samath117 commented on #2494
This bug still exists in v2.7.0. I ran exactly the workflow listed above and it failed in exactly the same way.

[2020-04-04 07:44] samath117 opened #2590 "WorkflowTemplates are unable to reference global workflow (output) parameters/artifacts except as default values to inputs"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

Global workflow parameters and WorkflowTemplates are almost entirely incompatible. When running `argo template create`, any global (output) parameters referenced cause the template linter to fail. Here's an example:
[code]
When running `argo

[2020-04-04 15:13] NikeNano commented on #2266
Based upon: https://github.com/argoproj/argo/pull/2552 I think this can be closed.

[2020-04-04 15:54] simster7 commented on #1902
HI @samath117, looks like fb74ba1ce27b96473411c2c5cfe9a86972af589e didn't actually get merged into the release branch when it should have. I have just merged it now.

We'll try to get v2.7.1 with this fix and others out on Monday.

[2020-04-04 16:01] simster7 commented on #2494
Hi @samath117, I haven't had a chance to re-run the Workflow on 2.7.0 yet, but keep in mind that the field was actually added to `parameters.valueFrom.default` (not `parameters.default`), so the example workflow listed above would still not work.

Here's an example of the correct spec:
[code]

[2020-04-04 16:10] simster7 commented on #2589
@alexec Could you take a look at this?

[2020-04-04 16:21] #2266 closed

[2020-04-04 17:59] huikang commented on #2581
Hi, @simster7 , I applied the following role yaml file

[code]

However, I am still getting the same error and seems not having the permission to get nodes/proxy

[code]

Did I miss any step? Thanks.

[2020-04-04 18:06] huikang commented on #2581
Even I did a role binding as followings

[code]

[code]

The submited job still returns an error

[code]

[2020-04-04 19:58] appellod commented on #2188
I am having the same issue with Argo v2.7.0. Should we open a new Issue?

Error:
[code]

YAML:
[code]

Output from `argo version`:
[code]

[2020-04-04 20:17] simster7 commented on #2188
@mattbennett @appellod Sorry about this guys. The correct field name is `retryStrategy.retryPolicy`.

One of the doc files incorrectly listed the field as `retryStrategy.retryOn`, that has been fixed in: https://github.com/argoproj/argo/pull/2591

[2020-04-04 20:50] alexec commented on #2589
Monday. In the meantime you could use ‘kubectl logs’. Thank you for a clear set of issues and the YAML to repro.

[2020-04-04 22:24] appellod commented on #2188
That seems to have fixed it. Thank you for the fast response!

[2020-04-04 22:37] simster7 commented on #2494
Just to catalogue: I decided to introduce the new field (`parameters.valueFrom.default`) as opposed to using the existing (and deprecated `parameters.default`) mainly because I wanted it to be clear that it would only override a failed `valueFrom` retrieval, and not a successfully retrieved and empty parameter `value`. I feared that having `parameters.default` would give the impression that it wou

[2020-04-05 01:09] mark9white opened #2592 "CLI/API doesn't properly support workflow compression or node offload"
Checklist:

 * [X] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

Argo CLI/API doesn't properly support workflow compression or node offload, for example:
- workflow retry in RetryWorkflow in workflow_server.go doesn't support either of these
- workflow resume supports decompression but

[2020-04-05 01:32] foobarbecue opened #2593 "carriage returns are added to scripts with long lines, causing syntax errors"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

I submitted a workflow containing a bash script with a line with length greater than 83 characters. I got syntax errors. I checked YAML in the Argo UI and saw that the script had been rewritten, with carriage returns that

[2020-04-05 01:40] foobarbecue commented on #2593
Oops, that case I submitted actually doesn't cause a syntax error; it works ok. Trying to find a mincase that does now... thought I had one.

[2020-04-05 02:11] foobarbecue commented on #2593
I'm trying to get to a minimal case but not quite there yet. This yaml causes the problem:

[code]

with output:
[code]

and YAML in the UI is:

[code]

[2020-04-05 02:16] foobarbecue commented on #2593
Oops, turned out this had nothing to do with line wrapping. The glob statements were finding multiple files.

[2020-04-05 02:16] #2593 closed

[2020-04-05 17:23] alexec commented on #2592
By default, the CLI does not support node offload status or archiving. You must have `ARGO_SERVER` set to use these. However, it seems you're suggesting that the `retry` and `resume` commands do not support it?

[2020-04-05 17:27] alexec commented on #2592
@sarabala1979 looking at the code, I can see this is probably in `workflow/util/util.go`. Who's best to look at this do you think?

[2020-04-05 17:27] alexec commented on #2589
@samath117 is this a regression from previous behaviour do you think?

[2020-04-05 18:17] alexec commented on #2589
**Some pods' logs are dropped, seemingly at random. **

We either (a) need me information to diagnose this or (b) time-box analysis.

**The logs from each pod are arranged in random order, not chronological.**

Do you mean the log entries themselves? Or just the logs.

**Run with the -f flag, argo logs misses logs from pods that are started after the command is issued.**

This is a bug.

**The -w

[2020-04-05 19:00] alexec commented on #2589
There is a bug where if a pod in the workflow finishes, it stop listening for new pods 🤦‍♂

[2020-04-05 20:31] alexec commented on #1066
@xianlubird @ddseapy I've created a POC PR that also capture pod metrics, conceptually allowing us to see how you resource you requested vs how much you actually used.

[2020-04-06 01:12] samath117 commented on #2494
This example still fails for me on v2.7.0:
[code]

[2020-04-06 02:01] samath117 commented on #2589
Yes. Here is what I see for the logs when I run this in Argo v2.6.3:
[code]
logs-problems-jfcrs-1789405150: one
logs-problems-jfcrs-1210664: two
logs-problems-jfcrs-1959331710: three
logs-problems-jfcrs-1043726436: four
logs-problems-jfcrs-3944066254: five
(But even more colorful!)

Note also that they are annotated based on the lowest-level step name, not the pod name. Personally, I find the step

[2020-04-06 02:34] samath117 commented on #2589
Here is a more complicated example to make sure the timing and interweaving looks right:
[code]

Running this in v2.6.3, here are the workflow logs:
[code]
Notice how the numbers are nicely interwoven exactly as you would expect based on those `sleep` commands. (Total delays are, respectively, 0, 10, 15, 20, 25, 30, 35, 40, 45, 55.)

In Argo v2.7.0, here's what I get (showing a few attempts)
[code

[2020-04-06 07:09] vmanucharyan opened #2596 "continue on fail doesn't work with DAG"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

The following workflow finishes after task B fails:

[code]

**What you expected to happen**:

Workflow continues and runs task `D`.

**How to reproduce it (as minimally and precisely as possible)**:

Run the above workfl

[2020-04-06 09:46] descrepes opened #2599 "CronWorkflow does not work with controller-instanceid"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
The workflow controller panic when starting cron workflow with label `workflows.argoproj.io/controller-instanceid` since `2.7.0`

**What you expected to happen**:
The Workflow should run

**How to reproduce it (as minimall

[2020-04-06 09:57] sylvainblot opened #2600 "failed to save outputs: read /argo/secret: is a directory"
Checklist:

 * [X] I've included the version.
 * [X] I've included reproduction steps.
 * [X] I've included the workflow YAML.
 * [X] I've included the logs.

**What happened**:
Whem I'm trying to use artifact passing the output can't be saved (using https://raw.githubusercontent.com/argoproj/argo/master/examples/artifact-passing.yaml for instance)

My ConfigMap:
[code]

I've verified that my AWS

[2020-04-06 13:41] ericmeadows opened #2601 "WorkflowTemplate needs to include `namespace: default` in the repo"
**What happened**:
Tried to follow WorkflowTemplate examples.  It never applied.

**What you expected to happen**:
WorkflowTemplate examples would apply and create.
- Either use `namespace: default` by default, or give a more coherent message.
- Update documentation to include `namespace: default` for all examples.

**How to reproduce it (as minimally and precisely as possible)**:
  - Take **any**

[2020-04-06 14:06] sarabala1979 commented on #2601
It is UI issue.  If you use CLI or Kubectl, it will work.  We will fix it  UI will validate and show right message to user if namespace misssed

[2020-04-06 14:14] sarabala1979 commented on #2585
@simster7 is working on documentation

[2020-04-06 14:15] sarabala1979 commented on #2585
#2549

[2020-04-06 14:18] sarabala1979 commented on #2600
Can you provide the pods logs for wait container ?

[2020-04-06 14:28] juchaosong opened #2602 "import latest v2.7.0 argo version in go project"
# Summary

How can I import latest argo in go project?

# Motivation

Why do you need to know this, any examples or use cases you could include?
when I want import argo v2.7.0 in my project
[code]
But I got error
[code]
How to fix it?

[2020-04-06 15:32] markterm opened #2603 "onExit step gets stuck if the workflow exceeds activeDeadlineSeconds"
Checklist:

 * [X] I've included the version.
 * [X] I've included reproduction steps.
 * [X] I've included the workflow YAML.
 * [] I've included the logs.

**What happened**:

onExit step gets stuck if the workflow exceed the deadline, and workflow stays in 'Running' state'

**What you expected to happen**:

either onExit step executes or it doesn't.

**How to reproduce it (as minimally and prec

[2020-04-06 15:37] simster7 commented on #2603
Thanks, I'll take a look

[2020-04-06 15:37] #2596 closed

[2020-04-06 15:45] sarabala1979 commented on #2583
let me take a look. it looks like a bug in validator

[2020-04-06 16:02] sylvainblot commented on #2600
Sure
[code]

[2020-04-06 16:15] alexec commented on #2589
@samath117 there is a a linked PR for this, that should fix some of the issues. There is an ordering issue that affects pods that are running when the logging starts that is related to Go routine scheduling. I'll need to investigate further.

[2020-04-06 16:21] alexec commented on #2602
We had a PR to fix this, #1375 ?

Can you do go get github.com/argoproj/argo?

[2020-04-06 16:22] sudermanjr commented on #2585
Sorry to keep beating this, but I cannot figure out how to do what I need. I asked in Slack and got no response.

Basically, I would like to templatize pod annotations on every pod in the workflow.

I have tried to add an annotation to every workflow template, but the templating doesn't seem to work.  [slack question](https://argoproj.slack.com/archives/C8J6SGN12/p1585935477258200).

The podSpecPa

[2020-04-06 16:35] mark9white commented on #2603
@simster7 sorry, should have mentioned that I was already in progress on the fix ...

[2020-04-06 16:36] simster7 commented on #2603
No worries! Happy you submitted a PR 🙂

[2020-04-06 17:04] pisymbol commented on #1272
Hi, sorry for bringing this up again, but changing the runtime executor to "kubelet" in the namespace install manifest does not work for me?

Latest argo, k8s 1.15.9.

[2020-04-06 17:28] alexec opened #2606 "What shall we back"
$ git log --oneline v2.7.0..master
* [ ] 51910292 (origin/master, master) chore: Lint UI on CI, test diagnostics, skip bad test (#2587)
* [ ] 232bb115 fix(error handling): use Errorf instead of New when throwing errors with formatted text (#2598)
* [ ] eeb2f97b fix(controller): dag continue on failed. Fixes #2596 (#2597)
* [ ] 99c35129 docs: Fix inaccurate field name in docs (#2591)
* [ ] 21c73779

[2020-04-06 17:32] alexec commented on #2606
@simster7 @sarabala1979 @whynowy once you'd added - please give me thumbs-up?

[2020-04-06 17:49] simster7 commented on #2606
#2604 Should also be back-ported once it's merged

[2020-04-06 18:15] #2599 closed

[2020-04-06 18:30] sudermanjr commented on #2167
Just to add a little information, I am seeing this issue on Argo v2.7.0 and using DAG instead of steps.

Not sure if that's helpful, but I was about to file an issue myself.

[2020-04-07 01:34] sjc960115 commented on #2602
[code]
But got
[code]
not v2.7.0

[2020-04-07 01:47] sjc960115 commented on #2602
Referring to  https://github.com/golang/go/issues/35732.
Use
[code]
It will get latest argo version.
Referring to https://golang.org/cmd/go/#hdr-Module_compatibility_and_semantic_versioning
It should be
[code]
not https://github.com/argoproj/argo/blob/master/go.mod#L1

[2020-04-07 02:59] alexec commented on #2602
Would you like to submit a PR to fix this ?

[2020-04-07 15:10] alexec commented on #2602
@tcolgate FYI

[2020-04-07 15:24] tcolgate commented on #2602
Yes, my previous PR fixes this, but it's a big change and is very invasive (also has implications for future v3 updates, and people should probably discuss if the related kube CRD resource version should be taken into consideration).
Realistically I'm not going to get to work on this any time soon, but the PR may be enough.

[2020-04-07 16:36] caniszczyk opened #2614 "Add CII Badge (CNCF Requirement)"
Please fill this out and add a badge to the README

https://bestpractices.coreinfrastructure.org/en

[2020-04-07 16:37] caniszczyk opened #2615 "Create SECURITY.md (add security disclosure process)"

[2020-04-07 17:16] alexec commented on #2614
@edlee2121 we'll need you input on the security aspects.
![Screen Shot 2020-04-07 at 10 15 21 AM](https://user-images.githubusercontent.com/1142830/78699451-c7d28680-78b8-11ea-9a06-633d73160be5.png)

[2020-04-07 17:33] alexec opened #2616 "Speed up TestRunOutstandingWorkflows"
This test takes 50s to run. Can we make it faster somehow? This will reduce the whole test suite time, both locally and on CI.

See https://circleci.com/gh/argoproj/argo/13390#artifacts/containers/0

See #2609

[2020-04-07 17:33] alexec commented on #2616
@simster7 do you want to own this?

[2020-04-07 17:38] alexec opened #2617 "Speed up TestCLIWithServerSuite/TestTemplate/Submittable-Template"
This test adds 20s to the test suite execution time.

See :

* https://13385-100982449-gh.circle-artifacts.com/0/junit.xml
* https://13385-100982449-gh.circle-artifacts.com/0/CLIWithServerSuite-TestTemplate.log
* #2609

[2020-04-07 17:38] alexec commented on #2617
@sarabala1979 would you like to own this?

[2020-04-07 17:40] alexec commented on #2616
Thank you.

[2020-04-07 17:42] alexec opened #2618 "Fix TestCreateWorkflowDryRun"
See #2609

[2020-04-07 17:43] alexec opened #2619 "Fix ListWithMinStartedAtGood and ListWithMinStartedAtBad"
See #2609

[2020-04-07 17:43] alexec commented on #2619
@whynowy would you like to own this?

[2020-04-07 17:44] alexec opened #2620 "Fix TestWorkflowSuspendResume"

[2020-04-07 17:45] alexec opened #2621 "Fix TestNodeSuspendResume"

[2020-04-07 17:47] alexec opened #2622 "Fix TestNestedClusterWorkflowTemplate"
See #2690

[2020-04-07 17:47] alexec commented on #2622
@sarabala1979 would you like to own this?

[2020-04-07 17:48] alexec opened #2623 "Fix CronSuite"
I'm not actually sure this is broken. Might just run OK.
#2690

[2020-04-07 17:48] alexec opened #2624 "Fix TestContinueOnFailDag"
See:
* #2609
* #2596

[2020-04-07 17:49] alexec commented on #2624
@vmanucharyan would you like to own this?

[2020-04-07 17:49] lkeijser opened #2625 "MySQL 5.6 is not supported as an workflow archive"
Checklist:

 * [x] I've included the version.

 * [x] I've included reproduction steps.

 * [ ] I've included the workflow YAML.

Not necessary. Any workflow will trigger this.

 * [x] I've included the logs.

**What happened**:

I'm trying to activate workflow archives. I've created a sql container, added a Secret to store credentials and fired it up. Now the workflow-controller pod crashes with

[2020-04-07 17:50] alexec opened #2626 "Correctly emit events for node completion"
See #2609

[2020-04-07 17:57] alexec commented on #2625
This could probably be best fixed by someone with MySQL knowledge.

Steps:

* Edit the `manifests/quick-start/mysql/mysql-deployment.yaml` and change the image version.
* Run `make start pf` to update the test manifests.
* Examine the logs of the workflow controller (e.g. `kubectl logs -l app=workflow-controller`)
* Edit `persist/sqldb/migrate.go` and fix the errors you find.

[2020-04-07 18:01] simster7 commented on #1902
@samath117 This is now released in 2.7.1: https://github.com/argoproj/argo/releases/tag/v2.7.1

[2020-04-07 21:31] harshitagupta6 commented on #1465
Iam also facing a similar issue,could someone tell the cause of it.

[2020-04-08 00:29] whynowy commented on #2625
@lkeijser - Unfortunately the minimal Mysql version we support is `5.7.8`, because column type `json` was not supported until that version.

[2020-04-08 01:54] salanki opened #2634 "Workflows referencing workflow parameters cannot be used as WorkflowTemplates"
Checklist:

 * [X] I've included the version.
 * [X] I've included reproduction steps.
 * [X] I've included the workflow YAML.
 * [X] I've included the logs.

**What happened**:
Submitting a Workflow as a WorkflowTemplate that references workflow parameters fail.

**What you expected to happen**:
Per https://github.com/argoproj/argo/blob/master/docs/workflow-templates.md#workflowtemplate-spec, any

[2020-04-08 01:59] sarabala1979 commented on #2634
#2590

[2020-04-08 01:59] samath117 commented on #1902
Confirmed -- it's fixed! Thanks for all your work.

[2020-04-08 01:59] sarabala1979 commented on #2634
We will fix it

[2020-04-08 02:01] salanki commented on #2634
Argh, sorry for not searing the issues well enough before. I'm closing this one as it is a complete duplicate. Thank you for a quick response.

[2020-04-08 02:01] #2634 closed

[2020-04-08 02:48] #2570 closed

[2020-04-08 04:49] jessesuen commented on #2550
A mutex alone, will not be able to support the workqueue pattern when there are more than one workers.

[2020-04-08 04:59] jessesuen commented on #2550
Design requirements:

1. mutexes and semaphores are be namespaced. Workflows in separate namespaces will lock the mutex or semaphore of the same name independently of other namespaces.
2. When notifying blocked workflows, we should probably consider the option (or even the default behavior) workflow priority when deciding who to notify about availability of the mutex/semaphore. Doing so will enabl

[2020-04-08 06:37] CermakM commented on #1272
@pisymbol use `k8sapi` instead of `kubelet`

[2020-04-08 06:55] NikeNano commented on #2162
Is this resolved? Otherwise I would be happy to fix it @alexec

[2020-04-08 11:03] pisymbol commented on #1272
@CermakM  Tried both. Still no worky. I got it to work by giving my namespace a no restriction psp with respect to volumes but I thought the k8sapi would cause the controller not to use hostPath, right?

[2020-04-08 13:19] qjcg opened #2637 "workflow.creationTimestamp.s doesn't expand to a Unix-formatted timestamp"
**What happened**: Using `"{{workflow.creationTimestamp.s}}"` as the value of an environment variable for a container failed (the variable text was left as-is and was not expanded to a timestamp value).

**What you expected to happen**: `"{{workflow.creationTimestamp.s}}"` to return a unix-formatted timestamp.

**How to reproduce it (as minimally and precisely as possible)**: Use `"{{workflow.crea

[2020-04-08 14:55] #2625 closed

[2020-04-08 14:57] alexec commented on #2550
@jessesuen can we break this into two issue please?

[2020-04-08 14:57] alexec commented on #2162
Please. Anything labelled with "help wanted" and "good first issue" are great to look at.

[2020-04-08 15:17] #2618 closed

[2020-04-08 15:38] onzo-dyk opened #2638 "Workflow controller restarts with 'fatal error: concurrent map read and map write'"
**What happened**:
Workflow controller restarts one, twice every day with `fatal error: concurrent map read and map write`
I have few cron workflows active. AFAIK they are executed without any errors. I cannot correlate restarts time with workflows execution nor deploys

**Environment**:
- Argo version:
[code]
- Kubernetes version :
[code]

**Logs**

[code]

---

**Message from the maintainers**:

[2020-04-08 15:57] salanki commented on #2559
This would then invalidate https://github.com/argoproj/argo/issues/2590. The downside of not not allowing Arguments is that any Worfklow cannot be a WorkflowTemplate. Workflow level arguments are practical to decrease the amount of prop-passing inside the workflow.

Would it make sense to instead allow a `templateRef` reference to be used without pointing to a specific `template` inside the `Workf

[2020-04-08 16:04] simster7 commented on #2638
This seems like a bug internal to the Kubernetes client

[2020-04-08 16:08] simster7 commented on #2559
Hi @salanki. We actually had this discussion last week and came to the exact same conclusion:

Global `Workflow` parameters are the bottleneck in removing the `Workflow.spec.arguments` field. If the fields were separate (something like `Workflow.spec.globalArguments` _and_ `Workflow.spec.arguments`), then we could remove it. But that is not the case, as you pointed out 🙂

Closing this.

[2020-04-08 16:08] #2559 closed

[2020-04-08 16:37] simster7 commented on #2556
For the submittable `WorkflowTemplates` PR, I think we should use the existing `templateRef` field. Something like
[code]

`templateRef` without `templateRef.tempalte` set can indicate a `WorkflowTemplate` as a whole. This could be used to submit full `WorkflowTemplates` for anywhere else in the `Workflow` (such as `steps` or `dag`)

[2020-04-08 16:38] simster7 commented on #2592
I'll take a look at this.

[2020-04-08 16:45] #2530 closed

[2020-04-08 16:47] whynowy commented on #2619
https://github.com/argoproj/argo/pull/2631

[2020-04-08 16:47] #2619 closed

[2020-04-08 17:02] sebastien-prudhomme opened #2642 "Custom metric with label based on inputs parameters not generated"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

Custom metric with label based on inputs parameters not generated

**How to reproduce it (as minimally and precisely as possible)**:

Sample YAML that i use for reproducing the bug (i'm using kubectl to apply, so i used a

[2020-04-08 18:50] simster7 commented on #2642
I'll take a look at this!

[2020-04-08 19:38] sebastien-prudhomme commented on #2642
Thanks, i didn't notice that not all variables where available when configuring custom metrics.

[2020-04-08 19:40] simster7 commented on #2642
You should definitely be able to access all the variables in custom metrics that you would normally be able to access in a template.

The fact that you couldn't access `inputs.parameters.` was a bug. Fixed in #2646 🙂

[2020-04-09 03:12] sjc960115 opened #2650 "Can't list workflow with `workflows.argoproj.io/controller-instanceid` label using argo native client"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
use `argo list -n argo-manager` to retrieve workflow in `argo-manager` namespace
**What you expected to happen**:
[code]
But show nothing
[code]
**How to reproduce it (as minimally and precisely as possible)**:
create work

[2020-04-09 05:28] Eji4h commented on #2167
I have same issue. My gitlab-pipeline workflow failed when skipped clone-repository step. Because build-image step can't resolve artifacts from clone-repository step, but build-image should be skipped and workflow should not failed.

[code]

![image](https://user-images.githubusercontent.com/7007629/78860057-65fe5200-7a5b-11ea-8759-547688b26a6e.png)

[2020-04-09 05:43] #2601 closed

[2020-04-09 09:55] CermakM commented on #1272
@pisymbol yes, k8sapi executor will not use `hostPath`

[2020-04-09 11:38] chengchaoyin opened #2651 "How to use JSON format parameters？"
# Summary

I want to know how to use json format parameters for input parameters

argo version:2.5.3

apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  name: test
  namespace: argo
spec:
  # invoke the whalesay template with
  # "hello world" as the argument
  # to the message parameter
  entrypoint: whalesay
  arguments:
    parameters:
    - name: message
      value: json param
  temp

[2020-04-09 11:55] sebastien-prudhomme commented on #2642
@simster7  The doc https://github.com/argoproj/argo/blob/master/docs/variables.md#metrics should be updated?

[2020-04-09 11:58] pisymbol commented on #1272
@CermakM Is there something I have to do special then outside of changing the namespace-install yaml's ConfigMap as per above and reinstall? That's what I did and I still get the hostPath error? That's why I am confused (this was a complete fresh install too - think k delete -f namespace-install.yaml && k install -f namespace-install.yaml -n argo etc.),

[2020-04-09 15:14] #2603 closed

[2020-04-09 15:18] simster7 commented on #2642
Good catch! Added

[2020-04-09 15:32] sarabala1979 opened #2652 "UI enhancement to add and update workflow Metadata"
# Summary
UI can have UX based form to add and edit metadata fields (namespace, labels and annotation) in workflow submission page. This will help user to edit existing label/annotation and update the namespace. This support mainly helps the user to not mesh up the YAML format

What change you think needs making.

![image](https://user-images.githubusercontent.com/33908564/78912453-78b55e80-7a3c-1

[2020-04-09 16:15] #2583 closed

[2020-04-09 16:52] #2642 closed

[2020-04-09 18:34] hkiang01 opened #2653 "steps and dag exhibit different behavior when using continueOn failed true"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

When setting `continuneOn.failed` to `true` on a given task, whether it's in a step or dag, and if there are subsequent tasks depending on said task, then I expect the Workflow to have a consistent status after-the-fact.

[2020-04-09 20:20] alexec commented on #2162
We now need to fix this.

[2020-04-09 20:43] simster7 commented on #2653
Opened https://github.com/argoproj/argo/pull/2656 to fix this.

Note that `dag-continue-on-fail` actually has two failed tasks, `A` and `E`, but only `A` has `continueOn` set. The bug in this issue is still valid (`dag-continue-on-fail` still fails if `E` is removed), but note that `dag-continue-on-fail` should still not succeed as-is even after this bug is fixed.

Also, we kindly ask that only on

[2020-04-09 22:25] simster7 commented on #2167
Fixed by #2657. Should be on the next release

[2020-04-10 00:56] #2167 closed

[2020-04-10 01:21] sjc960115 commented on #2650
@alexec Is there a way to list wf with `workflows.argoproj.io/controller-instanceid` label using `argo`?

[2020-04-10 02:55] edlee2121 commented on #2325
For something like a build farm, one would want a scalable docker service.
One option is to run docker as a service/deployment, likely on the same cluster, and access it via HTTPS.
https://gist.github.com/kekru/4e6d49b4290a4eebc7b597c07eaf61f2

[2020-04-10 04:19] NikeNano commented on #2162
I will make a PR later today, then to get it up to date :)

[2020-04-10 09:52] sjc960115 commented on #2651
You can marshal json to string and pass it as parameters, then unmarshal parameters to json.

[2020-04-10 10:45] NikeNano commented on #2162
As far as I can see master is up to date when it comes to all the deployment resources. And you also mentioned earlier @alexec that back-porting to version not is necessary for version 2.2, should we back port some other versions? Am I missing something?

[2020-04-10 11:35] sunzhenyucn opened #2658 "Why i can't terminate job with API ?"
I tried terminate workflow job with API like this:

[code]

The Argo version information is:
[code]

The API has no error respond, i tried query jobs with `argo -n <namespace> list`, the job terminated with API is still running, why?

[2020-04-10 15:05] simster7 commented on #2658
This method of stopping workflows (`using spec.Shutdown`) was introduced after v2.7.

For v2.4 you can set `activeDeadlineSeconds` to `0` to terminate a job.

[2020-04-10 15:17] alexec commented on #2162
Thank you @NikeNano

[2020-04-10 15:18] alexec commented on #2162
I don't think we need to back-port - people really ought to be running the most recent stable version. If it is only older versions - then we can close this.

[2020-04-10 16:03] chriskolenko opened #2660 "Issue passing List of Objects from script"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
Issue passing List of Objects from script result into step using "withParam"

**What you expected to happen**:
To reference properties from object in list

**How to reproduce it (as minimally and precisely as possible)**:

[2020-04-10 16:21] #2653 closed

[2020-04-10 17:14] #2362 closed

[2020-04-10 17:28] alexec opened #2663 "Massive scale"
# Summary

Test Argo Workflows at massive scale

# Motivation

Discover issues at scale.

# Proposal

See ticket with "scalability" on "performance" labels.

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-04-10 17:46] #2626 closed

[2020-04-10 18:32] sarabala1979 opened #2664 "Failed to list the ClusterWorkflowTemplate on Namespaced installation"
E0409 04:46:32.888632       1 reflector.go:125] pkg/mod/k8s.io/client-go@v0.0.0-20191225075139-73fd2ddc9180/tools/cache/reflector.go:98: Failed to list *v1alpha1.ClusterWorkflowTemplate: clusterworkflowtemplates.argoproj.io is forbidden: User "system:serviceaccount:ecosecdev:argo" cannot list resource "clusterworkflowtemplates" in API group "argoproj.io" at the cluster scope

[2020-04-10 18:40] alexec commented on #2664
does this stop start-up?

[2020-04-10 18:46] #2592 closed

[2020-04-10 20:52] wreed4 commented on #1759
I have a use-case for this.

I need to share a value from a step in my main template to my exit handler.  I feel like this must be a common pattern but I can't find any good way to do it.  so I've solved it with one level of indirection:
[code]
The reason I cannot have the subtemplate put a global variable is because actually that subtemplate is called twice and I only want one of the calls values

[2020-04-10 20:53] sunzhenyucn commented on #2658
Thanks for your help!!!

[2020-04-10 20:53] #2658 closed

[2020-04-10 21:41] alexec opened #2665 "Automatically create a doc of the schema for `argo_archived_workflows`"
# Summary

What change you think needs making.

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

How do you think this should be implemented?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-04-10 21:46] #2615 closed

[2020-04-10 22:03] alexec commented on #2615
Done.

[2020-04-10 22:10] alexec opened #2667 "Trigger workflows from webhook"
# Summary

Allow automated scripts to trigger workflows from a webhook.

# Motivation

Simplify trigger or workflows.

# Proposal

TBD

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-04-11 17:28] dfarr commented on #2302
This doesn't works as output parameters (unlike script results) must be bound to file with `valueFrom`. Here though the `echo` template is a here-script and the intention is not to write to a file.

[2020-04-12 10:24] linax101 commented on #1341
@jessesuen i’m using Argo 2.7.2 and seeing this same behavior with eks. Any idea what I can monitor from command line or workflow to kill the long running workflows without pods? This is affecting our automation we are trying to setup.

[2020-04-12 16:34] nHurD commented on #2667
I'm curious how this would differ from Argo Events?

[2020-04-12 18:44] #2334 closed

[2020-04-13 15:17] dtaniwaki opened #2671 "PNS Executor Doesn't Work Occasionally"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

I set up v2.7.2 in minikube with the PNS executor, but found [output-parameter.yaml](https://github.com/argoproj/argo/blob/v2.7.2/examples/output-parameter.yaml) doesn't work because the wait container cannot get PID of t

[2020-04-13 15:28] dtaniwaki commented on #2671
I realized my assumption is wrong.

The PNS executor waits on initializing init containers.

https://github.com/argoproj/argo/blob/79217bc89e892ee82bdd5018b2bba65425924d36/workflow/executor/pns/pns.go#L145-L158

However, init containers don't exist in a specific situation.

https://github.com/argoproj/argo/blob/6c685c5baf281116340b7b0708f8a29764d72c47/workflow/controller/workflowpod.go#L193-L196

[2020-04-13 15:33] dtaniwaki commented on #2671
I got it. Init containers have nothing to do with the PNS executor.

`WaitInit` doesn't block at all here while the name of the function sounds waiting.
https://github.com/argoproj/argo/blob/79217bc89e892ee82bdd5018b2bba65425924d36/workflow/executor/pns/pns.go#L149

Is it expected behavior?

[2020-04-13 15:40] sarabala1979 commented on #2671
looks like `WaitIniti`  initializing step for Wait operation in Wait container.   Comments of the function is clear. In PNSExecutor case, It is trying to secure the "FS" for outputs.

// WaitInit is called before Wait() to signal the executor about an impending Wait call.
	// For most executors this is a noop, and is only used by the the PNS executor
	WaitInit() error

[2020-04-13 15:45] dtaniwaki commented on #2671
I think the go function doesn't wait for the main container.

[2020-04-13 16:49] sarabala1979 commented on #2667
This is mainly to support simple use-case like just user wants to trigger the workflow/workflows based on webhook invoke.  Argo Event is a sophisticated application to support many usecases with multiple event sources, condition-based trigger, and complex event trigger logics.

[2020-04-13 16:58] alexec commented on #2589
All items are now fixed with the exception of the `-w` flag which I personally don't think we should fix. I'm open to a good argument to fix it - one beyond it is a breaking change.

[2020-04-13 17:09] salanki commented on #2667
Triggering Workflows via the new REST API is already pretty simple, however it requires a Workflow body even when triggering a WorkflowTemplate.

Is the idea here to support triggering a WorfklowTemplate by simply including parameters in the query? Ie `/api/submit/workflowtemplate/my-template?param1=cow&param2=say`? I can see that being very useful.

[2020-04-13 17:45] sudermanjr commented on #2167
I submitted the same workflow after updating to 2.7.2 and I am still getting the issue.

[code]

This is the workflow:

[code]

[2020-04-13 17:45] astein-te commented on #2550
@alexec @jessesuen we would really appreciate this feature.

Here is our use-case:

We use workflows to make automated updates to GitHub repos in our CI/CD pipeline.  The events that trigger these workflows are pushes to our Docker registry.

There are scenarios where multiple commits need to be made to the same repository at the same time.  Each workflow effectively handles a single commit, and s

[2020-04-13 17:48] simster7 commented on #2167
@sudermanjr Will take a look today

[2020-04-13 18:37] salanki opened #2672 "Steps are incorrectly marked as completed on Kubernetes node hard reboot"
Checklist:

 * [X] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

When a nodes that is currently executing a step, the Pod will come up after node reboot in a terminated state with exit code 0. This will make Argo believe that the step executed successful, even though it was interrupted

[2020-04-13 18:57] alexec commented on #2667
The biggest difference for this would be the use of a token (like GITHUB_TOKEN) to escalate an anonymous user to one that is able to submit workflows as the system user. This makes it much easier and safer to use.

[2020-04-13 18:57] alexec commented on #2550
It should be possible to set the semaphore based on variables.

[2020-04-13 19:12] salanki commented on #2667
Yup, that makes a lot of sense.

[2020-04-13 19:15] alexec opened #2674 "Make it easier to write complete tests for the controller code"
# Summary

Make it easier to write tests.

# Motivation

Currently, if you want to write a sophisticated test for the operator, you must write an e2e test, e.g. `functional_test.go`. These are hard to write, and flakey. Lets shift-left the tests.

We could also capture test coverage if they could be run as standard unit tests.

# Proposal

It should be possible to write these as standard unit test

[2020-04-13 19:30] simster7 opened #2675 "Enhance reporting of metric emssision errors"
Currently, errors encountered during metric emission are only logged via the controller and not displayed to the user in any way. Fix this, perhaps by making use of `Status.Conditions`

[2020-04-13 19:55] salanki commented on #2672
It seems as the `Reason` is sometimes set to `Completed` on rebooted nodes. I haven't been able to find anything in the Kubernetes Pod status to tell me that this pod was stopped by Docker on reboot.

[code]

[2020-04-13 20:01] simster7 commented on #2674
This should not be difficult. We just need to make use of mocks as we do elsewhere in the code base.

[2020-04-13 20:18] simster7 commented on #2167
@sudermanjr I wasn't able to duplicate this on 2.7.2 – the workflow succeeded as expected for me. Could you provide your `workflow-controller` logs?

[2020-04-13 20:25] simster7 commented on #2167
In fact, there is a test case with the same Workflow to ensure that it doesn't fail:

https://github.com/argoproj/argo/blob/master/workflow/controller/dag_test.go#L55-L113/2bc0bd9c85f34d63902fbacec93500feee896bf4/workflow/controller/dag_test.go#L44

[2020-04-13 20:26] sarabala1979 commented on #2667
In V2.7, Argo workflow has a `Submittable workflowtemplate `. User can submit the workflowtemplate as workflow.   Webhook should have a generalized Authentication mechanism to authenticate the call.

[2020-04-13 20:46] sudermanjr commented on #2167
Yeah, that's really strange. I'll do some more digging on my end and see if there's something I missed when I updated.

Here's the logs pertaining to that workflow

[code]

I can't paste the whole log right now because I have other stuff running on that controller.

[2020-04-13 21:03] sudermanjr commented on #2167
I re-deployed my workflow controller and it worked.

Not sure how I got into that state, but I'm good now. Thanks for looking!

[2020-04-13 21:13] alexec commented on #1666
This should be fixed now, try:

[code]

[2020-04-13 21:14] simster7 commented on #2167
Woo! Glad to hear

[2020-04-13 21:16] alexec commented on #1066
This is fixed in v2.7

[2020-04-13 21:16] #1066 closed

[2020-04-13 21:17] alexec commented on #1180
Solved by #2550?

[2020-04-13 21:23] jessesuen commented on #1180
Yes I believe this will be solved by https://github.com/argoproj/argo/issues/2550. Please re-open if you disagree.

[2020-04-13 21:23] #1180 closed

[2020-04-13 21:27] alexec commented on #2367
could you provide your YAML so I can investigate?

[2020-04-13 21:36] alexec commented on #1666
This produces debugging if you're running Argo Server:
[code]

[2020-04-13 21:44] sudermanjr commented on #2167
For anyone reading this in the future, I have multiple controllers in multiple namespaces. It seems I hadn't isolated them as much as I though I had, and a different-versioned controller was updating the workflow.

[2020-04-13 22:21] jessesuen opened #2677 "Workflow mutexes"
# Summary

Spawned from https://github.com/argoproj/argo/issues/2550.

# Motivation

Similar to the semaphore proposal in #2550, a complimentary concept to semaphores could also be mutexes.

# Proposal

Although mutexes are simply a binary semaphore, we would introduce it as a convenience so that deploying separate configmap object is not necessary for defining the value of the semaphore:

[code]

[2020-04-13 22:23] jessesuen commented on #2550
I opened https://github.com/argoproj/argo/issues/2677 which separately for workflow mutexes.

[2020-04-13 22:32] sarabala1979 commented on #2677
I would suggest implementing Semaphore and achieve the above function/usability using following design. if semaphore didn't configmap then it will act as binary Semaphore/mutex.

[2020-04-13 22:59] ptemmer opened #2678 "argo watch does not update/refresh screen"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
`argo watch WORKFLOW_NAME` most of the time does not refresh it's output

**What you expected to happen**:
I expected argo watch to refresh it's output every few seconds as was the case with at least v2.4

**How to reprodu

[2020-04-13 23:12] alexec commented on #1730
@mehtadeepen is this a duplicate of #1759?

[2020-04-13 23:13] alexec commented on #2480
@sarabala1979 please close if done.

[2020-04-13 23:14] alexec commented on #2437
Documentation only fix.

[2020-04-13 23:16] sarabala1979 commented on #2480
#2525

[2020-04-13 23:16] #2480 closed

[2020-04-13 23:32] alexec commented on #1975
Can be done as UI only change.

[2020-04-13 23:37] alexec commented on #1813
OAuth provider: https://github.com/oauth2-proxy/oauth2-proxy

[2020-04-13 23:40] alexec commented on #1254
This sounds like #2550 . Closing and duplicate.

[2020-04-13 23:40] #1254 closed

[2020-04-13 23:41] alexec commented on #1541
This sounds like #2667 .

[2020-04-13 23:41] alexec commented on #1246
I think this is how it is.

[2020-04-14 00:59] tvalasek commented on #2551
Would that work for: Avoids the need to pass output parameters around?

[2020-04-14 01:10] simster7 commented on #2551
Yes! That's the main advantage

[2020-04-14 01:13] sachua opened #2679 "Auto-mount emptyDir volumes for `k8sapi/kubelet` or `runAsNotRoot: true`(?) executors"
# Summary

Will there be support for outputs from base image layer instead of using emptyDir to save params/artifacts when using the kubelet or k8s api executors?

# Motivation

I was running Kubeflow Pipelines with the container runtime executor as kubelet, but I kept hitting errors with the pipelines completing their tasks.

I then tried the https://github.com/argoproj/argo/blob/master/examples/

[2020-04-14 06:57] LegNeato commented on #1541
Not quite.

This is supporting the action definitions as Argo steps / workflows...not just kicking off Argo workflows similarly to GitHub Actions via webhooks.

For example, I should be able to use any of the workflows/actions in https://github.com/actions/starter-workflows as-is without having to push my own docker container, define Argo yaml, etc.

Workflow definition docs:

https://help.github.

[2020-04-14 13:12] larswirzenius opened #2682 "argo/docs/CONTRIBUTING.md has broken link to pull request templage"
<https://github.com/argoproj/argo/blob/master/docs/CONTRIBUTING.md#test-policy> has a link to <https://github.com/argoproj/argo/blob/master/.github/pull_request_template.md.> which is wrong. Removing the final period gives the correct link.

[2020-04-14 13:22] nHurD commented on #2667
Wow, this sounds pretty awesome! Would the result of this return the generated name of the new workflow?

[2020-04-14 15:06] #2675 closed

[2020-04-14 15:47] lueenavarro opened #2683 "How to setup argo cli on windows"
I see that there is a file ( argo-windows-amd64 ) for the windows cli here https://github.com/argoproj/argo/release but I cannot find any instruction on how to set it up on windows.

[2020-04-14 15:57] lueenavarro commented on #2683
Hi for those wondering, here is how to do it:
1. Rename the argo-windows-amd64 to argo.exe
2. Place it in a folder (eg. C:\argo-cli)
3. Open the environment variables setting and add the folder under System Variables > PATH
4. To test, open cmd and type `argo version`

[2020-04-14 16:13] tmbdev commented on #2367
I'm not sure what difference the YAML makes; the problems I listed are general problems with large numbers of jobs executing in parallel. Anyway, here you go. The `generate-seg` stage generates a list with 1000 elements.

[code]

[2020-04-14 17:15] alexec commented on #2367
thank you - this is perfect

[2020-04-14 17:16] alexec commented on #2683
The core team does not use Windows, so it'd be great if you could share what works for you.

[2020-04-14 17:19] alexec commented on #2679
We use PNS ourselves - so this would be a great one for a community contribution.

[2020-04-14 17:21] alexec commented on #2678
This maybe fixed in v2.7.2 CLI- can you please try that version?

[2020-04-14 18:33] emichaf opened #2685 "How to configure Argo for container runtime containerd?"
Argo version : v2.7.1

I'm using K8S clusters with both container runtimes docker and containerd in worker nodes.

In K8S cluster with docker everything works fine, but having problem running the same workflows in K8S with containerd, but it's not working!

tried with configmap config:  containerRuntimeExecutor: k8sapi
but it did not help, any more config required (ex MountPath or similar) ?

[2020-04-14 18:35] alexec commented on #2685
can you add your logs please?

[2020-04-14 19:05] emichaf commented on #2685
workflow-controller-configmap
config:
containerRuntimeExecutor: k8sapi
artifactRepository:
  s3:
    bucket: argo-artifacts
    endpoint: minio.argo-events:9000
    insecure: true
    accessKeySecret:
      name: minio
      key: accesskey
    secretKeySecret:
      name: minio
      key: secretkey

########################
workflow-controller-xxx
-----------------------
time="2020-04-14T18:56:12Z

[2020-04-14 19:16] emichaf commented on #2685
https://github.com/argoproj/argo/issues/1256

K8s API
+ secure. cannot escape privileges of pod's service account
+ no extra configuration
- least scalable - log retrieval and container polling is done against k8s API server
- can only save params/artifacts in volumes (e.g. emptyDir), and not the base image layer (e.g. /tmp)

Trying pns.

+ secure. cannot escape privileges of service account
+ art

[2020-04-14 19:20] emichaf commented on #2685
containerRuntimeExecutor: pns  was working with container runtime containerd without the need of updating the workflows, so now the workflows are working with both docker & containerd!

[2020-04-14 19:21] #2685 closed

[2020-04-14 20:24] #1773 closed

[2020-04-14 20:46] ptemmer commented on #2678
Just tried v2.7.2 CLI against v2.7.1 in cluster.
The first 8 seconds the screen refreshed every 1-2 seconds, after which it stopped refreshing until after 38 seconds. It refreshed a few more times every 1-2 seconds to finally "freeze" and stop refreshing the last time 52 seconds in. The workflow was still running nonetheless.

Tomorrow I'll give it another shot also updating the workflow-controlle

[2020-04-14 21:00] alexec commented on #2678
Looking at the most recent code I notice it only updates when the workflow changed. So you should see a change every time a step changes state (e.g becomes complete) or the workflow changes state (e.g. completes). You should not expect it to just "update every few seconds" without a state change.

[2020-04-14 23:01] lucastheisen opened #2687 "Provide more information about namespaced workflow install."
# Summary

Right now, the [namespaced installation|https://github.com/argoproj/argo/blob/stable/manifests/namespace-install.yaml] instructions don't provide enough information to get workflows running.

Specifically, I think it should be broken into 2 parts:

1. **One time cluster admin installation:** Installs the `CustomResourceDefinitions`'s and `ClusterRole`s (which are currently just `Role`)

[2020-04-14 23:21] alexec commented on #1759
@mehtadeepen I've run your example, and I get the output as you want:
[code]

![Screen Shot 2020-04-14 at 4 20 27 PM](https://user-images.githubusercontent.com/1142830/79283195-ef52c180-7e6b-11ea-85c3-c7326e41d637.png)

[2020-04-14 23:22] alexec commented on #1759
It may well be that this has been fixed since November. Can I please ask you to try again?

[2020-04-14 23:43] aistein commented on #2540
@simster7 I'm interested in giving this a try!

[2020-04-15 01:16] vrodomista opened #2688 "Why can't I run workflow directly from template page"
I didn't think this deserved a bug sticker, so I posted as a question. The issue I am having after having freshly setup argo on my cluster is that I am unable to run templates in the UI. I can go to the template, but when I click submit and then submit on the modal that pops up - nothing happens. The submit button gets greyed out but that's about it. Is this a work-in-progress issue or is this uni

[2020-04-15 05:22] sarabala1979 opened #2690 "Refactor/Fix the Sonar Code smells - Workflow Controller Module"
# Summary

What change you think needs making.

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

How do you think this should be implemented?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-04-15 05:22] sarabala1979 opened #2691 "Refactor/Fix the Sonar Code smells - Argo server Module"
# Summary

What change you think needs making.

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

How do you think this should be implemented?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-04-15 05:24] sarabala1979 opened #2692 "Refactor/Fix the Sonar Code smells - CLI and Common Modules"
# Summary

What change you think needs making.

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

How do you think this should be implemented?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-04-15 06:47] ptemmer commented on #2678
Well, initially that's the impression that I had. However, it definitely does not refresh after a while, although the step changed state.

I just tested with a workflow that finished little over 15min, however the `argo watch` command stopped refreshing after 1m6s when it was performing the 3rd step out of 11.

[2020-04-15 08:12] vrodomista opened #2693 "Submit workflow template console error"
Checklist:

 * [X ] I've included the version.
 * [x] I've included reproduction steps.
 * [X ] I've included the workflow YAML.
 * [X ] I've included the logs.

**What happened**:
When attempting to submit a workflow template directly from the workflow template's ui `submit` button, nothing happens and an error pops in console

**What you expected to happen**:
When I press submit workflow on the

[2020-04-15 08:46] clementlecorre opened #2694 "Duplicate start when using CronWorkflow"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

I use cronWorkflow, with the hello-word example I see a duplicate launch of the task. (per minute)

**What you expected to happen**:

A unique launch of the task. (per minute)

**How to reproduce it (as minimally and prec

[2020-04-15 10:01] MrAmbiG opened #2695 "from server for: "argo-hello-world.yml": resource name may not be empty"
Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
error: error when retrieving current configuration of:
Resource: "argoproj.io/v1alpha1, Resource=workflows", GroupVersionKind: "argoproj.io/v1alpha1, Kind=Workflow"
Name: "", Namespace: "default"
from server for: "argo-hel

[2020-04-15 10:09] MrAmbiG opened #2696 "Resource name cannot be empty"
Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
error: error when retrieving current configuration of:
Resource: "argoproj.io/v1alpha1, Resource=workflows", GroupVersionKind: "argoproj.io/v1alpha1, Kind=Workflow"
Name: "", Namespace: "default"
from server for: "ci-examp

[2020-04-15 12:26] ptitpoulpe commented on #1386
+1

[2020-04-15 14:16] lueenavarro commented on #1803
i'm looking for this feature as well, it would be nice to have this because sometimes the step must not be retried automatically because of some other issues that must be fixed first.

[2020-04-15 14:57] simster7 commented on #1386
#2673 Should provide functionality to fix this

[2020-04-15 15:01] simster7 commented on #2694
Could you provide your controller logs? Should be `kubectl logs deploy/workflow-controller` to get them

[2020-04-15 15:14] clementlecorre commented on #2694
I have two replicas for the controller. Maybe that's the problem?

[code]

[2020-04-15 15:18] simster7 commented on #2694
That's what I was thinking. Yes, that would cause the problem.

As far as I know there are no advantages to running two controllers with the same instance ID – and could introduce buggy behavior like this one. Why are you running them?

[2020-04-15 15:23] simster7 commented on #2693
Hey @vrodomista. Two questions: are you running `2.7.2` or directly off master? The code from the error does not exist in `2.7.2`. However, I fixed this bug in master yesterday via https://github.com/argoproj/argo/pull/2686, so if you're running off master just do a `git pull` and it should be fixed.

[2020-04-15 15:25] alexec commented on #2688
Can you try click on some white space after you enter the YAML to see if the submit becomes enabled please?

[2020-04-15 15:25] clementlecorre commented on #2694
👍 Indeed I tested it and the problem is solved...!

It's to make K8S migrations easier without interruption.

[2020-04-15 15:28] simster7 commented on #2688
Also removing focus from the textarea should trigger validation to run again

[2020-04-15 15:41] mehtadeepen commented on #1759
@alexec Thanks for looking into this. I will verify it.

[2020-04-15 15:41] mehtadeepen commented on #1730
@alexec Yes. Should I close this?

[2020-04-15 15:42] mehtadeepen commented on #1730
Closing issue as it duplicate of #1759

[2020-04-15 15:42] #1730 closed

[2020-04-15 15:43] mehtadeepen commented on #1731
@alexec We are yet to check sdk. We are still use argo cli.

[2020-04-15 16:21] saisankargochhayat commented on #1558
I seem to face the same issue, the value of result was not being assigned properly-
I changed the conditional example a little and finally it worked -
[code]

[2020-04-15 16:25] tvalasek opened #2698 "Patch option in Sensor"
# Summary

Sensor should be able to re-apply (patch) existing K8s resource. If it doesn't exist then it will create else it will patch.

# Motivation

Submitting Argo Workflow that use WorkflowTemplates requires WorkflowTemplates to be in K8s cluster prior Argo Workflow kicks off.

In our case we have a workflow that relies on an existing workflowtemplate existing on the server, we would like to a

[2020-04-15 16:33] tvalasek commented on #2698
wrong project;
moved to https://github.com/argoproj/argo-events/issues/594

[2020-04-15 16:33] #2698 closed

[2020-04-15 16:47] #2682 closed

[2020-04-15 17:02] simster7 commented on #2551
The main advantage of this feature would be to avoid passing artifacts using an external provider between different tasks in a Workflow, when the intermediary artifacts can be discarded after use.

To achieve this, we would make use of [ephemeral containers in K8s](https://kubernetes.io/docs/concepts/workloads/pods/ephemeral-containers/). The idea is that the controller would create and remove eph

[2020-04-15 17:36] ericmeadows commented on #2550
Use case:
We use templates to trigger builds based upon a repo and committer basis.  We would like to limit the number of concurrent builds for a given user on a given repo, based upon that template.  How would that work here?

For context, we include the Git committer as a workflow-level variable, along with the Git repo.

[2020-04-15 17:36] vrodomista commented on #2693
Hey @simster7 , I was installing on k8s via https://raw.githubusercontent.com/argoproj/argo/stable/manifests/install.yaml. Behind a corporate vpn so the Images are on a private repository but that's the only change in the yaml. Besides that it's a standard install. Should I just update the image to a more recent sha?

[2020-04-15 17:38] vrodomista commented on #2688
@alexec Tried that, no luck, @simster7 I have tried about everything

[2020-04-15 17:39] vrodomista commented on #2688
even closing the modal and reopening it will still have a greyed out submit

[2020-04-15 17:44] simster7 commented on #2693
Hi @vrodomista seems that the `stable` tag was pointing to a random commit -- I just moved it to point to `v2.7.2`. Can you try again?

[2020-04-15 17:51] simster7 commented on #2693
You can always install a specific version directly too:

[code]

[2020-04-15 18:01] simster7 commented on #2688
Perhaps this is the same solution to your problem here: https://github.com/argoproj/argo/issues/2693#issuecomment-614182828?

[2020-04-15 18:24] alexec opened #2706 "Backfill cron workflows"
# Summary

Airflow backfilling
Airflow subdags for large workflows
+1 on collapsing/expanding steps/dags in the UI, it's my main complaint with it

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

How do you think this should be implemented?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reactio

[2020-04-15 21:47] ddseapy commented on #2551
Seems like a great idea and very useful.  Just a couple thoughts:
* Ephemeral containers are in alpha and have a lot of downsides (https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#feature-stages)
* Docs suggest use-case is generally things like debugging running containers.  I wonder if there will be an gotchas with using a lot of them for heavier tasks like data pr

[2020-04-15 23:32] vrodomista commented on #2688
duplicate of #2693

[2020-04-15 23:32] #2688 closed

[2020-04-15 23:33] vrodomista commented on #2693
`kubectl apply -n argo -f https://raw.githubusercontent.com/argoproj/argo/v2.7.2/manifests/install.yaml` fixed my issue (after updating images on my private docker repo). Seems like it was just a bug of the random version I was on. 2.7.2 is working. Thanks @simster7

[2020-04-15 23:33] #2693 closed

[2020-04-15 23:51] alexec opened #2708 "Fix sonar analysis on master"
Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Argo version:
[code]
- Kubernetes version :
[code]

**Other debu

[2020-04-16 00:18] asghaier76 commented on #1216
I am facing the same issue when deploying to IBM cloud. Is there a way to solve this?

[2020-04-16 03:12] alexec commented on #2678
Can you please provide an example of the workflow so I can try and repo?

[2020-04-16 11:25] mark9white opened #2710 "Child nodes of exit handlers don't execute on argo stop"
Checklist:

 * [X] I've included the version.
 * [X] I've included reproduction steps.
 * [X] I've included the workflow YAML.
 * [X] I've included the logs.

**What happened**:

Children of onExit nodes are not marked as onExit, therefore they don't execute on 'argo stop'

**What you expected to happen**:

Children of onExit nodes to execute on 'argo stop'

**How to reproduce it (as minimally and

[2020-04-16 12:18] vmanucharyan opened #2711 "Pod gets stuck forever in pending state if it was deleted before initialisation"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

In some cases kubernetes deletes pods before or right after it was initialized and argo misses that event - resulting in node stuck forever in "Pending" state. In our case it happens often under the load. According to our

[2020-04-16 12:20] mark9white commented on #2710
In addition use of `strings.HasPrefix(node.Name, onExitNodeName)` in util/util.go implies a single onExit node.

[2020-04-16 12:27] mac9416 commented on #2550
# Multiple semaphores per workflow?

Would it be possible to specify multiple semaphores per workflow? We would like to limit 1) the number of concurrent workflows from a given workflow template and 2) the number of concurrent workflows from a given group of users or individual user.

Example:
[code]

## Can we know that a semaphore is blocking execution?

Will we be able to tell, using the Argo A

[2020-04-16 14:40] vmanucharyan commented on #2711
Looks like my issue can be fixed by enabling `resubmitPendingPods`, but this still looks like a bug. Can you take a look at my PR that i closed and tell if it's the right approach? Maybe we should check if this option is disabled and move pod to Error state. What do you think?

[2020-04-16 15:23] alexec commented on #2678
I have a potential fix, but I'm not greatly confident in it.

I forgot to ask can you run `argo --loglevel DEBUG watch ...` and see what that says?

[2020-04-16 15:40] alexec commented on #2696
This works for me:
[code]

Are you please able to provide more details? Which version are you using for example?

[2020-04-16 15:42] patgmiller opened #2715 "Workflow Deployments Use Image Tag :latest"
Checklist:

 * [x] I've included the version. v2.6.3
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**: I deployed version v2.6.3 to our company's development k8s cluster and a few weeks later the workflows stopped working with error `Failed to list *v1alpha1.ClusterWorkflowTemplate: clusterworkflowtemplates.argoproj.

[2020-04-16 15:58] alexec commented on #2715
This should not happen obviously. Can I ask questions please?

The executor image can be configure either in the config map or the deployment. Can you please attach:

[code]

You should not see latest there.

Can you also attach the URL to the YAMLs you deployed? It should be https://raw.githubusercontent.com/argoproj/argo/v2.6.3/manifests/install.yaml but I cannot see latest there.

[2020-04-16 16:03] simster7 commented on #2715
Just adding some potentially useful information in debugging this.

Another user had installed Argo from the `stable` tag, which had been pointing to a random commit between releases (hence `:latest` being on the manifests): https://github.com/argoproj/argo/issues/2693#issuecomment-614182828

Perhaps something similar happened here?

[2020-04-16 17:14] alexec opened #2717 "Automatic workflow duration prediction"
# Summary

Users would like to be able to understand the how long similar workflows took to see if they start to take longer.

# Motivation

When I'm using workflow templates, is this template taking longer to run?

# Proposal

![Image from iOS](https://user-images.githubusercontent.com/1142830/93688214-f31cec80-fa78-11ea-95bb-ce8e220b4efc.jpg)

Add summary data of recent runs of the template stat

[2020-04-16 17:15] alexec opened #2718 "Workflows depending on other workflows"
# Summary

Make it possible/easy for one workflow to depend on the completion of another.

# Motivation

Tidal parity.

# Proposal

Not sure. Can we do this with artifacts today?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-04-16 17:23] alexec commented on #2667
@whynowy has an example of how to do this, but the big challenge is that the payload of different systems varies. E.g. https://developer.github.com/webhooks/

Argo Events would be able to do this:

https://argoproj.github.io/argo-events/tutorials/03-trigger-sources/#git

[2020-04-16 17:29] whynowy commented on #2667
@alexec - The link your gave is an example about how to trigger a git action not a github notification, check following links for a right example.

https://github.com/argoproj/argo-events/blob/master/examples/event-sources/github.yaml
https://github.com/argoproj/argo-events/blob/master/examples/gateways/github.yaml
https://github.com/argoproj/argo-events/blob/master/examples/sensors/github.yaml

[2020-04-16 17:34] patgmiller commented on #2715
Here are those requested k8s objects.

[code]

[code]

And some additional info, I am using `kustomize` to deploy this. Here is my `kustomization.yaml` file.

[code]

After I ran into this issue I applied the following diff, originally every image for argo workflows was using `:latest` which can be seen at the specific tagged version of `v2.6.3`

[argo-wf-set-image-tags-v2.6.3.txt](https://github.

[2020-04-16 17:36] whynowy commented on #1541
This sounds like a narrow use case of "Github notification -> CI workflows"?

[2020-04-16 17:38] alexec commented on #2667
@whynowy do you want to add your Google do to /docs?

[2020-04-16 18:17] alexec commented on #2715
I think this is what's happening. Rather that using the manifests listed [here](https://github.com/argoproj/argo/tree/master/manifests) you're directly referencing the source code because you are using Kustomize.

Since v2.5 these `manifests/cluster-install` and `manifests/install` contain `latest`, not the release tag.

It's open to discussion as to whether we support this.

# Pro

* Kustomize is

[2020-04-16 18:17] alexec commented on #2715
@alexmt @jessesuen can I get your thought on whether or not we support Kustomize as an installation option.

[2020-04-16 20:48] sudermanjr opened #2725 "v2.7.4 has dirty git tree state in version output"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

[code]

**What you expected to happen**:

I would expect to see something more like the output from 2.7.2

[code]

**How to reproduce it (as minimally and precisely as possible)**:
`argo version`

---

**Message from the

[2020-04-16 20:53] pbecotte opened #2726 "UI Crash on Containers or Yaml button"
Checklist:

v2.7.4

**What happened**:

New install of argo a couple days ago. Added a cronworkflow. It runs them, but in the UI clicking on "containers" for any particular run crashes the React app.

Tried updating to the lastest version just now (2.7.4), no change. Happens with every workflow, and on both the "containers" link and the "yaml" link.

Deployed running kustomize directly against the

[2020-04-16 21:04] alexec commented on #2725
I've noticed that both dirty and clean builds seem to have this problem.

[2020-04-16 21:06] ericmeadows opened #2727 "WorkflowTemplate reports invalid spec: template '' undefined"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
Attempted to simplify single-file Workflow by using WorkflowTemplates, and although the tasks completes successfully, it reports as failed every time, with the following value occupying `Message`:
[code]

**What you expect

[2020-04-16 21:12] pbecotte commented on #2726
I did. Just the TypeError listed above followed by many lines of minified JavaScript.

[2020-04-16 21:18] alexec commented on #2726
Can you please provide your YAML so we can repro?

[2020-04-16 21:24] pbecotte commented on #2726
`
resources:
  - http://<ourmirror>/argo/manifests/cluster-install?ref=v2.7.4
  - ./ingress.yaml

images:
  - name: argoproj/argocli
    newName: <ourmirror>/argoproj/argocli
    newTag: v2.7.4
  - name: argoproj/workflow-controller
    newName: <ourmirror>/argoproj/workflow-controller
    newTag: v2.7.4

patchesJson6902:
  - target:
      name: workflow-controller
      kind: Deployment
      gro

[2020-04-16 21:30] ptemmer commented on #2715
We are also using Kustomize to deploy Argo. What we do is overwrite the image in our overlay:
[code]
However, I must admit that when pulling in a resource from a specific github tag, one would expect the containers included in the deployments to also match that tag version.

[code]

[2020-04-16 21:34] alexec commented on #2715
We will fix this and back-port to v2.7.5

[2020-04-16 21:37] ptemmer commented on #2678
I was able to reproduce with the following workflow:

[code]
Below screenshot shows at the top the output of `argo watch` that "froze" after over a minute, while the bottom part shows the output of `argo get` after a few minutes.

<img width="606" alt="Screenshot 2020-04-16 at 23 34 18" src="https://user-images.githubusercontent.com/29543232/79508943-d815fe80-803a-11ea-9a95-23777983d30b.png">

[2020-04-16 21:42] alexec commented on #2678
Are you using argo server? Any kind of ingress?

Can I ask you to run with the `--loglevel DEBUG` command? Or did you already?

[2020-04-16 21:50] ptemmer commented on #2678
Yes, we are running argo-server in client auth mode.
We also have a few ingresses, however none that serve Argo (Argo-server is accessed through port-forward).

Please find the last lines of the debug output here

[code]

[2020-04-16 22:53] #2678 closed

[2020-04-16 22:54] alexec commented on #2725
Should be fixed in v2.7.5.

[2020-04-16 22:54] #2725 closed

[2020-04-16 22:55] #2708 closed

[2020-04-16 22:56] alexec commented on #2717
@dtaniwaki @sarabala1979 would it be possible do you think?

[2020-04-16 22:56] alexec commented on #2717
could we solve by just adding duration to list view?

[2020-04-16 23:02] patgmiller commented on #2715
Thanks I am new to managing k8s objects with `kustomize`, thanks for helping me understand the issue. And thank you for adjusting the workflow to support it.

[2020-04-16 23:36] #2622 closed

[2020-04-17 02:14] edlee2121 opened #2728 "Report resource usage (e.g. CPU, memory) per step and workflow"
# Summary

Useful to provide a summary of the aggregate CPU and memory used by each step in the workflow, including the workflow overall.

# Motivation

This feature would be useful for estimating the cost of running a workflow and to optimize resource intensive steps in the workflow.

# Proposal

As each container/step finishes, record the resource usage in a DB.
When the workflow is archived, tr

[2020-04-17 02:54] sarabala1979 opened #2729 "Stream Processing Workflow"
# Summary
Streaming Workflow is consuming every record from the stream and flow through the DAG/STEP workflow defined in YAML.
Each step or task is a long-running container so it will process the data immediately. Step/task can be horizontally scale based on stream partitions.
The controller will manage the entire stream flow orchestration between steps/tasks.

What change you think needs making.

[2020-04-17 02:55] sarabala1979 commented on #2729
Very High-level  Architecture thought:
![image](https://user-images.githubusercontent.com/33908564/79527359-3bdcff00-801c-11ea-99d2-f4f323af11cc.png)

[2020-04-17 03:06] sarabala1979 commented on #2718
Can we achieve this through  `WorkflowtTemplate`? Master workflow can have a step template and each step can refer to different WorkflwoTemplates(technically workflow definition).   This way user can have more flexibility of `When` condition, skip the step using`continueOn`

[2020-04-17 04:12] MrAmbiG commented on #2696
okay, i was trying kubectl apply -f ci.yaml, should we only try your examples with argo cli ?

[2020-04-17 06:31] mukulikak commented on #2718
Workflows need to depend on completion of all or any of the workflows it is dependent on. so need to support DAG of workflows

[2020-04-17 08:29] dtaniwaki commented on #2729
It's an interesting idea. Could you share the real-world use case so we can get your idea more clearly? And I also want to know, why the current Argo workflow doesn't cover such use case.

[2020-04-17 11:03] brunomptorres commented on #2726
I'm adding a GIF with the behavior on our project
![2020-04-17 12 02 19](https://user-images.githubusercontent.com/7015243/79562741-6c1bb080-80a3-11ea-95c6-efcf0a3e987c.gif)

[2020-04-17 14:42] simster7 commented on #2726
I think there are a couple of things happening here.

This behavior is part of a commit (https://github.com/argoproj/argo/pull/2573) that has not been released yet, so it's not ready for use.

You're most likely getting changes that haven't been released because you're using Kustomize to deploy. See https://github.com/argoproj/argo/issues/2715. We're currently working on making changes so that dep

[2020-04-17 14:52] brunomptorres commented on #2726
Different teams. But I'll try to see if updating to the new UI fixes it on my end

[2020-04-17 15:12] mac9416 opened #2731 "Make it easier to discover labels available for filtering"
# Summary

It would be nice if there were a dropdown or auto-complete for the label filter input.

# Motivation

Unless you happen to know the exact text of the label you're trying to filter by, it's difficult to apply filters. It's also not immediately obvious in the UI that the label should be expressed as `key=value`.

# Proposal

I think the label text box input should be replaced with a dropd

[2020-04-17 15:27] talhairfanbentley opened #2733 "Default Archive Location Error"
I followed the default getting started document on argo website :
https://argoproj.github.io/docs/argo/getting-started.html

Followed until step 7 ( after minio setup )
**Error:**
[code]

I'm using Azure Kuberenetes Service (AKS)

**Argo Version:**
[code]
Let me know if more info is needed to look into this issue.

[2020-04-17 15:50] twiechert opened #2734 "Fetching the executor image with an imagePullSecret"
We are currently setting up Argo using the k8sapi executor but Workfows don't get picked up by the controller.

Our current suspicion is that the spawning process is dying silently while trying to fetch the executor image.  Could that be a potential issue or are secrets propagated through the Workflow resource when fetching the executor?

Other than that, we are unsure which exact role the executo

[2020-04-17 16:12] alexec opened #2735 "Fix TestCLISuite/TestWorkflowDelete/DeleteOlder on MySQL"
This test is flaky, but on MySQL only for some reason.

https://app.circleci.com/pipelines/github/argoproj/argo/3017/workflows/5873fa62-ac54-49e9-8c04-ae079c6d677a/jobs/16909/tests

https://16909-100982449-gh.circle-artifacts.com/0/CLISuite-TestWorkflowDelete.log

[2020-04-17 16:18] simster7 opened #2736 "Investiagte UI crash in #2726"
Investigate if the potential UI error in #2726 is present even if the correct versions are used.

[2020-04-17 16:26] alexec commented on #2728
This was implemented in #2219 and released in v2.7.

[2020-04-17 16:26] #2728 closed

[2020-04-17 16:27] alexec commented on #2696
correct

[2020-04-17 16:27] alexec commented on #2696
You can submit using kubectl, but you must add `apiVersion` and `kind` fields.

[2020-04-17 16:28] sarabala1979 opened #2738 "CLI: Improve Unit testing"
# Summary

What change you think needs making.

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

How do you think this should be implemented?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-04-17 16:31] alexec commented on #2726
This attached GIF shows the v2.4 UI which is defunct and not compatible with v2.7.4. Please make sure you're using the latest UI. We should display UI version as an aside.

[2020-04-17 16:55] sarabala1979 commented on #2726
Are you using a v2.7.2 persistence feature with `NodeStatusOffload` enabled?

[2020-04-17 17:11] alexec commented on #2731
Would you like to submit a PR for this please?

[2020-04-17 17:12] alexec commented on #2733
Could you please check the controller logs for errors?

[2020-04-17 17:14] amrragab8080 opened #2739 "Loop waits until all members are scheduled before starting loop"
Submitting a large scale 5000 member loop workload. It seems that argo waits before the entire loop is expanded before processing the loop. simple example with stress:
[code]
Expected container runtime is 40s but is in processing for well over 1 hour until all 5000 members are submitted and then processed and completed.
[code]
Is this expected behavior? Should the loop members start processing **d

[2020-04-17 17:16] alexec commented on #2739
Labeling with scalability.

[2020-04-17 17:21] amrragab8080 commented on #2739
Here is a simple reproducible example
[code]

[2020-04-17 17:32] salanki commented on #2711
I just had a Pod that was deleted due to node failure. Usually, Argo fails the step with `pod termination` and retries. In this case, it got stuck in:
[code]

The pod `md-npt-secyyhyvomdxdcy-1113725271` does not actually exist anymore. Do you think it can be related to the same issue, or is this a different race condition of sorts?

[2020-04-17 17:33] mac9416 commented on #2731
@alexec I'll take a swing at it.

Just realized this seems to be implemented as an autocomplete list on the workflows view, but nothing on the archive page.

I'm cool with the autocomplete implementation if you are. I'll probably just try to copy the implementation over to the archive page.

[2020-04-17 17:42] whynowy commented on #2731
Label auto-complete feature is already existing in the archived workflows UI, but it's missing the returned archived wf data.

[2020-04-17 17:45] mac9416 commented on #2731
Ah, interesting, so this is more of a bug. Any idea why the data is missing?

[2020-04-17 17:49] alexec commented on #2731
Ah. That makes sense. The workflow page returns the full workflow resource, but the archive does not intentionally - to reduce the cost of that page. This is not a UI only changed - you'd need to join on `argo_archived_workflows_labels' (or whatever it is called), a backend change.

[2020-04-17 17:52] mac9416 commented on #2731
Ah yep. I'm happy to give that a try.

[2020-04-17 18:30] #2527 closed

[2020-04-17 18:31] brunomptorres commented on #2726
Like I said on my update on https://github.com/argoproj/argo/issues/2726#issuecomment-615289112 with the new UI some of the issues go away but others remain, new GIF to illustrate:
![2020-04-17 19 28 25](https://user-images.githubusercontent.com/7015243/79602179-ecf99d00-80e1-11ea-8f26-f9690518f45b.gif)

But appears that this new issue is going to be tracked on #2736

[2020-04-17 19:57] raanand-home commented on #2694
hi everyone just encounter this error randomly on my setup.
The problem start with the name of the created workflow it's should include the time of the the created workflow like what cronjob does in kuberenetes. and then create could not create duplicate job.

rolling update could introduce this problem even without the two controller please reopen the bug

[2020-04-17 20:33] alexec commented on #2694
@simster7 sounds like a good suggestion?

[2020-04-17 20:48] alexec commented on #1813
@logicfox you mention use oauth-proxy. How do you secure your UI? Do you have CLI users.

[2020-04-17 21:14] #2735 closed

[2020-04-17 21:21] pbecotte commented on #2726
Which behavior? the containers or yaml buttons? (the second gif from brunomptorres illustrates what we are seeing as well).

Yes, I saw #2715- you'll notice that I used a patch to pin the various container versions (our cluster runs inside a firewall anyway, that would have been necessary even without the "latest" tags). I can't imagine that there is anything specific about the deployment method i

[2020-04-17 21:37] simster7 commented on #2726
I opened #2726 to investigate the UI crash

[2020-04-17 21:40] #2711 closed

[2020-04-17 21:42] simster7 commented on #2738
Also see #1935

[2020-04-17 21:43] simster7 commented on #2738
This seems like a good place to start

[2020-04-17 21:51] wktmeow opened #2742 "Provide a way to terminate/shutdown workflow pods gracefully"
# Summary

Currently it appears that when a terminate command is sent to a workflow, the pods are killed via the wait container and a kubectl exec kill command and the pod is not given a chance to shutdown gracefully:

workflow/controller/exec_control.go:
[code]

# Motivation

We are trying to use argo to orchestrate long running batch jobs.  Sometimes we would like to stop a running job and resum

[2020-04-17 22:12] vutbao commented on #2742
"+1"

[2020-04-17 22:17] #2715 closed

[2020-04-17 22:25] nenadzaric opened #2743 "Continue on fail not working with parameter agregation"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

Dag stops if one of the steps made with parameter aggregation is failed. For example, if you pass 2 parameters to the template, for two different executions, and one fails, DAG will not execute next step (whalesay in exam

[2020-04-17 22:55] #2710 closed

[2020-04-18 20:38] bartlinga opened #2748 "Update minio-go for argoexe support of IRSA"
# Summary

In order for argoexe to support IAM Roles for Service Accounts, the minimum version of the minio-go module needs to be v6.0.45. It's currently v6.0.5 (in argo/pkg).

# Motivation

We are endeavoring to properly support the idioms of AWS/EKS. Specifically our artifact repository will use this approach. I am currently getting an access denied error when the wait container attempts to copy

[2020-04-18 21:43] tvalasek opened #2749 "retryStrategy step/DAG task scoped"
# Summary

Have `retryStrategy` step/DAG task scoped rather than template scoped.

# Motivation

Every step/DAG task using same template may require different `retryStrategy` .

# Proposal

N/A

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-04-18 22:06] sarabala1979 commented on #2748
have you tried with `RoleARN` in S3 which is doing the same STS call for assume role?
We have the same setup as POD is bind with on different IAM Role/AC and S3 buckets in different IAM Role/AC.  We are using S3 RoleARN to the role for S3 operations.

[2020-04-19 01:00] bartlinga commented on #2748
@sarabala1979 No, I did not try that. We are assuming roles via the namespace service account. [enable-iam-roles-for-service-accounts](https://docs.aws.amazon.com/eks/latest/userguide/enable-iam-roles-for-service-accounts.html) There is no need for the process to assume a role directly.

I verified that the existing code implementation is fine. The minio-go dependency just needs updating.

[2020-04-19 05:31] lippertmarkus commented on #1507
I implemented this in #2747 if you want to have a look. This issue motivated me to do so :)

[2020-04-19 05:37] lippertmarkus commented on #1383
I added support for hybrid clusters in #2747 if you want to have a look.
@sarabala1979 Although argoexec works on Windows with my changes, it doesn't work with Docker sockets as Windows named pipe requires hostPath `type` to be `null` instead of type `Socket` (see https://github.com/kubernetes/kubernetes/pull/69484). Also we would need an option to configure different `dockerSockPath` depending e.

[2020-04-19 06:23] sarabala1979 commented on #1383
you can able to configure the customer socket path in config map https://github.com/argoproj/argo/pull/1419

[2020-04-19 06:44] lippertmarkus commented on #1383
yeah but for Windows I need to set the type to `null`. It's currently not configurable and hard-coded here: https://github.com/argoproj/argo/blob/master/workflow/controller/workflowpod.go#L80

[2020-04-19 16:04] simster7 commented on #2726
I don't think so. Tagging templates with strings like 'local/backup-grafana-xp4lt/backup-grafana' haven't been released yet, so the fact that you're getting them tells me that either kustomize is pulling manifests or docker is pulling images that are not ready for release.

Nevertheless, there was actually a related but different UI issue: opened https://github.com/argoproj/argo/pull/2754 to fix i

[2020-04-19 16:28] simster7 opened #2755 "Improve resource editing UX in UI"
Currently, for example, if a user tries to edit a resource in the UI and their edit contains an error, the action will result in a 5XX error, causing the user to lose all their editing progress.

The UX should be similar to that when submitting resources.

[2020-04-19 16:39] simster7 commented on #2727
Hi @ericmeadows. A couple of things:

1. I tried my best to reproduce this behavior with no success. The sample workflow and workflowtempalte you provide it also make it difficult since it has a lot of specific parameters and code. Is it possible for you to try to reduce its complexity in a way that still causes the issue on your end?

2. I searched the entire codebase and it seems that getting an

[2020-04-19 17:54] simster7 commented on #2743
Thanks for this. Opened #2756 to fix this.

[2020-04-19 18:03] simster7 commented on #2589
Closing as fixed in #2595 and #2639

[2020-04-19 18:03] #2589 closed

[2020-04-19 18:04] simster7 commented on #2590
Closing as fixed in #2644

[2020-04-19 18:04] #2590 closed

[2020-04-19 18:05] simster7 commented on #2551
You are very much correct @ddseapy. We are definitely treating this as an experimental feature

[2020-04-19 18:17] ecurtin2 commented on #944
This is something I've been manually implementing in the container's logic itself. For ML workflows in particular, I've been resorting to checking if the output dataset exists then exit early. Wonder if a simple solution to some of this problem is something like

[code]
For example, it'd be really lovely to do stuff like this to check for the existence of spark's `_SUCCESS` files for big ETL job c

[2020-04-19 23:22] pbecotte commented on #2726
I am just running the image from dockerhub- I haven't looked at the code to see your build/release/feature flag setup, but if that behavior isn't supposed to be released, it probably needs to be looked at :)

[2020-04-20 01:17] simster7 commented on #2727
Chatted with @ericmeadows offline about this bug.

For posterity: the issue was that there were multiple controllers of Argo with different versions acting on the same resources. In this case it was Argo 2.7.4 and Kubeflow Pipelines running Argo 2.3.0.

The solution to this is to set different Instance IDs to each controller so that they don't step on each other's tracks.

[2020-04-20 01:17] #2727 closed

[2020-04-20 02:01] simster7 commented on #2726
Closing with https://github.com/argoproj/argo/pull/2724

[2020-04-20 02:01] #2726 closed

[2020-04-20 02:08] dtaniwaki commented on #2717
I think we can have stats of workflow templates in RDB or somewhere and calculate the average, median and etc. and show it in the list view.

But it may affect the performance of the controller. We may need to has an option to disable the feature.

[2020-04-20 02:11] dtaniwaki commented on #2717
Actually, we want to use these stats in the scheduler and optimize the scheduling algorithm. For example, there is few resources available and a pod is waiting with high priority, now, a low priority pod came. If we can predict how long the pod runs, we can let it run before the high priority waiting pod.

[2020-04-20 04:00] sarabala1979 commented on #1383
Feel free to contribute. suggestions are
1. Code can automatically set null as default for windows container if there is no configuration  `DockerSockPath` in Configmap.
2. Have config flag in config map `disableDockerPath`

[2020-04-20 06:15] talhairfanbentley commented on #2733
After getting the error, these are logs of the controller:

[code]

[2020-04-20 14:43] jgoldfar commented on #2567
Seeing a possibly related issue on https://argoproj.github.io/docs/argo/getting-started.html; the link to  "Argo Workflows by Example",
![image](https://user-images.githubusercontent.com/5564569/79764559-84820a00-82f3-11ea-9214-32f919073fc2.png)
is broken.
I would submit a PR, but the corresponding link in the docs here, https://github.com/argoproj/argo/blame/master/docs/getting-started.md#L73 see

[2020-04-20 14:53] ptitpoulpe opened #2758 "`withArtifacts` loop (fan-out)"
# Summary

Add a withArtifacts field to tasks to handle loop over files in an artifact.

# Motivation

You have an archive, and you want to run a workflow over all files inside.

# Proposal

How do you think this should be implemented? No

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to

[2020-04-20 15:32] alexec commented on #2567
@alexmt could you please look into this?

[2020-04-20 15:41] alexec opened #2759 "Improve cookie security"
After investigating SSO, I think we need to improve this:

* Remove display the cookie from the login page.
* Set-up flags, `[]string{"path=/", "SameSite=lax", "httpOnly"}` but not `Secure`.

@alexmt why does Argo CD use "lax" not "strict"?

OSWAP

This is probably the most secure configuration we have for
now:
`Set-Cookie: __Host-SessionID=3h93...;Path=/;Secure;HttpOnly;SameSite=Strict`

[2020-04-20 15:44] alexec opened #2760 "Implement Content Security Policy"
Should we enable this?

# Contra

Argo CD does not implement this.

https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP

[2020-04-20 15:45] alexec commented on #2760
@jannfis thoughts?

[2020-04-20 15:46] alexec opened #2761 "Add XSS protection to API"
We should consider this.

https://github.com/argoproj/argo-cd/issues/2496

[2020-04-20 15:47] alexec opened #2762 "Set X-Frame-Options for static assets"
See https://github.com/argoproj/argo-cd/pull/2711

[2020-04-20 15:47] alexec commented on #2762
@jannfis @alexmt FYI

[2020-04-20 15:47] alexec commented on #2759
@jannfis @alexmt FYI

[2020-04-20 15:53] alexec commented on #2759
ok, we don't currently need to set path, because we set the cookie client side in javascript

[2020-04-20 15:54] alexec commented on #2717
This specific use case I want to solve - seeing historical durations is shown in the UI already.

[2020-04-20 15:54] alexec commented on #2717
There might be other things we want to aggregate, so I'll leave this open.

[2020-04-20 15:55] alexec commented on #2733
OK. You need to configure the default location in the workflow-controller-configmap:

https://github.com/argoproj/argo/blob/master/docs/workflow-controller-configmap.yaml

[2020-04-20 15:59] talhairfanbentley commented on #2733
I did, as described on step 6, and this is my configmap:
[code]

[2020-04-20 16:05] alexec commented on #2733
The error is pretty explicit, so I'm a bit confused. Can you check that the controller logs show the correct configuration please?

[2020-04-20 16:10] talhairfanbentley commented on #2733
Ok so now I copied the secret in both default and argo namespace and tried to run artifact sample and error remains same, here are the controller logs:
[code]

[2020-04-20 16:12] alexec commented on #2733
The workflow controller prints it's configuration in the first few log lines - can you please attach those?

[2020-04-20 16:13] talhairfanbentley commented on #2733
These are logs from the start:

[code]

[2020-04-20 16:16] alexec commented on #2733
`Configuration:\nartifactRepository: {}\nfeatureFlags: {}\nmetricsConfig:\n  disableLegacy: false\npodSpecLogStrategy: {}\ntelemetryConfig:\n  disableLegacy: false\n"`

It is not loading the config. This is a problem with your installation, but I suspect your controller is not running in the correct namespace. If it is, are you running `latest`? If so, try changing your config:

[code]

[2020-04-20 16:18] talhairfanbentley commented on #2733
I just followed this getting start doc, and I suppose it's latest. I went through it like 3,4 times and followed to the exact.
https://argoproj.github.io/docs/argo/getting-started.html

[2020-04-20 16:20] talhairfanbentley commented on #2733
ok I just restarted the controller pod and it crashed, Gives this error:
[code]

[2020-04-20 16:31] talhairfanbentley commented on #2733
Okay, removing the keyword `config:` and restarting the controller pod did the trick.
It works fine now. Thanks.

[2020-04-20 16:39] #2733 closed

[2020-04-20 17:22] #2759 closed

[2020-04-20 17:26] #2736 closed

[2020-04-20 17:41] alexec opened #2764 "Add TLS support to Argo Server"
# Summary

Argo Server needs a HTTPS endpoint.

# Motivation

This is so we can encrypt all communication.

# Proposal

Same as Argo CD?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-04-20 17:42] alexec commented on #2764
@edlee2121 we can used self-signed certs because the requirement is only encryption?

[2020-04-20 17:42] edlee2121 commented on #2764
Yes, self-signed certs are fine.

[2020-04-20 17:44] alexec commented on #2764
@jessesuen , @edlee2121 requested we sync on this.

[2020-04-20 18:07] alexec commented on #2764
The workflows controller metrics server exposes metrics on 9090. This is pre-existing.

[2020-04-20 18:32] lueenavarro commented on #1307
The output of the console logs is whats written in outputs.result. In my local setup it works without specifying any outputs on the source template. in my cloud setup, i'm getting the same error described here.

I don't know how to fix it.

[2020-04-20 19:27] madhuresh04 commented on #1493
Is it resolved in version 2.6.3 ?

[2020-04-20 22:20] #2743 closed

[2020-04-21 01:06] simster7 opened #2770 "DOCKER_BUILD_OPTS does not work as intended"
https://github.com/argoproj/argo/blob/af9f61ea7ce53f629a284a44f0106b9ed73f24e2/Makefile#L16

When running `make build` in a release branch, `--no-cache` is not added for some reason.

[2020-04-21 01:13] alexec commented on #2770
I can tell you why `DOCKER_BUILDS_OPTS` != `DOCKER_BUILD_OPTS` (extra "S").

[2020-04-21 01:14] alexec commented on #2770
`make --warn-undefined-variables` does not actually help.

[2020-04-21 01:14] simster7 commented on #2770
That seems to be the error on the file as well

[2020-04-21 01:15] alexec commented on #2770
AFAIK, you cannot fail a `Makefile`, best you can do:

alias make=make --warn-undefined-variables

[2020-04-21 01:16] alexec commented on #2770
Just a thought. Instead of fixing, in the `make clean` target can you bust the Docker cache?

[2020-04-21 01:37] simster7 commented on #2743
The fix for this has been released in v2.7.5: https://github.com/argoproj/argo/releases/tag/v2.7.5

[2020-04-21 02:13] cscetbon commented on #2469
@simster7, is that bug fixed in the last release ?

[2020-04-21 06:11] k82cn opened #2772 "Support rollback in order"
# Summary & Motivation

We'd like to use Argo to deploy an application with several steps; so if any one of steps failed, we'd like to rollback the worklfow in revert order.

# Proposal

No proposal right now; but it's better to provide some plugins machinary to do that.

[2020-04-21 11:06] ProvoK commented on #2600
@sylvainblot Hi there, we encountered this bug when we deployed two argo in the same cluster (different namespaces).
Did you do that too?

[2020-04-21 11:58] vilmosnagy opened #2773 "CronWorkflows started twice on every schedule"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
I've created the sample CronWorkflow from the [docs](https://github.com/argoproj/argo/blob/master/docs/cron-workflows.md), but Argo starts them twice on every tick.

[code]

You can see that the `test-cron-wf` was started

[2020-04-21 11:59] vilmosnagy commented on #2773
I see that the #2694 is similar, but as far as I understand we have only one `workflow-controller`, so that's not the problem :\

[2020-04-21 13:56] bartlinga commented on #2748
@sarabala1979 Anything else I can do to help out on this one?

[2020-04-21 14:27] ptitpoulpe commented on #1807
+1

[2020-04-21 14:54] sarabala1979 commented on #2748
I will take a look

On Tue, Apr 21, 2020 at 6:56 AM Aron Bartling <notifications@github.com>
wrote:

--
Thanks & Regards
Saravanan

[2020-04-21 17:17] alexec commented on #2772
I think you need to raise this is the Argo CD repository?