[2020-10-07 11:20] cotterpl opened #4229 "Node should fail when there is `ErrImagePull`"
## Summary

Prepared a workflow with a loop. Container being run in the loop can not be pulled as it does not exist. Kubernetes returns ErrImagePull.

### What happened

Step is stuck in Pending status. Workflow is stuck in Running status.

### Expected to happen

Step is failed, workflow is failed.

## Diagnostics

What Kubernetes provider are you using?

[code]

With docker desktop for Mac

What

[2020-10-07 12:44] iamcnx opened #4230 "PNS Executor input/output artifacts "Failed to determine pid for containerID""
### Summary
I'm using the PNS executor in order to execute a workflow that only copies a file from input to output bucket in minio.
The Workflow copies the file correctly into the output bucket but the wait container fails with the following error:

Even the workaround with `sleep` and an `emptyDir` volume doesn't seems to work in this case.
I added a sleep of 60 seconds for the container and work

[2020-10-07 15:19] meurig opened #4231 "v2.11.2: Unsuccessful HTTP response"
## Summary

Upon upgrading from v2.10 to v2.11 I'm faced with the following error:

![image](https://user-images.githubusercontent.com/507747/95350330-f35e1a00-08b7-11eb-9332-47e339158990.png)

The link address is:
https://argo-dev/api/v1/workflows/argo?fields=metadata,items.metadata.uid,items.metadata.name,items.metadata.namespace,items.metadata.labels,items.status.phase,items.status.finishedAt,i

[2020-10-07 15:19] meurig commented on #4231
I'm not sure if this is related to this issue:
https://github.com/argoproj/argo-helm/issues/462

[2020-10-07 15:38] meurig commented on #4231
Looking more closely at the response from that address I can see:
ReadString: expects " or n, but found 1, error found in #10 byte of ...|,"value":1}]},"name"|..., bigger context ...|uments":{"parameters":[{"name":"seconds","value":1}]},"name":"start","template":"sleep-n-sec"},{"arg|..."}

This led me to suspect the issue is in one of my workflows. Running the following seems to have fixed it:
arg

[2020-10-07 16:50] kevinhwang opened #4232 "Argo UI: Cannot read property 'x' of undefined when viewing workflow (v2.11.0)"
## Summary

When viewing a workflow in the Argo UI, we get the following error:

![image](https://user-images.githubusercontent.com/11861195/95362005-53d26480-0882-11eb-919a-af5338de8bc8.png)

## Diagnostics

What Kubernetes provider are you using: IKS v1.29.1

What version of Argo Workflows are you running: v2.11.0

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We pri

[2020-10-07 16:56] #4188 closed

[2020-10-07 17:42] alexec commented on #4229
I'm not 100% sure this is a bug. The node should say in pending if the pod is pending. Can you please attach the pod status?

[2020-10-07 17:44] alexec commented on #4230
See #1256

[2020-10-07 17:46] alexec commented on #4230
I'm confused. Does the node fail?

[2020-10-07 17:53] alexec commented on #4231
You have a malformed workflow in your system. This is typically because there is a number where there must be a string. This workflow will not execute.

In your case, you have a number in your input parameters.

Options:

* Find and delete the malformed workflow.
* Find and fix the malformed workflow.
* Wait for v2.11.2 which will tolerate this problem.

[2020-10-07 19:02] meurig commented on #4231
Thanks @alexec !

I'll try and remove the workflows that are causing the problem, but I'll also look forward to your fix in the next version (I think it will be v2.11.3).

Thanks for all the options! 👍

[2020-10-07 19:04] #4231 closed

[2020-10-07 19:05] alexec opened #4233 "Show workflow pod security recommendations in UI"
# Summary

By default, workflow pods are being run as root. We could warn them in the UI and say how to change this.

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-10-07 20:12] meurig opened #4234 "Allow setting workflow *input* parameters in UI"
# Summary

The user should be given the chance to set input parameters in the UI when submitting a workflow from a template.

The work done in https://github.com/argoproj/argo/issues/3498 is great, but it only works when (default?) values for the parameters have been set in arguments.parameters.

Instead I suggest both the list of inputs.parameters and arguments.parameters should be considered whe

[2020-10-07 20:16] alexec commented on #4234
Sounds good. Would you like to submit a PR?

[2020-10-07 20:25] chgl commented on #4186
I am running an unprivileged workflow using PNS. It does require configuring a PSP to bind to the workflow's SA with the `SYS_PTRACE` and `SYS_CHROOT` capabilities, though. It used to work with just `SYS_PTRACE`, but since updating to v2.11.2 it requires `SYS_CHROOT`. Here's the PSP I use:

[code]

With a workflow like this:

[code]

[2020-10-07 21:05] alexec commented on #4186
@chgl I found I could not get PNS to work with `runAsNotRoot` if there were output artifacts. Do you have these?

[2020-10-07 21:09] chgl commented on #4186
@alexec ah, good point. No output artifacts yet. I'll give it a try later and report back. Although I doubt I'll have more success.

[2020-10-07 22:20] ediezh commented on #3551
I'm facing the same issue after upgraded to v2.11.0.

controller configmap sets the workflowDefaults as below.

[code]

The workflows don't have ttl configured. But I still have workflows 15d old.
[code]

[2020-10-07 22:23] alexec commented on #3551
@sarabala1979 is this related to any of your fixes?

workaround

[code]

[2020-10-07 23:33] ediezh commented on #3551
I'm also getting in the controller logs sometimes(every hour or so)
[code]

[2020-10-08 00:15] max-sixty commented on #4187
One approach that can work here is using the image as a workflow parameter:

[code]

...and then the image can be passed from the command line like any other parameter.

Unfortunately I think this approach means that the image then can't be updated with kustomize, using [this approach](https://argoproj.slack.com/archives/C8J6SGN12/p1594143752125200?thread_ts=1594134743.122500&cid=C8J6SGN12) from E

[2020-10-08 00:38] max-sixty commented on #4187
This is tangential to this issue, but in case others hit the same challenge I did, here's a way to get this approach working with kustomize:

`config.yaml`:
[code]

`kustomization.yaml`:
[code]

[2020-10-08 06:30] cotterpl commented on #4229
Pod status is pending. Container status is Waiting. It seems you are correct and it is not a bug as Kubernetes is trying (and retrying) to pull the image.

[code]

[2020-10-08 06:30] #4229 closed

[2020-10-08 08:26] adityasundaramurthy-maersk opened #4236 "Argo UI - Archived Workflows - Error when clicking on hidden nodes ellipsis"
## Summary

What happened/what you expected to happen?

When trying to view the hidden nodes in an archived workflow by clicking on the ellipsis, the following error occurs.

<img width="1363" alt="Screenshot 2020-10-08 at 10 15 57" src="https://user-images.githubusercontent.com/70176055/95433288-09b7b480-0950-11eb-8489-9cc260b63f0e.png">

<img width="864" alt="Screenshot 2020-10-08 at 10 16 26" s

[2020-10-08 08:51] meurig commented on #4234
Sadly I have other commitments (and no argo dev environment set up), so I can't at the moment - sorry!

[2020-10-08 09:20] meurig commented on #3595
And it's working great, thanks again! @simster7  🥇

[2020-10-08 12:11] iamcnx commented on #4230
Yes it fails and as a consequence the whole workflow is considered as failed. But as I said, file was copied and even the whalesay after the sleep was executed correctly.

[2020-10-08 13:36] DP19 opened #4238 "Support Viewing Sub-Workflows in Top level Workflows"
# Summary

Our use case in Argo depends a lot on using the Workflow of Workflows model. With this however, we are only able to see that a sub-workflow was spawned and some logs that it ran successfully. If we want to see the steps within that sub-workflow we have to back out of the top level workflow and dive into the spawned workflow.

It would be great to be able to see the full output of those

[2020-10-08 15:57] alexec opened #4239 "Increase max reconciliation time"
# Summary

We'd want to support 10k+ node workflows, and these tend to fail to schedule all their nodes within in the 10s deadline. In fact, it is possible for a workflow to get so large it can never fully schedule its nodes.

In #2705 (May) we increased the default number of workflow-workflows from 8 to 32.

Let`s increase the reconciliation time (or make it configurable)

# Use Cases

10k+ node

[2020-10-08 16:05] alexec commented on #4230
I'm confused by you config:

[code]

Can you share your `workflow-controller-configmap`?

[2020-10-08 16:15] alexec commented on #4081
@lynxoid I'm waiting for you to say the fix works for you before it getting it reviewed and merged. Did you think it works for you?

[2020-10-08 16:28] iamcnx commented on #4230
This is an orphaned parameter that I used when I trail and error with PNS the first time until I reconized that this param is never translated to the Pod and is not documented in argo api. I only missed to remove it. It doesn't affect the problem.

[code]

[2020-10-08 16:28] alexec commented on #4236
Can I please request the full workflow YAML so I can verify my fix works?

[2020-10-08 16:29] #4211 closed

[2020-10-08 16:38] alexec opened #4240 "v2.12: enabling archiving starts archiving all existing workflows"
## Summary

This is technically a regression. But it could also be desirable behavior.

## Diagnostics

What Kubernetes provider are you using? v2.12

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-10-08 16:39] alexec commented on #4236
Reproduces using loops-param-result- example.

[2020-10-08 16:40] iamcnx commented on #4230
pod.yaml of workflow pod
[code]

[2020-10-08 16:53] alexec commented on #4232
@kevinhwang can you please provide the workflow YAML? You can DM me if secret.

[2020-10-08 18:08] sarabala1979 opened #4242 "Checking wrong err object for reapply cronworkflow error message"
## Summary

What happened/what you expected to happen?

## Diagnostics

What Kubernetes provider are you using?

What version of Argo Workflows are you running?

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-10-08 18:17] wshi5985 opened #4244 "With workflow executor set to k8sapi, artifact optional feature does not work when tgz archive is disabled"
## Summary

For security concern, We are trying to switch workflow executor from default docker to k8sapi.
When testing in Dev environment, we noticed that artifact `optional` feature does not work when `archive` is disabled. when output file does not exist(optional set to true), instead of ignore, the workflow failed locating the file and timeout.
(It worked when we used  docker executor)

## Dia

[2020-10-08 18:29] alexec commented on #1658
@brabster @andyleap @dseapy I think we'll be including basic N/M progress in v2.12, but not workflows-self reporting their progress. I think this is a cool feature, and I want to know if one of you would like to take it on based on the design in #4015?

[2020-10-08 18:30] alexec opened #4245 "Workflows self-reporting N/M progress"
# Summary

#1658 introduced basic N/M progress. It would be good to have workflows self-report their progress. #4015

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-10-08 18:32] #4206 closed

[2020-10-08 18:32] ozooxo commented on #3044
@samirmajen If you put the label in `metadata` in `WorkflowTemplate`, but if you put it in `spec.template.metadata` then it will.

[code]

Then

[code]

[2020-10-08 18:37] salanki commented on #1658
The implementation in https://github.com/argoproj/argo/pull/4015, reporting progress via `#argo progress=N/M message="m"` would work for our use cases!

[2020-10-08 18:37] salanki commented on #1658
The implementation in https://github.com/argoproj/argo/pull/4015, reporting progress via `#argo progress=N/M message="m"` would work for our use cases!

[2020-10-08 18:55] ozooxo opened #4246 "`workflowDefaults` in `workflow-controller-configmap` doesn't work?"
## Summary

I added a customized `label` (as suggested by [this example](https://argoproj.github.io/argo/default-workflow-specs/)) and a `serviceAccountName` into the `workflowDefaults` section in `workflow-controller-configmap`. Both doesn't work.

## Diagnostics

What Kubernetes provider are you using?

EKS.

What version of Argo Workflows are you running?

[code]

Paste a workflow that reproduc

[2020-10-08 19:00] jessesuen commented on #4238
I don't think we should show the fully embedded workflow in the workflow-of-workflows pattern, but what we can/should do is link to the other workflow when we detect that the resource kind is a Workflow.

[2020-10-08 19:01] jessesuen commented on #4238
@DP19 would you like to submit a PR for the above? Would be a UI only change

[2020-10-08 19:04] #4242 closed

[2020-10-08 19:08] max-sixty opened #4247 "Using Kustomize only works on argo namespace"
## Summary

I'm not sure whether this is a problem with my approach, kustomize, or argo. I suspect the first, but posting here at least in case it's helpful for others — it took me a while to figure out what the problem was.

## Diagnostics

Run this with kustomize, noting the resources are namespaced to `argo-2`:

[code]

But this still produces some resources that are namespaced to `argo`, notin

[2020-10-08 19:18] DP19 commented on #4238
Yeah, I can give this a shot. Any ideas on what would need to be changed exactly. Not familiar with the code base yet.

[2020-10-08 19:53] alexec commented on #4238
Try this help: https://argoproj.github.io/argo/CONTRIBUTING/

[2020-10-08 19:54] alexec commented on #3589
https://docs.google.com/document/d/1Y1I4CUmb2-OQMtsfYXGpY42GhnNyr9lBcUPnITwAXgw/edit#

[2020-10-08 20:10] #3557 closed

[2020-10-08 21:39] #4236 closed

[2020-10-08 22:06] alexec commented on #4232
@kevinhwang please can you send me the problem workflow.

[2020-10-08 23:17] alexec opened #4249 "TestCLIWithServerSuite/TestResourceTemplateStopAndTerminate/ResourceTemplateStop is failing"
This seems to fail a bit too often to dismiss it as flakey. Maybe we have a new bug.

[2020-10-08 23:17] alexec commented on #4249
https://github.com/argoproj/argo/pull/4218/checks?check_run_id=1226977669

[2020-10-08 23:22] alexec commented on #1658
@salanki thank you. I think what I'm saying is that I don't plan to work on this anymore. But if someone wants to take it on - that'd be great!

[2020-10-08 23:36] #4204 closed

[2020-10-08 23:57] ediezh commented on #4246
This is affecting me too. At first I noticed the default ttlStrategy is not working, but then on further investigation that all the workflow defaults are not applied. I have the below workflowDefaults configured.
[code]

I'm running v2.11.2

[2020-10-09 00:13] alexec opened #4250 "I'm pretty sure the workflow queue is not being used correctly"
## Summary

We have a `workqueue.RateLimiter` in the controller, but we invoke `AddAfter` on it, which I'm pretty sure bypasses the rate-limiting, making it an ordinary `DelayingQueue` with no. rate-limiting characteristics.

@jessesuen @alexmt

I think we should fix this, remove the pod worker (to make it simpler) and then configure a rate limiter with what ever values we want.

[2020-10-09 00:14] alexec commented on #4240
I've not been able to repro this closing.

[2020-10-09 00:14] #4240 closed

[2020-10-09 04:58] alexec commented on #2671
@wreed @juliusvonkohout I've noted that when ones run PNS with `runAsNonRoot` and output artifacts, then you get the permission denied error, files are copied, but the `wait` container cannot determine when the `main` container to exit.

[2020-10-09 05:36] sarabala1979 commented on #4246
Yes, I am looking into this issue. Code is treating differently in workflowtemplateref or submit --from the scenario. I will discuss this with the team for a solution.

[2020-10-09 05:42] sarabala1979 commented on #4250
`workqueue.RateLimiter` queue is implemented on top of delayqueue.  I think ratelimit will apply for only active items.
AddAfter will put into some timer functionality to add to the queue.

https://github.com/kubernetes/client-go/blob/master/util/workqueue/rate_limiting_queue.go

[2020-10-09 08:00] maryoush commented on #3522
@lueenavarro i believe 'docker' is default executor ?

[2020-10-09 11:33] firecast commented on #4046
@simster7 We are still facing issues of the lock not getting released in a running workflow.
All the *.publish templates use the same semaphore
![Screenshot 2020-10-09 at 4 55 37 PM](https://user-images.githubusercontent.com/2487532/95578327-58994300-0a51-11eb-8703-6d23f889fe26.png)

[2020-10-09 14:23] DP19 commented on #4238
Thanks @alexec. Someone else can take this over. I just took a quick look and i'm not well versed in node. But from what i can tell just by following the [workflow of workflow guide](https://argoproj.github.io/argo/workflow-of-workflows/) as an example, then using the apiDocs to get info about the spawned workflow, there doesn't seem to be any reference to the sub workflow that gets launched so I'

[2020-10-09 14:38] alexec commented on #4046
@sarabala1979 can you investigate, please?

[2020-10-09 14:39] #4107 closed

[2020-10-09 15:02] ramanNarasimhan77 opened #4252 "Disabling compression for binary output artifact works but gives <artifact-name>.gz when downloaded from the UI"
## Summary

I am using the `script` template to execute a machine learning training python script which generates the model as a binary file having __.sav__ extension. Then I am exposing the model binary as an artifact, with compression disabled.

In minio, I can see that model file is present uncompressed, but on the UI the same uncompressed file shows up with a ".tgz" extension.

I am using the

[2020-10-09 15:14] sarabala1979 commented on #4046
I will take a look

[2020-10-09 15:51] sarabala1979 commented on #4046
@firecast can you provide the workflow controller logs and reproducible workflow?

[2020-10-09 16:17] alexec commented on #2239
#4251 should contain enough information on how to `runAsNonRoot`. TLDR: use the `k8sapi` executor.

[2020-10-09 16:46] aditya1503 commented on #3026
Was there a solution to this issue?

[2020-10-09 17:50] alexec commented on #4250
I played around with this, and I don’t think there is any benefit to using it, but no detriment either.

[2020-10-09 17:50] #4250 closed

[2020-10-09 17:50] alexec commented on #4247
This is a Kustomize issue yes?

[2020-10-09 17:51] alexec commented on #4252
This is a bug in the artifact server. I suspect it just states the wrong file name. Would you like to submit a PR to fix?

[2020-10-09 17:53] alexec commented on #4249
I’m not seeing this regularly. Maybe just a blip.

[2020-10-09 17:53] #4249 closed

[2020-10-09 17:59] alexec commented on #4181
Simon is away at the moment. We were concerned we might see breakage in v2.10, but we did not. However, we did in v2.11.0. Can I suggest you try v2.11.3 which has as significant performance improvement as well as mitigation for breakage.

I would not expect to see the controller more than 1-2g of memory.

[2020-10-09 20:08] alexec opened #4254 "Per workflow container runtime executor setting"
# Summary

Allow users to change this at runtime.

# Use Cases

To test out other executors.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-10-09 23:35] max-sixty commented on #4247
I think you're right.

On reflection, I think kustomize doesn't understand it has to update the namespace in that field, and requires some sort of config like Evan suggested here — which works great for images: https://argoproj.slack.com/archives/C8J6SGN12/p1594134743122500

[2020-10-10 06:05] ramanNarasimhan77 commented on #4252
Hello @alexec

Unfortunately, my employer's open source contribution policy does not allow me to make open source contributions without first having to go through a bunch of approval processes.

I have tried to look at the code in `artifact_server.go`

There are two functions [GetArtifact](https://github.com/argoproj/argo/blob/master/server/artifacts/artifact_server.go#L63) and [GetArtifactByUID](

[2020-10-10 06:44] BlackRider97 commented on #4048
@alexec  still no luck with `argoproj/workflow-controller:v2.11.2`  or `argoproj/workflow-controller:easyjson`

I can see still workflows are getting stuck in forever `Running state`. This is causing issues in running Argo in reliable way in production.

Consider following example

![Long running workflow](https://user-images.githubusercontent.com/4725916/95647487-7c11cb80-0aed-11eb-99f9-409bfcd94

[2020-10-10 18:07] #3409 closed

[2020-10-11 11:46] naor2013 opened #4257 "Master/workers controller architecture"
# Summary

I want to set up Argo in a master/workers architecture. I want to manage the controller myself in my own namespace and have my users run their workflows in their own namespaces, using my "master" controller.
Is this kind of architecture possible? If not, will it be implemented in the future?

# Use Cases

My use case for this setup is that I want to manage the Argo usage: update the ver

[2020-10-11 14:51] #3169 closed

[2020-10-11 17:23] sarabala1979 commented on #4257
Yes, It is a very well supported feature. You can install Controller as a cluster scope using `https://raw.githubusercontent.com/argoproj/argo/v2.11.2/manifests/install.yaml`. The controller will watch all namespaces in that cluster. The controller will act as a central orchestrator to execute the workflow on their namespace.

[2020-10-11 17:24] naor2013 commented on #4257
How does that work in regards of UI? Do I set up one UI per namespace or one central UI where people can see only their namespace based on a token?

[2020-10-11 17:28] sarabala1979 commented on #4257
I think it should handled by the token.

[2020-10-11 17:40] jskrzypek commented on #4257
Using the cluster install setup, there is just one instance of the argo server for the whole cluster. You don't need separate uis for each namespace

[2020-10-11 21:04] #3668 closed

[2020-10-11 22:04] #3449 closed

[2020-10-12 05:27] BlackRider97 commented on #4048
I have seen another incident for long running workflow where workflow is in `Running` state while corresponding Pods already completed.  May be Argo controller is not able read Pod's completion state or some race conditions.
FYI I ran 100k workflows with 100 parallelism limit, and 2 workflows went into this in-consistent state.
@alexec

[2020-10-12 08:28] firecast commented on #4046
Sure. Will try to create a reproducible one from my end and share within a day @sarabala1979

[2020-10-12 11:05] naor2013 commented on #4257
I know it's unrelated but does Argo supports horizontal scaling? For the cases where the controller pod fails for whatever reason?

[2020-10-12 12:32] firecast commented on #4046
[code]

@sarabala1979 This example replicates the issue.
![Screenshot 2020-10-12 at 6 02 00 PM](https://user-images.githubusercontent.com/2487532/95746807-09ebe300-0cb5-11eb-87c1-dff131da498d.png)

[2020-10-12 15:41] mecampbellsoup commented on #3409
This is effecting us as well, i.e. any workflows handling parameter values with `&` included are failing. Anyone have a workaround ATM? @alexec @tanenbaum @Point-less

[2020-10-12 15:47] mecampbellsoup commented on #3409
It looks like Go added an option to not escape specific characters like `&`:

* https://github.com/golang/go/commit/ab52ad894f453a02153fb2bc106d08c47ba643b6
* https://stackoverflow.com/a/39079238/2517033

[2020-10-12 16:08] nibooy commented on #4034
Hi, I am currently on v2.11.3 but still have this problem.

[2020-10-12 16:13] tanenbaum commented on #3409
@mecampbellsoup I ended up taking my more complex data types and putting them into ConfigMaps, auto-created in the workflow using the resource type https://argoproj.github.io/argo/fields/#resourcetemplate and setting `setOwnerReference` to true so they get cleaned up with the workflows.

I then only use simple array types for any iterating at the argo job level, using Ids etc. to mount well namesp

[2020-10-12 21:23] jskrzypek commented on #4257
looks like no: https://argoproj.github.io/argo/scaling/#horizontally-scaling

[2020-10-12 21:24] jskrzypek commented on #4257
if the pods fail in a way that is obvious to k8s, though they ought to be kicked and replaced the same as in any other deployment

[2020-10-12 21:36] alexec commented on #3409
That fix appears in Go 15. We currently use Go 13. We'd need to upgrade.

[2020-10-12 21:39] alexec commented on #4048
Did you have any luck restarting the controller? This would force a reconciliation of your workflow.

[2020-10-12 22:35] wanghong230 opened #4262 "Controller Crash: "fatal error: concurrent map writes""
## Summary

What happened/what you expected to happen?

[code]

## Diagnostics

What Kubernetes provider are you using?

EKS 1.16

What version of Argo Workflows are you running?

[code]
---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-10-12 23:12] max-sixty commented on #1293
Here's a question I asked on SO whose answer linked here, and might be a useful case — simple date strings. These currently require an additional step, or fairly verbose use of variables.

https://stackoverflow.com/questions/64268801/formatting-dates-in-argo/64319266#64319266

And thanks to @mac9416 for the thoughtful answer!

[2020-10-13 07:11] Nicwalle opened #4264 "Visualisation of the suspended CronWorkflows in the list"
# Summary

When displaying the CronWorkflows, it would be great to have a quick overview of the suspended (or not) workflows. Therefore, the clock icon could be changed into a paused icon for the suspended CronWorkflows.

# Use Cases

When willing to see if a certain CronWorkflow is scheduled or not.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issu

[2020-10-13 07:34] Nicwalle commented on #4264
I will take care of implementing it

[2020-10-13 09:50] brabster commented on #4084
Issue still present in v2.11.3

[2020-10-13 09:54] brabster opened #4265 "localhost:2746/cron-workflows redirects to localhost:2746/cron-workflows/undefined"
## Summary

(effectively re-opening #4084, not fixed in 2.11.3)

I upgraded from 2.11.0 to 2.11.3. I selected an old URL from my browser autosuggest (localhost:2746/cron-workflows) and it was redirected to localhost:2746/cron-workflows/undefined, and showed no Cron Workflows.

Same issue affects localhost:2746/workflow-templates

## Diagnostics

Argo v 2.11.3

Are you using a namespace of cluster

[2020-10-13 09:56] brabster opened #4266 "Old namespaces are not cleaned up in UI"
## Summary

I see namespaces in the UI namespace dropdown that are no longer present on the cluster. I do not expect to see namespaces that no longer exist in the cluster.

![image](https://user-images.githubusercontent.com/38702/95846096-eec7b480-0d42-11eb-9209-0f107721e2d9.png)

[code]

## Diagnostics

What Kubernetes provider are you using? default (docker?)

What version of Argo Workflows are

[2020-10-13 11:17] sebastien-prudhomme opened #4267 "WorkflowTemplate and synchronization lock bug"
## Summary

Synchronization lock on workflow execution defined in WorkflowTemplate not taken into account when creating a Workflow from the WorkflowTemplate.

If the synchronization lock is made on a template execution, all is working fine.

## Diagnostics

What Kubernetes provider are you using? K3S

What version of Argo Workflows are you running? v2.11.3

Workflow template definition:

[code]

W

[2020-10-13 16:33] andizzle commented on #3212
Bump. Can we re-open this as a feature request?

[2020-10-13 16:45] alexec commented on #3409
I've looked into this - and it is possible to fix it by implementing a custom marshaller. However, we'd need to do this every time we marshal an object to JSON, and never-ever write any new code that forgets to do this. Obviously, this is impractical.

It is rather frustrating to have this bug because a Golang coder years ago thought that you'd definitely want this on by default.  Just a bizarre c

[2020-10-13 16:54] alexec commented on #3212
@andizzle re-opened. Would you like to submit a PR?

[2020-10-13 16:56] alexec commented on #1293
@max-sixty would you like to investigate how this might be done using fasttemplate? That would be the first step to a solution.

[2020-10-13 17:00] alexec commented on #4265
I've not observed this myself, but I will check again.

[2020-10-13 17:02] alexec commented on #4266
Interesting. The UI has no way to determine if a namespace has been deleted. But we could expire unused namespaces. Would you like to investigate and see if you can come up with a solution?

[2020-10-13 17:06] brabster commented on #4265
If I go to `localhost:2746/cron-workflows`, should I see all cron workflows regardless of namespace? Just tried it in a different browser that doesn't have any history, same result.

[2020-10-13 17:08] brabster commented on #4266
If I get chance I would love to! Certainly not a big deal

[2020-10-13 17:21] alexec commented on #4262
This is caused by `Metrics               map[string]prometheus.Metric`. This does not have a guard on it.

We could replace it with `Metrics               *sync.Map`.

@wanghong230 would you be interested is submitting a PR?

[2020-10-13 18:36] alexec commented on #4048
I'd like to have another Zoom on your issue if you can be free please.

[2020-10-13 20:19] ivancili commented on #4017
I forgot to put it here earlier, but if anyone encounters the same problem, I added the following annotation to the ingress rule config for Argo UI:
[code]
This is just a workaround actually, assuming you won't be watching the pod logs for more than an hour at a time.

[2020-10-13 20:58] #2239 closed

[2020-10-13 22:27] nibooy opened #4270 "steps.STEP_NAME.startedAt, finishedAt failed to resolve"
## Summary

What happened/what you expected to happen?

`2020/10/14 07:24:01 Failed to submit workflow: templates.duration-test.steps failed to resolve {{steps.step1.startedAt}}
`
## Diagnostics

What Kubernetes provider are you using?

What version of Argo Workflows are you running?

Workflow Sample:

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise

[2020-10-13 22:27] #3693 closed

[2020-10-13 22:36] alexec commented on #2679
I've spent some time updating the documentation for the [executors](https://argoproj.github.io/argo/workflow-executors/) and how and when to use [emptyDir]https://argoproj.github.io/argo/empty-dir/).

TL;DR:

* Use the `docker` executor if you don't care about security and do care about performance. Use the `k8sapi` executor if you care about security and not about performance. Use PNS for somethi

[2020-10-13 22:47] alexec commented on #2679
@Ark-kun I'm not sure this is correct?

[2020-10-14 01:45] #3698 closed

[2020-10-14 02:27] kenchan0130 opened #4271 "Support workflow operation log"
# Summary

To be able to get the operation log of the workflow on the webUI in some way.

# Use Cases

When operating the webUI, the
Who, what, when, and how
This can be useful for projects that are tightly controlled and for projects where you want to follow some trail.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-10-14 07:16] GaruGaru commented on #4265
I've performed a migration from argo wf 2.8 to 2.11.3 and I'm experiencing the same issue.
Both the workflow templates and cron workflows when visited redirect to `/workflow-templates/undefined` and `/cron-workflows/undefined`.

The issue is still present after browser storage cleanup / incognito mode.

[code]

[2020-10-14 10:15] thekovach commented on #3307
It's was really surprising to me to find out that you cannot specify input artifacts from the default artifact repository. It should be supported by default. I would expect to be able to specify only the key in the default bucket, and then it should work out of the box.

[2020-10-14 10:19] thekovach commented on #2461
IMHO, one should be able to specify a key in the default repository bucket as input artifact without specifying the complete bucket configuration (repeated from the default repository).

[2020-10-14 12:18] cy-zheng opened #4273 "[Bug] Global output parameters validation error with reversed dag.tasks order"
## Summary

What happened/what you expected to happen?

A workflow using global output parameter and DAG could work well with Argo, but if I reverse the dag.tasks list, argo server would return a global output parameters validation error like:
[code]

Expection:
Parameter verification should not be related to DAG tasks' order.

## Diagnostics

What Kubernetes provider are you using?

Bare-metal v1

[2020-10-14 13:29] jcmuller opened #4275 "Pods in retried workflow with PVC after a step that succeeded never get scheduled"
## Summary

### What happened:

Given there is a workflow with a PersistentVolumeClaim mounted on two templates, and the workflow is run, and template A succeeds, and template B fails, when I retry the workflow, then template B's pod never gets scheduled on the retried workflow.

### What I expect to happen:

Template B is run.

## Diagnostics

What Kubernetes provider are you using?

Docker

What

[2020-10-14 15:28] alexec commented on #3307
This issue isn't really to do with `artifactRepositoryRef`, it's not supported at all. I'm going to rename this issue to reflect this.

[2020-10-14 15:29] alexec commented on #4273
By the sounds of this, you can work-around by re-ordering tasks.

[2020-10-14 15:32] alexec commented on #4275
Can you please tell me if happens with versions other than v2.11?

[2020-10-14 15:37] jcmuller commented on #4275
We were able to reproduce this issue all the way back to just after v2.6.2. v2.6.2 is the last version that seems to work as expected.

This seems to be the problem PR: https://github.com/argoproj/argo/pull/2449/files

[2020-10-14 15:38] alexec commented on #4275
@jcmuller you seem to have a good handle on the code - would you like to make an attempt to fix it?

[2020-10-14 15:57] alexec commented on #4071
Closing this. I think we can now investigate more specific solutions.

[2020-10-14 15:57] #4071 closed

[2020-10-14 16:02] alexec commented on #4048
As you are aware, we are taking this seriously. We have already rolled out one key for large numbers of items (i.e. `withParams` or `withItems`) and have two other PRs in review to address the throttler bug and support controller HA.

What I don't have for this issue is a way to reproduce it. People are able to successfully run 10k+ node workflow on v2.11.3.

In there anyway we can get a workflow

[2020-10-14 16:07] alexec commented on #4265
ok, to repro you must not have trailing-slash, e.g. http://localhost:2746/cron-workflows

[2020-10-14 16:09] jcmuller commented on #4275
I'll take a stab at this. Thanks.

By the way, we believe the problem is related to these logs:
[code]

The PVC deletion code that checks if the workflow errored of failed runs before the status of the workflow has been updated to failed.

[2020-10-14 16:41] kevinhwang commented on #4232
DMed you.

[2020-10-14 16:57] alexec commented on #4265
Ok. I've investigated, and the work-around is it change your URLs with a trailing slash.

Would you be interested in investing a fix?

[2020-10-14 17:48] alexec commented on #4232
Loaded on `master` and works-for-me. Maybe bug just on v2.11.3 branch.

[2020-10-14 18:08] alexec commented on #4232
something to do with omitted node

wf-template-dce-update-lsltx-824903303

[2020-10-14 18:30] danajp commented on #4275
Since I've been working with @jcmuller on this, I just want to provide a little context here for posterity's sake.

This is the behavior we saw before #2449
- create workflow that uses a PVC
- workflow fails
- PVC remains
- retrying the workflow reuses the existing PVC

And after #2449
- create workflow that uses a PVC
- workflow fails
- PVC is marked for deletion (but not deleted because it has a

[2020-10-14 18:55] saranyaeu2987 opened #4281 "Support getting nominal datetime information into workflow"
# Summary
Is there a way to get nominal date time (planned date time for a scheduled sample) for a run in cron workflow

# Use Cases

nominal date time  information will be used in workflow to retrieve file(s) created during that nominal date.
nominal date time is not equivalent current datetime. Nominal date time will not change on failure retry or workflow rerun.

---

**Message from the maintai

[2020-10-14 18:55] kennytrytek-wf opened #4282 "`argo template lint` Always Exits With 0 Exit Code When Validating a Directory"
## Summary

When `argo template lint` is used to lint a directory containing workflows, it currently always exits with a 0 exit code even if errors are encountered. Exit codes are one way that shells implement control flow, and always returning a zero exit code is similar to an HTTP endpoint always returning `200 OK`.

## Expected Behavior

When `argo template lint` is used to validate a directory

[2020-10-14 18:56] #4233 closed

[2020-10-14 19:01] sarabala1979 commented on #4270
Do you like to submit PR for this fix?

[2020-10-14 19:02] sarabala1979 commented on #4271
Do you mean a controller log? Can you provide more details on what you mean by operation log?

[2020-10-14 19:07] alexec commented on #4281
Is this the same as #3649?

[2020-10-14 19:33] #4046 closed

[2020-10-14 19:46] saranyaeu2987 commented on #4281
Yes. we can close this as duplicate.

[2020-10-14 20:04] #4281 closed

[2020-10-14 20:05] alexec commented on #3649
@sarabala1979 are you doing thisplease?

[2020-10-14 20:18] #4232 closed

[2020-10-14 21:03] #4275 closed

[2020-10-14 21:53] max-sixty commented on #1293
Yes I will take a look at that, I know my contributions has been overdue!

[2020-10-15 00:53] cy-zheng commented on #4273
Yes. I've tested that reordering works well in all of my cases, and I need to add some topology sorting logic before submitting a workflow to argo.

By the way, is this behavior an expectation of argo? Will it be fixed in a future version?

Thanks for your quick response! @alexec

[2020-10-15 02:31] alexec commented on #4273
Well, it is software, so it has bugs. Would you like to submit a PR to fix?

[2020-10-15 02:45] cy-zheng commented on #4273
I'll do more investigation and try to find causes on argo side.

I would try to fix it if I could.

[2020-10-15 03:33] gosoon opened #4285 "`argo template lint` command panic"
## Summary

`argo template lint` command panic

## Diagnostics

[code]

What version of Argo Workflows are you running?

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-10-15 03:41] kenchan0130 commented on #4271
I'm calling the operation log is as follows.

In the current stable version, when the user triggers a workflow from the webUI, you can't keep track of who triggered the workflow and when they triggered it.
In terms of a testimonial, I want to know who did what and when.

Is that what you asked?

[2020-10-15 07:05] #3696 closed

[2020-10-15 07:29] idsvandermolen opened #4286 "Allow whitespace in templates"
# Summary

Currently Argo does not allow white space in templating, rendering of `{{workflow.parameters.variable}}` does correctly work, however `{{ workflow.parameters.variable }}` doesn't render the variable. Also `argo lint` did not issue any warning or error.

# Use Cases

I often find it more readable when you can add whitespace to separate markers like `{{` and `}}` from variable names.

---

[2020-10-15 09:58] veggiemonk opened #4288 "choose if activeDeadlineSeconds timeout is an error or not"
# Summary

What change needs making?

Add a new field to specify the resulting state of an `activeDeadlineSeconds` being reached.
Currently, when `activeDeadlineSeconds` is reached, the workflow is considered a failure but in our case, it is not.

# Use Cases

When would you use this?

We would like to use argo workflow to run reinforcement learning experiments where an algorithm is trying to reac

[2020-10-15 14:17] cy-zheng opened #4289 "[Bug] Kubelet executor fail to send SIGKILL to pid=1 process"
## Summary

In container, pid=1 process would not catch SIGKILL by default, so kubelet executor always has problem to stop workflow.

## Diagnostics

What Kubernetes provider are you using?

Bare-metal v1.13.12

What version of Argo Workflows are you running?

v2.11.3

You could create the workflow below and try to stop it.
[code]

[code]

From https://man7.org/linux/man-pages/man2/kill.2.html
[co

[2020-10-15 14:44] cy-zheng commented on #4289
BTW, it seems the bug could also happen in Kubernetes API (k8sapi) executor, since k8sapi executor also use pod.exec kill -9 1

[2020-10-15 15:17] alexec opened #4290 "Document cron workflow behaviour on daylight saving time change"
# Summary

What happens?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-10-15 15:25] alexec commented on #4285
Please add:

* Version you are using.
* YAML

[2020-10-15 15:26] alexec commented on #4271
An audit log? We use Kuberenetes events for this ATM. Could you follow these? You can see these in the UI.

[2020-10-15 15:26] alexec commented on #4286
Good idea. Would you like to investigate how to fix this?

[2020-10-15 15:32] alexec commented on #4289
Let me see if I understand - we cannot kill the process because SIGKILL cannot be handled by PID 1.

Could we do this?

https://stackoverflow.com/questions/46123457/restart-container-within-pod

[2020-10-15 15:35] alexec commented on #4288
I'm not sure this is the right use case for either `activeDeadlineSeconds` or `timeout` because they are for dealing with run-away processes, always an error scenario.

Can you implement this using sleep in your pod?

[code]

[2020-10-15 15:52] jfb74 opened #4291 "Cannot read property 'length' of undefined"
## Summary

![image](https://user-images.githubusercontent.com/6969831/96154123-7e549b00-0edc-11eb-89c4-f79c49670d41.png)

I recently upgraded from v2.9 to v2.11.4 in order to leverage synchronization. I applied a ConfigMap yaml in the argo namespace and then populated the workflow template based on this [example](https://github.com/argoproj/argo/blob/master/examples/synchronization-tmpl-level.yam

[2020-10-15 17:00] alexec opened #4293 "Resource editor could auto set namespace"
# Summary

When creating in the UI, it would be nice to have the namespace automatically set to the current namespace (if omitted).

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-10-15 17:15] kennytrytek-wf commented on #4282
@sarabala1979, `argo lint` works as expected; this behavior is limited to `argo template lint` on a directory. Updated issue contents to remove `argo lint`.

[2020-10-15 17:18] alexec commented on #4291
Hmm. Works for me. Can you attach screenshot please?

[2020-10-15 17:21] alexec commented on #4291
Can you please provide full workflow?

[2020-10-15 17:51] abirdZendesk commented on #3551
We're seeing the same issue after upgrading from v2.8.1 to v2.11.3

[2020-10-15 17:55] jfb74 commented on #4291
@alexec I do believe it is something specific to our workflow as it is quite complex. Happy to share it with you privately to protect our privacy, is that possible?

[2020-10-15 18:10] alexec commented on #4291
For UI problems, I need some YAML that I can just `kubectl apply` to create the issue. Could you redact your YAML?

[2020-10-15 19:21] veggiemonk commented on #4288
Hi @sarabala1979 @alexec

Yes and yes! Currently, when `activeDeadlineSeconds` is reached, the step is marked as failed which in our case, it is not considered a failure, we wanted the application to gracefully stop after `activeDeadlineSeconds` is reached.

By the way, the timeout command has a `--preserve-status` which returns the exit status of the managed command on timeout, rather than a spec

[2020-10-15 20:52] istepura opened #4296 "Cannot submit workflow from workflow template with input artifact argument"
## Summary
I've converted https://github.com/argoproj/argo/blob/master/examples/arguments-artifacts.yaml to workflow template:
[code]
 But when I try and submit any workflow using this template, submission fails
[code]

## Server/CLI version
2.11.3

[2020-10-15 22:54] hadim opened #4297 "[UI] Unknown error. Open your browser error console for more information."
I tried argo 2.11.3 and 2.11.4. I don't remember seeing this issue using 2.10.*.

Sometimes on the main page after switching tab for a while I get the following message:

![Screenshot from 2020-10-15 18-43-40](https://user-images.githubusercontent.com/528003/96193725-d4463480-0f16-11eb-8a9e-9f2e8c8dd455.png)

Refreshing the page removes the error message and I can see the list of workflow again as

[2020-10-15 23:17] alexec commented on #4297
You appear to be opening the new events tab and you are getting a 403 error. This is because the user does not have permission to watch events. Please look at this example to fix:

https://github.com/argoproj/argo/blob/master/manifests/namespace-install/argo-server-rbac/argo-server-role.yaml#L31

[2020-10-15 23:23] hadim commented on #4297
I was still using a custom argo-role unmodified since the bump in version. Thank you @alexec , the new role fixed it.

[2020-10-16 01:06] cy-zheng commented on #4289
Hi @alexec , according to my test:

- `docker kill` worked for me. Since dockerd is running in host pid namespace, and in that namespace, the container init process doesn't have signal protection. That's why docker executor doesn't have such bug.
- `/sbin/killall5` worked for me too, but I don't think it's the right way, since some containers may not have `/sbin/killall5`.
- pns executor worked fo

[2020-10-16 02:11] #4081 closed

[2020-10-16 02:11] #4179 closed

[2020-10-16 02:11] #4160 closed

[2020-10-16 02:11] #4154 closed

[2020-10-16 02:11] #4151 closed

[2020-10-16 02:11] #4140 closed

[2020-10-16 02:11] #3707 closed

[2020-10-16 02:11] #3105 closed

[2020-10-16 02:11] #4042 closed

[2020-10-16 02:19] #3252 closed

[2020-10-16 02:24] gosoon commented on #4285
Version has been added, no YAML

[2020-10-16 02:56] cy-zheng commented on #4289
[code]

https://docs.docker.com/engine/reference/run/#foreground

[2020-10-16 04:33] terev opened #4301 "View Workflow Page Not Receiving Progress Updates"
## Summary

It seems like the view workflow page is no longer continuously receiving events. On 2.10.2 this did work where progress of the workflow could be viewed without refreshing. The SSE endpoint used to retrieve these events `/workflow-events` seems to be called once then after the request times out, a new watch request is not started. This may not be the only affected SSE endpoint.

## Diag

[2020-10-16 08:45] kenchan0130 commented on #4271
When the user triggers a workflow by Web UI, for example, the information about who executed the workflow is not recorded in Kuberenetes events.

[2020-10-16 09:40] cy-zheng opened #4302 "[Bug] pns executor cannot retrieve correct containerId with runtime cri-containerd"
## Summary

What happened/what you expected to happen?

When I use pns executor with containerd runtime, `argo stop` couldn't stop workflow pod successfully. The root cause is that containerd cgroup structure is different from docker, and pns executor failed to parse container id from /proc/{pid}/cgroup file.

## Diagnostics

What Kubernetes provider are you using?

bare metal v1.13.12 with contai

[2020-10-16 09:49] cy-zheng commented on #4302
BTW, do you have any plan to implement a cri executor, which talk with the runtime using standard cri api?
That would be more graceful and compatible with different cri backend.

[2020-10-16 13:57] arctiqtim opened #4304 "Input Parameters for Annotations not working"
## Summary

I am currently able to pass workflow parameters as variable input to pod annotations in a template, however I cannot pass input parameters.  Specifically for the use case of Vault Injector this limits the ability to use repeatable templates, while passing different values in steps in the workflow.

## Diagnostics

What Kubernetes provider are you using? - v1.16.13-gke.401

What version

[2020-10-16 14:56] idsvandermolen commented on #4286
I'm not that proficient in Go, but looks like in function `Replace` this https://github.com/argoproj/argo/blob/8facaceeb3515d804c3fd276b1802dbd6cf773e8/workflow/common/util.go#L375
could probably be replaced with:
[code]

[2020-10-16 15:14] alexec commented on #4271
The creator of each workflow is annotated on the workflow. You want this added to the event?

[2020-10-16 15:14] alexec commented on #4286
Want to submit a PR?

[2020-10-16 15:15] alexec commented on #4304
Does podSpecPatch work for you?

[2020-10-16 15:17] alexec commented on #4302
Would you like to submit a PR to fix?

[2020-10-16 15:18] alexec commented on #4301
Would you like to see if you can identify the offending change?

[2020-10-16 15:41] ademidun commented on #1538
Hey @hidekuro any reason why you closed this?

[2020-10-16 15:43] arctiqtim commented on #4304
Haven't tried that I'll give it a go now

[2020-10-16 16:22] hadim commented on #4297
Now the role is fixed, I can see the events for every workflow (very nice feature by the way).

That being said I still see this " Unknown error. Open your browser error console for more information." message on the UI (see above screenshot).

[code]

The way I can reproduce it is:

- go to the main workflow page: `/workflows/argo` (Fargo namespace): here I can see the list of running and complete

[2020-10-16 16:56] alexec commented on #4297
502 is a proxy error. What proxy are you using? They often need extra config to work with HTTP2.

[2020-10-16 16:57] #4265 closed

[2020-10-16 16:59] arctiqtim commented on #4304
I tried the following:

[code]

But it doesn't want to patch the annotation ... perhaps the podSpecPatch doesn't support annotation patching?

This is what comes through:

[code]

[2020-10-16 17:00] alexec commented on #4296
Interesting. You're expecting the workflow to use the arguments. Have you tried this:

[code]

[2020-10-16 17:02] alexec commented on #4252
There isn't anything available in `GetArtifact` to help make the determination. This large change, small benefit.

[2020-10-16 17:05] alexec commented on #4304
Probably. The change would need to be made in `createWorkflowPod`. Would you like to submit a PR?

[2020-10-16 17:07] alexec commented on #4059
See #4289

[2020-10-16 17:11] istepura commented on #4296
@alexec  That works of course and I'm using this approach in my workflow. When I found that example I liked ability to have artifact defined once in workflow arguments and then referenced by name in templates - less typing, especially if artifact is in S3.

[2020-10-16 17:13] alexec commented on #3781
Can you please try with v2.11.5?

[2020-10-16 17:13] alexec commented on #3959
Can you please try with v2.11.5?

[2020-10-16 17:14] #3865 closed

[2020-10-16 17:15] alexec commented on #3399
This could be fixed by streaming data. Would you like to submit a PR?

[2020-10-16 17:15] alexec commented on #3858
Can you please try with v2.11.5?

[2020-10-16 17:16] alexec commented on #3551
We have had a problem with a bug in EKS. That produces this behaviour.

[2020-10-16 17:18] alexec commented on #3933
Core team does not use GCS. Need help.

[2020-10-16 17:20] alexec commented on #4296
Good point. Have you tried using `default` too? If that does not work, then it might be good to fix.

[2020-10-16 17:22] arctiqtim commented on #4304
Unfortunately my Go chops are pretty terrible.  I'll dig into it a bit, I think I see where you mean in `workflowpod.go`

I'm happy to test as much as needed as well!

[2020-10-16 17:27] istepura commented on #4296
I assume you're referring to argument's default value? If so, only parameter arguments have `default` property, artifact arguments do not.

[2020-10-16 17:29] hadim commented on #4297
I am using GKE with the GKE built-in ingress. I enabled HTTP2 following the doc from https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-http2. The configuration works seeing:

[code]

as specified in the doc but I still see the error.

It might be a tricky configuration thing I am missing. Feel free to close if you don't think this is related to argo.

Thanks again for the help.

[2020-10-16 17:36] alexec commented on #4297
I would recommend checking out other argo issues that mention ingresses.

[2020-10-16 17:39] alexec commented on #4296
Something strange here. Can you create the original workflow ok? Without using WorkflowTemplate?

[2020-10-16 17:40] alexec commented on #4304
Get stuck in! We're OSS after all.

[2020-10-16 17:43] istepura commented on #4296
Yes, I can create it without problems:
[code]

[2020-10-16 18:05] alexec commented on #4296
Can I confirm that the template is created correctly? Not changed somehow?

Can you try `valueFrom`?

[2020-10-16 18:05] alexec commented on #4296
Can you also make sure your  CLI is up-to-date?

[2020-10-16 18:12] arctiqtim commented on #4304
Perhaps an easier path is to look to support input params directly for the annotations just like workflow params? Because those work perfectly.  :)

[2020-10-16 18:15] terev commented on #4301
Sure I'll have a look

[2020-10-16 18:16] alexec commented on #4262
This has been fixed in #3350 (I think).

[2020-10-16 18:16] #4262 closed

[2020-10-16 18:36] istepura commented on #4296
It was 2.11.3 this morning. I've updated it to 2.11.5 just now, but the behaviour is still the same
[code]

[2020-10-16 19:06] jessesuen commented on #4296
This is a valid bug.

[2020-10-16 19:08] jessesuen commented on #4302
@cy-zheng looks like you have the right idea for the fix. We'd love your assistance with this!

[2020-10-16 19:11] jessesuen commented on #4304
Looks like there is a typo. it should be `inputs` and not `input`:

[code]

[2020-10-16 19:16] omerfsen commented on #3080
Documentation updated with https://github.com/argoproj/argo/pull/4306/

[2020-10-16 19:22] #4293 closed

[2020-10-16 19:41] arctiqtim commented on #4304
FFS ... I think I've been staring at this problem for too long clearly.  Just applied to the templates I'm building with Vault sidecars for secrets management and the first tests look good.

Charge me the dumb dumb tax on this one.  Thanks @jessesuen and thanks @alexec for having a look!

[2020-10-16 19:41] #4304 closed

[2020-10-16 20:01] hadim commented on #4297
For the record, the example from the GKE documentation works but I have an `UNKNOWN STATE` error on the GKE ingress backend service when trying to use HTTP/2.

Here is the spec I am using:

[code]

The `gcloud compute backend-services list` command correctly shows that HTTP2 is used.

After the ingress has been created (check on the GKE dashboard), the ingress shows the following error: ` Some bac

[2020-10-16 20:20] terev commented on #4301
I have a feeling it has something to do with the changes here: https://github.com/argoproj/argo/commit/6e3c5bef5c2bbfbef4a74b4c9c91e288b8e94735#diff-884cea1f0a354998c12cefc2b8097a881fe6d621fa91c1c549d241d6023fa5b5L42 .

In my browser i added a breakpoint here [ ui/src/app/shared/services/requests.ts ](https://github.com/argoproj/argo/commit/6e3c5bef5c2bbfbef4a74b4c9c91e288b8e94735#diff-0670537605e

[2020-10-16 20:57] alexec opened #4308 "Key in index is not an unstructured"
## Summary

[code]

## Diagnostics

What Kubernetes provider are you using?

What version of Argo Workflows are you running?

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-10-16 20:58] istepura commented on #4296
I wonder if this has something to do with
https://github.com/argoproj/argo/blobhttps://github.com/argoproj/argo/blob/da115f9db328af9bcc9152afd58b55ba929f7764/workflow/validate/validate.go#L140-L142
[code]
Parameters are merged from template, but artifacts do not

[2020-10-16 21:00] alexec commented on #4301
What is the UI behaviour? Does it show an error?

[2020-10-16 21:03] terev commented on #4301
No error in the ui i can see. It just stays static in the state it was when loading the page (workflow-details).

[2020-10-16 21:28] alexec commented on #4296
Would you like to submit a PR to fix?

[2020-10-16 22:01] istepura commented on #4296
I could try. Assuming that merging logic for artifact is the same as for parameters - if workflow has artifact argument named "A" it will override WorkflowTemplate's artifact argument "A" (even if they are of different 'type' - S3/git/url)

[2020-10-17 00:43] max-sixty commented on #1293
### Fasttemplate

IIUC, fasttemplate isn't useful at all for these use cases, because it only does string substitution, no processing — and we already have that in argo. To quote from the readme:

In order to give anything like conditionals, or datetime processing, etc, we'd need a more fully featured library. I don't know the go space that well, but have used [gomplate](https://docs.gomplate.ca/)

[2020-10-17 01:07] cy-zheng commented on #4302
OK. I would create a PR for this issue :)

[2020-10-17 06:31] terev commented on #4301
Locally i reverted just these changes https://github.com/argoproj/argo/commit/6e3c5bef5c2bbfbef4a74b4c9c91e288b8e94735#diff-0670537605e4212d6dada675c6498eabe38d45eb0d3594d59c0779905a83f18bR319-R322 and after the first request times out another one is established.

[2020-10-17 08:52] idsvandermolen commented on #4286
👍 let me have a look

[2020-10-17 10:33] idsvandermolen commented on #4286
There you go, PR #4310

[2020-10-17 12:01] cy-zheng commented on #4289
According to my investigation, stop main container by killing the pid=1 process could have some edge cases, for example:

1. The docker image is based on `scratch` so it doesn't support kill command.
2. The init process of container ignores SIGTERM.

So I believe the best solution of this issue is to implement a cri executor. I'll create a proposal about that.

[2020-10-17 12:09] idsvandermolen commented on #4286
btw I had to make a few `Makefile` adjustments to be able to build (see PR #4311)

[2020-10-17 12:32] cy-zheng opened #4312 "[Proposal] Implement CRI executor"
# Summary

As an argo workflow user, I hope argo could support CRI executor, which could control container lifecycle via [cri api](https://github.com/kubernetes/cri-api/blob/master/pkg/apis/runtime/v1alpha2/api.proto).

There are some shortcomings in current 4 executors:

1. docker executor doesn't support other cri backend like containerd/crio/kata.
2. kubelet/k8sapi executor have some bugs to ki

[2020-10-17 12:52] cy-zheng commented on #4059
Root cause could be #4302.

[2020-10-17 14:57] basanthjenuhb commented on #4192
Making the changes in #4314
UI PR coming up next

[2020-10-17 14:58] #4286 closed

[2020-10-17 16:14] hadim commented on #4297
Continuing my investigations.

If I keep all the other components the same (`Service` and `Ingress`) and only replace the `argo-server` in `Deployment` by:

[code]

Then I can access to the ingress endpoint and obtain the following:

[code]

meaning that indeed HTTP2 works between the LB and the pod.

I tried using `argoproj/argocli:v2.11.5` with and without ` --secure, --insecure-skip-verify,` bu

[2020-10-17 16:19] hadim commented on #4297
Reopening here in order to gain more visibility (also I am probably not the only person having this issue as GKE is pretty common).

[2020-10-17 16:21] hadim commented on #3953
I confirm I had this issue with 2.10 but not anymore with 2.11.

[2020-10-17 16:34] gmfmi commented on #4059
Hi @cy-zheng, I would love to get these records but I won't get any access to my dev environment (I left the company). To me, it is exactly the same issue and I think that's also what @sigfridh was pointing out.

I think your solution will also close this issue, thanks a lot!

[2020-10-17 16:54] hadim commented on #4297
xref with https://github.com/kubernetes/ingress-gce/issues/1302

[2020-10-17 18:34] #3712 closed

[2020-10-18 00:08] alexec opened #4317 "TestCronSuite/TestBasic/TestBasicReplace"
[code]

[2020-10-18 03:19] sarabala1979 opened #4318 "Master-Worker Distributed processing on Workflow Controller"
# Summary
Currently, Single controller deployment has a performance impact if the Controller processing 50+ concurrent workflow or many larger workflows.  There are few workarounds to medicate this issue like

1. Namespaced installation
2. Install multiple controllers with instanceId
3. There is a max workflow process deadline to make sure all workflow gets processed.

Option 1 and 2 have a huge o

[2020-10-18 13:04] hadim opened #4319 "[UI] multiple GET errors"
See https://github.com/argoproj/argo/issues/4297 for context. I open a new issue because the previous one was in fact two issues. I also originally thought the issue was related to HTTP2 but it appears argo does not support HTTP2 so it must be something else.

Argo version tested: 2.11.3, 2.11.4, and 2.11.5.

### Error description

When navigating on `/workflows/argo` or an event page such as `/wo

[2020-10-18 13:04] hadim commented on #4297
Closing here in favor of https://github.com/argoproj/argo/issues/4319

[2020-10-18 13:04] #4297 closed

[2020-10-18 13:15] hadim commented on #4319
I forgot to mention two things:

- the error seems to appear kind of randomly when streaming or watching the detail of a running workflow (this one is harder to reproduce).
- this issue is not critical since the workflows can still be submitted, logs can be streamed and all the regular operations work as excepted. But it makes the global UX experience very painful when working with the UI for a lo

[2020-10-18 15:23] hadim commented on #4318
Have you made some benchmarks showing the limits at which a given workflow controller can be pushed (according to a defined number of CPU and memory allocated to the controller)? I guess the most pertinent metric for such benchmarks are the number of workflows and the distribution of the number of nodes per workflow.

[2020-10-18 16:40] kenchan0130 commented on #4271
I think that the event should contain (unique) information about the creator triggering the workflow in the WebUI.

[2020-10-18 19:52] #2967 closed

[2020-10-18 23:30] alexec commented on #4271
Sounds good. Would you like to submit a PR?

[2020-10-18 23:32] alexec commented on #4319
I think we fixed this in v2.12, but did not back port due to it being conflicty . Would you be interested in submitting a PR to back port that change to release-2.11

[2020-10-18 23:33] #4302 closed

[2020-10-19 06:47] kenchan0130 commented on #4271
I'm not a Go expert so I find it difficult to put out a PR.
I'm sorry.

[2020-10-19 07:23] iven commented on #2962
I've also meet an error with kubernetes client 1.18 and the context:

[code]

It seems argo depends on controller-tools v0.3.0, which depends client-go v0.18.2, which is conflicted with argo's dependency client-go v0.17.8.

The workaround I found is(put this in your `go.mod`):
[code]

Hope it helps.

[2020-10-19 09:05] ttjohn commented on #2902
Is there a specific issue that MySQL is not supported?  Any issues with underlying drivers?

[2020-10-19 12:05] TekTimmy commented on #4318
If i understand it right this is our concrete current problem.
Our Kubernetes Cluster (AWS EKS) is struggling as soon as we are above ~500 workflows. With struggling i mean Workflows are failing with one of the following error messages:
[code]

[2020-10-19 12:10] hadim commented on #4319
Can you point me to the related PR? I am happy to have a quick look but can't commit to anything due to limited bandwidth.

[2020-10-19 15:43] alexec commented on #4318
In Argo Events, the master controller effectively creates a single slave controller per namespace. This is something we could consider.

Anyone could write this master controller today and it would be possible to use it with any version Argo Workflows.

This would be the [operator pattern](https://kubernetes.io/docs/concepts/extend-kubernetes/operator/), of course the CRD you'd be operating on wou

[2020-10-19 15:51] alexec commented on #4319
[code]

Also, you could try running `argoproj/argocli:latest` to see if that fixes it.

[2020-10-19 18:39] wreed4 commented on #3172
just ran into this issue today.. is there a reason this was closed?

[2020-10-19 18:40] alexec commented on #3589
Investigate complete.

[2020-10-19 18:40] #3589 closed

[2020-10-19 18:40] alexec commented on #3589
https://docs.google.com/document/u/1/d/18hg6PTejp1knp5QTaCwP4j4gUTsRu4KDeKHs-4l9shs/edit?usp=drive_web&ouid=114615447895142998339

[2020-10-19 18:43] alexec commented on #4301
Can you test with `argocli:latest` please?

[2020-10-19 18:43] nirav24 opened #4324 "[UI] Error message does not get reset when valid argo workflow template is submitted after invalid template"
## Summary

I tried to edit workflow template with bad indented workflow and got error message. Then, I fix indentation and saved workflow successfully. The error message was still shown. I had to refresh the page to get rid of the error message.

### Screenshots

<img width="1010" alt="Screen Shot 2020-10-19 at 2 35 26 PM" src="https://user-images.githubusercontent.com/16739632/96497888-54231600-

[2020-10-19 18:50] alexec commented on #4290
If you use timezone, we do take DST into account.

[2020-10-19 18:50] alexec commented on #4290
Would anyone like to update the docs?

[2020-10-19 18:51] #4296 closed

[2020-10-19 18:54] alexec commented on #4324
I don't think you're running v2.7.6. This editor is newer than that.
Can you try with `argocli:latest?`

[2020-10-19 19:08] nirav24 commented on #4324
`argocli:latest` doesn't have this bug. I double check my version. I was using v2.7.6.

[2020-10-19 19:13] alexec commented on #4318
https://github.com/kubernetes/kubernetes/issues/24946#issuecomment-296835534

[2020-10-19 19:16] knabben commented on #4290
@alexec can I get this one?

[2020-10-19 20:17] alexec commented on #4290
Please.

[2020-10-20 00:25] #3761 closed

[2020-10-20 01:28] alexec commented on #4239
I've done some experiments and I can't see the benefit on 250 node workflows. I strongly expect benefits for larger numbers.

[2020-10-20 03:13] monsterxx03 opened #4325 "argo cron list *NEXT RUN* report wrong if timezone is not set"
## Summary

What happened/what you expected to happen?

Submit a daily cronjob without timezone.

From the doc, I know the timezone should be set as machine's timezone. My workflow controller is running in UTC.

If I run `argo cron list` in UTC timezone, get correct value:

    NAME                         AGE   LAST RUN   NEXT RUN   SCHEDULE         SUSPENDED
    test-cron-wf                 2m

[2020-10-20 06:42] conanoc opened #4326 "argo lint does not detect missing input parameters"
## Summary

`argo lint` does not detect missing input parameters in a step.

What happened/what you expected to happen?

I made a workflow with missing input parameters in a step.
`argo lint` didn't detect the issue. (Same with `argo template lint` with changing `kind` to WorkflowTemplate)
The workflow printed "{{inputs.parameters.message}}" as a raw text when the workflow submitted as follows:
[c

[2020-10-20 08:51] tse77 opened #4327 "Changes to workflow semaphore seems not to trigger reload semaphore state in workflow-controller"
I'm not sure this is a bug or not but I got some feedback when asking on stackoverflow to submit an issue.

I'm learning about semaphores in the Argo project workflows to avoid concurrent workflows using the same resource.

My use case is that I have several external resources which only one workflow can use one at a time. So far so good, but sometimes the resource needs some maintenance and durin

[2020-10-20 09:59] nemanjasymphony opened #4328 "Infinite creation of new Workflows."
## Summary

When we start Argo Workflows it works ok, but in some moment (let's say two or three hours later) it starts creating new workflows and it never stops. This is huge issue for us, because this is basically an infinite loop - new workflows are constantly creating. It affects our resources a lot.

Note: We are triggering workflows via AMQP sensor.

## Diagnostics

What Kubernetes provider

[2020-10-20 11:50] aletepe commented on #3973
I'm working on this bug for Hacktoberfest. @alexec I'd like to not only fix the bug but maybe tweak it a bit to differentiate not available values from secrets. I was thinking having the value show as _`[redacted]`_ (or something similar) when the value is a secret, and showing `not available` for other reasons. Where would you say is the best place to put that logic?

[2020-10-20 14:48] alexec commented on #4326
Bug probably in `validate.go` would you like to investigate a PR?

[2020-10-20 14:49] alexec commented on #4328
This is an Argo Events issue.

[2020-10-20 14:54] alexec commented on #3973
@aletepe I don't think the actual value will be returned by the API call. So I don't think you'll need to redact it. What will be useful is showing it is from a secret (e.g. using an FontAwesome icon, e.g. `<i className='fa fa-key'/>`), the name of the secret and key within it. This allows the user to then go and look it up themselves if they need to.

[2020-10-20 16:48] sarabala1979 commented on #4327
It is working as expected. The controller has a 20 minutes  Workflow resync period if there is no change in workflows.  All pending workflows will be picked up in 20 minutes or if any user creates/updates new workflows.

[2020-10-20 17:25] aletepe commented on #3973
@alexec I meant writing literally `redacted`, so as to make users understand there was actually a value behind it and not simply that there is no value available, and thus avoiding the confusion which led to raising this bug.
I like the idea of showing a more details about the secret, like the icon you mention 👍

PS: could you please assign this issue to me? Thanks before hand!

[2020-10-20 17:25] juliusvonkohout commented on #4186
It seems like #4253 eliminates the need for SYS_PTRACE, but SYS_CHROOT is still needed to extract artifacts from base image layer.

So we need to run a recent containderd or CRI-O cluster, because docker still had some issues with allowing capabilities for non root. I just tested minikube with Kubernetes 1.17 and 1.18.

You need the following stuff. I or you can create a merge request. I do not ca

[2020-10-20 18:14] alexec commented on #4186
That is broadly correct. #4253 fails to a K8S API call. None of the executors can have artifacts on a base layer when you run as non-root.

[2020-10-20 18:16] alexec commented on #3973
sure or maybe "secret"?

[2020-10-20 18:27] #4285 closed

[2020-10-20 18:27] #4282 closed

[2020-10-20 18:28] #4244 closed

[2020-10-20 18:41] sarabala1979 commented on #4326
Do you like to fix and submit PR?

[2020-10-20 18:50] sarabala1979 commented on #4327
I discussed it with Team. We are going to improve the user experience in this scenario to process the workflow immediately once the config map updated. I am going to work on this.

[2020-10-20 18:53] dllehr81 opened #4330 "goofy syntax issue in examples/README.md"
## Summary

In the https://github.com/argoproj/argo/blob/master/examples/README.md#volumes example for creating a pvc on the fly, the
`resource` section is under `inputs` when I believe it should be one level up.

## Diagnostics

What Kubernetes provider are you using?
Openshift 4.3
What version of Argo Workflows are you running?
2.10.1
[code]

should be
[code]

I can submit a PR but don't want to

[2020-10-20 19:06] alexec commented on #4330
You are correct. Would you like to submit a PR?

[2020-10-20 19:21] jessesuen commented on #4327
@sarabala1979

You can copy what Rollouts does with Istio VirtualServices. We run a VirtualService informer which indexes on VirtualServices referenced by a Rollout. When a VirtualService is modified, we immediately enqueue the referencing Rollout.

https://github.com/argoproj/argo-rollouts/blob/df1ac603aad887cc018b43aff62226bbc26a2d17/rollout/controller.go#L238-L243

[2020-10-20 21:21] Ark-kun commented on #2679
AFAIK, Argo tries to use mirrored volumes to make the input artifacts accessible to the main container and capture the output artifacts.

See https://github.com/argoproj/argo/blob/4de64c618dea85334c0fa04a4dbc310629335c47/workflow/controller/workflowpod.go#L793 https://github.com/argoproj/argo/blob/4de64c618dea85334c0fa04a4dbc310629335c47/workflow/controller/workflowpod.go#L896
https://github.com/a

[2020-10-20 21:24] Ark-kun commented on #2679
Perhaps we should add logic such that for every output artifact there should be an emptyDir mounted at it's parent directory unless there is another volume already mounted underneath.

[2020-10-20 21:49] alexec commented on #2679
thank you @Ark-kun

[2020-10-20 22:59] conanoc commented on #4326
I'll take a look at the validate.go, but I'm not sure I could fix it.

[2020-10-21 01:25] toyama0919 commented on #2800
sse: s3 worked.
But sse: kms doesn't work.
I checked with kubeflow-1.0.1.

[2020-10-21 03:45] cal-pratt commented on #3887
Is there a more preferred way to post feature requests? Can this be re-opended? This is a big pain for me as well.

Wrapping the arguments in `sh -c` doesn't seems like the ideal solution to what must be a common issue _(although I wouldn't say I know a better way to implement such a feature)_.

I have a similar thought where I would like to be able to pass a list to my script, and also be able to

[2020-10-21 04:27] Bobgy commented on #3307
Kubeflow Pipelines try to separate cluster config (like artifact repository) from workflow config. If this feature is supported from argo, we could let each user manage its artifact repository in their own namespace while keeping the workflow definitions shareable.

Some recent discussion: https://kubeflow.slack.com/archives/CE10KS9M4/p1602516358147900

[2020-10-21 08:25] Bobgy commented on #3708
I tried latest release of argo, I couldn't figure out how to get `id` there though.
Any thoughts? Should I open a new issue.

[2020-10-21 09:00] tse77 commented on #4327
That's really great news and Argo will support our use case better then :smiley:

Out use case is that we have workflows connected to test systems for long running system level software/integration test on embedded devices. Occasionally we need to perform maintenance on the test systems and need  a way to block Argo from starting workflows during that time. So we change the semaphore value manuall

[2020-10-21 10:44] Bobgy commented on #3708
I found this can be worked around by exposing a parameter from the step I want to know pod name by `{{pod.name}}`, then referring to that parameter in the step that wants to consume the id.

[2020-10-21 12:22] dcnsakthi commented on #1021
kubectl create rolebinding default-admin --clusterrole=admin --serviceaccount=argo:default --namespace=argo

[2020-10-21 12:24] dcnsakthi commented on #2522
kubectl create rolebinding default-admin --clusterrole=admin --serviceaccount=argo:default --namespace=argo

This works for me.

[2020-10-21 13:22] simonfrey opened #4337 "Weird space in parameter view"
# Summary

If a parameter is too long it gets broken into the next line. This next line is super far away from the first one.

It would be great if the space is removed

![Screenshot](https://user-images.githubusercontent.com/24354822/96725324-0f31e780-13b1-11eb-812d-a2b87e2f1e62.png)

# Use Cases

When I check the parameters of a workflow step

---

**Message from the maintainers**:

Impacted by

[2020-10-21 13:24] wyzksp opened #4338 "open artifact : permission denied"
## Summary

**What happened:**
I installed the quick-start-postgres.yaml, submitted the  example using the argo UI. After the example succeeded,I want to see the logs in Archived Workflows, but it shows "Internal Server Error". Then  I clicked on" logs from the artifacts", but it shows "open artifact788239015: permission denied". I clicked on "OUTPUT ARTIFACTS" and I can see the file"main-logs", b

[2020-10-21 14:42] alexec commented on #4337
Ok. Would you like to submit a PR to fix?

[2020-10-21 14:44] alexec commented on #4338
Is the HTTP status code 403? If so, you probably don’t have the correct Kubernetes RBAC permission set up.

[2020-10-21 15:44] TekTimmy opened #4339 "Slow / Unresponsive Kubernetes API"
## Summary
Not sure if this is Argo or AWS Kubernetes related... I would label it more as a "Problem" than a bug.

If we run ~300 Argo workflows (about 8 non parallel steps each) in parallel on our EKS Cluster which takes ~70 Nodes the Kubernetes API starts to get slow and in worst case we experience API timeouts.
The worst thing is that it also makes the workflows fail with different error messag

[2020-10-21 15:58] alexec commented on #4339
There is code in place to mitigate issues with updating the result of high load for the Kubernetes API (5 attempts over 500ms), so I believe you must be under extreme load.

I think this can be improved however (every 1s with exponential back-off over 10s say).

[2020-10-21 16:10] alexec commented on #4096
@Ark-kun would you like to submit a PR for this? It would need to be configurable somehow as it changes the default. behavior. I did attempt a PR myself, so I'm in a good place to review your changes.

[2020-10-21 16:15] alexec commented on #3184
How does this differ from #3307?

[2020-10-21 16:19] TekTimmy commented on #4339
Thanks a lot for that @alexec!
An `argo list` takes 4.5 seconds for me :open_mouth: so those timeouts might even not be enough.
Yes there is a lot of load on every node but it should not influence the Kubernetes API, or does it?
Might the `nodeStatusOffLoad: true` help to reduce the load on the Kubernetes API server?

[2020-10-21 16:22] TekTimmy commented on #4339
FYI EKS Cluster load:
[code]

[2020-10-21 18:26] Dhaval08 commented on #4017
@ivancili  Hello, I am facing the exact same issue. If the pod does not register any new logs (which can happen in case of long running epochs), the connection is closed assuming all logs have been streamed.
Have you figured out a solution to keep the connection alive?
Thank you.

[2020-10-21 18:38] boundless-thread commented on #1319
@alexec What are the complications to this that you know of?  Can you explain a bit more about "changing pod names means that workflows break during upgrades"? I've done a cursory look at the workflow controller code to see if this is possible.  From my understanding a pod is named from a `nodeId` which is determined from a `nodeName`.

https://github.com/argoproj/argo/blob/master/workflow/control

[2020-10-21 18:43] boundless-thread commented on #4338
I experienced this from a quick start installation as well.  After reapplying the RBAC roles and bindings, the issue went away.  I suspect this might have something to do with  the quick start manifests.

[2020-10-21 20:00] ivancili commented on #4017
@Dhaval08 Unfortunately no, I haven't invested any further time in solving this issue. In my case the problem is clearly the nginx ingress controller, which terminates the proxy connection to the Argo server if no data has been transmitted for some period of time. I send requests from outside the cluster, which are then proxied by the nginx ingress.

I used an annotation inside the ingress rule wh

[2020-10-21 20:29] alexec commented on #4338
Can you provide the exact files you find yourself applying? It might be that they are not listed correctly.

[2020-10-21 21:06] Dhaval08 commented on #4017
@ivancili
I am trying to implement a streaming API in golang that would talk to the Argo server and stream the logs from the pod that's running the Argo workflow.

[2020-10-21 21:14] alexec commented on #3184
Work in progress (not trivial to solve) you only need to specify `s3.key`, everything else (e.g. `s3.bucket`) is taken from the `artifactRepositoryRef`

[code]

[2020-10-21 21:47] terev commented on #4301
@alexec I had to modify my proxy config since the cli only works with a grpc connection:
[code]

However the watch still times out after one minute because of nginx's default keep alive setting of 1 minute. This keepalive setting is also the reason why the ui request times out. If the request times out the client should re start the watch in my opinion.
[code]

[2020-10-21 22:14] alexec commented on #4301
@alexmt any thoughts on what does Argo CD does about this? Does it send some kind of keep-alive?

[2020-10-22 03:38] wyzksp commented on #4338
Just this one[quick-start-postgres.yaml](https://github.com/argoproj/argo/blob/master/manifests/quick-start-postgres.yaml)

[2020-10-22 04:55] sarabala1979 commented on #4325
I can see the problem. It is taking local timezone in both places because `timezone` is not defined in workflow.  I would recommend  to try the following workaround to specify the `timezone` in cronworkflow.

[code]

[2020-10-22 05:34] jackywu opened #4343 "import argo release-2.11 and client-go v0.17.8 in my project is Incompatible"
## Summary

What happened/what you expected to happen?

## Diagnostics

[code]
and look at go.mod in your project directory.

[code]
that is v0.18.2 instead of v0.17.8 .

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-10-22 07:44] Ark-kun commented on #3307
Please help me understand, how it's supposed to choose the input artifact from the arepository (out of thousands of artifacts already there) based on this information alone?
[code]
This does not seem to contain any information that can be used to get an artifact.

[2020-10-22 07:51] Ark-kun commented on #3307
One solution that could solve this feature request is to  add support for a generic `uri` field in the artifact. The rest of the artifact repository information can be selected based on the artifact URI schema.

[code]

This would also be a step towards making it possible to pass the artifact URIs using placeholders like `{{tasks.some-task.outputs.hello_world.uri}}`.

[2020-10-22 08:57] simonfrey commented on #4337
Could do that. Would you mind adding the Hacktoberfest label, so it would count into the tshirt thingy? :D

[2020-10-22 08:57] ptemmer opened #4344 "workflowDefaults not propagated to workflowTemplate"
## Summary

As part of the workflow controller configmap, we configure workflowDefaults such as volumes.
Since we upgraded from v2.8.0 to v2.11.6 our workflows fail with:

`volume 'github-keypair' not found in workflow spec`

`kubectl get wf WORKFLOW_NAME -o yaml` does list the missing volume..

`argo resubmit WORKFLOW_NAME ` does not show the same issue. the workflow completes as expected

It's w

[2020-10-22 11:22] conanoc commented on #4326
I figured out how to fix it.  I'll submit PR soon.

[2020-10-22 11:32] cthulhu666 opened #4345 "Manifest file `install.yaml` has incorrect ClusterRoleBindings."
## Summary

What happened/what you expected to happen?

## Diagnostics

What Kubernetes provider are you using?

What version of Argo Workflows are you running?

[code]

[code]

I believe a fix is to change `namespace: argo` to `namespace: default` in `argo-binding` and `argo-server-binding` ClusterRoleBindings. At least it works for me.
I would submit a PR, but this manifest file is auto-generate

[2020-10-22 13:56] alexec commented on #3307
How would you support secrets for username + password?

[2020-10-22 13:57] alexec commented on #4343
use go.mod `replace` directive?

[2020-10-22 14:40] jackywu commented on #4343
thanks @alexec ，I guess it works , and go further more ,  any other elegant way？

[2020-10-22 15:16] #2671 closed

[2020-10-22 15:16] #3522 closed

[2020-10-22 15:16] #3600 closed

[2020-10-22 15:17] alexec commented on #4343
Not AFAIK - welcome to the world of Gomodules!

[2020-10-22 16:51] #4330 closed

[2020-10-22 18:13] aleksandrmelnikov commented on #3933
@alexec Thanks for checking in here!

I would be happy to test this on our end.
Could you give me some details on the  "emptyDir pattern" with GCS use?

If I can make it work, I can also try to update argo docs.

[2020-10-22 18:29] alexec commented on #3933
https://argoproj.github.io/argo/empty-dir/

Not sure it is relevant to GCS mind you.

[2020-10-22 18:38] andyleap commented on #3953
This seems to be fixed in 2.11 for me as well.

[2020-10-22 18:38] #3953 closed

[2020-10-22 18:46] andyleap opened #4348 "Namespace filter not being cleared"
## Summary

What happened/what you expected to happen?

What happened:
1. Open argo ui
2. Enter namespace and hit enter
3. Clear namespace with x
4. Reload UI (or any other kind of navigation away from and back to argo root
5. Namespace from step 2 is back

Expected:
Step 5 would show workflows from all namespaces.

## Diagnostics

What Kubernetes provider are you using? GKE

What version of Argo

[2020-10-22 18:48] alexec commented on #4345
you must install into the `argo` namespace

[2020-10-22 18:48] alexec commented on #4345
or use a tool to patch the manifests

[2020-10-22 19:03] alexec opened #4349 "Configure artifacts using URIs, e.g `s3://my-bucket/my-key`"
# Summary

It might be convenient and more compact to represent artifacts by URIs. A bit like [go getter](https://github.com/hashicorp/go-getter), but with the option to put as well as get.

# Use Cases

Add more repositories.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-10-22 19:04] alexec commented on #4349
Local files
Git
Mercurial
HTTP
Amazon S3
Google GCP

We'd also need:

* Raw
* Artifactory (maybe just use HTTP)
* OSS

How do you do secrets?

[2020-10-22 19:07] cthulhu666 commented on #4345
I see.
I'm not sure if installation manual is clear on that regard.

[2020-10-22 19:08] alexec commented on #4345
Might be good to update it. Would you like to submit a PR?

[2020-10-22 20:36] alexec commented on #4301
The way the UI is coded is that it should present an error notice if there is an error, and then automatically reconnect.

[2020-10-22 20:52] terev commented on #4301
that's what i thought as well since the eventsource handles that but it doesn't seem to work

[2020-10-22 21:06] alexec opened #4351 "v2.11.6: Parent CronWorkflow 'argo/canary' is malformed"

[2020-10-22 21:10] alexec commented on #4351
Caused by #4320?

[2020-10-22 21:11] alexec commented on #4351
[code]

This must mean that `cc.cron.Entry(entryId.(cron.EntryID)).Job` is not a `*cronWfOperationCtx`.

[2020-10-22 21:18] alexec commented on #4351
@sarabala1979 I don't think you change introduced a new bug. I think it revealed an existing one.

I think that because the parent cron-workflow has been deleted, we get nil back. I think this is just fine and we should ignore it (or only warn).

[2020-10-22 21:50] szab100 opened #4353 "Add labels to K8S Workflow events"
# Summary
It would be very useful to add labels to Workflow controller events, such as WorkflowSucceeded WorkflowFailed, including a label pointing back to the CronWorkflow object (if the Workflow is a child Node of a CWF).

# Use Cases
This would be used with Argo Events / ResourceEventSource when we need to listen on successful / failed completion events of a CronWorkflow.

---

**Message from t

[2020-10-23 00:25] #4343 closed

[2020-10-23 02:15] #4339 closed

[2020-10-23 07:05] mruoss commented on #3898
Has this been released yet? I still don't see these two variables being replaced in my links...

[2020-10-23 08:13] Bobgy opened #4355 "Workflow lifecycle hook plugin"
Hi Argo maintainers! Thank you so much for building such an awesome workflow solution for Kubernetes!
I'm a maintainer of [Kubeflow Pipelines (KFP)](https://github.com/kubeflow/pipelines).
Kubeflow Pipelines uses argo workflows under the hood as the workflow engine, see https://github.com/kubeflow/pipelines#acknowledgments.

# Use Cases

## TLDR

Realized I wrote too long, so TL.DR here
We want a

[2020-10-23 09:00] lueenavarro opened #4356 "in comparator does not work when there is only one value inside the parenthesis"
## Summary
"in" is now supported in conditionals but I am getting an error when trying to use it with only one value inside the parenthesis

Here is the error I got:
[code]
However if I use `when: "a in (a,b)"` then it works.
## Diagnostics

What Kubernetes provider are you using?
Kubernetes in IBM cloud

What version of Argo Workflows are you running?
v2.11.6

Here's an example of a workflow that

[2020-10-23 15:09] #4199 closed

[2020-10-23 15:10] alexec commented on #4356
Would you like to dig into the code and see if you can find the cause?

[2020-10-23 15:13] simster7 commented on #4181
@dertodestod @Sushant20 can you guys confirm if upgrading fixed the issues?

[2020-10-23 15:18] alexec commented on #4355
My first thought is how would you do lifecycle hooks today:

1. We emit Kubernetes such as `WorkflowRunning` which another controller could pick up on and perform processing based on this.
2. Any workflow could have an initial step and an exit handler to do the processing.

I'm guessing you've considered these already - so I'm interested to know how they don't fit the bill, or how you want to do t

[2020-10-23 15:33] cscetbon opened #4359 "Integers are no longer supported in parameters"
## Summary

What happened/what you expected to happen?

When we have a workflow template with a parameter that can be an integer we get the following error `cannot unmarshall spec: cannot convert int64 to v1alpha1.Int64OrString`.

Integers were supported in 2.10 and it no longer works with 2.11.6 (only 2.11 version I've tested)

## Diagnostics

What Kubernetes provider are you using?
1.19

What ve

[2020-10-23 16:08] lueenavarro commented on #4356
In workflow/controller/steps.go, there is this function. Its probably line 321 that is causing the error
[code]

[2020-10-23 16:10] alexec opened #4360 "Link to catalog/examples from UI"
# Summary

What change needs making?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-10-23 16:11] alexec commented on #4359
How are you creating workflow? Using CLI?

[2020-10-23 16:38] lueenavarro commented on #4356
This does not seem to be a bug in argo but a bug in govaluate. I found this issue in their github.
[https://github.com/Knetic/govaluate/issues/79](url)

[2020-10-23 16:58] #3516 closed

[2020-10-23 17:51] omerfsen commented on #3479
I also have this requirement too. So my purpose is to change CA so internal CA cert can be used and minio does not get

[code]

error

I have tried: (after every change i have restarted all pods via kubectl rollout restart deployment -n argo  so ALL pods restarted)

[code]

or

[code]

or

[code]

[2020-10-23 18:13] cscetbon commented on #4359
@alexec, that one using argo cause kubectl does not support `generateName`., but I have others that were created using kubectl

[2020-10-23 18:44] sarabala1979 commented on #4353
do you like to submit PR for this feature?

[2020-10-23 19:20] alexec commented on #4359
[code]

[2020-10-23 19:21] alexec commented on #4359
Can you please run
[code]
And check you don't have an old CLI version.

[2020-10-23 19:29] alexec commented on #4353
Addendum to @sarabala1979 - would annotations work for you? Easier to do, more common, better supported.

[2020-10-23 20:57] #4351 closed

[2020-10-23 21:45] cscetbon commented on #4359
oh weird you're right, I've installed argo 2.11.6
[code]
but it wasn't link for a reason
[code]

So you think it's coming from the client when it submits the workflow template ?

[2020-10-23 22:13] cscetbon commented on #4359
However our workflows were created using kubectl and they are CronWorkflows, so submitted by Argo itself not us. They were created pre 2.11. We did not delete/recreate them since we switched to 2.11

[2020-10-23 22:16] alexec commented on #4359
can you please provide the cron workflow?

[2020-10-23 22:21] cscetbon commented on #4359
the one in this ticket was just an example but here is the one on prod. I think there is not much to learn here as it calls the template that has a default value with the integer but doesn't overwrite it. Here is what it looks like

[code]

[2020-10-23 22:27] alexec opened #4364 "Design-out Kubernetes event bugs"
## Summary

We have code to emit Kubernetes events, but it is clear that our could emit two `WorkflowFailed` events or none at all. Just look for examples like:

[code]

There are bound to be bugs here.

## Solution

Update `woc.markWorkflowPhase` to emit the correct event. Remove other invocations of `woc.eventRecorder.Event(...)`.

**Message from the maintainers**:

Impacted by this bug? Give it

[2020-10-23 23:51] leokassio commented on #4270
I am also impacted by this bug
Kubernetes: `1.18.8`
Argo: `2.10.1`
It fails to resolve the `id`, `ip`, `startedAt` and `finishedAt`
`Failed to submit workflow: templates.TEMP_NAME.steps failed to resolve {{steps.STEP_NAME.id}}`

[2020-10-24 02:33] basanthjenuhb commented on #4192
Making the UI changes in #4365
@alexec can you help with the PR

[2020-10-24 03:23] omerfsen opened #4366 "mount a volume on the wait container does not work"
## Summary

Trying to mount Volumes to wait pod on executor does not work.

## Diagnostics

AKS 1.16.13 , EKS 1.17 , Kind 1.17

v2.11.6

I am trying to mount a volume from a secret on wait node because our minio is SSL enabled by default even from inside kubernetes cluster but this SSL is signed by an Internal CA.

So my purpose is to change CA so internal CA cert can be used and minio does not ge

[2020-10-24 03:54] omerfsen commented on #4366
related to https://github.com/argoproj/argo/issues/3479

[2020-10-24 15:41] juliusvonkohout opened #4367 "K8Sapi fails on first try and succeds on second"
## Summary
The example fails once and finishes after second try.

## Diagnostics

Kubernetes 1.18
argoexec 2.11.6
workflow-controller v2.3.0

[code]

[code]

[code]

[code]

[code]

[code]
---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-10-24 18:27] muwon opened #4368 "UI "Failed to load logs: Unsuccessful HTTP response""
## Summary

Submit sample hello-world workflow using command line "argo submit" or via UI.  The workflow completed successfully. But when click on [LOGS], it shows "Failed to load logs: Unsuccessful HTTP response".

## Diagnostics

What Kubernetes provider are you using?
v1.16.9
What version of Argo Workflows are you running?
v2.11.3 and v2.11.6
[code]

[code]

---

**Message from the maintainers*

[2020-10-24 20:48] max-sixty commented on #2901
Would anyone have any information on whether argo will retry tasks based on `retryStrategy` that are interrupted by GCE preemptible / EC2 spot nodes shutting down?

If I _delete_ the pod manually, argo seems not to retry the task — but that's an imperfect replication of a node shutting down.

[2020-10-25 14:26] eestewart commented on #4319
I didn't open the issue, but running `argoproj/argocli:latest` fixed this problem for me.

[2020-10-25 14:43] yonirab opened #4370 "Automatically redirect to requested URL after successful SSO login"
# Summary

Our users use SSO to authenticate and login to Argo UI (we are v2.9.3).
We provide users with a direct link to their workflow status in the UI (e.g. under `/workflows/default/some-workflow-id`).
If user is currently not logged in, he gets redirected to the `/login` route (which is OK).
However, after logging in, he is directed to the `/workflows` route, instead of the route he originall

[2020-10-25 18:21] #3760 closed

[2020-10-25 22:20] hadim commented on #4319
@eestewart thanks for confirming it works on `master`. I probably won't fix the bug in 2.11 and will wait for 2.12 instead.

I close since this is fixed on `master`.

[2020-10-25 22:20] #4319 closed

[2020-10-26 00:11] cscetbon opened #4372 "nil pointer exception in workflow controller"
## Summary

What happened/what you expected to happen?
A step failed and instead of retrying the step like Argo usually does, it stopped there with the following message
`runtime error: invalid memory address or nil pointer dereference`. It started since we upgraded Argo from v2.10 to v2.11.6

## Diagnostics

What Kubernetes provider are you using?
[code]

What version of Argo Workflows are you ru

[2020-10-26 02:27] cy-zheng commented on #4230
Maybe the root cause is like https://github.com/argoproj/argo/issues/4302

[2020-10-26 02:41] cy-zheng commented on #4230
There are a strange prefix before containerId:
[code]
@iamcnx can you show me the content of file `/proc/{container-main-process-pid}/cgroup` inside container? It seems the issue is related to https://github.com/argoproj/argo/issues/4302

[2020-10-26 03:00] arnoldcui commented on #3781
We have tried v2.10,The crash problem seems fixed.

[2020-10-26 03:00] #3781 closed

[2020-10-26 07:25] Bobgy commented on #4355
Hi @alexec, maybe I wasn't clear enough. What we want is lifecycle hooks for tasks, not workflow.

Above mentioned feature request is an early strawman proposal, if there are any way existing today or any other way you may design that can let us manage task lifecycle with our requirements, we are okay to them too.

[2020-10-26 09:33] Ark-kun commented on #2393
What do you think about something like `{{steps.write.outputs.parameters.number.list}}` or `{{steps.write.aggregated.outputs.parameters.number}}`?

[2020-10-26 09:39] saiyidi commented on #4368
![errorArgologs](https://user-images.githubusercontent.com/52663864/97156840-90a1c500-1777-11eb-89c3-947b5a3faefb.jpg)
I too get this

[2020-10-26 09:39] Ark-kun commented on #934
I like this form, but I think there needs to be a way to access artifacts per-output. For example `tasks.my-loop.output.artifacts.something`. Then the artifacts are downloaded into `input-artifact-dir/{0,1,2,3,...}/` sudirectories as you've proposed.

[2020-10-26 10:18] juliusvonkohout commented on #4367
@alexec @jessesuen i think your are the executor guys, right?

[2020-10-26 12:22] Bobgy commented on #4355
I just built a POC of one type of interface I'd want for caching: Allow an init container in a task to decide whether the Pod should be cached, if it should be cached, the init container can mark the Pod as skipped and emit previous artifacts loaded from a database.

https://github.com/kubeflow/pipelines/blob/mlmd2/contrib/ir/samples/05_caching.yaml
I used a few hacks to achieve this with argo tod

[2020-10-26 12:27] Bobgy commented on #4355
Regarding Pod exit handler, it probably works for me simply generating two argo steps for each user step, so that we put exit handler into a single argo step.

[2020-10-26 13:27] simster7 commented on #4372
#4376 should be the fix, but can you add a workflow to reproduce to verify?

[2020-10-26 13:57] nmandery opened #4377 "semaphore limit leads to far lower number of conccurent workflows than expected"
## Summary

Using a semaphore to limit the concurrent workflow executions leads to a far lower number of concurrent executions. I started 100 instances of a workflow limited to 6 concurrent executions using a semaphore. This was more-or-less taken from the argo examples. Interestingly in the beginning argo executed 6 Worflows in parallel, but after that dropped the number of concurrent executions

[2020-10-26 14:26] cscetbon commented on #4372
The workflow we have is really dependent on what we do so I would need some time to build a fake one. But what I can tell you is that we have that section in the workflow which seems to match your fix:
[code]

Also I hope you'll add some tests @simster7 to use that code with workflows that have or not a retry strategy etc...

[2020-10-26 14:33] sarabala1979 commented on #4377
@nmandery can you provide last 5 minutes logs? I didn’t see any workflows are in pending state and waiting for semaphore in log. Are you seeing ‘Pending’ workflows on your namespace?

[2020-10-26 14:38] sarabala1979 commented on #4372
V2.10 to v2.11 upgrade could cause this issue. We have refactored IntStr in v2.11.

[2020-10-26 14:40] cscetbon commented on #4372
@simster7 I finally got one that you can test
[code]

[code]

[2020-10-26 14:53] nmandery commented on #4377
@sarabala1979 All workflows are successfuly finished, so there is no issue with the lock not being released. It is just that I expected that argo continously handles 4-6 workflows at once, and not just one like in the second half of the graph I posted.

The complete log is available [here](https://gist.github.com/nmandery/9b691e131f0cd8198b1ee17d0ebe9d15)

[2020-10-26 15:02] nmandery commented on #4377
Here is another plot of the same data. The pending workflows get all handled as expected until all reach the "finished" status. But the whole batch only has concurrency in the beginning, after that it is just sequential processing of the workflows one by one. I hoped to achieve a higher throughput, but I currently do not understand the cause for this behavior.

![output](https://user-images.github

[2020-10-26 15:21] iamcnx commented on #4230
@cy-zheng It seems that you are right.
[code]

[2020-10-26 15:27] sarabala1979 commented on #4377
Do you have  any `parallelism` set in `workflow-controller-configmap`?

[2020-10-26 15:40] nmandery commented on #4377
@sarabala1979 That was a good hint. `parellelism` was still set to 3 in `workflowDefaults` - my fault that I missed this. I did re-run my test after removing `parallelism` completely and this was the result:

![output](https://user-images.githubusercontent.com/140716/97193949-dc6d6200-17a9-11eb-9332-0a3c5a07fae5.png)

While the number of concurrent workflows is far better, the throughput is still

[2020-10-26 15:42] simster7 commented on #4372
Thanks @cscetbon, I confirmed the fix works

[2020-10-26 16:01] sarabala1979 commented on #4377
Let me try to reproduce locally. How do you generate the above graph? is there any tool?

[2020-10-26 16:03] fwfichtner commented on #4377
[gnuplot](http://www.gnuplot.info/) I think

[2020-10-26 16:08] nmandery commented on #4377
@sarabala1979 It is less a tool, more a hack. I will provide it later today.

[2020-10-26 16:47] alexec commented on #4368
Could you please check in your web console to see what the exact error is?

[2020-10-26 16:49] alexec commented on #4367
This is a bug I think. The `resource` template you show does not appear to have artifacts on the base layer.

[2020-10-26 16:51] alexec commented on #4355
I think the kind of caching you're talking about could be done using the new memorization feature.

Kubernetes events are also emitting for node completion. If they were also emitted on start, would that help?

[2020-10-26 16:53] #4372 closed

[2020-10-26 16:56] alexec commented on #4230
I think this could be fixed coincidentally by #4253. Could you please try `argoproj/argoexec:latest`?

[2020-10-26 17:22] iamcnx commented on #4230
Nice! It works. Thank you very much :)
[code]

[2020-10-26 17:22] #4230 closed

[2020-10-26 17:22] alexec commented on #4308
@simster7 could I please ask you to own this? It is an edge-case that only happens (I think) when a watch returns an object that was deleted.

[2020-10-26 17:23] alexec commented on #4317
@simster7 could I please ask you to own this? This test occasionally fails. I'm worried about underlying problem.

[2020-10-26 17:23] alexec commented on #4223
I think this should be fixed by #4364

[2020-10-26 17:25] alexec commented on #3551
I've seen a few reports of this now. @sarabala1979 could you own please?

[2020-10-26 17:25] simster7 commented on #4308
Absolutely

[2020-10-26 17:26] simster7 commented on #4317
Absolutely. I'll look into it

[2020-10-26 17:27] alexec commented on #4059
I think this may be fixed by #4253. Can you please try `argoproj/argoexec:latest`?

[2020-10-26 17:30] alexec commented on #4317
I'm not sure the exact action to take today. Maybe see if there's something obvious, or think about if we should be concerned.

[2020-10-26 17:31] alexec commented on #4308
It maybe not fixable - I'll leave it to you. I think this is the code you want.

[code]

[2020-10-26 17:34] alexec commented on #4301
So we think that the request ends with 200, but we do not reconnect like we should.

[2020-10-26 17:36] alexec commented on #4359
I'm not able to repro this. Could I please ask you to attach  all the relevant manifests please?

[2020-10-26 18:00] alexec commented on #4301
Can you please test `argoproj/argocli:ui-prog` and see if this fixes your issue?

[2020-10-26 18:02] simster7 commented on #4308
Seems like that is the correct approach

[2020-10-26 18:03] simster7 commented on #4317
I'll keep an eye out then, I haven't seen it fail over the last couple of days

[2020-10-26 18:13] nmandery commented on #4377
Here is how to create the Chart:

Just run `record-argo-sync.py` to log the running and pending workflows, after that use gnuplot to render the chart:

[code]

This will generate a PNG file in the working directory.

The sources for the two script:

**record-argo-sync.py**:

[code]

**plot.gnuplot**:

[code]

[2020-10-26 18:20] sarabala1979 commented on #4377
I am able to reproduce kind this issue and found some edge case for acquiring released locks. Is it possible to try my dev build on your environment and provide the details `sarabala1979/workflow-controller:latest`?

[2020-10-26 18:20] simster7 commented on #4181
Will close this unless the issue persists. If so, please let me know and I'll reopen the issue

[2020-10-26 18:20] #4181 closed

[2020-10-26 18:32] gmfmi commented on #4059
I will give it a try soon, expect an answer in the next 24 hours!

[2020-10-26 18:53] dbseel opened #4381 "Template metrics not working from within WorkflowTemplate"
## Summary

I have a WorkflowTemplate that contains a list of steps, each of which calls a template. Within this step template is a metric with labels based on the parameter passed in. When I check prometheus after running the workflow, I only see results labelled against the first parameter passed in for each metric, but the number of results lines up with how many times the template was called.

[2020-10-26 19:04] alexec commented on #4366
We do not have a way to do this today. You could make your own executor image (`argoproj:argoexec`) and add the TLS certs to that.

[2020-10-26 19:06] simster7 commented on #4381
Will take a look

[2020-10-26 19:07] alexec commented on #4367
You are running v2.3.0. This is unsupported. Please can you try with v2.11.6

[2020-10-26 20:23] terev commented on #4301
I checked out your changes locally and it seems like a new call still isn't being established in the details ui. I added a breakpoint around the code called on subscribe finish:

![Screen Shot 2020-10-26 at 4 20 39 PM](https://user-images.githubusercontent.com/4502754/97224372-6c5ddc80-17a7-11eb-9d7c-2a235b5a0482.png)

It seems like the error handler is being called instead of the third handler wh

[2020-10-26 21:20] cscetbon commented on #4359
@alexec you can use the following one
[code]

and when you deploy it you'll see an error in the workflow controller logs
[code]

the workflow is scheduled but never runs
[code]

but submitting it works (with or without a value for parameter **age**)
[code]

[2020-10-26 21:27] alexec commented on #4308
Fixed in  #4307.

[2020-10-26 21:27] #4308 closed

[2020-10-26 21:29] #4338 closed

[2020-10-26 21:31] alexec commented on #4301
I've made another change. Can you pull the image again and try again?

[2020-10-26 21:38] alexec commented on #4180
I'm torn on this fix. We've only seen one instance of it, so it is not a widespread problem. I'd much rather try and enforce this check during validation, but I'm aware that's probably not possible.

Do we have the exact stack trace that crashed the controller?

[2020-10-26 21:47] terev commented on #4301
That seems to work! Very neat, should we make this change for the other eventsource subscribers?

[2020-10-26 21:49] alexec commented on #4301
@terev would you be interested in taking over on this fix?

[2020-10-26 21:51] alexec commented on #4301
I think we should maybe determine if the error is a disconnect (and reconnect) rather than 403 or 500 (which would result in going into a hot-loop).

[2020-10-26 21:54] alexec commented on #4301
https://kaazing.com/kaazing.io/doc/javascript-starter-template

[2020-10-26 21:56] terev commented on #4301
Sweet that makes sense

[2020-10-26 22:29] juliusvonkohout commented on #4367
You were right. Updating the workflow-controller to 2.11.6 solved the issue. I now have perfect rootless kubeflow pipelines.

[2020-10-26 22:29] #4367 closed

[2020-10-26 23:41] ediezh opened #4384 "Workflow stuck in running status when wait container terminated with error Failed to establish pod watch: timed out waiting for the condition"
## Summary

The wait container terminated with error Failed to establish pod watch: timed out waiting for the condition, the entire workflow is stuck in RUNNING status forever.

Expected the workflow to fail or retry the step.

## Diagnostics

What Kubernetes provider are you using?

EKS

[code]

What version of Argo Workflows are you running?

[code]

Wait container logs
[code]
---

**Message fro

[2020-10-27 00:25] perlinger opened #4385 "'Internal error occurred: failed calling webhook "mutating.pod-env-webhook.svc""
After running command below to install argo-workflows on EKS cluster
kubectl apply -n argo -f https://raw.githubusercontent.com/argoproj/argo/stable/manifests/install.yaml

I ran this command to check on the health of the deployment
kubectl get deployment argo-server -n argo -0 yaml
And, in the status response was a message with an internal error.
How do I fix the error?

kubectl get deployment ar

[2020-10-27 01:06] alexec opened #4386 "v2.12: estimated duration not set for DAG"
d13df0c654630b44edc76ccee5ff4d83d8c5f92a

[2020-10-27 01:08] alexec commented on #4385
This is a Kubernetes error. Not an Argo error. Please speak to you Kubernetes admin or provider.

[2020-10-27 01:09] alexec opened #4387 "v2.12: Running pods make chart un-usable"
## Summary

A usable chart. Also sorting is weird, not time based.

## Diagnostics

![image](https://user-images.githubusercontent.com/1142830/97244590-57d51080-17b6-11eb-8404-b92cbf478bb8.png)
---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-10-27 01:20] sarabala1979 commented on #3551
I will take a look

[2020-10-27 01:35] alexec opened #4388 "v2.12: log viewer only showing first log line"
## Summary

Should see all lines of logs, but only see first line.

## Diagnostics

Network shows all lines:

![image](https://user-images.githubusercontent.com/1142830/97246159-e72ff300-17b9-11eb-86e4-1e2f52928299.png)

UI states correct number of lines, but only first appears:

![image](https://user-images.githubusercontent.com/1142830/97246175-edbe6a80-17b9-11eb-8041-e643d634e3b9.png)

---

**M

[2020-10-27 01:35] alexec commented on #4388
@dcherman I think you worked on this recently?

[2020-10-27 01:52] muwon commented on #4368
Error code is 500.  Please see attached screenshot.
<img width="1239" alt="Screen Shot 2020-10-26 at 6 49 43 PM" src="https://user-images.githubusercontent.com/7505277/97247174-5ad2ff80-17bc-11eb-9e09-589b3942ddb6.png">

[2020-10-27 02:28] sarabala1979 commented on #4384
It looks like your API server is not responding (connection refused). The wait container will try to get pod object to annotate the outputs.
[code]

[2020-10-27 02:34] #3755 closed

[2020-10-27 02:51] Bobgy commented on #4355
I am aware of the new memoization feature in argo, but we are opinionated for KFP caching behavior:
caching data should come from MLMD and we need some lifecycle handling even when a step is cached. I don't think we will ever adopt argo memoization.
/cc @Ark-kun
What's your opinion about this?

Rethinking over this, I don't think that will be helpful, the primary reason we ask for a lifecycle hook

[2020-10-27 04:17] nmandery commented on #4377
Thank you for the quick implementation. I just tested the `sarabala1979/workflow-controller:latest` image and these where the observations:

Running the 100 instances of the same workflow as before:

![output short-wf](https://user-images.githubusercontent.com/140716/97254798-74516700-180f-11eb-99db-d8b777befb61.png)

While the concurrency ist still not optimal, the peaks are gone and the curve se

[2020-10-27 04:22] sarabala1979 commented on #4377
Thanks for, detailed response.  This fix will get released soon on v2.11.7 (mostly tomorrow)

[2020-10-27 05:10] dcherman commented on #4388
Huh, interesting; I'm not sure how my original PR actually worked.  Essentially what's happening is the lines array contains all of the expected content, however the way that we pass the observable to the logs viewer doesn't make sense - we're emitting the lines array as a value, however that will never get re-emitted as more lines get pushed (and that wouldn't make a ton of sense).

It should be

[2020-10-27 06:31] agniveshadhikari opened #4390 "workflow-controller pod doesn't expose any ports but replies to /metrics on 8080"
## Summary

1. `workflow-controller` pod doesn't expose any ports but replies to `/metrics` on `8080`
2. `workflow-controller-metrics` service doesn't respond to `/metrics`

As a result, this is breaking prometheus' service discovery based scraping.

## Diagnostics

What Kubernetes provider are you using?
Azure Kubernetes Service

What version of Argo Workflows are you running?
2.11.0

Impacted by

[2020-10-27 10:10] gmfmi commented on #4059
Just tested the latest release: everything works as expected. Thank you @cy-zheng ! @alexec, feel free to close the issue.

[2020-10-27 10:49] nmandery commented on #4377
After some more testing I am afraid the issue still persists. Just the severity of the effects are changing from batch to batch. This also can be seen in the good, although with degrading concurrency, run in my last comment. In other repeated runs I sometimes got only 1-2 concurrent workflows again while still using the same dev-build of the workflow-controller

Looking at an extract (see the grep

[2020-10-27 12:41] afilipchik opened #4392 "Cron sometimes executes 2 workflows in parallel even though parallelism is forbidden."
## Summary

Only 1 instance of the cron workflow runs at any moment.

## Diagnostics

Kubernetes: GKE

Argo:  2.11.6

Sometimes scheduled cron workflow with parallelism set to Forbidden creates 2 parallel workflows.
Here example of it is happening:
1 spark job is launched and runs over a scheduled launch at 10 mins, then 2 start and then there is a failure at 17 due to conflict between the jobs. C

[2020-10-27 15:14] simster7 commented on #4392
Can you make sure you don't have two instances of `workflow-controller` running at the same time?

[2020-10-27 15:17] simster7 commented on #4390
Not sure what the issue is here. Can you clarify what your ideal fix would be and why?

[2020-10-27 15:18] simster7 commented on #4180
Correct, not plausible.

What are your hesitations on this fix?

[2020-10-27 15:21] akonale opened #4393 "Argo workflows ttlStrategy does not work as expected after upgrading to 2.11.3"
## Summary
Hi I have `ttlStrategy.secondsAfterCompletion` set at global level to remove old workflows. Workflows are scheduled by argo events every one hour. ttlStrategy used to work just fine while running argo workflows version `2.7`. But after upgrading to `2.11.3`, workflows doesn't get cleaned up correctly. Looking at controller logs, ttl controller runs very irregularly. When I restart the c

[2020-10-27 15:23] simster7 commented on #4381
@dbseel How are you submitting the `WorkflowTemplate`?

[2020-10-27 15:24] posquit0 opened #4394 "Argo CLI does not work with load balancer (e.g. AWS ALB) that do not support HTTP/2"
## Summary

I followed the [docs](https://argoproj.github.io/argo/access-token/) to use `argo` CLI with the access token.

### API Request

It works with API.

[code]

### CLI Request

It doesn't work with CLI.

[code]

## Diagnostics

What Kubernetes provider are you using?

- EKS 1.17.9

What version of Argo Workflows are you running?
[code]

**Message from the maintainers**:

Impacted by this b

[2020-10-27 15:26] dbseel commented on #4381
[code]

[2020-10-27 15:33] simster7 commented on #4356
Closed as a non-argo issue. As a thought, if you want `a in (a)` why not simply do `a == a`?

[2020-10-27 15:33] #4356 closed

[2020-10-27 15:34] simster7 commented on #4381
Thanks, looking now

[2020-10-27 15:35] alexec commented on #4394
why do you have this?

[code]

looks like some envvar did not get expanded in some script?

[2020-10-27 15:36] alexec commented on #4393
Is this a duplicate of #4246?

[2020-10-27 15:38] alexec commented on #4180
One hesitation is that we have more pressing bugs in metrics and corn workflows that should be addressed first.

Another hesitation is that because typically every change introduces bugs (that's just writing code), I'm not sure this has the right risk/benefit trade off.

[2020-10-27 15:39] #4059 closed

[2020-10-27 15:39] sarabala1979 commented on #4393
@alexecNo, this is a different issue. I will take a look.
@akonale  Can you provide your sample workflow or your `ttlStrategy`?

[2020-10-27 15:46] akonale commented on #4393
[code]

[2020-10-27 15:47] lueenavarro commented on #4356
because in my application, the value inside the parenthesis is dynamically generated by another step.

my solution was to add random characters as placeholders to make sure that there are always at least two items.

[2020-10-27 15:59] afilipchik commented on #4392
we don't. I posted logs from single one, you can see it triggered 2 workflows.

[2020-10-27 16:00] alexec commented on #4355
Short answer - no. These reads an annotation which is an implementation detail which we plan to remove to improve our ability to have larger inputs and outputs.

I think we want to support lifecycle hooks in Argo Workflows that can be configured at a namespace-level and controller-level.

I'm going to assume you need to run a container to do the processing. This would be both simple and flexible.

[2020-10-27 16:02] alexec commented on #4368
Thank you. I can now see that you have a 404 and 500 error. I'd like to request the argo-server logs for those requests so we can see the underlying error.

[2020-10-27 16:04] cscetbon commented on #4359
@alexec in case you missed it 👆

[2020-10-27 16:08] Amauche opened #4395 "The SSO does not work, there is a link with the secret SSO in k8s"
## Summary

I have enabled and configured SSO authentication but I have problems with an "sso" secret in k8s.

The "sso" secret didn't exist so I created it empty thinking that Argo server would provision it but it didn't.
So I get this error message in the "argo-server" pod.

I would be grateful if you had a suggestion.

## Diagnostics

Argo is deployed on **GKE v1.14.10-gke.36** .

Here is the c

[2020-10-27 16:17] Amauche commented on #4395
Is there a template to correctly create the sso secret?

[2020-10-27 16:19] alexec commented on #4395
The error comes from code that has not be released yet, can I ask what version you're running, please?

Can you confirm if there is a secret named `sso` in your namespace? If so, delete it and try again?

[2020-10-27 16:34] Amauche commented on #4395
Thank you @alexec  and sorry,  I forgot to specify the version:
[code]

Yes the secret `sso` is in argo namespace, I've just deleted it and re-created it, same problem.

[2020-10-27 16:35] afilipchik commented on #4392
Not sure it is related, but it might be related to missed executions.
in the logs from 10.10-10.20 workflow starts at 10 and for some reason completes without starting Spark job. Then 2 workflows are triggered at 10.14

[2020-10-27 16:43] alexec commented on #4359
Ok. Managed to repro today.

[2020-10-27 16:45] posquit0 commented on #4394
Ah.. I just redacted the host with `$HOST` in this PR. I used my company internal host.

[2020-10-27 16:47] alexec commented on #4395
I'm not sure what version that is. Can you please try with v2.11.6?

[2020-10-27 16:49] alexec commented on #4394
Try setting ARGO_TOKEN instead of using --token.

[2020-10-27 16:50] TekTimmy opened #4398 "Zombie Workflows"
## Summary
In our cluster Workflows occur that seem to be forgotten / ignored by the workflow controller. So we find Workflows in status "Running" that have successfully finished all steps OR have a failed step. This is causing Workflows to be "Running" forever and block resources.
When killing the workflow-controller pod, which then automatically restarts, all workflows get cleaned up accordingly

[2020-10-27 16:50] Amauche commented on #4395
I've just try with v2.11.6 and it works fine now.
Thank you so much @alexec :+1:

[2020-10-27 16:50] #4395 closed

[2020-10-27 16:53] simster7 commented on #4381
I have identified the problem but this is proving to be a bit tricky to solve

[2020-10-27 16:55] alexec commented on #4359
Ok. So work-around - change `20` to `"20"`.

There is basically a bug in the Kubernetes library we use.

[2020-10-27 16:56] cscetbon commented on #4359
That's what I already did like I said on Slack.

[2020-10-27 16:57] alexec commented on #4359
Can you try starting the controller using this envvvar: `KUBE_PATCH_CONVERSION_DETECTOR=true`?

[2020-10-27 17:04] alexec commented on #4359
I look at dozens of issues every day and it is hard to keep track and help people unless they provide clear reproduction steps and keep everything in the ticket. Please don't provide any info on Slack.

[2020-10-27 17:06] simster7 commented on #4381
Opened #4399. This one proved to be very tricky to find

[2020-10-27 17:07] posquit0 commented on #4394
Same error... 😢
[code]

[2020-10-27 17:07] dbseel commented on #4381
Awesome, thanks!

[2020-10-27 17:10] simster7 commented on #4180
Sure, but the fix for this is already done and ready.

Sure, we can discuss the trade-off

[2020-10-27 17:11] duongnt commented on #4392
We saw this twice in the logs provided:
[code]
which led to the cronwf to trigger a new workflow twice.

I think there had to be some race condition which led this check to fail, but not sure what it was yet:
[code]

[2020-10-27 17:22] simster7 commented on #4392
Ok, thanks. I'll take a look at this today.

[2020-10-27 17:36] tcolgate opened #4400 "auth-mode server fails when Authorization header is passed."
## Summary

We have argo server behind a reverse proxy that does github SSO.. Upgrading from argo 2.8 to 2.11, using `--auth-mode server` broke the UI. /api/v1/version was returned
[code]
## Diagnostics
The error is caused because our reverse proxy adds an authorization header.

To recreate:
- run argo server with auth-mode server
- port-forward to argo-ui
- This works `curl http://localhost:2746/

[2020-10-27 17:46] #4386 closed

[2020-10-27 17:46] #4387 closed

[2020-10-27 17:52] #4388 closed

[2020-10-27 17:54] alexec commented on #4400
Why are you sending a header?

[2020-10-27 17:57] alexec commented on #4398
There's probably two bugs here:

* We should always re-sync a workflow every 20m.
* We should not miss events.

[2020-10-27 17:58] alexec commented on #4398
Can you please add the logs from before the restart of the controller?

[2020-10-27 18:01] alexec commented on #4398
Can you see if `insignificant pod change` is ever printed in the logs?

[2020-10-27 18:04] TekTimmy commented on #4398
Logs with grepping for the workflow name:
[code]

[2020-10-27 18:06] TekTimmy commented on #4398
No output from `kubectl logs workflow-controller-5b6c7f9b89-v6gst | grep "insignificant pod change"` before AND after the restart

[2020-10-27 18:10] tomgoren opened #4402 "Can't export ResourcesDuration metrics to Prometheus"
## Summary

According to the [docs](https://argoproj.github.io/argo/variables/#metrics), step level resource consumption metrics are available via resourcesDuration.[cpu|memory].
However, these metrics are exposed as strings, in a Golang `time.Duration` format, which makes them incompatible with the Prometheus expectations.

## Diagnostics

What Kubernetes provider are you using? `v1.17.9-eks-4c69

[2020-10-27 18:14] muwon commented on #4368
@alexec  The problem actually happens in two places with the same error messages but different status codes.

In the "Ttimeline" page, the Hello-World workflow is completed and succeeded.  Clicking on the [LOGS] button, the status codes are 200 and 500.  UI is able to find the logs:
![Screen Shot 2020-10-27 at 11 00 21 AM](https://user-images.githubusercontent.com/7505277/97343404-b052ef00-1844-11

[2020-10-27 18:15] alexec commented on #4398
Engineering build: `argoproj/workflow-controller:no-sig`

[2020-10-27 18:16] alexec commented on #4171
https://github.com/argoproj/argo/pull/4401/checks?check_run_id=1316404471

[2020-10-27 18:16] alexec commented on #4317
Duplicate of #4171.

[2020-10-27 18:16] #4317 closed

[2020-10-27 18:19] alexec commented on #4368
I'm confused by this bug. What are you trying to do that you cannot? You said you're looking at workflow logs, but the screenshots show archived workflows? Then there is a screenshot showing the logs?

[2020-10-27 18:21] TekTimmy commented on #4398
Zombie keeps living:
[code]
[code]

[2020-10-27 18:23] alexec commented on #4398
You'll need to run a new workflow to see if `argoproj/workflow-controller:no-sig` works.

[2020-10-27 18:24] TekTimmy commented on #4398
Ups okay! That is totally automated! Will provide as soon as one newly submitted is finished... We have looong running workflows ;)

[2020-10-27 18:34] TekTimmy commented on #4398
This one still got a zombie:
[code]

[2020-10-27 18:37] muwon commented on #4368
I'd expect to see the workflow logs in both places, "Timeline" page and "Archived Workflows" page without the "Failed to load logs: Unsuccessful HTTP response" error message.

If I just launch one of those random workflow samples from the UI using the "SUBMIT NEW WORKFLOW" button, e.g. awesome-whale, clicking on the LOGS button also shows the same error message.

[2020-10-27 18:39] alexec commented on #4368
The error seems to occur (in one instance) because the workflow is not found.  I think the error would be better be a 404 than a 500 error.

[2020-10-27 18:42] muwon commented on #4368
As I pointed out earlier:
- Timeline page:  Status codes are 200 and 500
- Archived Workflows page: Status codes are 404 and 500

[2020-10-27 18:46] sarabala1979 commented on #4394
Do you have any proxy in between?

[2020-10-27 18:52] TekTimmy commented on #4398
But it seems like they are cleaned up from time to time!

[2020-10-27 18:57] sarabala1979 commented on #4400
@tcolgate you are correct. This behavior changed in 2.9 version. Do you like to submit PR?

[2020-10-27 19:00] #3525 closed

[2020-10-27 19:08] alexec commented on #4398
@TekTimmy I'm assuming that `no-sig` did not fix your issue. Is this correct? Or did it fix it, but only after some time (maybe 30m)?

[2020-10-27 19:14] TekTimmy commented on #4398
Correct, there are still zombie workflows marked as "Running". And Yes that 30m sync seems to work but even in that 30m those zombies are blocking my queue

[2020-10-27 19:18] alexec commented on #4398
That is good news. `no-sig` cause workflows to re-sync after 30m and fixes the workflow. However, that is really too long. So now we must understand why they did not reconcile earlier.

I'm going to make another fix and send it to you shortly.

[2020-10-27 19:20] alexec commented on #4398
Sidenote: maybe similar to #4048

[2020-10-27 19:27] alexec commented on #4398
Sidenote:

Interested in how you want the progress to be shown in the CLI. Do you think this would be a good default? If you want to submit a PR, it would be as easy as adding

[code]

to workflow_types.go

[2020-10-27 19:27] alexec commented on #4398
Can you please try `argoproj/workflow-controller:no-sig` again (you'll need to pull the image again).

[2020-10-27 19:34] TekTimmy commented on #4398
Have set `ImagePullPolicy: Always` to update to the latest version.
An error occured:
[code]
gonna monitor the zombies now

[2020-10-27 19:36] TekTimmy commented on #4398
Thanks for the hint! I'm pretty interested to support this project but my `go` skills are very weak.. have to strengthen them first

[2020-10-27 19:37] TekTimmy commented on #4398
workflow controller stopped logging shortly after the error message.

[2020-10-27 19:46] cscetbon commented on #4359
Sure we talked together like 2 days ago so I thought you would remember it, but yeah quoting the integer value makes it pass.

[2020-10-27 20:44] alexec commented on #4398
Again with `argoproj/workflow-controller:no-sig`?

[2020-10-27 20:47] #4360 closed

[2020-10-27 21:08] TekTimmy commented on #4398
Error is gone, zombies are still summoned and no log entry at all about those zombie workflows in the workflow-controller logs =/

[2020-10-27 21:14] alexec commented on #4398
Thank you for helping with the testing. I'm really keen to nail down a fix for this.

[2020-10-27 21:18] alexec commented on #4398
Can you tell me what labels the zombies have? Do the have a `workflows.argoproj.io/completed` label?

[2020-10-27 21:19] TekTimmy commented on #4398
Thank YOU for developing! I'm happy that I can help.

[2020-10-27 21:21] TekTimmy commented on #4398
These are all the labels
[code]
ouh shit, does our own "workflow" label interfere ?

[2020-10-27 21:38] TekTimmy commented on #4398
We have just moved to wintertime (-1 hour) so its nearly midnight here.. have to get some sleep. Looking forward to test some more tomorrow.

[2020-10-27 21:47] alexec commented on #4398
1. Your `workflow` label should not interfere.
2. Can you check for the string `conflict` in your controller logs?

[2020-10-27 23:49] Bobgy commented on #4355
Understood, makes sense for supporting larger inputs and outputs.

Let me think about if we need an official supported interface in argo, what would be best for us.

Off the top of my head, lifecycle containers align with what I try to do.

Yes, agree we should proceed with zoom. I'll organize KFP side people who should attend.

[2020-10-28 02:24] posquit0 commented on #4394
Argo Server is behined of AWS ALB load balancer. Is it the problem?

[2020-10-28 03:39] nbren12 opened #4406 "exitCode grabbing not working for PNS executor"
## Summary

Referring to the exit code in a `when` clause fails for the PNS executor with a microk8s installation.

### MCVE

When I run the workflow below with the k8sapi executor and then show the logs, I see
[code]
as expected. With the pns executor, these are logs:
[code]
The exitCode is not being de-referenced. Interestingly, this only occurs when sleeping for at least 5 seconds.

## Diagnost

[2020-10-28 04:01] hikoz commented on #4368
It looks argo-ui tried to fetch log twice. from pod and archivedLog.

[2020-10-28 05:08] sarabala1979 commented on #4377
@nmandery Thanks for the detailed analysis. I am refactoring the enqueue workflow logic to avoid losing locks.  I am building dev image to try it out.  I will let you know once I am done. Thanks for helping us to verify  the fix.

[2020-10-28 06:01] posquit0 commented on #4394
Oh, it works without ALB. Hmmm, how can I make this work with ALB?
Is there any idea?

[code]

[2020-10-28 06:32] posquit0 commented on #4394
I found that this issue is related to gRPC support of ALB. I thought `argo` CLI communicates via HTTP API.
Is there no option for `argo` CLI to use HTTP REST API ?
Like `argo-cd`'s [`--grpc-web`] options(https://argoproj.github.io/argo-cd/user-guide/commands/argocd/#options)

[2020-10-28 09:16] BlackRider97 commented on #1282
Any one found any work around for Linkerd2 ?

[2020-10-28 09:29] tcolgate commented on #4400
Sorry, I'm not going to have time, I'd need to understand things a bit better to be confident I'd not be breaking anything else.

[2020-10-28 10:14] ptemmer opened #4407 "ContinueOn failed is not respected under certain circumstances"
## Summary

What happened/what you expected to happen?

The following workflow fails, no matter the `ContinueOn: failed`:
[code]
Result:
[code]
workflow controller log:
[code]
However, the same workflow succeeds, only by adding `dependencies` to task C:
[code]

Result:
[code]

workflow log:
[code]
Nonetheless, when I add a `when clause` (doesn't really matter which) to task C, the workflow fails a

[2020-10-28 12:02] SaigyoujiYuyuko233 commented on #3026
Same issue, using
[code]

[2020-10-28 12:14] AntoineDao opened #4408 "Artifact chmod prevents multiple artifacts from being loaded"
## Summary

When loading multiple artifacts using `RecurseMode=true` I noticed my workflows were failing because some of the artifacts were not loading properly.

## Diagnostics

What Kubernetes provider are you using?
I am using GKE but was able to reproduce the bug on DigitalOcean and Minikube.

What version of Argo Workflows are you running?
I am running the `master` at time of writing (ddd45b6

[2020-10-28 13:11] simster7 commented on #4392
I believe I found the issue

[2020-10-28 13:32] TekTimmy commented on #4398
2. No match, but i switched back to image `argoproj/workflow-controller:latest`

[2020-10-28 13:53] simster7 commented on #4392
Culprit seems to be #4294

[2020-10-28 14:03] simster7 commented on #4392
I can attach the evidence I have for this if necessary.

[2020-10-28 15:44] #4326 closed

[2020-10-28 15:49] alexec commented on #4392
From PR:

[2020-10-28 15:57] alexec commented on #4394
You need HTTP2 support for workflows. I don't think you're the first person to encounter this problem, and I believe others have fixed it. Probably can find answer in other issues.

[2020-10-28 15:59] alexec commented on #4368
Ok. I think this bug is fixed in latest. Can you please try `argoproj/argocli:latest`?

[2020-10-28 16:14] alexec commented on #4400
Can you try this image `argoproj/argocli:modes`. This now only uses an auth mode if the correct header is supplied AND the mode is enabled.

1. `Authorization: Bearer v2:.*` + `SSO` = `SSO`
2. `Authorization: Bearer .*` + `Client` = `Client`
3. `Authorization: Basic .*` + `Client` = `Client`
4. `Server` = `Server`

I'm not totally sure what you're set-up is, so this may fix you bug, or may not.

[2020-10-28 16:49] #4381 closed

[2020-10-28 17:10] alexec commented on #4394
OK. I believe this is a problem with AWS ALBs. They do not support HTTP/2.

[2020-10-28 17:19] #4408 closed

[2020-10-28 17:25] #4402 closed

[2020-10-28 17:25] alexec commented on #4398
This doesn't make sense:

[code]

No archived workflow should ever be running. They should always be completed.

[2020-10-28 17:30] simster7 commented on #4392
Yes, I had read that. That clarifies why the ResourceVersion checks  are wrong, not why we moved to use Patch. Sorry if it's not clear to me.

[2020-10-28 17:31] alexec commented on #4398
I'm starting to think something else is interfering. Can you run the workflow, but follow it using `kubectl get wf --watch my-wf`.

[2020-10-28 17:59] sarabala1979 commented on #4393
@akonale looks like ttlController is making a delete call but the workflow object is not getting deleted.
https://github.com/argoproj/argo/pull/4133  will fix this issue.
can you provide us some old workflow spec which is ttlcluster deleted?
[code]

[2020-10-28 18:28] alexec commented on #4392
I moved to patch to remove any need to check resourceVersion, with the assumption that, unlike a workflow, it would safe to do that. That simplifies the code, but has introduced this bug.

[2020-10-28 18:42] alexec commented on #4394
https://github.com/argoproj/argo-cd/pull/1077

[2020-10-28 18:55] muwon commented on #4368
It is not fixed entirely.  Status 404 is still there.  With hello-world WF, it took somewhere like a couple of seconds in "Waiting for data..." then it showed the log successfully without the error message.  But with a random sample launched from the UI, it just stuck in "Waiting for data...", and turned into a bunch of 404's
![Screen Shot 2020-10-28 at 11 39 50 AM](https://user-images.githubuserc

[2020-10-28 19:15] alexec commented on #4368
In the examples when you are waiting for data, can the logs be retrieved from the artifacts?

[2020-10-28 21:14] simster7 commented on #4406
I was able to reproduce

[2020-10-28 21:15] simster7 commented on #4406
Looking for a fix

[2020-10-29 02:55] conanoc commented on #3471
This is still a problem when the parameter is not defined in arguments.
WorkflowTemplates may not have arguments for the inputs.

[2020-10-29 02:58] conanoc commented on #3471
perhaps only on lint.

[2020-10-29 07:36] ptemmer commented on #4407
Note that this issue came up after upgrading from v2.8 to v2.11.6

[2020-10-29 12:28] aletepe commented on #3973
@ebr could you please add to the Issue description a screenshot of the UI showing `undefined`? And maybe steps to reproduce it (an example yaml file or similar)?

[2020-10-29 14:20] Bobgy commented on #4355
Hi @alexec!
I just came up an idea with an alternative feature that can enable what we want to achieve. I want to get some early feedback from you.

Feature request: Tasks can consume and return artifacts by json metadata with its url.
To be specific, a task can consume a previous task’s artifacts by json representation of the artifact, e.g. for a minio artifact, it can look like (whatever format

[2020-10-29 14:23] aletepe commented on #3973
I've used the example in the docs here: https://github.com/argoproj/argo/blob/master/examples/secrets.yaml

Without changes the behaviour is the following:
<img width="350" alt="image" src="https://user-images.githubusercontent.com/47940494/97584242-b9cc8a80-19ef-11eb-9334-fa1dad305029.png">

With my proposed changed it would look something like this (injected two secrets to show multiline behavio

[2020-10-29 14:39] d-e-solutions opened #4418 "Workflow parameters aren't visible in the UI"
# Summary

As a user of the Argo UI interface, I would like to be able to see the argument parameters used to trigger a Workflow.

# Use Cases

I create my workflows based on a WorkflowTemplate. This WorkflowTemplate has some arguments, as a date for example.

[code]

Workflows are created :
- On a timely basis by CronWorkflow
- Manually through the UI by clicking the submit button on the Workflow

[2020-10-29 15:05] akonale commented on #4393
@sarabala1979 , we are running on vanilla k8s installation. And I did not quite get what you meant by `ttlcluster deleted`

[2020-10-29 15:41] sarabala1979 commented on #4393
it is ttl controller deleted workflow. I can see in above workflows overdue for deletion `(-3h18m33`. Are you seeing those workflows on your namespace which are deleted by TTL controller `time="2020-10-26T18:14:50Z" level=info msg="Deleting TTL expired workflow **sensor-workflowtjxh9**"`?

[2020-10-29 16:26] jayz28 commented on #4048
Can we reopen this issue? We are running into this issue as well consistently running long workflows and can provide more information as well as some telemetry information.

[2020-10-29 16:40] alexec commented on #4048
@jayz28 did you previously have this problem? Or is it a new problem?

[2020-10-29 16:41] #3397 closed

[2020-10-29 16:42] alexec commented on #4418
This seems like a great idea. Would you like to submit a PR?

[2020-10-29 16:43] alexec commented on #3973
Looks great!
Can I ask that when you hover your mouse of the key icon you get some explanatory text?

[2020-10-29 16:44] jayz28 commented on #4048
We have only recently started noticing this issue when we moved to pre-production scale.  Previously at testing loads we didn't notice the issue.

[2020-10-29 16:44] alexec commented on #4355
I'm not sure I fully understand your idea, but is it similar to #4341 ?

[2020-10-29 16:46] alexec commented on #4048
@jayz28 we have 3 users running a massive scale now having similar issues. Essentially, at some point we don't see the pod updates.

Can I ask you try this image `argoproj/workflow-controller:no-sig` and see if that works? It typically takes 30m to fix problems, so you may have to wait.

[2020-10-29 16:47] jayz28 commented on #4048
Sure, making the update now.  Would it resolve workflows already in progress or do I need to launch new workflows?

[2020-10-29 17:03] bnoeson commented on #4418
Not much time at the moment TBH. But with the lockdown arriving, I may have some time...

What skill would be needed for that?

[2020-10-29 17:03] alexec commented on #4048
I think you'll find if you restart the controller, your zombie workflows will come alive again.

[2020-10-29 17:52] alexec commented on #4418
React and Typescript/Javascript

[2020-10-29 18:06] aletepe commented on #3973
Something like this?

[2020-10-29 18:08] jayz28 commented on #4048
Looks like the `:no-sig` image has resolved the problem, we are no longer seeing the error and all the workflows are now progressing.  Curious what was specific issue?  Hopefully the fix will be merged soon.

[2020-10-29 18:21] sarabala1979 commented on #4377
@nmandery Did you get a chance to try the latest build?

[2020-10-29 19:35] alexec commented on #4048
Can you confirm if this was an issue resolves straight-away, or after 30m?

[2020-10-29 19:35] alexec commented on #3973
perfect

[2020-10-29 20:54] alexec commented on #4359
@cscetbon I've created an engineer build: `argoproj/workflow-controller:int64`
Can you please test this and see if it fixes your issue?

[2020-10-29 21:03] jayz28 commented on #4048
It appears to have resolved right away.

[2020-10-29 21:05] alexec commented on #4048
Can you please try `:latest`?

[2020-10-29 23:10] alexec commented on #4394
I've pushed `argoproj/argocli:http` for testing. You'll need to set `ARGO_HTTP=true` to use it.
I'll upload a Mac binary shortly.

[2020-10-29 23:23] Bobgy commented on #4355
@alexec Definitely, that sounds like a step in the right direction.

My feature request will be supporting placeholders like `{{inputs.artifacts.name.key}}`.

And output an artifact by key in a container
[code]

[2020-10-30 04:47] posquit0 commented on #4394
@alexec Where is a mount point for `.kube/config` in `argoproj/argocli` Docker image? Following error is occured when I tried with `arogproj/argocli:http` image.

[code]

Btw, I think many commands should be executed without `kubeconfig` when user use the access token. What do you think about this?

### Related to

- https://github.com/argoproj/argo/issues/3943

[2020-10-30 04:59] alexec commented on #4394
You should not need KUBECONFIG. You do need ARGO_SERVER, ARGO_HTTP=true, and ARGO_TOKEN.

[2020-10-30 06:58] posquit0 commented on #4394
Is there another reason for `FATA[0000] invalid configuration: no configuration has been provided` message above?

[2020-10-30 06:58] nmandery commented on #4377
@sarabala1979 I must have missed that you did a new release. I just did a few test runs with roughly similar results, this was one of them:

![output](https://user-images.githubusercontent.com/140716/97667910-33608900-1a81-11eb-95f0-93abff202342.png)

So your fix did indeed help, argo seems not to be able to re-use all locks over the complete batch of the 100 workflows. But the graph shows that th

[2020-10-30 07:18] mweibel opened #4422 "Accept `rest.Config` to argo's API client instead of `clientcmd.ClientConfig`"
# Summary

See [diff](https://github.com/argoproj/argo/compare/master...helio:argo-apiclient-config?expand=1) for a proposed change.
`rest.Config` is the standard way to connect to kubernetes and IMO should also be the way argo API client connects.
`newArgoKubeClient` anyway just converts to a `rest.Config`, therefore it could also just accept a REST config directly.

I marked the `ClientConfigSup

[2020-10-30 08:57] TekTimmy commented on #4398
After discussions with alexec and some fixes to solve it zombie workflows still occur from time to time but get cleaned up in an acceptable time. I was not able to reproduce a workflow in phase `Running` with `workflow-archiving-status: Archived` anymore. A clear relation / cause was not found as far as I understand.

[2020-10-30 14:40] alexec commented on #4394
That error occurs when trying to read KUBECONFIG. Setting ARGO_TOKEN should prevent this.

[2020-10-30 15:46] sarabala1979 commented on #4377
Thanks for your response which helps us to make sure the fix is working. A semaphore has the functionality to hold the workflow priority place for acquiring locks that's why we can't pop before acquiring locks.  WorkerQueue has de-dup functionality even the same workflow queued multiple times, it will take replace the object in the first position.
you can see a small duration of degradation becaus

[2020-10-30 16:28] alexec commented on #4398
I'm going to re-open. I think we should actually clean them up a bit quicker.

[2020-10-30 18:52] jessesuen commented on #4422
newArgoKubeClient anyway just converts to a rest.Config, therefore it could also just accept a REST config directly.

I agree it would be a cleaner interface.

I agree. a main program should create a context and pass it to the libraries.

Would you like to submit a PR?

[2020-10-30 18:57] naveenb30 commented on #3534
@arnonki : I also have same exact issue and I installed argo using HELM charts, can you please explain how you fixed the issue

[2020-10-30 21:08] jayz28 commented on #4048
So far so good using the `:latest` image.

[2020-10-30 22:32] lordnynex commented on #1204
@alexec Is it atleast possible to include the problematic param name in the error output? With a lot of parameters it is very difficult to debug these type mismatch errors.

[2020-10-31 02:56] #3821 closed

[2020-10-31 07:34] NikeNano opened #4425 "Update k8s.io/api, k8s.io/apimachinery and k8s.io/client-go"
# Summary

Update go dependencies to stay up to date.

# Use Cases

I have had issues trying to updated the argo version for Kubeflow pipelines to argo 2.11(currently are on 2.7) and updating the underlying dependencies for argo would make the update simpler. I understand this might not be a good enough reason to update the dependencies for argo it self though.

---

**Message from the maintainers

[2020-10-31 07:34] NikeNano commented on #4425
/assign

[2020-10-31 11:25] firecast commented on #3212
@alexec I've create a PR for this issue as it is something that my company also wanted

[2020-10-31 16:30] #4364 closed

[2020-10-31 16:31] alexec commented on #4048
Is it resolved straight away?

[2020-10-31 17:04] dcherman commented on #4162
This would be fantastic to lower the operational costs of running a workflow archive since you either have to DIY it, or use managed postgres/mysql instances which can be relatively expensive.

Some initial thoughts since I was researching/thinking about it this morning:

I don't know enough about GCP Buckets, however I don't think S3 alone is sufficient for what we would need to implement an alte

[2020-10-31 19:40] liafizan commented on #4425
I have same issue. Trying to build a client using a `github.com/argoproj/argo v0.0.0-20201019203908-5eebce9af440` which requires k8s libs to be `>= v0.18.2` which added context passing feature but looks like we do not have that in Argo. I keep getting errors like:

[code]
apiclient is sort of unusable due to this issue

[2020-10-31 20:16] NikeNano commented on #4425
I have started the work here: https://github.com/argoproj/argo/pull/4426 @liafizan will continue to push work, feel free to help out if you like to :)

[2020-10-31 22:15] mailtoraja18 opened #4428 "argo server ui | SSO/Auth Disabled | still trying to authenticate"
I am running oauth2-proxy for authentication and then upstream call to argo ui on a http port. The UI works fine when i directly ingress to the UI with no authentication. But does not work when proxied via oauth proxy after the authentication is successful. The upstream call to APIs fails with 401.

What happened/what you expected to happen?
Getting 401 unauthorized. Expecting the Argo UI to use t

[2020-10-31 23:51] Ark-kun commented on #4349
Does go-getter support canonical storage URIs? E.g. gs:// s3:// http:// etc.

Maybe we can have a configmap that can specify authentication for **all** URI schemes.
The confimap can be per-cluster or specified per-workflow (like `ArtifactRepositoryRef`)

In the future we could also make it possible to specify auth/secrets per-bucket.

P.S. I do not have a big stake in this.
The scenarios that coul

[2020-11-01 00:04] Ark-kun commented on #934
Interesting example.
The problem I see is that it requires explicit manipulation of the artifact location, which makes the workflows less reusable.

[2020-11-01 00:07] Ark-kun commented on #934
The map-reduce example gave me an idea how Argo could solve the artifact aggregation with minimal effort.
But then I understood that this is a bad idea and won't support DAGs or artifacts with custom URIs.

`<bad_idea>`
Suppose there is a normal task. It outputs all its artifacts to `<run-id>/<task-id>/<output-name>`.
Now we make this task a loop by adding `withItems`, `withParam` or `withSequence

[2020-11-01 00:18] Ark-kun commented on #934
Perhaps we could implement artifact aggregation the same way as for parameters - the loop node should collect per-output artifact lists and the `init` executor should be able to download multiple artifacts under a single path.

[code]

[code]

[2020-11-01 01:45] cscetbon commented on #4359
@alexec I confirm that it works with your engineer build 👏

[2020-11-01 03:01] Downchuck commented on #934
It's simply that map reduce patterns need some enthusiastic support.

I found the easiest way to explore the space was to actually mock out the yaml flows as objects. In one experiment, I just used javascript with a dag library.

Looking forward to seeing what the community comes up with (my experiment was nuked by the client); I'm just saying: yes, map reduce needs to happen, but you can experime

[2020-11-01 03:44] sarabala1979 commented on #2729
@mac9416 @Naveenlbg @nopanderer @gethinzhang @ptitpoulpe @andaag @terrytangyuan @xianlubird  @mfasanya
Thanks for your support and interest in `Stream processing Workflow`. I am looking for a multiple  use-cases or requirements to start this project. Can you please let us know your requirements for stream processing?

[2020-11-01 11:17] posquit0 commented on #4394
As you can see above, I didn't configure `KUBECONFIG` in the command. And I configured `ARGO_SERVER`, `ARGO_HTTP`, `ARGO_TOKEN`.

[code]

[2020-11-01 17:11] jayz28 commented on #4048
Yes, it started to resolve very quickly after applying the changes.  Curious what was the cause for the issue?

[2020-11-01 17:20] alexec commented on #4048
Can I confirm that they were resolved using :latest or using :no-sig?

[2020-11-01 17:21] alexec commented on #4394
Can you address -e KUBECONFIG=/dev/null?

[2020-11-01 17:24] jayz28 commented on #4048
Initially trying `:no-sig` resolved or stuck workflows.  We have since been load testing using `:latest` and have not encountered the issue, running similar loads.

[2020-11-01 17:25] alexec commented on #4048
Ok. So we can shelve :no-sig.

[2020-11-01 23:35] Sharathmk99 opened #4430 "tasks.TASK_NAME.status failed to resolve"
## Summary

What happened/what you expected to happen?

## Diagnostics

What Kubernetes provider are you using?
`AKS`
What version of Argo Workflows are you running?
`v2.11.3`

Workflow Sample:
[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-11-02 01:27] posquit0 commented on #4394
It doesn't work 😢

[code]

[2020-11-02 05:11] na-bot-o opened #4431 "read some symbol encoded when read parameter by loop"
## Summary

What happened/what you expected to happen?

Some symbol is read as encoding when loop workflow by parameter list

## Diagnostics

What Kubernetes provider are you using?
`GKE` and `minikube`
What version of Argo Workflows are you running?
`v2.11.4`

### Workflow Sample:
[code]

### results(workflow name by list):
[code]

---

**Message from the maintainers**:

Impacted by this bug? Giv

[2020-11-02 06:25] sarabala1979 commented on #4430
are you getting this error in CLI or server log?

[2020-11-02 06:54] sarabala1979 commented on #4431
Withparam Jason marshal is encoding special chars to Unicode. We can disable the automatic encoding using setEscapeHTML to false.
Would you like to submit PR?

https://golang.org/pkg/encoding/json/#Encoder.SetEscapeHTML
https://github.com/argoproj/argo/blob/462e55e97467330f30248b1f9d1dd12e2ee93fa3/workflow/controller/steps.go#L444

https://github.com/argoproj/argo/blob/c605c6d73452b8dff899c0ff1b16

[2020-11-02 08:08] Sharathmk99 commented on #4430
I tried submitting via UI and also via python. I didn't try using cli

On Mon, Nov 2, 2020, 7:25 AM Saravanan Balasubramanian <
notifications@github.com> wrote:

[2020-11-02 09:16] dobegor opened #4434 "gpg: ability to fetch gpg public keys from github"
# Summary

Add an ability to optionally enable fetching of GPG public keys from Github (https://api.github.com/users/dobegor/gpg_keys).

# Use Cases

I want ArgoCD to verify commits using GPG keys that users already uploaded to their github profile, so that nobody would need to upload it twice.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues wit

[2020-11-02 10:47] mweibel commented on #4422
Great to hear!

Yes, I'll submit a PR 👍

[2020-11-02 11:39] dertodestod commented on #4181
Thank you for the update and potential fix(es) @simster7. We did not yet manage to upgrade due to time constraints and as the situation improved somewhat on its own (the cron jobs start now every 5-15 minutes). We will let you know in case the upgrade is not fixing the issue. Thanks again.

[2020-11-02 13:13] Amauche commented on #4428
Hi, I have exactly the same problem.

[2020-11-02 15:35] #4325 closed

[2020-11-02 15:39] alexec commented on #4428
oauth2-proxy sends you authentication headers in the request. To work-around - reconfigure oauth2-proxy to stop doing this. Fixed in v2.11.7

[2020-11-02 15:41] alexec commented on #4431
@sarabala1979 this is a problem in Golang,  I'm not sure how we fix globally without introducing different bugs.

[2020-11-02 15:46] alexec commented on #4171
@simster7 can I please ask you bump the priority of this please? It seems to fail about 25% of builds.

This should obviously be lower priority to the fix for duplicate cron workflows.

[2020-11-02 15:52] alexec commented on #4394
sorry, I forgot you must state ARGO_NAMESPACE too:
docker run --rm -it \
  -e ARGO_TOKEN=ARGO_TOKEN \
  -e ARGO_SERVER=ARGO_SERVER \
  -e ARGO_HTTP=true -e ARGO_NAMESPACE=argo \
  -e KUBECONFIG=/dev/null \
  argoproj/argocli:http template list -v -e -k

[2020-11-02 16:13] #4428 closed

[2020-11-02 16:20] alexec commented on #4394
[code]

[2020-11-02 16:25] simster7 commented on #4171
Absolutely, I hope to have cron workflows done today, I will work on this next.

[2020-11-02 16:33] #4359 closed

[2020-11-02 16:34] alexec commented on #4171
Maybe they are related. Hopefully!

[2020-11-02 16:45] na-bot-o commented on #4431
It seems to be occured when ummarshal yaml to json

workflow/controller/operator_test.go
[code]

results:
`[string 0 0 false 1.3 \u003c\u003e\u0026]`

[2020-11-02 17:18] sarabala1979 commented on #4430
the template name is missing in variable `"{{main.tasks.task1.status}}"`
[code]

[2020-11-02 17:22] sebastien-prudhomme opened #4438 "globalname not working when Argo has no default archive location"
## Summary

Executing https://github.com/argoproj/argo/blob/master/examples/global-outputs.yaml on an Argo instance without default archive location

The workflow `generate` step fails with this error:

[code]

I think it's a bug as if I've understood the usecase for globalname, an external artifact location is not needed when using such a config field.

## Diagnostics

What Kubernetes provider ar

[2020-11-02 17:25] alexec commented on #4438
Interesting. This workflow cannot work without a default location - where would it save the output?

[2020-11-02 17:31] hadim opened #4439 "Log artifact not annotated to the pod when an output artifact fails"
## Setup

- K8s provider: GCP running 1.17.9-gke.6300
- Argo version: 2.10.2:
  - I also tried with `argoproj/argocli:latest` and observe the same bug.
  - I **haven't tried** with `argoproj/workflow-controller:latest`.

## What happen

When a folder of an output artifact in the container does not exist, upon termination, argo can't upload it (which seems obvious). But **in consequence** the pod *

[2020-11-02 17:47] sebastien-prudhomme commented on #4438
I misunderstood the feature. I close the issue.

[2020-11-02 17:47] #4438 closed

[2020-11-02 19:45] simster7 opened #4441 "Add endpoints to suspend and resume CronWorkflows"
# Summary

Add endpoints to suspend and resume CronWorkflows

# Use Cases

Currently the only way to do this is to get the CronWorkflow, edit it, and update it

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-11-02 19:53] alexec commented on #4439
Would you like to make an attempt to fix this? This will be in executor.go.

[2020-11-02 20:04] hadim commented on #4439
In `main.go` (https://github.com/argoproj/argo/blob/master/cmd/argoexec/commands/wait.go):

[code]

Would the fix be a simple as running `AnnotateOutputs()` before `SaveParameters()` and directly after `SaveLogs()`?

[2020-11-02 20:10] alexec commented on #4439
I wonder if `AnnotateOutputs` should be done using `defer`?

[2020-11-02 20:18] hadim commented on #4439
This is where my Go skills are lacking :-) I honestly don't know what would be the best approach here. I think it's important to annotate the log artifact to the pod straight after `SaveLogs()` so annotations are not lost upon failure. But that being said maybe there is a more smart and elegant way to do that in go.

If you could take care of it I would be very grateful!

[2020-11-02 20:26] akloss-cibo commented on #4239
I pulled the workflow nodes out of the postgresql for one of our workflows that gets stuck in `Running` while making no progress.  Postgresql takes a while just to process the row in a trivial explain:
[code]
I did pull down the nodes and:
[code]

[2020-11-02 20:40] shahadarsh commented on #2962
Hey folks, I'm getting the same error.

@iven I tried your workaround but it didn't work. I also tried the following without any luck. Any help would be appreciated.

`go get github.com/argoproj/argo@8f696174746ed01b9bf1941ad03da62d312df641`

[2020-11-02 21:03] alexec commented on #4239
You should not be querying from `argo_workflows` using `uid`. There is no index, so you'll end up sequentially scanning the table.

[code]

In fact, you should never be querying from that table. It is internal to Argo Workflows.

Can you try `argoproj/workflow-controller:latest` please?

[2020-11-02 21:14] josephmcgovern-wf opened #4442 "IntOrString not accepting variables"
## Summary

I would expect to be able to provide an input variable to an `activeDeadlineSeconds` field on a template. However, I receive validation errors when attempting to do this.

I would expect to be able to submit a workflow that specifies `activeDeadlineSecond` via a variable and have its value properly populated.

## Diagnostics

EKS, but that's N/A for this scenario.

[code]

Here is my w

[2020-11-02 22:22] akloss-cibo commented on #4239
Since there are only two rows in the table, I think the overhead from the table scan is nominal compared to reading the json.

Yep, we'll give it a go.

[2020-11-02 22:53] dbseel opened #4443 "TemplateRef metrics not working from within WorkflowTemplate"
## Summary

I have a WorkflowTemplate that contains a list of steps, each of which calls a dag template. This dag template calls other common step templates, and within this step template is a metric with labels based on the parameter passed in. When I check prometheus after running the workflow, I only see results labelled against the first parameter passed in for each metric, but the number of r

[2020-11-03 00:02] Sharathmk99 commented on #4430
HI @sarabala1979 ,

Thank you for quick response. I tried with template name, now i don't get any error but status value is not replaced. Please find below sample workflow,

[code]

Task2 Logs(First 3 lines),

[code]

Please suggest how to make sure status is replaced.

Thanks.

[2020-11-03 03:32] jackywu opened #4444 "WorkflowStatus check is flawed"
## Summary

in `github.com/argoproj/argo/pkg/apis/workflow/v1alpha1/workflow_types.go` of argo 2.11

[code]

## Diagnostics

argo 2.11. I think it should be

[code]

Is it necessary? @alexec

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-11-03 06:03] sarabala1979 commented on #4444
There are already supporting functions in `Nodephase`.    `func (ws *WorkflowStatus) Failed() bool ` is a convenient function.
 Do you have any requirements to have FailedOrError()?
https://github.com/argoproj/argo/blob/6016ebdd94115ae3fb13cadbecd27cf2bc390657/pkg/apis/workflow/v1alpha1/workflow_types.go#L1436-L1463

[2020-11-03 06:09] jackywu commented on #4444
oh, thanks @sarabala1979 , I'll close this issue.

[2020-11-03 06:09] #4444 closed

[2020-11-03 06:34] monsterxx03 opened #4445 "Resume a suspended cronjob will trigger workflow twice"
## Summary

Create a cronjob run at every minute. Let it scheduled once(so LastScheduledTime will be filled). Then:

`argo cron suspend test-cron-wf`

Wait for 1 min, after  its next scheduled time, do:

`argo cron resume test-cron-wf`

I will see two workflows are created.

`argo list:`

    test-cron-wf-rc45q                                 Running     4s    4s         0
    test-cron-wf-gw8t2

[2020-11-03 06:52] monsterxx03 commented on #4445
Maybe  a duplicated issue of https://github.com/argoproj/argo/issues/4392

[2020-11-03 07:51] azhar22k commented on #2053
This actually totally makes sense and a much-needed feature.
One of the use cases that we have is different service accounts in the namespaces have different permissions and IAM roles annotated to them.
Currently, it is impossible to run steps as part of a single workflow which requires a different set of permissions

[2020-11-03 11:05] giordyb opened #4447 "argo with SSO login to provider with internal CA throws x509: certificate signed by unknown authority""
## Summary

I am trying to configure ARGO to authenticate via SSO to an internal Keycloak server. The keycloak server certificates are signed by an internal CA.

I added this section in the  workflow-controller-configmap:

[code]
and in the argo-server deployment I changed the args as following:

[code]

after applying the configmap and changing the deployment the argo-server it starts but goes on

[2020-11-03 12:58] simster7 commented on #4445
Yes, this should be fixed with #4440. Closing as duplicate. Thanks for the detailed bug report anyway

[2020-11-03 12:58] #4445 closed

[2020-11-03 12:59] simster7 commented on #4442
Seems like a bug, I'll take a look

[2020-11-03 13:32] nmandery commented on #4377
Thanks for the explanation @sarabala1979 . I guess we will switch out production workflows to this new implementation once it gets released. I will then try to keep an eye on its how it behaves with longer running workflows.

[2020-11-03 13:36] simster7 commented on #4171
I am now 90% sure they are. This should be fixed with #4440

[2020-11-03 14:06] simster7 commented on #4443
Will take a look

[2020-11-03 14:59] suibh commented on #2800
@toyama0919, how did you get this working for s3?

[2020-11-03 15:36] alexec commented on #4447
I'm pretty sure you'll need to mount a volume with your certificates. Maybe something like this:

https://medium.com/faun/mount-ssl-certificates-in-kubernetes-pod-with-secret-8aca220896e6

[2020-11-03 15:36] alexec commented on #2053
Could you do this using `podSpecPatch`?

[2020-11-03 15:42] posquit0 commented on #4394
I succeed without `KUBECONFIG=/dev/null`.

[code]

Btw, the AWS released a new feature of ALB to support HTTP2 and gRPC. 🎊
  - https://aws.amazon.com/about-aws/whats-new/2020/10/application-load-balancers-enable-grpc-workloads-end-to-end-http-2-support/

[2020-11-03 15:44] alexec commented on #4394
I saw that yesterday! Have you tried it out?

[2020-11-03 15:57] #4264 closed

[2020-11-03 16:19] arghya88 commented on #3873
@alexec so setting a timeout using an environment variable would be a reasonable approach?

[2020-11-03 16:25] alexec commented on #3873
I think this might be a commonly used feature. Maybe `sso.timeout` config item?

[2020-11-03 16:34] arghya88 commented on #3873
You mean set it in the cm `https://github.com/argoproj/argo/blob/c71116ddedafde0f2931fbd489b9b17b8bd81e65/docs/workflow-controller-configmap.yaml` and use that in code. Is there any other sso config that we can set now via cm? Nevertheless I can give this a try

[2020-11-03 16:46] alexec commented on #3873
yes - all SSO config is in the cm

[2020-11-03 16:52] posquit0 commented on #4394
Yup, it works with ALB.
  - Target Group
    - Type: IP
    - Protocol: HTTPS
    - Protocol Version: gRPC
    - Port: 2746
  - ALB
    - HTTPS Listener (443)

[code]

[2020-11-03 16:53] arghya88 commented on #3873
/assign

[2020-11-03 16:54] alexec commented on #4394
excellent news!

[2020-11-03 17:41] simster7 commented on #4445
Just confirmed this is fixed with #4440

[2020-11-03 19:04] #4442 closed

[2020-11-03 20:23] bklaubos opened #4454 "Docs doesn't tell user differences between workflow Stop and Terminate behaviors"
## Summary
I expect  CLI docs to tell end user differences between `argo terminate` and `argo stop`  intentions and its expected behavior. I found none.

## Diagnostics

What Kubernetes provider are you using?
AWS
What version of Argo Workflows are you running?
2.16

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-11-03 23:50] simster7 commented on #4454
Feel free to submit a PR

[2020-11-04 00:09] #4171 closed

[2020-11-04 00:09] #4392 closed

[2020-11-04 00:31] michael132 commented on #3026
as issue as @SaigyoujiYuyuko233 mentioned but with k8s nginx ingress controller as well

[2020-11-04 07:56] giordyb commented on #4447
@alexec that did the trick thank you.

[2020-11-04 08:52] #4447 closed

[2020-11-04 15:09] bklaubos commented on #4454
I logged this bug because as end user, I don't know the difference between stop vs terminate workflow.  Are they the same?. If not, what are the expected behaviours.

[2020-11-04 15:20] Sharathmk99 commented on #4430
@sarabala1979 you got some time to check this issue. This is really blocking us.
Thank you for your time.

[2020-11-04 15:22] alexec commented on #4454
They seem to be related to "shutdown strategy".

* `Terminate` do not run any more node nodes in the workflow.
* `Stop` do not run any more nodes -  except exit handlers.

I'm not clear what happens to running nodes.

[2020-11-04 15:38] akloss-cibo commented on #4239
We did have some success with the `:latest` image in that our workflow made it to `Failed` status.  When trying to retry through the web UI, there's an error.  The log says
[code]
Any ideas?

[2020-11-04 15:41] alexec commented on #4239
huh -  that error is related to offloading - have you turned it on and the off?

[2020-11-04 16:03] akloss-cibo commented on #4239
AFAIK, we have not.  Are you suggesting that we try that?

[2020-11-04 16:05] simster7 commented on #4454
In both cases running nodes are stopped.

`Terminate` stops the workflow immediately, while `Stop` stops the workflow _but allows all exit handlers to run_.

[2020-11-04 16:44] #1554 closed

[2020-11-04 16:52] alexec commented on #4239
No, you should never see that error - it indicates that the data was deleted from the database, but not from etcd. I don't know how this can happen and could be a separate unrelated bug.

Have you ever seen this before?

[2020-11-04 17:11] #4443 closed

[2020-11-04 21:57] #4377 closed

[2020-11-04 23:40] sskazr opened #4460 "Argo server api doesn't work when running inside kubernetes"
## Summary

When deploying [namespace-install.yaml](https://github.com/argoproj/argo/blob/master/manifests/namespace-install.yaml) and attempting to access the service via port-forward or within the cluster via curl, all api calls return a 503.

Api calls return `{"code":14,"message":"connection error: desc = \"transport: Error while dialing dial tcp x.x.x.x:2746: connect: connection refused\""}`.

[2020-11-05 02:12] mikechau commented on #4460
Also running into this issue. Suspect it's related to alpine / scratch based images missing something. We were able to resolve this by adding the argocli binary to a debian image.

Here's the grpc output of the argo server running on a Alpine Linux based image:

[code]

Here's the grpc output for the argo server running on a debian based image:

[code]

Our debian dockerfile, if anyone needs a qui

[2020-11-05 02:30] mikechau commented on #4460
We've also observed that the argo server on the Alpine Linux image starts to work as expected when setting `GODEBUG=netdns=cgo` in the environment.

[2020-11-05 02:39] mikechau commented on #4460
Related: https://github.com/argoproj/argo/issues/3564, https://github.com/golang/go/issues/22846

[2020-11-05 03:01] alexec commented on #4460
It works on K3S and EKS. Can I ask what Kubernetes provider are you using? KIND? Bare metal? GKS?

[2020-11-05 03:02] alexec commented on #4460
Would you like to pick up the incomplete PR that is related if you think it'll fix?

[2020-11-05 03:38] sarabala1979 commented on #3551
@abirdZendesk  I am not able to reproduce this issue but I would like to collect log to understand the problem . I have built eng build with extra loggings. Can you deploy it and collect the log?
```sarabala1979/workflow-controller:latest``

[2020-11-05 03:48] #4460 closed

[2020-11-05 06:15] tarunpantqb commented on #3739
I'm using V2.11.7 and running into the same issue again.
All DAGs are going into long run and keep hanging.

[code]

[2020-11-05 10:39] sylock opened #4463 "Cannot access artifacts for an archived workflow from the UI"
## Summary

I click on the summary of a finished workflow. I get the list of all artifacts. When I click on one of them to download the artifact, I get a permission denied. See the screenshots below.

![2020-11-05_11h04_32](https://user-images.githubusercontent.com/2362405/98228747-4d0a4080-1f59-11eb-84fa-1beddc1d38e0.png)
![2020-11-05_11h04_47](https://user-images.githubusercontent.com/2362405/98

[2020-11-05 12:12] markterm opened #4464 "Transient database errors with offload enabled cause workflow to fail"
## Summary

If there is a transient database connection error with offload enabled, then active workflows are marked as failed. I would at least expect some kind of retry.

## Diagnostics

What Kubernetes provider are you using?
GKE

What version of Argo Workflows are you running?
2.11.0-rc1

[code]

[code]

Seems to be caused by controller.go:517 which marks any workflows as 'error' if hydration

[2020-11-05 13:20] knabben commented on #4454
What about adding these notes to the Cobra helper? I can help with this ticket.

https://github.com/argoproj/argo/blob/master/cmd/argo/commands/terminate.go#L16
https://github.com/argoproj/argo/blob/master/cmd/argo/commands/stop.go#L27

[2020-11-05 13:22] #4441 closed

[2020-11-05 13:31] simster7 commented on #4454
Sure, that would be great. I would also find a place in the docs to add the same information

[2020-11-05 13:36] akloss-cibo commented on #4239
I think that was the first time we've gotten a workflow to finish without lots of manual intervention.  We did run it again overnight and have the same behavior, by which I mean the workflow runs, fails, and then cannot be retried.  The tables I think are relevant are empty:
[code]

[2020-11-05 13:36] mhehle opened #4466 "inconsistent behavior of parallel workflow step execution"
## Summary
Argo Workflows executes DAG/Steps in different ways.

- Workflow with DAG and Image1 is executed in parallel,
- Workflow with DAG and Image2 is execute sequentially

**What happened/what you expected to happen?**
Both workflows should execute DAG/steps in parallel.

## Diagnostics

**What Kubernetes provider are you using?**
v1.19.3 > local setup with docker desktop version 2.5.0.0 (494

[2020-11-05 14:40] simster7 commented on #4466
Will investigate

[2020-11-05 14:54] terrytangyuan opened #4467 "[Proposal] Switch to use informers to handle k8s resource state/status checking"
# Summary

Switch to use informers to handle k8s resource state/status checking.

# Use Cases

Currently the executor calls `kubectl get` with a fixed interval to check the status/state of the k8s resource that's created ([related code](https://github.com/argoproj/argo/blob/cac10f1306ae6f28eee4b2485f802b7512920474/workflow/executor/resource.go#L169-L185)). This will add a lot of burden on the clus

[2020-11-05 17:17] alexec commented on #4467
Would you like to submit a PR to do this?

[2020-11-05 17:21] alexec commented on #3739
Can you please try `:latest`?

[2020-11-05 17:22] alexec commented on #4463
Can you please try with `:v2.11.7`?

[2020-11-05 18:21] pbonito opened #4471 "All Argo Workflows logs are marked as error on stackdriver"
Hi,
we are using Argo Workflows on GCP. All logs are currently captured in stackdriver but we observe a strange behaviour: all entries are marked as error regardless of log level.
severity: "ERROR"
 textPayload: "time="2020-11-05T17:25:18.576Z" level=info msg="Main container completed"

Same happens if we try to use python logging module. Only way to have log entries correctly marked as Info in st

[2020-11-05 19:39] sarabala1979 commented on #4467
Instead of Informer, I would recommend using listwatcher to avoid memory usage.

[2020-11-05 22:47] alexec commented on #4464
This should be fixed. I think we should create a `RetryingOffloadNodeStatusRepo` that delegates to another `OffloadNodeStatusRepo` - but adds retry using `wait.ExponentialBackoff`. Would you be interested in submitting a PR?

[2020-11-05 22:56] alexec commented on #4394
I've created binaries to test:

https://github.com/argoproj/argo/releases/tag/http-rc1

[2020-11-05 23:19] alexec commented on #4422
Just a thought - any reason not to use the client directly? The benefit of `newArgoKubeClient` is that it wraps up server behaviour in the CLI. But you could use the generated code directly and that takes `rest.Config`.

[2020-11-05 23:20] alexec commented on #4355
Let's get a meeting with @Ark-kun . Do you need me to drive this?

[2020-11-05 23:23] alexec opened #4472 "Click through to workflow or k8s resource"
I'd like to click on a trigger in the namespace details page and be taken to a list of created resources/workflows.

[2020-11-05 23:24] alexec opened #4473 "v3-ui: suspend or resume event source or sensor"
I'd like to be able to suspend or resume event sources or sensors.

[2020-11-05 23:25] alexec opened #4474 "Trigger event source from UI"
I'd like to be able to click on an event source and trigger it manually.

[2020-11-05 23:26] alexec opened #4475 "Show number of trigger invocations on each entity"
Show the number of times an entity has been triggered.

[2020-11-05 23:26] alexec opened #4476 "ui-v3: Filter entities in namespace details page"
I'd like to only see some entities on this page.

[2020-11-06 01:21] #4394 closed

[2020-11-06 03:44] #4327 closed

[2020-11-06 06:22] posquit0 commented on #4394
It works! Expect a next version! :)

[2020-11-06 06:44] Bobgy commented on #4355
@alexc Thanks! I'll get my design reviewed internally first next week. I can drive the meeting with you after that.

[2020-11-06 06:52] brabster opened #4477 "Publish OpenAPI schemas separately for CRD validation schemas"
# Summary

Publish the OpenAPI schemas that are used for CRD validation as standalone schemas for use in applications that are OpenAPI-aware, but are not K8s CRD validation-aware.

# Use Cases

CRDs are published and can be used with [Kubernetes-aware IDE capabilities](https://argoproj.github.io/argo/ide-setup/) to provide schema validation.

VSCode has no extensions with the appropriate level of

[2020-11-06 09:20] cr4zy-C opened #4478 "Workflow cannot read float"
## Summary

When a workflow parameter is a float, workflow parsing fails with the error message:
`Failed to parse workflow: error unmarshaling JSON: while decoding JSON: json: cannot unmarshal number 0.2 into Go struct field Parameter.spec.arguments.parameters.value of type int`

What happened/what you expected to happen?
Would expect that the workflow is parsed correctly, float into type float.

[2020-11-06 09:55] agniveshadhikari commented on #4390
I'd expect `svc/workflow-controller-metrics` to serve the metrics on `/metrics` endpoint. Right now, the metrics are not served from either a discoverable port, or a discoverable service.

[2020-11-06 11:48] markterm commented on #4464
Thanks - I’m afraid I don’t have capacity to work on this in the immediate
future.

On Thu, 5 Nov 2020 at 22:47, Alex Collins <notifications@github.com> wrote:

[2020-11-06 13:49] simster7 commented on #3739
@tarunpantqb I just ran the sample workflow you posted with no issues. I also see that it's one of our examples, which means that if there was a bug that prevented it from running successfully, our testing infrastructure would have caught it already.

Lastly, as you can see in https://github.com/argoproj/argo/issues/3739#issuecomment-672286102, this issue is only relevant  for DAGs that contain a

[2020-11-06 13:49] #3739 closed

[2020-11-06 15:33] nojvek opened #4479 "Ability to specify outputs in DAG tasks"
# Summary

What change needs making?

Right now outputs can only be specified in base template, DAG & Step tasks can only pass arguments. Would be great if DAG tasks could specify the outputs, so the base template(container/script) can be re-used amongst tasks.

# Use Cases

Example:

[code]

Basically this avoids having to duplicate script template over and over again just to serve different/mult

[2020-11-06 15:44] snowzach opened #4480 "Sub-Templates that can be merged with templates during creation"
# Summary

It would be awesome to have a sub-template configuration that could be included/merged with an existing templates. (Kinda like Kubernetes PodPresets)

# Use Cases

Examples:
* Node Selector / Toleration configuration to get a workflow step to run on specific nodes
* Sidecar configuration to include an SQL proxy sidecar

I was thinking about this from the standpoint of creating a mutatin

[2020-11-06 15:48] ghost opened #4481 "Weird argument arrangement when using script template"
# Summary

I wanted to add a template that is activated on a workflow exit (the `onExit` field) with a purpose of notifying the user about the workflow status. I decided to use a template of type `script`, like this:

[code]

This failed. After inspecting the pod, I saw that Argo passed the arguments to the python container in the following way `Succeeded /argo/staging/script`, I would expect it t

[2020-11-06 15:49] alexec commented on #4478
Floats are not allowed in parameter values. It should be a string and can be an int64.

To support 'fload64' we would need to modify `Int64OrString` to support floats.

Would you like to submit a PR?

[2020-11-06 15:49] alexec commented on #4478
Oh - you can quote floats.

[2020-11-06 15:50] alexec commented on #4478
[code]

[2020-11-06 15:51] alexec commented on #4390
@agniveshadhikari do you have an idea of the correct YAML for the service? Can you share anything about the Prometheus auto-discovery?

[2020-11-06 15:56] alexec commented on #4481
Why not do this:

[code]

[2020-11-06 16:04] arghya88 commented on #4478
@alexec I am interested to contribute this.Please assign this to me.

[2020-11-06 16:49] dcherman commented on #3775
@alexec Can we reopen this one?  I'm running into this as well (essentially the same stacktrace).

The problem is here:

https://github.com/argoproj/argo/blob/a441a97bd53a92b8cc5fb918edd1f66701d1cf5c/ui/src/app/shared/components/pagination-panel.tsx#L38-L39

The value of `all` is piped through `parseLimit`, however `parseLimit` returns `null` for values that it's unable to parse.

That causes this

[2020-11-06 16:51] alexec commented on #4477
We publish the OpenAPI definitions:

https://raw.githubusercontent.com/argoproj/argo/master/api/openapi-spec/swagger.json

We use them in the UI for code-completion.

Could you use that?

[2020-11-06 16:55] alexec commented on #3775
I think `all` should mean we pass `null` to the backend.

[2020-11-06 18:04] Boolman opened #4483 "feature request - submit workflow templates"
# Summary

the "Submit Workflow" mode on the webui, I would like to have a option to select a template from a set of example workflows

For example:
click on "submit workflow", click on the dropdown, choose "Packer"

It fills out this in the form:
[code]
And the user fills out the required values and submit the workflow

# Use

I believe this would make it easier for team members

---

**Message f

[2020-11-06 18:48] simster7 commented on #4483
You can already submit workflow templates directly from the UI from the Workflow Templates view:

<img width="834" alt="image" src="https://user-images.githubusercontent.com/614838/98403262-4e596d00-202e-11eb-8105-8c63f933e3da.png">

[2020-11-06 18:49] simster7 commented on #4483
You can also do the same from the CLI:

[code]

[2020-11-06 19:01] Boolman commented on #4483
Hi,
okey I didnt know that. When I'm testing now, I can't supply any parameters to my workflowtemplates.

[2020-11-06 19:09] simster7 commented on #4483
Works fine for me. What version are you running?

<img width="953" alt="image" src="https://user-images.githubusercontent.com/614838/98405029-31726900-2031-11eb-81ea-24e41091adfa.png">

[2020-11-06 19:22] Boolman commented on #4483
version 2.11.7
![workflow](https://user-images.githubusercontent.com/9446644/98406106-ad8aa200-206d-11eb-9ef1-49ee2ce81234.png)

[2020-11-06 19:41] cgorman opened #4484 "Variable substitution not working when there's whitespace between the braces and the variable"
## Summary

Per [the documentation](https://argoproj.github.io/argo/variables/), we should be able to write

[code]
but including whitespace as the first example does passes the string literal rather than substituting the variable.

## Diagnostics

**What Kubernetes provider are you using?**
Microk8s on WIndows

**What version of Argo Workflows are you running?**
2.11.7

Note that this is the same

[2020-11-06 20:11] jfreuter-finnet opened #4485 "BASE_HREF=/argo/ does not result in <base href=/argo/> tag."
## Summary

I am trying to set up Argo Workflows behind a Kong Ingress Controller.  When I access argo through the ingress, I get the main html page, but not any linked resources. This results in a blank page.

I have configured the base BASE_HREF environment variable to "/argo/" and I can see in the argo server logs that baseHRef is set to "/argo/". Howevery, the html contains `<base href="/" >`

[2020-11-06 20:40] alexec commented on #4485
This works for me.

https://argoproj.github.io/argo/argo-server/#ingress

Do you need the re-write target?

[2020-11-06 21:28] terrytangyuan commented on #4467
@sarabala1979 Thanks for the suggestion. My understanding is that informer leverages list-watch mechanism so that we will only query from the server for the first time list() is called and then we will only query from local cache after that. Could you clarify what you meant?

@alexec Yes, I can look into this when I get a chance and will send a WIP PR if I start working on it.

[2020-11-06 23:06] alexec commented on #4464
https://github.com/argoproj/argo/commit/ee848921348676718a8ab4cef8e8c2f52b86d124

[2020-11-06 23:11] alexec commented on #4464
Can you try with `v2.11.7`?

[2020-11-07 13:42] brabster commented on #4477
I did try that at first but I had no luck - doesn't work with the YAML extension and there's no other extension I could find. Same problem as the schemas embedded in the CRDs, I think. That definition describes a while API  - the schema I need to validate a workflow is embedded in there but there's no simple way to pull it out. Thus my thought about generating/publishing the data schemas separatel

[2020-11-07 18:15] sarabala1979 commented on #4484
Would you like to fix the document and submit the PR?

[2020-11-07 18:32] ivancili commented on #4481
@alexec Yes, as I said, that works just fine and is more than enough for my use case.

All I'm saying is that this behavior is unexpected/unintuitive. As soon as someone tries to use `args` field in a script template, they will definitely encounter the same problem. Because no one would expect `args` to be passed directly to the `command`, instead of passing them to the script. It's not that big o

[2020-11-07 19:54] #3775 closed

[2020-11-07 19:58] alexec commented on #4477
To generate crds run `make codegen`.
Kubernetes OpenAPI spec is verbose and kind-of non-standard. E.g. it inlines types and has some special types. You're better on basing your schema on `hack/swagger/secondaryswaggergen.go`:

[code]

[2020-11-07 19:59] alexec commented on #4481
Got it. Would you like to submit a PR to fix?

[2020-11-07 22:20] ivancili commented on #4481
@alexec Sure

[2020-11-08 00:50] alexec opened #4487 "Event source GUI editor"
The ability to create and edit event sources in the U.

[2020-11-08 00:51] alexec opened #4488 "Sensor GUI editor"
Create and edit sensors in the UI.

[2020-11-08 00:52] alexec opened #4489 "Workflow template GUI editor"
Allow the user to edit the spec of a workflow (and therefore cron workflow, workflow template) in the UI.

[2020-11-08 09:14] Sharathmk99 commented on #4430
@sarabala1979 it will really good to solve this issue, we are blocked on our implementation.

[2020-11-09 02:57] zen-xu opened #4493 "How can I update pod request memory and restart it when Pod OOMKilled"
# Use Cases

When would you use this?

It's hard to guess how much memory need for our tasks to run. So we want if the pod is OOMKilled, argo can scale up its memory and restart it automaticly.

[2020-11-09 09:39] JFReuter-Fin commented on #4485
@alexec You are right, of course. We had a lingering previous installation of argo workflows and the ingress directed to the wrong installation. Thank you for your help.

[2020-11-09 09:39] #4485 closed

[2020-11-09 09:58] sylock commented on #4463
I tried with the updated version but I still get the same. I'm sure there is a permission not set correctly somewhere, but I don't find where.

**Updated version**
![2020-11-09_10h55_43](https://user-images.githubusercontent.com/2362405/98526712-5f96b980-227a-11eb-8692-b5428945c94d.png)

**The same issue**
![2020-11-09_10h56_11](https://user-images.githubusercontent.com/2362405/98526731-66bdc780-2

[2020-11-09 12:46] audriusrudalevicius commented on #2901
I can confirm it retries with 2.11.6 version when the error message is "pod deleted". Need to have backoff configured. Only issue I found is "
Timeout: request did not complete within requested timeout" when argo time outs while waiting create pod or other kubernetes api operation but thats other issue that I think is not related to preemptible instances. In this case workflow will fail without re

[2020-11-09 13:09] simster7 commented on #4484
I'll take a look

[2020-11-09 13:10] simster7 commented on #4483
Can you attach the workflow template that you're trying to submit?

[2020-11-09 15:29] #4476 closed

[2020-11-09 15:30] alexec commented on #4471
@whynowy can you please share the fix?

[2020-11-09 16:40] markterm commented on #4464
I tried turning off incoming connections for the DB for a few seconds while a workflow was running, and got this, which looks like a hard fail on dehydration:

[code]

[2020-11-09 16:43] simster7 commented on #4466
I am not able to reproduce this. Does this issue happen reliably? Could it have something to do with your environment?

[2020-11-09 16:51] simster7 commented on #4484
I am so far unable to reproduce this issue with the example from the variables doc or the workflow you provided:

[code]

[2020-11-09 16:51] simster7 commented on #4484
Do you have any more info that could help me diagnose?

[2020-11-09 17:01] #4246 closed

[2020-11-09 17:01] #4267 closed

[2020-11-09 17:01] #4344 closed

[2020-11-09 17:19] #3803 closed

[2020-11-09 19:24] akloss-cibo commented on #4239
We've given another large workflow a try and it has ended up stuck `Running` with no pods for the workflow.  At this point, we have
[code]
set for the workflow controller.  We periodically see
[code]
(empty lines removed) in the postgresql server's stdout.  I think this may be coming from argo-server, not the workflow-controller.  We went up to a pretty big pod for argo-server (8 CPU,s 32 GI memor

[2020-11-09 19:34] alexec commented on #4464
How long was your database offline for?

[2020-11-09 19:45] alexec commented on #4471
[code]

[2020-11-09 19:47] alexec commented on #4471
It appears that Golang apps typically logs to stderr by default.

For me this is counter-intuitive, but @jessesuen suggests this is common for Golang and Python.

[2020-11-09 19:54] alexec commented on #4479
Could you try parameterize the output from the template? Not sure it works?

[code]

[2020-11-09 19:57] alexec commented on #4480
How would you envisage configuring this behaviour?

[2020-11-09 20:00] alexec commented on #4493
Alternative #3106

[2020-11-09 20:02] alexec commented on #4493
There was a request to retry any failed workflow pod using different parameters (e.g. resource requests/limits).

#3106 is about helping identify these prior to execution.

[2020-11-09 20:24] nojvek commented on #4479
Yeah the ask was basically being able to use a script template, but specify what paths to take the output/input from.

A workaround is just have a single default output always, and use that as a convention. However the limitation is you only get what's in base template. If you need two outputs, then specify a duplicate of template with only outputs different.

I see previously there was a "templat

[2020-11-09 20:35] alexec commented on #4239
Could we have a Zoom?

[2020-11-09 21:06] Boolman commented on #4483
hmm okey now I see.. in my workflowtemplates, I dont use spec.arguments.

[2020-11-09 21:06] #4483 closed

[2020-11-09 21:33] snowzach commented on #4480
I think honestly the schema could be that of a normal template and then some option that "merges" the two templates together. Anything with the same `name` could either combine or replace if that's easier... Probably a lot easier to implement if it replaces things with duplicate names.

So a template example I would find useful is for a Google SQL Proxy Sidecar

[code]

And then in my main templat

[2020-11-09 22:22] akloss-cibo commented on #4239
Sure... I just joined the argo slack; is that a good way to get linked up?

[2020-11-10 00:12] dcherman commented on #1665
This might be solved by the `argocd-sync-and-wait` template available in the Workflow Catalog

https://github.com/argoproj-labs/argo-workflows-catalog

Would that work for your use case?

[2020-11-10 02:06] alexec commented on #4239
Ping me on Slack.

[2020-11-10 03:28] zen-xu opened #4497 "How can I stop a running service pod, like redis"
# Use Cases

When would you use this?
![image](https://user-images.githubusercontent.com/38552291/98623826-6f300400-2347-11eb-9a69-c006cd6879ca.png)

I need to start a `redis` first, then create some tasks (`hello` task) use it.

But when all tasks done, how can I stop the `redis`?

[2020-11-10 03:31] #4497 closed

[2020-11-10 08:43] sylock commented on #4463
I have another issue with the current installation and it is probably related. It seems I have some persistance problems. The history of runs of workflow (timeline page) is not persistant. Whil I'm logged in I can see the runs. If I log out and come back, I don't get the history back. But as you can see, accessing directly to the archive URL works. I don't see any issues in logs. Is it a problem w

[2020-11-10 08:46] mweibel opened #4499 "docker image tag v2.12.0-rc1 is no manifest containing all architectures"
## Summary

https://hub.docker.com/layers/argoproj/argoexec/v2.12.0-rc1/images/sha256-c2489151857efca3073cf7ad90e955ce38d765c580d4d1906197a179f9cd2b30?context=explore

This tag seems to be a single tag of linux/amd64 and is not a manifest containing arm and windows builds (see [`latest`](https://hub.docker.com/layers/argoproj/argoexec/latest/images/sha256-a7ecbb53c0220d88c066e57a6add17aa74e8e66f8d

[2020-11-10 09:36] mhehle commented on #4466
Yes this issue happens reliably.

I made a small video and uploaded it on YT.
-> https://youtu.be/79GP5QYWdIs

**I installed and started argo with following commands:**

[code]

[2020-11-10 09:38] zen-xu commented on #4493
Thanks @alexec

Is there a convenient way to get pod message?

<img src="https://user-images.githubusercontent.com/38552291/98656071-3447c380-237b-11eb-907c-01c98267df79.png" width="40%" height="40%">

[2020-11-10 09:59] markterm commented on #4464
Ah - about a minute and I can see that the maximum retry is under a second.

How about having more retries for DB connection issues? eg single-AZ
database deployments with Amazon RDS can have outages of several minutes
during maintenance.

On Mon, 9 Nov 2020 at 19:34, Alex Collins <notifications@github.com> wrote:

[2020-11-10 10:21] fwfichtner opened #4500 "Semaphore support in workflowTemplates and/or API"
# Summary

Using v2.12.0-rc1 the semaphore locks work if we submit workflows via CLI or UI, but they are ignored when we are submitting via API (they are not part of `io.argoproj.workflow.v1alpha1.WorkflowSubmitRequest`) or when the semaphore locks only exist in the workflowTemplate (instead of the submitting workflow).

# Use Cases

It would be good to have at least one of the options for automat

[2020-11-10 13:30] sarabala1979 commented on #4500
Can you provide sample workflow and workflowtemplate?

[2020-11-10 13:52] fwfichtner commented on #4500
Here's a workflowTemplate and a workflow (putting the semaphore into the workflow works):

[code]

As an alternative the object is also missing in the REST submit.

[2020-11-10 14:53] simster7 commented on #4466
I see what you're saying now.

However, even from your video it looks like Argo is working correctly. When you see the two yellow `Pending` nodes on the workflow, that means that Argo has scheduled both Pods to run and from your video it's clear that it does so in parallel. What happens after Argo creates the Pods is entirely in K8s' (and not in Argo's) control. The small delay between the two Pod

[2020-11-10 14:53] #4466 closed

[2020-11-10 14:54] #4406 closed

[2020-11-10 14:59] simster7 opened #4501 ""TestWFDefaultWithWFTAndWf" is flakey"
Failed runs:

https://github.com/argoproj/argo/runs/1379089047

https://github.com/argoproj/argo/runs/1380263090

https://github.com/argoproj/argo/runs/1376428332

[2020-11-10 16:16] sarabala1979 commented on #4501
I will take a look

[2020-11-10 16:39] alexec commented on #4464
Maybe a transient error should not fail the workflow, instead, it should leave it running?

[2020-11-10 16:44] alexec commented on #4499
@argoproj/argo-windows can anyone please investigate?

[2020-11-10 16:45] alexec commented on #4463
I think this is probably a UI bug. Can you check what the page URL shows?

[2020-11-10 16:47] alexec commented on #4463
This issue I fixed was introduced in v2.11 and fixed in v2.11.7. I don't, therefore, think this is the issue I thought it was. I think there is something else going on.

Can you confirm you can access the artifact directly from you artifact repository?

[2020-11-10 16:53] markterm commented on #4464
Yes - I think if there's an error accessing the database on hydration then we should leave it running and try again later. However if the error is on dehydration then we could end up with a set of workflow updates that we can't persist, I don't see a good way out of that so failing the workflow seems reasonable.

[2020-11-10 17:00] alexec commented on #4464
@jessesuen interesting point - SQL database could be offline for minutes.

* For hydration, was can just re-queue the workflow and try again.
* For dehydration data might be lost.

What should we do - keep retrying for minutes?

[2020-11-10 17:31] alexec commented on #4464
@markterm I've created an engineering build for you to test:

[code]

[2020-11-10 17:37] alexec opened #4502 "`WorkflowEventBinding` in the UI"
For completeness, we should be able to list/create/update/test/delete these in the UI.

[2020-11-10 17:37] alexec opened #4503 "Cron workflow GUI editor"

[2020-11-10 17:39] alexec opened #4504 "Cluster workflow template GUI editor"

[2020-11-10 17:42] alexec opened #4505 "Suspend or resume trigger (or sensor?)"

[2020-11-10 17:43] alexec opened #4506 "Reinstate saving DAG display options"

[2020-11-10 18:17] simster7 commented on #4370
@yonirab I completed #4495 to implement this feature. Could I build a development image for you and ask you to test it to see if it works in your set up? We are also doing internal testing as well. The only catch is that the image would be off of latest `v2.12` and not `v2.9.3` which you said you are using.

Could you help us with this?

[2020-11-10 18:19] saitoy1 opened #4508 "Output artifact duplicated in a fan-in topology with the use of retryStrategy"
## Summary

An output artifact is duplicated in a fan-in topology when a pre-fan-in step producing the artifact specifies `retryStrategy`; the duplication occurs regardless of whether there is an actual retry or not. I can work around this duplication behavior by deduping the result on my end. That said, if this is a bug, it'd be great if it could be addressed on the Argo side.

## Diagnostics

Wh

[2020-11-10 18:35] #4370 closed

[2020-11-10 18:40] yonirab commented on #4370
Hi Simon,
I am all tied up at the moment so I can't promise I can find the time for this. But if you tell me how to install the dev image then if I find the time I'll try to give it a shot.
This is an important feature for us.
Thanks!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Simon Behar <notifications@github.com>
Sent: Tuesday, 10 November 2020, 20:17

[2020-11-10 18:51] cgorman commented on #4484
Wow that's wild! I have no idea then, the only things I can think of are that I'm using a community helm chart for deployment and I'm running it on a windows multipass microk8s setup. Any of those jump out to you as the culprit?

[2020-11-10 19:24] #4481 closed

[2020-11-10 22:36] ryedin opened #4509 "2.11.7 Argo UI - graph edge rendering is wonky"
## Summary

Take a look at the attached picture. No other way to describe it. The edges render sanely in the previous version we tried (2.10.1), but get very screwy in the latest.

render screenshot:
![Screen Shot 2020-11-10 at 4 15 42 PM](https://user-images.githubusercontent.com/151376/98741026-90a5e580-2371-11eb-934c-368a9006abdc.png)

workflow:
[code]

referenced templates (paraphrased... not