[2021-08-13 01:58] toohsk commented on #4247
Hi, @max-sixty !

Have you already solved this issue and how did you approach it?
I'm facing on the same page and what I've done is cut out `ClusterRoleBinding` as a resource file and put it to each namespace directory with fixing each namespace value.

I'm not sure my approach is the solution for this because `ClusterRoleBinding` is a role for the cluster itself and what I've thought is it should

[2021-08-13 02:00] max-sixty commented on #4247
We are just using the `argo` namespace!

[2021-08-13 02:14] toohsk commented on #4247
Got it, thanks!

[2021-08-13 03:38] wanghong230 commented on #6537
I will pick up this issue.

[2021-08-13 03:44] wanghong230 commented on #6537
The helm chart has adopted quay.io. Great!
https://github.com/argoproj/argo-helm/blob/master/charts/argo-workflows/values.yaml

[2021-08-13 04:27] sarabala1979 commented on #6537
I think images are pushing quay.io https://quay.io/repository/argoproj/workflow-controller?tab=tags
only we need to update the manifests (install.yaml(

[2021-08-13 04:47] Bobgy commented on #6530
Thank you!

[2021-08-13 05:35] #6530 closed

[2021-08-13 12:43] steve-marmalade commented on #6536
@sarabala1979  , here are the workflow controller logs:

[code]

Will get you a reproducible Workflow later today

[2021-08-13 13:57] sharmahemlata commented on #6268
As it turns out, my python code was not logging anything because I need to flush the output stream (sys.stdout.flush()).
Sorry for the bother and thanks for responding to my issue.

[2021-08-13 13:57] #6268 closed

[2021-08-13 15:39] alexec commented on #6458
This test is flakey.

[2021-08-13 15:55] alexec commented on #6458
I've commit a change to skip this test.

[2021-08-13 16:31] omus opened #6541 "`argoproj/argoexec:latest` sometimes only contains `linux/amd64`"
## Summary

Submitting any Argo workflow fails when running on an M1 Mac due to "argoproj/argoexec:latest" not including a linux/arm64 image.

The failures message from `kubectl describe`:
[code]

![Screen Shot 2021-08-13 at 11 25 01](https://user-images.githubusercontent.com/1675958/129390528-8b02d308-5f2d-47c1-8db5-8a4b0ac7897e.png)

## Diagnostics

What Kubernetes provider are you using?

[code

[2021-08-13 16:34] omus commented on #6541
I could work around this by specifying an alternate image such as "argoproj/argoexec:latest-linux-arm64" but I don't believe there is a way to change via `argo submit`.

[2021-08-13 16:38] omus commented on #6541
As of this moment the "latest" tag includes all of the expected OS/ARCH combos:
![Screen Shot 2021-08-13 at 11 35 44](https://user-images.githubusercontent.com/1675958/129391323-a3875091-27b4-4ec7-99ee-960389562023.png)
To me this points to there being a Docker build issue where "latest" is being updated too early resulting in runtime failures for those using linux/arm64 or windows/amd64.

[2021-08-13 18:04] uxth opened #6544 "basehref not working"
## Summary
Hello,
In the helm values.yaml, there is a value named basehref. Because I am going to use nginx ingress as reverse proxy. So I want to see the Argo workflow ui via path "/workflow", but after I have set the basehres to /workflow, and added an ingress for workflow, it did not show the web ui, but I do see the response document.

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset

[2021-08-13 18:28] uxth commented on #6544
I have tried the example from the doc here https://argoproj.github.io/argo-workflows/argo-server/#ingress

apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: argo-server-ingress
  annotations:
    ingress.kubernetes.io/rewrite-target: /$2
    ingress.kubernetes.io/protocol: https # Traefik
    nginx.ingress.kubernetes.io/backend-protocol: https # ingress-nginx
spec:
  rules:

[2021-08-13 20:34] #6544 closed

[2021-08-13 21:57] #6093 closed

[2021-08-14 15:31] terrytangyuan commented on #6498
@sarabala1979 Looks like the PR might have missed some local commits I had in our internal fork and the current logic does not seem correct. Unfortunately I lost access to that fork so I will have to take a fresh look when I get a chance. Thanks for pointing it out!

@dan-katz Yes, we do want to retry transient errors a fixed number of times, especially if the cluster is under high load we will hi

[2021-08-14 18:55] sarabala1979 commented on #6498
@dan-katz @terrytangyuan  Let me separate the discussion.
@dan-katz In your scenario, For Transient Error should count in retry.  It should work with the current code.  as long as if it is fit in below transient errors.
https://github.com/argoproj/argo-workflows/blob/4af01131889a48989db0c251b8d9711e19ca3325/util/errors/errors.go#L16

@terrytangyuan  Can you create a separate issue for onTransientE

[2021-08-15 08:47] #6097 closed

[2021-08-15 20:35] #5534 closed

[2021-08-15 23:15] terrytangyuan opened #6547 "RetryPolicy onTransientError does not take retry limit into account"
See discussion in https://github.com/argoproj/argo-workflows/issues/6498. Thanks @sarabala1979 for pointing this out.

## Summary

What happened/what you expected to happen?

TBA

## Diagnostics

👀 Yes! We need all of your diagnostics, please make sure you add it all, otherwise we'll go around in circles asking you for it:

What Kubernetes provider are you using?

What version of Argo Workflows ar

[2021-08-16 06:55] #6537 closed

[2021-08-16 06:56] wanghong230 commented on #6541
Do you see the same problem with the released images? not latest, eg: v3.1.x image/

[2021-08-16 07:02] marcelobartsch commented on #6491
the problem with deploy keys and access token, is that you need to go repositoty by repository granting access, making a bit problematic, (we manage 600 repositories owned by many people in github, some on holidays when we needed to added to our CI/CD infrastructure) with Github App, we don't need them to connect, we just allow the application to access the repo in the organization and it is done,

[2021-08-16 07:50] wajdi-datalvo commented on #2154
you need simply to do: kubectl -n argo exec argo-server-7d7dbb9db8-6mzsd -- argo auth token
And copy all the output which looks like:

`Bearer blablablablabla4EQViURBI-0lARFSeoZqsjKTzudazC83h54tNBwaAH6ESC0c8UKnn3dGLHIkTw4FNfBGQtQ4S1QMtlkAAfVAk4pD0VgmiKl6ef-bjm9iWUePv6Yk4AoA_EmW7c1wgeXhg1NRS_ik5xGmNeDqKcYILaIE_D2JCto_j4Oz79Y4mL-_03lLzcTAbVDSdk89FOA63I8_G2Yje_tjD3rWQh2tGJOHw9yPowRx5uA8FZtaEuFf2xR2iw

[2021-08-16 14:36] omus commented on #6541
I haven't noticed it myself personally. Based upon how `latest` behaved there's probably only a ~9 minute window where someone would notice this issue

[2021-08-16 15:40] sarabala1979 commented on #6541
something in your node or pod configuration which doesn't match with the default image `Linux/arm64/v8`  I am not sure about `v8`.

[2021-08-16 15:50] sarabala1979 commented on #6536
@steve-marmalade  looks like `inputs.parameters['cache-key']` is not in context. Please provide reproducible workflow

[2021-08-17 00:57] gageorsburn commented on #6165
I think the following is why the groups claim is missing:

https://support.okta.com/help/s/article/Okta-Groups-or-Attribute-Missing-from-Id-Token?language=en_US

# Cause
Id token when returned along with access token, is considered Thin Token. Thin id token only carries base claims and some scope dependent claims. Profile attributes (even if profile scope is passed) and groups are skipped (even if

[2021-08-17 06:53] #6036 closed

[2021-08-17 09:15] jbaez opened #6550 "Invalid memory address or nil pointer dereference when using output from a different workflow template with steps"
## Summary
 Running a workflows that uses the output from another workflow with steps throws a `invalid memory address or nil pointer dereference`

What happened/what you expected to happen?

- Not sure if this is supposed to be used like this, but I expected to be able to use the resulting artifact from a workflow template (with steps) that sets the output from the last of it's steps.

## Diagnos

[2021-08-17 11:29] shengzhou1216 commented on #4885
same issue for v3.1.6

[2021-08-17 14:15] christophercutajar opened #6553 "GCS artifact saving as ZIP when archive is none"
## Summary

What happened/what you expected to happen?

I noticed that when configuring a GCS output artifact with `archive: none{}` as per below, while Argo Workflows logs highlights that an XLSX is being uploaded, GCP illustrates that the uploaded file is of type `applicaation/ZIP`. [uploadObject](https://github.com/argoproj/argo-workflows/blob/88520891a0376ec43760b317fbc4f453a00a8d3e/workflow/a

[2021-08-17 15:04] terrytangyuan commented on #6553
I think it might be related to the name of your file `'/src/Test 1.xlsx'`. Could you try removing the space in the file name? `application/zip` looks like a Windows zip, which might be caused by the space in the file name.

[2021-08-17 16:04] christophercutajar commented on #6553
A few minutes ago tested it using `Argo Workflow v3.1.5` having

[code]

Logs from pod:

[code]

This uploaded XSLX still remained with type `application/zip`.

[2021-08-17 16:30] #6474 closed

[2021-08-17 16:47] terrytangyuan opened #6556 "argoexec image building fails with /bin/sh/setcap: not found"
## Summary

Example failed CI build: https://github.com/argoproj/argo-workflows/runs/3352788744?check_suite_focus=true

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-08-17 17:26] ad22 opened #6557 "Workflow w/ Exit handler hangs forever"
As reported in the final comment on https://github.com/argoproj/argo-workflows/issues/6301, the workflow hangs forever using a simple WF example as below.
![image](https://user-images.githubusercontent.com/9344284/129772301-e4841620-62ec-4245-ac65-2fb427038156.png)
[code]

All WF controller logs
[code]

[2021-08-17 17:41] sarabala1979 commented on #6553
@christophercutajar @terrytangyuan  Is there any file header/type that needs to send before uploading the file to the GCS client?

[2021-08-17 18:02] terrytangyuan commented on #6553
Looks like GCS client's `NewWriter()` uses `net/http.DetectContentType` to detect content type automatically if it's not specified. In this case the type might be detected incorrectly so we may want to pass it explicitly.

[2021-08-17 18:54] alexec commented on #6556
This passes from a fresh build locally...?

[2021-08-17 19:00] terrytangyuan commented on #6556
Local builds have the same issue.

[2021-08-17 19:01] alexec commented on #6556
https://pkgs.alpinelinux.org/contents?branch=edge&name=libcap&arch=x86&repo=main

installing `libcap` should install `setcap` - can you build without cache?

[2021-08-17 19:13] terrytangyuan commented on #6556
no-cache didn't work either. It seems like we need to install `libcap2-bin`. Sending fix in https://github.com/argoproj/argo-workflows/pull/6559.

[2021-08-17 19:29] #6556 closed

[2021-08-18 09:52] christophercutajar commented on #6553
Reading the [NewWriter docs](https://pkg.go.dev/cloud.google.com/go/storage#ObjectHandle.NewWriter) in more detail, as correctly highlighted by @terrytangyuan, if no `ContentType` attribute is specified, the content type will be automatically sniffed using `net/http.DetectContentType`.

My first thought would be to have an optional parameter say `fileType` that would set the `ContentType`. If this

[2021-08-18 16:01] caelan-io commented on #3523
Use cases for multi-cluster workflows that we have observed recently:

A. 😄  Automating a workflow that uses a variety of processing resources (eg, both CPU and GPU at different steps, uses specific AWS, GCP, Azure features at different steps, etc.)

B. 👀  Running and re-running a workflow across separate clusters that hold different client/ customer data

C. 🚀  Running an extremely large workflow

[2021-08-18 20:10] ado120 opened #6564 "Cannot get the install manifest from v2.12.12"
I am getting a 404 error when going to this link.. is anyone getting the same issue?

https://raw.githubusercontent.com/argoproj/argo/v2.12.12/manifests/install.yaml

[2021-08-18 20:14] alexec commented on #6564
This is not the place to get this for v2.12.2. Let me find the right place...

[2021-08-18 20:15] alexec commented on #6564
https://raw.githubusercontent.com/argoproj/argo-workflows/v2.12.12/manifests/install.yaml

[2021-08-18 20:15] #6564 closed

[2021-08-18 20:15] ado120 commented on #6564
@alexec

Thanks! If you look in the latest releases section this is the link posted there. Also I was unable to curl and gunzip the argo cli tool, you might have a typo in the releases section..

[2021-08-19 00:56] gageorsburn commented on #6165
@alexec I could probably give this a go on my free time. Do you have any thoughts around implementation before I start since this change can't affect the existing sso integrations?

[2021-08-19 03:29] gageorsburn commented on #6165
[code]

I've verified this patch works with Okta 🥳 ... as long as you all agree with the approach I can submit a formal pull request and write tests.

[2021-08-19 04:50] msinghal34 opened #6568 "Adding expression field in RetryStrategy in go client to support conditional retries."
# Summary
In general, The [RetryStrategy](https://argoproj.github.io/argo-workflows/fields/#retrystrategy) has an expression field using which one can specify a condition for having conditional retries. But, the [go client](https://github.com/argoproj/argo-workflows/blob/ae7eeeb50dd0b7640913e7b30d1fe612c7e0ee4c/pkg/apis/workflow/v1alpha1/workflow_types.go#L1518) does not have this field.

# Use Ca

[2021-08-19 11:07] jacek-jablonski commented on #5504
In view of the above opinion and further experience, I would like to raise the topic of the log viewer again.

Some developers only develop workflows that are fired on Argo Workflows. They don't know the underlying infrastructure nor the architecture of the Argo Workflows itself.. They just fire up jobs and look at their output. Each newcomer needs to be explained why it works this way and why you

[2021-08-19 14:08] alexec commented on #5504
Would you like to submit a PR?

[2021-08-19 14:10] alexec commented on #6165
One thought. Isn’t the path to user info in the “well known” endpoint? Other, we’d love to see a PR!

[2021-08-19 14:11] jacek-jablonski commented on #5504
If the vision of this change has a chance of being accepted and if I manage to bite in the code, I can try.

[2021-08-19 14:26] gageorsburn commented on #6165
@alexec It does, however once again Okta is different....

For example the well known address for google is:
https://accounts.google.com/.well-known/openid-configuration

However the well known address for Okta is:
https://subdomain.okta.com/oauth2/v1/.well-known/openid-configuration

I don't think the endpoint provides the .well-known url does it?

[2021-08-19 14:46] alexec commented on #6165
I can’t open that second link, but presumably it does not show the user info endpoint. I suggest that if the endpoint cannot be found in the “well known” config, that it defaults to a convention, a convention that happens to work for OKTA.

[2021-08-19 14:46] alexec commented on #6165
As usual, I’m pushing for the simplest and most frugal solution.

[2021-08-19 15:35] sarabala1979 commented on #6568
@msinghal34  Are you using the latest goclient?

[2021-08-19 20:36] #6550 closed

[2021-08-19 20:39] #6165 closed

[2021-08-20 04:49] msinghal34 commented on #6568
Looks like it is available only in pre release v3.2.0-rc1 currently. I checked it in 3.1.8 where it is not present.

[2021-08-20 04:58] #6568 closed

[2021-08-20 09:01] Bobgy commented on #4355
With https://github.com/argoproj/argo-workflows/issues/795 implemented, I think we can close this.

[2021-08-20 10:10] AntoineDao opened #6576 "Regression on Optional GCS Artifact"
## Summary

What happened/what you expected to happen?

Optional GCS artifacts had been fixed and tested manually in #6393. It seems that some changes in #6302 has caused a regression on this behaviour.

This bug is reproducible by running the following two workflows:

### Failing Workflow
[code]

### Working Workflow
[code]
#### Solution/Cause
I'm pretty sure the issue is caused by a misunderstan

[2021-08-20 13:01] shuker85 opened #6578 "OIDC: failed to decode provider discovery object"
## Summary

What happened/what you expected to happen?
WF v3.2 cannot start.
I'm using helm charts for deployment of Argo WF orchestrated via Argo-CD

Before we start, around 2/3 of issues can be fixed by one of the following:

* Have you double-checked your configuration? Maybe 30% of issues are wrong configuration.
* Have you tested to see if it is fixed in the latest version? Maybe 20% of issue

[2021-08-20 14:53] omus commented on #6541
Just happened again:
![Screen Shot 2021-08-20 at 09 52 31](https://user-images.githubusercontent.com/1675958/130252225-84f3bc3e-f25a-403f-a1b4-8b0d301a7147.png)

[2021-08-20 15:02] shuker85 commented on #6578
We're playing with Cloudfare Access, and it was turned on.
This probably broker the OIDC client.
[code]
Without this setting same /api/dex return 301 and Argo-server is properly starting on the latest version:
[code]

[2021-08-20 15:06] omus commented on #6541
Looks like the "latest-windows" and "latest-linux-arm64" images have been updated "latest-linux-amd64" has not yet been updated:
![Screen Shot 2021-08-20 at 10 01 21](https://user-images.githubusercontent.com/1675958/130253748-6d0fa5ba-c258-49a8-b9a0-bb011c9da857.png)

And the "latest" manifest has been updated to include all architectures again:

![Screen Shot 2021-08-20 at 10 04 27](https://user

[2021-08-20 17:03] chrisk314 opened #6579 "Workflow expression not behaving as expected"
## Summary

Hi, I just started using Argo. So far it's working very nicely for my use case so thanks for all the hard work!

I'm struggling on one point though. As far as I can tell from looking at examples what I'm attempting should work. I'm attempting to use an expression to set the value of a parameter for a workflow step. I have a step "job-pre" which runs first. I am then attempting to use t

[2021-08-20 17:09] #6576 closed

[2021-08-20 19:33] jsoref opened #6581 "Skip running most workflows on forks"
## Summary

What happened/what you expected to happen?

I synced master w/ argoproj/argo-workflows which triggered:
https://github.com/jsoref/argo-workflows/actions/runs/1151835764/workflow

It failed miserably because this isn't argoproj and it doesn't have the keys needed

## Details

There should be some `if:`s to skip things unless `secrets.DOCKERIO_USERNAME`/`secrets.DOCKERIO_PASSWORD`/`secre

[2021-08-21 08:54] #6149 closed

[2021-08-21 15:21] JacobCarrell commented on #4975
Do you have an issue with the buttons not having padding between them as well? Or is that the norm for this application?

[2021-08-21 20:51] saitoy1 commented on #4508
Just adding a comment to prevent this from being closed. Looks like the fix is underway though. Thanks for the help!

[2021-08-22 01:20] jsoref commented on #4975
I'd expect padding between the buttons, yes.

[2021-08-22 06:54] sarabala1979 commented on #6557
@ad22 is it happening only in DAG template?
@simster7  do you have any insight on this?

[2021-08-22 06:58] #5502 closed

[2021-08-22 13:45] Tarjei400 opened #6583 "Can not use named pipe binding as volume in Windows docker container when deployed with Argo"
## Summary

Can not use named pipe binding for Windows docker container when deployed with Argo
When mounting named pipeline (manifests below) there is an error on mounting with wait container.
Main container gets docker named pipe correctly and can execute commands properly, however argo executor doesnt seem to be create and hence in Argo UI workflow seems pending forever.

## Diagnostics

I need

[2021-08-22 16:22] #5771 closed

[2021-08-22 16:22] #6034 closed

[2021-08-22 18:20] alexec opened #6584 "#6297 should be noted as a breaking change in v3.2"
#6297 should be noted as a breaking change in v3.2. @simster7 could I ask if you could update the upgrading guide.

[2021-08-23 05:32] mbruner commented on #3523
Our use case where multi-cluster might simplify architecture: we have a large number of simultaneously running workflows (tens of thousands). We don't fit into one region so we plan to run k8s clusters across two or three regions and here we have a few options how to handle balancing:
- use one queue and listen for tasks using two installations of Argo Events
- use queue per cluster and do routing

[2021-08-23 14:49] marcstreeter commented on #5771
was there something additional I could offer this ticket to help?

[2021-08-23 14:50] sylock commented on #6431
@sarabala1979 Can I have an update on that issue?

[2021-08-23 16:08] sarabala1979 commented on #6541
@omus Is this issue resolved?

[2021-08-23 16:22] simster7 commented on #6557
I can look into this @sarabala1979

[2021-08-23 16:22] simster7 commented on #6584
@alexec I'd be happy to do so

[2021-08-23 16:27] omus commented on #6541
No, the issue is not resolved. The problem is that Argo workflows break on ARM64 every time a new `latest` build is initially released.

Until the build system is updated to only push a `argoexec:latest` manifest once (which includes all supported platforms) the issue will keep occurring.

[2021-08-23 17:21] gpsingh-1991 opened #6586 "Mount a volume in kubernetes resource"
# Summary

Unable to launch the containers launching kubernetes resource because of PSP.

When we try to create a kubernetes volume in a template with PSP enabled. It fails complaining the root FS is read only. It would be great if we could mount an empty dir on the /tmp so that we can get pass this error.

# Use Cases

When we try and create a kubernetes resource with default PSP.

---

**Message

[2021-08-23 18:21] dan-j opened #6588 "Invalid openAPIV3Schema fields on full CRDs"
## Summary

What happened/what you expected to happen?

I should be able to apply the CRD manifests in `manifests/base/crds/full`. Instead I get numerous errors that `inline.type` and `items.items` are required.

For `inline`, this is down to it being declared as: `inline: {}` instead of:

[code]

For `items.items`, this is down to `steps` being:

[code]

where it's meant to be:

[code]

## Diagno

[2021-08-23 19:37] ad22 commented on #6557
@sarabala1979 @simster7 Yes, confirmed that it only occurs on DAG templates.

[2021-08-23 20:44] alexec commented on #5217
@alexmt can you point me to the rate limiting code in Argo CD please?

[2021-08-23 21:26] terrytangyuan commented on #6581
This is indeed annoying and would accidentally waste individual account's daily limit for GitHub Actions. I submitted https://github.com/argoproj/argo-workflows/pull/6589 to fix this. In this meantime, you should be able to configure this manually on your fork's settings.

https://docs.github.com/en/github/administering-a-repository/managing-repository-settings/disabling-or-limiting-github-actions

[2021-08-23 21:45] alexec commented on #5217
I don't think we should address this in Argo Workflows.

* We only have two authentication mechanisms: `client` and `sso`.
* Both mechanisms actually delegate authentication to other system: Kubernetes API server and the OAuth2 provider respectively.
* Those systems can easily have dozens or even hundreds of clients, all of which are another vector. So those systems need to protect themselves.
* I

[2021-08-23 21:50] sarabala1979 commented on #6557
Thanks @simster7. assign to you.

[2021-08-24 07:04] ameypant13 opened #6591 "Unable to create service account using manifest (if namespaces are different)"
## Summary
I am trying to create service account using workflow. The workflow runs successfully but the serviceaccount is not created.
Below is my workflow
[code]

 Argo Workflows version:             v3.1.6
Kubernetes version:                     v1.20

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-08-24 07:24] middlestone commented on #5006
It is weird that I still have this problem using the version 3.1.4 which already has the patch merged. Is there anything I miss?

[2021-08-24 07:40] sebnyberg opened #6592 "Argo Server's Prometheus metrics exposed without auth"
Unlike the rest of the web server (which is conditionally protected by auth), the argo server's prometheus metrics are available without auth on `/metrics`.

This potentially leads to unnecessary exposure of internal information about the application.

I'll leave the solution open for discussion.

[2021-08-24 10:32] zxpower commented on #5097
Updated Argo to v3.1.6 and still getting the same error with YAML above:

[code]

Also getting following error `invalid character 'i' looking for beginning of value` while running similar workflow on the same level as `subpoint`. But as soon as I'm commenting out `when: "'{{tasks.checkpoint.outputs.result}}' =~ 'task_metadata-last_updated-True'"` line in workflow above or similar `when:` line in o

[2021-08-24 10:59] zxpower commented on #5097
Another update - added additional substep to workflow above between `checkpoint` and `subpoint` to mimic more our environment:

[code]

And got following result:

[code]

So it looks like that either `when` is causing issues even for substeps where it's not used.

[2021-08-24 12:16] book987 opened #6593 "workflow keep running when all tasks completed"
## Summary

It's a rare case, can only reproduce when satisfy all the conditions below:
- task `main.A` must `Succeded` with no actual workload generated ( in this workflow it generated an empty TaskGroup )
- `main.B` depends on `main.A`, run normally
- `main.C` depends on `main.A`, it should Skipped, and execute after `main.B`

This yaml can reproduce it:
[code]

## Diagnostics

The reason is `ma

[2021-08-24 14:49] terrytangyuan commented on #6591
Could you also provide your workflow controller pod's logs?

[2021-08-24 14:54] alexec commented on #6591
These logs show the service account is created.

[2021-08-24 14:56] alexec commented on #6592
@sarabala1979 we should fix this:

1. Move Prometheus metrics to a new port.
2. Add authentication to metrics.

[2021-08-24 14:59] alexec commented on #6532
Did you try the newer version? I'm not clear.

[2021-08-24 15:50] #6581 closed

[2021-08-24 16:19] tymokvo commented on #6532
Yeah, sorry for the delay. We have been doing a lot of testing in addition to fixing our own systems. I just ran the latest test over night.

We've upgraded to 3.1.6, increased the requeue time to 30s, and reduced the TTL time to 1200 seconds for all finished states. We're still seeing memory consumption by the controller exceed 10GB for some of our workflows.

This is the memory consumption repor

[2021-08-24 16:21] ameypant13 commented on #6591
@alexec yes the logs says its created but in reality its not

[2021-08-24 16:25] jsoref commented on #6581
_I thought I commented on this._ I know how to disable them. I filed it to hang a PR off. Thanks for making the PR.

[2021-08-24 16:25] ameypant13 commented on #6591
@terrytangyuan the workflow controller logs are not super helpul. Pasting a snippet here. I see repeated patterns in the logs
[code]

[2021-08-24 16:26] alexec commented on #6532
So generally reduced?

[2021-08-24 16:27] tymokvo commented on #6532
Yeah, initially it seemed to be resolved until I ran this test case again last night.

[2021-08-24 16:33] alexec opened #6594 "gosec warnings"
actions (ignore with reason obviously)

fix:
[code]
ignore:
[code]
review:
[code]
ignore:
[code]
address:
[code]
review:
[code]
ignore:
[code]
review:
[code]
ignore:
[code]
review:
[code]
ignore:
[code]

[2021-08-24 16:33] alexec commented on #6532
So we're making progress.

Can I request dumps when the memory usage is high again?

[2021-08-24 16:37] tymokvo commented on #6532
Sure thing, it's still over 10GB so I can do it now.

[2021-08-24 16:44] tymokvo commented on #6532
Dump [1](https://storage.googleapis.com/pollination-public/blobs/argo-test/workflow-controller-pprof-2021-08-24/pprof-staging-1629823198.svg), [2](https://storage.googleapis.com/pollination-public/blobs/argo-test/workflow-controller-pprof-2021-08-24/pprof-staging-1629823225.svg), [3](https://storage.googleapis.com/pollination-public/blobs/argo-test/workflow-controller-pprof-2021-08-24/pprof-stagin

[2021-08-24 16:50] sarabala1979 commented on #6593
We will look this

[2021-08-24 16:53] sarabala1979 commented on #6591
@ameypant13 do you have workflow TTL configured?

[2021-08-24 16:59] #6592 closed

[2021-08-24 18:22] dan-j commented on #5041
Apologies for reviving this issue, but I've also ran into the same problem on v3.2.0-rc1. Although my use-case may be different. I have a `WorkflowTemplate` which uses `workflowTemplateRef` to a `ClusterWorkflowTemplate`, and then I'm trying to submit a workflow from the `WorkflowTemplate`.

I've tried submitting from the UI and like `argo submit --from workflowtemplate/my-template` both with and

[2021-08-24 18:41] steve-marmalade commented on #6536
@sarabala1979 , here is a reproducible workflow:

[code]

I submitted this around 10 times and it failed with the error on 2 of them.

In this video you can see that:

- The first time I retried the workflow it immediately failed again with the cache key error
- The second time I retried it ran successfully

https://user-images.githubusercontent.com/85196623/130671933-27c1eebb-6fae-4ab8-b9d2-71b24

[2021-08-24 21:44] ad22 commented on #6583
I do see this behavior on the exit handler on my test, even though the main container completed successfully. See below:
![image](https://user-images.githubusercontent.com/9344284/130694049-95e4e34e-2d35-4c8a-9e73-2733ac5420c2.png)

[2021-08-24 23:39] tymokvo commented on #6532
So this is the current kubectl top output:

[code]

Here's the pprof [allocs](https://storage.googleapis.com/pollination-public/blobs/argo-test/workflow-controller-pprof-2021-08-24/allocs.pdf), [heap](https://storage.googleapis.com/pollination-public/blobs/argo-test/workflow-controller-pprof-2021-08-24/heap.pdf), and [profile](https://storage.googleapis.com/pollination-public/blobs/argo-test/workf

[2021-08-25 00:59] terrytangyuan commented on #6591
I am able to reproduce this but this issue only occurs in the "default" namespace (no obvious errors but service account does not appear). If I use another namespace, e.g. "argo", then the created service account stays there. So I wonder if it's something specific to the permissions in the "default" namespace that causes the issue. Could you try another namespace to confirm?

[2021-08-25 03:54] alexec commented on #6532
Hotspots

* util.MergeTo
* WorkflowSemaphoneKeyIndexFunc

[2021-08-25 03:56] alexec commented on #6532
Can you run you controller with INDEX_WORKFLOW_SEMAPHORE_KEYS=false? Note that this will disable semaphores.

[2021-08-25 05:53] ameypant13 commented on #6591
@sarabala1979 No

[2021-08-25 05:54] ameypant13 commented on #6591
@terrytangyuan I am only able to create service in the namespace in which the workflow controller is running

[2021-08-25 07:31] philosophicus opened #6598 "cannot make inputs artifacts optional"
## Summary

The workflow in [test/e2e/testdata/input-artifacts.yaml](https://github.com/argoproj/argo-workflows/blob/4e450e250168e6b4d51a126b784e90b11a0162bc/test/e2e/testdata/input-artifacts.yaml) fails like this
<img width="975" alt="Screen Shot 2021-08-25 at 3 26 40 PM" src="https://user-images.githubusercontent.com/9477891/130746105-43de7650-c359-4267-b8b1-1febc0a23736.png">

We're using argo

[2021-08-25 07:55] Tarjei400 commented on #6583
Yes I noticed later that main container exit properly, I printed something I got confused, however it still stays pending in ui. I think it's not desired behaviour right? My best guess is that there is part of code which changes volume path in case there are duplicate mounts in a pod, hence named pipe cannot be mounted 2 times.

[2021-08-25 07:58] sreecharanmanne2000 commented on #5243
[code]
Hello all facing this error followed steps by @schoeffm but getting this problem can anyone help?

[2021-08-25 08:02] smile-luobin opened #6599 "throttler broken on workflow-controller restart"
## Summary

What happened/what you expected to happen?

In our cluster, we set the workflow parallelism as 80, and submit 1000 workflows to argo-workflow at the same time;
of course there are only 79 workflows (<parallelism) at running phase, and others are pending.
But then the pod of workflow-controller is restarted, there are 158 workflows at running phase.

For example:
Submit 1000 workflows:

[2021-08-25 08:39] philosophicus commented on #6598
https://github.com/argoproj/argo-workflows/blob/4e450e250168e6b4d51a126b784e90b11a0162bc/workflow/artifacts/hdfs/hdfs.go#L145

Take this for example. If the file doesn't exist on hdfs, `hdfscli.Stat` won't succeed. However, a specific error which is not `CodeNotFound` is returned, even when `optional` is specified.

[2021-08-25 09:19] smile-luobin opened #6600 "Process queueThrottled workflows at first"
# Summary

What change needs making?

Workflow throttler is used to limit the workflows parallelism, keep the number of  workflows `inProgress bucket` < parallelism; other workflows will stored in `pending queue`(priorityQueue).

After some of inProgress workflows become to finished. `throttler.Remove()` will do `queueThrottled()`, and add some pending workflows (in the head of pendingQueue) to `i

[2021-08-25 13:40] sarabala1979 commented on #6599
Workflow controller queue up the workflows based on k8s informer event. The controller has a phase indexer https://github.com/argoproj/argo-workflows/blob/530c21d3cc0f5c738d06e16d88b7ce63dbeeb64e/workflow/controller/controller.go#L186
are you using 1.9.0 Kubernetes version?
If the metaWorkflowPhaseIndexer is not correct,  we need to fix it.
https://github.com/argoproj/argo-workflows/blob/530c21d3c

[2021-08-25 14:05] sarabala1979 commented on #6599
As long as, the controller re-sync the workflow with phase. order `Running` first and `Pending` after this issue will fix it. I think this is the way it should work now.

[2021-08-25 16:45] sarabala1979 commented on #6599
@smile-luobin Can you provide impact and how frequently the controller gets restarted(reason)?  looks like it edge case scenario. This information will help us to prioritize the issue.

[2021-08-25 16:45] alexec commented on #6598
This looks like HDFS only. Would you like to submit a fix to do the error mapping?

[2021-08-25 17:49] alexec opened #6604 "Update Snyk Github Action on `./ui`"
The current set-up does not run on the ui:

1. Update the `synk.yml` to check the UI
2. Update it to only run once a week.
3. Fix issues that it finds.

[code]

[2021-08-25 18:46] #5217 closed

[2021-08-25 21:15] #6594 closed

[2021-08-26 06:00] tgallant opened #6606 "Support fetching archived workflow log artifacts via REST API"
# Summary

The REST API exposes endpoints for listing, getting, and deleting archived workflows.

<img width="1276" alt="Screen Shot 2021-08-25 at 10 50 59 PM" src="https://user-images.githubusercontent.com/5118575/130908105-c95233ba-710c-4d91-b587-147c9aa26c26.png">

None of these endpoints allow for retrieving the log artifacts associated with an archived workflow.

The UI gets this data via the

[2021-08-26 09:37] thatGreekGuy96 opened #6607 "Invalid memory address or nil pointer reference when using mutex with cache"
## Summary

I'm getting an invalid memory address error when trying to submit a workflow the uses both a `mutex` with a parametrised name and a `memoize` cache.

The issue occurs only after the workflow has been run at least once (and the cache has been activated).
The issue does not occur at all if the name of the `mutex` field is static.
The issue also does not occur if the name of the `mutex` i

[2021-08-26 14:25] boehb-efs opened #6610 "RBAC SSO enabled argo can read secret"
## Summary

What happened/what you expected to happen?

I have argo installed (3.1.8, via helm) with RBAC SSO enabled. I want to have 2 User-Groups (ServiceAccounts):
sd
* user who can only handle the basics
* admin-user who can also read argo-server-sso-Secret which contains ClientID and ClientSecret for OIDC

Every logged in user should be in group 'user', only those in OIDC-group 'ADMIN' should

[2021-08-26 17:33] #5330 closed

[2021-08-26 20:27] sarabala1979 opened #6611 "Alternative Metrics Storage for Workflow controller metrics."
# Summary

What change needs making?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-08-26 22:06] lrochette opened #6686 "Sensor events are hidden by default in the trigger page"
When you open a the trigger in the Argo Workflow UI,
The UI does not enable the events by default so a new user does not realize that he/she does not see anything because there is no issue but because:

![__Event_Flow_-_Argo](https://user-images.githubusercontent.com/2013371/131042257-95b6a963-4ae8-4ae0-a3f7-d0d281bd46cb.png)
 it's hidden by default

The events should be shown by default

[2021-08-27 08:50] mbruner opened #6613 "podMetadata and WorkflowTemplate do not work together"
## Summary

Meta information from `podMetadata` defined in WorkflowTemplate is not applied to pods from workflow.

## Diagnostics

[code]

Workflow definition:
[code]
Pod description:
[code]

What Kubernetes provider are you using?
EKS
What version of Argo Workflows are you running?
3.0.2

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the

[2021-08-27 16:05] alexec opened #6615 "Argo Workflows Core (aka "headless")"
# Summary

Currently we bundle the Argo Server with Argo Workflows. This has downsides:

* Slows the development process because it requires a more complex too chain to build workflows (adds Node, Yarn, `staticfiles`)
* Requires us to keep up-to-date with Argo Events and Dataflow.
* Users installing the server need to take greater steps to secure workflows.
* The UI has to evolve in lock-step with

[2021-08-27 22:29] #6584 closed

[2021-08-28 01:03] alexec commented on #6610
The workflow will pass if the pod's service account has permission to read secrets, which is must have. Looking at the workflows, you did not specify the service account, so it will use the `default` service account.

[code]

The SSO setting are irrelevant to this.

[2021-08-28 01:06] alexec commented on #6541
@omus this would need fixing here:

https://github.com/argoproj/argo-workflows/blob/master/.github/workflows/release.yaml

Do you want to try and submit a PR?

[2021-08-28 01:10] alexec commented on #3523
A multi-cluster PoC is ready for testing.

* Read this first: https://github.com/argoproj/argo-workflows/blob/dev-mc/docs/multi-cluster.md
* The tag is `v0.0.0-dev-mc-0` (it will be published in about 30m)
* Book 30m once you've tried it out to feedback: https://bit.ly/book-30m-with-argo-team

[2021-08-28 02:24] Guillermogsjc commented on #3523
This is an absolutely and madly powerful and great solution

[2021-08-28 09:49] shuker85 commented on #3523
Some notes with latest tag:
I had to give access secrets rights to the argo-workflow-controller service account like
[code]
previously log showed:
[code]

In kubeconfig secret itself i'm trying to connect to AWS cluster via aws command (not sure it is supposed to work though):
[code]

Error:
[code]

CM:
[code]

[2021-08-28 10:58] #6129 closed

[2021-08-28 10:58] #5934 closed

[2021-08-28 17:34] alexec commented on #3523
@shuker85 your config require the “aws” binary to be installed on the workflow controller image. I think you can mount a volume with the binary on it and set the PATH env var to point to it.

[2021-08-28 19:35] gardnerdev commented on #5697
Hello, any update on this issue?

[2021-08-28 20:35] gardnerdev commented on #4991
@alexec any advise how to debug this issue?

[2021-08-28 21:30] shuker85 commented on #3523
@alexec any hints how to accomplish that?

[2021-08-29 19:39] shuker85 commented on #3523
Hi @alexec, I've tried to use an initContainer in order to get the aws binary:
[code]

InitContainer log:
[code]

WF-controller logs:
[code]
Which leads to https://github.com/argoproj/argo-workflows/blob/e7d0b7c8507fe635ca845a1f550eb866fb7d27b4/cmd/workflow-controller/main.go#L151

[2021-08-29 23:16] alexec commented on #3523
Ok. There was a bug. Can you try  v0.0.0-dev-mc-1?

[2021-08-30 02:20] konnase commented on #6588
I managed to solve the full crds problem based on argo v2.9.2, and I have an idea on how to solve this problem, should I post a PR based on the master branch?

[2021-08-30 05:41] shuker85 commented on #3523
Thanks Alex,
[code]
More logs in https://gist.github.com/shuker85/eba5fb4452d9063adb42c39eb449f70b

[2021-08-30 07:15] boehb-efs commented on #6610
However `default` does not seem to have permissions to read secrets:
[code]
There are no rolebindings for `default`:
[code]

[2021-08-30 09:12] gpanagiotidis opened #6620 "Workflow stuck in running phase even after main container completes successfully."
## Summary

Workflows that are scheduled with CronWorkflows get stuck in running status even when the main container completes. What happens is wait container can not find the id of the main container and keeps stuck, unable to finish the workflow, until the activeDeadlineSeconds kill the workflow, resulting it to fail.

## Diagnostics

Kubernetes version: 1.21.1

Argo version: 3.0.10 (latest stab

[2021-08-30 09:31] konnase commented on #6588
so sad, the workflow crd is too large to be created
![image](https://user-images.githubusercontent.com/18288851/131318604-c7dda417-04f0-47b7-ba8e-0e8e9ad416b6.png)

[2021-08-30 09:32] konnase commented on #6588
so sad, the workflow crd is too large to be created
![image](https://user-images.githubusercontent.com/18288851/131318604-c7dda417-04f0-47b7-ba8e-0e8e9ad416b6.png)

[2021-08-30 10:20] shrgabor commented on #5934
Guys, please don't close it without any improvement! :)
At least link another issue which solves this issue.

[2021-08-30 13:25] alexec commented on #3523
Looks like you’re mixing old and new style configuration. Try manually editing the config map to fix it.

[2021-08-30 14:07] #6599 closed

[2021-08-30 14:07] #6600 closed

[2021-08-30 14:09] alexec commented on #6620
v3.1 is the latest stable version. Please try with that.

[2021-08-30 14:48] shuker85 commented on #3523
You're right, my workflow-controller-configmap has been populated by the community helm chart, where everything land under data.config.
I've tried to adapt latest changes from  https://argoproj.github.io/argo-workflows/workflow-controller-configmap.yaml
Also since i've created the `local` namespace i think it lacked proper perms from (4) on the readme
[code]
I've done `s/remote/local` in this case

[2021-08-30 15:04] alexec commented on #3523
This panic occurred because there is not context for your cluster. Check the `kubeconfig` contains a context with the same name as the cluster in your template. I'll add some extra diagnostics.

[2021-08-30 15:06] alexec commented on #6620
OK. Did you try running it with the PNS executor?

[2021-08-30 15:16] gpanagiotidis commented on #6620
Maybe I confused the term "executor". What I mean is that the "container runtime" in the new kubernetes cluster is "containerd" instead of docker as you can read [here](https://kubernetes.io/blog/2020/12/02/dont-panic-kubernetes-and-docker/).

As for Argo executor, I have not made any changes so I am using the default option probably.

Should I change to to PNS in the workflow-controller configmap

[2021-08-30 15:17] alexec commented on #6620
Yes please.

[2021-08-30 15:24] gpanagiotidis commented on #6620
Wait container new logs:

[code]

[2021-08-30 15:27] alexec commented on #6620
`pns` lower case

[2021-08-30 15:31] gpanagiotidis commented on #6620
Hmm, it seems to be working.

Can you explain to me a bit what happened? I am planning to migrate production to clusters v1.21 and I don't want to come across unidentified bugs.

[2021-08-30 16:01] gpanagiotidis commented on #6620
From the wait container logs:

[code]

It seems it is creating a K8sAPI executor instead?

[2021-08-30 16:23] alexec commented on #6620
Historically confusing logging. PNS delegates some operation to K8SAPI. Ignore it.

[2021-08-30 17:55] #4152 closed

[2021-08-30 18:38] simster7 commented on #5464
@yakout Can't remember why, but it seems like this was de-prioritized. The community should feel free to take this on

[2021-08-30 21:50] alexec commented on #3212
#4427 go abandoned. Another users needs to pick this piece of work up.

[2021-08-31 01:13] #6541 closed

[2021-08-31 05:19] tkyz opened #6625 "What it has been rendered on DAG UI seems different from the execution result."
## Sumally

Is it supposed to have grp-2 > grp-2-main > grp-2-status on DAG UI as well after grp-1-main-status went successful?
since it’s an auto job workflow that grp-1 runs followed by grp-2 execution depends on the status.

## Diagnosis

- Argo Workflow Version: v3.1.5

When run the attached yaml (wf-for-issues.yml), 'grp-2' node did not appear in the workflow DAG UI.
grp-1 has two tasks: succ

[2021-08-31 06:03] 66li opened #6627 "Document view error"
![image](https://user-images.githubusercontent.com/37136076/131450398-6071e863-10f9-4252-ab8b-66fce6186087.png)
This button points to the wrong

raw.github.....

[2021-08-31 06:04] 66li commented on #6627
This button points to the wrong
https://raw.githubusercontent.com/argoproj/argo-workflows/master/examples/README.md

[2021-08-31 10:03] naor2013 opened #6629 "Removing PVC finalizer to let it be terminated"
## Summary

What happened/what you expected to happen?
When Argo deletes a PVC at the end of the run, it stays as "Terminated" until the Workflow object is deleted.
I'd expect it to terminate it completely to save space.
It is caused by a finalizer 'kubernetes.io/pvc-protection' protecting the PVC from being terminated and it was discussed here #3095

Note: If the PVC is deleted, while resubmittin

[2021-08-31 13:51] HouseoLogy commented on #6490
Dear @alexec,

first of all, thanks a lot for that great piece of software you and the community is providing.
We started to use it for some simple Workflows and now we're already looking into sophisticated ones with dozens of steps/tasks and dependencies.
The Kubernetes native nature is just a cherry on top of its capabilities. **GREAT WORK!**

So I've now given credits to the Ferrari under the h

[2021-08-31 14:43] gardnerdev opened #6634 "token not valid for running mode - SSO"
## Summary

This issue is related to [https://github.com/argoproj/argo-workflows/issues/4991](https://github.com/argoproj/argo-workflows/issues/4991) which was closed, I assume by mistake.

Argo UI shows error

after trying  to complete  SSO user authentication.

Kubernetes provider:
Amazon EKS

Argo workflows version:
3.1.1

Executor:
k8sapi

I have added following configuration:

[code]

My depl

[2021-08-31 15:22] #6627 closed

[2021-08-31 15:51] alexec commented on #6490
@HouseoLogy I can't don't have much to add to what you said. It is basically correct.

Today's solution is intentionally frugal. Basically we have service accounts that have annotations that select a service account for you to use. The upside is we lean on Kubernetes RBAC (less effort, especially on critical security code), the downside is that it does not scale well, ultimately requiring one serv

[2021-08-31 16:00] mbu93 opened #6635 "artifact passing: "x509: certificate signed by unknown authority""
Hey! I am using argo workflows together with minio  as a base for various machine learning automation setups. I love it, thanks for your efforts! I did however encounter I problem when switching to the new minio-operator version, that I can't seem to figure out (in a non-hacky way). Hope you can help me out here.

## Summary

What happened/what you expected to happen?
Minio-operator has been aroun

[2021-08-31 16:06] andrewm-aero commented on #6490
I like @HouseoLogy 's idea of using ArgoCD's approach, we've use it extensively for more than a year with no complaints. If it isn't already, perhaps that behavior could be extracted into https://github.com/argoproj/pkg for shared, generic use.

@alexec Because this is such a blocker for us, I'd be happy to offer some time in implementing one of these solutions.

[2021-08-31 16:46] alexec commented on #6490
Thank you @andrewm-aero . I think we probably need to nail down whether or not "resources" are defined as "API URLs" or as "Kubernetes resources", I think this is a closed-door decision:

* The later is more work  - it cannot be done as an interceptor. It must be implemented in code.
* It is more porous - it's hard to know which API endpoints change which resources.
* It will break - it is easy to

[2021-08-31 17:45] sarabala1979 commented on #6607
@thatGreekGuy96  I couldn't reproduce in the latest. Can you try with 3.2-rc2 or v3.1.8?

[2021-08-31 19:04] cheddarwhizzy opened #6638 "BASE_HREF / Running on subpath doesn't work"
## Summary

What happened/what you expected to happen?
I should be able to set `server.baseHref` in the official Helm chart and expect to see the UI at `http://localhost:2746/<baseHref>` (when port-forwarding). Or I should be able to curl the main JS file with the BASE_HREF `curl localhost:2746/<baseHref>/main.21185fc80cd4e35bd034.js`

Before we start, around 2/3 of issues can be fixed by one of t

[2021-08-31 19:09] cheddarwhizzy commented on #6638
Here's some additional info

describe server deployment details
[code]

Configmap
[code]

Curl'ing the home page.
[code]

Trying to curl the main JS file:
[code]

[2021-08-31 23:16] alexec commented on #6635
The certificate you're MinIO instance is running with in not recognised because it is not in the certificate chain. For non-production, try `insecure: true`.

[2021-08-31 23:17] alexec commented on #6638
Have you tried raising this issue with the argo-helm repository?

[2021-09-01 02:35] droctothorpe opened #6640 "Workflow restrictions for cron workflows"
# Summary
Apply workflow restrictions to cron workflows.

What change needs making?
Presumably adding some validation logic to the cron workflow controller code. Hopefully, it can mirror whatever is available in the workflow operator.

I would be happy to tackle this work if it seems like a reasonable proposal.

# Use Cases
I want to be able restrict what templates are available to cron workflows

[2021-09-01 02:40] droctothorpe commented on #6640
I'm going to close this until I validate whether or not workflow restrictions are imposed on the workflows that a cron workflow generates. If so, this issue is basically moot.

[2021-09-01 02:40] #6640 closed

[2021-09-01 03:03] sarabala1979 commented on #6640
Do you want to cronworkflow’s workflowspec need to validate the restriction mode during cronworkflow creation time if restriction enabled in controller?

Currently workflow restriction mode will be validated once cronworkflow generated workflow.

Sent from my iPhone

[2021-09-01 08:31] HouseoLogy commented on #6490
Hello @alexec & @andrewm-aero,
thanks a lot for the fast feedback and @andrewm-aero for offering time to implement one of these solution.
I probably wouldn't be a huge help in this area, because GO isn't my domain and I'm currently overloaded with workload in my daily business. Nevertheless, I'll follow this issue and if I'm able to free up some time for contribution I'll ping you.

Like suggested

[2021-09-01 08:55] BartoszJaroszkowski opened #6641 "startedAt, finishAt, id, ip variables not available in DAG and step templates"
## Summary

I expected to be able to use startedAt, finishAt, id, ip variables within step or DAG templates as stated in documentation [here](https://argoproj.github.io/argo-workflows/variables/#steps-templates) and [here](https://argoproj.github.io/argo-workflows/variables/#dag-templates).  Instead I am unable to submit workflow whenever any of those variables is used. Below I include minimal wor

[2021-09-01 09:04] mbu93 commented on #6635
I actually used this setting, but if I got this right, setting `insecure: true` will enforce http communication, which is sadly no longer an option when using minio operator. What I'd need would be an option to allow insecure certificates. Does using `insecure: true` provide such behaviour in argo's latest version?

[2021-09-01 09:54] zewelor opened #6642 "Output artifacts used in withParam"
## Summary

Hi

I want to use step output artifacts, containing json array, to loop over tasks, using withParam. Error I'm receving:

[code]

Steps I'm using:

[code]

## Diagnostics

👀 Yes! We need all of your diagnostics, please make sure you add it all, otherwise we'll go around in circles asking you for it:

What Kubernetes provider are you using? Selfhosted 1.19

What version of Argo Workflow

[2021-09-01 11:46] droctothorpe commented on #6640
The former is kind of what I had in mind. It would prevent the creation of CronWorkflows whose workflows will fail due to them not meeting the workflow restrictions.

[2021-09-01 14:39] alexec commented on #6635
Huh? Maybe prefix the endpoint with “https”?

[2021-09-01 14:48] lianxmfor opened #6643 "argo run failed: Permission denied"
## Summary

What happened/what you expected to happen?

run argo job failed: `bash: /argo/staging/script: Permission denied`

## Diagnostics

What Kubernetes provider are you using?

docker desktop for mac.
[code]

What version of Argo Workflows are you running?

[code]

Are you pasting thousands of log lines? That's too much information.

[code]

---

**Message from the maintainers**:

here is my

[2021-09-01 14:53] alexec commented on #6643
Try changing `command: [bash]` to `command: [bash, -c]

[2021-09-01 14:54] alexec commented on #6642
Error says "withParam" , but YAML says "withItem". Please can you double check YAML?

[2021-09-01 14:56] alexec commented on #6634
Odd that we haven't had more reports of this.

Please book in: https://bit.ly/book-30m-with-argo-team

[2021-09-01 14:58] rwong2888 opened #6645 "API Docs swagger is very slow"
Click Post /api/v1/workflows/{namespace}/submit in API Docs

![image](https://user-images.githubusercontent.com/61470342/131694493-81cede1d-8a34-446c-8e8a-6608e644d931.png)

https://github.com/swagger-api/swagger-ui/issues/1919

https://cloud-native.slack.com/archives/C01QW9QSSSK/p1630499802196400

[2021-09-01 14:59] alexec commented on #6641
Code was added in feat(operator): Add scope params for step startedAt and finishedAt (#3724).

[2021-09-01 15:00] alexec commented on #6641
Can you please try in v3.0?

[2021-09-01 15:04] lianxmfor commented on #6643
@alexec Sorry, I just changed all the bash in workflow file to bash -c, but still the same error.

[2021-09-01 15:09] gardnerdev commented on #6634
Thank you @alexec, booked :)

[2021-09-01 15:14] lianxmfor commented on #6643
The generated pod file contains the following code:

[code]

After I changed it to sleep, I ran kubectl exec to get inside the pod:

[code]

[2021-09-01 15:16] alexec commented on #6490
I think I might make a U-turn on saying we should do URLs:

* This cannot support clients using gRPC.
* This would mean we'd have to change the artifact and archive URLs.
* It's much nicer to be working with `verb+resource+namespace+name`.

[2021-09-01 15:29] lianxmfor commented on #6643
I used the docker command to get into the container as the root user.

[code]

After running the bash script, I found that the script is executable! This means that the script can be executed by the root account. So I would like to know how can I change the workflow file so that all the files in it are executed under the root account?

The default account number is now 1001:

[code]

[2021-09-01 15:48] mbruner commented on #6613
it worked, thank you!

[2021-09-01 15:48] #6613 closed

[2021-09-01 16:09] BartoszJaroszkowski commented on #6641
I tried it again with argo `v3.0.10` and got the same result. I also made sure that my argo workflow controller and argo server have the correct images. According to pod config they use
[code]
respectively (so exactly as expected).

[2021-09-01 16:23] alexec commented on #6490
I've created a PoC. I do not plan to complete this. Would anyone like to volunteer to take this over the finish line?

[2021-09-01 18:07] alexec commented on #1319
I've created a PoC for this issue (see above link).

I'm looking for someone from the community to take it across the finish line. Please ping me if you'd be interested in that.

[2021-09-01 18:33] cheddarwhizzy commented on #6638
This isn't a helm chart issue. The chart works just fine. The `server.baseHref` just sets the `BASE_HREF` env var, which sets the `<base href="/some-subpath/">` tag in the html (see above). But the javascript doesn't load.

If I don't set the BASE_HREF env var, I can load the UI no issues.

I can get the main.<hash>.js to load if I use ingress with config
[code]
and annotation `nginx.ingress.kuber

[2021-09-01 21:31] jessesuen opened #6648 "`argo node set` panic: runtime error: index out of range [1] with length 1"
## Summary

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-09-01 21:35] sarabala1979 opened #6649 "FinishedAt is null if workflow has daemon step and exit handler"
## Summary
Here the reproducible workflow

[code]

What happened/what you expected to happen?

Before we start, around 2/3 of issues can be fixed by one of the following:

* Have you double-checked your configuration? Maybe 30% of issues are wrong configuration.
* Have you tested to see if it is fixed in the latest version? Maybe 20% of issues are fixed by this.
* Have you tried using the PNS exec

[2021-09-01 21:35] alexec commented on #6089
This is basically multi-cluster workflows. Closing and duplicate.

[2021-09-01 21:35] #6089 closed

[2021-09-01 21:36] alexec commented on #2063
You may now test using #6587

[2021-09-01 22:33] alexec commented on #6645
Issue seems isolated to any endpoint that return a large document. Which is basically all of them.

[2021-09-01 22:52] alexec commented on #6645
We need the upstream to be fixed. The up-steam seems to have no intention of fixing this. Maybe not fixable.

[2021-09-01 23:47] jessesuen commented on #6648
Resolved in https://github.com/argoproj/argo-workflows/pull/6653

[2021-09-01 23:47] #6648 closed

[2021-09-02 00:01] #6649 closed

[2021-09-02 04:29] sarabala1979 opened #6654 "v3.1.9 cherry-pick"
- [x] Saravanan Balasubramanian: fix(controller): Set finishedAt for workflow with Daemon steps (#6650) a147f178d
- [x] Alex Collins: fix: Do not index complete workflow semaphores (#6639) 5522d4b4c
- [x] Jesse Suen: fix: `argo node set` panic: index out of range and correct docs (#6653) 2ac3c48d3
- [ ] github-actions[bot]: docs: updated CHANGELOG.md (#6652) 946a9c3f7
- [ ] Yuan Tang: feat(control

[2021-09-02 05:49] zewelor commented on #6642
Fixed yaml, its copied from live argo workflow instance. I did also test withItem, thats why it was left there.

[2021-09-02 08:02] thatGreekGuy96 commented on #6607
The panic occurs after the 2nd or 3rd submission, i.e. after the cache has been used.

[2021-09-02 08:02] thatGreekGuy96 commented on #6607
I tried with `3.1.8`, it didn't really make a difference but i can give it another try with version 3.2 to see if that solves it.

[2021-09-02 08:51] mbu93 commented on #6635
Nope. This sadly results in
[code]

[2021-09-02 11:48] jeanlouhallee commented on #6490
Hey @alexec! I would like to offer some help by taking over your PoC. We would also greatly benefit from this feature at my company 👍

[2021-09-02 13:59] sarabala1979 commented on #6641
@BartoszJaroszkowski are you getting errors in the workflow controller log or CLI?

[2021-09-02 14:30] BartoszJaroszkowski commented on #6641
@sarabala1979 I am getting errors in CLI - I am basically unable to submit workflow as I get the following as a response:
[code]

[2021-09-02 14:38] alexec commented on #6654
Done. Some might only be for v3.2, so if you get merge conflict, then they might not need backporting.

[2021-09-02 15:01] alexec commented on #6635
Sorry. I misunderstood your previous comment. Insecure - I thought it ignores invalid certificates. If you’ve not tested it, give it a go. If it does not work, then I don’t think there is a work-around. Either you’ll need to run MinIO using HTTP (data transits unencrypted.), or build your own executor image and import your certificates on to it (hard).

[2021-09-02 15:05] alexec commented on #6490
@jeanlouhallee I’m assuming you’ve done some Golang before? If so, step 1 is to read the CONTRIBUTING.md guide - clone the source code onto your local machine and checkout the `casbin-poc` Branch. You’ll need to start it using `make start PROFILE=sso`.

The branch has a number of `TODO` left on it which need completing. It’ll also need testing with a configmap volume mounted at `/casbin`.

We’ll w

[2021-09-02 15:12] jeanlouhallee commented on #6490
Thanks for the pointers @alexec. I have done a bit of Golang, but not much. Will learn a lot by diving into this.

[2021-09-02 15:35] sarabala1979 commented on #6641
@BartoszJaroszkowski  can you check the cli version? `argo version`

[2021-09-02 15:38] sarabala1979 commented on #6654
@alexec do you think we can include this fix https://github.com/argoproj/argo-workflows/pull/6639? it is a great to fix for performance

[2021-09-02 15:41] sarabala1979 commented on #6641
tried in the latest. I am getting the same error. Let me take a look

[2021-09-02 16:40] gardnerdev commented on #6634
@alexec I solved this issue, The problem was here:
```redirectUrl: https://my-argo-instance.whatever.com/oauth2/callback/``` - it should be configured without trailing slash:
```redirectUrl: https://my-argo-instance.whatever.com/oauth2/callback```

[2021-09-02 18:03] brews commented on #4508
I think another potential workaround with https://github.com/argoproj/argo-workflows/issues/4508#issue-740137802 as an example, is to change from

[code]

to

[code]

if you know that elements in `tasks.write.outputs.parameters` _should_ be unique.

[2021-09-02 18:21] alexec commented on #6654
If you like.

[2021-09-02 18:22] #6634 closed

[2021-09-02 18:35] #6641 closed

[2021-09-02 20:59] naor2013 commented on #6629
@alexec would love to get your feedback on this 😄

[2021-09-02 23:58] nmyalik opened #6663 "Archive logs in workflow level with default artifact repository"
# Summary

Have ability to enable archive logs in workflow level with default artifact repository

# Use Cases

Have default artifact repo and want to log only selected workflows without overriding archive repo for each. Want to set `archiveLogs: false` in config map and set it to true in workflow level

# Current behavior
If we will set `archiveLogs: false` in config map and use
[code]
in workflo

[2021-09-03 00:33] #5808 closed

[2021-09-03 04:53] cheddarwhizzy commented on #6638
So I had `proxy-buffering: "on"` in my Ingress Nginx configMap which was causing the problem. I removed that and all good now

[2021-09-03 04:53] #6638 closed

[2021-09-03 07:49] nicorikken opened #6664 "Support templating in environment variables"
# Summary

Support `{{ input.parameters.json-env }}` type templating in the `env` section of the container spec.

# Use Cases

I'm trying to reduce passing parameters between all the steps. A way to pass a structure in the `env` section would help me with this.

I use Workflow Templates to trigger data science like jobs. Of the current 22 arguments from the UI most end up in environment variables.

[2021-09-03 10:58] keshamin opened #6665 "UI for supplied values"
# Summary

Provide functionality to set supplied values via Web UI. Currently it can be set with Argo CLI, REST or k8s API ([docs](https://argoproj.github.io/argo-workflows/fields/#suppliedvaluefrom)), but it is not friendly for non-technical users like managers/business analysts/etc...

# Use Cases

Supplied values allows to bring additional parametrization right in the middle of DAG execution, b

[2021-09-03 11:07] keshamin opened #6666 "Independent suspension nodes"
# Summary

Currently if 2 independent branches of a DAG pause execution because of `SuspendTemplate` node it is not possible to resume only one branch. Clicking "Resume" leads to resuming both branches. I understand that apparently as for now "suspended" state is global for the whole workflow, and it is expected behavior. But it is highly desired feature to allow independent resuming of suspension

[2021-09-03 11:27] keshamin opened #6668 "SuspendTemplate node starts after skipped node"
## Summary

What happened/what you expected to happen?

Here's the DAG:
![image](https://user-images.githubusercontent.com/25623173/131997644-2bced341-05b6-4a73-9530-2f686f2306e6.png)

As you can see "retrain-models" node is skipped by condition using "when" field of a DAG task.
But node "approve-models-release" of type SuspendTemplate still got created and started despite it depends on skipped pa

[2021-09-03 11:40] keshamin commented on #6668
Well, I found a solution pretty fast - I use [enhanced dependency logic](https://argoproj.github.io/argo-workflows/enhanced-depends-logic/) and put `depends: retrain-models.Succeeded` on `approve-models-release` node. But still it may be counterintuitive that Skipped node satisfies dependency. Or I miss some concept?

[2021-09-03 14:51] mweibel commented on #1658
FYI i started working on this in https://github.com/helio/argo-workflows/tree/custom-workflow-progress
ported the code @alexec wrote to the latest master state and started testing it locally (and with tests). Didn't run it with "real" workloads yet and there is much to improve. More of a prototyping state at this point.

But in case anyone wants to have an early look at it, more than welcome :).

[2021-09-03 18:11] crenshaw-dev opened #6671 "Release page download notes use incorrect URLs"
https://github.com/argoproj/argo-workflows/releases/tag/v3.1.8

The release page still has `/argo/` instead of `/argo-workflows`.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-09-03 18:25] steve-marmalade commented on #6536
Hi @sarabala1979, did I provide enough info for you to be able to reproduce?

If you point me in the right direction, I'd be happy to take a swing at fixing this bug.

[2021-09-03 18:42] sarabala1979 commented on #6654
- [ ] Saravanan Balasubramanian: fix(cli): Added validatation for StartAt, FinishedAt and ID (#6661) 929351267
- [ ] Yuan Tang: chore: Remove unnecessary wf.yaml at top-level directory (#665

5) e1a1b81cc

[2021-09-03 19:01] sarabala1979 commented on #6536
let me look this issue

[2021-09-04 00:23] ig0rsky commented on #2154
@wajdi-datalvo thanks, @alexec maybe this should be documented when using the default auth mode, to clarify that we need the auth token from the server pod?

[2021-09-04 02:56] terrytangyuan opened #6673 "Expression results are printed incorrectly at random"
## Summary

The container prints out the result correctly (see the printed "1" below).

[code]

However, it sometimes (1 out of 5 times) prints out the raw expression instead (see `{{=jsonpath(workflow.parameters.config, \
\ '$.a')}` below):

[code]

Reproducible workflow YAML:

[code]

## Diagnostics

👀 Yes! We need all of your diagnostics, please make sure you add it all, otherwise we'll go arou

[2021-09-05 06:34] hellokarthik commented on #3712
any update it would be nice if parameters can be passed in  submitOptions. i had check https://argoproj.github.io/argo-workflows/submit-workflow-via-automation/ but in this there is no mention about passing parameters.

[2021-09-05 10:53] manterfield opened #6674 "Make HTTP body field accept type string rather than byte"
# Summary

The new HTTP template `body` field is type `byte`. As far as I can see it's the only field of this type in the Argo field spec. I would expect to be able to pass this field a `string` containing json.

I was unsure whether to post this as a bug or enhancement given how much it limits the usefulness of this feature.

From my experiments the result of it being `byte` is that it can accept

[2021-09-05 16:33] withnale opened #6675 "Setting priority from WorkflowTemplateSpec"
## Summary

According to the FieldSpec I should be able to set the workflow priority as part of the WorkflowTemplateSpec.

I can set the priority okay by specifying `.spec.priority` as part of a workflow but if I specify it as `.spec.priority` as part
of a workflowTemplate, where the Workflow and Template is specified as below:

[code]

[code]

However, the priority does not seem to get copied acr

[2021-09-06 18:20] #6191 closed

[2021-09-06 20:31] mprzygrodzki opened #6676 "Key unsupported: cannot get key for artifact location, because it is invalid."
## Summary

Inspired by a template I wanted to create a POC for managing infrastructure by Terraform/Terragrunt. I've based on this one https://raw.githubusercontent.com/argoproj-labs/argo-workflows-catalog/master/templates/terraform-basic/manifests.yaml. Anyway, i've built my custom image which contains all what's needed, main container is executing propery but i'm facing some issues with followi

[2021-09-07 01:54] mbruner opened #6677 "Override volume used by workflow template"
# Summary

Make it possible to override volume and volume claim templates definition in a workflow spec referencing external templates.

# Use Cases

In case of building library of templates sometimes it will be convenient to allow parent workflow definition to override volume definition:
* need to change volume parameters (e.g. storage class, size)
* decide wether to use volume data in subsequent

[2021-09-07 02:12] sarabala1979 commented on #6675
@withnale Workflow level priority couldn't support from workflowtemplate.  `WorkflowTemplateRef` will be processed once the workflow starts processing.  if you want to priority on workflow level, you have to configure it in the workflow. or pass `--priority` option in CLI or API.

[2021-09-07 02:38] terrytangyuan opened #6678 "Unable to resolve parameters defined in a WorkflowTemplate"
## Summary

What happened/what you expected to happen?

A workflow should be able to use a workflow template that contains parameters but it failed to resolve the parameters defined in a WorkflowTemplate.

Reproducible YAML:

[code]

## Diagnostics

👀 Yes! We need all of your diagnostics, please make sure you add it all, otherwise we'll go around in circles asking you for it:

What Kubernetes prov

[2021-09-07 02:50] sarabala1979 commented on #6678
You can’t refer spec level fields if you are referring ‘ templateRef’. In your scenario, the workflow which referring ‘templateRef’ should have spec level parameter.

Sent from my iPhone

[2021-09-07 03:13] terrytangyuan opened #6679 "Expression tag incorrectly treats boolean parameter values as strings"
## Summary

What happened/what you expected to happen?

When the parameter value is `true`, Argo Workflow treats it as string `"true"`, which is incorrect and should be boolean instead.

Reproducible YAML:

This will print "yes":
[code]

And the following workflow (using [ternary operator](https://github.com/antonmedv/expr/blob/master/docs/Language-Definition.md#ternary-operators)) would print out

[2021-09-07 03:38] terrytangyuan commented on #6678
Thanks. Just tried and both of the following workflows work. Though it looks like local variable values must be supplied at the template definition inside WorkflowTemplate. Is this the normal behavior? If so, I'll add something to the doc that clarifies this.

Global variable
[code]

Local variable (value must be supplied at the template definition inside WorkflowTemplate.
[code]

[2021-09-07 03:44] sarabala1979 commented on #6678
Yes it is expected behavior. You can achieve in both way. You can directly refer global variable or you can pass as local parameter.

I prefer local parameters so, always call will pass it no confusion

Sent from my iPhone

[2021-09-07 08:15] withnale commented on #6675
This is a little confusing...

This is an example of one of a number of items that, as per the spec, can be defined in `WorkflowTemplateSpec` but do not have the same effect when defined within the template. Shouldn't they either be supported in `WorkflowTemplateSpec` or be removed and only present in `WorkflowSpec`?

Speaking for myself, there are a number of things including the above, `.spec.po

[2021-09-07 09:28] lukasmrtvy opened #6681 "feat: dynamic referencing for workflows.argoproj.io/creator* labels"
# Summary

Would be superb to implement dynamic referencing for `workflows.argoproj.io/creator-email` `workflows.argoproj.io/creator` in workflows triggered by another users ( than creator ) from workflow template.

# Use Cases

We are using SSO and have two groups of users:
- admins -> they are managing workflowtemplates
- users -> they are just triggering workflows from workflowtemplates

Based

[2021-09-07 10:50] #6253 closed

[2021-09-07 11:15] smile-luobin opened #6684 "Failed to resolve dag outputs parameters if these are aggregated by some task node."
## Summary

What happened/what you expected to happen?

Failed to resolve dag outputs parameters if these are aggregated by some task node:

- In `argo-server`, this outputs parameters cannot be resolved during `validating workflow`;
- In `controller`, these outputs are aggregated only if there are some child task-nodes need to process; these outputs are aggregated to local scope during processing

[2021-09-07 13:41] reinvantveer commented on #6671
:+1:

[2021-09-07 13:42] reinvantveer commented on #6671
Additionally, it would be good to `curl -fsSLO` to fail early instead of storing a 404 response

[2021-09-07 14:14] mac9416 commented on #6679
[Parameters are always strings](https://github.com/argoproj/argo-workflows/blob/9293512674c21a2494c704978990cf89eb5ad8c0/workflow/common/params.go#L4). The first workflow is the correct way to write the ternary.

[2021-09-07 14:20] terrytangyuan commented on #6679
That's inconsistent with the current support of [AnyString for parameters](https://github.com/argoproj/argo-workflows/blob/d41c037027e062a149ce821dd377fb6b52269335/pkg/apis/workflow/v1alpha1/workflow_types.go#L741) and the correct underlying type should be inferred.

[2021-09-07 14:23] mac9416 commented on #6679
Ooh, I was unaware of `AnyString`, so I might just be Wrong about this one. Will look through the code some more.

[2021-09-07 15:06] #6678 closed

[2021-09-07 15:27] #6467 closed

[2021-09-07 15:48] sarabala1979 commented on #6675
@withnale I think only `priority` is not supported from `WorkflowTemplateSpec`.  But `WorkflowTemplateSpec` is inline with the workflowSpec type.  We should document clearly mention the supporting fields.
`.spec.podGC`, `.spec.volumeClaimGC`, `.spec.ttlStrategy` these fields are already honoured.

[2021-09-07 15:55] #6671 closed

[2021-09-07 19:29] alexec commented on #6642
Can you please attach the complete workflow.

[2021-09-07 21:09] alexec commented on #6673
Well, this has me flummoxed. This is some more minimal YAML:

[code]

All code around marshalling parameters is nasty, just the investigation has taken me 2h and I've really gotten nowhere. I'm going to leave this unfixed.

[2021-09-07 21:13] alexec commented on #6673
Ah - one question - i could not reproduce this without using `jsonpath` - have you seen any example with it that fails?

[2021-09-07 21:17] alexec commented on #6679
Parameters are always strings.

[2021-09-07 21:17] #6679 closed

[2021-09-07 21:17] alexec commented on #6675
@sarabala1979 is correct. This cannot be supported unfortunately.

[2021-09-07 21:18] #6668 closed

[2021-09-07 21:23] alexec commented on #6643
I don' know if `docker run` is relevant. Makes sure every one of your scripts is set-up correctly. You can use pod security policy to pin user ID.

[2021-09-07 21:25] alexec commented on #6629
I'm not clear what the problem here is. You want the PVC to be deleted when is in GCed? But it is not?

[2021-09-07 21:25] alexec commented on #6625
@sarabala1979 do you think you could help this person?

[2021-09-07 21:27] alexec commented on #6610
[code]

Looks like it has all permissions on all objects to me? Aside - do not run the server (or anything else) as the default service account.

[2021-09-07 21:28] alexec commented on #6583
@argoproj/argo-windows can help maybe?

[2021-09-07 21:29] alexec commented on #6578
The OIDC provider is not returning JSON.

[2021-09-07 21:30] alexec commented on #6531
This is only during build.

[2021-09-07 21:33] alexec commented on #6439
Please add full workflow.

[2021-09-07 21:36] alexec commented on #6431
@sarabala1979 can you please reply?

[2021-09-07 21:38] alexec commented on #6399
We don't support that SDK. Can you please try with CoulerProj?

[2021-09-07 21:39] alexec commented on #6384
Is this still a problem please?

[2021-09-07 21:40] alexec commented on #6384
@sarabala1979 example

[2021-09-07 21:40] alexec commented on #6379
Is this still a problem please?

[2021-09-07 21:40] #6362 closed

[2021-09-07 22:18] atombender commented on #6384
It's a problem in 3.1.2, which is what we are using. Has there been a fix released? It'd be nice to know before I bother our ops team with an upgrade request.

[2021-09-07 22:20] atombender commented on #6379
We're still on 3.1.2 due to this bug. Have there been any improvements related to this?

[2021-09-07 22:29] alexec commented on #6384
So you want to be able to select all the text from the logs?

[2021-09-08 02:04] tooptoop4 opened #6687 "State store across k8s clusters?"
Every 3 months I have to teardown my k8s cluster and create new one. Is there anyway the argo UI can show me the workflow history from 4 months ago?

[2021-09-08 05:22] shuker85 commented on #6578
Let's close this one

[2021-09-08 05:22] #6578 closed

[2021-09-08 05:53] lippertmarkus commented on #6583
I think we should just skip named pipes when determining which volume mounts of the main container we add to the wait/init containers. I suggest adding a check like in upstream k8s: https://github.com/ddebroy/kubernetes/blob/5da66fd65fef91ac23cd3951cdf513881a238acd/pkg/volume/util/util.go#L951-L960

and use it here: https://github.com/argoproj/argo-workflows/blob/master/workflow/controller/workflo

[2021-09-08 06:03] sarabala1979 commented on #6431
@sylock I will take a look. I am trying to provide fix or workaround

[2021-09-08 09:22] naor2013 commented on #6629
Exactly.
What causing it is the finalizer in the PVC that connects it to the "completed" pod and until the pods are removed completely, the PVC does not get terminated.

[2021-09-08 11:17] atombender commented on #6384
You can't select text if log entries are being written, and you can't scroll after selecting text, and you certainly can't select the whole thing.

[2021-09-08 13:18] chrisk314 commented on #6579
@alexec I just reran this example with the same result. Here are the logs from the workflow controller as requested.
[code]

[2021-09-08 14:47] terrytangyuan commented on #6673
I only observed this issue with `jsonpath` so it might be something specific to `jsonpath` then.

[2021-09-08 14:50] terrytangyuan commented on #6679
@alexec I remember at one point we did support AnyString though. See https://github.com/argoproj/argo-workflows/pull/4490

[2021-09-08 15:30] mac9416 commented on #6673
This works consistently (sample size ~10):

[code]

I bet sometimes the value of `workflow.parameters.config` is being literally inserted before the expression is evaluated. So expr is seeing this:

[code]

Since that's not proper expr, it's failing. That's my theory anyway.

[2021-09-08 15:33] alexec commented on #6629
What if you enable Pod GC?

[2021-09-08 15:34] alexec commented on #6384
What about adding a button like "Copy logs to clipboard"?

[2021-09-08 15:35] alexec commented on #6679
Because of backwards compatibility, we try, but not very hard. Bools and ints always cause problems.

[2021-09-08 15:36] naor2013 commented on #6629
I want to see the pod's data (logs, workflow UI, etc) in the Argo UI after it is finished, potentially for a long time.

[2021-09-08 15:36] alexec commented on #6673
I did wonder about that. Quoting is nasty in expressions. It's basically broken and we have many random calls to quote/unquote.

[2021-09-08 15:38] alexec commented on #6673
@terrytangyuan would you like to try #6442?

[2021-09-08 15:48] #6606 closed

[2021-09-08 15:49] sarabala1979 commented on #6629
@naor2013  Is PVC gets deleted once the pod is deleted or workflow is deleted? PVC will have ownerreference of workflow.
Can you verify this?

[2021-09-08 15:55] sarabala1979 commented on #6629
I think this PR is protecting PVC https://github.com/kubernetes/kubernetes/pull/66923

[2021-09-08 15:58] sarabala1979 commented on #6687
@tooptoop4 you can enable the archive feature to store the completed workflow in secondary storage DB.
https://github.com/argoproj/argo-workflows/blob/master/docs/workflow-archive.md

[2021-09-08 16:08] sarabala1979 commented on #6681
@lukasmrtvy I can see the creator label is set if user triggered workflow from UI.  information get from `claims`.

[2021-09-08 16:08] mac9416 commented on #6673
Tested against that branch. Reproduced the issue 1/20 times. Soooo 🤷

[2021-09-08 16:21] alexec commented on #6673
I was thinking if it is only `jsonpath`, then we can get rid of it and use something like dataflow:

`object(input.parameters.config).a`

[2021-09-08 16:21] naor2013 commented on #6629
I'm not sure if it gets deleted when the pods get deleted or when the wf gets deleted but why does it matter? I don't want neither to be deleted because I want to see all the logs and everything in the Argo UI.
I can check if it's important.

[2021-09-08 16:29] alexec commented on #6676
There are similar issues raised to this. Maybe Google error mesage?

[2021-09-08 19:48] lukasmrtvy commented on #6681
Its working, sorry for all the fuzz. My user didnt have a complete profile in IDP ( `email` field was missing .. ).

[2021-09-08 19:48] #6681 closed

[2021-09-08 20:59] terrytangyuan commented on #6675
I submitted https://github.com/argoproj/argo-workflows/pull/6690 to clearly mention this in the documentation.

[2021-09-08 21:53] #6687 closed

[2021-09-09 04:15] henrywangx opened #6693 "set stdout=true when kill sidecars"
## Summary

We face Timeout error when argoexec trying to kill the sidecar.
Our executor is K8SAPI.

## RootCause
With @kubeway's help, we found https://github.com/argoproj/argo-workflows/blob/master/workflow/executor/k8sapi/client.go#L101 didn't set `stdout=true` when call `ExecPodContainer`.
[code]
But GetExecutorOutput https://github.com/argoproj/argo-workflows/blob/620cb414a7797b67a2d34d55c3b6

[2021-09-09 05:50] #6273 closed

[2021-09-09 05:58] sarabala1979 commented on #6693
@hanrywangx would you like to submit the PR for this fix?

[2021-09-09 06:04] #6675 closed

[2021-09-09 06:59] edhjer opened #6694 "Unable to convert existing Workflow to WorkflowTemplate in v3.0.7"
## Summary

What happened/what you expected to happen?

Converted an existing Workflow to a WorkflowTemplate. Referencing the new WorkflowTemplate in another Workflow resulted in `volume $VOLUME_NAME not found in workflow spec` error. Since the original Workflow succeeded, I expected the WorkflowTemplate to succeed as well (based on [this](https://argoproj.github.io/argo-workflows/workflow-templat

[2021-09-09 08:08] aslafy-z opened #6695 "feat: Allow pre-processing of event payload variables in WorkflowEventBinding arguments"
# Summary

Allow pre-processing of event payload in WorkflowEventBinding arguments .

# Use Cases

I'd like to pre-process an event payload value into a `WorkflowEventBinding` resource before passing them down as `WorkflowTemplate` variables.
I've found that `submit.arguments.parameters` may contain an expression  key instead of a `valueFrom` reference, but I'm unable to find how to reference a pa

[2021-09-09 15:02] terrytangyuan commented on #6673
Here's another example (note that `{{=workflow.parameters.key}}` does not use `jsonpath`).

[code]

Results are different for every workflow:

[code]

[code]

[code]

So I doubt that it has something to do with jsonpath since even `{{=workflow.parameters.key}}` is not being evaluated sometimes. So the problem is that not all the expressions are evaluated.

[2021-09-09 15:08] alexec commented on #6673
Ok. So not just jsonpath. What about, is this only expression tag templates? Does it affect the old style ones?

[2021-09-09 15:08] alexec commented on #6673
Also, does it happen for examples without quotes?

[2021-09-09 15:33] terrytangyuan commented on #6673
So far I only see it in expression tag templates.

For the example above, looks like if I replace the value by `"{{=workflow.parameters.key}} == dev ? dev : prod}}"`, the raw expression is printed out (the conditional statement is not evaluated - not sure if this is related to this particular issue):

[code]

[2021-09-09 15:45] alexec commented on #6673
I'm not sure what you can do with `{{..}}`` inside `{{..}}`

[2021-09-09 15:46] alexec commented on #6673
Does it also happen when the values do not also contain `{`?

[2021-09-09 19:24] sarabala1979 opened #6697 "v3.1.10 cherry-pick"
- [ ] Yuan Tang: docs: Add note on the support for priority in workflow templates (#6690) 829cf139e
- [ ] Alex Collins: ci: run `make test-examples` on CI (#6691) 620cb414a
- [ ] Tim Gallant: docs: adds OpenAPI definitions for artifact routes (#6628) a408be9e1
- [ ] William Van Hevelingen: fix(executor): Retry `kubectl` on transient error (#6472) 9c76cc34c
- [ ] Yuan Tang: docs: Add section to cla

[2021-09-09 19:34] #3212 closed

[2021-09-09 19:37] alexec commented on #6490
Hi @jeanlouhallee thank you!

[2021-09-09 19:54] terrytangyuan commented on #3212
Please try out these two new examples and let me know if you encounter any issues!
1. https://github.com/argoproj/argo-workflows/blob/master/examples/global-parameters-from-configmap.yaml
1. https://github.com/argoproj/argo-workflows/blob/master/examples/arguments-parameters-from-configmap.yaml

Note that the ConfigMap used in these examples is defined [here](https://github.com/argoproj/argo-workf

[2021-09-09 20:53] #6591 closed

[2021-09-10 00:33] egeland opened #6698 "Allow the use of workflowTemplateRef in a WorkflowTemplate"
# Summary

A smooth user experience would be to be able to call a `workflowTemplateRef` directly in the steps/dag, with any parameters and `withParam` applying to the target workflowtemplate.

# Use Cases

What I expected to use, and which currently apparently needs other, less obvious, ways to get it to work:
[code]

This is a nice clean way to fan out to a workflowTemplate, but it currently is n

[2021-09-10 03:44] henrywangx commented on #6693
@sarabala1979 ok，I'm learning to give a PR for this fix

[2021-09-10 12:52] jeanlouhallee commented on #6490
Hello @alexec, do you mind if I ping you directly on Slack for design questions/considerations?

[2021-09-10 15:13] alexec commented on #6490
Sure. That's fine.

[2021-09-10 15:46] #4975 closed

[2021-09-10 19:03] terrytangyuan commented on #6673
I haven't observed related issues yet. The majority of the use cases involves using curly braces though.

[2021-09-10 20:14] #6604 closed

[2021-09-10 23:02] #6280 closed

[2021-09-11 07:11] kriti-sc commented on #5914
@alexec this needs to be done for all CLI flags? `workflow-controller` has ~15 CLI flags.

[2021-09-11 07:12] kriti-sc commented on #5914
Draft PR: https://github.com/argoproj/argo-workflows/pull/6705

[2021-09-11 15:55] kriti-sc commented on #6263
@sarabala1979 Am able to replicate the issue. Willing to pick this up. Let me know.

[2021-09-11 15:57] kriti-sc commented on #6263
Possible that the two issues above are separate, will look into both.

[2021-09-11 17:17] sarabala1979 commented on #6698
You can achieve the above enhancement using `templateRef`. TemplateRef should point to `entryPoint` template in `WorkflowTemplate`

[2021-09-11 17:17] #6697 closed

[2021-09-11 17:17] #6654 closed

[2021-09-11 18:10] sarabala1979 commented on #6263
Sure, please go ahead to submit PR

Sent from my iPhone

[2021-09-11 18:30] ad22 commented on #6583
Created #6704

[2021-09-11 18:46] tczhao commented on #5495
Hi @dcherman,
I want to give this a go,
I'm wondering if you are still working on this?

[2021-09-11 21:46] dcherman commented on #5495
@tczhao Other stuff has taken priority at the moment and I'm not actively working on this, so feel free to take a stab at this if you'd like

[2021-09-12 04:15] tczhao commented on #5075
Did some tests on 2.12.5, 3.0.0, 3.1.1 and master,
This is fixed since version 3.0

[2021-09-12 04:57] sarabala1979 commented on #6694
@edhjer  This is by design. WorkflowTemplate Spec level fields will not referred/copied to workflow if  workflow refers ONLY templates using `templateRef`. When workflow has `templateRef` referring `workflowtemplate's` template, controller will only copy/refer all `Template` scope fields.

[2021-09-12 06:35] edhjer commented on #6694
Thanks for following up @sarabala1979, that design choice makes sense to me. However, the above blurb from the docs seems incorrect then, based on what you're saying.

[2021-09-12 10:44] kriti-sc commented on #6263
@arnonki can you please try these command - `argo list  --status Pending` or `argo list  --status Pending,Running`

[2021-09-12 11:17] keshamin opened #6710 "Dedicated state for suspended workflows"
# Summary

I use `SuspendTemplate` for cases when human approve is required to pass on for further actions. But these further actions are not needed for all the suspended workflows eventually. So non-approved Workflows stay on suspend step infinitely and are displayed as Running. It misleads because they're not actually running and never will.

I suggest to introduce new Workflow state that would

[2021-09-12 12:12] tczhao commented on #5495
Thank you @dcherman,
I will take a look

[2021-09-12 12:59] atombender commented on #6384
That seems like a hack. I don't always want to copy the whole thing. I just want selection to work, instead of being broken.

[2021-09-12 13:52] Bobgy commented on #5439
Sorry the message slipped through the cracks. Let me try 3.2 and get back to you.

Cc @capri-xiyue

[2021-09-12 17:52] ad22 commented on #6583
After running some more experiments - I do not think a patch is required to fix this.
Please try quoting the pipe in the YAML.

Example:

Use

[code]

instead of

[code]

[2021-09-12 22:53] #4974 closed

[2021-09-12 23:26] alexec commented on #6384
A hack. A cheap hack. Which is a good. Rather than a complex bullet proof fix.

[2021-09-13 00:08] atombender commented on #6384
I dunno, I prefer to fix bugs rather than working around them. And in Argo, I select single words or lines much more often than I select everything.

[2021-09-13 04:03] #6598 closed

[2021-09-13 04:50] lippertmarkus commented on #6583
That would be even better, thanks for testing!

[2021-09-13 06:03] tim-sendible commented on #5824
The mentioned PR doesn't fix this issue. I still have 2 URLS, which doesn't translate well to thinks like github pull request decorations.

[2021-09-13 08:32] Tarjei400 commented on #6583
Sorry, I doubt it's working, I tried it before in all combinations (stringified, not stringified) output is always the same
![image](https://user-images.githubusercontent.com/1921727/133050837-663b4d43-09d5-4cd1-9957-6268f26edf00.png)

[code]

[2021-09-13 14:47] alexec commented on #6384
Sure. This bug has few up-votes, so I don't see it getting prioritised. Just wondering if there was a cheap fix which could be expedited. Doesn't sound like it is the case.

[2021-09-13 15:24] wdma commented on #6643
More information can be found about my system (yaml etc) can be found here (https://stackoverflow.com/questions/69094527/why-doesnt-this-argo-workflow-run), but in short, I am seeing the same error.

[code]

I have applied the following permissions to my user (ClusterRole), but in the absence of a comprehensive list of permissions, it is difficult to guess what Argo needs. Can you tell me which pe

[2021-09-13 15:53] sarabala1979 opened #6715 "Invalid memory address or nil pointer dereference in prepareMetricScope"
## Summary
level=error msg="Recovered from panic" namespace=data-pipelineruntime-usw2-prd r="runtime error: invalid memory address or nil pointer dereference" stack="goroutine 207 [running]:\nruntime/debug.Stack(0xc184120b41, 0x1c54200, 0x2e16840)\n\t/usr/local/go/src/runtime/debug/stack.go:24 +0x9f\ngithub.com/argoproj/argo-workflows/v3/workflow/controller.(*wfOperationCtx).operate.func2(0xc15c06

[2021-09-13 16:05] ad22 commented on #6583
Sorry, I was not testing with the right argo images. I've re-opened #6704 which fixes the issue.

[2021-09-13 16:07] encigem opened #6716 "hostNetwork & dnsPolicy `templateRef` fields don't work in Argo v3.0.2"
## Summary
It appears that hostNetwork and dnsPolicy Workflow template fields do not work in v3.0.2 of argo-workflows.

I've supplied the yaml files i used to test below.

Example Workflow Template file:
[code]
Example Workflow file:
[code]
Workflow execution output ($ hostname): `test-host-network-param-fnhbq-2454910845`

However, adding hostName & dnsPolicy parameters to Workflow instead, output

[2021-09-13 16:42] aaronmell commented on #6642
Here's a very simple example that fails with
withParam value could not be parsed as a JSON list: {{tasks.create-artifact.outputs.artifacts.output}}: invalid character '{' looking for beginning of object key string

`
---
apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: test-artifact
spec:
  entrypoint: test-pipeline
  templates:
    - name: create-artifact
      container:

[2021-09-13 20:59] #6447 closed

[2021-09-13 21:00] #5504 closed

[2021-09-13 21:45] sarabala1979 opened #6721 "v3.1.11 cherry-pick"
- [ ] 大雄: fix: kill sidecar timeout issue (#6700) 0b3f62cbe
- [ ] Tianchu Zhao: feat(ui): logsViewer use archived log if node finish and archived (#6708) cf14cad41
- [x] Tianchu Zhao: fix(ui): undefined cron timestamp (#6713) 3ba7d5fd6
- [x] Saravanan Balasubramanian: fix: panic in prepareMetricScope (#6720) 4c9c92292
- [x] Tianchu Zhao: fix(executor): handle hdfs optional artifact at retriving hd

[2021-09-13 21:58] #6583 closed

[2021-09-14 01:19] egeland commented on #6698
Thanks!
Is there an example that I've missed? - I trawled through a bunch, but didn't see what I thought I was looking for... 😅

[2021-09-14 02:37] tczhao commented on #6292
here's some workaround.. (not very pretty but works)
1. instead of paste directly to your destination, paste it on the browser url section first, then copy again (this will remove any line wrap)
or
2. instead of copy from logviewer result
(https://host/argo/workflows/default/omniscient-dragon?tab=workflow&nodeId=omniscient-dragon&sidePanel=logs:omniscient-dragon:main),
copy from the backend call r

[2021-09-14 07:35] summylight opened #6724 "LogView can't display text of the original container logs in color."
## Summary

What happened/what you expected to happen?

After updating the 3.0.x version to 3.1.9 and adding the regular expression filtering function, the argo-server log viewer cannot display the text in color and prints the color code in the original container logs.
But if we input some regexp pattern, log viewer displays color again!
I guess this is a bug, the regular expression filter functio

[2021-09-14 07:42] book987 commented on #6593
@simster7 Hi may I ask the progress on this issue?

[2021-09-14 07:58] mprzygrodzki commented on #6676
@alexec - I believe i've checked all possible solutions which i've found, and none of them worked for me.

[2021-09-14 08:03] withnale opened #6725 "Unable to set volumeClaim labels using variables"
## Summary

It's not possible at present to set volumeClaim labels using variables. This is possible with pod labels for each of the steps. This breaks our current cost reporting, which expects to have a common set of labels for each kubernetes resource.

For example...

If you take the example workflow `examples/ci.yaml` and modify it as below:

[code]

... you will see the following message when

[2021-09-14 08:16] xucan4pony opened #6726 "valid"

[2021-09-14 08:18] #6726 closed

[2021-09-14 11:36] book987 opened #6727 "got wrong TaskGroup phase when parallelism and failfast both set"
In "ctl-point" I set `parallelism: 1` and `failFast: true`.
After expand, "ctl-point"s task "withParam-tasks" became a TaskGroup node with 5 children, the third one failed, but this TaskGroup node stay at Running phase, so did the workflow's phase.
But the task after "ctl-point" (task "last") have run successed.

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We

[2021-09-14 11:49] book987 opened #6728 "support raw artifact and optional artifact in data template"
# Summary

What change needs making?

Support raw artifact and optional artifact in data template

# Use Cases

With raw artifact or optional artifact, we can use previous tasks' output directly, without store them as a real artifact.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-09-14 12:17] cartucciam opened #6729 "Broken documentation by example link"
## Summary

The documentation by example link at the bottom of https://argoproj.github.io/argo-workflows/ returns 404.

Broken link: https://argoproj.github.io/argo-workflows/examples/

What happened/what you expected to happen?

Before we start, around 2/3 of issues can be fixed by one of the following:

* Have you double-checked your configuration? Maybe 30% of issues are wrong configuration.
*

[2021-09-14 12:38] jacek-jablonski commented on #6721
Possible to include [cf14cad](https://github.com/argoproj/argo-workflows/commit/cf14cad41e1a8428cae8382398ee778892e63198)?

[2021-09-14 13:35] zoftdev opened #6732 "Agro event generate workflow name using epoch time cause duplicate name."
Create multiple workflow in same time via /api/v1/events/ cause problem.
Because argo try to generate name by itself using epoch time.

[code]

Testing :
create wf , wfbinding and request curl

[code]

## Diagnostics

👀 Yes! We need all of your diagnostics, please make sure you add it all, otherwise we'll go around in circles asking you for it:

What Kubernetes provider are you using?
1.22

What v

[2021-09-14 14:19] neWs1587 opened #6733 "Fail to get events and logs by HTTP API, because of the client."
`
func (h Facade) EventStreamReader(in interface{}, path string) (*bufio.Reader, error) {
	method := "GET"
	u, err := h.url(method, path, in)
	if err != nil {
		return nil, err
	}
	req, err := http.NewRequest("GET", u.String(), nil)
	if err != nil {
		return nil, err
	}
	req.Header.Set("Accept", "text/event-stream")
	req.Header.Set("Authorization", h.authorization)
	log.Debugf("curl -H 'Accept: te

[2021-09-14 15:04] #5857 closed

[2021-09-14 15:08] #6729 closed

[2021-09-14 15:13] alexec commented on #6676
The error "cannot get key for artifact location, because it is invalid" is caused because there is not configuration for the artifact repository - so the code does not know where to save the data. Looking at the logs, it is the outputs that are missing:

[code]

I cannot see configuration here, so I need you to check your configuration for your artifact repository. Typically this is an S3 bucket s

[2021-09-14 15:14] alexec commented on #6673
OK. I think if we see a case where curly braces are involved, we discus then.

[2021-09-14 15:42] sarabala1979 commented on #6721
@jacek-jablonski v3.1.11 is already released. I can include this next release. Please let me know how critical this issue is for you.

[2021-09-14 15:42] #6721 closed

[2021-09-14 22:18] #5097 closed

[2021-09-14 22:18] #6107 closed

[2021-09-14 22:18] #6531 closed

[2021-09-14 22:18] #6553 closed

[2021-09-14 22:18] #6588 closed

[2021-09-14 22:18] #6261 closed

[2021-09-14 22:18] #6645 closed

[2021-09-14 22:18] #6290 closed

[2021-09-15 02:30] ninjaprox opened #6735 "`concurrencyPolicy: Replace` doesn't work as expected"
## Summary

What happened/what you expected to happen?

`CronWorkflow` with `concurrencyPolicy: Replace` should replace an existing running workflow with a new one as described in [Concurrency Policy](https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs/#concurrency-policy).

It can be reproduced with this `CronWorkflow`

[code]

## Diagnostics

👀 Yes! We need all of your diagnostic

[2021-09-15 05:24] tooptoop4 opened #6736 "s3 event example"
I am looking for an example template to do the following:

Whenever an object/file lands on an s3 bucket then auto start an argo workflow which runs this command: python3 myscript.py <new_s3_object_path>

[2021-09-15 08:20] AlbertWigmore opened #6737 "GCS serviceAccountKey invalid character"
## Summary

What happened/what you expected to happen?

When following the instructions for configuring a [GCS artifact repository](https://argoproj.github.io/argo-workflows/configure-artifact-repository/#configuring-gcs-google-cloud-storage) was presented with the error below:

[code]

Believe the issue is that the documentation specifies to use a base64 encoded string and the codebase for retrie

[2021-09-15 15:24] heyleke opened #6739 "workflow variable not resolved when deadline exceeded"
## Summary

When I have a workflow variable, depending on the result of the source of the variable, it is not always resolved.

Notable: 'deadlineexeecded pods'
    timeout: "20s"

leads to this situation of unresolved references of workflow variables.

## Diagnostics

What Kubernetes provider are you using? Private, Version 1.16.15

What version of Argo Workflows are you running? ('latest')
workf

[2021-09-15 16:04] mac9416 opened #6740 "--log should exclude red from color selection"
# Summary

Including red among the random step-specific colors selected for logs shown with `--log` is confusing. It makes an entire step's logs look like error messages.

# Use Cases

When running workflows with Argo CLI and `--log`.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-09-15 16:49] sarabala1979 commented on #6739
@heyleke it expected behavior if the step is failed and has `continueon` for failed. if next step is referring parameter from failed can't be resolved. you can define `default` for parameters
[code]

[2021-09-15 16:52] sarabala1979 commented on #6736
To Achieve this use case, you have to use the Argo Event and Argo Workflow. Argo Event will monitor the SNS for S3 events and trigger the workflow. https://github.com/argoproj/argo-events/blob/master/examples/event-sources/minio.yaml

[2021-09-15 16:59] heyleke commented on #6739
@sarabala1979 I undestand its 'undefined' behavior, but I'm looking for a proper way of doing the above ('high' level retry in sepearate step), I tried the suggestion with 'default' in the output parameter, but that doesn't help, same result.

Would I be possible to have a step in between that in case of failure checks the parameter and makes sure it is filled in.

What I find strange is that when

[2021-09-15 18:03] #1319 closed

[2021-09-15 18:06] sarabala1979 commented on #6739
Argo will try to replace the {{parameters}} with real value. if values are not found, it will just skip it.  Argo will fail the workflow in the early version 2.x.

[2021-09-15 19:59] sarabala1979 opened #6741 "Daemon Node status is changed from succeed to running"
## Summary
[code]
What happened/what you expected to happen?

Before we start, around 2/3 of issues can be fixed by one of the following:

* Have you double-checked your configuration? Maybe 30% of issues are wrong configuration.
* Have you tested to see if it is fixed in the latest version? Maybe 20% of issues are fixed by this.
* Have you tried using the PNS executer instead of Docker? Maybe 50%

[2021-09-15 21:57] #6741 closed

[2021-09-15 22:19] sarabala1979 commented on #3102
@dcherman Are you working on this enhancement?

[2021-09-15 23:05] tczhao commented on #6737
maybe there's a chance you did base64 twice,
we create the secret this way, it works for us
`kubectl create secret generic service-ac-key --from-file=service-ac-key.json=path_to_json_file`

[2021-09-16 07:24] sirakav commented on #1322
This is causing a lot of issues for us when dealing with large artifacts and it forces us to use really high memory limits on init containers when 99% of the time they don't need them.

[2021-09-16 09:52] nielstenboom opened #6743 "Possibility to search archived workflows by name"
# Summary

It would be nice if the Archived Workflows page would have a search bar where you can type in the name of the workflow you are looking for, same as the regular workflows page has in the topleft corner.

This adds functionality on top of https://github.com/argoproj/argo-workflows/issues/2321

# Use Cases

We use Argo Events to trigger workflows. With a sprig template we generate a dynami

[2021-09-16 12:00] wdma opened #6744 "where is the "argo/staging/script" suffix coming from?"
## Summary

What happened/what you expected to happen?
I have modified the example found here (https://raw.githubusercontent.com/argoproj/argo-workflows/master/examples/memoize-simple.yaml) for my system and am expecting the whalesay output "test-5" but am getting "test-5 /argo/staging/script" like this:

 _____________________________
< test-5 /argo/staging/script >
 -----------------------------

[2021-09-16 12:24] sarabala1979 commented on #1322
@sirakav  which argo version are you using? can you provide the what issues you are facing?

[2021-09-16 12:46] sarabala1979 commented on #6744
@wdma I am seeing only `test-5` in my env. Can you try the v3.1.11?

[2021-09-16 13:02] nicon89 commented on #4885
Same issue in v3.1.10.

[2021-09-16 13:20] wdma commented on #6744
@sarabala1979 thank you for your reply. I am getting the same result as before. I have updated test-5 to test-6 as a reality check, but everything else stays the same.

[code]

and the output
[code]

[2021-09-16 13:24] sarabala1979 commented on #6744
@wdma Is it CLI version or controller version?

[2021-09-16 13:26] wdma commented on #6744
@sarabala1979 , I used the installation instructions (Linux) found here:

https://github.com/argoproj/argo-workflows/releases/tag/v3.1.11

 and am interacting with Argo on the command line.

[2021-09-16 14:23] sirakav commented on #1322
Currently, I am using the v3.2.0-rc2 version, but this issue was also present when I used v3.1.9.

The main issue is high init container memory usage which is caused by large artifacts.

For eg. today I had a workflow that generated more than 200GB of output artifacts in 4096 files.
All of these files had to end up in a reduce type task that would simply join them together.
This task immediately f

[2021-09-16 14:28] akloss-cibo commented on #1322
FWIW, as I think of it, as long as the sum of the resources of the init containers is less than the sum of the resources of the regular containers, you're not wasting anything.

[2021-09-16 14:33] sirakav commented on #1322
@akloss-cibo I would agree but in my case, the init container resources would be a lot higher than the main container's.

This would also waste resources because the executor resource configuration is global and I run a lot of small workflows (small artifacts) in the same namespace.

[2021-09-16 15:15] rwong2888 commented on #6663
I am interested in having the inverse where artifactRepository.archiveLogs and persistence.archive enabled by default and having some workflows be able to disable individually.

[2021-09-16 16:04] sarabala1979 commented on #6744
@wdma Can you try just argo submit [hello-world.yaml](https://github.intuit.com/kubernetes/cluster-deployments/pull/844)?

[2021-09-16 16:12] wdma commented on #6744
I am getting an error with that link(?)

![image](https://user-images.githubusercontent.com/8416524/133647630-7dd77a97-d391-4901-b731-b77695e72c41.png)

[2021-09-16 16:14] wdma commented on #6744
This is the output from argo submit...

FATA[2021-09-16T16:13:42.633Z] Get "https://github.intuit.com/kubernetes/cluster-deployments/pull/844": dial tcp: lookup github.intuit.com on 127.0.0.53:53: no such host

[2021-09-16 16:20] terrytangyuan commented on #6744
Try this link instead: https://github.com/argoproj/argo-workflows/blob/master/examples/hello-world.yaml

[2021-09-16 16:23] wdma commented on #6744
It works! (BTW, I had to use https://raw.githubusercontent.com/argoproj/argo-workflows/master/examples/hello-world.yaml)

 _____________
< hello world >
 -------------
    \
     \
      \
                    ##        .
              ## ## ##       ==
           ## ## ## ##      ===
       /""""""""""""""""___/ ===
[code]

[2021-09-16 16:36] wdma commented on #6744
I think I found it.  removing the part of the command that saves the output ("> /tmp/hello_world.txt") produces the correct output in the logs..  I have to do some more checking to see if the output can be passed correctly, but it is something(!)

[2021-09-16 18:59] wdma commented on #6744
Closing this issue and starting another one because now I have killed argo(?)

[2021-09-16 18:59] #6744 closed

[2021-09-16 19:09] wdma opened #6748 "Argo does not run workflows(?)"
## Summary

What happened/what you expected to happen?

I am running the following command.  The workflow exists in the correct namespace, but no pod is generated and nothing appears in the workflow-controller.  I am thinking this must be a configuration problem, but I have been running workflows for several hours on this configuration - it just stopped working(?)

[code]

the last several lines o

[2021-09-16 20:03] wdma commented on #6748
Apologies, this appears to be a problem with Kubernetes.

[2021-09-16 20:03] #6748 closed

[2021-09-16 23:51] tczhao commented on #6663
There's https://github.com/argoproj/argo-workflows/blob/master/examples/archive-location.yaml
allow you to set archive at individual step (did a test, doesn't seem working... will investigate on this)

It doesn't seem there's a parameter to configure archive log at the workflow level
I think this is a good feature to have
and we will have the archive config priority: template > workflow > configma

[2021-09-17 00:09] nakumgaurav opened #6750 "Argo Client does not work with newer k8s client versions (>=v0.21.0)"
## Summary
I am using the go-client for argo and here's how I defined it:

[code]

My go.mod file:
[code]

What happened/what you expected to happen?
I need to use k8s go client version >= v0.21.0 but it seems the latest argo client is incompatible with the newer k8s versions. So

Running `go vet ./... `gives an error:

[code]

Clearly, the exec.GetAuthenticator function requires two arguments in

[2021-09-17 01:48] terrytangyuan commented on #6735
The active workflows should be terminated. Could you share the log from your controller pod?

[2021-09-17 06:08] nakumgaurav commented on #6750
EDIT: I tried with the master branch version of argo. This fixes the exec.GetAuthenticator error above, but raises a bunch of other issues:
[code]

[2021-09-17 06:46] junjie-landing opened #6752 "hello-world job is stuck when running in microk8s 1.22/stable using docker executor"
## Summary

Try to run hello-world job
[code]
Then it stucks forever, even after hello world job is already completed.

[code]

![image](https://user-images.githubusercontent.com/81201171/133737217-5ea37112-5260-401b-ac43-51e996263c0b.png)

However, after switching to pns, it works fine.

## Diagnostics

👀 Yes! We need all of your diagnostics, please make sure you add it all, otherwise we'll go ar

[2021-09-17 09:02] naor2013 commented on #6629
@sarabala1979  any updates about this? 😄

[2021-09-17 09:44] sarabala1979 commented on #6629
@naor2013 as perhttps://github.com/kubernetes/kubernetes/pull/66923, if PVC mount to pod, PVC will not completely removed  until pod get deleted

[2021-09-17 09:45] sarabala1979 commented on #6629
It will release memory. I think it will say in 'terminate1` state

[2021-09-17 09:50] naor2013 commented on #6629
Right, but Argo does have a feature to delete PVC, which doesn't work because of that.
I would love if Argo had a feature (maybe configurable in some way) that removes the finalizer in the same code that it deleted the PVC.
That will help free up space automatically instead of letting the users do it manually.

[2021-09-17 13:26] rwong2888 commented on #6663
@tczhao is there similar for `persistence.archive`?

[2021-09-17 13:49] sarabala1979 commented on #6629
Got it. I think we can disable this protection in k8s

[2021-09-17 14:30] terrytangyuan commented on #6752
Could you run a kubectl describe on your workflow pod and controller pod? Any logs would be useful as well.

[2021-09-17 14:37] naor2013 commented on #6629
@sarabala1979 The problem with that is we have a big k8s infrastructure that is managed in our organization, and the Argo parts are just a minor part of everything.
Asking our k8s team to disable that feature for everyone just for our use-case will be probably not work.

For now, we remove the finalizer in our code that submits the Argo workflow but when we use resubmit in the UI it does not call

[2021-09-17 16:05] sarabala1979 commented on #6629
We can enhance the `VolumeClaimGC` with force flag. if the flag is true then it will remove the finalizer. I will work it

[2021-09-17 16:12] alexec commented on #6663
IMHO it is better to use a logging facility like Splunk for keeping logs in. Searchable and indexable. You're welcome to submit a PR of course.

[2021-09-17 16:13] alexec commented on #6629
@sarabala1979, if @naor2013 is keen on this, could he submit the PR with your guidance?

[2021-09-17 16:23] naor2013 commented on #6629
@alexec Unfortunately I don't know golang well enough to do that. I write mostly Python.

@sarabala1979 a flag for that feature would be excellent! Thank you so much 😄

[2021-09-17 17:17] liafizan opened #6759 "Upgrade coreos/go-oidc to v3 to enable OIDC-Connect issuerverifyskip check"
# Summary

coreos/go-oidc has [v3](https://pkg.go.dev/github.com/coreos/go-oidc/v3) available which has also a fix for [issuer-mismatch   ](https://github.com/coreos/go-oidc/issues/250)

# Use Cases

This issuer mismatch becomes a problem with some OIDC providers when the discovery-url and issuer name differ. In this scenario, we get the error below:

`issuer did not match the issuer returned by p

[2021-09-17 18:18] jessesuen commented on #1322
Isn't an easy workaround for this just limit memory to the argo exec container? The `executor:` setting in the controller:

https://argoproj.github.io/argo-workflows/workflow-controller-configmap.yaml

[2021-09-17 18:50] sarabala1979 commented on #1322
Is it possible to add custom init container which will for curl go aws and get the file for main container?
Instead of Argo init container
Sent from my iPhone

[2021-09-18 15:26] jp-gouin opened #6765 "WorkflowTemplate volumeClaimTemplates issue"
## Summary

I tried to define a PVC at WorkflowTemplate level , but when i run the Workflow referencing the template i get the following error : `
volume 'test-workdir' not found in workflow spec`

I assume that a WorkflowTempate is able to define a PVC and shall not rely on PVC claim at the Workflow level

## Diagnostics
Argo Version :
- Helm : 0.6.0
- v3.1.8
Platform : GKE
Kubernetes Version : v

[2021-09-18 17:24] ziv-codefresh commented on #6439
Hey guys,
I was able to reproduce the issue.
When i changed the type of the step to script instead of container, the lint phase failed with the following error:

``   ✖ in "parameter-aggregation-" (Workflow): templates.parameter-aggregation.steps failed to resolve {{steps.odd-or-even.outputs.parameters}}
``
Ive started to debug it and i found that it fail on the phase of resolving tag: `steps.odd-

[2021-09-18 17:28] ziv-codefresh commented on #6439
Hey guys,
I was able to reproduce the issue.
When i changed the type of the step to script instead of container, the lint phase failed with the following error:

``   ✖ in "parameter-aggregation-" (Workflow): templates.parameter-aggregation.steps failed to resolve {{steps.odd-or-even.outputs.parameters}}
``
Ive started to debug it and i found that it fail on the phase of resolving tag: `steps.odd-

[2021-09-18 17:39] encigem commented on #6716
I have also re-tested this on the latest Argo-workflows v3.1.12, which had the same result as above

[2021-09-18 18:23] ziv-codefresh commented on #6579
@chrisk314 i actually tried to reproduced the issue you described and i ran you workflow as you attached above.
looks like it works as you expected.
the output of the post step is: `status was: succeeded`
![Screen Shot 2021-09-18 at 21 21 20](https://user-images.githubusercontent.com/32479607/133898652-43b4fc90-e158-4d0a-aaf3-810908b1220b.png)
im using the latest version - 3.1.12.

[2021-09-18 19:08] sarabala1979 commented on #6765
@jp-gouin You can’t refer/use WorkflowTemplatespec level fields if you are referring ‘ templateRef’. In your scenario, the workflow which is referring ‘templateRef’ so the workflow should have Spec (PVC) level.

[2021-09-19 06:56] samene opened #6766 "sprig template sometimes fails to render"
I have a workflow template like this (truncated, to only include important parts)

[code]
This works 8 out of 10 times. 2 times (randomly) the sprig template fails to render and I get the string {{=sprig.trim(workflow.parameters['patch-name'])}} in the environment variable.

Argo Workflows 3.1.8

[2021-09-19 06:58] jp-gouin commented on #6765
Hi @sarabala1979 , so is there another way to use a workflowTemplate that would work with this scenario ?

[2021-09-19 07:23] jp-gouin commented on #6765
I can add a step in my `WorkflowTemplate` that create a PVC as raw resource like https://github.com/argoproj/argo-workflows/issues/1747#issuecomment-575941499

the documentation on Referencing other could explicitly state the all workflow level fields are ignored when using `templateRef`

i close this issue !

[2021-09-19 07:23] #6765 closed

[2021-09-19 20:20] steve-marmalade commented on #6536
Hi @sarabala1979 -- were you able to find any promising leads on the cause of this issue?

[2021-09-20 04:04] prichrd commented on #5914
@alexec, I gave a try to this using Viper, here is the result:
https://github.com/argoproj/argo-workflows/pull/6767

[2021-09-20 07:45] xi2817-aajgaonkar opened #6768 "Execute loop in sequentially"
# Summary

What change needs making?
I am having array and want it to execute it in sequential format.
`withParam` passes the params but executes the loop in parallel

[code]

# Use Cases

When would you use this?
I want to use this to provision my terraform resources sequentially. I am passing terraform resources in input.
---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍.

[2021-09-20 09:28] guillaumBrisard opened #6769 "Multiple managed-namespace"
# Summary

With the [managed-namespace](https://argoproj.github.io/argo-workflows/managed-namespace/) installation,
would it be possible to manage multiple namespaces ?

# Use Cases

On a single cluster, I have differents teams and each one of them handle multiple products.
And I would want each team to handle her own argo workflow installation for multiple products.
Because one install by product

[2021-09-20 09:40] gdubya opened #6770 "Replace docker.io with quay.io to avoid the image pull limit in namespace-install.yaml (and others?)"
# Summary

#6539 Started work to replace the use of docker.io with quay.io, however we recently noticed the same issue in the latest version of Workflows, specifically when trying to fetch the "executor-image" for a series of steps in a workflow.

This task is to update the namespace-install.yaml (and other yamls?) to use the quay.io image.

Furthermore consider adding imagePullPolicy (e.g. "IfNot

[2021-09-20 10:31] AntoineDao opened #6771 "Emit Node/Workflow events to multiple target sinks"
# Summary

This proposal is **very similar** to #2274 however we want to emit the events directly to a set of targets rather than rely on Kubernetes events for two reasons:

- Node events fired at rapid successions get bundled together and ignored. I raised this [here](https://github.com/argoproj/argo-workflows/issues/4136#issuecomment-728887485) and used a work around to suit our needs. That work

[2021-09-20 11:00] mbruner opened #6772 "Use template name in custom metric label definition"
# Summary

We want to collect duration steps for every part of the workflow but for now template name is not available in variables so we can not refer to it while defining labels.

# Use Cases

Collect the same metrics for all steps/tasks in workflow.

[code]
Also it would be nice to have some common metrics defined on the controller level so later it's possible to reference this definitions in s

[2021-09-20 13:02] terrytangyuan commented on #6766
Related https://github.com/argoproj/argo-workflows/issues/6673.

[2021-09-20 13:15] sichan-vonage commented on #5665
I have the exact same issue for the exact same use case! If this feature is not implemented can we please add it?

[2021-09-20 13:29] sichan-vonage opened #6773 "Allow workflowTemplateRef property to work properly when called from a WorkflowTemplate"
# Summary

Currently when workflowTemplateRef property is used to reference a workflow template from another workflow template, it does not work properly. There seems to be an error when trying to resolve the entrypoint.

It would be nice to allow this feature as then we can have saved WorkflowTemplates with different argument sets that call the underlying base WorkflowTemplate which we don't need

[2021-09-20 15:06] alexec commented on #6759
Would you like to submit a PR to fix this?

[2021-09-20 15:07] alexec commented on #6766
Does `patch-name` contain `{` or `}`?

[2021-09-20 15:08] alexec commented on #6770
Would you like to submit a PR to fix this?

[2021-09-20 15:09] alexec commented on #6771
This sounds a bit like #4355 .

[2021-09-20 15:10] alexec commented on #6771
Have you considered using a Kubernetes informer for this?

[2021-09-20 15:12] alexec commented on #6766
Can I ask another question, what happens if you just run with `    value: "{{=workflow.parameters['patch-name']}}"`

[2021-09-20 15:14] alexec commented on #6733
Here is where the code change needs to be made:

https://github.com/argoproj/argo-workflows/blob/master/pkg/apiclient/http1/facade.go#L55

Would you be interested in submitting a PR to fix?

[2021-09-20 15:15] alexec commented on #6728
Great idea! Would you like to submit a PR?

[2021-09-20 15:16] alexec commented on #6727
I don't understand I'm afraid. Are you saying there is some interplay between the parallelism and fail fast that causes wrong behaviour?

[2021-09-20 15:17] alexec commented on #6725
The place the code needs to change is here:

https://github.com/argoproj/argo-workflows/blob/master/workflow/controller/operator.go#L1432

Would you like to submit PR to fix?

[2021-09-20 15:19] samene commented on #6766
` value: "{{workflow.parameters['patch-name']}}"` works fine. Havent tried with the {{=

[2021-09-20 15:21] alexec commented on #6724
I expect this has something to do with this line of code:

https://github.com/argoproj/argo-workflows/blob/master/ui/src/app/workflows/components/workflow-logs-viewer/workflow-logs-viewer.tsx#L40

Would you like to take a look?

[2021-09-20 15:22] alexec commented on #6716
There seems to be a pattern of workflow template fields that don't work correctly.

@sarabala1979 is there a common solution we use for these?

[2021-09-20 15:24] alexec commented on #6766
@samene if I create an engineer build, could you test an hypothesis for me?

[2021-09-20 15:55] stsully commented on #6759
Hi guys
I would like to take a look at this

[2021-09-20 16:19] samene commented on #6766
Sure. tell me

[2021-09-20 16:30] alexec commented on #6766
Before I do that, my hypothesis is that there is some state when using Spring, but I cannot actually see it. Could you check if `{{=workflow.parameters['patch-name']}}` works on not?

[2021-09-20 16:59] samene commented on #6766
```{{=workflow.parameters['patch-name']}}``` failed too. on the 5th run.

![image](https://user-images.githubusercontent.com/46681492/134043063-a04575cf-b60e-4567-994c-e15da0f96fb1.png)

![image](https://user-images.githubusercontent.com/46681492/134043126-3d88392a-b18d-4faa-b699-00a67e7778cf.png)

[2021-09-20 18:05] alexec commented on #6766
I've just pushed a change. It will take around 20m to build and publish images to quay.io.

Could you try running your controller with `argopro/workflow-controller:dev-tmpl` in 20m?

[2021-09-20 18:19] shuker85 commented on #6698
https://argoproj.github.io/argo-workflows/fields/#templateref

[2021-09-20 22:43] alexec commented on #3156
Looking at the original issue, you could do that with a mutating web hook. However, we find that workflows don't play nicely with injected sidecar typically.

[2021-09-20 22:54] cscetbon commented on #3156
What about the issue I talked about which relates to volumes as well ? A workflow template calling another workflow template doesn't have the volumes mounted

[2021-09-20 22:55] sarabala1979 commented on #3156
It looks like unnecessary adding all volumes which is not used by pod all the case. Your use case is very specific. You can achieve using templatedefault to configure the volume which sidecar needed.

Sent from my iPhone

[2021-09-20 23:04] sarabala1979 commented on #3156
Currently There is no way to visible the template caller volume/volumemount.  Just I am thinking loud, step/task can have volume as argument like arguments

Sent from my iPhone

[2021-09-20 23:25] cscetbon commented on #3156
@sarabala1979 wdym ? The volume is missing when the pod is generated by Argo. are you talking about changes in the code ? Not sure who that was for. If I'm missing what you're saying can you show an example of a definition that would show how to do it ? Keeping in mind it's an issue with a workflow referencing a template that references another template that has a volume

[2021-09-20 23:33] sarabala1979 commented on #3156
I am talking way to achieve adding volumes into pod.

1. TemplateDefault: workflow can have all volumes which you want to add in to pods.  If you want to configure controller level, you have to use workflow defaults. So volume will be copied to all templates in that workflow during the runtime.

Sent from my iPhone

[2021-09-21 01:32] ninjaprox commented on #6735
[code]

[code]

[2021-09-21 02:33] cscetbon commented on #3156
I see but it seems really limiting to me. In my case some need one volume others need another volume etc...

[2021-09-21 04:18] samene commented on #6766
@alexec I tried this image but the workflow fails to start completely. The pod is in pending state. I see this in the controller logs, dont know if it is relevant.
[code]
I am on v3.1.8 installed through the helm chart.

[2021-09-21 12:15] ThSchrad commented on #6766
I have the same problem with another workflow and also tried your image @alexec.
To fix the issue mentioned by @samene I added the required permission to argo-role.
However the pod shows the following error:

`Error (exit code 2): open /argo/podmetadata/annotations: no such file or directory`

I am on v3.1.12.

[2021-09-21 12:29] gdubya commented on #6770
Sure, I can edit the files, but there's a comment at the top that says they are generated. What's the process for generating them?

[2021-09-21 12:36] gdubya commented on #6770
oh ffs. I was looking at an old branch. Master is indeed updated. Sorry.

[2021-09-21 12:36] #6770 closed

[2021-09-21 14:39] f-loris opened #6778 "Cron Workflow: Trigger missed schedules"
When a job could not be scheduled, it should be re-scheduled as long as it is within `startingDeadlineSeconds` although
`concurrencyPolicy` is set to `Forbid`.
My reference here is the `workflow.scheduledTime` variable which I print in my job.

My use case is a job which in exceptional cases takes longer than the next scheduled one and I don't want to miss executions as `workflow.scheduledTime` is

[2021-09-21 14:51] ThSchrad commented on #6766
Ah, thank you. Now it works.

With the old image my workflow worked 5 out of 10 times.
The error I get is:
[code]

With the new image the same workflow worked 3 out of 10 times.
The error is the same.

The log of the workflow controller contains no error messages.

This is my workflow:
[code]

[2021-09-21 14:53] alexec commented on #6766
Can you try with a simple expression, like `{{=workflow.parameters.print}}`? Complex expressions will conflate the issue.

[2021-09-21 15:25] samene commented on #6766
still fails :( same result.

[2021-09-21 15:35] spire-ffoston opened #6779 "WorkflowTemplate Submission Widget does not respect Argument Parameter defaults."
## Summary
When attempting to submit a WorkflowTemplate via the web UI, the widget will not populate fields if only the argument parameters `default` field is populated.

i.e.:
[code]
Corresponding widget:
<img width="359" alt="image" src="https://user-images.githubusercontent.com/62248514/134200668-333cc8cc-21b6-4cb2-8931-c88c82d23019.png">

Furthermore, if you submit the workflow without populat

[2021-09-21 15:39] alexec commented on #6766
And presumable `{{workflow.parameters.print}}` works fine?

[2021-09-21 15:52] samene commented on #6766
suppose so. it has never failed on these. not now, never

[2021-09-21 16:49] alexec commented on #6778
It is typical for users to create cron workflows that don't rely on scheduling time. This is because Kubernetes itself can always fail to schedule the workflow's pods, e.g. due to lack of CPU, or needing the resources for some other higher priority task.

In those cases it may not run at all.

However, I do not think this is the issue you're raising.

This is where `Forbid` in enforced:

https://g

[2021-09-21 16:54] terrytangyuan commented on #6735
The old workflow `test-concurrency-policy-1632187440` is being stopped according to the log and there isn't any error while stopping it.

[code]

What's the result of `kubectl describe wf test-concurrency-policy-1632187440`?

[2021-09-21 17:11] alexec commented on #6458
@tczhao still seeing failures.

[2021-09-21 17:17] alexec commented on #6779
Sorry about the labels. Would you like to submit a PR to fix?

[2021-09-21 17:20] #6693 closed

[2021-09-21 18:32] ThSchrad commented on #6766
With `{{=workflow.parameters.print}}` it fails much less frequently. 3 out of 40 on v3.1.12 and 2 out of 40 on the dev-tmpl image.
With `{{workflow.parameters.print}}` it didn't fail on 50 tries (v3.1.12).

[2021-09-21 20:04] aaronmell commented on #6642
@alexec Can you reopen this? I have provided a test workflow the reproduces the issue.

[2021-09-21 20:42] f-loris commented on #6778
Thanks, for coming back. In my opinion it is especially important to know the time for which it was scheduled, when it could not be properly scheduled. What ever the reason is, for not being scheduled, there should at least be the chance to be able to determine that there was an execution missed.

Probably my issue is no bug as it seems that it is currently designed like that. Maybe we can think a

[2021-09-21 21:10] crenshaw-dev opened #6781 "`argo cron` should report when CronWorkflow names exceed the length limit"
# Summary

The `argo cron` command faithfully lists CronWorkflows, even ones that are rendered invalid due to the name exceeding the 52-character limit.

The workflow controller does log the issue. But `argo cron` gives the impression that nothing is wrong.

# Use Cases

My team would benefit from this when a dev (who is unfamiliar with the workflow controller and its logs) deploys a CronWorkflow

[2021-09-21 21:32] #6461 closed

[2021-09-21 22:25] #5960 closed

[2021-09-21 22:25] #6274 closed

[2021-09-21 22:35] davidcollom commented on #6439
@alexec sorry for not responding, I've been incredibly busy over the last few weeks, this seemed to have dropped through my notifications.

A quick scan read I think @ziv-codefresh has provided the same information (if not more) to what I was going to respond with

[2021-09-21 23:40] ninjaprox commented on #6735
It's still running. And from the log above, it still seems to process `test-concurrency-policy-1632187440` after the stopping log line.

[code]

Here's the log of another try:

[code]

[code]

[2021-09-22 03:47] #6684 closed

[2021-09-22 03:54] book987 commented on #6728
yeah, I would like to.

[2021-09-22 09:39] zewelor commented on #6642
Bot please take a look at: https://github.com/argoproj/argo-workflows/issues/6642#issuecomment-918375480 :D

[2021-09-22 13:17] pedro-mandeville opened #6785 "Better containerRuntimeExecutor default"
# Summary

Change the default executor to one that works out of the box on more k8s distribution

It seems docker is not a good default as it does not work on every k8s distribution, for example, GKE and microk8s.
Thus a lot of new users trying Argo-Workflow have trouble figuring out why the hello-word example does not work (the wait container get stuck).
As en example, I joined the argo slack cha

[2021-09-22 14:46] HouseoLogy commented on #6490
Hi @jeanlouhallee & @alexec,
were you able to agree on certain design considerations? Do you have any further insights?

[2021-09-22 15:05] #6663 closed

[2021-09-22 15:51] ziv-codefresh commented on #6463
@sarabala1979 hey we would like to contribute this one, there are few points i would like to clarify:
1. do we want to extend it to other capabilities beside parameters such as entry point, annotations or any other option we have in the submit command?
2. i see there is an option to resubmit by selector, meaning we can resubmit more than 1 workflow. what is the expected behavior in this case? appl

[2021-09-22 15:52] alexec commented on #6642
This works for me:
[code]

I'm not sure that `.artifacts.` has been implemented.

[2021-09-22 15:54] alexec commented on #6766
Duplicate of #6673.

[2021-09-22 15:54] #6766 closed

[2021-09-22 16:08] alexec commented on #6673
More minimal repo:

[code]

[2021-09-22 16:11] alexec commented on #6673
Could be related to #6285.

[2021-09-22 16:15] alexec commented on #6673
Could be fixed by #6442, if this is quoting issue.

[2021-09-22 16:17] alexec commented on #6673
[code]

[2021-09-22 16:47] pedro-mandeville commented on #6785
I'm not sure were to make the changes but if there is no one else available, with some guide I can prepare a PR

[2021-09-22 17:30] alexec commented on #6673
I think I've found the issue:

https://github.com/doublerebel/bellows/issues/8

[2021-09-22 17:46] alexec commented on #6673
@samene @ThSchrad @terrytangyuan I think I've tracked this issue down. I'll create a PR today and see if we can merge to master later on for testing.

[2021-09-22 18:09] #6673 closed

[2021-09-22 19:12] terrytangyuan commented on #6673
@alexec Nice! Thanks for tracking it down!

[2021-09-23 03:00] summylight commented on #6724
Sure. So this bug only occurs on my system? I notice the label is changed now.

[2021-09-23 10:47] vadimgusev-codefresh opened #6790 "Workflow controller panics with "node NODENAME already initialized""
## Summary

I'm writing a CI pipeline that fetches code from git and builds artifacts, container images and Helm chart, alongside with unit tests and security checks.

After switching from `Docker` to `Emissary` executor I'm having sporadic panics in workflow controller that cause pipeline to freeze at random point. It might happen during any step or not happen at all, so it's not strictly speakin

[2021-09-23 12:35] emaincourt opened #6792 "Status message is missing from DAG workflow on failure"
## Summary

Hi,

I'm quite new to using DAGs with Argo so I might understand it wrong. However, when running a DAG workflow, the error message from the failed task does not get assigned to the workflow status message as it does for classic workflows.

Globally speaking, in case of failure, a DAG workflow does not seem to have a `.Status.Message` field. But the [documentation](https://argoproj.gith

[2021-09-23 13:16] terrytangyuan commented on #6785
+1 to PNS or emissary. Though if we want to make emissary the default, we may need to check all the examples to see if the commands are explicitly specified.

[2021-09-23 14:23] sylock opened #6793 "How to allow unsigned CA with SSO enabled"
## Summary

What happened/what you expected to happen?
I'm trying to configure SSO against an oauth 2 provider. That provider has an unsigned CA (this is a test environement). Argo server complains about it and refuse to start. I see that on dex you can set in the configmap the config "insecureCA: true" but I don't see such option neither in the workflow-controller-configmap or as an argument of t

[2021-09-23 17:32] alexec commented on #6790
Can you please confirm:

* This only happens using the Emissary.
* You're running the exact same workflow as you were running with Docker. You're not using container set (for example).

[2021-09-23 17:34] alexec commented on #6792
This is normal. The workflow should be marked as "Failed", but the error message may not be propagated.

[2021-09-23 17:37] alexec commented on #6793
We use `gitHub.com/coreos/go-oidc`. This does not support self-signed certificates.

You'll need to raise an issue with the upstream get this changed:

https://github.com/coreos/go-oidc/issues

[2021-09-23 17:56] rwong2888 opened #6794 "Steps after httpTemplate are not visible"
![image](https://user-images.githubusercontent.com/61470342/134559088-fda7bce9-4866-4af0-b21d-7fbb08ea9d2b.png)

[code]

[2021-09-23 18:01] vadimgusev-codefresh opened #6795 "Respect order of `envFrom` and `env` in container/script spec to enable k8s dependent variables feature"
# Summary

Currently step Pods are created with such spec no matter in which order `env` and `envForm` were defined in:

[code]

I would like the order of `env` and `envFrom` to be respected.

# Use Cases

This will enable usage of k8s [dependent variables](https://kubernetes.io/docs/tasks/inject-data-application/define-interdependent-environment-variables/) feature. This is because definition ord

[2021-09-23 18:36] zewelor commented on #6642
My use case for .artifacts with withParams, was to use big output from container. Echo to stdout was too big for k8s annotation.

[2021-09-23 19:15] alexec commented on #6642
If it is too big for output, it'll be too big for `withParams`. Have you looked into data template? It's job is to help with fan-out workflows.

[2021-09-23 19:17] alexec commented on #6794
Can you click on

![image](https://user-images.githubusercontent.com/1142830/134569799-4ede42c2-88fc-4954-8211-793e3f272a3d.png)

And see if all options are selected?

[2021-09-23 19:33] rwong2888 commented on #6794
@alexec I am getting this now. Looks like there should be more
![image](https://user-images.githubusercontent.com/61470342/134571550-52f3e60b-d58f-477a-be8b-13da4ad483dd.png)

TaskGroup and StepGroup were deselected. I selected both. Looks like StepGroup activated the 2nd node shown, but I don't see the parse-branch step.
![image](https://user-images.githubusercontent.com/61470342/134571989-187923

[2021-09-23 19:57] alexec commented on #6794
Hmmm. There should be an option to select "HTTP" from the list. I think this is missing. This needs to be added to this file:

https://github.com/argoproj/argo-workflows/blob/master/ui/src/app/workflows/components/workflow-dag/genres.ts#L1

Would you be interested is submitting a PR?

[2021-09-23 20:09] rwong2888 commented on #6794
@alexec Created PR https://github.com/argoproj/argo-workflows/pull/6798

[2021-09-24 00:49] jgibson2 opened #6799 "withParam with AnySucceeded depends logic"
# Summary

`task.AnySucceeded` works with a `withItems` loop correctly, but when using it with `withParam` we get an error such as:

[code]

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-09-24 01:18] jgibson2 commented on #6799
withItems workflow:
[code]

withParams workflow (fails):
[code]

[2021-09-24 11:57] vadimgusev-codefresh commented on #6790
@alexec I've performed additional testing and found out two things:

1. It in fact happens both in Docker and Emissary.
2. It seems to always happen with one of several `withParam` nodes. One of those is in the error message of pipeline.

[2021-09-24 13:12] sylock commented on #6793
Opened an issue there:
https://github.com/coreos/go-oidc/issues/321

[2021-09-24 14:32] ericchiang commented on #6793
You can configure go-oidc's HTTP client with ClientContext

https://pkg.go.dev/github.com/coreos/go-oidc/v3/oidc#ClientContext

(This is the same strategy that x/oauth2 uses)

[2021-09-24 15:12] vadimgusev-codefresh commented on #6790
Done additional testing and created stripped-down version of Workflow with only `echo`es that ends up in 3 different way randomly:

1. Completes successfully
2. Produces `node already initialized` error for one of 3 `withParams` nodes at random
3. Produces the following error for one of 3 `withParams` nodes at random:
[code]

I've witnessed this error in my real pipeline couple times, but neglecte

[2021-09-24 18:08] alexec commented on #6793
Thank you @ericchiang . Sounds like I was wrong.

@sylock would you be interested in submitting a PR to fix this?

[2021-09-24 19:58] khobbs-ccri commented on #5152
I'll add myself as an interested party to this one.

[2021-09-24 22:29] vadimgusev-codefresh commented on #6790
I think I've narrowed down the root cause to a single line of YAML (actually two identical lines in two templates) in Workflow above.

[code]

Simply removing expression makes problem disappear.

I've ran those two versions and latter gives me 100/100 `Succeeded` while former is:

- 31/100 `Succeeded`
- 54/100 `node already initialised`
- 26/100 `failed to evaluate expression`

Yes, it adds up to

[2021-09-25 09:38] vadimgusev-codefresh commented on #6790
Investigating further: problem seems to arise only in combination of `sprig expression` and any `with*` loop control.

The following example shows even distribution of `node already initialised` errors among `withItems`, `withSequence` and `withParams`:

[code]

Also worth noting that `sprig-alone` step never causes any problems, **even if I comment out all other `sprig-*` steps**.
And, as in prev

[2021-09-25 10:02] vadimgusev-codefresh commented on #6790
And it doesn't have to be specifically a `sprig` function either. Just having an expression variable in the loop is enough, even if it does nothing. This is the difference between flawless runs and ~90% failure rate.

[code]

@alexec PTAL

[2021-09-25 10:16] tczhao commented on #6743
for your purpose, maybe you can try label your workflow

[2021-09-26 01:14] basanthjenuhb commented on #5369
Will be useful to have the have this number at a namespace level also.

[2021-09-26 20:41] alexec commented on #5369
@basanthjenuhb would you be interesting in implementing this feature?

[2021-09-26 20:46] alexec commented on #6053
That could be a mistake and should probably be corrected.

[2021-09-26 20:47] alexec commented on #6790
I just fixed a bug that only happens with `{{=}` and if there is `workflow.parameters` in it (it could happen with other variables, but I've not seen any reports). This could be caused by the same underlying issue, and fixed by the same fix. Could you test using `:latest` images please?

See #6766

[2021-09-26 23:19] #6373 closed

[2021-09-27 08:17] vadimgusev-codefresh commented on #6790
@alexec indeed `quay.io/argoproj/workflow-controller:latest` works fine.

[2021-09-27 13:49] clumsy456 opened #6805 "aggregate or separately process the output artifacts of parallel pods"
# Summary

If a dag/task includes withItems/withParam parameter, we are not able to resolve its output artifacts, as is shown in #1625. I suggest a syntax to aggregate or separately process the output artifacts of parallel pods.

# Use Cases

There are two situations to use the output artifacts of parallel pods.
## separately process
[code]
- Task1 includes withItems/withParam parameters, and 3 po

[2021-09-27 13:57] h0lk commented on #6635
We are also struggling with the exact same issue and running Minio with HTTP is unfortunately not an option in our corporate setup.

Maybe this can be easily fixed by allowing for some sort of `executorExtraMounts` configuration setting inside the `workflow-controller-configmap`, where one could add a reference to an external secret/configmap and place it under the main certificates path inside th

[2021-09-27 14:11] sylock commented on #6793
@alexec Do you mean an empty PR so somebody else can take over it? (But I'm not sure how to create an empty PR). If not, I'm not a goland dev and I won't be able to fix this issue. Tell how can I help (except dev).

[2021-09-27 14:15] sylock commented on #6431
@sarabala1979 @alexec I think that there are 2 different things in this ticket:
## A bug in the serialization
There is probably a bug in the escaping of the data when providing them to a step as an input.

## A feature request - export
For a step of kind "get resource" with a manifest, add the possibility to export the output as an artifact instead of a variable.

I think we should focus on the bu

[2021-09-27 14:26] treeguard opened #6806 "workflow name with customized rand string"
# Summary
Currently the workflows generated by workflowTemplate where the `generateName` is defined will have a suffix which is a random string of length 5, see https://github.com/argoproj/argo-workflows/blob/e5b131a333afac0ed3444b70e2fe846b86dc63e1/workflow/util/util.go#L613 this has brought up workflow name conflicts in our use case. It would be great if the length of the random string can be cu

[2021-09-27 14:27] treeguard opened #6807 "`generateName` with customized suffix length"
## Summary

Currently the workflows generated by workflowTemplate where the `generateName` is defined will have a suffix which is a random string of length 5, see https://github.com/argoproj/argo-workflows/blob/e5b131a333afac0ed3444b70e2fe846b86dc63e1/workflow/util/util.go#L613 this has brought up workflow name conflicts in our use case. It would be great if the length of the random string can be

[2021-09-27 14:57] #6790 closed

[2021-09-27 15:56] #6806 closed

[2021-09-27 17:01] spkane opened #6808 "`quick-start-postgres.yaml` should install the current release of Argo components"
# Summary

The Kubernetes manifest at:

https://raw.githubusercontent.com/argoproj/argo-workflows/stable/manifests/quick-start-postgres.yaml

should be upgraded to use the current release of Argo Workflows

# Use Cases

When would you use this?

This is a nice way to quickly spin up a functional environment for demos and testing, but the fact that it lags behind in features and behaviors can lead

[2021-09-27 17:15] spkane commented on #2154
@alexec Did this get documented anywhere that is easily discoverable? `kubectl -n argo exec argo-server-${POD_ID} -- argo auth token`

This is not super obvious and has taken a bit of time to figure out.

It might actually be a good thing to the `argo` CLI, so that if people run `argo auth token` on their local machines, if it produces and error, maybe then it cane say something like `If you are l

[2021-09-27 17:30] jbandoro commented on #6768
We found a solution where you can just add a mutex to the container template and it will execute sequentially in the same order as items passed into it. So for your example you would add it to `resource-operation` container template. See an example here: https://github.com/argoproj/argo-workflows/blob/master/examples/synchronization-mutex-tmpl-level.yaml

[2021-09-27 17:59] NikeNano commented on #6173
/assign

[2021-09-27 18:05] spkane commented on #6808
I did realize that it is here:

https://github.com/argoproj/argo-workflows/releases/download/v3.1.12/quick-start-postgres.yaml

But it does still seem like the stable version should point to the current (non RC/beta) release.

[2021-09-27 18:17] zorulo opened #6809 "Executor resource requests not applied to init/wait containers"
## Summary

**What happened/what you expected to happen?**

We've recently tried upgrading argo from 2.11.x to the latest to take advantage of new features, namely the emissary executor.

However, now when specifying executor requests for the init/wait containers as described in the [workflow-controller-configmap here](https://github.com/argoproj/argo-workflows/blob/master/docs/workflow-controller

[2021-09-27 20:28] NikeNano commented on #5369
I would be happy to help out working on this @alexec.

[2021-09-28 08:03] boehb-efs commented on #6610
This permission is only on secret named 'sso'...

[2021-09-28 08:49] boehb-efs opened #6813 "current_namespace needs to be updated"
## Summary

What happened/what you expected to happen?
After installing 2 namespaced instances of argo with ingresses on different paths but within the same domain, argo seems to have problem with its cache when switching between the instances (managedNamespace differs from current_namespace).
I expected the switch to run smoothly, however I received this error:
`Unsuccessful HTTP response: workfl

[2021-09-28 12:06] sarabala1979 commented on #6813
@alexec Do we have browser cache for a namespace?

[2021-09-28 12:12] sarabala1979 commented on #6809
@zorulo I am not able to reproduce this issue. I can see the resource got an update on `wait` container from configmap. Please make sure your config map is parsed correctly, which you can see in the controller log.

![image](https://user-images.githubusercontent.com/33908564/135084248-a8c28dd1-3181-4870-887d-3e7955ad10de.png)
configmap:
![image](https://user-images.githubusercontent.com/33908564/1

[2021-09-28 12:19] sarabala1979 opened #6814 "`duration` metrics are missing if workflow is in suspend template step and controller got restarted"
## Summary

What happened/what you expected to happen?

What version of Argo Workflows are you running?

## Diagnostics

Either a workflow that reproduces the bug, or paste you whole workflow YAML, including status, something like:

[code]

What Kubernetes provider are you using?

What executor are you running? Docker/K8SAPI/Kubelet/PNS/Emissary

[code]

---

**Message from the maintainers**:

Imp

[2021-09-28 15:36] #6814 closed

[2021-09-28 15:40] #6676 closed

[2021-09-28 16:04] sarabala1979 opened #6820 "v3.1.13 cherry pick"
- [x] Saravanan Balasubramanian: fix: Missing duration metrics if controller restart (#6815) ffb0db711
- [ ] Tianchu Zhao: feat(controller): add workflow level archivedLogs. Fixes #6663 (#6802) 81bfa21eb
- [ ] Yuan Tang: docs: Fix link to community survey (#6797) 44fd7140b
- [ ] Andrey Velichkevich: docs: Add Cisco to list of users (#6796) e188fe188
- [ ] ygelfand: fix: update outdated links for c

[2021-09-28 16:04] zorulo commented on #6809
@sarabala1979 Thanks for looking into it. I can see the resources applied in our configmap when running `kubectl describe cm <map>`, output similar to what you showed above. Additionally, we are essentially using the same configmap for both 2.11.x and other versions, but it only seems to show up for 2.11.x.

[2021-09-28 16:09] alexec commented on #6820
done

[2021-09-28 17:11] sarabala1979 commented on #6379
@atombender Can you try v3.1.12?

[2021-09-28 17:14] #6642 closed

[2021-09-28 23:08] #6733 closed

[2021-09-28 23:23] egeland commented on #6698
Got things working, thank you! 👍

[2021-09-28 23:23] #6698 closed

[2021-09-29 05:00] scravy commented on #4153
I came here as I was confused as to whether `govaluate` or `expr` is used in `when:`

To me it is very confusing to find `when:` use one library, but `depends:` and `{{#` use another one.

[2021-09-29 05:03] scravy opened #6823 "Use either expr or govaluate consistently, not both"
# Summary

Either `when:` should use [antonmedv/expr](https://github.com/antonmedv/expr/blob/master/docs/Language-Definition.md) or `depends:` and `{{#` template tags should use [Knetic/govaluate](https://github.com/Knetic/govaluate).

There should be just one expression language/syntax be used consistently. Personally I'd be in favor of `expr`, but that matters less to me than to have a consisten

[2021-09-29 07:47] zamonia500 commented on #6643
I'm facing same issue too. version 2.12.9

[2021-09-29 09:12] eileensheu opened #6824 "Have dropdown-lists and checkboxes for workflow inputs in GUI"
# Summary
It would be nice if there are more GUI features for input parameters (i.e. `spec.arguments.parameters`).
For example:
- dropdown-list for single-selection or multi-selection
- checkbox for boolean parameters

Something like (just an idea):
[code]

[2021-09-29 09:20] smile-luobin opened #6825 "Failed to load http artifact which path overlaps with specified volumeMount but the parent directory is not exist"
## Summary

What happened/what you expected to happen?

We try to set a HTTP artifact as workflow input, and use argo init container to download content to artifact path. The artifact path overlaps with one specified volumeMount, and the parent directory of artifact path is not exist in volumeMount. Argo init container will failed. Here is the logs:

    time="2021-09-29T08:31:53.798Z" level=info

[2021-09-29 09:46] ZhengJuCn opened #6828 "dynamic pvc volumemount support"
# Summary

**1. i used create one workflowtemplate for use, this template like:**

templates:
   - name: test
     inputs:
       parameters:
         - pvc

     container:
       volumes:
         -  name: "xx"
            volumeSource:
              persistentVolumeClaim:
                claimName: "{{inputs.parameters.pvc}}"

**2.  then i ref this template and pass real pvcname, in this case e

[2021-09-29 13:02] tvalasek commented on #5173
Hi. I tried your workaround but it does not work for me in v3.1.12. We use following reference chain: Workflow (wrapper) -> WorkflowTemplate (logical groups) -> WorkflowTemplate (pod specs). This article explains our use case: https://tomas-valasek.medium.com/building-kubernetes-clusters-using-kubernetes-dde332c77d65

[2021-09-29 13:40] vitalyrychkov commented on #5697
Hello, we have the same issue with Argo Wfl 3.1.3 TLS and SSO with Keycloak as OIDC provider.
msg="finished streaming call with code Unauthenticated" error="rpc error: code = Unauthenticated desc = token not valid for running mode"
Argo Wfl documentation does not help.

[2021-09-29 15:35] #6173 closed

[2021-09-29 15:54] wdma opened #6829 "How do I work with /argo/staging/script/ at a non-elevated level?"
QUESTION: How can I debug this?

the command I am using is:

argo submit -n argo --watch https://raw.githubusercontent.com/argoproj/argo-workflows/master/examples/hello-world.yaml --serviceaccount argo

I am using
argo: v3.1.12
  BuildDate: 2021-09-16T13:59:01Z
  GitCommit: e62b9a8dc8924e545d57d1f90f901fbb0b694e09
  GitTreeState: clean
  GitTag: v3.1.12
  GoVersion: go1.15.7
  Compiler: gc
  Platf

[2021-09-29 16:24] sarabala1979 commented on #6829
@wdma are you using `instanceID=hippocampus-controller` for submitting your workflow?

[2021-09-29 16:32] wdma commented on #6829
Yes, I am.  Apologies. It is below

[code]

[2021-09-29 18:19] #6794 closed

[2021-09-29 19:10] wdma commented on #6829
additional testing. I deleted the configmap and reran some tests

Interestingly, the logs still show the controller in place.  Hello-world still launches the workflow and no pods.

QUESTION:
aside from       kubectl delete -f <the configmap.yaml> are there additional steps I must take to remove the controller?

[code]

[2021-09-29 19:57] lusid commented on #5434
Anyone know if this is resolved for PNS executor in GKE 1.21+ since SYS_PTRACE is supported?
https://cloud.google.com/kubernetes-engine/docs/concepts/autopilot-overview?authuser=1&_ga=2.36455523.-294381163.1588290990#linux_workload_limitations

[2021-09-29 20:44] sarabala1979 commented on #6829
Can you delete the `argo` namespace and reinstall it? I really don't have an idea about the current state of your controller and namespace.

[2021-09-30 01:42] #6828 closed

[2021-09-30 03:03] duwanqiebi commented on #3807
@knkarthik Hi, I also got this error! Have you fixed it?

[2021-09-30 03:27] duwanqiebi opened #6832 "Cron Backfill example doesn't work"
I want to test this example https://raw.githubusercontent.com/argoproj/argo-workflows/master/examples/cron-backfill.yaml, , but unfortunately it doesn't work.

When I try to submit the CronWorkflow, I get this error :
`spec.arguments.date.value is required`

Here is the complete file,

[code]

I also read this issue: https://github.com/argoproj/argo-workflows/issues/3807 and add `entrypoint`:

[co

[2021-09-30 04:57] tczhao commented on #6832
Had a look, I think the example isn't exactly correct.
Can you try the following
[code]

[2021-09-30 05:32] duwanqiebi commented on #6832
@tczhao Thank you! It works.

So this example is wrong: https://raw.githubusercontent.com/argoproj/argo-workflows/master/examples/cron-backfill.yaml

[2021-09-30 06:19] book987 opened #6834 "Workflow succeeded with some node failed"
## Summary

A workflow succeeded, but actually there's some nodes failed.

Reproduce on v3.1.6, v3.1.13, v3.2.0-rc4

## Diagnostics

Currently all nodes organized like this. That's because we get TaskGroup's outbound nodes from their children, but A expand to nothing, it's an empty TaskGroup node, so it connects to TaskGroup B directly. So when C calls `connectDependencies`, it'll go through` A (T

[2021-09-30 15:32] wdma commented on #6829
@sarabala1979 Thank you for your attention. I have rebuilt my cluster and am testing as I go.  If I find the error is with Argo, I will add to this thread, but I am closing it for now as I am starting from scratch.

[2021-09-30 17:31] alexec opened #6837 "enable `bodyclose` lint, fix issues"
We should enable this linter and fix the issues it shows.

[2021-09-30 17:32] alexec opened #6838 "enable `rowserrcheck`, `sqlclosecheck` linters, fix issues"
Search code to fix location, then run `make lint`.

[2021-09-30 17:39] alexec opened #6840 "enable `exportloopref` linter, fix issues"

[2021-09-30 20:27] wdma commented on #6829
@sarabala1979 I have rebuilt the cluster and have made progress, but still do not understand the proper settings.  I am getting the following error:

[code]

here is the yaml:

[code]

everything else (configmaps and user roles) are the same as above.

QUESTION:
Are the security settings correct and if so, what else do I need to do?

[2021-09-30 20:28] strantalis commented on #6837
I can try to tackle this issue along with the other issues #6838 #6840 around enabling linters if you would like.

[2021-09-30 20:35] alexec commented on #6837
yes please

[2021-09-30 20:45] alexec opened #6841 "Pause steps so users can shell in and debug them"
# Summary

Users want their container to stop so the can shell in (e.g `kubectl exec -ti -c main -- /bin/bash`) and debug it.

# Use Cases

You can do this with container-set today, a work-around:

1. Container A sleeps forever.
2. Container B depends on container A.
3. You will be able to shell into container B.
4. When ready for container B to start, create the marker file in the /var/run/argo v

[2021-09-30 21:40] nakumgaurav commented on #6750
@alexec I tried using the master branch version but this is still a problem with latest k8s client versions.

[2021-10-01 01:51] #6832 closed

[2021-10-01 15:34] nvenkatapavan opened #6843 "failed to verify token: failed to verify signature: fetching keys oidc: failed to decode keys: got Content-Type = application/json, but could not unmarshal as JSON: square/go-jose: invalid JWK, x5t#S256 header has invalid encoding"
## Summary

What happened/what you expected to happen?
We have configured sso with Argo Workflows.  **v2.12.5** of Argo Workflows was working with out any issues. When we try deploy newer version of Argo Workflows ( v3.1.5 and v3.1.8  ), its giving below error. We tried upgrade / fresh install in both cases it's giving same error.

**Configuration from Pod**
  containers:
  - args:
    - server

[2021-10-01 16:09] alexec commented on #6823
I agree with this, but i don't know how we'd remove support without breaking users workflows.

[2021-10-01 16:11] #6820 closed

[2021-10-01 16:13] #6825 closed

[2021-10-01 16:22] andrew-arkhipov opened #6844 "When using input parameters, output string parameters have extra brackets around them"
## Summary

What happened/what you expected to happen?

Given a task that writes a string to some file and then returns that string as an output parameters, if non-hardcoded input parameters are provided to that task, the output parameter is returned as `"['example output']"` rather than `'example output'`. However, if we hardcode the input parameters (and subsequently delete the `withParam` field

[2021-10-01 16:50] helmus opened #6847 "Report prometheus metrics only on change events instead of every 10 seconds"
Report prometheus metrics only on change events instead of every 10 seconds

Reducing reporting frequency will greatly simplify how we can consume metrics in wavefront and will reduce cost significantly. For example, we can not use the rate function right now as duplicate datapoints result in 0 rate. ( this can potentially be filtered out, but it increases query complexity )

[2021-10-01 18:13] alexec commented on #6843
I've not seen this before. Could you book in 30m so we can debug?

https://bit.ly/book-30m-with-argo-team

[2021-10-01 22:02] #2843 closed

[2021-10-01 22:02] #4493 closed

[2021-10-01 22:13] alexec opened #6848 "We could use `net.Error.Temporary()` and `net.Error.Timeout()` in `IsTransientErr`"
## Summary

We want to factor in more types of errors that can be retried.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-10-01 22:14] alexec commented on #6848
@terrytangyuan thoughts?

[2021-10-01 23:32] #5439 closed

[2021-10-02 03:39] jfb74 opened #6849 "Nodes Not Being Redraw in UI when Workflow Retried After Exceeding activeDeadlineSeconds"
## Summary

What happened/what you expected to happen?
Might be that someone else submitted an issue on this but I can't seem to find it if so. I have a workflow with various nested steps which loops over using a `withItems` creating the actual execution steps each which have `activeDeadlineSeconds` limit on them. The issue comes from when the `runcollect` step runs the command and the pod runtime

[2021-10-02 03:58] terrytangyuan commented on #6848
We covered these already:
[code]

`Temporary()` and `Timeout()` are two methods implemented for those error types (`*net.DNSError, *net.OpError, net.UnknownNetworkError`):
[code]
However, I just noticed that we are retrying on all those network errors without checking whether they are temporary, e.g. via `err.(net.Error).Temporary()`. We should probably fix that.

[2021-10-02 12:49] strantalis commented on #6837
Did you want the additional linters in a separate pull requests?

[2021-10-02 16:52] alexec commented on #6837
please

[2021-10-02 16:52] alexec commented on #6848
👍

[2021-10-03 06:51] scravy commented on #6823
Are there any usages of govaluate other than `when:`? Maybe `when:` could be deprecated (without removal) and an `if:` could be introduced which uses antonmedv/expr. This way user workflows using `when:` with govaluate expressions should continue to work.

[2021-10-03 14:34] sudarshntn commented on #6843
I have scheduled a meeting for Monday 4th Oct 12:30 slot.

[2021-10-03 16:29] #6837 closed

[2021-10-03 16:54] #6838 closed

[2021-10-03 20:49] NikeNano commented on #3102
I would be happy to pick this up if no one is working on it?

[2021-10-03 20:56] #6792 closed

[2021-10-04 06:01] #6840 closed

[2021-10-04 08:26] zz2014 commented on #6204
Hi, we are also affected by this. Version v3.1.8
I see this issue is closed. Does this mean it is solved in v3.2?

[2021-10-04 15:39] astanway opened #6856 "Parse JSON structured logs in Argo UI"
# Summary

When using FluentBit / FluentD, logs are written to stdout/stderr in a structured JSON format. It is difficult to read these easily in the Argo UI

# Use Cases

When clicking through to the node `main` logs, it would be nice to see only the `message` component of a JSON structured log/

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues w

[2021-10-04 16:29] alexec commented on #6823
I think a new `if` is a great idea.

[2021-10-04 17:36] todaywasawesome opened #6857 "Argo Workflows does not report failure and sits in pending when failing due to RBAC."
## Summary

What happened/what you expected to happen?

Setting up a quick demo and started with the namespace example install of Argo WF https://raw.githubusercontent.com/argoproj/argo-workflows/master/manifests/quick-start-postgres.yaml

When submitting a template through the UI and specifying a new namespace an error was thrown. `Bad Request: the namespace of the provided object does not match

[2021-10-04 17:40] alexec commented on #6843
https://github.com/argoproj/argo-workflows/pull/6831

[2021-10-04 17:41] alexec commented on #6843
What we use for Github:

https://github.com/argoproj/argoproj-deployments

[2021-10-04 17:54] wdma commented on #6829
Solved!  I had assigned improper annotations to my pod, so it was calling on the wrong ConfigMap.  Apologies, my fault.

[2021-10-04 17:54] #6829 closed

[2021-10-04 17:56] #6759 closed

[2021-10-04 19:35] thalleslmF commented on #6857
can you assign me @todaywasawesome?

[2021-10-04 21:23] sarabala1979 commented on #6809
@zorulo 2.11.x+ is working as expected. Is my understanding correct?

[2021-10-04 21:26] sarabala1979 commented on #6431
@sylock yes. Please create enhancements issues for support artifacts for resource template type.

[2021-10-05 00:36] kennytrytek-wf commented on #6779
Hello, I've taken a closer look at this, and found that the workflow in the issue description is invalid. Arguments cannot have default values. For example, consider this workflow:
[code]
This workflow cannot be submitted:
[code]

However, this does bring up a good point that the parameter default values are not being used in the UI. If I change the above workflow to be a `WorkflowTemplate`:
[code

[2021-10-05 05:02] sarabala1979 commented on #6431
@sylock I spend a whole day fixing the serialize the JSON but I couldn’t get it right. Because template has Json inside json (wf object JSON) which replaced by parameters.  I kind of thinking instead of fix this edge case. I come with workaround. In meantime , we will implement artifact support for `resource` template.

I build custom docker image with `kubectl` sarabala1979/kubectl:latest

[code]

[2021-10-05 05:10] #5075 closed

[2021-10-05 05:28] #1217 closed

[2021-10-05 05:39] sarabala1979 commented on #6526
@ZhengJuCn It looks like your k8s API is taking a delay to send delete events for workflow. and missed the create event. That's why you are seeing this behavior. I tried my local with the above steps couldn't reproduce it.
try it with different clusters or in local.

[2021-10-05 05:50] tczhao commented on #4891
fixed in #5729

[2021-10-05 05:50] #4891 closed

[2021-10-05 06:06] sarabala1979 commented on #6536
@steve-marmalade thanks for the information. I am not able to reproduce the above error in my local environment with the master branch.  I tried almost 25 times.

[2021-10-05 06:09] sarabala1979 commented on #6557
@simster7 do you have time to take a look?

[2021-10-05 06:34] sarabala1979 commented on #6844
@andrew-arkhipov I tried with the latest version. I am not able to reproduce above issue
[code]
output:
[code]

[2021-10-05 08:51] yoichiwo7 opened #6859 "False deletion message when canceling workflow deletion in Argo UI"
## Summary

When you cancel workflow deletion in Argo UI, false popup message `"Performed 'DELETE' on selected workflows"` shows up.

Following steps can reproduce the bug:

1. Go to "Workflows" tab in Argo UI.
2. Select one or more workflows.
3. Click "DELETE" button and cancel it.
4. After canceling it, the target workflows aren't deleted as expected. However, green popup message `"Performed 'DE

[2021-10-05 12:26] nvenkatapavan commented on #6843
@alexec I tried deploying https://github.com/argoproj/argo-workflows/blob/master/manifests/install.yaml
modified argo-server deployment with below params to enable sso.

        - server
        - --configmap=workflow-controller-configmap
        - --auth-mode=sso
        - --secure=false
        image: quay.io/argoproj/argocli:latest
        name: argo-server
        ports:
        - containerPor

[2021-10-05 13:14] softwarebloat opened #6861 "support loading parameter values from configmaps not working"
## Summary

What happened/what you expected to happen?
I tried the new feature implemented by @terrytangyuan in #6662 using this example https://github.com/argoproj/argo-workflows/blob/master/examples/arguments-parameters-from-configmap.yaml but it doesn't work to me

What version of Argo Workflows are you running?
3.2.0-rc5

## Diagnostics

This is the configmap
[code]

What Kubernetes provider a

[2021-10-05 13:18] terrytangyuan commented on #6861
You are missing the labels in configmap: https://github.com/argoproj/argo-workflows/blob/master/examples/configmaps/simple-parameters-configmap.yaml#L7

It is required for the controller to pick up only the necessary configmaps.

[2021-10-05 13:31] andrew-arkhipov commented on #6844
@sarabala1979 You missed the entire point of the issue. If I do not include input parameters, or I simply hardcode those parameters in to be consumed by the offending template, there is no issue. However, when those parameters are dynamic, or passed in via the `withParam` keyword, that's when I get an error. Your example above (see `run-first`) does not contain any input parameters, so yes, it mak

[2021-10-05 13:35] andrew-arkhipov commented on #6844
Could we also remove the `not-reproducible` label please? This is a blocker within my organization, and having that `not-reproducible` label (which isn't true yet, since you didn't actually run my example) will reduce the number of eyes on this issue. Thanks again.

[2021-10-05 13:52] softwarebloat commented on #6861
Thanks for the quick answer. I fixed the configmap but nothing changed. Same error :disappointed:

[2021-10-05 13:57] terrytangyuan commented on #6861
Could you paste your controller pod's log?

[2021-10-05 13:58] terrytangyuan commented on #6861
Also seems like your ConfigMap is in `namespace: my-namespace` but your workflow is in `namespace=data`?

[2021-10-05 14:18] softwarebloat commented on #6861
yes sorry, `data` is the right one (i put my-namespace before manually)

here's the controller log before,during and after i run the workflow

[code]

don't know what's that `artifact-repositories` configmap is :man_shrugging:

[2021-10-05 14:22] terrytangyuan commented on #6861
`artifact-repositories` in unrelated and can be ignored.

The log seems truncated. Could you make sure you re-install to a clean namespace and create/use your configmap in that namespace and then paste your log again?

[2021-10-05 14:31] alexec commented on #6843
Ok, so still a problem with latest. Did you try installing Dex?

[2021-10-05 14:33] sylock opened #6862 "Implement get resource manifest output as an artifact"
# Summary
Currently when you try to get a manifest, you can only output it as a variable. When you can a complex data structure, it would be more easy to output it as an artifact.

This is what you can do:
[code]

This is what you should be able to do:
[code]

# Use Cases

See the related use case : https://github.com/argoproj/argo-workflows/issues/6431

---

**Message from the maintainers**:

Imp

[2021-10-05 14:37] terrytangyuan commented on #6862
Have you tried using `kubectl get` in script template and cat the output to an artifact instead?

[2021-10-05 14:41] sylock commented on #6862
That's the workaround mentioned by @sarabala1979 in the issue #6431 - I still need to test. But I opened this ticket on the request of @sarabala1979 who would like to implement this feature.

[2021-10-05 14:52] kennytrytek commented on #6779
PR merged: https://github.com/argoproj/argo-workflows/pull/6858

[2021-10-05 14:52] alexec commented on #6859
I think this probably happens for all of these, the bug is probably here:

https://github.com/argoproj/argo-workflows/blob/master/ui/src/app/workflows/components/workflows-toolbar/workflows-toolbar.tsx#L55

If that method exit due to cancel, the `.then()` is still executed on this line:

https://github.com/argoproj/argo-workflows/blob/master/ui/src/app/workflows/components/workflows-toolbar/workfl

[2021-10-05 14:56] #6779 closed

[2021-10-05 14:57] mcgridlesbg commented on #6204
I also am curious about this. The expected behavior when submitting with an empty parameter would be the parameter having a value of empty (`""`, `NULL`, `None`, etc.), not the literal value `undefined`.

[2021-10-05 14:59] alexec commented on #6204
It is not clear why this was closed to me. Could you test in `latest` and see if it is fixed? If not, we should re-open this issue.

[2021-10-05 15:02] mcgridlesbg commented on #6204
@alexec is there a way to do this easily? I'm using argo in my company's cluster so I don't have the ability to change the version we're using.

[2021-10-05 15:06] softwarebloat commented on #6861
sorry, here you have

[code]

[2021-10-05 15:16] simster7 commented on #6557
Forgot about this, will add it to my list

[2021-10-05 15:18] NikeNano commented on #6841
I am working on a PR for this, will create a draft later tonight.

[2021-10-05 15:23] alexec commented on #6841
@NikeNano do you have any thoughts on how this should work? I think the uses would want to control this and be able to turn it on and off temporary for a single step.

What about a special env var which you can set, and the emissary recognises? If it sees it (on init), it creates a marker file under `/var/run/argo/pause` and the main container then will not start until the file is deleted?

[2021-10-05 15:30] sylock commented on #6431
That said, I would not call this scenario an edge case. It's introspection and I think it is a nice feature that would be nice to support. I have an idea without knowing its feasibility: in the serialization and deserialization, maybe passing all values encoded in BASE64 would fix the issue. And I think that's why it's also used often on the web. To prevent this kind of quirky escaping.

[2021-10-05 15:42] tim-sendible opened #6863 "sprig truncate doesn't work with workflow.name. Negative truncate doesn't work at all."
## Summary

What happened/what you expected to happen?
See the example workflow attached. Issues are:

- Sprig truncate with a negative number doesn't work.

- Sprig truncating workflow.name doesn't work.

What version of Argo Workflows are you running?
3.1.13

## Diagnostics

Either a workflow that reproduces the bug, or paste you whole workflow YAML, including status, something like:

[code]

Wh

[2021-10-05 16:26] rwong2888 opened #6864 "Disable default workflow archival from within a particular workflow"
Similar to https://github.com/argoproj/argo-workflows/issues/6663 I would like to see an option to disable default workflow persistent archival.

[2021-10-05 17:21] sampierson opened #6865 "Cannot view logs in UI for multi-template workflows"
## Summary

When attempting to view the log for a workflow with multiple templates, you are presented with a blank log.

### What happened/what you expected to happen?

If I run the "Quick Start" workflow at [https://raw.githubusercontent.com/argoproj/argo-workflows/master/examples/hello-world.yaml](https://raw.githubusercontent.com/argoproj/argo-workflows/master/examples/hello-world.yaml), I can

[2021-10-05 17:26] #6727 closed

[2021-10-05 17:26] #6263 closed

[2021-10-05 17:26] #6579 closed

[2021-10-05 17:26] #6752 closed

[2021-10-05 17:28] sarabala1979 opened #6866 "Update Upgrading document for 3.2"
# Summary

What change needs making?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-10-05 17:45] alexec opened #6867 "Workflow notifications, e.g. Slack/Email when workflow finishes"
Integrate the notification library that @alexmt developed so that we can notify users about the state of their workflow.

[2021-10-05 17:48] jessesuen commented on #6867
Reference:
* https://github.com/argoproj/notifications-engine

This is the PR to rollouts to support annotation based notifications:
* https://github.com/argoproj/argo-rollouts/pull/1175

[2021-10-05 17:54] alexec commented on #6674
Could we use expression template? E.g. `{{=base64(inputs.parameters.body}}`

[2021-10-05 17:56] mcgridlesbg commented on #2305
I'm also having issues with defaults, only the `value` parameter is passed to the workflow if no additional value is provided, `default` does nothing. I'm using `v2.12.1`.

[2021-10-05 18:06] alexec commented on #6867
Sidenote: I wonder if we could build this as a plugin :)

[2021-10-05 18:06] alexec commented on #2305
v2.12 is out of support I'm afraid. Please upgrade to v3.1

[2021-10-05 18:39] NikeNano commented on #6841
I have create a draft [here](https://github.com/argoproj/argo-workflows/pull/6868) @alexec. I have to admit I might need to read up further on the emissary controller.

How would it work with an 'env' variable in relation to which step to paus? I think it would make more sens to rely on annotations or some filed on the workflow for this(as you mention in the issue description).

[2021-10-05 18:46] alexec commented on #6841
I'll only want to pause some workflows, so I can't change a `WorkflowTemplate`, I must change the workflow.

Do you think we might need a selector perhaps?

[code]

I don't think we should use annotation to signal that the emissary should pause before starting, as it is hard for process to read annotation. Better to use env var set by controller.

The controller should log when it adds the pause m

[2021-10-05 19:53] ryanande commented on #6750
I too am seeing the exact same error, any luck on identifying root cause or better context on what is happening @alexec ?

[2021-10-05 20:01] alexec commented on #6750
please can you compare your go.mod file and list differences

[2021-10-05 20:47] NikeNano commented on #6841
I see your point, and defiantly agree.

Sound good to use a selector. But what is the need for env var if we use the selector?

Agree.

ok, then I guess it will not matter. However I could see use cases where it would be nice to see if a potential fix done in the container made it work(but this is limited to relativly few use cases I guess).

[2021-10-05 20:54] alexec commented on #6841
Workflow pod do not have access to workflow spec. So the workflow controller must tell them they should go into debug pause.

I don't think it would be hard to support this use case, so perhaps we should.

Refined spec:

[code]

@jessesuen - any input?

[2021-10-05 21:00] alexec commented on #6809
I spend 10m looking at the code and I did not see any likely culprits.

Can you please check to see what configuration the controller is logging on start-up and that it matches what you expect?

[2021-10-05 21:38] zorulo commented on #6809
@sarabala1979 Apologies, missed this, yes it seems fine on 2.11.x versions.

@alexec For further context we are using flux2 with kustomize to deploy/setup our clusters, including automatic deployment of argo workflows. We use the `install.yaml` downloaded from the argo github.

Sorry for truncated logs, trying to retain anonymity, but running `kubectl logs -n argo <workflow-controller-pod>` reveal

[2021-10-05 22:00] alexec commented on #6809
Could you share the raw config map?

[2021-10-05 22:15] alexec commented on #6865
The bug is here:

https://github.com/argoproj/argo-workflows/blob/master/ui/src/app/workflows/components/workflow-logs-viewer/workflow-logs-viewer.tsx#L26

It assumes that the pod's name is the same as the node ID, but this is no longer true in v3.2. I think we need to replicate this. logic:

https://github.com/argoproj/argo-workflows/blob/e5b131a333afac0ed3444b70e2fe846b86dc63e1/workflow/util/pod

[2021-10-05 22:45] alexec commented on #6750
try removing everything but argo-workflows, then run `go mod download`

[2021-10-05 22:48] JPZ13 commented on #6865
@sampierson happy to help or take on the issue once I get back from my trip tomorrow. Let me know!

[2021-10-05 22:48] apiwoni commented on #3212
@erhhung @terrytangyuan This issue has been resolved for `spec.templates[].inputs.parameters` but `spec.arguments.parameters` does not work with `valueFrom.configMapKeyRef`.  The links above show examples. for `spec.templates[].inputs.parameters` which work.

This is not working:

[code]

[code]

[2021-10-05 23:46] terrytangyuan commented on #3212
@apiwoni Could you submit a separate bug report with reproducible example and other necessary information like controller logs?

[2021-10-05 23:54] apiwoni commented on #3212
@terrytangyuan I think this may not be an issue because it works when I declare `args: ["{{workflow.parameters.message}}"]` and remove `spec.templates[].inputs.parameters` as in this example with variable in global scope:
https://github.com/argoproj/argo-workflows/blob/v3.2.0-rc5/examples/global-parameters-from-configmap.yaml

Let me verify that `valueFrom` works in `arguments.paramaters` in https

[2021-10-06 00:29] nakumgaurav commented on #6750
Now that I think about it, even using argo-wf v0.3.12 and following the process above would have worked, except that it would use k8s client v0.19.6 :)

[2021-10-06 00:53] apiwoni opened #6869 "arguments.parameters.value can be referenced as local variable but arguments.parameters.valueFrom.configMapKeyRef can be referenced only as global variable"
## Summary

`arguments.parameters.value` can be referenced as a local variable using {{input.parameters.param-name}} but `arguments.parameters.valueFrom.configMapKeyRef` can be referenced only as global variable {{workflow.parameters.param-name}}. This is inconsistent behavior!

Issue [#3212](https://github.com/argoproj/argo-workflows/issues/3212) was fixed by allowing `valueFrom.configMapKeyRef`

[2021-10-06 00:58] jessesuen commented on #6841
Some thoughts: ephemeral containers were designed for debugging live pods. The advantage of using ephemeral containers is that you don't need to bundle in all your anticipated debugging tools (curl, kubectl, etc...) ahead of time. However, they were meant to troubleshoot long-lived deployments. Luckily, we could instrument argoexec to decide to run indefinitely when a "debug/pause" is requested.

[2021-10-06 06:35] sarabala1979 commented on #6863
Workflow is using sprig v2.22.0 which doesn't support the negative trunc
https://github.com/Masterminds/sprig/blob/e4c0945838d570720d876a6ad9b4568ed32317b4/strings.go#L189-L194

[2021-10-06 06:36] sarabala1979 commented on #6863
@wanghong230 Do you like to submit the PR. for upgrading Sprig latest version?

[2021-10-06 06:37] tim-sendible commented on #6863
Cheers folks. What about the `{{workflows.name}}` oddness?

[2021-10-06 06:40] wanghong230 commented on #6863
@sarabala1979 Do you recommend https://github.com/Masterminds/sprig/releases/tag/v3.2.0?

[2021-10-06 06:43] tim-sendible commented on #6863
@wanghong230 3.2.2 contains a security fix FYI.

[2021-10-06 06:44] sarabala1979 commented on #6863
I recommend go with latest release https://github.com/Masterminds/sprig/releases/tag/v3.2.2  this same as 3.2.0 with an upgraded goutil version.

[2021-10-06 06:48] tczhao opened #6873 "Change default executor from docker to k8sapi"
Since k8s is deprecating docker runtime, maybe we should default the executor to k8sapi
https://kubernetes.io/blog/2020/12/02/dont-panic-kubernetes-and-docker/

E.g. when a user is testing argo in latest stable gke, the default configuration won't work due to docker executor

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-10-06 08:07] #6448 closed

[2021-10-06 08:07] #6216 closed

[2021-10-06 09:58] terrytangyuan commented on #6873
Duplicate of https://github.com/argoproj/argo-workflows/issues/6785

[2021-10-06 10:07] tczhao commented on #6873
Thanks, I could've done a better search

[2021-10-06 10:07] #6873 closed

[2021-10-06 14:00] alexglatt opened #6874 "Workflow executes steps twice with different labels"
## Summary

I want to submit an Argo Workflow with multiple steps. Each step needs the same podMetadata label.
However, all the steps defined in the yaml File are executed twice when I choose parallel execution.
Even more confusing is that only the "duplicate" of each step has the defined label.
When I choose sequential execution, only the very first step is executed twice, all following steps are

[2021-10-06 15:53] alexec opened #6875 "Add Katib to ecosystem diagram"
Easy for anyone to do.

[2021-10-06 15:57] alexec commented on #6865
I have assigned to you. @sarabala1979 this will be critical issue for most users, so we should look to get into v3.2.0 GA.

[2021-10-06 16:04] alexec commented on #6844
@andrew-arkhipov I also found this issue hard to understand. It would be super helpful to have minimal reproducible examples (there's clearly plenty of irrelevant fields in the one you've supplied), specifically stating what the result should be and what it was. Thank you.

[2021-10-06 16:04] alexec commented on #6849
What happens if you refresh the page?

[2021-10-06 16:45] #6536 closed

[2021-10-06 16:54] wanghong230 commented on #6863
@sarabala1979 Do you have the answer for this problem?

[2021-10-06 17:09] alexec commented on #6809
Ah. I think I know what the issue is. You're only specific requests, not limits. I can see in the code you if don't specify limits, then it ignores both it completely :(

https://github.com/argoproj/argo-workflows/blob/26cbbada15ff9ccdb82a6a2bddfb490baef884d7/workflow/controller/workflowpod.go#L703

Would you like to submit the fix? It should be really easy.

[2021-10-06 17:22] zorulo commented on #6809
@alexec aha! Yes, can confirm that adding `limits` to our configmap has the resource requests showing up now:

[code]

We definitely don't want to impose limits though; we work with extremely large and unpredictable datasets, which is why we have generous resource requests to begin with.

To be honest I'm not totally sure what submitting a fix entails, so would prefer someone on your side doing it

[2021-10-06 17:26] tim-sendible commented on #6863
@alexec this isn't closed. Still waiting for information on the main bit, workflow.name

[2021-10-06 18:16] zorulo commented on #6809
@alexec ah okay I'll take a look and give it a shot then, thanks!

[2021-10-06 19:05] wanghong230 commented on #6863
Here is my current understanding.

workflow.parameters.nameyThing at print-failed-message is got replaced to be {{workflow.name}}.

In the workflow, spec -> arguments -> parameters, the {{workflow.name}} is being treated as simple string, it won't be replaced with the true workflow name.

Next is to check the code to reason about the logic.

[code]

[2021-10-06 19:50] #6875 closed

[2021-10-06 21:20] apiwoni opened #6880 "templateDefaults has inconsistent behavior and does not allow command line parameter overwrite"
## Summary

What happened/what you expected to happen?
I have declared `templateDefaults.inputs.parameters.value|valueFrom.configMapKeyRef` in workflow template referenced by `templates` via workflow steps and the following issues are observed:
- `templates.[name].inputs.parameters.[name]` is not enough and requires `value` or `default` etc. `value` and `default` are not required in other cases
-

[2021-10-06 23:22] #5495 closed

[2021-10-07 02:44] terrytangyuan commented on #6869
Thanks, I was able to reproduce.

It seems like this case is not supported yet: local parameters defined in `spec.arguments.parameters` using `configMapKeyRef` cannot be referenced by `{{inputs.parameters.xxx}}` in templates.

In other words, the following should work but it doesn't:
[code]

I can look into this when I get a chance but in the meantime would you or anyone else watching this issue l

[2021-10-07 05:03] NikeNano commented on #6841
Got stuck with work so will first have time to look at this during whe weekend, thanks for the feedback.

[2021-10-07 09:43] thatGreekGuy96 opened #6884 "Cannot get cache working in argo workflows example"
Before we start, around 2/3 of issues can be fixed by one of the following:

* Have you double-checked your configuration? Maybe 30% of issues are wrong configuration.
I think config is correct. The example is taken straight from argo docs.
* Have you tested to see if it is fixed in the latest version? Maybe 20% of issues are fixed by this.
Yup, I'm on version 3.1.8
* Have you tried using the PNS

[2021-10-07 09:49] tczhao commented on #1326
Argo already has this feature since version ~2.7+

[2021-10-07 12:58] manterfield commented on #6674
@alexec

I tried with an expression template and couldn't get that to work either, since it didn't seem to evaluate the expression before trying to parse it as base64 (or after for that matter, I seem to remember trying to base64 encode a template and it just being passed as the string literal)

[2021-10-07 14:42] #6674 closed

[2021-10-07 14:53] alexec opened #6886 "more helpful error than `unknown (watch pods)` when workflow role is set-up incorrectly"
Time and time again, I find myself telling users this is actually a permission issue. It is usually accompanied by `Watch pods 403'. We could easily improve this experience by printing a link to [the FAQ](https://github.com/argoproj/argo-workflows/blob/master/docs/faq.md), and then making sure the FAQ has some helpful text.

[2021-10-07 18:42] manterfield commented on #6674
Ah great! I saw it marked as done but couldn't see it in the change log or spot any likely PRs including it. I'll try it this evening and report back.

[2021-10-07 19:26] alexec opened #6888 "support binary HTTP template bodies"
Today, v3.2, HTTP template allows you to specify a body as a string. This is useful for `{{..}}` templating, but does not support all potential uses cases. It maybe necessary to support `[]byte` too. This could probably be done like this:

[code]

This would allows us to extend this, e.g. to get the body from a config map or secret:

[code]

Impacted by this bug? Give it a 👍. We prioritise the iss

[2021-10-07 20:01] alexec opened #6889 "Update README to show massive workflow"
Look how big you can go:

![big-wf-3](https://user-images.githubusercontent.com/1142830/136454022-ad755a68-24bb-4f77-97f2-4132293e8d78.png)

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-10-07 20:02] #4973 closed

[2021-10-07 20:15] #6809 closed

[2021-10-07 20:58] #6880 closed

[2021-10-07 21:02] alexec opened #6890 "Low Friction Contribution"
Make it easy to contribute.

* [x] #6892
* [x] #6519

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-10-07 21:18] apiwoni commented on #6880
@sarabala1979 #6887 This fix does not fix 1, 3 and 4. It fixes 2 where `templateDefaults.inputs.parameters.value` does not overwrite `templates.[name].inputs.parameters.[name].value|default` unless I'm missing something in the commit.

[2021-10-07 22:39] tczhao opened #6891 "adding hacktoberfest topic"
# Summary

Like argo-cd, I think we can add a "hacktoberfest" topic so it aligns with this years hacktoberfest repository participation rules and welcomes people to contribute

![image](https://user-images.githubusercontent.com/20961507/136471688-dcdae83a-c9a1-42ec-878a-4e8b0079283a.png)

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the m

[2021-10-07 22:59] alexec opened #6892 "tech debug: migrate tooling to take advantage of Go 1.16"
A lot of our build is designed to deal with shortcomings of Go 1.15 which are fixed in Go 1.16:

* [ ] Install tools using `go install` instead of `go get` to pin the versions:

[code]

* [ ] Get rid of `tools.go`.
* [ ] Replace `staticfiles` with Golang 1.16 built-in feature.

This is the first step to Dockerize tooling as per  #6519 and #6618.

---

**Message from the maintainers**:

Impacted by

[2021-10-08 02:30] momom-i commented on #6886
Hello, I'm interested in argo and I'd like to understand how to work, doing some task. Can I do this task?

[2021-10-08 03:08] terrytangyuan commented on #6861
Unfortunately, I still cannot reproduce the issue with the latest versions, e.g. `v3.2.0-rc6`.

[code]

[2021-10-08 09:44] #6861 closed

[2021-10-08 10:56] daniel-winter commented on #6666
Yes, we would also prefer to see this feature in action. I also have the same use case where it would be cool to have independent resuming of suspension nodes.

[2021-10-08 11:38] paolocarta opened #6895 "Improve security posture by running `wait` container as non-root"
# Summary
I am using a security context for Workflows using the pns executor. Below an example of the sec context:
`  securityContext:
      runAsNonRoot: true
      runAsUser: 1001
      fsGroup: 999`

Using this context the argoproj/argoexec:v3.1.3 cannot run. Apparently it requires root privileges. Below a YAML snippet from the Pod's status:
`    - image: argoproj/argoexec:v3.1.3
      name: wa

[2021-10-08 11:49] MichielDeMey opened #6896 "Workflow template onExit handler not triggered from a Cron workflow"
## Summary

When defining a `onExit` handler on a `WorkflowTemplate`, the exit handler should be triggered when spawning the workflow from a Cron workflow.

Currently, the exit handler seems to be ignored as the exit container is not spawned.

Running Argo Workflow v3.1.13.

## Diagnostics

Cron workflow spawning a workflow template:

[code]

Workflow template with an `onExit` handler:

[code]

**

[2021-10-08 14:44] #5763 closed

[2021-10-08 15:39] micahbeeman-wf commented on #6458
@alexec @tczhao This issue was for `TestGetPodByNode` but was closed for a fix to `TestPodExists`. `TestGetPodByNode` is still skipped so this should be reopened.

[2021-10-08 16:14] alexec commented on #6519
No one complaints too much about installing the tooling. I'm not sure putting it in Docker would be a good cost/benefit decisinios.

[2021-10-08 23:20] #6666 closed

[2021-10-09 01:58] bobh66 commented on #6643
So reverting the change is a one-liner, but adding the test is a lot harder for a non-golang programmer.

I came up with this by looking at the other tests in executor_test.go:

[code]

[2021-10-09 03:05] smile-luobin commented on #6869
I am trying to fix this bug.

[2021-10-09 10:37] NikeNano commented on #6841
To debug before main process is started we need to add a sleep before the main process starts. This should be possible for the `emissary executor` (adding a sleep command based upon an env variable which we can set on the `container`). It is not clear how we would do this for the other executors since it would require do add a cmd to sleep before the main command is run, or how is `argoexec` used

[2021-10-09 19:05] pevers opened #6900 "Data transformations example errors with 'template artifact location not set'"
## Summary
The data transformation example seems to be broken: https://github.com/argoproj/argo-workflows/blob/master/examples/data-transformations.yaml . It errors with:

[code]

I believe an output artifact is required. I can open a PR to fix this.

**What happened/what you expected to happen?**

The example to list items from S3 and process them without crashing.

**What version of Argo Workflo

[2021-10-09 20:57] sarabala1979 commented on #6896
@MichielDeMey if you are referring only `template` from workflowtemplate using `templateRef`. You can only refer `template` scope elements. you can refer `spec` level elements.

[2021-10-09 21:30] alexec opened #6902 "Faster, cheaper and more robust workflow with Emissary v2"
The Emissary is a bit like I'm calling the "commandlet pattern". We don't need the wait container with the Emissary. It is in-process, it can do everything wait can do easier.

Basically, the Emissary loads and save artifacts, not the init or wait container. No need to do complex volume mounting, or copying files around. Cheaper and faster.

Pros:

Generally, we benefit of being tightly coupled wi

[2021-10-10 05:34] jfb74 commented on #6849
@alexec The status of the workflow shows as "Failed" and seems to update appropriately once to "running" once I Retry the workflow. Interestingly though, the Message for why it failed says something like `child 'my-workflow-sbf5w-2635620201' failed` in which the "my-workflow-sbf5w" matches the workflow identifier but there is no child I see with the unique identifier of "2635620201". I have to dig

[2021-10-10 14:26] wdma commented on #6643
@bobh66  I think this one may work.

[code]

[2021-10-10 23:32] tczhao commented on #6891
Hi @alexec, Is "adding a `hacktoberfest` topic" something we can do?

[2021-10-11 07:32] roy-ht opened #6906 "difference behavior of `{{= workflow.creationTimestamp }}` and `{{ workflow.creationTimestamp }}`"
## Summary

### What happened/what you expected to happen?

`{{= workflow.creationTimesamp }}` should be rfc3339 string, but outputs a map representation like:

[code]

#### some investigations

In [Template.Replace](https://github.com/argoproj/argo-workflows/blob/2a2ecc916925642fd8cb1efd026588e6828f82e1/util/template/template.go#L33),

I guess `simpleReplace` searches flattened `replaceMap` and g

[2021-10-11 14:38] alexec opened #6908 "Automatically set-up user's workflow RBAC for them"
# Summary

Despite adding a lot of docs, many new users struggle with RBAC. RBAC is hard. Why don't we just have the controller set it up automatically?

# Use Cases

To make it much easier to use.

Relates to #6886

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-10-11 15:00] #6896 closed, assigned to nobody

[2021-10-12 00:39] nomeaning777 opened #6909 "Cannot refer to some parameters from expression template"
## Summary

What happened/what you expected to happen?

If `PARAMETER-NAME` is a prefix of another parameter, `{{=inputs.parameters.PARAMETER-NAME}}` will fail to resolve.
This is probably due to `Expand` function in util/expand/expand.go.

What version is it broken in?
v3.1.13

What version was it working in?
v3.1.12

## Diagnostics

[code]

Workflow stdout of v3.1.13
[code]

Workflow stdout of v

[2021-10-12 01:02] kennytrytek commented on #6044
As I started looking through the code, [this comment](https://github.com/argoproj/argo-workflows/blob/v3.2.0-rc6/workflow/validate/validate.go#L153-L154) appears to indicate that this lint behavior is a regression.

[2021-10-12 02:10] roy-ht commented on #6906
@alexec Thanks for quick reply!

First, Option 2 seems to be good for me, but I'm not sure which is the best option for the future of Argo WF.

I prefer option 1 and add some utility function to manipulate a date (like `strftime`, `date_add`, ....), but it has a cost to existing users and need some extra implementation.