[2022-10-17 09:26] linkingli opened #9849 "add workflow labels to metrics?"
# Summary

 add workflow labels to the metric?

# Use Cases

When I have two workflowTemplates (A,B), I want to know the overall situation of workflow of A and B respectively. The current metric does not support me to do this. Since there is no label for workflow.

NOW:
[code]

BETTER:
[code]

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the pr

[2022-10-17 10:09] isubasinghe opened #9850 "Package `distribution` is broken on v2.8.0 due to an incorrect sub-dependecy checksum. Migrate to v2.8.1"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Due to an issue with a sub dependency, the make command currently fails

[2022-10-17 10:25] athityakumar commented on #9656
Awesome. Can I work on the patch for this as part of Hacktoberfest, if no one is already working on it?

[2022-10-17 13:59] terrytangyuan commented on #9848
Duplicate https://github.com/argoproj/argo-workflows/issues/9849

[2022-10-17 13:59] #9848 closed

[2022-10-17 14:39] eddie-knight commented on #9769
The `Token-Permissions` check is actively being refined right now, so we shouldn't put too much thought into that until this issue closes: https://github.com/ossf/scorecard/issues/2338

[2022-10-17 14:50] pergeri commented on #4804
Any smart person managed to fix this with azure frontdoor? Having the same issue with multiple versions but guessing its because of something like the nginx-proxy.

[2022-10-17 15:11] ibotdotout commented on #9843
I can't reproduce this one on v3.4.1 and latest on master branch.

I tested with https://github.com/argoproj/argo-workflows/blob/master/examples/continue-on-fail.yaml

Could you help to provide example workflow that able to reproduces the issue ?

[2022-10-17 15:38] sertansenturk-deliveroo opened #9852 "A step that depends on an omitted step is invisible in the DAG"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

In this simple workflow, there are three sequential steps:

- The first

[2022-10-17 16:24] #8632 closed

[2022-10-17 16:57] #8507 closed

[2022-10-17 16:57] #8506 closed

[2022-10-17 17:21] sarabala1979 commented on #9802
@vitalyrychkov can you provide more details like failed PodSpec and your env setup? Is there a way to reproduce locally?

[2022-10-17 17:27] sarabala1979 commented on #9804
@ppapasani1 it looks like your k8s is taking  (6m) time to pull the image and starting.  Are you specify resource limit on your steps? If the cluster/node doesn't have the resources (CPU and Memory) to run the container, the container will wait for CPU cycle to start.

[2022-10-17 17:29] sarabala1979 commented on #9812
@OmarKalloush can you provide the version which was working this?

[2022-10-17 17:34] OmarKalloush commented on #9812
I have another environment with v3.3.9 it's working there

[2022-10-17 17:34] sarabala1979 commented on #9814
I think it is an enhancement.  can you make sure Argoserver is ready?

[2022-10-17 17:41] sarabala1979 commented on #9839
@pockyhe can you try on v3.3 or v3.4?

[2022-10-17 17:44] sarabala1979 commented on #9843
@tooptoop4  can you provide the reproducible workflow?

[2022-10-17 17:46] sarabala1979 commented on #9845
@SatabrataPaul-GitAc can you try on v3.4?

[2022-10-17 17:56] ibotdotout commented on #9817
I can reproduce it with [examples/dag-inline-workflow.yaml
](https://github.com/argoproj/argo-workflows/blob/master/examples/dag-inline-workflow.yaml) in K3D setup.

Fixed: https://github.com/argoproj/argo-workflows/pull/9853

[2022-10-17 18:17] sergiynesterenko90 commented on #9817
@ibotdotout thanks so much for the quick fix, your screen captures are exactly what I saw. Appreciate the fast response!

One request: could you double check that the artifacts generated in inline workflows are also fixed? I observed that both the logs, and the artifact files suffered from the issue (see the custom workflow in the description). Hopefully the same fix applied to both issues.

[2022-10-17 18:27] ppapasani1 commented on #9804
Hi @sarabala1979, The docker image is available on the node, the events from the pod say `image already present on machine` https://github.com/argoproj/argo-workflows/issues/9804#issuecomment-1276923478

[2022-10-17 18:28] ppapasani1 commented on #9804
Looks like it is for all the containers. It struck for 6min.
Unfortunately, I'm not able to replicate this issue with any of the examples.

[2022-10-17 18:43] ibotdotout commented on #9817
Thanks for pointing out, I missed this case. Checked and updated the fixed in PR https://github.com/argoproj/argo-workflows/pull/9853.

[2022-10-17 20:38] #9850 closed

[2022-10-17 20:40] terrytangyuan commented on #9832
Feel free to start working on that issue and let us know if you have any questions.

[2022-10-18 01:19] uday-mandava opened #9854 "Mutex issue on Argo workflows making workflow live forever"
### Pre-requisites

- [X] I have double-checked my configuration
- [ ] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

![image](https://user-images.githubusercontent.com/98283868/196312234-0

[2022-10-18 03:20] terrytangyuan commented on #9854
Please try the newest version. There have been some related fixes.

[2022-10-18 03:59] zychina commented on #9814
yes, Argo Server is ready.
I can do "curl https://localhost:2746/api/v1/workflows/default" successfully, when running "kubectl -n argo port-forward service/argo-server 2746:2746".

[2022-10-18 04:37] #9797 closed

[2022-10-18 04:37] #9669 closed

[2022-10-18 04:37] #9841 closed

[2022-10-18 04:37] #7920 closed

[2022-10-18 04:38] #9817 closed

[2022-10-18 05:47] SatabrataPaul-GitAc commented on #9845
Hi @sarabala1979
I tested it on version 3.4.0 as well , the same issue persists

[2022-10-18 08:00] nipuntalukdar commented on #9238
The issue can be easily be reproduced by making one step run for longer than the scheduling frequencies. Something like the below CronWorkflow. The step  step-fetch-hello-hey completes in 800 seconds. But the the workflow is scheduled every 120 seconds and we see the issue (at least with concurrencyPolicy: "Replace")

apiVersion: argoproj.io/v1alpha1
kind: CronWorkflow
metadata:
  name: testdag
sp

[2022-10-18 08:22] pockyhe commented on #9839
It seems Ok after updating v3.4.1. Thanks!

[2022-10-18 10:04] DocX commented on #4014
Yes, we also resorted to just use `mc` CLI client. It means changing the docker image we use and adding bash script that runs it. It is much faster, since the `mc` CLI uses parallelisation.

For reference, this is script we did:

[code]

[2022-10-18 12:08] boniek83 opened #9855 "Finalizer for kubernetes resources created by a workflow"
# Summary

I want to make sure that kubernetes resource created by a workflow is deleted when workflow fails or is deleted. Currently using onExit doesn't guarantee that. I can run kubectl delete workflow <workflow-name> - it will skip onExit, I can run argo terminate (or press terminate in UI) - it will skip onExit. What happens if argo itself stops working?

Probably related to https://github.co

[2022-10-18 12:47] zxpower commented on #7586
We're facing this issue when using exit handlers and passing `workflow.failures` as command line argument to script. In case of workflow with multiple failures when this variable becomes large we're getting error.

[2022-10-18 12:51] terrytangyuan commented on #9855
Use resource template and specify ownerReference.

[2022-10-18 13:17] terrytangyuan commented on #9522
This is happening again: https://github.com/argoproj/argo-workflows/actions/runs/3270632353/jobs/5379483358

[2022-10-18 13:36] DocX commented on #4014
@alexec I've put together simple PR, would you be able to review it?

[2022-10-18 13:54] alexec commented on #8953
We can’t run this test locally, or on CI. The only place it can be run is my laptop. Let’s skip this test for everyone.

[2022-10-18 14:01] alexec commented on #9522
Maybe we can fix like this:

https://squidfunk.github.io/mkdocs-material/publishing-your-site/

[2022-10-18 18:55] sergiynesterenko90 opened #9858 "Argo UI - Cannot View Artifact in Archived Workflows"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

### What happened?
I ran a simple workflow that created a text file art

[2022-10-18 19:12] aditya-shrivastava commented on #9281
Hi @alexec, I have made the following changes:
![bug-fIx](https://user-images.githubusercontent.com/39914834/196519205-b87effa7-a3cc-432b-bb9c-0468f2aa055d.png)

After this I ran the command `make cli` and was able to submit an example workflow to get the expected P/R/C results.
![submit-workflow](https://user-images.githubusercontent.com/39914834/196520058-655df862-813d-4026-b310-de3eaf755512.png

[2022-10-18 19:27] aditya-shrivastava commented on #9832
Hi @terrytangyuan, I have made some changes and the bug seems to be fixed. I have added a comment in the issue #9281 with snapshots of the same. Can I get some feedback on it? :smile:

[2022-10-18 20:05] terrytangyuan commented on #9522
@sarabala1979 will look into this

[2022-10-18 20:43] uday-mandava commented on #9854
Okay, will do that. Thank you!

[2022-10-18 20:52] sarabala1979 commented on #9854
@uday-mandava are you using v3.0.9? 1time="2022-10-12T22:43:00.807Z" level=warning msg="Workflow processing has been postponed due to concurrency limit" namespace=* workflow=*` is expected behavior if lock is acquired by some other workflow.

Can you share the metadata of both workflows?

[2022-10-18 21:20] terrytangyuan commented on #9832
Could you send a PR, and the team will review it?

[2022-10-18 22:35] ppapasani1 commented on #9804
The hanging behavior is observed only on one node, looks like the problem is with that node on the cluster. Not an issue with Argo. Closing this issue.

[2022-10-18 22:35] #9804 closed

[2022-10-19 01:05] #8320 closed

[2022-10-19 05:48] milank78git opened #9860 "jqFilter - no such file or directory"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I have a simple script where I want to print the output using jqFilter.

[2022-10-19 06:42] aditya-shrivastava commented on #9832
Sure, I will do that.

[2022-10-19 07:13] isubasinghe commented on #8684
I had a look at this and I think this behaviour is fixable.
@sarabala1979 could you please assign this to me?

Thanks

[2022-10-19 08:26] anilkumar-pcs opened #9861 "GitHub checks for PRs are not reliable"
# Summary

What change needs making?

Random GitHub checks fail at every iteration and it is very unproductive. The failure reasons are also intermittent and mostly will go away if the checks are retriggered.

Currently, the only way to retrigger the checks is to make an empty commit to the PR.

For example, I am making a series of empty commits on my PR #8685 just to make sure all the checks are

[2022-10-19 12:29] terrytangyuan commented on #9861
Which test is failing? If it's a flaky test, we should fix it. If it's something with GitHub Actions, we can retry is like this: https://github.com/argoproj/argo-workflows/blob/master/.github/workflows/ci-build.yaml#L157-L161

[2022-10-19 12:30] terrytangyuan commented on #9832
It should be part of this test suite: https://github.com/argoproj/argo-workflows/blob/master/test/e2e/cli_test.go

[2022-10-19 12:34] terrytangyuan commented on #9860
@rohankmr414 Could you take a look? Seems related to the recent change.

[2022-10-19 16:09] anil10032 commented on #9861
@terrytangyuan It is not the same test always. You can check the commits in #9859 to see how a different check fails at every iteration.
I have verified all the tests working in my local before committing my changes.

[2022-10-19 17:20] rajaie-sg commented on #7781
Also ran into this issue on v3.4.1, a temporary workaround I used is to set the "preload_content" flag to "False"

[code]

and then parse the result with `api_response.read().decode("utf-8")`

not ideal..but unblocks us for now

[2022-10-19 18:12] LukaszRacon opened #9863 "containerSet: failed to look-up entrypoint/cmd for image """
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Running containerSet fails with error:
_"failed to look-up entrypoint/c

[2022-10-20 02:40] sanqiuli opened #9864 "Internal Server Error when download logs"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

When I finish running a workflow and prepare to download logs, I get In

[2022-10-20 04:31] yizha opened #9865 "argo cli doesn't support auth-provider type user in kubeconfig when specifying the argo server cli option"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

### What happened
[code]

### What expected to happen
`argo --argo-serv

[2022-10-20 06:08] premadk commented on #6924
I am new to argo workflows. can i try to contribute on this issue?

[2022-10-20 07:40] ravitejasssihl commented on #9274
Hey can you please assign me, I would love to solve this issue.
cc: @alexec

[2022-10-20 09:07] michal-raska opened #9867 "SSE-C secret not mounted"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

In our project we use the Argo in the following way:

- our component u

[2022-10-20 09:12] isubasinghe commented on #8684
Okay this was quite difficult to debug but I think I finally found the reason as to why this doesn't work.
Let's imagine we have a workflow name called "xyz"
We launch "xyz" and then take a lock on "argo/xyz".
Now the controller crashes.
On restart instead of looking for a lock named "argo/xyz" we look for a lock named "argo/xyz/xyz".

I believe that fixing this should fix this bug.

[2022-10-20 10:00] fclesio opened #9868 "Argo CLI error - FATA - configmaps "workflow-controller-configmap" not found"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

At the time that I start Argo Workflows server via `$ argo server` I ge

[2022-10-20 10:15] tooptoop4 commented on #9642
crispy

[2022-10-20 10:16] tooptoop4 commented on #9607
crispy

[2022-10-20 13:09] michal-raska commented on #9867
https://github.com/argoproj/pkg/blob/v0.13.6/s3/s3.go#L322

does not set the `minio.GetObjectOptions{ServerSideEncryption: encOpts}`

[2022-10-20 13:24] michal-raska commented on #9867
Please advise who should I ask for reviews regarding this, thank you!

[2022-10-20 13:48] vitalyrychkov commented on #9802
@sarabala1979
Hi, thank you for patience, it took some time as I tried to create a meaningful test case for you. I have created a primitive workflow and a server deployment based on the same image in my private artifactory. The server, which has the imagePullSecret definition in the deployment, started fine in a pod. I did not create the mentioned secret. Then I have submitted the workflow based o

[2022-10-20 14:31] ravitejasssihl opened #9871 "Request for mentor"
**Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).**

Answer: **Yes I have read the mentoring guide.**

**What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?**

Answer: No

**Is there any particular issue you'd like to work on? You may want to chec

[2022-10-20 15:55] terrytangyuan commented on #9871
Hi @ravitejasssihl, I assigned that issue to you. Looks like you don't have any experience with the relevant technologies so you might need to catch up before working on it.

[2022-10-20 15:55] rmalenko commented on #5332
The same error

[2022-10-20 17:00] awwwd commented on #9818
I can work on that.

[2022-10-20 18:24] as42sl commented on #9588
Still an issue with 3.4.1! This used to work in previous versions. Please allow to reference the pod name in links

[2022-10-21 03:08] isubasinghe commented on #8684
In workflow/sync/sync_manager.go the behaviour of how mutexes are implemented looks wrong to me. I believe this is what is causing #8684.

This is the issue:
On restart, the key to acquire locks is called via the output of getResourceKey.
Please check `func (cm *Manager) Initialize(wfs []wfv1.Workflow)`

Despite this, if we look at how the Manger attempts to acquire a lock in `func (cm *Manager) T

[2022-10-21 05:12] anil10032 commented on #4561
@alexec I have made changes to limit the number of workflows with `ResourceQuota` and have the following observations:

- When the hard limit is set for `count/workflows.argoproj.io`, it takes completed workflows also into account. So let's say the limit is set to 5k, and the count of completed workflows is equal to 5k, then we cannot create a new workflow until we delete one of the completed work

[2022-10-21 08:13] aditya-shrivastava commented on #9832
Thanks for the help. I was able to make a PR #9874  but one of the checks seems to have timed out and got cancelled. How can I re-run the checks?

[2022-10-21 10:15] Konkrad opened #9875 "Sync semaphore: Lock not released during retry backoff"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

When using the semaphore in combination with a retry strategy, I expect

[2022-10-21 12:33] terrytangyuan commented on #9832
You can trigger the CI by pushing new commits.

[2022-10-21 15:13] doanphihai opened #9879 "Upload/download artifact directly from/to cloud storage: Add ability to do these tasks with artifact's metadata"
# Summary
Downloading/Uploading artifacts from/to S3 or any cloud-storage is working perfectly, but in some scenario I'd like to do that with some metadata

What change needs making?
- Add `metadata` field to `outputs.artifacts` e.g.
[code]
- Add `with-metadata` to `inputs.artifacts` as follow:
[code]
- Add a new variable to `inputs.artifacts.test-data.metadata` to allow access to metadata of `tes

[2022-10-21 15:18] pjo256 opened #9880 "GKE preemption inconsistently treated as WorkflowNodeError and WorkflowNodeFailed"
### Pre-requisites

- [X] I have double-checked my configuration
- [ ] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

For some context, we run a large number of jobs with preemptible node p

[2022-10-21 15:28] maxisam commented on #9863
base on https://github.com/argoproj/argo-workflows/commit/73ea7c72c99a073dbe3ec0a420e112945916fb94

command should be cmd

[2022-10-21 16:14] terrytangyuan commented on #9880
Have you tried setting `TRANSIENT_ERROR_PATTERN`? https://github.com/argoproj/argo-workflows/blob/master/docs/environment-variables.md

[2022-10-21 16:17] terrytangyuan commented on #9863
We discussed it here https://github.com/argoproj/argo-workflows/pull/8345#discussion_r849850826

[2022-10-21 16:21] anil10032 commented on #4561
@alexec Please take a look at the changes which addresses this issue in #9878

[2022-10-21 16:52] maxisam commented on #9863
Weird. I just tested the workflow template in 3.4.1

`command` works
`cmd` doesn't work

[2022-10-21 18:16] aditya-shrivastava commented on #9832
Thanks all the checks have passed now. I have marked the PR as "Ready for review".

[2022-10-21 19:26] #9281 closed

[2022-10-21 19:26] terrytangyuan commented on #9832
Merged. Congrats on your first contribution!

[2022-10-21 19:26] #9832 closed

[2022-10-21 19:28] terrytangyuan commented on #9868
Check if this returns anything `kubectl get configmap workflow-controller-configmap`.

[2022-10-21 19:40] aditya-shrivastava commented on #9832
Thanks. I would definitely try and contribute more. :smiley:

[2022-10-21 20:29] OmarKalloush commented on #9812
@sarabala1979  Any updates?

[2022-10-21 21:10] terrytangyuan commented on #6924
@premadk Absolutely, feel free to start working on it.

[2022-10-21 22:11] uday-mandava commented on #9854
Updated the version info.

[2022-10-22 01:13] Gibstick commented on #8684
@isubasinghe I didn't test every scenario but the workaround we adopted was to move the synchronization to the top-level of the workflow spec:

[code]

[2022-10-22 08:00] yay14 opened #9883 "`workflow.failures` doesn't exist in Exit Handler when step succeeds"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

So, my use case is to capture failures in argo-workflows and identify h

[2022-10-23 09:27] papandadj opened #9894 "Move global delayed delete to `podGC`/workflow-level (`PodGCDeleteDelayDuration`)"
# Summary
The pod controller(in kubernetes) deletes redundant pods where there are too many pod.  delete is sortd by name. If a large number pods are not processed, "pod delete"  will occur in argo. Add delayed duration  to podgc field is used to delay pod deletion time for each workflow.

# Use Cases
workflow now supports PodGCDeleteDelayDuration as a global parameter to delay deletion, but in so

[2022-10-23 15:02] shiraOvadia opened #9896 "fatal error: concurrent map read and map write"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

We upgrade argo to V3.4.2x
I run flow with 10000 sequence
After few min

[2022-10-23 15:27] sarabala1979 commented on #9896
@shiraOvadia Do you like to submit PR with below fix? looks like code is not locking for read operation
https://github.com/argoproj/argo-workflows/blob/b00550f7bae3938d324ce2857019529d61382d84/workflow/controller/exec_control.go#L23

[code]

[2022-10-23 15:37] rgeraskin commented on #9257
confirm, this bug still exists

[2022-10-23 15:45] sarabala1979 commented on #9257
@rgeraskin can you add an exit handler on the step?

[2022-10-23 17:47] remidebette commented on #9193
This is very much needed

[2022-10-23 18:58] janosmiko commented on #9613
I was able to make it work using these values in argo-workflows helm chart:
[code]

[2022-10-23 21:51] caelan-io commented on #8899
Hi Everyone, @tico24 and I have updated the intro to Argo Workflows course that @alexec initially created last year. Please access it here on Killercoda (a free Katacoda replacement): https://killercoda.com/pipekit/course/argo-workflows/

We made some improvements based on prior feedback and enabled the course for the latest version of Argo Workflows, v3.4.2. Next, we're going to add additional mo

[2022-10-23 21:51] #8899 closed

[2022-10-24 08:05] andaag commented on #8937
I got a similar issue - which I think is close enough it probably doesn't warrant its own issue.

I got very long parameters (a yaml blob) for some dynamic fan out jobs. For those the names become *extremely* long. Where I only really need 1 argument in the name/visible in the ui, and the rest visible in the "inputs/outputs" tab.

Considering the max length of these arguments is around 256kb, I th

[2022-10-24 08:31] shiraOvadia commented on #9896
@sarabala1979 Thank you for you help and support!
Could you please provide me with some more details on how to build the "workflow-controller" image, assuming that I cloned the project and changed the code as you suggested?
I tried to build the image, running these commands:
cd <argo-workflows cloned project>
docker build -t argo_controller_test . --target workflow-controller
but this doesn't seem

[2022-10-24 09:03] GeunSam2 opened #9897 "lifecycle hooks "Running" state not recognized when trigger by multi stage DAG template"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

This issue was already reported on [ISSUE-8449](https://github.com/argo

[2022-10-24 09:14] GeunSam2 opened #9898 "I want contribute to this project with self reported issue. And I need mentor."
**Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).**

Answer: **Yes I have read the mentoring guide.**

**What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?**

Answer: **I have previous experience in React, Kubernetes, Typescript(very basic), Go(v

[2022-10-24 09:57] yavulan commented on #8954
Using the release 3.4.2 (which was released yesterday), the issue reproducing code produces an error - `Failed: invalid spec: templates.main.steps failed to resolve {{steps.step-1.outputs.parameters.result}}`. If you change hook name from `foo` to `success` - the error message is the same. But it works as expected with `exit` hook.

Though, we have an improvement - previously when you change `{{st

[2022-10-24 12:18] clementlecorre opened #9899 "[argo-workflow] Missing RBAC to list *v1.ServiceAccount"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

With a clean install I have RBAC error

[code]

### Version

latest

##

[2022-10-24 12:19] #9899 closed

[2022-10-24 14:32] Freia3 opened #9900 "Resource template logs for spark application don't get archived in artifact repo"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I have an Argo Workflow running a Spark application (using the spark-op

[2022-10-24 14:56] ajkaanbal commented on #9900
Your resource needs some metadata, take a look at the example:

https://github.com/argoproj/argo-workflows/blob/master/examples/k8s-resource-log-selector.yaml

[2022-10-24 15:08] Freia3 commented on #9900
@ajkaanbal This is for pulling the logs from the pods created by the spark CRD (spark-driver, spark-executor)
In the Argo UI I see these logs:
![image](https://user-images.githubusercontent.com/23035048/197560051-d4be11a6-7612-45f9-bc70-78be2e74a9ea.png)
I want to be able to archive those logs.

[2022-10-24 16:19] rgeraskin commented on #9257
@sarabala1979 sorry I can't figure it out how it will help me? Maybe you are talking about deleting the content manually by handler?

[2022-10-24 18:34] cristiadu opened #9901 "Workflows on server-mode shouldn't require "argo-workflows-webhook-clients" if not using webhooks"
# Summary

Currently there's a requirement that, if you're running on server-mode you'll need to add the Secret `argo-workflows-webhook-clients` as per described here: https://argoproj.github.io/argo-workflows/webhooks/

Reading the GoLang code, I saw that secret only gets used if I have a `webhook` from Gitlab, Bitbucket and so forth, but not if I just want to use it as an API instead, sending ev

[2022-10-24 23:34] isubasinghe commented on #9845
This is no longer the behaviour described above. @SatabrataPaul-GitAc check commit 6b086368f6480a2de5e2d43eec73514de0ad01ac

![image](https://user-images.githubusercontent.com/28187128/197649469-bf7d712b-2ca7-4759-9d8f-3f3101b44e07.png)

[2022-10-24 23:35] isubasinghe commented on #8684
Thanks for that @Gibstick I will check why this works as well

[2022-10-25 05:04] isubasinghe commented on #9474
I had to slightly change your example to fix some other bugs that came up. But I was able to get this to work on 6b086368f6480a2de5e2d43eec73514de0ad01ac

[code]

[2022-10-25 06:14] athityakumar commented on #9656
Opened a PR here: https://github.com/argoproj/argo-workflows/pull/9846

[2022-10-25 08:07] chr-b commented on #9651
This problem still exists with Argo `v3.4.2`.
This breaks every workflows that uses input artifacts and a non-root user.

[2022-10-25 09:34] RoryDoherty opened #9904 "Allow the user to specify which input/output artifacts are shown in the UI"
# Summary

Add the ability to hide certain artifacts from the UI in v3.4

# Use Cases

I have workflows which all take the same input artifact, I would rather not have this artifact show up in the UI as it then has to draw lines to every node and makes the UI unreadable
I also have certain artifacts that are just uploaded for debug purposes and these do not need to be shown on the UI. I'm happy to

[2022-10-25 09:55] vitalyrychkov commented on #6959
Hello, if there any chance this request will be implemented? The point is to check the input parameter value can be found in the enum values if enum defined. String-to-string comparison must be enough I think.

[2022-10-25 09:56] fclesio commented on #9868
@terrytangyuan Same message:

[code]

[2022-10-25 13:02] ognjen-it commented on #9868
I had the same problem. Try with:
`
argo server --auth-mode server -n argo
`

[2022-10-25 14:07] ognjen-it opened #9905 "The "argo server" command fails since workflow-controller-configmap has modified"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

When I deployed custom *workflow-controller-configmap*, the `argo serve

[2022-10-25 15:57] pjo256 commented on #9880
Good point, setting `TRANSIENT_ERROR_PATTERN` does solve my issue. It would be nice to restart on both `OnTransientError` with this pattern and `OnError`. I'd like to use conditional retries, but not sure if `expression` would have access to the `imminent node shutdown` message on `lastRetry` - only seeing `exitCode`, `status` and `duration` in https://argoproj.github.io/argo-workflows/retries/#co

[2022-10-25 18:36] xubofei1983 opened #9906 "Wrong Pod name in `argo get` command result from CLI"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Run an example workflow https://github.com/argoproj/argo-workflows/blob

[2022-10-26 06:31] zcerhub opened #9908 "FileName is a directory appears when downloading artifacts from minio"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Downloading artifacts from minio when retring no longer appears on file

[2022-10-26 06:37] isubasinghe commented on #9812
@OmarKalloush thanks for creating this issue, this due to the filtering not being done correctly. I am creating a PR for this now.

[2022-10-26 08:15] fclesio commented on #9868
Thanks @ognjen-it, same error:

[code]

[2022-10-26 08:18] Freia3 opened #9911 "Create wait container for resource templates when archiveLogs: true"
# Summary

I need a wait container for workflows containing a resource template when archiveLogs: true

# Use Cases

I'm running a spark application in a Workflow using a resource template. I want to archive the logs in an artifact repository. To archive the logs, I need a wait container.

Check out the comment here:
https://github.com/argoproj/argo-workflows/blob/6b086368f6480a2de5e2d43eec73514de

[2022-10-26 08:29] ognjen-it commented on #9868
@fclesio
It's practically impossible...

Please, try the next commands and share the full logs that you got.
[code]

And then:
[code]

[2022-10-26 11:44] Freia3 opened #9913 "View workflow logs on argo server for custom container"
# Summary
When looking at the logs of a workflow, there's a dropdown so you can choose between viewing the logs of the main/wait/init container. I want to be able to input something here myself, so I can view the logs of a custom container.
![image](https://user-images.githubusercontent.com/23035048/198016231-428aca00-bb39-4500-94c0-88ed7d598d35.png)

# Use Cases
I'm running a spark application in

[2022-10-26 23:50] isubasinghe commented on #9446
@sarabala1979 this can be closed. I have confirmed that the zombie processes do eventually get reaped.
Check this to confirm:
[code]

[2022-10-27 00:04] isubasinghe commented on #9328
I ran a 1000 workflows and still was not able to reproduce this issue unfortunately.

Perhaps this is related to the environment you run argo-workflows on rather than argo-workflows related?

[2022-10-27 00:56] tooptoop4 opened #9914 "saving log artifact to s3 missing retries"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

expecting retry for transient error

[code]

i guess this is the code:

[2022-10-27 06:53] dacamposol commented on #9328
@isubasinghe it was a problem with the 3.3.x version.

I don't know what changed, but once I upgraded to 3.4.x, the error stopped happening.

BTW, I'm closing this, as the upgrade to the latest version solved the weird issue.

[2022-10-27 06:53] #9328 closed

[2022-10-27 07:42] wenijinew commented on #3572
Do we have this parameter pendingTimeout? When pod is pending, I won't waste much time.

![image](https://user-images.githubusercontent.com/1829658/198221458-dba95b9e-7927-44e8-8615-43d301d9d124.png)

[2022-10-27 10:14] fclesio commented on #9868
@ognjen-it Worked. Thanks a lot.

The issue was that the `configmap` was missing. Thanks!

[2022-10-27 10:22] arkpoah commented on #2664
Same here, I just upgraded 3.2.11 to 3.3.9 and I get this error with a namespaced installation.

[2022-10-27 12:12] awwwd commented on #9914
Is it because the underlying code that creates the client for s3 -- doesn't have `MaxRetries` config.

https://github.com/argoproj/pkg/blob/513d2b4d4df37502f7e05732f381c60ffd075b6f/s3/s3.go#L93

[2022-10-27 13:12] #9446 closed

[2022-10-27 14:15] jakemiller649 commented on #9633
Is there a list of fields that can/cannot be used with templateDefaults?

[2022-10-27 15:07] boniek83 commented on #9588
It almost works in 3.4.2: For this link:
`http://grafana.home.local/explore?orgId=1&left=%7B%22datasource%22:%22Loki%22,%22queries%22:%5B%7B%22expr%22:%22%7Bcontainer%3D%5C%22main%5C%22,pod%3D%5C%22${metadata.name}%5C%22%7D%22,%22refId%22:%22A%22,%22editorMode%22:%22code%22,%22queryType%22:%22range%22%7D%5D,%22range%22:%7B%22from%22:%22now-3h%22,%22to%22:%22now%22%7D%7D`
_${metadata.name}_ correct

[2022-10-27 17:10] juliev0 commented on #9656
@alexec Regarding @athityakumar 's question above: this PR does not save workflows to local storage _at all_ (as opposed to paginating them). Do you feel that's okay?

[2022-10-27 22:08] qizichao-dm commented on #8869
@cre8ivejp Have you solved this issue? We use bazel test and met the exactly same issue. It works on v3.3.8 with k8sapi executor. After we switch to the v3.4.2 and emissary, the test process get killed sometimes

Container logs

- main
[code]

- wait
[code]

[2022-10-27 23:07] kevinpauli commented on #1145
Hello, this describes my predicament exactly.  Could we get an example of usage?  Googling led me here, and I can't find any good examples...

[2022-10-28 09:12] filippomc opened #9919 "Creating a workflow with the Python client errors"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Using the [Python api](https://pypi.org/project/argo-workflows/) on ver

[2022-10-28 20:16] tahasharif2000 opened #9922 "Variable retries (retrystrategy) cannot be accessible inside the container code"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I have a argo workflow application with multiple steps that are configu

[2022-10-28 23:47] uday-mandava opened #9924 "Argo workflow abruptly terminated during workflow pod creation"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Argo workflow abruptly terminated during pod creation of second step of

[2022-10-28 23:56] juliev0 commented on #9924
Can you add the spec of the Workflow here (if you're worried about something being sensitive you can modify)? Also, generally the longer the log posted is, the more helpful it can be. Thanks!

[2022-10-29 05:05] #9525 closed

[2022-10-29 10:06] tooptoop4 commented on #9772
crispy

[2022-10-29 10:06] tooptoop4 commented on #9627
crispy

[2022-10-29 10:09] christophkreutzer commented on #8498
Still an issue, sorry bot :(

[2022-10-29 16:32] #9627 closed

[2022-10-29 16:32] #9772 closed

[2022-10-29 16:32] #9858 closed

[2022-10-29 17:17] juliev0 commented on #9027
Not stale

[2022-10-29 18:03] sarabala1979 commented on #9922
@tahasharif2000 can you try on v3.4.x?

[2022-10-29 20:53] terrytangyuan commented on #9919
Check out the examples in the README file. I believe you need to skip validations.

[2022-10-30 05:04] isubasinghe commented on #9861
@terrytangyuan I've had issues with the Github tests too, we should try and address this somehow, additionally the maintainers should take note that failed Github checks don't necessarily mean the proposed change introduced it.

See https://github.com/argoproj/argo-workflows/pull/9909
https://github.com/argoproj/argo-workflows/pull/9918

[2022-10-30 05:05] isubasinghe commented on #9861
It seems to be `FunctionalSuite/TestOutputArtifactS3BucketCreationEnabled` that is causing issues.

[2022-10-30 13:52] aclme commented on #9896
Hi @sarabala1979 ,
I got the controller docker-image to work with your suggested fix, and that really seems to solve the issue.
The problem is not reproduced any more.
Can you please push it to next release?
Thanks a lot!

[2022-10-30 13:54] shiraOvadia commented on #9896
Hi @sarabala1979 ,
I got the controller docker-image to work with your suggested fix, and that really seems to solve the issue.
The problem is not reproduced any more.
Can you please push it to next release?
Thanks a lot!

[2022-10-30 16:59] premadk commented on #6924
@terrytangyuan I would like to discuss on the implementation. Can someone please sync with me on slack/zoom? preferably PST, but any time should work.

[2022-10-30 18:24] StevenYuanyuan opened #9931 "I would like a mentor"
**Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).**

Answer: **Yes I have read the mentoring guide.**

**What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?**

Answer: **I'm DevOps Engineer. I had some coding experience with Java/Python. I recentl

[2022-10-30 18:38] sarabala1979 commented on #6924
Do you like to join the contributors meeting bi weekly Tuesday? You can find the calendar in cncf calendar

Sent from my iPhone

[2022-10-30 19:19] rohankmr414 commented on #9613
This bug was caused after the commit https://github.com/go-git/go-git/commit/320db9af8ba8b0046e833013504eb07c61a3573c on the [go-git](https://github.com/go-git/go-git) upstream. This commit was supposed to allow us to fetch a new depth on a shallow clone (more details here https://github.com/go-git/go-git/pull/311). Since we only use this to fetch artifacts and we do not revise the depth of a clon

[2022-10-30 21:17] crenshaw-dev opened #9932 "`stable` tag is old"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I installed https://raw.githubusercontent.com/argoproj/argo-workflows/s

[2022-10-30 21:18] crenshaw-dev commented on #9932
The issue template is quite the gauntlet.  :-P

[2022-10-30 22:52] crenshaw-dev commented on #8018
I was getting `no plugin executed the template` because my server was sending `ExecuteTemplateResponse` instead of `ExecuteTemplateReply`.

[2022-10-30 23:22] crenshaw-dev commented on #7912
I took a crack at it: https://github.com/UrielCohen456/argocd-executor-plugin/pull/5

[2022-10-31 01:03] jinnjwu commented on #6793
this parameter is not working in 3.4.2

[2022-10-31 04:19] 814HiManny commented on #9906
I am having the same issue here pod names when performing `argo get` don't correspond to actual pods names.

[2022-10-31 08:05] Piroddi commented on #8529
@sarabala1979 I have just upgraded to 3.4.2. However this bug is not resolved. Experiencing the same behaviour

[2022-10-31 08:37] ThWoywod commented on #964
Is there any news on this topic?

[2022-10-31 09:30] filippomc commented on #9919
Thanks @terrytangyuan. I wasn't aware that examples were available, it would have helped having at least a link in the pip page.
Wonder whether there is a the will to make a specification and code generation compliant to the implementation (or vice-versa) or this is the intended way to go.

[2022-10-31 14:27] terrytangyuan commented on #9919
This is the way to go for now since it's an issue with openapi-gen.

[2022-10-31 15:19] sarabala1979 commented on #9932
@crenshaw-dev We stop using the stable tag. https://github.com/argoproj/argo-workflows/blob/d5e0b32207225fa86a1e320a11e98e3a505b713d/docs/upgrading.md from 3.1

[2022-10-31 15:22] sarabala1979 commented on #9931
@StevenYuanyuan let us know what kind of help you need it.

[2022-10-31 15:33] alexec commented on #9932
We should delete the `stable` tag.

[2022-10-31 16:21] StevenYuanyuan commented on #9931
Hi @sarabala1979 , thank you for the fast response.

Currently I read 2 GoLang book (Learning Go, Cloud Native Go) and wrote a helper go CLI tool for our LDAP management. And I'm learning Frontend skills (Javascript/React) from online courses right now. I want to make a contribution to the argo project and it can also give me a real world project experience.

What I need is that how to get up to s

[2022-10-31 16:28] terrytangyuan commented on #9931
These might be helpful:
* https://github.com/argoproj/argo-workflows/blob/master/docs/architecture.md
* https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md

[2022-10-31 17:14] #9854 closed

[2022-10-31 17:15] #9845 closed

[2022-10-31 17:15] #9919 closed

[2022-10-31 17:33] sarabala1979 commented on #9880
@pjo256 Can you create an enhancement request for the above ask?

[2022-10-31 17:33] #9880 closed

[2022-10-31 17:36] sarabala1979 commented on #9896
Can you create PR?

[2022-10-31 17:40] sarabala1979 commented on #9900
@Freia3 Current Resource template will not support archiving the log. Do you like to work on this enhancement?

[2022-10-31 17:43] sarabala1979 commented on #9905
@ognjen-it Can you provide `argo-server` log?

[2022-10-31 17:49] sarabala1979 commented on #9908
@zcerhub Do you like to triage and fix this issue?

[2022-10-31 17:59] sarabala1979 commented on #8684
@Gibstick can you try on v3.4.3?

[2022-10-31 17:59] caelan-io commented on #8684
@sarabala1979 mentioned today that `latest` should fix this.

@isubasinghe and @Gibstick - can you please try the original workflow again on `latest`?

[2022-10-31 18:15] caelan-io commented on #9474
v3.4.3 was released yesterday. @AlanD88 are you able to test and confirm on `latest` for us? Thanks

[2022-10-31 18:18] ognjen-it commented on #9905
Hi @sarabala1979, thank you for your mesage.

Here is a log from argo-server:
[code]

Actually, nothing..

And here is a log from the workflow-controller:

[code]

There we can see that configuration has been successfully applied.

I'm not sure where else to take a look. Here are the events after I applied config map and restarted argo-server and workflow-controller:

[code]

PS. in logs you can s

[2022-10-31 20:29] shiraOvadia opened #9934 "Pod failed with error: Pod was active on the node longer than the specified deadline -remain in status Running"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I set a timeout of 10 seconds in a template.
activeDeadlineSeconds: 10

[2022-10-31 20:55] uday-mandava commented on #9924
done

[2022-10-31 21:26] Freia3 commented on #9900
@sarabala1979 Ok, couldn't find this in the docs. No, I can't work on this enhancement.

[2022-10-31 21:34] ognjen-it commented on #9905
However, workflows exist in the Databse:

[code]

As I sad, I can't run:
`argo server --auth-mode server -n argo`

But without namespaces is working:
`argo server --auth-mode server`

However, I can't see any archived workflow:
<img width="781" alt="image" src="https://user-images.githubusercontent.com/44586606/199114627-cfae48f2-cfa0-4162-895f-9c1fb35ada50.png">

[2022-10-31 21:53] Gibstick commented on #8684
I still see the deadlock on v3.4.3. I'm running image `quay.io/argoproj/workflow-controller@sha256:156ed07e2b1ac9f23252fc4bc69a81daf88312dc3dfadb7c072980fcffdbf7f4` and I've deployed argo workflow with `helm install my-argo-workflows argo/argo-workflows --version 0.20.5 --set images.tag="v3.4.3"`. Using the same steps but with a sleep of 5s, I still observe the same behaviour. The workflow complet

[2022-10-31 23:39] jinnjwu commented on #6635
we have same issue in 3.4.2

[2022-11-01 01:22] isubasinghe commented on #8684
@caelan-io  I can confirm this issue is still a problem unfortunately.

I believe my original comment is still correct. The lock is acquired on a string of the format argo/xyz and when we try to regain the lock we look for /argo/xyz/xyz

Here is a screenshot to prove it:
![image](https://user-images.githubusercontent.com/28187128/199137973-4c46d071-e21e-4830-9afd-3c3ac2627afe.png)

The first line

[2022-11-01 04:04] #9812 closed

[2022-11-01 04:49] zcerhub commented on #9908
thank for you reply ,with pleasure.

[2022-11-01 05:34] sanqiuli commented on #9864
I installed argo workflow based on the content of the [document](https://argoproj.github.io/argo-workflows/installation/), It seems that there is no s3-related content configured in install.yaml

[2022-11-01 07:09] tico24 opened #9935 "HTML encoding still breaking some log links"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Reference #9435 where this was originally reported.

Given I have a cus

[2022-11-01 07:09] tico24 commented on #9588
@boniek83 - this is a different issue to the one I raised. I have covered it in #9935

[2022-11-01 07:19] tico24 opened #9936 "Mutex and semaphore-blocked workflows are hidden in the UI"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Pre 3.4.2 (I think...but definitely pre 3.4.0), when one had workflow(s

[2022-11-01 08:38] nielstenboom commented on #7311
Hey @kennytrytek, thanks for working on a solution for this! Unfortunately on v3.3.9 this does not seem to work properly yet.

Given this example workflowtemplate:

[code]

When trying to submit this from the UI with a different entrypoint, the workflow parameter still disappears:

![Nov-01-2022 09-35-03](https://user-images.githubusercontent.com/6594531/199192922-d8b20a15-98a8-45d4-8292-a81bec96d

[2022-11-01 08:38] nielstenboom commented on #7311
@alexec can this issue be reopened?

[2022-11-01 09:24] jopfeffe commented on #9801
Hi @juliev0 sorry for the late reply.

It's the OpenTelekomCloud which is based on OpenStack / Huawei cloud. However, I tested v3.4.3 release which is using “minio-go/v7.0.42” and the problem seems to be fixed.

Thanks for your support.

[2022-11-01 09:24] #9801 closed

[2022-11-01 15:37] juliev0 commented on #9864
Yes, install.yaml and the basic installation guides are not particular to any cloud provider. For cloud storage solutions the instructions are elsewhere in the documentation (my previous link). Probably the documentation could be improved.

[2022-11-01 16:46] pjo256 opened #9937 "Add message field to lastRetry for conditional retries"
# Summary

In https://argoproj.github.io/argo-workflows/retries/#conditional-retries, `lastRetry` cannot access workflow error/failure messages such as `Pod was terminated due to imminent node shutdown`. This request is for adding a `message` on `lastRetry` containing this error message.

# Use Cases

In https://github.com/argoproj/argo-workflows/issues/9880, we captured preemptions by setting `On

[2022-11-01 16:57] terrytangyuan commented on #9935
@tczhao Would you like to take another look?

[2022-11-01 18:17] jccarte opened #9938 "Log Viewer Container list broken for workflows using templateRef"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Workflows that reference templates with "templateRef" rather than being

[2022-11-01 21:14] danajp commented on #9179
We are also running into this issue. We're using workflows with `stdin: true` and `tty: true` and then using the `kubectl attach` machinery to give our uses production-like interactive consoles for their apps.

We'd be willing to implement the solution proposed by @RoryDoherty where `pty` would only be used if the container specified `tty: true`. If we can't find another solution, we may even go s

[2022-11-01 21:54] lacion opened #9940 "Argoworkflows extraArgs authmode failes to start argo server"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

im currently deploying argo workflows with helm chart.

im using dex fo

[2022-11-02 00:11] terrytangyuan commented on #9940
Please report the issue to the helm chart repo.

[2022-11-02 00:11] #9940 closed

[2022-11-02 00:18] tczhao commented on #9935
Sure

[2022-11-02 00:20] arjungopisetty commented on #9144
I'm running into this same issue when running `make pre-commit -B`. Running `make pre-commit` did not help. Were you able to find a solution? Thanks!

[2022-11-02 00:28] tczhao commented on #9935
The problem is we now introduced url encode and decode. These function in go/javascript doesn't encode reserved characters
[code]

If the user provided URL includes the encoded version of the reserve char e.g. having `%3D` instead of `=`
The UI attemps decodes it first then encodes it thus becomes:
 `%3D` -decode-> `%3D` -encode-> `%253D`

@tico24
I replaced the `%3D` with `=`, try and see if this

[2022-11-02 04:35] yay14 commented on #9883
@sarabala1979 Is there any temporary fix for the same?

[2022-11-02 06:43] Brice187 commented on #7829
Is there a transion guide? All my workflows are affected

[2022-11-02 07:17] tico24 commented on #9935
While replacing `%3D` with `=` does indeed work, it's _very_ counter-intuitive to the average user.

Taking grafana as the example, it outputs its urls encoded. Users should not be expected to break this encoding just to make the grafana links work with workflows.

Similarly, the change to the docs in PR #9944 doesn't go far enough to explain that this is necessary. It makes no sense to the non-te

[2022-11-02 07:30] AlanD88 commented on #9474
@caelan-io sorry things have been a bit hectic for me, i'll get a chance to test this out this week and report back.

[2022-11-02 08:20] #9588 closed

[2022-11-02 08:28] pockyhe opened #9947 "Malformed WorkflowTemplate and Workflow crashes related UI"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I tried to submit my workflowtemplate in Argo. And I'm supposed to set

[2022-11-02 10:41] scravy commented on #9696
Bumping this issue. Also: https://drewdevault.com/2021/10/26/stalebot.html I do agree. This is an open source project. I am investing time in reporting and helping analyze this issue. And then I am told "you didn't fix this yourself, bugger off, we mark this as stale and will close/dismiss it eventually".

[2022-11-02 12:03] terrytangyuan commented on #7829
https://github.com/argoproj/argo-workflows/blob/master/docs/upgrading.md

[2022-11-02 12:32] Brice187 commented on #7829
Okay, but how to fix the Workflows depending on another executor ;)

[2022-11-02 13:53] RoryDoherty commented on #2430
@ryedin Did you ever figure out a way to escape Argo Workflow variables to pass them as literal strings?

[2022-11-02 14:47] swhite24 opened #9948 "symlink not preserved in tar input artifacts"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [x] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

For versions > v3.4.x, symlinks appear to be missing when consuming inp

[2022-11-02 15:28] terrytangyuan commented on #7829
It's a breaking change. Follow the two items related to emissary in https://github.com/argoproj/argo-workflows/blob/master/docs/upgrading.md#upgrading-to-v34

[2022-11-02 15:37] #8953 closed

[2022-11-02 15:48] terrytangyuan commented on #9947
I think this was fixed. Could you try v3.4.3?

[2022-11-02 17:51] swhite24 commented on #9948
Did a little investigation and assume this is due to the implementation change in `untar` introduced in #8292, as only files regular files are being handled now.

v3.3.9 implementation:
https://github.com/argoproj/argo-workflows/blob/v3.3.9/workflow/executor/executor.go#L814-L823

current:
https://github.com/argoproj/argo-workflows/blob/a5b31b3f07eb545abd7219fdaddc88c55952cad1/workflow/executor/ex

[2022-11-02 20:26] #9948 closed

[2022-11-02 21:50] lacion commented on #9940
@terrytangyuan actually trying to figure this out.
I have been playing with this, and this seems to happen every time DEX is not running and auth-mode=sso is passed.

i am not sure why the logs show the cli help when this happens

[2022-11-03 09:13] stbeckers opened #9953 "ArtifactGC failing but reporting success (permissions)"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

We implemented the ArtifactGC with the new version 3.4 like described [

[2022-11-03 10:24] pmareke opened #9955 "Typo in the NewResumeCommand file"
# Summary

There is a typo in the NewResumeCommand class.

What change needs making?

Fix the docs.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-11-03 10:24] pmareke commented on #9955
I already had a draft in progress https://github.com/argoproj/argo-workflows/pull/9954

[2022-11-03 12:16] isubasinghe opened #9958 "GCS Artifact path handling does not normalise the path."
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Paths with '..' in them are not currently handled in the GCS driver. We

[2022-11-03 13:06] #9955 closed

[2022-11-03 14:13] ognjen-it commented on #9906
I am having the same issue here 👍🏻

[2022-11-03 15:41] jreynard-code commented on #9692
Hello guys,

Tested with `argo-client-java:v3.4.3` same problem...
Would it be fixed it in next version?

Best regards

________

If you want to see the stack trace error:

[code]

[2022-11-03 18:04] terrytangyuan commented on #9953
@juliev0 Could you take a look when you get a chance?

[2022-11-03 19:46] juliev0 commented on #9953
Sorry for the trouble. Maybe the real issue here is that it appears that the install.yaml file from our Release page should include the necessary roles and rolebindings? (rather than their just being incorporated into quick-start-minimal.yaml) I am not sure why they're not in there.

[2022-11-03 20:07] #9867 closed

[2022-11-04 00:43] isubasinghe opened #9965 "Consider mounting artifacts via open source FUSE drivers."
# Summary

Instead of Go native artifact drivers, could we perhaps mount artifact repositories through FUSE drivers (https://github.com/libfuse/libfuse)

# Use Cases

The only point of this would be to reduce the burden of maintaining n artifact drivers on the maintainers. I came across a few bugs on the GCS driver that I thought should have been detected much early on but didn't, likely due to th

[2022-11-04 01:46] crenshaw-dev opened #9966 "Cannot reference plugin's output parameters"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I tried to reference the output of a plugin step. The output failed to

[2022-11-04 02:06] crenshaw-dev commented on #9966
I think this line should return true if `tmpl.Plugin != nil`.

https://github.com/argoproj/argo-workflows/blob/b91606a644983d00c4a8aa3439f1d4581c01a478/pkg/apis/workflow/v1alpha1/workflow_types.go#L2928

In the context where this is called, we have no idea whether the plugin will return outputs. So we should assume that it may.

[2022-11-04 05:11] pulungw opened #9968 "Unable to download Artifacts from the Archived Workflows UI (v3.4.3)"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I ran a simple artifact-passing workflow that created a text file artif

[2022-11-04 07:02] thangamani-arun commented on #9839
@pockyhe :

Even after upgrading to `v3.4.1`, I see this error but the deployment gets completed with error `expected < 2 pods, got 2 - this is a bug` . Though there are no symptoms of failure in the controller or server logs.

@sarabala1979: any idea why is it happening? I'm not sure what is the right approach to attack this failure.

[2022-11-04 09:19] thangamani-arun commented on #5361
I'm still seeing this kind of error in workflow-controller (app version v3.4.1)

[2022-11-04 09:25] Jaapel opened #9969 "hello world workflow fails on containerd runtime"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [x] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Installing argo using:
[code]

And running `sudo argo submit https://ra

[2022-11-04 12:10] mweibel commented on #9906
I have the same issue here. This is happening since version 3.4.0 (I unfortunately only upgraded this week and to 3.4.3 directly but traced it back to 3.4.0).

The case seems to only happen when a retry strategy is set. The [hello-world.yaml](https://raw.githubusercontent.com/argoproj/argo-workflows/master/examples/hello-world.yaml) example does not suffer from the same issue.

[code]

[code]

It

[2022-11-04 12:21] mweibel commented on #9906
I believe the retry strategy to be relevant because of
https://github.com/argoproj/argo-workflows/blob/master/workflow/controller/operator.go#L1730

And I believe the nodeID in status does get calculated wrongly here:
https://github.com/argoproj/argo-workflows/blob/master/workflow/controller/operator.go#L2266

Since I'm not sure what the proper course of action is to fix this, I won't create a PR

[2022-11-04 12:28] isubasinghe commented on #9906
@JPZ13 Should be able to handle it first thing Monday. @sarabala1979 assign me this perhaps?

[2022-11-04 16:52] sebltm commented on #9651
Can confirm we have the same issue, this is really blocking us

[2022-11-04 16:58] #9958 closed

[2022-11-04 19:39] #9966 closed

[2022-11-04 19:46] terrytangyuan commented on #9911
Duplicate https://github.com/argoproj/argo-workflows/issues/9900

[2022-11-04 19:46] #9911 closed

[2022-11-04 19:54] terrytangyuan commented on #9898
@sarabala1979 Would you like to be a mentor for that issue related to lifecycle hooks?

[2022-11-05 01:11] tczhao commented on #9968
Sure.
Give me a few days:
seeing 2 issues so far:
- artifact still undergoes GC with artifactGCStrategy Never
- after workflow get updated with artifactGC, the info should propagate to archivedWf as well

[2022-11-07 08:41] shiraOvadia commented on #9934
This is a fatal error. It prevents us from upgrading argo version to latest.
Can someone please help here?

[2022-11-07 08:53] shiraOvadia commented on #9896
@sarabala1979 - can you please take a look at the latest PR draft?
One test failed - does not seem to be related to the proposed fix.
https://github.com/argoproj/argo-workflows/actions/runs/3404916846/jobs/5662527422

This is the test: TestFunctionalSuite/TestOutputArtifactS3BucketCreationEnabled
And this is the error: Error (exit code 1): failed to create bucket bucket-that-does-not-exist-2: Your

[2022-11-07 10:04] thangamani-arun opened #9987 "`expected < 2 pods, got 2 - this is a bug`"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

[code]

### Version

v3.4.1

### Paste a small workflow that reproduces

[2022-11-07 10:05] thangamani-arun commented on #9987
part2

[code]

[2022-11-07 10:10] thangamani-arun commented on #9987
the same workflow was failed before above run,

STEP                             TEMPLATE             PODNAME                                                 DURATION  MESSAGE
 ✖ gitlab-fullstack-wf-2k6lb     gitlab-fullstack-wf                                                                    child 'gitlab-fullstack-wf-2k6lb-917790860' failed
 ├───✔ create-namespace          namespace

[2022-11-07 10:14] thangamani-arun commented on #9987
I have heard from https://github.com/argoproj/argo-workflows/issues/9839#issuecomment-1281999154 comment that upgrading to v3.4.1 will solve, but I encountered this is in v3.4.1.

so wondering what is causing failure ?

[2022-11-07 10:16] thangamani-arun commented on #9987
@sarabala1979 @alexcapras: your help would be greatly appreciated.

[2022-11-07 11:02] isubasinghe commented on #9906
commit cc9d14cf0d60812e177ebb447181df933199b722 introduces the bug I believe. Am working on a fix.

[2022-11-07 13:22] pockyhe commented on #9947
It seems ok, thank you!

[2022-11-07 13:29] pockyhe opened #9988 "OnExit doesn't work in WorkflowTemplate"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I tried to enable OnExit in Workflow Template. And wrote another workfl

[2022-11-07 13:41] simox-83 opened #9989 "SSO authentication not working"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I upgraded Argo Workflow from 3.1.13 to 3.4.3. SSO Authentication was w

[2022-11-07 13:55] jmeridth commented on #6529
One last hurdle then will get the PR ready for this.

[2022-11-07 14:59] anhqqt commented on #9802
I met the same issue `Image pull error: User "system:serviceaccount:argo-workflows:argo-workflows-controller" cannot get resource "secrets" in API group "" in the namespace "argo-workflows"` . From the previous, the workflow can normally run in EKS 1.22

But after I created another EKS 1.23 and install the Argo Workflow helm chart with the same values.yaml file, this issue happened. Even if the wo

[2022-11-07 16:07] #7990 closed

[2022-11-07 16:07] #3948 closed

[2022-11-07 16:37] alexec opened #9990 "Horizontally Scalable Controller"
We currently run a single controller per cluster or per namespace. Per cluster we only run one and use leader election to provide HA. Per namespace you have to manually configure each namespace (big operational overhead).

Instead, we could provide a way to horizontally scale workflows. To do this, we need to consider what each controller uses K8s informers to keep data in memory:

* All running w

[2022-11-07 16:40] alexec commented on #9990
I think your HPA could be trivial to set-up - just based on memory usage.

[2022-11-07 16:46] alexec commented on #4318
#9990 9990

[2022-11-07 16:48] alexec commented on #4790
See #9990

[2022-11-07 16:53] alexec opened #9991 "Super-controller, super-server"
How can we make Argo Workflows a FAANG scale CI solution?

* Millions of pipelines.
* Hundreds or thousands of concurrent jobs.
* Jobs starting every couple of seconds.

Argo's executor is fully horizontally scalable - you just add more nodes, but the control plane is not.

We know that workflows control-plane (i.e. controller + server) can scale for a single cluster.

# Scaling A Single Cluster

[2022-11-07 17:56] StevenYuanyuan commented on #9931
Hi @terrytangyuan, thanks again for the link above. I finished reading the above 2 links and my local environment is now setup. And now I can run `make pre-commit -B` without any error. What's the next step you suggest?

[2022-11-07 21:11] tfurmston commented on #7810
OK, so this is what I have so far.

It is probably a bit rough and it still doesn't work for nested templates yet.

However, it is passing on all tests in [template_test.go](https://github.com/argoproj/argo-workflows/blob/master/util/template/template_test.go). Also, other than the tests in `TestNestedReplaceString`, all of the tests in [replace_test.go](https://github.com/argoproj/argo-workflows/

[2022-11-07 21:13] tfurmston commented on #9292
I've made an initial attempt at that issue. I've updated the issue with my attempt.

I'm not at an impasse, but it would be really great if someone could give what I have done a once over to see if it is sensible.

[2022-11-08 02:24] gcsfred2 opened #9996 "HTTP Template hangs indefinitely"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

What happened:
 - I ran `argo submit -n argo --watch httptest.yaml` the

[2022-11-08 02:51] pockyhe commented on #9996
@alexec @simster7 I found your comments in this issue which is same as mine[](https://github.com/argoproj/argo-workflows/issues/1688). Could you help me with it? Thank you very much

[2022-11-08 02:52] pockyhe commented on #9988
@alexec @simster7 I found your comments in this issue which is same as [mine.](https://github.com/argoproj/argo-workflows/issues/1688) Could you help me with it? Thank you very much

[2022-11-08 03:13] terrytangyuan commented on #9996
Can you paste the log from your agent pod (`http-template-8879r-1340600742-agent`)?

[2022-11-08 03:17] terrytangyuan commented on #9292
Where can I find the update?

[2022-11-08 03:18] terrytangyuan commented on #9931
Great! Feel free to pick up an issue to work on.

[2022-11-08 03:20] terrytangyuan commented on #9987
Can you try v3.4.3?

[2022-11-08 03:21] #9947 closed

[2022-11-08 07:53] pockyhe commented on #9947
@terrytangyuan Hi, I found same problem today after having updated latest version.
![image](https://user-images.githubusercontent.com/64390829/200505631-0b9e9143-4f36-426a-9ac2-3c3fc393e0a4.png)
the error is not same, but it still caused crash in Argo UI.

[2022-11-08 09:23] Jaapel commented on #9969
For anyone googling this, an old version was installed in the same namespace, causing argo cli to refer to an old deployment with docker as executor. Deleting the old deployment was enough to solve the issue, running with the emissary executor. To argo devs, sorry for the noise.

[2022-11-08 09:23] #9969 closed

[2022-11-08 09:48] tico24 opened #9998 ""Access demo environment" link in readme doesn't work"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

There is a link in the readme to a demo environment. This goes to a bla

[2022-11-08 15:21] terrytangyuan commented on #9998
I cannot log in to the Argo CD dashboard. @alexec @sarabala1979 Could you take a look?

[2022-11-08 15:24] tico24 commented on #9998
Cool. I'll update the bug then.

[2022-11-08 15:48] geowalrus4gh commented on #3523
We are evaluating Argo Workflows and Keptn (A CD orchestration tool, no CI) from a deployment pipeline use case (CD pipeline). Found out Keptn has a multi cluster support which will orchestrate multi cluster deployment of an application in a single end to end workflow. We would like to see the same feature in Argo Workflow, since we don't want to add yet another tool (keptn) solely for deployment

[2022-11-08 16:53] simox-83 commented on #9989
Please note that this bug is present also with version 3.4.2.
I rolled back to 3.1.13 and it's working again.

If I compare the logs, it looks like the issue is the 401 returned when calling the /api endpoints.

[2022-11-08 17:52] sarabala1979 commented on #3523
Argo workflow Team and OCM(https://open-cluster-management.io/) are working POC for Multiple cluster Argo workflow with the below use cases.  We will demo to the community soon.

1. Running the whole workflow on the remote cluster and bringing the status to the central cluster.
       a. User can provide the cluster where workflow needs to run
       b. Auto Load balancing based on resource availa

[2022-11-08 18:11] sarabala1979 commented on #9934
@shiraOvadia it looks like the k8s API is taking time to update pods when activedeadlineseconds reached. you can try the `timeout` instead of `activedeadlineseconds`.
[code]
https://github.com/argoproj/argo-workflows/blob/ed351ff084c4524ff4b2a45b53e539f91f5d423a/sdks/python/client/docs/IoArgoprojWorkflowV1alpha1Template.md

[2022-11-08 18:19] sarabala1979 commented on #9936
@tico24 Can you verify Argo UI is not showing any pending workflow? Please make sure you clear all your filters.

[2022-11-08 18:22] tico24 commented on #9936
That's literally the bug I'm raising. They are not showing (most of the time). There are no filters enabled.

[2022-11-08 18:25] sarabala1979 commented on #9968
@tczhao Are you going to work on these issues?

[2022-11-08 18:34] sarabala1979 commented on #9988
@pockyhe if you using `templateRef`, it will only refer the template scope. Controller will not access the Spec scope configurations.
you can add an exit handler on the template level.

[2022-11-08 18:39] sarabala1979 commented on #9996
@gcsfred2 can you provide the pod events and pod spec for the agent pod? looks like the agent is not coming up.

[2022-11-08 18:44] sarabala1979 commented on #9193
@remidebette @cwichka Is it not working for the script template only or all templates (Container)?

[2022-11-08 18:44] gcsfred2 commented on #9996
@sarabala1979 This is all new to me. Would you be able to tell me which commands to run for that?

[2022-11-08 19:05] tfurmston commented on #9292
Sorry, yes.

This is the issue - https://github.com/argoproj/argo-workflows/issues/7810

This is the draft PR - https://github.com/argoproj/argo-workflows/pull/9993/files

It doesn't handle nested templates yet. I think I'll have to remove the regex and go with a different approach to extend to solution to nested templates.

[2022-11-08 19:28] sarabala1979 opened #10000 "v3.3 Cherry-picking"
- [ ] 6b086368f fix: Mutex is not initialized when controller restart (#9873)
- [ ] ec5162983 fix: P/R/C reporting in argo list -o wide. Fixes #9281 (#9874)
- [ ] 6c432d2c9 fix: upgrade python openapiclient version, fixes #9770 (#9840)
- [ ] 36646ef81 fix: Support Kubernetes v1.24. Fixes #8320 (#9620)
- [ ] a752a583a fix: exit code always be '0' in windows container. Fixes #9797 (#9807)
- [ ] 102c

[2022-11-08 22:22] JPZ13 commented on #10000
@sarabala1979 - can we add https://github.com/argoproj/argo-workflows/pull/9959 ?

cc @mostaphaRoudsari @AntoineDao

[2022-11-09 02:06] pockyhe commented on #9988
@sarabala1979 Thank you very much! I'm very looking forward to the document @caelan-io . BTW, is there another way that enable method like on Exit in template scope? I'd like to release some resources after workflow that I used by templateref finish whatever success or fail

[2022-11-09 02:28] pockyhe opened #10001 "Malformed WorkflowTemplate and Workflow crashes related UI again"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I post a debug issue before about  malformed workflow crashes related U

[2022-11-09 05:51] efekete opened #10002 "Sigterm if using generated step name (after upgrade to 3.4.3)"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

After upgrade to Argo Workflows 3.4.3 (from 3.3.9), step that use gener

[2022-11-09 08:02] AlanD88 commented on #9474
@isubasinghe @caelan-io Sorry it took a bit, was able to test locally.  Looks to work fine now.

[2022-11-09 09:08] vitalyrychkov commented on #9802
RIght, my workaround was the same, however I did not have to disable *.create values, just added a ClusterRole to read the secret with a specific name in all namespaces and a ClusterRoleBinding to the workflow-controller's SA.

[2022-11-09 09:46] fsal commented on #9179
Hi, this missing feature is also blocking us.
We have to revert to using normal k8s job, instead of argo's workflows for one of the task in our products that requires user's input.

It would be great to replicate the same behavior that k8s exposes in argo.

[2022-11-09 09:56] pquadri opened #10003 "Manual retries do not trigger exit handlers"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

When defining a workflow that has an exit handler (either with handlers

[2022-11-09 13:21] simox-83 commented on #9989
@sarabala1979 thanks for looking at it. Please let me know if you want to discuss it with a live demo. We can book some time and I can share with you what I see. Thank you.

[2022-11-09 14:26] happy-machine opened #10005 "Not working from docs startup example on EKS 1.21"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

After upgrading to EKS 1.21 argo server will not start up, we have trie

[2022-11-09 15:49] caelan-io commented on #9474
Fantastic! All good, and thanks a lot for confirming for us, @AlanD88. That's really helpful. We'll close this issue as fixed in v3.4.3.

[2022-11-09 16:43] #8972 closed

[2022-11-09 18:57] caelan-io commented on #9988
@pockyhe please refer to this example for implementing a template-level exit handler: https://github.com/argoproj/argo-workflows/blob/master/examples/exit-handlers.yaml

and on the step level: https://github.com/argoproj/argo-workflows/blob/master/examples/exit-handler-step-level.yaml

I'll be working on improving the documentation to clarify the exit handler limitations with `templateref`

[2022-11-09 22:43] tooptoop4 opened #10006 "CVE-2022-3172 and CVE-2021-25740"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

/bin/kubectl is
kubernetes 1.22.3 (https://github.com/argoproj/argo-wor

[2022-11-10 00:11] tooptoop4 opened #10007 "OOMKilled error for gitclone does not say which container was killed? init, main, wait ?"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

![image](https://user-images.githubusercontent.com/33283496/200968673-0

[2022-11-10 02:11] pockyhe commented on #9988
@caelan-io @sarabala1979 Thank you very much!

[2022-11-10 02:14] #9906 closed

[2022-11-10 04:51] isubasinghe commented on #8684
https://github.com/isubasinghe/argo-workflows/tree/fix-deadlock-sync-manager

Please check before.txt and after.txt to see the logs after the deadlock.

before.txt and after.txt are the relevant files.
After the controller restart, the mutex is acquired by argo/deadlock-test-sn8p5 as seen here: https://github.com/isubasinghe/argo-workflows/blob/fix-deadlock-sync-manager/after.txt#LL122C101-L122C12

[2022-11-10 05:22] terrytangyuan commented on #10006
Thanks. Fixing in https://github.com/argoproj/argo-workflows/pull/10008.

[2022-11-10 09:59] Stelagowski-Tomasz commented on #3523
@sarabala1979 does works around POC, also would allow to see/manage Argo Workflows deployed on remote clusters, on the central cluster?
In our usecase we use Wokrflows for orchestrating job pipelines on different Production environments, we love to be able to see and manage those from single UI on central cluster instead of providing seperate UI access for every environment.

[2022-11-10 13:41] shiraOvadia commented on #9934
I also tried "timeout" , and the behavior was the same as "activedeadlineseconds" .
The pods still in status Running and the never changes to Failed/Error.

[2022-11-10 14:41] Guillermogsjc opened #10010 "missmatch with naming on pods from nested tasks in DAGs in the UI (fail to retrieve live logs)"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

hi, from `v3.4.3`, the field `POD_NAME` in the UI is not correlated wit

[2022-11-10 15:35] juliev0 commented on #9953
Sorry for the troubles. If you had ArtifactGC set in your workflow then a "finalizer" would've been set on your Workflow. This prevents the Workflow from being deleted until ArtifactGC has occurred successfully. The last section [here](https://argoproj.github.io/argo-workflows/walk-through/artifacts/) speaks to that. Also, there is now a "--force" option for "argo delete" (CLI).

[2022-11-10 15:44] terrytangyuan commented on #9855
Could you clarify what you meant by "stops working correctly"? That only sets a owner reference.

[2022-11-10 15:51] julienduchesne opened #10011 "UI: Hide navbar items from configuration"
# Summary

Argo Workflows has lots of options in the navbar that we do not use. We would like to be able to hide the following from the navbar:

- Event Flow
- Event Sources
- Sensors
- Workflow Event Bindings
- Reports
- API Docs
- Plugins

We don't really need to disable the URLs, just clean up the navbar. It'd be nice if there was a config to hide items, or list all the ones we do want to show

[2022-11-10 16:30] Guillermogsjc commented on #10010
specifically, the `NAME`on the UI is `kargentina-1-279wc.s2t-core-lower.wait-main-get-logs(0)`, the `POD NAME` in the UI is `kargentina-1-279wc-931539070`

but the pod name inside k8s is `kargentina-1-279wc-wait-main-get-logs-931539070`, so argo workflow controller is disconnected from what is happening in K8S

[2022-11-10 16:37] gosharo commented on #9904
Same here... when iterating a DAG it's becoming a huge mess .

[2022-11-10 17:19] ebuildy commented on #5538
it makes sens, "users" could not be able to modify "operator" resources.

[2022-11-10 17:24] ebuildy opened #10012 "Add namespace and serviceAccount for memoize configMap reference field"
# Summary

When using memoize:

[code]

from a workflow running in NS "dev-steam", the config-map will be created elsewhere, in controller NS. Which can be dangerous (see https://github.com/argoproj/argo-workflows/issues/5538) and make difficult the debugging.

The cache configMap should be created by default in the workflow NS, using the workflow SA.
Or we could specify NS & SA with new fields.

[2022-11-10 18:08] terrytangyuan commented on #10011
Duplicate https://github.com/argoproj/argo-workflows/issues/7088

[2022-11-10 18:08] #10011 closed

[2022-11-10 20:15] lstolcman commented on #8515
Should be fairly easy to fix.
File: https://github.com/tinoschroeter/argo-workflows/blob/3e8aa6f24f4072aef4959684675430bbca174f37/ui/src/app/shared/components/duration-panel.tsx

A connected one was fixed here: https://github.com/argoproj/argo-workflows/pull/7694

[2022-11-11 03:43] #9968 closed

[2022-11-11 04:34] tooptoop4 commented on #9843
this still affects 3.4.3

[2022-11-11 04:35] tooptoop4 commented on #9843
be sure to click retry without clicking any task circle

[2022-11-11 06:43] bnbrijesh commented on #3525
Doesnt this support email scope ? Azure doesnt seem to support groups scope

[2022-11-11 09:48] k-ebu commented on #9651
same issue with v3.4.3

[2022-11-11 14:01] sakvaka opened #10015 "artifactGC doesn't remove artifacts if defined in WorkflowTemplate"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

When running the [ArtifactGC demo workflow](https://argoproj.github.io/

[2022-11-11 16:32] divideby0 opened #10016 "Publish Argo UI TypeScript Models Independently"
# Summary

My teams often develop and interact with Argo Workflows from Node.js backends using TypeScript. In the past, we've had to manually build and maintain our TypeScript bindings to ensure they match the structure of Argo CRDs. This may often involve a lot of duplicated effort and risk of drift as the Argo models evolve.

We noticed that the Argo UI has well-defined TypeScript interfaces for

[2022-11-11 17:02] agilgur5 opened #10017 "Local CLI templating for faster dev/test iteration cycles"
# Summary

Allow for local templating similar to `helm template`, so that users can iterate on a `Workflow` or `WorkflowTemplate` definition locally and with a faster iteration than having to submit to an Argo Server.

Such a feature would definitely help me and my teams iterate and test faster. I'd be willing to contribute this as well!

# Use Cases

For quickly testing and debugging `Workflow` d

[2022-11-11 19:48] wsams opened #10018 "Git artifacts detached from revision"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

When using a standard git input artifact in Argo Workflows v3.4.3 or la

[2022-11-12 00:16] tylertitsworth commented on #964
Bump

[2022-11-12 06:13] tooptoop4 opened #10020 "link to argoCD"
argoWorkflows users will often also use argoCD
idea is to have a link on the specific object (ie cronworkflowXYZ, workflowtemplateABC) that will open up that object in argoCD UI
benefit is that it would link back to commit details, also show deployment errors (ie in case new version of object was not being reflected in argoWorkflows)

basic implementation idea:
optional config for argoCD base URL

[2022-11-12 16:08] drpebcak commented on #9656
Not stale

[2022-11-12 22:50] tooptoop4 commented on #9989
it still works for me in 3.4.3 , I use Dex not okta

[2022-11-13 06:22] h20220025 commented on #9818
hi @ntdt , This issue seems to be a good initiation of my journey towards contribution to FOSS projects.
Can you please assign this to me?

[2022-11-13 14:05] ntdt commented on #9818
I don't have the permission to assign an issue. I think you should look at the PR and try to remove the remaining points to make it ready to merge.

[2022-11-13 15:35] juliev0 commented on #9027
not stale

[2022-11-14 00:43] msuthar-splunk commented on #8498
Still an issue. Commenting to keep it relevant.

[2022-11-14 00:53] henrywangx opened #10029 "daemon container won't be delete if deadline exceeded happen"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

We use the daemon container of argo workflow, but the workflow happened

[2022-11-14 01:21] scravy commented on #9027
Bumping this issue. Also: https://drewdevault.com/2021/10/26/stalebot.html

[2022-11-14 01:21] scravy commented on #9630
Bumping this issue. Also: https://drewdevault.com/2021/10/26/stalebot.html

[2022-11-14 01:22] scravy commented on #9027
Yeah, this is not stale. What is? Bumping this issue. Also: https://drewdevault.com/2021/10/26/stalebot.html

[2022-11-14 07:47] turnerno8 commented on #852
Hi, I'm seeing exactly the same issue - was this bug fixed?

[2022-11-14 10:46] HRusby commented on #9934
I'm also experiencing this issue.
<details>
<summary>Example Workflow</summary>

[code]
</details>

My suspicion is that the deadlineExceeded node isn't having it's phase updated correctly here: https://github.com/argoproj/argo-workflows/blob/master/workflow/controller/steps.go#L249-L258
I think ErrDeadlineExceeded should have the same if not similar logic to ErrTimeout

Using timeout instead of a

[2022-11-14 11:18] DhwanishShah commented on #3474
Hi I want to contrubute in this. Can you assign me for this issue? @caelan-io @alexec @hadim

[2022-11-14 13:21] aarushisoni commented on #10012
Hi! I want to contribute to this issue.

[2022-11-14 13:33] aarushisoni commented on #9879
hi! i want to contribute to this issue

[2022-11-14 13:47] gitsan13 commented on #10020
Hi
Will you be accepting a PR request for this?
I would like to contribute to this enhancement:)

[2022-11-14 13:49] aarushisoni commented on #2185
I would like to work on this issue.

[2022-11-14 13:51] gitsan13 commented on #10017
Hi
Are you accepting a PR request for this?
I would very much like to work on this enhancement:)

[2022-11-14 13:52] aarushisoni commented on #10016
Hi! I want to contribute to this issue .

[2022-11-14 13:53] aarushisoni commented on #9937
HI! I would like to work on this issue.

[2022-11-14 14:12] MaxClercEricsson opened #10030 "Upgrade rpc module to v2.0.3"
# Summary

The actual version of rpc is depreciated and dates back several years.

The `go.mod`  use jcmturner/rpc.v0 v0.0.2 that is decrepeted . It would be interesting to upgrade to version jcmturner/rpc.v2 2.0.3

# Proposal

Upgrade hdfs v1.1.4 to 2.3.0  it should upgrade the jcmturner/rpc version to the jcmturner/rpc.v2 2.0.3

---

**Message from the maintainers**:

Love this enhancement propo

[2022-11-14 14:57] caelan-io commented on #3474
Great to hear. Please feel free to get started and open a pr once ready for review. I can support you on this @DhwanishShah

[2022-11-14 16:31] terrytangyuan commented on #10030
Would you like to submit a PR?

[2022-11-14 16:32] terrytangyuan commented on #9937
Please go ahead and submit a PR if you'd like to contribute.

[2022-11-14 16:33] terrytangyuan commented on #2185
Please go ahead and submit a PR if you'd like to contribute.

[2022-11-14 16:33] terrytangyuan commented on #9879
Please go ahead and submit a PR if you'd like to contribute.

[2022-11-14 18:37] elemental-lf commented on #9989
I thought that I was also affected by this issue or something similar. But for me the problem was running Kubernetes 1.25. Starting with Kubernetes 1.24 service account tokens are no longer generated automatically and I had to create an empty secret with appropriate annotation to get the token that Argo Workflows tries to read. See https://github.com/argoproj/argo-workflows/blob/master/docs/manual

[2022-11-14 19:04] tooptoop4 commented on #10020
yes @gitsan13

[2022-11-14 21:21] tooptoop4 opened #10032 "Archived workflows UI - labels tries to fetch every distinct value - very slow"
when i type the key of the label (ie s3-file) there is a +30 second delay where it then populates the dropdown with all distinct values of s3-file (1000s). i would like a faster way to enter the direct value, else have to construct the URL in browser

![image](https://user-images.githubusercontent.com/33283496/201767960-73eee471-00d4-484d-9f33-2006f71c61af.png)

[2022-11-14 21:53] terrytangyuan commented on #10032
This would be addressed in https://github.com/argoproj/argo-workflows/pull/9999. Would you like to test it out?

[2022-11-15 01:31] qizichao-dm opened #10033 "Bazel test killed using emissary executor"
### Pre-requisites

- [X] I have double-checked my configuration
- [x] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Bazel test get killed when using emissary runtime executor. It works we

[2022-11-15 06:37] SakshiT25 commented on #10030
Hey, I would like to work on this issue. But don't know how to proceed with it.

[2022-11-15 09:33] simox-83 commented on #9989
Thanks for your update @elemental-lf - in my case I am using Kubernetes 1.19 so I shouldn't be affected. But thanks for pointing this out, I'd missed this info in my initial post.

[2022-11-15 15:33] elemental-lf opened #10036 "Artifact GC is using default service account instead of configured one"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

While running a slightly modified version of the `handle-large-output-r

[2022-11-15 15:42] avestuk opened #10037 "Workflow controller metrics server only starts after leadership election is won"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I'd expect all workflow controllers to begin serving metrics but only g

[2022-11-15 16:34] gcsfred2 commented on #9996
This issue is important to me because the HTTP Template is the main reason I plan to use argo workflows. It is an important template to invoke and coordinate various REST endpoints within the workflow.

[2022-11-15 18:16] caelan-io commented on #10020
duplicate of #7912 I believe. There should be a presentation about this new plugin in an upcoming Argo Workflows community meeting.

See this repo for now: https://github.com/crenshaw-dev/argocd-executor-plugin

[2022-11-16 10:34] tooptoop4 commented on #10036
u need to configure 2nd block https://argoproj.github.io/argo-workflows/walk-through/artifacts/#service-accounts-and-annotations

[2022-11-16 11:50] mahi072 commented on #7838
I would like to work on this issue.

[2022-11-16 12:23] mahi072 commented on #5073
I would like to work on this issue.

[2022-11-16 14:53] gyanprakash48 commented on #5979
hello @alexec  i am still getting this error on v3.4.3 . Do i need to set any config parameter to fix this , I am using
podGC:
      strategy: OnPodCompletion
======================================
fatal error: concurrent map read and map write

goroutine 9610 [running]:
runtime.throw({0x21904f7?, 0x1e40460?})
        /usr/local/go/src/runtime/panic.go:992 +0x71 fp=0xc009aa7260 sp=0xc009aa7230 pc=

[2022-11-16 15:03] crenshaw-dev commented on #10020
This request sounds more UI-oriented, something my plugin can't do.

You'll need more information to construct a link to the resource. Specifically, you'll need the name of the Application which manages the resource, and the namespace in which that Application is installed (both used to construct the Argo CD application URL). That information might be available in a [tracking annotation on the res

[2022-11-16 15:08] gyanprakash48 commented on #9896
@shiraOvadia

[2022-11-16 15:19] alexec commented on #9696
There is an error in your console, but I don’t see the diagnostics.

Can you please add any Argo Server logs that show more details.

[2022-11-16 15:20] alexec commented on #10036
AFAIK artifact GC does not use `spec.serviceAccountName` it uses `spec.artifactGC.serviceAccountName`.

[2022-11-16 15:24] alexec commented on #10029
I think we’d need a workflow to reproduce this if we want to investigate it.

[2022-11-16 15:26] alexec commented on #10018
We changed the Git library in v3.4. That is probably the cause, but a revert isn’t going to happen anytime soon.

I think there might be a workaround. Have you tried `branch: ` instead?

[2022-11-16 15:26] alexec commented on #10018
Also, please make sure you don’t have both a label and branch with the same name. Git does allow that.

[2022-11-16 15:27] PacoDu commented on #9651
I also confirm the issue with v3.4.3, I cannot use any artifact input directory with a non-root user.

[2022-11-16 15:32] alexec commented on #8827
I don’t believe it is possible to change this behavior The templating merging works by marshaling the string into a struct. It cannot cater for arbitrary string due to whitespacing. Even if you managed to get it to work, any small change to white space would break it.

@RoryDoherty suggestion is looks like a good work-around.

[2022-11-16 15:33] alexec commented on #10016
You could add a new Typscript SDK like the Java or Python ones. They use the OpenAPI generator.

[2022-11-16 15:36] alexec commented on #10005
Please look at the argo server logs and see why it is not starting up.

[2022-11-16 15:41] alexec commented on #10002
The controller is SIGTERM the containers because it thinks the the main containers have all completed. This is probably because this line of code does not (cannot?) take into account the templating.

https://github.com/argoproj/argo-workflows/blob/6f76934c3210724ea1081efdd5d15f1447d13797/workflow/controller/operator.go#L1379

In the short-term, I don’t think you can template container names.

[2022-11-16 15:42] alexec commented on #10001
Work around - delete the malformed workflow or workflow template.

[2022-11-16 15:44] alexec commented on #10000
Cherry-picking too many issues to this release will risk introducing new issue. You’ll then become mired in fixes and bugs.

I’d suggest only cherry-picking a small number of issues where your confident the blast radius is limited.

[2022-11-16 15:50] alexec commented on #9998
Should work now.

Run book:

1. Login to Argo CD.
2. Open workflows app.
3. Delete ALL pods.

[2022-11-16 15:50] #9998 closed

[2022-11-16 15:51] alexec commented on #9996
The agent did not start. Please can you diagnose why that did not happen by looking at the pod diagnostics and logs.

[2022-11-16 15:59] alexec commented on #9987
#9238 tells why this happens.

It occurs here:

https://github.com/argoproj/argo-workflows/blob/67bcdb5e6da76a5f3dfb0fe71a16cf086e7ea26a/workflow/controller/workflowpod.go#L464

Essentially, there are two pods saying they’re running the work for the same node.

This func could be simplified to simply `return objectCount > 0`.

Would someone like to submit a PR?

[2022-11-16 16:23] simox-83 commented on #9989
I actually did this by using Chrome in Incognito mode and I get the Okta page back. But once I try to login, it just spins and then it returns `test-ce-argo-server-integration.k8s.cnqr.tech didn't send any data.ERR_EMPTY_RESPONSE`

We haven't changed anything on the Okta side, so I guess we are missing something in the request?

[2022-11-16 17:13] happy-machine commented on #10005
Hi this turned out to be due to the addition of runAsNonRoot: true, maybe the docs could mention this?

[2022-11-16 18:48] crenshaw-dev commented on #10000
Very small change that I think deserves to be cherry-picked back: https://github.com/argoproj/argo-workflows/issues/9966

[2022-11-16 18:57] kolorful commented on #3523
We are trying to adopt Argo-Workflow and everything we tested so far are fantastic, except the only blocker that kept us from migrationg is lack of workflow cross cluster failover feature.

E.g. A user can specify a list of clusters a CronWorkflow can run in and if the workflow fails in one cluster or if the remote cluster is down, it will get re-schedule in another cluster (a.k.a. failover).

It

[2022-11-16 20:29] terrytangyuan commented on #10000
This might be worth cherry picking to address security vulnerabilities: https://github.com/argoproj/argo-workflows/commit/4eb6cb7817d3b0f2dc9eeecb5856ec8bd10e9f98

[2022-11-16 20:58] terrytangyuan opened #10045 "Workflow stuck at running when failed to load a Git artifact"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [x] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Pod errored:

[code]
But the workflow is still running.

[code]

[code]

[2022-11-16 21:02] terrytangyuan commented on #10045
This was working for v3.4.0 but not working for v3.4.2+

[2022-11-16 21:12] terrytangyuan commented on #10045
Only init container terminated:
[code]

[2022-11-16 21:46] sarahhenkens commented on #9259
@alexec @rohankmr414, this is still broken due to the custom `http.Transport` created inside `newSso`. All the OAuth2 related API calls are missing the proxy information because of:

[code]

Which is used in:
[code]

The `DefaultTransport` of `http` sets the Proxy. And since `s.httpClient` was created with a custom Transport, its missing the proxy config. And as a result, the `s.config.Exchange` f

[2022-11-16 21:49] efekete commented on #10002
It used to work until I upgraded to newest version. So there is no intent to support it?

I just started rewriting all the workflows to **not** use containerSet. At this point there is just too many downsides of using them like not being able to output from any container besides main. That makes saving logs to S3 mostly useless and UI is working very strange with those same logs (although there we

[2022-11-16 22:31] qizichao-dm commented on #10033
I modified the workflow to only compile targets under //abseil/strings and I updated the log from main container.

Simply put, bazel raises sub-processes to compile code and run test binaries. My wild guess is that bazel and emissary has conflict on sub-process handling.

[2022-11-16 23:49] cal-pratt opened #10048 "Symlinks from input artifacts are not loaded"
### Pre-requisites

- [X] I have double-checked my configuration
- [ ] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

When loading an input artifact from a `.tgz` file, symlinks from the `.

[2022-11-17 00:03] cal-pratt commented on #10048
Note: I also saw this behavior loading an input artifact that I uploaded to my s3 store outside of argo. e.g.

[code]

[2022-11-17 00:12] terrytangyuan commented on #10048
This should've been fixed by https://github.com/argoproj/argo-workflows/issues/9948

[2022-11-17 00:15] cal-pratt commented on #10048
Any version info you'd like me to find out? (was reporting `v3.4.3` as that is what I see displayed in the UI).

[2022-11-17 04:59] Hakuyume opened #10049 "`runtime error: invalid memory address or nil pointer dereference`. when a step has both output parameters and exit hook"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

happened:

The argo controller raises `runtime error: invalid memory ad

[2022-11-17 11:09] fsiegmund opened #10051 "Event viewer UI not showing events for retriable worksteps"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

No events are shown when viewing events for a retriable workstep. Expec

[2022-11-17 11:42] elemental-lf commented on #10036
Thanks for the help, that was it! Missed that part in the documentation.

[2022-11-17 11:42] #10036 closed

[2022-11-17 14:51] shogohida commented on #10030
Hi @terrytangyuan, I decided to work on this issue and already made a draft pull request! Still waiting for the tests to pass

[2022-11-17 15:02] mspdt22 commented on #5806
I am encountering this issue. Sample spec:

[code]

When I `kubectl describe` the workflow event binding, I see under events:

[code]

[2022-11-17 16:02] juliev0 commented on #9295
I unassigned you, @dpadhiar, in case somebody else wants to pick this up (since we haven't been working on it)

[2022-11-17 18:11] alexec commented on #10002
You can save artifacts from any container. You must mount a shared volume and save your artifacts there. There should be an example in the docs.

There's has not been much of an ask for logs 🤷

[2022-11-17 20:01] Timvissers commented on #9139
same question here.
From testing it seems it's still necessary.. (which contradicts the description here iiuc)

[2022-11-17 21:44] wreed4 commented on #758
This still seems to be an issue with `jqFilter` in 3.3.8 unless i'm doing something wrong...

[2022-11-17 21:56] philippeboyd commented on #8224
@alexec any news on this? I can replicate the issue with a ternary operator

[code]

However, replacing the value with `value: "{{=item.b != nil ? item.b : 'BYE'}}"` works. Why can't we reference any `workflow.parameters`?

[2022-11-18 07:18] neo502721 commented on #6793
Is there any new parameter replace it ? I also found that not worked.

[2022-11-18 09:17] simox-83 commented on #9989
I think this might be fixed by [#10046](https://github.com/argoproj/argo-workflows/pull/10046)

[2022-11-18 11:23] tooptoop4 commented on #9607
crispy

[2022-11-18 13:34] CiprianAnton opened #10060 "Argo sees the pod in "Pending" phase after an error in init container occurs"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Noticed this behavior a couple of times, that if an error happens in an

[2022-11-18 14:36] terrytangyuan commented on #10060
This will be fixed by https://github.com/argoproj/argo-workflows/pull/10047

[2022-11-18 14:38] terrytangyuan commented on #10000
Regression fix worth considering cherry-picking https://github.com/argoproj/argo-workflows/pull/10047

[2022-11-18 14:57] leshcat opened #10062 "HTTP template does not respect podMetadata nor podSpecPatch"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

`podMetadata` nor `podSpecPatch` are not respected by HTTP template tha

[2022-11-18 17:08] terrytangyuan commented on #10030
Or run `go mod tidy`

[2022-11-18 17:09] #10051 closed

[2022-11-18 17:11] rajaie-sg opened #10063 "Pod hangs when container in ContainerSet is OOM Killed"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I have a containerSet with 2 containers. The first container runs a scr

[2022-11-18 17:12] terrytangyuan commented on #10062
Feel free to submit a PR to fix this. I believe it's similar to https://github.com/argoproj/argo-workflows/pull/9771.

[2022-11-18 21:02] terrytangyuan commented on #8498
@juliev0 @alexec What's the relationship between artifacts endpoints and this specific issue?

@basanthjenuhb Could you elaborate on why passing namespace as part of the field selector causes the issue?

[2022-11-18 22:18] katehmd commented on #7586
Facing this issue with v3.3.8 as well, nothing out of the ordinary other than a particularly long input argument.

[2022-11-18 23:34] juliev0 commented on #8498
Now I am re-reading the comments above. I see Alex was saying that the namespace wasn't part of the original endpoint, but I'm actually not sure what endpoint that is offhand. The new endpoint is this one:
`mux.HandleFunc("/artifacts/", artifactServer.GetOutputArtifact)` which does take a namespace.

[2022-11-18 23:46] juliev0 commented on #10015
Hmm, I guess I need to see the difference between what you're doing and what I'm doing in [this](https://github.com/argoproj/argo-workflows/blob/master/test/e2e/artifacts_test.go#L100) test. This test in fact includes a Workflow with a step referencing a WorkflowTemplate that defines the Artifact GC. It uses [this](https://github.com/argoproj/argo-workflows/blob/master/test/e2e/testdata/artifactgc

[2022-11-18 23:54] juliev0 commented on #10015
It looks like in the WorkflowTemplate you defined, the `OnWorkflowDeletion` is on the Workflow level, but it should be defined on the Artifact level I think since your Workflow references a particular step. (In general, things that are defined on the Workflow level in a WorkflowTemplate are not carried forward if a specific step is referenced in the Workflow.)
In that case, in your example, it see

[2022-11-19 00:38] juliev0 commented on #10015
I just ran the WorkflowTemplate and Workflow that you show (which references the step) and I don't see any finalizer on the Workflow. Is this what your "When run from a WorkflowTemplate:" Controller log represents?

[2022-11-19 00:48] juliev0 commented on #10015
Okay, I am able to reproduce the issue you're seeing if I reference the entire WorkflowTemplate like this:
[code]
This is probably what your log represents (and the same thing that I'm guessing is being executed when you say "when run as an instance through Argo Server GUI"). I will try to fix that.

[2022-11-19 11:34] Digtiq opened #10076 "`outputs.result` not working with jsonpath"
### Pre-requisites

- [X] I have double-checked my configuration
- [x] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

hello,
I have already tried many things but am in despair. Simple jsonp

[2022-11-19 19:47] crenshaw-dev opened #10077 "Sign images and SBOM for releases"
# Summary

Sign images and SBOM for releases to help verify the supply chain.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-11-19 22:10] terrytangyuan commented on #10077
This can be closed too?

[2022-11-19 22:20] #10077 closed

[2022-11-20 03:37] AlanD88 commented on #9474
@caelan-io This needs to be reopened.   I work in an air gapped environment, so when I tested this, i started up a session on my home computer and tested and just copied @isubasinghe template to do the quick test again.  When my internal system at work got updated v3.4.3 and I attempted to retest our workflow design I noticed this issue was actually still occurring.  Looking back through the templ

[2022-11-20 04:25] isubasinghe commented on #9474
Thanks for checking on this for me @AlanD88, I will re-open this in that case. I can confirm that actually using the values from step c does cause the issue to reappear.

[2022-11-20 15:32] agilgur5 commented on #10017
Jotting another note here: I did try [`argo submit`](https://argoproj.github.io/argo-workflows/cli/argo_submit/)'s `--dry-run` flag, but that doesn't template out the `parameters`, it just outputs the `Workflow` that will be passed to the Argo Server.
Adding `--parameter-file` just inserts top-level defaults to the template, but doesn't fully template it out.

[2022-11-20 16:49] rajaie-sg commented on #10063
Looking at the controller logs, I can see that it detects the container was killed, but the Pod and Workflow remain in the "Running" phase.

[code]

(workflow name is different from the example I shared)

more relevant log lines

[code]

[2022-11-20 19:15] aneja-arun1 commented on #9651
This is impacting us as well.
I am not able to access artifact input directory as that is having permission as follows -
drwx------  root root
No user other than root is able to access these files.

[2022-11-20 23:47] #10045 closed

[2022-11-20 23:47] #10060 closed

[2022-11-21 09:49] AndriySidliarskiy opened #10080 "Enabling serviceaccounts watch list permission"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

E1121 09:46:13.616793       1 reflector.go:138] pkg/mod/k8s.io/client-g

[2022-11-21 15:25] alexec commented on #10080
Version 0.20.8 does not exist. Please include the correct version, which can be found printed in the logs.

[2022-11-21 15:54] alexec opened #10083 "Make E2E test suite re-runnable (TestOutputArtifactS3BucketCreationEnabled)"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

One of the tests in the E2E cannot be re-run, that means the retry in t

[2022-11-21 16:03] alexec commented on #10083
Ah. This is actually a bug with `CreateBucketIfNotPresent`. If the bucket already exists, it fails. Which is should not.

@alexcapras FYI

[2022-11-21 16:40] juliev0 commented on #9953
So, I guess the `argo-cluster-role` in the install.yaml file from the [Releases](https://github.com/argoproj/argo-workflows/releases) page is what needs to be bound to the ServiceAccount being used. I can add some documentation for that. It's interesting, because that same `argo-cluster-role` needs to be used for access to other CRD elements for running Workflows, including `workflowtasksets` and

[2022-11-21 18:47] sarabala1979 commented on #10010
@JPZ13 Can you look at this issue?

[2022-11-21 18:56] sarabala1979 commented on #10037
@avestuk This is expected behavior.  Can you provide your usecase for why you need all other controllers need to start the metrics server?

[2022-11-21 19:01] caelan-io commented on #10080
From Slack convo:
- likely not best to set this as default
- perhaps open an issue in the Argo Helm repo to get support for an enhancement there: https://github.com/argoproj/argo-helm/issues

[2022-11-21 19:02] juliev0 commented on #10076
can you see if this is working on latest (3.4.3)?

[2022-11-21 19:30] imaskm commented on #8463
I am getting this issue while using the DAG example given here

https://pipekit.io/blog/argo-workflows-etl-examples

`
apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  generateName: dag-orchestrate-
  namespace: argo
spec:
  entrypoint: sbp
  archiveLogs: true
  templates:
    - name: sbp
      dag:
        tasks:
          - name: request-handler
            template: edge-input

[2022-11-21 22:10] JPZ13 commented on #10010
@isubasinghe @rohankmr414 Can I get one of you two to look into this? I'll be available to review it Wednesday or Friday if y'all can get a fix out before then

[2022-11-21 22:51] #9953 closed

[2022-11-22 02:30] neo502721 opened #10089 "'insecureSkipVerify: true' not work to skip CA validation when sso auth mode"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

http client with TLSConfig to allow skipping of CA validation if Insecu

[2022-11-22 05:02] rohankmr414 opened #10091 "move away from go-git"
# Summary

We changed the git library in v3.4 to [go-git](https://github.com/go-git/go-git/) which seems to have a lot of bugs and also is not actively maintained, the last release created for this project was on June 2, 2021, which was more than an year ago. Currently we are maintaining our own fork of go-git at [argoproj-labs/go-git](https://github.com/argoproj-labs/go-git). There's a similar pa

[2022-11-22 08:31] xahon opened #10093 "argo server doesn't respect --argo-server parameter"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I'm trying to run on a broadcast address 0.0.0.0 with the command `argo

[2022-11-22 09:38] Digtiq commented on #10076
same problem
output is:
test:{{=jsonpath(tasks.dummy0.outputs.result, $.test)}}

[2022-11-22 12:29] alexec commented on #10091
+1 to this. `go-git` does not appear to be as well maintained as would be desirable. Would you be willing to do an evaluation of the alternatives? One thing to consider is that `git` normally requires a fat (and much less secure) base image (e.g. `ubuntu`). Does `git2go` work? Do we need to use CGO? It’s fine to use CGO, just more complex.

[2022-11-22 12:35] alexec commented on #10093
Use `—port 9999` to change port.

[2022-11-22 12:49] alexec commented on #10033
It maybe that the sub-process exits is a strange way. We did address as similar issue recently with Python, which makes we want to ask you to double check to see if this fails on latest tag.

[2022-11-22 12:57] alexec commented on #10091
The reason for using go-git instead of the git binary is that the git binary was being installed using a package manager and therefore requiring a fat base image.

Can we install the git binary without a fat base image? I.e. standalone/statically linked binary. We would have a properly tested and supported git, without the downsides.

I think we could just have another `Dockerfile` target that bui

[2022-11-22 13:00] alexec commented on #9613
We need some help here. We’d like to look at alternatives to `go-git` because it is not being well enough maintained. One option is to install `git` as a statically linked binary. Some one needs to do a PoC on that to see how well it works. See #10091

[2022-11-22 14:34] xahon commented on #10093
I want to bind the server to all network interfaces in order to access it in host system (assuming i'm running the server under virtualbox system)

[2022-11-22 14:37] xahon commented on #10093
By default it binds to localhost and I'm not familiar with building complex network architectures. Currently, I need to reroute traffic from my network interface to localhost and I don't know how to do that. I expected `--argo-server` to allow specifying an address to bind as it says in the description in help.

[2022-11-22 16:21] mweibel opened #10096 "self reporting progress does not work because WorkflowTaskResult doesn't trigger workflow reconciliation"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

when a workflow is using [self reporting progress](https://argoproj.git

[2022-11-22 16:27] shogohida commented on #10030
I ran `go mod tidy` but it deletes the lines related to `rpc.v2 v2.0.3` although I want to keep them.... Which is the redundant line you mentioned?

[2022-11-22 17:56] juliev0 commented on #10076
okay, thanks for checking!

[2022-11-22 20:23] #10015 closed

[2022-11-22 21:13] ebuildy commented on #3887
Why argo-wk is not using golang template inside {{ }} ?

[2022-11-22 22:43] isubasinghe commented on #7896
@alexec see the long case here: https://github.com/argoproj/argo-workflows/blob/master/workflow/util/pod_name_v2_test.go
And this: https://github.com/argoproj/argo-workflows/blob/master/workflow/util/pod_name.go#L68

I am closing this because the generation seems to take care of this.

[2022-11-22 22:43] #7896 closed

[2022-11-23 13:38] sherifabdlnaby commented on #1932
/reopen

[2022-11-23 13:59] aarushisoni commented on #2185
Can you please tell me exactly in which file I have to look into for the issue

[2022-11-23 22:01] terrytangyuan commented on #10000
Many users are impacted by this. Please cherry pick this one.

[2022-11-23 22:42] brews commented on #2841
I ran into this issue today on v3.4.3.
`init` container's last words before death:

[code]

[2022-11-23 23:38] tooptoop4 commented on #8783
is there any workaround I can put in my wf yaml?

[2022-11-24 08:37] vermaxik opened #10102 "Openapi Docs: add possibility to pass the host parameter"
# Summary
In Argo Workflows UI we have possibility to see swagger openapi docs under `/apidocs/` url. That's pretty convenient, especially when you want to play with API on different stages.
Currently it's hardcoded to `localhost:2746`

What change needs making?
- openapi docs is generated by using `ARGO_SERVER` environment variable

# Use Cases

When would you use this?
- when I have different ho

[2022-11-24 08:53] LinuxSuRen opened #10103 "UI: i18n Proposal"
# Summary

It would be good to have i18n support on the UI page.

# Use Cases

As a Chinese developer, I'd like to contribute to the translation of Chinese. Just in case anyone might want to know more about me. I'm a maintainer of the [Jenkins Chinese plugin](https://github.com/jenkinsci/localization-zh-cn-plugin).

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a

[2022-11-24 14:12] kaaquist commented on #8224
up

[2022-11-24 20:33] #10096 closed

[2022-11-24 21:37] ognjen-it commented on #9905
Bump?

Does anyone work with this setup?

[2022-11-24 23:55] terrytangyuan commented on #10103
Thanks for the idea. Do you have any examples? I’ve only seen project website in different languages but not the actual UI.

[2022-11-25 00:01] LinuxSuRen commented on #10103
The Jenkins Chinese plugin could only work in a running Jenkins instance.

Another example is the website of Jenkins:
* English: https://www.jenkins.io/
* Chinese(outdated): https://www.jenkins.io/zh/

[2022-11-25 02:55] isubasinghe commented on #9861
@terrytangyuan can you please approve: https://github.com/argoproj/argo-workflows/pull/10084
This should be fixed afterwards

[2022-11-25 03:09] #10083 closed

[2022-11-25 03:09] terrytangyuan commented on #9861
Merged

[2022-11-25 06:27] LinuxSuRen commented on #10103
Additionally, I'd be happy to help with the i18n support for the Argo Workflow website if the Argo team believe it's ok.

[2022-11-25 09:27] vcarluer commented on #9692
Found a way to go around since problem until it is solved: ApiClient exposes get/setJSON() and JSON exposes get/setgson().
So when creating the ApiClient you can
* get the JSON.gson
* get back a newBuilder() from it (with previously setup Adapters)
* add a new Instant Adapter
* create() the gson back and set it to the ApiClient.JSON.gson.

Example in kotlin:
`  private val apiClient: ApiClient by

[2022-11-25 11:01] ibacalu commented on #9329
Any news on this?

[2022-11-25 11:42] mweibel commented on #9906
@isubasinghe @terrytangyuan unfortunately there is still a bug with the workflow status.

example workflow:
[code]

yields the following status:

[code]

The pod is named `nodename-bvd45-blender-3928099255` but the node ID is without the template name.

Can you please reopen or should I create a new issue?

[2022-11-25 11:53] isubasinghe commented on #9906
@mweibel could you please tell me what the desired pod name should be?
Is this the yaml output of "argo get"?
If so this issue is distinct from the original issue, is it better to create a new issue to keep them atomic?

[2022-11-25 13:02] mweibel commented on #9906
Yeah I suspected that the issue at hand is because the argo workflow status doesn't contain the right node IDs and that's why the CLI is unable to access it. I'll create a new issue with the details.

[2022-11-25 13:10] mweibel opened #10107 "Invalid node IDs in workflow.status"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Since #8748 pod names use the V2 naming which contains the template nam

[2022-11-25 13:11] mweibel commented on #9906
See #10107

[2022-11-25 17:00] terrytangyuan commented on #10103
I am not sure if it's a good idea to support different languages in the UI. I don't see that often.

Regarding the website, my main concern is that the translations can get outdated very easily since people are only contributing to the English docs.

[2022-11-25 17:01] #9861 closed

[2022-11-25 17:02] terrytangyuan commented on #10030
You can run `make lint STATIC_FILES=false` to reproduce

[2022-11-25 17:41] avasiliev opened #10109 "Delay memoization cache hit check until actual step execution"
# Summary

Don't check memoization cache hits on workflow startup, because delaying this check may save some computational resources.

# Use Cases

I would like to save some cluster resources not only when some work is already done and the artifacts are ready, but even when multiple jobs are trying to do the same task simultaneously.

Here is a simplified example:

[code]

Here I have two steps wh

[2022-11-26 06:10] Marvin9 commented on #9274
Can I work on it if anyone not working already?

[2022-11-26 17:56] shun095 opened #10119 "Unable to clone repo with ssh git submodule"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Running version v3.4.3 with quay.io/argoproj/argocli:latest or quay.io/

[2022-11-27 06:38] LinuxSuRen commented on #10103
Having multiple languages support is a quite common use case. I'm totally ok with only English or multiple languages support. But it will be easier to have more users if there is multiple languages support.

Speaking of the translations that might get outdated, I don't think this is a big problem. English still is the primary language.

[2022-11-27 19:38] Trollgeir opened #10121 "Missing `pattern` in OpenAPI spec"
# Summary

The OpenAPI-spec currently doesn't list regex patterns for several models which clearly has pattern validation.

Here's an example of the proposed enhancement:
[code]

# Use Cases

Convert the OpenAPI spec to functional python models where the pattern validation is propagated. Autogenerating `pydantic` models in python through `datamodels-codegen` does this really well.

If we run the `

[2022-11-28 04:29] louisnow opened #10122 "Occasional failure to create s3 client when loading artifacts"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Expecting artifacts to load consistently in the pod. However we notice

[2022-11-28 07:31] ognjen-it commented on #10107
I have the same error :)
Just finger up for the issue 👍🏻

[2022-11-28 08:25] alexec commented on #10107
Node IDs are opaque identifiers, not pod names. Not a bug.

[2022-11-28 08:25] alexec commented on #10119
Duplicate bug?

[2022-11-28 08:39] #9656 closed

[2022-11-28 08:40] ognjen-it commented on #10107
Hi @alexec, thank you for your message. I didn't read the issue well about nodeID.
However, there is a problem with podName.
Real pod name is **ognjen-587tr-template-1243882462** but podName in workflow.status is **ognjen-587tr-1243882462**. It's 100% bug.
Now, I don't know if I need to create new issue?

[2022-11-28 08:41] alexec opened #10123 "Release build broke due to Cosign"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Build should pass.

https://github.com/argoproj/argo-workflows/actions/

[2022-11-28 08:43] alexec commented on #10107
Ah. That is a bug. Can you raise a separate issue?

[2022-11-28 09:55] ognjen-it opened #10124 "Wrong podName in workflow.status"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

workflow.status contains podName, but wrong. It doesn't include the tem

[2022-11-28 10:05] ognjen-it commented on #10107
@alexec #10124 done :)

[2022-11-28 12:30] terrytangyuan commented on #10123
@34fathombelow

[2022-11-28 16:44] 34fathombelow commented on #10123
@alexec Were the Cosign secrets created?  It appears the secrets were not found, only the workflow-controller manifest was pushed as `latest` due to the failure.
![Screenshot_20221128_071725](https://user-images.githubusercontent.com/76892343/204332741-a831509e-b484-40c0-8aa3-65e3bef067b2.png)

[2022-11-28 17:01] terrytangyuan commented on #10121
Would anyone like to submit a PR to fix this?

[2022-11-28 18:33] #10089 closed

[2022-11-28 18:38] sarabala1979 commented on #10093
It looks like it is an enhancement. `argo server` doesn't support `--argo-server` option.  it can be enhanced with `--host` as a new option.

[2022-11-28 18:43] sarabala1979 commented on #10119
@shun095 looks like your argoexec version is wrong. Can you configure the `v3.4.3` on your deployment?
`time="2022-11-26T17:46:33.417Z" level=info msg="Starting Workflow Executor" version=untagged`

[2022-11-28 18:45] caelan-io commented on #10107
Closed per @alexec comment:

[2022-11-28 18:47] sarabala1979 commented on #10122
@louisnow it looks like your AWS credential provider is rate-limiting to add AWS credentials on your pods. Can you check your provider log?

[2022-11-28 18:54] caelan-io commented on #9274
@Marvin9 yes, please feel free to open a PR if you have time this week since this is a higher priority bug and went stale. We will ensure you have a reviewer once your PR is ready.

[2022-11-28 18:55] sarabala1979 commented on #9651
@aneja-arun1 @PacoDu can you uncomment the below lines and try?
[code]

[2022-11-28 20:20] #6529 closed

[2022-11-28 20:53] terrytangyuan commented on #10109
This is a great idea. Would you like to look into implementing this?

[2022-11-28 20:55] terrytangyuan commented on #10103
Have you checked if Google Translator or other translation services are already good enough? Manual translation seems very time-consuming and not maintainable.

[2022-11-28 21:03] jmeridth opened #10126 "Allow for markdown in workflow title/description in UI"
# Summary

Allow for markdown in title or description on workflows list in UI.  #6529 introduced the title and description text via annotations.  This is a quick follow and will allow markdown.

[code]

Results in:

# Motivation
This will allow markup and linking to occur on the UI title and/or description

# Use Cases

Example: linking back to the GitHub PR that issued the workflow in a CI exampl

[2022-11-28 21:15] jmeridth commented on #10126
I'm going to work on this one @terrytangyuan as a quick follow to #6529.  Thanks.  If I get bogged down or can't, I'll ask to release to others.

[2022-11-28 21:47] caelan-io commented on #9898
@GeunSam2 - Thank you for finding a bug and volunteering to work on it as your first issue on Argo Workflows!

Would you be able to open a draft PR with your first attempt? If you run into issues, please post a list of questions and we can respond to those. Thanks.

[2022-11-28 21:53] caelan-io commented on #10032
@tooptoop4 - a fix for this was recently merged (#9999). Would you be able to retest this issue using `latest`? If you're not able to retest, we'll close this issue as fixed. Thanks for your help!

[2022-11-28 22:07] terrytangyuan commented on #10032
We have tested it so we can close this now (strangely the PR didn't close this automatically).

Feel free to re-open if needed.

[2022-11-28 22:07] #10032 closed

[2022-11-29 01:16] yjabri opened #10127 "Python SDK PodDisruptionBudgetSpec Should Allow Integers"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I'm using the Python SDK for Argo Workflows (`pip install argo-workflow

[2022-11-29 01:23] yjabri commented on #10127
Of course it didn't occur to me until I posted this that I could simply do
[code]
to circumvent the issue.

[2022-11-29 01:43] LinuxSuRen commented on #10103
I'd rather read English directly instead of the automated translation version.

[2022-11-29 04:58] shun095 commented on #10119
@sarabala1979
Same result.

[code]

`quay.io/argoproj/argoexec:v3.4.3` docker image seems doesn't have git binary

[code]

[2022-11-29 05:21] shun095 commented on #10119
as my investigation, until v3.3.9 has git binary. Since v3.4.0 doesn't have.

[2022-11-29 06:54] jomach commented on #8168
I'm still hitting this on 3.4.1:

Error (exit code 1): open /var/run/argo/outputs/parameters/var/log/workdir/error_file_path.json: no such file or directory
[code]

[2022-11-29 07:07] estack commented on #6677
+1

[2022-11-29 08:18] superbrothers opened #10129 "Ignore SIGURG from argoexec emissary"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

SIGURG is frequently sent from `argoexec emissary` to users' commands.

[2022-11-29 09:54] chr-b commented on #9651
Hi @sarabala1979 ,
Adding `mode` and `recurseMode` to the input file artifact does not resolve the problem.

[2022-11-29 14:24] dmerrick opened #10130 "Massively parallel workflows causes panic"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I launched a workflow with 10k individual steps using `withSequence`. E

[2022-11-29 15:53] terrytangyuan commented on #10127
It's a known bug from open-api-generator. Closing as duplicate.

[2022-11-29 15:53] #10127 closed

[2022-11-29 15:54] JPZ13 opened #10134 "Speed up docker image builds"
# Summary
Docker image builds for Argo Workflows take a long time (10 minutes per image) on my machine (Macbook Pro M1). This makes reviewing PRs and developing a hassle. Fortunately, we can speed up the build times by using Buildkit and better caching in the Dockerfile

# Use Cases
This speeds up iteration time while:
1. Developing
2. Reviewing PRs

---

**Message from the maintainers**:

Love th

[2022-11-29 16:05] #9274 closed

[2022-11-29 16:56] terrytangyuan commented on #10123
@alexec @sarabala1979 Could you add the secrets? Otherwise, the release workflow fails.

[2022-11-29 17:06] avasiliev commented on #10109
Thanks. We may consider this, but have no idea where to start. Maybe someone can provide any hints?

[2022-11-29 17:16] washcycle opened #10137 "Retry doesn't respect dag parallelism"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

When a dag with parallelism fails and the user retires in the web GUI,

[2022-11-29 17:19] kostas-theo opened #10138 "Apply workflowMetadata before workflow Create"
# Summary

I can submit a workflow using a WorkflowTemplate and I can ensure my workflow has the correct annotations / labels using `spec.workflowMetadata`. Upon submitting, the Workflow resource is initially created _WITHOUT_ my required metadata. The [controller then updates](https://github.com/argoproj/argo-workflows/blob/master/workflow/controller/operator.go#L491) my workflow's metadata to in

[2022-11-29 17:57] terrytangyuan commented on #10109
The main logic is in https://github.com/argoproj/argo-workflows/blob/master/workflow/controller/operator.go

Search for "memoize".

[2022-11-29 18:41] caelan-io commented on #8591
@StevenYuanyuan - are you working on this issue already?

@mahi072 will take on if you no longer plan to.

[2022-11-29 19:37] sarabala1979 commented on #10123
secreted

[2022-11-29 21:11] StevenYuanyuan commented on #8591
Hi @caelan-io, @mahi072 can take on it

[2022-11-29 21:55] tooptoop4 opened #10139 "UI: retry just one step, not whole workflow"
is there anyway to just retry one step  (ie clicking through the UI)  in a workflow without resubmitting whole workflow (which would run all steps)?

cc @dpadhiar

[2022-11-30 01:59] 34fathombelow commented on #10123
I believe this issue can now be closed. Release workflow is now working.

`https://github.com/argoproj/argo-workflows/actions/runs/3578364822`
`https://github.com/argoproj/argo-workflows/actions/runs/3575972353`

[2022-11-30 15:32] RoryDoherty commented on #8832
@alexec Can this be reopened? I'm still seeing this behaviour in v3.4.3

[2022-11-30 17:16] terrytangyuan commented on #10130
Could you provide the controller log? I think this panic is recoverable since we explicitly handled this in our controller.

[2022-11-30 17:17] terrytangyuan commented on #10130
I wonder how this is possible: controller wants to update a workflow's status from `Error` to `Failed`.

[2022-11-30 17:17] terrytangyuan commented on #10123
Thanks!

[2022-11-30 17:17] #10123 closed

[2022-11-30 18:12] louisnow commented on #10122
Thanks for the quick response @sarabala1979, I'll check and get back!

[2022-11-30 19:23] jmeridth commented on #9904
Initial idea: This could possibly be an environment variable that updates the same flag for the `toggle artifacts` button on the UI.

![Screen Shot 2022-11-30 at 1 20 46 PM](https://user-images.githubusercontent.com/35014/204889403-a6d40867-e7b6-4df2-a0ba-68512ec1bcb9.png)

[2022-11-30 20:59] terrytangyuan commented on #10000
We can close this now.

[2022-11-30 20:59] #10000 closed

[2022-11-30 21:32] #9179 closed

[2022-11-30 22:19] #9294 closed

[2022-11-30 22:40] dmerrick commented on #10130
[danatest.log](https://github.com/argoproj/argo-workflows/files/10127800/danatest.log)

here's the workflow controller crashing. Interestingly it hasn't failed the 2 jobs I launched yet

[2022-11-30 22:52] qizichao-dm commented on #10033
I just tested with the latest release version (3.4.4) and the problem still exists.