[2022-03-10 19:40] sarabala1979 commented on #8116
![image](https://user-images.githubusercontent.com/33908564/157741731-6622b4e9-55fe-4a94-89c5-cc4938324627.png)

[2022-03-10 19:43] sarabala1979 commented on #8116
@alexec Please review the results

[2022-03-10 20:31] alexec commented on #8116
Can you attach the PNGs from pprof? allocs and heap underload
Can you also attach the Prometheus metrics which show the number of Kubernetes API requests made?

[2022-03-10 20:35] NikeNano commented on #7912
Do we intend to use `Python` or `go` for the officials plugins or the language don't matter in this case?

[2022-03-10 21:52] lbpdt commented on #7755
All tests are passing in #8128. Do you feel this needs more validation?

[2022-03-10 21:53] louisblin commented on #7755
All tests are passing in #8128. Do you feel this needs more validation?

[2022-03-10 21:55] blkperl commented on #7815
Closing until there is a migration path documented upstream.

[2022-03-10 21:55] #7815 closed

[2022-03-10 22:03] liuzqt commented on #8106
@alexec  that's what I'm using for now, and I want to do further template substitution like
[code]

but I guess that's not easy to do......I'll try to find some other workaround

[2022-03-10 22:20] sarabala1979 commented on #8116
![profile001](https://user-images.githubusercontent.com/33908564/157764392-20842ed8-a8f2-4a4c-9803-165579d23399.png)
![profile002](https://user-images.githubusercontent.com/33908564/157764413-d7b4dd5e-1bf9-4f33-996e-0e8f3cc490fd.png)
![profile003](https://user-images.githubusercontent.com/33908564/157764415-af15a7c2-ae22-4194-a08a-28f26ec290f6.png)
<img width="1671" alt="image" src="https://user-i

[2022-03-10 22:22] sarabala1979 commented on #8116
@alexec Do we have  any  previous   reference to compare  this result?

[2022-03-10 22:27] alexec commented on #7912
We don't have "official plugins" really. I expect many users to want to use Python as it is popular in ML community, which Argo is popular in. But there's not recommendation.

[2022-03-10 22:30] alexec commented on #8116
Good point. Did you see a v3.2  ticket?

[2022-03-10 22:31] alexec commented on #8116
Something interesting to me. We see 2x the "pod delete 404" to "pod delete 200". This tells me we are making many "pod delete" requests. This could be a bug. Maybe we could fix by checking the pod informer before deleting a pod?

[2022-03-10 22:32] alexec commented on #8116
I think that allocs and cpu profiles look fine. No hot spots jump out at me.

[2022-03-11 03:23] djshen commented on #8109
Hi @sarabala1979 , I have already uploaded the log in the post.

The following is the log when child 5 of wf 1 finishes.
[code]
`ReleaseAll` starts here and releases the holding lock of child 5. Note that the message "Enqueue the workflow argo/test-lock-cc5nn", which indicates that the first key in `pending` is from wf 1.
[code]
Remove the pending **workflow-level** keys.
[code]
`CheckWorkflowExis

[2022-03-11 05:33] tastelikefeet commented on #8093
Thanks! I will try

[2022-03-11 07:39] piyushsinghal3 commented on #8101
It worked with kubernetes version **1.15** & **1.16**
argo workflow version used - **3.2.8**

**kubernetes version -**
user:~$ kubectl version
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.4", GitCommit:"d360454c9bcd1634cf4cc52d1867af5491dc9c5f", GitTreeState:"clean", BuildDate:"2020-11-12T01:09:16Z", GoVersion:"go1.15.4", Compiler:"gc", Platform:"darwin/amd64"}
Server Vers

[2022-03-11 12:09] NikeNano commented on #7912
Updated the wording :)

[2022-03-11 14:00] ChaosInTheCRD commented on #8124
Personally I wouldn't agree. I think it has a negative impact on those that are trying to use the tool for the first time if they are hit by pre-release bugs and other things? Equally I think the deviation in the fact that Argo CD uses Stable release / semver tags for quick start envs whilst workflows uses master/`:latest`... I don't really see the upside? Maybe I am missing something. I would be

[2022-03-11 14:26] RyanW8 commented on #7897
Is there an ETA on when this will be completed & merged?

[2022-03-11 15:57] alexec commented on #8124
To your first point - it is a good hypothesis - but we’ve never had a user report a pre-release bug from using quick-start. Only edge case bugs tend to get through testing.

The only problem we seem to have is if users think they have pinned a version, but are in fact using latest.

Here are some thoughts:

* Should we stop publishing latest?
* Should latest be == stable?
* Is there any industry b

[2022-03-11 15:59] alexec commented on #8101
If the workflow is not being created with ttlStrategy, it is being stripped from the manifests because it is invalid. That suggests a syntax error in you JSON API request. Can you double check this is correct? All JSON is upper-case or whatever it needs to be?

[2022-03-11 16:25] djshen commented on #8109
A simple fix to this bug is to ensure that the first item in `pending` is exactly the one trying to acquire the lock. The only thing to do is to swap the items if `holderKey != nextKey`.

https://github.com/argoproj/argo-workflows/blob/v3.2.9/workflow/sync/semaphore.go#L176-L186
[code]

[2022-03-11 17:12] sarabala1979 commented on #8109
I will take a look

Sent from my iPhone

[2022-03-12 07:11] MagicFrogSJTU commented on #8103
Sorry my bad.
For those having the question:
[code]

[2022-03-12 07:11] #8103 closed

[2022-03-12 09:45] Colstuwjx commented on #7781
Hi @terrytangyuan , I found that the exception is thrown at [get_type_error](https://github.com/argoproj/argo-workflows/blob/master/sdks/python/client/argo_workflows/model_utils.py#L1422), I tried to fix this issue by adding the following issue:

[code]

And it didn't panic anymore, instead, it returned an empty string.

[2022-03-12 12:29] Hunter-Thompson commented on #7469
Keep

[2022-03-12 14:47] LingClassmate opened #8134 "A beginner has a problem in a real project and asks for a solution."
My workflow:
start——>Task1——>Task2——>Task3——>end

My application scenario:
After Workflow Task1 is executed, wait for Events to trigger task2. After Task2 is executed, you do not need to trigger task3.

I want to be able to execute the Workflow task first, and then set an events in the workflow to trigger the subsequent task flow.

Thank you very much!

[2022-03-12 20:10] NikeNano commented on #8031
@Colstuwjx could you elaborate on how you see the `skip` functionality to work? Would this be something that is similar to suspend or manual approve where a yes/no would result in that the step is skipped or not? How do you see outputs being handled if they are required as input in downstream steps? Thanks.

[2022-03-12 20:30] NikeNano commented on #8031
@alexec would it make sens to extend the "TemplateTypeSuspend" to allow for inputs from the user and propagate as output, this would allow the use of conditionals for to skip actions?

[2022-03-12 21:33] NikeNano commented on #8031
I realised that this is already available example [here]( https://github.com/argoproj/argo-workflows/blob/master/examples/suspend-template-outputs.yaml)

[2022-03-12 21:36] NikeNano commented on #8031
I think the `skip` functionality can be achieved combining `suspend` with outputs and conditionals, will try it out see if I can create an example.

[2022-03-13 01:48] Colstuwjx commented on #7781
I've tried the raw http api, it also didn't work, returned nothing:

[code]

And when I turned to use argo cli, it worked again:

[code]

What's the difference between argo cli and raw http api?

[2022-03-13 02:25] Colstuwjx commented on #7781
I'm not sure which api the argo-cli used, but according to the network request, I could confirm that we could view the logs via artifacts api:

[code]

Since our python client has been hardcoded [response_type as None](https://github.com/argoproj/argo-workflows/blob/master/sdks/python/client/argo_workflows/api/artifact_service_api.py#L410) while it call with `get_output_artifact`, I have no idea a

[2022-03-13 02:51] Colstuwjx commented on #8031
Here are two questions that I'm concerning about:

1. If we suspend a workflow and resume it, argo would skip the current action and just set it as succeed, and turn to the next step, right? Why? It looks weird! The general workflows which I've seen are all default to stay with the same action and suspend-resume did same work like `retry`.

2. As the general workflows design to `retry` rather than

[2022-03-13 03:25] terrytangyuan commented on #7366
Bump

[2022-03-13 13:15] NikeNano commented on #8031
[code]

To run it:

[code]

then user eaither
[code]
or
[code]

and resume it.

[code]

I don fully follow on what you refer to with

I think this will give the user the possibility do decide it or not. @Colstuwjx.  Concerning if retry don't work in this conext I will have to verify that.

I would be interested to get your opinion about having a dedicate template for this or relying on the current

[2022-03-13 17:07] dinever opened #8137 "Clarify docs for daylight saving time"
Edit: the docs are valid, just need minor clarification.

Hi,

Last night one of our cron job scheduled at 2:00 am wasn't triggered because of the daylight saving time. This is because the clock went from 1:59 am directly to 3:00 am, so technically 2:00 am didn't exist.

To reproduce this issue, I changed my local time to around 1:50am, and ran the following code:

[code]

Here's the output:

<img

[2022-03-13 21:10] NikeNano commented on #7860
I think it would begert if it is possible to have plugins that lived outside the scope of a workflow in ordet to allow plugins to persist over multiple workflows.

[2022-03-14 01:01] sarabala1979 commented on #8134
There are two  options
1.   Use the `suspend` template  (resume suspend   template using argo  API  call)
2.  Have your own   container (Waiting for the event  to  exit   it)

[2022-03-14 01:05] #8137 closed

[2022-03-14 03:37] wujayway opened #8139 "AgentExecutor: Requeue wrong tasks."
## Summary
What happened/what you expected to happen?
When I test agent executor, I find if task worker execute wrong if task happens requeue.
So I dig into the code.
https://github.com/argoproj/argo-workflows/blob/master/workflow/executor/agent.go#L118
Here is the story.
There is two tasks in the taskQueue. Let's annotate _task1_ and _task2_.
the taskWorker first treat _task1_ and _task1_ replies

[2022-03-14 03:41] wujayway commented on #8139
@alexec Please check it.
I will push a pr, if my conclusion is right.

[2022-03-14 13:28] NikeNano commented on #7912
I have not managed to get hold of @UrielCohen456 but will start the work for this.  Where do we want to have the plugin? Which repo?

[2022-03-14 14:18] jakedaford opened #8140 "Further clarify docs for daylight saving time"
To piggyback on @dinever issue (https://github.com/argoproj/argo-workflows/issues/8137) and PR (https://github.com/argoproj/argo-workflows/pull/8138) I think the language describing the behavior during daylight saving is still a little off.

"Daylight Saving (DST) is taking into account when using timezone. This guarantees argo only schedule workflow once when the clock moves forward or back."
htt

[2022-03-14 14:49] alexec opened #8142 "Endpoint plugin type"
# Summary

Currently the only type of plugin is a `sidecar`, one which is started next to the agent. This has benefits:

* Fully managed start and stop.
* No need to worry too much about network problems.
* Blast raidius of workflow is just the plugin.
* Network packets are confined to localhost.

For other users they might want to run the plugin elsewhere.

* The plugin is heavy-weight, so runnin

[2022-03-14 14:50] alexec commented on #7860
#8142

[2022-03-14 15:06] alexec opened #8144 "Require authentication for plugins"
Currently plugins do not require authentication. As pod listen permissively by default (which is a dangerous security posture that Kubernetes takes), this allows any other pod in the cluster to make inbound requests to it. We should require authetication.

[2022-03-14 15:32] NikeNano commented on #7912
Dont fully follow now? Do you refer to that what @UrielCohen456 has created is sufficient?

[2022-03-14 15:51] piyushsinghal3 commented on #8101
@alexec yeah, i checked the input json workflow content again, that looks good to me and it is working as expected with lower versions of kubernetes like **1.15/1.16** but not with latest kubernetes versions.

so we doubt something is not appropriate in between the argo client and kubernetes version.

Below you can see the workflow.yaml content that is being used by argo workflow client (golang) t

[2022-03-14 15:54] AgricaSopraSteria opened #8146 "Workflow killed by ttl strategy"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

Launch a workflow with a duration longer than ttl strategy
Example with a ttl set to 300 secs :

1st Run :
One Workflow with followings sequential steps :
step 1 : sleep 60
step 2 : sleep 240
step 3 : sleep 60
All steps are completed.

2nd Run (just after compl

[2022-03-14 17:48] #8140 closed

[2022-03-14 19:45] rocketspacer commented on #4767
@alexec can you confirm whether `spec/podSpecPatch` is deprecated? I tested and it only seems to work on `Workflow`, not on `WorkflowTemplate`

[2022-03-15 00:05] #8126 closed

[2022-03-15 16:35] sarabala1979 commented on #8146
@AgricaSopraSteria Can you try v3.2.9 or v3.3.0?

[2022-03-15 16:44] #8123 closed

[2022-03-15 16:44] dpadhiar commented on #8102
@JPZ13

[2022-03-15 17:09] blkperl opened #8158 "Improve contributing guide for e2e tests"
# Summary

There are no docs for contributing e2e tests or running them locally. It would help new contributors add test coverage or debug existing tests if the process was clear.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-03-15 17:25] alexec commented on #8158
https://github.com/argoproj/argo-workflows/blob/5efc9fc995ac898672a575b514f8bfc83b220c4c/test/e2e/executor_plugins_test.go#L1

[2022-03-15 17:27] alexec commented on #8158
[code]

[2022-03-15 18:32] sarabala1979 commented on #8101
@vivekthangathurai Can you try to submit the workflow with `argo` cli `argo submit <yaml>`?
looks like some stale CRD or Argo server is in your cluster which doesn't have `ttlStrategy`

[2022-03-15 18:38] iamdinesh opened #8159 "Logs from s3 / min.io is not in order"
## Summary

What happened/what you expected to happen?

When i view the workflow logs from s3 / minio, it is not in proper order. First few seconds workflow logs are available in the bottom of the file and the last part available in the top. But we i get the logs from pods, it is proper order. Same happening in argo ui as well.

APIs from argo UI:

/api/v1/workflows/<namespace>/<workflowname>/log?

[2022-03-15 22:15] withnale commented on #1932
Can I clarify something with this... One of the things that is nice about `volumeClaimTemplates` is that these are known by the workflow and are cleaned up correctly whatever the state of the pipeline - if it fails or succeeds.

Is the same true of the workaround? If I use a resource step, do I need to make sure the cleanup step will trigger whether the pipeline succeeds or fails, or does argo kno

[2022-03-15 22:21] asaunders57 opened #8160 "Error submitting workflow via argo cli when passing --parameter-file flag"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
Connected to the Argo server API by setting the environment variables found in the User Info section of the Argo Workflows UI.

Attempted to submit a Workflow from an existing WorkflowTemplate:
`argo --loglevel debug s

[2022-03-16 01:01] berlinsaint commented on #7860
kind of understanding that. thanks

[2022-03-16 05:56] Mins opened #8161 "Artifact uploads do not have proper content-encoding metadata set"
## Summary

The default behavior for uploading artifacts is to first tar and gzip them. For uploads to S3, the `content-encoding` is not properly detected when the filename ends with `.tgz`. This is because Go's [built-in mapping table](https://go.dev/src/mime/type.go) is rather basic.

[Argo's S3  PutFile](https://github.com/argoproj/pkg/blob/0708446cf474068ebd2ee84183fb1b9798ae9e6c/s3/s3.go#L174

[2022-03-16 07:45] szamuboy commented on #8124
I'm fixing an Argo deployment right now that was caused by this issue. We use GitOps for Argo workflows deployment. Even though we deploy from a specific tar.gz release, the deployment fails for older releases. The container with the latest image expects some CRDs which are missing from our current release.

[2022-03-16 12:19] AnuragThePathak commented on #7618
Hello can I work on this issue?

[2022-03-16 13:49] jinnovation commented on #4565
+1 to this. @alexec, I -- and I'm sure others -- would appreciate a general explanation of what the issue and corresponding fixes ended up being. That'd help teams like mine who run into this issue figure out if upgrading our version of Argo is the right remediation.

I understand though that this issue was closed nearly two years ago, so that might be difficult. :P

[2022-03-16 14:12] alexec commented on #8161
Could be achieved by copying the file from the argoexec-builder stage in the Dockerfile?

[2022-03-16 14:13] alexec commented on #8124
https://argoproj.github.io/argo-workflows/installation/

[2022-03-16 14:17] alexec commented on #4565
Please read this:

https://blog.argoproj.io/architecting-workflows-for-reliability-d33bd720c6cc

[2022-03-16 14:44] jinnovation commented on #4565
Helpful, thank you.

[2022-03-16 15:19] sidpalas commented on #7466
I am experiencing this issue on GKE clusters running `argoproj/workflow-controller:v2.12.9` with the Docker executor (as a part of a Kubeflow installation).

[2022-03-16 16:10] Mins commented on #8161
Ah yes, Debian has the [media-types](https://packages.debian.org/search?keywords=media-types) package that can be installed to get `/etc/mime.types`. Then we should be good to copy from the `argoexec-build` stage into the final `argoexec` image.

[2022-03-16 16:12] sarabala1979 commented on #8160
@asaunders57 Can you try without argo server? looks like the file is not able in your current folder/doesn't have permission to open it.

[2022-03-16 16:26] whynowy commented on #8161
Would you like to submit a PR for it?

[2022-03-16 20:44] bensternlieb commented on #6399
Same issue.  Used to use this simple
[code]

I'd use the create_namespaced_custom_object mentioned above, but guess the Argo folks say not too?  Anyway - exposing the Argo Server for me is not possible.  Might have to do something pokey like exec `Argo server` in a context and then connect to it via `argo_workflows.Configuration(host="https://127.0.0.1:2746")`

[2022-03-16 22:01] hbrewster-splunk opened #8167 "Namespace Delegation Failing v3.3.0"
## Checklist

* [X] Double-checked my configuration.
* [X] Tested using the latest version.
* [X] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

I have configured namespace delegation via this doc: https://argoproj.github.io/argo-workflows/argo-server-sso/#sso-rbac-namespace-delegation

I can confirm that SSO_DELEGATE_RBAC_TO_NAMESPACE=true is correctly set on

[2022-03-16 23:27] wdma opened #8168 "Argo workflows is trying to save the artifact to /var/run/argo/outputs/artifacts. Where is this specified?"
I have just upgraded to Argo 3.3 and am encountering a strange result. Not certain if this is a bug or expected.  I have specified that artifacts output to /tmp/output.tgz but the workflow is producing an error when it tries to save to   /var/run/argo/outputs/artifacts/tmp/output.tgz.tgz

Question: Where is this specified and what is the correct way to reconcile this?

More detail can be found her

[2022-03-16 23:39] alexec commented on #8167
Not enough information. Namespace RBAC only applies API request with a namespace. Can you please verify that is what you are making and attach logs?

[2022-03-16 23:40] #7390 closed

[2022-03-17 00:29] hbrewster-splunk commented on #8167
Happy to provide as much detail as I can: For example. `argo-workflows`is integrated with SSO okta. Let us say `argo-workflows` is deployed in the `argo` namespace.

Provided this service account, defined in `test` namespace:

`apiVersion: v1
kind: ServiceAccount
metadata:
  name: test-sa
  namespace: test
  annotations:
    workflows.argoproj.io/rbac-rule: "'sg-okta-group' in groups"
    workflow

[2022-03-17 00:51] alexec commented on #8167
Can you please add the URLs from your web console.

[2022-03-17 00:53] alexec commented on #8168
To help test a theory, can you please try using the pns executor?

[2022-03-17 02:44] alexec commented on #8167
@basanthjenuhb could you please help?

[2022-03-17 02:45] alexec commented on #8159
Interesting... logs seem to be ordered stdout then stderr.

[2022-03-17 02:46] alexec commented on #8139
Looks good. Please send PR!

[2022-03-17 02:49] alexec commented on #8159
Ok. This is a bug in the emmissary. I'm not sure how to fix this.

[2022-03-17 02:50] alexec commented on #8159
The problem is here:

https://github.com/argoproj/argo-workflows/blob/6d6e08aa826c406a912387ac438ec20428c7623d/workflow/executor/emissary/emissary.go#L120

[2022-03-17 02:50] #8118 closed

[2022-03-17 02:50] #8117 closed

[2022-03-17 02:53] alexec commented on #8032
@dpadhiar say he does not know much React. But I can help. It is a steep learning curve!

To start out, I suggest learning some basics to get started:

* https://go.dev/tour/welcome/1 is a really great intro to Golang (allow 2-3hrs)
* https://reactjs.org/tutorial/tutorial.html is the React tutorial

Let me know your thoughts.

[2022-03-17 03:02] rohankmr414 commented on #7997
Thank you for helping me

[2022-03-17 03:02] #7997 closed

[2022-03-17 03:07] hbrewster-splunk commented on #8167
I'm not 100% sure what you are seeking, the output of all the network calls on chome inspector? Our argo workflows UI is privately hosted

[2022-03-17 04:36] basanthjenuhb commented on #8167
@hbrewster-splunk Best guess

[2022-03-17 04:49] basanthjenuhb commented on #8167
If both of the above are not the cause, we can do a debugging session over a zoom call if you don't mind

[2022-03-17 05:33] hbrewster-splunk commented on #8167
I figured it out. May I recommend that you update the documentation?

https://argoproj.github.io/argo-workflows/argo-server-sso/#sso-rbac-namespace-delegation

This documentation implies that configuring `user-default-login` is an optional/recommended setup, not critical.

Your comment here regarding  "only applies API request with a namespace." helped me understand it. This info would be benefici

[2022-03-17 08:21] Mins commented on #8161
@whynowy I've created a PR https://github.com/argoproj/argo-workflows/pull/8171 for this. It turns out that the base `golang:1.17` image already contains the `/etc/mime.types` file as @alexec suggested, so there is no need to add extra packages 👍

[2022-03-17 08:24] am-sebastiankunze opened #8172 "Bucket-only artifacts"
Hello.

I am configuring an artifact repository following the documentation [here](https://argoproj.github.io/argo-workflows/artifact-repository-ref/) as follows:
[code]

Whenever I overwrite the key `bucket` as described [here](https://argoproj.github.io/argo-workflows/key-only-artifacts/), the artifacts are still uploaded in bucket `default`.

[code]

I order to further debug it, I removed the k

[2022-03-17 08:59] Colstuwjx opened #8173 "resume or stop completed workflow should throw exception"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

Happened: when I called argo workflow resume and stop api towards a completed workflow, it didn't panic, and if I turn to call it with suspend or retry, it would complains sth like:

[code]

[code]

Expected: we shoul

[2022-03-17 09:19] 007vasy commented on #4209
@alexec, @sarabala1979 can you point me to any docs on what is the best way to do backfill?

[2022-03-17 10:14] swafa commented on #6645
Are there no new updates regarding that problem or anyway to avoid it? It's quite disappointing to install a correctly-configured latest version of Argo (v3.3) and still see that issue.

[2022-03-17 13:01] jmclean-starburst opened #8174 "IRSA for S3 Archival not working - v3.3.0"
## Checklist

* [ ] Double-checked my configuration.
* [ ] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
Configuring Argo Workflows to leverage IRSA for log archival with AWS S3 is not working.

What version are you running?
v3.3.0

## Diagnostics

Paste the smallest workflow that reproduces the bug. We must be able to ru

[2022-03-17 15:00] #8161 closed

[2022-03-17 15:01] alexec commented on #8167
@hbrewster-splunk would you like to submit a PR to improve the docs?

[2022-03-17 15:02] alexec commented on #8172
Can I please ask:

* Can you try this with a workflow, i.e. side-step the WorkflowTemplate.
* Attach logs

[2022-03-17 15:31] jmclean-starburst commented on #8174
not sure, i havent tried...just been pushing though v3.3.0 stuff right now; I can give it a whirl and report back!

[2022-03-17 15:31] alexec commented on #8168
I get this error:

[code]

I think your message is a red herring.

[2022-03-17 15:35] wdma commented on #8168
with PNS, I get a different error

[code]

[2022-03-17 15:36] wdma commented on #8168
Yes, the error in the logs is "permission denied"  What does it say is the problem in kubectl describe?

[2022-03-17 15:37] blkperl commented on #7586
@alexec I think the suggested patch will not work because `ARG_MAX` is the total size of all environment variables and arguments where originally we thought it was the max length of a single variable.

[2022-03-17 15:46] alexec commented on #8168
`/var/run/argo/outputs/artifacts` is an implementation detail. When your artifact is not located on a shared volume mounted on the main and wait containers at `/var/run/argo`. The emissary binary on your main container copies this file to this volume so that the wait container.

Does that answer your question?

[2022-03-17 15:53] wdma commented on #8168
I think you are telling me that I am implementing the ArtifactRepository wrong(?)  If no, sorry, I need more information.

If yes, I am following the instructions here:
https://argoproj.github.io/argo-workflows/configure-artifact-repository/
[code]
Here is my implementation.  Can you please tell me what to fix or where to start reading

[code]

[2022-03-17 15:56] blkperl commented on #7795
@alexec are we ready for PRs that remove this to be opened?

[2022-03-17 16:03] jmclean-starburst commented on #8174
workflow-controller log
[code]

wait container log
[code]

[2022-03-17 16:09] jmclean-starburst commented on #8174
wait container logs got chopped off...if i try select all with a scroll, the select unhighlights. the top fo the logs have
[code]

[2022-03-17 16:10] wdma commented on #8168
Ah.  That made a difference.  The error now is this (below).  I think I still do not have a full test because Argo is using "Post" rather than "POST" Note the caps.

[code]

[2022-03-17 16:21] jmclean-starburst commented on #8174
more debug; I noticed the below configMap as well, but its not mentioned in the docs - https://argoproj.github.io/argo-workflows/configure-archive-logs. I assumed the `workflow-controller-configmap` would take precedence over all other configs

[code]

[2022-03-17 16:30] sarabala1979 commented on #8174
@jmclean-starburst artifacts Repo is not pointing to aws. it is pointing to minio:9090

time="2022-03-17T16:01:43.640Z" level=info msg="Saving file to s3" bucket=my-bucket endpoint="minio:9000" key=hel
lo-world-parameters-zh4nm/hello-world-parameters-zh4nm/main.log path=/tmp/argo/outputs/logs/main.log
time="2022-03-17T16:01:43.646Z" level=info msg="not deleting local artifact" localArtPath=/tmp/ar

[2022-03-17 16:36] jmclean-starburst commented on #8174
omg...i completely missed this line
[code]

[2022-03-17 17:06] terrytangyuan commented on #7795
@blkperl I actually have something in progress locally but let me know if you’d like to work on it and I’ll re-assign to you.

[2022-03-17 17:12] alexec commented on #7795
We also need to remove other executors. Plenty for all.

[2022-03-17 17:12] #8158 closed, assigned to nobody

[2022-03-17 17:33] blkperl commented on #7586
@alexec do you mean docs on ARG_MAX? I think this is the best option https://www.in-ulm.de/~mascheck/various/argmax/

[2022-03-17 17:34] blkperl commented on #7795
@terrytangyuan I will grab a different one, I didn't notice you were assigned 👍🏻

[2022-03-17 18:34] #8168 closed

[2022-03-17 18:41] a-muk commented on #8032
Thank you. Do you suggest me to start with both of them together now?

[2022-03-17 19:00] DWSR opened #8178 "JSON Logging"
# Summary

Argo Workflows is one of the few Argo tools that doesn't support JSON logging.

# Use Cases

When trying to naively parse WF logs using log aggregation tools

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-03-17 19:02] apicht opened #8179 "UI: Login page shouldn't show irrelevant authentication methods"
# Summary

- Login page shouldn't show irrelevant authentication methods.
- Currently, with `--auth-mode=sso` the login page prompts the user to choose an authentication method (SSO or client auth). This is confusing to end users and IMO if SSO is configured it should skip the login page entirely and execute the SSO flow.
- This messaging is also confusing to end users: "It may not be necessary to

[2022-03-17 19:07] DWSR commented on #8178
@terrytangyuan Is that available in 1.2? It's not in 1.1:
[code]

[2022-03-17 19:08] terrytangyuan commented on #8178
You are looking at Argo Rollouts, not Workflows.

[2022-03-17 19:08] DWSR commented on #8178
🤦  I shall commit sudoku.

Thanks!

[2022-03-17 19:08] #8178 closed

[2022-03-17 19:10] wdma commented on #8168
Thank you!  I am on to the next error.

[2022-03-17 19:26] alexec commented on #8032
It is up to you. You might find the React one more useful.

[2022-03-17 19:27] a-muk commented on #8032
Okay. Thank you.

[2022-03-17 20:49] terrytangyuan commented on #7877
Check out the existing documentation: https://argoproj.github.io/argo-workflows/running-locally/

[2022-03-17 20:50] terrytangyuan commented on #7877
There are many other documentation exist for developers. See "developer guide" section in https://argoproj.github.io/argo-workflows/

[2022-03-17 21:13] #7906 closed

[2022-03-17 21:31] #8144 closed

[2022-03-17 22:07] alexec opened #8180 "v3.3: "'workflow.duration' is not available as a real time metric""

[2022-03-17 22:08] alexec commented on #8180
fix: trim spaces while parse realtime metrics value. Fixes #7819 (#7856)

[2022-03-17 22:12] alexec commented on #8180
https://github.com/argoproj/argo-workflows/blob/537dd3be6bf93be37e06d768d9a610038eafb361/workflow/controller/operator.go#L3249

[2022-03-17 22:13] aychen99 commented on #3523
Hi @alexec , this feature looks really promising, thanks for working on it! Just curious though, roughly how long do you think it'll take to release this officially? My team is looking to make use of multi-cluster workflows in the future, so we'd appreciate any estimates you can provide.

[2022-03-17 22:14] alexec commented on #8180
fix: resolve resourcesDuration (#7299)

[2022-03-17 22:17] alexec commented on #8180
@kennytrytek I know your commit is old, but it has token 6 months to get to v3.3.

I believe it has introduced a bug. Would you be willing to investigate and fix?

[2022-03-18 01:04] terrytangyuan commented on #8180
This should be fixed by https://github.com/argoproj/argo-workflows/pull/8181

[2022-03-18 02:29] #8180 closed

[2022-03-18 02:31] #7402 closed

[2022-03-18 02:38] Colstuwjx commented on #8173
Yes, I think we should return error in these two cases, same to retry and suspend.

[2022-03-18 04:20] Colstuwjx opened #8182 "argo-workflow didn't implement a full workflow logic"
# Summary

What change needs making?

For the workflow phase and node phase, we didn't implement a full workflow logic, e.g.

1. if we resume or stop a completed workflow, it should panic since workflow state machine wouldn't allow transform state from ``, see issue #8173
2. if we suspend a workflow, it will set suspend=true in the workflow status, but the phase is still be `Running`, I think it d

[2022-03-18 05:02] sarabala1979 opened #8183 "v3.3.1 Cherry-pick"
- [x] Saravanan Balasubramanian: fix: workflow.duration' is not available as a real time metric (#8181) fbb43b242
- [x] Alex Collins: fix: Authentication for plugins. Fixes #8144 (#8147) 0e707cdf6
- [x] Alex Collins: fix: Correctly order emissary combined output. Fixes #8159 (#8175) e7008eada
- [x] Alex Collins: fix: Add instance ID to `workflowtaskresults` (#8150) 9101c4939
- [x] Ming Yu Shi: fix

[2022-03-18 05:27] sarabala1979 commented on #8183
@alexec  can you help me to cherry pick below commit?
Alex Collins: fix: Authentication for plugins. Fixes https://github.com/argoproj/argo-workflows/issues/8144 (https://github.com/argoproj/argo-workflows/pull/8147) https://github.com/argoproj/argo-workflows/commit/0e707cdf69f891c7c7483e2244f5ea930d31b1c5

[2022-03-18 05:38] berlinsaint opened #8185 "Template not executed when requeue time arrived."
I have implement a plugin to create volcano Job,  while the job has been created success,but

executor' failed:
[code]

And argo get return:
![image](https://user-images.githubusercontent.com/10629930/158943677-cbcc7b3f-54e3-4049-b85e-b273fbe08e82.png)

My plugin demo code is

[code]
i think i have return the correct respone using  `requeue`, but it seems not call the execut api after 10 seconds..

[2022-03-18 07:18] NikeNano commented on #8031
Do you have some thoughts on this @alexec?

[2022-03-18 09:33] eriadam commented on #3409
I ended up using base64 encoding/decoding on the fly using `sprig` to get rid of the escaping issue.

[code]

[2022-03-18 10:21] UrielCohen456 commented on #7912
Hey, I havn't had the time to work on this yet.
I honestly don't think my programming skills are well enough for something official. I started learning go recently as I don't think python is good for long term usage on this kind of project.

If you would like I would gladly give the repository name or ownership to someone else. I just started it as a way to experiment and learn for myself 😉

[2022-03-18 12:54] allemp opened #8188 "Broken manifests"
## Checklist

* [X] Double-checked my configuration.
* [X] Tested using the latest version.
* [X] Used the Emissary executor.

## Summary

### What happened/what you expected to happen?

I want to run hello-world and expect it to successfully complete

Instead when describing the pod I get "failed to resolve reference "quay.io/argoproj/argoexec:untagged"

### What version are you running?

I use t

[2022-03-18 13:01] allemp commented on #8188
@alexec Do you know more about the intent behind the manifest change? Was the idea to pin image version to v3.3.0 instead of latest and it's a typo?

[2022-03-18 15:40] kevin-hanselman opened #8190 "Add descriptions to `kubectl explain`"
# Summary

`kubectl explain` is an invaluable tool for quickly exploring Kubernetes resources. CRDs can provide descriptions that `kubectl explain` can pick up. For example, see [Knative](https://github.com/knative/eventing/issues/3054).

# Use Cases

Instead of going to the Argo Workflows webpage, I'd like to run, for example, `kubectl explain workflow` for guidance on building a Workflow resourc

[2022-03-18 15:49] terrytangyuan commented on #8188
The issue might be in `argo.GetVersion().Version`. cc @alexec

[2022-03-18 16:32] alexec commented on #8182
Is this a duplicate?

[2022-03-18 16:39] alexec commented on #8185
I'm very exciting about a Volcano Job plugin! Please add it to the list of plugins when done.

Your error is "no plugin executed the template".

This could be for a two reasons:

* The plugin did not load.
* The plugin did load, but decided not to execute the template.

To check to see if the plugin loaded:

* Make sure you enabled plugins using `ARGO_EXECUTOR_PLUGINS=true` in `kubectl describe de

[2022-03-18 16:41] alexec commented on #8031
I think having the option to skip a step makes sense. `Skip` has a semantic meaning. I'm not sure we need a new template. It makes sense to me to have this after a suspend step.

[2022-03-18 16:41] alexec commented on #7912
We have 5x 👍 , so users want this.

[2022-03-18 16:42] #8139 closed

[2022-03-18 16:45] alexec commented on #8188
Fixing.

[2022-03-18 17:14] jackivanov commented on #3797
We'd like to see a way to pass sensitive parameters/result between steps as well

[2022-03-18 17:26] #8188 closed

[2022-03-18 23:13] Mostafa-wael commented on #3587
How can I apply for this idea for GSOC? is there any communication channel with the mentors?

[2022-03-19 00:56] Colstuwjx commented on #8182
I don't think it's duplicated to #8173 , instead, I want to confirm if we plan to merge these workflow state into a single phase or not.

From a point view of user, I can't understand that I need to check both the workflow phase and the suspend flag to confirm whether the workflow is running or not. If I suspended a workflow, it should turn to `SUSPENDING` or `PAUSING`, rather than `RUNNING` with

[2022-03-19 12:43] Hunter-Thompson opened #8193 "bug(contrib): make pre-commit -B adds an extra v3 in the package"
Running `make pre-commit -B` adds an extra v3 to the package name, breaking the build.

Reproduction:

[code]

Error:

[code]

Diff:

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-03-19 12:59] cnu1812 commented on #6924
Where can I find the draft pr for this issue?

[2022-03-19 13:18] berlinsaint commented on #8185
my plugin log is
[code]

i'm sure i have enabled them,  but after  requeue time ,  i see the main container logs

[code]
I found the code
[code]
if requue >0, the task will never call the endpoint? ,i don't know if i have some misunderstanding...

[2022-03-19 14:49] alexec commented on #8185
The bug is here:

https://github.com/argoproj/argo-workflows/blob/4d7853ea590a5ae50a518252dd05840940224c76/workflow/executor/agent.go#L158

This should also delete the task from we.consideredTasks. Would you like to submit a PR?

[2022-03-19 15:37] berlinsaint commented on #8185
ok

[2022-03-19 21:50] kevin-hanselman commented on #8190
@alexec it's like `man` for all Kubernetes resources -- built-ins and CRDs alike.

[2022-03-20 03:11] berlinsaint opened #8196 "Plugin service account RBAC support"
The plugin is here: [argo-volcano-executor-plugin
](https://github.com/xfyun/argo-volcano-executor-plugin)

For now, the limits of the plugin is not compatiable for the release argo version. And it need argo modify as [pr](https://github.com/argoproj/argo-workflows/pull/8104) did.

Now argo support an environment variable way that you need specify a token using sercrets, i think it's not convienie

[2022-03-20 04:59] #8185 closed

[2022-03-20 15:44] alexec commented on #8196
Fixed by #8176

[2022-03-20 18:16] #8183 closed

[2022-03-20 23:31] wdma opened #8197 "I think my Artifact repository is being interpreted as a volume(?)"
## Checklist

* [ ] Double-checked my configuration.
* [ ] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary
This is a follow-on to this issue (https://github.com/argoproj/argo-workflows/issues/8168).

I have implemented my artifact repository per these instructions (https://argoproj.github.io/argo-workflows/configure-artifact-repository/).  Here is my abstracted imple

[2022-03-21 01:14] benyingY commented on #7518
we get the same issue

[2022-03-21 06:25] IronLung7 commented on #7366
@simster7 How is the status of this issue. The value is not replaced.  Tested on version 3.3.1
![image](https://user-images.githubusercontent.com/4958591/159213839-2990ea4f-8166-482c-bcde-cc58112d00b5.png)

[2022-03-21 06:52] MagicFrogSJTU commented on #7382
Really good reference!

[2022-03-21 06:52] jay-lee-otsk opened #8198 "Compatibility with K8 version"
# Summary

The documentation should contain Compatibility Matrix with K8s.
It is required when we walk through the service impact analysis before upgrading the K8 cluster.
As I look through the doc, I couldn't find one. If there already exists, please let me know.

[2022-03-21 07:20] benyingY commented on #7518
E0320 15:07:44.859811       1 runtime.go:78] Observed a panic: "invalid memory address or nil pointer dereference" (runtime error: invalid memory address or nil pointer dereference)
goroutine 107 [running]:
k8s.io/apimachinery/pkg/util/runtime.logPanic(0x1f205c0, 0x3318940)
        /go/pkg/mod/k8s.io/apimachinery@v0.21.5/pkg/util/runtime/runtime.go:74 +0x95
k8s.io/apimachinery/pkg/util/runtime.Han

[2022-03-21 12:13] swafa commented on #4169
@alexec For  a particular node, we need to supply/set an outputParameter that is not a String (but rather a number or an object consisting of multiple fields). Is this currently still not possible?

I'm getting this error message when supplying an object for example to the outputParameters field in the body of the **/set** endpoint:

"unable to parse output parameter set request: json: cannot unma

[2022-03-21 14:41] alexec commented on #4169
Try quoting the number?

[2022-03-21 15:06] swafa commented on #4169
@alexec  Quoting the number would work of course but it's a workaround that I was trying to avoid having to apply since we're calling this programmatically after serializing a POJO object to JSON.

Also, there are more complex cases when the output parameter is a JSON object (and not just a string). That JSON object could also have encapsulated objects which adds more to the complexity. Are there

[2022-03-21 15:06] wdma commented on #8197
Hypothesis: you have executor set in your config map. Can you please confirm?

Yes.
[code]

[2022-03-21 15:30] ekesken opened #8199 "script args order is broken after v3"
## Summary

Breaking non-documented change causing failures during Argo v2 -> v3 switch due to order change in container args in Pod manifest for script templates.

in Argo v2 `script.args` values were reflecting to Pod manifest so:

[code]

and in Argo v3, reflects like this:
[code]

This order change causes an error like this at the end in Argo v3:
[code]

We observed this problem during Argo v2

[2022-03-21 16:08] alexec commented on #8197
sorry. I meant the specifically `data.executor`.

[2022-03-21 16:09] alexec commented on #8199
v3 is 1yr old. I'm amazed this has not been raised before.

[2022-03-21 16:21] alexec commented on #8199
The ordering of args with script template is contraversial. Some in favor of prepend, some against.

@MrFreezeex @henrywangx @ivancili

The correct behaviour is the original behaviour. I don't know which of the two behaviours that is.

It maybe a regression to the correct original behaviour (i.e. wrong in v2.12).

[2022-03-21 16:29] wdma commented on #8197
Here you go!
[code]

[2022-03-21 17:14] alexec commented on #8197
You're configuration is incorrect. It is impossible for there to be a secret with an @ in the name. Fix this

[code]

[2022-03-21 17:14] #8197 closed

[2022-03-21 17:19] swafa commented on #4169
@alexec I also noticed that the issue boils down to the fact that escaped double quotes are not allowed within the **outputParameters** String.

Currently (v 3.3.0), providing **outputParameters** like this:

"outputParameters": "{\"result\": \"{\"foo\": \"bar\", \"foo1\": \"bar1\"}\"}"

Results in an error:

{
    "code": 2,
    "message": "unable to parse output parameter set request: invalid ch

[2022-03-21 17:28] rohankmr414 opened #8200 "`x/tools@v0.1.6` fails to build on `go1.18` when running `make pre-commit -B`"
## Summary

When running `make pre-commit -B` on `go1.18`, `x/tools@v0.1.6` fails to build

[code]

See: https://github.com/golang/go/issues/48632

Should we use `x/tools@v0.1.7` in the `Makefile`?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-03-21 17:43] ivancili commented on #8199
Current behavior is the original behavior (append the script name).
I introduced a breaking change by changing the logic to prepend the script name in [64ae330](https://github.com/argoproj/argo-workflows/commit/64ae33034d30a943dca71b0c5e4ebd97018448bf).
That change was reverted some time ago in [44a4f7e](https://github.com/argoproj/argo-workflows/commit/44a4f7e10ce1d88e82d5df86c000b93a422484e2).
I

[2022-03-21 18:13] alexec commented on #8200
Fix this line?

https://github.com/argoproj/argo-workflows/blob/98d568faf1315ba20d0629e991076b4a75107843/Makefile#L302

[2022-03-21 18:28] rohankmr414 commented on #8200
yeah. should I open a PR for it?

[2022-03-21 19:00] alexec commented on #8200
please

[2022-03-21 19:02] alexec commented on #3523
This is now available to try out:

Install from here:

https://github.com/argoproj/argo-workflows/releases/tag/v0.0.0-dev-mc-6

Read this to learn how to configure:

https://github.com/argoproj/argo-workflows/blob/dev-mc/docs/multi-cluster.md

[2022-03-21 21:12] kulinskyvs opened #8203 ""runtime error: invalid memory address or nil pointer dereference" when retrying failed workflows with onExit and semaphore"
## Summary

**What happened/what you expected to happen?**

When retrying failed workflow with `onExit` handler and `semaphores`  the workflow is failing again with `runtime error: invalid memory address or nil pointer dereference` workflow controller log message (see below the full stack trace). The issue seems similar to #7934 and #7888 but is still reproduced with `3.3.1` version.

Also, I'm ob

[2022-03-21 21:13] #8200 closed

[2022-03-21 21:16] kulinskyvs commented on #8203
@sarabala1979 , would it be possible to look into this issue, please (keeping in mind that you fixed both the #7934 and #7888) ?

[2022-03-21 23:04] xMAC94x opened #8204 "Let Argo retry when communication with API server fails."
# Summary

Not sure if this falls in enhancement or bug category:

On our cluster we noticed may failures in combination with argo 3.2.6 when the API server is under high load.
Problem is, the API server might return HTTP 429 (or other non-200) when creating a Workflow-Step-Pod which results in the workflow failing.
The respective event looks like this:
[code]

We also get the following status on

[2022-03-22 00:02] terrytangyuan commented on #8204
You can specify TRANSIENT_ERROR_PATTERN environment variable: https://github.com/argoproj/argo-workflows/blob/master/docs/environment-variables.md

[2022-03-22 03:35] thundergolfer commented on #5321
@paltaa If you don't mind, can you add detail to this? It's the Kubelet that stopped posting status, right? How is it that the pods requested "too much resources" from Kubelet? Use of `request` and `limit` should stop a node failing from resource exhaustion, or was there some other way that pods were interfering with the execution of the Kubelet?

[2022-03-22 09:01] motybz opened #8207 "Unable to substitute parameters for metric"
First of all, thank you for a great framework!

## Summary
We are using Argo 3.2.9
We are exporting metrics to Prometheus and it seems that part of the variables is not resolved.
The problematic metrics are {{exitCode}} and {{resourcesDuration.cpu}}
The errors are:
`unable to substitute parameters for metric 'step_result_counter': failed to resolve {{exitCode}}`
`unable to substitute parameters fo

[2022-03-22 12:40] paltaa commented on #5321
@thundergolfer The real problem here was that AWS EKS is always trying to balance the nodes between availability zones, unexpectedly killing nodes... So that made the kubelet stop posting status and killed the pods scheduled there

[2022-03-22 12:56] padrepitufo commented on #6642
sorry, where is the data template being referred to?

[2022-03-22 14:46] ebr opened #8209 "Semaphores do not respect the `configMapKeyRef.optional` flag"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

When setting a semaphore on a template, the `optional` flag has no effect. However, the [documentation]() the `semaphore` takes a `configMapKeyRef`. Thus my expectation was that the `optional` flag should be respected, and the semaphore to be ignored if the con

[2022-03-22 14:53] #7802 closed

[2022-03-22 14:59] alexec commented on #8193
Please try `make clean` then `make pre-commit -B`

[2022-03-22 15:06] alexec commented on #8199
@ekesken this is not broken. It is expected behaviour. However, I think for all users of Argo I would say - do not use `args` with a script template. Instead, use a template.

[2022-03-22 15:06] #8199 closed

[2022-03-22 15:09] alexec commented on #8160
There is a bug here that could have been a security issue. When submitting via the server, the parameter file is read, but is read from the server file-system. Luckily `--parameter-file=/etc/passwd` would not work. I'm going to raisea PR to fix this.

[2022-03-22 15:22] #8196 closed

[2022-03-22 18:23] ebr commented on #8209
Would it be possible to consider respecting this `optional`? If so, I can make it a feature request, as it would be quite useful for us. Current use case is that we have a template whose concurrency must be limited in some cases but not others. So we are parametrizing the `key:` as an input param, e.g.:

[code]

This way if `collection-name` key exists in the `argo-sync` configmap, we can limit th

[2022-03-22 18:33] alexec commented on #3523
Can I please ask everyone to complete this survey:

https://forms.gle/mxh9TLMG5mG8tZmc7

[2022-03-22 20:05] #8160 closed

[2022-03-22 23:37] sarabala1979 commented on #8209
yes. Optional will be ignored.  key has to be defined in configmap for the semaphore.
you can achieve your usecase using `when` condition  in step template to execute the `semaphore` template or   or  non `semaphore` template.

[2022-03-23 00:00] #7910 closed

[2022-03-23 00:30] ebr commented on #8209
Thank you - I realize that, but as I mentioned, that would require duplicating the entire template. For now I've found a workaround using conditional expressions:

[code]

and  `sem-fallback: "9999999"` is set in the `argo-sync` configmap.

Which technically works, but is kind of a hack :)

[2022-03-23 03:19] thundergolfer commented on #5321
@paltaa thanks for that extra detail. How did you root cause that problem? That EKS behaviour seems undesirable, and figuring out if that's happening on our end would be helpful. We are also experiencing 'random' steps fail with the message "pod deleted", and we can't explain the deletions with reference to any Argo garbage collection behaviour or application failure.

[2022-03-23 03:54] sarabala1979 commented on #8209
yes  you can use it

[2022-03-23 07:21] Hunter-Thompson commented on #8193
Im getting another issue now:

[code]

[2022-03-23 09:06] Piroddi opened #8217 "(UI) Allow global parameters to be inputed when submitting a WorkflowTemplate's template"
# Summary

When submitting a workflow from a WorkflowTemplate, the workflow's global parameters are only available if you select the default template(entrypoint). However, if you select a specific template (entrypoint), only that template's parameters are visible & not the global parameters. This cause errors when submitting templates from the UI as these templates depend on global parameters.

<i

[2022-03-23 09:48] LingClassmate opened #8218 "Argo Workflow Running Status Is there a real-time Workflow API?"
My application scenario:

I want to push the real-time running status of Argo Workflow task to System A, and system A can synchronize my current workflow status in real time.

[2022-03-23 09:55] gai6948 opened #8219 "key unsupported: cannot get key for artifact location, because it is invalid even if artifact location is configured"
## Checklist

* [X] Double-checked my configuration.
* [X] Tested using the latest version.
* [X] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
Even if s3 artifact location is configured, error is shown:
[code]

What version are you running?
3.2.7

## Diagnostics

Paste the smallest workflow that reproduces the bug. We must be able to run the workflow.

[code]

[2022-03-23 10:10] mxm-tr commented on #6635
Hi, it seems like this solution would fit in case the minio certificate has been signed by the kube CA, is that correct?

However if you're luck (like me) and your S3 SSL cert has been signed by some other root ca, I don't see any alternative to rebuilding your own version of the executor image as suggested in the previous comment: https://github.com/argoproj/argo-workflows/issues/6635#issuecommen

[2022-03-23 10:24] #8219 closed

[2022-03-23 10:24] gai6948 commented on #8219
Solved by adding `endpoint` and `region` parameter to s3 config

But the error message should be more helpful 😅

[2022-03-23 11:27] CIPHERTron commented on #7870
Heyy @alexec 👋🏻
I recently moved out thus there was a delay in response.

I tried to search from where the `WorkflowNodeContainer` is being passed but I didn't find it anywhere. Kinda stuck atm

This was the only conclusion I was able to find :(

[2022-03-23 11:59] mweibel opened #8220 "windows: util.WriteTerminateMessage() panics always"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

**What happened/what you expected to happen?**
When running failing workflows on windows workers, writing the termination log always fails because the directory `C:\dev` does not exist. `/dev/termination-log` gets mapped to `C:\dev\termination-log` in windows.

[2022-03-23 13:11] paltaa commented on #5321
Well, this happened quite some time ago... I remember seeing some sig kill/term sent to the jobs, afterward remember reading that if your node group got more than one availability zone it will always try to balance them between them. What we did is to only use one availability zone per node group doing the jobs ( of course different availability zones for the kind of nodes) and the problem never h

[2022-03-23 14:51] alexec commented on #8193
I’m not sure what that error is. Maybe clean you Go caches?

[2022-03-23 15:11] #8193 closed

[2022-03-23 15:49] sarabala1979 commented on #8218
you can use hooks to get workflow status

[2022-03-23 15:51] #8209 closed

[2022-03-23 17:14] aaaaahaaaaa opened #8224 "`inputs` or `workflow` is nil when used in sprig expression that has more than 1 parameter (`withParam` loop)"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

### What happened/what you expected to happen?

With the following context:
* within a `withParam` loop
* in `argument.parameter.value`
* using a `sprig` function that as more than 1 parameter (e.g. `sprig.replace`)
* referencing `workflow.parameters.paramX` or

[2022-03-23 17:19] aaaaahaaaaa commented on #8224
Could be related to https://github.com/argoproj/argo-workflows/issues/6790?

[2022-03-24 03:31] chunyang-wen opened #8230 "python sdk auth bug"
Try to use `BearerToken` as the authentication method, but it seems that there are bugs here.
## Argo-workflows version
[code]

## Reproduce code
[code]

### Token from here

https://argoproj.github.io/argo-workflows/access-token/#token-creation

curl got correct results.

[code]

## Two problems here

### No auth is passed in
<img width="1359" alt="image" src="https://user-images.githubuserconten

[2022-03-24 08:24] Harishkrishna17 commented on #7469
@Hunter-Thompson  Any update on this ?
Is there any workaround available

[2022-03-24 08:30] Hunter-Thompson commented on #7469
There is no work around, Id suggest going back to v3.2.4

[2022-03-24 08:30] 66li commented on #7469
it can be avoided by rolling back to version 3.4

[2022-03-24 08:43] Harishkrishna17 commented on #7469
Rolling back to 3.2.4 causes the ssh issue for checkout of code from GitHub .

Issue :

You're using an RSA key with sha-1 , which is no longer allowed , please user a newer client or a different key type

[2022-03-24 09:52] edwardfung123 opened #8233 "`description` under `parameter` is removed after creating the wftmpl or update. Linting the wftmpl results in error too."
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

According to [the doc](https://argoproj.github.io/argo-workflows/fields/#parameter), we should be able to add `description` to a `parameter`.
After adding some human readable description to parameters of my worklow. B

[2022-03-24 14:07] alexec commented on #8233
feat: support workflow template parameter description (#7309) (#7346)

[2022-03-24 14:08] alexec commented on #8233
This feature is only available in v3.3

[2022-03-24 14:08] #8233 closed

[2022-03-24 15:45] lucastheisen opened #8236 "Outputs are not available unless you have a dag or steps in the workflow"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

I created a workflow that has an `entrypoint` that is a `container` template and an `onExit` that is also a `container` template.  The `entrypoint` generates a report that the `onExit` sends out as notification.

What

[2022-03-24 16:19] Piroddi opened #8237 "Custom LifecycleHook's not triggered when submitted from a WorkflowTemplate"
## Checklist

* [x] Double-checked my configuration.
* [ ] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

Creating a workflowTemplate which contains hooks, only triggers the predefined hook (exit). Any custom created hooks do not get triggered. Submitting the workflow directly results in the custom hook being triggered.

[2022-03-24 16:22] alexec commented on #8236
Do not install using Kustomise. You'll be running latest images.

[2022-03-24 16:29] sarabala1979 commented on #8224
@aaaaahaaaaa Is it only happening when you are using `input.parameters.xxxx`?

[2022-03-24 16:33] aaaaahaaaaa commented on #8224
@sarabala1979 Or `workflow.parameters` as mentioned above.

[2022-03-24 17:17] alexec commented on #8236
No. `github.com/argoproj/argo-workflows/manifests/cluster-install?ref=v3.2.8` will not install v3.2.8. You must install manifests that are attached the release.

[2022-03-24 18:19] alexec commented on #8236
Did this work in a previous version?

[2022-03-24 20:00] abrennan89 commented on #5609
I think ya'll are using Mkdocs, which has a feature for this already: https://squidfunk.github.io/mkdocs-material/setup/setting-up-versioning/

[2022-03-24 22:24] lucastheisen commented on #8236
I cant say.  This is the first time we have had call for a simple one step workflow followed by our standard slack notification with result data, so we did not test on any prior version.

[2022-03-24 23:48] #7469 closed

[2022-03-25 04:52] blkperl commented on #8198
@alexec How about adding the following to [release.md](https://github.com/argoproj/argo-workflows/blob/master/docs/releases.md)?

## Kubernetes Compatibility Matrix

| Argo Version | K8s Versions   |
|--------------|----------------|
| 3.3          | 1.23 1.22 1.21 |
| 3.2          | 1.21 1.20 1.19|
| 3.1          | 1.19 1.18 1.17 |

### Notes on Compatibility

The main branch of Argo Workflows is

[2022-03-25 05:07] blkperl opened #8239 "Rename the default branch to `main`"
# Summary

We should rename the branch `master` to `main` to be consistent with the new Github and Git default. We will need to update the workflows in `.github/workflows`, the Makefile, the README.md and any other docs not covered by automation.

# Use Cases

* Described in https://github.com/github/renaming

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We

[2022-03-25 05:58] mikutas opened #8241 "one line per IP address in `/etc/hosts` is not allowed"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

`/etc/hosts` can have a format with one line per IP address:

[code]

but currently the format isn't allowed in Makefile.

[code]

What version are you running?

master

## Diagnostics

No workflow is needed to reprod

[2022-03-25 06:15] sarabala1979 commented on #7465
@laymain Let me know if you are still facing this issue on newer version

[2022-03-25 06:16] sarabala1979 commented on #7633
@lstolcman are you still working on this issue?

[2022-03-25 06:38] sarabala1979 commented on #8203
@kulinskyvs Can you provide the full workflow which you can able to reproduce this issue?

[2022-03-25 07:22] lstolcman commented on #7633
@sarabala1979 Hi, unfortunately, I did not succeed with fixing and abadoned it as I had no more time to work on this

[2022-03-25 09:11] p-glomski opened #8244 "CronWorkflow not starting - error in entry template execution Pod is invalid [spec.containers[0].image: Required value."
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
I've tried to run example CronWorkflow from your repository to see how it works before deploying anything more advanced:
https://github.com/argoproj/argo-workflows/blob/master/examples/cron-workflow.yaml

What version

[2022-03-25 10:01] wujayway opened #8245 "`pod deleted` + `re-apply` error with `plugin` task"
## Summary
This is a bug related to #4798.
we can get a pod deleted error under high load. It not only happens when workflow finished, also in the middle of the dag.
#4798 is fixed well, even pod deleted error happened in this situation.
However, if a workflow consists of some plugin tasks it stuck.
Here is the example:
DAG: A --> B --> C
`A` and `C` are plugin tasks. And `B` is a normal task.
Whe

[2022-03-25 10:02] Farek opened #8246 "emissary executor not reaping killed processes"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
When running one of my workflows I'm using scripts that perform installation of mysql database with some configuration and run some other actions after that (it will be changed, but that's not the point 😉 ).
After swit

[2022-03-25 10:10] wujayway commented on #8245
cc @alexec

[2022-03-25 13:28] dribeiro-eTF1 opened #8247 "Groups are not working with AWS Cognito sso integration"
## Summary

We are running Argo Workflow with the latest version and using AWS Cognito as our identity provider.

The SSO authentication works nicely, but we do not see the users's groups. Thing is, we are using the same Cognito with Argo CD and there, groups are correctly seen.

We have seen that others have similar issues and tried to use `customGroupClaimName` or `userInfoPath`, but without suc

[2022-03-25 15:33] #8241 closed

[2022-03-25 15:36] #8203 closed

[2022-03-25 15:41] alexec commented on #8246
Can you please attach the pod’s YAML?

[2022-03-25 15:48] kulinskyvs commented on #8203
@sarabala1979, thank you for your reactivity! The speed the Argo community is reacting to issues is simply amazing!

[2022-03-25 15:57] tooptoop4 opened #8249 "LDAP/SSO credential auth for api"
# Summary

Allow LDAP auth with API

# Use Cases

Remote host (that can't connect to k8s, doesn't have bearer token) to trigger a workflow via simple HTTP endpoint using LDAP creds

[2022-03-25 16:20] Farek commented on #8246
Sure, output from `kubectl -n argo get pod  dp-test-post-import-21 -o yaml` (with sensitive data changed):
[code]

[2022-03-25 16:32] #8237 closed

[2022-03-25 16:35] Piroddi commented on #8237
@sarabala1979 was this a bug, and being updated in next release? Or I was I doing something incorrectly?

[2022-03-25 17:07] swafa commented on #8037
@CodingOrca Did you manage to get around this somehow? I have a very similar use case and this is currently blocking me, too.

@alexec Any updates or remarks on @CodingOrca last comment?

[2022-03-25 17:25] alexec commented on #8037
OK. I was wrong. You cannot use supplied.

[2022-03-25 17:26] alexec commented on #8037
I don't think this is a bug, it is an enhancement.

If anyone is interesting submitting a PR, I give pointers .

[2022-03-25 17:29] alexec commented on #8246
Hi. The pod spec you shared shows the `main` container as terminated.

I wondering if a 30m debugging session might be in order?

https://bit.ly/book-30m-with-argo-team

[2022-03-25 17:55] swafa commented on #8037
I am sorry but I super respectfully disagree. I see this as a bug because if the default value is supported for the output parameters, then it should work for all kinds of output parameters, not just some of them. It would be an enhancement if we can live without it or if there's any workaround to the topic of distinguishing whether the workflow has resumed automatically or not. Your call though o

[2022-03-25 17:56] sarabala1979 commented on #8245
@wujayway Can you create PR with your change? we will review it

[2022-03-25 18:25] tiwarisanjay opened #8250 "Hardcoded namespaces in crb for kustomize cluster-install"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary
Following file has hardcoded namespaces in clusterrolebinding which is holding us to change namespace when we call the module with new namespace :
[manifestesworkflow-controller-clusterrolebinding.yaml ](https://github.com/argoproj/argo-workflows/blob/v3.3.1/man

[2022-03-25 19:33] Piroddi commented on #8237
Thanks for confirming, and for resolving the issue so promptly

[2022-03-25 19:44] rohankmr414 opened #8251 "`go generate` command fails on running `make pre-commit -B`"
## Summary

Running `make pre-commit -B` gives the following error

[code]

This can be fixed by bumping [github.com/vektra/mockery](https://github.com/vektra/mockery) from  v2.9.4 -> v2.10.0
see: https://github.com/vektra/mockery/issues/416

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-03-25 22:33] alexec commented on #8250
Would you like to submit a PR to fix this?

[2022-03-25 22:34] alexec commented on #8251
Would you like to submit a PR to fix this?

[2022-03-25 22:35] #7907 closed

[2022-03-25 23:08] CodingOrca commented on #8037
Okay, I know I am not alexec...
but I use as work around another suspend, with delay, but with no output, from where I trigger the resume of the my own workflow...  so that my "approve" suspend gets resumed. If it is resumed like this, the configured default is taken:
[code]

[2022-03-26 18:53] AvasDream opened #8253 "Parameter escaping in workflow of workflows breaks CronWorkflow listing."
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version. *Used v3.0.3*
* [x] Used the Emissary executor. Tested also with the PNS executor.

## Summary

What happened?

I created a Workflow template which should create a cron workflow by directly creating the k8s resource. This has worked flawlessly with CronWorkflows without input parameters.  The Workflow below

[2022-03-26 19:07] #7795 closed

[2022-03-26 19:35] AvasDream commented on #8253
Same behaviour when the parameters are escaped like this: ```args: ["date; echo {{`inputs.parameters.message`}};"]```

[2022-03-26 20:12] alexec opened #8255 "Automate approval and merge of dependabot PRs"
Reviewing and merging these PRs is a chore. Let’s automate:

https://github.com/argoproj-labs/argo-dataflow/blob/main/.github/workflows/dependabot-reviewer.yml

[2022-03-26 20:14] alexec opened #8256 "Get users to label their own issues"
https://github.com/argoproj-labs/argo-dataflow/blob/main/.github/workflows/governance.yml
https://github.com/argoproj-labs/argo-dataflow/blob/main/.github/governance.yml

[2022-03-26 20:28] chriswilley opened #8257 "v3.3: Retrieving pod artifacts using Web UI from S3 is slow"
## Summary

What happened/what you expected to happen?

After a pod completes, when we click on any input or output artifact (such as the `main` container log) in the Web UI it takes about a full minute to pull from S3. Previously on v3.1.12 it was very quick. Nothing about the network or EKS configurations have changed.

What version are you running?
v3.3.0

---

**Message from the maintainers**:

[2022-03-27 01:33] GitHubFor122 commented on #8074
but no any registry secret can pass on workflow-controller-configmap.

[2022-03-27 14:30] #8255 closed

[2022-03-27 16:46] alexec commented on #8257
How slow is “slow”?

[2022-03-27 16:50] alexec commented on #8253
You cannot escape `{{`, and you cannot nest them. Templating will result in invalid YAML.

[2022-03-27 16:53] alexec commented on #8230
There might be two bugs here. Can you make sure you create a workflow before you make a list operation?

[2022-03-27 16:58] #8256 closed

[2022-03-27 18:01] terrytangyuan commented on #8230
This seems to be the same issue as in https://github.com/argoproj/argo-workflows/issues/7781. Somehow the generated code passes None to args and return values.

[2022-03-27 18:42] #7803 closed

[2022-03-27 20:33] chriswilley commented on #8257
I just timed pulling a 2KB log file and it took 2m 2s to appear.

[2022-03-28 02:53] maguowei commented on #2154
with one command

`kubectl -n argo exec $(kubectl get pod -n argo -l 'app=argo-server' -o jsonpath='{.items[0].metadata.name}') -- argo auth token`

[2022-03-28 04:34] JwzBen opened #8260 "Wait Container keeping running due to networkpolicy enable for the argoexec"
## Checklist

* [ ] Double-checked my configuration.
* [ ] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
Since we have used the istio egress proxy, we set up the network policy Kubeflow pipeline to only allow Kubeflow Pipeline send out request via istio egress proxy, currently, we only set two egress networkpolicy,  one i

[2022-03-28 04:37] JwzBen commented on #8260
kubectl logs -c wait -l workflows.argoproj.io/workflow=${workflow},workflow.argoproj.io/phase!=Succeeded
log:
Starting workflow executor version=2.10.0
creating a docker executor
wating on main container
warning msg="Pod watch closed unexpectedly"

[2022-03-28 05:23] louisnow opened #8261 "New Configmaps needs to have configmapType: Parameter to be usable"
## Checklist

* [x] Double-checked my configuration.
* [ ] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

1. I have configmaps from before 3.2.9
2. I can reference them in my input parameters though they lack `configmap-type`
3. New Configmaps without `workflows.argoproj.io/configmap-type: Parameter` don't interpolate.

W

[2022-03-28 05:49] louisnow commented on #8261
Non issue, this has always been required

[2022-03-28 05:49] #8261 closed

[2022-03-28 05:57] louisnow opened #8262 "ConfigmapRef does not respect optional and default keyword"
## Checklist

* [x] Double-checked my configuration.
* [ ] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
`Optional` and `default` keywords are not respected when using  `configMapKeyRef`.
Workflow errors while trying to reference a key that does not exist.

What version are you running?
v3.2.9
Emissary Executor

## Diagno

[2022-03-28 07:16] XiShanYongYe-Chang commented on #3523
Hi @alexec, I would like to confirm whether the newest version(v0.0.0-dev-mc-6) supports different steps of the same workflow running on different clusters.

I test on my local site, when install profile with two cluster `member1` and `member2`, will produce error message like `profile not found for policy argo,member2,default,1`.

[2022-03-28 07:42] dribeiro-eTF1 commented on #8247
@alexec when the scope groups is added, the SSO does not work anymore. We have the error:
`failed to exchange token: oauth2: cannot fetch token: 400 Bad Request
Response: {"error":"invalid_request"}`

It seems that groups should be retrieve in the scope "openid", but even defining "customGroupClaimName: openid" does not work.

[2022-03-28 08:02] louisnow commented on #8262
/area templates/resource

[2022-03-28 08:47] swafa commented on #8037
@CodingOrca Thanks for the hint. I tried your example and it did indeed take the defaults. I started wondering why is it that it works in that example (but not when I tried resuming through the API call from Postman, for example). I just managed to isolate the problem just now. For me, I noticed that the default value gets sets **only** when the following is true:

- We resume via API call. Here i

[2022-03-28 13:01] Harishkrishna17 commented on #7469
When is this pr going to be released ? any tentative date ?
Thanks

[2022-03-28 13:18] tiwarisanjay commented on #8250
@alexec  I changed the same. Will sign my commit and will send it your way.

[2022-03-28 14:17] aaaaahaaaaa commented on #8224
@sarabala1979 I did some more testing and I think I drilled down to a more specific diagnostic that my example above doesn't show.

The problem seems to occur when both `worflow.parameters.XXX` and `item.YYY` are used next to each other as parameters of the same function.

Examples (as part of a `withParam` loop):

WORKS
[code]

WORKS
[code]

ERROR
[code]

This seems really strange but I believe t

[2022-03-28 14:32] #4760 closed

[2022-03-28 14:34] #8245 closed

[2022-03-28 14:35] swafa commented on #7275
Thanks for the workaround. It seems to throw the following error for me on 3.3.0 though. Am I doing something wrong?

"Failed: invalid spec: spec.arguments.date.value is required"

[2022-03-28 14:35] swafa commented on #7275
@alexec Thanks for the workaround. It seems to throw the following error for me on 3.3.0 though. Am I doing something wrong?

"Failed: invalid spec: spec.arguments.date.value is required"

[2022-03-28 14:36] alexec commented on #8260
/area executor

Can you please attach the manifest for the NetworkPolicy and your Workflow?
Can you also please test with the latest version? 2.10 is very old.

[2022-03-28 14:36] p-glomski commented on #8244
That was it, thank you for the help.

[2022-03-28 14:36] #8244 closed

[2022-03-28 14:38] alexec commented on #7275
Can you please test this in v3.3?

[2022-03-28 14:41] alexec commented on #3523
Hi @XiShanYongYe-Chang I need to update this, as I’ve changed the design. Hopefully today.

[2022-03-28 15:14] tiwarisanjay commented on #8250
@alexec  https://github.com/argoproj/argo-workflows/pull/8266
I signed off but it still shows DCO issue.

[2022-03-28 15:19] alexec commented on #8037
I think I can point to where the bug is:

https://github.com/argoproj/argo-workflows/blob/78f01f2b9f24a89db15a119885dfe8eb6420c70d/workflow/util/util.go#L369

`ResumeWorkflow` call a different func if there is a `nodeFieldSelector`. If there is not one, it takes into account defaults:

https://github.com/argoproj/argo-workflows/blob/78f01f2b9f24a89db15a119885dfe8eb6420c70d/workflow/util/util.go#L3

[2022-03-28 15:39] swafa commented on #7275
@alexec I am already using v3.3.0. Do you mean v3.3.1?

[2022-03-28 15:59] alexec commented on #7275
Thats' recent enough.

[2022-03-28 16:11] alexec commented on #7275
I think we should close this and open a new issue, but it is all confusing to me.

[2022-03-28 17:10] terrytangyuan commented on #8262
This should be fixed in https://github.com/argoproj/argo-workflows/pull/8271.

[2022-03-28 19:44] alexec commented on #3523
v0.0.0-dev-mc-7 is now ready for testing.

[2022-03-28 21:03] Collinbrown95 commented on #1540
In light of the [deprecation of MinIO gateway](https://blog.min.io/deprecation-of-the-minio-gateway/), connecting directly to Azure Blob Storage may be desirable in a number of use cases.

@alexec would a PR for this feature be accepted?

[2022-03-28 21:25] alexec commented on #1540
Yes. Please. You could refresh this PR: https://github.com/argoproj/argo-workflows/pull/1565

[2022-03-29 02:04] #7785 closed

[2022-03-29 03:59] JwzBen commented on #8260
Ben: After further checked, we find that we need that we need to add a egress networpolicy for notebook-controller in kubeflow pipelien. Then the issue can be fixed;
Currently, the network policy are egress policy:
1. for istio egress proxy(egress-gateway-service.egress.svc): 3128
2. for gke metadata server(127.0.0.1): 988
3. for the notebook-controller:443

For the workflow pipeline:
we will thre

[2022-03-29 07:48] kostis-codefresh opened #8273 "Versioned documentation to distinguish between upcoming and existing features"
# Summary

Documentation should get a drop-down menu  of versions

# Use Cases

Help users understand what is already in the project and what is upcoming.

Also to align with the rest of the Argo Projects:

https://github.com/argoproj/argo-rollouts/issues/1518
https://github.com/argoproj/argo-cd/pull/5099

![versions](https://user-images.githubusercontent.com/39800303/160560800-7a8add63-0620-4526-

[2022-03-29 09:24] XiShanYongYe-Chang commented on #3523
@alexec thanks for your reply, I test with `v0.0.0-dev-mc-7`, it's pretty good to me. With this release, I can run `workflow-a-` on `member1` cluster and `workfolw-b-` on `member2` cluster separately.

Will this feature be supported in the one workflow, such as `workflow-test-`, where `step-a` runs in `member1` cluster and `step-b` runs in `member2` cluster?

[2022-03-29 15:06] alexec commented on #3523
Yes. That’s the primary intent.

[2022-03-29 16:12] #7908 closed

[2022-03-29 16:38] JPZ13 commented on #3523
I think I'm running into a namespace issue. `kubectl get secret -l workflows.argoproj.io/cluster` returns `No resources found in default namespace.` and `kubectl get secret -l workflows.argoproj.io/cluster -n argo` returns `argo.profile.cluster-1   Opaque   1      86m`. @alexec what namespace do you have the server and controller installed in, and which namespace is the profile in for you?

[2022-03-29 16:56] terrytangyuan commented on #8273
Duplicate https://github.com/argoproj/argo-workflows/issues/5609

[2022-03-29 16:56] #8273 closed

[2022-03-29 16:57] terrytangyuan commented on #8273
@kostis-codefresh Thanks for opening this. Feel free to continue discussing this in #5609.

[2022-03-29 17:59] #5405 closed

[2022-03-29 18:23] alexec commented on #3523
profile goes in the argo system namespace

[2022-03-29 22:24] gandeevan opened #8275 "Controller crashes when there are a lot of completed workflows"
The argo controller seems to be crashing when there are a lot of completed workflows (~6000). I know I could use a workflowTTL and archiving to not keep around a lot of completed workflows, but 6k doesn't seem like a crazy number. Is this a known issue?

Argo v3.2.4

Here are the controller logs:
[code]

[2022-03-30 00:22] gandeevan commented on #8275
I'm not sure this has to do with the cluster size. We run a pretty big GKE cluster with around 2k nodes. Each job spawns 100+ pods. Could this be related to https://github.com/kubernetes/client-go/issues/871?

[2022-03-30 00:34] gandeevan commented on #8275
Can you maybe think of any experiments I could run (e.g. running the con
troller in debug mode) or logs that could be provided to get more clarity into the root cause?

[2022-03-30 01:05] alexec commented on #8275
Can you please attach `kubectl describe pod -l app=workflow-controller` and see what the state was for the crash? You logs only show health check failure.

[2022-03-30 01:06] alexec commented on #8260
/area executor

[2022-03-30 02:35] sarabala1979 commented on #8260
I would recommend to see the resources conception on k8s api server pod and verify the api calls latency.

Sent from my iPhone

[2022-03-30 04:00] gandeevan commented on #8275
`Name:         argo-operator-argo-workflows-workflow-controller-56f8496bbrrstr
Namespace:    default
Priority:     0
Node:         gke-argo-dev-1-facility-pool-f1b846cb-gn8c/10.16.0.10
Start Time:   Wed, 16 Mar 2022 13:41:02 -0700
Labels:       app.kubernetes.io/component=workflow-controller
              app.kubernetes.io/instance=argo-operator
              app.kubernetes.io/managed-by=Helm

[2022-03-30 04:13] alexec commented on #8275
what about `kubectl get events`?

[2022-03-30 04:57] gandeevan commented on #8275
Unfortunately the relevant controller events are not being returned by GKE since the default ttl for events on GKE is 1h. (https://stackoverflow.com/questions/63035494/why-does-my-gke-cluster-not-show-any-events). I can reproduce the crash to get you ` kubectl events`, but that'll probably take me a day or two since I need to spawn a lot of workflows to get hit the issue.

Does the controller use

[2022-03-30 05:11] gandeevan commented on #8275
Looks like `argo list ` supports a `--chunk-size` flag for pagination and `argo delete` doesn't.  If my hypothesis is right, `argo-list` should probably throw the same error when used without the `--chunk-size` flag when there are a lot of workflows (and I guess that's causing the controller crashes as well). I can spawn a lot of workflows and test this out.

[2022-03-30 05:17] mikutas opened #8276 "Error message explains only one of the cases the error can occur"
# Summary

Error message

`workflowTemplateRef reference may not change during execution when the controller is in reference mode`

explains only one of the cases the error can occur.

https://github.com/argoproj/argo-workflows/blob/v3.2.9/workflow/controller/operator.go#L3455

# Use Cases

This error can occur when

- workflowTemplateRef is changed
- workflowTemplateRef is not changed but workflo

[2022-03-30 05:19] mikutas commented on #8276
/area controller

[2022-03-30 08:04] benyingY commented on #7518
anyone got the solution?

[2022-03-30 09:42] lsgrep commented on #3080
Not sure why the `base` tag is included in the first place, it breaks so many things. It makes the deployment which usually come behind some auth service et very difficult. Not everyone can use ingress at will.

[2022-03-30 16:10] #8276 closed

[2022-03-30 17:20] sarabala1979 commented on #8275
@gandeevan I would recommend looking at the load on k8s api server (k8s master). Looks like API request is getting timed out or returning a stream error. Argo will directly talk to k8s API server through `client-go`

[2022-03-30 17:47] Sefriol commented on #6490
Since we have our application deployed on AKS under quite strict company control, I would assume that casbin based implementation would be preferable for our use case. Also because we already use casbin for other services, so having unified authorization layer (atleast in terms of tech stack being used) would be nice ;)

Hopefully this gets implemented sooner rather than later.

[2022-03-30 17:53] gandeevan commented on #8275
@sarabala1979 Got it. But wouldn't it be more appropriate to retrieve the large results in chunks instead of scaling up the api-server?

 https://kubernetes.io/docs/reference/using-api/api-concepts/#retrieving-large-results-sets-in-chunks

[2022-03-30 18:29] sarabala1979 commented on #8275
@gandeevan yes you're right. Can you create an issue on `client-go`?  Error is happening on client-go. Argo controller is using the client-go library for informers.

[code]

[2022-03-30 18:30] sarabala1979 commented on #8275
@gandeevan you can scale up API server for workaround

[2022-03-30 18:42] alexec commented on #6490
Fixed by #8120

[2022-03-30 19:12] gandeevan commented on #8275
@sarabala1979 I guess the change should actually go [here](https://github.com/argoproj/argo-workflows/blob/f00ec49d695bdad108000abcdfd0f82f6af9ca6c/pkg/client/informers/externalversions/workflow/v1alpha1/workflow.go#L36) in the argo controller by setting a `Limit` in `tweakListOptions`? `tweakListOptions` is currently being set to `nil` and is thus retrieving all the objects.

[2022-03-30 23:13] sarabala1979 commented on #8275
@gandeevan great. Would you like to fix this issue and submit the PR?

[2022-03-30 23:59] alexec opened #8279 "v3.3: stop results in `Failed` workflow, rather than `Succeeded`"
## Checklist

* [ ] Double-checked my configuration.
* [ ] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

What version are you running? v3.3, worked in v3.2

## Diagnostics

Paste the smallest workflow that reproduces the bug. We must be able to run the workflow.

[code]

[code]

---

**Message from the maintainers**:

Im

[2022-03-31 02:09] blkperl commented on #8250
Fixed in #8266. Thanks for the PR @tiwarisanjay!

[2022-03-31 02:09] #8250 closed

[2022-03-31 03:56] gdsoumya commented on #8250
Hi @alexec @tiwarisanjay, this PR has broken some examples that refer the `install.yaml` file -eg. https://argoproj.github.io/argo-events/quick_start/ and https://github.com/argoproj/argo-workflows/blob/master/README.md#quickstart

I think we should have the namespaces here because users might want to directly use the install.yaml file to configure workflows instead of using kustomize or helm char

[2022-03-31 10:48] bygui86 commented on #6490
@alexec so in your PR #8120 you implemented Casbin RBAC for Argo Server same as available in ArgoCD?
that's amazing!!

[2022-03-31 13:42] tacf commented on #8224
Hi, bumped into an issue that i think it may relate to this.

There's a weird behaviour when using both `workflow.` and `inputs.` in an expression. In my case i'm trying to dynamically set a mutex, below i'll leave the examples and the calculated mutex value to see if it helps trying to pin point this.

[code]

As you can see in the case that both `workflow.` and `inputs.` is used the mutex value

[2022-03-31 14:51] alexec commented on #6490
It was not my original goal, but that is what happened. It does not support groups yet. Need to determine that.

[2022-03-31 15:31] tiwarisanjay commented on #8250
@gdsoumya  Yes, Apologies for install.yaml but I introduced as it was showing diff when I was fixing kustomize. But isn't kustomize supposed to be for generic use instead of harding a namespace

[2022-03-31 15:49] jackivanov opened #8282 "artifact repo failed to load: fatal: 'dev' could be both a local file and a tracking branch."
## Checklist

* [ ] Double-checked my configuration.
* [ ] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

Git artifact input
A file in the repo matches the brach name (ie: folder dev in branch dev)
Argo workflows can't checkout the artifact

[code]

Version 3.2.4

## Diagnostics

Paste the smallest workflow that reproduce

[2022-03-31 21:17] Sefriol commented on #6490
Amazing. How much work is there still to be done? It already looks quite huge feature set.

[2022-03-31 21:51] wshi5985 opened #8283 "v3.3.1: only the leader workflow-controller pod can expose metrics."
## Checklist

* [ ] Double-checked my configuration.
* [ ] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

We upgraded argo to 3.3.1 from 3.1.3, There are 2  workflow-controller replica pods
somehow after upgrade, only the leader workflow-controller pod can expose metrics.

What version are you running? v3.3.1

## Diagnostics

From our prometheus server UI, it shows

[2022-03-31 21:59] wshi5985 commented on #8283
/area metrics

[2022-03-31 22:19] alexec commented on #8283
@whynowy we only have one pod serving metrics in v3.3. The service should always route to that pod. Is that something we can do, do you know?

[2022-03-31 22:54] alexec commented on #8283
@wshi5985 could you please try adding the readiness check in the attached PR?

[2022-03-31 23:17] prichrd opened #8286 "I would like a mentor"
**Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).**

Answer: **Yes I have read the mentoring guide.**

**What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?**

Answer: **I have experience with Go and Kubernetes.**

**Is there any particular issue

[2022-03-31 23:21] whynowy commented on #8283
Why adding a readiness check helps? @alexec

[2022-03-31 23:23] alexec commented on #8283
https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/

You can put a service in front of the pods for the metrics (we should vend that). It should work.

[2022-03-31 23:24] alexec commented on #8283
Non-leader pods should not expose metrics. They don't have anything interesting.

[2022-03-31 23:31] whynowy commented on #8283
This means the standby pod will be periodically restarted.

[2022-03-31 23:34] alexec commented on #8283
I _think_ that is a liveness probe. If the readiness probe fails, then the pod is just not ready.

[2022-03-31 23:39] wshi5985 commented on #8283
[code]
as expected, one pod not ready.
[code]
This means there will always be one pod in notReady mode ..... This will trigger our monitor alert i think.
Can we just let both pod expose metrics ?

[2022-03-31 23:41] alexec commented on #8283
Removing the metrics endpoint was not intentional, side-effect of other changes. Do you think it provides useful data?

[2022-03-31 23:41] wshi5985 commented on #8283
plus it is tricky for update/deploy, since new pod could not come up while the old pod is leader.
i had to delete the old replicaset to let the new pod come up.

[2022-03-31 23:47] wshi5985 commented on #8283
@alexec we are not using those metrics right now. we noticed this when prometheus server shows errors.

[2022-03-31 23:50] alexec commented on #8283
I'm unclear. Is there another problem here? You should not have to delete any pods for the stand-by leader to come up.

[2022-04-01 00:47] wshi5985 commented on #8283
i don't see other problems.

there is a rolling update strategy,
[code]
when apply the new deploy yaml,  one new pod tried to come up, the old 2 pods were holding there waiting for the new one up. but the new one kept in notready mode. the 3 pods hanging there. deploy stuck. until i deleted the old replicaset which deleted the 2 old pods. the first new pod became leader and ready, and the second p

[2022-04-01 00:51] alexec opened #8288 "Fix Snyk errors"
https://app.snyk.io/org/argoproj/project/e917d104-c0c4-477b-853c-9d1451b6f803

* Cross-site Scripting (XSS) - simply delete the line echoing the content
* WebCookieMissesCallToSecure - add secure flag
* Sensitive Cookie Without 'HttpOnly' Flag - add flag

https://app.snyk.io/org/argoproj/project/6a18a1f2-ca23-4308-af78-ec3a9478fc95

The only fixable errors are medium severity. No action.

https://

[2022-04-01 00:58] alexec commented on #8283
Are you saying we can't use readiness because it prevents a rolling update?

[2022-04-01 02:26] wshi5985 commented on #8283
It looks like a pod could not  be picked as leader if it is not ready

just did another test, set rolling update strategy to 50%, with readinessProbe configured
when change applied, 2 new pods tried to come up, the old leader pod kept up, the old stand-by pod terminated.
both 2 new pods failed readiness probe, none of them ready, none of them could be picked up as leader. until i delete the old re

[2022-04-01 02:31] wshi5985 commented on #8283
btw, if we remove the workflow-controller-metrics service, what will be the impact (beside no metric exposed)? anything depends on the exposed metrics ?

[2022-04-01 02:35] alexec commented on #8283
Leader election is unreleated to readiness. I don't believe readiness (or liveness) will affect it.

[2022-04-01 02:41] alexec commented on #8260
I don't think there's acceptable value investigating v2.x issues.

[2022-04-01 02:44] alexec commented on #7982
https://www.alexedwards.net/blog/how-to-rate-limit-http-requests

[2022-04-01 05:41] alexec opened #8291 "Remove `docker` binary from `argoexec` (i.e. Dockerfile)"
This got overlooked in the code review for #8212. This binary can be removed, for security.

[2022-04-01 05:41] alexec commented on #8291
@terrytangyuan

[2022-04-01 06:06] whynowy commented on #8283
Why don't abandon using `Service` to expose metrics, instead, recommend to configure pod discovery in prometheus?

[2022-04-01 09:13] LingClassmate commented on #6511
For help! My workflow configuration is as follows:

[code]

[2022-04-01 11:04] Piroddi opened #8293 "Custom LifecycleHook Pods not deleted & Task phase not updated"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

Tasks phases from Custom LifecycleHook's at a workflow level are not being updated after completion. This results in the phase being stuck in 'Pending' & the hook pod not being deleted when the workflow has the following spec

[code]

<img width="1232" alt="ima

[2022-04-01 13:45] wshi5985 commented on #8283
during deployment, when readinessprobe failed,  pod "ready" status showed "0/1"(instead of "1/1") and deployment stuck. i am not sure why.
and our setup use prometheus-operator, which use serviceMonitor -> service for metrics collection.

[2022-04-01 14:36] loheagn commented on #3171
Hi, @terrytangyuan, I'd like to apply for this issue for the gsoc. I have sent you an email and look forward to your reply :)

[2022-04-01 14:38] terrytangyuan commented on #3171
Thanks for reaching out but please read this document carefully: https://github.com/argoproj/argo-workflows/blob/master/docs/mentoring.md#how-to-participate-google-summer-of-code

[2022-04-01 14:42] loheagn commented on #3171
Thanks! I will read it.

[2022-04-01 15:01] #8288 closed

[2022-04-01 15:08] alexec opened #8297 "Reduce the number of workflows display in the UI by default"
The UI is so slow to load, that users go to CLI instead. We should display 50 rather 500 workflows by default.

[2022-04-01 15:11] alexec opened #8298 "Promethes metrics for workflow templates"
Users would like to see Prometheus metrics, but not for all workflows, grouped by template.

Templates usually map 1-2-1 to a pipeline. Tell me how I can find metrics for the success/failure of the workflow template?

[2022-04-01 16:49] alexec commented on #8283
I don't think you can use rolling update at all.

Consider this. You have 3 replicas. If you want to use service, you must have readiness check, otherwise you get errors.

Only one is leader, so only one is ready.

When rolling update occurs, the leader will not be deleted until another replica becomes ready. This will never happen, because replicas only become ready when they become leader. Catch

[2022-04-01 16:50] srajeev opened #8300 "Workflow with Http call stuck on Pending State"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

I was trying to do an Http Call from Workflow. But workflow got stuck in Pending State.
I noticed this bug - https://github.com/argoproj/argo-workflows/pull/7084
Thought this is fixed. But I am seeing that now also. I am on v3.3.0

What version are you running?

[2022-04-01 16:53] alexec commented on #8246
bump!

[2022-04-01 17:37] alexec opened #8301 "v3.4: enable POD_NAMES=v2 by default"

[2022-04-01 17:37] alexec commented on #8301
Trivial issue.

[2022-04-01 17:52] alexec commented on #7954
@crenshaw-dev can I please bump

[2022-04-01 17:55] alexec commented on #8246
![image](https://user-images.githubusercontent.com/1142830/161316846-4eff11f2-6a70-4880-8d64-a6c3b190a4b1.png)

[2022-04-01 17:55] crenshaw-dev commented on #7954
I've made a bit of progress in the argo-cd repo (https://github.com/argoproj/argo-cd/issues/8657). Relevant Snyk scans can now block builds on high-level failures. My next step is to add reports to release assets. I haven't scheduled time for that yet, but hoping soon.

Once the work is done, it should be trivial to replicate in Rollouts/Workflows/Events.

[2022-04-01 18:02] #8282 closed

[2022-04-01 18:03] alexec commented on #7954
I noted yesterday, that snyk.io shows different issues to running `snyk test`.

I think we should probably just use snyk.io, not `snyk test`, as it is zero-config.

[2022-04-01 18:26] crenshaw-dev commented on #7954
There are a few problems with the web UI:

1) It doesn't automatically scan new tags. Every time we cut Argo CD releases, I have to delete the old Quay projects and add new ones.
2) It doesn't block builds. We have to proactively go to the UI to check for high-severity vulnerabilities.
3) It doesn't allow declarative "ignore" configuration. When we know a high-severity issue isn't actually an issu

[2022-04-01 19:24] #8297 closed

[2022-04-01 19:58] wshi5985 commented on #8283
with recreate strategy, it unblocks deploy. but with one pod always in notready status, it may trigger alert too. (we monitor unhealthy pods in production env)
if there is no other side effect. i guess we will keep the initial config, (no readiness check)
i understand only leader pod exposes meaningful metrics, but what will be the impact if standby expose metrics too ?

[2022-04-01 20:18] alexec commented on #8283
The impact is that we need to change the way the controller works. It currently doesn't do anything until it becomes leader. This is to design-out bugs. To change that, we need to do work and create risk.

[2022-04-01 20:26] sudhanshu456 commented on #3587
@alexec Hey, can you please help me understand how should I go into mentoring? I've been working with Argo-workflows for 1 year.

[2022-04-01 20:38] wshi5985 commented on #8283
Thanks for the quick response and explain. just one more question. this change(Removing the non-leader metrics endpoint) started from which version ? Thanks.

[2022-04-01 20:39] alexec commented on #8283
v3.3

[2022-04-01 20:40] wshi5985 commented on #8283
Thanks

[2022-04-01 20:51] terrytangyuan commented on #8301
Duplicate https://github.com/argoproj/argo-workflows/issues/7279?

[2022-04-01 20:53] #8301 closed

[2022-04-02 03:38] LingClassmate opened #8305 "Ask for help! I want to get the state of each step using hooks onExit."
Ask for help! I want to get the status of each step using the hooks configuration as follows:

[code]

OnExit output:
[code]

But I can't get the step state, I can only get the strings, is there any other way to solve my problem?

[2022-04-02 07:11] #8262 closed

[2022-04-02 22:36] ghost opened #8306 "UI: Adjusting Artifacts table"
# Summary

In would be great to have workflow Artifacts table on UI more readable.

This can be reached by:
-  adding column names
- adding column separators to clearly define where one ends and other starts
- adjusting fields width. It seems to me that the time column is excessively wide and at the same time the artifact name and the task name columns are too limited.
- making table scrollable ho

[2022-04-03 05:26] alexec opened #8307 "Show message in `kubectl get wf` and `argo list`"
We don't surface the message for either. We should as it would be very helpful for understanding why a workflow failed.

https://github.com/argoproj/argo-workflows/blob/9c901456a44501f11afc2bb1e856f0d0828fd13f/util/printer/workflow-printer.go#L57

https://github.com/argoproj/argo-workflows/blob/9c901456a44501f11afc2bb1e856f0d0828fd13f/pkg/apis/workflow/v1alpha1/workflow_types.go#L122

This feature

[2022-04-03 14:11] sourikghosh commented on #8307
@alexec Can I pick this ??
/assign

[2022-04-04 10:03] xMAC94x commented on #8204
@terrytangyuan  thank you, that worked.
It took some time, and we find out that the following pattern worked for argo `3.2.4`
`.*Internal error occurred.*(Post|Get|Delete|Put|Patch).*https.*`

[2022-04-04 10:03] #8204 closed

[2022-04-04 12:15] LoricAndre opened #8310 "RBAC enabled but not restricting user"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
After setting up SSO and RBAC, SSO is working and assigning me the right ServiceAccount, but the rights I have on the server are more open than the associated role gives.
This is my RBAC SA/Role/RoleBinding:
[code]

Wh

[2022-04-04 13:51] srajeev commented on #8300
kubectl get pods - list this pod that is pending with failure status **CrashLoopBackOff**. Also  Sharing  **logs from  that  pod** below:

time="2022-04-04T13:47:10.429Z" level=info msg="Starting Workflow Executor" version=v3.3.0
time="2022-04-04T13:47:10.430Z" level=info msg="Starting Agent" requeueTime=10s taskWorkers=16 workflow=daqe-midas-dailyrun-qcprocess-sensor-workflowd869b
time="2022-04-0

[2022-04-04 14:17] alexec commented on #8310
Can you be more specific? For example, do you go into the UI, and are allowed to update a workflow?

What is your Kubernetes provider? Does it both support and have RBAC enabled correctly? E.g. Docker for Desktop does not support RBAC. Certain cloud configurations don't either.

[2022-04-04 14:19] alexec commented on #8300
You`ve installed `workflowtaskset` CRD, but you can see you're getting a 403 error. Please add the permissions to the executor role.

https://github.com/argoproj/argo-workflows/blob/master/manifests/quick-start/base/agent-role.yaml

[2022-04-04 14:19] #8300 closed

[2022-04-04 14:20] alexec commented on #8305
@sarabala1979 might be able to help.

[2022-04-04 14:36] alexec commented on #8224
[code]

[code]

[2022-04-04 14:40] alexec commented on #8298
@sarabala1979 @dpadhiar internal ask.

[2022-04-04 14:42] alexec opened #8311 "Improve templating diagnostics"
# Summary

Users often struggle to diagnoes templating problems. Helping them is time consuming. Everybody looses.

Instead, we log more diagnostics whenever resolution fails:

https://github.com/argoproj/argo-workflows/blob/9c901456a44501f11afc2bb1e856f0d0828fd13f/util/template/simple_template.go#L26

Several times here:

https://github.com/argoproj/argo-workflows/blob/9c901456a44501f11afc2bb1e85

[2022-04-04 15:29] alexec opened #8313 "UI: Artifact Management Interface"
# Summary

Argo Workflows is uniquely placed to understand all the artifacts that are being processed by workflows. This means we can add a lot of value:

* A unified UI for searching, viewing and downloading artifacts.
* Gathering meta-data and lineage.
* [Garbage collection](#3102)

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals w

[2022-04-04 15:33] a3lk4i commented on #8257
I've got the same issue and it's only in v3.3.0 and v3.3.1. v3.2.* had no issue.

[2022-04-04 15:48] alexec commented on #8257
Candidates for blame:

- f0fb0d56d chore(deps): bump github.com/minio/minio-go/v7 from 7.0.15 to 7.0.23 (#8003)
- 70715ecc8 (tag: v3.3.0-rc3) fix: artifacts.(*ArtifactServer).GetInputArtifactByUID ensure valid request path (#7730)

[2022-04-04 15:48] alexec commented on #8257
Does it always take 2m2s? Are you using browser?

[2022-04-04 15:57] chriswilley commented on #8257
I'd have to do more timings, but anecdotally they all take about the same time.

[2022-04-04 15:59] chriswilley commented on #8257
And yes to browser. (Google Chrome)

[2022-04-04 16:07] a3lk4i commented on #8257
Looks like it. These are the logs from the wait container where the artifact (container logs in this case) are uploaded

[code]

[2022-04-04 16:22] alexec commented on #8257
If they take the exact same time, then that hints at some problem with Argo Server in one place.

[2022-04-04 17:14] a3lk4i commented on #8257
During the pod run
[code]
When getting logs from UI

[code]

[2022-04-04 18:10] jemag opened #8317 "Manifests at specific tag, different from release manifests"
## Summary

Currently, the manifests provided by the Github release seem to differ from the manifests that are provided by the git repository at the same specific tag.

For example:

The release
`https://github.com/argoproj/argo-workflows/releases/download/v3.3.0/install.yaml` will properly provide image tag `v3.3.0`.

Whereas the manifests at :
`https://raw.githubusercontent.com/argoproj/argo-wor

[2022-04-04 18:11] alexec commented on #8317
Duplicate.

[2022-04-04 18:11] #8317 closed

[2022-04-04 18:36] aaaaahaaaaa commented on #8224
@alexec What about the original issue?

[2022-04-04 18:45] #7804 closed

[2022-04-04 18:52] alexec commented on #8224
Could you please re-state the problem?

[2022-04-05 04:59] LingClassmate commented on #8305
@sarabala1979 Hi, hello, is there any solution?

[2022-04-05 07:54] LoricAndre commented on #8310
Hi, thank you for that quick answer.

I can get into the UI without issues and the SSO SA is correctly assigned, which I can see in the User tab. The issue is that once logged in, I can create and submit workflows without any error.

My Kubernetes provider is Azure AKS, and RBAC is enabled and used successfully in other projects.

[2022-04-05 11:32] aaaaahaaaaa commented on #8224
@alexec You mean the original post is unclear?

[2022-04-05 11:38] aaaaahaaaaa commented on #8224
The gist is, considering the following workflow:
[code]

Then the following error is raised:
[code]

The problem seems to specifically occur when both worflow.parameters.X and item.Y are used next to each other as parameters of the same function. I believe there's clearly a bug here.

[2022-04-05 13:38] jomach commented on #3310
secretRef seems not to work :(

[2022-04-05 14:11] #7311 closed

[2022-04-05 14:43] #7829 closed

[2022-04-05 15:47] #7800 closed

[2022-04-05 15:47] #8291 closed

[2022-04-05 15:47] #7253 closed

[2022-04-05 15:47] #7486 closed

[2022-04-05 15:47] #7796 closed

[2022-04-05 15:47] #7798 closed

[2022-04-05 15:47] #7797 closed

[2022-04-05 15:47] #7799 closed

[2022-04-05 17:04] alexec commented on #8310
I think this is most likely to be mis-configuration, so I'm don't want to invest too much time until we've checked that.

* Can you confirm that the correct service account in being recieved by the Kubernetes API Server by checking your logs.
* Can you double-check the service account using `kubectl auth can-i`?

[2022-04-05 18:18] liggitt opened #8320 "Kubernetes 1.24: Token-handling code assumes auto-created service account token secrets"
Sweeping token-scraping of auto-generated Kubernetes token secrets in preparation for Kubernetes 1.24 showed the following code locations assume auto-generated tokens will exist:

https://github.com/argoproj/argo-workflows/blob/62e0a8ce4e74d2e19f3a9c0fb5e52bd58a6b944b/workflow/controller/operator.go#L3605

https://github.com/argoproj/argo-workflows/blob/a3c326fdf0d2133d5e78ef71854499f576e7e530/ser

[2022-04-05 19:35] sarabala1979 commented on #8279
Argo stop and terminate should make the workflow failed.  There is error log after stop the workflow which is triggering alerts

time="2022-03-29T15:57:42.700Z" level=error msg="node is already fulfilled" fromPhase=Succeeded namespace=data-datalake-poscontroller-usw2-e2e nodeName="ramezdeletemejavaproc-ramezspokdeleteme-82zvw[0].observer(0)" toPhase=Failed workflow=ramezdeletemejavaproc-ramezspokd

[2022-04-05 20:45] alexec commented on #8320
@liggitt do you have some thoughts on how to adapt the code to address this?

[2022-04-05 20:56] liggitt commented on #8320
if you need tokens to use outside the context of a pod (where they continue to be mounted in automatically for use), either request one using the [TokenRequest](https://kubernetes.io/docs/reference/kubernetes-api/authentication-resources/token-request-v1/) API, or [create a secret to hold one](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#manually-create-a-ser

[2022-04-05 21:05] alexec commented on #8320
None of these SAs are useful if they do not have a token. The user could presumably create a token?

[2022-04-05 21:08] liggitt commented on #8320
Service account tokens are not automatically ambient in secrets in 1.24+ (and possibly in 1.21+).

Tokens are created automatically for mounting into pods (but are not persisted in Secret API objects).

If a secret-based token is desired/needed, it can be [created manually](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#manually-create-a-service-account-api-tok

[2022-04-05 21:15] liggitt commented on #8320
it looks like at least some of the uses of getServiceAccountTokenName are to get the name of a Secret object in order to create a volume mount mounting in the token?

I'd recommend using projected token volumes instead, which let you request a token be mounted into a pod without needing to look up a Secret name.

See https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#b

[2022-04-05 21:43] alexec commented on #8320
Do project volumes work on GKE auto-pilot?

[2022-04-05 21:44] liggitt commented on #8320
yes

[2022-04-05 21:44] alexec commented on #8320
@jessesuen @jannfis FYI

[2022-04-05 21:48] alexec commented on #8320
Project volumes will not work for our case. We don't know the name of the service account token ahead of time. A single pod read many different tokens.

I *think* users will have to create the tokens themselve. We should update the code to returrn an error (rather than panic) so that users know what to do.

@liggitt thoughts?

[2022-04-05 22:00] liggitt commented on #8320
The name of the token, or the name of the service account?

Projected token volumes can be used multiple times, but only for a single service account (the one referenced by the pod spec)

If so, they'll either need to give you the names of the secrets they created (since they won't be referenced from the serviceaccount's .secrets field), or you'll have to query for the secrets (filtering by type,

[2022-04-05 22:15] alexec commented on #8320
Sorry. We don't know the **service account name** ahead of time (i.e. when pod starts up).

I understand.

[2022-04-05 22:57] tooptoop4 commented on #7272
this would be very useful! ie argo-events is starting workflows for each message where the message contains target tablename that the workflow writes to and you want to specify max 4 parallel workflows running per tablename

[2022-04-06 05:50] kenoshi commented on #7661
Have been running into the same problem...sure it restarts but this can't be the solution...the server hangs when this happens

[2022-04-06 07:06] AvasDream commented on #8253
So, my solution for this problem was to just base64 encode the manifest you want to submit.

[2022-04-06 07:06] #8253 closed

[2022-04-06 08:22] tooptoop4 opened #8322 "when: condition on outputs.artifact is false"
`when: "'{{steps.parse-messages-split.outputs.artifacts.dag-name}}' == snow"`

this never gets matched

but

`when: "{{steps.parse-messages-split.outputs.result}} == snow"`

does get matched (even though the value in the artifact and echoed in the step result are same.

argowf version 3.2.9

[2022-04-06 08:27] Hunter-Thompson commented on #8322
could you add the smallest possible workflow to reproduce the bug?

[2022-04-06 17:06] mxm-tr commented on #7606
I've also reproduced the issue but using a DAGTask, and I haven't been able to use the workflowTemplateRef there.

According to the [reference](https://argoproj.github.io/argo-workflows/fields/#dagtask) only templateRef seems to be available in a DAGTask

[2022-04-06 17:39] alexec opened #8324 "Show artifacts in the UI DAG"
Artifacts are key to each workflow, yet we treat them as an implementation detail.

We should surface them in the UI as part of the workflow itself.

More generally, we should focus more on data, less on workflows.

[2022-04-06 17:41] alexec commented on #3523
Updated version for testing:

https://github.com/argoproj/argo-workflows/releases/tag/v0.0.0-dev-mc-8

[2022-04-06 20:43] alexec commented on #8324
<img width="209" alt="image" src="https://user-images.githubusercontent.com/1142830/162067390-c6a62be8-2e6a-4da2-b0d4-dbbb150b8cd4.png">

[2022-04-06 21:01] alexec commented on #8324
<img width="856" alt="image" src="https://user-images.githubusercontent.com/1142830/162070209-8d885a19-4fed-47ba-9aff-827e08ed1a7f.png">

[2022-04-06 21:06] alexec commented on #8324
<img width="179" alt="image" src="https://user-images.githubusercontent.com/1142830/162071014-315ab150-edb1-4fe9-8726-9d0c50f39475.png">

[2022-04-07 15:06] alexec opened #8329 "Date range filter for workflow list in UI"
# Summary

Users want to be able to find workflows by time. Add a filter to the UI for date range (same as archived workflows).

Note that the API does not support time filters, and cannot, because it essentially proxies to the Kubernetes API, which does not support it.

That means we need to warn users that maybe need to increase the number of records per page..

This feature will never be perfec

[2022-04-07 15:08] alexec commented on #7870
Sorry. I seem to not have seen your reply. Did you manage to fix?

[2022-04-07 15:08] alexec commented on #8032
How's it going?

[2022-04-07 16:13] sandeepitachi opened #8330 "Bitbucket webhook test connection fails with HTTP 401 and "token not valid for running mode""
## Summary

I'm trying to trigger the workflows using webhooks and followed this link [webhooks](https://argoproj.github.io/argo-workflows/webhooks/)
But bitbucket webhook test connection fails with "token not valid for running mode"

Argo server - v3.3.1 and this argo-server is managed by ArgoCD running v2.2.3
Installation - Cluster-install
Auth-modes - SSO and client

Overlays of argo-server dep

[2022-04-07 16:29] prichrd commented on #8286
Hey @alexec , please assign it to me! I'll look at this next week. Is there someone I can bother on slack if I get stuck?

[2022-04-07 16:36] sandeepitachi commented on #8330
I was careful about that!
In secret, used bitbucket-sa with type 'bitbucketserver' and secret 'abc'. Used same 'abc' in the webhook test connection
[code]
Service account used
[code]
Note:
It's weird - we have another argo-server (just namespace install) without managed by argocd - it works smoothly on that. Used same sa and secret name **argo-workflows-webhook-clients** value 'abc'

[2022-04-07 16:42] alexec commented on #3462
/assign @prichrd

[2022-04-07 17:19] prichrd commented on #8286
Great, thank you Alex!

[2022-04-07 18:19] msolimans commented on #3496
had the same issue and ended up using `command: [sh]` don't include `-c` in command or args

[2022-04-07 21:38] alexec commented on #8310
Attempted to repro, failed:

[code]

[2022-04-07 21:40] alexec commented on #8310
[code]

[2022-04-07 21:42] alexec commented on #8330
These are the values from the quick-start:

[code]

[2022-04-07 21:50] alexec commented on #8102
Can you please try in v3.3?

[2022-04-07 21:50] alexec commented on #8257
Do you have the same problem when connecting directly, rather than via ingress or LB?

[2022-04-07 21:58] alexec commented on #5697
To fix this:

https://github.com/argoproj/argo-workflows/blob/aa9ff17d5feaa79aa26d9dc9cf9f67533f886b1c/ui/src/app/shared/list-watch.ts#L15

Add some kind of backoff.

[2022-04-07 21:59] alexec commented on #7781
Same as this?

https://github.com/argoproj/argo-workflows/issues/7278

[2022-04-07 22:01] sandeepitachi commented on #8330
@alexec I have already used the same manifests in my case.
- Ok this weird - for some reason - test connection gave 401 error BUT the wfs are triggering successfully! pheww!

- Apologies Alex - thank you so much for your responses

- Before sending events - I have deleted argocd redis server and restarted argocd redis pod and argo server pod.

- Do you think that was the issue ?

[2022-04-07 22:02] alexec commented on #8330
Maybe :)

[2022-04-07 22:02] #8330 closed

[2022-04-07 22:07] alexec commented on #7781
I've created a fix for this, but I need someone to test. Any volunteers?

[2022-04-08 01:45] Colstuwjx commented on #7781
Hi @alexec , I'm wondering if it's not client issue, the api that argo ui used was `https://localhost:2746/artifacts/argo/hello-world-c2gzc/hello-world-c2gzc/main-logs`, which was different to `https://localhost:2746/api/v1/workflows/argo/hello-world-c2gzc/log`.

What's the difference between these two apis? I've been tried the second api, as I mentioned before, it [didn't work](https://github.com

[2022-04-08 08:01] tcolgate commented on #7469
Can the go-git version being used not be rolled back within argo? This is a really painful break.

[2022-04-08 10:11] felix-dpg opened #8342 "Erratum in docs"
# Summary

What change needs making?

In the docs, recursion section has an erratum in the Workflow template
[code]
Template must be **flip-coin**

Thanks in advance and BTW, very nice work with argo workflow!!!

[2022-04-08 13:07] mateusz-szczesny commented on #2936
@bolthar have you managed how to resolve this?

[2022-04-08 16:20] alexec commented on #8342
Could you like to submit a PR to fix?

[2022-04-08 16:25] #7589 closed

[2022-04-08 16:30] alexec commented on #7781
Yes. I they are different APIs. Both the Java and Python SDKs are broken.

[2022-04-08 19:34] lucastheisen opened #8344 "Allow images map for emissary to be overridden at a namespace level"
# Summary

When using `emissary`, we have to either specify the `command` on every `container` or we have to specify a map in the `workflow-controller-configmap`. The problem is that the default deployment has the `workflow-controller` as a cluster level resource and the individual workflows are namespace specific. In a shared cluster, that makes it impractical to use the image map. Having to spec

[2022-04-08 19:44] alexec commented on #8344
We re-write the container command to pre-pend it with `argoexec emissary`. Unfortunatly, we cannot determine the command unless it is specified. This is the same as TektonCD, but we do not have the capabilite to look-up the image from the Docker registry:

https://tekton.dev/vault/pipelines-v0.14.3/container-contract/

You can set them in the controller config:

https://argoproj.github.io/argo-wor

[2022-04-08 19:58] alexec commented on #8344
I think we could base an automatic look-up on this:

https://github.com/tektoncd/pipeline/blob/385421f44d3ab7cf8c91df21203ce6bc8d4a021e/pkg/pod/entrypoint_lookup.go

[2022-04-08 20:42] #7781 closed

[2022-04-08 21:07] alexec commented on #7278
I've finally gotten around to looking into this. The Java SDK is generated from OpenAPI specs. OpenAPI does not support server-send events (aka SSE). So this cannot be fixed.

[2022-04-08 21:07] #7278 closed

[2022-04-08 21:19] alexec commented on #7278
This works:

https://adambien.blog/roller/abien/entry/receiving_server_sent_events_sses

[2022-04-08 22:22] marwatk commented on #8344
One possible long-term solution could be to get the `ENTRYPOINT` and `CMD` from the image in the [Downward API](https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/#the-downward-api), but that's probably a long shot. I may take a stab at opening a KEP for it just to see what response I get.

In the mean time, though, I'd agree that at least attemptin

[2022-04-08 23:27] tooptoop4 opened #8346 "Workflow D to run after Workflow A, B and C"
Workflow A runs at cron schedule of 2pm daily (and might have a runtime of 2-6 hours)
Workflow B runs at cron schedule of 3pm daily (and might have a runtime of 3-4 hours)
Workflow C runs at cron schedule of 5pm daily (and might have a runtime of 1-2 hours)

I want Workflow D to automatically start once this condition is met (`the last completion time of workflow A was in the last 24 hours AND the

[2022-04-09 00:12] tooptoop4 commented on #4210
would this cover a case where you have a 5pm cron schedule but k8s had an outage from 4.59pm-5.01pm, would it trigger that missed 5pm at 5.02pm when k8s is back?

[2022-04-09 00:20] tooptoop4 opened #8347 "CronWorkflow referencing custom calendars (ie with public holidays defined)"
define a custom calendar that has some public holidays excluded (maybe in some configmap)
then set a cronwf to run on the days defined in the custom calendar

[2022-04-09 00:22] tooptoop4 opened #8348 "CronWorkflows: support more schedule expressions like "last day of the month""
ability to specify schedule like 11am on '2nd weekday of the month', 'last 5 days of the month', 'last business day of the month'

see examples at the end of:
https://confluence.atlassian.com/servicedeskserver030/constructing-cron-expressions-for-a-filter-subscription-761769111.html

https://en.wikipedia.org/wiki/Cron#Non-standard_characters
https://github.com/robfig/cron/pull/325#issuecomment-104

[2022-04-09 01:09] Colstuwjx commented on #7781
As a result, I don't think this issue has been fixed by #8332, instead, we might need to figure out which api we should use to get logs, and turn to use it in the client library.

[2022-04-09 04:20] LingClassmate opened #8349 "I want to get the NAME of the last step, not the POD NAME. Is this possible?"
I want to get the NAME of the last step, not the POD NAME. Is this possible?
How do I get the `step1` name?

[code]

The output:
[code]

[2022-04-09 12:12] GitHubFor122 commented on #4447
I have same issue for 3 month

[2022-04-09 16:20] alexec commented on #7781
It’s not possible to fix this AFAIK. OpenAPI does not support SSE. PodLogs and WorkflowLogs both use SSE. You could use a Python SSE client and marshal into objects provided by the SDK.

That could be added to the SDK.

[2022-04-09 16:21] alexec commented on #7781
Would anyone like to investigate?

[2022-04-09 19:48] louisnow opened #8352 "Cron Workflow pod stuck in pending state if referencing secondary template with error invalid spec.hostname"
## Checklist

* [x] Double-checked my configuration.
* [ ] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
- Scenario: Cron workflow referencing a WorkflowTemplate. WorkflowTemplate entrypoint template references another template.
- Pod stuck in pending state if referencing another template with invalid `spec.hostname` bug.

[2022-04-10 00:14] #8307 closed

[2022-04-11 02:10] msidana commented on #8342
Can I work on this ?

[2022-04-11 02:11] tooptoop4 opened #8358 "sleep between retries"
https://argoproj.github.io/argo-workflows/retries/ would be great if could say sleep 120 seconds between each retry

[2022-04-11 03:55] #8342 closed

[2022-04-11 06:22] LingClassmate commented on #8349
@alexec  Is there any way to receive the `POD NAME` specified in the configuration file?

[2022-04-11 07:23] Piroddi commented on #8217
Duplicate of #7311

[2022-04-11 07:23] #8217 closed

[2022-04-11 10:20] jazka opened #8364 "Any way to remove the resource automatically when argo finished with main container failed?"
# Summary

We created workflow with one step of resource Pytorchjob. When argo main container fails with error like "executor error: Unable to connect to the server: dial tcp xx.xx.xx.xx:443: i/o timeout", the Pytorchjob keeps running, but the workflow will be changed to Error status. Is there any way to remove Pytorchjob and its running pods? The "successCondition" and "failureCondition" have bee

[2022-04-11 13:23] chriswilley commented on #8257
All my testing has been done when connecting through `kubectl proxy` direct to the cluster.

[2022-04-11 13:31] ajkaanbal commented on #8364
have you tried?

[code]
and

[code]

https://github.com/argoproj/argo-workflows/blob/master/examples/k8s-owner-reference.yaml
https://github.com/argoproj/argo-workflows/blob/master/examples/pod-gc-strategy.yaml

[2022-04-11 14:54] jazka commented on #8364
I will try podGC since `setOwnerReference: true` has been set.

[2022-04-11 15:00] alexec commented on #8349
You should be able to do this using input parameters. Is there an example in the examples folder?

[2022-04-11 15:05] alexec commented on #8257
I think we need to do live debugging.

Could you please set-up 30m?

https://bit.ly/book-30m-with-argo-team

[2022-04-11 15:16] bariqhibat opened #8368 "I would like a mentor"
**Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).**

Answer: **Yes I have read the mentoring guide.**

**What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?**

Answer: **I have a lot of experience in React using Javascript and Typescript, and some

[2022-04-11 17:09] chriswilley commented on #8257
Zoom is not accepting my password

[2022-04-11 17:15] alexec commented on #8257
Hmm, I don't see your booking, maybe you got booked with someone else. Could you do 10:30am PT tomorrow?

[2022-04-11 17:16] chriswilley commented on #8257
Yes

[2022-04-11 17:18] hblixt opened #8370 "TOB-ARGO-TM14 - User authentication is not logged if user isn’t mapped to RBAC rules"
When using SSO authentication, a user is mapped to RBAC rules and logging is performed.
However, when a user is not RBAC-enabled, authentication is not logged for that user.
Consequently, in some configurations, authentication may not be logged, which could
hinder an operator’s ability to mitigate or understand certain classes of attacks.

Request
Enhance logging operations so all authentication a

[2022-04-11 17:39] alexec commented on #8370
Logged here unless I've missed something?

https://github.com/argoproj/argo-workflows/blob/55ecfeb7b0e300a5d5cc6027c9212365cdaf4a2b/server/auth/gatekeeper.go#L218

[2022-04-11 17:40] alexec commented on #8257
Cool. Are you able to book that slot tomorrow?

[2022-04-11 18:18] #8230 closed

[2022-04-11 18:20] chriswilley commented on #8257
It says there are no slots available

[2022-04-11 19:58] alexec commented on #8257
11am or 11:30am?

[2022-04-11 20:35] chriswilley commented on #8257
do you see a booking for me at 1pm EST Wednesday?

[2022-04-11 22:24] alexec commented on #8324
![image](https://user-images.githubusercontent.com/1142830/162843235-cee93ba2-13fd-4a8d-a1eb-98142d9d7af5.png)

[2022-04-11 22:43] sarabala1979 commented on #8352
@louisnow can you provide the describe of pending `Pods`?

[2022-04-11 22:45] sarabala1979 commented on #8207
@dpadhiar can you take a look?

[2022-04-11 22:48] sarabala1979 commented on #8370
@hblixt I think we addressed this issue.

[2022-04-11 23:19] alexec commented on #8370
#trail of bits

[2022-04-11 23:19] #8370 closed

[2022-04-12 01:16] LingClassmate commented on #8349
I don't see any examples.

[2022-04-12 04:53] #7329 closed

[2022-04-12 04:53] #7739 closed

[2022-04-12 05:11] louisnow commented on #8352
Describe of pending pod @sarabala1979
[code]

[2022-04-12 05:33] sarabala1979 commented on #8352
@louisnow  looks like your hostname string is invalid  end with `-`  hostname limits 64 chars. `dsq-94ee6512-9439-4c3e-a57c-958845e541b4-cbabf-cron-1649740140-` is 63 chars. Do you have a mutation webhook to update the pod hostname?

Can you try to have small/less cronworkflow name?

[2022-04-12 07:18] haoxins opened #8376 "Add K8s auto scaler `safe-to-evict` annotation to the workflow pod"
# Summary

Hi, I'd like to add the annotation `cluster-autoscaler.kubernetes.io/safe-to-evict: false` to the workflow pod
It will look like

[code]

[code]

# Use Cases

This will prevent the pod's node been scale down when the pod is still running.
And it will not prevent the node been remove successfully if the pod is failed or succeeded.

https://github.com/kubernetes/autoscaler/blob/master/clu

[2022-04-12 07:38] tcolgate opened #8377 "Unable to clone repo with ssh git submodule"
Running version v3.3.1 with 1d373c4  (which resolved #7469) cherry-picked into the executor

Workflows using git submodules fail to run. The init containers executor fails with ((I've redacted the org and repo names here)...
[code]

[2022-04-12 08:46] ioanna-ki commented on #5570
you can try this:
[code]

example input:
[code]

[2022-04-12 09:01] tcolgate commented on #8377
The `.gitmodules` for the impacted repositories are all of the form...
[code]
I think I've found the problem and will raise an issue in the go-git fork repo.

[2022-04-12 09:13] tcolgate commented on #8377
https://github.com/argoproj-labs/go-git/pull/3

[2022-04-12 10:06] tacf opened #8380 "Authentication Failure with Git Artifacts Inputs"
## Checklist

* [X] Double-checked my configuration.
* [X] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

Using git artifacts as input throws 'authentication error' in latest version. This started happening last week with local setup that i was testing. The solution was to move to the comunity helm chart (i wasn't able to

[2022-04-12 14:10] alexec commented on #8380
Do not run `:latest` except for development. It is the bleeding edge. This is most likely caused by #7486 .

[2022-04-12 14:33] alexec commented on #8380
I don't have enough information it this PR to reproduce the issue. I know you cannot share your PAT. Instead, what about spending 30m on a Zoom?

https://bit.ly/book-30m-with-argo-team

[2022-04-12 14:58] LoricAndre commented on #8310
It is, my email is associated with:
`loginServiceAccount=argo-workflow-default-user-login serviceAccount=argo-workflow-default-user-login ssoDelegated=false ssoDelegationAllowed=false`

Impersonation is disabled on the cluster, I cannot test this.

[2022-04-12 15:20] akloss-cibo commented on #6642
I have this use case too.  It's not so much that the output is large, it's just that having to inject an extra step into a workflow to extract the artifact wastes roughly doubles the startup time for my workflow.  That is, there's a step which creates an artifact, `steps.json` and then a second step that just does `cat steps.json` to get that into stdout for use in a `withParam`.

[2022-04-12 15:25] alexec commented on #8324
Did some gurilla testing. Feedback was positive enough to proceed.

[2022-04-12 15:46] alexec opened #8382 "artifact_server.go return error details on 401, should not"
[code]

Do not return the error.

[2022-04-12 16:19] haoxins commented on #8376
so, we can mount the `emptyDir` volume into the wait container?
(I don't think the init container need this.)

[2022-04-12 16:37] #8352 closed

[2022-04-12 16:57] alexxed commented on #7466
No because this problem happens in the workflow-controller, after the workflow steps completed.

[2022-04-12 17:24] #8382 closed

[2022-04-12 17:25] alexec commented on #8376
Correct. We want to do that, because (a) we want to change the Dockerfile to use `FROM scratch`, but that image does not have a `/tmp` directory, and (b) it would allow users to set the security context to have read-only root FS.

[2022-04-12 17:51] alexec opened #8384 "_.primary.swagger.json say "{podName}" but should say "{nodeId}""
This file is wrong

[2022-04-12 18:13] sudeshjethoe commented on #8346
We are actually doing something similar, you can use Argo Events for this.

Just setup a Sensor which is triggered by a webhook(s) and let workflow A, B and C call the webhook when they are finished...

https://github.com/argoproj/argo-events/blob/master/examples/sensors/multi-dependencies.yaml

https://github.com/argoproj/argo-events/blob/master/examples/sensors/time-filter-webhook.yaml

[2022-04-12 20:33] #8384 closed

[2022-04-12 20:34] alexec commented on #8032
Excellent! Let me know if you need any help.

[2022-04-12 20:38] alexec commented on #8376
Changes to make:

Change `gcr.io/distroless/static` to `scratch`.
https://github.com/argoproj/argo-workflows/blob/637d14c88f7d12c1c0355d62c2d1d4b03c4934e1/Dockerfile#L95

Add a new empty-dir volume called `wait-tmp` to the pod and add a volume mount to the wait container:

https://github.com/argoproj/argo-workflows/blob/637d14c88f7d12c1c0355d62c2d1d4b03c4934e1/workflow/controller/workflowpod.go#L7

[2022-04-12 22:15] #5697 closed

[2022-04-13 01:46] chunyang-wen commented on #8230
@alexec Any release plan for this fix?

[2022-04-13 14:57] #8377 closed

[2022-04-13 17:09] tho93 opened #8393 "Allow specifying SSO clientId/clientSecret secrets via environment variables"
# Summary

Argo Workflows should allow specifying secrets via env vars instead of a Kubernetes secret reference. Namely, I want to enable SSO for Argo workflows, but the [Helm Chart](https://github.com/argoproj/argo-helm/blob/master/charts/argo-workflows/values.yaml#L444-L451) only supports a clientId/clientSecret secret reference. I’d like to use an initContainer to retrieve those values and stor

[2022-04-13 17:49] alexec commented on #8257
f0fb0d56d chore(deps): bump github.com/minio/minio-go/v7 from 7.0.15 to 7.0.23 (#8003)
aea6c3912 chore(deps): bump github.com/gorilla/websocket from 1.4.2 to 1.5.0 (#7991)
89d7cc39d chore(deps): bump github.com/tidwall/gjson from 1.13.0 to 1.14.0 (#7992)
6076524cd chore: Upgrade to Kubernetes v0.23. Fixes #6750 (#7832)
980f2feb7 chore(deps): bump github.com/gavv/httpexpect/v2 from 2.2.0 to 2.3.1 (

[2022-04-13 17:49] alexec commented on #8257
diff --git a/go.mod b/go.mod
index e66a3252a..6b88e1964 100644
--- a/go.mod
+++ b/go.mod
@@ -1,16 +1,16 @@
 module github.com/argoproj/argo-workflows/v3

-go 1.16
+go 1.17

 require (
-	cloud.google.com/go/storage v1.10.0
+	cloud.google.com/go/storage v1.20.0
 	github.com/Knetic/govaluate v3.0.1-0.20171022003610-9aa49832a739+incompatible
 	github.com/Masterminds/sprig/v3 v3.2.2
 	github.com/TwinPr

[2022-04-13 19:33] alexec commented on #8257
@chriswilley I've created an engineering build that adds additional informational logging. This should help diagnose where the problem is. It will take 1h for the image to be published.  The tag will be `:dev-log`. Can you also test with `:latest` to make sure that this issue has not been accidentally fixed?

You only need to change the argo-server image tag. Leave other configration unchanged.

[2022-04-13 19:46] chriswilley commented on #8257
Will do. Thanks.

[2022-04-13 20:09] alexec opened #8395 "v3.2.8: panic at /operator.go:1807 .getRetryNodeChildrenIds"
[code]

[2022-04-13 20:12] alexec commented on #8395
![image](https://user-images.githubusercontent.com/1142830/163262381-44c256ca-adb2-4c40-aaf8-950b5d9e5faf.png)

[2022-04-13 20:12] alexec commented on #8395
message=could not find child node

[2022-04-13 20:21] #7687 closed

[2022-04-13 20:26] alexec opened #8396 "`argo cp`/UI: Artifact streaming"
Today, when we work on artifacts, we download the entires object and copy it around.

This is extremely memory and disk intensive for large artifacts (e.g. 1Gb). Instead, we should use the streaming APIs when available to serve artifacts.

Tasks

- [x] Upgrade argoproj/pkg to v0.12.0 to get the new S3 OpenFile func.
- [ ] Modify `ArtifactDriver` to add `Open` func. Implement for drivers that can r

[2022-04-13 20:39] alexec commented on #1428
I think this is fixed in `:latest`. Please let me know if not.

[2022-04-13 20:39] #1428 closed

[2022-04-13 20:39] alexec commented on #2339
I think this is fixed in `:latest`. Please let me know if not.

[2022-04-13 20:39] #2339 closed

[2022-04-13 21:31] #8344 closed

[2022-04-13 21:37] shbalaku commented on #8305
I am also unable to use the lifecycle hook. I'm wondering whether `steps` variables are used when evaluating the expression [here](https://github.com/argoproj/argo-workflows/blob/61f0decd873a6a422c3a7159d6023170637338ff/workflow/controller/hooks.go#L20)

[2022-04-13 22:05] alexec commented on #4349
I'm planning on doing some work in the next few that would be made much easier with URNs for artifacts. To be able to load/save artifacts we'll need to be able to:

* Have an URL or URN for any artifact
* Have a context for accessing the artifact, e.g. a namespace, workflow, or artifact repository, than allows us to ask - is the principal/subject allowed to read/write/delete the artifact.
* Combin

[2022-04-13 23:06] alexec commented on #4349
Currently, you need the workflow to find the artifact. We could restrict this workflows using `artifactRepositioryRef` (i.e. a named configmap).

    auth = artifactRepostioryRef:v1:{namespace}:{name}:{key}
    artifact = artifact:v1:s3:{endpoint}:{bucket}:{key}
    artifact = artifact:v1:git:{repo}:{branch}

Dataflow gets it wrong, secrets should not go in the URN:

https://github.com/argoproj-la

[2022-04-14 09:44] jomach commented on #5069
Are you sure this works ? I tried it on my cluster with emissary and I get:

Error (exit code 64): unable to process data template: unable to process data source: no valid source is used for data template
Argo version 3.2.9

[2022-04-14 14:55] #7588 closed

[2022-04-14 20:32] sarabala1979 opened #8401 "Cherry pick v3.3.2"
- [x] Saravanan Balasubramanian: fix: Daemon step updated 'pod delete' while pod is running (#8399) f467cc555
- [ ] Rohan Kumar: fix: prevent backoff when retryStrategy.limit has been reached. Fixes #7588 (#8090) a648ccdcf
- [x] Alex Collins: fix: Add readiness check to controller. Fixes #8283 (#8285) 283f6b58f
- [x] Tristan Colgate-McFarlane: fix: Absolute submodules in git artifacts. Fixes #8377

[2022-04-14 20:35] sarabala1979 commented on #8401
@alexec Can you select your issues which should go into v3.3?

[2022-04-14 20:54] alexec commented on #8401
I think some of these fixes are already in v3.3. I've checked as requested.

[2022-04-14 21:13] alexec opened #8402 "Track/log UI usage"
# Summary

We could add a beacon endpoint that could by the UI to track usage of the UI

[code]

This just makes a HTTP request to `/api/v1/collect?t=trackEvent&event=viewNodeSummary`, similar to:

https://developers.google.com/analytics/devguides/collection/protocol/v1/reference

This event could be logged, with the SSO subject/email so Splunk queries could be created and we can speak to users ab

[2022-04-15 05:31] lambertsbennett opened #8403 "I would like a Mentor"
**Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).**

Answer:  Yes I have read the mentoring guide.

**What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?**

Answer: I currently work as a data scientist and use Argo Workflows as an end user. I have

[2022-04-15 05:34] lambertsbennett commented on #8403
I see this issue already has an associated pull request, but this issue would also be interesting for me https://github.com/argoproj/argo-workflows/issues/785

[2022-04-15 06:20] LingClassmate opened #8404 "I need help! Is the Pod NAME in Workflow customizable? Do not allow automatic generation by the system."
I need help! Is the Pod NAME in Workflow customizable? Do not allow automatic generation by the system.

[2022-04-15 08:12] kulinskyvs commented on #8401
Hello,

Is there any estimated date for the "3.3.2" release?

Thank you!

[2022-04-15 10:15] infa-eansari commented on #7366
The issue is not yet fixed ?

Trying to access DAG task status as "when: {{tasks.<name>.status}} == Failed" but getting error like failed to resolve "tasks.<name>.status"

[2022-04-15 10:50] tooptoop4 commented on #8358
https://raw.githubusercontent.com/argoproj/argo-workflows/master/examples/retry-backoff.yaml has backoff example

[2022-04-15 10:50] #8358 closed

[2022-04-15 11:28] mynameisfiber commented on #7895
@alexec sorry for the long delay in response... I was off of this project for a little bit. So it turns out that `--managed-namespace` wasn't configured for the argo instances. I do think, however, that this should be addressed because it is quite confusing undefined behavior. I think at the least a warning that the user may be encountering this behavior would be useful for debugging purposes.

[2022-04-15 23:28] tooptoop4 opened #8406 "Depend on success of previous CronWorkflow run"
if CronWorkflow is scheduled every 4 hours
would like an option to only run the 8pm workflow if the 4pm workflow was successful

[2022-04-16 05:07] Piroddi commented on #8293
Hi @sarabala1979 could you please confirm if this is a bug and being worked on?

Can then remove stale label

[2022-04-16 09:03] tooptoop4 commented on #8322
crispy

[2022-04-16 09:29] #7457 closed

[2022-04-16 09:29] #7994 closed

[2022-04-16 09:29] #7306 closed

[2022-04-16 09:29] #8059 closed

[2022-04-16 09:29] #7424 closed

[2022-04-16 09:29] #4508 closed

[2022-04-16 09:29] #7442 closed

[2022-04-16 09:29] #7453 closed

[2022-04-16 09:29] #7548 closed

[2022-04-16 09:29] #6857 closed

[2022-04-16 09:29] #6919 closed

[2022-04-16 09:29] #6475 closed

[2022-04-16 09:29] #7444 closed

[2022-04-16 09:29] #7381 closed

[2022-04-16 09:29] #7671 closed

[2022-04-16 09:29] #7509 closed

[2022-04-16 09:29] #7449 closed

[2022-04-16 09:29] #7425 closed

[2022-04-16 09:29] #7359 closed

[2022-04-16 09:29] #7227 closed

[2022-04-16 09:29] #7250 closed

[2022-04-16 09:29] #7288 closed

[2022-04-16 09:29] #7530 closed

[2022-04-16 09:29] #7399 closed

[2022-04-16 09:29] #7337 closed

[2022-04-16 09:29] #7336 closed

[2022-04-16 09:29] #6384 closed

[2022-04-16 09:29] #7866 closed

[2022-04-17 03:50] tooptoop4 commented on #8401
please include https://github.com/argoproj/argo-workflows/pull/8397

[2022-04-17 03:52] tooptoop4 commented on #8257
I think I found the cause minio-go 7.0.23 introduced a regression that is fixed in 7.0.24: https://github.com/minio/minio-go/pull/1626

[2022-04-17 10:23] aaaaahaaaaa commented on #8224
@alexec Would you confirm that looks like a bug to you?

[2022-04-17 11:29] #7385 closed

[2022-04-17 11:29] #7936 closed

[2022-04-17 13:23] bengoldenberg commented on #3523
any update?

[2022-04-17 21:12] hadim commented on #7671
Indeed this is not an argo issue but more related to k8s itself with a potential workaround to be provided by tqdm.

I have opened a ticket about it on the tqdm repo: https://github.com/tqdm/tqdm/issues/1319

[2022-04-18 09:39] amitde69 commented on #3523
from our stand point this is definitely a must !! we are waiting for the official implementation.

[2022-04-18 14:41] alexec commented on #8404
No.

[2022-04-18 14:48] alexec commented on #8257
#8401

[2022-04-18 14:55] alexec commented on #8401
I've cherry-picked a0148c1b3 to fix #8257.

[2022-04-18 14:55] alexec commented on #8257
I've cherry-picked https://github.com/argoproj/argo-workflows/commit/a0148c1b32fef820a0cde5a5fed1975abedb7f82 to fix https://github.com/argoproj/argo-workflows/issues/8257.

[2022-04-18 15:11] alexec commented on #3417
Can I confirm, you simply want the log artifacts that are created and normall named `main.log` to be named after the step, and this should be done using `keyFormat`?

[2022-04-18 15:22] #1330 closed

[2022-04-18 15:30] alexec commented on #5862
This would fix the #1540 support.

[2022-04-18 15:36] alexec commented on #8257
Will be fixed in v3.3.2

[2022-04-18 15:36] #8257 closed

[2022-04-18 16:23] #8279 closed

[2022-04-18 16:46] alexec opened #8409 "Change from using pod status to mainly just task-result"
Currently, we use a mixture of pod status and task-result to determine the outcome of a workflow step. Pods can be deleted as soon as they complete and so it is possible for the pod status to be lost before the controller can update the node status. This happens a lot during node drain, resulting in "pod deleted" workflows.

Instead:

* The wait container could populate the task-result with phase

[2022-04-18 17:15] sarabala1979 commented on #7444
It is not a bug. It is by design. if you are referring `templateRef` on workflow, it can't access the Spec level elements. PVC definition should be in workflow.

[2022-04-19 02:11] mikutas commented on #7518
same issue
version: 3.2.9
k8s versin: 1.21

[2022-04-19 02:25] gandeevan opened #8410 "Enhanced depends logic not working with nested dags"
[code]

I expect the "B-should-execute" task to run in this workflow. However, looks like that's not happening. I'm not sure if I'm missing something here. Would appreciate any help! Thanks :)

Version: 3.2.9
Executor: emissary

[2022-04-19 03:14] gandeevan commented on #8410
Looks like the task is actually running, but is not showing up on the dashboard.
[code]

![screenshot](https://user-images.githubusercontent.com/8529026/163913017-3a1bd648-e2aa-4110-8e99-dd6d95ade5a2.png)

[2022-04-19 03:27] danielhelfand commented on #8190
This may be a bit challenging for resources like Workflows, which will require a schema for this feature to work. Due to the size of the CRDs with the schema, this will cause errors like below when deploying the CRD with descriptions:

[code]

It seems schemas were intentionally left out due to this issue.

However, it still may be possible for smaller CRDs to support kubectl explain.

[2022-04-19 09:45] am-sebastiankunze commented on #8172
I submitted the following WorkFlow in order to side-step the WorkFlowTemplate:
[code]

But I am running into the same behavior as well.

[code]

Looks like the controller receives the parameter but fails to use it correctly.

Cheers,
Sebastian

[2022-04-19 14:43] alexec commented on #7518
client-go has been upgrade to v0.23.3 in v3.3. Can you please try v3.3

[2022-04-19 14:46] alexec commented on #8401
[code]

[2022-04-19 14:46] alexec commented on #8401
3d606939d - PASS

[2022-04-19 14:50] alexec commented on #8401
https://github.com/argoproj/argo-workflows/issues/3500

[2022-04-19 14:52] alexec opened #8411 "`ProgressSuite/TestLoggedProgress` is flakey"
This test is a flake.

[2022-04-19 14:53] alexec opened #8412 "`TestOptionalInputArtifacts ` on `master` build broken"
https://github.com/argoproj/argo-workflows/actions/workflows/ci-build.yaml?query=branch%3Amaster

![image](https://user-images.githubusercontent.com/1142830/164032567-e6e20ff0-17a5-41ab-981f-9fc3ea3e0cea.png)

[code]

[2022-04-19 14:55] alexec commented on #8401
https://github.com/argoproj/argo-workflows/compare/release-3.3

[2022-04-19 15:02] alexec commented on #8401
https://github.com/argoproj/argo-workflows/actions/runs/2190437810

[2022-04-19 15:26] alexec commented on #8172
Here is where the change needs to be made:

https://github.com/argoproj/argo-workflows/blob/5845efbb94da8acfb218787846ea10c37fb2eebb/pkg/apis/workflow/v1alpha1/artifact_repository_types.go#L80

The repository bucket always overwrites the existing value.

[code]

Should be changed to (something like)

[code]

And tests written.

Would you like to submit a PR for this?

[2022-04-19 15:37] alexec commented on #8412
Caused by feat: added support for http as an option for artifact upload. Fixes #785 (#8405)

[2022-04-19 15:37] alexec commented on #8412
Reverted 5845efbb9..e71fdee07

[2022-04-19 15:38] alexec commented on #785
@rohankmr414 I reverted your commit because it was causing master build to fail with a panic.

You need to guard `UsernameSecret` and `PasswordSecret` with a nil-check.

[2022-04-19 15:38] #8412 closed

[2022-04-19 16:29] gandeevan commented on #8410
cc: @alexec

[2022-04-19 17:35] tony-mw opened #8415 "Conditionally Run Workflows Based on Git Artifact Files Changed"
# Summary

It would be useful to add a ```key:list(values)``` option to the git artifact stanza of the Workflow/Workflow-Template CRD where an operator can specify the paths of files that, when modified, will trigger the workflow.

- Example:
[code]

# Use Cases

I ran into a scenario where I needed this functionality to set a working directory for a later stage in my workflow, based on the files

[2022-04-19 17:40] ccureau commented on #7606
I'm trying to get this same thing to work with multiple Workflow Templates that I want to run from a specific template. It seems that a `workflowTemplateRef` can only reference one workflow template.

[2022-04-19 17:59] alexec opened #8416 "Investigate master merges"
3 merge commits have appeared on master

[code]

* How did they appear?
* Did they change anything?

[2022-04-19 18:01] alexec commented on #8416
@sarabala1979 is an admin. Admins can push to master. I've changed this setting to prevent the problem happening again.

[2022-04-19 18:03] alexec commented on #8416
No

https://github.com/argoproj/argo-workflows/compare/73ea7c72c...4471b59a5

[2022-04-19 18:03] #8416 closed

[2022-04-19 18:04] alexec opened #8417 "Windows builds broken"
tep 13/26 : COPY --from=builder C:/ProgramData/chocolatey/lib/docker-cli/tools/docker/docker.exe C:/app/docker.exe
[212](https://github.com/argoproj/argo-workflows/runs/6082729800?check_suite_focus=true#step:5:212)
COPY failed: stat C:\ProgramData\chocolatey\lib\docker-cli\tools\docker\docker.exe: file does not exist

https://github.com/argoproj/argo-workflows/runs/6082729800?check_suite_focus=tru

[2022-04-19 18:05] alexec commented on #8417
@argoproj/argo-windows can anyone please take a look?

[2022-04-19 18:05] alexec commented on #8417
If I get no reply in 24h, I'll disable the builds.

[2022-04-19 18:22] lippertmarkus commented on #8417
@alexec as the Docker executor is removed anyway with https://github.com/argoproj/argo-workflows/issues/7795, we can remove the binary for as well, right?

[2022-04-19 18:23] alexec commented on #8417
Correct.

[2022-04-19 19:18] #8417 closed

[2022-04-19 22:05] dpadhiar commented on #8207
@motybz Hi, could you provide the workflow YAML so we may reproduce the bug? Thank you.

[2022-04-20 02:47] gandeevan commented on #7366
Any update on this issue? Thanks!

[2022-04-20 04:52] basanthjenuhb opened #8425 "Interactive Argo workflows"
# Summary
- Currently Argo workflows accepts parameters only at workflow start and after that workflow just runs on autopilot without any human interaction (except for suspend)
- But there are use cases where the workflow could intelligently generate and accept parameters in different stages of workflows
- This proposal adds the following capabilities
- Ability for any node to generate inputs prog

[2022-04-20 07:34] nice-pink commented on #8068
Is there a reason why the yaml files from the releases are not moved to the manifests folder and you continue to support kustomize? I maintain all the argo components incl versions using kustomize so far by just defining the images. To add sso support e.g. the manifest needs to be patched anyways, which is pretty handy with kustomize.

[code]

Further it seams like the version in the `namespace-in

[2022-04-20 14:38] alexec commented on #8068
We do not support kustomize. The reason can be found in the docs. Essentially, the tooling to do it was very buggy because it could not be tested as it only ran on release and would break every release.

If the manifests attached to the release do not have the correct image tag, that is a bug. Could you please raise a new issue?

[2022-04-20 14:42] alexec commented on #8410
Please can you attach the workflow YAML and the workflow controller logs.

[2022-04-20 14:56] #8411 closed

[2022-04-20 15:01] nice-pink opened #8429 "Wrong version in namespace-install.yaml (release v3.3.1)"
It seams like the versions in the namespace-install.yaml within the release are not up to date.
**Release 3.3.1:**

[code]

[2022-04-20 15:02] nice-pink commented on #8068
Response appreciated. I opened an issue. https://github.com/argoproj/argo-workflows/issues/8429

[2022-04-20 15:03] alexec commented on #8429
Looks correct to me?

![image](https://user-images.githubusercontent.com/1142830/164261543-9b21e0ab-c0ac-4823-a1c4-e1201c63e891.png)

[2022-04-20 15:04] #8068 closed

[2022-04-20 15:11] terrytangyuan opened #8430 "Switch to use Telepresence for port-forwarding"
# Summary

Instead of modifying /etc/hosts and a script to do port-forwarding, we could consider using [Telepresence](https://github.com/telepresenceio/telepresence) for local development and CI.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-04-20 15:21] tojaroslaw opened #8431 "Critical Security Vulnerability in argoexec v3.3.1"
# Summary

The most recent stable release of argoexec has the security vulnerability CVE-2022-28391.  I see that the release candidates for 3.3.2 that were released yesterday are free of this issue and I was wondering when we can expect a stable release free of this issue.  Thanks!

# Use Cases

We have a security policy of mitigating all critical security vulnerabilities, but we need a stable rel

[2022-04-20 15:29] alexec commented on #8431
The base image for the executor in v3.3 is `alpine:3`. We use the very latest version. The next release (v3.3.2) will contain be based on that version:

[code]

We don't have any control over that, either they've fixed it when we release v3.3.2, or they have not.

Either way, you can scan the image again when it is released.

[2022-04-20 15:29] #8431 closed

[2022-04-20 15:46] nice-pink commented on #8429
Now I see the same. Strange. Downloaded the file several times this morning. Could be closed then.

[2022-04-20 16:01] #8429 closed

[2022-04-20 16:10] #785 closed

[2022-04-20 17:18] alexec commented on #8286
@prichrd how is it going?

[2022-04-20 17:33] aaronmell opened #8432 "Data Sourcing and Transformations: add jsonpath as possible transform"
# Summary
Add the ability to use jsonpath as part of the data transform step

# Use Cases
1. You input some structured json data either from an external source, or from a previous step's artifact in the workflow.
2. You want to filter, map, or select a specific value from the json so you can pass it to a job downstream, without having to write a bash script.

Note: I looked briefly at expr and the

[2022-04-20 17:42] prichrd commented on #8286
@alexec it is progressing. There seem to be some corner cases that need to be considered, I will submit a proposal over the weekend.

[2022-04-20 17:46] alexec commented on #8286
no problem

[2022-04-20 17:51] softwarebloat opened #8434 "Quitting mentoring?"
# Summary

At the Argo Data weekly of yesterday (2022/04/19) we talked about the possibility to quit the mentoring support.

We would like to have more opinions about it

If I'm not wrong, problem seem to be that people are asking for mentorship and then "disappear" causing a waste of time.

I'm the one who proposed the mentorship program and i think it's really useful both for the mentee and for

[2022-04-20 20:00] alexec opened #8435 "Determine the original file type and name from an artifact"
Artifacts go through a complex process when being saved. Can we figure out what the original artifact was from the artifact+tgz file?

By default, `tar` is used. `zip` is either broken, or meaningless for uploads.

[code]

[code]

So:

[code]

It is *possible* they uploaded a `.tgz`, so I don't think you can only check suffix

[2022-04-20 21:04] alexec commented on #695
To get an artifact we need to know

* namespace
* workflowName for current workflows, UID for archived workflows
* nodeID
* artifactName
* is it an input or output

So you can create an identifier for them:

[code]

So we can create a new endpoint. This is probably not enough for most users:

* They want to download all artifacts (probably quite common).
* They want to download just artifacts, but

[2022-04-20 21:08] sarabala1979 opened #8436 "Windows Build is failing in CI"
[code]

https://github.com/argoproj/argo-workflows/actions/runs/2197368794

[2022-04-20 21:14] terrytangyuan commented on #8436
This should be fixed by https://github.com/argoproj/argo-workflows/commit/3d1ea426a28c65c206752e957bb68a57ee8ed32e

[2022-04-20 21:15] sarabala1979 commented on #8436
yes cherry-picked

[2022-04-21 06:21] GuyPozner commented on #2963
Hi,

I agree with all of @cy-zheng points, and I want to add another one:
1. Daemon not restarting although a retry policy was set in it, is not an expected behavior, and it might reveal itself very late.

Can you please reopen this issue?

Thanks.

[2022-04-21 07:02] momom-i commented on #8402
I'd like to work on this. Could you tell me more details?

[2022-04-21 08:31] dpertin commented on #8425
It would be great to have this feature!
Currently, it is possible to suspend a workflow and request users to provide a set of parameters as depicted here: https://github.com/argoproj/argo-workflows/blob/e67e94c02e52eb9097b8f1316e7b3cddd091e121/examples/suspend-template-outputs.yaml#L27-L33
However, users are not able to set those parameters through the UI. They can be set through the CLI or API as

[2022-04-21 08:37] basanthjenuhb commented on #8425
Yup, planning to work on it next week for an internal hackathon at Intuit.

[2022-04-21 14:30] #8436 closed

[2022-04-21 15:00] alexec commented on #8402
To complete this feature:

* Update info.Porto to add the new endpoint and run `make codegen` to generate stubs.
* Implement the new endpoint in info_server.go
* Add a function to info.ts.
* Create a new shared React component.
* Embed that component into any page your wish to track.

[2022-04-21 15:05] #7911 closed

[2022-04-21 15:10] OmarKalloush opened #8441 "Readiness probe failed on version 3.3.2"
## Summary

What happened/what you expected to happen?

Upgraded Argo Workflows from v3.3.1 to v3.3.2 , I have 3 workflow-controller pods in the replicaset 2 of them  stay stuck on unhealty state with the following error `Readiness probe failed: Get "http://10.57.3.31:9090/metrics": dial tcp 10.57.3.31:9090: connect: connection refused`

What version are you running?

v3.3.2

**Message from the ma

[2022-04-21 16:18] momom-i commented on #8402
Thank you very much. It's very helpful.

I'm thinking this beacon endpoint is meant to be sent and it doesn't do any special processing in `info_server.go`.
Is my understanding correct?

[2022-04-21 16:36] basanthjenuhb commented on #8075
@junjunjunk This use case is already solved via the existing feature.
So you setup service account in both namespace_A and namespace_B.
If the user is performing workflow operations in namespace_A, the backend looks for service accounts only in namespace_A.
If the user is performing workflow operations in namespace_B, the backend looks for service accounts only in namespace_B.
So the user will hav

[2022-04-21 16:43] alexec commented on #8441
https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/

This has changed in v3.3. Service only route traffic to ready pods. Metrics were being routed from the metrics service to the non-leader controller pods, but these cannot field the metrics request - their metrics is worse than useless. This is semantically correct - the pods are not ready to acce

[2022-04-21 16:51] alexec commented on #7743
![image](https://user-images.githubusercontent.com/1142830/164511241-f6d24b53-d0b0-4a91-b93a-6bba62147cb7.png)

[2022-04-21 16:58] liuzqt commented on #8059
I'm encountering the same issue, any updates on this?

[2022-04-21 17:18] alexdittmann commented on #7540
I have raised a PR here: https://github.com/argoproj/argo-workflows/pull/8443

[2022-04-21 17:30] junjunjunk commented on #8075
@basanthjenuhb
Thanks for the comment.
I understand.

I missed the following text.

Thank you! I will be closing this issue.

[2022-04-21 17:30] #8075 closed

[2022-04-21 18:59] terrytangyuan commented on #8415
Use Argo Events to setup a GitHub event source: https://github.com/argoproj/argo-events/blob/master/docs/eventsources/setup/github.md

And then trigger a Argo workflow: https://github.com/argoproj/argo-events/blob/master/docs/sensors/triggers/argo-workflow.md

[2022-04-21 19:00] terrytangyuan commented on #8059
This issue should go away if you upgrade your Workflows or switch to use Emissary executor instead of docker.

[2022-04-21 19:18] alexec commented on #7743
![image](https://user-images.githubusercontent.com/1142830/164536788-d8e284ad-a217-4dff-8e2c-f1d43ded430e.png)

Showing HTML page with images.

[2022-04-21 21:19] alexec commented on #3102
For MVP, I think I'll just implement:

* S3 artifacts.
* Deletion on workflow deletion.

I'll omit:

* Non-S3, e.g. OSS and GCS (I don' have test env)
* Deletion on workflow completion.

[2022-04-21 21:22] liuzqt commented on #8059
@terrytangyuan  it works! Thanks

[2022-04-21 22:26] alexec commented on #3102
Vote for GCS support with 👍 .

[2022-04-21 22:26] alexec commented on #3102
Vote for OSS support by 👍 this comment.

[2022-04-21 22:26] alexec commented on #3102
Vote for Git support by 👍 this comment.

[2022-04-21 22:26] alexec commented on #3102
Vote for raw support by 👍 this comment.

[2022-04-21 22:26] alexec commented on #3102
Vote for HTTP support by 👍 this comment.

[2022-04-21 22:27] alexec commented on #3102
Vote for artifactory support by 👍 this comment.

[2022-04-22 01:02] alexec commented on #3102
Give this comment a 👍  if you want to specify GC on each artifact.

[2022-04-22 01:02] alexec commented on #3102
Give this comment a 👍  if you want to specify once for the whole workflow. All artifacts use same GC.

[2022-04-22 09:04] Piroddi opened #8448 "PodGC not executed from WorkflowTemplate in version v3.3.2"
## Summary

PodGC not cleaning up pods when workflow submitted from a WorkflowTemplate.

However when submitting a workflow directly, the PodGC runs correctly after workflow completion:

The following does not occur when workflow is submitted from template.
[code]

Template used:

[code]

When submitting the workflow directly, I just changed `WorkflowTemplate` to `Workflow`

What version are you r

[2022-04-22 09:23] LingClassmate opened #8449 "When I changed steps to DAg, STEP-1 did not implement hooks for "Running" state, why?"
When I changed steps to DAg, STEP-1 did not implement hooks for "Running" state, why?

**life-cycle-hooks-tmpl-level.yaml**

https://github.com/argoproj/argo-workflows/blob/45730a9cdeb588d0e52b1ac87b6e0ca391a95a81/examples/life-cycle-hooks-tmpl-level.yaml

I changed steps to daG YAML configuration:

[code]

![image-20220422172237497](https://s2.loli.net/2022/04/22/UYNwpEdh819Qe73.png)

[2022-04-22 09:38] vbarbaresi commented on #5525
We're seeing this issue happen again on v3.3.1 (after upgrading from 3.0.3 to 3.3.1)

The leader replica is healthy
Stand-by replicas are unhealthy: their liveness probe failing because the metrics server doesn't see to be up:

[2022-04-22 10:25] gberche-orange commented on #1674
For users lately reading this issue to troubleshooting artifact repository config, the ARGO_TRACE env var can be configured in the executor configmap to turn on S3 client debug traces.

See
https://github.com/argoproj/argo-workflows/blob/79508cc78bd5b79762719c3b2fbe970981277e1f/docs/workflow-controller-configmap.yaml#L214-L236

[2022-04-22 11:12] fabioaraujopt commented on #2053
@dinever you saved my day!

This is the way to implement executer ServiceAccounts for WorkflowTemplate too!

[2022-04-22 12:18] terrytangyuan commented on #8449
Could you attach necessary debugging information as requested in the issue template? Could you confirm that this is working for DAG?

[2022-04-22 12:20] terrytangyuan commented on #8448
Related change https://github.com/argoproj/argo-workflows/pull/7176. cc @alexec

[2022-04-22 13:51] jallen-frb commented on #3523
we are very interested in this feature as well.

[2022-04-22 14:14] sarabala1979 commented on #8449
Running hook’s name is exit. Exit is a reserved name for exit handler. Can you change the name and execute it?

Sent from my iPhone

[2022-04-22 14:35] sarabala1979 commented on #8449
@LingClassmate try below spec

[code]

[2022-04-22 14:48] alexec commented on #8448
The code should not care if the workflow was submitted from WorkflowTemplate or not. It should be easy to verify this issue.

[2022-04-22 14:51] alexec commented on #2053
This enhancement make a lot of sense to me. `podSpecPatch` works, but is clunky and not declarative/programmable. It would be great if someone wanted to submit a PR for this. I think it would be a **good first issue**.

[2022-04-22 14:59] acj commented on #8441
I ran into this when upgrading from 3.2.x to 3.3.2 and wanted to share a few notes. My previous deployment used a rolling deploy strategy, which then caused the following error when I tried to apply the upgrade:

My initial plan was to continue using the rolling deploy (instead of `Recreate`), which is when I ran into this issue with the readiness probe. The failing probe blocked the rolling deplo

[2022-04-22 15:13] clelange opened #8450 "Add darwin-arm64 CLI binary"
# Summary

Currently, there are only `darwin-amd64` CLI binaries built as part of a release. I propose to add `darwin-arm64` ones as well.

# Use Cases

Building also `darwin-arm64` ones will make use of argo workflows on Apple silicon easier, removing the need for Rosetta.
I will submit a PR soon if you agree that this is useful.

---

**Message from the maintainers**:

Love this enhancement prop

[2022-04-22 15:15] alexec commented on #8450
Implementation instructions:

Add code here:

https://github.com/argoproj/argo-workflows/blob/79508cc78bd5b79762719c3b2fbe970981277e1f/Makefile#L169

[2022-04-22 15:17] alexec commented on #8434
My main comment here is mentoring, if it is to stay in its current form, needs a lead mentor. I'd like to canvas for volunteers.

[2022-04-22 15:20] alexec commented on #7743
![image](https://user-images.githubusercontent.com/1142830/164744511-c2f294c9-2736-4020-a74b-e429c9b38430.png)

Kind of amazed how popular JSON is.

[2022-04-22 15:20] alexec commented on #7743
Any conventional text is supported easily (browsers already support them). JSON is harder, but we already have JSON viewer in the code base (uses Monaco).

[2022-04-22 15:44] alexec commented on #8435
@dpadhiar I assign to you as I think this data will be useful for `argo cp`.

[2022-04-22 15:47] alexec commented on #8448
This reproduces. Only affects submission from workflow template.

[2022-04-22 15:59] alexec commented on #8448
@dpadhiar @sarabala1979 @terrytangyuan we get a lot of issues where something works with a Workflow, but not with a WorkflowTemplate. We could write WorkflowTemplate tests in the future to prevent this.

[2022-04-22 16:06] alexec commented on #8448
Ugh. I've found another bug!

[2022-04-22 16:19] acj commented on #7457
@sarabala1979 We've upgraded to 3.3.2 and are still seeing this issue. Can you reopen it, please? Do you have any troubleshooting suggestions?

[2022-04-22 16:31] alexec commented on #7457
@acj could I ask you to open a new issue?

[2022-04-22 16:40] #8450 closed

[2022-04-22 16:49] alexec commented on #8441
We've now seen this issue. Argo CD treats un-ready pods an un-healthy. While I think it is semantically wrong, it is correct in practice.

[2022-04-22 16:52] alexec commented on #8441
I'm reverting that fix.

[2022-04-22 17:00] #8448 closed

[2022-04-22 17:22] terrytangyuan commented on #8434
I can help triage mentoring requests (if that's what you meant by lead mentor) but we need a process to close stale requests that unassign the existing issue that's originally assigned to the mentee if it's no longer being worked on. We should also consider using a bot (stale bot) that periodically pings the mentees.

[2022-04-22 17:25] alexec commented on #8434
Yes. That's the primary task. Also, if there are any problems, you'd need to help with that.

Stale bot should stale these already.

[2022-04-22 17:49] terrytangyuan commented on #8434
It doesn't seem so. Would you like me to enable that for mentoring label? https://github.com/argoproj/argo-workflows/blob/master/.github/stale.yml#L9

[2022-04-22 17:58] alexec commented on #8434
stale bot is configured aggressively, for mentoring, maybe we should change to 10+5 rather than 7+3 or other values

[2022-04-22 19:59] acj opened #8456 "Pod OOM sometimes causes a workflow to get stuck in "Running" state"
## Checklist

* [X] Double-checked my configuration.
* [X] Tested using the latest version.
* [X] Used the Emissary executor.

## Summary

This follows up on #7457.

### What happened/what you expected to happen?

A small percentage of our pods fail with an `OOMKilled` status and should be restarted (per our workflow config) but aren't. The pod (and workflow) hangs around indefinitely without appe

[2022-04-22 20:59] alexec opened #8458 "Fix `TestLoggedProgress`"

[2022-04-22 21:10] #8441 closed

[2022-04-22 21:35] alexec commented on #8402
That is correct. You can then create reports on those logs in Splunk.

[2022-04-23 05:37] LingClassmate commented on #8449
@sarabala1979 Please have a look.

Dag still doesn't work. If I change it to Steps running, it will work.

![image-20220423130919690](https://s2.loli.net/2022/04/23/e4XDv5BbGPNu9Ro.png)

Steps YAML configuration，Steps YAML configuration, running can be run.

![image-20220423132045582](https://s2.loli.net/2022/04/23/9jseZfkILJa7V3p.png)

[code]

In daG, I found that "dependencies" caused the runnin

[2022-04-23 07:56] momom-i commented on #8402
I will make a PR for it, but I'm not sure where to insert this tracking component.
Could you give me your advice about it?

[2022-04-23 13:38] momom-i commented on #8329
I'd like to work on this issue! Can I assign it to myself?

[2022-04-24 03:41] mocsharp opened #8463 "Cannot submit workflow from workflow template with output artifact"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

With the following `WorkflowTemplate` with an output artifact defined with the name `messagejson`. I am trying to configure it to use S3 in a `Workflow` similar to how input artifact in a `WorkflowTemplate` is configu

[2022-04-24 13:16] prichrd commented on #3462
@alexec, I have submitted an initial draft.
- I only validated it through unit tests for the moment.
- I still need to figure out some issues running argo-workflows locally (getting OOMs, secrets not mounted, etc.). Once this is done I will do one last end-to-end run of tests and will be highly confident of the solution.

[2022-04-24 14:39] alexec commented on #8463
This has been fixed in latest.

[2022-04-25 14:36] k1rk commented on #8275
/unstale

[2022-04-25 15:52] alexec commented on #8456
#7457

[2022-04-25 15:54] alexec commented on #8456
I think this is an emissary only issue:

* The main container is `OOMKilled`.
* The wait container is waiting for `/var/run/argo/ctr/main/exitcode` to appear. This never happen.
* The controller should SIGTERM the wait container when the `main` container terminates.

[2022-04-25 15:57] mocsharp commented on #8463
@alexec Just tried it again with 3.3.2 and am getting the same error: `
Error (exit code 1): You need to configure artifact storage. More information on how to do this can be found in the docs: https://argoproj.github.io/argo-workflows/configure-artifact-repository/`

[2022-04-25 15:58] alexec commented on #8463
I was not clear is not fixed in `:v3.3.2`. It is fixed is `:latest`. It will be fixed in `:v3.3.3`

[2022-04-25 16:01] alexec opened #8467 "v3.3.3"

[2022-04-25 16:01] alexec commented on #8463
This week.

[2022-04-25 16:02] alexec commented on #8467
https://github.com/argoproj/argo-workflows/actions?query=branch%3Arelease-3.3

[2022-04-25 16:04] mocsharp commented on #8463
Awesome! Thank you @alexec

[2022-04-25 16:13] alexec commented on #8456
fix(controller): Only clean-up pod when both main and wait containers have terminated. Fixes #5981 (#6033)

[2022-04-25 16:42] alexec opened #8469 "Remove `ListContainerNames` and `KillSidecars`"
The emissary cannot list sidecars, so this code is now just a no-op.

[2022-04-25 18:06] alexec opened #8470 "Add `ArtifactDriver.Delete` (internal API)"
Create a `Delete` func to support #3102 .

https://github.com/argoproj/argo-workflows/blob/e368f504307ecbbfa2f228bccfab1f943efaca9d/workflow/artifacts/common/common.go#L11

Only implement for S3.

https://github.com/argoproj/argo-workflows/blob/e368f504307ecbbfa2f228bccfab1f943efaca9d/workflow/artifacts/s3/s3.go#L22

If we have not yet implemented we should return an error, and that error should a

[2022-04-25 18:13] alexec opened #8471 "Add `ArtifactGC` to workflow and template spec"
Both `WorkflowSpec` and `Template` should allow you to optionally specify the GC strategy.

https://github.com/argoproj/argo-workflows/blob/e368f504307ecbbfa2f228bccfab1f943efaca9d/pkg/apis/workflow/v1alpha1/workflow_types.go#L87

Use kubebuilder `enum` to limit the values.

https://book.kubebuilder.io/reference/markers.html

Options for `Strategy`:

* `OnWorkflowCompletion`
* `OnWorkflowDeletion`

[2022-04-25 18:17] mboussarov commented on #8470
Please assign me to this issue

[2022-04-25 19:59] alexec commented on #8467
@sarabala1979 build are green. Do you want anything else in v3.3.3?

[2022-04-25 20:36] alexec opened #8473 "Artifact GC: Implement `Workflow.SearchArtifacts()` and tests"
We need a func to search artifacts by various query. For MVP, this only need to be the GC strategy, but we will later on add options like `ArtifactName` or `TemplateName`:

[code]

It should return all output artifacts that have that strategy. The logic is a bit more complex, because not all fields from template are copied into the `NodeStatus`, but you can query

[code]

[2022-04-25 20:49] alexec opened #8474 "Artifact GC: add finalizer to workflows"
Depends on #8483.

When a workflow completes, or is deleted, we need to delete the artifacts. This might fail because of some transient error. In that case, we want to block deletion of the workflow. This can be done using a finalizer:

https://kubernetes.io/docs/concepts/overview/working-with-objects/finalizers/

When we start processing a workflow, we do one time initialisation:

https://github.

[2022-04-25 21:04] alexec opened #8476 "Create artifact deleting pods when needed"
See artifact_gc.go, controller.go, operator.go in #8530.

The PoC is rather rough, and more work is expected.

[2022-04-25 21:30] alexec opened #8477 "Artifact GC: docs"
Depends on #8476.

We should create

* A doc (e.g `docs/artifact_gc.md`) to show users how to use this feature.
* An example in `examples`.
* It's a cool feature, lets add it to the "new release modal": https://github.com/argoproj/argo-workflows/blob/e368f504307ecbbfa2f228bccfab1f943efaca9d/ui/src/app/modals/new-version/new-version-modal.tsx#L9

[2022-04-25 21:33] sarabala1979 commented on #8467
I am good

[2022-04-25 21:41] #8469 closed

[2022-04-25 21:49] alexec commented on #8467
Tagged. Releasing.

[2022-04-25 21:49] #8467 closed

[2022-04-25 22:39] alexec opened #8481 "`argo cp`/UI: Argo Server `ArtifactServer.ServeFile` endpoint"
Depends on #8396

We need a more flexible endpoint to get artifact files from.

The essential goal of this is to allow the Argo Server to allow directory like access to artifacts.

The format of the new URL is:

[code]

* `{namespace}` = The workflow namespace.
* `[archived-workflows|workflows]` the string literal. When this is `workflows`, it is a normal workflow. When `archived-workflow` then it

[2022-04-25 22:57] #8435 closed

[2022-04-25 23:05] alexec opened #8483 "Artifact GC: add `WorkflowSpec.AnyArtifactGC`"
Depends on #8471

Implement this func:

[code]

[code]

We need to know whether or not a workflow has any templates artifact GC. It might be easiest to introduce a new type:

[code]

You could then have:

[code]

Then in `WorkflowSpec` `Templates []Template` becomes `Templates Templates`.

[2022-04-25 23:10] #8471 closed

[2022-04-25 23:31] mocsharp commented on #8463
@alexec  Just tried `v3.3.3` and am still getting the same error.

[2022-04-25 23:39] alexec commented on #8463
@mocsharp re-reading this, I'm not sure this a bug. You can help me by running `workflow-controller:latest`.  If that does not work either, can you please share your artifact repository configuration?

[2022-04-25 23:40] #8401 closed

[2022-04-25 23:58] mocsharp commented on #8463
@alexec do you have instructions on how to run `workflow-controller:latest`?

We have `minio` configured as described in the original post (minus the endpoint).

Just for reference, configuring input artifacts work inside a `Workflow`:
[code]

[2022-04-26 00:39] mocsharp commented on #8463
@alexec not sure if I did it correctly, but here's what I did:
1. `kubectl edit deployment workflow-controller -n argo` and changed the container to `workflow-controller:latest`.
2. kill the `workflow-controller-xxxx` pod
3. submit the same workflow again

Which failed with the same error: `Error (exit code 1): You need to configure artifact storage. More information on how to do this can be found

[2022-04-26 01:15] LingClassmate commented on #8449
@sarabala1979 Hello, is there a solution?

[2022-04-26 10:32] amritpalnagrame commented on #6367
Same here, using version `3.2.9` on AKS `1.20.15`.

[2022-04-26 12:17] hadim commented on #8456
We are also seeing this issue with 3.2.9. Is that possible/planned to backport the fix in #8478 to 3.2.x?

[2022-04-26 12:59] tiwarisanjay commented on #6261
@lacarvalho91 @lacarvalho91 @jrowinski3d   It would be great if one of you can have a Youtube video or Github or Medium document for the steps. Like how we can integrate argo workflow using dex and the issues you had.
I have been having issue as malformed  dex configuration which I am trying to solve but keep getting it.

[2022-04-26 14:00] alexec commented on #6367
The PNS executor is now deprecated. It is removed in v3.4 and we no longer support it. You should switch to using the emissary executor. It is much faster and more secure.

[2022-04-26 14:14] vbarbaresi commented on #5525
The readiness issue looks fixed in v3.3.2 by https://github.com/argoproj/argo-workflows/commit/283f6b58f979db1747ca23753d0562a440f95908 (related to https://github.com/argoproj/argo-workflows/issues/8283)

[2022-04-26 14:15] hadim commented on #8456
It only happened once so far and after a very long run (~12h). I checked the OOM killed by looking at the memory vs time graph and I confirm it has been stopped during a memory spike at 100%.

I don't think it will be easy to reproduce, and our only cluster is in prod currently (so I can't really test a fix easily).

I will post here if I can reproduce it with a script that trigger the bug fast.

[2022-04-26 14:16] hadim commented on #8456
In case it helps for reproducing, the workload was a bash script calling a python script.

[2022-04-26 14:55] terrytangyuan commented on #8434
Looks like stale bot doesn't support different configurations for different labels.

[2022-04-26 16:25] alexec commented on #8224
Could you please explain more?

[2022-04-26 16:56] rocketspacer commented on #8224
@alexec

This should work, but it doesn't
[code]

## Expectations:
`{{= workflow.parameters.message + ' ' + item }}` should evaluated to `hello 0` `hello 1` `hello 2` for each fanned-out instance of the step **broken**

## Reality
I got
<img width="487" alt="image" src="https://user-images.githubusercontent.com/17026876/165352629-ac94dac8-7a94-44ef-a033-e5b6ec8beb23.png">

[2022-04-26 17:20] danielhelfand commented on #8434
Just throwing in here that it would be helpful to have a specific message to encourage mentees to reopen issue in event issue gets closed. This could be configured by adding a [closing message](https://github.com/argoproj/argo-workflows/blob/master/.github/stale.yml#L21) or as suggested in community meeting to add something to the [stale warning message](https://github.com/argoproj/argo-workflows/

[2022-04-26 17:32] jmeridth commented on #8102
I've confirmed in our setup this is fixed in v3.3.2.  Thank you.

[2022-04-26 17:33] #8102 closed

[2022-04-26 18:04] #8434 closed

[2022-04-26 18:10] connorbrinton opened #8488 "Workflow parameter defined using `valueFrom.expression` not substituted or rejected"
## Checklist

* [x] Double-checked my configuration.
* [ ] Tested using the latest version.
  * [x] Looked through changelog for potentially relevant changes, couldn't find any
* [x] Used the Emissary executor.

## Summary

I created a Workflow with a global parameter defined using `valueFrom.expression`. My goal is to use the value of the expression as the default value for the parameter, while s

[2022-04-26 18:45] juliev0 opened #8489 "Artifact Streaming: implement for drivers other than S3"
Currently, [this](https://github.com/argoproj/argo-workflows/issues/8396) feature has only been implemented the "right way" for S3. The other drivers are downloading the file first and then streaming it.

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-04-26 19:05] Erotemic commented on #5146
As a "nice to have" it might be good if argo logs gave a warning that this behavior existed. I find it very non-intuitive. When I ask for logs, I expect to get all of stdout, so even though it is a K8s problem, if there is a workaround, or at least a warning that points to workarounds, that might make the experience of using argo nicer.

[2022-04-26 19:47] terrytangyuan commented on #8403
That issue has already been worked on. Is there anything other issues you might be interested in?

[2022-04-26 19:51] terrytangyuan commented on #7850
It's been more than a month without activities. Closing this for now.

[2022-04-26 19:51] #7850 closed

[2022-04-26 19:52] terrytangyuan commented on #8368
I'd be happy to mentor. Can you try you can reproduce #7618 first?

[2022-04-26 19:53] terrytangyuan commented on #7872
Closing due to inactivity. Feel free to reopen it if you decide to contribute to this project again.

[2022-04-26 19:53] #7872 closed

[2022-04-26 19:54] terrytangyuan commented on #7857
@cnu1812 Are you still working on that issue? If not, I will close this and unassign that issue from you.

[2022-04-26 19:56] terrytangyuan commented on #7867
@SkRai0 Would you still like to work on #7920?

@tczhao Would you like to be a mentor on that issue?

[2022-04-26 19:57] terrytangyuan commented on #8008
Closing this due to no response. Feel free to reopen if you decide to contribute again.

[2022-04-26 19:57] #8008 closed

[2022-04-26 19:57] terrytangyuan commented on #7937
@PradeepLoganathan Any update on this?

[2022-04-26 19:58] terrytangyuan commented on #7957
Closing since this hasn't been active for more than a month. The assigned issue has already been addressed. Feel free to re-open if you still need mentoring.

[2022-04-26 19:58] #7957 closed

[2022-04-26 19:59] terrytangyuan commented on #7877
Any progress on https://github.com/argoproj/argo-workflows/issues/4561?

[2022-04-26 20:04] #8456 closed

[2022-04-26 20:43] #8376 closed

[2022-04-26 21:01] #8396 closed

[2022-04-26 21:06] hadim commented on #8456
@alexec I am planning to work on a minimal reproducible example. Is there is any plan to cherry-pick that PR for 3.2.x?

[2022-04-26 21:41] alexec commented on #8481
Implementation:

* Add a new func to ArtifactServer called GetArtifactFile.

https://github.com/argoproj/argo-workflows/blob/7376e7cda4f72f0736fc128d15495acff71b987d/server/artifacts/artifact_server.go#L28

* In argo_server.go add the HandleFunc:

https://github.com/argoproj/argo-workflows/blob/7376e7cda4f72f0736fc128d15495acff71b987d/server/apiserver/argoserver.go#L347

Add a new `filename` param

[2022-04-26 21:44] alexec opened #8492 "Add correct CSP/XFO to served artifacts"
## Content-Security-Policy

CSP must be set for HTML files, and harmless for other file types. So always set it.

CSP should be as strict as possible, and MUST block script execution. `X-Frame-Options` or `<iframe sandbox/>` will not be enough.

https://csp.withgoogle.com/docs/strict-csp.html  - not strict enough, I think it should allow images and styles, but essentially block everything else:

[

[2022-04-26 22:33] juliev0 commented on #8481
Please assign to me

[2022-04-26 22:35] alexec commented on #8483
I think we don't need this, because we can use SearchArtifacts once complete.

[2022-04-26 22:35] #8483 closed

[2022-04-26 22:38] alexec commented on #8492
Add these two header here:

https://github.com/argoproj/argo-workflows/blob/7376e7cda4f72f0736fc128d15495acff71b987d/server/artifacts/artifact_server.go#L199

Test here:

https://github.com/argoproj/argo-workflows/blob/7376e7cda4f72f0736fc128d15495acff71b987d/test/e2e/argo_server_test.go#L1058

[2022-04-26 22:40] #3462 closed

[2022-04-26 22:42] alexec commented on #8492
If the environment variable `ARGO_ARTIFACT_CONTENT_SECURITY_POLICY` is set, use that for the CSP. If `ARGO_ARTIFACT_X_FRAME_OPTIONS` use that.

[2022-04-26 22:44] mboussarov commented on #8492
Please assign to me

[2022-04-26 22:51] #8470 closed

[2022-04-26 22:53] alexec opened #8494 "Artifact UI: Make artifacts discoverable in UI"
It is currently very hard to find artifacts in the UI. Make that easier.

[2022-04-26 23:08] BhavikaSharma opened #8498 "Viewing Archived Workflows when RBAC is Namespace Delegated - Bug?"
Hi, I'm wondering if there's a potential bug when when using namespace delegation for RBAC. I have a service account in a namespace that has permissions to view workflows in the namespace. I'm able to log in, and through a group, bind to the service account. This allows me to view workflows in the namespace.

From the logs, I see:

[code]

However, when accessing archived workflows from the UI, I

[2022-04-26 23:12] alexec commented on #8498
@basanthjenuhb ?

[2022-04-26 23:22] #8425 closed

[2022-04-27 00:54] tczhao commented on #7867
Sure thing.
@SkRai0 if you are still keen to work on the issue, you can first set up your dev environment by following https://github.com/argoproj/argo-workflows/blob/master/docs/running-locally.md

[2022-04-27 02:09] basanthjenuhb commented on #8498
So `ListArchivedWorkflowsRequest` is implemented differently.
It doesn't have a namespace parameter.
Namespace is passed as a `FieldSelector`
Hence currently this will not work

so to fix this, 2 options
1. Write custom code to handle `ListArchivedWorkflowsRequest` requests which don't have a namespace request
2. Modify `ListArchivedWorkflowsRequest` and then it should automatically work. (And mak

[2022-04-27 02:33] basanthjenuhb commented on #8498
Other requests like `RetryArchivedWorkflowRequest`, `ResubmitArchivedWorkflowRequest` have a namespace parameter.
Not sure why `ListArchivedWorkflowsRequest` was implemented differently.

[2022-04-27 02:48] #6382 closed

[2022-04-27 02:48] basanthjenuhb commented on #6381
Just 1 thumbs up, probably not required, closing

[2022-04-27 02:49] #6381 closed

[2022-04-27 06:18] berlinsaint commented on #8401
please include 8176

[2022-04-27 07:35] cnu1812 commented on #7857
I am working on this. give me some time

[2022-04-27 08:50] lambertsbennett commented on #8403
@terrytangyuan this issue also looks very interesting and seems new: https://github.com/argoproj/argo-workflows/issues/8474

[2022-04-27 11:49] Piroddi commented on #8293
@sarabala1979 the podGC issue was resolved with #8452.

However lifecycle hooks run from a workflow level, get stuck in 'Pending', even after they have completed.

Should I close this issues and create a new one specific to the 'Pending status'. Its currently causing issues when trying to retry a failed workflow.

![Screenshot 2022-04-27 at 13 48 41](https://user-images.githubusercontent.com/24908

[2022-04-27 12:21] Dan6erbond opened #8501 "Workflow Output Parameters and Artifacts don't work when using Custom Docker Images"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

**What happened/what you expected to happen?**

I'm using a standard Argo quickstart setup to run some workflows. When executing a workflow that defines output parameters or artifacts, using a custom Docker image based on `python:3.9.12-bullseye` the workflow f

[2022-04-27 14:49] akloss-cibo commented on #7259
FYI, I'm experiencing something that looks very much like this.
[code]

`ps ax` in the pod:
[code]

[2022-04-27 14:52] auswells commented on #1428
I'm seeing authentication errors when using the revision option:
[code]
time="2022-04-27T14:24:08.390Z" level=info msg="Load artifact" artifactName=git-clone duration=644.9982ms error="failed to fatch refs: authentication required" key=
time="2022-04-27T14:24:08.390Z" level=error msg="executor error: artifact git-clone failed to load: failed to fatch refs: authentication required"
time="2022-04-27

[2022-04-27 15:03] terrytangyuan commented on #8403
@alexec Is that issue being worked on?

[2022-04-27 15:26] alexec commented on #8498
So we're saying they cannot be supported. We should probabyl document that.

[2022-04-27 15:48] #7897 closed

[2022-04-27 16:13] noam-codefresh opened #8504 "Support getting artifacts from deleted workflows"
# Summary
i am not sure this proposal is of value to the community, but i figured i'd bring it up anyway -

the problem we were having was getting workflow artifacts from the artifact repository, after a workflow was deleted from the cluster. what might be a simpler solution to most users would be to just download them from the artifact repository they set up in advance, in the location defined in

[2022-04-27 16:17] alexec commented on #8504
Workaround:

* Add the "workflows.argoproj.io/completed=true" label to the YAMl.
* `kubectl apply -f` your YAML.
* Workflow will not be run (because it has been completed).
* Get your artifacts.

[2022-04-27 16:20] alexec opened #8505 "Intermediate inputs: 30s video demo"
We need to create a short video to show at demo session on Friday.

[2022-04-27 16:22] alexec opened #8506 "Artifact GC: 30s video demo"
We need to create a short video to show at demo session on Friday.

[2022-04-27 16:22] alexec opened #8507 "`argo cp`: 30s video demo"
We need a 30s demo for Friday.

[2022-04-27 16:23] alexec opened #8508 "Artifact UI: 30s video demo"
We need a 30s demo for Friday.

[2022-04-27 16:47] basanthjenuhb commented on #8474
@alexec I can pick this up

[2022-04-27 16:50] alexec commented on #8474
You can find out if a finalizer needs adding using `Workflow.SearchArtifacts`. @dpadhiar is working on that today.

[2022-04-27 17:02] alexec opened #8510 "Better API test error diagnostics"
When an API test fails due to 500, it is very hard to understand why. We should log the HTTP response.

[2022-04-27 18:20] #8505 closed

[2022-04-27 18:34] alexec opened #8514 "Do not return cause of internal server error"
We currently return the cause of the error:

https://github.com/argoproj/argo-workflows/blob/cb616556c965329284553d4a634bbf8f0a588195/server/artifacts/artifact_server.go#L155

We should not do that, because that could reveal internal workings. Delete that line.

Also, this logging should be structured:

https://github.com/argoproj/argo-workflows/blob/cb616556c965329284553d4a634bbf8f0a588195/server

[2022-04-27 18:35] Topher-the-Geek opened #8515 "UI: Report times and durations with minute resolution"
# Summary

Generally, I'm loving Argo Workflows. Thanks all for this great tool!

I constantly have to hover over times to get real answers.

What I see
<img width="392" alt="Screen Shot 2022-04-27 at 11 09 28 AM" src="https://user-images.githubusercontent.com/588423/165594864-54db6fef-e08d-4483-b6aa-6751a9a60880.png">

First I have to hover here
<img width="454" alt="Screen Shot 2022-04-27 at 11

[2022-04-27 18:41] alexec opened #8516 "Improve artifact server response codes"
We should improve the way we report errors. We always report 500, when often a 400 or 404 would be correct: e.g. "request path is not valid" should be a 400.

Most errors are Kubernetes API errors.  Kubernetes API errors contain the HTTP status code. We do something smart in `internalServerError`, something like:

[code]

As `internalServerError` will now return non-500 errors code, we should rena

[2022-04-27 18:57] tiwarisanjay commented on #7250
@sky29  Were you able to solve this ?

[2022-04-27 19:31] alexec opened #8518 "Artifact GC: report GC failures"
One thing missing in the PoC is a way to feedback to the user that artifact GC has failed. It only logs it. Most users, that do not have access to those logs. Instead, use `/status/conditons` to report errors:

https://github.com/argoproj/argo-workflows/blob/e368f504307ecbbfa2f228bccfab1f943efaca9d/pkg/apis/workflow/v1alpha1/workflow_types.go#L1698

[code]

Make the error in the user interface. Th

[2022-04-27 20:04] #8510 closed

[2022-04-27 20:05] #8492 closed

[2022-04-27 20:14] mboussarov commented on #8514
Please assign this to me

[2022-04-27 20:14] mboussarov commented on #8516
Please assign this to me

[2022-04-27 20:20] #8474 closed

[2022-04-27 20:21] bariqhibat commented on #8368
Hi @terrytangyuan, thanks for the help! I'll check this out before next week

[2022-04-27 21:04] alexec opened #8521 "Artifact GC: e2e test support"
Currently, we don't have a way in our e2e tests to understand if an artifact has been deleted.

https://github.com/argoproj/argo-workflows/blob/d7bcaa7569ac15d85eb293a72a1a98779275bd6e/test/e2e/fixtures/then.go#L187

This checks the workflow, but does not check the storage, which is actually MinIO.

We need to make changes to this func:

* Allow it to return an error if the artifact is not found,

[2022-04-27 21:13] tiwarisanjay commented on #7250
@alexec  How the config.yaml looks like in your configmap  `dex` ? Thats where I am having trouble as issuer url is throwing 404 not found error. I am sure you know this issue. :) Really appreciate your help

[2022-04-27 21:28] tiwarisanjay commented on #6261
@lacarvalho91  Were you able to solve it ? as invalidate client-id ?

[2022-04-27 21:43] #8514 closed

[2022-04-27 21:46] jrowinski3d commented on #6261
Hey @tiwarisanjay , my main problem was I didn't have a `connector` setup in argo-cd dex configMap:

I'm not working on that project anymore but maybe this CM setup will help you out.

Argo cd

[code]

Argo-Workflows

[code]

[2022-04-27 21:51] tiwarisanjay commented on #6261
@sidh Thank you very much for your input. Finally it worked.
Just to let everyone else know in descriptive manner. In following code where it says `id: argo-workflows-sso` it should be your actual client-id from OIDC provider. So let me rewrite the documentation part where we have this client id :
Argo workflow secret :
[code]
Following code should be
[code]
Thats where documentation sucks as they

[2022-04-28 01:34] basanthjenuhb commented on #8498
We can support, just that the request needs to be modified to add a namespace parameter.
For ListArchivedWorkflowsRequest and couple of others.
Shall i make a PR with this approach ?

[2022-04-28 01:37] terrytangyuan commented on #8349
See `pod.name`: https://github.com/argoproj/argo-workflows/blob/master/docs/variables.md#containerscript-templates

[2022-04-28 02:31] #8105 closed

[2022-04-28 02:31] #7721 closed

[2022-04-28 02:31] #7608 closed

[2022-04-28 02:31] #8076 closed

[2022-04-28 02:31] #7586 closed

[2022-04-28 02:31] #8101 closed

[2022-04-28 02:31] #7472 closed

[2022-04-28 02:31] #7720 closed

[2022-04-28 02:31] #8146 closed

[2022-04-28 02:31] #8093 closed

[2022-04-28 02:31] #8134 closed

[2022-04-28 02:31] #8167 closed

[2022-04-28 02:31] #8109 closed

[2022-04-28 02:31] #8236 closed

[2022-04-28 02:31] #7275 closed

[2022-04-28 02:31] #7465 closed

[2022-04-28 02:31] #8246 closed

[2022-04-28 02:31] #8260 closed

[2022-04-28 02:31] #7661 closed

[2022-04-28 06:54] Dan6erbond commented on #8501
Yes, as you can see, I included an `echo` and `cat` in the workflow step to output the file contents. It looks fine. Only thing I can do otherwise is an `ls -la` in `/tmp/job` but I'm pretty sure the file does exist.

[2022-04-28 06:56] Dan6erbond commented on #8501
It's a good theory, but that doesn't really seem to be the case here. I can try some more diagnostics to make sure the file really does exist, but I think it has something to do with the container.

[2022-04-28 07:16] lambertsbennett commented on #8403
Ok what about this issue https://github.com/argoproj/argo-workflows/issues/8311. I see no comments or links to previous issues.

[2022-04-28 07:24] LingClassmate opened #8525 "I want to use the Argo Workflow Log API to obtain the output log of the task, but the output log is not in JSON format. Is there any solution?"
I want to use the Argo Workflow Log API to obtain the output log of the task, but the output log is not in JSON format. Is there any solution?

My Argo Workflow version is V3.3.2

My get method requests API connections
https://localhost:2746/api/v1/workflows/argo/steps-l5rqw/steps-l5rqw-1830250225/log?logOptions.container=main

The log format is not JSON format, so I have no way to parse the log i

[2022-04-28 07:38] LingClassmate commented on #8525
![image-20220428152650289](https://s2.loli.net/2022/04/28/wemxk5LVG7joE2n.png)

[code]

[2022-04-28 08:05] trondhindenes opened #8526 "The node was low on resource: ephemeral-storage. Container wait was using 60Ki, which exceeds its request of 0."
## Checklist
* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary
We're seeing some workflow pod failures with this error:
"The node was low on resource: ephemeral-storage. Container wait was using 60Ki, which exceeds its request of 0."

Is it possible to configure the wait pod with an ephemeral-storage requests?

## Diagnostic

[2022-04-28 09:07] shbalaku commented on #8305
@sarabala1979 @alexec any update here?

[2022-04-28 09:32] Dan6erbond commented on #8501
Upon some further investigatio, there seem to be three issues with my workflow that didn't allow the artifacts to be generated:

1. Providing multiple `args` doesn't work well.
2. Using `awx` as the `command` doesn't allow other commands such as `tee` to run.
3. `{{outputs.artifacts.stdout}}` cannot be interpolated in the `args`.

After fixing my workflow template looks like this:

[code]

A littl

[2022-04-28 09:32] #8501 closed

[2022-04-28 10:52] swafa opened #8528 "Fix the swagger.json file"
# Summary

What change needs making?

The [swagger.json](https://github.com/argoproj/argo-workflows/blob/master/api/openapi-spec/swagger.json) file seems to have a mistake in it as shown below. It's an additionally-defined "namespace" parameter in the "/input-artifacts-by-uid/{uid}/{nodeId}/{artifactName}" endpoint that does not accept a namespace parameter. It would be great if this gets fixed, I

[2022-04-28 15:03] terrytangyuan commented on #8311
@lambertsbennett will be working on this.

[2022-04-28 15:42] alexec commented on #8528
This can be fixed in this file:

https://github.com/argoproj/argo-workflows/blob/master/pkg/apiclient/_.primary.swagger.json

[2022-04-28 15:45] alexec commented on #8525
Logs aren't in JSON because they are not JSON. They are text.

[2022-04-28 15:45] #8525 closed

[2022-04-28 15:47] alexec commented on #8498
I don't think we should fix this. @juliev0 work will deprecate this endpoint. Users should move to use the next endpoint. We could put a 301 redirect in place

[2022-04-28 17:44] viploveb commented on #8526
@trondhindenes This might help - https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#setting-requests-and-limits-for-local-ephemeral-storage