[2020-05-25 01:25] foobarbecue opened #3098 "Inputs and outputs should be labelled in UI"
# Summary

It should be obvious which items on the node details panel are inputs, and which are outputs.

# Motivation

In the attached image, there are two headers labelled "Artifacts". One refers to input artifacts, the other to output. Although an experienced user can tell the difference from context, this is unclear to a new user and makes the UI confusing.

![image](https://user-images.github

[2020-05-25 04:59] yunhailuo commented on #2733
Thank you @alexec . Here is my PR: https://github.com/argoproj/argo/pull/3099

[2020-05-25 05:40] TekTimmy commented on #703
that example specifies resources dynamically for the whole workflow, what if there are steps that need different resources ?

[2020-05-25 07:08] jyotishp commented on #3096
I think this should fix this issue, https://github.com/argoproj/argo/pull/3100/files

I'm not sure about how I need to write the tests for this one (Should I create a new workflow YAML in `test/e2e/testdata` and use that YAML file to check this?). Can someone help me with that?

[2020-05-25 08:16] yoichiwo7 commented on #2962
This is because argo-workflow after `v2.5.2` moved to go module.
Go module with major version 2 or higher needs version suffix like `/v2` in go.mod:

[code]

Following StackOverflow answer summarizes this topic well.
https://stackoverflow.com/a/57372286

Until argo-workflow supports this module version scheme, you can use matching commit hash in `go get` command. For example if you want to use arg

[2020-05-25 12:09] AntoineDao commented on #3061
A bit of context might help here. I am using Argo as a workflow engine, however I define the workflows and workflow templates using a separate (custom) tool. This tool lets me define re-usable/composable `container templates` and `dag templates` that I can inject into an Argo Workflow.

One of the reasons I use Argo is because it allows me to run tasks in parallel over many machines. To run these

[2020-05-25 14:11] mac9416 commented on #2430
We've found that the initial reaction to ``{{`{{}}`}}`` is confusion. But after that, it's okay.

If we did find we needed it, I think the workaround would be sufficient.

[2020-05-25 16:18] #2624 closed

[2020-05-25 18:12] BBerastegui commented on #744
Heyo!

I'm going to post my question here as it's where I landed after searching around on how to solve my "issue" and I think it's slightly related to this one.

I'm trying to generate a "final" artifact in a hard-wired location (as in this example): https://github.com/argoproj/argo/blob/master/examples/output-artifact-s3.yaml

But regardless on how I tweak the `artifacts.s3.key` and `artifacts.p

[2020-05-25 18:51] dcherman commented on #3095
Cool, I'll keep an eye on that PR.  If it stalls for any reason, I'd be happy to make this contribution.

[2020-05-25 19:06] dcherman opened #3102 "Artifact Garbage Collection"
# Summary

When a Workflow is deleted, we should consider garbage collecting artifacts from those workflows where possible.  This should likely be configurable.

# Motivation

Right now, manual intervention is needed in order to clean up artifacts that were created as part of Workflows if desired.  For high frequency workflows with high amounts of artifacts (think a CI system), cleaning up these a

[2020-05-25 19:31] jsenon commented on #2962
Thanks @yoichiwo7 but I don't know if argo has been updated in order to be compatible with Kubernetes 1.18 and the context.
And also to understand why the go doc is not updated as well.

[2020-05-25 22:11] yoichiwo7 commented on #2962
I think the answer is no.
argo-workflow v2.8.0 uses  `cleint-go: release-12.0` module which is based on Kubernetes v1.15. And it still uses `golang.org/x/net/context`.
By the way, I'm curious what kind of problem you are facing. I think putting use-cases and errors might be helpful to solve the issue.

As for go doc, it's not updated because the current argo-workflow doesn't follow valid go module

[2020-05-26 03:25] yunhailuo opened #3103 "make start fails with /usr/local/go/pkg/linux_amd64/os/user.a: permission denied"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
My issue is similar to https://github.com/argoproj/argo/issues/1154. I started a new issue because that one is closed and my versions are all new. Please let me know if I shouldn't. This is part of the output from `make st

[2020-05-26 10:52] georgekaz commented on #2696
@weisjohn , when i've used `generateName` in a Job spec as per the resource hooks, then it's worked so I guess it must be using `create`. However when I'm using it with a workflow spec it's failing, so it must be using `apply`. There must be some logic that ArgoCD is using to determine, but in this case it's not working. Under the hood though it must be interacting with the k8s api using `create`

[2020-05-26 12:31] ntwrkguru commented on #2733
The docs assume you deploy Minio in the `default` namespace, so we should probably add some context to what the command is doing and not presume that a new Argo user understands the nuance of Kubernetes networking. I made a comment on the PR @yunhailuo

[2020-05-26 14:01] simster7 commented on #2430
Thanks guys, closing this issue.

[2020-05-26 14:01] #2430 closed

[2020-05-26 14:43] #3065 closed

[2020-05-26 14:44] simster7 opened #3104 "assesDAGPhase does not consider `onExit` nodes"
To be fixed in https://github.com/argoproj/argo/pull/3035

[2020-05-26 15:20] alexec commented on #3102
this sounds like a great idea - would you be interested in submitting a PR?

[2020-05-26 15:21] alexec commented on #3103
we develop on OS-X, so it looks like the `Makefile` does not work correctly for Linux - would you like to submit a PR to fix this?

[2020-05-26 15:22] alexec commented on #3061
@sarabala1979 do you want to assist as you know this well?

[2020-05-26 15:23] alexec commented on #2962
See #2611

We could do with some help on fixing this - @jsenon or @yoichiwo7 would you like to help with fixing the `go.mod` problem?

[2020-05-26 15:27] yunhailuo commented on #3103
Yes, that will be my pleasure. But I don't really know how to fix this in the first place. Could you give some guidance?

I Googled a little and couldn't figure out. I found this most relevant: https://github.com/golang/go/issues/24674#issuecomment-378472999 but I couldn't understand why it needs to write (the directory and files do have read permission open).

[2020-05-26 15:30] lilida opened #3105 "archivedlog doesn't appear as output artifacts for failure node"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
When archiveLog enabled, if one node execution failed (for ex, app bug), its log was uploaded. However, the main-log was not listed as outputs artifacts in the status of the node.
Belo is an example of the node status
[cod

[2020-05-26 15:31] dcherman commented on #3102
Yep!

[2020-05-26 15:36] alexec commented on #944
See #3066

[2020-05-26 15:36] alexec commented on #1054
See #3066

[2020-05-26 15:37] alexec commented on #1054
That should be possible. I'm hoping someone will contribute an example.

[2020-05-26 15:39] alexec opened #3106 "Report estimated resource usages as well as requested resources"
# Summary

We currently report how much resource you requested * how long a your pod ran. This indicates the cost of your workflow. We should be able to use the metrics API to estimate how much you actually used.

# Motivation

Cost reduction. See #2972, #3089, #2934 .

# Proposal

See #2579

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 rea

[2020-05-26 15:49] alexec commented on #3105
I think this might be fixed in v2.8.0 or maybe v2.9

[2020-05-26 15:51] alexec commented on #3103
@MrXinWang - you run Linux I think? Would you be able to help please?

[2020-05-26 16:00] lilida commented on #3105
Thanks @alexec . Any chance you can point me the fix commit or pr?

[2020-05-26 18:49] alexec commented on #2996
I don't think `io.argoproj.workflow.v1alpha1.ScriptTemplate` has meta-data.

[2020-05-26 20:34] simster7 commented on #3093
I am so far unable to reproduce. Can you include the first lines of the workflow controller logs and paste them here? Two lines are of interest:
[code]
and
[code]

The first should print the configuration that you have specified in your configmap, the second should include the correct port and path that you have specified.

[2020-05-26 21:26] foobarbecue opened #3109 "Workflow UI replay"
# Summary

It would be great if you could scrub a time bar back and forth in the workflow graph view in the argo-server web UI, and view the state of the workflow nodes at different points in time.

# Motivation

Getting a quick feel for what order things happened in, and potentially a more compact way of viewing the workflow through time than the timeline view.

# Proposal

Seems like the necessa

[2020-05-26 21:30] yoichiwo7 commented on #2962
@alexec
Yes, I would like to help with it.

[2020-05-26 21:44] simster7 opened #3110 "Add a way to expose Reource Duration (Memory/CPU) of Workflows in Metrics"
Perhaps as an Argo Variable

[2020-05-26 23:15] samath117 opened #3111 "v2.8.0 submittable WorkflowTemplates are now required to have default values for all input parameters?"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

After upgrading to Argo v2.8.0, I ran `argo template create` on submittable WorkflowTemplates (i.e. those with an `entrypoint`) that had previously worked fine in Argo v2.7.6. The ones with input parameters without defaul

[2020-05-26 23:28] felixgao opened #3112 "Cron Workflow Run Now"
# Summary

Allow Cron Workflow to run at any arbitrary time with a button trigger

# Motivation

Even though the Cron is suppose to run on a schedule. The Kubernete dashboard's cronjob supports a way to trigger the job as needed.

# Proposal

Add a date picker and run button to the cron tab so a default `DS` value could be passed into the cron workflow to enable run on the given workflow at any ar

[2020-05-26 23:36] samath117 commented on #3111
Looks like this is duplicating #2857, the fix for which has unfortunately not been merged into v2.8.0. Hopefully we'll get it in v2.8.1!

[2020-05-26 23:36] #3111 closed

[2020-05-27 00:12] #3081 closed

[2020-05-27 00:23] alexec commented on #3112
@simster7

[2020-05-27 00:27] simster7 commented on #3112
This is already supported with

[code]

See:
[code]

[2020-05-27 00:56] MrXinWang commented on #3103
@alexec Yes of course. I will try to reproduce this issue today.

[2020-05-27 01:35] marov commented on #3112
Would be nice to have an option in the UI

[2020-05-27 07:07] yunhailuo commented on #3103
Hi @MrXinWang , thank you for offering to help.

What I found is https://github.com/golang/go/issues/37962#issuecomment-602664676
Based on Jay's comment, I removed `-i` from all `go build` commands in Makefile. My build seems to go through though I'm not 100% sure:
1. I have Argo on https://localhost:2746. But for some reasons I can't get token
[code]
2. I have MinIO on http://localhost:9000 and c

[2020-05-27 07:11] MrXinWang commented on #3103
Hi @alexec ! I tried to reproduce this on my machine and it seems there isn't any problems in the Makefile, as I did not met the error mentioned by @yunhailuo. It seems that his error occured in building `dist/argoexec-linux-amd64` binary and it seems I can build on my machine.

@yunhailuo It seems that your golang might be the problem, as you also mentioned in your comment. I will attach what I d

[2020-05-27 07:57] yunhailuo commented on #3103
Thank you @MrXinWang . I think the root privilege is the only solution so far. With my previous settings, `sudo make start` seems to go through fine. With your setting, I have to build as root user; otherwise it will fail pretty early since you have `/go/bin` under root. It makes sense since I hit permission denied errors.

I was trying to follow the contributor seminar on YouTube and didn't notic

[2020-05-27 08:05] MrXinWang commented on #3103
@yunhailuo That absolutely makes sense. Congratulations.

I would say it is definitely possible to change the value of GOROOT and GOPATH...and of course you can put it under your home directory where you have privilege to access anything. However I did not tried before so I am also not sure. As long as all environment variables and (symbolic links) are configured correctly, there shouldn't be any

[2020-05-27 09:51] toninis opened #3113 "serviceAccountName is not propagated from the kubectl binary properly for WorkflowSpec"
Checklist:

 * [X] I've included the version.
 * [X] I've included reproduction steps.
 * [X] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
The **CronWorkflow** behaves differently if you submit it from `kubectl` vs `argo-cli` and it ignores the serviceAccountName configuration under the **WorkflowSpec**

**What you expected to happen**:
The same behaviour

**

[2020-05-27 14:24] simster7 commented on #3112
Agreed

[2020-05-27 14:29] simster7 commented on #3113
[code]
Please try with a lower case `s` as the field name as they can be case-sensitive.

[2020-05-27 16:38] samath117 opened #3114 "Expose the "message" of a pod from argo get/watch to subsequent steps"
# Summary

An Argo variable `{{steps.X.message}}` (or maybe `{{steps.X.outputs.message}}`) should include the message information that is displayed in `argo get` / `argo watch` so later steps can act accordingly.

# Motivation

I work with nodes with sometimes fail for a variety of reasons: `failed with exit code 1`, `pod deleted`, `the node had condition: [MemoryPressure]`, and more. I would like

[2020-05-27 16:58] sarabala1979 commented on #3114
Can you use `retrystrategy` to rerun if it is`Poddelete`?

[2020-05-27 17:05] samath117 commented on #3114
I'm not entirely sure, but I don't think so. I don't see anything in the docs relating the retryStrategy to pod deletion specifically, just to errors or failures.

[2020-05-27 17:16] sarabala1979 commented on #3114
So you don't want to retry for all errors or failures. you want condition-based `retrystrategy` based on message or exit-code or some other variables.
 Am I state your use-case correctly?

[code]
[code]

[2020-05-27 17:20] samath117 commented on #3114
Something like that. I was originally imagining that I'd have to put it together into a recursive loop, a "manual retryStrategy", if you will, since `retryCondition` doesn't exist yet in the way that you've described it here. Alternatively, I may just want to log that message somewhere for further processing later.

[2020-05-27 19:55] yunhailuo commented on #3103
Thank you @MrXinWang . I think it is clear and all worked out. I still couldn't get token. I'll close this one and open another issue if needed.

[2020-05-27 19:55] #3103 closed

[2020-05-27 20:30] toninis commented on #3113
I used the `ServiceAccountName` following issue https://github.com/argoproj/argo/issues/1973 .
Also from [here](https://github.com/argoproj/argo/blob/v2.8.0/pkg/apis/workflow/v1alpha1/workflow_types.go#L138) it seems that the `ServiceAccountName`  is the only way for this to work.

@simster7  I will try this tomorrow though and revert back . Thanks for the prompt response 👍

[2020-05-28 02:34] alexec opened #3118 "Fix panics"
[code]

https://app.circleci.com/pipelines/github/argoproj/argo/4080/workflows/575ce35b-ed70-4512-bc31-2670d3fc51fc/jobs/25086/steps

[2020-05-28 02:42] alexec commented on #3118
[code]

Unrelated?

https://app.circleci.com/pipelines/github/argoproj/argo/3980/workflows/1a112bdc-1b81-49ac-b809-a40b7124d798/jobs/24225/steps

[2020-05-28 02:46] alexec commented on #3118
We should never see `upper: no more rows in this result set`.

[2020-05-28 02:47] alexec commented on #3118
Second error is pre-hydrator - so ignoring.

[2020-05-28 05:23] yunhailuo commented on #3103
In case this matters, the reason I got
[code]
is I used minikube and by default the minikube user has no authentication set up. To fix this I did the following two and redo a clean start. Both of them works:
1. `kubectl config set-credentials minikube --username=minikube --password=password`
2. `kubectl config set-credentials minikube --token="Basic bWluaWt1YmU6cGFzc3dvcmQ="`

[2020-05-28 08:50] theStrayPointer opened #3120 "Retain layout changes after page reloads in UI"
# Summary

Argo UI currently provides a few neat ways to modify the visual layout of the workflow(s) and filter steps/tasks. But changes are not retained following a page reload.

# Motivation

Especially for very large and complex workflows, UI customization actions become quite repetitive.

# Proposal

A simple save/load process using local storage may be sufficient.

---

**Message from the mai

[2020-05-28 11:15] dtaniwaki commented on #3072
I think something like this idea can be useful because the same mechanism can be used for `inputs` as well. For example, consider the following template.

[code]

The `params.json` file is written as json, but we can get it as YAML if we have `converter` as below.

[code]

[2020-05-28 14:53] simster7 commented on #3120
I figured this would come up at some point. I'll take a look at this

[2020-05-28 14:54] #3118 closed

[2020-05-28 14:57] alexec commented on #3120
This sounds specifically like the DAG display.

This needs some polish. It'd be good to fix with #3092 and 3091.

[2020-05-28 15:36] theStrayPointer commented on #3120
Thank you.

[2020-05-28 17:00] alexec commented on #3120
I'll fix #3091.

[2020-05-28 17:27] alexec opened #3121 "`deletePDBResource` panics if `workflowRef not found`"
Workflow:
[code]

Logs:

[code]

[2020-05-28 17:28] alexec commented on #3121
@sarabala1979 not sure which line this is...

[2020-05-28 17:31] alexec commented on #3121
This line:

[code]

So `woc.wfSpec` must be nil.

[2020-05-28 17:34] simster7 opened #3122 "Informer panics on some Unstrucutred Workflows"
[code]

[2020-05-28 17:36] #3112 closed

[2020-05-28 17:36] #3092 closed

[2020-05-28 18:22] #3122 closed

[2020-05-28 19:03] sarabala1979 commented on #3121
Above workflow definition is invalid.  But I know the issue. I am fixing it.
[code]

[2020-05-28 20:01] #1139 closed

[2020-05-28 20:01] #3091 closed

[2020-05-28 20:19] #2897 closed

[2020-05-28 20:26] #2663 closed

[2020-05-28 20:28] alexec commented on #2408
Can you please add your workflow YAML?

[2020-05-28 21:57] simster7 commented on #3098
@rbreeze

[2020-05-28 21:57] alexec commented on #2602
It does't look possible to to migrate to Gomodules using v2 because you must either use "branch" or "subdirectory":

https://stackoverflow.com/questions/53344471/taking-a-repository-to-v2

Both these solutions have downsides that mean we could not use them without making changes that are too time consuming and risky.

Marking as "won't fix".

[2020-05-28 21:58] rbreeze commented on #3098
I'll take this one

[2020-05-28 22:00] alexec commented on #2940
v2.7 is end of life now.

[2020-05-28 22:05] alexec commented on #2412
Example spec is incorrect, should be
[code]

[2020-05-28 22:09] rbreeze opened #3128 "Convenience flag in CLI for latest workflow"
# Summary

When using the CLI there's no easy way to access the last submitted workflow.

# Motivation

When running through the tutorials I found myself typing `argo list` and copy pasting the generated name to `argo get` and `argo logs` a lot.

# Proposal

Add the ability to append `--latest` to a command to automatically use the last submitted workflow.

---
**Message from the maintainers**:

I

[2020-05-28 22:16] sarabala1979 commented on #2412
For paramertize the resource, you should use `podSpec` feature.
[code]

[2020-05-28 22:18] alexec commented on #2412
@sarabala1979 I would have expected this to work too - any thoughts as to why not?

[2020-05-28 22:19] alexec commented on #2412
`// PodSpecPatch holds strategic merge patch to apply against the pod spec. Allows parameterization of
	// container fields which are not strings (e.g. resource limits).`

ahhh...

[2020-05-28 22:24] alexec commented on #2660
Correcter YAML to repro:
[code]

[2020-05-28 22:34] alexec commented on #2412
Ok, even thought this behaviour is counter intuitive - I've reviewed the code and changing it would incur costs that out-weight the benefit.

[2020-05-28 22:39] alexec commented on #2660
Confirmed bug.

[2020-05-28 22:48] alexec commented on #2660
Fix implemented.

[2020-05-28 22:49] alexec commented on #3128
what about `--sort-by=.metadata.creationTimestamp` or similar?

[2020-05-28 22:50] alexec commented on #3128
btw `kubectl get wf --sort-by=.metadata.creationTimestapm`

[2020-05-28 22:51] alexec commented on #3128
[code]

[2020-05-28 23:16] #2660 closed

[2020-05-29 02:57] sarabala1979 commented on #2739
@amrragab8080 can you test your scenario with my dev Build ?
Here my docker image tag: **sarabala1979/workflow-controller:issue-2739**

[2020-05-29 04:18] grantstephens commented on #2412
Thank you

[2020-05-29 04:18] #2412 closed

[2020-05-29 08:25] logicfox commented on #2946
@alexec Has this been released? I noticed that the colored logs example @dtaniwaki mentioed above is only in the master.

[2020-05-29 11:02] markterm opened #3132 "Be able to set result text when resuming a workflow"
# Summary

Ability to set result text against a node when doing a resume via API or CLI

# Motivation

If the result of a resume may affect execution of future nodes.

# Proposal

#3133

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-05-29 14:02] #3120 closed

[2020-05-29 15:12] sarabala1979 commented on #3097
Not able to reproduce on the master branch.
Fixed: https://github.com/argoproj/argo/pull/2855

[2020-05-29 17:38] blkperl commented on #2602
@alexec Since the bug is not going to be fixed then the supported installation method becomes using `argo@stable` or `argo@release-<version>`? It's not as ideal but it's better than using `argo@master`. Is this something we could add to the README for users that have argo as a dependency?

Users could add the version number as a comment in the go.mod file to keep track of what version they are on

[2020-05-29 18:42] simster7 opened #3134 "Refactor Steps logic to use DAG logic"
The logic that process Steps templates was written before the logic for DAG templates. Now that both exist, however, we can use the DAG logic to process Steps as well as DAGs since a Steps template is a strictly-defined DAG template.

Doing this refactor will significantly reduce much of the duplicated logic between the two processors and simplify the codebase.

Note that this is only an implement

[2020-05-29 19:16] #3098 closed

[2020-05-29 19:19] rbreeze commented on #2783
I'll take this one

[2020-05-29 19:20] rbreeze commented on #2782
I can work on this one

[2020-05-29 19:21] ericmeadows commented on #2782
Awesome - let me know if you have questions.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Remington Breeze <notifications@github.com>
Sent: Friday, May 29, 2020 3:20:17 PM
To: argoproj/argo <argo@noreply.github.com>
Cc: Meadows, Eric A. <meadows.120@buckeyemail.osu.edu>; Author <author@noreply.github.com>
Subject: Re: [argoproj/argo] Workflow Labels - Annotati

[2020-05-29 21:31] Syps commented on #3034
Implementation-wise, how do you think the controller should add these new metrics? Should it upsert a custom metric to Metrics Collector, or should the Metrics type be expanded to hold an additional Counter for workflow-controller errors?

[2020-05-29 22:52] rbreeze commented on #3128
I got an error but seem to have fixed it with an awk at the end:

`argo get $(kubectl get wf --sort-by=.metadata.creationTimestamp | tail -n1 | awk '{print $1}')`

Would it be a good idea to integrate this as a simple "--latest" flag for less typing, or is there not much of a use case for it?

[2020-05-30 08:10] madhuresh04 opened #3136 "[Imp] Workflows getting Latent with high workloads (performance/scale runs) !!"
**Background**
	We are trying to simulate CI using Argo workflows. We create our workflows using Dag and Tasks, with variation in number of templates depending on different use-cases.

Our performance/scale tests indicate that the workflow executions are becoming significantly latent when we run workflows at scale at a given point in time. We would like to highlight some of our observations and wo

[2020-05-30 16:02] simster7 commented on #2993
Possible workaround for this is to omit `resubmitPendingPods: true`

[2020-05-31 07:21] Arkanayan commented on #934
@foobarbecue Your solution seems to achieve it. But it seems incredibly hacky. Maintaining that would be a nightmare.
We have a use case where actually need to loop over artifacts. And I was thinking along the same lines. But I think it should be implemented at argo feature level, like with a `withArtifacts` parameter.

I was thinking of contributing to the project. But being mainly a python devel

[2020-05-31 19:13] dmayle opened #3138 "Can't pass serviceaccountname from WorkflowTemplates on web submit"
Checklist:

**What happened**:
I'm converting a working Template to a WorkflowTemplate.  The serviceAccountName field is properly set on the WorkflowTemplate, but when I use the web UI to submit the template, I have to manually copy the serviceAccountName field to the input box, or the workflow will be submitted using the default serviceaccount

**What you expected to happen**:
I expect the servic

[2020-06-01 16:56] sarabala1979 commented on #3138
This issue fixed using `workflowtemplateRef` to refer to the `WorkflowTemplate`.
Fixed:  https://github.com/argoproj/argo/pull/3116.

[2020-06-01 16:56] #3138 closed

[2020-06-01 16:57] sarabala1979 commented on #3138
Fixed: #3116

[2020-06-01 17:21] rbreeze commented on #2782
@ericmeadows Was something like this what you were envisioning? I haven't added the tooltip on hover yet but will update you when I do.

<img width="760" alt="Screen Shot 2020-06-01 at 10 19 04 AM" src="https://user-images.githubusercontent.com/6250584/83435618-67138600-a3f1-11ea-8809-e61337ad4099.png">

[2020-06-01 17:31] rbreeze opened #3139 "Filter by label with CLI"
# Summary

Allow filtering by label on the CLI.

# Motivation

On the UI, it's really easy to filter workflows by label. I couldn't find an equivalent with the CLI and I think it would be useful to have.

# Proposal

A `--label` flag for `argo list`.

Example:
`argo list --label "workflows.argoproj.io/completed=true"`

---

**Message from the maintainers**:

If you wish to see this enhancement imp

[2020-06-01 17:36] sarabala1979 commented on #2782
@rbreeze  thanks for taking more issues. I would recommend having multiline text or scrollable label. So it can display all labels/annotations in one place with scroll and we can save some realestate

![image](https://user-images.githubusercontent.com/33908564/83436904-9d520500-a3f3-11ea-8bed-708ffeb876be.png)

[2020-06-01 17:47] rbreeze commented on #2782
@sarabala1979 good idea, thanks! As I have it, the labels are multiline, just not demonstrated in the screenshot. But some sort of scroll interface would probably help for workflows with dozens of labels.

[2020-06-01 18:20] sarabala1979 commented on #3139
this feature implemented in #3088

`argo list -l `

[2020-06-01 18:27] rbreeze commented on #2783
@ericmeadows In `configMap`, what format do you envision for specifying which labels go in which dropdown?

[2020-06-01 20:13] lewijw opened #3142 "Help with Encryption Review"
Hello,

I work for SAS Institute, and we are considering the use of argo, but it has to get past an internal encryption review.  If someone could answer these questions or supply a link to relevant information, it would be appreciated.

Does the software have cryptographic functionality to secure data-in-motion, regardless of if this functionality is used?

(data-in-motion) If your component (or l

[2020-06-01 22:54] foobarbecue commented on #934
I am in the same boat, mostly python and javascript and haven't used go.

I think the critical missing feature here is the ability to specify output artifact keys in the workflow without having to do backflips (changing the configmap and using the "hard-wired" artifact spec style). Those would eliminate the hackyness from my example. I was hoping there was a way to use the default artifact store a

[2020-06-02 01:02] simster7 commented on #3034
Hey @Syps, sorry for the delay. Opened https://github.com/argoproj/argo/pull/3144 to fix

[2020-06-02 07:00] er0sin commented on #2077
Another use case for this is populating "command" or "args" from a parameter

[2020-06-02 11:36] samath117 opened #3145 "argo get/watch should list parallel entries in order, not alphabetize"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

When running any parallel workflow (`withParam`, `withSequence`, or `withItems`), the fanned out entries are displayed in alphabetical order of the step names. If there are 10 or fewer, this order matches the standard ord

[2020-06-02 13:34] Syps commented on #3034
Awesome, thanks @simster7 !

[2020-06-02 14:40] simster7 commented on #2551
An update on this: given some limitations placed by K8s on this feature – mainly the inability to replace or modify individual ephemeral containers in a Pod and only replace the _entire_ list of ephemeral containers as an operation – we don't think this feature as described is currently feasible.

However, I'll investigate if we can take advantage of this feature for other purposes, such as a stre

[2020-06-02 17:52] simster7 commented on #2783
Hey @ericmeadows, we discussed this issue and decided that adding the ability to specify label dropdowns is too specific of a use case and would not want to support it for now.

Is there a reason as to why being able to filter labels by search is not sufficient for you?
<img width="290" alt="image" src="https://user-images.githubusercontent.com/614838/83552707-0e122380-a4bf-11ea-9780-70c58516b04b.

[2020-06-02 17:52] #2783 closed

[2020-06-02 20:02] alexec commented on #3136
1. Make sure you are running v2.8.1
2. Limit your total number of workflows/pods as per this doc: https://github.com/argoproj/argo/blob/master/docs/cost-optimisation.md
3. Try different executor: https://github.com/argoproj/argo/blob/master/docs/workflow-executors.md
4. Try work-avoidance: https://github.com/argoproj/argo/blob/master/docs/work-avoidance.md

v2.9 will include better throughput for

[2020-06-02 20:23] simster7 commented on #3006
Any news with trying 2.8 before I begin investigating?

[2020-06-02 21:55] leoluz commented on #2905
We are having a similar issue.

A brief explanation of our use-case:

We want to run validation steps in parallel and after each validation we need to run a generic post processing step. Validations will be provided by different teams, so it should be easy to add new validations in future. Ideally, to provide a new validation a team would have to add a new container template in the workflow and ad

[2020-06-02 21:59] simster7 commented on #2905
Hi @leoluz, thanks for adding your use case. I agree that if we support `template: "{{workflow.parameters.validation}}"` we should certainly support `template: "{{inputs.parameters.validation-name}}"`. I'll get fix going.

[2020-06-02 22:16] #2782 closed

[2020-06-02 22:33] shadiramadan opened #3150 "Support Extension Fields"
# Summary

docker-compose has the concept of extension fields: https://docs.docker.com/compose/compose-file/#extension-fields

These are YAML fields that start with `x-` and are ignored when validating if they should exist or not.  Argo should support a similar mechanism to be able to reduce duplicate configuration via YAML anchors.

# Motivation

I currently use YAML anchors in my argo workflows

[2020-06-03 00:31] alexec commented on #3136
Forgot this one:

https://github.com/argoproj/argo/blob/master/docs/scaling.md

[2020-06-03 05:48] antoniomo commented on #3006
I haven't seen the issue with Running workflows not having a pod: they do have a pod in all my "stuck in Running" workflows now. This is anecdotal data though, we see this in a test cluster that is very starved of resources, so workflow pods get OOM-killed quite often. However, pods are there now as far as I can see.

[2020-06-03 06:53] manpreet1994 opened #3154 "Passing arguments to workflow inside a cronworkflow"
# Summary

How can I pass arguments/parameters to a workflow running in a cronworkflow?

# Motivation
I'm working on a scenario where, a workflow which requires input parameters from env file, needs to be scheduled also.

[2020-06-03 07:14] cy-zheng opened #3155 "[Question] How can I let exit handler do the clean up after we stop a workflow via API?"
# Summary

How can I let exit handler do the clean up after we stop a workflow via API?
I find that if we stop/terminate a workflow, the exit handler would never run, so we need to clean up some resources manually.

# Motivation

We are using argo resource API to create some native kubernetes objects, we hope that when we stop the workflow, these k8s objects would be deleted by exit handler.

[2020-06-03 07:35] cy-zheng commented on #3155
E.g.
[code]

Send a stop/terminate request to argo server, and you will find exit handlers failed.

Argo version: v2.7.5

[2020-06-03 07:38] cy-zheng commented on #3155
https://github.com/argoproj/argo/issues/2710

It seems fixed in v2.8.0

[2020-06-03 07:38] #3155 closed

[2020-06-03 09:48] discordianfish opened #3156 "Add all template volumes to workflow pod"
# Summary
Argo should add all volumes defined in a template to the workflow pod.
Currently it iterates over volumeMounts and only adds the volumes that are referred by that: yep, argo iterates over the volumeMounts to find the volumes to add to the pod spec: https://github.com/argoproj/argo/blob/6e5dd2e19a3094f88e6f927f786f866eccc5f500/workflow/controller/workflowpod.go#L642

# Motivation
We're us

[2020-06-03 09:48] discordianfish commented on #3156
If the maintainers agree with the change, I can submit a PR to add it.

[2020-06-03 11:06] lbjarre commented on #2556
Just want to chime in as a user to say that I agree with the discussion so far and like the proposal!

Any updates on the status? Judging from some recent activity it seems that this has already been merged, but I can't find the specific PR (if it exists).

[2020-06-03 14:48] simster7 commented on #2556
Merged in https://github.com/argoproj/argo/pull/2912

[2020-06-03 14:48] #2556 closed

[2020-06-03 16:06] samirmajen commented on #3044
Hi sarabala1979, the issue is when you have a template that has an annotation which is then used by another workflow that references the template. If I use the template directly the annotation is applied, if i reference the template from another workflow, the annotation is not applied

[2020-06-03 16:24] rbreeze opened #3157 "Enhancement(ui): Allow sorting workflows by more criteria"
# Summary

Allow for users to sort the UI workflow list by duration, name (alphabetically), and finish time.

# Motivation

I wanted to quickly find a workflow with a long duration in the UI, but realized there was no way to sort them.

# Proposal

For the UI, something as simple as an up/down arrow on each column's header that a user can click to sort by that column. The color of the active colum

[2020-06-03 16:39] alexec opened #3158 "Investigate `StorageError: invalid object, Code: 4, Key`"
This error sporadically fails CI builds. I've not seen this before and expect it due to hydrator changes:

https://circleci.com/api/v1.1/project/github/argoproj/argo/26101/output/111/0?file=true&allocation-id=5ed6ea8b5d1b4f7dcaa57c85-0-build%2F6A140EDD

[code]

See #3118
See #3123

[2020-06-03 16:47] alexec commented on #3158
It appears that the workflow was deleted when we attempted to call `woc.persistUpdates`, but `Workflows.Update()` returned `Conflict`, not NotFound (as you'd expect) and so we attempt to re-apply updates. At this point it appears we've lost all the data we need to correctly update the workflow.

[2020-06-03 16:48] alexec commented on #3158
This was a cron workflow because `"Workflow '%s' no longer exists"` is only logged in `cron/controller.go`.

[2020-06-03 16:49] alexec commented on #3158
we're attempting to operate on a deleted workflow, fail and panic - we should be able to deal with this without panicing

[2020-06-03 16:51] simster7 commented on #3150
Interesting request, I'll bring this up with the team

[2020-06-03 16:54] alexec commented on #3158
Duplicate of #3121

[2020-06-03 16:55] alexec commented on #3121
@sarabala1979 this bug still happens.

`deletePDBResource` needs to be robust to `wf.wfSpec` being nil.

[2020-06-03 17:01] sarabala1979 commented on #3158
let me take a look

[2020-06-03 17:39] #3121 closed

[2020-06-03 17:40] alexec commented on #3156
@jessesuen and negative impacts?
@discordianfish maybe make it configurable?

[2020-06-03 18:44] #2857 closed

[2020-06-03 19:18] alexec commented on #1813
SSO done. RBAC still to do.

[2020-06-03 19:25] alexec commented on #2637
See #2974

[2020-06-03 19:27] #3034 closed

[2020-06-03 20:05] samath117 commented on #3154
My usual approach is to have the workflow load the input parameters from a file in my artifact repository, which I update when necessary.

[2020-06-03 20:30] alexec commented on #3154
@simster7 FYI
@samath117 do you have an example we could add to docs?

[2020-06-03 20:34] samath117 commented on #3154
Nah, it's really just the same as the standard input artifact importing examples, like [this one](https://github.com/argoproj/argo/blob/master/examples/input-artifact-s3.yaml). You have to write a processing step to unpack those variables, and decide what process you want to write to that file (another CronWorkflow, manually-submitted Workflows, uploading directly, etc).

[2020-06-03 20:48] rbreeze opened #3163 "bug(ui): Workflow List component receiving too much information from server"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
When the Workflows List view is loaded, additional data that wasn't requested is added to the state.

**What you expected to happen**:
We expect the data we request and nothing more. Getting the additional info adds both a

[2020-06-03 21:30] simster7 opened #3164 "Add `prometheus.io/scrape` annotation to controller"
# Summary

What change you think needs making.

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

How do you think this should be implemented?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-06-03 21:44] alexec commented on #2077
See #3072

[2020-06-03 21:47] rbreeze commented on #3163
I've found the issue. As @alexec mentioned in #3151, the `/workflow-events` endpoint is returning entire workflow objects. In fact, removing the initial request to the `/workflows` endpoint in the `services.workflows.list` call does nothing but delay the appearance of the workflows list by about a half a second. I'm looking into whether the `/workflow-events` endpoint has parameters similar to the

[2020-06-04 04:30] surajrajan-maf opened #3168 "Spark operator integration"
From workflow, how do I invoke spark operator? (https://github.com/GoogleCloudPlatform/spark-on-k8s-operator)

currently, spark application is created via
kubectl apply -f spark app.yaml

[2020-06-04 06:01] manpreet1994 commented on #3154
@samath117
Thanks for input. I'm using azure blob storage, however, it seems azure blob storage artifact is not supported yet. Any workarounds?

[2020-06-04 09:36] samath117 commented on #3154
I'm not aware of any if S3 artifacts don't work for you. Others probably are better suited to answer that question, though.

[2020-06-04 11:34] hadim opened #3169 "Realtime/live logs"
Is that possible to get live logs of a running pod? Consider the below workflow:

[code]

When logging with `argo logs -f long-workflow-5rnj`, I see the logs of one pod when its execution end and not in real-time. I am wondering if this is a limitation of Argo/k8s or if I am missing something.

If this is a limitation what strategy would you suggest to get logs in real-time (without using an exter

[2020-06-04 12:55] TTRh opened #3170 "Issue passing List of Objects from workflow parameters"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

Using `withParam` with a list of complex parameter, it fails if there is a list inside the item.

**What you expected to happen**:

List type should be supported ?
Based on https://github.com/argoproj/argo/issues/2660
I w

[2020-06-04 13:42] Purushotham233 commented on #3136
@alexec, Regarding the wait-container calling api-server, we wanted to check with argo team, on why such pattern is adopted. We believe that workload pods making calls to control-plane may be an anti-pattern. Could you explain more on this.

[2020-06-04 14:06] hadim commented on #3169
Using `sh` instead of python is working correctly:

[code]

Why such a limitation using python + the print function?

[2020-06-04 14:50] terrytangyuan opened #3171 "Proposal: Count-based Enhanced Depends Logic"
# Summary

Support count-based enhanced depends logic in addition to existing depends logic based on dependent tasks and their statuses as outlined in the [Enhanced Depends Logic](https://github.com/argoproj/argo/blob/master/docs/enhanced-depends-logic.md) document that has been introduced after v2.9.

# Motivation

Currently, there exists a new called `depends` that allows users to specify depend

[2020-06-04 14:52] terrytangyuan commented on #3171
Opening this issue to discuss the idea before I dive into the implementation. I'd like to implement this if others agree this is a good enhancement.

[2020-06-04 15:16] #3110 closed

[2020-06-04 15:36] sarabala1979 commented on #3170
The issue fixed in v2.8.1.  try on  v2.8.1

[2020-06-04 16:09] sfc-gh-pkrishnamurthy commented on #3164
The annotations could be built based on the metrics configuration in the configmap

[2020-06-04 16:38] #3145 closed

[2020-06-04 17:01] simster7 opened #3172 "protoc-gen-go/generator is deprecated"
`protoc-gen-go/generator` is part of the codegen process and is deprecated.

[code]
https://github.com/golang/protobuf/blob/d04d7b157bb510b1e0c10132224b616ac0e26b17/protoc-gen-go/generator/generator.go#L5-L11

We should migrate to google.golang.org/protobuf/compiler/protogen as advised

[2020-06-04 18:27] merlintang commented on #3171
does this related to trigger rule in the AirFlow, I know the trigger would be easy to used to decide the runtime of DAG.

[2020-06-04 18:44] terrytangyuan commented on #3169
@alexec @simster7 I can send a PR to expose this additional option if you agree. I think it's beneficial for users to toggle this as mentioned in https://github.com/argoproj/argo/pull/3148.

[2020-06-04 18:56] terrytangyuan commented on #3171
@merlintang Yes that is part of my original motivation.

@simster7 Thank you for your thoughtful response! I agree that if we take the large refactoring and the impotency requirement into account, this may not be a good approach to pursue.

Controlling this in `when` expressions sounds like a good idea. Do you think a separate proposal is required or should we continue our discussion here if we wa

[2020-06-04 19:40] hadim commented on #3169
Thanks for the answer but indeed it doesn't explain the difference between bash and python.

[2020-06-04 20:38] alexec commented on #3169
`argo logs --follow` ?

[2020-06-04 20:42] terrytangyuan commented on #3169
@alexec Oops. Sorry I was looking at an old branch. This option already exists.

[2020-06-04 20:55] TTRh commented on #3170
i'm using version 2.8.1 as in the shown in the logs  :

[code]
is the example works for you ?

[2020-06-04 20:58] hadim commented on #3169
Just to be clear `argo logs -f` works well, using bash but not python.

[2020-06-04 21:30] simster7 commented on #721
Closed by https://github.com/argoproj/argo/pull/2385

[2020-06-04 21:30] #721 closed

[2020-06-04 21:31] mfranklin opened #3176 "Workflow doesn't attempt to start next node and "hangs""
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
While using the recursive loop method to force a series of dynamically-generated steps to run in series (can't be done in parallel), the workflow hangs and does not create the next node.  The max depth of any single recurs

[2020-06-04 23:14] ddseapy commented on #3164
We currently add scrape annotations on the yaml for the pod template (in our Argo helm chart).

Once we move to Prometheus operator we plan to discontinue using the annotation and instead use the servicemonitor crd.  Though at that point having the annotation shouldn't hurt.

[2020-06-05 02:17] simster7 commented on #3171
@terrytangyuan We can continue our discussion here. Here is how I envision the spec:

[code]

A better name and syntax for `{{tasks.expand-task.subTasks.Suceeded}}` is needed. Any suggestions? You can look at https://github.com/argoproj/argo/pull/2911 for an example on how to do this.

Looking forward to your PR

[2020-06-05 02:44] simster7 commented on #3176
Hey @mfranklin, I was able to reproduce this. The issue most likely here is related to our operation deadline. In short, we limit how much time the controller can spend in a single operation of the Workflow to 10 seconds. As the Workflow progresses and gets deeper, the amount of work the controller must do in a single operation grows by some big-O, up until it starts exceeding the 10 second deadli

[2020-06-05 02:49] simster7 commented on #3164
I'm hesitant to add these annotations by default as it seems to me that these annotations should be managed by the user as this may be user-specific. Furthermore, it seems like an anti-pattern that a Pod (i.e., the controller) manages the labels of its own definition (i.e., the Deployemt of the controller) dispatched by a Deployment. Unsure how this would be handled by K8s. Let me know if I'm wron

[2020-06-05 14:39] tvalasek commented on #2749
was this feature iceboxed ?

[2020-06-05 14:51] simster7 commented on #3154
FYI: Opened #3173 to add Azure Blob Storage

[2020-06-05 15:11] mfranklin commented on #3176
Thanks, @simster7. That tracks with what I have been seeing.

I was unaware of the ability to create new workflows. I will explore that.

[2020-06-05 15:51] simster7 commented on #2749
For now it is. The reason has mostly to do with design: we didn't want to start blurring the template definition/template caller abstraction for now. Keeping the issue open though as we might revisit this in the future.

Please feel free to add your thoughts.

[2020-06-05 15:59] tvalasek commented on #2749
I know that one suggested approach was to use templatePatch and be able to patch all template fields. This feature request is not asking for all that, just one feature and that is retryStrategy.

Still not feasible? I saw you made it to work https://github.com/argoproj/argo/pull/2894/commits/1767952f26941804cf55cd3b87ba18bc538607b9

Thanks

[2020-06-05 16:19] sfc-gh-pkrishnamurthy commented on #3164
Ok. I added the annotations to my pod in the manifest as well and that works alright.
I felt that the annotations should match the metrics configuration in the configMap and sensed an opportunity to add by default (if metrics is enabled and remove if metrics is disabled) but will leave it your better judgement.

Please feel free to close the issue

[2020-06-05 16:25] sarabala1979 commented on #2749
I think retryStrategy is already supported in DAG/Step scope.

[code]

[2020-06-05 16:35] simster7 commented on #2749
@sarabala1979 This issue refers to overriding `retryStrategy` in a step caller:

[code]

[2020-06-05 16:35] tvalasek commented on #2749
that is template scoped. what this FR is asking for is https://github.com/argoproj/argo/commit/1767952f26941804cf55cd3b87ba18bc538607b9#diff-ac16b3112943294b0702cf25461e0ee7

[2020-06-05 16:54] simster7 commented on #3164
Thanks @sfc-gh-pkrishnamurthy

[2020-06-05 16:54] #3164 closed

[2020-06-05 19:44] jessesuen opened #3182 "steps.XX.outputs.parameters.YY is invalid when XX is expanded"
**What happened**:

A user tried to do something like this:

[code]

We currently allow the referencing of `{{steps.one.outputs.parameters.aaa}}`. However, when that step is expanded with items, then `{{steps.one.outputs.parameters.aaa}}` is ambiguous and does not represent a single value.

The above workflow fails with error: `withParam value could not be parsed as a JSON list: {{steps.one.output

[2020-06-06 12:26] hadim opened #3183 "Log during wk submit"
My current workflow to debug/develop an Argo workflow is to submit it, get its name, and execute `argo logs -f` to check the logs.

I do that very often during the early phases of the dev. It would be nice to have an option in `argo submit` to directly execute `argo logs -f` upon submission.

[2020-06-06 12:44] hadim commented on #3183
That feature would be similar as `docker-compose up` while the current default is similar to `docker-compose up -d`.

Note: I am looking for logs and not the `--watch` argument.

[2020-06-06 12:54] hadim commented on #3169
Using the `logging` module in Python makes the logs appear in realtime. It looks like the `print` function is cached somehow and is only displayed at the end of the execution.

[2020-06-06 16:33] hiu-phail commented on #2247
Hey guys,

I just stumbled upon the same problem and did some investigations I wanted to share with you. I have the situation where I also have >1k items I'd like to process with fixed parallelism with Argo. Each item gets processed with a _steps_ of two pods and some retries allowed, so there is some complexity involved. I used Argo v2.8.1.

As a total non-Gopher I started adding a lot of log mes

[2020-06-06 17:22] #3163 closed

[2020-06-06 17:47] simster7 commented on #3183
We're considering a related change in https://github.com/argoproj/argo/pull/3179. What do you think of

[code]

or

[code]
@rbreeze Please make sure `argo logs` is covered in #3179

[2020-06-06 17:54] hadim commented on #3183
`--latest` would be super useful indeed. A flag to `submit` for `argo logs -f --latest` would also a good addition but I guess it's more complicated.

[2020-06-06 19:32] rbreeze commented on #3183
@simster7 will do!

[2020-06-07 05:57] duongnt commented on #3168
We are just using the resource op to create the SparkApplication CRD. It's still a challenge to pass spark outputs back to argo though. I think spark operator isn't giving us much information about the spark job in the SparkApplication CRD itself, other than the job status (like failed or succeeded).

[2020-06-07 16:21] hadim opened #3184 "Define `artifactRepositoryRef` only once in spec"
At the moment each new workflow must redefine an artifact repository:

[code]

Is that possible to define `s3` once and reuse it in different workflows? Something like that:

[code]

Or maybe this is already possible using workflow templates? If that's the case could you provide an example?

[2020-06-07 16:31] hadim opened #3185 "[UI] Perform batch action on workflows"
In the same spirit as in https://github.com/kubernetes/dashboard/issues/5239, it would be nice to be able to select multiple workflows and perform batch action on it from the web UI.

[2020-06-07 23:44] sarabala1979 commented on #3184
I liked the above idea to decouple the (namespace scoped) artifact repo. Instead of new CRD, we can use `Configmap`  which can have multiple artifact repo configuration which can be referred to in workflows.

[code]
 @jessesuen comment on this.

Current Support:

you can configure the controller level artifact repository. All workflows on this controller can upload and download the artifacts to th

[2020-06-08 00:09] hadim commented on #3184
Thank you @sarabala1979. I am already using `artifactRepository` and it works well by I want the possibility to work with multiple artifacts at the same time.

About a new CRD or a `configMap`, whatever works best for you. I guess the `configMap` would be easier to implement but I think it could make sense to have a new CRD object too.

[2020-06-08 02:30] max-sixty opened #3186 "Docs link to 404"
Checklist:

 * [x] I've included reproduction steps.

**What happened**:
The link `Argo Workflows: Documentation by Example` below links to https://argoproj.github.io/docs/examples/README.html, which is a 404
<img width="939" alt="image" src="https://user-images.githubusercontent.com/5635139/83987412-04d8ea80-a8f5-11ea-9638-be7586b645b2.png">

---
<img width="645" alt="image" src="https://user-ima

[2020-06-08 05:03] ajitspendse opened #3188 "Allow `onExit` to use `workflowTemplateRef`"
# Summary

`onExit` handler allows specifying a template defined within the same workflow/workflow template. It would be great if `workflowTemplateRef` functionality can be extended to `onExit` handler as well.

# Motivation
In a Kubernetes deployment, we define a centrally configured `workflowDefaults` and also deploy some re-usable workflow templates. Using these facilities, it is also possible

[2020-06-08 05:28] Ark-kun commented on #3171
TBH, I think adding this feature to Argo's core language would overcomplicate it even more and make it more fragile.

Maybe each of your tasks should put record it's completion in some storage/db and the service that watches/manages that storage/db can trigger the second pipeline stage once the dependencies are satisfied.

[2020-06-08 06:57] wangzhipeng opened #3189 "optimization log"
# Summary

Modify log save method to stream

# Motivation

Modify the log saving mode to streaming mode to prepare for the next real-time log saving

# Proposal
Save(path string, outputArtifact *wfv1.Artifact) error [link](https://github.com/argoproj/argo/blob/04c77f490b00ffc05f74a941f1c9ccf76a5bf789/workflow/artifacts/artifacts.go#L25)    to
 Save(stream Stream, outputArtifact *wfv1.Artifact) err

[2020-06-08 12:39] iMoses opened #3191 "Allow workflow to overwrite its template command and args"
# Summary

AFAIK there's no way to use a WorkflowTemplate and have the Workflow override the `command` and/or `args` provided by the template. If I'm wrong then let's shit this discussion to providing docs :)

Seeing as templates using templates is deprecated I can think of no way to achieve this simple task of having the template provide only the defaults while the workflow is still allowed to pr

[2020-06-08 13:53] dcherman opened #3192 "`go get github.com/argoproj/argo` > v.2.5.2"
# Summary

I'm not sure whether or not this is a bug or me doing something wrong, so I'm reporting this as a question first.  Looking at https://pkg.go.dev/github.com/argoproj/argo, there are no versions newer than v2.5.2 listed versions listed.  Trying to force it by using curl against https://sum.golang.org results in invalid version: +incompatible suffix not allowed: module contains a go.mod fi

[2020-06-08 14:09] dcherman opened #3193 "Custom Metric: Race Conditions?"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

Running the example workflow for custom metrics with multiple concurrent workflows results in errors like

[code]

**What you expected to happen**:

Workflow metrics should be successfully collected.

**How to reproduce i

[2020-06-08 14:40] samath117 opened #3194 "Allow cron schedules to be overridden in the CLI"
# Summary

The CLI for `argo cron create` should allow the option to override the default `schedule`.

# Motivation

If I want to change the schedule for a CronWorkflow, I currently have to edit the CronWorkflow file itself. This is annoying if I want to repeatedly change it when my needs change.

# Proposal

A new `-s, --schedule` option in `argo cron create` should allow for editing of the sched

[2020-06-08 15:29] simster7 commented on #3171
By "this feature" do you mean the original proposal (i.e. `depends: "Succeeded > 3"`) or the Argo Variable approach (i.e. `when: "{{steps.expand-task.subTasks.Suceeded}} > 3"`)?

If you mean the Argo Variable approach, could you please share your thoughts on why you think it would overcomplicate it/make it fragile?

Thanks @Ark-kun

[2020-06-08 15:37] simster7 commented on #3193
Was able to reproduce... looking into this

[2020-06-08 15:58] alexec commented on #3194
@simster7 do you want to own?

[2020-06-08 15:58] simster7 commented on #3193
Found the bug, fix incoming

[2020-06-08 15:59] alexec commented on #3192
This does not work because we move to Gomodules as of v2.6.0. Unfortunately, the way that Gomodules works (which is frankly bizarre) requires you either create a branch or a subdirectory for v2. So we cannot fix this. You should be able to use @master or similar.

[2020-06-08 16:00] alexec commented on #3191
@dtaniwaki or @sarabala1979 do you want to own this please?

[2020-06-08 16:01] sarabala1979 commented on #3191
yes, I will update the comments

[2020-06-08 16:03] sarabala1979 commented on #3188
you can have `OnExit` on Entrypoint template in `WorkflowTemplate`.

[2020-06-08 16:05] alexec commented on #3186
@alexmt could you please fix this?

[2020-06-08 16:05] alexec commented on #3184
I'm pretty sure we already have an issue for this problem - which is a problem. I've tried to fix this already - hard to do unfortunatly.

[2020-06-08 16:06] alexec commented on #3185
Would you like to propose what use cases you need? Even submit a PR?

[2020-06-08 16:07] alexec commented on #3168
https://github.com/argoproj/argo/blob/master/docs/fields.md#resourcetemplate ?

[2020-06-08 16:10] hadim commented on #3185
The use case is simply to be able to delete multiple workflows at the same time without deleting them one by one.

It's not really a blocking feature for me but more an enhancement. I'll have a look whenever I have some time.

[2020-06-08 16:14] simster7 commented on #3185
@rbreeze Would you like to own?

[2020-06-08 16:16] rbreeze commented on #3185
Sure!

[2020-06-08 16:46] sarabala1979 commented on #3191
In v2.8
you can use step template to refer to the `Workflowtemplate` and pass the parameters
[code]
WorkflowTemplate:
[code]

Master : (It will be released in v2.9)
you can refer the `Workflow-template1` in as workflow spec using `WorkflowTemplateRef`. you pass the glopal parameters to `WorkflowTemplate`
Workflow:
[code]
WorkflowTemplate:
[code]

[2020-06-08 16:48] rbreeze commented on #3185
@hadim Is an interface like this, with checkboxes on the left, what you had in mind?
<img width="1052" alt="Screen Shot 2020-06-08 at 9 46 42 AM" src="https://user-images.githubusercontent.com/6250584/84057753-f9c1a100-a96c-11ea-82fb-26faeac2456b.png">

[2020-06-08 16:50] hadim commented on #3185
That's exactly the idea :-)

[2020-06-08 17:00] terrytangyuan commented on #3171
@Ark-kun Could you elaborate a bit? IMO this should be something offered and handled by Argo. Putting the logic in DB/storage is not non-trivial in large systems and will likely introduce bugs/overheads.

[2020-06-08 17:45] sarabala1979 commented on #3158
Fixed in #3160

[2020-06-08 17:45] #3158 closed

[2020-06-08 18:10] #3193 closed

[2020-06-08 18:13] hadim commented on #1349
@Ark-kun are you still planning to implement this feature? The lifecycle of the artifacts in Argo could be an issue for us as it involves a lot of copying/downloading/uploading.

[2020-06-08 18:37] hadim commented on #1349
Also, how would you automatically remove the PVC at the end of the workflow? A typical workflow for us would be:

- setup a PVC
- get some data on S3
- step1: use data from S3 and generate new data on PVC
- step2: use data from step1 and generate new data on PVC
- etc...
- upload data generate by the last step on S3
- delete PVC

[2020-06-08 19:57] saitoy1 opened #3197 "Some branches in DAG stop making progress temporarily even though previous steps succeeded"
Checklist:

* [x] I've included the version.
* [x] I've included reproduction steps.
* [x] I've included the workflow YAML.
* [x] I've included the logs.

**What happened**:
I have a DAG workflow whose topology is a balanced tree with height 6, and the tree has a branching factor of 300 from the root node. Once I have kicked off a workflow, I see in the Argo Server UI that some steps stop making p

[2020-06-08 21:06] simster7 commented on #3194
Sure

[2020-06-09 02:03] iMoses commented on #3191
assuming i want to be able to pass multiple unknown cli args to the container's command from a workflow that uses a workflow-template, is that possible?

WorkflowTemplate:
[code]
and i want to use this single template to execute any workflow that has `aws` as the base command but with different args each time depending on the workflow itself (not the template). The above example will not work beca

[2020-06-09 05:00] manpreet1994 commented on #3154
@simster7 @samath117
I used kubernetes secrets to achieve what i was looking for. (https://kubernetes.io/docs/concepts/configuration/secret/)

I created a secret from env file and referred this newly created secret from cronworkflow.

It will be helpful if this can be added in the argo documentation

[2020-06-09 05:21] thundergolfer commented on #1662
There's been a regression of this I think. On Argo `2.6.1`:

[code]

[2020-06-09 14:17] danxmoran commented on #2793
Hey @alexec I finally got some time to dig into this, can I sanity-check my thoughts? I started from the "inside out" to search for the existing validation logic before figuring out how to plumb through the offline/online setting.

It looks like all of the interesting logic is packed into the `ValidateWorkflow` function [here](https://github.com/argoproj/argo/blob/master/workflow/validate/validate

[2020-06-09 15:16] alexec commented on #2793
sounds like a good idea - you might want to go simpler - they just say anything with templates is ok

See #3075

[2020-06-09 15:59] sarabala1979 commented on #3191
I tried below example with `awscli` somewhat it didn't work might `aws cli` parsing args might be different. But I tried with `Linux` it works.  try with your container and let me know

[code]

workflow
[code]

you can pass dynamically args from cli also

[code]

[2020-06-09 18:59] alexec commented on #2687
It would be great if someone wants to submit a PR with the docs.

[2020-06-09 19:28] alexec commented on #2367
Can we close this?

[2020-06-09 20:11] hadim commented on #2522
Got the same issue and @czardien manifest solve it. Thank you!

[2020-06-09 20:25] lyonsaj commented on #2199
Any update on this? This would be very beneficial. Currently, if I am displaying metrics on workflows running/ran I have to add a custom query for each individual workflow name. It would be very nice to be able to aggregate by name/template.

[2020-06-09 20:33] max-sixty opened #3201 "Allow setting defaults for `template` in workflows"
[Edit — renamed to "Allow setting defaults for 'template' in workflows", and https://github.com/argoproj/argo-workflows/issues/6419 opened for `container`]

# Summary

Allow setting defaults for the `container` field in workflows

# Motivation

ref [Slack discussion](https://argoproj.slack.com/archives/C8J6SGN12/p1591723434019300)

Currently if we want to set a default image pull policy for contai

[2020-06-09 20:34] simster7 commented on #2199
Metrics have been refactored and now operate in a significantly different way. Please take a look at https://github.com/argoproj/argo/blob/master/docs/metrics.md

[2020-06-09 20:34] #2199 closed

[2020-06-09 20:48] #2975 closed

[2020-06-09 20:48] #3096 closed

[2020-06-09 20:48] #3104 closed

[2020-06-09 20:54] lyonsaj commented on #2199
@simster7 We are currently using some custom metrics.. I still have been unable to find a way to simply pull a workflow count. Or error count by workflow name without having to specifically state ```count(argo_workflow_info{name=~"flippity.*"})```. Is there a better way to accomplish this?

[2020-06-09 20:56] simster7 commented on #2199
What version are you running?

[2020-06-09 20:58] lyonsaj commented on #2199
2.7.6

[2020-06-09 21:02] simster7 commented on #2199
`argo_workflow_info` is now deprecated. If you want a workflow count you should deploy a custom metric. Something like

[code]

[2020-06-09 21:02] lyonsaj commented on #2199
oof. Alright. Didn't realize it was deprecated. Thanks!

[2020-06-09 21:04] simster7 commented on #2199
Note that for the Workflow status you should use `"{{workflow.status}}"` and not `"{{status}}"`. Edited my original comment to reflect this

[2020-06-09 21:20] #3194 closed

[2020-06-09 21:29] foobarbecue commented on #3201
This is a specific example of a more general problem -- the YAML way of doing things leads to lots of repetition. It would be nice to have a generic system for setting defaults, or extending templates. Currently I'm using yaml anchors and aliases as a workaround.

[2020-06-09 21:49] max-sixty commented on #3201
Yes, kustomize should be good at that. I've used it elsewhere successfully, I may give that a try for argo.

[2020-06-09 22:49] iMoses commented on #3191
it can only work if your cli is accepting a single string arg which contains multiple instructions in it, such as `sh -c`. that's exactly my problem, it doesn't seem possible to get to pass multiple (a list of) args and this feature will help us greatly to organize our workflows.

[2020-06-09 23:14] vladlosev commented on #1813
Nice work implementing this!

 have a question - is it possible to have support for reading the client ID from a k8s secret,  just like client secret? This will make it easier to provide that value externally, via facilities like [external secrets](https://github.com/godaddy/kubernetes-external-secrets), which in turn makes rotating secrets much easier. If that is acceptable I will be happy to PR

[2020-06-09 23:22] sarabala1979 commented on #3191
Thanks for your clarification. Here solution which will work for your scenario.
[code]

Workflow:
[code]

[2020-06-10 00:03] max-sixty opened #3202 "Fields doc has a link to "Parallel steps", but no destination"
Checklist:

 * [x] I've included reproduction steps.

**What happened**:

Under "Template" there is this link:

<img width="899" alt="image" src="https://user-images.githubusercontent.com/5635139/84212502-e7ca2600-aa72-11ea-97a6-e7a79d852184.png">

...which links to https://github.com/argoproj/argo/blob/master/docs/fields.md#parallelsteps, which doesn't seem to exist

(as ever intended as helpful

[2020-06-10 08:02] iMoses commented on #3191
i see.. that could do the trick! i'll test it and report back..
btw, i'll happily help improve the docs if you simply point me in the right direction. argo is a great tools with amazing potential for grow, but the docs are very scattered the confusing and it's hard to find all these very cool and helpful features :)

[2020-06-10 14:39] carlosjgp opened #3203 "Links to examples on the documentation are broken"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

I checked the docs but I can't see the examples

**What you expected to happen**:

Link to examples work

**How to reproduce it (as minimally and precisely as possible)**:
Go to
https://argoproj.github.io/docs/argo/fields

[2020-06-10 15:50] #3093 closed

[2020-06-10 22:25] alexec opened #3208 "Workflows do not disappear from workflow list in UI when deleted"
On master.

Repro:

Open UI at workflow list.
In new window, run a workflow, it appears it the list.
Delete the workflow - it does not automatically delete.

[2020-06-11 05:04] simster7 opened #3210 "Improve expected error reporting in the UI"
Such as “workflow does not exist”

[2020-06-11 06:08] thundergolfer commented on #2420
I agree with this. Just upgraded to `2.6.1` from `2.4.something` and think it's not right that `--chunk-size` has changed behaviour to truncate the list.

Is this issue changing things such that you have to use `--continue` to get it to return the full list? I would've thought that `--chunk-size` should keep it's old behaviour, or has `kubectl` itself changed the behaviour of its `--chunk-size` op

[2020-06-11 06:33] fabio-rigato opened #3211 "retryStrategy on GKE preemptive node does't work"
Hi guys,

this issue is still active.

argo version: 2.8.1 on GKE

In particular, if a pod failed is marked with a red /!\ (pod deleted) and the workflow is running forever.

this is my retry strategy:

**retryStrategy:
      limit: 4
      retryPolicy: "Always"
      backoff:
        duration: "12s"
        factor: 5
        maxDuration: "200m"**

[2020-06-11 08:44] erhhung opened #3212 "Allow setting workflow parameter values using ConfigMap"
# Summary

There is currently no way to set a workflow parameter value (for both global `spec.arguments.parameters` and `steps[].arguments.parameters`) using the `valueFrom.configMapKeyRef` construct in the same way `env` variables can be defined.

It would be nice to be able to use a value from a ConfigMap as the default and still allow it to be overridden using the CLI `-p` option.

# Motivation

[2020-06-11 09:36] toninis commented on #3113
@simster7  Sorry for the late response .
I checked with `serviceAccountName` and it worked this is the exact opposite behavior from [this](https://github.com/argoproj/argo/issues/1973#issuecomment-574675150) comment  .

Either way you may close the issue .
Should we update somewhere the [documentation](https://github.com/argoproj/argo/blob/master/examples/README.md) by adding a section about the s

[2020-06-11 12:42] tincopper commented on #3070
Thank you for your answer!

[2020-06-11 12:42] #3070 closed

[2020-06-11 13:26] TrevorNodeJS opened #3213 "public Api could create invalid workflow which has message Pod "" is invalid: spec.containers[1].image: Required value"
Checklist:

 * [X] I've included the version.
 * [X] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
kubectl -n argo port-forward deployment/argo-server 2746:2746

POST http://localhost:2746/api/v1/workflows/argo-performan

[2020-06-11 14:20] brendanstennett opened #3214 "Pod not found when resubmit --memoized"
**What happened**:

Using the `resubmit --memoized` example, the resubmitted workflow fails with a "pod deleted" message in the place of the original pod that failed. See "workflow results" below.

**What you expected to happen**:

I expected that pod to be retried.

**How to reproduce it (as minimally and precisely as possible)**:

Using the example of https://github.com/argoproj/argo/blob/master

[2020-06-11 15:45] simster7 commented on #3211
Hi @fabio-rigato, it seems that we accidentally didn't include the fix for this (https://github.com/argoproj/argo/pull/2976) in `v2.8.1`.

The fix is present on `v2.9.0-rc1`, but that is a pre-release and is not recommended for production systems yet. I will look into releasing a `v2.8.2` with the fix soon.

[2020-06-11 15:56] simster7 commented on #3212
Great suggestion. I'll look into this

[2020-06-11 15:57] simster7 commented on #2905
After a discussion with the team, we decided that we don't want to go down this slippery slope for the reasons outlined above, so I'll be closing this issue.

Feel free to add your thoughts and continue the discussion if you have new ideas.

[2020-06-11 15:57] #2905 closed

[2020-06-11 16:11] simster7 commented on #3213
Should be a quick fix, I'll get to it. Thanks for this

[2020-06-11 16:37] alexec commented on #3113
@toninis would you be interested in doing this?

[2020-06-11 17:25] simster7 commented on #3212
Looked into this. Problem with the suggestion is that `valueFrom` is used only to retrieve values for _output_ parameters. Arguments may only use `parameters.value` to specify the value.

Good news is that you can use a `resource` template to get the value from your `ConfigMap` today:

[code]

[2020-06-11 17:26] #3213 closed

[2020-06-11 18:28] bryanlarsen opened #3217 "Operation cannot be fulfilled on resourcequotas "gke-resource-quotas": the object has been modified; please apply your changes to the latest version and try again"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

Argo workflows failed with the error "Operation cannot be fulfilled on resourcequotas \"gke-resource-quotas\": the object has been modified; please apply your changes to the latest version and try again"

**What you expec

[2020-06-11 20:29] mecampbellsoup commented on #1163
Hi @alexmt @leberknecht I'm trying to "patch" a running Argo workflow, to stop or terminate it (connected to a UI on our website).

When we started our application, Argo server hadn't been released, so we wrote our client to interact with k8s, which has worked fine.

However, now I'm struggling to figure out how to issue an "Argo, stop that workflow" command as a k8s patch, e.g.:

[code]
However a

[2020-06-11 20:32] mecampbellsoup opened #3221 "How to stop/terminate a workflow via HTTP?"
# Summary

Hello guys -

I am trying to use the k8s HTTP API to stop an Argo workflow.

Our project began prior to the existence of Argo server and so I'd rather just port the semantics of "Argo, stop this workflow" into a "Kubernetes, patch this workflow resource so as to terminate/stop it". Hopefully this distinction I'm making makes sense to you.

I'm struggling to figure out how to issue an "A

[2020-06-11 20:33] mecampbellsoup commented on #3221
I found the Argo "terminate a workflow" patch definition here: https://github.com/argoproj/argo/blob/591f649a306edf826b667d0069ee04cb345dcd26/workflow/util/util.go#L722-L726

[2020-06-11 20:38] sarabala1979 opened #3222 "Strategy based Archive the workflows"
# Summary
Current Workflow Archive feature is controller level enable and disable for all workflow executing on the controller.  Here a few proposals

1. Having label/annotation in the workflow which will indicate defer the Archive for this workflow
2. Having Archive Strategy in the controller configuration
[code]

[2020-06-11 20:39] simster7 commented on #3221
This worked for me:

[code]

[2020-06-11 20:43] mecampbellsoup commented on #3221
Wow, you are the MAN @simster7 - thank you!

[2020-06-11 20:53] simster7 commented on #3221
Glad to help

[2020-06-11 20:53] #3221 closed

[2020-06-11 21:16] hiu-phail commented on #2247
Hey @alexec, I'd love to get rid of my own patches on argo and test the impact of the two flags on my workflow =). Could you provide some rationale for how I should tune the parameters for that use case?

[2020-06-11 21:16] #2247 closed

[2020-06-11 21:16] #2908 closed

[2020-06-11 22:23] iMoses commented on #3191
@sarabala1979 i did as you suggested but i keep getting these:
[code]

[2020-06-11 22:32] iMoses commented on #3191
all of the examples show how you can patch a single string value. are you sure it should play nicely with an array? because i can't seem to get past this issue.

[2020-06-11 23:41] fabio-rigato commented on #3211
Hi @simster7 thanks a lot for your fast reply.
Happy to hear that mate!
I hope you a great day!
All the best
Fabio

[2020-06-12 00:23] #3208 closed

[2020-06-12 02:43] dtaniwaki commented on #1391
I got a project which requires this feature.

@alexcapras
What do you think about this feature? If it's worth trying, I will implement it.

[2020-06-12 06:12] mark9white commented on #1391
@dtaniwaki see #3133

[2020-06-12 11:58] dtaniwaki commented on #1391
Thank you for implementing the feature!

[2020-06-12 12:23] mark9white commented on #1391
No problem! See also: https://github.com/argoproj/argo/blob/master/docs/async-pattern.md

[2020-06-12 12:25] toninis commented on #3113
@alexec for sure 🚀 👍

[2020-06-12 12:59] ramanNarasimhan77 opened #3224 "Using files from a git repo to generate step parameters"
# Summary

How can I use argo to parse a properties file (text/json) from a git repo to set input parameters of a subsequent step? I am new to argo, and have browsed through the examples available in the argo documentation and have not been able to figure this out.

# Motivation

I am working on a generic CI pipeline which would help me to generate docker images from git repos using kaniko.

So th

[2020-06-12 13:42] mac9416 commented on #3222
What does _defer_ mean in this context? Does it mean the workflow will be archived not-yet but eventually? If eventually, how is the exact archival time determined?

[2020-06-12 14:39] leoluz commented on #2905
yeah.. I understand your reasoning.

This could to be implemented if we had some sort of generic template that would define the contract of inputs and outputs. This way it could be validated statically but it would also require additional runtime validation.

This is one possible solution but not sure about the complexity level it would introduce in the codebase.

[2020-06-12 15:05] sarabala1979 commented on #3222
The current Archive feature will archive the workflow once it completed. you can configure the retention duration in configuration how long you want to keep the archived workflow in DB. But It is a global flag to enable archive or disable for all workflows.  This enhancement gives flexibility to the user to chose which workflow needs to be archived based on policy and label.

[2020-06-12 15:26] iMoses commented on #3191
thanks, it did the trick..
i assume it isn't documented anywhere other then in examples.. do you want me to help with the docs? is there any work being done on that?

[2020-06-12 16:02] sarabala1979 commented on #3191
Thanks for confirming. Please go-ahead to create PR for this.

[2020-06-12 20:09] hadim commented on #2461
I have the same issue:

`artifact-repositories-configmap.yaml`
[code]

`wk.yaml`
[code]

[code]

Not if I add `bucket: my_cluster-dev-data` to my wk spec, it works.

[2020-06-12 20:56] rbreeze opened #3225 "fix(cli): argo --help does not display @latest alias introduced in #3179"
# Summary

`argo --help` should reference the new @latest alias.

# Motivation

# Proposal

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-06-12 21:36] rbreeze opened #3226 "bug(ui): Clicking a label in workflow drawer does not filter workflows by that label"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
Clicking a label in the drawer does not filter workflows by that label as it should, as described in #2782. This also produces an Uncaught Type Error.

**What you expected to happen**:
Should filter workflows by the label

[2020-06-12 22:08] zachaller opened #3227 "WorkflowTemplates not respecting ttlStrategy"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
Create a workflow template with a ttlStrategy and call the workflow using workflowTemplateRef the workflow did not get cleaned up when it ttl'ed
**What you expected to happen**:
I wanted the workflow to get cleaned up acco

[2020-06-13 14:45] ramanNarasimhan77 opened #3229 "[CLI] --watch option does not work when using --instanceid & unable to list workflows"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
I have done the following to setup argo workflow with instanceid:

a) Setup a serviceaccount "workflow", rbac Role and Rolebinding

b) Installed argo using the helm chart from https://github.com/argoproj/argo-helm/tree/mas

[2020-06-13 18:16] alexec commented on #3229
Are you testing out Argo? Can I recommend you start with the quick start manifests? (Look in `/manifests`)

[2020-06-13 18:17] alexec commented on #3229
I also note you're using an old version of the UI. Pre v2.8. This is probably a bug in the Helm chart you may wish to raise with that team.

[2020-06-15 05:12] youngsofun opened #3231 "Support remote manifest in the ResourceTemplate."
# Summary

Support an option to fetch the manifest in ResourceTemplate from a URL.

# Motivation

1. I  want to generalize [examples/k8s-waitwf.yaml](https://github.com/argoproj/argo/blob/master/examples/k8s-wait-wf.yaml#L23) into a WorkflowTemplates, and just pass it a URL of a manifest in the workflow.
2. Some manifest, like sparkapp in SparkOperator, is too complicated to be embedded in a workf

[2020-06-15 06:13] prateekkhera opened #3232 "New Release (v2.9.0-rc1) erased old workflow metrics"
Checklist:

 [x] I've included the version.
 [x] I've included reproduction steps.

**What happened**:

installing v2.9.0-rc1 in anticipation of using new metrics from this: [PR#3144](https://github.com/argoproj/argo/pull/3144) removed the old metrics. However, I can see the new metrics

**What you expected to happen**:
Old metrics (argo_workflow_info, argo_workflow_status_phase etc) persisted alo

[2020-06-15 09:12] ramanNarasimhan77 commented on #3229
Hello,
I have tried out the manifests before. My team is evaluating argoproj components (argo for workflow, argo events for triggering them and argocd for deployments)

I am trying to automate argo helm installation using argocd and was trying to install the helm chart manually to figure out what values might need to be overridden

[2020-06-15 09:13] ramanNarasimhan77 commented on #3229
I tried the latest images too, and run into the same issue. I will raise an issue in the argo helm repo.

[2020-06-15 09:16] ramanNarasimhan77 commented on #3229
@alexec
One followup question, argo list is not working when I use -s with <ingress-host>:<default ingress port 80>

Why does this fail, do I need to enable TLS?

[2020-06-15 09:20] ramanNarasimhan77 commented on #3224
One solution I figured out is to use output parameters.

A script step could be added that reads the config file and generates one file per output parameter and exposes the params

Is there any other better solution?

[2020-06-15 14:33] simster7 commented on #3232
We have intentionally removed the old metrics, as they are not proper Prometheus metrics and are susceptible to issues such as cardinality explosion.

Here is an example of how you would define a workflow_info metric with custom metrics:

https://github.com/argoproj/argo/issues/2199#issuecomment-641569086

You cal also make use of the workflow list API endpoint or query the workflow archive.

[2020-06-15 14:35] simster7 commented on #3231
You could potentially have a Workflow step that downloads the manifest, outputs it, and passes it to the resource template as an Argo variable?

[2020-06-15 14:37] rmgogogo commented on #1349
Any reason why not directly read/write S3?
Is it because the libary doesn't support S3 interface?

[2020-06-15 14:53] hadim commented on #1349
We don't want to upload/download our data at each step for performance purposes. Using PVC solves this. We only use artifacts for the first and last steps.

[2020-06-15 15:00] haq204 commented on #1262
Are there any updates or a timeline for this? It would be really nice to be able to create workflows and templates in jsonnet.

If bandwidth is low, may I offer my help in pushing this forward? I was originally planning to create a library for workflows internally anyway.

In terms of approach there are few questions:
1. Should we continue to use ksonnet-lib? I know ksonnet the cli tool is depreca

[2020-06-15 16:42] #3226 closed

[2020-06-15 17:25] alexec commented on #3231
This is kind of GitOpts - maybe Argo CD could help?

[2020-06-15 23:46] fabio-rigato commented on #3211
Hey @simster7 do you have any ETA for v2.8.2 release? because this issue is affecting us in production and we need to upgrade asap.
Thanks for your effort.
Cheers.
Fabio

[2020-06-15 23:56] simster7 commented on #3211
I’ll try to get a release out this week

[2020-06-15 23:57] fabio-rigato commented on #3211
thanks for that @simster7

[2020-06-16 01:09] Ark-kun commented on #1349
I've implemented this feature back in October 2019 as a separate script which can transform a subset of DAG-based workflows:

I wonder whether we need to add it to the Argo controller itself (as it can just be used as a preprocessor). WDYT?

It could be possible to do using exit handler and `resource` templates.

My main scenario requires the volume to persist between restarts. This allows impleme

[2020-06-16 01:18] youngsofun commented on #3231
@simster7   Thanks, It surely meets our requirements.  But current implementation is saving manifest to  "/tmp/manifest.yaml" and calling `kubectl ... -o json`. And kubectl naturally supports URL.  So I took it for granted that ResourceTemplate should accept URL too.

[2020-06-16 01:21] youngsofun commented on #3231
@alexec Thanks, I am new to Argo, I will look into argo-cd.

[2020-06-16 09:07] sahil-sawhney opened #3235 "Provide a folder from local system as an input artifact to a template."
**Summary**

Is there a provision in Argo workflow, using which we can provide a folder from our local file system as an input artifact to a template?
Like we have s3, Http, git as some of the hardwired artifacts. I know about raw, but it requires an inline file, what I want is to provide a path to a folder from my local filesystem.

**Motivation**
This would be very helpful as I would be able to

[2020-06-16 12:12] hadim opened #3236 "[UI] Better YAML editor"
The current YAML editor is simple HTML text area. It can be convenient for certain people to launch workflows from the UI. Maybe a more feature-rich YAML editor could be useful.

A one I found powerful is https://microsoft.github.io/monaco-editor/index.html

Another very long-time popular one is https://codemirror.net/

What do you think?

[2020-06-16 12:19] hadim opened #3237 "[UI] Hide not authorized buttons in the menu"
According to the k8s role attached to a token, you might have access to a certain section in the UI menu. When clicking on it you get a HTTP 403 error:

[code]

It would be nice to actually hide those buttons so users cannot click on it.

That being said I am not sure how easy is to check for token associated permissions without making a call for each of the button in the menu. So maybe it will im

[2020-06-16 14:12] simster7 commented on #3236
One step ahead of you :) https://github.com/argoproj/argo/pull/3075

[2020-06-16 14:12] simster7 commented on #3237
Maybe this could be a job for the `/info` endpoint? @alexec

[2020-06-16 14:20] logdnalf commented on #2298
What has this been closed? The issue is not within the container itself, I believe, but a time-out in the Kubernetes API causing the step to be flagged as an error, which is incorrect.

[2020-06-16 14:48] simster7 commented on #3235
By "local filesystem" do you mean the machine in which K8s is running on? If so, no... this seems like a bit of an anti-pattern.

What you can definitely do is store data on K8s objects, such as a `ConfigMap` or a `Secret`, then use Argo to retrieve them. These objects would not have to leave the K8s cluster.

Take a look at this example: https://github.com/argoproj/argo/issues/3212#issuecomment-6

[2020-06-16 15:21] simster7 commented on #3067
Glad you found a workaround. We understand that it increases the complexity, but we would rather keep the code simpler unless the convenience is worth it. Less bugs that way :)

[2020-06-16 15:21] #3067 closed

[2020-06-16 15:22] #2852 closed

[2020-06-16 15:23] simster7 commented on #2794
Closed in #2794

[2020-06-16 15:23] #2794 closed

[2020-06-16 15:23] simster7 commented on #2795
Closed in #2950

[2020-06-16 15:23] #2795 closed

[2020-06-16 15:24] simster7 commented on #2777
Is this now solved with `workflowTempalteRef`? Closing for now, but if not feel free to reopen

[2020-06-16 15:24] #2777 closed

[2020-06-16 15:32] simster7 commented on #2742
Closed in https://github.com/argoproj/argo/pull/3064. If not feel free to reopen

[2020-06-16 15:32] #2742 closed

[2020-06-16 16:19] jonasdebeukelaer commented on #2602
I'd like to +1 that @blkperl, just spent a lot of time trying to figure out how to get the argo downloaded properly without a bunch of errors popping up (it kept fetching the 2.5 incompatible releases)

[2020-06-16 17:50] sahil-sawhney commented on #3235
Hey, @simster7 by local filesystem I mean my laptops file system that has kubectl configured and has the Argo CLI from which I am triggering the command to submit a workflow and not node on which k8 is running.

[2020-06-16 17:59] alexec commented on #3237
probably a new endpoint would be needed

[2020-06-16 20:31] simster7 commented on #3235
Ah I see. In that case you should be able to do `argo submit <wf_name> --parameter-file <path>`. Take a look at the example in https://github.com/argoproj/argo/blob/master/examples/README.md#parameters

[2020-06-16 20:48] sahil-sawhney commented on #3235
Hey @simster7 the --parametr-file will just provide an input yaml. So what I am looking for is something that makes a local folder containing let's say my source code available to workflow. So instead of using git as hardwired artifact to fetch my sorce code from GitHub, I can provide a path on my laptop to my source code folder.

[2020-06-16 21:02] #3222 closed

[2020-06-17 00:38] hadim opened #3243 "Restrict client mode access to only specific service account"
Is that possible to restrict access when using the `client` auth mode to only a specific Bearer token that is associated to a specific service account?

Maybe this is already possible and I missed it?

[2020-06-17 01:21] bappr commented on #1405
@simster7 I think this PR only answers partially to the need.
IMO, terminating a workflow is not a failure/success. Therefore, we should be able to run different steps than the ones in `onExit`.

Let me give you my example: I am using Argo for my CICD. I'd like to give the user the possibility to use an `Abort` button. But when using this button, the status should not be `Failed` but `Aborted`.

D

[2020-06-17 05:30] ramanNarasimhan77 commented on #3229
I have installed argo stable using the manifests provided.

[code]

I edited the workflow controller config map and added the following lines

instanceid: my-argo

[2020-06-17 11:37] jyotishp opened #3244 "`activeDeadlineSeconds` is not considered when using `retryStrategy`"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
When using `retryStrategy` with `activeDeadlineSeconds` the pod that got terminated as a result of timeout gets retried.

**What you expected to happen**:
The pod should not be retried when the termination is due to timeou

[2020-06-17 11:37] hadim commented on #3128
Maybe I did something wrong but I can't use the `--latest` flag. I downloaded 2.9.0-rc2 and checked `argo version` returns the correct version. But none of these commands work:

- `argo --latest get`
- `argo get --latest`
- `argo --latest logs`
- `argo logs --latest`

[2020-06-17 14:07] jdu commented on #3012
Is there a workaround for this currently until a new stable release is out? I'm hitting this problem pretty hard right now with `.json.gz` files.

[2020-06-17 14:21] youngjoon-lee commented on #3012
@jdu I recommend to generate output artifacts without the following option.
[code]
Then, argo will tar/untar it automatically, even though the artifact consists of only one file.

[2020-06-17 14:24] jdu commented on #3012
@youngjoon-lee Ah yes, the issue is the artifact is an input, and the input is coming from an S3 bucket where argo wasn't the one that populated the S3 bucket.

WIll have to rework things a bit and pull the file inside of the task so it doesn't get untarred for now.

Thanks.

[2020-06-17 14:42] cyclingwithelephants commented on #2343
I have been looking at an example very similar to the above which currently exists within the argo repository  and it talks about authenticating to a private git repository.

https://github.com/argoproj/argo/blob/master/examples/input-artifact-git.yaml

Is this really not possible? how else are we supposed to do CI on a private repository? If it's not possible why does this example exist?

[2020-06-17 15:04] simster7 commented on #3244
Hmmm... Could you elaborate more on why you think so? Maybe include your use case?

I would actually argue the opposite. `activeDeadlineSeconds` is there to provide a maximum limit for a task to complete, if a pod doesn't complete its task, then it failed and must be retried.

[2020-06-17 15:08] norbjd commented on #1633
Just faced the same issue when outputting comma-separated values. I found this as a workaround :

`when: "someValue in (dummy,{{workflow.parameters.transformations}})"`

When `{{workflow.parameters.transformations}}` is a single value, adding `dummy,` before tells Argo that the value is a list.

I'm not particularly proud of this, being more a workaround than a real solution, but can't find a way

[2020-06-17 15:15] simster7 commented on #3128
It's `@latest`:

* `argo get @latest`
* `argo logs @latest`

etc.

[2020-06-17 15:15] simster7 commented on #3128
Closed in #3179

[2020-06-17 15:15] #3128 closed

[2020-06-17 15:15] zachaller commented on #3227
Confirmed this is fixed in rc2

[2020-06-17 15:15] #3227 closed

[2020-06-17 15:16] zachaller commented on #3227
Thanks for the quick fix

[2020-06-17 15:21] cyclingwithelephants opened #3246 "SSH auth not working with git"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
following the example at https://github.com/argoproj/argo/blob/master/examples/input-artifact-git.yaml
I am unable to make this workflow pull my git repository.
I executed the workflow using `argo submit -n argo --watch <p

[2020-06-17 15:26] jyotishp commented on #3244
Say, I have a low priority task that should run on preemptive/spot instances. I want to use the `retryStrategy` to retry the preempted tasks. I generally expect this task to not take more than *x* hours. If the task is not completed in *x* hours, I want to mark it as failed and do not want to spend any more compute resources on it.

I tried doing something like this as well.

[code]

This results

[2020-06-17 15:47] alexec commented on #3246
Can you confirm if this was working in older version please?

[2020-06-17 15:47] alexec commented on #2343
Maybe related: #3246

[2020-06-17 15:58] cyclingwithelephants commented on #3246
this is my first time using argo, I've not used an older version before

[2020-06-17 15:59] cyclingwithelephants commented on #2343
I'm the same person, my use case is slightly different and shows it being supported in the example I provided so I opened a new ticket :)

[2020-06-17 16:10] simster7 commented on #765
Closed with https://github.com/argoproj/argo/blob/4db1c4c8495d0b8e13c718207175273fe98555a2/workflow/executor/executor.go#L761-L766

[2020-06-17 16:10] #765 closed

[2020-06-17 16:26] alexec commented on #3237
Maybe a forbidden error should not stop the whole UI working.

[2020-06-17 16:30] simster7 commented on #3244
How about `backoff.maxDuration`?

https://github.com/argoproj/argo/blob/master/examples/retry-backoff.yaml

[2020-06-17 16:31] simster7 commented on #3244
`activeDeadlineSeconds` is meant to apply to a single instance. `backoff.maxDuration` applies to the `retryStrategy`. You will need to have both `activeDeadlineSeconds` (to make sure that a long-running pod is stopped) and `backoff.maxDuration` (to make sure another try is not started) set to the same value.

[2020-06-17 16:33] alexec commented on #3246
"ssh: no key found" seems to indicate that no SSH private key was specified, interestingly the field must exist - so presumably the contents of the field (and therefore the secret) in not a private key.

Can you try creating using `stringData` and the YAML pipe operator for multi-line sting?:

[code]

[2020-06-17 16:54] cyclingwithelephants commented on #3246
It was in this moment I realised I gave argo the public key. This one's completely on me. Thanks for responding so quickly! :)

[2020-06-17 17:07] #3246 closed

[2020-06-17 18:47] jyotishp commented on #3244
There is this issue now,

Workflow yaml:
[code]

Results in
[code]

The second retry is not expected.

I tried decreasing `backoff.maxDuration` by a few seconds, but the same keeps happening. Am I doing something wrong? According [this](https://github.com/argoproj/argo/blob/master/workflow/controller/operator.go#L659), it's not supposed to work this way right?

[2020-06-17 22:00] #3225 closed

[2020-06-17 23:16] jessesuen commented on #1054
Duping this to https://github.com/argoproj/argo/issues/944, which we'll be starting work on. Please send any 👍  to that issue.

[2020-06-17 23:16] #1054 closed

[2020-06-17 23:27] Kampe commented on #1256
I see this same issue trying to pass a single file between my workflows, is the volume mount the solution?

[2020-06-18 11:20] lueenavarro opened #3250 "Is it possible to test substring in conditionals."
For example the output of one step are the following. "JOB1, JOB2, JOB3, JOB5"

How can i use conditionals to check if "JOB4" is in the output of that step or not. I could only see == by reading the documents.

If test for substring is not available, what would be a great alternative?

[2020-06-18 12:17] yauhen-sobaleu commented on #3250
Hi, it is possible
https://github.com/argoproj/argo/issues/860#issuecomment-410987112

[2020-06-18 13:21] TTRh commented on #3170
@sarabala1979 do i miss something or issue is still valid ?  Is the workflow snippet works for you ?

[2020-06-18 13:38] #3170 closed

[2020-06-18 14:02] dcherman commented on #3192
Should we re-label this with a v3.0 tag since you mentioned that it would be considered during the meeting yesterday?

[2020-06-18 15:53] soumochak83 opened #3252 "Unable to use artifact passing using k8sapi or pns executor in OpenShift 3.11"
Platform details - OpenShift version: 3.11, Kubernetes version: v1.11.0 - running on IBM Cloud
Issue: Tried to run the artifact passing experiments from Argo using k8sapi or pns executor, it fails giving different error. We configured minio as S3 repository and trying to use that for artifact passing.

**Error when using k8sapi** - _"failed to save outputs: CopyFile() is not implemented in the k8s

[2020-06-18 17:26] alexec commented on #3252
@jessesuen the k8s executor does not support CopyFiles. Could it in the future?

[2020-06-18 19:02] alexec commented on #888
![sensors](https://user-images.githubusercontent.com/1142830/85061352-8cc3bd80-b15b-11ea-91e5-367add173b48.png)

[2020-06-18 19:03] alexec commented on #888
So technical barriers are removed - the question now becomes - what use cases are we supporting?

[2020-06-18 19:43] jessesuen commented on #944
Had some discussion about this. This is how we propose this feature will will work:

[code]

[2020-06-18 19:52] jessesuen commented on #944
Future improvements would include:

1. syntax to allow this to happen for all steps of the workflow (i.e. spec.memoize)
2. ability to control what inputs can control the cache key (e.g. allowing only some of the N inputs to affect the cache key, and ignore others)
3. ability to use other stores as a cache (other than a ConfigMap), e.g. redis

[2020-06-18 20:54] mtiller opened #3254 "Optimizing Git Artifact Handling"
# Summary

I'm a very enthusiastic fan of `argo`.  It takes care of so many useful things.  However, I'm wondering if there has been any discussion around optimizing the handling of `git` artifacts?  I looked through the issues (open and closed) and didn't really see any mention specifically how `argo` could cache `git` repos in the cluster to improve performance.

# Motivation

When using `git` a

[2020-06-18 21:04] alexec commented on #3254
To improve performance do two things:

1. Shallow clone using `depth: 1`.
2. Clone once to a volume [as per the the CI example](https://github.com/argoproj/argo/blob/master/examples/ci.yaml).

[2020-06-18 21:14] mtiller commented on #3254
Shallow clone does help.  But we have use cases where we aren't necessarily working on a branch tip.  We'd like the flexibility to clone an arbitrary commit (may not be a branch or even tagged) and [that isn't really possible](https://stackoverflow.com/questions/31278902/how-to-shallow-clone-a-specific-commit-with-depth-1).

As for the CI case, it looks to me from that example that it is creating

[2020-06-18 21:58] simster7 opened #3255 "Namespace-specific configurations"
# Summary

Allow a way to set certain controller configurations to only act in certain namespaces.

# Motivation

A user may be running Argo on different namespaces with different requirements. The ability to specify different options per namespace would be helpful.

# Proposal

On the config map:

[code]

The config maps would be then strategically merged.
---

**Message from the maintainers**:

[2020-06-18 22:30] alexec commented on #3255
Would the solution to this be run a namespace controller with instance ID?

[2020-06-18 22:47] alexec commented on #3254
You're correct. We could expose the `git clone --depth 1 -b branch ...` - but this does not work for tags or hashes.
Could you run a Git proxy in your cluster?

[2020-06-19 02:17] psschwei opened #3257 "1 min delay in showing steps in UI (exposed via Ingress)"
Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

Ran a sample workflow (`whalesay`) through the UI, which has been exposed through an ingress. Initially, the UI shows this:

![image](https://user-images.githubusercontent.com/44698588/85088828-00db8100-b1af-11ea-89b9-efc

[2020-06-19 02:28] mtiller commented on #3254
I'm not sure what you mean by a "git proxy".  If I search for "git proxy", all I get are articles about running git behind an http proxy.  Is there a specific tool you were thinking of here, because I've been unable to find something that does what I describe "out of the box".

[2020-06-19 02:43] mtiller commented on #3254
I did come across [this](https://stackoverflow.com/questions/32194022/local-cache-for-a-github-repository).  I'll look into it more closely tomorrow.

[2020-06-19 03:55] openbioinfo commented on #873
+1

[2020-06-19 07:34] lkeijser commented on #888
Quickly viewing the logs of the various pods in the argo-events namespace would come in handy. I would like to give some people access to them, without requiring them to log into a shell and operate k8s commands.

[2020-06-19 11:18] ajitspendse commented on #3188
Can you please point me to the documentation for the same? I dug around, but could not find corresponding documentation or an example using this.

Also, having a generic functionality like `workflowTemplateRef` for onExit will not make it mandatory for users to use pre-defined WorkflowTemplate and would allow to use a single configuration - as part of `workflowDefaults` -  where a common exit hand

[2020-06-19 16:19] sarabala1979 opened #3259 "WorklowTemplate OnExit didn't work on WorkflowTemplateRef"
**What happened**:
OnExit template is not found in `WorkflowTemplateRef`
[code]

**What you expected to happen**:
OnExit template should be executed

[2020-06-19 16:35] alexec commented on #3257
This is a UI issue, so probably a network issue. We'd need to see the network tab to understand more.

However, I'm sure we've had people experience the issue in the past due to Nginx configuration. Maybe check that?

[2020-06-19 16:37] alexec commented on #3254
https://github.com/google/goblet?

[2020-06-19 20:08] alexec opened #3260 "Do not log users errors at error level"
* [x] `Failed to submit Workflow: template name 'k8s-orchestrate' undefined" n...`
* [x] Also `stop-pipeline-zw42w error in entry template execution:`
* [x] And `panic: node  uninitialized`
* [x] And `error in exit template execution: Max parallelism reached`

[2020-06-19 20:09] alexec commented on #3260
And `panic: node  uninitialized`

[2020-06-19 20:11] alexec commented on #3260
And `error in exit template execution: Max parallelism reached`

[2020-06-19 20:22] alexec commented on #3260
panic is

[code]

when can `nodeName` be empty?

[2020-06-19 21:30] collinarnett commented on #2298
@rmgpinto How did you resolve your issue?

[2020-06-19 21:38] rmgpinto commented on #2298
Yes, I forgot to leave the solution. The pod needs needs the IAM permission to write to S3.

[2020-06-20 00:18] sarabala1979 commented on #3188
I found bug in the Workflowtemplate Exithandler. I fixed it #3259. It is available in master.

[2020-06-20 03:14] #3231 closed

[2020-06-20 07:40] wpeng102 opened #3264 "Edit a failed WF, then retry, when WF succeed the status is ERROR"
1) I modify the `https://github.com/argoproj/argo/blob/master/examples/hello-world.yaml` example change the command to a nonexistent command
[code]

2) submit the above wf, it failed
[code]
3) I use `kubectl edit wf hello-world1-k77qh` to correct the command, then `argo retry hello-world1-k77qh ` to retry this wf
4) Finally, this wf retry finished, but got a Error final status
[code]

Why wf retry

[2020-06-20 09:47] prateekkhera commented on #3232
Thanks, looks good!

[2020-06-20 09:47] #3232 closed

[2020-06-20 13:29] sfc-gh-pkrishnamurthy opened #3265 "A more scalable way of getting pod status in K8sApiExecutor"
# Summary

k8sApiExecutor uses getPods to get container status. https://github.com/argoproj/argo/blob/56694abe27267c1cb855064b44bc7c32d61ca66c/workflow/executor/k8sapi/client.go#L69
This approach can have issues when the api-server is rate limited as in the case of EKS
This enhancement proposal is to seek advice/discuss a more scalable approach using a watch API

# Motivation

I run argo workflows

[2020-06-20 18:35] simster7 commented on #3212
Closing as solved? Feel free to comment if not

[2020-06-20 18:41] #2867 closed

[2020-06-21 01:34] collinarnett commented on #2298
In my case, minio was filling up its PVC and running out of space.

[2020-06-21 13:49] ajitspendse commented on #3188
This change still needs the workflow to mention following -

[code]

The change proposed is to get rid of this requirement and allow a single global exit handler to be configured and executed for all workflows that get executed - irrespective of the templates they use.

This will allow the administrators to centrally control the exit handler and take appropriate actions/setup alerting mechanisms,

[2020-06-21 17:12] rosscdh commented on #2773
+1 here same issue

argo 2.8.1 cronworkflow dupes

[2020-06-21 17:54] saitoy1 commented on #3197
@simster7 Thanks for looking into this. Have you been able to reproduce the issue on your end?

[2020-06-21 18:56] mtiller commented on #3254
I saw that.  The repo has exactly one commit.  It doesn't really inspire a lot of confidence.  I also looked a bit more into [`git-cache-http-server`](https://github.com/jonasmalacofilho/git-cache-http-server).  I'm giving that a go.  Definitely useful, but doesn't quite solve the whole problem. With `git-cache-http-server`, I can keep a cluster local mirror (effectively).

I can't speak for other

[2020-06-21 22:33] sahil-sawhney commented on #3235
@simster7 please let me know if I should explain my use case better.
A dummy example of what I am looking at is:
`
inputs:
  artifacts:
  - name: argo-source
    path: /src	# Path where folder would be monted in POD
    local:
      path: /my/local-systems/folder	# my local systems (laptops) folders path
`

[2020-06-22 09:24] jyotishp commented on #3097
@sarabala1979 I can see a similar thing happening with argo v2.9.0-rc2.

I submit the same workflow.

If I run `kubectl delete pod <pod>`, I get
[code]

If I run `kubectl delete pod --grace-period=0 <pod>, I get
[code]

If I run `kubectl delete pod --force <pod>`, the workflow status doesn't update this time,
[code]

But sometimes (happened once out of many trials), it does detect that the pod got

[2020-06-22 09:55] jyotishp commented on #3244
@simster7 Should I close this issue and create an enhancement one? Using `backoff.maxDuration` is useful. But for that to work the way I want it to, I'll have to start another task that will monitor the time for which the retry node (not it's children) has been active for and kill the child pods when they retry node runs for longer than `activeDeadlineSeconds`. Or am I missing something?

[2020-06-22 10:19] omarzouk commented on #3154
@alexec is there a design reason behind this not being supported in the CronWorkflow spec? Being able to pass parameters to a WorkflowTemplateRef sounds like a very reasonable way to use a template

[2020-06-22 10:55] ramanNarasimhan77 opened #3267 "Support to get secrets from Vault"
# Summary
Is it possible to inject secrets from a secure vault like Hashicorp Vault instead of getting them from a Kubernetes secret?

Eg:
### SCENARIO 1 :
I am currently defining input git artifact used to clone the repo and copy to a PV as shown below. Here I am using k8s secret to get the git username and password

[code]

### SCENARIO 2: Docker config for Kaniko builds
The current configuratio

[2020-06-22 13:57] mac9416 commented on #3182
Is there a workaround for this?

[2020-06-22 14:23] simster7 commented on #2773
@rosscdh Please make sure that you only have one Argo controller instance running at the same time.

[2020-06-22 14:27] simster7 commented on #3235
Ah I see. This is not supported right now and I'm not sure it would even be possible. The only code that we control that would have access to your filesystem is the `argo` CLI binary. However, we designed Argo to be able to run workflows entirely without it (ie., talking directly to K8s, GitOps, API endpoints, etc.), so not sure if a feature like this would fit our design.

[2020-06-22 14:36] simster7 commented on #3244
The `retryNode` and its first child get created in the same operation of the Workflow, so both their start times should essentially be the same.

I see what you mean here. If, for example, you have a `maxDuration` and `activeDeadlineSeconds` of `40m` and the first node fails in `35m`, the second node will start. However, since `activeDeadlineSeconds` only applies to the individual child node it wi

[2020-06-22 14:40] simster7 commented on #3154
@omarzouk It is possible to pass in parameters to a `WorkflowTemplateRef`. See this example: https://github.com/argoproj/argo/blob/master/examples/workflow-template/workflow-template-ref-with-entrypoint-arg-passing.yaml

[2020-06-22 14:41] rosscdh commented on #2773
yep read the ticket .. only 1 controller

[2020-06-22 14:43] rosscdh commented on #2773
still the same issue.. cron gets created 2x

[2020-06-22 14:46] simster7 commented on #3182
To avoid this error for now, don't use output parameters from an expanded step such as `withParams`, `withItems`, etc.

We might add support for Jesse's #2 point (Make {{steps.one.outputs.parameters.aaa}} reference a virtual json list of the all items of the referenced variable.) given how feasible it is

[2020-06-22 14:48] simster7 commented on #2773
Can you post the `workflow-controller` logs?

[2020-06-22 14:54] simster7 commented on #3197
Sorry, haven't had a chance to look into this yet. However, [`v2.9.0-rc2`](https://github.com/argoproj/argo/releases/tag/v2.9.0-rc2) refactored this logic to avoid issues similar to this one. Could you please test this with that version and let me know if the issue persists? Or if you run into new issues?

**Please note that `v2.9.0-rc2` is a pre-release and is not certified for use in production

[2020-06-22 14:59] samath117 commented on #3154
Yes, but you can't set those parameters from the CLI in `argo cron create`. This seems like a reasonable suggestion to me, similar to #3194.

[2020-06-22 15:03] simster7 commented on #3154
Ah I see. Yes, that is a reasonable request. Is this what you meant @omarzouk?

[2020-06-22 15:20] sahil-sawhney commented on #3235
Thanks a lot for confirming @simster7 . This was very helpful 😊

[2020-06-22 15:20] #3235 closed

[2020-06-22 15:46] sarabala1979 commented on #3188
`workflowTemplateRef` main purpose is move all the logic/code to `workflowtemplate` and workflow should simply refer it.  I understand your requirement. you can achieve the above usecase using `templateref`.
[code]

[2020-06-22 16:05] psschwei commented on #3257
Thanks, will take a look at the config and reopen this if necessary.

[2020-06-22 16:05] #3257 closed

[2020-06-22 17:00] saitoy1 commented on #3197
Thanks for the suggestion! I've tried `v2.9.0-rc2` and confirmed that the issue persists. It's be great to identify the root cause of this behavior as the execution time could be cut down by half if I did not run into this issue.

[2020-06-22 17:22] ecurtin2 commented on #944
I'd like to comment that I think being able to use an artifact-like store for this is particularly useful for me. We are often doing ETL + ML tasks that are long-lived and in namespaced deployments of workflows, and every once in a while depend on external tasks. If there was a way to maybe do some sort of cache key as a file artifact I think it could really help.

In your example I'm thinking of

[2020-06-22 17:48] yokiworks commented on #3267
I am trying to do now exactly the same and looking for a way to load secrets from vault injector. the problem is that I cannot bypass the argo-secret

[2020-06-22 17:52] alexec commented on #3267
The core team does not use Vault, so we can't really advise on this. Have you asked in Slack?

[2020-06-22 17:53] #3260 closed

[2020-06-22 17:54] alexec commented on #3254
I'm sure you're not alone in this. If you come up with a solution, especially one that can deal with auth, then I'd love to share that with the communit.

[2020-06-22 17:55] alexec commented on #3264
You might get unpredictable behaviour mixing `kubectl` and `argo` commands.

[2020-06-22 18:35] omarzouk commented on #3154
@simster7 I was actually referring to something like this: https://github.com/argoproj/argo/issues/2556#issuecomment-607452619

[code]
but I guess this is coming out in 2.9 right?

however being able to pass them in the command line would be a good thing too!

[2020-06-22 19:19] saitoy1 commented on #3197
Thanks for the suggestion! I've tried `v2.9.0-rc2` and confirmed that the issue persists. It'd be great to identify the root cause of this behavior as the execution time could be cut down by half if I did not run into this issue.

[2020-06-22 22:40] simster7 commented on #3197
Okay, thanks. I'll look into this soon

[2020-06-22 23:21] alexec commented on #3243
It uses the `argo-server` service account. Could you configure that?

[2020-06-22 23:24] alexec commented on #2993
#3214

[2020-06-22 23:25] alexec commented on #3097
#3214

[2020-06-22 23:25] alexec commented on #3211
#3214

[2020-06-22 23:27] simster7 commented on #3211
Fixed in #2976

[2020-06-22 23:27] #3211 closed

[2020-06-22 23:50] alexec commented on #3229
#2786

[2020-06-22 23:51] alexec commented on #3229
#2786

[2020-06-22 23:51] alexec commented on #3229
This has been fixed in v2.9, but this has not been released yet.

[2020-06-22 23:51] #3229 closed

[2020-06-22 23:52] alexec commented on #3229
You must pass `--instanceid` to all commands - but that is only supported in v2.9.

[2020-06-22 23:52] hadim commented on #3243
So you mean the token used can only be the one linked to the service account that executes the argo server? I don't think this is what I observe (will confirm soon).

[2020-06-23 03:21] willgleich commented on #1932
For those who stumble upon here. I reached out in slack and @danxmoran  is utilizing a workaround

[2020-06-23 08:57] iMoses commented on #3183
Personally I'd like a flag on the submit command as well. especially when using `watch` it'd be nice to get the logs there as well :)

[code]

[2020-06-23 10:19] ramanNarasimhan77 commented on #3267
@yokiworks , @alexec

I figured out the kaniko part, as kaniko just expects the docker config to be present at /kaniko/.docker/config.json
I inserted the docker secret into vault and I am able to inject the secret to /kaniko/.docker/config.json by following the tutorial.

For the git input artifact since a kubernetes secret is expected as input, I am not sure how to by pass it. Can the git credent

[2020-06-23 10:23] ramanNarasimhan77 commented on #3267
Thanks for the pointer, I will post in slack.

[2020-06-23 10:41] orcaman opened #3275 "argo list and argo get work, but argo logs does not"
# Summary

I'm using argo and the commands for `argo get` and `argo list` work. `argo get` returns a pod X-Y, yet the `argo logs X-Y` command seems to fail with the error message "]FATA[0000] workflows.argoproj.io "data-X-Y" not found".

Changing `argo logs X-Y` to `kubectl logs X-Y main` actually works. Any idea?

[2020-06-23 12:31] jyotishp commented on #3244
Yes, this might work in most cases. But say, there is a case where the code that runs in the retry pod is something you can't/shouldn't modify (for example a docker image coming from a CI/CD pipeline). In that case, adding `{{retries.startedAt}}` will require something like a sidecar to track the running time. Is handling such events with a sidecar really a good way?

In my case, I might have ~50

[2020-06-23 14:29] mac9416 commented on #765
For folks landing here from Google, I wrote up a workaround for the size limit: https://stackoverflow.com/questions/62537126/how-can-i-work-around-argo-output-parameter-size-limit/62537127

[2020-06-23 14:31] simster7 commented on #765
@mac9416 this is great! Would you like to submit your example in a PR as well?

[2020-06-23 15:16] simster7 commented on #3275
What version are you running? Can you post some screenshots and logs? Would need more info to debug this

[2020-06-23 15:18] simster7 commented on #3244
I have another idea: a flag in `retryStrategy` (such as `maxDurationStrict: true`) that automatically sets the time remaining in your `maxDuration` to `activeDeadlineSeconds`. Should be easy to implement and makes good sense. I'll get a PoC done today

[2020-06-23 15:37] #3259 closed

[2020-06-23 15:39] ramanNarasimhan77 commented on #3080
Hello,

### BASE_HREF setup
[code]

### Ingress setup

[code]

I can see workflows in https://{{domain-name}}/argo/workflows

But when I click on a workflow, I see a blank screen

<img width="1605" alt="Screenshot 2020-06-23 at 8 43 46 PM" src="https://user-images.githubusercontent.com/52691361/85424151-2e507200-b595-11ea-8a21-71c6e04ce299.png">

Under network I can see that {{namespace}}?listOpti

[2020-06-23 16:00] jyotishp commented on #3244
That would be perfect! Thanks!

[2020-06-23 16:07] alexec commented on #3080
this screen can be blank if the workflow in invalid

[2020-06-23 16:08] #2891 closed

[2020-06-23 16:09] alexec commented on #1932
We would need something like `podSpecPatch` to fix this - sadly non trivial.

[2020-06-23 16:12] mac9416 commented on #765
Done! https://github.com/argoproj/argo/pull/3276

[2020-06-23 16:13] alexec commented on #3183
I think you'll be able to do this in low traffic installations v2.9:

[code]

This won't work in high traffic situations.

[2020-06-23 16:19] ramanNarasimhan77 commented on #3080
@alexec
When i submit a workflow from the ui, i can see the steps
When i go back to main workflows/ page and then click on the workflow, I get a blank screen

On clicking resubmit from the blank screen, I can see all the steps
![image](https://user-images.githubusercontent.com/52691361/85428612-15e35600-b59b-11ea-9167-c01a7c715df9.png)

going back to main page
![image](https://user-images.githubus

[2020-06-23 17:58] sfc-gh-pkrishnamurthy commented on #3265
I removed istio-proxy out of the picture by annotating all templates with
traffic.sidecar.istio.io/excludeOutboundIPRanges: "172.20.0.1/32"
Once I do that , all the connection refused errors cahanged into i/o time out
time="2020-06-23T16:14:22Z" level=warning msg="Failed to get pod 'for-loop-sd6zv-2540214372': Get https://172.20.0.1:443/api/v1/namespaces/serviceresilience/pods/for-loop-sd6zv-25402

[2020-06-23 19:23] iMoses commented on #2793
I'm experiencing the same issue inside a dockerfile which run `argo version`
is it also mandatory that argo will have a connection for using the `version` command?

[2020-06-23 21:52] #2343 closed

[2020-06-23 21:52] alexec commented on #2343
v2.10

[2020-06-23 21:52] alexec commented on #3246
v2.10

[2020-06-23 22:21] blkperl commented on #3267
@yokiworks @ramanNarasimhan77 my team is using https://github.com/godaddy/kubernetes-external-secrets for the use case you are describing.

[2020-06-23 22:25] blkperl commented on #3192
@dcherman The current workaround is described here:

https://github.com/argoproj/argo/issues/2602#issuecomment-636097428

[2020-06-24 05:04] fabio-rigato opened #3287 "Argo Workflow Status RUNNING but no pods running?"
Hey guys,

I am just upgraded Argo from **v2.2.1** to **v2.8.2** and I'm facing a really weird issue.

A lot of Argo Workflows have status=Running but there are not step/pod running.

The argo-server log has many of these:
`time="2020-06-22T05:00:26Z" level=error msg="finished streaming call with code Unknown" error="context canceled" grpc.code=Unknown grpc.method=WatchWorkflows grpc.service=workf

[2020-06-24 07:01] TTRh opened #3288 "withParam value could not be parsed as a JSON list with nested list parameters"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

Working with a parameter that contains a nested list, argo fail with json parsing error even json payload is correct.

**What you expected to happen**:

We should be able to use json input parameters with nested lists.

*

[2020-06-24 10:49] orcaman commented on #3275
Here are the logs that might be helpful:

## version
`argo version`
Output:
[code]

## running argo logs command:
`argo logs  data-hntn6-3489222862`

Output is:
`FATA[0003] workflows.argoproj.io "data-hntn6-3489222862" not found
`

## running kubectl logs command for the same pod:
`kubectl logs data-hntn6-3489222862 main`
Output:
`some logs from the pod`

[2020-06-24 11:39] gmahomarf opened #3289 "{tasks,steps}.*.outputs.results capture"
# Summary

`{tasks,steps}.*.outputs.results` seems to capture both STDIN and STDERR. Is this the expected behavior? The docs are unclear about this

# Motivation

Noticed this behavior, and was wondering if it was expected. Asked on Slack, and got no response

[2020-06-24 13:08] hadim commented on #3243
I confirm that as long as a token is associated with the correct permissions, it can access the UI. So it's not possible at the moment to restrict argo server to a specific serviceaccount/token.

[2020-06-24 14:31] yokiworks commented on #3267
Thanks! This is how we solve it also for now... but it is less secure I guess than having the secret injected into the argo pod bypassing the k8s secret

[2020-06-24 15:18] simster7 commented on #3287
Can you post the full CRD of one of the workflows? You can get it by doing `kubectl get wf <WF_NAME> -o yaml`

[2020-06-24 15:22] alexec commented on #3288
#3129

[2020-06-24 15:23] simster7 commented on #3289
Depends on which executor you are using. Some executors don't support non-combined output. Do you know which one you're using?

[2020-06-24 15:25] simster7 commented on #3275
A couple of fixes to `argo logs` have been made since 2.7.0 (https://github.com/argoproj/argo/pull/2595 and https://github.com/argoproj/argo/pull/2639). Can you update to 2.8.2 and see if this issue is fixed for you?

[2020-06-24 15:26] alexec commented on #3288
[code]

[code]

[2020-06-24 15:29] alexec commented on #3288
The bug is caused the code only recognises the text as an array if the first character is `[`. Any leading whitespace breaks that.

Work-around: trim leading whitespace.

[2020-06-24 15:53] gmahomarf commented on #3289
Thanks for the response.

It seems we're using `k8sapi`. Is there alist of which executors support non-combined output? I searched the docs, but it seems I missed it.

[2020-06-24 16:14] simster7 commented on #3289
Only the `Docker` executor supports it

[2020-06-24 16:48] sarabala1979 commented on #3287
Can you check the controller log? is there any error or panic?

[2020-06-24 16:56] gmahomarf commented on #3289
Noted. Thanks for the info!

[2020-06-24 16:56] #3289 closed

[2020-06-24 19:14] lyonsaj opened #3292 "Unable to resolve resourceDuration metric"
Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

resourceDuration metric does not resolve.
resourceDuration.cpu and resourceDuration.memory do not resolve either

**What you expected to happen**:

A metric being emitted with the resource duration.
**How to reproduce it

[2020-06-24 19:15] #3183 closed

[2020-06-24 19:18] simster7 commented on #3292
I am almost certain that this metric is not available in `2.7.6`. Upgrade to `2.8.2`?

[2020-06-24 19:37] lyonsaj commented on #3292
@simster7 I'm also seeing it with workflow.failures. I have upgraded back to 2.8.2 and still get it.

[2020-06-24 21:10] simster7 commented on #3292
Hey @lyonsaj sorry, I edited my comment to say that this metric is only available in 2.9+. The fix for workflow.failures also won't be available till 2.9

[2020-06-24 21:19] simster7 commented on #3197
@saitoy1 I see that you linked #3176 in your issue, and it seems like this is the same problem. Were you able to read my response here: https://github.com/argoproj/argo/issues/3176#issuecomment-639225082? In particular my advice about creating new Workflows for nesting and the example I linked? If so, why does that approach not work?

[2020-06-24 22:23] saitoy1 commented on #3197
Let me see if I can clarify. I linked this issue to #3176 because it was convenient to tailor & come up with simplified steps for my production workflow. I read your response back then but have not tried your advice yet as I am unsure that the underlying issue is the same.

For one, I actually have an on-prem k8s cluster that runs my workflow (not the simplified one above but the one used in produ

[2020-06-24 23:17] fabio-rigato commented on #3287
Hey @simster7 and @sarabala1979 thanks for asking. I had to roll back to 2.2.1 version because ~60 was stuck but I still have the logs in GCP Stackdriver. I checked the logs and there are not any panic but a lot of error like the following:

`The argo-server log has many of these:
time="2020-06-22T05:00:26Z" level=error msg="finished streaming call with code Unknown" error="context canceled" grpc.

[2020-06-24 23:26] alexec opened #3295 "Document the "workflow of workflows" pattern"
# Summary

Now we have templates, you can compose a workflow from other workflows. We should document this.

# Motivation

This is because we do not promote this solution much

# Proposal

Write docs!

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-06-24 23:26] alexec commented on #3295
FYI @jessesuen
@sarabala1979 would you like to own?

[2020-06-24 23:38] alexec opened #3296 "Cloud event support"
# Summary

Support nodes in a workflow that either consume or produce events.

# Motivation

Consuming events:

* Suspending a workflow waiting for an event.
* A daily job that waits for a file to appear.

Producing events:

* Trigger other workflows.
* Send messages to cloud events consumers, e.g. Kafka.

# Proposal

In an Argo Events compatible way.

Thoughts:

* How do we secure the API endpoin

[2020-06-24 23:40] alexec commented on #3296
@jessesuen @whynowy  FYI

[2020-06-25 04:58] sarabala1979 commented on #3295
yes

[2020-06-25 05:01] sarabala1979 commented on #3287
I am triaging  an issue with @fabio-rigato

[2020-06-25 07:09] orcaman commented on #3275
I tried upgrading to 2.9.0-rc3, same issue:

➜  curl -sLO https://github.com/argoproj/argo/releases/download/v2.9.0-rc3/argo-darwin-amd64

➜  chmod +x argo-darwin-amd64

➜  mv ./argo-darwin-amd64 /usr/local/bin/argo

➜  argo version

argo: v2.9.0-rc3
  BuildDate: 2020-06-23T18:46:18Z
  GitCommit: 2e95ff4843080e7fd673cf0a551a862e3e39d326
  GitTreeState: clean
  GitTag: v2.9.0-rc3
  GoVersion: go1.1

[2020-06-25 12:21] DrissiReda opened #3300 "Workflow artifact minio access denied"
Hello I'm trying to use an s3 artifact in my workflow, I'm using minio and I have "Failed to put file: Access Denied."

[code]
Minio was deployed by itself, it's been working, I use the same secret elsewhere and it works.
Should I add some kind of special permissions for the minio stateful set? or to the argo service account?

<details>
<summary>logs</summary>

[code]

</details>

[2020-06-25 14:53] KPostOffice commented on #2550
I would love this addition! Right now we are running into issues where we hit resource limits within our cluster, specifically on volume claims. Although not required for our specific use case, a way to increment the semaphore by numbers other than 1 would be great. If my workflow uses 2 PVCs I'd like to be able to indicate that so that we can easily limit resource consumption of `Argo` as a whole

[2020-06-25 15:24] ncadou commented on #3026
I'm seeing the same error. I run argo in minikube (docker driver), and I'm seeing the same error. I tried with 2.8.2, 2.9.0-rc1 and 2.9.0-rc3, same result. I'm exposing the UI port like so: `kubectl -n argo port-forward --address 0.0.0.0 deployment/argo-server 2746:2746`
This is a headless server, so from my workstation, I access it at http://_\<argo ip address\>_:2746, and I see part of the argo

[2020-06-25 15:43] sarabala1979 commented on #3300
Do you have a correct secret on the namespace where you are submitting workflow?

[2020-06-25 15:44] DrissiReda commented on #3300
Yes I'm using the secret on other argos.

[2020-06-25 15:51] alexec commented on #3275
This command has changed. The first argument is the name of the workflow, not the name of the pod.
[code]

[2020-06-25 17:12] hadim opened #3305 "Workflow fails when using PVC"
I observed a bug that makes a workflow to instantaneously fail upon starting when it uses a PVC. The logs on the associated pod show no error and the output of the node(s) show what they are supposed to show. So in short the workflow works but Argo reports an error.

Here is the failing workflow:

[code]

Here is a similar one that works:

[code]

I am on GKE and use the following storage class pr

[2020-06-25 18:05] hadim opened #3307 "Cannot specify key for input artifact (without full artifact location)"
Tested on 2.9.0-rc3

The official example works:

[code]

When switching to input it fails:

[code]

with

[code]

Another important point IMO. I don't see any ways to specify the `key` during workflow creation (the location of your object within S3/bucket). My understanding is that `artifactRepositoryRef` can be used to setup default repositories and then can be reused within workflows specifying

[2020-06-25 18:06] alexec commented on #3307
Can I confirm if this used to work and does not work anymore? Or if it just never seemed to work?

[2020-06-25 18:06] hadim commented on #3307
It never worked for me. See also https://github.com/argoproj/argo/issues/2461#issuecomment-643462725

[2020-06-25 18:08] hadim commented on #3307
I have tested it using both `gcs` and `s3`.

[2020-06-25 18:20] alexec commented on #3307
I think you must specify the key within the bucket, as well as bucket, endpoint etc. Not great I agree, but that is how it is today.

[2020-06-25 18:22] hadim commented on #3307
So what's the point `artifactRepositoryRef` if you must replicate all the config?

[2020-06-25 18:45] orcaman commented on #3275
Thank you very much my friend!

[2020-06-25 18:45] #3275 closed

[2020-06-25 19:01] mtiller opened #3309 "UI SDK: Publish Workflow Types Separately"
# Summary

It would be very useful to publish the TypeScript definitions for Workflows in a separate package.

# Motivation

This would allow any tool working with Argo Workflows to have a complete picture of the "shape" of the workflows.  There are lots of fields.  All of this is seemingly published in the swagger specification of the API.  It would be very useful (to us) to have a completely Typ

[2020-06-25 19:17] linehrr opened #3310 "support envFrom to use configMap as env vars"
# Summary

standard k8s support
[code]
which can import configMap as env vars into container.

# Motivation

we have hundreds of env vars to be imported, if we have to specify one by one that will be too tedious.

# Proposal

implement the same envFrom syntax from k8s.

[2020-06-25 20:18] alexec commented on #3309
Have you thought about generating types from the Swagger?

[2020-06-25 20:56] candonov commented on #1784
I am running into the exact same issue. (Running argo v2.8.0-rc4) with IRSA (as well as Kiam) for auth and neither is working. I started digging into the code I noticed argo is using v1.27.1 of `aws-skd-go` https://github.com/argoproj/argo/blob/48d86f03ce9ac49f5099c46dd7995305eb59eb11/go.mod#L12 which is about 6 months old. I've ran into issues with IRSA before using `aws cli` and the solution was

[2020-06-25 21:10] mtiller commented on #3309
Like when I said:

😉

[2020-06-25 21:16] mtiller commented on #3309
I just ran this ([using this tool](https://github.com/manifoldco/swagger-to-ts)) for fun to see what the results look like:

[code]

I'll report back.

[2020-06-25 21:17] alexec commented on #3309
Let us know how it goes please!

[2020-06-25 21:18] alexec commented on #3309
Maybe we do the same thing :)

[2020-06-25 21:21] hadim commented on #3305
In case this is useful for someone, the bug is due to running `workflow-controller` with a replica value of 3. Only a value of 1 makes it work in my case. `argo-server` can have 3 replicas without issue.

@alexec : couple of questions about this

- does that make any sense to use more than one replica for `argo-server` and/or `workflow-controller`?
- is that a know limitation that only one replica

[2020-06-25 21:22] alexec opened #3313 "Access token based authentication"
# Summary

Support a new access mode that allows you to authenticate using access token  (like `GITHUB_TOKEN` or `SONAR_TOKEN`)

# Motivation

To allow you set-up automation, with a small set of privileges.

# Proposal

I think we can do this using this:

https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/

---

**Message from the maintainers**:

If you wish to see this

[2020-06-25 21:23] alexec commented on #3305
https://github.com/argoproj/argo/blob/master/docs/scaling.md#horizontally-scaling

[2020-06-25 21:24] hadim commented on #3305
Sorry for that, I should have been more careful reading the doc! Thanks.

[2020-06-25 21:24] #3305 closed

[2020-06-25 21:44] mtiller commented on #3309
With the exception of [this bug](https://github.com/manifoldco/swagger-to-ts/issues/265) (which I found about 6 occurrences of and fixed manually and which is apparently [fixed here](https://github.com/manifoldco/swagger-to-ts/pull/266)), it generated code that compiled!

Not only that, for fun I ran it through the `isCreate` and `createAssertType` functions/macros of [`typescript-is`](https://git

[2020-06-25 22:36] #3185 closed

[2020-06-25 22:54] sfc-gh-pkrishnamurthy commented on #3007
I am hitting a different flavor if this issue. To me , timeouts happen when the wait container hits the api-server to get the pod status https://github.com/argoproj/argo/blob/56694abe27267c1cb855064b44bc7c32d61ca66c/workflow/executor/k8sapi/client.go#L69

I get
[code]

[2020-06-25 22:54] mtiller opened #3318 "Error in Swagger.json"
**What happened**:

As part of issue #3309, I looked into generating types directly from the `swagger.json` file.  I was successful in generating the types, but immediately ran into type errors.  Specifically, when creating a `container` in a `spec`, I get an error if I don't provide a value for `name`.  This can be traced to [the following line](https://github.com/argoproj/argo/blob/master/api/op

[2020-06-25 22:56] mtiller commented on #3309
Given the errors I quickly found in `swagger.json` (see #3318), I wonder if we wouldn't be better simply using something like [this](https://github.com/tkrajina/typescriptify-golang-structs) to construct the types directly from the Go code?

[2020-06-25 23:14] alexec commented on #3318
I think this was being fixed, but I guess not. The correct value for name is always `main`.

[2020-06-25 23:52] mtiller commented on #3318
I see.  So the point is that the argo runtime will add the name automatically.  So it really shouldn't reference the Kubernetes type there, right?

[2020-06-26 01:11] mtiller commented on #3318
I found what I consider another error [here](https://github.com/argoproj/argo/blob/master/api/openapi-spec/swagger.json#L3680).  It indicates that `status` is required.  But it isn't.  It may very well always be present in *responses*, but it is also the argument when you create a `Workflow` and it definitely isn't required there.

Is it worth reporting these issues?  It seems like perhaps nobody

[2020-06-26 03:32] zachaller commented on #2748
Use the UseSDKCreds to true I got that added so that it supports

[2020-06-26 03:37] zachaller commented on #2748
s3:
      bucket: my-bucket
      keyFormat: prefix/in/bucket     #optional
      useSDKCreds: true

[2020-06-26 03:44] zachaller commented on #2748
What UseSDKCreds does is use the aws sdk to get credentials to pass to the minio client and so it  will use the default sdk provider chain which includes ISRA and all the other sdk fallbacks

[2020-06-26 10:59] ramanNarasimhan77 commented on #3267
@yokiworks
Hello,
here is how I have ported my workflow to Vault for now:

### High level vault setup steps
Based on https://www.hashicorp.com/blog/injecting-vault-secrets-into-kubernetes-pods-via-a-sidecar/

1. Install consul helm chart
2. Intall vault-k8s helm chart (uses consul backend)
3. Unseal the vault
4. Enable kubernetes auth, set kubernetes auth config
5. Create a vault policy allowing r

[2020-06-26 10:59] #3267 closed

[2020-06-26 11:16] #3224 closed

[2020-06-26 11:39] cohadar commented on #2967
I think adding paging to workflow overview would help.
Loading 3000 workflows at once is the problem

[2020-06-26 12:46] ramanNarasimhan77 opened #3319 "How can I access workflow parameters inside Go template block"
# Summary

How can I use workflow parameters inside a go template block

# Motivation
Recently I worked on integrating Hashicorp vault with my workflow.
Vault allows me to write Go Templates for doing some transformations before writing the secret to file.

So, consider below snippet, here I am trying to use vault-gitcreds-secret inside a go template. This does not work and “{{workflow.parameters.

[2020-06-26 14:55] simster7 commented on #3171
@terrytangyuan Are you still working on this?

[2020-06-26 15:04] terrytangyuan commented on #3171
@simster7 Thanks for checking. I got stuck on getting the local variable work on DAG task level. Another concern with your suggested approach is that we could potentially introduce a new set of variables for various phases since we are not just dealing with successes.

[2020-06-26 15:29] yuvraj9 commented on #3080
@alexec In ideal case it should load the UI on /argo we shouldn't put extra routes.

[2020-06-26 15:30] simster7 commented on #3319
Argo does not do parameter replacement in annotations. Would this be the issue? Not too familiar with this use case.

[2020-06-26 15:36] simster7 commented on #3310
Do you mean to use them in a container? We use the K8s Container type directly, so you should be able to use this field when defining one.

[code]

[2020-06-26 15:37] ramanNarasimhan77 commented on #3319
@simster7
In below annotations snippet, vault.hashicorp.com/agent-inject-secret-.git-credentials gets replaced correctly. The issue is only with the vault.hashicorp.com/agent-inject-template-.git-credentials section

[code]

[2020-06-26 15:41] simster7 commented on #3319
I see. What is the Kind of `get-source-code-https` is it a Workflow? It's not clear where this snippet is from relative to the workflow as a whole

[2020-06-26 15:48] ramanNarasimhan77 commented on #3319
@simster7
I have a workflow with 3 steps - clone the git repo, set some output parameters and then do a kaniko build
get-source-code-https is a template

[code]

Pasted the definition of `get-source-code-https` template below
Since I want to get git-credentials from vault, I am using this approach where I mount the git-credentials file into the Pod and enable git credential store so that git clone

[2020-06-26 16:02] alexec opened #3321 "Extend HTTP artifact to allow saving of files via HTTP"
# Summary

The current `HTTPArtifiactDriver` does not implement `Save` so you cannot use it for HTTP upload.

# Motivation

Use cases:

* Save to HTTP servers.
* Sending HTTP messages to webhooks.

# Proposal

`ArtifactoryArtifactDriver` already implements most of the capability.

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to thi

[2020-06-26 16:04] alexec commented on #3318
We should fix these, so please leave open.

[2020-06-26 16:20] mtiller commented on #3318
Should I create separate issues?  Seems easier to track that way.

[2020-06-26 16:24] h4wkmoon commented on #2581
And for non-testing purpose, what should we do ?

[2020-06-26 16:27] weisjohn commented on #2502
@sfc-gh-pkrishnamurthy I see your recommendation to use `k8sapi`; does that mean you've successfully tested it in that way?

[2020-06-26 16:35] weisjohn commented on #2502
@sfc-gh-pkrishnamurthy nvm, I see your other issue here: https://github.com/argoproj/argo/issues/3265

[2020-06-26 17:28] alexec commented on #3318
@mtiller what would better that creating an issue :)

Do you want to get your hands dirty and fix them as you find them...?

[2020-06-26 17:32] mecampbellsoup opened #3324 "How to "exec" (/bin/bash) into an Argo pod/container for debugging?"
# Summary

I want to know how I can debug an Argo k8s pod that is running or already ran in order to poke around the OS, run commands, etc. (normal debugging)

# Motivation

I have a failing workflow step and I'm struggling to uncover what is going on with the failing process.

[2020-06-26 17:34] mecampbellsoup commented on #3324
OK, I realized I was using the wrong pod ID (i.e. `render-4hfgl` instead of `render-4hfgl-2742724330` in this example), but now I'm unable to exec into a completed pod...

[code]

[2020-06-26 18:14] alexec opened #3325 "Labels for [cluster] workflows templates"
# Summary

The only way to label a workflow created from a template is at the point of submission.

# Motivation

Make it easier to search for workflows created from templates.

# Proposal

Same as cron workflows:

[code]

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prio

[2020-06-26 18:27] alexec opened #3326 "Conventional labels for [cluster] workflows templates"
# Summary

We should always label workflows with the cron, template, or cluster workflow template they were created from

# Motivation

This would allow searching on conventional.

# Proposal

Normal labels. Note we should label cron workflows based on the template with the template too!

See #3325

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add

[2020-06-26 18:34] simster7 commented on #3324
If the Pod is completed, there's nothing running you can exec into. If you want to `sh` into a container, you can just have it sleep to keep it running. Then you should be able to exec into it

[2020-06-26 18:38] mecampbellsoup commented on #3324
I ended up adding a `time.sleep` to my Argo workflow script (it's a Python script, FWIW) so I could exec while running.

I didn't see any of the things I was expecting to see in the host OS, e.g.:

[code]

I mount in this socket as a volume in my workflow definition (a `WorkflowTemplate` to be specific):

[code]

When I look at `ps aux` results, it leads me to think Argo is doing a docker-in-docke

[2020-06-26 19:10] Sharathmk99 commented on #2902
Facing same problem.

[2020-06-26 19:50] sfc-gh-pkrishnamurthy commented on #2502
@weisjohn i would say that switching to k8sApi was functionally successful . It works.
I had problems when the cluster was fairly overloaded. It causes issues like https://github.com/argoproj/argo/issues/3007 and https://github.com/argoproj/argo/issues/3265

The wait container retries for 5 times in a 10 ms interval which is not great. but this is a problem only under load

[2020-06-26 20:28] yokiworks commented on #3267
Thank you @ramanNarasimhan77 this is really neat!
Can we somehow do the same for config.oidc secrets and bypass the need to use a k8s secret for them as well?

[2020-06-26 21:28] mtiller commented on #3318
Possibly.  I'd just have to see whether I can get the necessary dev environment setup.  But a key issue is tests.  Clearly, these have slipped through so far.  What kind of tests would be required for a PR on this?

[2020-06-26 21:29] #3326 closed

[2020-06-27 00:26] sarabala1979 commented on #3325
Fixed in #3326

[2020-06-27 02:05] alexec commented on #3325
Sorry - this is something different.

[2020-06-27 03:36] weisjohn commented on #1667
@dove-young did you find a resolution to this?

[2020-06-27 19:49] #3313 closed

[2020-06-27 19:51] alexec commented on #3186
Dup of #3203?

[2020-06-27 19:53] alexec commented on #2567
See #3186 and see #3203

[2020-06-27 20:54] alexec opened #3332 "Parameter.Default is marked an DEPRECATED incorrectly"
This field is marked an DEPRECATED and unused, but that is wrong.

[2020-06-28 04:01] ericandrewmeadows commented on #1707
I get this problem when I have multiple tabs open to Argo Workflows UI on my laptop.  It can serve across many users, just not many tabs on the same machine.

[2020-06-28 12:15] lippertmarkus commented on #2581
@h4wkmoon I use the following ClusterRole:
[code]

[2020-06-28 15:40] NKcqx opened #3333 "How argo convert workflow made by UI to the YAML file ?"
# Summary
How argo convert workflow made by UI to the YAML file ?

# Motivation
We're working on something like this: deploy a workflow on cluster. The workflow is a data structure stored in memory, and we wanna convert it to a YAML file so that we can deploy it. We're planning use some tools like template engine, but I'm not sure whether it is a good solution, so here I am~

[2020-06-28 18:11] alexec commented on #3333
`argo get workflow-name -o yaml`

[2020-06-29 04:37] lilida commented on #944
@jessesuen Thanks for implementing this. One question, should we include the actual container  hash in the cache key computation because there are cases the actual container image changes but the tag keeps the same

[2020-06-29 05:32] sarabala1979 commented on #3325
Oh got it. Can I work on it?

[2020-06-29 11:01] wpeng102 opened #3334 "How does Argo support long running workload"
Something like I define first step start a nginx pod. The following workflow will stuck in the first step. I want to know if Argo has some way to support long running workload?
[code]

[2020-06-29 13:04] NKcqx commented on #3333
Thank you at first~!
Actually I know what command can do that convertion, instead what I wanna know is "how argo can technically do that", I'm hoping for some more implementation details if this is allowed ~

[2020-06-29 14:55] bcaton85 opened #3337 "argo login returning "The handle is invalid""
**What happened**:

CLI version:

Fresh install of argo cli and server into GKE cluster. Attempting to login with argocd login <server> always returns with ` time="2020-06-29T14:46:26Z" level=fatal msg="The handle is invalid."`

Example:
[code]

**What you expected to happen**:
To successfully login.

**How to reproduce it (as minimally and precisely as possible)**:
Fresh install, run argocd login

[2020-06-29 15:05] linehrr commented on #3310
```2020/06/29 11:03:57 Failed to parse workflow template: error unmarshaling JSON: while decoding JSON: json: cannot unmarshal object into Go struct field Container.spec.workflowSpec.templates.container.envFrom of type []v1.EnvFromSource```

when I use it, I got this from argo submit.

[code]

this is the way I am using it.

[2020-06-29 15:11] alexec commented on #3337
Is this an Argo CD problem? Do you want to re-open the issue in that repo?

[2020-06-29 15:12] alexec commented on #3325
Anyone can work on this. It's only a couple of hours of work

[2020-06-29 15:13] alexec commented on #3334
Argo Workflows in not suitable for running things like Nginx. Have you considered Argo CD for this?

[2020-06-29 15:14] alexec commented on #3333
Ok.  Workflows are custom resources, as such their definitions is stored in etcd along with the definitions of pods etc.

This is why you can do `kubectl get workflow workflow-name`.

Alex

[2020-06-29 15:15] bcaton85 commented on #3337
yes, I believe you're right. I opened the issue [there](https://github.com/argoproj/argo-cd/issues/3871).

[2020-06-29 15:15] #3337 closed

[2020-06-29 15:16] simster7 commented on #3334
You can certainly run `nginx` in Argo with what we call Daemoned nodes. The Workflow will progress from the Daemoned node once it is up and ready and will be brought down once the step or dag group in which it is a member of completes.

Take a look at these examples:

* https://github.com/argoproj/argo/blob/master/examples/daemon-nginx.yaml

* https://github.com/argoproj/argo/blob/master/examples/

[2020-06-29 15:18] #1629 closed

[2020-06-29 15:20] simster7 commented on #3319
Got it, thanks for providing this full example. I'll look into why the parameters aren't getting replaced and report back.

[2020-06-29 15:37] simster7 commented on #3310
Can you post the full Workflow you're trying to submit? The `Container.spec.workflowSpec.` part of the error message seems to indicate the you're submitting a malformed object

[2020-06-29 16:09] rbreeze commented on #944
@lilida The way we are handling this is by allowing custom keys - so that users can pass in their own input to use as a key in the instance where the tag is constant but the container image change, or other use cases where the workflow spec might stay the same but outputs change. Does this address what you were thinking?

[2020-06-29 16:11] #1466 closed

[2020-06-29 16:40] #3288 closed

[2020-06-29 16:42] lilida commented on #944
@rbreeze  Customized key can probably address it but extra effort is required. An alternative can be some easy api or way to invalidate the cache so the invalidation be integrated with the image publishing process

[2020-06-29 16:48] alexec commented on #3334
Good point. It's not clear from you question what your use case is. If it is running Nignx app as application - then you should look at other tools.

However, if, as is more likely, you want to run Nginx while your workflow is running  then daemoned steps (or sidecars) are probably what you want.

[2020-06-29 17:18] #3292 closed

[2020-06-29 17:57] AleksanderGondek commented on #716
@yuvraj9  I do not know if this is still relevant, but.. try "/argo/" with slash at the end. Should do the trick. :)

[2020-06-29 18:34] sarabala1979 commented on #3325
I will work on it.

[2020-06-29 18:59] #3202 closed

[2020-06-29 19:06] linehrr commented on #3310
[code]

please see above.
envFrom is under container spec. and it looks to be the right place as well. because it works for the normal deployment.

[2020-06-29 19:38] simster7 commented on #3310
`envFrom` is actually a list. Try

[code]

[2020-06-29 20:10] linehrr commented on #3310
@simster7
thanks ! that was the issue ! I will close this.

[2020-06-29 20:10] #3310 closed

[2020-06-29 21:36] foobarbecue opened #3341 "volumes in WorkflowTemplates are not carried over to Workflows"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

This Workflow suceeds, and writes a file test.txt to the host:

[code]

However, if you convert it to a WorkflowTemplate and submit a Workflow based on it, then it fails with
`volume 'nac-volume' not found in workflow spe

[2020-06-29 22:20] andehen opened #3342 "workflow controller is unable to write events in other namespaces for versions >= v2.9-rc1"
**What happened**:
The workflow-controller is unable to write events for workflows running in other namespaces for workflow-controller verions after 2.8.2.

**What you expected to happen**:
That events are written successfully.

**How to reproduce it (as minimally and precisely as possible)**:
* Start with fresh cluster
* Follow the get started guide [here](https://github.com/argoproj/argo/blob/ma

[2020-06-29 23:31] mehtadeepen opened #3343 "Argo workflow fails if we send large payload as input to step"
**What happened**:

Argo workflow errors out if we are sending large input into parameters

**What you expected to happen**:

It should not throw error.

**How to reproduce it (as minimally and precisely as possible)**:

Send large input as parameter

Error:

[code]

---

**Message from the maintainers**:

If you are impacted by this bug please add a 👍 reaction to this issue! We often sort issues

[2020-06-29 23:35] alexec commented on #2551
@simster7 could you please close this issue this feature is not possible and open a new issues for "in-place retries" so that issues 👍 is reflective of the popularity of that issue?

[2020-06-29 23:37] alexec commented on #2077
To review and potentially close.

[2020-06-29 23:44] alexec commented on #2370
How do we deal with large amounts of output?

[2020-06-29 23:57] alexec opened #3344 "Resume suspended workflow from webhook event"
Same as #2667 but for resuming suspended nodes.

[2020-06-30 00:04] alexec commented on #2370
@simster7 to close if done

[2020-06-30 00:05] alexec commented on #1386
@simster7 to double check and maybe close.

[2020-06-30 00:05] simster7 commented on #2370
Closed by https://github.com/argoproj/argo/pull/2584

[2020-06-30 00:05] #2370 closed

[2020-06-30 00:07] simster7 commented on #1386
This can be solved using the new depends logic in #2673

[2020-06-30 00:07] #1386 closed

[2020-06-30 00:49] wpeng102 commented on #3264
Thank you for the answer

[2020-06-30 00:49] #3264 closed

[2020-06-30 01:02] alexec commented on #3342
Probably due to #3205

[2020-06-30 01:04] alexec commented on #3342
[code]

So event should be created in the workflow's namespace.

[2020-06-30 01:20] alexec commented on #3341
@foobarbecue do you know if this is a new problem?

[2020-06-30 01:30] foobarbecue commented on #3341
@alexec I don't know -- this was my first time trying volumes with WorkflowTemplates. So it's probably not new. BTW I also tried https://github.com/argoproj/argo/blob/master/examples/volumes-emptydir.yaml as a WorkflowTemplate with the same result.

[2020-06-30 04:14] whyvez opened #3346 "Possible bad code block in quick start"
Nice work on new docs!

Looks like there might be a bad code block in the quickstart here: https://argoproj.github.io/argo/quick-start/#install-argo-workflows

The `kubectl apply` link is:

`kubectl apply -n argo -f https://raw.githubusercontent.com/argoproj/argo/stable/manifests/quick-start-postgress.yaml`

but should be:

`kubectl apply -n argo -f https://raw.githubusercontent.com/argoproj/argo/

[2020-06-30 05:09] liushouxiang opened #3347 "argo auth client mode not working"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
cannot get the token via argo cli:
[code]
However， i can access the argo server via arbitrary string as a token:
[code]

**What you expected to happen**:
1. Could get auth token via command `argo auth token`
2. Authorizati

[2020-06-30 06:31] arbielsk opened #3348 "More information for exitHandlers on step level"
# Summary

Since exitHandlers can be used on step and task level I believe it would be very useful to pipe some information from the step into the step/task-level exitHandler automatically.

Information I could think of, that would be helpful in my use-cases:
1. Pod-name of step/task
2. Inputs of step/task
3. Outputs of step/task
4. Name of step/task
5. Image of step/task

# Motivation

Currently

[2020-06-30 07:23] NKcqx commented on #3333
Oh OK, I get it, I was completely thinking in an opposite way, thank u for ur time !

[2020-06-30 07:23] #3333 closed

[2020-06-30 07:36] thundergolfer commented on #1662
@sarabala1979 can this be reopened please? I think it's also still present on `2.8.2` (latest @ June 30 2020).

[2020-06-30 09:44] catweisun opened #3349 "enable default podGC for workflowtemplate reference scenario"
# Summary
Need centralized podGC to support workflow template scenario.

# Motivation
I'm trying to evaluate and optimize the performance for the worklfow on argo, but the default podGC strategy is not support the workflowtemplate ref scenario and I have to setup the podGC in individual workflowtemplate as workaround. The workflow template is developed by other vendors/partners who focus on the bu

[2020-06-30 11:29] arbielsk commented on #2046
@simster7 If understand you correctly then this deprecation means that onExit handlers will not be able to use template references anymore as they always reference a template within the current workflow definition which after this change cannot reference a templateRef anymore.
Is my understanding correct and is this intended?

[2020-06-30 15:42] sarabala1979 commented on #2046
You can use the Step template on Exithandler that can refer the workflowtemplate.

[code]

[2020-06-30 15:49] arbielsk commented on #2046
@sarabala1979 Thank you very much. That helps a lot!

[2020-06-30 16:24] alexec commented on #3347
Can you tell me which Kubernetes provider you're using please? Docker for Desktop does not support any kind of RBAC authentication - K3S does as would ESK or GCS.

Can you also attache the server logs.

[2020-06-30 16:27] alexec commented on #3346
You're correct. This doc is new and wrong only on "s" is "postgres":

[code]

[2020-06-30 16:28] alexec commented on #3346
Fixed.

[2020-06-30 16:28] #3346 closed

[2020-06-30 16:28] alexec commented on #3348
What happens if multiple steps fail?

[2020-06-30 16:51] #3244 closed

[2020-06-30 18:23] #3342 closed

[2020-06-30 19:18] stefansedich opened #3355 "Unable to use workflowTemplateRef with defaults workflow serviceAccountName"
Checklist:

 * [X] I've included the version.
 * [X] I've included reproduction steps.
 * [X] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

Ever since the validation changes were introduced in https://github.com/argoproj/argo/pull/2912 we are unable to submit a workflow using a `workflowTemplateRef` when there is an `serviceAccountName` defined in workflow de

[2020-06-30 19:21] stefansedich commented on #3355
@sarabala1979 here is the issue as discussed on Slack.

[2020-06-30 19:40] sarabala1979 commented on #3355
I will work on it

[2020-06-30 19:52] vladlosev commented on #3355
Mmm, we use some other workflow spec fields in the workflow defaults section of the config map. These include `nodeSelector` and `tolerations` in order to restrict our workflow pods to spot instances, and `ttlStrategy` to set the default TTL on all the workflows.

[2020-06-30 20:19] rbreeze commented on #944
@lilida That's a good idea, for the first draft we are going to stick to using custom keys only, but this might be something we explore more down the line

[2020-06-30 20:45] terrytangyuan commented on #944
ICYMI Looks like @rbreeze is working on this in https://github.com/argoproj/argo/pull/3356.

[2020-06-30 21:17] #859 closed

[2020-06-30 21:17] #3022 closed

[2020-06-30 21:17] #3027 closed

[2020-06-30 21:17] #3236 closed

[2020-06-30 23:13] #2996 closed

[2020-06-30 23:13] #2940 closed

[2020-06-30 23:14] alexec commented on #2846
No reply. Closing.

[2020-06-30 23:14] #2846 closed

[2020-06-30 23:15] alexec commented on #3296
This can be fixed by generic webhook support, #2667

[2020-06-30 23:15] #3296 closed

[2020-06-30 23:17] #3332 closed

[2020-06-30 23:30] alexec commented on #3318
Should be fixed on master.

[2020-06-30 23:30] #3318 closed

[2020-06-30 23:33] alexec commented on #3203
Fixed.

[2020-06-30 23:33] #3203 closed

[2020-06-30 23:33] alexec commented on #3186
Fixed.

[2020-06-30 23:33] #3186 closed

[2020-06-30 23:33] alexec commented on #2567
Fixed.

[2020-06-30 23:33] #2567 closed

[2020-06-30 23:41] #3139 closed

[2020-06-30 23:41] #3087 closed

[2020-06-30 23:42] #3031 closed

[2020-06-30 23:42] alexec commented on #2991
We're now using Github Actions.

[2020-06-30 23:42] #2991 closed

[2020-06-30 23:42] alexec commented on #2879
Won't fix - we will provide Swagger UI instead #3358 .

[2020-06-30 23:42] #2879 closed

[2020-06-30 23:43] alexec commented on #2844
Isn't this just `kubectl apply -f stable./...yaml`

[2020-06-30 23:44] alexec commented on #2755
I think this is fixed by #3027

[2020-06-30 23:44] #2755 closed

[2020-06-30 23:44] #2674 closed

[2020-06-30 23:45] alexec commented on #2674
I don't feel this is a problem today.

[2020-06-30 23:45] alexec commented on #2665
We should not allow people to access these tables.

[2020-06-30 23:45] #2665 closed

[2020-06-30 23:45] #2546 closed

[2020-06-30 23:45] alexec commented on #2509
Stale - closing.

[2020-06-30 23:45] #2509 closed

[2020-06-30 23:45] alexec commented on #2322
Answered.

[2020-06-30 23:45] #2322 closed

[2020-06-30 23:46] alexec commented on #2348
Unsupported version.

[2020-06-30 23:46] #2348 closed

[2020-06-30 23:46] alexec commented on #2190
Fixed in #3089.

[2020-06-30 23:46] #2190 closed

[2020-06-30 23:46] alexec commented on #2101
Old bug.

[2020-06-30 23:46] #2101 closed

[2020-06-30 23:47] alexec commented on #2016
`KUBERNETES_NAMESPACE` now supported

[2020-06-30 23:47] #2016 closed

[2020-06-30 23:47] alexec commented on #1707
Stale issue.

[2020-06-30 23:47] #1707 closed

[2020-06-30 23:47] alexec commented on #1617
Stale issue.

[2020-06-30 23:47] #1617 closed

[2020-07-01 00:04] simster7 opened #3361 "UI bug when displaying DAG after refactor"
![image](https://user-images.githubusercontent.com/614838/86188509-aec22600-baf3-11ea-8892-0f184b8ed9b3.png)

[2020-07-01 04:44] liushouxiang commented on #3347
I followed the kubeadm guide ( [here](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl) and [here](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/) ) to create the Kubernetes cluster on **CentOS 7**. According to the kubeadm document:

server logs after curl with or without to

[2020-07-01 06:09] arbielsk commented on #3348
@alexec I'm not sure if I understand the focus of your question correctly. My understanding is that the exitHandler would only be run once - I assume either after the last failure or after the first.

Your question introduces another dimension I haven't taken into account. Since the exitHandler can have multiple steps/tasks in its scope (e.g. if it's on a dag) which information should it get acces

[2020-07-01 13:55] dcherman opened #3366 "Expose internal queue metrics via Prometheus"
# Summary

Right now, we have metrics around how long operations are taking, custom metrics, etc., however very little visibility into the internals of Argo to determine how long any given item is sitting in the workqueue, the depth of the workqueue, etc.

All of these metrics seem to be readily available since we're using the work queue from client-go, we just need to expose them.

https://godoc.

[2020-07-01 15:28] simster7 commented on #3366
I'll look into this one, good suggestion

[2020-07-01 16:11] #3361 closed

[2020-07-01 16:28] #3073 closed

[2020-07-01 20:29] terrytangyuan commented on #2922
@simster7 @alexec cobra supports the autogeneration of docs. I can help with this too if needed. Would markdown files be okay?

[2020-07-01 20:45] alexec commented on #2922
This will be closed by #3369

[2020-07-01 20:46] alexec commented on #2922
What might be good too is autogeneration of Swagger markdown.

[2020-07-01 20:47] alexec commented on #2922
https://github.com/mkdocs/mkdocs/wiki/MkDocs-Plugins

[2020-07-01 20:56] terrytangyuan commented on #2922
Oh cool didn't know that it's already being worked on.

Do you mean generating markdown from `api/openapi-spec/swagger.json`? Any suggested tools?

[2020-07-01 20:57] ajcann opened #3374 "Step marked as "Phase: Succeeded" has failed exit code and parent marked as failed"
**What happened**:

When a pod is evicted due to spot revocation, the pod message is "failed with exit code 137" or "pod termination" but in either case the node phase is marked as "Succeeded". The parent node's phase then becomes "Failed" with "child '[name of child]' failed".

**What you expected to happen**:

The child node phase should be 'Error' and the retryStrategy which is 'OnError' should

[2020-07-01 21:34] alexec commented on #2922
I actually figured it out:
https://argoproj.github.io/argo/swagger

[2020-07-01 21:35] terrytangyuan commented on #2922
Nice that looks great!

[2020-07-01 22:45] #2617 closed

[2020-07-01 23:53] #1267 closed

[2020-07-01 23:53] Bobgy commented on #1282
I'd still want this open. This is valuable for kubeflow pipelines multi tenant support, because api server needs to be protected by istio. Having istio sidecars in workflows allow in cluster api calls from workflows.

[2020-07-02 01:46] #1544 closed

[2020-07-02 03:28] #3192 closed

[2020-07-02 04:44] Ark-kun commented on #944
@jessesuen
Thank you for your work on designing this.

In KFP we've recently implemented execution caching on top of Argo using a Kubernetes Mutating admission controller webhook. Having native support in Argo would be much better.

We have cache reuse turned on by default.
The cache key is calculated based on certain parts of Argo template (`inputs`, `container.{image,command,args,env, volumeMoun

[2020-07-02 06:17] Ark-kun commented on #990
This might still be useful.

[2020-07-02 06:33] ajitspendse commented on #3188
Thanks @sarabala1979. We will give it a try.

[2020-07-02 06:33] #3188 closed

[2020-07-02 07:14] jerr0328 commented on #1292
I'm closing since this hasn't had any activity, and I don't use argo anymore.

[2020-07-02 07:14] #1292 closed

[2020-07-02 09:28] damianoneill commented on #716
Guys I've tried above with the following config

[code]

In the deployment

[code]

When I hit the url I get the following

[code]

Which shows a blank page.

Looking at the logs for the argo-server I can see that the href has been set correctly.

[code]

Any help much appreciated.

[2020-07-02 12:13] AleksanderGondek commented on #716
@damianoneill

I would assume that browser console, will show you error message about unexpected "<" character.
What helped me, was typing "https://xxx.xxx.xxx/argo/" (notice the '/' at the end).
I hope this will help you :)

[2020-07-02 12:16] damianoneill commented on #716
Thanks @AleksanderGondek for the response

I had already tried the URL with the trailing / unfortunately, this made no difference.  The same page source in the curl message above was returned.

[2020-07-02 12:19] AleksanderGondek commented on #716
If I may suggest a way of debuging - curl for "https://xxx.xxx.xxx/argo/main.f695bd97cdc8c6e16c91.js".
I think the reason the website is not loading, is due to html file being loaded instead of javascript file.
If the link for the js file is working in curl, I would try cleaning browser cache and hard-reloading website.

[2020-07-02 12:24] damianoneill commented on #716
Thanks.

Yeah, the js file is redirecting to the html file, rather than retrieving the javascript.

[code]

[2020-07-02 12:27] AleksanderGondek commented on #716
I am not sure this will help, but my functioning deployment has a nginx-ingress rewrite defined differently:

[code]

[2020-07-02 12:39] damianoneill commented on #716
Thanks @AleksanderGondek that worked perfectly.

[2020-07-02 14:20] mark9white opened #3378 "DAG tasks that use withItems are always seen as 'Succeeded' even when skipped"
Checklist:

 * [X] I've included the version.
 * [X] I've included reproduction steps.
 * [X] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

If you have a DAG task with a 'false' when condition (so it will be skipped), and it uses withItems to pass a map into it, then it will be seen by its dependencies as 'Succeeded'.

**What you expected to happen**:

DAG ta

[2020-07-02 14:32] hadim opened #3379 "Remote ingress access broken on 2.9.0"
I tried 2.9.0 and when trying to access the UI from outside the cluster (using an ingress on GKE), I got a 404 error (the server does not respond to the request).

Everything works fine with 2.9.0-rc4. I don't know whether it's a configuration change or a bug. I looked at the changelog and can't see anything obvious.

Here is the manifest I use:

[code]

The only thing I have changed between my te

[2020-07-02 14:33] hadim commented on #3379
Also, I looked at the logs of `argo-server-remote` but don't see anything. Last `argo-server-remote` has a replica value of 3.

[2020-07-02 15:09] TrevorNodeJS opened #3380 "375 Cron workflow cannot be executed on 48 2 2 7 * and some cron workflow was added after 48 2 2 7"
Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
375 Cron workflow cannot be executed on 48 2 2 7 *
**What you expected to happen**:
375 Cron workflow should be executed on 48 2 2 7 *
**How to reproduce it (as minimally and precisely as possible)**:
create 375 below cron

[2020-07-02 15:13] simster7 commented on #3380
Did you consider the timezone of the cronworkflow when testing this?

[code]

[2020-07-02 15:27] sarabala1979 commented on #3374
@ajcann I am not able to reproduce the issue with the below examples.  Let me know  if I am missing anything

[code]

[code]

[2020-07-02 15:45] sarabala1979 opened #3381 "Running pods are getting deleted in PodGC strategy: OnPodSuccess"
Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- Argo version:
[code]
- Kubernetes version :
[code]

**Other deb

[2020-07-02 15:50] alexec commented on #3379
I'm afraid we're not able to diagnose GKE issues because we don't run it ourself. You you please check your argo-server logs?

[2020-07-02 15:51] alexec commented on #3378
@simster7 could you investigate in case this is due to DAG changes?

[2020-07-02 15:52] alexec commented on #2602
I think we should document this.

[2020-07-02 15:53] alexec commented on #2602
#3369

[2020-07-02 15:54] alexec commented on #1092
While old, this feels like a valid feature request.

[2020-07-02 16:00] hadim commented on #3379
As I said `argo-sever` logs show nothing.

You haven't noticed anything special on your cluster(s) trying to access argo from outside using an ingress object? If you didn't then I guess it's GKE specific.

Also, can you think of any PRs/commits between 2.9.0-rc4 and 2.9.0 that would have introduced this behavior?

I will try to investigate more on my side next week.

[2020-07-02 16:17] mnaseef-gloo commented on #1535
Any chance this might be resolved some day, or should I just let it get dropped?

[2020-07-02 16:18] mnaseef-gloo commented on #1535
I just noticed that issue 1589 may have resolved this - I'll test and close this if so.

[2020-07-02 20:20] alexec opened #3383 "CLI unusable without KUBECONFIG"
It should be possible to use the CLI without having a valid KUBECONFIG, by setting ARGO_SERVER and ARGO_TOKEN, but this is not the case :(

[code]

[2020-07-02 20:23] nbren12 commented on #1152
I think workflow templates are the right answer, so feel free to close this issue.

[2020-07-02 20:39] alexec commented on #3383
See #2793.

[2020-07-02 20:47] terrytangyuan opened #3384 "Proposal: Enhanced Time-based Workflow Filtering"
# Summary

Introducing additional flags for Argo CLI to enhance existing functionality of workflow filtering.

# Motivation

Per discussions [here](https://github.com/argoproj/argo/pull/3340#discussion_r448500398), the current implementation of the following two flags `--since` and `--older` for `argo list`, when used jointly, can cause confusion and users might interpret it in different ways. Rec

[2020-07-02 22:17] alexec commented on #3384
what about `--started-after` `--finished-before` - i.e. mention the field

[2020-07-03 01:56] TrevorNodeJS commented on #3380
@simster7 I had issue that "Cron Workflow was added into Cron Workflow Queue too later, and this cause Cron Workflow could not be executed on time on my production system"

yes, the testing data is wrong in this issue. I close this issue.

Try to reproduce the issue again.

thanks a lot.

Best regards,
Trevor

[2020-07-03 01:56] #3380 closed

[2020-07-03 06:43] #1152 closed

[2020-07-03 09:40] gordonbondon commented on #1685
I'm experiencing a similar issue where `script` outputs from `valueFrom.path` don't work when referenced inside `when`, `withParam`, or other step modifiers resulting in `invalid spec: failed to resolve` errors.

They work just fine when passed as input parameters to other steps.

[2020-07-03 14:17] mark9white commented on #3378
btw, here is the yaml of the executed workflow.

**A(0:bar:foo,foo:bar)** is set to Skipped but its parent TaskGroup **A** is set to Succeeded.

[code]

[2020-07-03 17:45] hadim commented on #3379
Don't know what you guys did but 2.9.1 solved this issue.

[2020-07-03 17:45] #3379 closed

[2020-07-03 19:06] terrytangyuan commented on #3384
@alexec It's an option but there will be more flags since there are several different phases to cover.

[2020-07-04 14:47] hadim opened #3387 "`argo submit --log` fails on 2.9.1"
Using argo 2.9.1:

[code]

returns:

[code]

Associated PR is https://github.com/argoproj/argo/pull/3279

[2020-07-04 14:48] hadim commented on #3387
Ok I just realized on the PR it is planned for 2.9.10.

[2020-07-04 14:48] #3387 closed

[2020-07-05 15:04] afritzler opened #3388 "Getting "does not exist in archive" error when tying to store file in S3 output archive"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

Not sure if this a bug or my stupidity :-)

I am trying to run this sample workflow which should zip up and write a file into my minio setup within the same cluster

[code]

Unfortunatelly the workflow fails with this err

[2020-07-05 16:00] logicfox commented on #1498
This issue is still relevant

[2020-07-05 17:22] salanki commented on #2831
As I understand it, currently, global parameters in a `WorkflowTemplate` are not usable when used as a `templateRef`? There was some discussion around it here: https://github.com/argoproj/argo/issues/2559#issuecomment-611042520. It would be really useful to be able to use global parameters in WFTs when used as `templateRef`. This will make them more reusable (as they can be treated both as WFs and

[2020-07-05 23:21] alexec commented on #1498
This may have been fixed in v2.10. Can you please try with `:latest`?

[2020-07-05 23:24] alexec commented on #2790
Recently we changed the swagger. `Item` is arbitrary JSON, and swagger should reflect that.

[2020-07-05 23:24] #2790 closed

[2020-07-06 06:28] #3381 closed

[2020-07-06 12:18] saiyidi commented on #1757
@ambsFlip were you able to do it? If yes, can you post how?
 it will help me a lot.

[2020-07-06 13:01] volodyad opened #3390 "How to clear artifacts"
we are using minio as artifacts storage,
when flow is completed, i have manually delete the job (e.g. artifact-passing.yaml),
but in minio artifact is still present

Artifacts is ephemeral, and not needed after flow exectued.

What is the flow of deleting old artifacts?
Do we need to use artifacts at all, in case they are ephemeral? Maybe better to use pvc claims?

[2020-07-06 14:26] zachaller opened #3391 "fatal error: concurrent map read and map write"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**: Workflow Controller restart with: fatal error: concurrent map read and map write

**What you expected to happen**: The controller to stay running.

**How to reproduce it (as minimally and precisely as possible)**: Not sure

[2020-07-06 14:34] zachaller commented on #3391
Looks like it might be this commit: https://github.com/argoproj/argo/commit/2ab9495f0f3d944243d845411bafe7ebe496642b

[2020-07-06 14:48] zachaller commented on #3391
Looks like this PR caused it: https://github.com/argoproj/argo/pull/3350

[2020-07-06 18:24] #2868 closed

[2020-07-06 20:02] ashrafgt opened #3393 "Accessing artifacts of an entrypoint dag step from an exit handler step"
# Summary

I'd like to know if it's possible to access artifacts from a step in the main (entrypoint) DAG from a step in an exit handler DAG.

# Motivation

The purpose is to recover some checkpoint files in case a step fails, then report them to another service via the exit handler.

# Attempt

This snippet below demonstrates what I'm trying to achieve:
The entrypoint is a single-step DAG, which

[2020-07-06 21:06] louiscpalma commented on #2784
I've been looking for similar functionality in Argo and ultimately resorted to using [global outputs](https://github.com/argoproj/argo/blob/master/examples/global-outputs.yaml) as a workaround. I don't believe this works for `onExit` steps though, and also becomes problematic with templated steps since they can't share the same `globalName`.

Luckily this is sufficient for my use-case right now, b

[2020-07-07 05:10] zhujiangyou opened #3394 "generate-artifact failed to save outputs:"
`     ├-⚠ generate-artifact(2) (docker-task)  offline-docker-task-nl9vb-1772027110  22s  failed to save outputs: Pod "offline-docker-task-nl9vb-1772027110" is invalid: spec: Forbidden: pod updates may not change fields other than `spec.containers[*].image`, `spec.initContainers[*].image`, `spec.activeDeadlineSeconds` or `spec.tolerations` (only additions to existing tolerations)
  core.PodSpec{

[2020-07-07 08:14] arbielsk commented on #3393
I think you should be able to do this by declaring the output artifact of the main step with a globalName.
Reference: https://argoproj.github.io/argo/fields/#outputs (search for globalName)

[2020-07-07 08:29] arbielsk opened #3395 "onExit handlers of DAG-task (A) never called if there is another DAG-task (B) depending on DAG-task (A)"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
I created a dag where each task has an exit handler. In the example below, step-3 depends on step-2. The onExit handler of step-2 is never called. However the onExit handlers for step-1 and step-3 are called as expected.

[2020-07-07 09:16] arbielsk commented on #3348
I've reflected on my initial requirements and I believe a scalable, flexible solution could be as follows.

As I understand it, currently exitHandlers are only defined by 'onExit' with a direct reference to a template within the same workflow declaration.

I believe from a user's perspective this limits options and makes some things more tedious than they should be:
1. If I want any parameters for

[2020-07-07 11:39] jamesgunnfiveai opened #3396 "Script steps fail with exceededQuota"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
Parallel steps that would take the workflow over the cluster CPU limit (set at 64) fail to schedule and error the workflow when defined using `script`:
Error is
`pods "quota-test-698219065" is forbidden: exceeded quota: co

[2020-07-07 12:35] smolaon opened #3397 "Argo does not work when iframe"
Checklist:

 * [ x] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
When accessing argo server via iframe we got message
```Refused to display 'https://xxx/workflows/' in a frame because it set 'X-Frame-Options' to 'deny'.```

**What you expected to happen**:
I would like to have option t

[2020-07-07 13:14] ashrafgt commented on #3393
@arbielsk Thank you for your reply.

I unsuccessfully tried adding the `globalName` field to the template that exports the artifact, then I used the syntax from the documentation to access it as `{{io.argoproj.workflow.v1alpha1.outputs.artifacts.checkpoint}}` from the exit handler.

Could you please review the revision of my demo workflow? (changes in lines 25 and 31)

[code]

[2020-07-07 13:35] arbielsk commented on #3393
Your workflow works for me if you replace `{{io.argoproj.workflow.v1alpha1.outputs.artifacts.checkpoint}}` with `{{workflow.outputs.artifacts.checkpoint}}`.

Of course you also need to have a artifact repository configured.

I also have a request for enhancement open to enhance onExit handler functionality. If it's also relevant for you, I'd love to get your upvote for greater visibility: https://

[2020-07-07 14:28] ashrafgt commented on #3393
Fantastic, that worked. Thank you for your help.
Regarding your suggestion, it seems like your potential use-cases for the exit handler are a bit different (as in, more complex) than how they're intended to be used, but I'd like to see them discussed a bit more.

[2020-07-07 14:28] #3393 closed

[2020-07-07 14:29] lukaslentner opened #3399 "Cannot download artifacts from argo server ui (s3 repository artifact): The requested range is not satisfiable"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
I ran the https://argoproj.github.io/argo/examples/#artifacts example and cklciked on the generating pod in the argo ui. Then it takes some time and I get a white screen with "timed out waiting for the condition"

**What y

[2020-07-07 14:46] jjtroberts opened #3400 "v2.9.0 workflow-controller OOM Killed"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
We upgraded from v2.4.3 to v2.9.0 and our heaviest process hung due to the workflow-controller consuming all available memory on the node, resulting in the oom killer reaping the pod +200 times. When I attempted to termina

[2020-07-07 14:54] alexec commented on #3397
This is intentional. You cannot embed for security reasons.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options

[2020-07-07 14:57] alexec commented on #3396
@sarabala1979 can you please investigate?

[2020-07-07 14:57] alexec commented on #3395
@simster7 can you please investigate?

[2020-07-07 15:05] simster7 commented on #3397
Perhaps we should make this configurable? I know @ericmeadows also wants to embed

[2020-07-07 15:06] jjtroberts commented on #3400
Any chance this is related to a fix in v2.9.1?

"fix: Running pods are garaged in PodGC onSuccess"

[2020-07-07 15:09] alexec commented on #3397
I'm happy for someone to submit a PR to make this configurable.

[2020-07-07 15:10] alexec commented on #3388
[code]

[2020-07-07 15:14] alexec commented on #3343
This is a constraint placed by Kubernetes on resource size. It cannot be fixed. Instead, you can use a artifact for large parameters.

[2020-07-07 15:18] ericandrewmeadows commented on #3397
I would love to - I'm currently waiting on internal approval to contribute to OSS.  :/.

[2020-07-07 15:21] alexec commented on #3347
Testing locally using K3S:

[code]

Interesting, this affects the `GetVersion` endpoint because it does not make a K8S API request and that's where we check authentication. By convention, API request should be secured, so this is an interesting edge case, and I'm not sure how we would secure it, because can only check RBAC by making a K8S API request - but for what? There is no `version` resource

[2020-07-07 15:28] alexec commented on #3400
@jjtroberts you say v2.9.0 in the description, but v2.9.1 in your message. Can you confirm if you have tested with v2.9.0 and v2.9.1 please?

[2020-07-07 15:37] alexec commented on #3390
Good question. We don't have any guidance on how to clean up your artifacts.

@jessesuen ?

[2020-07-07 15:42] alexec commented on #3399
This is a another example where we should be streaming artefacts. See #3189

[2020-07-07 15:57] jjtroberts commented on #3400
I saw the fix in v2.9.1 release only after posting this bug and am currently testing that version. The OOM killer occurred in v2.9.0. I'll update once I know more about v2.9.1 results.

[2020-07-07 15:59] alexec commented on #3400
Thank you.

[2020-07-07 16:00] alexec opened #3402 "Support large artifacts"
# Summary

We don't work well with very large artifacts.

# Motivation

When using large artifacts.

# Proposal

Allow artifact drivers to optionally implement these interfaces:

[code]

See #339, #1322, and #3189

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-07-07 16:12] alexec commented on #3402
Hmmm. Not sure this is fixable. Almost all drivers read and write to a path. Examples:

* S3 - PPutObject would support writing stream
* `git clone ...`
* `curl -o path`
* HDFS - mounts path
* OSS - GetObjectToFile
* GCS - uses io.Reader - well done Google!

[2020-07-07 16:51] simster7 commented on #3378
This is actually the current expected behavior. In the example you posted, task `A` is actually a `TaskGroup`, not an individual task. A `TaskGroup` is a node responsible for spawning child nodes when a task has `withItems` or similar set. The `when` field of the `TaskGroup` is not actually enforced to the task group itself, but instead it is enforced in each child node that it spawns. This makes

[2020-07-07 16:52] simster7 commented on #3378
This is unrelated to the DAG changes.

[2020-07-07 17:03] jjtroberts commented on #3400
At the end of the recursive step in v2.9.1, memory still exceeds node capacity:
![image](https://user-images.githubusercontent.com/18486187/86816748-d19b8f80-c049-11ea-8412-c8852438aa4f.png)

[2020-07-07 17:23] alexec commented on #3378
label as `invalid`?

[2020-07-07 18:25] dcherman commented on #3390
FWIW, this is likely a duplicate of https://github.com/argoproj/argo/issues/3102

The case where the artifact repository is well known (like in your own installation) is pretty easy to handle - you can use a well-known keyFormat, then run a CronJob/CronWorkflow that periodically compares what exists in your artifact repository versus what Workflows exist (or have been archived) and delete files fr

[2020-07-07 18:26] #3391 closed

[2020-07-07 18:33] dcherman opened #3404 "Custom Metrics w/ retryStrategy does not work"
**What happened**:

When attempting to emit custom metrics from a template that also defines a `retryStrategy`, no custom metrics are emitted.

**What you expected to happen**:

Custom metrics should be emitted (and in the case of duration, should likely be the sum of all child nodes).

**How to reproduce it (as minimally and precisely as possible)**:

Create an environment running the latest rele

[2020-07-07 18:41] sarabala1979 commented on #3404
@simster7  I will work on this Issue. you can review it.

[2020-07-07 18:47] alexec commented on #3390
Is there anyway to set a TTLS of files in a bucket?

[2020-07-07 18:59] simster7 opened #3405 "Allow TaskGroup nodes status to better reflect skipped nodes when using expansion"
See: https://github.com/argoproj/argo/issues/3378#issuecomment-654991693

[2020-07-07 19:00] simster7 commented on #3378
Hi @mark9white, I just spoke with the team. We found a workaround for your current use case: simply rest the template into a deeper call and leave the `when` condition in the parent template:

[code]

With regards to being able to select for `any` or `all` I opened a separate issue to track this: https://github.com/argoproj/argo/issues/3405

[2020-07-07 19:47] jjtroberts commented on #3400
I tested with v2.8.2 and the workflow has finally progressed past its point of failure in v2.9.x:
![image](https://user-images.githubusercontent.com/18486187/86834733-c7d15680-c060-11ea-90be-64c23bd2c2ff.png)

[2020-07-07 20:01] #3395 closed

[2020-07-07 20:51] #3366 closed

[2020-07-07 21:25] Point-less opened #3409 "withParam/arguments is escaping items"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

Upgraded from 2.2.1 to 2.9.1 and tried to run a workflow which was flawlessly running in the previous version with no luck. After inspecting the steps, it seems that the iteration of withParam is escaping the arguments, s

[2020-07-07 21:41] alexec commented on #3409
Ampersand `&` is replaced with unicode for ampersand `\u0026`.

[2020-07-07 21:43] alexec commented on #3409
See:

https://stackoverflow.com/questions/24656624/golang-display-character-not-ascii-like-not-0026
https://stackoverflow.com/questions/28595664/how-to-stop-json-marshal-from-escaping-and/28596225

[2020-07-07 21:49] alexec commented on #3409
So this is some pretty fundamental Golang stuff and the fix may not be easy - or even possible.

[2020-07-07 21:50] alexec commented on #3409
This test passes:

[code]

[2020-07-07 21:50] alexec commented on #3409
@alexmt @jessesuen @sarabala1979 have you seen this problem before? Some core Golang escaping of ampersands breaking JSON encoding.

[2020-07-07 21:59] Point-less commented on #3409
Other than the ampersand, %Y gets replaced by %!Y(MISSING) in my workflow, which is really bad.

[2020-07-07 22:03] alexec commented on #3409
Do you have an example of this YAML please?

[2020-07-07 22:13] alexec commented on #3400
[code]
@simster7

[2020-07-07 22:13] alexec commented on #3400
[code]

[2020-07-07 22:14] Point-less commented on #3409
Something like this:
[code]

executed:
[code]

[2020-07-07 22:15] alexec commented on #3400
[code]

[2020-07-07 22:15] alexec commented on #3400
https://www.freecodecamp.org/news/how-i-investigated-memory-leaks-in-go-using-pprof-on-a-large-codebase-4bec4325e192/

[2020-07-07 22:15] alexec commented on #3400
![profile001](https://user-images.githubusercontent.com/1142830/86849575-bee28400-c064-11ea-9ed8-8901f1bafff8.png)

[2020-07-07 22:39] alexec commented on #3400
[spring.yaml.txt](https://github.com/argoproj/argo/files/4887465/spring.yaml.txt)

[2020-07-07 23:17] alexec commented on #3409
so you `argo submit my-wf.yaml -p 'commands=[{"image": "_", "command": "export CURRENT_DATETIME=\"`date +%Y%m%d%H%M%S`\" && kubectl patch configmap cache-breaker -p \"{ \\\"data\\\" : { \\\"cache-breaker\\\" : \\\"${CURRENT_DATETIME}\\\"}}\" -n default"}]'`?

[2020-07-07 23:18] Point-less commented on #3409
yeap
on argoUI on the root node it shows the command as unescaped and on the execute-command step it's escaped

[2020-07-07 23:32] alexec commented on #3409
So this works for me ok:

[code]

[code]

[2020-07-07 23:33] alexec commented on #3409
There are two issues contained in this single issue. That will get confusing so we should probably split it at some point.

[2020-07-08 00:15] Point-less commented on #3409
Upgraded to 2.9.1 again to test this case and this is the result

![image](https://user-images.githubusercontent.com/4967603/86858319-ccb0fd00-c096-11ea-9835-039041b49f1d.png)
![image](https://user-images.githubusercontent.com/4967603/86858283-bd31b400-c096-11ea-85e7-2fa4fdcbbb45.png)

So, the two issues are the escaping of & (or other characters) and the escaping of %Y ?

[2020-07-08 00:26] #2077 closed

[2020-07-08 00:50] Jacky2Wong opened #3410 "lifecycle hooks not running"
Lifecycle hooks do not appear to be running with Argo.

Reproducible example:

[code]
I tried to find them using `argo logs` and `kubectl logs` in the wait and main containers but I still wasn't able to find any output of "HI HI HI HI HI" .

I also tried it using webhooks in slack in case the logging was strange but wasn't able to get it working.
[code]

[2020-07-08 01:03] zhxu73 opened #3411 "curl log REST endpoint causing memory error"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

Argo server hit a `invalid memory address or nil pointer dereference` when query the `/api/v1/workflows/{namespace}/{name}/{podName}/log` REST endpoint
[code]

**What you expected to happen**:

returning actual logs of th

[2020-07-08 01:26] #1583 closed

[2020-07-08 02:32] Ark-kun commented on #944
Do you think it would be useful to have some sensible default like `container` + `inputs`?

[2020-07-08 06:29] Azolo opened #3412 "(SSO) OIDC request asks for non-standard groups scope"
With SSO enabled and argo-server 9.2.1, authentication with AzureAD returns an error that the scope `groups` doesn't exist on the resource.

I think you're trying to get the `groups` claim to be able to map it to some form of RBAC in the future. However, the `groups` scope is probably an implementation detail for some provider(s) to include the `groups` claim in the JWT and isn't standard.

The `g

[2020-07-08 07:06] Techyuvi opened #3413 "Argo's pod drop older logs after completed"
Hi team I have one pipeline which running on argo. it contains seven pods which handle different part of pipeline. one of among pod which take around 6 to 7 hours to complete if I see logs of this pod it truncate older logs and replace it with new logs. to verify this I look other pod's logs which take around 1 to 2 hours, and I am able to see all logs.
So, how can I get all my logs for that longe

[2020-07-08 07:57] zhujiangyou commented on #3394
I've solved this problem.

[2020-07-08 07:57] #3394 closed

[2020-07-08 08:36] maryoush opened #3415 "Unable to run step when k8s cluster's podsecuritypolicy has rule: 'MustRunAsNonRoot'"
Hi

we have issue running out step templates.

The setup looks following  :

* Argoworklow 2.8
[code]

* runs on k8s cluster version 1.17x

[code]

with istio installed

we have step template

[code]

which  fails to start when given PodSecurityPolicy is applied

[code]
The PSP is bound to serviceAccount argo via clusterrole

[code]

There was a ticket solving the security context injection to wai

[2020-07-08 12:16] aviklai opened #3416 "Error syncing pod "argo/my-pod": generic::unavailable: pod "argo/my-pod" not found after refresh"
Hi,

I have tried to run a stress test on my argo v2.9.1 cluster which included running 1000 workflows.
3 of them are stuck on running after almost 24 hours.
I checked the logs and this is the error that I get:
Error syncing pod "argo/my-pod": generic::unavailable: pod "argo/my-pod" not found after refresh

Pod "argo/my-pod" found in snapshot: podfinder.entry{sandboxUID:"0dca60508027ee92b5ecb2fac4

[2020-07-08 13:00] TekTimmy opened #3417 "workflow step name in keyFormat for archiveLogs"
# Summary
I would like to use `{{step.name}}` in `keyFormat` definition when using `archiveLogs: true`.

# Motivation
Currently the only way to separate the logs from a single workflow and preventing Argo from overwrite the logs from the preceding workflow steps I have to use `{{pod.name}}`. This requires searching through all log files in each pod name folder to find the right output.

# Proposal

[2020-07-08 13:02] KPostOffice commented on #3396
I'm running into the same issue with template refs even when those refs are to containers.  It occurs when scheduling some number of workflows not just one, the workflow should remain in the pending state but it appears to try to obtain resources for the first step before entering the pending state causing all workflows after a certain amount to `Error`

[2020-07-08 14:50] jamesgunnfiveai commented on #3396
@KPostOffice - you must make sure you are using the `resubmitPendingPods: true` on the templates that might exceed the quota. If that is not set, they will error. If even with that set you're still seeing failures, I think that is a separate bug ticket to this one.

[2020-07-08 15:27] alexec commented on #3409
correct - they are different problems

* & is due to Golang core JSON library and how our GRPC layer uses it - I'm not sure this is fixable
* %Y is something else - I've not managed to repo

[2020-07-08 15:34] alexec commented on #3416
Can you confirm if your workflows work with v2.8.2 so we can determine if this is a regression?

[2020-07-08 15:34] alexec commented on #3415
@sarabala1979 could you take a look please?

[2020-07-08 15:37] alexec commented on #3413
I don't have much time to look into this today I'm afraid. There isn't anything special about how Argo runs pods. It maybe your underlying Kubernetes is dropping them. We have all our logs written to Splunk for posterity.