[2022-08-29 20:09] juliev0 commented on #9434
Thanks so much for doing this. So, if you compare your actual nodes to your URL which contains the node ID:
your actual node ID based on your Workflow Status is formatted like this: "wl-networking-cron-1661794800" (one number at the end), while your URL seems to think the node ID is formatted like this: "wl-networking-cron-1661794800-3834357891" (two numbers at the end).

I am assuming all of that

[2022-08-29 20:11] tico24 commented on #9434
Yes I applied it to both servers.

[2022-08-29 20:51] juliev0 commented on #9434
I tried running the same dag-coinflip Workflow with POD_NAMES=v1, and click on 'try getting logs from artifacts' link, and it works just fine.

[2022-08-29 20:53] tico24 commented on #9434
While I'm pleased for you, I promise it doesn't work for me.

[2022-08-29 21:01] juliev0 commented on #9434
Sure. And we'll need to figure out the difference in your case. I am going to start with resolving the bug I did find because I know how to progress with that.

If you're able to provide some Workflow that I can reproduce with, that doesn't contain your sensitive details, it will help. Or otherwise, I can fix this issue, we'll put out RC3 and you can see if it magically gets fixed for you or not.

[2022-08-30 05:19] omriarieli commented on #9429
Closing this, if anyone sees this you need to be running v3.4 and using gcs through s3 api and not native gcs api im guessing because of [this](https://github.com/argoproj/argo-workflows/issues/8489). In order to display my report i had to override the default content security policy, stumbled upon [this comment](https://github.com/argoproj/argo-workflows/issues/8492#issuecomment-1110319127) which

[2022-08-30 05:19] #9429 closed

[2022-08-30 05:55] tim-sendible commented on #9434
It happens with literally any workflow. Here's a hello-world for your enjoyment (this is with POD_NAMES set to "v1" again, and on workflows 3.4-rc2):

Url: `https://argo-workflows.mycompany.biz/artifact-files/ci/workflows/awesome-whale/awesome-whale-706501815/outputs/main-logs`

All the yaml:

[code]

[2022-08-30 06:24] tim-sendible commented on #9434
I attempted to create you a k3d cluster with my config, but using minio, and this works, I saw the logs as expected. So the issue seems to be explicitly something to do with S3, I suspect something to do with IRSA.

The other thing I didn't have locally was a postgres backend for workflow archiving, but I don't see how that should affect things.

[2022-08-30 06:53] tim-sendible commented on #9434
Back in normal cluster land, I enabled debug on the argo-server, and it's now throwing 'access denied', which is something more useful to go on:

[code]

The bucket policy allows access to anything in the bucket to this user... and, as a reminder, accessing the logs for the exact same workflow works in 3.9.

That GET path (`my-artifacts/2022/08/30/wl-networking-cron-1661840400/wl-networking-cron-1

[2022-08-30 07:01] tim-sendible commented on #9434
For completeness, I disabled archiving (and log archiving because I wasn't sure which you explicitly wanted me to disable) and tried again both with IRSA and old-school keys.

I still can't see the logs, but this time, on both occasions, I got the more generic `"Artifact Server returned internal error" error="artifact not found: main-logs"` I did NOT get the Access Denied error.

[2022-08-30 10:50] prasad-1729 opened #9469 "Frequent errors on OwnerReferencesPermissionEnforcement and TLS"
We are using Argo Workflow version-3.3.2 (helmChart -0.15.1) in OpenShift Cluster, we are getting below errors frequently

Error Message : step group deemed errored due to child sample-test.onExit[0].exit-time error: Internal error occurred: admission plugin "OwnerReferencesPermissionEnforcement" failed to complete validation in 13s

Error (exit code 1): Get net/http: TLS handshake timeout

Any id

[2022-08-30 11:00] Rachel-Rabinowitz commented on #7698
When will that be available for use
we really need that.

[2022-08-30 15:24] Nizar-opt commented on #9417
Hi @sarabala1979. Just following up on this issue

[2022-08-30 15:28] sarabala1979 commented on #9417
We will take a look

[2022-08-30 15:34] Nizar-opt commented on #9417
Thanks!

[2022-08-30 15:45] sarabala1979 commented on #9469
please  reach out
[argo-helm](https://github.com/argoproj/argo-helm)

[2022-08-30 15:57] #9394 closed

[2022-08-30 15:59] #8921 closed

[2022-08-30 16:11] juliev0 commented on #9434
Thanks so much for all of the trials. Some questions for clarification:

1. With all of these recent experiments you were using POD_NAMES=v1, right?
2. If we look at the experiment in which you got "Access Denied" error instead, the only real difference from the original experiment is POD_NAMES=v1, right? (other than enabling debug logs)
3. By "old-school s3 keys" you mean that your workflow-contr

[2022-08-30 16:14] tico24 commented on #9434
The short answer for all these questions is "you will need to use actual s3 to recreate this issue"

1. Yes
2. It's only enabling debug logs. I had already had v1 pods set since our previous discussion.
3. Yes. And using keys in secrets.
4. Yes the get call. You know my expected path from the one that was successful.

[2022-08-30 16:51] tico24 commented on #9434
This is extremely unlikely to have suddenly been fixed.

[2022-08-30 17:52] sarabala1979 commented on #9417
@Nizar-opt Can you try with 3.4-rc2?
Issue is fixed #8907

[2022-08-30 19:32] juliev0 commented on #9434
So, I'm looking at this error:
time="2022-08-30T06:32:23.296Z" level=info msg="Check if directory" artifactName=main-logs duration=201.536744ms error="Access Denied" key=my-artifacts/2022/08/30/wl-networking-cron-1661840400/wl-networking-cron-1661840400-761184035/main.log

The new endpoint does a call to S3 to "List Objects", which is getting called here. Is it possible that your arn permissions e

[2022-08-30 19:34] tico24 commented on #9434
From memory, yes. I think we only have Get permissions. I will confirm in the morning (and test by adding List too).

[2022-08-30 20:17] prasad-1729 commented on #9469
Thanks @sarabala1979 , raised in [#1433](https://github.com/argoproj/argo-helm/issues/1433)

[2022-08-30 22:10] dpadhiar commented on #9461
This may be an error with the CRD installation, could you try reapplying these and reporting back if the error occurs?

[2022-08-30 22:57] #9345 closed

[2022-08-30 23:33] dpadhiar commented on #9460
Hi @uhlajs this is what I am seeing from the controller when I submitted your workflow. There isn't support for slashes in labels. This is intended according to Bala.

cc: @sarabala1979

[code]

[2022-08-30 23:50] AlanD88 opened #9474 "Multiple references to consecutive withParam in same workflow will fail."
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

When using withParam to read values from a json file written by previous steps, the workflow will fail to parse the json file upon the 3rd consecutive reference to withParam.

To emphasize the issue, i have written a test workflow with the 2nd task calling with

[2022-08-30 23:57] jatinkumarg opened #9475 "Unable to fetch output from previous task"
### Checklist

- [x] Double-checked my configuration.
- [x] Tested using the latest version.
- [x] Used the Emissary executor.

------------------------------

I have a workflow with dag with two tasks. From the first task, I'm expecting the output `630e8f72f2718e75edb90015` but instead getting this error while passing the output result to the second task:

[code]

First I thought its access issue

[2022-08-31 04:31] kevinpauli commented on #5506
I too am attempting to use http template, and would like to set the authorization header using a value from a secret.

[2022-08-31 05:57] tim-sendible commented on #9434
`ListObject` is not a bucket attribute.

I set the permissions to `"*"` to test and still get the same error.

[2022-08-31 06:09] tim-sendible commented on #9434
[code]

The S3 URI is:
[code]

serviceAccount `argo-workflows-admin-user` does have the correct `eks.amazonaws.com/role-arn` annotation.

And again, to be clear, this all works in workflows 3.3.9. As soon as I roll back, I can see the logs from this workflow.

To avoid back-and-forth, my s3 permissions are:
[code]

[2022-08-31 06:35] tim-sendible commented on #9434
So a small breakthrough...

* If I run a workflow on 3.4-rc2, wait for it to finish.
* When finished. I cannot see the logs in the UI, nor when clicking 'try getting logs from the artifacts'
* However, when I delete the workflow to archive it, and go to the archive screen...
* I CAN see the logs in the UI AND when clicking  'try getting logs from the artifacts'

(The above was performed with POD_N

[2022-08-31 07:05] tim-sendible commented on #9475
Can you share your example workflow? Not sure anyone's going to be able to help based on what you've written here.

What you've said here simply implies that your container doesn't have a shell. This would be unrelated to workflows itself.

[2022-08-31 08:40] johnzhangchangshan opened #9479 "Suspend a step but resume the workflow?"
### Discussed in https://github.com/argoproj/argo-workflows/discussions/9477

<div type='discussions-op-text'>

<sup>Originally posted by **johnzhangchangshan** August 31, 2022</sup>
I was wondering is there a way to resume a specific step/template as  I do not want to resume the entire workflow?
To elaborate,  I have two suspend steps in my workflow.yaml which are running in parallel, however I c

[2022-08-31 11:04] elizabethking2 opened #9481 "Workflow / event pods block scale down"
## Checklist

* [X] Double-checked my configuration.
* [x] Tested using the latest version.
* [X] Used the Emissary executor.

## Versions

- Argo workflows version: v3.3.6
- Argo events version: 1.12.0
- K8s GKE version: v1.21.1

## Summary

After a large event kicked off 100s of workflows several weeks ago, our prod cluster has not been able to scale back down. Both workflow and event pods block

[2022-08-31 13:21] jatinkumarg commented on #9475
I don't think I'll be able to show my whole workflow as it calls a private image so showing the passed params won't be ethical here.

In simple words, when the first task finished and outputs the result to second task, second tasks is unable to fetch the output result from first task and outputs this permission denied error.

It was working fine before but ever since I updated argo version on loca

[2022-08-31 14:16] jatinkumarg commented on #9475
Nvm after some extensive debugging, the issue seems to be something else so closing this. I will reopen it if it appears again.

[2022-08-31 14:16] #9475 closed

[2022-08-31 14:31] nipuntalukdar commented on #9238
I am also seeing this issue. I noticed when we submit an workflow and after it is completed, we quickly delete it and resubmit the workflow with the same name.

[2022-08-31 15:46] rajaie-sg opened #9482 "archived-workflows API Endpoint Incorrect Return Type"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

In the Argo Workflows server `/apidocs` page, the documentation for the `GET /api/v1/archived-workflows` shows that a response type of `io.argoproj.workflow.v1alpha1.WorkflowList` is expected, similar to what the the

[2022-08-31 15:59] juliev0 commented on #9434
I guess I was looking at [this](https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_examples_s3_rw-bucket.html) link on Bucket configuration.

Will take a look at your other findings...

[2022-08-31 16:01] tico24 commented on #9434
Even on that page. ListObject isn't a thing.

[2022-08-31 16:02] tico24 commented on #9434
listObjectsInBucket is just a sid

[2022-08-31 16:09] juliev0 commented on #9434
but it corresponds to "Action": ["s3:ListBucket"]

Is that Action not available for you? If not, I guess we can just use "*". I am curious if we can at least eliminate the "Access Denied" error from earlier with this.

[2022-08-31 16:10] tico24 commented on #9434
I already did * as I said. This doesn't do anything.

ListObject and ListBucket are two very different things.

[2022-08-31 16:46] sarabala1979 commented on #9481
It looks like more related to the GKE issue.

[2022-08-31 18:08] juliev0 commented on #9434
Sorry if I said the name wrong. Anyway, I see you haven't posed the "Access Denied" error recently, so I guess either you haven't been testing the condition that caused it or that went away. (this error happens further down the food chain from "artifact not found: main-logs".

Thanks again for working so hard to narrow this down. Regarding Workflows vs Archived Workflows, I guess the URLs are form

[2022-08-31 18:10] tico24 commented on #9434
Please can you just get an s3 bucket set up?

I'm not seeing access denied no.

[2022-08-31 18:28] beejiujitsu commented on #5506
I wrote this workflow to work-around the httpTemplate secrets limitation.

You're welcome to modify this `WorkFlowTemplate` to suit your needs.

[code]

[2022-08-31 18:33] gcsfred2 commented on #2852
Is there a way to resume with an argument? That would be necessary if there's a human decision or external data.

[2022-08-31 19:04] juliev0 commented on #9434
Yes, I should get an S3 bucket. I feel terrible that I've asked you to spend cycles trying things out. I have a bunch of things going on, and setting up S3 may be non-trivial, so it may take a few days before that happens. In the meantime, I think the fastest way to move forward will be to expand the "artifact not found" error to include all of the information about the Workflow's status, so we ca

[2022-08-31 20:44] cjyar commented on #9425
Here's the use case I'd like to support:
- `workflowDefaults` contains a `retryStrategy` with `backoff` values, but no `limit`
- Any template with no `retryStrategy` doesn't retry.
- Any template that wants to retry just needs to add `retryStrategy.limit` with some positive number.

I was probably projecting my hopes onto my reading of the `retryStrategy` docs, thinking that if `limit == 0` then n

[2022-09-01 00:51] tooptoop4 opened #9484 "input artifacts are duplicated in argo_archived_workflows.workflow column value"
argo_archived_workflows table stores json blob related to workflow in the 'workflow' column, when i look inside the json i see the input artifacts value are repeated for as many times as there are steps....to save space i think just one instance of each artifact should be stored

[2022-09-01 04:45] hitk6 opened #9485 "errored: Timeout: request did not complete within requested timeout context deadline exceeded"
Receiving `context deadline exceeded` error. This issue occurs intermittently. Facing this issue on multiple customers. We are running k8s clusters on k3s platform.
How can we solve this issue ?

[code]

* [x] Used the Emissary executor.

argo version: v3.2.9

[2022-09-01 05:16] blkperl commented on #9485
Hi @hitk6, I believe that message is returned by the K8s API server. Are you able to review your API server logs to determine what the slow requests might be?

[2022-09-01 07:39] Nizar-opt commented on #9417
@sarabala1979 It works on 3.4.0-rc2, but after upgrading I faced a new issue with the `controller-configmap` so I reverted back to 3.3.9. Should I open another issue for that?

[2022-09-01 11:45] prasad-1729 commented on #9469
@sarabala1979 [argo-helm](https://github.com/argoproj/argo-helm) packages the same repo([argo-workflows](https://github.com/argoproj/argo-workflows)) , correct? or is there any difference?

[2022-09-01 15:13] Fran-Rg commented on #716
I was stuck on this for a moment, the home page was returning HTTP 304 "Not modified" where it had been modified. A hard refresh fixed it. Something to be aware

[2022-09-01 17:59] juliev0 commented on #9434
RC3 is out now, which includes the fix to the POD_NAMES v2 issue and the verbose logging for "artifact not found" error. While I try getting a playground for AWS with S3 bucket, could I bother you to simply run RC3 and:
- remove the settings for POD_NAMES that you added to both argo server and controller
- provide a Workflow spec which gets the "artifact not found" error
- provide all of the relev

[2022-09-01 21:12] krmayankk commented on #7891
A kubernetes pod per workflow is better. We do not want one workflow to affect another workflow. It would be nice to also control in this way the resources for different workflows aka pods(excuting those workflows)

[2022-09-02 05:34] krmayankk opened #9488 "LEADER_ELECTION_IDENTITY is set to the name of the pod, not the real leader"
## Checklist

* [ ] Double-checked my configuration.
* [ *] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

I expected the environment variable LEADER_ELECTION_IDENTITY to contain the identity of the leader. But it had the identity of the pod name only because the yaml has the following:-

- name: LEADER_ELECTION_IDENTITY

[2022-09-02 07:07] frimuchkov opened #9489 "Add more debug info for "invalid memory address or nil pointer dereference""
Hi we get 3-4 errors in WF per day:
[code]

[2022-09-02 09:50] mashriram opened #9490 "I would like a mentor"
**Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).**

Answer: **Yes I have read the mentoring guide.**

**What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?**

Answer: **I have a basic understanding of Go, Kubernetes and Javascript**

**Is there a

[2022-09-02 10:19] tim-sendible commented on #9434
Well this is even more bonkers.

rc3:

- I now see the logs when clicking 'show artifacts' on a non-archived workflow
- I do NOT see the logs in the UI on that same screen. the box is just blank. There is no error (or useful information) in the argo-server logs, even with de=bug enabled:
[code]
- I CAN see the logs when the workflow is archived (both in the UI and when clicking the archive button)

[2022-09-02 10:19] tim-sendible commented on #9433
This is NOT fixed in rc3.

[2022-09-02 10:22] tim-sendible commented on #9434
![image](https://user-images.githubusercontent.com/69461449/188119156-a843e41f-388f-4270-88de-bd059b60ee01.png)

I just noticed that this box is never populated, and whatever you select it remains blank. This probably explains the blank logs in the UI.

That said, it's also always blank on archived workflows, and they show. So maybe it's an unrelated bug. I will raise as such.

[2022-09-02 10:29] tim-sendible opened #9491 "3.4rc3 - Node selector on logs screen is always blank"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary
![image](https://user-images.githubusercontent.com/69461449/188119473-5c73e383-dbed-4991-b598-e6706c04b28a.png)

* With log archiving enabled, run a workflow.
* When complete, choose a node, and click to view the logs.
* As per the screenshot above, the node sel

[2022-09-02 13:07] Fran-Rg opened #9493 "Cron schedule syntax documentation"
# Summary

Documentation for the Description of the "schedule" in CronWorkflow is laking a reference to the actual syntax format: "Schedule at which the Workflow will be run. E.g. 5 4 * * *". I'm assuming since this is all very integrated to kubernetes that it is using that said syntax: https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/#cron-schedule-syntax

Would be good to add

[2022-09-02 14:14] terrytangyuan commented on #9433
@sarabala1979 I noticed that rc3 is released. What is the process to include commits to cherry-pick to rc releases?

[2022-09-02 14:52] riazarbi commented on #3080
After a day of trying various permutations, here is a config that works for me. I am using `k3s`, version `v1.24.4+k3s1`, with the default traefik deployment.

Reproducible example -

1. Create the following files:

Argo patch file:

[code]

Traefik ingress:

[code]

2. Execute the following commands:

[code]

3. Wait for pods to get into a running state

4. Visit http://[IP_ADDRESS]/argo/

Hope t

[2022-09-02 14:53] terrytangyuan commented on #9493
Would you like to submit a PR to enhance the docs?

[2022-09-02 14:55] terrytangyuan commented on #8685
@deepto98 Any update?

[2022-09-02 14:56] terrytangyuan commented on #9490
The linked issue is already being worked on.

[2022-09-02 15:00] tim-sendible commented on #9493
@terrytangyuan if you (or someone) can confirm which cron syntax is used, I don't mind adding this in sometime.

[2022-09-02 15:55] sarabala1979 commented on #9489
@frimuchkov can you try v3.4-rc3?

[2022-09-02 16:15] sarabala1979 commented on #9488
@krmayankk identity needs to be unique for every requester.  POD name will be unique on the controller deployment to request the lease. But if you want a label you can do it with https://stackoverflow.com/questions/68517266/use-deployment-label-in-containers-env.

[2022-09-02 18:36] tfurmston commented on #9292
Any update on this one. :)

[2022-09-02 19:47] deepyaman opened #9498 "`secretRef` does not accept `SecretEnvSource` (as documented) using Argo Workflows Python SDK"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

I got the following error, even though I would expect the below code to pass:

[code]

What version are you running? `argo-workflows==6.3.9`

## Diagnostics

Paste the smallest workflow that reproduces the bug. We mus

[2022-09-02 20:06] terrytangyuan commented on #9292
Seems like @rohankmr414 is already working on that issue in https://github.com/argoproj/argo-workflows/pull/9456. Wanna pick something else?

[2022-09-02 20:27] #9425 closed

[2022-09-02 21:15] sarabala1979 commented on #9417
@Nizar-opt What issue  are you facing? Please create new issue with logs and information

[2022-09-02 21:24] terrytangyuan commented on #9493
We use this library: https://github.com/robfig/cron

Its syntax is described here: https://pkg.go.dev/github.com/robfig/cron#hdr-CRON_Expression_Format

[2022-09-02 21:26] juliev0 commented on #9434
Thanks for testing. Just to confirm, it sounds like you are saying that clicking "Try getting logs from the artifacts" seems to be working but the log screen above it isn't (and it did work in RC2). I wonder if we could close this and a new one should be logged? What do you think? If not, we can just discuss here.

Do you have a Workflow I can use to reproduce? I just tried running two Workflows a

[2022-09-02 21:31] terrytangyuan commented on #9491
Can you try rc2? If rc2 doesn't have this issue, then it might come from this change: https://github.com/argoproj/argo-workflows/pull/9464

If rc2 also has this problem, another change we can look into is this:  https://github.com/argoproj/argo-workflows/pull/8655

[2022-09-02 21:52] juliev0 commented on #9434
I see in the code for this another place where node name and pod name are presumed to be the same. So, it's possible that you're seeing this now because you removed the POD_NAMES environment variable.

In any case, if there's a Workflow I can reproduce with, that would be great. Thanks.

[2022-09-02 22:03] terrytangyuan commented on #9498
I'll check the generated Python code to see if the type mismatches.

[2022-09-03 02:23] tico24 commented on #9434
As always. Literally any workflow.

[2022-09-03 02:48] jrhoward opened #9501 "k8s 1.24 service account changes cause workflows to fail with executor plugin"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary
Changes in how service account tokens are accessed is causing workflows using the executor plugin to fail in k8s 1.24

What happened/what you expected to happen?

I submitted a workflow using the example here https://argoproj.github.io/argo-workflows/executor_pl

[2022-09-03 09:31] tfurmston commented on #9292
ah, ok. I was waiting to hear back on this thread before I got started on that one. :(

I'll have a look for a different issue.

[2022-09-03 10:34] frimuchkov commented on #9489
I'll try :)

[2022-09-03 11:41] frimuchkov commented on #9489
During rolling out 3.4.0-rc3

```time="2022-09-03T11:38:03.035Z" level=fatal msg="error unmarshaling JSON: while decoding JSON: json: unknown field \"archiveLogs\""```

<img width="1017" alt="image" src="https://user-images.githubusercontent.com/19934346/188268773-22c8c83d-5064-4f60-bb14-a4b27a33397a.png">

[2022-09-03 18:27] tfurmston commented on #9292
Does it have to be an issue with the `good first issue` label?

I can't really find any with that label that are either not being worked on or appropriate for me.

I've found this [one](https://github.com/argoproj/argo-workflows/issues/8636), which has the `xs` label. Would that be a reasonable issue to pick up?

[2022-09-03 18:40] juliev0 commented on #9491
I was able to reproduce it, and it does seem like it was a side effect of my fix in rc3. Let me see about fixing it.

[2022-09-03 19:28] juliev0 commented on #9491
Oh, I see. There was a change in my PR that on its face looked like it was just the linter changing the formatting so I ignored it, but it looks like a real code change was accidentally made in there when I was playing around with things. If I set that line back to how it was, it works. I'll submit a PR.

[2022-09-03 19:58] #9491 closed

[2022-09-03 22:20] juliev0 commented on #9434
Sorry but just to make sure: the empty log is happening when the node (pod) is in “Completed” status, not still “Running”, right? (as the original bug write up seems to imply) The code behaves differently in the two cases.

[2022-09-04 05:04] juliev0 commented on #9434
I see this code is essentially calling the backend to get the logs from the pods in K8S (so doesn't appear to be anything related to S3 in this case).

I see you posted this from your log, but is there anything  that comes after this when you make the call?:
[code]

I'd like to compare with mine, in which case there are log lines that come after. (If it does stop there, I guess it will be telling.

[2022-09-04 10:42] mashriram commented on #9490
Sorry, I can work on this issue https://github.com/argoproj/argo-workflows/issues/4561

[2022-09-04 12:35] liggitt commented on #9501
details of what needs to be corrected are in https://github.com/argoproj/argo-workflows/issues/8320

[2022-09-04 14:07] amitde69 commented on #9140
This is a critical feature in order to provide argo workflows as a tool to the organization.

[2022-09-04 22:37] tooptoop4 commented on #9316
any fix? delete does not work either

[2022-09-04 22:38] tooptoop4 commented on #8827
any fix?

[2022-09-05 05:02] tooptoop4 opened #9516 "argo_archived_workflows table partitions"
argo_archived_workflows can get quite large, to improve selects i suggest having a new default column at date level (dd-mm-yyyy) and partition on it

[2022-09-05 07:49] Transmitt0r commented on #1540
Same, when I try to use azure as defaultArtifactRepo, the configmap is empty except this exception:
[code]

[2022-09-05 08:54] gyanprakash48 opened #9519 "When Running Argo in sso mode , its throwing error Not found"
I am getting below error when setting auth mode sso. error is Error: 404 Not Found. What not found is not clear, possible to help here ?

time="2022-09-04T11:52:08.535Z" level=info msg="not enabling pprof debug endpoints"
time="2022-09-04T11:52:08.536Z" level=info authModes="[sso]" baseHRef=/ managedNamespace= namespace=argo secure=true
time="2022-09-04T11:52:08.536Z" level=info msg="Generating Se

[2022-09-05 13:48] surbhiahuja commented on #8591
/assign @surbhiahuja

[2022-09-05 13:50] surbhiahuja commented on #8702
/assign @surbhiahuja

[2022-09-05 14:29] juliev0 commented on #9316
Unfortunately, there are higher priority items right now. Maybe somebody from the community can pick it up?

[2022-09-05 16:34] cheery550 commented on #8305
hello, is there any solution?

[2022-09-05 18:49] 8thblock commented on #8380
Same here
`argo: v3.3.9+5db53aa.dirty
  BuildDate: 2022-08-10T02:08:30Z
  GitCommit: 5db53aa0ca54e51ca69053e1d3272e37064559d7
  GitTreeState: dirty
  GitTag: v3.3.9
  GoVersion: go1.19
  Compiler: gc
  Platform: darwin/amd64`

[2022-09-05 19:46] alexec commented on #8311
Add some logging debug statements to that file so when the controller is started with debug logging, then the reason is shown. For example:

Change:

[code]

To:

[code]

[2022-09-05 19:46] #8759 closed

[2022-09-05 20:10] alexec commented on #9519
`workflow-controller-configmap` does not exist. Please create it.

[2022-09-05 20:10] #9519 closed

[2022-09-05 20:11] alexec commented on #9501
Duplicate.

[2022-09-05 20:11] #9501 closed

[2022-09-05 20:13] alexec commented on #9488
I don't understand this issue. What is the actual bug?

[2022-09-05 20:14] alexec commented on #9485
No likely an Argo issue. Instead, you probably need to increase the size of your Kubernetes master. Alternatively, check you do not have 1000s of workflows in `kubctl get wf`. This may timeout.

[2022-09-05 20:14] #9485 closed

[2022-09-05 20:15] alexec commented on #9484
The `workflow` column is a copy of the workflow. I can't see how this could happen. Please share archived workflow.

[2022-09-05 20:16] alexec commented on #9482
This is correct behavour. Only a subset of fields in returned because that is all that is stored. To get the detail, you must get the individual workflow.

[2022-09-05 20:16] #9482 closed

[2022-09-05 20:16] alexec commented on #9481
+1 to @sarabala1979. Does not seem like an Argo issue. Please re-open if you have more info.

[2022-09-05 20:16] #9481 closed

[2022-09-05 20:20] alexec commented on #9469
I don't think this is either Helm or Argo issue:

[code]

https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/

Presumably the service account the controller runs with (typcially `argo`) does not have the `delete` permission.

Can you check your RBAC set-up?

[2022-09-05 20:22] alexec commented on #9462
I've no comment on this issue. Someone needs to start up the UI and start debugging.

[2022-09-05 20:22] alexec commented on #9461
This is likely a set-up issue. If you can show othewise, please re-open.

[2022-09-05 20:22] #9461 closed

[2022-09-05 20:23] #9460 closed

[2022-09-05 20:24] #9459 closed

[2022-09-05 20:24] alexec commented on #9457
Not a bug.

[2022-09-05 20:25] alexec commented on #9451
Work-around - delete the bad workflow.

[2022-09-05 20:28] alexec commented on #9441
Please make sure you are running a recent version.

If you are running v3.3 or v3.4, then maybe @basanthjenuhb can help.

[2022-09-05 20:29] alexec commented on #9435
Probably caused by 6e962fdca

[2022-09-05 20:29] alexec commented on #9435
@tczhao could I ask you to take a look please?

[2022-09-05 20:35] alexec commented on #9367
This workflow appears to be invalid. Attach a workflow that can be run be the team to reproduce the issue.

[2022-09-05 20:35] alexec commented on #9360
This means that the wait container has tried multiple times to put your artifact and subsequently given up. Maybe use the paralellism feature?

[2022-09-05 20:36] alexec commented on #9338
This behaviour is correct. You need to create that secret is the user namespaces too.

[2022-09-05 20:36] #9338 closed

[2022-09-05 20:38] #9323 closed

[2022-09-05 20:39] alexec commented on #9322
Fix this `   depends: createqueuet`.

[2022-09-05 20:40] alexec commented on #9316
Work-around: delete the bad workflow template.

[2022-09-05 20:50] alexec commented on #9281
This happen because of this line of code:

https://github.com/argoproj/argo-workflows/blob/f27475feb850dc43e07c3c5215cc9638947f0859/cmd/argo/commands/list.go#L48

It should be easy to add an option for `wide`.

[2022-09-05 20:57] alexec commented on #9238
Work-around: do not submit workflows with same name quickly.

[2022-09-05 20:59] #9227 closed

[2022-09-05 20:59] alexec commented on #9224
Work-around: delete bad workflow.

[2022-09-05 21:05] alexec commented on #9179
Most users will never need tty. Replacing `os.Exec` with `pty` is risky (reasons should be obvious). I think benefit outweights risk.

[2022-09-05 21:05] #9148 closed

[2022-09-05 21:07] #9077 closed

[2022-09-05 21:07] #9074 closed

[2022-09-05 21:07] #9067 closed

[2022-09-05 21:08] alexec commented on #8984
Fixed in v3.4

[2022-09-05 21:08] #8984 closed

[2022-09-05 21:08] #8960 closed

[2022-09-05 21:09] #8734 closed

[2022-09-05 21:10] #8322 closed

[2022-09-05 21:10] #9094 closed

[2022-09-05 21:10] #9108 closed

[2022-09-05 21:10] #9120 closed

[2022-09-05 21:17] alexec opened #9522 "`docs` are not being build on master"
I think this is because the Github Token needs to be updated.

No changes to `docs` will be publish until this is fixe.

[2022-09-05 21:18] alexec commented on #9522
@sarabala1979 I think you, me or @terrytangyuan need to do this.

[2022-09-05 21:19] alexec commented on #9328
Can you see if this happens on `:latest`?

[2022-09-05 21:22] alexec commented on #9446
Question - what is the negative impact of these zombies?

[2022-09-05 22:00] tooptoop4 commented on #9484
what I can see is that its a 4 step workflow where the artefact from step 1 is passed into step 2/3/4. to save space I think it should refer to a pointer id of the artefact and only store the artefact once rather than x times

[2022-09-05 22:03] terrytangyuan commented on #9522
I don’t have permission on repo settings.

[2022-09-05 23:41] ghost opened #9524 "unknown field "artifactGC""
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using `:latest` images.
* [ ] Used the Emissary executor.

## Summary

Submitting a sample workflow with artifactGC field fails with the below error

**unknown field "artifactGC"**

Fresh install of v3.3.9.

[code]

## Diagnostics

Using your sample from https://github.com/argoproj/argo-workflows/blob/master/examples/artifact-gc-wor

[2022-09-05 23:45] 8thblock commented on #9524
Same for the field branch as in here
https://github.com/argoproj/argo-workflows/issues/8380

[2022-09-06 00:25] terrytangyuan commented on #9524
You need to use 3.4 for artifact GC feature.

[2022-09-06 02:03] sarabala1979 commented on #9489
@frimuchkov Are you getting the above error workflow controller log? can you provide more logs and your workflow yaml?

[2022-09-06 02:25] #7698 closed

[2022-09-06 02:27] #7179 closed

[2022-09-06 02:36] tooptoop4 opened #9525 "EOF when many steps using same big input artifact"
i have a 1.2GB artifact on s3

intermittently some of the tasks that use the same artifact as input gets below error:

[code]
OR
[code]

logs also mention max duration:

[code]

another run's 'init' container logs:
[code]

its a fan out workflow:
![image](https://user-images.githubusercontent.com/33283496/188534998-9b0dd2ee-073c-45b6-884c-89348fa74136.png)

version 3.3.9

[2022-09-06 03:26] tooptoop4 commented on #1322
i think this is similar to https://github.com/argoproj/argo-workflows/issues/9525 i'm facing

[2022-09-06 03:31] hbrewster-splunk commented on #9525
Have you used PodSpecPatch to increase the resource request?

[2022-09-06 03:40] #9415 closed

[2022-09-06 06:35] BhavikaSharma commented on #9446
A (possibly specific) negative example may be if a process is being restarted and something is monitoring the PID of the original process to see if it has stopped before starting it up again. The PID is still taken and so the process won't restart.

Or more simply, if something is monitoring the original process being stopped before performing X action, X may be blocked.

[2022-09-06 06:37] surbhiahuja commented on #8311
@alexec,  I have added log.WithError(err).Debug("unresolved is allowed ") in expression_template.go and import
log "github.com/sirupsen/logrus", but getting error in line: undefined err
Can you help me with which import will this error be fixed?

<img width="398" alt="Screenshot 2022-09-06 at 12 04 21 PM" src="https://user-images.githubusercontent.com/42321035/188563483-9c8ecb19-26c2-4391-9b4f-06c

[2022-09-06 06:56] tooptoop4 commented on #9525
@hbrewster-splunk that worked but i think the docs should be updated to mention changing that for init container on steps that use a big input artifact

[code]

[2022-09-06 08:54] frimuchkov commented on #9489
@sarabala1979 I'm getting it during rolling out new versions in argo-server and workflow controller
Both servers can't start

Maybe I have to update some CRDs?

[2022-09-06 10:36] 8thblock commented on #9524
Thank you. It was not clear from the docs. Is it the same for the branch field?

[2022-09-06 10:37] #9524 closed

[2022-09-06 11:12] prasad-1729 commented on #9469
@alexec Thanks for suggesting , we went to this and changed role for the argo controller, Here is the verbs for argo controller role for this:

[code]

[2022-09-06 12:59] ElhamAhmadlou opened #9526 "forbidden: User "system:anonymous" cannot list resource "workflows""
What version are you running?
v3.3.6

After loging into argo workflows UI,  i see this  error in workflows tab :
[code]
I am sure that the rolebinding for SSO SA has been defined properly , because i also tried to login with SA's token , and it works and it has proper access to workflows.

# Logs from the workflow controller:
kubectl logs -n argo deploy/workflow-controller | grep ${workflow}

[cod

[2022-09-06 13:21] Siebjee commented on #9336
Confirm fixed with release [3.4.0-rc3](https://github.com/argoproj/argo-workflows/releases/tag/v3.4.0-rc3)

[2022-09-06 13:30] lkeijser opened #9527 "workflow(template) name reported in prometheus metrics"
# Summary

The prometheus metrics exposed by argo should include the name of the workflow(template), as well as its parameters, if any.

# Use Cases

As it is now, we can only use the metrics to report if any workflow has failed. If we could filter on the name of the workflow, and optionally its parameters, we would filter out certain failed workflows as they aren't relevant for production.

---

[2022-09-06 13:31] aaronmell commented on #9457
Is there a workaround? Or is it just not supported?

[2022-09-06 13:59] jmeridth commented on #9424
@dpadhiar I've confirmed with a brand new, fresh helm chart install of argo-workflows, that this is still occurring

I used the base workflow from the UI and added my metrics section

<details>
  <summary>Workflow</summary>

[code]
</details>

How I installed the helm chart:

**NOTE:** using K8S 1.24 locally, so [have to generate the server token manually](https://github.com/argoproj/argo-workflow

[2022-09-06 14:26] alexec commented on #9446
There is a loop that reaps 1 zombie per second. Maybe it does reap them, but not soon enough?

[2022-09-06 14:44] rajaie-sg commented on #9482
Is this an API documentation error then? If this API endpoint has the same return type (`io.argoproj.workflow.v1alpha1.WorkflowList`), then should it not return the same type of response?

[2022-09-06 14:45] alexec commented on #9482
It does return that type, but many optional fields are blank.

[2022-09-06 14:59] #9091 closed

[2022-09-06 15:09] #8633 closed

[2022-09-06 15:10] #7267 closed

[2022-09-06 15:18] alexec opened #9529 "Fix `{{..}}` templating -- standardize on `expr`"
The current templating system appears to be the primary cause of confusion and bugs. These are caused by the following:

1. Template evaluation is unpredicable. By which I mean, you don't know when it'll evaluate and what the output will be. This can result in a workflow that passes just some of the time
2. We use several evaluation technologies: Govaluate, fasttemplate, Expr+Sprig.

Minor issues:

[2022-09-06 15:29] sarabala1979 opened #9530 "Support Large Bearer token for SSO authentication"
If the user has part of a lot of groups. The bearer token is failed to be set as a cookie because it is crossing its size limit.

![image](https://user-images.githubusercontent.com/33908564/188675287-894fc9ab-a193-4f76-b892-19de71bb5e6e.png)

## Checklist

* [ ] Double-checked my configuration.
* [ ] Tested using `:latest` images.
* [ ] Used the Emissary executor.

## Summary

What happened/what y

[2022-09-06 15:35] sarabala1979 commented on #9530
@alexec @basanthjenuhb  how can we address this issue? Can we split two cookies if the token size is more than 4096?

[2022-09-06 15:40] alexec commented on #9530
Cookie is compressed already. Browsers only allow 4k of cookie in total. I.e. you cannot split the cookie.

Work-around - user should remove some groups.

The only solution is to store the JWT in a cache (e.g. Redis key-value store) and the cookie is just the key within that store.

[2022-09-06 15:54] juliev0 commented on #9083
@tianshimoyi  Did the master branch resolve this or no?

[2022-09-06 15:54] sarabala1979 commented on #9530
I will change to enhancement.

[2022-09-06 15:55] terrytangyuan commented on #9526
Check your anonymous SA's permissions on workflows.

[2022-09-06 15:56] #9526 closed

[2022-09-06 16:00] tianshimoyi commented on #9083
I've been too busy recently. The company has other businesses to promote. I'll take the time to test them recently. If you test and have the results, I hope you can tell me at the first time

发自我的iPhone

------------------ Original ------------------
From: Julie Vogelman ***@***.***&gt;
Date: Tue,Sep 6,2022 11:54 PM
To: argoproj/argo-workflows ***@***.***&gt;
Cc: 天使莫忆 ***@***.***&gt;, Mention ***@

[2022-09-06 16:05] ElhamAhmadlou commented on #9526
But i got the correct serviceaccount after loging into argo with cloudidp , so why it checks the SA's permissions and not argo-admin-user (my SA)?

[2022-09-06 16:27] juliev0 commented on #9083
@alexec @tianshimoyi If I'm understanding this correctly, the logic in 3.4 checks to see if the main container has exited. But will the main container not have exited if the argoexec process has died but the child process is still alive? Is this the issue?

[2022-09-06 19:09] speedfl opened #9534 "Use GoTemplate"
# Summary

In ArgoCd I implemented usage of GoTemplate for ApplicationSet. Purpose is to do the same in workflow

https://github.com/argoproj/argo-cd/pull/10026

# Use Cases

It will be useful in all complex case needing advanced templating features.

Work done with expressions is going in this direction.

Here is an example: examples/expression-reusing-verbose-snippets.yaml

---

**Message from t

[2022-09-06 19:15] surbhiahuja commented on #8311
@alexec , I have created PR: https://github.com/argoproj/argo-workflows/pull/9533. Please take a look and suggest changes if required.

[2022-09-06 22:32] juliev0 commented on #9434
As far as PodGC, I am curious if you are trying to view the logs after the GC has occurred and pod has been deleted. I guess it is not expected that you should be able to see anything. And instead I see this message at the bottom:
<img width="1258" alt="Screen Shot 2022-09-06 at 3 28 05 PM" src="https://user-images.githubusercontent.com/17830711/188751926-15754264-166a-4d04-ac92-ab7e01ed4364.png">

[2022-09-06 23:20] juliev0 commented on #9434
Okay, never mind my previous comment. I see the UI code is supposed to have a back up of getting the logs from the artifact if the Pod has been GC'ed. I think maybe I've been able to reproduce this...

[2022-09-07 00:09] juliev0 commented on #9434
I think I may have found the code change which breaks this [here](https://github.com/argoproj/argo-workflows/commit/3fdf30d9f9181d74d81ca3184b53bbe661ecb845#) in workflows-service.ts getContainerLogs() where it is no longer working to get the file from the artifact in the case that the Pod has been GC'ed.

[2022-09-07 01:52] tczhao commented on #9435
Sure, let me have a look

[2022-09-07 01:57] tianshimoyi commented on #9083
@juliev0 The problem is that the parent process of the main container is killed because of OOM, and the defer function is not called to create a file. The wait container needs to detect the existence of the file before exiting, which causes the main container to exit, but the wait container has not exited, and the pod is still running.

[2022-09-07 03:01] juliev0 commented on #9083
Right, sorry, I was trying to figure out why Alex had written "So the controller presumably does not catch this" despite his having added this Controller check to latest (which has been incorporated into 3.4RCs): "If the controller see that the main container has exited, then it sends a SIGTERM to the wait container and it should exit." But it sounds like we're thinking that latest/3.4RC hasn't ye

[2022-09-07 03:34] alexec commented on #9083
I'm unable to reproduce.

I've run the workflows on Docker Desktop attached to this issue. I've also run this workflow:

[code]

The pod exits with `OOMKilled`. The wait container is terminated.

[code]

[2022-09-07 03:35] #9493 closed

[2022-09-07 03:40] tianshimoyi commented on #9083
@alexec It is necessary to ensure that when oom_kill is triggered, the rss of the argoexec process is more than that of the child process, so that this problem will reproduce stably.

[2022-09-07 09:59] jpdoria commented on #9441
Yep, upgrading to v3.3.9 fixed it. Thanks, @alexec!

[2022-09-07 09:59] #9441 closed

[2022-09-07 11:46] ElhamAhmadlou commented on #9526
hello @alexec

About my SSO serviceaccount issue , i mentioned that in UI user info i see the correct SA (which in my case is argo-admin-user) so i got the correct SA , so i don't login anonymously. If i login with argo-admin-user bearer token , i have correct access without mentioned error.

My SSO and SAs configuration is like [this](https://github.com/argoproj/argo-workflows/issues/3525#issueco

[2022-09-07 12:35] pogacsa commented on #7121
Has anything been done to solve this instead of us doing workarounds? Could this limit be set higher?

[2022-09-07 14:03] ElhamAhmadlou opened #9536 "forbidden: User "system:anonymous""
hello @alexec

About my SSO serviceaccount issue , i mentioned that in UI user info i see the correct SA (which in my case is argo-admin-user) so i got the correct SA , so i don't login anonymously. If i login with argo-admin-user bearer token , i have correct access without mentioned error.

My SSO and SAs configuration is like [this](https://github.com/argoproj/argo-workflows/issues/3525#issueco

[2022-09-07 15:13] sunheng commented on #9148
It seems that it was fixed after I moved to v3.3.9 but I still have to use `--add-opens java.base/java.time=ALL-UNNAMED` Is there a way around that? I'm using Java 17.

[2022-09-07 15:54] fhochleitner commented on #9526
@terrytangyuan might be a similar issue as with my question here: https://github.com/argoproj/argo-workflows/discussions/9496
I think it might be an issue in combination with OpenShift. But I am not sure.

[2022-09-07 19:19] juliev0 commented on #9083
So, what you're saying is that when testing you need to ensure that the argoexec process dies first and cannot write the file. And you suspect that Alex's test may have caused the subprocess to run out of memory first, enabling argoexec to have written the file before it itself ran out of memory? (or we don't know anyway)

What is the recommended way to reproduce this such that the rss of the argo

[2022-09-07 19:47] terrytangyuan commented on #9522
@sarabala1979 @alexec Ping

[2022-09-07 19:58] terrytangyuan commented on #9525
Feel free to submit a PR to improve the docs.

[2022-09-07 21:30] jsoref opened #9541 "UI: Add hover-over text for ambiguous buttons"
# Summary

Documentation and UX need to make it clear how `retry` and `resubmit` differ.

![image](https://user-images.githubusercontent.com/2119212/188985152-67245a12-9c4b-4e7c-b9da-34f448f3760b.png)

https://argoproj.github.io/argo-workflows/cli/argo_retry/

retry zero or more workflows

[code]

https://argoproj.github.io/argo-workflows/cli/argo_resubmit/

resubmit one or more workflows

[code]

[2022-09-07 21:53] terrytangyuan commented on #9541
Retry will run the existing failed workflow whereas resubmit will submit a new workflow with the same spec.

[2022-09-07 22:03] terrytangyuan commented on #9490
Feel free to start working on it and let us know if you need any help.

[2022-09-07 22:04] terrytangyuan commented on #9292
You can pick any issues as long as you are confident to drive it to completion. We may not have identified all good first issues yet.

[2022-09-07 23:46] dpadhiar commented on #9027
Going to take a look at each of these test cases and see if there is any common cause or otherwise.

TestParametrizableAds should have been addressed in https://github.com/argoproj/argo-workflows/commit/57bac335afac2c28a4eb5ccf1fa97bb5bba63e97 with an increase in time for WaitForWorkflow()

[2022-09-08 00:12] tczhao commented on #9541
Just to a little bit of clarity.
Retry reruns the failed step/task(s) from the existing failed workflow

[2022-09-08 00:26] jsoref commented on #9541
It _sounds_ like retry will only rerun the failed bits (and cascading following bits) whereas resubmit will start from scratch.

A user shouldn't have to file a bug to find out that distinction, it should be clear from the documentation and it should be clear from the UI.

The docs for each item should clearly indicate what the specific thing does and mention the other one and hint at when one wou

[2022-09-08 02:04] mashriram commented on #9490
Sure, I will start this weekend and let you know if I face any issues

[2022-09-08 02:57] tianshimoyi commented on #9083
@alexec @juliev0 Please test with v3.3.8, here is my test ymal and my test program

[code]

[code]

[2022-09-08 03:08] juliev0 commented on #9083
Okay, I guess if we can reproduce it with 3.3.8, then hopefully we can show it goes away in 3.4 RC 3.

[2022-09-08 03:57] basanthjenuhb commented on #9530
@alexec can we store in K8s secret object.
it will be just another key in the secret

[2022-09-08 04:23] juliev0 commented on #9027
Hmm, but it looks like that commit occurred on 7/11, while the test occurred on 7/13 so unfortunately I don't think that fixed it, right?

[2022-09-08 05:21] prasad-1729 commented on #9469
Hi @alexec , still we are getting same intermittent issues frequently after the updating with all required permissions.

[2022-09-08 06:37] jmeridth commented on #7606
Closing this issue.  If someone want to reopen and create PR to get what we need from this, please do so.  I'd suggest a new issue and link to this for reference.  Cleaner that way.  Cheers.

[2022-09-08 06:37] #7606 closed

[2022-09-08 06:50] frimuchkov commented on #9489
@sarabala1979 persist-server and controller can't start... I even updated CRDs, but it has no effect :(
`error unmarshaling JSON: while decoding JSON: json: unknown field "archiveLogs"`

[2022-09-08 07:40] frimuchkov opened #9543 "3.4.0-rc3, no info about pods inside archive"
Info doesn't work for workflows in archive
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/19934346/189063396-66b70941-40f3-4dfc-8b31-6423f48517f2.png">

It works only in horisontal mode but partially
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/19934346/189064619-d9f7a9a5-0a88-4ef4-90df-87a81335aff3.png">

And I get this error ater clic

[2022-09-08 11:48] shibataka000 opened #9545 "ClusterRole `admin` , `edit` , `view` have no permission about workflowtaskresults"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using `:latest` images.
* [ ] ~~Attached the smallest workflow that reproduces the issue.~~
* [ ] ~~Attached logs from the workflow controller.~~
* [ ] ~~Attached logs from the wait container.~~

Some of above checklist are not necessary in this issue.

## Summary

ClusterRole `admin` , `edit` , `view` should have permission about w

[2022-09-08 12:18] frimuchkov commented on #9543
Fixed byt itself

[2022-09-08 12:18] #9543 closed

[2022-09-08 12:27] richoku opened #9547 "Changes are not applying in resource for azure blob storage in output artifacts section"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using `:latest` images.
* [x] Attached the smallest workflow that reproduces the issue.
* [ ] ~~Attached logs from the workflow controller.~~
* [ ] ~~Attached logs from the wait container.~~

Some points of above checklist are not necessary in this issue.

We want to use azure blob storage to store artifacts there from our argo-work

[2022-09-08 13:19] callmetushar123 commented on #9274
Hey can you please assign me, I would love to solve this issue

[2022-09-08 13:32] callmetushar123 commented on #9534
Hey I would like to work on this issue please assign it to me.

[2022-09-08 16:11] dpadhiar commented on #9027
That looks correct unfortunately. Will have to investigate this test case again.

[2022-09-08 19:27] jmeridth commented on #6529
I'd like to snag this one.  If I need a mentor I'll fill out a [mentor request](https://github.com/argoproj/argo-workflows/issues/new?assignees=&labels=mentoring%2Ctriage&template=mentoring_request.md)

[2022-09-08 21:26] juliev0 commented on #9083
Good news. I think we can close this.

I was trying to reproduce your issue in 3.3.8 and show that it goes away with [this](https://github.com/argoproj/argo-workflows/pull/8478/files) change made in latest/3.4 release candidates. But I wasn't actually able to reproduce it with your docker image. When I ran your docker image I think the subprocess must have run out of memory first, since the main c

[2022-09-08 21:58] juliev0 commented on #8981
This appears to be the same root cause as https://github.com/argoproj/argo-workflows/issues/9083, as mentioned by Alex above. In that bug, you can see my comment - I was able to show that the fix [here]([this](https://github.com/argoproj/argo-workflows/pull/8478/files) resolves this. Feel free to re-test with v3.4.0rc3 (using instructions on our [Release](https://github.com/argoproj/argo-workflows

[2022-09-08 22:15] ProjitB opened #9550 "Better Messaging for YAML errors in Linter"
# Summary

What change needs making?

Enhancing yaml parsing debug messages to give more descriptive linting / debug information.

# Use Cases

The Argo linter is heavily used for validating workflow configurations before actually running them (for correctness purposes). As yaml keys aren't order dependent, common yaml issues like duplicate keys should be caught with better error messages.

Ex.
[c

[2022-09-08 22:32] juliev0 commented on #9328
Hi @dacamposol in your Pod status that you show above, are you sure that's the Workflow Pod? Or is it the Workflow Controller Pod? Your image is: argoproj/workflow-controller:v3.3.8-linux-amd64 but that image should only be for the Controller, not for a Workflow Pod.

[2022-09-08 22:49] alexec commented on #3102
@juliev0 can we close this? I think you should get the pleasure!

[2022-09-08 22:49] alexec commented on #8899
This is number 3 most popular issue. How is it going?

[2022-09-08 23:17] juliev0 commented on #3102
LOL, yes. Good call. We have other issues to represent Artifact GC for storage systems that aren't yet implemented, so I can close this one.

Completed through multiple PRs but [this](https://github.com/argoproj/argo-workflows/pull/9255) was the main one.

[2022-09-08 23:17] #3102 closed

[2022-09-08 23:21] caelan-io commented on #8899
Going well! We should have a new course live in a couple weeks, around ArgoCon. We'll post an update here and will open a PR to update the docs.

We will need folks to take the new course and provide feedback.

[2022-09-09 00:49] alexec commented on #9530
Bala and I saw today that a commit to sso.go copied the entire claimns into the argo issued JWE. This will >=2x the size of the JWE:

https://github.com/argoproj/argo-workflows/blob/9d66b69f0bca92d7ef0c9aa67e87a2e334797530/server/auth/sso/sso.go#L280

This was added in #6444 by @liafizan .

@liafizan I don't think we need this copy?

[2022-09-09 01:53] tianshimoyi commented on #9083
@juliev0 This is awesome, looking forward to the 3.4 release

[2022-09-09 01:54] #9083 closed

[2022-09-09 01:54] tianshimoyi commented on #9083
done

[2022-09-09 06:15] fangzc1 opened #9553 "After stopping the workflow, the running status is still running"
argo version:3.3.5

[2022-09-09 06:43] dacamposol commented on #9328
Do you mean in the initial message? Yes, I took it from the status of the Pod spammed from the corresponding Workflow.

Do you mean with the version 3.4.0?

We have some breaking changes there, so I cannot safely test it right now. Let me the day and I'll take a look.

[2022-09-09 07:20] sarabala1979 commented on #9553
Try with v3.3.9

Sent from my iPhone

[2022-09-09 07:22] jrhoward commented on #8320
looking at the code you could change it so that it retrieves the secret by annotation
`kubernetes.io/service-account.name: "service account name "` in the method `getServiceAccountTokenName` using the [operator.go](https://github.com/argoproj/argo-workflows/search?q=getServiceAccountTokenName) as an example but that requires users to explicitly create the secret. This means you would be missing ou

[2022-09-09 08:28] decipher27 commented on #9461
Found that since we are using latest version of k3s i.e v1.24.3+k3s1, it requires latest CRD's updated with the latest apiVersion

[2022-09-09 09:54] vinaypuranik opened #9555 "Changing port number results in permission denied"
![image](https://user-images.githubusercontent.com/6823168/189323579-b47a6a09-e8ae-4a04-9428-a44bf016674c.png)
Hi, Is there a way to change the default port from 2746 ? I  get permission denied error

[2022-09-09 10:10] richoku commented on #9547
Moved bug to: https://github.com/argoproj/argo-helm/issues/1444

[2022-09-09 10:10] #9547 closed

[2022-09-09 11:30] aditya-shrivastava commented on #9281
Hi @alexec, I am new to open source and would like to try and work on this issue.
Can you assign it to me?

[2022-09-09 12:12] goock commented on #9193
@alexec I started working on this.
In this function https://github.com/argoproj/argo-workflows/blob/9d66b69f0bca92d7ef0c9aa67e87a2e334797530/workflow/controller/retry_tweak.go#L15 I'm taking the template from the boundary node and then finding the retry node with the same template, which works for more complicated scenarios but does not work for very simple ones from this ticket - the `BoundaryID`

[2022-09-09 13:16] #9360 closed

[2022-09-09 14:40] alexec commented on #9328
no. I mean the :latest image tag

[2022-09-09 14:55] #9545 closed

[2022-09-09 14:56] 2022H1030014G commented on #9525
Hi @terrytangyuan  can you assign this issue to me.

[2022-09-09 15:00] alexec commented on #9534
Adendmum, to fix both (a) and (b) we need to converge on one techonlogy, which is `expr` and, wherever we might need to evaluate something, allow the user to define the expression and add it. Example is this:

https://github.com/argoproj/argo-workflows/blob/3a3f1599718453ca79800cfc28f6631ee780911b/pkg/apis/workflow/v1alpha1/workflow_types.go#L452

[2022-09-09 15:01] alexec opened #9556 "Change regressions and bug reports to use form"
Too many user files incomplete bug reports, or have not done any basic diagnosis of the issue.

We could try https://beyondco.de/blog/github-issue-forms to reduce this problem and reduce the number of bug reports.

[2022-09-09 15:02] alexec commented on #9556
@caelan-io would you be interested in doing this?

[2022-09-09 15:23] juliev0 commented on #9328
I tend to wonder if things were configured strangely. You shouldn't be seeing a Workflow Pod using a workflow-controller Image. You should have 3 containers, "main" using the image in your spec, "wait" using quay.io/argoproj/argoexec image, and an initcontainer "init" also using quay.io/argoproj/argoexec.

[2022-09-09 15:56] dacamposol commented on #9328
That was my bad writing the OP. Since we have the images passing through a proxy registry in order to scan them and use them within our intranet, I just replaced the name of it for the public one, and it seems that I replaced it wrongly. Effectively the workflow Pod is using the executor image in `wait` and `init`.

The real log line from the initial message (concealing the GCR Project) is the fol

[2022-09-09 16:09] dacamposol commented on #9328
@alexec just for including more info:

At the moment I downgraded again to the previous image I had `:v3.3.8-linux-amd64`, all the stagnant Workflows (20) started again, with 17 successes and 3 failed with the initially mentioned error.

With the `:latest-linux-amd64` tag, only the behaviour from the previous comment could be seen.

[2022-09-09 17:49] liafizan commented on #9530
@alexec I think we understood this requirement based on this [comment](https://github.com/argoproj/argo-workflows/pull/6444#pullrequestreview-717434504 ). I don't think we need this since it is meant to support edge cases but I think when we have those cases, we can add explicit support for those

[2022-09-09 21:43] juliev0 commented on #9328
I see you're using your own copy of our Docker image. I wonder if there is any potential that that somehow got corrupted. Are you able to try removing "--executor-image" from your workflow controller configuration and try using the standard image?

[2022-09-09 21:49] #9435 closed

[2022-09-09 23:40] juliev0 commented on #9328
Out of curiosity, which version of Argo Workflows were you using before, and were you using the emissary executor or a different one?

[2022-09-10 05:58] ravitejasssihl commented on #9553
Hey @sarabala1979  @fangzc1  can you please assign me this project,I would like to work on this.

[2022-09-10 05:59] ravitejasssihl commented on #9522
Hey @alexec  @terrytangyuan  can you please assign me this project,I would like to work on this.

[2022-09-10 06:03] ravitejasssihl commented on #9462
Hey @alexec  @asfaltboy  can you please assign me this project,I would like to work on this.

[2022-09-10 06:09] ravitejasssihl commented on #9498
Hey @terrytangyuan  @alexec  can you please assign me this project,I would like to work on this.

[2022-09-10 10:30] tooptoop4 opened #9570 "'ARCHIVED WORKFLOWS' UI page needs pagination"
The UI page for 'ARCHIVED WORKFLOWS' takes a while to load and brings back over 6000 workflow entries for me. It seems the default is last month of workflows. I think there should be pagination to only show last 100 workflows (maybe 100 is configurable), also possibly the date range could be configurable from a month to a week?

[2022-09-10 13:12] terrytangyuan commented on #9498
Assigned

[2022-09-10 13:13] terrytangyuan commented on #9522
You won't have permission to work on this.

[2022-09-10 13:14] terrytangyuan commented on #9553
Please work on your currently assigned tasks before grabbing more issues.

[2022-09-10 16:53] tooptoop4 commented on #9525
@2022H1030014G you can raise a PR to fix this even without being assigned

[2022-09-10 22:19] svndan opened #9572 "Limit namespaces for SSO serviceaccounts (Cluster-Install)"
# Summary

Currently, enabling SSO requires the Argo-Server Service Account to have Cluster Permission on Secrets and ServiceAccounts.
This is a potential security risk if the cluster includes additional, higher level configurations.

I did some research on code-basis and since the argo-server is already making use of 'ssoNamespace'. I think the changes required would only need a few adjustments o

[2022-09-11 15:26] rakshitgondwal commented on #8702
Hey @surbhiahuja !!
I would like to know that are you still working on this issue.
If not, can I give it a try?

[2022-09-12 02:35] alexec commented on #9530
I get that. I’m just not sure we need to populate it on this specific line of code. The groups are copied into the Group field.

[2022-09-12 06:35] tim-sendible commented on #9433
This remains an issue in rc4

[2022-09-12 06:35] tim-sendible commented on #9491
This is confirmed resolved in rc4

[2022-09-12 06:36] tim-sendible commented on #9434
This is confirmed resolved in rc4

[2022-09-12 06:56] dacamposol commented on #9328
I don't know which is what `:latest` is pointing to, but for the tag `:v3.3.8` I compared the digests of the image and they're the same one. Any corruption should have been reflected there.

The error `bad g in signal handler` is actually an error from the `signal_unix` library of Golang, so probably there are different combinations of people with this issue.

Concretely the tests mentioned in thi

[2022-09-12 08:21] jibuji opened #9573 "logs incomplete comparing `kubectl logs xxx`"
## Summary

What happened/what you expected to happen?

Logs incomplete comparing `kubectl logs xxx`

What version are you running?

argo v3.2.9

## Diagnostics

Paste the smallest workflow that reproduces the bug. We must be able to run the workflow.

[code]
# Logs from the argo cli:
argo315 logs hello-world-ktfw4 -n argo
[code]
# Logs from in your kubectl logs:
kubectl logs hello-world-ktfw4 -n

[2022-09-12 08:23] frimuchkov opened #9574 "Parent node not initialized"
Hi!

After updating to 3.4.0-rc3 we got rig of "null pointer exceptions", but started to see errors "parent node not initialized".

[code]

[2022-09-12 10:51] myrrc commented on #9441
Same error while running v3.3.9

[2022-09-12 17:12] juliev0 commented on #9328
Thanks for the information.

Can you provide the main container log together with the wait container and Controller logs (full logs)?

[2022-09-12 17:13] sarabala1979 commented on #9574
@frimuchkov Will this works for the previous release?

[2022-09-12 17:37] juliev0 commented on #9328
Sorry, can you clarify what you mean by "only the behaviour from the previous comment could be seen"? Which previous comment? (Trying to figure out if something has been resolved between 3.3.8 and latest.)

[2022-09-12 19:37] surbhiahuja opened #9576 "Updating the correct state of issues/tasks which are in closed state."
# Summary

What change needs making?
For most of the issues which are actually closed/PR closed, the Status is not getting updated correctly.

# Use Cases
We can have an auto-close functionality enabeled once PR to an issue is closed and merged in main.

When would you use this?

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with t

[2022-09-12 21:37] skirklin opened #9577 "Hide edges when filtering nodes in graph view"
# Summary

When filtering nodes, hide the graph edges as well as the nodes, or at least provide an option to toggle this behavior.

# Use Cases

Suppose I have 100 parallel nodes and I want to find the 1 node that failed, I will filter to only the failed nodes. Then I still have to scroll back and forth to find the actual node. Once I have filtered, that should simply be the only remaining node in

[2022-09-12 21:42] skirklin opened #9578 "Add filtering/group collapsing to the table view"
# Summary

The table view doesn't support any kind of search/filter/collapse, but for all of the same reasons that these options are nice in the graph view, it would be nice to include in the table view. Especially for parallel/serial tasks, tree style expansion/collapse would make navigating nodes extremely intuitive.

# Use Cases

I would prefer to use the table view for the most part (it has mo

[2022-09-12 21:46] skirklin opened #9579 "Add node retry option to UI"
# Summary

Add a button (probably to the node summary panel) to manually trigger retry of a failed task.

# Use Cases

When a single node has failed and I want to re-run it, I should be able to do that from the UI.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-09-12 22:58] terrytangyuan commented on #9576
This is already available via GitHub automation.

[2022-09-13 11:17] louisnow commented on #8998
@alexec @terrytangyuan
We currently use argo dataflow pipelines and rely on it being present and usable within argo.
Does this change mean we can't use argo dataflow pipelines with Argo 3.4+ ?

[2022-09-13 12:16] booknu opened #9582 "WorkflowTemplate with http do not calculate expression properly"
Hi.
I'm using v3.3.9 installed with [Argo helm chart](https://github.com/argoproj/argo-helm).

I wanted to use a dynamic URL in http, so I used the expression but operation did not work properly.

[code]

When submit `call-http` with `url: {{=jsonpath(workflow.parameters.commonConfig, '$.' + 'dev'+ '.host')}` it works properly.
<img width="474" alt="스크린샷 2022-09-13 오후 9 14 18" src="https:/

[2022-09-13 12:24] terrytangyuan commented on #8998
Yes you'll have to use it separately.

[2022-09-13 13:49] tim-sendible commented on #9434
Unfortunately, after testing further with rc4 for a full 24 hours, this still isn't fixed. I was wrong.

Equally unfortunately, it's intermittent and I can't get any more logs than `level=error msg="Artifact Server returned internal error" error="Access Denied"`.

I'm also somewhat reluctant to do the same dance as before.

[2022-09-13 13:59] tim-sendible commented on #9434
Naturally as soon as I type this. I found the thing to add.

2 things:
[code]
Seems to need very wide permissions, and nobody seems to be able to explain exactly what permissions are needed

[code]

Both the '/' and the not '/' are required. If you have one without the other, it fails.

[2022-09-13 15:17] juliev0 commented on #9434
Thank you very much for the research. I'll try again to get an AWS/S3 account to see for myself.

[2022-09-13 16:36] frimuchkov commented on #9574
@sarabala1979 but I provided logs above :)
We rolled back to 3.3.9 and started to see "nill pointer", then we added `--loglevel warn` and error disappeared, looks like it was a problem with disk and a lot of logs
Will try to upgrade to 3.4.0-rc3 back

[2022-09-13 18:51] svndan commented on #9572
Realized this is already covered in the new release. Thanks!

[2022-09-13 18:51] #9572 closed

[2022-09-13 18:56] helvetia-regel opened #9584 "Display workflow status badge without authentication"
# Summary

Testing argo in a local kind cluster. Argo workflows v3.3.9 installed with Helm chart.

AS-IS, I can display status badges after finding the link in the "Share" menu of Argo workflows UI. This link is displayed properly if I am authenticated. However, it does not display in incognito tabs without authentication.

<img width="917" alt="image" src="https://user-images.githubusercontent.co

[2022-09-13 22:16] DanishKhakwani commented on #7912
@NikeNano Did you get a chance to work on it? :)

[2022-09-14 02:33] wujunwei opened #9585 "panic when not passing AuthSupplier option"
## Checklist

* [x] Tested using `:latest` images.
* [x] Attached the smallest workflow that reproduces the issue.

## Summary

What happened/what you expected to happen?

when I try to use [argo client library ](https://argoproj.github.io/argo-workflows/client-libraries/#client-libraries) I got  panic `panic: runtime error: invalid memory address or nil pointer dereference`
,when I try  connectin

[2022-09-14 06:59] dacamposol commented on #9328
Sure. They fail in the `init` container, so there is not much in the logs:

[code]

The `main` and `wait` containers are stuck in `PodInitializing`.

In the Controller, it only shows this after few minutes:

[code]

Also, the config-map of the controller, as required:

[code]

I mean that it doesn't do anything, the workflows just don't run.

I refer to [this comment](https://github.com/argoproj/a

[2022-09-14 07:05] xlgao-zju opened #9587 "workflow-controller panic when Stop\Terminate a workflow using a plugin"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using `:latest` images.
* [x] Attached the smallest workflow that reproduces the issue.
* [x] Attached logs from the workflow controller.
* [x] Attached logs from the wait container.

## Summary

What happened/what you expected to happen?
workflow-controller panic when Stop\Terminate a workflow using a plugin

What version are you r

[2022-09-14 07:22] xlgao-zju commented on #9587
looks like we get an empty nodeID here

https://github.com/argoproj/argo-workflows/blob/master/workflow/controller/exec_control.go#L22

[2022-09-14 08:39] tim-sendible opened #9588 "3.4Rc4 - ${metadata.name} seems to always get the workflow name, not pod name"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using `:latest` images.

## Summary

What happened/what you expected to happen?
In accordance with [the documentation](https://argoproj.github.io/argo-workflows/links/), I should be able to place `${metadata.name}` into a custom pod link and it should output the pod name. Instead, it always outputs the workflow name.

This is a regr

[2022-09-14 10:45] caelan-io commented on #9556
Yes, happy to take this on after ArgoCon 👍

[2022-09-14 11:43] xswfantasy opened #9590 "riscv64 compiling error: `expected 'package', found signal_darwin`"
Hello: I am compiling argo-workflow (v3.3.9) under the riscv64 architecture. When I execute `make dist/argoexec`, I get an error:

`make dist/argoexec`:

[code]

`uname -a`:
[code]

Do you have any ideas about where the problem lies?

[2022-09-14 12:00] ese commented on #8529
I still have the issue testing in `v3.4.0-rc4` where it's supposed to have included the fix. cc: @sarabala1979
![image](https://user-images.githubusercontent.com/755174/190148104-253cdd53-8e53-4598-9f31-426ab13546f5.png)

[2022-09-14 15:55] terrytangyuan opened #9591 "TestTemplateLevelHooks functional test is flaky"
Flaky functional test. Example: https://github.com/argoproj/argo-workflows/actions/runs/3053610431/jobs/4924530479

[code]

[2022-09-14 15:57] terrytangyuan commented on #9588
@JPZ13 Would you like to look into this when you get a chance?

[2022-09-14 16:08] urbantz-technical-support commented on #8320
I found another place where we assume tokens to be auto generated:

https://github.com/argoproj/argo-workflows/blob/30bd96b4c030fb728a3da78e0045982bf778d554/server/auth/gatekeeper.go#L319

This essentially means that you can't run argo-workflows on k8s 1.24 (like we do) with sso enabled.

Maybe until it gets addressed we should add something to the documentation, or maybe pinned this issue explain

[2022-09-14 16:14] alexec commented on #8320
@juliev0 @sarabala1979 this issue needs to scheduled and fixed.

[2022-09-14 16:16] alexec commented on #9328
There in no point testing on v3.3. There is no fix on that branch, nor is there likely to be. You need to test with `:latest` tags.

https://www.howtogeek.com/devops/understanding-dockers-latest-tag/

[2022-09-14 16:40] JPZ13 commented on #9588
Happy to. I'm a little tied up for the rest of the day, but @rohankmr414, could you take a look at this today and post any of your findings? I'll then take it from there

Also, @terrytangyuan what do we want the ideal behavior to be? The documentation says `${metadata.name}: Name of the current workflow / pod / event source / sensor` but now that the workflow name and the pod name have diverged wi

[2022-09-14 17:09] juliev0 commented on #9328
@alexec I think he did test with the :latest-linux-amd64 tag and as far as I understand, the behavior is the same

Please correct me if I'm wrong.

@dacamposol Thanks for attaching the additional information.

[2022-09-14 19:04] sarabala1979 commented on #8320
@alexec I will add it in RTB we will look at this after 3.4.0. we can target  and include it in 3.4.1

[2022-09-14 19:37] alexec commented on #8320
v3.5 would be fine I think.

[2022-09-15 01:21] hbrewster-splunk opened #9592 "Workflow Not Reconciled Causes Restart & CrashLoopBackOff"
## Checklist

* [X] Double-checked my configuration.
* [ ] Tested using `:latest` images.
* [X] Attached the smallest workflow that reproduces the issue.
* [X] Attached logs from the workflow controller.
* [ ] Attached logs from the wait container.

## Summary

What happened/what you expected to happen?

We are running a cluster level installation of Argo Workflows where teams are provided an isol

[2022-09-15 01:51] terrytangyuan commented on #9592
Possibly related https://github.com/argoproj/argo-workflows/issues/9224

[2022-09-15 02:56] FeiYing9 commented on #1428
It happens when use `base64` command in linux(mine is `Centos-7`), all the base64 value is end with `\n`

[2022-09-15 04:43] juliev0 commented on #9434
For clarification, this is the array of "Resource" specified in the S3 policy, right?:
[code]
Thanks for figuring that out. It's interesting if you couldn't combine that with the Actions s3:GetObject, s3:PutObject, and s3:ListBucket and get it to work like that.

[2022-09-15 10:04] wujunwei opened #9593 "WorkflowTemplate ‘s suspend field can not make affect to those workflows which use it"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using `:latest` images.
* [x] Attached the smallest workflow that reproduces the issue.

## Summary

What happened/what you expected to happen?
I expected the  `Workflow.spec.suspend`  same with the `Workflowtemplate` in  `Workflow.spec.workflowTemplateRef.name`

Is it a feature and why?
What version are you running?
v3.3.9
## Diagn

[2022-09-15 12:38] Transmitt0r opened #9595 "Support Azure Storage account as default artifact repo"
This is a new issue based on my comment in #1540

Azure File storage support is now available for artifacts, but it can not be used as defaultArtifactRepo yep.
Now that minio gateway is being deprecated, this seems like an important thing to add to support deployments on Azure.

Same, when I try to use azure as defaultArtifactRepo, the configmap is empty except this exception:
[code]

_Originally

[2022-09-15 12:40] terrytangyuan commented on #9595
You need to use the latest version, at least 3.4.

[2022-09-15 12:50] Transmitt0r commented on #9595
Ah, then the doc's have not been updated yet as of [v3.4.0-rc4](https://github.com/argoproj/argo-workflows/blob/v3.4.0-rc4/docs/configure-artifact-repository.md#configure-the-default-artifact-repository). Do you maybe also know in which PR/commit this was introduced?

[2022-09-15 12:53] terrytangyuan commented on #9595
It's added in https://github.com/argoproj/argo-workflows/pull/9026 by @brianloss. @brianloss Would you like to help update the documentation?

[2022-09-15 13:11] brianloss commented on #9595
It's already documented on that page in the [table at the top](https://github.com/argoproj/argo-workflows/blob/v3.4.0-rc4/docs/configure-artifact-repository.md#configuring-your-artifact-repository) and with a [detailed section](https://github.com/argoproj/argo-workflows/blob/v3.4.0-rc4/docs/configure-artifact-repository.md#configuring-azure-blob-storage)
I can also add a comment or another section

[2022-09-15 13:15] surbhiahuja commented on #8591
@alexec , I have added a few detailed examples for ARGO CI-CD, Please review and share your inputs. https://github.com/argoproj/argo-workflows/pull/9596

[2022-09-15 13:30] laymain commented on #9139
Hi, does it mean that the `command` arg will no longer be required for `emissary` executor in v3.4?
If so, shouldn't the documentation be updated?

https://github.com/argoproj/argo-workflows/blob/v3.4.0-rc4/docs/workflow-executors.md#:~:text=command%20must%20be%20specified%20for%20containers.

[2022-09-15 13:58] #9595 closed

[2022-09-15 15:07] alexec commented on #9591
Just skip this test and create a tech-debt issue to fix later.

[2022-09-15 16:53] sarabala1979 commented on #9588
@terrytangyuan @JPZ13 is it blocker for 3.4 GA?

[2022-09-15 16:56] JPZ13 commented on #9588
@sarabala1979 I personally think it makes more sense to have `${metadata.name}` interpolate to the workflow name and wouldn't consider this a 3.4 GA release blocker, but I also want to hear @terrytangyuan and @tim-sendible's thoughts

[2022-09-15 19:23] terrytangyuan commented on #9588
Workflow name sounds more reasonable to me.

[2022-09-15 19:27] terrytangyuan commented on #9591
@alexec https://github.com/argoproj/argo-workflows/pull/9598

[2022-09-16 00:08] liafizan commented on #9530
Yes. Think we can leave it out

[2022-09-16 07:44] dacamposol commented on #9328
I tested it with `:latest-linux-amd64` and the Workflows didn't start at all.

I assume it's due to some breaking change between `3.3.x` and `latest` concerning our concrete workflows.

@juliev0 you're welcome :)

[2022-09-16 08:04] ese commented on #8529
As workaround you can use exit handlers https://argoproj.github.io/argo-workflows/walk-through/exit-handlers/ instead hooks for failed and succeeded which works fine updating phase after workflow ends:
example:
[code]

[2022-09-16 11:50] djaustin commented on #8742
I came across this issues when searching for the same. This is sill an issue in 3.3.9.

[2022-09-16 12:02] ggopal37 opened #9599 "Interpolation of steps task status not happening with simple tags"
## Checklist

* [ ] Double-checked my configuration.
* [ ] Tested using `:latest` images.
* [ ] Attached the smallest workflow that reproduces the issue.
* [ ] Attached logs from the workflow controller.
* [ ] Attached logs from the wait container.

## Summary

What happened/what you expected to happen?
Interpolation of steps task status is not happening although simple/expressions with or without

[2022-09-16 15:51] jmeridth commented on #9522
@sarabala1979 @alexec any updates on this?

[2022-09-16 19:35] terrytangyuan commented on #9522
Temporarily fixed.

[2022-09-18 06:40] tfurmston commented on #9292
ok, great. I'll have another look through for a good initial ticket then!

[2022-09-19 01:16] tooptoop4 opened #9607 "workflow not archived if a step's pod is deleted and workflow-controller restarts before archive time"
my cronworkflow has:
[code]

my controller has:
[code]

steps:

1. my cronworkflow is running
2. i roll my whole k8s stack onto new worker nodes (so EVERY container (from every pod) stops running on nodeX and then few minutes later starts running on nodeY)
3. even after 1 hour i observe that cronworkflow from step1 is still in Error state (step shows 'pod deleted') on the main 'workflows' ui page,

[2022-09-19 04:42] sanqiuli commented on #9148
After I used v3.3.9, I found that there was still a serialization problem. It was not the original DateTime problem but the java.time.Instant problem. I created a new package` io.argoproj.workflow` in my project, which added `JSON.java`, then copy `io.argoproj.workflow.JSON` in the sdk source code and modify it in my `JSON.java`, and modify the JSON constructor as follows:
[code]

[2022-09-19 05:10] tooptoop4 commented on #8344
the breaking change notes are not very clear, is this still allowed? https://github.com/argoproj/argo-workflows/blob/dd19e49f07c0a4ecf35fce8f5c2d9ed1d2d1541e/examples/workflow-template/templates.yaml#L26-L30

[2022-09-19 07:55] tooptoop4 opened #9610 "UI: filter log lines that do _not_ contain a string"
# Summary

when clicking on logs of a completed workflow, there is currently a string filter for lines including that string. But no button to allow viewing log lines NOT matching that string...argocd has this feature with ! button (https://github.com/argoproj/argo-cd/blob/d17aafd19a465fb9992d8189381adc3bdd488ead/ui/src/app/applications/components/pod-logs-viewer/log-message-filter.tsx#L6)

# Use

[2022-09-19 10:50] anil10032 opened #9611 "I would like a mentor"
**Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).**

Answer: Yes I have read the mentoring guide.

**What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?**

Answer:  We are experimenting with argo in our organization and found it awesome. I have ex

[2022-09-19 13:57] simox-83 commented on #9259
We are impacted by the same issue. When can we get a resolution please?

[2022-09-19 14:53] tvalasek commented on #9259
Hello. For us this is a blocker for upgrading.

[2022-09-19 15:03] Evalle commented on #9259
This is blocking us as well, thx.

[2022-09-19 15:27] cheery550 commented on #8529
it also do not work.

[2022-09-19 16:21] caelan-io opened #9613 "getting `empty git-upload-pack given` from wf using git artifacts as input"
## Summary

What happened/what you expected to happen?
- started getting empty git-upload-pack given from workflows that use git artifacts as their input, and the pipeline just stays stuck at the init stage like that (https://cloud-native.slack.com/archives/C01QW9QSSSK/p1663593342339939)
- It was working perfectly before the upgrade and one push after the upgrade.
- Is it maybe trying to use a dif

[2022-09-19 16:51] rajaie-sg opened #9614 "Archived Workflows Tree view UI is broken"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using `:latest` images.
* [x] Attached the smallest workflow that reproduces the issue.
* [x] Attached logs from the workflow controller.
* [x] Attached logs from the wait container.

## Summary

After upgrading to Argo workflows 3.4.0, the "Archived Workflows" tree view UI seems to be broken.

![image](https://user-images.githubuse

[2022-09-19 18:23] rajaie-sg commented on #9434
For anyone who comes across this issue, I also ran into it after upgrading to 3.4.

The existing IAM policy that was being used by the the argo-server pod was:

[code]

This worked fine in Argo 3.3.9. After upgrading to 3.4, I started seeing this in the logs

[code]

After some trial and error, here is the IAM policy that helped eliminate the error (which makes sense based on this comment https://

[2022-09-19 18:26] rajaie-sg commented on #9433
This issue still exists in 3.4 https://github.com/argoproj/argo-workflows/issues/9614

[2022-09-19 19:00] Daemonslayer2048 opened #9618 "Upgrade argo-cli to use argo-events >= 1.7.1"
# Summary
It would appear the most recent argo-cli container is using a version of argo-events < 1.7.1 which is vulnerable to two high severity CVEs ([CVE-2022-25856](https://github.com/advisories/GHSA-qpgx-64h2-gc3c) and [CVE-2022-31054](https://github.com/advisories/GHSA-5q86-62xr-3r57)). The `go.mod` calls out a specific SHA but I do believe it to still be using a vulnerable version (though I v

[2022-09-19 20:19] juliev0 commented on #9434
Super helpful! Thank you! I will update our documentation based on your finding

[2022-09-19 21:06] #9556 closed

[2022-09-19 21:22] #9585 closed

[2022-09-19 21:26] gcsfred2 commented on #8320
Consider testing with k8s v1.25.

[2022-09-19 21:29] sarabala1979 commented on #8320
https://stackoverflow.com/questions/73320413/argo-http-workflow-failed-to-get-token-volumes-service-account-argo-default-d

[2022-09-19 22:46] gisjedi opened #9621 "DAG improperly executes child of conditional tasks that evaluate false"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I am using the DAG conditional logic to evaluate workflow tasks that sh

[2022-09-19 22:48] gisjedi commented on #9621
This is a priority for our team and I'm happy to help with resolving this if support is needed.

[2022-09-19 23:01] alexec opened #9622 "test bug"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

raise a bug

### Version

v0.0.0

### Paste a small workflow that repro

[2022-09-19 23:02] #9622 closed

[2022-09-19 23:19] callMeFord commented on #8320
I attempted this workaround with 1.24.4 and was unsuccessful ended up with the same error message. The only thing that worked for me was setting up K8S 1.23.10 installing Argo Workflows. This created the SA with the Secret. Then upgrading to K8S 1.24.4 (doesn't retroactively destroy my SA).

However, could be I didn't create the service-account-token correctly...
`apiVersion: v1
kind: Secret
metad

[2022-09-19 23:50] dakotalillie commented on #9614
I think I caused this when I submitted https://github.com/argoproj/argo-workflows/pull/8963. Working on a fix.

[2022-09-20 00:58] blkperl commented on #9618
Hey @Daemonslayer2048,

Thanks for the report. I've opened #9624 to try and resolve this.

[2022-09-20 02:05] tooptoop4 opened #9625 "sprig expression that works in 3.3.9 doesn't work in 3.4.0"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

a param to my workflow is a payload like the json in these 12 lines:
ht

[2022-09-20 02:11] jrhoward commented on #8320
that is not a work around, the current implementation looks for a section in the service account that has a reference to the secret. That section has gone in 1.24 so it requires a code change on argoworkflow

[2022-09-20 02:23] tooptoop4 commented on #9625
i wonder if https://github.com/argoproj/argo-workflows/pull/8907/files#diff-63ebd7c535e623fd05481826190cb78c1c7160ea8aadb801a4e44eb57621c54d is related @juliev0  ?

[2022-09-20 02:57] tooptoop4 opened #9626 "add option to store single artifact/archive files (ie .txt) as-is without creating .tgz on it"
.tgz artifacts can't be viewed in 3.4.0 UI (unless i download), but my artifacts are .txt, i did not specify to make .tgz so would be good to have these stored raw and viewable

![image](https://user-images.githubusercontent.com/33283496/191157664-4e7ab2bd-37c0-4a10-a1f6-5e089e3c80b0.png)

[2022-09-20 03:06] tooptoop4 opened #9627 "clicking artifact in archived workflows throws error"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

follow these 2 screenshots:

![image](https://user-images.githubusercon

[2022-09-20 03:35] Omenien commented on #9626
Per https://argoproj.github.io/argo-workflows/artifact-visualization/#tgz you can use the `none` [ArchiveStrategy](https://argoproj.github.io/argo-workflows/fields/#archivestrategy) to prevent creation of an archive.

[2022-09-20 04:15] juliev0 commented on #9625
Not sure, but I assigned it to myself so I can take a look.

[2022-09-20 04:27] tooptoop4 commented on #9626
thx, https://github.com/argoproj/argo-workflows/blob/4e450e250168e6b4d51a126b784e90b11a0162bc/examples/artifact-disable-archive.yaml shows full spec

[2022-09-20 04:27] #9626 closed

[2022-09-20 04:45] juliev0 commented on #9625
I don't believe that change broke it. I just reproduced the error with the commit prior to that one.

[2022-09-20 04:49] tooptoop4 opened #9628 "artifactgc not working because of labels"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

expected artifact to be gc'd

but see "Logs from the workflow controlle

[2022-09-20 04:50] tooptoop4 commented on #9628
in my opinion the step to do aws rm should not care about labels (just pick a random 63 length val if needed)

[2022-09-20 08:04] kodjo-anipah commented on #9148
@alexec could the fix described by @sanqiuli  be included in the next release? I can also open a new issue if needed.

[2022-09-20 08:12] the1schwartz commented on #8545
![Screenshot 2022-09-20 at 10 11 47](https://user-images.githubusercontent.com/10114102/191204129-450200ee-453d-4b7a-80e9-aa7f846e71c0.png)

I can still reproduce this is 3.3.9.

[2022-09-20 08:13] fhochleitner commented on #9434
@juliev0 I might be a bit late to the party but we are currently facing a similar issue.
Upgraded to version 3.4.0 with the new helm chart version 0.18.0.

After upgrading we see the logs of a step while it is currently running. As soon as that step is finished we are getting "internal server error" on the UI when viewing the logs of said step.
The same issue occurs when trying to check the logs u

[2022-09-20 09:46] AndriySidliarskiy opened #9629 "Add suport dynamically value for output name artifact and name of git branch"
# Summary
Can you add support please input variable which i use for dynamically change name of store artifact ouptu and name for git branch.
What change needs making?

# Use Cases

When would you use this?
For example when i use single branch in workflow template i cannot change value when run workflow also for s3 bucket name etc
---

**Message from the maintainers**:

Love this enhancement propos

[2022-09-20 11:42] adeniyistephen commented on #4561
/assign @adeniyistephen

[2022-09-20 11:43] adeniyistephen commented on #4561
@terrytangyuan I'm still interested in this issue, I have been faced with work and I haven't had time to dive into it more. Can I be reassigned to it?

[2022-09-20 12:20] jeszii commented on #8545
@the1schwartz @alexec I can also still reproduce this in 3.4.0

<img width="1790" alt="Screen Shot 2022-09-20 at 1 16 55 PM" src="https://user-images.githubusercontent.com/104646655/191255865-0462f9a8-73a0-42f5-b772-78be863c84d2.png">

[2022-09-20 13:27] vitalyrychkov opened #9630 "`Image pull error: User "system:serviceaccount:argo:argo-helm-argo-workflows-workflow-controller" cannot get resource "secrets" in API group "" in the namespace "mynamespace"`"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

We are storing container images of our application in a private image r

[2022-09-20 14:06] Transmitt0r opened #9631 "Can't access artifacts via UI when artifacts come from template referenced by templateref"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I expect to be able to download/view artifacts via the server-UI. This

[2022-09-20 14:27] bananabob93 opened #9632 "Missed CronWorkflows should be scheduled after a downtime of the controller"
# Summary

What change needs making?
According to the [documentation](https://argoproj.github.io/argo-workflows/cron-workflows/#cronworkflow-options) on CronWorkflows "currently only a single instance will be executed as a result of setting startingDeadlineSeconds.". If I am not misunderstanding [this loop in the codebase ](https://github.com/argoproj/argo-workflows/blob/ecdeedd54b31dab90acfe46537

[2022-09-20 14:48] Maciej-Zwolinski opened #9633 "temaplateDefaults: container/script: image does nothing"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I wanted to set default image to use in `script` or `container` section

[2022-09-20 15:50] brianloss commented on #9631
I looked into this a little bit, and it seems this happens if the artifact repository is specified in the workflow controller configmap **and** archiveLogs is not set. If archiveLogs is true, then it works. Or, if the default artifact repository is set via the artifact-repositories configmap (and the workflows.argoproj.io/default-artifact-repository annotation), it works whether or not archiveLogs

[2022-09-20 15:58] Transmitt0r commented on #9631
@brianloss so I'm not using the defaultArtifactRepository in the controller configmap, but via the artifact-repositories configmap with the default annotation.

[2022-09-20 16:08] gisjedi commented on #9621
I've tested on 3.2.6, 3.3.9 and 3.4.0. They all have the same behavior.

[2022-09-20 18:54] juliev0 commented on #9434
@fhochleitner thanks for providing the full workflow with status and logs. This looks like a different variety of the issue - would it be possible to create a new blog that’s specific for your “no template found” error? Let me know and I can assign it to myself. Thanks!

[2022-09-20 21:30] jeliashi opened #9637 "Report when defaults are being used from valueFrom"
# Summary

Currently workflowTemplates can have default values when unable to read the value. However, it currently will just say it failed to read the source and doesn't tell you it is using a default value.
It would be great to log that argo is resolving the parameter with the default

Eg workflow:
[code]

Which will currently log:
`level=error msg="cannot save parameter /tmp/out.json" argo=true

[2022-09-20 22:24] juliev0 commented on #9434
@fhochleitner if you create a new issue, can you also provide a spec for the ClusterWorkflowTemplate being referenced? I wasn't able to recreate the issue just using my own basic ClusterWorkflowTemplate. Thank you!

[2022-09-21 03:30] LingClassmate opened #9640 "When I am using hooks, when I stop this workflow, it does not stop but keeps running."
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

When I am using hooks, when I stop this workflow, it does not stop but

[2022-09-21 07:06] tooptoop4 opened #9642 "workflow not moving to archive"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

i have:

[code]

but my workflow did not get removed, it still remains

[2022-09-21 08:02] gattma opened #9644 ""internal server error" on the UI when viewing the logs ("no template found" error)"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Upgraded to version 3.4.0 with the new helm chart version 0.18.0.

Afte

[2022-09-21 08:03] gattma commented on #9434
@juliev0 As @fhochleitner already mentioned, he is on vacation from today. In the meantime I have created a new issue for this problem #9644

[2022-09-21 08:20] Transmitt0r commented on #9644
I think this also relates to #9631

[2022-09-21 08:22] ivanspasov99 opened #9645 "Init/Wait containers exit with status code 2 and log "fatal: bad g in signal handler""
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

While executing workflow (which I can not show), I am receiving sporadi

[2022-09-21 08:30] deepupv commented on #7068
I am also facing this issue.. any resolutions?

[2022-09-21 13:32] Maciej-Zwolinski commented on #9633
The workaround is to supply parameter with default value for an image and reference it via `workflow.parameters.image-name`, but still, it does not solve the code replication issue.

[2022-09-21 14:23] brianloss commented on #9631
I looked into this a little more, and it seems there is an issue where there is non-determinism as to what shows up in the artifacts panel when running the [artifact passing](https://github.com/argoproj/argo-workflows/blob/release-3.4/examples/artifact-passing.yaml) example workflow. When you inspect the workflow k8s resource and look at the nodes, sometimes the generate-artifact node appears befo

[2022-09-21 16:26] juliev0 commented on #9631
@brianloss Is it okay if we assign you this one and [this](https://github.com/argoproj/argo-workflows/issues/9644) one? (which is likely the same)

[2022-09-21 16:30] brianloss commented on #9631
Ok, sure.

[2022-09-21 16:37] rwong2888 opened #9649 "Pod spec fields disallowed on v3.4.0"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

@alexec and @sarabala1979 mentioned this at ArgoCon

Referencing [9417]

[2022-09-21 17:13] juliev0 commented on #9631
Here's what I ran locally which created a Node of type="Pod" that had no TemplateName or TemplateRef when I looked at the status.

[code]
[code]

I'm not sure what to make of that.

[2022-09-21 17:22] xubofei1983 opened #9650 "S3 artifact download performance improvement"
# Summary
We try to use artifact to download a fairly big s3 bucket and found the performance is not satisfactory comparing with aws s3 cli.

The bucket size is about 60G total, containing subfolders and many files.

with argo, it took around 26 mins
[code]

with aws s3 sync,  it took around 3 mins. (on same ec2 machine)

What change needs making?

improve the performance with async? or multi proc

[2022-09-21 17:43] juliev0 commented on #9644
@brianloss are you able to assign yourself this? It looks like I can't assign it to you. (if you add a comment here I believe I can, though) Thank you for looking into it!

[2022-09-21 17:58] brianloss commented on #9644
@juliev0 No, I don't have permissions to assign, but let's see if this comment helps.

[2022-09-21 18:08] juliev0 commented on #9625
@tooptoop4 since your regex example is finding some text like "landing/" I thought I might see that in your example payload, but it isn't in there, right? Do you by chance have a payload that better matches the nested regex expressions?

[2022-09-21 18:12] chr-b opened #9651 "Artifact input file permission problems"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

The high level problem is as follows:
* Workflow step A creates an outp

[2022-09-21 19:50] brianloss commented on #9631
@juliev0, your example doesn't actually have any artifacts, but I tried combining the examples above to add artifacts and the artifact server seems to do the right thing, though I'm not exactly sure how. The template with an empty name is matching in the storedTemplates section of the status. However, when I click on the tgz node in the graph of the UI, that does give me an error:
[code]
If I clic

[2022-09-21 20:00] juliev0 commented on #9631
I noticed that as well! Pretty weird. I'd say if you just want to submit a PR for the issue from the original bug (where templateRef is there), I think that's good. Thanks!

[2022-09-21 20:09] brianloss commented on #9631
@juliev0 #9648 should have that. I checked that I can run the examples in both this issue and #9644

[2022-09-21 20:36] juliev0 commented on #9631
awesome! I will try to review your PR when I have time

[2022-09-21 21:11] tooptoop4 commented on #9625
@juliev0 in the json payload u can change po_235248_pan_0000000.ntf to landing/mysch/mytbl/po_235248_pan_0000000.ntf

[2022-09-21 21:31] juliev0 commented on #9625
okay, thanks!

[2022-09-21 21:50] #9631 closed

[2022-09-21 21:50] #9644 closed

[2022-09-21 22:03] juliev0 commented on #9625
I can see that the commit you referenced does in fact break this. And that's because in operator.go, substituteGlobalVariables() is now being called after updateWorkflowMetadata(). I need to do more investigation to figure out the right order for these functions to be called. I believe in that commit that the order got changed, but for a different reason.

[2022-09-21 22:51] hype-eater opened #9654 "resource template output parameter `valueFrom.jqFilter` results in error in v3.4.0"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

What happened: Defining an output parameter for a resource template usi

[2022-09-22 12:05] ltartarini opened #9656 "Archived Workflows UI error: `Failed to execute 'setItem' on 'Storage'`"
### Pre-requisites

- [X] I have double-checked my configuration
- [ ] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

When opening the tab "Archived Workflows" in the web UI I got the follo

[2022-09-22 15:21] chenyangxueHDU opened #9657 "`connection reset by peer` transient error not handled in plugin"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

When running many same plugin tasks in a wf at the same time, some of t

[2022-09-22 15:40] holotrack opened #9658 "Secrets are not correctly maped"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

There is some problem with secrets reading. I created such secret, base

[2022-09-22 15:46] holotrack commented on #9658
i found where problem is i needed to create those secrets with `echo -n XXXXXXXXXXXXXXXX|base64 -w0" to avoid new lines

[2022-09-22 15:46] #9658 closed

[2022-09-22 16:01] mashriram commented on #9490
@terrytangyuan - After a little bit of struggle, I was able to run argo locally in my machine (Ubuntu 22.04). Can you please let me know what I should do next?

[2022-09-22 16:16] sarabala1979 commented on #9628
@tooptoop4 Is workflow created by cronworkflow?

[2022-09-22 16:21] sarabala1979 commented on #9630
@vitalyrychkov can you provide your k8s version?

[2022-09-22 16:28] sarabala1979 commented on #9630
There is PR for supporting v1.24 service account secret change. #9620

[2022-09-22 16:29] juliev0 commented on #9628
Maybe we can use an Annotation instead of a Label, which apparently doesn't restrict to 63 characters

[2022-09-22 17:07] hype-eater opened #9659 "v3.4.0 release assets: quick-start-* manifests include invalid references to httpbin that results in a failed deployment"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I regularly use the `quick-start-minimal.yaml` produced as a release as

[2022-09-22 17:11] divyaArthurAI opened #9660 "CVE-2022-40674 flagging in v3.3.9 image"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Hello,

Our nightly scans flagged a vulnerability dependency (not a vul

[2022-09-22 17:44] juliev0 commented on #9628
That is a possibility. Maybe something random but repeatable like a hash.

[2022-09-22 18:05] sarabala1979 commented on #9660
@divyaArthurAI We can't rebuild the image. We can release a new version v3.3.10. Can you scan 3.4.0?

[2022-09-22 18:32] tooptoop4 commented on #9628
@sarabala1979 by argo-event sensor

[2022-09-22 21:02] terrytangyuan commented on #9657
Would you like to submit a PR to fix this?

[2022-09-22 21:47] #9614 closed

[2022-09-22 21:47] #9433 closed

[2022-09-23 01:48] mikutas opened #9662 "failed to authenticate /metrics endpoint"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

### What happened

argo-server's log:

`"failed to authenticate /metric

[2022-09-23 02:09] sarabala1979 commented on #9662
Can you inspect the network call for the metrics call?

Sent from my iPhone

[2022-09-23 03:06] mikutas commented on #9662
Is this ok?
![image](https://user-images.githubusercontent.com/23391543/191885003-8dbccb00-20f0-4de7-a483-d2be7b1113b1.png)

[2022-09-23 03:45] Suckzoo opened #9664 "Transient network errors are not handled properly"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

### 1. Transient `url.Error` is not handled properly.
While every trans

[2022-09-23 05:49] chenyangxueHDU commented on #9657
ok

[2022-09-23 14:41] vitalyrychkov commented on #9630
@sarabala1979
    K8s cluster version: 1.23
    kubectl client version: 1.23

[2022-09-23 15:02] jmeridth commented on #9424
This is no longer occurring in 3.4.0+.  Thank you.

[2022-09-23 15:02] #9424 closed

[2022-09-23 16:07] divyaArthurAI commented on #9660
@sarabala1979 - Okay thanks - we will use the 3.4.0 image since that is scanning clean.

[2022-09-23 16:09] gcsfred2 commented on #8320
Is there a way to install AW with @alexec 's  PR?

[2022-09-23 16:34] alexec commented on #8320
I need someone to take over the PR, as I do not have bandwidth. Can someone pleas volunteer?

[2022-09-23 20:18] rajaie-sg commented on #9627
@tooptoop4 would you happen to have a `retryStrategy` defined for your workflow? I am running into a similar error that only shows up when I have `retryStrategy` set.

[2022-09-23 21:09] tooptoop4 commented on #9627
@rajaie-sg yes applied on all wf

[2022-09-23 21:26] rajaie-sg opened #9669 "Error when clicking "Logs" button if "retryStrategy" is specified for containerSet"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

When I click the "Logs" button on a container, I expect to see the "Log

[2022-09-23 23:00] #9660 closed

[2022-09-23 23:18] sarabala1979 commented on #9613
@caelan-io and @JPZ13 Do you like to submit PR for this?

[2022-09-23 23:20] jrhoward commented on #8320
you can follow the [running locally documentation](https://argoproj.github.io/argo-workflows/running-locally/) but checkout branch fix-8320

[2022-09-23 23:21] sarabala1979 commented on #9621
@gisjedi Do you like to fix this issue? Please go ahead to submit the PR. We are happy to review it.

[2022-09-23 23:24] sarabala1979 commented on #9627
@rajaie-sg can you try on v3.3.9?

[2022-09-23 23:25] sarabala1979 commented on #9669
@rajaie-sg can you try on v3.3.9?

[2022-09-23 23:26] sarabala1979 commented on #9669
https://github.com/argoproj/argo-workflows/issues/9627

[2022-09-23 23:29] jrhoward commented on #8320
Don't think I am qualified to take over the PR but I'll help out where I can as I have the branch running locally with 1.24.

I have installed the sample executor plugin and successfully run a sample workflow based on the revised instructions with a service account token suffixed with `.service-account-token`.

[2022-09-23 23:30] sarabala1979 commented on #9630
@terrytangyuan will work on this.

[2022-09-23 23:35] sarabala1979 commented on #9640
@LingClassmate Can you try with v3.4.0 or v3.3.9?

[2022-09-23 23:40] sarabala1979 commented on #9642
@tooptoop4 Will This work on the previous version?

Is your workflow archive working fine? Can you check workflow-controller log or Archive section in UI?
If Workflow Archive is configured for workflow, the Controller will honor TTL once the workflow got archived.

[2022-09-23 23:50] caelan-io commented on #9613
Hey @sarabala1979 , I opened this issue as it was reported by someone in Slack. It's not specific to us. I'm unsure how high priority it is compared to other issues we're already working on. Let's discuss at the contributor meeting, or let us know what list of 3.4 release issues you're working through and need support on.

[2022-09-23 23:51] sarabala1979 commented on #9651
@chr-b Can you try on v3.3.9?

[2022-09-23 23:52] sarabala1979 commented on #9654
@hype-eater Do you like to submit the PR for this issue?

[2022-09-23 23:54] sarabala1979 commented on #9656
@ltartarini Thanks for fixing this bug. Please submit the PR. We are happy to review.

[2022-09-24 00:00] sarabala1979 commented on #9269
@smile-luobin Do you like to submit the PR?

[2022-09-24 00:29] jrhoward commented on #8320
interceptor.go is missing updates. I modified and built locally.

https://github.com/argoproj/argo-workflows/blob/a3c326fdf0d2133d5e78ef71854499f576e7e530/server/auth/webhook/interceptor.go#L87-L90

Remove lines 87 to 89 and change line 90 from `serviceAccount.Secrets[0].Name` to leverage the new util:

[code]

[2022-09-24 01:59] mcgrawia opened #9670 "Argo v3.4 is backwards incompatible with Dag Tasks that have capital letters in the name"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I created a workflow below with a task called `"Whalesay"`. When argo r

[2022-09-24 02:11] ppapasani1 opened #9671 "Priority not working when defined declaratively"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Priority is getting set when declared in the workflow yaml file. When I

[2022-09-24 02:34] tooptoop4 commented on #9642
@sarabala1979 my archive is working fine for other workflows, I think this intermittent WebIdentityErr error on 3.3.9 also caused archive to fail

[2022-09-24 02:34] tooptoop4 commented on #9627
@sarabala1979 these icons are new feature only in 3.4

[2022-09-24 07:28] chr-b commented on #9651
Hi @sarabala1979 ,

The workflow `artifact-passing-fail-` from my examples works when using the v3.3.9 container images.

[2022-09-24 15:35] terrytangyuan commented on #9670
Did the problem go away if you set `POD_NAMES` to `v1` (in your workflow controller environment variables)?

[2022-09-25 01:13] terrytangyuan commented on #9627
Might be that we need a `.?` when accessing `WorkflowNodeInfo` in the UI. Anyone want to look into this?

[2022-09-25 01:23] terrytangyuan commented on #4561
You can just work on it without being assigned

[2022-09-25 01:25] terrytangyuan commented on #9637
We can add some logs. Would you want to submit a PR?

[2022-09-25 01:27] terrytangyuan commented on #9633
This seems like a bug. Would anyone like to submit a PR to fix it?

[2022-09-25 01:29] terrytangyuan commented on #9490
You can pick up an issue to start working on.

[2022-09-25 01:31] #9654 closed

[2022-09-25 01:31] terrytangyuan commented on #9671
Do you mean it's **NOT** working as expected instead?

[2022-09-25 09:21] MADJIYoucef opened #9681 "using Artifactory as an artifactRepository not working for v3.4.0."
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

using Artifactory as an artifactRepository not working for v3.4.0 where

[2022-09-25 12:26] chenyangxueHDU commented on #9587
+1

[2022-09-25 15:35] mcgrawia commented on #9670
Hi @terrytangyuan thanks for the tip, setting that env variable seems to have fixed it! Was this documented somewhere that I missed?

Thanks!

[2022-09-25 16:20] terrytangyuan commented on #9670
Here it is: https://github.com/argoproj/argo-workflows/blob/master/docs/upgrading.md#upgrading-to-v32

[2022-09-25 16:22] terrytangyuan commented on #9670
The validation doesn't seem documented anywhere yet though. Feel free to enhance the docs.

[2022-09-25 16:29] mcgrawia commented on #9670
Interesting, that page says it was introduced in 3.2 but we had run v3.2 and v3.3.9 previously without running into this issue. Is it possible this change just shipped in 3.4?

[2022-09-25 17:54] adace123 opened #9682 "Remote template refs"
# Summary

This would add the ability to reference workflow templates from remote sources via URL without needing to have them applied into a cluster, thus reducing maintenance burden.

I already have a partially working PoC of this running locally. The implementation thus far attempts to fetch the raw YAML from the URL, parse it into a WorkflowTemplate and then extract the indicated template from

[2022-09-25 20:48] terrytangyuan commented on #9670
There may be another change that's related to the validation of names.

[2022-09-25 21:22] mcgrawia commented on #9670
Ok interesting. Does Argo pre-validate the workflows or is this error coming from Kubernetes?

[2022-09-25 21:54] #8081 closed

[2022-09-25 22:41] terrytangyuan commented on #9670
It's actually from Kubernetes and when `POD_NAMES=v2` this will be a requirement.

[2022-09-25 22:57] terrytangyuan commented on #9611
Feel free to start working on it and let us know if you have any questions.

[2022-09-26 02:59] chenyangxueHDU opened #9685 ""fatal error: concurrent map read and map write" in agent"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

When running many same plugin tasks in a wf at the same time, agent mai

[2022-09-26 03:08] ppapasani1 commented on #9671
@terrytangyuan No. It is working as expected with CLI. But it is not working when I set the priority declaratively(in yaml file).  If you see the priority for workflow `test-priority-n7g4p` above, it is showing as 0 instead of 1000.

[2022-09-26 07:12] tooptoop4 commented on #9656
@sarabala1979 i don't think anyone fixed.
i am getting same issue on v3.3.9
stack trace:
[code]

i wonder if its related to too many workflows which fill up the browser storage? i have over 35k in that month range

below is the javascript:
[code]

[2022-09-26 08:25] LingClassmate commented on #9640
@sarabala1979
V3.3.9 still exists when the stop workflow instruction is sent, the workflow never ends, still running state.

![Snipaste_2022-09-26_16-20-03.png](https://s2.loli.net/2022/09/26/RJIBzbpgUFDsiCG.png)

V3.4.0 sent the stop workflow instruction which is in the never ending, still running state. It also affects the `Workflow-controller` container to stop with the following error log.

[c

[2022-09-26 08:28] LingClassmate commented on #9640
My latest YAML configuration
[code]

[2022-09-26 14:33] rajaie-sg commented on #9669
yes I confirmed this still happens in 3.3.9

[2022-09-26 15:23] mcgrawia commented on #9670
Makes sense. Oddly I cannot figure out why this issue didn't occur on 3.3.9. It has the same commit referenced in your release doc above^.

But it seems like there is a workaround for now, will close. Thanks for the help!

[2022-09-26 15:23] #9670 closed

[2022-09-26 15:57] tooptoop4 commented on #8322
@sarabala1979 @alexec can this be added to the docs?

[2022-09-26 15:59] tooptoop4 commented on #8734
@antonmedv any plan to support this?

[2022-09-26 16:00] tooptoop4 commented on #8715
@alexec can u reopen?

[2022-09-26 16:02] tooptoop4 commented on #8737
@sarabala1979 can u reopen?

[2022-09-26 18:50] gcsfred2 commented on #8320
I followed the steps of https://argoproj.github.io/argo-workflows/running-locally/ cloning @terrytangyuan  's https://github.com/terrytangyuan/argo-workflows/tree/support-k8s-124  and I got an error with make start:
https://pastebin.com/NCn3s7Wr

[2022-09-26 18:54] terrytangyuan commented on #8320
@gcsfred2 That is unrelated. Try creating a new local cluster and start again.

[2022-09-26 19:02] surbhiahuja commented on #8591
@terrytangyuan , Please look into PR raised and suggest if any changes are required https://github.com/argoproj/argo-workflows/pull/9596

[2022-09-26 23:17] tooptoop4 commented on #2820
maybe https://github.com/argoproj/argo-workflows/issues/9656 is related

[2022-09-27 00:06] #9664 closed

[2022-09-27 07:49] chenyangxueHDU commented on #9657
Close issue for #9665  already merged

[2022-09-27 07:49] #9657 closed

[2022-09-27 10:51] kodjo-anipah opened #9692 "v3.3.9 still has serialization problems"
After I used v3.3.9, I found that there was still a serialization problem. It was not the original DateTime problem but the java.time.Instant problem. I created a new package` io.argoproj.workflow` in my project, which added `JSON.java`, then copy `io.argoproj.workflow.JSON` in the sdk source code and modify it in my `JSON.java`, and modify the JSON constructor as follows:
[code]

_Originally post

[2022-09-27 12:05] inkinworld commented on #7781
same error with latest version.

[2022-09-27 13:18] anil10032 commented on #6529
@jmeridth Please continue on this 👍 . I will take up something else!

[2022-09-27 14:56] #9662 closed

[2022-09-27 14:59] #9395 closed

[2022-09-27 15:02] #5582 closed

[2022-09-27 15:27] dkovalenko opened #9695 "Global outputs not working"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Tested global outputs from this example: https://github.com/argoproj/ar

[2022-09-27 15:32] terrytangyuan commented on #9695
Your service account is missing patch permission on pods.

[2022-09-27 16:02] scravy opened #9696 "UI does not show all running workflows (it used to do so) / UI and argo list differ (missing running workflows)"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

When I am submitting a workflow in the UI it is shown in the list of ru

[2022-09-27 16:37] scravy commented on #9696
@terrytangyuan Are you saying this is the cause for the regression I am seeing?

The workflows do show up when a transition occurs. Also completed workflows are shown correctly. Just running ones are not.

Also I installed argo from the install.yaml as per the release, so the roles and cluster roles are the vanilla roles from v3.4.0 – this should surely not miss any permissions?

[2022-09-27 16:53] terrytangyuan commented on #9696
[code]
This indicates that you are archiving the workflows. Could you check if they are in your list of archived workflows?

[2022-09-27 16:56] scravy commented on #9696
First things first. So I did patch the respective role with the missing permissions. I changed the `argo-cluster-role` as per the vanilla install yaml at https://github.com/argoproj/argo-workflows/releases/download/v3.4.0/install.yaml from

[code]

to

[code]

The warnings are now gone. Here is the complete logs from a rerun. However the problem that I am describing exists in the same way.

### Wa

[2022-09-27 16:59] scravy commented on #9696
@terrytangyuan Yes we are archiving workflows. But the problem here is that the workflow is not listed while it is running. Once the workflow transitions to a new node in the flow and the list of workflows in the UI is open while it does it will show in the list.

[2022-09-27 21:02] meln5674 commented on #4684
This doesn't appear to have gone anywhere in the last year. I am in need of this feature, and I'm willing to implement it. I can see there has been some work done on having multi-cluster workflows, but I'd argue that is a far, far, more difficult problem, and solving a simple but high value feature like this independently first is worthwhile.

I'd like to propose the following:
1. Have a separate

[2022-09-27 21:29] Glen-Tigera opened #9699 "Support for passed jobs on workflows in exit handler"
# Summary
Currently when we use the exit handler template we have ability to pull `workflow.status` and `workflow.failures`. Can we also support something like `workflow.passes`? This will summarize all the jobs that passed instead of failed.

https://argoproj.github.io/argo-workflows/variables/#exit-handler
https://github.com/argoproj/argo-workflows/blob/488aec3cad640cd99e21a0c95898463a860a8c0e/e

[2022-09-27 21:52] #8275 closed

[2022-09-28 01:01] aldeed opened #9701 "Archived Workflows page has right pane CSS issue"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Starting with 3.4.0, the Archived Workflows page has a display bug that

[2022-09-28 01:05] terrytangyuan commented on #9701
@dakotalillie @momom-i This might be related to one of your changes. Would you like to help take a quick look?

[2022-09-28 01:30] #9618 closed

[2022-09-28 01:54] aldeed commented on #9701
Forgot to mention that the regular workflows page does not have this problem

[2022-09-28 03:23] inkinworld commented on #7781
we try to use argo-server v3.4.0 with python sdk 6.4.0, still occurs this error.

[2022-09-28 04:35] sarabala1979 commented on #9699
@Glen-Tigera do you like to submit the PR for this?

[2022-09-28 09:03] chenyangxueHDU opened #9704 "Set wf.spec.affinity.nodeAffinity, but agent pod has no nodeAffinity"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Set wf.spec.affinity.nodeAffinity, but agent pod has no nodeAffinity. I

[2022-09-28 10:56] maneesha-reddy opened #9705 "Unable to create workflow via argo workflow api client"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I'm creating an argo workflow via api client in golang.
`params := work

[2022-09-28 10:58] tooptoop4 commented on #9701
https://github.com/argoproj/argo-workflows/pull/9634 fixes this but there hasn't been a new release with it yet

[2022-09-28 13:21] terrytangyuan commented on #9701
I believe @aldeed is using a custom release based on master branch that already includes #9634.

[2022-09-28 13:25] terrytangyuan commented on #9704
Currently, the agent pod spec is hard-coded and you won't be able to customize it.

[2022-09-28 13:35] dkovalenko commented on #9695
I can confirm that fixing the permissions solved the problem. @terrytangyuan Thanks! 🙏

[2022-09-28 13:35] #9695 closed

[2022-09-28 13:54] Glen-Tigera commented on #9699
Hi @sarabala1979 I'll take a look when possible and see if I have any questions

[2022-09-28 14:17] szechp commented on #7698
okay i saw that this is fixed, but how can i call the variable dag task name in e.g. an when statement?

heres what i'm trying to do:

when: "{{tasks.D{{inputs.parameters.message}}.outputs.message}} == D4"

this gives me an  failed to resolve {{tasks.Dplaceholder-212.outputs.message}} error

[2022-09-28 14:40] sarabala1979 commented on #9696
@scravy Can you check if a namespace filter is populated with the cookie's default value?

[2022-09-28 14:42] #9625 closed

[2022-09-28 15:05] jomach commented on #9640
I'm running 3.4.0 and I have a similar issue.  the lifecyle hook does not start. We are using a sidecar + linkerd injection

[2022-09-28 15:14] #9417 closed

[2022-09-28 15:59] clementlecorre commented on #8300
@terrytangyuan The documentation doesn't really help me to solve my problem. I think my role configuration is OK. My workflows with HTTP templates stay on Pending. Without any errors in the agent or controller

[2022-09-28 17:14] terrytangyuan commented on #8790
@alexec Looks like tests are breaking after I removed the parameters. https://github.com/argoproj/argo-workflows/pull/9698 Any hints on what I may have missed?

[2022-09-28 18:09] momom-i commented on #9701
It was a long time ago that I contributed, so I'll try to remember and look at it when I have time!

[2022-09-28 20:16] aldeed commented on #9701
@terrytangyuan We are using the custom patch for the workflow controller image but probably not the UI/server. I think that is just using released 3.4.0.

[2022-09-28 20:30] scravy commented on #9696
@sarabala1979 I am not sure what you mean by "the cookie's default value".

In the UI I do have a filter set for **namespace = argo** – but then again we do everything in that namespace and all workflows show up here, and it used to work in previous versions or argo, so not sure how this would affect anything.

I looked at the cookies and there's four cookies set: `authorization`, `_ga_E659EW9J25`

[2022-09-28 20:31] terrytangyuan commented on #9701
Could you use the same tag for Argo-server and see if the problem persists?

[2022-09-28 20:57] RafalSkolasinski commented on #1292
Please re-open, this are still needed and not provided to this day
[code]

[code]

[2022-09-28 22:02] #9346 closed

[2022-09-29 05:57] chenyangxueHDU commented on #9704
Any plans for customizing the agent pod?

[2022-09-29 07:10] jomach commented on #9640
Another information here. So this workflow **does not work**: https://github.com/argoproj/argo-workflows/blob/master/examples/life-cycle-hooks-wf-level.yaml

But this one **works**:  https://raw.githubusercontent.com/argoproj/argo-workflows/master/examples/exit-handlers.yaml

[2022-09-29 07:15] papandadj opened #9708 "support s3fs mount"
# Summary

I want to mount all objects to my local container. If objects are added to bucket, the container should update in real time.

# Use Cases

Recently, I use minio as storage backend. when the drone sends picture to the minio, I get callback and process the picture. If there is only one picture, I can mount the object in the local path in the fellowing way.
<img width="367" alt="image" src

[2022-09-29 07:17] preethidh opened #9709 "cannot use 'continueOn' when using 'depends'. Instead use 'dep-task.Failed'/'dep-task.Errored'"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I am trying to skip failures and move to next stage. But when i try sam

[2022-09-29 14:18] anil10032 commented on #7378
@alexec @sarabala1979 I have started looking into this and here are my observations:

- If it's just the UI issue, we can include **templateDefaults** coming in `workflow.spec` along with the envs present in template.

- The other way is to leverage `workflow.status.storedWorkflowTemplateSpec` but it is coming undefined always and I did not find a place where it is being set.

I am thinking of goi

[2022-09-29 14:28] terrytangyuan commented on #9704
We could consider treating it similarly and allow customization. Do you want to look into that?

[2022-09-29 15:53] rwong2888 commented on #9613
We are getting this issue as well

[2022-09-29 16:02] Rj7 opened #9711 "WorkflowTemplate doesn't resolve global parameters"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I am trying to pass a workflow parameter from `Workflow` to `WorkflowTe

[2022-09-29 16:02] Rj7 commented on #9711
Same issue was reporter in https://github.com/argoproj/argo-workflows/issues/7608

[2022-09-29 16:03] Rj7 commented on #7608
@eferos93 @kharmabum Were you able to resolve this? I have reopened https://github.com/argoproj/argo-workflows/issues/9711 for the same.

[2022-09-29 17:37] juliev0 commented on #9711
Do you think this is a regression from 3.3.9? Have you tried that version?

[2022-09-29 17:49] juliev0 commented on #9711
Interestingly, this seems particular to using the Argo CLI (and maybe the UI but I haven't tried). If I do "kubectl create -f yourtemplate.yaml" it works.

[2022-09-29 19:03] juliev0 commented on #9711
As a workaround, if you have kubectl access and you're able to "kubectl create" your workflow template, I've verified that your workflow will succeed.

[2022-09-29 19:12] juliev0 commented on #9711
@sarabala1979 What if we remove the validation from creating the WorkflowTemplate? After all, I don't think there's any validation when you do "kubectl create", right? And in this case, there's no way for the Argo Server to be able to validate these parameters.

[2022-09-29 21:00] dakotalillie commented on #9701
Sorry for not seeing this earlier (and for introducing this bug in the first place).I can confirm that #9634 should resolve this issue. Here's a screencap using the latest code from master:

<img width="2048" alt="Screen Shot 2022-09-29 at 2 00 48 PM" src="https://user-images.githubusercontent.com/20373585/193141144-a135cb5e-e79c-4a74-988f-87e3d6c41eb0.png">

[2022-09-29 21:47] juliev0 commented on #9711
I spoke to @sarabala1979. Currently, the workaround recommendation is to specify spec.arguments.parameters in your WorkflowTemplate, which should be overridden by your Workflow.

[2022-09-29 21:48] juliev0 commented on #7608
Currently, the workaround recommendation is to specify spec.arguments.parameters in your WorkflowTemplate, which should be overridden by your Workflow.

[2022-09-29 23:35] #9587 closed

[2022-09-29 23:36] #9628 closed

[2022-09-29 23:36] gcsfred2 commented on #8320
Retrying https://github.com/terrytangyuan/argo-workflows/tree/support-k8s-124 and running locally. My recent error: https://pastebin.com/hBySXzWV . There was no error running "make start UI=true" and the Hello World example.

[2022-09-29 23:43] alexec commented on #9656
The bug is on this line of code:

https://github.com/argoproj/argo-workflows/blob/365b6df1641217d1b21b77bb1c2fcb41115dd439/ui/src/app/archived-workflows/components/archived-workflow-list/archived-workflow-list.tsx#L185

It should not save state to local storage.

[2022-09-30 00:01] juliev0 commented on #8911
@DiegoFlop Can you provide me a full set of files to reproduce this on my end? I might be missing something but in the first example, I don't believe it includes the WorkflowTemplate "checkout" or "unit-test" being referenced. And in the second example I don't think your "step1" WorkflowTemplate is included, right?

[2022-09-30 00:03] terrytangyuan commented on #8320
This should be fixed. Could you try again?

[2022-09-30 02:23] alexec commented on #9659
To fix, prefix image with `quay.io/`?

[2022-09-30 02:30] chenyangxueHDU commented on #9704
ok

[2022-09-30 08:37] asfaltboy commented on #7830
Does this relate to the Log UI "All" option not showing nothing after pods are garbage collected? Or, should that be considered a separate issue?

On a side note, what does this recommendation in [the docs](https://argoproj.github.io/argo-workflows/configure-archive-logs/) mean?:

Are there some known issues? Also, does kubernetes provide any facility for collecting and returning logs for garbage

[2022-09-30 14:12] Rj7 commented on #9711
@juliev0 Thanks for the suggestions. I haven't tried with kubectl. But I tried adding parameter in WorkflowTemplate, I receive the same error for the below YAML. `Failed to submit workflow: templates.whalesay.steps[0].hello-world template reference hello-world-template-global-arg.hello-world not found`

[code]

But if I replace `Workflow` definition by the below, it works find.
[code]

[2022-09-30 15:43] juliev0 commented on #9711
Hi @Rj7. If you see this error: `Failed to submit workflow: templates.whalesay.steps[0].hello-world template reference hello-world-template-global-arg.hello-world not found` it means that your WorkflowTemplate was never created successfully in the first place and it can't be found (or really the template from the WorkflowTemplate can't be found). If you take the example you just posted, the reason

[2022-09-30 19:26] Rj7 commented on #9711
@juliev0 My bad I overlooked what the error was. You suggestion works if I add arguments in workflow template irrespective of how I reference the workflow template from workflow. Thank you.

[2022-09-30 20:32] juliev0 commented on #9711
No worries! Hopefully, I can get my PR merged and then we don't need to do the workaround at all.

[2022-09-30 22:30] juliev0 commented on #9027
I started a [document](https://docs.google.com/spreadsheets/d/14bxCaLGIxxsLMz6IZyUA43nwv2vqBFu59SwSP9dBRTM/edit#gid=0) (accessible by anyone at Intuit) which starts to go into some root causes.

[2022-10-01 06:56] tico24 commented on #9588
Still an issue.

[2022-10-01 06:58] aditya-shrivastava commented on #9281
Update on the issue: I have been learning Go and Kubernetes and reviewing the documentation to better understand the project.

[2022-10-01 07:03] callmetushar123 commented on #9274
I am still working on it.

@alexec can you please remove the label?

[2022-10-01 07:57] yavulan commented on #8954
Comment to prevent closing

[2022-10-01 10:02] tooptoop4 commented on #6262
did u solve @pevers ?

[2022-10-01 10:45] tooptoop4 commented on #8539
https://github.com/argoproj/argo-workflows/pull/6168 might be the one?

[2022-10-01 13:19] tooptoop4 commented on #9278
does ARGO_TERMINATION_GRACE_PERIOD_SECONDS help?

[2022-10-01 21:17] deepyaman commented on #8702
@hzliangbin FWIW I ran into the same issue; I can only assume the [`signal.SignalContainer` call in `signalContainers`] is necessary.

[2022-10-02 13:08] iz4blue opened #9732 "input-artifact-gcs.yaml does not work"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I tried the next workflow.
https://github.com/argoproj/argo-workflows/b

[2022-10-02 13:31] pevers commented on #6262
@tooptoop4 I decreased the `DEFAULT_REQUEUE_TIME` in the environment variables. Overview of all settings can be found here: https://github.com/argoproj/argo-workflows/blob/master/docs/environment-variables.md

That helped a lot, but it will also put a larger strain on your cluster.

[2022-10-03 00:33] tooptoop4 commented on #6262
@pevers by larger strain do u mean just the wfcontroller needs more cpu?
did u also change WAIT_CONTAINER_STATUS_CHECK_INTERVAL, RESOURCE_STATE_CHECK_INTERVAL, ARGO_PROGRESS_FILE_TICK_DURATION, ARGO_TERMINATION_GRACE_PERIOD_SECONDS, RECENTLY_STARTED_POD_DURATION, PodGCGracePeriodSeconds, PodGCDeleteDelayDuration ?

I raised https://github.com/argoproj/argo-workflows/pull/9729 too

[2022-10-03 05:02] tooptoop4 commented on #5956
#thunderingherd

[2022-10-03 05:05] tooptoop4 opened #9734 "allow cronworkflow's schedule field accept multiple strings"
ie schedule: ["*/20 * 1-5 * *", "*/15 * 25-31 * *"]
so that the cronworkflow is run on any of these schedules

this is less duplication than making 2 different cronworkflows with one schedule each

[2022-10-03 08:03] efekete commented on #8814
Are there any news on this? Same happens to me, too.

[2022-10-03 09:12] allemp opened #9737 "Cert manager suddenly a dependency???"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

The following pull request #9423 added a mandatory cert manager depende

[2022-10-03 10:28] cwichka commented on #9193
Hi @goock @alexec, thank you for looking into the issue so far.
I noticed it was automatically marked as stale. Do we have an update on the proposed solutions above please ?

[2022-10-03 10:44] rgeraskin commented on #9257
confirm, this bug still exists

[2022-10-03 11:55] goock commented on #9193
Hi @cwichka, thanks for replying. We do not have any proposal yet. I do not want to make it too complicated. I would appreciate it if you or someone familiar with the structures could take a look at my comment above and give me some advice and the right direction.

[2022-10-03 12:14] ese commented on #9696
It also happens to me.
When you first load the workflow page in the UI it does not show all the workflows available but if you wait like 20 or 30 seconds they suddenly appear. Access directly to the URL of a specific workflow works fine always, this only happen in the list view.
I'm not sure about the root cause but it seems more related to the UI than the server.

[2022-10-03 13:03] mikeshng commented on #3523
Based on the design provided in this doc: https://github.com/argoproj/argo-workflows/blob/dev-mc/docs/multi-cluster.md

I think integration with https://open-cluster-management.io/ could be a candidate to help Argo workflow with the multi-cluster capabilities by providing:
- cluster registration
- cluster inventory
- workload delivery to remote clusters

With no code changes or importing the Open

[2022-10-03 13:47] kenchan0130 commented on #9237
This is still not stale as far as I am aware.

[2022-10-03 14:00] sarabala1979 commented on #3523
@mikeshng Thanks Mike for putting together the information, Yes, I am also thinking the same line. Multi-Cluster and Multi-namespace workflow support should be at the kubernetes level.

[2022-10-03 14:02] sarabala1979 commented on #9734
@tooptoop4 is a good idea. Do you like to contribute to it?

[2022-10-03 14:03] Gibstick commented on #8684
I'm still able to reproduce this issue on v3.4.1 with the same steps

[2022-10-03 14:36] sarabala1979 commented on #5956
@boonware @tooptoop4  you can use semaphore/mutex to controller the parallel workflow execution on each namespace. if you want to control the whole cluster level, you can configure the parallelism in the controller config map.

[2022-10-03 15:14] crenshaw-dev commented on #9649
I'm curious if this is a reason to cut a CRD version (something we've generally avoided in the Argo projects). I assume the upstream CRD (Pod) was versioned for this change.

[2022-10-03 17:44] sarabala1979 commented on #9671
@ppapasani1 Do you like to fix this bug? Cli code has a bug it is overriding the YAML value with 0

https://github.com/argoproj/argo-workflows/blob/5c5d9e74cbb7fee3a6fcfb022ed7908b542a8289/cmd/argo/commands/submit.go#L208

[2022-10-03 17:56] sarabala1979 commented on #9692
@kodjo-anipah Do you like to fix this issue?

[2022-10-03 17:59] sarabala1979 commented on #9696
@scravy Is it working as expected on v3.3?

[2022-10-03 18:00] sarabala1979 commented on #9701
@aldeed can you try on v3.4.1?

[2022-10-03 18:13] sarabala1979 commented on #9732
@iz4blue Can you provide init container log?
```kubectl logs <podname> -c init```

[2022-10-03 18:16] sarabala1979 commented on #9737
@chtcvl  Can you fix this issue?

[2022-10-03 18:27] sarabala1979 commented on #9237
@kenchan0130 Do you like to fix and submit the PR?

[2022-10-03 19:01] jmeridth commented on #9701
Confirmed this is fixed in v3.4.1 for us.

[2022-10-03 19:07] #9701 closed

[2022-10-03 19:30] tfurmston commented on #9292
I think I'll pick one of these dependency removal tickets under the tech debt label. I'll look to work on this [one](https://github.com/argoproj/argo-workflows/issues/7810).

I'll start havng a look at it now.

[2022-10-03 21:33] ese commented on #9696
When I refresh the page it always show the list incomplete and after some time it loads all the workflows.

I noticed the issue is calling this endpoint:
[code]
As soon as this error appears in the browser console the UI loads all the workflows.

![image](https://user-images.githubusercontent.com/755174/193688421-c02a805a-6c3e-484a-954a-5bbe874a6f62.png)

[2022-10-03 21:44] juliev0 commented on #8911
I spoke to my colleague, and currently _expr_ expressions are not supported for _when_ conditions. We will open an Enhancement Issue related to that instead, and I can post the link here.

Please let us know if there is something that you can only do with _expr_ and can't do with _govaluate_.

[2022-10-03 22:46] juliev0 opened #9742 "Expr expressions can't make use of "workflow.parameters""
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

In [this](https://github.com/argoproj/argo-workflows/blob/master/util/e

[2022-10-03 22:54] juliev0 commented on #9742
One recommended fix for this comes from Bala's comment [here](https://github.com/argoproj/argo-workflows/pull/6410): rename "workflow.parameters" to "workflow.parameters.json".

Another option is to add a validation error message that checks for _expr_ expressions which reference "workflow.parameters" and forbid those explicitly.

Note, there is currently the prevention of using expr in a "when" c

[2022-10-04 01:09] iz4blue commented on #9732
@sarabala1979 Hello. Yes, here.

[code]

[2022-10-04 04:18] juliev0 commented on #8911
Added [this](https://github.com/argoproj/argo-workflows/issues/9742) issue, which as I've been told was the actual root cause behind why the validation logic prevents _expr_ expressions in the "when" condition.

[2022-10-04 04:50] juliev0 commented on #9681
Hi @alexdittmann. I think this is probably related to the change you made [here](https://github.com/argoproj/argo-workflows/commit/6b9dc2674f2092b2198efb0979e5d7e42efffc30#). Do you have bandwidth to look at it?

[2022-10-04 04:52] chtcvl commented on #9737
Sure, which approach is better:
1. Update documentation and provide additional manifests that don't require cert-manager (and disable TLS).
2. Update manifests to use something like https://github.com/jet/kube-webhook-certgen and remove cert-manager dependency at all

[2022-10-04 05:01] scravy commented on #9696
@terrytangyuan No, they do not appear when the list view is refreshed. On the contrary: When they appear and you then refresh they are gone again. Until the workflow transitions to a new node and pops up again.

@sarabala1979 We actually made a version jump from 3.1 where it used to work to 3.4 where it doesn't. I can try setting up a 3.3 later today and see whether the problem exists or not.

@es

[2022-10-04 05:55] johnlinp commented on #5506
Hi, I created a workaround for the secret parameter: a template that extracts secret as a output parameter.

[code]

One can use it in steps, for example:

[code]

[2022-10-04 07:08] tooptoop4 opened #9744 "UI: add "NAME PREFIX" field to Workflows List"
Currently the ArchivedWorkflows page in the UI has this field. I am proposing to add the same field to the main Workflows page as there can be a lot of currently running workflows that would be easy to filter using this field.

[2022-10-04 08:41] JPZ13 commented on #9732
Hey @iz4blue - I'm looking in to GCS compatibility. Do you notice this issue on 3.3.1 or any of the early 3.3 releases?

[2022-10-04 10:14] phlax opened #9745 "default not respected in `configMapKeyRef` when used to set global parameters"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Allowing a default value for a `ConfigMapKeyRef` was added in #8271 (re

[2022-10-04 10:30] tooptoop4 opened #9746 "artifactGC not working with IRSA"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

**what happened?**
artifactgc step failed, object still on s3 and workf

[2022-10-04 10:42] iz4blue commented on #9732
Hello, @JPZ13

I said as follows
 - I checked both versions v3.4.0 , v3.3.7 and v3.3.9 the problem was the same.

Do you need the test results of v3.3 and v3.3.1?
Tell me if you need it, it will take time, but I will test it.

Thank you for your interest in this issue.

[2022-10-04 12:31] terrytangyuan commented on #9746
Can you check if the env/volume has been added to the pod?

[2022-10-04 14:56] sarabala1979 commented on #9746
@tooptoop4 Can you try with a simple POD resource that can access the AWS using IRSA?

[2022-10-04 14:58] phlax commented on #9745
i would like to but my go-fu is weak so probably im not best placed to

[2022-10-04 18:26] jmeridth commented on #6529
Got things working.  Will be push up PR in next few days.

[2022-10-04 18:35] tfurmston commented on #9292
of course, no problem.

There's been no traffic since Feb, so I assumed no one was. I'll ping in the thread though and double check.

[2022-10-04 18:35] tfurmston commented on #7810
Is anyone working on this issue?

It looks stale, so I would like to pick it up.

[2022-10-04 22:26] juliev0 commented on #9746
I don't know a lot about the various ways of configuring IRSA but what what we tried to provide was two methods of access in S3:
1. annotations - your `eks.amazonaws.com/role-arn` should have been transferred to the Artifact GC Pod
2. you can configure `ServiceAccount` for Artifact GC in the Workflow spec

[2022-10-04 22:39] hbrewster-splunk commented on #8498
+1

[2022-10-04 22:40] msuthar-splunk commented on #8498
Can we please reopen this? This issue is impacting us as well.

[2022-10-05 00:03] tooptoop4 opened #9748 ""Pod Node didn't have enough resource: pods" error"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

expected step in workflow to run or retry (according to OnError retry s

[2022-10-05 03:25] tooptoop4 commented on #8224
Up

[2022-10-05 10:09] Piroddi commented on #9315
Would it make sense to add this `--force` field to the UI as well ? Also would it make sense to only update the finalizer after the workflows creates the artifact? As currently if a workflow fails before an artifact exists, the finalizer is present thus  preventing the workflow from being deleted until the finalizer been removed.

[2022-10-05 12:38] vitalyrychkov commented on #9630
Hi @sarabala1979 and @terrytangyuan

Some additional info to the registry pull topic.  We have tested 2 different registry access types:
- Password protected, anonymous access disabled. In this case our pods start and Argo can submit tasks as soon as we gave workflow-controller the RBAC permissions to read the secret defined in the "imagePullSecrets parameter.
- Password protected, anonymous acces

[2022-10-05 14:14] alexdittmann commented on #9681
Hi,
yes, i think i can take a lookt at it

[2022-10-05 14:20] tonyo commented on #9696
Seeing the same issue.
After I enqueue some workflows (and while they stay in the "Pending" state), they are not initially displayed when I open the list view. After some time they appear (as "Pending"). If I refresh the page, they are gone again.
`kubectl get workflow` and `argo list` correctly show those disappearing workflows as Pending.

We upgraded from 3.3.8 to 3.4.1 recently.

[2022-10-05 14:52] juliev0 commented on #9681
Thank you!

[2022-10-05 16:03] juliev0 commented on #9315
You can add an enhancement Issue for that if you like. The UI would of course still need to offer the "non-force" option as well.

Hmm, there might be a bug if that's happening. The way it should work is that if you set your artifact GC to "OnWorkflowCompletion" for example, then when the Workflow completes, only artifacts that actually exist should get deleted, and then once all of these artifact

[2022-10-05 19:47] terrytangyuan commented on #8498
@alexec What work are you referring to from @juliev0?

@basanthjenuhb Would you be interested in working on this issue?

[2022-10-05 20:34] juliev0 commented on #8498
I guess Alex was referring to the fact that we now have this endpoint:
`mux.HandleFunc("/artifact-files/", artifactServer.GetArtifactFile)`

in addition to the endpoints we had before:
[code]

I think he's thinking we'd replace those last 4 with the first once, since I believe it should be able to do the same thing. I'm not sure if this is a priority at the moment, though, although certainly reduc

[2022-10-06 11:10] caspereijkens commented on #7192
@alexec
Why shouldn't there be an ownership? In case of a failure, a WorkflowTemplate keeps rescheduling its Workflows. This can flood the cluster with new pods all stuck in pending. We would like to be able to manage these workflows. Ownership would be ideal because you could remove all those Workflows in one go.

[2022-10-06 15:51] rbreeze commented on #3591
@26tanishabanik This is where you'll want to start with the UI changes:

https://github.com/argoproj/argo-workflows/blob/master/ui/src/app/workflows/components/workflows-list/workflows-list.tsx

Additionally, for performance we may want to do grouping on the backend, in which case you'll want to start by digging in here:

https://github.com/argoproj/argo-workflows/blob/d9d1968de80fa0ee19a5e46ceea5

[2022-10-06 16:22] alexec commented on #9613
Do we support `singleBranch: true` as well as `branch: main`? That is also faster.

[2022-10-06 16:23] alexec commented on #9613
Also, be aware of that we actually use a fork:

https://github.com/argoproj/argo-workflows/blob/d9d1968de80fa0ee19a5e46ceea5d2b4cf4b5475/go.mod#L226

[2022-10-06 16:24] alexec commented on #9259
@simox-83 @tvalasek @Evalle would you like to submit fix please?

[2022-10-06 16:27] alexec commented on #9737
This fix for this is to revert 7e40d93. @chtcvl  will need to raise a new PR that does not add cert manager.

@allemp would you like to submit a PR to revert?

[2022-10-06 17:13] terrytangyuan commented on #9737
I am going to revert it now since our customers are affected by this change and this is a blocker for upgrading: https://github.com/argoproj/argo-workflows/pull/9756

[2022-10-06 17:35] juliusvonkohout commented on #9525
@terrytangyuan  are you still planning to fix this?

[2022-10-06 17:37] juliusvonkohout commented on #9525
Are you still working on it?

[2022-10-06 17:39] terrytangyuan commented on #9525
If there's no PR, you can just start working on it.

[2022-10-06 17:51] basanthjenuhb commented on #8498
@juliev0
Is the new endpoint integrated with the UI ?
Let me have a look at the new endpoint. It should be easily fixable.

[2022-10-06 18:01] basanthjenuhb commented on #8498
Also, generally issues are prioritized by 👍 count on the issue subject.
This issue didn't have any, probably why it got deprioritized.
Would request people to add a 👍 on the issue subject at the top.
This would help maintainers to prioritize.

[2022-10-06 19:06] juliev0 commented on #8498
It is as far as the "artifact visualization" at least (being able to click on the artifact and view it). That's when the new endpoint was added (GED week).

[2022-10-07 01:18] shraddhazpy commented on #9734
@sarabala1979 I will want to take this up!

[2022-10-07 09:33] jrhoward commented on #8320
ok I just discovered that there is a work around which does not require a code change on argoworkflow.

Not sure if it is documented so I can't vouch for how long it will last but you can manually insert the secret name into the service account manifest which means you can deploy workflow witout the fix into 1.24, as an example this works on server version:
{Major:"1", Minor:"24", GitVersion:"v1.2

[2022-10-07 11:16] Guillermogsjc opened #9764 "missing `${BASEHREF}` prefix on several links in the UI"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Hi, very small bug:

UI **OPEN WORKFLOW TEAMPLATE** link is missing `--

[2022-10-07 11:22] Guillermogsjc commented on #9764
in fact this bug is in the redirecting URL from `${BASEHREF}/argo-workflows/workflows/argo/${WORKFLOW_ID}`,

that goes to `archived-workflows/argo/${ARCHIVED_WORKFLOW_ID}` instead to

`${BASEHREF}/archived-workflows/argo/${ARCHIVED_WORKFLOW_ID}`

looks like there is needed a walk over there to check all ${BASEHREF} prefixes on generated urls over the UI

[2022-10-07 14:39] terrytangyuan commented on #8320
I won't have time to finish https://github.com/argoproj/argo-workflows/pull/9680 given other priorities, so I am closing that PR and freeing up this issue if anyone else wants to continue the work. The TokenRequest API suggested by @jessesuen seems like a better approach. ArgoCD has done this so feel free to use the following resources as reference:
* https://github.com/argoproj/argo-cd/pull/9546

[2022-10-07 15:00] alexec commented on #8320
@jrhoward awesome work finding the work-around. It does appear to be documented:

https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/

The short term fix myself and @sarabala1979 were considering was exactly the same as this.

[2022-10-07 15:03] #9659 closed

[2022-10-07 16:17] liggitt commented on #8320
Manually adding token secrets to the list in the service account object is not expected. That list is specifically for secrets which are mounted into pods, and secret based tokens no longer are in 1.21+

[2022-10-07 16:48] sarabala1979 commented on #8320
@terrytangyuan can you update the PR with @jrhoward examples for Short term solutions?  ServiceAccount will have an annotation with a secret name.  So the controller will look at the annotation if there is no Secret on ServiceAccount.

[2022-10-07 17:12] anil10032 commented on #9610
@sarabala1979 I would like to work on this. Can you assign this to me?

[2022-10-07 17:18] sarabala1979 commented on #9610
done

[2022-10-07 17:32] #9611 closed

[2022-10-07 17:56] mostaphaRoudsari commented on #5316
Hi, @alexec, Have there been any updates on this one? ContainerSets are great for grouping small tasks but they are really hard to debug if something goes wrong and without access to the logs except for the main one.

[2022-10-07 19:20] brendanstennett commented on #8742
+1

Seeing it as well.
[code]

Will always execute on success or failure

[2022-10-07 20:11] terrytangyuan commented on #8320
I couldn't get some tests passing and didn't have much time to investigate further. The remaining issues are documented in https://github.com/argoproj/argo-workflows/pull/9680#issuecomment-1272049486 in case anyone else wants to pick up.

[2022-10-07 21:24] eddie-knight opened #9769 "Bring CLOMonitor Score to 100%"
Per discussion in slack, this issue is to track the efforts necessary to bring argo-workflow [CLOMonitor](https://clomonitor.io/projects/cncf/argo#argo-workflows) score to 100% as part of the CNCF security slam.

Below is a checklist of action items. I will add comments if there is anything that can't be addressed or if I am unsure of how to address it. It is possible to [exclude checks](https://g

[2022-10-07 22:33] rajaie-sg opened #9770 "Python SDK list_workflows break when Workflow in progress"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I expect the list_workflows method in the Python SDK to return the resu

[2022-10-07 22:48] rajaie-sg commented on #9770
Upon further inspection, it seems the "print(api_response)" is what's causing the error. I am just following the example from https://raw.githubusercontent.com/argoproj/argo-workflows/master/sdks/python/client/docs/WorkflowServiceApi.md

[2022-10-08 03:34] nikita-akuity opened #9772 "Trying to access artifacts from archived workflows breaks the UI"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

The artifact preview works perfectly with unarchived workflows, but whe

[2022-10-08 15:35] #6535 closed

[2022-10-08 15:36] #9685 closed

[2022-10-08 18:01] yaman-694 commented on #3774
i want to solve this issue please assign

[2022-10-09 02:15] Guillermogsjc commented on #9764
sorry pulled repo and searched everywhere from `ArgoServerOpts` but did not manage to understand how it is added this basehref to base url before paths

[2022-10-09 05:24] tooptoop4 commented on #9772
dupe of https://github.com/argoproj/argo-workflows/issues/9627 ?

[2022-10-09 09:35] tooptoop4 commented on #9748
I am on k8s 1.22 so I guess 1.23 might help (https://github.com/kubernetes/kubernetes/issues/104560, https://github.com/kubernetes/kubernetes/issues/106884)

[2022-10-09 09:35] #9748 closed

[2022-10-09 20:20] VUHAILAM commented on #2308
Hope this PR: https://github.com/argoproj/argo-workflows/pull/9779 can help you. Hi @alexec  and @simster7, please help me to review it

[2022-10-09 21:20] lemaral commented on #7519
Hello, any news on being able to set runtimeClassName: nvidia ?

[2022-10-10 01:12] sanqiuli opened #9780 "pod deleted error when running multiple workflows concurrently"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I wrote a workflow about biological data processing. This workflow may

[2022-10-10 01:22] terrytangyuan commented on #7519
Use podSpecPatch?

[2022-10-10 01:32] sarabala1979 commented on #9780
I think pod deletion because of node auto scale or node rotation. You  can prevent this with two options.

1. Add retry strategy for every step
2. Enable the PDB on workflow

Sent from my iPhone

[2022-10-10 02:06] sarabala1979 commented on #9780
https://github.com/argoproj/argo-workflows/blob/master/examples/default-pdb-support.yaml

Sent from my iPhone

[2022-10-10 03:10] sanqiuli commented on #9780
![image](https://user-images.githubusercontent.com/61610792/194793848-cd091918-7752-4b3b-907e-eac6e3a579f1.png)
![image](https://user-images.githubusercontent.com/61610792/194793875-e5d60c18-0424-433b-a9e2-5be34721b6ea.png)
![image](https://user-images.githubusercontent.com/61610792/194794163-68799f47-9192-4b73-8ad0-2b75998966ef.png)

it didn't work

[2022-10-10 03:14] sarabala1979 commented on #9780
@sanqiuli can you provide the pod describe? Can you gett more details why the POD is getting deleted in kubernetes?

[2022-10-10 04:18] sanqiuli commented on #9780
I didn't set argo's gc, but my pods are garbage collected
I only query the log of the pod being gc
[code]

[2022-10-10 04:57] juliev0 commented on #9627
I don't think artifact visualization ever got incorporated into archived workflows. You can see [this](https://github.com/argoproj/argo-workflows/commit/c781a582821c4e08416eba9a3889eb2588596aa6#diff-0670537605e4212d6dada675c6498eabe38d45eb0d3594d59c0779905a83f18b) change was the first change which incorporated artifact visualization. In ui/src/app/workflows/components/workflow-details you can see

[2022-10-10 07:04] FischerLGLN commented on #7519
We're patching the single pod after starting the workflow to achieve this.

@terrytangyuan  This is a great way to solve this!

I'll try [this](https://github.com/argoproj/argo-workflows/blob/master/examples/pod-spec-patch.yaml) and report!

[2022-10-10 07:57] RoryDoherty commented on #9179
Should the docs be updated around `ty` and `stdin` to say that these options will not actually work then?

[2022-10-10 08:28] makzzz1986 opened #9781 "ETCD throttling on EKS"
# Summary

Argo-Workflows produces a lot of API calls to ETCD and some of the requests can be canceled and Workflow transition between states can be disrupted. You can spot a error on the controller:
`cannot validate Workflow: rpc error: code = ResourceExhausted desc = etcdserver: throttle: too many requests`

# Use Cases

There is a self-calculated throttling limits on AWS EKS and if your K8s clu

[2022-10-10 08:55] lemaral commented on #7519
@terrytangyuan thanks for the tip! It works perfectly, in my case:
`podSpecPatch: '{"runtimeClassName":"nvidia"}'`
I was about to dig into the code but I guess this is enough :)

[2022-10-10 11:41] terrytangyuan commented on #7519
Perfect. Closing this for now.

[2022-10-10 11:41] #7519 closed

[2022-10-10 12:45] KasnocknDave commented on #9613
We are also currently experiencing this issue. We are using Argo Workflows as a CI solution, so we need to check out from a specific commit. Just dropping `depth` is sadly also not easily possible, since workflows are distributed across many teams and breaking all workflows with such an attributed can be considered a breaking change.

[2022-10-10 15:27] alexec commented on #9613
This issue needs more information:

* What version was in working in?
* What version is it broken in?
* Have you tested using `:latest` tags, and what was the outcome?
* Attach the logs from the `init` container.

[2022-10-10 15:32] juliev0 commented on #9772
Yes, it seems to be. I added a comment there.

[2022-10-10 15:39] alexec commented on #9269
To fix this, modify this block of code

From:

https://github.com/argoproj/argo-workflows/blob/621b0d1a8e09634666ebe403ee7b8fc29db1dc4e/workflow/controller/operator.go#L559

To:

[code]

This is a really easy fix. Would someone like to volunteer?

[2022-10-10 15:44] #9259 closed

[2022-10-10 15:45] #9737 closed

[2022-10-10 15:46] alexec commented on #8911
fix(controller): Randomly expr expression fail to resolve (#6410)

[2022-10-10 15:50] alexec commented on #8911
I think the fix for this would be to revert c29b275d. It is that validation that is preventing its use.
The downside of this would be the removal of a helpful warning, but I can't see another way to fix this.

[2022-10-10 15:51] alexec commented on #8911
It is trivial `git revert` to fix this, but you would need to test the fix works for you.

[2022-10-10 15:54] juliev0 commented on #8911
Please see the PR - I have reverted it and fixed the underlying cause based on discussion with Bala

[2022-10-10 16:02] #9573 closed

[2022-10-10 16:05] #9681 closed

[2022-10-10 16:10] #9704 closed

[2022-10-10 16:27] alexec commented on #9649
I've discussed this, I think the blog post is actually incorrect.

[2022-10-10 16:30] rwong2888 commented on #9649
So what is the recommended way to secure the workflows in a generic way now @alexec ?

[2022-10-10 16:30] alexec commented on #9780
see #9058

[2022-10-10 16:32] alexec commented on #9649
Let me figure out the correct settings and share them.

[2022-10-10 16:35] rwong2888 commented on #9613
This was working before v3.4.0, fairly certain it is occurring in v3.4.1 as well.
We went with the workaround in our staging environment. We still have not upgraded our prod to v3.4.x
@Nizar-opt can you capture any init logs?

[2022-10-10 16:35] #9745 closed

[2022-10-10 16:53] alexec commented on #9649
@rwong2888 can I ask you to test this? You need to perform three steps:

1. Configure the controller with secure defaults.
2. Run a workflow.
3. Verify pods were created with secure settings, e.g. using `kubectl get pods -l workflows.argoproj.io/workflow -o yaml | kube-linter lint -`.

[2022-10-10 16:55] rwong2888 commented on #9649
@alexec , the controller does not even start once I enable those commented out settings

[2022-10-10 16:56] alexec commented on #9649
Let me run some tests. I think there maybe a bug where the init container does not get set.

[2022-10-10 17:08] alexec commented on #9649
[code]

[2022-10-10 17:11] alexec commented on #9649
**Trust, but verify.**

Use `kube-linter` (or whatever Kubernetes security tool you like) to verify it works.

Can you please try out the configuration I suggest?

[2022-10-10 18:18] ragnaros2046 opened #9786 "Auth0 sso integration makes `customGroupClaimName` and `userInfoPath` conflict"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Auth0 forbid Groups claim. There is an extension can be used to add cus

[2022-10-10 21:04] #8573 closed

[2022-10-10 22:01] xubofei1983 commented on #8814
I think It was some s3 permission issue.  I forgot exact changes but It works for me now.

The argo server log was not informative, but you can try access s3 from the pod to test the accessibility issue.

[2022-10-11 01:19] alexec commented on #8320
Hmmm.`kubernetes.io/service-account.name` is an annotation on the secret, not the service account. We actually need the service account to point to the secret.

[2022-10-11 01:39] sanqiuli commented on #9780
I succeeded after adding both retry and pdb in yaml

[2022-10-11 01:39] #9780 closed

[2022-10-11 06:58] hzliangbin commented on #8702
@deepyaman yes, seems still in use。

[2022-10-11 07:03] hzliangbin commented on #8702
@terrytangyuan hi, maybe this issue could be closed

[2022-10-11 07:18] KasnocknDave commented on #9613
The version I am currently testing is 3.4.1
Last confirmed version where it worked is 3.3.9

The issue I am experiencing matches exactly with https://github.com/go-git/go-git/issues/328.
This highly suggests that releasing the bumped dependency causes the issue.

Here are the init logs of such a failing workflow pod:

[code]

[2022-10-11 08:37] sarabala1979 commented on #8233
Can you check your CLI version?

Sent from my iPhone

[2022-10-11 09:22] sarabala1979 commented on #8972
@alexc looks like plugin node is not initialized. It looks like bug in plugin Can you take a looks?

Sent from my iPhone

[2022-10-11 09:28] AlexC commented on #8972
@sarabala1979 Sorry, you have the wrong guy, as people often do with this project. You need @alexec ...

[2022-10-11 11:38] Nizar-opt commented on #9613
[code]

[2022-10-11 13:56] mrkwtz commented on #3523
Because @sarabala1979 asked for it in the ArgoCon talk here is a MultiCluster use-case from us.

We need to sync databases across environments (and - in our case - therefore Kubernetes clusters). So the workflow is like

1. Create dump from source_db
2. Copy dump to S3
3. Restore dump into target_db

Between 2 and 3 there could be some scripts that alter the data like anonymizing. Right now how we

[2022-10-11 14:18] Nizar-opt commented on #9649
tried the configuration on v3.4.1 - it works fine

[2022-10-11 14:22] alexec commented on #8972
The controller rarely panic unless there is a bug in the code. Unfortunately, panics tend to hide the real bug.

To fix, change this line of code:

https://github.com/argoproj/argo-workflows/blob/cd43bba6c87d185bd1530c03c99b874eeceba966/workflow/controller/operator.go#L2304

[code]

Could someone please submit a PR?

[2022-10-11 14:23] #8702 closed

[2022-10-11 14:28] alexec commented on #9613
In v3.4 we switched from using `git` binary to using `go-git`. I don't see us going back on that unless a fix is more expensive and there is no workaround.

[2022-10-11 14:36] #9269 closed

[2022-10-11 14:39] alexec commented on #9649
Thank you. I've updated the blog post.

[2022-10-11 14:40] #9649 closed

[2022-10-11 15:02] alexec commented on #9613
A work-around for this would be to use an init container to check out the code onto a shared volume. I'm not sure how you bring in secrets.

[2022-10-11 15:05] alexec commented on #9613
[code]

[2022-10-11 15:11] alexec commented on #9613
`go-git` received no bug fixes for several months in 2022.

[2022-10-11 15:12] alexec commented on #9613
Ok. Next steps for anyone wanting to investigate:

1. Create a workflow that reproduces the issue.
2. Upgrade `go-git` in Argo to be the latest version.
3. Test.

[2022-10-11 15:38] DocX commented on #9022
This looks like duplicate of https://github.com/argoproj/argo-workflows/issues/4014

[2022-10-11 15:39] DocX commented on #4014
We have exactly the same issue. And I found someone else reporting similar issue in https://github.com/argoproj/argo-workflows/issues/4014

Is there any roadmap for this? Instead I may be able to look at it. Can someone point me to relevant places in argo?

If I understand it correctly argo uses `minio` client for s3?

[2022-10-11 16:08] AndrewChubatiuk opened #9791 "Link templates do not work when template is in URL path"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I have workflow controller links configuration
[code]
when I press `Spa

[2022-10-11 17:00] juliev0 commented on #9746
Could you do something like what's shown [here](https://www.bionconsulting.com/blog/amazon-eks-irsa#:~:text=What%20is%20IRSA%3F,and%20Kubernetes%20service%20account%20annotations.)?

[2022-10-11 17:14] sarabala1979 commented on #9746
This is enhancement. MVP version supports `metadata`. we can enhance to support env too.
@tooptoop4 Do you like to submit PR for this enhancement?

[2022-10-11 17:52] sarabala1979 commented on #8954
@Tolsto @yavulan can you try on v3.4.2?

[2022-10-11 18:45] juliev0 commented on #9746
For anybody working on this, the idea would be to take the [ArtifactGC](https://github.com/argoproj/argo-workflows/blob/master/pkg/apis/workflow/v1alpha1/workflow_types.go#L1054) struct - which can be used both on the WorkflowSpec level and the Artifact level - and add the capability to specify environment variables there.

The way ArtifactGC Pods get created currently, for each unique GC strategy

[2022-10-11 18:59] bkanuka commented on #9791
I can confirm.  To add, the following link config *works*:
[code]
The following does *not work*:
[code]
The second generates the link `https://logging-facility/namespace=$%7Bmetadata.namespace%7D`

[2022-10-11 19:08] christophkreutzer commented on #3523
I could also provide an example what would be the benefit from our side:

We currently have a centralized cluster running Argo Workflows, which handles diverse data pipelines of multiple teams. It can scale pretty flexible thanks to autoscaling, but everything has it's limits.
There are already teams with their own clusters (without Argo Workflows currently), because they have special needs or wou

[2022-10-11 20:42] ldejuan commented on #4014
Since I was stuck with this issue, I decided to use a minio client on my docker image to copy the artfacts back to the S3, against the argo design' concepts. In my code I had to explicity pass the bucket key and not in the workflow manifest. And the performances were incredible. When running a workflow with a lot of small artifacts, argo underperforms dramatically. This issue should be addressed.

[2022-10-11 20:53] tooptoop4 commented on #9746
I guess need volumeMounts/volumes too

[2022-10-11 21:00] juliev0 commented on #9746
yes, you're right

[2022-10-11 21:52] #8911 closed

[2022-10-11 21:52] #9742 closed

[2022-10-12 03:38] zwwhdls opened #9796 "argo server install error because of secret `argo-server-tls` not found"
### Pre-requisites

- [X] I have double-checked my configuration
- [ ] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

When I install argo server under the guidance of installation in [relea

[2022-10-12 04:55] sanqiuli commented on #9780
I found that when my pod is waiting to be scheduled, it is garbage collected, which is related to the --terminated-pod-gc-threshold (default 12500, I set it to 100) set by the kube-controller-manager of k8s. When the number of terminated pods exceeds When this value is used, a pod deleted error will occur

[2022-10-12 07:41] wsj0000 opened #9797 "[bug] The command exit code always be '0' in windows container"
The command exit code always be '0' in windows container. Because the wait function on windows only check the err but not with the exit code of the stat (The error might be redirect).
[https://github.com/argoproj/argo-workflows/blob/aa59b43748f78e599709add871af7ec14e1fd3c1/workflow/executor/os-specific/signal_windows.go#L29](url)

I tried to fix this by the code below:
[code]
This is just a tempor

[2022-10-12 09:57] scravy commented on #9696
I setup a 3.3 on our dev cluster and things work as expected. Both 3.4.0 and 3.4.1 show the regression as described here.

[2022-10-12 11:25] JPZ13 commented on #9588
I synced with @tim-sendible today - the `${metadata.name}` field is working properly in the `workflow-controller-configmap`

[2022-10-12 11:25] JPZ13 commented on #9588
I would suggest closing this issue

[2022-10-12 11:31] tim-sendible commented on #9588
Agreed. From what I saw on @JPZ13's screen it all looks good now. Thanks.

[2022-10-12 11:33] tim-sendible opened #9800 "The documentation doesn't mention all the link scopes available"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

After a meeting with @JPZ13 I learned that there are more link scopes a

[2022-10-12 11:43] jopfeffe opened #9801 "S3 upload fails for bigger files on none AWS bucket"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Argo fails to upload larger files to a non official AWS bucket.

What h

[2022-10-12 13:06] jopfeffe commented on #9801
I just checked some releases. It seems that the issue was introduced with Argo 3.4.1.

Upload is working fine in 3.3.9 and 3.4.0 release. It seems that it is **not** related to multipart upload as multipart upload is working fine in these releases.

I'm not sure what the actual issue is.

Maybe it's the Minio release "minio-go/v7.0.37" vs "minio-go/v7.0.36" (Argo 3.4.0).

[2022-10-12 14:24] vitalyrychkov opened #9802 "Executor tries to use imagePullSecrets to pull a container image even if anonymous pull is enabled"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

Kubernetes pulls the same images without using imagePullSecrets if anon

[2022-10-12 14:26] vitalyrychkov commented on #9630
Created a separate issue for this: https://github.com/argoproj/argo-workflows/issues/9802

[2022-10-12 19:14] ppapasani1 opened #9803 "One of the task in workflow struck in Pod Initialization phase for longtime"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

The Pod Initialization is usually < 10sec in argo version 3.1.8. After

[2022-10-12 19:14] ppapasani1 opened #9804 "One of the task in workflow struck in Pod Initialization phase for longtime"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

The Pod Initialization is usually < 10sec in argo version 3.1.8. After

[2022-10-12 19:40] terrytangyuan commented on #9803
Duplicate

[2022-10-12 19:40] #9803 closed

[2022-10-12 21:11] ppapasani1 commented on #9803
@terrytangyuan Can you please include/provide the issue number?

[2022-10-12 21:15] terrytangyuan commented on #9803
You submitted the same issue twice.

[2022-10-13 00:58] tczhao commented on #9796
Thanks, I think we got a "fix" from this PR.
https://github.com/argoproj/argo-workflows/pull/9756

The reverted feature is implementing in https://github.com/argoproj/argo-workflows/pull/9789

[2022-10-13 01:01] alexec commented on #9797
Please submit PR to fix!

[2022-10-13 01:03] #9764 closed

[2022-10-13 01:03] #9791 closed

[2022-10-13 01:53] ppapasani1 commented on #9804
![Screen Shot 2022-10-12 at 6 49 43 PM](https://user-images.githubusercontent.com/37124509/195480149-bc1e5f3e-2538-4406-9340-b3c8cbb15be0.png)

Here is another observation. It is taking ~9 min to start the main job. The scheduler is assigned a node to the pod then the init and main container are taking ~9min. @sarabala1979 @terrytangyuan Any clue what is going wrong?

[2022-10-13 07:17] wsj0000 commented on #9797
https://github.com/argoproj/argo-workflows/pull/9806

PR submitted

[2022-10-13 11:24] allemp opened #9808 "Email in Argo Server audit Log and GDPR"
# Summary

Currently [argo server gatekeeper will log the email in an audit log](https://github.com/argoproj/argo-workflows/blob/d0cfc6d10b11d9977007bb14373e699e604c1b74/server/auth/gatekeeper.go#L314). This is not great because email is personally identifiable information in Europe and is subject to GDPR.

I suggest being able to choose what is logged/what is not logged through a configmap. For e

[2022-10-13 14:05] terrytangyuan commented on #9808
Maybe we should remove email from the log. WDYT? @alexec

[2022-10-13 14:12] alexec commented on #9808
I’m not a lawyer.

The email is logged for audit purposes. The email is not  a customer’s email, it would be that of Argo operator’s employee.

 It would be helpful to see a lawyer’s opinion on that.

[2022-10-13 14:28] allemp commented on #9808
I had to research this at work and while I am also not a lawyer the conclusion I've come to is that it's still personal data for employees ([source](https://www.cognitivelaw.co.uk/gdpr-issues-do-work-emails-count-as-personal-data/)) and having it in log files is not great practice. The proper way is already implemented: The logs also record the ID of the user which makes it a lot more secure than

[2022-10-13 15:24] tczhao opened #9810 "Refactor UI to use functional component"
# Summary

Say for UI features, new feature added in workflow page would likely be useful in archived workflow as well,
but right now we have both class and functional components at various parts of the UI, porting features from one part to another can be a pain.

class component file list

- [x] 1. ui/src/app/app.tsx:
- [ ] 2. ui/src/app/archived-workflows/components/archived-workflow-details/arc

[2022-10-13 16:32] xubofei1983 opened #9811 "argo proxy failed to upload log to s3 with latest helm chart"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

argo proxy failed to upload log to s3

time="2022-10-13T08:42:56.387Z"

[2022-10-13 16:40] omarkalloush opened #9812 "Workflows in the Pending state that are waiting for the mutex are not showing in the UI"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

What happened?

I deployed 2 workflows that has the same mutex the 2nd

[2022-10-13 19:02] tooptoop4 commented on #9808
I need the email because username appears as garbled string

[2022-10-13 19:16] arnoldrw commented on #3080
Rough Istio equivalent of the [traefik manifests above](https://github.com/argoproj/argo-workflows/issues/3080#issuecomment-1235597724) in case someone needs it. Istio's rewrite here is doing the job of traefik's stripPrefix.

[code]

[2022-10-13 20:19] #9796 closed

[2022-10-13 23:11] xubofei1983 commented on #9811
I believe the issue is argo cannot get instance metadata.  the underneath s3 library likely switch to IMDSv2.
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/configuring-instance-metadata-service.html

increase the hop limit from 1 to 2 solves the problem
"""
By default, the response to PUT requests has a response hop limit (time to live) of 1 at the IP protocol level. You can adjust the hop l

[2022-10-13 23:11] #9811 closed

[2022-10-14 09:00] tim-sendible commented on #9800
I was wrong, it is (now) in the example workflow. Closing as not required.

[2022-10-14 09:00] #9800 closed

[2022-10-14 09:52] zychina opened #9814 "argo-server can not work with Kubernetes proxy api"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I want to connect argo API Server to manage workflow, but I do not like

[2022-10-14 16:38] rajaie-sg commented on #8456
FYI we are also running into this with 3.4.1 using a containerSet where the first container that runs (not the init, but the first defined by us) gets OOMKilled and then the Workflow just hangs in the Running state until the activeDeadlineSeconds timeout is reached. This happens when I set a memory request/limit of 30Mi for the container.

If I set that container's memory request/limit to 60Mi, it

[2022-10-14 18:53] sergiynesterenko90 opened #9817 "Internal Server Error When Fetching Logs From Inline Workflows"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

### What happened?
When I run a workflow that contains an inline compon

[2022-10-14 18:56] terrytangyuan commented on #9817
`workflowtaskresults.argoproj.io is forbidden: User "system:serviceaccount:quilter-dev-sergiy:default" cannot create resource "workflowtaskresults" in API group "argoproj.io" in the namespace`

This indicates that you are missing some permissions on your service account.

[2022-10-14 19:31] sergiynesterenko90 commented on #9817
@terrytangyuan thanks for the quick response! I fixed that permissions issue on my service account, but unfortunately the issue I described has not been resolved :(

Here are the new logs from the wait container after the permissions fix has been applied:
[code]

For a little more info, here is the traceback that the Argo UI provides when trying to access the artifact:
[code]

[2022-10-14 19:51] ntdt opened #9818 "Artifact with compressionLevel:0 failed on v3.4.1"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

With the setting `artifact.tar.compressionLevel: 0` and an artifact `te

[2022-10-14 21:29] hernanpl opened #9819 "Bring CLOMonitor Score to 100%"
This repo is signed up as part of the KubeCon [Security Slam](https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/attend/experiences/#security-slam). I'm bringing to your attention the checklist from the official [CLOMonitor page for Argo](https://clomonitor.io/projects/cncf/argo#argo-workflows) -- it refreshes every hour, so it should be up-to-date.

## CLOMonitor report

###

[2022-10-14 21:50] eddie-knight commented on #9819
whoops-- duplicate of #9769

[2022-10-15 01:16] #9819 closed

[2022-10-15 09:17] tczhao opened #9830 "Need to manually run startup.sh in devcontainer"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

After the initial devcontainer build,
every time we start the vscode wi

[2022-10-15 10:27] aditya-shrivastava opened #9832 "I would like a mentor"
**Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).**

Answer: **Yes I have read the mentoring guide.**

**What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?**

Answer: **I have previous experience in React.**

**Is there any particular issue you'd

[2022-10-15 12:02] #9830 closed

[2022-10-15 14:13] ibotdotout commented on #7920
I would like to pick up this one.

[2022-10-15 15:26] athityakumar commented on #9656
@alexec - Is the scope of the solution for this issue about not saving the state at all for archived workflows into the browser's local storage, or to store the state to the browser's local storage with a pagination/max limit?

[2022-10-15 15:35] athityakumar commented on #9656
Just to confirm: Basically all the state variables (this.state.*) - except the `this.state.workflows`; can be stored to the browser in this line right?

[2022-10-15 18:26] alexec commented on #9656
That is correct.

[2022-10-16 00:35] #9454 closed

[2022-10-16 00:35] #9479 closed

[2022-10-16 00:36] #9451 closed

[2022-10-16 00:36] #9386 closed

[2022-10-16 00:36] #9370 closed

[2022-10-16 00:36] #9322 closed

[2022-10-16 00:36] #9316 closed

[2022-10-16 00:37] #9289 closed

[2022-10-16 00:37] #9457 closed

[2022-10-16 00:37] #9146 closed

[2022-10-16 00:37] #9484 closed

[2022-10-16 00:38] #9314 closed

[2022-10-16 00:38] #9367 closed

[2022-10-16 00:38] #9270 closed

[2022-10-16 00:38] #9224 closed

[2022-10-16 00:38] #9225 closed

[2022-10-16 00:39] #9209 closed

[2022-10-16 00:39] #8938 closed

[2022-10-16 00:40] #9536 closed

[2022-10-16 00:40] #9488 closed

[2022-10-16 00:40] #9469 closed

[2022-10-16 00:41] #9489 closed

[2022-10-16 00:41] #9238 closed

[2022-10-16 00:42] #8981 closed

[2022-10-16 00:42] #9555 closed

[2022-10-16 00:42] #9498 closed

[2022-10-16 00:43] #9462 closed

[2022-10-16 00:43] #9553 closed

[2022-10-16 00:43] #9582 closed

[2022-10-16 00:43] #9574 closed

[2022-10-16 07:56] ibotdotout commented on #8953
I faced this issue too. I would like to help to clean it up.
Do you have any suggestion for this ?

[2022-10-16 08:15] tczhao commented on #8953
I'm thinking for these steps that require private key
skip them if certain environmental variable are not present
https://docs.github.com/en/actions/learn-github-actions/environment-variables

[2022-10-16 09:55] pockyhe opened #9839 "Trigger workflow with Azure Eventhub Sensor: `expected < 2 pods, got 2 - this is a bug`"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

I tried to implement execute a workflow from workflow template with eve

[2022-10-16 11:32] ibotdotout opened #9841 "View Manifest error on inline node"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [X] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

What happened:

Got error page when click view Manifest from inline nod

[2022-10-17 02:02] tooptoop4 opened #9843 "click 'Retry' button throws error"
### Pre-requisites

- [X] I have double-checked my configuration
- [X] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

so a workflow failed, then i clicked 'retry' button in UI and received

[2022-10-17 02:22] rylim commented on #2308
@simster7 @sarabala1979 @alexec Submitted #9844 for this issue (for hacktoberfest 🎃). I started with the `log.Fatal(err)` primarily to confirm that the approach is correct. Please let me know of any feedback and I can work on the remaining `Fatal` logs with fields, i.e. `Fatalf` ones.

Also, you would rather everything be in one PR or in separate PRs for each log level? e.g, one PR for Info logs,

[2022-10-17 06:10] SatabrataPaul-GitAc opened #9845 "Mutex issue on task failure in a workflow"
### Pre-requisites

- [X] I have double-checked my configuration
- [ ] I can confirm the issues exists when I tested with `:latest`
- [ ] I'd like to contribute the fix myself (see [contributing guide](https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md))

### What happened/what you expected to happen?

There is an issue that I have faced while simulating a workflow behavio

[2022-10-17 07:39] KasnocknDave commented on #9613
We are waiting on https://github.com/argoproj-labs/go-git/pull/5 now to be merged and see if it makes a difference once the dependency gets bumped again.
@alexec Thanks for your feedback and help!

[2022-10-17 08:13] linkingli commented on #8298
watching

[2022-10-17 08:41] Igor992 commented on #5506
@johnlinp Thanks for this, works perfectly! 👍🏼

[2022-10-17 09:02] makzzz1986 commented on #9781
Unfortunately, AWS EKS cluster API limits are changed dynamically, if your cluster has shrunk, the limits will be decreased as well

[2022-10-17 09:08] linkingli opened #9848 "plan to add workflow labels to the metric?"
# Summary

 add workflow/workflowTemplate's label to the metric

# Use Cases

When I have two workflowTemplates (A,B), I want to know the overall situation of workflow of A and B respectively. The current metric does not support me to do this. Since there is no label for workflow.
NOW:
argo_workflows_count{container="workflow-controller", endpoint="metrics",
instance="127.0.0.1:9090", job="workflo