[2021-12-07 01:08] isubasinghe commented on #873
Picked this up, going to be developing on a CWL to argo transpiler on my fork https://github.com/isubasinghe/argo-workflows

[2021-12-07 01:12] isubasinghe commented on #6919
Not sure if this is the workflow specification you are referring to but if it is, seems like you are able to close this issue since those pipelines seem to transpile to argo https://github.com/kubeflow/pipelines/issues/3253

[2021-12-07 01:21] isubasinghe commented on #6919
Is this https://www.kubeflow.org/docs/components/pipelines/sdk-v2/build-pipeline/ what you are referring to? Not entirely sure about much of this but seems like kfp v1 supported compiling to argo workflows, so perhaps v2 will as well?

Which may mean our job is easier.

[2021-12-07 05:02] sarabala1979 commented on #7095
This issue can be deprioritized. I will put it back in the backlog.

[2021-12-07 05:22] sarabala1979 commented on #7336
@zcerhub can you provide your use-case and minio version? Is minio object get updated during the workflow execution?

[2021-12-07 06:46] AchimBursian commented on #7221
@drewmassey we never had a problem with `POD_NAMES` as v1, only with v2. And we simply upgraded the same way as you did, and the v2 problems were gone. If you see problems with v1, you should maybe create a new issue, as this one was only dealing with v2...

[2021-12-07 09:30] RoelvandenBerg opened #7349 "When connection problems occur while loading artifacts, the workflow init step exits and the workflow fails."
## Summary

*What happened/what you expected to happen?*

When connection problems occur while loading artifacts, the workflow init step exits and the workflow fails. This is a regression.
We propose a fix in PR: [7352](https://github.com/argoproj/argo-workflows/pull/7352).

In this PR we add an extra check for Transient errors every time the S3 Transient errors are checked.

What version is it br

[2021-12-07 14:50] vdymna commented on #7224
I'm having this issue as well, did a cluster install from the master branch (v3.2.4) in the local OpenShift v4.9.5 (CodeReady Containers). For some reason `wait` container just keeps on running even so main workflow container is done.

[2021-12-07 16:10] simster7 commented on #7335
`Suspended` is inferred when either the workflow or any node in the workflow has Phase `Running` and is a `NodeTypeSuspend`. You could identify any nodes by looking at the full workflow yaml status.

In this case the value of `step_duration_gauge{status="Pending"}` can only be `0` after it transitions out (since we don't record timings).

This might be a misuse of metrics. Telemetry [is not meant

[2021-12-07 16:29] alexec commented on #6919
See https://github.com/kubeflow/pipelines/issues/3703

[2021-12-07 16:34] samuelBB commented on #3114
Would like to bump this - it would be very useful to know the specific reason a step/task failed. In my use case, if a task fails from memory pressure, I’d like to run the task again but with a different node group that has higher memory capacity. This could be controlled eg with a “when” condition that checks “tasks.myTask.message”

[2021-12-07 16:52] jnahelou commented on #7224
I had a similar issue on GKE. My workaround was to set `containerRuntimeExecutor: emissary` in controller configmap

[2021-12-07 17:14] HRusby-Cheyne commented on #7332
I'm currently having issues getting Argo running locally (Docker issues not argo issues). Once I've resolved them I'll look at implementing a fix.

[2021-12-07 17:16] simster7 commented on #7182
I took a look.

This is correct. When you edit a cron workflow and it gets reloaded by the workflow controller, it has no way of knowing if a change was made to the `Schedule` or if an execution was missed. Using `replace` works because it replaces the whole cron workflow (including the `Status` fields which contain the last known execution time).

Two ways forward:
* As a workaround, simply use `

[2021-12-07 17:51] terrytangyuan commented on #7332
@HRusby-Cheyne Docker executor is not recommended. Consider trying out other executors such as Emissary.

[2021-12-07 18:02] vdymna commented on #7224
Thanks @jnahelou, that does seem to help:
[code]
I've noticed that [quick-start-*.yaml](https://github.com/argoproj/argo-workflows/blob/master/manifests/quick-start-minimal.yaml#L691) manifests contain that configuration but not the standard [install.yaml](https://github.com/argoproj/argo-workflows/blob/master/manifests/install.yaml).

[2021-12-07 18:20] alexec commented on #7224
+1 to @jnahelou there is a bug, where if the executor is not specified, it does not work. To workaround, change configuration as suggested.

[2021-12-07 18:33] alexec commented on #7224
I think the bug is here:

https://github.com/argoproj/argo-workflows/blob/6423b6995f06188c11eddb3ad23ae6631c2bf025/workflow/controller/controller.go#L1100

This should probably return "emissary" rather than empty string,

Probably caused by #6785 (#6882).

@tczhao would you like to own this?

[2021-12-07 19:35] ebr commented on #7335
Thank you for pointing out `NodeTypeSuspend` - this is helpful

That is true, but I am aiming to make this a better experience for a user without having to parse the status YAML. This is especially important for offloaded workflows (which is the majority our workflows), since you can't simply `argo get` them without going through the server.

I'm not sure I agree - we are trying to answer whether

[2021-12-07 20:47] luckyswede commented on #4804
Hi,
I'm using 3.2.4 and I face a very similar issue. The call to
[code]
hangs indefinitely, which means that the workflow info page is empty.
It started to happen after I put argo-server behind an nginx reverse proxy and added the BASE_HREF=/argo/ environment variable.
Other api calls seems to work fine.

[2021-12-07 21:53] calizarr opened #7355 "Workflow of Workflows failure if sub workflow of workflow executor pod deleted"
## Summary

What happened/what you expected to happen?
Running a workflow of workflows on kubernetes v1.21 and AWS Spot Instances whenever the original workflows executor pod managing the sub workflows got deleted or became nonexistent because of a Spot Instance, the underlying workflow/pods would continue to run and complete successfully, however, the main workflow would fail as the sub workflow

[2021-12-08 00:05] #7315 closed

[2021-12-08 00:08] #7323 closed

[2021-12-08 00:08] alexec commented on #7323
Fixed in #7324

[2021-12-08 00:09] alexec commented on #7336
I note you're running an old unsupported version. Have you tried in v3.2?

[2021-12-08 00:19] alexec commented on #7213
Duplicate of #7224 ?

[2021-12-08 00:19] #7213 closed

[2021-12-08 00:20] alexec commented on #6115
The Docker executor is being sunset. You should switch to using either PNS or Emissary:

https://blog.argoproj.io/sunsetting-docker-executor-support-in-argo-workflows-77d352d601c?source=collection_home---------3-------------------------------

[2021-12-08 01:06] terrytangyuan commented on #7334
Related project: https://github.com/IBM/argocd-interlace

[2021-12-08 03:02] zcerhub commented on #7336
thank you for reply.
1)my minio version is minio RELEASE.2021-07-12T02-44-53Z.
2)for example: there are two tasks:codecheckout task and codecompile task.In the codecompile,the inputs.artifacts.s3'key is from codecheckout's outputs.artifacts.s3.key. the following is the my yaml:

    - name: codecheckout-task
      inputs:
        parameters:
          - name: work-dir
            value: "/src/code

[2021-12-08 03:09] zcerhub commented on #7336
thank you for reply.yes, the version is some elder.i am sorry for that it's hard to upgrade because of much of relevant testing.i search in issue lists but not find the same bug issue as me.in https://github.com/argoproj/argo-workflows/blob/master/docs/upgrading.md,i hasn't found message like my question.

[2021-12-08 04:11] zcerhub commented on #7336
i search the code and notice that the argo use minioClienet.FGetObjects pull objects from minio.
![image](https://user-images.githubusercontent.com/23258611/145143944-a2d35469-feb8-48b4-88e3-8d0ef257cd46.png)
i also view the source of minioClienet.FGetObjects.
![image](https://user-images.githubusercontent.com/23258611/145145122-e63fb6b0-1f09-41f0-8d57-0433ba3e0e9a.png)
obviously,the hint of my bu

[2021-12-08 13:41] ni-todo-spot opened #7356 "trying to use valueFrom on referenced template in onExit template"
## Summary

*What happened/what you expected to happen?*

Trying to use a templateRef by suppling one of its arguments a value which comes from a config map.
Used the `valueFrom` syntax.
The step being which references is part of an onExit template.
When WF is submitted, the step fails due to missing config map definition.

*What version of Argo Workflows are you running?*
[code]

## Diagnostics

[2021-12-08 15:43] mxm-tr commented on #4804
@luckyswede in case you are still on it, got it working by adding the configuration mentioned in the previous comment in my reverse proxy!

[2021-12-08 17:09] simster7 opened #7359 "`stern` process leak in Makefile?"
## Summary

What happened/what you expected to happen?

`htop` sorted by highest virtual memory
<img width="895" alt="image" src="https://user-images.githubusercontent.com/614838/145252328-76682582-4d64-4b0f-91fc-31d386e8c30f.png">

What version of Argo Workflows are you running?

## Diagnostics

Either a workflow that reproduces the bug, or paste you whole workflow YAML, including status, somethi

[2021-12-08 17:10] simster7 commented on #7359
Workaround: `killall -9 stern`

[2021-12-08 20:48] flaviuvadan commented on #7248
We can close this one @terrytangyuan!

[2021-12-08 20:48] #7248 closed

[2021-12-08 22:04] tachyus-ryan commented on #7227
I finally had time to try the MinIO work-around. I added the gateway, and I had to use the ClusterIP to get the artifacts to download correctly. It seems DNS is broken somehow when connecting to Windows containers.

[2021-12-08 23:26] alexec commented on #7306
Draft survey:

https://forms.gle/ykMg637bTJDqumkbA

[2021-12-08 23:27] sarabala1979 commented on #7355
@calizarr This is expected behavior. If the workflow step pod is got deleted, the workflow will fail. The master workflow will fail because of failureconditiion.
There is a few ways you can get master workflow success:
1. Add `retry` on sub workflow steps, so if pod got delete, step will be retried and success
2. Add `continueOn` on step, so sub. workflow will ignore the. status and. execute next

[2021-12-08 23:33] sarabala1979 commented on #7356
@ni-todo-spot looks like configmap is not found in that namespace. Please make sure you have. configmap on the namesapce where workflow is created
[code]

[2021-12-09 00:09] #6610 closed

[2021-12-09 00:44] calizarr commented on #7355
So the expected behavior is:

Master workflow (`workfow-of-workflows-tshvz`) (A) is launched and its pod workflow step 3 (aka `failworkflow`) is deleted (`workflow-of-workflows-tshvz-933384804`) (`A.B[2]`) but not before it launches its own workflow (`workflow-of-workflows-3-nmrtz`) `A.B[2].C` which communicates with the `workflow-controller` and launches a pod (`workflow-of-workflows-3-nmrtz`) (`

[2021-12-09 03:02] terrytangyuan opened #7366 "Unable to reference individual task status in DAG"
## Summary

What happened/what you expected to happen?

We should be able to reference the status of tasks the same way as referencing steps statuses.

What version of Argo Workflows are you running?

3.2.4

## Diagnostics

The workflow is a basically the same as https://github.com/argoproj/argo-workflows/blob/master/examples/exit-handler-with-param.yaml except that I changed to use DAG tasks inst

[2021-12-09 07:44] luckyswede commented on #4804
@mxm-tr yay, that worked, thanks! I havent tried it but I guess it's turning off chunked that is what matters

[2021-12-09 09:36] ni-todo-spot commented on #7356
@sarabala1979 Thanks for the tip,
but isn't the command I used would create the configmap in the argo ns (`kubectl apply -n argo -f slack-example.yaml`)?

[2021-12-09 11:31] terrytangyuan commented on #7356
You need to add a label in your configmap for the controller to recognize your configmaps. See here for example: https://github.com/argoproj/argo-workflows/blob/master/examples/configmaps/simple-parameters-configmap.yaml#L7

[2021-12-09 15:01] ni-todo-spot commented on #7356
@terrytangyuan works like a charm!
Thank you very much 😄

[2021-12-09 15:22] terrytangyuan commented on #7356
Great. I am improving the error message in https://github.com/argoproj/argo-workflows/pull/7371

[2021-12-09 15:24] simster7 commented on #7366
Is the bug here that you can't access `status` or that you can't reference other tasks in a DAG (including self reference in an exit hook)?

[2021-12-09 15:38] terrytangyuan commented on #7366
Good question. I haven't got a chance to dig into the root cause yet. All those are potential issues.

[2021-12-09 15:42] #7310 closed

[2021-12-09 16:35] crenshaw-dev opened #7372 "Improve "artifact repo not configured" error message"
# Summary

When you run a workflow which uses artifacts, but you do not have an artifact repo configured (like with the default install.yaml), the workflow will fail with `key unsupported: cannot get key for artifact location, because it is invalid`.

This message doesn't effectively convey the real problem: the user needs an artifact repo. I know of at least two [goose](https://cloud-native.slack

[2021-12-09 17:16] sarabala1979 commented on #7336
Latest 3.2.4 will have minio client update too. Please try the same scenario on v3.2.4

[2021-12-09 17:41] whynowy commented on #7359
Could you add it to `Makefile`?

[2021-12-09 17:42] alexec commented on #7372
maybe we should like to help?

[2021-12-09 17:43] alexec opened #7373 "v3.2.5"
It is 22 days since v3.2.3. Time to do next version.

[2021-12-09 18:05] samuelBB opened #7374 "Python SDK - Steps Template not serialized correctly with `model_to_dict`"
## Summary

**Version.** I am using the Python SDK on `master:latest` which at the moment corresponds to commit `22b0326` (though the last commit to actually modify the `sdks` folder appears to be `aba6599`).

Briefly, I am constructing a Workflow using the objects in the Python SDK which includes a `steps` template. When I try to serialize the object using the `model_to_dict` function, it appears

[2021-12-09 18:24] terrytangyuan commented on #7374
Do you see any exceptions like in https://github.com/argoproj/argo-workflows/issues/7293?

[2021-12-09 18:24] sevberg opened #7375 "Access node logs as an artifact"
# Summary

Accessing a nodes output via `steps.pipeline.outputs.result` works great when a node's stdout is simple, but it doesn't work as well when the stdout is volumous or is complex (for example, a traceback with lots of odd characters). It also does not include contents of stderr. It would be nice if it were also possible to access the stdout/stderr outputs of a node as an artifact (e.g. unde

[2021-12-09 18:26] samuelBB commented on #7374
@terrytangyuan I'm not submitting the constructed workflow with the API. At the moment I'm only interested in constructing a valid YAML, so I don't think that should be relevant?

[2021-12-09 18:28] terrytangyuan commented on #7374
I see. That's an interesting use case. How are you planning to submit the constructed workflow? K8s Python SDK?

[2021-12-09 18:33] alexec commented on #7214
This appears to be broken in v3.2 but worked in v3.1.

[2021-12-09 18:34] samuelBB commented on #7374
Or just plain `kubectl` on the output YAML. The main thing is that in my use case, I'm decoupling the workflow construction from the deployment. The reason to use the Python SDK for the construction is that we have a large amount of templating and similar k8s objects which is awkward and not-DRY in plain YAML but quite easy to work with in Python.

[2021-12-09 18:36] alexec commented on #7214
Candidate for blame:

1533dd467 fix(executor): Fix emissary kill. Fixes #6030 (#6084)

[2021-12-09 18:38] crenshaw-dev commented on #7372
Yeah I think that would be great. A link to the artifact repo config doc I guess.

[2021-12-09 18:39] terrytangyuan commented on #7374
This might be an issue with openapi-gen's generated`model_to_dict`. Perhaps we should wrap it around with the `representer()` hack you mentioned.

[2021-12-09 18:39] terrytangyuan commented on #7374
@flaviuvadan Any thoughts?

[2021-12-09 18:41] samuelBB commented on #7374
this makes me slightly nervous because what if there are other Argo objects which need to be hacked like this?

[2021-12-09 18:45] alexec commented on #7214
I think that if we get `TestInjectedSidecar` working for emissary, it should work.

I should even be possible to make an example that runs istio-proxy, if we have full pod manifest.

[2021-12-09 18:47] Sh1ftry commented on #7214
Stuck pod manifest:
[code]

[2021-12-09 18:48] terrytangyuan commented on #7374
I would guess other objects are experiencing the same issue. Couple of options:
* We leave this to users to hack but document it (if `model_to_dict` is used often like this)
* We wrap this for all Argo objects. One problem is that some users may use other yaml modules `import pyyaml as yaml` and then this approach probably won't work.
* We find the root cause in openapi-gen. If this is a common us

[2021-12-09 18:50] terrytangyuan commented on #7373
Any timeline? Perhaps also a good time to test the release process for Python SDK (once we've tested with forks + test PyPI). https://github.com/argoproj/argo-workflows/pull/7363 cc @flaviuvadan

[2021-12-09 18:58] samuelBB commented on #7374
Re 1 and 2 - is there an easy way to generate a list of all Argo objects? So that you can just use the hack in a for loop.

Re 3 - I'm up for looking into the logic a bit, and as you said, maybe others have ideas here too.

[2021-12-09 19:16] terrytangyuan commented on #7374
You should be able find the list in the models module (with a filtering): https://github.com/argoproj/argo-workflows/blob/master/sdks/python/client/argo_workflows/models/__init__.py#L213-L343

[2021-12-09 19:33] alexec commented on #7373
before 17th Dec

[2021-12-09 20:02] samuelBB commented on #7374
I believe this line to be the issue: https://github.com/argoproj/argo-workflows/blob/master/sdks/python/client/argo_workflows/model_utils.py#L1656

When the function recursively gets to `manifest.spec.templates[0].steps`, this has the repr:
[code]
This will be captured in the case on L1649 in the file I linked above. In the for-loop on L1655 the single nested list value will be captured in the `PR

[2021-12-09 20:24] flaviuvadan commented on #7373
Yes, I will test PyPi publication to the test index on December 11th and report back.

[2021-12-09 22:40] isubasinghe commented on #873
Hey @mr-c would you by any chance have time for a quick chat about CWL? Perhaps we could setup a small zoom meeting?

[2021-12-09 22:42] mr-c commented on #873
Sure! https://goo.gl/ji9br1 lists my availability, or you can directly schedule me in Google Calendar by entering "michael.crusoe@gmail.com" under "Search for people"

[2021-12-09 23:38] isubasinghe commented on #873
Thanks I have booked a meeting for Monday morning, looking forward to chatting with you

[2021-12-10 03:47] mitchellgordon95 commented on #7373
Can we please pick https://github.com/argoproj/argo-workflows/pull/6995?

[2021-12-10 09:41] nielstenboom opened #7378 "Show values set in templateDefaults in UI"
# Summary

It would be nice if values that are set in the `templateDefaults` are also shown in the UI. Take the following example:

[code]

The container is given the `TEST_VARIABLE` by default, but the UI is showing there are no ENV variables for this container:

![image](https://user-images.githubusercontent.com/6594531/145552333-22bc64d3-d36f-4949-9e3f-d11d6d7a2e6d.png)

It would be nice if the

[2021-12-10 13:56] #7258 closed

[2021-12-10 14:57] simster7 commented on #7335
This is a valid point. A new server/CLI command would probably be needed for this.

I think what I'm trying to say is that it sounds like you're interested in a particular _instance_ of a workflow, not, say, an aggregated number of Pending statuses across all workflows or from a constant number of workflows (e.g. cron workflows). The distinction here, while seemingly simply, is that in the former

[2021-12-10 16:15] kevin-hanselman commented on #5329
I'll preface this by saying that I generally like Argo Workflows. This post is an honest attempt at constructive criticism. Thank you all for your work!

Poor documentation is one of the largest obstacles for me to broadly recommend Argo Workflows. The documentation is minimally helpful and often confuses more than it helps. In particular, the "Beginner/Intermediate/Advanced" distinction in the Us

[2021-12-10 17:36] samuelBB commented on #7374
Ok so here is an interesting thing I noticed, following up on my previous post: the class `IoArgoprojWorkflowV1alpha1ParallelSteps` appears to be the _only_ class imported in `argo_workflows.models` which inherits from `ModelSimple` - perhaps this is the issue? Maybe this is supposed to be inheritance from `ModelNormal` as with the other objects?

[2021-12-10 18:06] roofurmston opened #7381 "Inconsistent permission behaviour with memoization"
## Summary

The behaviour of Argo Workflows in relation to step memoization and permissions to update the cache configmap are inconsistent and confusing.

What happened/what you expected to happen?

The following currently happens:

- When (1) the `argo-cluster-role` (or `argo-role` in a namespace install) doesn't have permissions to update/create the cache configmap and (2) the cache configmap do

[2021-12-10 18:21] crenshaw-dev opened #7382 "Expand documentation on conditional expressions"
# Summary

Inspired by: https://stackoverflow.com/questions/70306572/argo-workflow-when-a-condition-for-substring-match/70308809#70308809

The [conditionals docs](https://github.com/argoproj/argo-workflows/tree/master/examples#conditionals) should point out:
* the [govaluate manual](https://github.com/Knetic/govaluate/blob/master/MANUAL.md#govaluate) which is much more helpful than the base README

[2021-12-10 18:24] samuelBB commented on #7374
this issue appears to be relevant, which explains a uniqueness of ParallelSteps regarding serialization: https://github.com/argoproj/argo-workflows/issues/2454

[2021-12-10 20:44] ebr opened #7383 "When an 'initContainer' has no 'name', the workflow never starts, causes infinite loop of node creation in the controller"
## Summary

The `name:` key was omitted from an `initContainer` in a template with `retryPolicy: Always`. Upon submitting the workflow, no pods are created. However the workflow controller logs show that tens of thousands of workflow nodes for this workflow are being created almost instantaneously, and immediately failing. The only remedy is to delete workflow, but even after fast deletion, it tak

[2021-12-11 03:34] cotjoey commented on #6635
Experiencing the same issue with attempting secure HTTPS communications between Argo Workflow v3.1.13 & MinIO v4.2.7. The newest MinIO now runs on port 443. I was hoping for a quick resolution such as a flag in the ConfigMap "Skip TLS Verify". I will attempt @jhart99 's solution - both application are running on Kubernetes, so hopefully that'll do the trick. Doing a quick cURL on the MinIO endpoin

[2021-12-11 12:21] krrrr38 commented on #7054
In my cases, it's enoght to change banner colour by environments.
It may be possible by argocd this feature https://argo-cd.readthedocs.io/en/stable/operator-manual/custom-styles/.

[2021-12-11 16:24] #7182 closed

[2021-12-11 17:33] crenshaw-dev opened #7385 "Artifact reference doesn't resolve in looped steps/tasks when any condition is false"
## Summary

A looped step, which references the step template's input artifact, fails to resolve the artifact when a `when` evaluates to "false". Simply removing the `when` expression allows the looped step to access the template's input artifact. Changing the `when` expression (or the `{{item}}`s) so that it always evaluates to "true" allows the looped step to access the template's input artifact

[2021-12-11 17:40] crenshaw-dev commented on #7385
Aside: I tried to work around the issue by trying to sneak the artifact past the loop logic before evaluating the `when` condition. But I'm getting an error that makes no sense to me.

[code]

Error:

[code]

What does it mean the value is required? Do artifacts _have_ values? Seems like that message should apply only to parameters, not artifacts.

[2021-12-11 18:44] cotjoey commented on #6635
Update: @jhart99 's solution worked for me (adding 'ENV SSL_CERT_FILE=/run/secrets/kubernetes.io/serviceaccount/ca.crt' to the Docker image).

[2021-12-11 22:40] ncjones commented on #2931
Maybe running K3D or Minikube would work for local integration testing.

https://argoproj.github.io/argo-workflows/running-locally/

[2021-12-12 04:51] krrrr38 commented on #5238
ref https://github.com/argoproj/argo-workflows/pull/7386

[2021-12-12 21:49] flaviuvadan commented on #7373
Updated the PR for the Python SDK with testing results and bug fixes post-testing: https://github.com/argoproj/argo-workflows/pull/7363#discussion_r767319028

[2021-12-13 01:27] sarabala1979 commented on #7383
It is expected behavior with `retryStrategy: Alway`, but it shouldn't make the controller load.  I suggest having validation for this.

@ebr Do you like. to submit the. PR for this?

Here the. code.  should add `validateInitContainter` if `template.initcontainers` is not nil

https://github.com/argoproj/argo-workflows/blob/932040848404d42a007b19bfaea685d4b505c2ef/workflow/validate/validate.go#L598

[2021-12-13 09:31] lstolcman commented on #7309
I rather thought about increasing a gap between each of inputs. A screenshot from random material-ui :
![obraz](https://user-images.githubusercontent.com/4583553/145785828-05bc7d9b-4aa9-42da-bd67-189f08f157a9.png)

So it would be rather this:
![obraz](https://user-images.githubusercontent.com/4583553/145786677-7276473f-be14-47ac-97a5-47e4d65e3b1f.png)

than this (current):
![obraz](https://user-im

[2021-12-13 11:15] sevberg opened #7388 "v3.2.4 Hanging daemon templates in v3.2 when using `WorkflowTemplate`"
## Summary

### What happened/what you expected to happen?

Tried to use Argo Workflows v3.2.4 (upgrading from v3.1.14) on account of desirable new features in 3.2.4. Sadly, our production pipelines which make use of daemon templates began hanging indefinitely. Looking into it further showed that this is not isolated to our pipeline, but also effects the [daemon-step example](https://github.com/ar

[2021-12-13 13:03] Guillermogsjc opened #7389 "Cronwf concurrency watching only the label `workflows.argoproj.io/cron-workflow`"
Hi, CronWf concurrency policy could be enhanced in some way to avoid concurrency of the workflow with another workflows?

For example, if I put this minutal `cronwf/concurrency-test` where every launch lasts 90 seconds, it respects the launchs against himself in such a way it is only launched every two minutes, as expected:

[code]

But, if I set a workflow with the label: `workflows.argoproj.io/c

[2021-12-13 14:16] jackivanov opened #7390 "TLS config for the HTTP workflow trigger"
# Summary

TLS config options for HTTP workflow trigger

# Use Cases

Endpoints with self signed certificate

[code]

[code]

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2021-12-13 14:36] simster7 commented on #7390
Are you looking for the equivalent of an `--insecure` option here?

[2021-12-13 14:37] simster7 commented on #7389
Would [synchronization](https://github.com/argoproj/argo-workflows/blob/master/docs/synchronization.md) help here?

[2021-12-13 15:02] flaviuvadan commented on #7374
`ParallelSteps` is the only object that has an OpenAPI schema definition that defines `ParallelSteps` as an array. When we generate the SDK with OpenAPI 4.3.1, as suggested by #7363, the `ParallelSteps` object gets the following two OpenAPI fields:
[code]

The object has a method called `to_dict`, which is the equivalent of `model_to_dict` when we generate the SDK using OpenAPI 5.x. This method us

[2021-12-13 15:14] ebr commented on #7383
Great, I will take a stab at submitting the PR. Thank you.

[2021-12-13 15:17] Guillermogsjc commented on #7389
Ohhh, there is a whole great feature on that, thank very much @simster7 , and sorry for creating the thread by the way.

I suppose that the cronwf controller would watch this semaphores and not launch if the semaphore is not green for a particular mutex, great!

[2021-12-13 15:47] terrytangyuan commented on #7374
This would be a breaking change so we probably don't want to do it.

This will take time to get the fix in OpenAPI and require us to use the latest version of OpenAPI, which would introduce the more commonly seen issue https://github.com/argoproj/argo-workflows/issues/7293 back.

@samuelBB Since this is a small use case, I'd recommend that we defer this to OpenAPI-gen itself to fix and use the wor

[2021-12-13 15:54] simster7 commented on #7389
Workflows will still be created, but they will not be executed until the mutex is available. Let me know if that feature is not enough for your use case, we can reopen this in that case.

[2021-12-13 15:54] #7389 closed

[2021-12-13 15:55] samuelBB commented on #7374
@terrytangyuan

(1) I guess someone should open a new issue with OpenAPI-gen?

(2) Regarding using the workaround I found: Perhaps I'm misunderstanding, but I thought that according to what @flaviuvadan commented above, under OpenAPI-4.x (which will be used in #7363), `ParallelSteps` has an "empty" spec, so my workaround for generating YAML won't work, but moreover, you won't even be able to use `

[2021-12-13 16:11] Guillermogsjc commented on #7389
I have seen the pending behaviour from the cronwf controller, it feels that it could be nice if it matches cronwf native concurrency control (to exploit `startingDeadlineSeconds` feature for example), in such a way it is not put on pending, just holds it if its mutex is locked.

I suppose that this behaviour mixing both feature in cronwf case could not be nice for everyone, but it would be really

[2021-12-13 17:01] alexec commented on #6635
@cotjoey do you think this would work as a permanent solution for all users? One we should bake into our image? If so, would you like to raise a PR:

https://github.com/argoproj/argo-workflows/blob/master/Dockerfile

[2021-12-13 17:18] lstolcman commented on #7309
@simster7

Unfortunately, its "proof of concept" in paint, not a real code change

[2021-12-13 17:43] jhart99 commented on #6635
This works and I suggested it as a temporary workaround.  I think the better permanent solution would be to add the environment variable, if required, to the workflow-controller-configmap:

[code]
I haven't tested this method yet, but I believe this would work according to the documentation for the configmap.  This means that no changes to the argoexec container would be necessary and there wouldn

[2021-12-13 17:53] alexec opened #7393 "Plugin template OpenAPI validation"
# Summary

Currently, the structure of a plugin template is free-from, it can even be a string:

[code]

Thats fine. But we could allow plugin developers to define the OpenAPI schema and validate it when the template is created.

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2021-12-13 17:54] alexec commented on #7393
The reason I did not include this is v1 was because, validation will also happen by the plugin itself. So this would duplicate that and might therefore not be needed.

[2021-12-14 00:08] liuzqt opened #7398 "emit stateful variable among several retries"
# Summary
(I'm not sure whether we already have this feature in Argo, I look through documents and examples but didn't find useful information.)

Need an approach to emit stateful variable among several retries.

When you have retry logic, then the save task might be run several times, that's what I mean by saying `stateful`: I hope the later retry will overwrite the previous one.

# Use Cases

Th

[2021-12-14 01:33] liujiong1982 opened #7399 "For expression feature, I deploy 3.2.4 and argo submit expression-destructure-json.yaml, the value is not replaced"
run "argo submit expression-destructure-json.yaml"

I check the pod log, it shows
"{{=jsonpath(workflow.parameters.config, '$.a')}}{{=jsonpath(workflow.parameters.config, '$.b')}}{{=jsonpath(workflow.parameters.config, '$.c')}}"

workflow.parameters.config are not replaced

[2021-12-14 02:32] alexec commented on #7388
Can you please share your `workflow-controller-configmap`?

[2021-12-14 05:31] blkperl opened #7400 "GoGo Protobuf is no longer maintained"
# Summary

GoGo Protobuf is no longer maintained. See https://github.com/gogo/protobuf/issues/691

GoGo Protobuf is based on https://github.com/golang/protobuf which has been superseded by [google.golang.org/protobuf ](https://pkg.go.dev/google.golang.org/protobuf)

A related PR where the upgrade was attempted on an argo project: https://github.com/argoproj/argo-rollouts/issues/1091

Once https://

[2021-12-14 05:55] blkperl opened #7402 "pkg/errors is no longer maintained"
# Summary

pkg/errors is no longer maintained. See https://github.com/pkg/errors/issues/245

# Use Cases

We can replaces all calls to errors.Wrap/f with fmt.Errorf and removes the unneeded dependency on
github.com/pkg/errors since we don't support go 1.12 or lower.  See https://github.com/microsoft/go-winio/pull/227 for an example.

---

**Message from the maintainers**:

Love this enhancement pr

[2021-12-14 06:03] sarabala1979 commented on #7399
@liujiong1982 I am not able to reproduce.  in 3.2.4 branch. Can you check the your. CLI version? Please provide the controller logs

[2021-12-14 06:20] blkperl opened #7403 "gorilla websocket is no longer maintained"
# Summary

gorilla websocket is no longer maintained https://github.com/gorilla/websocket/issues/370

# Use Cases

kubectl doesn't support http/2 yet https://github.com/kubernetes/kubernetes/issues/7452 so websockets appear to be the only option in the meantime. Perhaps there is a maintained library we can use?

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. W

[2021-12-14 07:59] thegreymatter opened #7405 "Add autocomplete for namespace filter"
# Summary

Add the ability to autocomplete the namespace filter in "Workflow Template" and "Workflow" screens using the already available namespaces in the cluster.

# Use Cases

In our specific use case, we build and destroy namespaces dynamically per development or production branch. and use these namespaces a the isolation level for our different workflows. selecting these namespaces in the UI

[2021-12-14 08:03] Bobgy opened #7406 "Using podSpecPatch and emissary together -> Pods stuck in running"
## Summary

What happened/what you expected to happen?

* I created a workflow that uses podSpecPatch to patch Pod command.
* I ran the workflow
* I noticed that this task with podSpecPatch is stuck in running forever.

I expect that workflows can run properly to the end.

What version of Argo Workflows are you running?

3.1.x

## Diagnostics

What executor are you running? Emissary

After debuggi

[2021-12-14 08:06] Bobgy commented on #7406
I think the fix is to move [the code that prepends /var/run/argo/argoexec emissary](https://github.com/argoproj/argo-workflows/blob/3d47a5d29dee66775e6fa871dee1b6ca1ae6acda/workflow/controller/workflowpod.go#L318-L335) to the bottom, so that it runs after pod spec patch has already been patched.

[2021-12-14 08:09] Bobgy commented on #7406
Workaround: by adding "/var/run/argo/argoexec", "emissary", "--" in the podSpecPatch, I can get the workflow running. However, that makes the workflow coupled to emissary executor, so that's not ideal.

[2021-12-14 08:39] sevberg commented on #7388
Nothing wild going on here:

[code]

[2021-12-14 14:07] prein commented on #6165
Apologies for piggy backing on a closed issue, but I can't get SSO in Argo Workflows to work with Okta. No groups show up in the user info. It always fallbacks to default service account. Can I find a working example for Okta somewhere?

[2021-12-14 16:26] jccarte opened #7408 "v3.2.4 Daemon step in running state, but dependents steps in child template don't start"
## Summary

What happened/what you expected to happen?
When updating to 3.2.4 workflowtemplaterefs containing a steps template with a deamon step do not trigger subsequent steps. Seems to be a similar issue to https://github.com/argoproj/argo-workflows/issues/6379 but with steps templates triggered from within another workflow template. I have created a generic example that works on 3.1.15 and not

[2021-12-14 16:50] alexec commented on #7388
Can you please add `containerRuntimeExecutor: emissary` or `containerRuntimeExecutor: pns`  to this?

[2021-12-14 17:12] alexec commented on #7224
No reply, so I will fix.

[2021-12-14 17:47] sarabala1979 opened #7409 "Increase better test coverage for Daemon template"
# Summary

What change needs making?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2021-12-14 20:31] cotjoey commented on #6635
I just tested this environment variable inside the workflow-controller-configmap (Note that the variable name is SSL_CERT_FILE, not SSL_CERT_DIR - it failed with SSL_CERT_DIR) and it works!:

[code]

Now I am getting the same error, but from the argo-server deployment logs, when I click on "...logs from the artifacts.":

[code]

In the browser it shows:

[code]

I'll attempt to use the same enviro

[2021-12-14 21:11] alexec commented on #6635
Reviewing the usage of ca.crt, it seems it is meant for accessing the Kubernetes API. I'm surprised it worked.

[2021-12-14 21:22] jhart99 commented on #6635
If you use the minio operator, the certificate for the minio endpoint is signed by the kubernetes cluster CA.  From the minio documentation:

cp /var/run/secrets/kubernetes.io/serviceaccount/ca.crt /usr/local/share/ca-certificates/
update-ca-certificates

Using this environment variable lets the executor trust the kubernetes CA (and by extension the minio endpoint) without having to run update-ca-

[2021-12-14 21:33] cotjoey commented on #6635
The other error I am trying to fix, didn't resolve itself by using the environment variable. I tried many different things in the argo-server deployment, but nothing yielded positive results:

As a reminder, the error I get in the Argo Workflow UI:
[code]

Things I've tried in the argo-server deployment YAML:

[code]

[code]

"--insecure-skip-tls-verify" is an invalid option, the container crashes

[2021-12-15 00:31] sarabala1979 opened #7414 "v3.2.5 Release"
- [ ] Dillen Padhiar: fix: added check for initContainer name in workflow template (#7411) 014bac90f
- [x] Simon Behar: fix: Skip missed executions if CronWorkflow schedule is changed. Fixes #7182 (#7353) 932040848
- [ ] Simon Behar: fix: Propogate errors in task worker and don't return (#7357) 78dd747c6
- [x] Takumi Sue: fix: argument of PodName function (fixes #7315) (#7316) 8bd7f3971
- [x] Domi

[2021-12-15 00:31] liujiong1982 commented on #7399
argo: v0.0.0-dev-kc-7
  BuildDate: 2021-11-19T01:29:47Z
  GitCommit: 47a5208e9c940abb014c08847179865a5b227f49
  GitTreeState: clean
  GitTag: v0.0.0-dev-kc-7
  GoVersion: go1.17.3
  Compiler: gc
  Platform: linux/amd64

[2021-12-15 00:41] liujiong1982 opened #7415 "when doesn't support expression, will it support in the future?"
argo 3.1 supports Expression, see https://argoproj.github.io/argo-workflows/variables/#expression
but when doesn't support it,  see below image, will you support it in the near future? It is useful in our cases
![image](https://user-images.githubusercontent.com/7462724/146101713-e9f50120-47ce-462f-b34a-1e6181be8dc3.png)

[2021-12-15 01:27] terrytangyuan commented on #7414
Please cherry-pick https://github.com/argoproj/argo-workflows/commit/cf78ff6d76b09c4002edbc28048c67335bd1d00f. Thanks!

[2021-12-15 01:39] #7224 closed

[2021-12-15 01:40] alexec commented on #7214
Just merged a PR that _might_ fix this. Could you try :latest?

[2021-12-15 06:55] chf007 opened #7416 "workflow-event-bindings page support basehref"
# Summary

![image](https://user-images.githubusercontent.com/358650/146137578-a3b9f5ab-1341-4116-8a79-036010e02269.png)

If the `basehref` is set, the placeholder address of the `workflow-event-bindings` page should also be added synchronously

Similarly, the Swagger-API docs needs to be handled

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise th

[2021-12-15 11:14] sevberg commented on #7388
With the emissary executor I got:

[code]

Meanwhile, in the `pns` case, the hanging behavior was still there

In case it's helpful: In both instances, I'm still able to run the basic [daemon-step example](https://github.com/argoproj/argo-workflows/blob/master/examples/daemon-step.yaml)

[2021-12-15 13:20] pavmohan1 opened #7417 "Argo Workflows server not starting after enabling SSO (AD), using ArgoCD Dex"
## Summary
I am trying to enable SSO login on an Argo Workflows server. I want the Argo Workflows server to use the Argo CD Dex instance for authentication. SSO is working on the Argo CD server with no problems.

I am using the Helm templating from [this](https://argoproj.github.io/argo-workflows/argo-server-sso-argocd/#example-helm-chart-configuration-for-authenticating-against-argocds-dex) docum

[2021-12-15 14:49] Sh1ftry commented on #7214
The issue is still present.
[code]

[2021-12-15 15:38] rwong2888 opened #7418 "argo submit slow when calling multiple templates. suggest improving caching"
I'm trying ```argo -n argo submit --from clusterworkflowtemplate/<template> -v --gloglevel=9 ...``` and it is taking about 10-12 seconds to complete. Looks like it spends most time resolving all the templates...

Submit from UI is also slow
https://slack-files.com/T08PSQ7BQ-F02QV220QM8-f33032ca57

Logs
https://cloud-native.slack.com/archives/C01QW9QSSSK/p1639579998354400?thread_ts=1639420502.30060

[2021-12-15 15:42] crenshaw-dev commented on #7418
A couple things I noticed from the logs:
1) Requests are being throttled. Maybe tweaking the `--qps` and `--burst` flags on the workflow-controller could help?
2) Templates are being fetched multiple times. Is there a bug in the caching mechanism / is any caching happening?

[2021-12-15 15:44] crenshaw-dev commented on #7415
@liujiong1982 workarounds: 1) see if any of the govaluate comparators fit your use case or 2) calculate a value in a param using expressions and then use that param in the when expression.

[2021-12-15 16:03] terrytangyuan commented on #7418
Which version are you using? Are you also seeing this issue in older versions?

[2021-12-15 16:04] rwong2888 commented on #7418
@terrytangyuan v3.2.4

[2021-12-15 16:11] terrytangyuan commented on #7388
Looks like that example is not compatible with emissary executor. If you are using emissary executor, you'll need to specify the command explicitly for your `influxdb` container.

[2021-12-15 16:13] terrytangyuan commented on #7130
This is done via #7363.

[2021-12-15 16:13] #7130 closed

[2021-12-15 17:33] cotjoey commented on #6635
@jhart99 - I just realized you add a comment about how to add ca.crt to the host system CA certificates store.

I'll attempt to do that on my host systems and see what happens. I am not familiar with those certificates, so if anyone can chime in, it'd be appreciated.

I don't know where that original ca.crt lives on the host system (the one that is mounted in the pod), so I'll probably have to spi

[2021-12-15 17:50] alexec commented on #7416
This is where this needs to be fixed:

https://github.com/argoproj/argo-workflows/blob/dbda60fc5c72c02729d98b4e5ff08f89a6bf428c/ui/src/app/workflow-event-bindings/components/workflow-event-bindings/workflow-event-bindings.tsx#L109

Should be like this:

https://github.com/argoproj/argo-workflows/blob/master/ui/src/app/apidocs/components/apiDocs.tsx#L10

Would you like to submit a PR? We can set yo

[2021-12-15 17:51] alexec commented on #7415
I think there is an issues to add a new type of expression syntax for `when`.

[2021-12-15 18:39] sarabala1979 commented on #7266
@dpadhiar Can you. work on this Issue?

[2021-12-15 18:40] dpadhiar commented on #7266
Yes, I will take it.

[2021-12-15 19:25] flaviuvadan commented on #7293
@66li try to submit it with:
[code]

[2021-12-16 00:30] liujiong1982 commented on #7415
is there any plan for this issue to be resolved in 3.3 release?

[2021-12-16 00:32] liujiong1982 commented on #7399
argo: v0.0.0-dev-kc-7
BuildDate: 2021-11-19T01:29:47Z
GitCommit: 47a5208
GitTreeState: clean
GitTag: v0.0.0-dev-kc-7
GoVersion: go1.17.3
Compiler: gc
Platform: linux/amd64

[2021-12-16 00:41] alexec commented on #7388
@sevberg does this ONLY happen when using `WorkflowTemplate` or `ClusterWorkflowTemplate`?

[2021-12-16 00:43] alexec commented on #7415
No. Sorry.

[2021-12-16 00:49] alexec commented on #7408
I wonder if could have the same cause as #7388 .

[2021-12-16 00:51] #7383 closed

[2021-12-16 01:48] Bobgy opened #7422 "test: do not use podSpecPatch to simulate sidecar injection -- tech debt"
During the fix in #7407, podSpecPatch is now patched before emissary executor modifies command. Therefore, it's no longer a way to simulate injected sidecars for emissary executor.

We need to find a different way to test sidecar injection for emissary.

_Originally posted by @alexec in https://github.com/argoproj/argo-workflows/issues/7407#issuecomment-995022259_

An idea is to add a special hand

[2021-12-16 02:08] terrytangyuan opened #7423 "Fix Python SDK versioning to work with existing PyPI releases"
## Summary

What happened/what you expected to happen?

Currently, we are using the tag, e.g. 3.2.5, as the Python SDK versions. However, since we will be publishing to the existing package https://pypi.org/project/argo-workflows/ where `argo-workflows==5.0.0` exists, we have to update the versioning scheme for Python SDK.

One solution is to use tag's major version + 3, e.g.
GitHub tag -> PyPI pa

[2021-12-16 02:09] terrytangyuan commented on #7373
@flaviuvadan Looks like https://github.com/argoproj/argo-workflows/pull/7363 wasn't cherry-picked to v3.2 release branch so the Python SDK has not been released.

Since we already missed v3.2.5, let's target for the next release and get https://github.com/argoproj/argo-workflows/issues/7423 fixed before then.

[2021-12-16 04:53] chensun opened #7424 "inputs.parameters.<name> was not supplied for `onExit` template"
## Summary

What happened/what you expected to happen?

Argo validation for the following workflow yaml failed

[code]

...

What version of Argo Workflows are you running?

3.1.5

## Diagnostics

The issue applies to template used after `onExit`. The issue is also reproducible using the latest argo cli (3.2.5).
Calling `argo lint` on the above yaml results a lint error with the same error message

[2021-12-16 06:15] RobinDong opened #7425 "Unable to use `steps.*.outputs.parameters.count` from another subgroup"
## Summary

Unable to get `steps.*.outputs.parameters.count` from a step of another sub-group

Both v3.2.0 and v3.2.4 has this problem

## Diagnostics

The example YAML could pass lint:
[code]

The content of `example.yaml`:
[code]
The error reported by Argo:
[code]

What Kubernetes provider are you using? GKE

What executor are you running? Docker

[2021-12-16 11:54] sevberg commented on #7388
@alexec, I haven't tested it with a `WorkflowTemplate`. But my assumption from #7408 is that the issue would be present there, as well.

However, yes, when using a `ClusterWorkflowTemplate` I see the hanging behavior on the daemon template, where as I do not see it when directly submitting a `Workflow` (which I've been testing by submitting the daemon-step example).

[2021-12-16 12:10] icecoffee531 opened #7427 "v3.2.5 dag workflow wait container raise docker socket"
## Summary

What happened/what you expected to happen?
Make a dag workflow，and then submit it. The pod will NotReady and wait container raise docker socket.
![image](https://user-images.githubusercontent.com/51080110/146368916-b0236daa-1c04-467f-882b-f282c303bf59.png)

What version of Argo Workflows are you running?
v3.2.5
## Diagnostics
```kubeclt logs upgrade-pzqtl-3876002572 wait```
![image](ht

[2021-12-16 17:35] alexec commented on #7373
Done?

[2021-12-16 17:35] #7373 closed

[2021-12-16 17:42] alexec commented on #7427
@sarabala1979 this is a regression. I think it might make v3.2.5 unusable. Maybe we back ported a fix that depends on making emissary the default executor?

@icecoffee531 can you help confirm this be making sure that in your config map you configure the `containerRuntimeExecutor: docker`?

[2021-12-16 17:43] alexec commented on #7427
I think this commit should not have been merged:

49b3f0cb2 fix(controller): default volume/mount to emissary (#7125)

[2021-12-16 17:53] sarabala1979 commented on #7425
@RobinDong

          count: '{{hello-hello-hello.steps.section1.steps.hello1.outputs.parameters.count}}'
you should use `withParam` if you are getting value from `parameter`

[2021-12-16 18:15] alexec commented on #7091
We tested today. We found that this is a bug in v3.1.3 is fixed in v3.2.4.

[2021-12-16 18:15] #7091 closed

[2021-12-16 19:21] alexec opened #7431 "Is https://workflows.apps.argoproj.io broken?"
Broken in my browser, but might just be me.

[2021-12-16 19:22] terrytangyuan commented on #7431
I am seeing a blank page.

[2021-12-16 21:19] alexec commented on #7431
I wonder why it is broken.

[2021-12-16 21:20] alexec commented on #7431
It is trying to download main.8eee968bab7b412a9c9f.js. But that does not exist, so index page is served.

[2021-12-16 21:28] alexec commented on #7431
Deleting and restarting pods did not seem to work.

[2021-12-16 21:30] alexec commented on #7431
Some kind of caching issue:

[code]

[2021-12-16 21:31] #7431 closed

[2021-12-16 22:21] RobinDong commented on #7425
@sarabala1979 Thanks for your reply.

This example is just a simplified version of our production YAML. In our production YAML, the `parameter` is too big to passed by `withParam` so we use `withSequence` instead.

[2021-12-17 01:41] icecoffee531 commented on #7427
Which configmap? I didn't find any configMap mounted on the Pod or argo-server, and the data in workflow-controller-configmap is empty.

[2021-12-17 01:57] liuzqt opened #7432 "can not reference variable in inline template"
## Summary

[code]
I had an inline template in dag tasks, but failed to reference the input parameters.

got this error: `failed to resolve {{inputs.parameters.series}}`

## Diagnostics

What Kubernetes provider are you using? aws eks

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-12-17 02:49] sarabala1979 commented on #7427
Argo controller will have configmap workflow-controller-configmap in Argo namespace. Please add this config item  containerRuntimeExecutor: pns or docker(if u r using docker)

Sent from my iPhone

[2021-12-17 03:11] icecoffee531 commented on #7427
@sarabala1979 Thank you for your reply.
@alexec I didn't configure `containerRuntimeExecutor: docker`. When I configure the configuration, it works normally.

[2021-12-17 03:27] SVilgelm commented on #6750
I have updated to `argo-workflows v3.2.5` and it installed `k8s.io/api v0.22.2`, but then I upgrade `github.com/influxdata/telegraf v1.21.1` and it brought `k8s.io/api v0.22.2`, so now I have totally same issue
[code]

[2021-12-17 04:17] cotjoey commented on #6635
This is what I did to fix the other issue (I am on Red Hat 8):

I inspected the Dockerfile of the argocli (https://hub.docker.com/r/argoproj/argocli/dockerfile) and found that it was picking up the certificates from ```/etc/ssl/certs``` in the container.

So I mounted a hostPath volume from the host (```/etc/pki/tls/certs/ca-bundle.crt```) to ```/etc/ssl/certs``` in the container.

Before that I h

[2021-12-17 06:53] #6813 closed

[2021-12-17 11:11] Lunchee85 commented on #5582
I have tried doing as the now deleted user suggested and specified the .crt and .key in a secret which I then mounted on the pod via a Deployment (I tried both on ```/home/argo/argo-server.key``` and just ```/argo-server.key```), but while using the UI I still get the "Not secure" warning on my browser and see that the used certificate is not mine.
Argo's version is 3.2.4.

Also, I'm using Openshi

[2021-12-17 11:39] jdolce commented on #6379
@sarabala1979 my example above still doesn't work in 3.2.5

[2021-12-17 12:01] jdolce commented on #6379
@sarabala1979 the example here - https://github.com/argoproj/argo-workflows/issues/6379#issuecomment-953925549 still does not work in 3.2.5

[2021-12-17 14:33] softwarebloat opened #7436 "I would like a mentor"
I would like to start contributing to argo workflows but i'm new to Golang and have no experience with this codebase.

I was looking at `good first issue`, in particular the #7239 but wasn't able to reproduce it locally. But probably, even if i reproduced it, i wouldn't know what to do to solve it

[2021-12-17 14:43] #7423 closed

[2021-12-17 16:38] nterra-paul commented on #6793
If anyone wonders: This works now with v3.2.5 by adding `insecureSkipVerify: true` to the sso object described here: https://argoproj.github.io/argo-workflows/argo-server-sso/
[code]
Big thank you from my side - argo is really an awesome project!

[2021-12-17 17:41] alexec commented on #5582
This has changed and keys are generated in-memory now. Mounting will not work anymore.

#6542 would fix this, but seems to have stalled.

[2021-12-17 17:56] alexec commented on #7427
Reverted on release-3.2 branch. Waiting for [build](https://github.com/argoproj/argo-workflows/actions/runs/1593454779) to finish.

[2021-12-17 18:54] sarabala1979 commented on #7332
@HRusby-Cheyne FYI...
@dpadhiar can pick this issue and. work on it.

[2021-12-17 19:26] JPZ13 commented on #7221
@guillaumBrisard - Can you post your Argo server and workflow controller deployment yamls?

[2021-12-17 19:56] alexec commented on #7436
@sarabala1979 @terrytangyuan @simster7 I'm about to go OOV for 1 month. Could I please ask if you would be interested?

[2021-12-17 20:14] alexec commented on #7432
Template fails to resolve validation.

[2021-12-17 20:39] alexec commented on #7432
This linked PR fixes this for DAGs. It does not fix:

* Steps
* Artifacts - not sure the use case
* Outputs -  don't know if these are broken

[2021-12-18 13:59] kaancfidan opened #7442 "Argo server did not recover from a connection drop from archive persistence layer (PostgreSQL)"
The below error happens periodically in our system. We don't know what causes it or how to reproduce it, but I would like to at least have some pointers on how to investigate it further.

### Discussed in https://github.com/argoproj/argo-workflows/discussions/7300

<div type='discussions-op-text'>

<sup>Originally posted by **kaancfidan** November 30, 2021</sup>
I initially wanted to create an iss

[2021-12-18 16:12] bartcode commented on #6793
Can confirm the solution as provided by @nterra-paul works!

[2021-12-18 16:55] #7266 closed

[2021-12-18 17:00] HRusby commented on #7332
Hi, I'd managed to get the project running this weekend and found a simple fix via extending the skip node check in the processAggregateNodes method to skip if NodePhase != Succeeded
`if node.Outputs == nil || node.Phase != wfv1.NodeSucceeded {
			continue
		}`

[2021-12-18 19:43] kaancfidan commented on #7442
I suspect it might be related to https://github.com/upper/db/issues/226.

[2021-12-18 21:05] adilfulara opened #7443 "Running Locally - Permission Denied error"
## Summary

Trying to setup Argo Worflow for local development. Cannot run any workflow. Attempts to set securityContext was not successful.

What happened/what you expected to happen?

[code]

What version of Argo Workflows are you running?
[code]

## Diagnostics

Either a workflow that reproduces the bug, or paste you whole workflow YAML, including status, something like:

[code]

What Kubernete

[2021-12-19 00:18] cscetbon opened #7444 "Mount volumes defined in a WorkflowTemplate when it's called by another workflow"
# Summary

### What change needs making?

Volumes set on a WorkflowTemplate should be used when called by another workflow

# Use Cases

### When would you use this?

Here is what doesn't work today

[code]

**works well**
_argo submit --from wftmpl/template1 --watch_

**works only if the commented out lines on the cron workflow are uncommented**
_argo submit --from cronwf/cronwf-ex1 --watch_

The

[2021-12-19 02:27] terrytangyuan commented on #7436
Yes, I can help to mentor this.

[2021-12-19 02:37] terrytangyuan commented on #7436
@softwarebloat Could you tell me a bit about what you have tried to reproduce? When I ran `argo submit https://raw.githubusercontent.com/argoproj/argo-workflows/master/examples/http-hello-world.yaml --watch`, I observed the `0/0` progress. Could you try that?

If you'd like to work on #7239, one potential cause of this issue is that we currently do not support reading progress from HTTP type node.

[2021-12-19 08:20] bygui86 commented on #6490
@alexec thank you for involving me in this discussion, it's definitely interesting!

I totally agree with @HouseoLogy [in his initial comment](https://github.com/argoproj/argo-workflows/issues/6490#issuecomment-909258580):

The @thesuperzapper 's PR #7193 is good, but from a user perspective it is pretty complex and cumbersome compared to a solution based on Casbin.

I think that Argo Workflows RB

[2021-12-19 20:29] softwarebloat commented on #7436
@terrytangyuan you are right, i can reproduce it (i was using a wrong workflow example).

The **updater.go** file was really helpful thanks! I also check the HTTP template PR (#5750) but was really big, more difficult to understand everything :sweat_smile:
but the problem seems to be in the `updater.go`

I wrote a test and also think i fixed the bug but, while the test passed, if i submit the work

[2021-12-20 08:57] newb1e commented on #1021
To solve it while using the Helm chart I set the following configuration in values.yaml:

[code]

[2021-12-20 09:32] cehoffman opened #7449 "HTTP Template errors with required value spec.containers[1].image"
## Summary

Created a ClusterWorkflowTemplate that had a single template defined to abstract aways the specific to posting to an endpoint with taking a few inputs for the workflow. When using the template through a templateRef the workflow would fail on nodes that use the templateRef with

[code]

## Diagnostics

Either a workflow that reproduces the bug, or paste your whole workflow YAML, includi

[2021-12-20 09:35] armenr commented on #3080
Still problematic:

@erkerb4 - and what's your Ingress look like? I'm stuck as all hell, using the Traefik Ingress controller, and trying to route to "/argo" in the browser.

...I can't believe it's this difficult to achieve.

[2021-12-20 10:30] armenr commented on #3080
@erkerb4 - you deserve a medal. This WORKED FOR ME!

[2021-12-20 14:21] sarabala1979 commented on #7449
Can you provide Argo controller version you are using?

Sent from my iPhone

[2021-12-20 16:16] armenr commented on #3080
@erkerb4 - Could I ask a serious question? How'd you figure that out? I'm trying to figure out what the lesson to learn is, in this case.

Why, when using Traefik, do we need to utilize this stripPrefix middleware?

[2021-12-20 19:18] cehoffman commented on #7449
Sure this is on v3.2.6

[2021-12-20 19:50] jgibson2 commented on #1427
Hi -- this seems to be an issue in 3.2.4.

[2021-12-20 23:24] dpadhiar commented on #7332
Added your fix and am seeing the same behavior when testing your YAML. Will try both solutions you have to see if we can filter out the child nodes of those RetryNodes.

[2021-12-21 01:26] kennytrytek-wf commented on #4662
I'd like to take this one, please. My understanding is that the resubmit UI should have an option in addition to the `OK` and `Cancel` buttons to update parameter values before submission. I'm not sure of the best solution for all cases.

For workflow templates and cluster workflow templates, I think it would be good to redirect to the template submission view with the inputs pre-filled on the sel

[2021-12-21 01:53] kennytrytek-wf commented on #4662
Looking through the code a bit more, this actually seems like it's largely already solved in this case:
https://github.com/argoproj/argo-workflows/blob/master/ui/src/app/workflows/components/workflow-creator.tsx

I'd like to propose the following behavior when clicking the Resubmit button:
* For a [cluster] workflow template, the `SubmitWorkflowPanel` side panel is shown, populated with the entryp

[2021-12-21 09:56] softwarebloat commented on #7436
@terrytangyuan I opened a draft PR to show you what i've done #7450
I'm having trouble test it locally. Tests passed but if i try to run argo-workflow i can't see any difference. How should I start the project locally with my new changes? :thinking:

FYI: i don't even see the controller pod in my local cluster :man_shrugging:

[2021-12-21 13:08] newb1e commented on #6165
@prein
I was able to get it working by setting `Groups claim filter` to `.*` in the Okta group settings.
![image](https://user-images.githubusercontent.com/5286697/146935110-b0f4b956-cb1d-49da-aced-2ca58488f16b.png)

[2021-12-21 14:20] Pluggi opened #7453 "Parameter not sent when switching between entrypoints"
## Summary

### What happened/what you expected to happen?

When trying to submit a workflow template that does not define a default entrypoint, argowf indicates `<default>` :

![image](https://user-images.githubusercontent.com/1277836/146914807-5587940b-f06f-464c-99f2-06fd2c93debd.png)

This leads to a first bug where if you press submit, it indicates that you indeed did not select an entrypoint.

[2021-12-21 14:57] terrytangyuan commented on #7436
Try just building the image locally and then replace your image tag in your installation manifests, e.g.
[code]

[2021-12-21 16:08] softwarebloat commented on #7436
mmm what do you mean by

The only thing i did to run it locally is following this doc https://argoproj.github.io/argo-workflows/running-locally/

[2021-12-21 16:21] terrytangyuan commented on #7436
That should work. Check if your installed controller is using your modified version.

If you want to do that explicitly, you can start your local k3d cluster from scratch, build your images, and then use those new images in your manifests, e.g.
[code]
Note that this manifest is modified from https://github.com/argoproj/argo-workflows/blob/master/manifests/namespace-install.yaml. The changes are si

[2021-12-21 19:08] softwarebloat commented on #7436
mmmm maybe i missed some step. Do i have to install the controller? isn't enough than to run `make start` to install everything needed for local dev? :thinking:

[2021-12-21 20:56] alotkros opened #7457 "Pod OOM causes workflow to get stuck on "Running""
## Summary

### What happened/what you expected to happen?

During a workflow we sometimes run into an issue where a pod that goes OOM, makes the entire workflow get stuck on running until we manually interrupt the workflow.
Additionally, looking at the Argo UI shows the pod that went OOM is stuck on "Running". Possibly the workflow didn't detect that the pod went OOM - thinking it's still running

[2021-12-21 21:54] brews commented on #1427
I'm still having this issue in v3.2.6.

[2021-12-22 02:26] sarabala1979 commented on #7457
@alotkros can you try on 3.1.15 or 3.2.6?

[2021-12-22 08:46] softwarebloat commented on #7436
btw, the draft PR passed all checks.
can you review it and, if everything seems good to you maybe could you also try it locally? (and describe me the steps you do to do so? :pleading_face:)

PR #7450

[2021-12-22 10:00] FengyunPan2 opened #7458 "NullPointerException in Outputs.ExitCode"
## Summary

What happened/what you expected to happen?
    retryStrategy:
      affinity:
        nodeAntiAffinity: {}
      backoff:
        duration: "3"
        factor: 2
        maxDuration: "10"
      expression: ' asInt(lastRetry.exitCode) != 0 '
      limit: 3
      retryPolicy: Always
When I submit a retry workflow, sometimes output a panic to me:

status:
  artifactRepositoryRef:
    arti

[2021-12-22 10:01] FengyunPan2 commented on #7458
/assign @FengyunPan2

[2021-12-22 10:03] FengyunPan2 commented on #7458
--- a/workflow/controller/operator.go
+++ b/workflow/controller/operator.go
@@ -1578,7 +1578,7 @@ func buildRetryStrategyLocalScope(node *wfv1.NodeStatus, nodes wfv1.Nodes) map[s
        lastChildNode := getChildNodeIndex(node, nodes, -1)

        exitCode := "-1"
-       if lastChildNode.Outputs != nil {
+       if lastChildNode.Outputs != nil && lastChildNode.Outputs.ExitCode != nil {

[2021-12-22 13:21] tooptoop4 opened #7462 "failed to create new S3 client: NoCredentialProviders: no valid providers in chain"
run the below workflow

[code]

error is:

Message:             Error (exit code 1): artifact my-art failed to load: failed to create new S3 client: NoCredentialProviders: no valid providers in chain. Deprecated.
        For verbose messaging see aws.Config.CredentialsChainVerboseErrors

slightly related to https://github.com/argoproj/argo-workflows/discussions/7461 as in i am looking for general

[2021-12-22 13:35] gabrieltomasrizzo commented on #6947
I am using version 3.2.4 and I still have the same problem, only the logs are shown after the pods are finished.
During execution I only see "waiting for data".
![image](https://user-images.githubusercontent.com/36966227/147100762-2319a17b-7a63-48a4-9205-7f54300338b7.png)

I have tested it with various workflows including the python example shown here in this thread.

[2021-12-22 13:40] wybaron opened #7463 "k8sapi executor does not support outputs from base image layer."
![image](https://user-images.githubusercontent.com/19605510/147101536-df11201c-d518-434c-9d57-b1ccd40fae7f.png)

[2021-12-22 13:52] tooptoop4 opened #7464 ""token not valid for running mode""
curl -H "Authorization: Bearer redact" --request GET --url https://redact/api/v1/workflows/argo -vvv

i have sso auth mode on the argoworkflows server, is api not supported in that case?

[2021-12-22 13:55] naor2013 commented on #7457
@sarabala1979 I'll continue him because we work together.
The problem is that trying new versions in our company is a big struggle and takes a long while.
Is there a reason to suspect that any of those versions will really solve it? Did any of the recent versions try to solve this issue or something similar to it?
Or are you suggesting it just to make sure?

[2021-12-22 14:15] terrytangyuan commented on #7463
This is expected behavior and mentioned in the docs: https://github.com/argoproj/argo-workflows/blob/master/docs/workflow-executors.md

I'd suggest using the emissary executor.

[2021-12-22 14:34] terrytangyuan commented on #7436
I probably won't have time to try it locally until after the holidays. The steps would be the same as the ones I mentioned above. You had issues with `make start`, which is why I suggested trying my approach that does everything more explicitly and we can debug step by step.

It would be good to get @sarabala1979's review on your PR since he implemented the HTTP template initially but I'd expect s

[2021-12-22 14:36] sarabala1979 commented on #7436
I will take a look

Sent from my iPhone

[2021-12-22 15:16] terrytangyuan commented on #1427
Had a quick look at the relevant code. The root cause is that when submitting from resource, the specified priority isn't used.

[code]
`SubmitOptions` does not include a field for `priority`.  This should be easy to support.

Submitting workflows from a file does not have this problem since it applies priority to workflow spec before the workflow gets submitted.

[2021-12-22 16:53] softwarebloat commented on #7436
@terrytangyuan oohh ok i got it sorry. i thought it was like a workaround. i'll try that!!

@sarabala1979 thanks! :rocket:

[2021-12-22 17:17] laymain opened #7465 "Template level synchronization mutex not working as expected"
## Summary

Hi, I don't know if it's a misunderstanding of the [template level synchronization feature](https://argoproj.github.io/argo-workflows/synchronization/#template-level-synchronization) or a bug, but it seems to be a bug to me.

**What happened/what you expected to happen?**

I have created a WorkflowTemplate with a mutex on a template that contains steps and tried to submit several workf

[2021-12-22 17:41] laymain commented on #7465
As a warkaround, I tried to keep only one step in the template that contains a mutex and put my steps in a sub-template:

[code]
It seems to be working as expected, but I don't know if it is just luck because each sub-step seems to acquire the lock...

[code]

[2021-12-22 21:24] stephpalis opened #7466 "The workflow-controller evicts the task pod too soon after completion and has no pod to read to update its workflow status"
## Summary

What happened/what you expected to happen?
The PDB on the workflow doesn't wait long enough before evicting the task pod. The PDB for the workflow is working correctly, protecting the pod while it’s running, but after that, the pod is deleted, and the workflow-controller has no pod to read to update its workflow status

What version of Argo Workflows are you running?
argo: v3.1.0-rc13

[2021-12-23 13:21] bygui86 commented on #7464
I have SSO auth mode configured with ArgoCD Dex and in the argo-server logs I see tons of lines like

[code]

I can't understand where those calls come from.
Ideas?

ArgoWorkflows `v3.2.4`
ArgoCD `2.2.1`

[2021-12-23 20:48] qiyin777 commented on #6382
”Rerun a node with different parameters“ This could be super helpful.

[2021-12-23 21:02] softwarebloat commented on #7436
@terrytangyuan so, i'm trying with the explicit way and when i run but i got error when trying to import the images in k3d cluster
[code]
and the error makes sense cause i can't find the images built in `docker images` list

previous steps runs without errors

[2021-12-24 03:48] 66li opened #7469 "Unable to clone repository with submodule url git@github.com"
Bugs in the new version of go-git

Same as this problem description, it can be avoided by rolling back to version 3.4
https://github.com/go-git/go-git/issues/397

[2021-12-24 16:05] tooptoop4 commented on #7462
https://github.com/argoproj/argo-workflows/discussions/7461 has solution

[2021-12-24 16:05] #7462 closed

[2021-12-24 16:26] softwarebloat commented on #7436
I also tried the explicit way suggested by @terrytangyuan but now, when i run `make start` i got an error

[code]

[2021-12-26 02:41] terrytangyuan commented on #7436
You have an existing and incompatible installation in the cluster. Try removing the cluster and starting from scratch: `k3d cluster rm k3s-default; k3d cluster create k3s-default`.

[2021-12-26 08:47] vogre opened #7470 "GitHub releases CLI instructions also include kubectl apply"
# Summary

GitHub

When you visit https://github.com/argoproj/argo-workflows/releases, there are install instructions

[code]

Those are unrelated to CLI install, and may interfere with previous argo installs

# Use Cases

When downloading argo version

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2021-12-26 09:58] softwarebloat commented on #7436
already tried that but nothing changed. same error.

in the `namespace-install.yml` i only changed the image from `quay.io/argoproj/workflow-controller:latest` to `argoproj/workflow-controller:test-oss-1` (same for the argoexec one)
is it correct, right?!

[2021-12-27 18:38] m0nk3y-s3c commented on #4912
I have the same issue, is there anyone who managed to solve it?

[2021-12-28 06:33] komi1230 commented on #7424
Same here.

[2021-12-28 10:20] softwarebloat commented on #7436
so, i tried to clean some stuff and delete again the k3d cluster.
now, if i re-create it without manually building the **argoexec** and **controller** images, `make start` "works" but actually it doesn't (as stated above)
i have no controller/server pods and deployments looks like this:
[code]

then, after succesfully built and imported the images but i got that error while trying to apply the mod

[2021-12-28 13:00] #6735 closed

[2021-12-28 13:00] #6620 closed

[2021-12-28 20:54] chrispsplash commented on #7366
**NOTE: I'm using Argo Workflows 3.2.6**

After running various scenarios I'm pretty sure this is exclusive to exit hooks but also exclusively to the `status` parameter.  I put together a couple of workflows exploring the situation (below).
# dag-exit-handler-result
This workflow demonstrates things that work:
* access the `status` of a previous task
* access `outputs` of the current task during a

[2021-12-29 02:52] #6736 closed

[2021-12-29 10:35] thatGreekGuy96 opened #7471 "I would like a mentor"
Hey everyone!
I'm trying to start contributing to the argo workflows codebase and I think i might need a bit of help.
I've been trying to resolve #7372 but I cannot reproduce it locally.

I have followed the instructions on https://argoproj.github.io/argo-workflows/running-locally/ and gotten workflows to run successfully on my local machine (Macbook pro with MacOS Monterey). However it seems like

[2021-12-29 19:44] chrispsplash opened #7472 ""unexpected end of JSON input" when using withItems/withParam"
## Summary

### What happened
The DAG went to Error phase even though all child steps succeeded

### what you expected to happen?
No errors!

### What version of Argo Workflows are you running?
3.2.6

## Diagnostics
Here's a workflow which consistently reproduces the issue
[code]

### What Kubernetes provider are you using?
`GitVersion:"v1.19.13-eks-8df270"`

### What executor are you running? Doc

[2021-12-29 20:20] chriswilley commented on #3080
For folks looking for an Ingress config example for EKS+ALB, this is working for us:
[code]
Assumes you're running Argo server in namespace `argo`. Note that `ingressClassName: alb` is essential (and a literal).

[2021-12-29 21:32] armenr commented on #3080
For anyone who finds their way to this thread - or runs into this problem - here's a working implementation for a local K3D cluster. It's all laid out flexibly enough that it should be portable/obvious to understand + obvious to modify or adapt to your own workflow/implementation.

### Overview

K3D is a wrapper and set of conveniences for running a fully-dockerized local cluster on Rancher K3s.

[2021-12-30 07:28] summylight opened #7473 "Add hostNodeName to workflow.failures"
# Summary

 I'm analyzing workflow.failure to get the message of workflow failure. But sometimes workflow step failed due to node failure, e.g. node OOM, node networkf issue. I want workflow.failures to support posting hostNodeName. As I see, it's simple to add it in https://github.com/argoproj/argo-workflows/blob/master/workflow/controller/operator.go#L105 as we could get [node.hostNodeName](http

[2021-12-30 18:47] rigogsilva opened #7475 "--bash: argo-cli: command not found"
## Summary

### What happened/what you expected to happen?

Installing argo for mac in my macOS Moneterey (M1), and it failed. The error is: `--bash: argo-cli: command not found`

I believe this command:
[code]

Should be:
[code]

After changing the binary file name it worked.

### What version of Argo Workflows are you running?
**v3.2.6**

---

**Message from the maintainers**:

Impacted by this

[2021-12-30 21:24] rigogsilva commented on #7475
This was a login bash alias that was causing the issue.

[2021-12-30 21:24] #7475 closed

[2021-12-30 22:12] pietermarsman commented on #5252
I got a similar issue where the wait container was waiting for the main container before that was possible. Adding the logs here for future reference.

[code]

The issue was resolved by @vaibhav-k  tip to use `Container-optimized OS with docker`.

Actually, I'm using terraform for deployment and adding this solved the issue:

resource "google_container_node_pool" "pool" {
  ...
  node_config {

[2021-12-31 00:14] liuzqt opened #7476 "valueFrom configMap not working in workflow level parameters"
## Summary

What happened/what you expected to happen?

reproducing template:
[code]

workflow spec:
[code]

as you can see, I declared the workflow level arguments `myvalue`, and the value is from configMap, but this is not working the value is empty.

I'm sure the config map resource has been created successfully, and moreover,  if I declare the parameters in the dag instead of the workflow leve

[2021-12-31 00:59] terrytangyuan commented on #7470
Thanks! This will be fixed in https://github.com/argoproj/argo-workflows/pull/7477 for future releases.

[2021-12-31 01:00] terrytangyuan commented on #7476
Could you provide any error messages, controller logs, etc. as mentioned in the issue template?

[2021-12-31 11:49] prein commented on #6165
Thanks @newb1e I've updated the claim filter following your (and apparently, this is what official docs recommend too) recommendation. Previously it was left with default value - "None". I wonder what difference it makes. Anyway, still doesn't work for me.

[2022-01-01 14:48] m0nk3y-s3c commented on #6064
I am using 3.2.6 version and I get the same behavior.
I opened a discussion on this issue --> https://github.com/argoproj/argo-workflows/discussions/7480

[2022-01-02 01:33] rossigee opened #7483 "Allow variable interpolation in ResourceTemplate manifest"
# Summary

I was expecting this to work.

[code]

It fails with:

[code]

# Use Cases

When would you use this?

To update a resource with values provided as input parameters to the workflow.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-01-03 06:31] sarabala1979 commented on #7471
@thatGreekGuy96 I can mentor you.  you  should remove the below configuration from `workflow-controller-configmap`
[code]

[2022-01-03 12:12] Sh1ftry opened #7486 "Make argoexec image scratch/distroless to improve security"
# Summary

Argoexec image has lots of components, which makes it vulnerable to various security findings. With emissary executor though it's possible to make the image distroless.

# Use Cases

Workflows using emissary executor.

- [x] #7795
- [x] #7796
- [x] #7797
- [x] #7798
- [x] #7799
- [x] #7800

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritis

[2022-01-03 15:44] terrytangyuan commented on #7436
Could you try `kubectl create -f manifests/namespace-install.yaml`?

[2022-01-03 15:50] thatGreekGuy96 commented on #7471
That worked! Thanks a lot!

[2022-01-03 15:51] terrytangyuan commented on #7436
Also looks like you ran `make start` and then built, import images followed by a `kubectl apply`. This is why you are seeing the error above. Please try the commands I suggested for now without running `make start`.

[2022-01-03 15:53] thatGreekGuy96 commented on #7471
Trying to open the pull request now, I get the following error when running `make pre-commit -B`
[code]

Anything obvious I'm doing wrong here?
I'm fairly new to Go so apologies if there's something obvious I've missed :)

[2022-01-03 17:06] oleg-borodai opened #7488 "Pod "START TIME"/ "END TIME" popup shows time in UTC instead of local timezone"
## Summary

Pod START TIME popup shows time in UTC which doesn't match with actual value shown relatively to current moment(see screenshot). I would expect the popup to show time in my local timezone.

argo v3.2.6

## Diagnostics

```argo submit -n argo --watch https://raw.githubusercontent.com/argoproj/argo-workflows/master/examples/coinflip-recursive.yaml```

![Pasted Graphic 1](https://user-ima

[2022-01-03 18:07] sarabala1979 commented on #7471
@thatGreekGuy96 can you `go mod vendor` and try this?

[2022-01-03 18:10] sarabala1979 commented on #7476
@liuzqt Is it failing in  CLI during submission?

[2022-01-03 18:59] sarabala1979 commented on #7472
@chrispsplash Not able to reproduce in  my env 3.2 and master. Please provide the  `agent` pod log and `busybox` pod log.

[2022-01-03 19:02] sarabala1979 commented on #7469
will wait go-git resolution go-git/go-git#397

[2022-01-03 19:05] sarabala1979 commented on #7465
@laymain can you provide the full log for the issue scenario?

[2022-01-03 19:18] sarabala1979 commented on #7457
@naor2013 There are a few enhancements on handling pod reconcile in the latest versions(3.1.15 and 3.2.6).   is this OOM killed node daemon?

[2022-01-03 19:29] sarabala1979 commented on #7453
@Pluggi This is excepted behavior in 3.2. we don't want to simply select the first template. We can add validation on  UI  to select the entrypoint template it there is no entrypoint in  workflowtemplate.

Do you  like to submit the PR?

[2022-01-03 19:43] chrispsplash commented on #7472
Sure thing! (NOTE to be clear neither of these finished with error/fail status)

busybox
[code]

agent
[code]

[2022-01-03 19:47] sarabala1979 commented on #7449
@cehoffman I am not able to reproduce the issue with the above example. Can you verify the controller deployment spec what is controller version and `executor-image` version?
[code]

[2022-01-03 20:05] sarabala1979 commented on #7472
@chrispsplash Similar logs. Are you consistently able to reproduce this issue?

[2022-01-03 20:06] chrispsplash commented on #7472
Yes, every single run 😢

[2022-01-03 20:08] sarabala1979 commented on #7488
@oleg-borodai  It is a good enhancement. it is really challenging to display the time format.
Would you like to submit the PR for this enhancement?

[2022-01-03 20:17] sarabala1979 commented on #7472
@chrispsplash are you just using the above workflow or other workflows?

[2022-01-03 20:20] chrispsplash commented on #7472
i discovered it with another workflow that interfaces with the rabbitmq API.  the API calls fine as soon as I remove the `withItems` or `withParam`.  I created this one to research the issue further

[2022-01-03 20:21] jeanlouhallee commented on #6490
@bygui86 Haven't made much progress on my side. I unfortunately had to reprioritize and work on other stuff.
Even though I still have much interest in implementing Casbin similar to ArgoCD, I can't commit on any timeline for now.

[2022-01-03 20:56] laymain commented on #7465
I have provided the full controller log (collapsed), do you need something
else?

Le lun. 3 janv. 2022 à 20:05, Saravanan Balasubramanian <
***@***.***> a écrit :

[2022-01-03 22:42] sarabala1979 commented on #7465
@laymain I just noticed you are using a very old version 2.12.3 which is not being supported. Can you try on a newer release like 3.1.15 or 3.2.6?

[2022-01-03 23:07] laymain commented on #7465
I’d like to, but upgrading Argo on our cluster would have a cost since it
has  v3 has breaking changes.

Le lun. 3 janv. 2022 à 23:42, Saravanan Balasubramanian <
***@***.***> a écrit :

[2022-01-04 00:50] sarabala1979 commented on #7472
@chrispsplashCan you schedule 30 minutes zoom call to go over it?

[2022-01-04 02:14] cehoffman commented on #7449
Can verify it. Installed from   - https://github.com/argoproj/argo-workflows/releases/download/v3.2.6/install.yaml with only modification layered from kustomize to enable sso. I’ll try again later to try and get more information.

[code]

[code]

[2022-01-04 05:53] tooptoop4 opened #7490 "sso and client mode auth together doesn't work"
i tried starting the server with any combo of these:
[code]
all gave error "Error: invalid mode"

but cli says ```--auth-mode stringArray                API server authentication mode. Any 1 or more length permutation of: client,server,sso (default [client])```

basically i want to be able to be able to login to UI with sso but also want to be able to trigger workflows via API (via some sort of au

[2022-01-04 09:50] softwarebloat commented on #7436
oh you are right, without running `make start` first, it works. But should i then run `make start`?? or how should i run the application after applying the modified manifest?!

and also, do you know why i'm facing this problem with `make start`? :thinking:

[2022-01-04 12:08] akpsan commented on #7488
Hi I would like to work on this issue. If someone can point me in the right direction towards the basic documentation of the application and steps to reproduce. Thanks!

[2022-01-04 15:23] chrispsplash commented on #7472
Sure thing!  I'm free today from 1PM to 6PM eastern

[2022-01-04 15:45] #7470 closed

[2022-01-04 16:31] thatGreekGuy96 commented on #7471
@sarabala1979  did it but unfortunately I get the same error :/

[2022-01-04 16:38] lacarvalho91 commented on #6261
I'm trying to do something similar to this, I mistakenly didn't have a connector configured either. Now that I have one configured things are up and running however when Argo Workflows tries to use the Argo CD dex to handle the login I just get an error saying:
[code]

Where `my-client-id` seems correct (it is the value from the Secret documented on https://argoproj.github.io/argo-workflows/argo-s

[2022-01-04 16:56] sarabala1979 commented on #7471
@thatGreekGuy96 Looks like your env does have protoc-gen-gogo. can you install and try?

https://github.com/gogo/protobuf

Most Speed and most customization
Customizing the fields of the messages to be the fields that you actually want to use removes the need to copy between the structs you use and structs you use to serialize. gogoprotobuf also offers more serialization formats and generation of

[2022-01-04 17:03] #7289 closed

[2022-01-04 17:22] thatGreekGuy96 commented on #7471
Yup you're right! i was missing this plus some other dependencies, installed everything and it works fine now!

Thanks a lot!

[2022-01-04 17:30] thatGreekGuy96 commented on #7471
I've opened a PR now (#7498 ). Seems like I need an active contributor to have a look in order to approve the CI workflows?

[2022-01-04 18:32] asafhm commented on #4804
Is there any solution for those who use GCE ingress controller on GKE?

[2022-01-04 19:06] liuzqt commented on #7476
@sarabala1979  @terrytangyuan It didn't fail during submission, and neither fail during runtime.  Argo itself is running well, **except the input value is empty**(not the expected value from config map), and the error is within my own application due to the empty value.

[2022-01-04 19:20] terrytangyuan commented on #7476
Could you provide controller log?

Also, does this example work for you? https://github.com/argoproj/argo-workflows/blob/master/examples/global-parameters-from-configmap.yaml

[2022-01-04 19:23] reinvantveer commented on #4912
Have you tried running the controller with emissary runtime executor? I was running into something similar - I had misconfigured the Minio service hostname, but the Docker runtime executor appeared not to pick this up as expected and got stuck. Maybe this is of help?

[2022-01-04 22:34] liuzqt commented on #7476
@terrytangyuan  yes that example works well.
After digging a while, I got a more detailed reproducing example:

Actually, the way I do it is that I create a Workflow template in the cluster, and then submit a workflow referencing that template, as documented here(https://argoproj.github.io/argo-workflows/workflow-templates/), instead of directly create a workflow.

The WorkflowTempalte:
[code]

Th

[2022-01-04 22:45] liuzqt commented on #7476
@terrytangyuan the raw config map:
[code]

As for the controller log, I might need to ask our Argo SRE......I'm running jobs on companies' cluster, will also attach here once I get the log

[2022-01-04 23:38] ops-hummus commented on #6915
Still happening in version 3.2.6
`time="2022-01-04T23:36:46Z" level=info msg="index config" indexWorkflowSemaphoreKeys=true
time="2022-01-04T23:36:46Z" level=info msg="cron config" cronSyncPeriod=10s
time="2022-01-04T23:36:46.162Z" level=info msg="not enabling pprof debug endpoints"
time="2022-01-04T23:36:46.163Z" level=info msg="config map" name=argo-workflow-argo-workflows-workflow-controller-co

[2022-01-05 02:27] johnson-prabu opened #7505 "Why Argo Workflow points to localhost (https://localhost:2746), cant this be 0.0.0.0?"
# Summary

What change needs making?
Why Argo Workflow points to localhost (https://localhost:2746), cant this be 0.0.0.0?

# Use Cases

When would you use this?
We are using Ambassador for mapping, the mapping is not reached to the port & if I deploy this in AWS EC2 also I am not able to access the port using IP.

Is there a particular reason we point to localhost?
---

**Message from the maintai

[2022-01-05 04:19] johnson-prabu commented on #5859
How to map this with Ambassador?

[2022-01-05 11:31] leonharetd commented on #3587
I'm interested in this. I want to try it

[2022-01-05 15:32] terrytangyuan commented on #7471
@thatGreekGuy96 I kicked off the CI tests for you.

[2022-01-05 18:39] liuzqt commented on #7476
One more finding: if I put params from ConfigMap at the end of the param list, the issue is just gone. I will take this approach as a temporary fix.

[2022-01-05 19:13] terrytangyuan commented on #7476
Yes, this looks like a bug -- somehow the positioning affects the values. Note that if you want to use it as a workaround, you'd want to put an unused parameter as the first item in the list since the first parameter value is incorrect.

[2022-01-05 19:16] terrytangyuan commented on #7476
Something like the following:
[code]

[2022-01-05 19:59] liuzqt commented on #7476
@terrytangyuan  thanks,  will use it as a workaround

[2022-01-05 20:27] liuzqt opened #7509 "Confusing expression evaluation behavior"
## Summary

What happened/what you expected to happen?

This might be a bug or just expected behavior. But generally speaking, I'm very confused about when the expression will be evaluated, below is a small example

[code]

<img width="641" alt="截屏2022-01-05 下午12 21 30" src="https://user-images.githubusercontent.com/22358241/148284037-774141c0-c698-48ef-8f83-4315e42be29c.png">
<img width="645" alt

[2022-01-05 21:50] terrytangyuan commented on #7509
This seems like a bug from the UI side. @sarabala1979 @simster7 Any thoughts?

[2022-01-05 23:06] sarabala1979 commented on #7488
@akpsan Good and welcome.  I will help with this. Please setup local env https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md

[2022-01-05 23:08] sarabala1979 commented on #7453
@dpadhiar will work on  this

[2022-01-06 01:04] tooptoop4 commented on #7490
each auth-mode has to be on different line in the yaml, then it works

[2022-01-06 01:04] #7490 closed

[2022-01-06 03:54] tooptoop4 commented on #6287
@ZhengJuCn how did u solve?

[2022-01-06 05:07] johnson-prabu commented on #7505
Hey, Found a fix. In ambassador mapping "BASE_HREF" not required. Only we need to enable "tls" in mapping for https request.

[2022-01-06 05:07] #7505 closed

[2022-01-06 07:55] thatGreekGuy96 commented on #7471
many thanks, i made some minor changes and re-pushed, do you mind re-approving the CI tests?

[2022-01-06 12:23] areshytko commented on #2077
Why was the ticket closed?

[2022-01-06 14:26] tooptoop4 opened #7513 "artifacts/auth/ UI path pointing to s3 can't retrieve 'main' logs when using IRSA sessiontoken"
## Summary

What happened/what you expected to happen?

when i click main logs of completed workflow in the ui it shows 'failed to create new S3 client: NoCredentialProviders: no valid providers in chain. Deprecated.	For verbose messaging see aws.Config.CredentialsChainVerboseErrors'

![image](https://user-images.githubusercontent.com/33283496/148397631-5c9b4ddb-7af4-4a3e-99f1-5a0ddbfb8b4e.png)

m

[2022-01-06 14:41] tooptoop4 commented on #7464
link shows solution

[2022-01-06 14:41] #7464 closed

[2022-01-06 16:37] sarabala1979 commented on #7509
@terrytangyuan @liuzqt   I think  this  is expected behavior,  because  there is two level of substitution   happening  for  `global-cancat-param`
1.  Variable substitution  on  input parameter  -->  UI is showing
2. Value substitution is at  Command args level.

[2022-01-06 17:15] davelajoie opened #7516 "Pip install argo-workflows using git issues warning and deprecation messages"
## Summary

Under Macosx Catalina, running under Python 3.9 / MiniConda, whenever installing argo-workflows (master) through pip, will issue warning and deprecation messages

## Diagnostics

[code]

[2022-01-06 18:55] liuzqt commented on #7509
@terrytangyuan @sarabala1979  do we have documents regarding variable substitution/value substitution/expression evaluation rules? They're still confusing to me and what I can do is trial-and-error. The only relevant document I can find is https://argoproj.github.io/argo-workflows/variables/ but it's way too simple and doesn't explain different use cases and the mechanism under the hood.

[2022-01-06 19:54] sarabala1979 commented on #7453
@kennytrytek Is it  expected  behavior? Can we preselect the  spec.entrypoint  or  spec.templates[0]  in dropdown?

[2022-01-06 19:59] sarabala1979 commented on #7453
I can see the  already error message for entrypoint empty

[2022-01-06 21:47] #7332 closed

[2022-01-06 21:52] #7476 closed

[2022-01-06 21:52] #7293 closed

[2022-01-06 21:54] #7239 closed

[2022-01-07 07:13] henrywangx opened #7518 "argo controller panic several times"
We faced the argo controller panic, version: 3.2.6，k8s version: 1.20
![image](https://user-images.githubusercontent.com/10096800/148505841-af8770d7-6585-4260-a28f-b95730488588.png)

Panic log:

[code]

[2022-01-07 08:03] #7068 closed

[2022-01-07 08:03] #6849 closed

[2022-01-07 08:03] #6557 closed

[2022-01-07 08:03] #6863 closed

[2022-01-07 08:04] #6843 closed

[2022-01-07 09:58] FischerLGLN opened #7519 "Allow field runtimeClassName in argo workflows spec for gpu usage"
# Summary

Several fields are supported in argo workflows template and the argo workflow crd like the field imagePullSecrets.
If adding the containerd plugin field runtimeClassName: nvidia

[code]

to the specs section, gpu usage in argo workflows pod is working for kubernetes with containerd backend.
# Use Cases

This would allow us to use argo-workflows natively for our deep learning workloads.

[2022-01-07 16:36] sarabala1979 commented on #7518
@henrywangx it looks like panic is happening on k8s client code. Can you provide your configuration(workflow-controller-config) and env (os, k8s  provider )details?

[2022-01-07 16:37] sarabala1979 commented on #7516
@terrytangyuan can you take  a  look?

[2022-01-07 16:56] sarabala1979 commented on #7513
@tooptoop4 I think UI  is running in the different namespaces with different ServiceAccount. if you grant the access to `Argo-server` service account in `argo` namespace. it will work.

[2022-01-07 17:40] kennedy opened #7524 "Windows CLI missing extension"
## Summary

What happened/what you expected to happen?
After unzipping the `argo-windows-amd64.gz` bundle, there should be a executable binary with the file extension of *.exe

What version of Argo Workflows are you running?
0.9.4

## Diagnostics

I manually added the file extension, added to my tools directory in my PATH, then it works.

---

**Message from the maintainers**:

Impacted by this bu

[2022-01-07 17:47] terrytangyuan commented on #7516
I think you can ignore these warnings. Since the package can still be successfully installed, you can use it. Once this is officially released to PyPI, you'll be able to `pip install argo-workflows` and the warnings will go away since the version will be valid.

[2022-01-07 17:50] terrytangyuan commented on #7516
In the meantime, I'll also update the version number to be PEP compatible.

[2022-01-07 17:52] #7349 closed

[2022-01-07 18:01] terrytangyuan commented on #7516
@davelajoie This warning will be fixed by https://github.com/argoproj/argo-workflows/pull/7525. Feel free to try again once it's merged.

[2022-01-07 19:31] davelajoie commented on #7516
Tx
I was under impression that pip install argo-workflows would install the old client api and not new SDK. I will test this once merge

[2022-01-07 23:30] gandeevan opened #7527 "Large aggregated result"
## Summary

**What happened/what you expected to happen?**
Hello. I’m running a workflow that fans out quite a few parallel tasks, each of which outputs a parameter and then aggregates the parameters with `{{tasks.task-name.outputs.parameters.output-name}}` in the next step. However, the wait and the main container seems to be crashing with the following error: `standard_init_linux.go:228: exec us

[2022-01-08 15:03] m0nk3y-s3c opened #7530 "workflow - argoexec container stuck on wait after main container finishes"
## Summary

What happened/what you expected to happen?
Installed the stpes.yaml from example, but after the first step in finished the wait container get stuck and never get to step2.

What version of Argo Workflows are you running?
v3.2.6
## Diagnostics

Either a workflow that reproduces the bug, or paste you whole workflow YAML, including status, something like:

[code]

What Kubernetes provider

[2022-01-08 18:35] #7516 closed

[2022-01-08 18:58] davelajoie commented on #7516
Tx for the fix!

[2022-01-09 11:55] danmx opened #7531 "WebUI fetches artifacts from a default source even though workflow has a different configuration"
## Summary

What happened/what you expected to happen?

I'm running a workflow with `artifactRepositoryRef.key` configured to use non-default artifact store. In WebUI, when trying to fetch archived logs I get a message `The specified key does not exist.`. In logs I can see it's calling a default artifact configuration instead the one used in the workflow.

I expected that the artifact configuratio

[2022-01-09 20:10] sarabala1979 commented on #7524
@argoproj/argo-windows FYI

[2022-01-09 20:10] sarabala1979 commented on #7524
Is  CI  issue?

[2022-01-09 20:14] sarabala1979 commented on #7527
@gandeevan you can store it as artifacts for aggregated output and pass it to downstream steps.

[2022-01-10 00:14] gandeevan commented on #7527
I did try storing the aggregated output as an artifact for the downstream step using the `raw` field. But that causes the same issue, since the entire template including the value of the `raw` field is populated into the `ARGO_TEMPLATE` environment variable.

To the best of my knowledge there's no workflow variable to aggregate the aggregate the artifacts of the previous step (which uses withParam

[2022-01-10 03:26] sarabala1979 commented on #7527
yes,   there  is  one  more workaround you can  try  using   PVC for all fanout  steps to store  the output  and downstream step can read from the  same PVC

[2022-01-10 03:29] sarabala1979 commented on #7530
@m0nk3y-s3c can you provide the wait container log?

[2022-01-10 03:33] sarabala1979 commented on #7530
![image](https://user-images.githubusercontent.com/33908564/148715383-0f73b322-ae47-4b28-aa53-1f9e6c0ce26e.png)
looks like  you using  `docker`.

Can you try `PNS`?
you can  configure `containerRuntimeExecutor: pns`  in configmap `workflow-controller-configmap`

[2022-01-10 03:34] gandeevan commented on #7527
We use GKE, which doesn't support simultaneous mounting of a volume on multiple nodes in the read-write mode. Using a PVC for storing the output would thus serialize the fanned-out steps.

[2022-01-10 04:28] tooptoop4 commented on #7513
@sarabala1979 UI is server not workflowcontroller right? see below:
`kubectl get pod -o=custom-columns='Name:.metadata.name','ServiceAccount:.spec.serviceAccount','Namespace:.metadata.namespace' -A | grep -E 'wf|workf'`
[code]

[2022-01-10 04:37] sarabala1979 commented on #7513
yes `argo-workflows-server-c448f97cb-lcgfz `

[2022-01-10 05:16] lippertmarkus commented on #7524
I think we need to append `.exe` to the output name in `-o` here when creating Windows binary :
https://github.com/argoproj/argo-workflows/blob/b476c4af505b6f24161a3818c358f6f6b012f87e/Makefile#L178

[2022-01-10 07:10] TanmayKedari commented on #7530
Facing same issue while using k8sapi executor
Tried using pns no luck there as well

[2022-01-10 07:12] sarabala1979 commented on #7530
@TanmayKedari can you provide the wait container log?  are you using  v3.2.6?

[2022-01-10 07:14] TanmayKedari commented on #7530
time="2022-01-10T05:56:13.016Z" level=info msg="Starting Workflow Executor" executorType=k8sapi version=v3.1.0
time="2022-01-10T05:56:13.027Z" level=info msg="Creating a K8sAPI executor"
time="2022-01-10T05:56:13.027Z" level=info msg="Executor initialized" includeScriptOutput=false namespace=ds-argo podName=ftl004cp-lpxqv-1641788760-3356570892 template="{\"name\":\"adapter-etl\",\"inputs\":{\"para

[2022-01-10 07:17] TanmayKedari commented on #7530
time="2022-01-10T05:56:13.016Z" level=info msg="Starting Workflow Executor" executorType=k8sapi version=v3.1.0
time="2022-01-10T05:56:13.027Z" level=info msg="Creating a K8sAPI executor"
time="2022-01-10T05:56:13.027Z" level=info msg="Executor initialized" includeScriptOutput=false namespace=ds-argo  version="&Version{Version:v3.1.0,BuildDate:2021-06-21T22:37:12Z,GitCommit:caeb46d443b6491fdd9716c6

[2022-01-10 07:24] sarabala1979 commented on #7530
@TanmayKedari  you using old release `version=v3.1.0` Please upgrade to 3.1.16 or v3.2.6

[2022-01-10 07:25] sarabala1979 commented on #7530
@TanmayKedari Is your container finishing quickly?

[2022-01-10 07:29] TanmayKedari commented on #7530
Was facing the issue previously on version=v3.0.3 since have upgraded to v3.1.0.
is this issue resolved in 3.1.16?

[2022-01-10 07:29] imskr commented on #7519
Can i work on this @FischerLGLN ? Also I am new to the project. It would be really helpful if you can provide more details on this.

[2022-01-10 07:31] sarabala1979 commented on #7509
@liuzqt There is the doc for this. But  It is expected behavior. As I mentioned above UI will show one level of substitution. which is substitute value of `"{{workflow.parameters.concat-param}}"` is  `{{=workflow.parameters.param1 + workflow.parameters.param2}}`

[2022-01-10 07:34] sarabala1979 commented on #7530
There is few improvements and fix’s  on 3.1.16 but I would recommend to use latest release v3.2.6

Sent from my iPhone

[2022-01-10 07:34] TanmayKedari commented on #7530
One container ie main finishes properly after proper execution and argoexec does not finish.
Not sure about which container you are referring to but I hope this answers your question.

P.S - The Same issue is not observed in Sample pre-written workflows which are available during submit new workflow

[2022-01-10 07:44] TanmayKedari commented on #7530
It worked 👍👍🥳🥳
Thanks a lot
The execution was properly Finished.

[2022-01-10 08:16] FischerLGLN commented on #7519
Sure!
I think the only missing step is to extend the Workflow specification or as a workaround allow an unspecified field in Workflow (like our runtimeClassName) to be passed directly to the resulting Pod object.

The Validator for the workflow spec seems to be [here](https://github.com/argoproj/argo-workflows/blob/d3ecdf11c145be97c1c1e4ac4d20d5d543ae53ca/workflow/validate/validate.go#L112)

Which

[2022-01-10 10:33] tooptoop4 commented on #7513
after adding vol/mount/env to server pod it works!

[2022-01-10 10:33] #7513 closed

[2022-01-10 10:44] imskr commented on #7519
Thanks @FischerLGLN This helps

[2022-01-10 16:25] gandeevan commented on #7527
Just thinking out loud here - would it be a good idea to add the support to expose the aggregated result as an artifact, to solve for when the aggregated result is too big to fit into a parameter? I can probably take a shot at this.

[2022-01-10 16:54] sarabala1979 commented on #7443
@adilfulara looks like some permission issue on your environment or executables. Please check the executable permission for argo and kubectl

[2022-01-10 16:55] sarabala1979 commented on #7527
@gandeevan good idea. I will change the label to enhancement

[2022-01-10 19:05] #7524 closed

[2022-01-11 01:42] kennytrytek opened #7539 "v3.2.6 'expression' in RetryStrategy (conditional retry) is Broken"
## Summary
Submitting this example workflow results in an error.
https://github.com/argoproj/argo-workflows/blob/master/examples/retry-conditional.yaml
[code]

What version is it broken in?
v3.2.6

What version was it working in?
v3.1.2

## Diagnostics

Either a workflow that reproduces the bug, or paste you whole workflow YAML, including status, something like:

[code]

What Kubernetes provider a

[2022-01-11 02:50] summylight commented on #7473
I'm willing to post a commit and do test for this, if the argo team have no time.

[2022-01-11 03:54] adilfulara commented on #7443
@sarabala1979 i switched to my a different computer and the instructions worked for the most part. However the
[code]
didnt work for minikube.

Luckily i found [this](https://github.com/argoproj/argo-workflows/issues/3672) that helped me resolve the issue.

[2022-01-11 03:54] #7443 closed

[2022-01-11 09:54] vassap2022 opened #7540 "support webhdfs artifacts"
# Summary

There is already support for hfds in argo-workflows (https://github.com/argoproj/argo-workflows/blob/master/examples/hdfs-artifact.yaml#L41) but not for the webhdfs protocol. I had a quick look in this repository and I could not find another question about webhdfs.  My team could help in with this implementation (i.e. implement the solution and open a PR in this repository). My question

[2022-01-11 13:27] lstolcman commented on #7488
Our team is located in different timezones, and definitely, we would not expect to have local time shown. Having common UTC is a great value for us.

Could you re-spec the proposed change to include UTC too?

[2022-01-11 14:07] terrytangyuan commented on #7436
@softwarebloat Thank you for your contribution and congrats on getting your first PR merged!

[2022-01-11 14:07] #7436 closed

[2022-01-11 18:04] #7221 closed

[2022-01-11 21:00] David-Tamrazov commented on #3026
@alexec facing the same issue running on EKS Fargate. Posting our manifest below; the only things missing from it are the `argo` ServiceAccount that we use for workflows and the `argo` namespace that we're deploying the manifest to. Those seem inconsequential but can be provided as well if it helps:

[code]

[2022-01-12 12:18] yaronmat opened #7548 "DAG can't return a "dag" list"
when inside a DAG and trying to return a list of task results:
`x=[task_a() for _ in list(range(10))]`
` return x`

the next error is shown:
TypeError: This DAG returned a value of type [list].DAG's may only return a result of a nested DAG or Task

The problem (and current solution) is transforming this "list" to a real list object.
Current solution is to use a dummy task that gets x as a paramete

[2022-01-13 05:19] henrywangx commented on #7518
@sarabala1979
[code]

[2022-01-13 05:20] henrywangx commented on #7518
@sarabala1979

[2022-01-13 09:58] oleg-borodai commented on #7488
Probably having two lines in this popup could be a nice solution? I mean something of this format for the popup on the screenshot:
"2022-01-03T17:54:55
  2022-01-03T16:54:55Z"

[2022-01-13 17:58] sidh commented on #6261
@lacarvalho91 I had the same issue and I think I found solution. `id` in `staticClients` dex config must match whatever client id your workflows is using. You can store it in env just like client-secret (`secretEnv`) and then make dex read it via `idEnv` key instead of `id` (don't forget to put env var name as value).

[2022-01-13 18:11] bobh66 opened #7557 "Include the timezone in argo cron list output"
# Summary

It would be helpful if the output of the argo cron list command included the timezone along with the schedule, as it is impossible to correctly interpret the schedule without knowing what timezone it is using.

# Use Cases

This is useful any time the user requests a list of existing cronworkflow objects

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a

[2022-01-13 19:41] amithi-cider opened #7558 "Errors when trying to use templateRef on hooks.exit"
## Summary

What happened/what you expected to happen?

When trying to use hooks.exit similar to [this example](https://github.com/argoproj/argo-workflows/blob/master/examples/exit-handler-with-param.yaml), but replacing template with templateRef - getting a runtime error on the exit step with a message: "failed to get a template".

Also, when opening the manifest of the exit step there is a weird

[2022-01-13 23:34] max77p commented on #7465
@sarabala1979 I am using latest and template calling another template (which has the mutex lock present) does not work. Can you please confirm if this is correct?
Template 1:

`  templates:
      - name: start
        dag:
          tasks:
            - name: parse-payload
              template: whalesay1

                # run subscription
            - name: mutex-test
              templateRef

[2022-01-14 16:42] scott-grimes opened #7563 "workflow parameter `valueFrom: supplied: {}` fails to resolve"
A workflow template fails to resolve a parameter supplied through the UI

A workflow template using valueFrom generates an error
[code]
Changing the parameter definition to an empty `value` works correctly however:

[code]

UI screen:
<img width="376" alt="Screen Shot 2022-01-14 at 11 03 34 AM" src="https://user-images.githubusercontent.com/6396416/149550814-e83b7aed-6b09-4562-aa96-a55fc38f092d.pn

[2022-01-14 18:53] jfb74 commented on #6849
@sarabala1979 @alexec I was able to generate a complete yaml that replicates the behavior using the python3.9 docker image. What this does is spawn 3 children which are purposefully written to randomly fail. If at least one node fails you can "Retry" the workflow and the children nodes disappear. If all three children nodes succeed, it will move to the next step, but the 3 children nodes are not r

[2022-01-16 05:03] dinever commented on #7558
Hi @amithi-cider, thanks for reporting this!

I tried to reproduce this with v3.2.4 but had no luck.

Here's my workflow:

<details>

[code]

Here's the workflow template I'm using:

[code]

</details>

The above workflow works with Argo v3.2.4 on my end. The exit handler was successfully triggered. Could you try these? If the example fails on your end could you also share the logs of the workflow

[2022-01-16 05:15] dinever commented on #7548
Hi @yaronmat, thanks for reporting this! Are you using a Python SDK? Could you share the workflow manifest/script that is causing the issue? Thanks!

[2022-01-16 05:18] dinever commented on #7548
This looks like an issue from [DiagnosticRobotics/argo-workflow-tools](https://github.com/DiagnosticRobotics/argo-workflow-tools):

https://github.com/DiagnosticRobotics/argo-workflow-tools/blob/b90ca2981f5b4dc2c8a868271d0720d419fb04b8/argo_workflow_tools/dsl/dag_compiler.py#L354-L357

[2022-01-16 06:50] #7015 closed

[2022-01-16 06:50] #7094 closed

[2022-01-16 06:50] #7092 closed

[2022-01-16 06:50] #6593 closed

[2022-01-16 07:16] amithi-cider commented on #7558
Hi @dinever - sorry I wasn't clear on the issue description, but I am having the issues on [hooks.exit ](https://argoproj.github.io/argo-workflows/fields/#workflowstep) as part of a specific step. (onExit is deprecated for a single step)

So continuing on your example the template should look like :

[code]

[2022-01-16 19:34] jfb74 commented on #7311
@nielstenboom How are you solving this in the interim? We have the same use case as you and just recently upgraded to argo workflows version 3 not knowing we'd lose this functionality.

[2022-01-17 03:06] dinever commented on #7558
@amithi-cider Thanks for sharing the workflow! I was able to reproduce this with the latest code. Looks like `LifecycleHook` currently doesn't support `templateRef` at all: https://argoproj.github.io/argo-workflows/fields/#lifecyclehook
I'll make a quick PR to support this and see what others think.

For now, the workaround is to call a local template and then call a workflow template from there,

[2022-01-17 06:32] pradeep-av commented on #6750
Anyone working on this @alexec @PrashantRaj18198 ? our project had a general dependency upgrade and most of the other dependencies need k8s client > 0.22 and this is the only dependency breaking.

[2022-01-17 09:31] alextsakpinis commented on #3973
Hello,
I am using argo with the following version

argo: v3.2.6
BuildDate: 2021-12-17T20:59:31Z
GitCommit: db7d90a1f609685cfda73644155854b06fa5d28b
GitTreeState: clean
GitTag: v3.2.6
GoVersion: go1.16.12
Compiler: gc
Platform: darwin/amd64

When running a workflow on argo, I am still getting the label undefined for the environment variables within the container. Why is that still happening? I thou

[2022-01-17 09:41] nielstenboom commented on #7311
Hi @jfb74. We've managed by rolling back to a version where this functionality has not been altered yet: `v3.1.8`

[2022-01-17 12:14] treeguard commented on #1326
Where can I get the startedAt time stamp for a workflow, I found that we have workflow.creationTimestamp but there is not workflow.startTimestamp, I also need the feature to log the workflow wait time to Prometheus

[2022-01-17 12:15] treeguard commented on #1326
@tczhao can you help with this case again

[2022-01-17 17:01] seryl commented on #5135
Please consider reopening this; these types of logs should be in debug-only logging.

And also having them result in errors is definitely a surprise; please allow for stdout redirect with some sort of config.

[2022-01-17 18:46] #1427 closed

[2022-01-18 02:26] dinever commented on #7563
Hi @scott-grimes, thanks for reporting this one!

I was able to reproduce this issue on my end. Looks like it's a bug in the workflow controller. Whenever `valueFrom` is given, the workflow controller will only try to set the value from `ConfigMapKeyRef`

https://github.com/argoproj/argo-workflows/blob/dbb1bcfbd4de3295163900509fc624fb7d363b10/workflow/controller/operator.go#L530-L541

I'll open a

[2022-01-18 02:51] isubasinghe commented on #7121
Just a comment just to generate discussion. Feel free to ignore if assumptions are wrong.

Assumptions:
  - This issue is due to etcd having a limit of 1.5mb for key value pairs
  - This is only a etcd related storage problem and not a application level memory problem.
  - **Only guaranteed storage available to argo is etcd**

Pros:
  - Practically unlimited size of workflows can be stored
  - No

[2022-01-18 03:17] isubasinghe commented on #7121
I have done the above process for processing JSON into key value pairs in Rust. That codebase is not open source however I would be happy to share the key value deconstruction part if that helps.

[2022-01-18 07:36] purin0604 opened #7574 "Estimated duration for the repeated workflows is not available"
## Summary

What happened/what you expected to happen?
- I would like to access the estimated duration from workflow progress info. However, even if I have tried to submit the same workflow templates several times on the same day,  Argo doesn't provide the estimated duration.

What version of Argo Workflows are you running?
- argo: v3.2.6

## Diagnostics

Either a workflow that reproduces the bug,

[2022-01-18 08:58] heyleke commented on #6739
I'm planning on supplying a patch to expose nodename as output, just need some time to see how to add test, might be asking for some mentoring for that

[2022-01-18 08:58] #6739 closed

[2022-01-18 13:18] OmerNinburg-RecoLabs opened #7575 "WorkflowArchive support rotating DB passwords"
# Summary

For security reasons we have a rotating DB password - this means our DB password changes every day.
In the source code, I could see the WorkflowArchive in initiated with a password on the server initialization.
This means, we need to restart the service on every password change.
A better solution would involve having the Argo WorkflowArchive retrieve the db password secret before the us

[2022-01-18 13:18] #7563 closed

[2022-01-18 15:20] crenshaw-dev opened #7576 "Confusingly, `when` _kind of_ supports expr expressions"
## Summary

My workflow worked. I expected it to not work. I used the following when expression:

[code]
I expected to get an error like this: `Failed to submit workflow: templates.top when expression doesn't support 'expr' format '{{='. 'When' expression is only support govaluate format {{ `.

But instead, the workflow ran! However, if I introduce a typo to the expression:

[code]

I get the abov

[2022-01-18 16:50] #7406 closed

[2022-01-18 16:50] sarabala1979 commented on #7576
Currently When doesn't support `expr` format.

[2022-01-18 16:54] crenshaw-dev commented on #7576
But it does a little bit. If I write an expression tag template which 1) executes successfully and 2) produces a valid govaluate expression, then the `when` will execute successfully. For example, I could do `when: "{{='1 == 1'}}"`.

[2022-01-18 17:05] crenshaw-dev commented on #7576
This means I can write any expr template which evaluates to `true` or `false`, and it will act as a valid `when` expression.

For example, `when: "{{=jsonpath(inputs.parameters.json, '$.pull_request.head.ref') == 'master'}}"` should work fine.

[2022-01-18 19:25] #7307 closed

[2022-01-18 19:29] alexec commented on #7574
I believe this is as expected. To determine the estimated duration, there must be a workflow to base that on. That workflow is choose as the most recent cron workflow or workflow template used to submit the workflow. Your sample workflow does not use either of those mechanisms, so will not get estimated duration.

[2022-01-18 19:29] #7574 closed

[2022-01-18 19:31] alexec commented on #7539
The workflow is invalid because your version does not support the "expression" field. Can you please retry with the latest version?

[2022-01-18 23:24] sarabala1979 commented on #7576
@crenshaw-dev go-evaluate template format is {{  condition }} Eg.: {{1==1}}

[2022-01-19 00:12] #6053 closed

[2022-01-19 00:39] crenshaw-dev commented on #7576
Kind of, but not precisely. If you used exactly that `when` value, you'd get this error:

[code]

``{{}}` designates a variable substitution. The _output_ of that substitution is what actually gets evaluated by govaluate. That's why I can get away with using `{{=}}` expressions as a `when` condition. The _output_ of that expression is a valid govaluate expression.

[2022-01-19 03:42] danbopes opened #7580 "Better error handling for workflows which already exist"
# Summary
Running the following command in my cluster (Using the default example template lovely-octopus), I get a `code = Unknown desc = The POST operation against Workflow.argoproj.io could not be completed at this time, please try again.`

This is because the workflow already exists, and I'm forcing the name using `--name specificname`. Instead of an unknown error, it would be prudent to return

[2022-01-19 04:41] samene opened #7581 "argo CLI list command results not predictable with -o name flag"
## Summary

Using argo CLI I want keep the latest 20 workflows and delete the rest. This runs in a cron job (not argo cron job, normal linux cron)

When I do this
[code]
and when I do it with -o name, I get different result
[code]
As you can see both return a different list.

Is there a way to sort the output of `argo list` in order of creation time? Why ordering is different when `-o name` is use

[2022-01-19 06:10] tczhao commented on #1326
Sorry, that was my bad, seems not supported at the moment, let me reopen this ticket..

[2022-01-19 07:55] evax commented on #7527
We've started running into the same problem after upgrading from 3.1.10 to 3.2.6.

It seems to have been caused by the switch to from debian slim to alpine in #6006:
[code]

[2022-01-19 14:29] prein opened #7585 "Distinct mascot logo"
# Summary

Would you consider adopting distinct mascot logos for different projects?

# Use Cases

We use ArgoCD and Argo Workflows and expose the UIs through a proxy with a custom UI. We show only logos in the UI and as you can imagine it is confusing for the users.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-01-19 15:36] #7372 closed

[2022-01-19 16:05] aachenmax opened #7586 "Workflows with large/long scripts cause argument list too long error on init container"
## Summary
What happened/what you expected to happen?

When executing a workflow which contains a step configured as a script (e.g. Python, bash) with source code exceeding about 100000 characters, the pod cannot be started, with the following error message shown for the Argo init container:

`standard_init_linux.go:228: exec user process caused: argument list too long`

This is due to the fact th

[2022-01-19 16:07] #7458 closed

[2022-01-19 16:12] tomkennes commented on #7527
Running into similar issues here. We are using Argo Workflows to consume events from several webhooks. Sometimes the payload seems to too large for a workflow to be able to start:
`standard_init_linux.go:228: exec user process caused: argument list too long`

[2022-01-19 16:57] hamza3202 opened #7587 "Artifact cannot be fetched from UI when artifact repository is specified using workflow template"
## Summary

If [artifact repository](https://argoproj.github.io/argo-workflows/fields/#artifactrepositoryref) is specified with workflow template then even though artifact is saved in artifact repository, It is not retrievable from the UI.

What happened/what you expected to happen?
When artifact is fetched from UI it looks into the default artifact repository instead of the one configured in work

[2022-01-19 17:04] dimitri-fert opened #7588 "Backoff is applied even when `retryStrategy.limit` has been reached"
## Summary

What happened/what you expected to happen?

When using `retryStrategy.backoff.limit: 2` and all child nodes (0 ; 1 and 2) already failed, I am expecting the parent node to fail immediatly as no more retries are allowed. Instead, after node 2 fails, new backoff is still applied (12mn in my case) and parent node fails later than expected.

![image](https://user-images.githubusercontent.c

[2022-01-19 17:17] alexec commented on #7586
Could you instead install the script as a file using artifacts and run that?

[2022-01-19 17:17] alexec commented on #7518
This looks like a bug in the go-client library. I don't think we can fix it, but restarting the controller is the correct mediation.

[2022-01-19 17:19] #7427 closed

[2022-01-19 17:27] alexec commented on #7399
That is a dev version, can you please try again with latest?

[2022-01-19 17:37] alexec opened #7589 "v3.3"
PRs/features:

- [x] #7439
- [x] #7170
- [x] #7256
- [x] #7582

Daemon step bugs:

- [x] #7408
- [x] #7388
- [x] #6379
- [x] #7095

Other bugs:

- [x] #7531
- [x] #7587
- [x] #7214
- [x] #7632
- [x] #7635
- [x] #7595

Tests:

- [x] #7685

Docs:

- [x] #7610
- [x] #7683
- [x] #7684
- [x] #7686
- [x] #7638
- [x] #7604
- [x] #7639

Chores:

- [x] #7599
- [x] #7600
- [ ] Why are we making so many `Get

[2022-01-19 17:47] alexec commented on #7589
@sarabala1979 @terrytangyuan what do you think? What's missing? What should be removed/de-prioritized?

[2022-01-19 18:09] alexgille opened #7590 "Double-click on the final "Submit" button runs the workflow twice"
## Summary

**What happened/what you expected to happen?**

From the "Submit workflow" panel, in the "Workflow Templates" view, I double-clicked on the "Submit" button and it ran two separate workflows at the same time.

I'd have expected the first click to disable the button to prevent any dual run as it may be really dangerous for critical applications.

**What version of Argo Workflows are you

[2022-01-19 18:25] alexec commented on #7587
Duplicates #7531

[2022-01-19 18:26] alexec commented on #7531
Can you please confirm if this is only for workflows triggered from templates? Or does it affect workflows where this is in the spec?

[2022-01-19 18:38] liuzqt commented on #7476
Hi @terrytangyuan do we have plans to include this fix in the coming release?

[2022-01-19 18:42] aachenmax commented on #7586
Hi Alex, I guess you mean like in this example here: https://github.com/argoproj/argo-workflows/blob/master/examples/input-artifact-s3.yaml ?
That would work for sure. The other alternative (to keep it more k8s native) I thought of is to offload the script into a ConfigMap which can then be mounted as a volume and run from there.  Both solutions however hide the actual source script from the workf

[2022-01-19 18:47] khyer opened #7592 "SSO Bearer Token Formatting"
## Summary

What happened/what you expected to happen?

I have configured SSO on an upgraded version of Argo Workflow as per the documentation. Everything on the SSO side seems to be working. But after SSO makes the callback, I'm brought back to the login page with error "Failed to load version/info Error: Unauthorized".

The developer console shows that there are escaped quotes in the bearer toke

[2022-01-19 19:25] terrytangyuan commented on #7476
Yes it will be included but no timeline yet

[2022-01-19 19:29] liuzqt commented on #7476
@terrytangyuan  thanks

[2022-01-19 20:56] jfb74 commented on #7311
@nielstenboom Appreciate the input, we will have to do the same. I am surprised this wasn't a larger breaking change for more people, but perhaps you and I were the only ones who used this functionality in this way. I definitely could imagine a UI enhancement could be put in place where to clearly display which parameter was a workflow level parameter and which was a parameter local to the templat

[2022-01-19 23:10] jwjs36987 opened #7593 "Non-standard git username"
When working with AWS CodeCommit a non-standard username is required, which is generated by AWS. In theory this is supported but I believe there is a bug.

Currently the artifact path is passed into the function that extracts the username (this is a value like `/tmp/artifact`) rather than the Git repo url (e.g. `ssh://user@host/path/to/repo`) which means it is impossible to actually change the use

[2022-01-20 01:14] treeguard commented on #1326
Thanks @tczhao , really appreciate it!

[2022-01-20 04:28] dinever commented on #7581
Looks like this issue exists in the latest version.

`sort.Sort(workflows)` will sort the workflows by their `CreationTimestamp` and `FinishedAt`:

https://github.com/argoproj/argo-workflows/blob/f1fe3bee498ac7eb895af6f89a0eba5095410467/pkg/apis/workflow/v1alpha1/workflow_types.go#L130-L145

When we list workflows with `-o name`, these timestamps won't be selected by the field selector, so the wor

[2022-01-20 04:48] #7558 closed

[2022-01-20 05:16] Sphinxgaia commented on #7285
I can give a try if no one is on

[2022-01-20 07:34] liuzqt opened #7595 "v3.2.6 Argo UI failed to render pod log"
## Summary

What happened/what you expected to happen?
![image-2022-01-19-22-04-27-808](https://user-images.githubusercontent.com/22358241/150293409-289c985f-0e23-4740-b07f-1c6e57da7268.png)

What version of Argo Workflows are you running?
3.2.6 (we just upgrade it from 3.2.3 today, so I guess this issue might be introduced between 3.2.3 and 3.2.6. We'll try to roll back to 3.2.3 and see if this i

[2022-01-20 09:01] aschleck opened #7596 "Support client.authentication.k8s.io/v1"
## Summary

Mirroring https://github.com/argoproj/argo-rollouts/issues/1741, `argo` cli 3.2.6 doesn't support kubeconfig auth token plugins using version `client.authentication.k8s.io/v1`

**What happened/what you expected to happen?**
[code]

when my plugin outputs
[code]

I expected this to work fine.

**What version of Argo Workflows are you running?**
3.2.6

## Diagnostics

Have a kubeconfig t

[2022-01-20 11:39] tomkennes commented on #7527
@gandeevan, @evax , we just managed to come up with a solution. Maybe this would work for you as well.

You should enable archival of workflows. Basically you then write all workflows to a database for later retrieval: https://jira-eu-aholddelhaize.atlassian.net/browse/ENBL-8579. This feature creates a couple of tables in a SQL-database including the table argo_archived_workflows, which contains t

[2022-01-20 13:07] tooptoop4 opened #7597 "intermittent errors at scale?"
Each workflow takes around 40seconds, i had limit to run 100 workflows in parallel, and was constantly filling up the different workflows to run over few hours so 1000s of workflows ran in total (with constant load of 100 at a time). Various errors below affected less than 1% of the workflows run, is there some settings to avoid these or some retries missing on argo server?

Issue 1:
**pod deleted

[2022-01-20 14:32] terrytangyuan commented on #7589
These are only additional items on top of master branch that we want to get in before the v3.3 release, right?

[2022-01-20 14:59] terrytangyuan commented on #7596
Would you like to submit a PR for this?

[2022-01-20 15:32] alexec commented on #7589
Yes. Specifically before v3.3.0-rc1.

[2022-01-20 15:34] #7581 closed

[2022-01-20 15:42] alexec opened #7599 "v3.3 security scan"

[2022-01-20 15:42] alexec opened #7600 "v3.3 stress test"

[2022-01-20 15:43] alexec commented on #7599
Current scans failing:

https://github.com/argoproj/argo-workflows/actions/runs/1721353022

[2022-01-20 15:51] terrytangyuan commented on #7589
Sure. On it.

[2022-01-20 16:16] alexec commented on #7596
What version of Kubernetes are you using? If you are using an older version, you may also need to use an older version of workflows.

[2022-01-20 16:18] alexec commented on #7595
Most likely introduced by this commit:

f5f6899f5 fix: Add pod name format annotation. Fixes #6962 and #6989 (#6982)

@JPZ13 would you be able to look into this please?

[2022-01-20 16:19] aschleck commented on #7596
Happy to submit a PR but wasn't quite sure how to generate the changes. Is it mostly running `go get -u ./...` and praying? In the argo-rollouts PR there were a bunch of other changes so it made me nervous.

Re client version, I think my kubectl should be okay:
[code]

[2022-01-20 16:21] alexec commented on #7590
This has been fixed and I expect to see it in v3.3:

https://github.com/argoproj/argo-workflows/commit/3e727fa3878adf4133bde56a5fd18e3c50249279

[2022-01-20 16:23] terrytangyuan commented on #7589
@alexec SDK related:

1. Could you take a look at https://github.com/argoproj/argo-workflows/discussions/7526 to make sure the Java SDK is usable by public users and document any missing steps if any?
2. Could you check if `PYPI_API_TOKEN` is available as a secret in the repo? We'll be using it to auto-release the Python SDK for the first time (fingers crossed).

[2022-01-20 16:25] terrytangyuan commented on #7548
@yaronmat Could you comment on how you are using the SDK and which SDK are you using? This repo will be only tracking issues related to https://github.com/argoproj/argo-workflows/tree/master/sdks/python.

[2022-01-20 16:26] terrytangyuan commented on #7374
@flaviuvadan Anything else we need to/can address here before the v3.3 release?

[2022-01-20 16:46] alexec commented on #7589
I have commented. Nothing special AFAIK.

Yes:
![image](https://user-images.githubusercontent.com/1142830/150383659-6c9923db-0b61-4bd6-a4ed-76ebd399cabb.png)

[2022-01-20 16:52] flaviuvadan commented on #7374
I think we need the custom object we discussed for passing to `with_items`.

[2022-01-20 16:52] jwjs36987 commented on #7593
Of course.

I am trying to use a configuration like:

[code]

I am expecting Argo to run the equivalent of `git clone ssh://APLONGUSERNAME@git-codecommit.us-east-1.amazonaws.com` with the appropriate private key, however, I believe it ends up running `git clone ssh://git@git-codecommit.us-east-1.amazonaws.com`. I couldn't find any appropriate logging to turn on to confirm this suspicion.

I believ

[2022-01-20 16:56] aschleck commented on #7596
[code]

Trying `make codegen`:

[code]

Hm

[2022-01-20 17:09] sarabala1979 commented on #7588
@dimitri-fert are you submitting clustertemplate directly or referring templateRef in workflow?

[2022-01-20 17:18] JPZ13 commented on #7595
On it

[2022-01-20 17:40] khyer commented on #7592
We are using PingFederate. But the bearer token in the authorization cookie doesn't seem to be from our SSO provider, but rather from argo-server itself.

Screenshot of the cookies in my browser (Note that the authorization cookie is issued from argo server):

![image](https://user-images.githubusercontent.com/9206546/150389626-f741e8e9-535b-4df6-a4c8-eb0e1c3380bd.png)

From the argo-server logs (

[2022-01-20 17:47] alexec opened #7604 "v3.3 Blog post"
https://blog.argoproj.io/whats-new-in-argo-workflows-v3-3-dd051d2f1c7

[2022-01-20 17:50] JPZ13 commented on #7595
@liuzqt Can you share what the pod names are in kubernetes for this workflow that are resulting in the error on the UI? I'm working on a fix and need to make sure there's a 1:1 match between the pod names as they appear in k8s and what our UI pod name function returns

Thanks for reporting the issue!

[2022-01-20 18:04] liuzqt commented on #7595
@JPZ13  the Pod UI is not working, I tried to find their information from the json meta, hopefully this can help:
[code]

[code]

[2022-01-20 18:11] JPZ13 commented on #7595
That is super helpful @liuzqt. Thank you for the extra info. I'll tag you on the PR for the fix once it's ready

[2022-01-20 18:33] khyer commented on #7592
Ah, the issue was staring me in the face in that screenshot. I spun up a local instance and even with the dex example login, it also has escaped quotes in the authorization cookie value, but it still works. So argo-server doesn't care that there's quotes.

It looks like our SSO provider is setting its own session 'authorization' cookie at the top-level domain. It seems that argo-server (which is h

[2022-01-20 19:25] liuzqt commented on #7595
@JPZ13  sorry actually I'm just an Argo user in our company and I have to ask our Argo team to help verify this fix later. I'll update once I get feedback from them.

[2022-01-20 19:29] JPZ13 commented on #7595
Sounds good. Thank you @liuzqt

[2022-01-20 20:34] tooptoop4 commented on #7597
I am on latest version, the RBAC is there. This was using pns executor, will try emissary.

[2022-01-20 21:01] jmeridth opened #7606 "Workflow missing volume in spec when generated from workflow template that has volume defined"
## Summary

Relates to https://github.com/argoproj/argo-workflows/issues/3156#issuecomment-790915195

Generate workflow from workflow template that has a volume & volume mount defined.  The workflow has the volume mount but not the volume.

Expected:
Workflow succeeds because volume in workflow spec

Actual:
Error: `task 'webhook-f4hmg[0].template1-step.step1' errored: volume 'blah-blah-blah' not

[2022-01-20 21:03] jmeridth commented on #7606
Determined this was an argo-workflows situation from the issue mentioned above and also after working through our problem in [this argo-events issue](https://github.com/argoproj/argo-events/issues/1542) (same issue but thought it might be argo-events and is not) with @whynowy.

[2022-01-20 21:05] jmeridth commented on #3156
@cscetbon did you ever find a workaround for this?  We are having the same exact issue you are.  Filed new issue describing, link above.

[2022-01-20 21:28] jmeridth commented on #7606
Is `templateDefault` the only current solution like mentioned [here](https://github.com/argoproj/argo-workflows/issues/3156#issuecomment-923434425)?

[2022-01-21 00:57] terrytangyuan commented on #7595
@JPZ13 I am in touch of @liuzqt’s team. Let me know if there’s any other information you need.

[2022-01-21 11:55] eferos93 opened #7608 "Failed to resolve global parameters in WorkflowTemplate"
## Summary

What happened/what you expected to happen?
I am building a `WorkflowTemplate` in order then to produce a test and a production `Workflow` that use the same template but with different parameters. This is work is for my master thesis, therefore I am not an expert with Argo.
When I try to create the below `WorkflowTemplate` I receive the following error:
[code]
According to the [document

[2022-01-21 12:58] dimitri-fert commented on #7588
@sarabala1979 I'm referring templateRef in workflow

[2022-01-21 13:22] pisymbol commented on #7606
This is also causing k8s based executors to barf with the emptyDir() error when trying to use parameterized outputs. It looks like the volume spec isn't being evaluated if defined in templateDefault before the check.

[2022-01-21 16:11] tiwarisanjay commented on #1819
@alexec  I am using argo version v3.2.6 and seems like this bug still exist. All my pvc deletion is stuck in terminating state.

[2022-01-21 16:26] tiwarisanjay commented on #6629
Solution : https://argoproj.github.io/argo-workflows/environment-variables/#:~:text=ARGO_REMOVE_PVC_PROTECTION_FINALIZER

[2022-01-21 16:26] tiwarisanjay commented on #3095
Solution : https://argoproj.github.io/argo-workflows/environment-variables/#:~:text=ARGO_REMOVE_PVC_PROTECTION_FINALIZER

[2022-01-21 17:24] jmeridth commented on #7606
`templateDefault` and `workflowDefault` defined volumes are not being add to the generated workflow spec either for me.  Kind of curious why a generated workflow from a workflow template in the dashboard or argo cli keep the volume in the workflow spec, but if used with `kubectl` == no joy. 🤔

[2022-01-21 17:27] jmeridth commented on #7604
Hosting on medium.com that requires an account is not ideal.  wdyt?

![Screen Shot 2022-01-21 at 11 26 27 AM](https://user-images.githubusercontent.com/35014/150572436-35bc664a-c1ed-4e3d-b6dc-7fd76dd31c53.png)

[2022-01-21 17:28] jmeridth commented on #7604
please ignore previous (deleted) comment.  realized that's the login link to edit the post.  Not for general consumption 😄

[2022-01-21 17:44] #7160 closed

[2022-01-21 17:45] alexec opened #7610 "Update survey privacy text"

[2022-01-21 17:45] alexec commented on #7610
Please provide text!

[2022-01-21 17:50] alexec commented on #7214
@Sh1ftry could you set-up some time again please? https://bit.ly/book-30m-with-argo-team

[2022-01-21 20:12] #7587 closed

[2022-01-21 20:20] alexec opened #7611 "Label pods with template/cron labels"
Today, we label pods with the name of the workflow, but not the name of the workflow's template or cron that it was submitted from. It maybe useful to add these labels, so tools like Kubecost (which cannot lookup the owner) can track changes in the cost of running workflow over time.

[2022-01-21 20:43] cscetbon commented on #3156
@jmeridth I used podSpecPatch instead to ensure everything that is expected is there.

[2022-01-21 21:25] shuker85 opened #7613 "Workflow-Controller panic: can't create an event with namespace 'default' in namespace 'argo''"
## Summary
I've noticed a unexpected restart of the pod

What happened/what you expected to happen?
This is instance managed by ArgoCD instance and currently not being actively used

What version is it broken in?
v3.2.6
What version was it working in?

## Diagnostics

What Kubernetes provider are you using?
GKE on 1.21.5-gke.1802

What executor are you running? Docker/K8SAPI/Kubelet/PNS/Emissary

[2022-01-22 00:08] sarabala1979 commented on #7613
@shuker85 how do you install argo workflow?

[2022-01-22 00:09] sarabala1979 commented on #7613
https://github.com/kubernetes-sigs/kind/issues/717

[2022-01-22 05:41] #5201 closed

[2022-01-22 07:26] shuker85 commented on #7613
Helm chart handled by app-of-apps pattern

[2022-01-22 09:41] tooptoop4 commented on #7608
maybe related to https://github.com/argoproj/argo-workflows/discussions/7584

[2022-01-23 00:53] dinever opened #7615 "Strange rendering of executor plugin API reference doc"
Looks like the multi-line comments got rendered in multiple table rows, making the API docs unreadable: https://argoproj.github.io/argo-workflows/executor_swagger/

![Screenshot from 2022-01-22 19-46-42](https://user-images.githubusercontent.com/1311594/150660251-f8420802-a43c-4f22-be80-d14e1ceaf6b1.png)

`swagger.yml`:

https://github.com/argoproj/argo-workflows/blob/774bf47ee678ef31d27669f7d309d

[2022-01-23 01:27] xpflying commented on #7593
same problem here.

[2022-01-23 09:20] Colstuwjx opened #7616 "`onExit` handler didn't support access `{{workflow.status}}` at step level"
## Summary

What happened/what you expected to happen?
Argo Should render workflow.status as usual, but it didn't, and I got an error in console: ` Failed: invalid spec: templates.exit-handler templates.exit-handler.steps failed to resolve {{workflow.status}}`.

What version of Argo Workflows are you running?
argo: v3.2.6

## Diagnostics

Either a workflow that reproduces the bug, or paste you who

[2022-01-23 09:20] Colstuwjx commented on #7616
BTW, if I move the `onExit: exit-handler` to the workflow level, it works.

[2022-01-23 18:44] louisnow opened #7617 "Retrying a workflow that uses a DAG template and a loop does not retry the failed task/step."
## Summary

What happened/what you expected to happen?

Retrying a workflow that uses a DAG and a withParam does not retry the failed task/step.

https://user-images.githubusercontent.com/6024271/150692962-9353b9a2-a251-46a4-864b-5ea0ef3e3fb8.mov

A quick fix that seems to work is to set the retry limit to 0 but it causes other issues in the collected output.
[code]
The output that is collected in

[2022-01-23 20:12] uday-mandava opened #7618 "workflowStopped event enhancement"
# Both successful workflows and stopped workflows are generating similar kind of events with 'reason' as 'WorkflowSucceeded'. There is no way to differentiate successful vs stopped events to trigger different down streams based on the status.

What change needs making?
Would like to see reason as 'workflowStopped' for stopped workflows.

# Use Cases
We are using [Argo events](https://argoproj.gith

[2022-01-23 21:33] terrytangyuan commented on #7616
Duplicate/related https://github.com/argoproj/argo-workflows/issues/7366

[2022-01-24 08:49] joyciep commented on #7589
Can this be also added to the 3.3 release? #6970

[2022-01-24 12:31] tomkennes opened #7620 "Semaphore Locked Workflows are shown as Running"
Perhaps this is more a feature request than a bug. Anyhow, curious to hear your thoughts!

## Summary
Argo Workflows show workflows that are waiting on a semaphore lock as having status "Running", whereas they are technically pending. Not only does this thus falsely report the status of the workflows, it also makes it harder to measure the efficiency of workflows as a potential delay due to lockin

[2022-01-24 15:50] #1451 closed

[2022-01-24 15:50] #7054 closed

[2022-01-24 15:58] alexec commented on #7593
This code was introduced in "fix: parse username from git url when using SSH key auth (#5156)".

[2022-01-24 15:59] alexec commented on #7593
@chtcvl  I'm not sure if you code works on not. I think line 115 should probably be:

[code]

Thoughts?

@jwjs36987 @xpflying if @chtcvl does not respond, would you like to submit a PR?

[2022-01-24 16:04] alexec commented on #7531
Please can you test :latest.

[2022-01-24 16:04] #7531 closed

[2022-01-24 16:08] alexec commented on #7615
This must be a bug when running `env SWAGGER_GENERATE_EXTENSION=false swagger generate markdown -f swagger.yml --output ../../../docs/executor_swagger.md`

[2022-01-24 16:11] alexec commented on #7618
Can you please clarify what you mean by "workflow stopped"? Do you mean you ran "argo stop my-wf"?

[2022-01-24 16:31] alexec opened #7622 "v3.3 lightening demos 16th Feb 2022"
Give lightening demos at next (Feb) community meeting:

* Under 3m long
* State the customer problem (1 slide)
* Demo the solution

Demos

* Plugins @alexec
* Hooks @sarabala1979
* Pod names v2 @JPZ13
* Debug pause @NikeNano
* SSO/RBAC @basanthjenuhb

[2022-01-24 16:31] alexec commented on #7589
@sarabala1979 once we merge hooks, I think we can then rc-1.

[2022-01-24 16:35] alexec commented on #7622
@sarabala1979 @JPZ13 @NikeNano @basanthjenuhb can you please let me know if you could do a lightening demo at the Feb community meeting?

[2022-01-24 16:55] domderen opened #7623 "Should scaling docs be updated?"
# Summary

Hey, I was reading the [scaling](https://argoproj.github.io/argo-workflows/scaling/) documentation for Argo-Workflows, which says that workflow-controller can only scale vertically, not horizontally. Then I checked the code of the `workflow-controller` and [here](https://github.com/argoproj/argo-workflows/blob/774bf47ee678ef31d27669f7d309dee1dd84340c/workflow/controller/controller.go#L2

[2022-01-24 17:33] hblixt commented on #7610
As Argo is a LF/CNCF project, we are bound by their privacy policy, so providing the link should cover the legal requirement here.

https://www.linuxfoundation.org/privacy-policy/

[2022-01-24 17:54] barektui opened #7624 "Dedicated dex for argo-workflows in argocd-style"
# Summary
Make argo-workflows sso independent from argocd dex

What change needs making?
Parhaps argo-workflows should have it's own deployment of dex since one may want to run both argocd and workflows on different clusters.

# Use Cases

Running smaller infra you will likely don't have dedicated cluster for your tools. Argocd on production cluster and argo-workflows on development cluster can be

[2022-01-24 18:19] #7610 closed

[2022-01-24 19:12] uday-mandava commented on #7618
Yes, but through the API call /api/v1/workflows/{namespace}/{my-wf}/stop

[2022-01-24 19:24] mrsiesta commented on #4991
Just FYI, the solution for us was to ensure we were specifying both SSO and Client with the server configuration:
https://github.com/argoproj/argo-workflows/issues/7490

Hopefully this helps someone else :)

[2022-01-24 19:43] JPZ13 commented on #7622
@alexec Happy to talk about pod names v2 if you'd like. I did a very quick lightning demo in the last community meeting, but happy to spend some more time chatting about it. Additionally, I can ping @isubasinghe to see if he's ready to give a lightning demo on common workflow language support if you have another slot to fill. Let me know

[2022-01-24 22:51] alexec commented on #7622
FYI. My hope was to get a few v3.3 demos together in a single video.

[2022-01-24 22:58] JPZ13 commented on #7622
Got it. Happy to give the pod names demo

[2022-01-25 05:14] ogibayashi opened #7627 "Allow string for "groups" in OIDC claims"
# Summary

Currently Argo Workflows only accepts array of strings for `groups` field from OIDC provider. https://github.com/argoproj/argo-workflows/blob/95cd467c7e75c38548bf42a5f3c940ac61568e4b/server/auth/types/claims.go#L13

So, the OIDC provider need to provide groups like this:
[code]

But I'd like Argo Workflows accept string value as well.

[code]

# Use Cases

Our OIDC provider returns stri

[2022-01-25 05:57] sarabala1979 commented on #7620
@tomkennes can you provide more details like workflow  level semaphore or template level?

[2022-01-25 06:04] sarabala1979 commented on #7616
@Colstuwjx I think  {{workflow.status}}  is only available in workflow level exit handlers. Step or Dag level exit handle has step or task status variables.

[2022-01-25 10:09] isubasinghe commented on #7618
I was not able to replicate this issue. I get "workflow shutdown with strategy: Stop".
This corresponds to https://github.com/argoproj/argo-workflows/blob/95cd467c7e75c38548bf42a5f3c940ac61568e4b/workflow/controller/workflowpod.go#L145

[2022-01-25 10:36] basanthjenuhb commented on #7622
Sure

[2022-01-25 11:32] treeguard commented on #1326
@tczhao May I ask if there are any updates on this?

[2022-01-25 12:56] jmclean-starburst opened #7632 "Quickstart: transport: authentication handshake failed"
## Summary

What happened/what you expected to happen?
When connecting to the UI of Argo Workflows (after port forwarding), I receive this message and virtually no components load:
[code]

What version of Argo Workflows are you running?
latest (ie 3.2.6)

## Diagnostics
Quickstart Guide - follow steps in guide to reproduce

What Kubernetes provider are you using?
EKS/Minikube

Configuration:
[code

[2022-01-25 13:09] danmx commented on #7531
@alexec it seems it's fixed in `latest` image

[2022-01-25 13:24] materkey commented on #7632
I also have this issue

[2022-01-25 13:44] materkey commented on #7632
argo-server seems to respond with 503 but can't see it in argo-server pod logs even with -v flag

[2022-01-25 13:58] materkey commented on #7632
I've ended up by using `--secure=false`as a workaround. Also deleted `nginx.ingress.kubernetes.io/backend-protocol: https`

[2022-01-25 14:00] lstolcman opened #7633 "Cannot terminate nested parallelism workflow with synchronization semaphore"
## Summary

When I terminate a workflow with nested parallelism and configmap to limit number of parallel jobs, some of the jobs are stuck and does not get terminated, and are waiting for configmap lock variable (lock variable seem to be not released, see screenshots).
I used [examples/parallelism-nested.yaml](https://github.com/argoproj/argo-workflows/blob/95cd467c7e75c38548bf42a5f3c940ac61568e4b

[2022-01-25 14:10] jmclean-starburst commented on #7632
@materkey I have done this in the past...its just kind of annoying to update the readiness probe, add a new flag to server start, update ingress; This definitely needs to be resolve by the Argo team bc any new user of workflows is going to be put off by these errors. I have used the quickstart it he past without any issues...so this seems a bit wonky.

[2022-01-25 14:41] jmclean-starburst commented on #7632
I believe I found the issue; the argo CLI is using `latest` for the image tag, instead of specifying the version tag (ie `v3.2.6`). I have tested this w/ v3.1.15 and after changing the image tag, it works. I will now validate same for version 3.2.6

[2022-01-25 14:49] jmclean-starburst commented on #7632
I was able to fix this by patching the image off of `latest`
[code]

[2022-01-25 16:44] alexec commented on #7632
Please, you must use the manifests attached to the release:

[code]

[2022-01-25 16:45] #7592 closed

[2022-01-25 16:50] jmclean-starburst commented on #7632
@alexec I believe the quickstart guide is broken then, as the `latest` tag on argocli will spawn the issue mentioned by this bug

[2022-01-25 17:06] denis-codefresh opened #7635 "Workflow can't be terminated because of the containerSet template that was referenced in the DAG task"
## Summary

The problem occurs when running workflow with DAG task that is referencing `containerSet` template.

If you will try to terminate the workflow at the moment when DAG nodes have been initialized (in `Pending`) but not started yet, then the workflow will stuck at the running phase.

I pressed "Terminate" button when nodes `step-1` and `step-2` were created and the result displayed below:

[2022-01-25 17:07] alexec opened #7636 "Index out of range · artifacts.(*ArtifactServer).GetOutputArtifact"
https://oss-fuzz.com/testcase-detail/5254033034575872

[code]

[2022-01-25 17:48] alexec commented on #7627
What provider does this please?

[2022-01-25 17:51] alexec commented on #7623
The doc is correct - the controller cannot be scaled horizontally - without risk of data corruption. Leader election is used to ensure that only one controller actually operates on workflows. You should expect the leader to use more resources. Leader election is used as a high-available measure, ensuring that is the current leader is terminated for any reason, e.g. zone outage, they another leader

[2022-01-25 17:51] #7623 closed

[2022-01-25 17:53] alexec commented on #7635
Could you please attach the workflow controller logs?
Could you please confirm if the issue persists if you replace the containerSet with container?

[2022-01-25 18:15] jessesuen opened #7637 "survey link should be a permalink"
# Summary

What change needs making?

The current workflow survey link is a specific google forms link, but this precludes us from switching from google forms or using a different google forms URL. We should use a permalink (e.g. bit.ly) so that we have the freedom of changing the link without pushing a release.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍.

[2022-01-25 18:19] alexec opened #7638 "v3.3 update docs, esp. emissary docs"

[2022-01-25 18:19] alexec opened #7639 "Update new-version-modal.tsx with v3.3 content"

[2022-01-25 18:25] terrytangyuan commented on #7638
Additional item worth checking while updating the executor docs: make sure all examples specify container command explicitly since the default is emissary now.

[2022-01-25 22:04] alexec commented on #7617
I'll look into this.

[2022-01-25 23:15] alexec commented on #7632
I now think this might be bug.

[2022-01-25 23:16] alexec commented on #7632
Maybe caused by:

72356abad fix: Allow self-signed Root CA for SSO. Fixes #6793 (#6961)

[2022-01-25 23:21] #7638 closed

[2022-01-25 23:23] alexec commented on #7632
Maybe

3614db690 feat: adding support for getting tls certificates from kubernetes secret (e.g. (#7621)

[2022-01-25 23:24] alexec commented on #7632
@ChaosInTheCRD do you think your commit could have introduced this bug please?

[2022-01-26 01:18] andyshieh opened #7646 "PODNAMES as shown from argocli does not match with actual generated pod names"
## Summary

The Argo CLI's watch command should display the Argo generated pod names correctly, which in the new versions that use ```POD_NAMES=v2``` have the format of ```[defined prefix]-[task template name]-[random number string]```

However currently the Argo CLI show pod names as ```[defined prefix]-[random number string]```, missing the task template name component.

Example:
I have a workfl

[2022-01-26 01:39] tachyus-ryan commented on #7632
I ran into this error after updating one of my clusters from GKE 1.19 to 1.20. I cannot seem to connect to argo-server since restarting deployments, no matter what I try.

[2022-01-26 05:42] ogibayashi commented on #7627
Hi. We are using PingFederate.

[2022-01-26 06:15] Sh1ftry commented on #7214
Unfortunately, the times in https://bit.ly/book-30m-with-argo-team don't really go well with my schedule, so I would like to avoid it. Furthermore, I think it is beneficial to discuss everything here in case someone is following the issue.

That being said, is there anything missing in https://github.com/argoproj/argo-workflows/issues/7214#issuecomment-977051022 for you to reproduce and test the i

[2022-01-26 09:28] NikeNano commented on #7622
Would be happy to do that!

[2022-01-26 10:16] denis-codefresh commented on #7635
@alexec

[container-set-termination-failure-logs.txt](https://github.com/argoproj/argo-workflows/files/7940796/container-set-termination-failure.txt)

I can't reproduce the same issue with `container`.

[2022-01-26 15:20] JPZ13 commented on #7646
Thanks @andyshieh! Will have a look at this today

[2022-01-26 15:21] tachyus-ryan commented on #7632
This worked for me, too.

[2022-01-26 15:30] alexec commented on #7627
Do you have any docs on how their groups work please?

[2022-01-26 15:32] #7593 closed

[2022-01-26 16:13] 0xSQL commented on #7632
This did it for me. I was using the quick start manifest instead of the release specific. That will have to be updated.

[2022-01-26 16:25] evax commented on #7214
@Sh1ftry and @alexec we've been experiencing something similar and could track it down to `argoproj/argoexec` using the `latest` tag instead of the release version.

We deploy argo-workflows with argo-cd and kustomize, and we initially had an entry in the `images` section in the kustomization file targeting argoexec, but given how the image is [passed as an argument](https://github.com/argoproj/ar

[2022-01-26 16:51] andrein commented on #7632
For kustomize users, it's much easier to reference the remote base from git. We tried to do this for the 3.2.6 tag and experienced the same issue.

We've been doing the same with argo-cd for a while without issues.

It look like they're overriding the images with the correct version when the git tag is created:
- https://github.com/argoproj/argo-cd/blob/v2.2.3/hack/update-manifests.sh
- https://gi

[2022-01-26 17:37] #7636 closed

[2022-01-26 17:42] alexec commented on #7637
@jessesuen could you help, rather than bit.ly, could we use something like https://argoproj.github.io/community/workflow-survey

Could @alexmt help?

[2022-01-26 17:47] ChaosInTheCRD commented on #7632
@alexec it seems that yes, the problem has come from my PR, apologies for that. My suspicion is that it is related to the removal of [this line](https://github.com/argoproj/argo-workflows/pull/7621/files#diff-be34a0a09190a73bc32281a1fcbaf87126b3d61dd315f34c48cd3d8e044876a5L119), which I overlooked as I guess some process (I guess the UI) can't trust the self signed cert generated. I will investiga

[2022-01-26 17:58] alexec commented on #7632
This issues is a blocker or v3.3, which we'd hoped to release this week. If you don't have time to look into this, I suggest we revert the commit.

[2022-01-26 18:02] tachyus-ryan commented on #7632
I found that I could not submit workflows to the API, so this does not appear to be a UI-only issue. Ensuring `latest` was not used was the means of resolving the error for me.

[2022-01-26 19:34] alexec commented on #7617
e58859d795

[2022-01-26 20:05] alexec commented on #7617
![Screenshot 2022-01-26 at 11 44 00](https://user-images.githubusercontent.com/1142830/151238421-d6ba91cb-64c5-45fd-b90a-ee0e1242624c.png)

[2022-01-26 21:23] alexec commented on #7635
* You do not need the DAG, but it shows the problem clear.
* If you want for the containers to start, then the workflows terminates correctly. It is only when it is in pending that this is a problem.

[2022-01-26 21:25] #7632 closed

[2022-01-26 21:29] alexec commented on #7613
Leader election is confused somehow, thinking it is is the wrong namespace.

Are you using managed namespace feature where controller is in different namespace to workflows?

[2022-01-26 21:55] alexec commented on #7635
@daniel-codefresh I think this is where the fix needs to be:
[code]

Would you like to submit a PR with tests?

[2022-01-27 04:24] blkperl commented on #7403
I'm going to close this while they determine new maintainers upstream.  I will reopen if it looks like we need to take action in argo-workflows.

[2022-01-27 04:24] #7403 closed

[2022-01-27 04:25] blkperl commented on #7400
I'm going to close this until upstream k8s makes a decision.

[2022-01-27 04:25] #7400 closed

[2022-01-27 04:27] blkperl commented on #4177
We worked around this by setting the status on the k8s update to "Syncing" and ensuring our controller waited for dependent resources to sync before changing to Synced.

[2022-01-27 04:27] #4177 closed

[2022-01-27 05:57] sarabala1979 commented on #7633
@lstolcman can you try the  `stop` functionality to  see that is helping?

[2022-01-27 07:11] sarabala1979 commented on #7633
@lstolcman I  am able to reproduce it.  I think lock is not getting  released if workflow is  terminated  or stopped. Do  you  like to  submit the PR?  I will guide you  to  fix  it

[2022-01-27 08:28] denis-codefresh commented on #7635
@alexec yeah, thanks for the tip. I will try it and submit a PR if it solves the issue

[2022-01-27 09:24] qingfeng777 opened #7661 "v3.2.6: leadship election panics and crashes controller"
## Summary

What happened/what you expected to happen?

workflow-controller panic and restart:

`
NAME                                  READY   STATUS    RESTARTS   AGE

workflow-controller-f7b85c9cd-lmn49   1/1     Running   12         23d
`

What version of Argo Workflows are you running?
v3.2.6

## Diagnostics

What Kubernetes provider are you using?

Amazon EKS
Server Version: version.Info{Maj

[2022-01-27 09:46] qingfeng777 opened #7662 "workflow message become 'runtime error: invalid memory address or nil pointer dereference'"
## Summary

What happened/what you expected to happen?
some of workflows's  message become 'runtime error: invalid memory address or nil pointer dereference'.
i don't know how to reproduce it .

`
Name:                b9114cdb-872b-4599-81d6-77f116f281af
Namespace:           default
ServiceAccount:      default
Status:              Error
Message:             runtime error: invalid memory address o

[2022-01-27 09:59] qingfeng777 commented on #7662
i checked the code, only one place maybe change wf's Phase and Message. at the /workflow/controller/operator.go  ：
https://github.com/argoproj/argo-workflows/blob/master/workflow/controller/operator.go#L2002
so,i think the bug is in this func, https://github.com/argoproj/argo-workflows/blob/master/workflow/controller/operator.go#L3316:

`func (woc *wfOperationCtx) deletePDBResource(ctx context.Con

[2022-01-27 10:49] vatine commented on #5173
I read "If you split templates into separate files it will work what you expect like lint and create each resource" as "lint one file, if OK, push it to the cluster".

This would be inconvenient with a VCS-based flow that want to ensure that workflows (and WorkflowTemplates) are well-formed at the PR stage. I suspect it would require loading all referenced files before the linting starts, and use

[2022-01-27 10:58] jackivanov commented on #7275
@sarabala1979 then what should it be referring to?

[2022-01-27 13:53] lstolcman commented on #7633
@sarabala1979 I managed to configure and run argo workflows on my local machine, and reproduced my bug from provided workflow. Into which specific code part I should look into?

[2022-01-27 15:13] sarabala1979 commented on #7662
Can you provide the reproducible sample workflow?
Have you enable the PDB on your workflow?

Sent from my iPhone

[2022-01-27 15:28] #7617 closed

[2022-01-27 16:58] alexec commented on #7388
}
4d12bbfee fix(conttroller): Always set finishedAt dote. Fixes #6135 (#6139)
diff --git a/workflow/controller/operator.go b/workflow/controller/operator.go
index 8401b7189..ea3d3fda4 100644
--- a/workflow/controller/operator.go
+++ b/workflow/controller/operator.go
@@ -1185,14 +1185,7 @@ func (woc *wfOperationCtx) assessNodeStatus(pod *apiv1.Pod, node *wfv1.NodeStatu

        if node.Fulfilled()

[2022-01-27 17:14] fakeburst commented on #4607
@susana-garcia

Greetings!
By any chance, could you tell me whether you've managed to make Admiralty work with argo in terms of workflow termination?

[2022-01-27 17:16] #7414 closed

[2022-01-27 17:18] alexec commented on #7661
Controller crash maybe acceptable. Did controller start-up again and continue processing workflows?

[2022-01-27 17:26] alexec commented on #7095
ca87f2906 fix: Daemon step in running state, but dependents don't start (#7107)

[2022-01-27 17:36] #7646 closed

[2022-01-27 17:38] #7214 closed

[2022-01-27 19:04] lstolcman commented on #7633
Connected with https://github.com/argoproj/argo-workflows/pull/4847

So far I found, that the bug may lie around here: https://github.com/argoproj/argo-workflows/blob/67c278cd1312d695d9925f64f24957c1449219cc/workflow/controller/operator.go#L1734

In the logs I can see that the steps which are terminated emits log "Node %s acquired synchronization lock". Steps which are "stuck" do not.

Maybe the f

[2022-01-27 19:26] alexec commented on #7408
9d3c9809c chore: faster `make start`: no API by default (#7146) ** PASS **
0ee774315 docs: Add link to awesome-argo for more resources (#7166) ** FAIL **

[2022-01-27 19:57] avifried1 commented on #7662
happening to us as well, pretty complex wf so no way for me to produce a distilled sample for reproducibility. But should point out that these workflows also appear to then be stuck on `running` (although they failed) which also affects our concurrency lock, which is not released until we restart the controller.

[2022-01-27 22:36] hadim opened #7671 "Logs from tqdm python progress bar"
## Summary

What happened/what you expected to happen?

**Some of my workflows are displaying progress using the Python [tqdm](https://github.com/tqdm/tqdm/) library. I have tried to play with various settings of the library without success.**

**The progress bar only displays itself at the end of the workload when it's at 100%. Which make it quite useless.**

What version of Argo Workflows are yo

[2022-01-27 22:39] hblixt opened #7672 "Automate SBOM generation"
# Summary

Automate [SBOM](https://www.linuxfoundation.org/blog/what-is-an-sbom/) generation and include it as part of release artifacts.
Copied from Argo CD issue #[8081](https://github.com/argoproj/argo-cd/issues/8081)

# Motivation

SBOM would be useful for end-users and partners to quickly find out which components are used by Argo Workflows and help to identify components that may be subject

[2022-01-27 23:14] dhrsoni19 opened #7673 "Java client Documentation and Examples"
# Summary

Add documentation for java client.
Also location of the source code in documentation would be very helpful

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritize the proposals with the most 👍.

[2022-01-27 23:29] alexec opened #7674 "v3.2.7"
Daemon step bugs:

- [x] #7408
- [x] #7388
- [x] #6379
- [x] #7095

These should be fixed by 67c278cd1

[2022-01-27 23:58] alexec commented on #7095
Should be fixed on `latest` and will be on v3.2.7

[2022-01-27 23:58] #7095 closed

[2022-01-27 23:58] alexec commented on #6379
Should be fixed on `latest` and will be on v3.2.7

[2022-01-27 23:58] alexec commented on #7388
Should be fixed on `latest` and will be on v3.2.7

[2022-01-27 23:58] #7388 closed

[2022-01-27 23:58] alexec commented on #7408
Should be fixed on `latest` and will be on v3.2.7

[2022-01-27 23:58] #7408 closed

[2022-01-27 23:58] #6379 closed

[2022-01-28 02:23] qingfeng777 commented on #7662
i don't know how to reproduce it.
PDB on workflow is disable.

[2022-01-28 02:25] qingfeng777 commented on #7661
yes,it start-up and work again

[2022-01-28 04:01] blkperl commented on #7604
Great blog post @alexec

A few thoughts:

Plugin Templates

* Do plugin templates only support Python? It's not clear in the docs:
  * https://github.com/argoproj/argo-workflows/blob/master/docs/executor_plugins.md
  * https://github.com/argoproj/argo-workflows/blob/master/docs/plugins.md
* Does a plugin failure cause a workflow failure? If so does it support the [continueOn](https://github.com/ar

[2022-01-28 04:20] blkperl commented on #7596
@aschleck `make codegen` expect argo-workflows to be checked out in `$(GOPATH)/src/github.com/argoproj/argo-workflows`. Per this troubleshooting doc: https://github.com/argoproj/argo-workflows/blob/master/docs/running-locally.md

[2022-01-28 05:44] avtar-mindgrep commented on #7417
I am facing this too.

[2022-01-28 07:51] susana-garcia commented on #4607
hi @fakeburst, no, we don't use Admiralty anymore.

[2022-01-28 08:31] #7409 closed

[2022-01-28 14:14] terrytangyuan commented on #7671
This is a common issue with progress bars with K8s logging. I am not sure if there's anything we can do here. As a workaround for your specific issue, you should be able log the progress bar periodically in your Python code though.

[2022-01-28 14:16] pavmohan1 commented on #7417
Closing as we found the underlying cause.

To solve this issue we had to enable egress connections from the `argocd-dex` pod to the Kubernetes API.  Also, the ID in the `staticClients` had to be set to the `client-id` of our SSO provider.

[2022-01-28 14:16] #7417 closed

[2022-01-28 14:18] avtar-mindgrep commented on #7417
@pavmohan1  can you please share the snippet of  your dex config file.

[2022-01-28 16:46] sarabala1979 opened #7682 "Cron workflow is schedule workflow after configured time"
## Summary
We are experiencing some weird behaviour when using forbid concurrency policy, where new workflows are scheduled before the last workflow finishes, and then the new workflow is started immediately after the previous workflow finishes.

We have this CWF:

concurrencyPolicy: Forbid
  schedule: 0-59/5 0-10 * * *

and for example we have this WF, with start/creation time after the scheduled

[2022-01-28 16:59] alexec opened #7683 "Improve plugin templates docs"
* Do plugin templates only support Python? It's not clear in the docs:
  * https://github.com/argoproj/argo-workflows/blob/master/docs/executor_plugins.md
  * https://github.com/argoproj/argo-workflows/blob/master/docs/plugins.md
* Does a plugin failure cause a workflow failure? If so does it support the [continueOn](https://github.com/argoproj/argo-workflows/blob/4e450e250168e6b4d51a126b784e90b11

[2022-01-28 16:59] alexec opened #7684 "Debug pause docs"
* Do we have docs for this feature? I see e2e tests but no docs or example in the example folder.

[2022-01-28 17:00] alexec commented on #7604
I've created issues #7684 and #7684 for the docs.

So we don't need to rush!

[2022-01-28 17:04] alexec commented on #7684
@NikeNano @blkperI thinks it would be good to have some docs for this new feature. It'll help users understand how to use it and help promote uptake it too. Would you like to add them?

It'd be great to get them added before we go GA, roughly end of Feb.

[2022-01-28 17:05] alexec opened #7685 "More lifecycle hook tests"

[2022-01-28 17:05] alexec opened #7686 "Lifecycle hooks docs"

[2022-01-28 17:29] alexec commented on #7618
@isubasinghe @uday-mandava please make sure you do NOT use Kubernetes events for any automation, they are not reliable:

https://blog.argoproj.io/maybe-dont-use-kubernetes-events-for-automation-53951bdfd602

[2022-01-28 18:30] mattskone commented on #7275
OP's steps to reproduce show that the behavior worked as expected in v3.1.13 but _does not work_ in v3.2.4.  I have encountered this identical problem moving from v2.9.3 to v3.2.4, so this seems to be either a bug or deliberate behavior change in v3.2.4.

[2022-01-28 18:31] ado120 opened #7687 "Anytime I try to access pod logs through /artifacts I get a 500 Internal Server Error"
## Summary

What happened/what you expected to happen?

Accessing logs from an individual task is showing a 500 internal server error. Accessing logs from /api is fine
https://argoworkflow.com/api/v1/workflows/argo-workflows/workflow-name/log?logOptions.container=init&grep=&logOptions.follow=true&podName=workflow-1270963702

That url works and I can view logs when I'm hitting that endpoint.

Howev

[2022-01-28 19:34] #7674 closed

[2022-01-28 19:34] alexec commented on #7687
What do argo-server logs say?

[2022-01-28 19:43] alexec opened #7689 "Volumes for plugin template sidecar container"
# Summary

Currently, a plugin sidecar container cannot request a volume (they can use volume mount) because we don't provide a way for them to list the volumes they want.

This has pros, e.g. it prevents two plugins for sharing a volume - a security risk. In also prevent volume name conflicts.

We could prevent both of these by validating plugins to ensure any volume mounts are effectively namesp

[2022-01-28 19:44] terrytangyuan commented on #7275
@mattskone Could you try v3.2.7?

[2022-01-28 19:55] mattskone commented on #7275
I can confirm through testing on a GKE v1.21 cluster that OP's steps to reproduce result in the expected behavior on Argo v.3.2.3 but not on v3.2.4 (or v3.2.7), so this change in behavior seems to have been introduced in v3.2.4.

My testing process has simply been:

[code]

[2022-01-28 20:08] terrytangyuan commented on #7275
@sarabala1979 Noticed that you marked this as "invalid". Now looks like this is regression?

[2022-01-28 22:23] alexec commented on #7673
Docs can be found here:

https://github.com/argoproj/argo-workflows/tree/master/sdks/java

This code is generated. So there is not source code in Git. We could create a -source.jar thought. Thoughts?

[2022-01-28 23:10] dixon1e commented on #7293
Just a quick heads up. I was demonstrating to someone and decided to run this code again, including the line:

`body=IoArgoprojWorkflowV1alpha1WorkflowCreateRequest(workflow=manifest, _check_return_type=False, _check_type=False))`

But I received the same error as the original reporter. This is the example code from the repo:

[code]

To recreate, perhaps this script can help do it quickly:

[code

[2022-01-28 23:19] #7673 closed

[2022-01-28 23:20] alexec commented on #7624
The lack of Dex is intentional. There is no coupling between workflows and Dex (unlike Argo CD). You don't need Dex for many OAuth2 providers. If you do, you need to configured Dex for it.

[2022-01-28 23:24] dhrsoni19 commented on #7673
Hmm, I did find the source jars was hoping to see source code on git. I think the current client is missing a few commits when I compare it to https://github.com/argoproj-labs/argo-client-java

[2022-01-29 02:05] terrytangyuan opened #7692 "Failed to release SDKs for v3.3.0-rc1 release"
The SDK release workflow failed because Python SDK release build failed and then Java SDK release build got canceled.
[code]
I’ll look into the errors soon.

Build: https://github.com/argoproj/argo-workflows/runs/4987739996?check_suite_focus=true

[2022-01-29 03:42] terrytangyuan commented on #7692
This will be fixed in https://github.com/argoproj/argo-workflows/pull/7693.

@sarabala1979 @alexec Could we re-trigger the SDK release workflow once it's merged?

[2022-01-29 03:50] Colstuwjx commented on #7616
@sarabala1979 But we even didn't mention about this in our doc, I didn't know this limit before. BTW, why we can't access to the {{workflow.status}} at Step or Dag level? I think it's a global context, and each child should be able to read it.

[2022-01-29 19:37] yriveiro commented on #5745
I believe this one can be closed as the current argo cli is built using `darwin/arm64` architecture already

[code]

[2022-01-29 23:58] sarabala1979 commented on #7692
sure

[2022-01-29 23:59] #7692 closed

[2022-01-30 03:04] terrytangyuan commented on #7692
Just checked that both SDKs have been released successfully.

[2022-01-30 07:22] krrrr38 opened #7696 "Submit workflow parameter textarea input"
# Summary

Currently submit workflow panel shows single line input form.

To input multiline strings into parameter, it is better to use `textarea`.

# Use Cases

Submit workflow with multiple lines string parameter.

![image](https://user-images.githubusercontent.com/915731/151700918-53232ed6-8914-4601-9bde-321c58475ad8.png)

# Discussion

It might require new field into [Parameter](https://argop

[2022-01-30 08:56] barektui commented on #7624
What is the right way of configuring Github integration then?

[2022-01-30 11:36] NikeNano commented on #7684
I will make a PR for it with some examples, can reuse work for the presentation as well.

[2022-01-30 16:46] neilharris123 opened #7698 "Variable for DAG task name (or step name)"
# Summary

It would be useful to have a way of retrieving the task name of a DAG task. For all of the DAG template variables in the documentation, the TASKNAME is required before they can be accessed. But there is no way of referencing the TASKNAME; it's presumed it is known beforehand.

# Use Cases

When would you use this?

For example, let's say I've got several different volumes and I want to

[2022-01-31 04:18] #5745 closed

[2022-01-31 08:00] Ark-kun opened #7701 "argo lint panics on a certain invalid workflow"
## Summary

What happened/what you expected to happen?
`argo lint workflow.yaml` panics.

This is not a blocker for me. Just stumbled upon it and decided to report.

What version of Argo Workflows are you running?
`v3.3.0-rc2`

## Diagnostics

Either a workflow that reproduces the bug, or paste you whole workflow YAML, including status, something like:

[code]

[code]

---

**Message from the main

[2022-01-31 08:02] Ark-kun opened #7702 "argo lint panics on a certain invalid workflow"
## Summary

What happened/what you expected to happen?
`argo lint workflow.yaml` panics.

This is not a blocker for me. Just stumbled upon it and decided to report.

What version of Argo Workflows are you running?
`v3.3.0-rc2`

## Diagnostics

Either a workflow that reproduces the bug, or paste you whole workflow YAML, including status, something like:

[code]

[code]

---

**Message from the main

[2022-01-31 08:03] #7702 closed

[2022-01-31 13:26] MattHodge commented on #4804
FWIW, also not working with the [Azure Application Gateway Ingress Controller](https://github.com/Azure/application-gateway-kubernetes-ingress). I also tried with disabling proxy buffers as per this document: https://docs.microsoft.com/en-us/azure/application-gateway/proxy-buffers.

[2022-01-31 14:09] softwarebloat opened #7705 "Count retries of steps in a workflow"
# Summary
Store somewhere how many times the steps in a workflow hits a retry

# Use Cases
Would be nice to have this info as a Prometheus metric to then query from Grafana
To then have something like this:
![image](https://user-images.githubusercontent.com/16540684/151808202-b28d795b-140a-468a-882a-806c4b05ed42.png)

---

**Message from the maintainers**:

Love this enhancement proposal? Give it

[2022-01-31 14:39] terrytangyuan commented on #7701
Thanks for reporting. I am fixing the panic in https://github.com/argoproj/argo-workflows/pull/7706.

The problem with the YAML is that you are passing parameter values incorrectly in the DAG task. It should be:

[code]

[2022-01-31 15:05] #7061 closed

[2022-01-31 15:28] #7701 closed

[2022-01-31 15:31] #7488 closed

[2022-01-31 15:34] alexec commented on #7624
For Github, use Dex.

https://github.com/argoproj/argoproj-deployments/tree/master/dex

[2022-01-31 16:29] alexec opened #7709 "Are we making too many Kubernetes API request from the server?"

[2022-01-31 16:30] alexec commented on #7709
I've done some cursory testing, and not found this to be the case.

[2022-01-31 17:09] #7604 closed

[2022-01-31 17:19] #7635 closed

[2022-01-31 17:32] ado120 commented on #7687
Hello @alexec. Here are the argo logs. Looks like there's definitely something up with the artifact repository on the server.

[code]

Any ideas what could be wrong here?

[2022-01-31 18:04] sarabala1979 opened #7710 "Plugin install and uninstall CLI command"
# Summary
Provide ArgoCLI command to install the plugins

What change needs making?

# Use Cases

[code]

When would you use this?

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-01-31 21:24] alexec commented on #3434
I'm reviewing this popular issue. I'm assuming the use case is querying workflows by parameter?

[2022-01-31 21:24] alexec commented on #6113
Closing and duplicate.

[2022-01-31 21:24] #6113 closed

[2022-01-31 21:25] #5892 closed

[2022-01-31 21:25] alexec commented on #5892
Closing and duplicate.

[2022-01-31 21:31] alexec commented on #3434
[code]
[code]

[2022-02-01 00:18] ado120 commented on #7687
For more context, I've set up the artifact repository in the workflow controller configmap as opposed to making my own configmap as per:
https://argoproj.github.io/argo-workflows/artifact-repository-ref/

[2022-02-01 00:50] kennytrytek commented on #7539
@alexec, I'm not sure how I could be out of date since 3.2.6 was the latest version at the time I submitted this. Regardless, I checked out `refs/tags/v3.2.7`, `make clean`, deleted the `argo` namespace, recreated everything and tried again locally:
[code]
As far as I can tell, `expression` is broken in `RetryStrategy`.

[2022-02-01 01:08] alexec commented on #7539
feat: Introduce when condition to retryStrategy (#6114)

[2022-02-01 01:09] alexec commented on #7539
Can you run `argo version`? Make sure it return v3.2

[2022-02-01 02:10] kennytrytek commented on #7311
Hello, I just wanted to follow up and give a little more context. My understanding may also be incomplete, so let me know if I'm missing something.

When a workflow is submitted to Argo, parameters can be supplied to the workflow, along with an entrypoint to use. A default entrypoint can also be configured. Here is an example workflow that I think represents your use case, slightly modified [from

[2022-02-01 02:14] kennytrytek commented on #7539
I tried using `./dist/argo` instead, and that actually used the newer version. Yes, this feature works. Closing issue.

[2022-02-01 02:14] #7539 closed

[2022-02-01 02:55] jfb74 commented on #7311
Appreciate you taking the time to respond and address our concerns. Your example accurately depicts my use case which was previously working. Spelled out my comments below, but TLDR; I like your "Finally..." proposed option. I will admit there could be technical limitations that I am not aware of due to my lack of knowledge, but otherwise I believe a clear solution could be developed that would al

[2022-02-01 12:12] AmineAServier commented on #7705
A workaround would be to declare "retries" (who is only in container level) as an output parameter and then to label it in out custom metric. But still, if we had that information directly it'd better.

[2022-02-01 14:37] terrytangyuan commented on #7293
@flaviuvadan Could you double-check on this when you start migrating to the new SDK?

[2022-02-01 15:39] alexec opened #7716 "oss-fuzz: Null-dereference READ in `workflow/common.expandDependency`"
https://oss-fuzz.com/testcase-detail/5556358383009792

[code]

[2022-02-01 15:39] alexec opened #7717 "oss-fuzz: artifacts.(*ArtifactServer).GetInputArtifactByUID panic"
https://oss-fuzz.com/testcase-detail/5098631152140288

[code]

[2022-02-01 15:41] alexec opened #7718 "oss-fuzz: failed to convert to unstructured: impossible IntOrString.Type controller.catchOperatorPanics"
https://oss-fuzz.com/testcase-detail/6603494629441536

[code]

[2022-02-01 15:41] alexec opened #7719 "oss-fuzz: `pkg/apis/workflow/v1alpha1` Crash Type: Null-dereference READ"
https://oss-fuzz.com/testcase-detail/6484894593712128

[code]

[2022-02-01 16:21] alexec commented on #5405
We should also provide this feature in the UI.

[2022-02-01 16:23] alexec commented on #5833
Is there another way for this? Kubernetes comes with a number of ways to run reliable resources. Rather than running a pod as a daemon step, run a deployment using a resource template?

[2022-02-01 16:24] alexec commented on #4690
All examples now run using emissary. I think this can be closed.

[2022-02-01 16:24] #4690 closed

[2022-02-01 16:34] alexec commented on #7486
We already move to a more secure base image (alpine), but it'd be awesome to go further.

This work would need to be done piecemeal, as we'd probably want to add tests each step of the way:

- [ ] Remove the deprecated Docker executor
- [ ] Replace use of `kubectl` with Golang Kubernetes client in the resource template code
- [ ] Replace use of `curl` binary by the HTTP artifact driver
- [ ] Repla

[2022-02-01 16:40] alexec commented on #7486
@Sh1ftry would you be interested in helping?

[2022-02-01 16:41] oranerez opened #7720 "Cron Workflow show counting time and not execute workflow when hitting 0 seconds"
## Summary

What happened/what you expected to happen? CronWorkflow to run based on scheduling

What version of Argo Workflows are you running? v3.2.7 (seen previously before upgrade to latest version on v3.1.8)

## Diagnostics

Working with workflows templates and schedule them via cron workflows,
one of the templates has to run in 3 various scheduling times for different days and with different

[2022-02-01 17:29] oranerez commented on #7720
Update:
When I query the CronWorkflow for success run I noticed the following fields has been created:
[code]

While the "skipped" one does not has this nested field in annotations named: 'cronworkflows.argoproj.io/last-used-schedule:' as well as the following appears in the CronWorkflow manifest:
[code]

Looking in commit: https://github.com/argoproj/argo-workflows/commit/932040848404d42a007b19bf

[2022-02-01 17:50] alexec commented on #7720
@simster7 ?

[2022-02-01 17:51] alexec commented on #7471
How's the mentoring going?

[2022-02-01 17:51] ccfishk opened #7721 "executor fails to process resource with a manifest including multiple resources, which works in v3.0.7"
## Summary

  Currently, workflow executor throw "Kind and Name are required one of them is missed within the manifest" when process multile resources within the manifests.

What happened/what you expected to happen?
  Expect all resources within the manifest are able to get created.

What version of Argo Workflows are you running?
v3.2.7

## Diagnostics

Either a workflow that reproduces the bug,

[2022-02-01 17:54] #7133 closed

[2022-02-01 17:54] #7070 closed

[2022-02-01 17:54] alexec commented on #7046
Having spoken to `expr` lead, evaluation in time-bound.

[2022-02-01 17:54] #7046 closed

[2022-02-01 17:55] #6974 closed

[2022-02-01 17:55] alexec commented on #6974
Fixed by PR.

[2022-02-01 17:56] alexec commented on #6808
Pointing to latest is intentional. Nothing in the repository can be versioned.

[2022-02-01 17:56] #6808 closed

[2022-02-01 17:58] alexec commented on #7717
Easy fix, add let check here:

https://github.com/argoproj/argo-workflows/blob/877d6569754be94f032e1c48d1f7226a83adfbec/server/artifacts/artifact_server.go#L101

[2022-02-01 17:59] terrytangyuan commented on #7721
This is intentional as we need to monitor the status/conditions (success/failure) for the created resource.

[2022-02-01 17:59] alexec commented on #7716
I think that `depTask` must be nil, but I'm not sure that would ever happen in production:

https://github.com/argoproj/argo-workflows/blob/877d6569754be94f032e1c48d1f7226a83adfbec/workflow/common/ancestry.go#L126

[2022-02-01 18:04] flaviuvadan commented on #7329
I can take this as I will work on adding it to Hera as well.

[2022-02-01 18:58] JPZ13 opened #7723 "Add feature flag for multi-cluster workflows"
# Summary

Based on our implementation discussions surrounding multi-cluster workflows, add a feature flag/environment variable called `ENABLE_MULTICLUSTER`. Using a helper function will allow for easily updating or changing the environment variable or adjusting the default behavior in the future.

# Use Cases

Once the feature flag/utility function is implemented, we plan on breaking up the multi

[2022-02-01 19:16] IvanKolbasiuk commented on #7202
Hi @surajnarwade, Could you give a hint? How to correctly setup integration with Azure AD and app roles. faced with the same issue scope groups doesn't exist

[2022-02-01 19:58] dmegyesi opened #7725 "v3.2.6 Error when using PodSpecPatch to add resource requests to wait container on resource template type"
## Summary

### What happened/what you expected to happen?

I have some Workflows that have regular `container` type templates and `resource` type templates defined in the same file.

I have a `PodSpecPatch` defined on the Workflow level that adds a `resources` section to every `wait` and `main` container for every workflow Pod:

[code]

This is something that has been working for a long time, usi

[2022-02-01 21:43] tyrken opened #7726 "Submitting from a WorkflowTemplate shows incorrect serviceAccount and securityContext nag"
## Summary

Starting a Workflow from a WorkflowTemplate brings up the security nag "This workflow does not have security context set. ..." - even if the WorkflowTemplate defines a securityContext.  I've also (just) noticed that the serviceAccount is also shown as "default" even though I'm running with one (currently having to as using PNS).

What version of Argo Workflows are you running?

Running

[2022-02-01 21:48] tyrken commented on #7726
I can only assume the test at https://github.com/argoproj/argo-workflows/blob/81afc8a7b482aa9b95e010e02f9ef48dea7d7161/util/printer/workflow-printer.go#L117 and access at https://github.com/argoproj/argo-workflows/blob/1159afc3c082c62f6142fad35ba461250717a8bb/cmd/argo/commands/get.go#L121 are operating on the "raw" spec.  I was expecting some accessor function which merged the WorkflowTemplate int

[2022-02-01 23:30] alexec commented on #7721
So @terrytangyuan said, this is intentional. We cannot have more than one resource.

[2022-02-02 02:11] ogibayashi commented on #7627
Sorry for my late reply. Actually, I'm just a user of the OIDC provider and not familiar with the internal.
It sets a list of user's privileges as `groups` field, like `"groups: ["priv1", "priv2"]` , but if the user has only one privilege, the `groups` will be string value like `"groups": "priv1"` . I want Argo Worflows accept this case.

[2022-02-02 04:16] ccfishk commented on #7721
Understand this is current limitation. 👍

But, one manifest with multiple resources works in v3.0.7, as well as previous versions. Not sure which changes introduces regression, but would be very nice to have the full-function back.

[2022-02-02 06:02] ado120 commented on #7687
@alexec @terrytangyuan

Let me know if there's anything I can try here. I plan on completely deleting the rds database and s3 bucket used for artifact and persistence sometime this week and redoing it as I'm out of ideas what could be wrong

[2022-02-02 09:11] surajnarwade commented on #7202
@IvanKolbasiuk here's the configmap snippet:

[code]

default serviceaccount in namespace

[code]

[2022-02-02 09:54] pacoguzman commented on #7717
Working on it!

[2022-02-02 12:26] surajnarwade commented on #7202
@IvanKolbasiuk I'm unsure about app role. In my setup, we've AD groups mapped to namespace

[2022-02-02 13:12] hamza3202 commented on #6421
I have a clusterWorkflowTemplate that is used by workflows in various namespaces. This clusterWorkflowTemplate wants to use semaphores but it isn't able to do it because it then needs the configmap in all of those namespaces.

@alexec Could we instead a feature that clusterWorkflowTemplates always look for configmap in the main argo workflow namespace?

[2022-02-02 14:34] flaviuvadan commented on #7293
Hey @dixon1e! I think the call should be:
[code]

The `_check_return_type=False` goes on the `create_workflow` call rather than the body specification.

[2022-02-02 14:52] tyrken commented on #7597
FWIW I also had one of the "Issue 1" type where for unknown reasons the Argo sidecar (we also are also using PNS, with v3.2.6 running on AWS EKS) decided to kill the main container.  I did also see in the K8s master audit logs (which I've set to go to AWS CloudWatch logs) the unusual non-JSON entry below, timed just as Argoexec decided to terminate.  Looks like something timed out/errored & that m

[2022-02-02 15:27] dixon1e commented on #7293
@flaviuvadan I will check ASAP.

[2022-02-02 15:41] alexec commented on #7721
@jessesuen do you know if a resource template was meant to support multiple resources in the manifest?

[2022-02-02 15:47] dixon1e commented on #7293
Confirmed moving the parameters to the correct call removes the error. The code we (@66li and I) used is the example code in the README, specifically argo-workflows/sdks/python/README.md.

[2022-02-02 15:48] terrytangyuan commented on #7293
Great to hear. Thanks for spotting it @dixon1e and @flaviuvadan for taking a quick look!

[2022-02-02 16:14] alexec opened #7732 "Remove pod queue"
# Summary

In the controller, when a pod changes, the changes goes into a queue, those changes are the copied to the workflow queue.

We don't really need two steps to do this. The workflow can be queued directly from the pod.

This would simplify this code.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-02-02 16:17] #7732 closed

[2022-02-02 16:33] ccfishk commented on #7721
@terrytangyuan we have been prereqs, install, delete resource that includes a manifest with multiple resources since v3.0.7.
following is our sample yaml

`apiVersion: addonmgr.keikoproj.io/v1alpha1
kind: Addon
metadata:
  name: event-router
  namespace: addon-manager-system
spec:
  pkgName: event-router
  pkgVersion: v0.2
  pkgType: composite
  pkgDescription: "Event router"
  params:
    namespa

[2022-02-02 16:38] ccfishk commented on #7721
@terrytangyuan  @jessesuen here is the link of our workflow yaml file, which has better format
https://github.com/keikoproj/addon-manager/blob/master/docs/examples/eventrouter.yaml

[2022-02-02 16:39] alexec opened #7733 "Add pod priority class to controller"
We currently schedule the controller at the same priority as workflow pods. This mistake for almost all users, as it can result workflow pods kicking out the controller.

The controller, should, by default, be scheduled with higher priority.

[2022-02-02 16:58] ccfishk commented on #7721
Here is my debug, if you copy following workflow resource manifest into test.json, and kubectl apply. -f test.json, two resources deployed smoothly
`name: submit
    outputs: {}
    resource:
      action: apply
      manifest: |-
        {"apiVersion":"v1","kind":"Namespace","metadata":{"annotations":{},"labels":{"app.kubernetes.io/managed-by":"addonmgr.keikoproj.io","app.kubernetes.io/name":"eve

[2022-02-02 17:18] rohankmr414 commented on #7733
@alexec I would like to work on it, could you please provide some information on how to proceed in the task and where the changes needed in the repo. Some code pointers would be really helpful.

[2022-02-02 18:16] terrytangyuan commented on #7721
@ccfishk Would you like to submit a PR to demonstrate the problem and potential fix? It's hard to visualize what's changed from your code snippets.

[2022-02-02 18:19] jrowinski3d commented on #3171
I would like to gauge interest in this proposal. I have posted my general question here looking for this. https://github.com/argoproj/argo-workflows/discussions/7722#discussioncomment-2098901

[2022-02-02 18:24] Hunter-Thompson opened #7736 "artifact repo failed to load: parse first path segment in URL cannot contain colon"
## Summary

I expected to clone a repo using SSH.

[code]

What version is it broken in?

v3.2.6

What version was it working in?

v3.0.7

## Diagnostics

[code]
[code]
What Kubernetes provider are you using?

AWS EKS, v1.18

What executor are you running? Docker/K8SAPI/Kubelet/PNS/Emissary

K8SAPI

N/A cause artifact failed to clone.

---

**Message from the maintainers**:

Impacted by this regre

[2022-02-02 18:29] terrytangyuan commented on #7736
Looks like a problem with cloning submodule. Duplicate of https://github.com/argoproj/argo-workflows/issues/7469. Related https://github.com/go-git/go-git/issues/397.

[2022-02-02 18:50] jessesuen commented on #7721
It was not. Resource templates were intended to be against individual resources and is needed to wait on resource status. So the fact that this was working before, was actually a bug.

[2022-02-02 18:58] terrytangyuan commented on #7721
The fact that this was working before was probably because `kubectl apply` was successful silently and there wasn't strict check/requirement around the resource name/group.

[2022-02-02 20:07] alexec commented on #7469
fix: Relative submodules in git artifacts. Fixes #7141 (#7162)

[2022-02-02 20:07] alexec commented on #7736
Closing duplicate.

[2022-02-02 20:07] #7736 closed

[2022-02-02 20:52] chriswilley opened #7737 "Workflow that calls a workflow template POSTed to the API returns "workflow body not specified""
## Summary

What happened/what you expected to happen?
Calling `https://<host>/api/v1/workflows/<namespace>` with a workflow file that uses `templateRef` to call a workflow template fails with "workflow body not specified". Submitting the same workflow through the CLI works as expected. I am also able to submit workflow templates using the `/submit` endpoint successfully.

What version of Argo Wor

[2022-02-02 21:24] Hunter-Thompson commented on #7469
I created a PR on go-github, lets wait and see. Hoping to get it merged ASAP since this bug breaks SSH cloning.

go-git/go-git#464

[2022-02-02 21:55] chriswilley commented on #7737
Closer reading of the API docs indicate you need to have a structure like this:

[code]

[2022-02-02 21:55] #7737 closed

[2022-02-02 22:00] ccfishk commented on #7721
But would not be more user friendly, efficient when deploying multiple resources within one manifest, which could be more generic. And,  it looks more like a real world use case. Especially for platform user, we might need use workflow deploy pages of yaml resources.

Is there any technical factor preventing that happening ?

[2022-02-02 22:02] ccfishk commented on #7721
I would like to interpret the other way : maybe the original author intends to support multiple resources within a manifest. And we just need expand the check of GRV/kind/name to a group of resources rather than one.

[2022-02-02 22:02] ccfishk commented on #7721
Yes, I can do that.

[2022-02-02 22:07] ccfishk commented on #7721
But, If the manifest resources lacks either kind or name, kubectl apply should  fail immediately. and the logic should go to
https://github.com/argoproj/argo-workflows/blob/master/workflow/executor/resource.go#L43

[2022-02-02 22:56] jjjjoooo opened #7739 "Can't parse DataTime type in response when send POST request to create workflow in Java"
I implemented Java code to send POST request to create a workflow. However, I got the following error,
`Expected BEGIN_OBJECT but was STRING at line1 column 201 path $.meta.creationTimestamp`
I checked source code and found it doesn't register `org.joda.time.DateTime` type when create `gson` in `JSON `class. And  `org.joda.time.DateTime` is the type of `meta.creationTimestamp`. Can someone help me

[2022-02-02 23:53] shadiramadan commented on #5506
So for functionality is this basically a clone of #6982 @alexec @terrytangyuan ?

Should we also sanitize the display of such parameters as 'secret' ?

Should you be able to mark a parameter as secret at all?
[code]
Which could subsequently not display the raw anywhere?
Same with outputs I guess... or is this overkill?

ArgoCD displays secrets like this:
![image](https://user-images.githubusercont

[2022-02-03 08:45] tomashtg commented on #5697
Hello, for us the issue remains the same, any updates on this?

[2022-02-03 13:11] davelajoie commented on #3171
Hello Jas and team, I agree with Jas (#7722). We will be building dags with 700+ nodes completely as dags, where fan-in and fan-out occurs multiple time in the dag. using ref count approach could definitely solve that.

[2022-02-03 14:52] terrytangyuan commented on #7721
The original author already responded https://github.com/argoproj/argo-workflows/issues/7721#issuecomment-1028250815.

It's not just the check. There's also success and failure conditions that we need to specify to watch statuses for each of the resources.

We probably want to fail fast at `kubectl` command. Would you like to submit a PR to improve that?

[2022-02-03 15:01] terrytangyuan opened #7742 "Demo environment does not seem functional"
The demo environment mentioned in https://github.com/argoproj/argo-workflows#try-argo-workflows does not seem functional.  I recall that we had an issue with it earlier too but fixed it afterwards. If we are not actively monitoring/using it, should we remove it from the README?

https://workflows.apps.argoproj.io/workflows/argo

<img width="1434" alt="image" src="https://user-images.githubusercont

[2022-02-03 15:41] Atharex opened #7743 "Visualizations in the Argo UI"
# Summary
Would like to have functionality, that can show generated visualizations (images, videos) inside a workflow in the Argo UI (like Metaflow cards)
https://docs.metaflow.org/metaflow/visualizing-results
https://towardsdatascience.com/integrating-pythonic-visual-reports-into-ml-pipelines-a163d150ed04

It could be integrated in some way with a step, or be a separate step, executed after the n