[2020-07-08 15:39] alexec commented on #3412
Hi @Azolo we request the `groups` in `sso.go`. I'm pretty sure we don't need them, as we do not support RBAC yet.

We've very busy at the moment - but if you like to submit a PR to fix this, we could  get this into v2.9.3 or .4.

[2020-07-08 15:48] alexec commented on #3411
Panic in workflow-logger.go line 69: the request is missing log options - and that should be catered for.

@zhxu73 this can be easily fixed by adding a nil check at line 68 - would you be interested in submitting a PR.

In the meantime - you maybe able to workaround by adding log options to you request:

`/api/v1/workflows/{namespace}/{name}/{podName}/log?logOptions.timestamps=true`

[2020-07-08 15:48] alexec commented on #3410
@sarabala1979 do you think I could ask you to investigate this one too please?

[2020-07-08 15:59] sarabala1979 commented on #3413
Argo is using log API from k8s.  can you try `kubectl logs <podname>`? if both are same result then you need to check in your cluster config. Have you enabled logrotate on your cluster?
https://vividcode.io/enable-log-rotation-in-kubernetes-cluster/
https://kubernetes.io/docs/concepts/cluster-administration/logging/

[2020-07-08 16:06] KPostOffice opened #3419 "Exceeding quota with volumeClaimTemplates"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
I have created a template which uses a volume claim template. If the total claimed by running pods is at storage quota then new pods being attempted to run enter error state rather than pending state.

**What you expected

[2020-07-08 16:19] mark9white commented on #3378
Thanks @simster7 - this behaviour makes sense given that the item can be referred to in the when condition. #3405 would be a great long-term solution to this.

[2020-07-08 16:32] alexec commented on #3409
https://github.com/kubernetes/kubernetes/issues/73803

[2020-07-08 16:42] alexec commented on #3409
https://github.com/golang/go/issues/8592

[2020-07-08 16:45] alexec commented on #3419
@sarabala1979 ?

[2020-07-08 16:55] alexec commented on #3409
looking at stack frames we have

Good at this point:
[code]

But by the next time we have control, it has been garbaged:

[code]

[2020-07-08 17:13] alexec opened #3420 "Sequence.start/end/count should be `IntOrString`"
Along with start and end. Otherwise they will not pass schema validation.

This is interesting, as we have temptable fields (so they must support string) but once templated must be numbers. If not templated, they must be numbers.

@sarabala1979 could you think of any other fields that might be defined as `string` but should also support `int`?

[2020-07-08 17:39] sarabala1979 opened #3422 "Panic on CLI Watch command"
[msaasfmea4-ppd-usw2.cluster.k8s.local] \W$ argo watch perf-infra-ln6d8
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x318 pc=0x26d44e8]
goroutine 1 [running]:
k8s.io/apimachinery/pkg/apis/meta/v1.(*Time).IsZero(...)
	/Users/acollins8/go/pkg/mod/k8s.io/apimachinery@v0.16.7-beta.0/pkg/apis/meta/v1/time.go:65
github.com

[2020-07-08 17:46] alexec commented on #3422
maybe
[code]
?

[2020-07-08 18:14] alexec commented on #944
@Ark-kun are you free to Zoom with @jessesuen @rbreeze and myself about your use case please?

[2020-07-08 18:23] alexec commented on #3410
I'm a little unclear on the use case for post-start hook. This is possible using `script:` template.

[2020-07-08 19:24] #3411 closed

[2020-07-08 20:16] aviklai commented on #3416
I am not sure but I don't think it's a regression.
I upgraded from version 2.7.6 and saw there something similar - I saw a case where the phase was an error and the pod was in status Deleted.

[2020-07-08 21:02] #2581 closed

[2020-07-08 21:02] #2687 closed

[2020-07-08 21:02] #2549 closed

[2020-07-08 21:02] #2922 closed

[2020-07-08 22:44] alexec commented on #3412
Fix in v2.9.2

[2020-07-08 22:45] alexec commented on #3400
Fix in v2.9.2

[2020-07-08 22:45] #3400 closed

[2020-07-08 22:47] hadim opened #3428 "`onStart` handler"
Unless I am missing it I don't see any `onStart` handler similar to the `onExit` handler (https://github.com/argoproj/argo/tree/master/examples#exit-handlers).

[2020-07-08 23:00] simster7 commented on #3428
Why not simply have a step run before the desired step? The utility of the `onExit` handler is that it runs regardless of whether a step fails or not, the utility of which is irrelevant on an `onStart` handler

[2020-07-08 23:00] simster7 commented on #3428
Why not simply have a step run before the desired step? The utility of the `onExit` handler is that it runs regardless of whether a step fails or not, the utility of which is irrelevant on an `onStart` handler

[2020-07-08 23:16] hadim commented on #3428
Yes, we could do that but having an `onStart` handler would allow a better separation of concerns without requiring us to patch our workflows.

[2020-07-08 23:19] #1523 closed

[2020-07-08 23:19] #2520 closed

[2020-07-08 23:19] #1465 closed

[2020-07-08 23:19] #2651 closed

[2020-07-08 23:19] #1341 closed

[2020-07-08 23:19] #1246 closed

[2020-07-08 23:19] #2672 closed

[2020-07-08 23:19] #2683 closed

[2020-07-08 23:19] #2690 closed

[2020-07-08 23:19] #2691 closed

[2020-07-08 23:19] #2692 closed

[2020-07-08 23:19] #2695 closed

[2020-07-08 23:19] #1558 closed

[2020-07-08 23:19] #1803 closed

[2020-07-08 23:19] #1493 closed

[2020-07-08 23:19] #1367 closed

[2020-07-08 23:19] #2497 closed

[2020-07-08 23:19] #2734 closed

[2020-07-08 23:19] #1819 closed

[2020-07-08 23:19] #1918 closed

[2020-07-08 23:19] #2842 closed

[2020-07-08 23:19] #2864 closed

[2020-07-08 23:19] #2664 closed

[2020-07-08 23:19] #2931 closed

[2020-07-09 01:09] #1592 closed

[2020-07-09 01:09] #993 closed

[2020-07-09 01:09] #1846 closed

[2020-07-09 01:09] #1871 closed

[2020-07-09 01:09] #1840 closed

[2020-07-09 01:09] #1901 closed

[2020-07-09 01:09] #1509 closed

[2020-07-09 01:09] #1805 closed

[2020-07-09 01:09] #1620 closed

[2020-07-09 01:09] #1635 closed

[2020-07-09 01:09] #2043 closed

[2020-07-09 01:09] #2042 closed

[2020-07-09 01:09] #1921 closed

[2020-07-09 01:09] #1373 closed

[2020-07-09 01:09] #1244 closed

[2020-07-09 01:09] #1026 closed

[2020-07-09 01:09] #1379 closed

[2020-07-09 01:09] #1888 closed

[2020-07-09 01:09] #1570 closed

[2020-07-09 01:09] #2306 closed

[2020-07-09 01:09] #2424 closed

[2020-07-09 01:09] #2173 closed

[2020-07-09 01:09] #2154 closed

[2020-07-09 01:09] #2442 closed

[2020-07-09 01:09] #2506 closed

[2020-07-09 02:09] #1568 closed

[2020-07-09 02:09] #1574 closed

[2020-07-09 02:09] #1581 closed

[2020-07-09 02:09] #1600 closed

[2020-07-09 02:09] #1604 closed

[2020-07-09 02:09] #1605 closed

[2020-07-09 02:09] #1608 closed

[2020-07-09 02:09] #1357 closed

[2020-07-09 02:09] #1619 closed

[2020-07-09 02:09] #1195 closed

[2020-07-09 02:09] #1390 closed

[2020-07-09 02:09] #1624 closed

[2020-07-09 02:09] #1291 closed

[2020-07-09 02:09] #1324 closed

[2020-07-09 02:09] #1698 closed

[2020-07-09 02:09] #1492 closed

[2020-07-09 02:09] #1588 closed

[2020-07-09 02:09] #1717 closed

[2020-07-09 02:09] #1736 closed

[2020-07-09 02:09] #1755 closed

[2020-07-09 02:09] #1765 closed

[2020-07-09 02:09] #1772 closed

[2020-07-09 02:09] #1796 closed

[2020-07-09 02:09] #1470 closed

[2020-07-09 03:01] sarabala1979 commented on #3415
which `containerRuntimeExecutor` are you using in your configmap?

[2020-07-09 03:03] Jacky2Wong commented on #3410
That's a good solution. I wasn't aware of the script template. Thanks!

[2020-07-09 03:03] #3410 closed

[2020-07-09 03:09] #909 closed

[2020-07-09 03:09] #1202 closed

[2020-07-09 03:09] #1210 closed

[2020-07-09 03:09] #1259 closed

[2020-07-09 03:09] #1289 closed

[2020-07-09 03:09] #1306 closed

[2020-07-09 03:09] #920 closed

[2020-07-09 03:09] #1368 closed

[2020-07-09 03:09] #782 closed

[2020-07-09 03:09] #1385 closed

[2020-07-09 03:09] #1398 closed

[2020-07-09 03:09] #1241 closed

[2020-07-09 03:09] #1421 closed

[2020-07-09 03:09] #1276 closed

[2020-07-09 03:09] #1415 closed

[2020-07-09 03:09] #1434 closed

[2020-07-09 03:09] #1446 closed

[2020-07-09 03:09] #1426 closed

[2020-07-09 03:09] #1491 closed

[2020-07-09 03:09] #1496 closed

[2020-07-09 03:09] #1060 closed

[2020-07-09 03:09] #1495 closed

[2020-07-09 03:09] #1522 closed

[2020-07-09 03:09] #1520 closed

[2020-07-09 03:09] #1519 closed

[2020-07-09 03:09] #1556 closed

[2020-07-09 04:41] #753 closed

[2020-07-09 04:41] #950 closed

[2020-07-09 04:41] #971 closed

[2020-07-09 04:41] #982 closed

[2020-07-09 04:41] #872 closed

[2020-07-09 04:41] #1058 closed

[2020-07-09 04:41] #1020 closed

[2020-07-09 04:41] #1016 closed

[2020-07-09 04:41] #1073 closed

[2020-07-09 04:41] #1097 closed

[2020-07-09 09:16] arbielsk opened #3431 "Workflow stuck in running if it contains non-leaf-task onExit-handler"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
I created a dag where each task has an exit handler. In the example below, step-3 depends on step-2. After the fix of https://github.com/argoproj/argo/issues/3395 all exitHandlers are now being called as expected (thanks a

[2020-07-09 09:31] arbielsk opened #3432 "If non-leaf-task onExit-handler is defined as DAG only the first task is run"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
I created a dag where each task has an exit handler. In the example below, step-3 depends on step-2. After the fix of #3395 all exitHandlers are now being called as expected (thanks a lot to the team for this VERY quick fi

[2020-07-09 12:46] hadim commented on #3428
The use case is to trigger Slack notifications at the start and end of a workflow.

[2020-07-09 14:35] mecampbellsoup opened #3434 "Cannot use `workflow.parameters` to set Workflow metadata?"
## To reproduce

1. Write a Workflow template that attempts to set `metadata.labels` with some key/value pair, where the value is set from Workflow parameters (`job_id` being the workflow param in this example):

[code]

2. Submit the workflow, passing in `job_id` as a workflow parameter.

3. Observe that the workflow fails to submit to Argo.

[code]

[2020-07-09 15:23] Azolo commented on #3412
@alexec Awesome, thanks. Working great.

[2020-07-09 15:23] #3412 closed

[2020-07-09 15:51] simster7 commented on #3431
Interestingly enough, this only happens with the `sleep` part of the Workflow. When I solved the last issue I had taken the `sleep` off (to expedite testing) and the bug didn't come up:

[code]

Working on finding a fix right now

[2020-07-09 15:55] simster7 commented on #3431
This has something to do with the unique nested dag structure

[2020-07-09 16:12] sarabala1979 commented on #3434
Instead of using the  `-p` workflow parameter for workflow metadata, you can use -l option to add or update the label directly

[2020-07-09 16:14] simster7 commented on #3431
This one is certainly a [Heisenbug](https://en.wikipedia.org/wiki/Heisenbug) haha :)

[2020-07-09 16:14] sarabala1979 commented on #3419
I will work on it

[2020-07-09 16:23] simster7 commented on #3431
Found the issue: if `step-3` finishes before `step-2.onExit`, then the logic gets dead lock. Working on a fix

[2020-07-09 17:32] foobarbecue commented on #3341
I'm working on this now:
- Adding the missing properties from WorkflowSpec to WorkflowTemplateSpec in ui/src/models
- Correcting the getWorkflow function in ui/src/app/workflow-templates/components/workflow-template-details/workflow-template-details.tsx so that it copies those properties over

Presumably there needs to be a server-side fix as well, for when you do `argo submit --from workflowtempl

[2020-07-09 17:40] alexec commented on #3341
@sarabala1979 would you like to own this please?

[2020-07-09 17:47] alexec commented on #1541
If I understand correctly, the suggestion in to support an alternative workflow syntax, much like #873. It is unlikely that the core team would implement this due to the lack of utility vs cost.

Perhaps someone from the community might be interseted..

[2020-07-09 17:50] foobarbecue commented on #3341
Yep, can do. I expect to have a PR today.

[2020-07-09 17:50] alexec commented on #1117
Documenting this would be low hanging fruit. @rbreeze would you be interested in diving into this? Making sure that `NodeStatus` is correctly documented - and more over - `NodeStatus` doubles as `WorkflowStatus` which I think would have different meanings.

[2020-07-09 17:52] alexec commented on #1092
@jessesuen @sarabala1979 this is a sufficiently popular feature I think we should implement. Before we do - is this already possible?

[2020-07-09 17:55] alexec commented on #1204
@kivio could you (or anyone else who thumbs up this ticket) give an example please?

[2020-07-09 17:57] alexec commented on #1796
https://adrianhesketh.com/2017/03/18/getting-line-and-character-positions-from-gos-json-unmarshal-errors/

[2020-07-09 17:57] alexec commented on #1319
I don't think we can change this because it would break existing installs.

What about annotating pods with the step name or similar.

[2020-07-09 18:00] alexec commented on #2437
I've re-opened this because we would want to know the user behind an API request so that we can filter webhook events based on who the client is. Because each client would have an Access Token, we can use the fact that the JWT has the SA as the subject to do this.

[2020-07-09 18:00] alexec commented on #2437
#3314

[2020-07-09 18:10] alexec commented on #2667
Please review the proposal:

https://github.com/alexec/argo/blob/cloudevents/docs/events.md

[2020-07-09 18:17] alexec commented on #1204
OK. So this needs to be fixed in either `lint.go` (which does not "lint" anything :() or 'validate.go'.

[2020-07-09 18:18] Mastergalen opened #3436 "Panic when volumeMount does not exist"
Checklist:

 * [x] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

~~When submitting a workflow that depends on a `WorkflowTemplate`, the workflow crashes and immediately fails (without jumping to onExit).~~

Turns out that the crash actually occurred due to a `volumeMount` not existing.

[2020-07-09 18:38] alexec commented on #1204
I've done a cursory investigate into this and it is possible to get the [line number and character position](https://adrianhesketh.com/2017/03/18/getting-line-and-character-positions-from-gos-json-unmarshal-errors/) of JSON errors from `json.Unmarshal`. We use this is many places in the code, sometime when we get it we know which file we have, sometimes not. Sometimes we have the text of the secti

[2020-07-09 18:41] alexec commented on #3436
[code]

This code makes no sense to me, node can be expected to be nil at this line, but this code has not changed for a while.

[2020-07-09 18:41] alexec commented on #3436
@Mastergalen please can you attach the workflow YAML? I'm assuming it contains a DAG - but I'd like to be able to repro.

[2020-07-09 19:12] elocke commented on #3434
+1 I can't trust my users to add the label themselves. This would be nice to set via other inputs

[2020-07-09 19:25] alexec opened #3438 "Workflow Template Catalog"
With the introduction of workflow templates,  we could not create a sharable library of templates that people could download and install.

E.g.

[code]

[2020-07-09 19:41] foobarbecue commented on #3341
Oh, sorry I was working on an old fork... there is no more WorkflowTemplateSpec in ui/src/models, it just references TemplateSpec... so that's a good thing. So it's just a matter of fixing the getWorkflow function now (and then the CLI fixes).

[2020-07-09 19:54] ericandrewmeadows commented on #3438
My thought behind this was to enable Airflow-like behavior with Hooks and Operators.  We have a lot of code that we could share template-wise for CI/CD, but I would imagine that you could create templates as well for model training and saving, in order to standardize some data I/O interfaces to steps.

Other places where this could be useful:  Slack notifications, email notifications, etc. as temp

[2020-07-09 19:56] paulm-jones commented on #1757
@ambsFlip  did you happen to figure this out? I have the same question.

[2020-07-09 20:35] #3431 closed

[2020-07-09 20:35] #3432 closed

[2020-07-09 20:48] dcherman commented on #3438
Absolutely!  Similar to the `catalog` that Tekton has, I think it would be great to have a set of WorkflowTemplates/ClusterWorkflowTemplates for common tasks, that way everyone isn't re-inventing the wheel.

[2020-07-09 21:08] Mastergalen commented on #3436
Turns out the crash has nothing to do with WorkflowTemplates, but actually has to do with a volumeMount not existing.

Here is a workflow that produces the crash:
[code]

[2020-07-09 21:19] ibexmonj commented on #2239
I came here looking for the same answers that @uipo78 seeks on `PodSecurityPolicy`. I am willing to help where i can as im about to take argo workflow for a test drive.

[2020-07-09 21:39] alexec commented on #3438
https://github.com/tektoncd/catalog

[2020-07-09 21:52] alexec commented on #3436
Did you change fix it?

[2020-07-10 00:21] foobarbecue commented on #3341
Draft PR: https://github.com/argoproj/argo/pull/3441

[2020-07-10 02:39] Ark-kun commented on #944
Sounds good. What's the good date/time for you?

[2020-07-10 04:54] jacobdr commented on #3349
We enabled workflowDefaults in the ConfigMap to be:

[code]

But then submitting a job through `argo submit` via the CLI broke, so we also had to roll that back and just add the podGC to the submitted template. I think this ticket covers this so I won't open another issue. Wanted to mention it as another case that might help with reproduction

[2020-07-10 05:44] sarabala1979 opened #3443 "Event based Resume the suspended Workflow (EventTemplate)"
# Summary
The workflow needs to be suspended and wait for the event to resume it.  This is very similar to `suspendtemplate` which is currently suspending workflow, so it can be resumed based on the manual intervention or duration.

Please give examples of your use case, e.g. when would you use this.

# Proposal
The event template needs to support multiple event sources.
1. Kafka
2. Kubernetes Eve

[2020-07-10 06:13] sarabala1979 commented on #3443
Sample Workflow

[code]

[2020-07-10 06:25] sarabala1979 commented on #3349
I am working on it

[2020-07-10 06:34] JayLeeResBio commented on #3436
@Mastergalen I encounter this issue even if the volume does exist, defined in the WorkflowTemplate.  Invoking the wftmpl from a Workflow using **workflowTemplateRef** causes the panic as if the volume is missing.

`argo: v2.9.2
  BuildDate: 2020-07-08T23:54:33Z
  GitCommit: 65c2bd44e45c11e0a0b03adeef8d6800b72cd551
  GitTreeState: clean
  GitTag: v2.9.2
  GoVersion: go1.13.4
  Compiler: gc
  Platfo

[2020-07-10 06:59] arbielsk commented on #3432
@simster7 Thank you very much for fixing these so quickly! I'd love to buy you a coffee if you allow me. If that's possible I'd appreciate some details via pm :)
Thanks again!

[2020-07-10 08:42] kivio commented on #1204
I don't have this file - my bad.

But simplest example ever - even in simple example from main Argo repository. Put some unknown variables into code.
Like I do - I have put "mountPath" into container definition. Which is invalid of course. But when you get this file for example from the internet and it has 10 "mountPath's" for a different reason - it will be a little hard to recognize which one is

[2020-07-10 08:56] jamesgunnfiveai commented on #3396
@sarabala1979 - thanks for the merged fix. Should this ticket be closed?

[2020-07-10 09:18] ValdasK opened #3444 "Artifact mode is not recursive"
Argo version: 2.9.2

Artifact directory items in  do not get their mode set recursively. By setting a mode I'd expect every children to receive same permissions, but now if directory contains nested items, and container does not run as root, they are unable to access them.

Can be reproduced by uploading some files to bucket:

[code]

Then starting a workflow:

[code]

Container output looks like:

[2020-07-10 11:41] hadim opened #3445 "Set a maximum duration time between submission and workflow start time"
Sometime when no required nodes are available the cluster needs to start one before starting a workflow. During that time the workflow is in a pending state. It happens that cluster scaling does not work (for example when the workflow ask for incoherent requirements) and the workflow stay in the pending state forever until an admin cleans it.

Is an option similar to `activeDeadlineSeconds` exist

[2020-07-10 13:50] abusaidm opened #3446 "Cannot read property 'x' of undefined"
Release version: v2.9.1
Component: Web UI
Issue: UI fails to load workflow tree view, this happens after visiting some of the active/completed runs.

![image](https://user-images.githubusercontent.com/10223047/87160180-7b815300-c2ba-11ea-9b25-d179d5298978.png)

[2020-07-10 14:06] #3396 closed

[2020-07-10 14:18] zachaller opened #3448 "Failed to resolve `{{workflow.failures}}` in exit handler"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**: When submitting a workflow that used to work with argo workflows cli 2.8 now fails on argocli 2.9
with ```invalid spec: templates.exit-handler.steps[1].workflow-failed-notification templates.workflow-failed-notification: f

[2020-07-10 14:32] zachaller commented on #3443
Not sure of the plans to work more closely with say argo-events, but if argo-workflows just supported a lower common denominator like http, argo workflows then could use argo events to do all the other integrations like kafka, sqs etc. I do like this feature and think we could use it a well.

[2020-07-10 15:27] alexec commented on #3446
This should have been fixed in v2.9.2

[2020-07-10 15:29] blkperl opened #3449 "Parameters with values that contain quotes are not valid yaml when used in a resource manifest"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

A parameter with quotes when passed to a k8s `resource` manifest does not work

[code]

Not using quotes works
[code]

**What you expected to happen**:

I expect to be able to pass quotes in parameter values.

**How to re

[2020-07-10 15:30] alexec commented on #3448
@simster7 a regression related to exit handler. Do you want to own?

[2020-07-10 15:34] alexec commented on #3444
Can you confirm if this worked in v2.8.2 please?

[2020-07-10 15:36] alexec commented on #3449
Parameters must be valid YAML. Have you tried escaping the parameter, e.g. :

[code]

or
[code]

[2020-07-10 15:38] alexec commented on #3349
@jacobdr I think you are raising a bug with v2.9 rather than comment on an enhancement for v2.10. Can you please open another issue for you bug?

[2020-07-10 15:42] alexec commented on #3436
You YAML has mistakes, it is `mountPath` not `path`:

[code]

[2020-07-10 15:42] alexec commented on #3436
Panics anyway:

[code]

[2020-07-10 15:45] alexec commented on #3436
Bug fixe reveals the true error: `volume 'data' not found in workflow spec`

[2020-07-10 15:46] alexec commented on #3436
Original workflow: `volume 'doesnotexist' not found in workflow spec`

[2020-07-10 15:46] alexec commented on #3436
So workflow templates are not respecting mount paths, and I suspect other things.

@simster7 @sarabala1979

[2020-07-10 15:48] blkperl commented on #3449
Yes escaping the quotes works but the parameter value is provided by our users who may or may not use quotes. Since we submit the workflows with Go we could escape the string on their behalf but I was hoping there was another workaround.

[2020-07-10 15:50] ValdasK commented on #3444
Will try to get back to you on this on monday

[2020-07-10 15:53] simster7 commented on #3448
I'd be happy to own

[2020-07-10 16:11] JayLeeResBio commented on #3436
@alexec I believe this error is specific to using **workflowTemplateRef**, since this mode of use prohibits volume definitions in the consuming Workflow, forcing us to define the volumes in the WorkflowTemplate, which as you've discovered does not appear to respect the volume definition.

[2020-07-10 16:18] simster7 commented on #3448
Hmm, @zachaller I was able to submit this Workflow without a problem on latest:

[code]

Do you see anything missing that could help me reproduce?

[2020-07-10 16:24] #2936 closed

[2020-07-10 16:42] alexec commented on #3449
I'm glad there is a work around. Not very helpful mind you and could probably do with a fix. Would you be interested in creating a PR?

[2020-07-10 16:44] zachaller commented on #3448
So this is an example that is a bit closer to what we are doing but I had to remove a bunch of stuff, this one dose however behave slightly different than what I was seeing with our full versison of the workflow this one submits but then if I look at kubectl get events I see this

[code]

vs before it was throwing it right on the output of the cli, not sure if it matters but to clarify if we use a

[2020-07-10 17:37] alexec commented on #3341
I this #3436 fixes this too.

[2020-07-10 17:38] #2367 closed

[2020-07-10 17:39] alexec commented on #2967
Pagination has been added to the workflow list, but is set to all by default. If you change this, your choice is remembered.

[2020-07-10 17:43] alexec commented on #1322
I'm not sure we can fix this because of the Go client we use does not support streaming, only reading and writing files.

[2020-07-10 17:49] #2893 closed

[2020-07-10 18:00] #1957 closed

[2020-07-10 18:03] sarabala1979 commented on #2738
#3306

[2020-07-10 18:04] #2739 closed

[2020-07-10 18:06] sarabala1979 commented on #3343
@simster7 is working on POC

[2020-07-10 18:24] #3446 closed

[2020-07-10 19:30] alexec commented on #3445
@simster7 to suggest potential workaround.

[2020-07-10 19:33] alexec commented on #3445
@simster7 to reply with a workaround.

[2020-07-10 19:36] alexec commented on #3444
@alexec to write how to do this.

[2020-07-10 19:38] alexec commented on #3443
@alexec is demoing web hook events at community meeting and that might solve this use case.

[2020-07-10 19:42] jacobdr commented on #1757
I also am working to try to figure this out, will post here if I figure anything out

[2020-07-10 19:44] alexec commented on #3434
I'm not clear on the need for labels. Do you need to search the templates?

[2020-07-10 19:51] alexec commented on #3287
Discussed with user and fixed.

[2020-07-10 19:51] #3287 closed

[2020-07-10 19:55] alexec commented on #3097
We should see if `pod deleted` but -  `pod termination` - what do we do?

[2020-07-10 19:56] #3378 closed

[2020-07-10 20:02] #3325 closed

[2020-07-10 20:12] foobarbecue commented on #3341
Ah, cool, I'll try out #3437 and close this if it works

[2020-07-10 20:14] alexec commented on #3197
@simster7 to follow up with whether or not v2.9.2 may fix this.

[2020-07-10 20:21] alexec commented on #2993
Discussed on Slack and fixed.

[2020-07-10 20:21] #2993 closed

[2020-07-10 20:24] alexec commented on #2831
@simster7 to respond.

[2020-07-10 20:24] #2831 closed

[2020-07-10 20:25] jacobdr commented on #1757
I think this is the relevant piece of code: https://github.com/argoproj/argo/blob/81cba832ed1d4f5b116dc9e43f1f3ad79c190c44/workflow/util/util.go#L221

Essentially looks like we need to pass key,value pairs separated by an equal sign. This makes using the generated OpenAPI client a bit unwieldy and there seems to be a disconnect between my initial finding and when I observe in the Networks panel of

[2020-07-10 20:27] alexec commented on #1322
See #3376

[2020-07-10 20:28] alexec commented on #1322
We could try upgrading the Minio Go client and see if that helps.

[2020-07-10 20:29] alexec commented on #3026
The original error is most likely with the Helm chart. Can anyone provide an example of this with the standard manifests?

[2020-07-10 21:59] paulm-jones commented on #1757
I did figure it out in the end. It is as you say, with an equals sign. And if you need to pass lists or maps, we can escape the square and curly brackets to pass those too. Would be good to have it in the API spec. It works just fine once you know how!

[2020-07-10 22:02] alexec commented on #3080
After some short amount of experimentation, I've found been able to create an ingress on K3S:

1. Update `service/argo-server` spec with `type: LoadBalancer`
2. Add `BASH_HREF` as environment variable to `deployment/argo-server` .
3. Create a ingress, with the annotation `ingress.kubernetes.io/rewrite-target: /`.

[code]

While needing this in not uncommon for ingresses, it's not also straight for

[2020-07-10 22:17] alexec commented on #3080
https://github.com/argoproj/argo-cd/pull/3475

[2020-07-10 22:28] alexec commented on #1757
Relevant API docs:

* https://argoproj.github.io/argo/swagger/#apiv1workflowsnamespace
* https://argoproj.github.io/argo/swagger/#ioargoprojworkflowv1alpha1workflowcreaterequest

[2020-07-10 22:38] cscetbon opened #3452 "spec.entrypoint is required on a wftmpl if we want to submit it"
**What happened**:
When I try to submit a workflow template that does not define spec.entrypoint `argo submit` fails. It's not mandatory and the command should support it as workflows do when they call a workflow template that does not define it.
[code]
**What you expected to happen**:
I expect the definition of entrypoint to not be mandatory if we want to submit a workflow template.

**How to rep

[2020-07-10 22:41] sarabala1979 commented on #3452
you can pass `entrypoint` as commandline option

` argo submit --from wftmpl/wt-run-get-reports-job -p p1=v1 -p p2=v2 -p p3=v3 -entrypoint <templatename>`

[2020-07-10 22:42] cscetbon commented on #3452
Yeah I can but I think it's only a workaround.

[2020-07-10 22:45] sarabala1979 commented on #3452
Submitting workflowtemplate is basically executing workflowtemplate entire as a workflow. Entrypoint is a mandatory on workflow.
you can define `entrypoint` on submittable workflowtemplate or you can pass through commandline option

[2020-07-10 22:48] cscetbon commented on #3452
I'm sorry @sarabala1979 but I do not agree with the new label you assigned it. When I use a template by referencing it in a workflow I never specify the entrypoint but it's executed as expected:
[code]
I think it should still be labeled as a `bug` cause you are adding a limitation that clearly should not be there.

[2020-07-10 22:50] cscetbon commented on #3452
oh wait I actually need to specify the `template`

[2020-07-10 23:00] alexec commented on #3214
Investigating. Sorry about the delay.

[2020-07-10 23:08] alexec opened #3453 "Support `resubmit` with memoization from the UI"
# Summary

This is not possible in the UI.

# Motivation

Make `argo resubmit --memoized` available as a UI feature.

# Proposal

React!

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-07-10 23:10] alexec commented on #3453
See #3214

[2020-07-10 23:21] alexec opened #3454 "Don't force a reload on UI error"
# Summary

When the UI reports an error, it bubbles up to a special error page, this page blocks the UI and we can't use it anymore.

# Motivation

Is there a better. way to do this?

# Proposal

How do you think this should be implemented?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way t

[2020-07-10 23:23] sarabala1979 commented on #3452
Workflowtemplate will be used in two scenarios.
1. Referring defined Templates from `workflowtemplate` to workflow as `templateref`. In this scenario, entrypoint is optional.
    a. This is mainly just reusing  template definitions with different arguments
2. After 2.8, you can define the entire workflow as Workflowtemplate and you can create workflow out of workflowtemplate. In this scenario, ent

[2020-07-10 23:36] alexec commented on #3214
I think this is a bug with panics `node already initialized `

[2020-07-10 23:45] alexec commented on #3214
Related? #2721

[2020-07-10 23:53] alexec commented on #3214
Root cause?

https://github.com/argoproj/argo/pull/2721/files#diff-fcb04129f1d32e69cca32631c6586587L800-R799

[2020-07-11 00:06] alexec commented on #3214
See #2385

[2020-07-11 00:19] alexec commented on #3214
Related #1552

[2020-07-11 01:06] foobarbecue commented on #3341
I just tried it, at 81cba832ed1d4f5b116dc9e43f1f3ad79c190c44 and get
volume 'nac-volume' not found in workflow spec

[2020-07-11 01:10] alexec commented on #3341
@foobarbecue - this needs two fixes. One to remove the panic that obscures the error (this was a pre-existing bug) an another to fix the actual bug #3441.

[2020-07-11 01:12] foobarbecue commented on #3341
Ah, ok. When we make a WF from a WFT, and the WF is referring to the WFT using workflowTemplateRef, do we want the volumes and stuff to stay on the WFT? Or do we want to copy them to the WF? My #3441 copies them to the WF.

[2020-07-11 17:01] hadim opened #3457 "SSH into a running workflow's node"
It would be very nice to be able to SSH into a running workflow's node directly from the UI.

That being said this is not a small feature. There is work both on the frontend and backend side.

Thoughts?

[2020-07-11 17:02] hadim commented on #3457
This feature should also contain a mechanism to only allow SSHing for certain service accounts.

[2020-07-11 22:44] rbreeze commented on #1117
@alexec Just seeing this. Would be happy to look into this and document it.

[2020-07-12 17:30] RenukuntlaMonisha opened #3559 "cannot submit argo workflow"
I tried to submit argo workflow using the command
$argo submit hello-world.yaml
the contents of hello-world.yaml are:
[code]

[2020-07-12 22:07] ashrafgt commented on #3390
@alexec
For GCS-based artifact storage, [Object Lifecycle Management](https://cloud.google.com/storage/docs/lifecycle) does the trick.

[2020-07-12 22:16] hadim commented on #1028
I would also be interested in that feature.

[2020-07-12 22:23] ashrafgt opened #3458 "Capture python exception messages into the Argo step messages"
# Summary

I'd like to know if it's possible to capture python exception messages (or whatever other `stderr` content) into the step exit message.

# Motivation

Being able to access and report a summary of the errors and their descriptions (coming from the exception messages) directly from `{{workflow.failures}}`.

I do realize that it's possible to implement a custom mechanism based on text file

[2020-07-13 05:10] ValdasK commented on #3444
Installed using

[code]

And behavior seems to be identical, folders are readable only by root, and files only get read access.

[2020-07-13 08:40] gmahomarf opened #3459 "Unclear error when using an output parameter with `valueFrom.path` in a template that inherits from another template, has steps, and is used as a template for steps"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
_See [this workflow spec][gist] for a minimal example and reference._

We have a template that receives a shell script as an argument (**BASE_TEMPLATE**), which it executes after some common setup. One of our steps uses a

[2020-07-13 09:20] maryoush commented on #3415
Hi
 we are using the default one which is 'docker' https://argoproj.github.io/argo/workflow-executors/
I was trying to switch it to higher abstracted (kubelet , k8s ) but we have issues with steps saving output to some local dirs

[2020-07-13 09:49] arbielsk opened #3460 "TTLStrategy.secondsAfterCompletion does not work with value > 22 seconds"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
I specified TTLStrategy.secondsAfterCompletion to a value of 30 seconds (also tried 60, 22, 25, 120 and 20). However if a value of 22+ seconds was specified, the workflow was not garbage collected as expected.

**What you

[2020-07-13 10:08] sfxworks opened #3461 "Helm parameters should allow maps"
# Summary

Helm parameters should allow for map values instead of just strings

# Motivation

Trying to configure annotations for ingress https://github.com/goharbor/harbor-helm/blob/master/values.yaml#L37-L40
Using application spec https://argoproj.github.io/argo-cd/operator-manual/declarative-setup/

May need to use values.yaml. In which case, the ability to have secrets referenced in parameters

[2020-07-13 13:25] hadim commented on #3428
Another use case: we would like as a `workflowDefaults`. It's convenient with a handler since you can add a `onExit` template that is not related to your "business DAG". Without an `onStart` handler, you must add an extra node manually to your "business DAG".

[2020-07-13 13:43] Techyuvi commented on #3413
Thanks for replay I will check my configuration for this one and will let you know.

[2020-07-13 13:44] zachaller commented on #3448
@simster7 Let me know if this still does not cause throw the issue for you and I can try to come up with a simpler one as well.

[2020-07-13 14:40] alexec commented on #3461
I think this is an Argo CD issue, not an Argo Workflows issue?

[2020-07-13 14:44] alexec commented on #3444
If your archive does not have the permissions you need when unpacked, because it was packed without the permissions you want,  use the `script` template and chmod to fix this. E.g.

[code]

Note that you typically want different permissions for files and directories.

[2020-07-13 14:45] alexec commented on #3390
S3: https://docs.aws.amazon.com/AmazonS3/latest/dev/intro-lifecycle-rules.html#intro-lifecycle-rules-actions

[2020-07-13 14:47] alexec commented on #1117
Thank you @rbreeze . I'll assign it to you. I think we just need to comment `workflow_types.go/NodeStatus`

[2020-07-13 14:49] #3191 closed

[2020-07-13 14:59] alexec opened #3462 "Support Git single-branch mode for performance"
# Summary

Update the code to allow `git clone -b my-branch --depth 1 my-repo` as this is the fastest way to check out a branch.

# Motivation

We want to checkout large Git repos faster.

# Proposal

See #373

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-07-13 15:01] #3420 closed

[2020-07-13 15:06] alexec commented on #3460
Hi @arbielsk - your YAML is invalid. It should be:

[code]

[2020-07-13 15:08] alexec commented on #3460
I ran with this YAML and it worked for me?

[2020-07-13 15:16] alexec commented on #3459
Reviewing the linting code (`validate.go` line 982) is that only certain `valueFrom` fields are valid. This depends on the type of template:

* `container` or `script` - can only be `path`
* `resource` must be `jqFilter` or `jsonPath`
* `steps` or `dag` must be `parameter`

This makes sense - neither DAG or steps run a container - they run other containers - so `path` cannot refer to anything.

I

[2020-07-13 15:41] simster7 commented on #3432
Thanks! No worries at all, positive feedback like this is as encouraging as coffee :)

[2020-07-13 15:49] simster7 commented on #3448
@zachaller Still unable to reproduce:

<details>
  <summary>Click to see my result of `kubectl describe wf build-api-mmh5r` </summary>

[code]
</details>

Perhaps come up with a simpler one?

Something to consider: do you hae multiple controllers that may have access to the same Workflow? You might have a controller with an older version wrangling with a newer one over the same Workflow.

[2020-07-13 15:52] alexec commented on #3438
Some additional thoughts on this:

The TektonCD catalog appears to have about 50 items in it. I'd imagine we'd want to start with at least 20 ourselves. Our catalog will succeed or fail based on content.

Helm already provides a way to package manifests.

Rather than storing templates, we could store packages of resources, e.g. if the workflow depends on other Kuberenetes resources.

Let us call t

[2020-07-13 15:52] #2970 closed

[2020-07-13 15:54] alexec commented on #3438
Notes on Helm charts:

Meta-data is in `Chart.yaml`.
A chart is a zip file.
We can't use Helm due to `{{`.
If template packages can be installed using `kubectl apply` then we can support older versions.

[2020-07-13 15:54] alexec commented on #3438
Maybe:

[code]

[2020-07-13 15:55] alexec commented on #3438
Argo Helm charts: https://github.com/argoproj/argo-helm

https://argoproj.github.io/argo-helm/

[2020-07-13 15:57] alexec commented on #3438
Argo Helm charts are automatically published as soon as merged to master. We could do something similar using Github Actions. Creating an index and maybe a small searchable website?

https://github.com/argoproj/argo-helm/blob/gh-pages/index.yaml

[2020-07-13 15:59] alexec commented on #3438
@ericandrewmeadows, @dcherman, @maguowei, @dcherman @ramanNarasimhan77 - you are all interested.

I think there is some discussion around formatting of templates and the like, but what I think we need more than anything else is a number of seed templates for the catalog.

Would you each be willing to provide some, and perhaps to help with reviewing future submissions?

I think this is critical to

[2020-07-13 16:01] zachaller commented on #3448
@simster7 we do have quite a few workflow controller versions installed with cluster level permissions, but we do set ```workflows.argoproj.io/controller-instanceid: argo-v2.9``` would there be a change with the CLI between 2.8 and 2.9 because if we submit the workflow to the 2.9 controller but use the 2.8 CLI to do so it works.

[2020-07-13 16:03] simster7 commented on #3445
Hi @hadim. We think this is a valid use case, however we think it's possible to do so without any new functionality. Possible workarounds for this:

1. Add a step to your Workflow and runs before all other steps. This step can compare the result of `workflow.creationTimestamp` and the current time to determine if too much time has passed between the two. If that's the case, the step can fail itsel

[2020-07-13 16:08] simster7 commented on #3197
Hi @saitoy1, sorry for the delay. I won't be able to speak much about running the Workflow on AWS/EKS/EC2 as I don't have much experience running them in those environments.

Correct, this is an important distinction.

We recently optimized some of the DAG logic in 2.9.2: https://github.com/argoproj/argo/pull/3418. Could you give it a try to see if it alleviates your issue?

[2020-07-13 16:12] hadim commented on #3445
Thanks for the workarounds. That's interesting.

For 1): That's my preferred solution but to make it even better that would be great to be able to do it with an `onStart` handler so we don't have to manually add a new node in a DAG and we could set this in the `workflowDefault` setting. See https://github.com/argoproj/argo/issues/3428 about `onStart`.

For 2): good idea, I think we'll do that wait

[2020-07-13 16:13] simster7 commented on #3448
Which 2.8 version of the CLI are you using? I'll take a look and see if I can reproduce this with it

[2020-07-13 16:16] simster7 commented on #3445
Great, will be closing as solved. We can continue the discussion of `onStart` in #3428

[2020-07-13 16:16] #3445 closed

[2020-07-13 16:18] simster7 commented on #2970
You can convert any `Workflow` into a `CronWorkflow`, including those that use DAGs. Take a look at the instructions in: https://github.com/argoproj/argo/blob/master/docs/cron-workflows.md

[2020-07-13 16:21] simster7 commented on #2831
@salanki Could you provide a short example? Sorry I can't seem to understand what you mean. Do you mean that global parameters in a Workflow are not accessible within templates referenced using `templateRef` or that global parameters in a `WorkflowTemplate` are not carried over when calling templates referenced using `templateRef`?

[2020-07-13 16:28] zachaller commented on #3448
@simster7 so with argo CLI 2.8.2 submitting against Controller 2.9.2 it works, but if we use CLI 2.9.2 we get the failure. Here is kubectl get events output of both runs the 2.8.2 cli fails at starting docker etc but would expect that based on the hacked up workflow the 2.9.2 cli gives the failed to resolve.

We do have quite a few version of the controller running so I will also see if I can't fi

[2020-07-13 16:41] saosebastiao opened #3463 "Windows CLI is gone"
# Summary

What do you want to know about this project?

What happened to the Windows CLI app?

# Motivation

Why do you need to know this, any examples or use cases you could include?

I have been going through some due diligence to test/adopt this project at T-Mobile, but right before we were about to deploy, the Windows CLI downloads seemed to disappear.  This could potentially be a dealbreaker

[2020-07-13 16:44] simster7 commented on #3463
The windows CLI is available in our latest release page:

https://github.com/argoproj/argo/releases/tag/v2.9.2

https://github.com/argoproj/argo/releases/download/v2.9.2/argo-windows-amd64

Am I missing something?

[2020-07-13 16:47] simster7 commented on #3448
Are you using an `argo-server`? Depending on your installation, the CLI validation might be done on the Argo Server and if the server is out-of-date or out-of-sync with the controller/cli you might run into issues. However, it seems more likely that the cause could be related to the multiple controllers. Let me know what your find out from the logs of the different controllers.

[2020-07-13 17:01] zachaller commented on #3448
Yup found the issue seems like there is some difference in how argo cli 2.8 vs 2.9 handles submitting of workflows so when I was using 2.9 cli the workflow was getting submitted to our default controller which is a bit older so had to add the ```--instanceid=argo-v2.9```  to the submit command apparently that was not needed on 2.8 maybe?

[2020-07-13 17:43] simster7 commented on #3448
Awesome! Not that I can think of, but I believe there was some work done to refactor the CLI recently

[2020-07-13 17:43] #3448 closed

[2020-07-13 17:43] alexec commented on #3080
@kevinsimons-wf, @ramanNarasimhan77, @ematpad, @gordonbondon, @damianoneill, @yuvraj9, and @yk634 - could I please ask you to review the proposed solution and state if it is adequate - or a better solution is needed?

[2020-07-13 17:49] gmahomarf commented on #3459
Ok, that makes a lot of sense, actually. Might be a good thing to document (unless it already is and I completely missed it)

[2020-07-13 17:58] alexec commented on #3355
@sarabala1979 I think the fix is this:

[code]

[2020-07-13 18:12] #3416 closed

[2020-07-13 18:13] aviklai commented on #3416
I update the retryStrategy and now it looks o.k - a new pod is created when a pod is deleted by an autoscale event.

[2020-07-13 18:41] alexec commented on #3458
I'm afraid that there is not 1st class way to do this today. I've marked this issue as `workaround` as you've stated you have one already.

[2020-07-13 18:44] Sushant20 commented on #1813
@alexec Any possibility of supporting SAML authentication for argo server(workflow) UI in future?

[2020-07-13 18:53] #2550 closed

[2020-07-13 19:00] ericandrewmeadows commented on #3438
@alexec - definitely would love to provide some on the CI/CD side of things, and then willing to review future submissions.  I am currently waiting on legal to blanket support our OSS contributions - that should be easy; I will check on the progress with that tomorrow.

[2020-07-13 19:01] alexec commented on #3343
@mehtadeepen we spoken about use a Git input artifact. Are you happy with that solution?

[2020-07-13 19:04] alexec commented on #2637
Supported characters
[code]

[2020-07-13 19:05] alexec commented on #2637
So you just want seconds?

[2020-07-13 19:09] alexec commented on #3217
Argo Workflow never changes resource quotas directly, so it unless the change to resource quotes somehow as a side-effect of creating pods, we are not sure what is happening here.

[2020-07-13 19:10] alexec commented on #2551
@simster7 bump!

[2020-07-13 19:13] alexec commented on #2758
It's not possible to do this natively in Argo Workflows. However, you can do this by having one step that unpacks the artifact and has an output parameters that is a list of the items. This is then used as an input to `withItems`.

[2020-07-13 19:20] alexec commented on #1031
Apache Pulsar?

[2020-07-13 19:24] bryanlarsen commented on #3217
It's a Kubernetes bug.  https://github.com/kubernetes/kubernetes/issues/67761

But it's a bug that seems fairly straightforward to work around in Argo; just retry if this particular failure condition is hit.

@Ziyang2go I think you said you had a hack fix, can you attach it?

[2020-07-13 19:28] alexec commented on #3214
See #3097

[2020-07-13 19:44] alexec commented on #3097
"pod termination" is a red-herring - this was changed to "pod deleted" 7th May (see #2855).

As with `Failed` vs `Error` - this was changed.

The cause of "pod deleted" is someone deleted pod with `kubectl` and Argo Workflows decides the workflow should be in error state.

The outcome is different if you use `--force`:

* `k delete wf-ql9nf-3336848021` - error status + "pod deleted".
* `k delete -

[2020-07-13 19:44] ashrafgt commented on #3458
@alexec

Regarding the workaround, for situations where we'd like to avoid using persistent-volume to access files across steps, I've been trying to implement something based on global/optional artifacts.

Unfortunately, I'm unable to get a demo to work (the `report-failed-steps` step fails to resolve the supposedly optional artifact `step-b-error`). If you could please review it and see if it's p

[2020-07-13 19:46] alexec commented on #1813
Could you use Dex to bridge the gap?

[2020-07-13 19:47] alexec commented on #3438
This is a PoC for a online catalog (took about 1hr):

https://github.com/alexec/argo-workflows-catalog

[2020-07-13 19:53] alexec commented on #3214
OK. So @sarabala1979 fixed on master - but now we need to back-port a new fix to v2.9.

[2020-07-13 19:55] alexec commented on #3458
Optional input artifacts are only correctly supported recently. What version are you running please?

[2020-07-13 20:42] ashrafgt commented on #3458
I actually noticed I pasted a wrong demo, so I edited my previous comment to rectify it. Kindly view it again if needed.

As for version info:
[code]
[code]

[2020-07-13 20:50] alexec commented on #3458
Ok. You need try with v2.9.

[2020-07-13 21:04] ashrafgt commented on #3458
Retried with v2.9. Same error unfortunately.
![image](https://user-images.githubusercontent.com/21145829/87353494-d1712780-c554-11ea-9257-60821b4c8e7e.png)

[2020-07-13 21:33] saosebastiao commented on #3463
Sorry, forgive me, I'm not sure what I was thinking.

[2020-07-13 21:33] #3463 closed

[2020-07-14 00:20] dcherman commented on #3438
Sure, I'm happy to contribute a few templates + participate in reviews

[2020-07-14 00:21] #3436 closed

[2020-07-14 00:34] #1038 closed

[2020-07-14 01:22] ramanNarasimhan77 commented on #3438
@alexec
I'm using Argo mainly for CI process and I might be able to contribute templates for Kaniko build etc. I am also open to participate in reviews.

[2020-07-14 01:24] ramanNarasimhan77 commented on #3080
@alexec  I will test this today and comeback with my findings

[2020-07-14 01:24] athornton commented on #2239
It's a little alarming that I need to turn a regular user pod into a super_privileged_container for Argo to be happy.

[2020-07-14 01:30] athornton commented on #2239
Also didn't help:
`
        "securityContext": {
            "runAsGroup": 53127,
            "runAsUser": 53127,
            "seLinuxOptions": {
                "type": "spc_t"
            },
            "supplementalGroups": [
                1726,
                33489280,
                1363,
                1618,
                1710,
                1383,
                1592,

[2020-07-14 01:35] athornton commented on #2239
My service account has a role which is a superset of what should be needed.

[code]

[2020-07-14 01:46] dtaniwaki commented on #3013
We currently store resolved templates per `Template` instead of per `WorkflowTemplate` in the `Workflow` status, so if we want to store something at the `WorkflowTemplate` level, there's no place for them. I don't come up with a good place for them now, but I think this kind of feature is useful.

By the way, you can add a parameter of the version which is stored into stored templates to achieve i

[2020-07-14 03:00] qjcg commented on #2637
@alexec Specifically, seconds since the [Unix Epoch](https://en.wikipedia.org/wiki/Unix_time).

Examples of usage:

- [`strftime(3)`](https://www.man7.org/linux/man-pages/man3/strftime.3.html)
- `python -c 'from datetime import datetime; print(datetime.now().strftime("%s"))'`
- [Flux Timestamps - Unix timestamp](https://www.influxdata.com/blog/tldr-tech-tips-flux-timestamps/)

[2020-07-14 04:15] gordonbondon commented on #3080
@alexec I got it working with this setup

1. `BASE_HREF` set to subpath with trailing slash (trailing slash is an important one because of how `<base href>` tag works, I guess we can just update docs here https://github.com/argoproj/argo/blob/676868f31da1bce361e89bebfa1eea81471784ac/docs/argo-server.md#base-href from `/argo` to `/argo/` - that's what got me confused at first)
2. No updates to argo

[2020-07-14 04:35] alexec commented on #2239
Is this related to #3415 ?

[2020-07-14 04:39] alexec commented on #2239
@jessesuen it seems reasonable to run pod without super-user privileges. That is the case with the Docker executor.

In is not the case with other executors, perhaps you might try the PNS or K8SAPI executors?

https://argoproj.github.io/argo/workflow-executors/#process-namespace-sharing-pns

[2020-07-14 04:40] alexec commented on #3013
Kubernetes already have a way to store meta-data that TektonCD Catalog leverages.

They put it in `app.kubernetes.io/version`

https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/

That said, there is nothing to stop you adding almost  any annotation or label you like to a workflow.

[2020-07-14 04:41] alexec commented on #2637
@qjcg ok. This is an easy change - would you be interested in submitting a pull request? This is the line of code that would need to be changed:

https://github.com/argoproj/argo/blob/master/workflow/controller/operator.go#L434

[2020-07-14 04:42] alexec commented on #3438
@ericandrewmeadows @dcherman @ramanNarasimhan77 I challenge you to put your money where you mouth is ;)

If I set-up a repository, would you contribute your first one or two templates? I'll look to the community to get more help.

[2020-07-14 05:05] ValdasK commented on #3444
Could you post an example yml for how to use this script template together with image?

As if my container is not root, it won't be able to chmod root owned items, and if I move script to another part, it will receive copies of those inputs?

Or do you say I have to:
1. download from storage
2. run script to chmod using root
3. pass chmoded artifacts to my image?

[2020-07-14 06:24] arbielsk commented on #3460
@alexec Please excuse me. It seems this was actually an issue with my local kubernetes setup. A restart of the workflow-controller pod did not remedy the issue for me (I did that before creating the bug report), but tearing down the whole namespace and reinstalling argo in it, did it.

[2020-07-14 06:24] #3460 closed

[2020-07-14 06:36] xubofei1983 commented on #1038
@tpengandrew ,  Sry I missed that.

https://github.com/kube-aws/kube-spot-termination-notice-handler  is something I saw recently that may help if you or anyone still looking for.

[2020-07-14 07:17] jyotishp commented on #3097
@alexec

Can you help me understand this?

I do not think that should be the case. Adding `--force` still sends out a k8s event. This is the event sent on force delete.

[code]

If k8s state is updated properly, shouldn't the workflow controller (which uses k8s for tracking its state) detect this?

[2020-07-14 07:19] jyotishp commented on #3097
Also, this still doesn't explain why the task is marked as "Succeeded" when `--grace-period=0` is used.

[2020-07-14 12:56] lueenavarro opened #3468 "How to use global variables in workflow templates?"
# Summary

Is it possible to use global variables inside workflow templates? I tried to do it but I get an error of failed to resolve <GLOBAL_VARIABLE>

# Motivation

I have like 5 workflows that shares the same templates, I'd like to put those templates on a separate workflow template so that I could just reference them. But they have global variables like {{workflow.failures}} and {{workflow.sta

[2020-07-14 15:07] sarabala1979 commented on #3468
Are you using this variable in the exit handler and the exit handler template is referring workflowtemplate? These global variables are only available in exit handler.

[code]

[code]

[2020-07-14 15:08] dcherman commented on #3438
Sure.  I think one of the first tasks to make will be an argo-cd sync/wait task, similar to what exists in the Tekton catalog which I'll be using for inspiration.  Seems to make sense given the project :)

[2020-07-14 15:15] dcherman commented on #3438
I 100% agree with this and would hope to avoid something more complex Helm.  Off the top of my head, I would not expect us to provide access to every single option that Argo can support, but instead a common set of defaults.  For things like resource requests/limits, affinities, etc, it would be fantastic if we could support a Kustomize based workflow so that consumers can still use our manifests

[2020-07-14 15:20] sarabala1979 commented on #3415
The Waitcontainter needs to run as root. it has some root level operation like send single to main container, copy the files from main container, and monitor the main container.

[2020-07-14 15:21] alexec commented on #3438
OK. I've added instruction to create templates:

https://github.com/argoproj-labs/argo-workflows-catalog/blob/master/README.md

Let me know how you get on.

[2020-07-14 15:24] alexec commented on #3097
All I'm really saying is that, from the workflow controller logs, we never see the pod being deleted if you use force. I'm not sure why this is and will speak to my team later.

[2020-07-14 15:33] alexec commented on #3097
@jessesuen and @alexmt  -  it looks like the pod informer does not get notified if the pod is deleted using `--force`, this maybe pick up after a re-sync. Have you ever seen this?

[2020-07-14 15:36] alexec commented on #3097
Delete with force - last message
[code]
Delete without force:
[code]

[2020-07-14 15:40] alexec commented on #3097
Bug found:

``
 controller | time="2020-07-14T08:39:44-07:00" level=info msg="insignificant pod change"
[code]

[2020-07-14 15:46] alexec commented on #3341
Fixed in v2.9

[2020-07-14 15:46] #3341 closed

[2020-07-14 15:47] alexec commented on #3214
Fixed in v2.9

[2020-07-14 15:47] #3214 closed

[2020-07-14 15:48] lueenavarro commented on #3468
oh so that's why its not working when I'm using workflow templates. Thank you.

[2020-07-14 15:48] #3468 closed

[2020-07-14 16:39] #3097 closed

[2020-07-14 17:42] ajkaanbal opened #3471 "Exit handler on a WorkflowTemplate doesn't resolve input parameters."
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
I created a WorkflowTemplate with an exit handler that uses an input parameter but the exit handler only uses the default value not the value I pass when submit from that template.

`argo submit --from workflowtemplates/he

[2020-07-14 18:20] #3404 closed

[2020-07-14 18:20] hadim opened #3474 "Correct timezone in logs"
The logs provided by the UI are timestamped. The dates and times provided are always the European ones.

I tried to set `TZ=America/Toronto` to both the `workflow-controller` and `argo-server` deployment without success.

Is that possible to configure the timezone?

[2020-07-14 18:25] alexec commented on #3474
The timestamps in the logs are standard GMT (was UTC) timestamps. It is not currently configurable, but I think it would be easy to contribute a change to enable this. Would you be intested?

[2020-07-14 18:25] simster7 opened #3475 "In-place retries using ephemeral containers"
Following the conclusion of https://github.com/argoproj/argo/issues/2551:

Investigate the potential of using ephemeral containers to do in-place retries within the same pod. When performing in-place retries, containers would be started as ephemeral containers instead of main containers, allowing them to be restarted in-place after they fail. The benefits of this feature would include a more const

[2020-07-14 18:26] simster7 commented on #2551
Closing this as it is currently implausible. Related: https://github.com/argoproj/argo/issues/3475

[2020-07-14 18:27] hadim commented on #3474
I am new to golang but happy to help if you point me in the right direction.

[2020-07-14 18:28] hadim commented on #3474
I guess it's simple to do that on the UI side. But would be better to have this option on the server-side right?

[2020-07-14 18:32] sarabala1979 commented on #3355
I thought about this. This will resolve the only defaults. I am thinking  more usecases if user passing serviceaccount through CLI option, need to pass volumes and pvc.

[2020-07-14 18:36] athornton commented on #2239
The k8sapi executor does the trick for me (scalability is not a huge concern at this point).

[2020-07-14 18:43] alexec commented on #3474
I would implement this on the UI side, as it is a display issue.

Looking at the code:

https://github.com/argoproj/argo/blob/master/ui/src/app/workflows/components/workflow-logs-viewer/full-height-logs-viewer.tsx#L18

That is where to make the fix.

[2020-07-14 21:26] #3319 closed

[2020-07-14 21:52] #3057 closed

[2020-07-14 21:52] #3471 closed

[2020-07-14 22:22] kimberly-lee opened #3479 "Is it possible to create and mount a volume on the wait container?"
# Summary

Is it possible to create and mount a volume on the wait container? The executor in the docs looks like we can only set container specs: https://github.com/argoproj/argo/blob/master/docs/workflow-controller-configmap.yaml#L107

If we need to do a combination of both container and pod specs on the workflow-controller-configmap under `executor`, what would that look like?

# Motivation

Th

[2020-07-14 22:28] glennpratt commented on #3449
I'm not sure what is meant by "Parameters must be valid YAML".

Every example in this issue appears to be valid YAML according to every validator I came across:

[code]

I don't think there is a clear format here, but if there was why wouldn't Argo validate that and reject these incorrect parameters?

Instead what it seems is Argo templating allows parameters to escape the YAML structure they are

[2020-07-14 23:15] Sushant20 commented on #1813
Hi @alexec I do see Dex usage for SAML 2.0 implementation similar to whats mentioned here for argo cd UI:https://argoproj.github.io/argo-cd/operator-manual/user-management/okta/. How would Okta SAML work with Dex with respect to argo workflow UI? I don't see any relevant config to enter in workflow configmap. Can you provide some references with example, if possible?

[2020-07-14 23:15] dcherman commented on #3438
First draft PR created!  I did find a couple questions/issues that I either filed issues for or put a note in the PR about

[2020-07-14 23:49] alexec commented on #1813
I think you must configure DEX to connect to your SAML provider, and then configure Argo to connect to DEX.

[2020-07-14 23:49] alexec commented on #3438
![catalog](https://user-images.githubusercontent.com/1142830/87487267-08494b00-c5f2-11ea-967b-e698e9f12fd0.png)

[2020-07-15 00:02] alexec commented on #2667
@nHurD, @deepk2u, @kmarquardsen, @juanchristensen, @kabilan6, @samath117, @shrimank, @maguowei, @oleg-borodai, @nikopen please can your review the proposal:

https://github.com/alexec/argo/blob/cloudevents/docs/events.md

[2020-07-15 00:46] saitoy1 commented on #3197
Thank you @simster7 @alexec for further looking into this! I have tried `v2.9.2` but still ran into the same issue.

One thing I discovered though was when I specified the `parallelism` parameter, then the workflow ran faster. Specifically, when I specify 200 for `parallelism`, the workflow ran in 16 minutes 19 seconds, whereas if I don't explicitly specify any value for `parallelism` it normally

[2020-07-15 02:29] #2437 closed

[2020-07-15 03:00] kimberly-lee commented on #3479
I ended finding a very roundabout way to do this. I mounted the volumes in my Workflow template. The `wait` container got those same volumes that are in the `main` container under the `/mainctrfs` directory. Then I set the env variable to that location and then pushing to S3 worked.

We would prefer though to be able to specify in the workflow_controller_configmap.yaml to mount the volume on the w

[2020-07-15 09:40] ramanNarasimhan77 commented on #3080
@alexec  for my case the ingress does not seem to be the issue as the main workflow page renders properly.
However, I see an empty screen when i click on any specific workflow and it takes sometime to load.

Our cluster has this setup
load balancer -> cluster wide ingress controller -> gatekeeper -> application's ingress controller -> argo

When I deploy argo separately using the manifests I dont

[2020-07-15 09:49] gmahomarf commented on #3459
For anyone who lands here, [this is what I ultimately ended up going with][1]

@alexec thanks again for the clarification. It was really helpful

[1]: https://gist.github.com/gmahomarf/5c9823a2da6436f79c9bb70559fec572

[2020-07-15 09:49] #3459 closed

[2020-07-15 14:21] ericandrewmeadows commented on #3438
Got clearance - whether the work will be associated with my company or not, we can make the OSS contributions :).

[2020-07-15 15:10] alexec commented on #3479
Try Workflow Defaults?

[2020-07-15 15:16] alexec commented on #3080
@ramanNarasimhan77 do you have a very large workflow? 1000+ nodes?

[2020-07-15 15:17] alexec commented on #3438
@ericandrewmeadows great news!

[2020-07-15 15:22] ramanNarasimhan77 commented on #3080
@alexec No, my workflow only has 3 steps. I am not sure what could cause this behavior. But if others are able to use Argo with Base_href set then I think this ticket can be closed. The issue on my cluster is probably caused by one of the ingress controllers. I will continue my investigation.

[2020-07-15 15:29] ramanNarasimhan77 commented on #3438
@alexec I need some guidance. I currently have a workflow that does the kaniko build by reading source files from a pvc. I'm thinking of modifying this to make the WorkflowTemplate

But I am not sure how pvc is shared between the Workflow where the pvc is defined and the WorkflowTemplate where it is referred. Is there an example available for this?

[2020-07-15 16:08] ricoms commented on #582
Following [quickstart documentation](https://argoproj.github.io/argo/quick-start/) it says "If you're using running Argo Workflows on a remote cluster (e.g. on EKS or GKE) then [follow these instructions](https://argoproj.github.io/argo/argo-server/#access-the-argo-workflows-ui)."

On those instructions it says "Update the argo-ui service to be of type LoadBalancer." `kubectl patch svc argo-ui -n

[2020-07-15 16:10] simster7 commented on #3197
Interesting, this could be helpful information. How does the runtime change with other values of `parallelism`? I would imagine that it's a "U" shape: longer run times with very low values or very high values, while there is a "sweet spot" with a middle value and a low runtime. Can you verify this? I'll investigate and see if anything stands out to me regarding `parallelism`

[2020-07-15 16:21] alexec commented on #582
You correct - these instructions are out of date - would you like to submit a PR?

[2020-07-15 16:23] ricoms commented on #582
I would surely like to do that, :D as soon as I find the correct solution. I installed `https://github.com/argoproj/argo/blob/stable/manifests/install.yaml` and it still gives me the same error. Do you have any advice on what would be a nice solution for the documentation?

[2020-07-15 17:16] simster7 opened #3485 "Node search tool in UI Workflow viewer"
# Summary

Add a search bar for nodes and node contents in the UI workflow viewer.

# Motivation

Large workflows have a lot of nodes and it could be difficult to find the ones that are relevant, either by title or by contents.

# Proposal

I'll implement this as a UI only change for now

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reactio

[2020-07-15 17:29] ericandrewmeadows commented on #3438
@ramanNarasimhan77 - maybe we can collaborate on https://github.com/argoproj-labs/argo-workflows-catalog/pull/4 - I'm working on understanding how I can abstract the volumes as inputs here.

[2020-07-15 18:48] DarkBlaez opened #3487 "[K3OS] Containerd + Argo"
All:

Has anyone been able to get Argo (workflow) working on k3os which is containerd based. Using the current helm chart

Changed
containerRuntimeExecutor: pns

The result of just submitting the sample from the Web UI results:
failed to save outputs: Failed to establish pod watch: unknown (get pods)

**argo-server:**
2020-07-15T18:38:00.38131525Z time="2020-07-15T18:38:00Z" level=info msg="Argo S

[2020-07-15 18:51] DarkBlaez commented on #3487
I think I fixed this with configuring the RoleBinding
kubectl create rolebinding namespace-admin --clusterrole=admin --serviceaccount=default:default

Seems to work now

[2020-07-15 18:51] #3487 closed

[2020-07-15 21:27] alexec opened #3489 "Use SubmitWorkflow for all workflow creation"
If we don't do this, we will get bugs around labels.

[2020-07-15 21:40] #3489 closed

[2020-07-15 21:46] #1117 closed

[2020-07-15 22:49] kimberly-lee commented on #3479
Thanks @alexec for the suggestion. I just gave this a try and the volume didn't get created:
This is what my config file looks like:

[code]

I followed the format from [here](https://github.com/argoproj/argo/blob/master/docs/workflow-controller-configmap.yaml#L204).

[2020-07-16 03:34] #3383 closed

[2020-07-16 04:01] alexec commented on #3399
Can you please tell me how large the file is?

[2020-07-16 04:03] alexec commented on #3409
Can you please attache the YAML?

[2020-07-16 04:04] alexec commented on #3307
@hadim I'm going to recategorize this as an "enhancement". We should do more work in this area, and I'd like to asses interest.

[2020-07-16 04:05] alexec commented on #3217
@bryanlarsen are you able to provide more information about the fix please? E.g. some code?

[2020-07-16 04:06] alexec commented on #3105
@lilida can you please try in v2.9.3 please?

[2020-07-16 04:07] alexec commented on #3053
This should be investigated.

[2020-07-16 04:08] alexec commented on #3044
@samirmajen sorry this has been dropped - we're pretty busy at the moment - could I please ask you to attach manifests which exhibit this behaivour?

[2020-07-16 04:11] alexec commented on #3006
@antoniomo is this still an issue please?

[2020-07-16 04:12] alexec commented on #2696
This looks fixed. Please re-open if not.

[2020-07-16 04:12] #2696 closed

[2020-07-16 04:12] #2616 closed

[2020-07-16 04:14] alexec commented on #1742
No reply. Closing.

[2020-07-16 04:14] #1742 closed

[2020-07-16 04:14] #1685 closed

[2020-07-16 04:15] Point-less commented on #3409
This same yaml with that input

[2020-07-16 07:45] goodskillprogramer commented on #3026
Request
GET /api/v1/info
Response
HTTP 503
{
  "error": "connection error: desc = \"transport: Error while dialing dial tcp [::1]:2746: connect: cannot assign requested address\"",
  "code": 14,
  "message": "connection error: desc = \"transport: Error while dialing dial tcp [::1]:2746: connect: cannot assign requested address\""
}

[2020-07-16 08:57] lukaslentner commented on #3399
Just like in the example some Kilobyte, nothing big ...

[2020-07-16 11:50] #2989 closed

[2020-07-16 12:06] haibingzhao opened #3491 "support optional Input artifacts when artifacts not exist"
# Summary

support optional Input artifacts when artifacts not exist.

# Motivation

![image](https://user-images.githubusercontent.com/24826076/87668140-281d7200-c79e-11ea-84d1-4d04feac51dc.png)

1. `example_a` output `condition_b1:true` and `condition_b2:false`
2. `condition_1` satisfied and execute `exapmle_b`, while `condition_2` not satisfied
3. `example_c` get `condition_b1` and `condition_b

[2020-07-16 15:23] simster7 commented on #3491
What version are you running? This might be fixed already

[2020-07-16 15:27] alexec commented on #3491
+1 @simster7 https://github.com/argoproj/argo/pull/3019 fixed in v2.9

[2020-07-16 15:54] liushouxiang commented on #3347
Sorry for the late reply.

That should return unauthorized error. It suggests your K8S service is maybe not secured?

How can i check whether my K8S service is secured, any suggestions?
I tested  the K8S open api, it seems to work well, for example:

[code]

[2020-07-16 16:11] alexec opened #3496 "Error: `exec: "/argo/staging/script": permission denied`"
# Summary

I want to stop this error:

[code]

# Motivation

It is annoying to need to specify `command: [sh]` for scripts, when it could just be Unix executable.

[code]

[code]

# Proposal

Using chmod.

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-07-16 16:38] alexec commented on #3496
https://chmodcommand.com/chmod-744/

[2020-07-16 16:44] alexec commented on #3496
[code]

[2020-07-16 16:45] alexec commented on #3496
Interplay with entrypoint?

[2020-07-16 16:48] alexec commented on #3016
I'm not sure about this. Artifact repository are effectively user space, so they can read any file they want to.

I think preventing ../ in input paths would fix this.

[2020-07-16 18:28] alexec opened #3498 "Set workflow parameters in UI"
# Summary

When creating a workflow from a template, I'd like to be able to set the parameters.

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

How do you think this should be implemented?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to k

[2020-07-16 18:49] alexec commented on #1322
See #2748

[2020-07-16 18:59] aviklai commented on #3013
Thanks - it works.

[2020-07-16 18:59] #3013 closed

[2020-07-16 20:19] alexec commented on #3409
So escaping repeatedly works?

[2020-07-16 20:31] Point-less commented on #3409
I've not tested if this happens or not with \ and i have not check what happens if i escape with \ the escaped tokens

[2020-07-16 20:47] simster7 commented on #3498
This was already possible: https://github.com/argoproj/argo/pull/2030

What happened? Should I re-implement?

[2020-07-16 20:57] alexec commented on #3498
@simster7 I think I should probably fix this, as I broke it.

[2020-07-17 02:30] scr-oath commented on #826
Hi - I'm still seeing this in a cluster not running docker (`cri-o://1.18.1`) is there a workaround?

[2020-07-17 02:42] scr-oath opened #3500 "argo doesn't work in clusters using CRI other than Docker"
[code]

Version: v2.9.3
CRI: cri-o://1.18.1
kubernetes: v1.18.2
workflow: https://raw.githubusercontent.com/argoproj/argo/master/examples/hello-world.yaml
Logs: none - only from kubectl describe - it's still trying to create the container.

Checklist:

**What happened**:

In a cluster set up with CRI-O, there is no docker socket - pods created by argo fail to create as they cannot mount the docker

[2020-07-17 05:02] haibingzhao commented on #3491
/reopen

[2020-07-17 05:02] haibingzhao commented on #3491
running with latest version not work in my case. you can submit below wf to reproduce :
[code]
after search source code, I found might be a little code change at: [workflow/controller/dag.go#L539](https://github.com/haibingzhao/argo/blob/master/workflow/controller/dag.go#L539), and it works now.

[2020-07-17 07:16] antoniomo commented on #3006
Hi, as reported, we haven't seen this again as described. However I say "we" referring to my team, we aren't the original poster of the issue, that would be @wreed4 . For my team, the version update solved an issue that seemed to be the same.

[2020-07-17 07:46] ptitpoulpe commented on #2758
This proposal could resolve my request https://github.com/argoproj/argo/issues/3061

[2020-07-17 13:47] hadim opened #3502 "API Server: `archived-workflows` endpoint permission denied"
Using Argo 2.9.3.

I can access Archived Workflows from the UI at https://cluster-url.com/archived-workflows but I cannot from the API directly at https://cluster-url.com/api/v1/archived-workflows

In both cases, I am using the same token and same service account.

The error is:

[code]

[2020-07-17 14:33] jamesgunnfiveai commented on #3422
I'm still experiencing this issue with the 2.9.3 CLI. As far as I can tell it should be resolved in 2.9.3 as the fix was backported to 2.9 ahead of the 2.9.3 cut.

Would you prefer a separate ticket?

[code]

[code]

[2020-07-17 15:05] sarabala1979 opened #3503 "Panic on releaseAllWorkflowLocks if Object is not Unstructured type"
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x155d0c7]
goroutine 174 [running]:
k8s.io/apimachinery/pkg/util/runtime.HandleCrash(0x0, 0x0, 0x0) /go/pkg/mod/k8s.io/apimachinery@v0.17.5/pkg/util/runtime/runtime.go:55 +0x105 panic(0x17aeaa0, 0x2931830)
/usr/local/go/src/runtime/panic.go:679 +0x1b2 github.com/argo

[2020-07-17 15:05] simster7 commented on #3491
I'm able to reproduce. Found a fix

[2020-07-17 15:09] simster7 commented on #3491
@haibingzhao, I just noticed you found the same fix. Would you like to open a PR?

[2020-07-17 15:18] alexec commented on #3500
We use the PNS executor, try that config?

https://argoproj.github.io/argo/workflow-executors/

[2020-07-17 15:19] sarabala1979 commented on #3503
@duongnt I am trying to understand the scenario when the informer will get nil obj. can you provide me more information about what you are trying to do?

[2020-07-17 15:20] alexec commented on #3502
Could you please attach the curl request you're using? Please makes sure you have the `Authorization: Beaer TOKEN` header.

[2020-07-17 15:24] alexec commented on #3422
[code]

Something - wrong in this loop maybe with ticket. Needs investigation.

[2020-07-17 15:26] simster7 commented on #3197
After more investigation I'm hard pressed to find why setting a `parallelism` limit  would actually decrease execution time from the sole perspective of Argo. It seems that the same operations that would happen without a limit, also happen with a limit, except that it's more drawn out, so -- all other things being equal -- setting a limit should increase the execution time.

Since this is not what

[2020-07-17 15:27] alexec commented on #3503
@sarabala1979 I think we can get nil on error, so we need to cater for them. I think we typically just ignore them.

[2020-07-17 15:27] alexec commented on #3503
@sarabala1979 does this make master non-viable?

[2020-07-17 15:35] sarabala1979 commented on #3503
yes

[2020-07-17 15:43] hadim commented on #3502
I'm doing it in Python but here is the equivalent request in curl:

[code]

Note that in this curl command replacing `http://cluster-url/api/v1/archived-workflows` by `http://cluster-url/api/v1/archivedworkflows/<NAMESPACE>` works well.

[2020-07-17 15:50] #2793 closed

[2020-07-17 15:56] alexec commented on #3502
capitalise "Authorization"?

[2020-07-17 16:01] hadim commented on #3502
Nope, it does not work. As I said, other endpoints work. Only the `archived-workflows` does not work. So token, header and URLs are all fine. I tried to see if there was a role I was missing in the service account but I can't find any ArchivedWorkflow object.

[2020-07-17 16:07] alexec commented on #3502
You're getting a 403 rather than a 401, so I your token is fine. You can only read archived workflows if you would have permission to read the workflows themselves. If you are using namespace scope role and rolebinding, then try adding  namespace to the URL (you can find out the exact URL query parameter in the web console when using the UI).

[2020-07-17 16:13] duongnt commented on #3503
@alexec I'm not sure if `stable` is also non-viable or is it just me, but I'm getting

[code]

[2020-07-17 16:14] hadim commented on #3502
Got it!

As specified in the API file namespace does not go to the URL in the params request:

[code]

Using this field selector makes the request to work and returned the list of workflows.

Thank you @alexec

[2020-07-17 16:14] #3502 closed

[2020-07-17 16:20] sarabala1979 commented on #3503
@duongnt I think this is a different panic. Can you create new bug issue?

[2020-07-17 16:33] duongnt opened #3505 "Panic on addOutputsToLocalScope"
Checklist:

 * [x] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
I'm not sure if stable is also non-viable or is it just me, but I'm getting
[code]
with the stable build.

Not sure if there's any change I need to make in my workflow definition.

**What you expected to happen**: no panic

[2020-07-17 16:35] duongnt commented on #3503
@sarabala1979 Yes, i just created https://github.com/argoproj/argo/issues/3505

[2020-07-17 16:39] alexec commented on #3505
on v2.8.0:

[code]

[2020-07-17 16:40] alexec commented on #3505
I think `itemMap` is always nil on this line? So this line would always panic?!?!

[2020-07-17 16:40] sarabala1979 commented on #3503
@duongnt thanks

[2020-07-17 16:41] alexec commented on #3505
@duongnt can you please attach the full YAML for the workflow that caused this? I.e. `argo get your-wf -o yaml`

[2020-07-17 16:53] sarabala1979 opened #3506 "Synchronization Documentation"
# Summary

What change you think needs making.

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

How do you think this should be implemented?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-07-17 16:56] viperKiran opened #3507 "Access denied for mysql user when persistence is enabled"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
When I enabled persistence and added mysql configuration, I am seeing the following error
`time="2020-07-17T16:38:26Z" level=fatal msg="Failed to update config: Error 1045: Access denied for user 'argo_user\n'@'10.175.106.

[2020-07-17 17:14] sarabala1979 commented on #3505
@alexec  I think `node.Outputs.Result` is nil that's why it is causing the panic. itemMap is ok

[code]

[2020-07-17 17:17] sarabala1979 commented on #3505
Oh just saw that we have a check `if node.Outputs.Result != nil`

[2020-07-17 17:26] nikopen opened #3508 "Visibility on workflows that are not able to start (usually due to failed lint)"
# Summary / Motivation

Most common scenario is workflows generated from Sensors:

If the manifest YAML somehow does not compute but k8s still accepts it as a valid CRD, the sensor can be triggered but the workflow might not show at all on the UI. When that happens, the only way of troubleshooting is looking at the controller logs (sensor and workflow controllers) to see what happened, even then t

[2020-07-17 17:35] duongnt commented on #3505
@alexec Just to clarify, I didn't see this in 2.8.0. Only saw it when I upgraded to stable.

[2020-07-17 17:43] alexec commented on #3505
I'm wrong. The stack trace cannot be from v2.9.3 (stable). Line 2072 only contains a "}", that cannot panic. Can you please double check the controller logs for the version you are running?

![Screenshot 2020-07-17 at 10 41 23](https://user-images.githubusercontent.com/1142830/87815220-137ebf80-c81a-11ea-987a-de022f5680b3.png)

Looking at the code on v2.9.3 the only nil deref possible in `addOutpu

[2020-07-17 17:45] alexec commented on #3505
@duongnt are any of your output parameters containing `valueFrom`?

[2020-07-17 17:46] alexec commented on #3507
can you please check your secrets are correctly set-up and encoded base64?

[2020-07-17 18:02] alexec commented on #3505
Without further information or a way to reproduce this I don't have a way forward. I believe I know what line of code causes the panic, but I don't know what the underlying cause is. It is not happening to us, so I do believe it is something specific to @duongnt 's workflows.

[2020-07-17 18:34] #3355 closed

[2020-07-17 18:35] #3349 closed

[2020-07-17 18:35] #3503 closed

[2020-07-17 18:35] simster7 commented on #3508
Is this an Argo Events issue? If you submit a Workflow from an Argo Workflows method (CLI, API, UI), you'll get a validation error. Furthermore, if you do submit an invalid Workflow that somehow passes validation, the Workflow object will remain accessible in an Errored state

[2020-07-17 18:38] viperKiran commented on #3507
Yes.
[code]
I double-checked the password as well. Like I said in the troubleshooting steps, I can clearly see from logs that username is 'argo_user\n'@'some-ip' but not 'argo_user'@'some-ip'.

[2020-07-17 19:13] viperKiran commented on #3507
It is a problem with the way I generate sealedsecret object. It looks good now. Closing this ticket. Thanks.

[2020-07-17 19:14] #3507 closed

[2020-07-17 19:39] blkperl commented on #3006
@wreed4 's team hasn't seen it since upgrading as well. I think we can close this out.

[2020-07-17 19:52] #3006 closed

[2020-07-17 20:19] alexec commented on #1456
Duplicate of #2871.

[2020-07-17 20:19] #1456 closed

[2020-07-17 20:21] alexec commented on #2871
I would recommend you make your workflows and template compatibly with the **[template catalog](https://argoproj-labs.github.io/argo-workflows-catalog/)** by using the annotations:

[code]

[2020-07-17 20:30] alexec commented on #2185
See #3498

[2020-07-18 00:54] haibingzhao commented on #3491
opened PR can be found here: https://github.com/argoproj/argo/pull/3511

[2020-07-18 04:16] saitoy1 commented on #3197
Thank you for sharing your insights. The fact that setting a limit should increase the execution time makes sense to me. It's curious to observe setting a limit decreases the execution time in my case.  I've tried a couple of values for `parallelism` and compared total execution time of my production workflow (not the simplified repo steps in this issue). I was not sure whether there was any corre

[2020-07-18 17:10] #3005 closed

[2020-07-18 17:46] jiezhang opened #3513 "Backoff exponent is off by one"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
Given the retry strategy below, the first retry attempt backs off 10 minutes.
[code]

**What you expected to happen**:
The first retry attempt should backoff 5 minutes and the second one backoff 10 minutes.

As far as I kn

[2020-07-18 18:09] nilium opened #3515 "v2.9.3 Docker images report they are v2.10.0-rc1"
**What happened**:

Pulling the `argoproj/argocli:v2.9.3` and `argoproj/workflow-controller:v2.9.3` Docker images appears to produce the v2.10.0-rc1 versions of the programs (unable to verify if this is just an incorrect string or a wholly incorrect image). The GitCommit and GitTag fields both suggest this isn't just an incorrect string in the 2.9.3 build.

Specifically:

**argocli**
[code]

**wor

[2020-07-18 18:22] alexec commented on #3515
here is the build culprit:

https://hub.docker.com/layers/argoproj/argocli/v2.9.3/images/sha256-6c1d321ca17ef374c7a159af2281193e9b9e7d31da2fce7361c7d34d3c348302?context=repo

[2020-07-18 18:23] alexec commented on #3515
somehow building v2.10.0-rc1 pushed v2.9.3 images

[2020-07-18 18:25] alexec commented on #3515
re-publishing now

[2020-07-18 18:50] alexec commented on #3515
[code]

[2020-07-18 18:50] alexec commented on #3515
Need to find out why this happened and prevent it happening again.

[2020-07-18 18:56] nilium commented on #3515
Thanks, @alexec. Noticed the version is now stable instead of 2.9.3c but I think that's probably fine since the commit matches the release now (so no concerns about ending up with the wrong code due to a node without image caches getting 2.10.0 accidentally).

[2020-07-18 19:10] alexec commented on #3515
@nilium can I please ask how you noticed.

[2020-07-18 19:21] nilium commented on #3515
@alexec The node with both the image caches and the Argo pods was taken out for maintenance. As a result, the pods came up on another node (this time without the old caches) and did a new pull for v2.9.3. After checking that Argo was still running, I looked at the Argo server and the version was reported as v2.10.0-rc1. So, went and double-checked that by pulling the images locally to verify.

[2020-07-18 19:24] alexec commented on #3515
[code]

[2020-07-18 19:35] alexec commented on #3515
We now build (v2.10) images automatically on Github Actions. No need to publish them locally and make mistakes.

[2020-07-18 22:01] luozhaoyu opened #3516 "Can I create pod in another cluster?"
# Summary

Our k8s has several clusters, it would be best if we can only install Argo Workflow into only one cluster, but allow Workflow to create `Workflow/Pod` in the other clusters. Is it possible to achieve that?

The closest field I find is `clusterName`: https://argoproj.github.io/argo/fields/#fields_57

So seems this field will be ignored if I want to create a new `Workflow`, am I right?

#

[2020-07-19 00:16] #1969 closed

[2020-07-19 00:16] #1816 closed

[2020-07-19 00:16] #1770 closed

[2020-07-19 00:16] #1599 closed

[2020-07-19 05:02] jonnylangefeld opened #3517 "Change stale bot to not close issues with certain label"
# Summary

As I was working with the software, I found several issues that were relevant to what I was doing, that never had a resolution but were closed by the stale bot.

# Motivation

This software is gaining traction and issues are raised more rapidly than they can be resolved.

# Proposal

I propose to introduce another label, that can be added to an issue, that might be a good feature, but t

[2020-07-19 13:16] #3021 closed

[2020-07-19 14:26] rsassPwC commented on #3500
Im currently runing Argo in Kind and for the docker executor I get the same error. Can I manipulate the docker image kind to still use the docker executor?

[2020-07-19 17:12] alexec commented on #3517
Anything labelled "enhancement" or "security" will not be closed. Further more, stable bot re-opens issues when there is a reply. Stale bot only closes issues where the author is not longer replying to messages.

Did you managed to find solutions to your problems? Could you link to them?

[2020-07-19 17:12] alexec commented on #3516
This is not possible. Argo Workflows is single cluster only.

[2020-07-19 19:16] #1351 closed

[2020-07-19 19:16] #1469 closed

[2020-07-19 19:16] #1705 closed

[2020-07-20 04:55] luozhaoyu commented on #3516
That's unfortunate, as I noticed argo-cd would support that, do we have any plan for this? As it makes sense for the whole company to use the same Argo Workflow, but create pods in different cluster and namespace

[2020-07-20 08:59] brabster opened #3521 "Provide a link template for external logs in Argo UI"
# Summary

A way of providing a templated link for externally-hosted logs, visible in the Argo UI for task and workflow logs

# Motivation

Logs for GKE containers exported to Stackdriver, accessible via a link. Example:
`https://console.cloud.google.com/logs/query;query=resource.type%3D%22k8s_container%22%0Aresource.labels.pod_name%3D%22argo-workflow-5hjbp%22?project=myproject&query=%0A`

Templat

[2020-07-20 09:24] ramanNarasimhan77 commented on #3438
@ericandrewmeadows
Sorry for the delayed response.
Sure, I have reviewed the PR and the draft template looks good to me. I think using artifacts instead of PV for source code is a good idea.
I am looking forward to upgrading to argo 2.9.3 and try this out on my dev cluster.

[2020-07-20 10:51] lueenavarro opened #3522 "failed to save outputs: Get <URL> unexpected EOF"
Checklist:

 * [X] I've included the version.
 * [X] I've included reproduction steps.
 * [X] I've included the workflow YAML.
 * [X] I've included the logs.

**What happened**:

I have a pod that runs for about 4 hours. Then exits. The program exits after 4 hours  as it should but the pod's status is ERROR. From the logs, it says "failed to save outputs: Get https://172.21.0.1:443/api/v1/namespac

[2020-07-20 15:01] elocke commented on #3434
@alexec I have a template defined for a process that takes a parameter. I want to set a label on that workflow automatically so I can group by the label to see the workflow history for a certain input parameter.

[2020-07-20 15:33] alexec opened #3523 "Multi-cluster, multi-namespace workflows"
# Summary

Run workflows across multiple clusters.

# Motivation

So you only need to run one Argo Workflows installation.
So you can run a workflow that has nodes in different clusters.

# Proposal

Like Argo CD.

#3516

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prior

[2020-07-20 15:33] alexec commented on #3516
I've created a ticket for the suggestion.

[2020-07-20 15:35] alexec commented on #3521
This feature is already supported:

https://argoproj.github.io/argo/links/

[code]

[2020-07-20 15:35] #3521 closed

[2020-07-20 15:38] alexec commented on #3434
Seems like a valid request. I wonder if we could create a Javascript only solution that would be cheap.

[2020-07-20 16:25] kristofarkas opened #3524 "Retry logic fails for wf with Omitted nodes"
**What happened**:

Tried to retry a failed workflow, but it failed with this log:

[code]

**What you expected to happen**:

The workflow to start again, with failed steps running.

**Anything else we need to know?**:

Looking at this switch statement https://github.com/argoproj/argo/blob/23760119d4664f0825536d368b65cdde356e0ff3/workflow/util/util.go#L625-L630 shouldn't it have a separate case fo

[2020-07-20 16:30] alexec opened #3525 "Role-based Access Controls for SSO"
# Summary

Currently any user that logs in using SSO escalates to the `argo-server` service account. We would like other options.

# Motivation

TBD

# Proposal

Either:

* **Casbin style** similar to Argo CD.
* **Client mode style** i.e. map groups to a service account.

See:

* #1813

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction

[2020-07-20 16:36] alexec commented on #1813
Update on this issue.

This is the most popular enhancement issue in Argo Workflows at the moment (by number of 👍 ). It combines two enhancements, **SSO** and **RBAC**, the first of which has been delivered.

SSO was an **orthogonal enhancement**, by which I mean it is independent to existing code, and therefore had low impact. So far no we have had only one small bug with it which was fixed with

[2020-07-20 16:37] alexec commented on #1813
I've locked this issue to force you to comment on the RBAC issue.

[2020-07-20 17:52] ibexmonj commented on #2239
having the same issue here with trying to get a `workflow` deployed in a PSP enabled cluster.

The workflow is unable to mount the `docker.sock` hostpath.  Can i have more details around the pros and cons of switching the `containerRuntimeExecutor` to `k8sapi`  ?

I see the docs mention `Least scalable since log retrieval and container operations are performed against the kubernetes api` does this

[2020-07-20 18:04] scr-oath commented on #3500
I've tried both `kubelet` and `pws` to no avail.

I seem to get something like this though (with `pws`) which is different…
[code]

[2020-07-20 18:20] simster7 commented on #3197
It would be the `parallelism` flag. That's its main purpose :)

[2020-07-20 18:20] simster7 commented on #3197
Will close as this does not seem to be an issue with Argo, but feel free to continue the discussion

[2020-07-20 18:20] #3197 closed

[2020-07-20 18:22] simster7 opened #3527 "Add a way to collapse large numbers of child nodes in UI viewer"
# Summary

What change you think needs making.

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

How do you think this should be implemented?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-07-20 18:36] simster7 commented on #3524
Thanks for this will work on a fix

[2020-07-20 18:37] alexec commented on #3522
Someone should probably investigate to see if it is similar to K8S Executor bug and see if it is fragile and needs retries.

[2020-07-20 18:41] alexec commented on #3516
@jessesuen has stated that you can run the controller in one cluster and manage another cluster, but only one cluster.

[2020-07-20 19:31] jonnylangefeld commented on #3517
That's good, I wasn't aware of the "enhancement" label exclusion. I think that should be sufficient.
I was looking to pass complex parameters to a template. I searched for "[json parameter](https://github.com/argoproj/argo/search?q=json+parameter&type=Issues)". I feel like there were issues opened, but it's not possible currently right?
I found issues like [this](https://github.com/argoproj/argo/i

[2020-07-20 19:43] luozhaoyu commented on #3516
@jessesuen for my case, I need at least 3 clusters for development/staging/production, so it would be ideal to put `Argo Workflow` in the fourth cluster, then manage other 3 clusters... something like that

[2020-07-20 19:51] sarabala1979 commented on #2718
#3295

[2020-07-20 19:54] sarabala1979 commented on #3422
[msaasfmea4-ppd-usw2.cluster.k8s.local] \W$ argo list | grep argowf
argowf-chaos-8g6cn          Failed                10m   1m         0
argowf-chaos-574f8          Failed                16m   1m         0
argowf-chaos-x5zng          Failed                25m   1m         0
argowf-chaos-8dvxt          Failed                57m   1m         0
argowf-chaos-bv24p          Failed                2h

[2020-07-20 20:33] alexec opened #3529 "fields.md doesn't create links"
Something strange going on here:

https://argoproj.github.io/argo/fields/#metrics

[2020-07-20 20:58] rbreeze opened #3530 "enhancement(UI): Quick shortcut to view outputs from workflows overview"
# Summary

It would be great if there were a button in the workflow drawer on the workflows list page to quickly view a workflow's outputs in a popup.

# Motivation

A recent PR has had me checking the outputs of my workflows very frequently and it's frustrating to have to click through several menus and sift through the entire workflow workflow status just to get there. I'm not sure how common it

[2020-07-20 21:03] simster7 commented on #3529
I'll take a look at this

[2020-07-20 22:24] pc-mreeves opened #3531 "Does argo support IAM Roles via service accounts using OIDC?"
# Summary

I'd like to know if argo supports pod level iam via service account IAM role annotations
References:
https://aws.amazon.com/blogs/opensource/introducing-fine-grained-iam-roles-service-accounts/
https://docs.aws.amazon.com/eks/latest/userguide/specify-service-account-role.html

# Motivation

Currently the argo IAM privileges to access S3, etc. come from the EKS Worker's Instance Profile

[2020-07-20 22:54] paulm-jones commented on #1757
Thank you @alexec.

What would have helped me (relative Argo beginner) is to have a description of the parameter format in the OpenAPI spec in `io.argoproj.workflow.v1alpha1.SubmitOpts`.

I could see from the specification that `parameters` takes a string array, but I couldn't initially work out what format the array would have to be in in order to provide complex variables.

[code]

I worked out

[2020-07-21 00:30] guoweis-outreach commented on #3496
I tried this but still receives the same error
source: |
        #!/bin/sh
        az storage entity query -t mytable --filter "PartitionKey eq 'mytest'"

[code]

[2020-07-21 00:31] guoweis-outreach commented on #3496
oh, but adding this with that does.
       command: [sh]

[2020-07-21 02:43] #3513 closed

[2020-07-21 04:59] sarabala1979 commented on #3531
S3 will support IAM assume role based access. you can specify the RoleARN which it needs to be assume.

[code]

[2020-07-21 05:57] #3422 closed

[2020-07-21 06:35] bappr opened #3533 "Does `emptyDir` storage can be reused across multiple steps?"
Hey guys,

Can I share an empty_dir volumes across multiple steps ? -> https://github.com/argoproj/argo/blob/master/examples/volumes-emptydir.yaml

Idea is to avoid using PVC cuz they takes too much time to be created and mounted during my CICD workflow

Does argo make sure that the pods using the volumes are being mounted on the same node?

Example that fails:

[code]

getting `volumes-emptydir-2

[2020-07-21 07:37] arnonki opened #3534 "invalid spec: spec.entrypoint is required - when submitting workflow template"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

I have upgraded to v2.9.3 and since then when I submit workflow template I get the error
`invalid spec: spec.entrypoint is required`.

*The entrypoint key exists in the template spec*

**What you expected to happen**:

Th

[2020-07-21 08:16] paulm-jones commented on #2242
A question on this if I may please, @simster7. I am wondering If I have misunderstood the intention of the feature.

When I echo `workflow.parameters` within a task, I was expecting to get back a JSON string representing the entire parameter structure (its keys and values).

What I get is a JSON_-like_ list of objects with a `name` key representing the names of the arguments provided to the workfl

[2020-07-21 10:27] lueenavarro commented on #3522
Today I got a somehow different message, same scenario though:
`failed to save outputs: Get https://172.21.0.1:443/api/v1/namespaces/default/pods/nrsa-daily-schedule-4rcb2-1289784058: net/http: TLS handshake timeout`

[2020-07-21 11:37] mac9416 commented on #2871
Is/will the description be exposed in the UI? (For internal templates that don't get added to the Catalog.)

[2020-07-21 12:30] #3042 closed

[2020-07-21 13:03] viggin543 commented on #1188
@rummens  can you provide more info regarding the sidecars silution ? many thanks !

[2020-07-21 15:31] alexec commented on #3496
Solution for this is to use `command`:

[code]

[2020-07-21 15:31] #3496 closed

[2020-07-21 15:32] alexec commented on #2871
You can view these values via the YAML viewer. They not really considered 1st-class.

[2020-07-21 15:32] #3524 closed

[2020-07-21 16:40] alexec opened #3535 "Automation documentation"
# Summary

Our documentation around using the API, generating access tokens is hard to follow.

# Motivation

Make it easy to get up and running if you want to automate.

# Proposal

* Correctly sequence the documentation to walk users through the process.
* Create a YouTube video showing the process and explaining it.

---

**Message from the maintainers**:

If you wish to see this enhancement im

[2020-07-21 16:42] #3491 closed

[2020-07-21 16:54] sarabala1979 commented on #3534
I couldn't reproduce this issue on master and release-2.9 branch with the above steps.  Can you check the `workflowtemplate` in the cluster has`entrypoint`?
you can get `workflowtemplate` using `kubectl get wftmpl wftmpl-test -o yaml`?

[2020-07-21 17:20] rummens commented on #1188
You can find more details here, KFP runs Argo under the hood. So most Argo features are in KFP as well.

https://argoproj.github.io/argo/examples/#docker-in-docker-using-sidecars

[2020-07-21 17:44] bpayt2 opened #3538 "Argo Server Support TTL"
# Summary

Add a TTL setting for Argo Server

# Motivation

Our company has a requirement of a 15 minute TTL for any web application. I would like to know if the Argo Server can support a TTL setting.

# Proposal

Add a TTL option to the Argo Server YAML

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort iss

[2020-07-21 17:48] alexec commented on #2667
Please remember to 👍 #3344 if you want to be able to resume suspended workflows.

[2020-07-21 17:48] simster7 commented on #3538
Can you clarify? TTL for what? There is already a field to set TTL for Workflows, but I don't seem to understand what "TTL for any web application" means in this context

[2020-07-21 17:55] alexec commented on #2667
@nHurD, @deepk2u, @kmarquardsen, @juanchristensen, @kabilan6, @samath117, @shrimank, @maguowei, @oleg-borodai, @nikopen request for comment:
https://docs.google.com/document/d/1f2z6W0pI86z28T_GI-jgchlJ1twFmV37qla-Lm3egYk/edit

[2020-07-21 18:06] bpayt2 commented on #3538
@simster7  My apologies - TTL for session timeout. User authenticate via bearer token; but are really never logged off the server. I would like to have a session timeout on the server.

[2020-07-21 18:12] simster7 commented on #3538
Gotcha, I will bring this up with the team and get back to you

[2020-07-21 18:44] jessesuen commented on #3531
We support this by specifying the ARN in the S3 artifact itself, but in order to support based on pod annotation, we need to upgrade the minio client. Duping this to https://github.com/argoproj/argo/issues/2748

[2020-07-21 18:44] #3531 closed

[2020-07-21 18:47] jessesuen commented on #3533
No, emptyDirs are at a per pod level and disappear when the pod completes. A workaround might be to use node-affinity against the steps which want to share a volume (so that they run on the same node), and use a hostPath to share the contents of the volume. However using hostPaths would be a security concern and are sometimes blocked by cluster operators.

[2020-07-21 18:51] simster7 commented on #3538
Hey @bpayt2 the bearer token is actually managed by K8s, we are just a pass through service and don't control its life cycle. If you want more control over auth, you can set up and use SSO with whatever preferences you'd desire.

[2020-07-21 20:35] foobarbecue commented on #3341
Just to confirm, I'm using this now and it works well!

[2020-07-21 21:32] #3515 closed

[2020-07-21 21:58] alexec opened #3540 "`TestRetryOmit` flakey: `the object has been modified`"
[code]

[2020-07-21 22:24] alexec opened #3541 "Blog Post for v2.10"
Write a blog post for v2.10 to encourage testing and up-take.

[2020-07-21 22:25] foobarbecue opened #3542 "scrollbars broken in new editor"
Checklist:

 * [X] I've included the version.
 * [ N/A] I've included reproduction steps.
 * [ N/A ] I've included the workflow YAML.
 * [ N/A ] I've included the logs.

 Scrollbar behavior in the new editor is very weird. Testing on d07a0e7 .

![argo-scrollbar](https://user-images.githubusercontent.com/854789/88113131-10f7cf00-cb66-11ea-8a1b-724b90fac244.gif)

**Environment**:

Chrome 83.0.4103.1

[2020-07-21 22:49] alexec commented on #3542
You appear to be able to scroll about, so I'll mark as "workaround".

[2020-07-21 22:53] foobarbecue commented on #3542
Yep, it's not a showstopper, just an annoyance.

[2020-07-21 23:00] foobarbecue opened #3543 "New UI editor should default to YAML"
# Summary

It's nice that we can now edit in both JSON and YAML in the UI, but strange that it comes up JSON-first, since Argo and Kubernetes are generally thought of as YAML-based and the user expects to interact with YAML. YAML is also more succinct than JSON.

# Proposal

All editors should display in YAML by default.

---

**Message from the maintainers**:

If you wish to see this enhancement

[2020-07-22 00:06] bappr commented on #3533
Yeah that's what I wanted to avoid actually. It's sad that the emptyDirs are getting removed then pod is completed. The kubernetes doc only mention about "when the pod is not on the node anymore". Anyway, I ended up merging all my steps into one. It's a big drastic but will speed up my workflow considerably.
Thanks a lot for your answer.

[2020-07-22 00:06] #3533 closed

[2020-07-22 02:59] edw013 opened #3544 "Watch does not have an event for terminated workloads"
# Summary

When creating a Watch using the argo go client, the event channel does not receive an event when a workload is terminated and will just hang open.

# Motivation

I would like to do some cleanup when a workload finishes and I have no idea when a terminated workload is terminated. That being said, it does seem like the channel does close by itself after a while, but is there any way to ma

[2020-07-22 07:33] arnonki commented on #3534
Yea sure

[code]

[2020-07-22 07:45] arbielsk opened #3545 "Support DAG outputs"
I did ask in the slack channel, but unfortunately I was not able to get a response.

# Summary

What do you want to know about this project?

Currently it is not possible to have dag-level outputs (referencing a step output) with the k8s api executor, as the validation doesn't allow outputs that don't reference a volumePath. Is this intended or is the validation just too strict for this particular

[2020-07-22 08:04] yonirab opened #3546 "Typo in curl command"
Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
Following instructions in https://github.com/argoproj/argo/blob/master/docs/access-token.md, when running the `curl` commands I get
[code]
**What you expected to happen**:
Should have worked per the doc.
**How to reproduce

[2020-07-22 08:11] arnonki commented on #3534
OK.
It seems like I didn't upgrade properly (the initial install was using helm).
I have removed all resources from argo namsepace and reinstalled using argo install yaml definitions.

Now the workflow template is not working.

[2020-07-22 08:11] #3534 closed

[2020-07-22 10:17] jonasdebeukelaer opened #3548 "UI: Include global output parameters in Outputs tab"
# Summary

I'm currently able to define a global output parameter in my spec, which I can either access using `argo get my-workflow`, programmatically, or looking at the yaml definition in the UI. I'd like to extent the `Output Artefacts` tab to also include any output parameters, for convenient visibility in the UI.

# Motivation

For explainability reasons, I would like to output a few global pa

[2020-07-22 11:08] #1457 closed

[2020-07-22 13:26] mac9416 commented on #3543
If I recall correctly, JSON is default because the YAML version does not support autocomplete. (feature demo: https://www.youtube.com/watch?v=IVDhZuo_cv4)

[2020-07-22 13:34] yonirab opened #3549 "Support persistent configuration of argo-server auth-mode via configmap"
# Summary

It should be possible to configure the auth-mode for argo-server once, and not have to worry about it every time we change Argo version.

# Motivation

Currently the auth-mode for argo-server is determined by command line arguments set in the argo-server deployment manifest. If the deployment manifest is patched to support a different auth-mode, and then Argo version is upgraded / modif

[2020-07-22 14:31] foobarbecue commented on #3543
Ok... does somebody think that's a good reason? You kinda gotta pick a lane here. Can't have all the docs in YAML and the interface in JSON.

[2020-07-22 14:57] simster7 commented on #3546
Would you like to open a PR with these fixes? 🙂

[2020-07-22 14:58] simster7 commented on #3543
Perhaps we can simply store a user's preference in local storage? That way a user who prefers YAML won't have to switch every time

[2020-07-22 15:07] alexec commented on #3543
I think it would be fine to start in YAML, as long as the text states something like "YAML supports basic completion, full auto-completion is available when switching to JSON"

[2020-07-22 15:07] alexec commented on #3543
This is a small UI only change anyone could do.

[2020-07-22 15:10] alexec commented on #3545
The K8S executor needs some attention.

[2020-07-22 15:18] #1900 closed

[2020-07-22 15:32] alexec opened #3550 "TypeError: Cannot read property 'push' of undefined"
Open the workflow page and try to filter by label:

[code]

[2020-07-22 15:53] aviklai opened #3551 "ttlStrategy not working with a specific configuration"
Hi,

Is there any limit on each of the options in the ttl strategy?
https://github.com/argoproj/argo/blob/master/examples/gc-ttl.yaml

I am trying to configure the following ttl strategy:
ttlStrategy:
    secondsAfterCompletion: 86400
    secondsAfterSuccess: 86400
    secondsAfterFailure: 604800

My goal is to save failed workflows for 7 days for investigation and delete the completed once.
When

[2020-07-22 16:03] simster7 commented on #3551
Completion means either Success or Failure. When you say

Do you mean the failed workflows or the successful workflows?

From looking at the code, if a Workflow is Failed and `secondsAfterFailure: 604800` is set, it should respect that time only for failed Workflows.

[2020-07-22 16:09] aviklai commented on #3551
Hi,
I mean the successful workflows are not deleted when I set secondsAfterFailure to 604800 .

[2020-07-22 16:10] simster7 commented on #3551
I'll take a look and try to reproduce

[2020-07-22 16:18] #3546 closed

[2020-07-22 16:22] sarabala1979 commented on #3545
Argo won't support the DAG level output artifacts/parameters. Can you provide us your usecase for this?

[2020-07-22 16:25] #3529 closed

[2020-07-22 16:37] aviklai commented on #3551
@simster7 Thanks!

[2020-07-22 17:01] simster7 commented on #3551
@aviklai

I am so far unable to reproduce with this Workflow:

[code]

See
[code]

Do you see anything that I'm missing? Are you sure that the Workflows not getting deleted have `Succeeded` as their status?

[2020-07-22 18:22] aviklai commented on #3551
@simster7 Yes - I am sure they are succeeded.
Is there any log I should check that will tell me that there is a problem?
I can try setting this again and check.

Also - just to make sure - in your example, if the workflow fails, it still won't be deleted after 5 seconds but only after 604800 seconds, right?
https://github.com/argoproj/argo/blob/3d50f9852b481692235a3f075c4c0966e6404104/workflow/ttl

[2020-07-22 18:35] simster7 commented on #3551
You can check the logs of the `workflow-controller` deployment. That's where the logs of the file you linked are sent.

Something like `kubectl logs deploy/workflow-controller` should work.

Yup, seems to be the case:

[code]

[2020-07-22 18:37] aviklai commented on #3551
@simster7 Great - thanks.
I will check again and update here.

[2020-07-22 18:46] jessesuen commented on #3545
This is a fundamental limitation of the k8s executor, unrelated to the use of a DAG template. the K8s executor cannot retrieve artifacts of a completed container, unlike docker/pns. The error you are seeing is the validation detecting this.

[2020-07-22 18:49] jessesuen commented on #3544
The argo-go client is a wrapper around the kubernetes native watch API, and should get exactly the same events of that. Can you confirm that the native k8s watch is receiving the event, but the argo go client is not?

[2020-07-22 20:02] #3527 closed

[2020-07-22 21:39] alexec opened #3556 "Does creator overwrite labels?"
I think that when we annotate with creator, we delete other labels.

[2020-07-22 22:00] alexec opened #3557 "Workflow Report"
# Summary

Allow reporting on workflows.

# Motivation

To see how long workflows have taken over time, or how much memory they used.

# Proposal

![Image from iOS (1)](https://user-images.githubusercontent.com/1142830/93688220-03cd6280-fa79-11ea-87fd-27589e6ba7e4.jpg)

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We

[2020-07-22 22:03] rbreeze commented on #3550
Fixed in #3555.

[2020-07-22 22:03] #3550 closed

[2020-07-22 22:30] #3419 closed

[2020-07-22 22:51] #944 closed

[2020-07-22 23:50] rbreeze commented on #3543
Addressed in [#3560](https://github.com/argoproj/argo/pull/3560)

[2020-07-22 23:51] sarabala1979 opened #3561 "Build failed with flaky test TestStorageQuotaLimit"
Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- Argo version:
[code]
- Kubernetes version :
[code]

**Other deb

[2020-07-23 00:04] segabond opened #3562 "Bearer token error argo + microk8s"
Checklist:

 * [X] I've included the version.
 * [X] I've included reproduction steps.
 * [] I've included the workflow YAML.
 * [] I've included the logs.

**What happened**:
I tried to use argo CLI with argo in microk8s instance and got this error when running

[code]
Got this error
FATA[0000] rpc error: code = Unauthenticated desc = failure to parse token: expected bearer token to be a JWT and

[2020-07-23 02:01] sarabala1979 commented on #3562
Default Argo CLI will not use any token. It is just wrapper on kubectl.  Can you try  `kubectl` commands?

`kubectl apply -f https://raw.githubusercontent.com/argoproj/argo/master/examples/hello-world.yaml`
 `kubectl get wf`

[2020-07-23 03:01] Ark-kun commented on #2679
Let's keep this up

[2020-07-23 06:37] arbielsk commented on #3545
@sarabala1979 At least with the docker container this already works (maybe it's not intended and just a nice side-effect). I just came upon issues with this when I was using the k8s api executor, as it has validation that disallows this (maybe it would even work, if the validation was not applied to DAG-level outputs)

My use case is as follows:
We are generating YAML code for complex workflows. I

[2020-07-23 08:27] lonsdale8734 opened #3564 "[bug] localhost not point to 127.0.0.1"
https://github.com/argoproj/argo/blob/13b1d3c19e94047ae97a071e4468b1050b8e292b/server/apiserver/argoserver.go#L232

`endpoint` should be explicit set as `127.0.0.1` but `localhost`. There are cases `localhost` is not resolved to 127.0.0.1

[2020-07-23 09:06] antoniomo commented on #3343
Should a raw data artifact be able to help? It seems like the current implementation has the same limitation as a parameter (metadata size) but it's a bit counter-intuitive. Shouldn't artifacts (even raw data ones) use the default artifact storage and thus not have this limitation?

[2020-07-23 11:41] LazyBrush commented on #3562
Hi there,

For me this issue was not using the correct server address.

Default localhost:2746 not same as 127.0.0.1:2746.
I had nothing listening on 9999, here as an example.

FATA[0000] rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing dial tcp 127.0.0.1:9999: connect: connection refused"

cheers!

[2020-07-23 15:10] alexec commented on #3564
Would you like to submit a PR to fix?

[2020-07-23 15:24] alexec commented on #3544
Can I request more information:

* What version of Argo CLI are you using?
* Are you using Argo Server?
*. What exact command do you execute to terminate your workflow?
* What happens when your run `kubectl get -w wf my-my`?

[2020-07-23 15:26] alexec commented on #3556
No. This is kind of a bug in the UI. #3498

[2020-07-23 15:26] #3556 closed

[2020-07-23 15:46] crunchtime-ali opened #3567 "Migrate Argo CLI to homebrew-core"
# Summary

Migrate the Argo CLI (and ArgoCD) Homebrew formulas from the custom Homebrew tap to `homebrew-core`

# Motivation

It makes Argo CLI even easier to install on macOS plus the big Homebrew community will co-author necessary changes (e.g. compile for Apple Silicon). Updates will be automated with a GitHub Action

# Proposal

It is already implemented and merged in homebrew-core: https://gi

[2020-07-23 16:00] #2718 closed

[2020-07-23 16:00] #3295 closed

[2020-07-23 16:16] #3506 closed

[2020-07-23 16:18] sarabala1979 opened #3569 "Persistence needs to support IAM based DB access"
# Summary

What change you think needs making.

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

How do you think this should be implemented?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-07-23 16:52] simster7 opened #3570 "Issues with Workflow details UI toolbar"
Some items no enabled when they should be, redirection broken. Working on it now.

[2020-07-23 17:42] mehtadeepen commented on #3343
Let me try this out. Can you confirm its only the argo client from where I will submitting my workflows will require github access or even there should be connectivity from K8s cluster to github?

[2020-07-23 17:48] mehtadeepen opened #3571 "Argo Workflows does not honour global timeout if step/pod is not able to schedule"
Checklist:

 I've included reproduction steps.

**What happened**:

Global timeout is set to 6 hours for workflow. Because cluster was not scaled one the step in workflow was not able to schedule.

**What you expected to happen**:

As global timeout is set to 6 hours. Workflow should timeout instead of keeping it running.

**How to reproduce it (as minimally and precisely as possible)**:

Submit a

[2020-07-23 17:56] sarabala1979 commented on #3571
The workflow should fail if the workflow level `activedeadlineseconds` reached even if any step is running or pending

[2020-07-23 17:57] mehtadeepen opened #3572 "If step is in pending state, step timeout(active deadline seconds) is not working"
**What happened**:

If step is in pending state, step timeout(active deadline seconds) is not working

**What you expected to happen**:

Step should timeout.

[2020-07-23 17:58] sarabala1979 commented on #3572
#3571

[2020-07-23 18:03] mehtadeepen commented on #3569
This would be good to have because managing password is difficult to manage. Also, If role based access is possible then it will easy to access db via trusting role.

[2020-07-23 18:05] mehtadeepen opened #3574 "Can we streamline of all different time units that we have as part of workflow spec ?"
# Summary

For Example: timeout is seconds while maxDuration is in minutes or hours or seconds.

It would be nice if all different time units are seconds.

# Motivation

We parametrize timeout for workflows. We take seconds for timeout, if I want to set same time for maxDuration it requires conversion.

# Proposal

Change all timeunit to seconds or just make it consistent :D

---

**Message from t

[2020-07-23 18:07] simster7 commented on #3574
Max duration is default seconds.

[code]

is equivalent to

[code]

[2020-07-23 18:17] mehtadeepen opened #3575 "Step level (global timeout) which supersedes even max duration for retry"
Step level (global timeout) which supersedes even max duration for retry.

I want to step to be killed irrespective retry, active deadline seconds or pending state - within a specific timeout.

Templates:

* DAG
* Steps
* Script
* Container
* Suspend

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues

[2020-07-23 18:45] alexec commented on #3569
Why not to support this:

https://forrestbrazeal.com/2019/02/18/cloud-irregular-iam-is-the-real-cloud-lock-in/

[2020-07-23 18:48] mehtadeepen commented on #3574
@simster7 Thanks for that info. Can we parametrize activedeadlineSeconds, macDuration values ? Should i create new enhancement story for it?

I want to pass those values using input/workflow parameters.

[2020-07-23 18:50] simster7 commented on #3574
You should certainly be able to parametrize

[2020-07-23 18:50] alexec opened #3576 "Reduce CLI binary size"
# Summary

The CLIs binaries are getting bigger and bigger. We should compact them.

# Motivation

So they are faster to download.

# Proposal

1. Strip debugging symbols.
2. Use UPX - subject to [LICENCE](https://github.com/upx/upx/blob/v3.96/LICENSE)

https://dev.to/akshaybharambe14/guide-to-compress-golang-binaries-2d95

---

**Message from the maintainers**:

If you wish to see this enhancemen

[2020-07-23 18:51] mehtadeepen commented on #3574
I definitely sure about `activedeadlineSeconds ` it is not. I will check for maxDuration.

[2020-07-23 18:51] simster7 commented on #3574
I'll look into this. Is this at the Workflow-level or the template-level

[2020-07-23 18:53] segabond commented on #3562
@sarabala1979 kubectl works fine, it would complain on name missing, but after adding the name to the workflow it normally created a container
parallels@parallels-Parallels-Virtual-Platform:~$ kubectl apply -f hello-world.yaml
workflow.argoproj.io/abc created

Also latest release argo v2.9.3 works fine, you obviously have a regression in RC 2.10.x

[2020-07-23 18:54] sarabala1979 commented on #3572
Currently, Argo support doesn't have a step level timeout. I think this is an enhancement

[2020-07-23 18:58] alexec commented on #3549
We use kustomize to patch the manifests and set the auth-mode appropriately.

[2020-07-23 19:01] segabond commented on #3562
Here you are - 2 versions side by side - confirmed
[code]

[2020-07-23 19:14] alexec commented on #3343
Correct. The `wait` container, which is part of the pod that runs in the user namespace, is the process that needs access. If you can run a container in your namespace that can access the Github repository, you are good.

[2020-07-23 19:32] alexec opened #3577 "Shift-left the functional test framework"
# Summary

Shift-left this framewark

# Motivation

Faster to write more robust tests.

# Proposal

[code]
---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-07-23 19:34] alexec commented on #3562
Are you using `ARGO_TOKEN` environment variable?

[2020-07-23 19:36] segabond commented on #3562
I am not using `ARGO_TOKEN` environment variable.

[2020-07-23 20:26] #3505 closed

[2020-07-23 20:28] alexec commented on #3562
But you are using `ARGO_SERVER` env var?

[2020-07-23 20:29] segabond commented on #3562
No I am not using any special environment variables. I've run into the issue by following the hello world example so assume very basic setup.

[2020-07-23 20:42] alexec opened #3578 "withItems incorrect type in full CRD"
Is

[code]

Should be:

[code]

[2020-07-23 20:45] alexec commented on #3562
OK. I see bug. We should ignore weird and bad server tokens.

[2020-07-23 21:11] #3562 closed

[2020-07-23 21:50] alexec commented on #2717
#3558 produces a way to determine likely execution time and to dig into problems.

[2020-07-23 22:09] alexec commented on #3576
data:
[code]

[2020-07-23 23:47] #3543 closed

[2020-07-24 04:00] scr-oath commented on #3500
Hmm… this seems like this version of argo can't get past it no matter what I do - I made some nodes have docker and changed back, but they're still getting the cannot validate. certificate error; I guess I'll have to remove argo altogether and start again.

[2020-07-24 12:05] hadim commented on #3445
@simster7 I just realize that adding and handler to `onStart` does not solve the original issue.

We are running our cluster on GKE. Sometimes the workflow has not been configured correctly and the asked CPU limits + `nodeSelector` cannot be satisfied. In return the workflow stays in pending state forever and never fails with this kind of message:

[code]

This is confusing because the same pendin

[2020-07-24 15:16] simster7 commented on #3574
Have confirmed that `activeDeadlineSeconds` is an `int` field and therefore cannot be parametrized. Will look into potentially allowing parametrization

[2020-07-24 15:24] alexcapras opened #3585 "Add ability to automatically decompress zipped artifacts"
# Summary

Currently, the executer has the ability to automatically unpack tar-balled artifacts (.tar.gz). It might be nice to add the ability to do the same for zip files (.zip).

# Motivation

Sometimes artifacts need to be zipped instead of tarred, but it's nice to still have the auto-unpack functionality.

# Proposal

In executor.go, we check if an artifact is a tarball, using function `isTarb

[2020-07-24 15:35] alexcapras opened #3586 "Create default S3 bucket if not present"
# Summary

When writing output S3 artifacts to a bucket (e.g. default bucket), if the specified bucket doesn't exist, the execution fails. A message is shown in the Argo UI saying: `failed to save outputs: timed out waiting for the condition`.

I propose we add the option to enable the auto-creation of the required S3 bucket if it does not exist.

# Motivation

In a newly bootstrapped environment,

[2020-07-24 16:21] alexec commented on #3574
I think we should have a new type `Duration` that can be int or string and converts into a duration. We might be able to re-purpose `TTL` for this.

[2020-07-24 16:22] alexec commented on #3574
Marking with "investigate" so that it gets pick up in next planning session.

[2020-07-24 16:27] alexec commented on #3500
@scr-oath am I right in thinking that you have tried `kublet` and `pns`? Did you manage to run without using artifacts? Did you try `k8sapi`?

[2020-07-24 16:38] alexec opened #3587 "Memoization Storage"
# Summary

Memoization is a feature that allows users to run workflows faster by avoiding repeating work that has already been done.

Currently memoization uses a Kubernetes config map for storage. This will not scale to large number of entries, it requires elevated RBAC. Instead, we should provide the option to use a alternative database to store these in.

# Motivation

Large workflows.

# Propo

[2020-07-24 16:40] alexec opened #3588 "Configure memoization storage at spec level"
# Summary

Currently memoization storage is configured at step level. Configuring at workflow level would be more user friendly.

# Motivation

To reduce time and effort configuring memoization.

# Proposal

`/spec/memoization/cache` or similar.

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this

[2020-07-24 16:42] alexec opened #3589 "Investigate node outputs (offloading outputs to reduce node status)."
# Summary

Support larger inputs and outputs.

# Motivation

Because we use annotation to pass in inputs and out outputs, we are limited by the size of annotations and manifest (i.e. 1Mb). By storing these elsewhere, we circumvent this.

# Proposal

How do you think this should be implemented?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 r

[2020-07-24 16:44] alexec opened #3590 "Be able to list more workflows on GUI"
# Summary

Make listing many workflows fast.

# Motivation

It is too slow, this may well be a bug.

# Proposal

* Are we correctly filtering the response?
* Are we only getting updates?
* Are we using resourceVersion to filter?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what

[2020-07-24 16:45] alexec commented on #3525
We need some requirements for this issue. How do you want RBAC to work and be configured? Please be specific!

[2020-07-24 16:58] rbreeze opened #3591 "feat(ui): "Group By" in workflows list"
# Summary

In the interest of improving readability and page performance with a large number of workflows, I think it would be useful to have a "group by" feature in the workflows list.

# Motivation

When a user has hundreds of workflows it would be useful to have an additional way to sort them. Performance could also be improved (without having to use pagination) by collapsing / hiding groups so

[2020-07-24 17:08] alexec commented on #3438
I'm justing bumping this issue. For this to be a success, we need to seed the catalog with some templates. We currently have 3, and I think we should try and get at least 10 more. Would anyone be willing to contribute any?

[2020-07-24 17:26] alexec commented on #3542
@rbreeze did you fix this?

[2020-07-24 17:35] alexec commented on #716
See #3080

[2020-07-24 17:35] #716 closed

[2020-07-24 17:45] terrytangyuan opened #3593 "Proposal: Support retention period for workflow memoization"
# Summary

Support retention period for workflow memoization.

# Motivation

Currently the memorization cache uses configmap and it will be problematic when the number of workflows gets large. It's hard to maintain them manually (infra needs to add additional logic to support this and they are often lack of domain knowledge on specific applications). Another use case is that users might only want

[2020-07-24 17:46] rbreeze commented on #3542
@alexec Tested on Firefox and Chrome/Brave, and cannot reproduce after #3560 - so I believe yes this is fixed.

@foobarbecue Which browser / OS are you using?

[2020-07-24 17:59] scr-oath commented on #3500
Well after reinstalling argo with the namespace installation, I was able to run the hello world, but the pipelines need, if not full-fledged artifacts, at least the ability to get
[code]
with this snippet
[code]

[2020-07-24 18:47] simster7 commented on #3575
Could you provide an example workflow that has this issue?

[2020-07-24 18:56] #3570 closed

[2020-07-24 19:02] alexec commented on #3572
We might call this `pendingTimeout` because we want to wait for a node to move out of pending state.

`activeDeadlineSeconds` is simply carried forward to the pod spec, the meaning is not the same as the workflow level `activeDeadlineSeconds`.

[2020-07-24 19:50] #3080 closed

[2020-07-24 20:45] meurig opened #3595 "UI: Hard to see child dependencies with complicated workflows"
# Summary

I understand that the graph has been rewritten to render an order of magnitude faster, and that's great! but is it possible to get the old graph back, either via a config flag or a ui toggle on the graph?

# Motivation

The current graph render doesn't line up parent and child nodes well. If I have 5 parents each with 20 children, it's very hard to trace a child back to it's parent. The

[2020-07-24 20:54] foobarbecue commented on #3542
Chrome Version 84.0.4147.89 (Official Build) (64-bit) on Win 10. Looks good to me!

[2020-07-24 20:54] #3542 closed

[2020-07-25 02:15] dcherman commented on #3438
Definitely.  I also spent a couple hours tonight and hacked up a basic integration tests runner so that authors can begin to submit tests alongside the catalogs.

[2020-07-25 11:11] aviklai commented on #3551
@simster7 I checked and the workflows are not deleted.
I set the ttl strategy as I posted in the question and I have many successful workflows that are 2 days old and not deleted yet.
I have checked the logs in the workflow controller and I don't see the following log for these workflows:

https://github.com/argoproj/argo/blob/3d50f9852b481692235a3f075c4c0966e6404104/workflow/ttlcontroller/ttlcont

[2020-07-25 17:48] TMaYaD commented on #3176
Is there any way I can raise the 10s limit to some custom value? I want to quickly eliminate/confirm this in fact is the actual error.

[2020-07-25 21:50] #2883 closed

[2020-07-25 22:38] hadim commented on #3445
Can we re-open this issue given the message above? If you prefer I can open a new one. Let me know.

[2020-07-25 22:40] hadim commented on #3591
I would add to this feature some sorting mechanism to be able to sort workflow from the list by duration, age, status, namespace, etc.

[2020-07-25 22:49] hadim opened #3599 "Upload artifact output as a folder without archiving"
# Summary

It would be nice to be able to upload an output artifact folder to S3/GCS without archiving it.

# Motivation

In certain cases, it's easier to have the data ready to be processed on S3/GCS. For example, you can retrieve a specific file from the output without having to download + unpack the archive.

# Proposal

The backward compat should be kept. We could add an option to the artifact

[2020-07-25 22:52] hadim commented on #3599
Probably also of interest:

- https://github.com/argoproj/argo/issues/3402

[2020-07-26 05:57] sarabala1979 commented on #3445
Fixes #3581

[2020-07-26 11:36] hadim commented on #3445
Thank you. activedeadlineseconds seems to be set for both pending and running workflow. Our workflow should be considered failing after 10min in pending state but they usually run for ~20h. Could we separate this parameter for running and pending workflow?

[2020-07-26 23:02] sarabala1979 opened #3600 "Workflow is stuck in pending state if K8S API connection issue"
Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
If the entry template has any K8S API exception. Workflow stays pending state.

[code]

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need t

[2020-07-27 06:06] jonmun93 opened #3601 "Kubectl pods aren't running argo"
Hi,

I'm really new to Kubernetes and especially Argo. I'm just following the instructions on "https://argoproj.github.io/argo/quick-start/" but perhaps I've done something wrong.

I'm using WSL 2.0 (Ubuntu) on Windows 10.
My Kubernetes cluster is from Docker for desktop.
Kubectl version: 1.16
Docker version: 19.03.8
Argo version: 2.10

I tried to run:

`kubectl -n argo port-forward deployment/arg

[2020-07-27 13:32] tanenbaum commented on #3409
I've had the same problem with 2.9.x wherein I have JSON data with `\"` escaped quotes in strings. The strings appear to be double escaped before they get set as inputs.

I can confirm that the above example does not work in `2.9.3`, logging `export: "{: bad variable name` with the input:

[code]

However, it does work in `v2.10.0-rc3`, logging `{ "data" : { "cache-breaker" : "20200727133013"}} -n

[2020-07-27 14:41] simster7 commented on #3176
Currently there is no way unless you make your own build and modify this line:

https://github.com/argoproj/argo/blob/17b46bdbbe72072d87f83625b4cf1873f9c5379b/workflow/controller/operator.go#L108

See https://github.com/argoproj/argo/blob/master/docs/running-locally.md

[2020-07-27 14:41] #3176 closed

[2020-07-27 14:51] simster7 commented on #3601
You can run `kubectl describe pod <POD_NAME>` to see why the Pod hasn't been started. In your example `<POD_NAME>` would be `workflow-controller-8dd6bff96-pmzwc`

[2020-07-27 15:07] alexec commented on #3599
Could you please add some example of the YAML you'd expect?

[2020-07-27 15:23] hadim commented on #3599
Something like thise:

[code]

[2020-07-27 15:25] saji-mathew72 opened #3603 "Issue with stable installation script"
Hi, Is there a version of the installation script that works with k8 api v1?
I get the following error message
CustomResourceDefinition.apiextensions.k8s.io "workflowtemplates.argoproj.io" is invalid: status.storedVersions[0]: Invalid value: "v1": must appear in spec.versions
When using  kubectl apply -n argo -f https://raw.githubusercontent.com/argoproj/argo/stable/manifests/install.yaml
Any idea

[2020-07-27 15:27] alexec commented on #3599
I think there is an archive strategy option. I'm not sure if it is implemented. Could you try that?

[2020-07-27 15:34] simster7 commented on #3551
Thanks for getting back to me @aviklai. It's hard to diagnose the problem without more information, can I ask for

* The K8s object of one of the Successful workflows that has not been deleted? You can get it by running `kubectl get wf <NAME> -o yaml`. (If it contains private information and you'd rather share it privately, you can send it to me on the Argo slack `@simon`).

* Also helpful would b

[2020-07-27 15:35] hadim commented on #3599
But the archive option will still create a single output file `output.tar` (with no compression). It's a good point but my initial thought was to have the folder itself being uploaded (instead of a single archive file).

[2020-07-27 15:40] hadim commented on #3599
Oh but it actually already works!

[code]

Sorry for the noise @alexec . I close here.

[2020-07-27 15:40] #3599 closed

[2020-07-27 15:56] simster7 opened #3604 "Panic and ambigous error on watch endpoint"
If the watch endpoint request is malformed; i.e., workflows to be watched are not specified with a `metadata.name=...` field selector, the server panics and an ambiguous error is returned.

Stacktrace
[code]

[2020-07-27 16:01] simster7 commented on #3595
Can you provide a screenshot to show what you mean?

We have also recently merged a feature to auto-collapse the children of nodes, which might make this simpler. Take a look:

https://github.com/argoproj/argo/pull/3526#issuecomment-662150920

[2020-07-27 16:03] simster7 commented on #3593
We intentionally shipped the memoization without this feature in order to see how it is used and shaped by the community. We certainly expected this to be an enhancement request and it would be great if the community adds to the discussion here with their use cases and expectations.

[2020-07-27 16:18] alexec opened #3606 "Retry on `the server has received too many requests and has asked us to try again later (post pods)` errors"
I think, like `Forbidden`,  we should retry `TooManyRequests`.

[2020-07-27 16:31] felixgao commented on #2729
I might have one. We are producing some data into Kafka and there are a set of ML models that could be executed by the same data and we would like to combine those model outputs in some way (say, a linear combination of all the model's output) then return the value into another kafka topic so our down stream consumer can use the output.

[2020-07-27 16:49] alexec opened #3608 "Re-establish watch on `watch object was not a workflow *v1.Status` error"

[2020-07-27 17:24] #3498 closed

[2020-07-27 17:46] #3571 closed

[2020-07-27 18:48] #3604 closed

[2020-07-27 19:00] jessesuen commented on #3600
Possibly related to resourceVersion equality check during Update handler.

[2020-07-27 19:13] Syps opened #3611 "Workflow fails when a dash ('-') is in the conditional "when" statement"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

Argo version: v2.9.2

**What happened**:
In a conditional workflow step (one using the "when" attribute), if there is a "-" character in the string value for `when:`, the workflow will fail.

**What you expected to happen**:
Strings containi

[2020-07-27 19:27] simster7 commented on #3611
Try quoting? `when: "{{inputs.parameters.should-print}} == \"true-dash-true\""`?

[2020-07-27 19:55] Syps commented on #3611
🤦‍♂️ That works! Thanks @simster7 If it's a small fix though it might still be nice to support dashes in strings without the escaped quotes since the following seems non-obvious:

This works:
[code]

But this doesn't:
[code]

[2020-07-27 20:03] saji-mathew72 commented on #3603
Hi, thanks for responding.

We use  v1.17.6

[2020-07-27 20:13] alexec commented on #3525
We need something beyond 👍 for this issue to be worked on. Please can you add some information about how you expect RBAC to work?

[2020-07-27 20:13] alexec commented on #1813
Closing in favour of #3525.

[2020-07-27 20:15] #1813 closed

[2020-07-27 20:21] crunchtime-ali commented on #3567
I can close this issue because https://github.com/argoproj/argo/pull/3568 has been merged.

[2020-07-27 20:21] #3567 closed

[2020-07-27 20:28] aviklai commented on #3551
@simster7 Hi,

I checked now and all the workflows were deleted.
I do see in the logs that they were deleted very late.
For example, look at the following part of the log:

`set expire at 2020-07-24 22:49:45 +0000 UTC (-62h43m17.062470846s from now)`
Which means it was deleted with a delay of 62 hours, right?
I will send you the screenshots on slack. Thanks!

[2020-07-27 20:52] meurig commented on #3595
I'm having some trouble posting screenshots this evening, but I'll try and get a before and after shot up tomorrow so you can see what I'm talking about.

Collapsing nodes might be a good alternative - is there an imagine up somewhere with this change in? I'm currently running 2.10.0-rc3.

[2020-07-27 20:54] simster7 commented on #3611
The library that evaluates these expressions actually requires quotes, but we as a convenience allow them to be omitted, so that they don't interfere with the overlapping quotes of the `when` field. Unfortunately, this is the other side of the coin.

[2020-07-27 20:54] #3611 closed

[2020-07-27 20:56] kabilan6 commented on #3525
Just a thought to start with - Read only user ( can only view workflow, all submit button should be disabled)  and admin user with all privileges

[2020-07-27 22:36] jonmun93 commented on #3601
Thanks!

This was the error message I got:

[code]

So I do a `kubectl get nodes`

[code]

So, I'm guessing I need to enable scheduling for docker-desktop? I didn't even disable it. I've been Googling how to enable the scheduling and I can't seem to find the answer.

Does anyone know what I'm supposed to do here?

[2020-07-27 22:55] jonmun93 commented on #3601
Okay, so I thought I had it but it still isn't working.

I ran

`kubectl describe nodes`

and got
[code]

So I did some Googling and used this command to try and remove the taint.

 `kubectl taint nodes --all node.kubernetes.io/unschedulable:NoSchedule-`

Which got me the following output.
`node/docker-desktop untainted`

So I check the node again and it's still disabled.

`kubectl get nodes`

NAM

[2020-07-27 23:09] alexec commented on #3343
@mehtadeepen I believe you have a workaround I provided. I'm marking this as `workaround` and closing. Please comment if needs re-opening.

[2020-07-27 23:09] #3343 closed

[2020-07-27 23:10] alexec commented on #3561
If there are good unit tests then don't fix.

[2020-07-27 23:14] alexec commented on #3545
@sarabala1979 to do 1hr investigation.

[2020-07-27 23:26] alexec commented on #2239
argoproj.github.io/argo/workflow-executors/#process-namespace-sharing-pns

[2020-07-27 23:28] alexec commented on #2239
The core team runs PNS executor successfully. If anyone has come up with a solution to using PSP, then can you please share it?

[2020-07-27 23:40] #3541 closed

[2020-07-27 23:46] alexec commented on #3576
Sneak into sprint.

[2020-07-27 23:51] jonmun93 commented on #3601
Okay, so I wasn't able to resolve it by running commands so I just clicked on "Reset Kubernetes Cluster" in the Docker for desktop settings which is disappointing and now I can get my Argo server running just fine.

Funnily enough, I tried doing the exact same thing yesterday and it didn't work...

Something about the definition of insanity...

[2020-07-27 23:51] #3601 closed

[2020-07-27 23:59] alexec commented on #3576
Why not just gzip the binaries?

[2020-07-28 00:15] alexec commented on #3576
gzip works well.

[2020-07-28 02:54] guoweis-outreach commented on #1256
yeah, seeing this with pns as well. Not sure what to do here...

[2020-07-28 09:12] meurig commented on #3105
I believe I'm seeing the same issue in v2.10.0-rc3.

The main.log file for my failed node has been archived to minio (I can see it through the minio ui) but there are no output artifacts listed for the node and the "logs from the artifacts" link says artifact not found.

[2020-07-28 15:01] meurig commented on #3595
Please find attached screenshots of the same workflow on v2.10.0-rc3 and v2.8.2.

![argo2](https://user-images.githubusercontent.com/507747/88683095-575fa780-d0eb-11ea-8b67-86e3aa082d44.png)
![argo3](https://user-images.githubusercontent.com/507747/88683098-59296b00-d0eb-11ea-9a3a-1ec3565a0df4.png)

Hopefully it's clear from these shots that the horizontal positioning of nodes in the fourth row (a

[2020-07-28 15:13] alexec commented on #3105
I think we need more information:

* Can you please attach the logs of all containers within the pod. Specifically, I'm after the `wait` container logs.
* The YAML of the pod, so I can examine the annotations on it.
* The workflow controller logs.

[2020-07-28 15:19] meurig commented on #3105
I've just set up pod garbage collection as the default, so it's a lot harder to get those now than it was!

Is there a way to switch podgc off for a particular workflow?

[2020-07-28 15:30] alexec commented on #3525
One cheap solution to RBAC is to base it on the URL of each request to the server using [Casbin](https://casbin.org/).

Operators must configure a `model.conf` and `policy.csv` and add them as files to the `argo-server` container (I would use a config-map volume for this):

So...

* `sub` - the OAuth2 subject.
* `obj` - the URL
* `act` - the HTTP method: GET/PUT/POST/DELETE etc

Casbin model:

mod

[2020-07-28 15:32] alexec commented on #3525
I'd like to hear more uses cases please.

[2020-07-28 15:49] alexec commented on #1658
See #3557

[2020-07-28 15:52] alexec commented on #1658
We've an ask for this in the user interface, both at a node and workflow level.

This could be done in the UI using existing backend code by getting the last successful execution of the workflow (determine by `workflows.argoproj.io/workflow-template` label - i.e. only works for templates and only if there was a last successful run). It is a straight forward look up on the workflow.

This is not a

[2020-07-28 16:10] simster7 commented on #3590
After more investigating and talking to users, seems like this issue is limited to <2.9. A user who experienced the issue (@salanki) said that a slow was experienced around 100 workflows, all of them in versions <2.9. During testing I was able to list up to 500 workflows without any noticeable slowdowns.

The most likely fix for this issue was https://github.com/argoproj/argo/pull/3165 and https:/

[2020-07-28 16:11] alexec opened #3617 "Disable TLS when running in dev mode"
The latest version of OS-X does not allow you use it is Chrome. I have to use Firefox. I don't like that. Just remove `--secure` from manifests.

[2020-07-28 16:21] simster7 commented on #3617
😱

[2020-07-28 16:23] LazyBrush opened #3619 "Using argo to build and push docker image, parameter issues"
# Summary

I am trying to use argo to build a docker image and push to a docker repo.
This is using config from various examples 'steps', 'docker in docker sidecar', etc.

However, I cannot seem to pass parameters or to use them.

In my spec section I have

<pre>
  arguments:
    parameters:
    - name: dockerrepo
      value: some.machine:5000/home
</pre>

In my steps section I have
<pre>
    - -

[2020-07-28 16:35] saji-mathew72 commented on #3603
Hi, Any thought on this issue?

[2020-07-28 16:44] simster7 commented on #3595
Hi @meurig. Yes, it's certainly very clear what you mean now, thank you for providing the screenshots.

I'll look into this and see if I can find a fix.

One thing that would help me immensely is if you could send me the Workflow object for the Workflow in that screenshot. You can get it by running `kubectl get wf <NAME> -o yaml`. If you'd rather send it to me privately, you can send it to me on o

[2020-07-28 17:00] sudarshntn commented on #3525
@alexec The SSO enablement in ArgoWorkflow is not seem less like we have in ArgoCD where we allow existing OIDC provider also. We would like to have a simplified SSO functionality along with RBAC enabled.

[2020-07-28 17:02] brabster opened #3620 "v2.9.1: Workflow controller restarts with 'fatal error: concurrent map read and map write'"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

Workflow controller started crashing, due to missing end brace in a template.

[code]
Earlier error from stacktrace:
[code]

Started up OK when we uninstalled the problematic workflow, before that:
[code]

**What you expe

[2020-07-28 17:05] #3606 closed

[2020-07-28 18:23] simster7 commented on #3551
@aviklai and I chatted offline, we think the issue might be related to the environment. Will leave issue open for now in case other users experience the same issue

[2020-07-28 18:41] jessesuen commented on #3620
Could you paste the section of logs which contain the panic stacktrace? At the moment it's not enough to go off of.

[2020-07-28 18:56] alexec opened #3621 "Make it easier to find out the cron/template/cluster template that the workflow was submitted from"
# Summary

Show this is the _workflow list_ and _workflow summary panel_.

# Motivation

As a user

* I'd like to quickly get from my workflow to the template that it was submitted from.
* List similar workflows.

# Proposal

UI only change.

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way

[2020-07-28 19:11] alexec opened #3622 "Re-submitted workflows do not carry over labels"
When you re-submit a workflow, labels for templates should remain?

workflows.argoproj.io/resubmitted-from-workflow

[2020-07-28 21:00] meurig commented on #3595
Hi @simster7 ,

I can't share that exact workflow, but please find attached an example workflow that I've put together to produce a similarly complicated output

[argo_wacky_workflow.zip](https://github.com/argoproj/argo/files/4991153/argo_wacky_workflow.zip)

Please note it won't match those screenshots exactly!

I hope this helps,

Meurig

[2020-07-28 21:04] vladlosev commented on #3525
The casbin based policy is quite a bit more complex than simply mapping a group returned by OIDC to a k8s service account. This is mostly due to the burden of having to write and maintain a policy covering constantly expanding and changing set of URLs.

[2020-07-28 21:19] simster7 commented on #3595
This will do perfectly fine! Thank you

[2020-07-28 22:19] LazyBrush commented on #3619
Trying to narrow this down.   The example argo/examples/global-parameters.yaml also does not work for me and I get the same error with:

<pre>
argo -n argo submit hello2.yaml -p message="darn gosh"  -s 127.0.0.1:9000
</pre>

But it works if I change

<pre>
args: ["{{workflow.parameters.message}}"]
</pre>

For a fixed string

<pre>
args: ["boom"]
</pre>

[2020-07-28 22:34] #3576 closed

[2020-07-29 02:26] alexec commented on #3525
I think you're probably correct about that.

[2020-07-29 02:42] opensean commented on #3026
**Argo version**: v2.9.4
**Kubernetes version**: v1.15.5

I am seeing a similar error when trying to use service ```type: LoadBalancer``` as described in the docs.  I am using the namespace install manifests to deploy argo.

https://raw.githubusercontent.com/argoproj/argo/v2.9.4/manifests/namespace-install.yaml

I modified the argo-server service in the manifest to use an internal loadbalancer (i

[2020-07-29 02:50] opensean commented on #3026
i should add that using ```argo server``` on the command line works perfectly fine, however, ```kubectl port-forward svc/argo-server 2746:2746``` gives the same error as above.

[2020-07-29 02:52] alexec opened #3625 "unexpected error: `malformed request: workflows must be specified with a 'metadata.name=...' field selector`"
[code]

[2020-07-29 03:55] vladlosev commented on #3355
Validation failures are still happening after applying #3480 when I put tolerations into `workflowDefaults`:

[2020-07-29 06:15] #3545 closed

[2020-07-29 08:17] LazyBrush commented on #3619
FIXED

Changing argo cli from v2.10.0-rc1  to v2.10.0-rc4 fixed this issue.

[2020-07-29 14:15] sudarshntn opened #3626 "Unable to use SSO with redirect URL pointing to a Ingress https URL"
ArgoWorkflow version 2.9.4

**Issue:**
when we try to access the argo workflow url and try to login we are getting below error:
failed to verify token: failed to verify signature: fetching keys oidc: failed to decode keys: expected Content-Type = application/json, got "application/jwk-set+json": illegal base64 data at input byte 43 {
[code]
**Steps followed:**
When deploying Argo Workflow we have

[2020-07-29 15:24] simster7 commented on #3625
Could you provide more details as to how this happened? Likely this request was malformed

[2020-07-29 15:25] #3619 closed

[2020-07-29 15:56] alexec commented on #3625
This is loading the workflow list page in the UI. No changes to workflows appear in the UI. It is broken.

[2020-07-29 15:58] alexec commented on #3626
It is unclear when this error is happening. Can I ask:

* Are you using an ingress? Are you using `BASE_HREF` or and reverse proxy?
* Which actual request fails? Can you provide the HTTP request logs from you browser network console?

[2020-07-29 16:47] nvenkatapavan commented on #3626
@alexec
Thanks for the reply.

Yes we are using ingress and here is the ingress yaml file
`
apiVersion: v1
items:
- apiVersion: extensions/v1beta1
  kind: Ingress
  metadata:
    labels:
      chart: argo-0.9.9
      heritage: Tiller
      release: argo
    name: argo-server
    namespace: argo
  spec:
    rules:
    - host: devops-argoworkflow.xyz.com
      http:
        paths:
        - backend:

[2020-07-29 17:04] tanenbaum opened #3630 "v2.9.4: Parameter file with WorkflowTemplate items unset"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
Using a WorkflowTemplate with parameters file and default argument values results in inconsistent setting of the parameters in the workflow (i.e. some are set from the file and some are not). Seems like it might be related

[2020-07-29 17:19] TMaYaD commented on #3176
For anyone else ending up on this page, it turns out that the default install manifests from the repo don't add any resource requests. As a result, the workflow controller is CPU starved as workflow step pods get queued and even a simple calculation was taking a lot of wall clock time and timeout. Adding a cpu request of 500m(YMMV) solved the issue for us.

[2020-07-29 17:21] tanenbaum commented on #3630
While playing round with the `WorkflowTemplate` and `parameters.yaml` I managed to get a nil pointer dereference in the controller too.

`parameters.yaml`:

[code]

Workflow template:

[code]

Controller logs:

[code]

I don't know if it's related. It's the first time this has happened.

[2020-07-29 17:45] chriswwalz opened #3633 "Does upgrading Argo affect workflows that are currently running?"
# Summary

What do you want to know about this project?

I know how to write workflows, submit workflows and interact with the web api

# Motivation

Why do you need to know this, any examples or use cases you could include?

We run many workflows in Argo and there is no window to upgrade

[2020-07-29 18:01] simster7 commented on #3633
Yes, the new controller will pick up workflows exactly where they were left off by the old controller. We almost always (99%+) ensure that new versions are backwards compatible, but we don't guarantee it. Because of this, for best results upgrade Argo when there are no Workflows running.

[2020-07-29 18:04] simster7 commented on #3625
Looking into this now

[2020-07-29 18:05] chriswwalz commented on #3633
Okay thanks!

[2020-07-29 18:05] #3633 closed

[2020-07-29 18:09] sarabala1979 commented on #3630
are you using 2.9.4 CLI version? you can check the CLI version `argo version`

[2020-07-29 18:11] tanenbaum commented on #3630
I can confirm it is 2.9.4 - I did log it above.

[code]

[2020-07-29 18:23] sarabala1979 commented on #3630
are you creating workflow template using `kubectl`?
if you use argo CLI it will fail validation.
`2020/07/29 11:21:24 Failed to create workflow template: spec.arguments.h.value is required` for nil pointer

I am trying on Master branch  parameter substitution is working file

[code]
I will try on 2.9.4 branch

[2020-07-29 18:27] tanenbaum commented on #3630
I have been using `kubectl` to create the workflow. That last example is probably bad, however the original appears to validate fine.

I'll try validating my non-contrived system too, see if that's the issue.

[2020-07-29 18:34] tanenbaum commented on #3630
Actually, the original I posted does not validate, which appears to be a typo when I was inputting it. I'll paste it again here:

[code]

`parameters.yaml`
[code]

`--loglevel DEBUG get` output:

[code]

[2020-07-29 18:54] jessesuen commented on #3622
I agree we should carry forward existing labels (aside from the ones used functionally e.g. completed=true)

[2020-07-29 19:13] sarabala1979 opened #3637 "TestFailSuspendedAndPendingNodesAfterDeadline is a flaky test"
Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- Argo version:
[code]
- Kubernetes version :
[code]

**Other deb

[2020-07-29 19:41] tanenbaum commented on #3630
I've tested fresh installs of a few versions with the above WorkflowTemplate and parameters.yaml.

- 2.9.3 - works as expected
- 2.9.4 - does not set values as shown
- 2.10.0-rc4 - does not set values

2.10.0-rc4 output below:

[code]

[2020-07-29 20:49] #2358 closed

[2020-07-29 21:33] #3625 closed

[2020-07-30 07:29] brabster commented on #3620
@alexec yes, it's a GKE cluster.

@jessesuen here you go https://gist.github.com/brabster/4f577e5586164aacaa255ce0df23cff8 - please let me know if you see anything in there I should have redacted, think it's clear!

[2020-07-30 11:13] meurig commented on #3105
Hi Alex, I've sent the requested debug info to you as a dm on slack.

[2020-07-30 12:38] sh-tatsuno opened #3641 "How to get generateName inside workflow"
# Summary

I want to get generateName hash inside workflow. But how can I do?

# Motivation

Our team posts workflow results to slack channels so that we could notice them immediately.
So, I want to attach a direct link to the results of workflows to the posts.

In this case, I assume that it is necessary to know generateName in the job.
e.g ) https://job-domain/workflows/{prefix-}{generatedName}

[2020-07-30 13:03] hadim opened #3642 "[Argo API] get a list of workflows from a list of names"
Is that possible to get a list of workflows (from one single HTTP call) from a list of workflow's names?

I tried something similar to:

[code]

With `workflow_names` being a list of names but it API returns a not supported error.

[2020-07-30 14:36] tanenbaum commented on #3630
As a workaround, I've found that if I just ditch global workflow parameters, and use template level inputs explicitly it does work.

Not as nice though, as there's a fair bit of repetition.

[2020-07-30 14:45] simster7 commented on #3641
You can use `{{workflow.name}}`

[2020-07-30 14:54] simster7 commented on #3620
Thanks for the extra informatiion @brabster, I found the issue. Having missing end braces shouldn't panic, but produce an error.

[2020-07-30 15:08] simster7 commented on #3620
As for the `concurrent map read and map write` issue: are you using custom metrics? This recent fix comes to mind: https://github.com/argoproj/argo/pull/3401

[2020-07-30 15:28] #3620 closed

[2020-07-30 16:01] laymain opened #3644 "Break sequential loop if an iteration fails"
# Summary

Break sequential loop if an iteration fails

# Motivation

I have a sequential loop using `parallelism: 1` and I need to stop the loop execution when an iteration fails,
in order to not process next iteration if previous one has failed.

Given this template:

[code]

Currently, executing this workflow gives:

[code]

I would like to be able to break the loop if an iteration fails:

[cod

[2020-07-30 16:17] alexec commented on #3105
try

[code]

[2020-07-30 16:20] alexec commented on #3630
Cause (new commit in v2.9.4):

f0e8a332 fix: Merge WorkflowTemplateRef with defaults workflow spec (#3480)

[2020-07-30 16:21] #3637 closed

[2020-07-30 16:21] alexec commented on #3642
Try `listOptions.fieldSelector=metadata.name in (...)` (Ii.e. remove `items`) - if that does not work, I'm not sure what would.

[2020-07-30 16:28] #3617 closed

[2020-07-30 16:28] hadim commented on #3642
I tried without `items` too but the same error. That being said the issue could in the way I format the list with `[]` instead of `()`. I will report here.

[2020-07-30 16:28] #3622 closed

[2020-07-30 16:59] simster7 commented on #3644
When you use `withParam` Argo creates and schedules all resulting tasks in parallel. Since you have `parallelism: 1`, they do in practice run sequentially, but at that point they have already been scheduled to run, regardless of failures.

Perhaps using this [recursive for loop](https://github.com/argoproj/argo/blob/master/examples/recursive-for-loop.yaml) example might work better for this use ca

[2020-07-30 17:01] simster7 commented on #3642
[`fieldSelector` does not support the `in` operation, unfortunately.](https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/)

[2020-07-30 18:29] KPostOffice opened #3645 "Exceeded Quota Causes Failed Workflows"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
Workflow failed due to exceeding CPU quota and also due to exceeding memory quota

**What you expected to happen**:
Pod should stay in pending state until it is able to get the necessary resources.

**How to reproduce it (

[2020-07-30 18:46] jessesuen commented on #3644
I believe we used to fail fast when parallelism was reduced. This might be a regression.

[2020-07-30 18:47] jessesuen commented on #3642
This doesn't look possible with K8s APIs.

[2020-07-30 18:47] #3642 closed

[2020-07-30 19:31] mehtadeepen commented on #3572
Also, In my opinion this is a BUG not enhancement.

In argo examples --> https://github.com/argoproj/argo/blob/master/examples/timeouts-step.yaml …. It clearly states its a step timeout. Argo controller should honor it even if step is in pending state, Its controller’s internal implementation which should take care of it.

[2020-07-30 19:38] mehtadeepen commented on #3575
@simster7 Here is the scenario ...

Step with retry count set to 5 and timeout set to 10 mins.

I have step timeout configured to 10 mins.

For some reason, Step failed at 8th minute. As retry is configured it will rerun that step and it will again fail at 8th minutes.

My expectation --> As step timeout is set to 10 minutes, irrespective of retries it should just kill itself at 10min. On above sc

[2020-07-30 19:50] mehtadeepen opened #3646 "Make it possible to parametrize `retryStretegy.limit`"
# Summary

If retry count can be parametrize using workflow parameter it would really help us.

# Motivation

We have standard workflow templates which are being used for multiple use cases. We need to set retry count for different usecase depending on user input

Example:
[code]

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this iss

[2020-07-30 19:51] mehtadeepen commented on #3646
@alexec @sarabala1979 If this is already possible, please let me know.

[2020-07-30 20:04] sarabala1979 commented on #3646
Not possible now. The limit is `int` type and will not accept string

[2020-07-30 20:05] simster7 commented on #3646
I am working on a PoC to see if allowing behavior like this is possible. See https://github.com/argoproj/argo/pull/3610

[2020-07-30 21:43] laymain commented on #3644
@simster7 I could indeed use _recursive for loop_, but I have hundreds of iteration which I feel will end
with an unnecessary over-complicated workflow result.
I hoped that there was another option than using _recursive for loop_.

[2020-07-30 21:44] simster7 commented on #3644
I'll investigate @jessesuen's comment that this is in fact a regression and it should actually be possible to have the behavior you desired using `withParam` and `parallelism`

[2020-07-30 21:47] laymain commented on #3644
Thank you for digging into that issue

[2020-07-30 22:45] simster7 opened #3647 "DAG not stopping when terminated with retry nodes"
Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- Argo version:
[code]
- Kubernetes version :
[code]

**Other deb

[2020-07-30 23:44] alexec commented on #2706
I'm re-opening this issue as we originally did a documentation only fix and I suspect there is a good argument for 1st-class support for backfill for two reasons:

* Reliability - if the controller is offline for a short period of time, it cannot (AFAIK) recover and manual intervention is a must.
* Backfill - the ability to ask a CronWorkflow to run as if it had been running already.

https://gith

[2020-07-31 00:01] sarabala1979 commented on #3630
I tried MAC version CLI and Linux version CLI. Couldn't able to reproduce it? can you attach the parameter file instead of a copy paster? I am doubting elements are not parsed correctly. I have attached p.txt file. Please rename to yaml and try it
[p.txt](https://github.com/argoproj/argo/files/5004305/p.txt)

[code]

[code]

[2020-07-31 00:11] alexec opened #3648 "Deterministic name for workflows created by cron"
# Summary

We could create deterministic names for workflows that are based on the time the workflow is created

# Motivation

Cron can only fire max once every second. So if the name of the workflow was

[code]

It would be harder to create two of them.

# Proposal

How do you think this should be implemented?

---

**Message from the maintainers**:

If you wish to see this enhancement implemente

[2020-07-31 00:11] alexec opened #3649 "Cron workflow time parameters"
# Summary

It could be useful to have a parameter that is passed to workflows created from a cron that states the time of the cron schedule.

# Motivation

This could be potentially useful in backfill scenarios.

# Proposal

How do you think this should be implemented?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We

[2020-07-31 01:00] sh-tatsuno commented on #3641
Thank you. quite appreciated!

[2020-07-31 01:00] #3641 closed

[2020-07-31 07:57] brabster commented on #3620
Thanks @simster7! We're not using custom metrics, I'll see if we're still getting the issue after we've upgraded for those fixes.

[2020-07-31 07:58] vitalyrychkov commented on #3307
Hi, i was looking for the same solution - i need many different artifacts as inputs and was hoping to have s3 parameters to be defined only once.

[2020-07-31 08:00] vitalyrychkov commented on #2461
I have the same issue: wanted to use multiple artifacts as input...

[2020-07-31 12:14] tanenbaum commented on #3630
I've tested with your attached file. I get the same result I was getting previously.

I decided to try something easier to check the actual logs of (whalesay being a bit messy) and got some even stranger results.

I'm using the following `param_file_test.yaml` file with your uploaded `p.yaml` file:

[code]

I get the following output:

[code]

[code]

As you can see, it looks as though all the wor

[2020-07-31 12:23] tanenbaum commented on #3630
NB, if I run the above file as a local `Workflow` as opposed to a namespaced `WorkflowTemplate` (changing kind to former) it works as expected:

[code]

[2020-07-31 14:05] meurig commented on #3105
Hi @alexec  - did you get the debug info I sent over slack? Do you still need more information?
Thanks, Meurig

[2020-07-31 16:11] alexec commented on #3307
Do 👍  to show interest.

[2020-07-31 16:44] alexec commented on #3608
This bug fix introduces a new bug.

[2020-07-31 17:14] alexec commented on #3626
There is a lot of moving parts here. The "failed to verify token" error comes because the `id_token` cannot be verified, specifically because the content-type is "application/jwk-set+json" and must be "application/json".

https://github.com/coreos/go-oidc/blob/v2/oidc.go#L415

Can you contact your OIDC provider (are you using Auth0?) and determine why they are sending this content type please?

[2020-07-31 17:31] #3630 closed

[2020-07-31 17:36] sarabala1979 commented on #3630
@tanenbaum thanks for all help and information you provided. Found bug in merge the parameters.  It is fixed and backported to 2.9 and 2.10.  It will be available in the next release.

[2020-07-31 17:44] tanenbaum commented on #3630
Excellent. Happy to help.

[2020-07-31 18:07] alexec commented on #3402
https://github.com/argoproj/pkg/pull/24

[2020-07-31 18:08] alexec commented on #1322
https://github.com/argoproj/pkg/pull/24

[2020-07-31 19:10] tanenbaum opened #3653 "v2.10.0-rc4 nested maps in loop rendered as Golang map[]"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
Using v2.10.0, when looping over a JSON list with nested object with `withParam`, references to nested JSON objects results in a Golang style map `%v` string rather than the nested JSON.

**What you expected to happen**:
N

[2020-07-31 19:15] alexec commented on #3653
[code]

[2020-07-31 21:06] alexec commented on #3646
[code]

Change limit to `intorstr.IntOrStr`.

[2020-07-31 21:07] alexec commented on #3646
@simster7 to add work-around.

[2020-07-31 21:17] simster7 commented on #3646
Ugly, but functional, workaround:

[code]

[2020-07-31 21:29] alexec commented on #3575
We hypothesis that `maxDuration` already does this, but we need to test this hypothesis.

[2020-07-31 21:34] alexec commented on #3575
@mehtadeepen will test to see if setting `activeDeadlineSeconds` and `maxDuration` to the same value works for him.

[2020-07-31 21:42] alexec commented on #3572
If `maxDuration` includes pending state, then this does not need to change.

We will discus at stand-up about solution.

[2020-07-31 21:56] hadim commented on #3642
Isn't that possible to have this logic on the argo server side? That would save an external clients multiple calls.

[2020-07-31 22:17] hadim commented on #3572
Indeed I myself got confused too. An option for maximum pending duration would be nice to have. See also https://github.com/argoproj/argo/issues/3445

[2020-07-31 22:50] #3608 closed

[2020-07-31 23:58] paravatha commented on #3058
@sarabala1979 @alexec
is this fixed in argo 9.2.x versions? or we should use as below?
`    podSpecPatch: '{"containers":[{"name":"main", "resources":{"limits":{"cpu": "{{workflow.parameters.cpu-limit}}" }}}]}'
`

[2020-08-01 01:58] sarabala1979 commented on #3058
@paravatha  This feature is available from 2.4.x +.

[2020-08-01 02:09] paravatha commented on #3058
@sarabala1979 , I mean like this? without using podSpec
[code]

[2020-08-01 22:03] #2962 closed

[2020-08-02 13:15] thundergolfer commented on #2314
Don't close, I think this bug ought to be addressed if it isn't yet fixed. 🙏

[2020-08-02 19:12] alexec commented on #3189
@wangzhipeng are you able to give examples of when this would have been useful to you please?

[2020-08-02 19:13] alexec commented on #1122
@David-Development this is rather an old issue. Can you please confirm if you have seen this since?

[2020-08-02 19:14] alexec commented on #3402
I spent around 2h working on this today. The hypothesis was that we can improve the performance of handling large artifacts by using in-memory `io.Reader` based code rather than reading and writing to disk.

I learnt the following from the POC:

Artifacts can either be a file, directory, or tarball.  Tarballs are a special-case that add complexity due to feature such as auto-detection and automati

[2020-08-02 19:15] alexec commented on #3402
As a result of my findings, I'm closing this issue as `wontfix`.

[2020-08-03 05:15] David-Development commented on #1122
@alexec Unfortunately I am no longer on the project so I can't confirm if this problem is still valid. If no one else has performance problems, feel free to close it!

[2020-08-03 06:31] fabio-rigato opened #3655 "maxDuration broken in v2.9.4"
Hey all (@simster7 @alexec ),

I'm facing a weird issue after upgrading to v2.9.4 from v2.9.2.

Argo version: 2.9.4

Maybe the issue comes from v2.9.3 with the PR [#3477](https://github.com/argoproj/argo/pull/3477)

retryStrategy:
      limit: 4
      retryPolicy: "Always"
      backoff:
        duration: "12s"
        factor: 5
        maxDuration: "200m"

I'm reaching the "**Max duration limit e

[2020-08-03 07:35] iven commented on #1293
@Ark-kun It seems that structural templates can do well with string manipulations, which may be called "filters" in template languages like Jinja.
But Jinja also support control structures like for-loops, conditionals, how can we implement it use structural templates? For example, I want to generate k8s resource manifests based on input parameters, I can write like this if argo supports control st

[2020-08-03 08:16] cy-zheng opened #3656 "Cannot stop workflow when resource.get node couldn't reach successCondition"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
I submitted a workflow to argo, try to create some k8s resource and wait them to be ready. If the k8s resource cannot be ready forever (e.g. always crash), then the node that wait resource to be ready, would running foreve

[2020-08-03 08:26] cy-zheng commented on #3656
Question: How does argo stop a workflow? Send a SIGHUP or SIGKILL to all running containers?

[2020-08-03 09:01] cdlcs opened #3657 "Pvc created using a resource template not deleted automatically after workflow completion"
Hello,

I have an Argo workflow where I create PersistentVolumeClaims at the template level, using a resource template as described on the documentation https://argoproj.github.io/argo/examples/#volumes

I'm setting the setOwnerReference field to "true" but the PVCs are not being deleted after the workflow finishes. It is my understanding that if 'setOwnerReference: true' the PVCs would be deleted

[2020-08-03 09:17] cdlcs commented on #3657
[code]

[code]

[2020-08-03 14:38] meurig commented on #3105
Also I get the following error when trying to turn off podgc like you suggested:

"podGC.strategy unknown strategy ''"

[2020-08-03 15:12] sarabala1979 commented on #3656
This looks like a bug in `Argo stop`. We will integrate it. can you try `argo terminate`?

For a workaround, you can use `activeDeadLineSeconds` on a template to timeout automatically once the timer expired.

[2020-08-03 15:32] simster7 commented on #3655
Can you attach a full Workflow object where this happen? You can get it by running `kubectl get wf <NAME> -o yaml`. It's difficult to diagnose this issue without it.

[2020-08-03 15:35] sarabala1979 commented on #3657
I think Argo is not setting `controller=true` for cascading deletion.  Can you try the PVC support on argo instead of using a resource template? Argo will create PVC when the workflow starts.  It will get deleted if the workflow completes with success.

https://github.com/argoproj/argo/blob/master/examples/volumes-pvc.yaml

[2020-08-03 16:08] alexec commented on #3105
This is on the backlog and will be looked at when there is more time.

[2020-08-03 16:55] brayanjuls opened #3658 "Allow cron workflow parameters to be overridden in the CLI"
# Summary
The CLI for argo cron create should allow the option to override the default parameters.

# Motivation
If I want to change the parameters in the workflowSpec for a CronWorkflow, I currently have to edit the CronWorkflow file itself. This is annoying if I want to repeatedly change it when my needs change.

# Proposal

Two new flags  --parameter and --parameter-file options in argo cron cr

[2020-08-03 16:56] alexec commented on #3653
@tanenbaum could you please add some detail on how you are impacted please?

[2020-08-03 17:13] simster7 commented on #3647
@mehtadeepen This was actually quite a funny bug to catch and had nothing to do with `Terminate` or with the `DAG` assessor like I had suspected.

This bug was caused because #3290 changed the Go types of parameter names. Since we generate the names of tasks expanded by `withParams` by parsing the direct Go type into a string using `fmt.Sprintf("%s:%s", itemKey, itemVal)`:

https://github.com/argo

[2020-08-03 17:15] #3647 closed

[2020-08-03 17:19] simster7 commented on #3653
This would be helpful, the string you pointed out is only used as part of the generated task name, it should have no bearing on the rest of the Workflow execution.

[2020-08-03 17:40] tanenbaum commented on #3653
I think my title and initial bits are misleading. Not only is it rendered as a map[] in the task name, that's what is passed into the job too.

From the above logs:

[code]

`map[B:2 "foo"]` is what gets logged in the `echo` template. It should be `{"B":"2 \"foo\""}` - the expected output works in 2.9.x but not in 2.10.x.

This breaks a few of my workflows where I have nested JSON maps inside list

[2020-08-03 17:51] tanenbaum commented on #3653
Let's try a more explicit example, where the template will parse the JSON before logging out:

[code]

In **2.9.4** this works fine:

[code]

In **2.10.0-rc4** the `%v` formatted string is passed instead:

[code]

[2020-08-03 17:57] simster7 commented on #3653
Looking into this

[2020-08-03 18:01] simster7 commented on #3653
@tanenbaum I see what the issue is here. The whole variable is getting mapped to a Go value, not just the name of the task. This is certainly a bug, thank you for reporting. @alexec may I fix this?

[2020-08-03 18:14] alexec commented on #3653
@simster7 I broke it, so I'd like to fix it (broke in #3290).

[2020-08-03 18:15] alexec commented on #3653
Ah - just changed in #3659 .

[2020-08-03 18:25] simster7 commented on #3645
Please change

[code]

Boolean values are case sensitive

[2020-08-03 18:26] simster7 commented on #3645
Feel free to repoen if this doesn't fix your issue

[2020-08-03 18:27] dcherman commented on #3095
Copying a thread from slack:

Daniel Herman Aug 1st at 1:05 PM
@jesse When you're around, any chance you could take a look at https://github.com/argoproj/argo/issues/1819 to give your opinion?  I'm working on a PR for https://github.com/argoproj/argo/issues/3095 and am running into that

#3095 PVC GC Policy
<https://github.com/argoproj/argo|argoproj/argo>argoproj/argo | May 23rd | Added by GitHub

[2020-08-03 18:38] dcherman commented on #3095
Definitely will need some input on how you'd like to proceed here.  The options as I see them are:

1.  Document that VolumeGC will need to be used in combination with PodGC
2.  Remove the `kubernetes.io/pvc-protection` finalizer ourselves when we intend to GC a volume, even if the pod still exists in a `Completed` or `Error` state.
3.  Try to make a case that the `PVCProtectionController` should

[2020-08-03 18:38] jessesuen commented on #3657
No this is not the case. `setOwnerReference` only deletes workflows when the workflow is deleted, using normal k8s cascaded deletion. It will not delete it when the workflow completes.

[2020-08-03 18:54] jessesuen commented on #3575
Duping this to https://github.com/argoproj/argo/issues/3572

[2020-08-03 18:54] #3575 closed

[2020-08-03 19:04] nfickas opened #3755 "Allow for Parameter usage in Resource Requests/Limits"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

We are trying to use a parameter from an SQS notification in the resource request/limits field in a template. Since we are able to use parameters in environment variables, we should be able to use them also in the resource request fields.

[2020-08-03 19:54] luozhaoyu commented on #2063
I have similar issue: different team may want to create pods in different namespaces - their individual namespace would have different pods to interact with.
Currently `--managed-namespace` is a single string: https://github.com/argoproj/argo/blob/69179e72c0872cde9131cc9d68192d5c472d64c9/cmd/argo/commands/server.go#L35

[2020-08-03 19:55] luozhaoyu commented on #1802
similar issue: https://github.com/argoproj/argo/issues/3523

[2020-08-03 19:59] luozhaoyu commented on #3523
Not only multi-cluster, shall I create another issue for multi-namespace support? This is a related issue: https://github.com/argoproj/argo/issues/2063#issuecomment-668211852 to install Argo Workflow in one namespace, but support creating pods in multiple namespaces (not Cluster installation, as the permission would be too broad)

[2020-08-03 22:22] #3653 closed

[2020-08-03 23:01] fabio-rigato commented on #3655
Hey @simster7 thanks for your quick answer!

I shared with you in slack the yaml file and a screenshot of argo get result.
Please, let me know if you need any more information from me.
Cheers,
Fabio

[2020-08-03 23:30] alexec commented on #3608
Fixed and available in v2.10.0-rc5.

[2020-08-03 23:30] alexec commented on #3653
Fixed and available in v2.10.0-rc5.

[2020-08-03 23:31] alexec commented on #3637
Fixed and available in v2.10.0-rc5.

[2020-08-03 23:31] alexec commented on #3620
Fixed and available in v2.10.0-rc5.

[2020-08-03 23:32] alexec commented on #3545
Fixed and available in v2.10.0-rc5.

[2020-08-03 23:33] alexec commented on #3630
Fixed and available in v2.10.0-rc5.

[2020-08-03 23:33] alexec commented on #3355
Fixed and available in v2.10.0-rc5.

[2020-08-03 23:33] alexec commented on #3625
Fixed and available in v2.10.0-rc5.

[2020-08-03 23:38] #3402 closed

[2020-08-04 00:05] #3658 closed

[2020-08-04 02:12] cy-zheng commented on #3656
@sarabala1979 `TerminateWorkflow` doesn't work either. Although I found that `spec.shutdown` has been set to `Terminate`.

[2020-08-04 05:21] sarabala1979 commented on #3656
Thanks, I will take a look

[2020-08-04 06:22] qins commented on #849
For the most common used work flow language
The Common Workflow Language (CWL):

argo: no support
Airflow: support CWL

[2020-08-04 06:36] seperman opened #3663 "Make start: error: no objects passed to apply"
**What happened**:
Running `make start` I get:

[code]

**What you expected to happen**:
`make start` to work.

**How to reproduce it (as minimally and precisely as possible)**:

1. Go to `~/Go/src/github.com/argoproj/argo`
2. Run `make start`
3. Get the error

**Environment**:

- Argo version:
Argo is at the current master branch at dbb39368295cbc0ef886e78236338572c37607a1

Note: The `argo versio

[2020-08-04 08:28] elgalu commented on #849
@qins do you mean https://github.com/Barski-lab/cwl-airflow or that it naively supports it?

[2020-08-04 11:54] tanenbaum commented on #3409
Unfortunately this is once again broken in **v2.10.0-rc5**.

As above, it was working in v2.10.0-rc4. It must be related to the fixes in #3653

A simple workflow to test with is:

[code]

This should echo `"A"` but is `\"A\"` in 2.9.x and v2.10.0-rc5.

[2020-08-04 14:23] ericandrewmeadows opened #3664 "Argo WorkflowTemplate linting should raise an error when no main keys are present"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
Warning was raised

**What you expected to happen**:
Error is raised because none of `script`, `container`, or `steps` appeared.

**How to reproduce it (as minimally and precisely as possible)**:
Output the JSON below to a

[2020-08-04 14:30] nakfour commented on #2679
Hey everyone, we use the "k8sapi" executor to run Argo on Openshift. Wanted to see if there is progress on this issue?

[2020-08-04 15:08] sarabala1979 commented on #3663
I think you should do `make` first to build images and generate manifests then try `make start`.

[2020-08-04 15:11] alexec opened #3665 "Race conditions when persisting Workflows causing undefined behavior"
Users are reporting

Fabio Rigato: "stuck with deleted pods"

* v2.9.2 workflows can get stuck with deleted pods: `Error from server (NotFound): pods "..." not found"`. There are #3097 and #3469 in v2.9.3 that could fix this.

Prateek Khera:  "deadline exceeded"

* v2.9.3 workflows stuck in progressing `level=warning msg="Deadline exceeded" namespace=XXXX workflow=XXX level=error msg="error in ent

[2020-08-04 15:15] sarabala1979 commented on #3664
are you using `argo template lint <>`? can you provide the argo CLI version using the ` argo version`?
I am getting validation ERROR for above `WorkflowTemplate`

[code]

argo version
argo: v2.9.4+20d2ace.dirty
  BuildDate: 2020-07-25T08:30:49Z
  GitCommit: 20d2ace3d5344db68ce1bc2a250bbb1ba9862613
  GitTreeState: dirty
  GitTag: v2.9.4
  GoVersion: go1.14.5
  Compiler: gc
  Platform: darwin/amd64

[2020-08-04 15:22] alexec commented on #3409
[code]

[2020-08-04 15:29] alexec commented on #3665
[code]

[2020-08-04 15:33] simster7 commented on #3665
Can we ask this user for a "live" Workflow with `Workflow.Status` included?

[2020-08-04 15:36] tanenbaum commented on #3409
I've been looking at the code involved, it's clearly to do with JSON serdes with `v1alpha1.Item` using `json.RawMessage` and the use of `GetMapVal` in `operator.go`.

This commit 2b6db45b2775cf8bff22b89b0a30e4dda700ecf9 fixes the nesting issue but reintroduces this double encoding problem. I'm not sure there's a nice solution.

[2020-08-04 15:42] alexec commented on #3409
I'm not sure what to do about this ATM. Fix one issue we introduce the other. As the other issue changes pod ID which cause workflow running when you upgrade to fail - it's a more serious issue that this one.

This is all because of the "convenience" of `Item.String()`.

[2020-08-04 15:42] alexec commented on #3409
@tanenbaum I do want to thank you for raising this problem and responding back so quickly. It is key in helping us fixing these issues.

[2020-08-04 15:54] SebastianGoeb opened #3666 "Malformed WorkflowTemplate crashes whole UI"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
Deployed a WorkflowTemplate with kubectl (really helm) that was malformed, but still accepted by K8s API server (fit CRD apparently). This broke the WorkflowTemplate UI list view (http://localhost:2746/workflow-templates),

[2020-08-04 15:56] simster7 commented on #3666
Looking into this

[2020-08-04 15:57] simster7 commented on #3666
Was able to reprodcue

[2020-08-04 16:13] seperman commented on #3663
Hi @sarabala1979
I was following the 90 minute video for the contributors. I don't think Alex ran `make` there. But perhaps things have changed.

I ran `make`. Now I'm getting:

[code]

[2020-08-04 16:14] simster7 commented on #3666
Seems like this error is propagated directly from the Kubernetes client when we make our `List` request here:

https://github.com/argoproj/argo/blob/dbb39368295cbc0ef886e78236338572c37607a1/server/workflowtemplate/workflow_template_server.go#L67

This might limit our ability to respond gracefully to this error, such as being able to display non-malformed Workflow templates or provide a more gracef

[2020-08-04 16:15] alexec commented on #3666
The UI fails to this error page. Think is a known issue, see #3454.

[2020-08-04 16:16] alexec commented on #3666
If the 500 error originates in the Kuberenetes API , then the 500 is probably not fixable. I. do think we should be more graceful in handling these errors. I.e. we shouldn't dump the user to <ErrorPanel/> and unusable UI.

[2020-08-04 16:50] alexec commented on #3665
I don't think the introduction of SignificantPodChange caused @Prateek khera’s issue - I think his issue is existed before v2.9 (edited)

[2020-08-04 16:57] SebastianGoeb commented on #3666
Haven't used the k8s go-client myself, so I don't know if the CRD yaml is generated from go classes or something, but is it possible to make the CRD spec stricter, so it isn't possible to submit a malformed workflow template in the first place? It seems to me this particular 500 arises because what the K8s API server accepts and what the go client accepts, by way of its json parser, doesn't quite

[2020-08-04 17:05] alexec commented on #3666
@SebastianGoeb in theory - yes -in practise - no.

We provide CRDs with validation, but we don't use them by default.

Why?

1. We need to be able to run multiple installations of Argo Workflows in a single cluster.
2. CRD validation cannot pick up on many common errors (e.g. missing template names, invalid parameters).

Essentially, if you need a robust system, you must lint your manifests.

The

[2020-08-04 17:05] SebastianGoeb commented on #3666
If it isn't fixable by reconfiguration, maybe it's something that should be bumped up to the go-client itself? Because I would expect it to deserialize anything that the server accepts, i.e. anything that is allowed by the CRD's OpenAPI spec. Or, conversely, if it refuses to deserialize a CR, then I would expect the server to refuse it too.

[2020-08-04 17:08] SebastianGoeb commented on #3666
Ah, I see. That's a shame. But maybe that could be built into our CI workflow.

[2020-08-04 17:08] KPostOffice commented on #3645
This didn't fix my issue

[2020-08-04 17:10] KPostOffice commented on #3645
@simster7 I can't seem to reopen this myself

[2020-08-04 17:14] simster7 commented on #3645
Will take another look

[2020-08-04 17:18] KPostOffice commented on #3645
It may already be fixed by #3490 I haven't been able to test the prerelease

[2020-08-04 17:20] simster7 commented on #3645
Please test in `v2.10.0-rc5` and let me know

[2020-08-04 17:23] KPostOffice commented on #3645
Does this version need to be present on the cluster or is it enough to just have the pre-release CLI?

[2020-08-04 17:37] simster7 commented on #3645
It needs to be present on the cluster

[2020-08-04 17:43] seperman commented on #3663
I did a `make clean` and then `make start` and now it reaches the line where it is checking /etc/hosts

[code]

[2020-08-04 17:49] seperman commented on #3663
I added those lines manually to /etc/hosts and commented the grep lines. `make start` is finally working.

[2020-08-04 17:56] KPostOffice commented on #3645
I don't have the permission to do this

[2020-08-04 18:26] ericandrewmeadows commented on #3664
argo cli is v2.8.0

We get the same result, the issue is that the `exit code` is still `0`.

Also, this same situation happens with:
[code]
When you end up having the script be an array.

I have another issue I will file that I just found as well.

[2020-08-04 18:32] ericandrewmeadows opened #3667 "Argo linting does not respect namespace of declared resource"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
Declared a `CronWorkflow` that had the namespace in the declaration.  When running `argo cron lint <cronWorkflowJsonFile>`, it said the template did not exist.

**What you expected to happen**:
Namespace to be respected w.

[2020-08-04 18:32] ericandrewmeadows commented on #3667
This also impacts 2.9.1

[2020-08-04 18:38] alexec commented on #3663
Looks like it is working. Closing issue.

[2020-08-04 18:38] #3663 closed

[2020-08-04 18:44] ericandrewmeadows opened #3668 "Argo lint outputs are inconsistent between `argo cron lint` and `argo template lint`"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
Ran `argo template lint` and `argo cron lint` for `WorkflowTemplate` and `CronWorkflow` files, respectively, and their outputs were quite different.
[code]
vs
[code]

**What you expected to happen**:
I expected the outputs

[2020-08-04 18:47] alexec commented on #3667
We should fix this. Work-around - pass the correct namespace using `-n namespace`.

[2020-08-04 18:48] sarabala1979 commented on #3668
code is not considering workflow namespace
https://github.com/argoproj/argo/blob/dbb39368295cbc0ef886e78236338572c37607a1/cmd/argo/commands/cron/lint.go#L27

[2020-08-04 18:51] alexec commented on #3454
Closing as duplicate.

[2020-08-04 18:51] #3454 closed

[2020-08-04 18:52] simster7 commented on #3574
Closed in favor of https://github.com/argoproj/argo/issues/3646

[2020-08-04 18:52] #3574 closed

[2020-08-04 18:53] simster7 commented on #3645
I'll take a look

[2020-08-04 19:08] simster7 commented on #3590
Consider new StreamForwarder code in Argo pkg for this: https://github.com/argoproj/pkg/blob/master/grpc/http/forwarders.go#L136

[2020-08-04 19:56] sarabala1979 commented on #3664
are you using CLI or API call?

[2020-08-04 22:17] seperman opened #3672 "ErrImageNeverPull: Container image "argoproj/argoexec:latest" is not present with pull policy of Never"
**What happened**:
NOTE: this is on the current master branch.

Workflow's wait container get stuck with:

[code]

**What you expected to happen**:
The wait container to finish.

**How to reproduce it (as minimally and precisely as possible)**:

1. Go to `~/Go/src/github.com/argoproj/argo` (pull from master)
2. Run `make start`
3. Submit any workflow

**Environment**:

- Argo version:
Argo is at t

[2020-08-04 23:32] hadim opened #3673 "Surface K8s Events about Nodes to UI"
We run argo on GKE with `cluster-autoscaler`. Most of the time all our workflows trigger a `scaleUp` event since powerful machines are usually down when not used.

Usually, the scale-up takes a few minutes. During this time the workflow is in pending state with a message similar to this:

![image](https://user-images.githubusercontent.com/528003/89355130-9ca24d00-d688-11ea-92a9-2902b1272b85.png)