[2022-04-28 18:58] juliev0 commented on #8481
@alexec Should the directory listing be hrefs? (and if so, relative or absolute?)

[2022-04-28 19:17] alexec commented on #8481
Yes, relative.

[2022-04-28 19:27] Piroddi opened #8529 "LifeCycle hooks phase not updated at workflow level"
## Summary

The phase of LifeCycle hooks configured at a workflows level are not updated once complete. They are stuck in 'pending' state forever.

This prevents workflows from being retried, which negatively impacts long running workflows with lots of steps

What happened/what you expected to happen?

Lifecycle hook phase should change to 'Completed' once completed

What version are you running?

[2022-04-28 20:20] #8508 closed

[2022-04-28 20:23] jessesuen commented on #8498
@alexec Why do we need a new endpoint to replace this one -- what would be so different about the Request signature that it needs a new endpoint?

[2022-04-28 20:27] alexec commented on #8498
The current endpoints don't container the namespace in the URL, so we cannot use GetNamespace to perform namespaced RBAC on them. The current endpoints don't support directories. I'd like to consolidate them into a single endpoint to reduce the amount of code, the  amount of bugs, the amount of security problems.

[2022-04-28 20:28] Piroddi commented on #8293
PodGC resolved by #8448. However hook phased not updated. Created a more specific issue: #8529

[2022-04-28 20:28] #8293 closed

[2022-04-28 21:19] kharmabum commented on #7608
@alexec I think the confusion stems from the "working with parameters" [example](https://argoproj.github.io/argo-workflows/workflow-templates/#working-with-parameters) given in the official docs which utilizes a global parameter without declaring it. That's at least why I also find myself here.

[2022-04-28 21:27] kharmabum commented on #2590
@simster7 we're running 3.1.8 and still seeing this issue.

[2022-04-28 21:41] tony-mw commented on #8415
Right, that works in GitHub... but the problem is that some source control tools don't send you which files change in their event

[2022-04-28 22:27] tooptoop4 opened #8531 "allow reusing cronworkflow with adhoc execution and overridden inputs"
# Summary

allow adhoc trigger of cronworkflow via cli/ui with arbitrary arguments passed in (ie string arguments or runtime argument) ie similar to https://airflow.apache.org/docs/apache-airflow/stable/dag-run.html#using-cli or https://airflow.apache.org/docs/apache-airflow/1.10.11/dag-run.html#external-triggers

this would be simpler for user than needing to write a 2nd file (ie workflow templat

[2022-04-28 23:10] adrianord opened #8532 "Full CRDs are incomplete and causes json2jsii to fail"
## Summary
The generated CustomResourceDefinitions seem to be incomplete because of the `steps` property.

https://github.com/argoproj/argo-workflows/blob/ecd91b1c4215a2ab8742f7c43eaade98a1d47eba/manifests/base/crds/full/argoproj.io_workflowtemplates.yaml#L7673-L7676

The `items` property has a `type` property but does not have an accompanying `items` property.

 This causes `json2jsii` to fail.
h

[2022-04-29 01:09] jessesuen opened #8533 "UI should default to the namespace associated with ServiceAccount"
# Summary

When choosing a namepsace to use when filtering workflows:

<img width="633" alt="image" src="https://user-images.githubusercontent.com/12677113/165870697-1ab896b7-fad0-4e17-9e7c-62b4d13d74b4.png">

The UI / argo-server could default to the namespace associated with the service account used to login with (unless they already explicitly selected a different service account)

# Use Cases

[2022-04-29 01:20] jessesuen opened #8534 "Argo Server with SSO enabled should not require List on all Secrets"
# Summary

When Argo Server starts up with SSO, it will call `cache.NewResourceCache()`:

[code]

But NewResourceCache wants the ability to list all service accounts and all secrets of the entire cluster.

[code]

There are two problems with this:

1) While list ServiceAccounts might be acceptable, listing all secrets of the cluster is generally unacceptable.
2) This does not work with an Argo Ser

[2022-04-29 01:27] jessesuen commented on #8534
ResourceCache was introduced in https://github.com/argoproj/argo-workflows/pull/6990

@basanthjenuhb -- I think this could be considered a regression because `--namespaced` flag is broken when SSO is enabled.

[2022-04-29 01:30] #7597 closed

[2022-04-29 01:43] jessesuen commented on #8534
Also, having a cluster-wide informer on Secrets (and/or ConfigMaps) is never really a good idea. It will balloon the memory requirements of the server unnecessarily because these two objects tend to contain a lot of data. We learned this the hard way with Argo Rollout controller.

At the very least, this can be restricted to label filters. But as I mentioned in the description, I think list/watch

[2022-04-29 02:01] LingClassmate commented on #8525
@alexec Can I get json logs through the API?

[2022-04-29 03:57] basanthjenuhb commented on #8425
This should be available in next release
https://argoproj.github.io/argo-workflows/intermediate-inputs/

[2022-04-29 03:57] basanthjenuhb commented on #6665
This should be available in next release
https://argoproj.github.io/argo-workflows/intermediate-inputs/

[2022-04-29 04:08] basanthjenuhb commented on #1391
Implemented this feature recently
https://argoproj.github.io/argo-workflows/intermediate-inputs/

[2022-04-29 06:02] sarabala1979 commented on #8529
it is know bug, in hooks, the workflow will not be reconciled if it is already completed.  I will try to come up with fix.

[2022-04-29 08:54] basanthjenuhb commented on #8534
we had discusses `label filters`.
We cannot do label filters because the secrets we are looking for are created automatically by serviceaccounts, and they don't have any label for them.

I am open to removing the list and just do `get`
My initial thought process was the secrets are generally very small in size, and won't have much impact on memory
@alexec should I proceed with this change

[2022-04-29 11:05] SebastianGoeb opened #8539 "PodGC Timeout"
# Summary

Would it be possible to introduce a `podGC.timeout: [15m|1h|2d]` property to delay deletion of pods?

# Use Cases

We have an issue with our fluentbit not collecting logs from pods that vanish quickly (or so it seems at least). The pod in question also provisions a fat EC2 instance that we want to get rid of ASAP when it's done, hence we use `podGC: OnPodCompletion`. Unfortunately, some

[2022-04-29 15:18] alexec commented on #8539
This already exists. See docs.

[2022-04-29 15:19] #8539 closed

[2022-04-29 15:21] alexec commented on #8534
Yes please. If we can remove the list secrets, that’d be great. You could use an lru cache to hold them.

[2022-04-29 15:38] alexec commented on #8532
Would you like to submit a PR to fix this?

[2022-04-29 15:50] Ragatzino opened #8541 "container has runAsNonRoot and image will run as root ERROR though podSecurityContext indicates runAsNonRoot:True"
## Checklist

* [ x ] Double-checked my configuration.
* [ x ] Tested using the latest version.
* [ x ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

What version are you running?

Kubernetes version :
[code]

Container runtime : containerd

Argoworkflow installed via ArgoCD, on helm chart 0.14.0 :
Values file :
[code]
## Diagnostics

Paste the smallest workf

[2022-04-29 15:52] #8541 closed

[2022-04-29 15:57] adrianord commented on #8532
I would need some guidance, I spent some time looking into the issue yesterday on a fork https://github.com/adrianord/argo-workflows, but I believe the fix I've done there causes the CRDs to be too large for Kubernetes, which is why it was reverted before.

[2022-04-29 15:58] alexec commented on #8532
Share you PR and maybe we can take a look at it.

[2022-04-29 16:12] Ragatzino commented on #8541
Hello, thanks for the tip, i have the same errors adding :
[code]

And forgot to mention part of the error being :
[code]
=> Which i thought was cause by priviledges

[2022-04-29 16:35] alexec commented on #8541
No. This is probaly because you're using the deprecated Docker executor. Use the Emissary executor.

[2022-04-29 16:39] alexec opened #8542 "`argo cp`: Add more options to `ArtifactSearchQuery`"
This will need more options:

* `artifactName`
* `templateName`
* `nodeId`

[2022-04-29 16:42] alexec opened #8543 "Artifact GC: `SearchArtifact` to return `ArtifactSearchResults`"
Currently, this func returns `Artifacts`, but we need to know which node ID the artifact was from, we can't add that to `Artifact`, but we can introduce some new types:

[code]

[2022-04-29 18:17] jeszii opened #8545 "containers in containersets not appropriately reporting status if terminated"
## Checklist
* [X] Double-checked my configuration.
* [X] Tested using the latest version.
* [X] Used the Emissary executor.

## Summary
What happened/what you expected to happen?
When terminating a workflow due to a deadline, I expect that the workflow is terminated, yet we are still waiting for containerset containers to be terminated, even though they are finished with error in k8s.

An image o

[2022-04-29 18:19] alexec commented on #8545
I think this might be fixed by #8478. Could you please try `:latest`?

[2022-04-29 18:24] #8494 closed

[2022-04-29 19:13] rwong2888 opened #8547 "Retry limit not being respected"
argo v3.3.3

References:
https://www.datree.io/resources/argocd-best-practices-you-should-know
https://blog.argoproj.io/practical-argo-workflows-hardening-dd8429acc1ce
https://github.com/argoproj/argo-workflows/discussions/8544

Trying to harden argo workflows as referenced above.
Kaniko keeps failing, presumably because main container needs to be root.
However, I would expect it to stop retrying,

[2022-04-29 19:15] rwong2888 commented on #8547
Nvm. Looks like it runs back up all the way to root 1 time. I suppose this is the desired behaviour.

[2022-04-29 19:15] #8547 closed

[2022-04-29 19:15] jeszii commented on #8545
Hi @alexec, thanks for the swift reply. :D
Can you elaborate on what needs to be upgraded to latest?

I had a colleague run the workflow on a fresh argo set up [using this manifest](https://raw.githubusercontent.com/argoproj/argo-workflows/master/manifests/quick-start-postgres.yaml) and the problem seems to persist.

[2022-04-29 19:52] alexec commented on #8545
You need to upgrade the workflow-controller. Can you double check? It's pretty easy to apply the wrong manifests.

[2022-04-29 19:56] jeszii commented on #8545
I can double check but it won't be until next week, sorry! I have attached the workflow that reproduces the error if you'd like to run it beforehand though.

[2022-04-29 20:49] terrytangyuan commented on #8531
Duplicates https://github.com/argoproj/argo-workflows/issues/2706

[2022-04-29 20:49] #8531 closed

[2022-04-29 20:50] terrytangyuan commented on #8515
Would you like to submit a PR to improve this?

[2022-04-29 21:29] terrytangyuan commented on #8415
File event source might be what you want: https://github.com/argoproj/argo-events/blob/master/docs/eventsources/setup/file.md

[2022-04-29 21:55] alexec commented on #7743
Closing out on this weeks work. The UI will allow you display artifacts in the DAG which you can click on. This does not meet all the requests from this issue. Specifically:

* We don't provide any special file type like a ModelCard, but it does support HTML. Given than any ModelCard would need to be rendered into HTML, I think this is a good step.
* We could support ModelCards or UI extensions in

[2022-04-29 22:15] alexec opened #8550 "Add link to previous runs of a workflow"
I don't know why we do not have this.

Add a link to the workflow details page saying "Previous Run". This should go to the workflow list, but only display previous runs of this workflow, i.e. same workflow-template, cron-workflow, etc

[2022-04-29 22:16] alexec opened #8551 "Add a link the previous runs of a workflow"
I don't know why we do not have this.

Add a link to the workflow details page saying "Previous Run". This should go to the workflow list, but only display previous runs of this workflow, i.e. same workflow-template, cron-workflow, etc.

[2022-04-29 22:40] #8542 closed

[2022-04-29 23:52] #8550 closed

[2022-04-30 01:35] basanthjenuhb commented on #8534
Using a cache would again lead us to unnecessary cache invalidation issues .
Will just do get everytime

[2022-04-30 06:21] wujayway opened #8553 "Memoization not work on plugin node."
## Summary
Memoization cache is not generated on plugin node.
## Diagnostics
Paste the smallest workflow that reproduces the bug. We must be able to run the workflow.
Try to give an example below. We use an inner plugin, here gives a mock plugin.
[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-04-30 07:23] momom-i commented on #8329
Hi, I've worked on it and done the frontend side part but now I get stuck when trying to send GET request to `/api/v1/workflows/{namespace}` endpoint.

When I try to send the request like `http://localhost:8080/api/v1/workflows/argo?listOptions.fieldSelector=spec.startedAt%3E2022-03-29T15:00:00.000Z,spec.startedAt%3C2022-04-30T15:00:00.000Z&listOptions.limit=500&fields=metadata,items.metadata.uid,

[2022-04-30 08:04] wujayway commented on #8553
/label area/memoization

[2022-04-30 15:24] alexec commented on #8329
The backend proxies through to the Kubernetes APIs. These APIs do not support date or time filtering. Filtering must be done in the client.

[2022-04-30 16:01] alexec opened #8556 "`ArtifactGC` should be on `Artifact` not `Template`"
If a template has >1 artifact, then we cannot set them with different policies. So this field needs to be moved from `Template` to `Artifact`

[2022-04-30 16:21] momom-i commented on #8329
Oh I completely missed your issue comment. I'm sorry, I understand now.

[2022-04-30 19:41] alexec opened #8558 "Polish artifact server error response"
Users would could benefit with some polish.

The main issue is that we seem to use `http.WriteHeader` for errors, when we should use `http.Error`

[code]

vs

[code]

[2022-04-30 19:58] alexec opened #8559 "`OpenStream` should ideally return 404 when artifact is deleted"
We'll like this for GC, so we can communicate this to the user when they open the page. This does not appear to be straight forward as the error comes from `io.Copy` call, which is weird. I would have expected it from the `OpenStream` call.

We're getting raw S3 errors (`minio.ErrorResponse`), rather than an errors. It might be easier to print the text and return 500 error.

[2022-04-30 20:21] alexec opened #8560 "Artifact CSP and X-Frame-Options are wrong values"
They are invalid.

[2022-04-30 21:42] #8543 closed

[2022-04-30 23:10] tooptoop4 commented on #8322
crispy

[2022-04-30 23:17] hadim commented on #8456
For the record I tried to reproduce it with the following template:

[code]

But I **can't** reproduce the bug and the workflow is correctly stopped with an "OOM Killed" error and mark as Failed.

I'll keep monitoring this and try to reproduce it.

[2022-05-01 06:06] basanthjenuhb commented on #8534
@alexec @jessesuen Please review. #8555

[2022-05-01 16:53] alexec opened #8561 "`TestWorkflow_SearchArtifacts` failing on master"
Caused by #8557.
https://github.com/argoproj/argo-workflows/actions/workflows/ci-build.yaml?query=branch%3Amaster

@rohankmr414 could you please take a look?

[2022-05-01 17:24] rohankmr414 commented on #8561
[code]
@alexec I guess there is some issue with the installation. Not sure if #8557 caused this.

[2022-05-01 17:30] alexec commented on #8561
Not sure what is going on here. This is failing in unrelated PRs.

[2022-05-01 18:04] alexec commented on #8561
https://github.com/argoproj/argo-workflows/runs/6242825979?check_suite_focus=true

[2022-05-01 20:16] rohankmr414 commented on #8561
@alexec looks like I messed up the unit tests for `ArtifactSearchResults` #8557. Looks like the fix https://github.com/argoproj/argo-workflows/pull/8554/commits/70c6a9d6bbab740a288fe7447cda574aa8739d3f by @wujayway in #8554 should fix the issue

[2022-05-01 20:46] alexec commented on #8561
I think the fix should come in its own PR, otherwise all PR are blocked until that PR is merged,. Could I please ask you to submit that?

[2022-05-01 20:47] rohankmr414 commented on #8561
yeah sure

[2022-05-01 21:22] #8561 closed

[2022-05-02 02:16] #8553 closed

[2022-05-02 02:52] alexec opened #8566 "Add real-world examples to the docs"
I think that #8562 will improve the docs, bringing the examples to the front.

Lack of real-world is one of the most complained about areas of the docs:

There's a problem here of course, how can we predict what users will use Argo Workflows for in the real-world? It's a chicken-and-egg problem. It's a little hard to predict what example users want, and when you ask them, they'll ask for one to so

[2022-05-02 12:42] whybeyoung opened #8573 "[plugin] add more workflow data in executor plugin"
# Summary

[executor](https://github.com/argoproj/argo-workflows/blob/master/pkg/plugins/executor/objectmeta.go) api  only have the workflow name data and it is not enough in many usecases. so we should add more workflow meta data in executor.

# Use Cases

writing argo volocano  plugin, and when we setup the volcanojob, we want to set it's ownnerreference in the plugin code, we need workflow id,

[2022-05-02 13:24] Radolumbo opened #8576 "Looks like the `burst` configuration for the Workflow Controller doesn't actually do anything"
Was hunting down what `burst` actually does for https://cloud-native.slack.com/archives/C01QW9QSSSK/p1651410938829379

Looking for `burst` in https://github.com/argoproj/argo-workflows takes us to https://github.com/argoproj/argo-workflows/blob/master/workflow/controller/config.go#L85

Looks like it's using a built in golang Library, time/rate .. so we can take a look at https://pkg.go.dev/golang.

[2022-05-02 16:21] mocsharp commented on #1039
Any workaround for using temporary credentials and a session token to access MinIO artifact store?

[2022-05-02 16:55] alexec commented on #8576
This bug is correct. Yet, I don't think we can change the code to use `AllowN`, `createWorkflowPod` does not know how many pods will be created.

[2022-05-02 18:54] MatthewHou commented on #8283
@whynowy Can you plz elaborate a bit more on `configure pod discovery`? At the moment we use `ServiceMonitor` CRD to collect metrics from workflow-controller. We also noticed that 1 of the scrape target is failing due the change in non-leader controller metrics. How should we work around it? Looks like `PodMonitor` won't work unless some additional labels could added to the leader pod

[2022-05-02 19:23] #8481 closed

[2022-05-02 20:38] tooptoop4 opened #8580 "Show name of person who created workflowtemplate/cronworkflow"
# Summary

In the UI have another column next to each cronworkflow/workflowtemplate row that shows the username that created it

# Use Cases

auditability. currently we need oauth/dex/ldap credentials to login to the UI and we can add template/cronworkflow manifests in the UI but there is nothing that shows which user created which template/cronworkflow

[2022-05-02 20:45] #8560 closed

[2022-05-02 23:28] #7743 closed

[2022-05-02 23:28] #8477 closed

[2022-05-02 23:28] #8551 closed

[2022-05-02 23:28] #8558 closed

[2022-05-03 00:36] savingoyal commented on #7743
@alexec Given that model cards are HTML files, we have pretty much everything to support them inside Argo UI. We will follow up when we are ready to spike the effort.

[2022-05-03 02:04] Radolumbo commented on #8576
Sure, I totally agree -- not suggesting we try to add that functionality, but rather we should probably clear out code/guidance that is confusing to users. Maybe I can take a crack at some point soon.

[2022-05-03 09:32] cwood-uk commented on #8545
We have built argo locally off the master branch and ran the attached workflow, we are still seeing the same errors
![Screenshot 2022-05-03 at 10 27 45](https://user-images.githubusercontent.com/102071543/166431935-f0796139-7883-4924-817f-0b7038604be2.png)

[2022-05-03 12:18] jeszii commented on #8545
thanks @cwood-uk

[2022-05-03 15:04] wujayway opened #8587 "Panic in executor plugins cache.FilteringResourceEventHandler"
## Summary

What happened/what you expected to happen?
controller panic occasionally happend when configmaps in ns are deleted.
What version are you running?
v3.3.0

## Diagnostics
[code]

ResourceEventHandler may recieve DeletedFinalStateUnknown in some cases.
DeletedFinalStateUnknown cannot cast to v1.Object.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioriti

[2022-05-03 15:08] wujayway commented on #8587
labels area/plugin area/controller

[2022-05-03 16:12] alexec commented on #8587
Thank you for fixing this!

[2022-05-03 16:14] alexec commented on #8545
This issue is missing workflow YAML to run locally.

[2022-05-03 16:17] alexec commented on #8580
The username of the creator is found in the reource labels. You could surface the "creator" label in the UI.

Would you like to submit a PR?

[2022-05-03 16:25] jeszii commented on #8545
@alexec The YAML is the reproducible-workflow.txt attached in the issue, Github doesn't allow the upload of YAML files. Have attached here again. :)
[reproducible-workflow.txt](https://github.com/argoproj/argo-workflows/files/8612006/reproducible-workflow.txt)

[2022-05-03 16:46] alexec opened #8589 "Dev Container - like Codespaces, Gitpod(?) or VSCode"
Currently, it is hard to contribute, because you must install the entire build toolchain locally. This can be unreliable.

We could use dev containers to make this easier:

https://code.visualstudio.com/docs/remote/containers
https://docs.github.com/en/codespaces/setting-up-your-project-for-codespaces/introduction-to-dev-containers

[2022-05-03 16:53] #8587 closed

[2022-05-03 17:03] alexec opened #8590 "v3.3: Is the First Time User Experience nagging users?"
I'm not 100% sure the persistence for this is working. I get nagged a lot running locally. User feedback:

![image](https://user-images.githubusercontent.com/1142830/166503321-27029442-440d-4540-8197-c6c4dddf6d65.png)

[2022-05-03 17:05] alexec commented on #8590
Switch to use `localStorage` rather than `cookie`.

[2022-05-03 17:31] alexec opened #8591 "Add an example of CI/CD - one that builds Argo Workflows, using Argo Workflows"
Users want a more detailed example of doing CI and CD. We should have one that builds Argo Workflows (so it is Argo all the way down):

CI:

* Use webhook to start build (i.e. `WorkflowEventBinding`).
* Build the CLI.
* Build images using Buildkit (see [template](https://github.com/argoproj/argo-workflows/blob/master/examples/buildkit-template.yaml)).
* Run test and collect test report.
* Run cove

[2022-05-03 17:39] terrytangyuan commented on #7267
This should be kept open for discussion but not necessarily targeting for v3.4.

[2022-05-03 17:42] alexec opened #8592 "Enable ARGO_REMOVE_PVC_PROTECTION_FINALIZER by default."
See #6629

[2022-05-03 17:43] alexec commented on #8592
Please dicus.

[2022-05-03 17:44] alexec commented on #6629
Please comment on #8592.

[2022-05-03 18:01] alexec commented on #8545
Thank you. Can repro locally.

[2022-05-03 18:21] alexec opened #8593 "v3.2.10"
https://argoproj.github.io/argo-workflows/releasing/
https://github.com/argoproj/argo-workflows/security/advisories/GHSA-cmv8-6362-r5w9

[2022-05-03 18:21] alexec opened #8594 "v3.3.5"
https://argoproj.github.io/argo-workflows/releasing/
https://github.com/argoproj/argo-workflows/security/advisories/GHSA-cmv8-6362-r5w9

[2022-05-03 18:22] alexec commented on #8593
Commit cherry-picked and CI running.

[2022-05-03 18:31] alexec opened #8595 "Releasing isn't really automated yet"
While you can tag a branch and that creates a release, you still need to determine what to cherry-pick and it is too easy to make mistakes.

[2022-05-03 19:16] #8556 closed

[2022-05-03 19:27] alexec opened #8597 "Make CI faster"
The CI takes nearly an hour. A 10m build would give prompt feedback to users.

I don't think we can get to 10m, but 20m should be possible.

One simple change, allow all the E2E tests to run concurrently, rather than limiting to 4.

The `argoexec-image` build takes 7m. This is because it is building the UI too. It may also benefit from build caching.

[2022-05-03 19:50] alexec commented on #8594
87470e1c2 fix: Added artifact Content-Security-Policy (#8585)
dc8fef3e5 fix: Support memoization on plugin node. Fixes #8553 (#8554)
c3ae56565 fix: Do not log container not found (#8509)
c61770622 fix: Pod `OOMKilled` should fail workflow. Fixes #8456 (#8478)
a648ccdcf fix: prevent backoff when retryStrategy.limit has been reached. Fixes #7588 (#8090)
aa9ff17d5 fix: Remove path traversal CWE-23 (#

[2022-05-03 20:11] alexec commented on #8593
Build failure:

*  RunAsNonRootSuite/TestRunAsNonRootWithOutputParams
* lint - could be due to cache issue with Go 1.18

[2022-05-03 20:11] alexec commented on #8594
[CI running](https://github.com/argoproj/argo-workflows/actions/workflows/ci-build.yaml?query=branch%3Arelease-3.3).

[2022-05-03 20:23] alexec commented on #8593
Action taken:

* Skip test (like we did for v3.3)
* Cherry-pick b40cbcb28.

[2022-05-03 20:52] terrytangyuan commented on #8592
+1

[2022-05-03 21:09] alexec commented on #8593
Lint still fails. Good enough to release and postpone fixing.

[2022-05-03 21:09] alexec commented on #8593
[Release running](https://github.com/argoproj/argo-workflows/actions/runs/2266371454).

[2022-05-03 21:16] tooptoop4 commented on #8580
not a javascript person :) but seems even creator is wrong - showing some hash type string instead of real username:
![image](https://user-images.githubusercontent.com/33283496/166567501-abe0b22b-3e97-4b4a-83fb-6ddf958f4a72.png)

[2022-05-03 21:21] alexec commented on #8594
CI passed.

[2022-05-03 21:23] alexec commented on #8580
It is correct. The `creator` is the value of OIDC subject. This is sometimes the username, but often the OIDCs identifier for the user. `creator-email` might be more useful. You must enable that.

[2022-05-03 23:03] #8597 closed

[2022-05-04 01:12] hblixt opened #8601 "examples/README.md content was moved and link to new location is broken"
The [documentation update](url) (https://github.com/argoproj/argo-workflows/pull/8562) replaced the content of the [examples/README.md](https://github.com/argoproj/argo-workflows/tree/master/examples) file with a link that points to https://github.com/argoproj/argo-workflows/blob/master/docs/examples,  which 404s.

[2022-05-04 03:42] tooptoop4 commented on #8580
can creator-email be automatically derived from my login? or I have to type in the value on each workflow template/cronworkflow?

[2022-05-04 06:08] sarabala1979 commented on #5506
@roitalpaz you can mount the secret on pods. this is a more secure way to access the secret in container

[2022-05-04 11:03] barektui opened #8605 "Github sso with dex not working"
## Summary

Hi,

Version 3.3.4 (namespaced) installed from yaml

I have trouble setting up github sso for github workflows. In browser i can see 401 on /api/v1/info and i am redirected back to login screen with `Failed to load version/info Error: Unsuccessful HTTP response`. In argo-server log:

[code]

Dex logs looks as follow:

[code]

I have my dex configured like that:

[code]

workflow-contro

[2022-05-04 13:31] terrytangyuan commented on #8601
Thanks. Fixing in https://github.com/argoproj/argo-workflows/pull/8607.

[2022-05-04 14:33] terrytangyuan opened #8608 "Support cache GC feature via controller flags"
# Summary

Several community members have started using this feature via experiment variables `CACHE_GC_PERIOD` and `CACHE_GC_AFTER_NOT_HIT_DURATION`. They want to know when this feature will be mature.

Let's use this issue to collect feedback on this feature and improve when necessary before we move them to controller flags instead of environment variables. This is part of https://github.com/arg

[2022-05-04 14:40] #8595 closed

[2022-05-04 15:30] #8601 closed

[2022-05-04 15:41] alexec commented on #8580
It should come from your OIDC claims.

[2022-05-04 16:24] #8593 closed

[2022-05-04 16:25] #8594 closed

[2022-05-04 18:17] sarabala1979 commented on #8322
@tooptoop4  you can't reference the Artifacts content in when condition. The workflow controller doesn't have permission to access the artifact content. There is a workaround you can add one more step in between to stdout the artifact content and reference intermediate `steps.output.result`

[2022-05-04 18:56] alexec opened #8612 "The code that adds the artifact GC finalizer ignores the strategy of artifact"
This code only takes into account the strategy set at workflow level. I needs to take into account the value set on the artifact.

[2022-05-04 19:27] alexec commented on #8545
Pods do complete correctly. The workflow status is not being updated. This points to a problem it the controller. E.g. in operator.go

[2022-05-04 19:36] alexec commented on #8545
Worklow stops reconciling, but is not labelled completed.

[2022-05-04 20:04] alexec opened #8613 "Upgrade `stern`"
We're using defunct version. We should use this version:

[code]

[2022-05-04 20:24] alexec commented on #8545
Hypothesis: Pods are being labelled as complete, before the node status has been update.

[2022-05-04 20:32] alexec commented on #8590
I think this issue is that the cookie is not persisted across brower restart.

[2022-05-04 21:32] tooptoop4 opened #8615 "argowf domain name environment variable?"
I have an argo workflow that sends alerts, but wondering how to indicate if the alert came from DEV, SIT, PROD environments? is there any builtin argo variable that has the fully qualified DNS name of argoworkflows UI or something else?

update: use helm template language instead

[2022-05-04 21:34] tooptoop4 opened #8616 "profile equiv ie inject environment variables into ALL workflows/cronworkflows"
On linux hosts (non-k8s) its common to have a .profile file containing many environment variables. Does argo have similar concept? Can i define several environment variables in a single place and have them injected into ALL workflows? I know each workflow can reference a secret (not sure if it can reference configmap) per variable BUT i want a way that doesn't involve putting 10s of lines (ie diff

[2022-05-04 21:34] tooptoop4 opened #8617 "dynamic path in workflow"
is it possible to have a workflow that has a dynamic middle step (with dynamic image)?

ie
if output of stepA is x then
step A>step B (running image x) >step C

but if output of stepA is y then
step A>step B (running image y)>step C

but if output of stepA is 'no-op' then just
step A>step C

the images x/y should not be hardcoded anywhere as i want to arbitrarily run any image name returned by the

[2022-05-04 21:37] tooptoop4 opened #8618 "multiple resource pool concept"
ie https://airflow.apache.org/docs/apache-airflow/stable/concepts/pools.html functionality

this would be very useful! ie argo-events is starting workflows for each message received, where the message contains target tablename that the workflow writes to and you want to specify max 4 parallel workflows running per tablename (but without defining every tablename in configmap beforehand)

any idea o

[2022-05-04 22:12] alexec opened #8619 "The horizontal/vertical option on the graph panel does not persist"
This option:

![image](https://user-images.githubusercontent.com/1142830/166834003-a238f7da-ce0f-414a-9330-af1799c4140c.png)

Does not persist if leave the page. It should.

[2022-05-04 22:13] #8521 closed

[2022-05-04 22:49] alexec commented on #8545
[code]

Simpler. Faster.

[2022-05-04 22:55] alexec commented on #8545
This is caused by `exec_control.go` deleting pods. Instead, lets terminate them.

[2022-05-04 23:05] vitarkah commented on #6634
The only way to get it to working is with this
`      - args:
        - server
        - --namespaced
        - --auth-mode
        - sso
        - --auth-mode
        - server      # Need to add this in addition to server which do not make sense`
and
` redirectUrl: https://argo.hyla.hylatest.com/oauth2/callback/`
(with / at the end)

[2022-05-05 01:04] rayfoss opened #8621 "GKE Crashes when using stock chart"
# Summary

Stock chart breaks under GKE and GKE Autopilot. Any secure attempts to expose using the cloud console will fail. My instinct was to use an ingress instead... which is a terrible mistake, as that exposes the whole cluster without password. The docs state `TLS enabled by default if a key is available`, but a key seems to always be available no matter how barebones and fresh the cluster.

[2022-05-05 03:52] lijie0123 opened #8622 "apiclient: connect: cannot assign requested address"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
submit a workflow successfully

What version are you running?
v3.3.3

## Diagnostics
http1.WorkflowServiceClient report error when submitting workflow after running long time:
[code]

Paste the smallest workflow that r

[2022-05-05 04:20] Qalifah opened #8625 "I would like a mentor"
**Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).**

Answer: **Yes I have read the mentoring guide.**

**What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?**

Answer: **I have previous experience in Go.**

**Is there any particular issue you'd li

[2022-05-05 08:16] TheAnachronism commented on #1281
Are there any news on this?

[2022-05-05 10:05] trondhindenes commented on #8526
thanks!

[2022-05-05 10:44] loristo opened #8626 "Support Expression templating for the workflow Links"
# Summary

The templating system for the Links could be improved in a few ways to support:
- keys containing special characters
- usage of functions

The templating system for the links would work the same way as the Expression templating system for the Workflows (https://argoproj.github.io/argo-workflows/variables/#expression).

# Use Cases

Usage of keys containing special characters would be us

[2022-05-05 11:16] #8526 closed

[2022-05-05 12:22] #8622 closed

[2022-05-05 13:27] terrytangyuan commented on #8625
That issue has already been worked on by another mentee. Would you like to pick another issue?

[2022-05-05 13:33] Qalifah commented on #8625
okay. what about issue #8613 ?

[2022-05-05 13:49] acj commented on #8456
@alexec I was going to try 3.3.5 today since the fix was included, but the changelog also mentions that it was reverted (https://github.com/argoproj/argo-workflows/commit/93cb050e3933638f0dbe2cdd69630e133b3ad52a). Are you going to reintroduce the fix later in 3.3.x?

[2022-05-05 14:16] terrytangyuan commented on #8625
Sure. Assigned.

[2022-05-05 14:17] terrytangyuan commented on #8613
Assigned to @Qalifah https://github.com/argoproj/argo-workflows/issues/8625.

[2022-05-05 14:17] terrytangyuan commented on #8625
@alexec Would you like to mentor this since you created that issue?

[2022-05-05 15:42] bkanuka opened #8631 "podSpecPatch in template not compatible with Emmisary"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

### What happened/what you expected to happen?

Emmisary complains that my workflow "does not have the command specified", when using a WorkflowTemplate and podSpecPatch.  This only happens when using a `podSpecPatch`. Removing the `podSpecPatch` in the Workflo

[2022-05-05 16:16] alexec opened #8632 "v3.4"
Bugs:

- [x] #8631
- [x] #8545

PRs/features:

- [ ] #7540
- [x] #3102
- [ ] #8582
- [x] #7267

Docs:

- [x] #8633
- [x] #8507
- [x] #8506
- [ ] v3.4 update the `new-version-modal.tsx`

Chores:

- [ ] v3.4 security scan
- [ ] v3.4 stress test
- [ ] v3.4 lightening demos at community meeting

[2022-05-05 16:17] alexec opened #8633 "v3.4 blog post"
[Draft post](https://medium.com/p/30547fba7518/edit)

- [x] #8635
- [x] #8637

[2022-05-05 16:19] alexec opened #8635 "Document WebHDFS"

[2022-05-05 16:24] Qalifah commented on #8625
@terrytangyuan i have created a PR to resolve the issue.

[2022-05-05 16:51] alexec commented on #8631
The clue is in this error message:

[code]

The `podSpecPatch` misses the `image`. Question is why does `podSpecPatch` erase this.

[2022-05-05 16:58] alexec commented on #8631
See #5897

[2022-05-05 17:21] alexec opened #8636 "Update the `errors/errors.go` package and use core-lib"
This package has a lot of code that is now provided by the core `errors` package. By using that package, we can use the interfaces etc.

[2022-05-05 17:21] #8402 closed

[2022-05-05 17:40] #8613 closed

[2022-05-05 17:41] #8625 closed

[2022-05-05 17:42] dpadhiar opened #8637 "Argo Workflows v3.4: screenshots of archive retry and resubmit feature"
# Summary

Creating screenshots for Argo Workflows v3.4 blog to demonstrate argo archive retry/resubmit features.

Argo Workflows UI:

archive list with workflows to retry / resubmit

![argo archive ui list](https://user-images.githubusercontent.com/38965141/167022961-2d439556-4cf6-43ab-9663-e9eecd535325.png)

successful archived workflow able to be resubmitted but not retried (retry button disabl

[2022-05-05 17:54] alexec opened #8638 "Configure Dependabot to update Node dependencies"
This is missing.

[2022-05-05 18:11] bkanuka commented on #8631
Ahh thanks for the tip about the missing image.  If I add `image:` *and* `command:` to the `podSpecPatch`, things seem to work!

Of course this is only a workaround, but worth pointing out until the bug is fixed.  Thanks!

[2022-05-05 18:50] alexec opened #8643 "The module path downloading found in your go.mod doesn't match the actual path github.com/TwiN/go-color found in the dependency's go.mod."
[code]

[2022-05-05 18:51] alexec commented on #8631
This is user error. You cannot name your container `whalesay`. It must either be unnamed, or named `main`.

[code]

We could do a better job of reporting this error.

[2022-05-05 18:51] #8631 closed

[2022-05-05 19:10] alexec commented on #7954
@crenshaw-dev can I bump?

[2022-05-05 19:11] alexec commented on #6520
All serious issues have been done.

[2022-05-05 19:11] #6520 closed

[2022-05-05 19:13] alexec commented on #7823
@hblixt I don't want to do this. I think there are better places to focus our energy.

[2022-05-05 19:18] alexec commented on #8643
I'm not sure what the benefit of this is.

[2022-05-05 19:30] alexec commented on #8529
@sarabala1979 this is not a popular bug. I'd like someone from the community to try and fix this, rather than the core team, as our goal should always to make the greatest positive impact for our customers.

Could I ask you to add some guidance for the engineer trying to fix this?

Specifically, link to the exact line of code where you think changes need making.

[2022-05-05 19:31] alexec commented on #8529
@sarabala1979 please ignore my last comment. You have done this already with the linked PR.

@Piroddi would you be willing to complete @sarabala1979 PoC PR?

[2022-05-05 19:42] alexec opened #8644 "Fix issues found in CNCF security engagement"
The report has not been finalized. This looks like the following need to be fixed.

- [ ] #8645

[2022-05-05 19:42] alexec opened #8645 "Validate config-map links do not contain XSS"
We need to validate all links on Argo Server start-up to ensure they do not contain XSS:

- [ ] ADA-ARGO-SA-03: XSS in Argo Workflows chat url
- [ ] ADA-ARGO-SA-04: XSS in Workflows workflow link
- [ ] ADA-ARGO-SA-05: XSS in Pod Logs link
- [ ] ADA-ARGO-SA-06: XSS in sensor logs link
- [ ] ADA-ARGO-SA-07: XSS in Event Source logs url
- [ ] ADA-ARGO-SA-08: XSS in Pod link url

I think all links are

[2022-05-05 19:59] alexec opened #8646 "UI: Visualize a wf template before submitting (steps it will run, arguments it will take, etc..)"
Currently, we do not have a way to visualise the spec of a workflow. A very long time ago I tried to produce a low-code way to specify workflows that used the existing graph component to visualise the specification. Essentially, you should each template as a node, and DAGs and steps as graphs. It all links together nicely.

[2022-05-05 20:00] alexec commented on #8646
Internal ask.

[2022-05-05 20:02] bencompton opened #8647 "Support loops in `containerSet`"
# Summary

It doesn't appear that loop constructs like `withItems` and `withParams` are currently supported within `containerSet`.

# Use Cases

The goal is to be able to dynamically add containers to a `containerSet` when the number of steps required aren't known until runtime, whereas this is possible today with pod-based steps.

---

**Message from the maintainers**:

Love this enhancement prop

[2022-05-05 20:06] hblixt commented on #7823
There were a few more fuzzers added as part of the latest assessment, so we're probably in pretty good shape now

[2022-05-05 20:09] alexec opened #8648 "Workflows search box is useless (faster to use browser search)"
Remove the workflow search box.

https://github.com/argoproj/argo-workflows/blob/3e678b6cac42635588f04b22908f01693a95265a/ui/src/app/workflows/components/workflows-list/workflows-list.tsx#L168

[2022-05-05 20:12] alexec commented on #8647
This is a nice idea, but it's not possible to achieve I'm afraid. A pod can only contain a small finite number of containers that must be defined in the spec. For looping, you'll have to use normal container template.

[2022-05-05 20:12] #8647 closed

[2022-05-05 20:12] #7823 closed

[2022-05-05 20:21] crenshaw-dev commented on #7954
@alexec I'm gonna try to get this into next sprint.

[2022-05-05 22:44] ibuder opened #8650 "show higher resolution of time for duration > 1 hour"
# Summary

Show higher resolution of time when duration is > 1 hour (show minutes or hours and minutes). This applies everywhere duration is shown e.g. the "Workflows" view, "Workflow Details" view, and stage "Summary" view.

# Use Cases

I frequently use Argo Workflows to understand how long jobs take and how that changes over time as data and code changes. Because duration may only show resoluti

[2022-05-05 23:16] alexec commented on #8650
Internal ask.

[2022-05-05 23:36] tczhao commented on #7867
Hi @SkRai0 , are you still interested in working on issue #7920 ?

[2022-05-05 23:43] alexec commented on #8650
To fix this, we can try making the default value of `sigfigs` of 2 in `formatDuration`:

https://github.com/argoproj/argo-workflows/blob/3e678b6cac42635588f04b22908f01693a95265a/ui/src/app/shared/duration.ts#L9

@ibuder would you like to implement this?

[2022-05-06 01:37] #695 closed

[2022-05-06 02:01] ibuder commented on #8650
@alexec Sure I will give it a try.

[2022-05-06 02:26] alexec commented on #8650
Here is the guide for contributing: https://argoproj.github.io/argo-workflows/CONTRIBUTING/

[2022-05-06 04:03] lxc902 opened #8652 "'Copy To Clipboard' does not work"
The console log says
[code]

I guess it's because the code (https://github.com/argoproj/argo-workflows/blob/3abeb0120c80fcdf9b8b161178c296c6efccb63d/ui/src/app/shared/components/clipboard-text.tsx#L22) didn't call the Permissions API (ref: https://developer.mozilla.org/zh-CN/docs/Web/API/Clipboard/writeText )

![image](https://user-images.githubusercontent.com/4177403/167064832-0bb5289a-4eda-4f03-

[2022-05-06 04:37] alexec commented on #8652
Do you have a fix?

[2022-05-06 06:26] disenchant opened #8653 "Inconsistent cron execution planning"
I've submitted a scheduled workflow with a schedule of `0 0 22-28 * 2` in the web-UI the description of the execution schedule is correct "At 12:00 AM, between day 22 and 28 of the month, and on Tuesday" but the next run field shows 3 days (at the time of writing it's the 6th of May 2022) which means the next execution would be the 10th of May 2022 which is wrong. The next execution should be the

[2022-05-06 06:33] luke-hemisphere opened #8654 "Enhanced depends logic not working when task is omitted"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened?
When a task is Skipped/Omitted because a dependent task is skipped you can't use enhanced depends on that task.
[code]

What you expected to happen?
If a task is omitted/skipped due a dependent predecessor task being skipped, you should be able t

[2022-05-06 07:07] alexec commented on #8653
If the UI is wrong, we should remove the code that is getting it wrong:

https://github.com/argoproj/argo-workflows/blob/master/ui/src/app/cron-workflows/components/cron-workflow-list/cron-workflow-list.tsx#L158

Would you be interested in submitting a fix to remove `getNextScheduledTime`?

[2022-05-06 07:16] alexec commented on #8637
Thank you.

[2022-05-06 07:16] #8637 closed

[2022-05-06 07:19] disenchant commented on #8653
@alexec thanks for the pointer to the code in question. I didn't investigate yet if the actual cron schedule is properly used and just the UI is displaying a wrong next run or if the logic of the code actually believes this is correct (aka. my example would already execute on the 10th of May). Unfortunately I likely won't get to investigate and submit a fix any time soon 😖

[2022-05-06 11:08] Ragatzino commented on #8541
I am using helm chart 0.14.0

and values

[code]

 I don't get it..

[2022-05-06 11:30] journey-wang opened #8658 "Argo sync pod status too slow"
When I running about 20000 workflows, argo sync pod status too slow.

What version are you running?
v2.8.3

## Diagnostics

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-05-06 11:37] SaumyaBhushan commented on #8648
CI / UI (pull_request) is failing. Don't know why? Any help?

[2022-05-06 12:06] tczhao opened #8659 "Enforce/Specify node version for UI"
# Summary

There's a node version specified in the build workflow
https://github.com/argoproj/argo-workflows/blob/master/.github/workflows/release.yaml#L329
https://github.com/argoproj/argo-workflows/blob/master/Dockerfile#L34

but we don't have any constraint in the ui/package.json, should we enforce this?
https://github.com/argoproj/argo-workflows/blob/master/ui/package.json

[code]

---

**Mess

[2022-05-06 12:13] jeszii commented on #8545
Thanks for all your work on this, let me know if you need any help from us.

[2022-05-06 15:25] terrytangyuan commented on #8658
`v2.8.3` is too old and we no longer support it. Please try the latest version and see if the issue persists.

[2022-05-06 15:30] terrytangyuan commented on #8653
@alexec Do we want to fix `getNextScheduledTime` or remove `NEXT RUN` column completely?

[2022-05-06 15:43] alexec commented on #8658
V2.12 and after had many performance improvements.

[2022-05-06 15:43] #8658 closed

[2022-05-06 15:44] alexec commented on #8653
Remove it completely.

[2022-05-06 16:11] #8592 closed

[2022-05-06 16:13] alexec opened #8662 "Add Github Action check for PR title to make sure it is semantic"
PR titles should be semantic.

[2022-05-06 16:16] alexec commented on #8662
@sarabala1979 @whynowy @juliev0 @dpadhiar @terrytangyuan @jessesuen as you know, all commits to master (a) must be semantic (i.e. prefix `feat:` `fix:` etc (b) should have the issue suffix (i.e. `Fixes #8622`).

Commit messages to master are the PR title.

OSS contributors usually fail to get it right. Even when they get it right, I often want to change what they wrote to clarify what changed and

[2022-05-06 16:16] #8662 closed

[2022-05-06 16:53] mgoodness commented on #8380
I'm getting this with `:latest` as well, when `git.revision` is a specific commit hash. See also [this comment](https://github.com/argoproj/argo-workflows/issues/1428#issuecomment-1111100783) from @auswells.

[2022-05-06 16:57] alexec commented on #8380
The bug is in this line of code:

https://github.com/argoproj/argo-workflows/blob/master/workflow/artifacts/git/git.go#L155

It is missing auth. It should look more like this:

https://github.com/argoproj/argo-workflows/blob/16fef4e5498fac88dc80d33d653c99fec641150d/workflow/artifacts/git/git.go#L137

@mgoodness would you like to submit a PR to fix?

[2022-05-06 16:59] mgoodness commented on #8380
Woot! Sure, PR incoming.

[2022-05-06 17:24] hadim commented on #8456
We have been able to reproduce the bug (but we can't share the workflow). We are currently experiencing the bug on 3.2.11. I am happy to test it with 3.3.* if it contains the fix.

Let me know.

[2022-05-06 17:26] alexec commented on #8456
This fix is on master, not on v3.3. You'll need to test that.

[2022-05-06 18:02] tooptoop4 commented on #8653
its a useful field

[2022-05-06 18:44] alexec commented on #8653
Maybe we could try upgrading `cron-parser` or trying a different library?

[2022-05-06 18:48] alexec commented on #7920
Timestamps are rendered using the `<Timestamp/>` component:

https://github.com/argoproj/argo-workflows/blob/16fef4e5498fac88dc80d33d653c99fec641150d/ui/src/app/workflows/components/workflow-node-info/workflow-node-info.tsx#L112

https://github.com/argoproj/argo-workflows/blob/16fef4e5498fac88dc80d33d653c99fec641150d/ui/src/app/shared/components/timestamp.tsx#L5

To fix this, modify that component

[2022-05-06 18:48] #8619 closed

[2022-05-06 18:48] #8590 closed

[2022-05-06 18:49] alexec commented on #8456
Tip of master is published as `:latest`. You can run that.

[2022-05-06 18:56] alexec opened #8665 "Add `Artifact.Deleted` flag"
We need to know if an artifact was deleted. Add this field.

[2022-05-06 18:57] alexec opened #8666 "Don't try and show deleted artifacts in the UI"
The UI wil try and display deleted artifacts, returning an error. Instead, just don't try and show them. Show "Artifact has been deleted".

[2022-05-06 18:59] alexec opened #8667 "Inform the user in the UI if an artifact will be delete and when"
There is no way to know when at artifact will be delete in the UI. Add to `<ArtifactPanel/>` some text to tell users if this will happen. E.g.  "Artifact will be automatically deleted shortly after the workflow completes".

https://github.com/alexec/argo-workflows/blob/e771dc381a95d144d0ad09838c184fc0aaaf849e/ui/src/app/workflows/components/workflow-details/artifact-panel.tsx#L101

[2022-05-06 18:59] alexec commented on #8667
[code]

[2022-05-06 19:04] alexec opened #8668 "Document Artifact GC"
See docs/artifact-gc.md in #8530

[2022-05-06 19:05] alexec opened #8669 "`argoexec artifact delete`"
The executor needs a new command to delete artifacts.

See #8530.

[2022-05-06 19:06] alexec opened #8670 "Provide an example of artifact GC in action"
Provide an example.

[2022-05-06 19:15] alexec commented on #3102
I've completed a PoC (#8530) and @jessesuen and I have agreed on a design in that PoC.

I'm now asking for help with the following:

* We only currently support non-S3 storage. Could you help with implementing those?
* There are many issues in the [artifacts project](https://github.com/argoproj/argo-workflows/projects/8). There are in order with sizing and "good first issue" labels. Would you like

[2022-05-06 20:39] prasad-1729 opened #8671 "Intermittently failing Argo Workflow pods"
We are using Argo Workflow version-3.2.9

Error Message : **step group deemed errored due to child sample-test.onExit[0].exit-time error: Internal error occurred: admission plugin "OwnerReferencesPermissionEnforcement" failed to complete validation in 13s**

Any idea , how to fix this?

Thanks!

[2022-05-06 20:47] terrytangyuan commented on #8671
I don't think this has something to do with Argo Workflows. You probably want to look into your admission controller configurations: https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/

[2022-05-06 21:34] #8654 closed

[2022-05-06 21:35] terrytangyuan commented on #8654
This is fixed in https://github.com/argoproj/argo-workflows/pull/8672. Thanks for reporting!

[2022-05-06 22:13] #8380 closed

[2022-05-06 22:49] hadim commented on #8456
I still see the issue using `:latest`. I will try to reproduce it in a workflow I can share.

[2022-05-06 23:44] #8545 closed

[2022-05-07 13:03] hadim commented on #8456
Continuing my investigation (let me know if I should open a new issue).

I am still working on a reproducible example. In the meantime, I noticed that when the workflow is stuck in Running phase (while the logs show `/argo/staging/script: line 52:   492 Killed`. If I ssh to the `main` pod, I can see zombie python processes. If I kill all those zombie processes, then argo is able to detect it and t

[2022-05-07 13:18] djshen commented on #8109
Hi @sarabala1979 , are you still working on this issue?

[2022-05-07 14:21] journey-wang commented on #8658
Thanks for your answer, I'll try the new version

[2022-05-07 14:23] journey-wang opened #8674 "Could argo deployment have multiple replicas"
Hi,

Could workflow-controller and argo-server deployment scales to multiple replicas, not 1.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-05-07 14:42] terrytangyuan commented on #8674
See this page for relevant information: https://argoproj.github.io/argo-workflows/scaling/

[2022-05-07 14:43] #8674 closed

[2022-05-07 16:10] terrytangyuan commented on #8617
You can parameterize the resources to take the output from previous steps.

[2022-05-07 16:12] terrytangyuan commented on #8616
You can define template defaults at controller level to reduce duplication: https://argoproj.github.io/argo-workflows/template-defaults/

[2022-05-07 22:22] lknite commented on #8320
This looks related "argocd cluster add ...", timing out waiting for a secret.

[2022-05-08 16:29] #8659 closed

[2022-05-08 21:43] hadim opened #8680 "OOM error not caught by the `emissary` executor forcing the workflow to hang in "Running" state"
_I am opening a new issue, but you can check https://github.com/argoproj/argo-workflows/issues/8456#issuecomment-1120206141 for context._

---

The below error has been reproduced on `master` (07/05/2022), `3.3.5` and `3.2.11`.

When a workflow get OOM killed by K8s, the `emissary` executor sometime **can't detect it**. In consequence, the workflow **hangs in "Running" state forever**.

The error

[2022-05-08 21:44] hadim commented on #8456
It seems like my issue is similar but not exactly the same as the original one here. I have opened a new one here https://github.com/argoproj/argo-workflows/issues/8680

[2022-05-08 22:09] hadim commented on #8680
It might be important to say that in the logs of the `main` container I can see `/argo/staging/script: line 60:   854 Killed  ` (while the workflow is stick in "Running" phase).

As said above, manually sshing into the `main` container, I can reestablish the correct behaviour with `kill -15 1` (not that `kill -9 1` **does not work**).

[2022-05-09 03:27] LingClassmate commented on #8449
Do you have any solution to this problem?

[2022-05-09 03:27] #8449 closed

[2022-05-09 04:02] kingsxiaoz opened #8681 "Support specifying the pattern for transient errors in argo 2.12"
# Summary

We are using argo 2.12.10 currently. It is quite stable, but we found sometimes admission controller webhook failed(network issue) which caused the failure of pod creation. Argo will then mark this node to error. We have to manually rerun these error steps. We found there is an enhancement (https://github.com/argoproj/argo-workflows/pull/4889) already in argo 3.x which will help us to s

[2022-05-09 04:20] ipythonlamp opened #8682 "when an workflow started, quickly cancel this workflow , but the first step still execute..."
## Summary

#### What happened:

<img width="678" alt="image" src="https://user-images.githubusercontent.com/35916286/167339844-eaa482bf-baba-4ab8-9da4-c59bbb00b1f8.png">

when this workflow started, i quickly click cancel, but the first step still runing.... , as the above pic show.

#### What I expected?

I hope the whole step canceled

#### What version are you running?
[code]

[2022-05-09 05:51] alexec commented on #8681
I’m afraid not. 2.12 has been out of support for sometime.

[2022-05-09 05:51] #8681 closed

[2022-05-09 05:54] alexec commented on #8680
Does running ps confirm show the process as zombie?

[2022-05-09 07:25] tgruenert opened #8683 "Workflows "Started" / "Finished" should be showed in detailed date and time"
# Summary

STARTED and FINISHED information should contain date and time. This should be done at
* Workflows view
* Archive view
* detail view for Workflows

# Use Cases

We use CronWorkflows a lot and with a schedule trigger more than 10 times a day. After one day in lists you can´t see which one runs fine and which one has failed. Every workflow has the same information like "Start time = 1d ago

[2022-05-09 07:40] SebastianGoeb commented on #8539
@alexec I'm sorry, either I'm blind or we misunderstood each other. The only properties I can find in the docs relating to timeout/ttl/deadline/etc. are
- podGC.strategy (don't support a timeout)
- activeDeadlineSeconds (kills a workflow if it does over X time)
- startingDeadlineSeconds (analogous to CronJob startingDeadline)
- ttlStrategy (removes the Workflow X time after completion)

Those are

[2022-05-09 07:59] edevash commented on #6635
Any roadmap to bring in support for TLS based MINIO Endpoint? All we need is to provide certificate for validation... We have an external generated certs, in which MINIO is been hosted. Now that rootca, needs to be available, not at build time, but at execution time.
Also we dont have provision to override the executor command line, which can at least enable  us manually install the rootca, during

[2022-05-09 08:01] SebastianGoeb commented on #8539
Another two I found are
- deletionGracePeriodSeconds (docs say "read-only", and only im combination with deletionTimestamp, so is this only set by the workflow controller? When I explicitly set it, it's ignored).
- `podSpec.terminationGradePeriodSeconds` via `podSpecPatch`: https://github.com/argoproj/argo-workflows/issues/1012 (not obvious in the docs btw)

The latter one controls the delay betwe

[2022-05-09 10:26] mxm-tr commented on #6635
@edevash have you tried mounting the SSL certificates under `/etc/pki/tls/certs/ca-bundle.crt` using a Kubernetes secret and a volumeMount? You may be able to do that in the Workflow Contoller configmap, under `executor:`

[2022-05-09 11:49] edevash commented on #6635
Did you reference some thing like below?
executor:
  imagePullPolicy: Always
  volumes:
  - name: sip-ca
    secret:
      secretName: eric-sec-sip-tls-trusted-root-cert
      items:
      - key: ca.crt
        path: ca-bundle.crt
  volumeMounts:
  - name: sip-ca
    mountPath: /etc/pki/tls/certs

If so, it didn't work.  I am on argo 3.2.9. was any thing introduced later.
On inspecting the pod, th

[2022-05-09 12:45] hadim commented on #8680
Running `ps aux` shows 2 zombie processes (both python and related to the workload of interest). There are other children processes related to the workload but those are not in `Z` state but they are in `Sl` state.

[2022-05-09 13:13] Gibstick opened #8684 "Workflow deadlocks on mutex in steps template if controller is restarted"
## Checklist

* [x] Double-checked my configuration
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

**What happened/what you expected to happen?**

I expect my workflow to complete successfully even if the workflows controller is restarted. The same issue does not occur if the mutex is on the container template or at the workflow level.

**What version are you

[2022-05-09 14:10] Ethyling opened #8685 "Hide secrets in logs"
# Summary

Currently, the secrets are printed in the logs without any filtering. It would be nice if the secrets could be redacted in the logs while being printed

# Use Cases

This would prevent unintentional leaks of a secret in the log by running something like `env` in the workflow

NOTE: This does not prevent intentionally leaks of the secrets. Someone can still run something like `env | base

[2022-05-09 15:21] sarabala1979 commented on #8682
@ipythonlamp Can you provide the Workflow controller log, wait container log of first step pod  and full workflow yaml (After stopped)

[2022-05-09 16:21] alexec commented on #8685
Could you please provide more info? Which secrets? Which logs?

[2022-05-09 16:29] Ethyling commented on #8685
Yes, sorry. I'm talking about the logs from the pods available using the UI or the CLI. I would like to be able to hide the Kubernetes secrets used in a Workflow. For example, currently if we use this example https://argoproj.github.io/argo-workflows/walk-through/secrets/, the output of `$MYSECRETPASSWORD` will be printed without any filtering in the logs. I would like to have this filtered out an

[2022-05-09 16:37] alexec commented on #8685
The redaction would be done on this line:

https://github.com/argoproj/argo-workflows/blob/92b3ef27af7a7e6b930045e95072a47c8745b1d3/util/logs/pods-logger.go#L60

Add a new environment variable `ARGO_LOGS_REGSUB` the operator can configure. This is a regsub that is applied to `data` to redact it.

Would you like to submit a PR?

[2022-05-09 16:49] alexec commented on #8680
https://github.com/pablo-ruth/go-init/blob/30e47fe6f58c0e7fb5dfd12525b583639c7bda92/main.go#L94

[2022-05-09 17:05] alexec commented on #8680
To repro, if the problem is zombies, then we need to create a zombie. How to do that I wonder?

[2022-05-09 17:07] alexec commented on #8680
See #7259

[2022-05-09 17:40] alexec commented on #8680
Tekton and go-init do this:

https://github.com/tektoncd/pipeline/blob/6cb0f4ccfce095495ca2f0aa20e5db8a791a1afe/cmd/entrypoint/runner.go#L79

But we do this:

https://github.com/argoproj/argo-workflows/blob/92b3ef27af7a7e6b930045e95072a47c8745b1d3/cmd/argoexec/commands/emissary.go#L70

[2022-05-09 17:49] alexec opened #8687 "Wait container is terminated with wrong command"
In v3.4 we still try to terminate using `/bin/sh` but we need to introduce `argoexec kill` instead.

https://github.com/argoproj-labs/argo-dataflow/blob/8fbb255c01e744b6331faa269c96d8558b71e15a/kill/kill.go#L21

This will work for all cases now.

`signalContainers` will exit on the first error running `SignalContainer`. It should instead continue or error, otherwise `killContainers` will never be

[2022-05-09 17:52] alexec commented on #8680
@hadim would you please be able to run a new version of the executor? `dev-zombie`. I don't know if this is the right fix, but it maybe.

[2022-05-09 18:45] alexec opened #8689 "Fix new lint errors"
[code]

[2022-05-09 18:46] alexec commented on #8689
@dpadhiar could I please ask you to spend 30m fixing this? I think a new version of `golangci-lint` has just been published.

[2022-05-09 19:03] hadim commented on #8680
Should I also set the controller image to `dev-zombie`? Because I only set `--executor-image=quay.io/argoproj/argoexec:dev-zombie` (controller args) and running as a sanity check the argosay workflow from the UI, the workflow never terminates.

[2022-05-09 19:05] hadim commented on #8680
Nevermind about my last message. Setting the `workflow-controller` image to use `dev-zombie` makes it work. Trying to reproduce the bug now (not that I haven't modified the `argo-server` image).

[2022-05-09 19:11] hadim commented on #8680
I just tested it again with our problematic workflow and everything is the same as before. Logs show the script has been killed but the workflow is stuck in "Running" phase.

[2022-05-09 20:06] hadim commented on #8680
I have been able to reproduce the bug at a smaller scale with less child processes, so it's easier to show an `htop` output:

[code]

During this run, you will notice that there is no zombie processes anymore, making me think that the zombie processes wasn't the culprit.

(we are actively trying to get you a workflow you can use to reproduce the bug, it might take of time but I will update here as

[2022-05-09 20:29] alexec commented on #8680
The process should only fork one sub-process. Are you using any kind of retry?

[2022-05-09 20:37] hadim commented on #8680
No the workflow is a very regular single node one without any retry strategy set (neither other argo features beside all the `ttlStrategy` keys set to 3h).

[2022-05-09 21:18] hadim commented on #8680
FYI: I did try with `dev-kill-linux-amd64` (your latest PR) but still see the same bug as before.

[2022-05-09 22:02] hadim commented on #8680
I did some progress that might help you.

See below the "anatomy" of the bash script we execute and that trigger the bug that prevent argo to detect that the script has been killed.

[code]

Now if I put the python workload script into a child `bash` process with:

[code]

then the script runs, OOM kills the script and argo can properly detect it and mark it as Completed and Failed with the approp

[2022-05-09 22:04] alexec commented on #8680
So you create as sub-shell, perhaps the sub-shell does not become part of the process group.

[2022-05-09 22:25] #8689 closed

[2022-05-09 22:26] hadim commented on #8680
The bug only happens when I run the workload (`execute_python_workload_that_trigger_the_OOM_error`) **not** in a sub-shell (without the `( xxx )`).

When using a sub-shell then argo behaves as excepted.

In terms of processes hierarchy using `htop`, I haven't spotted any obvious difference.

[2022-05-09 23:34] hadim commented on #8680
Sorry for the noise around sub-shell, it has nothing to do (I got confused with some new git commits I haven't noticed in our internal stack).

We have been able to narrow down the python module that seems to trigger the bug. It seems to be caused by `torch.multiprocessing.Manager()`. We are getting closer to be able to provide you something to reproduce.

[2022-05-10 03:44] KesavanKing opened #8692 "Daemon containers not getting destroyed when enabling POD_NAMES as v2"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

**With POD_NAMES v2**
Started workflow controller with  env *POD_NAMES v2*
Created a simple daemon container. Workflow succeeded but the daemon container was still running.
When I check the logs no kill signal is sent

[2022-05-10 04:04] hadim commented on #8680
I have been able to reproduce the bug.

Here is the template to use:

[code]

Note that the bug **does not always** happens. Sometime argo correctly mark the workflow as Completed and Failed. When executing 15 time the same above workflow, argo is able to correctly detect the OOM error for 5/15 workflows.

Every workflow are executed on a Kubernetes nodes with 2 vCPUs and 8GiB of memory (I am not

[2022-05-10 04:22] disenchant commented on #8653
Please note that **it isn't just about what the field displays** as the `0 0 22-28 * 2` schedule actually executed today (10th of May 2022) which is **not** in line with the schedule as it is not in the range of the 22th to 28th day of the month.

[2022-05-10 07:35] mxm-tr commented on #6635
Ok so it looks like it is not implemented then, this would probably need something similar to https://github.com/argoproj/argo-workflows/issues/7390, to mount custom volumes on the executor.

[2022-05-10 09:23] lambertsbennett commented on #8403
@terrytangyuan what is the best way to reach out with questions? Slack?

From the initial issue description it is not that clear to me what is desired. In areas where
[code]
is present, should more logic be added to capture issues with the template?

[2022-05-10 12:39] cipribucur opened #8694 "emissary workflow examples"
# Summary
Since from version 3.3 the default executor is emissary, can you please update more examples to work with it.

# Use Cases

Upgrading to latest version and trying to find the proper example to work with emissary executor.

In your examples, and of course in many cases, the images have both entrypoint and cmd. Can you please provide some working examples where these cases are supported. I

[2022-05-10 15:32] alexec commented on #8653
https://crontab.guru/#0_0_22-28_*_2

This says “and on every Tuesday”, which the 10th is.

[2022-05-10 15:32] alexec commented on #8653
In fact, I can see the “and…” in your screenshot.

[2022-05-10 15:34] alexec commented on #8694
All examples should work with the emissary. If you find ones that don’t, then please raise an issue.

[2022-05-10 15:34] #8694 closed

[2022-05-10 15:38] alexec commented on #8692
@JPZ13 could you take a look please?

[2022-05-10 15:39] alexec commented on #8680
@hadim would you available for a video call this week so I can see this in action?

[2022-05-10 16:36] hadim commented on #8680
Sure that would probably be the most efficient. I am a bit busy this week. Would next Monday works for you? My timezone is EST (Montreal).

Have you been able to reproduce the error with the above workflow?

[2022-05-10 16:39] alexec commented on #8680
Pacific Time. I don't have ready access to large clusters.

[2022-05-10 16:42] alexec commented on #8680
I want to dig into some things:

* Is it definately OOM?
* What happens to the processes? Do you see zombies?

[2022-05-10 16:52] hadim commented on #8680
It's clearly OOM:

- Verified by checking memory usage with `htop`.
- Also when I kill PID 1, argo can detect it and show the OOM Error in the UI.

I don't see any zombie in the workflows I have shared above.

Don't think so from the tree but I am not sure the best way to check for orphans.

Here the output of `htop` after the script got killed (but still in "Running" state):

[code]

[2022-05-10 19:59] alexec commented on #8680
I'm out of office next week. Can you do this week? Pacific Time.

[2022-05-10 20:02] hadim commented on #8680
Friday 15h EST?

[2022-05-10 20:54] alexec commented on #8680
That works. Can you send invite to alex_collins@intuit.com

[2022-05-11 00:15] alexec opened #8699 "Wait container does not handle SIGTERM correctly"
The wait container should trap SIGTERM and gracefully shutdown, capturing artifacts.

However, if it recieves SIGTERM while capture artifacts, it will just exit.

[2022-05-11 03:00] alexec opened #8702 "The `/signal` file is not used in v3.4 and can be deleted"
Search for `/signal` in the code to find it.

[2022-05-11 03:04] alexec commented on #8692
The bug is in this line of code:

https://github.com/argoproj/argo-workflows/blob/a7ad4b7555e0f16baa98d60e9abdd23f1b0c2531/workflow/controller/exec_control.go#L100

Should be this:

[code]

@KesavanKing would you like to submit a PR to fix?

[2022-05-11 04:27] KesavanKing commented on #8692
Yes sure.
I'll raise a PR for the same.

[2022-05-11 05:45] hzliangbin commented on #8702
@alexec may I have a try on this ?

[2022-05-11 06:56] tczhao commented on #8652
I think the Permissions API is not an issue, the English version of the document says `Permissions API, is granted automatically`, maybe the chinese document is outdated.

I think the following might be related
https://stackoverflow.com/questions/51805395/navigator-clipboard-is-undefined

Hi @lxc902 , were you running the argo server with `--secure=false`?

[2022-05-11 07:37] JPZ13 commented on #8692
Sorry I didn't see this earlier. Happy to review your PR @KesavanKing

[2022-05-11 08:47] luke-hemisphere opened #8704 "Input Parameter Confusion and Differences Between WorkflowTemplate and Workflows"
## Summary

**What happened?**
Trying to submit a workflow template results in an error. The equivalent non-template workflow succeeds

[code]

**What version are you running?**
3.3.2

## Diagnostics

The following workflows are equivalent - one is a template and one is not.
running the template version will fail
running the non-template version will succeed

### Template Version
[code]

### Workf

[2022-05-11 12:59] hadim commented on #8680
I have edited the workflow to reproduce the bug above. It is now 100% reproducible and also does not require `pytorch` but only `multiprocessing` (python stdlib) to reproduce. The previous template had a wrong `ressources` block indentation.

[2022-05-11 13:48] KesavanKing commented on #8692
@JPZ13 @alexec
Can anyone one of you please review  #8708

[2022-05-11 13:50] #8643 closed

[2022-05-11 13:55] #8692 closed

[2022-05-11 14:12] kollurukailash commented on #1571
@jessesuen Can you help me with configuring the IAM role for s3 artifact?

[2022-05-11 14:59] terrytangyuan commented on #8702
@hzliangbin Yes feel free to submit a PR

[2022-05-11 15:23] #8650 closed

[2022-05-11 15:55] sandeepitachi opened #8712 "Workflow error "metadata.ownerReferences.uid: Invalid value: "": uid must not be empty" in v3.3.5"
We have upgraded our argo servers to v3.3.5 (latest) and facing below issue

[code]

Tried using both executors - emissary and k8sapi - still same error

![image](https://user-images.githubusercontent.com/25717719/167894117-359cfffd-5842-4275-9566-0cfe2c4f24e6.png)

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-05-11 16:04] alexec commented on #8712
Can you check you are using the correct executor image? That you not somehow using latest executor with v3.3 controller. Or vice-versa.

If that is not the case, please share:

* Controller config map.
* Controller deployment YAML.
* Workflow pod YAML.

[2022-05-11 16:12] sandeepitachi commented on #8712
**Bingo - executor mismatch with controller!** executor was on 3.3.1 and controller on 3.3.5!
Just updated executor image to 3.3.5 so both controller and executor using 3.3.5. Workflow was successful!

thank you alex - as always!

[2022-05-11 17:20] alexec opened #8713 "Remove security nudge from CLI"
The CLI displays a nudge, but this makes output harder to read, and I don't believe has impact:

[code]

I don't believe users change their behaviour (or are really that much interested in security) as a result of this.

Delete this func and its invocations:

https://github.com/argoproj/argo-workflows/blob/ee3765643632fa6d8dbfb528a395cbb28608e2e8/util/printer/workflow-printer.go#L117

[2022-05-11 17:26] alexec opened #8714 "`argo lint --fix`"
Most modern linting tools automatically fix errors. `argo lint` could do this too.

[2022-05-11 17:37] tooptoop4 opened #8715 "UI rendering fails if clearing template"
1. click 'workflow templates'
2. click 'create new workflow template'
3. highlight the text as shown below then press 'DELETE' or 'Backspace' key on keyboard
4.
![image](https://user-images.githubusercontent.com/33283496/167911817-28046f30-69eb-4528-8e54-d8f79bb1d116.png)
5. observe the error:
![image](https://user-images.githubusercontent.com/33283496/167912039-e2da546a-fbb7-4c01-bd90-9c775d1d0d8

[2022-05-11 17:48] alexec commented on #8715
This is probably one of these places:

https://github.com/argoproj/argo-workflows/search?l=TSX&q=workflowMetadata

[2022-05-11 18:52] #8638 closed

[2022-05-11 18:56] alexec opened #8717 "Add cluster/namespace fields to template"
Add these fields to the `Template` type.

[2022-05-11 18:58] alexec opened #8724 "Create `argo get-profile` to create multi-cluster profiles"
We need to be able to create secrets containing KUBECONFIG so that the controller can list/watch/create pods in remote clusters.

[2022-05-11 19:08] alexec opened #8728 "Modify controller to load profiles"
The controller needs to load profiles and start a pod watch on each one.

Profiles should state which cluster they are for in their label.

[2022-05-11 19:09] alexec opened #8729 "Modify operator to use profiles to create pods in other clusters/namespaces"
Now the controller has access to profile, the operator can use the profiles to create pods for script and container templates in other clusters and namespaces.

[2022-05-11 19:10] alexec opened #8730 "Introduce `make start PROFILE=multi-cluster`"
Allow test to start in a multi-cluster profile. This profile should start-up another cluster using `k3s`.

[2022-05-11 19:12] alexec opened #8731 "Display cluster and namespace in the UI"

[2022-05-11 19:14] alexec opened #8732 "Multi-cluster RBAC"
We need to allow users to control which clusters and namespace a workflow is allowed to create pods in.

Use Casbin.

[2022-05-11 19:14] alexec opened #8733 "Multi-cluster docs"
Create some docs.

[2022-05-11 19:20] tooptoop4 opened #8734 "error with @ character in gjson expression"
a param to my workflow is a payload like:
https://github.com/LeidosLabs/holeshot/blob/b3aa04a84059e3a4c07d42ff9a46cc37f443eb3d/ingest-service/src/test/resources/sample-notification.json#L1-L12

ie
[code]

i try to extract the 'key' from the partially stringified json (which works on https://gjson.dev/):

[code]

but argo gives this error:
[code]

[2022-05-11 19:54] tooptoop4 opened #8737 "create invalid workflowtemplate in ui does not show error but creates default"
when you paste below into a new workflowtemplate in UI it does not show any error, discards what u pasted in but creates a default workflowtemplate

[code]

[2022-05-11 19:55] terrytangyuan commented on #8403
Either here or Slack should be fine. In that code, we should surface the error instead of just writing back the same string.

[2022-05-11 20:38] tooptoop4 opened #8738 "Archived workflows page in UI - allow wildcard filters on label"
ie label= .*xy.*z

[2022-05-11 21:26] alexec commented on #7279
To fix this, change the default here:

https://github.com/argoproj/argo-workflows/blob/1159afc3c082c62f6142fad35ba461250717a8bb/workflow/util/pod_name.go#L37

[2022-05-11 23:36] hadim commented on #8680
Still investigating here. The bug is not tight to any specific node configuration (I thought it was originally). I have been able to reproduce it without any `tolerations`/`nodeSelector` keys. See the latest workflow below:

[code]

[2022-05-12 00:32] hadim commented on #8680
My last hypothesis is that the bug itself is not related to the OOM error. It's simply that whenever the workflow process is being abruptly killed (because of an OOM error or something else), the workflow process (in that case a python script) does not have the time to clean its child processes (or threads) properly. In consequence, the main process is correctly terminated but since there is still

[2022-05-12 00:59] hadim commented on #8680
I think the above hypothesis is confirmed by the following simpler (and faster to run) workflow:

[code]

Here I simply trigger a python error (instead of an OOM error). Before that, I execute a python sub process (`sleep 60s`). What I notice is that argo does not detect the python error before the subprocess terminates (after 60s in that case).

[2022-05-12 03:23] #8589 closed

[2022-05-12 06:46] RmStorm opened #8741 "Argo worklow pods hang due to a bad interaction with Berglas"
## Summary

We are using Argo workflows extensively in our cluster for a large diversity of tasks, occasionally they fail _and hang_ forever. We finally nailed the thing down to a bad interaction between our secret injector ([Berglas](https://github.com/GoogleCloudPlatform/berglas)) and Argo Workflows. The problem is that Berglas relies on a mutating webhook that wraps the process in a pod to reso

[2022-05-12 08:19] steinarvk-kolonial commented on #8741
One way to fix this that avoids special-casing anything for Berglas would be to detect when the emissary doesn't even start up.

For instance, use a file just like the "exitcode" file that's already used for process exit:

- In the emissary command: on startup, create a file /var/run/argo/ctr/${containerName}/emissary-started
- In the wait command: time out after a short time (e.g. 30 seconds) if

[2022-05-12 09:56] roofurmston opened #8742 "Workflow-level exit lifecycle hook ignores expression"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

**Expected Behaviour:**
I have a workflow with a workflow-level exit lifecycle hook. I expect that using `expression` means that the hook only runs when the expression evaluates to `true`.

**Actual Behaviour:**

The

[2022-05-12 12:09] journey-wang opened #8743 "DAG error"
What happened/what you expected to happen?

unable to evaluate expression '(0e62948f_e887_4daf_b5cb_10c1e74a61ea.Succeeded || 0e62948f_e887_4daf_b5cb_10c1e74a61ea.Skipped || 0e62948f_e887_4daf_b5cb_10c1e74a61ea.Daemoned)': bad number syntax: "0e62948f" (1:10)
 | (0e62948f_e887_4daf_b5cb_10c1e74a61ea.Succeeded || 0e62948f_e887_4daf_b5cb_10c1e74a61ea.Skipped || 0e62948f_e887_4daf_b5cb_10c1e74a61ea.D

[2022-05-12 12:33] clementlecorre commented on #6049
I have a same issue in `v3.2.7`

[2022-05-12 13:10] maxott opened #8745 "Sidecard does not seem to receive kill signal after main container finishes (exit code 126)"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

I installed Argo using the 'getting started with postgres' template on my local minikube installation. I then submitted a workflow which contains a sidecar (in the argo workflow def). When the 'main' task finishes, th

[2022-05-12 14:48] maven2016 opened #8746 "GCS artifact repository archiveLogs error"
## Checklist

* [ x] Double-checked my configuration.
* [ x] Tested using the latest version.
* [ x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
Used this for reference:
https://argoproj.github.io/argo-workflows/configure-artifact-repository/#configure-the-default-artifact-repository

My configuration: (I've tried with and without keyFormat)

[code]

Workflo

[2022-05-12 15:17] alexec commented on #8746
This is caused by this block of code:

https://github.com/argoproj/argo-workflows/blob/1f2417e30937399e96fd4dfcd3fcc2ed7333291a/server/artifacts/artifact_server.go#L154

Rather than error at this point, we should instead ignore the error.

Would you like to submit a PR to fix?

[2022-05-12 16:24] sarabala1979 commented on #4561
@adeniyistephen are you working on this issue?

[2022-05-12 16:36] sarabala1979 commented on #8743
We are not supporting v2.12..x Please upgrade to 3.2.x

[2022-05-12 16:36] #8743 closed, assigned to nobody

[2022-05-12 17:19] juliev0 commented on #8612
@sarabala1979 can you assign to me?

[2022-05-12 19:35] tiwarisanjay commented on #7624
@alexec  Is there any documentation to use dex without argocd. Just for argo workflow for your github. Most important part is config.yaml which is missing in above repo. Could you please help us with the example ?

[2022-05-12 19:41] alexrosenfeld10 commented on #5942
@alexec would this same issue also cause problems with using `podSpecPatch` as well?

[2022-05-12 19:42] terrytangyuan commented on #7366
@simster7 Any update on this? Looks like more and more people are having this issue.

[2022-05-12 19:44] alexec commented on #7624
No. You can look at this repo thought

https://github.com/argoproj/argoproj-deployments

[2022-05-12 20:58] adeniyistephen commented on #4561
Not yet, I haven't started yet... I have been quite busy, I would take on it soonish, but if someone wants to jump on it. Please feel free.

[2022-05-12 21:35] tiwarisanjay commented on #7624
@alexec  Just to update Microsoft connector for OIDC does not work directly with argo workflow. I believe only keycloak and okta work for the same. Any future plan for the support ?

[2022-05-13 02:09] delwaterman opened #8749 "Daemon failures need to be more noisy"
# Summary

When a workflow contains a daemon task that stops (error/wrong command), Argo no longer interpolates template variables `{{steps.my-task.ip}}`. While this makes logical sense to not supply an IP Address that does not exist, it does not bubble up the root cause that the daemon is not running.

I would propose instead of not interpolating the variable, argo instead interpolates with the s

[2022-05-13 05:38] tczhao commented on #8645
I wonder how robust do you want this feature to be?
We can implement quick checks for javascript prefix/protocol.
But for fully xss url prevention, it seems to be much more complicate
https://github.com/mganss/HtmlSanitizer

[2022-05-13 10:40] #8534 closed

[2022-05-13 12:53] gpanagiotidis commented on #8746
I have the exact same problem with S3 for quite a while now. Thanks for opening this.

[2022-05-13 13:43] jaimeamesti opened #8751 "I would like a mentor"
**Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).**

Answer: **Yes I have read the mentoring guide.**

**What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?**

Answer: **I have previous experience in Kubernetes and Typescript.**

**Is there any pa

[2022-05-13 14:20] alexrosenfeld10 opened #8752 "Slack link is broken"
This link: https://slack.cncf.io/ found from https://argoproj.github.io/community/join-slack/ is broken.  I have burning questions but no place to ask them ☹️

[2022-05-13 14:33] terrytangyuan commented on #8752
It's working for me. Try again?

[2022-05-13 14:46] alexrosenfeld10 commented on #8752
How strange. It fails for me in a regular browser, but works in incognito.
![Uploading Screen Shot 2022-05-13 at 10.46.11 AM.png…]()

[2022-05-13 14:49] alexrosenfeld10 commented on #8752
I guess we can close this seems like it's just a me issue

[2022-05-13 14:49] #8752 closed

[2022-05-13 15:04] terrytangyuan commented on #8751
Please let us know if you are having issues setting up your dev environment. Please also pick an issue to work on once it's set up successfully.

[2022-05-13 15:28] alexec commented on #8645
It only needs to block JavaScript. Whatever does that.

[2022-05-13 15:56] alexrosenfeld10 opened #8754 "PodSpecPatch cannot patch `env` variables"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

PodSpecPatch should work for env vars. I want all my pods to be configured the same way, but this doesn't work so I have to resort to copying the `env` block into each template.

What version are you running?

## Diag

[2022-05-13 16:45] sarabala1979 commented on #8754
@alexrosenfeld10 you can use the above definition without `podSpecPatch`. Can you provide more information on what you are trying to do?

[2022-05-13 17:22] jaimeamesti commented on #8751
I'm having issues setting up my dev environment.

I've added new code, some unit tests and I'm executing the tests without problems but I'm not able to run my changes on my local machine because I've never used vs develop containers.

My dev machine is a virtual machine with Windows server 2019, vs code and docker desktop.

Could you send me some documentation about how to debug changes in local e

[2022-05-13 17:41] alexrosenfeld10 commented on #8754
Thanks for the quick reply @sarabala1979 . What I'm trying to do here is define a `WorkflowTemplate` in a common way such that I can instantiate it as a step in a DAG, and trust that every pod in the worfklow template is configured the same way. Ideally I'd use `workflow` level params, but that's not working for me either (see https://github.com/argoproj/argo-workflows/discussions/8753 for some co

[2022-05-13 17:43] alexrosenfeld10 commented on #8754
You can see there that I have duplication in two places:
1. having to configure the env for each template, instead of at the top level as a patch
2. having to pass inputs from task to task and template to template, instead of being able to use workflow level parameters (again, see https://github.com/argoproj/argo-workflows/discussions/8753)

Neither of these are ideal, and overall it just feels a

[2022-05-13 17:44] alexec commented on #8754
The spec looks invalid to me. WorkflowSpec does not have a PodSpecPatch field.

[2022-05-13 17:48] alexrosenfeld10 commented on #8754
@alexec It shows up in my ide using the json schema for workflows. Perhaps there's a bug ij the schema then?

Regardless of that, if this is the case how do you recommend I go about structuring these workflow templates?

[2022-05-13 17:51] alexec commented on #8754
Is this just env vars, or other fields too?

[2022-05-13 17:54] alexrosenfeld10 commented on #8754
I'm just trying to configure things so all my pods in the workflow get the same env vars, both from config maps and secrets, without having to copy the env section into every template (there are many, omitted here for brevity)

[2022-05-13 17:58] alexec commented on #8754
Let me re-phase. I'm trying to understand if this is a bug with `podSpecPatch`, or just with env vars in `podSpecPatch`.

[2022-05-13 17:59] alexrosenfeld10 commented on #8754
Ah, gotcha. I have not tested other fields.

[2022-05-13 18:01] #7540 closed

[2022-05-13 18:05] alexrosenfeld10 commented on #8754
I am wondering if this is an issue with the way I'm using `WorkflowTemplate`s, because I have a similar problem getting this to stick as well:

[code]

I'm using a `WorkflowTemplate`, but I instantiate it from a DAG so I actually just reference the `template` directly, using a `templateRef` instead of a `workflowTemplateRef`. Could that be the problem?

[2022-05-13 18:05] alexrosenfeld10 commented on #8754
Here is some version info if it helps, @alexec

[code]

[2022-05-13 18:07] alexec commented on #8754
Is that the CLI version? v2.3 is many years out of date. Time to upgrade?

What about the controller version? Have you tried v3.3 or latest?

[2022-05-13 18:20] alexec opened #8756 "Cannot run `yarn start`"
[code]

Fix is to add this somewhere:

[code]

[2022-05-13 18:21] alexec opened #8757 "CI build on master appears to be broken"
Master builds:

https://github.com/argoproj/argo-workflows/actions/workflows/ci-build.yaml?query=branch%3Amaster

[code]

[2022-05-13 18:23] alexrosenfeld10 commented on #8754
@alexec apologies that's our argo cd versioning. Workflows we're running `executor-image=quay.io/argoproj/argoexec:v3.3.5`

[2022-05-13 18:25] terrytangyuan commented on #8757
https://github.com/argoproj/argo-workflows/pull/8744#issuecomment-1126274011

[2022-05-13 19:15] alexec commented on #8680
[code]

[2022-05-13 19:34] alexec commented on #8680
[code]

[code]

[2022-05-13 19:49] hadim commented on #8680
It was so fast that I couldn't show it during the call but by observing `htop`, this is also what I observed with all the examples (OOM or the simpler one with `sleep 60s`).

[2022-05-13 19:53] alexec opened #8759 "`make start` is too verbose"
Because:

* `LOG_LEVEL=debug` in `Makefile` when it could be `LOG_LEVEL=info`
* `LEADER_ELECTION_IDENTITY=local` in `Procfile` when it could be `LEADER_ELECTION_DISABLE=true`

[2022-05-13 20:23] #8757 closed

[2022-05-13 20:25] jmccormick2001 opened #8760 "surface RBAC permissions errors to UI"
# Summary

the UI would show any RBAC errors to the UI user so that its easier to debug mis-configured
RBAC , currently the View Logs page is just blank which leads to the UI user having to debug what
is wrong.

# Use Cases

This would be for the UI experience.  Currently when you have a mis-configured RBAC or use a TOKEN that doesn't have the correct privs, you essentially get a blank screen.  Yo

[2022-05-13 20:33] dpadhiar opened #8762 "Deprecate PodPriority in WorkflowSpec"
`PodPriority` should be deprecated from workflow spec since Kubernetes uses `PodPriorityClass` to indicate the importance and priority of a pod relative to others.

https://kubernetes.io/docs/concepts/scheduling-eviction/pod-priority-preemption/

https://github.com/argoproj/argo-workflows/blob/178bbbc31c594f9ded4b8a66b0beecbb16cfa949/pkg/apis/workflow/v1alpha1/workflow_types.go#L351-L352

[2022-05-14 15:33] yavulan commented on #8654
@terrytangyuan I'm using Omitted with dag, and sensor bumps into this error https://github.com/argoproj/argo-workflows/blob/master/workflow/common/ancestry.go#L102

[2022-05-14 17:05] terrytangyuan commented on #8654
Thank you! I am fixing this in https://github.com/argoproj/argo-workflows/pull/8776.

[2022-05-15 05:28] berlinsaint opened #8777 "Argo WorkflowTemplate Now has a limit about integer parameters?"
## workflow

Now i have a workflow like:

[code]

## Summary

The problem is the  `minAvalible` field and `replicas` field. (or  other int field is  the same), here i 'm using sprig function to caluclate. however , we can't submit this  workflowtemplate because of validation problems. so we need change  add  double quotes. to became  `"{{= sprig.int(inputs.parameters.workers) + sprig.int(inputs.pa

[2022-05-15 06:47] mm-fsai commented on #8409
Hi, @alexec I have a step where 200 pods come up and download about 20GB's of data each.

A majority of the pods return a success. When I look at the logs, I can tell that the jobs are complete.

Upon completion, the 20GB's is uploaded from each of the 200 pods to S3 (using argos s3 upload)

And then all of a sudden , over 70 pods randomly fail and all that I get back is "pod deleted".

Is this a

[2022-05-15 12:09] lubegaroo opened #8780 "Workflow Parameters in Cache Name Breaks Memoization"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

Using a workflow parameters in other workflow parameters is possible like so:
[code]

but string interpolation fails if the resulting variable is used in the cache name. The following workflow fails with the error mes

[2022-05-15 12:17] lubegaroo commented on #8780
Similar error if I use the parameterized variable in `cacheKey`:

[code]

[code]

[2022-05-15 14:53] terrytangyuan commented on #8780
You have a typo: work.parameters.cache-name should be workflow.parameters.cache-name.

[2022-05-15 21:24] juliev0 commented on #7279
Thanks for thinking of the possibility of pods having V1 names during the upgrade. I think this will in fact create additional challenges if the code is looking for pods with the V2 name but they don't have that name. I've noticed some of the code is looking for the Workflow annotation _workflows.argoproj.io/pod-name-format_ which indicates V1 or V2, which can override the environment variable set

[2022-05-15 23:47] terrytangyuan commented on #8751
Unfortunately I don’t have much experience with Windows. Perhaps you could try the new dev container setup https://github.com/argoproj/argo-workflows/pull/8677.

[2022-05-16 02:31] hzliangbin commented on #8702
@alexec hi, I noticed that there is filed named `signal` in workflow, but signalContainer is still referenced. would you mind giving me some help docs ? thx

[2022-05-16 03:06] jianjiangant commented on #8777
try !!int "{{= sprig.int(inputs.parameters.workers) + sprig.int(inputs.parameters.masters)}}"

[2022-05-16 05:38] jaimeamesti commented on #8751
Ok. I will try it. I will let you know my advances. Thanks @terrytangyuan

[2022-05-16 11:50] berlinsaint commented on #8777
in workflow templates  or cluster workflow template , it doesn't work.

[2022-05-16 12:21] jinnjwu commented on #6635
we hit same issue,  issue is happening in argoexec image,
our solution:
`
FROM argoproje/argoexec:v3.3.4
COPY CA.cer /user/local/share/ca-certificates/ca.crt
RUN update-ca-certificates
`

[2022-05-16 12:28] berlinsaint opened #8781 "v3.3.5 's web can't be access by using nodePort"
v3.3.5 version argo 's web can't be accessed by using nodePort

[code]

very slow  and  finally..
![image](https://user-images.githubusercontent.com/10629930/168592414-fe547366-9212-4a2a-aa0d-b897e6751534.png)

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-05-16 14:25] alexec opened #8783 "Use finalizer to prevent `pod deleted`"
Like Spark does, we can add a finalizer to workflow pods. This will stop them being deleted by eviction etc and allow to controller to reconcille the without getting a "pod deleted" error.

## Implementation

Add a finalizer here named `workflow.argoproj.io`:

https://github.com/argoproj/argo-workflows/blob/37a3eb375410dd778d44f9965d9ec4465f1011d9/workflow/controller/workflowpod.go#L159

This need

[2022-05-16 15:14] LightnessOfBeing opened #8784 "Memoization behaves inconsistently"
## Checklist

* [✓] Double-checked my configuration.
* [ ] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

We have run an example workflow [memoize-simle.yaml](https://github.com/argoproj/argo-workflows/blob/master/examples/memoize-simple.yaml) using `microk8s`, that uses the memoization, multiple times subsequently with `

[2022-05-16 15:41] jstarman commented on #2683
Update: the [windows .exe](https://github.com/argoproj/argo-workflows/releases/latest) is now packaged in a .gz and will need to be extracted via [7-zip](https://www.7-zip.org/) or similar. Then follow above.

[2022-05-16 17:01] terrytangyuan commented on #8784
The original cache might have been outdated as you set maxAge to 10s. Try increasing it.

[2022-05-16 17:34] alexrosenfeld10 commented on #8754
@alexec btw I spent my morning today restructuring my jobs to instantiate the workflow template using a `workflowTemplateRef` in a "workflow-of-workflows" type of structure. It still doesn't result in the env vars being set on all pods.

[2022-05-16 18:14] #8784 closed

[2022-05-17 12:06] alexec opened #8785 "Workflow template concurrency"
# Summary

An option to cancel in progress workflows when another workflow template is invoked concurrently.

# Use Cases

So that we don’t have two instances of a workflow template running at the same time.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-05-17 12:18] alexec opened #8786 "Job template"
# Summary

Workflows is used by some as a CI solution. Yet it is really needs a new template type to be comparable to GitHub Actions.

The template type could be called “job”. A job runs a series of steps. Each step runs a command (including a shell script) and the job fails if the command fails. Steps execute in sequence. The job fails if any step fails. Steps execute conditionally, usually only

[2022-05-17 13:41] 9a8t9m8 commented on #8781
On my side also ClusterIP + manual port forward didn't change a thing and Argo behaved as described above.

**Quickfix that worked for me**
Download the manifest, e.g. quick start https://raw.githubusercontent.com/argoproj/argo-workflows/master/manifests/quick-start-postgres.yaml. Then replace image tag: quay.io/argoproj/argocli:latest with prior version, e.g. quay.io/argoproj/argocli:v3.2.11.

[2022-05-17 18:54] juliev0 commented on #7279
Hi @JPZ13 I'm wondering if you can help me understand the code. Why do we use the environment variable rather than the Workflow annotation in [wfOperationCtx.getPodName](https://github.com/argoproj/argo-workflows/blame/master/workflow/controller/operator.go#L3638)()?

I am thinking that if we're looking for existing pods we should use the annotation on the Workflow as opposed to the environment va

[2022-05-17 23:47] dpadhiar opened #8789 "Add max template size environment variable"
Currently, the max workflow template size is hardcoded and not configurable. We should introduce the `MAX_TEMPLATE_SIZE` environment variable so this may be changed since it is possible for a template to be below 128KB and be well over after unmarshaling the entire workflow spec. If the variable is not set, the max size should default to 128KB.

https://github.com/argoproj/argo-workflows/blob/39fb

[2022-05-18 01:43] kianpu34593 commented on #8781
I manually changed the version of argocli to an older one in the quick-start-postgres.yaml.
quay.io/argoproj/argocli:latest -> quay.io/argoproj/argocli:v3.2.11

But when I tried to launch it, argo-server will CrashLoopBackOff
[code]

I also tried to use an older commit SHA#eefc60b. But it also results in CrashLoopBackOff state.

[2022-05-18 02:26] kianpu34593 commented on #8781
To follow up, I didn't know that I have to wait for DB and scheduler to be ready. So after waiting for a while. I can access the UI using manual port-forward.

[2022-05-18 08:40] MagicFrogSJTU opened #8790 "duplicative env var `ARGO_TEMPLATE` result in etcd size 1MB limit"
## Summary
I am running a containerSet with lots of steps. And I have large parameter input for the step.
Because there is an env variable called ARGO_TEMPLATE each container, the overall pod description is too large to fit in etcd, exceeding the 1MB limit.
(10 + init + wait) = 12 containers
12 * 100k = 1200k > 1MB
What is the usage of ARGO_TEMPLATE? Can we delete it?

I am using the v3.1.10

---

[2022-05-18 10:16] JPZ13 commented on #7279
Hi @juliev0 - sorry for the tardy response. At Kubecon right now with quite a busy schedule

The environment variable is used to determine what annotation we should set for newly generated workflows. For workflows that have already been created, we refer to the annotation to determine how exactly to handle the pod names. This allows for reverse compatibility when upgrading from v1 pod names to v2

[2022-05-18 10:58] kollurukailash commented on #1784
I was also facing the same problem. Is there any solution that anyone can provide ? @candonov @barambani

[2022-05-18 13:15] alexec commented on #8790
No.

However, we could replace it with just the information needed by the emissary. The emissary only needs to know which containers it must wait on. It does not need the whole template.

[2022-05-18 13:19] alexec commented on #8781
I'm not sure I understand this bug. Please can you include any errors from the web console and log files.

[2022-05-18 15:28] dpadhiar commented on #8789
I can a submit a quick PR today removing it then.

[2022-05-18 16:58] sandeepitachi commented on #8734
I was facing a similar issue when I tried to a label using payload emailAddress

`
arguments:
    parameters:
       - name: submitted-by
         valueFrom:
           event: payload.actor.emailAddress
`

Tried to add the param to the labels
`
workflowMetadata:
    labels:
      submitted_by: "{{workflow.parameters.submitted-by}}"
`

Workflow is not getting submitted with the above labels and the

[2022-05-18 18:24] JPZ13 commented on #7279
@juliev0 Any time! I think the comment at [wfOperationCtx.getPodName](https://github.com/argoproj/argo-workflows/blame/master/workflow/controller/operator.go#L3638) is actually wrong. We don't get the version from the environment variable in that function. We actually get it from the workflow itself. `wfOperationCtx.getPodName` invokes [wfutil.GetPodNameVersion()](https://github.com/argoproj/argo-

[2022-05-18 18:48] juliev0 commented on #8781
I believe I narrowed it down to this commit: 026298671

[2022-05-18 19:36] juliev0 commented on #7279
@JPZ13 getPodName() is actually calling wfutil.GetPodNameVersion(), not wfutil.GetWorkflowPodNameVersion(), the former of which uses the environment variable and the latter of which uses the annotation - no?

[2022-05-18 21:31] JPZ13 commented on #7279
@JPZ13 - yeah you're right. My apologies for the confusion. That should probably be changed

[2022-05-18 23:06] krancour opened #8797 "use internal exponential backoff to avoid flapping on DB startup"
Walking through the quickstart, I notice that both the argo-server and workflow controller "flap" while waiting for postgres to become available. On average (on my machine, at least), both components restart 3 times before coming up clean. This is by no means an out of the ordinary thing for k8s apps, however, if either of those components get too far into a crashloop backoff, the overall effect c

[2022-05-19 00:03] krancour opened #8798 "doc bug? port forwarding for UI consistently fails"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

Walking through the quickstart, I am finding that the port forwarding command for the UI (`kubectl -n argo port-forward deployment/argo-server 2746:2746`) fails consistently.

It starts at first, but as soon as an att

[2022-05-19 00:13] krancour commented on #8798
Nevermind. This seems to be because I mistakenly attempted to access http://localhost:2746 instead of https://localhost:2746.

Now I, at least get a cert warning, but the UI still doesn't come up. I think that might be related to https://github.com/argoproj/argo-workflows/issues/8781, so I'm closing this.

[2022-05-19 00:13] #8798 closed

[2022-05-19 00:16] krancour opened #8799 "log version information in startup message"
# Summary

Hopefully it's not staring me in the face and I'm just missing it, but I don't see any version information of any kind in the startup messages from components like argo-server and workflow-controller.

# Use Cases

This would be extremely valuable information for community members who are submitting bug reports.

---

**Message from the maintainers**:

Love this enhancement proposal? Gi

[2022-05-19 00:29] krancour opened #8800 "training module bug? cannot access ui"
## Checklist

* [ ] Double-checked my configuration.
* [ ] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

My apologies in advance if this isn't the correct repo to open this issue in...

Stepping through the ["Getting Started" scenario on KataCoda](https://www.katacoda.com/argoproj/courses/argo-workflows/getting-started), the "Argo Server" tab doesn't work, even af

[2022-05-19 01:58] zhuyaguang commented on #8800
please wait mins

[2022-05-19 03:49] WorldWay opened #8801 "Step will be skipped sometime with the same workflow-template."
## Checklist

* [x] Double-checked my configuration.
* [ ] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

  When I run my workflow to clone from git, the step would be skipped sometime but there is no action about stopping or terminating the workflow.

![image](https://user-images.githubusercontent.com/24239063/169199959-

[2022-05-19 05:01] juliev0 commented on #8756
I'm completely new to React so don't fully know what I'm doing here, but is this what you had in mind?

[2022-05-19 06:20] #8756 closed

[2022-05-19 07:30] JoKuebler opened #8803 "Increase width of namespace filter textfield"
# Summary

Increasing the width of the namespace filter textfield and the included dropdown across the UI. With the space available to the left of the textfield it would be a nice enhancement for everyone relying on rather long names.

# Use Cases

We deploy many preview environments to seperate namespaces for various repositories and components so naming them in an unique way is critical for us.

[2022-05-19 08:42] roofurmston commented on #7279
Hi,

I'm not sure if this is the correct place to raise this point. Happy to open a separate issue, if it is more appropriate.

However, we tried to rollout POD_NAMES v2 on our install last week (v3.3.2) and found that it resulted in the UI not being able to retrieve the log archives from our S3 buckets. So the logs were still archived to S3 correctly and under the new pod names, but when we tried

[2022-05-19 08:47] MagicFrogSJTU commented on #8790
That would be nice. Look forward to the coming improve!

[2022-05-19 09:18] alexec opened #8805 "Get "https://index.docker.io/v2/": x509: certificate signed by unknown authority"
I *think* we need to copy ca-certificates onto the workflow-controller image.

See #6635

[code]

Using `scratch` causes many small issue like this. Maybe we should use distroless instead?

https://github.com/GoogleContainerTools/distroless/blob/main/base/README.md

[2022-05-19 12:00] gaurav5430 opened #8807 "Accessibility improvements on the UI"
# Summary

The UI is lacks accessibility considerations for a lot of UI controls.
- no proper focus states
- keyboard navigation does not work as expected
- color contrast issues

# Use Cases
- This is required for day to day working

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-05-19 12:38] #8781 closed

[2022-05-19 12:38] #8800 closed

[2022-05-19 12:45] swafa commented on #5665
@sarabala1979 Are there any plans to support nesting WorkflowTemplates or any suggestions how we can achieve a similar effect? We are otherwise forced to copy-paste many WorkflowTemplates that are mostly identical. It would be a very nice feature if we can use **workflowTemplateRef** inside the **WorkflowTemplate** just like from inside the **Workflow**.

[2022-05-19 13:17] #8805 closed

[2022-05-19 14:17] WorldWay commented on #8801
is there anyone can help ?

[2022-05-19 16:48] AmineAServier opened #8809 "Output parameter not recognized in metric label in template step"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

Hi there, i hope you are doing good.
When applying this wf : https://github.com/argoproj/argo-workflows/blob/master/examples/custom-metrics.yaml
I've noticed that it's not working cause argo is not able to recognize the output in its metrics block. Do you have

[2022-05-19 17:56] TheSwarnim commented on #8759
Hi @alexec, I want to work on this issue. I'm new here, so just want to confirm that I just have to change `debug` to `info` in `LOG_LEVEL` and the same with `LEADER_ELECTION_IDENTITY`

[2022-05-19 18:23] juliev0 commented on #7279
@roofurmston that would be great if you could open an issue. Thanks for pointing it out. It sounds like we should block this PR from being merged until that one is resolved, so I'll put the PR back in "draft" I guess.

[2022-05-19 20:46] sandeepitachi commented on #8734
@tooptoop4 Hey found an easy way - use below sprig function
[code]

``

[2022-05-19 21:48] juliev0 commented on #7279
@roofurmston I wasn't able to reproduce your issue - tried with v3.3.2. What did your install yaml file look like by chance? Did you add POD_NAMES as an environment variable to both the argo server and workflow controller?

I am running with minio but I don't think the result should be different. I used the UI to click on my pod, select "Inputs/Outputs", and then select the log file. Is this what

[2022-05-20 01:19] tooptoop4 commented on #8734
@sandeepitachi doesn't help because @ is part of the function syntax I need

[2022-05-20 01:33] sandeepitachi commented on #8734
@tooptoop4 how are you submitting the wf ? Using workfloweventbinding and passing your payload from there as an argument ? To use it as a parameter - then use it as workflow label ?

[2022-05-20 01:57] tooptoop4 commented on #8734
@sandeepitachi argo-events has SQS eventsource so the SQS message payload is being sent as input to the workflow. I want to set label from a specific tag within the message (ie https://github.com/LeidosLabs/holeshot/blob/b3aa04a84059e3a4c07d42ff9a46cc37f443eb3d/ingest-service/src/test/resources/sample-notification.json#L1-L12) right now I'm thinking I might have to hack a regex

[2022-05-20 02:03] sandeepitachi commented on #8734
Ahh ok! I'm using workfloweventbinding -so if I need something specific field - I'm doing something like
`- name: param1
    ValueFrom:
       event: payload.Message.Records[0].s3.object.key`

Now the above value would be extracted from JSON payload and now you could use it while submitting the wf in the workflowMetadata label.

[2022-05-20 02:16] sandeepitachi commented on #8734
@tooptoop4 found some thing like is below! If you succeed in getting it a argument! Then can pass it as workflowMetada label! Hope it works 😊

https://github.com/argoproj/argo-events/blob/master/docs/tutorials/02-parameterization.md#sprig-templates

[2022-05-20 03:14] tooptoop4 commented on #8734
issue is its not all plain json, some levels of nested tags are 'stringified' but outer tags are not

[2022-05-20 05:31] jackliusr opened #8812 "argo-darwin-arm64 is not in release assets"
## Checklist

* [ ] Double-checked my configuration.
* [ ] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
argo-darwin-arm64 is not in release assets.

What version are you running?

## Diagnostics

Paste the smallest workflow that reproduces the bug. We must be able to run the workflow.

[code]

[code]

---

**Message from

[2022-05-20 08:09] roofurmston commented on #7279
@juliev0 Ah, ok. It might be an issue on our side then.

So our kustomize install looks something like the following:

[code]

As you can see, we only added the env var to the workflow controller and not the server. Adding it to both makes complete sense now.

Let me try it and see if it solves our issue.

For reference, when on the log page for a particular step we were using the button at the bo

[2022-05-20 08:29] roofurmston commented on #7279
OK, so adding the env var to the server too does resolve the issue.

Sorry for the confusion.

[2022-05-20 10:01] yavulan commented on #7920
![argo-workflows](https://user-images.githubusercontent.com/7360866/169504314-1d457e35-e59f-418b-be36-edda30d17cd7.png)

When you hover on time, the timestamp is shown.
In my opinion, this change might degrade UX.

[2022-05-20 10:07] roofurmston commented on #8780
I don't believe the second example has a typo in it, right? This seems like a valid example of the issue to me.

[2022-05-20 15:08] terrytangyuan commented on #8812
@alexec @sarabala1979 Looks like we need to update the Makefile in the release 3.3 branch to include darwin-arm64. It's available in master branch but not the release branch. https://github.com/argoproj/argo-workflows/blob/release-3.3/Makefile#L170

[2022-05-20 15:34] makzzz1986 commented on #5464
It is quite important for us, I hope this ticket won't be closed. Our issue is that we need to update the image tag during CI. The `latest` tag is not the proper sometimes. I think we are going to use `kubectl` for now, but it is quite awkward, like: `kubectl patch workflowtemplates test-template --type "json" -p '[{"op": "replace", "path": "/spec/arguments/parameters/0/value", "value": "myimage:1

[2022-05-20 16:41] juliev0 commented on #7279
@roofurmston Thanks for verifying right away.

I just moved the [PR](https://github.com/argoproj/argo-workflows/pull/8748) back to ready. @JPZ13 are you available to look at it?

[2022-05-20 21:31] xubofei1983 opened #8814 ""artifact not found" on UI when try to retrieve logs for pod log on s3."
## Checklist

* [ *] Double-checked my configuration.
* [ *] Tested using the latest version.
* [ *] Used the Emissary executor.

## Summary

Try to see pod log from argo UI (the workflow finished, and node deleted)

UI shows "artifact not found"

Inspect shows

http://argo.bravo.kariusdx.com/artifacts/workflow/import-readset-testkk2g8/import-readset-testkk2g8-3242695070/import-readset-logs
500 In

[2022-05-21 07:29] alexec commented on #5464
Anyone in the community is welcome to submit a PR to add this feature.

[2022-05-21 07:31] alexec commented on #8812
Not a bug. #8450 is not in v3.3

[2022-05-21 07:31] #8812 closed

[2022-05-21 13:58] panakour commented on #5506
any update on this?

[2022-05-21 23:12] terrytangyuan commented on #8799
You can check the image version specified in each of the deployments.

[2022-05-22 01:26] krancour commented on #8799
Sometimes. Running through the quickstart, I see latest...

[2022-05-23 05:08] TheSwarnim commented on #8713
I want to work on this issue. I've some experience using k8s previously and would like to work on this project. Can anyone assign this issue to me?

[2022-05-23 14:22] terrytangyuan commented on #8713
Assigned to you.

[2022-05-23 15:19] saitoy1 commented on #4508
keepalive

[2022-05-23 15:51] RoryDoherty opened #8827 "Error when trying to pass Env Vars as a parameter to a template: `cannot unmarshal object into Go struct`"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
Tried to pass a parameter as a json/list of env vars but get the following error when submitting the workflow:
[code]
I have tried various assortments of quotes, yaml continuation using | and >

According to this threa

[2022-05-23 16:50] sandeepitachi commented on #8529
Hi @alexec - when can we expect the changes made in #8586 to get merged. Thanks 😄

[2022-05-23 20:27] gg314 commented on #8224
This might be a long shot, but @aaaaahaaaaa and @rocketspacer, could you try using `workflow.parameters['message']` instead of `workflow.parameters.message`?

[2022-05-23 20:32] aaaaahaaaaa commented on #8224
Already tried. Same outcome.

[2022-05-23 20:34] gg314 commented on #8224
That's a shame. I thought I was having the same problem but switching to this syntax fixed it. There is definitely something strange about the parser...

[2022-05-24 00:22] sandeepitachi commented on #8827
@RoryDoherty  Try this
`script:
        image: ubuntu:18.04
        command:
          - bash
        workingDir: /src
        env:
          - name: a
            value: '{{inputs.parameters.vars}}'
        source: |
          echo $a`

[2022-05-24 00:35] sandeepitachi opened #8829 "failed to check if secret argo-workflows-agent-ca-certificates exists: secrets "argo-workflows-agent-ca-certificates" is forbidden: User "system:serviceaccount:argo:argo" cannot get resource "secrets" in API group "" in the namespace "argo-sample""
When tried to run HTTP hello world template, workflow is not running and throws below error
`failed to check if secret argo-workflows-agent-ca-certificates exists: secrets "argo-workflows-agent-ca-certificates" is forbidden: User "system:serviceaccount:argo:argo" cannot get resource "secrets" in API group "" in the namespace "argo-cpe"`

To run HTTP templates - created new executor clusterrole wit

[2022-05-24 01:50] #8829 closed

[2022-05-24 02:19] JessieTeng89 opened #8830 "Have errors for swagger.json when opening with https://editor.swagger.io"
I found there are some errors when opening swagger.json with https://editor.swagger.io like below, I am new to GitHub, can you please help to assign this bug to me?  I want to work on this
![image](https://user-images.githubusercontent.com/101035990/169935003-5c576541-4cf4-437c-9336-c59482192a2a.png)
Structural error at paths./artifact-files/{namespace}/{idDiscriminator}/{id}/{nodeId}/{artifactDis

[2022-05-24 02:21] JessieTeng89 commented on #8830
Hi, I am new to Github.
Could you please assign it to me? I will try to fix it, this will be my first pr
Thanks

[2022-05-24 04:15] juliev0 commented on #8612
@alexec Why do we need WorkflowSpec.ArtifactGC if we have Artifact.ArtifactGC?

I'm not sure what the assumption is if only the former is defined, or if only the latter is defined.

[2022-05-24 07:56] RoryDoherty commented on #8827
I can work around this for now using the following:

[code]

But it would definitely be good if we could set environment variables from the task and not just in the template

[2022-05-24 08:05] mewa commented on #8752
It doesn't seem to work for me either (both PC and mobile, tried different browsers).

[2022-05-24 08:08] mewa opened #8831 "Slack invite link broken"
It seems the slack invite (https://slack.cncf.io) found at https://argoproj.github.io/community/join-slack/ is broken again (#8752). I tried accessing from PC, mobile, also tried different browsers, to no avail.

[2022-05-24 15:31] dpadhiar commented on #8831
I am seeing the same error on incognito both typing in `slack.cncf.io` as well as just clicking on the link. Will investigate further but this may be an issue with the CNCF slack itself.

[2022-05-24 15:51] knkski commented on #4804
I encountered this issue with Argo 3.3.1 while using [Contour](https://projectcontour.io/) with its support for the [Gateway API](https://gateway-api.sigs.k8s.io/). I was unable to figure out how to make it work while using the `HTTPRoute` resource from the Gateway API specification, because it makes configuring timeouts [implementation specific](https://gateway-api.sigs.k8s.io/v1alpha2/references

[2022-05-24 16:56] #1092 closed

[2022-05-24 17:32] alexrosenfeld10 commented on #8754
I spoke with @sarabala1979 in a support chat on this, the suggestion here is instead of using `podSpecPatch` to use `templateDefaults`.

[2022-05-24 17:32] #8754 closed

[2022-05-24 17:36] RoryDoherty opened #8832 "Variables not re-calculated in pod spec patch when re-submitting workflow"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
Ran a workflow which uses `{{workflow.name}}` to upload artifacts to a unique location
Workflow name is stored in an env var in podSpecPatch so that it is available to all pods that are created

I then resubmitted the

[2022-05-24 17:37] alexrosenfeld10 opened #8833 "Child workflows should be visible from the parent workflow in the UI"
# Summary

When I kick off a child workflow using a WorkflowTemplate, like this:

[code]

I should be able to see the child workflow and all that goes on inside of it from the parent level workflow in the UI. Instead, I can only see the status / exit code of the child workflow:

![Screen Shot 2022-05-24 at 1 35 14 PM](https://user-images.githubusercontent.com/12940966/170097858-e56252b3-78a5-4592-

[2022-05-24 18:41] terrytangyuan commented on #8831
It should work now. Usually it takes some time for CNCF to fix it.

[2022-05-24 18:41] #8831 closed

[2022-05-24 18:42] dpadhiar commented on #8831
Thank you Terry!

[2022-05-24 21:01] johnlinp opened #8834 "Per-workflow dependent service"
I have a WorkflowTemplate for data processing. When a Workflow is created from the WorkflowTemplate, I need a corresponding database service to start in order to let my Workflow use it. When the Workflow finish its steps, I want this database service to stop and clean up itself.

I wish this database service to be "per-workflow" style, i.e. starts when the Workflow starts and ends when the Workflo

[2022-05-24 21:40] alexec commented on #8745
@maxott I've created a new version which I hope fixes this issue. please can you use `:dev-kill` for both controller and executor?

[2022-05-24 22:03] cydergoth commented on #4531
Posted this on the related comment but it may also be useful here:

I have this working using Dex AuthProxy but it's a bit of a hack. The problem I have yet to solve is how to use a GCP Service Account identity to call the ArgoCD API, either via the IAP exposed endpoint or directly backend-to-backend from StackStorm to ArgoCD API in the same cluster

[code]

[2022-05-25 00:33] calvinx408 commented on #1571
example:
[code]

[2022-05-25 05:16] juliev0 commented on #8612
@alexec Thanks. Okay, it sounds like the artifact value, if set, can override the spec value.

Another question:
Should we only be using the Finalizer for OnWorkflowDeletion, rather than OnWorkflowCompletion? The [current code](https://github.com/argoproj/argo-workflows/blob/master/workflow/controller/operator.go#L3520) seems to do both. I guess I just associate finalizers with deletion prevention

[2022-05-25 06:11] shirou opened #8836 "Slow archived workflow query on Persistent Storage"
# Summary

We have been running high frequency batch jobs for several months using PostgreSQL (13.2) as Persistent Storage on Argo Workflow v3.2.4.
As a result, retrieving archived jobs from the UI was taking a very long time and we were seeing spikes in DataBase CPU usage when running jobs.

When we examined the slow query, it was the following SQL.

[code]

This SQL execution was taking about 10

[2022-05-25 12:03] vitalyrychkov commented on #7698
This would also help to find all job log messages for a given task name in the cloud logging system.

[2022-05-25 13:03] yu-croco opened #8837 "cannot submit WorkflowTemplate with `{{workflow.labels.xxxx}}` values from v3.3.0"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary
What happened/what you expected to happen?
When I submit WorkflowTemplate with `{{workflow.labels.workflow-name}}` , I get status 500, `templates.argosay: failed to resolve {{workflow.labels.workflow-name}}` though the attribute is set on `.metadata.labels` belo

[2022-05-25 15:31] alexec commented on #8612
Good question, but we do need to add it.

1. It is possible for a workflow to be deleted quickly after completion, meaning there is no time to GC the artifacts. We need to block deletion in that case.
1. It is possible workflow never gets the `workflows.argoproj.io/completed=true` label, e.g. due to some kind of bug. In that case, we need to block deletion until the GC has completed.

[2022-05-25 15:34] #7279 closed

[2022-05-25 16:05] alexec commented on #8833
This is a nice idea, but it is not it works. There is no formal concept of "workflow-of-workflows". It would not be possible to add this feature without a massive redesign.

[2022-05-25 16:05] alexec commented on #8834
You may use a daemon step to do this.

[2022-05-25 16:05] #8834 closed

[2022-05-25 16:10] alexrosenfeld10 commented on #8833
@alexec what about something simple like when a template invokes `resource: action: create` and the `kind` is a `workflow`, we add a label or annotation to it that keeps the identifier of the parent, so the UI has something to connect them together?

[2022-05-25 16:10] alexrosenfeld10 commented on #8833
(disclaimer, I know next-to-nothing about how the innards of argo / argo workflows works. I am a naïve user making a blind suggestion 😄  )

[2022-05-25 16:12] alexec commented on #8832
I'm not sure what the semantics should be for "resubmit" vs "resubmit + memoized" should be. See #2320

"memoized" blurs "resubmit" and "retry".

I thought that resubmit should nil the status and start again, but that's not what the code does:

https://github.com/argoproj/argo-workflows/blob/d8aa46731c74730ccca1a40187109a63a675618b/workflow/util/util.go#L672

I think that loop should only run in `

[2022-05-25 16:13] alexec commented on #8833
I'm not saying it is not possible, just that it is a great deal of work.

[2022-05-25 16:22] alexec opened #8840 "Remove Katacoda links from docs by 15th June"
Katacoda is being shuttered:

https://www.oreilly.com/online-learning/leveraging-katacoda-technology.html

We need to remove it from the docs:

https://github.com/argoproj/argo-workflows/search?q=katacoda

[2022-05-25 18:55] caelan-io commented on #8840
Ah, bummer! That's really annoying. I can take this docs change on and see to it about finding another online course/ tutorial solution.

Do you happen to know of any other online course/ tutorial options off the top of your head?

[2022-05-25 19:25] sandeepitachi commented on #8529
We are affected by this bug I guess! Using HTTP templates with lifecycle hooks to send our CI workflows build status to bitbucket builds. All the hooks are custom.
[code]
We have multiple apps and repos - use only CI workflows pipepine for all. When the wfs take more than 2 minutes - it is affecting and showing the wrong status.
**Expected Result:**
![image](https://user-images.githubusercontent.c

[2022-05-25 20:07] alexec commented on #8529
@sandeepitachi someone needs to take over #8586. Would you like to?

[2022-05-25 20:07] alexec commented on #8840
No, I'm not sure replacing it is worthwhile, and can be dealt with separately.

[2022-05-25 20:51] sarabala1979 opened #8854 "Cherry pick v3.3.6"
- [x] 859ebe99f fix: Terminate, rather than delete, deadlined pods. Fixes #8545 (#8620)
- [x] 70f70209d fix: Handle omitted nodes in DAG enhanced depends logic. Fixes #8654 (#8672)
- [ ] 16fef4e54 fix: enable `ARGO_REMOVE_PVC_PROTECTION_FINALIZER` by default. Fixes #8592 (#8661)
- [x] 64a2b28a5 fix: close http body. Fixes #8622 (#8624)
- [x] c3ae56565 fix: Do not log container not found (#8509)
-

[2022-05-25 20:53] terrytangyuan commented on #8840
An alternative: https://instruqt.com/

[2022-05-25 21:19] jrowinski3d opened #8855 "imagePullSecret not working when defined in ServiceAccount"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

Setting `imagePullSecret` in a Service Account results in private image not being pulled.

## Diagnostics

Create a secret with your private registry key, append that to your SA and set the SA in your workflow

[code]

---

**Message from the maintainers**:

Im

[2022-05-25 21:45] johnlinp commented on #8834
@alexec Thank you! The daemon step looks promising to me.

[2022-05-25 22:02] dpadhiar commented on #8809
I have not been able to reproduce this issue on `release-3.3`.  Could you provide your controller logs as well and if this error is happening consistently or transient?

[2022-05-25 23:52] sandeepitachi commented on #8529
I'd love to but I'm not great at coding. 😄 Also not much familiar with Go.

[2022-05-26 07:57] RoryDoherty commented on #8832
Thanks Alex, was about to tackle this but then I noticed something:
If memoized isn't true would I not return before reaching that loop so that loop is already only run if memoized is true

https://github.com/argoproj/argo-workflows/blob/d8aa46731c74730ccca1a40187109a63a675618b/workflow/util/util.go#L661

Or am I missing something?

[2022-05-26 09:52] ggaaooppeenngg opened #8861 "Support archive (none and zip) in output artifacts."
# Summary

The output archive format is tar.gz

# Use Cases

When zip or none archive are needed.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-05-26 11:42] journey-wang opened #8862 "Argo scheduling policy issue"
## Summary

When running serveral workflows, e.g. A (A1,A2,A3), B(B1,B2,B3), C(C1,C2,C3), each has several nodes. Found that argo running them
like: A1, B1,C1, A2, B2, C2 ...

How to change the running sequence to A1, A2, A3, B1, B2, B3...

version: v2.12.13
---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-05-26 13:08] #8862 closed

[2022-05-26 13:51] jaimeamesti commented on #8751
Hi again
I almost have everything ready with my dev machine.
I want to pick this issue: https://github.com/argoproj/argo-workflows/issues/1540

[2022-05-26 14:05] #8854 closed

[2022-05-26 14:09] sarabala1979 commented on #8855
@jrowinski3d Can you try to create a pod with the above `image`?

[2022-05-26 14:09] terrytangyuan commented on #8751
Sounds good.

[2022-05-26 14:10] terrytangyuan commented on #8751
That may not be a good first issue to work on. Do you want to pick up any other tasks?

[2022-05-26 15:34] alexec commented on #8832
Hmm. You're correct.

[2022-05-26 15:46] sandeepitachi commented on #8529
Thank you @alexec 😄 Will spend some time this weekend for sure! Would like to contribute!

Also spoke to my architect @brgoode too (he's good at go) BUT like you - he's super BUSY working with different teams in our org. If he got some time - he's happy to look at it too

[2022-05-26 16:48] alexec commented on #8680
Hi. I’ve pushed a new version which I hope/expect to fix the issue. Would you test please?

[2022-05-26 17:47] hadim commented on #8680
Using `dev-kill` (versus `v3.3.5`) seems to fix the bug indeed.

I tested with this simple workflow and the controller correctly marks it as failed without waiting for the `sleep` subprocess to finish:

[code]

I also tested with a workflow spawning a never-ending subprocess and also triggering an OOM error in the main process (see above in the thread) and I confirm the controller can detect it, t

[2022-05-26 17:56] juliev0 commented on #8837
@sarabala1979 Can you assign this to me?

[2022-05-26 20:26] alexrosenfeld10 opened #8866 "Container json schema should have `image` be optional"
As per the title, the container json schema should allow `image` to be optional. It's perfectly reasonable to set some `templateDefaults` that look like this:

[code]

and then _omit_ the `image` from each template, to DRY the yaml schema. However, that's not possible because it results in an error:
![Screen Shot 2022-05-26 at 4 26 23 PM](https://user-images.githubusercontent.com/12940966/17057436

[2022-05-26 20:27] alexrosenfeld10 commented on #8866
kind of a bug, kind of an enhancement. Apologies if mis-categorized.

[2022-05-26 21:49] juliev0 commented on #8837
I just tried this using the latest master and couldn't reproduce it. To make sure I did the same thing: I went to "Workflow Templates" on the UI, clicked "Create New Workflow Template", entered the yaml that you showed (except changing the namespace to mine), and clicked "Create". I didn't see an error in the UI or see "finished unary call with code Unknown" in the Workflow Controller log. I suppo

[2022-05-26 22:49] alexec opened #8868 "Remove "30m to talk anything Argo""
Remove from here:

https://github.com/argoproj/argo-workflows/blob/e24ecd6c4b81a169cb1259895f11a5249d164471/.github/ISSUE_TEMPLATE/config.yml#L14

[2022-05-27 00:40] sandeepitachi commented on #8742
@roofurmston  @terrytangyuan The issue is not resolved yet.
When I was trying to setup failed conditions on our cron workflows - tried out exit hook with expression.
Lifecycle hook with name **'exit'** is ignoring the expression

Version running - v3.3.5

[2022-05-27 01:13] yu-croco commented on #8837
@juliev0
Thank you for investigating!

In my report, it happened when I clicked `Submit` button. 🙋
*I can create Workflow Template, but I cannot submit.

<img width="1905" alt="Screen Shot 2022-05-27 at 10 09 17" src="https://user-images.githubusercontent.com/30188755/170608780-66779c2e-4dd1-4e45-a352-7af0a5064ce2.png">

[2022-05-27 02:34] juliev0 commented on #8837
Thanks for clarifying! I'll try that then

[2022-05-27 03:44] cre8ivejp opened #8869 "Bazel test gets killed while using emissary as container runtime executor"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

When the `containerRuntimeExecutor` is set to `emissary`, the Argo controller kills the Bazel tests that take more than one minute. Usually, it fails after 40-45 seconds.

If I set the `containerRuntimeExecutor` to `pns`, it runs without issues.
Also, I tried t

[2022-05-27 04:39] kevgeo commented on #8868
HI @alexec , I would like to take up this issue. Since this is just editing a file within .github folder, we don't have to run any tests after removing the relevant lines right?

[2022-05-27 05:50] sarabala1979 commented on #8868
@kevgeo Please submit the PR

[2022-05-27 06:09] sarabala1979 commented on #8866
Container definition is coming from #/definitions/io.k8s.api.core.v1.Container

[2022-05-27 06:27] sarabala1979 commented on #8869
@cre8ivejp can you try v3.3?

[2022-05-27 06:30] sarabala1979 commented on #8855
@jrowinski3d Argo is eventually creating pod which is erroring `ImagePullBack`. Can you direct create Pod with your image and SA to verify the issue is related to Argo or Kubernetes(EKS)?

[2022-05-27 08:47] cre8ivejp commented on #8869
@sarabala1979, thank you for your reply.

I tried to upgrade it to 3.3 as you suggested, but the workflow is not being created. When I tried to access the YAML on the console, I got this`Cannot read properties of undefined (reading 'workflows.argoproj.io/creator')` error.

![Screen Shot 2022-05-27 at 17 41 40](https://user-images.githubusercontent.com/2486691/170664271-8439a461-540f-44dd-903a-8c52

[2022-05-27 13:01] RoryDoherty commented on #8832
I'm not using memoized anywhere in the workflow that I submit, The demo workflow above also doesn't use it

I was just clicking resubmit from the Web UI, do you know if it defaults to memoized?

[2022-05-27 13:48] sarabala1979 commented on #8869
@cre8ivejp are you using  `install.yaml`  for upgrading? looks like  `workflowtaskresults`  CRD and RBAC is missing.

[2022-05-27 16:26] disenchant commented on #8653
@alexec true and I might be mistaken here but IMHO a job should only trigger if **all** fields of the cron expression are met. Else it could be argued that e.g. [`0 6 * * *`](https://crontab.guru/#0_6_*_*_*) would not only trigger at 06:00 but at every full hour as the fields would be independent which they aren't. Anyway, [`0 0 22-28 * */3`](https://crontab.guru/#0_0_22-28_*_*/3) might therefore

[2022-05-27 16:47] alexrosenfeld10 commented on #8866
@sarabala1979 Sure. Does that mean the schema _says_ it's required, but Argo won't actually mind if `image` is omitted? Or will it enforce the schema?

If so, I think it's worth considering changing it and maintaining an argo-specific container schema. Being forced to put values everywhere totally defeats the purpose of having `templateDefaults`

[2022-05-27 17:09] Daklon commented on #8685
If no one is working on this, I could try to implement it. Is okay for you @Ethyling,  @alexec ?

[2022-05-27 23:09] juliev0 commented on #8837
So, I did reproduce your error and am looking into it. But just curious: if you try running with 3.2.11 does it work end to end? I see the call to "submit" works fine but then the node itself shows this error:

Do you see that as well? Perhaps the spec changed?

[2022-05-28 00:18] yu-croco commented on #8837
Yes it worked in my case, as below. 🙋
I checked by referring [Quick Start](https://argoproj.github.io/argo-workflows/quick-start/) on my local environment this time.
*Precondition is different from original report but I could submit Workflow Template successfully in v3.2.11 and failed in v3.3.x

<img width="1920" alt="Screen Shot 2022-05-28 at 9 08 23" src="https://user-images.githubusercontent.co

[2022-05-28 01:37] cre8ivejp commented on #8869
@sarabala1979, I am using the helm chart to upgrade it.
I checked the CRD and RBAC, and it seems fine.
The only thing that I did was to change the image tag from `3.2.9` to `3.3.0`.

CRD
[code]

RBAC
[code]

[2022-05-28 02:40] juliev0 commented on #8837
Thanks so much for the quick response and for posting the full yaml. I realized I was accidentally still running the latest version of the underlying Docker image while running 3.2.11 for the argo server and Workflow Controller. Once I fixed that, I can also get it to work successfully for 3.2.11.

[2022-05-28 14:52] TheSwarnim commented on #8737
Hi @tooptoop4, I would like to work on this issue. But, would you specify what type of error it should print?

[2022-05-28 18:31] #8713 closed

[2022-05-28 19:32] juliev0 commented on #8837
@alexec Removing the code from workflow/common/convert.go which transfers the Labels from the WorkflowTemplate to the Workflow as part of [this](https://github.com/argoproj/argo-workflows/commit/7e34ac5138551f0ebe0ca13ebfb4ad1fc8553ef1#diff-d6cf0e2c636cfdedcbe6b452c192145c999f8ccbc7016e5a5deffc697e62e0a9) change appears to cause this:
![Screen Shot 2022-05-28 at 12 24 02 PM](https://user-images.gi

[2022-05-28 23:00] tooptoop4 commented on #8737
invalid yaml at line 4

[2022-05-30 06:24] tooptoop4 commented on #8616
@terrytangyuan do you know if these get injected into all EventSources/Sensors too?

[2022-05-30 08:13] larrycai opened #8879 "add .netrc support for git artifacts"
# Summary

workflow/artifacts/git/git.go it support private key and passwd, it will be good to support .netrc as well

# Use Cases

When would you use this? normally we store all related passwd into one `.netrc` to access different repo, it will be good to support it directly.

It could work like below

[code]

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We

[2022-05-30 09:37] ezk84 opened #8882 "{{ workflow.failures }} doesn't get a value in lifecycle hook"
## Checklist

* [✔] Double-checked my configuration.
* [✔] Tested using the latest version.
* [✔] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

The message that is output by the hook named `on-fail` should have the `{{ workflow.failures }}` replaced by a JSON object as per [the documentation](https://argoproj.github.io/argo-workflows/variables/#exit-handler).

[2022-05-30 09:59] TheSwarnim commented on #8737
Thanks for your help. Can you assign this issue to me?

[2022-05-30 10:57] tooptoop4 commented on #8737
only committer can, but you can raise PR without being assigned

[2022-05-30 13:47] sandeepitachi commented on #8882
@ezk84 facing the similar issue! 😅 Glad you opened an issue! I was about to!

Also there are few issues which I observed using lifecycle hooks and HTTP templates.

- One is related to See #8586

- And HTTP templates doesn't work with onExit 😅. I read on some comments on other issues that hooks reserved name 'exit' works the same way as onExit. But looks like it doesn't!

[2022-05-30 17:55] sandeepitachi commented on #8837
Hi @juliev0 I see the label name has '-' in it. I faced similar issue when wf submitted using workfloweventbinding thru payload. Resolved by removing '-'

Did you try using something like below ? If not could you please try

`workflow_name = hello-world`

[2022-05-30 18:00] sarabala1979 commented on #8882
It is a bug `workflow.failures` is not included when calling the lifecycle hook.
https://github.com/argoproj/argo-workflows/blob/093a6fe7e1b1926f5feaff07a66edb9ff036f866/workflow/controller/operator.go#L389-L409
 This  block of code needs to move above
https://github.com/argoproj/argo-workflows/blob/093a6fe7e1b1926f5feaff07a66edb9ff036f866/workflow/controller/operator.go#L375

Do you like to submi

[2022-05-31 00:47] yu-croco commented on #8837
@sandeepitachi
Thank you for your comment! I tried and failed to submit... 😇
<img width="1914" alt="Screen Shot 2022-05-31 at 9 42 36" src="https://user-images.githubusercontent.com/30188755/171071868-fba53b71-b3d6-4d16-bc29-ac052e3a3810.png">

Full yaml is here.

[code]

According to https://github.com/argoproj/argo-workflows/issues/8837#issuecomment-1140318758 , additional attributes are not acc

[2022-05-31 01:14] sandeepitachi commented on #8837
@yu-croco Not sure why the results are different -  It's working for me!
![image](https://user-images.githubusercontent.com/25717719/171074007-a843c736-a9cf-4f99-ae52-dc70a527c8f1.png)

![image](https://user-images.githubusercontent.com/25717719/171074046-7a8194f0-19f8-4f4a-9c2d-85d63ae1ee2f.png)

Could you please check your wf events or pod logs and see what executor image version you are running

[2022-05-31 02:14] #8868 closed

[2022-05-31 02:16] yu-croco commented on #8837
Oh.... 😇

`executor image version` means the version of  `argoproj/argoexec` ?  👀
If so, I tried 2 patterns and both of them are same result.

### 1.
I used [quick start](https://argoproj.github.io/argo-workflows/quick-start/) and the version is `latest` .

[code]

### 2.
I used helm chart and version is `v3.3.5` , same as argo workflow controller.

[2022-05-31 02:21] sandeepitachi commented on #8837
@yu-croco my bad! I misunderstood the issue was using (global variables) wf labels as input parameters!

Yah you are right -  the workflows variables are unavailable

I tried and getting the same error 😔says failed to resolve!

[2022-05-31 02:29] yu-croco commented on #8837
@sandeepitachi
Thank you for ckecking! It's ok, it's kinda confusing one 😇
I will wait for the reply against this https://github.com/argoproj/argo-workflows/issues/8837#issuecomment-1140318758

[2022-05-31 02:56] godlzr commented on #3026
I was facing the same issue, cause I open the url without https. After 3.0, the server now starts with TLS enabled by default if a key is available.  You should open the URL with https. like https://localhost:2746

[2022-05-31 03:04] sandeepitachi commented on #8742
Hi @alexec this issue needs to be reopened 😅

[2022-05-31 05:42] tooptoop4 opened #8887 "better error message when same env variable is in workflow and templatedefaults"
[code]
currently getting an error like that when i have same env name in templateDefaults and in the workflow. the message is a bit confusing, perhaps a better message would be `"error: same env key '<theActualKey>' being specified twice"`

[2022-05-31 07:17] gpanagiotidis opened #8888 "Survey pop up appears in every login."
The new pop up asking to complete a survey is appearing every time for each login in version v3.6.6. How to disable it?

[2022-05-31 08:13] Ethyling commented on #8685
Hey, yes, go ahead. I don't have much time to work on this currently

[2022-05-31 16:56] sarabala1979 commented on #8882
@ezk84 are you planing to submit the PR for this issue?

[2022-05-31 17:47] juliev0 commented on #8666
@alexec Does this story depend on [this](https://github.com/argoproj/argo-workflows/issues/8665) one?

[2022-05-31 18:09] ezk84 commented on #8882
I will attempt it. Tried to get my a dev environment running, though I run into problems with the vscode devcontainer.

I imagine I would have to write at least a test to validate this, no?

[2022-05-31 19:33] juliev0 commented on #8665
@alexec I see you added the field to ArtifactLocation rather than to Artifact directly. I am assuming I should do the same (although by the title of this issue it's not clear)?

[2022-05-31 20:14] alexec commented on #8666
Yes.

[2022-05-31 20:15] alexec commented on #8665
I'm not 100% sure, I think it is `Artifact`. If that does not work, it must be `ArtifactLocation`.

[2022-05-31 20:26] juliev0 commented on #8665
There's an "ArtifactLocation" for the Workflow itself as well as one for each Artifact which can override the default. So, in your [POC](https://github.com/argoproj/argo-workflows/pull/8530/files#) you decided to add it to ArtifactLocation. But I am thinking of putting it in Artifact since it represents the state of the Artifact itself.

[2022-06-01 07:26] hbrewster-splunk commented on #1322
Is it possible to override the argo wait container resource limits on a per-workflow basis? This would remove the wastage. +1 for this issue

[2022-06-01 13:55] sarabala1979 commented on #1322
You can use PodSpecPatch to change the wait container resources on each workflow.

Sent from my iPhone

[2022-06-01 16:14] juliev0 commented on #8837
FYI, I got some more information on this one so now have a path to resolving.

[2022-06-01 17:05] eyalyoli opened #8895 "`{{workflow.status}}` is not working in metrics"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

Running [this](https://github.com/argoproj/argo-workflows/blob/master/examples/dag-custom-metrics.yaml) example workflow for custom metrics at the workflow & template levels on the latest version (v3.3.6) publishes th

[2022-06-02 15:39] sarabala1979 commented on #8895
@dpadhiar Can you take a look?

[2022-06-02 15:40] sarabala1979 commented on #8882
need test. Let me know if you have any problem setting up local env

[2022-06-02 15:44] sarabala1979 commented on #8869
@cre8ivejp can you using `argo-argo-workflows-workflow` for workflow controller? looks like `workflow-controller` doesn't have permission to access `workflowtasksets`

[code]

[2022-06-02 15:59] caelan-io opened #8899 "Create a new web course for an intro to Argo Workflows"
# Summary

[Katacoda is being shuttered](https://www.oreilly.com/online-learning/leveraging-katacoda-technology.html), so the Argo Workflows Katacoda course was removed from the docs.

Proposal: Pipe Katacoda content into a new web-based course platform and then update the docs. (quick-start.md, training.md, others)

Current candidates:

- https://instruqt.com/
- https://killercoda.com/

# Use Cas

[2022-06-02 17:06] #8830 closed

[2022-06-02 22:05] sarabala1979 opened #8901 "Support MYSQL options"
# Summary

What change needs making?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-06-03 04:21] minglei-pony commented on #2793
Is it possible to lint templates offline?
[code]

[2022-06-03 07:34] DiegoFlop opened #8902 "Upload archivelogs of init and wait containers"
# Summary

I would like to be able to upload the logs of the init and wait containers along with the main one.
I currently have the archiveLogs configured with S3 and everything works correctly, except that the S3 bucket only uploads the main container log.
Due to resource issues we use a PodGC to delete them as soon as they are completed and the workflow is deleted after 2 minutes.
In the file ta

[2022-06-03 08:15] DiegoFlop opened #8903 "Log level on executor don't change"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
I have the following configuration in the configmap of the workflow controller

[code]

[code]

What version are you running?

## Diagnostics

Paste the smallest workflow that reproduces the bug. We must be able to run

[2022-06-03 09:36] xi2817-aajgaonkar opened #8904 "Stop previous workflow if New workflow is submitted when Mutex is used"
# Summary

What change needs making?

1. We need to add a `watch` on Workflows.
2. If any event is detected then get a list of running workflows
3. If new workflow status is pending due to mutex in the running workflow, then delete the running workflow such that the pending workflow can start

# Use Cases

When would you use this?
- This use case is required for `CI` as CI receives multiple events

[2022-06-03 17:04] sarabala1979 opened #8905 "Support MYSQL DB options for persistence"
# Summary

What change needs making?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-06-03 19:49] diogobaeder opened #8910 "Unable to forward port"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

When running the quick-start after applying the manifest on my current namespace, running k3s locally (I'm testing this on my computer before I can go to production), I got stuck at the port-forwarding - it's not bein

[2022-06-03 20:28] DiegoFlop opened #8911 "Error with expr from parameter output another step"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

When on a when field add an expr with output task I get the next error:

the expr I'm using is:

However when I use and input parameter with expr everything works correctly, but I don't have use an input parameter bec

[2022-06-04 00:44] diogobaeder commented on #8910
Just a heads up: I downloaded the quickstart YAML manifest and tried to change it to make it work, to no avail. I tried changing the service type to NodePort, then to LoadBalancer, and neither of them worked.

So I checked if this could be an issue with my k3s installation on my computer, but it's not, I can get a simple manifest to work just fine, like this one:
[code]
the simple manifest above w

[2022-06-04 01:22] diogobaeder commented on #8910
Oh... sorry for my stupidity, but it just so happens that I was trying via plain `http://`, not `https://`. I got confused because of the port and didn't think it was going to respond under TLS.

It works just fine now! :-)

[2022-06-04 01:22] #8910 closed

[2022-06-05 01:28] dakotalillie opened #8916 "Long container args and/or script source overflows in UI"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

Providing a lengthy argument to a container template, or a lengthy source to a script template, causes the provided argument/source to visually overflow in the UI.

I have observed this issue in multiple versions, including:

- v3.3.6
- "latest" (master branch)

[2022-06-05 04:07] dakotalillie opened #8917 "Make side panels resizable"
# Summary

It would be nice if side panels (such as the ones for viewing workflow node details and logs) were resizable.

# Use Cases

The primary use case I have in mind would be to make it easier to view content which exceeds the standard width of the side panel. It might also be useful with the logs side panel, to allow the primary page content to be visible alongside the logs.

I did a rough m

[2022-06-06 02:02] kianpu34593 opened #8919 "cannot start argo workflow using template manifest"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

I was using a template manifest provided: https://github.com/argoproj/argo-workflows/blob/master/manifests/quick-start-postgres.yaml

When I ran:
[code]

It output the error:
[code]
The expected behavior is `kubectl` w

[2022-06-06 08:52] lacarvalho91 opened #8921 "Container steps also have stdout stored in result output parameter"
# Summary

The [docs](https://github.com/argoproj/argo-workflows/blob/master/docs/walk-through/output-parameters.md) seem to suggest that only `script` steps will automatically capture `stdout` into the `result` output parameter. I did some testing and this doesn't seem to be the case and I couldn't see anywhere in the code that only makes this happen for `script` steps.

For this card I believe w

[2022-06-06 09:24] MarahAbu commented on #6824
Hi @tczhao, I'm using argo-workflows v3.3.5 and want to use the dropdown list with multi selection feature, has this feature been added? if not can you please add it?
Thanks in advance

[2022-06-06 09:33] JessieTeng89 opened #8922 "Have errors for swagger.json when opening with https://editor.swagger.io"
I found there are some errors when opening _.primary.swagger.json with https://editor.swagger.io/ like below:
![image](https://user-images.githubusercontent.com/101035990/172135467-859887e1-27f2-4291-b37b-304f8088352b.png)

Errors
Semantic error at paths./artifact-files/{namespace}/{idDiscriminator}/{id}/{nodeId}/{artifactDiscriminator}/{artifactName}.get.responses.default.schema.$ref
$refs must r

[2022-06-06 09:34] JessieTeng89 commented on #8922
I would like to work on this issue, please assign it to me if possible, Thanks

[2022-06-06 13:44] terrytangyuan commented on #8919
You need to use the raw URL for GitHub content.

[2022-06-06 13:45] terrytangyuan commented on #8919
https://github.com/argoproj/argo-workflows/raw/master/manifests/quick-start-minimal.yaml

[2022-06-06 13:55] terrytangyuan commented on #8922
Assigned

[2022-06-06 13:58] terrytangyuan commented on #8887
Could you provide a minimal reproducible example?

[2022-06-06 14:01] terrytangyuan commented on #8921
Feel free to submit a PR to improve the docs.

[2022-06-06 14:06] lacarvalho91 commented on #8921
I'd be happy to. Could I get some confirmation that I'm correct and not missing something before I do so?

[2022-06-06 15:51] #8919 closed

[2022-06-06 15:52] sarabala1979 commented on #8917
@dakotalillie Nice enhancement. Do you like to submit the PR for this feature?

[2022-06-06 17:13] tyrken commented on #6781
No error seen in Argo Web UI either, and it's only in the workflow controller logs when first created, not when you expect it to be scheduled.

[2022-06-06 17:16] terrytangyuan commented on #6781
Would anyone want to submit a PR for this?

[2022-06-06 17:21] terrytangyuan commented on #8616
It's only for the templates defined in your workflow spec.

[2022-06-06 17:32] tyrken commented on #6781
Sure, but as a non-golang, non-JS dev it might be a little clunky.  Guessing I'd need to add a generic `message` field to the status like Workflow has, or maybe better a `NameInvalid` condition given you already seem to show that in the Web UI at least.

[2022-06-06 17:58] dakotalillie commented on #8917
Sure thing! I'll submit a PR shortly.

[2022-06-07 09:17] fabioaraujopt opened #8926 "Request has been terminated Possible causes..."
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

When opening UI to verify logs the WSUD failed with the following error:
![image](https://user-images.githubusercontent.com/31209502/172343069-d0a834a3-9d88-4b39-9a3b-fa39fade703d.png)

What version are you running?

[2022-06-07 10:02] roofurmston commented on #8742
Indeed, I have tested it on master and the issue is still present.

[2022-06-07 11:16] terrytangyuan commented on #8742
It's not in 3.3.5. Please try again once it's included in the next release, e.g. 3.4.

[2022-06-07 12:10] roofurmston commented on #8742
I tested the fix directly from the master branch. It is slightly confusing as the unit test was removed from the master branch.

You are sure that the fix is working in master as expected?

[2022-06-07 12:49] terrytangyuan commented on #8742
The test case needs to be revisited when I get a chance.

[2022-06-07 13:40] Agitatra commented on #8922
I get the same error, both with the downloaded version 4.2.7 and using editor.swagger.io.
What boggles me, is that my openapi file is literally a downgraded/reduced version of the pet-store supplied with the swagger-editor, which also has features 200 responses accompanied by content, but does not trigger this message.  The only difference I see is, that the pet shop version refers to a complex ty

[2022-06-07 14:21] cotjoey opened #8928 "Error "Create pods 403" in workflow-controller when setting istio annotation"
Hello,

I am trying to configure Istio on my batch pods, but when I do so, I get a "Create pods 403" in the workflow-controller pod logs:

[code]

The way I configure istio on my batch pods is by adding the following annotation to the workflowtemplate:

[code]

My batch pods can launch successfully when I remove the annotation from the workflow template. It defaults to sidecar.istio.io/inject: 'fa

[2022-06-07 15:39] alexec commented on #8903
The wait container logs at the same level as the controller:

https://github.com/argoproj/argo-workflows/blob/37a3eb375410dd778d44f9965d9ec4465f1011d9/workflow/controller/workflowpod.go#L514

[2022-06-07 17:40] DiegoFlop commented on #8911
Hi, @sarabala1979
Thanks for your answer. I try with you said me but when execute workflow, on the step that use that output. Now I get this error:

`Invalid 'when' expression 'jsonpath(tasks.checkout.outputs.parameters.custom_config, '$.steps.unit_test.skip') == 'false'': Unable to access unexported field 'checkout' in token 'tasks.checkout.outputs.parameters.custom_config'`

[2022-06-07 18:32] clementemmanuel commented on #7994
@gandeevan did you ever resolve this? I'm also facing what I believe to be the same issue.

[2022-06-08 00:19] tooptoop4 opened #8931 "feature: allow special characters in label values and length > 63"
getting this error when i try to save s3 path argument with slashes into a label:

```a valid label must be an empty string or consist of alphanumeric characters, '-', '_' or '.', and must start and end with an alphanumeric character (e.g. 'MyValue',  or 'my_value',  or '12345', regex used for validation is '(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?') Invalid```

or
"must be no more than 63 char

[2022-06-08 10:48] Guillermogsjc commented on #5833
A simple use case:

We have a recovery daemon step,  watching a main step consisting in a wait for a kubernetes job that uses a broker.

This is a stateless (no worry about HA or status) daemon that just consults the broker and and auxiliar redis to figure out if any batch is lost in the kubernetes job, and republishes it into the broker to be consumed again with subsampling.

Sometimes, this reco

[2022-06-08 14:46] forcemeter opened #8932 "Cannot schedule/dispatch to new node"
![image](https://user-images.githubusercontent.com/56063441/172643712-e5170b20-3e6e-494f-96dd-f0b877b9ff22.png)

We submitted 10k `Pending` jobs 5 hours ago, and then join 4 new k3s nodes.

now all the `Pending` jobs just only schedule to the older nodes (in the red box),
and never schedule to the `4 new k3s nodes`.

is there any config parameter can refetch and schedule to all nodes of k3s cluste

[2022-06-08 17:34] afterthought opened #8934 "Expand SSO RBAC with additional claims from JWT"
# Summary

We have a multi-tenant app and the JWT stores tenants to which the user has access. It would be nice to write an auth expression that include other claims in the JWT so that we could enforce a tenant.

# Use Cases

On our current project.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-06-08 20:45] alexec commented on #8931
Not a bug.

https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-character-set

[2022-06-08 20:45] #8931 closed

[2022-06-09 07:28] botsphp commented on #8932
update:

force `podAntiAffinity` to can solve our needs, and i think this may is not a bug.
[code]

[2022-06-09 07:28] #8932 closed

[2022-06-09 09:27] james-simpson opened #8937 "More concise display names for looped steps"
# Summary

I'd like to be able to customise the step name for a looped/fan out step generated by `withItems`/`withParam`. At the moment, the step name doesn't seem to be templatable - I get an error like 'must consist of lower case alphanumeric characters' when trying to submit the workflow in the UI.

E.g. could we do something like this, with `name: "{{item}}"`:

[code]

Maybe the best way to do

[2022-06-09 15:59] #8837 closed

[2022-06-09 16:52] DiegoFlop opened #8938 "Error to use outputs parameters as a name of template"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

I use gitArtifact for clone a git repository at the first step, On this step it reads a config json file for select that will happen with the next steps, for example omit one step, when I use outputs with a values par

[2022-06-09 20:25] Belyenochi opened #8940 "why input artifacts volume only mount in main container"
argo-workflows version: release-3.3

code loacation: argo-workflows/workflow/controller/workflowpod.go
[code]

[code]
I am confused why the input of the input artifact cannot be mounted on a container other than the main container, is this because the main container is the beginning of the DAG? Should the input of all subsequent containers originate from the output of the main container in a sense

[2022-06-10 03:10] tczhao opened #8942 "Retry with debug pause"
# Summary

What change needs making?

There's https://argoproj.github.io/argo-workflows/debug-pause/

I'm thinking wouldn't it be nice to have an additional argument in `argo retry` so that we can retry with `debug pause` on

So that users can skip the hassle of modifying and resubmitting workflow yaml

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We priorit

[2022-06-10 11:42] maciekm commented on #8247
👋 @dribeiro-eTF1 try:
[code]
once you login again after the change you should see the cognito groups

[2022-06-10 17:52] scott-grimes opened #8948 "Resources for artifact input init-containers"
# Summary

Users should be able to specify the resources for artifact input init-containers

# Use Cases

In our multi-tenant environment we strictly enforce quotas and have limitranges to ensure that containers set memory and cpu limits+requests by default.

The limitrange is set low by default to encourage developers to set them up properly, while still providing a low-friction developer experie

[2022-06-11 02:23] #8669 closed

[2022-06-11 02:24] #8840 closed

[2022-06-11 02:31] #8329 closed

[2022-06-11 02:35] #8836 closed

[2022-06-12 03:24] tczhao opened #8953 "Unable to run artifact private git test"
## Summary

[code]

https://github.com/argoproj/argo-workflows/blob/master/workflow/artifacts/git/git_test.go#L29-L36

Most of the contributors don't have access to this private repo
perhaps we should guard this test in a different way

@alexec

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-06-12 11:42] Tolsto opened #8954 "Cannot access output parameters in hook"
## Checklist

* [ ] Double-checked my configuration.
* [ ] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

When trying to access output parameters in hooks other than `exit` I get `templates.main.steps failed to resolve {{steps.step-1.outputs.parameters.result}} `

Argo 3.3.6

## Diagnostics

This is the example from https://github.com/argoproj/argo-workflows/blob/d

[2022-06-12 13:46] tooptoop4 commented on #8734
crispy

[2022-06-12 19:22] terrytangyuan commented on #7366
This should be open.

[2022-06-12 19:23] terrytangyuan commented on #8954
@sarabala1979 Could you take a look?

[2022-06-13 06:55] chenbodeng719 commented on #5859
I think it should point out that access website by https is a must.

[2022-06-13 09:18] roofurmston commented on #8529
I believe this is still a known bug, so I don't think it should be closed.

[2022-06-13 09:25] khmjp opened #8956 "v3.3.5: workflow-controller panic at context.go:125 GetTemplateFromRef"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

Workflow-controller panics suddenly, and once the panic occurs, it continues.
I found other user had same panic in slack.
https://cloud-native.slack.com/archives/C01QW9QSSSK/p1652457569109429

What version are you running?
v3.3.5
This panic was not happend at v

[2022-06-13 09:39] RoryDoherty commented on #8832
This issue still exists

[2022-06-13 09:40] RoryDoherty commented on #8827
This issue still exists

[2022-06-13 12:43] dribeiro-eTF1 commented on #8247
@maciekm Tried and it works fine.  Thank you very much :)

[2022-06-13 12:43] #8247 closed

[2022-06-13 15:16] juliev0 commented on #8956
@khmjp can you provide an example Workflow and WorkflowTemplate that cause this, so I can try to reproduce it? Also, how often does it happen?

[2022-06-13 15:36] juliev0 commented on #8956
@khmjp It would also be great if you could provide the full log as an attachment. Thanks.

[2022-06-13 16:25] khmjp commented on #8956
This is caused by any workflow have clusterworkflowtemplates reference.

I’m trying to reproduce this in staging environment, but I cannot now. It may be caused by performance issue.

[2022-06-13 17:02] #8687 closed

[2022-06-13 17:02] juliev0 commented on #8956
So, looking at your log I see: "Queueing Failed workflow ns2/wf-kzrs5 for delete in -29s due to TTL"

Any concerns that:
a) the workflow was in "Failed" state? or does that make sense for your case?
b) the garbage collection time was a negative number? (-29s)

What is your PodGC setting? It would be great if you could provide some sort of Workflow and ClusterWorkflowTemplate that I could look at s

[2022-06-13 18:11] juliev0 commented on #8956
It's interesting that in both your case and the slack post you referenced, there was a failure in the Workflow that seems to have preceded not finding the Template. I'm guessing that's not a coincidence? If you know that this occurred before when there was no failure let me know.

[2022-06-13 19:04] clementemmanuel opened #8958 "Update phase of current task in workflow controller "manually" to avoid workflow-controller/pod-deleted race condition"
### Discussed in https://github.com/argoproj/argo-workflows/discussions/8957

<div type='discussions-op-text'>

<sup>Originally posted by **clementemmanuel** June 13, 2022</sup>
I don't use argo directly but instead transitively via kubeflow.

When running under load a lot of tasks are (erroneously) marked in an error state `Error pod deleted`

I'm running a large amount workflows in parallel, the

[2022-06-13 20:55] #8958 closed

[2022-06-14 00:28] clementemmanuel commented on #8958
@terrytangyuan is the issue or discussion preferred? Fundamentally this is an issue with argo's workflow controller

[2022-06-14 07:09] chenbodeng719 commented on #2664
hi, still get the issue from workflow v3.6.6 on Namespaced installation？ Anyone has the problem?

[2022-06-14 10:55] jeszii commented on #8545
Hey @alexec, I noticed this was cherry picked for 3.3.6 so I upgraded, but I still seem to be getting the same issues where the workflow is still running after 'termination'. Am I right in thinking this was fixed in 3.3.6 or have I jumped the gun?
<img width="1792" alt="Screen Shot 2022-06-14 at 11 55 16 AM" src="https://user-images.githubusercontent.com/104646655/173561608-a362d433-2f82-4774-be8c

[2022-06-14 13:14] khmjp commented on #8956
After further investigation, we found that the panic occurs immediately after switching the leader of workflow-controller, which is configured as HA.

The workflows that logged "Queueing Failed" were all workflows that failed even under normal conditions.

The garbage collection time was all within the secondsAfterFailure range in the log output at the time of the first panic.
It seems that the re

[2022-06-14 13:56] #8777 closed

[2022-06-14 14:27] #8916 closed

[2022-06-14 15:07] juliev0 commented on #8956
Thanks for investigation. Do you know if it happens _every_ time that a leader election occurs?

The Kubernetes client _Informer_ we're using provides status updates about entities (such as ClusterWorkflowTemplate) to the Controller asynchronously with the Controller keeping a local cache of the information. When the leader election occurs, the Controller creates an Informer [here](https://github.

[2022-06-14 15:54] Gibstick commented on #8684
I can still reproduce this issue using the same steps on v3.3.6

[2022-06-14 16:35] tyrken commented on #8283
FWIW adding the readinessCheck (& switching to strategy Recreate) didn't actually fix the kube-prometheus-stack `TargetDown` alert - the `endpoints` were still there (in our EKS 1.22 cluster) and so used by ServiceMonitor to config Prom - not sure why as your discussion above sounds reasonable.

... but even if that worked it doesn't seem a good solution, as then we'd have a pod continually sittin

[2022-06-14 17:00] clementemmanuel commented on #8783
@alexec sorry for the @ but any update or plans for when this implementation would ship or possible interim workarounds? Would love a resolution/workaround within argo but this is starting to be a more significant blocker for us in maintaining adoption. Kind of surprised there aren't more impacted by this, though i suppose smaller workloads just won't see this at all.

Some more context on our iss

[2022-06-14 18:14] caelan-io opened #8960 "Variable whitespace not behaving as documented"
Creating an issue to document a regression report from @RyanCopley, quoted below from closed PR #8867.

As a first step, I can add a doc to document this unexpected behavior for whitespace between the brackets and the variable. More reproducible spacing errors need to be reported in order to rule out this unintended behavior elsewhere.

## Summary

What version are you running?
3.0.7

---
**Messag

[2022-06-14 19:21] alexec commented on #8783
Someone needs to implement this. I won't be doing that I'm afraid.

[2022-06-15 03:02] tooptoop4 commented on #8715
crispy

[2022-06-15 07:05] prateekkhera92 opened #8967 "Change mainContainer env handling"
# Summary
`mainContainer.env` in workflow  controller configmap lets one add default environment variables to workflow main container. However, the current nature currently is to override these env variables, if there are env variable defined in workflow manifest file. I think, the correct behaviour should be extending it, so that default variables are preserved.  However, if there is a key in env

[2022-06-15 07:30] frimuchkov opened #8968 "runtime error: invalid memory address or nil pointer dereference on executeTemplate"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

Workflow-controller panics suddenly, and once the panic occurs, it continues.

What version are you running?
3.3.6, I've updated from 3.0.0-rc8 and there wasn't any problem with the previous version
## Diagnostics

[code]

---

**Message from the maintainers**:

[2022-06-15 11:18] debayande opened #8969 "CLI: compile for Macs backed by Apple Silicon processors."
# Summary

The Argo Workflows CLI executable (`argo`) currently doesn't appear to be compiled for Macs backed by Apple Silicon processors. While https://github.com/argoproj/argo-workflows/issues/5745 claims to the contrary, here's the list of executables for the latest version of the CLI:

<img width="993" alt="image" src="https://user-images.githubusercontent.com/28745111/173814517-25965154-a2a6-

[2022-06-15 11:43] terrytangyuan commented on #8969
It will be available in 3.4 release. You should also be able to use the amd64 binary as well.

[2022-06-15 12:35] dalongfan opened #8970 "I would like a mentor"
**Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).**

Answer: **Yes I have read the mentoring guide.**

**What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?**

Answer: **I have previous experience in Kubernetes, Java, Promethus, ArgoCD, Docker.**

[2022-06-15 14:40] roofurmston opened #8972 "Workflow controller panics when stopping a workflow that has an Lifecycle-Hook with a plugin"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

We have a workflow that has a workflow level  lifecycle-hook that calls a plugin. (The plugin is a slack plugin that we wrote internally for notifications.) When the workflow completes (or fails) the lifecycle-hook wo

[2022-06-15 16:47] sarabala1979 opened #8974 "Implement Artifact GC on controller"

[2022-06-15 16:48] #8974 closed

[2022-06-15 20:42] DiegoFlop opened #8975 "Change naming of workflow pods"
# Summary

What change needs making?

When we use kubernetes name of pods are aleatory.

I would like to propose the next naming:
Workflows:
{WORKFLOW_NAME}-{ID}
WORKFLOW_NAME -> Name of created workflow
ID -> Integer with autoincrement

 for pod of that workflows:
{WORKFLOW_NAME}-{ID}-{NAME_STEP}
WORKFLOW_NAME -> Name of created workflow
ID -> Integer with autoincrement
NAME_STEP -> Name of step

[2022-06-15 20:49] sarabala1979 opened #8976 "Logging workflow size before Dehydrate the workflow"
# Summary

What change needs making?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-06-16 05:24] #8956 closed

[2022-06-16 08:20] alok1929 commented on #8762
@dpadhiar

[2022-06-16 10:52] #4623 closed

[2022-06-16 10:52] #4624 closed

[2022-06-16 11:05] macpoint commented on #5022
Has this been already implemented?

[2022-06-16 11:44] khmjp commented on #8956
Thanks for resolving the issue so promptly. Looking forward to the release.

Yes, now that I am able to reproduce this, I confirm that it happens every time.

[2022-06-16 13:33] derHeinzer opened #8981 "Pods occasionally get killed (exit code 93) since upgrade to 3.3.6"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

We recently upgraded from 3.2.3 to 3.3.6. Since the upgrade we are occassionally experiencing pods getting killed. We start ~180 pods all executing a python script, which trains and predicts some ML model with some variable arguments. We do this every day. Sinc

[2022-06-16 13:34] lambertsbennett commented on #8403
I'm really sorry for the lack of activity. I've started a new job and don't have time to contribute anymore.

[2022-06-16 14:16] robertkotcher opened #8982 "Resource sharing amongst users at the template level"
## Summary

I would like to create workflows on behalf of 3rd party users, and I would like those users to be able to share resources equally at the template level via "user-level" parallelism.

## Potential interface

One instantiation of such a feature could look like this (note that I continue to update this as I experiment more with Argo codebase):

The workflow spec has a `ResourceSharingID`

[2022-06-16 14:30] domderen opened #8983 "Better memory management in workflow-controller for pending workflows"
# Summary

At the moment all workflows in the system are stored inside workflow-controller's memory, doesn't matter if they are in Pending, Active, Succeeded/Failed/Error states. There are solutions managing this memory usage for finished workflows, archiving them and automatically deleting them from memory.

I would like to have the possibility of better memory management for Pending workflows. A

[2022-06-16 14:42] terrytangyuan commented on #8403
No problem. Feel free to revisit when you get a chance.

[2022-06-16 14:42] #8403 closed

[2022-06-16 14:43] terrytangyuan commented on #8311
This is not being worked on.

[2022-06-16 14:44] #8635 closed

[2022-06-16 14:53] alexec commented on #8940
This is correct. In a container-set template, input and output artifacts can only be mounted on them `main` container. This is mainly historical limitation.

You can work around by using a shared volume and having that mounted on all your containers, something like

[code]

[2022-06-16 14:53] #8940 closed

[2022-06-16 14:53] alexec commented on #8942
This seems smart. Like how GitHub Actions allows you to re-run in debug mode.

[2022-06-16 14:54] alexec commented on #8948
You should be able to set a global value for this in the controller config-map. Alternatively, you could use `podSpecPatch` to set it.

[2022-06-16 15:06] alexec commented on #8981
I think your main container is being killed, but the wait container remains running.  I think exit code 93 is a red herring.

Can you try the `emissary` executor if you’re not using it, if you are can you try the `pns` executor?

After that, you please try running the `:latest` version of executor?

[2022-06-16 15:11] scott-grimes commented on #8948
ah excellent, that will work perfectly. for those following: https://github.com/argoproj/argo-workflows/blob/master/examples/pod-spec-patch.yaml

[2022-06-16 15:45] rpalloni opened #8984 "Tree UI icons not working in Ubuntu 20.04"
As you see in the image, icons are not working in ubuntu 20.04
Client Version: v1.24.1
Kustomize Version: v4.5.4
Server Version: v1.23.3

![image](https://user-images.githubusercontent.com/17080117/174111263-09ff0548-d485-400d-ad0f-924baeda9351.png)

[2022-06-16 16:17] sarabala1979 opened #8985 "Workflow duration metrics keep increasing after workflow completes"
## Checklist

* [ ] Double-checked my configuration.
* [ ] Tested using the latest version.
* [ ] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

What version are you running?

## Diagnostics

Paste the smallest workflow that reproduces the bug. We must be able to run the workflow.

[code]

[code]

---

**Message from the maintainers**:

Impacted by this regres

[2022-06-16 18:32] alexrosenfeld10 opened #8986 "Log in JSON when monitoring a child workflow"
# Summary

I use the "workflow of workflows" pattern, basically this: https://argoproj.github.io/argo-workflows/workflow-of-workflows/ . In doing so, when the parent workflow runs, it polls the status of the child workflow to see if it's running or if terminated successfully or not. When it does that, it logs like this:

[code]

I forward the logs from standard out to my log indexer of choice, whi

[2022-06-16 18:51] juliev0 commented on #8476
Link to iAM roles needed for AWS:
https://kubernetes-on-aws.readthedocs.io/en/latest/user-guide/iam-roles.html

[2022-06-16 19:01] juliev0 commented on #8968
Also, does this happen every time or no?

[2022-06-16 19:49] terrytangyuan commented on #8762
Yes, mark with DEPRECATED.

[2022-06-16 20:47] dpadhiar commented on #8762
@alok1929 You can take this issue, you will want to deprecate the same way this field has been deprecated in the file. We want users to see that they should no longer use this field.

https://github.com/argoproj/argo-workflows/blob/178bbbc31c594f9ded4b8a66b0beecbb16cfa949/pkg/apis/workflow/v1alpha1/workflow_types.go#L1378-L1382

[2022-06-16 23:47] dpadhiar opened #8990 "retryStrategy limit does not have a nil check"
`retryStrategy.Limit` is a pointer value which maybe be nil. This will because a panic when it is not checked before attempting to use `IntVal`.

https://github.com/argoproj/argo-workflows/blob/19eae92db339fa79eb91fb71a50d330a18b09bcf/workflow/controller/operator.go#L907-L912

[2022-06-17 06:27] gwqu opened #8994 "keycloak's logout endpoint support"
Similar to this https://github.com/argoproj/argo-cd/issues/3792

The keycloak is used together for argo workflow sso support.

After user logout the UI page, and then click login, the UI will skip login process and directly turn to main page without login requirement.

Is there a way to configure to also call keycloak's logout endpoint on clicking the logout button in argo workflow?

[2022-06-17 06:45] derHeinzer commented on #8981
We are using the emissary (default) executor in the :latest-version. Today we have been able to have a look in the container logs of one of the failed pods. It seems to be an OOM error, which is not argos fault at all. Nevertheless argo does not terminate the failing pod properly and the pod idles till the active deadline seconds thresh is reached. Besides a meaningfull error code and/or message w

[2022-06-17 07:21] Belyenochi commented on #8940
Thank you for your answer.

[2022-06-17 11:06] demonkoryu commented on #8694
@cipribucur In my case, it wouldn't call the Docker `ENTRYPOINT` (since I have to provide a `command`).
My solution was to call the entrypoint manually:
[code]

[2022-06-17 12:04] #5878 closed

[2022-06-17 14:01] frimuchkov opened #8997 "MetricsError: 'workflow.duration' is not available as a real time metric"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?
I expect to see workflow.duration in real time, but I see an error

What version are you running?
3.3.6

## Diagnostics

Paste the smallest workflow that reproduces the bug. We must be able to run the workflow.

[code]

[2022-06-17 15:38] alexec commented on #8981
Can you attach your controller logs and the full pod yaml?

[2022-06-17 17:25] terrytangyuan opened #8998 "Remove argo-dataflow pipelines component from the UI"
# Summary

What change needs making?

People ask a lot about what this is and why it always errors out on this page. Given that argo-dataflow is still in argoproj-labs and under major refactoring/updates (possibly no longer part of Argo?), we should consider removing it from the UI.

WDYT? @alexec

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise t

[2022-06-17 19:47] alexec commented on #8998
Yes. I think this is a dupe?

[2022-06-17 20:26] terrytangyuan commented on #8998
https://github.com/argoproj/argo-workflows/issues/7088 is a more general request. I can take this specific one though.

[2022-06-17 20:36] deepanshululla commented on #8759
I created PR #9001  for this. Please let me know if any further changes are needed. Thanks.

[2022-06-17 21:42] #8948 closed

[2022-06-17 22:28] #8985 closed

[2022-06-17 22:58] alexec commented on #8998
Not a dupe. I think most of the original work would have been done in a57b3ad9e. Try reverting that. You'll find a lot of conflicts, prefer what is on `master`. The search for `dataflow`, `Dataflow`, `pipeline` to see what was missed.

[2022-06-17 23:16] juliev0 commented on #8968
@frimuchkov Can you please provide a Workflow that I can use to reproduce this?

[2022-06-18 00:44] #8976 closed

[2022-06-18 07:09] andyzheung commented on #7633
This bug have been solved?

[2022-06-18 07:18] deepto98 commented on #8685
Can I pick this up, if its still open?

[2022-06-18 07:19] deepto98 commented on #8762
Can I pick this up?

[2022-06-18 07:21] deepto98 commented on #8746
@alexec Can I pick this up? If I understand correctly, only the error needs to be removed, right?

[2022-06-18 07:31] alok1929 commented on #8762
Okay will do that, I would like to be assigned this issue

[2022-06-18 17:39] #8990 closed

[2022-06-19 05:24] #7374 closed

[2022-06-19 05:24] #7895 closed

[2022-06-19 05:24] #7466 closed

[2022-06-19 05:24] #7870 closed

[2022-06-19 05:24] #8057 closed

[2022-06-19 11:08] frimuchkov commented on #8968
No, it happens every time in a while
We downgraded it to 3.3.0 and there is no such error anymore

It's WF with the client's data and there is no guarantee error will appear again :(

I thought, maybe there is some obvious moment in code on this line

[2022-06-19 14:02] juliev0 commented on #8968
@frimuchkov  Are you not able to identify which Workflow it is? Or are you concerned about the data being private? Just wondering if you can provide a generic version of the Workflow plus any underlying WorkflowTemplate so I can get an idea of what settings are being used? What I can guess about the Workflow is that maybe based on the stack trace, it's some nested DAG - is it perhaps a DAG which u

[2022-06-20 08:16] derHeinzer commented on #8981
I attached 3 files:
1. the log of one failing pod. The pod log logs an OOM error (exit code 137), that does not show up in the argo gui. And the pod does not terminate but runs until it is restarted by configured active deadline seconds/retry policy.
2. full pod yaml
3. controller logs with some filters. The filters are:
resource.type="k8s_container"
resource.labels.cluster_name="flash"
resource.l

[2022-06-20 09:22] kaiyuanlim-adh opened #9007 "Improve wait container"
# Summary
- Currently, we have a problem whereby our linkerd-proxy container which runs as a multi-container pod comes up slower than the main container in our argoworkflow step.
- This means that the main container will not have access to the network like the internet and thus the job will fail.
- Currently we used a sleep command in the main container but that is hacky.
- We also tried using a c

[2022-06-20 14:54] terrytangyuan commented on #8533
I sent a draft for this in https://github.com/argoproj/argo-workflows/pull/9008. Feel free to take a look.

[2022-06-20 18:38] sarabala1979 opened #9012 "Cherry-pick 3.3.7"
- [ ] 2e3177617 fix: add nil check for retryStrategy.Limit in deadline check. Fixes #8990 (#8991)
- [ ] a1535fa44 fix: Workflow Duration metric shouldn't increase after workflow complete (#8989)
- [ ] e0a1afa91 fix: sync cluster Workflow Template Informer before it's used (#8961)
- [ ] 6c244f3cb fix: long code blocks overflow in ui. Fixes #8916 (#8947)
- [ ] e31ffcd33 fix: Correct kill command. Fi

[2022-06-20 22:48] jcrowthe opened #9013 ""connection reset by peer" transient error not handled in workflow-of-workflows"
## Checklist

* [x] Double-checked my configuration.
* [ ] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

**What happened/what you expected to happen?**

When running a [workflow-of-workflows](https://argoproj.github.io/argo-workflows/workflow-of-workflows/), Argo applies a "child" workflow and then polls for the child's status. While polling, Argo usually retries

[2022-06-21 06:23] ZPerling opened #9015 "failed to resolve inputs.parameters"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

 when I submit a workflow ,it return error,  failed to resolve {{inputs.parameters.path}},
I confirm the yaml is valid, I don know what happend

**argo client version:**
argo: v3.3.6
  BuildDate: 2022-05-26T01:07:24Z
  GitCommit: 2b428be8001a9d5d232dbd52d7e9028

[2022-06-21 08:45] samunaai opened #9016 "Documentation for the Python SDK"
### Summary

👋🏾👋🏾 Hello! We are working on a serious project with Argo Python SDK and hoped to inquire about the documentation to better understanding how we can correctly use the API.

### Use Cases

For now, it appears that most of the documentation for the Argo Python SDK centers on the hello world example [[in the README](https://github.com/argoproj/argo-workflows/tree/master/sdks/python)].

H

[2022-06-21 10:48] #9015 closed

[2022-06-21 11:52] terrytangyuan commented on #9016
Yes I agree that we lack of examples currently. Feel free to help convert existing YAML examples to Python.

[2022-06-21 13:52] xrafhue commented on #2129
Hi,

i found another solution if it can help..

This is my config-map used in the controler to allow the container init to push logs on s3
[code]
This is the conf of the argo-server deployment who mount the ca.crt and allow the UI to get logs from s3 after the pod is killed.
[code]

[2022-06-21 15:11] ldejuan opened #9018 "Dag and Steps unsual behaviour for loop with withParams"
## Checklist

* [x ] Double-checked my configuration.
* [x ] Tested using the latest version.
* [x ] Used the Emissary executor. (:latest)

## Summary

What happened/what you expected to happen?
The behavior of a workflow with **DAG** and **STEPS** is different in loops with **withParam**

What version are you running?
**argo version**
argo: v3.3.5
  BuildDate: 2022-05-04T00:58:31Z
  GitCommit: ee

[2022-06-21 15:38] agrvu commented on #3102
This is a great new feature but wondering if you'd considered more strategies eg a TTL for artifacts? This could be achieved by adding [object expiration](https://docs.aws.amazon.com/AmazonS3/latest/userguide/lifecycle-expire-general-considerations.html) configuration when saving to blob storage.

[2022-06-21 15:41] ldejuan commented on #9018
Actually there is a way to remove the "unsual" this behaviour, by adding a **dependency** over between the steps on the DAG. In the DAG configuration the values in withParams ARE not evaluated before.

[2022-06-21 15:41] #9018 closed

[2022-06-21 16:56] #9013 closed

[2022-06-21 21:14] dpadhiar commented on #8997
Can you post what error you are seeing when running this example workflow? I tried running locally on `master` branch and did not see an error.

[2022-06-21 22:55] christianh814 opened #9021 "I would like a mentor"
**Question: Have you read the [mentoring guide](https://argoproj.github.io/argo-workflows/mentoring/)? Please only submit this request for general mentoring (not GSoC).**

Answer: **Yes I have read the mentoring guide.**

**What is your background? Any experience with Go, Kubernetes, React, Typescript, etc.?**

Answer: **Kubernetes, Argo CD, Go**

**Is there any particular issue you'd like to work

[2022-06-22 09:41] jeszii commented on #8545
Hey @sarabala1979, can you confirm whether this has been merged into the :latest tag? Right now I am still getting the same errors.
<img width="1711" alt="Screen Shot 2022-06-22 at 10 41 22 AM" src="https://user-images.githubusercontent.com/104646655/174997935-10487167-c6fb-4c18-a48f-2880c0b730cb.png">

[2022-06-22 10:22] munachisonwadike commented on #9016
Thank you very much @terrytangyuan . If I may ask, is there an easy way to know how to convert the YAML to Python? Right now I am not perfectly sure how to correctly use the Python Classes which have been provided. Do you have any recommendations as I work this out?🙏🏿🙏🏿

[2022-06-22 13:01] ldejuan opened #9022 "multiprocessing when saving an artifact back to S3 (wait container)"
# Summary
When the result artifact is a directory with an extreme large number of files (> 1million) of size ~10k, the saving back to the S3 buckets **not in  compressed** mode is very **slow** ~300ms/file. The enhancement will be to execute this saving (done by the **wait** container) in a multi-process mode.

# Use Cases
It is useful when saving an artifact to S3 made of **millions** of single f

[2022-06-22 13:28] terrytangyuan commented on #8685
@deepto98 Assigned to you.

[2022-06-22 13:29] terrytangyuan commented on #9021
Welcome! Someone else also expressed interest in working on that issue. Is there any other issue you'd like to work on?

@tczhao Would you be interested in mentoring this?

[2022-06-22 14:01] alexrosenfeld10 commented on #8986
Can any maintainers of argo comment on this? It's pretty impactful for my alerting and monitoring for these workflows.

[2022-06-22 14:03] static-moonlight opened #9023 "Simplify configuration of artifact repository"
# Summary

This is a (feature) request to simplify the configuration of the artifact repository.

Currently a configuration map like this is required:

[code]
See https://argoproj.github.io/argo-workflows/artifact-repository-ref/

I have several issues with this configuration layout:

1. The configuration key ("default") contains a complex multi-line value. That value is structured in a way that i

[2022-06-22 15:11] juliev0 commented on #8968
@frimuchkov I just added some checks for nil and some additional logging [here](https://github.com/argoproj/argo-workflows/pull/9010), and it's been merged into master. If you have time, it would be great to know what's happening on your side with this latest change. Are you able to run with latest master?

[2022-06-22 15:20] alexec opened #9024 "build timeout"
The `functional` test suite is hitting is 20m limit. 20m is a long time for a test suite to run because it means that the engineer does not have fast enough feedback. IMHO less than 10m is a good target time.

 This usually happens when:

1. A slow test has been introduced.
2. A build step has become slow due to problems with cache.
3. Incremental new tests push the time limit.

If it is (2), then

[2022-06-22 21:51] juliev0 opened #9027 "Intermittent failures in CI E2E tests"
The CI end to end tests often fail, but then pass after an empty commit is added. We need to determine if for each failure the issue is the test or an actual race condition in the code that behaves differently each time.

We can add new occurrences over time here:
- `test-functional, minimal`
     - **test**: `TestSubmitWorkflowTemplateWithEnum`
     - **what happened**: `panic: test timed out aft

[2022-06-22 22:00] caelan-io commented on #9016
Sidenote: There are a couple other Python SDK options that may have more documentation/ active users & maintainers for your needs:

1. [Hera](https://github.com/argoproj-labs/hera-workflows)
2. [Couler](https://github.com/couler-proj/couler)

[2022-06-22 22:07] juliev0 commented on #9024
Added this one to address intermittent failures as well: https://github.com/argoproj/argo-workflows/issues/9027

[2022-06-23 00:28] tczhao commented on #9021
I'd love to.
Hi @christianh814, let us know if there's any other issue you'd like to work on
I would be more responsive on [slack](https://argoproj.github.io/community/join-slack/)

[2022-06-23 03:33] alexrosenfeld10 commented on #8866
I'd love to have some follow up on this, it's pretty silly to have to update the image tags everywhere when we have something that's intended to single source default them

[2022-06-23 04:57] JessieTeng89 commented on #8922
I am still working on this issue, will create the PR soon

[2022-06-23 05:27] tooptoop4 commented on #8911
crunchy

[2022-06-23 15:06] juliev0 commented on #8968
Closing this - need to look for newly added logging to determine root cause of the issue.

[2022-06-23 15:06] #8968 closed

[2022-06-23 16:38] #8895 closed

[2022-06-23 18:46] JPZ13 commented on #8960
| **Name** | **Test case** | **Interpolates successfully?** |
| --- | --- | --- |
| Base case | {{foo}} | Yes |
| Base case w/ whitespace | {{ foo }} | Yes |
| Unresolved reference | {{foo}} | Yes |
| Unresolved reference w/ whitespace | {{ foo }} | Yes |
| Expression base case | {{=foo}} | Yes |
| Expression w/ whitespace | {{ =foo }} | No |
| Unresolved expression | {{=foo}} | Yes |
| Unresolved

[2022-06-23 20:20] sarabala1979 opened #9029 "Cherry-pick v3.3.8"
- [x] feat: log workflow size before hydrating/dehydrating. Fixes #8976 (#8988)
- [ ] 89f3433bf fix: workflow.status is now set properly in metrics. Fixes #8895 (#8939)
- [x] 2aa32aea5 fix: check for nil, and add logging to expose root cause of panic in Issue 8968 (#9010)
- [ ] 62287487a fix: Treat 'connection reset by peer' as a transient network error. Fixes #9013 (#9017)
- [ ] e31ffcd33 fix: Co

[2022-06-23 21:11] juliev0 commented on #9029
I can't check the boxes, so can you check these?:
[2aa32ae](https://github.com/argoproj/argo-workflows/commit/2aa32aea5eaf325bc6a3eff852f2ff0052366bf6)
[ede1a39](https://github.com/argoproj/argo-workflows/commit/ede1a39e7cb48890aa5d4c8221e2c9d94e7ef007)

[2022-06-23 21:14] #8644 closed

[2022-06-23 21:14] #8645 closed

[2022-06-24 04:06] tczhao opened #9040 "make start UI is missing css"
## Checklist

* [x] Double-checked my configuration.
* [x] Tested using the latest version.
* [x] Used the Emissary executor.

## Summary

What happened/what you expected to happen?

css did not get loaded in latest argo

![image](https://user-images.githubusercontent.com/20961507/175460148-38c1cb6c-7e53-40e9-950b-4bd92343c02d.png)

What version are you running?

Latest head https://github.com/arg

[2022-06-24 10:30] ezk84 commented on #9027
I have experienced [this recently](https://github.com/argoproj/argo-workflows/runs/6969660302?check_suite_focus=true#step:16:1). So here's the datapoint

- test-functional, minimal
  - **test**: TestSubmitWorkflowTemplateWithEnum
  - **what happened**: panic: test timed out after 15m0s
  - **link**: <https://github.com/argoproj/argo-workflows/runs/6969660302?check_suite_focus=true#step:16:1>

The

[2022-06-24 10:30] #9040 closed

[2022-06-24 16:04] RyanCopley commented on #8960
Hey sorry, I have been on vacation without access to slack. One important thing to also validate is running Argo lint on those exact same use cases. If you do that, I believe the issue will be very apparent. I can give the reproducer a shot on Monday when I’m back in town

[2022-06-26 07:06] momom-i commented on #6945
Hi, is this issue opened and could anyone work on it now?

[2022-06-26 11:25] tooptoop4 commented on #8737
crunchy

[2022-06-26 23:13] liujiong1982 opened #9061 "Is it possible to support sum loop generated output artifact?"
upstream node is loop node, it will expand to 3 nodes, each node will generate output artifact
downstream node will collect all output artifact into one input artifact
will you consider support this grammar in the future?

Here is the example:
templates:
    - name: main
      dag:
        tasks:
          - name: square
            template: square-numbers
            arguments:
              par