[2021-05-18 16:15] szab100 commented on #5936
@alexec sure, it might be, feel free to close / mark this if that is the case. I could not find other, related (open) issues though: https://github.com/argoproj/argo-workflows/issues?q=is%3Aissue+is%3Aopen+shutdown

[2021-05-18 17:08] whyvez opened #5939 "sync.(*Manager).ReleaseAll: invalid memory address or nil pointer dereference"
## Summary

I'm not sure what caused this but I started getting these errors this morning and Argo is completely down.  Looks like it's related to a lock. I am using a template level lock. I tried removing all CMs mentioning the lock key but no luck. Everything was working fine this morning. The only event that I can think of that happen this morning is a GKE update but pretty sure things were wor

[2021-05-18 18:23] whyvez commented on #5939
I'm not sure how to get out of this bad state. I uninstalled/reinstalled Argo, deleted all references of the semaphore but as soon as the controller starts it gets into a `CrashLoopBackOff` with the error above.

[2021-05-18 18:42] alexec commented on #5939
https://github.com/argoproj/argo-workflows/blob/v3.0.4/workflow/sync/sync_manager.go#L262

The variable `lock` must be nil on this line.

[2021-05-18 18:43] whyvez commented on #5939
I was able to fix this. I renamed the semaphore key but there were some running workflows using the semaphore. As soon as I suspended the cron of the workflow in question and deleted all related workflows the controller started without error.

Where is the lock info/state persisted?

[2021-05-18 18:44] alexec commented on #5939
@sarabala1979 ?

[2021-05-18 19:55] mac9416 commented on #3496
fwiw on 2.12 I had to use `[sh]` instead of `[sh, -c]`. I haven't encountered that on 3.x.

[2021-05-18 21:35] sky29 commented on #5434
Anyone has any workaround for this ? (It's kind of blocker for me)

[2021-05-18 21:49] dkimdon opened #5942 "pods don't have annotations from workflowDefaults.podMetadata when using workflow template"
## Summary

When I configure an annotation in the controller's workflowDefaults like this:
[code]

 I expect to see the annotation on all workflow pods.  Specifically, if I submit a workflow from a workflow template then I expect to see the annotation on the associated pod(s).  However, I do not see the annotation in this case.

If I submit the workflow directly then I do see the annotation.

## D

[2021-05-18 21:51] vcarluer opened #5943 "Wait container polling time interval configuration to get main container state"
# Summary

Add a configuration for the wait container argoproj/argoexec to setup the main container state polling time interval.

I have tried the RESOURCE_STATE_CHECK_INTERVAL used in https://github.com/argoproj/argo-workflows/blob/2b87409431bb778a4264296bea2fd4173d00651d/workflow/executor/resource.go
Tested with argoproj/argoexec latest and v3.1.0-rc5 and k8sapi executor.

The environment variab

[2021-05-18 21:56] rwong2888 opened #5944 "valueFrom expression not working"
I'm trying to do a conditional parameter and running into some errors. Can anyone advise?

[code]

I tried on v3.0.4 and v3.0.5

Using https://argoproj.github.io/argo-workflows/examples/conditional-parameters.yaml as reference.

[code]

[code]

[code]

[code]

[2021-05-18 21:58] sarabala1979 commented on #5944
@rwong2888 are you getting this during workflow submission? if yes, Please check your CLI version

[2021-05-18 22:00] rwong2888 commented on #5944
[code]

[2021-05-18 22:11] alexec commented on #5943
Please attach your complete workflow.

[2021-05-18 22:12] alexec commented on #5942
I think this feature is only in v3.1? @sarabala1979

[2021-05-18 22:59] sarabala1979 commented on #5944
#4987 feat: Conditional Artifacts and Parameters (#4987) 78ec644 is not released in 3.0 version. you can try it v3.1-rc

[2021-05-18 23:04] dkimdon commented on #5942
Thanks for the quick response.

That would be great to see it in 3.1. For now I am adding the annotations directly to the workflow templates.

If it helps, I just tested 3.1.0-rc5 and I am observing the same behavior (annotation not present):
[code]

[2021-05-19 04:07] allapavan1208 commented on #4447
@giordyb Hi, I have same SSO self signed issue and trying to mount the CA but some how it is failing. Can you please share the configuration for mounting the cert and passing cert to argo server startup?

[2021-05-19 05:39] Stevenyu1982 commented on #5697
I am having the same error

time="2021-05-19T04:35:52.989Z" level=info msg="SSO enabled"
time="2021-05-19T04:35:52.992Z" level=info msg="Starting Argo Server" instanceID= version=v3.0.2
time="2021-05-19T04:35:52.992Z" level=info msg="Creating DB session"
time="2021-05-19T04:35:53.002Z" level=info msg="Node status offloading config" ttl=5m0s
time="2021-05-19T04:35:53.002Z" level=info msg="Creating

[2021-05-19 05:39] Stevenyu1982 commented on #5697
any one knows this is the problem from the keycloak or argo setup itself?

[2021-05-19 05:56] Stevenyu1982 commented on #5332
my keycloak setup seems work, but i am getting this error

time="2021-05-19T05:45:45.738Z" level=info msg="finished unary call with code Unauthenticated" error="rpc error: code = Unauthenticated desc = token not valid for running mode" grpc.code=Unauthenticated grpc.method=GetInfo grpc.service=info.InfoService grpc.start_time="2021-05-19T05:45:45Z" grpc.time_ms=0.051 span.kind=server system=grpc

[2021-05-19 06:16] JackaDu commented on #3448
experiencing same issue in ```argo: v3.0.4```

[2021-05-19 07:12] giordyb commented on #4447
Hi @allapavan1208 you need to create a configmap (es. myca) with the ca cert and then modify the deployment like this:

[code]

[2021-05-19 07:54] shrgabor commented on #5934
No, I didn't test it in v2.12, I only tested it with 3.0.2 and 3.0.4.
Sorry but I'm relatively new to the argo-workflows project. Why specifically v2.12? Is that a special version I'm not aware of?
The bug I linket to is fixed in 2.5 and was reported in 2.3 so I don't get it.

[2021-05-19 12:41] rwong2888 commented on #5944
Thanks @sarabala1979 , I went to rc5 for the server and cli and it worked!!! However, one problem.... now the  argo server's UI is protected and I cannot login. I tried doing the argo auth token, but it wouldn't take my token. Anything I need to do to set up access?

[2021-05-19 14:38] lucastheisen opened #5947 "Generating C# code from the Open API spec results in code that fails desrialize"
## Summary

Generating C# API from the [Open API spec](https://github.com/argoproj/argo-workflows/blob/master/api/openapi-spec/swagger.json) results in code that fails to deserialize results because certain `DateTime` values are occasionally `null`.

[code]

## Diagnostics

What Kubernetes provider are you using?

OpenShift 4.7

What version of Argo Workflows are you running?

Argo 3.0.4

As this

[2021-05-19 15:00] rwong2888 opened #5948 "privileged not recognized"
I am following the guide in https://argoproj.github.io/argo-workflows/workflow-pod-security-context/

I am getting linting errors. Also, I do not see privileged applied to the pod.

I am using argo v3.1.0-rc5, but the same behaviour occurred with v3.0.3 and v3.0.4

[code]

[code]

[2021-05-19 15:16] alexec commented on #5947
I think we do something similar for Java. Maybe check out that SDK?

[2021-05-19 15:17] alexec commented on #5934
I’d like to know if this is a regression. If so, it is higher priority to fix.

[2021-05-19 15:30] #5948 closed, assigned to nobody

[2021-05-19 15:30] alexec commented on #5948
Documentation is wrong - corrected.

[2021-05-19 15:38] rwong2888 commented on #5948
@alexec , where should I set ```privileged: false```? I think for container spec it should be fine... but what about script spec?

[2021-05-19 16:08] rwong2888 commented on #5944
I was able to login with the argo & argo-server tokens with the documentation listed in https://github.com/argoproj/argo-workflows/blob/master/docs/access-token.md

[2021-05-19 16:08] #5944 closed

[2021-05-19 17:05] mmckane commented on #5235
Can we reopen this? This blocks using git artifacts with azure devops..

[2021-05-19 22:35] wreed4 commented on #5310
This seems to still be broken, see details here: https://github.com/argoproj/argo-workflows/pull/5311#issuecomment-844541935

[2021-05-20 02:49] Stevenyu1982 commented on #5832
do we have any update on this?

[2021-05-20 05:29] yuvaldrori commented on #5434
I was able to get cron workflows to work by changing `containerRuntimeExecutor` from `docker` to `k8sapi` in the `workflow-controller-configmap`.

[2021-05-20 05:59] michael132 opened #5953 "Allow specifying the payload key for groups claim"
# Summary

Currently in `v3.0.3`, it is [hardcoding](https://github.com/argoproj/argo-workflows/blob/4e450e250168e6b4d51a126b784e90b11a0162bc/server/auth/types/claims.go#L7) the key `groups` for the `groups` claim.
 It would be very helpful to allow this to be configurable.

# Use Cases

In our case, our key is `ad_groups` instead of `groups`. This causes argo workflows to not able to read the gro

[2021-05-20 06:43] orrymr commented on #5878
I'm happy to give this a shot; I will try get to it as soon as I can. Of course if someone else picks it up in the meantime, I won't hold a grudge 😃

[2021-05-20 11:06] boonware opened #5956 "Allow staggering of cron workflows with identical schedules"
# Summary

Allow cron workflow schedules to be set up in such a way that multiple workflows with identical schedules don't all start at the exact same time. This will prevent sudden surge in loads. Jenkins supports this feature, see [here](https://stackoverflow.com/questions/47302607/meaning-of-h-5-in-cron-jenkins) for a description.

# Use Cases

The controller could use this mechanism  to stagge

[2021-05-20 11:57] MuhammadZeeshan34 commented on #3168
Did anyone found a way to pass the outputs from spark operator to argo workflow?

[2021-05-20 12:06] amitm02 opened #5957 "Expression of format asInt(inputs.parameters["my-int-param"]) do not work"
Variable expression of format `asInt(inputs.parameters["my-int-param"])`, as appears in the docs do not work.
Formats of format `asInt(inputs.parameters['count-count'])` do work.

Argo V3.1-rc5

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-05-20 14:27] Hunter-Thompson commented on #5935
Will try to replicate on a dev cluster, and get back to you. I solved this issue on our prod cluster by removing the non standard cron syntax.

[2021-05-20 15:01] alexec commented on #5957
Please can you attach the error message.

[2021-05-20 15:02] alexec commented on #5953
Would you like to submit a PR to add this?

[2021-05-20 15:03] alexec commented on #5832
No. Would you like to submit a PR to link to the help page?

[2021-05-20 18:27] #5861 closed

[2021-05-20 18:27] alexec commented on #5861
Not required due to lack of micro-service architecture.

[2021-05-20 18:45] wreed4 opened #5958 "Support spaces in success/failure Condition"
# Summary

success or failure condition should be able to express something like
[code]

# Use Cases

I'm trying to use `resource` templates to test the status of `ExternalSecrets` https://github.com/external-secrets/kubernetes-external-secrets.  I want to validate that certain secrets fail to be provisioned.  The error they display in that case is `ERROR, Secrets Manager can't find the specified

[2021-05-20 20:17] andizzle opened #5960 "Step occasionally fails when render parameters in another parameter"
## Summary

What happened/what you expected to happen?
We have a special workflow that does the following steps:
1. extract a k8s manifest from configMap, the manifest has Argo parameters embedded.
2. Submit the manifest to k8s

Here's a snippet of the manifest stored in k8s:
[code]

This configMap is retrieved by a step like this and passed to the next step to be submitted to k8s:
[code]

Where `

[2021-05-21 00:06] samath117 commented on #5873
I ran some more tests and it appears that the only reason the `exit-handler` behaves differently is because it is a layered template receiving the output. In summary, the issue happens when:
- The receiving template has 1 layer and the setting template has 2 or more layers.
- The receiving template has 2 or more layers and the setting template has 3 or more layers.

(The rule isn't a direct compar

[2021-05-21 03:11] Stevenyu1982 commented on #5832
@alexec  I am also facing this error, and looking for helps now :(

[2021-05-21 07:15] michael132 commented on #5953
I am not efficient enough in Go to get this done in the most elegant way. Does anyone have any cycles? I am currently just hack it and build the `argocli` image that we use.

[2021-05-21 07:21] Kraego opened #5964 "Use Azure DevOps Git Artefacts with PAT"
# Summary

Connect a private AzureDevOps Git Repo, with PAT (Combined Token: Authenticity + Secret). As the documentation stated, I tried:
_Then, connect the repository using any non-empty string as username and the access token value as a password._
where I used the PAT as access token.

The Error I'm getting on the argOCD Side: git did not exit cleanly (exit code 128)

# Use Cases

When having t

[2021-05-21 07:26] Kraego commented on #5964
Spawned from [#5235](https://github.com/argoproj/argo-workflows/issues/5235).

[2021-05-21 08:01] jopfeffe commented on #5811
Sorry for the late response, I missed the 3.0.4 release. Indeed the "pod deleted" problem is solved. However still something unexpected is going on.
When the workflow is started all pods of the loop are scheduled at the same time. I think that this is also related to the pending state of the pods. If “parallelism” is low enough to fit the available cpu limit pods are only created if others are fin

[2021-05-21 13:39] sestegra opened #5965 "Add x86_64_linux bottle on linuxbrew-core"
# Summary

`x86_64_linux` bottle isn't defined on [linuxbrew-core](https://github.com/Homebrew/linuxbrew-core/blob/master/Formula/argo.rb)

# Use Cases

- Install `argo` on Linux with `brew` command line without compiling

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-05-21 13:50] christopheblin opened #5966 "Archived workflows : no logs available in the Argo UI"
## Summary

What happened/what you expected to happen?

After a workflow is archived, I can see it in the list , I can see the dag but I have an error when I see the logs

I expect to be able to see the logs of an archived workflow

This happens for error and success

Here is a short video

https://user-images.githubusercontent.com/11044877/119147011-7bf68880-ba4b-11eb-88b9-f288902b044e.mov

The f

[2021-05-21 14:17] lucastheisen commented on #5947
@alexec i am having trouble following the [java sdk generation](https://github.com/argoproj-labs/argo-client-java/blob/master/Makefile), so i have a few questions if you have time to answer them.

Specifically, there are some _seemingly_ arbitrary choices for name qualifiers to strip:

[code]

Which leaves some argo names shortened (ie: [`Workflow`](https://github.com/argoproj-labs/argo-client-jav

[2021-05-21 14:54] Madurad commented on #2492
Hi, I'm also facing the same issue, when I try to attach my kubeconfig I get the following error now,

`argo version --kubeconfig /mnt/c/Users/madur/.kube/config`

error :
`FATA[0000] invalid configuration: [unable to read client-cert /mnt/c/Users/madur/.kube/C:\Users\madur\.minikube\profiles\minikube\client.crt for minikube due to open /mnt/c/Users/madur/.kube/C:\Users\madur\.minikube\profiles\mi

[2021-05-21 15:11] kulinskyvs commented on #5966
I'm facing the same issue with 3.0.2 version

[2021-05-21 15:35] alexec commented on #5966
This is a small bug in line 225 of `workflow-service.ts`:

[code]

@dcherman (original author) @kulinskyvs @christopheblin would you be interested in submitting a PR to fix this?

[2021-05-21 15:36] alexec commented on #2492
Please make sure you have the latest version of the CLI.

[2021-05-21 15:39] alexec commented on #5947
No, I don't think it is desirable. It should be fixed, this is a new feature which is probably why it was overlooked.

I wonder if this could be better fixed in the generation of the swagger? Have you taken a look at how this works today?

I'm not much of an expert on this I'm afraid?

[2021-05-21 15:42] alexec commented on #5965
I did not know brew worked on Linux.

We update as follows:

[code]

The formula is here:

https://github.com/Homebrew/homebrew-core/blob/master/Formula/argo.rb

Would you like to submit a PR to change it?

[2021-05-21 15:45] alexec commented on #5953
Given that (a) core team is currently <50% capacity and (b) he core team does not use `ad_groups` it is unlikely to be picked up anytime soon.

Check out the CONTRIBUTING.md to find out how to contribute.

[2021-05-21 15:59] thiago4int opened #5967 "GKE Workflow pending on running phase (multiple argo versions)"
## Summary

Even building a new gke cluster from scratch and trying multiple argo versions the workflow keeps hanging without a ready status.

## Diagnostics

1.19.9-gke.1400
What version of Argo Workflows are you running?
EDIT: 3.1, 3.0.4, 3.0.3, 3.0.2, 2.12 and 2.12.9.

[code]

https://drive.google.com/file/d/19GbrhuPtnJtg-Rk6gvJ5tqu9vI3VTrIy/view?usp=sharing

---

**Message from the maintainers

[2021-05-21 16:33] lucastheisen commented on #5947
If it does get fixed in the swagger generation, it would ensure all generated code has common _feel_, so yeah, this would be ideal.

I have not.  Right now i am still trying to figure out the code generation side.  Cant get [`nullable`](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.0.md#schemaNullable) to work, tried:

[code]

but failed:

[code]

So had to settle for the `--

[2021-05-21 16:40] alexec opened #5969 "v3.0.5"
`git log --oneline -n10 --grep ^fix master `

- [x] d55a8dbb8 feat(controller): Add liveness probe (#5875)
- [ ] 46dcaea53 fix(controller): Lock nodes in pod reconciliation. Fixes #5979 (#5982)
- [x] 60b6b5cf6 fix(controller): Empty global output param crashes (#5931)
- [x] 453086f94 fix(ui): ensure that the artifacts property exists before inspecting it (#5977)
- [ ] 7b54b182c small fixes of spel

[2021-05-21 16:58] thiago4int commented on #5967
Not working on v3.1.0-rc6 as well

[2021-05-21 17:08] sestegra commented on #5965
PR https://github.com/Homebrew/linuxbrew-core/pull/23282

[2021-05-21 17:09] alexec commented on #5967
Can you try v2.12?

[2021-05-21 17:26] thiago4int commented on #5967
@alexec
Changed the error. Now I have this output:
https://drive.google.com/file/d/1kG3rfdxmvbcyA9zo4YQueB0szpV4j3Zo/view?usp=sharing

[2021-05-21 18:26] tszngai opened #5972 "Workflow marked success even when a step failed"
## Summary

What happened/what you expected to happen?

As shown in the screenshot below, the workflow was marked green (success) even when a step failed. What I would expect is that any failed step would fail the whole workflow (given that `continueOn` is not used). This seems to be a race condition issue. Sometimes it does fail the whole workflow but sometimes it does not.

![image](https://user

[2021-05-21 19:01] alexec commented on #5972
You're using an unsupported version. Please try v2.12.11 or v3.0.4.

[2021-05-21 19:54] sestegra commented on #5965
PR done, waiting for merge

[2021-05-21 20:10] alexec commented on #5967
OK. So issue with GKE. Can I ask you try a different executor, e.g. `k8sapi` or `pns`?

[2021-05-21 20:36] thiago4int commented on #5967
@alexec
Sure, I will try to reproduce the same on a different environment. Is there any possible workaround?

@caueasantos
Can you tell me which version of argo you run on GKE and which version and image of the nodes?

[2021-05-21 21:13] thiago4int commented on #5967
@alexec
Is there any docs or even a template in order to change the executor on the configmap? The most intriguing part is that nothing was changed before this error became permanent.

[2021-05-21 21:30] thiago4int commented on #5967
@alexec
Workaround:
- downgrade 1.18.17-gke.100
- Ubuntu with Docker as the container runtime
- Argo 3.0.2

Works for me

[2021-05-21 21:31] caueasantos commented on #5967
Sure.

[code]

[2021-05-21 21:38] thiago4int commented on #5967
@caueasantos
What about your container runtime? Have you ever tried Container Optimized OS?

[2021-05-21 23:50] thiago4int opened #5976 "GKE Containerd images and GKE >1.19"
# Summary

Sooner or later, Google will force users to adopt containerd as a runtime and discontinue Ubuntu images with Docker runtime. No cluster created with version 1.19 is guaranteed to continue operating Argo Workflow. It would be interesting to have a fix or some guide for Google users.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with

[2021-05-22 05:46] Madurad commented on #2492
@alexcapras it worked for me the version: argo: v3.0.4, thanks a lot for the help 👍

[2021-05-22 09:13] sestegra commented on #5965
PR merged

[2021-05-22 09:13] #5965 closed

[2021-05-22 10:08] #5354 closed

[2021-05-22 10:08] #5367 closed

[2021-05-22 10:08] #5341 closed

[2021-05-22 10:21] laymain commented on #5463
Any update on the second issue?

[2021-05-22 14:04] wreed4 commented on #4623
Just found this issue, I'm trying to do something similar, but I'm trying to parameterize the "readOnly" field on a volumeMount.  Not conditionally add a volume, but conditionally mount it as read-only.  these kinds of things crop up a lot when trying to write library templates.  Is there a way to do this?  I'm getting a message saying it failed during the merge, but seemingly no actual error from

[2021-05-22 14:13] wreed4 commented on #4623
Never mind!! I think I solved it.
[code]

[2021-05-22 16:13] caueasantos commented on #5967
I've been using containerd for a long time

[code]

[2021-05-23 03:08] dcherman commented on #5966
Sure, fix incoming.  That said, the original bug makes it sound like there were supposed to have been archived logs for this, meaning that the `artifacts` property should have existed.  Even with the bug here fixed, this function would have returned `false`.

[2021-05-23 03:08] dcherman commented on #5966
Sure, fix incoming.  That said, the original bug makes it sound like there were supposed to have been archived logs for this, meaning that the `artifacts` property should have existed.  Even with the bug here fixed, this function would have returned `false`.

[2021-05-23 16:17] #5966 closed

[2021-05-24 02:53] joyciep opened #5978 "Support for configmaps in `withItems` and `withParam` of loops"
# Summary

What change needs making?

Add a way to reference values from configmaps in `withItems` / `withParam` in loops. Something like

[code]

[code]

# Use Cases

When would you use this?

My usecase is to reuse an existing configmap used by other deployments and I can easily change the configuration across my workflows and deployments.

---

**Message from the maintainers**:

Impacted by thi

[2021-05-24 06:14] amitm02 opened #5979 "fatal error: concurrent map read and map write when workflow reaches large amount of nodes"
Once an Argo workflow get large (Fan out to ~3551 nodes), the Argo controller (V3.1-rc5) crashes with
"fatal error: concurrent map read and map write"
[controller-crash.txt](https://github.com/argoproj/argo-workflows/files/6530205/controller-crash.txt)

Postgres and Minio pods seem fine.
if relevant, pod strategy was set to:
[code]

---

**Message from the maintainers**:

Impacted by this bug? Giv

[2021-05-24 09:05] amitm02 opened #5980 "Wait container stuck and hang the workflow after "failed: Cannot connect to the Docker daemon""
## Summary

What happened/what you expected to happen?
On some occasions the Wait container is stuck in
`State:          Running`
if it experience:
`Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?"`

## Diagnostics

What Kubernetes provider are you using?
GKE

What version of Argo Workflows are you running?
V3.1-rc5

What executor are you running?

[2021-05-24 10:04] amitm02 commented on #5957
` ✖ loops-sequence-82rjc  loops-sequence                     strconv.Atoi: parsing "{{=asInt(inputs.parameters[\"count-count\"])}}": invalid syntax`

[2021-05-24 10:37] christopheblin commented on #5966
@alexec @dcherman

does this fix will displays the logs ?

or does something need to be done at the artifact repository level ?

[2021-05-24 10:51] amitm02 opened #5981 "Workflow of Workflows example does not work on V3.1-rc5"
## Summary

Problem running workflow of workflows (https://argoproj.github.io/argo-workflows/workflow-of-workflows/).
Following the instructions, parent workflow fails with

[code]

## Diagnostics

What Kubernetes provider are you using?
GKE

What version of Argo Workflows are you running?
V3.1-rc5

What executor are you running? Docker/K8SAPI/Kubelet/PNS/Emissary
Emissary

[child-wf.yaml.txt](htt

[2021-05-24 12:03] NightmareCinema commented on #4804
@alexec Issue still persists in `v3.0.2` when using GKE's built-in Ingress controller.
Even attempting to lower/increase the `BackendConfig` resource `timeout` field proved not to make a difference.

[2021-05-24 12:12] tim-sendible commented on #5966
Using 3.1-rc6, I cannot see any logs using the UI. I just get "artifact not found".
No errors in the server or controller logs... in fact all the logs I can see suggest that the artifacts have uploaded successfully.

[2021-05-24 12:32] rajatvig commented on #4804
Using v3.0.4 and it still persists

[2021-05-24 13:51] dcherman commented on #5966
There is likely some other issue here as well - the bug that I patched was legit, but as I mentioned, it would have returned `false` even with my patch which indicates that the workflow has no archived logs (and actually since it threw an exception here, indicates no artifacts at all).

I'd probably re-open this or maybe file another bug for that.  As for some debugging steps, I think one of the f

[2021-05-24 13:53] tim-sendible commented on #5966
If it helps, I have confirmed that the artifact logs are definitely uploaded. Here's how I proved it:

- Install v3.1-rc6 and run a workflow. When completed look at the archived logs (user just gets the error "artifact not found")
- Downgrade to v3.0.4, view that completed workflow in the UI and look at the archived logs.

[2021-05-24 13:54] tim-sendible commented on #5966
Happy to raise a new bug if that helps keep things clean?

[2021-05-24 14:42] alexec commented on #5957
I think you need to use single quotes.

[2021-05-24 14:42] alexec commented on #5980
Please try using the PNS executor.

[2021-05-24 14:56] alexec commented on #5966
This bug is closed. Please raise a new bug for other issue.

[2021-05-24 14:56] amitm02 commented on #5980
@alexec
Would you like me to try with PNS to better investigate the situation or as a solution?
We are using Container Set..

[2021-05-24 14:59] #5912 closed

[2021-05-24 14:59] #5843 closed

[2021-05-24 15:00] alexec commented on #5811
This issue is fixed. Please open a new issue for other problems.

[2021-05-24 15:00] amitm02 commented on #5957
in this case, the documentation needs to be updated as it appears there with double-quotes.
https://argoproj.github.io/argo-workflows/variables/#expression

[2021-05-24 15:01] alexec commented on #5980
You should not use container set with any executor other than the emissary, so you must use that.

[2021-05-24 15:01] alexec commented on #5957
Would you like to update the docs please?

[2021-05-24 15:08] tim-sendible opened #5983 "Can't view archived logs in UI"
## Summary

What happened/what you expected to happen?

User cannot view the logs in 3.1rc6 (also tested in rc5) despite the fact they are there.

- Enable log archiving.
- Install v3.1-rc6 and run a workflow. When completed look at the archived logs (user just gets the error "Artifact not found")
-  Downgrade to v3.0.4, view that completed workflow in the UI and look at the archived logs.

## Dia

[2021-05-24 15:12] amitm02 commented on #5980
I know.. this why I've asked if you want me to try the PNS executor to help and see if the problem is unique to Emissary.
Or, if you suggested PNS as a solution, which is problematic for us as we plan to use Container Set.

I did encounter the issue a few times. If for some reason the Wait Container cannot connect docker.sock in any the workflow nodes, the workflow is stuck for good.
Not sure how

[2021-05-24 15:15] amitm02 commented on #5957
sure, I'll try to get to it tomorrow.

[2021-05-24 15:20] #5868 closed

[2021-05-24 15:28] rwong2888 opened #5984 "workflow default security context hangs pod"
argo: v3.1.0-rc5

Adding pod security context causes argo wait container to hang. Missing docker socket permissions.
Is this expected behavior? Does adding security context make pod non-privileged?

[code]

[code]

workflow default

[code]

With pod security context

[code]

Without pod security context

[code]

References:
* https://argoproj.github.io/argo-workflows/default-workflow-specs/
* http

[2021-05-24 16:30] alexec commented on #5984
There's little point in using pod security context with the docker executor, you're already running in god-mode with this executor. Instead, please use another executor.

[2021-05-24 16:31] alexec commented on #5983
Can you confirm if the problem is that the logs are not viewable (UI issue) or they were never stored in the bucket?

[2021-05-24 16:32] alexec commented on #5980
This is a configuration error:

`executorType=emissary9`

???

Must be `executorType=emissary`

[2021-05-24 16:40] tim-sendible commented on #5983
They are not viewable. They save fine.

[2021-05-24 16:42] sdmcclain commented on #5976
I recently installed Argo into a new GKE cluster and hit a snag (workflows hanging in Running state) before stumbling on this issue. I updated the Image type to `Ubuntu with Docker (ubuntu)` and things are running smoothly (thanks @thiago4int ).

It might be worth putting a note in the docs to bring this to new users' attention when creating GKE clusters.

[2021-05-24 17:02] #5979 closed

[2021-05-24 17:23] amitm02 commented on #5980
it seems to a slip of a keyboard when pasting the logs. it is the emissary executor.
I'll re-run to make sure that is the case.

[2021-05-24 17:29] alexec commented on #5983
@tim-sendible would you be willing to investigate, maybe with @dcherman help? The core team is short-staffed at the moment.

[2021-05-24 20:17] alexec commented on #5969
https://argoproj.github.io/argo-workflows/releasing/

[2021-05-24 20:32] #5969 closed

[2021-05-24 21:14] christopheblin commented on #5966
@tim-sendible could you please mention this bug if you open a new one so I can watch it

@alexec you closed the bug but you did not provide any answer for

Is it needed ? why the persistence db is not  used as a storage for the logs ?

Should I also open another bug for the doc (but I do not know what to use as descritpion beside this bug...) ?

[2021-05-24 23:15] max-sixty commented on #5976
Does this mean that "Container-Optimized OS from Google" isn't supported? We've been running Argo on that without any issues for a year now.

[2021-05-24 23:21] #5834 closed

[2021-05-25 02:22] #5811 closed

[2021-05-25 02:23] alexec commented on #5463
@laymain can you please open a new issue for your second issue?

[2021-05-25 02:23] #5463 closed

[2021-05-25 02:24] alexec commented on #5075
Would anyone like to submit a PR to fix this?

[2021-05-25 03:16] jixiangyiyi opened #5993 "'invalid spec: templates.start-point.tasks.2e28bd01-bd05-11eb-ada6-7354cd06d1c4 name cannot begin with a digit when using either ''depends'' or ''dependencies'''"
## Summary

What happened/what you expected to happen?
the workflow work fine in version argoproj/workflow-controller:v2.*.*, and it does not work in version argoproj/workflow-controller:v3.*.*
## Diagnostics

What Kubernetes provider are you using?
[code]

What version of Argo Workflows are you running?
[code]
What executor are you running? Docker/K8SAPI/Kubelet/PNS/Emissary

Did this work in a p

[2021-05-25 03:21] terrytangyuan commented on #5993
Your workflow name starts with a digit “11585fce...”. Changing that starting with a letter would probably fix it.

[2021-05-25 03:47] #5939 closed

[2021-05-25 05:20] thiago4int commented on #5976
@max-sixty Container-Optimized OS with Containerd won work for me

[2021-05-25 08:17] yoichiwo7 opened #5995 "Default auth mode is not set to "server""
## Summary

After updating Argo Workflow from v3.0 to v3.1-rc7, we were experiencing `"token not valid for running mode"` error when accessing argo-server's Web UI. This error always redirected us to Login page.

Although the following document indicates the default auth mode is set to `server`, it seems like the default auth mode is set to `client` and this behavior was causing the error.
https:/

[2021-05-25 09:17] christopheblin opened #5996 "Archived workflows : no logs without artifact repo ?"
## Summary

This issue is a followup to #5966 that has been closed to say that argo ui does not fail to display logs when there is no artifacts

however, the documentation https://argoproj.github.io/argo-workflows/workflow-archive/ only says that you need to enable database to have archives, not that you also have to configure an artifact repository (and let's say that archives without logs are a

[2021-05-25 10:47] withnale opened #5997 "ResourcesDurations do not include daemon steps"
## Summary

The ResourcesDuration metrics should count the number of cpu and memory units used by a workflow. At present, these
ignore any steps which are marked as `daemon: true`.

## Diagnostics

This occurs on GKE running 1.19.x using argo-workflows v3.0.3

With the workflow included below, if you run the same workflow with the `cpu` parameter set to `low` the same resource metrics are obtained

[2021-05-25 13:00] anhdle14 commented on #5859
I recently tried to install the v3.0.1 on Docker-for-Mac and got `ERR_EMPTY_RESPONSE`. This post has been miss interpreted but the bug is there.

Current environment:

- Big Sur (11.3.1 Intel)
- Docker (20.10.6)
- Test both on Kubernetes and Kind.
- Steps to reproduce:
[code]

--> When try to access localhost:2746. This is the response:

<img width="604" alt="Screen Shot 0003-05-25 at 22 00 39" sr

[2021-05-25 13:08] terrytangyuan commented on #5993
Just realized that you are not using depends/dependencies at all so this is an issue with the code and should be fixed by https://github.com/argoproj/argo-workflows/pull/5998.

[2021-05-25 13:11] amitm02 commented on #5980
I've rechecked. The Wait container get stuck and hang the all workflow. this time the issue in the Wait container is different, the result is the same, the workflow hangs.
Perhaps a timeout feature for the Wait container is in order...

[code]

[code]

[2021-05-25 13:18] amitm02 opened #6000 "argo-server repeatable crash due to out of memory on big workflows"
## Summary

I've allocated argo-server (V3.1-rc7) 2.2GB of RAM.
When workflow reaches around ~6000 nodes, the Argo server crash with OOM.
After the crash, it keeps restarting due to OOM.
Using "watch" I was able to monitor the memory usage of argo-server from 10MB to around 1.4GB before it crashes.
I understand that argo-server will need more RAM for bigger workflows, but 2.2GB seems like a pretty

[2021-05-25 13:45] amitm02 commented on #6000
UPDATE:
Refreshing the browser (url: http://<domain>:/workflows?limit=500), causes the memory spike and crash.
Here is the memory monitoring.

[code]

[code]

[2021-05-25 14:51] dcherman commented on #5983
@tim-sendible Are you getting any network errors / HTTP 500s at all?  I haven't had time to dig into anything really, but I did notice that with the code in master, the log viewer fails to load logs.  It's seemingly due to the following commit:

https://github.com/argoproj/argo-workflows/commit/284adfe16aeb11536a1c98f1956fdeb76dac4f1c

Where the main-logs is misidentified as an input artifact.  Th

[2021-05-25 14:57] rwong2888 commented on #5984
Would this be resolved migrating to containerd?

[2021-05-25 15:03] rwong2888 opened #6002 "controller liveliness failing"
v3.1.0-rc7

Not doing anything and the controller is restarting

[code]

[code]

[2021-05-25 15:14] alexec commented on #6002
This was fixed in v3.1.0-rc8, but the build failed and this did not publish. Re-running the build now.

[2021-05-25 15:14] #6002 closed

[2021-05-25 15:15] alexec commented on #5984
I don't think so. The docker executor invokes `docker` which speaks to the docker socket. If your goal is security, I don't think this is the correct approach.

[2021-05-25 15:16] tim-sendible commented on #5983
@dcherman I have not seen any network errors at all. I will try and find time tomorrow to reinstall the latest RC and try again.

[2021-05-25 15:18] alexec commented on #5983
@dinever it seems your commit has introduced a regression. Would you please be able to investigate?

[2021-05-25 15:19] alexec commented on #6000
This sounds like a memory leak.

Can you confirm if you've tested this in v3.0 and found the same issue?

[2021-05-25 15:25] alexec commented on #5980
The second paste is a different error. Unhelpfully, it is not providing detailed diagnostics.

Would it be possible for you to start your controller with debug logging enabled and re-run the workflow (this will also result in the executor running in debug).

[2021-05-25 15:26] alexec commented on #5859
Since v3.0, we listen on a TLS socket, you must use HTTPS in your URL.https://localhost:2746

[2021-05-25 15:27] amitm02 commented on #6000
We believe so, but I can not confirm 100%.
Pre 3.1 we had many other issues with big workflows, the server did crash, but I'm can not confirm it was due to the same reason.
Our current workflow relies heavily on 3.1 features so I can not simply run it on 3.0.

[2021-05-25 15:28] amitm02 commented on #5980
Sure.
Can you point me to documentation about how to run the controller with debug logging?

[2021-05-25 15:28] dinever commented on #5983
Sure, will look into it

[2021-05-25 15:31] alexec commented on #5996
The workflow archive is only for archiving workflows, not logs. It's a different thing, you need an artifact repository for your logs.

[2021-05-25 15:32] alexec commented on #5995
You are correct. As of a security audit in v3, the default auth-mode was changed to `client`. You'll need to override it to use `server` mode.

[2021-05-25 15:32] #5995 closed

[2021-05-25 15:39] alexec commented on #5980
just add `--loglevel=debug` to the command line args

[2021-05-25 15:40] alexec commented on #6000
@amitm02 if I create a debug build, could I ask you to test and capture some heap dumps?

[2021-05-25 15:45] amitm02 commented on #6000
Sure
On Tue, 25 May 2021 at 18:40 Alex Collins ***@***.***> wrote:

[2021-05-25 15:58] christopheblin commented on #5996
@alexec

PR for the documentation : https://github.com/argoproj/argo-workflows/pull/6005

what about using the database to store the logs  of the pods ?

I was thinking about something like tjis in the configmap :

    archive: true
    logs: true

my understanding is that artefacts are required to save specific data (like a specific file in a container) not to save all the outputs of all the pods

[2021-05-25 15:59] alexec commented on #6000
Excellent.

Can you run `argoproj/argocli:dev-pprof`. You'll need to enable the profiling tool by using `ARGO_SERVER_PPROF=true`. E.g. `ARGO_SERVER_PPROF=true ./dist/argo server`.

You should see this printed in the logs:

[code]

I'd like to see the "heap" and "allocs" profiles, both when the server is using not very much memory and when it is using a lot. Capture many if you like.

[code]

Chang

[2021-05-25 16:00] #5874 closed

[2021-05-25 16:01] alexec commented on #5996
For logs, you can save them as an artifact. Most enterprises simply dump all logs into Splunk or similar.

[2021-05-25 18:25] alexec opened #6008 "TestResourceTemplateStopAndTerminate test failing on master"
[code]

[2021-05-25 18:32] alexec opened #6009 "TestLoopEmptyParam failing on master"
[code]

[2021-05-25 18:34] alexec commented on #6008
Probably caused by #5951. @wreed4 can you tell me if you'll be able to look into this in the next couple of hours? If not, I'll have to revert your PR to prevent problems for other users.

[2021-05-25 18:34] alexec commented on #6009
Probably caused by #5994. @chazapis  can you tell me if you'll be able to look into this in the next couple of hours? If not, I'll have to revert your PR to prevent problems for other users.

[2021-05-25 18:36] chazapis commented on #6009
I'm on it now. If I can't fix it in the next couple of hours I'll let you know by then.

[2021-05-25 18:56] alexec commented on #6009
I'm actually not 100% that this is an issue now. I think the build probably got an old version of the `argoexec` image. Hold off for now.

[2021-05-25 18:56] #6009 closed

[2021-05-25 18:56] alexec commented on #6009
Appears back to green:
![image](https://user-images.githubusercontent.com/1142830/119553214-481fa980-bd50-11eb-90dd-e614d09e1d60.png)

[2021-05-25 18:57] chazapis commented on #6009
Ok. Great.

[2021-05-25 19:11] rwong2888 commented on #5984
Yes, I'm trying to add security.
The wait container looks like something argo is injecting for copying off artifacts and stopping containers.
So if it needs elevated privileges, is adding default security context moot?

[2021-05-25 19:18] alexec commented on #5984
It means that the wait container can start containers, and you can't prevent it. If you want security, you want to protect yourself from similar things. This is a trade-off, please read this guide

https://argoproj.github.io/argo-workflows/workflow-executors/

[2021-05-25 20:34] alexec commented on #6008
failing builds:

https://github.com/argoproj/argo-workflows/actions/workflows/ci-build.yaml?query=branch%3Amaster

[2021-05-25 20:34] alexec commented on #6008
[code]

[2021-05-25 20:37] alexec commented on #6008
[code]

[2021-05-25 20:38] alexec commented on #6008
OK. The real cause is:

Yuan Tang* Today 08:26 fix(executor): Fix compatibility issue with k8s>=1.21 when selfLink is no longer populated (#5992)

@terrytangyuan

[2021-05-25 20:42] alexec commented on #6008
Calculated URL is wrong:

[code]

[2021-05-25 20:46] alexec commented on #6008
@terrytangyuan the URL is wrong in your PR. It was not picked up by the CI because `test-cli` pulls the image from hub.docker, and `test-executor` does not have a test for this (which it probably should).

I will revert you commit because turning kind into resource is non-trivial.

[2021-05-25 20:53] terrytangyuan commented on #6008
Thanks for the note. I'll look into that separately with additional tests later.

Are we doing this because pulling from hub.docker significantly reduces the build time? It would be great if we could catch this in PR builds.

[2021-05-25 20:59] #6008 closed

[2021-05-25 21:00] alexec commented on #6008
Yes. Saves about 4m per build.

[2021-05-25 21:49] rwong2888 commented on #5984
Great! I will try pns!

[2021-05-25 21:49] #5984 closed

[2021-05-25 22:40] yoichiwo7 commented on #5995
@alexec
Thanks for the reply.
I still think it's a bug because default auth mode is different even in `v3` and no document refers to it.

- `v3.0.x`: Default auth mode is set to `server`.  (Tested with latest `v3.0.7`)
- `v3.1.x`: Default auth mode is set to `client`.

Both codes and documents must be fixed according to Argo Workflows' v3 decision. And if the default mode has been changed to `clie

[2021-05-26 08:11] christopheblin commented on #5996
@alexec

I configured a minio artifact repository (gateway to azure blob)

When I submit a workflow, I do not have the error anymore BUT  I still do not see the logs

![Capture d’écran 2021-05-26 à 09 54 52](https://user-images.githubusercontent.com/11044877/119623440-75c82980-be08-11eb-9a89-43c9ac2ce1a4.png)

So I suppose that when you said

Then, I must do something in order to archive the log

[2021-05-26 08:21] jixiangyiyi commented on #5993
hello @terrytangyuan

thanks a lot.

best regards,
Trevor

[2021-05-26 08:23] PacoDu commented on #5843
I confirm, the issue is fixed with 3.0.7. Thanks !

[2021-05-26 09:32] christopheblin opened #6015 "Argo UI : archived workflows > main logs > "Try getting logs from the artifacts" error"
## Summary

When you click on a pod of an archived workflow, you can click on "Main logs"

When you click on "Main logs" and the pod have been deleted by the ttlStrategy, you are seeing an empty window

Fine, this is explained that the logs do not appear when the pod has been deleted.

However, when you click on the message "Try getting the logs from the artifacts", it displays a 502 with my nginx

[2021-05-26 09:52] svmaris commented on #5983
Same problem here. The artifacts, including the logs, are in the S3-bucket but the UI shows a 502 Bad Gateway

error in the argo-server log:

[code]

[2021-05-26 09:52] svmaris commented on #6015
This is a duplicate of #5983

[2021-05-26 09:54] svmaris commented on #5983
Speaking of log artifacts: wouldn't it make more sense to automatically get the logs from the artifact repository when archiveLogs is enabled?

[2021-05-26 11:52] christopheblin commented on #5996
note that I am aware that I can use "pipe-tee" into a file + declare an ouput artifact (obviously, like a "normal" artifact)

however, I do not like the idea to change all my templates to do that just for the "sake" of archives, so I am looking to an "automatic" approach

if you are interested into the pipe-tee approach, have a look at https://github.com/argoproj/argo-workflows/blob/4e450e250168e6

[2021-05-26 12:15] svmaris commented on #5983
@dinever I think the problem is here:

https://github.com/argoproj/argo-workflows/blob/c8df5eae262223e8d32d740f43b8a7c013aba4ce/ui/src/app/shared/services/workflows-service.ts#L201

The download-URL for the logs is treated as an "input" artifact instead of an "output" artifact. In fact, if you replace `/input-artifacts/` with `/artifacts/` the logs download just fine.

[2021-05-26 13:17] DO-YardenG commented on #6000
Hi,
Attaching profile svgs for the following:
- normal load (53MB mem usage by server)
- medium load (580MB mem usage)
- High load (1288MB mem usage, right before crashing with OOM exceptions)
- crash load (1GB+ mem, after server pods starts OOM killed and restarts, which happens over and over again

[argo-issue-6000-svgs.zip](https://github.com/argoproj/argo-workflows/files/6546936/argo-issue-600

[2021-05-26 13:57] saranyaeu2987 commented on #3080
Looking for AWS Loadbalancer Controller. Any one has an example?

[2021-05-26 14:44] dinever commented on #5983
Thanks for the info @svmaris! I've opened #6019 for the fix.

[2021-05-26 15:32] #6015 closed

[2021-05-26 15:32] #5983 closed

[2021-05-26 15:34] christopheblin commented on #5983
@svmaris what is the 'archiveLogs' you are speaking about ? I'm looking into such a feature in #5996 but impossible to make it work ... (Pod failed: Error (exit code 1): key unsupported: cannot get key for artifact location, because it is invalid")

[2021-05-26 15:35] alexec opened #6024 "panic in argo server when artifact name unknown"
We should try to never panic, as this can crashes the application:

[code]

@dinever would you like to own this?

Just add some nil checks:

[code]

and also

[code]

[2021-05-26 15:37] dinever commented on #6024
Yep, I can take this. Thanks for creating!

[2021-05-26 15:39] alexec commented on #5996
I think you may have found a bug. Can you please attach the version you're using?

[2021-05-26 15:42] alexec commented on #5771
@marcstreeter any update?

[2021-05-26 15:42] alexec commented on #5934
@shrgabor any update please?

[2021-05-26 15:42] alexec commented on #5935
@Hunter-Thompson any update please?

[2021-05-26 15:48] alexec commented on #6000
Thank you. I can tell from the dump that you are using node offloading, and this appears to be one potential cause, can I ask:

* Is `ALWAYS_OFFLOAD_NODE_STATUS=true`. This is a debug flag and should NEVER be set.
* How many workflows do you have?
* How many nodes does each workflow have?
* How are you listing/watching workflows? Via the UI, or are you using the API?

[2021-05-26 15:49] christopheblin commented on #5996
I am using docker.io/argoproj/workflow-controller:latest from this morning in my TZ :)

how can I see version ? I tried to use logs/describe of argo-server and workflow-controller pods, but I cannot see a version there ...

[2021-05-26 17:11] DO-YardenG commented on #6000
Thanks for the swift reply!

- We do not use the `ALWAYS_OFFLOAD_NODE_STATUS` flag at all
(we do use `nodeStatusOffLoad: true` on our controller's configmap)
- Currently we only ever run a single workflow at a time (though 1-2 may still be present in the DB.
can confirm it happens even if the DB is empty)
- Generally around 8K-25K nodes.
the crash happens at around 4K-7K nodes completed with our c

[2021-05-26 17:23] dllehr81 commented on #3523
To add to what's said about clusters having different hardware, we have a use with clusters being different architectures as well.  `ppc64le` vs `x86_64` but could be for any.  We need to build packages on both, and publish to a single place.

Due to the nature of these packages using cross-compilers aren't an option, so we maintain two separate openshift clusters with their own argo instances etc

[2021-05-26 17:36] alexec commented on #6000
@DO-YardenG  My current hypothesis is JSON marshaling of offloaded data is causing your problem.

I've just pushed a fix to `dev-pprof`. This fix only "hydrates" workflows ("hydration" is when we go to the database to get the offloaded nodes) if those nodes will actually be returned via the API.

It can take up to 1h for your new image (`argoproj/argocli:dev-pprof`) to be published.

Could I pleas

[2021-05-26 17:50] DO-YardenG commented on #6000
Of course, i'll update once i finish testing!  :thumbsup:

[2021-05-26 18:15] svmaris commented on #5983
@christopheblin I configured archiveLog in a ConfigMap named "artifact-repositories":

[code]

For an example using the default minio storage backend, see https://github.com/argoproj/argo-workflows/blob/master/manifests/quick-start/base/artifact-repositories-configmap.yaml

[2021-05-26 19:51] Hunter-Thompson commented on #5935
Closing this for now, will reopen when I come back with some logs.

[2021-05-26 19:51] #5935 closed

[2021-05-26 21:46] alexec opened #6028 "v3: transient errors choking controller"
It appears that resource quota errors in one namespace result in the controller being choked with re-queues.

[2021-05-26 21:51] alexec commented on #6028
[code]

[2021-05-26 22:25] alexec commented on #6028
This was caused by too many workflows.

[2021-05-26 22:25] #6028 closed

[2021-05-26 23:26] rwong2888 opened #6030 "pns executor w/ security context not working with vault injector"
I'm using vault injector with pns executor. It works fine until I add security context to not run as root. Vault sidecar container not getting killed. Details below.

[code]

[code]

[code]

[2021-05-27 00:11] alexec commented on #6030
@rwong2888 I've create a fix for you problem.

Could I ask you to test it?

You'll need to use `argoproj/argoexec:dev-root` as your executor image.

[2021-05-27 00:21] brews commented on #5976
@max-sixty it works, but there can be a few key snags. I've seen workflows stick around in the Running state long after they've completed on GKE 1.19 with Argo Workflows configured for the Docker executor, like sdmcclain is describing.

[2021-05-27 00:30] alexec commented on #5914
@DhairyaBahl I've someone else who'd like to work on this if you don't plan to?

[2021-05-27 05:46] tim-sendible commented on #5983
I can confirm that this is resolved in 3.1.0-rc9. Thanks all.

[2021-05-27 06:26] christopheblin commented on #5996
The correct way to have automatic logs is to use the configmap (either controller CM or a new artifact-repositories CM), see https://github.com/argoproj/argo-workflows/issues/5983#issuecomment-849010919

@alexec unless you suspect another problem, you can close this issue (and thank you for the support 👍 )

[2021-05-27 11:16] jopfeffe opened #6034 "Workflow loop creates all pods at the same time if pods are in pending state"
## Summary

This Bug was already described as part of #5811.

When a workflow containing a loop is started and there are pending pods due to resource limits all pods are created at the same time.

If “parallelism” is set low enough to fit the available resource limits pods are only created if others are finished. I would expect the same behavior for pending state pods to avoid flooding the cluster

[2021-05-27 12:24] girishrao commented on #3551
@aviklai Did upgrading to 2.12.3 resolve this issue for you? Thanks.

[2021-05-27 12:57] aviklai commented on #3551
@girishrao Hi, yes - I think so.
I am on 2.12.3 and so far I didn't encounter this issue again.

[2021-05-27 13:01] rwong2888 commented on #6030
Looks improved, but unable to kill

[code]

[2021-05-27 15:06] sanzenwin commented on #3619
Thanks 💯

[2021-05-27 15:30] DO-YardenG commented on #6000
It does indeed fix the issue as far as i can tell! 😃
We are not getting any high memory peaks (nothing above 600MB), and the server does not crash consistently anymore while refreshing the UI. (it does still crash once in a while, but not for the same actions, i'll try and debug it separately.)

attached are the heap/allocs SVG's from our latest testing:
- no-load (22MB, no workflows running)
- no

[2021-05-27 15:37] christopheblin opened #6036 "failed to resolve {{workflow.parameters}}"
Trying to submit the following template

[code]

Gives the error :

`Unsuccessful HTTP response: templates.hello-main.steps[0].hello templates.hello-hello: failed to resolve {{workflow.parameters}}`

Using latest image of both server and controller

Base don https://github.com/argoproj/argo-workflows/blob/master/docs/variables.md#global, it is supposed to be a global var available everywhere

Anyt

[2021-05-27 15:42] alexec commented on #6036
Your workflow does not have any parameters?

https://argoproj.github.io/argo-workflows/examples/#parameters

[2021-05-27 15:43] alexec commented on #6000
Awesome. Thank you for testing.

[2021-05-27 16:07] alexec commented on #6030
OK. So we need to do more. Not only does the `argoexec` binary not have the permission to read the other user's file, but it also does not have permission to kill it. I suspect you need both.

I've just pushed changes that logs out more diagnostics (group/user ID/group ID). Could you please run it?

@jessesuen any thoughts on this?

[2021-05-27 16:10] alexec commented on #6034
I think you're saying that if we have a loop, and pods are creating in the pending state, we should not create other pods until those first pods are complete?

I'm not sure this is possible, the Kubernetes API returns the new pod, and it will be in pending, but we may not know why it is in pending.

Parallelism is the right solution for limiting the number of running pods.

[2021-05-27 16:11] alexec opened #6037 "better multi-tenancy: limit workflows running on a per-namespace basis"

[2021-05-27 16:12] #5996 closed

[2021-05-27 16:23] rwong2888 commented on #6030
Waiting for new image to build. In the meantime, if anyone needs to follow along.

Added executor to pull always to workflow-controller-configmap

[code]

Added dev-root image to workflow-controller deployment.

[code]

[2021-05-27 16:52] #6000 closed

[2021-05-27 17:00] vcarluer commented on #5943
Hello,

please find attached one of our [workflow.]

[github_workflow.txt](https://github.com/argoproj/argo-workflows/files/6555627/github_workflow.txt)

[2021-05-27 19:06] saranyaeu2987 opened #6038 "Empty response from argo-server load balancer"
## Summary

exposed argo-server (in AWS EKS) as a class load balancer. curl to load balancer resulted in curl: (52) Empty reply from server. No errors reported in logs

## Diagnostics

EKS K8S version: 1.19
argo workflows: 3.0.3
Did this work in a previous version? 2.11. yes

**`curl http://internal-aadaef732edc04a9c8c4c6194dc26118-1332003381.us-east-1.elb.amazonaws.com:2746 -v`**

**`kubectl desc

[2021-05-27 19:11] rwong2888 commented on #6030
[code]

[2021-05-27 19:22] alexec commented on #6030
[code]

I'm not sure this is fixable, the injected sidecar will be running with another user ID presumably?

Can you confirm?

[2021-05-27 19:23] alexec commented on #6038
Please check  https://argoproj.github.io/argo-workflows/faq/

[2021-05-27 19:30] alexec commented on #4561
This can be achieved using resource quotas. While resource quotas are limited, not whole cluster, I hope that works for most use cases:

https://kubernetes.io/docs/concepts/policy/resource-quotas/

I think it would be like:

[code]

[2021-05-27 19:32] rwong2888 commented on #6030
I exec'd into the vault sidecar and see this.

[code]

I think I can change the user with an annotation:
https://www.vaultproject.io/docs/platform/k8s/injector/annotations#vault-hashicorp-com-agent-run-as-user
https://www.vaultproject.io/docs/platform/k8s/injector/annotations#vault-hashicorp-com-agent-run-as-same-user

[2021-05-27 19:56] terrytangyuan commented on #5943
I am not sure if I understand your question here. `RESOURCE_STATE_CHECK_INTERVAL` is for configuring the interval in main container/executor. This is only for resource type steps and there's no wait container since main container is used to watch the status of the resource instead.

[2021-05-27 19:59] rwong2888 commented on #6030
I was able to progress further with below set up. But it is now failing on output results.

[code]

[code]

[code]

Side note:

run-as-same-user yields below.

[code]

[2021-05-27 20:26] vcarluer commented on #5943
I have a wait container running in each pod running argoprog/argoexec watching the main execution. Maybe I missed an option to disable this behavior ans use only the main?

[2021-05-27 20:32] terrytangyuan commented on #5943
Then you are not using resource type steps which is what `RESOURCE_STATE_CHECK_INTERVAL` can be used for. A minimal and reproducible example YAML would help here to illustrate your use case.

[2021-05-27 20:39] #5806 closed

[2021-05-27 20:39] #5256 closed

[2021-05-27 20:39] #5727 closed

[2021-05-27 21:02] alexec commented on #6030
This looks like the vault webhook is preventing creating of the workflow pod?

[2021-05-27 21:08] rwong2888 commented on #6030
The side note is just informative.
I was able to get past the vault issues in the git-clone step by setting the uid and gid for the vault container.
However, my workflow is now failing on ```cannot fetch result from <nil>```

[code]

[2021-05-27 21:15] vcarluer commented on #5943
I think that the sample Diamond have this behavior too. I would need to rerun it tomorrow to confirm. https://github.com/argoproj/argo-workflows/blob/master/examples/dag-diamond.yaml

[2021-05-27 21:37] sarabala1979 commented on #6036
here the list of supportable variables and convention https://github.com/argoproj/argo-workflows/blob/516c54a7f04e6a0042028674c5b172fbc8efdd5b/docs/variables.md

[2021-05-27 21:39] alexec commented on #6030
wait container logs?

[2021-05-27 21:40] rwong2888 commented on #6030
I reverted the executor back to v3.1.0-rc8 and it is failing on kaniko step.

Kaniko needs to run as root, but is not overriding the workflow defaults.

[code]

[code]

[code]

[2021-05-27 22:34] #4888 closed

[2021-05-27 23:07] #6037 closed

[2021-05-27 23:07] #5817 closed

[2021-05-27 23:54] deepk2u commented on #4888
@alexec We want to rate-limit the number of pods created so that there is less load on the underlying k8s cluster.

for example, if the parallelism is set to 1000, it should execute 50 pods in one go and then 50 next time.

[2021-05-28 01:44] pomadchin opened #6041 "The Access Key Id you provided does not exist in our records issue"
## Summary

Randomly, the deployed workflow may fail due to `The Access Key Id you provided does not exist in our records issue`.
Or to be more precise, it may randonly succeed.

## Diagnostics

All is reproducible locally. I noticed that output artifacts are created sometimes, so mb that's a timeout issue?

* Minikube version: v1.20.0
* Argo workflows: 3.1.0-RC8, 3.1.0-RC10 (haven't tried other 3

[2021-05-28 02:28] terrytangyuan commented on #5981
I think this is because executor container got killed and probably can be fixed by https://github.com/argoproj/argo-workflows/pull/6033.

Could you also paste the controller pod's log?

[2021-05-28 06:31] christopheblin commented on #6036
yes, you're right, it works when the workflow has parameters

I use {{workflow.parameters}} in an exit-handler that is inside another WorkflowTemplate (and that is "called" in all my workflows)

so yes, it works correctly when the workflow has parameters, and it makes the error otherwise

would it be possible to have it default to "null" (which would be a valid JSON string) like workflow.failures,

[2021-05-28 07:14] christopheblin commented on #6036
to give more context, I try to modify https://raw.githubusercontent.com/argoproj-labs/argo-workflows-catalog/master/templates/sendmail/manifests.yaml

here is the relevant part in the python source:

    import smtplib, ssl, os, json

    ...
    parameters = json.loads({{workflow.parameters}})
    parametersStr = ...
    failures = json.loads({{workflow.failures}})
    failuresStr = ...
    baseU

[2021-05-28 13:04] atombender opened #6044 ""argo template lint" errors on missing arguments"
Here's what happens:

[code]

My workflow template starts with this:

[code]

First of all, there's no flag to pass parameters to the linter to make it pass.

Second of all, how does that error make any sense? The arguments to the template doesn't matter to linting. Those arguments can be anything at runtime, so they cannot possibly be linted.

Is `argo template lint` intended for some other use c

[2021-05-28 14:35] christopheblin opened #6045 "workflow-of-workflows : waiting "child" workflow is not working"
## Summary

I try to use https://github.com/argoproj/argo-workflows/blob/master/examples/workflow-of-workflows.yaml

The child workflow is executed correctly. However, the parent fails to wait with a strange error (see the logs)

From my understanding, the problem is due to `Failing for conditions: status.phase in (Error,Failed)` with `index out of range [-1]` which is coming from the initial yaml

[2021-05-28 14:38] terrytangyuan commented on #6045
Related https://github.com/argoproj/argo-workflows/issues/5981.

Could you paste the controller log as well?

[2021-05-28 14:47] christopheblin commented on #6045
The relevant part of the logs (I hope this is the relevant part:))

[code]

[2021-05-28 14:52] christopheblin commented on #6045
@terrytangyuan  as I said in the ticket :

Here is the relevant part I can see in the UI

![Capture d’écran 2021-05-28 à 16 52 19](https://user-images.githubusercontent.com/11044877/120002415-18350800-bfd5-11eb-9000-9bb983da255d.png)

[2021-05-28 14:58] terrytangyuan commented on #6045
Okay I am able to reproduce. I'll look into it.

[2021-05-28 15:01] terrytangyuan commented on #6045
Looks like your selfLink is missing:
[code]

Are you running on k8s>=1.21? If so, I think this will be fixed in https://github.com/argoproj/argo-workflows/pull/6014.

[2021-05-28 15:04] terrytangyuan commented on #6045
Could you check if your workflows have selfLink, e.g. `kubectl get -o json dataset-all-in-coverage-2crft-3484945999`?

[2021-05-28 15:05] terrytangyuan commented on #5943
Well `dag-diamond.yaml` does not use resource type templates. It only contains container templates so `RESOURCE_STATE_CHECK_INTERVAL` won't work for them.

[2021-05-28 15:09] christopheblin commented on #6045
I am using Azure Kubernetes Services

Here is the output of the command

[dataset-all-in-coverage-2crft-3484945999.json.txt](https://github.com/argoproj/argo-workflows/files/6561684/dataset-all-in-coverage-2crft-3484945999.json.txt)

I can not see any selfLink inside but as I do not know what they are I prefer to give you the full output

[2021-05-28 16:23] alexec commented on #6044
Is this a regression?

[2021-05-28 16:24] atombender commented on #6044
I have not used the tool before, so I wouldn't know.

[2021-05-30 09:29] amitm02 commented on #4561
Hi @alexec
Are you planning to implement this one?
We find this feature very important.
We had issues when the number of pods in the cluster reached above a certain number. Hence, a global parallelism value that dictates the total number of pods the controller can generate, will be very helpful.

[2021-05-30 15:03] alexec commented on #4561
There is already feature called parallelism that limits the number of workflows (not pods) reconciling you could use. You could use resource quotas to limit pods and workflows on a per namespace basis. We do not plan to implement a global limit, but you’re welcome to submit a PR.

[2021-05-31 10:57] amitm02 opened #6049 "Server crash when opening timeline tab for big workflows"
When opening the timeline tab (URL /workflows/argo/<workflow>?tab=timeline) for big workflows (~3k nodes),
Argo server crashes:

[code]
---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-05-31 12:02] amitm02 opened #6051 "PodGC OnPodCompletion strategy does not work in 3.1-rc10"
## Summary

While running the workflow below, the completed pods sequence-kldp5-3397304079 and sequence-kldp5-808541759 are not removed by OnPodCompletion strategy.

Runnign on V3.1-rc10, Emissary, GKE

[code]

[code]
[wf.yaml.txt](https://github.com/argoproj/argo-workflows/files/6570084/wf.yaml.txt)

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issu

[2021-05-31 15:12] alexec commented on #6051
Can you please confirm this was working in v3.0?

[2021-05-31 15:14] alexec commented on #6049
Please can you include pod manifest.

[2021-05-31 19:06] juanchristensen commented on #5976
I've been running Argo Workflows in production on GKE with container optimized OS for ~1 year, the key is changing the executor to PNS or equivalent (the Docker executor does fail)

[2021-05-31 19:39] alexec commented on #6030
Can I ask you to try using the Emissary executor?

We need to make a value call on this, and it might not be possible or easy to get this working with PNS, and if Emissary works for you, I don't really see that we need to fix PNS. You'll need to be running v3.1.

[2021-05-31 19:44] alexec commented on #5967
Marking as invalid as this can be fixed by changing executor.

[2021-05-31 19:48] alexec commented on #6041
https://aws.amazon.com/premiumsupport/knowledge-center/access-key-does-not-exist/

Your error message point to a set-up issue. My first thought that your secret is missing/empty.

AFAIK, there has not been any significant changes to artifact management code in v3.1 that could cause this.

Can I please ask you to double check this actually works in v3.0?

[2021-05-31 19:51] alexec commented on #4646
Addendum to this. Too many users have problems using the Docker executor, and we always tell the to switch to PNS, but that does not work in edge cases. I think in v3.2 or v3.3 should make the default executor the Emissary, with the proviso that it proves itself first. This would make Argo faster and more secure by default, reduce the number of issues (e.g. #5976).

[2021-05-31 19:52] alexec commented on #5976
See #5434

[2021-05-31 19:54] alexec commented on #5434
I believe you can run GKE using the Emissary executor in v3.1 (full featured) or the K8s API executor (>= v3.0, must use empty dir for artifacts).

Unless anyone else knows better?

[2021-05-31 19:57] alexec commented on #5960
Can you please confirm if this is a regression, i.e. did it work in an older version?

[2021-05-31 20:00] pomadchin commented on #6041
@alexec yea, it looks very much like a cred issue, but they are not empty. As you can see in these logs I did 3 runs of the same command against the same 3.1.0-RC10 and they all behaved differently.

And I can confirm that this yaml works in 3.0.5 and 3.0.7

[2021-05-31 20:01] pomadchin commented on #6041
The weirdest thing here is that _sometimes_ it passes and _sometimes_ it fails (can partially fail even).

[2021-06-01 02:11] msuthar-splunk commented on #2905
I have a similar requirement and addressed it with workflow in workflow approach.  Submit a new workflow with the resource template. Parameters can be used to pass down template ref and input parameters. Passing complex parameters can be achieved with artifacts. _successCondition_ and _failureCondition_ in resource template can help with setting up the next task.
The only problem with this approac

[2021-06-01 04:14] sarabala1979 commented on #6036
Current design will not support {{workflow.parameters}} which will return all `parameters`. you need to refer all individually
`{{workflow.failures}}` will be available only in `failures` scenario. you can have `when` in exithandler step template.

[2021-06-01 04:16] sarabala1979 commented on #6051
@amitm02  can you share the controller logs?

[2021-06-01 05:00] CaptainFreak commented on #5865
Hi, @alexec Yes, tried right now on v3.0.7

Same behavior.

[2021-06-01 05:39] CaptainFreak commented on #5865
You can even try in Chrome Dev tools console

[code]

Just replace the above with your own URL.

You will see in the network tab, that Eventsource fires another HTTP connection once the previous one is closed by the server.

How Argo server UI makes sure that only one connection should be done?

[2021-06-01 05:40] CaptainFreak commented on #5865
So basically maybe not a problem at all from the Argo server, just now sure why requests keep getting fired from EventSource.

and not sure how to detect completion of the first request and prevent it from sending further more.

[2021-06-01 05:47] CaptainFreak commented on #5865
Does Argo server send something which says the stream is closed? If not, will have to use something like this

[code]

[2021-06-01 05:50] amitm02 commented on #6051
[code]

[2021-06-01 07:33] vmanucharyan opened #6052 "Wait container sometimes gets stuck in infinite loop"
## Summary

What happened/what you expected to happen?

Wait container gets stuck in loop with messages like ```Ignoring container \"wait\" created at 2021-05-31 18:16:36 +0000 UTC, too long before process started```

Main container finishes ok.

## Diagnostics

What Kubernetes provider are you using?

Google Kubernetes Engine (1.18.17-gke.700)

What version of Argo Workflows are you running?

3.0

[2021-06-01 08:27] amitm02 commented on #6051
not sure if related, but i also get this kind of error in the controller

[code]

[2021-06-01 08:28] amitm02 commented on #6051
not sure if related, but i also get this:

[code]

[2021-06-01 08:28] amitm02 commented on #6051
not sure if related, but i also get this:

[code]

[2021-06-01 11:47] sanzenwin commented on #3080
@gordonbondon, thanks a lot, it is helpful

[2021-06-01 13:27] rwong2888 commented on #6030
Emissary is not killing the vault sidecar and not able to pass the first step in the workflow.

[code]

[2021-06-01 14:51] #5434 closed

[2021-06-01 14:52] alexec commented on #6030
I should mention you must run v3.1 controller with the emissary. Unlike other executors, the controller kills the side car. Can you check the controller logs?

[2021-06-01 14:55] alexec commented on #6052
This lot message is informational and can be ignored.

[2021-06-01 14:58] andrew-arkhipov opened #6053 "Can't resolve resourcesDuration for metrics in some templates"
## Summary

I have two templates, one is a dummy template straight from the docs (e.g. flakey), and the other is work-specific that is much more complex, though I'm providing a simpler one as an example. When specifying Prometheus metrics, `{{resourcesDuration.cpu|memory}}` works just fine in the dummy workflow template, but it doesn't work in the actual template that I'm trying to add it to.

Jus

[2021-06-01 15:38] alexec commented on #5865
EventSources in browsers lack decent recovery options. E.g. won't tell you why they failed. Badly design IMHO. If there is no user impact, I'm not sure it is worth the time investigating this.

[2021-06-01 16:47] sarabala1979 commented on #6051
time="2021-05-31T14:54:22.988Z" level=info msg="Delete pods 404"
time="2021-05-31T14:54:23.085Z" level=info msg="cleaning up pod" action=deletePod key=argo/sequence-kldp5-3397304079/deletePod
time="2021-05-31T14:54:23.088Z" level=info msg="Delete pods 404"

The controller is trying to delete the pods which is not found. looks like it has been deleted already.

I tried the above example in my local

[2021-06-01 17:06] alexec commented on #6051
Could it be deleting from the wrong namespace, or with the wrong name? Inspect the code?

[2021-06-01 18:16] alexec commented on #6030
Can you confirm which version of the `workflows-controller` image you're using?

[2021-06-01 18:17] #5767 closed

[2021-06-01 18:23] alexec commented on #5980
Another question, it looks like we're getting an API timeout, 30s after "Get pods". Can you confirm if this is intermittent?

[2021-06-01 18:25] alexec commented on #6041
I've just noticed you're installing a quick start manifests, which comes with MinIO, and then a Helm MinoIO chart on top of it. It could be they affect one another somehow.

Can I ask you to remove the Helm chart and try again?

[2021-06-01 18:31] pomadchin commented on #6041
@alexec I tiotally had this in mind and I think nothing was changed when I checked it, but let me double check that and I will get later today to you with the result.

[2021-06-01 19:57] Seanny123 commented on #4624
I think what @whynowy is referring to is using a previous step's JSON output parameter as input to `withParams`.

For example, something like:
[code]

This isn't exactly what the OP is asking for, but it is close enough it was worth posting my solution.

[2021-06-01 20:27] andizzle commented on #5960
We have only used `v2.12.6` so far, and this has been an issue for us from the beginning.

[2021-06-01 20:27] #5981 closed

[2021-06-01 20:36] Seanny123 commented on #4624
I think what @whynowy is implying is that you can currently accomplish this with an awkward intermediary pod to convert a artifact to a parameter:
[code]

[2021-06-01 21:04] pomadchin commented on #6041
@alexec yep, removing helm minio resolves the issue, mb indeed they interact somehow badly. But anyway, it works for now.
I use minio for test purposes, so I don't really need the helm installed minio.

[2021-06-01 21:15] pomadchin commented on #6041
Thanks for helping me, I'm closing this issue.

[2021-06-01 21:15] #6041 closed

[2021-06-01 21:39] cscetbon opened #6059 "UI: Make logs searchable"
Summary

When looking at a workflow, we often need to check its logs and look through them. Unfortunately, the way they're displayed in the browser doesn't make them searchable using the search function or browsers like Safari or Chrome. We end up with copy/pasting logs to another place and search through them and it's overcomplex.
There should be a way to look through logs without such a complexi

[2021-06-01 23:34] alexec commented on #6059
This seems like a good idea.

[2021-06-01 23:48] yanp opened #6060 "schema.json expects retryStrategy.limit to be string only"
## Summary

What happened/what you expected to happen?

Latest `schema.json` complains that the `retryStrategy.limit` field can only be type string:
![image](https://user-images.githubusercontent.com/5286182/120403167-8856cd00-c2f8-11eb-8f83-d20bb20be38a.png)

I expect it to accept integer.

## Diagnostics

What version of Argo Workflows are you running?

`v3.1.0-rc11`

Did this work in a previous

[2021-06-01 23:53] alexec commented on #6060
The type of this is `IntOrString`. I.e it can be int or string. What is the impact please?

[2021-06-02 00:07] yanp commented on #6060
Yes I see that it is `IntOrString` in the schema file, which makes it strange that it still complains about the type.

The impact is that our users use the schema to validate workflows locally and in CI, and it breaks when the field is integer.

Here is the python code we use to validate:
[code]

It throws error:

Failed validating 'type' in schema[0]['properties']['spec']['properties']['templates

[2021-06-02 00:19] alexec commented on #6060
This was changed in :

fix: Invalid OpenAPI Spec (Issue 4817) (#4831)  Signed-off-by: Kenny Trytek <kenneth.g.trytek@gmail.com>

[2021-06-02 00:20] alexec commented on #6060
@kennytrytek do you know what might be done about this?

[2021-06-02 00:24] saranyaeu2987 commented on #6038
Understood. TLS resolved the issue

[2021-06-02 00:24] #6038 closed

[2021-06-02 00:41] alexec commented on #6059
![image](https://user-images.githubusercontent.com/1142830/120406811-9ad50480-c300-11eb-8f51-3e0ca3ccb984.png)

[2021-06-02 09:26] ongchinkai opened #6064 "Multi-step workflow does not terminate (wait container does not exist with Docker executor in v3.0)"
## Summary

Executing a multi-step workflow does not terminate or proceed to the next step even after the pod has terminated.

The issue started at https://github.com/hyfen-nl/PIVT/issues/106, where the developer identified this as a potential Argo issue. The logs below are based on the example at https://argoproj.github.io/argo-workflows/examples/#steps.

## Diagnostics

What Kubernetes provider

[2021-06-02 09:49] christopheblin commented on #6036
@sarabala1979 I think you completely misunderstood me

I know `{{workflow.parameters}}` variable and it does what I want (and I can use it inside an exit-handler). Same goes for `workflow.failures` (but it is only usable in exit-handler, it is not a global, fine)

the problem is : when the workflow does **NOT** have any parameters, if you use `{{workflow.parameters}}` it will say `failed to resolv

[2021-06-02 10:01] christopheblin opened #6065 "using a different artifact repository in different steps/tasks ?"
## Summary

at the moment, you can crate a ConfigMap named artifact-repositories with multiple repositories

then, inside each workflow, you can specify the repo to use with artifactRepositoryRef

however, if you need step1 to read from the repo1 and to write to repo2, you need to choose one of the 2 repos as a "default" (and to repeat the repository info into the other one)

If you could apply th

[2021-06-02 10:04] christopheblin commented on #6065
here is another use case : use a repo without versionning to store archiveLogs and use another repo with versionning to read/write data

[2021-06-02 10:45] shrgabor commented on #5934
Sorry @alexec, yes I think this is a regression.

I think the commit which break this was this: `c8215f972502435e6bc5b232823ecb6df919f952`
see `workflow/controller/workflowpod.go:925`
It changed `HasLocation()` to `HasLocationOrKey()` while adding the key-only artifacts feature.

I checked the fixes for the original problem and it does not test if the optional artifact has a key too.

I have to st

[2021-06-02 12:44] vmanucharyan commented on #6052
@alexec ok, thanks. I found out that it's the main container that gets stuck in NotReady state for some reason (although it successfully starts and finishes according to logs and even has completed status), but thats probably an issue somewhere in our cluster, not argo. Sorry for wasting your time :)

[2021-06-02 12:46] amitm02 commented on #6051
@sarabala1979 ,
Like all annoying bugs, this one is not easily reproducible. It comes and goes. we will try to hunt down the next occurrence and bring more logs.

[2021-06-02 12:56] amitm02 opened #6069 "In the workflows screen of Argo UI, add a 'select/deselect all' button."
# Summary

In the workflows screen of Argo UI, add a 'select/deselect all' button.
<img width="1670" alt="suggest" src="https://user-images.githubusercontent.com/1888927/120483636-f95eb900-c3ba-11eb-8b3c-baea8ffee23c.png">

# Use Cases

If one want to clean all workflows, it can get tedious to mark the workflows one by one in order to delete them

---

**Message from the maintainers**:

Impacted b

[2021-06-02 13:10] christopheblin opened #6070 "when an input artifact does not exist, the error message is cryptic"
## Summary

create a template that is using an S3 input artifact (cf https://github.com/argoproj/argo-workflows/blob/master/examples/input-artifact-s3.yaml)

if you specify a wrong artifact, the error is "The specified key does not exist."

I suspect this error directly comes from the S3 library (maybe directly from S3 server, I do not know exactly)

This is not very user friendly or helpful

More

[2021-06-02 15:00] #5459 closed

[2021-06-02 15:00] #5484 closed

[2021-06-02 15:00] #5223 closed

[2021-06-02 15:20] alexec commented on #6069
This is a good idea. Would you like to submit a PR?

[2021-06-02 15:22] alexec commented on #6065
I think you should maybe raise an issue for different buckets?

[2021-06-02 15:28] alexec commented on #6045
Please add version affected.

[2021-06-02 15:54] ongchinkai commented on #6064
I checked https://github.com/argoproj/argo-workflows/blob/master/docs/workflow-executors.md but I don't see this pjs executor that you mentioned. Do you mean pns executor, by any chance?

Also, how should I go about configuring this executor? Because even the hello-world workflow example above also failed to terminate cleanly.

[2021-06-02 15:55] alexec commented on #6064
Sorry. Autocorrect. PNS

[2021-06-02 16:12] alexec commented on #5934
c8215f972502435e6bc5b232823ecb6df919f952

[2021-06-02 16:14] alexec commented on #5934
So that makes sense. We mount the volume at the path (rather than create an empty directory, but it looks like the same thing from the POV of the main container). This code does not check to see if the artifact actually existed.

[2021-06-02 16:29] alexec commented on #5934
This is a bind. The volumes are set-up by the controller, but the controller cannot know if the artifact will actually exist. Only the `wait` container can know this.

[2021-06-02 16:31] alexec commented on #5934
@shrgabor can you please confirm if you ran and reproduced the issue in v2.12? Or did you inspect the code changes and infer that it was a regression? It is not clear from your comments.

[2021-06-02 17:32] asaorgad commented on #4447
Can you give a detailed explanation how to fix it , I'm facing the same issue.

[2021-06-02 17:35] #6059 closed

[2021-06-02 17:37] rwong2888 commented on #6030
docker.io/argoproj/workflow-controller:v3.1.0-rc10

[code]

[2021-06-02 17:59] alexec commented on #6030
`command terminated with exit code 1`

Ok. So it tried to terminate vault, but could not.

The Emissary can only terminate an injected sidecar by running `kubectl exec`. I think we run `kubectl exec ${pod.name} -c vault-agent -- sh -c 'kill -s15 -- 1'`.

We need to know the correct command to run for Vault. Can I ask you to execute that command and tell me stderr/stdout say? Does it have a shell?

[2021-06-02 18:02] alexec opened #6071 "leader election panic: `nil pointer deref`"
[code]

[2021-06-02 18:03] alexec commented on #6071
[code]

`cancel` is nil.

[2021-06-02 18:04] rwong2888 commented on #6030
It does have a shell. Output below.

[code]

[2021-06-02 18:08] alexec commented on #6071
Looking at the code, `cancel` is never set. It is always nil. `StopLeading` will always panic.

Because we have `ReleaseOnCancel`, We need

[code]

As the second line of ` (wfc *WorkflowController) Run`.

[2021-06-02 18:08] alexec commented on #6071
Looking at the code, `cancel` is never set. It is always nil. `StopLeading` will always panic.

Because we have `ReleaseOnCancel`, We need

[code]

As the second line of ` (wfc *WorkflowController) Run`.

[2021-06-02 18:09] alexec commented on #6030
What about:

`kubectl exec -it ci-zwt59-885296622 -c vault-agent -- sh -c 'kill -15 -- 1'`

[2021-06-02 18:10] alexec commented on #6030
Or just

`kubectl exec -it ci-zwt59-885296622 -c vault-agent -- sh -c 'kill 1'`

[2021-06-02 18:14] rwong2888 commented on #6030
[code]

Although this also seemed to have killed the vault-agent

[2021-06-02 18:14] alexec commented on #6030
Can I ask you to try these:

* `kill -- -1`
* `kill -15 -- -1`
* `kill -15 -- 1`

[2021-06-02 18:14] cscetbon commented on #6059
Thanks @alexec, you're fast !

[2021-06-02 18:17] alexec commented on #6030
Any chance you can tell what the vault agent image is? I'd like to know what shell it contains.

[2021-06-02 18:21] rwong2888 commented on #6030
I'm using ```vault:1.5.4``` which may be a bit old.

[code]
Shell exited.

[2021-06-02 18:22] rwong2888 commented on #6030
[code]

[2021-06-02 18:23] alexec commented on #6030
Maybe alpine? https://github.com/hashicorp/docker-vault/blob/master/0.X/Dockerfile

[2021-06-02 18:23] rwong2888 commented on #6030
Yes, I see ash

[2021-06-02 18:25] alexec commented on #6030
the `-1` is to kill whole process group, but must come after `--` e.g `kill -- -1`

[2021-06-02 18:29] laloyalo commented on #4592
After coming back every now and then to this issue, I did the following and seems to be working without problems when using Workload Identity.

1. Create a Workflow service account: Intended to run the workflows. I created a GCP service account bound to a K8s SA, using [this terraform module](https://registry.terraform.io/modules/terraform-google-modules/kubernetes-engine/google/latest/submodules/

[2021-06-02 18:29] alexec commented on #6030
when you ran ` kill -15 1` kill it successfully killed the container, it should have exit code 0 too?

[2021-06-02 18:49] terrytangyuan commented on #6045
@alexec https://github.com/argoproj/argo-workflows/commit/ed957dd9cf257b1db9a71dcdca49fc38678a4dcb is the commit so v3.1.0-rc releases are affected (if k8s>=1.21 is used).

[2021-06-02 18:53] #6045 closed

[2021-06-02 19:11] rwong2888 commented on #6030
I was killing within the container...

From outside.

[code]

```kubectl exec -it ci-mqgt8-1751122230 -c vault-agent -- sh -c 'kill -15 -- 1'``` did kill the vault-agent container though.

[2021-06-03 00:24] alexec commented on #6030
@rwong2888 I've created a dev build for you to test `argoproj/argoexec:dev-signal`. This includes a potential fix for the Docker executor. Can I ask you to test with the Docker executor again? I'd like to separate that fix from the Emissary fix.

[2021-06-03 00:26] kennytrytek commented on #6060
Unfortunately, only strings are supported until Argo upgrades to Swagger >= 3.1, or a custom format is implemented.

Swagger >= 3.1: https://github.com/argoproj/argo-workflows/issues/4817#issuecomment-778855785

Custom format: https://github.com/argoproj/argo-workflows/issues/4817#issuecomment-754819948

[2021-06-03 00:26] alexec commented on #6030
Sorry. Ignore me, that was another bug.

[2021-06-03 00:26] alexec commented on #6064
@ongchinkai I've created a dev build for you to test `argoproj/argoexec:dev-signal`. This includes a potential fix for the Docker executor.

[2021-06-03 01:57] ongchinkai commented on #6064
Sorry if this is a stupid question but how do I go about testing this on DigitalOcean? I tried ```kubectl apply -n argo -f https://raw.githubusercontent.com/argoproj/argo-workflows/dev-signal/manifests/install.yaml``` but it seems like there are no changes.

[2021-06-03 02:40] alexec commented on #6064
Just edit wherever you have configured the executor. You might just be able to search and replace in you manifests.

[2021-06-03 04:47] alexec opened #6076 "templates using `templateRef` are broken in >=v3.0"
These were removed in

f31e0c6f9 chore!: Remove deprecated fields (#5035)

This field has been deprecated for some time and was removed in v3.0. I'm not sure that this was clearly communicated, otherwise we'd have published a clear migration path for users, and would have followed this ourselves.

Deprecated fields removed in v3.0.

| Field | Notes |
|---|---|
| Template.Arguments | ignored in v2.

[2021-06-03 04:51] alexec commented on #6076
@sarabala1979 @whynowy @wanghong230

[2021-06-03 05:44] amitm02 commented on #6069
Unfortunately, not a React or Go developer.  : (
My contribution to the Argo project will be limited to QA and surfacing needs and issues when it comes to using Argo in real life.

[2021-06-03 07:39] ongchinkai commented on #6064
I downloaded the contents of `https://raw.githubusercontent.com/argoproj/argo-workflows/dev-signal/manifests/install.yaml`, and changed `argoexec:latest` to `argoexec:dev-signal`. Then I run `kubectl apply -n argo -f devsignal.yaml`.

This is the `describe` output for `workflow-controller`:
[code]

Following this, I try again to run the hello-world but the workflow still does not terminate even af

[2021-06-03 09:45] christopheblin opened #6077 "using a different bucket of an artifact repository in different steps/tasks ?"
## Summary

at the moment, you can crate a ConfigMap named artifact-repositories with multiple repositories

then, inside each workflow, you can specify the repo to use with artifactRepositoryRef

let's assume you need step1 to read from the bucket1 and to write to bucket2

in this case, you need to choose one of the 2 repos as a "default" (and to repeat the repository info into the other one)

It

[2021-06-03 10:42] pierreyves-lebrun commented on #6064
I can confirm this issue occurs with pns too

[2021-06-03 13:38] giordyb opened #6078 "API Authentication with SSO"
## Summary

Hi,

I have Argo Workflow 3.0.7 working with the SSO authentication configured (authenticating against a Keycloak server), I am able to login, access the web interface and launch workflows with a user in the Keycloak realm.

I am now trying to do the same thing via API but unfortunately when I try to pass the token that I get from Keycloak in the API request I get the following error:

[2021-06-03 14:30] vcarluer commented on #5943
Yes it is obviously not the good parameter but I can I lower the time of the wait container which seams to check the main container execution status? I didn't found any, this is why I have opened an enhancement request.

[2021-06-03 15:28] terrytangyuan commented on #3902
We are still seeing this in one of our clusters for v2.12 argo-workflows controller.

[2021-06-03 15:29] ninoamine opened #6080 "error converting YAML to JSON: yaml: line 103: mapping values are not allowed in this context"
## Summary

When applying argo workflow manifest I get this error:
error converting YAML to JSON: yaml: line 103: mapping values are not allowed in this context
## Diagnostics

kubectl version:
Client Version: v1.20.0",
Server Version: "v1.18.8"

Argo Workflow version:
Stable

[2021-06-03 15:39] alexec commented on #6064
@ongchinkai can you please attach the wait container logs?

[2021-06-03 16:04] giordyb commented on #4447
I showed the fix in my previous post, you need to mount your own ssl CA in the container and mount it as /etc/ssl/certs/ca.crt

[2021-06-03 16:09] asaorgad commented on #4447
so my question is , how do i generate or how where from should i export this CA certs ,?
 can this tool the the job : https://github.com/smallstep/autocert ?
excuse my ignorance

[2021-06-03 16:47] giordyb commented on #4447
You need to get/export the CA that signed the SSL certificate that is installed ** on your SSO authenticator** and add it to the Argo Server container as explained above. Unfortunately I don't know anything about your specific configuration so I cannot help you further. In my case the Keycloak server's certificate was internal and it was signed by the CA created by Active Directory certificate ser

[2021-06-03 16:51] Warvito commented on #3712
Any update regarding passing the submitOption to the POST /api/v1/workflows/{namespace} endpoint to be able to create a Workflow and specify its parameters?

[2021-06-03 17:06] asaorgad commented on #4447
That's makes more sense,  thanks alot.

[2021-06-03 17:31] #6071 closed

[2021-06-03 18:04] rkennedy-tpl commented on #2733
it's a little unclear to me if the Helm chart was ever fixed ? I think I am experiencing this issue but it may be another subtle mis-configuration I have yet to sniff out.

https://github.com/argoproj/argo-helm/blob/master/charts/argo-workflows/templates/controller/workflow-controller-config-map.yaml#L7-L8

[2021-06-03 18:56] #6076 closed

[2021-06-03 18:59] Radolumbo opened #6082 "Add workflow.generateName as a global variable"
# Summary

Currently, workflow.name is a global variable. It would be *very* useful to also have access to the generateName directly.

# Use Cases

We're currently trying to build out a managed platform using Argo. As a result, we want to apply some defaults across all submitted workflows, including metrics to apply to every workflow. For example. we want to be able to tag these metrics with the `

[2021-06-03 21:29] alexec commented on #6030
Do you think you'd please be able to test it?

[2021-06-03 22:20] rwong2888 commented on #6030
It did not kill the vault-agent. Logs below.

[code]

[code]

[2021-06-03 22:24] rwong2888 commented on #6030
I am also not able to run kaniko as root

[code]

[code]

[2021-06-03 22:27] rwong2888 commented on #6030
I am also not able to run kaniko as root

[code]

[code]

[2021-06-03 22:38] alexec commented on #6030
@rwong2888 what version are you running please?

[2021-06-03 22:45] rwong2888 commented on #6030
argo: v3.1.0-rc10
image: docker.io/argoproj/workflow-controller:v3.1.0-rc10
image: docker.io/argoproj/argocli:v3.1.0-rc10
image: gcr.io/kaniko-project/executor:v1.6.0
image: valut:1.5.4

[code]

[code]

[2021-06-04 01:26] #5865 closed

[2021-06-04 04:20] ongchinkai commented on #6064
Installed using `https://raw.githubusercontent.com/argoproj/argo-workflows/dev-docker/manifests/install.yaml` except with `argoexec:dev-docker`

Installation output:
[code]

`describe` output for `workflow-controller`
[code]

The wait logs still look the same as OP. Here's a TLDR:

[code]

[2021-06-04 07:05] shuker85 commented on #6080
Can you post your workflow pls?

[2021-06-04 07:09] shuker85 commented on #6070
:+1:

[2021-06-04 14:17] rkennedy-tpl commented on #2733
upon yet a further examination, it seems like `artifactRepository: {}` gets set at controller start time, even when ConfigMap `workflow-controller-configmap` is effectively empty and ConfigMap `artifact-repositories` exists...

[code]

once I learned about ConfigMap `artifact-repositories`, I wanted to go that route entirely and de-couple my configs from potentially-buggy Helm Charts.

from readin

[2021-06-04 15:42] mattnworb commented on #5976
just want to point out that this is not the same thing as containerd, there are both "Container-Optimized OS with Docker" (`cos`) and "Container-Optimized OS with Containerd" (`cos_containerd`) images: https://cloud.google.com/kubernetes-engine/docs/concepts/node-images#available_node_images

[2021-06-04 15:52] alexec commented on #2733
@rkennedy-tpl I can't tell if you think there is a bug or not. If there is, could you raise a new issue?

[2021-06-04 15:54] alexec commented on #6064
Can you add the workflow pod YAML too?

[2021-06-04 16:17] ongchinkai commented on #6064
I hope I didn't misunderstand what you were asking for.

[code]

[2021-06-04 16:29] alexec commented on #6064
No. Not that pod, the pod that the workflow runs. It'll be labeled with `workflows.argoproj.io/workflow`.

[2021-06-04 16:32] rkennedy-tpl commented on #2733
I cannot tell and I've left copious notes in case someone with more domain expertise can assist in pointing me further.

I've read all the docs, copious Github issues, and the golang source code itself. `controller is not configured with a default archive location` seems unavoidable in my configuration and there seems to be insufficient data / logging to move forward.

I almost suspect something i

[2021-06-04 16:33] sarabala1979 commented on #6080
try to lint your workflow. http://www.yamllint.com/

[2021-06-04 16:57] alexec commented on #6064
It looks to me that your main container exited quickly, <1s?

[2021-06-04 17:29] ongchinkai commented on #6064
Maybe it's because it's simply executing a hello-world statement. The reason I'm using this to test is because it's much simpler than the original workflow I was using. In that workflow I was encountering the same issue, in which the workflow would stop at a step and not proceed to the next.

[2021-06-04 18:05] #6070 closed

[2021-06-04 18:25] terrytangyuan commented on #5943
The 5 seconds is hard-coded in the current version. I've submitted https://github.com/argoproj/argo-workflows/pull/6088 to make it configurable.

[2021-06-04 18:41] #5943 closed

[2021-06-04 19:17] alexec opened #6089 "Multi-cloud workflows"
I'd like to run a workflow that starts in one cloud provider (e.g. Azure) and finishes in another (e.g. AWS or GCP.)

[2021-06-04 19:17] alexec commented on #6089
See #3523

[2021-06-04 19:29] #5972 closed

[2021-06-05 08:15] vcarluer commented on #5943
Yes exactly, thank you very much!

[2021-06-05 20:09] #5720 closed

[2021-06-05 22:17] alexec commented on #6064
I've just pushed a change to `argoproj/argoexec:dev-docker` that captures additional diagnostics. Could I please ask you to test?

[2021-06-06 15:50] ongchinkai commented on #6064
This is the `describe` output for `workflow-controller`:

[code]

These are the first few lines for the `wait` logs:

[code]

In case you need the yaml for the pod again...

[code]

Hope this helps!

[2021-06-06 16:01] DO-YardenG commented on #6051
Same issue, but without the "_failed to clean up pod_" errors, or any other logs indicating an attempt to delete the pods. (even using `--loglevel debug` )
containers inside pods are terminated with "_reason:completed_", but the pods themselves remain in completed state for a long time after.
What we testing with was a very simple 50 pods sequence, where each pods executes an echo command. (times

[2021-06-06 16:30] sarabala1979 commented on #6051
@DO-YardenG Can you add pod yaml `kubectl get pods <> -yo yaml`? Is it possible to get k8s API server log to see the controller making delete call?

[2021-06-06 16:36] alexec commented on #6064
Thank you. The logs you’ve attached appear to be from a different version as they do not contain the additional diagnostic output. You’ll need to change your image pull policy.

[2021-06-06 16:54] ongchinkai commented on #6064
Not sure if this is what you're referring to, but I notice in the logs I've attached that there's this setting `imagePullPolicy: IfNotPresent`. However, I'm not sure where I should be changing this.

[2021-06-06 17:48] alexec commented on #6064
I've just pushed `v0.0.0-dev-docker-0` and you can use that once the images are published (takes about 1h).

[2021-06-07 04:10] rzsquirrel opened #6093 "cannot get {{workflow.failures}} when many pods fail"
## Summary

What happened/what you expected to happen?

We expect {{workflow.failures}} to get us failure info, which is especially useful when we have many failing pods. However, we've noticed that as the number of pods reaches ~800, it's possible that the content from from {{workflow.failures}} is too large, causing the following error.
`Pod "test-many-failures-ctxc2-2007524166" is invalid: meta

[2021-06-07 06:39] DO-YardenG commented on #6051
Sure, it's not for the same pod, but a pod with the same behavior (as the pods do get deleted at some point, just has a varying delay)

 <details>
  <summary>Pod yaml (after completed)</summary>

[code]
</details>

 <details>
  <summary>kubeapi logs for the specific pod, after GC deleted</summary>

[code]
</details>

As you can see, the pod was eventually deleted, but over 15 min after it was cons

[2021-06-07 07:13] christopheblin opened #6097 "resource templates do not have any logs when archived"
## Summary

When you have a workflow that uses a resource template and it is archived, you do not see any logs

![Capture d’écran 2021-06-07 à 09 04 25](https://user-images.githubusercontent.com/11044877/120973565-6386ad80-c76f-11eb-8eaa-9e1d59f29fa4.png)

**-> you cannot find the name of the created resource** (especially frustrating when it is another workflow and that you have use workflow-of

[2021-06-07 10:03] Bobgy commented on #5439
Open Questions:
* do we support third party implementation of agents & custom task specs as another way for integration? (refer to Tekton custom tasks)
* can this architecture work when multiple agents (both 1st party and 3rd party agents) watch the same taskset and work on different tasks?

I feel that these can be useful future directions, curious about your thoughts

[2021-06-07 13:23] terrytangyuan commented on #6097
I think @alexec is fixing `Error (exit code 1): interface conversion: error is *exec.Error, not *exec.ExitError` in https://github.com/argoproj/argo-workflows/pull/6091

[2021-06-07 15:13] christopheblin commented on #6097
@terrytangyuan thanks for the info, what about the missing logs : is this related to the error or is this completely an issue on its own ?

[2021-06-07 15:26] terrytangyuan commented on #6097
I am uncertain at this point yet. I think once #6091 is merged, we will see a much clearer error message.

[2021-06-07 16:11] christopheblin commented on #6097
ok, I fallback to v3.1.0-rc12 and the logs are also missing on the archive : no way to find the name of the workflow which has been submitted ...

It happens when the pod is in success or error, indifferrently

Note that if I go to the non archived workflow (TTL is 1h), I can see way too much logs :)

![Capture d’écran 2021-06-07 à 18 04 09](https://user-images.githubusercontent.com/11044877/121

[2021-06-07 18:31] terrytangyuan commented on #6097
I agree this is too much log. I've adjusted it to debug level in https://github.com/argoproj/argo-workflows/pull/6100.

For this, you can use output parameters + jsonPath/jqFilter to obtain: https://github.com/argoproj/argo-workflows/blob/master/examples/k8s-jobs.yaml#L44-L56

[2021-06-07 22:02] Radolumbo opened #6101 "Expose resourcesDuration.[cpu|memory] on a Workflow level for metrics"
# Summary

Currently, resourcesDuration is only exposed on a template level. Would it be possible to expose this on a workflow level?

# Use Cases

The UI currently exposes resourcesDuration on a workflow level, would it be possible to extend this to metrics as well? This would be super useful for understanding a workflow holistically via emitted metrics.

---

**Message from the maintainers**:

I

[2021-06-08 06:43] christopheblin commented on #6097
I tested the outputs.parameters from jsonpath, it worked great and so I documented this behavior in the appropriate section

![Capture d’écran 2021-06-08 à 08 39 48](https://user-images.githubusercontent.com/11044877/121135746-1a992c80-c835-11eb-9f0c-26e9011d1b35.png)

      outputs: {
        parameters: [
          { name: "name", valueFrom: { jsonPath: '{.metadata.name}' } },
          { name

[2021-06-08 09:22] ChaosInTheCRD opened #6103 "Mutex in DAG caused a panic and prevented the exit-handler from running"
## Summary

*Note: I have not managed to reproduce/isolate the issue, but I would like this to be the start of my contribution / involvement with the Argo Workflows community. I have spent the last few days looking at the codebase, and hope that I am getting closer to becoming valuable for contribution. If anyone from the Argo team would like to collaborate with me on this issue (if it is a proble

[2021-06-08 15:42] sarabala1979 commented on #6103
@ChaosInTheCRD Can you provide the reproducible workflow?

[2021-06-08 15:45] sarabala1979 commented on #6103
It looks like `synchronization` in workflow status is nil.  Please provide the live workflow YAML and controller logs. I can guide you to fix this issue.

[2021-06-08 16:13] ChaosInTheCRD commented on #6103
[code]

[2021-06-08 16:14] ChaosInTheCRD commented on #6103
the funny thing is... it doesn't get close to the point where mutex exists before failing... So I am not sure why it is entering into any of the `synchronization` logic

[2021-06-08 16:36] sarabala1979 commented on #6103
Got the issue. Let me create a reproducible workflow and give it to you for a fix.  Looks like DAG is. updating the status for the unrun task which has mutex. Code is trying to release the mutex for that template.

[2021-06-08 17:22] #6030 closed

[2021-06-08 22:31] #5896 closed

[2021-06-08 22:34] alexec commented on #4662
Re-opening so we can do this.

[2021-06-09 00:31] ckyoog opened #6107 "WorkflowEventBinding breaks the parameter which contains double quotes by json marshal"
## Summary

I believe this issue is a side-effect of #4594 (#4572). A call to json marshal was added by #4594 to encode workflow parameter into a json string. It works well for most situations, but there is an exception -- when the parameter is a simple string and contains double quotes. E.g., given the parameter name is "pname", and a string value 'a"b"c' is going to be passed to it. The reproduc

[2021-06-09 00:32] ckyoog commented on #6107
@alexec could you help to confirm this issue?

[2021-06-09 00:49] simster7 commented on #1150
I'll be happy to take this one

[2021-06-09 00:51] ckyoog commented on #6107
Some more information about what I investigated

See function `dispatch()` in file `server/event/dispatch/operation.go` around line 123-131. The following is the code snippet with error handler removed.
[code]
The `payload` in `o.env` would a map whose value would be something like `{pname: 'a"b"c'}`. After call `expr.Eval()`, the `result` would be `a"b"c`, and after call `json.Marshal()`, the `da

[2021-06-09 01:35] jsoref commented on #4973
Helpwanted

[2021-06-09 01:35] jsoref commented on #4975
Help wanted

[2021-06-09 01:46] 2qif49lt opened #6108 "resource is not removed when argo cli delete workflow"
## Summary

[code]

i think configmap should be deleted as well.

[code]

[2021-06-09 01:56] terrytangyuan commented on #6108
Have you set your owner reference in resource template? If not, the resource will not be deleted when the workflow has been deleted. See an example here: https://github.com/argoproj/argo-workflows/blob/master/examples/k8s-owner-reference.yaml

[2021-06-09 02:24] #6108 closed

[2021-06-09 05:34] tim-sendible commented on #5534
This is still an issue (3.1 RC 12)

[2021-06-09 05:35] tim-sendible commented on #5492
I can no longer replicate this issue in 3.1 (rc 12)

[2021-06-09 05:35] #5492 closed

[2021-06-09 05:35] tim-sendible commented on #5566
Commenting to confirm that this is still an issue.

[2021-06-09 06:13] gurvindersingh opened #6109 "Argo UI fails to load workflows when running in auth-mode=client"
## Summary
Argo UI gives error as 403 forbidden when trying to list workflows for a logged in user when running in client auth mode.

**What happened**

This is the exception in the logs

Its correct that this user doesn't have access at cluster scope but user has access to multiple namespaces and UI should select one of those namespace and list workflows from that rather than giving error.

**Wha

[2021-06-09 06:39] 2qif49lt opened #6110 "semaphore lost"
## Summary

argo dont increase semaphore when pod completed, causes the flow keep running one by one.

## Diagnostics
[code]

[code]

[code]

[2021-06-09 06:55] sarabala1979 commented on #6103
@ChaosInTheCRD I am able to reproduce panic with below workflow. Please try on your environment
[code]
The fix is DAG is checking `node.Fulfilled()` for completion the `node` for releasing the mutex which includes `skipped`. The skipped node didn't acquire the lock so the controller won't populate the `synchronization` in `status`. Here fix in dag.go
https://github.com/argoproj/argo-workflows/blob

[2021-06-09 06:58] sarabala1979 commented on #6110
@2qif49lt are you referring status message `Waiting for argo/ConfigMap/conf/maxbuilder lock. Lock status: 0/60`? or step didn't run

[2021-06-09 07:07] 2qif49lt commented on #6110
@sarabala1979
the first 60 builds in **steps** are run in parallel.but others are not. only one build is running. i think the completed pods dont release the semaphores.

[2021-06-09 08:58] 2qif49lt commented on #6110
![sema](https://user-images.githubusercontent.com/848930/121325010-d6488200-c943-11eb-9387-16d1fbe48ca6.gif)

[2021-06-09 09:16] 2qif49lt commented on #6110
[code]

[2021-06-09 15:13] terrytangyuan commented on #5566
As I mentioned previously, currently resource template is only designed to work with a single resource. In other words, getting a list of pods via label selector is not supported.

[2021-06-09 15:17] tim-sendible commented on #5566
I understand. I was prodding the stalebot because at a minimum the docs need to reflect this.

[2021-06-09 15:40] christopheblin commented on #6036
@sarabala1979 @alexec sorry to notify you again, I just do not have news about this one which seems pretty easy to fix

summary of the problem :

the variable {{workflow.parameters}} is described as a global JSON var

however, when the workflow do NOT have parameters, the variable is undefined

consequences of the problem :

if you have a "generic" step (i.e a template reused in multiple workflows

[2021-06-09 15:48] christopheblin opened #6113 "argo : automatic labelling of workflows based on arguments"
Based on https://github.com/argoproj/argo-workflows/discussions/6096

Basically, I have a workflow template that is launched 100+ times a day, each time with different arguments

it is either launched from the ui by a end user (who specifies the parameters manually, basically the name of a subdirectory) or by a cron (when launched from the cron, the cron use a generate step to launch the wftpl for

[2021-06-09 15:49] christopheblin commented on #6113
also note that using arguments to generate the name would be A.W.E.S.O.M.E

[2021-06-09 15:55] sarabala1979 commented on #6036
yes, it is reasonable for `{{workflow.parameters}}`. Would you like to submit the PR with a fix? I can guide you. Here the code which sets the `{{workflow.parameters}}`.  As per `json.Marshal` doc it should return `null`.

https://github.com/argoproj/argo-workflows/blob/1d76c4815704e509d7aedc1a79224fbee65ae8ff/workflow/controller/operator.go#L484

[2021-06-09 15:56] sarabala1979 commented on #6036
@christopheblin

[2021-06-09 16:02] sarabala1979 commented on #6110
@2qif49lt which version are you running?

[2021-06-09 16:06] alexec commented on #6113
When you submit a workflow, you can choose the name for it. Would that work?

[2021-06-09 16:11] #1021 closed

[2021-06-09 16:11] #3142 closed

[2021-06-09 16:11] #5526 closed

[2021-06-09 16:12] alexec commented on #6109
Can you confirm if the user can enter the namespace in the filter options?

[2021-06-09 16:18] smile-luobin commented on #4508
fixed it:
in file: workflow/controller/operator.go;
modify function processAggregateNodeOutputs;
     for _, node := range childNodes { => for _, node := range childNodes[1:] {
as the first item is the parentNode of these childNodes.

[2021-06-09 18:02] ChaosInTheCRD commented on #6103
I am working on this now 😊

Sorry, just to clarify @sarabala1979 - is the bug seen in the latest version of argo-workflows? After building locally, I still cannot replicate the panic with the workflow you provided.

[2021-06-09 18:44] avifried1 commented on #6052
We're seeing the exact same thing, version 3.1.0-rc12, but were seeing it before from time to time randomly.
wait container logs look exactly the same.
pod is in `Completed` status, main container is in `terminated - Completed (exit code: 0)
 ` status, wait container is in `running, ready` status. And the workflow (it's a multi-step DAG workflow) hangs on running (eventually terminating after exce

[2021-06-09 19:26] avifried1 opened #6115 "Wait container stuck in a loop while main container finished successfully"
## Summary

Wait container is occasionally stuck, workflow keeps running until it times out, while the main pod has finished successfully.

wait container log:

[code]

pod is in `Completed` status, main container is in `terminated - Completed (exit code: 0)` status, wait container is in `running, ready` status. And the workflow (it's a multi-step DAG workflow) hangs on `running` (eventually termi

[2021-06-09 19:27] alexec commented on #6109
I agreed, how to implement - we need a new API called `GetNamespaces`:

1. List all namespaces. This cannot be done with the user's account. By definition they are limited to some namespaces, then you would not give them access to all namespaces. You could use the argo-server's default account for this.
2. For each namespace, use the `kubectl can-i` API (`SelfSubjectAccessReview`) to see if you ca

[2021-06-09 19:29] alexec commented on #6115
Excellent. Thank you. Can I please ask you to test the `argoexec:dev-docker` image? I think this should fix your issue.

[2021-06-09 19:33] avifried1 commented on #6115
what do you suggest I test for? We weren't able to reproduce this every time, it just happens sporadically.

[2021-06-09 20:31] alexec commented on #6115
can you soak it and see?

[2021-06-09 21:17] alexec commented on #6109
As this bugged me and other users, I've created a PoC PR for you to test. Can you please test the `argoproj/argo-server:dev-ns` image and tell me what you think?

[2021-06-09 22:15] #6064 closed

[2021-06-09 23:06] 2qif49lt commented on #6110
@sarabala1979
[code]
[code]

[code]
it  behaves  the same after restarting workflow controller pod.

[2021-06-09 23:20] fire opened #6117 "Workflow hangs"
## Summary

When I submit argo a workflow it doesn't complete. `submit -n argo --watch argo-dag.yml`

https://github.com/V-Sekai/workflow-maroon-steel-cat

I am surveying github workflows.

## Diagnostics

What Kubernetes provider are you using?

k3d

What version of Argo Workflows are you running?

argo: v3.0.7

What executor are you running? Docker/K8SAPI/Kubelet/PNS/Emissary

Kubelet? I'm not s

[2021-06-09 23:43] alexec commented on #6117
Can you try with `argoproj/argoexec:latest`?

[2021-06-09 23:46] fire commented on #6117
How do I enable that?

[2021-06-09 23:52] fire commented on #6117
It probably is a different problem then. https://github.com/V-Sekai/workflow-maroon-steel-cat/runs/2788738856?check_suite_focus=true

[2021-06-09 23:58] sarabala1979 commented on #6117
@fire can you provide `pod yaml`  `kubectl get pods dag-diamond-pbrg9-3037433362 -o yaml`
`kubectl logs dag-diamond-pbrg9-3037433362 wait`

[2021-06-10 00:00] sarabala1979 commented on #6117
@fire can you import `argoproj/argoexec:latest` before you submit the workflow?
`k3d image import argoproj/argoexec:latest`

[2021-06-10 00:02] fire commented on #6117
I can change it to `argo submit -n argo argo-dag.yml` without watch.

However, I'd need to a command to find the exact pod and then it's logs. I'm not as skilled at k8s.

[2021-06-10 00:32] sarabala1979 commented on #6117
Get all workflow pods `kubectl get pods  | grep <wfname>`

[2021-06-10 01:16] fire commented on #6117
You can see the pod isn't starting https://github.com/V-Sekai/workflow-maroon-steel-cat/runs/2789192437?check_suite_focus=true

[2021-06-10 01:27] fire commented on #6117
I can recreate this with k3d and docker on Windows.

[2021-06-10 01:31] fire commented on #6117
I am trying https://github.com/argoproj/argo-workflows/issues/5243#issuecomment-792993742.

[2021-06-10 01:42] fire commented on #6117
Thanks. It works now!

Please document using `k8sapi`.

https://github.com/V-Sekai/workflow-maroon-steel-cat/runs/2789308315?check_suite_focus=true

[2021-06-10 01:42] #6117 closed

[2021-06-10 05:05] sarabala1979 commented on #5439
Yes, the Current design can support this. But for the MVP of this feature release, will support the default agent (argoexec). Please raise the enhancement issue with your usecase.

[2021-06-10 06:31] christopheblin commented on #6113
@alexec

I see 2 problems
1. like for labels, when it is the end-user that submits, it is "risky" (typo, forget, ...)
2. not searchable (neither in workflows nor in the archives)

somehow, inside a WorflowTemplate, I'd like to set

[code]

eventually, if it is also supported in generateName, that would be great too

Otherwise, something "magical" inside the controller (for labels)

Otherwise, mayb

[2021-06-10 06:57] christopheblin commented on #6036
sorry, I am not very familiar with go

You suggest to replace

[code]

by

[code]

is it ?

[2021-06-10 07:42] smile-luobin commented on #4508
i am trying to fix this bug. but i cann't push my codes successfully. is there any contributor guides?

[2021-06-10 08:59] christopheblin opened #6118 "failure when waiting a sub-workflow"
## Summary

I have a workflow that launches another workflow

While it waits for the end, I have an error

The error happens after many "tries" (I'd say around 58 calls succeeded before this failure, see attached logs.txt)

[code]

In the controller logs, I only see
[code]

Do you have any idea to what I can look for ?

the number of pods launched by argo is not so high (around 30) and the cluster

[2021-06-10 09:18] gurvindersingh commented on #6109
I have tested it but the error still persists. Here is the logs from current run

[code]
Between I assume meant the image as `argoproj/argocli:dev-ns`

[2021-06-10 09:41] debellotti opened #6123 "Events.md improvement"
# Summary

Improve infos about the process of binding events and workflow templates.

Trying to use the argo workflows events and I noticed that some crucial explanations are missing here. I would like to add:

A simple WorkflowTemplate bound to the WorkflowEventBinding, to show what is triggered by the curl that send the event
Some infos about the process that bind the event to the workflow templ

[2021-06-10 14:34] #6123 closed

[2021-06-10 14:35] alexec commented on #6109
Yes. Can you please include a screenshot of the workflow list page options?

[2021-06-10 14:36] alexec commented on #6118
I/o timeout should be considered transient.

@terrytangyuan would you be interested in looking into this?

[2021-06-10 14:37] alexec commented on #6118
@christopheblin do you know want version this by is in? Do you know if it is a regression?

[2021-06-10 14:38] alexec commented on #4508
https://github.com/argoproj/argo-workflows/blob/master/docs/CONTRIBUTING.md

[2021-06-10 14:59] christopheblin commented on #6118
this is in 3.1.0-rc12

no idea if this is a regression

[2021-06-10 15:13] terrytangyuan commented on #6118
I'll look into this. `i/o timeout` should have been retried but looks like it didn't.

[2021-06-10 16:09] sarabala1979 commented on #6110
@2qif49lt I didn't see any step is waiting for lock message in log. I am trying to reproduce in my local

[2021-06-10 16:32] alexec opened #6124 "v3.1.0-rc14"
- [ ] 44dc1aabc (origin/master, master) docs: Add note on the requirements of resource templates. Fixes #5566 (#6125)
- [ ] b5bd0242d Update events.md (#6119)
- [x] a497e82e0 fix(executor): Fix docker not terminating. Fixes #6064 (#6083)
- [x] 1d76c4815 (tmp) feat(manifests): add 'app' label to workflow-controller-metrics service (#6079)
- [x] 1533dd467 fix(executor): Fix emissary kill. Fixes #603

[2021-06-10 16:33] alexec commented on #6124
@sarabala1979 anything else to add to v3.1?

[2021-06-10 16:55] terrytangyuan commented on #5566
That makes sense. Sent https://github.com/argoproj/argo-workflows/pull/6125 to reflect this.

[2021-06-10 17:04] #5566 closed

[2021-06-10 17:04] sarabala1979 opened #6126 "v3.0.8 cherry-pick"
- [ ] Denis Bellotti: Update events.md (#6119) b5bd0242d
- [x] Alex Collins: fix(executor): Fix docker not terminating. Fixes #6064 (#6083) a497e82e0
- [ ] Daan Seynaeve: feat(manifests): add 'app' label to workflow-controller-metrics service (#6079) 1d76c4815
- [ ] Alex Collins: fix(executor): Fix emissary kill. Fixes #6030 (#6084) 1533dd467
- [ ] Alex Collins: docs: Document v3.2 upgrading (alpi

[2021-06-10 17:46] alexec commented on #6126
done - just 1 from me

[2021-06-10 22:46] 2qif49lt commented on #6110
sorry, there are the full log and yamls correspond to the gif.

[https://gist.github.com/2qif49lt/f9473b7380c0eb15731fffb33944769d](workflow-controller.log)

`
apiVersion: v1
kind: ConfigMap
metadata:
  name: conf
data:
  maxbuilder: "60"

`
`apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  generateName: test-sema
spec:
  entrypoint: build-all
  serviceAccountName: std
  templates:
  -

[2021-06-11 06:02] christopheblin commented on #6113
ok, i've found a (ugly) workaround to cope with that situation

be prepared, it's really ugly :)

[code]

**explanation :**

we add a template named 'launcher' which is set to the entrypoint

this template just create a workflow resource, setting the expected parameters, name and labels thanks to {{workflow.parameters.xxx}}

when you submit manually, the default entrypoint launcher is proposed in

[2021-06-11 08:37] gurvindersingh commented on #6109
<img width="1429" alt="Screenshot 2021-06-11 at 10 34 57" src="https://user-images.githubusercontent.com/186077/121657788-022d4a00-caa1-11eb-8e3f-f95c8fec85f0.png">

[2021-06-11 11:54] christopheblin opened #6129 "Resubmit an archived workflow from UI does not keep labels"
## Summary

From an archived workflow, click on "Resubmit" in the UI

The created workflow do not have the appropriate labels

/!\ the bug happens only for archived workflows (when you resubmit a "normal" workflow, the labels are kept)

Be cautious, some labels should not be copied (like workflows.argoproj.io or workflows.argoproj.io/phase)

however, the labels placed manually by the user should b

[2021-06-11 15:16] alexec commented on #6129
It’s pretty clear there’s a bug on this line:

https://github.com/argoproj/argo-workflows/blob/db95dbfa1edd4a31b1fbd6adbb8e47ca8f2ac428/ui/src/app/archived-workflows/components/archived-workflow-details/archived-workflow-details.tsx#L228

You can see that neither labels or annotations are copied.

Would you like to submit a PR to fix?

[2021-06-11 15:17] alexec commented on #6109
It says “null” in the workflow namespace filter. Please enter a real namespace.

[2021-06-11 16:54] gurvindersingh commented on #6109
That is the problem as by default when user logs in, UI selects namespace as null and displays the error. If a user manually enter the namespace where he/she has access to then UI does work fine.

[2021-06-11 16:55] andrewm-aero opened #6133 "Cannot Scroll/Pan on Event Flow UI"
## Summary

What happened/what you expected to happen?
When viewing the ["Event Flow" UI](https://workflows.apps.argoproj.io/event-flow/argo?showWorkflows=true), any non-trivial flow becomes difficult to use, as there is no way to scroll or pan the view. This is demonstrable in the sandbox app, simply zoom in until the size of the flow exceeds the screen bounds, and the remaining nodes become inac

[2021-06-11 17:23] terrytangyuan commented on #6118
Submitted https://github.com/argoproj/argo-workflows/pull/6134 to fix this. `"i/o timeout"` is already covered in transient errors so the problem should be that we are not checking all the errors from `checkResourceState()`.

[2021-06-11 17:56] #6118 closed

[2021-06-11 17:58] alexec commented on #6109
The screenshot you attached is not from the image. But I did enter the wrong image name, it should be `argoproj/argocli:dev-ns`.

You'll see a new drop-down if have the right version.

![image](https://user-images.githubusercontent.com/1142830/121729995-f55e2580-caa3-11eb-9cca-ac58876e6094.png)

[2021-06-11 17:59] #6124 closed

[2021-06-11 18:01] alexec opened #6135 "`Pod was active on the node longer than the specified deadline`: wrong `finishedAt`"
When a workflow fails with `Pod was active on the node longer than the specified deadline`, the `finishedAt` time of the node does not appear to correct.

It should be the the latest finishedAt time of the container status, but it appears that under these circumstances, this is not actually set when the pod failed:

[code]

Pod status:

[code]

[2021-06-11 18:13] whynowy commented on #5934
Gentle bump @shrgabor

[2021-06-11 18:31] alexec opened #6136 "run stress test on v3.1"

[2021-06-11 18:44] alexec opened #6137 "run stress test on v3.2"

[2021-06-11 22:00] alexec commented on #6136
I've observed the pod clean up queue growing.

[2021-06-11 22:02] alexec commented on #6136
Nothing on profiles at low load.

[2021-06-11 22:35] alexec commented on #6136
![image](https://user-images.githubusercontent.com/1142830/121754914-ab3c6a80-caca-11eb-9b0f-39d873591360.png)

[2021-06-11 22:35] alexec commented on #6136
Should replace that with a singleton.

[2021-06-11 22:38] terrytangyuan commented on #5657
Added a note in https://github.com/argoproj/argo-workflows/pull/6125 so I think this can be closed.

[2021-06-11 23:30] alexec commented on #6136
There are many `get configmaps`, about 1 per workflow or maybe one per reconcille.

[2021-06-12 00:09] #6136 closed

[2021-06-12 00:44] alexec commented on #6136
Test complete.

[2021-06-14 08:24] marcstreeter commented on #5771
sorry for the delay - I have removed the `artifact-repositories` configmap as requested.  With the `workflow-controller-configmap` set with `archiveLogs: false`, it no longer is persisting the log (only the artifacts that I've specifically requested).  Hurray!

Note: If I have `archiveLogs: true` set within `workflow-controller-configmap`, then it does still persist the `main.log` file. However, i

[2021-06-14 12:29] gurvindersingh commented on #6109
i think the issue is that the UI display the `null` namespace too quickly without waiting for `listNamespaces` call to return the result and display in UI. I am running this image `argoproj/argocli:dev-ns` with  `imagePullPolicy: Always` so should have the correct version running.

If I wait on the workflow listing page for 1 mins or so with error, UI displays the correct list of namespaces where

[2021-06-14 14:47] #4234 closed

[2021-06-14 14:49] alexec commented on #5771
Is that valid workflow yaml?

[2021-06-14 15:54] alexec commented on #6109
@gurvindersingh can you try `argoproj/argocli:dev-undef`? This directly addresses what I think is the issue with `null`.

[2021-06-14 16:49] #6135 closed

[2021-06-14 19:11] shrgabor commented on #5934
Thanks for the bump, I was not monitoring this issue lately.

Sorry if I wasn't clear enough. I was inspecting the code changes only. I have never tested it in v2.12, and I have never said so.
I'm still confused about you asking that specific version.
I have to state that I don't have the resources to test it in that version.

[2021-06-14 22:36] steve-marmalade opened #6145 "archiveLogs is storing empty main.log files"
## Summary

The workflow logs that appear on the Argo Server UI are not persisted to the `main.log` that is stored in the artifact repository when `archiveLogs: true`.

## Diagnostics

What Kubernetes provider are you using?

**GKE on GCP, version `1.20.6-gke.1000`**

What version of Argo Workflows are you running?

**v3.1.0-rc11**

What executor are you running? Docker/K8SAPI/Kubelet/PNS/Emissary

[2021-06-15 06:51] christopheblin opened #6149 "docs : timeouts"
## Summary

In the timeout docs (https://argoproj.github.io/argo-workflows/examples/#timeouts), we find the `activeDeadlineSeconds` on a container

I see from the API that there is also a `timeout` property

From my understanding, the timeout includes pending+running state whereas activeDeadline includes only running

So the questions :
* Is there a reason why we only find activeDeadlineSeconds in

[2021-06-15 08:15] avifried1 commented on #6115
This issue is still happening in `v3.1.0-rc14`
Main container status is `terminated - Completed (exit code: 0)`, Wait container is still in `running`, ready Pod status is `Completed`, but workflow still running.

wait pod stuck in loop:
[code]
Running the following command manually inside the pod:
[code]

[2021-06-15 08:40] Siebjee commented on #1091
It's possible to expose this already, just as the kubernetes docs state. Here is a workflow example

[code]

[2021-06-15 09:27] chenyangxueHDU opened #6150 "Resource template add "createOrGet" action"
# Summary

What change needs making?
add "createOrGet" action in resource template

# Use Cases

When would you use this?
I create resource template with retryStrategy, and delete resource pod, then then workflow fail for AlreadyExists
---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-06-15 09:57] jopfeffe commented on #6034
Yes, that's correct. But wouldn't it be correct to also limit the number of parallel pending pods?

Example:
A loop containing 10 pods is executed. Due to cpu limit only one pod can be executed at a time. But parallelism is set to two. Now all pods are generated at the same time.
When now the limit in the cluster is increased so that based on the cpu limit 10 pods will fit, wouldn't these pods be

[2021-06-15 11:16] jopfeffe opened #6151 "Support artifactRepositoryRef in templates"
# Summary

A artifactRepositoryRef can currently only be set on Workflow level. It allows to define a specific artifact store per workflow. It cannot be used to define a specific artifact repository per template. In the template context the full artifact repo configuration has to be set.
My suggestion is to support artifactRepositoryRef in templates.
:warning: pseudo config :warning:
[code]

# Use

[2021-06-15 11:18] LudoNieuwenhuizen opened #6152 "workflow gets stuck halfway without any errors"
## Summary

While running much-used workflow, it got stuck halfway. When running again, it keeps getting stuck, but not always at the same point. Earlier I was able to run this workflow succesfully with the same version on the same cluster, but now it freezes constantly around the same point. Logs of both the pods and workflow-controller do not show errors, the ` Labeled pod completed` message com

[2021-06-15 11:47] boarder7395 opened #6153 "Docker logs command in argo wait container gets stuck when multiple processed are writing to stdout at a rapid rate."
## Summary

What happened/what you expected to happen?

When running a script with multiple processes that are writing to STDOUT the docker logs command in the argo wait container gets stuck in a bad state and never completes. When I manually kill the docker logs command the container completes successfully.

## Diagnostics

👀 Yes! We need all of your diagnostics, please make sure you add it all,

[2021-06-15 12:50] sanzenwin commented on #2228
Thanks, it works.

[2021-06-15 13:34] marcstreeter commented on #5771
That snippet is exactly what is present within the link I supplied (which is one of many examples that are present within the workflow examples published in this repo).  I may have misinterpreted its meaning. I am assume (I have no documentation evidence) that:
- it has the same purpose as the `archiveLogs` present in the `workflow-controller-configmap`
- it would/should/could override what I cons

[2021-06-15 14:03] terrytangyuan commented on #6150
Do you mean the executor pod is deleted but the created resource is still running? In this case, the executor could perhaps try to automatically get the already created resource instead of trying to re-create when retrying and then encounter AlreadyExists error. But there should at least be some option in case some users may still want to treat this as failure when the executor pod fails. Do you h

[2021-06-15 14:55] LarryFinn opened #6156 "RRule Support"
# Summary
Currently, schedules only support Cron style rules.  RRules (https://icalendar.org/iCalendar-RFC-5545/3-8-5-3-recurrence-rule.html) are based on iCal and support much more interesting and complex schedules.  It's a fairly standard format but not exposed that often.

The "schedule" input for tasks can take either Cron style input or RRule style input.
# Use Cases
Enable more complex sched

[2021-06-15 15:58] alexec commented on #6153
v2.5 has been out of support for some time. Please test with v3.0

[2021-06-15 16:00] alexec commented on #6152
Logs are interesting. Once a node changes from Pending to Succeeded it should not change again.

Can I ask you to test in v3.0?

[2021-06-15 16:01] alexec commented on #6151
This seems like a good idea. Would you like to submit a PR to add?

[2021-06-15 16:02] alexec commented on #6034
I'm not clear what you are saying on this. Could you please attach an example of your workflow?

[2021-06-15 16:05] alexec commented on #6115
This was not fixed.

[2021-06-15 16:55] alexec commented on #5976
Work-around: use PNS executor

[2021-06-15 17:33] #6109 closed

[2021-06-15 17:33] alexec commented on #6115
@avifried1 can you please attach the full logs? I don't have quite enough logs to diagnose.

[2021-06-15 18:15] #6133 closed

[2021-06-15 19:26] #5980 closed

[2021-06-15 21:39] #6069 closed

[2021-06-15 22:47] tszngai commented on #5310
Hi there in which release is this fixed? I'm using 3.0.2 and it's still broken. Thanks

[2021-06-16 01:38] #5644 closed

[2021-06-16 02:59] terrytangyuan commented on #5310
The relevant fix should be https://github.com/argoproj/argo-workflows/commit/80f8473a13482387b9f54f9288f4a982a210cdea which is available in >3.1.0rc9

[2021-06-16 07:52] jopfeffe commented on #6034
Hi alexec, i just had a look. Unfortunately I couldn't test it fully but I think I might have been wrong. All items of the loop are in fact still displayed at the same time in the Argo UI. However this might be not a problem as the corresponding pods are not created. So I don't think that all steps are executed at the same time as soon sufficient resources are available.

I basically thought that

[2021-06-16 10:19] LudoNieuwenhuizen commented on #6152
Thanks for you response, I try to update, but now my controller pod is in a crash loop:
"LEADER_ELECTION_IDENTITY must be set so that the workflow controllers can elect a leader", I tried updating to newer subversions, etc. but with the excat same result. Didn't find out how I can set that env var in my terraform helm release of argo...

[2021-06-16 12:20] vaibhav-k commented on #5252
This issue also happens when the GKE node pool is using `Container-Optimized OS with Containerd (cos_containerd)`. Switching the container image back to `Container-optimized OS with docker` fixed the issue for us!

[2021-06-16 13:06] LudoNieuwenhuizen commented on #6152
Allright, I managed to set that LEADER_ELECTION_IDENTITY to `argo`. that is out of the way.

Rerunning my flow, now with argo v3.0.7 gives the same behavior, unfortunately...

**The workflow that is now stuck, from the controller's logs:**
[code]

**logs of the subflow's WAIT container:**
[code]

System resources look okay, I really don't get what is sinking this boat, suggestions are welcome and

[2021-06-16 16:22] alexec commented on #6152
You, please can you use the v3.0.7 executor image too.

[2021-06-16 16:26] alexec commented on #6152
I think you must have something special with your workflow. Can you attach an example that reproduces the issue?

[2021-06-16 18:35] #6051 closed

[2021-06-16 18:36] alexec opened #6161 "add cron check to health check endpoint"
We could look at CronWorkflows and determine if there should have been a cron run recently (e.g. in last 5m). If this fails then the workflow-controller is unhealthy and should be restarted.

[2021-06-16 18:36] alexec commented on #6161
@jessesuen @sarabala1979 @whynowy thoughts on this?

[2021-06-16 20:39] blkperl opened #6163 "Workflow did not retry get workflowtemplates when the server was busy"
## Summary

The K8s api server responded with "the server has received too many requests and has asked us to try again later" and the Workflow did not retry again later.

## Diagnostics

👀 Yes! We need all of your diagnostics, please make sure you add it all, otherwise we'll go around in circles asking you for it:

What Kubernetes provider are you using?

EKS

What version of Argo Workflows are yo

[2021-06-16 21:07] alexec opened #6164 "YAML to Python transpiler"
It would be awesome to be able to convert YAML into Python.

@terrytangyuan

[2021-06-16 23:12] nmyalik opened #6165 "Groups are not working with okta sso integration"
## Summary
We're running Argo Workflows with SSO and RBAC enabled. We're using Okta as the OIDC provider.

Our service-account, which pointed to RoleBinding:
[code]
Our config-map:
[code]

When we try to set a rule for the email `email endsWith '@ourdomain.com'`, rbac works as expected and with groups in doesn't work.
And we have `okta.groups.read` granted in Okta app.

Expected behaviour that gro

[2021-06-16 23:14] alexec commented on #6165
Do the groups appear correctly in the user info page?

[2021-06-16 23:15] nmyalik commented on #6165
nope, we have `Groups: -`

[2021-06-16 23:21] alexec commented on #6165
This means that OKTA is not returning groups to Argo Workflows. Can you speak to them to find out if you need some special configuration?

[2021-06-16 23:38] blairham commented on #6165
@alexec I can assure you that Okta is returning groups, we have many other OKTA <-> OICD apps including ArgoCD set up the same way which are working. I'm looking to see if there is any data that I can provide to help

[2021-06-16 23:42] blairham commented on #6165
one difference in configuration between ArgoCD and Argo Workflows we identified was: **requestedIDTokenClaims**
[code]

[2021-06-17 01:07] alexec commented on #6165
Argo CD puts Dex between it and the SSO provider (e.g. OKTA), and is needed when the OAuth implementation is non-standard, e.g. Github. This may be needed here too.

[2021-06-17 01:55] blairham commented on #6165
Are you sure? we're using this configuration: https://argoproj.github.io/argo-cd/operator-manual/user-management/okta/#oidc-without-dex

[2021-06-17 04:20] alexec commented on #6165
Thats' the Argo CD manual and I don't think would apply to Argo Workflows. This is used by our demo environment to connect to Github:

https://github.com/argoproj/argoproj-deployments/tree/master/dex

[2021-06-17 10:30] Nash-x9 opened #6171 "plz add pagination."
# Summary

thk u for your awesome project ,Plz add pagination,Now I use api to show my workflows, isn't so hard to use without pagination.

# Use Cases

Show my workflows.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-06-17 12:38] LudoNieuwenhuizen commented on #6152
Thanks for the suggestions!
I deleted my installation of argo, and installed it again with ` kubectl apply -f <project url> and after making the necessary service-account changes, I was finally able to run my workflow without issues and quite fast.
conclusion: something was really wrong with my helm-in-terraform deployment of argo-workflow.

thanks again for the suggestions and help, I will close

[2021-06-17 12:38] #6152 closed

[2021-06-17 12:45] Atharex commented on #4621
Nice feature +1 Is it already available in Argo 3.0.7?

[2021-06-17 13:03] blairham commented on #6165
@alexec If I may, I think there might be a wire crossed, replay this.

Are you sure? we're are using this configuration (for ArgoCD as we do no not use dex in our configuration): https://argoproj.github.io/argo-cd/operator-manual/user-management/okta/#oidc-without-dex

Is it your statement that OKTA OIDC is a non-standard OIDC provider? If that is the case, I'm a little confused as to how ArgoCD i

[2021-06-17 14:59] terrytangyuan commented on #4621
https://github.com/argoproj/argo-workflows/commit/c59f59ad0e7609cf8b87d6733f73efa9ccf44484 is the relevant commit so looks like it's only available in 3.1.

[2021-06-17 16:10] #4621 closed

[2021-06-17 16:35] blairham commented on #6165
And going back to what I mentioned, I think the issues is that Argo is not correctly getting the groupsClaim

[2021-06-17 16:48] alexec commented on #6171
I think we do have pagination on the workflow list page if that's the page you mean?

[2021-06-17 16:51] Nash-x9 commented on #6171
How do I start page numbers on a specific page?

[2021-06-17 17:24] d4l3k commented on #734
@jessesuen is there any current plans / timelines for gang scheduling?

[2021-06-17 17:28] blairham commented on #6165
Because we use [Loft](https://loft.sh) and can also be an [OIDC](https://loft.sh/docs/guides/oidc) provider we have set that up to unblock us from using Argo Workflows. However, we would really like to have it directly connected to OKTA so that we're not reliant on another product for Argo Workflows to work.

[2021-06-17 17:42] alexec commented on #6171
https://github.com/argoproj/argo-workflows/blob/master/api/openapi-spec/swagger.json#L2564

You must use `limit` and `continue`. It is not possible to jump directly to a page.

[2021-06-17 17:50] LarryFinn opened #6172 "DAG not properly showing second branch in master"
## Summary

I noticed a workflow that works fine off a release does not work off master.  The second "mat" branch never shows in the ui and the workflow gets stuck

## Diagnostics

👀 Yes! We need all of your diagnostics, please make sure you add it all, otherwise we'll go around in circles asking you for it:

What Kubernetes provider are you using?  minikube

What version of Argo Workflows are you

[2021-06-17 19:32] alexec commented on #6172
Can you please attach your controller and wait container logs.

[2021-06-17 19:54] wwwaldo opened #6173 "Implement WatchEvents for argoKubeWorkflowServiceClient"
# Summary

Right now WatchEvents is implemented for the Argo API Server client. The Argo Kube client doesn't seem to implement it, see [here](https://github.com/argoproj/argo-workflows/blob/master/pkg/apiclient/argo-kube-workflow-service-client.go#L46):

[code]

 That means that a client can't stream the workflow WatchEvents endpoint using kube auth.

# Use Cases

We're writing a Go client that in

[2021-06-17 20:22] LarryFinn commented on #6172
@alexec Which wait logs?

Controller logs:
[code]

[2021-06-17 20:27] LarryFinn commented on #6172
Wait logs for everything:
[code]

[2021-06-17 20:34] alexec commented on #6173
Would you like to submit a PR to fix this?

[2021-06-17 21:55] karenin-overseas commented on #6173
Yes, I will see what I can do :)

[2021-06-18 09:39] sacreman commented on #5252
Same issue for us

[2021-06-18 14:15] terrytangyuan commented on #6164
This could be interesting but I am not sure what use cases there are (Python to YAML is useful but probably not the other way around). Do you have anything in mind?

[2021-06-18 14:19] ddseapy opened #6177 "PDB unit test and example are different"
Unit test for PDB and example are different:

https://github.com/argoproj/argo-workflows/pull/3914/files

https://github.com/argoproj/argo-workflows/blame/master/workflow/controller/operator_test.go#L3249

https://github.com/argoproj/argo-workflows/blob/4f847e099ec2a2fef12e98af36b2e4995f8ba3e4/workflow/controller/operator_test.go

is it ok to use "100%", or is there an issue with that?  That's wha

[2021-06-18 14:58] terrytangyuan commented on #6163
Thanks. https://github.com/argoproj/argo-workflows/pull/6178 should fix this.

[2021-06-18 15:11] LudoNieuwenhuizen opened #6179 "running output-parameter example fails, with TWO executors created"
## Summary

I was testing my argo-minio-setup, running this example script: https://argoproj.github.io/argo-workflows/examples/#output-parameters. I expected it either to run or give clear errors. What I got just confuses me:

1. the wait container shows it is starting BOTH pns and k8sapi executors
2. `executor error: cannot enter chroot for container named \"main\": no PID known - maybe short run

[2021-06-18 15:15] ebr commented on #4508
This is still and issue us in 3.0.7. We've resorted to fixing it in Python, thanks to @saitoy1

[2021-06-18 15:40] alexec commented on #6179
Actual error is “ /proc/26/root: permission denied”. Maybe pod is running using security context?

[2021-06-18 15:41] #6163 closed

[2021-06-18 15:43] alexec commented on #6177
@sarabala1979 i seem to recall that this was wrong in the examples and was corrected.
@ddseapy cpuld I ask you to test and tell us which is correct. This is vanilla PBD with same syntax etc.

[2021-06-18 15:52] alexec commented on #6164
The goal is to help users get started using Python, by having some Python (I.e Couler) examples.

In Argo Dataflow, all YAML examples are writing in Python and the build script runs the transpiler to create the YAML examples.

So maybe a better way of achieving the goal would be to add versions of common examples in Python.

@terrytangyuan would you be interested in helping doing this?

[2021-06-18 15:53] ddseapy commented on #6177
we get errors trying to set a number, but we use the java sdk.

this doesn't complain:
[code]
this doesn't:
[code]
![pdb](https://user-images.githubusercontent.com/5047750/122586991-500afa80-d02b-11eb-8fa8-c6057745a3e9.png)

i assume that means that percent is correct?  If you want me to verify the pdb is taking affect I can definitely do that and post back here, but might be a bit before I can.

[2021-06-18 20:41] boarder7395 commented on #6153
@alexec Tested with v3 and ran successfully. Noticed that the docker logs command is no longer being called by the wait container and now argo is using docker wait to figure out when the main process exits.

[2021-06-18 20:41] #6153 closed

[2021-06-18 21:16] #5622 closed

[2021-06-18 21:16] #4407 closed

[2021-06-18 22:22] ad22 opened #6180 "Affinity at the DAG Task or Workflow Step Level"
# Summary

Support affinity spec in DAGTask and WorkflowStep
# Use Cases

We currently use a workflow which spawns a 100+ task parameterized DAG based on various common templates. It is often required that individual steps in the DAG have independent nodeAffinity and/or PodAffinity requirements. None of the current methods (Workflow level or Template level affinity) satisfy this use case.

---

**

[2021-06-18 23:13] marcstreeter commented on #1045
when removing the slash from `key: "{{workflow.parameters.s3-key-model}}/model-train-j7r7b/"` -> `key: "{{workflow.parameters.s3-key-model}}/model-train-j7r7b"` this worked for me.  When it has a slash though there were no contents in S3.

I am using  Argo 3.0.2

Also if I tried to put it in `/tmp/` instead of `/s3/` it would fail me with an OCI error

[2021-06-19 06:56] aviklai opened #6181 "Argo workflows with keda and celery workers"
# Summary
Hi,

I wanted to suggest an enhancement that was already implemented in Apache Airflow:
https://www.astronomer.io/blog/the-keda-autoscaler
https://airflow.apache.org/docs/helm-chart/stable/keda.html
The basic idea here is to spin up pods with celery workers that pull tasks from a queue and the execution environment is retained between multiple consequent tasks.

Currently, in Argo workfl

[2021-06-19 19:44] blairham commented on #6165
@alexec, do you think it has anything to do with this?
[code]
I noticed that the subjectID is some random string and not would I would expect to see, which should, in this case, be the email address.

This is the clientId and clientSecret configuration:
[code]

[2021-06-19 21:20] alexec commented on #6165
That’s what I also thought, but it is wrong. Subject  are typically opaque strings, not email addresses.

The only scope you need is “groups”. This code is proven with other providers, so my assumption is what is OKTA is doing differently?

[2021-06-19 21:22] blairham commented on #6165
I was reading through the ArgoCD docs and came across this:
https://argoproj.github.io/argo-cd/operator-manual/user-management/#requesting-additional-id-token-claims

[2021-06-19 21:36] blairham commented on #6165
you can always create a free okta developer account to work with the code too: https://developer.okta.com/signup/

[2021-06-20 22:25] sarabala1979 commented on #6177
@ddseapy  PDB with % will work only for predefined no of pods like Deployments, ReplicaSet, StatefulSets.  As we know workflow pods are more dynamic. We had an issue with our prod env '%' didn't hold the workflows pods when the distribution happens. If we define the whole number(no pods), PDB will do its job for that no of pods.   Based on this observation, the example updated with max number `999

[2021-06-21 05:39] sarabala1979 commented on #6180
We can achieve this enhance using `podSpecPatch`.  Each Step/Task can parameterize `podSpecPatch` `nodeAffinity and/or PodAffinity` value to `template`

[2021-06-21 05:41] sarabala1979 commented on #6180
@ad22 https://github.com/argoproj/argo-workflows/blob/master/examples/pod-spec-from-previous-step.yaml

[2021-06-21 05:45] sarabala1979 commented on #6181
Argo Controller has already implemented a Queue and workers pattern to process the workflow at scale.  Recent Argo workflow has introduced few features to avoid POD creation for light-weighted task `containerSet` and `data-template`.
v3.2 will have Agent implementation which will process the multiple task in one pod

[2021-06-21 06:56] LudoNieuwenhuizen commented on #6179
Thanks! and you're right:
[code]
I guess those are due to the serviceaccount I use to run the flow. Can you confirm?
The rolebinding for the active serviceaccount is as follows, and worked before:

[code]
the admin group should be sufficient, right?
In my deployment I did not set any additional security context

[2021-06-21 10:53] smile-luobin commented on #4508
There is a bug in processAggregateNodeOutputs for dag or steps in workflow-controller.

The bug source code is:

- https://github.com/argoproj/argo-workflows/blob/510b4a816dbb2d33f37510db1fd92b841c4d14d3/workflow/controller/dag.go#L507

- https://github.com/argoproj/argo-workflows/blob/510b4a816dbb2d33f37510db1fd92b841c4d14d3/workflow/controller/steps.go#L116

For fanout task/step, argo will gener

[2021-06-21 11:51] prestto opened #6183 "Argo can't run the DAG example from docs"
## Summary

Argo expected to run [DAG example ](https://argoproj.github.io/argo-workflows/examples/#dag), but it just hangs after pod "A"
completes it's task.

This seems to be possibly related to [this issue](https://github.com/argoproj/argo-workflows/issues/3739)

## Diagnostics

Kubernetes provider: [OVH France](https://www.ovhcloud.com/fr/public-cloud/?xtor=SEC-13-GOO-[FR%20-%20OPL%20-%20S%20-

[2021-06-21 13:52] christopheblin commented on #6129
@alexec I did my best to provide the PR, I hope it will be enough :)

[2021-06-21 15:23] sarabala1979 commented on #6183
I will take a look

[2021-06-21 15:23] sarabala1979 commented on #6177
@ddseapy Can we close this issue?

[2021-06-21 15:29] ddseapy commented on #6177
i can put up an MR but I need to get it working first. it seems to me that both the example and unit test are not correct from what i'm seeing.

The example has a string that's a number (`"9999"` vs `9999`), which causes the error I screenshot and doesn't match the documentation (https://kubernetes.io/docs/tasks/run-application/configure-pdb/).

The unit test is valid, but sounds like it's not rec

[2021-06-21 15:39] ebr commented on #6051
I'd like to reopen this issue please. We are seeing the same behaviour with `OnPodSuccess`. We are on 3.0.7. Previously on 3.0.2 I *think* it was working, but can no longer confirm as we've upgraded.

Details/symptoms:
- Argo v3.0.7
- `PodGCStrategy: OnPodSuccess` is defined in the Workflow Controller Configmap
- Workflows are submitted both directly and `--from` a ClusterWorkflowTemplate
- Neithe

[2021-06-21 16:50] sarabala1979 commented on #6177
@ddseapy Let me look the UI Error, Are you able to submit the workflow using CLI>

[2021-06-21 17:20] alexec opened #6185 "v3.1.0 cherry-pick"
git log --oneline v3.1.0-rc14..master|grep -v 'docs\|feat\|build'

- [ ] d0487cae2 test: Fix logging test (#6159)
- [ ] 43f68f4aa fix(ui): Fix event-flow scrolling. Fixes #6133 (#6147)
- [ ] 9f0cdbdd7 fix(executor): Capture emissary main-logs. Fixes #6145 (#6146)
- [ ] 963bed34b fix(ui): Fix-up local storage namespaces. Fixes #6109 (#6144)
- [ ] 80599325f fix(controller): Performance improvement f

[2021-06-21 17:21] alexec commented on #6185
@sarabala1979 @terrytangyuan please check any that you want back-porting to v3.1.0 GA.

[2021-06-21 17:33] terrytangyuan commented on #6185
I have no permission to edit the list but could you please cherry-pick the following to v3.1.0 GA?
* b38fd14 fix(executor): Check whether any errors within checkResourceState() are transient. Fixes #6118. (#6134)
* f3fe565 chore: Upgrade Alibaba OSS to use more secure ListObjectsV2() (#6142)
*  245764e chore(executor): Adjust resource JSON object log to debug level (#6100)

[2021-06-21 19:18] sarabala1979 commented on #6126
- [ ] Brandon High: docs: Remove RBAC for SSO from Roadmap (Already implemented) (#6174) 991d8641c
- [ ] github-actions[bot]: docs: updated CHANGELOG.md (#6160) b8109bbea
- [ ] Reijer Copier: fix(controller): dehydrate workflow before deleting offloaded node status (#6112) 9fe8c1085
- [ ] Yuan Tang: fix(controller): Allow retry on transient errors when validating workflow spec. Fixes #6163 (#6178)

[2021-06-21 21:09] alexec commented on #6126
I've checked two more items.

[2021-06-21 21:09] alexec commented on #6181
I think this is https://github.com/argoproj-labs/argo-dataflow

[2021-06-21 22:18] alexec commented on #6185
`FAIL: TestCLISuite/TestLogProblems`

[2021-06-21 22:27] #5064 closed

[2021-06-21 22:27] #5003 closed

[2021-06-21 22:51] #6185 closed

[2021-06-21 22:55] ad22 commented on #6180
@sarabala1979 Great! Didn't think of that. Thank you.

[2021-06-21 22:55] #6180 closed

[2021-06-22 04:06] aviklai commented on #6181
@sarabala1979 @alexec thanks - I will take a look at both of these.

[2021-06-22 04:06] #6181 closed

[2021-06-22 04:34] ddseapy commented on #6177
no i cannot.  if I argo submit the example currently on master (https://github.com/argoproj/argo-workflows/blob/bae2188961125a07eb822c301c9a71e61cc7676b/examples/default-pdb-support.yaml), I get the following error:

[code]

I believe the example became incorrect in this commit:
https://github.com/argoproj/argo-workflows/commit/fcf4e9929a411a7c6083e67c1c37e9c798e4c7d9#diff-8d68111090ad6c799cf2910f

[2021-06-22 05:26] #5657 closed

[2021-06-22 05:26] book987 commented on #5657
closed

[2021-06-22 06:31] book987 commented on #2496
@sarabala1979 Hi may I ask why we cannot use conditional parameter in inputs.parameters/argument.parameters? Or can you show me where I could found the related discussion? Thanks!

[2021-06-22 06:41] book987 opened #6189 "Wrong validate order when validate DAG task's argument"
## Summary
IN SHORT: `validateArgument` must run before `validateDAGTaskArgumentDependency` at [workflow/validate/validate.go#L1245](https://github.com/argoproj/argo-workflows/blob/bae2188961125a07eb822c301c9a71e61cc7676b/workflow/validate/validate.go#L1245)

I was trying to use conditional parameters in dag.tasks.arguments.parameters (didn't notice the docs said outputs parameters before) and got

[2021-06-22 10:33] SebastianGoeb commented on #5067
I've recently also run into this situation/problem in my organization. We are moving toward a k8s cluster provided and managed by other team(s) and along with that come very heavy restrictions on what a developer, application, etc. can do in K8s, all managed through service accounts. We use service accounts to identify applications and manage their rights, so there is a 1-to-1 correspondence betwe

[2021-06-22 11:48] KiralyOr opened #6191 "Step skipping using looping and artifact passing"
## Summary

getting failed to resolve {{steps.generate-artifact.outputs.artifacts.hello-art}}, when skipping on step that use looping and artifact passing.
## Diagnostics

The combination of step that gets `when = false`, `withSequence` and `artifact` resolve with the following error:
`failed to resolve artifact`.

What Kubernetes provider are you using?
EKS
What version of Argo Workflows are you

[2021-06-22 14:03] #6189 closed

[2021-06-22 15:24] simster7 commented on #6172
I'll take a look at this

[2021-06-22 15:31] sarabala1979 commented on #6191
@KiralyOr I will take a look

[2021-06-22 16:02] simster7 commented on #6172
I was able to reproduce. Looking for a fix.

[2021-06-22 16:34] sarabala1979 commented on #6183
time="2021-06-21T11:32:55.608Z" level=info msg="Re-applying updates on latest version and retrying update" namespace=argo workflow=dag-diamond-sd8d8
I am not able to reproduce my environment.
Can you please check there is only one controller is running on that cluster?

[2021-06-22 17:23] simster7 commented on #6172
@LarryFinn Can you confirm which released version this does work in correctly?

[2021-06-22 18:03] sarabala1979 commented on #6177
which version of CLI are you using? Please upgrade to latest.
`argo version`
I am able to submit the workflow

[code]

[2021-06-22 18:08] #6126 closed

[2021-06-22 18:09] ddseapy commented on #6177
i'm using
argo: v3.1.0-rc14
  BuildDate: 2021-06-10T19:08:51Z
  GitCommit: d385e6107ab8d4ea4826bd6972608f8fbc86fbe5
  GitTreeState: clean
  GitTag: v3.1.0-rc14
  GoVersion: go1.15.7
  Compiler: gc
  Platform: linux/amd64

i can update to 3.1.0.

the error is in the workflow:
 argo list
NAME                        STATUS   AGE   DURATION   PRIORITY
default-pdb-support-l5t7n   Failed   1m    0s

[2021-06-22 18:09] ddseapy commented on #6177
are you seeing the workflow succeed?

[2021-06-22 18:28] sarabala1979 commented on #6177
Got it, I can see the error in message. Found the issue in example, for number we shouldn't use "

[code]

[2021-06-22 18:28] sarabala1979 commented on #6177
Would you like to submit the PR for this changes?

[2021-06-22 18:38] ddseapy commented on #6177
if changing the example, it will not match the openapi spec (https://github.com/argoproj/argo-workflows/pull/4831) which it presumably why it was changed to a string: https://github.com/argoproj/argo-workflows/commit/fcf4e9929a411a7c6083e67c1c37e9c798e4c7d9#diff-8d68111090ad6c799cf2910f0f3bda4d2ed3457654bb111a3c43054142877cbeL10

is that something that is desired?

maybe a PR that updates openapi

[2021-06-22 18:57] ddseapy commented on #6177
looking at https://github.com/argoproj/argo-workflows/issues/4817#issuecomment-778855785

[2021-06-22 19:01] LarryFinn commented on #6172
@simster7 it appears to work fine in 3.0.3 and 3.0.7 but not 3.1.0

[2021-06-22 19:07] simster7 commented on #6172
Thanks, I found and fixed the issue. Will open a PR soon

[2021-06-23 03:41] zoftdev opened #6194 "Lastest argoexec fail to parse template"
## Summary

use argoproj/argoexec:latest (41c39cfdfaf3) linux/amd64

got error:
[code]

Not error on  argoexec:v3.0.3-linux-amd64 and argoexec:v3.1.0-linux-amd64

## Diagnostics

👀 Yes! We need all of your diagnostics, please make sure you add it all, otherwise we'll go around in circles asking you for it:

What Kubernetes provider are you using?
1.21

What version of Argo Workflows are you runnin

[2021-06-23 04:33] sarabala1979 commented on #6194
@zoftdev Are you using the `workflowcontroller:latest` also?

[2021-06-23 05:12] terrytangyuan commented on #6164
Are you suggesting that we add Python examples in this repo? Here are some things to consider:
1. Currently there's still feature parity between Couler and Argo Workflows. Some features are not available in Couler yet so there isn't straightforward 1-to-1 mapping between YAML and Python examples.
2. Writing a transpiler may not be trivial when the example gets more complicated.
3. Couler is still

[2021-06-23 06:24] sarabala1979 commented on #6177
fcf4e99#diff-8d68111090ad6c799cf2910f0f3bda4d2ed3457654bb111a3c43054142877cbeL10
    is that something that is desired?
@alexec or @jessesuen Can you comments it?
PDB Create API call has validation for int and string fields.  My recommendation is OpenAPI should have int and string.

[2021-06-23 07:22] ognjen-it commented on #6194
+1

[2021-06-23 07:58] Stevenyu1982 commented on #2063
I tried the above steps, been able to create the job in a different namesapce, however the job stucks in pending status forever, any idea

argo list
NAME                STATUS    AGE   DURATION   PRIORITY
sumc-cct-job7s7t9   Pending   15m   0s         0
sumc-cct-job9mphx   Pending   17m   0s         0
sumc-cct-jobbg7xr   Pending   19m   0s         0
sumc-cct-job29btn   Pending   26m   0s         0

[2021-06-23 09:19] #3038 closed

[2021-06-23 09:19] #4685 closed

[2021-06-23 09:19] #2005 closed

[2021-06-23 09:19] #5107 closed

[2021-06-23 13:07] tim-sendible opened #6195 "3.0.8 images were not pushed to docker hub"
## Summary

What happened/what you expected to happen?
https://hub.docker.com/r/argoproj/workflow-controller/tags?page=1&ordering=last_updated&name=3.0.8

This should return the workflow-controller for 3.0.8

https://hub.docker.com/r/argoproj/argocli/tags?page=1&ordering=last_updated&name=3.0.8

This should return the CLI.

The manifests are still referencing docker hub.. I thought I'd better chec

[2021-06-23 13:32] orrymr commented on #6195
Same thing for argoexec: https://hub.docker.com/r/argoproj/argoexec/tags?page=1&ordering=last_updated&name=3.0.8

[2021-06-23 15:03] alexec commented on #6164
I think links would be fine. Perhaps we could add the link in the description annotation?

[2021-06-23 15:20] sarabala1979 commented on #6195
I will take a look

[2021-06-23 16:05] alexec opened #6196 "argoexec images is 130Mb"
This is larger than expected. I think that `setpcap` adds 24Mb, and can be moved to the

[2021-06-23 16:05] alexec commented on #6196
I think I'm wrong about pcap.

[2021-06-23 16:07] alexec commented on #6196
https://hub.docker.com/layers/argoproj/argoexec/latest/images/sha256-08d0622b59149af139b5c87ba00643d45cdb87c33e81476730b47dec32966129?context=explore

[2021-06-23 16:21] sarabala1979 commented on #6195
@tim-sendible @orrymr Pushed to Docker hub. Can you try it now?

[2021-06-23 17:08] simster7 opened #6198 "Cannot run workflows after #6022"
## Summary

What happened/what you expected to happen?

#6022 May have broken master. I cannot run workflows there that I can run on `HEAD^`. Always fails with error `Error (exit code 2): open /argo/podmetadata/annotations: no such file or directory`

## Diagnostics

👀 Yes! We need all of your diagnostics, please make sure you add it all, otherwise we'll go around in circles asking you for it:

[c

[2021-06-23 17:21] terrytangyuan commented on #6164
Sounds good. I'll add some links to the annotations.

[2021-06-23 18:02] steve-marmalade opened #6201 "archiveLogs should work for failed steps"
## Summary

I think this is a continuation of #3105

When `archiveLogs=True`, an Output `main-logs` is created for steps that finish successfully. However, no such Output is created for steps that fail, and it is often exactly these steps whose logs we want to read for help in debugging.

## Diagnostics

What Kubernetes provider are you using? **GKE**

What version of Argo Workflows are you runnin

[2021-06-23 18:09] alexec commented on #6198
CI is passing on `master`, so I wonder if you need to have matched tags?

[2021-06-23 18:29] simster7 commented on #6198
Likely, I'll make sure this is the issue.

[2021-06-23 18:37] terrytangyuan opened #6203 "Enable Go security checker in the GitHub Actions"
# Summary

What change needs making?

Once https://github.com/argoproj/argo-workflows/pull/6200 is merged. We can enable https://github.com/securego/gosec in GitHub Actions and then only check for G307 & G304 since all issues related to these two rules have been fixed. We can start including other rules while they are being fixed.

Reference: https://github.com/securego/gosec#github-action

# Use

[2021-06-23 23:58] jowparks opened #6204 "UI: Submission of empty parameter for workflow template passes 'undefined'"
## Summary

I made a workflow template that has a input param without a default value, the UI accepts the workflow and passes `undefined
:
[code]

[code]
And when I submit through the UI I can submit without providing a value, on the backend

## Diagnostics

👀 Yes! We need all of your diagnostics, please make sure you add it all, otherwise we'll go around in circles asking you for it:

What Kubern

[2021-06-24 01:40] #6164 closed

[2021-06-24 06:04] dpeer6 opened #6206 "argo fails to list workflows when there is a big workflow in the list (more then ~30,000 steps/nodes)"
## Summary
When there is a big workflow, in any state, "argo list" fails with a similar message:
rpc error: code = ResourceExhausted desc = grpc: trying to send message larger than max (238029029 vs. 104857600)

We are running many workflows, some of the big, with many steps/pods running, but when there is even only one with more then 25k+ items in the progress status, argo fails to list current w

[2021-06-24 07:26] orrymr commented on #6195
Thanks @sarabala1979 :) - v3.0.8 pods are running now

[2021-06-24 09:51] ChaosInTheCRD commented on #6103
@sarabala1979 what's the update on this? I know you said that you were going to investigate further; just wandering if you managed to find some time to do so?

[2021-06-24 10:32] samath117 opened #6207 "`fromExpression` should also work in `arguments.artifacts`, not just `outputs.artifacts`"
# Summary

I'm rolling out v3.1.0's fromExpression to my templates and workflows and encountered a use case that I expected to work but which did not: Using a complicated expression to define arguments for subsequent steps/tasks.

# Use Cases

Consider the following simple example, very similar in nature to the primary example of [conditional artifacts](https://argoproj.github.io/argo-workflows/ex

[2021-06-24 10:55] samath117 opened #6208 "Expose default artifact location information through a workflow variable"
# Summary

Key-only artifacts are really cool -- I love the way they can decouple the artifact location configuration from the workflows and templates that I use. Previously I had employed a workflow parameter I called `bucket-name` throughout all of my workflows which I would then call for every single bucket/key in a repository artifact.

However, I also had a few other use cases for this bucket

[2021-06-24 12:01] dcd000 opened #6209 "DAG workflow does not finish"
## Summary

Workflow does not finish after all nodes get completed

Workflow sample:

[code]

What happened/what you expected to happen?

What happened: Workflow does not finish after all nodes get completed
![image](https://user-images.githubusercontent.com/32957385/123258408-9eb90880-d4f3-11eb-8528-ffc01d0f811b.png)

What you expected to happen: Workflow finishes after all nodes get completed
![

[2021-06-24 12:03] tim-sendible opened #6210 "All workflows fail on EKS 1.20 - ERROR opening annotation file from /argo/podmetadata/annotations"
## Summary

I upgrade to EKS 1.20.
Now when running a workflows with the emissary executor, I get the following:

[code]

The pod then dies.

## Diagnostics

👀 Yes! We need all of your diagnostics, please make sure you add it all, otherwise we'll go around in circles asking you for it:

What Kubernetes provider are you using? EKS 1.20

What version of Argo Workflows are you running? 3.1.0

What ex

[2021-06-24 12:05] tim-sendible commented on #6210
I'm actually seeing the same error with the Docker executor:

[code]

[2021-06-24 12:15] tim-sendible commented on #6210
This fails on even the most basic workflow (like the one that is pre-loaded in the UI)

[2021-06-24 12:34] tim-sendible commented on #6210
I can't see where/how that particular volume is mounted, it's not in the manifests on here.

I double-checked that EKS 1.20 can still mount downwardAPI info (by running `kubectl apply -f https://k8s.io/examples/pods/inject/dapi-volume.yaml`) and it can.

My assumption therefore is that this directory used to automount somehow and now doesn't?

[2021-06-24 12:45] terrytangyuan commented on #6210
Related/duplicate to https://github.com/argoproj/argo-workflows/issues/6198?

[2021-06-24 14:33] sylock opened #6213 "Getting a resource object retrieve a string + the object"
## Summary

I have a step that fetch the entire workflow object (to make introspection in a further step).
[code]

When I check the output while running the workflow, I see:
[code]
The string "argoproj.io/v1alpha1 Workflow" shouldn't be there as it makes things difficult to use the object in a further step.

If my code is wrong or if there is another to achieve this without getting that string bef

[2021-06-24 14:56] terrytangyuan commented on #6213
That's actually what you would get from running `kubectl get wf xx -o jsonpath="{.*}"`. Can you try `jqFilter: '.'`? This should be what you want instead.

[2021-06-24 15:07] alexec commented on #6210
I don’t think you’re running v3.1. I think you’re running latest. Can you please confirm?

[2021-06-24 15:08] sylock commented on #6213
You're right. Thank you! '{}' is what I need indeed.

[2021-06-24 15:08] #6213 closed

[2021-06-24 15:09] tim-sendible commented on #6210
I was 100% definitely running v3.0.1. I promise!

We use argocd to deploy it, so I have the git record of everyting pointing at the correct manifest. I've reverted to 3.0.8 for now as I was completely stuck.

[2021-06-24 15:12] sarabala1979 commented on #6207
`fromExpression` will be supported in step/DAG level output parameters/artifacts. I think `expression` can be used on your scenario https://github.com/argoproj/argo-workflows/blob/516c54a7f04e6a0042028674c5b172fbc8efdd5b/docs/variables.md#expression

[2021-06-24 15:13] sarabala1979 commented on #6210
The workflow controller and Argoexec version mismatch is causing this issue.

[2021-06-24 15:15] alexec commented on #6210
Are you importing manifests pinned to the tag? If so, please double check. They changed in v3.1 and now include latest. It is possible that there’s a mistake in the manifests. The code change that would underly your issue is only intended to be in v3.2

[2021-06-24 15:15] sarabala1979 commented on #6210
are you using v3.0.1 or v3.1.0?
Can you provide workflow controller log?

[2021-06-24 15:17] samath117 commented on #6207
Changing `fromExpression` to `expression` yields the same issue.

More generally, my understanding from the limited documentation is that `expression` only works on parameters, not artifacts.

[2021-06-24 15:21] sarabala1979 commented on #6207
yes, you are right `expression` will only work for parameters.  Do you like to contribute to this feature?

[2021-06-24 15:21] tim-sendible commented on #6210
3.1.0 - that was a typo.

I am not importing manifests with anything pinned, no. The workflow manifests worked prior to the k8s version upgrade.. that's the only change.

As I said above, it fails on even the simplest manifest like the one you get in the UI by default.

[2021-06-24 15:26] sarabala1979 commented on #6206
Argo API Server configured 104857600 as max size.  we can parameterize it as an environment variable in argo-server. Would you interest to contribute this enhancement?

https://github.com/argoproj/argo-workflows/blob/0e94283aea641c6c927c9165900165a72022124f/server/apiserver/argoserver.go#L62

[2021-06-24 15:29] michael132 commented on #6165
I think this could be related to this?
https://github.com/argoproj/argo-workflows/issues/5953

[2021-06-24 15:48] samath117 commented on #6207
Sadly, I'm only passingly familiar with golang. Fortunately, it does strike me as a fairly simple feature to implement, given that the bulk of the work was done in building `fromExpression` for output artifacts. I hope someone else can pick it up soon!

[2021-06-24 16:46] sarabala1979 commented on #6103
I am not able to reproduce this scenario in my local env. We will keep watch. If you see the issue again. you can update with workflow controller log, workflow yaml.

[2021-06-24 16:46] sarabala1979 commented on #6103
I am not able to reproduce this scenario in my local env. We will keep watch. If you see the issue again. you can update with workflow controller log, workflow yaml.

[2021-06-24 16:47] sarabala1979 commented on #6110
I am able to reproduce this issue on my env. I will work on this.

[2021-06-24 16:48] blairham commented on #6165
@michael132 quiet possible. I'm assuming you're using one of those OIDC providers listed?

[2021-06-24 16:50] ad22 opened #6216 "Exit Handler "hook" feature causes pod annotations to exceed 256KB"
## Summary
When using exit handler hooks in a template, I see the following error on the wait container
`time="2021-06-24T06:15:03.562Z" level=warning msg="Output is larger than the maximum allowed size of 256 kB, only the last 256 kB were saved"
time="2021-06-24T06:15:03.562Z" level=info msg="Saving output parameters"
time="2021-06-24T06:15:03.562Z" level=info msg="Saving path output parameter: p

[2021-06-24 17:05] tomgoren commented on #6210
@tim-sendible could it be that you were using the v3.1.0 workflow-controller, but were specifying `latest` for the executor? We had a similar issue and solved it by pinning the executor. I believe this was the case in several other issue where a similar phenomena was reported (https://github.com/argoproj/argo-workflows/issues/6194, https://github.com/argoproj/argo-workflows/issues/6198).

@alexec

[2021-06-24 17:15] tim-sendible commented on #6210
I pin the version of the executor in the config map too. So unlikely I think... unless there's some other way to define the executor tag?

[2021-06-24 17:34] alexec commented on #6210
I think it is the controller that is running the wrong version.

[2021-06-24 18:27] tim-sendible commented on #6210
I can't see how that's the case otherwise downgrading (changing the manifest tag number in kustomize) wouldn't work.

I will recreate the installation again tomorrow to prove this though.

[2021-06-24 18:45] alexec commented on #6210
Please note this breaking changing in v3.1:

https://github.com/argoproj/argo-workflows/blob/master/docs/upgrading.md#3fff791e4-build-automatically-add-manifests-to-v-tags-5880

[2021-06-24 19:25] #6172 closed

[2021-06-24 21:45] futuro opened #6218 "Allow admins to configure logging output"
# Summary

The logrus default of putting all logs on stderr makes administering Argo exceedingly difficult, as my log viewer in GCP believes every log coming from Argo is an Error. I'd like a way to configure Argo such that I can tell it to log to stdout instead of stderr.

# Use Cases

Just about every day I'm looking at the Argo logs, and I'm currently debugging a production issue with Argo that

[2021-06-24 22:57] max-sixty opened #6219 "Argo 3.1.0 manifests don't have 3.1.0 image"
## Summary

Currently the Argo 3.1.0 manifests contain `latest`

https://github.com/argoproj/argo-workflows/blob/v3.1.0/manifests/base/argo-server/argo-server-deployment.yaml#L17

They used to link to the images, which allowed for very elegant upgrades:

https://github.com/argoproj/argo-workflows/blob/v3.0.8/manifests/base/argo-server/argo-server-deployment.yaml#L17

## Diagnostics

Props to the v

[2021-06-24 23:42] alexec commented on #6219
You are correct. As of v3.1, the manifests no longer contain the tags. You should use manifests attached to the release page.

This is documented in the upgrading guide.

@jessesuen @sarabala1979 lets. monitor this - if many users get caught out - then we should plan to fix this.

[2021-06-24 23:44] alexec commented on #6210
Link: #6219

[2021-06-24 23:50] alexec commented on #6177
I'm not clear on what the problem here is.

[2021-06-24 23:51] alexec commented on #6206
We could also consider stripping managedFields from the API as per #5778 .

[2021-06-24 23:53] alexec commented on #6206
Oh - I think I made a performance improvement to the UI for something similar: #6004 which was ported to v3.1

[2021-06-24 23:53] alexec commented on #6206
@dpeer6 can you please test in v3.1?

[2021-06-24 23:55] alexec commented on #6078
You should not use SSO token for API access. Please using client auth-mode with an aceoss token. You can find out how to do this is in the docs.

[2021-06-24 23:56] Bobgy commented on #3103
For anyone else bumping into this, I managed to avoid the permission issue by installing go in $HOME/bin/go, rather than /usr/local/go.

[2021-06-24 23:57] alexec commented on #6053
I don't see any examples of `{{resourcesDuration` in the code-base?

[2021-06-24 23:58] alexec commented on #6216
@sarabala1979 I can see two solutions to this.

1. Compress the annotation using gzip and then base 122 (like base 64, but better compression ratio). Needs to be backwards compatible.
2. Use `taskset/status` for these.

[2021-06-25 03:36] ddseapy commented on #6177
To summarize the situation:

When specifying a `minAvailable` in a Workflow `podDisruptionBudget`, an integer value should be used.

Reference: https://kubernetes.io/docs/tasks/run-application/configure-pdb/#arbitrary-controllers-and-selectors:
[code]

However, according to the openapi-spec the only valid value for `minAvailable` is a string.

Reference:
* https://github.com/argoproj/argo-workflow

[2021-06-25 03:58] max-sixty commented on #6219
Got it. Grabbing from the releases was a very small change and worked great. Thanks!

[2021-06-25 03:58] #6219 closed

[2021-06-25 05:08] #5699 closed

[2021-06-25 05:41] tim-sendible commented on #6210
@alexec You were correct, I got tripped up by that change. I expect we'll see a lot more of this.

Apologies for wasting everyone's time.

[2021-06-25 05:41] #6210 closed

[2021-06-25 06:12] #6195 closed

[2021-06-25 06:29] giordyb commented on #6078
Hi @alexec that's exactly what I am doing right now.
If the external auth is not supported for the APIs then the issue can be closed.

thanks,

Giordano

[2021-06-25 09:19] sappier commented on #5942
Pods are missing metadata set in the WorkflowTemplate.spec.podMetadata as described in https://argoproj.github.io/argo-workflows/fields/#workflowtemplatespec.
There are no specified annotations and labels in a pod after submitting a workflow from the workflow template:
[code]

[2021-06-25 14:03] #6078 closed

[2021-06-25 14:05] alexec commented on #6177
Thank you for a detailed answer to my question. Is upgrading to v3.1 a solution?

[2021-06-25 14:20] gnadaban opened #6222 "New Workflow submission fails with invalid spec but succeeds to run on Retry"
## Summary

When my Workflow is submitted initially, it fails with a validation error complaining that an input parameter is not specified.
The input parameter in question is an expression, and I have verified it is valid by disabling parts of the workflow and re-running it.

![image](https://user-images.githubusercontent.com/58954625/123359209-e0b96d00-d53a-11eb-8129-3d4a9af49377.png)

After the

[2021-06-25 14:29] ebr opened #6223 "Web UI becomes unusable under heavy load"
## Summary

We often run many large workflows simultaneously: ~100 workflows with ~6000-8000 pods per workflow. Under these conditions, the Argo Server web interface fails with the following symptoms:
- rows fail to load - the "loading" animation (side scrolling) is displayed
- eventually the server shows a `Gateway timed out` error

This prevents us from being able to observe workflow status once

[2021-06-25 14:54] whyvez opened #6224 "Observed a panic: "invalid memory address or nil pointer dereference""
## Summary

I've already reported a similar problem [here](https://github.com/argoproj/argo-workflows/issues/5939).  I've updated to 3.0.8 but the problem persists. My problematic workflow is the same as I had reported in the original issue. The error brought down the controller and all other workflows I had scheduled/running. I was able to bring things back up by suspending all cron workflows whi

[2021-06-25 17:18] alexec commented on #6223
The argo-server is a stateless application, so should happily run with just a few MB of memory.

Can you confirm which pages seems to have the problem? It's not clear to me.

Can I also ask you try v3.1.0? This includes #6004 which should reduce memory usage by reducing allocs when watching and listing workflows.

If that does not help, then I'll look to create an engineering build that enables a

[2021-06-25 19:21] ad22 commented on #6216
This was caused by the the last parameter(podresult) `value: '{{tasks.Release-u3-base.outputs.result}}'`
"result" stores the entire stdout of the pod, and the default trim size is 256K which leaves no space for any other parameters. I've removed it and am using a workaround for my use case (using the docker container config.v2.json on the node directly to determine pod pass/fail status), and the i

[2021-06-25 20:58] steve-marmalade commented on #4349
I have an argo step that generates a list of GCS URIs of the form `gs://my-bucket/path/to/file` that I'd like to map over. It would be convenient to pass these URIs directly to the `gcs` artifact handler, rather than having to post-process them into `bucket` and `key`. I found this issue while searching to see whether this is supported, and figured I'd post my use case in the hope that it's helpfu

[2021-06-25 21:19] samath117 opened #6226 "Global output parameters cannot be changed in v3.1.0"
## Summary

In v3.1.0, if a global output parameter is set by one step and changed by another, later step, the change is reflected in `argo watch` / `argo get` but is not reflected whenever the global output parameter is referenced in the workflow. This bug does not happen in v3.0.8 or earlier versions as far as I've tried.

## Reproduction Steps

Here's an example workflow:

[code]

The global pa

[2021-06-25 21:21] ebr commented on #6223
The `/workflows/` pages are problematic - with or without either the namespace, or the `?limit=` query arg. I might be able to try 3.1.0 sometime next week, looking forward to it actually, but can't make any changes now.

I do have a bit more info though:
- restarting the server (scaling the deployment) did not help;
- RAM usage seems to grow only after we try to access one of the `/workflows/` pa

[2021-06-25 21:49] steve-marmalade opened #6227 "Step-level memoization cache key does not support expression template tags"
## Summary

I used an expression template tag as the step-level memoization key, and the workflow threw an error.

[code]

Resulted in

## Diagnostics

👀 Yes! We need all of your diagnostics, please make sure you add it all, otherwise we'll go around in circles asking you for it:

What Kubernetes provider are you using?  **GKE**

What version of Argo Workflows are you running? **3.1**

What execut

[2021-06-26 01:37] #6196 closed

[2021-06-26 01:38] alexec commented on #6227
Your expression looks invalid. Please paste error.

[2021-06-26 01:39] alexec commented on #6227
{{=sprig.replace(inputs.parameters[‘database-table’], '.', '-')}}

[2021-06-26 04:13] snowzach opened #6228 "Workflow stuck says it's updating workflow but remains in pending state in UI"
## Summary

The workflow appears stuck. I tried with 2.11 and 3.0 and the same thing happens.

## Diagnostics

I keep running into the issue where I run a workflow that previously worked. It used the withParam to branch out into a lot of branches. I recently changed a step where a sub-branch also has a withParam clause so it branches out further. Now it works sometimes but mostly fails. The sub-su

[2021-06-26 06:34] axsaucedo opened #6229 "Argo Workflows v3.1.0 tag manifest has latset tags in images"
## Summary

What happened/what you expected to happen?

Installed Argo workflwos from v3.1.0 tag and expected images to be pinned to 3.1.0.

Used:

[code]

Images installed have tag `latest` - can be verified with:

[code]

[2021-06-26 11:58] whyvez commented on #6224
@alexec Is there something I can do in the meantime to re-instate the workflow with the lock? Where is the lock persisted and what might be the best means of resetting?

[2021-06-26 12:40] whyvez commented on #6224
I've renamed the `synchronization.semaphore.configMapKeyRef.key` at that fixed it for now, but I'd like to get to the bottom of this. This has happened twice so far and it will likely happen again. Please let me know what I can do to help troubleshoot. 🙏🏻

[2021-06-26 14:28] sarabala1979 commented on #6224
Can you try with v3.1?

Sent from my iPhone

[2021-06-26 14:39] snowzach commented on #6228
So a little more background here... I am using a Postgres database for archiving... One thing I noticed is that the name of the sub-sub-workflows was absurdly long... So I got to thinking about what might be affected by too long of a workflow step name... It would appear when you use the withParam option the json you pass becomes part of the name of the workflow step. So I went to look into the po

[2021-06-26 14:55] ddseapy commented on #6177
yes, however not sure how easy it will be (https://github.com/go-swagger/go-swagger/issues/1122#issuecomment-575968499)

[2021-06-26 16:35] alexec commented on #6229
Duplicate of https://github.com/argoproj/argo-workflows/issues/6219

[2021-06-26 16:35] #6229 closed

[2021-06-26 16:46] snowzach commented on #6228
Okay, so I redesigned the workflow to eliminate the sub-sub-step and make it a single step removing the withParam step. That didn't fix it. I completely removed the archive database. That didn't fix it.

[2021-06-26 16:48] snowzach commented on #6228
So it thinks it's updating the workflow CRD but it never seems to take... I am wondering if this is some sort of Kubernetes issue. It works most of the time but when it fails, a lot of them fail in the same way. workflow CRD says Pending, kubernetes says pod completed.

[2021-06-26 16:59] snowzach commented on #6228
Okay... so I went full scorched earth here and completely killed my argo namespace and re-created everything from scratch using the same charts I've been using since I started using argo. (I tested my restoration instructions and they worked. Hooray for the DR plan!) So far it's been humming along perfectly so I'm not sure if that makes me feel better or worse...

I will leave this open in case a

[2021-06-26 16:59] ddseapy commented on #6177
Given that it looks to be too involved to update to v3.1 given go-swagger only supports v2.0, for now we are going to set `minAvailable` as an integer under the controller's `workflowDefaults`, since currently we want all workflows to be run with PDBs.

This avoids the issue of needing to set it as an integer in each workflow, and is feasible in the timeline we have on our project.

I'll put up a

[2021-06-26 18:38] alexec commented on #6228
CRD=Custom Resource Definition, do you actually mean CR, i.e. a `Workflow`?

[2021-06-26 19:03] snowzach commented on #6228
Yes, you're right. Sorry, edited my post.

[2021-06-26 19:26] alexec commented on #6228
@sarabala1979 this is not the first time I've seen a workflow repeatedly try to update a node to succeeded and the update did not stick. Something to keep an eye on.

[2021-06-26 19:43] alexec opened #6233 "Prevent mismatched controller/argoexec verisons"
When you run the wrong version of argoexec with your controller, bugs happen. The controller creates pods, so can check the version is correct, and produce an error.

[2021-06-26 20:17] sarabala1979 commented on #6228
@snowzach how big is your workflow object which is stuck? you can do `kubectl get workflow <> -o yaml` save in file and check the bytes.  If it is really big which crosses the 1MB k8s limitation, you can try workflows of workflow patterns. the master workflow will submit multiple small workflows.

[2021-06-26 20:42] ddseapy commented on #6177
well, it looks like the unit testing checks if example matches the schema.  so i guess i'm not sure what is best to do.  going to close ticket for now.  The error message from the workflow is pretty clear the problem, so users declaring raw yaml should be able to figure that bit out.  It's a bit trickier if using a client based on the swagger.json, but not sure there is a great solution to that on

[2021-06-26 20:42] #6177 closed

[2021-06-26 20:44] alexec commented on #6209
Maybe fixed #6193. Can you please try `:latest`?

[2021-06-26 23:25] snowzach commented on #6228
@sarabala1979 I can measure it if you would think it would be helpful. When I deleted my argo namespace and re-applied my config (`https://raw.githubusercontent.com/argoproj/argo-workflows/v3.0.8/manifests/install.yaml` + my workflow-controller-configmap) without changing anything else, it started working without issue.

Oh, I realized I am using the pns executor. Not sure if that's relevant.

[2021-06-26 23:29] snowzach commented on #6228
My config

[code]

[2021-06-27 03:51] snowzach commented on #6228
I did check and my refactored workflow ended up being 687k all said and done. I suppose it's plausible it could have hit 1MB before.

[2021-06-27 07:56] dpeer6 commented on #6206
Hi Guys,

Thanks for your time.

I have few questions:
1. Yes, I can test it with 3.1 but, UI fixes does not fix the argo cli issue, right?
2. If I build argo server with larger message size, will the cli/ui can handle it? will it support paginated data fetching or something similar, properly?
3. Yes, I would love to contribute the code to support larger message size, but I would love to implement

[2021-06-27 11:00] axsaucedo opened #6235 "Failed to establish pod watch when containerRuntimeExecutor is set to k8sapi"
## Summary

#### What happened/what you expected to happen?

When running in KIND (Kubernetes in Docker) it does't work, only works on environments with docker enabled kubernetes clusters. This can be reproduced with kind locally - the instructions are below.

### Steps to reproduce

First create kind cluster:
[code]
Now install stable argo
[code]
Then configure clusterrole
[code]
Configure the k8

[2021-06-27 12:40] terrytangyuan commented on #6235
Could you try with Argo 3.1.0? The error message would be more intuitive after https://github.com/argoproj/argo-workflows/pull/5372 gets merged.

[2021-06-27 12:41] terrytangyuan commented on #6235
Also looks like you configured the cluster role for default account in default namespace.

[2021-06-27 12:53] axsaucedo commented on #6235
@terrytangyuan thank you for your comment, it seems you are correct - I was able to resolve it by configuring the RBAC correctly, thanks!

[2021-06-27 12:53] #6235 closed

[2021-06-27 17:43] gnadaban commented on #6222
@alexec : I have just confirms that this is also an issue with `v3.0.3`, even when specifying the namespace **statically**:

Manifest:
[code]

![image](https://user-images.githubusercontent.com/58954625/123554381-ae338e00-d74d-11eb-895e-d204c9d5e1fa.png)

[2021-06-27 17:50] gnadaban commented on #6222
@alexec: Okay, this is embarrassing. Closer look at the template revealed a typo, parameter name was `namepace`.

[2021-06-27 17:59] sarabala1979 commented on #6228
@snowzach  Can you try to reproduce the same issue with refactored workflow and old workflow? just nail down the root cause.  Each k8s implementation behaves differently when objects reaches the size limits.

[2021-06-27 20:36] #6222 closed

[2021-06-27 20:39] alexec commented on #6206
Let me know how your testing goes!

[2021-06-28 08:49] dcd000 commented on #6209
Hi.
Yes, It works with :latest images

[2021-06-28 09:35] kobejn-jb opened #6237 "Workflows with daemon nodes never get status update"
## Summary

If there is a daemon task/step in workflow then controller does not set status.conditions and status.finishedAt. When status.finishedAt is not set correctly TTL can't be applied and wf resource is not being deleted.

## Diagnostics

Kubernetes: EKS 1.18.9
Executor: Docker
Argo: v2.12.2

I believe problem is in condition !woc.hasDaemonNodes(), it suppose to wait until daemons are termin

[2021-06-28 09:56] Bobgy opened #6238 "[emissary] pod hangs running as non-root"
## Summary

What happened/what you expected to happen?

I ran the following workflow with emissary executor:
[code]

Result:
The pod hangs forever.
logs for main container: `standard_init_linux.go:211: exec user process caused "permission denied"`
main container errors and completes with this error message.
However, wait container keeps running forever.

Analysis:
because argoexec in /var/run/argo

[2021-06-28 09:57] Bobgy commented on #6238
Besides the bug report, do we have any existing examples for rootless pods in a workflow with emissary executor?

[2021-06-28 15:00] snowzach commented on #6228
Hi @sarabala1979 I tried using both workflow formats (withParam and without) on one of the largest workflows I have and it did not generate the issue. As well, the size of the workflows never exceeded 700k. The issue is definitely gone now. It's almost like there was some bad state left in either Kubernetes or Argo that was removed when I killed the whole argo namespace and re-installed from scrat

[2021-06-28 16:25] #6233 closed

[2021-06-28 16:26] alexec commented on #6237
Can you please test using v3.1.

[2021-06-28 16:34] alexec commented on #6233
I don't think this is easy.

[2021-06-28 16:35] alexec commented on #6238
Interesting. I want the emissary to run as non-root, there is a test for this, but does not capture this case. I think this is what is happening:

* The binary is copied from the init container to the shared volume (by the init container) with `chmod 500` (i.e. u+rx).
* The main container starts, the user ID is set by the image itself, so it cannot read the file.

I think there is an easy fix, cop

[2021-06-28 18:21] #6228 closed

[2021-06-28 18:22] alexec commented on #6179
Can I please ask you to try v3.1?

[2021-06-28 18:23] alexec commented on #6204
Can you please attach screenshots?

[2021-06-28 18:24] alexec commented on #6191
Can you please attach the workflow controller logs?

[2021-06-28 18:24] simster7 commented on #6198
This was correct. This is a non-issue.

[2021-06-28 18:24] #6198 closed

[2021-06-28 18:50] alexec commented on #6107
@ckyoog would you like to submit a PR to fix?

[2021-06-28 18:52] alexec commented on #6201
Can you please try with the PNS executor so we can confirm if it an emissary bug, or more general.

[2021-06-28 18:53] alexec commented on #6209
Maybe fixed by #6193

[2021-06-28 18:56] alexec commented on #6226
Potential culprit:

fix(controller): Empty global output param crashes (#5931)

@sarabala1979 this should be easy to write an e2e test to prove.

[2021-06-28 19:45] alexec opened #6241 "v3.0.1 cherry-pick"
- [x] 19da54109 fix(conttroller): Always set finishedAt dote. Fixes #6135 (#6139)
- [ ] 92eb8b766 fix: Reduce argoexec image size (#6197) NO
- [x] 8d3627d3f fix: Fix certain sibling tasks not connected to parent (#6193)
- [ ] 4fd38facb fix: Fix security issues related to file closing and paths (G307 & G304) (#6200) NO
- [ ] cecc379ce refactor: Remove the need for pod annotations to be mounted as a

[2021-06-28 19:51] alexec commented on #6241
[v3.1 builds](https://github.com/argoproj/argo-workflows/actions/workflows/ci-build.yaml?query=branch%3Arelease-3.1)

[2021-06-28 21:10] #6241 closed

[2021-06-28 22:19] simster7 commented on #6209
Fixed?

[2021-06-28 22:19] #6209 closed

[2021-06-28 22:30] Radolumbo opened #6243 "Inactivate buttons that represent actions not allowed under current permissions in Argo UI"
# Summary

Recently made a change to the argo-server role permissions to prevent our users from creating things via the UI. Based this on the recommendation here: https://argoproj.github.io/argo-workflows/security/#read-only

It would be REALLY nice if the Argo UI was aware of the fact that the current user does not have permission to, say, "+SUBMIT NEW WORKFLOW" and greyed out that button. Instea

[2021-06-28 22:31] Radolumbo commented on #6243
Honestly, I might even argue this is a bug...

[2021-06-28 22:41] simster7 commented on #6243
Great point, I'll work on this

[2021-06-28 22:54] Bobgy commented on #6238
Sure, I can give it a try. Agree your proposed solution feels a lot simpler and can cover the case we want.

[2021-06-28 23:34] pmithil7 commented on #3343
What is the workaround for handling large input parameters?

[2021-06-29 05:42] KiralyOr commented on #6191
workflow controller logs:
[code]

[2021-06-29 06:10] dcd000 commented on #6209
Hi.
Yes, fixed in latest image.

[2021-06-29 08:32] huangjiasingle opened #6244 "when main container recreate，the wait container still wait old main container id， and return err"
## Summary

What happened/what you expected to happen?
when main container recreate，the wait container  still wait old main container id， and return err： failed to wait for main container to complete: timed out waiting for the condition: Error response from daemon: No such container: containerID
Before we start, around 2/3 of issues can be fixed by one of the following:

* Have you double-checked

[2021-06-29 08:55] LasseGravesen opened #6245 "Expose/Improve logging for Workflow Event Bindings"
# Summary
It seems to be impossible to tell what is happening with Workflow Event Bindings from the UI.

![image](https://user-images.githubusercontent.com/38877728/123767522-d0511b80-d8c7-11eb-989b-4c07474cb90d.png)

There are a few logged items in the Argo Server pod, but even that is very minimal:

[code]

Instead I propose to add much more logging so you can actually tell if something is happe

[2021-06-29 09:30] stevenbressey opened #6246 "mirrorVolumeMounts not working after upgrade to 3.1.0"
## Summary

After upgrading to v.3.1.0, workflows using the `mirrorVolumeMounts` in `initContainers` or `sidecars` attributes are not working as expected anymore.
I noticed that the pods started by the workflows do not mount the main container's volumes in sidecars or init containers anymore.
I did not see any error or warning in workflow controller logs.

## Diagnostics

What Kubernetes provider

[2021-06-29 09:48] LudoNieuwenhuizen commented on #6179
hi Alexec, I tried with v3.1.1, this is the result of running the same workflow:

[code]

[2021-06-29 10:03] chenyangxueHDU commented on #6150
I think we can add "createOrGet" action for not re-create when retrying and then encounter AlreadyExists error.

[2021-06-29 10:20] Bobgy commented on #6238
Just to confirm, do other files in `/var/run/argo` need to have the same permission?

[2021-06-29 11:05] terrytangyuan commented on #6150
Would you like to contribute this feature?

[2021-06-29 11:32] goock opened #6248 "Retry on different hosts does not work with complex template"
## Summary

I'm the author of the feature from https://github.com/argoproj/argo-workflows/pull/4679

The implementation works perfectly for a very simple workflow like this one:
[code]

where `pod` type node is the child of the `retry` node.

However, it does not work for more complex templates like this one:

[code]

where `retry` node does not have `pod` type node as a direct child.

I started a

[2021-06-29 12:15] dpeer6 commented on #6206
Hi,

Our testings with 3.1.1 showed improvement with the UI, it did not fail/crash or timeout when we run 4-5 workflows, at the same time, with 20k nodes/steps/pods each, but the cli did returned with the same issue, when running: "argo list"
FATA[2021-06-29T12:07:24.513Z] rpc error: code = ResourceExhausted desc = grpc: trying to send message larger than max (214553096 vs. 104857600)

and at some

[2021-06-29 13:45] simster7 commented on #6248
Two possible approaches:

1. Investigate why `processedTmpl.Affinity` is always nil. Maybe when we process the template we simply ignore `Affinity` and it's only a matter of making sure it's included in the new processed template.
2. Recover the original template from anywhere in the operator. See this example: https://github.com/simster7/argo/blob/37c41881a593d4b6a2a58f9c244d7f718c6af7af/workflow