[2020-08-05 13:50] ericandrewmeadows commented on #3664
CLI

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Saravanan Balasubramanian <notifications@github.com>
Sent: Tuesday, August 4, 2020 3:57:01 PM
To: argoproj/argo <argo@noreply.github.com>
Cc: ericandrewmeadows <meadows.120@osu.edu>; Author <author@noreply.github.com>
Subject: Re: [argoproj/argo] Argo WorkflowTemplate linting should raise an error when no main k

[2020-08-05 14:46] hadim commented on #3169
I now use the logging module in python and it works well. But the issue still remains with `print` from python.

[2020-08-05 14:47] hadim commented on #3169
Not blocking for me anymore so feel free to close.

[2020-08-05 15:34] terrytangyuan commented on #3252
@alexec I can probably look into supporting `CopyFiles` in k8sapi. Could you rename the issue and assign this to me? I'll take a look when I get a chance.

[2020-08-05 15:43] alexec commented on #3252
@terrytangyuan i wonder if creating a new issue for it would be a good idea?

[2020-08-05 15:49] alexec commented on #3673
We watch pods of a workflow to compute state. If this information is available on the pod’s status we could.

Are you able to attach the YAML of a pod that we involved? Or is this only available on events? (Please attach the event YAML).

[2020-08-05 15:50] alexec commented on #3672
This policy is to prevent you pulling remote image and forces you to build the image locally.

Which Kubernetes provider are you using?

[2020-08-05 16:20] simster7 opened #3676 "Allow a null template holder in case all templateRefs are already cached"
# Summary

What change you think needs making.

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

How do you think this should be implemented?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-08-05 16:26] afoltzm commented on #1583
I believe we're observing this issue on `v2.9.2` - the mode flag doesn't change the permissions of the directory contents. We're using the `docker` executor.

[2020-08-05 17:04] hadim commented on #3673
Indeed the only thing I see in the pod YAML is what Argo report in the UI:

[code]

and the source is `default-scheduler` for the message. But the message "pod didn't trigger scale-up (it wouldn't fit if a new node is added): 17 Insufficient cpu" coming from the source `cluster-autoscaler` is not shown.

[code]

and

[code]

[code]

So maybe it's possible that the `cluster-autoscaler` event was to

[2020-08-05 17:19] alexec commented on #3673
Would it be enough to list events related to the pod in the UI?

[2020-08-05 17:32] seperman commented on #3672
Hi @alexec
Thanks for responding. I'm using Minikube. I can deploy the workflows without a problem if I go the normal route of deploying the controller and api to k8 though. I only get this error when running the `make start` and trying to submit a workflow. Should it not work both ways?

[2020-08-05 17:35] hadim commented on #3673
I think it would do the job yeah. And actually this will be useful for probably other things than this specific issue to be able to see the history of events. Similar to what's GKE is doing:

![image](https://user-images.githubusercontent.com/528003/89444806-441e8e80-d720-11ea-8541-718077df783e.png)

I guess if this is available in the UI it will also be available in the `status` field of a Workfl

[2020-08-05 17:52] alexec commented on #3672
`make start` should clean an executor image on your local Docker. This must be the same Docker used by Minikube. Follow these instructions: https://minikube.sigs.k8s.io/docs/commands/docker-env/

Then run clean + start:

[code]

[2020-08-05 17:54] alexec commented on #3673
As an MVP, I don't think we would make it available in the YAML. Instead, we would just make it available in the UI only.

That would exclude the UI and the CLI.

Do you think this should be MVP?

[2020-08-05 17:58] hadim commented on #3673
For us, the most important is to have this information available on the UI.

Having it in the YAML is just a bonus and a cool enhancement IMO. I like the idea of having all the information related to a workflow in a single YAML object. Its state, spec, and history of status.

So my answer is yes it should go in MVP **but** if this requires too much work then having the information on the UI only i

[2020-08-05 18:57] alexec opened #3677 "Make the controller tolerant to malformed resources"
Currently, if you `kubectl apply -f malformed-cronworkflow.yaml` (or workflow template or cluster workflow template) we cannot list those resources, see #3666.

The workaround is delete the malformed resource. However, in a multi-tenant environment, this means a single malformed resource could other user's workflows.

# Analysis

@jessesuen you asked about whether or not having malformed resources

[2020-08-05 18:58] jessesuen commented on #3664
"source": [
            "python3 /app/main.py"
          ],

Source is a string not an array.

[2020-08-05 18:58] #3664 closed

[2020-08-05 18:58] alexec commented on #3677
Options:

* Use dynamic informer to repair malformed resources. This would fight GitOps.
* Be tolerant in both listers and informers to malformed resources.

[2020-08-05 19:05] sarabala1979 commented on #3664
it is error level message `level=error msg="./json-to-validate.json failed to parse: json: unknown field \"script:\""` clearly says  \"script:\"" invalide

[2020-08-05 19:07] terrytangyuan opened #3678 "Proposal: Support CopyFile in k8sapi executor"
# Summary

Implement `CopyFile` in k8sapi executor that's compliant with the `ContainerRuntimeExecutor` interface.

# Motivation

This is currently not implemented and artifacts passing does not work unless using `emptyDir` as a workaround. See https://github.com/argoproj/argo/issues/3252 for related discussions.

# Proposal

We can implement this using `k8s.io/client-go/rest` and `k8s.io/client-g

[2020-08-05 19:09] terrytangyuan commented on #3252
@alexec Sounds good. Submitted https://github.com/argoproj/argo/issues/3678. Though I am not able to assign myself.

[2020-08-05 19:32] ericandrewmeadows commented on #3667
Yep - I added that `-n namespace` to our CI flow.

[2020-08-05 19:33] ericandrewmeadows commented on #3668
@sarabala1979 - this is a different issue than the one of not using the respective namespace.

[2020-08-05 19:35] ericandrewmeadows commented on #3050
@sarabala1979 - I will begin to look at this again shortly to see if we can close this one out.  My apologies - I have not had time to work on building out the shareable CI/CD interfaces that allow for building diffs between last and current builds - a pattern I was using in Jenkins.  Again, hopefully I can jump on this soon after the existing PR I was working on in the Workflows Catalog repo.

[2020-08-05 20:09] blkperl commented on #3449
This is our workaround

[code]

[2020-08-05 20:37] alexec commented on #3677
@jessesuen this works very nicely:

[code]

[2020-08-05 21:10] simster7 commented on #3644
I discussed this with Jesse and tried this in 2.5 (https://github.com/argoproj/argo/blob/release-2.5/workflow/controller/steps.go) and we determined that this was never possible, so it is in fact an enhancement.

We've determined that this is something we would consider, we would just need to come up with a design that would allow the user to specify that they would like this behavior when using `

[2020-08-05 23:03] #3621 closed

[2020-08-05 23:23] fabio-rigato commented on #3665
Hi Guys,
I just would like to add my comments on this issue.

With a load of ~ 450 simultaneous WFs on Argo v2.9.2 ~ 80 WF were suffering the same problem.
In particular, as you can see in the screenshot attached, the WF is stuck, looks like is still running but the "running pod" doesn't exist anymore.

<img width="740" alt="Screen Shot 2020-08-04 at 9 30 21 am" src="https://user-images.githubuser

[2020-08-05 23:53] fabio-rigato commented on #3665
Hi @simster7,
that's an update. I'm facing the same issue in the v2.9.2 but this time is stuck on "Pending" status from 13 hours. I sent you on slack the "Live" yaml output and a screenshot of the UI (maybe is useful for debugging)
I'm really hoping to find a stable version soon if not we have to rollback to v2.2.1.
Cheers,
Fabio

[2020-08-06 01:56] merlintang commented on #3678
+1

[2020-08-06 03:17] salanki commented on #3665
I have been having similar issues with 2.9.
- Pods that are Running in the Argo but are Terminated/Terminating in Kubernetes.
- Pods that do not exist in Kubernetes but are running in Argo

I just stumbled upon something similar to the screenshot above in 2.9.4. A pod that is completed but the Workflow and Retry is still running.

<img width="528" alt="Screen Shot 2020-08-05 at 11 10 50 PM" src="h

[2020-08-06 03:39] simster7 commented on #3665
I've spent a good amount of time today working on this issue and have a fair idea of what the issue is. @salanki if you could send me the Workflow from that screenshot (`kubectl get wf <NAME> -o yaml`) that would be appreciated.

[2020-08-06 03:40] simster7 commented on #3665
Thanks for the detailed reports @fabio-rigato

[2020-08-06 05:39] yovizzle commented on #2298
It worked for me after configuring the GCS artifact repository in workflow-controller-configmap.

[2020-08-06 08:10] laymain commented on #3644
I would really appreciate this feature.
I am actually using the `recursive loop` workaround, but it gives a way more complicated workflow.

[2020-08-06 13:42] mweibel opened #3682 "Invalid artifact mount path in windows"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
Tried to mount an artifact in windows produced an `invalid volume specification`.

**What you expected to happen**:
Volume specification worked as intended and mounting works.

**How to reproduce it (as minimally and preci

[2020-08-06 15:13] simster7 commented on #3665
For everyone affected by this issue: I am making test builds with possible fixes. If you're interested in helping us test to quickly fix this issue, please reach out to me on the Argo Slack `@simon`. Thanks!

[2020-08-06 15:27] rbreeze opened #3683 "Add label to workflows with templates that have memoization enabled"
# Summary

Adding a label to workflows that have memoization enabled, to allow for filtering by memoization status. Might also be useful to label cache hit/miss (if any template/node had a cache miss, label the whole workflow as a miss. Only label as a hit if all nodes had a cache hit). Not sure what the design paradigms are surrounding WorkflowStatus but another solution / useful addition may be

[2020-08-06 15:37] mweibel commented on #3682
I hacked around a bit and came up with this solution:
https://github.com/argoproj/argo/compare/release-2.10...helio:fix-windows-support-mount?expand=1

Most likely not really working in all cases but for the case I have it seems to work.

(nevermind the below `common.GenerateMountPath()` - that's something I tried and failed earlier, will remove it later on)

[2020-08-06 15:58] simster7 commented on #3655
Duplicate of #3665

[2020-08-06 15:58] #3655 closed

[2020-08-06 16:09] alexec commented on #3682
Can you please confirm if this issue is isolated to v2.10, or if it occurs in other versions (e.g. v2.9).

[2020-08-06 16:33] alexec commented on #3672
Please let me know if this worked for you.

[2020-08-06 16:42] cyclingwithelephants commented on #794
Does icebox mean this isn't happening? I'd love to see this feature implemented.

In addition to the use cases listed above, I have another; bootstrapping an environment that is supposed to contain argo. This would enable us to bootstrap argo using argo, or recover easily in some kind of DR scenario

[2020-08-06 17:06] alexec commented on #794
I think you might be able to do this already.

1. Make sure you have the CRDs installed.
2. Create your workflow using `kubectl apply`.
3. Run the controller manually.

Step 3 would be something like:

[code]

[2020-08-06 17:15] cyclingwithelephants commented on #794
Oh sure, thanks! It seems obvious now you mention it! Am I right in assuming that you mean to run steps 1 and 2 against a local k8s provider e.g. k8s/minikube/etc?

My problem with that is that this breaks if artifacts are involved, I am assuming that the artifact configuration would exist inside the workflow, since it would be a property of the argo configuration and since we are using GCS as the

[2020-08-06 18:44] jessesuen commented on #3678
The challenge is that K8s copy (kubectl cp) API (which is a convenience around and exec cat | tar -gz to stdout) only works when a container is running. So I don't think that this is possible.

[2020-08-06 18:46] alexec commented on #3682
Introduced in: feat: Windows Container Support. Fixes #1507 and #1383 (#2747)

[2020-08-06 18:46] alexec commented on #3682
@lippertmarkus could you please help on this?

[2020-08-06 18:51] seperman commented on #3672
Sorry I had to jump on a hot ticket. I will try it based on your comments in a couple of hours.
Thanks!

[2020-08-06 19:06] alexec opened #3688 "Automatically repair malformed resources"
# Summary

Following on from #2677 and #3666 we could potentially repairs these objects.

# Motivation

The CLI and UI cannot be tolerant to malformed resources.

# Proposal

TBD

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-08-06 19:09] #3666 closed

[2020-08-06 19:47] sarabala1979 opened #3690 "Workflow should be queued after 10 seconds if the PVC creation forbidden"
## Summary

What happened/what you expected to happen?
current code is queuing after 10ns.
https://github.com/argoproj/argo/blob/2baaf914dfa0de517a5e39490e44ad682404f5c3/workflow/controller/operator.go#L297

## Diagnostics

What version of Argo Workflows are you running?

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the mo

[2020-08-06 20:24] #3690 closed

[2020-08-06 22:52] alexec opened #3692 "v2.9.4: `argo server` shows `Built without static files`"
## Summary

Should be able to run `argo server` and see UI, but instead saw "Built without static files".

## Diagnostics

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-06 23:34] alexec commented on #3625
Available in [v2.9.5](https://github.com/argoproj/argo/releases/tag/v2.9.5)

[2020-08-06 23:34] alexec commented on #3604
Available in [v2.9.5](https://github.com/argoproj/argo/releases/tag/v2.9.5)

[2020-08-06 23:34] alexec commented on #3665
Available in [v2.9.5](https://github.com/argoproj/argo/releases/tag/v2.9.5)

[2020-08-07 01:08] aakarshgupta97 opened #3693 "argo get returns steps in the wrong order for a workflow"
## Summary

What happened/what you expected to happen?
Step A in my workflow calls steps B, C, D & E in that order. Steps C & D will only run if a certain workflow parameter is set to `True`. When I set the parameter to `False` and call `argo get {workflow_name}` :

**I SEE:**

├---✔ B (B)
     |     |   ├-✔ B1 (B1)      some_container_name  10m
     |     |   ├-✔ B2 (B2)     some_container_name

[2020-08-07 04:49] seperman commented on #3672
Awesome, I did run `eval $(minikube -p minikube docker-env)` and then `make clean start` and the workflow did finish.

[2020-08-07 04:49] #3672 closed

[2020-08-07 04:49] seperman commented on #3672
Thanks @alexec !

[2020-08-07 05:05] cy-zheng commented on #3656
Hey @sarabala1979 , I found you've create a PR to fix this issue. After this PR merged, do I need to upgrade Argo version?

[2020-08-07 05:18] sarabala1979 commented on #3656
yes, you need to upgrade to the next 2.10-rc or 2.10 GA. This PR will be backported  to 2.10 version

[2020-08-07 06:18] mweibel commented on #3682
@alexec can't really confirm for sure - I wasn't able to run an earlier version because of the error `spec.volumes[1].volumeSource.hostPath.type: Unsupported value: "Socket": supported values: "", "Directory", "DirectoryOrCreate"` which got fixed in https://github.com/argoproj/argo/commit/05b3590b5dc70963700b4a7a5cef4afd76b4943d#diff-799231f95f7b5d8d9fe078b2cc4ebc1dR68.
Unsure if others were able

[2020-08-07 06:30] prateekkhera opened #3695 "Argo CLI - argo delete --older no longer works"
## Summary

--older flag in `argo delete` no longer works. It used to work with previous versions of argo CLI/ argo controller

## Diagnostics

Argo v2.9.2
Argo CLI - v2.9.2

Please refer below:

![image](https://user-images.githubusercontent.com/22524153/89616137-76a5c400-d8a5-11ea-9dd6-4c374017f386.png)

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the

[2020-08-07 07:59] lippertmarkus commented on #3682
@mweibel Just use `/message` as a path. This gets automatically mapped to `C:\message`. I changed the setp as following and this works for me without a problem:
[code]

[2020-08-07 09:10] cdlcs commented on #3657
Is it possible to make this work declaring the PVCs at the template level, mimicking the functionality offered by the volumeClaimTemplates at the workflow level?. The only part that is missing is to clean-up the PVCs after the workflow completes. We have a use case where we only want to create these PVCs for tasks associated with specific template. Using volumeClaimTemplates the PVCs are created f

[2020-08-07 09:44] hyorigo opened #3696 "Run Steps on Remote Cluster"
# Summary

We want to figure out best/simplest practice to run steps on remote cluster.

Already read through and tried the [admiraltyio/multicluster-scheduler](https://github.com/admiraltyio/multicluster-scheduler) solution, however it's kinda complicated and overwhelming for our scenarios:

* https://admiralty.io/blog/running-argo-workflows-across-multiple-kubernetes-clusters/
* https://itnext.i

[2020-08-07 10:35] qins commented on #849
@elgalu cwl-airflow

[2020-08-07 11:26] mweibel commented on #3682
@lippertmarkus thanks for this. That seems to work halfway at least 😄
I changed to what you said plus I adjusted the command run to:
[code]

Output:
[code]

If I adjust the output artifact to the following:
[code]

It results in:

[code]

So it seems to mount the artifact but doesn't expand the contents. Plus it places it in a directory where I'd need to know the workflow name in order to descend

[2020-08-07 11:38] lippertmarkus commented on #3682
That's weird, with my step definition (only those two changes, no archive parameters etc.) the contents were correctly expanded:
[code]

I'm using Minio as artifact repository and Argo v.2.10.0-rc4. Could you try Minio to see if this is may caused by the artifact provider?

[2020-08-07 12:15] lyschoening commented on #2733
@yunhailuo
Any reason this error might pop up with a `gcs` configuration block but not a `s3` block?

[2020-08-07 13:56] mweibel commented on #3682
@lippertmarkus If I switch to minio (with GCS as backend), the workflow indeed works as expected. It doesn't work if I specify it to not archive the output:
[code]

[code]

Maybe I could also try using the GCS API using the S3 interopability layer - might hint at the GCS artifact driver having an issue, too.

[2020-08-07 13:59] lippertmarkus commented on #3682
Thanks for testing! Does it work with GCS if you use Linux Containers for the second step? Just to make sure if it's a general issue and not a Windows-only bug.

[2020-08-07 14:44] simster7 commented on #3695
Will take a look

[2020-08-07 14:44] simster7 commented on #3693
Can you attach a Workflow YAML to reproduce?

[2020-08-07 14:45] mweibel commented on #3682
https://gist.github.com/mweibel/a227f18b3a2a598251ec13894b88f239

these are the files I used now. Using GCS as the backend for linux works as expected. So it does seem to be a windows-only bug, unfortunately.

[2020-08-07 14:51] tantonescu commented on #3692
Looks like it was fixed in 2.9.5

[2020-08-07 15:05] simster7 commented on #3692
<img width="950" alt="image" src="https://user-images.githubusercontent.com/614838/89659398-b4debb80-d884-11ea-881e-d1b00d2f5cd7.png">

[2020-08-07 15:05] simster7 commented on #3692
This is from the Github release page?

[2020-08-07 15:10] mark9white commented on #3405
Would you be open to a pull request implementing `depends: any(A.Succeeded)` ?

[2020-08-07 15:13] laymain opened #3697 "Argo apidocs no longer served"
## Summary

Argo server UI does not provide API documentation as mentioned in the [documentation](https://argoproj.github.io/argo/rest-api/).
Going to http://localhost:2746/apidocs just renders a blank page (with left menu panel).

## Diagnostics

What version of Argo Workflows are you running?

[code]
---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the iss

[2020-08-07 15:51] csandiri11 opened #3698 "Argo is losing connectivity to K8 pods intermittently"
Hi,

We deployed argo 2.6.2 and its working fine. But recently we are observing Argo is losing connectivity to its workflows and our inter dependent workflow schema is getting failed with the below errors. is this know issue with this version of Argo or any work around available to get it fixed.

Error:

**[inf] [01:45:06.689] [00.1GB] [00.0%] [T01] Execution status: Running [Root]

[err] [01:46:5

[2020-08-07 16:31] alexec commented on #3697
What version of Argo Workflows are you running? You must be running > v2.10

[2020-08-07 16:35] alexec commented on #3696
Argo Workflows is designed to be install into the cluster it is needed for. We do not currently support multi-cluster. See #3523

[2020-08-07 16:37] #3692 closed

[2020-08-07 16:37] alexec commented on #3692
Good news.

[2020-08-07 16:45] laymain commented on #3697
I'm running the 2.9.3 version, the documentation mentions

[2020-08-07 16:48] sarabala1979 commented on #3698
looks like your k8s API server is not responding argo request.  It might be a network delay or K8s API server is under load. Is this issue happening consistently or intermittently?

[2020-08-07 17:55] #2667 closed

[2020-08-07 18:28] #3697 closed

[2020-08-07 18:36] hyorigo commented on #3696
@alexec  Thanks for your reply! So it's kinda design problem.

Is it hard/complicated to adjust Argo Workflow Controller for this purpose? Or it's nearly impossible to make such a change since it's the root of Argo and its design.

[2020-08-07 19:41] pisymbol commented on #2080
@MrXinWang Yes! Sorry for the very late reply. Can we run Argo on a raspi cluster now?

[2020-08-07 20:40] rbreeze commented on #3683
Deemed unnecessary. Adding indicator on per-node basis to UI DAG view instead.

[2020-08-07 20:40] #3683 closed

[2020-08-07 20:41] rbreeze opened #3703 "feat(ui): Indicate memoization status on per-node basis in DAG view"
---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-07 21:59] csandiri11 commented on #3698
Thank you for reply.

this is happening intermittently. but when I check GRID load and NW activity, its not super busy. seeing the below errors

Unhandled exception. System.AggregateException: One or more errors occurred. (One or more errors occurred. (time="2020-08-06T19:02:22Z" level=fatal msg="the server was unable to return a response in the time allotted, but may still be processing the reque

[2020-08-07 22:58] guoweis-outreach commented on #2671
i'm still hitting this issue.

[2020-08-07 23:20] guoweis-outreach opened #3705 "PNS Executor Doesn't Work as onExit handler"
## Summary

I'm using pns executor. However, it seems always failing on the onExit handler. In the past, I ran into exactly the same error for very short-lived step, but usually adding a sleep is a good enough workaround to prevent this from happening.

However, this `sleep` workaround doesn't seem working when it comes to onExit. I experience this issue consistently when I use it as onExit handle

[2020-08-08 04:14] sarabala1979 commented on #3705
Have you tried `emptyDir` volume instead of sleep?

[code]

[2020-08-08 05:42] yunhailuo commented on #2733
I'm not quite sure how you got this error. And I'm not sure the difference between your `gcs` and `s3` block. So I can't really say anything.

The specific reason I got this before is namespace mismatch. I was following the previous version and used `argo` namespace while the artifact configure written there assume it's `default`. Fixing that solved my problem

[2020-08-08 07:03] prateekkhera commented on #3695
Thanks @simster7 , also one issue(unrelated, because of which we resorted to a cron workflow that does cleanup with argo delete --older).

The `successfulJobsHistoryLimit`, `failedJobsHistoryLimit` with cron workflow is not working for us. I tested with simple cron workflows and works fine. But, in our cron, we are calling workflow templates using `templateRef` which in turn calls for another work

[2020-08-08 20:16] alexec opened #3706 "Fix `Unable to delete PDB resource for workflow` error"
## Summary

Unexpected error.

## Diagnostics

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-09 02:54] CaramelMario commented on #3516
@luozhaoyu Cool! We have the same scenarios, and we don't want to install Argo pods in staging or production cluster, all we need is to install Arg things (server+runner) in the other cluster only, and allocate some steps of the workflows to the staging/production clusters.

[2020-08-09 02:57] CaramelMario commented on #3523
More details:
* Only install Argo server + controller in the master cluster
* The master cluster dispatches steps of workflow to slave clusters
* The slave clusters don't need to install Argo things

[2020-08-09 02:59] CaramelMario commented on #3696
The same. @alexec  Is it a big big change, or maybe possible the fork and make a quick fix for this?

[2020-08-09 05:30] #2748 closed

[2020-08-09 08:48] leileiwan opened #3707 "The Tolerations are invalid with Template of steps"
# The Tolerations are invalid with Template of steps
# 1.Problem
I set the tolerations in Template of steps  , but it's invalid.
Then I set the Workflow.Spec.Tolerations, it useful. It seems very strange.

Then I found dag had the same problem.

* set for Template
[code]

[code]
* set for workflow Spec
[code]
[code]
# 2 analysis code
It will add tmpl.Tolerations or wfSpec.Tolerations before it cre

[2020-08-09 16:53] alexec commented on #3695
I said I would look into this as I thought these was a test in places is because the test `TestWorkflowDeleteOlder` runs `argo delete --older 0s -l argo-e2e` and therefore has a label flag.

This hints at a workaround for this:

[code]

i.e. run the command with `l` and a label that does not exist

[2020-08-09 17:37] simster7 commented on #3695
This happens because the presence of a label flag passes this if condition and applies the delete opts.

https://github.com/argoproj/argo/blob/6134a56540e9bbb744fe06ce5be69eca99e95b32/cmd/argo/commands/delete.go#L48-L49

[2020-08-09 17:38] simster7 commented on #3695
Looking into this

I don't think so. Can you open a new issue and provide a sample workflow to reproduce?

[2020-08-09 23:08] fangpenlin commented on #2841
I can confirm this bug. I looked into the code and I think I know what's going on here. The GCS artifact loader is trying to list files with the given key as prefix

https://github.com/argoproj/argo/blob/cb3536f9d1dd64258c1c3d737bb115bdab923e58/workflow/artifacts/gcs/gcs.go#L84

And try to create the intermediate folders if it needs to

https://github.com/argoproj/argo/blob/cb3536f9d1dd64258c1c3d7

[2020-08-09 23:58] #3695 closed

[2020-08-10 05:25] sh-tatsuno opened #3708 "I want to refer "id", "startedAt", "finishedAt" in Step Template"
# Summary

I would like to use like "steps.example.id", "steps.example.startedAt" and "steps.example.finishedAt"

# Use Cases

In our team, we try to send results from argo to slack channels for monitoring.

In this case, we want to include "what task(dag) is success, retry or failure" or the direct link to the result of the web UI in notifications.

e.g.

(color will be green if success)

[code]

[2020-08-10 07:12] lueenavarro opened #3709 "workflow must be Failed/Error to retry"
## Summary

What happened/what you expected to happen?
I am able to retry a workflow only once, when it fails again, a pop up from the UI says Unable to Retry Workflow. When I checked the logs from argo server, the error says `workflow must be Failed/Error to retry`.

![image](https://user-images.githubusercontent.com/47080916/89759031-da392700-db1b-11ea-9eb6-85c6cd5a23fa.png)

I have an On Exit p

[2020-08-10 07:32] sh-tatsuno opened #3710 "Argo OnExit does not work properly when using step template in a dag"
## Summary

Argo OnExit does not work properly when using step template in a dag

## Diagnostics

Argo version: v2.9.4

[code]

In above case, exit will never be called.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-10 07:55] laymain opened #3711 "Slack invite link is no longer active"
## Summary

The slack invitation has expired: https://argoproj.github.io/community/join-slack

Same as #2224, #1789 and #1706

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-10 08:06] laymain opened #3712 "Submit raw workflow to the REST api"
# Summary

Can we send directly raw yaml workflows to the REST api?
It seems that it is possible using K8s API but it is not documented anymore: #1163 and #1757.

# Motivation

I would appreciate to describe my workflows in YAML and submit them directly to the API,
without the need to convert them into the [OpenAPI format](https://argoproj.github.io/argo/swagger/).

[2020-08-10 13:36] jackywu opened #3715 "what about MongoDB support for workflow persistence store?"
# Summary

Add MongoDB support for workflow persistence store

# Use Cases

In my situation，there is a MongoDB cluster already，and we are strongly depend on MongoDB，so I think make MongoDB
support for workflow persistence store is a good idea。Is it meaningful ？

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-10 13:59] simster7 commented on #3210
Closed by https://github.com/argoproj/argo/pull/3674

[2020-08-10 13:59] #3210 closed

[2020-08-10 14:03] simster7 commented on #3709
Based on your screenshot, it looks like your Workflow actually succeeded, but the `onExit` handler of the Workflow failed. We currently don't consider the `onExit` handler as part of the workflows for retry purposes, but I can see how you would want it to be. I'll discuss with the team and work on a fix if that's our desired behavior

[2020-08-10 14:04] simster7 commented on #3710
Taking a look now

[2020-08-10 14:08] simster7 commented on #3710
Able to reproduce

[2020-08-10 14:08] simster7 commented on #3711
I pinged our webmaster to update our link. Will close this when it's working again. Thanks!

[2020-08-10 14:39] simster7 commented on #3710
Opened PR to fix 👆

[2020-08-10 14:42] simster7 commented on #3708
The enhancement and your proposed PR look good. Would you like to open a PR? Three things:

* Don't use `t0`, you can just inline `time.Time{}` directly.
* Add the new fields to our `docs/variables.md` doc
* Make sure this also works for tasks: add test cases for `tasks.<NAME>.startedAt`.

[2020-08-10 14:43] sh-tatsuno commented on #3710
suuper fast! Thank you!!

[2020-08-10 14:55] sh-tatsuno commented on #3708
I appreciate your check! I 'll prepare it!

[2020-08-10 15:08] sarabala1979 commented on #3715
Argo is using upper.io/v3 as a  DB connection library. upper.io/v3 has mango DB support `https://upper.io/db.v3/mongo`.
do you like to contribute mango DB implementation?

[2020-08-10 15:25] alexec commented on #3712
In short - no. You must use the Open API format as described. However, you can submit YAML and that YAML contains the workflow itself:

https://argoproj.github.io/argo/swagger/#post_2

[2020-08-10 15:42] sarabala1979 commented on #3709
Here the workaround, if you think `onExit` template will fail and want to retry, you can add it as a normal step/task end of your DAG/Step instead of `onExit` handler.  Retry works for this case.

[2020-08-10 15:53] #3136 closed

[2020-08-10 15:59] sh-tatsuno commented on #3708
@simster7
I have one elementary question.

How to create test yaml (with status item) from argo yaml file like below?
https://github.com/argoproj/argo/pull/3716/files#diff-e4eb711bf6f337f8e68f5f20ea0df29eR1879

I try to extract it from the completed pod or the web UI but cannot find the way.

[2020-08-10 16:43] simster7 commented on #3708
Hmm this type of test is a bit more complicated and probably not necessary for a change like yours.

On further check, it seems like the test you've already included is sufficient because `tasks.` variables are generated using the same function as `steps.`

[2020-08-10 16:53] bryanisgreat opened #3718 "browser spams /api/v1/workflow-events if 'Timeline' page does not completely load"
## Summary
Using the web UI, if you leave the 'Timeline' page before it completely loads it will spam requests to `/api/v1/workflow-events/?listOptions.resourceVersion=250320295&fields=result.object.metadata.name,result.object.metadata.namespace,result.object.metadata.resourceVersion,result.object.metadata.uid,result.object.status.finishedAt,result.object.status.phase,result.object.status.startedA

[2020-08-10 17:03] simster7 commented on #3645
Hi @KPostOffice, sorry for the delay. I tested this in `2.10.0-rc6` and `2.9.5` and seems to work as expected on both.

[2020-08-10 17:04] simster7 commented on #3645
Will close this again unless you confirm that you've tested this in `2.10.0-rc6` and `2.9.5` and still have the issue 🙂

[2020-08-10 17:12] simster7 commented on #3718
`/api/v1/workflow-events` is a stream which updates for every new workflow event that the server sees. It seems that the calls on your screenshot are the stream getting opened and closed with the `time` showing how much time the stream was open. From your screenshot it seems that only one stream is open at a time.

For the "context canceled" issue, I recall @alexec working on it recently; perhaps

[2020-08-10 17:17] #3710 closed

[2020-08-10 17:21] bryanisgreat commented on #3718
It's hard to capture in a screenshot, but those requests are flooding at about 10/second and have not settled down to a single open request as it may appear (and as you would expect for normal working behavior).

[2020-08-10 17:29] alexec commented on #3718
The `context cancelled` error occurs (< v2.10) when the client disconnects. I have changed the re-connection code on master.

@bryanisgreat could I ask you to try running `argoproj/argocli:latest` and see if solves your problem?

[2020-08-10 17:33] alexec commented on #3706
The first error dupes #3217.

[2020-08-10 17:34] alexec commented on #3217
[code]

[2020-08-10 18:04] alexec commented on #3217
Must match on error message: `Operation cannot be fulfilled on resourcequota`

[2020-08-10 18:13] Ziyang2go commented on #3217
@bryanlarsen  The workaround that we did is to requeue the workflow when we have create pod error rather than fail the workflow. That can work for us because we have pre-defined workflow template and the only error that we saw in creating pod is this error and it can resolve itself in the retry process.

we are on argo version 2.4.3 and here is the patch that we made:
[code]

[2020-08-10 18:16] selvamraman commented on #3646
@alexec @sarabala1979  is it possible to use if else like condition to decide the retry number based on other parameter. I think, if else is not directly supported in yaml file, but is there any alternate way to do the below?
For example:

`
retryStrategy:
  limit: 1 if "{{workflow.parameters.env}}" == "pre-prod" else 5
  retryPolicy: "Always"
  backoff:
    duration: 30 #30 seconds delay
    fact

[2020-08-10 18:18] simster7 commented on #3646
Not possible. However you can run a step previous to this to compute the condition, then (once this PR is merged) use the result of the computation as a parameter to this step

[2020-08-10 18:41] alexec commented on #3707
Can I play this back so I can see if I understand. Do you expect that a pod's tolerations should be inherited from their parent step or DAG? But that is not the case?

[2020-08-10 18:44] simster7 commented on #3711
Link should work now!

[2020-08-10 18:44] #3711 closed

[2020-08-10 19:00] alexec opened #3719 "Investigate writing back to the informer"
# Summary

What change needs making?

# Use Cases

See https://github.com/argoproj/argo/pull/3684#issue-464115275

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-10 19:03] alexec opened #3720 "Sign-post how to use IDE CRD validation in UI"
# Summary

Users still don't seem to know how to do this. Let's add a sign-post.

# Use Cases

So that users create fewer invalid workflows.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-10 19:50] simster7 opened #3722 "Investiage nodes getting marked as Errored, then Running when resubmiting pods that did not have resources"
## Summary

What happened/what you expected to happen?

## Diagnostics

What version of Argo Workflows are you running?

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-10 21:17] laymain commented on #3711
I can confirm it works, thank you

[2020-08-10 22:27] guoweis-outreach commented on #3705
I tried the emptyDir volume, but it still failed for this one. (I need this one to make another workflow happy which takes an input artifacts)
[code]
Here is the log from the `wait` container
[code]

[2020-08-10 22:43] #1322 closed

[2020-08-10 22:43] #3172 closed

[2020-08-10 22:48] pbebbo commented on #3102
How are you getting on with this enhancement?

[2020-08-10 23:47] alexec opened #3725 "Show workflows events in the UI like Argo CD does"
# Summary

Make it easier to debug workflow failures by surfacing relevant Kubernetes events.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-11 03:07] sh-tatsuno commented on #3708
OK! So, in this PR, I add the validation in an existed test substitute for additional tests.

(Not necessary but anyway, I would like to know how to create the test yaml for my future contribution. If I can try it, I am willing to create the procedure in docs)

[2020-08-11 03:11] leileiwan commented on #3707
Yes，if we have many steps，all the steps have different tolerations but the same container. Now, we can only create may different container Template，because the tolerations  seted for steps Template is unuseful.

[2020-08-11 03:22] #3706 closed

[2020-08-11 06:53] lippertmarkus commented on #3682
Thanks for the docs PR. I just quickly looked into the other issues and first thought it was because of the Linux paths which were shown in the logs in https://github.com/argoproj/argo/issues/3682#issuecomment-670529620. I tried using the according Windows paths but still getting the `The system cannot find the file specified` error. So it seems the download of a non-archived artifact doesn't seem

[2020-08-11 08:19] laymain commented on #3712
If I follow the documentation of the [POST /api/v1/workflows/{namespace}](https://argoproj.github.io/argo/swagger/#post_7) endpoint, I have to submit a [io.argoproj.workflow.v1alpha1.WorkflowCreateRequest](https://argoproj.github.io/argo/swagger/#ioargoprojworkflowv1alpha1workflowcreaterequest) that indeed contains the workflow.

Something like that should work:

[code]

But I get

[code]

Since w

[2020-08-11 09:21] lueenavarro commented on #3709
Based from my screenshot, the onExit handler succeeded. Its the step ON-START which failed, ON-START is part of the main workflow, it is not under the onExit.

[2020-08-11 09:23] lueenavarro commented on #3709
I want to send an email at the end of each workflow regardless of the workflow's status. I'm guessing an on exit handler is the only way to do that?

[2020-08-11 10:07] brabster opened #3728 "argo lint accept templates from stdin"
# Summary

argo lint accepts templates from stdin

# Use Cases

When I use helm to deploy a template, I would like to lint the template after it has been through Helm's value interpolation and any post-processors I've defined. Tested with 2.9.4

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-11 10:09] brabster opened #3729 "argo lint local mode"
# Summary

A means of specifying whether to fail validation for features that are not available locally, like
[code]

# Use Cases

Validating templates locally. Tested with 2.9.4

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-11 10:11] brabster opened #3730 "argo lint to handle cron & templates automatically"
# Summary

argo lint detects the type of manifest and automatically applies correct linting

# Use Cases

When using Helm to deploy templates, it concatenates the templates together into one manifest including cron and workflow templates. I'd like to validate all types. Tested with 2.9.4

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the m

[2020-08-11 10:46] dynamicmindset opened #3731 "Override artifact argument when calling a workflow template"
# Summary

I am working on multiple ETL pipelines that would support both **processing** and **reprocessing** input data.

# Motivation

## Here are the use  cases:
I. Extract data and process it
* extract data (multiple possible ways here) (E1, E2, ...)
* perform a series of transformations T (T)
* load data L (L)

II. Reprocess existing data
* perform a series of transformations T (T)
* load dat

[2020-08-11 13:59] simster7 commented on #3729
There's the [`runtimeResolution`](https://github.com/argoproj/argo/blob/master/docs/fields.md#templateref) flag in the `templateRef` field for this

[2020-08-11 14:18] laymain commented on #3712
I have given up submitting the template through the API since I needed to specify the parameters and it is **not** possible using the [POST /api/v1/workflows/{namespace}](https://argoproj.github.io/argo/swagger/#post_7) endpoint.

We now deploy a WorkflowTemplate using helm and trigger a Workflow using the [POST /api/v1/workflows/{namespace}/submit](https://argoproj.github.io/argo/swagger/#apiv1wo

[2020-08-11 14:20] simster7 commented on #3728
Care to submit a PR for this?

[2020-08-11 14:20] simster7 commented on #3722
Most likely fixed by #3684

[2020-08-11 14:20] #3722 closed

[2020-08-11 14:44] alexec commented on #3712
I think I'm incorrect about this. I think that it must be JSON. You should be able to pass the same `submitOptions` you to the the `/submit` endpoint.

[2020-08-11 14:47] dcherman commented on #3095
@alexec @jessesuen Any opinions on the approach you'd like to take here given the previous couple of comments?

[2020-08-11 14:54] #3667 closed

[2020-08-11 14:58] brabster commented on #3728
I would love to @simster7 but I don't know Go and I don't have the time to learn it right now. If it's still here when I get round to it then...

[2020-08-11 15:19] laymain commented on #3712
I would like to pass the `submitOptions` to the [POST /api/v1/workflows/{namespace}](https://argoproj.github.io/argo/swagger/#post_7) endpoint
to be able to create a Workflow **and** specify its parameters

[2020-08-11 15:31] rmgpinto opened #3732 "OnExit handler overrides logs from main containers"
## Summary

What happened/what you expected to happen?
OnExit handler is overriding logs from main containers

## Diagnostics

What version of Argo Workflows are you running?
2.9.5 and tried with 2.10.0-rc6 as well.

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-11 15:53] simster7 commented on #3732
Will take a look

[2020-08-11 16:03] simster7 commented on #3708
Closed by #3724

[2020-08-11 16:03] #3708 closed

[2020-08-11 16:17] alexec commented on #3729
Simon has suggested one `runtimeResolution`. You can run the CLI in server mode with `ARGO_SERVER` if you are running Argo Server. I actually think this issue in a duplicate of #3209 .

[2020-08-11 16:25] dynamicmindset commented on #3731
I finally got it, so the presented use case is definitely supported. This [example](https://github.com/argoproj/argo/blob/master/test/e2e/functional/global-parameters-complex.yaml) was useful.

In case someone else will have the same use cases here is how it can be done:

[code]
Basically a new input is added at `dag` level and that input is further passed as argument to a step in dag.

Will close

[2020-08-11 16:25] #3731 closed

[2020-08-11 16:27] moorepatrick opened #3733 "Access Properties of JSON Output Individually"
# Summary

I would like to know if it is possible to to access the properties of a JSON output directly.

# Motivation

Instead of creating multiple outputs, I would like to save a single json file and access the contained properties as needed. Using `withParams` and `item` is close, but using that multiple times in series appears to be blocked by https://github.com/argoproj/argo/issues/3182.

Exa

[2020-08-11 17:16] dynamicmindset opened #3735 "Small correction to workflow template dag example"
# Summary

What change needs making?

[dag example](https://github.com/argoproj/argo/blob/master/examples/workflow-template/dag.yaml) passes arguments to a `DagTemplate` ref that [does not have inputs](https://github.com/argoproj/argo/blob/master/examples/workflow-template/templates.yaml#L92).

[code]
This can be confusing for a newcomer.

---

**Message from the maintainers**:

Impacted by this b

[2020-08-11 17:17] dcherman commented on #3102
@pbebbo At the moment, it's on hold while I'm reconsidering how to actually implement this.  When you consider the huge variety of ways that people can configure their artifact repo on AWS alone such as Access Key/Secret, IRSA, KIAM/kube2iam, temporary secrets that are cleaned up after the workflow runs, etc (and that's just AWS), the scope of the problem is actually pretty big if you try to infer

[2020-08-11 17:26] simster7 commented on #3732
It seems like all your outputs have the same `key`:

[code]

So they are likely overwriting each other. Have you set a `keyFormat` as in [this example](https://github.com/argoproj/argo/blob/master/docs/configure-artifact-repository.md#s3-compatible-artifact-repository-bucket-such-as-aws-gcs-minio-and-alibaba-cloud-oss)?

[2020-08-11 17:51] mattskone opened #3737 "`argo submit` from a WorkflowTemplate with default exit handler produces "invalid field in spec" error"
## Summary

### Use Case
I would like to use the `argo submit --from workflowtemplate/[template_name]` command to run ad hoc `Workflows` from an existing `WorkflowTemplate`.  This works fine.  I would also like to have a default exit handler defined in the workflow controller configmap so that all of my workflows have the same exit behavior, but then when I run `argo submit`, the resulting workflo

[2020-08-11 18:04] #3735 closed

[2020-08-11 18:14] fangpenlin opened #3738 "Argo API returning "Error: Request entity too large: limit is 3145728" when workflow is huge"
## Summary

The argo API should be able to return payload bigger than 3MB given if the whole workflow graph is huge

## Diagnostics

v2.10.0-rc6

[code]

When you are trying to run a workflow that has very deep recursive times and very wide repeating tasks in the loop. Given my example, it's 1024 * 300, i.e around 300k tasks in this workflow. After a while, when enough tasks processed by argo, and

[2020-08-11 18:21] alexec commented on #3728
Can you do this?

[code]

[2020-08-11 18:38] eestewart opened #3739 "DAG hanging"
## Summary

What happened/what you expected to happen?
Workflow DAG step hangs when the DAG has a task for scheduled jobs to run, but there are no jobs scheduled, and a subsequent task depends on that task.

- Please note that this is different than issue: [Dag workflow will stay running forever in some long run situation.](https://github.com/argoproj/argo/issues/1190) which was previously closed.

[2020-08-11 18:46] #3729 closed

[2020-08-11 19:56] alexec commented on #3739
@simster7 created a fix and released in v2.9.5.

Can you please run the controlled with the environment variable `ALL_POD_CHANGES_SIGNIFICANT=true` and see if that addresses this issue.

[2020-08-11 19:59] simster7 commented on #3739
I'll investigate this today

[2020-08-11 20:03] alexec commented on #3738
You workflow is too large to fit into etcd. We have a specific feature to deal with this: node status offloading:

https://argoproj.github.io/argo/offloading-large-workflows/

[2020-08-11 20:03] alexec commented on #3738
Appears to work as expected. Removed `bug` label.

[2020-08-11 20:38] eestewart commented on #3738
Thanks.  I'll give this a try.

[2020-08-11 20:48] simster7 commented on #3739
Confirmed this as a bug, working on a fix

[2020-08-11 20:50] alexec commented on #3739
Thank you @simster7

[2020-08-11 21:21] simster7 commented on #3739
Note: this bug is a very unusual edge case. For this bug to happen all of these conditions must be satisfied:

1. Task A is a TaskGroup (i.e. uses `withItems`, `withParams`, etc.)
2. Task A's tasks are empty (i.e. `withParams: ""`)
3. Task B depends on Task A
4. Task B is a target task (i.e. it is a leaf task in the DAG)

[2020-08-11 22:19] alexec commented on #3590
Closing as `wontfix` and we have reports that v2.9 solves this issue.

[2020-08-11 22:19] #3590 closed

[2020-08-11 22:23] alexec commented on #3525
We still don't have enough use cases to be confident we can implement the right solution for this issue.

I've added as a topic to the next community meeting:

http://bit.ly/argo-wf-cmty-mtng

[2020-08-11 23:45] alexec commented on #1204
After further research, this is easy enough for JSON, but not really possible for YAML.

[2020-08-11 23:55] #3677 closed

[2020-08-12 00:36] xinbinhuang opened #3742 "CronWorkflow jobs status history"
# Summary

I am evaluating Argo Workflow for scheduling ETL jobs for my team, and I am trying to find a way to retrieve the job status history for a certain (Cron)Workflow. Is that a way to I can inspect this metadata information?

# Motivation

Why do you need to know this, any examples or use cases you could include?

It's common to retrieve and monitor the history of ETL pipelines, so that we c

[2020-08-12 01:33] fangpenlin commented on #3738
@alexec ah, no wonder. the error message is a bit misleading though. I will turn on persistence / off load and try again.

the reproducing sample code I provided is simplified from my actual workflow, I didn't have time to run it and see if it can reproduce, I guess some part I removed in the code makes it not big enough to trigger the same issue.

anyway, thanks for the help, will update if the p

[2020-08-12 07:04] fangpenlin commented on #3738
So, I ran with persistence option on with off loading large workflow on, doesn't seem to see the same problem. However, the web UI failed to load at some point, and my PostgreSQL seems like crashing. Also it's just too painful to have thousands of jobs in one workflow. So I turn the whole workflow into [Workflow of workflows](https://argoproj.github.io/argo/workflow-of-workflows/). So far it seems

[2020-08-12 07:04] #3738 closed

[2020-08-12 07:24] fangpenlin commented on #3739
just happened to run into the same bug, where my generator script is returning an empty json payload, here's the yaml I used for reproducing it:

[code]

I return empty json on purpose, as I have a finish maker detection step in my real workflow, I wanted to skip the whole DAG if the finish marker file is already there in place in cloud storage. And JSON result is required even if `when` condition

[2020-08-12 07:45] laymain opened #3743 "WorkflowTemplate with required parameters"
# Summary

It would be nice to allow WorkflowTemplate to have required parameters that **must** be provided on submission.

# Use Cases

I'm using a fully parameterized WorflowTemplate and I would like to be able to declare required parameters
without default value and to fail if these required parameters are not provided on `submit`.

Let's say that we have a WorkflowTemplate to delete some data

[2020-08-12 09:32] rmgpinto commented on #3732
That was it, I've added a `keyFormat: argo-logs/{{workflow.name}}/{{pod.name}}`.
Thanks

[2020-08-12 09:32] #3732 closed

[2020-08-12 12:29] dgiebert commented on #2080
Necrobumping this as I am also working on a raspi cluster.

Reworking the Dockerfile to automatically pickup the arch using buildx, might need some help with github workflow though

[2020-08-12 13:10] ggogel commented on #1256
Having the same issue. Running K3OS with CR-IO. So I can't use the docker executor. The other two, kubelet and k8api, simply won't work. Kubelet gives me a certificate error, which the helm chart doesn't give an option for ignoring and k8api give me errors like "function not found"...

[2020-08-12 13:33] dynamicmindset commented on #3545
I am also creating reusable dag workflow templates (programmatically) that can expose an artifact which I can further pass to other workflow templates as inputs. In this context I find having DAG outputs an extremely powerful way to design composable workflows.

Can you confirm if DAG level outputs is an officially supported feature?

[2020-08-12 15:07] #3646 closed

[2020-08-12 15:10] simster7 commented on #3742
Currently the most reliable way to do this is to set up the [workflow archive](https://github.com/argoproj/argo/blob/master/docs/workflow-archive.md). There you'll be able to see every workflow that has completed

[2020-08-12 15:36] sarabala1979 commented on #3733
@moorepatrick  I am trying to understand your question. Are you asking JSON input parameter can be accessed by its elements instead of the whole JSON? if yes, It won't support as first-class support in argo. The current parameter will support multiple data types. In your case container or script needs to parse the JSON or add an intermediate step to parse and output it as output parameters.
Here t

[2020-08-12 15:52] sarabala1979 commented on #3737
looks like some os specific CLI yaml parsing issue. I can see `templates: null` on parsed workflow.  Can you provide the your CLI version? you can get it using `argo version`.

[2020-08-12 16:00] sarabala1979 commented on #3705
PNS is common for all steps and exit handlers. looks like specific to your environment. It works fine on my dev env.  Can you try with more `sleep` and` emptydir` both?

[code]

[2020-08-12 16:12] mattskone commented on #3737
[code]

[2020-08-12 16:14] paltaa commented on #2967
Hey, im experiencing this bug with argo 2.9.4 after deleting all the workflows with argo delete --completed, ive got it behind a nginx reverse proxy and with a aws alb ingress, any workarounds ?

[2020-08-12 16:28] paltaa commented on #2967
UPDATE: removing proxy buffers from nginx finxed this, in case anyone comes to this discussion this config for nginx works:

[2020-08-12 16:47] SkylarScaling commented on #2696
This appears to still be a problem when using generateName. Changing to using name seems to be a workaround, but shouldn't be necessary. Unless generateName isn't valid in this context, then it should probably be documented somewhere.

`error when retrieving current configuration of: Resource: "tekton.dev/v1beta1, Resource=pipelineruns", GroupVersionKind: "tekton.dev/v1beta1, Kind=PipelineRun" Nam

[2020-08-12 17:53] alexec opened #3747 "Run `ci-build.yaml` on `r8` branch"
## Summary

This does not happen and I was forced to run the tests locally.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-12 17:56] alexec commented on #1256
@sarabala1979 is the workaround for this `emptyDir`?

[2020-08-12 17:57] alexec commented on #3742
@simster7 +1

[2020-08-12 18:00] alexec commented on #3725
Duplicate of #3673.

[2020-08-12 18:00] #3725 closed

[2020-08-12 18:07] alexec opened #3748 "Is `TestWorkflowLevelSemaphore` flakey?"
## Summary

Is this flakey? Seems to randomly fail.

## Diagnostics

[code]
---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-12 18:13] sarabala1979 commented on #3748
let me take a look

[2020-08-12 18:24] alexec commented on #3217
@Ziyang2go @bryanlarsen if I create a development build of the workflow controller - could you please test it? Thank you.

[2020-08-12 18:39] alexec commented on #3743
To play back: rather than use the template's value when undefined, throw an error. This would mean we would have to allow templates with no default values.

[2020-08-12 18:41] alexec commented on #3747
Hopefully we will never release this branch again. So this issue is not valuable.

[2020-08-12 18:41] #3747 closed

[2020-08-12 18:43] #3007 closed

[2020-08-12 19:11] alexec opened #3750 "test code is not getting linted"
## Summary

The code in `test/e2e` does not appear to be getting linted.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-12 19:11] alexec opened #3751 "Failure Mode and Effects Analysis (FMEA) Testing"
Understand the behaviour under the following disruptions:

## Environment Disruptions

| Disruption | Behaviour | Recovery |
|-|-|-|
| Kubernetes API network issues. | Lots of errors printed the logs. | Full recovery |
| Artifact storage network issues. | Workflow will error. | Full recovery  |
| SQL database network issues. | (a) we fail any running workflows (see #3837) (b) we fail to archive th

[2020-08-12 19:30] ggogel commented on #1256
I was finally able to get it running using the k8sapi
`spec:
  volumes:
    - name: source
      emptyDir: {}`
Sadly this brakes the functionality of the built-in git solution, because apparently it can not write into a volume. I had to write my own git clone script. Also this kind of makes the artifact passing redundant, as I could just use this volume in every stage.

[2020-08-12 20:13] alexec commented on #3748
@sarabala1979 I'm doing some refactoring (#3749) that should make e2e tests more robust - can I steal this issue from you please?

[2020-08-12 20:18] #3750 closed

[2020-08-12 20:22] alexec opened #3753 "Merge given/when/then"
# Summary

We have these three types in the e2e tests, but they kind of get in the way and have a lot of duplication. We could merge them into a single type which has all the methods.

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-12 20:26] alexec commented on #3753
Theres about 5 duplicated functions.

[2020-08-12 20:56] alexec opened #3754 "Exit handler nodes missing from the UI DAG"
## Summary

When a workflow has an exit handler, this should be visible in the UI (as a floating node) but is not visible on latest.  The nodes did actually run.

## Diagnostics

Latest

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-12 23:37] sarabala1979 commented on #3737
@mattskone There was a bug in 2.8,  workflow default will not be applied on `submit --from` #3355.   This is a limitation in v2.9  `submit -- from`.  Templates in workflow default will not be supported for `submit -- from`.  The fix is a little bit complicated. I will talk to team and work on it.

[2020-08-12 23:48] alexec opened #3756 "Creator label too long."
## Summary

## Diagnostics

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-13 01:43] xinbinhuang commented on #3742
@simster7 @alexec Thanks for the recommendations! I was not aware of this feature before, and I will try it out!

[2020-08-13 02:15] dove-young opened #3759 "workflow template ref does not work in other namespace"
## Summary

Reference workflow template from namespace other than `argo` dose not work.

Submit workflow which reference template in `argo` namespace works .

## Diagnostics

What version of Argo Workflows are you running?

[code]

### Reproduce

- Install argo from https://github.com/argoproj/argo/blob/master/manifests/install.yaml
- Create a new namespace `kubectl create ns my-namespace`
- Creat

[2020-08-13 02:18] dove-young commented on #3759
Submit ordinary workflow to other namespace works.

[code]

[2020-08-13 02:47] sudarshntn opened #3760 "How do we auto sync workflow templates from Git to Argo Workflow automatically if there is any change"
We want to auto sync the workflow templates that are in Git which is our source of truth to Argo Workflow similar to ArgoCD.

We are using Argo Workflow version 2.9.4

I have a predefined set of workflows which are loaded using the Argo API into the Work and runs perfectly fine when ever there is an event that gets triggered which in turn calls the workflow to execute. Also the sensor (this has de

[2020-08-13 03:08] #3742 closed

[2020-08-13 03:09] simster7 commented on #3760
Try [Argo CD](https://github.com/argoproj/argo-cd)?

[2020-08-13 03:14] sudarshntn commented on #3760
We are already using ArgoCD for our CD flow and there we have enabled the auto sync so any change that we commit in git to the argo application templates it gets sync automatically (using AppOfApp)

Can we use the same for workflow templates to be loaded into Argo Workflow?
@simster7

[2020-08-13 03:18] leileiwan commented on #3707
@alexec what's your suggestion

[2020-08-13 03:37] sarabala1979 commented on #3759
`WorkflowTemplate` is a namespaced scope.   `WorkflowTemplate` and `Workflow` have to be in same namespace.  if you want to reference the workflowtemplate across the namespaces in the cluster, you need to use `ClusterWorkflowTemplate which is a cluster scope.

[2020-08-13 04:38] fangpenlin opened #3761 "Output artifacts are uploaded even when the container failed"
## Summary

Output artifacts are uploaded even when the container failed.

Artifacts shouldn't be uploaded if the container failed.

Not sure is this a feature by design or a bug, but as it's very surprising to me, and took me very long time to debug, so I would report it as a bug. The background, I have a process keeps writing data to a file, and I add the file to artifacts to be uploaded once it

[2020-08-13 04:57] yoichiwo7 opened #3762 "Invalid Argo CLI download link in Web UI"
## Summary

The Argo CLI download link in Web UI is invalid which leads to 404 error.

## Diagnostics

What version of Argo Workflows are you running?
2.9.5

The download links of all platforms are invalid.
[code]
It looks like `latest` tag in the URL doesn't exist.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-13 04:58] sarabala1979 commented on #3755
you can parameterize all `podspec` using podspecpath.
https://github.com/argoproj/argo/blob/master/examples/pod-spec-patch-wf-tmpl.yaml
https://github.com/argoproj/argo/blob/master/examples/pod-spec-patch.yaml
https://github.com/argoproj/argo/blob/master/examples/pod-spec-from-previous-step.yaml

[2020-08-13 05:33] dove-young commented on #3759
They are in the same namespace

[code]

[2020-08-13 07:38] laymain commented on #3743
Exactly.

I have edited the issue, you're right, it was unclear.

[2020-08-13 13:10] sarabala1979 commented on #3759
Can you share ‘workflow-controller’ log? You can get the using kubectl logs <workflow-controller pod>

[2020-08-13 13:22] dove-young commented on #3759
I enabled `--loglevel debug` and `gloglevel 9` , here is the result

[code]

[2020-08-13 14:33] sarabala1979 commented on #3759
[code]
As per log, workflow created in  `namespace=stackstorm` namespace which doesn't have workflowtemplate.

[2020-08-13 15:29] iMoses commented on #2733
@alexec not just the docs have to change.. the official helm chart is also broken in that regard:
https://github.com/argoproj/argo-helm/blob/master/charts/argo/templates/workflow-controller-config-map.yaml

[2020-08-13 15:33] alexec commented on #3707
Ok. Labelling as `enhancement` .

[2020-08-13 15:35] alexec commented on #3761
I believe this is intended. Whether or not artifacts appear should not fail a step. If you want to avoid them being uploaded - create them in one place - and then only move the to their final location on success.

[2020-08-13 15:35] alexec commented on #3762
Good spot. We should remove these out dated links.

[2020-08-13 15:36] alexec commented on #3755
We just keep seeing this problem.

[2020-08-13 15:57] moorepatrick commented on #3733
Yes, this is what I'm trying to do, thanks.

[2020-08-13 15:57] #3733 closed

[2020-08-13 16:04] ntwrkguru commented on #2733
How does that affect the helm chart?

[2020-08-13 16:17] iMoses commented on #2733
It automatically adds the `artifactRepository` key inside `config`, which if I understand correctly is an error.

[2020-08-13 16:20] ntwrkguru commented on #2733
Fair. But I guess my point was, what the helm chart had to do with deleting the docs? Or, more succinctly, how deleting those docs fixes the helm chart. Not trying to be argumentative, I just don't see the correlation. If the docs and the chart is wrong, it seems like they should be fixed and/or removed.

[2020-08-13 16:37] iMoses commented on #2733
@ntwrkguru my rhetorical point was that it wasn't the only "leftover" regarding this breaking change.
On one hand you are right that this should have been opened as an issue on the relevant repository and it's somehow unrelated here, and on the other I was trying to enlighten the fact that breaking changes should be communicated better and pushed across the board on all side repositories as well.

[2020-08-13 16:46] ntwrkguru commented on #2733
@iMoses Thanks for the explanation! I didn't catch the rhetorical bit, so my bad on that one. Agreed on your other points.

[2020-08-13 17:43] guoweis-outreach commented on #3705
it seems putting sleep and emptyDir does help. However, i'm hoping that i don't have to put `sleep` at all... this seems quite random...

[2020-08-13 18:32] #3748 closed

[2020-08-13 18:35] sarabala1979 commented on #3705
It is a limitation in PNS executor. Wait container needs some time to secure the main container FS

[2020-08-13 18:35] #3705 closed

[2020-08-13 18:46] simster7 opened #3766 "Enhance CronWorkflow docs with section on what happens if controller crashes"
# Summary

What change needs making?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-13 18:53] juliusvonkohout opened #3767 "defaultworkflow securitycontext is not applied"
## Summary

The workflowDefaults as are not applied. I used https://github.com/argoproj/argo/blob/master/docs/default-workflow-specs.md as reference.

I am using Kubeflow pipelines generated workflows. I manually added the security context in the yaml file and it is correctly applied.

[code]

I tried to add a securitycontext to all main/user containers of all workflows by default, but it is just

[2020-08-13 18:54] alexec opened #3768 "Document "emptyDir pattern""
# Summary

When using k8s/kubelet/pns executors, users often need to mount an emptyDir to capture output artifacts.

# Use Cases

We get a lot of questions, so we should document this pattern and link from the executors page:

https://argoproj.github.io/argo/workflow-executors/

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-13 18:54] #1204 closed

[2020-08-13 19:39] alexec opened #3769 "v2.9.5 brew binary somehow getting replaced by dirty"
## Summary

`brew install argo` should give me a working binary - but the one I actually get does not have the static files.

## Diagnostics

From brew:

[code]

From releases page:

[code]
---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-13 19:40] alexec commented on #3769
![image](https://user-images.githubusercontent.com/1142830/90179376-368d8800-dd62-11ea-80af-5cb490ffcffc.png)

[2020-08-13 19:42] alexec commented on #3769
Maybe related:

https://github.com/argoproj/homebrew-tap/pull/17

[2020-08-13 19:43] alexec commented on #3769
Do we need to run
[code]

[2020-08-13 19:43] alexec commented on #3769
https://github.com/Homebrew/homebrew-core/pull/59258

[2020-08-13 19:44] alexec commented on #3769
@crunchtime-ali could I please ask for your help?

[2020-08-13 20:01] crunchtime-ali commented on #3769
@alexec Sure. I will have a look at it tomorrow. I think I included the static files and they should be included in the bottles which are built and distributed automatically as well.

[2020-08-13 20:35] alexec opened #3770 "Cannot run workflows with workflow templates"
## Summary

` Error: workflowtemplates.argoproj.io "acollins8" not found`

When trying to submit a workflow template (cluster install).

## Diagnostics

What version of Argo Workflows are you running? `latest`

[code]

[code]
Likely culprit:  #3677 (#3680)

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-13 20:48] maunavarro opened #3771 "argocd-dex-server goes into CrashLoopBackOff"
## Summary

What happened/what you expected to happen?
`argocd-dex-server` goes into endless CrashLoopBackOff - everything else starts as expected.

## Diagnostics

What version of Argo Workflows are you running? v1.6.2

[code]

Below is the output of `kubectl describe`:

[code]

Any ideas what could be going on with `dex-server` pod here?

---

**Message from the maintainers**:

Impacted by this

[2020-08-13 21:50] alexec opened #3773 "In the UI the namespace is getting replaced by "undefined""
## Summary

What happened/what you expected to happen?

## Diagnostics

I think this is when I type the URL into the browser bar manually.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-13 21:50] xinbinhuang opened #3774 "UI: Add toggle button for CronWorkflow"
# Summary

Add a toggle button for CronWorkFlow in the UI

# Use Cases

When would you use this?

Suspend/Resume a cron workflow from the UI, and monitor what workflows are currently active

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-13 22:05] xinbinhuang opened #3775 "Pagesize = all not woking on Archived Workflow View"
## Summary

What happened/what you expected to happen?

In the Archived Workflow View, the default page size is `10` and it cannot be changed to `all`. I think it will be better to be consistent with the Timeline view: default `all`

Also, I feel like the `Archived Workflow` is somehow redundant to the `Timeline View`. I wonder what's the actual use case for it?

## Diagnostics

What version of Ar

[2020-08-13 22:30] xinbinhuang commented on #1319
Maybe relevant to this, I wonder how does `argo get` recognize the name of each step?

[2020-08-13 22:32] xinbinhuang commented on #2099
I think this one #3774 can also belong here.

[2020-08-13 22:38] alexec opened #3776 "`argo auth token` prints `Bearer Bearer ******`"
## Summary

Only print "Bearer" once, not twice. This is backwards compatibly issue.

## Diagnostics

v2.9.5

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-13 23:13] alexec commented on #3771
This is an Argo CD issue. Transferring.

[2020-08-13 23:18] alexec commented on #3775
A default of `all` would crash the browser of users with many archived workflows. However, it should be possible to change to `all`. Can you confirm if you have had a problem with this?

[2020-08-13 23:23] alexec commented on #3776
I'm not sure we should fix this.

The problem is that older CLIs printed "Bear ${ARGO_TOKEN}" but now ARGO_TOKEN should contain "Bearer". Work-around is to remove "Bearer" from ARGO_TOKEN.

[2020-08-13 23:23] #3776 closed

[2020-08-14 00:00] alexec commented on #3770
Repro steps:

Do a cluster install with latest. Create a workflow template and then submit it. Failure.

[2020-08-14 00:19] alexec commented on #3770
Not a problem in 407f9e63.

[2020-08-14 00:21] alexec commented on #3770
Problem in da115f9d (and therefore due to it.

[2020-08-14 00:31] #3720 closed

[2020-08-14 03:56] fangpenlin opened #3780 "DAG with generated jobs from loop's failure won't make the workflow fail"
## Summary

When you create a workflow with DAG which has generated jobs from loop, the failed job created by the loop won't make the whole workflow fail, instead, it will still get passed as `Succeeded`. And the final job depending on the generated tasks will be ignored.

[code]

It should fail the whole workflow instead when any of the generated tasks from loop fails

## Diagnostics

What versio

[2020-08-14 04:41] xinbinhuang commented on #3775
I can change to `500` but not `all`..

[2020-08-14 04:58] sarabala1979 commented on #3780
@simster7  will #3740 fix this issue?

[2020-08-14 05:51] arnoldcui opened #3781 "Argo web ui crash."
## Summary

Argo web ui crash.

## Diagnostics

What version of Argo Workflows are you running?

2.8.2+8a

![image](https://user-images.githubusercontent.com/40977489/90217831-d74c7800-de34-11ea-864b-13de7c704a87.png)
![image](https://user-images.githubusercontent.com/40977489/90217845-dadfff00-de34-11ea-9db7-81745a2b4d72.png)

When the templates is null,the argo ui will crash.

I don't know what

[2020-08-14 08:25] xgourmandin commented on #2758
Hi,

I try to implement the solution proposed by alexec but I can't find the correct syntax to achieve it.
Can somebidy give me a little help please ?

[2020-08-14 08:32] yoni-taranis commented on #2901
Has this resolved the issue?

I still see this happening on the latest version when used in Kubeflow

[2020-08-14 15:08] sarabala1979 commented on #3781
what CLI version are you using? have you submitted workflow from workflowtemplate using `argo submit --from`?

[2020-08-14 16:09] alexec commented on #3606
Available in [v2.10.0-rc7](https://github.com/argoproj/argo/releases/tag/v2.10.0-rc7).

[2020-08-14 16:09] alexec commented on #3622
Available in [v2.10.0-rc7](https://github.com/argoproj/argo/releases/tag/v2.10.0-rc7).

[2020-08-14 16:09] alexec commented on #3706
Available in [v2.10.0-rc7](https://github.com/argoproj/argo/releases/tag/v2.10.0-rc7).

[2020-08-14 16:14] alexec commented on #3775
Screenshot? Diagnostics?

[2020-08-14 16:42] alexec commented on #3767
The spec under `workflowsDefault` appears to be invalid. It must be a fully formed workflow spec.

I'm assuming you want to apply this security context to every pod? I'm not sure this is possible. It would be good to know more about your use case.

[2020-08-14 17:04] alexec opened #3784 "Fail fast"
# Summary

There are uses cases where there is a large DAG (or steps) which are intended to run in sequence, but should fail as soon as any task fails.

# Use Cases

This can be worked around by having sequential steps, but the challenge is that you probably don't want to wait for a large number of tasks to complete before failing, i.e. you explicitly want to run tasks in parallel and then termina

[2020-08-14 17:10] juliusvonkohout commented on #3767
Yes, i want to apply that security context to every user container, but not the argoexec container.
I have to treat every submited workflow as malicious (company policy). So i have to make sure the user container does not run as root.

[2020-08-14 17:13] alexec commented on #3767
This would be a new feature, but it maybe you can active this another way?

https://kubernetes.io/docs/concepts/policy/pod-security-policy/

[2020-08-14 17:20] ppapasani1 commented on #3784
@alexec This is something we are looking for many days. I have long-running tasks, and if anyone of the tasks fail, I want the workflow to exit immediately. Attached a clip from one of my workflows, it has ~700 tasks and ~380th task failed and I don't want the rest of the tasks to be scheduled and complete and then fail.
![image](https://user-images.githubusercontent.com/37124509/90275490-3ef3ca80

[2020-08-14 17:21] juliusvonkohout commented on #3767
Ok, that is sad. Could you consider adding SYS_CHROOT like SYS_PTRACE to the argoexec pod, as done here https://github.com/argoproj/argo/pull/1214 ? That is needed for the PNS executor and would make it way easier. I am running kubeflow pipelines including argo. Without!!! any root containers using PSP and manually built images.

[2020-08-14 17:35] alexec opened #3786 "More robust workflow archiving"
# Summary

Today, when a workflow is archived, and the operation is failed, we log the error and give up. Instead, we could be more robust to transient database connection issues.

# Use Cases

To be more robust.

# Potential Solution

When complete, label the workflow as `workflows.argoproj.io/archive-status: Pending`.
Have a listener for these, and then try to archive when they are needed  and l

[2020-08-14 18:39] alexec commented on #3769
@crunchtime-ali  I think the fix is that `Formula/argo.rb`  should download the binary from the releases page.

[2020-08-14 18:43] alexec commented on #3774
We think we might already have an issue for this.

@sarabala1979 to find the issue and mark this as duplicate.

This would be a great first issue / community contribution.

[2020-08-14 18:48] alexec commented on #3784
This duplicates #3644

[2020-08-14 18:48] #3784 closed

[2020-08-14 18:58] hsezhiyan opened #3788 "ttlSecondsAfterFinished doesn't work in Argo release 2.3.0"
## Summary

I have a K8s cluster with Argo 2.3.0 installed, and looking into the 2.3.0 release, I found the example file `gc-ttl.yaml` file.
It specifies a `ttlSecondsAfterFinished` parameter. I created the workflow and expected the workflow to be created and garbage collected 10 seconds after completion. However, 10 seconds after the workflow finishes (successfully), it is still not properly garb

[2020-08-14 19:07] xinbinhuang commented on #3775
Here is the error
![image](https://user-images.githubusercontent.com/27927454/90284366-c0068e00-de26-11ea-88ca-360c0661d193.png)

[2020-08-14 19:10] alexec opened #3789 "Argo Workflows Training 101"
2 hours of virtual training including intended to cover the core competencies when working with Argo Workflows.

You should be familiar with basics of Kubernetes, such as creating pods.

* Fundamentals of creating workflows - Hello Argo!
* Anatomy of a workflow
* The service account.
* Artifacts
* Exit Handlers
* Workflow Templates
* Cron Workflows
* Hands-on exercises

To sign-up please give a th

[2020-08-14 19:15] alexec opened #3790 "Argo Workflows Training 201: Automation - 10th Feb 2021"
2 hours of advance hands-on training in integrating with and automating Argo Workflows.

You must be comfortable using bash and curl. We will not be covering basic terminal skills.

* The five different automation options
* Under the hood
* Kubernetes API automation
* Argo Server API automation
* Access tokens
* Hands-on exercises

To sign-up please complete this form: https://forms.gle/MoXgfjW6ti

[2020-08-14 19:46] #3168 closed

[2020-08-14 21:33] wshi5985 opened #3791 "argo cli report wrong workflow state"
## Summary

We have a workflow which includes 2 steps. the second step triggers 32 processes.
from web ui, argo cli and workflow-controller pod logs, They all showed this workflow  failed with pod in different status. (fail with quota error, pending for pod coming up, etc.)

But we watched for the underlying pods in k8s while the workflow triggered,  all pods started up, ran fine, and completed su

[2020-08-14 21:42] alexec commented on #3791
This error is normal. If there is not enough resources, we will try and scheduled the pod again after 10 seconds.

Your workflow failed because one of the pods failed. The logs do not show why I'm afraid:

[code]

You'll need to look at the logs for that specific pod.

[2020-08-14 21:46] wshi5985 commented on #3791
The problem was when we checked that pod in k8s with `kubectl get pod <pod_name>` , that pod run normally, and finished successfuly.

[2020-08-14 21:53] wshi5985 commented on #3791
and the 33 pods log looked right, jobs were done as expected. result is good.
The only problem was argo cli , web ui and workflow-controller log was not right, reported wrong state, and misleading.

[2020-08-14 22:00] sarabala1979 commented on #3791
This step failed during the pod creation. Can you check you have `blue-whale-last12hrs-6j2lz-85fdr-2683438575` pod on your namespace?
[code]

[2020-08-14 22:07] wshi5985 commented on #3791
yes, we were watching while the workflow run, that pod came up,  run all the tasks, and finished successfully. not sure why aws cli report it is forbidden.
and we also checked quota while it was running, limit is "300", at that time used pd was "33", not as what reported:
" quota: pod-count, requested: pods=1, used: pods=300, limited: pods=300'"
nothing was stuck there, it just took longer to come

[2020-08-14 22:09] wshi5985 commented on #3791
Is there any default timeout for workflow state check from argo server to underlying pods ?

[2020-08-14 22:11] wshi5985 commented on #3791
This workflow run every a few hours, argo cli reported failure frequently. but if we check those pod k8s log history, They all finished fine.

[2020-08-14 22:18] alexec commented on #3791
Can you try two things, run this with debug logging enabled please?

[2020-08-14 22:35] alexec commented on #3791
I forgot to ask, is this a new issue for you? Are we able to trace it to a specific version?

[2020-08-14 22:37] alexec commented on #3791
[code]

[2020-08-14 22:47] alexec commented on #3791
I wonder if #3437 could have introduced this? It would have panicked before and now it would be marked as error instead.

[2020-08-14 22:54] alexec commented on #3791
My hypothesis is that that:

* The pod was create - initially it was not possible to schedule.
* Then it ran to completion.
* It was deleted - not sure who deleted it - but that can happen.
* We tried to create it again - creation errored - so we updated the node.

I'd like to get more diagnostics to back this up, for example:

* Do the "insignificant pod changes" message have anything to do with

[2020-08-14 22:56] wshi5985 commented on #3791
we cleaned up workflow/pod history for this workflow,  not able to trace down when it started. but it may coincide with Argo upgrade, we upgraded from 2.5.1 to 2.9.5 one week ago.

The log is misleading too, usually, at begning, the underlying pod was just pending, waiting for aws spot instance scaling up, Before instance came up, it would keep reporting some info like this, which is normal:
" 0/1

[2020-08-14 23:01] wshi5985 commented on #3791
I don't know what "insignificant pod changes" means either.
This workflow runs in our production env, to turn on debug logging, restart argo-server/workflow-controller pods,  We need to coordinate with other groups.
I will attach results here after we collect the debug logs. Thanks.

[2020-08-14 23:04] alexec commented on #3791
@wshi5985 v2.9 was a big release, if testing v2.8.2 is easier that gathering logs, that would also be useful.

[2020-08-14 23:06] wshi5985 commented on #3791
ok, will discuss with group, and let you know. Thanks for the quick response ! @alexec

[2020-08-14 23:20] alexec commented on #3791
No problem.

So start confirming or discounting hypothesis, I'd can you please check your logs prior to upgrade for `panic`.
Once you've gathered the diagnostics, you can turn it off, and then you can try and enable `ALL_POD_CHANGES_SIGNIFICANT`. I think it is unlikely this will fix your issue, but it is low risk.

[2020-08-14 23:21] sarabala1979 commented on #3791
can you add `resubmitPendingPods: true` on the template and try?  it should prevent current issue.
[code]

[2020-08-14 23:26] alexec commented on #3791
Won't this run the pod twice?

[2020-08-14 23:30] sarabala1979 commented on #3791
No

[2020-08-14 23:59] alexec opened #3793 "Increase `checkForbiddenErrorAndResubmitAllowed` requeue time"
# Summary

In #3407 we introduced a requeue:

[code]

This is 0s and therefore will hot loop. Maybe should be 10s?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-15 00:15] wshi5985 commented on #3791
I will try and let you know @sarabala1979 @alexec  Thanks!

[2020-08-15 09:21] crunchtime-ali commented on #3769
`homebrew-core` "bottles up" (builds binaries) via CI always from source and supplies them automatically for the current macOS and the two last ones. This will be super handy for the Argo project as we will also make sure it will build for Apple Silicone (right now `go` itself doesn't build). Therefore, you can't supply binaries yourself.

Let's fix the formula instead. I am calling `make dist/arg

[2020-08-15 09:49] crunchtime-ali commented on #3769
I checked why the git status is `dirty` and through checking I was able to determine that it considers the tree to be dirty because of `.brew_home` folder. Can you add `.brew_home` to `.gitignore` to fix that problem or should I create a PR? @alexec

[2020-08-15 18:38] iMoses commented on #3217
I'm getting the exact same error when trying to use minio as an atrifactory.
Any way to workaround it without changing code? On the cloud provider maybe.. I'm using AKS.

[2020-08-16 00:40] dcherman commented on #3516
Drive by idea (have not tried this):

Argo already has the possibility of sharding via `instanceID`, and I believe Argo can also be configured to use a separate kubeconfig or alternate credentials that could potentially point at an arbitrary cluster, not necessarily the one that you're in.

You could potentially do something like have N argo controllers with separate instance ids, each pointing to

[2020-08-16 15:39] alexec commented on #3769
Can I push to understand why we can’t use the same binary we attach to the releases page? Rather than rebuild, is there anyway we can build the correct binary as part of the Makefile?

[2020-08-17 02:27] dove-young commented on #3759
@sarabala1979  sorry for mis-leading.  I mean the namespace `stackstorm`.   I changed all `stackstorm` to `my-namespace` to desensitize information.  But obviously I missed the `stackstorm`in the log.

I did created workflow template in namespace `stackstorm` and I was refer to the template in workflow in the same namespace.

[2020-08-17 02:37] sarabala1979 commented on #3759
Is it working for you now?

[2020-08-17 03:08] dove-young commented on #3759
I retried it from scratch, the same error occurs.

- clean up Argo
[code]

- install argo

[code]

- Create template

[code]

- Submit workflow

[code]

[2020-08-17 03:09] dove-young commented on #3759
I tried from a new namespace, the same error occurs

[code]

[2020-08-17 03:17] dtaniwaki commented on #3692
I installed v2.9.5 from homebrew, but it still has this error.

[code]

[2020-08-17 03:38] sarabala1979 commented on #3759
can you check default service account has RBAC to get and list workflowtemplate kind?

[2020-08-17 03:54] sarabala1979 commented on #3759
Have you joined in Argo Slack? you can find me in sarabal1979(bala). we can chat over there

[2020-08-17 03:55] sarabala1979 commented on #3793
Yes, It should be 10s.

[2020-08-17 03:57] dove-young commented on #3759
@sarabala1979 I bound service acconut default to `cluster-admin`
[code]

[2020-08-17 04:50] sarabala1979 commented on #3759
Thanks for all details and your help. Found a bug in the master branch(latest). Recent Informer change is causing this issue. I will work on fix.

Please install the stable release and try `kubectl apply -n argo -f https://raw.githubusercontent.com/argoproj/argo/v2.9.5/manifests/install.yaml`

[2020-08-17 05:23] sarabala1979 commented on #3774
This is a different issue. #1975. User is asking to see the workflows which are triggered by cron-workflow.

[2020-08-17 06:50] crunchtime-ali commented on #3769
From https://docs.brew.sh/Acceptable-Formulae#we-dont-like-binary-formulae:

`homebrew-core`s CI process builds binaries for `catalina`, `mojave` and `high_sierra` automatically.

[code]

Yes, I checked why the git status is dirty and  was able to determine that it considers the tree to be dirty because of `.brew_home` folder which homebrew creates inside the project directory for some reason. Can

[2020-08-17 12:57] nvenkatapavan commented on #3760
@simster7 @alexec We tried ArgoCD to sync argo workflows templates. When we choose ArgoCD helm deploy, helm variables getting conflict argo workflow variables.

example:
"{{workflow.parameters.appName}}"

[2020-08-17 13:11] BIGBALLON opened #3796 "artifacts/parameters between workflows"
Hi, all:

There are two workflow templates ``ta`` and ``tb``,

[code]

and I want to use ``workflowTemplateRef`` to trigger them
(We are using Argo Workflow v 2.9.5).

But I want to use workflow ``ta``'s output(parameters or artifacts) in workflow ``tb``, which means I want send ``ta``'s output to ``tb``, Is there any way to do that?

Thanks a lot!!!

[2020-08-17 15:03] dnd opened #3797 "Sensitive parameters"
# Summary

Add the ability to flag parameters/arguments/variables whether input, or output as sensitive, and ensure that their values don't appear in the UI, CLI, or log output.

# Use Cases

Some operations take in values that are sensitive, or output sensitive values dynamically that would not make sense to be created as a Kubernetes secret. When providing access to the UI to development teams,

[2020-08-17 15:03] sarabala1979 commented on #3796
you can pass `parameters and artifacts` from one template to another template using `arguments`
Here the example.  Please refer `workflow-template-inner-steps`
https://github.com/argoproj/argo/blob/master/examples/workflow-template/templates.yaml

[2020-08-17 15:10] BIGBALLON commented on #3796
@sarabala1979 thanks for your reply,

I still have a question, for the following WorkflowTemplate ``ta``, how can I send the parameter ``hello-param`` to another template(e.g. ``tb``)

[code]

[2020-08-17 15:18] luozhaoyu commented on #3516
Seems like if I have N clusters and M namespaces, then I need N*M Argo controllers. For me it does not matter where I put these controllers, but if we have options to consolidate **NM** Argo controllers to **N** or **1** controller, that would be great to reduce operational/administrative overhead

[2020-08-17 15:36] dcherman commented on #3516
That depends on if you are using a cluster wide or namespaced install.  If it's cluster wide, you would only need N controllers, one for each cluster.  If it's namespaced, you're correct, it'd be N*M.

[2020-08-17 15:48] sarabala1979 commented on #3796
just you can refer `{{steps.<name>.output.parameters.<name>}}'
Here the examble
[code]

[2020-08-17 16:00] alexec commented on #3759
@sarabala1979 this fix in #3795 will be for v2.11. I think this bug is for v2.9?

[2020-08-17 16:04] alexec commented on #3692
This is a duplicate of #3769

[2020-08-17 16:08] alexec commented on #3769
We meet that requirement.

We meet that requirement. The binary we attach to the release page is built from source.

I think it would be acceptable to use the binary.

[2020-08-17 16:22] luozhaoyu commented on #3516
Cluster wide is great. But in practice, that adds some security concern that it can create pods in arbitrary namespace. Is there a way to limit the cluster wide installation to whitelisted namespaces?

[2020-08-17 16:26] alexec commented on #3217
@iMoses I have pushed `argoproj/workflow-controller:fix-3217` for testing.

[2020-08-17 16:27] #3756 closed

[2020-08-17 16:28] simster7 commented on #3780
Will find out and report back

[2020-08-17 16:31] dcherman commented on #3516
It looks like Argo only supports passing a single namespace when using the namespaced install path, but I wonder what would happen if you user the cluster-wide install type and omitted the `ClusterRoleBinding`.  In the individual namespaces that you want to manage, add an explicit RoleBinding that references the `ClusterRole` and gives permissions to the service account that Argo is running as in

[2020-08-17 16:41] #3793 closed

[2020-08-17 16:42] #3770 closed

[2020-08-17 17:31] BIGBALLON commented on #3796
@sarabala1979  thanks, I get the point why my workflow failed.
pass ``ta``'s parameters to ``tb`` need to create a new WorkflowTemplate ``tc``,
then follow your answer, it works

[2020-08-17 17:48] #3796 closed

[2020-08-17 17:55] simster7 opened #3798 "Collapsible nodes hidden if parent is hidden"
![image](https://user-images.githubusercontent.com/614838/90427959-233b2f00-e078-11ea-95c8-c9eff50748e5.png)

[2020-08-17 18:26] nfickas commented on #3755
Yeah the pod spec patch could be used but is there a good reason to why we shouldn't be able to do it as I described above?

[2020-08-17 18:38] alexec commented on #3788
`ttlSecondsAfterFinished` is not available in v2.3. Please upgrade.

[2020-08-17 18:43] #3759 closed

[2020-08-17 19:41] #3737 closed

[2020-08-17 21:49] alexec commented on #3578
It is also wrong for parallel steps.

[2020-08-17 21:57] alexec commented on #3578
https://github.com/kubernetes-sigs/controller-tools/issues/391

[2020-08-17 21:58] alexec commented on #3578
https://github.com/kubernetes-sigs/controller-tools/issues/301

[2020-08-17 22:00] #3773 closed

[2020-08-17 23:34] alexec commented on #2833
This test is flakey and now failing about 1/2 builds:

[code]

[2020-08-17 23:34] alexec commented on #2833
Note that I'm seeing `Failed` rather than `Error`.

[2020-08-17 23:35] alexec commented on #2833
[FunctionalSuite-TestStopBehavior.log](https://github.com/argoproj/argo/files/5087302/FunctionalSuite-TestStopBehavior.log)

[2020-08-18 00:36] gromgit commented on #3769
Homebrew's requirement is that formulae must be built from source _by the Homebrew CI_. This ensures that working builds can be reproduced for whatever reason, especially by users who don't want to trust any supplied binaries.

[2020-08-18 01:00] alexec commented on #3769
@gromgit can you please point me to the page that says that? Thank you.

[2020-08-18 01:26] gromgit commented on #3769
It's in the passage itself:

i.e. the formula build itself should start with the source code, not simply package prebuilt binaries.

[2020-08-18 02:09] alexec commented on #3769
@gromgit - thank you - I can see that that  - while what you say is not explicit - it is implied.

@crunchtime-ali I can see that we need to build one binaries for each type of OS-X. That makes a lot of sense to me. I don't really care where they're built, as long as they're reliable.

Can I ask you to create a PR to ignore the Brew files that make the build dirty? Our `Makefile` looks at the envi

[2020-08-18 09:52] crunchtime-ali commented on #3769
I created https://github.com/argoproj/argo/pull/3801. Maybe we should call the variable `SKIP_STATIC_FILES` instead of `STATIC_FILES` though because right now those `STATIC_FILES` are built when its value is `false` only. We could also flip all conditions in the `Makefile` to make it work with `STATIC_FILES`. What do you think @alexec

@gromgit Thanks for chiming in

[2020-08-18 10:42] iMoses commented on #3217
I'm still getting the same error with the patches image:
[code]
[code]

[2020-08-18 14:34] NikeNano commented on #3728
/assign

[2020-08-18 14:48] NikeNano opened #3803 "How to handle Argo as an dependency for Kubeflow pipelines."
# Summary

For Kubeflow pipelines Argo Workflows are used. During attempts to do validation of Argo Workflows in the backend of Kubeflow pipelines there are some issues with dependencies on com_github_colinmarc_hdfs that comes from having argo as a dependency.

For Kubeflow pipelines Bazel is used. To reproduce pull the branch from here: https://github.com/kubeflow/pipelines/pull/3965

Then execut

[2020-08-18 15:39] simster7 commented on #2833
Will take another look

[2020-08-18 15:53] simster7 commented on #3780
This is unrelated to #3740. Will work on a separate fix

[2020-08-18 16:17] mgoodness commented on #3551
I'm also having issues with ttlStrategy in v2.9.4. It seems like workflow GC just stops until I delete the workflow-controller pod. Then it will work for a while before failing again.

[2020-08-18 16:18] simster7 commented on #3780
Correction: I have confirmed this will be fixed by #3740

[2020-08-18 16:27] d-e-solutions opened #3807 "Cron Backfill example doesn't work"
## Summary

I was trying a functionality that is required for our use case: cron backfill. I took the examples from this page : https://argoproj.github.io/argo/cron-backfill/, but unfortunately it doesn't work.

Here is the complete file
[code]

When I try to submit the WorkflowTemplate, I get this error :
```spec.arguments.date.value is required```

When I try to submit the cron workflow, it thro

[2020-08-18 16:39] #1391 closed

[2020-08-18 16:54] discordianfish commented on #1293
I wouldn't want control structures, just string manipulation filters. It's easy to generate the templates from e.g jsonnet, but that doesn't help if you need to access the output of a step and want to do simple string manipulation on it.

For example, you have a step that gets a git revision and you want to take the first 8 chars of it. You now either need to use a custom image for that step or ru

[2020-08-18 17:26] alexec commented on #3217
thank you @iMoses - can you try with `resubmitPendingPods` please?

https://github.com/argoproj/argo/blob/master/docs/fields.md#fields-14

[2020-08-18 17:27] alexec commented on #3728
I've actually started on a PR for this: #3734

[2020-08-18 17:29] #3762 closed

[2020-08-18 18:27] sudarshntn commented on #3626
@alexec our OIDC provider supports the JWK-set+json following these standards - https://tools.ietf.org/html/rfc7517
Does Argo workflow also follow the same.

[2020-08-18 18:41] alexec commented on #3803
The validate library transitively imports this HDFS dependency:

[code]

[2020-08-18 18:43] alexec commented on #3803
That tag does not exist, try pinning to v1.13:

go get github.com/colinmarc/hdfs@v1.1.3

[2020-08-18 19:06] alexec commented on #3707
@sarabala1979 thinks he has a way to solve this without making code changes. He will comment shortly.

[2020-08-18 19:21] alexec commented on #3791
See #2385

[2020-08-18 19:58] alexec commented on #1913
We are considering making this default behaviour in v2.11. Thoughts?

[2020-08-18 20:05] fridex commented on #1913
I would say it's much better behavior in comparison to the current one. So +1 on my side for this usability improvement.

[2020-08-18 20:46] alexec opened #3811 "Investigate flakey test `TestCLIWithServerSuite/TestRetryOmit`"
[code]

[2020-08-18 20:47] alexec commented on #3811
See #3528 and #3552.

[2020-08-18 20:47] alexec commented on #3811
Duplicate of #3552.

[2020-08-18 20:47] #3811 closed

[2020-08-18 20:48] alexec commented on #3540
Re-opened as test appears to be flakey.

[2020-08-18 20:51] wshi5985 commented on #3791
We created a testing template in our Dev environment, and reproduced the problem with version v2.9.5.

By adding "resubmitPendingPods: true" in template, looks let it fixed issue for testing template, We will try this in our production environment too. Thanks.

[2020-08-18 20:55] alexec commented on #3791
Thank you. I've created a new image for testing if you would like to try it: `argoproj/workflow-controller:fix-3791` .

`resubmitPendingPods` is a work-around for your issue as it will repeat work.

[2020-08-18 20:56] alexec commented on #3217
I've created a new image for testing if you would like to try it: `argoproj/workflow-controller:fix-3791` .

[2020-08-18 20:56] alexec commented on #1913
Thank you. I've created a new image for testing if you would like to try it: `argoproj/workflow-controller:fix-3791` .

[2020-08-18 21:26] alexec commented on #3807
The patch fixes the issue on master:

[code]

But this used to work - so what changed?

@bnoeson can you tell me which version of Argo Workflows you are using?

[2020-08-18 21:27] alexec commented on #3807
@sarabala1979 I think this behaviour has changed and you have been working in this area. To get this working I had to add `entrypoint`:

[code]

[2020-08-18 21:30] wshi5985 commented on #3791
Thanks. Which version of this new image is based on? v2.9.5? @alexec

[2020-08-18 21:40] alexec commented on #3791
it is based on `master`

[2020-08-18 21:53] #3766 closed

[2020-08-18 22:29] wshi5985 commented on #3791
sorry, does this mean this is version v2.3.0 based ?

$ docker run argoproj/workflow-controller:fix-3791 version
workflow-controller: v2.3.0-rc3
  BuildDate: 2020-08-18T20:37:50Z
  GitCommit: 524bcd9a0d846f5d307ae1b0be3dd62d2e9713d2
  GitTreeState: clean
  GitTag: v2.3.0-rc3
  GoVersion: go1.13.4
  Compiler: gc
  Platform: linux/amd64

[2020-08-18 22:54] alexec commented on #3791
that a known bug in the version - check the Git revision

[2020-08-18 23:14] alexec commented on #2080
The related PR broken the build:

https://github.com/argoproj/argo/actions/runs/214249220

[code]

@dgiebert could you please take a look?

[2020-08-19 01:35] arnoldcui commented on #3781
The CLI version
[code]
It is happend after using `argo submit --from WorkflowTemplate/myTpl`

[2020-08-19 04:38] sarabala1979 commented on #3807
Yes, if you are using `workflowTemplateRef`, Entrypoint should be defined in workflowtemplate which you are referring to in 'workflowTemplateRef:'  or in workflow where you are defining `workflowTemplateRef:`.

[2020-08-19 05:31] bnoeson commented on #3807
I am using the version v2.9.3.

[2020-08-19 05:39] dgiebert commented on #2080
Seems the `--push` option only works locally and not in the CI, replaced it accordingly to documentation.

[2020-08-19 08:43] jamesgunnfiveai opened #3815 "2.10.0 Release Marked Dirty"
## Summary

After following the release note instructions for downloading the 2.10.0 client and adding to /usr/local/bin, when running `argo version`, the tree state is marked as dirty.

## Diagnostics

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-19 09:22] NikeNano commented on #3803
Thanks @alexec. When i pin to 1.13 I get the following issues when I run the test for the validation argo workflows in the Kubeflow backend.

[code]

[Link](https://github.com/kubeflow/pipelines/blob/6ec60a1fcfdff92f990b6855c9d66b86e62ee8f2/backend/src/common/util/template_util_test.go)  to test.

[2020-08-19 09:48] juliusvonkohout commented on #3767
You are amazing! i hope you do a release soon :-)

[2020-08-19 09:48] #3767 closed

[2020-08-19 12:07] simonfrey opened #3817 "WorkflowEventBinding not working"
If I try to apply the example workflow event binding:
[code]
I get following error:
[code]

---

In the [documentation is noted](https://argoproj.github.io/argo/events/) that events are available from version 2.11 on and dockerhub offers tags [up to 2.10](https://hub.docker.com/r/argoproj/workflow-controller/tags).

How can I pull and use events for my argo workflows as even github shows only rele

[2020-08-19 12:25] yoichiwo7 opened #3818 "Re-submitted workflows do not carry over ownerReferences"
## Summary

When you re-submit workflows with ownerReferences set, the re-submitted workflows do not carry over the ownerReferences.

When you manage Argo Workflow resources in your own CRD, you usually add the CRD resource into ownerReferences of the created Argo Workflow. This enable to cleanup Argo Workflow resources when the owner CRD resource is removed. However, because re-submitted workflow

[2020-08-19 12:30] #3817 closed

[2020-08-19 13:54] wshi5985 commented on #3791
Tried testing image argoproj/workflow-controller:fix-3791 in our dev environment with testing workflow(without resubmitPendingPods),  It works fine.
Will you commit this fix in v2.9.x ? Thanks.

[2020-08-19 14:42] nvenkatapavan commented on #3760
Found one alternative to fix above issue. Using below example we are able to deploy workflows using ArgoCD. Now Helm is not throwing any error.

{{ printf "{{workflow.parameters.appName}}" }}

[2020-08-19 16:09] #3780 closed

[2020-08-19 16:44] alexec commented on #3815
Will be fixe in v2.10.1.

[2020-08-19 16:44] #3815 closed

[2020-08-19 16:46] alexec opened #3819 "Remove GitTreeState from version"
# Summary

This causes confusion, is expensive to fix, and does not identify issues in the build process.

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-19 16:54] alexec commented on #3791
Great news.

Unlikely as it is risky. I would expect to have this in v2.11.

In the meantime, I suggest you use `resubmitPendingPods` to workaround the issue.

[2020-08-19 17:43] alexec commented on #3525
I think the community meeting gave a couple of key use cases

* Anonymous read-only access.
* Authenticated read-only access.
* Authenticated access by mapping OIDC groups to service accounts.

[2020-08-19 17:48] alexec commented on #3525
RBAC configuration proposal:

[code]

[2020-08-19 17:50] sbose78 opened #3821 "What's your favorite CI use-case around Worflows ?"
Greetings Argo Worklows community 👋 !

This could be an existing use case or something you wish was present.

Proposed response template ( not exhaustive ):
* Describe the use case/scenario ( could be an essay, that's fine! :) )
* Has the use case been addressed in other traditional CI systems ?
* Is the use case being addressed in other kubernetes-native CI projects ?

Starting this thread so the

[2020-08-19 18:00] alexec commented on #2080
Builds still failing on master: https://github.com/argoproj/argo/runs/1004007674?check_suite_focus=true

[2020-08-19 18:00] alexec commented on #2080
@dgiebert please can you take a look?

[2020-08-19 18:08] simster7 opened #3823 "Fix TestStopBehavior and TestRetryOmit"

[2020-08-19 18:29] simster7 commented on #3540
Closing in favor of #3823

[2020-08-19 18:29] #3540 closed

[2020-08-19 18:29] simster7 commented on #2833
Closing in favor of #3823

[2020-08-19 18:29] #2833 closed

[2020-08-19 18:35] #3819 closed

[2020-08-19 18:44] rbreeze commented on #3703
fixed in #3741

[2020-08-19 18:44] #3703 closed

[2020-08-19 19:05] wshi5985 commented on #3791
Got it. again, Thanks for the quick response and big help!

[2020-08-19 19:19] dgiebert commented on #2080
Sure will take another look, but this time it was according to documentation !

[2020-08-19 19:47] adnankobir commented on #3821
Most CI tools today are not kubernetes native and therefore do not take advantage of many out-of-the-box features; for instance, one use-case would be to run CI steps with different permissions. Argo workflows today allows you to run steps with different serviceAccounts which can be tied to RBAC as well as IAM permissions via [IRSA](https://aws.amazon.com/blogs/opensource/introducing-fine-grained-

[2020-08-19 20:30] dcherman commented on #3821
Adding on to what @adnankobir said (which I 100% agree with), I see enough similarities between Tekton and Argo that I would question whether or not it makes sense to install (and learn how to maintain/upgrade) both systems.  Since CI is a specific subset of workflow orchestration, it seems like we could potentially solve this with Argo and reduce the number of projects that need to be understood/

[2020-08-19 20:40] KPostOffice commented on #3645
I still seem to be having issues. Does the executor that I'm using make any difference?

[2020-08-19 20:42] #3807 closed

[2020-08-19 20:48] alexec commented on #3645
I've created a new image for testing if you would like to try it: argoproj/workflow-controller:fix-3791 .

[2020-08-20 02:29] arnoldcui opened #3824 "Wrong install url at web page"
## Summary

Wrong install url at web page

![image](https://user-images.githubusercontent.com/40977489/90709964-f5502780-e2cf-11ea-8646-2f0629d794c6.png)

https://argoproj.github.io/argo/quick-start/

[2020-08-20 04:07] #3818 closed

[2020-08-20 06:02] forestm opened #3827 "wrong link in ide-setup"
In https://raw.githubusercontent.com/argoproj/argo/master/docs/ide-setup.md

[code]

the 1st and 4th link are the same.

I think the 4th should be
[code]

[2020-08-20 06:51] sh-tatsuno opened #3829 "Getting the parent status about Dag or Step"
# Summary

I want to get the parent's status in onExit function except Job Level Callback.

# Use Cases

I want to use onExit function for using callback function based on the final task status.

for example:

[code]

[2020-08-20 07:03] NikeNano commented on #3803
Get the same error as https://github.com/argoproj/argo/issues/1983 if i pin to v1.1.3 issues discuss but don't get it to work with their solution either.

[2020-08-20 07:09] elocke commented on #3755
agreed, it would be great if my events could tell the workflow how much resources it will need

[2020-08-20 10:14] leileiwan commented on #3707
@sarabala1979 Could show your suggestions？

[2020-08-20 12:54] KPostOffice commented on #3645
:+1:

[2020-08-20 12:54] #3645 closed

[2020-08-20 13:59] AntoineDao commented on #3444
I am proposing a PR to resolve this at the `executor` level as it has `root` privilege when using the `docker` executor. This means that both when the executor is root or when it is non-root (ie: PNS executor) it should perform as expected for `main` containers that do not have `root` access.

[2020-08-20 14:45] prateekkhera opened #3833 "successfulJobsHistoryLimit, failedJobsHistoryLimit with cron workflow is not working"
## Summary

The successfulJobsHistoryLimit, failedJobsHistoryLimit with cron workflow is not working for us. I tested with simple cron workflows and works fine. But, in our cron, we are calling workflow templates using templateRef which in turn calls for another workflow template using templateRef that has the container definition. Could this nesting be causing the issue? Here's the snippet for cr

[2020-08-20 16:57] alexec commented on #3578
Wrong issue linked.

[2020-08-20 16:58] #3827 closed

[2020-08-20 17:01] alexec commented on #3755
It is technically very hard to fix because the `corev1.Container` must match a resource limit regexp.

[2020-08-20 17:52] alexec opened #3835 "Publish roadmap"
# Summary

We don't currently publish a formal roadmap for features. We should consider doing this.

[2020-08-20 18:36] alexec commented on #3824
Should be fixed now.

[2020-08-20 18:36] #3824 closed

[2020-08-20 19:08] alexec commented on #3751
https://kubernetes.io/docs/concepts/services-networking/network-policies/

Is this supported? By K3S? EKS?

[2020-08-20 19:31] alexec commented on #3525
We have a number of question on this feature and have put them into a proposal:

https://docs.google.com/document/d/1OTVPpWCKM_oO4Z2_pMN1LTyTjWbPv4G9SDmTIpGnIQo/edit?usp=sharing

[2020-08-20 19:31] alexec commented on #3525
Please comment.

[2020-08-20 20:19] simster7 commented on #3833
Not likely. If it works for one CronWorkflow, it should work for the rest. Can you dig through your `workflow-controller` logs and see if you find something relevant for this? Searching for this string will help: `Enforcing history limit for '<CWF_NAME>'`

[2020-08-20 21:34] lucassha opened #3836 "Duration docs inconsistency"
## Summary

Just a quick doc fix. Happy to just open a PR for a fix if no issues.

Duration should always be wrapped in a string. One example [here](https://github.com/argoproj/argo/blob/master/examples/README.md#suspending) does not wrap the number in strings. This led to some issues with us trying to implement it in argo-events. Error message below did not lead us to initially realizing it shoul

[2020-08-20 23:06] alexec commented on #3836
Would you like to raise a PR?

[2020-08-20 23:26] alexec opened #3837 "More robust node status offloading"
# Summary

We do not make any attempt to retry errors in offloading (aka hydration). We should put a retry block around this.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-20 23:38] alexec opened #3838 "memoization: `Cannot read property 'key' of undefined` error"
## Summary

[code]

This line
[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-20 23:38] alexec commented on #3838
@rbreeze I think maybe you could fix this please?

[2020-08-21 00:42] rbreeze commented on #3838
will do!

[2020-08-21 00:52] rbreeze commented on #3838
#3839

[2020-08-21 01:54] arnoldcui commented on #3824
![image](https://user-images.githubusercontent.com/40977489/90843149-918f3280-e393-11ea-860f-eff060eac32b.png)
![image](https://user-images.githubusercontent.com/40977489/90843382-111d0180-e394-11ea-9cc1-b6b865e14179.png)
![image](https://user-images.githubusercontent.com/40977489/90843421-285bef00-e394-11ea-8147-f37893a114ab.png)

Still not fixed.
And didn't find any change about `quick-start-pos

[2020-08-21 02:52] sarabala1979 commented on #3707
@leileiwan  Sorry for the delay, you can use `podspecpatch` to pass the parameter to pod spec

[code]

[2020-08-21 03:31] leileiwan commented on #3707
@sarabala1979 thanks for your interesting answer.
I think podSpecPatch is not enough to implement general Inheritance function. your case assumes that all single step using the container has the same number of toleration, but in fact not.
for example:
steps:
-- hello1:
   - Tolerations1
-- hello2:
   - Tolerations1
   - Tolerations2
-- hello3:
   - Tolerations1
   - Tolerations2
  - Tolerations2

[2020-08-21 03:57] fabio-rigato commented on #3665
Hey guys (@alexec @simster7),
I'm facing the same issue in v2.9.5
I already shared to @simster7 on slack the yaml and screenshots.
All the best.

[2020-08-21 04:00] fabio-rigato commented on #3665
How can I reopen this issue ?

[2020-08-21 04:34] sh-tatsuno opened #3840 "Refer to parameters of parents nodes from onExit nodes in Dag or Steps"
# Summary

Parameters & status can be used in onExit nodes in Dag or Steps like workflow level onExit.

# Use Cases

Use when run callback functions run based on the status of it's parent's node

Like below

[code]

This is my implementation example (not completed)

https://github.com/sh-tatsuno/argo/commit/5dade0af8b4e56e5c8dbf7b5f8896ebd0fb17e37

---

**Message from the maintainers**:

Impacted

[2020-08-21 05:11] alexec commented on #3838
thank you

[2020-08-21 05:11] #3838 closed

[2020-08-21 08:42] pacospace opened #3841 "Issue in visualizing yaml in MD in metrics docs"
## Summary

Error in argo metrics docs to visualize correctly the yaml: https://argoproj.github.io/argo/metrics/

Missing  `...` after line 122 in https://github.com/argoproj/argo/blob/master/docs/metrics.md

[2020-08-21 12:13] kristofarkas opened #3842 "Display "next schedule time" for CronWorkflows"
# Summary

Add a field in the UI of CronWorkflows that shows when the next workflow is scheduled to start (based on the crontab). Either in the form of: _at 2020 09 10 11:00PM_ or _in 10 seconds_.

# Use Cases

When looking at CronWorkflows it would be nice to know when the next one is to be scheduled to run.

 Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-21 16:16] #3840 closed

[2020-08-21 16:57] ozooxo opened #3843 "WorkflowTemplate cannot work together with DAG?"
# Summary

From doc https://argoproj.github.io/argo/examples/#dag using DAG I need `templates:` with some traditional template and a DAG template which refers to the previous templates. From doc https://argoproj.github.io/argo/workflow-templates/ we `workflowTemplateRef` and do not still have `templates:`. There seems no way for me to setup a DAG which refers to a workflow template?

I tried some

[2020-08-21 18:04] westonplatter opened #3845 "Possible to reference artifact repo by name?"
# Summary

Is it possible to reference artifact configurations by name?

# Motivation

For the argo deployment we have, we'd like to use multiple artifact repositories since some are faster than others (eg, storing 2-3mb files on Google Cloud Storage vs a NAS). Ideally, I'd like to not have to pass around all connection / credentials each time I read/write to/from a repo.

Does argo have something

[2020-08-21 21:25] #3842 closed

[2020-08-23 17:16] alexec commented on #1780
I don't think any information is needed? The label was removed not added.

I think the solution executed in #3610 could work here too.

Would anyone be interested in submitting a PR?

[2020-08-23 17:41] #1633 closed

[2020-08-23 19:59] #3843 closed

[2020-08-24 08:12] YourTechBud commented on #1913
Hey whats the current status on this? Has this feature been released? I can see the flag in the API reference but the default behaviour isn't documented.

[2020-08-24 09:43] NikeNano commented on #3803
Do you know more about the issue @alexec, thanks for your help!

[2020-08-24 13:30] wshi5985 commented on #3791
Tried the new testing image argoproj/workflow-controller:fix-3791 in our dev environment with testing workflow(without resubmitPendingPods), It works fine too. Thanks.

[2020-08-24 14:31] b2cbre commented on #3821
Our team is struggling to determine how one may use Argo Workflows for CI type work, like running tests on a specific commit whenever a PR is opened in GitHub. So this GH Issue is very interesting to us.

[2020-08-24 15:23] adnankobir commented on #3821
@alexec the reasons vary for people's use-cases, personally my primary reason to choose Argo Workflows is native support for kubernetes: other solutions will usually do things like docker-in-docker to launch workflow steps (which would require privileged access), incorporate execution steps into a single binary (suffers from scaling), lack proper AuthZ/no support for RBAC and in a lot of cases imp

[2020-08-24 15:37] simster7 commented on #3665
Talked with @fabio-rigato and identified this as a separate issue. Asked him to open a different issue to track this

[2020-08-24 15:37] #3665 closed

[2020-08-24 15:41] #3250 closed

[2020-08-24 16:35] alexec commented on #3803
hi @NikeNano I'm afraid I don't know how to fix this issue. The is Go modules issue rather than an Argo issue. You'll know if you've tried to import the Kubernetes dependencies Go modules is not the seamless experience of Maven.

[2020-08-24 17:05] alexec commented on #2080
Multi-arch images not building on `master`: https://github.com/argoproj/argo/runs/1022694683?check_suite_focus=true

[2020-08-24 17:05] alexec commented on #2080
@dgiebert would you be willing to investigate please?

[2020-08-24 17:09] dgiebert commented on #2080
Judging from the error and documentation I need to add to the existing manifest, will try and create a PR for it !

[2020-08-24 17:10] alexec commented on #3525
Bump! Please comment on the proposal! https://docs.google.com/document/d/1OTVPpWCKM_oO4Z2_pMN1LTyTjWbPv4G9SDmTIpGnIQo/edit?usp=sharing

[2020-08-24 17:21] dgiebert commented on #2080
@alexec As buildx creates a manifest it seems that I can only amend to it: https://docs.docker.com/engine/reference/commandline/manifest/

Like so: `docker manifest create argoproj/argoexec:latest-linux -a argoproj/argoexec:latest-windows`
Guess I will tag the images for linux with latest and latest-linux and add argoexec to the manifest.

[2020-08-24 17:55] alexec opened #3855 "Clarify `TestMetaDataNamespace`"
I'm not sure what this is meant to be testing? @sarabala1979 does this log look right to you? I'd like to update this test to be more specific.

[code]

[2020-08-24 18:39] alexec commented on #3845
That is correct, there is not current way to configure it is a single place.

[2020-08-24 18:55] ozooxo opened #3856 "Workflow restriction that each step in DAG needs to be an existing WorkflowTemplate"
# Summary

ArgoCD currently supports [`templateReferencing: Secure`](https://argoproj.github.io/argo/workflow-requirements/#available-restrictions) which will ensure user can only submit Workflow which uses an existing WorkflowTemplate (and need to use workflowTemplateRef, rather than the [deprecated templateRef](https://argoproj.github.io/argo/workflow-templates/#referencing-other-workflowtemplat

[2020-08-24 19:26] westonplatter commented on #3845
@alexec thanks. Closing this question.

[2020-08-24 19:26] #3845 closed

[2020-08-24 19:59] alexec commented on #3845
No problem. Maybe you want to open an enhancement proposal?

[2020-08-24 20:01] westonplatter commented on #3845
@alexec I would be interested in using the enhancement, but I don't intend to implement the feature in argo. Is it still helpful to get feature requests without the help to implement them? (I don't like the idea of asking for it and not being involved in the process).

[2020-08-24 20:07] alexec commented on #3845
Enhancement proposals are useful as we can see how popular they are and maybe some implements them.

[2020-08-24 23:31] torstenwalter commented on #3821
https://github.com/jenkins-x/lighthouse is built to trigger Tekton pipelines if I understand it correctly.

Maybe it could be enhanced to also support Argo workflows or at least provide building blocks for it.

[2020-08-24 23:57] alexec commented on #3525
Note to self - investigate Kubeflow multi-tentancy:

https://www.kubeflow.org/docs/components/multi-tenancy/

[2020-08-25 00:50] alexec commented on #3835
https://github.com/argoproj/argo-events/blob/master/ROADMAP.md
https://github.com/argoproj/argo-cd/blob/master/docs/roadmap.md

[2020-08-25 01:10] alexec commented on #3835
https://docs.google.com/document/d/1rL1uVWwp6NMofk4hOeNGZekQwrLubPBif9DXe618NCE/edit?usp=sharing

[2020-08-25 03:30] shadiramadan commented on #1282
https://medium.com/@marko.luksa/delaying-application-start-until-sidecar-is-ready-2ec2d21a7b74

[2020-08-25 04:12] shadiramadan commented on #1282
The startup problem should be resolved in Istio 1.7.0 as a workaround:
https://istio.io/latest/news/releases/1.7.x/announcing-1.7/#production-operability-improvements
https://github.com/istio/istio/pull/24737

If you are using the `IstioOperator`:
[code]

[2020-08-25 04:14] #3788 closed

[2020-08-25 04:17] fabio-rigato opened #3857 "stuck with deleted pods"
Hi guys,
Argo version 2.9.5
As I shared already the Argo get YAML file to @simster7 privately I'm facing a similar issue as #3665
In particular, this is a screenshot of Argo UI:

<img width="1270" alt="Screen Shot 2020-08-25 at 2 13 11 pm" src="https://user-images.githubusercontent.com/9264663/91122259-30da5f80-e6dd-11ea-826c-d1694c770ed6.png">

I am also unable to find the following error in my l

[2020-08-25 04:31] fabio-rigato commented on #3665
Thanks @simster7,
I created a new issue (#3857)
Cheers,
Fabio

[2020-08-25 07:12] NikeNano commented on #3803
Thanks for the help :)

I am starting to learn that now .... :(

[2020-08-25 11:27] hyorigo opened #3858 "Log on Web UI is broken with client auth mode"
## Summary

What happened/what you expected to happen?

See the log.

## Diagnostics

What version of Argo Workflows are you running?

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

![image](https://user-images.githubusercontent.com/67533928/91168510-5597fc80-e708-11ea-848b-6e41b688303d.png)

[2020-08-25 15:08] alexec commented on #3858
Are you using any kind of ingress or reverse proxy such as Nginx?

[2020-08-25 15:29] sarabala1979 commented on #3855
@alexec This test is mainly testing for a resource with namespace passed from difference way.
1. Resource YAML has namespace  field
2. CLI argument -n
3. Context default
Current RunCLI sets argo as a namespace in the command line.  We can enhance `RunCLI` function to take namespace as an argument so the log will print correctly

[code]

[2020-08-25 16:47] rbreeze opened #3859 "TLS docs link to Readiness Probe example is outdated"
[https://argoproj.github.io/argo/tls/](https://argoproj.github.io/argo/tls/)

In the `Encrypted` section of the docs, there is a link to an [example](https://github.com/argoproj/argo/blob/master/test/e2e/manifests/mixins/argo-server-deployment.yaml) for converting the Argo Server readiness probe to HTTPS. This example was updated to remove the relevant section in [#2839](https://github.com/argopro

[2020-08-25 17:17] alexec commented on #3855
Is "permission denied error" the expected response?

[2020-08-25 17:41] #3855 closed

[2020-08-25 18:39] alexec commented on #3856
Thank you for your proposal. Would you be interested in submitting a PR, or we can see how popular this is and prioritise based on that.

[2020-08-25 18:40] alexec commented on #3857
Simon is out on vacation this week. Are you able to get us up to speed by providing more information please?

[2020-08-25 18:44] #2080 closed

[2020-08-25 18:47] shadiramadan opened #3861 "Add app and version labels to deployments in kubernetes manifests"
# Summary

What change needs making?
Add a version label to deployments in kubernetes manifests.

# Use Cases

When would you use this?
Istio recommends adding app and version labels to deployments: https://istio.io/latest/docs/ops/deployment/requirements/

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-25 19:37] #3561 closed

[2020-08-25 20:16] alexec commented on #3861
would you like to submit a PR?

[2020-08-25 20:37] sarabala1979 commented on #3707
@leileiwan above example is passing difference toleration for each step. instead of passing each field as a parameter, we can pass a JSON string to the template

[2020-08-25 22:39] alexec opened #3865 "Flaky `TestNextRuntime` (or bug maybe?)"
## Summary

[code]

https://pipelines.actions.githubusercontent.com/vd7jRhY4ysS4NVzjvIRHUw2RqnNAXC6LZNWbqcwlP0XamsFENa/_apis/pipelines/1/runs/2157/signedlogcontent/7?urlExpires=2020-08-25T22%3A39%3A28.7734799Z&urlSigningMethod=HMACV1&urlSignature=4zbKF%2Bk9guNnau9qYb%2Bo2nHHgdnqsZV7qDx%2BmeB%2BzhY%3D

## Diagnostics

What version of Argo Workflows are you running?

[code]

[code]

---

**Message f

[2020-08-26 00:07] shadiramadan commented on #3861
@alexec Sure- I'm assuming I need to edit the scripts used by `make manifests`

[2020-08-26 00:08] fabio-rigato commented on #3857
Hey @alexec,
I shared with you on slack the output YAML file of the Argo workflow and a screenshot of the terminal where you can see the issue.
Please let me know if you need more info.
Cheers,
Fabio

[2020-08-26 00:24] alexec commented on #3861
correct

[2020-08-26 00:46] alexec opened #3866 "argoproj/argoexec no matching manifest for linux/amd64 in the manifest list entries"
## Summary

Latest build should work just fine. Instead, this error:

[code]

Caused by #3854 ?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-26 00:46] alexec commented on #3866
@dgiebert could this be related?

[2020-08-26 01:07] alexec opened #3867 "Some UI pages do not recover from errors"
## Summary

When an error happens in the UI, we do not crash the whole UI, which is better. But it does appear we do not clear the error on some pages, and this hides the fact you still need to reload the page.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-26 01:27] alexec opened #3868 "Improve UI accessibility"
# Summary

For people with "deuteranopic", it can be hard to read the UI.

# Use Cases

When you have users who have vision or other accessibility needs.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-26 07:38] dgiebert commented on #3866
Yes fixing this right now, the manifests are still an experimental feature, will create a MR for it

If you are affected by this using the tag latest-linux should work for you

[2020-08-26 11:07] fridex commented on #1913
We've installed your build argoproj/workflow-controller:fix-3791 (sha256:2cc4166ce). I can confirm the workflow acts much more stable with respect to resources in comparison to `v2.9.5` (I haven't tested newer releases than that).

Is there anything to observe in logs (I didn't see any relevant messages)?

[2020-08-26 12:46] YourPsychiatrist opened #3872 "Custom metrics are not recorded for DAG tasks."
## Summary

**What happened?**
After slightly altering the [custom metrics example](https://github.com/argoproj/argo/blob/master/examples/custom-metrics.yaml) to use a DAG instead of steps, the custom metrics were no longer picked up by prometheus, specifically the `result_counter` metric. I used the following dag:

[code]

**What I expected to happen:**

The same behaviour as with a steps-based w

[2020-08-26 13:23] KevinThompsonYCRX opened #3873 "SSO Timeout Configuration"
In the new SSO implementation, it looks like the ID token never has the 'Expiry' field set, and defaults to having a 1 hour timeout. It would be more convenient if this was extended, and most convenient if it could be configured in the workflow controller configmap.

The cookie containing this token has a 10 hour timeout. It seems like it would make the most sense for this timeout to match the tok

[2020-08-26 15:06] ramanNarasimhan77 opened #3874 "Sharing files between Workflow and WorkflowTemplates using volumes"
# Summary

I am trying to define a volume in a `Workflow` and have the same volume accessible in a step that references a `WorkflowTemplate`

# Motivation

Consider I have a workflow with 3 steps.

[code]

`Step1` is very generic and I want to write a `WorkflowTemplate` for this functionality so that it can be used by multiple workflows

However I am not clear how `Workflow` and `WorkflowTemplates

[2020-08-26 16:22] sahil-sawhney opened #3875 "Pass S3 backed artifacts from one dag to another in one workflow."
# Summary

I have a workflow that has 1 main dag and then that dag calls templates which are dag in themselves. Now I am having trouble accessing an artifact generated by the main dag into the sub dag. Could you please tell me how should I correctly access the dag. When I try following workflow, it gives error:

The error message I get when workflow runs is as follows:

# Motivation

The use case

[2020-08-26 16:29] sarabala1979 commented on #3874
Here the example for passing files from template to workflow template

[code]

[code]

[2020-08-26 16:31] ramanNarasimhan77 commented on #3874
Thanks a lot @sarabala1979
This is super useful.

[2020-08-26 16:31] #3874 closed

[2020-08-26 16:33] alexec commented on #1913
Thank you. I wanted to verify it worked better.

[2020-08-26 16:35] alexec commented on #3866
I've temporarily built this locally:
[code]

Ignore the version and note the GitCommit.

[2020-08-26 16:39] sarabala1979 commented on #3875
you can use the global artifacts
https://github.com/argoproj/argo/blob/master/examples/global-outputs.yaml

[2020-08-26 16:42] alexec commented on #3873
The 10 hour limit is intended to be a working day. Would you like to raise a PR?

[2020-08-26 17:56] KevinThompsonYCRX commented on #3873
I haven't worked with golang before but I'll give it a try

[2020-08-26 18:23] alexec commented on #3789
https://docs.google.com/presentation/d/1ZEZuxznc-Bx3STjoyS5Vd-zrjvlNaSbgKBn0Qlaidl0/edit?usp=sharing

[2020-08-26 18:39] alexec commented on #3872
We think metrics only work for containers/scripts not for DAG/steps. @sarabala1979 will investigate.

[2020-08-26 18:48] #3791 closed

[2020-08-26 21:50] rbreeze commented on #3859
fixed in #3877

[2020-08-26 23:03] alexec commented on #3866
[code]

[2020-08-27 01:48] juchaosong opened #3879 "Pod's phase is failed, but the workflow node status is succeeded."
## Summary

What happened/what you expected to happen?
Pod's phase is failed, but the workflow node status is succeeded.

## Diagnostics

What version of Argo Workflows are you running?
v2.7.0

[code]

[code]

The pod's yaml
[code]

The workflow node status yaml
[code]

You can see the pod's phase is failed, but the workflow node status is succeeded.
According to https://github.com/argoproj/argo/b

[2020-08-27 02:53] sarabala1979 commented on #3875
@sahil-sawhney

[2020-08-27 03:20] hyorigo commented on #3858
No, ingress, I got the Web UI with NodePort in the `kubectl patch svc argo-server -n argo -p '{"spec": {"type": "LoadBalancer"}}'` way.

GUI problem, the console of chrome reported that it failed to retrieve logs.

[2020-08-27 04:20] sarabala1979 commented on #3879
@juchaosong can you try it on the latest build v2.9.5?

[2020-08-27 04:31] juchaosong commented on #3879
https://github.com/argoproj/argo/blob/v2.9.5/workflow/controller/operator.go#L1148-L1151

[2020-08-27 04:40] sarabala1979 commented on #3879
Can you provide the `workflowcontroller` log ? do you have any insight on why the POD is failed, I didn't see the message?

[2020-08-27 04:59] juchaosong commented on #3879
Argo controller logs
[code]
We use alibaba could eci pods which something like virtual-kubelet. The pod failed because there are not stock. I'm not sure whether alibaba cloud should change container state to terminated instead of waiting. Does kubernetes standardized when the pod failed, the container state must change to terminated?

[2020-08-27 05:41] YourPsychiatrist commented on #3872
Thanks for the quick reply.
The metrics are not emitted when the worflow is composed of DAG tasks but they are only emitted when the workflow uses the `steps` field. Quite odd behavior. So even if the metrics would only work on containers, they stop working once the surrounding structure is changed from steps to a DAG.

[2020-08-27 07:22] dgiebert commented on #3866
Seems a bit odd tbh, because it is exactly the same Dockerfile / configuration as linux/amd64 whhich passed right before it.

Also locally it worked, can you maybe retrigger the build. I can check again when I am at home ?

[2020-08-27 07:44] fridex commented on #1913
Thank you for this fix.

In what release of argo we can expect this feature to be present?

[2020-08-27 08:36] jorik commented on #3789
Hey! This sounds very interesting and I'd like join. Will this be a live training session, and if so, in what timezone will it be held?

[2020-08-27 11:09] janschauta opened #3880 "Some workflows not appearing in workflow archive."
## Summary

When workflow ends, it is stored to workflow archive table. However when this save action is not successful, for whatever reason (e.g. temporary db unavailability), it does not show the workflow in the archive at all. Is there any possibility workflow-controller or some related container/process would repair these?

## Diagnostics

Argo version 2.6.3

---

**Message from the maintainer

[2020-08-27 12:08] akshaybhatt14495 commented on #3394
@zhujiangyou  Can you tell me what was the RCA for this issue? We are facing it as well.

[2020-08-27 12:09] madhuresh04 commented on #3394
Facing the similar issue. Can you help us !

[2020-08-27 15:29] sarabala1979 commented on #3879
Yes, one of the containers should be in the terminated state for POD failure.
[code]
But did you see any of the node has removed on your cluster?
[code]
https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/

[2020-08-27 15:32] sarabala1979 commented on #3880
Fixes https://github.com/argoproj/argo/pull/3862

[2020-08-27 15:33] sarabala1979 commented on #3880
duplicate #3837

[2020-08-27 15:40] alexec commented on #3866
The error often occurs when Kubernetes is not installed. You can often reproduce it by running `export KUBECONFIG=/dev/null`. I think this error occurs because there is a call to `argoexec version` to check that it prints "clean" (not "dirty"). I think it would be acceptable to remove this check.

[2020-08-27 15:40] alexec commented on #1913
v2.11

[2020-08-27 15:43] alexec commented on #3789
It will be virtual. Likely be at 10am PST/5pm GMT next week.

[2020-08-27 15:44] alexec commented on #3880
This is a know issue (identified by FMEA testing) and should be fixed in v2.11

[2020-08-27 15:46] dgiebert commented on #3866
I can remove the check, but I still think it is a bit odd that it did not happen on the amd64 build.

Any other clues maybe ?

[2020-08-27 15:51] dcherman commented on #3789
Other than knowledge of creating Pods, what other pre-reqs would there be?  I'm going to try to do a crash course in Kubernetes basics for some people at my company that are interested in attending, so I'm thinking about what I should plan to cover

Things like:

* Creating and accessing a Kubernetes cluster.  Presumably, `kind` would be sufficient for this training?
* Basic knowledge of a few Kub

[2020-08-27 18:07] alexec commented on #3789
[Slides](https://drive.google.com/file/d/1xKFYG0VO4prqvCmLO2wSmnjoX4nZU7Y5/view?usp=sharing)

[2020-08-27 18:30] #3880 closed

[2020-08-27 18:55] alexec opened #3881 "Better malformed resource handling"
# Summary

Currently, if you load an malformed resource (e.g. using `kubectl apply`) we have the following behaviour:

* The controller will ignore them malformed resource, just logging the error.
* The UI and CLI will error if you try to list the namespace the resource is in, or if you try to get the resource.

It is hard for the user to understand that they created it invalid as it is not clearl

[2020-08-27 19:06] dcherman opened #3882 "UI - Log Viewer does not fallback to archived logs correctly"
## Summary

When viewing logs in either UI, I expected the log viewer to first see if there were logs in the cluster for the associated pod; if not, fall back to logs from the archive if present.

If I run a non-debug build (meaning the images currently pushed to DockerHub and/or images I built locally), it does not fall back to archived logs if a Pod is unavailable (i.e. it was deleted).

If I ru

[2020-08-27 19:15] dcherman commented on #3882
And apparently the fix for the bug was.....filing this bug.  I swear that it was broken earlier, but now it's working locally.

¯\_(ツ)_/¯

[2020-08-27 19:15] #3882 closed

[2020-08-27 19:16] #3751 closed

[2020-08-27 19:16] alexec commented on #2899
See #3751

[2020-08-27 20:44] #3578 closed

[2020-08-27 21:08] alexec commented on #3769
Still a problem with v2.10.0
[code]

[2020-08-27 21:08] alexec commented on #3769
@crunchtime-ali FYI - this is still incorrect.

[2020-08-27 21:12] alexec commented on #3769
`195c6d8310a70b07043b9df5c988d5a62dafe00d` is v2.10.0 👍

[2020-08-27 21:12] alexec commented on #3769
I thin this will be fixed for v2.11.0

[2020-08-28 01:00] foobarbecue opened #3884 "UI node graph creates zigzags when some nodes have retries but others don't"
## Summary

If a node is hidden, it should not affect where lines in the node graph go.

In the image below, you can see zigzag lines which are edges connected to nodes that are not being displayed.

![image](https://user-images.githubusercontent.com/854789/91509460-219b1380-e88f-11ea-880b-8726dc6dbc2e.png)

## Diagnostics

What version of Argo Workflows are you running?

2.10

**Message from the

[2020-08-28 01:04] foobarbecue commented on #3884
I see now that this has to do with retries, and it's a little complicated to see what the correct approach to drawing this is.

[2020-08-28 01:34] juchaosong commented on #3879
The node which hosts failed pod is not really node. It's created by virtual-kubelet. If the pod information is wrong, it may be a problem with the implementation of virtual-kubelet.

[2020-08-28 01:36] zhujiangyou commented on #3394
It may be due to the Argo version. Check whether the versions of Argo server and workflow controller are consistent。

[2020-08-28 04:11] arnoldcui opened #3885 "Does argo keep data after upgrade?"
Hi, I am looking for upgrade experience.
The argo we deployed is version 2.8, and we plan to upgrade to version 2.10.
But I found thers is no PVC set in the argo pod.
I am a little worried about whether the data(templates,cron workflow) will be lost after the upgrade.

[2020-08-28 04:41] sarabala1979 commented on #3885
It is safe to upgrade argo controller. Argo will keep all resources (workflow/cronworkflow/workflowtemplate) and configuration(configmap) in k8s etcd.

[2020-08-28 05:14] sarabala1979 commented on #3879
looks like virtual kubelet will not set  terminate if the container is not running
https://github.com/virtual-kubelet/virtual-kubelet/blob/7f2a02291530d2df14905702e6d51500dd57640a/node/sync.go#L195-L208

[2020-08-28 07:30] maryoush commented on #3522
Hi
We have the same issue.
We have somehow mitigated this problem by using retries on step level
but solution is not ideal.
This unexpected EOF causes step to failure not error so we had to use retry

[code]
Additionally this retry potentially can cause steps which fail from business reasons.
We would really see the fix in client calling argo rest api.

[2020-08-28 08:52] bartcode opened #3887 "Allow passing a variable amount of values for one input parameter into `args` and `command`."
# Summary

Support input parameters that are lists. Subsequently, allow them to be appended to the `args` or `command` values (see example in `Use Cases`).

# Use Cases
The example below shows what I'd like to use. Be aware how these values are added to the `args` list requires some discussion. I just wrote `|unpack` now, which is a bit of a Pythonic way to similarly add items to a list (`["--numb

[2020-08-28 16:41] alexec opened #3888 "Add Argo CD stye chat link"
# Summary

Argo CD has a chat link which directs users to chat:

![image](https://user-images.githubusercontent.com/1142830/91591916-906d8080-e912-11ea-9cd8-203789e24deb.png)

# Use Cases

To make it easier for users to get help.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-28 18:37] jdkhong opened #3893 "Workflow fails to terminate. Possible proxy issue? ("Failed to get pod")."
## Summary

I'm setting up a new GKE cluster with Argo v2.9.4 and ran into some issues when running a hello-world workflow test. I'm using the helm charts to build. I'm relatively new to Argo and Kubernetes, so I might be missing something. Also, I am under a corporate proxy. Please let me know if there's additional information that might be helpful in resolving this issue

**What happened:**

I g

[2020-08-28 18:46] alexec opened #3894 "UI jobs failing"
## Summary

What happened/what you expected to happen?

## Diagnostics

https://github.com/argoproj/argo/pull/3892/checks?check_run_id=1042847237

[code]
---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-28 18:48] alexec commented on #3866
https://github.com/argoproj/argo/actions?query=branch%3Amaster+workflow%3A%22Docker+Image+CI%22

As a short term fix, let's just remove it. Priority should be getting builds to work.

[2020-08-28 18:49] alexec commented on #3894
Seems intermittent.

https://github.com/argoproj/argo/actions?query=branch%3Amaster+workflow%3ACI

[2020-08-28 18:51] sarabala1979 commented on #3893
It looks like your environmental issue/ proxy configuration issue.  `Wait` container is not able to talk to K8s API server

[2020-08-28 19:42] #3254 closed

[2020-08-28 20:58] #3217 closed

[2020-08-28 22:40] #3867 closed

[2020-08-28 23:47] sarabala1979 commented on #3887
will it work for you?
[code]

[2020-08-29 09:36] Ark-kun opened #3896 "Help pods understand that they're being terminated"
There are two main reasons why pod is being terminated: Either the user has requested this or not.
FOr some scenarios it's important to distinguish between those two. For example, if the pod has started some long-running cloud job outside the cluster, the user probably wants that job terminated when they terminate Argo Workflow.

Kubernetes supports graceful termination by sending the signal to th

[2020-08-29 11:53] posquit0 opened #3898 "Improve Links feature"
# Summary

- #2443
- Support `${status.startedAt}` and `${status.finishedAt}` as substitutable variables in `links`.
  - Links just support `${metadata.name}`, `${metadata.namespace}` variables now.

# Use Cases

- For example, administrators can provide a link to Log Dashboard within the time window.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the iss

[2020-08-29 12:04] ddseapy opened #3899 "Caching of workflows and workflowtemplates"
# Summary

One of our java applications needs a cache of workflows and workflowtemplates to make various decisions, as requesting them regularly from the argo server causes bandwidth issues due to the number/size of our workflows.  For some things we could use the field selection to limit the amount of data coming back, but it's not ideal when wanting the full objects.  We would like to still use

[2020-08-30 04:43] varunbpatil commented on #795
Being able to make HTTP requests without launching a new pod for each request would be an awesome feature to have for orchestrating workflows in FaaS (ex: kubeless).

[2020-08-30 08:47] ddseapy commented on #3899
Looks like this can be fixed in the client gen project, so will put up a PR there.

[2020-08-30 08:47] #3899 closed

[2020-08-30 11:03] bartcode commented on #3887
Wouldn't say so, no. Because then `["1", "3", "6", "9"]` is still parsed as a single argument instead of multiple.

[2020-08-30 13:30] #3243 closed

[2020-08-30 17:49] fangpenlin commented on #3879
I think I encountered similar issue on GKE. The argo version I am using is 2.10.0. Last night I submitted a workflow which has 1024 pods in parallel for processing data and uploading to Google Cloud Storage (via gsutil command rather than artifacts output). This morning I noticed that the whole workflow is done, but yet there's one file missing. I looked into the log and realized the controller so

[2020-08-30 18:24] alexec opened #3902 "Negative Prometheus metrics"
## Summary

Negative values for metrics which should only every be positive.

![prom-bug](https://user-images.githubusercontent.com/1142830/91666652-5b4c6400-eab3-11ea-814c-472a6cd13d9d.png)

## Diagnostics

`inf-wb`

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-30 18:25] alexec opened #3903 "Workflow auto-completes to wrong URL"
## Summary

Using the autocomplete box on the workflow page sends you to the wrong. Has this ever worked? If not, lets remove it.

![autocomplete-bug](https://user-images.githubusercontent.com/1142830/91666677-82a33100-eab3-11ea-987c-09280261799c.png)

## Diagnostics

master

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-30 18:26] alexec opened #3904 "`Cannot read property 'children' of undefined` error in workflow DAG"
## Summary

![children-bug](https://user-images.githubusercontent.com/1142830/91666686-98b0f180-eab3-11ea-9b2e-c41e862d336c.png)

## Diagnostics

master

Git blame: #3669

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-08-30 18:55] alexec opened #3905 "DAGs may not abort on `ErrDeadlineExceeded`"
## Summary

When the deadline is exceeded, the DAG should abort and return. Instead, ""Deadline exceeded" is printed as many times as the number of items.

dag.go:

![image](https://user-images.githubusercontent.com/1142830/91667224-b7b18280-eab7-11ea-98e9-03912d4576d8.png)

## Diagnostics

master

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues

[2020-08-30 20:41] nirav24 commented on #3904
@alexcapras I'd like to work on it if possible. Would you be able to share the workflow you used? I am trying to re-create it on master `v2.10.0-rc1` but not able to reproduce it.

[2020-08-30 21:22] nirav24 commented on #3903
@alexec I think, the problem is, when selecting workflow, it doesn't care about where we are at that time and just append workflow URL (`ns/workflowId`) to the URL. It can be solved by using an absolute URL when redirecting.

[2020-08-31 01:17] yovizzle opened #3907 "Workflow controller OOMKilled with running `withParams:` 10k params"
## Summary

What happened/what you expected to happen?

I have a workflow that withParam loops over a list of input parameters. It successfully runs with 3k inputs and less, but when I tried it with ~6.6k, nothing seems to happen. The workflow is created, shown as running, and visible via `argo list` and on the argo-server UI, but `k top nodes` shows that no pods are actually being created. On the

[2020-08-31 01:34] arnoldcui commented on #3885
Thanks you so much.

[2020-08-31 01:34] #3885 closed

[2020-08-31 03:22] lueenavarro commented on #3522
a retry is not possible on our case. I think I was able to solve this by using kubelet executor instead of k8sapi executor. But I still have to test if that really solves the problem.

[2020-08-31 05:03] sarabala1979 commented on #3907
I didn't see the full workflow above. Can you provide the current stuck workflow yaml? you can get using `kubectl get wf <wfname> -o yaml`

[2020-08-31 05:19] yovizzle commented on #3907
Thanks for taking a look. This is the output of that command, I've left only one of the 6.6k links in the urls parameter value for brevity.

[code]

And here are the workflow controller logs:

[code]

[2020-08-31 05:22] yovizzle commented on #3907
And here is the workflow controller configmap. Postgres is there and nodeStatusOffload is true, if that's relevant.

[code]

[2020-08-31 05:52] juchaosong commented on #3879
Can you find the controller log like these?

[2020-08-31 07:04] dgiebert commented on #3866
I will try to fix the issue without removing the check, if this won't work I will remove it !

[2020-08-31 10:08] jackywu commented on #3715
@sarabala1979 , after review the upper.io/v3 and upper.io/v4, we know upper.io use [labix/mgo](https://pkg.go.dev/labix.org/v2/mgo?tab=doc) underneath which was deprecated. And now the official mongo driver (mongo-go-driver) is released <https://github.com/mongodb/mongo-go-driver>, so, will we use the official driver ? do you have any suggestion？

[2020-08-31 14:54] simster7 commented on #3902
This should have been fixed some versions ago. Do you have any steps to reproduce?

[2020-08-31 14:56] simster7 commented on #3884
Correct. I've actually thought about this before. It's not shown, but every vertex of the "zig zag" is actually a hidden node of type `Retry`, which is why the zig zag happens.

I'll see if I can find a clear solution to this

[2020-08-31 15:17] alexec commented on #3902
I'm not 100% sure this is a `master` issue, I'm doing some stress testing or my `inf-wb` branch and update.

[2020-08-31 15:19] #3866 closed

[2020-08-31 15:21] sarabala1979 commented on #3905
This deadline is a workflow processing deadline (10s). The workflow will be re-queued after 10s of process time.

[2020-08-31 15:22] alexec commented on #3898
Sounds like a good idea. This feature is UI only. Would you be interested in submitting a PR?

[2020-08-31 15:24] simster7 commented on #3829
`onExit` is more of a convenience feature at the DAG- and Step- level. In theory, you can always use the workaround without ever having to use `onExit`. I'd say use `onExit` if it works, but if you need more control (as in this case) use the workaround.

[2020-08-31 15:24] #3829 closed

[2020-08-31 15:24] alexec commented on #3904
I'm not sure how to repro this either, I see it sporadically. I'm actually on the `inf-wb` branch and running `many-massive-workflows.yaml`

[2020-08-31 15:26] alexec commented on #3905
Workflows with DAG will not honor deadline exceeded.

After investigating, I'm not sure this is fixable.

[2020-08-31 15:27] nirav24 commented on #3904
I will give it a try then. thanks

[2020-08-31 15:40] sarabala1979 commented on #3905
you right, In DAG flow, the code is ignoring the err
https://github.com/argoproj/argo/blob/712c77f5c46cdbb6f03ec2b020fbca9de08d6894/workflow/controller/dag.go#L435
But in step flow, err is handled
https://github.com/argoproj/argo/blob/712c77f5c46cdbb6f03ec2b020fbca9de08d6894/workflow/controller/steps.go#L233

I think we need to do the same thing in DAG

[2020-08-31 15:48] sarabala1979 commented on #3887
I would recommend adding one more step which will remove the `[]` from string and output `"1", "3", "6", "9"` or if your step is a script template, you can parse it before pass it.  In Argo, all parameters are string. If you want to iterate the JSON array, you can use `withParam`. This will pass each element from arrar to given template

[2020-08-31 16:30] sarabala1979 commented on #3907
Workflow Controller has a hard timeout (10s) limit for each workflow processing.  I think the below function is taking more than 10s for extracting param values.

workaround:
1. Split the parameters to multiple buckets (JSON array) and iterate with `WithParam` for that step.
[ [ 1000 urls],[1000urls]]

[2020-08-31 17:02] maganaluis commented on #3522
@lueenavarro I'm seeing a similar issue on Kubeflow, what cloud platform are you using?

[2020-08-31 17:53] alexec commented on #3907
Version v2.9.3 has a know issue where workflows can stop and not complete. This problem is always accompanied by "Re-applying updates on latest version and retrying update" warning in the logs (though the converse is not true).

Try upgrading to v2.9.5 where this issue is fixed?

[2020-08-31 18:41] #3903 closed

[2020-08-31 18:43] alexec commented on #3904
@nirav24 can you hold off please? @simster7 will look into this (he wrote the code).

[2020-08-31 18:46] nirav24 commented on #3904
definitely

[2020-08-31 19:08] alexec opened #3911 "Change default retry factor to 2"
# Summary

Currently we have this plan:

Retry | Seconds | Timestamp
-- | -- | --
1 | 0.01 | 2020-08-31 12:05:22
2 | 0.02 | 2020-08-31 12:05:22
3 | 0.03 | 2020-08-31 12:05:22
4 | 0.04 | 2020-08-31 12:05:22
5 | 0.05 | 2020-08-31 12:05:22

Change factor to 2:

Retry | Seconds | Timestamp
-- | -- | --
1 | 0.01 | 2020-08-31 12:05:22
2 | 0.03 | 2020-08-31 12:05:22
3 | 0.07 | 2020-08-31 12:05:22
4 | 0.1

[2020-08-31 19:26] sahil-sawhney commented on #3875
Thanks a lot @sarabala1979

[2020-08-31 19:26] #3875 closed

[2020-08-31 21:16] simster7 commented on #3896
If Argo terminates a Pod due to a user-defined action, such as using "Stop" or "Terminate", or setting a `workflowDeadline`, then Argo will do the following:

1. Argo will add an annotation to the affected Pod which value is of type `ExecutionControl`:

    https://github.com/argoproj/argo/blob/6e82bf382a0b41df46db2cc3a1a3925d009f42e1/workflow/common/common.go#L162-L170

    The annotation gets ad

[2020-08-31 21:41] sahil-sawhney opened #3912 "Pass artifacts from a dag in a workflow to a dag in a WorkflowTemplate"
# Summary

Is there a way by which we can pass artifacts from a task of a dag in a workflow to a task of a dag in a  WorkflowTemplate? Following is an example snippet for the same.

Here what should be the correct value of **{{something.my-artifact}}**?
# Motivation

It would make the passing of artifacts from one dag to another  (in a different workflow template) easy.

[2020-08-31 21:41] #3061 closed

[2020-08-31 22:03] alexec commented on #3912
try "inputs:" rather than "arguments:"?

[2020-08-31 22:12] #3300 closed

[2020-08-31 22:12] #1784 closed

[2020-09-01 04:51] foobarbecue commented on #3884
There's another related issue. At some point, the graph rendering changed so that nodes are pulled to the center instead of being placed vertically in line with their parent. This makes it much harder to follow the graph visually, and it doesn't actually save any space. Here's an example:

![image](https://user-images.githubusercontent.com/854789/91796011-02c0b800-ebd4-11ea-9d6c-669b298d3620.png)

[2020-09-01 05:24] hyorigo opened #3913 ""logs" feature of argo cli is broken with client auth mode"
## Summary

What happened/what you expected to happen?

Get the log via argo cli tool with client auth mode.

Btw, I'm using Argo server 2.10.0. And I tried to debug the CLI code, it seems that auth of gRPC stream client is the thing:

https://github.com/argoproj/argo/blob/master/cmd/argo/commands/logs.go#L111-L116

## Repro Steps

1. Enable client auth mode for server.

`kubectl edit deployment/a

[2020-09-01 08:32] yovizzle commented on #3907
Tried upgrading to 2.10, no change :(.

@sarabala1979
I just tried that approach ([ [],[],[] ], but I get this error:

`withParam value could not be parsed as a JSON list: {{steps.unnest-url-chunks.outputs.parameters.urls}}`

When I tried to echo that output, it seemed like valid JSON :/.

This is the workflow syntax I'm using.

[code]

The urls input parameter schema is:
[code]

[2020-09-01 09:54] sahil-sawhney commented on #3912
@alexec I don't think we can use inputs in DagTasks. Ref -> https://argoproj.github.io/argo/fields/#dagtask

[2020-09-01 10:43] crunchtime-ali commented on #3769
@alexec I will check it out once 2.11.0 is released.

[2020-09-01 10:46] Tanmay17 opened #3915 "unknown flag: --parameter-file in CronWorkflow"
## Summary
As per [doc]( https://argoproj.github.io/argo/cli/argo_cron_create/) we can provide env variables to a CronWorkflow using the flag `--parameter-file` or `-f`  but Argo CLI is giving error as `unknown flag: --parameter-file` , While running `argo cron create --parameter-file test_env.yaml test.yaml` or `argo cron create -f test_env.yaml test.yaml`.

## Diagnostics

What version of Argo W

[2020-09-01 13:19] nirav24 commented on #3915
can you give it try with `argo cron create cron-worfklow-file.yaml --parameter-file test.yaml`?

[2020-09-01 13:33] Tanmay17 commented on #3915
@nirav24 I tried but this is also giving me the same error.

[2020-09-01 14:02] nirav24 commented on #3915
I checked, I think, `argo cron create --help` doesn't print these options.

[code]

[2020-09-01 14:08] Tanmay17 commented on #3915
Yeah, @nirav24 but this is mentioned in [docs](https://argoproj.github.io/argo/cli/argo_cron_create/) . So, there is some discrepancy.

[2020-09-01 14:29] foobarbecue opened #3916 "Pod did not output any logs"
## Summary

UI always flashes "Pod did not output any logs." before showing logs.

This should actually say something like "Attempting to load logs." unless there is a way to determine definitively that there are actually no logs.

## Diagnostics

2.10.0

[2020-09-01 15:55] simster7 commented on #3915
This feature was recently merged (https://github.com/argoproj/argo/pull/3660), but it looks like it didn't make it on the 2.10 release. You can expect this in 2.11

[2020-09-01 15:59] Tanmay17 commented on #3915
Thanks for letting me know about the update in 2.11.
@simster7 can you suggest any alternative to do the same in previous versions.

[2020-09-01 16:02] sarabala1979 commented on #3912
@sahil-sawhney yes you can pass the artifacts from DAG to workflowtemplate
Workflow:
[code]

WorkflowTemplate:

[code]

[2020-09-01 16:11] simster7 commented on #3884
Hi @foobarbecue, we are aware of this issue (duplicate of https://github.com/argoproj/argo/issues/3595). The reason behind the change is that it is actually much faster to render DAGs this way (https://github.com/argoproj/argo/pull/2959) which becomes significant when rendering very large workflows.

I am looking into some sort of compromise between performance and UX so that ideally both concerns

[2020-09-01 16:21] alexec commented on #3913
Is it just the logs command, or any other commands?

[2020-09-01 16:25] alexec commented on #3916
Would you like to submit a PR to fix?

[2020-09-01 16:25] #3673 closed

[2020-09-01 16:27] alexec commented on #3884
I'm not sure these are fixable. From changing from Dagre (which does nice layouts) to Coffman-Graham Sorter (which is fast) we swapped attractive layout for fast rendering. I think the zig-zag layout is caused by the fact that the sorter lays things out in a table.

[2020-09-01 16:29] #3823 closed

[2020-09-01 16:36] #3879 closed

[2020-09-01 17:00] foobarbecue commented on #3916
Perhaps eventually, but I don't have time in the next couple of weeks. I also realize that there is actually a state where it shows "waiting for data" sometimes. So I'm guessing this might be somewhat subtle.

[2020-09-01 17:06] hyorigo commented on #3913
@alexec just the logs command, other commands like `list` works well.

[2020-09-01 17:09] alexec commented on #3913
Can you please attach the Argo Server logs? They should be the same as the CLI logs you attached (as it is the same code).

[2020-09-01 17:41] foobarbecue commented on #3884
I see, tricky for sure. Maybe in an ideal world you can choose between the two layout methods.

Anyway, we should confine this issue to discussing the elimination of the elbows in the lines for non-displayed nodes, as opposed to the other issue I mentioned which is indeed a duplicate of #3595 .

[2020-09-01 18:03] alexec commented on #3884
Yes! I've raised an issue with https://github.com/dagrejs/dagre/issues/305 to implement the faster sorter. Maybe we need to fork it.

[2020-09-01 18:09] alexec commented on #2899
This dovetails with the FMEA testing I've been doing recently.

Essentially I run a workflow that create other workflows. This workflow in parameterized as follows:

- X - how many workflows to create
- Y - how many pods each workflow then create

Initially scheduling the workflow you'll see "Deadline exceeded" - there is a bug in the DAG code (#3905) that needs fixing to address this.

Then you'l

[2020-09-01 18:16] alexec opened #3918 "Tolerate deleted resources"
# Summary

When a pod or node is deleted due to what ever reason, the workflow always error (see #3751). There is strong evidence that this is not what what users want by default.

Work-arounds:

- `rebumitPendingPods: true` a per-template setting (must therefore be set on all templates - no global default). This only works for deletion.
- `retry: {limit:1}` - again - per-template setting.

Option

[2020-09-01 18:30] alexec commented on #3525
I've created a developer build for your testing: `argoproj/argocli:rbac`

To test this, you need the following extra configuration:

* [workflow-controller-configmap.yaml](https://github.com/argoproj/argo/pull/3878/files#diff-60586b64af95a254f24a8eaae4c0df7f)
* [argo-server-sa.yaml](https://github.com/argoproj/argo/pull/3878/files#diff-7f31957bcc31a98a853e739544831502)

Please test and tell me if

[2020-09-01 18:58] alexec commented on #3907
I think there are two problems in the issue. Can you try v2.10.0 (or v2.9.5) and see if that resolves the problem where pods are not getting created please? The `withItems` is separate problem.

[2020-09-01 19:02] alexec commented on #3918
I might be wrong about this.

[2020-09-01 19:10] simster7 commented on #3915
I think the only way to achieve a similar effect now is to do you own scripting/pre-processing of your CronWorkflow before submitting it to Argo

[2020-09-01 19:10] #3915 closed

[2020-09-01 19:11] simster7 commented on #3915
Feel free to reopen if necessary

[2020-09-01 19:38] ebr commented on #3918
I was just about to open an issue about this. We're running into this bug with a `pod deleted` failure mode. I'm also interested in finding out *why* the pod is being deleted (this is not an infrastructure issue, AND the workflow node does complete successfully!)

Some possibly relevant K8s events:
[code]

The important events to highlight:
[code]

The `test-pipeline-kggd7-3136871819` pod however

[2020-09-01 19:49] #3911 closed

[2020-09-01 19:51] alexec commented on #3918
@sarabala1979 @jessesuen note the `CalculateExpectedPodCountFailed` error, also https://github.com/elastic/cloud-on-k8s/issues/1703#issuecomment-531744403.

@ebr can you please change the PDB from a percentage to a fixed amount (e.g. 999)

[2020-09-01 20:09] ebr commented on #3918
I had:
[code]

Changing it to
[code]

fixed the `CalculateExpectedPodCountFailed` warnings - so thanks (not sure if this was affecting anything else).

The `pod deleted` issue still persists though

[2020-09-01 20:42] erhhung commented on #3212
Sorry I wasn't monitoring the responses closely.

@simster7, I don't quite understand your explanation about `valueFrom` being only used to retrieve _output_ parameters, as if that's logically the only way it's supposed to work.

If I can inject _input_ environment variables (`container.env`) using `valueFrom.configMapKeyRef` or `valueFrom.secretKeyRef` (see [secrets.yaml](../blob/master/examples/

[2020-09-01 21:14] jessesuen opened #3920 "Document various options for error handling"
# Summary

Workflows has a lot of knobs about error handling such as retries, timeouts, ignoring errors, etc... There should be a comprehensive documentation explaining when to use which features. Off the top of my head:

* retryStrategy
* resubmitPendingPods
* activeDeadlineSeconds
* timeout (new feature)
* continueOn
* depends syntax

[2020-09-01 21:14] #3859 closed

[2020-09-01 21:32] alexec commented on #3913
Ok. I have a work-around for this, you must add the `--follow` flag:

[code]

But I'm not sure you should :(

[2020-09-01 21:35] alexec commented on #3913
Hmm. Can you please confirm if you are using `--follow` by accident?

[2020-09-01 21:37] simster7 opened #3922 "Perform "hard stop" when terminating"
## Summary

What happened/what you expected to happen?

## Diagnostics

What version of Argo Workflows are you running?

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-09-01 23:25] fabio-rigato commented on #3857
Hey @simster7 and @alexec,

I hope you are well.

I'm facing the same issue but this time stuck in ContainerCreating from 8 hours.
I shared with you guys on slack the YAML "live" file.

I can attach here a screenshot of the UI just for tracking:

<img width="1861" alt="Screen Shot 2020-09-02 at 9 19 02 am" src="https://user-images.githubusercontent.com/9264663/91915461-fafd3280-ecfd-11ea-8f1f-fb22

[2020-09-01 23:54] #3324 closed

[2020-09-01 23:54] #2902 closed

[2020-09-02 01:09] fabio-rigato commented on #3857
Hey guys just an update.
I found 4 more stuck Workflow, I shared the logs to @alexec and @simster7 on slack.
Cheers,
Fabio

[2020-09-02 02:11] yovizzle commented on #3907
Yup, I bumped it to 2.10.0 and the pods still aren't being created :/.

What might solve the `withItems` issue? (Should I have used `withItems` rather than `withParams`?)

[2020-09-02 04:07] hyorigo commented on #3913
In a nutshell, `--follow` didn't work.

Here's my operations on one of the nodes in my Kubernetes cluster:

![2020-09-02 12 03 23](https://user-images.githubusercontent.com/67533928/91930892-926d8000-ed14-11ea-8d7e-5c885f7ae2f0.png)

`list` and `logs` both works for no auth, and only `list` works for client auth mode.

Actually, my purpose is to create a Argo client in Go with auth, and retrieve l

[2020-09-02 04:12] foobarbecue opened #3923 "workflow list checkboxes cannot be unchecked"
## Summary

If you select a workflow in the argo UI workflow list, it cannot be unselected except by refreshing the page.

![ununcheckable](https://user-images.githubusercontent.com/854789/91931267-cb1b4400-ec97-11ea-86f6-f93aa8d0f034.gif)

## Diagnostics

What version of Argo Workflows are you running?

2.10.0

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioriti

[2020-09-02 07:47] Sharathmk99 commented on #2902
@alexec can you help to fix this?

[2020-09-02 12:23] fridex commented on #1913
@alexec After some time we spotted an issue. Workflows fail (interestingly, they do not get deleted based on the ttl strategy configuration) and stay in the cluster. I can see `pod deleted` as a message. This happens for a pod that requires a relatively large amount of resources and that are not available as other workflows use them.

Checking cluster events, there was nothing suspicious. Workflow

[2020-09-02 12:29] mcwienczek commented on #2902
having the same issue with postgres connections

[2020-09-02 12:56] adinhodovic opened #3925 "Realtime Prometheus metrics when status is Successful"
# Summary

What do you want to know about this project?

When I create a realtime metric that is only emitted when status is `successful`/`failure` it is automatically converted to `pending`. E.g
[code]

Gets converted into:
[code]

Argo v2.10.0, is this behaviour intentional?

# Motivation

Why do you need to know this, any examples or use cases you could include?

I'd like to track when the last

[2020-09-02 13:55] hanjunlee commented on #2637
@alexec I want to resolve this issue :). But It is caused by the format `%s`(lower case) which is also unsupported in [strftime](https://strftime.org/) not a failed container.

I tried to add the format `%s` which convert to unix time first but it was impossible. Because the function [strftime.Format](https://github.com/argoproj/pkg/blob/master/strftime/strftime.go#L32) which converts global varia

[2020-09-02 15:01] alexec commented on #2902
Would you like to submit a PR to fix?

[2020-09-02 15:02] mcwienczek commented on #2902
PS. postgres actually works but there was undocumented SSL flag needed. Here is my PR that fixes it. Unfortunately I dont know what's the status with MySQL.

https://github.com/argoproj/argo/pull/3924

[2020-09-02 15:03] alexec commented on #1913
Pods may be deleted manually, due to scaledown events in your cluster, or other reasons. When this happens, unless you have 'resubmitPendingPods', the nodes fails.

[2020-09-02 15:11] #3894 closed

[2020-09-02 15:21] alexec commented on #2080
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:21] alexec commented on #2308
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:21] alexec commented on #2667
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:22] alexec commented on #2677
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:22] alexec commented on #3061
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:22] alexec commented on #3080
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:22] alexec commented on #3543
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:22] alexec commented on #3567
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:22] alexec commented on #3576
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:22] alexec commented on #3621
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:22] alexec commented on #3673
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:22] alexec commented on #3720
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:22] alexec commented on #3735
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:22] alexec commented on #3786
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:22] alexec commented on #3837
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:22] alexec commented on #3881
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:22] alexec commented on #3911
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:23] alexec commented on #944
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:24] alexec commented on #3217
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:24] alexec commented on #3498
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:24] alexec commented on #3505
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:24] alexec commented on #3513
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:24] alexec commented on #3515
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:24] alexec commented on #3546
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:24] alexec commented on #3578
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:24] alexec commented on #3606
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:24] alexec commented on #3622
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:24] alexec commented on #3653
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:24] alexec commented on #3666
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:24] alexec commented on #3677
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:25] alexec commented on #3697
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:25] alexec commented on #3706
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:25] alexec commented on #3737
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:25] alexec commented on #3756
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:25] alexec commented on #3762
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:25] alexec commented on #3769
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:25] alexec commented on #3773
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:25] alexec commented on #3775
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:25] alexec commented on #3818
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:25] alexec commented on #3867
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:25] alexec commented on #3879
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 15:25] alexec commented on #3903
Available for testing in [v2.10.0-rc1](https://github.com/argoproj/argo/releases/tag/v2.11.0-rc1).

[2020-09-02 16:10] simster7 commented on #3925
Realtime metrics are emitted at the start of a task, so it's status will never be `Successful` at that point in the execution. It wouldn't make sense to use the `{{status}}` variable when setting `realtime: true`.

Also, it wouldn't make sense to use `value: '{{workflow.creationTimestamp}}'` as a realtime metric since the value of `{{workflow.creationTimestamp}}` is static and doesn't change. Curr

[2020-09-02 16:20] #3925 closed

[2020-09-02 16:22] alexec opened #3926 "Swagger UI does not allow you to send /api/v1/events requests"
## Summary

I'd expect to be able to do this, but cannot.

## Diagnostics

What version of Argo Workflows are you running?

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-09-02 16:30] alexec opened #3927 "Update default role for argo-server to support webhooks"
# Summary

This is not documented and needs to be.

# Use Cases

Setting up webhooks. This highlights that our test framework uses `hybrid` rather than `client` auth and would be prone to missing this kind of issue.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-09-02 17:17] alexec commented on #3927
[code]

[2020-09-02 17:26] alexec commented on #3927
https://youtu.be/vbI3YqoaSpU

[2020-09-02 17:34] simster7 commented on #3922
Confirmed fixed in master

[2020-09-02 17:34] #3922 closed

[2020-09-02 17:45] alexec commented on #3913
I've made another attempt to repo this and is "works for me".

I'm wondering if your `argo` service account does not have `pod/logs` permission.

Can you try with the following:

[code]

[2020-09-02 20:27] jessesuen opened #3930 "Publish images to GitHub container registry"
No official decision is being made, but we need to start publishing images to both DockerHub and the new GitHub Container Registry. A decision will be made later on what registry we will continue to use, given DockerHub's new policy of pruning inactive images.

[2020-09-02 21:08] simster7 opened #3931 "Add `--selector` and other useful flags to `argo {stop,terminate,resume,etc.}`"
# Summary

Add `--selector` and other useful flags to `argo {stop,terminate,resume,etc.}`

# Use Cases

You can list certain workflows with `argo list --selector ...`, you should be able to stop the same list of workflows

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-09-02 21:33] #3872 closed

[2020-09-02 22:38] aleksandrmelnikov opened #3933 "Using GCS for input artifact does not work"
## Summary

What happened/what you expected to happen?
Error, podInitialization.
[code]

Expected:
No error; the data to be downloaded from GCS.

## Diagnostics

What version of Argo Workflows are you running?
2.10.0
[code]

<details> <summary> Completed Workflow </summary>

[code]

</details>

[code]

<details> <summary> Logs </summary>

[code]

</details>

Raw Workflow:
[code]

Workaround Workfl

[2020-09-03 01:02] astanway commented on #1319
Pod annotation would certainly be an improvement if we can't do pod names.

[2020-09-03 04:06] neel229 commented on #3931
Can you elaborate it. I am new to golang, I have worked with the flag package and I am looking forward to contributing towards this issue.

[2020-09-03 06:09] hyorigo commented on #3913
@alexec Thanks! Service account is the thing. I used the argo account instead of a new one.
So I follow the doc and create a new role with pods permissions, it works:
[code]

Btw, for the permission issues, why didn't Argo cli throw any errors?

[2020-09-03 08:16] fridex commented on #1913
Thanks! It looks like setting `resubmitPendingPods: true` on the template level did the trick.

[2020-09-03 08:43] crunchtime-ali commented on #3769
I just tested this with `brew reinstall argo --build-from-source --verbose`

Output of `argo version` is:

[code]

I will try to look into it until Saturday.

[2020-09-03 12:52] prateekkhera commented on #3833
Thanks @simster7 for commenting, I can see still issue despite seeing the string you mentioned in the workflow controller logs. Closing the issue as don't have time right now to dig more, will re-open if I get to see again in future

[2020-09-03 12:52] #3833 closed

[2020-09-03 13:40] bartcode commented on #3887
Thanks for your recommendation. I understand your suggestion is a valid workaround. I can imagine it doesn't have any real priority now, but I just think it'd be more convenient in this use case to be able to use lists in parameters as well.

I see this is labelled as `more-information-needed` now. How can I help with that?

[2020-09-03 14:10] afoltzm commented on #1319
@alexc I can understand not wanting to break existing installs by changing the default behavior - is there a way it can be a configurable option in the workflow controller configmap that defaults to the existing method? That way it can be 'opt-in' for administrators who want that level of control and understand the risks. In addition to improving logging systems, this change would also make it eas

[2020-09-03 15:03] sarabala1979 commented on #3887
Thanks for confirming. I will close the issue.   `more-information-needed` is mainly for the user to reply.

[2020-09-03 15:03] #3887 closed

[2020-09-03 15:19] alexec commented on #1319
@afoltzm changing pod names means that workflows break during upgrades. So this changes is highly risky, and not popular enough to warrant configuration option. The name of workflow can be found from the `workflows.argoproj.io/workflow` label.

[2020-09-03 15:20] alexec commented on #1319
We'd need to find a way to make this forwards/backwards compatible. I.e. add the task name to the pod, but recognise legacy names too.

[2020-09-03 15:22] alexec commented on #3902
I'm wondering if this is an informer issue. It's a become a bit clearer we can get duplicate events from the informer.

@simster7 do you want to take ownership? Or I'll look into this.

[2020-09-03 15:26] alexec commented on #3769
[code]

24c778388a56792e847fcc30bd92a10299451959 is actually master and this is very risky and urgently needs to be fixe.

Marking as P1 regression.

[2020-09-03 15:27] alexec commented on #3913
I'm not sure why it did not return an error. We should keep this ticket open, but I will reduce priority.

[2020-09-03 15:33] simster7 commented on #3902
Hi @pacospace, I just confirmed that the fix for this issue (https://github.com/argoproj/argo/pull/3350) was introduced in `v2.10.0`. Please upgrade for the fix.

@alexec Our current approach is resistant to multiple events from the informer. Until we can confirm that this issue persists on builds with #3350 present, then I think this is largely a non-issue. I'd be happy to take ownership of this

[2020-09-03 18:15] #3572 closed

[2020-09-03 18:23] sarabala1979 commented on #3933
Can you provide the `init` container log?  you can get `init` container log using `kubectl logs <podname> init`

[2020-09-03 19:36] alexec commented on #3525
@danxmoran, @clelange, @ephemeral, @kabilan6, @vladlosev, @lukasmrtvy, @gordonbondon, @dcd000, @rgoldfinger-quizlet, @SM616, and 23 people who reacted with thumbs up emoji.

Your feedback is key to ensuring that this feature gets merged. I'd love to get it into the v2.12 release next month, but I really need more feedback from the community. Ideally I'm looking for people to take a deep dive and t

[2020-09-03 19:59] #3835 closed

[2020-09-03 20:17] alexec commented on #3769
Cancel the panic:

[code]

[2020-09-03 20:17] #3769 closed

[2020-09-03 20:21] pacospace commented on #3902
Thank you very much @simster7!!

[2020-09-03 20:39] #3837 closed

[2020-09-03 20:49] alexec opened #3936 "Something funky with node completion events"
## Summary

I'd expect changes related to archiving not to prevent node completion events, but theres some flakiness going on.

## Diagnostics

[code]
---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-09-03 22:13] simster7 commented on #3902
I suggest we close this unless it comes up again

[2020-09-03 22:13] #3902 closed

[2020-09-03 23:16] alexec opened #3937 "Write and review v2.11 blog post"
Please review!

https://blog.argoproj.io/argo-workflows-v2-11-a8b6189bf60e

[2020-09-04 00:21] alexec commented on #3936
Only a dev issue.

[2020-09-04 00:21] #3936 closed

[2020-09-04 03:05] sarabala1979 opened #3939 "Retry on K8s API request timeout"
## Summary
workflow failed on  intermittent K8s API timeout

What happened/what you expected to happen?

## Diagnostics

What version of Argo Workflows are you running?

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-09-04 03:42] hyorigo commented on #3913
@alexec OK, thanks!

[2020-09-04 07:26] hanjunlee commented on #3931
@simster7 If nobody takes this issue, can I try it as my first contribution?

[2020-09-04 07:51] mosfet1kg commented on #1688
It seems OnExit Handler for Workflow Template still doesn't work.

Is there anyone who knows whether it works or not?

[2020-09-04 14:33] pacospace opened #3941 "Workflow metrics with workflow using DAG do not show in workflow controller /metrics"
## Summary

What happened/what you expected to happen?

Recently introduced metrics in Argo workflows to monitor duration and status for a specific task. But although workflow is successful, no metrics are shown in the workflow controller

Main Workflow: https://github.com/thoth-station/thoth-application/blob/master/solver/base/openshift-templates/solve_and_sync-template.yaml

WorkflowTemplate (ta

[2020-09-04 15:07] AbhishekMallick opened #3942 "LGTM (security) review tool flagged 5 issues in the code base"
## Summary

Report: https://lgtm.com/projects/g/argoproj/argo?mode=list&severity=error

What happened/what you expected to happen?
Expectation is that there are no potential security holes.

## Diagnostics

What version of Argo Workflows are you running?
Latest argo git hub repo was input to LGTM
Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-09-04 15:51] simster7 commented on #3941
Could you please add a minimal Workflow that has this problem that I could easily use to reproduce?

[2020-09-04 15:51] simster7 commented on #3931
Feel free to do so!

[2020-09-04 15:56] alexec commented on #3942
Of the 5 issues highlighted, 4 are false positive. For example, PasswordSecret is not actually sensitive data.

The XSS state would be hard to exploit (you'd need to enable SSO), but not impossible. Would you be interested in submitting a PR to fix this?

[2020-09-04 15:58] alexec commented on #3942
@sarabala1979 it would be see if you agree with the assessment?
@jessesuen might be good to run this on Argo CD?

[2020-09-04 16:00] #1688 closed

[2020-09-04 16:01] neel229 commented on #3931
I would also like to do so. Is there any way we can collaborate on this as I am also new to Golang.

[2020-09-04 16:43] pacospace commented on #3941
I tested two cases, I think the issue is when DAG are used (at least with this test).

I have two simple versions:

This one works:
[code]

Using DAG does not work instead:

[code]

[2020-09-04 17:07] sudermanjr opened #3943 "The version command fails due to lack of kubeconfig"
## Summary

What happened/what you expected to happen?

When I run the version command, it exits non-zero
[code]

It would be great to have the ability to just check the client version and not assume the need for a server connection. Perhaps a flag could enable that?

## Diagnostics

What version of Argo Workflows are you running?
v2.10.1

---

**Message from the maintainers**:

Impacted by this b

[2020-09-04 17:17] alexec commented on #3943
Relates to  #3383, #2793, #3385.

[2020-09-04 17:26] zyxue opened #3944 "How to dynamically generate output directory in cron workflow"
I'm trying to convert a multi-step ML model training pipeline into an Arg cron workflow.

Each step in the pipeline has some inputs and outputs, and these steps form a DAG.

If I run them in a cron workflow,  I need to send all the outputs to a different location each time the workflow is run, e.g. to `gs://some-bucket/YYYYMMDD`.

But I'm not sure how to dynamically generate the output path since

[2020-09-04 17:28] sudermanjr commented on #3943
So quick. Thank!

[2020-09-04 18:38] #3937 closed

[2020-09-04 18:41] alexec commented on #3939
Maybe fixed by  #3217 (#3853)?

[2020-09-04 19:34] #3334 closed

[2020-09-04 19:42] nirav24 opened #3948 "Skip testing in CI steps if only doc/example folder is updated"
# Summary

Currently, CI runs tests even when we just make updates docs folder. I'd suggest to exclude **test**, **test-e2e**, **test-e2e-cron**, **UI** when changes are only limited to `docs` and `examples` folders.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-09-04 19:42] aleksandrmelnikov commented on #3933
Thank you for taking a look, I'll provide some logs today.

[2020-09-04 20:02] alexec commented on #3789
This will be on the 22nd September at 10am-12am PST

[2020-09-04 20:02] alexec commented on #3789
https://calendar.google.com/event?action=TEMPLATE&tmeid=MjMxMXBmMTU4M2M0dWVoMjc4MThrNm9mbmwgYXJnb3Byb2pAbQ&tmsrc=argoproj%40gmail.com

[2020-09-04 22:55] simster7 commented on #3944
Hi @zyxue,

You can use [Argo variables](https://github.com/argoproj/argo/blob/master/docs/variables.md) to do this, particularly the `{{workflow.creationTimestamp}}`. Argo will resolve it to its actual value during runtime.

Let me know if you need more help with this.

[2020-09-04 23:46] zyxue commented on #3944
thanks @simster7 , what if I need the date of yesterday wrt. current?

[2020-09-05 01:35] max-sixty opened #3951 "Recommend approach to "apply" CronWorkflow"
# Summary

We'd like to deploy our `CronWorkflow`s as part of a CD process. What's the recommended approach to "apply" a `CronWorkflow`, where they may or may not exist? A couple of draft options:

#### Delete & create
e.g. `argo template delete --all; argo template create workflows/*.yaml`
This is fine, but if there's an error in one of them, it'll leave it deleted rather than unchanged.
There's

[2020-09-05 02:07] hkiang01 commented on #3943
Reproduced on a `ubuntu:20.04` Dockerfile:

[code]

[code]

[2020-09-05 06:42] shmargum opened #3952 "Workflow hangs (when stress testing)"
## Summary
I kicked off a bunch of workflows (like 200) and expected them all to run to completion success/fail.  The last 20 or so workflows have hung after completing the first 5/7 steps successfully and the next step was never triggered.  The previous ones all completed in ~20 mins, but the last 20 have hung for over 5 hours (so I just deleted them all).

in argo server the "workflow" was runni

[2020-09-05 19:01] shmargum commented on #2677
hi, love the work here, it would seem that I am not able to pass a paramater as the mutex name, this would be really useful, is there a way to achieve this?, example template:
[code]

i see this in the logs:
[code]

i do see the annotation be correct on the pod:
[code]

[2020-09-05 20:29] andyleap opened #3953 "UI - Log viewer does not fallback to archived logs"
## Summary

What happened/what you expected to happen?
Open logs after pod is deleted: no logs show up, expected to be see logs pulled from archive

## Diagnostics

What version of Argo Workflows are you running?
v2.10.1

[code]

argo-server logs:
[code]

workflow-controller logs:
[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the m

[2020-09-05 21:53] sarabala1979 commented on #2677
Thanks for your feedback. It is a nice and useful enhancement. Can you create an enhancement issue? I will work on it

[2020-09-05 22:07] cujeff09 opened #3954 "`argo submit --serviceaccount` doesn't seem to have an effect"
**Summary**
We are upgrading from Argo 2.6.1 to 2.9.5.  In the past, we've always provided admin privileges to the default service account, and we've had no issues.  In 2.9.5, the same is true.  However, we wanted to make our execution "more correct" but not using the admin and instead forcing our argo submits to use the argo serviceaccount generated by the installation.

Our setup is like this:

[2020-09-06 00:47] #2844 closed

[2020-09-06 00:47] #1960 closed

[2020-09-06 04:32] shmargum opened #3955 "Support interpolated mutex names"
# Summary

It would be useful to be able to use arguments (workflow or even template) in the name field of the `mutex` synchronization.

# Use Cases

This is useful when you have a workflow with many parellielizable steps that may be combined sequentially (regardless of completion order) after completion. There are also other general cases where this is useful.

example:
[code]

+-
---

**Message

[2020-09-06 04:32] shmargum commented on #2677
thanks created #3955

[2020-09-06 06:42] shmargum commented on #2550
@YourPsychiatrist i have opened a very closely related enhancement issue for mutexes that would also satisfy your use case: #3955 .  just linking it here for reference and good measure

[2020-09-06 17:35] rajneeshbajaj commented on #3931
I can also assist, please let me know.

[2020-09-06 19:06] ddseapy opened #3956 "Add workflow events for suspended nodes"
# Summary

Currently there are `node completion` events https://github.com/argoproj/argo/blob/master/docs/workflow-events.md:
* `WorkflowNodeSucceeded`
* `WorkflowNodeFailed`
* `WorkflowNodeError`

This proposal is to add an additional one for `WorkflowNodeSuspended`

# Use Cases

This would be used for an application that is managing the suspended nodes and responsible for resuming them.

---

**

[2020-09-06 20:07] ddseapy commented on #3460
think i've been hitting the same issue on `2.9.5`.  Using `6000` seconds used to work, but anymore.   atm don't have too much time to look into it, just setting it to `0` which works.
the controller logs all had `... set expire at ... <some large negative number> from now` and `Queueing workflow ... 0.0s`, but never `Deleting TTL expired`.  Anyway, will look into it later, when more time.

[2020-09-07 00:01] fabio-rigato commented on #3857
Hey, @alexec and @simster7  I shared with you guys another stuck WF (in slack).

This is a screenshot of the UI, just to keep track:

<img width="1821" alt="Screen Shot 2020-09-07 at 9 56 14 am" src="https://user-images.githubusercontent.com/9264663/92338039-e4d1e680-f0f0-11ea-9df6-4cd2efdbb8ca.png">

Cheers,
Fabio

[2020-09-07 00:05] #1749 closed

[2020-09-07 01:05] #2011 closed

[2020-09-07 01:51] foobarbecue commented on #3884
Here's a special case... this happened when I suspended a workflow which was a retry. Not sure if I'll be able to repro it. Interesting, though!

![image](https://user-images.githubusercontent.com/854789/92341227-e7412b80-f071-11ea-9473-20913abf8b0e.png)

[2020-09-07 04:06] ewassef opened #3958 "Kubernetes KIND failing to complete any workflow"
# Summary

When running in Kubernetes KIND with extra volume mounts to the host machines docker sock, the following error occurs in the executor pod every time (Error response from daemon: No such container:). This causes failure even if the other pod succeeds.

If no extra mount is added, the pods eventually fail with no logs, however, there is an event saying: MountVolume.SetUp failed for volume

[2020-09-07 09:09] zewelor opened #3959 "Same workflow executes fine via CLI buit fails via web UI"
## Summary

What happened/what you expected to happen?

Same yaml works fine when executing via argo cli, but fails to start when uploaded via www UI. Error I'm getting:

[code]

## Diagnostics

What version of Argo Workflows are you running?
2.10.1

[code]

I can fix it by quoting '0'. Then it works fine. It works via CLI without quoting. Also it validates via CLI, using ```argo lint``` command.

[2020-09-07 10:03] renishb10 opened #3960 "Argo CLI (v2.10.0+) doesn't handle int64 values"
## Summary

Argo CLI v2.10.0 and above doesn't handle integer value that is greater than 32 bit. It is working fine with v2.9.0 & earlier.

## Diagnostics

**Version: 2.10.0**

**Cmd:**
[code]

**Error:**
[code]

## Findings
[util.go](https://github.com/argoproj/argo/blob/release-2.10/workflow/util/util.go#L229)

[code]
Here the `intstr.Parse` is the culprit and it's a K8s API machinery package. T

[2020-09-07 11:47] BookChan commented on #3347
Did somebody fix this error? We also encountered this error:
image version: argocli:v2.10.1
start args:
  - server
    - --namespaced
    - --basehref
    - /xxxx/workflow/
[code]

[2020-09-07 18:38] ewassef commented on #3958
Got an answer in the Slack channel. Posting the answer here in case someone is searching the web for something similar:
Change your `containerRuntimeExecutor` to `pns` in your configmap. This will get it to work with containerd vs dockerd based installations. Thank you Daniel Herman

[2020-09-07 18:46] #3958 closed

[2020-09-08 00:10] alexec commented on #3953
Could you please attach a screenshot?

[2020-09-08 00:12] alexec commented on #3956
Hmmm. Not sure how we'd do this, as it is user triggered and you can even suspend an workflow using `kubectl`, so we could not always intercept the call.

[2020-09-08 00:12] alexec commented on #3959
This value in a string, not an integer. You need to quote it as a result. It probably should not work in the CLI.

[2020-09-08 00:14] alexec commented on #3347
This error is unrelated to this issue. Instead please see #3943

[2020-09-08 00:16] alexec commented on #3954
Interesting. When does the error appear? When you try to submit, or in the logs of the workflow?

[2020-09-08 01:23] andyleap commented on #3953
![image](https://user-images.githubusercontent.com/1445195/92423771-17063700-f137-11ea-938c-5e1712b1680a.png)

Notably, clicking the link to the artifacts does show the logs, it's just not a great UX

[2020-09-08 06:39] Asaf-m opened #3961 "Prevent workflow RBAC `patch` permission exploitation"
# Summary

Find a way to prevent malicious code from exploiting `patch` permission of the minimum RBAC privileges.

**Details:**

[The minimum RBAC privileges of workflow](https://argoproj.github.io/argo/workflow-rbac/) includes `patch` pods permission, this seems to be a potential security issue.
`patch` permission allows to do actions like `kubectl patch pod valid-pod -type='json' -p='[{"op": "r

[2020-09-08 06:54] hanjunlee commented on #3931
@neel229 @rajneeshbajaj  I'll create a PR where we can work together first and let you know.

[2020-09-08 07:01] zhaobei commented on #1068
输入 kubectl api-resources 查看权限列表

[2020-09-08 07:26] jackywu commented on #3715
@dtaniwaki @jessesuen @alexmt , may I have your suggestion？