[2021-02-16 15:51] simster7 commented on #5097
@alexec Is this fixed by #5076? Close?

[2021-02-16 15:52] simster7 commented on #3649
Annoying workaround, but the large number at the end of the workflow name that is started by a cron workflow is the UNIX timestamp of its schedule time. So by using `{{pod.name}}` you can extract its scheduled time

[2021-02-16 15:56] alexec commented on #5107
Awesome, are you going to write a blog post? We could re-post it?

[2021-02-16 15:57] alexec commented on #5118
`groups` is hard-coded as it is a de facto standard OIDC claim.

 Isolation is how you set it up. If you need users 100% isolated, you need to one service account/role and role binding per user

[2021-02-16 15:58] #5118 closed

[2021-02-16 16:00] alexec commented on #5119
Done.

[2021-02-16 16:03] alexec commented on #5097
@mhehle I'm not clear from your last comment if you think this is an issue anymore?

[2021-02-16 16:04] alexec commented on #3649
I think we can do this with an annotation? (I don't think a label would be correct).

then can we do something like `{{workflow.annotations.cronScheduleTime}}`?

[2021-02-16 16:30] #5110 closed

[2021-02-16 17:18] alexec opened #5123 "Execute v3.0 stress testing"

[2021-02-16 17:21] alexec commented on #5123
https://docs.google.com/document/d/1KbP4c1hYiYqdDrHodLwpKGPjpNs98dIfkyXtb75eE_8/edit

[2021-02-16 17:22] alexec commented on #5123
https://argoproj.github.io/argo-workflows/stress-testing/

[2021-02-16 18:11] dzirg44 commented on #5107
Yes, sure. I will inform you. I can write here or to the slack channel.

[2021-02-16 18:24] pires opened #5124 "Handle idle timeouts more gracefully"
## Summary

Refs #4524 (closed issue without a supposed fix that never landed?) cc @dcherman

## Diagnostics

What Kubernetes provider are you using?

Private, Kubernetes 1.19

What version of Argo Workflows are you running?

v3.0.0-rc1 but also verified on 2.12.8.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-02-16 18:25] pires commented on #5124
This bug is not a blocker but truly annoying as things that are working and showing progress disappear from the screen for ~10s, show up and disappear again, rinse and repeat.

[2021-02-16 18:26] alexec commented on #5124
I think @dcherman is fixing this as we speak.

[2021-02-16 18:38] #5034 closed

[2021-02-16 19:09] pires commented on #5124
Cool! Is it still expected to land on v3.0.0?

[2021-02-16 19:46] alexec commented on #5124
I hope so.

[2021-02-16 22:39] hadim commented on #4615
@arghya88 still interested working on that?

[2021-02-16 23:01] franza73 commented on #4993
We are experiencing this same issue in our Argo Workflow deployment.

[2021-02-16 23:41] terrytangyuan commented on #4615
@hadim You can now define podMetadata at workflow level and then those metadata will also appear in pods. See https://github.com/argoproj/argo-workflows/blob/master/examples/pod-metadata-wf-field.yaml for an example. Is this what you need? Or are you looking for inheriting existing labels from workflow to pods?

[2021-02-16 23:58] terrytangyuan commented on #4615
If you need the latter, what is your use case? The workflow is the owner of your pods so you can also obtain the labels from the referenced workflow.

[2021-02-17 00:01] terrytangyuan commented on #4993
It's likely that your cluster/apiserver is super unstable. There's an environment variable `TRANSIENT_ERROR_PATTERN` you can use to specify a regular expression for additional errors that you'd like to retry. There are also variables like `RETRY_BACKOFF_*` that you can set as well for further customization of the retry behavior. More details in this doc: https://github.com/argoproj/argo-workflows/

[2021-02-17 00:16] hadim commented on #4615
I was looking for a way to automatically set those labels from the labels of the workflow. But yeah I'll use `podMetadata` if that's not something you think is worse adding.

[2021-02-17 02:25] terrytangyuan commented on #4615
The labels `workflows.argoproj.io/completed` and `workflows.argoproj.io/workflow` are there for other purposes. I am not sure if it's necessary to inherit other labels/metadata as well since they can be obtained easily by owner reference. @alexec WDYT?

[2021-02-17 09:56] kglapiak opened #5126 "proper workflows marked as error with "pod deleted" message"
## Summary

About half of my cron workflows is marked as error with message "pod deleted".
Really this task works good and in loki logs everything is fine and there is no difference between tasks marked as succes and taks marked as error with this message.

## Diagnostics

Kubernetes provider: on premises 1.18.5
Argo version: v2.12.7

This happend regardless of the yaml code

Example logs with thi

[2021-02-17 10:09] sylock opened #5127 "Argo-workflows or argo-cd should change its project name"
# Summary

I understand the huge refactoring it would need and I guess there is little chance that this idea could be implemented, but in regards of the long term project emancipation, I think it would be the best to do.

argo-workflows and argo-cd are two separated applications though they share things. When searching for "argo" on search engines results are a mix of both argo-workflows and argo-

[2021-02-17 11:04] mszostok commented on #4772
First, I want to thank you all for working on Argo Workflows engine 🙂

Regarding this issue, @alexec, are there any plans to start working on it?

Are you open to reviewing a PR with a fix If I provide one?

Thanks!

[2021-02-17 15:37] alexec commented on #4772
Please. I am thinking it might be good to generalize this.

[2021-02-17 15:39] alexec commented on #5126
Can you please share you cronworkflow? Making sure it can run using oculi images etc.

Do you know if this was a problem in older versions?

are you running under very high load?

[2021-02-17 16:44] sarabala1979 commented on #3649
@simster7 @alexec  I think we can pass as a workflow parameter `{{workflow.parameters.schedule_time}}`, so it can be use as a resolvable variable across the workflows. I am working on change. I will demo today or tomorrow.
[code]

[2021-02-17 16:52] simster7 commented on #3649
Can annotations not resolve? Why wouldn't `{{workflow.annotations.cronScheduleTime}}` work?

[2021-02-17 16:53] simster7 commented on #5119
Released

[2021-02-17 16:53] #5119 closed

[2021-02-17 17:00] sarabala1979 commented on #3649
The current controller will not resolve the annotations and labels. It will resolve only `artifacts` and `parameters`

[2021-02-17 17:02] simster7 commented on #4585
I think a good distinction between #5115 and #4958 is the scope of the data. Enhanced templating targets quick, in-line, modifications to parameters while the `data:` template deals with sourcing and transforming a large amount of data.

I like to think of the `data:` template as bash pipes: trying to replicate an experience such as `cat file.txt | sed ... | grep ... | sort | uniq | xargs ...`

En

[2021-02-17 17:04] alexec commented on #4585
I think the scope of this has to be limited. What I can't currently fathom is, expr is missing group and reduce operators. I'm asking them to add them (because adding them myself would require some solid 1st-year CompSci compiler writing skills I seem to no longer possess). I'd like to allow changing the templating library.

[2021-02-17 17:20] simster7 commented on #4585
Agreed. This is why I think expr is very limited for this use case

[2021-02-17 17:28] alexec commented on #4585
It's more powerful than `text/template`, but I think we might want something more powerful still. Maybe a mini-scripting language.

[2021-02-17 19:53] simster7 opened #5130 "Look into tests failing when using exec spec"
@simster7 @sarabala1979 this change has produced some unexpected test failures. Key to the change, is we use ExecSpec for ALL workflows, not just when needed.

So I believe we have bugs in these areas when using exec spec (e.g. templates):

* `TestRealtimeWorkflowMetricWithGlobalParameters` and related test failures points at `metrics and custom metrics
* `TestResourceTemplateStopAndTerminate` and

[2021-02-18 02:47] RysBen commented on #4993
@terrytangyuan Thanks for your answers!
@franza73 Several days ago, I found `argo list` spent ~20s in my cluster, while `argo get` only spent ~1s. After deleting completed workflows, `argo list` only spent ~5s, and the issue did not happen again. If there were too many history workflows in your cluster, you can delete them. If not, you can try the method provided by @terrytangyuan

[2021-02-18 03:04] #4509 closed

[2021-02-18 10:14] githubczy commented on #1337
Did you solve it ？I had the same error

[2021-02-18 11:11] Deepa050 commented on #4991
We are not using istio. @arnoldrw
@simster7 It seems to be related to token. I am guessing since the sso login worked with `--auth-mode sso --auth-mode server`
Are the bearer token not same for the two auth mode ? Does it work differently.

[2021-02-18 11:38] therealnb opened #5134 "Metrics evaluated before the step is over."
## Summary

What happened/what you expected to happen?

When I have this
[code]
I never get any metrics emitted. If I change it to
[code]
The status is always "Running".

I want to emit metrics with a label = failed or success. This is what the docs seem to say.

I thought the status was meant to be evaluated when the step completes. This looks more like it is running in realtime.

## Diagnostics

[2021-02-18 13:12] klaucos opened #5135 "All Argo Workflows logs are marked as error in stackdriver (GCP)"
## Summary

Similar problem to closed unsolved issue #4471
On Google Cloud all logs generated by argo-server and workflow-controller can not be properly parsed. Meaning all logs show as ERROR logs in Google Stackdriver.
One of the reasons might be that all the logs are dumped to stderr so it's handled as error.
Also Stackdriver is using severity keyword instead of info to parse logging level.

Is

[2021-02-18 15:08] simster7 commented on #5134
Will take a look. Meanwhile, can you try in latest (`v2.12.9`)?

[2021-02-18 16:02] therealnb commented on #5134
I will give it a go. Cheers

[2021-02-18 16:10] alexec opened #5136 "Add `argo test` or maybe `argo submit --wait --verify` command"
We can now test workflows using `examples_test.go`, but maybe it would be nice to have a version of `argo submit` that has `argo submit --watch --verify` flag`?

[2021-02-18 18:58] alexec opened #5142 "Confusing expression and templating system"
Argo Workflows uses multiple templating and expression languages:

Templating syntax:

* `fasttemplate` is used when converting a template into an executable template. E.g. to expand parameters: `{{inputs.parameters.foo}}`

Expression syntax:

* `govaluate` is used for `when`: only - this project appears to be abandoned: e.g. 'when: {{tasks.A.status}} != Succeeded'
* `expr` is used event expressio

[2021-02-18 19:04] AdrianSkierniewski opened #5143 "Issue when passing results in nested loops"
## Summary

First of all, I'd like to thank the Argo community for sharing such a nice tool with everyone. ❤️

I'm trying to run the workflow with nested loops based on the output of the previous steps. An outer loop should add more parameters to the inner loop.
At the first step, everything works as expected but in the next step, Argo doesn't recognize the output parameter as an array with JSON o

[2021-02-18 19:17] therealnb commented on #5134
[code]
Yes, the latest seems to work as expected.

It also seems to fix another bug where if there was a mutex waiting while a workflow was deleted, it would take a long time to free. It seems better now.

Many thanks

[2021-02-18 19:18] #5134 closed

[2021-02-18 21:02] alexec opened #5144 "log SSO user when not using SSO+RBAC"

[2021-02-19 07:44] kglapiak commented on #5126
Hey, I know what a reason is.

In my Dockerfile i had entrypoint like this:
[code]
If i resign from this and I run script by argo like this:
[code]

Error doesn't occurs.
So my problem is solved, anyway its still a bug when u use a entrypoint.
I don't know maybe its not recommended to use dockers like this but in that way its should be error or success every time.
Situation when a same workflow so

[2021-02-19 08:14] Atharex opened #5146 "Argo UI does not show complete logs"
## Summary

Getting similar problems like in #3065
The logs are wholly seen in Minio saved logs and in the pod logs with kubectl, but not in the Argo UI. Neither of them show any errors, only the Argo UI output is truncated when I use a workflow that incorporates Tensorflow output.

Could be the particular formatting of the training that stops the output to the UI? The logs are properly shown in t

[2021-02-19 10:38] chtcvl opened #5147 "Missing support for input git artifacts from on-prem gitlab with SSH auth with user is not named `git`"
## Summary

Using SSH repo url in input artifact git driver - expecting git SSH user to be parsed from git repo url. Instead hardcoded `git` user is passed: [workflow/artifacts/git/git.go#L44](https://github.com/argoproj/argo-workflows/blob/65fb530e291e1586fdcd12ca7dc4245ef3dfa551/workflow/artifacts/git/git.go#L44)

## Diagnostics

What Kubernetes provider are you using?
k8sapi

What version of Ar

[2021-02-19 15:13] simster7 commented on #5143
Will take a look

[2021-02-19 15:33] simster7 commented on #5147
Hmm, we use `go-git`(https://github.com/go-git/go-git) for all of our git operations. Are you able to clone your repo using `git` on the command line or is it just an issue when using Argo?

[2021-02-19 15:36] simster7 commented on #5146
Might very well be that our current loggin infrastructure doesn't deal well with `\r`, which is what is used to replace the console output line to get that nice "progress effect" that tensorflow displays in lines like those.

I'll look into it

[2021-02-19 15:36] simster7 commented on #5146
In fact, thinking this a bit more I think this is likely the case

[2021-02-19 15:39] simster7 commented on #5146
Will have to see if this is something we can deal with or if K8s' Pod log streaming interface is the problem

[2021-02-19 16:17] alexec commented on #5126
you're correct - I don't think this should create the problem -  I wonder if the pods were never created in the first place?

[2021-02-19 16:23] alexec opened #5148 "Template defaults"
# Summary

Users sometimes want to set default values for templates. We do this piecemeal today, e.g. by adding a new field under `spec`, but we could do this in a general way, e.g.

[code]

Note that template defaults should be parameterization (e.g. using `fasttemplate`).

# Use Cases

To reduce duplication.

See #5113
---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We

[2021-02-19 16:25] alexec commented on #5146
Bug missing reproduction step. Can you please attach a workflow that reproduces the problem that we can run?

[2021-02-19 16:52] simster7 commented on #5146
My suspicions were right: the issue is the use of `\r` _and_ K8s itself does not handle it. Since we only display logs that are passed to use by K8s, I'm not sure what we can do about this.

See below for reproduction steps:

Workflow
[code]

K8s doesn't display any logs while pod is still running:

![image](https://user-images.githubusercontent.com/614838/108535126-d38c2900-728f-11eb-9299-d6b27f0

[2021-02-19 17:01] #4266 closed

[2021-02-19 17:10] simster7 commented on #5143
`return-second-array` returns a list of lists, one for each pod expanded with `withParam`. If you want a pod for each JSON object, you need to flatten the the list of lists into a simple list. Currently you have to do this yourself (see example below), but we're working on a `data:` template that is intended to cover use cases just as this (https://github.com/argoproj/argo-workflows/pull/4958), so

[2021-02-19 17:17] #5136 closed

[2021-02-19 18:01] terrytangyuan commented on #5148
Looks great and this solution is more generalized. What's the relationship of this with those workflow-level fields like `WorkflowSpec.RetryStrategy`? Perhaps the template defaults will get overridden by workflow-level fields?

[2021-02-19 18:05] arckey commented on #3728
@alexec we can close this I guess

[2021-02-19 18:48] #4254 closed

[2021-02-19 18:48] #3728 closed

[2021-02-19 19:12] #5144 closed

[2021-02-19 19:12] #5123 closed

[2021-02-19 19:16] alexec commented on #3201
@sarabala1979 this might be one to work on next.

[2021-02-19 22:42] simster7 commented on #5148
We're thinking of adding some sort of `strategy:` field. `Override` could be a setting, as well as `Merge`. In the case of `memoization`, for example, `Merge` would be more applicable

[2021-02-20 07:02] dseapy opened #5152 "Archive logs for sidecar containers"
# Summary

Main container logs are archived, but sidecar container logs are often needed for debugging.  Having the wait container store sidecar logs on s3 as well and downloadable through UI would be helpful.

# Use Cases

It is common for pods in our workflows to have grpc server sidecars that the main container calls out to for help when processing files on disk using mirrored volume mounts.  F

[2021-02-20 12:29] #4692 closed

[2021-02-20 13:23] medianick commented on #2683
For what it's worth, I placed the downloaded, renamed `argo.exe` into my `C:\ProgramData\chocolatey\bin` folder -- since it was already in the PATH, and in an ideal world I'd have it installed through Chocolatey ([which has only an old version](https://chocolatey.org/packages/argocd)) -- and that let me avoid another folder and addition to the PATH. Works beautifully, thanks to @lueenavarro's tip.

[2021-02-20 23:18] #4247 closed

[2021-02-21 22:29] #3933 closed

[2021-02-22 00:18] #5006 closed

[2021-02-22 08:58] #5126 closed

[2021-02-22 12:03] chtcvl commented on #5147
The issue is only when using Argo, since gitlab expects `gitolite` user and receives `git` user. Git clone works with the same key just fine when username is picked from url.

[2021-02-22 18:05] alexec commented on #4585
See #1293

[2021-02-22 18:06] alexec commented on #4585
Example of the proposed solution - PLEASE COMMENT!

[code]

[2021-02-22 18:07] alexec commented on #1293
Example of the proposed solution - PLEASE COMMENT!

[code]

[2021-02-22 19:05] dcherman commented on #5124
This should be fixed in master, forgot to add a ref to this issue in the commit.

https://github.com/argoproj/argo-workflows/pull/5101

[2021-02-22 19:42] saranyaeu2987 opened #5164 "Historical Backfill: Enhance withSequence(or any other equivalent) to accept Date loop format"
# Summary

Enhance `withSequence` (other any other equivalent) to accept Date format

# Use Cases
backfills are usually historical dates. Right now, withSequence only support number loop.

Example:
[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-02-22 21:59] max-sixty commented on #4585
Thanks @alexec , this looks exciting.

Where is the `filter` function from? I sees `toJson` but not `filter` in sprig? Is it implemented in argo?

[2021-02-22 22:01] #5124 closed

[2021-02-22 22:02] alexec commented on #4585
`filter` is expr syntax.

https://github.com/antonmedv/expr

[2021-02-22 22:35] max-sixty commented on #4585
Thanks! I see now. But the `toJson` is sprig? How do those interact?

Overall from the user POV this looks really great — maybe that's the sort of comment you were asking for.

[2021-02-23 02:04] alexec opened #5167 "Enforce TLS v1.2 for Argo Server"
@jessesuen

[2021-02-23 07:40] paveq commented on #4991
I'm also having problems getting service account bearier tokens working with --auth-mode sso

Behaviour I would like is real users using SSO to login, but also supporting ServiceAccounts with Bearier tokens for service-to-service API calls.

[2021-02-23 09:55] bmaggi commented on #2931
Hi,

I think it's an excellent question.
I had a look in the [doc](https://argoproj.github.io/argo-workflows/) but did't found the answer

At this day, is there a recommendation ?

[2021-02-23 10:46] discordianfish commented on #1293
@alexec Nice! The only thing is that I'd consider other libs as well, given how expensive it will be to change this later. That's why my suggestion was to use the string package as oppose to a more complex lib. But happy to have this functionality one way or the other!

[2021-02-23 12:11] Sushant20 commented on #1913
@simster7 @alexec Is this feature released? I still see Workflow getting failed if we have resource quota set on number of pods at namespace level
Tried with both 2.11.8 and  2.12.9
Error message: `time="2021-02-23T12:01:43Z" level=info msg="Mark node test-trans-1-pgsdb.onExit[0].e-mail as Pending, due to: pods \"test-trans-1-pgsdb-2584680134\" is forbidden: exceeded quota: pod-demo, requested: po

[2021-02-23 13:40] lukaszo opened #5169 "Cannot resolve reference when there are spaces between the brackets and variable"
## Summary

What happened/what you expected to happen?

I've created a workflow where I reference global artifact. When there are spaces between  the brackets and variable I'm getting the following error:
[code]

When I remove the spaces it's working ok. According to the docs https://github.com/argoproj/argo-workflows/blob/master/docs/variables.md it shouldn't matter:
[code]

## Diagnostics

What

[2021-02-23 15:03] simster7 commented on #5169
Will take a look

[2021-02-23 15:09] goock commented on #5054
We use a special yaml manifest, separate definitions for cluster and for namespaces.
I debugged and tracked down that we had an invalid configmap definition and cache was not created properly.
The configmap must be exactly what we have in 3.0.0.
We can close this issue.

[2021-02-23 15:09] #5054 closed

[2021-02-23 15:46] alexec commented on #5167
https://github.com/argoproj/argo-cd/pull/610

[2021-02-23 15:57] bmaggi opened #5173 "Linter failing on TemplateRef for WorkflowTemplate"
## Summary

I got a "_template reference not found_" when using the linter on the following example.
I was expecting a valid workflowTemplate, so I suspect an error in the linter.

## Diagnostics

What Kubernetes provider are you using?
Version 1.16.15 Self Hosted

What version of Argo Workflows are you running?
2.12.9

Example

[code]

Result in the command line :

[code]

Notes :
* This was orig

[2021-02-23 16:18] dinever commented on #4792
Hi @arraytodd I think DAG should be the way to go here: https://argoproj.github.io/argo-workflows/examples/#dag

Just make sure you set the `dependencies` correctly.

If you really want to stick with `steps`. You can define the sub-steps inside another template. For example:

[code]

This gives:

![Screen Shot 2021-02-23 at 1 26 40 AM](https://user-images.githubusercontent.com/1311594/108872935-b2

[2021-02-23 17:21] simster7 commented on #5173
Is your template on the cluster?

[2021-02-23 17:44] bmaggi commented on #5173
Here are the steps

[code]
=> error when creating the template whith a single file

* Spliting the file in 2 (part1 with workflow-template-1 and part2 with workflow-template-hello-world-)

[code]
=> creation ok

[code]
=> linter ok

So your guess is right the linter seems failing due to the missing template in the cluster.

So what is this the correct workflow for deployment ?
 * using the linter

[2021-02-23 18:20] simster7 commented on #5173
Yes, I agree that that is desired behavior. I'll work on a fix

[2021-02-23 19:27] simster7 opened #5179 "Cherry-pick for v2.12.10"
* [ ] Simon Behar: fix: Specify where in YAML validation error occurred (#5174) a9c420060
* [ ] Simon Behar: fix: Fix node filters in UI (#5162) 4b78a7ee4
* [ ] Yuan Tang: feat(controller): Support pod GC strategy based on label selector on pods (#5090) d9fb0c30f
* [ ] Florian: docs: Add DLR to USERS.md (#5157) 6618f4752
* [ ] Alex Collins: fix(executor): Do not make unneeded `get pod` when no sid

[2021-02-23 20:13] alexec commented on #5179
Nothing from me.

[2021-02-23 20:27] bryanisgreat opened #5181 "unknown time zone"
## Summary

v3.0.0-rc2 regresssion from this https://github.com/argoproj/argo-workflows/pull/5057 causing LoadLocation to not find timezone by name.

This issue is **not** present in v3.0.0-rc1

## Diagnostics

EKS 1.17

v3.0.0-rc2

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-02-23 20:39] alexec commented on #5181
that's odd:

[code]

I wonder what happenid.

[2021-02-23 21:02] bryanisgreat commented on #5181
yeah, seems like that should work...  It's possible that is not the cause, but it is quite suspect since it's behaving like the zoneinfo is missing.

[2021-02-23 21:07] alexec commented on #5181
https://stackoverflow.com/questions/59094236/error-unknown-time-zone-america-los-angeles-in-time-loadlocation

[2021-02-24 00:19] dcherman opened #5185 "Implement a browser support policy"
# Summary

What change needs making?

# Use Cases

When contributing to the UI, it would be useful to know what our browser support policy is to determine what browsers we should be testing against and what features are available to us (and potentially, when we can use new features).

In past projects, I've had a simple support policy to start out with:

* Chrome (Latest, Latest - 1)
* Firefox (La

[2021-02-24 03:20] simster7 commented on #5179
Release not needed

[2021-02-24 03:20] #5179 closed

[2021-02-24 03:31] #1348 closed

[2021-02-24 03:31] #2679 closed

[2021-02-24 03:52] terrytangyuan commented on #5179
Is this type of issue typically for outlining all recent changes and then maintainers can point out which of them are necessary to cherry pick? Just trying to see if there's anything I can chime in to help.

[2021-02-24 04:22] dcherman opened #5186 "UI: Back / History Behavior is broken in Workflow Details View"
## Summary

When navigating in the UI, the back button should always bring you back to (and render) the previous URL.  This seems to be broken in several cases.

## Diagnostics

- Go to https://workflows.apps.argoproj.io/
- Click on any workflow
- Click the `logs` button
- Click the `back` button on your browser
- Note that the URL has changed, but the state of the app is now wrong

I noticed the

[2021-02-24 15:06] simster7 commented on #5186
Taking a look

[2021-02-24 15:32] simster7 commented on #5186
Found problem, working on fix

[2021-02-24 16:38] JPZ13 opened #5189 "[Proposal] Support scale subresource in CRDs"
# Summary

Support the `scale` subresource in the different Argo workflows CRDs

# Use Cases

Not having the `scale` subresource makes it difficult to use existing autoscalers like the vertical pod autoscaler. When running Argo in a multi-tenant environment, if a workflow definition does not have the appropriate resource requests and limits set, sudden spikes in CPU usage can cause pods to be evic

[2021-02-24 16:46] alexec commented on #5189
Interesting. What would the outcome of `kubectl scale workflow/my-wf --replicas 3` be?

[2021-02-24 16:56] JPZ13 commented on #5189
Good question. I think we could disable the scaling of workflows directly but still support the `labelSelector` so that autoscalers can make recommendations and have info about pod sizing. Maybe `kubectl scale workflow/my-wf --replicas 3` would give `error: Workflow replica size must be 1` or something of that nature. What are your thoughts?

[2021-02-24 17:16] goock commented on #5054
**Update**

The following workflow:
[code]
could run too briefly to be notified from a `SharedInformer` about changes in cache/store as a result `HOST NODE NAME` is missing sometimes. This happens especially in good infrastructures but it never happens in my local development env.
When hostname is missing `objs` becomes `nil` here
https://github.com/argoproj/argo-workflows/blob/8a8759f38c5773cebec

[2021-02-24 17:17] #5181 closed

[2021-02-24 17:19] alexec commented on #5189
I felt like it would change the `spec.parallelism` flag?

[2021-02-24 17:26] JPZ13 commented on #5189
I like that setup a lot. Thanks for calling that out

[2021-02-24 17:27] alexec commented on #5189
Would you like to submit a PR?

[2021-02-24 17:28] JPZ13 commented on #5189
Yep! I'm on it

[2021-02-24 17:49] #5186 closed

[2021-02-24 20:31] therc commented on #4493
I agree with @zen-xu

We have the same issue. In our case, we could use input file size as a rule of thumb to set memory limits, but even then, there are some workloads where memory usage depends to a great extent on the contents (entropy, even) of the files. I am not able to distinguish authentic failures (the job returning exit code 1) from the kernel killing our pods, so the risk is that we mig

[2021-02-24 20:37] sarabala1979 commented on #4493
@therc more welcome to create PR. There is a hacky workaround. you can have a pre-step to determine the resource for the processing step and pass it as `podSpecPatch` on `processing step`

[2021-02-24 21:12] therc commented on #4493
@sarabala1979 I use podSpecPatch to set a higher limit when retrying. What I need to avoid is re-running a graph node that didn't run out of memory. Some of these workloads use GPUs, so doing all this useless extra work can get expensive quickly. Both the code and the data in a given workflow are very experimental and thus have a high degree of variability, so we'd probably want more than one retr

[2021-02-24 21:58] sarabala1979 commented on #4493
@simster7 was exploring previously adding condition base `retrystrategy` select the `node` and other properties.
Simon: can you provide your thought?

[2021-02-24 22:52] #5169 closed

[2021-02-25 01:04] everton-nasc opened #5192 "Command being replaced into the workflow: Golang fundamental flaw bug - again"
## Summary
I’m facing a quite weird issue when I’m trying to suppress the stderr from the phpunit tests executions and not sure if the workflow command translation is replacing and send the command to the container.

**Issue**
We’re appending  `2> /dev/null` at the end of the phpunit binary (e.g:  `$phpunit 2>dev/null`) - this is a workaround to avoid the stderr payloads being printed during the t

[2021-02-25 01:12] alexec commented on #5192
Can you confirm if this is a regression and if so which version it is regresses from.

[2021-02-25 02:15] tszngai commented on #2011
Any updates on this from Argo? What is the official way to fetch content from self-hosted github (github enterprise) to the workflow?

[2021-02-25 04:03] terrytangyuan commented on #4493
I recently added a retry policy to allow retry only on transient errors in https://github.com/argoproj/argo-workflows/pull/4999. You can also specify a regular expression that captures any additional errors that can be seen as transient and retryable (based on the node messages like the OOMKilled that you are interested), see TRANSIENT_ERROR_PATTERN in https://github.com/argoproj/argo-workflows/bl

[2021-02-25 04:13] therc commented on #4493
That's close. Is the retry counter exposed to the templates? Say you want
the first retry to use twice as much memory as the original attempt. We
don't want to rerun with the same resources if there was an OOM error.

[2021-02-25 04:23] terrytangyuan commented on #4493
Yes, you should be able to use the variable "retries" in https://github.com/argoproj/argo-workflows/blob/master/docs/variables.md#containerscript-templates

[2021-02-25 04:25] therc commented on #4493
Great! I'll give that a try tomorrow. Thank you so much.

[2021-02-25 05:05] tczhao commented on #4493
@terrytangyuan On a slightly different topic, I think we'd better add an example or extend the documentation to let users know there's OnTransientError retry policy.

[2021-02-25 06:35] kanwalnainsingh commented on #3080
you config saved the day. Thanks a lot. I just had to turn off ssl redirect.

[2021-02-25 08:11] mreider commented on #4845
FYI the issue reported to Dynatrace support looks less about the mutating webhook and more about injection via OneAgent DaemonSet. These are separate injection strategies. The webhook is unnecessary if the DaemonSet is installed on the node, which in this case it was. Support case is being diagnosed.

[2021-02-25 12:30] AdrianSkierniewski commented on #5143
@simster7 Thank you for pointing me in the right direction. It would be really cool when we can do it natively in the Argo. After running your example I realized one thing. Flattening would require all previous jobs to finish which wasn't my intention. I'd like to generate multiple branches which could continue independently and aggregate state from previous jobs.
I think that I'd need to try to f

[2021-02-25 13:59] terrytangyuan commented on #4493
Definitely. Just documented this in https://github.com/argoproj/argo-workflows/pull/5196.

[2021-02-25 14:23] crenshaw-dev opened #5197 "CLI does not copy instance ID label from workflowMetadata"
## Summary

When I submitted a Workflow using `argo submit --from wftmpl/label-test-template`, I expected the `workflows.argoproj.io/controller-instanceid: fake-id` label from `workflowMetadata.labels` to be applied _before_ the Workflow was picked up by a controller.

More specifically, since I had not installed a controller with instance ID `fake-id`, I did not expect the Workflow to be picked u

[2021-02-25 15:02] yoshiya8 commented on #1293
I totally agree with @lucastheisen regarding control structures. I cannot tell you how many of my workflow templates have the same time over and over with various combinations of container parameters. Control structures would be a great support to the DRY principle.

[2021-02-25 15:13] everton-nasc commented on #5192
@alexec - Just double checked and I found the same behaviour on the version `V3.0.0.0-rc2`.

[2021-02-25 15:13] #4548 closed

[2021-02-25 15:40] simster7 commented on #5173
@bmaggi Another workaround: you don't actually need two files, you can do it on the same file as long as the WorkflowTemplate that is being referenced goes before (i.e. on top) of the WorkflowTemplate that is doing the referencing

[2021-02-25 16:06] bmaggi commented on #5173
Thanks for your answer, maybe I missed something but I still have the linter error with

[code]

[code]

[2021-02-25 16:14] alexec commented on #5192
And did it work in v2.12.9?

[2021-02-25 16:16] alexec commented on #5197
Can you please confirm if you're using ARGO_SERVER with the CLI?

[2021-02-25 16:16] #5167 closed

[2021-02-25 16:17] alexec commented on #5152
Would you like to submit a PR for this?

[2021-02-25 16:17] alexec commented on #5164
This could be fixed by **expression template tags**.

[2021-02-25 16:19] mac9416 commented on #5197
I'm not using ARGO_SERVER with the CLI (i.e. I'm neither setting it for individual `argo` commands nor is the env var set in the environment where I'm running `argo`).

[2021-02-25 16:21] alexec commented on #795
Notes from chat with KFP:

* A v1 should be sync. Async could be v2.
* Move useful that lifecycle hooks (#4355 )
* More useful than plugin template (#5025 )

[2021-02-25 16:23] alexec opened #5201 "Plugin Template"
Enable the ability to write templates that are plugins.

See #5025 #4355 #795

[2021-02-25 16:24] alexec commented on #5025
I'm closing this issue in favor for #5201 and #4355 which are more narrowly defined (but would have closely relati impl)

[2021-02-25 16:24] #5025 closed

[2021-02-25 16:28] alexec commented on #3961
@jessesuen

https://kubernetes.io/docs/tasks/debug-application-cluster/determine-reason-pod-failure/#customizing-the-termination-message

[2021-02-25 16:29] alexec commented on #3961
Ohhhh.... interesting!

[2021-02-25 17:05] everton-nasc commented on #5192
Yep @alexec, same error on version 2.12.9 😢
It seems the string (`2>`) is not being decoded properly.

[2021-02-25 17:25] alexec opened #5202 "Double workflow watch"
We should never need two watches in the controller = 2x memory usage.

[code]

[2021-02-25 17:25] alexec commented on #5192
Can you try v2.11.8?

[2021-02-25 17:41] alexec commented on #5202
The second informer is used by cron and limited to cron workflows, but is not filtered by instance ID. We could resue just one.

[2021-02-25 17:55] chrisjwhiteley commented on #5075
I am also impacted by this. Will try latest v3.0.0-rc3 to see if it fixes the issue.

[2021-02-25 18:10] dseapy commented on #5152
Thought you might ask :)  As soon as I find a bit of time I will be happy to, yes.  Hopefully in the next few weeks.

[2021-02-25 18:11] alexec opened #5205 "TOB-ARGO-TM15: Enable Argo Server TLS by default"

[2021-02-25 18:12] alexec opened #5206 "TOB-ARGO-TM12: Enable Argo Server authentication by default"

[2021-02-25 18:12] alexec opened #5207 "TM-ARGO-TM11: Enable Argo Server authentication by default"

[2021-02-25 18:15] tomgoren opened #5208 "Regression using `emissary` executor"
## Summary

Using `emissary` executor. Submit a workflow, get error.

## Diagnostics

What Kubernetes provider are you using? 1.18 (EKS)

What version of Argo Workflows are you running? `latest`/`master` :: `b4ea47e05dcfe3113f906b252736a18f0c90273c`

## Repro

Using example from docs:
[code]

Output:
[code]

Pod actually succeeded!:
[code]

## Controller logs

[code]

---

**Message from the maint

[2021-02-25 18:21] alexec commented on #5208
I don't think you are using emissary executor. It looks like it has defaulted to `docker` executor. Emissary is only available when running `:latest`.

[2021-02-25 18:25] tomgoren commented on #5208
It is specified in the configmap, and the only change I made between a successful run and a failed one, was the image specification - from a custom built image based on the old emissary development branch to `latest`.

[2021-02-25 18:45] process0 opened #5210 "Workflows page workflow checkbox cannot multi-select"
## Summary

On the workflows page, when attempting to click the checkbox next to each workflow to perform a multi operation, clicking the checkbox will redirect to the specific workflow of the checkbox.

![image](https://user-images.githubusercontent.com/29227206/109201188-87e5ed80-776f-11eb-8aad-a67520356b97.png)

## Diagnostics

Running Argo v3.0.0-rc3, Firefox 78.8.0esr

[2021-02-25 18:46] alexec commented on #5208
what do the wait container logs say? they should state the executor actually used

[2021-02-25 18:55] #5207 closed

[2021-02-25 19:02] alexec commented on #5210
@simster7 ?

[2021-02-25 19:06] simster7 commented on #5210
Odd... working on a fix

[2021-02-25 19:07] alexec commented on #5210
maybe something with event bubbling?

[2021-02-25 20:21] tomgoren commented on #5208
[code]

[2021-02-25 20:23] dinever commented on #4158
Let me take a look at this one

[2021-02-25 21:11] alexec commented on #5208
Um. That looks like it was fine?

[2021-02-25 21:14] tomgoren commented on #5208
Yes, the pods were launched and ran successfully, the workflow failed nonetheless. With the previous image (based on the emissary branch), we get a green checkmark and everything is okay.

[2021-02-25 21:22] alexec commented on #5208
can you run `kubectl logs  hello-world-8rvgm` ?

[2021-02-25 22:00] alexec opened #5215 "TOB-ARGO-TM18 JSON Web Token based authentication"

[2021-02-25 22:01] alexec opened #5216 "TOB-ARGO-TM17 Documentation does not make recommendations for IP address logging, will not occur by default"

[2021-02-25 22:02] alexec opened #5217 "TOB-ARGO-TM11 Lack of authentication rate limiting"
![image](https://user-images.githubusercontent.com/1142830/130523232-fd7ed075-4b02-4b44-b037-c0b682bac50f.png)

[2021-02-25 22:13] alexec commented on #3961
In v3.1 you will be able run workflows without `pod patch`, so long as they do not have outputs.

[2021-02-25 22:36] #5210 closed

[2021-02-25 23:23] everton-nasc commented on #5192
Hey @alexec,
I could't replicate the issue on `v2.11.8`.
(also I having troubles with minikube port-forward to load the argo-ui, not related to the issue - something wrong with my local dev env).
Happy to help if you need further information.

[2021-02-25 23:28] alexec commented on #5192
By "couldn't replicate" do you mean it is not a problem is v2.11.8? Or something else?

[2021-02-25 23:40] everton-nasc commented on #5192
Yes.
Seems the decoding is working properly at `2.11.8` and the following versions are failing: `2.12.19, `3.0.0-rc2` and `3.0.0-rc3`

[2021-02-26 00:26] tomgoren commented on #5208
Please see above - I amended the comment with the correct output: https://github.com/argoproj/argo-workflows/issues/5208#issuecomment-786176002

[2021-02-26 00:35] therc opened #5219 "Can't use expressions involving {{retries}} in podSpecPatch"
## Summary

I get errors when I try to use `{{retries}}` in podSpecPatch, with and without quotes.
This seems to be a variant of https://github.com/argoproj/argo-workflows/issues/4767
I think I'm supposed to quote `{{entries}}`, but that gives me `Error in Unmarshalling after merge the patch`.
Below is the simplest podSpecPatch I could think of. I was really trying something like `"memory": (2 **

[2021-02-26 00:35] simster7 opened #5220 "All S3 put errors get retried, not only transient ones"
[code]

[2021-02-26 00:36] therc commented on #4493
Maybe I'm doing something stupid, but I can't get "retries" and "podSpecPatch" to play nice.
https://github.com/argoproj/argo-workflows/issues/5219

[2021-02-26 00:38] simster7 commented on #5219
Will take a look

[2021-02-26 00:52] tszngai commented on #2011
Found a workaround:
Set `insecureIgnoreHostKey: true`

[2021-02-26 01:20] #5206 closed

[2021-02-26 01:20] #5205 closed

[2021-02-26 01:22] alexec commented on #5208
I don't understand. The error you show comes from a wait container, but does not appear in the logs you've added. Can you double and triple check your logs?

[2021-02-26 01:24] alexec commented on #5192
Can I ask you to test v2.12.8? I think the revert in that version maybe re-introduced a bug.

[2021-02-26 02:57] tomgoren commented on #5208
Hmmm - it looks like the issue was actually a miss on our side! Sorry for the hassle, thank you for looking into it! We were in the process of bringing up a new cluster and some wires got crossed 🤦

[2021-02-26 02:57] #5208 closed

[2021-02-26 05:28] simster7 opened #5222 "TestDataTransformationArtifactRepositoryRef is flakey"

[2021-02-26 08:10] MadsHT commented on #4804
https://github.com/argoproj/argo-workflows/issues/4804

https://stackoverflow.com/questions/58560048/sse-broken-after-deploying-with-kubernetes-and-connecting-via-ingress

[2021-02-26 09:11] therealnb commented on #5025
That's fine. #795 would help in our case.

[2021-02-26 10:19] #5143 closed

[2021-02-26 11:46] swathi59 opened #5223 "Argo dag failFast option not working Argo version: 2.12.3"
Argo dag failFast option not working
Argo version: **2.12.3**

**Steps to Reproduce**
Execute following example: https://github.com/argoproj/argo-workflows/blob/master/examples/dag-disable-failFast.yaml
Set failFast to true.

**Actual Behaviour**
All steps in the pipeline are scheduled and executed even though one step failed.
**Expected Behaviour**
If one of the steps in the pipeline fails other

[2021-02-26 14:55] simster7 commented on #5223
The UI from your screenshot is not the one from v2.12. Are you still using `argo-ui`? If so, that has been deprecated. Please see the getting started to use the new UI.

I'll take a look at `failFast` meanwhile.

[2021-02-26 15:28] simster7 commented on #5219
This works for me I am not able to reproduce:

<details>
<summary>See my logs:</summary>

[code]

</details>

Upgrade to latest `v2.12.9` and try again?

[2021-02-26 15:48] simster7 commented on #5223
I was able to reproduce... looking into it

[2021-02-26 15:51] swathi59 commented on #5223
Thank you Simon

[2021-02-26 15:54] binnie268 commented on #1540
My team is also currently using Azure File Share. We would like to decrease the dependency on minio and use azure storage directly. Would be great to have argo workflow support azure file share and/or blob storage :), especially since we would like to use argo workflow for the long term.

[2021-02-26 15:56] therc commented on #5219
Thank you! I had skimmed through the changelogs, but I hadn't seen anything relevant. I'll try upgrading.

[2021-02-26 16:11] simster7 commented on #5220
Should catalogue all possible errors and only retry transient errors... this has been in the codebase forever though, so low priority I believe

[2021-02-26 16:51] #5222 closed

[2021-02-26 17:11] therc commented on #5219
You're right, at some point it got fixed. The next step is still broken, though. Any expression other than {{retries}} seems to result in errors:

`{"cpu": {{retries}} + 0.1 }`: `Invalid PodSpecPatch String`
`{"cpu": ({{retries}} + 0.1) }`: `Invalid PodSpecPatch String`
`{"cpu": ({{retries}}) }`: `Invalid PodSpecPatch String`

Should retries be an int? Would that change break any workflows?

[2021-02-26 17:15] everton-nasc commented on #5192
Note: I had a cache issues during my analysis and my previous analysis should be ignored.

Here's the results:
**v2.12.8** --> PASSED
<img width="1666" alt="Screen Shot 2021-02-26 at 10 45 37 AM" src="https://user-images.githubusercontent.com/58737540/109329251-f8e4de00-781f-11eb-82ad-01181b235839.png">

**v3.0.0-rc1** --> FAILED
<img width="1672" alt="Screen Shot 2021-02-26 at 10 58 21 AM" src="h

[2021-02-26 17:21] rpledger opened #5229 "Support profiles from AWS shared credentials file for artifacts"
# Summary
Add ability to specify non-default AWS credentials profile in a shared credentials file for s3 artifacts. Add a field to [S3ClientOptions](https://github.com/argoproj/pkg/blob/master/s3/s3.go#L48) and the s3 [ArtifactDriver](https://github.com/argoproj/argo-workflows/blob/master/workflow/artifacts/s3/s3.go#L21) to specify a profile name. Use this name to specify the profile to load for t

[2021-02-26 18:18] terrytangyuan commented on #5220
This happens in other artifact drivers as well and transient errors vary among different drivers. The "bucket does not exist" is indeed annoying. `CreateBucketIfNotPresent` comes handy in those situations but not for transient errors.

Perhaps we can consider introducing a new environment variable `ARTIFACT_DRIVER_TRANSIENT_ERROR_PATTERN` similar to the existing `TRANSIENT_ERROR_PATTERN` (perhaps

[2021-02-26 18:37] simster7 commented on #5219
Those are currently not supported, but support is coming soon. See #5115

[2021-02-26 18:37] simster7 commented on #5219
Closing this

[2021-02-26 18:37] #5219 closed

[2021-02-26 19:23] simster7 commented on #2758
Closed with `data` template

[2021-02-26 19:23] #2758 closed

[2021-02-26 19:44] #5202 closed

[2021-02-26 21:51] zachaller commented on #5229
I think if you set this to true https://github.com/argoproj/argo-workflows/blob/master/docs/workflow-controller-configmap.yaml#L105 it should then use the aws sdk's default provider chain which would pick any auth method in the order the aws sdk defines which would also then allow you to use the AWS_PROFILE env var to set the profile from the shared config file.

[2021-02-26 22:00] zachaller commented on #5229
With that set to true the order of provider chain should follow this https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-quickstart.html#cli-configure-quickstart-precedence and any ENV the SDK supports the workflow would support.

[2021-02-27 00:18] mmckane opened #5235 "Azure DevOps git fetch fails due to go-git issue"
## Summary

Trying to use Azure DevOps artifact clone for git over SSH and it fails.

example git input artifact block:
[code]

This appears to be related to argoproj/argo-cd#1067 and  go-git/go-git#64

Can something like argoproj/argo-cd#1071 be implemented for argo workflows.

What version of Argo Workflows are you running?
2.9.1

[code]

Error from Init pod workflow doesn't even seem to start:

[2021-02-27 01:43] #4784 closed

[2021-02-27 11:02] krrrr38 opened #5238 "Workflow Logs format annotation"
# Summary

When adding `workflows.argoproj.io/logs-format` annotation, server output formatted workflow logs.

# Use Cases

We sometimes output json logs from pods, because it is useful for fluentd, datadog logs and so on.
But when using json logs, it is difficult to read on the argo-workflows ui. So format log using annotation metadata.

# Proposal

Propose `workflows.argoproj.io/logs-format` ann

[2021-02-27 19:46] alexec opened #5239 "Expression template tags: v1.1 metrics"
I did not implement it because it seemed hard and not valuable.

See #5115

[2021-02-27 22:00] #1293 closed

[2021-02-27 22:00] #4585 closed

[2021-02-27 22:00] #5164 closed

[2021-02-27 22:01] #934 closed

[2021-02-27 23:28] krrrr38 commented on #5238
Here is POC implementation https://github.com/argoproj/argo-workflows/pull/5240.
It seems `workflows.argoproj.io/logs-format` annotation has too much information, but all fields are required.
If there is another solution to see complex json logs easily on the argo-workflows web ui, let me know. thanks.

[2021-02-28 01:07] max-sixty opened #5241 "Error message on bad flags chops off a character"
## Summary

Narrow but hopefully still helpful (feel free to close if not)

With a typo in this command:
[code]

The error message refers to `og`, and `NAME1=VALUE2`:

[code]

This had me searching in my workflow file for `og` strings!

If this is because of a command-line plugin, also feel free to close

## Diagnostics

What version of Argo Workflows are you running?

[code]

---

**Message from

[2021-02-28 02:43] terrytangyuan commented on #5241
I think the issue is that the CLI thought you passed a `-l`, which is a shorthand for `--labels` and expects labels. Your command is interpreted as `argo submit workflows/test.yaml -l og` which would give you the same output as follows:

[code]

[2021-02-28 03:30] szab100 opened #5242 "Daemon step shows as 'Running' after Workflow has Succeeded"
## Summary

What happened/what you expected to happen?

The daemon workflow step shows as "Running" after the Workflow has Succeeded. The daemon step's pod is terminated / completed as well, so it is clearly not running anymore.

## Diagnostics

What Kubernetes provider are you using?
IKSM

What version of Argo Workflows are you running?
v2.12.9

[code]

[code]

---

**Message from the maintainers

[2021-02-28 18:15] schoeffm opened #5243 "MountVolume.SetUp failed for volume "docker-sock" on AKS"
## Summary

Just as described in this [previously filed issue](https://github.com/argoproj/argo-workflows/issues/826) I've just setup an AKS cluster (1.19.7) and tried to run the `hello-world.yaml` example.
Yet, the pods cannot be started:
[code]
As mentioned above, in the [original issue](https://github.com/argoproj/argo-workflows/issues/826) several other folks already confirmed (after the issue

[2021-02-28 21:20] #5243 closed

[2021-02-28 22:50] #4794 closed

[2021-02-28 22:50] #4796 closed

[2021-03-01 09:53] anankun opened #5244 "templates.whalesay.steps[0].call-whalesay-template template reference"
## Summary
I got a `template not found` error

What happened/what you expected to happen?
1、I created a WorkflowTemplate named 'workflow-template-submittable';
2、Then  I create Workflow ref template;
3、But I got en error such as
      Internal Server Error: templates.whalesay.steps[0].call-whalesay-template template reference workflow-template-submittable.whalesay-template not found:

## Diagnosti

[2021-03-01 10:03] #5244 closed

[2021-03-01 15:22] simster7 commented on #5242
Is the pod itself still running (in this case with name `observer-poc9rv2f-1410503751`) or does Argo just say it's running while it's not?

[2021-03-01 16:08] karabill opened #5245 "Workflow is running even if a ValidatingWebhookConfiguration rejects the pods"
## Summary

I have a validating webhooks which rejects all pods in specific namespaces. I submit a workflow and the pod is not created because it is rejected by the webhook (as it is expected). However, the workflow is still Running. I would expect the workflow to be in the Error state. I have created a repo with some instructions, if you want to reproduce it in a kind cluster: https://github.com/

[2021-03-01 16:12] alexec commented on #5245
Can you confirm if this is a regression from v2.11, or that you just could not repro in v2.11?

[2021-03-01 16:17] karabill commented on #5245
I could not reproduce it in v2.11, i.e. in v2.11 the state of the workflow was always Error. I also tried a couple of other older version (e.g. 2.9) but the workflows were always in Error. I only saw this behaviour in v2.12.

[2021-03-01 16:34] alexec commented on #5245
I believe the problem is caused by the pod failing as the error is a 403 error, which is considered "transient".

[code]

[2021-03-01 16:39] alexec commented on #5245
@karabill can you confirm that `BUBBLE_ENTRY_TEMPLATE_ERR` is not `false`?

[2021-03-01 16:48] karabill commented on #5245
@alexec I assume that you are talking about the workflow-controller. I do not see it in the pod spec, so I assume that `os.Getenv` will return an empty string.

[code]

[2021-03-01 16:50] karabill commented on #5245
I just read my description again. I forgot to mention that this error is not deterministic. E.g. if I submit 100 workflows, around 10-20% are still running. The others' state is Error.

[2021-03-01 17:10] alexec commented on #5197
and you're not passing `--instanceid` or setting `ARGO_INSTANCEID`?

[2021-03-01 17:13] mac9416 commented on #5197
@alexec correct. The hope was that there would be no need to specify either of those because the instance ID would be inferred from a label applied by `workflowMetadata`.

[2021-03-01 17:15] alexec commented on #5197
I think the CLI should refuse to submit a workflow with an invalid instance ID (i.e. one it does not support itself).

[2021-03-01 17:23] mac9416 commented on #5197
@alexec I guess this is the prior question: Is "submitting a Workflow --from a WorkflowTemplate which has an instance ID label specified in `workflowMetadata`" the same as "submitting a workflow with an instance ID"?

If yes, I can see the argument for enforcing matching instance IDs. It's a kind of nice feature to be able to specify an instance ID on the template rather than via the CLI. But elim

[2021-03-01 17:27] mac9416 commented on #5197
I wonder if that label on `workflowMetadata` should be supported at all. Maybe it should just fail validation.

[2021-03-01 17:34] alexec commented on #5197
I think this is a bit of an edge-case, and probably not worthwhile fixing.

[2021-03-01 17:41] mac9416 commented on #5197
Fair. I could add something to the `workflowMetadata` docs about not supporting this label. Or if you think it'd be more noise than help, I guess this thread can suffice as documentation. :-P

[2021-03-01 17:42] alexec commented on #5197
I think we can leave this for now.

[2021-03-01 17:43] mac9416 commented on #5197
Cool, thanks for following up!

[2021-03-01 17:43] #5197 closed

[2021-03-01 19:41] #3649 closed

[2021-03-01 19:57] simster7 opened #5247 "v3.0.0-rc4 cherry-pick"
**Commits are added by default**, un-add commits you do not wish to be included

* [ ] Saravanan Balasubramanian: chore: Pass cron schedule to workflow (#5138) b59c8ebdc
* [ ] Alex Collins: feat(controller): Expression template tags. Resolves #4548 & #1293 (#5115) e6fa41a1b
* [ ] Yuan Tang: docs: Add example on using label selector in pod GC (#5237) 54b04c642
* [ ] Dan Garfield: docs: Add link to

[2021-03-01 22:25] rpledger commented on #5229
Thanks @zachaller ! Where would the `AWS_PROFILE` env var be set? In a specific pod? Or maybe that step's `container.env`? The reason I'm asking is because in our scenario, the profile could be different each time based on an argo param from a previous step.

[2021-03-01 22:44] zachaller commented on #5229
I think you could try podSpecPatch within the executor sidecar container https://github.com/argoproj/argo-workflows/blob/9319c074e742c5d9cb97d6c5bbbf076afe886f76/examples/pod-spec-patch.yaml#L13

[2021-03-02 00:35] #5192 closed

[2021-03-02 00:36] alexec commented on #5247
fix(controller): Work-around Golang flaw. Fixes #5192

[2021-03-02 01:18] caueasantos opened #5250 "Workflow - Concurrent map read and map write"
## Summary

What happened/what you expected to happen?

The workflow should successfully terminate all of your triggered tasks. It wasn't easy to reproduce the anomalous behaviour outside of the cluster and also not happen every single time, so please find additional configurations that might help to reproduce it
[code]

## Diagnostics

What Kubernetes provider are you using?
`GKE or Kind`

What v

[2021-03-02 02:35] caueasantos opened #5251 "Workflow - Could not get container status"
## Summary

What happened/what you expected to happen?

The workflow should successfully terminate all of your triggered tasks. It wasn't easy to reproduce the anomalous behaviour outside of the cluster and also not happen every single time, so please find additional configurations that might help to reproduce it
[code]

## Diagnostics

What Kubernetes provider are you using?
`GKE or Kind`

What v

[2021-03-02 02:35] alexec commented on #5250
Not sure what the problem is here. Exit code 2 typically means something went wrong with using bash in a container.

[2021-03-02 02:37] alexec commented on #5245
Failed to reproduce this using K3S. Try again tomorrow.

[2021-03-02 02:37] worms opened #5252 "Wait container not actually waiting for main container"
## Summary

About 5% of the time we are seeing the wait container thinking that the main container has exited when it actually hasn't.

## Diagnostics

What Kubernetes provider are you using?
AWS EKS

What version of Argo Workflows are you running?
V3 rc2

We are using the docker executor.

As can be seen in this truncated log the wait container starts then stops within 1 second.
The main containe

[2021-03-02 02:38] alexec commented on #5251
How odd. You can clearly see `Get pods 200` which meant the request was OK.

[2021-03-02 02:41] alexec commented on #5252
Can you test `argoproj/argoexec:dev-docker` please?

[2021-03-02 02:59] caueasantos commented on #5250
Not happens always, the base template is super simple and works most part of the time.
[code]
Container wait logs
[code]

[2021-03-02 03:03] #4799 closed

[2021-03-02 03:05] alexec commented on #5250
oh - yes - that can happen - I'll change to use `sync.Map`

[2021-03-02 03:20] terrytangyuan commented on #4799
I think this is no longer an issue and we've covered most of the cases in e2e tests: https://github.com/argoproj/argo-workflows/blob/master/test/e2e/pod_cleanup_test.go

Let me know if I've missed anything else and I can help look into it.

[2021-03-02 03:29] worms commented on #5252
So far it looks like it works. I have run more jobs than I usually have to before it has had issues in the past.
I will run a few more and let you know.

Is it worthwhile to debug output the result of docker wait? That would have told me straight away perhaps?

[2021-03-02 03:41] worms commented on #5252
It looks to have resolved the issue!

[2021-03-02 07:51] karabill commented on #5245
In the description, I have a link to a repository and the instructions to reproduce it using [kind](https://kind.sigs.k8s.io). Maybe it helps. Moreover, I submitted 100 workflows yesterday. After 10 minutes around 10% were still running. Today (after 15 hours) all of them are in Error state.

[2021-03-02 09:04] samath117 opened #5255 "Infer DAG dependencies from artifact/parameter references by default"
# Summary

Many DAGs have a simple dependence structure: If step B uses step A's output (result, parameters or artifacts), then step A must be in step B's dependencies. Rather than duplicating this information in the `dependencies` (or `depends`) field, we could save lines of YAML to, by default, infer it from references like `{{tasks.earlier-step.outputs.artifacts.transformed-data}}` within a par

[2021-03-02 09:27] ludydoo opened #5256 "Wait container cannot kill distroless sidecars"
## Summary

Using istio-9.1-distroless with automatic sidecar injection. The workflow executes the main container, then tries to kill the sidecar container using exec.

https://github.com/argoproj/argo-workflows/blob/e6fa41a1b91be2e56884ca16427aaaae4558fa00/workflow/executor/k8sapi/client.go#L99

[code]

Since the istio-proxy container does not have a `sh` shell, there is a timeout error.

[code]

[2021-03-02 09:54] Deepa050 commented on #4991
Is there any solution to this ?

[2021-03-02 15:11] bimtauer commented on #2758
Hi @simster7 - will this be released with the 3.1 milestone and is there maybe a pre-release one could test this with?
Currently with v2.12.9 "data" is still a unknown field.

Also if you have a moment to explain: How does this new template relate to the other existing/ongoing solutions such as the proposed concept of [withArtifacts](https://github.com/argoproj/argo-workflows/pull/4948#issuecommen

[2021-03-02 15:50] jalberti commented on #1050
I came across this issue while looking into a way to connect argo to a distributed filesystem, not HDFS. I'm not sure I understand the artifact repository concept fully, so excuse me if my question makes no sense, but I'm trying to have my workflow connect to my files in the most direct fashion ... by mounting the filesystem.

@alexec your comment makes me curious, getting a volume into the pod se

[2021-03-02 16:18] alexec commented on #4991
I think there are mixed problem in this issue. Maybe raise a new issue if you’re having problems. You should be able to use multiple auth modes.

[2021-03-02 16:21] alexec commented on #5256
Nice to see distroless in the wild. You cannot kill sidecars with either the k8sapi or kubelet executors.  It is not possible to fix.  Instead, use PNS, Docker or Emissary executors.

[2021-03-02 16:47] michaeldebouver commented on #4804
I am still facing this issue, even by reconfiguring nginx.

[2021-03-02 18:09] ludydoo commented on #5256
Hi @alexec

The `/quitquitquit` endpoint works well. Though, it introduces additional delay for each task.

Perhaps a possible improvement would be that

[code]

Could poll the sidecar container status to see if it was already killed, instead of waiting for the command to return an error. But that's probably not a priority

[2021-03-02 18:19] sarabala1979 commented on #5130
I tried multiple times locally. couldn't reproduce. I will go through the code the see any corner case.

[2021-03-02 18:36] alexec commented on #5130
Don't invest too much time until users are reporting issues.

[2021-03-02 18:56] alexec commented on #5252
@worms can I please ask you to re-run your tests?

[2021-03-02 18:57] alexec commented on #5250
@caueasantos can I please ask you to try `argoproj/argoexec:dev-pns` and verify the error no longer occurs?

[2021-03-02 19:29] sarabala1979 commented on #5241
it has to be `argo submit --log examples/hello-world.yaml `

[2021-03-02 19:40] worms commented on #5252
Yes sir. Running now.

[2021-03-02 19:57] dcherman opened #5260 "UI: `All` regression in Workflow Archive view"
## Summary

All archived workflows should be shown when `All` is selected in the dropdown on the workflow archive page. Instead, it seems like only 10 are shown (which is the default).

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-03-02 20:41] worms commented on #5252
OK. It looks good from this end with the latest stuff on this branch as of 1 hour ago :)

[2021-03-02 20:49] #5252 closed

[2021-03-02 20:49] #5250 closed

[2021-03-02 20:59] caueasantos commented on #5250
@alexec It's working apparently but I didn't have success to fully complete my tests battery due #5251

[2021-03-02 21:11] max-sixty commented on #5241
Thanks @terrytangyuan ; that makes sense. Closing.

[2021-03-02 21:11] #5241 closed

[2021-03-02 21:25] simster7 opened #5262 "GCP Driver for `data` template"
# Summary

What change needs making?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-03-02 23:10] alexec commented on #5251
I've created an engineer build for you that has better logging `argoproj/argoexec:dev-status`. Could I please ask you to run it?

[2021-03-02 23:11] alexec commented on #5245
I've created an engineering build with extra logging to help diagnose this issue. Can I please ask you to test it out? `argoproj/argoexec:dev-debug`.

[2021-03-02 23:20] caueasantos commented on #5251
Let me try that - Give me a few minutes

[2021-03-02 23:53] caueasantos commented on #5251
What did I do?

Changed executor image (Please let me know if I need to change something else)
[code]
Reran test workflow

<img width="1723" alt="image" src="https://user-images.githubusercontent.com/46695526/109730474-878e8d80-7b87-11eb-8811-6ea2dad0032a.png">

All failed tasks returned the same error message

<img width="553" alt="image" src="https://user-images.githubusercontent.com/46695526/10

[2021-03-03 00:09] alexec commented on #5251
That's progress. Can you add `kubectl get pod ci-n7gdl-951919243 -o yaml`?

[2021-03-03 00:13] caueasantos commented on #5251
`kubectl get pod ci-n7gdl-951919243 -o yaml -n argo`
[code]

[2021-03-03 00:25] caueasantos commented on #5251
Just to keep you posted I also tried downgrading the workflow version to **v2.12.9** and the error persists, the message is slightly different though.

<img width="461" alt="image" src="https://user-images.githubusercontent.com/46695526/109733061-611f2100-7b8c-11eb-8b70-be53a9fb71d9.png">

In case someone is looking for a temporary workaround, adding a retry policy helped me keep the flow consiste

[2021-03-03 00:25] alexec commented on #5251
Hmm. Could you try `argoproj/argoexec:dev-k8sapi`?

[2021-03-03 00:50] caueasantos commented on #5251
This one apparently works for the issue raised here, but the DAG hangs at some points (I was trying to reproduce that for almost 2 days and we finally did it - The DAG never hangs on v2.12.9 this main reason I rolled everything back yesterday)

<img width="1345" alt="image" src="https://user-images.githubusercontent.com/46695526/109734820-aa24a480-7b8f-11eb-85dc-69e26fb5e465.png">

<img width="106

[2021-03-03 01:33] alexec commented on #5251
Do you have repro steps for the DAG issue?

[2021-03-03 01:45] caueasantos commented on #5251
`kind create cluster`

`kubectl create namespace argo`

`kubectl apply -n argo -f https://raw.githubusercontent.com/argoproj/argo/v3.0.0-rc3/manifests/install.yaml`

changed executor image
[code]

Apply configmap

[code]
Apply templates
[code]

Submit workflow using CLI or UI

[2021-03-03 02:06] alexec commented on #5251
Can you try with `ALL_POD_CHANGES_SIGNIFICANT=true`?

[2021-03-03 03:25] caueasantos commented on #5251
Run it again 3 more times and smoothly worked at all. What about the next steps?

[2021-03-03 03:56] dingdayu commented on #2298
In my case, The minio pod is deleted and the minio is not deployment, so it cannot be restored automatically.

in：https://raw.githubusercontent.com/argoproj/argo-workflows/stable/manifests/quick-start-postgres.yaml

[2021-03-03 04:20] alexec commented on #5251
I'm not clear on your reply. Did you still see problems with hanging steps?

[2021-03-03 09:58] dongwangdw opened #5266 "argoCD hello world does not work in openshift."
I just follow the simple example from the doc. https://github.com/argoproj/argo-workflows/blob/master/examples/README.md#hello-world

But when I tried to deploy the hello world workflow to openshift 4.6. I got the error like:
[code]

I think this should be resulted from some scc in OCP.
BTW, does ArgoCD support OCP?

Thanks in advance.

[2021-03-03 09:58] karabill commented on #5245
Thank you. I used it. However, I was not able to reproduce the problem. All workflows' state was error (I tried it a couple of times).

What is the argo's version upon which you based your dev-debug? I am asking this because I had to add the `LEADER_ELECTION_IDENTITY`ENV  in https://github.com/karabill/argo_reject_operator_problem/blob/main/yamls/install-argo.yaml#L426. Is the dev-debug based on t

[2021-03-03 13:37] caueasantos commented on #5251
I'm sorry about it. When I ran the battery test using executor image dev-k8sapi and added ALL_POD_CHANGES_SIGNIFICANT everything work as expected.

[2021-03-03 13:53] jancespivo opened #5268 "Fields documentation should contain info about possibility of using parameters"
# Summary

Fields documentation should contain info about possibility of using parameters

# Use Cases

Whenever I want to find information about possibility of using parameter in a field. For example: Is it possible to use workflow parameter in `generateName` field?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-03-03 14:08] terrytangyuan commented on #5268
On [the field reference page](https://argoproj.github.io/argo-workflows/fields/), if you click `ObjectMeta` under `Workflow`'s `metadata` field, you'll see a field `generateName` there. Let me know if I misunderstood your question though.

[2021-03-03 14:14] jancespivo commented on #5268
@terrytangyuan Thx for the reply. I mean whether I can use workflow parameters there (https://argoproj.github.io/argo-workflows/examples/#parameters)

[2021-03-03 14:16] jancespivo commented on #5268
Of I see they are defined on `spec` level :facepalm:

[2021-03-03 14:22] jancespivo commented on #5268
So for `generatedName` it isn't possible, ok. But it also doesn't work for `synchronization` that is defined in a step.

[2021-03-03 14:24] worms commented on #5252
Incase this is helpful I got this error this morning on one of our workflows using the build I validated 18 hours prior from the dev-docker branch:

exit code 1: Error; failed to wait for main container to complete: timed out waiting for the condition: Error: No such object: 25b3266e708faace9243d6b8bf15dc4c93ae490991b2f91797acae5a23d03b26; ; verify serviceaccount ian-wormsbecker:default has necess

[2021-03-03 14:28] bimtauer opened #5271 "map-reduce example irregularly fails to retrieve key artifact for some map pods with minio storage"
## Summary
Recently upgraded to argo v3.0.0-rc4 and cli-version v3.0.0-rc3. Tried to submit the [map-reduce example](https://github.com/argoproj/argo-workflows/blob/release-3.0/examples/map-reduce.yaml) but it always fails for some `map` pods with `Error (exit code 1): The specified key does not exist.`

Example output:
![image](https://user-images.githubusercontent.com/30375389/109818790-ab0f1200

[2021-03-03 14:53] saranyaeu2987 opened #5273 "UI - show completed runs aggregated for a cron workflow"
# Summary

Currently, completed runs of a cron workflow is available in Workflow view, but that is along with other workflows or cron workflows.
Suggesting an UI enhancement to view the completed runs cron workflow either in /cron-workflows/argo or /workflows/argo

# Use Cases

Easy viewing of completed workflows of a cron  workflow

---

**Message from the maintainers**:

Impacted by this bug? Gi

[2021-03-03 15:04] bimtauer commented on #5271
**Update:**
I tried the same now on EKS with S3 as storage and everything works perfectly fine. Seems to be an issue with minio.

[2021-03-03 15:14] saranyaeu2987 opened #5274 "Show cron schedule in UI"
# Summary
In addition to https://github.com/argoproj/argo-workflows/issues/3649, it would be nice to show the cron schedule information for a workflow run in UI either as a new column or in show details (attached image)

![image](https://user-images.githubusercontent.com/19850718/109826835-d0cef380-7c00-11eb-90f2-7d32516f36d2.png)

# Use Cases

Easy identification of scheduled date time for which

[2021-03-03 15:17] alexec commented on #5274
Would you like to submit a PR?

[2021-03-03 15:20] alexec commented on #5245
Error state is correct state?

[2021-03-03 15:28] saranyaeu2987 commented on #5274
sure

[2021-03-03 15:49] karabill commented on #5245
Yes, the error state is the correct state (i.e. expected state).

[2021-03-03 15:52] alexec commented on #5245
Ok. So this is fixed in v3.

[2021-03-03 15:55] karabill commented on #5245
I have not tried v3, because it was in RC. I will try again when it is released. In the meantime, we can close this issue, it is up to you. @alexec thank you for your help.

[2021-03-03 15:56] alexec commented on #5245
No problem. I'll discus with the team if we plan to fix in v2.12, but I think it is unlikely due to the small number of people impacted.

[2021-03-03 16:02] alexec commented on #5251
@caueasantos can I ask you to look for lines is your log file that say "insignificant pod change" and paste the next log line (a diff) into the console?

[2021-03-03 16:05] caueasantos commented on #5251
@alexec  Sure, just give me a few minutes to run it again

[2021-03-03 16:06] simster7 commented on #5266
This is an Argo CD issue, transferring

[2021-03-03 16:08] simster7 commented on #5247
Released

[2021-03-03 16:08] #5247 closed

[2021-03-03 16:17] alexec opened #5275 "v3.0: 2 deletes expired workflows twice"
We appear to be trying to delete workflows twice:

[code]

[2021-03-03 16:42] simster7 commented on #5260
What version is this on? Can't seem to be able to reproduce

[2021-03-03 16:46] dcherman commented on #5260
I was trying this on what's in master, but it's entirely possible I was using an unsupported combination of services as well (I was running the UI in master while port-forwarding to an older version of Argo that's running in our cluster).

[2021-03-03 16:48] simster7 commented on #5260
Gtocha. Yeah I was not able to reproduce... if you see this bug again feel free to ping this and I'll reopen

[2021-03-03 16:48] #5260 closed

[2021-03-03 16:49] simster7 commented on #5260
One thing that is annoying is that we don't save the pagination preference... will fix that

[2021-03-03 17:01] alexec commented on #5275
I'm not sure this is very important to fix, works OK as it is. Here is a potential fix (that depends on the informer being up to date, which it might not be of course!)

[code]

[2021-03-03 17:13] rpledger commented on #5229
Ah cool, I'll try that out. Thanks @zachaller

[2021-03-03 17:16] simster7 opened #5279 "Improve `make codegen` speed"
# Summary

What change needs making?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-03-03 17:23] alexec commented on #5251
Cool. I've also updated `dev-k8sapi` with some fixes. See if it works with and without `ALL_POD_CHANGES_SIGNIFICANT=true`

[2021-03-03 17:31] caueasantos commented on #5251
@alexec That's odd behaviour 😞 . A few dag tasks hanged again

No matches for "insignificant" on the log files
[code]

[code]

<img width="1710" alt="image" src="https://user-images.githubusercontent.com/46695526/109845454-2b754900-7c1b-11eb-91ed-62b57abbd959.png">

[code]

<img width="535" alt="image" src="https://user-images.githubusercontent.com/46695526/109846614-5ca24900-7c1c-11eb-82d5-46b4f0

[2021-03-03 17:33] caueasantos commented on #5251
Should I try that now or wait?

[2021-03-03 17:41] alexec commented on #5251
Please try now.

[2021-03-03 17:42] caueasantos commented on #5251
Ok

[2021-03-03 17:49] sarabala1979 commented on #5275
It looks like workflow is getting queued on the `delete` event also, need to verify. But the code doesn't have `deletefunc` in the handler.

[2021-03-03 18:12] alexec opened #5281 "container set v1.1: enhanced depends logic"
MVP/v1.0 implementation only supports basic declarative `dependencies. This is limited compared to DAG templates:

* Cannot have partial dependencies - i.e. start whenever one of the dependencies have started
* Dependencies must exit 0 - i.e. what about starting just when the dependency is just complete, regardless of exit code?

See #2551

[2021-03-03 18:14] caueasantos commented on #5251
@alexec Now it's running forever.

Image: dev-k8sapi
ALL_POD_CHANGES_SIGNIFICANT=true

<img width="1178" alt="image" src="https://user-images.githubusercontent.com/46695526/109851589-dbe64b80-7c21-11eb-9341-2888d2620815.png">

<img width="1181" alt="image" src="https://user-images.githubusercontent.com/46695526/109851780-10f29e00-7c22-11eb-8e79-f8b99e904083.png">

Do you want to see any specific l

[2021-03-03 18:15] alexec opened #5282 "container set next steps: container replicas"
Currently, you must specify the exact container names. What if you could have replicas of the same process? Would that be useful?

[code]

This creates containers named `main-0` and `main-1`.

See #2551

[2021-03-03 18:16] alexec commented on #5251
that is worse, not better

[2021-03-03 18:17] alexec commented on #5251
it looks like the wait container does not exit?

[2021-03-03 18:25] alexec commented on #5251
Thank you for all your help on this problem. Are your containers short running (<10s)?

[2021-03-03 18:33] caueasantos commented on #5251
No worries @alexec , Argo projects make my life easier 😄 . Yep, all of them are short running

[2021-03-03 18:37] alexec commented on #5251
I have a hypothesis that we can't collect PIDs for them. Can I ask you to make them run >=10s? Say by adding `sleeps 10s` to them? That way I can test my hypothesis before I embark on a big change.

[2021-03-03 18:37] caueasantos commented on #5251
It does exist, but the main container is created and deleted super fast. We can make it sleep for 15 seconds
[code]

[2021-03-03 18:38] caueasantos commented on #5251
I think you're right. Let me try that

[2021-03-03 19:02] caueasantos commented on #5251
Added 10 seconds

`args: ["sleep 10 && echo {{inputs.parameters.message}}"]`

<img width="1731" alt="image" src="https://user-images.githubusercontent.com/46695526/109857340-9416f280-7c28-11eb-839d-83a998d4209b.png">

<img width="1415" alt="image" src="https://user-images.githubusercontent.com/46695526/109857421-a98c1c80-7c28-11eb-80e0-f47256757541.png">

Works perfectly as it should 🏅

[2021-03-03 19:04] alexec commented on #5251
ok, so that backs-up my hypothesis, should have a new build for you tomorrow

[2021-03-03 23:21] alexec commented on #5251
I've push a new version with the changes to address short-running pods. Can you test please?

[2021-03-03 23:24] caueasantos commented on #5251
Should I use `dev-k8sapi` ?

[2021-03-03 23:26] everton-nasc opened #5285 "Golang fundamental flaw bug - V3.0.0-rc4"
Reopening regression issue. Last issue ref: https://github.com/argoproj/argo-workflows/issues/5192

Hey @alexec
The issue still happening on version `3.0.0.-rc4`
<img width="473" alt="Screen Shot 2021-03-03 at 4 40 07 PM" src="https://user-images.githubusercontent.com/58737540/109886111-35ac3d00-7c45-11eb-8fe4-406de4017ec1.png">
<img width="1292" alt="Screen Shot 2021-03-03 at 4 37 49 PM" src="htt

[2021-03-03 23:40] alexec commented on #5285
fix(controller): Work-around Golang bug. Fixes #5192 (#5230)

[2021-03-03 23:41] alexec commented on #5285
Must have been missed somehow. https://github.com/argoproj/argo-workflows/releases

[2021-03-03 23:41] alexec commented on #5285
@simster7 can I ask this goes in rc5 please?

[2021-03-03 23:42] alexec commented on #5251
Yes please.

[2021-03-03 23:47] simster7 commented on #5285
Yes, sorry. I must have inadvertently skipped it in rc4. I can get a new release out today? @alexec

[2021-03-03 23:59] alexec commented on #5285
No hurry. Next week is ok.

[2021-03-04 00:37] alexec opened #5286 "expression template tag next step: remove unsafe funcs"
https://github.com/Masterminds/sprig/issues/288

https://github.com/helm/helm/blob/a9c581584f6b2d105cb21acd20691074852a3969/pkg/engine/funcs.go#L45-L47

[2021-03-04 01:54] caueasantos commented on #5251
@alexec Perfect!

<img width="1726" alt="image" src="https://user-images.githubusercontent.com/46695526/109897004-048d3600-7c60-11eb-9758-a789259f2edd.png">

<img width="1424" alt="image" src="https://user-images.githubusercontent.com/46695526/109897053-1e2e7d80-7c60-11eb-8b35-4ece61f161b3.png">

I  know that we're stressing the short running scenario here, but the new release candidate version ha

[2021-03-04 02:07] alexec commented on #5251
Do you mean `dev-k8sapi` or `v3.0.0-rc4`?

[2021-03-04 02:08] alexec commented on #5251
The logs look older to me.

[2021-03-04 02:25] caueasantos commented on #5251
`dev-k8sapi` -> The short running is working fine, your changes apparently fixed the issue.

[code]

`v3.0.0-rc3` && `v3.0.0-rc4` -> short running issue + DAG hanging

[2021-03-04 02:28] caueasantos commented on #5251
Yeah. I'm not running this version on production anymore, just captured a little bit before the downgrade.

[2021-03-04 03:17] sarabala1979 opened #5288 "Shutdown strategy is not working 2.12.x onwards."
## Summary

What happened/what you expected to happen?

## Diagnostics

What Kubernetes provider are you using?

What version of Argo Workflows are you running?

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-03-04 07:29] codeflitting opened #5290 "Is there a way to get the PVC name created by Workflow like "{{inputs.parameters.xxxx}} ”"
# Summary

I using  ResourceTemplate in the Template to create my custom job, and want to mount the pvc created by workflow volumeClaimTemplates

Is there any way to configure my ResourceTemplate like "{{inputs.parameters.xxxx”}} ?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-03-04 15:02] #2551 closed

[2021-03-04 15:08] alexec commented on #5290
You want access to the PVCs name in your template? Do you know this already.

[2021-03-04 15:35] sarabala1979 opened #5292 "Workflow is stuck in the running state if the workflow is not able to resolve the Template"
## Summary

What happened/what you expected to happen?

## Diagnostics

What Kubernetes provider are you using?

What version of Argo Workflows are you running?

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-03-04 16:28] Guillermogsjc opened #5294 "Group by subdag on UI"
# Summary

Hi, if you launch a DAG compound by subdags, it would be very nice to watch them in a hierarchichal manner on the UI, specifically the sections that correspond to every subdag.

The idea is to see at the graphic level clearly this structure, being able to group at the root level or come inside any subdag:

[code]

Impacted by this bug? Give it a 👍. We prioritise the issues with the most

[2021-03-04 17:49] rpledger commented on #5229
Tried this out and got it working today!

Here's what I did to get this working:
1. Set `useSDKCreds: true` for the s3 input artifact
2. Mounted the shared credentials file as a secret, for example at `/s3Creds/credentials`
3. Used `podSpecPatch` to set `AWS_PROFILE` and `AWS_SHARED_CREDENTIALS_FILE` as ENVs in the init container

[code]

Thanks @zachaller !

[2021-03-04 19:08] zachaller commented on #5229
Awesome nice to see that it worked. I thought the theory was sound but thank you for reporting back that in practice it dose work.

[2021-03-04 19:09] alexec commented on #5251
I've *another* build to test. I fixed a bug, but found a new bug. Can you try `argoproj/argoexec:dev-pns`?

[2021-03-04 19:31] #2496 closed

[2021-03-04 20:07] #5251 closed

[2021-03-04 20:14] alexec opened #5299 "TestDeletingRunningPodWithOrErrorRetryPolicy is flakey, or is it a bug in retry?"
This test is a flake `TestDeletingRunningPodWithOrErrorRetryPolicy`. But often flakes are bugs.

@sarabala1979 did you suspect a bug in retry?

[2021-03-04 20:24] cscetbon commented on #3156
@discordianfish @alexec I'm not sure it actually does what you're saying. I'm in a situation where volumes and volumeMounts in a template work when I submit it. But if I submit another template that uses this template in a step it complains that it can't find a volume that it wants to mount. I checked by looking at the generated workflow and it doesn't have the volumes, only the volumeMounts. See

[2021-03-04 21:14] #5279 closed

[2021-03-05 01:12] #5299 closed

[2021-03-05 01:14] alexec opened #5304 "container set next steps: container matrix"
It might be neat to be able to specify a matrix and have the containers run all combinations of that matrix, like Github actions, and similar to #5282

[2021-03-05 02:23] codeflitting commented on #5290
[code]

How can i pass volumeClaimName created by workflow's volumeClaimTemplates  to this template?

[2021-03-05 02:38] terrytangyuan commented on #5290
@codeflitting Good to see the use of Kubeflow tf-operator with Argo Workflows in the wild here!

This might be off the topic but would you also like to try out [Couler](https://github.com/couler-proj/couler)? There's integration with MPIJob/TFJob/PyTorchJob and you can use it with just several lines of Python code (see an example on MPIJob [here](https://github.com/couler-proj/couler/blob/master/i

[2021-03-05 02:47] terrytangyuan commented on #5220
From usability perspective, I agree that we should at least try our best to catalogue common errors (e.g. NotExist and NoSuchKey) even though they may be different across various artifact drivers. In the meantime, something like `ARTIFACT_DRIVER_TRANSIENT_ERROR_PATTERN` I mentioned above can be useful for further customization and corner cases handling.

[2021-03-05 03:09] dongwangdw opened #5306 "argo doesn't work in openshift clusters"
## Summary

I deployed hello-world demo.
But I it got stuck for long in stage of pod creating.
I describe the pods and I got as below:
[code]

## Diagnostics

What Kubernetes provider are you using?
OCP 4.6.19

What version of Argo Workflows are you running?
2.12.9

[code]
Just the hello-world demo in ocp

[code]
[code]
---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We

[2021-03-05 03:13] dongwangdw commented on #5306
This issue shoule related to #826.
And I also tried the test here. It worked for me run a test pod with hostPath.
Any hints for this?

[2021-03-05 03:14] dongwangdw commented on #826
I have this issue too. I have opened a new issue. Please help. Thanks.

[2021-03-05 03:51] alexec commented on #5306
try using PNS executor

[2021-03-05 04:32] caueasantos commented on #5251
@alexec Sorry about the late, busy day 😃 .

What did I do?

Pulled the latest version into my environment again  `v3.0.0-rc4` and used your executor image `argoproj/argoexec:dev-pns`

<img width="1091" alt="image" src="https://user-images.githubusercontent.com/46695526/110066724-1f36dc00-7d40-11eb-9d21-7be89b672fee.png">

<img width="683" alt="image" src="https://user-images.githubusercontent.com/

[2021-03-05 06:20] dongwangdw commented on #5306
Sorry，I am new to this project.
Is there a link/doc for this?

[2021-03-05 07:36] #5290 closed

[2021-03-05 07:59] codeflitting commented on #5290
pvcName: {{workflowName}}-{{volumeClaimTemplateName}}

[2021-03-05 12:41] brychcy commented on #2901
This didn't work for me even with argo 2.12.9 because I tried to specify maxDuration in days (`maxDuration: "14d"`).
It looks like this time unit is not supported for this field.
After switching to hours it works: `maxDuration: "336h"`

[2021-03-05 12:44] sylock opened #5308 "Issue of CAPS on Openshift 4"
## Summary

On Openshift 4 (with PNS engine), starting a workflow raise an error:
[code]

I did created a scc with the required capabilities:
[code]

Here is the minimal workflow that raise it. Note that I use a specific namespace (argo-nim) and a specific serviceAccount (argo):
[code]

The argo serviceAccount is binded with the clusterrole argo-run which allows the use of the scc argo-scc:
[code]

[2021-03-05 13:09] mailtoraja18 commented on #4859
Can you suggest me a base image that could work ?

[2021-03-05 14:18] nkitajim commented on #5256
# Workround1
## Pattern1. mount hostpath busybox
[code]
## Pattern2. initContainer copy busybox
[code]
# Workaround1 drawbacks
distroless container security

# Workaround2
## EphemeralContainers
[code]
# Workaround1 drawbacks
slow

[2021-03-05 14:22] lnguyen commented on #5251
hi @alexec i'm also running into this, I'm using onepanel on microk8s with pns executor and have output artifacts issues. Looks like onepanel mounts with pvcs https://github.com/onepanelio/onepanel/blob/a079c176930e83d5176645bf49080bf2971d1352/db/yaml/workflows/maskrcnn-training/20210118175809.yaml#L159-L164, any tips on how i can get more reliable running with pns, i tried running v3.0.0-rc4 and

[2021-03-05 14:43] munjalpatel opened #5310 "Unable to patch a resource"
Hello,

I am trying to patch `sa` to add an `imagePullSecret`

Here is the template I am using:
[code]

When I run this, I keep getting this error:
[code]

Here is the full log from the step:
[code]

[2021-03-05 15:29] terrytangyuan commented on #5310
This seems to be a bug. I created https://github.com/argoproj/argo-workflows/pull/5311 to fix it. As a workaround, you can try providing some flags to your resource, e.g. `--record=false`.

[2021-03-05 16:48] alexec opened #5312 "TOB-ARGO-0006"
We use `defer f.Close()` when write to a file. This may fail because the data cannot be flushed to disk. For file write operations, we should instead do `err := f.Close()`.

[2021-03-05 16:51] alexec commented on #4859
Use the latest version, debian I think.

[2021-03-05 16:51] alexec commented on #5306
https://github.com/argoproj/argo-workflows/blob/master/docs/workflow-executors.md

[2021-03-05 17:42] #5292 closed

[2021-03-05 18:15] simster7 commented on #3644
@laymain Please add any feedback you may have at #5315

[2021-03-05 19:12] #5271 closed

[2021-03-05 21:49] alexec opened #5316 "container set next steps: save all pod logs to artifact storage, not just main"
Currently, if you want to capture logs, we only capture the main container.

[2021-03-06 00:31] #5130 closed

[2021-03-06 00:31] #5288 closed

[2021-03-06 01:22] munjalpatel commented on #5310
@terrytangyuan where/how can I provide these flags in the following manifest?

[code]

[2021-03-06 02:43] terrytangyuan commented on #5310
Flags can be supplied in `resource.flags` of your template. Here's an example: https://github.com/argoproj/argo-workflows/blob/master/examples/resource-flags.yaml

[2021-03-06 15:43] munjalpatel commented on #5310
@terrytangyuan when I add flag `--record=false` I now get the following error:
[code]

Here is my updated template:
[code]

[2021-03-06 17:52] aviam commented on #2884
This issue is back on version 3+

[2021-03-06 20:58] kennytrytek commented on #4556
Docs PR merged; this can be closed unless there was more work to do?

[2021-03-07 03:33] bryanrideshark opened #5318 "Lint fails to report a Name which is over 63 characters long"
## Summary

What happened/what you expected to happen?

When you hard-code a `name` for your workflow, if the length is over 63 characters the entire thing dies on the vine.

Rookie mistake on my part, but it would be nice if Lint would error out in these circumstances.

Lint should prevent users from submitting a broken workflow.

## Diagnostics

What Kubernetes provider are you using?

Microk8s

[2021-03-07 04:28] #4556 closed

[2021-03-07 15:01] kennytrytek opened #5320 "Emit WorkflowNodeRunning Event"
# Summary

Per [this Slack conversation](https://argoproj.slack.com/archives/C8J6SGN12/p1612209054251200):
Workflow nodes emit events when they complete, but not when they start.

# Use Cases

External systems relying on Argo events to know about Workflow executions can see when a node starts instead of only knowing when it completes.

---

**Message from the maintainers**:

Impacted by this bug?

[2021-03-07 15:03] kennytrytek commented on #5320
I'd be willing to open a PR for this.

[2021-03-07 16:36] alexec commented on #3523
There are two main interpertations of "multi-cluster":

1. 🚀  A single installation of Argo Workflows in one cluster that runs workflows created in other clusters, and exposes a single user interface for all workflows in all clusters (#4684). It is possible to run workflows in multiple clusters today with multiple installations, so this is about simplifying management or Argo Workflow when you hav

[2021-03-07 19:21] dafinguzman opened #5321 "Random steps fail with message "pod deleted""
## Summary

We operate with calls to a 3-step workflow in Argo-events using a RabbitMQ trigger (each step uses as input an artifact from the previous one). We set up the workflow around the second semester of 2020, with Argo v2.10.0 rc4, and put it in production with no issues. We have now over 700 run workflows.

Suddenly, around January-February this year, a random number of pods started getting

[2021-03-07 22:32] alexec commented on #5321
There's been some bug with the latest PNS executor. Please make sure you're not running `argoproj/argoexec:latest` and that you are running the matching version for your controller.

[2021-03-07 23:42] dafinguzman commented on #5321
Thanks for the response @alexec. We could not get it to work with the PNS executor today and we didn't have more time for testing, so we reverted to the original Docker Executor for now.

[2021-03-08 02:45] terrytangyuan commented on #5310
Let's wait until https://github.com/argoproj/argo-workflows/pull/5311 gets merged and then you can try the latest images built from master branch.

[2021-03-08 05:07] joyciep commented on #3523
Our use case for option 2:

Our workflow involves different steps involving different clusters. First few steps are for extracting and preprocessing the data in the first cluster, then the next step is to train the data in a separate cluster (with GPU) for machine learning purposes.

[2021-03-08 06:22] joshuajorel commented on #3523
@alexec point 2 might be more extensible in terms of scaling i.e. deploy workflow controllers in different namespaces and/or clusters and they communicate with a single argo server. Might also open the possibility of having workflow controllers outside kubernetes (VM deployments) since we might not want specialized hardware such as GPU machines to be part of a cluster.

[2021-03-08 06:57] amanmahajan26 commented on #2298
@rmgpinto : How do we give the pod the permission to write to s3?

[2021-03-08 07:22] ppapasani1 opened #5323 "Argo UI- Column names and data are not aligned"
## Summary

Argo UI- Column names and data are not aligned

## Diagnostics

What Kubernetes provider are you using?
On-prem

What version of Argo Workflows are you running?
V3.0.0-rc4
![image](https://user-images.githubusercontent.com/37124509/110287778-eabf5c00-7f9b-11eb-857d-eb0777306235.png)

[2021-03-08 14:48] simster7 commented on #5323
Yup, it is indeed annoying. I'm already working on a fix for this.

[2021-03-08 15:19] paltaa commented on #5321
hey @alexec we were using Docker executor, tried to switch to PNS executor, same version of the controller 3.0.0-rc4 but still no useful errors from the wait, init, or workflow-controller, it seems it just stops sending data, noticed it sends pod status every 5 mins

[2021-03-08 16:00] alexec commented on #5321
It is important with this issue to determine if the pod was actually deleted (e.g. Kuberenetes evicted it because it needed the resources) or was not.

[2021-03-08 16:11] simster7 opened #5326 "v2.12.10 cherry-pick"
* [ ] Simon Behar: fix: Minor UI fixes (#5325) 8309fd831
* [x] Simon Behar: fix: Disallow object names with more than 63 chars (#5324) 67f8ca27b
* [ ] Alex Collins: fix(executor): Delegate PNS wait to K8SAPI executor. (#5307) b048875dc
* [x] Saravanan Balasubramanian: fix(controller): shutdownstrategy on running workflow (#5289) a5d1accff
* [x] Saravanan Balasubramanian: fix: Backward compatible w

[2021-03-08 16:14] simster7 opened #5327 "v3.0.0-rc5 cherry-pick"
* [x] Simon Behar: fix: Minor UI fixes (#5325) 8309fd831
* [x] Simon Behar: fix: Disallow object names with more than 63 chars (#5324) 67f8ca27b
* [x] Alex Collins: fix(executor): Delegate PNS wait to K8SAPI executor. (#5307) b048875dc
* [x] Saravanan Balasubramanian: fix(controller): shutdownstrategy on running workflow (#5289) a5d1accff
* [x] Saravanan Balasubramanian: fix: Backward compatible w

[2021-03-08 16:16] #5318 closed

[2021-03-08 16:18] alexec commented on #5327
Done.

[2021-03-08 16:18] alexec commented on #5327
Done.

[2021-03-08 16:18] #5323 closed

[2021-03-08 17:15] #4746 closed

[2021-03-08 18:25] paltaa commented on #5321
That is not possible, the workflow run in order 3 pods that are executed in a dedicated node with plenty of resources, showed in the grafana dashboard at the begining of the issue, we do now know for sure it was not deleted anyways, any logs/events that saves this? As this happense randomly its hard to be around checking the pods every few minutes

[2021-03-08 18:27] alexec commented on #5321
The Kubernetes audit log is very helpful for finding out what happened:

https://kubernetes.io/docs/tasks/debug-application-cluster/audit/

[2021-03-08 18:41] fasmat commented on #5243
I think I'm also affected by this. Were you able to get argo working on AKS 1.19.7?

[2021-03-08 18:58] alexec opened #5329 "Improve the docs!"
But what specifically needs improving? Please comment!

[2021-03-08 18:59] schoeffm commented on #5243
Well yes, I got it up and running - and finally it was my fault. Basically, with AKS 1.19.x Azure abandoned docker as container-runtime ... hence the docker.sock cannot be mounted anymore.
But when reading through the docs I found this: https://argoproj.github.io/argo-workflows/workflow-executors/
I changed from `docker` (as default) to `k8sapi` and got it working - you can do this via config-map:

[2021-03-08 19:03] alexec opened #5330 "Do you want Python 1st-class support?"
And what does that even mean? Did you read [this blog post](https://blog.argoproj.io/authoring-and-submitting-argo-workflows-using-python-aff9a070d95f)?

[2021-03-08 19:04] fasmat commented on #5243
Thanks for the quick response! This also seems to have solved it for me.

So far I've only used the ``k8sapi`` executor locally with kind, but since Kubernetes deprecated dockershim maybe we can make this the new default @alexec ?

[2021-03-08 19:46] knkarthik commented on #3807
@sarabala1979 I'm still getting `spec.arguments.date.value is required` error using https://raw.githubusercontent.com/argoproj/argo-workflows/master/examples/cron-backfill.yaml

[code]

[2021-03-08 20:20] marct83 opened #5332 "SSO - Keycloak"
Having some trouble setting up SSO with Keycloak. Followed the docs. I have the client created in the Keycloak realm. Secrets created. Config map updated. Server using the --auth-mode sso arg. When I try the SSO Login I get this error:

failed to exchange token: oauth2: cannot fetch token: 400 Bad Request
Response: {"error":"invalid_grant","error_description":"Code not valid"}

[2021-03-08 21:34] groodt opened #5333 "Argo Workflows resource naming"
# Summary

The ship may have already sailed, but I think that the names of the Kubernetes resources may be confusing to beginners. I even find them confusing myself, and I've been a user for a while now! 😂

There is:
`Workflow`
`Template`
`Step`
`Workflow Template`

The concepts make sense after using them for a while, but they aren't immediately obvious and I think the concept of a "template" is

[2021-03-08 22:12] alexec commented on #5333
This is confusing, but I think we are stuck with it. Would you like to help improve the docs for this?

[2021-03-08 22:46] simster7 commented on #5327
Released

[2021-03-08 22:46] #5327 closed

[2021-03-09 02:15] groodt commented on #5333
I'm not sure this is truly solvable with documentation. The documentation is clear in my opinion, but it expects somebody to read all of it. I think it's confusing even during conversations with people who have read the documentation. It's not always clear when somebody says "template", which "template" they are talking about. Yes, sometimes context helps to clarify this, or the speaker can try to

[2021-03-09 07:07] hadesy opened #5337 "Istio sidecar not terminated when main container completes"
## Summary

I enable Istio automatic injection for argo worker pods, but after the main container completed, the serving sidecar was not terminated, and left the pipeline stuck in a running state.

I expected the sidecar to get terminated after the main container completed.

## Diagnostics

What Kubernetes provider are you using?

- ACK 1.18.8

What version of Argo Workflows are you running?

- v3

[2021-03-09 07:41] Bobgy opened #5338 "comply with licenses of argo's dependencies when releasing images"
# Summary

What change needs making?

Integrate a process into argo release to comply with licenses of argo's dependencies and transitive dependencies built into the binary.

I am already doing this process for argo in https://github.com/kubeflow/pipelines/pull/5266 (see issue https://github.com/kubeflow/pipelines/issues/5232) when kubeflow/pipelines redistributes argo workflow images, using a too

[2021-03-09 09:30] servo1x commented on #3523
Where option 2 might be nice is where there is a secondary cluster for windows nodes. Our primary cluster (linux) uses a CNI not compatible with windows so we had to set up a separate cluster. It would be nice if our argo workflows that is on our primary server had the capability to schedule workloads on the secondary cluster for windows specific tasks.

[2021-03-09 10:27] sylock commented on #5308
Any idea? When I run a pod mannually (with the same user), I can get the capabilities. So it seems to deal with the way the PNS argo engine is instanciating the POD that prevent the right SCC to be chosen.

Another point: what works (also with argo) is when I define the user directly in the scc (in the USERS list). But doing it with the roles and rolebinding as explained in the first message does

[2021-03-09 10:43] terrytangyuan commented on #5338
We used [this tool](https://github.com/kubeflow/testing/tree/master/py/kubeflow/testing/go-license-tools) for Kubeflow training operators before they graduated. Could that be reused instead of building another tool?

[2021-03-09 11:54] Bobgy commented on #5338
For clarification, I'm not opinionated about which tool to use.
I think https://github.com/github/licensed might be a good choice too.

[2021-03-09 14:24] dongwangdw commented on #5306
@alexec Thanks. I will try this.

[2021-03-09 15:10] simster7 opened #5340 "v3.0.0-rc5 UI not loading"

[2021-03-09 15:10] simster7 commented on #5340
Working on a fix right now

[2021-03-09 15:34] ecurtin2 commented on #5330
First, I'd like to thank all the contributors for a lovely project. I'll try and help the discussion here with my perspective.

I've been using argo workflows for about 2 years now in the context of ML pipelines and have been quite happy. The problems that I personally come across that I think would be aided by top tier python support are:

1. Code reuse via normal language constructs (and python

[2021-03-09 15:37] everton-nasc opened #5341 "retryStrategy limit execute more than specified"
## Summary

Setting the `retry policy limit` integer, the algorithm is being identifying the limit integer as an array instead a plane integer.

## Diagnostics
**Scenario 1**
Retry policy limit = 2
Retry on = `Always`
**Expected**: Flankey test has executed 2 times
**Measured**: Flankey test has executed 3 times
<img width="1264" alt="Screen Shot 2021-03-09 at 9 15 28 AM" src="https://user-images.

[2021-03-09 17:33] alexec commented on #5337
Can you please say why?

[2021-03-09 19:41] #5340 closed

[2021-03-10 01:11] simster7 opened #5349 "FAIL: TestWorkflowShutdownStrategy/TerminateStrategy"
`FAIL: TestWorkflowShutdownStrategy/TerminateStrategy` is flake

https://github.com/argoproj/argo-workflows/runs/2071978101

[2021-03-10 01:11] simster7 commented on #5349
@sarabala1979 ?

[2021-03-10 01:11] simster7 commented on #5326
Released

[2021-03-10 01:11] #5326 closed

[2021-03-10 02:36] hadesy commented on #5337
fixed

[2021-03-10 13:23] svmaris opened #5351 "Allow sprig expressions in WorkflowEventBinding submit metadata"
# Summary

#4640 added support for expressions in the name of webhook-submitted workflows. Please allow sprig functions as well.

# Use Cases

We're in the same boat as @michaeljohnalbers . We're using Bitbucket Server Webhooks to trigger generic build pipelines in Argo Workflows. Multiple services (repos) are handled by the same WorkflowTemplate. When submitting new Workflows, we'd like to see th

[2021-03-10 15:10] worms opened #5352 "init container stuck listing directory from S3"
## Summary

We are using 3.0.0 rc6. We are finding that often the init container seems to stop pulling down artifacts from S3. We see this log line and then nothing further for hours. The directory in question in S3 has 20 files in it, the largest is a few megabytes. Any suggestions on other data to acquire or look at?

time="2021-03-10T14:21:21.079Z" level=info msg="Downloading artifact: segment-

[2021-03-10 15:20] worms commented on #5352
Awesome. If you have a branch pushed I can build and test for you :)

[2021-03-10 15:29] alexec commented on #5351
Would you like to submit a PR? You'd need to make changes:

https://github.com/argoproj/argo-workflows/blob/80b5ab9b8e35b4dba71396062abe32918cd76ddd/server/event/dispatch/operation.go#L189

Similar to:

https://github.com/argoproj/argo-workflows/blob/master/util/template/template.go#L34

[2021-03-10 15:50] simster7 commented on #5352
Thanks! This would be great... I'm building a dev image for you

[2021-03-10 16:11] yuvarajpalaniappan opened #5354 "cronworkflow with concurrencypolicy: "Replace""
I was trying to apply cmd "argo cron create " for second time with with concurrencypolicy: "Replace" , it was throwing error "AlreadyExist"
Scenario: I was automating argo workflow yaml with application code using gitlab. Consider there is change in cronworkflow yaml and application code, there is already cronworkflow is created in environment. i am changing cronworkflow yaml and i am applying usi

[2021-03-10 16:38] simster7 commented on #5354
You cannot use `argo cron create` to create a cron workflow that already exists. Either edit it with `kubectl edit cwf <CRON_WORKFLOW_NAME>` or delete it and re create it `argo cron delete <CRON_WORKFLOW_NAME> && argo cron create`

[2021-03-10 16:55] yuvarajpalaniappan commented on #5354
@simster7 Deleting cronworkflow deletes corresponding workflow associated  with it. Not able to understand use of functionality concurrencypolicy: "Replace", will not replace cronworkflow.

[2021-03-10 17:51] XciD opened #5355 "Pending pod not stopped by Argo on Stop"
## Summary

What happened/what you expected to happen?

We have a workflow that spawn a pod. The workflow is being interrupted but the pod was still not on Running on kubernetes API. The workflow stops but the pod is still running (until grace period I suppose)

Some events timeline:
[code]

What you expected to happen:
- The main container should have received a signal to shutdown or pod should h

[2021-03-10 17:54] simster7 commented on #5354
You can see what concurrency policy does [in the cron workflow doc](https://github.com/argoproj/argo-workflows/blob/master/docs/cron-workflows.md#cronworkflow-options). In short, it affects Workflows spawned by the Cron Workflow, not the Cron Workflow itself.

In general, you don't want to update your Cron Workflow object often, but if you want to automate Cron Workflow YAML with CI/CD, you might

[2021-03-10 18:13] alexec opened #5356 "simplify execution control"
I think the system could be simplified greatly. Execution control has two purposes:

* Set the `includeScriptOutput` flag. This is immutable and we can use the `ARGO_INCLUDE_SCRIPT_OUTPUT` flag.

[2021-03-10 19:21] simster7 commented on #5355
We've made some fixes to this recently. Could I ask you to try if this issue exists on `v2.12.10` (latest)?

[2021-03-10 19:27] #5355 closed

[2021-03-10 19:55] alexec commented on #4467
This is a yes from me. I think we should build a new template called `resource2` and have the agent execute it.

[2021-03-10 20:06] jessesuen commented on #4467
So are you suggesting we poll instead of watch? I think that would be reasonable and less taxing on API server. I guess the next question is how will users get the ability to control this interval

The choice of using kubectl was a convenience. The resource template is 3+ years old and at the time:
1) dynamic client did not exist
2) kubectl logic was not consumable as a library

Now that they do,

[2021-03-10 20:17] alexec commented on #4467
How about updating the current resource implementation to use a dynamic informer then? I anticipate that we would be able to reuse that code in the agent.

[2021-03-10 20:23] terrytangyuan commented on #4467
Thank you! I think we can reuse the existing resource template. I don't think we want to switch to informer yet as that would require additional resources on executor pod whereas currently the requirements can be customized to be minimal.

Just to clarify - the main changes of my proposal would be:
1. Switch to use k8s SDK instead of `kubectl` so it's more configurable and friendly to monitoring t

[2021-03-11 01:17] #5310 closed

[2021-03-11 07:01] yuvarajpalaniappan commented on #5354
@simster7 is there reason we should not  update your Cron Workflow object often? is there is a negative impact?

[2021-03-11 07:56] howshit opened #5361 "Error updating workflow: Operation cannot be fulfilled on workflows"
## Summary

What happened/what you expected to happen?

We are using argo to run jobs, and when the cluster in under heavy load, we encounter some weird things, the workflow is created via a node.js k8s client, and the response is successful but the job is not executed at all, and no pod gets created, and the metacontroller sync and finalize hook is never invoked but the workflow and the pod are a

[2021-03-11 08:19] howshit commented on #5361
I found a related issue: https://github.com/argoproj/argo-workflows/issues/3158, which is already closed

[2021-03-11 10:10] jacek-jablonski opened #5362 "UI [v3.0.0-rc*]: infinite logs loading after pod is garbage collected"
## Summary

This occurs after workflow is completed (successfully or not) and is still present on `Workflows` list. I go to completed workflow details and click `MAIN LOGS`. Spinner `Waiting for data...` shows and logs are never loaded.

However when Workflow land in `Archived Workflows` I can click `MAIN LOGS` and are visible instantly.

## Diagnostics

What Kubernetes provider are you using?
GKE

[2021-03-11 11:55] gasgithub commented on #2581
This doesnt work even after defining:
[code]

I'm still getting:
[code]
and error like:
[code]

Anything missing?? Could you please give any hints.

[2021-03-11 14:45] ChaosInTheCRD commented on #2064
I just experienced the same issue on GKE `v1.19.7-gke.1500` - Not sure why it fixes it but setting the executor to be `pns` did the trick. I thought that Docker was the executor by default, should that not have worked fine? Maybe someone has some views/advice on this.

[2021-03-11 15:23] simster7 commented on #5361
Would you mind trying latest to see if the fix is already in the codebase?

[2021-03-11 16:35] simster7 opened #5365 "TestResubmitPendingPods is flakey"
[code]

[2021-03-11 17:06] sarabala1979 opened #5366 "TestWorkflowTemplateRefWithShutdownAndSuspend flacky"
## Summary

What happened/what you expected to happen?

## Diagnostics

What Kubernetes provider are you using?

What version of Argo Workflows are you running?

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-03-11 17:07] sarabala1979 opened #5367 "Workflow workers and TTL worker are silently stoped if any handled panic in processingNextItem function"
## Summary

What happened/what you expected to happen?

## Diagnostics

What Kubernetes provider are you using?

What version of Argo Workflows are you running?

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-03-11 17:13] henrik-koren commented on #5306
I try to run with the pns executor the same issues
`Events:
  Type     Reason       Age                   From               Message
  ----     ------       ----                  ----               -------
  Normal   Scheduled    9m26s                 default-scheduler  Successfully assigned argocd/sparkly-bear to tkg01-workers-8s68h-75fcdc9cb6-kstrh
  Warning  FailedMount  7m23s                 k

[2021-03-11 17:46] Matzz opened #5368 "Allow expresions in metrics value"
# Summary
I'm using Argo v2.11.7. I think it would be very useful to allow expressions in metrics values:
[code]
Right now I'm getting:
`✖ MetricsError unable to substitute parameters for metric 'test_metric1': failed to resolve {{1+2}}`
I also tried `value: '{={1+2}}'` but with the same result

# Use Cases
Calculate more sophisticated metrics. For example I wanted to report the current status of

[2021-03-11 17:51] simster7 commented on #5368
I'll get a PoC on this

[2021-03-11 17:52] simster7 commented on #5368
Metric expressions are not available in `v2.*`. I think they're available on `v3.0.0-rc*` though

[2021-03-11 18:45] alexec commented on #5368
This is a dupe of #5239 . @Matzz would you like to submit a PR?

[2021-03-11 18:51] alexec opened #5369 "allow workflow retention by number of workflows, rather than time"
We want to limit the size of the data set. Rather than TTL based on time, what about TTL based on number of workflows?

[code]

[2021-03-11 19:08] wdma commented on #1486
Hello,
I had been successfully using the Argo Quickstart manifest and am now trying to install the secure manifest, but am getting
this error when trying to run "argo submit..." (The workflows have worked with the QuickStart manifest.)  @inc0, your comments suggest that I have a resource issue.  Is there a test I can run to find the source of the error?

Thank you!

[2021-03-11 19:38] #5352 closed

[2021-03-11 19:54] alexec commented on #5369
I think users would want a per-namespace configuration for this. Creating a new ticket.

[2021-03-11 19:55] alexec opened #5370 "configure workflow retention per namespace"
See #5369

[2021-03-11 20:22] terrytangyuan opened #5371 "Wait containers stuck in pod watching 403"
## Summary

What happened/what you expected to happen?

[code]

[code]

## Diagnostics

What Kubernetes provider are you using?

[code]

What version of Argo Workflows are you running?

v3.0.0-rc6 or latest from master branch with k8sapi

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-03-11 20:54] alexec commented on #5371
Does your SA have ‘watch pod’ as well as ‘get pod’?

[2021-03-11 20:58] terrytangyuan commented on #5371
I applied https://github.com/argoproj/argo-workflows/blob/master/manifests/install.yaml directly with a fresh namespace and k3d cluster.

[2021-03-11 21:04] terrytangyuan commented on #5371
Actually good reminder. I added `serviceAccountName: argo` and then everything works as expected now.

[2021-03-11 21:26] terrytangyuan commented on #5371
On the other hand, emissary executor has better logs `pods "resubmit-qpft5-2434376666" is forbidden: User "system:serviceaccount:argo:default" cannot patch resource "pods" in API group "" in the namespace "argo"`

[2021-03-11 22:05] alexec commented on #5371
Would you like to submit PR to improve messaging?

[2021-03-11 22:09] terrytangyuan commented on #5371
Sure

[2021-03-11 23:47] svmaris commented on #5351
@alexec After spending half a day on figuring out how to get `template.Replace()` working, I finally realised I just needed to get the extra helper functions in the `env` for `expr` 🤦 . Fix is in #5373.

[2021-03-12 06:50] howshit commented on #5361
Hi @simster7,

yes I will. it might take some time to go through the upgrade processes, and I will update what I find in the issue, thank you.

Best regards,
Felix

[2021-03-12 14:44] philippeboyd commented on #5362
I'm having the same issue but not when setting `pdGC`. Linked to #5002 , I get this behaviour on the Daemon pod. When using the yaml provided in #5002 's description, the Daemon pod is still (visually) running but is completed in K8S. The issue of the infinite logs loading happens on that Daemon pod but not the other one.

[2021-03-12 15:05] paltaa commented on #5321
Hey Alex! Will take a look at that during the weekend, thanks! will keep you posted

[2021-03-12 15:09] mweibel opened #5376 "wait container unable to start in windows on version >2.12.6"
## Summary

Currently running argo workflows version 2.12.0-rc2 and tried to upgrade to 2.12.9 a few days ago.
I noticed the workflows failing due to the wait container. Workflows are being sent the exact same way.

After deploying everything from the working 2.12.0-rc2 I had before up to 2.12.10, I noticed the issue seemed to appear in 2.12.7 (-> 2.12.6 is the last working version).

Error is rel

[2021-03-12 15:49] simster7 commented on #5376
Paging our Windows expert @lippertmarkus

[2021-03-12 16:56] #5351 closed

[2021-03-12 17:06] alexec commented on #4894
@sarabala1979 do you want to own this? It is the 6th most popular issue now.

[2021-03-12 17:09] alexec opened #5377 "How to help: ⭐ the repo, 👍 your top issues"
We need to beat Argo CD to 10k stars, so ⭐  the repo!

We [prioritize our issues based on 👍 ](https://github.com/argoproj/argo-workflows/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc), so thumbs-up any issue you care about. Go one step further, and add the use case or problem you're trying to solve.

[2021-03-12 17:12] alexec opened #5378 "deep insight sidecar"
We could run a sidecar with each pod that surfaces information about the running process. E.g. access to file system.

[2021-03-12 17:37] alexec opened #5379 "TOB-ARGO-034: document release cycle"
Examples:

* https://kubernetes.io/docs/setup/release/version-skew-policy/
* https://redis.io/topics/releases
* https://www.kernel.org/category/releases.html

[2021-03-12 18:32] wdma opened #5380 "Error: "no workflow definition in file" using standard installation and Hello World workflow"
## Summary

I had been successfully using the Argo Quickstart manifest and am now trying to install the secure manifest (https://raw.githubusercontent.com/argoproj/argo-workflows/master/manifests/namespace-install.yaml), but am getting
the error "no workflow definition in file" when trying to run the Hello World example (https://argoproj.github.io/argo-workflows/examples/#hello-world). This is the

[2021-03-12 18:33] wdma commented on #5380
The node status did not paste correctly.  Here it is again.

Calico process is running.

IPv4 BGP status
+-----------------+-------------------+-------+------------+-------------+
|  PEER ADDRESS   |     PEER TYPE     | STATE |   SINCE    |    INFO     |
+-----------------+-------------------+-------+------------+-------------+
| 143.198.57.235  | node-to-node mesh | up    | 2021-03-10 | Establish

[2021-03-12 18:41] lippertmarkus commented on #5376
Just tried the most basic workflow (https://argoproj.github.io/argo-workflows/windows/#schedule-hybrid-workflows) on v2.12.7 without a problem. Does that also don't work for you or is it just happening for a more complex workflow?

Are you using the docker executor?

Also could you please provide the Windows Build and Docker version? Here's what I tried with:
[code]

[2021-03-12 19:16] #5285 closed

[2021-03-12 20:11] wdma commented on #5329
I think it would be useful to have a bit more documentation on the Quickstart page.  In particular, what is the expected starting point?  Here is the Quickstart page for Calico as an example of what I think would be nice: https://docs.projectcalico.org/getting-started/kubernetes/quickstart

I have been developing successfully the Argo Quickstart manifest, but as I have grown, I now want to use the

[2021-03-12 20:58] #5337 closed

[2021-03-12 22:03] terrytangyuan commented on #5329
One thing I saw people asking a lot is technical details of the implementation that would help them maintain their Argo Workflows deployments. For example, https://argoproj.github.io/argo-workflows/environment-variables/ is a good start but we could do a better job highlighting various configuration options for people to manage different scalability/stability issues on their clusters (although the

[2021-03-12 23:14] #3644 closed

[2021-03-13 03:39] dinever opened #5388 "{{retries}} variable in PodSpecPatch not correctly updated"
## Summary

When using `{{retries}}` inside a PodSpecPatch:

[code]

The variable is not being updated at each retry.

## Diagnostics

What Kubernetes provider are you using?

Running on local k3d

What version of Argo Workflows are you running?

Latest master (982e5e9df483e0ce9aa43080683fabadf54e83f2)

[code]

In this example, the memory limit will always be 64MB not matter how many times we retr

[2021-03-14 01:12] simster7 opened #5392 "Metrics panic"
[code]

`commit fcb098995e4703028e09e580cb3909986a65a595`

[2021-03-14 01:20] simster7 commented on #5392
[code]

[2021-03-14 04:13] #4418 closed

[2021-03-14 06:44] lowc1012 commented on #5044
Hi, this link is no longer active.  https://argoproj.github.io/community/join-slack
Someone can invite me with a new link?
Thanks!

[2021-03-14 17:15] alexec commented on #5044
@alexmt maybe this link could last longer?

[2021-03-15 01:14] simster7 commented on #5362
@jacek-jablonski @philippeboyd Sorry for the delay, can you guys confirm if this is a regression? Is this problem present on `v2.12.*`? If not, is it present on all the `v3.0.0-rc*` releases `<6`?

[2021-03-15 01:37] simster7 opened #5398 "Proposal: failureStrategy for DAGs and expandable tempaltes"
# Summary

Support more advanced strategies for when failing from a DAG or Steps template.

# Use Cases

Currently a DAG has `failFast`, and [recently](https://github.com/argoproj/argo-workflows/issues/3644#issuecomment-799033153) templates also support `failFast` in conjunction with `parallelism` and `with{Items,Prams}`, etc. However, this could be extended further.

Something like:
[code]

---

[2021-03-15 01:39] simster7 commented on #3644
This is now supported by setting `failFast: true` in the template that invokes the items/has a `parallelism: 1`

[code]

This will be out on v3.1

[2021-03-15 01:41] simster7 commented on #3644
Tagging upvoters: @tanenbaum @ppapasani1 @jbehling @oliverwm1 @shbalaku @trim777 @bybybybyb @dinever @rajasudhan @raph-af @camilocot

[2021-03-15 02:03] simster7 commented on #5044
Cronjob to update?

[2021-03-15 02:28] simster7 opened #5399 "Sprig can return default values and no error if no evaluation is possible"
Not sure if there's anything we can or we should do. This is Sprig's [explicit behavior](https://github.com/Masterminds/sprig/tree/3ac42c7bc5e4be6aa534e036fb19dde4a996da2e#principles-driving-our-function-selection):

[code]

So, the user is responsible for knowing this?

Example:

[code]

Result:
[code]

[2021-03-15 07:17] #4637 closed

[2021-03-15 09:23] #2356 closed

[2021-03-15 15:03] terrytangyuan commented on #5380
How did you submit? `argo submit examples/hello-world.yaml -n argo --serviceaccount argo` worked fine to me.

[2021-03-15 15:20] alexec commented on #5399
This is why I did not include Spig functions at top-level (i.e. `sprig.toInt` rather than `toInt`), so we can provide our own safe versions (pending user 👍 )

[2021-03-15 15:29] dinever commented on #5399
Looks like `sprig` uses [cast.ToInt](https://github.com/spf13/cast/blob/8d17101741c81653ee960aa20f9febb31f1218aa/cast.go#L65-L69) for type conversion, `err` is omitted.

If we really want to raise the error, we can implement our own type conversion functions by using `cast.ToIntE`. e.g.:

[code]

Workflow:

[code]

Output:

[code]

[2021-03-15 16:03] wdma commented on #5380
The command I used is

argo submit -n argo --watch whalesay.yaml

The error I am getting is:

FATA[2021-03-15T16:00:44.392Z] unknown (get workflows.argoproj.io)

[2021-03-15 16:49] alexmt commented on #5044
Link is updated. For some reason, slack no longer allow shared links that last longer than 1 month

[2021-03-15 16:59] #5044 closed

[2021-03-15 16:59] alexec commented on #5044
thank you!

[2021-03-15 17:52] philippeboyd commented on #5362
@simster7 can confirm the infinite log bug is also present in v2.12.10

Daemon pods are also "visually" running; Pod is completed (`whalesay-w8fws-456624308              0/2     Completed`)

![image](https://user-images.githubusercontent.com/3239656/111197892-60778900-8595-11eb-8b9e-b4207618db12.png)

[2021-03-15 17:57] simster7 commented on #5362
@philippeboyd Thanks! Can you attach that simple workflow you used to reproduce the error? That would help me tremendously

[2021-03-15 18:01] simster7 commented on #5392
@sarabala1979 I see some `leaderelection` in the logs. Review?

[2021-03-15 18:02] simster7 commented on #5223
See #5398 for further discussion

[2021-03-15 18:03] simster7 commented on #5173
Low priority, but #5198 stands as a PoC to fix this issue

[2021-03-15 19:14] terrytangyuan opened #5405 "[Proposal] Support resubmit/retry on archived workflows"
# Summary

What change needs making?

Support resubmit/retry on archived workflows.

# Use Cases

When would you use this?

Currently `argo retry/resubmit` only supports workflows resources that currently exist in the cluster. For clusters where workflows are GC-ed immediately after they are completed, it's not possible to retry/resubmit a workflow. There are workaound for this, e.g. saving the wo

[2021-03-15 19:26] terrytangyuan opened #5406 "[Proposal] GC for workflow memoization cache"
# Summary

What change needs making?

Support GC mechanism for workflow memoization cache.

# Use Cases

When would you use this?

My original proposal in https://github.com/argoproj/argo-workflows/issues/3593 actually includes this but I think it was closed with a focus on the freshness/usability of the cache with the new `maxAge` field. The original proposal also contains another important featu

[2021-03-15 19:29] NikeNano commented on #2793
How should the argo cli be used to lint offline @alexec the following example still fails:

[code]

with
[code]

related to: https://github.com/kubeflow/pipelines/pull/4804

[2021-03-15 19:37] philippeboyd commented on #5362
@simster7
[code]

[2021-03-15 19:58] #5380 closed

[2021-03-15 20:21] alexec commented on #5380
This is the role you are looking for:

https://github.com/argoproj/argo-workflows/blob/master/manifests/quick-start/base/workflow-role.yaml

[2021-03-15 20:23] alexec commented on #2793
Linked to this issue is a PoC for "offline linting". Would anyone like to complete the work?

https://github.com/argoproj/argo-workflows/pull/2848

[2021-03-15 20:26] NikeNano commented on #2793
Based upon your comment @alec in https://github.com/argoproj/argo-workflows/issues/2793#issuecomment-772633106

I though this was already possible?

 I will take a look on it.

[2021-03-15 20:56] raftAtGit opened #5408 "Combined output of STDOUT and STDERR in non-Docker executors breaks existing functionality"
# Summary

Kubernetes deprecated Docker, so we need non-Docker executors to run Argo workflows.

However this breaks existing workflows which depend on conditions based on output of previous steps.
(i.e. they write `true` or `false` to `stdout`, all the other logs go to `stderr`. This works fine with `Docker` executor but broken with `k8sapi` and `pns` executors)

The suggested workaround mentione

[2021-03-15 21:20] alexec commented on #5408
Can you try with the `emissary` executor? You'll need to run `:latest`. I'm not clear what behaviour it uses.

@terrytangyuan thoughts on this?

[2021-03-15 22:32] simster7 opened #5409 "v3.0.0-rc7 cherry-pick"
* [ ] surj-bains: docs: add polarpoint.io (#5387) 4c4cbd2e
* [ ] Shoubhik Bose: docs: Update code of conduct (#5404) 26eb8a95
* [ ] Yuan Tang: feat: Allow transient errors in StopWorkflow() (#5396) b24aaeaf
* [ ] dinever: fix(controller): Fixed wrong error message (#5390) 1ec7ac0f
* [ ] Stephan van Maris: fix(ui): typo (#5391) 4b7e3513
* [x] Saravanan Balasubramanian: fix(test): TestWorkflowTempla

[2021-03-16 00:51] alexec opened #5411 "Handle panics in Goroutines"
When a Goroutine panics, I believe it just dies silently.

Add this logging to Goroutines:

[code]

[2021-03-16 00:52] alexec commented on #5411
https://blog.golang.org/defer-panic-and-recover

[2021-03-16 02:34] terrytangyuan commented on #5408
There isn't a way to support non-combined output currently yet as the `GetLogs()` we are using from k8s go client does not expose that as an option (correct me if I am wrong).

In the meantime, I'd suggest:
1. Trying out `emissary` executor that Alex mentioned above.
2. `/dev/null` should be the easiest way to get around for now. For debugging purposes you should probably redirect your error logs

[2021-03-16 04:01] #5379 closed

[2021-03-16 08:15] book987 opened #5412 "argo-server manifest missing `--secure` flag cause ReadinessProbe handshake failed"
## Summary

According to #5228 , argo-server deployment enable HTTPS probe by default, but does not specify `--secure` options in args. This cause readiness probe failed with `tls: first record does not look like a TLS handshake`, deployment argo-server keeps unhealthy.

## Diagnostics

What version of Argo Workflows are you running?
v3.0.0-rc6

[code]

---

**Message from the maintainers**:

Impa

[2021-03-16 09:43] mweibel commented on #5376
It may well be a problem of the setup, as it's quite customized.

[code]

The difference I see is mostly the OS Image. I'll investigate this part then.

[2021-03-16 09:52] mweibel commented on #5376
Question is why does it work in version .6 but not in .7?
Did anything change regarding the build process or so?

From what I can see the docker image is built using OS version 1809, but that was the case for argo-workflows .6 as well.

[2021-03-16 09:59] lippertmarkus commented on #5376
@mweibel Microsoft also updates the 1809 images with (security) fixes. The old .6 image may not had some of them at the time it was created. So you would also need to compare the whole revision/build number of the two images.

[2021-03-16 10:51] mweibel commented on #5376
[code]

[2021-03-16 11:20] lippertmarkus commented on #5376
good question, I'm curious 😄

[2021-03-16 11:27] Sefriol commented on #5409
Hey! I am just wondering if there is a time frame for an official v3.0 release? ;)

[2021-03-16 11:27] book987 commented on #5412
already fix in #5212 , but not in v3.0.0-rc6, will this pr be picked in next rc? @alexec

[2021-03-16 13:23] terrytangyuan commented on #5409
Perhaps cherry pick this one since it's a regression? (patch without flags will not work)

fix(executor): Fix resource patch when not providing flags. Fixes #5310 (#5311) e0f71f3

[2021-03-16 14:30] simster7 commented on #5409
Done

[2021-03-16 14:31] simster7 commented on #5409
I believe we want to do one or two more RCs, which means GA should be in two to three weeks

[2021-03-16 14:39] mweibel commented on #5376
I built the images myself now, needed to upgrade the Go version to 1.13.6 to fix an issue with go + windows.
The newly built images are now reporting the following build numbers:
[code]

running those on my setup (using the `kubectl run` example above): not working. Same error for both 2.12.6 and 2.12.7 versions.

this means v2.12.6 only worked because of an older windows build version. I'll try b

[2021-03-16 15:32] raftAtGit commented on #5408
I couldnt make `emissary` executor work.

For `v3.0.0-rc6`, it executes the step but then fails with below error. Weird it's looking for docker.
[code]

For `latest`, installed from below link, workflow controller crashes with below error:
https://raw.githubusercontent.com/argoproj/argo/latest/manifests/install.yaml

[code]
I tried to put an entry `LEADER_ELECTION_IDENTITY` into controller ConfigM

[2021-03-16 15:33] terrytangyuan commented on #5366
This is still happening after https://github.com/argoproj/argo-workflows/pull/5381 got merged. An example CI run here: https://github.com/argoproj/argo-workflows/pull/5372/checks?check_run_id=2122737311

[code]

[2021-03-16 15:41] sarabala1979 commented on #5366
I will take a look

[2021-03-16 15:43] terrytangyuan commented on #5408
The relevant doc on artifacts is here: https://github.com/argoproj/argo-workflows/tree/master/examples#artifacts. You should be able to use `{{xxx.xxx}}` expression to obtain the value of the artifact and then use it in your `when` condition.

[2021-03-16 15:54] alexec commented on #5412
#5409

[2021-03-16 15:54] alexec commented on #5409
Can we add #5212?

[2021-03-16 16:04] simster7 commented on #5146
Hey @Atharex I actually got something for you to try. When running `python`, try the `-u` flag: `python -u`. Example from another community member: https://github.com/onepanelio/templates/blob/d23d2e1a2e49dce37a4e9a428e3205b930a190c2/workflows/tensorflow-mnist-training/template.yaml#L29

Let me know if this works

[2021-03-16 16:10] lippertmarkus commented on #5376
Rather difficult, GitHub Workflows only provide a 1809 runner.

[2021-03-16 16:33] raftAtGit commented on #5408
thanks, is there a special syntax for that? below is the slightly modified version of `coinflip` example, but fails when evaluating `when` condition with below error:
[code]

[code]

[2021-03-16 17:09] simster7 opened #5413 "New Transformations for the data template"
# Summary

The [data template](https://github.com/argoproj/argo-workflows/blob/master/docs/data-sourcing-and-transformation.md) has limited transformations, currently only those supported by the [`expr`](https://github.com/antonmedv/expr) library. For this to be a useful template for our users, we need to have more flexible and powerful transformations.

# Use Cases

What transformations and use c

[2021-03-16 17:12] simster7 opened #5414 "New Sources for the data template"
# Summary

The [data template](https://github.com/argoproj/argo-workflows/blob/master/docs/data-sourcing-and-transformation.md) has limited sources, currently only supported is `artifactPaths`. We need more sources for this template to be useful.

# Use Cases

Possible sources:
* raw: pass in data directly into the yaml or through an Argo parameter.
* CSV reading?
* URL reading?

Please comment be

[2021-03-16 17:53] #4467 closed

[2021-03-16 18:04] alexec commented on #5411
@sarabala1979 would you like to own?

[2021-03-16 18:07] sarabala1979 commented on #5411
I will take it

[2021-03-16 18:09] adamvonpaternos opened #5417 "Output of template artifact persisted via calling WorflowStep"
# Summary

Ability to persist WorkflowStep's an artifact output from a step of a template (which has no defined persistence) to an artifact repository.

# Use Cases

Consider a template within a WorkflowTemplate of given tool which generates a file but does not persist IO to an artifact store aide from the deployed minio associated with intermediate artifact passing.
Now, consider  a template with

[2021-03-16 18:24] terrytangyuan commented on #5408
Have you tried what's hinted in the error message? This should work `when: '"{{steps.flip-coin.outputs.artifacts.result}}" == heads'`.

[2021-03-16 18:54] terrytangyuan commented on #5406
@simster7 What do you think about reusing `maxAge` for this? Any suggestions would be appreciated.

[2021-03-16 19:01] alexec opened #5419 "Flaky E2E tests"
* TestOptionalInputArtifacts:  functional_test.go:477: timeout after 30s waiting for condition

Pod does not appear in `make logs`.

* TestContinueOnFailDag: functional_test.go:202: timeout after 30s waiting for condition

Both stop at `"Start loading input artifact`. Perhaps MinIO has stopped responding?

[2021-03-16 19:25] raftAtGit commented on #5408
yes, I tried. then it interprets `"{{steps.flip-coin.outputs.artifacts.result}}"` as a string literal and both conditions evaluate to false

[2021-03-16 19:27] #5366 closed

[2021-03-16 19:43] terrytangyuan commented on #5408
Perhaps this is worth a separate bug report that can be investigated later.

Regarding the error `LEADER_ELECTION_IDENTITY must be set so that the workflow controllers can elect a leader`, it looks like https://raw.githubusercontent.com/argoproj/argo/latest/manifests/install.yaml is missing `LEADER_ELECTION_IDENTITY`. You can set it in your controller's env var like this:
[code]

[2021-03-16 20:00] raftAtGit commented on #5408
sure, I can create a separate bug report.

but are we sure contents of artifacts can be used in conditions? I didn't notice that in the documents yet. and passing artifacts over to other steps and evaluating them is quite different things. to my imagination, the later requires downloading the artifact to the controller (which can be huge) and consuming its contents.

[2021-03-16 21:30] simster7 commented on #5406
Overall I agree that some GC on the config maps could be useful.

Could you explain a bit more what the implementation proposal would be here?

[2021-03-16 21:35] simster7 commented on #5406
Not sure it's trivial to just use `maxAge`. I can see the case where if the controller gets a cache entry that is too old due to the `maxAge` field of the workflow, it _could_ be deleted by the controller at that point. However, that doesn't consider that other workflows (some who have not even been created yet) could have `maxAge`s with higher value or no `maxAge` set.

If you mean introducing a

[2021-03-16 21:35] simster7 commented on #5406
What are your thoughts?

[2021-03-16 22:19] tszngai commented on #5075
Also affected by this. And v3.0.0-rc1 is not supported by helm install yet

[2021-03-16 22:37] wdma opened #5422 "Standard installation and example workflow produces panic: runtime error"
## Summary

I am running the standard argo workflow installation (https://raw.githubusercontent.com/argoproj/argo-workflows/stable/manifests/install.yaml). When running the following command:
[code]
I am getting this error:
[code]

This result is the same regardless of the RBAC used.

## Diagnostics

What Kubernetes provider are you using?  Calico

What version of Argo Workflows are you running? h

[2021-03-16 23:13] alexec commented on #5422
Try using the raw URL, rather than submitting the page, which I think would be HTML:

https://raw.githubusercontent.com/argoproj/argo-workflows/master/examples/volumes-pvc.yaml

[2021-03-16 23:23] wdma commented on #5422
D'oh!    Ok.  Now I am back to something I understand, but still am experiencing a problem.

This manifest produces the following error when using the Kubernetes admin account

![image](https://user-images.githubusercontent.com/8416524/111392356-c5fa7100-868c-11eb-950d-8150d202187e.png)

When using the workflow-role RBAC recommended with the Quickstart manifest, the error looks like this:

![image

[2021-03-16 23:28] alexec commented on #5422
You can use `kubectl auth can-i` to check your permissions. You should make sure your SA (which should probably not be `argo` as that is the workflow controller's SA) has the correct permissions:

https://github.com/argoproj/argo-workflows/blob/master/manifests/quick-start/base/workflow-role.yaml

[2021-03-16 23:28] alexec commented on #5422
https://blog.argoproj.io/demystifying-argo-workflowss-kubernetes-rbac-7a1406d446fc

[2021-03-16 23:38] wdma commented on #5422
Thank you! That does help me understand the reason for the workflow-role!

However, I think it does not explain the error when running as the kubernetes admin.  I think that role should be able to submit the yaml(?)  I am looking for an example of an ephemeral volume and this seems to be the correct model.

[2021-03-17 00:58] #5371 closed

[2021-03-17 03:23] #5412 closed

[2021-03-17 04:05] terrytangyuan commented on #5422
Not sure what command you are running but you need to specify the container name if there are multiple containers in the pod, e.g. `-c main` for main container.

[2021-03-17 09:52] Bobgy commented on #2793
I did some further investigation

My observed behavior is that:

* when kubeconfig is not available, argo lint fails with "invalid configuration: no configuration has been provided"
* when kubeconfig is available, but not connected to network, argo lint successfully lints local workflows. As long as those workflows do not use WorkflowTemplate resources etc.

For KFP's use-case, workflow specs will

[2021-03-17 09:53] sylock commented on #5308
Found. It was a typo in the role:
- apiGroups:
  - securiy.openshift.io <-- miss a T : security.openshift.io

[2021-03-17 09:53] #5308 closed

[2021-03-17 10:02] NikeNano commented on #2793
This is my understanding as well:

Can we expect all users to have a kubeconfig if they have `argo` installed? I think it is resonable but maybe we should check for it or add the requirement to the error message.

[2021-03-17 10:06] Bobgy commented on #2793
Maybe not, data scientists who only use KFP python SDK might install `argo` CLI for linting, but do not have direct access to a cluster.

[2021-03-17 10:19] NikeNano commented on #2793
hmm if they install argo them self it will not work in the local enviroment for them due to the same reason it will fail for kfp so I see a slim case that they have it around. Maybe we could check for a kubeconfig and only lint if we can find one.

[2021-03-17 10:58] Bobgy commented on #2793
After reading https://github.com/argoproj/argo-workflows/pull/2848, it seems most of the major changes are still necessary, so it's not a trivial change. A lot of code assumed access to server is possible.

[2021-03-17 11:32] farrajota opened #5425 "(v3.0.0-rc7) Argo-server deployment readiness prob httpGet uses http scheme instead of https"
## Summary

When testing the new v3.0.0-rc7 version, the argo-server deployment pod initialization does not complete. The pod's readiness prob times out because it is fetching from the HTTP scheme instead of HTTPS.

Fix: Edit the argo server deployment

[code]

## Diagnostics

What Kubernetes provider are you using?

Minikube
[code]

Kubectl client + server versions
[code]

What version of Argo Wo

[2021-03-17 14:27] simster7 commented on #5425
Related https://github.com/argoproj/argo-workflows/pull/5212

[2021-03-17 14:28] simster7 commented on #5425
@alexec Does this warrant a new release? Can't change the manifests without moving the tag to a new commit

[2021-03-17 14:30] simster7 commented on #5409
Released

[2021-03-17 14:30] #5409 closed

[2021-03-17 14:34] simster7 commented on #5425
#5228

[2021-03-17 14:58] terrytangyuan commented on #5406
Thanks! With the original design decision on `maxAge` in mind, it makes sense to keep `maxAge` as is and keep it for workflow authors to decide whether to consider a cache as fresh/usable. What if:
1. We record the timestamp when the cache is hit last time.
2. Introduce a field in cache entry (e.g. `gcAfterNotHitDuration`) that represents how long we can keep the cache if it's not been hit for a s

[2021-03-17 15:09] alexec commented on #5425
Yes. Rc7 is unusable

[2021-03-17 15:28] simster7 commented on #5425
Starting new release

[2021-03-17 15:42] alexec opened #5426 "data-transformation: error parsing regexp"
I see this a lot in the logs:

[code]

[2021-03-17 15:46] simster7 commented on #5426
I'll take a look

[2021-03-17 16:00] laymain commented on #3644
Thank you for the update, that seems nice!

Can you confirm that it will work with a `parallelism` that have any value?
Let's say that we have a `parallelism: 3` and `failFast: true`, if one iteration fails every next iteration (that aren't running yet) will fail?

Also, is there a way to test the v3.1 at its current stage?

[2021-03-17 16:03] tim-sendible opened #5428 "3.0 RC7 - Archived workflows never make it to the database"
## Summary

What happened/what you expected to happen?
- Set up a (in my case) Postgres database and set up the ```persistence: |``` section of the configmap according to the documentation.
- The workflow controller logs happily state that it has connected to the database and that workflows are being archived, and you can see the archived workflows in the UI however:
- Workflows are not being push

[2021-03-17 16:06] tim-sendible opened #5429 "Adding a link to a pod, can't get the pod name from variable"
## Summary

What happened/what you expected to happen?

Using the example in the configmap:
[code]

``` ${metadata.name} ``` does not get translated into an actual name, it just remains as it is. My resulting URL is something like:
``` https://logging-facility?namespace=test&podName=${metadata.name}&startedAt….```

## Diagnostics

What Kubernetes provider are you using? EKS 1.19

What version of A

[2021-03-17 16:07] alexec commented on #5428
By "see in the user interface" do you mean under the archived workflows tab?

[2021-03-17 16:20] alexec commented on #5428
They cannot appear in that tab if they are not in your database. Can you list the table names in your database and check the table name? It should `argo_archived_workflows` or similar.

[2021-03-17 16:59] tim-sendible commented on #5428
My database was brand new for RC7. It (still) contains no tables.

[2021-03-17 17:02] wdma commented on #5422
I think I am making progress.  One last question:  Can you tell me what serviceaccount I should be using?

Thank you!!!

You should make sure your SA (which should probably not be argo as that is the workflow controller's SA) has the correct permissions

[2021-03-17 17:22] #5422 closed

[2021-03-17 17:58] simster7 opened #5432 "Paginate/compress VERY large workflows so they can travel through gRPC"
## Summary

A user is experiencing an issue when querying for a VERY large workflow (135k+ nodes) using the API.

[code]

This message limit is placed by gRPC.  We should find a way to compress/paginate or otherwise modify the message so it's able to travel over gRPC. At the very least we should provide a reasonable error to this problem.

Note that this only affects sending workflows over the API

[2021-03-17 18:00] simster7 opened #5433 "Barrier to use of memoization is high/complex"
From a user on Slack:

The next issue that did end up being a blocker for me was that the configuration that worked out-of-the-box with a single memoized step ran into issues running multiple memoized steps in parallel. I ended up having to move on to different work because figuring out memoization wasn’t high enough priority to put in the time to troubleshoot that.

---

**Message from the mainta

[2021-03-17 18:08] terrytangyuan commented on #5433
Another perspective is that once we start using it, the maintenance part of memoization caches which I think https://github.com/argoproj/argo-workflows/issues/5406 can help resolve.

[2021-03-17 18:21] simster7 opened #5434 "Argo can't run on GKE Autopilot"
# Summary

What change needs making?

Argo can't run on [GKE Autopilot](https://cloud.google.com/kubernetes-engine/docs/concepts/autopilot-overview), it doesn't conform to [its requirements](https://cloud.google.com/kubernetes-engine/docs/concepts/autopilot-overview#limits). See if we can meet the requirements or add options to meet them.

(More details to follow)

# Use Cases

When would you use

[2021-03-17 18:57] alexec commented on #5434
which restrictions?

[2021-03-17 18:59] alexec commented on #5432
This should probably only happen with with node offloading or compressed nodes. We could have a flag to disable hydration/unpacking?

[2021-03-17 20:42] #5419 closed

[2021-03-17 20:44] alexec commented on #4312
I believe this is fixed using the Emissary Executor.

[2021-03-17 20:44] #4312 closed

[2021-03-17 20:46] alexec commented on #4186
I believe this is fixed by using the Emissary Executor.

[2021-03-17 20:46] #4186 closed

[2021-03-17 20:46] alexec commented on #4348
Assumed fixed in v3

[2021-03-17 20:46] #4348 closed

[2021-03-17 21:20] #5429 closed

[2021-03-17 23:28] alexec opened #5436 "HTTP template types"
Create the types for HTTP template.

[2021-03-17 23:29] alexec opened #5437 "TaskSet types"
Create the types for task set.

This should include receiver functions to add and remove tasks from the task set.

[2021-03-17 23:32] alexec opened #5438 "HTTP template executor"
Write the code for executing HTTP templates.

* It needs to be parameterizable, including the body.
* It needs to return the node result, including any outputs. The user needs to be able to extract outputs from the body and headers. Could we use something like `{{=toJson(body).myField}}` or `{{=headers['Content-Type]'}}` ?
* Given that body will be composed as a string, we need to be extensible to

[2021-03-17 23:35] alexec opened #5439 "Implement Agent"
Write the code for the agent:

* Controller creating agent on-demand.
* Controller deleting agent when workflow completes.
* Controller adding task to task-set when needed.
* Controller removing completed tasks from the task-set at the end of reconciliation (after updating workflow).
* Agent executing task in sequence.

Out of scope for MVP:

* Throttling task creation.
* Limiting tasks in-flight.

[2021-03-17 23:36] alexec opened #5440 "HTTP template in UI"
Display the HTTP template in the UI:

* Filtering nodes in the DAG.
* Displaying the HTTP template?

[2021-03-18 00:47] alexec opened #5442 "TestCronSuite flakes 15% of the time"
[code]

[2021-03-18 01:50] suenchunyu commented on #2729
Airflow or StreamSets + Spark Streaming might be better option, we have the same use case with you.

[2021-03-18 06:22] tim-sendible commented on #5428
My apologies. It looks like there's something funky going on with my posgres instance. It turns out the table is there, and hidden, and now restarting the Workflow pods persists the data afterall. Sorry for wasting your time.

[2021-03-18 06:22] #5428 closed

[2021-03-18 06:25] tim-sendible opened #5443 "Date Picker element on Archived Workflows tab hides behind the background"
## Summary

If you navigate to the Archived Workflows tab and try to change the date, you will see that the date picker elements are not brought to the foreground when interacting with them.

Workaround: Change the dates by manually adjusting the URL in the browser's address bar.

## Diagnostics

What Kubernetes provider are you using? EKS 1.1.9

What version of Argo Workflows are you running? 3.0

[2021-03-18 06:51] tim-sendible opened #5445 "Can't get pod start/finish time from variable"
## Summary

Similar to #5429, the same occurs for status.StartedAt and status.finishedAt, only at Pod level (as far as I can tell)

## Diagnostics

What Kubernetes provider are you using? EKS 1.19

What version of Argo Workflows are you running? 3.0.0 RC7 (also occurs in RC6)

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-03-18 07:51] mweibel commented on #5376
Oh, true.

This (windows containers) is such a pain (especially if you're used to non windows systems ;)).
I didn't find a roadmap or such which would indicate that they add a newer runner.

I guess we'll stick to building our own images for the near future then.
Not sure what you'd like to do with this issue? From my side it can be closed as I don't see anything argo can do in this regard.

[2021-03-18 08:33] tim-sendible commented on #5445
I'm an idiot. It was resolved in the same patch.

[2021-03-18 08:33] #5445 closed

[2021-03-18 12:56] arl7 opened #5446 "Support session tokens to access S3 buckets"
# Summary
Argo-workflows should support session token in addition to access key and secret access key to access a bucket.

This issue was already raised some time back: [https://github.com/argoproj/argo-workflows/issues/1749](https://github.com/argoproj/argo-workflows/issues/1749) but it got closed because of no response from the original poster of the request.

What change needs making?

# Use Ca

[2021-03-18 14:51] alexec commented on #5446
Would you like to submit a PR to add this?

[2021-03-18 14:53] simster7 commented on #5437
TaskSets should also be agnostic/abstract. They should support cases from HTTP template requests to cron backfill operations. They should also be able to be executed upon by the agent or the controller (but only one).

[2021-03-18 14:53] simster7 commented on #5443
Screenshot?

[2021-03-18 14:56] simster7 commented on #5443
Able to reproduce... working on a fix

[2021-03-18 15:39] alexec opened #5448 "v3.0: wait containers do not exit"
Users are reporting that wait containers do not exit after the main container.

Please make sure that you do not report problems with <= v3.0.0-rc6 - these have know issues with killing injected sidecars.

Questions:

* What executor are you using?
* Do you have sidecars?
* Do you have injected sidecars (e.g. Istio)?
* Are you using outputs artifacts, outputs.result?
* What is the last 10 log line

[2021-03-18 15:58] tim-sendible commented on #5448
3.0.0RC8

    What executor are you using? Docker
    Do you have sidecars? Vault Agent Sidecar
    Do you have injected sidecars (e.g. Istio)? I believe that counts as 'injected', yes.
    Are you using outputs artifacts, outputs.result? No.
    What is the last 10 log lines of the wait container?

[code]

[2021-03-18 16:02] alexec commented on #5448
OK. If I create a dev build - could I ask you to test it?

[2021-03-18 16:04] tim-sendible commented on #5448
Of course. It'll have to be tomorrow now I'm afraid though as I'm about to head out.

[2021-03-18 16:22] sarabala1979 opened #5452 "Passing Arguments (artifacts and Parameters) to Exithandler"
# Summary
The current `onExit` template can access only global variables and workflow status.  The current workaround it declare the template level `parameter` to global.
![image](https://user-images.githubusercontent.com/33908564/111665568-19290c80-87d0-11eb-912e-1ebb82232dc9.png)

What change needs making?

# Use Cases
Passing the `step` and `DAG` level parameters and artifact to `Exithandler

[

[2021-03-18 16:35] alexec commented on #5448
Can you please try `argoproj/argoexec:dev-docker`. This addresses a bug when trying to kill non-running containers.

[2021-03-18 17:19] #5443 closed

[2021-03-18 18:11] simster7 commented on #5406
I think I like this better... regardless, it should be added on a per ConfigMap basis. Ie, different ConfigMaps (caches) should be able to have different strategies.

It seems like we'll need to add an extra controller to monitor the ConfigMaps no?

[2021-03-18 18:46] sarabala1979 commented on #2706
#4212

[2021-03-18 19:29] #5426 closed

[2021-03-18 19:40] terrytangyuan commented on #5406
Yes an extra controller for ConfigMaps seems to be the most straightforward since it's independent of reconciliation of pods/workflows. Are there any concerns or suggestions in this direction?

[2021-03-19 02:22] #3201 closed

[2021-03-19 02:58] sbose78 opened #5459 "Contribution guide: Need to install protoc-gen-gogo"
## Summary

Is there a contribution guide I could contribute to?

What happened/what you expected to happen?

I ran `make codegen` locally and got an error `No rule to make target `/bin/protoc-gen-gogo', needed by `pkg/apis/workflow/v1alpha1/generated.proto`

I was hoping I could document the need for doing a `go get github.com/gogo/protobuf/protoc-gen-gofast` before running the command.

**Messag

[2021-03-19 03:00] sbose78 commented on #5459
Ah OK, this needs GOPATH :)

[2021-03-19 05:50] lippertmarkus commented on #5376
I can relate. According to Microsoft differences within the revision shouldn't affect container functionality, but this is an example where that statement unfortunately doesn't hold.

Do you want to add that to the Limitations (https://argoproj.github.io/argo-workflows/windows/#limitations)?

[2021-03-19 06:37] tim-sendible commented on #5448
Morning @alexec
I have done a couple of runs, and I don't believe that this fixes the issue.

Just to confirm I am using:
```image: argoexec:dev-docker```

Everything else is 3.0 rc8.

Out of 5 pods with sidecars, 2 shutdown as expected, and 3 hung with the following in the logs:

[code]

[2021-03-19 07:39] descrepes commented on #5448
Hi,
We have the same issue. We are on 3.0.0-RC7.

What executor are you using? Docker
Do you have sidecars? no
Do you have injected sidecars (e.g. Istio)? Vault Agents are injected via a mutating webhook
Are you using outputs artifacts, outputs.result? No.

Here is the log with `argoexec:dev-docker`:
[code]

[2021-03-19 09:01] laymain opened #5463 "Weird behaviours of exit handlers in loop"
## Summary

I'm trying to have a step that is executed at the end of each iteration of a loop whether or not it succeed or failed.
I'm struggling to add an exit handler for a loop iteration, every try I gave had a weird behaviour.

## Diagnostics

Argo version: v2.12.10

---

* First try, adding an exit handler on the iteration step

[code]

[code]

I was not expecting all exit handlers to be call

[2021-03-19 13:00] wnagele commented on #4804
@alexec you are correct that this happens in scenarios where there is some sort of middleware (load balancer, etc.) present. However, this is a *lot* of deployments in production I would assume. I did some research and the underlying cause is in the way Argo deals with streaming events.

[Here](https://github.com/argoproj/argo-workflows/blob/master/server/workflow/workflow_server.go#L217) you open

[2021-03-19 14:02] sunil-b opened #5464 "CLI: Support `update` for CronWorkflows, WorkflowTemplates, and ClusterWorkflowTemplates"
# Summary

Currently Argo CLI doesn't support updating CronWorkflows, WorkflowTemplates and ClusterWorkflowTemplates. If we want to change any of these resources, we have to delete first and then recreate them. The other way to update these resource would be via kubectl, which doesn't support overriding parameters.

Workflows depending on templates within above resources would have to deal with fa

[2021-03-19 15:07] #5362 closed

[2021-03-19 17:37] sylock commented on #860
The implemented functionality is really nice but the documentation should be upgraded to explain it. Currently the documentation is very poor about it. You only have :
* a reference in the beginner core concept: https://argoproj.github.io/argo-workflows/workflow-concepts/#template-invocators
* one example that does not explain all the possibilities: https://argoproj.github.io/argo-workflows/exampl

[2021-03-19 18:38] simster7 commented on #860
@sylock Thanks! Would you like to submit a PR with better documentation about this?

[2021-03-19 20:25] chittu11 opened #5466 "Argo- v3.0.0-rc8 has issues with argo server"
We have upgraded argo to v3.0.0-rc8 in our environment but argo UI is not picking up, its failing with the below error. we had to run the server with older version(v3.0.0-rc6). this version has any known issues with argo server?

upto argo 3.0.0-rc6 argo server is working fine but in the newer version its not picking up.

`Error: INFO[2021-03-18T19:57:44.786Z]authModes="[server]" baseHRef=/ manage

[2021-03-20 00:25] #5388 closed

[2021-03-20 03:01] alexec commented on #4804
This should fixed in v3. Please can you test to see?

[2021-03-20 03:11] alexec commented on #5448
You >1 sidecar? Can you add pods YAML?

[2021-03-21 03:53] tczhao opened #5471 "Retry on different resource"
We want achieve a state where a pod gets rerun with a different resource request when the pod failed/oomed (similar to #4493)

We can achieve this through the use of "enhanced dag dependency" but this can be quite cumbersome to write.

Would it be a good idea to add something like podSpecPatch in the retryStrategy? or we are happy to leave it as it is using dag and use things like jsonnet to build

[2021-03-21 15:40] #5294 closed

[2021-03-22 03:02] simster7 commented on #5471
I think the correct approach to this would be to use the `{{retries}}` variable in conjunction with a variable expression. Something like this:

[code]

I believe, however, that variable expressions will be available in `v3.1` (we're currently in v3.0 RC). They should be on `latest` though if you want to start playing with them

[2021-03-22 03:05] Bobgy opened #5473 "workflow controller panics when workflow parameter was not supplied"
## Summary

What happened/what you expected to happen?

I created a workflow.
It failed with

time="2021-03-19T14:48:13.638Z" level=error msg="Recovered from panic" namespace=kubeflow r="runtime error: invalid memory address or nil pointer dereference" stack="goroutine 208 [running]:\nruntime/debug.Stack(0xc0588e65f5, 0x180bdc0, 0x29f4e30)\n\t/usr/local/go/src/runtime/debug/stack.go:24 +0x9d\ngith

[2021-03-22 03:08] Bobgy commented on #5473
For context, I was building a workflow with kubeflow pipelines, therefore when I submit it for execution, I won't use argo CLI. I'd expect workflow controller to be able to emit meaningful error message in this case too.

[2021-03-22 03:35] tczhao commented on #5471
Thanks, this helps a lot

[2021-03-22 05:53] sbose78 commented on #5466
Could you share more information on your distribution of Kubernetes you are using?

[2021-03-22 08:02] wnagele commented on #4804
Any pointers where this was fixed in v3?

[2021-03-22 08:36] ptemmer commented on #4407
I think there must be a regression, because the problem still occurs in 2.12.10

[2021-03-22 14:36] terrytangyuan commented on #5473
@Bobgy Thanks. I submitted #5477 that should fix this and give more meaningful error messages.

[2021-03-22 14:58] simster7 commented on #4407
@ptemmer I am unable to replicate with the workflow provided in this issue. Can you include a new workflow that reproduces this issue?

![image](https://user-images.githubusercontent.com/614838/112010188-52b98a80-8ae4-11eb-8318-06c8a0644877.png)

[2021-03-22 15:17] tim-sendible commented on #5448
I have just one sidecar. I'm trying to work on something to give you that is suitably sanitized.

I can confirm that wait is still running, main isn't... in my instance anyway.

[2021-03-22 15:20] tim-sendible commented on #5448
yup. I'll chat to you on Slack.

[2021-03-22 15:30] simster7 commented on #5463
Found the issue

[2021-03-22 15:30] simster7 commented on #5463
Working on fix

[2021-03-22 15:38] ptemmer commented on #4407
Yes. Here you go:
[code]

[2021-03-22 15:59] paltaa commented on #5321
Hey @alexec, Thank you very much for the policy audit, the problem was that the pods requested too much resources from the kubelet and then stopped posting status, hence marked it has node unavailable.

You can close the issue now, thanks!

[2021-03-22 16:13] arl7 commented on #5446
Sorry for late reply. Still working on this

[2021-03-22 16:13] alexec commented on #5321
Thank you

[2021-03-22 16:13] #5321 closed

[2021-03-22 16:16] laymain commented on #5463
That's great.

Btw, the fix seems to concern only the second case, is the first case result the expected one?

[2021-03-22 16:30] simster7 commented on #4407
Still unable to reproduce:

![image](https://user-images.githubusercontent.com/614838/112023786-cf526600-8af0-11eb-8fbe-181c6824009a.png)

[2021-03-22 16:31] simster7 commented on #4407
However with this workflow, the DAG does fail:

[code]

[code]

Note that is result is expected as we don't consider this to be a Succeeded DAG since the last node to run on a branch (B) fails.

[2021-03-22 16:37] tim-sendible opened #5481 "Workflow not marking itself as completed when finished"
## Summary

My workflow shows as running even though all nodes have completed. This happens regardless of whether or not the nodes pass or some fail.

Other information that may be useful:

- We believe the issue is something to do with the retryStrategy. I can **only** replicate this issue when I set a retry strategy.
- (most of) My workflows have an exit handler. These are not triggered when thi

[2021-03-22 16:46] simster7 commented on #5481
I'll take a look

[2021-03-22 17:18] #5471 closed

[2021-03-22 17:22] simster7 commented on #5463
No, the first is not expected. The behavior you are seeing is slightly undefined and is a result of `parallelism: 1`. It's not clear what the expected behavior should be in that scenario. The main question is: if you set `parallelism: 1`, do you expect `onExit` nodes to also respect that? E.g. run `A -> A.onExit -> B`, or `A -> A.onExit, B`.

I may split the PR up into two so that we can fix the s

[2021-03-22 17:28] laymain commented on #5463
Perfect!

[2021-03-22 17:29] alexec commented on #5448
After debugging with @tim-sendible on Zoom, it appears that the Vault sidecar sometimes do not start for > 5 seconds after the wait container starts. I've pushed a new build of `argoproj/argoexec:dev-docker` that allows 30s for sidecars to start. Can you please test?

[2021-03-22 17:31] tszngai commented on #2717
How do I enable this feature to see the estimation time on my UI?

[2021-03-22 17:37] alexec commented on #2717
It is automatically enabled. It estimates based on the most recently completed workflow that used the same workflow template or cron workflow.

[2021-03-22 17:40] tszngai commented on #2717
Thanks for the quick reply. I'm using v2.12.5 and I don't see the estimation time on it:
![image](https://user-images.githubusercontent.com/41026708/112033613-d2eaea80-8afa-11eb-9c18-37c9c694c817.png)

[2021-03-22 17:41] mikeczech opened #5484 "Global variable workflow.duration cannot be resolved in exit handler during validation"
## Summary

What happened/what you expected to happen?

We are trying to use the global variable **workflow.duration** from a template that is part of an exit handler, but we are seeing a validation error when creating the workflow template.  If we skip the validation via kubectl, it apparently works.

I've also created a PR with a potential fix for this issue: https://github.com/argoproj/argo-wor

[2021-03-22 18:16] sarabala1979 opened #5485 "Show the init container and sidecar container logs on UI"
# Summary

What change needs making?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-03-22 19:18] simster7 opened #5488 "v3.0.0-rc9 cherry-pick"
* [x] Simon Behar: fix(ui): Multiple UI fixes (#5498) 4eb351cba
* [x] Simon Behar: fix(controller): Fix workflows with retryStrategy left Running after completion (#5497) dfe6ceb43
* [ ] Simon Behar: test: Make cron test suite robust (#5453) be44ce9dd
* [ ] Alex Collins: ci: Add codecov.yaml to silence red-herring errors (#5482) 939019075
* [ ] Roi Kramer: fix(cli): Linting improvements (#5224) ea

[2021-03-22 19:27] terrytangyuan commented on #5488
Could we cherry-pick the following as well? @alexec Please double check https://github.com/argoproj/argo-workflows/pull/5372 as well since I saw that you marked it as v3.1 milestone.

*  Yuan Tang: fix(controller): Only set global parameters after workflow validation succeeded to avoid panics (#5477) 513756e
 * Yuan Tang: fix(cli): Only append parse result when not nil to avoid panic (#5424) c16a4

[2021-03-22 20:56] simster7 commented on #5481
@tim-sendible Can you please attach a minimal workflow that reproduces this problem? The workflow you attach is not complete and it's not clear how the issue manifests from it

[2021-03-22 20:57] simster7 commented on #5481
Also, perhaps the thing that would most help me debug this issue is if you would include a version of the "live" workflow that suffers from this issue. You can get the "live" workflow by running `kubectl get workflow -o yaml <WF_NAME>`.

[2021-03-22 21:01] tim-sendible commented on #5481
@simster7 It occurs on literally any workflow we run as long as the retry strategy is enabled.
However if you like I will try and provide a sanitised workflow tomorrow.

[2021-03-22 21:09] simster7 commented on #5481
Yes, please that would be useful as I haven't been able to reproduce this.

Some other questions to help debugging: does this occur only on v3.0.0-rc8 or does it also occur in other RCs? Does it occur in v2.12.*?

[2021-03-22 21:23] tim-sendible commented on #5481
I have only been using workflows for 2 weeks. It was really only since using rc8 that I have been in a position to notice the hanging.

So there is a slim chance it's only occurred in rc8. I have only used rc6 and rc7 and have not used v2 for anything other than proving the installation process.

[2021-03-22 21:29] simster7 commented on #5481
Great, thanks for the info. I'll keep trying to replicate, otherwise the sanitized "live" workflows would be most useful

[2021-03-22 21:57] ptemmer commented on #4407
In that case I must have misinterpreted the reasoning behind ContinueOn. It was my understanding that it allowed us to ignore tasks that are bound to fail, but should not affect the overal DAG result. I'm surprised however that this is only true if the final task of the DAG is successful.

[2021-03-22 22:06] simster7 commented on #4407
I believe `continueOn` is only meant to do that, continue in case of a failure. I'm not sure that its scope should be beyond that (such as determining DAG) status. If we had a simple DAG such as

[code]

I would still expect the DAG itself to be failed as our "target task" (i.e. the leaf nodes of the graph) did not succeed.

Note that it's trivial to add a workaround if you really want this behavi

[2021-03-22 22:08] mehtadeepen commented on #5485
👍

We use init container for validating role attachment and introduce delay.

[2021-03-22 22:10] simster7 commented on #5485
`init` container logs should already be exposed in v3.0 UI

[2021-03-22 22:11] simster7 commented on #5485
![Uploading image.png…]()

[2021-03-22 22:11] simster7 commented on #5485
This should also be the case with side card logs I believe

[2021-03-22 22:11] simster7 commented on #5485
![image](https://user-images.githubusercontent.com/614838/112064871-e7da7480-8b20-11eb-9700-a1d0b53f9045.png)

[2021-03-22 22:24] ptemmer commented on #4407
What if the last task is conditional? You tried that example before, however I'm getting other results

![image](https://user-images.githubusercontent.com/29543232/112065864-b2a44580-8b65-11eb-8f12-d8a35cd801e9.png)

[2021-03-22 23:59] simster7 commented on #4407
I'll take a look again

[2021-03-23 00:11] #5442 closed

[2021-03-23 06:24] tim-sendible commented on #5481
Here's a sanitised example:

[code]

[2021-03-23 07:33] tim-sendible opened #5492 "White border around workflow graph"
## Summary

In both Firefox and Chrome (v86 and 89 respectively) on a Mac, I have a white border around my workflow graph. (bottom and to the right)

This is purely a cosmetic issue. Occurs on all workflow graphs.

Workflow removed in this screenshot, but hopefully you get the idea:
![image](https://user-images.githubusercontent.com/69461449/112109684-c83b5e80-8ba9-11eb-93f3-e06e0463a191.png)

##

[2021-03-23 07:36] tim-sendible opened #5493 "You have to delete sample workflow twice to submit a workflow via the ui"
## Summary

1. Go to the workflows tab in the UI
2. Click 'Submit new workflow'
3. Click 'Edit using full workflow options'
4. Select all on the sample workflow yaml and press delete

issue:
The sample is not deleted.

Workaround:

1. Perform the steps above
2. Select all on the sample workflow a second time and press delete.

This time the sample is removed.

This is an issue because if you're ru

[2021-03-23 07:43] tim-sendible opened #5494 "When I first log in, I am logged in to a blank screen"
## Summary

When I first log in, or when a new user first logs in, I am presented with a blank page. I then have to choose one of the menu items in order to actually see anything.

As a new user this can be confusing/daunting.

I propose you send them to the workflows tab or something so that the UI isn't quite so sparse.

To prepare to reproduce this issue, go to your base URL and then log out. e

[2021-03-23 07:54] tim-sendible commented on #5448
Certainly at first glance, it does seem to have improved things. I will keep testing today though.

[2021-03-23 08:41] tim-sendible opened #5495 "UI: Add autocomplete for labels in Archived Workflows"
## Summary

1. Go to `/workflows` and click on the 'labels' filter. You see a dropdown which narrows the results as you type.
2. Go to `/archived-workflows` and click on the 'labels' filter. There is no dropdown.

## Diagnostics

What Kubernetes provider are you using? EKS 1.19

What version of Argo Workflows are you running? 3.0 rc8

Impacted by this bug? Give it a 👍. We prioritise the issues wit

[2021-03-23 08:43] tim-sendible opened #5496 "Label choices aren't remembered"
## Summary

1. Go to /workflows and choose a valid label and namespace. Filter your results by this label.
2. Click onto the archived workflows tab
3. Click back to /workflows

**issue:**
The namespace is retained, but the selected label is not.

This also occurs on the /archived-workflows view.

## Diagnostics

What Kubernetes provider are you using? EKS 1.19

What version of Argo Workflows are y

[2021-03-23 08:46] tim-sendible commented on #5495
This is the same on the /reports tab too

[2021-03-23 10:29] tim-sendible commented on #5448
We have now run about 20 different workflows through with your dev version of argoexec and haven't found the problem once. I think from our point of view its safe to say that this is resolved.

[2021-03-23 14:16] simster7 commented on #5481
Thanks, I was able to reproduce. Looking for the fix now

[2021-03-23 15:42] sarabala1979 commented on #5485
@mehtadeepen This feature will be available 3.0 for you.

[2021-03-23 16:07] #5481 closed

[2021-03-23 16:18] simster7 commented on #5495
It doesn't seem we even return a workflow's labels when querying the archive:

https://github.com/argoproj/argo-workflows/blob/dfe6ceb430d2bd7c13987624105450a0994e08fc/persist/sqldb/workflow_archive.go#L160-L165

In fact, labels are added to a separate table than the workflow itself:

https://github.com/argoproj/argo-workflows/blob/dfe6ceb430d2bd7c13987624105450a0994e08fc/persist/sqldb/workflow_ar

[2021-03-23 16:20] simster7 commented on #5494
@tim-sendible Is this an SSO login?

[2021-03-23 16:21] simster7 commented on #5494
Or is it a "token" login?

[2021-03-23 16:21] simster7 commented on #5494
Also if you could attach the URL that gives you the "blank" screen that could help debug

[2021-03-23 16:25] alexec commented on #5495
Labels are not returned by the list operation, so they cannot be filtered client side. A label selector can be sent as a query parameter.

This is intentional - the archive can easily contain >= 10k workflows and we don't want to make the query complex.

This means that auto-complete cannot work client-side. We should keep the ability to query based on labels, but we cannot support auto-complete.

[2021-03-23 16:27] alexec commented on #5493
Can you please try `argoproj/argocli:dev-ui`?

[2021-03-23 16:27] alexec commented on #5448
Can you please try `argoproj/argocli:dev-docker` again?

[2021-03-23 16:36] simster7 commented on #5495
:+1:

No change needed, then. Close?

[2021-03-23 16:37] tim-sendible commented on #5494
It's sso, and the url is just my base url with no trailing slash.

[2021-03-23 16:38] simster7 commented on #5494
Yup, just found the issue

[2021-03-23 16:40] tim-sendible commented on #5495
Ah. That immediately makes archives useless to us. Shame ☹️

[2021-03-23 16:43] dcherman commented on #5495
I wouldn't mind taking a stab at this at some point, it's been something that's irked me as well when I've wanted to search the workflow archive.

I don't think the query would be significantly complex, though we would need to discuss limits on the overall amount of data returned since as you pointed out, the archive could contain a large number of workflows.  We could also discuss ways to tweak t

[2021-03-23 16:52] alexec commented on #5495
@tim-sendible that can't be correct surely? You CAN query on labels, we just don't support auto-complete in the UI.

@dcherman I think you're idea sounds good. We could have a new endpoint (e.g. WorkflowArchive.ListLabels) that lists the labels and their values by querying `argo_archived_workflows_labels`.

Looking at the schema, that table needs (I think it should have always had) an index on (na

[2021-03-23 17:00] tim-sendible commented on #5495
@alexec without auto complete (internal) end users won't know the syntax to use. I'm trying to lower the barrier to entry.

[2021-03-23 17:55] #5494 closed

[2021-03-23 17:55] #5496 closed

[2021-03-23 18:29] alexec commented on #4888
You can use parallelism to limit the number of running pods, which could achieve the same effect.

That has limitations:

* Doesn't allow you to run all the pods.
* Only controller per workflow, not per namespace or cluster.

[2021-03-23 19:03] tim-sendible commented on #5493
@alexec I'm not having much luck with that build. I briefly got errors like "failed to load version information" and I briefly saw a certificate error, but now just getting completely blank pages. Same in incognito or a browser I don't commonly use. No shouty things in the server logs though.

I can't get to the point of re-creating the issue to prove that it is fixed.

[2021-03-23 19:05] simster7 commented on #5496
This has been fixed in [`v3.0.0-rc9`](https://github.com/argoproj/argo-workflows/releases/tag/v3.0.0-rc9)

[2021-03-23 19:05] simster7 commented on #5494
This has been fixed in [`v3.0.0-rc9`](https://github.com/argoproj/argo-workflows/releases/tag/v3.0.0-rc9)

[2021-03-23 19:06] simster7 commented on #5481
This has been fixed in [`v3.0.0-rc9`](https://github.com/argoproj/argo-workflows/releases/tag/v3.0.0-rc9)

[2021-03-23 19:06] simster7 commented on #5473
This has been fixed in [`v3.0.0-rc9`](https://github.com/argoproj/argo-workflows/releases/tag/v3.0.0-rc9)

[2021-03-23 19:06] simster7 commented on #5362
This has been fixed in [`v3.0.0-rc9`](https://github.com/argoproj/argo-workflows/releases/tag/v3.0.0-rc9)

[2021-03-23 19:06] simster7 commented on #5443
This has been fixed in [`v3.0.0-rc9`](https://github.com/argoproj/argo-workflows/releases/tag/v3.0.0-rc9)

[2021-03-23 19:07] simster7 commented on #5429
This has been fixed in [`v3.0.0-rc9`](https://github.com/argoproj/argo-workflows/releases/tag/v3.0.0-rc9)

[2021-03-23 19:07] simster7 commented on #5371
This has been fixed in [`v3.0.0-rc9`](https://github.com/argoproj/argo-workflows/releases/tag/v3.0.0-rc9)

[2021-03-23 19:11] tim-sendible commented on #5492
On initial testing, this seems to have been fixed in rc9

[2021-03-23 19:18] jacek-jablonski commented on #5362
Unfortunately, it solved my problem only partially. Now there is no loading spinner, but an empty text area instead of log entries.

![Zrzut ekranu 2021-03-23 o 20 14 17](https://user-images.githubusercontent.com/35669512/112205175-d5416780-8c14-11eb-819a-c1eeb2a5bfd6.png)

[2021-03-23 19:20] alexec commented on #5493
Ah. New version of the CLI default to `--secure=true` can you try with `--secure=false`?

[2021-03-23 19:23] simster7 commented on #5362
That view only is able to get logs from pods on the cluster. Is the pod you're looking for still on the cluster? Otherwise you need to see archived logs

[2021-03-23 19:31] tim-sendible commented on #5493
Sorry @alexec, with that flag set, the server's readiness probe fails. I can start hacking away at the readiness probe too if really necessary?

[2021-03-23 19:46] alexec commented on #5493
ah - temporarily remove the readiness check?

[2021-03-23 19:47] jacek-jablonski commented on #5362
No, the pod is no longer on the cluster.
However, I think that this view should access logs wherever they are available (from the artifact or from the pod). Showing a blank window is very confusing where in fact some logs do exist.
Moreover, it is very difficult to justify the necessity to do extra clicks to _really_ access the logs.

[2021-03-23 20:05] simster7 commented on #5362
Sure, maybe that could be an enhancement request. Also at the bottom of that screen there should be a direct link to the artifact logs, as well as a warning that pods don't appear for pods that are deleted.

[2021-03-23 20:33] simster7 commented on #5362
@jacek-jablonski Would you like to open an enhancement request for the unified logs viewer?

[2021-03-23 20:38] simster7 opened #5500 "Display Prometheus Metrics in UI and/or CLI"
# Summary

Currently we expose Prometheus metrics to be scraped by a service, but don't provide a native way for users to have quick look at their metrics. Perhaps expose them to the UI or CLI using a lightweight library

# Use Cases

Do you think this would help your use of metrics in Argo? If so, add a 👍

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise th

[2021-03-23 20:42] simster7 commented on #5488
Released

[2021-03-23 20:42] #5488 closed

[2021-03-23 22:09] #5376 closed

[2021-03-24 00:35] #5411 closed

[2021-03-24 09:11] tim-sendible commented on #5448
The problem seems to be back in the latest :dev-docker @alexec. Not as frequently as before, but it definitely happens.

[2021-03-24 09:20] tim-sendible commented on #5493
So I removed the readiness check, and disabled backend-protocol: HTTPS in my ingress.

I got the same blank page after doing all that.

[2021-03-24 09:28] jacek-jablonski commented on #5362
@simster7 yes, I will open an enhancement request.

[2021-03-24 14:00] Atharex commented on #5146
Thanks for the hint, seems to work now! Turned out the problem was also a bit trickier. The node I was running the workload on was in a different subnet than other nodes. After it was transferred to the same subnet, the logs started showing up normally.

[2021-03-24 14:41] ludydoo commented on #4615
You can use a MutatingWebhookConfiguration to add labels to pods that have a Workflow owner reference

[code]
[code]

[code]

[code]

[2021-03-24 14:47] simster7 opened #5502 "Remove `onExit` scaffolding code"
[code]

Remember to remove the scaffolding code referenced by this issue and created by https://github.com/argoproj/argo-workflows/pull/5486

[2021-03-24 15:58] jacek-jablonski opened #5504 "Unified logs viewer"
# Summary

In the Workflow status window, it is possible to display logs emitted by the container. At this moment, the logs viewer displays the logs directly from the container until the workflow is archived. This means that if the workflow is completed and the pod is deleted, the log viewer will be empty, even though the logs have been emitted by the container. In this case, logs should be found

[2021-03-24 18:20] szab100 commented on #4353
@alexec @sarabala1979 yeah, annotations are good too.

[2021-03-24 18:44] bklaubos opened #5505 "onStart handler for DAGTask/Step"
# Summary

What change needs making?
We  currently have `onExit` handler for DAG Task/workflowStep
(
see example:https://argoproj.github.io/argo-workflows/fields/#dagtask
https://argoproj.github.io/argo-workflows/fields/#workflowstep
)
We need to add `onStart` handler  to allow custom code to be executed before the `Main` container entrypoint formally started.
# Use Cases
- I want to be able to  d

[2021-03-24 19:10] #5448 closed

[2021-03-24 19:20] #5242 closed

[2021-03-24 19:26] #5493 closed

[2021-03-24 19:33] simster7 commented on #5505
Why not just add a step before your `main` container?

[2021-03-24 19:33] simster7 commented on #5505
Duplicate of https://github.com/argoproj/argo-workflows/issues/3428

[2021-03-24 21:00] bklaubos commented on #5505
We don't want to add additional steps as our workflow  has 1000-2000 steps.
Doing that would mean 2 x extra allocation resources and time.

[2021-03-25 08:06] RoiSightfull opened #5506 "Passing k8s secret to a workflow as input"
# Summary

I know it is possible to pass a secret to a container via ENV or FILE. but it is not possible to pass it as an argument of a workflow.

# Use Cases

I have a few tools which accept values as command line args. These args are values which I'm not convenient in putting in YAMLs as plaintext and would like to store as k8s secrets.

---

**Message from the maintainers**:

Impacted by this b

[2021-03-25 08:55] vstrimaitis commented on #3479
I've run into this issue as well. I observed that the `wait` container uses `/tmp` to archive output artifacts. Since no volume is mounted on `/tmp`, this ends up using the node's disk (we're running on Kubernetes), which is undesirable and prevents us from using large input/output artifacts. I'd like to mount a volume on `/tmp` to prevent this, but currently I don't see any way of doing it. Do yo

[2021-03-25 10:04] ad22 commented on #5466
This does not have anything to do with the Kubernetes distribution. https://github.com/argoproj/argo-workflows/issues/2764, https://github.com/argoproj/argo-workflows/pull/2766 broke a LOT of things, and even worse, left everything undocumented.

1. Running argo-server locally results in it not being able to find a self signed cert that it now requires. Instructions should say, generate a cert via

[2021-03-25 10:06] tim-sendible commented on #5504
This may or may not help, we use Loki to aggregate all our k8s logs into one place, so using the 'links' option, we place a direct link at pod and workflow level to the loki logs for that particular workflow.

[2021-03-25 10:10] tim-sendible opened #5508 "Internal Server error... write: broken pipe"
## Summary

I'll be honest, this is a tough one to reproduce. After 24-48 hours of running, our argo-servers start throwing logs with this repeated over and over again:

[code]

From a UI perspective, no users can see any workflows, they just see this error at the top of the screen:
![image](https://user-images.githubusercontent.com/69461449/112455893-0d9a9000-8d52-11eb-889f-7b06c0338d86.png)

The

[2021-03-25 10:13] tim-sendible commented on #5492
This is NOT resolved in rc9.

However, it does only seem to occur at different resolutions. My current res is 2560x1440 and this displays the issue.

[2021-03-25 10:23] xybuty opened #5509 "failed to save outputs: fork/exec /usr/local/bin/docker: exec format error"
## Summary

What happened/what you expected to happen?
The issue was occured when I use Kubeflow pipeline ,but I haven't got helpful information in KFP information.
And the pod logs seem to be relationship with argo ,so I look forward to help here.
## Diagnostics

What Kubernetes provider are you using?
v1.19.4
What version of Argo Workflows are you running?
argo-v2.30
[code]
apiVersion: argoproj.

[2021-03-25 13:21] simster7 commented on #5466
The only difference in `rc7`+ is that TLS is enabled by default. You can disable it by running `argo server --secure=false`.

I agree that this needs better documentation.

[2021-03-25 13:32] Matts966 commented on #5434
@alexec

Maybe because of `/var/run/docker.sock`

[code]

[2021-03-25 13:33] simster7 commented on #5434
@Matts966 that issue can actually be solved by running with the PNS executor, but even then you run into another issue. I can't remember what it was when I tested it, but I can take another look soon.

[2021-03-25 15:15] alexec commented on #5466
Under no circumstances will TLS support will be removed if anyone is worried. However, it sounds like it doesn’t work out of the box with the CLI anymore because it is on. So we need to solve that.

@simster7 perhaps we should default TLS on only if the .crt is found?

[2021-03-25 15:17] alexec commented on #5509
v2.3 is not supported anymore. Can you please upgrade and try again.

[2021-03-25 15:18] alexec commented on #5504
What about adding a link to the archived logs in the log viewer?

[2021-03-25 15:20] alexec commented on #5506
Could you propose the syntax? Where would the secrets be? In the user namespace? The controller would need RBAC access. Might not pass security audit for some users.

[2021-03-25 15:27] simster7 commented on #5466
I believe that we should have TLS on regardless and require user action (e.g. adding the flag) to turn it off (based on ToB feedback, the user should be aware that they are running in insecure mode).

[2021-03-25 15:30] simster7 commented on #5504
Note that there is currently such link available:

![image](https://user-images.githubusercontent.com/614838/112499069-5a776a00-8d44-11eb-949e-75d2f6ea9fbc.png)

[2021-03-25 15:31] sbose78 commented on #5466
Generally, I like the "secure by default, non-secure as an opt-in" approach.

[2021-03-25 15:33] sbose78 commented on #5466
( I apologize for my ignorance )

Is generating / shipping self signed certificates an option?

[2021-03-25 16:30] alexec commented on #5466
I think the problem here is when you run as `argo server` locally, e.g on your MacBook. The files do not exist as they are only bundled with the image, not the binary.

This creates unneeded friction for desktop users as they must either: `--secure-false`,  `env ARGO_SECURE=false`, or create their own .crt/.key using `openssl`.

If you're running `argo server` on your desktop, it does not need to

[2021-03-25 16:32] alexec commented on #5504
Maybe the link could be more obvious? Or perhaps it could appear after waiting for logs for say 10s?

[2021-03-25 16:43] alexec commented on #5466
The more I think about this, the more I think we should detect the .crt and base default secure on that.

* If the file is not found. We default to insecure. This works for desktop. If a bug appears, in Kubernetes the readiness check is HTTPS and will fail, so we are protected.
* If the file is found, we default to secure.
* If there is a permission error reading the file, then we should error.

[2021-03-25 17:25] simster7 opened #5513 "Key-only artifact issue"
## Summary

What happened/what you expected to happen?

Users are having issues with key-only artifacts

## Diagnostics

What Kubernetes provider are you using?

Shyukri to provide reproduction steps

What version of Argo Workflows are you running?

`v3.0.0-rc9`

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-03-25 17:36] shuker85 commented on #5513
I'm running Argo WF v3.0.0-rc9 on an EKS cluster and trying to use key-only artifacts for output storage.
Even though my configmaps are configuring the default repo and it is properly referred from the WF it doesn't work.
WF spec in bottom gist

[code]
Sensor/WF: https://gist.github.com/shuker85/ddbe7bdb9c092b08980e004caec56b4f

[2021-03-26 01:15] alexec opened #5514 "First-time user experience page"
The first time the user starts the UI and they have a new version, we could show them a pop-up with the biggest 3 new features in the new version.

https://en.wikipedia.org/wiki/First-time_user_experience

This should be easily dismissable and never appear again.

[2021-03-26 05:33] xybuty commented on #5509
May I ask the version correspondence between argo and pipeline?

[2021-03-26 07:26] jacek-jablonski commented on #5504
I think it wouldn't remove confusion. As I am in the logs viewer window. Why should I click further to really see the logs?

[2021-03-26 07:31] dongwangdw commented on #5306
@alexec This works for me. Thanks.
@henrik-koren I think you only should setup `containerRuntimeExecutor`, `containerRuntimeExecutors` has a label which will only work for the matched scenario. This is my understand.

I will close this. Since my issue resolved.

[2021-03-26 07:31] #5306 closed

[2021-03-26 09:38] manupm87 opened #5515 "Extend Pod GC to keep them alive during Workflow Lifespan"
# Summary

Currently pods are automatically garbage collected which translates on logs being lost -unless an artifact repository is configured, and even then logs are difficult to consult-.

It would be good to have an option in `spec.podGC.strategy` like `OnWorkflowDeletion` that would allow the pods to live until then.

# Use Cases
Whenever a workflow needs to be debugged, but the workflow has c

[2021-03-26 10:09] #4876 closed

[2021-03-26 10:09] #4430 closed

[2021-03-26 10:28] terrytangyuan commented on #5509
This would be a question to ask the maintainers of KFP instead.

[2021-03-26 10:45] terrytangyuan commented on #5515
Isn’t this the same as not specifying pod GC and not deleting the workflow? Once you are done with debugging you can manually delete the workflow, which will also delete the pods associated with it via owner references.

[2021-03-26 10:51] manupm87 commented on #5515
We currently don't have any pod GC and pods are being deleted automatically (sth like 10 minutes after completion) even though the workflows are kept via `ttlStrategy`

[2021-03-26 12:56] tim-sendible commented on #5508
This just happened again. The server pods had been up for 25h

[2021-03-26 12:59] terrytangyuan commented on #5515
Sounds like an issue with `ttlStrategy` instead. Are you sure you don't have other GC mechanism on workflows in your cluster? Could you share a minimal reproducible example?

[2021-03-26 14:01] manupm87 commented on #5515
I've just spawned a workflow from this template, and after 20 minutes the pod was destroyed.

[code]

For reference, this is the content of the Workflow Controller Configmap:

[code]

I'm starting to think that it has something to do with the Persistent Volume Claim being Terminated. As I've tried exactly same workflow with no PVC and it's still alive.

[2021-03-26 14:16] terrytangyuan commented on #5515
Thanks. I'd suggest closing this enhancement proposal and file a separate "reproducible bug report" instead so we would have sufficient information (versions, logs, etc.) to help debug: https://github.com/argoproj/argo-workflows/issues/new/choose

[2021-03-26 14:35] manupm87 opened #5518 "Pods get deleted on Workflows with PVC"
## Summary

Pods get deleted on Workflows that make use of a PVC.

I'd expect that pods remain accessible even though the PVC is terminated.

## Diagnostics

What Kubernetes provider are you using?
GKE

What version of Argo Workflows are you running?
v2.12.5 (deployed via Helm)

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with

[2021-03-26 14:36] manupm87 commented on #5515
Ok, I've raised the following bug: https://github.com/argoproj/argo-workflows/issues/5518

[2021-03-26 14:38] manupm87 commented on #5518
The behaviour I've observed is that after the Workflow is Successful, the PVC is schedule for Termination, and whenever it's deleted, the pods that make use of it get deleted too

[2021-03-26 15:17] rccrdpccl opened #5520 "Executor trying to copy from base image when using trailing slash in `volumeMounts[*].volumePath`"
## Summary

Having declared a template with:

[code]

When running it, just before completion we'd run into the error (`executor error: CopyFile() is not implemented in the k8sapi executor.`)

After a bit of digging into the code, I have tried with
[code]

And it worked. It turns out that when checking if the artifact is from the base image or a mount dir, eventually this method is called:

https:

[2021-03-26 15:23] simster7 commented on #5520
Want to submit a PR to fix this? @rccrdpccl

[2021-03-26 15:37] alexec commented on #5518
I don’t think this is Argo. We have no special handling for this. Have you tested to see what happens if you create a PVC and pod manually, and then delete the PVC?

[2021-03-26 15:40] rccrdpccl commented on #5520
Sure, I'll give it a go

[2021-03-26 15:40] alexec commented on #5504
Sure. The problem here is the log viewer is complex and changing it is risky. It would better to find another way to address this issue.

[2021-03-26 15:41] alexec commented on #5508
Are you able to indicate what the two IPs are?

[2021-03-26 15:41] alexec commented on #5508
Postgres?

[2021-03-26 15:43] tim-sendible commented on #5508
hmm that would have been helpful wouldn't it?

Definitely not postgres, that's hosted externally to the cluster. I imagine it's just the other pods in the argo namespace (we run 2 servers and one controller). Next time it dies I'll trace the IPs.

[2021-03-26 15:48] tim-sendible commented on #5508
Ah, you might be right to a degree...

So we use EKS and use an RDS Postgres db. To access the postgres DB, the pod gets allocated a secondary IP address - that's probably the one with :5432 on it. Summarised here: https://aws.amazon.com/blogs/containers/introducing-security-groups-for-pods/

So it's likely that both IP addresses are for the pod that's complaining. But I will confirm next time it

[2021-03-26 16:08] alexec commented on #5508
So we're probably getting disconnected and not reconnected. No other users have complained about this, and this code is >= 1y6m old. I expect it *maybe* something specific with your set-up. Do you know if RDS drops connections?

[2021-03-26 16:09] awcchungster commented on #3523
From the machine learning perspective, this use case is increasingly popular. At AWS, I meet with many customers who are hybrid or multi cloud. The ability to run steps that transfer data, run a container in different clusters, merge final results, and manage all steps in a single interface is highly valuable.

@ srivathsanvc

[2021-03-26 16:19] tim-sendible commented on #5508
It's not something I'm aware of but I will increase monitoring and get back to you.

[2021-03-26 16:58] manupm87 commented on #5518
It seems the reason this is happening is not PVC but GKE autoscaler. That was the only workflow that ran on a node pool that can scale to 0. I'll test it further next week but seems reasonable that Argo itself is not causing this.

[2021-03-26 17:07] Guillermogsjc commented on #3212
Hi @alexec @firecast,  is this feature already deployed on any version?

It would be very nice it it mimic the behaviour of `env` and `envFrom` in a similar manne, and to allow both `configMapRef` and `secretRef` would be beast:

[code]

[2021-03-26 17:16] alexec commented on #3212
This feature was never merged. Hopefully some one from the community will take it on.

[2021-03-26 17:56] bgdnlp opened #5523 "can't get it to work with AWS ALB"
## Summary

Trying to set up version 3.0-rc9 on an EKS cluster with ALB Ingress. We can't get it to work no matter what combination of protocols and arguments we tried.

## Diagnostics

What Kubernetes provider are you using?
AWS EKS

What version of Argo Workflows are you running?
v3.0.0-rc9

[code]

[code]
---
Here's the relevant K8s manifests, these get applied with kustomize over the official

[2021-03-26 18:26] alexec commented on #5523
[code]

This works for us.

[2021-03-26 18:59] #5466 closed

[2021-03-26 19:02] simster7 commented on #5515
Closing

[2021-03-26 19:02] #5515 closed

[2021-03-26 19:52] vbarbaresi opened #5525 "Workflow-controller non-leader replicas are unhealthy"
## Summary

Non-leader workflow-controller pods are considered unhealthy because the metrics server is not running.
They are periodically restarted and end up in CrashLoopBackOff state, which is not great for high availability

## Diagnostics

What Kubernetes provider are you using?
Company hosted Kubernetes cluster based on `v1.19.7`

What version of Argo Workflows are you running?
`v3.0.0-rc9`

[2021-03-26 20:12] sarabala1979 commented on #5525
@vbarbaresi do you have metrics server port config in your ‘workflow-controller-config map’

[2021-03-26 20:32] vbarbaresi commented on #5525
I don't have this, my workflow-controller-config map only contains:
[code]

I edited my initial bug description:
Everything works fine with 1 replica. The problem only happens on new replicas that aren't leader after I run:
`kubectl scale deploy/workflow-controller --replicas=2`