[2021-10-12 05:47] berlinsaint opened #6910 "Cannot get k8s resource 's log ?"
## Summary
Im create workflow using tfjob.
![image](https://user-images.githubusercontent.com/10629930/136898483-4018343e-50c5-4876-a55c-5ad6051a1f23.png)

how can i get  tfjob containers log except using kubectl?

[2021-10-12 13:18] xi2817-aajgaonkar commented on #6768
Thanks @jbandoro its working

[2021-10-12 13:18] #6768 closed

[2021-10-12 13:33] terrytangyuan commented on #6910
TFJob is a custom resource so I don't think logs are available besides the main container log that basically watches for the resource status. I'd suggest using a sidecar to collect your logs from worker/master pods and inject the log to a separate container/step so that you can see via the UI. Other than that, `kubectl` is the easiest way to access the logs.

[2021-10-12 13:45] wdma opened #6913 "Why am I failing to implement the memoize-simple.yaml example?"
Hello,
I am failing when I try to run the example found here:
[code]
Here is my error msg:
[code]

I am using the suggested configmap ("my-config") as an artifact-repository, along with a configmap to specify the emissary containerRuntimeExecutor. Both configmaps are applied and can be retrieved. I have tried putting "my-config" (the artifact repository) in both the default and argo namespaces - n

[2021-10-12 14:00] terrytangyuan commented on #6913
You have`   "data": {
      "whalesay-cache": "whalesay-cache"
   },` in your ConfigMap where you are supposed to put your artifact repository information in your `whalesay-cache` value. See documentation in https://argoproj.github.io/argo-workflows/artifact-repository-ref/

[2021-10-12 16:23] alexec commented on #6902
Having thought about this a bit more, I'm not sure the benefits is brings offset the costs.

[2021-10-12 16:39] kmcrawford opened #6915 "Migration error on new database"
## Summary

When creating a new argo-workflow deployment using a empty database I get the following error in the logs:
[code]

Using image:
[code]

## Diagnostics

Using helm chart:
`helm install -n argo argo-workflows argo/argo-workflows --values=values.yaml`
[code]

What Kubernetes provider are you using?
GKE

What executor are you running? PNS

---

**Message from the maintainers**:

Impacted b

[2021-10-12 16:41] basanthjenuhb opened #6916 "Establish a pattern for multitenency"
# Summary

- A K8s cluster is divided into namespaces and typically, each namespace is owned by a different team
- Currently, argo workflow configurations like SSO, archival configs etc are applied to the whole cluster
- This change would provide a way for namespace owners to specify configurations which apply just for workflows in their namespace and reduce dependency on the cluster owners for th

[2021-10-12 16:44] alexec opened #6917 "Python support"
# Summary

Python support is more than "Python DSL". I *think* users want to, write and test their code locally, without any containers, then package it up and run it as part of the workflow.

Today, you can do this by writing your function, then building and publishing an image, then writing some YAML. Kind of long winded, technical, with very slow iteration time.

Dataflow supports the concept o

[2021-10-12 16:46] alexec commented on #6891
what is the "rule"?

[2021-10-12 16:54] alexec opened #6918 "Low-code/No-code"
# Summary

I wonder how this would work, and what problems it might solve?

Provocation: If you want low-code, you still need to learn to code, and you also need to write a complex platform to run your low-code code. That platform needs much more skilled engineers to write and operate it. Ultimately, are things going to end up being more complex rather than less complex?

# Use Cases

When would y

[2021-10-12 17:02] alexec opened #6919 "Kubeflow Pipelines "Intermediate Representation""
# Summary

KFP v2 will support a generalised workflow specification. We may want to have support for that.

# Use Cases

Relates to #873

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-10-12 17:54] terrytangyuan commented on #6913
https://github.com/argoproj/argo-workflows/blob/master/examples/memoize-simple.yaml is the workflow YAML. The ConfigMap YAML is the one I pasted above. You can modify the configmap and controller will use whatever is stored in that configmap.

The key should be "whalesay-cache"  but looks like "test-5" is there instead, which is probably another issue to look into.

[2021-10-12 18:09] terrytangyuan commented on #6913
Actually, only the key in `memoize.key` is used currently and `memoize.cache.configMap.key` will be ignored.

[2021-10-12 18:11] #6915 closed

[2021-10-12 18:27] terrytangyuan commented on #6913
@wdma Could you take a look at https://github.com/argoproj/argo-workflows/pull/6920 to see if that clarifies things?

[2021-10-12 19:15] terrytangyuan commented on #6902
This tight coupling might introduce issues and the mixed log is acceptable to users IMO. Resource-wise, users should be able to customize the wait container resources to be minimal anyways.

[2021-10-13 01:25] Asherslab opened #6922 "UI: Workflow of Workflows representation"
# Summary

Currently a workflow of workflows (using the resource template) creates a seperate workflow representation in the UI with no form of reference or link between the created workflow and the "parent" workflow. Having some way to see the entire workflow of workflows as a single UI visualization would be great.

Terms:
Parent referrers to any Workflow that creates a workflow
Child referrers

[2021-10-13 06:01] #6910 closed

[2021-10-13 08:29] atombender commented on #6379
We tried the latest version (v3.2.0), and encountering same problem as before. It stops at a fairly early stage, while waiting for some daemon steps. The daemons start, but Argo never continues with the next steps.

[Workflow controller log](https://github.com/argoproj/argo-workflows/files/7336371/workflow-controller.log). The workflow is called `test-stargate-bqtxw`.

[2021-10-13 11:09] rijos opened #6923 "[Regression] Argo v3.2.0 UI ignores BASE_HREF"
Argo has the ability to set the base href using the BASE_HREF environment variable in argo-server.
This value is ignored in Argo v3.2.0

Argo v3.2.0
![image](https://user-images.githubusercontent.com/23135242/137121471-3d9e5527-a08c-4f63-b64a-bb68a0446b7d.png)

![image](https://user-images.githubusercontent.com/23135242/137120280-f84f1ccb-3c37-4fac-bc21-ac0ce46c5467.png)

Argo v3.1.13
![image](htt

[2021-10-13 13:52] ptitpoulpe opened #6924 "support HTTP template with artifact in body"
# Summary

Support artifacts HTTP template bodies

# Use Cases

Send a generated artifact to a rest api via a HTTP template.

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-10-13 15:18] mhill-holoplot commented on #6620
I have similar symptoms i.e the pod completes successfully main and wait but the workflow doesn't reflect this: https://github.com/argoproj/argo-workflows/discussions/6911

[2021-10-13 15:23] NikeNano commented on #6841
After doing some work on it, have the pause stuff set up before and after I realised that the signal to remove the pause will be a bit tricky. As I understand I will not be able to change the enviroment varialbe of the running process and thus can not update it. Neaither will I be able to make updates to the pod in relation to the enviroment variable.  I thought about adding a volume and constantl

[2021-10-14 00:37] #6909 closed, assigned to nobody

[2021-10-14 00:54] tczhao opened #6927 "Normal emissary info log should not go to stderr"
## Summary

- for emissary executor, because of the mechanism, it prints additional info to the main container stdout/err,

For clusters like gke, it will by default logs all container output to stackdriver logging.
This can be quite confusing to view through stackdriver logging and users need to apply an extra filter to correctly view it

![image](https://user-images.githubusercontent.com/2096150

[2021-10-14 05:37] wsj0000 opened #6928 "schema.json not update for argo-events with version v:1.5.0"
I'm using the Gitlab EventSource with argo-events:v1.5.0 intergration. But eventsource always setup failed. After checked for a while, I found it caused by schema not updated for new GitlabEventSource update (the projectID changing to projects). And the 'projects' feature is what I needed. Please have a check and update it.

Source refenced here:
https://github.com/argoproj/argo-workflows/blob/5a7

[2021-10-14 07:41] PrashantRaj18198 commented on #6750
This doesn't work for me, tried with latest version of argo-workflows and the above version also, in both cases I am getting some weird `openapi spec has wrong field type error`. Any clues for why this might be happening?
[code]

[2021-10-14 09:08] caevv opened #6929 "Argo Workflow adding "/argo/staging/script" on arg"
My docker entrypoint.sh has a script that does `echo $@` and my `script.args` is `a b c`, but the output is ```a b c /argo/staging/script```.

Anyone facing the same?

[2021-10-14 11:54] NikeNano commented on #6841
I suggest we stick to marker files to avoid having to use Process Namespace Sharing in order to access Process Namespace from other containers to be able to send the signals. It also makes more sens to me to use marker files since the emissary already uses that for triggering as I understand to be more consistent @alexec.

[2021-10-14 12:13] mhill-holoplot opened #6930 "Workflow indefinatly running once pod completed"
## Summary

The workflow state doesn't reflect the state of the pods. I initially created a discussion but I have seen in slack that other people are having similar issues. https://github.com/argoproj/argo-workflows/discussions/6911

What happened/what you expected to happen?

I did a fresh install of the install.yaml on an EKS 1.21 cluster. I created a service account for an example hello world w

[2021-10-14 13:59] BrynCooke opened #6931 "Make templates self describing"
# Summary
It would be great workflow template had a description and parameters had a description property. This would allow `argo template get <my-template>` to produce output more like the help of a regular terminal command.

For example current output is:
[code]
but it would be great if it output something
[code]
# Use Cases

When creating templates for other team members to use.

---

**Message

[2021-10-14 20:10] droctothorpe opened #6933 "Argo Workflows always adds `capabilities: drop: ALL` to container spec"
## Summary
Argo Workflows always adds `capabilities: drop: ALL` to container spec.

I've tried setting capabilities to `[]`, `drop` to `[]`, `drop` to a single capability (the resulting container included the single capability _and_ `ALL`), setting `securityContext` at the workflow spec level rather than the container spec level, fiddling with the Default Workflow via the relevant configMap, and m

[2021-10-14 20:45] wdma commented on #6913
@terrytangyuan I thought I had this problem fixed, but apparently not.

I have created a serviceaccount (argo:dma) linked to my argo-dev ClusterRole and user (dma). This clusterrole has the ability to update configmaps. However, when I run a workflow using this serviceaccount, the workflow-controller logs show that that argo used the argo serviceaccount.  I cannot find any specification in the wor

[2021-10-14 21:48] sarabala1979 commented on #6367
@danilorsilva can you try the 3.1.13 or 3.2.0?

[2021-10-14 22:03] sarabala1979 commented on #6929
@caevv are you using the `script` template script is mainly for `pseudo code`? Can you try with the `container`  template?

[2021-10-14 22:07] sarabala1979 commented on #6931
@BrynCooke like it. Would you like to submit the PR for this enhancement?

[2021-10-14 23:42] tczhao commented on #6927
After further investigation, I think the current behaviour is expected, don't need further fixing.

In gnu linux, stderr is defined as diagnostic output, don't necessarily means the message that goes here will be an error.

The logging software by default treats anything that appears in stderr as an error. I think this means the logging software needs extra configuration

[2021-10-14 23:42] #6927 closed

[2021-10-15 04:55] tczhao opened #6936 "created pod name in argo3.2.0 doesn't align with supplied pod name"
## Summary

e.g. when workflow try to create pod with name:
`mmm-super-core-run-dev-2021-10-11-tur-1216-test4-l5vfh-581997004`
argo 3.2 creates
`mmm-super-core-run-dev-2021-10-11-tur-1216-test4-l5vfh-summary-report-581997004`
argo <3.2 creates
`mmm-super-core-run-dev-2021-10-11-tur-1216-test4-l5vfh-581997004`

This cause issues include:
- unable to view live log in UI
- any reference that uses pod

[2021-10-15 05:38] tczhao commented on #6936
found this is actually as a result of
https://github.com/argoproj/argo-workflows/pull/6712

it is expected, the UI part is in progress, should not be a problem

[2021-10-15 05:38] #6936 closed

[2021-10-15 08:50] butzist opened #6939 "Cannot use parameters in container resource limits"
## Summary

What happened/what you expected to happen?

When creating a Workflow that uses workflow parameters for setting resource limits of a container, the Workflow fails after submitting with message:

[code]
Btw. using the same expression in an env variable works fine (see below).

What version of Argo Workflows are you running?

3.1.8, 3.2.0

## Diagnostics

Either a workflow that reproduces

[2021-10-15 08:58] #6930 closed, assigned to nobody

[2021-10-15 11:49] #6913 closed

[2021-10-15 12:49] wdma opened #6942 "From where does Argo determine the user if not specified explicitly?"
I am running a workflow with the serviceaccount dma. No matter what I do, Argo thinks that I am using the Argo user.
How do I specify that Argo should run with the user dma?

[code]

Here is the "--watch" output
[code]

and the yaml
[code]

The workflow-controller shows the same problem
[code]

Here are my serviceaccounts
[code]
I am running
Argo version 3.2.0
Kubernetes version 1.22.2
Ubuntu 20.0

[2021-10-15 14:22] #6942 closed, assigned to nobody

[2021-10-15 14:52] alexec commented on #6844
@kennytrytek thank you for investigating this.

[2021-10-15 14:55] #6458 closed

[2021-10-15 14:57] alexec commented on #6891
done

[2021-10-15 14:57] #6891 closed, assigned to nobody

[2021-10-15 14:58] alexec commented on #6916
To do this, install an Argo Server in each namespace.

[2021-10-15 15:02] #6137 closed

[2021-10-15 15:05] #5438 closed

[2021-10-15 15:05] #6417 closed

[2021-10-15 15:08] #6848 closed

[2021-10-15 15:16] alexec commented on #6933
I think you could use `podSpecPatch` as a work-around for this.

However, I'm not sure that workflows is adding this, are you using OPA or a mutating web controller for security policy enforcement?

[2021-10-15 15:17] alexec opened #6943 "Pluggability"
# Summary

Issues:

* [x] #4355
* [x] #5201
* [x] #7154
* [ ] #7177
* [ ] #7710
* [ ] #6945
* [x] #5862
* [ ] #6867
* [x] #7073
* [x] #6313
* [ ] #4162
* [ ] #4163
* [ ] #7743

Related:

* [ ] #6615
* [ ] #4158

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-10-15 15:20] alexec opened #6944 "Workflow Lifecycle Hooks Plugin"

[2021-10-15 15:20] alexec opened #6945 "UI: User interface plugins"
Currently, to add a new resources to the UI you need to implement both backend and frontend changes:

* Add new proto.
* Write some Golang code.
* Implement the UI changes.

Unlike workflows APIs, the events and dataflow APIs are generic, we could replace them with a "dynamic" API that uses the `dynamic.NewClient`. That would open up a bunch of APIs that could be used to support any resource we wa

[2021-10-15 15:56] JPZ13 opened #6946 "tech debt: Move ui pod name functions to separate file and add tests"
In #6925, @alexec requested that we make the following changes in the ui:
- factor out the pod name functions into a separate file
- add tests for those functions

[2021-10-15 16:14] #6923 closed

[2021-10-15 16:25] Guillermogsjc opened #6947 "pod logs UI bug on v3.2.0"
when using argo v3.2.0, dynamic logs on pods do not display on UI until pods are finished, it keeps as `Waiting for data...`  without resolution

[2021-10-15 17:37] #6933 closed, assigned to nobody

[2021-10-15 18:05] #6431 closed

[2021-10-15 18:18] #6866 closed

[2021-10-15 19:25] aaronmell opened #6948 "Invalid parameter when using exit hook"
## Summary

What happened/what you expected to happen?
In the example below, when a step/task has retries and an onExit hook, and the onExit hook takes as input the output of the step running, the input to the onExit handler is invalid.

![image](https://user-images.githubusercontent.com/490702/137541879-87aff899-1bd4-4190-a6a2-84cea77c3254.png)

What version of Argo Workflows are you running?
3.2

[2021-10-15 19:28] guillaumBrisard opened #6949 "Add an argocli image with a shell"
# Summary

Add an argocli image with a shell (alpine)

# Use Cases

I need to custom my concourse pipeline task, to check some params or to execute multiple argo commands.
Right now, I build an other image based on alpine :
[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-10-15 19:40] #6865 closed

[2021-10-15 20:21] chavacava opened #6950 "Unreachable code in util/tls/tls.go"
https://github.com/argoproj/argo-workflows/blob/67fe87ba9f3b8dbcb0f330a7ef593403d8909061/util/tls/tls.go#L24-L27

The `os.Exit(2)` function call is unreachable.

(Found by [revive](https://github.com/mgechev/revive) rule `unreachable-code`)

[2021-10-15 21:07] sarabala1979 opened #6951 "v3.2.1 cherry-pick"
- [x] J.P. Zivalich: fix(ui): Change pod names to new format. Fixes #6865 (#6925) 67fe87ba9
- [x] Saravanan Balasubramanian: fix: BASE_HREF ignore (#6926) 1bcfa1aa5
- [x] Micah Beeman: fix(controller): Fix getPodByNode, TestGetPodByNode. Fixes #6458 (#6897) 41515d65c
- [ ] Yuan Tang: docs: Fix demonstration of using existing ConfigMap in memoization cache (#6920) 9efc9e8fc
- [ ] github-actions[bot

[2021-10-15 21:10] sarabala1979 commented on #6947
Fixed in v3.2.1

[2021-10-16 07:20] NikeNano commented on #5369
Will updated the draft during the weekend.

[2021-10-16 08:14] Guillermogsjc opened #6952 "label inheritance from cronwf"
hi, could workflows generated frorm cronwf inherrit labels from the cronwf?

the inheritance could be direct or namespaced (at least changing namespace (prefixing them or something like that)

for example:

if cronwf has label: `a : foo`, then workflows generrated by this cronwf could have
`workflows.argoproj/cron-workflow-label/a : foo ` or something similar to facilitate the filtering by labels

[2021-10-17 01:47] terrytangyuan commented on #6952
You can use WorkflowMetadata on your WorkflowSpec?

Also since the CronWorkflow name is also available in the annotations of the workflows already, you can easily find the labels from the original CronWorkflow.

[2021-10-17 23:33] Guillermogsjc commented on #6952
Yes, thank you @terrytangyuan , it was more like etcd queries are optimal against `metadata.labels` fields as far as I know because they are the indexers of Kubernetes objects.

The use case: You have a controller daemon to launch tasks, but you need to monitor current alive ones and launch depending on alive workflow `metadata.labels`. You need to periodically query K8S objects to get this inform

[2021-10-18 04:19] terrytangyuan commented on #6952
Yes, there are indeed some performance benefits. So what I suggested was the following:

[code]

The labels in `workflowMetadata` will be available in the child workflows of the CronWorkflow so you can query directly from the workflows' `metadata.labels`.

[2021-10-18 04:39] smile-luobin commented on #6948
trying to fix this bug in PR: https://github.com/argoproj/argo-workflows/pull/6956

[2021-10-18 06:54] Guillermogsjc commented on #6952
ahhhh, great! thank you very much @terrytangyuan , I was absolutely ignorant about `spec.workflowMetadata` path! great, that fits the needs

[2021-10-18 09:18] timmyyuan opened #6958 "Flaky test: TestSynchronizationWithStepRetry"
## Summary

**What happened/what you expected to happen?**

I ran unit tests but `TestSynchronizationWithStepRetry` failed. I expect this test can passe.

**What version of Argo Workflows are you running?**

The master branch (`67fe87ba9f3b8dbcb0f330a7ef593403d8909061`) and the environments are:

[code]

## Diagnostics

To reproduce it, check out the master branch and then run:

[code]
[code]

---

[2021-10-18 15:03] vitalyrychkov opened #6959 "enum: values not validated, any value accepted"
## Summary

Expected:
- Input parameter in the workflow template has enum: with several values.
- Workflow submitted with a value not in the enum: list must return an error.
- Only values defined in the "enum:" must be allowed for the workflow input parameter.

What version of Argo Workflows are you running?
  v3.1.3

## Diagnostics

Either a workflow that reproduces the bug, or paste you whole wo

[2021-10-18 15:53] sarabala1979 commented on #6948
@smile-luobin Above PR will not fix this issue.  I am trying to fix this issue. if you like to take my fix and merge with PR.  I will create a draft PR for your reference.
here is the fix step.go line 263. (tested working )

[code]

here is the fix dag.go line 248
[code]

[2021-10-18 15:55] #6939 closed

[2021-10-18 16:10] vitalyrychkov commented on #6959
I think you do not understand the issue.
The enum is a list of valid values.
It _was_ enforced in the Argo version 2.12 which we had before the upgrade.

[2021-10-18 16:30] sarabala1979 commented on #6959
@vitalyrychkov I missunderstood the issue above. Let me take a look

[2021-10-18 16:55] #6643 closed

[2021-10-18 19:03] #6928 closed

[2021-10-18 19:37] #6950 closed, assigned to nobody

[2021-10-19 00:47] tczhao opened #6962 "Log viewing problem in UI due pod name changes"
## Summary

https://github.com/argoproj/argo-workflows/pull/6712
introduce POD_NAMES Whether to have pod names contain the template name (v2) or be the node id (v1).

https://github.com/argoproj/argo-workflows/pull/6925
forces all podname on UI to align with v2,

These introduce problems:

- by setting POD_NAMES to v2 on workflow-controller

all the historical archived workflow logs won't be viewa

[2021-10-19 01:44] jaredmcqueen commented on #6635
Experiencing the same problem.

Would [init containers](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/) be able mount the CA-trusted certificate prior to workflow inputs/outputs/artifacts?

Another idea would be patching / mounting the correct CA-signed certs to the workflow-server container prior to workflows running?  Not that familiar with argo workflows yet...

[2021-10-19 02:24] sarabala1979 commented on #6948
@smile-luobin Good me, we can pass the node object into `runOnExitNode`. you can combine both in one PR

[2021-10-19 06:12] iochagov commented on #6824
It would be great to have this feature!

[2021-10-19 06:21] #6526 closed

[2021-10-19 13:43] joakimwar commented on #6275
I'm pretty sure I was looking at the updated version. I ended up doing `brew install argo`. I think that worked for me, but I have a different problem now, so I'm not quite sure ¯\\_(ツ)_/¯

[2021-10-19 14:32] alexec opened #6970 "Upgrade to Golang 1.17"
This should be as simple and search-and-replace "1.16" with "1.17".

https://nvd.nist.gov/vuln/detail/CVE-2021-29923

This is the same work, but for 1.16:

https://github.com/argoproj/argo-workflows/commit/7f2c58972177c5b7cfdfb6bc8d9ba4189a9f45d0

[2021-10-19 14:36] alexec opened #6971 "Update Jesse's email in SECURITY.md"
It is defunct @intuit.com address today.

@jessesuen @wanghong230

[2021-10-19 15:13] #6859 closed

[2021-10-19 15:27] alexec opened #6972 "TOB-ARGO-011 HTTP artifact fetcher will fail on self-signed certificates - informational"

[2021-10-19 15:27] alexec opened #6973 "TOB-ARGO-012 HTTP artifact fetcher will not use TLS by default - low severity"

[2021-10-19 15:27] alexec opened #6974 "TOB-ARGO-013 Prometheus metrics endpoints do not use TLS - low severity"

[2021-10-19 16:30] #6300 closed

[2021-10-19 18:26] sarabala1979 opened #6975 "v3.1.14 cherry-pick"
- [ ]  J.P. Zivalich: fix(ui): Change pod names to new format. Fixes Cannot view logs in UI for multi-template workflows #6865 (fix(ui): Change pod names to new format. Fixes #6865 #6925) 67fe87b
- [ ]  Saravanan Balasubramanian: fix: BASE_HREF ignore (fix: BASE_HREF ignore #6926) 1bcfa1a
- [ ]  Micah Beeman: fix(controller): Fix getPodByNode, TestGetPodByNode. Fixes TestGetPodByNode is flakey #64

[2021-10-19 18:32] #6793 closed

[2021-10-19 18:32] #6869 closed

[2021-10-19 20:35] #6972 closed

[2021-10-19 20:38] alexec opened #6976 "Document resource request tuning"
# Summary

These are left unset by default. Users will need to tune the requests (they may also want to set the limits).

This should probably be part of the cost optimisation guide.

# Use Cases

When trying to pack pods efficiently.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-10-19 23:13] mitchellgordon95 opened #6981 "Webhook Drops Some Workflows Under Load (Silently)"
## Summary

I have a `WorkflowEventBinding` that starts a workflow when I curl an endpoint like so:

[code]

Normally this works correctly. However, sometimes I want to create several workflows at the same time. If I run the above curl command 10 times in quick succession, each returns a `200 OK`. However, only 7 or 8 workflows are actually created. I can see in the argo server logs that there is

[2021-10-20 00:41] joyciep commented on #6970
Can I work on this?

[2021-10-20 03:12] timmyyuan opened #6983 "Go vet return undefined functions"
## Summary

What happened/what you expected to happen?

I tried `go vet ./...` in the top directory but the vet complained:

[code]

What version of Argo Workflows are you running?

master (`6384e5f2104c3df69070c33da636599d413f7d6c`)

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-10-20 03:20] tczhao opened #6984 "UI, make selected nodes more obvious"
Maybe we can make the selected nodes more obvious (e.g. swap the colour between icon and circle)

so that it's more intuitive to the user and don't require user to lookup name on the left and right panel to find out which node they are looking at

![image](https://user-images.githubusercontent.com/20961507/138022547-768db099-1270-4fcc-b4df-91cd087644fa.png)

---

**Message from the maintainers**:

[2021-10-20 03:41] wanghong230 commented on #6863
@alexec Based on your understanding, do you think this is simply not a supported feature? using parameter inside a parameter default value.

[2021-10-20 06:15] Asherslab opened #6986 "Git Output Artifacts"
# Summary

Currently Git Artifact only supports input, providing support for output would be great. I can see this providing credentials is already supported via secrets, theoretically the minimum extra field required would be a commit message

# Use Cases

Easy workflows that needs to update remote git repositories, such as argocd configuration repos.

---

**Message from the maintainers**:

Impa

[2021-10-20 10:05] asterix201 commented on #6824
it could be a very useful feature for us

[2021-10-20 12:43] kruegener opened #6989 "UI logs for multi-step workflows with templateRef still missing in v3.2.1"
## Summary

Version 3.2.0 introduced a bug regarding logs in the UI for multi-step workflows https://github.com/argoproj/argo-workflows/issues/6947.
This was mostly fixed with version 3.2.1 via https://github.com/argoproj/argo-workflows/pull/6925, however some edge cases still fail.

In our case, a step using `templateRef` still does not work. The pod name in the UI for this step contains `undefin

[2021-10-20 13:14] tczhao commented on #6989
confirm reproducible with
https://github.com/argoproj/argo-workflows/blob/master/examples/workflow-template/steps.yaml

---

![image](https://user-images.githubusercontent.com/20961507/138099290-0272a620-2d49-449c-b3fb-65a956300f7b.png)
some nodes have `undefined` in the pod name causing query the backend using incorrect url

---

Hi @JPZ13 , can you have a look into this as well

[2021-10-20 14:07] basanthjenuhb commented on #6916
@alexec Yes, installing argo in each namespace is definitely a way to achieve it.
Only thing is, it might not be cost effective and operation heavy for individual teams.

I have been thinking about an approach for "SSO multitenancy"
Would request your feedback on this: https://github.com/argoproj/argo-workflows/issues/6916

[2021-10-20 14:50] alexec commented on #6863
I think I have misunderstood this issue. I think there are two problems in it. One was fixed by upgrading Sprig. I believe the other was not addressed. I will re-open it.

[2021-10-20 15:00] alexec commented on #6916
@basanthjenuhb I'm hoping we'll implement Casbin based RBAC #6490 , which is much more flexible that the current RBAC we have. That would allow you to specify rules that are use namespace. Do you think that might fix your issue?

Take a look at the PoC too: #6646

[2021-10-20 15:19] alexec commented on #6981
+1 to @dinever 's statement. I think I make a mistake to implement it async. I think we should do them sync.

I wrote this, so I'll fix it.

[2021-10-20 15:19] alexec commented on #6989
Thank you @JPZ13

[2021-10-20 16:38] iatzmon opened #6994 "HTTP template agent does not perform requests in parallel"
## Summary

I'm testing the HTTP template feature in v3.2 and I'm not sure if this is the intended behavior or not, but it looks like the HTTP agent performs requests sequentially and not in parallel.

## Diagnostics

I've created an API endpoint that receives a delay parameter and sleeps before returning a response.
I would expect all the steps in this workflow to complete at about the same time,

[2021-10-20 18:39] ziv-codefresh commented on #6439
@alexec can you please take a look?

[2021-10-20 19:24] alexec commented on #6994
This is an intended. It was simpler to implement in sequence, but it might be good to do in parallel in some use cases. Would you be interested in submitting a PR?

You could use a worker pool to do this:

https://gobyexample.com/worker-pools

[2021-10-20 21:24] alexec commented on #6947
You can revert behaviour using `POD_NAMES=v1`

[2021-10-20 21:50] alexec commented on #6947
It should be possible to fix this by finding wherever `LocalVarPodName` is in the codebase, and checking it uses `PodName` not `NodeID`.

[2021-10-20 22:30] SunSparc opened #6999 "Typo in function "WriteTeriminateMessage""
I hesitate to even report this because it is such a small thing. I was looking through the code and came across a type in the function name: `WriteTeriminateMessage`

This function is found in the [/util/util.go](https://github.com/argoproj/argo-workflows/blob/9ca9d2e683420b1ff76afde848880963ea52d39c/util/util.go#L53) file.

I would expect the function name to be: `WriteTerminateMessage`

[2021-10-20 23:54] #6973 closed

[2021-10-21 00:59] dinever commented on #6999
Thanks for reporting this! Would you like to submit a PR?

[2021-10-21 01:18] rbkaspr opened #7001 "Improve signposting for integrations"
# Summary
As of v3.2.0, an integration with Argo Dataflow has been added to the Workflow UI, but the integration isn't really documented on the project page, and the errors that pop up when trying to access the new pipelines tab don't really give much indication of what is supposed to be providing the pipeline functionality.

Currently, if someone new to Workflow deploys the Workflow stack and cli

[2021-10-21 01:27] sarabala1979 opened #7002 "v3.2.2 cherry pick"
- [ ] J.P. Zivalich: fix: Restore default pod name version to v1 (#6998) 86ddda592
- [ ] Tianchu Zhao: fix(artifact)!: default https to any URL missing a scheme. Fixes #6973 (#6985) 0446f521d
- [ ] Alex Collins: docs: update default executor (#6996) 9ca9d2e68
- [ ] Alex Collins: docs: Mention #6712 in upgrading guide (#6992) 0d43e2ee2
- [ ] Zadkiel: fix(typo): correct typo in event-dispatch error

[2021-10-21 02:55] SunSparc opened #7004 "Readiness Probe never successful for short-lived tasks"
## Summary

What happened/what you expected to happen?

[code]

The probe always fails because by the time the probe runs, the tasks are already complete. As can be seen in the Diagnostics section below, the `State` of the containers is `Terminated` and the `Reason` is `Completed`. If the containers are "Completed", there is no need for readiness checks.

[code]

## Diagnostics

`$kubectl describe

[2021-10-21 04:56] tczhao opened #7007 "with podname v2, pod.name resolves to incorrect name when using specpatch or retry"
when setting podname to v2, the resolved pod.name should contain template

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-10-21 07:12] hbrewster-splunk opened #7011 "Set Default workflowMetadata"
# Summary

Currently, argo-workflows supports a few `workflowDefaults` in the workflow-controller-configmap. However, it does not support setting `spec.workflowMetadata.labels` as a controller level default which causes difficulty when implementing archived workflows:

# Use Cases

A workflow is only archived if it meets a specific archive label, e.g. if the following label exists `spec.workflowMe

[2021-10-21 07:14] mirocody opened #7012 "UI: Support viewing logs for containers created by resource template"
# Summary

AFAIK, currently argo can only log container defined in Workflow step, not the container it creates through resource template. It will be useful if users can specify the container they want to log.

# Use Cases

For example, if users want to use argo and kubeflow training operator for ML training, they can use the follow template
[code]
However, currently argo can only log the container

[2021-10-21 07:17] opyh commented on #5582
@ghost Could you edit your comment so your solution uses `/home/argo/argo-server.key` as mount path, not `/argo-server.key`? This might help others to save some time :)

[2021-10-21 07:58] Guillermogsjc commented on #3212
Hi , do you think it would be possible to amplify the feature to allow `paramsFrom` performing mimic on `env` and `envFrom` ?

[code]

[2021-10-21 09:56] #6874 closed, assigned to sarabala1979

[2021-10-21 12:17] alexglatt opened #7013 "Pods created by Argo Workflows don't have the desired labels defined by the podMetadata field"
## Summary

I need to submit Argo Workflows to create pods that have specific labels. However, most of the time when I use the podMetadata field in the WorkflowSpec, the pods don't have the defined labels. In some rare submission attempts, the created pods do have the specified labels but when I submit the exact same Workflow once again, the created pods don't have them again.
When I submit a Work

[2021-10-21 12:56] oopslink opened #7014 "Failed to run hello world workflow, pod finished while workflow failed."
## Summary

What happened/what you expected to happen?
It is  very similar to #4534, but not exactly same. pod finished while workflow failed.

[code]

What version of Argo Workflows are you running?

v3.1.14, run in KinD.

KinD version:

- kind v0.11.1 go1.16.4 darwin/amd64

- Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.0", GitCommit:"9e991415386e4cf155a24b1da15becaa3904

[2021-10-21 13:02] sanjaytangudu230 opened #7015 "Unable to parse schedule value with 30 18 ? * MON#3"

[2021-10-21 14:28] sylock opened #7016 "Implement systematic BASE64 encoding/decoding in the serialization/deserialization of parameters"
# Summary

Related to #6431
@sarabala1979

In some edge cases where you try to pass on complex data value as a parameter (in this scenario a full json), the deserialization fails to escape the special characters.

# Use Cases

This use cases is about introspection. But any case where you pass very complex data structured in json, as a parameter value.

# Proposal
Implementing a coding/decoding of

[2021-10-21 16:12] #6948 closed

[2021-10-21 16:15] alexec opened #7017 "Have Java and Python SDKs into main code-base, automated release"
We have many repos that are not being maintained:

* [x] https://github.com/argoproj-labs/argo-client-gen
* [x] https://github.com/argoproj-labs/argo-events-client-gen
* [x] https://github.com/argoproj-labs/argo-client-python
* [x] https://github.com/argoproj-labs/argo-client-java
* [x] https://github.com/argoproj-labs/argo-events-client-python
* [x] https://github.com/argoproj-labs/argo-events-cl

[2021-10-21 16:20] alexec commented on #7015
Please add more information.

[2021-10-21 16:21] alexec commented on #7014
This is permission issue. Please see workflow-role.md.

[2021-10-21 16:21] #7014 closed

[2021-10-21 16:24] alexec commented on #7004
I've not heard of this. @sarabala1979 ?

[2021-10-21 16:32] #6951 closed, assigned to nobody

[2021-10-21 16:38] sanjaytangudu230 commented on #7015
whenever I am giving "30 18 ? * MON#3" as schedule value it is throwing an error

 Internal Server Error: cron schedule is malformed: failed to parse int from MON#3: strconv.Atoi; parsing "MON#3": invalid syntax

[2021-10-21 16:39] #7007 closed

[2021-10-21 17:05] alexec commented on #7001
@rbkaspr would you like to contribute a PR to fix this?

[2021-10-21 18:07] #7004 closed

[2021-10-21 20:50] alexec opened #7023 "Docs no longer building on master"
It'd be great to have someone look at this:

[code]

More build failures:

https://github.com/argoproj/argo-workflows/actions/workflows/gh-pages.yaml

[2021-10-21 22:07] alexec commented on #7011
But you could do `spec.metadata.labels`?

[2021-10-21 22:12] hbrewster-splunk commented on #7011
I've tried that. The workflow is only archived if the label is matched in spec.workflowMetadata.labels not spec.metadata.labels

[2021-10-21 23:37] sarabala1979 commented on #7013
If you refer the `workflowtemplate` using `templateRef`, spec.podMetadata will be applied because it is in `spec` scope. if you use `workflowTemplateRef`, it will be applied.

[2021-10-21 23:40] #7023 closed, assigned to nobody

[2021-10-21 23:46] sarabala1979 commented on #7013
@alexglatt I tried in my local env multiple time. it works. Can you provide me the controller log when it didn't have it?

[2021-10-22 03:13] duwanqiebi opened #7030 "Submit Workflow via `argo submit $file` Failed."
[code]

I want to submit this workflow via `argo sumit` command, but I got this error:
` Failed to submit workflow: templates.main-step.steps[1].order-summary-uwt-calcute templates.main.steps[0].order-summary-uwt-delete templates.run-query-script inputs.parameters.host was not supplied`. But this parameter is configured to read from configmap.

[code]

But when I submit the same workflow via web U

[2021-10-22 03:25] terrytangyuan commented on #7030
Could you share your controller log for this two cases?

[2021-10-22 03:50] duwanqiebi commented on #7030
There had no logs when I failed the submission.

[2021-10-22 04:23] sanjaytangudu230 commented on #7015
even the above one was failing.I want to give this syntax in cron workflow template

[2021-10-22 04:30] sanjaytangudu230 commented on #7015
How to kill(delete)  the cron workflow template  automatically after specific number of times it has been triggered or until a specific date

[2021-10-22 09:18] tczhao opened #7034 "(UI) Add filter functionality to the Cron Workflows page"
Similar to #6300

# Summary

Add searchability and tag-based filtering to the Cron Workflows page of the Argo UI, similar to the same functionality on the Workflows page.

# Use Cases

When having lots of workflows label filters would be helpful

It would be extremely helpful when one has lots of cron workflows that contain a mix of suspended and running states.

![image](https://user-images.githu

[2021-10-22 10:14] gyptazy opened #7036 "Missing Prometheus metric for terminated workflows"
# Summary

When terminating a workflow in argo-workflows this should be correctly represented within the Prometheus metrics. In the current state this will not be handled as a dedicated state. IMHO a user terminated workflow should not be treated as a failed one. Therefore, a new gauge for Prometheus should be integrated to provide this.

# Use Cases

The current overview of human terminated workf

[2021-10-22 15:56] zsolt-keseru-epam opened #7039 "Dex SSO auth via internal Dex address"
# Summary

What change needs making?
Possibility to handle authentication related communication between Argo Server and ArgoCD's Dex via internal address.

When setting up SSO authentication via ArgoCD's Dex the issuer URL is expected to be accessible via it's external address (a reverse proxy built into argocd-server), while sometimes this is restricted by company network policies.

Introducing t

[2021-10-22 16:24] #6917 closed, assigned to nobody

[2021-10-22 17:54] alexec opened #7040 "Fix flakey TestDoNotCreatePodsUnderStopBehavior on docker"
[code]

https://github.com/argoproj/argo-workflows/actions/workflows/ci-build.yaml?query=branch%3Amaster

[2021-10-22 21:42] jrobertson-insite opened #7042 "WorkflowEventBinding Parameter from json doesn't work with % symbol"
## Summary

In a WorkflowEventBinding Parameter, the value is passed through Go's fmt library more than once. This causes all of Go's fmt specifiers to be applied to the user specified input.

In my case when the parameter has a value of `payload.sqlQuery`, and `payload.sqlQuery` has a value of `SELECT * FROM test WHERE Name LIKE '%MyName%'` we see this value in the actual workflow submitted as `S

[2021-10-23 16:41] alexec opened #7046 "expression tag template should only allow `sprig.*` for short runtime functions"
# Summary

It is possible that `sprig.*` functions could run for a long time, locking up the workflow controller and resulting in all workers becoming busy.

Review all the `sprig` functions and only include ones with short runtime.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-10-23 18:13] #7034 closed, assigned to nobody

[2021-10-23 19:03] #6906 closed

[2021-10-24 06:08] swen128 opened #7047 "Workflow is stuck at the "Running" state even after the main container is terminated."
## Summary

Any workflow submitted gets forever stuck at the "Running" state even though the main container is finished.
Pressing the "Terminate" button does nothing either.

v3.1.0 -- v3.2.2

v3.0.10

## Diagnostics

I deployed Argo to minikube using Kustomize and [these YAML files](https://gist.github.com/swen128/6e37f6ac17ea7b2c98c3ede1265344c7).

I thinks the problem is caused by the `latest`

[2021-10-24 19:56] #7040 closed

[2021-10-24 21:55] #6970 closed

[2021-10-25 01:57] #7030 closed

[2021-10-25 05:28] #6884 closed

[2021-10-25 13:08] jcmuller opened #7050 "Allow external identity provider authorization services for SSO"
# Summary

What change needs making?

There are cases where organizations prefer to use the same identity provider across all their applications. I would like to suggest that argo accepts OIDC bearer tokens from upstream providers and only does the RBAC check based on the groups passed in.

This would allow organizations to not have to configure 2 inlined sso processors: whatever the upstream is,

[2021-10-25 14:28] simster7 opened #7052 "Enable TLS by default on Metrics/Telemetry"
# Summary

What change needs making?

Enable TLS by default on Metrics/Telemetry

# Use Cases

When would you use this?

Following ToB recommendation and decision in: https://github.com/argoproj/argo-workflows/pull/7041

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-10-25 17:04] #6958 closed

[2021-10-25 19:20] Bill-Fu opened #7053 "Add UI/UX support for ConfigMaps"
# Summary

Currently, ConfigMap feature has been supported in argo workflow, but there's no UI/UX support for this feature. It would be much easier to use such feature when UI is supported.

# Use Cases

When we want to view directly what ConfigMap we created and want to make some minor change.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues wit

[2021-10-25 22:54] alexec opened #7054 "UI: make somewhat skinnable / themable"
# Summary

Allows users to skin the UI with new colours, their own loge, but keep Argo bits.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-10-25 23:31] rwong2888 opened #7055 "argo workflow interpolation stripping quotes"
My workflow works with my defaults values, but when I try to pass a value from the cli it errors out on "{{inputs.parameters.a-record-data}}". The error indicates the a-record-data is not wrapped in quotes.

I've tried passing the parameter with single quotes, double quotes, no quotes. I've tried triple quoting and casting parameter to string in the script.

Container image is based on alpine.

ar

[2021-10-26 00:50] alexec opened #7057 "Kill ISTIO for Emissary executor"
# Summary

If the container is named "istio-proxy" use this command to kill it:

[code]

Need help to test.

Maybe make it env var?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-10-26 06:50] fwfichtner opened #7059 "Possibility to add PriorityClass to workflow submits via REST"
# Summary

`podPriorityClassName` is not part of the [submitOpts](https://github.com/argoproj/argo-workflows/blob/4734cbc44dedeb2c7e5984aab5dc9b0c846ff491/pkg/apis/workflow/v1alpha1/common.go#L43). So an API submit does ignore any `PriorityClassName` we set.

# Use Cases

When submitting workflows via REST it is useful to set different `PriorityClasses` depending on timeliness or importance of our

[2021-10-26 08:25] htouloupas opened #7061 "Variable substitution does not work for `ConfigMapKeySelector` at global `Workflow` or `Step` level"
## Summary

### Environment

* Latest `argo-workflows` from `master` installed from https://raw.githubusercontent.com/argoproj/argo-workflows/master/manifests/quick-start-postgres.yaml
* Kubernetes version: `v1.22.2`
* Minikube version: `v1.23.2`
* Mac OS X 11.6

Given the instructions defined here https://github.com/argoproj/argo-workflows/blob/master/docs/variables.md I expect that variables wor

[2021-10-26 12:59] simster7 opened #7063 "`TestNewOperation` might be flakey"
## Summary

What happened/what you expected to happen?

Doc only PR fails unit tests: https://github.com/argoproj/argo-workflows/runs/3998568390?check_suite_focus=true

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-10-26 13:49] eliastsironis opened #7068 "Upload output to s3 fails with error"
## Summary

What happened/what you expected to happen?
When I'm using AWS s3 as the location of our artifacts output I'm getting this error on workflow exit: "failed to put file: The request signature we calculated does not match the signature you provided. Check your key and signing method." Although the files are already uploaded to s3 the workflow fails with this error.

What version of Argo Wo

[2021-10-26 15:08] #7055 closed, assigned to nobody

[2021-10-26 15:34] #7063 closed, assigned to nobody

[2021-10-26 15:50] sarabala1979 opened #7070 "v3.2.3 cherry-pick"
- [ ] Julien Duchesne: feat: Add user's email in the server gatekeeper logs (#7062) 60f2ae95e
- [ ] Tianchu Zhao: fix: Unit test TestNewOperation order of pipeline execution maybe different to order of submit (#7069) 31bf57b64
- [ ] Tianchu Zhao: docs(cli): fix cron delete flag description (#7058) 18c953df6
- [x] Saravanan Balasubramanian: fix: Precedence of ContainerRuntimeExecutor and ContainerR

[2021-10-26 16:13] yoandl opened #7072 "http prevents next steps to appear in web ui"
## Summary

What happened/what you expected to happen?
When you start workflow with multiple http steps (with new http template), nothings appears after the first http step.

What version of Argo Workflows are you running?
3.2.2
## Diagnostics

example workflow :

[code]

What Kubernetes provider are you using?

AWS Eks 1.18

---

Impacted by this bug? Give it a 👍. We prioritise the issues with th

[2021-10-26 17:54] sarabala1979 opened #7073 "Workflow and Template status change notification/trigger using Lifecycle Hook"
# Summary
Inspiration from https://github.com/argoproj/argo-workflows/issues/4355. We can add workflow and template lifecycle hook

Example:
Lifecycle hook  (Workflow level and Template level)
Option 1:
[code]

Option2:
[code]

[2021-10-26 20:03] sarabala1979 opened #7076 "Use Configmap as temporary artifact repository for big parameters"
# Summary
Current Workflow has a limitation of passing big parameters between steps because of `annotation` max length. Suggest using artifacts to overcome this limitation. Users should have some cloud storage infrastructure to achieve this.

I am proposing to use k8s configmap as temporary storage for transferring big parameters or simple contents which are less than 1 MB.

[code]

[code]

What c

[2021-10-27 03:27] #6949 closed

[2021-10-27 09:46] mickj74 opened #7079 "multiple http steps in DAG run indefinitely"
## Summary

What happened/what you expected to happen?
besides the UI issue mentioned in issue #7072 if there are multiple http steps in a DAG, the workflow never completes.

What version of Argo Workflows are you running?
v3.2.0

## Diagnostics

example

[code]

What Kubernetes provider are you using?
AKS

What executor are you running? Docker/K8SAPI/Kubelet/PNS/Emissary
PNS

---

**Message from

[2021-10-27 10:55] jaese opened #7080 "Workflow hangs when HTTP template is used as exit handler"
## Summary

When creating a Workflow that uses HTTP Template as exit handler, the workflow hangs in a Running state after the steps are completed, and the exit handler is not run.

This is how the Workflow was left hanging when I ran the reproducible example below:

[code]

HTTP Template steps run as expected when used as a regular step (not as an exit handler).

Argo Workflow version is v3.2.3

#

[2021-10-27 10:56] tczhao opened #7081 "Unable to view log if pod get killed due activeDeadlineSeconds"
## Summary

What happened/what you expected to happen?

With emissary
If a pod error exit due workflow activeDeadlineSeconds, log is saved.
However, because the output artifact does not appear in workflow.status.nodeid, users are not able to view log from UI `artifact not found`

Viewing log works If a pod error exit due program error, container log is saved and output field are added in workflow.

[2021-10-27 16:08] #7017 closed, assigned to nobody

[2021-10-27 18:11] #7079 closed

[2021-10-27 18:11] #7080 closed

[2021-10-28 03:10] jessesuen opened #7088 "UI Dynamically display sidebar items depending on capability"
# Summary

Discussed in yesterday's workflow weekly scrum. Users (including myself) have complained about the sidebar of the workflow UI getting cluttered and displaying items that the aren't installed (e.g. Events / Dataflow) and are not used.

The Workflow UI server should conditionally display these sidebar items only if the API server has the ability to read these objects. I think the API serv

[2021-10-28 13:06] denis-codefresh opened #7089 ""expression" syntax should be the same across all of the places it is used"
# Summary
Further thoughts on #6823.

Currently there are 2 different syntaxes to write expressions(conditions) and it can be a bit confusing for the users.
The goal of this enhancement is to keep only 1 way of writing them.

Available syntaxes:
* [antonmedv/expr](https://github.com/antonmedv/expr) – used with: [depends](https://argoproj.github.io/argo-workflows/enhanced-depends-logic/), [template

[2021-10-28 13:27] #7072 closed, assigned to nobody

[2021-10-28 15:46] Guillermogsjc opened #7090 "Allow argument parameters from expressions"
Hi,

struggling trying to feed  a conditional value into a  task  with `argument.parameters`

Is there any current way to feed it as:

[code]

If there is any current way to perform this, It is on the road map the idea of allowing too feed argment parameters taken with `valueFrom.expression` ?

The idea would be to allow things like https://github.com/argoproj/argo-workflows/blob/master/examples/d

[2021-10-28 16:31] #7042 closed, assigned to jrobertson-insite

[2021-10-28 16:32] bygui86 opened #7091 "ClusterWorkflowTemplate podMetadata are ignored with `workflowTemplateRef `"
## Summary

I expected that creating a Workflow from a ClusterWorkflowTemplate, the resulting pods would inherit labels from `podMetadata`.
Those labels are mainly used to match specific NetworkPolicies granting access to internet and other services.

Argo Workflows version: 3.1.3

## Diagnostics

Either a workflow that reproduces the bug, or paste you whole workflow YAML, including status, someth

[2021-10-29 01:36] tczhao opened #7092 "k8sapi/pns executor should be able to save log when deadlineExceeded"
k8s/pns executor should be able to save log when deadlineExceeded

related #7081 but different executor

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-10-29 07:52] yoandl opened #7094 "workflow fail if loop param results are skipped even if not used"
## Summary

when you create a workflow with "withParam" provided by a previous steps, if you skip both steps, the workflow fail instantly with this error :

[code]

Argo workflow version 3.2.2, 3.3.3

## Diagnostics
execute this workflow with `get-list` set to  "false"

[code]

What Kubernetes provider are you using?
1.18
What executor are you running? Docker/K8SAPI/Kubelet/PNS/Emissary
k8s eks on

[2021-10-29 08:08] yoandl opened #7095 "v3.2.3 daemon steps are not restarted when you retry a failed workflow"
## Summary

What happened/what you expected to happen?

When you retry a failed workflow with a daemon step, the workflow does not re-start the daemon step.
You should be able to retry a failed workflow and have the previous database up for debuging process if you have idempotent steps.

What version of Argo Workflows are you running?
3.2.3
## Diagnostics

This yaml contain an error to try the ret

[2021-10-29 12:57] nityanandagohain opened #7099 "Proposal to add CreatorUsername label when user is signed in via SSO"
# Summary

What change needs making?
Proposal to add `CreatorUsername` label to resources when user is signed in via SSO

# Use Cases

When would you use this?
We have a bunch of internal use cases where username of the user will help us identifying the particular user along with email and userId.

---

**Message from the maintainers**:

I will be happy to submit a PR for this, where we can keep t

[2021-10-29 14:25] vikulaggarwal opened #7102 "Support timelines for release 2.12.x"
### Discussed in https://github.com/argoproj/argo-workflows/discussions/7101

<div type='discussions-op-text'>

<sup>Originally posted by **vikulaggarwal** October 29, 2021</sup>
Is the release 2.12.X still officially supported? If yes, are there any timelines around till when it will continue to be supported?</div>

[2021-10-29 16:54] stealthHat opened #7104 "Flag to hide workflow name on each line of the logs"
# Summary

What change needs making?

Add a flag to argo workflows cli that hides the name of the workflow on each line of the logs

![image](https://user-images.githubusercontent.com/24692500/139473345-6504d251-ad91-4256-818b-02403b18e69a.png)

# Use Cases

When would you use this?

When you are streaming the logs to a interface ( github actions in my case ) and you want clean logs

---

**Messag

[2021-10-29 19:58] ziv-codefresh commented on #7094
I have checked this issue and i found that the origin of this error is in `expandStep`/`expandTask` functions.
the following line is failed because the value of `step.WithParam` field is not evaluated, so the actual value is `{{steps.generate.outputs.result}}` and not a valid JSON list.

to avoid this issue we can check if the value of `step.WithParam` is not an template by the following condition

[2021-10-29 20:19] alexec commented on #7094
done

[2021-10-29 21:12] tczhao commented on #7092
Yes, maintainer log.
At the moment, when deadlineexceed, the wait container will stuck at the ` Wait ` step and won't proceed further to savelog and annotate output.
This because when deadlineexceed, the main container.status.termianted is always nil

[2021-10-29 22:36] geoff-maddock commented on #3955
Does this work currently?  I'm in 3.2 but I find that variables are not interpolating in mutex name:

[code]

I get an error such as when running two workflows back to back:
[code]

[2021-10-29 23:48] sarabala1979 commented on #3955
@geoff-maddock try with `{{inputs.parameters.host-inventory}}`

[2021-10-30 16:30] nityanandagohain commented on #7099
I have created a draft PR, it needs workflow approval for the tests to run. Can you please approve the workflow. https://github.com/argoproj/argo-workflows/pull/7109

[2021-10-30 18:55] bygui86 commented on #7091
@sarabala1979 the `ClusterWorkflowTemplate` is referenced by an ArgoEvent `Sensor` this way:

[code]

If I don't specify `podMetadata` in the Sensor, none of my custom labels are set on the workflow pods.

ArgoEvents version:   1.4.0

[2021-10-31 06:59] scravy commented on #7089
For example:

This, to me, has been a source of frustration as it is not clear in which context a string is a string or not, especially with templates. This workaround is not very well communicated and absolutely counter intuitive.

I think the right way to go would be to just expose the objects `steps`, `workflows`, etc. to the expr-evaluate engine/function. This way one would not need to resort

[2021-10-31 12:34] 2kindsofcs commented on #6889
Hi, I want to take this issue.

[2021-10-31 15:29] amit-va commented on #6793
Did this change make into 3.2.3?  I am getting the same error.

[2021-10-31 15:57] alexec commented on #7089
yes

[2021-10-31 18:22] alexec opened #7111 "Scheduled time when submitting a cron workflow using `--from` is sometimes wrong"
[code]

[2021-10-31 18:23] #7102 closed

[2021-10-31 18:23] alexec commented on #7102
https://github.com/argoproj/argo-workflows/blob/master/docs/releases.md

[2021-10-31 18:28] alexec commented on #7001
[code]

[2021-10-31 18:34] alexec commented on #7111
@sarabala1979 I don't think this is a flakey test. I think this might be a bug.

[2021-11-01 00:03] tczhao commented on #6824
Turned out there's already this functionality, just a bit hard to find

For the boolean case, how about just using a 2 values dropdown, that should achieve the same purpose?

[code]

[2021-11-01 06:21] nityanandagohain commented on #7099
I will need a workflow approval again for the draft PR as the DCO check failed and I have added the change recommended. #7109

[2021-11-01 08:17] eileensheu commented on #6824
This works well! Thanks a lot for this information!

I personally would be fine with a two-values-dropdown for the boolean case :)

How about multi-selection in the dropdown? The current dropdown seems to only support single-selection (I've tried holding `ctrl` or `shift` yet still only single option got selected)

[2021-11-01 11:00] sanjaytangudu230 commented on #7015
how to validate 5 valued argo cron expression

[2021-11-01 12:11] tczhao commented on #6824
with multi-selection,
we probably need an option to specify the separator
and in the future probably min number of selections and max number of selections
[code]

Hi@alexec
Would it be a good idea to introduce `ui` in parameter, and do a breaking change to move `enum` under `ui`?
Considering these parameter fields are only consumed by the UI and there's potential that more fields will be added.
Do

[2021-11-01 14:05] simster7 commented on #7111
I can take a look into this

[2021-11-01 15:22] alexec opened #7118 "Bug in default executor code"
## Summary

This link looks wrong, "" should not be docker anymore:

https://github.com/argoproj/argo-workflows/blob/ca87f2906995b8fecb796d94299f54f6dfbd6a41/workflow/controller/workflowpod.go#L538

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-11-01 15:26] alexec commented on #7111
Thank you Simon.

[2021-11-01 15:34] alexec opened #7119 "Is `TestWorkflowTemplateRefWithShutdownAndSuspend` flakey?"
[code]

[2021-11-01 15:52] geoff-maddock commented on #3955
Interesting - that worked!  It sort of looked to me like it was simply not interpolating, but I see the key was the issue.

[2021-11-01 16:02] sarabala1979 commented on #7094
@ziv-codefresh it should fix in `ProcessArgs` if any variable is not resolved or substituted, it should take the default value.
it default value is not configured, workflow should fail with `not supplied`

[2021-11-01 16:08] mweibel commented on #7118
I took an initial attempt at a fix of it, but couldn't complete it yet. Feel free to take it over :+1:

[2021-11-01 16:21] denis-codefresh commented on #6725
I was going to to submit a PR but I wasn't able to reproduce it with Argo v3.1.2. For me it looks like this have been fixed with this PR: #5565. And v3.1.2 has this changes.

[2021-11-01 18:00] simster7 commented on #7111
Haven't been able to reproduce so far

[2021-11-01 18:08] alexec commented on #7111
Because the test specifically passes `--scheduled-time` to the CLI, but a different value appears in the output Maybe naming?

[2021-11-01 18:25] alexec opened #7120 "Is `TestCounterMetric` flakey?"
I've only seen this fail once, but for no apparent reason:

[code]

[2021-11-01 18:39] jli opened #7121 "Support larger workflows"
# Summary

It seems there's a limit on the size of Argo workflows (in terms of number of tasks and task specification size). Argo compresses the workflow `status.nodes` field into `status.compressedNodes`, but the `spec.templates` field can still become very large if there are a lot of tasks and/or if the tasks have large specs.

https://argoproj.github.io/argo-workflows/offloading-large-workflows

[2021-11-01 21:35] alexec commented on #7121
Interesting. Thoughts:

1. Shrink the size of the templates in the short term by not adding so much meta-data.
2. We could provide `spec.compressedTemplate` that could be uncompressed at runtime.
3. We could fully offload the whole spec to external storage and leave just a reference to it in the spec.

Option 2 would not be too hard and could buy time for option 3.

[2021-11-01 21:53] sarabala1979 commented on #7121
The above requirement can be done by Workflows of workflow.  This is way load and the process can be distributed across multiple workflows.

[2021-11-02 00:31] berlinsaint commented on #7012
i am not familar with ts

[2021-11-02 01:03] fabio-rigato commented on #6352
Hello, @Bobgy @alexec @sarabala1979

I hope you are having a good day so far.

I'm facing the same issue.
I tried to upgrade to the last version (v3.2.3) but still does not work.
I was wondering if there are any solutions to that since this GitHub issue is marked as closed.

Thanks for your support.

Regards,
Fabio

[2021-11-02 01:20] jli commented on #7121
@sarabala1979 thanks, though unfortunately we don't have access to [workflow of workflows](https://argoproj.github.io/argo-workflows/workflow-of-workflows/) via KFP. But also, I think it would be nice even for direct Argo users to be able to create a much larger single workflow without figuring out how to break up their workflow into a workflow-of-workflows setup.

@alexec I'm not that familiar wi

[2021-11-02 01:50] kennytrytek commented on #6044
I have opened a draft pull request to fix this issue at https://github.com/argoproj/argo-workflows/pull/7124, though I cannot get CI/Lint to pass for an unknown reason. I left a message at https://cloud-native.slack.com/archives/C020XM04CUW/p1635817253027600, but I'm not sure where to go from here.

[2021-11-02 02:27] tczhao commented on #7118
Thanks, @mweibel. I will raise a PR

[2021-11-02 03:09] #6916 closed

[2021-11-02 03:12] basanthjenuhb commented on #6916
@alexec
https://github.com/argoproj/argo-workflows/pull/6990 merged
Will raise a new PR to update documentation about the feature at https://github.com/argoproj/argo-workflows/blob/master/docs/argo-server-sso.md

[2021-11-02 03:51] tczhao opened #7126 "parallel e2e test in CI"
A recent change in CI https://github.com/argoproj/argo-workflows/commit/c78ee6ec8cf1162070f6ddc0731c1d687fab1f95
- adds dependencies to e2e test
- limits e2e parallel run to 2

I wonder if we can remove the e2e parallel restriction since
- e2e tests are already depending on success run of `test, codegen, lint`
- the entire CI is now taking over 1hr (https://github.com/argoproj/argo-workflows/actio

[2021-11-02 04:16] tczhao commented on #7120
I tried to run it 1000 times, didn't fail once..
`go test -count=1000 -run=TestCounterMetric  ./workflow/controller/`

[2021-11-02 04:18] tczhao commented on #7119
I tried `go test -count=1000 -run=TestWorkflowTemplateRefWithShutdownAndSuspend  ./workflow/controller/`
didn't fail once.
Rarely happened?

[2021-11-02 05:36] sarabala1979 commented on #7091
@bygui86 Do you have podMetaData in clusterWorkflowTemplate?  Is only `podMetaData` in the sensor get applied?

[2021-11-02 07:41] bygui86 commented on #7091
@sarabala1979 yes exactly, I ended up setting `podMetadata` on both `Sensor` and `ClusterWorkflowTemplate` otherwise it does not work.

I tried setting `podMetadata` only on ClusterWorkflowTemplate, together with other config like `serviceAccountName`, `activeDeadlineSeconds`, `ttlStrategy` and others, but it seems that right `podMetadata` gets ignored.

I tried setting `podMetadata` on the Sensor

[2021-11-02 13:11] PacoDu commented on #6367
I have the same issue since we are using PNS executor, we encounter a lots of random  `
Error (exit code 1): cannot enter chroot for container named "main": no PID known - maybe short running container`

Upgrading to 3.2.3 didn't solved the issue

[2021-11-02 13:16] terrytangyuan commented on #7061
As @sarabala1979 mentioned, the approach would be to check `globalParam` map and replace any `{{` placeholders https://github.com/argoproj/argo-workflows/issues/7061#issuecomment-952158704.

Would anyone like to submit a PR for this?

[2021-11-02 13:28] denis-codefresh commented on #5643
@alexec just submitted a PR, can you have a look please?

[2021-11-02 13:52] sappier opened #7128 "WorkflowTemplate should accept arguments.parameters without providing a "value""
## Summary

What happened/what you expected to happen?

WorkflowTemplate with ``arguments.paramters`` without a value should be created:

[code]

But instead it returns an error:
[code]

Earlier it was possible to create a WorkflowTemplate with a parameter without providing a default value.
Only Workflows submitted from such template, would fail when the parameter wouldn't be provided and require

[2021-11-02 14:35] denis-codefresh opened #7129 "Update `mkdocs-material` to latest version to support dark mode"
# Summary

Currently in the docs we are using mkdocs-material 4.1.1. The latest is 7.3.6.
In mkdocs-material since [5.2.0](https://github.com/squidfunk/mkdocs-material/releases/tag/5.2.0) there is a support for dark theme.
After the upgrade the dark mode switch will appear at the top of the page.
Example: https://squidfunk.github.io/mkdocs-material

I see that we are using the same version in argo

[2021-11-02 14:55] alexec commented on #7121
Yes. I wonder if we only need compression? That will be much easier to implement. We/you also need to think about interplay between offloading of nodes and offloading of templates.

[2021-11-02 14:56] terrytangyuan opened #7130 "Automate Python SDK PyPI release process with GitHub Actions"
# Summary

Automate the release process for Python SDK. Part of https://github.com/argoproj/argo-workflows/issues/7017.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-11-02 14:57] alexec commented on #7120
Typically test that are flakey on CI, only flake on CI. Something you can get them to fail locally if you run the whole suite many times (rather than just the test). I've only seen this once, so I'm going to let it rest for now

[2021-11-02 15:05] alexec opened #7132 "Is `TestSuccessfulJobHistoryLimit` flakey?"
[code]

[2021-11-02 15:06] simster7 commented on #7121
Also you could have complicated templates stored on WorkflowTemplates and only referenced at runtime?

[2021-11-02 15:12] alexec opened #7133 "Flakey tests"
This issue is for tracking flakey tests, so we can see how flakey they are.

Flakey tests are often not actually flakey, they instead revealing and edge-case bug that is caused by rare events, such as API disruption.

If a test appears to be flakey, then we simply disable it and wait for the author of the test (and therefore the feature) to investigate it. Either way, it is ideally their responsib

[2021-11-02 15:16] terrytangyuan commented on #7121
We implemented an optimizer (part of the work we did for Couler) that could convert a large workflow to use the "workflow of workflows" pattern automatically based on algorithms. Unfortunately, it's not open-sourced yet. I can reach out to see if that can be open-sourced at some point (potentially bring it to Argo code base?).

[2021-11-02 15:21] jcmuller commented on #7050
@sarabala1979 @alexec I am happy to take a stab at this if you guys think it would be useful/make it in.

[2021-11-02 15:52] sarabala1979 commented on #7121
@alexec compress/offload template will not work because the first client should create workflow object in k8s. k8s will reject if the object is greater than 1 mb.  OffloadNodestatus is processed output that will generate in runtime that's why the offload feature is easy to implement.

They could create `workflowtemplates` refer it as `templateRef` or `workflowtemplateRef` that will save a lot of s

[2021-11-02 16:19] sarabala1979 commented on #7119
I will close this issue we will track with #7133

[2021-11-02 16:19] #7119 closed

[2021-11-02 16:19] sarabala1979 commented on #7132
Closing this issue and track it with #7133

[2021-11-02 16:20] sarabala1979 commented on #7091
@bygui86 can you try the latest version 3.1.14 or 3.2.3?

[2021-11-02 16:46] bygui86 commented on #7091
@sarabala1979 thanks for the suggestion. At the moment we cannot upgrade as many things are in progress, but I hope to be able to try within couple of weeks.
Keep you posted on this!

[2021-11-02 16:51] sarabala1979 commented on #7120
tracking in #7133

[2021-11-02 16:51] #7120 closed

[2021-11-02 17:11] alexec commented on #7095
Potential causes:

6875479db fix: Daemond status stuck with Running (#6742)
a147f178d fix(controller): Set finishedAt for workflow with Daemon steps (#6650)
72ee1cce9 fix: Set daemoned nodes to Succeeded when boudary ends (#5421)

[2021-11-02 17:13] alexec commented on #7095
@yoandl  was this working in a previous version please? I.e. is it a regression?

[2021-11-02 17:28] sarabala1979 opened #7137 "Storing Workflow Spec and Status in alternative storage (Database)"
# Summary
Inspiration from #7121, Current Argo has etcd limitation of 1 MB on workflow object.   Argo is already supported nodestatus offload. to. DB helps for large output workflows but if we have a large no of steps/templates. It couldn't create workflow objects in k8s.

Proposal:
The entire workflow can be stored in DB and the controller will interact with the DB for workflow updates.  and exec

[2021-11-02 17:36] basanthjenuhb commented on #6916
@alexec PR for documentation: https://github.com/argoproj/argo-workflows/pull/7138

[2021-11-02 18:18] basanthjenuhb commented on #6490
We have added new feature related to SSO
https://github.com/argoproj/argo-workflows/blob/master/docs/argo-server-sso.md#sso-rbac-namespace-delegation

@HouseoLogy Would this help in your use case

[2021-11-02 18:20] danajp opened #7139 "Malformed workflow causes workflow-controller to crash loop"
## Summary

What happened/what you expected to happen?

Submitting a new workflow with a malformed status causes the workflow controller to crash loop, preventing any other workflows from running until the malformed workflow is deleted.

What version of Argo Workflows are you running?

v3.1.14

## Diagnostics

submit a simple workflow which fails, intentionally:
[code]
[code]
Use kubectl to get th

[2021-11-02 19:50] alexec commented on #7132
Failed more that once. Skipping.

[2021-11-02 21:01] todaywasawesome commented on #6464
All fixed!

[2021-11-02 21:01] #6464 closed

[2021-11-02 21:03] terrytangyuan commented on #6464
Thank you!

[2021-11-02 21:35] yoandl commented on #7095
@alexec I'm not totally sure but i tried this in version 3.1.9 and it wasn't working.
I'm sure this not work in 3.2.0RC1 / 3.2.1 /3.2.2 / 3.2.3.

[2021-11-02 23:09] #7118 closed

[2021-11-03 04:20] jfb74 commented on #6793
@amit-va Based on the release changelogs and the v3.2.2 cherry pick it doesn't look like it has been in any of the releases yet. @alexec or someone more familiar with how this works could probably weigh in better here,

[2021-11-03 04:51] sarabala1979 commented on #7139
@danajp I think It is a user error. This is scenario invalid as per the controller.  you should clear the workflow status also.

[2021-11-03 12:54] danajp commented on #7139
@sarabala1979 Yes, I understand that this is user error. But I don't think that submitting a malformed workflow should be able to take the workflow controller down.

[2021-11-03 13:46] valorl opened #7141 "Git Artifact does not support relative submodules (fixed in go-git v5.3.0)"
## Summary

Using GitArtifact to clone a Git repository with a submodule specified as a relative path, argoexec init fails with `executor error: repository not found`.

The error comes from go-git (my guess would be [during the initial clone](https://github.com/argoproj/argo-workflows/blob/master/workflow/artifacts/git/git.go#L127)). See

As mentioned there, it has been fixed in [v5.3.0](https://g

[2021-11-03 13:49] terrytangyuan commented on #7141
Would you like to upgrade it and then verify that fixes the issue?

[2021-11-03 13:53] valorl commented on #7141
@terrytangyuan I can give it a shot. Assuming I manage to get a successful build with that version of go-git, what's the best way to test that ? Is there maybe a way I can specify an alternative argoexec image for the init?

[2021-11-03 13:56] terrytangyuan commented on #7141
You'll want to rebuild the images and then test locally: https://github.com/argoproj/argo-workflows/blob/master/docs/running-locally.md

You can specify a new argoexec image in your controller deployment.

[2021-11-03 14:39] jazka opened #7143 "Support more path syntax for `successCondition` and `failureCondition` on `resource` templates"
## Summary

Support more syntax for successCondition and failureCondition like [gjson](https://github.com/tidwall/gjson).  The guide doc tells us the two fields use kubernetes label selection syntax and can be applied against any field of the resource (not just labels). But how to check the value of the field in set?

## Use Cases

For PytorchJob, the status section will be used to check the job s

[2021-11-03 14:42] terrytangyuan commented on #7143
`status.replicaStatuses.Worker.succeeded > 1`

[2021-11-03 14:57] jazka commented on #7143
Thanks for your response so quickly.

Yes, we used the training-operator.

It works with `status.replicaStatuses.Worker.succeeded > 1` for successCondition, but how to set failureCondition? I think it will wrong to check status.replicaStatuses.*.failed count, since it may failed by any master or any worker, and the master and worker could be set restarted policy.

[2021-11-03 15:10] terrytangyuan commented on #7143
That will be up to your training logic, e.g. whether you've enabled elastic training.

`gjson` is actually used underneath: https://github.com/argoproj/argo-workflows/blob/9c76cc34c7591f0113dea4e35b58b902d8386544/workflow/executor/resource.go#L240-L265

You may play with the unit test to test different conditions locally: https://github.com/argoproj/argo-workflows/blob/9c76cc34c7591f0113dea4e35b58

[2021-11-03 15:23] #6886 closed

[2021-11-03 15:24] #1658 closed

[2021-11-03 15:24] #4245 closed

[2021-11-03 16:25] sarabala1979 commented on #7139
@danajp let me talk to the team about behavior. The controller will panic for unexpected conditions

[2021-11-03 16:28] #6824 closed

[2021-11-03 16:38] alexec opened #7148 "`TestMonitorProgress` takes 20s"
Please make this faster.

[2021-11-03 16:45] mweibel commented on #1658
in case anyone wants to start using this, docs are here: https://github.com/argoproj/argo-workflows/blob/master/docs/progress.md#self-reporting-progress. Let me know if they're clear enough.

[2021-11-03 17:37] terrytangyuan commented on #7143
Would you like to submit a PR to support the additional syntax or make it fully compatible with gjson?

[2021-11-03 19:42] kennytrytek commented on #6044
Got the lint error resolved. PR is open.

[2021-11-03 20:38] alexec commented on #7139
It should not be possible to crash the controller with a malformed workflow. I suspect that the logic for recovering from panics, maybe panicking itself. This is the where the problem is:

https://github.com/argoproj/argo-workflows/blob/be0362055fb1e0d2ef3318c33319d2579a04730d/workflow/controller/operator.go#L190

`markWorkflowError` will error itself if the workflow is already complete. This is t

[2021-11-03 20:40] alexec commented on #7129
I'm not fussed by dark modes myself (I will not turn to the darkside). But a style refresh of the docs would be nice.

[2021-11-03 20:44] alexec commented on #7126
I'm conflicted:

* New contributors get confused by the large number of checks. Failing sooner helps them address one problem at a time.
* Running fewer in parallel reduces the burden on Github Actions runners.

vs:

* I'd like to get rapid feedback on my tests, I'm happy to wait 10m, but I don't like waiting 1h.

What about running 3 or 4 e2e tests in parallel?

[2021-11-03 21:06] alexec opened #7154 "Non-Golang plugins"

[2021-11-03 21:33] alexec opened #7155 "Is `TestDoNotCreatePodsUnderStopBehavior` flakey?"
[code]

[2021-11-03 21:34] alexec commented on #7155
See #7040

[2021-11-03 22:50] tczhao commented on #7126
I feel since `e2e` is dependent on `test, codegen, lint`, these 3 will address most of the issues.

I think we can start with 4 parallel e2e, that'd be good

[2021-11-04 01:22] danajp commented on #7139
@alexec I will see if I can find a little time to work on this in the next week or two.

[2021-11-04 01:40] alexec opened #7159 "When using labels with `PodGC`, completion label is not added to the pod"

[2021-11-04 01:46] alexec commented on #7159
@ziv-codefresh @roi-codefresh @pasha-codefresh @kostis-codefresh @plakyda-codefresh if you're looking for any issues to start work on, issues like this one, i.e. labelled with "good first issue" are the best places to start. When you want something more substantial look for "help wanted".

[2021-11-04 01:48] alexec commented on #7159
Cause: feat(controller): Support pod GC strategy based on label selector on pods (#5090)

@terrytangyuan you authored this feature in Feb 2021. It is minor (no reports).

[2021-11-04 01:55] #7155 closed

[2021-11-04 01:55] #7132 closed

[2021-11-04 01:55] alexec commented on #7132
fixed

[2021-11-04 01:55] alexec commented on #7126
fixed

[2021-11-04 01:55] #7126 closed

[2021-11-04 02:05] alexec commented on #6805
I think this one of the intended uses of key-only artifacts.

Could you achieve this by writing each output to a unique key within bucket storage, and have the aggregating/grouping pod can then just list the key within the bucket to find the needed files:

[code]

The use of `key: "{{workflow.name}}/{{item}}" for generation and then ` key: "{{workflow.name}}"` for aggregation is the key.

[2021-11-04 02:21] alexec opened #7160 "In-app survey"
We currently don't really have any way to connect to our end users. Most bugs are raised by operators - proxies for the end users. This seems to be reflected in our survey, where ops-engineer is well represented, but ML-engineer, not so much.

We could use two techniques.

(1)

Ask the user about their use case the first time they open the UI, and forward them to public docs helping them with that

[2021-11-04 02:35] jixinchi commented on #6805
Thanks for your reply!
- As far as I know, there is no `outputs` field in the `task` struct. I'm not sure if you meant to put `s3.key` into `templates[gen-artifact].outputs.artifacts`
- In our usual use, we tend to use `templateRef` in the dag type template, and put the container type template into an individual `WorkflowTemplate`, so that different workflows can use the same container and its inp

[2021-11-04 02:43] jixinchi commented on #6805
Sorry for replying to you with my company account. "jixinchi" is my company account and "clumsy456" is my personal account. I should have used my company account to raise this issue.

[2021-11-04 02:45] alexec commented on #7160
@rbreeze thoughts?

[2021-11-04 04:09] rbreeze commented on #7160
I really like both ideas, especially getting feedback from users about their experience. One note is, I believe this would require "phoning home" which may pose an issue.

The navigation piece of this, though, seems easy enough to implement and it would be a nice user experience.

[2021-11-04 04:12] alexec commented on #7160
I think we need to do this without in-app telemetry, otherwise operators will want to disable it.

I thought each icon could lead to a page on the docs, which in turn have Google Analytics.

![image](https://user-images.githubusercontent.com/1142830/140256789-4f95bf0c-ce5a-46b9-a1e4-9a88401ea6fb.png)

[2021-11-04 07:29] alexec commented on #7159
Having analysed this, it is not a good first issue. There are at least two bugs in this code, one related to the matching, at least one other, that result in cases where completed pods are never labelled and sit consuming memory they do not need to.

I don't think this is a big problem, because no one has reported it yet.

I think the podGC code should be centralised and we can remove `completePod

[2021-11-04 10:52] valorl commented on #7141
Thanks. I can confirm that upgrading go-git to v5.3.0 fixes this. See #7162, which is now ready for review.

[2021-11-04 11:49] tczhao commented on #7128
Duplicate of #6044

[2021-11-04 12:54] gpanagiotidis opened #7164 "Sidecar container exits with non-zero exit status when the pod completes."
## Summary

Running a workflow with a postfix sidecar container, results the container to exit with a non-zero exit status. Although this behavior is expected by argo workflows which reports the workflow as completed successfully, kubernetes reports the pod as in Error state. This causes problem with other components installed in the cluster, for example alert manager, prometheus etc.

I am using:

[2021-11-04 13:02] whyvez opened #7165 "pod name with node regression"
## Summary

I've noticed that with upgrading to v3.2.3 pod names started including the node name which is great! I did have to change a few bits for certain workflows but that was easy. I did notice this morning that the behavior in my environment changed back to not including the node name in the pod name. It could be something on my end still, and I'm currently troubleshooting. I just wanted to

[2021-11-04 13:02] #7141 closed

[2021-11-04 13:48] whyvez commented on #7165
Looks like `latest` and `v3.2.3` aren't the same image.

<img width="1134" alt="Screen Shot 2021-11-04 at 7 47 38 AM" src="https://user-images.githubusercontent.com/1593907/140325006-fc601120-6cf1-494a-a945-c020e31959ca.png">

[2021-11-04 14:50] whyvez commented on #7165
Also looks like the workflow-controller `imagePullPolicy` is not set which means if the old and new tag is `latest` and the pod is provisioned on the same node, no upgrade will happen.

[2021-11-04 14:51] alexec commented on #7164
More information needed:

* What sidecar are you running?
* What error messages is returned to stderr/exit code/container status.

[2021-11-04 14:52] alexec commented on #7165
'latest' is the latest master build. Do not use this.

[2021-11-04 14:57] whyvez commented on #7165
Aha. found the issue!

I was using this link to install: https://raw.githubusercontent.com/argoproj/argo/v3.2.3/manifests/install.yaml

Tried from the release link and it works.

My bad. thank you for clarifying!

[2021-11-04 16:08] jazka commented on #7143
Sure, I could try it.

BTW, the description of `failureCondition` should be updated on official [docs](https://argoproj.github.io/argo-workflows/fields/#templateref) . The default label selector syntax is AND, but actually its syntax is OR for `failureCondition`.
![image](https://user-images.githubusercontent.com/7553111/140373306-6785ac9a-b2c4-4055-aa62-fb1bff311215.png)

This is very misleading

[2021-11-04 16:17] whyvez commented on #7165
@alexec The image thing was just an attempt at fixing my issue of having pod names regress back to not including the node name, but even after the upgrade, the problem persists, would you know what else could cause this issue?

[2021-11-04 17:26] vediatoni commented on #6367
Yeah same here, upgrading to 3.2.3 didn't help. It does work sometimes, but most of the time it doesn't.
This issue should probably get open again.

Here is the workflow I was testing with:

[code]

[2021-11-04 17:32] kosik86 commented on #6367
@vediatoni I know it's not a solution in most cases but can you check your results when you remove artifacts? I'm getting a significantly higher success rate if I don't use artifacts in the workflow. Almost no failures due to that error.

[2021-11-04 17:41] sarabala1979 commented on #6367
@kosik86 @vediatoni can you try with `emptyDir`  this will help PNS to preserve the quick completing PID?

https://github.com/argoproj/argo-workflows/blob/4e450e250168e6b4d51a126b784e90b11a0162bc/examples/volumes-emptydir.yaml

[2021-11-04 17:55] vediatoni commented on #6367
Ran the same workflow 7 times. It failed twice, so this did help but still not perfect

[2021-11-04 18:39] terrytangyuan commented on #7143
Feel free to update the docs along the way as well.

[2021-11-04 19:52] #7001 closed

[2021-11-04 21:50] sarabala1979 opened #7171 "v3.2.4 cherry-pick"
- [ ] Julien Duchesne: feat: Add user's email in the server gatekeeper logs (#7062) 60f2ae95e
- [ ] Tianchu Zhao: fix: Unit test TestNewOperation order of pipeline execution maybe different to order of submit (#7069) 31bf57b64
- [ ] Tianchu Zhao: docs(cli): fix cron delete flag description (#7058) 18c953df6
- [x] Saravanan Balasubramanian: fix: Precedence of ContainerRuntimeExecutor and ContainerR

[2021-11-04 22:35] edlee2121 commented on #7160
We would only phone home if they want to share their feedback. I think that is fine.

[2021-11-04 23:01] scott-grimes opened #7172 "enum from configMapKeyRef, secretKeyRef"
# Summary
Workflow `spec.arguments.parameters` should support an `enumFrom` argument that works in a similar manner to the `valueFrom`

# Use Cases

We currently use workflows for CRUD operations involving ephemeral environments. "enum" is super helpful to provide developers with a list of options to select from. Our current workflows for upgrading and uninstalling applications within an env looks

[2021-11-05 03:07] iulianionita-ai commented on #7171
Could you, please include in 3.2.4 https://github.com/argoproj/argo-workflows/pull/7084 ?

[2021-11-05 03:13] yasselavila commented on #7171
Please, if you can include #7084 it would be very nice. Thanks

[2021-11-05 03:18] sarabala1979 commented on #7171
Sure

Sent from my iPhone

[2021-11-05 08:26] gpanagiotidis commented on #7164
## What sidecar are you running?

I am running a postfix sidecar container along my main container in order to send logs by email.

`      sidecars:
      - image: gitlab-registry.cern.ch/jeedy/utils/postfix-docker/postfix:1.3
        imagePullPolicy: Always
        name: email
        command: ["/root/start.sh"]
`

## What error messages is returned to stderr/exit code/container status.

The emai

[2021-11-05 08:36] book987 commented on #6593
Sorry for late! I've tested in v3.2.2 and v3.2.3, both can reproduce

[2021-11-05 08:38] book987 commented on #7171
Hi, Could you please include #6912 ? Thanks

[2021-11-05 13:40] whyvez commented on #7165
I think there was an older image (pre v3.2.3) as `:latest` on the node in question that got used. Everything seems to be working as expected now.

[2021-11-05 15:57] #5643 closed

[2021-11-05 16:03] alexec commented on #7164
I'm not sure what is happening here. The `wait` container does not appear to be killing PID 53 (the "email" sidecar). However, exit code can happen when you receive SIGKILL, not SIGTERM.

Container processes on Kubernetes must gracefully handle SIGTERM. I can see you're running a shell script, and scripts rarely correctly handle SIGTERM. Try addressing that, reading material that should help:

htt

[2021-11-05 16:20] sarabala1979 commented on #7013
@alexglatt This function will always be invoked during pod creation

[2021-11-05 16:27] sarabala1979 commented on #7013
@alexglatt Can you check you have any MutatingWebhookConfiguration that removes the labels?

[2021-11-05 17:10] dchancogne opened #7175 "`argo auth token` fails with `http: nil Request.URL` error"
## Summary

What happened/what you expected to happen?
Using version 3.1.5 I was able to run `argo auth token` and get an authentication token.
After upgrading to 3.2.3 I get an error when running that command

[code]

What version is it broken in?
3.2.3

What version was it working in?
3.1.5

## Diagnostics

My kube config is otherwise valid and I can do all other `kubectl` operation on the clust

[2021-11-05 18:47] alexec commented on #7171
Please add:

Bob Haddleton: fix(executor): add test for non-root user creating a script ( fix(executor): change script file permissions to 0o644 and add test for non-root user creating a script #6905) 73d6010

[2021-11-05 18:48] alexec commented on #7171
@sarabala1979 I think we should make, for patch release, all fixes are always added.

[2021-11-05 19:48] simster7 commented on #7171
@sarabala1979 Any reason why only commits made before Oct 27 are included in this?

[2021-11-05 20:58] alexec commented on #7171
@sarabala1979 I think we might want an updated list? I get a different list of fixes:

[code]

[2021-11-05 21:08] alexec commented on #7175
Can you please share redacted KUBECONFIG?

[2021-11-05 22:27] alexec opened #7177 "Argo Server API v2"

[2021-11-06 05:24] sarabala1979 commented on #7171
Agreed as long as fix doesn't have new upcoming feature changes/dependency

[2021-11-06 07:09] AlexChenSkyBlue opened #7179 "Adding resource status check retry and timeout setting"
# Summary

What change needs making?
right now， when argo workflow create resource. it will try to using k8s api server to check resource status. but it has fixed 32s timeout withour retry. if there are any network issue during this period. it will fail as below

Error (exit code 1): Get "https://10.233.0.1:443/apis/kubeflow.org/v1/namespaces/training/mpijobs/mpimulti-m6knf?timeout=32s": context d

[2021-11-06 10:28] terrytangyuan commented on #7179
You can use TRANSIENT_ERROR_PATTERN to add additional errors that can be retried.

[2021-11-07 16:10] alexec commented on #1282
We’ve been speaking to ISTIO, because they have similar issues with other tools. Previously, our recommendation was to disable ISTIO.

We have since heard from users that the PNS executor works with ISTIO.

[2021-11-07 16:10] alexec commented on #1282
We should fix #7057.

[2021-11-07 16:13] alexec commented on #1282
Aside: it is very hard to cater from injected sidecars when container ordering is important to both you and the injected sidecar. I suspect that we'll always have problems with working with injected sidecars like ISTIO and Vault until we have a conventional way to kill them externally. #7057 is just a patch to the problem.

[2021-11-07 16:15] nfickas commented on #1282
I'll add that when my last company started using the emissary executor everything worked very well with istio. The only thing was having to find a way to kill the sidecars after the workflow ran but I think we solved that by reordering the pods startup somehow.

[2021-11-07 16:18] alexec commented on #1282
@nfickas can you share more? Do you have details we could share with other users?

[2021-11-07 16:38] nfickas commented on #1282
I can't remember the entire implementation details and no longer have access to those repos. But the gist of it comes down to using istio's holdApplicationUntilProxyStarts configuration.

This will cause the workflows execution to wait until the sidecars are able to serve traffic.

If I'm remembering this correctly just adding that annotation magically fixed our issues.

We had originally followed

[2021-11-08 02:22] dchancogne commented on #7175
[code]

[2021-11-08 13:10] gpanagiotidis opened #7182 "CronWorkflow gets scheduled on schedule change if new schedule is between current time and last schedule."
## Summary

I have noticed that CronWorkflows get executed even when they are not scheduled to do so. This happens if you change the schedule of the cronworkflow and put it in another time, that is after the time of the previous schedule, but before current time.

I think that the workflow controller checks the new schedule, and sees that a cronworkflow should have been executed in the meantime, t

[2021-11-08 13:41] simster7 commented on #7182
I'll take a look

[2021-11-08 22:15] #7047 closed

[2021-11-08 22:17] alexec commented on #7154
I don't think we need this ticket, Python plugins are MVP for any plugins.

[2021-11-08 22:17] #7154 closed

[2021-11-08 22:57] alexec opened #7184 "Patching pod status too often"
I see this far too often in the logs:

[code]

We should never patch with "".

Caused by:feat: self reporting workflow progress (#6714)

[2021-11-08 22:57] alexec commented on #7184
@mweibel could I please ask you to investigate?

[2021-11-09 00:54] kennytrytek commented on #7148
I can take this one.

[2021-11-09 01:18] alexec commented on #7175
The panic is a red herring. This is caused be enabled debugging!

[2021-11-09 01:20] alexec commented on #7175
I don't think this can be caused by the linked issue, as that was released in v3.1.2. I think this is something else, but similar.

[2021-11-09 02:05] kennytrytek commented on #3016
I opened a draft PR for this, but I could easily have missed something.
https://github.com/argoproj/argo-workflows/pull/7187

Please let me know if I've missed the mark on this one, or if the proposed solution is acceptable.

[2021-11-09 08:05] mweibel commented on #7184
yes, will do 👍

[2021-11-09 08:21] gpanagiotidis commented on #7182
I think that the controller behaves as if the workflow was missed, and since no startingDeadlingSeconds is set, it gets executed immediately.

[2021-11-09 08:49] book987 opened #7188 "multi-controllers cause empty metrics from workflow-controller-metrics service"
## Summary

Our controller have 2 replicas, and our Prometheus fetch metrics through service workflow-controller-metrics. And now we're getting wrong metrics value with 50% probability because the same-name workflow-controller-metrics include the stand-by controller pod.

Fetching metrics through all pods might be a workaround, but this metrics service will stay crash for multi-controllers.

Here'

[2021-11-09 11:07] zirkome opened #7189 "ANSI Escape Characters not interpreted in Web UI logs"
## Summary

What happened/what you expected to happen?

ANSI escape sequences are no longer being interpreted in the Web UI log view.

However, they are interpreted when using the Regex filter (e.g. `.*`).

Example:
[code]

What version is it broken in?

v3.2.3

What version was it working in?

v3.0.7

## Diagnostics

Running any command that outputs color (we see the issue with `terraform`), I co

[2021-11-09 13:08] mf-lit opened #7192 "Workflows spawned from WorkflowTemplates have no ownerReferences"
# Summary

Workflows spawned from WorkflowTemplates have no ownerReferences

(v3.2.0)

# Diagnosis

We use ArgoCD to deploy/manage our WorkflowTemplates, but because the Workflows spawed from those WorkflowTemplates don't have ownerReferences, those spawned Workflows don't appear in ArgoCD UI. That's our use-case, though I think having ownerReferences would be correct practice regardless.

As a re

[2021-11-09 13:14] simster7 commented on #7182
Yup, that's my thought as well

[2021-11-09 14:27] amaloun commented on #7091
@sarabala1979 I have the same issue with `WorkflowTemplate` using the latest version `v3.2.3` , I created A `workflowTemplate` with labels in `podMetadata`, this labels should be applied to the workflow pods. But they were ignored.

## Diagnostics

Here is a `WorkflowTemplate` and a `Workflow` to reproduce the bug.

- WorkflowTemplate
[code]
- Workflow
[code]
What Kubernetes provider are you using

[2021-11-09 15:20] kennytrytek commented on #6384
One workaround is to use the artifact logs instead of the log viewer. I typically do this whenever I need to search for text or copy/paste segments out that don't fit in the viewport.

[2021-11-09 15:42] alexec commented on #7175
@dchancogne I've not been able to reproduce this issue, but I've create a fix for what I believe is the problem.

If I give you a new `argo` binary can you test it please? I'll need to know what system arch it needs to build for.

[2021-11-09 15:57] #7148 closed

[2021-11-09 16:03] alexec commented on #7188
Hmm. You can't ever really collect Prometheus metrics from a service, because metrics are specific to the pod, you don't know which pod's metric you'll get. You should only get them directly from the pod.

I'm not sure we should even run the service.

[2021-11-09 16:07] alexec commented on #7189
I think this issue must occur here somewhere:

https://github.com/argoproj/argo-workflows/blob/225a5a33afb0010346d10b65f459626eed8cd124/ui/src/app/workflows/components/workflow-logs-viewer/workflow-logs-viewer.tsx#L43

But I'm not clear how it might happen.

[2021-11-09 16:40] crenshaw-dev commented on #3016
Since this _technically_ breaks a feature users might rely on, I feel like it should be released on a major or at least a feature release with a nice big note in the changelog.

[2021-11-09 17:05] sarabala1979 commented on #7171
- [ ]  0482964 fix(ui): Correctly show zero-state when CRDs not installed. Fixes #7001 (#7169)
- [ ] f9e554d fix: Relative submodules in git artifacts. Fixes #7141 (#7162)
- [ ] 22af736 fix: Reorder CI checks so required checks run first (#7142)
- [ ] bd3be11 fix: Return error when YAML submission is invalid (#7135)
- [ ] 209ff9d fix: Respect template.HTTP.timeoutSeconds (#7136)
- [ ] 02165aa fix(

[2021-11-09 18:03] dchancogne commented on #7175
@alexec Sure, happy to give it a try.
Macbook Pro Intel, MacOS 11.5.2

[2021-11-09 18:55] book987 commented on #7188
Got it, you're right. Thanks!

[2021-11-09 18:55] #7188 closed

[2021-11-09 19:01] #6224 closed

[2021-11-09 19:01] #6532 closed

[2021-11-09 19:03] alexec commented on #7175
Here you go:

https://github.com/argoproj/argo-workflows/releases/tag/v0.0.0-dev-kc-0

[2021-11-09 19:05] saitoy1 commented on #4508
Keeping this alive

[2021-11-09 19:11] #6044 closed

[2021-11-09 19:16] dchancogne commented on #7175
Better, no error, but still no-go:

[code]

I.e. No token (empty string) returned.

[2021-11-09 22:21] guillaumBrisard commented on #7091
@amaloun I observe exactly the same thing with argo 3.2.3, emissary and kubernetes 1.19.6

[2021-11-09 23:11] thesuperzapper commented on #6490
For all those watching, I have created PR [#7193](https://github.com/argoproj/argo-workflows/pull/7193) that implements "SSO Impersonation" support in argo-server by using Kubernetes [`SubjectAccessReviews`](https://kubernetes.io/docs/reference/access-authn-authz/authorization/#checking-api-access) with the user's `email` or `sub` OIDC claim. This means that argo-server access can be managed by st

[2021-11-09 23:16] sarabala1979 commented on #7171
@alexec I think 3.2 we will follow the cherry pick way. after 3.3 onwards we will merge all fixes (appropriates) to patch release instead of pick and choose.

[2021-11-10 01:26] tczhao opened #7196 "argo workflow demo site not working 503"
https://workflows.apps.argoproj.io/workflows/argo

![image](https://user-images.githubusercontent.com/20961507/141032623-78f7cd28-fee3-4e29-80bc-12dc1643b71a.png)

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-11-10 02:34] thesuperzapper opened #7198 "custom root CA for argo-server SSO"
# Summary

Continuing on from https://github.com/argoproj/argo-workflows/pull/6978, we should also add a config to provide a custom root CA, (rather than encouraging users to blindly trust all certs).

Here is an example config:
[code]

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2021-11-10 07:55] book987 opened #7199 "cannot resolve HTTP template's outputs.parameters.result"
1. looks like we cannot get HTTP template's result, validation will failed
2. ~other nodes cannot connect to HTTP node in DAG, because they got empty HTTP node's outbound nodes~ ( already fix in #7082 )
3. result should put in outputs.result instead of outputs.parameters.result I think ( this isn't a bug

tested with this workflow, submit failed with `Internal Server Error: templates.main.tasks.ec

[2021-11-10 10:24] zirkome commented on #7189
@alexec I've played a bit in with this specific bit and it seems like when `grep` is empty `x.replace` adds `\u001b[1m\u001b[43;1m\u001b[37m\u001b[0m` between each characters in the string which effectively "escapes" the original ANSI escape characters.
Setting a default value to `null` or `$^` would fix the initial state as `x.replace`'s callback would never be called but if we set a filter and t

[2021-11-10 11:32] mf-lit commented on #7192
Not to go out-of-scope too much, but speaking of enhancements, do you think there's any potential of using ownerReferences as a way to reveal more in the Argo Workflows UI itself?

So if any resources (not explicitly part of the workflow) are marked as _owned by_ this `Workflow`, `container`, or `resource` they also show up as elements in the workflow graph.

In our particular use-case, we use a W

[2021-11-10 14:51] terrytangyuan commented on #7192
Some kind of resource tree similar to Argo CD would be useful here.

[2021-11-10 15:42] alexglatt commented on #7013
Hi @sarabala1979

I couldn't find if there are any Mutating/Validating Admission Webhooks that might change/remove the Labels.

However, I found something different that looks like it could be the problem.
These are the Logs in the workflow controller when I submit the Hello World example from above:

[code]

For the both Pods where the creation failed because it "already exists", the Label is lef

[2021-11-10 16:03] alexec commented on #7196
![image](https://user-images.githubusercontent.com/1142830/141148451-17ed77bb-0500-4902-8025-599c3f3e52fd.png)

[code]

[2021-11-10 16:14] alexec commented on #7196
Two fixes needed:

https://github.com/argoproj/argoproj-deployments/commit/2b0ded53951a5a850287b5c271f7d481309f0fd4
https://github.com/argoproj/argoproj-deployments/commit/f707eae22847380b3c143c3fa490bd7a2a778014

[2021-11-10 16:18] alexec commented on #7189
That sounds good, would you like to submit a PR to fix this?

[2021-11-10 17:12] sarabala1979 commented on #7192
I think this is enhancement. it should be based on a flag to enable set ownreference.

 `WorkflowTemplate` is more like a definition (template storage) object. When we create a workflow, the controller will copy the content into the workflow in `storedWorkflowSpec`. I don't think there needs to be OwnerReference for this. In other cases, both objects are running objects and that object controller

[2021-11-10 17:20] zirkome commented on #7189
@alexec I don't think setting the default to `^` will solve the issue fully. The reason is that when we type something in the filter input and then remove everything again the `grep` value will now be an empty string (and not `^`) so the issue will re-surface again. I wonder if we could instead change the callback to add an `if grep != ""` before `x.replace`.

[code]

[2021-11-10 17:53] alexec commented on #7189
Would you like to submit a PR? Here is how to run locally:

https://github.com/argoproj/argo-workflows/blob/master/docs/running-locally.md

To start the UI `make start UI=true`

[2021-11-10 17:56] alexec commented on #6805
You are correct, it is in the template:

[code]

[2021-11-10 18:03] zirkome commented on #7189
@alexec I'll create a PR! Thanks for the link

[2021-11-10 20:10] simster7 commented on #7192
I agree with @sarabala1979 thinking.

Something to consider: if we set the WorkflowTemplate as the ownerReference of a Workflow, when a WorkflowTemplate is deleted K8s will delete all respective Workflows by default. I don't think this is desired behavior if we consider WorkflowTemplates as definitions, and if the controller copies content to a Workflow, there really is no "dependency" anymore.

I

[2021-11-10 20:22] simster7 commented on #7192
I think the CronWorkflow -> Workflow dependency is a bit stronger: you create a CronWorkflow with the full expectation that it will itself spawn Workflows. With WorkflowTemplates, you create a WorkflowTemplate and then in the future – in a separate action – you create some Workflows that reference (maybe just a subset) of a WorkflowTemplate.

[2021-11-10 21:34] alexec commented on #7192
I agree with Simon. I actually don’t think this is ownership relationship.

[2021-11-10 21:47] alexec commented on #7175
Please can you test again with more diagnostics:

https://github.com/argoproj/argo-workflows/releases/tag/v0.0.0-dev-kc-1

[2021-11-10 21:58] sundbing opened #7201 "Limit Cronworkflow Runtime count"
# Summary

Add a Max counter to the cronworkflowtemplate that is limiting the amount of reschedules and allows to run a workflow for the given number of Times on a cron schedule.

# Use Cases

Current cronworkflows are running infint till it is removed. That way running a scheduled workflow one time or a fixed amount of times isn't easy to implement.
E.g. Run a workflow every hour but only 10 time

[2021-11-10 22:24] dchancogne commented on #7175
Here we go. Let me know if it's the output you were expecting or if I need to pass some additional argument:

[code]

[2021-11-10 22:26] dchancogne commented on #7175
With verbose on:

[code]

[2021-11-10 23:02] alexec commented on #7175
Ah. Maybe I should format the output rather than print out the pointer.

[2021-11-11 07:56] surajnarwade opened #7202 "Argo SSO RBAC Namespace delegation is not working"
## Summary

* details

[code]
* argo server manifest:

[code]

* configmap snippet:

[code]

When I try to log into argo server, I see the following error in the browser:

[code]

& I see the following error in Argo-server logs:

[code]

If I don't use `groups` in scopes, it all works fine and it fall back to readonly serviceaccount but not use serviceaccount from any other namespace.
but AFAIK, I

[2021-11-11 10:57] cr4zy-C commented on #6511
Hi,
are there any new updates on this issue?
It would be great to be able to distinguish if a step was executed successfully or failed.

[2021-11-11 15:08] ebr commented on #5432
This is often a problem for us as well

[2021-11-11 15:41] terrytangyuan commented on #5432
It was added back again in https://github.com/argoproj/argo-workflows/pull/6420 (the original PR was sent to the wrong branch).

[2021-11-11 16:31] ebr commented on #5432
Ah perfect. I see now that it's in 3.2 and we're on 3.1 - will upgrade. many thanks!

[2021-11-11 16:36] simster7 commented on #5432
Should this be closed? We will likely still want some sort of pagination... increasing the limit seems like a workaround

[2021-11-11 16:59] ebr commented on #5432
Setting the env variable did the trick for us after upgrading the server to 3.2.3, so thanks for that. But I agree that it seems like a workaround because we may eventually hit the new limit as well, or discover other scalability bottlenecks.

[2021-11-11 17:59] mf-lit commented on #7192
I hadn't thought of this. I now agree, there shouldn't be ownership.

I'm happy to close this, but I also think I'd like to open a new enhancement request asking for more to be revealed in the Argo-Workflows UI....

I see what you mean, but I'm curious then how ArgoCD does it so effectively?...

[2021-11-11 19:48] simster7 commented on #5432
Let's leave this open, but label it as an enhancement request

[2021-11-11 23:32] zsolt-keseru-epam opened #7209 "Failed to load git artifacts in istio-enabled namespace (only in init container phase)"
## Summary

What happened/what you expected to happen?
- Successful GitHub connection was expected to load the
- When executing a workflow with git input artifact the artifact loading happens in the init container phase, when istio proxy is not yet running and not even intended to do.
- (It's independent from the usual race condition issue which happens in the main container phase, that's already

[2021-11-12 01:07] blairham commented on #6165
Just thought I would post back to this topic since I've been following it as it was opened by one of my team members. This still does not work with Okta as described with Argo Workflows and still only works with ArgoCD. I haven't had the time to dig in myself but this still looks like this has to do with:

`requestedIDTokenClaims: {"groups": {"essential": true}}`

As described here: https://connec

[2021-11-12 02:00] posquit0 commented on #6906
I need this feature also. :)

[2021-11-12 03:13] berlinsaint commented on #7143
the same problem here. failureCondition should support array struct here. For example, when set tfjob pod restart policy to
`OnFailure` and set a `backoffLimit：3`.
now if exceed the backoffLimit 3, job failed ,like this
![image](https://user-images.githubusercontent.com/10629930/141402713-353cd34d-0be5-4532-af86-f317e84772e2.png)

now,  failureCondition can't support this array struct .
BTW, we ca

[2021-11-12 07:10] firecast commented on #3292
@simster7 Facing the same issue on argo version `3.2.3` as well. Error is the same.
[code]

[2021-11-12 13:25] #7184 closed

[2021-11-12 14:36] zirkome commented on #7189
@alexec Created a PR there: https://github.com/argoproj/argo-workflows/pull/7211

[2021-11-12 16:25] sarabala1979 commented on #7171
I will include it

Sent from my iPhone

[2021-11-12 16:37] sarabala1979 commented on #7171
- [ ] fix(executor): add test for non-root user creating a script (#6905)https://github.com/argoproj/argo-workflows/commit/73d60108b74341baf162580c11323624ba3936b5

[2021-11-12 17:18] alexec commented on #7192
Argo CD does this:

* Dear Kubernetes, tell me about every single API resource you have.
* Now create a list/watch for each of those.
* Now I know everything!

[2021-11-12 17:19] alexec commented on #5432
Maybe we need a new API endpoint that only sends diffs?

[2021-11-12 17:30] jherman3 commented on #6511
In a similar vein, it'd be very helpful if we could use a `when:` clause in the exit hook so we can trigger the exit hook only when the status is not success.

Currently my work-around is to set continueOn failed and use a normal step instead of an exit hook, then have another step which calls `exit 1` conditionally on the first step's status to fail the overall workflow. This feature would make t

[2021-11-12 18:17] whynowy commented on #7209
@zsolt-keseru-epam - can you try by disabling istio?

https://github.com/argoproj/argo-workflows/blob/master/docs/sidecar-injection.md

[2021-11-12 18:19] whynowy commented on #7202
This is a new feature only works for `v3.3 and after`.

https://github.com/argoproj/argo-workflows/blob/390e220c0871a54eba9d10a9322997e40dab68e9/docs/argo-server-sso.md#sso-rbac-namespace-delegation

You can try it with latest build.

[2021-11-12 21:03] tsunamishaun commented on #5006
@middlestone found that my gloo gateway was blocking [event source](https://developer.mozilla.org/en-US/docs/Web/API/EventSource) calls, removed timeout and problem went away.

[2021-11-12 22:21] zsolt-keseru-epam commented on #7209
@whynowy - Unfortunately it's a must-have requirement in my case to have istio, it's a company security constraint.

Otherwise it has been tested with istio turned off, and in that case loading the git artifact works fine.

I have went through the istio-related workflow documentations earlier, including the sidecar-injection.md and I was able to solve all other problems istio caused, except this o

[2021-11-13 00:00] alexec commented on #7209
It could be. I'm not familiar with how ISTIO and init containers work. It could be that the `init` container starts before ISTIO. Can you look at the pod status?

[2021-11-13 17:55] amitnjha commented on #2298
I updated workflow-controller-configmap with s3 bucket name to store logs. Still I see the same error. any suggestions?

[2021-11-14 11:14] berlinsaint commented on #7143
according gjson , and my try......

use this fix my problem:

![image](https://user-images.githubusercontent.com/10629930/141678450-7ed0b22c-fc23-4137-bd33-84a0caa4dafe.png)
like gjson doc say..
https://github.com/tidwall/gjson

However ,some complex syntax will be conflict with  label selector syntax..
BTW, do we really need label selector syntax? i thinks jsonPath is better.. @terrytangyuan

[2021-11-14 11:18] avifried1 opened #7213 "Wait container stuck in a loop while main container finished successfully"
not sure why this was closed, the issue hasn't been solved - it has been circumvented by using k8sapin executor. Using the default Docker executor still has this issue.

_Originally posted by @avifried1 in https://github.com/argoproj/argo-workflows/issues/6115#issuecomment-881783449_

[2021-11-14 11:39] gastonborba commented on #7213
I have the same error with cluster install.

[2021-11-14 15:35] amitnjha commented on #2298
I was able to resolve it. The wait connector log was very helpful in figuring out that credentials for s3 access were not correct in my case.

[2021-11-14 17:02] basanthjenuhb commented on #6931
Making this reflect in the UI will also be helpful

[2021-11-15 08:28] Sh1ftry opened #7214 "workflows stuck because controller is not terminating istio sidecar"
## Summary
What happened/what you expected to happen?

I created a simple workflow with `workflows.argoproj.io/kill-cmd-istio-proxy: '["pilot-agent", "request", "POST", "quitquitquit"]'` annotation. I expected the wait container to use this command to kill istio sidecar, but it didn't.

What version of Argo Workflows are you running?
v3.2.0

## Diagnostics

Run any workflow with k8sapi executor wi

[2021-11-15 09:46] nmandery commented on #7059
Is there anything we can do to help with this issue? Would this feature be of interest for the project and be included in argo?

I assume the best way to set a development environment to contribute is to look at the CI workflows in the `.github` directory. Does any further developer onboarding documentation exist?

[2021-11-15 10:59] zsolt-keseru-epam commented on #7209
As to my knowledge istio injects an init container which reconfigures the network stack to redirect all network traffic to the proxy, but the proxy sidecar container only starts when all the init containers have completed.

Here is the pod status of a failed run:
[code]

[2021-11-15 12:28] ThSchrad opened #7215 "Prevent users from overriding automatically set labels"
# Summary

First, thank you very much for creating and maintaining such a useful tool.

When a workflow is submitted, argo workflows adds various labels to the workflow resource, for example `workflows.argoproj.io/creator-email`.
Users are able to set labels via the cli when submitting a workflow. This is to be expected.
What I did not expect is that users are able to also change the labels set by

[2021-11-15 12:53] terrytangyuan commented on #7059
Check out https://github.com/argoproj/argo-workflows/blob/master/docs/running-locally.md

[2021-11-15 13:07] totycro opened #7216 "`argo auth token --verbose` segfaults"
## Summary

I'm probably experiencing #7175 . To confirm, I wanted to see what `argo auth token --verbose` would print, however it crashes with this:

[code]

Version:
[code]

## Diagnostics

Either a workflow that reproduces the bug, or paste you whole workflow YAML, including status, something like:

[code]

What Kubernetes provider are you using?
[code]

What executor are you running? Docker/K8

[2021-11-15 13:10] wanshicheng opened #7217 "I can't get outputs, when the step is failed."
## Summary

What happened/what you expected to happen?
I start a sparkapplication(spark-on-k8s-operator) , and set up successCondition, failureCondition, outputs. I can't get outputs, when the step is failed trigger by the failureCondition. I want to get some outputs, so that I can use these outputs to do next step.
What version of Argo Workflows are you running?
v3.2.3
## Diagnostics
Sorry, I can

[2021-11-15 13:45] totycro commented on #7216
I just tried this version and it printed the bearer token as expected, no segfault:

[code]

[2021-11-15 15:26] AchimBursian opened #7221 "Pod logs no longer displayed in UI with POD_NAMES v2 since v3.2.2"
## Summary

What happened/what you expected to happen?
Logs of running or completed pods shall be displayed in the Argo UI when I select a node and then click "Main logs".
This is no longer working since v3.2.2, if we use POD_NAMES = v2 (which we want to use). The UI displays "Waiting for data" for some time, later it shows an empty log window although the real log is not empty (visible with kubec

[2021-11-15 15:34] sarabala1979 commented on #7221
Try 3.2.3. There was fix for pod name in 3.2.3

Sent from my iPhone

[2021-11-15 15:37] AchimBursian commented on #7221
As mentioned, issue is still same with 3.2.3 :-(

[2021-11-15 15:53] simster7 commented on #7215
You're right, this should be supported. We should "protect" these "reserved" labels.

[2021-11-15 16:52] #7189 closed

[2021-11-15 18:11] alexec commented on #7221
@JPZ13 could you look at this please?

[2021-11-15 18:12] alexec commented on #7221
Not regression from v3.1, removing label.

[2021-11-15 18:13] alexec commented on #7214
Can you please test using Emissary executor and let me know if this is still a problem.

[2021-11-15 18:14] alexec commented on #7214
Kill is executed by controller, not the wait container. That code is not used.

[2021-11-15 18:21] alexec commented on #7073
Just a thought: make consistent with pod hooks:

https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/

[2021-11-15 18:22] JPZ13 commented on #7221
Yep. Will look into it ASAP

[2021-11-15 18:23] alexec commented on #7221
Thank you. No hurry, we expect teething issues.

[2021-11-15 20:20] alexec commented on #7175
Please try `v0.0.0-dev-kc-2`

[2021-11-15 20:25] dchancogne commented on #7175
@alexec Do you have a darwin-amd64 compiled version?

[2021-11-15 21:35] tachyus-ryan commented on #2063
@dudicoco could you elaborate a bit more? I am trying to set this up, but the workflows are not starting. I think I also need to replace, not just add, the cluster role you suggest above.

[2021-11-15 23:51] JPZ13 commented on #7221
I'm able to reproduce

[2021-11-15 23:53] JPZ13 commented on #7221
@AchimBursian Can you paste the completed workflow yaml here? It doesn't look like the annotation is getting set anymore. Here's an example workflow that I just ran:

[code]

[2021-11-16 00:13] JPZ13 commented on #7221
Interestingly, when I boot Argo workflows locally on the master branch and set POD_NAMES=v2 in the terminal, the annotation gets set properly:
[code]
This might be an issue of the environment variable getting messed up somewhere

[2021-11-16 00:33] JPZ13 commented on #7221
@alexec I think the issue is that #6982 is in the master branch and working but not in 3.2.1, 3.2.2, or 3.2.3. Without #6982, the UI can't handle v2 POD_NAMES since we were running into issues. 3.2.4 should fix this issue

[2021-11-16 01:23] alexec commented on #7221
@sarabala1979 can you confirm if #6982 is on release-3.2 branch please?

[2021-11-16 03:53] tczhao commented on #7081
![image](https://user-images.githubusercontent.com/20961507/141892644-00fa5e9a-defc-490b-ad58-574b4ff381f3.png)

I hope the above diagram is detailed enough in explaining what happened

Because of network delays and queueing, the scenario that commonly happens to emissary will also happen in pns/k8sapi

[2021-11-16 08:15] totycro commented on #7216
Thanks for the quick fix!

[2021-11-16 08:28] surajnarwade commented on #7202
@whynowy @alexec I've tried `latest` tag in my image (assuming latest tag points to latest build), it's the same error

[2021-11-16 09:17] dudicoco commented on #2063
@tachyus-ryan we are no longer using argo-workflows after our initial POC so I don't really remember the entire configuration.

However, if you post your yaml manifests here perhaps I could help you troubleshoot the problem.

[2021-11-16 10:09] AchimBursian commented on #7221
No annotation field:
[code]

[2021-11-16 10:30] nmandery commented on #7059
@terrytangyuan Thanks for the link.

[2021-11-16 11:21] Sh1ftry commented on #7214
The problem still persists. Main and wait containers stop, but istio-sidecar is running and the workflow is not completing.

### Steps
1. Create a simple workflow template
[code]
2. Submit workflow that references the template
[code]
3. Observe that workflow is not completing even though the main and wait containers are stopped.
[code]

### Logs
Init container
[code]
Controller
[code]

### Workflo

[2021-11-16 15:49] alexglatt commented on #7013
In some example yaml files from the Argo Documentation Website, I found that the 'template' field also has a 'metadata' field that is supposed to set annotations and labels for Pods.
When I declare my desired metadata there instead of the 'podMetadata' field in 'spec', all the labels and annotations are successfully included in all the Pods.
This is also possible in the WorkflowTemplate. Therefore

[2021-11-16 15:49] #7013 closed

[2021-11-16 16:45] alexec commented on #7202
Given we do not have any reports from other users, I think this is most likely an issue with your OIDC provider. Can you please reach out to them for help?

[2021-11-16 17:06] alexec commented on #7214
Code only kills sidecars if both main and wait containers have terminated.

Probably needs debugging session:

https://bit.ly/book-30m-with-argo-team

[2021-11-16 17:07] alexec commented on #7175
Should be attached to release.

[2021-11-16 17:30] Sh1ftry commented on #7214
Both main and wait container terminate. Istio sidecar is the only running container.
[code]

[2021-11-16 17:41] Sh1ftry commented on #7214
What's interesting is that if I remove the workflow template reference from the workflow
[code]
it completes properly
[code]
Logs from controller:
[code]

[2021-11-16 18:05] #7159 closed

[2021-11-16 18:25] dchancogne commented on #7175
Thanks @alexec. I tried v2 and v3:

[code]

[code]

[2021-11-16 18:38] alexec commented on #7175
Please try with patch 5, just pushed so will take 20m to build.

[2021-11-16 20:03] JPZ13 opened #7224 "Pods stuck in running state on latest"
## Summary
Pods are stuck in a perpetually running state when using the `latest` tag for a cluster wide installation. Note that I'm not getting this error when running `make start UI=true` on the master branch. Just reporting this so that any lighting demos tomorrow aren't affected.

UI view:
![argo ui](https://user-images.githubusercontent.com/6625432/142056263-312ef5b3-2c49-4519-9dcd-2204899656e

[2021-11-16 20:14] jccarte opened #7225 "Github Sunset public key prevents artifact cloning"
## Summary

As of November 16, 2021 we are no longer able to clone github repositories as artifiacts without setting `insecureIgnoreHostKey: true` It appears that the go tests pass on master at least. So it could be fixed in the go-git changes that are in master but not in any of the official releases

[Github Sunset Announcement](https://docs.github.com/en/authentication/keeping-your-account-and-

[2021-11-16 20:48] jccarte commented on #7225
Running argo-workflows against latest appears to also have this issue. So it might not be relevant that tests are passing on master afterall.

[2021-11-16 21:49] jccarte commented on #7225
running ./update-ssh-known-hosts.sh and creating a new argoexec image appears to take care of the issue.

[2021-11-16 22:12] tachyus-ryan opened #7227 "Windows step fails to init due to failure to load artifact"
## Summary

What happened/what you expected to happen?

I expected Argo to successfully mount the output artifact from step1 as the input artifact for step2.

Instead, the init container failed to load the path from GCS. See init_logs.txt, attached.

What version of Argo Workflows are you running? v3.2.3

## Diagnostics

Either a workflow that reproduces the bug, or paste you whole workflow YAML,

[2021-11-16 22:53] tczhao commented on #5877
@amitm02
How about withSequence
https://github.com/argoproj/argo-workflows/blob/master/examples/handle-large-output-results.yaml

[2021-11-17 02:18] DingGGu commented on #6490
Amazing stuffs!
[Kiali already support impersonate with Kubernetes OIDC](https://kiali.io/docs/configuration/authentication/openid/)

[2021-11-17 03:13] dchancogne commented on #7175
@alexec Here we go:

[code]

[2021-11-17 03:22] jixinchi commented on #6805
I'm not sure if the {{workflow.name}} and {{item}} tag work when using `templateRef`. I'll try it later.

What we discussed above is only about the "aggregate" case. Do you have any comments on the "separately process" case?

[2021-11-17 04:46] thesuperzapper commented on #6490
@DingGGu as described in the "limitations" section of my PR https://github.com/argoproj/argo-workflows/pull/7193, the initial implementation won't support `Group` bindings, only `User`. This is because it uses [SubjectAccessReviews](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#subjectaccessreviewspec-v1-authorization-k8s-io), which require us to explicitly pass the list of

[2021-11-17 08:18] surajnarwade commented on #7202
@alexec got it working, though the document is bit misleading `scopes: groups` was not needed with my azure OIDC setup as groups claim present in the token.

and also `groups` scope is not standard OIDC scope, hence we can add few lines which are bit generic & provider specific that would be nice or one note about what provider argo-workflows devs are using for development & testing.

Thanks for t

[2021-11-17 08:18] #7202 closed

[2021-11-17 11:19] prein commented on #7225
Would it be possible to manipulate known_hosts file globaly, in a config map, like it's done with ArgoCD?
Any chance hardcoding the know_hosts file in the argoexec container can be avoided?

I guess a temporary workaround could also be running `ssh-keyscan github.com gitlab.com bitbucket.org ssh.dev.azure.com vs-ssh.visualstudio.com | sort -u >> /etc/ssh/ssh_known_hosts` (which is what `update-ssh

[2021-11-17 12:22] tcolgate commented on #7225
Can also confirm. Running `hack/update-ssh-known-hosts.sh`, run `make argoexec-image`, then reconfigured worfkflow controller to use the new image, and all is now well.

[2021-11-17 12:32] tcolgate commented on #7225
I'd also +1 for making known hosts configurable.

[2021-11-17 12:56] Pluggi commented on #7182
I have the same issue with 3.1.1.

[2021-11-17 15:40] tachyus-ryan commented on #7227
Based on https://cloud-native.slack.com/archives/C01QW9QSSSK/p1637158350187900?thread_ts=1637098682.168100&cid=C01QW9QSSSK, it seems using MinIO Gateway may provide a workaround.

[2021-11-17 15:51] terrytangyuan commented on #7225
FYI https://github.com/argoproj/argo-workflows/pull/7226 is trying to fix this.

[2021-11-17 17:01] alexec commented on #6805
I think most patterns should be supported using key-only artifacts.

[2021-11-17 17:03] alexec commented on #7202
Would you like to submit a PR to add that?

[2021-11-17 17:13] alexec commented on #7224
Do you have any diagnostics?

[2021-11-17 17:14] DingGGu commented on #6490
@thesuperzapper Looking at your PR comments and the limitations of `SubjectAccessReview`, I wonder if this is the correct implementation.

My current configuration is as follows.

[code]

The JWT token for the proper authenticated and authenticated user is:
[code]

The RoleBinding of the namespace is set as follows.
[code]

In my use case, the group name of RoleBinding and the group name provided

[2021-11-17 17:14] alexec commented on #7225
@sarabala1979 this issue has 44x 👍 in just 1 day. Please back port to both v3.1 and v3.2. I think this is urgent for most users.

[2021-11-17 17:22] alexec commented on #6490
Most users will not be able to reconfigure the Kubernetes API server (e.g. it is EKS, GCP auto-pilot, etc). How do these ideas work for them?

[2021-11-17 17:33] DingGGu commented on #6490
@alexec This option was supported on [EKS](https://docs.aws.amazon.com/ko_kr/eks/latest/userguide/authenticate-oidc-identity-provider.html) and kOps.

And I also found [GKE was supported too](https://cloud.google.com/kubernetes-engine/docs/how-to/oidc).

[2021-11-17 17:37] alexec opened #7234 "High severity vulnerability found in github.com/tidwall/gjson"
[code]

[2021-11-17 17:38] alexec commented on #6490
There will be many users in enterprise environments who do not have this option to change, regardless of whether it is available.

[2021-11-17 17:44] #7099 closed

[2021-11-17 17:45] DingGGu commented on #6490
EKS and kOps I'm using have all been applied with in-place upgrade.

Why this option is useful is also explained in the EKS documentation.
This is to prevent the permission worker from accidentally granting permission starting with `system:` in the OIDC Provider.

My guess is that Kubernetes was also aware of this problem and provided a prefix option. So, there doesn't seem to be any need to rule

[2021-11-17 18:12] DingGGu commented on #6490
The reason why the cluster administrator wants to use "impersonate" is that to use another web console, there is no need to add or change the authorization scheme already configured in Kubernetes.
which that means, User can use the same privileges granted to kubectl.

I manage hundreds of developers using dozens of clusters, and if this feature is added correctly, I think the management will be ve

[2021-11-17 18:16] #7225 closed

[2021-11-17 18:26] mitchellgordon95 commented on #7171
Is it too late to get #6995 in? it's been a couple weeks and it would definitely help me out.

[2021-11-17 18:33] alexec commented on #7171
We don't normally back port features I'm afraid.

[2021-11-17 19:01] sarabala1979 commented on #7073
Sample workflow

[code]

[2021-11-17 20:39] alexec opened #7235 "Agent is not deleted when workflow fails?"
The agent pod should be deleted when the workflow fails, or at least inline with PodGC. But it appears to keep running.

[code]

[2021-11-17 21:15] #7234 closed

[2021-11-17 21:48] tachyus-ryan commented on #3933
I'm running into the same issue now. I suspect this was never resolved.

[2021-11-17 21:53] tachyus-ryan commented on #3933
Workaround: use the `s3` provider pointing at the `storage.googleapis.com` endpoint.

[2021-11-17 22:54] alexec opened #7239 "HTTP template always reports progress as zero"
It should be 0/1 when pending/running and 1/1 when complete.

![image](https://user-images.githubusercontent.com/1142830/142295386-b2008711-da6b-4720-86ae-c334478210d6.png)

[2021-11-17 23:03] alexec commented on #7175
Please try with patch 6?

[2021-11-17 23:25] alexec commented on #7225
v3.1.x released (just this fix)
v3.2.x being released (many fixes)

[2021-11-18 02:05] alexec opened #7243 "Improve taskset/HTTP template logging"
A lot of the logging for taskset/http template logs the Go object, which results in log lines that are (a) not very human readable and (b) not very machine readable, therefore less helpful that they could be:

Example:

[code]

We could log the JSON of the object, but that's not machine readable. Better to just be structured.

[2021-11-18 02:05] alexec commented on #7243
@sarabala1979 could ask you to own this please?

[2021-11-18 02:08] sarabala1979 commented on #7243
I will take it

Sent from my iPhone

[2021-11-18 02:24] 66li commented on #7217
Maybe you need configure an artifact repository

[2021-11-18 03:10] thesuperzapper commented on #6490
@DingGGu in general, I would strongly discourage the use of the Kubernetes "impersonate" feature, see my comments here about why https://github.com/argoproj/argo-workflows/pull/7193#issuecomment-964641307.

[2021-11-18 05:18] DingGGu commented on #6490
@thesuperzapper My "impersonate" literally means delegation.
There is a connotation of the word "impersonate", but it is not meant to imply a deception.

`SelfSubjectAccessReview` performs authentication based on the user's token.
Even if you are a cluster administrator, if you do not have the user's token, you cannot impersonate someone else and execute privileges.

I think that the Argo Server e

[2021-11-18 05:56] thesuperzapper commented on #6490
@DingGGu I am specifically talking about [kuberentes impersonation](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#user-impersonation) (not the concept of impersonation more generally), and the issue with it, is that if something is given access to the `impersonate` verb, it can impersonate literally any user, and therefore escalate its own permissions (which is why I don'

[2021-11-18 07:08] ebr commented on #6110
We are seeing this exact issue again on v3.2.3

- using a template semaphore `global-max-pods`
- workflows scale up to the N pods up to the template semaphore value (`17000` in this case)
- then all subsequent workflow nodes are stuck with status: `Waiting for default/ConfigMap/argo-sync/global-max-pods lock. Lock status: 0/17000
- Pods complete and succeed, but no new pods are launched
- Status i

[2021-11-18 07:32] jixinchi commented on #6805
I've tried this workflow. The `{{item}}` tag does not work outside the dag task, because the `gen-artifact` outputs a file named "{{item}}".

Key-only artifacts only supports cases that you have already known how many artifacts will be generated and how to user them before running the workflow. It is not suitable for `WithParam` and `WithItems` cases.

[2021-11-18 08:19] SyngoPredevelopment opened #7245 "Cluster install and logs of archived workflows"
We are using argo-workflow in clustered mode, as the artifact database minio.
The argo-server, workflow-controller, ... are running in the namespace arg-workflows,
our workflow in another, let's say it is kondor-ci.
We have now the effect that when a workflow from namespace kondor-ci is archived and we
want to look at the logs they are missing.
Looking into the archived workflows in the json saved

[2021-11-18 11:37] #6694 closed

[2021-11-18 11:37] #6686 closed

[2021-11-18 11:37] #6416 closed

[2021-11-18 11:37] #6399 closed

[2021-11-18 11:37] #6333 closed

[2021-11-18 12:13] AchimBursian commented on #7221
Tested with v3.2.4, issue is fixed. Thanks a lot!

[2021-11-18 16:02] alexec commented on #6805
Do you want to set-up a 30m to chat?

https://bit.ly/book-30m-with-argo-team

[2021-11-18 16:16] jixinchi commented on #6805
I am from China, and it's 00:10 now...
In addition, I'm sorry that my English is not good enough to speak or talk about technical problems. Maybe text communication is more effective.

[2021-11-18 17:29] evetion commented on #7227
We hit a similar looking problem, the init container fails to load an s3 artefact for a Windows container. We're on v3.2.0, on EKS and are using S3.

[code]

[2021-11-18 19:57] dchancogne commented on #7175
@alexec Getting closer

[code]

[2021-11-18 20:18] terrytangyuan opened #7248 "Update the generated Python package name to be "argo-workflows""
# Summary

Currently this is called "openapi_client". We'd like to rename it to be "argo-workflows" before publishing.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2021-11-18 20:19] terrytangyuan commented on #7248
@flaviuvadan volunteered to take this.

[2021-11-18 20:58] sky29 opened #7250 "Argo Workflow SSO not working with Azure Active Directory B2C"
## Summary
We are trying to integrate Argo Workflow SSO with Azure Active Directory B2C. But it is not working. Though We are able to integrate this with Keycloak perfectly.

Version of Argo Workflow we are using: v3.1.2

## Diagnostics
With Keycloak our argo-workflow configmap (workflow-controller-configmap) looks like below, which is working perfectly fine.
[code]

But if I try to modify same wi

[2021-11-18 21:05] kevin-hanselman commented on #7175
FWIW I'm also seeing this in both 3.2.3 and 3.2.4, and I'm running EKS as well (inferred from the redacted kubeconfig).

[2021-11-18 23:22] #6841 closed

[2021-11-18 23:23] alexec commented on #7175
I'm pretty sure this is caused by Kubernetes library upgrade.

[2021-11-18 23:58] alexec commented on #7175
Please try patch 7.

[2021-11-19 00:10] alexec commented on #7250
Your logs say you did not create the secret.

[2021-11-19 00:25] #7128 closed

[2021-11-19 02:06] dchancogne commented on #7175
@alexec Success!!
Thanks for figuring this out.

[code]

[2021-11-19 04:55] nikunjmasrani commented on #4510
I am facing the same issue. does anyone have a solution?

[2021-11-19 06:43] jixinchi commented on #6805
My email is jixinchi@bytedance.com.
Or you can find me on slack, named Xinchi Ji.

[2021-11-19 10:54] paragones92 opened #7252 "Add json log format flag for Workflow controller"
# Summary

Just as other components of Argo workflows Server and ArgoCD have the option to set the log format of json or text, add this option as well to argo workflow controller.

[code]

# Use Cases

It would be easier for logs scrapper like Fluentd or Fluentbit to use the json parsers to better parse the logs to the desired logs storage system.

---

**Message from the maintainers**:

Love this

[2021-11-19 15:03] terrytangyuan opened #7253 "Distribute more secure and lightweight docker images with docker-slim"
# Summary

What change needs making?

Switch to use docker-slim for image building. https://github.com/docker-slim/docker-slim

# Use Cases

When would you use this?

I liked the security part of it in particular. Here's what it claims:

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2021-11-19 19:51] sky29 commented on #7250
@alexec  We already have secret in place, something like below:

`kubectl get secret argo-sso -n argo -o yaml

apiVersion: v1
data:
  clientID: azure-b2c-app-registration-client-id-base64-enncrypted
  clientSecret: azure-b2c-app-registration-client-secret-base64-enncrypted
kind: Secret
metadata
  name: argo-sso
  namespace: argo
type: Opaque
`

[2021-11-19 20:44] alexec commented on #7250
[code]

???

[2021-11-19 20:49] terrytangyuan commented on #7252
This has been supported in https://github.com/argoproj/argo-workflows/pull/5158 unless I misunderstood the intention.

You can use `--log-format` when you start the workflow controller.

[2021-11-19 20:54] sky29 commented on #7250
Yes, we saw "404 Not Found: error", but we couldn't able to figure that out why is it throwing ? ..... same configuration is working fine for us with Keycloak.

Second thing when we were discussing with Microsoft Team, they asked question: if "issuer" configuration (in workflow-controller-configmap) is enough?, because somewhere we need to plug Azure B2C "UserFlow" or "CustomPolicy" in argo config

[2021-11-19 21:18] terrytangyuan commented on #4510
Can you try the new SDK (note that it's still experimental and not published to PyPI yet): https://github.com/argoproj/argo-workflows/tree/master/sdks/python

[2021-11-19 21:35] jhart99 commented on #6635
One work around for this issue is to add an environment variable to the argoexec to point to kubernetes certificate authority which is injected into the container.  This works because [go looks for this environment variable to find SSL certs](https://golang.org/src/crypto/x509/root_unix.go).

I did this by building a custom container for argoexec with this Dockerfile.
[code]
Then tagging this cont

[2021-11-21 13:18] diazGT94 commented on #7224
Same issue, I've run the template example using versions: 3.2.4, 3.1.13, 3.2.2 and in all of them the pod gets stuck in running status after display "Hello argo" message and never kills the pod.

[2021-11-22 04:50] Nayan155 commented on #6399
I am facing the same issue. does anyone have a solution?

[2021-11-22 05:38] book987 opened #7258 "Advanced HTTP template status check mechanism: pass/fail templates based on condition"
# Summary

What change needs making?

Support something like `successCondition` and `failureCondition` in HTTP template

# Use Cases

- status code allowlist
- check content in response
- ...

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-11-22 08:06] m-linner-ericsson commented on #6716
Any solution to this?

[2021-11-22 13:56] SyngoPredevelopment commented on #7245
Tested against 3.2.4, looks like bug is resolved there, logs are visible in cluster mode.
Thanks !

[2021-11-22 13:56] #7245 closed

[2021-11-22 14:50] kostas-theo commented on #7171
Hi @alexec - This issue is still opened and 3.2.4 has been released. Are the listed items still slated to be included in the next release?

[2021-11-22 16:35] #7171 closed

[2021-11-22 16:35] alexec commented on #7171
Please see changeling.

[2021-11-22 16:42] alexec commented on #7209
I also wonder why other users don't have this problem? Have you tried reming Argo from the loop? I.e. just running a pod with an init container that checks out the files using `git clone`?

[2021-11-22 16:46] alexec commented on #7253
We've made a lot of changes in the last year to improve the security of our published images:

* Use Snyk for image scanning.
* Switch to Alpine base image for the executor.
* Controller and server do not run as root anymore.
* Deprecation of the Docker executor.

I think we're in a good place today, but security best practices change overtime, so this might be the right thing tomorrow.

Any thoug

[2021-11-22 16:48] alexec commented on #7258
@sarabala1979 do we support this already? Is there a work around? If not, seems like a neat enhancement. Maybe we could add a `condition: resp.statusCode == 300 && asJson(body).foo.bar = 'yes'`?

[2021-11-22 16:48] alexec commented on #7248
I'm not able to assign @flaviuvadan for some reason.

[2021-11-22 16:49] alexec commented on #6716
v3.0 is out of support. Can you please try in v3.2.4?

[2021-11-22 17:03] alexec opened #7259 "`init` process with Emissary executor"
# Summary

The emissary executor runs as PID 1, which means that the subprocess runs cannot. This is a problem for people using tools like `tiny` and `dumb-init` as their init process. They loose features like zombie process reaping.

[code]

Options

1. Do nothing. The Emissary already forwards kill signals correctly. It does not reap zombies.
2. Make the Emissary take on init duties, specificall

[2021-11-22 17:07] terrytangyuan commented on #7248
Perhaps because he's not a member of the argoproj org.

[2021-11-22 18:02] sarabala1979 commented on #7217
@wanshicheng Can you provide a fully reproducible workflow?

[2021-11-22 18:06] alexec commented on #7224
@JPZ13 you mentioned that this was a problem with cluster install? Do you know if it is a problem with namespace install too?

If not, perhaps the clusters roles do not have the correct permissions:

https://github.com/argoproj/argo-workflows/tree/master/manifests/cluster-install/workflow-controller-rbac vs
https://github.com/argoproj/argo-workflows/tree/master/manifests/namespace-install/workflow

[2021-11-22 18:13] alexec commented on #7081
@tczhao we struggled to understand the problem, so let me play it back:

When a pod exceeds its deadline, the `main.log` is not save in the artefact repository.

Why does this happen please?

[2021-11-22 18:14] #7235 closed

[2021-11-22 18:20] alexec commented on #7250
I don't know what "UserFlow" or "CustomPolicy" are, so these are presumably Azure things. Argo Workflows is vanilla Outh, and we don't support these. However, many users have success using Dex for non-vanilla providers:

https://dexidp.io/docs/connectors/microsoft/

We use it for Github ourselves:

https://github.com/argoproj/argoproj-deployments/tree/master/dex

[2021-11-22 18:21] sarabala1979 commented on #7095
I am not able to look into it soon. I will look into after holiday

[2021-11-22 18:22] alexec commented on #7111
I've not seen this again recently.

[2021-11-22 18:49] sarabala1979 commented on #7182
@simster7 can you please look into this issue?

[2021-11-22 18:51] #6725 closed

[2021-11-22 18:54] #6983 closed

[2021-11-22 19:00] #6999 closed

[2021-11-22 19:13] #7175 closed

[2021-11-22 19:13] #7216 closed

[2021-11-22 19:17] alexec commented on #6629
I want to make sure I understand the problem, so let me play it back:

You want the `pvc-protection`. finaliser to be removed from a workflow's PVC when the workflow is completed.

Should this also be protected by a check to make sure no other pods have the PVC mounted?

[2021-11-22 19:23] terrytangyuan commented on #7253
I don't have any experience with docker-slim personally so I'll defer that to others to answer.

[2021-11-22 19:30] simster7 commented on #7182
Yes, I'll look

[2021-11-22 20:02] alexec commented on #7214
I've just installed Helm locally and run a test workflow without using the annotation and the sidecar gets injected, the controller then signals istio-proxy and it terminates gracefully. I then ran an example using `templateRef` which was successful.

Can you please try with `:latest` controller?

[2021-11-22 20:04] alexec commented on #6375
https://github.com/argoproj/argo-workflows/issues/7259

[2021-11-22 20:12] JPZ13 commented on #7224
Thanks @alexec - will troubleshoot based on your above comment this evening and post findings

[2021-11-22 20:17] alexec commented on #6375
@Bobgy I've tried to reproduce this again today, but failed to do so. Your sample workflow exited successfully. I think this bug is fixed.

[2021-11-22 20:17] #6375 closed

[2021-11-22 20:35] pisymbol commented on #5570
The echo solution is just gross.

[2021-11-22 20:44] alexec commented on #7259
[code]

[2021-11-22 20:48] alexec commented on #7259
I've made a few attempts to reproduce this issue, but I think we are probably dealing with orphans zombie processes correctly.

We should probably mention in the docs you do not need dumb-init with the Emissary.

[2021-11-22 20:48] #7259 closed

[2021-11-22 21:45] naor2013 commented on #6629
That's a good description of what I want, yes.

I don't see a use-case where any pods will be mounted to the Argo-generated PVC after the Workflow is finished but if you think there is a use-case for it and checking for it is possible, it can be added I guess, but for my use-case this kind of check is not required.

[2021-11-22 22:06] alexec commented on #6629
Good point. We don't need to check for others. Just when the workflow is complete, we can patch the finalizer.

[2021-11-22 22:08] alexec commented on #6629
These are created here:

https://github.com/argoproj/argo-workflows/blob/e0455772a2164093c16f95480a2d21d4ae34a069/workflow/controller/operator.go#L1390

Deleted here:

https://github.com/argoproj/argo-workflows/blob/e0455772a2164093c16f95480a2d21d4ae34a069/workflow/controller/operator.go#L1458

[2021-11-22 22:28] #7164 closed

[2021-11-22 23:54] tczhao commented on #6724
fixed in https://github.com/argoproj/argo-workflows/pull/7211

[2021-11-22 23:54] #6724 closed

[2021-11-23 00:27] laymain commented on #5570
By the "echo solution" you mean the podSpecPatch workaround?

[2021-11-23 01:26] alexec commented on #6805
What about using data template with S3? That allows you to drop a number of artifacts into a bucket, then use `withItems` to fan-out process them.

https://argoproj.github.io/argo-workflows/data-sourcing-and-transformation/

[2021-11-23 04:57] #6994 closed

[2021-11-23 05:27] sarabala1979 commented on #7091
@amaloun above. your usecase is totally different than @bygui86 usecase.  For `templateRef` sceanior can't be refer the `spec` level properties. if you define the podmetadata under template it will work.

@bygui86  I tried my env. it is working fine.

[2021-11-23 06:11] jixinchi commented on #6805
Data template is really a good method to solve similar problems. However, the `expression` is limited in our business. We need to run some python or R scripts in a container to process the artifacts, not just simple text processing.

[2021-11-23 08:33] bygui86 commented on #7091
@sarabala1979 thanks for the update. May I ask you which version? A new one or just a different config?

[2021-11-23 08:49] guillaumBrisard commented on #7091
@sarabala1979 I didn't understand, when I read the spec  https://argoproj.github.io/argo-workflows/fields/#workflowtemplatespec
there is a podmedata field for WorkflowTemplate.
If I trigger the WotkflowTemplate with a templateRef from a Workflow or a CronWorkflow or argocli, I should see my podmetadata ?
Otherwise what the use of podmetadata for WorkflowTemplate ?

[2021-11-23 10:01] naveenc opened #7265 "argo-workflows with java container"
### Discussed in https://github.com/argoproj/argo-workflows/discussions/7264

<div type='discussions-op-text'>

<sup>Originally posted by **naveenc** November 23, 2021</sup>
Hi ,
I need some help to find the java logs
I created a java project which just has a main method and which prints an message.
public static void main(String[] args) throws IOException {
            System.out.println("*******

[2021-11-23 11:15] pisymbol commented on #5570
Both. This is one of the most basic things you can do - run a command with command line arguments. Is this really that hard? Also, how would you do this in a WorkflowTemplate instead. That is my use case - I want to define a template to run various commands and allow the workflow to specify the options depending on flow. This seems like a really simply, generic, everyday usecase.

[2021-11-23 11:27] laymain commented on #5570
The use of `echo` here is just an example.
I'm successfully using the podSpecPatch workaround just as described in the example in a WorkflowTemplate

[2021-11-23 13:16] Sh1ftry commented on #7214
I need the annotation, because istio-proxy image is distroless. However, updating controller to the latest version fixes the issue for the simple workflow with `templateRef`, but if I try with a bit more complex example the issue appears again:
* workflow-template-random-number.yaml
[code]
* workflow-template-multiply-number.yaml
[code]
* workflow-multiply-random-number.yaml
[code]
The execution i

[2021-11-23 14:41] pisymbol commented on #5570
Can you give an example?

[2021-11-23 14:46] zsolt-keseru-epam commented on #7209
It's reproducible without argo as well:
[code]
While the same succeeds as normal container in the pod.

In the meantime I've seen that the init containers are executed sequentially while I believed they are running in parallel...
The order is:
First my init container (or workflow init-container), then when it's finished `istio-init` which does the iptables changes.

This would mean from istio side

[2021-11-23 14:51] laymain commented on #5570
The example given earlier works fine with a WorkflowTemplate
https://github.com/argoproj/argo-workflows/issues/5570#issuecomment-811908575

[2021-11-23 15:15] pisymbol commented on #5570
It doesn't for me:

[code]

[code]

[2021-11-23 15:15] JPZ13 commented on #7224
The pods are hanging for me using this namespace installation: https://github.com/argoproj/argo-workflows/blob/master/manifests/namespace-install.yaml

Here is an output of my wait logs for a UI-generated workflow:
[code]

Unfortunately no error message that sticks out. Here's an output of `kubectl get logs`:
[code]
And a detail of the `sparkly-python` pod:
[code]

@diazGT94 - which flavor of k8s

[2021-11-23 15:20] encigem commented on #6716
I have re-tested with the latest Argo Workflow version deployed.

argo cli version & argo workflow deployment version:
[code]
adding same workflow template as shown in original post:
[code]
Running the workflow which utilises the wft:
[code]

grabbing logs:
[code]

Issue persists with v3.2.4 of Argo Workflows.

[2021-11-23 16:12] alexec commented on #7057
Recent testing suggests this already works.

[2021-11-23 16:12] #7057 closed

[2021-11-23 16:22] alexec commented on #6805
I think that is not what data template does. It basically allows you to list artifacts, and then start a new process for each artifact.

[2021-11-23 16:23] alexec commented on #7214
It is US holiday this week, I will follow up next week

[2021-11-23 16:37] tachyus-ryan opened #7266 "Submitting Cluster Workflow Template using namespaced install fails immediately with runtime error"
## Summary

What happened/what you expected to happen?

I created a new cluster workflow template from the Argo UI. I then submitted that cluster workflow template from the UI with all default values. I expected the workflow to run successfully. Instead, the workflow failed immediately with `Error: runtime error: invalid memory address or nil pointer dereference`

What version of Argo Workflows ar

[2021-11-23 16:58] sarabala1979 commented on #7266
@tachyus-ryan Namespaced-install should not have `clusterworkflowtemplate` RBAC. can. you. please. provide your usecase for `clusterworkflowtemplate` for namespaced install?

you should have clusterworkflowtemplatte RBAC on argo-role

[2021-11-23 17:18] pisymbol commented on #5570
I assume the ```podSpecPatch``` should be in the WirkflowTemplate not in the Workflow?

[2021-11-23 17:22] alexec commented on #7266
I think that `(woc *wfOperationCtx) createTemplateContext` must be returning nil.

[2021-11-23 17:22] alexec commented on #7265
Duplicates discussion.

[2021-11-23 17:22] #7265 closed

[2021-11-23 17:36] simster7 commented on #7258
We don't support it and in fact I had already worked on a PoC for this when I was working on #7113. I'll take this one

[2021-11-23 18:27] sarabala1979 commented on #7266
yes, I am adding a fix to check nil for `cwftmplInformer`

[2021-11-23 18:51] tachyus-ryan commented on #7266
@sarabala1979 I want to run workflows in multiple namespaces with different resource limits applied to each namespace. The managed namespace option doesn't work because it only accepts one. When I tried to use a cluster install, I couldn't get any workflow templates, cluster or namespaced, to work. So I was trying to use multiple namespace installs with cluster workflow templates.

I didn't check

[2021-11-23 19:21] Sh1ftry commented on #7214
I've managed to reproduce the issue on a new kind cluster with minimal istio installation with the latest controller version.

### Steps

1. Install kind cluster.
[code]
2. Install istio
[code]
3. Install argo workflows
[code]
    The content of the values file:
[code]
4. Submit a simple workflow to see that argo workflow works.
[code]
    Content of the `workflow-cowsay.yaml` is from https://gith

[2021-11-23 19:56] alexec opened #7267 "v3.4 turn on experimental features"
In environment-variables.md, enable ones that were opt-in in v3.2.

When complete, create new issue for v3.5.

https://argoproj.github.io/argo-workflows/environment-variables/

- [x] #7279
- [x] #8592

[2021-11-23 20:18] terrytangyuan commented on #7267
Which features will we be turning on?

[2021-11-23 20:31] alexec commented on #6716
Could be related to https://github.com/argoproj/argo-workflows/issues/7091

[2021-11-23 20:32] alexec commented on #7091
This issue is fixed. A new issue must be raised for @guillaumBrisard problem.

[2021-11-23 21:09] alexec commented on #7267
not sure, need to look at doc when time comes

[2021-11-23 21:21] alexec commented on #7214
This looks like another example of something not working with `templateRef`.

See #6854

I did not test using `templateRef`, I used `spec.template*`

[2021-11-23 21:41] alexec commented on #7091
Reviewing this with @sarabala1979 , `templateRef` references a template with a workflow template, not the template. So anything not under the specific template will be ignored. This is as intended.

[2021-11-23 21:41] alexec commented on #6716
Reviewing this with @sarabala1979 , `templateRef` references a template with a workflow template, not the template. So anything not under the specific template will be ignored. This is as intended.

[2021-11-23 21:41] #6716 closed

[2021-11-23 23:17] #6629 closed

[2021-11-24 00:15] laymain commented on #5570
`podSpecPatch` should be a string containing json not yaml, have a look at the example.

Something like this in your case:

[code]

[code]

[2021-11-24 00:36] pisymbol commented on #5570
[code]

[2021-11-24 00:52] alexec opened #7269 "Agent patches task-set too often"
Every 1s in fact. But that is very wasteful. It only needs to patch once per DEFAULT_REQUEUE_TIME, 10s by default. So reduce to every 10s.

[2021-11-24 00:52] laymain commented on #5570
From my understanding, argo deploys multiple named containers in the pod including yours, named `main`

[![workflow-overview](https://argoproj.github.io/argo-workflows/assets/overview.jpeg)](https://argoproj.github.io/argo-workflows/architecture/#argo-workflow-overview)

[2021-11-24 07:31] m-linner-ericsson commented on #6716
But in https://argoproj.github.io/argo-workflows/workflow-templates/ it says

Is the documentation wrong?

[2021-11-24 08:08] Bobgy commented on #6375
Thank you for the update! I'll let know if I ever hit this again.

[2021-11-24 08:38] bygui86 commented on #7091
@alexec probably I didn't fully understand your last comment...
As you can see in my initial message, `podMetadata` is declared in a `ClusterWorkflowTemplate` so it's part of a template and should not be ignored. But actually it is and only adding the same `podMetadata` declaration to the ArgoEvents Sensor I see labels and annotations on the workflow pods.

[2021-11-24 09:35] jixinchi commented on #6805
As is shown in the doc you provided, data template can only process each artifact by methods limited in the `exporession`. Therefore, data template cannot support our business.

[2021-11-24 10:12] paragones92 commented on #7252
Oh thanks didnt find that in the code and i thought it was not implemented. Thank you!

[2021-11-24 10:12] #7252 closed

[2021-11-24 11:11] kobejn-jb opened #7271 "Add option to skip workflow duration estimation"
# Summary

What change needs making?

I would like to have an option to disable workflow duration estimations in workflow-controller using setting in configMap.

# Use Cases

When would you use this?

Currently for workflows created from cronWorkflows, worfklowTemplates and clusterWorkflowTemplates controllers tries to estimate duration using previous workflow executions, at first it checks for th

[2021-11-24 11:17] denis-codefresh opened #7272 "Add support for more granular and flexible synchronization mechanism of the workflows"
# Summary

Add support for more granular and flexible synchronization mechanism of the workflow

# Use Cases

Today you can enforce your workflow concurrency only by 2 levels: workflow or template.
The proposal is to add an ability to create custom levels of synchronization based on workflow fields like labels or parameter values. It would be great to have an ability to enforce concurrently by som

[2021-11-24 13:43] johnbuluba opened #7273 "Resource template task hangs forever with Istio sidecar"
## Summary

What happened/what you expected to happen?

We have a Workflow that has resource templates and Istio sidecar injection enabled. After the `main` container creates the resources, the `istio-proxy` sidecar is not stopped. Because of this, the Pod stays in the `Running` state and the task hangs forever.

We expected that the `istio-proxy` will be terminated after the task completes. This

[2021-11-24 14:53] pisymbol commented on #5570
Wow, thank you @laymain!

[2021-11-24 17:17] guillaumBrisard commented on #7091
@bygui86
What I understood. If I use the @amaloun example.
To make it works you need to move `spec/podMetadata` from `WorkflowTemplate` to `Workflow`
Why ?
Because when we use `templateRef` in the `Workflow`, it will see what is under the field `spec/templates` in the WorkflowTemplate
and everything not under `spec/templates` will be ignored like `podMetadata`,  `hostNetwork` or `dnsPolicy`.
So th

[2021-11-24 20:40] yoshina9a opened #7275 "Default values for inputs parameters in WorkflowTemplate not working"
## Summary

What happened/what you expected to happen?

Previously (at least in v3.1.13), we can use default values for input parameters in a template in WorkflowTemplate. But now it's broken in v3.2.4.
Maybe It's like this issue #2305

What version of Argo Workflows are you running?
**v3.2.4**

## Diagnostics

workflow-template
[code]

workflow

[code]

What Kubernetes provider are you using? **G

[2021-11-24 21:23] bygui86 commented on #7091
@guillaumBrisard thanks for the explanation.

Yeah at this point I think that this behaviour is kind of wrong... I mean: overwriting what's in the WorkflowTemplate with what's in the Workflow, is fine. But if there is nothing in the Workflow, why ignoring what's in the template?

`podMetadata` are useful if you run your workflows in a cluster secured with NetworkPolicies (based on labelling).
`hos

[2021-11-25 01:09] alexec commented on #7091
It is confusing. We have “WorkflowTemplate”, “template” “workflowTemplateRef” and “templateRef”. I think is easy to misunderstand, so let me see if I can clear this up (or make it more confusing).

You can’t inherit fields under spec with “templateRef”, because this refers to a specific “template” within the “WorkflowTemplate”, not the “WorkflowTemplate” itself. If that is what you are trying, the

[2021-11-25 02:37] tczhao commented on #7081
Hi @alexec
Sorry the diagram was not quite right
here's what's happening:
![image](https://user-images.githubusercontent.com/20961507/143370141-176e4ee3-64de-4666-a3e5-712fe68ccf75.png)

- in pns ( with #7092 fix ), the executors runs faster and at deadlineexceed event, it annotates pod before controller start to accessNodeStatus
- in emissary, controller start to accessNodeStatus before the execu

[2021-11-25 08:46] guillaumBrisard commented on #7091
@alexec Thanks
So `templateRef`, it's better if we want to compose an other `Workflow` from multiple `template` in multiple `WorkflowTemplate`
But it's impossible to merge others fields than `template`. It make sense otherwise it will be impossible to understand

But if we want to just trigger a `WorkflowTemplate` from a `CronWorkflow`, it's better to use `spec.workflowTemplateRef`

In [Workflow T

[2021-11-25 08:51] bygui86 commented on #7091
@alexec thank you for the clarification.

It's really difficult to distinguish between following concepts, but probably I got them:
- `WorkflowTemplate`, CRD to declare a template for a workflow
- `workflowTemplateRef`, reference to a WorkflowTemplate CRD
- `template`, piece of a workflow defined inside a Workflow or WorkflowTemplate (spec.templates)
- `templateRef`, reference to a template

In th

[2021-11-25 11:17] paulaylingdev opened #7278 "Java SDK - Streaming requests fail"
## Summary

What happened/what you expected to happen?

When using the Java SDK `v3.2.4` doing a streaming request such as `WorkflowService.WatchWorkflows` will never return successfully and always throws an exception. The expectation is the SDK can successfully return a result.

What version of Argo Workflows are you running?

`v3.2.4`

## Diagnostics

Either a workflow that reproduces the bug, o

[2021-11-25 12:08] guillaumBrisard opened #7279 "POD_NAMES v2 as Default"
# Summary

Set POD_NAMES v2 as default.
Now it seems fixed
[7221](https://github.com/argoproj/argo-workflows/issues/7221)
[7007](https://github.com/argoproj/argo-workflows/issues/7007)

Firsts proposals
[1319](https://github.com/argoproj/argo-workflows/issues/1319)
[6712](https://github.com/argoproj/argo-workflows/pull/6712)

# Use Cases

It's just better, specially for tracing, debugging

---

**

[2021-11-25 16:31] guillaumBrisard opened #7282 "Wrong version in manisfest"
## Summary

I used kustomize to install Argo
https://github.com/argoproj/argo-workflows/tree/master/manifests#kustomize

With 3.0, the tag version was correct
https://github.com/argoproj/argo-workflows/blob/v3.0.10/manifests/base/workflow-controller/workflow-controller-deployment.yaml#L17

After it was wrong, always latest's tag
https://github.com/argoproj/argo-workflows/blob/v3.2.4/manifests/base

[2021-11-25 16:56] guillaumBrisard opened #7285 "Add empty env for argo-server and argo-workflow Deployment"
# Summary

Add empty `env` field for argo-server Deployment and workflow-controller Deployment
[code]
Same thing for workflow-controller

# Use Cases

With kustomize, apply a json patch without overwrite all the env.
Righ now I need to add env before adding my envs (like POD_NAMES),
If you decide to add some default envs, we will overwrite it if we don't have close look.

---

**Message from the m

[2021-11-26 07:32] nityanandagohain opened #7286 "Pass SSO labels to workflows from conworkflows."
# Summary

When argo server is running in SSO mode, and user creates a cronworkflow labels about the user is added to the resource. eg:- `creator-email` , `creator` .

Now when a cronworkflow is triggered this labels should be propagated to the workflow.

# Use Cases

When would you use this?
We have logic in our workflows where we utilize the labels to identify the user through which this workflo

[2021-11-26 07:58] louisnow commented on #7286
Runtime generated workflows also don't get the `creator-email` , `creator`, etc labels attached.

[2021-11-26 09:13] louisnow opened #7287 "Expressions don't work when creating a runtime generated workflow"
# Summary
Inside the `resource.manifest` expressions don't seem to work.
[code]

I currently get this error
[code]

It works fine when I use the same sprig expression in a regular template input parameter.

# Use Cases

When would you use this?
While running is SSO mode, sometime the creator label is not always present. I want to conditionally interpolate it to an empty string if it isn't there.
h

[2021-11-26 13:11] prein commented on #6578
Just for those who land here in the future. It is likely caused by getting a (html) reply from a different endpoint - a proxy for example, if your provider is behind a proxy. Can be verified with `curl`.

[2021-11-26 15:27] simster7 commented on #7282
@sarabala1979 There is an error in the release process?

[2021-11-26 15:29] simster7 commented on #7287
Try wrapping the `{{ ... }}` expression in quotes: `"{{ ... }}"`?

[2021-11-26 15:35] louisnow commented on #7287
Tried that, no luck.

[2021-11-26 15:45] #7287 closed

[2021-11-26 17:01] louisnow opened #7288 "Workflow labels for runtime generated workflows seems be nil at the start but UI says otherwise"
## Summary

What happened/what you expected to happen?
When creating a workflow at runtime, `workflow.labels` exists according to the UI but the dig expression fails.

Whalesay template with the DIG expression.
[code]

Ref Runner Template that has no labels in the created workflow
[code]
The output after running this is
[code]

I can fix it by changing the expression to
[code]
I don't get why I ne

[2021-11-26 17:29] scravy opened #7289 "Expose workflow.labels and workflow.annotations as JSON string"
# Summary

It is possible to access individual parameters, labels, or annotations from within a workflow via

- `workflow.parameters.<NAME>`,
- `workflow.labels.<NAME>`,
-  and `workflow.annotations.<NAME>` respectively.

It is also possible to get all parameters as a JSON string:

- `workflow.parameters`

It would be great if also labels and annotations could be exposed that way:

- `workflow.lab

[2021-11-27 09:19] frimuchkov opened #7290 "Support retry stratagy for containers in containerSet"
# Summary

Support retry strategy for containers:
[code]
# Use Cases

In huge container sets, we have to retry every container, not the container set
<img width="525" alt="image" src="https://user-images.githubusercontent.com/19934346/143675550-0a51629b-08f9-47b9-ba82-ee5cd498ce21.png">
---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals

[2021-11-27 18:43] NikeNano commented on #7201
I would be happy to help out with this @simster7 if you haven't started the work?

[2021-11-27 22:37] simster7 commented on #7111
Will close for now?

[2021-11-27 22:37] #7111 closed

[2021-11-27 22:42] simster7 commented on #7201
Actually, I'll take this one. I have some ideas with how to fit this request into a bigger feature I'm thinking about

[2021-11-27 22:51] simster7 opened #7291 "Circuit Breakers for CronWorkflows"
# Summary

What change needs making?

Implement a circuit breaker for cron workflows. For example, if a workflow has had multiple failures in a row, pause the workflow automatically. Or pause the workflow after a certain number of executions (https://github.com/argoproj/argo-workflows/issues/7201).

Either an expression:
[code]

Or a field:
[code]

# Use Cases

When would you use this?

Cron workf

[2021-11-27 23:05] terrytangyuan commented on #7291
Duplicate of https://github.com/argoproj/argo-workflows/issues/5659?

[2021-11-28 04:28] kennytrytek commented on #6053
Here's a simple example to reproduce this issue:
[code]

Submit the workflow:
[code]

Log entry from the controller:
[code]

This is certainly an unexpected behavior, since it seems like there is code added to make these metrics resolvable:
https://github.com/argoproj/argo-workflows/blob/v3.2.4/workflow/controller/steps.go#L541-L545
[code]

Interestingly, if I change the metrics section to look li

[2021-11-28 08:19] NikeNano commented on #7271
I can take a look at this if we want to support this feature @alexec? Makes sense to me.

[2021-11-28 18:47] NikeNano commented on #4014
Is this still relevant @alexec, I would be happy to take a look at this!

[2021-11-28 18:50] NikeNano commented on #4014
/assign

[2021-11-28 21:50] NikeNano commented on #7290
As I understand the current implementation of the container object in the `containerSet ` is based upon the `"k8s.io/api/core/v1"`, https://github.com/argoproj/argo-workflows/blob/312f6463b47588a99050533911ab7e1a9c112136/pkg/apis/workflow/v1alpha1/container_set_template_types.go#L100

This would make it tricky to allow setting retry strategies on individual containers. Would it be enougth to have

[2021-11-29 09:49] nityanandagohain commented on #7286
If I try to pass the labels using workflow metadata
eg:-
[code]

It throws this error.

<img width="1281" alt="image" src="https://user-images.githubusercontent.com/26831659/143845338-3947face-be75-40c9-b6d8-0f2ac461cf58.png">

[2021-11-29 09:53] 66li opened #7293 "Invalid value type in api response ['received_data']['status']"
# Summary

I tried to run the python-client example. used kubectl port-forward to forward the workflow port to the local. When I ran the following code, the workflow was successfully created but I got some errors.

[code]

[code]

[2021-11-29 11:39] #6179 closed

[2021-11-29 11:39] #6607 closed

[2021-11-29 11:40] #6547 closed

[2021-11-29 11:40] #6402 closed

[2021-11-29 11:40] #6737 closed

[2021-11-29 11:40] #6292 closed

[2021-11-29 11:40] #6625 closed

[2021-11-29 11:40] #6778 closed

[2021-11-29 11:40] #5665 closed

[2021-11-29 12:43] terrytangyuan commented on #7293
Thanks for reporting. Yes this is a known issue and I haven't got a chance to fix it yet. Feel free to submit a PR if you can locate that root cause.

[2021-11-29 14:01] nielstenboom opened #7294 "Workflow parameter not passable anymore after changing default entrypoint"
## Summary

Previously you could submit a workflowtemplate in the UI by passing a parameter manually, it would not matter which entrypoint of the workflow you chose. Now in version v3.2.4, you can only submit a parameter to the workflow if you choose the default entrypoint.

Default entrypoint -> able to pass the workflow parameter
![image](https://user-images.githubusercontent.com/6594531/1438808

[2021-11-29 15:45] guillaumBrisard commented on #7221
It doesn't work for me
Our Workflow triggered with a CronWorkflow
[code]

Our Workflow Controller
[code]

Still no log in the UI

[2021-11-29 16:24] simster7 commented on #7291
More like an extension

[2021-11-29 16:51] sarabala1979 commented on #7294
I think this PR is causing this validation https://github.com/argoproj/argo-workflows/pull/5319
@alexec Can we pre-select the `entrypoint` from workflowTemplate?

[2021-11-29 16:52] sarabala1979 commented on #7289
@scravy it is a good enhancement. Do you. like to submit the PR for this enhancement?

[2021-11-29 16:55] terrytangyuan commented on #7293
Possibly related issues with OpenAPI generator:
* https://github.com/OpenAPITools/openapi-generator/issues/8743
* https://github.com/OpenAPITools/openapi-generator/issues/8771

[2021-11-29 17:00] sarabala1979 commented on #7288
`workflow.labels` variable is not supported.  there is enhancement Issue https://github.com/argoproj/argo-workflows/issues/7289

[2021-11-29 17:08] sarabala1979 commented on #7282
you can get it from release page.  https://github.com/argoproj/argo-workflows/releases/download/v3.2.4/install.yaml

[2021-11-29 17:13] sarabala1979 commented on #7275
@yoshina9a it is a wrong way to refer the `parameter`
[code]

[2021-11-29 17:28] simster7 commented on #7291
@alexec Any thoughts on the spec proposal or this feature overall? Want to make sure we are all aligned before implementation begins.

[2021-11-29 17:37] scravy commented on #7289
@sarabala1979 Thank you for pointing out the appropriate place in the code. I'll give it a try over the weekend!

[2021-11-29 17:42] sarabala1979 commented on #7294
@kennytrytek  Can you confirm this issue introduced from your PR?

[2021-11-29 17:43] #7282 closed

[2021-11-29 17:46] sarabala1979 commented on #7269
@simster7 Do you like to take this?

[2021-11-29 17:47] simster7 commented on #7269
@simster7 Yes, I have some fixes on this already on the queue. I'll get them in today

[2021-11-29 18:22] alexec commented on #7291
I think the concept is fine. I'm not sure many people are asking for it, so I don't see the core team working on it soon.

[2021-11-29 18:28] #6971 closed

[2021-11-29 18:29] alexec commented on #4014
This is not a popular proposal, so I don't think the core team will implement this soon. If you're looking for something popular to work on, you can find issues with many thumbs-up.

[2021-11-29 18:42] alexec commented on #7271
We use an informer (i.e. in-memory) to lookup live workflows. That should be instantaneous.

Is the problem here is that the database call to requests a recent workflow is slow? It should be fast, using database indexes etc.

I think it is probably because we make three 3 list calls, each of which should return 0 or 1 results:

https://github.com/argoproj/argo-workflows/blob/4e450e250168e6b4d51a12

[2021-11-29 18:44] alexec commented on #7091
@bygui86 I've failed to repro your issue. So maybe you have some special set-up. Could you set-up time via https://bit.ly/book-30m-with-argo-team so we can debug please?

[2021-11-29 18:54] alexec commented on #7214
@Sh1ftry could we set-up a debugging session please?

https://bit.ly/book-30m-with-argo-team

[2021-11-29 18:56] alexec commented on #7278
I think there might be two problems here:

* Your server return 500 error.
* Maybe SDK does not support steaming.

Could you please attach the argo-server logs detailing the 500 error so we can understand more?

[2021-11-29 20:28] JPZ13 commented on #7221
@guillaumBrisard - I'll take a look and see if I can repro

[2021-11-29 21:40] NikeNano commented on #4014
Will take a look at the more popular issues to start with, thanks!

[2021-11-29 21:49] guillaumBrisard commented on #7282
So now, we have to update the version according to your release version when we use your manifest before kustomization ?
If so, it will be good to add it to this doc
https://github.com/argoproj/argo-workflows/tree/master/manifests#kustomize

[2021-11-29 23:04] kennytrytek commented on #7294
@sarabala1979 correct, it is behaving as expected. The `cbct-evaluation-pipeline` template does not have any inputs, so it doesn't make sense to pass inputs to it.

[2021-11-30 08:00] Sh1ftry commented on #7214
I scheduled it for 7pm UTC + 1 on 09.12

[2021-11-30 08:50] bygui86 commented on #7091
@alexec with pleasure, we can try to use my environment to see whether I made something weird.

Scheduled a call for the 16th Dec

[2021-11-30 09:33] nielstenboom commented on #7294
But the parameter I want to pass is a workflow parameter which I reference in multiple steps as `{{workflow.parameters.branch}}` , in an earlier version I was able to do so regardless of which template entrypoint was selected, but now that's not possible any longer. That does not seem like the intended behavior to me, I believe it should always be possible to pass a parameter that is workflow scop

[2021-11-30 15:17] kennytrytek commented on #7294
Yeah, that makes sense. I think a good solution would be to always show and allow workflow parameters as well as entrypoint-specific parameters, and merge the two parameter maps on submission.

[2021-11-30 16:27] #7059 closed

[2021-11-30 17:29] sarabala1979 commented on #7294
@nielstenboom I will close this issue. you can open new enhancement for UI change

[2021-11-30 17:29] #7294 closed

[2021-11-30 17:52] sarabala1979 commented on #7091
@bygui86  can you try on the new release? 3.1.14 or 3.2.4
@guillaumBrisard  can you create separate issue to discuss for `templateRef`?

[2021-11-30 18:10] sarabala1979 commented on #7289
@scravy if you have too many on your plate. We have a new team member. He can help with this.
Please let me know it is ok to you

[2021-11-30 18:36] terrytangyuan opened #7304 "Switch to use the new configmaps informer for retrieving configmaps"
# Summary

What change needs making?

Switch to use the new configmaps informer added in https://github.com/argoproj/argo-workflows/pull/6644 for retrieving all types of configmaps we need. Parameters loading is already using it https://github.com/argoproj/argo-workflows/pull/6662 and cache GC soon https://github.com/argoproj/argo-workflows/pull/6850.

Need to provide a migration path.

# Use Case

[2021-11-30 18:54] alexec opened #7306 "Hack Days: survey users to determine interest and what topic we should cover"
https://docs.google.com/document/d/1lTJ1EoALf9atlN4ViMtU9HtRuLspLKJsAljNnQFQtiU/edit

[2021-11-30 18:57] terrytangyuan commented on #7130
@flaviuvadan will be working on this.

[2021-11-30 18:57] alexec opened #7307 "Mentoring"
We would like to support new contributors with mentoring. This would probably need to be lead by the main contributors:

@sarabala1979 @alexec @terrytangyuan etc

[2021-11-30 19:16] scravy commented on #7289
Sure, that's okay.

[2021-11-30 19:36] simster7 commented on #7307
Also happy to help here

[2021-11-30 20:16] terrytangyuan commented on #7307
Happy to help mentor new contributors. Some programs to consider unless we are organizing this ourselves:
* https://github.com/cncf/mentoring
* https://summerofcode.withgoogle.com/archive/

[2021-11-30 20:25] alexec commented on #7307
It seems we have some summer programs for newer programmers to learn to code. I wonder what our scope should be?

I was initially planning on a short term mentorship, i.e the mentor helps the mentee get started with coding, learning the code base, fixing and issue or implementing a feature, getting it reviewed and approved and merged.

Maybe there are other interpretations.

[2021-11-30 20:27] alexec commented on #7307
https://jisajournal.springeropen.com/articles/10.1186/s13174-021-00140-z

[2021-11-30 20:29] lstolcman opened #7309 "UI: Not intuitive parameter helper text when submitting workflows"
# Summary

The helper text of text inputs in "submit workflow" UI are not intuitive. The user does not know which parameter is being edited. See example for a better understanding:

![obraz](https://user-images.githubusercontent.com/4583553/144122962-ed2dd0ac-bf3d-4eb0-9cd6-b44e0c5aea4d.png)

# Use Cases

Everytime the user is submitting the workflow, and making necessary changes in the parameters

[2021-11-30 20:36] hjorth opened #7310 "Daemon steps are not GC collected."
## Summary

What happened/what you expected to happen?

Using daemon step like nginx in example (taking from argo-workflow/examples/daemon-nginx.yaml) - doesn't work with pod GC,
it stays in completed state - and is not deleted until workflow is deleted.

Using a PVC with the daemon step, will therefore not terminate the PVC either.

I expect all the pods to be GC'ed correctly.

What version of Ar

[2021-11-30 20:56] nielstenboom opened #7311 "Allow to always pass workflow scoped variable via UI"
# Summary

Previously you could submit a workflowtemplate in the UI by passing a parameter manually, it would not matter which entrypoint of the workflow you chose. Now you can only submit a parameter to the workflow if you choose the default entrypoint. If the parameter is workflow scoped, then it should be always possible to pass it regardless of which entrypoint you choose.

Default entrypoint

[2021-11-30 21:19] louisnow commented on #7286
`creator` label is also not passed during a resubmit of a workflow.
`creator-email` however is passed during a resubmit

[2021-11-30 22:13] #5406 closed

[2021-11-30 23:09] doubliez commented on #4508
I just ran into this bug as well. For now I can work around it by manually deduping the values (which are unique in my case).

[2021-12-01 00:30] alexec opened #7312 "`LabelValueTypeConfigMapParameter` is unused, why?"
Why is this new variable unused?

[2021-12-01 00:36] terrytangyuan commented on #7312
I think we need to add additional check in https://github.com/terrytangyuan/argo-workflows/blob/c2bcfb1fff231ae82e0f904691a76bda330c3236/util/configmap.go#L11 to make sure we are only able to load parameters from configmaps that have this label.

[2021-12-01 00:50] JYlag opened #7313 "Ability to set shareProcessNamespace: true in containerSetTemplate Argo WFs (multi-container pods)"
# Summary

I have been messing around with containerSetTemplates. It is a useful feature so far! I think something that would make this feature more flexible is allowing to share process namespace within the pod like you can a regular Kubernetes pod.

# Use Cases

For my situation:
I have a multi-container step in an argo workflow where I am doing some computational work. I need to be able to watc

[2021-12-01 05:53] #7139 closed

[2021-12-01 09:49] mikutas opened #7315 "Retrying failed workflow using WorkflowTemplate get stuck in Running phase of the workflow and Pending phase of the node if POD_NAMES=v2"
## Summary

What happened/what you expected to happen?

When retrying failed workflow, the old pod is not deleted and the new pod is not created if POD_NAMES=v2.
The UI tells the workflow's phases is Running and the node's phase is Pending. And nothing will change therefrom.

![image](https://user-images.githubusercontent.com/23391543/144207736-241a7f22-3495-4c80-ad4e-e5542c4a9340.png)

What versi

[2021-12-01 14:17] softwarebloat commented on #7307
Yes that was exactly my point when asking on slack and I would love that!
But maybe there are other needs too?

[2021-12-01 15:31] ikerreyes opened #7320 "Workflow events not working on v3.2"
## Summary

The events of a workflow lead to crash page or infinite loading.

What happened/what you expected to happen?

A workflow is executed and you go to the page which shows the flow diagram, you click on one of the base nodes, the "Summary" tab has at the end a "Events" button
![image](https://user-images.githubusercontent.com/24312587/144261160-2f943038-25db-49b1-90fd-7a05d35fd8bb.png).
Wh

[2021-12-01 16:08] #7312 closed

[2021-12-01 16:24] alexec commented on #7310
I think this is probable fixed by #7176 . Can you try `:latest`?

[2021-12-01 16:25] alexec commented on #7313
This can probably be done using `podSpecPatch` today, but that is a work-around.

We could add a `sharedProcessNamespace` here:

https://github.com/argoproj/argo-workflows/blob/cf78ff6d76b09c4002edbc28048c67335bd1d00f/pkg/apis/workflow/v1alpha1/container_set_template_types.go#L9

Would you like to submit a PR?

[2021-12-01 16:50] terrytangyuan commented on #7307
Just to clarify. The students in those programs may not be new programmers. Although they maybe new to open source contributions. For Google Summer of Code (GSoC), for example, it's up to the project maintainers to decide whether to provide a few project ideas and then the students (applicants) will be drafting proposals either based on those ideas or their own ideas. Upon completion of project by

[2021-12-01 18:04] alexec commented on #7243
@sarabala1979 I'm going to pick this up:

1. I have a clear idea of what changes I want
2. It'll take about 1h for me to do.
3. This is blocker for the plugins.

[2021-12-01 19:11] alexec opened #7323 "`AgentSuite` is skipped and is failing anyway"
@simster7 this appears to be skipped?

[2021-12-01 19:13] alexec commented on #7323
This test is broken.

[2021-12-01 19:14] sarabala1979 commented on #7289
@dpadhiar Please take this issue

[2021-12-01 19:34] terrytangyuan commented on #7307
My opinion is very biased since I've done mentoring three times so it would be great to hear from others too.

Argo will first need to apply to be a mentor organization and wait until accepted. The timeline is still TBD: https://developers.google.com/open-source/gsoc/timeline.

[2021-12-01 20:52] simster7 commented on #7323
Will look

[2021-12-01 21:01] #7269 closed

[2021-12-01 23:44] alexec commented on #6889
I don't know who's workflow this is. Don't have permission.

[2021-12-01 23:44] #6889 closed

[2021-12-02 01:39] isubasinghe commented on #2026
Happy to submit a PR for the above @alexec

[2021-12-02 06:36] Boolman opened #7326 "UI: choose which workflowtemplates and/or entrypoints to display per user"
# Summary

I would like to be able to choose which workflowtemplates to display for the user in the UI and a bonus would also the templates/entrypoints they can run.

# Use Cases

I would like to force user to 'safe' templates, so they can't run lower level templates which doesnt do any input validation/sanitation

---

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with

[2021-12-02 12:50] prein commented on #2967
For me this started happening after enabling sso rbac

[2021-12-02 14:41] terrytangyuan commented on #7293
cc @flaviuvadan since you have fixed a similar issue in Hera.

[2021-12-02 14:51] terrytangyuan opened #7329 "Add integration tests for the generated Python SDK"
# Summary

We currently test the changes manually but we need to add the tests in the CI, especially before releasing.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2021-12-02 15:46] crenshaw-dev opened #7330 "docs: Link to docs/security.md from root security.md"
# Summary

There needs to be a link to docs/security.md from the root-level security.md.

# Use Cases

This is just to decrease friction when users are trying to find in-depth product security information.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2021-12-02 16:32] HRusby-Cheyne opened #7332 "Runtime Error when processing a node which has a RetryStrategy, a Looping Mechanism and an Output Parameter"
## Summary

**What happened/what you expected to happen?**
Whilst processing a DagTask (also replicated as a Step) which has a withItems field, a retryStrategy on the underlying template and an output parameter (output artifacts do _not_ cause an issue). Should the RetryStrategy be executed and at least one iteration fails prior to succeeding then a go panic will be thrown and the kubernetes pods

[2021-12-02 16:32] christopheblin opened #7333 "archiveTTL not respected ?"
## Summary

What happened/what you expected to happen?

In the configmap, I set persisntece.archiveTTL to 60d (the line was previously commented in my configmap)

I then restarted the pods with `k rollout restart deployment workflow-controller` and `k rollout restart deploy argo-server`

However, in my db, I still have rows in argo_archived_workflows older than 60d and I still have log files in my

[2021-12-02 19:09] #7199 closed

[2021-12-02 19:09] #7330 closed

[2021-12-02 19:11] alexec commented on #7333
Can you please look at the section of the controller logs does archiving? Maybe there is an error there?

[2021-12-02 20:24] alexec commented on #7290
This is a popular enhancement.

The key challenge is that retry with the emissary will be fundamentally different to standard retry. Why? Normal retry runs a new pod, but we cannot run a new pod, we'd need to run a new container, for the retry. But we cannot do that. So the retry cannot appear in the DAG (for example).

But, the `emissary` binary could implement the retry policy itself here:

http

[2021-12-02 20:25] crenshaw-dev commented on #5197
Looks like another user was bit by this. Maybe a CLI warning when the label is present? https://cloud-native.slack.com/archives/C01QW9QSSSK/p1638462190010400

[2021-12-02 20:28] jccarte commented on #6379
I seem to still be hitting this issue in 3.2.4.  I have a templateRef in a workflow that points to a template that has multiple steps. In 3.1.X (up to 3.1.15) this workflow runs fine and the dependant steps start and finish. In 3.2.4 the dependant step is never started.

workflow:
...
  templates:
  - name: main
    dag:
      tasks:
        - name: run-tests
          when: "{{tasks.load-manifest

[2021-12-02 21:13] NikeNano commented on #7290
And the reason for that we can not run a new container is because we can not add a container to a pod? Asking to learn :)

Why would there only be one set of logs? Wouldn't there be one set per retry?

[2021-12-02 21:54] kimsterv opened #7334 "Add support for signing and verifying container images with cosign"
# Summary

[Sigstore](https://sigstore.dev) is a project under [openssf.org](https://openssf.org/). It provides an elegant solution for signing and verifying software to ensure artifacts haven't been tampered with along the supply chain. There is a sub-project in sigstore called [cosign](https://github.com/sigstore/cosign) that makes signing and verifying containers super simple. It would be aweso

[2021-12-02 22:44] alexec commented on #7290
Only one pod, one container (even thought the process is retried), so one set of logs. These logs could be demarcated by some conventional text:

[code]

This shows me more limitations. If the process deletes the inputs, they are gone, emissary will load them again, because that is job of the `init` container, but that won't run again. Any dirty temporary directories are left dirty.

@frimuchkov d

[2021-12-02 23:38] isubasinghe commented on #3672
If you do not care about building `argoexec` locally, you could pull it in.
`eval $(minikube -p minikube docker-env)`
`docker pull quay.io/argoproj/argoexec:latest`

[2021-12-02 23:53] ebr opened #7335 "Metric duration gauge keeps incrementing for 'Pending' status, until the workflow is deleted"
## Summary

We added Prometheus _realtime_ gauges to templates with value of `{{duration}}`, and labeled with `{{status}}`. We were surprised to see that the value of `Pending` step duration keeps increasing even after the step has transitioned into Running and Succeeded/Failed states, and beyond workflow completion. The only way to stop this metric from being emitted is to delete the workflow.

A

[2021-12-03 05:55] frimuchkov commented on #7290
No, I assume, these limitations are not significant

[2021-12-03 08:17] zcerhub opened #7336 "When configuring input.artifact pull from S3 in init container, the first pull failed due to network reasons. The following 5 retries were reported that fileName is a directory.i think it is when calling minioClient's FGetObject method because the TMP folder already existed locally."
## Summary
When configuring input.artifact  pull from S3 in init container, the first pull failed due to network reasons. The following 5 retries were reported that  fileName is a directory.i think it is  when calling minioClient's FGetObject method because the TMP folder already existed locally.
What happened/what you expected to happen?
Subsequent retries succeed after the first failure
What ver

[2021-12-03 08:23] christopheblin commented on #7333
@alexec The keywords "archive" & "archiving" do not appear in the workflow-controller logs

The only ting I can see is a block of 6
[code]

where xxx are the names of my 6 cron workflows

What should I see in the logs ?

[2021-12-03 09:06] christopheblin commented on #7333
@alexec could you also give me a pointer about the cleaning of logs (i.e if the archiveTTL only delete archived workflows in the db, I need to create a routine to delete the log files in the artifact repository because my main problem is the fact that the artifactRepository contains 1 directory per workflow and so I have 30K directories...)

[2021-12-03 10:02] lianxmfor commented on #6643
Thanks!

[2021-12-03 12:47] vikulaggarwal opened #7337 "workflow-controller makes k8s calls to list cronworkflow"
### Discussed in https://github.com/argoproj/argo-workflows/discussions/7327

<div type='discussions-op-text'>

<sup>Originally posted by **vikulaggarwal** December  2, 2021</sup>
I'm using argo workflows version 2.12.13

In the workflow controller logs, I can see log statements like the following:

`E1130 05:17:38.084433       1 reflector.go:153] pkg/mod/k8s.io/client-go@v0.17.8/tools/cache/refle

[2021-12-03 16:34] christopheblin commented on #7333
@alexec ok, it seems there is some "cron" somewhere because now I have this in the logs

[code]

So the only thing to know is : did it also clean the logs in the artifactRepository ?

[2021-12-03 17:22] alexec commented on #7333
It will not clean up your logs. You must do that yourself.

[2021-12-03 17:24] alexec commented on #7337
v2.12 is no longer supported. Please try with a newer version.

[2021-12-03 18:19] simster7 commented on #7335
Hmm... this is going to be tricky. I think the best answer right now is that you shouldn't use `{{status}}` on real time duration metrics. The reason why is mostly implementation: we currently don't record timings between transition specific states (e.g. `Pending` -> `Running`). The only one we record is when a workflow finishes (`Status.FinishedAt`) and compare it to when it started (`Status.Star

[2021-12-03 22:49] ebr commented on #7335
The real reason I started this experiment was to see if I can identify any workflow nodes that are currently in `Suspended` state, so that the user is given the opportunity to resolve the root cause of some error condition before resuming the workflow. I didn't find a way to do this, because I don't think the `Suspended` state is recorded anywhere. (I can open a separate issue about this, unless I

[2021-12-03 23:21] bygui86 commented on #7091
@sarabala1979 I will try in the next couple of weeks

[2021-12-04 02:51] cyx commented on #6750
@PrashantRaj18198 are you still working on this?

[2021-12-05 08:46] krrrr38 commented on #7309
I want this feature, too. Probably a `description` field might be better and show like a following.

![image](https://user-images.githubusercontent.com/915731/144739811-288d2a4c-2b0a-4b0c-b190-19863332c91b.png)

[2021-12-06 12:38] diazGT94 commented on #7224
@alexec  I'm using kubernetes version 1.21 with the aws eks service.

[2021-12-06 13:00] tczhao opened #7344 "additional argo cron command, argo cron replace"
# Summary

maybe argo cron can introduce an additional replace command

`argo cron replace wf1`

so that users can update cron
- without the need to figure out patching `kubectl patch`
- nor delete existing cronjobs `argo cron delete` (removes all the jobs and pods it created and stops it from creating additional jobs)
- while having the argo validation before updating the cron resource

---

**Me

[2021-12-06 13:49] Dymanik commented on #7224
I'm having a similir issue on random nodes on our workflows, using argo-workflows 3.1.3 and kubernetes 1.21.5-gke

[2021-12-06 14:01] guillaumBrisard commented on #7091
@sarabala1979 thanks, but it's fine for me now with the below explanation

[2021-12-06 14:01] guillaumBrisard commented on #7091
@sarabala1979 thanks, but it's fine for me now with the below explanation

[2021-12-06 14:10] johnbuluba commented on #7273
@sarabala1979 Thanks a lot for your response!

Looking at the [docs](https://argoproj.github.io/argo-workflows/sidecar-injection/) and the related issue ##1282 there is nothing indicating that resource templates are not working. Is there a doc or issue that documents what will work and what not?

This didn't solve the issue. Adding this line resulted with the `main` container exiting with error:
[

[2021-12-06 17:59] #7243 closed

[2021-12-06 18:04] alexec commented on #7224
Please can you make sure you're running the latest version (v3.2). If the problem persists, please raise a new issue with a workflow we can run to reproduce the issues and any logs.

[2021-12-06 18:05] #7217 closed

[2021-12-06 18:09] sarabala1979 commented on #7332
@HRusby-Cheyne you are correct. `processAggregateNodeOutputs` should only aggregate success nodes outputs. here parameter's value. is nil that's why the controller is panic.
We can add the `node.phase` before aggregating

Do you like to submit PR?

[2021-12-06 19:05] #7081 closed

[2021-12-06 21:48] habinaya28 commented on #1664
Can someone provide an example as to how to add multiple service account names in a workflow template?

[2021-12-06 22:59] drewmassey commented on #7221
@AchimBursian when you updated to 3.2.4 and you said it worked, what steps did you take? We have upgraded `argoexec`, `argocli`, and `workflow-controller` all to 3.2.4 and haven't made this go away. This was with `POD_NAMES` as v1.