[2020-12-17 14:32] aviklai commented on #3551
@sarabala1979 I can't for now because our production works with 2.9.3.
I will try to upgrade and let you know.

[2020-12-17 16:21] dylanhellems commented on #4400
@simster7 Working for me, thanks!

[2020-12-17 16:30] alexec commented on #4752
[code]

I thinking new formatting things could be added:

[code]

You'd need to modify this func to support it:

https://github.com/argoproj/argo/blob/master/ui/src/app/workflows/components/workflow-details/workflow-details.tsx#L350

[2020-12-17 17:42] tomgoren commented on #4634
With `:fix-ttl` (still with `--workflow-ttl-workers` at 16) we observed the following:

- Initially (for the first ~2.5 minutes) the `workflow_ttl_queue` and Succeeded count stayed very low, but then again began to climb
- Following that the results were much the same as before
- We are still seeing an accumulation of pods lingering in the Completed state

![Screen Shot 2020-12-17 at 12 31 40 PM](

[2020-12-17 18:11] simster7 opened #4764 "Cherry-pick for v2.12.0"
* [ ] Alex Collins: refactor(controller): Enhanced pod clean-up scalability (#4728) (69ce2acfb)
* [ ] Alex Collins: test: Improved e2e test robustness (#4758) (549585f16)
* [ ] Simon Behar: feat: Add a minimal prometheus server manifest (#4687) (9c4d735a9)
* [ ] Alex Collins: fix(ui): Remove unused Heebo files. Fixes #4730 (#4739) (625e3ce26)
* [x] Alex Collins: fix(controller): Fixes resource ver

[2020-12-17 18:13] alexec commented on #4764
`fix(controller): Requeue when the pod was deleted. Fixes #4719 (#4742) (300db5e)` only need to be cherry-picked if the original was already cherry-picked. You'll know if that's the case because the cherry-pick will conflict.

[2020-12-17 18:13] alexec commented on #4764
Done.

[2020-12-17 18:21] #4756 closed

[2020-12-17 18:31] wreed4 opened #4765 "Upgrade CRDs to apiextensions.k8s.io/v1"
# Summary

The CRD apiVersion needs to be upgraded for 1.16.  Having them on the old version breaks Helm linting:
[code]

# Use Cases

Normally this doesn't matter, but helm linting breaking prevents us from using these in our helm charts as we want to lint our other resources.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-12-17 18:43] alexec commented on #2679
`argoproj/argoexec:auto-emptydir` and `argoproj/workflow-controller:auto-emptydir` available for anyone who wants to test this.

[2020-12-17 19:37] simster7 commented on #4764
Released

[2020-12-17 19:37] #4764 closed

[2020-12-17 19:51] alexec commented on #4754
This looks like the executor wait container was not able to patch the pod to save the outputs. Are you running on a service mesh, e.g. Istio? That can interfere with talking to the API server.

[2020-12-17 19:54] alexec commented on #4765
We're using `controller-tools v0.2.9` and I think we should upgrade to v0.4.1. Would you like to submit a PR?

`v1beta1` will be deprecated in Kubernetes 1.22, but Helm is important too.

[2020-12-17 20:49] StephenWithPH opened #4767 "valid podSpecPatch in Workflow is invalid in WorkflowTemplate"
## Summary

For this `Workflow` which includes a podSpecPatch:

[code]

I am able to submit it, and it runs successfully.

When I convert it to a `WorkflowTemplate`:

[code]

... submit that `WorkflowTemplate`, and then create a workflow using the CLI `argo submit --from WorkflowTemplate/hello-world`, the workflow fails with the error message: `Invalid PodSpecPatch String`.

This is likely coming

[2020-12-17 20:51] idsvandermolen commented on #4754
No we’re not using Istio or something. Just regular GKE cluster. What kind of access is required to patch the pod?

[2020-12-17 21:16] sarabala1979 commented on #4767
kind: WorkflowTemplate
  metadata:
    name: hello-world
  spec:
    entrypoint: whalesay
    podSpecPatch: '{"tolerations":[{"effect":"NoSchedule", "key":"foo.io/bar", "operator": "Exists"}]}'
    templates:
    - name: whalesay
      container:
        image: docker/whalesay:latest
        command: [cowsay]
        args: ["hello world"]

`podSpecPatch: '{"tolerations":[{"effect":"NoSchedule", "k

[2020-12-17 21:32] StephenWithPH commented on #4767
@sarabala1979 ... that fixed it. Thank you for the quick response.

Does this imply that `podSpecPatch` as listed under https://argoproj.github.io/argo/fields/#workflowtemplatespec and https://argoproj.github.io/argo/fields/#workflowspec is deprecated? So only its use under https://argoproj.github.io/argo/fields/#template is valid?

[2020-12-17 23:45] seanmarpo commented on #4621
Similar to @matt-carr, was surprised this didn't work since there was a specific example for adding an exit handler to individual steps. I would have expected the exit handler to have access to the current step's context. Thanks for raising this

[2020-12-18 00:30] sarabala1979 commented on #4761
It is very hard to reproduce this issue. it is not consistent. I was able to reproduce 2 times in my local env with k3d. I got one more different error also after that I couldn't reproduce it.

[code]

[2020-12-18 00:59] alexec opened #4769 "Embeddable UI widgets"
Create a set of widgets to allow users to embed them into their apps.

* Animated workflow graph.
* Workflow status and progress badges.

Themeable?

[2020-12-18 01:02] sarabala1979 commented on #4767
podSpecPatch is only under https://argoproj.github.io/argo/fields/#template  valid

[2020-12-18 01:23] StephenWithPH commented on #4767
@sarabala1979 I opened a docs PR to help save someone else quite a bit of frustration: https://github.com/argoproj/argo/pull/4770

[2020-12-18 01:23] #4767 closed

[2020-12-18 03:12] max-sixty opened #4771 "v2.12.1 manifests use v2.12.0-rc6 image"
## Summary

Currently the most recent tag — v2.12.1 — has manifests which use v2.12.0-rc6 images:
https://github.com/argoproj/argo/blob/v2.12.1/manifests/base/argo-server/argo-server-deployment.yaml#L17

Not sure what the process is for updating these — is it manual? I guess a PR isn't that helpful as the tag is unlikely to change?

**Message from the maintainers**:

Impacted by this bug? Give it

[2020-12-18 08:35] zen-xu commented on #4710
ref  #4017
I added the following annotation to the ingress rule config for Argo server will fix it
[code]

[2020-12-18 08:35] #4710 closed

[2020-12-18 09:57] Trojan295 opened #4772 "Unable to resolve global artifacts created in nested workflows"
## Summary

I try to create a workflow with nested workflows, which export global artifacts in some steps. These global artifacts are then used as `arguments` in steps in the entrypoint workflow.

In case the global artifacts are created in a nested workflow at depth 2 or more, then Argo fails the workflow validation and does not start the workflow:
[code]

I believe it's a bug, as global artifact

[2020-12-18 09:58] idsvandermolen commented on #4754
I tested on a different GKE cluster with same version and similar setup and the WF does work there. After some more investigation we discovered the other cluster has a test installation of Vault + Consul. After deleting that test installation the WF also works on the original cluster. We suspect it has to do with Vault Agent injection, but will investigate further.

[2020-12-18 10:39] idsvandermolen commented on #4754
We have deduced the issue was caused by Vault Agent injection. Changing this setting in the Vault helm chart:
[code]
Made the Argo WF work again. I'm not sure exactly how the Agent Injector interferes, didn't notice any sidecar containers. We will try to find more details and report here if we find it.

[2020-12-18 13:49] idsvandermolen commented on #4754
We suspect the Vault Agent Injector applies this PodSecurityPolicy https://github.com/catawiki/cw-vault/blob/master/vault-0.7.0/vault/templates/injector-psp.yaml to the WF containers. This might block the operations required for the `wait` container to finish the WF.

[2020-12-18 17:41] #4718 closed

[2020-12-18 17:41] #2637 closed

[2020-12-18 17:49] alexec commented on #4771
It is meant to be automatic with a manual verification step.

[2020-12-18 17:54] alexec commented on #4771
This is broken

[2020-12-18 18:11] helmus opened #4773 "Only fraction of cronjob runs are showing in workflow timeline"
Only a fraction of our cron workflows show in the workflow timeline:

https://argo.curation-prod-usw2.iks.a.intuit.com/workflows/data-curation-pipeline-runtime-usw2-prd-prd

Please advise on how we can get all workflows to show, this did not occur in our e2e environment

[2020-12-18 18:16] alexec opened #4774 "Cannot publish Java SDK with v2.12"
[code]

[2020-12-18 18:41] alexec commented on #2679
I'm going to wait for user testing before proceeding.

[2020-12-18 19:01] vladlosev commented on #4565
We can confirm the issue gone in our runs on a build off the commit https://github.com/argoproj/argo/commit/625e3ce265e17df9315231e82e9a346aba400b14 in master.

[2020-12-18 19:18] max-sixty commented on #4771
Fixed based on https://github.com/argoproj/argo/blob/v2.12.2/manifests/base/argo-server/argo-server-deployment.yaml#L17

Thank you very much for this feature — it makes upgrading trivial!

[2020-12-18 21:52] alexec commented on #4767
@sarabala1979 I think this should work `spec/podSpecPatch`. See `PodSpecPatchMerge`.

[2020-12-18 21:57] alexec opened #4778 "TestDeletingRunningPod is flakey"

[2020-12-18 21:57] alexec commented on #4778
[code]

[2020-12-19 00:19] #1961 closed

[2020-12-19 00:19] #679 closed

[2020-12-19 00:24] alexec commented on #4596
Can anyone provide reliablee repro steps?

[2020-12-19 00:38] #4257 closed

[2020-12-19 02:42] MrFreezeex opened #4782 "prepending ExecutorScriptSourcePath breaks using script with args without command"
## Summary

We use a script with an `args` with `sh` (and not a `command`). Our image has an entrypoint and exec the rest of the arguments with something like `exec "$@"`.
The PR https://github.com/argoproj/argo/pull/4492 breaks these types of workflows (see the example below).

I don't know what should be the right behavior but executing the entrypoint before a script is pretty convenient. For in

[2020-12-19 19:16] michaeljohnalbers commented on #4640
I could use some help. I created a PR for this, https://github.com/argoproj/argo/pull/4783, but it's failing on the CI/Codegen check. The comment in the PR submission form says that if this happens to run `make codegen`. I run that but nothing is generated that could be included on the git commit. `git status` shows no modified files.

[2020-12-19 23:32] #4045 closed

[2020-12-20 12:11] tczhao opened #4784 "wf step should skip instead of parsing `withParam` when `when` evaluated False"
## Summary

What happened/what you expected to happen?

When `when` condition is evaluated False, wf step should skip instead of parsing `withParam `values (dag is doing it this way)

Maybe controller/steps.go should check shouldExecute(step.When) before expandStep in expandStepGroup

## Diagnostics

What Kubernetes provider are you using?

k3d

What version of Argo Workflows are you running?

mas

[2020-12-20 18:23] alexec opened #4785 "Upgrade go-client to v1.19"

[2020-12-20 18:23] alexec commented on #4785
@peterbourgon would you be interested in leading this work?

[2020-12-20 18:29] alexec opened #4786 "Change Go modules version to v3"
This is needed to fix/complete out Gomodules support.

Relates to #4197
Relates to #4331
Relates to #2602

[2020-12-20 18:29] alexec opened #4787 "Rename repository from `argo` to `argo-workflows`"

[2020-12-20 18:31] alexec commented on #3991
@dtzar do you know how to fix this please?

[2020-12-20 18:32] alexec commented on #4785
Duplicates #4425

[2020-12-20 18:32] #4785 closed

[2020-12-20 18:33] alexec commented on #4425
@NikeNano @liafizan we'd like to include this in v3.0, targetted end of January. Would you like to drive it?

[2020-12-20 18:45] alexec commented on #4786
@peterbourgon would you be interested in leading this?

[2020-12-20 20:00] peterbourgon commented on #4786
No :) But I'm happy to answer questions.

[2020-12-21 01:08] foobarbecue commented on #1256
I'm experiencing a similar problem on some of my containers, on af03a74fb334c88493e38ed4cb94f771a97bffc5. Other containers doing almost identical work succeed, and if I keep retrying the workflow everything succeeds eventually. Seems particular to PNS. Here's an example wait container log:

[code]

[2020-12-21 12:38] simonfrey commented on #4045
@sarabala1979  Is the documentation wrong than? (https://argoproj.github.io/argo/fields/#workflowspec) It states `Arguments contain the parameters **and artifacts** sent to the workflow entrypoint Parameters are referencable globally using the 'workflow' variable prefix`

I am also trying to pass artifacts to a subworkflow and get a similiar error as mentioned in this issue:
[code]

[2020-12-21 17:55] alexec commented on #1256
I think `timed out waiting for the condition` might be a new issue. Has anyone run the v2.11.8 executor vs the v2.12.2 executor?

[2020-12-21 17:57] alexec commented on #1256
We do not see `Failed to get main`, so that discounts #4523.

[2020-12-21 18:02] alexec commented on #1256
OK. Diagnosis - There is a timeout trying to determine if the pod has finished. We allow three attempts at 1-second intervals. The main container has completed (which we use the shared process namespace to determine), but we ask the Kubernetes API for the actual result. The API has not been updated yet. This could be mitigated by increasing the amount of time we allow the executor to poll for on l

[2020-12-21 18:11] foobarbecue commented on #1256
@alexec Sure, I can play with the timing and see if I come up with a good PR-worthy solution.

[2020-12-21 18:17] alexec commented on #1256
Thank you!

[2020-12-21 18:24] NikeNano commented on #4425
Sure @alexec I would be happy to try to drive this effort. Will start to put some work in to it during the Christmas weekend and New Years to push it!

[2020-12-21 18:33] alexec commented on #4425
Excellent!

[2020-12-21 19:34] #4778 closed

[2020-12-21 21:04] #4652 closed

[2020-12-21 21:41] alexec opened #4790 "Workflows Operator (ex. Super-controller)"
# Summary

When managing Argo Workflows you must choose

* Cluster-scoped install - single controller with lots of permissions and must be large for many workflows, but easy to manage
* Namespace-scope - scales with the number of namespaces, and secured within the user's namespace, but hard to manage

What about a super-controller that installs the workflow controller just-in-time (i.e. whenever i

[2020-12-22 00:47] sarabala1979 commented on #4790
This is similar to what Argo-event does. Create the controller/executor on the namespace to process the resource.
In the workflow-controller scenario, it should deploy controller and RBACs on that namespace. Technically, Supercontroller should install the namespaced workflow-controller on each namespace if the namespace has a workflow

[2020-12-22 01:05] JPZ13 opened #4791 "Broken import when using Argo go client"
## Summary

When building a service that invokes Argo using the go client, I frequently run into the [gnostic openapiv2 error](https://github.com/kubernetes/client-go/issues/741). [Newer kube dependencies](https://github.com/kubernetes/kube-openapi/pull/189) seem to have fixed this, but [existing versions](https://github.com/kubernetes/client-go/issues/741#issuecomment-606883355) will not be fixed

[2020-12-22 01:06] alexec commented on #4790
@sarabala1979 exactly what I think. I have an alternative solution too:

* `NamespaceSet` - install a set of manifests into each namespace of a cluster
* Zero-pod Autoscaler (ZPA) - scales a controller to zero if there are not resources to control (back to 1 if there are).

[2020-12-22 01:12] alexec commented on #4791
Will this be fixed by #4425 ?

[2020-12-22 01:16] JPZ13 commented on #4791
Yes. @NikeNano, would you mind if I started on #4425? I'm currently blocked by it

[2020-12-22 03:56] sarabala1979 commented on #4790
I think this approach is better than the master-slave/sharding approach. This can scale with any load with a distributing approach.

[2020-12-22 03:58] sarabala1979 commented on #4790
#4318

[2020-12-22 04:19] jfb74 commented on #2800
Any update on this? I am also working in a corporate environment that requires SSE (ServerSideEncryption AES256)

[2020-12-22 06:40] arraytodd opened #4792 "does it support nested steps definition?"
# Summary

I want to define steps keywork in steps context, such as
 steps:

    - - name: test1
        template: run-hello
      - name: test2
        template: run-hello
        -- name: test2-01
            template: run-hello
        -- name: test2-02
            template: run-hello

    - - name: exit
        template: run-exit
    - - name: cleanup
        template: cleanup
# Use Cases
but

[2020-12-22 06:44] arraytodd commented on #4792
please ignore the type, the correct version as below:

- - name: test1
    template: run-hello
  - name: test2
    template: run-hello
    - - name: test2-01
        template: run-hello
    - - name: test2-02
        template: run-hello

- - name: exit
    template: run-exit
- - name: cleanup
    template: cleanup

I add two steps under the step named test2, but not works

[2020-12-22 10:31] pgaxatte opened #4793 "Expose the name of the cronworkflow to the pods"
# Summary

Kinda similarly to issue #1279, argo should support exposing the name of the cron that created the workflow with a label on the pods.

# Use Cases

This is especially useful to extract metrics and alerts by cron.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2020-12-22 12:21] idsvandermolen commented on #4754
Closing this as it was obviously caused by Vault Agent Injector.

[2020-12-22 12:21] #4754 closed

[2020-12-22 17:31] mwarnerblu opened #4794 "GKE Pod/Node Exhaustion Resulting in Failed Workflows"
## Summary

We're evaluating utilizing Argo (Workflows and Events) to replace our current utilization of Airflow.  We have some fairly high volume requirements, starting at around 100 Workflows/minute and going up from there sourced from GCP Pub/Sub.  In general Argo keeps up well processing simple workflows as you've seen before and is much faster than Airflow at scale for task running and handli

[2020-12-22 17:35] alexec commented on #4793
You should be able to do this using `{{workflow.name}}`

[2020-12-22 17:41] alexec commented on #4794
I'm not clear on what your symptom is.  If it is a `pod deleted` error message. This is addressed in v2.12.

Can you please try the following:

[code]

[2020-12-22 17:49] mwarnerblu commented on #4794
Sorry @alexec I forgot to include the argo-details side and just included the logs. We are v2.12.0-rc5 and do appear to be getting the pod delete error message.  However if I'm approaching this improperly I'm happy to rework of course.  Below is the output for a Error'd out workflow as described above.

[code]

I'll try the DEFAULT_REQUEUE_TIME change, thanks!

[2020-12-22 17:52] simonfrey opened #4796 "Can't pass artifacts into a subworkflow create from a workflow template"
I try to get my workflows more DRY and for this I need to create a sub workflow and pass arguments to it.

I tried to follow https://github.com/argoproj/argo/blob/master/examples/nested-workflow.yaml & https://argoproj.github.io/argo/workflow-of-workflows/ but either I get the structure wrong or argo has a problem with artifact passing to sub workflows

## Expected behavior

Argo passes artifacts

[2020-12-22 18:43] alexec commented on #4790
I think this is just an https://coreos.com/operators/

[2020-12-22 18:48] #4665 closed

[2020-12-22 19:07] 0-duke commented on #1256
Hi guys,

I was experiencing a lot the same issue recently. Following the comment from @alexec above I've tried to install a previous argo version and everything works well as usual.

The downgraded version I've installed is using `workflow-controller` and `argoexec` v2.11.8

[2020-12-22 19:41] NikeNano commented on #4791
Sure @JPZ13 go for it, feel free to take what ever you want from my rough first stab at it, https://github.com/argoproj/argo/pull/4426

[2020-12-22 20:02] tomgoren commented on #4634
Using the latest images and recommendations:

[code]

We observed the following:

![Screen Shot 2020-12-22 at 2 27 01 PM](https://user-images.githubusercontent.com/806975/102927984-f81d7d80-4465-11eb-88b6-8a0d74c906d8.png)

We are seeing far more consistently running workflows, but now we are also seeing a *lot* of failed workflows as well. Unfortunately the failed pods were reaped immediately so

[2020-12-22 20:24] #4056 closed

[2020-12-22 20:24] #3626 closed

[2020-12-22 20:24] #3374 closed

[2020-12-22 20:24] #3893 closed

[2020-12-22 20:24] #3399 closed

[2020-12-22 20:24] #3913 closed

[2020-12-22 20:41] alexec commented on #4634
Good news! I have a branch name `test` Can I ask you to try `:test` for both the executor and the controller? We'll need to understand why the pods failed. Is it `pod deleted`? Can you try

[code]

[2020-12-22 20:55] JPZ13 commented on #4791
Thanks @NikeNano!

[2020-12-23 09:43] simonfrey commented on #4045
I stumbled over the same issue (my setup is described in https://github.com/argoproj/argo/issues/4796)

My use cases is: A lot of my workflow templates are quite similar and I want to remove duplication.

Example:
WorkflowTemplates:
1) apply-config
2) change-and-apply-config

I want to change the config and than call 1 from within 2 as the apply logic is exactly the same. The files to be applied s

[2020-12-23 16:11] #4289 closed

[2020-12-23 17:29] dcherman commented on #4790
Interesting idea!  Off the top of my head, here's some initial thoughts:

- This does make scaling easier if your workflows are (relatively) evenly distributed between namespaces, however if you end up with a hot namespace running the bulk of your workloads, you'd likely still end up needing to shard the workflow controller for that namespace.
- How are secrets managed?  If you have workflow archi

[2020-12-23 18:10] alexec commented on #4790
I actually think this is pretty common. I don't think this PR address scaling issues.

[2020-12-23 18:13] alexec commented on #4790
I'm don't sure it can. A controller must have access to secret data (e.g. MySQL login), so either the operator can install this in any namespace, or you don't use it.

[2020-12-23 18:14] alexec commented on #4790
Some thoughts:

* We only install the controller in explicitly labeled namespaces, rather than all. `workflows.argoproj.io/controller: "true"`
* We can use annotations as extension point for customization: `workflows.argoproj.io/argo-server-ingress: "true"`

[2020-12-23 21:05] #4678 closed

[2020-12-24 02:01] wangzhipeng commented on #3189
@alexec  We do cicd based on Argo and display log in real time in each pod

[2020-12-24 02:55] alexec commented on #3189
You can stream logs using the Argo Server API: "/api/v1/workflows/{namespace}/{name}/{podName}/log"

[2020-12-24 02:56] alexec commented on #3189
Or "/api/v1/workflows/{namespace}/{name}/log" on v2.12.2

[2020-12-24 18:25] alexec opened #4798 "v2.12: `pod deleted` + `re-apply` error = errored workflow"
## Summary

In v2.12, we can get a `pod deleted` error under high load. I believe this is caused by factors interplaying:

1. The workflow completes successfully.
2. A pod is then deleted during clean-up, we'll get a re-queue of the workflow.
3. On the next reconciliation the informer returns the same (and now out of date) workflow as the last reconciliation.
4. The pod has been deleted, so the re

[2020-12-24 18:28] alexec opened #4799 "minor day-zero bug: pods not cleaned-up with `PodGCOnSuccess`"
## Summary

Once a workflow is complete, all of its pods should be deleted on labeled as complete. If the pod-gc is on success, and the pod fails, it is not labeled.

I think this impact is small otherwise we'd have heard about it.

[2020-12-24 18:35] alexec opened #4800 "More Prometheus metrics"
# Summary

No metrics currently exist for the following:

## How many workers are currently busy? (`workers_busy`)

This would be useful to help tune the number of workers needed and understand the saturation of the system (see #4749).

## How many workflows are actually doing work - i.e. have running pods. (`workflow_conditions`)

When a cluster is at capacity, workflows will be marked as `Runnin

[2020-12-24 18:38] alexec opened #4801 "v2.12: `EstimatorFactory` can result in >1Gi memory usage"
## Summary

`util.FromUnstructured` does a lot of memory allocations, especially in loops. If we have access to an `unstructured.Unstructured` and only need some of the information (any metadata, one or two fields) then we do not need to invoke it.

Over time this type will start doing very large allocs resulting in rampant memory usage.

Fix: https://github.com/argoproj/argo/pull/4795/files#diff-

[2020-12-25 20:52] #4771 closed

[2020-12-25 20:54] max-sixty commented on #4761
FYI It looks like the fix is cherry-picked back to 1.18: https://github.com/kubernetes/kubernetes/pull/80954#issuecomment-717382622

[2020-12-25 21:04] max-sixty commented on #4761
We've hit a similar issue around `LEADER_ELECTION_IDENTITY must be set so that the workflow controllers can elect a leader`, which caused our workflow-controller to go into `CrashLoopBackOff` and jobs not to be scheduled.

Here are logs, if that's helpful. If there's a way that we could have prevented this, would be great to know. And if anyone has a monitoring approach that would have alerted to

[2020-12-26 01:04] #4324 closed

[2020-12-26 17:09] aviklai commented on #3551
@sarabala1979 After upgrading to version 2.12.2, I am still seeing workflows deleted late (for example, a day after they were supposed to be deleted).

[2020-12-27 04:35] Guchin commented on #4746
Hi, the same happened to me what specific roles the rgo-server service account needs and how I can configured them ? Thanks

[2020-12-27 05:17] kulmam92 opened #4804 "Error in UI: `Connection closed to api/v1/workflow-events/argo?...`"
## Summary

### What happened/what you expected to happen?

I exposed Argo Workflow UI using Ambassador under `/argo/` subpath. I was able to access the UI. However, I got `Unable to load data` error.
![01 forbidden](https://user-images.githubusercontent.com/4615942/103161843-fffa5c00-479c-11eb-8af7-3d3d7addb62b.png)

After that I got recurring "Connection closed to api/v1/workflow-events/argo?lis

[2020-12-28 07:00] appellod commented on #3961
I also have some concerns with my Workflow requiring Pod patch permissions. I am developing a system that allows external users to run arbitrary workflows within my system. I have each user segregated into their own Namespace, so it wouldn't be absolutely devastating if they achieved Pod patch access, but it is still something that could potentially wreak havoc on my system.

Currently, I am setti

[2020-12-28 14:10] JPZ13 commented on #4791
@alexec @NikeNano What's the command to update the client set? I ran `make codegen` a couple times and didn't get an update. I should be ready to put up a PR once I get client-gen to run properly.

[2020-12-28 18:03] NikeNano commented on #4791
Great @JPZ13, I am not aware of anything else than ``` make codegen```

[2020-12-28 18:11] chaserogers commented on #4092
Ever figure this out?

[2020-12-28 18:29] #4773 closed

[2020-12-28 20:53] JPZ13 commented on #4791
You are the man @NikeNano. I had to run `chmod +x` on `$GOPATH/pkg/mod/k8s.io/code-generator@v0.20.1/generate-groups.sh` and then was able to generate the client set. Thanks for pointing that out! I'll get it all cleaned up and put out a PR.

[2020-12-28 21:54] #4345 closed

[2020-12-28 23:25] Seanny123 opened #4805 "Can't submit workflow: failed to resolve {{workflow.namespace}}"
## Summary

When trying to submit a workflow, the submission fails due to:
[code]

## Diagnostics

Argo version
[code]

Minimal workflow to reproduce
[code]

If I change the parameter `str-to-echo` to:
[code]

There is no error and the workflow is submitted and run successfully. So there's something about the parameter `input-s3-bucket` that's causing this problem, but I can't figure out what it i

[2020-12-29 00:06] duongnt opened #4806 "invalid memory address or nil pointer dereference"
## Summary

When I upgraded to 2.12.2, I got this exception: `invalid memory address or nil pointer dereference`.

## Diagnostics

Full stack trace:
[code]

This happened because `woc.controller.estimatorFactory.NewEstimator(woc.wf)` returns nil for estimator when there was an error fetching archived workflows (network issues in our case). The error was swallowed which made it hard to pinpoint the

[2020-12-29 07:27] dsetty25 commented on #4447
I have done the same configurations .but instead of https I am trying with https.

 kubectl logs argo-server-5c7f8c5cbb-8svkc -n cago -f
time="2020-12-29T07:14:04.070Z" level=info authModes="[sso]" baseHRef=/ managedNamespace= namespace=cago secure=false
time="2020-12-29T07:14:04.070Z" level=warning msg="You are running in insecure mode. Learn how to enable transport layer security: https://argopr

[2020-12-29 17:51] NikeNano commented on #4791
Let me know when you have an PR @JPZ13, look forward to see this merged.

[2020-12-29 17:56] alexec commented on #4447
@dsetty25 can you try in Incognito mode please?

[2020-12-29 18:00] alexec commented on #4804
It appears that you do not have permission to access the UI. That is normal, but you should have been redirected to /login. Can you confirm if that was the case or not please?

[2020-12-29 18:00] alexec commented on #4746
@Guchin examples can be found in the installation manifests.

[2020-12-29 18:01] alexec commented on #3551
@aviklai this is a bug in v2.12, and is related to #4798.

[2020-12-29 18:05] kulmam92 commented on #4804
@alexec I wasn't redirected to /login. It stayed on the same page and got "Connection closed to api/v1/workflow-events/argo?listOptions.resourceVersion=30237..." error.

[2020-12-29 18:09] alexec commented on #4761
You need to set the `LEADER_ELECTION_IDENTITY` environment variable in your manifest. This is typically (always?) set to `metadata.name`.

[2020-12-29 18:12] #4676 closed

[2020-12-29 18:14] alexec commented on #4804
Can you try in Incognito mode?

[2020-12-29 18:27] JPZ13 commented on #4791
Will do! I'll tag you as a reviewer when I put up the PR @NikeNano

[2020-12-29 18:29] sarabala1979 commented on #4761
Are you using `install.sh` from release or just updating the release version?
if you are just updating the release version, you need to add env on your existing `deployment` spec.
[code]

[2020-12-29 19:29] alexec opened #4809 "events should display most recent first"
This is unhelpful.

[2020-12-29 20:03] max-sixty commented on #4761
I was using this 2.11.8, tagged with kustomize: `https://github.com/argoproj/argo/manifests/cluster-install?ref=v2.11.8`. It had worked for a few weeks before that issue. I'm fairly confident the manifests didn't change.

I don't see any `LEADER_ELECTION_IDENTITY` in the manifests until _after_ 2.12.2. I checked the manifests that were deployed and the images were all correctly tagged to 2.11.8 —

[2020-12-29 20:31] alexec commented on #4761
`LEADER_ELECTION_IDENTITY` is a v2.12 feature, not a v2.11 feature, so you should not see anything is the logs if you're running v2.11.8.

[code]

[2020-12-29 20:34] alexec commented on #4761
Why oh why does Docker Hub allow you to overwrite images like this.

[2020-12-29 20:59] alexec commented on #4761
@max-sixty Fixed.

[code]

[2020-12-29 21:41] max-sixty commented on #4761
Great — thanks a lot for tracking it down!

[2020-12-29 22:22] kulmam92 commented on #4804
Still same with Incognito mode.
![image](https://user-images.githubusercontent.com/4615942/103317781-0da02380-49e1-11eb-8b95-7cd2e7a9eab2.png)

[2020-12-29 22:37] alexec commented on #4804
can you see if you can login at HTTP://172.18.0.4/argo/login?

[2020-12-29 23:12] kulmam92 commented on #4804
This is what I get when I go to http://172.18.0.4/argo/login.
![image](https://user-images.githubusercontent.com/4615942/103319312-3f67b900-49e6-11eb-9e54-dad62ec6cbe7.png)

The argo server is configure to use [server client] auth modes.
`level=info authModes="[server client]"
`

I got this when I ran auth token command.
[code]

If I click "LOGIN" under, client authentication with a blank auth tok

[2020-12-30 16:41] #4753 closed

[2020-12-30 22:48] HunterEl commented on #1324
I just hit this as well. Argo should definitely catch this in the lint or submit. It can lead to cryptic errors for downstream workflows and logs really only manifest themself on the workflow controller as to what the real problem is.

[2020-12-30 22:54] HunterEl commented on #1324
Looks like support for label truncation was added: https://github.com/argoproj/argo/issues/3756

for anyone hitting this issue, like me, later on.

[2020-12-31 02:17] Bobgy commented on #795
Quoted from https://github.com/argoproj/argo/issues/799

lower latency
lower cpu/memory consumption
than running it this way(=nested workflow processing and at least one k8s pod creation per macro call).

These are still valid reasons a http template is preferable than pod templates.

[2020-12-31 06:36] duongnt opened #4815 "v2.12.2: error in entry template execution (Deadline exceeded)"
## Summary

After upgrading to 2.12.2, seeing a lot of those:
[code]

The workflow will appear stuck while the pods actually have run and completed:

[code]

## Diagnostics

What Kubernetes provider are you using? GKE

What version of Argo Workflows are you running? 2.12.2

Logs:
[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the mo

[2020-12-31 06:56] cocotyty commented on #4431
@alexec @sarabala1979 @na-bot-o this pr can fix this problem
[https://github.com/argoproj/argo/pull/4814](https://github.com/argoproj/argo/pull/4814)

[2020-12-31 11:25] r2sd opened #4816 "Unable to view workflow logs: runtime error: invalid memory address or nil pointer dereference"
## Summary

I'm trying to view the logs of my workflow, it works fine when I do `argo logs -n argo 'custom-cdm-item-lfh6z'`.
But attempting to get the logs using the python client fails:
[code]

I get the following stack trace:
[code]

## Diagnostics

What Kubernetes provider are you using?  minikube

What version of Argo Workflows are you running? argo v2.12.2

[code]

[code]

---

**Message from

[2020-12-31 18:27] alexec commented on #4816
Please attach the stack trace from `kubectl logs deploy/argo-server`

[2020-12-31 18:32] alexec commented on #4815
Given the deadline is now 30s in v2.12 vs 10s in v2.11, you should expect to less of these, not more. These are typically caused by delays speaking to Kubernetes API. Try increasing `--qps`.

[2020-12-31 20:58] Montana commented on #2793
Seems like I'm still having same issue, via:

[code]
I'll try and run a:

``bash
--loglevel debug lint
[code]

Odd, as it was working this morning. I might do a fresh install and see if this fixes the problem.

Thanks
-Montana Mendy

[2021-01-01 17:57] duongnt commented on #4815
It did seem to get better with higher `--qps` (I set it to 100), but it still happens. Should we add a counter to track the number of calls to Kube API, to have some visibility how close it is to the limit?

[2021-01-01 22:40] dcherman opened #4817 "OpenAPI Spec file is invalid -- `IntOrString` `type` is a list"
Per the [OpenAPI Spec](https://swagger.io/docs/specification/data-models/data-types/#mixed-type), the `type` field must not be a list as it only takes a single value.  The correct way to specify multiple types is using `oneOf` and `anyOf`.

https://github.com/argoproj/argo/blob/4eaae251d9147b53604481237732bff36a16a91e/api/openapi-spec/swagger.json#L7994-L7997

This was found when I was attempting

[2021-01-02 03:01] kennytrytek commented on #4817
I think this can be closed since the project validates against Swagger 2.0 and using `oneOf` in the JSON schema was added in v3.1.0:
https://github.com/OAI/OpenAPI-Specification/issues/1026

I was initially going to open a PR to fix this by changing [this line](https://github.com/argoproj/argo/blob/v2.12.2/hack/swagger/kubeifyswagger.go#L48) in `kubeifyswagger.go` to:
[code]

But that results in t

[2021-01-02 04:03] #4385 closed

[2021-01-02 18:31] alexec commented on #2793
There is now more detailed help for configuring the CLI, please check it out:

https://argoproj.github.io/argo/cli/argo/

[2021-01-02 18:34] alexec commented on #4815
@duongnt can you determine if your cluster is under "high load"? I.e. it is struggling to schedule pods? More Prometheus metrics will come in the future (#4800).

[2021-01-02 18:37] alexec commented on #4817
I think we should be maximally compatible with the spec. OpenAPI tools tend to be a bit out of date.

@kennytrytek I think you have the correct place to fix this, but maybe it should just be:

[code]

[2021-01-02 19:19] #4640 closed

[2021-01-02 19:36] kennytrytek commented on #4817
Wouldn't that break the `IntOr` part of `IntOrString`, so any place that uses `IntOrString` would need to change to support "string" only?

[2021-01-02 20:19] alexec commented on #4817
It would be fine. That can be either an int or a string. String can be int, but int cannot be string.

[2021-01-03 01:13] dcherman commented on #1262
I cooked up a POC for this over the last day or so, would be interesting to get some feedback on it - https://github.com/argoproj/argo/pull/4819.  I am brand new with jsonnet and not sure how it's normally documented, and I'm sure I need to provide some additional constructors for WorkflowTemplates, CronWorkflow, etc., however it'd be good to get some feedback before adding those in.

[2021-01-03 11:46] someshkoli commented on #4583
Any solutions to this yet ? I'm a new contributor and would like to submit a PR for this :D

[2021-01-03 13:32] dtaniwaki commented on #4583
@someshkoli Thank you for your suggestion. I'm working on it and will send a PR soon. Could you review the PR then?

[2021-01-03 13:49] someshkoli commented on #4583
Yeah sure :D

[2021-01-03 16:00] #4180 closed

[2021-01-03 16:09] saranyaeu2987 commented on #4092
@chaserogers
This issue happened due to mutating webhooks admission control in my EKS cluster.
More description in https://github.com/argoproj/argo/issues/4107

[2021-01-03 17:04] simster7 commented on #4805
It seems like we don't actually de-reference global parameters ever. Not sure if doing so is even needed, because (as you note) the only possible variables in a workflow-level parameter are global variables anyway.

I can see a convenience factor though, as your example illustrates, such as one where a global variable is used in a workflow-level parameter to create a "composite" variable that does

[2021-01-03 19:56] simster7 commented on #4662
I added the ability to set parameters in the workflow submit pane. It's a little trickier to add this in the workflow resubmit pane. I will bring this up with the team tomorrow

[2021-01-03 20:07] Montana commented on #2793
Thank you @alexec! I really appreciate it.

[2021-01-04 05:42] book987 opened #4822 "make db migration optional"
# Summary

Hi.

We use argo internally with our own db platform, which disable all DDL operation for security reason, means we can only do DDL operation at db platform.

Currently we remove lines [workflow/controller/config.go:49-52](https://github.com/argoproj/argo/blob/master/workflow/controller/config.go#L49) as workaround.

Can we provide a `--ignore-db-migration` flag or a relative filed in c

[2021-01-04 06:39] r2sd commented on #4816
Hi @alexec
Here is the output of running `kubectl logs deploy/argo-server -n argo`:

`time="2021-01-04T05:21:51.946Z" level=info msg="Alloc=8947 TotalAlloc=236732 Sys=71616 NumGC=384 Goroutines=88"
time="2021-01-04T05:27:31.828Z" level=info msg="Alloc=8947 TotalAlloc=236736 Sys=71616 NumGC=387 Goroutines=88"
time="2021-01-04T05:32:31.825Z" level=info msg="Alloc=8947 TotalAlloc=236741 Sys=71616 Num

[2021-01-04 12:58] pkosiec commented on #4180
@simster7 Does it mean this issue is marked as "won't fix"? Or is there any commit which validates the workflow early to prevent the controller going into infinite loop?

[2021-01-04 14:54] pgaxatte commented on #4793
Currently, when only looking at the pods created by a CronWorkflow, there is no way to know correlate the information.

I have a concrete example where I would need this: I use CronWorkflows to backup something and I'd like to be able to monitor the state of the pods created by the workflows at each run of the cron.

[2021-01-04 15:33] #4626 closed

[2021-01-04 16:57] alexec commented on #4793
@simster7 - any thoughts?

[2021-01-04 17:05] alexec commented on #4822
Good idea. Would you like to submit a PR?

[2021-01-04 17:07] simster7 commented on #4793
@pgaxatte Can't you infer this from the pod name?

If I have CronWorkflow `hello-world`, then it will create Workflow with name `hello-world-1609779960`, which will create Pods with name like `hello-world-1609779960-1646182790`

[2021-01-04 17:08] simster7 commented on #4793
Or would you like the labels for grouping, sorting in K8s and not necessarily for them to be accessible within the Pod?

[2021-01-04 17:08] saranyaeu2987 commented on #1682
@simster7
I dont have argo cd installed in my EKS cluster and have only Argo workflows.
Is there a way to scrap metrics without Argo cd?

[2021-01-04 17:13] simster7 commented on #1682
Hi, yes you can see Argo Workflows metrics here:

https://argoproj.github.io/argo/metrics/

Not sure why I linked to Argo CD above

[2021-01-04 17:22] saranyaeu2987 commented on #1682
@simster7
I am interested only in default metrics. There is no url mentioned in that link (https://argoproj.github.io/argo/metrics/)

Currently, my EKS argo workflows are accessed using
**http://internal-***********.us-east-1.elb.amazonaws.com:2746/workflows/argo**

So, can the metrics be scrapped at
**http://internal-***********.us-east-1.elb.amazonaws.com:2746/metrics/**  ?

[2021-01-04 17:24] simster7 commented on #1682
Try http://internal-***********.us-east-1.elb.amazonaws.com:9090/metrics/

[2021-01-04 17:26] simster7 commented on #1682
How did you install Argo? With one of our manifests?

[2021-01-04 17:26] simster7 commented on #1682
Metrics are exposed out of the `workflow-controller`

[2021-01-04 17:35] #4798 closed

[2021-01-04 17:35] #4801 closed

[2021-01-04 17:35] #4806 closed

[2021-01-04 17:35] #4816 closed

[2021-01-04 17:48] alexec commented on #4786
@tcolgate this will have a lot of impact - would you like to lead it?

[2021-01-04 18:51] alexec opened #4824 "techdebt: Introduced `wfv1.WorkflowPhase`"
We use `NodePhase` for this, but it NodePhase has several values which do not apply to workflows.

[2021-01-04 19:07] alexec commented on #4809
Seems to be fixed by ui-v3

[2021-01-04 19:07] #4809 closed

[2021-01-04 19:11] #4270 closed

[2021-01-04 19:28] saranyaeu2987 commented on #1682
Thanks. Can see metrics now.

[2021-01-04 19:54] #4705 closed

[2021-01-04 20:33] simster7 opened #4826 "Cherry pick for v2.12.3"
* [ ] Saravanan Balasubramanian: feat(controller): Adding Eventrecorder on LeaderElection (f037fd2b4)
* [x] Alex Collins: fix(controller): Various v2.12 fixes. Fixes #4798, #4801, #4806 (#4808) (a0024d0d4)
* [ ] kennytrytek: fix: Memoize Example (Issue 4626) (#4818) (ee59d49d9)
* [ ] Michael Albers: feat: Customize workfow metadata from event data (#4783) (b73bd2b61)
* [ ] Yuan Tang: chore: Remove

[2021-01-04 20:46] alexec commented on #4826
a0024d0 will produce conflicts:

* For manifests/base/workflow-controller/workflow-controller-deployment.yaml, you want  `ports:` and `livenessProbe:`. We do not want `LEADER_ELECTION_IDENTITY`.
* For `Procfile` - we do not want `LEADER_ELECTION_IDENTITY`.
* For the generated files,  run `make codegen` to fix them.

[2021-01-04 22:29] saranyaeu2987 commented on #1682
@simster7
I would recommend adding endpoint details in https://argoproj.github.io/argo/metrics/ like the one added to https://argoproj.github.io/argo-cd/operator-manual/metrics/

It will save lot of time for a newbie like me :)

[2021-01-04 22:32] simster7 commented on #1682
Would you like to open a PR? @saranyaeu2987

[2021-01-05 00:44] saranyaeu2987 commented on #1682
https://github.com/argoproj/argo/pull/4829

DCO and semantic checks are failing
signed with right git account along with semantics. Still failing

[2021-01-05 04:56] kennytrytek commented on #4817
The unit tests agree that int cannot be a string:
https://github.com/argoproj/argo/pull/4831/checks?check_run_id=1647895197
[code]
Is the right solution to update the examples? Isn't this a breaking change for anyone using `ints` in those fields right now?

[2021-01-05 06:50] book987 commented on #4822
Love to. I'll try my best.

[2021-01-05 09:23] fjammes commented on #1050
Yes this feature would be very interesting for managing large files. Would you have a track please?

[2021-01-05 10:01] davidcollom opened #4832 "Mutex not being released on step completion"
## Summary

When using a variable within the mutex name, Mutex's aren't released until workflow-controller is restarted.
Within the example below, the workflow never completes and waits pending on the final unlock.

Additionally all other workflows aren't able to continue from the initial mutex locked (from `gen-number-list`).

Restarting the workflow-controller brings the workflow to life and all

[2021-01-05 14:54] simster7 commented on #4826
Release done

[2021-01-05 14:54] #4826 closed

[2021-01-05 15:47] simster7 commented on #4832
@sarabala1979 ?

[2021-01-05 16:27] alexec commented on #1050
eh?

[2021-01-05 16:30] alexec commented on #4817
I'm not sure what the solution here is now. `type` cannot be an array, so much be removed, `oneOf` is not allowed, so must be removed. This leaves an empty definition.

[2021-01-05 16:34] sarabala1979 commented on #4832
I will look

[2021-01-05 17:24] simster7 commented on #4756
Fix for this is out on https://github.com/argoproj/argo/releases/tag/v2.12.3

[2021-01-05 17:24] simster7 commented on #4718
Fix for this is out on https://github.com/argoproj/argo/releases/tag/v2.12.3

[2021-01-05 17:25] simster7 commented on #4531
Fix for this is out on https://github.com/argoproj/argo/releases/tag/v2.12.3

[2021-01-05 17:25] #4531 closed

[2021-01-05 17:25] simster7 commented on #4798
Fix for this is out on https://github.com/argoproj/argo/releases/tag/v2.12.3

[2021-01-05 17:25] simster7 commented on #4801
Fix for this is out on https://github.com/argoproj/argo/releases/tag/v2.12.3

[2021-01-05 17:25] simster7 commented on #4806
Fix for this is out on https://github.com/argoproj/argo/releases/tag/v2.12.3

[2021-01-05 17:34] hadim commented on #4531
Thanks. I am a bit confused about what "all supported authentication plugins" exactly means. Does it specifically support GCP IAP? I am asking because GCP IAP is a proxy that performs the auth before the request reaches Argo. Argo only receives an auth request with some specific headers I guess.

[2021-01-05 18:24] kennytrytek commented on #4817
I'd suggest that the long-term solution is to use OpenAPI ≥ 3.1.0 since the discrepancy between the spec file and the json was rectified, and the short-term solution is to do nothing unless this out-of-spec swagger.json makes it harder to contribute to the project.

[2021-01-05 18:24] simster7 opened #4833 "Flakey tests in TestWorkflowTemplateSuite"
`TestWorkflowTemplateSuite/TestSubmitWorkflowTemplate`
`TestWorkflowTemplateSuite/TestNestedWorkflowTemplate`
`TestWorkflowTemplateSuite/TestSubmitWorkflowTemplateWithEnum`

Example runs:
https://github.com/argoproj/argo/pull/4823/checks?check_run_id=1651690361

https://github.com/argoproj/argo/pull/4427/checks?check_run_id=1532851026

[2021-01-05 18:34] dcherman commented on #4817
FWIW I'm no longer working on the jsonnet lib that was mentioned and found a workaround for the issue if I ever did want to generate it again, so this issue is not interfering with that effort at all.

It looks like kubernetes itself solves this by using `string` as the type, and a custom format

https://github.com/kubernetes/apimachinery/blob/master/pkg/util/intstr/intstr.go#L128-L132

[2021-01-05 19:35] tomgoren commented on #4634
Running on `:test`:

![Screen Shot 2021-01-05 at 1 36 02 PM](https://user-images.githubusercontent.com/806975/103690173-510b0c80-4f62-11eb-8223-1cbc6490d0ed.png)

- More workflows running concurrently than in previous tests
- No errors or prematurely deleted pods
- Workflows in the "succeeded" state linger as do Complete/Terminated pods
- It seems that at a certain threshold running workflows decr

[2021-01-05 22:11] #4085 closed

[2021-01-06 02:09] wangzhipeng commented on #3189
thank

[2021-01-06 04:59] sarabala1979 commented on #3551
@aviklai Can you try on 2.12.3 which includes the above TTL changes?

[2021-01-06 08:03] aviklai commented on #3551
@sarabala1979 Sure - I updated to the new version.
I will update when I have the results.

[2021-01-06 12:16] davidcollom commented on #4832
@sarabala1979 Something I didn't highlight in my initial report was that one/some of the steps are daemon'd steps, I have a feeling that this could be a good line of investigation of this issue. (I haven't confirmed this)

[2021-01-06 15:42] simster7 commented on #4832
Possibly related to https://github.com/argoproj/argo/pull/4835?

[2021-01-06 15:52] sarabala1979 commented on #4832
Let me verify that. I am able to reproduce locally.  I am investigating

[2021-01-06 16:31] prateekkhera opened #4836 "Make resources usage data available for archived workflows"
# Summary

Currently, the report section lacks resource usage data for archived workflows. This is a proposal to make it available

# Use Cases

I see value in it as then we’d be able to store the resource usage value in a DB and then potentially can build dashboard around it using Grafana or other dashboarding tool.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We pr

[2021-01-06 16:44] tomgoren commented on #4634
Very similar results with `2.12.3`:

![Screen Shot 2021-01-06 at 11 21 26 AM](https://user-images.githubusercontent.com/806975/103795791-6a6c9100-5014-11eb-9aed-74f14798d9fa.png)

[2021-01-06 17:43] alexec commented on #4836
This is not included in the report today because it was hard to do and I wanted to see if there was a demand for it. Lets collect some 👍 , or you could submit a PR?

[2021-01-06 17:47] alexec commented on #4634
After a bit of testing, I've found that "running workflows" != "workflows actually doing work". You can have a lot of running workflows, but pods are actually pending.

You charts you shared don't have legends on them so I don't know what metrics they are, but there is a new metric called (I think) `pod_count` and one called `workflow_conditions` that shed light on this.

https://github.com/argopr

[2021-01-06 23:36] #4583 closed

[2021-01-07 00:43] alexec commented on #4720
This already exists with `--gloglevel=6`.

[2021-01-07 00:43] #4720 closed

[2021-01-07 07:52] paveq opened #4839 "Custom health check with custom status attributes"
# Summary

Custom health check can currently be used to determine health status of custom object: https://argoproj.github.io/argo-cd/operator-manual/health/

In addition, it can pass a message via hs.message field.

It would be useful if there would be possibility to set other kinds of values/attributes to Application object, not only health status and message. These values should be reflected on

[2021-01-07 08:50] #4839 closed

[2021-01-07 08:50] paveq commented on #4839
Closing as this was on wrong repository, sorry!

[2021-01-07 09:16] sylock commented on #4609
You can close this ticket. It was a mistake from my side.

[2021-01-07 09:16] #4609 closed

[2021-01-07 09:16] sylock commented on #4609
You can close this ticket. It was a mistake from my side.

[2021-01-07 09:17] sylock commented on #4597
Fixed with last version. v2.11.8 for me.

[2021-01-07 09:17] #4597 closed

[2021-01-07 09:17] sylock commented on #4680
Yes, I will propose a pull request for the doc asap ;)

[2021-01-07 09:21] fjammes commented on #1050
I have the same problem than the one described here: https://github.com/argoproj/argo/issues/1050#issuecomment-579947967
It seems that inserting the content  of `{{inputs.parameters.contents}}` in the argo workflow yaml file breaks its indentation and produces a parse error. Would you have a track to solve this indentation problem? (On my side I need to add a local json file and a CA chain file in

[2021-01-07 11:45] toshyak opened #4844 "Redirect to login page in Argo server UI running with authMode=server"
## Summary

After deploying argo server using these manifests https://github.com/argoproj/argo/blob/master/manifests/namespace-install.yaml I cannot get list of workflows (or anything else) in Argo server UI. When I try to open https://argo-ui.domain.com/workflows page, I am constantly redirected to https://argo-ui.domain.com/login?redirect=https://argo-ui.domain.com/workflows , even if "server" a

[2021-01-07 12:05] prateekkhera commented on #4836
Thanks Alex, I am unsure that I'lll be able to pick anytime soon. But, great it to be logged and see its demand

[2021-01-07 16:14] amal-kumar opened #4845 "Wait container stuck in running state with Dynatrace enabled in the cluster"
We have upgraded the Argo Version (i.e. v.2.12.1) as suggested by Alex in the below bug

_Originally posted by @amal-kumar in https://github.com/argoproj/argo/issues/4678#issuecomment-742027363_

But still we are getting the same issue i.e. wait container is getting stuck.

Only after disabling the dynatrace on the cluster we were able to resolve this.

How is dynatrace causing this issue and has

[2021-01-07 16:24] alexec commented on #1050
Could you use `podSpecPatch` to mount a volume containing your files?

[2021-01-07 16:28] alexec commented on #4844
Can you try using Igontio mode (to clear you cookies)?

[2021-01-07 16:30] alexec commented on #4845
I'd suggest trying v2.12.3 as this has some performance fixes in it. If not, it is likely to be a set-up issue. Does Dynatrace using mutating web hooks?

[2021-01-07 17:03] toshyak commented on #4844
I actually did it in incognito. Has tried it again just now, result is the same

[2021-01-07 17:13] #4800 closed

[2021-01-07 17:28] sarabala1979 commented on #4832
@davidcollom I was able to reproduce my old codebase. I found a fix to do `AddAfter` on the `nextWorkflow` function.  But This is already fixed in the latest code and I am not able to reproduce it with the latest 2.12.3. Can you try with 2.12.3?

https://github.com/argoproj/argo/blob/6b3ce504508707472d4d31c6c522d1af02104b05/workflow/controller/controller.go#L295

[2021-01-07 17:41] amal-kumar commented on #4845
Hi @alexec , we will analyse the upgrade to v2.12.3 .

Meanwhile, on the dynatrace issue, it is possible for you (or, someone from your team) can join a call with our Dynatrace team to debug this further?

[2021-01-07 18:00] alexec commented on #4844
You're being redirected because the server returns 403. This maybe because the service account does not have the correct permissions. Can you try the stable version?

https://github.com/argoproj/argo/blob/stable/manifests/namespace-install.yaml

[2021-01-07 18:59] alexec commented on #2679
bump! please let me know if you really want this by testing the controller

[2021-01-07 19:02] alexec commented on #4774
@simster7 was this a problem publishing for v2.12.3?

[2021-01-07 19:03] #4591 closed

[2021-01-07 19:03] simster7 commented on #4774
@alexec Nope!

[2021-01-07 19:03] alexec commented on #4774
Closing!

[2021-01-07 19:03] #4774 closed

[2021-01-07 19:56] juliusvonkohout commented on #2679
I think it is safe to say that we do really want this. Just have a look at the number of upvotes for such a technical issue and the other similar bugreports in kubeflow etc. It might help if  you could provide images for testing or even some short instructions for a kubernetes cluster. Then everyone can test his workloads. Otherwise everyone has to dig into how to build the images etc.

[2021-01-07 19:57] toshyak commented on #4844
Looks like nothing has changed, in the incognito mode as well
[code]
We run Argo Server behind ingress with basic auth, can it be a reason for such problems?

[2021-01-08 06:20] benhackett4 opened #4846 "Retryable tasks with template-level metrics are falsely labelled as Running"
## Summary

When using a metric label value of `{{status}}` I expected a status like `Failed` or `Succeeded`. However, when a retryStrategy is defined on the task, the metric ends up having a label value of `Running`.

## Diagnostics

What Kubernetes provider are you using? Google Kubernetes Engine (GKE).

What version of Argo Workflows are you running? 2.12.3

`kube get wf -o yaml metrics-eg-j6w2

[2021-01-08 09:22] davidcollom commented on #4832
@sarabala1979 We upgraded to `2.12.3` Upon its release, we came in this morning to see that the same workflow was locked with similar issues.

We are in the process of investigating if we can remove the `daemon` step to further rule out that this is the cause.

Something that we've noticed and put down to the daemon step/template was that the duration of the workflow continues to increase within t

[2021-01-08 09:51] jackstuart92 commented on #4845
Hi @alexec,

Dynatrace uses mutating webhoks yes.

Under the hood, extensible admission uses a set of plugins called admission controllers, one of which fires a mutating webhook to a Dynatrace service. The mutating webhook, defined by the OneAgent Operator, tells our service that a pod is about to start, and asks if anything should be changed. If your custom resource-definition targets the pod’s n

[2021-01-08 15:36] simster7 commented on #4846
Will take a look

[2021-01-08 16:57] alexec commented on #4845
We've seen other mutating webhooks tend to edit and break resources. See #4126. You'll need to speak to Dynatrace for information about how they impact workflows.

[2021-01-08 17:04] alexec commented on #4684
Relates to #3523.

[2021-01-08 18:33] sarabala1979 commented on #4832
@davidcollom  I have a fix. But I couldn't reproduce on my local. I build docker image `docker pull sarabala1979/workflow-controller:mutex`.
Is it possible to try it on your env and let me the details and logs?

[2021-01-08 18:43] davidcollom commented on #4832
I can take a look first thing Monday and see if we find / have this issue and report back after a few days? Thanks for taking a look, it is greatly appreciated!

[2021-01-08 21:38] #4791 closed

[2021-01-08 21:38] #4425 closed

[2021-01-08 23:14] JPZ13 commented on #4765
@alexec I can take this. I was just in the `hack` folder with #4810 and upgraded `controller-tools` to v0.4.1. Should be a relatively quick change

[2021-01-09 03:12] vitarkah opened #4850 "Workflow step does not complete; sits there and times out."
## Summary

Leveraging Argo Workflow to standup the entire application/services cluster infra;  as step 1 using EKSCTL to create a cluster. However the workflow step just sits there and times out; this is despite the fact that EKS cluster does get created OK but other bits pertaining to service account does not get triggered or completed (including nodegroups). The command also doesnt complete and

[2021-01-09 05:27] #4439 closed

[2021-01-10 00:40] vitarkah commented on #4850
For anyone else who may run into this issue; nothing to do Argo Workflow or EKSCTL;  it had to do with the following snippet in cluster creation; Had to add the NAT EIP of the EC2 instance where the workflow was running from

[code]

[2021-01-10 00:40] #4850 closed

[2021-01-10 03:03] kennytrytek commented on #4556
Hi Alex. I'd be interested in taking this one on, as I also found it initially very difficult to reason about the nuances of inputs. Do you have any more context about any specific concepts New Relic found hard to grasp, or should I just do an overview of the existing documentation and see where there are opportunities to update or add clarifying documentation?

The [Beginner section](https://argo

[2021-01-10 17:34] alexec commented on #4556
That'd be great - do you want to submit a PR with some new docs?

[2021-01-10 19:40] olesiaMartushkanova commented on #3026
Hi, so is here a solution for this issue @SaigyoujiYuyuko233 ? I am facing the same issue.

[2021-01-10 20:23] markterm commented on #2333
I have been seeing this issue in v2.12.2, it continued happening after increasing OFFLOAD_NODE_STATUS_TTL to 30m, but haven't seen it since increasing it to 360m.

[2021-01-11 01:30] alexec commented on #2333
Interesting...

You should NEVER see this error.

`OFFLOAD_NODE_STATUS_TTL` is 5m by default. This is so that watches (which can only be 5m long) work.

My question for @markterm is - did you see this in the controller or argo-server?

[2021-01-11 02:17] #3189 closed

[2021-01-11 02:26] markterm commented on #2333
I got the error from the argo-server, but I have confirmed that the workflow-controller deleted the record prematurely.

I did a run with some extra logging, and in this case saw that 'fnv:900512843' was deleted while the workflow was still running, and the liveOffloadNodeStatusVersions for that workflow in the workflowGarbageCollector function was set to an empty string.

[2021-01-11 02:41] markterm commented on #2333
It appears that if I change workflow/controller/controller.go:442 to:

[code]

Then the problem doesn't occur.

Also I have logged the liveOffloadNodeStatusVersions value for one of the workflows in progress, here it is:
[code]

However I did kubectl -o yaml on this same workflow at 02:38, and got:

[code]

As you can see, the problem is it has an offload version in etcd, but the workflow-controll

[2021-01-11 09:32] davidcollom commented on #4832
@sarabala1979 I've deployed this release to the workflow-controller only in our cluster, will see how things get on over the next few days and report back.

[2021-01-11 12:36] macpoint commented on #1150
Hi everyone, any progress on this one?

[2021-01-11 16:52] alexec commented on #2333
I'm not sure that is the right fix.

It is possible (but very unlikely) for a workflow to have a non-empty value for a `nodeStatusVersion`, and subsequently for that to be set to empty. This might happen if there was an update conflict. That maybe what happened to you.

But that doesn't explain to me why we would delete the current version.

For the controller, we only ever care about the most cur

[2021-01-11 18:05] alexec opened #4857 "Faster starting pods"
# Summary

Anyway to make pods start faster?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-01-11 19:24] markterm commented on #2333
I agree it’s a patch, not the right fix.

I’m not sure if I saw the workflows going into error state with the status
deleted, but they certainly got stuck.

One note is that we are configured to always offload, so the
nodeStatusVersion should never be empty.

Mark.

On Mon, 11 Jan 2021 at 16:52, Alex Collins <notifications@github.com> wrote:

[2021-01-11 19:45] mailtoraja18 opened #4859 "Snyk Scanning Issues - argoexec:v2.12.2"
Type:            VULNERABILITY
      Name:            CVE-2020-8177
      CVSS Score v3:   7.1
      Severity:        high
      Description:     curl 7.20.0 through 7.70.0 is vulnerable to improper restriction of names for files and other resources that can lead too overwriting a local file when the -J flag is used.. Impacted Image File(s):
      Type:            VULNERABILITY
      Name:

[2021-01-11 19:57] alexec commented on #2333
This is only intended for dev environments - you might be better off using the workflow archive.

so there presumably is a. bug

[2021-01-11 19:58] alexec commented on #4859
Would you like to update the `Dockerfile` to update the base image these come from?

[2021-01-11 22:10] jackstuart92 commented on #4845
Thanks for this. Dynatrace are asking for the events from the Argo pods from just after you start to when you shut them down to better understand what is going on here.

[2021-01-11 22:31] JPZ13 commented on #4765
After diving into this, I think it is blocked by the steps issue from #4828 that I reverted on #4810. To generate v1 CRDs successfully, I think we'll have to fix the inlining issue in apimachinery. Here's the error message I get when running `make install`:

[code]

And when running `kubectl -n argo create -l app.kubernetes.io/part-of=argo -f dist/minimal.yaml`, the pods don't start. I've pushed m

[2021-01-12 00:23] markterm commented on #2333
Yes, I agree that indicates a bug - it seems like it’s seeing the
nodeStatusVersion as empty when it isn’t.

We are using node offload as otherwise there are intermittent times that
calling the ‘node set’ api when a workflow is big enough to be using
compression, doesn’t resume the selected node (or maybe it does and it gets
overwritten). I’ve not been able to track down more details for now.

On

[2021-01-12 01:11] alexec commented on #2333
ah - so maybe you're using `argo node set` and there is a bug there? you must used that with `ARGO_SERVER`

[2021-01-12 02:35] aditya1503 commented on #3026
so I solved this by installing argo CLI on terminal (not in Kubernetes)
you can then run argo server on command line, and this can see the jobs submitted to Kubernetes as well

[2021-01-12 07:55] markterm commented on #2333
That’s correct, we did.

On Tue, 12 Jan 2021 at 01:11, Alex Collins <notifications@github.com> wrote:

[2021-01-12 10:11] davidcollom commented on #4832
@sarabala1979 We had another instance of the locks not being released this morning I'm afraid.

Unfortunately, I'm not able to provide examples without spending some considerable time to redact the output, I'll spend some time this morning to see if the example can reproduce the same issue.

[2021-01-12 10:14] davidcollom commented on #4832
If its of any use, the following was present in the status:
[code]
with the workflow being `delete-xxxxxxxxx-sknxg` (within the same namespace)

[2021-01-12 10:14] davidcollom commented on #4832
If its of any use, the following was present in the status:
[code]
with the workflow being `delete-xxxxxxxxx-sknxg` (within the same namespace)

[2021-01-12 10:23] davidcollom commented on #4832
If its of any use, the following was present in the status:
[code]
with the workflow being `delete-xxxxxxxxx-sknxg` (within the same namespace) `create-xxxxxxxxx-ztkw9` successfully completed a few hours before the `delete-xxxxxxxxx-sknxg` workflow was initialized.

Workflow controller logs referencing this mutext:

[code]

The second, line is **after** restarting the workflow controller.

[2021-01-12 14:04] fvdnabee commented on #3307
I agree, however if the workflow definition defines the artifact type and the key (in case of s3), then the workflow controller should be able to figure out that it could try fetching the artifact from the default artifact repository (if that is s3) or from a referenced artifact location? This resembles more closely like the scenario posted by the OP in this issue #2461

This is also my understand

[2021-01-12 15:17] sarabala1979 commented on #4832
Is this instance using my eng build? Can you provide the workflow controller lock for this workflow?

[2021-01-12 15:18] sarabala1979 commented on #4832
@davidcollom

[2021-01-12 15:20] davidcollom commented on #4832
Yes, we're using your eng build.

[2021-01-12 15:28] sarabala1979 commented on #4832
@davidcollom ok. can I get the entire workflow controller log for this workflow?

[2021-01-12 17:05] alexec commented on #2333
This sounds like an edge case bug to me.

Can I ask why you need to have `ALWAYS_OFFLOAD_NODE_STATUS=true`? This isn't intended for production usage.

[2021-01-12 17:08] alexec commented on #3307
#4618 de-couples artifact configuration from the workflow by allowing you to store it in a config map (or secret, I forget). You can only specify this configuration at the workflow level, so all artifacts must be stored in the same place UNLESS you are completely explicit.

I.e. it does not do (b). However, it does lay a lot of groud-work that would make (b) straight-forward to do.

Do you think (

[2021-01-12 17:23] alexec opened #4862 "1st-class support for non-pod resources"
# Summary

Argo Workflows primarily orchestrates the execution of workflow pods. To orchestrate an resource (e.g. EMR or SPOK operators) you must create a pod using the `resource` template creates the resource does the work for you. While this has the benefit of running in the user's namespace, with their service account and permissions, it is more complex and (if you wish to capture the status of

[2021-01-12 17:46] markterm commented on #2333
We're using it to avoid the bug in `argo node set`. I didn't realise it wasn't intended for production usage, so identifying and fixing that bug is probably more important, but we haven't had luck tracking it down so far.

[2021-01-12 17:56] davidcollom commented on #4832
@sarabala1979 Logs have been updated in my gist @ https://gist.github.com/davidcollom/9c6f7d9d1819fe922d21b3a69e561754#file-workflow-controller-logs-12-01-2021-txt

[2021-01-12 17:57] simster7 opened #4863 "Cherry-pick for v2.12.4"
* [ ] Tomáš Coufal: feat: Expose exitCode to step level metrics (#4861) (f38c9a2d7)
* [ ] Alex Collins: feat(controller): `k8s_request_total` and `workflow_condition` metrics (#4811) (45c792a59)
* [x] Simon Behar: feat: Publish images on Quay.io (#4860) (e3320d360)
* [x] Simon Behar: feat: Publish images to Quay.io (#4854) (b674aa30b)
* [ ] J.P. Zivalich: refactor: upgrade kube client version to v

[2021-01-12 17:59] alexec commented on #2333
It is expensive to run using `ALWAYS_OFFLOAD_NODE_STATUS` CPU+memory+network+disk cost will all be much higher, so your AWS bills will be higher too.

That one change may stop the issue is most cases - and reduce your bills.

I think your problem could be caused by this in fact. Do you have `ALWAYS_OFFLOAD_NODE_STATUS` when you call `argo set`?

@simster7 I've inspected `SetWorkflow` and I can see

[2021-01-12 18:01] alexec commented on #4863
I've marked 2 changes for inclusion.

[2021-01-12 18:14] markterm commented on #2333
The 'argo node set' API is working when ALWAYS_OFFLOAD_NODE_STATUS is true,
and not working when ALWAYS_OFFLOAD_NODE_STATUS is false and the node
status is compressed.

We always have ALWAYS_OFFLOAD_NODE_STATUS consistent between the API Server
and the workflow-controller.

On Tue, 12 Jan 2021 at 18:00, Alex Collins <notifications@github.com> wrote:

[2021-01-12 18:31] markterm commented on #2333
I’m not using the CLI, we only do the node set via the api server.

On Tue, 12 Jan 2021 at 18:20, Alex Collins <notifications@github.com> wrote:

[2021-01-12 18:41] alexec opened #4865 "Stream processing using pre-spun up services"
# Summary

Rather than using a pod to process each items in `withItems` it might be neat to submit the work to a service, one which could be spun up at the start of a workflows:

[code]

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-01-12 18:45] tvalasek commented on #4474
We use webhooks only. I'm not sure how we would benefit from it. Hitting Eventsource API externally with JSON payload or trigger from UI does not give us any added value. Speaking for ourselves :-)

[2021-01-12 19:45] #2333 closed

[2021-01-12 19:50] simster7 commented on #4662
Done

[2021-01-12 21:28] samath117 opened #4867 "Conditional using global parameter that changes causes workflow to freeze"
## Summary

Consider the following workflow:
[code]

This workflow sets a global parameter to `true` in its first step, which is then used as a condition to run the second nested step. If the second step runs, it changes the value of the global parameter to `false`.

However, when this workflow runs, it freezes on the second step, despite having completed its substep. Here is the `argo get` after

[2021-01-12 21:35] #4390 closed

[2021-01-13 00:38] alexec opened #4868 "Should not report error when we create a duplicate workflows for cron when this is something we expect"
[code]

[2021-01-13 07:41] book987 commented on #4822
Hi @alexec
I've just submit a PR, add an option `SkipDBMigration` in persistence configuration. Need review.

Plus, I think hardcoded SQL is not friendly for maintaining migration, also user should track SQL changes from commits. But I didn't find a good way (or popular way) managing db migration from other projects. And there's a [`ternary`](https://github.com/argoproj/argo/blob/master/persist/sq

[2021-01-13 11:07] juchaosong opened #4870 "semaphore not be released when step is finished"
## Summary

What happened/what you expected to happen?
semaphore can be released when step is finished

## Diagnostics

What Kubernetes provider are you using?
ACK

What version of Argo Workflows are you running?
v2.12.4

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-01-13 11:15] juchaosong commented on #4870
The node `gems-wf-v0-8-21db1d4b-4a2c-40b0-8ebe-228d2f53d96e-504546219`'s waiting message is `message: 'Waiting for argo-hubble/ConfigMap/gems-sync/trucksim_regenarate_template lock. Lock status: 0/9 '`. But other `synchronization. semaphore.holding.holders` is finished.

[2021-01-13 15:25] sarabala1979 commented on #4870
@juchaosong can you provide the workflow controller log?

[2021-01-13 15:52] #4863 closed

[2021-01-13 15:52] simster7 commented on #4863
Released

[2021-01-13 16:32] #4868 closed

[2021-01-13 16:47] alexec opened #4873 "Workflow resource view"
# Summary

Some workflows create resources. It might be nice to have a view similar to Argo CD to view the workflow's resources.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-01-13 17:05] simster7 commented on #4867
I identified the problem, will work on a fix

[2021-01-13 17:06] simster7 commented on #4873
Great idea!

[2021-01-13 17:20] sarabala1979 commented on #4761
K8s 1.19 client has a fix for this issue

[2021-01-13 17:20] #4761 closed

[2021-01-13 17:20] #4686 closed

[2021-01-13 17:33] sarabala1979 commented on #4832
@davidcollom I have added below extra log statement on eng build. Can you include it on your log. `grep`?
[code]

[2021-01-13 17:37] davidcollom commented on #4832
Is this in a new release/image? as I'll need to restart the pod, I've not removed any lines in the previous log, only redacted infromation.

[2021-01-13 18:03] sarabala1979 commented on #4832
@davidcollom  it is only in my eng build. Just I want to debug who is waiting and who is holding the lock.
Are you sure you are using my eng build?

[2021-01-13 18:05] davidcollom commented on #4832
[code]
Yes, confirmed we're using your eng build.

[2021-01-13 19:04] indiejames opened #4874 "Semaphores not working"
## Summary

What happened/what you expected to happen?

Running the semaphore example in the documentation (https://argoproj.github.io/argo/synchronization/) fails when tryring to look up the synchronization concurrency value from the provided configmap. The error message is
[code]

It should run without failure and use the value from the configmap to limit concurrency of the workflow execution.

[2021-01-13 19:12] alexec commented on #4874
@sarabala1979 should people be testing with v2.12.4?

[2021-01-13 19:29] simster7 commented on #4867
The issue here is that when the last pod completes, the workflow operator revisits all the nodes in the workflow in order to actually mark them as complete and finish the workflow. When it arrives at `change-global-parameter-conditionally`, however, it sees that `when: false` and no longer dives in as it did previously when the value was still `true`. Since it no longer dives to child nodes, then

[2021-01-13 20:41] samath117 commented on #4867
Thanks for looking into this! I see how the bug is happening now and there does appear to be some consistent logic being used.

That said, I initially expected the `when` conditional to be evaluated only once, when the execution of that step is started. This would just require the workflow controller it to copy/freeze its reference to the global variable to its current value. To turn this around a

[2021-01-13 20:59] indiejames commented on #4874
Just tested with v2.12.4 and it fails the same way. Perhaps an issue with Docker Desktop on Mac?

[2021-01-13 21:14] indiejames commented on #4874
FWIW I can use see the configmap with kubectl and it has the right values
[code]

[2021-01-13 21:33] sarabala1979 commented on #4874
@indiejames are you submitting the in the same namespace?  can you provide the problem workflow  yaml using `kubectl get wf <name> -o yaml`?

[2021-01-13 22:02] indiejames commented on #4874
Yes, it's the same namespace. The yam is this
[code]

[2021-01-13 23:03] simster7 commented on #4867
This is a good point on its own, I'll look into it

[2021-01-13 23:09] simster7 commented on #4867
Actually, the issue with that approach is that we, on principle, don't modify anything in the `spec:` of a workflow, and to evaluate once we would need to do so or keep the state in the `status:`, which I don't think is a good approach.

Another idea is to simply ignore the `when:` if the node already exists. There was a PR that did this recently for DAGs (https://github.com/argoproj/argo/pull/468

[2021-01-13 23:09] simster7 commented on #4867
I'll take a look

[2021-01-14 00:31] alexec opened #4875 "v3 UI Polish"
Let`s use this as an easy place to log the polishing tasks:

1. [x] Displaying Workflows in default (invalid) namespace error.
2. [x] Test again the stability of UI to disconnection.
3. [x] Namespace filter still not working correctly.
4. [x] Create workflow 'Create" button errors.
5. [x] " Workflows cannot be globally sorted when paginated" is displayed the only a few workflows are returned.
6. [

[2021-01-14 01:23] juchaosong commented on #4870
The controller log https://gist.github.com/juchaosong/e606ea193078d56aeeb9df71566983f1.

[2021-01-14 01:42] sarabala1979 commented on #4870
@juchaosong  I was working with another Semaphore issue #4832. I found a few edge case lock is not being released. I fixed and build a eng build.
Is it possible to try on your env to verify whether issue is fixed or not?
`sarabala1979/workflow-controller:mutex`

[2021-01-14 01:45] juchaosong commented on #4870
@sarabala1979 I saw the issue https://github.com/argoproj/argo/issues/4832, and I've tired the `sarabala1979/workflow-controller:mutex` image, but it' seems now working.

[2021-01-14 01:47] sarabala1979 commented on #4874
it looks like your env problem. I am able to run the workflow with the above CM and WF.
[code]

[2021-01-14 01:49] #4702 closed

[2021-01-14 01:55] alexec commented on #3523
I've updated the dev images during my white-space time today. You can test with these images:

* `alexcollinsintuit/workflow-controller:multic`
* `alexcollinsintuit/argocli:multic`

[Instructions](https://github.com/argoproj/argo/blob/89881a73015a15a52a7badbad0cbce800cbbbbae/docs/multi-cluster.md)

We really need to hear more concrete use case to progress this.

[2021-01-14 02:02] sarabala1979 commented on #4870
@juchaosong I pushed the new image few minutes before. Can you pull the new image and try it?

[2021-01-14 02:06] juchaosong commented on #4870
@sarabala1979 Okay, I'm try it.

[2021-01-14 02:16] juchaosong commented on #4870
@sarabala1979 The latest `sarabala1979/workflow-controller:mutex` image is working, the semaphore has been released after pod is finished.

[2021-01-14 03:24] alexec commented on #2042
See #3523

[2021-01-14 03:24] alexec commented on #2063
See #3523

[2021-01-14 13:58] DrissiReda opened #4876 "Suspending a workflow does nothing"
Deployed argo version v2.12.2 on kubernetes in pns mode.

Everything works fine, I just am unable to suspend any workflow. Clicking on suspend does nothing, the workflow is still displayed as running.

The only difference is in UI, the suspend button is greyed out and I can press resume, but pressing resume changes nothing again, the workflow just keeps running.

[2021-01-14 16:18] alexec commented on #4824
I’m wrong about workflow status - it can be any status the entry point is which includes skipped and omitted. While this is obviously going to be very rare, I don't think there is great benefit in fixing this.

[2021-01-14 16:37] chris-durbin commented on #4874
I repeated the instructions from the description and submitted a workflow via the UI and saw the same error.

This is in AWS using EKS with Argo version 2.11.5.

[2021-01-14 16:39] alexec commented on #4824
@jessesuen should we actually be preventing workflows from taking `Omitted` and `Skipped` phases?

[2021-01-14 16:53] duongnt commented on #4815
@alexec it's still happening after I set the qps to 100.

The UI constantly shows those workflows with 0/0 or 0/1 progress - those are the one with this Deadline exceeded issue.

![image](https://user-images.githubusercontent.com/759564/104622382-2c4c1e80-565f-11eb-855c-836857caaf3b.png)

[2021-01-14 16:56] davidcollom commented on #4832
@sarabala1979 As discussed in slack, the latest Eng Build shows some good signs of this being resolved.

The example workflow provided initially (which became stuck) completed from end to end without introversion from myself or the team.

We will continue running this build for a few days to ensure our production workflows don't show previous symptoms or any other issues ahead and report back (Mon

[2021-01-14 16:59] duongnt commented on #4815
On the cluster being under high load, we haven't made any changes. We were using a very old version (2.10.0), which didn't have this issue. If we roll back to that we don't see this issue either.

[2021-01-14 17:03] duongnt opened #4878 "Customize logging for ResourceOp"
# Summary

A pattern we're using (we guess it's a common pattern) to support launching Spark clusters through Argo is to use ResourceOp to create a SparkApplication CRD, which is then handled by the spark operator which spawns driver and executor pods.

One issue we're running into is the logs from the ResourceOp are not very readable (essentially it logs the resource yaml, and the status). Our us

[2021-01-14 17:08] alexec commented on #4815
Can I get you to test with v2.12.4? v2.12.3 included a number of fixes.

[2021-01-14 17:09] alexec commented on #4878
Are your logs in Splunk? Have you considered setting up a UI link for them?

https://argoproj.github.io/argo/links/

[2021-01-14 17:28] duongnt commented on #4815
Yeah, let me try 2.12.4 today. Last time we tried with 2.12.3 we had some issues with the Dockerfile, will file another issue if I see that again.

[2021-01-14 19:35] ermeaney opened #4880 "invalid: metadata.labels for createBy when SSO subject does not start with alphanumeric charecters"
## Summary

Submitting a workflow from the UI when SSO is enabled fails and throws a kubernetes validation error

## Diagnostics

What Kubernetes provider are you using?
EKS v1.18
What version of Argo Workflows are you running?
reproduced in 2.12.2 and 2.12.4

The error we receive is

[code]

where `_Cjks_k4UFqRHnV8IEbPNXVrhpAeJZa6It-6cxYHGD8` is the subject name in user info

looking at [argo/wor

[2021-01-14 20:00] alexec commented on #4880
would you like to submit a PR to fix?

[2021-01-14 20:03] alexec commented on #4880
https://stackoverflow.com/questions/106179/regular-expression-to-match-dns-hostname-or-ip-address

I think we must remove underscores completely, and trim hyphens from both ends. This bit of code has produced many bugs for its size.

[2021-01-14 20:40] ermeaney commented on #4880
I can see if I can work out a PR, I am seeing if I can get the compile to run so I can try and write some tests for this also.

[2021-01-14 22:02] ermeaney commented on #4880
Added a PR with fixes to clean the beginning and ends of the creator label, and added tests for it

Let me know if there is anything else

[2021-01-14 23:31] #4880 closed

[2021-01-15 00:20] seddonm1 opened #4882 "argo cron submit"
# Summary

Currently the `argo cron` CLI does not make it easy to execute an Argo `CronWorkflow` a single time as a validation that the workflow works without scheduling the job.

My proposal is we add an `argo cron submit` or modify the `argo submit` command to accept a `CronWorkflow`, unwrap the `workflowSpec` and run it a single time as per any other `argo submit`.

I can submit a PR if this pr

[2021-01-15 00:23] alexec commented on #4882
`argo submit --from cronwf/{name}'?

[2021-01-15 00:30] seddonm1 commented on #4882
I'm not sure about this because the CICD may not know the `name` parameter. We often do things like `for f in **/*.cron.yaml` -> test in CICD

[2021-01-15 00:43] alexec commented on #4882
ah - you want a dry-run create?

[2021-01-15 00:47] seddonm1 commented on #4882
What we are trying to achieve is we ultimately want to deploy `argo cron` jobs but first want to make sure the workflow will actually run (which argo has no knowledge about). So in CICD we would first do:

[code]

That would verify that the logic contained within the cron-wrapped-workflows will actually complete succesfully then if successful we would create/update the actual argo cron job:

[code

[2021-01-15 00:59] alexec commented on #4882
@simster7 what do you think about something like `argo cron create --dry-run $f`?

[2021-01-15 00:59] alexec commented on #4882
@seddonm1 have you tried `argo cron lint $f`?

[2021-01-15 01:03] seddonm1 commented on #4882
Yes but we are trying to validate the workflow contained inside the cron job will actually work (i.e. we run the DAG/Steps) not just that the workflow template is valid.

Thanks for your comments. I think we can logically do (this is for non-production only):

1. argo delete all cron jobs
2. for f in **/*.cron.yaml; do argo cron create -f $f; done
3. argo suspend all cron jobs
4. argo submit --fro

[2021-01-15 04:25] #888 closed

[2021-01-15 04:26] #4580 closed

[2021-01-15 10:35] book987 opened #4883 "support K8S json patch"
# Summary

Argo template Resource.Action support using patch, which execute `kubectl patch ...` command.

K8S has [three types of patch](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch/): strategic merge patch, JSON merge patch and JSON patch. [JSON patch body is an array](https://tools.ietf.org/html/rfc6902), which not support by Argo currently. Because

[2021-01-15 10:42] book987 commented on #4883
Plus, resource manifest validation ends with `xxx must be a valid yaml`, origin error is dropped. It might help locating error if user really submit a invalid YAML

[2021-01-15 14:15] tumido opened #4885 "Namespaced Argo raises "Forbidden" error in the UI on initial load"
## Summary

UI raises "Forbidden" notifications on the first load due to the context switching in the namespaced installs. Solved in `argocli:ui-v3`, but still affects current latest release (2.12.4), therefore I'm raising it as an issue.

## Diagnostics

1. Argo is deployed as a `--namespaced` and Argo UI is accessible without authentication.
2. User loads the `<argo_host>/` root endpoint
3. User

[2021-01-15 16:12] alexec commented on #4885
There will not be a v2.13. v2.12 will be LTS. However, if this is fixed in v3.0, then I'm not sure it is worthwhile fixing?

[2021-01-15 16:14] alexec commented on #4883
Have you tried to use `patch` with a patch encoded in YAML?

[2021-01-15 16:22] #4875 closed

[2021-01-15 16:31] alexec commented on #4634
@tomgoren we should get on a call again. When are you free?

[2021-01-15 16:32] alexec commented on #4876
I think the workflow should only suspend the when the next node starts.

@simster7 ?

[2021-01-15 17:04] simster7 commented on #4876
This is correct... nodes already running are not (and cannot) be suspended

[2021-01-15 17:08] simster7 commented on #4882
I would be against this since that functionality is already supported with `argo submit --from=cronwf/[name]`. Besides, it's not a "dry run" if a workflow actually runs.

I think @seddonm1's workaround is the preferred solution at this moment.

@seddonm1: Note that you can actually create the workflow in a suspended state. Just add `suspended: true` to the `spec:`

[2021-01-15 17:10] simster7 commented on #4882
Another solution is to have the workflow to run in a workflow template, and reference it in the cron workflow. Then, in your CI, before creating the cron workflow itself you can just do `argo submit --from wftmpl/[name]`

[2021-01-15 17:11] alexec commented on #4882
I think I'm suggesting adding a new `--dry-run` flag.

[2021-01-15 17:13] alexec opened #4886 "Workflow volume reports"
I'd like to know if we have particular busy times.

E.g. how many and how big workflows are running during the day and week?

[2021-01-15 17:14] alexec opened #4887 "Workflow volume reports"
I'd like to know which are my biggest workflows. How about a nice pie chart?

[2021-01-15 17:16] simster7 commented on #4882
Right, but if I'm not misunderstanding, the request is that the workflow runs to see if there are any runtime problems. I believe I'm not understanding what your proposed `--dry-run` flag do when used, if not run the workflow itself?

[2021-01-15 17:21] alexec opened #4888 "Rate-limiting pod creation"
Creating 1000s of pods floods and overloads Kubernetes. We should be able to control the rate at which we create resources (and therefore pods).

[2021-01-15 17:22] alexec commented on #4882
It would validate the workflow, checking that any template references exist. I think it would be easy to expose the metav1.CreateOptions.DryRun flag.

[2021-01-15 17:27] simster7 commented on #4882
`argo lint` does that already. I think the request here is that we are able to determine a DAGs runtime logic.

[2021-01-15 18:50] #4846 closed

[2021-01-15 19:39] sylock commented on #4804
I have the same issue with v2.12.4. If I check the web console I get a 503 timeout (after 30 sec) on this request:
[code]

The argo logs log this line at the moment I get the timeout:
[code]

[2021-01-15 20:09] alexec commented on #4804
Can you please try with `:latest`?

[2021-01-15 20:20] igaskin opened #4891 "UI: Conditionally Hide Cluster Workflow Template when running --namespaced"
# Summary

By design the argo-server is able to run within the scope of a single namespace.  Although the api server starts successfully, the UI still displays the Cluster Workflow Templates Icon when the server is running with the `--namespaced` flag, which will permanently display an error.  This tab should be conditionally hidden or shown based on the scope the argo-server is running in.

![Scr

[2021-01-15 21:44] seddonm1 commented on #4882
Thanks @alexec and @simster7 .

It looks like the workaround will work for our use case.

We won't add `suspend` to the `spec` as we want the production template to be the reference of what is running in production.

Thanks for your suggestions. I am happy to close if you are happy with the workaround.

[2021-01-15 21:52] #4882 closed

[2021-01-16 09:52] #4471 closed

[2021-01-17 09:19] #3709 closed

[2021-01-17 11:32] hisener opened #4894 "`workflow.parameters` cannot be referenced in `synchronization` field"
## Summary

`workflow.parameters` cannot be used in `synchronization` (both mutex and semaphore) after upgrading from v2.11.7 to v2.12.4. I am using it in `WorkflowTemplate` if that matters.

## Diagnostics

What Kubernetes provider are you using?

EKS v1.15.12-eks-31566f

What version of Argo Workflows are you running?

v2.12.4

[code]

[code]

[code]

[code]

---

**Message from the maintainers*

[2021-01-17 17:23] book987 commented on #4883
Yeah, I run [`TestValidResourceWorkflow`](https://github.com/argoproj/argo/blob/master/workflow/validate/validate_test.go#L1866) with two different `validResourceWorkflow` (I've pasted below).
Both of two test cases return `errors.argoerr(templates.whalesay.resource.manifest must be a valid yaml)`.
Dig in with breakpoint we got the same origin error: `error unmarshaling JSON: while decoding JSON:

[2021-01-17 17:37] book987 commented on #4883
I changed the code using `jsonpatch.DecodePatch` but it just support json-style patch, kubectl support both json-style and yaml-style.
I think we should support both, like kubectl do 🤔 I'll do more digging if needed.

( more like a bug report than enhancement 🤣 sorry for that

[2021-01-17 18:13] alexec commented on #4883
So array type (which would include JSON-patch) not allowed.

Could you try using a strategic-merge-patch instead?

[2021-01-17 18:14] alexec commented on #4894
@sarabala1979 ?

[2021-01-17 18:35] book987 commented on #4883
According to K8S docs, resources that doesn't specify patchStrategy=merge, like RoleBinding,  strategic-merge-patch do replace, not merge.

From my example above, I want to append subject into RoleBinding: this can be done using json-patch easily; or using json-merge-patch or strategic-merge-patch with all subjects specified, which will do replace in RoleBinding.

[2021-01-17 21:11] alexec commented on #4873
This is what I did in my Whitespace day on Wednesday. I seemed like a neat idea - but once implemented I did not think it would be useful.

[2021-01-17 21:11] #4873 closed

[2021-01-17 21:12] alexec commented on #4865
See #2729

[2021-01-17 21:12] alexec commented on #4857
We're basically limited by Kuberenetes.

[2021-01-17 21:12] #4857 closed

[2021-01-17 21:14] #4822 closed

[2021-01-17 21:38] alexec commented on #2800
Would anyone like to give this a go?

[2021-01-17 21:51] alexec opened #4897 "Sequenced containers within a single pod"
# Summary

Similar to how Tekton does it:

https://github.com/tektoncd/pipeline/tree/master/cmd/entrypoint

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-01-18 05:29] TaylorHere opened #4899 "[UI] heeboo.css not loaded on Safari"
## Summary
heeboo.css not loaded on Safari
that makes UI looks ugly
` Did not parse stylesheet at 'http://xxxxx.com/assets/styles/heebo.css' because non CSS MIME types are not allowed in strict mode. `

## Diagnostics

Alilibaba Cloud

2.14.4

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-01-18 06:15] book987 commented on #4883
K8S support YAML stype JSON-patch by [converting to JSON](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/cmd/patch/patch.go#L218)

[2021-01-18 06:47] book987 commented on #4883
I think we should support array type manifest by unmarshal it to `interface{}` instead of `unstructured.Unstructured` 🤔 for checking manifest is vaild only. My previous thought about using `jsonpatch.DecodePath` for JSON-patch was wrong, that's more like things kubectl should do.
What about this @alexec

[2021-01-18 07:54] syedshameersarwar commented on #4804
Facing the same issue, tried both v2.12.3 and v2.12.4. I also increased the ambassador request timeout from 3000ms to 10000ms, but the issue is still there.

[2021-01-18 11:30] tumido commented on #4885
Oh... Well, if v2.12 is a LTS I'd say it should be considered for fixing in the LTS branch. :slightly_smiling_face: I'll leave it up to you.

I think it's a slight annoyance but it's rather a cosmetic bug than anything else.

[2021-01-18 16:55] alexec commented on #4899
See #4739 and #4730 .

Please try `argoproj/argocli:latest`

[2021-01-18 16:56] alexec commented on #4883
Could you write a PoC to see if it works?

[2021-01-18 16:56] alexec commented on #4804
Could you please try with `argoproj/argocli:latest`?

[2021-01-18 16:57] alexec commented on #4885
Could you try on `argoproj/argocli:latest`? You will be able to run the v3.0 UI with v2.12 controller safely.

[2021-01-18 19:44] alexec commented on #2551
# Sequenced Containers the Tekton Way

Similar to how Tekton does it:

https://github.com/tektoncd/pipeline/tree/master/cmd/entrypoint

How this works:

1. The pod has a volume shared with all containers.
2. A init container copies a binary to each volume.
3. That binary replaces the original command, running the original comman as a sub-process.
4. Before it starts the sub-process, it waits for a

[2021-01-18 19:44] alexec commented on #4897
Merged into #2551

[2021-01-18 19:44] #4897 closed

[2021-01-18 19:55] alexec commented on #3961
I think we could address this simply another way. If the pod can patch the workflow, then we could directly update the status.

To avoid conflicts, and to work with node offloading. We would need a new field to store the data in.

Not sure how this scales with many patches. So we could introduce another CRD as discussed here:

https://docs.google.com/document/d/18hg6PTejp1knp5QTaCwP4j4gUTsRu4KDeKH

[2021-01-18 19:56] alexec commented on #1349
Relates to #4130 and #2551

[2021-01-18 22:36] saubaner commented on #4845
@jackstuart92 According to the Dynatrace documentation, it also supports Pod runtime injection as well as Container build-time injection which does not use mutating webhooks. Worth a try?

[2021-01-19 07:47] book987 commented on #4883
I just tested it, validation was passed but failed inside workflow-controller with almost same error...

[2021-01-19 13:05] book987 commented on #4883
Finally! Success with this: [patch](https://github.com/argoproj/argo/files/5836011/patch.txt)

[2021-01-19 13:54] ryan4yin commented on #1012
we also need this feature.

[2021-01-19 15:38] davidcollom commented on #4832
@sarabala1979 Sorry for not getting back to you yesterday. We've had no issues over the last few days and not had to restart the `workflow-controller` so looks like the latest fix is working as expected! Thank you so much!

[2021-01-19 15:52] alexec commented on #1012
Would anyone like to submit a PR for this?

[2021-01-19 15:54] alexec commented on #4883
I think you patch would mostly work. I'm pretty sure it'll fail to set ownership references (because `obj` is block-scoped). Submit a PR and add tests?

[2021-01-19 15:59] #4769 closed

[2021-01-19 16:00] #4523 closed

[2021-01-19 16:00] #4512 closed

[2021-01-19 16:02] alexec commented on #4511
@jessesuen @alexmt @rbreeze

I want to highlight that we have several components for displaying logs. It would be great if we could have a single API and UI for this, to support things like:

* Data-range search.
* Regexp/grep search
* Rendering the logs in JSON like Splunk does.
* Field extraction and search.

The backend for this is done by `pod-logger.go` in Argo Workflows that multiplexes logs

[2021-01-19 16:08] #4596 closed

[2021-01-19 16:08] #4201 closed

[2021-01-19 16:09] #4159 closed

[2021-01-19 16:09] #3888 closed

[2021-01-19 16:22] rbreeze commented on #4511
Where would the code for the shared API live? I certainly agree with having a shared UI component, and multiplexed logs sounds like it could be useful for viewing logs for a whole application at once in CD.

[2021-01-19 16:30] alexec commented on #4511
I think the react component would need to specify the API, as backend APIs would be very different. E.g.

[code]

The backend could optionally implement these. Even if it does not, the front end could filter client-side.

[2021-01-19 16:46] nwaistd opened #4903 "AllFailed, AnySucceeded not working"
I installed Argo using https://raw.githubusercontent.com/argoproj/argo/stable/manifests/quick-start-postgres.yaml file on minikube on MacBook.

I tested the following workflow using `kubectl apply -f <FILE_PATH>` command.

[code]

And it keeps showing `Failed: invalid spec: templates.entry.tasks.B task result 'All' for task 'A' is invalid` message.

When I changed to `depends: A.AnySucceeded`, it

[2021-01-19 16:48] alexec commented on #4903
@simster7 is this only available in v2.12 and onwards?

[2021-01-19 16:57] sarabala1979 commented on #4832
@davidcollom Thanks for your update and help. PR is already in review. It will be released next upcoming release

[2021-01-19 17:03] simster7 commented on #4903
This will be a v3 feature, not yet released

[2021-01-19 17:03] #4903 closed

[2021-01-19 17:03] simster7 opened #4904 "v2.12.5 cherry-pick"
* [x] Saravanan Balasubramanian: fix: Mutex not being released on step completion (#4847) (929cd50e4)
* [ ] Alex Collins: fix(ui): UI bug fixes (#4895) (c1f9280a2)
* [ ] Yuan Tang: feat: Support specifying the pattern for transient and retryable errors (#4889) (25abd1a03)
* [ ] Alex Collins: build: on a dev branch automatically start the UI (#4896) (0c5ebbba4)
* [ ] Alex Collins: Revert "feat(cli)

[2021-01-19 17:09] alexec commented on #4904
Just one fix from me.

I think we should exclude #4861 unless there is a pressing reason? It's a feature, not a fix.

[2021-01-19 17:47] #4832 closed

[2021-01-19 17:47] #4870 closed

[2021-01-19 18:40] simster7 commented on #4904
Sure

[2021-01-19 18:45] sarabala1979 commented on #4894
I will take a look

[2021-01-19 18:49] sarabala1979 commented on #4894
Current design `spec` level `synchronization` doesn't support the parameter substitution.  But Template level `synchronization` will support the parameter substitution.

[code]

[2021-01-19 18:55] alexec commented on #4804
I believe this is fixed in v3.0. Closing.

[2021-01-19 18:55] alexec commented on #4844
This can be a problem, in v2.11. Should not be an issue in v2.12.

[2021-01-19 19:14] hisener commented on #4894
Is there any plan to support it at the workflow level?

[2021-01-19 19:18] sarabala1979 commented on #4833
It might be a k3d issue. Workflow didn't start on time. Currently, it is not happening.  We will keep eye on it.

[2021-01-19 19:18] #4833 closed

[2021-01-19 19:38] sarabala1979 opened #4905 "Handling missed Workflow delete event for the workflow which is holding or waiting for Synchronization lock"
# Summary

What change needs making?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-01-19 19:57] sarabala1979 commented on #4894
Currently, we don't have a plan. Please create an enhancements Issue. Based on thumbs up. we will prioritize.

[2021-01-19 20:18] hisener commented on #4894
Can we rename this issue and edit labels?

[2021-01-19 22:50] simster7 commented on #4846
This fix is out on https://github.com/argoproj/argo/releases/tag/v2.12.5

[2021-01-19 22:50] simster7 commented on #4880
This fix is out on https://github.com/argoproj/argo/releases/tag/v2.12.5

[2021-01-19 22:55] simster7 commented on #4904
Released

[2021-01-19 22:55] #4904 closed

[2021-01-20 02:34] thundergolfer commented on #4348
We're using `v2.12.3` and I still observe this issue, but with the URL being populated with a workflow ID. I took a video of the behaviour, but can't upload as it contains private info. Step-wise, the behaviour is:

1. Go to Argo UI. Url is `<BASE_URL>/workflows/foo-bar-workflow-jlc54`
2. Navigate to "Archived Workflows" tab, and URL is populated as `<BASE_URL>/archived-workflows/foo-bar-workflow-

[2021-01-20 03:09] alexec commented on #4348
can you try with `:latest`?

[2021-01-20 09:32] book987 commented on #4883
PR submited.
I wrote a e2e test but default service account doesn't have enough permission to do some K8S operation, how can I solve this? 😢

I think it'll work fine 🤔
- `obj` is in same block with set ownership reference, manifest will unmarshal to `unstructed.Unstructed{}` when needed
- action patch shouldn't specify setOwnerReference, it just update a K8S resource in place, shouldn't set owners

[2021-01-20 11:24] Deepa050 opened #4910 "Unable to resume workflow for a particular node when multiple nodes are suspended"
## Summary

I have two nodes suspended and I am trying to resume one of them using API  and nodefieldselector as display name

## Diagnostics

argo version

argo: v2.12.3
  BuildDate: 2021-01-05T00:49:48Z
  GitCommit: 93ee530126cc1fc154ada84d5656ca82d491dc7f
  GitTreeState: clean
  GitTag: v2.12.3
  GoVersion: go1.13
  Compiler: gc
  Platform: darwin/amd64

I have 3 workflow templates created.

1s

[2021-01-20 16:13] Atharex opened #4912 "Workflow not continuing because of wait container stuck in running state"
## Summary

My issue seems to be very similar to https://github.com/argoproj/argo/issues/4678, however I am not running any monitoring/dynatrace in the background, though I am storing outputs into a local Minio installation

**What happened/what you expected to happen?**
A workflow gets stuck on the first step. The main container finishes successfully, but the wait container gets stuck in a runnin

[2021-01-20 16:15] simster7 commented on #4910
Will take a look

[2021-01-20 16:16] simster7 commented on #4912
Will take a look

[2021-01-20 17:07] benhackett4 commented on #4846
@simster7 Wow that was fast, thanks a lot!! Yay!

[2021-01-20 17:35] chazguerrero commented on #826
we are getting this again in AKS 1.19.3 is anyone else?

[2021-01-20 17:40] simster7 commented on #4912
This is odd. The log line "Deadline monitor stop" hints that the main function of the wait container exited correctly, because that line is only printed once the context ends (i.e. when the main function returns).

[code]

If the main function exits correctly, I'm not sure what would cause the `wait` container to be kept as running. It's clear from the workflow pod details that something is off, b

[2021-01-20 18:18] alexec opened #4915 "Shared workspace"
# Summary

An abstraction over volumes that allows all nodes in a workflow to access a shared workspace or reading and writing files.

# Use Cases

Simpler than artifacts.

See #4130
---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-01-20 19:02] indiejames commented on #4874
Tried v2.12.5 and still seeing the same behavior.

[2021-01-20 19:10] #3184 closed

[2021-01-20 19:10] #3307 closed

[2021-01-20 21:20] sarabala1979 commented on #4874
@chris-durbin Please make sure you are submitting to the same namespace from UI.

[2021-01-20 21:28] kennytrytek-wf opened #4917 "Identify A Workflow Archive Process From Argo Events"
# Summary

If I use Argo Events to emit events on `workflow` resources, I receive an event indicating that a workflow is deleted when the archive process runs. However, deleting a workflow does not guarantee it was archived; it may have only been deleted.

I would like some kind of information to exist on the event that indicates the workflow has been archived.

<details><summary>Here is an exampl

[2021-01-20 21:53] sarabala1979 commented on #4874
time="2021-01-13T18:22:38Z" level=info msg="Marking workflow completed" namespace=argo workflow=synchronization-wf-level-jscns

Based above log, controller able to find `configmap` but it doesn't find the `workflow`.  Can you provide live configmap using `kubectl get cm my-config -o yaml`

[2021-01-21 01:49] #4824 closed

[2021-01-21 09:13] dsetty25 commented on #4447
Hi , I tried in incognito as wellbut same issue exists.

Currently I have added in server-deployment.yaml
          args:
          - server
          - --auth-mode
          - sso
And in values.yaml
  sso:
    # #SSO configuration when SSO is specified as a server auth mode.
    # #All the values are requied. SSO is activated by adding --auth-mode=sso
    # #to the server command line.
    #

[2021-01-21 11:41] Atharex commented on #4912
It happens every time and only with the wait container. Is there anywhere else in Argo I can look at for more debug information?

Can't think of anything particular what could influence Argo on the cluster side, but I'll take a look also

[2021-01-21 13:43] chris-durbin commented on #4874
Tested again with the same error message.

I'm using the 'argo' namespace when I create the ConfigMap and the same 'argo' namespace when I submit the workflow.

[2021-01-21 16:10] #4883 closed

[2021-01-21 16:28] sarabala1979 commented on #4874
@chris-durbin can you provide the output of `kubectl get cm my-config -o yaml -n argo`?  This feature is working as expected in locally and in our environment also. Can we have a quick zoom call?

[2021-01-21 16:56] alexec opened #4920 "reduce the time that `yarn build` takes"
I think we can reduce the time that `yarn build` takes from 3m to around 30s by following these instructions:

https://medium.com/ottofellercom/0-100-in-two-seconds-speed-up-webpack-465de691ed4a

As this primarily impacts release builds, I'm not sure of the day-to-day value.

@simster7 FYI

[2021-01-21 19:38] alexec opened #4922 "Utilise generation to reduce reconciliation by up-to 2x"
# Summary

@whynowy is working on a change to argo-events that reduces reconciliations. Could be up to 2x improvement.

* Also reduces noise in log files.
* Risky?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-01-21 20:09] alexec opened #4923 "Correct misconceptions about Argo Workflows+ Python"
# Summary

Example: https://www.datarevenue.com/en-blog/airflow-vs-luigi-vs-argo-vs-mlflow-vs-kubeflow

We should document or blog about this with help from @terrytangyuan .

See https://github.com/kubeflow/pipelines/issues/3253 too.

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-01-21 22:14] arnoldrw commented on #1282
Recently we ran into not 1, but 3 separate race conditions while working with argo in a test environment with istio enabled.

I am posting this in hopes that it helps others, as certain aspects of this are covered in this issue but they are done through replies that can be hard to follow. In addition I believe case 3 may be a new one on this issue, and case 1 has a potential change to previous sol

[2021-01-21 22:43] alexec commented on #4923
WIP: https://docs.google.com/document/d/1gtQ-Vd0BkO_wep3QtBtpzzYmdpOYsTtt6yisnSfxDW0/edit#

[2021-01-21 22:43] alexec commented on #4923
@liorshk  @terrytangyuan would you like to feedback on the doc above?

[2021-01-21 23:57] alexec commented on #2679
I think this issue will be moot with the Emissary Executor.

[What is the Emissary Executor](https://github.com/argoproj/argo/blob/22f4d26ec059ad86b9c409ffe25392261a22afba/docs/workflow-executors.md#emissary-emissary)?

Why?

* As fast as the fastest executor (`docker`)
* As secure as the securest executor (`k8iapi`).
* Every feature of all other executors.

@terrytangyuan @Ark-kun would you be ab

[2021-01-22 00:08] alexec commented on #4923
@binarycrayo would you be able to help with this blog post? I'd like to include an example of coin flip using https://github.com/argoproj-labs/argo-client-python/issues.

[2021-01-22 02:09] atombender opened #4927 "Workflow with multiple daemons in steps stuck"
## Summary

My workflow with multiple daemon steps does not move to the next step despite all daemons running.

If I remove one of the containers (any of them), it works. So it's not any individual container.

I have confirmed that the containers all start up and respond to readiness probes.

## Diagnostics

What Kubernetes provider are you using? GKE.

What version of Argo Workflows are you runni

[2021-01-22 02:14] alexec commented on #4927
I get `ImagePullBackoff` with these workflows. Any chance of getting an example that doesn't contain private images?

[2021-01-22 02:15] atombender commented on #4927
Sorry, no, these are private.

But I had a breakthrough: I noticed the `parallelism: 3` in the workflow. If I set `parallelism` to 10, it works. Could it be that the wrong default parallelism is inferred, preventing the next steps from being scheduled?

[2021-01-22 02:15] atombender commented on #4927
Edit: I can try making a reproducible example with public images.

[2021-01-22 06:20] fredkan opened #4928 "Argo not Update task status immediately and lead to pod deleted"
## Summary
When task got the terminating signal, argo does not update node status immediately.

Argo waits about 2minutes to update node status which make the dependency confusion；

Issue: When the above situation happens，the terminated task is recreated and the dependency task is also starting.

[code]

[2021-01-22 08:12] dsetty25 commented on #4844
I am getting the same issue with 2.12.2 as well.

[2021-01-22 10:02] fredkan commented on #4928
@xianlubird  any comments?

[2021-01-22 11:02] tumido commented on #4885
Yes, that is a possible workaround which works just fine in my dev env (similar to running `argocli:ui-v3`). However it's not viable in our anything-else-than-dev envs (we would be running mismatched version containers) + it does not actually solve the issue for the 2.12 branch.

Overall, I'd say this is more of an cosmetic issue than anything else. :slightly_smiling_face: It depends if you want t

[2021-01-22 16:29] alexec commented on #4885
Let's keep this issue and decide based on 👍 if we fix it. You're welcome to submit a PR for the release-2.12 branch of course.

[2021-01-22 16:30] alexec commented on #4928
Can you please add reproduction steps?

[2021-01-22 16:35] alexec commented on #4844
Can you please attach the service account, role and role binding for argo-server?

[2021-01-22 17:09] sarabala1979 commented on #4874
@indiejames @chris-durbin  thanks for the support. Found the issue configmap creation in @indiejames env and fix it.
Entire configamp yaml add as the value in this configmap.

Not working  Configmap:
[code]

Working Configmap:
[code]

[2021-01-22 17:09] #4874 closed

[2021-01-22 17:10] #3551 closed

[2021-01-23 01:14] krrrr38 opened #4936 "Add selected ServiceAccount into user-info.tsx when enable RBAC"
# Summary

Please add selected ServiceAccount into `user-info.tsx` to check which SA is used on WebUI?

https://github.com/argoproj/argo/blob/9d4edaef47c2674861d5352e2ae6ecb10bcbb8f1/server/auth/gatekeeper.go#L232

https://github.com/argoproj/argo/blob/9d4edaef47c2674861d5352e2ae6ecb10bcbb8f1/ui/src/app/userinfo/components/user-info.tsx#L38-L46

# Use Cases

When enable RBAC, sometimes user groups

[2021-01-23 17:56] #4136 closed

[2021-01-23 18:38] alexec commented on #4936
Great idea! Would you like to raise a PR to add this feature?

[2021-01-23 18:46] alexec opened #4938 "Investigate potential use of ephemeral volumes? Kubernetes 1.19"
# Summary

Can we use this instead of costly PVCs?

https://kubernetes.io/docs/concepts/storage/ephemeral-volumes/

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-01-23 22:04] krrrr38 commented on #4936
Thanks. Unfortunately I changed my pc to M1 mac, which doesn't work docker-for-mac preview. Anyone can try this feature.

[2021-01-24 17:28] alexec commented on #3790
Slides: https://docs.google.com/presentation/d/16XNk33fmMXvAZq7S5mCt0UrvFTtYcfBps-XUOAEv8MM/edit?usp=sharing

[2021-01-24 21:27] #4510 closed

[2021-01-25 03:29] fredkan commented on #4928
unfortunatly, it is hard to reproduce.
we submit hundreds of tasks, and sometimes meet one case.

[2021-01-25 08:20] covidium opened #4942 "SSO with RBAC fails when using email addresses (works on latest)"
## Summary

What happened/what you expected to happen?
- After enabling SSO the next step was to enable Google Auth and with it authorization based on the email address. This feature already had a PR #4644 already merged into master. The issue is that the feature works properly using the latest tag, but doesn't work with the latest release.
- Any plans to include the PR #4644 in the next release?

[2021-01-25 09:27] sylock commented on #4680
Pull request sent: https://github.com/argoproj/argo/pull/4943

[2021-01-25 09:27] #4680 closed

[2021-01-25 14:16] terrytangyuan commented on #4923
Yes, I'll comment on the doc directly.

[2021-01-25 15:37] alexec commented on #4942
I’ve had at least 3 requests to back port this feature to 2.12.

Hopefully this will happen, maybe even this week @simster7

[2021-01-25 15:40] alexec commented on #4928
I’ve also noticed this. Unreliable. Will investigate.

[2021-01-25 17:40] simster7 opened #4945 "v2.12.6 cherry-pick"
* [ ] nishant-d: docs: add Devtron labs to USERS.md (#4939) 2254ac905
* [ ] Alex Collins: fix(ui): v3 UI tweaks (#4933) 9d4edaef4
* [ ] Alex Collins: build: Faster `make start`, faster smoke jobs (#4926) 8f2f42760
* [ ] tczhao: fix(ui): fix object-editor text render issue (#4921) 2d73d58a5
* [ ] BOOK: feat: support K8S json patch (#4908) 6e961ec92
* [ ] Alex Collins: chore: Introduce `WorkflowPhas

[2021-01-25 17:54] alexec commented on #4945
Done. Nothing to add.

[2021-01-25 20:25] simster7 commented on #4612
This is out on https://github.com/argoproj/argo/releases/tag/v2.12.6

[2021-01-25 20:25] simster7 commented on #4942
This is out on https://github.com/argoproj/argo/releases/tag/v2.12.6

[2021-01-25 20:25] #4942 closed

[2021-01-25 21:39] #4905 closed

[2021-01-26 00:02] simster7 commented on #4945
Released

[2021-01-26 00:02] #4945 closed

[2021-01-26 00:57] alexec commented on #4922
This will not work.

[2021-01-26 00:57] #4922 closed

[2021-01-26 14:53] sylock commented on #4804
I don't see any v3.0 branch or release: https://github.com/argoproj/argo/releases

[2021-01-26 15:29] simonfrey opened #4949 "Can't access dag task results from sibling task"
I would like to access the result of a dag.task in a sibbling task (Last line in the example) which fails to resolve with the follwoing error:
[code]

Workflow:

[code]

[2021-01-26 16:15] simster7 commented on #4949
Will take a look

[2021-01-26 16:34] alexec commented on #4949
We should think about a new syntax for conditions and artifacts using the expr library we introduced for enhanced depends logic. This would allow much more power

[2021-01-26 16:47] snowzach opened #4950 "Workflow hangs and odd linkage errors when using retryStrategy in workflowDefaults and withParam"
## Summary
I am running a simple workflow. I was having issues with workflows randomly failing. I added retryStrategy to the defaultWorkflow options to have it basically auto-retry anything that failed. It seems like it's causing random hangs in my workflows during the onExit stage. I am starting to wonder  if it's also related to the withParam section of my workflow as without that I had a much h

[2021-01-26 17:25] #4487 closed

[2021-01-26 17:44] simster7 commented on #4950
Will take a look

[2021-01-26 17:48] simster7 commented on #4700
Done

[2021-01-26 17:48] #4700 closed

[2021-01-26 17:49] #4910 closed

[2021-01-26 18:09] simster7 commented on #4949
Pretty sure this is not currently supported and would require an enhancement request. You're welcome to contribute or wait for demand for this to crop up

[2021-01-26 18:10] simster7 commented on #4949
From a quick intuition, it doesn't seem like it would be too easy to implement though

[2021-01-26 20:39] scompt commented on #1451
@alexec Can you provide some insight into what a mergeable solution for this could look like? I've also used CSS in the past to distinguish environments and it seems like a decent idea. It would also allow some rudimentary branding/customization.

The first idea that comes to mind would be to add a key to the [Workflow Controller Configmap](https://argoproj.github.io/argo/workflow-controller-confi

[2021-01-26 21:51] alexec commented on #1451
I think it should go in the config map too. That way we can pass it to workflow pods.

I suggest it's just called `environment`. This will need to be returned via the `GetInfo` endpoint so that the UI can inspect the value. It can then add a `class` to the (see app-router.tsx) identifying the environment.

Rather than CSS, I suggest that we add a floating icon next `<ChatButton/>`.

@alexmt we sho

[2021-01-27 04:20] #4751 closed

[2021-01-27 08:18] njlkj opened #4956 "Workflow cannot be deleted by TTL when templates have a daemon node"
## Summary

What happened/what you expected to happen?

Workflow  should be auto deleted by ttl controller, but because of `daemon ` node,workflow  cannot be set completed.I think  `!woc.hasDaemonNodes()` can't be used as a judgment condition.

[code]

## Diagnostics

What Kubernetes provider are you using?
v1.18.3
What version of Argo Workflows are you running?
latest
[code]

[code]

---

**Messa

[2021-01-27 10:01] sundbing commented on #826
we have exact the same problem in AKS on 1.19.6

[2021-01-27 10:08] simonfrey commented on #4949
@simster7 Thanks for checking it out. Do you have a workaround in mind that I could use to get `tasks.main.dag.tasks.say1.outputs.result` from the sibling (maybe with a slightly more complicated structure?)

[2021-01-27 10:27] simonfrey commented on #4584
Example produces the same issue for me on v2.12.2

Whalesay only outputs the params without replacing it:
`print-nums` task:
[code]

[2021-01-27 12:22] peterbourgon commented on #4786
The PR does not resolve this issue. [See comments here](https://github.com/argoproj/argo/pull/4916#discussion_r561214858).

[2021-01-27 14:46] simster7 commented on #4949
Excellent, thanks so much @simonfrey. Will close this, as this is the preferred solution

[2021-01-27 14:46] #4949 closed

[2021-01-27 15:23] alexec commented on #4956
Can you please attach the YAML for your workflow? It should use public images so we can run it.

[2021-01-27 15:25] alexec commented on #826
Can you please raise a new issue?

[2021-01-27 17:07] bklaubos commented on #762
@jessesuen @lippertmarkus :
**argo resubmit workflowname --memoized**  - will this work even if all the pods(regardless of status) has been deleted but its artifacts had been saved to S3?

**argo retry** - will this work even if all the pods(regardless of status) has been deleted but its artifacts had been saved to S3?

[2021-01-27 17:27] bklaubos commented on #2320
@simster7 A few questions:
My context is as follows: I run a workflow, went for lunch and comes back and found the workflow failed but the workflow has been deleted(with all its pods) but I still have the whole workflow plus its state metadata(NodePhases) and artifacts saved to a database which I can retrieved and rehydrate back to the argo workflow
1. Would "resubmit --memoized" automatically reu

[2021-01-27 17:38] simster7 commented on #2320
Neither would work, both `resubmit` and `retry` depend on a live Workflow object on K8s. What you could do is create the failed Workflow object back to K8s. Since it is already marked as Failed it will not run. Then you can use `retry` or `resubmit` as needed

[2021-01-27 18:36] bklaubos commented on #2320
@simster7 Thanks. Your answer makes sense.

[2021-01-27 18:41] simster7 commented on #4786
Fixed in https://github.com/argoproj/argo/pull/4959

[2021-01-27 18:41] #4786 closed

[2021-01-27 21:40] dimoes commented on #4804
Do you have the link to the fix?

[2021-01-27 23:34] #4936 closed

[2021-01-28 03:18] njlkj commented on #4956
[code]

[2021-01-28 03:47] kennytrytek commented on #4234
I'd be willing to take a stab at this one. Looks like https://github.com/argoproj/argo/blob/master/docs/running-locally.md has steps for local setup for iterating on the UI, so I should be good there.

[2021-01-28 16:14] simster7 commented on #4234
This should already be on the newly merged UI. Please check before starting work

[2021-01-28 17:32] juliusvonkohout commented on #2679
I have tested it with kubeflow pipelines 1.3

There are only minor issues.
1. op.set_security_context(V1SecurityContext(run_as_user=1000))
leads to permission errors in /var/argo/templates
But without that addition all pipelines finished successfully with runasnonroot.

2. Kubeflow pipelines runs with argo 2.7.5 by default. So the artifacts etc where successfully uploaded to minio. Nevertheless it

[2021-01-28 17:51] alexec commented on #2679
I don't plan to backport the emissary to v2.12. It's a big and therefore risky change.

[2021-01-28 17:51] alexec commented on #2679
I think v2.12 is the right version for Kubeflow. I'd like us to get more involved and help out with Kubeflow more. Can you add me to the PR you're working on please?

[2021-01-28 18:03] juliusvonkohout commented on #2679
Well if the interfaces are somewhat compatible its fine. Then i just have to use the upstream argoexec and workflow-controller images for the emissary executor. That worked for 2.7.5 with 2.11 images as far as i remember.

https://github.com/kubeflow/pipelines/issues/4553 is the issue for argo 2.12 in kubeflow
and i think you are already in the conversation because of https://github.com/argoproj/a

[2021-01-28 18:10] Guillermogsjc commented on #3545
@dynamicmindset @alexec do you confirm Dag level outputs artifacts and parameters as a feature or this is not on the roadmap neither done?

As @dynamicmindset sais, it is a very strong feature to allow composable structures where subdags are built as WorkflowTemplate, being called with input parameters as steps or tasks, nested inside a dag.

[2021-01-28 18:30] austinpray-mixpanel commented on #2890
We are experiencing some pain around links from our internal users 404ing pretty quickly. @alexec said he'd be interested in a PR, so gonna take a look at implementing this 🔜

[2021-01-28 20:34] alexec commented on #1256
It appears to me today that we must grant privileged for this to work.

[2021-01-28 21:17] alexec commented on #1256
Maybe fixed in https://github.com/argoproj/argo/pull/4954.

[2021-01-28 21:49] tomgoren opened #4965 "Metrics are missing"
## Summary

The team implemented some great new metrics but they were not included in the latest releases.

e.g.: https://github.com/argoproj/argo/commit/45c792a59052db20da74713b29bdcd1145fc6748 not in v2.12.6

See: https://github.com/argoproj/argo/tree/v2.12.6/workflow/metrics vs. https://github.com/argoproj/argo/tree/45c792a59052db20da74713b29bdcd1145fc6748/workflow/metrics

Thanks!
---

**Messa

[2021-01-29 00:39] simster7 commented on #4965
@alexec Should we back port this?

[2021-01-29 00:43] alexec commented on #4965
It's quite a big change. @tomgoren thanks for all your help on this in December. Is there a particular metric you're after? It might be easy to cherry-pick one selectively

[2021-01-29 01:12] tomgoren commented on #4965
Nothing urgent! I think they would each be informative in their own way. `k8s_request_total` would probably be the most useful at the moment, seeing as in EKS information about the control plane is limited.

That said, I think this is only a "bug" so long as [the docs](https://github.com/argoproj/argo/blob/master/docs/metrics.md#default-controller-metrics) include info about metrics that aren't ye

[2021-01-29 02:40] nabilm commented on #3790
Perfect , do we know what time will be the event ?

[2021-01-29 08:17] jsoref opened #4969 "UI: Two identical filter buttons that do different things"
## Summary

What happened/what you expected to happen?

There are two adjacent filter widgets.

1. Visit https://workflows.apps.argoproj.io/event-flow/argo?showWorkflows=true&expanded=true
![image](https://user-images.githubusercontent.com/2119212/106249301-32eea000-61e0-11eb-8537-8cb1dc52bd33.png)

## Expected results

* either use different icons or merge the functionality (as done in argo-cd)
*

[2021-01-29 08:19] jsoref opened #4970 "UI: Don't use a toggle for yaml where the opposite means json"
## Summary

What happened/what you expected to happen?
On off toggles should be intuitive.

There's nothing intuitive that would hint that the opposite of yaml is json

https://workflows.apps.argoproj.io/event-sources/argo?sidePanel=true
![image](https://user-images.githubusercontent.com/2119212/106249734-bc05d700-61e0-11eb-98e3-49a35e865ea3.png)
![image](https://user-images.githubusercontent.com/

[2021-01-29 15:14] bklaubos commented on #2320
@simster7  One more question:
**argo resubmit workflowname --memoized** - will this reuse artifact outputs(from S3) from previous workflow run?

[2021-01-29 15:29] simster7 commented on #4970
Drop down? @alexec

[2021-01-29 15:31] simster7 commented on #4969
@alexec I have a foggy memory, did we agree to revert this to the merged filter? One with both NodeStatus and NodeType?

[2021-01-29 15:39] alexec commented on #4969
I think we talked about how this wasn't a great usability and it might be nice to have a single filter widget, so I think we all agree.

I'd think we should have a single button and it opens a much larger and easier to use set of boxes.

And `-` is weird.

@simster7 do you want to own, or shall I?

[2021-01-29 15:40] alexec commented on #4970
Maybe change this to a button rather than a toggle? Either it says "JSON" or "YAML"?

[2021-01-29 15:43] simster7 commented on #4969
@alexec I'll own. I had already made this change, not sure why it didn't make it

[2021-01-29 15:44] alexec commented on #4969
Make it big and easy to use please!

[2021-01-29 15:44] alexec opened #4971 "v3: event-flow seems to be ignore new workflows"

[2021-01-29 16:37] #4815 closed

[2021-01-29 16:37] #4878 closed

[2021-01-29 16:37] #4634 closed

[2021-01-29 17:39] krinskyj commented on #4767
Since this changed, these examples probably need to be updated:
https://github.com/argoproj/argo/blob/master/examples/pod-spec-patch-wf-tmpl.yaml
https://github.com/argoproj/argo/blob/master/examples/pod-spec-yaml-patch.yaml

[2021-01-29 18:57] jsoref opened #4973 "horizontal/vertical buttons have different dimensions and are a poor UX"
## Summary

What happened/what you expected to happen?

## Steps

1. visit https://workflows.apps.argoproj.io/workflows/argo/coinflip-1611945900?tab=workflow
2. click the ➡️  or ⬇️  (repeatedly)

https://user-images.githubusercontent.com/2119212/106315567-690c3e00-6239-11eb-9233-ec5e9fa00e54.mov

Expected results: As with the bug about yaml/json, don't use a button like this. Two buttons side by s

[2021-01-29 18:59] jsoref opened #4974 "Checkboxes should have labels text adjacent to buttons"
## Summary

What happened/what you expected to happen?

### Happened

Archived Workflows
- [ ] .

https://blog.argoproj.io/whats-coming-up-in-argo-workflows-v2-12-3899bae53562
![](https://miro.medium.com/max/1400/1*Xn57r-_pGY-DLysnX1wDhw.png)

### Expected

   - [ ] Archived Workflows

## Diagnostics

What Kubernetes provider are you using?

What version of Argo Workflows are you running?

[code]

[2021-01-29 19:06] jsoref opened #4975 "showWorkflows Buttons / text aren't aligned"
## Summary

What happened/what you expected to happen?

https://workflows.apps.argoproj.io/event-flow/argo?showWorkflows=true&selectedNode=argo/Sensor/log&tab=events

https://user-images.githubusercontent.com/2119212/106316570-f8662100-623a-11eb-8efa-faf81e15b462.mov

## Diagnostics

What Kubernetes provider are you using?

What version of Argo Workflows are you running?

[code]

[code]

---

**Me

[2021-01-29 19:08] alexec opened #4976 "surface workflow failure message"
This is a bit hidden today. You must open the workflow, then click on the root node.

We could add it to the workflow list.

[2021-01-30 18:17] #3564 closed

[2021-01-31 07:09] rkrmr33 opened #4981 "When linting workflows any other manifest type fails the lint instead of being ignored"
## Summary

What happened/what you expected to happen?

When I use the argo cli command: `argo lint ./my-manifests` I expected it to ignore other manifest types (workflow-templates, cron-workflow, etc...), because it says in the log:
[code]

But instead of ignoring the workflow-template it then outputs:
[code]
What version of Argo Workflows are you running?
v2.12.6

---

**Message from the maintai

[2021-01-31 07:17] arckey commented on #3728
@alexec I'll be happy to submit a PR for this feature, and also for #4981  if you want.

[2021-01-31 09:16] changhc commented on #4418
If no one is working on this, I'd like to take it.

[2021-02-01 07:16] joyciep opened #4984 "Cross Origin Requests"
# Summary

Allow CORS by adding a way to set the "Access-Control-Allow-Origin" headers

What change needs making?

Something like

[code]

# Use Cases

When would you use this?

For making requests from my web application to Argo under the origin of `http://localhost:8080` for example.
I can issue a PR for this since this is just setting an HTTP header.

---

**Message from the maintainers**:

Imp

[2021-02-01 08:01] book987 commented on #4052
Once supported, it might be used for archiving container logs
Currently we save logs to artifact location after main container completed.
But I think users want to use more Kafka ability like routing log to Kafka in realtime.
Worth for consideration? 🤔

[2021-02-01 10:00] madhuresh04 commented on #2600
We are facing the same Issue.

[2021-02-01 14:47] dylanhellems opened #4985 "Default annotations for workflow pods"
# Summary

It would be useful to have the ability to set default annotations for all pods in a workflow via the default workflow spec. Perhaps pods in a workflow could inherit the annotations on the workflow itself? Or another configuration option could be added for this purpose.

# Use Cases

We use kube2iam for AWS access which includes our s3 artifact repository. Unless I'm missing something, i

[2021-02-01 14:56] StefanoFioravanzo commented on #2793
@alexec I got a bit lost in the discussion and the several linked issues. Is there a way to `argo lint` a workflow yaml in an offline mode or not?

[2021-02-01 15:46] alexec commented on #4981
would you like to submit a PR to fix?

[2021-02-01 15:47] alexec commented on #4984
would you like to submit a PR to add this?

[2021-02-01 15:47] alexec commented on #4984
actually, this might be in v3.0?

[2021-02-01 15:48] alexec commented on #4985
would you like to submit a PR to add this feature?

[2021-02-01 15:53] arckey commented on #4981
@alexec I'll be happy to continue from where you left off with: https://github.com/argoproj/argo/pull/3734/files, if that's ok :)

[2021-02-01 17:00] simster7 opened #4986 "v2.12.7 cherry-pick"
* [ ] Simon Behar: fix: Use button in side panel links (#4977) d324b43c7
* [ ] Alex Collins: docs: Fix broken docs (#4967) 2672a933b
* [ ] Alex Collins: fix: Surface the underlying error on wait timeout. (#4966) 655c7e253
* [ ] Alex Collins: fix: Correct usage of wait.ExponentialBackoff (#4962) a00aa3257
* [ ] Simon Behar: docs: Specify states to ensure clean state when releaseing (#4963) faa3363f

[2021-02-01 17:45] #4899 closed

[2021-02-01 17:57] alexec commented on #4986
Can we please add the metrics commit?

[2021-02-01 17:57] alexec commented on #4986
Also, once this is done. We should move immediately to v3.0.0-rc1

[2021-02-01 18:19] alexec commented on #4981
please go for it!

[2021-02-01 19:22] jaketsuyemura commented on #4804
Experiencing the exact same issue using `v2.12.6`. Also tried with `latest` with the same results. Using ambassador hosted on Azure AKS.

Did not experience this issue on minikube with no Ambassador present.

[2021-02-01 19:50] #2738 closed

[2021-02-01 21:06] Talador12 commented on #2382
Not sure why, but I have this error too. We had our argo-server running over the weekend , and this came up. I have never interacted with any argo history postgres database, so not sure how to fix or proceed

[2021-02-01 21:25] simster7 commented on #4986
@alexec To claify: you mean #4952 right?

Fully agree

[2021-02-01 21:26] alexec commented on #4986
Correct.

[2021-02-02 00:27] simster7 commented on #4986
Released

[2021-02-02 00:27] #4986 closed

[2021-02-02 00:42] alexec commented on #4975
thank you - @jsoref - would you like to submit a PR to help fix some of these issues?

[2021-02-02 00:43] alexec commented on #4965
I think this is backported to v2.12 today by @simster7

[2021-02-02 00:44] #4923 closed

[2021-02-02 00:45] alexec commented on #4917
what version are you running? >v2.12ish?

[2021-02-02 00:46] #4765 closed

[2021-02-02 00:47] #4012 closed

[2021-02-02 00:50] alexec opened #4988 "Stream processing using `mkfifo`"
Can we mount an empty dir on the wait container and the main container, and then have the wait container read from a Kafka topic and write the data to the FIFO as a JSON stream?

https://en.wikipedia.org/wiki/JSON_streaming

[code]

https://github.com/argoproj/argo/issues/2729

[2021-02-02 00:50] alexec commented on #4988
This is just a sidecar!

[2021-02-02 00:54] alexec commented on #1256
v3.0 will have a controller envvar name `PNS_PRIVILEGED`.

[2021-02-02 00:55] #1256 closed

[2021-02-02 01:08] tomgoren commented on #4965
I saw a metrics related patch introduced in 2.12.7, but not https://github.com/argoproj/argo/commit/45c792a59052db20da74713b29bdcd1145fc6748. Thank you!

[2021-02-02 01:15] alexec commented on #4965
Looks like #4751 (#4952) was but not #4811.

[2021-02-02 01:15] alexec commented on #4965
@simster7 if we do v2.11.8 then we should add #4811.

[2021-02-02 01:18] jsoref commented on #4975
I think for the time being I'm going to skip the UI items I've filed recently. I'm going to work on some of the CI items. If no one picks them up, I might circle back in the summer.

[2021-02-02 02:12] alexec commented on #4988
[code]

[2021-02-02 04:33] kennytrytek commented on #4917
Looks like v2.11.7 right now.

[2021-02-02 05:21] alexec commented on #4917
To determine that a workflow has been archived you may look for `workflows.argoproj.io/workflow-archiving-status: Archived`. Only completed workflows are archived, it is possible to delete workflows before they can be completed and therefore before they are archived.

[2021-02-02 05:29] kennytrytek-wf commented on #4917
I assume `workflows.argoproj.io/workflow-archiving-status` will be a label on the Workflow object? If so, why doesn't that label appear in the event included in the description?
[code]
Is there any way to receive that information through the Event stream?

[2021-02-02 07:40] Deepa050 opened #4991 ""token not valid for running mode" after SSO authentication"
## Summary

Argo UI comes back to login page with error `{"code":16,"message":"token not valid for running mode”}` after completing SSO user authentication.

## Diagnostics

argo version:
argo: v2.12.3
  BuildDate: 2021-01-05T00:49:48Z
  GitCommit: 93ee530126cc1fc154ada84d5656ca82d491dc7f
  GitTreeState: clean
  GitTag: v2.12.3
  GoVersion: go1.13
  Compiler: gc
  Platform: darwin/amd64

I have ad

[2021-02-02 09:02] joyciep commented on #4984
Submitted a PR for this #4990. Thanks!

[2021-02-02 09:31] RysBen opened #4993 "wait container | Failed to establish pod watch ... dial tcp i/o timeout"
## Summary

Hi all,

We submit hundreds of workflows at specific times of the day. The status of some steps in workflows would be "Error/Failed", and MESSAGE is as follows:
[code]
At first, I thought it was caused by overloading the cluster. After observing it for a while, I found that **the problem was all happening on the wait container**, and main containers were normal. Why is it? And is there

[2021-02-02 14:48] alexec commented on #4917
Could it be due to this label?

workflows.argoproj.io/archive-strategy": "false"

Presumably you’ve added this to prevent archiving?

[2021-02-02 14:49] alexec commented on #4991
Did you also add —autho-mode=sso?

[2021-02-02 14:54] dylanhellems commented on #4985
I can look into it when I have time; it's really more of a nice to have than a necessity.

[2021-02-02 15:41] saitoy1 commented on #4508
Adding this comment to keep this issue alive. I can work around it but fixing it would be nicer.

[2021-02-02 15:56] kennytrytek-wf commented on #4917
It is possible that label is related, though that is not something I have set and the archive process still happens automatically as configured in the controller:
[code]

Is there some other setting I need to change that would cause different labels to be used or produce different events?

[2021-02-02 16:07] alexec commented on #4917
If you've not set it, someone has. This label was set on the workflow itself. Can you confirm if that is the case for others?

[2021-02-02 16:18] #4782 closed

[2021-02-02 17:11] simster7 opened #4997 "Remove all deprecated code before v3.0.0 release"

[2021-02-02 19:08] #4844 closed

[2021-02-02 20:43] mildewey commented on #2793
This is still a PROBLEM. Running an argo server is not acceptable for something that's supposed to be _linting_. It's not a unit test. It's not a dry run. It's not supposed to know if the parameters are passed in right. It's not supposed to know about other workflows and whether or not they exist.

It just needs to lint it and make sure that no one did something like:
[code]
(real live example tha

[2021-02-02 21:19] alexec commented on #2793
I think it is reasonable to be able to lint offline. I think you need to implement some API. See linked PR?

[2021-02-02 22:53] #4969 closed

[2021-02-03 01:44] changhc commented on #4418
This is done and I think we can close it.
![image](https://user-images.githubusercontent.com/4591982/106685943-bd147b00-65c9-11eb-8e15-db56567ad91d.png)

[2021-02-03 04:21] Bobgy opened #5001 "Artifact repository agnostic key-only artifacts"
# Summary

I was looking at the new key-only artifact support: https://github.com/argoproj/argo/pull/4618.
It looks awesome and very useful.

However, it seems to me that there's a missing piece. A workflow may use key-only artifacts like the example:
https://github.com/argoproj/argo/blob/master/examples/key-only-artifact.yaml
[code]

However, the definition is still tied to s3. I think it helps i

[2021-02-03 04:23] kennytrytek commented on #4917
Yes, if I submit the Hello World example:
[code]

I see these labels on the Workflow metadata while it's running:
[code]

After the workflow completes successfully, it is immediately archived as expected per the controller configuration. From the archived-workflows API I can see these labels now on the Workflow metadata:
[code]

[2021-02-03 05:56] Deepa050 commented on #4991
Yes I did. Below is the yaml for argo-server.  Application goes through the entire SSO authentication successfully but fails to run after that. Can you also confirm if using JWT token doesnt impact in anyway since argo document says it uses JWE.
[code]

[2021-02-03 06:55] StefanoFioravanzo commented on #2793
@alexec  What PR are you referring to? There are several linked to this issue. Can you just confirm this: is there or is there not a way to lint offline, or some workaround to achieve that?

[2021-02-03 09:56] leventebo opened #5002 "Workflow with daemon task never finishes"
## Summary

I have a workflow with 2 tasks, the first one being daemon. After upgrading to the latest controller version (from 2.11.3 to 2.17.7) the workflow never finishes, despite the fact that all the steps and the entire workflow are successful. This worked fine before the update (there was a finished timestamp)

## Diagnostics

What Kubernetes provider are you using?

I am using minikube with

[2021-02-03 14:56] #2314 closed

[2021-02-03 14:57] #3485 closed

[2021-02-03 16:19] alexec commented on #5002
@simster7 I think we should add a new e2e test suite for workflows with daemoned tasks. It is seems missing. Would you like to do this as part of your investigation? E.g. `DaemonedPodSuite` ?

[2021-02-03 16:20] alexec commented on #2793
You can lint offline, as long as you do not use template references.

[2021-02-03 16:21] alexec commented on #2793
There are three PRs linked to this issue that contain POCs for improving/generalizing linting. It's not a priority for the core team right now (we're focused on v3.0) so it'd be awesome if someone could pick them up.

[2021-02-03 16:22] simster7 commented on #5002
Yes, absolutely

[2021-02-03 16:23] alexec commented on #4991
It does not make sense to have groups without RBAC enabled. Groups are only used for RBAC.

[code]

[2021-02-03 16:23] clementlecorre opened #5003 "exitCode not working with continueOn"
## Summary

What happened/what you expected to happen?

I see a bug when I use the `continueOn` function and the `exitCode` variable. It stays in the form `{{tasks.task1.exitCode}}` it is never replaced.

## Diagnostics

What Kubernetes provider are you using?

AWS/EKS: v1.17.12-eks-7684af

What version of Argo Workflows are you running?

argo-server: v2.12.6

[code]

I see in my job failed-task1:

[2021-02-03 16:25] alexec commented on #5001
Nice idea. Would you like to submit a PR?

[2021-02-03 16:28] simster7 commented on #5003
Will take a look

[2021-02-03 16:29] alexec opened #5004 "v3: update base images"
 
--
HOut-of-bounds WriteVulnerability in curl/libcurl3-gnutls 7.64.0-4+deb10u1. No remediation available yet.HImproper Certificate ValidationVulnerability in curl/libcurl3-gnutls 7.64.0-4+deb10u1. No remediation available yet.HArbitrary Code InjectionVulnerability in curl/libcurl3-gnutls 7.64.0-4+deb10u1. No remediation available yet. | H | Out-of-bounds WriteVulnerability in curl/libcurl3-gnutls

[2021-02-03 16:56] #4984 closed

[2021-02-03 17:13] simster7 commented on #5002
Seems like this bug has been in the codebase for a long time...

[2021-02-03 17:18] sylock opened #5006 "Recurring UI problems when watching the workflow running"
## Summary

When watching for a just started workflow, I get every 10-20 sec a UI error. This makes the product currently not usable for production because you are interrupted every x seconds in your UI browsing.

Screenshot of the UI:
![2021-02-03_18h10_43](https://user-images.githubusercontent.com/2362405/106783280-6d769380-664b-11eb-893e-2e84d3f514f0.png)

From the console:
![2021-02-03_18h10_3

[2021-02-03 17:45] alexec commented on #5006
No one else is complaining about this issue. Similar issues are a problem when running Nginx or other proxies in front of Argo Workflows.

You can try `argoproj/argocli:latest`. If it is still a problem with that version, then you most likely have some network issues and should speak to your network operator.

[2021-02-03 17:46] sylock opened #5008 "Argo cli skip-tls-verify does not skip as expected"
## Summary

When using argo cli targetting argo server exposed by a reverse proxy with a self-signed certificate (edge is the reverse proxy), I get  an error saying that the certificate is signed by unknown authority.
I did set the flags `--insecure-skip-tls-verify` an `--insecure-skip-verify`

The argo targetted is a development environment. That's why the certificate is not valid.

[code]

[code

[2021-02-03 18:00] alexec commented on #5008
Please can you follow the HTTP1 instructions here:

https://argoproj.github.io/argo/cli/argo/

[2021-02-03 18:01] sylock commented on #5006
I am in latest.

I tried with disabled browsing proxy and I still get the same.

There is a proxy in front of the argo-server but I guess you support this configuration since it is the usual architecture for any production grade setup. It you have any hint that could be usefull for troubleshooting it would be of great help.

[2021-02-03 18:17] sylock commented on #5008
I tried another way:

The env variables:
[code]

Argo list in verbose mode:
[code]

[2021-02-03 18:35] alexec commented on #5008
Try `ARGO_HTTP1=true`

[2021-02-03 18:47] rmgpinto commented on #2550
I have a similar case as @mac9416
Are multiple semaphores supported? cc @sarabala1979

[2021-02-03 20:10] #5004 closed

[2021-02-03 20:15] sarabala1979 commented on #2550
@rmgpinto yes, multiple semaphores is supported

[2021-02-03 21:17] rmgpinto commented on #2550
How would that work?

[code]
?

[2021-02-03 21:19] sylock commented on #5008
I tried 2 other ways with different errors:

### With HTTP1 enabled:

These env were set:
[code]

Verbose argo list
[code]

### Without HTTP1:
I thought I should get the same result than my first try (when opening the case) but it seems I don't get the same when using the environment variables in place of the cli flags.

Environment variables:
[code]

Verbose argo list:
[code]

[2021-02-03 21:34] sarabala1979 commented on #2550
@rmgpinto Oh, I miss understood. This will not be supported.

[2021-02-03 21:56] alexec commented on #5008
This is broken for HTTP1. Need to investigate GRPC.

[2021-02-03 22:29] alexec commented on #5008
Odd. GRPC works for me.

[2021-02-03 22:37] sylock commented on #5008
I will investigate from my side. My current hypothesis is that my reverse proxy in front of argo cause this grpc problem. And could be also related to #5006.

[2021-02-03 23:44] alexec commented on #795
We don't use ❤️  for prioritising, we use 👍 . Please thumbs up rather than heart.

[2021-02-03 23:50] alexec commented on #4152
Could be solved by #795.

[2021-02-03 23:51] alexec commented on #1031
See #4988

[2021-02-04 03:04] lixiv opened #5016 "argo server --kubeconfig not work when behind nginx reverse proxy"
## Summary

run argo server use kubeconfig:
[code]

I can access argo ui directly by http://xxx:2476, everything is normal.
But when I put argo server behind a nginx reverse proxy and access from nginx, argo server try access apiserver using the serviceaccount instead of the specified kubeconfig, errors occured.
After I add authentication header in nginx conf,  access problems solved.

---

**Mess

[2021-02-04 03:46] kennytrytek commented on #4234
Got the UI set up locally and confirmed this issue is still present in the latest commit in this repo.
<details><summary>Using this workflow template</summary>
<p>

[code]

</p>
</details>

![submit-whalesay](https://user-images.githubusercontent.com/6892590/106842071-e89a7280-6668-11eb-889e-3279fe1863a0.gif)

It is expected that when I select the "whalesay-template-two" template in the dropdown,

[2021-02-04 04:37] alexec commented on #5016
I’m not sure that running as server supports the kubeconfig flag at all.

Have you disabled autmountServiceAccountToken? (Not sure of the exact spelling).

[2021-02-04 06:27] lixiv commented on #5016
From official documents, the automountServiceAccountToken belongs to workflow, does argo server also have the automountServiceAccountToken?

[2021-02-04 07:41] Bobgy commented on #4355
A brief update,

We are designing and prototyping KFP v2 and our current design heavily relies on argo existing features to add the lifecycle hooks.

The gist is that
* Inject a Control Pod before each KFP task/sub-graph
* The control pod can do things like, reading data from an external service; publishing data to an external service; making cache decisions; data aggregation after parallel for, e

[2021-02-04 08:22] Bobgy commented on #5001
Thanks for confirming this makes sense to you too.

For my schedule, not yet right now. When I get to the point I need this in a short term, I will consider contributing it.

[2021-02-04 09:36] xenteros opened #5018 "CronWorkflowServiceApi#create_cron_workflow returns malformed CronWorkflowStatus"
## Summary

When I create CronWorkflow with a client generated based on swagger.json I receive a response which isn't compliant to the OpenAPI spec.

The response contains CronWorkflowStatus which has 3 mandatory fields but they are nulls.

## Diagnostics

What Kubernetes provider are you using?
AWS EKS
What version of Argo Workflows are you running?
2.12.6

## Possible solution

Remove status fro

[2021-02-04 09:46] rmgpinto commented on #2550
I have workflows A, B and C.
I want to let only 1 instance of workflow A or B to run at the same time, but they can run in parallel.
I know this can be done with distinct semaphores, one for each workflow A or B.
But is there a way to have C only run if no workflows of A or B are running? (if I create a lock, then workflow A cannot run if B is running and vice-versa)
Is there a way to ensure the s

[2021-02-04 14:34] simster7 commented on #5018
Can you please include a sample response?

[2021-02-04 14:52] simster7 commented on #5003
@clementlecorre The main issue here is that `task1` in `{{tasks.task1.exitCode}}` is actually a `RetryNode` (i.e. it has a `retryStrategy` and can have multiple node children). So it's ambiguous to choose which of the children's exit codes to display.

If each child fails with a different exit code, how do you propose we choose one to display under the parent retry node? What would make sense for

[2021-02-04 15:21] jsoref opened #5020 "Bad word wrapping"
## Summary

Bad word wrapping

1. Visit https://workflows.apps.argoproj.io/workflows/argo/github-event-1612451942?tab=workflow
2. See
![image](https://user-images.githubusercontent.com/2119212/106913993-9726cd80-66d2-11eb-9542-9d95c1f7dfda.png)
3. Expect `github-event-` + `1612451942`
4. See `github-even` + `t-1612451942`

## Diagnostics

What Kubernetes provider are you using?

What version of Ar

[2021-02-04 15:37] alexec commented on #4355
@jessesuen I’ve proposed non-pod tasks as part of multi cluster. But I think we might want to consider a plugin system instead. That would allow people to write Golang plug-ins that becomes part of the workflow lifecycle, and implement things like template executors.  I believe that pod, http, and data templates could be implemented this way.

[2021-02-04 15:48] jsoref commented on #5020
Not eagerly. I'm not a user of workflows. (I'm slightly more likely to make PRs to ArgoCD which I at least use regularly.)

I'm currently trying to close out some positions.

I think this is a good first bug 😺

[2021-02-04 16:25] kennytrytek-wf commented on #4917
😮 I'm sorry, I did not realize that the hello-world example has the archive strategy label explicitly set to false. I removed that label, resubmitted, and got this result from `/api/v1/archived-workflows/81eae824-0569-4423-9e1d-a0f60a0396c9`:
[code]

The `workflow-archiving-status` label is never changed from "Pending", even though the workflow is currently archived.

[2021-02-04 16:46] #5002 closed

[2021-02-04 16:53] alexec commented on #4917
Correct. When we save the workflow into the archive, it is not archived. So this value is pending. The workflow in etcd will say `Archived`. Odd, but accurate.

[2021-02-04 17:23] sarabala1979 commented on #2550
@rmgpinto Please go-ahead to create an enhancement issue with your use-case and example.

[2021-02-04 17:34] rmgpinto opened #5022 "Support for multi lock or semaphores"
# Summary

Support for multi lock or semaphores

# Use Cases

We have a case where we have multiple data pipelines pulling from  different data sources and a pipeline compiling data models at the end.
Some of these pipelines can run different strategies (full at 1 am, incremental pulls every 10 mins or they can be triggered on-demand). Let's call them `A` and `B`.
Let's call the other pipeline `C`

[2021-02-04 17:45] book987 opened #5023 "Support using jsonPath and jqFilter in non-resource template"
# Summary

Currently, we support the use of jsonPath and jqFilter in resource templates, which are based on the kubectl -o option.  It is indeed powerful and convenient, but it is only suitable for resource templates.
I propose supporting this powerful feature on other types of templates' output parameters.  Although users should respond to conversion failures, I think the benefits it brings to us

[2021-02-04 18:02] sarabala1979 opened #5024 "Concurrency policy error"
## Summary

What happened/what you expected to happen?
level=error msg="Concurrency policy error: error stopping workflow test-cron-wf-1612456860: &{{{%!e(string=) %!e(string=)} {%!e(string=) %!e(string=) %!e(string=) %!e(*int64=<nil>)} %!e(string=Failure) %!e(string=workflows.argoproj.io \"test-cron-wf-1612456860\" not found) %!e(v1.StatusReason=NotFound) %!e(*v1.StatusDetails=&{test-cron-wf-1612

[2021-02-04 19:12] #4912 closed

[2021-02-04 19:18] alexec opened #5025 "Plugins"
It would be good to have a system of plugins that do the following:

* Allow new template types to be easily introduced without impacting core controller code, e.g. HTTP template (#795)
* Tap into the workflow lifecycle, e.g. #4355
* Integrate with third party tools like Kafka.
* Write notification plugins.

Additionally, the ability for users to create plugis would allow us to grow the ecosystem.

[2021-02-04 19:21] #4971 closed

[2021-02-04 20:29] worms opened #5027 "Output parameters visible in UI"
# Summary

Output artifacts are visible in the UI but output parameters are not.
Ideally we could see the output parameters.

# Use Cases

All the time when debugging workflows.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-02-04 20:48] vic-c137 commented on #4804
Also experiencing the same issue on `v2.12.7` which is `latest` at the time of posting. @alexec can you point to a PR where you believe the fix exists?

[2021-02-04 21:21] alexec commented on #4804
This is not fixed in v3.0, but it appears the problem only occurs when a proxy is in front of the server.

Typically proxies (e.g. Nginx/Apache) disconnect the event-stream and need configuring with longer keep-alive timeouts.

https://stackoverflow.com/questions/13672743/eventsource-server-sent-events-through-nginx

[2021-02-04 21:56] vic-c137 commented on #4804
Thank you for this info @alexec! We'll investigate our proxy config.

[2021-02-04 22:14] #4804 closed

[2021-02-04 22:41] dylanhellems commented on #4985
PR up: https://github.com/argoproj/argo/pull/5031

[2021-02-05 01:52] #5027 closed

[2021-02-05 02:31] Bobgy commented on #5025
I'd hope plugins can evolve as independently as possible.

Did you ever consider REST/gRPC plugins? It might share some of the issues you mentioned with http templates, but now it's clear they will talk to a single configured trusted server, so some problems like auth and user permissions no longer apply.

[2021-02-05 02:45] alexec commented on #5025
Do you mean this?

https://github.com/hashicorp/go-plugin

[2021-02-05 03:53] Bobgy commented on #5025
I was only thinking about the problem architecturally and I didn't know hashicorp/go-plugin before.
But, that sounds like a great match!

(referenced from the reddit link)

The limitation on golang plugin seems unacceptable as a plugin purpose.

[2021-02-05 05:13] alexec commented on #5025
Golang plugins require you to have GCO_ENABLED=true. This means you cannot cross-compile binaries.

[2021-02-05 06:11] #5024 closed

[2021-02-05 09:48] poltro90 opened #5034 "Share checksum for each release archive"
# Summary

Since the official way to install an Argo release is done by downloading, extracting, and executing an archive downloaded from GitHub, it'd be useful to include the archive checksum for each platform, so to be able to verify integrity before extracting and executing the install.

# Use Cases

This is useful on the first install of Argo on each personal or remote machine, but also within

[2021-02-05 10:17] Deepa050 commented on #4991
I tried this but same issue.

[2021-02-05 14:20] alexec commented on #5034
Would this just be sha256sum of the binaries?

[2021-02-05 14:51] simster7 commented on #5034
I can add this to the release process

[2021-02-05 15:32] simster7 commented on #4991
Possibly fixed by: https://github.com/argoproj/argo/pull/4735

Please try upgrading

[2021-02-05 16:11] alexec commented on #5034
This should probably be similar to the brew  formula.

[2021-02-05 16:22] alexec commented on #4976
@simster7 @sarabala1979 thoughts on this? I.e. adding`status.message` to the workflow list page. Useful?

[2021-02-05 16:34] Atharex opened #5037 "UI: Dark mode"
# Summary

Would be great if Argo UI could support a dark mode

# Use Cases

## When would you use this?
Probably all the time

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-02-05 16:54] clementlecorre commented on #5003
I see the problem ... @simster7
I'm thinking of return the last error code from the last job I retry (by default). To have something precise in the use of argo, I think of a solution :
It would be necessary to add a new variable for example: `{[tasks.task1.allExitCode}}` which returns a list of int

in my case of 2 retry I would have : `[137, -1]`

[2021-02-05 18:04] simster7 commented on #5037
This would be a great issue for a community PR

[2021-02-05 18:18] alexec commented on #5025
More reading material:

* https://7thzero.com/blog/golang-w-sqlite3-docker-scratch-image
* https://stackoverflow.com/questions/15165306/compile-a-static-binary-which-code-there-a-function-gethostbyname
* https://medium.com/@chemidy/create-the-smallest-and-secured-golang-docker-image-based-on-scratch-4752223b7324

[2021-02-05 19:30] kennytrytek-wf commented on #5037
As a workaround, [Dark Reader](https://github.com/darkreader/darkreader) does a pretty good job:

![Screen Shot 2021-02-05 at 1 27 16 PM](https://user-images.githubusercontent.com/1466480/107079758-ea258100-67b5-11eb-97ae-79dfab086ea1.png)

I use this configuration:
[code]

[2021-02-05 23:09] alexec commented on #5025
Golang Plugin (GP) vs HashiCorp Plugin (HP)

Aside: I think we should consider supporting both.

**Build:**

* GP must be built using the same tooling as this binary. Effectively, you must provide a build harness for users to use, and likely build their plugins for them as part of your build. You must build and package with `glibc`, and `CGO_ENABALED=`, this is much easier with multi-platform Dock

[2021-02-06 12:35] sestegra opened #5038 "CI examples don't work"
## Summary

When submitting `examples/ci.yaml` or `examples/ci-output-artifact.yaml`, the workflow fails on `build` step.

## Diagnostics

What Kubernetes provider are you using?
Kind

What version of Argo Workflows are you running?
v2.12.7

Following workflows are impacted
`examples/ci.yaml`
`examples/ci-output-artifact.yaml`

See following logs from `build` step
[code]

---

**Message from the m

[2021-02-06 17:32] simster7 commented on #5038
Closed by https://github.com/argoproj/argo/pull/5039

[2021-02-06 17:32] #5038 closed

[2021-02-06 18:29] #4613 closed

[2021-02-06 23:56] Bobgy commented on #5025
So, talking about use-cases, it seems GP can be a good fit for first party maintained optional plugins.

[2021-02-07 00:21] alexec commented on #5025
I think we can and should build an RPC (or JSON RPC) plugin as a Go plugins.

[2021-02-08 08:54] VictoryAnn opened #5041 "a referring WorkflowTemplate as Workflow and using WorkflowTemplates's entrypoint and Workflow Arguments"
## Summary

[code]
I create the workflow, but get error that ```Failed to submit workflow: spec.entrypoint is required```

## Diagnostics

What Kubernetes provider are you using?

Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.2", GitCommit:"f5743093fd1c663cb0cbc89748f730662345d44d", GitTreeState:"clean", BuildDate:"2020-09-16T13:41:02Z", GoVersion:"go1.15", Compiler:"gc", P

[2021-02-08 12:01] krrrr38 opened #5042 "default template spec on workflow-controller-configmap"
# Summary

1.Add `templateDefaults` into workflow-controller-configmap like https://argoproj.github.io/argo/default-workflow-specs/
2. execute workflow expanding templates using `templateDefaults`

# Use Cases

Currently we can collect all workflow metrics using `workflowDefaults` easily.
Template-level metrics also can be collected like https://argoproj.github.io/argo/metrics/#metric-spec. But th

[2021-02-08 14:33] terrytangyuan commented on #4467
@jessesuen @alexec @sarabala1979 Do you know if there's a reason for writing the creation and status checking for resource type template in kubectl? We have the following two issues when using this at scale:
1. We want to stay away from long-running connections via `kubectl get -w` for various reasons, e.g. better control of status checking calls. We observe constant connection drops for some of o

[2021-02-08 15:18] sarabala1979 commented on #5041
@VictoryAnn  You can pass entrypoint with ‘—entry point’ option’

argo submit  <wf.yaml> —entrypoint main

[2021-02-08 16:10] rory-lamendola opened #5044 "Slack invite link is broken again"
## Summary

When using the:
1. slack invite link in the readme
2. submitting an issue -> chat on slack

I get an Invitation expired error.
![image](https://user-images.githubusercontent.com/29575390/107241280-13c5ee80-69e8-11eb-95ca-d521fa74f1ef.png)

I see this has been an ongoing [issue](https://github.com/argoproj/argo/issues/3711)

---

**Message from the maintainers**:

Impacted by this bug?

[2021-02-08 16:34] simster7 commented on #5042
Out of curiosity: what metric would be you be interested in capturing for all templates?

[2021-02-08 16:38] simster7 commented on #5044
Will update the link

[2021-02-08 16:41] simster7 commented on #5044
@rory-lamendola The link is working as-is for me (I used `https://argoproj.github.io/community/join-slack`):
<img width="562" alt="image" src="https://user-images.githubusercontent.com/614838/107251606-5fc56300-69e9-11eb-8dc3-3823bdad4517.png">

What link did you use?

[2021-02-08 17:23] #1012 closed

[2021-02-08 18:42] alexec commented on #5025
I'm really happy with my PoC. You can build your plugins as a Golang plugin. One of the Golang plugins will proxy requests via JSON-RPC. You can add a sidecar to the workflow-controller that services the RPC requests, so the deployment of the plugin is trivial.

I think JSON-RPC will work for most use cases, but you can always write a Golang plugin if you want.

[2021-02-08 19:36] alexec opened #5046 "Termination grace period is multiplied by time.Second erronously"
[code]

@tczhao

[2021-02-08 20:21] #5008 closed

[2021-02-08 20:29] dudicoco commented on #3523
Isn't multi namespace already supported?
I assume this could be done by using a cluster scope installation, but instead of creating a cluster role, create roles in each namespace you would like argo to have access to.

[2021-02-08 20:45] tczhao commented on #5046
Sorry, I don't understand what the issue is. Do you mean that the terminationGracePeriodDuration should embed the time.Second information
Could you point me in the right direction?

[2021-02-08 21:01] tczhao commented on #5046
It is working like this at the moment
[code]

[code]

The terminationGracePeriodDuration is a multiplier factor
(A Duration represents the elapsed time between two instants as an int64 nanosecond count)

I think we are using it correctly

[2021-02-08 21:08] alexec commented on #5046
What about my example?

[code]

[2021-02-08 21:09] alexec commented on #5046
Should terminationGracePeriodDuration be `int` not `time.Second`

[2021-02-08 21:17] tczhao commented on #5046
Yes, your example does produce a very big number

but in our case, we are casting it using time.Duration instead of time.Second

[code]
*pod.Spec.TerminationGracePeriodSeconds is int64

[2021-02-08 21:35] krrrr38 commented on #5042
I want to collect `exec_duration` for each steps.

[2021-02-08 21:42] simster7 opened #5048 "v2.12.8 cherry-pick"
* [x] Alex Collins: fix(cli): Add insecure-skip-verify for HTTP1. Fixes #5008 (#5015) 425173a28
* [ ] Yuan Tang: chore: Reuse LookupEnvDurationOr to parse duration from environment variables (#5032) 3edb55c19
* [ ] Alastair Maw: M is demonstrably not less than 1 in the examples (#5021) 48b669cca
* [ ] tczhao: feat(controller): configurable terminationGracePeriodSeconds (#4940) 5915a2164
* [ ] Stép

[2021-02-08 23:00] alexec commented on #5046
To be clear, `time.Second` is specifically defined as ` 1000 * Millisecond`.

It NEVER makes sense to multiple `time.Duration` by `time.Second`

This is the fix to the code:

[code]

[2021-02-08 23:07] tczhao commented on #5046
ok, I get your points now.
This definitely makes more sense

[2021-02-08 23:36] krrrr38 commented on #5042
I wrote the yaml expand example here.

<details>
<summary>templateDefaults expands workflow example</summary>

1. setup configmap with `templateDefaults`
[code]

2. prepare WorkflowTemplate using `templates`

[code]

then expand workflow like following.

[code]
</details>

----

But, I know that [there is template duration metrics, but not exists step duration metrics currently](https://argoproj.g

[2021-02-08 23:36] #5042 closed

[2021-02-08 23:39] jelther opened #5050 "Cronworkflows create workflows in "Pending" state"
This is a very hard scenario to reproduce:

I have several Cronworkflows with `concurrencyPolicy` as `Forbid` and now and then I see that my workflows are stuck in a `Pending`  state without any log from `workflow-controller`.

The problem solves itself when I restart the workflow-controller but since they are critical, this is not a solution.

All CronWorkflow configurations are similar to this:

[2021-02-09 00:19] pires commented on #4524
@alexec can you please provide a link of the PR/issue to track the fix?

[2021-02-09 01:13] #5041 closed

[2021-02-09 05:02] simster7 commented on #5048
Released

[2021-02-09 05:02] #5048 closed

[2021-02-09 09:17] hibnico opened #5051 "Runtime error while submitting a workflow"
## Summary

I am trying to use workflow template. I have submitted my first try at it, so probably the workflow is not well shaped, but the workflow controller is having a runtime error trying to handle the workflow.

## Diagnostics

What Kubernetes provider are you using?

It is a self hosted one, 1.12.

What version of Argo Workflows are you running?

I first got the error with Argo 2.12.6. I tr

[2021-02-09 12:47] Siebjee commented on #1428
@ks4225 in the particular way how Azure DevOps as made this fairly awkward i did find a way to work around this.

secret.yaml:
[code]

And within your workflow:
[code]

I hope this helps for those searching.

[2021-02-09 13:31] Smeuh opened #5052 "Stop & Terminate not working on recursive workflow"
Hello,

The stop and Terminate do not work on a recursive workflow, even with the demo recursion coinflip.

## Summary

What happened/what you expected to happen?

I launched the coinflip workflow, waited until the first flip was done and then clicked on "stop" or "terminate".

What happened => the workflow finished as normal.
What I expected => the workflow stop with the stop or terminate message

[2021-02-09 13:46] boehb-efs opened #5053 "Token-Refresh not implemented in argo-server?"
## Summary

In a sso-environment the token is not refreshed (especially irksome, when one tries to define an extensive Workflow).

Instead of refreshing the token after expiration, one runs into an Unauthorized-Error and is redirected to the login-page...

## Diagnostics

Kubernetes-Environment: Azure Kubernetes Service, Kubernetes-Version: 1.15.10
Argo-Version: 2.11.7 (via helm) with --auth-mode=

[2021-02-09 15:25] simster7 commented on #5051
Will take a look at this

[2021-02-09 15:26] simster7 commented on #5052
Will take a look

[2021-02-09 15:38] goock opened #5054 "v3.0.0-rc1: ui does not display fail hosts"
## Summary

The retry node stopped displaying `FAIL HOSTS` in UI.

![image](https://user-images.githubusercontent.com/10375055/107385667-63451100-6af3-11eb-9846-7e1694029aec.png)

I'm the author of the PR that introduces the change `feat(controller): Add retry on different host` https://github.com/argoproj/argo/pull/4679
I will submit PR to fix this.

## Diagnostics

What Kubernetes provider are y

[2021-02-09 16:13] alexec commented on #795
@Bobgy I'm trying to ascertain if we should implement a 1st-class HTTP template, or a more general RPC plugin template.

[2021-02-09 16:19] alexec commented on #5053
How often are you asked to log back in?

[2021-02-09 16:22] alexec commented on #1031
I think that #4988 duplicates this issue.

[2021-02-09 16:30] hibnico commented on #5051
There were indeed mistakes in the submitted resources. The main one was about creating the workflow without providing a value to the expected argument. As soon as the workflow argument was removed, I didn't get the runtime error anymore. It would be nice though if Argo could indicate the proper error rather than falling into a runtime one.

[2021-02-09 16:46] simster7 commented on #5054
Thank you, assigned

[2021-02-09 16:47] simster7 commented on #5051
Definitely. `invalid memory address or nil pointer dereference` is never an acceptable error message

[2021-02-09 16:49] simster7 commented on #5051
How did you create your workflow templates? When I try to create them I get a linting error

[2021-02-09 16:55] hibnico commented on #5051
I was pushing them directly via kubectl, so that the workflow templates get pushed too.

[2021-02-09 17:02] boehb-efs commented on #5053
Our jwt-Token is valid for 15 minutes, extending the expiration-time is not really an option I would like to take...

[2021-02-09 17:07] simster7 commented on #5052
So the workflow does eventually end, but it takes a while because we still allow pod creation. I opened a PR to fix this

[2021-02-09 17:21] alexec commented on #5053
In v2.12, when we log you in, we issue you your own JWE. That change came in f7e85f04b11fd65e45b9408d5413be3bbb95e5cb:

   feat(server): Make Argo Server issue own JWE for SSO. Fixes #4027 & #3873 (#4095)

That JWE has an expiry time of 10h.

You should not be logged out for 10h. Are you logged out before that?

[2021-02-09 17:33] simster7 commented on #5051
Gotcha. I'd make use of the argo CLI's linter, these are what catch and give useful errors. Using `kubectl` directly comes with an implied "at your own risk".

[2021-02-09 17:33] #5051 closed

[2021-02-09 17:41] Smeuh commented on #5052
Ok thank you for your quick answer.

[2021-02-09 19:10] #4787 closed

[2021-02-09 19:38] alexec commented on #3790
For 10am PST:

https://intuit.zoom.us/j/98908002342?pwd=VDhjdlN5VUZSTmxGOHRjNUZCaktEZz09&from=addon

[2021-02-09 22:04] anggao commented on #3790
I think you mean `10th Feb 2021` 😄

[2021-02-09 22:30] mac9416 opened #5061 "Support regex validation of input parameters"
# Summary

(I feel like I've mentioned this in another issue, but I can't find it.)

Argo should accept a `pattern` attribute for parameters to perform regex validation. If the parameter value doesn't match the regex, the workflow should fail.

Example syntax:

[code]

# Use Cases

When an input parameter gets used in a script, regex validation would be helpful to avoid code injection.

Take this

[2021-02-09 23:03] shadiramadan commented on #3523
@alexec For background on our use case:

We have 4 environments - each are separate clusters.

One is an 'operations' cluster that has argo-workflows installed.  The rest are dev, staging, and production.

We have a workflow that updates multiple data stores with a lot of data.

Instead of 3 argo installations / UIs or instead of exposing endpoints to the data stores so they can be accessed by the

[2021-02-09 23:17] alexec commented on #4585
@jessesuen this go a lot of thumbs-up very quickly - I think it supports your arguments for better in-template data processing features

[2021-02-09 23:19] alexec commented on #4585
Our main evaluation library is https://github.com/antonmedv/expr

[2021-02-10 00:20] alexec commented on #4585
We use fasttemplate for templates, it is fast, but basic and Sprig does not support it. We would need to introduce a new syntax.

[2021-02-10 01:08] alexec commented on #4585
This could be solved by plugins obviously. #5025

[2021-02-10 01:11] Bobgy commented on #795
Hi @alexec

Thank a lot for keep moving this forward!

1st party http template is a perfect match for my use-case. Also, I think its interface is simpler than a generic plugin (so I think it would be easier to maintain too for argo).

However, I understand your concerns raised in the issue. They are not really a problem for my specific use-case. I'll leave it to you to decide if adding this templa

[2021-02-10 01:27] alexec commented on #795
I'm not sure. I'm currently leaning towards just making a built-in template type. Easier than writing a whole plugin system, to write just one common plugin.

[2021-02-10 10:36] dudicoco commented on #2063
I was able to achieve this by using the following workaround:
1. Run workflow-controller and argo-server without the `--namespaced` flag
2. Create a cluster role for workflow-controller with read only permissions:
[code]
3. Bind the cluster role to the workflow-controller service account.
4. Provide write access to specific namespaces by creating a role with the appropriate permissions in that nam

[2021-02-10 12:51] Deepa050 commented on #4991
Upgrded to 2.12.8 but that didnt work
[code]

I tried `--auth-mode sso --auth-mode server ` and that's when the SSO login went through. May be because of the bearer token in server mode. But how to make it work solely on `--auth-mode sso`

[2021-02-10 14:29] therealarty opened #5064 "Leaving the workflow UI opened in a tab drains a lot of cpu (google chrome)"
## Summary

Whenever I leave a google chrome tab opened with an argo-workflow opened, it ends up using a LOT of CPU (even if I don't interact with it).
I used the chrome task manager to ensure it is the argo-workflow page and inspected the UI. It seems there are regularly new rasterizers...

## Diagnostics

What Kubernetes provider are you using?
We are running Argo on AWS EKS

What version of Arg

[2021-02-10 15:28] dudicoco opened #5067 "Move executor container rbac operations to workflow controller"
Hi,

Currently the executor container needs rbac permission such as pod/logs and patch.
Why are these operations not performed by the workflow controller instead? Is it due to scalability concerns?

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-02-10 15:36] simster7 commented on #5064
We made a TON of UI performance improvements since 2.8.2. Try upgrading?

[2021-02-10 15:37] simster7 commented on #5067
We want the controller to have as few RBAC permissions as possible. Having the executor handle pods/log not only helps with scalability but also with RBAC granularity

[2021-02-10 15:54] dudicoco commented on #5067
@simster7 from a security perspective, how is it better to give these permissions to the executor? Also what about the patch permission, the workflow-controller already has permission for that so why does the executor handle the patching?

[2021-02-10 15:56] alexec commented on #5025
https://velero.io/docs/v1.5/overview-plugins/

[2021-02-10 15:59] khaled opened #5068 "Broken documentation link"
## Summary

What happened/what you expected to happen?

The "Docs" link at https://argoproj.github.io/projects/argo is broken - it should be taking you to https://argoproj.github.io/argo-workflows/

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2021-02-10 16:00] alexec commented on #5068
@alexmt did you manage to fix this please?

[2021-02-10 16:03] simster7 commented on #5068
https://github.com/argoproj/argo-site/pull/43

[2021-02-10 16:04] simster7 commented on #5068
Please approve @alexec

[2021-02-10 16:14] alexec commented on #4991
Have you tried private browsing mode yet?

[2021-02-10 16:21] alexec opened #5069 "In-memory input/output parameter transformation"
Users want to transform data without the expensive overhead of starting pods. Today, they might use Python to perform some basic mapping and filtering. They've requested support for Sprig #4585 (which cannot work because the code uses of `fasttemplate` rather than `text/template`).

There's been a suggestion of a new data template, and obviously, a plugin template #5025 could achieve this.

I thin

[2021-02-10 16:54] simster7 commented on #5069
The main advantage of this proposal is that the transformation code will not require a pod. However, for very large outputs it will lock the operator, which it's not something I'm sure we'd want. Because of this restriction and others -- for example, we wouldn't allow any network calls from the operator -- this implementation could be limited from the start.

Also, from a design perspective, I'm n

[2021-02-10 17:14] alexec commented on #5069
The limitation is intentional. This could not and should not support anything making a network I would define as complex and which would warrant its own template type and 1st-class support. Did you read #4585?

[2021-02-10 17:21] hibnico commented on #5051
My use case is about creating workflow dynamically, by my application. Are you saying than rather than just calling the HTTP Kube API, my application should embeded the argo cli and launch a process to submit a workflow or create a workflow template ?
By the way, it would be nice if the "at your own risk" could be mentionned there: https://argoproj.github.io/argo-workflows/kubectl/

[2021-02-10 17:32] Deepa050 commented on #4991
Yes I have. same issue.

[2021-02-10 18:12] #4997 closed

[2021-02-10 19:10] therealnb commented on #5025
Use case:
We have X tasks to perform on Y endpoints in Z servers. We would like to use a step for each to take advantage of retry policy, alerting and other workflow goodies. XYZ can be 100s in a big system. Each step is a rest operation and completes quickly.

Problem:
If there are no failures most of the time is taken in creating the containers. This can take many minutes to do 100 posts. Furthe

[2021-02-10 19:22] austinpray-mixpanel opened #5071 ""Learn more" links in UI broken"
## Summary

In the single workflow view I noticed some broken links:

- https://argoproj.github.io/argo/workflow-pod-security-context/
- https://argoproj.github.io/argo/cost-optimisation/

![image](https://user-images.githubusercontent.com/71290498/107560169-a3af9800-6ba2-11eb-830b-844506ef2364.png)

This is related to the repo migration afaik. using https://argoproj.github.io/argo-workflows/cost-

[2021-02-10 19:55] simster7 commented on #5071
Should be fixed by #5070

[2021-02-10 20:04] #5046 closed

[2021-02-10 20:08] austinpray-mixpanel commented on #4686
@sarabala1979 I'm on 2.12.8 now and although the originally reported section no longer crashes, I'm still getting crashes

https://user-images.githubusercontent.com/71290498/107563252-7533bc00-6ba6-11eb-9fbe-f819b619ebff.mov

[2021-02-10 20:16] endzyme opened #5073 "Misleading documentation for OnError at Workflow level"
# Summary

The suggested pattern of setting a `Workflow` level `retryStrategy` to tolerate pod deletion has unexpected side effects. If the workflow fails on an `OnError` step, after hitting the top level limit, the behavior will run the _entire workflow again_! Is this desirable or intended? https://argoproj.github.io/argo-workflows/tolerating-pod-deletion/

I would suggest a change or warning to

[2021-02-10 20:17] austinpray-mixpanel commented on #5006
Seeing the same issue periodically. Haven't looked into it.

![Screen Shot 2021-02-10 at 1 36 43 PM](https://user-images.githubusercontent.com/71290498/107566199-33a51000-6baa-11eb-84c7-d2853cd90cec.png)

Kube 1.15 on GKE running this https://github.com/argoproj/argo-workflows/blob/v2.12.8/manifests/install.yaml

[2021-02-10 20:22] alexec commented on #4431
This introduced a regression in behaviour in v2.12.4 and will be reverted.

[2021-02-10 20:36] austinpray-mixpanel opened #5075 "UI namespace filter state is sticky between reports and workflows view"
## Summary

1. Enter a namespace into the namespace filter on reports page
2. Clear it out with the "x" button

Expected: the namespace is cleared out.
Actual: the namespace sticks around and persists across reports view and workflows view

https://user-images.githubusercontent.com/71290498/107568794-1c1b5680-6bad-11eb-8ccf-bcaef2e4cbf2.mp4

## Diagnostics

What Kubernetes provider are you using?

[2021-02-10 21:00] austinpray-mixpanel commented on #5075
Related: clicking the workflows link in the side nav restores the namespace filter

https://user-images.githubusercontent.com/71290498/107571568-b0d38380-6bb0-11eb-892b-ec45559d1b08.mov

[2021-02-10 21:07] alexec commented on #5075
can you try v3.0.0-rc1?

[2021-02-10 21:40] alexec commented on #3790
Video now available https://youtu.be/gqfDJi7m7ng

[2021-02-10 21:40] #3790 closed

[2021-02-10 21:56] simster7 commented on #5071
Merged

[2021-02-10 21:56] #5071 closed

[2021-02-10 21:57] simster7 commented on #5069
This is going to be done in the `data:` template as discussed. Close?

[2021-02-10 22:22] #4985 closed

[2021-02-11 12:14] boehb-efs commented on #5053
Upgrading my local installation to 2.12.5 seems to do the trick. Works like a charm :-)

[2021-02-11 15:38] rory-lamendola commented on #5044
it's working now, was the same link though.  weird.  thank you!

[2021-02-11 16:24] #5053 closed

[2021-02-11 16:55] #5020 closed

[2021-02-11 17:29] dynamicmindset commented on #4565
Hello, faced the same issue with Argo v2.12.8.

![image](https://user-images.githubusercontent.com/3380433/107673919-19009300-6c9f-11eb-81d9-9e0269c47596.png)

I have a workflow with ~2000 steps (withItems) and parallelism set to 100. Garbage collection is set to "onPodCompletion".

Do you have any suggestions on how I can prevent this from happening?

[2021-02-11 20:02] arnoldrw commented on #4991
Any chance you are using istio with argo? I saw this same behavior when running argo with istio. The fix was to add an annotation for the argo server deployment to exclude the kubernetes api IP range from being handled by istio. EG
[code]

The idea for this came from experience with other istio race condition issues outlined in [1282](https://github.com/argoproj/argo-workflows/issues/1282).

If yo

[2021-02-11 20:36] roshpr commented on #3523
@alexec our usecase follows as below

We have a central master cluster which needs to connect to multiple different regional and edge K8 clusters to run different workflows depending on what workflows provisioned in our central master Argo server.

Right now we worked around by using git runners on each regional cluster to run some of our tasks. It is a cumbersome solution difficult to maintain an

[2021-02-11 21:08] alexec opened #5092 "Make cron UI dynamic"
Currently, the cron UI does not update when things happen, this leads to slightly unexpected behavior for next/last run time.

* Last run time does not update when the cron runs.
* Next run time can become negative.

[2021-02-12 00:41] #4976 closed

[2021-02-12 00:42] alexec commented on #5069
I've created a PoC which might show my thinking better.

[code]

[2021-02-12 00:43] alexec commented on #5069
![image](https://user-images.githubusercontent.com/1142830/107717317-36763280-6c88-11eb-9ae2-7bd5e913d13b.png)

[2021-02-12 00:46] alexec commented on #5069
I *think* data template may be able to do this too, I'd like to see an example.

[2021-02-12 01:02] max-sixty commented on #4585
Ref https://github.com/argoproj/argo-workflows/issues/1293

[2021-02-12 01:24] simster7 commented on #5069
Was supposed to demo today, it definitely does do this.

[2021-02-12 01:26] simster7 commented on #5069
I have strong objections to this being done on the `inputs` level as I mentioned above. My "automagical" approach with the `data:` template still does this fully in-memory while providing a safe way to do this from a DSL design perspective.

[2021-02-12 01:30] alexec commented on #5069
Objections noted. Can you please attach an example of doing this using a data template?

[2021-02-12 07:31] edlee2121 commented on #4988
Nice experiment!
How do we make it work across nodes?

[2021-02-12 10:44] therealarty commented on #5064
I'll let you know !

[2021-02-12 14:57] mhehle opened #5097 "Passing 'outputs.result' parameter through multiple workflows cause 'could not be parsed as a JSON list'"
## Summary

**Given is following workflow:**
Step1 generates a string value and outputs it as json string array on stdout.
Step2 reads output result from Step1 (steps.step1.outputs.results) and outputs it again as json string array on stdout.
Step3 reads output result from Step2 (steps.step2.outputs.results) and outputs it again as json string array on stdout.

Step2 works as expected and prints o

[2021-02-12 15:08] simster7 commented on #5069
Simple, all done in-memory:

[code]

[2021-02-12 16:39] simster7 commented on #5069
A live example to illustrate. Note first step taking 0 seconds, indicating it was done in-memory

[code]

[2021-02-12 16:51] alexec commented on #5069
Nice. It’s a bit longer, but it is not hard and certainly better than what we currently have. I don’t think it is enough to mean this issue is not something we should do, just makes it less needed.

[2021-02-12 16:52] alexec commented on #5069
The expression syntax you’re using mixes fast template and expr. How can we avoid that?

[2021-02-12 16:54] simster7 commented on #5069
This was done on purpose. `{{item}}` is more Argo-y and I have added it as a convenience. No `fasttemplate` is used in this at all.

This has the same result:
[code]

[2021-02-12 16:57] alexec commented on #5069
Can we use something less fastemplate and more plain expr? I can see that it make a small set of expressions impossible.

[2021-02-12 16:58] alexec commented on #5097
Could be fixed in 2.12.9

[2021-02-12 17:01] alexec commented on #4988
This can’t work across nodes as it is. It can only work in a pod. To bridge nodes you’d need a transport that connects two nodes.  Eg NATS.

[2021-02-12 17:06] mhehle commented on #5097
thanks, i will test it out in the next version

[2021-02-12 17:13] alexec commented on #5097
Can you try with :latest?

[2021-02-12 17:29] simster7 commented on #5069
Plain `expr` is fully supported. `{{item}}` is just syntax sugar.

[2021-02-12 18:35] #5052 closed

[2021-02-12 19:43] alexec commented on #5069
I'd remove the syntax sugar then. I don't think it is needed. I'd like us to move away from the `{{` syntax due to various problems it creates (e.g. incompatible with Helm, functionally limited, conflicting.

[2021-02-12 19:44] alexec commented on #795
See #5025

[2021-02-12 20:19] max-sixty commented on #4585
@simster7 tell me if this is chirping from the peanut gallery — but will this approach involve writing & maintaining code within Argo for each transformation? Is there an approach for inheriting functionality immediately from a library like gomplate or sprig, even if it involves another pass on top of `fasttemplate`?

[2021-02-13 03:53] Bobgy commented on #5025
@therealnb do you think https://github.com/argoproj/argo-workflows/issues/795 work for your use-case?

You can configure steps that send a request to your own server, and your server will be able to do whatever things you want.

A limitation could be that this is not suitable for steps that take some time to execute.

[2021-02-13 05:07] kangtiann commented on #3649
we need this too !!!!
Is someone working for this ?

we can achieve this feature if need.

[2021-02-13 06:56] #4661 closed

[2021-02-13 06:56] #4657 closed

[2021-02-13 12:11] mhehle commented on #5097
tested it on current master branch. The result now is different

### Variant 1: keep workflow template command
`command: [echo, "[\"{{inputs.parameters.message}}\"]"]`

**Steps with output:**
1. echo-message -> `["message is a message"]`
2. grab-echo -> `["message is a message"]`
3. grab-echo2 -> `["["this is a message"]"]`

another 4. step would fail due to invalid json.

### Variant 2: change wo

[2021-02-13 13:14] alexcapras commented on #2026
I'd also be interested in this. Would like to raise a PR if possible, so I had a quick look at the `ProcessArgs` function and I think it'd be fairly straightforward to change the behaviour as needed (could change the Current code snippet below, to the Proposed one).

This would be a breaking change though - as any workflows that currently have artifacts specified at both the default level and the

[2021-02-14 02:33] #4660 closed

[2021-02-14 05:47] sarabala1979 commented on #3649
I will work on this. this has 9 thumbs. There is a workaround you can use `workflow.creationTimestamp`

[2021-02-14 20:31] alexec opened #5104 "Too many `Get workflowtemplates` done by controller"
We do one of these every reconciliation. But we should not need to. We can use an informer instead.

I don't know where the operation is being called from - just that Prometheus metrics show that it is.

[2021-02-14 20:36] alexec commented on #5104
examples

``golang
wftmplGetter := templateresolution.WrapWorkflowTemplateInterface(wfClient.ArgoprojV1alpha1().WorkflowTemplates(req.Namespace))
[code]

[2021-02-14 20:38] alexec opened #5105 "Inlined/anonymous templates"
Currently, `DAGTask` and `WorkflowStep` reference templates. What if they were templates themselves? You could inline templates, which I think would be more user friendly, especially making `DataTemplate` easier to use with other templates and reducing the need for more powerful templating features (e.g. Sprig templating or `WithExpression`.

[2021-02-14 20:47] alexec commented on #4585
Question for @chermed @max-sixty, the example in the is `withParam`. I initially thought you needed more powerful templates everywhere, but is this almost completely a problem for `withParam`?

[2021-02-14 21:00] max-sixty commented on #4585
My original use case was date manipulation, not in `withParam`, but obv don't overfit on me...

[2021-02-14 21:41] dzirg44 opened #5107 "Managed Namespace installation"
## Summary
Hi!
I installed  `argo-workflows` and noticed that i have to setup 2 almost similar roles one for installation namespace , second for target namespace. I think maybe it will be better if we have separated roles?
[code]
when I run workflow with this configuration I expect that I have to give a role with
[code]
and nothing more
but in my logs i have a message like
[code]
which means that

[2021-02-14 22:55] kennytrytek commented on #4817
[PR is open](https://github.com/argoproj/argo-workflows/pull/4831) to revert back to only support `string`. `IntOrString` was previously defined strictly as a string [in this commit](https://github.com/argoproj/argo-workflows/blob/673553729e12d4ad83387eba68b3cbfb0aea8fe4/api/openapi-spec/swagger.json#L7094-L7099). It was changed in [this pull request](https://github.com/argoproj/argo-workflows/pul

[2021-02-15 13:36] Guillermogsjc opened #5110 "Error when writing artifacts"
## Summary

I was in Argo version 2.12.7, executing passing artifacts example was working without any problem. I also tested the command on 2.12.8 and works fine.

After upgrading to 3.0.0-rc1 every artifact write started crashing with

[code]

## Diagnostics

What Kubernetes provider are you using?

EKS

What version of Argo Workflows are you running?

3.0.0rc1

Reproducible command:

[code]

Log

[2021-02-15 17:05] alexec commented on #5107
This looks like standard Kubernetes RBAC, nothing Argo specific, but maybe check:

* You have a service account in each namespace.
* You have a role in each namespace.
* You have a role binding in each namespace.
* You've configured the service account correctly.

You can also use `kubect auth can-i` to test this.

[2021-02-15 17:06] #4817 closed

[2021-02-15 17:09] alexec commented on #5110
Thank you. Can you please include the logs of the containers `wait` for the pod that crashed?

[2021-02-15 17:13] alexec commented on #4585
@max-sixty could you provide other examples? `withParam` is a good example of where using filter and map operations would be powerful, however I'd love to see more use cases to we can more fully understand this.

[2021-02-15 17:21] Guillermogsjc commented on #5110
Hi, I guess that you ask for the stage pod log. Here are two examples:

[code]

[code]

[2021-02-15 17:30] alexec commented on #5110
[code]

It looks like AccessKeySecret is nil. This is likely cause by key-only artifacts.

[2021-02-15 17:33] alexec commented on #5110
Hmmm. Works for me.

Can I requests some additional information?

* The YAMl of the pod
* Your `workflow-controller-configmap` as YAML.

[2021-02-15 17:33] Guillermogsjc commented on #5110
@alexec so which would be the necessary changes on https://github.com/argoproj/argo-workflows/blob/master/examples/artifact-passing.yaml so it can work on 3.0.0rc?

[2021-02-15 17:36] Guillermogsjc commented on #5110
Sure, here it is:

Pod yaml:

[code]

Workflow controller configmap:

[code]

[2021-02-15 17:43] max-sixty commented on #4585
The case we had was having a legible date format for workflow creation time, which ends up being verbose and inflexile:

[code]

This would be much easier with sprig / gomplate / etc:

[code]

[2021-02-15 17:43] alexec commented on #5110
Let me get this right, your S3 bucket does not have a username or password, presumably, you use something else to auth?

[2021-02-15 17:47] Guillermogsjc commented on #5110
Every nodegroup that provides argo workers has a policy like this attached to its role:

[code]

[2021-02-15 17:54] alexec commented on #5110
Super interesting bug related to how Go deals with pointer and non-pointer structs. Another example of where Go is a bit too C-like, and makes me want to learn Rust more.

[2021-02-15 17:55] alexec commented on #5110
I've just uploaded a new executor image for you to test:

[code]

[2021-02-15 17:58] alexec commented on #5069
This is really a workaround and can be solved much better by directly addressing our templating language.

[2021-02-15 17:58] #5069 closed

[2021-02-15 18:00] Guillermogsjc commented on #5110
Sorry do you have a short guideline about kubectl appy of argo manifest for deploying custom images?

[2021-02-15 18:02] alexec commented on #5110
update argoexec in `workflow-controller` deployment and/or `workflow-controller-configmap` configmap.

[2021-02-15 18:55] Guillermogsjc commented on #5110
Yep, fixed

[2021-02-15 19:27] mac9416 commented on #5061
Thinking about it some more, I'm not sure parameters should be usable in `command`, `args`, or `source`. The user should just use an env var.

[2021-02-15 23:00] crenshaw-dev opened #5114 "Add option to disable param interpolation in command, args, and source"
# Summary

(Follow-up to https://github.com/argoproj/argo-workflows/issues/5061 after thinking about it some more.)

I think param interpolation in `command`, `args`, and `source` is an anti-pattern. In 99.9% of use cases, inputs are input, they're not code. Allowing interpolation in these fields creates a major code injection attack surface. Developers will copy/paste hello-world examples and the

[2021-02-16 02:41] alexec commented on #4585
[code]

[2021-02-16 08:52] dzirg44 commented on #5107
thank you for the response. Now I am trying to create a really isolated environment, it will take maybe one week and will write about my experience.

[2021-02-16 08:55] dsetty25 opened #5118 "User Isolation in SSO rbac feature for ARGO"
we have enabled sso in argoserver .suppose there are 2 users ; user1 & user2 and they use 2 separate SA  in same namespace. If so can there be any isolation between user1 and user2 ?? or in other words the wf created by user1 shunt be visible to user2 and deleted by the other user or vice versa.. Is it achievable in the sso rbac concept in the latest version.

And also workflows.argoproj.io/rbac-r

[2021-02-16 14:43] simster7 commented on #5105
Great idea, actually. Argo's version of anonymous functions

[2021-02-16 15:11] simster7 opened #5119 "v2.12.9 cherry-pick"
* [ ] kennytrytek: fix: Invalid OpenAPI Spec (Issue 4817) (#4831) fcf4e9929
* [ ] Alex Collins: chore: More opinionated linting (#5072) a50ddb206
* [ ] Simon Behar: feat: Add checker to ensure that env variable doc is up to date (#5091) 19b22f25a
* [ ] Alex Collins: feat(controller): Logs Kubernetes API requests (#5084) 210080a0c
* [ ] Yuan Tang: build: Fix path to openapi-gen binary (#5089) 2f7c9