[2020-01-25 01:48] #1982 closed

[2020-01-25 03:32] #1949 closed

[2020-01-25 09:56] naor2013 opened #2063 "Managing multiple namespaces with the new version"
# Summary
How do you suggest handling multiple namespaces that run Argo workflows in the new version?
The ways I’m thinking about right now are either:
a) workflow controller for each namespace and an Argo server for each namespace.
b) workflow controller for each namespace and a “managing” namespace which has a Argo server for each namespace with the “managed-namespace” patameter.

Is there a bet

[2020-01-25 10:27] Jude188 commented on #1813
Now that Argo Workflows has a new and updated UI, I wonder if this issue could be revisited? It would still be very useful to have better control of who can access the UI (especially for folks in less tech orientated roles who might not even know what a KUBECONFIG is!)

@alexec

[2020-01-25 10:34] Jude188 commented on #1705
This is an issue we're facing too.

We're using a workaround which is an exit handler which uses an pod with AWS CLI to delete the artifacts that the workflow has created. This is still not ideal as the secrets are downloadable from the UI which the workflow is running.

Maybe there should be an option to not allow one or all artifacts to be downloadable through the UI?

[2020-01-25 16:45] bbesser opened #2064 "Error status for first pod on k3s 1.0.1"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
A fresh install of argo (like given in quick start) and submit of the hello world work flow produces an error status with the message.

This is the work flow yaml (copied from git repo):

**What you expected to happen**:
I

[2020-01-25 18:47] alexec commented on #2064
Can you try and “pns” executor with k3s?

[2020-01-26 15:00] bbesser commented on #2064
Worked. Thank you, sir!

Since I'm new to argo, could you give brief motivation for why there's a need to have different executors? (imo, this info would improve the documentation in https://github.com/argoproj/argo/blob/master/docs/workflow-executors.md.)

Also, since pns is declared immature and I do not have tight performance requirements, should I use k8sapi instead?

Thanks again.

PS: For an

[2020-01-26 17:20] simster7 commented on #2053
Reopening since I think this was closed on error

[2020-01-26 17:30] KowalczykBartek commented on #2053
honestly i closed it because now i have doubts if it makes sense xD but we can let this opened, maybe someone will have some idea around this ticket - atm I am trying to add "namespace" parameter to step definition to allow running workflow's steps in different namespace (maybe that is better option)

[2020-01-26 19:14] alexec commented on #2064
Each executor gives a trade off, with Docker being the most widely supported. I'd note you can run K3S on Docker.

[2020-01-27 10:48] maryoush commented on #2063
Hi
what with the case for multi tenant spanned workflow ?
https://github.com/argoproj/argo/issues/2042

[2020-01-27 12:00] Atharex opened #2065 "Retry on error documentation example does not work"
**What happened**:
The example from the official docs returns a unknown field "retryPolicy" error.
https://github.com/argoproj/argo/blob/master/examples/retry-on-error.yaml

**What you expected to happen**:
The example to run normally when a retryPolicy field is set.

**How to reproduce it (as minimally and precisely as possible)**:
Just try to run the example from the official docs

**Anything el

[2020-01-27 12:41] lfdversluis commented on #1915
I am trying to learn a bit about the workflow management side of this project, but it has a steep learning curve. My Go knowledge is minimal as well... I am trying to improve both by learning on the job.

Is this the place to add a string "lastRun" field or something? https://github.com/argoproj/argo/blob/master/pkg/apis/workflow/v1alpha1/workflow_template_types.go#L13

I can't really figure out w

[2020-01-27 13:38] duboisf opened #2066 "workflow-controller panics and crashes with empty workflow-controller-configmap"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

The workflow controller panics (and crashes) when running the hello-world workflow when following the getting started instructions with `argo 2.5.0-rc2`. IMHO it should support an empty configmap, falling back to sensible

[2020-01-27 13:39] delwaterman commented on #1438
This has been fixed.

[2020-01-27 13:39] #1438 closed

[2020-01-27 15:05] simster7 commented on #2039
Currently not supported... as a workaround you could have two distinct steps -- one for each node selector -- and only have a conditional `when` on the second step to only run if the first step failed. You can look at the examples folder to see how to create a `when` and how to get the status of a previous step.

[2020-01-27 15:07] simster7 commented on #2043
Ah, if I'm understanding this correctly now, I think you would have to either expand it into 10 `hello2b` steps, or use `withItems` with dummy variables.

[2020-01-27 15:11] simster7 commented on #2042
We are having abstract talks on the allowing this behavior, but haven't prioritized it yet. Regardless, I definitely wouldn't expect this to be available before `2.6`.

[2020-01-27 15:14] samath117 commented on #2061
Given that artifacts can be directories, passing a local path to copy the artifact to seems best.

[2020-01-27 15:14] simster7 commented on #2066
This seems like a bug, @alexec?

[2020-01-27 16:32] simster7 commented on #2065
What is the exact error you're seeing here?

[2020-01-27 16:35] alexec commented on #2066
I'll take this one.

[2020-01-27 16:52] alexec opened #2069 "invalid config can allow updateConfig to put controller in invalid state"
# Summary

See #2066, it is possible for `updateConfig` to fail at various points leaving the controller in a potentially invalid or unrecoverable state.

# Motivation

Avoid having the controller in a bad state.

# Proposal

Rather than load the config, and then iterate over values returning an error part way thought, we should create and validate a replacement configuration and set it all at onc

[2020-01-27 16:55] alexec commented on #2069
Additionally, we ignore deletion for the cm.

[2020-01-27 17:29] animeshsingh commented on #1256
Tying this some other folks raising these issues coming on Kubeflow community
https://github.com/kubeflow/pipelines/issues/1654

[2020-01-27 17:57] #2069 closed

[2020-01-27 18:20] #1947 closed

[2020-01-27 18:48] faiq commented on #1296
I agree with the intent of this proposal. I think its entirely possible for a deployment of an application to span across various directories rather than being just one and it would be great to have a way to specify them exactly.

[2020-01-27 19:25] simster7 commented on #2066
Closed with #2070 ?

[2020-01-27 19:25] #2066 closed

[2020-01-27 19:25] frozeNinK commented on #1728
@simster7

Hi, I may have some spare time to work on this feature.
Could you plz point out which part (logic) should be modified? (I am new to Argo)

Thanks

[2020-01-27 19:32] simster7 commented on #2060
Perhaps do this as part of a bash script before submitting? Something such as:

[code]
_Note this should be treated as pseudo-code, didn't test the syntax_

I may be wrong, but I am not sure we would want to support a feature like this.

[2020-01-27 19:39] samath117 commented on #2060
I don't think that idea would work. In particular, just using a simple `sed` wouldn't keep the indentation structure of the YAML, so the result of any script with multiple lines would come out like this:
[code]

It would also be ideal to retain other features of the standard CLI, which this approach would lose, like these:
- Submit multiple workflows: `argo submit WF1 WF2`
- Lint all workflows in

[2020-01-27 19:54] sarabala1979 commented on #1957
Tested v0,v1,v2 tokens with below k8s
1. GCP
2. Minikube
3. K3S
4 Docker on Desktop

[2020-01-27 21:03] alexec opened #2072 "Enable stale and no-response bots"
# Summary

Enable these two bot with the same configuration as Argo CD.

# Motivation

To clean up stale and no-response issues.

# Proposal

Copy the files from Argo CD and enable.

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-01-27 21:04] alexec commented on #787
You can achieve this in v2.5 using `argo server`

[2020-01-27 21:04] #787 closed

[2020-01-27 21:06] alexec commented on #2061
Duplicate of #695.

[2020-01-27 21:06] #2061 closed

[2020-01-27 21:22] alexec opened #2074 "Update CONTRIBUTING.md"
# Summary

Update this guide.

# Motivation

We need to have an updated guide for people to use

# Proposal

https://docs.google.com/document/d/19mO0tI3IcgyEPlY3sfyv5XN-QhTnLP8hOpjXHu3lXD4/edit

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-01-27 21:23] alexec opened #2075 "Update releasing guide"
# Summary

This guide is out of date.

# Motivation

Update the guide so everyone on the team knows how to release.

# Proposal

https://docs.google.com/document/d/1wlxn-m_dx0pHicgErJAWytYqcEq21x16T8zwwpUMT1I/edit#

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-01-27 21:25] alexec opened #2076 "Dogfood"
# Summary

Automatically deploy the latest Argo Workflows in a way that forces us to use it is day-to-day basic.

# Motivation

So we feel the pain of problems.

# Proposal

Not sure. The challenge is that unlike Argo CD, we do not consume this ourselves.

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort is

[2020-01-27 21:26] alexec commented on #1946
No longer needed.

[2020-01-27 21:26] #1946 closed

[2020-01-27 21:26] alexec commented on #1970
Fixed.

[2020-01-27 21:26] #1970 closed

[2020-01-27 21:28] #1689 closed

[2020-01-27 21:45] alexec commented on #2062
Fixed in #2048

[2020-01-27 21:47] alexec commented on #1950
Won't fix.

[2020-01-27 21:47] #1950 closed

[2020-01-27 22:22] #1997 closed

[2020-01-27 23:07] mildewey opened #2077 "Allow parameters to be a dictionary as well as a list"
# Summary

Allow for a parameters file to have fully nested yaml/json by allowing parameters to accept nested values.

# Motivation

This would be a direct method of allowing arbitrary yaml/json as input to a workflow.

# Proposal

Allow parameters to be defined as a dictionary IE:
[code]

Conjointly, allow nested values in a --parameters-file IE:
[code]

---

**Message from the maintainers**:

If

[2020-01-27 23:07] mildewey commented on #2077
https://github.com/argoproj/argo/issues/1633
Is clearly related to this issue, but had a different thrust.

[2020-01-27 23:29] alexec commented on #1956
Depends on #1951

[2020-01-27 23:50] alexec commented on #1212
v2.2.2 has been released.

[2020-01-27 23:50] #1212 closed

[2020-01-27 23:53] alexec commented on #906
Fixed in #1716.

[2020-01-27 23:53] #906 closed

[2020-01-28 00:29] alexec commented on #2049
Investigating.

[2020-01-28 00:33] zhujl1991 opened #2078 "[Bug] Workflow stays running even if the resource in the template is deleted"
### Issue:
[code]

Apply this yaml and manually delete the pod `pi-pod-xxx`, which is the resource in the template. This leaves the wf running. While I think the expected behavior should be the same as that when the `failureCondition` is satisfied.

### Fix Plan:
AFAIU, the fix should be here https://github.com/argoproj/argo/blob/master/workflow/executor/resource.go#L189, where we can  check the e

[2020-01-28 00:51] alexec commented on #1981
I've reviewed the code and added a test case that demonstrates this bug does not exist (anymore?), it maybe that the implementation has change since it was raised.

This will come in the PR for #2049.

[2020-01-28 00:51] #1981 closed

[2020-01-28 01:43] pisymbol opened #2080 "Argo Workflow for ARM?"
# Summary

Could the argo team create official images for ARM (armv7/arm64)?

There are various rogue docker images of say argo-cd for ARM by community members but nothing really official. Would be nice to truly support ARM.

# Motivation

ARM is extremely popular, even in the datacenter, and I would like to be able to use Argo in an multi-architecture cluster.

# Proposal

Change build infrastruc

[2020-01-28 05:40] fabio-rigato commented on #2039
Thanks a lot for your fast reply, I'll try to manage this with this workaround for the moment. @simster7 do you think is possible to add this feature request in Argo roadmap? If yes when do you think will be released? =)

Have a nice day

Best
Fabio

[2020-01-28 06:04] nicorikken commented on #2078
If I understand your issue correctly, a fix is already in the works on https://github.com/argoproj/argo/issues/1823

[2020-01-28 06:09] nicorikken commented on #1578
Restarting workflows is a feature in v2.5.0.

[2020-01-28 08:08] Atharex commented on #2065
2020/01/27 14:58:37 Failed to parse workflow: error unmarshaling JSON: while decoding JSON: json: unknown field "retryPolicy"

[2020-01-28 14:52] sarabala1979 commented on #2065
`retryPolicy`  included on 2.5-rc1 release. Try on the latest build `v2.5-rc3`.
Here the 2.4.x examples: https://github.com/argoproj/argo/tree/release-2.4/examples

[2020-01-28 15:03] simster7 commented on #1578
Closing

[2020-01-28 15:05] simster7 commented on #2078
No this is a separate issue

[2020-01-28 15:08] simster7 commented on #2039
Feel free to open a separate issue proposing an enhancement and the team will take a look! Closing this...

[2020-01-28 15:08] #2039 closed

[2020-01-28 15:50] rdigiorgio commented on #1773
I think this requires some more reflexion.

Do we really want the exit code to be exposed as an **output** ?
AFAIK, whenever a script / container template fails, there are no output and the whole template is marked as failed, so it does not feel right for me.
Also, any step that would come after a failed step (possibly using a script / container template with an exit code) will not be executed.

[2020-01-28 16:31] #2065 closed

[2020-01-28 16:41] simster7 commented on #1773
@rdigiorgio I think this is meant to add the exit code as an [output _variable_](https://github.com/argoproj/argo/blob/master/docs/variables.md#steps-templates). Something like `steps.<STEPNAME>.outputs.exitcode` and `tasks.<TASKNAME>.outputs.exitcode`.

Some output variables such as `result` still get filled after a step fails.

Not always true, a step or DAG task could have `continueOn: failed:

[2020-01-28 16:42] simster7 commented on #1773
Let me know if you want to take on this change and I can assign the issue to you

[2020-01-28 18:14] alexec commented on #2080
Would you like to submit a PR for this?

[2020-01-28 18:17] pisymbol commented on #2080
@alexec I suppose I can give it a go (get it?).

So this would basically mean what, the controller and binary would be recompiled for ARM? Anything else? I'm a little confused on the source code organization of the argoproj in general (there are a number of projects buried within the same tree).

[2020-01-28 18:36] simster7 commented on #1915
Hi @lfdversluis! Thank you for trying to contribute. I would actually wait to see what the resolution of #2007 is before working on this because it might change how this PR is implemented.

However, I'll try to answer your questions anyway.

More or less yes, you would have to add a new field called `Status` and create a new `struct` that would hold a field called `lastRun`. [Here's an example](ht

[2020-01-28 18:56] simster7 commented on #2078
Hi @zhujl1991, this seems like a great bug fix. However, I don't think you have to make an API call to the server. When a watch event comes, you can just check if it contains a set `metadata.deletionTimestamp` field. From the K8s docs:

[_Source_](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/)

I.e., if that field is set, we know it's about to

[2020-01-28 19:10] ddseapy opened #2082 "Cost estimate for workflow"
# Summary

Does argo have any way to report cost of worfklows?  On this page (https://blog.argoproj.io/argo-workflow-demo-at-the-kubernetes-community-meeting-c428c3c93f9d), we noticed that there is a screenshot (https://miro.medium.com/max/1592/1*ZzGoOFnIDhkLZlEmEvG4Ng.png) with the cost listed.

@jessesuen Is this at all related?: https://github.com/Applatix/claudia

# Motivation

We are looking

[2020-01-28 19:12] zhujl1991 commented on #2078
This is not true for `Job` somehow. I tried this:

[code]

When I delete this job manually, the only field that is different is `resourceVersion ` https://www.diffchecker.com/VSN5bWDs .

[2020-01-28 19:14] #2049 closed

[2020-01-28 19:17] whynowy commented on #1447
@cscetbon - When I tried the example you mentioned, `argo submit https://raw.githubusercontent.com/argoproj/argo/master/examples/loops-param-result.yaml`, it worked with no issue.

Could you let me you your environments such as `k8s version`, `argo client/server version`?

[2020-01-28 19:25] samath117 opened #2083 "Failure in pod with global output parameter breaks the workflow-controller and can't be terminated"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

When a step which is supposed to product a global output parameter fails, it doesn't finish, cannot be terminated, and crashes the Argo workflow controller. The only way out I could find is to `argo delete` the workflow a

[2020-01-28 19:27] ddseapy commented on #1658
We are also writing a custom solution for this, where workflows report progress to a REST endpoint.  If this were built into argo, that would be nice.

[2020-01-28 19:33] simster7 commented on #2078
Hmm you're right. Let me play with this for a bit. @jessesuen @alexec, feel free to chime if you have any feedback.

[2020-01-28 19:50] derekahn opened #2085 "Dashboard Is Showing False Negative Results"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

Ran a basic `hello-world` workflow

[code]

<img width="857" alt="dashboard" src="https://user-images.githubusercontent.com/5381156/73298535-57293280-41c2-11ea-969f-f0e755adc903.png">

<img width="857" alt="workflow" src=

[2020-01-28 20:07] cscetbon commented on #1447
@whynowy that was before I upgraded to 2.4. I haven't tried since then

[2020-01-28 20:54] #1868 closed

[2020-01-28 20:54] whynowy commented on #1447
@cscetbon - It is weird, I myself just tried on v2.2.x and v2.3.0, didn't see the issue. I'd appreciate if you could try it out one more time and let me know the result.

[2020-01-28 21:20] kabilan6 opened #2086 "How many Pods will be created for a workflow ?"
# Summary

if i have workflow with 30 tasks (includes DAG) , how many pods will be created ? is it going to be 30?

Does Argo creates a pod executes a step and delete the pod? is that how it works ?

Am planning to create one docker container and use that for 30 tasks to execute different operations of our ETL process.

[2020-01-28 21:49] simster7 opened #2088 "Individual steps have dissapeared from CLI watch"
When running a workflow with `argo submit --watch` the individual workflow steps are no longer visible. UI is unaffected.

[2020-01-28 21:52] alexec commented on #2085
This is fixed in rc4

[2020-01-28 21:52] #2085 closed

[2020-01-28 21:52] alexec commented on #2080
could you take a look at argoproj/argo/Dockerfile which is how we build it

[2020-01-28 21:53] alexec commented on #2082
I think this is a dup of #1066?

[2020-01-28 21:55] cscetbon commented on #1447
@whynowy I just tried and it's working now 🤷‍♂

[2020-01-28 22:14] ddseapy commented on #2082
Indeed, I missed that.  Guess feature doesn't exist yet.

Im guessing that screenshot was from an older version, where maybe cost calculation existed?  That other project looked like it might not be maintained anymore.

I'll close this and subscribe to the other issue

[2020-01-28 22:14] #2082 closed

[2020-01-28 22:17] simster7 commented on #2088
Offending commit is #1974
[code]

[2020-01-28 22:18] ddseapy commented on #1066
For cost, it would be great if this reflects the containers start time (not stage/pod start time which includes pending pod status).  Also gpu resources.

[2020-01-28 22:28] whynowy commented on #1447
@cscetbon - Thanks, I would close this issue for now, feel free to open a new one if you see anything wrong.

@ozankabak - If you get a chance, please reopen it with an example yaml.

[2020-01-28 22:28] #1447 closed

[2020-01-28 22:46] simster7 commented on #2088
Not actually a regression, but this behavior appears when `ALWAYS_OFFLOAD_NODE_STATUS` is set to `true` _and_ the CLI is not aimed at the Argo Server (by setting `ARGO_SERVER` and `ARGO_TOKEN`) accordingly.

@alexec To provide better documentation and display a warning when the CLI detects this behavior.

[2020-01-28 23:33] alexec commented on #2088
Will be fixed in #2048

[2020-01-29 00:21] alexec opened #2090 "Restart Argo Server when config map changes"
# Summary

The workflow controller listens to config map changes and reconfigures when it changes.

# Motivation

The Argo Server does not and would continue to read and write to the persistence etc if we do not restart.

# Proposal

Not sure.

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this wa

[2020-01-29 00:22] alexec commented on #2090
@jessesuen @sarabala1979 thoughts on this?

[2020-01-29 00:51] #2054 closed

[2020-01-29 00:51] #2072 closed

[2020-01-29 00:54] fabio-rigato opened #2091 "Add failOverNodeSelector in retryStrategy configuration"
# Summary

Add the possibility to execute the step/job with a separate nodeSelector (for example from preemtible to non-preemtible node) if retryStrategy will fail after attempts.

# Motivation

I'm wondering if is possible to use a different node after all failure retries defined in the retryStrategy field.
Basically I used to try N times with a preemptible node (defined in nodeSelector) and I wo

[2020-01-29 09:34] lfdversluis commented on #1915
Thanks for sharing your knowledge @simster7, I am happy with awaiting #2007. So the Template stuff comes from k8s, good to know :) Are you guys implementing templates (probably extending some basic interface) like the PodTemplateSpec stuff mentioned in https://kubernetes.io/docs/concepts/workloads/controllers/deployment/ ? I feel like I need to read more on this topic. If you know good resources,

[2020-01-29 16:40] TekTimmy commented on #2086
Yes Argo will create 30 Pods, one pod for every task, that's why you can specify a different container image for every task. Depending on your DAG they'll be started parallel or sequentially.

[2020-01-29 16:49] simster7 commented on #2086
@TekTimmy is correct. Closing this, feel free to reopen if necessary

[2020-01-29 16:49] #2086 closed

[2020-01-29 16:51] simster7 commented on #2090
As well as the `workflow-controller`, correct?

[2020-01-29 18:11] kabilan6 commented on #2086
based on the response, for etl processing use case, if i have more jobs running on same cluster in parallel then we need to reserve enough IP address as the IP address aren't shred by POD . is my understanding correct ?

Another question -  i have two uses cases with complex workflows

1. I need to run a 10 workflows in parallel on daily basis. Each workflow will have roughly about 20 -30 task . a

[2020-01-29 18:22] alexec commented on #2090
I believe the controller already re-configures itself.

[2020-01-29 18:41] alexec commented on #802
We recently added a similar ability to Argo CD:

* Show and filter workflows in the UI by label.
* CLI:
  * List workflows with a label.
  * Delete all workflows with a label.

We should decide whether or not to support labels on templates, cron workflows, and archived workflows (probably not for a v1).

[2020-01-29 18:44] alexec commented on #1980
Duplicate of #1951.

[2020-01-29 18:44] #1980 closed

[2020-01-29 19:59] logicfox commented on #2076
A possible option is to migrate CI from CircleCI to Argo workflows. If ArgoCD is running in a Kubernetes cluster, can't that cluster be re-used for running the CI workflows?

[2020-01-29 20:37] rpocase commented on #1050
@jessesuen Is there a more complete example of your last comment? The best I could guess was you would have an input parameter that populates an input artifact. I.e.

[code]

I seem to get a parse error trying to do something similar. I COULD inline the file content, but the file is rather large and makes reading the workflow harder.

[2020-01-29 22:00] alexec commented on #2076
We've discussed using Argo Workflows as our CI, but that is actually what Argo CI, and don't developer that anymore. But we could revisit it.

I'd love to be running some ML workloads on it.

[2020-01-29 22:17] rafalbigaj opened #2095 "Issues with the PNS executor and CRI-O"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
I experience issues with PNS executor on CRI-O (OpenShift 4.2).
Any run (including https://github.com/argoproj/argo/blob/master/examples/artifact-passing.yaml) fails with:
[code]
even though the main container finished suc

[2020-01-29 22:22] alexec commented on #2095
Hi @rafalbigaj would you be interested in submitting a fix for this ?

[2020-01-29 22:23] alexec commented on #1983
See #1375

[2020-01-30 01:38] #2027 closed

[2020-01-30 03:53] zoux86 commented on #2018
@alexec  yeah, i just want to be a argo developer, so i want to install argo in source code。
[code]

[2020-01-30 06:57] rafalbigaj commented on #2095
@alexec Sure, the fix is already in PR: https://github.com/argoproj/argo/pull/2096

[2020-01-30 12:25] rmgpinto opened #2099 "More information on the CronWorkflow UI page"
# Summary

Add more information on the CronWorkflow page to understand run status.

# Motivation

Get a faster indication of the status of CronWorkflow runs.

# Proposal

Add two items on each CronWorkflow on the UI:

- The last time the CronWorkflow ran
- A visual indication of the number of tasks that ran and if they were successful or not (like Airflow)

Thanks

---

**Message from the maintain

[2020-01-30 14:34] fsiegmund opened #2100 "Support for base URL in new argo UI server"
# Summary

Support for base URL in new argo UI server

# Motivation

This was supported before v 2.5. Without this feature, deployment is limited to / route.

# Proposal

Similar implementation to previous version (< 2.5). I tried to patch the base attribute in index.html via an nginx proxy, but changes are required within the UI code to get it to work correctly.

---

**Message from the maintaine

[2020-01-30 15:43] alexec commented on #2018
ok - I'm working on a new guide, try this (and please comment):

https://docs.google.com/document/d/19mO0tI3IcgyEPlY3sfyv5XN-QhTnLP8hOpjXHu3lXD4/edit

[2020-01-30 15:44] alexec commented on #2100
Thank you. Can you point me to how you used to configure this please so I can ensure feature parity?

[2020-01-30 15:47] alexec commented on #1066
Some thoughts from my experimentation...

We can only calculate cost estimates based on the data we have:

1. The pod spec, e.g. each container's resource request - CPU, memory, storage and ephemeral storage.
2. Each pod's container status -  e.g. run time (which maybe zero if not waiting to start).
3. Any defaults for resources requests.

Anything else?

We can mix-in weightings, e.g. CPU might b

[2020-01-30 16:11] simster7 commented on #2099
Thanks for the suggestion. Would you consider submitting a PR?

[2020-01-30 16:29] #2095 closed

[2020-01-30 16:35] ddseapy commented on #1066
Yeah, it is extremely difficult to get accurate cost with entire projects like kubecost having formed to attempt to track cost accurately (integration with cloud provider's pricing api, node instance types, integration with kube-state-metrics...).  There is cost spinning up/down machines for pods, container-creating (downloading large docker images),  and situations where one resource type is not

[2020-01-30 16:42] fsiegmund commented on #2100
The base url was set before via BASE_HREF environment variable.  If you switch to v2.4.3 repo and search for BASE_HREF you will find how it was used during deployment e.g. I was setting it to /ui/argo/ and created appropriate ingress and service rules, and also deployed an nginx reverse proxy for remapping API calls from the UI.

See https://github.com/argoproj/argo/issues/716

https://github.com/

[2020-01-30 18:03] simster7 opened #2101 "When using the Argo Server as a client, `argo watch` is laggy"
When using the Argo Server as a client (i.e. setting `ARGO_SERVER`), `argo watch` lags. It skips a couple of seconds sporadically, see: https://cl.ly/c283b49e0642

[2020-01-30 18:08] simster7 opened #2102 "When changing panes in the UI, an error is briefly shown"
See: https://cl.ly/11b6ed542c4a

[2020-01-30 18:24] tcolgate opened #2103 "Deep links to workflows, and reload, no longer work"
**What happened**:

**What you expected to happen**:
I can no longer directly link from another ui to the workflow URL. Also, if I am viewing a workflow, and ctrl-r reload, it doesn't work. Both workflows get a 404

**How to reproduce it (as minimally and precisely as possible)**:

visit /workflows
click on a workflow
hit ctlr-r

similarly, copy the URL for a specific workflow, and open in a new t

[2020-01-30 19:29] simster7 commented on #2102
Working on fix

[2020-01-30 19:37] alexec commented on #2101
have you tried disabling offloading?

[2020-01-30 21:03] simster7 commented on #2103
I am so far unable to reproduce this. I tried both with webpack and with the server on both master and the release branch. Could you provide more details? Browser? How are you running the server? Screen cap?

[2020-01-30 21:04] #2102 closed

[2020-01-30 21:46] #2100 closed

[2020-01-30 23:48] whynowy commented on #1911
@nikolay - GCS is already supported as artifact storage, let me know if you have a different opinion.

https://github.com/argoproj/argo/blob/master/docs/configure-artifact-repository.md#configuring-gcs-google-cloud-storage

[2020-01-31 00:14] alexec commented on #2103
I'll take a quick look.

[2020-01-31 00:58] amoldharamshi opened #2107 "Error while using rc6"
Warning: You tried to redirect to the same route you're currently on: "workflows"
(anonymous) @ main.9263c6e00044a0788ca2.js:12
r @ main.9263c6e00044a0788ca2.js:12
t.componentDidUpdate @ main.9263c6e00044a0788ca2.js:17
Im @ main.9263c6e00044a0788ca2.js:111
P_ @ main.9263c6e00044a0788ca2.js:111
e @ main.9263c6e00044a0788ca2.js:98
c @ main.9263c6e00044a0788ca2.js:98
y @ main.9263c6e00044a0788ca2.js:

[2020-01-31 00:59] sarabala1979 commented on #2107
He is using v2.5.0-rc6

[2020-01-31 01:26] alexec commented on #2107
I'll own this. Already have a fix.

[2020-01-31 01:43] alexec commented on #2107
Fixed by #2048

[2020-01-31 02:12] #2107 closed

[2020-01-31 04:44] sarabala1979 opened #2108 "CLI watch and wait is not exiting if resource got deleted in resource template"
Similar issue #2078
Argo Cli `watch or wait` keeps hanging if  resource got deleted in the resource template

[code]

[2020-01-31 04:56] #2078 closed

[2020-01-31 05:00] sarabala1979 commented on #2108
fixed #2084

[2020-01-31 05:00] #2108 closed

[2020-01-31 05:40] nikolay commented on #1911
@whynowy Did you read what I wrote?

[2020-01-31 08:09] tcolgate commented on #2103
My ui is behind a reverse proxy (technically two, an oauth2 proxy and a traefik instance), but I really don't think that is the issue. If you open the debugger and browse around, the ui never actually loads /workflows/[ID], it only loads /workflows and then calls out to /api/v1/workfloes/[ID]. When you hit reload on a workload view , the browser actually tries to visit that URL, and then I get the

[2020-01-31 08:10] rdigiorgio commented on #1773
Thanks for clarifying, I just have had a newborn so I am trying to work on it when I have spare time (do I really have some ? lol) because I might need this at work

[2020-01-31 08:15] tcolgate commented on #2103
Browser is `Chrome Version 79.0.3945.88 (Official Build) (64-bit)`
I tried just port-forward'ing to the server pod and browsing localhost:2746, and I get exactly the same behaviour.

[2020-01-31 08:20] tcolgate commented on #2103
![image](https://user-images.githubusercontent.com/76019/73523290-76ae9e00-4402-11ea-8bd3-9006fbe1467f.png)

[2020-01-31 08:24] tcolgate commented on #2103
That shows the flow of requests that I see. The xhr for the /api/v1/.... work just fine, but the initial browsing two the workflows view never uses /workflows/argo/... .
I get the same error if I go to /workdlows, then right click on one of the listed workflows and copy link, then paste that into another tab.
It could be that you are viewing the by starting it directly from node, rather than servi

[2020-01-31 08:51] tcolgate opened #2110 "executor can't start: .Current() not supported on linux/amd64"
**What happened**:

Create a workflow that previously ran on 2.4

**What you expected to happen**:

Workflow starts and runs

**How to reproduce it (as minimally and precisely as possible)**:

[code]
**Anything else we need to know?**:

This seems to be triggered specifically when using either the ssh private key, or
the git@..., I've not been able to separate the two (plain,, non-private https gi

[2020-01-31 13:11] rdigiorgio commented on #1773
@simster7 I created a pull request for this #2111

[2020-01-31 13:36] zoux86 commented on #2018
@alexec i followed your new guide。And still have a problem: the argo seems work, but when i submit a workflow, it always pending。The detail is below:

#### my steps:
(1)  install Pre-requisites:
Dep: `brew install dep`
Golang
Yarn: `brew install yarn`
Docker
Kubernetes Cluster (not use K3D)
(2) install argo by using command "make start"
#####
The pods status:
[code]
##### The logs (kubectl logs wo

[2020-01-31 14:56] bbesser commented on #2064
Hi,

after upgrading to argo 2.5rc6 via

[code]

I get the following error

[code]
I.e., the workflow fails after the first of several steps.

The error message __failed to save outputs: Failed to establish pod watch: unknown (get pods)__ occurs for **both the docker executor and the pns** executor.

Regards.

[2020-01-31 15:45] simster7 commented on #2103
Aha! I found the issue here (thanks to your screen cap). Seems like it is the same issue that came up in Argo CD: https://github.com/argoproj/argo-cd/issues/2114. I.e., WebPack doesn't like when it has to route URLs with periods in them. Luckily, this has a very simple fix: https://github.com/argoproj/argo-cd/pull/2162

Thanks for providing such good debugging information! Will submit a PR shortly

[2020-01-31 17:20] #2103 closed

[2020-01-31 17:22] alexec commented on #2110
I think this is fixed in rc6. Can you please test?

[2020-01-31 17:28] fsiegmund opened #2113 "Navigation errors in new UI"
**What happened**:

When using argo server with --basehref, navigation is broken in several places:

Bug in app.tsx:
[code]
the correct statement should be as in old UI
[code]
The baseulr is already included where history is updated. By adding the basename parameter, the location in the browser contains duplicated baseulrs.

There are also a few places in the UI source code with a missing _uiUrl()

[2020-01-31 17:30] alexec opened #2114 "Migrate CLI cron commands to use `apiclient.Client`"
# Summary

What change you think needs making.

# Motivation

To reduce tech-debt and provide a Golang client for external users.

Depended on by #1951.

# Proposal

Please speak to @alexec about how to do this. You'll probably need to write new e2e tests, and as a find bugs you need to fix. You should be able to find where you need to make changes based on //DEPRECATED.

* [ ] cron/common.go
* [

[2020-01-31 17:31] alexec opened #2115 "Migrate CLI workflow template commands to use `apiclient.Client`"
# Summary

What change you think needs making.

# Motivation

To reduce tech-debt and provide a Golang client for external users.

Depended on by #1951.

# Proposal

Please speak to @alexec about how to do this. You'll probably need to write new e2e tests, and as a find bugs you need to fix. You should be able to find where you need to make changes based on //DEPRECATED.

* [ ] template/common.go

[2020-01-31 17:34] alexec commented on #1956
Duplicated.

[2020-01-31 17:34] #1956 closed

[2020-01-31 17:38] alexec opened #2116 "Migrate CLI workflow commands to use `apiclient.Client`"
# Summary

What change you think needs making.

# Motivation

To reduce tech-debt and provide a Golang client for external users.

Depended on by #1951.

# Proposal

Please speak to @alexec about how to do this. You'll probably need to write new e2e tests, and as a find bugs you need to fix. You should be able to find where you need to make changes based on //DEPRECATED.

* [x] completion.go
* [x]

[2020-01-31 17:38] alexec opened #2117 "Clean-up any deprecated code not needed after migration to use `apiclient.Client`"
# Summary

What change you think needs making.

# Motivation

To reduce tech-debt and provide a Golang client for external users.

Depended on by #1951.

# Proposal

Please speak to @alexec about how to do this. You'll probably need to write new e2e tests, and as a find bugs you need to fix. You should be able to find where you need to make changes based on //DEPRECATED.

* [ ] client/conn.go
* [

[2020-01-31 17:40] alexec commented on #2018
this can be a permission issue as the workflows run with a specific role. Can you get the workflow-controller logs, maybe look for "error" in them?

[2020-01-31 17:41] alexec commented on #2113
Thank you for this @fsiegmund - would you be interested in contributing a fix?

[2020-01-31 17:44] alexec commented on #2064
Thank you for a good detailed comment.

Failing to establish watches maybe caused by the controller not having permission, can you check the getting started guide for this?

https://github.com/argoproj/argo/blob/master/docs/getting-started.md

You might want to try out the quick-start-*.yaml manifests if you're experimenting.

https://github.com/argoproj/argo/tree/release-2.5/manifests

[2020-01-31 17:54] alexec commented on #2114
@simster7 to implement, @alexec to review.

[2020-01-31 17:55] #2062 closed

[2020-01-31 17:59] #2088 closed

[2020-01-31 17:59] #2020 closed

[2020-01-31 18:06] fsiegmund commented on #2113
Sure. I will create a pull request.
________________________________
From: Alex Collins <notifications@github.com>
Sent: Friday, January 31, 2020 5:41 PM
To: argoproj/argo <argo@noreply.github.com>
Cc: Frederik Siegmund <siegmund@slb.com>; Mention <mention@noreply.github.com>
Subject: [Ext] Re: [argoproj/argo] Navigation errors in new UI (#2113)

Thank you for this @fsiegmund<https://urldefense.co

[2020-01-31 18:08] alexec commented on #2113
Thank you!

[2020-01-31 18:08] alexec commented on #2113
Welcome to the team :)

[2020-01-31 18:17] alexec commented on #2007
@dtaniwaki , we'd like to include this change in v2.6. That's 30 days away (yes - it is soon). @simster7 and I wanted to check if you wanted to work on it, or if we should?

[2020-01-31 18:21] alexec commented on #802
I'm going to create separate issues for the the other types.

[2020-01-31 18:22] alexec commented on #802
@whynowy and I will pair on this. @simster7 would you willing to be the reviewer? It'll be at least a week before we have anything to review.

[2020-01-31 18:24] whynowy commented on #1911
@nikolay - Thanks. @decarboxy will get it implemented in his PR https://github.com/argoproj/argo/pull/1067.

[2020-01-31 18:26] nikolay commented on #1911
Thank you, @whynowy!

[2020-01-31 18:44] sarabala1979 opened #2120 "Open the Argo server page in browser when argo server starts in local mode"
# Summary
Open the Argo server page in default browser when  argo server starts in local mode

[2020-01-31 19:02] simster7 commented on #802
@alexec Yes, I'd be happy to review

[2020-01-31 19:06] simster7 opened #2121 "Redirect to -- or provide a link to -- the login page when there is an auth problem"
When a user is not logged in, the UI shows a generic permission error. Either the user should be redirected to the login page, or they should be provided a link.

[2020-01-31 20:10] simster7 opened #2125 ""TestCLIWithServerSuite/TestArchive" is flakey"

[2020-01-31 20:22] simster7 commented on #1773
Congratulations! 🎊 🎉

[2020-01-31 20:46] kabilan6 opened #2126 "Argo workflow not running"
# Summary

Argo workflow in pending status. Installed Argo 2.4.3 on cluster. Verified workflow controller in running status and created rolebinding with clusterrole =admin  but the sample workflows in pending status.

when i created new clusterrolebinding with clusterole=admin , the workflow ran and Succeeded . Does Argo need clusterrolebinding privileges to run the workflow.?

[2020-01-31 21:03] alexec commented on #2125
this is not quite correct - the test runs after a test that runs `argo delete ...` and I think that test does not correctly delete pods ... hence the attempt to have podGC - but maybe that has not worked - in that case should fine all pods that are part of a workflow but orphaned from it - I'll take this

[2020-01-31 21:05] alexec commented on #2126
It needs some role binding to run. If you're running in cluster-scoped mode (i.e. `install.yaml`) rather than namespace-scope moder (`namespace-install.yaml`) then you will need a cluster role binding, otherwise a role binding.

Read more https://github.com/argoproj/argo/blob/master/docs/workflow-rbac.md

[2020-01-31 23:19] haghabozorgi opened #2129 "downloading artifact from s3 in ui, timed out waiting for condition"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
Installed the latest 2.5.0rc7 via install.yaml on eks 1.14 and added to the install.yaml  the diff shown in the output below, so the `archivedLogs` and s3 config are enabled (workflow-controller-configmap):
[code]
to gain u

[2020-02-01 00:13] #2125 closed

[2020-02-01 00:18] alexec commented on #2129
@sarabala1979 before I investigate - have you seen similar before please?

[2020-02-01 03:23] #2113 closed

[2020-02-01 09:57] bbesser commented on #2064
Thanks for the _snappy_ response!

As you indicated, the default:default SA did not have sufficient permissions. I ran
[code]
and (multi-step) workflow succeed :-)

Thank you!

[2020-02-01 09:57] #2064 closed

[2020-02-01 10:29] dorsany commented on #1880
Hi @alexec , I can't work with `WorkflowTemplate` until I will find a solution for my `max depth` issue.
Can you please review it and let my know which solution is better?

[2020-02-01 14:42] ddseapy commented on #2129
generally this kind of error is because the CA that signed s3.amazonaws.com isn't being used in the request.  Depending on your situation & security requirements (https://serverfault.com/questions/444186/is-it-safe-to-use-s3-over-http-from-ec2-as-opposed-to-https), this can likely be fixed by using `insecure: true` under your `s3:` configuration section.

Otherwise, it would appear that argo needs

[2020-02-01 16:37] changhc commented on #1896
Hello @simster7 , may I take this issue?

I'd like to know why you chose the symbol `||` as well. Is it the pause symbol?

I think maybe we can use the empty set symbol `∅` or circle with left half black `◐`.  Suspended nodes are still in the running state, so I think we can keep using circles for consistency.

[2020-02-01 17:06] zoux86 commented on #2018
@alexec  i didn't find any error.  here is the workflow-controller logs.
 [logs](https://github.com/zoux86/logs/blob/master/log.txt).

[2020-02-01 18:18] jamesgunnfiveai opened #2132 "Artifact archive strategy of none still zips/unzips artifact"
**What happened:**
With the artifact archive strategy set to none, the artifact is tarred and then untarred before upload to s3. For large artifacts (mine are 1-2Gb) these steps take a significant amount of time, in particular more than the S3 upload time of the unzipped artifact.

**What you expected to happen:**
No zipping of the artifact, direct upload to S3.

**How to reproduce it (as minimall

[2020-02-01 18:45] ddseapy commented on #2129
It looks like the image is from scratch (https://github.com/argoproj/argo/blob/master/Dockerfile#L87-L91), which wouldn't have CA's by default.  I also don't see them COPY'd in.

So unless the CA is built into the binary (which would seem odd), then I'm guessing no certs exist in the docker.  You can always create a secret and mount them into the container and set `AWS_CA_BUNDLE` env var - requiri

[2020-02-01 22:23] ddseapy opened #2133 "Archived workflow `workflow` column should be json"
# Summary

The `workflow` column in the `argo_archived_workflows` is of type `text` and should be of type `json`.

# Motivation

Making it `json` type would make it much easier to query in postgresql.

I ran this after installation, which works but would be nice if defaulted to json:
[code]

# Proposal

How do you think this should be implemented?

Set the type to `json`.

---

**Message from the

[2020-02-01 22:42] haghabozorgi commented on #2129
@ddseapy thanks for your suggestions. I tried with `insecure: true`, i get `http: named cookie not present` in browser window, and it does not seem to log anything on the argo-server nor the workflow-controller. So I tried to remove the insecure: true line to revert back and now i get "http: named cookie not present" message in browser even after i kubectl delete -f install.yaml and reinstall, and

[2020-02-01 22:54] ddseapy commented on #1671
This continues being an issue with `2.5.0-rc7`, except now it's `/artifacts-by-uid/` when it should be `/${BASE_HREF}/artifacts-by-uid/`

[2020-02-01 23:09] ddseapy commented on #2129
@haghabozorgi I am hitting the same `http: named cookie not present` error with `insecure: true` on rc7.  This is a bug/regression, it worked as recent as `2.4.3`. @alexec let me know if you want me to create a separate ticket for this.

Yes, that's generally where ca certs are at on machines.  If `AWS_CA_BUNDLE` points to wherever that file is within the docker then i'd suspect you wouldn't see t

[2020-02-01 23:17] ddseapy commented on #1671
Same problem for `/workflow-templates`

[2020-02-01 23:18] ddseapy commented on #1671
fyi @alexec

[2020-02-03 12:14] xogeny commented on #1913
I'm relatively new to Argo, but I've already seen similar issues.  I'm running computational jobs.  I know that these will occupy, for example, 1 CPU.  If I have a cluster with, say, 10 CPUs but my Workflow will create 100 pods, I'd like to be able to specify the restriction at the Workflow level in the `spec` that the work described will require 1 CPU.

I see these resource based constraints as i

[2020-02-03 13:08] jamhed commented on #1913
@xogeny I'm going to implement it, if you'd like you can be one of beta-testers :) Basically the idea is to alter how pods are scheduled, not to fail when there are no resources, but rather indicate a "Pending" state.

[2020-02-03 13:22] xogeny commented on #1913
@jamhed I'd be very happy to try it out.  This will be relatively important for us.  BTW, I see you are in Prague.  Turns out I'm in Prague this week.  Let me know if you want to grab lunch this week and talk Argo, my treat.  I'm near Karlin, BTW.

[2020-02-03 13:26] jamhed commented on #1913
@xogeny sure, would love to, check your mail. actually, i have more things i'd like to discuss with this regard :)

[2020-02-03 13:35] tcolgate commented on #1941
This may be due to stderr not being saved, and may be fixed by #2136

[2020-02-03 13:37] tcolgate commented on #1775
may be fixed by #2136

[2020-02-03 13:39] tcolgate commented on #1361
#2136 should fix saving of stderr

[2020-02-03 13:43] tcolgate opened #2137 "ui: Logs link does not fall back to archive"
**What happened**:
* start a workflow that archives logs
* when it completes, delete the pods
* go to the ui, click the node, and click "logs"
* we don't see the logs
* console.logs shows a 404
* network logs does not show any requests for artifacts
* main-log can be retrieved from the artifacts tab

**What you expected to happen**:
Logs should pull logs from stopped pods from the archive

**Anyth

[2020-02-03 14:52] wcedmisten opened #2138 "Can't find documentation for WorkflowTemplates"
# Summary

I can't find documentation for WorkflowTemplates. Is there documentation or examples for WorkflowTemplates that I could look at?

# Motivation

To use WorkflowTemplates in my project.

[2020-02-03 15:05] tcolgate commented on #2137
I think this is because the ready state on the error event that gets fired is "connecting" (0)

[2020-02-03 15:46] wcedmisten commented on #2138
https://github.com/argoproj/argo/tree/master/examples/workflow-template

[2020-02-03 15:46] #2138 closed

[2020-02-03 16:11] dtaniwaki commented on #2007
@alexec I’d love to but I think I won’t have enough time to implement the feature by myself. Could you include me as a reviewer instead?

[2020-02-03 16:16] simster7 commented on #2007
I'll take it over and assign you as a reviewer. Thanks, @dtaniwaki

[2020-02-03 16:16] haghabozorgi commented on #2129
@ddseapy is there extra config needed to get the artifact store setup in 2.4.3? I was trying to confirm if this is working in 2.4.3 but if i insert the same configmap snippet i see no artifacts list in the archive tab.

[2020-02-03 16:27] tcolgate commented on #2129
One quite way of doing this is to add the following to the argo-server deployment:
[code]

[2020-02-03 16:30] simster7 commented on #2137
@tcolgate Seems like you have a good handle on this, would you like to submit a PR? If not I can take it over

[2020-02-03 16:34] tcolgate commented on #2137
https://github.com/argoproj/argo/pull/2139 attempt to fix, but  needs someone that understand what is happening

[2020-02-03 16:36] ddseapy commented on #2129
@haghabozorgi I don't think the config is different.  hopefully @tcolgate 's fix works for you.

[2020-02-03 16:37] tcolgate commented on #2129
The executor probably has a valid system CA as it's build on a debian image. the argocli container is more stripped down.

[2020-02-03 16:52] alexec commented on #1731
See
* https://github.com/argoproj-labs/argo-java-client
* https://github.com/argoproj-labs/argo-java-client/issues/8

[2020-02-03 16:57] alexec commented on #2007
@dtaniwaki thank you for volunteering to be reviewer on this!

[2020-02-03 16:59] alexec commented on #2129
I think this is probably a bug and that the argo-server image may need to be built on the same base as the argocli. This is not straight forward, I'll own it.

[2020-02-03 17:01] alexec commented on #2018
Ok. Look at the logs for the workflow's "wait" and "main" containers?

[2020-02-03 17:02] alexec commented on #1671
I think this is fixed by https://github.com/argoproj/argo/pull/2130.

[2020-02-03 17:02] #1671 closed

[2020-02-03 17:02] alexec commented on #1671
We'll probably do an rc8 tomorrow to test.

[2020-02-03 17:03] matty234 opened #2140 "Concaternated 20GB GZIP Input Archives Cause Stalling"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
When a big (20-40gb) input artifact is used as an input archive the init script hangs for a long time.

**What you expected to happen**:
The download from the object store to finish promptly.

**How to reproduce it (as min

[2020-02-03 17:08] alexec commented on #1880
hi @dorsany, I'm afraid I don't know much about this managed fields - is this something you'd be able to look into and suggest a solution please?

[2020-02-03 17:20] ddseapy commented on #1671
ah sorry i missed that hadn't gotten into rc7.  i'll verify it works then.  thanks!

[2020-02-03 17:21] ddseapy commented on #2129
@alexec are you also testing with `insecure: false` or should I make a separate ticket?  the certificate issue wouldn't fix that.

[2020-02-03 17:49] alexec commented on #2129
I'm working of a fix that will change from scratch - what would be useful is for someone to test it for me.

[2020-02-03 17:51] simster7 commented on #1896
Hi @changhc, feel free to take over this issue! I was in fact trying to make a "pause" symbol. I think the pause symbol would be better -- it universally understood. While the `◒` symbol could be seen as more consistent, its meaning is also not as ubiquitous as the pause symbol.

If for some reason the pause symbol doesn't work out, we can explore other options.

[2020-02-03 17:59] alexec commented on #2129
@tcolgate thoughts on a solution

* Option 1 - update the manifests to include the example you provided?
* Option 2 - use the same debian slim image as the executor?

@jessesuen - thoughts on this please?

[2020-02-03 18:01] alexec commented on #2129
https://medium.com/on-docker/use-multi-stage-builds-to-inject-ca-certs-ad1e8f01de1b

[2020-02-03 18:03] ddseapy opened #2142 "Unable to download artifacts from Argo UI"
Checklist:

 * [X ] I've included the version.
 * [X ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
When trying to download artifacts through the UI, when setting `insecure: true` under the `s3:` configuration, was presented with `http: named cookie not present`

**EDIT - @haghabozorgi discovered this happens regardles

[2020-02-03 18:04] ddseapy commented on #2142
Discussed more in https://github.com/argoproj/argo/issues/2129, however that ticket is tracking the missing CA certificates for `insecure: false`.  This seems to be unrelated.

[2020-02-03 18:09] haghabozorgi commented on #2129
@ddseapy  when I add the volume mount and volume snippet per @tcolgate's  suggestion, I still get `http named cookie not present` when trying to download the artifact from the ui

[2020-02-03 18:13] alexec commented on #2129
I don't have access to S3 is a way to reliably test this. I've create a PR, would you be able to use the Dockefile there to try it out?

[2020-02-03 18:14] ddseapy commented on #2129
@haghabozorgi i'm afraid I'm not sure what the cause of that issue is.  I made the other ticket to track that.

[2020-02-03 18:26] haghabozorgi commented on #2129
@alexec  I am building from your repo now, but not sure if i can test properly given the issue I mentioned above. I assume i will see the same http named cookie not present message?

[2020-02-03 18:38] ddseapy commented on #2129
@haghabozorgi yes.  if you deploy without @tcolgate's fix, and see "http named cookie not present" instead of the original error "x509: certificate signed by unknown authority", then the PR works.

[2020-02-03 19:08] simster7 opened #2144 "Save custom Workflow metrics to the Workflow Archive"
From @ddseapy:

[2020-02-03 19:21] haghabozorgi commented on #2129
@alexec  using the image from your docker file results in `http named cookie not present` message.

[2020-02-03 19:40] alexec commented on #2129
Ok, but we know that is a good fix for the certs.

[2020-02-03 19:46] haghabozorgi commented on #2129
@alexec  based on @ddseapy  comments it seems the http named cookie not present is a separate issue, but that seems to be the case whether insecure flag is set to true or false. The end result being the user is still not able to download artifacts from ui.

[2020-02-03 19:46] alexec commented on #2129
Ok - should we close this issue once the PR is merged?

[2020-02-03 19:47] haghabozorgi commented on #2142
this seems to happen whether you set insecure to true or false.

[2020-02-03 19:48] ddseapy commented on #2129
i'ts up to ya'll.  if you want to leave this open, i'll close the other one.  if you want to close this one, i'll leave the other one open.

[2020-02-03 19:49] ddseapy commented on #2142
thanks @haghabozorgi! i'll update the description.  i don't currently have a good way to test with inscure: false.

[2020-02-03 19:50] alexec commented on #2137
Merged. Will come in rc8.

[2020-02-03 19:50] #2137 closed

[2020-02-03 19:53] ddseapy commented on #2129
@alexec @tcolgate have you been able to download artifacts through the UI with rc7?  If so, I'm curious why your setup might be different from @haghabozorgi and mine.

[2020-02-03 19:57] ddseapy opened #2145 "Read-only RBAC has the UI showing workflow as deleted when it is not"
Checklist:

 * [X ] I've included the version.
 * [X ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
**EDIT - This looks to be JUST a UI issue, and not a security concern**

When setting the RBAC for the server pod to the following, I am able to delete workflows from the archive, but not from the cluster.
[code]
**What

[2020-02-03 20:04] ddseapy commented on #2145
In slack @sarabala1979 pointed me to https://github.com/argoproj/argo/blob/4cda9a05bf8cee20027132e4b3428ca9654bed5a/server/workflowarchive/archived_workflow_server.go#L106

I'm not sure yet why this doesn't seem to be taking affect.

[2020-02-03 20:17] simster7 commented on #1539
@tekenstam @sandeepbhojwani Hey guys (and anybody else interested in this issue)! Could I ask your opinions on the current implementation of this issue here: https://github.com/argoproj/argo/pull/1853#issuecomment-579843428? Curious what you think of the current spec. I would also appreciate it if you could read and pitch in on this discussion from slack: https://argoproj.slack.com/archives/C8J6SG

[2020-02-03 20:34] ddseapy commented on #2145
@alexec @sarabala1979 ok, so it actually doesn't delete the workflow.

For other actions (kubernetes-based ones) the UI shows a Red pop-up saying permission denied.

For postgres is does not show the pop-up, and shows the workflow gone.  If you do a refresh or query the table it's still there.

[2020-02-03 20:36] ddseapy commented on #2145
renamed the ticket

[2020-02-03 20:50] alexec commented on #2129
I have, but we're using MinIO over HTTP.

[2020-02-03 20:52] alexec commented on #2145
Can I please confirm this is a UI only issue (which isn't great) - and that it not actually deleted (which is worse).

[2020-02-03 21:00] ddseapy commented on #2129
I use minio over http as well.

[2020-02-03 21:01] ddseapy commented on #2145
@alexec that appears to be the case.  I am much less concerned about this now.  Apologies for not checking the database directly sooner.

[2020-02-03 21:01] alexec commented on #2129
Can you please check you have secrets set-up?

[code]

[2020-02-03 21:12] alexec commented on #2145
Thank you @ddseapy

[2020-02-03 21:21] ddseapy commented on #2129
as far as i can tell it's ok.

[code]

[2020-02-03 21:25] alexec commented on #2129
@ddseapy I redacted your paste as you shared un-encrypted credentials. If this is a production system, then you should immediately change your password.

[2020-02-03 21:27] alexec commented on #2129
I'm wondering where this error is coming from - can you open your browser console and share the HTTP request and response please?

[2020-02-03 21:27] ddseapy commented on #2129
no, that is simply `admin` `password` base64 encoded.

[2020-02-03 21:27] alexec commented on #2129
Oh - what auth mode are you using? Server?

[2020-02-03 21:30] alexec commented on #2129
Ok. I've reproduced this.

[2020-02-03 21:40] alexec commented on #2129
Fix implemented.

[2020-02-03 21:48] haghabozorgi commented on #2129
@alexec  does your fix address downloading from s3 or is it just for the minio over http use case?

[2020-02-03 21:50] ddseapy commented on #2129
minio is an s3-compatible api.  while, i don't have the ability to test s3, and it sounds like neither does @alexec it almost certainly fixes the error for s3 as well..

[2020-02-03 23:03] alexec opened #2149 "Change `argo token` to `argo auth token`"
# Summary

Change this command.

# Motivation

This will allow us to add more commands in the future.

# Proposal

Change the code.

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-02-03 23:16] alexec opened #2151 "What is "Kale"?"
What is this?

https://github.com/kubeflow-kale/kale

https://medium.com/kubeflow/automating-jupyter-notebook-deployments-to-kubeflow-pipelines-with-kale-a4ede38bea1f

[2020-02-03 23:19] alexec commented on #2133
Nice idea, would you like to submit a PR please? Should be just a case of adding a line to `migrate.go`.

[2020-02-03 23:20] alexec commented on #2133
Probably should do https://dev.mysql.com/doc/refman/8.0/en/json.html too

[2020-02-03 23:36] haghabozorgi commented on #2142
@ddseapy  https://github.com/argoproj/argo/pull/2129 was closed based on https://github.com/argoproj/argo/pull/2147 being merged. Using install.yaml from master branch and adding the volume and volume mounts from tcolgate's comment (til https://github.com/argoproj/argo/pull/2143 is merged)  still leads to http named cookie not present. Not sure if that is expected, given your last comment in https

[2020-02-03 23:39] alexec commented on #2133
This is easy!

References:

* https://www.slideshare.net/billkarwin/how-to-use-json-in-mysql-wrong

[2020-02-03 23:55] alexec commented on #2142
Fixed by https://github.com/argoproj/argo/pull/2147

[2020-02-03 23:55] #2142 closed

[2020-02-03 23:55] alexec commented on #2142
Please re-open if not :)

[2020-02-04 00:12] alexec opened #2153 "Try Out Cluster"

[2020-02-04 00:14] haghabozorgi commented on #2129
@alexec can we please re-open? I am testing install.yaml from master with same s3 snippet in my original comment on this issue and am still seeing `http: named cookie not present` in browser when I try and download main-logs for example. the url in the browser show `http://localhost:2746/artifacts/argo/local-script-j7wg9/local-script-j7wg9/main-logs?Authorization=null`

[2020-02-04 01:17] alexec commented on #2129
If bug persists - please re-open.

[2020-02-04 01:18] #2149 closed

[2020-02-04 01:20] alexec commented on #2153
Closing as we'll open internally.

[2020-02-04 01:20] #2153 closed

[2020-02-04 02:21] kabilan6 opened #2154 "New Argo-Server UI user authentication and Authorization"
how do we achieve the user authentication and authorization in the New improved UI. We are planning to develop a ETL orchestration process using the Argo workflow and argo events. We want only give few users with access to submit/suspend/resume/terminate a workflow. some user should only have read-only access to UI. some user should n't have access to UI. Any suggestions on how to achieve this ?

[2020-02-04 03:41] TrevorNodeJS opened #2155 "Can I schedule CronWorkflow for time of next year?"
# Summary

What do you want to know about this project?
The cron pattern does not contain year.

[code]

# Motivation

Why do you need to know this, any examples or use cases you could include?
How to schedule cron-workflow for next year?

[2020-02-04 03:54] sarabala1979 commented on #2154
new Argo server has three types of Authentication mode
**1. Server**
    Argo server will run a server-side service account full RBAC. All user can do without token
**2. Client**
    Argo Server will run with minimum or nil RBAC. All requests will be executed with the user/client token.
**3. Hybrid**
   Argo Server will run with RBAC which all user can access it. User can use their token to perfor

[2020-02-04 04:49] eug48 opened #2156 "unclear documentation comments for persistence in workflow-controller-configmap.yaml"
Currently workflow-controller-configmap.yaml has

[code]

Perhaps more clearer would be "nodeStatusOffLoad if false saves the entire workflow into both etcd and the persistence DB, if true node status is only saved to the persistence DB to avoid the 1MB limit in etcd".

For archive the wording appears to have a typo and is unclear about what can be read from the archive.

Thanks very much for all

[2020-02-04 06:38] sarabala1979 opened #2157 "Supporting Step/Task output caching and refer in another workflows"
# Summary
Cached step/task output (parameter or artifacts) can be referred to in another workflow to avoid the same step execution which will save time and resources.

Similar issue #944

# Motivation
In ETL and ML use cases, Some steps/tasks in all workflow will be the same output if the same input is passed. If Argo has the ability to cache the output for those steps, it can be referred to in an

[2020-02-04 06:38] seddonm1 opened #2158 "argo server configmap fatal 2.5.0RC7+"
**What happened**:
`argo server` throws a FATAL error when running with Argo 2.5.0RC7+ which I believe is due to this change:
https://github.com/argoproj/argo/pull/2092/files#diff-1afb956681cbe494a0d07d8092bf8dd0R116

[code]

**What you expected to happen**:
Argo 2.5.0RC6 and lower threw an error but not fatal and so still allowed Argo UI to work:

[code]

This issue occurs with example [install.y

[2020-02-04 06:53] sarabala1979 opened #2159 "Ability to configure template level Service Account"
# Summary
Provide the flexibility to configure different serviceaccount on the template level.

# Motivation
Instead of giving all access to one service account. we can create multiple service account with different resource access. Each template will have appropriate serviceaccount based on needs

# Proposal
[code]

[2020-02-04 08:17] mark9white opened #2161 "Running pods not being terminated after deadline"
Checklist:

 * [X] I've included the version.
 * [X] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

I am running commit 14d8b5d3913 and a running pod on a workflow that has exceeded the activeDeadlineSeconds is not being terminated.

**What you expected to happen**:

Running pod to be terminated with the workflow has ex

[2020-02-04 08:29] CermakM commented on #1913
@jamhed consider myself in for the testing :)

[2020-02-04 08:36] mark9white commented on #2161
Ah, I've realised it's the wait container that's meant to do the termination. Am closing.

[2020-02-04 08:36] #2161 closed

[2020-02-04 09:27] dseapy commented on #2144
Depends on https://github.com/argoproj/argo/issues/1539

[2020-02-04 10:04] TekTimmy commented on #2157
I agree it's not a bad idea but for Argo you are responsible for the data flow! Which means you copy the results of the step into S3 and let all depending steps copy the data back. I use EKS and it's clearly restricted to "WriteReadOnce" volumes which means a volume can be mounted by only one node.

[2020-02-04 10:38] dseapy commented on #1539
I'm curious what everyone thinks about the following changes.  It's a bit more complex, but provide a bit more flexibility.

Each step can emit metrics from a file on a path specified, as is currently done in the PR.  However, instead of this file containing a number, it contains all the prometheus metrics the step wishes to expose (https://github.com/prometheus/node_exporter#textfile-collector).

[2020-02-04 10:53] iMoses opened #2162 "apps/v1beta2 is deprecated in k8s 1.16, should use apps/v1 instead"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

Trying to install argo according to the "Getting Started" documentation I get the following when trying to run command:
[code]

**What you expected to happen**:

I'd expect the instructions under "Getting Started" to work

[2020-02-04 11:47] ddseapy commented on #2144
A bit of background:

We currently use grafana dashboards pointed at both prometheus and postgres datasources (ds).  For argo dashboards, the grafana prometheus ds points to the workflow-controller and postgres ds points to the archived workflows table.

Although many prometheus users leverage grafana, it could still be valuable as they can manually query postgres for the historical information.

[2020-02-04 12:16] ddseapy commented on #2162
Also `apiextensions.k8s.io/v1beta1` was deprecated in `1.16` in favor of `v1`:
[code]

[2020-02-04 12:24] ddseapy commented on #2129
@haghabozorgi master install.yaml points to `latest` docker tag.  It might be that the docker wasn't on dockerhub yet.  Do you mind setting the docker tags to 2.5.0-rc8 in the yaml just to make sure.

With rc8 I am able to download logs, though all other artifacts are downloaded as `.gz`, when they are `.tgz` so I have to rename them after downloading.  I'll open a separate ticket.

[2020-02-04 12:27] ddseapy opened #2163 "Artifacts download as `.gz` through UI when they are `.tgz`"
Checklist:

 * [X ] I've included the version.
 * [X ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

Downloading output artifacts through the UI results in a `.gz` file extension.

**What you expected to happen**:

The output artifacts are of type `.tgz`, and therefore require renaming before you can open them.

**How

[2020-02-04 12:38] andrewgeller commented on #944
Would you consider calling this feature _[memoization](https://en.wikipedia.org/wiki/Memoization)_ instead of _data caching_?

[2020-02-04 12:51] jamhed commented on #1913
@CermakM sure :)

[2020-02-04 15:23] simster7 commented on #2155
The cron spec we use does not include a year field. Curious where you see that the "standard cron" has a year field? I have never seen that before. It is [not on the `crontab` man](http://man7.org/linux/man-pages/man5/crontab.5.html), and [stackoverflow](https://stackoverflow.com/questions/7724316/how-can-i-specify-time-in-cron-considering-year) agrees.

Perhaps someone extended the definition for

[2020-02-04 15:47] simster7 commented on #2154
Perhaps we should add some documentation to the docs @sarabala1979?

[2020-02-04 15:50] #2133 closed

[2020-02-04 15:54] alexec commented on #2156
You statement is incorrect - or at least - should be.

Nodes should only be offloaded if `nodeStatusOffload: true`. Is this not the behavior you're seeing please?

[2020-02-04 15:54] alexec commented on #2158
I believe this was fixed in rc8 yesterday. Please re-open if that is not the case.

[2020-02-04 15:54] #2158 closed

[2020-02-04 15:56] alexec commented on #2162
This should be a case of search-and-replace on the manifests? If I'm right - would you like to submit a PR?

[2020-02-04 15:57] alexec commented on #2163
Can I ask if this is different in v2.4.3 (i.e. is it a regression)?

[2020-02-04 15:59] ddseapy commented on #2163
Yes.  It works for us on 2.4.2 at least.  I haven't checked 2.4.3.

[2020-02-04 16:00] alexec commented on #944
Can I propose a new name for this issue - "step memoizing"? I think it captures the problem and potential solution in a way that makes it easy to to understand.

E.g. "Reduce cost and workflow execution time by memoizing previously run steps"?

This is a large feature as we'd need a data store to memoize the results.

[2020-02-04 16:03] terrytangyuan commented on #944
+1 to step memoizing

[2020-02-04 16:04] alexec commented on #2154
Tada! https://github.com/argoproj/argo/blob/master/docs/argo-server.md

[2020-02-04 16:07] alexec commented on #2163
I'm pondering this. How are you impacted? Just usability?

[2020-02-04 16:10] ddseapy commented on #2163
Correct, developers run workflows with output artifacts and it is nice to be able to simply click in the browser and open them.  Nothing too critical.

[2020-02-04 16:10] #2163 closed

[2020-02-04 16:14] ddseapy commented on #2163
Thanks @simster7!

[2020-02-04 16:16] alexec commented on #2018
All good?

[2020-02-04 16:18] alexec commented on #2129
The "named cookie" error should be fixed in rc8.

[2020-02-04 16:26] haghabozorgi commented on #2129
@alexec @ddseapy  thank you both for all your efforts, sincerely appreciate it. confirmed, it is working with rc8. I think we can close this.

[2020-02-04 16:32] alexec commented on #2129
Yay!

[2020-02-04 16:32] #2129 closed

[2020-02-04 16:52] simster7 opened #2165 "When UI submission fails, errors are always "Internal Server Error""
When submitting a workflow through the UI, if the submission experiences any error (such as a validation error), the error returned is always "Internal Server Error". We should propagate the correct error message so it can be displayed to the user.

<img width="1274" alt="image" src="https://user-images.githubusercontent.com/614838/73766926-95c36d80-472b-11ea-9d87-274a7713bf49.png">

[2020-02-04 17:07] kabilan6 commented on #2154
if we setup the argo-server with "Hybrid" then every operation from UI will use the Token entered by the user from the UI ? is the user token being persisted somewhere ? user should submit the token only once ?

[2020-02-04 17:30] sarabala1979 commented on #2154
yes, UI will cache the last used token.

[2020-02-04 18:11] simster7 commented on #1994
Due to the overwhelming interest in this PR, I took it over to make sure it is included in 2.5

[2020-02-04 21:10] seddonm1 commented on #2158
Problem persists with RC8

[code]

[2020-02-04 21:23] seddonm1 commented on #2158
@alexec Sorry I am unable to re-open but can raise a new issue if you want?

[2020-02-04 21:30] willyyang commented on #1379
same issue, anyone know how to fix this?

[2020-02-04 21:50] samath117 opened #2167 "Artifact/parameter failure should not be fatal if step/task condition is false"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

I have two steps that I would like to run under some condition. The first step creates an artifact that is consumed by the second. When the condition evaluates to false, the second step fails the entire workflow

**What y

[2020-02-04 22:20] devlounge commented on #2011
Any other solution?

[2020-02-04 22:37] whynowy opened #2168 "Namespace and phase change on argo-server wf list UI doesn't refresh the page."
Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Argo version:
[code]
- Kubernetes version :
[code]

**Other debu

[2020-02-04 22:38] whynowy opened #2169 "Can not unselect the last phase checkbox in phase selector of argo-server workflow list page"
Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Argo version:
[code]
- Kubernetes version :
[code]

**Other debu

[2020-02-04 23:11] alexec opened #2170 "Offload GC deletes offloaded data it should not"
Checklist:

 * [ ] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

Offloaded nodes were deleted from the database, but the wf was still in Kubernetes.

[code]

**What you expected to happen**:

Not that.

**How to reproduce it (as minimally and precisely as possible)**:

Create a workflo

[2020-02-04 23:31] alexec commented on #2156
See  #2170

[2020-02-05 00:14] alexec opened #2171 "Listing archived workflows ignores label selector"
It is not currently possible to list archived workflows by label.

To do this, we would need to add a new column to the `argo_archived_workflows` table.

[2020-02-05 02:35] TrevorNodeJS commented on #2155
@simster7
I may copy that **standard cron** from [nncron](http://www.nncron.ru/help/EN/working/cron-format.htm)

[2020-02-05 02:35] #2155 closed

[2020-02-05 03:18] zoux86 commented on #2018
@alexec it still didn't work.
![image](https://user-images.githubusercontent.com/14087435/73807529-c678d500-4807-11ea-9342-9b7330b9a482.png)
[code]

[2020-02-05 09:51] mark9white commented on #2133
Great idea. What about doing the same for the argo_workflows_table? Also using jsonb rather than json in Postgres would save space.

[2020-02-05 11:01] lfdversluis commented on #2162
I was checking if I can fix this one being new to k8s, argo, and Go. I replaced the strings in https://github.com/argoproj/argo/blob/master/manifests/base/crds/workflow-crd.yaml
from `apiVersion: apiextensions.k8s.io/v1beta1` to `apiVersion: apiextensions.k8s.io/v1` and ran `make verify-manifests`. The make file errors without a clear error, just
[code]

How can I figure the error out? (Also `make

[2020-02-05 15:36] nirav24 opened #2173 "Pods do not get deleted on success/failure"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
I am trying to implement GC strategy to delete pods automatically after workflow is done. However, podsdon't get deleted. I've tried with all strategy options ([see](https://github.com/Duske/argo/blob/bd4750fbb9413eea8ced0

[2020-02-05 15:40] iMoses commented on #2162
I can confirm that the Deployment definitions `apiVersion` can simply be replaced with `apps/v1` to solve the issue. I haven't tried anything in regards to `apiextensions`.

Should we wait for it all to be solved or would you like me to make a PR with the changes to `https://raw.githubusercontent.com/argoproj/argo/v2.2.1/manifests/install.yaml` alone?

[2020-02-05 16:02] ddseapy commented on #2162
Yeah, sorry I should have just made a separate ticket.  What I mentioned is MUCH lower priority.  IMO don't worry about the CRDs.

[2020-02-05 17:33] alexec commented on #2018
Ok, I can see you've an older version of the v2.5.0 code. Can you make sure you're up to date - I know this sounds like a pro-forma reply - but we are updating regularly!

[2020-02-05 17:34] alexec commented on #2133
@mark9white `argo_workflows_table` is an internal table and you should not read from this table as you can predict what data it will contain.

[2020-02-05 17:36] alexec commented on #2173
I feel like I have also seen this unexpected behaviour.

[2020-02-05 17:37] alexec commented on #2162
@iMoses it'd be awesome if you submit a PR. v2.2 is rather old now and I don't believe we'd back-port changes to that.

[2020-02-05 18:50] alexec opened #2174 "Create community folder"
# Summary

@mukulikak to define

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

How do you think this should be implemented?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-02-05 18:53] #2151 closed

[2020-02-05 19:23] saimadineni opened #2175 "Support multi level nesting of workflow templates"
# Summary

Currently argo workflows support single level of nesting for argo workflow templates. It'd be great if multi level nesting of argo workflow templates is supported.

# Motivation

Currently we use Tidal heavily for orchestrating batch jobs. And, we are considering replacing argo workflows with Tidal. And, one of the main limitations for replacing Tidal is lack of multi level nesting acro

[2020-02-05 19:29] alexec commented on #1994
@simster7 this is a new feature and therefore kind of a bit late for v2.5, lets push it to v2.5 and speak to @mukulikak about priority

[2020-02-05 19:30] alexec commented on #1963
@simster7 I'm putting this in v2.6 so we can prioritize it alongside other issues.

[2020-02-05 19:31] #2120 closed

[2020-02-05 20:45] alexec commented on #2173
Introduced in #1234

[2020-02-05 20:53] alexec commented on #2173
Unable to repro on master (v2.5)

@nirav24 this is a new feature. Can I ask you to upgrade to v2.4.3 and see if the issue still occurs?

@jackywu do you want to chime in on this feature as you authored it originally?

I wonder if it is possible for a workflow to complete before a pod is ready to be GCd? I'd noted you can delete a workflows, but PodGC does not happen.

[2020-02-05 22:11] alexec commented on #2173
I've linked a PoC fix for my hypothetical issue with this.

[2020-02-05 23:15] eug48 commented on #2156
@alexec the linked PR does improve the comment for `nodeStatusOffLoad`, but not for `archive`

[2020-02-05 23:20] alexec commented on #2156
better now?

[2020-02-05 23:25] eug48 commented on #2156
a bit better but what I still don't clearly understand is that if `archive` is false what gets stored in the persistence DB if `nodeStatusOffLoad` is false and if `nodeStatusOffLoad` true?

[2020-02-05 23:32] alexec commented on #2156
the two features are independent - the whole workflow is store in the archive, including any data that was offloaded (or not)

[2020-02-06 02:48] nirav24 commented on #2173
Thanks @alexec for the quick reply. I will update argo and try it again. Also, I will update the logs as well.

[2020-02-06 05:31] eug48 commented on #2156
So if both `nodeStatusOffLoad: false` and `archive: false` then nothing is written to the persistence DB?

And if `nodeStatusOffLoad: true` and `archive: false` just the nodeStatus is temporarily written to the DB but then deleted?

[2020-02-06 08:12] zoux86 commented on #2018
@alexec  i cloned the lastest code。and then i  make install. here is the logs from the workflow-controller。
[code]

[2020-02-06 13:04] fsiegmund opened #2179 "Argo UI shows exception error in workflow list on connection loss"
Checklist:

 * [x] I've included the version.
 * [x ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

Argo UI shows an exception in workflow list when event streaming connection gets interrupted. This is quite common when request time limits are enforced on gateways.

Stack Trace
Component Stack

    in t (created by t)

[2020-02-06 16:28] simster7 commented on #2175
#2007 might fix this

[2020-02-06 17:17] alexec commented on #2156
correct - the node status is deleted when the workflow is deleted

[2020-02-06 17:18] alexec commented on #2018
can you delete your `argo` namespace and try again ?

I've recently updated the contributing guide btw - might be more helpful.

https://github.com/argoproj/argo/blob/master/docs/CONTRIBUTING.md

[2020-02-06 17:19] #2179 closed

[2020-02-06 19:43] #2076 closed

[2020-02-06 19:43] #2075 closed

[2020-02-06 20:36] omerlh opened #2183 "Improved OTS helm chart support"
# Summary

Today, support for OTS helm charts is not ideal - you have to define 3 files for each chart:
 - requirements.yaml
 - Chart.yaml
 - values.yaml (optional)

This makes the process a bit cumbersome to use.

# Motivation

We have a lot of OTS charts we're using and creating those files for each chart is a very tedious process.

# Proposal

Something similar to Flux's helm operator [CRD](htt

[2020-02-06 21:14] alexec commented on #2183
Are you referrer to the Argo Helm charts please?

[2020-02-06 21:31] simster7 opened #2185 "Add submit options when submitting through UI"
When submitting resources through the CLI, there is a wide array of options. For example, for workflows:

[code]
And in general:
[code]

There is currently no way to submit with these options through the UI. We should change the UI to allow this.

[2020-02-06 21:40] #2037 closed

[2020-02-06 22:12] alexec commented on #1994
@nmaludy  and everyone else - can you please review what @simster7 has done in the PR and see if it suites your needs. For example:

Is it enough information for your Slack messages? I'd suggest you might want to event write a workflow that demonstrates this.

[2020-02-06 22:53] #2156 closed

[2020-02-06 22:53] #2170 closed

[2020-02-06 22:59] #2165 closed

[2020-02-06 23:28] Davidott4 opened #2188 "Argo rertyStrategy doesn't have "retryOn""
So I'm trying to configure my pod to retry both "on Error" and "on Failure." But Argo doesn't seem to like accept "retryOn" as a parameter to "retryStrategy" as exampled in here: https://github.com/argoproj/argo/tree/master/examples#retrying-failed-or-errored-steps

I've also noted another example which uses "retryPolicy" which Argo throws the same error:
https://github.com/argoproj/argo/blob/mast

[2020-02-07 00:35] alexec commented on #2188
What version please?

[2020-02-07 03:30] gordancso commented on #2188
using v2.4.3 and same error is returned

[2020-02-07 05:46] ddseapy commented on #1066
Wonder if it would make most sense for resource utilization to simply be a step-level metric (https://github.com/argoproj/argo/issues/1539)

[2020-02-07 09:03] jimlindeman opened #2190 "Need to better handle large #'s of workflows and warn users to cleanup them"
Checklist:

 * [ X ] I've included the version.
 * [ X ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ X] I've included the logs.

**What happened**:
On one of our K8s clusters, not all, we are getting repeated errors in the workflow controller of:
[code]
which maps to https://github.com/argoproj/argo/blob/v2.4.3/workflow/controller/controller.go#L156

Turns out we

[2020-02-07 12:37] ddseapy commented on #2133
@mark9white For whatever reason we have been using plain json on 2.4, but jsonb likely would make more sense.

[2020-02-07 15:17] nirav24 commented on #2173
I am including output requested below

[code]

[code]

I will upgrade argo to `v2.4.3` and update the result.

[2020-02-07 16:16] alexec commented on #2190
Interesting problem.

One solution, obviously, is to delete old workflows. We could always increase timeouts or change code to deal with this - but then we get to 20k workflows and the problem re-appears.

Any solution therefore must involve deleting old workflows.

* What is the use case for 10k + workflows in your system?
* Have you considered trying out the workflow archive feature in v2.5?

[2020-02-07 16:19] alexec commented on #2173
Thank you @nirav24 - great! @jackywu and @jessesuen what do you think to my comments above please?

[2020-02-07 16:21] alexec commented on #2173
@nirav24 I've come back to this and I need to clarify something really important.

PodGC only applies to pods, not to workflows - there is no GC for workflows. It is actually not clear from the title of this issue whether or not you are referring to pods, to workflows, or to both.

[2020-02-07 16:24] nirav24 commented on #2173
@alexec I am referring to both. I can see pods with `kubectl get pods` and workflows with `argo list`

[2020-02-07 16:24] jackywu commented on #2173
@nirav24 @alexec yes, there is no GC for workflow.

[2020-02-07 16:31] nirav24 commented on #2173
Sorry for the wrong title. I've changed it.

[2020-02-07 16:35] alexec commented on #2173
Ok. You're running an older version. Have you tried in v2.4.3 or v2.5.0-rc9 (if you're on a test environment - but this is a big change!)

[2020-02-07 16:36] nirav24 commented on #2173
I've tried with v2.4.3. I can try with v2.5.0-rc9 as well.

[2020-02-07 16:40] jimlindeman commented on #2190
I don't think 10k+ workflows is healthy, it was just a behavior that occurs when the person who sets up use of Argo in pipeline automation moves to another team/project before configuring cleanup.

Our complaint is more of the the way it breaks when it gets there, as the log messages aren't informative to the user that they need to delete workflows. It took us several hours to figure this was the

[2020-02-07 17:18] alexec commented on #2007
One key difference between `WorkflowSpec` and `WorkflowTemplateSpec` is that `entrypoint` is optional in the latter and mandatory in the former.

Options:

* Make `entrypoint` optional for workflows - and throw errors at run time.
* Make `entrypoint` optional for workflows - and if absent choose the first value.
* Make `entrypoint` mandatory for workflow templates - a breaking change.

[2020-02-07 17:19] alexec commented on #2007
I'm taking over from @simster7 to free his time up.

[2020-02-07 17:39] simster7 commented on #2188
`retryOn` is only available on version `v2.5+`

[2020-02-07 17:39] #2188 closed

[2020-02-07 17:50] alexec commented on #2007
I envisage a new endpoint and CLI command to submit a workflow template. This would require you to enter some variables:

https://github.com/argoproj/argo/blob/master/docs/variables.md#global

So when we submit a template I think we need these options:

* template name
* namespace (optional - defaulting to the template's namespace)
* workflow.outputs.parameters - not sure
* workflow.annotations -

[2020-02-07 18:59] HumairAK commented on #2022
We were finally able to figure out the problem. We had another, older version of the operator running in another namespace that was the root cause. We also had an issue with workflows not completing, and getting stuck and certain steps, removing the older operator resolved that problem as well. Closing the issue.

[2020-02-07 18:59] #2022 closed

[2020-02-07 21:15] samath117 commented on #2007
The problem is that `spec.entrypoint` is far from the only thing that needs to be changed to essentially turn WorkflowTemplates into Workflows. You also need `spec.arguments`, `metadata.generateName`, and support for all of those `workflow.parameters`, `workflow.outputs.parameters`, `workflow.outputs.artifacts`, `workflow.namespace`, and so on, which currently aren't allowed to be inside WorkflowT

[2020-02-07 21:57] #1963 closed

[2020-02-08 13:22] zoux86 commented on #2018
@alexec it didn't work。 i  deleted argo namespace and try again。the same error occurred;
[code]
it seems ConfigMap is too old ?
if i want to build argo with my images when using "make start" command , what should i do?

[2020-02-09 10:37] hanjunlee opened #2199 "Enhanced metrics to aggregate function"
# Summary

 To aggregate metrics  by `generateName`, especially for `argo_workflow_info` and `argo_workflow_status_phase`, it would be helpful to add the `generate_name` label into  metrics. I think, at this moment, metrics doesn't has labels to distinguish by the field `generateName`.

# Motivation

 When I make a dashboard, I want to distinguish it by `generateName`. For example, I can use `gene

[2020-02-09 12:29] omerlh commented on #2183
I'm referring to Argo CD helm chart support - the ability to install OTS helm charts with Argo.

[2020-02-09 12:34] omerlh opened #2200 "Add support for GitHub app authentication for repositories access"
# Summary

Adding the ability to clone private repos from GitHub using GitHub app authentication.

# Motivation

When working with a lot of private repos, one challenge is scaling auth. Deploy is not feasible, as it is unique per repo. So the current alternative is either creating a user for argo and using personal access token (cost a seat in the organization) or creating an app and using the [pr

[2020-02-09 22:40] alexec commented on #2183
Are you raising this in the correct repository? If this meant for Argo CD?

[2020-02-09 22:41] alexec commented on #2200
Is this about Argo CD OR Argo Workflows?

[2020-02-10 08:33] omerlh commented on #2200
Sorry, wrong repository - it should be on argo cd.

[2020-02-10 08:33] #2200 closed

[2020-02-10 08:34] omerlh commented on #2183
Should be on ArgoCd, sorry...

[2020-02-10 08:35] #2183 closed

[2020-02-10 17:21] fsiegmund opened #2201 "UI regressions in workflow list"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.

**What happened**:

- change in phase filter causes new subscription to be canceled (can be observed in debugger).

- previous UI did order workflows by timestamps, so that newer workflows show up on the top.

**What you expected to happen**:
- phase filter to be correct
- sorting of workflows

**How to reprodu

[2020-02-10 18:58] #1682 closed

[2020-02-10 19:00] whynowy commented on #2168
Fixed by https://github.com/argoproj/argo/pull/2191

[2020-02-10 19:00] #2168 closed

[2020-02-10 19:00] simster7 opened #2203 "RFC: Custom, step-level, and usage metrics"
Hello everyone, I wanted to provide an update on the status of step-level metrics and custom metrics (#1853). We decided that the original scope of the PR had to be rethought and reworked, so we have kicked it off the 2.5 release and are now working to make it a main feature of the 2.6 release. Furthermore, we are exploring integrating #1066 into this PR.

I would like this ticket to serve as a "r

[2020-02-10 19:03] #2201 closed

[2020-02-10 19:40] simster7 opened #2204 "Validation doesn't catch when `retryStrategy` is in a `WorkflowStep` instead of a `Template`"
E.g. (invalid yaml):

[code]

[See more on slack](https://argoproj.slack.com/archives/C8J6SGN12/p1581361388439800)

[2020-02-10 21:57] Ark-kun commented on #2007
@jessesuen

I really liked most aspects of your original design of Argo's structures.

The way we've handled this in the component system used by Kubeflow Pipelines is to have a clear distinction between component objects and task objects. Components is like a function, class or template. Task is component+argument, a function call or class instance.
Argo had this distinction too (Template vs. Dag

[2020-02-11 00:45] whynowy commented on #2169
Addressed by https://github.com/argoproj/argo/pull/2196

[2020-02-11 00:58] alexec opened #2206 "Offload GC is not deleted old data"
We should not be doing `select *`:
[code]
Deleting uid=""????

[code]

[2020-02-11 06:25] anarkia7115 commented on #1788
I'm using `kind` k8s cluster and met the same problem.
Editing config map like @stevef1uk said, the configmap yaml list as follow
[code]
Then `kubectl -n argo apply -f config-executor.yaml`,
and the **/var/run/docker.sock is not a socket file** problem goes away.

[2020-02-11 06:36] #802 closed

[2020-02-11 06:38] #2169 closed

[2020-02-11 11:51] dseapy commented on #2203
A couple other questions,

* How (if at all) should this relate to the desire for within-step/real-time metrics? (ie. https://github.com/argoproj/argo/issues/1658)  Could work done here be re-used at all for that use-case, or would it be handled completely separately?
* For users that care primarily about custom workflow-level metrics as opposed to step-level metrics, does the solution work well f

[2020-02-11 16:07] TekTimmy commented on #934
I have used that approach initially as well, **it works as long as all steps are running on the same Node or the volume runs in `ReadWriteMany` mode.**. Minikube provides volumes in mode "ReadWriteMany" but EKS (AWS Kubernetes) EBS volumes do not support to be mounted to several nodes at once.

[2020-02-11 16:08] bitfactory-henno-schooljan opened #2209 "Labels and annotations cannot be deleted in the UI"
**What happened**:
When deleting labels or annotations of an application in the UI, they stay put.

**What you expected to happen**:
Labels and annotations are deleted.

**How to reproduce it (as minimally and precisely as possible)**:

1. Go to app
2. Hit App Details
3. Remove a label or annotation by hitting the X
4. Save.

**Anything else we need to know?**:
Tested with Safari, Firefox and Chro

[2020-02-11 16:15] alexec commented on #2209
@bitfactory-henno-schooljan this is an Argo CD issue, but you have raised it in the Argo Workflows repository. I will close it as "invalid". @alexmt

You can raise Argo CD issues here: https://github.com/argoproj/argo-cd/issues/new/choose

[2020-02-11 16:15] #2209 closed

[2020-02-11 17:52] simster7 commented on #2203
The implementation as it is currently is not friendly to real-time metrics because it depends on output artifacts, which are evaluated only once.

The way I'm currently thinking about it (and please correct me if I'm wrong) is that there are two different use cases in which metrics in Argo could be collected over time:

1. Collecting metrics about workflows that run multiple times. E.g.: “I run wo

[2020-02-11 21:11] mac9416 opened #2211 "Support creating/reading/updating archived arbitrary workflow metadata"
# Summary

It would be helpful if the CRD and Argo Server supported creating/reading/updating metadata.

I'd like to see this metadata archived rather than solely stored with the workflow objects.

For our purposes, a simple string:string key/value pair store would do the trick.

# Motivation

There's metadata we'd like to associate with a workflow. That metadata should:
1. persist - i.e. not disa

[2020-02-11 21:15] alexec commented on #2211
Conventionally, as a workflow is a custom resource, meta-data is  the contents of the `/metadata` field in the resource. Same part are mutable and it always disappears when the resource is deleted, so it cannot be used for what you are asking.

I wonder if you could give some specific examples of the use cases please?

[2020-02-11 21:21] zetsub0u commented on #1813
Hi we are rolling out argocd with okta integration and we are looking at argo workflow for some use cases, i wonder, why wasnt the codebase from the argocd project reused to allow the same sort of mechanisms? There's no way we can sell argo workflow without auth per user. This will be used by different teams with different degrees of knowledge

[2020-02-11 21:27] alexec commented on #1813
You can look at current options here: https://github.com/argoproj/argo/blob/master/docs/argo-server.md

[2020-02-11 21:39] #2206 closed

[2020-02-11 23:44] zhujl1991 opened #2217 "Add default TTLStrategy"
When there's no `TTLStrategy` in workflow, we'd like to add a default `TTLStrategy`, which can be configured in `ConfigMap`. I'm thinking about adding this right after we get the structured workflow https://github.com/argoproj/argo/blob/master/workflow/controller/controller.go#L349 in a function called something like `func (wfc *WorkflowController) addingWorkflowDefaultValueIfValueNotExist(wf *wfv

[2020-02-12 01:02] #1884 closed

[2020-02-12 05:46] bartlinga commented on #2046
Attempting to triage the issue. At first glance it's unclear to me what the intent is for this code in the validateTemplate function. If anyone has insights to share please do.

https://github.com/argoproj/argo/blob/b024c46c8fec8a682802c1d6667a79fede959ae4/workflow/validate/validate.go#L215-L217

I'd do some further investigation this weekend.

[2020-02-12 07:05] mathetake commented on #2046
i think [this commmit](https://github.com/argoproj/argo/commit/468cb8fe52b2208a82e65106a1e5e8cab29d8cac#diff-2d1986a04f51a1dc349ddaae23c549dd) has something to do with this issue (merged into v2.4.3)

That changed the name of the field for passing args to a template from templateRef from `arguments` to `inputs`.

Actually, https://github.com/argoproj/argo/blob/v2.4.3/examples/workflow-template/hel

[2020-02-12 09:12] jessesuen commented on #2007
Argo had this distinction too (Template vs. DagTask). One design quirk was that the WorkflowSpec itself did not derive from DagTask even though it was essentially DagTask with some additional attributes.

To be honest, I don't really think there is as a big of difference as you might believe, and I actually think we are heading in a direction which is closer to what you are looking for, by making

[2020-02-12 15:12] mool commented on #2046
I tried to use `inputs` instead of `arguments` but I got this other error...
[code]
I think that the problem is in the `validateTemplate` function as @bartlinga said. I tried to understand that part of the code but I don't know anything about Go.

[2020-02-12 15:32] simster7 opened #2220 "Filter box has buggy responsive design"
See: https://cl.ly/e0ff2371f6c3

[2020-02-12 15:39] simster7 commented on #2220
I'll take this one over

[2020-02-12 15:50] alexec commented on #2046
@dtaniwaki FYI

[2020-02-12 16:00] alexec commented on #1066
@xianlubird @ddseapy I have a whitespace day today I plan to work on this. At 5:30pm PST (8 hours away) I will down tools and what is done is done.

As I have limited time - I don't expect this can include $ cost.

[2020-02-12 16:30] samath117 commented on #2007
This seems to be a misrepresentation of the suggestion for WorkflowTask to derive from DagTask. After all, DagTask itself can consist of a DAG and multiple container templates.

Workflows themselves are already that executable package, and don't need to be reinvented from WorkflowTemplates. They just need to be saved to the cloud.

[2020-02-12 18:11] #2220 closed

[2020-02-12 19:12] Ark-kun opened #2223 "Terminate does not seem to work when container fails to start"
Terminate does not seem to work when container fails to start. For example this can happen when the image is missing or wrong and the pod is in the `ImagePullBackOff` state.

[2020-02-12 19:13] alexlatchford opened #2224 "Slack invite link is no longer active [regression]"
Checklist:

 * [] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

Same problem as https://github.com/argoproj/argo/issues/1789 & https://github.com/argoproj/argo/issues/1706

Seeing the same "This invite link is no longer active" when clicking on: https://argoproj.github.io/community/joi

[2020-02-12 19:19] cdenneen commented on #2224
@alexlatchford thanks for opening this. I was just about to do so since I couldn't get the invite to work myself.

[2020-02-12 19:37] jessesuen commented on #2007
I think I missed that from the example which was given, but if true, then I feel there is even less of a difference between what's being proposed in this issue versus what you desire from WorkflowTask/DagTask. Perhaps I don't fully understand the DagTask. Also why is it only DAGTask not also Workflow Steps? There are many workflows which do not use DAGs and only use Steps templates.

I agree, whic

[2020-02-12 19:45] sarabala1979 commented on #2223
Can you provide more details? what kind of error are you getting? Share the logs

[2020-02-12 19:46] jessesuen commented on #2007
Option 4: optional for workflows. a WorkflowTemplate which has no entrypoint is not submittable, and is only useful as a component definition. Picking the first item of the template list is not explicit enough. Either it has entrypoint and is submittable, or it doesn't and is not.

I don't think this is the case. This is why I changed the proto numbers in WorkflowTemplate to align with Worklows a

[2020-02-12 19:55] jessesuen commented on #2224
Here is the working link until we fix the shortlink:

https://join.slack.com/t/argoproj/shared_invite/enQtODMxNTg3OTA3Nzk0LTg5NDQ3YjRhYzNkMGZkMTEzN2IyZDQ2ZDI3ZTc1NmYxYzIyOGVlNjFmMjA3MDI2YWZlNTdlNzNmMjBhM2VlMDU

[2020-02-12 20:12] alexlatchford commented on #1054
Hey @bryanlarsen did you come to any conclusions on the viability of this in Argo? Likely we're trying to investigate a similar issue albeit 18 months later!

We're looking at the cost of adopting Kubeflow (vs Metaflow/Flyte both of which natively support memoization) and looks like this is the likely the blocker (Kubeflow uses Argo under the hood fo ML workflow scheduling). Allowing caching of lo

[2020-02-12 21:18] simster7 commented on #2217
#2044 is already open for this. Please see my comment https://github.com/argoproj/argo/pull/2044#pullrequestreview-352420169 regarding adding a generic way to do this. Perhaps talk with @NikeNano who is also interested in this and has already opened a PR

[2020-02-12 21:52] kevincantu commented on #725
This helped me, too, thanks @nelsonfassis @jessesuen!

[2020-02-12 22:03] samath117 commented on #2007
Personally, I'm all for making it a CRD, but I just think it should be a separate CRD, very similar to / derived from WorkflowSpec and not a mangled version of WorkflowTemplateSpec. I proposed the term RemoteWorkflows earlier in this thread. In that way, WorkflowTemplates would be definitions saved to the cloud, and RemoteWorkflows would be instantiations saved to the cloud.

In the ideal world to

[2020-02-12 22:08] zhujl1991 commented on #1923
@simster7 Why do we go with option 1 here? Agree with the @NikeNano 's comment below:
"Why option 1? It feels like it should be more general if we updated the workflow in one place instead? Then also it could be handled for other default settings instead of adding in the controllers?"

[2020-02-12 22:12] alexec commented on #1054
@mukulikak ☝️

[2020-02-12 22:16] #1994 closed

[2020-02-12 22:44] #2204 closed

[2020-02-13 05:16] kevincantu opened #2228 "Confusing, possibly erroneous RBAC warnings ("Failed to get pod")"
I'm setting up a new cluster with Argo v2.4.3 (to run some stuff we've been happily doing on v2.2.0) on EKS v1.14.9-eks-c0eccc and v1.14.8-eks-b8860f AMIs, and while trying to drill down into some problems with getting workflow pods to work I've fallen down an RBAC rabbit hole.

### What I saw
For some steps of a workflow, the `main` container of the pod shows that step doing its job OK and loggin

[2020-02-13 06:58] kevincantu commented on #2228
If this shows what I think it does, the role and binding above don't look right, yet:
[code]

[2020-02-13 07:38] Ark-kun commented on #2223
Thanks. I'll try to get the details.

[2020-02-13 07:38] #2223 closed

[2020-02-13 15:51] lfdversluis opened #2229 "Dockerfile.dev doesn't build"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
Running `docker build -f Dockerfile.dev . -t argodev --no-cache` doesn't work
**What you expected to happen**:
It building a docker image

**How to reproduce it (as minimally and precisely as possible)**:
Clone the latest

[2020-02-13 16:27] alexec commented on #2229
That is correct. You cannot build this directly. It must be invoked by one of the make targets. Eg ‘make executor-image’

[2020-02-13 17:25] simster7 opened #2230 "Server-side recursion when watching workflows with Offload Nodes Enabled"
When watching workflows with offload nodes enabled, the server will start to return

[code]

after some time. This will cause the UI to keep retrying to watch infinitely. This error seems to be related to the DB. More details to follow.

[2020-02-13 17:56] simster7 commented on #2230
This was perhaps because my local instance of minikube was out of space. Closing for now.

[2020-02-13 18:27] whynowy opened #2231 "Reduce API calls when changing filters on wf list page"
# Summary

Currently on wf list page, every time you change the filters (phase, labels...), there are 3 calls sent to argo server - check service info, wf list and wf events watch. Service info (managed namespace) check is not required for every click.

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

Only check if it's managed namespace when the page

[2020-02-13 20:24] alexec opened #2233 "Offload GC deleting completed wf data"

[2020-02-13 20:56] alexec commented on #2230
dup of #2233 now.

[2020-02-13 20:56] #2230 closed

[2020-02-13 22:53] sarabala1979 opened #2236 "(UI)Submitting workflow from local yaml file or URI through Argo UI"
# Motivation
Users can select the local YAML files or provide the URI to submit the workflow in Argo UI.

# Proposal

[2020-02-13 23:00] jamhed commented on #1913
@CermakM jamhed/workflow-controller:v2.4.3-1
If it can't schedule the pod, it just keeps it in Pending state.

[2020-02-13 23:03] sarabala1979 opened #2237 "(UI) Workflow Resubmit allow the user to change the parameter values from previous run"
# Motivation
Argo UI should allow the user to change parameter values on Workflow resubmit

[2020-02-13 23:33] #2145 closed

[2020-02-13 23:50] #1887 closed

[2020-02-13 23:55] #2233 closed

[2020-02-14 00:36] #2074 closed

[2020-02-14 00:39] #2056 closed

[2020-02-14 00:42] #1251 closed

[2020-02-14 00:43] alexec commented on #1361
Is this still an issue? If so - please re-open.

[2020-02-14 00:43] #1361 closed

[2020-02-14 00:44] alexec commented on #1941
Is this still an issue in v2.5.0? If so - please re-open.

[2020-02-14 00:44] #1941 closed

[2020-02-14 00:45] alexec commented on #1914
You could build your own image if you need this. Building on a different base image would increase the threat surface of the CLI.

[2020-02-14 00:46] alexec commented on #1894
Is this still an issue in v2.5.0? If so - please - re-open this issue.

[2020-02-14 00:46] #1894 closed

[2020-02-14 00:51] alexec commented on #1775
Can you see if this is still an issue in v2.5? Is so - please re-open.

[2020-02-14 00:51] #1775 closed

[2020-02-14 00:52] alexec commented on #1427
Can you see if this is still an issue in v2.5? Is so - please re-open.

[2020-02-14 00:52] alexec commented on #1403
Can you see if this is still an issue in v2.5? Is so - please re-open.

[2020-02-14 00:52] #1403 closed

[2020-02-14 01:10] alexec commented on #1666
Inspecting requests can be done using Wireshark or similar. That said - in v2.4 - all API requests are basically calls to Kubernetes, e.g. `argo list` is same as `kubectl get workflows`. Might be enough to get your data.

[2020-02-14 01:36] thundergolfer commented on #1666
Thanks for the reply.

Is this true for all `argo` CLI commands, and will it be true going forward? If the Argo CLI is making different requests to `kubectl` in any way, it will be useful to use `--verbose` to see exactly how they differ in the event of performance differences.

`--verbose` likely has other uses too.

(Can say though our performance problems with Argo have passed 🙂)

[2020-02-14 02:01] uipo78 opened #2238 "Is there a place to specify `securityContext` in a workflow so that it's applied at the `podSpec` level?"
# Summary

I'd like to be able to specify a `securityContext` at the pod level so that both the `main` and `wait` containers within a workflow-generated pod receive that `securityContext`.

# Motivation

Example of something that I ran into&mdash;

Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the

[2020-02-14 02:06] uipo78 commented on #2238
Just saw [this commit](https://github.com/argoproj/argo/pull/1463/commits/3b90f11a8659093e1f91851df50e85cd80b016ed#diff-9ce7ea8441086bf1902b4f936f4601d0) which shows that you just have to specify `securityContext`  at the `spec` level of a workflow.

[2020-02-14 02:06] #2238 closed

[2020-02-14 02:25] uipo78 opened #2239 "What are the minimum permissions needed in a pod security policy in order for an argo workflow to run successfully?"
# Summary

I want to know how to successfully run an argo workflow on a cluster with pod security policies enabled. What are the minimum permissions needed in a PSP in order for an argo workflow to run successfully?

# Motivation

See this bug report formatted motivation&mdash;

Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow

[2020-02-14 02:26] uipo78 commented on #2238
Relevant: https://github.com/argoproj/argo/issues/2239

[2020-02-14 16:21] alexec commented on #1729
I think we'd need to introduce a new CRD (cf `RoleBinding` vs `ClusterRoleBinding`: `ClusterWorkflowTemplate`

@dtaniwaki FYI

[2020-02-14 16:28] alexec commented on #2004
We should also update e2e tests to use instance ID: #2005

[2020-02-14 18:56] #2231 closed

[2020-02-14 19:34] samath117 opened #2242 "Make workflow.parameters accessible as a JSON string"
# Summary

Just like how `inputs.parameters` gives all input parameters to a template as a JSON string, `workflow.parameters` should give access to all workflow parameters to the template as a JSON string.

# Motivation

I would like to write a general reporting template which records that a workflow was started, along with all of its parameters. As is, I need to know what all of the workflow para

[2020-02-14 20:31] simster7 commented on #2203
Updated issue with [RFC/Design Doc](https://docs.google.com/document/d/1uK9S8IVpFTKDma6yhQRMtd1N5jgbUzaM-f7aImUz2GA/edit?usp=sharing)

[2020-02-14 21:17] jessesuen commented on #2224
Shortlink updated

[2020-02-14 21:17] #2224 closed

[2020-02-14 22:31] sarabala1979 commented on #2159
the feature is got implemented #1354

[2020-02-14 22:31] #2159 closed

[2020-02-15 02:02] bartlinga commented on #2046
@delwaterman While attempting to troubleshoot this I stumbled across a (the?) solve. The parameters in the workflow template need default values.

You'll also need to use inputs instead arguments to pass the args via the template ref. I'm using 2.5-rc10 but given when the code change happened I suspect this will work for you (thanks @mathetake).

[code]

[code]

[code]

[2020-02-15 02:04] Ark-kun commented on #2007
@jessesuen
Thanks for the answer. I think I might have chosen bad examples and they focused the attention on the wrong parts.

That's not my point. Let's say that `componentRef` is exactly the same as `templateRef` - it can point to a template inside a CRD.

WorkflowTask **is not** a template (single or not). It **has** a template [reference]. The differece between **to be something** vs. **to hav

[2020-02-15 02:35] Ark-kun commented on #2007
Here is an example of how I'd design the `WorkflowTemplate` structure and how I'd handle the submission of those templates:

`WorkflowTemplate` has `inputs`, `outputs` and implementation (`container`, `dag`, `steps`, `resource`, etc), but no `arguments` and no `templateRef`.

Container template:
[code]

Dag template:
[code]

Optional. Template group:
[code]

Task object. `WorkflowTask` has  `templ

[2020-02-15 11:09] ranedk opened #2244 "parameter-aggregation.yaml in examples failing without errors"
argo: v2.4.3
  BuildDate: 2019-12-06T03:36:01Z
  GitCommit: cfe5f377bc3552fba90afe6db7a76edd92c753cd
  GitTreeState: clean
  GitTag: v2.4.3
  GoVersion: go1.11.5
  Compiler: gc
  Platform: linux/amd64

When I try the [parameter-aggregation.yaml template](https://github.com/argoproj/argo/blob/master/examples/parameter-aggregation.yaml) from examples:
It says success and I get the following:
[code]

[2020-02-16 02:37] simster7 opened #2245 "`make codegen` is very broken after `go mod` update."
A couple of issues so far:

1.  When running `go-to-protobuf`, it errors out with the following:

[code]

https://github.com/argoproj/argo/blob/82b48821a83e012ac7ea5740d45addb046e3c8ee/hack/generate-proto.sh#L12-L15

The `k8s.io` dependencies in `go-to-protobuf` import `github.com/gogo/protobuf/gogoproto/gogo.proto`. This dependency used to be within `vendor/`; however, after the `go mod` update i

[2020-02-16 07:31] paveq opened #2246 "Offloaded nodes does not fit into MySQL TEXT field"
**What happened**:

Used nodes offloading feature. When offloading started, I immediately received error:
`msg="Updated message  -> Error 1406: Data too long for column 'nodes' at row 1"`

This seems to be due to TEXT field being limited to 64 kilobytes. Instead of TEXT, we should use at least MEDIUMTEXT which allows to store 16 megabytes of data.

**What you expected to happen**:

Offloading work

[2020-02-16 10:53] changhc commented on #1570
I think the root cause is how `KillContainer` was implemented. If the executor is kubelet or kubeapi, they all try to kill the container by executing `kill <signal> 1`. This doesn't work since pid 1 is protected and cannot be killed.

We can enable process namespace sharing between containers so that no processes would have pid 1 and we can kill them all normally. The problem with this solution is

[2020-02-16 15:44] ddseapy commented on #1282
For visibility - Prasanna Kumar Krishnamurthy in argo workflow slack suggested patching the pod spec (https://github.com/argoproj/argo/blob/master/examples/pod-spec-patch.yaml) with something like

[code]

[2020-02-16 16:01] #1896 closed

[2020-02-16 16:01] paveq commented on #2060
Instead of include, would it be better to load source from ConfigMap, which can be generated/updated by eg. Kustomize's configmapGenerator from source code file?

[2020-02-16 20:34] paveq opened #2247 "Large workflow performance"
# Summary

What level of performance should be expected when running large workflows consisting of lot of relatively fast tasks (in terms of execution time)?

# Motivation

I'm currently running large workflows (looping through 500 items) where each single item consists of 9 separate DAG tasks. 1 task is handling main processing, rest are more lightweight such as API calls, transferring small amou

[2020-02-17 02:24] salanki opened #2248 "Sequence broken in 2.5-rc10"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

Running the standard loop-sequence example: https://github.com/argoproj/argo/blob/master/examples/loops-sequence.yaml leads to only 0s being printed.

[code]

**What you expected to happen**:

A sequence of numbers should

[2020-02-17 02:30] jackiemazy commented on #1642
Hi, I am new to Argo and Kubernetes. Which version did this issue get resolved? I'm using argo v2.4.3, but still getting this error:
[code]

[2020-02-17 12:44] klaucos opened #2249 "Pod argo-server keeps restarting on GCP"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML. - Not applicable
 * [x] I've included the logs.

**What happened**:
After update to Argo 1.5+ we noticed that newly introduced argo-server keeps restarting on Google Cloud platform(GCP).
**What you expected to happen**:
Do not restart in random intervals. I'd expect that s

[2020-02-17 16:36] sarabala1979 commented on #2249
I think your `workflow-controller-configmap` is getting updated a few times. Argo server has been implemented to restart gracefully to get the updated configmap.  This is by design. It may be a small-time interruption on UI or API calls.  Instead of reloading configmap and handle the changes, @alexec thought this is the easiest  and safest way.  Do you think the restart causing any other issues?

[2020-02-17 20:45] alexec commented on #2249
Argo Server exits whenever the config map changes:

https://github.com/argoproj/argo/blob/79f13373fd8c4d0e9c9ff56f2133fa6009d1ed07/server/apiserver/argoserver.go#L283

It is possible you are getting some other event (deletion? bookmark?). Can you please attach a list of events on the `workflow-controller-configmap`at that time?

[2020-02-17 20:46] alexec commented on #2248
@mark9white investigating.

[2020-02-17 20:47] #2171 closed

[2020-02-18 08:55] klaucos commented on #2249
I did not notice any issues that would affect functionality.
We monitor all restarts of services across our clusters and it raised a red flag that Argo-server kept restarting.
Its slightly unexpected behavior but we can whitelist argo-server and ignore restarts in the future.

It is restarting approx every 40 mins.
[code]

I do not know which events are present at the time of restarts:
kubectl des

[2020-02-18 10:48] tghartland commented on #2239
I've just seen this as well after switching the node OS from Fedora Atomic to Fedora CoreOS (deployed by Openstack Magnum).

The solution we came up with was this
[code]
(applied to the [hello-world](https://github.com/argoproj/argo/blob/d309d5c1a134502a11040757ff85230f7199510f/examples/hello-world.yaml) example), but I don't know if this is the minimal required permissions.

Can this be documente

[2020-02-18 14:15] Montana opened #2252 "Kubernetes Argo loop through JSON array"
I'm attempting to use Argo to loop through an array of JSON objects, however the workflow is returning:

[code]

The Argo workflow configuration is as follows:

[code]

If I used the example Argo loop with:

[code]
It prints out the number range without any issues.

I assume the problem is due to the fact it's not a simple item its an object and the `{{item}}` needs to change but I am unable to fi

[2020-02-18 14:28] sarabala1979 commented on #2252
Looks like printing wrong error message. Getresult template is missing in your workflow spec. There is example for JSON array loop. You can try
https://github.com/argoproj/argo/blob/master/examples/loops-param-result.yaml

[2020-02-18 14:38] Montana commented on #2252
Ah! Thank you, just what I was looking for.
-Montana

[2020-02-18 14:38] #2252 closed

[2020-02-18 15:09] lfdversluis commented on #2229
Alright, if it's intended I am closing this one.

[2020-02-18 15:09] #2229 closed

[2020-02-18 16:49] alexec commented on #2245
[code]

[2020-02-18 16:54] simster7 commented on #2245
Yes, I mention that in the issue.

The current workaround is to run `go mod vendor` to generate a vendor file and point both `go-to-protoc` and `protoc` to it

[2020-02-18 17:32] whynowy opened #2255 "Archived WF pagination issue"
If the total number of archived WFs is x times of 10 (assume each page displays 10 WFs), on the page of x, it has a `Next` link however there's actually no records on the next page.

Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

**What you expected to happen**:

**Ho

[2020-02-18 17:35] #2246 closed

[2020-02-18 17:37] #2249 closed

[2020-02-18 17:51] ddseapy opened #2258 "Download logs in a date range for workflows generated from the same wftmpl or cron workflow"
# Summary

Add the capability to download logs for all workflows run in a time range that were created from a workflow template or cron workflow.

# Motivation

We run a lot of workflows that were generated from a workflow template.  Generally our developers care about logs in a date range for all workflows of a specific workflow template.  We aren't aware of any easy way to get just those logs in

[2020-02-18 18:59] uipo78 commented on #2239
@tghartland that worked? when i tried to do what you posted, that `securityContext` isn't propagated to the pod running `whalesay` at all.

[2020-02-18 19:46] #2255 closed

[2020-02-18 19:50] whynowy opened #2259 "Add filters to archived workflow list page"
# Summary

Add label, phase filter to the page, similar to workflow list UI.

What change you think needs making.

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

How do you think this should be implemented?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort is

[2020-02-18 20:54] #2259 closed

[2020-02-18 21:32] sarabala1979 commented on #2007
My understanding from the above example,  v2.6 workflow-template space splits into three different CRDs `WorkflowTemplate`, `WorkflowTemplateGroup` and `WorkflowTask`.  I didn't see any benefit of splitting to separate CRDs . v2.6 Workflow-template can be defined  as `WorkflowTemplate`, `WorkflowTemplateGroup` and `WorkflowTask`.
The current v2.6 submittable workflow-template spec will support the

[2020-02-18 21:52] tghartland commented on #2239
Yes that fixed it for me.

There are two places that the security context could go, either in the [spec of the workflow itself](https://github.com/argoproj/argo/blob/b5c47266c4e33ba8739277ea43fe4b8023542367/pkg/apis/workflow/v1alpha1/workflow_types.go#L274):
[code]

Or in the [template for the pod](https://github.com/argoproj/argo/blob/b5c47266c4e33ba8739277ea43fe4b8023542367/pkg/apis/workflow/v1a

[2020-02-19 00:39] maryala9 commented on #2228
@kevincantu Any update on this? even i am getting the same error `level=error msg="Failed to kill sidecars: pods \"image-validation-8csfn-1112697458\" is forbidden: User \"system:serviceaccount:default:default\" cannot get resource \"pods\" in API group \"\" in the namespace \"default\""`. Please let me know how to fix this, even tried with different namespace

[2020-02-19 04:48] cscetbon opened #2260 "RetryStrategy not applying correctly"
**What happened**:

The following RetryStrategy does not work as expected
[code]

I have a template called for a list of items :
[code]
with **wt-generate-report** being
[code]
q8 fails after 2 min only but instead of restarting it, Argo calls the exit handler after q10 is done. It seems maxDuration applies to the whole workflow instead of the current container. There is not much information about

[2020-02-19 07:17] Arkanayan opened #2261 "Wait container stuck in multi-root workflows in 2.5-rc8 to 2.5.0"
Checklist:

 * [x] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
In multi-root workflows in a single pod, the wait container gets stuck. It is not possible to terminate the workflow. The only way to stop it is to delete it.

The logs of the stuck container
[code]
The processes running o

[2020-02-19 16:22] simster7 commented on #2260
Seems like you're using a non-standard and outdated version of Argo. Most of the functionality of `retryStrategy` is available on v2.5+. Could you please try then and let me know if the issue persists?

[2020-02-19 17:23] alexec commented on #2261
@tcolgate FYI

[2020-02-19 17:25] alexec commented on #2261
@Arkanayan do you have an example of this problem? E.g. in the examples folder?

[2020-02-19 19:00] mac9416 commented on #2211
After thinking about it some more, I think our main use case for mutable metadata (workflow progress) is in the works as a first-class feature. The existing immutable metadata should take care of our other needs.

[2020-02-19 19:00] #2211 closed

[2020-02-19 19:40] whynowy opened #2264 "Incorrect version info in release v2.5.0"
`argo version` returns information below:

[code]
Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Argo version:

[2020-02-19 20:13] pclalv opened #2265 "Template metadata is not propagated when using templateRef"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

A template's `metadata` does not get added to the metadata defined in its `templateRef` template.

**What you expected to happen**:

A template's `metadata` gets added to the metadata defined in its `templateRef` template

[2020-02-19 21:13] alexec commented on #2265
You are use an old version - can you please try in v2.5.0?

[2020-02-19 22:01] kevincantu commented on #2228
@maryala9, if you look closer at my RoleBinding there, the name and namespace of that service account were flipped!

Instead of:
[code]

That last bit should be:
[code]

When I fixed that it sets the permissions I wanted:
[code]

And then workflows have started work just fine!

[2020-02-19 22:01] #2228 closed

[2020-02-19 22:03] kevincantu commented on #2228
So, in full:
[code]

[2020-02-19 22:17] pclalv commented on #2265
That's fair. I downloaded the `install.yaml` mentioned in the README's installation instructions, replaced `2.4.3` with 2.5.0`, and then applied that to a fresh minikube cluster; running my reproduction steps yielded the same results. For the record, this issue does not involve the Argo CLI.

[2020-02-19 22:39] samath117 opened #2266 "argo lint on multiple files should list all files with failures"
# Summary

`argo lint` can run on either a list of files or an entire directory to verify multiple workflows. However, it doesn't give a complete report of the passing and failing workflows, but simply outputs the first failure it finds. It would be more useful if it gave a complete listing of whether the linter passes on each workflow file provided.

# Motivation

I frequently develop sets of mul

[2020-02-19 23:02] alexec commented on #2002
Proposal: https://docs.google.com/document/d/13x0uczmnI_PJpCfsZpnhy-ld5owWTzuymgyGsz6hkKQ/edit#

[2020-02-20 01:05] alexec commented on #1864
@sarabala1979 is this added to v2.6 as it needs fixing?

[2020-02-20 01:08] alexec commented on #2046
Bug is basically a workflow template that has parameters must have default values.

[2020-02-20 01:47] alexec opened #2270 "Double logging in UI"
Checklist:

 * [ ] I've included the version.
 * [ ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

Logs appear twice in the UI.

**What you expected to happen**:

Only appear once.

**How to reproduce it (as minimally and precisely as possible)**:

Run workflow.

**

[2020-02-20 01:52] alexec commented on #1876
I've been unable to reproduce this is v2.5. Can I ask if anyone else has? See https://github.com/argoproj/argo/pull/2269

[2020-02-20 02:00] alexec commented on #2270
Caused by fix in #2139.

[2020-02-20 02:02] #2046 closed

[2020-02-20 03:12] thundergolfer commented on #2190
We ran into this issue too. We now must have `ttlSecondsAfterFinished: X,` on every workflow we run otherwise the `workflow` objects build up and you eventually can't get info out of `argo` CLI.

Even worse, because we weren't cleaning up our `workflow` objects any `PersistentVolume`s associated with them weren't getting deleted in AWS. At one point we have ~1000 EBS volumes sitting around doing n

[2020-02-20 03:52] #2264 closed

[2020-02-20 05:43] sarabala1979 commented on #2265
This is not a bug. This is an enhancement on workflow-template. I am not sure this is the right behavior when workflow refers to template from workflowtemplate.  can you provide the use-cases?

[2020-02-20 05:56] #2270 closed

[2020-02-20 14:45] antoniomo commented on #1794
How does this work when you want to resubmit with different parameters? Templates doesn't help either, as they aren't directly submittable: https://github.com/argoproj/argo/issues/2007

[2020-02-20 15:24] pclalv commented on #2265
I develop a tool that constructs Argo workflows; the Argo workflow, which we can call a build workflow, builds a container image for a given git repo and git SHA. Every build workflow can be uniquely identified by its git repo and git SHA; the pods should be likewise identifiable. If the pods were labelled, I'd be able to grab the logs for all of the pods involved in a build workflow by running a

[2020-02-20 16:10] jdu opened #2272 "2.5.0 Argo UI Workflow View Blank while workflow is running"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

When running a workflow on 2.5.0, if the workflow is running, in Firefox, the workflow view will not be able to connecto to the API and will continually throw an error:

[code]

The view in the UI will be completely blank

[2020-02-20 16:31] simster7 commented on #2272
It'd be useful if you could include a screen cap with the console and network dev tools open

[2020-02-20 16:33] jdu commented on #2272
@simster7 Added!

[2020-02-20 16:46] simster7 commented on #2272
Thanks! We've seen this [heisenbug](https://en.wikipedia.org/wiki/Heisenbug) on and off recently. I'll try to take a look today

[2020-02-20 16:55] simster7 commented on #2272
Currently unable to replicate, but will keep an eye out. If you or anyone has more details regarding this it would be appreciated

[2020-02-20 16:56] jdu commented on #2272
it looks like calls to the /api endpoint are producing 504s.

If I run `kubectl proxy` and hit the following url for the workflow it responds.

http://127.0.0.1:8001/api/v1/namespaces/argo/services/argo-server/proxy/api/v1/workflow-events/argo?listOptions.fieldSelector=metadata.name=epmc-metadata-dhrfg

So it looks like it's a problem possibly with ingress. Will try a couple things and come back t

[2020-02-20 16:56] simster7 commented on #2272
How are you running the server? With `argo server`?

[2020-02-20 16:57] jdu commented on #2272
[code]

[2020-02-20 16:58] simster7 commented on #2272
How are you forwarding requests to it? With an ingress? `kubectl port-forward`?

[2020-02-20 16:59] simster7 commented on #2272
If you run `argo server` on the CLI, it should set up the forwarding for you. But if you can access the UI at all it seems like port forwarding is not the main issue

[2020-02-20 16:59] jdu commented on #2272
Ingress -> oauth2 service -> oauth2-proxy -> service -> argo-server
I'm guessing the ingress or oauth2 proxy is might be the issue.

[2020-02-20 17:01] simster7 commented on #2272
Then I agree. Please share what you've found when you do!

[2020-02-20 17:21] alexec opened #2273 "Workflow Archive data retention"
# Summary

Currently the workflow archive is append only and users need to manually clean-up data. It wight be good to have a way to automatically delete records.

# Motivation

The goals would be:

* Compliance - e.g. GDPR
* Cost - reduce database usage

# Proposal

A configuration item that sets how long to keep data for.

[2020-02-20 17:42] alexec opened #2274 "Emit events to event bus"
# Summary

We would like to be able to inform other systems when things happen (e.g. workflow completion).

# Motivation

Sending emails on Slack messages or Kafka.

# Proposal

We should emit Kubernetes events. These can then be consumed by the following:

* https://github.com/heptiolabs/eventrouter - ★405 - but does not seem active
* https://github.com/opsgenie/kubernetes-event-exporter ★107 new

[2020-02-20 19:01] alexec commented on #2274
One option:

* https://github.com/heptiolabs/eventrouter - but does not seem active

[2020-02-20 21:11] jdu commented on #2272
Havign done some more digging (it's getting late so will pick this up tomorrow) it looks to be something potentially to do with keep-alives and timing between an ELB -> nginx -> application.

I'm seeing connections being closed at the nginx ingress level and I'm thinking that since the UI is now using an event-stream that there's an issue where the ELB idle timeout is the same as the timeout at th

[2020-02-20 21:29] jdu commented on #2272
Also noted here https://serverfault.com/questions/801628/for-server-sent-events-sse-what-nginx-proxy-configuration-is-appropriate

setting `X-Accel-Buffering: no` in the response headers to make sure proxy buffering isn't applied to the stream.

[2020-02-20 21:37] danxmoran opened #2278 "clusterName is not properly quoted in SQL migrations"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
Using v2.5.1 with persistence enabled and a `clusterName` set, the controller enters a crash loop. The logs always end with:
[code]

My guess is that it's because the cluster name isn't quoted in the SQL. The migration lin

[2020-02-20 21:39] alexec commented on #2278
Fascinating. How did this ever work? Who knows.

[2020-02-20 21:48] carlosjgp commented on #716
Relates to PRs
https://github.com/argoproj/argo-helm/pull/216
https://github.com/argoproj/argo-helm/pull/243 (duplicated :point_up: )

[2020-02-20 22:27] alexec opened #2281 "`argo wait` removed from v2.5.0"
See #2262

[2020-02-20 22:41] Ark-kun commented on #2007
Argo's current Template and WorkflowTemplate structs certainly make what I described possible. The desired and correct usage is possible.
Unfortunately, the schema also allows for many ambiguous and incorrect specs. Usually, ambiguous schemas lead to user and implementor errors.
The core reason for that is mixing the "Template"-like and "Task"-like entities together. This enables ambiguous and bro

[2020-02-20 22:47] #2278 closed

[2020-02-20 22:47] #2272 closed

[2020-02-20 22:49] Ark-kun commented on #2007
Regarding the current issue:
To submit a template the CLI could just create and submit a `Workflow` object with `templateRef`:
[code]
[code]
Is there any reason why `Workflow` with `templateRef` cannot be used for submitting templates?

[2020-02-21 00:46] #2281 closed

[2020-02-21 01:17] sarabala1979 opened #2285 "Argo server should start without configmap"
**What happened**:
If the workflow-controller is running in a cluster scope, the user can submit the workflow from their namespace. The user wants to run the argo server in hosted/local mode for their namespace. They don't enable persistence and they don't have permission for Argo namespace. Argo server is throwing below error.
[code]

**What you expected to happen**:
Argo server can start without

[2020-02-21 05:23] veera2019 opened #2287 "service accout namespace issue"
Hi , I have installed my application on kubernetes and i tried to integrate some tools with application, Starting  it was creating my tool integration pod and with in minute pod was deleting automatically  and i have seen logs it was showing below error.
 **is forbidden: User "system:serviceaccount:default:argo" cannot get resource "pods/log" in API group "" in the namespace "default"**

Please gi

[2020-02-21 06:11] sarabala1979 commented on #2287
can you check your role and rolebinding for `argo` service account? whether it has the right permissions

[2020-02-21 06:26] veera2019 commented on #2287
Can you give me guidance how to check argo service account and permissions

[2020-02-21 06:48] sarabala1979 commented on #2287
can you check the `role` argo-role?

[2020-02-21 06:59] veera2019 commented on #2287
This is the my role yaml file
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: argo-role
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - pods/exec
  - pods/logs
  verbs:
  - create
  - get
  - list
  - watch
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - watch
  - list
- apiGroups:
  - ""
  resources:
  - persistentvol

[2020-02-21 09:13] jdu commented on #2272
So, figured this out this morning. In case anyone else comes across this issue. Our problem was down to an OAuth2 proxy container in front of Argo. I believe the application which was running as the OAuth2 proxy was probably faulty in some way since as soon as I updated it to a newer version, the problem has vanished and Argo is operating normally again.

[2020-02-21 11:39] opyh opened #2288 "Allow waiting for more complex conditions on resource templates"
# Summary

From what I see, Argo's `successCondition` and `failCondition` matching is not powerful enough to wait for a pod to be ready. I can wait for it to have a `status.phase = Running` condition, but not check if it's actually ready. I can only check for values that are not inside an array and have a key patch matching `/([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9]'/`).

There are many more cases

[2020-02-21 13:33] audriusrudalevicius commented on #1414
I run in to same issue with v2.6.0-rc1. To reproduce just delete node running one or several workflow pods. Whole workflow stuck in running state as some pods had "pod deleted" and newer retryed

[2020-02-21 14:16] emichaf opened #2289 "Argo Qs"
Is it possible:

- to remove workflows (removing terminated pods, but still workflows visiblw in GUI.. any function to clear etcd or similar for workflows?)

- Re run failed workflow (CLI / GUI)

- Stop workflow execution (CLI / GUI)

- Remove terminated pods (any clean up handling ?)

[2020-02-21 14:53] sarabala1979 commented on #2289
to remove workflows (removing terminated pods, but still workflows visiblw in GUI.. any function to clear etcd or similar for workflows?)
1. PodGC strategy : it will delete workflow pods once it completed https://github.com/argoproj/argo/blob/master/examples/pod-gc-strategy.yaml

Re run failed workflow (CLI / GUI)
1. v2.5 UI has retry functionality for failed workflow
2. Argo CLI has retry functio

[2020-02-21 21:25] nirav24 commented on #2173
@alexec sorry for super delay on this. I've tried with v2.5.0-rc9. Argo deletes pod based on given strategy.

I am not sure to keep this issue open since it did not work with v2.4.3 or it was not suppose to work.

[2020-02-21 21:57] alexec commented on #2173
@jackywu it does sound like there is a bug with this feature - is this something you'd want to own investigating or fixing?

[2020-02-21 21:57] nbren12 commented on #1152
I am interested in this too. Is this currently supported by argo?

[2020-02-21 21:58] nirav24 commented on #2173
Sure. I'll try investigating it.

[2020-02-21 22:45] alexec commented on #1152
Can you do this using workflow templates?

[2020-02-21 23:06] Omenien commented on #2110
@alexec it looks like this is occurring with v2.5.1, am I misunderstanding which release this was included in? I'm able to get my Workflow working again by updating to v2.6.0-RC1.

[2020-02-21 23:15] whynowy commented on #2132
@jamesgunnfiveai

`archive: none: {}` only indicates to skip tar process and upload the files or directory tree as independent files to artifact repository, it does not mean during the process, zip/unzip is not used at all.

Current process of uploading artifact is:

1. Copy and zip files from `main` container to `wait` container (`docker cp -a {container_id}:{source_path} - | gzip > xxxx`);
2. Ch

[2020-02-21 23:16] jackywu commented on #2173
I'm so sorry, I don't have enough time to  investigate it right now.  @jessesuen , do you have time to check it.

[2020-02-21 23:18] nbren12 commented on #1152
Are you asking me? I'm not sure. I am just looking for anyway to split a pipeline across multiple yaml files.

[2020-02-22 00:16] #2248 closed

[2020-02-22 01:05] obiwen opened #2294 "Workflow status API"
# Summary

Within our workflow orchestration code we would like to be able to use a lightweight API to query the current state of a workflow, given the name of the workflow and the namespace it is running in.

# Motivation

Currently we are using the “get workflow” API to get the complete workflow details and search for the status. The returned data in from this API can get quite large depending o

[2020-02-22 03:18] salanki commented on #2287
You need to update the Argo role and add pods/log. This should probably be classified as a bug, happens to me in namespace I stalls too.

[2020-02-22 03:39] salanki commented on #2060
This is a great request. I currently have a custom transformer script that loads in some python script as `script` tags in my workflows.

[2020-02-22 05:05] dtaniwaki commented on #2007
We can make it with a very small change.
https://github.com/argoproj/argo/blob/cdbc61945e09ae4dab8a56a085d050a0c358b896/workflow/controller/operator.go#L241

Just change the type of `entrypoint` from string to `TemplateRef`.

[2020-02-22 14:27] veera2019 commented on #2287
Can you tell me where i need to add pods/logs in argo role, i have shared above my argo role yaml file

Thanks

[2020-02-23 05:13] veera2019 commented on #2287
Thank you, issue was resolved after adding pods/log in argo role.

[2020-02-23 05:13] #2287 closed

[2020-02-24 07:05] Arkanayan commented on #2261
Sorry @alexec, I am not able to reproduce this issue with the examples.

[2020-02-24 10:03] jamesgunnfiveai commented on #2132
Thanks for this @whynowy. I've tried your example and it does indeed avoid the `docker cp`. However, in my real workflow (not the minimal example I provided here) I already use a shared volume to store the large artifacts and yet it will still invoke the `docker cp`. I've checked, and the file permissions are the same in both the example you've provided and the one I'm using, and when I jump into

[2020-02-24 10:12] jamesgunnfiveai commented on #2132
Aha, it seems that if a script is being used then the `docker cp` is invoked even if the artifact is in a shared volume. For example:

[code]

[2020-02-24 13:18] rmgpinto opened #2297 "CronWorkflow status active when no workflows are running"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
CronWorkflow has active pods on its status after deleting a running pod in the UI. This conflicts with `concurrencyPolicy: "Forbid"` and prevents further Workflows to run.

**What you expected to happen**:
Expected that Cr

[2020-02-24 13:26] paveq commented on #1457
I'm also experiencing the same issue on medium sized (70 MB) repository from Bitbucket.

At the same time "git clone" from some other pod works just fine.. feels like this issue is in Git used in executor image.

[2020-02-24 13:33] paveq commented on #1457
Seems it might be related to this issue: https://github.com/src-d/go-git/issues/1033#issuecomment-522245481

Cloning via `https` works for me.

[2020-02-24 13:58] rmgpinto opened #2298 "archive logs bug: failed to save outputs: timed out waiting for the condition"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
A simple workflow fails saving the logs to S3.

**What you expected to happen**:
Saving logs to S3 correctly

**How to reproduce it (as minimally and precisely as possible)**:
`Workflow`
[code]

`workflow-controller-config

[2020-02-24 14:54] simster7 commented on #2297
Will take a look at this

[2020-02-24 16:53] alexec commented on #2261
If we can repro an issue, we cannot fix it. Please let me know if you're able to provide YAML that repos the issue.

Do you believe the issues appeared in v2.5.0-rc8? I.e. it was not present in v2.5.0-rc7. If that is the case, we can reach out to the committers of that release and see what they think.

[2020-02-24 16:56] alexec commented on #1457
@paveq do you know if they released a fix for this? We could upgrade go-git if that is the case.

[2020-02-24 16:58] alexec commented on #2298
Can you please examine the wait containers logs? This might shed more light on the problem.

[2020-02-24 17:45] alexec opened #2300 "Logs does not automatically fail over to artifact in v2.5.1"
I'm not sure if this is quite fixed. On v2.5.1, I'm getting:

[code]

When the underlying pod does not exist anymore.

_Originally posted by @MrSaints in https://github.com/argoproj/argo/pull/2139#issuecomment-590456761_

[2020-02-24 18:58] #2116 closed

[2020-02-24 18:58] #2114 closed

[2020-02-24 18:58] #2115 closed

[2020-02-24 19:03] dfarr opened #2302 "Reference outputs of nested steps"
# Summary

Suppose we have the following workflow:
[code]

If we comment out `step-2` and execute the workflow, this will succeed. Specifically `step-1c` composes the results of `step-1a` and `step-1b` by referencing their outputs as follows:
[code]

However, if we uncomment `step-2`, our workflow will fail. Is it possible to enable referencing of nested step outputs in a workflow?

# Motivation

[2020-02-24 19:11] whynowy commented on #2132
@jamesgunnfiveai

I tried the yaml you posted, didn't see `docker cp`, and it clearly said "**No compression strategy needed. Staging skipped**". Could you verify and let me know? thanks.

[code]

[2020-02-24 21:31] alexec commented on #1864
I don't expect to make v2.6 Dropping.

[2020-02-24 22:02] simster7 commented on #2239
Closing, feel free to reopen if necessary

[2020-02-24 22:22] #1864 closed

[2020-02-24 22:39] #2297 closed

[2020-02-24 22:49] jamesgunnfiveai commented on #2132
@whynowy for sure! I just ran the YAML I included above on our cluster and got the following:

[code]
One thing I should note is that our clusters are behind latest release, we are running version 2.4.1. Do you have an easy way to try on an older version and see if you see the same behaviour?

[2020-02-24 22:52] jamesgunnfiveai commented on #2132
@whynowy for sure! I just ran the YAML I included above on our cluster and got the following:

[code]
One thing I should note is that our clusters are behind latest release, we are running version 2.4.1. Do you have an easy way to try on an older version and see if you see the same behaviour?

[2020-02-24 22:53] jamesgunnfiveai commented on #2132
@whynowy for sure! I just ran the YAML I included above on our cluster and got the following:

[code]
One thing I should note is that our clusters are behind latest release, we are running version 2.4.1. Do you have an easy way to try on an older version and see if you see the same behaviour?

[2020-02-24 22:53] MrSaints commented on #2261
I've just encountered this on v2.5.1, I'll try to provide a minimal example. The `wait` logs are showing:

[code]

But it is still in a running state.

[2020-02-24 23:07] jamesgunnfiveai commented on #2132
Aha, yes, it's an old bug. I tried the workflow again locally against minikube. With an argo version of 2.4.1 or higher I get the same output as you, but if I roll the cluster back to 2.3.0 I see the output I was posting above. Looks like this can be closed as all my questions are answered and nothing is broken in the latest release.

[2020-02-24 23:24] whynowy commented on #2132
Thanks @jamesgunnfiveai !

[2020-02-24 23:44] #2244 closed

[2020-02-25 04:02] tigerwings opened #2305 "Default values for input parameters in WorkflowTemplate not working"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
Previously (at least in v2.4.0-rc1), we can use default values for input parameters in a template in WorkflowTemplate. It works as expected.
But now it's broken in v2.5.0. We also tried v2.6.0-rc2 and see the same issue.

[2020-02-25 07:03] cameronbraid opened #2306 "Regression - argo cli doesn't prevent submission of workflow with missing arguments"
**What happened**:

Argo used to prevent submission of a workflow if the parameters weren't provided

**What you expected to happen**:

the same as happened in argo 2.4.3

[code]

However 2.5.2 does the following :

[code]

Workflow (modified version of https://github.com/argoproj/argo/blob/master/examples/arguments-parameters.yaml with the parameter default removed)

[code]

[2020-02-25 13:27] #2298 closed

[2020-02-25 13:28] rmgpinto commented on #2261
I'm having this as well, wait container logs:

[code]
Running argo 2.6.0-rc2

then the last line just repeats...

[2020-02-25 13:44] hnykda opened #2307 "Logging in JSON"
# Summary
Hi. Argo's machinery logs in go plain logs, e.g. something like this:
![image](https://user-images.githubusercontent.com/2741256/75252483-116d8300-57dd-11ea-9940-6af3ca4a8536.png)

which pollutes stderr and doesn't allow much filtering. Is there a way how it could log in JSON or somehow control the logging? Additionally, if the logging was structured (that is in JSON), one can much easil

[2020-02-25 14:10] MrSaints commented on #1407
I believe this may be resolved in v2.5.x. I successfully terminated a suspended workflow via the UI.

[2020-02-25 14:28] mark9white commented on #1407
I believe this is fixed by #1704

[2020-02-25 14:45] tcolgate commented on #2261
It might be worth manually running the docker logs command on the host, check if it returns and how much data it returns. I don't /think/ the NopCloser use could cause this. We could wrap stderr and stdout in a custom Closer that closes both, to be absolutely sure.

[2020-02-25 15:40] uipo78 commented on #2239
The original question remains unanswered.

[2020-02-25 15:42] uipo78 commented on #2239
I'm also not able to reopen this issue.

[2020-02-25 15:47] simster7 opened #2308 "Migrate toward structured logging"
Some parts of the code already have structured logging -- for example:

https://github.com/argoproj/argo/blob/214c451535ebeb6e68f1599c2c0a4a4d174ade25/persist/sqldb/workflow_archive.go#L63-L64

But most don't. Let's migrate the rest.

#2307

[2020-02-25 15:48] simster7 commented on #2307
We've had internal discussions about this too. Tracking this in #2308

[2020-02-25 15:48] #2307 closed

[2020-02-25 15:48] simster7 commented on #1407
Closing, thanks guys!

[2020-02-25 15:48] #1407 closed

[2020-02-25 16:05] simster7 commented on #2306
I just tried to replicate this on master without success:

[code]

[2020-02-25 16:15] simster7 commented on #2305
This seems related to #2267. It seems that you should actually be using `arguments` here and not `inputs`. @alexec What was your reasoning when removing `arguments` from the template spec?

[2020-02-25 16:15] alexec commented on #2305
I think this is because you are using `arguments` not `inputs`. Can you try inputs?

[2020-02-25 16:16] simster7 commented on #2305
He mentions trying inputs in 2.5+

[code]

[2020-02-25 16:16] alexec commented on #2305
Check this out: https://github.com/argoproj/argo/issues/2046

[2020-02-25 16:18] hnykda commented on #2307
Great.

And I was looking for logs and `JSON` and didn't find the issue, sorry

[2020-02-25 16:21] tigerwings commented on #2305
@alexec , I don't #2046 solves this bug. I tried the workflow and workflowtemplate with v2.6.0-rc2 and got the same error.

[2020-02-25 16:49] simster7 commented on #2305
I may be wrong, but it seems to me that `arguments` is actually correct here:

- `inputs` = definition of parameters that may be passed in to this template, could declare default values as well
- `arguments` = live arguments actively being passed in

It seems that when a user calls a WorkflowTemplate from a Tempalte, they are actually passing in the arguments they want to run instead of simply def

[2020-02-25 18:47] DaveKriegerEmerald commented on #974
We also desire this enhancement.

[2020-02-25 18:56] tigerwings commented on #2305
@simster7 , if I use `arguments` instead `inputs` in workflow.yaml, I will still get this error:
[code]

[2020-02-25 19:01] alexec commented on #974
This is for Argo v2.1.1, and now shows time relative.
<img width="1039" alt="Screen Shot 2020-02-25 at 11 00 49 AM" src="https://user-images.githubusercontent.com/1142830/75278093-1f5fdb80-57be-11ea-92b7-bc862318d833.png">

[2020-02-25 19:01] #974 closed

[2020-02-25 19:24] #2300 closed

[2020-02-25 19:34] DaveKriegerEmerald commented on #974
Thanks, @alexec ! We're using v2.4.3 of argo-ui and we're still seeing the UTC timestamps; is there a configuration change we need to make to get the relative ones? I'm not finding documentation about it.
<img width="832" alt="Screen Shot 2020-02-25 at 11 33 23 AM" src="https://user-images.githubusercontent.com/42977661/75280668-bb8be180-57c2-11ea-9b5e-070752b586ff.png">

[2020-02-25 20:03] MrSaints commented on #2300
Woah that was fast. Thanks!

[2020-02-25 21:04] sarabala1979 commented on #2007
We need `arguments` ,`entrypoints` and some case `volumemount` when we submit the workflow template.  To consider above scenarios, we replaced `workflowtemplatespce` to `workflowspec`

[2020-02-25 21:30] #2117 closed

[2020-02-25 21:30] #1951 closed

[2020-02-25 22:00] danxmoran opened #2310 "`argo auth token` output is invalid on first try, but works on re-run"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
My team recently deployed the Argo server in hosted mode, using the "client" mode for auth. I've noticed the same pattern a few times:
1. I navigate to the server's URL, and get redirected to the login page
2. I run `argo

[2020-02-25 22:23] danxmoran commented on #2310
More detail: I am running against GCP / GKE, using the `gcp` auth provider. I found [this branch](https://github.com/argoproj/argo/blob/master/util/kubeconfig/kubeconfig.go#L147-L169) in the auth code, which I think support my theory. `in.AuthProvider.Config` is cached from when the CLP boots up, so even if `rt.RoundTrip(&req)` refreshes the token the new value isn't returned.

[2020-02-26 00:10] alexec commented on #1786
Pending @CermakM happiness with Swagger.

[2020-02-26 00:10] #2002 closed

[2020-02-26 00:11] alexec commented on #1731
Pending happiness.

[2020-02-26 06:14] thundergolfer opened #2313 "Argo lint does not check the parameters/inputs validity of tasks in a dag"
**Note:** [This was working in `2.2.1`](https://github.com/argoproj/argo/issues/2313#issuecomment-591259701)

----

Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

We had a Argo workflow spec that passed `lint`ing even though it had a step that did not specify a parame

[2020-02-26 06:16] thundergolfer commented on #2313
Note also that this is a regression, as with the following `argo`:

[code]

I get:

[code]

[2020-02-26 06:43] thundergolfer opened #2314 "Reference to task A's output param not resolved if task B does not depend on task A"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

A `"{{tasks.X.outputs.parameters....}}"` reference was left as a literal during workflow execution because the task including that reference did not list `X` as a dependency.

**What you expected to happen**:

This I thin

[2020-02-26 06:49] thundergolfer commented on #2314
Note that this does not appear to be a regression as doing `argo lint` on `v2.2.1` passes.

[2020-02-26 10:07] CermakM commented on #1786
@alex It looks really nice! :) Currently containing both Kubernetes API and Server API @ https://github.com/CermakM/argo-client-python/tree/argo/v2.6.0

[2020-02-26 10:55] CermakM commented on #1913
@jamhed that sounds interesting! Will give it a shot :)

[2020-02-26 13:07] jamhed commented on #1913
@CermakM, this is pretty much the changes you need to do in argo helm chart:
[code]

[2020-02-26 14:48] mac9416 opened #2315 ""hello world" example hangs in quick-start-postgres install"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

I installed the postgres quickstart install yaml, submitted the hello-world example, and the workflow hung with no apparent errors.

**What you expected to happen**:

I expected the workflow to run successfully.

**How to

[2020-02-26 14:57] seaneagan commented on #2007
Just wanted to add my use case. I would like to define a reusable workflow (workflow template) which can mount a secret (or config map) volume into a task. And ideally i would like to be able to pass the secret name as a parameter to the workflow template:

[code]

Would that be supported by this proposal?

[2020-02-26 15:48] simster7 commented on #2310
@sarabala1979 Can you take a look at this?

[2020-02-26 15:58] simster7 commented on #2314
Coincidentally, I'm looking at the relevant code for another PR. Will take a look at this

[2020-02-26 16:30] simster7 commented on #2260
Closing for now, feel free to reopen if necessary

[2020-02-26 16:30] #2260 closed

[2020-02-26 19:50] #1786 closed

[2020-02-26 19:50] alexec commented on #1786
Happiness accepted.

[2020-02-26 19:59] alexec commented on #2315
Pending workflows can stay pending because of a problem with the workflows `wait` container. Can you check?

[2020-02-26 20:00] mac9416 commented on #2315
That's the weird thing... no pod was ever spun up.

[2020-02-26 20:22] mac9416 commented on #2315
Just ran it again to double-check:

[code]

I also glanced at postgres logs - nothing notable. The `argo_workflows` table is empty. Maybe that'll help show how early in the process something is failing?

[2020-02-26 22:50] alexec commented on #2315
odd, you should not need the clusterrolebinding, you can probably delete that, this manifest is used with our e2e test (which we run on k3s).

[2020-02-26 22:50] alexec commented on #2315
are all deployments running ok? all pods healthy

[2020-02-26 22:54] alexec commented on #2274
OK. When should we emit an event?

* Workflow completion.

Any other time?

[2020-02-27 00:21] sudermanjr opened #2318 "Logs are only showing last 19 lines of long output on completed steps"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
Logs only showed 19 lines in the argo server UI

**What you expected to happen**:
I expected to be able to scroll the log output

**How to reproduce it (as minimally and precisely as possible)**:
Run a workflow with more t

[2020-02-27 00:26] sudermanjr commented on #2318
I should also note that live log-tailing works great. I just can't scroll back.

[2020-02-27 00:44] alexec commented on #2318
(1) To narrow this down, when the container is running a different process is used to when it is not. Is your container running or finished?

(2) If you open the network console, you should be able to find the request that gets the logs, it'll look like:

`/api/v1/workflows/argo/delightful-dragon/delightful-dragon/log?logOptions.container=main&logOptions.tailLines=20&logOptions.follow=true`

Can y

[2020-02-27 03:43] danxmoran opened #2320 "Difference between "resubmit" and "retry" commands"
# Summary

I see "retry" and "resubmit" commands in the CLI / buttons in the server UI. It's not clear what the differences are between the two options, and I can't find any documentation about it. The only difference I can see in the CLI args is the `--memoized` flag on `resubmit`, which is marked as experimental.

# Motivation

My team uses volumes to pass large files between workflow steps. Whe

[2020-02-27 04:45] srivathsanvc opened #2321 "Archived Workflow Search and Views"
# Summary
Have the ability to search in the workflow history, for specific queries such as:

- Sort the workflows by start / finish time
- Filter by status (scheduled / completed / error etc.)
- View workflow details, such as links to logs, pod information etc.

# Motivation
ML workflows for training, batch inference etc. run on multiple triggers - timed (schedule) trigger, event trigger (arrival

[2020-02-27 06:47] kabilan6 opened #2322 "Trigger/Invoke Argo Workflow"
Are there any option to invoke Argo workflow, without going using Argo events ? like API call or any other option

[2020-02-27 09:52] AntoineDao commented on #2274
Emitting an event when a step or task is completed would also be really useful. Our use case is to have argo workflow under the hood and update a separate table with workflow updates in a different format (where we scrub certain artifact paths or secret names and the like).

[2020-02-27 12:22] Erik-Securenative opened #2324 "cant see container full log on argo UI"
On version v2.6.0-rc3 UI  when i enter the log of one of the containers in the workflow i cant see the full log (i can see only last logs like tail -f)

[2020-02-27 13:11] MrSaints commented on #2322
Several options:-

- Trigger via CLI
- Trigger via Argo Events (e.g. using webhook)
- Argo 2.5.x, there appears to be a POST endpoint: `/api/v1/workflows/argo`

[2020-02-27 14:06] avgils commented on #1405
What is the status of this issue? I would also be very happy with the onTerminate feature.

[2020-02-27 16:18] srivathsanvc opened #2325 "Native support for Docker operations"
# Summary
Argo workflows to support docker operations natively, without requiring additional cluster privileges.

# Motivation
Argo workflows is used in build and deployment situations situations to do docker operations, such as:

[code]
At Intuit, we use Argo workflows to interact with AWS SageMaker. One of the steps in interacting with SageMaker is to push containers into ECR (via `docker push`)

[2020-02-27 16:35] mac9416 commented on #2315
Good catch on clusterrolebinding. Things work fine without it.

I have a custom script to get pods. Despite the unhappy-looking cow, the pods look healthy:

[code]

[2020-02-27 16:35] mac9416 commented on #2315
I believe the restarts are because it took a bit longer for the postgres pod to spin up.

[2020-02-27 16:47] simster7 commented on #2320
`resubmit`: A Workflow execution has been completed, and you would like to submit it again. Essentially an alias for running `argo submit` again.

`retry`: Rerun a failed Workflow. The same Workflow object is re-run and all of the steps that failed or errored are marked as pending and then executed as normal. No new Workflows are created.

From your motivation, you should use `retry`.

[2020-02-27 16:47] #2320 closed

[2020-02-27 17:14] sudermanjr commented on #2318
The container is finished.

If I set tailLines to `100`, it works fine
if I remove that option entirely it shows me all the logs
`-1` results in a 500 error
`0` returns a blank page.

[2020-02-27 20:47] simster7 commented on #1405
I've been thinking about this request for a bit this morning.

It seems from how it's implemented in the code that "Terminate" is supposed to act as a non-graceful shutdown of the Workflow: if it is triggered for whatever reason, it will shut things down immediately. It is easy to imagine scenarios where a user would want such functionality to stop execution without any regard.

It therefore seems

[2020-02-28 02:01] nfickas commented on #1282
So the above suggestion will just make it clean up the istio-proxy container after 20 seconds. I think the real issue is that the wait and main containers are launching before the proxy starts up.

[2020-02-28 02:40] ddseapy commented on #1282
My understanding is the suggestion should delay the wait container running by editing it's command.  I would think that it would delay cleanup (as you said), but also prevent the startup race condition.

If the main container has the same race condition (depends on your main container), you would need to wait there too.

I haven't tried the approach myself yet though, so I may be misunderstanding

[2020-02-28 02:57] nfickas commented on #1282
hm yeah I am not seeing that happen, I am still seeing the main and wait containers startup before istio-proxy. For reference this is what I did: `podSpecPatch: '{"containers": [{"name":"wait", "command": ["/bin/bash", "-c"], "args": ["sleep 10; argoexec wait"]}, {"name":"main", "command": ["/bin/bash", "-c"], "args": ["sleep 10; argoexec main"]}]}'
`

[2020-02-28 06:12] dplusic opened #2328 "Daily CronWorkflow executed twice a day when timezone is provided."
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
* Daily CronWorkflow executed twice a day.
* This occurs when timezone is provided.

**What you expected to happen**:
* Daily CronWorkflow executed once a day.

**How to reproduce it (as minimally and precisely as possible

[2020-02-28 15:30] alexec commented on #2328
@simster7 for you?

[2020-02-28 15:31] alexec commented on #2325
@srivathsanvc don’t forget to add to the “backlog” milestone.

[2020-02-28 15:37] alexec commented on #2321
I think we should probably treat this as an EPIC and break it up into about 5 smaller items.

[2020-02-28 15:38] alexec commented on #2315
We can close then?

[2020-02-28 15:38] #2315 closed

[2020-02-28 15:43] mac9416 commented on #2315
Sorry I was a bit unclear. The pods do have restarts, but the server and controller were healthy long before I submitted the hello-world workflow. The workflow should have run despite the restarts.

[2020-02-28 17:27] simster7 commented on #2328
Thanks for an excellent bug report @dplusic! I'll get this fixed today.

[2020-02-28 17:48] #2294 closed

[2020-02-28 17:54] whynowy commented on #2294
@obiwen - With the new feature, what you need to do is when you call the APIs of `GetWorkflow` or `ListWorkflows`, you can add a new query parameter `fields` to achieve it.

For example, for `GetWorkflow`, add `fields=spec,status.phase` to let the response only contain `spec` and `status.phase`, or add `fields=-status.nodes`, which means excluding `status.nodes` from the response.

Please note thi

[2020-02-28 18:29] jpugliesi commented on #2261
We are seeing a similar issue as mentioned by @rmgpinto
Some of our workflows dont terminate due to a sidecar stuck in `Running` state. In our case, the sidecar is `tensorboard`. We've been running these workflows for many months without issues, so this behavior is new.

We have just set `archiveLogs: false` at the workflow-controller and workflow-template level - I'll report back if this mitigate

[2020-02-28 18:31] #1891 closed

[2020-02-28 18:33] alexec opened #2333 "`upper: no more rows in this result set`"
Still seeing this issue locally. We should never see this for offloaded workflows.

[2020-02-28 18:57] alexec commented on #2333
The GC should never delete any UIDVersion that is currently live. I.e. if a UID+version can be found in etcd, then we should never delete it. For e2e tests, this is set as follows:

[code]

I.e. every 30s we try and delete any wf older than 30s. This means that any running workflow should be GC after 1m, i.e. any problems should appear after 1m.

However, at some point greater than 1m, they appear

[2020-02-28 19:07] whynowy commented on #1414
@audriusrudalevicius - Could you give more detail about your case? Argo has the ability to handle the situation that pod is deleted outside of the wf lifecycle, in general if the POD is `deleted`, wf will retry (if it's there in your spec) or marked as failed. I want to see if there's a bug to make it not work in your case.

[2020-02-28 19:21] markterm opened #2334 "Step restart on workflow retry"
# Summary

In the situation of a workflow termination then retry, we may want certain step groups to rerun from the beginning if they haven’t already succeeded.

# Motivation

If you have a stepgroup with a step that creates data and a node that consumes that data that need to run close to each other in time.

# Proposal

I’m thinking we could have a boolean flag in the spec against any ‘Steps’ no

[2020-02-28 21:42] danxmoran commented on #1747
@jessesuen I tried working around this limitation using `podSpecPatch`, but it's causing errors. For example, I have a workflow template:
[code]
The `pvc-name` input is generated by an earlier `resource` step in a DAG, and that plumbing works fine. When the template above attempts to execute I get this error:
[code]
My team doesn't need this feature right now, but we'll have an urgent need next qu

[2020-02-28 21:59] danxmoran commented on #1747
So, massive facepalm. I had completely missed that it's possible to specify `volumes` at the template-level, but it seems to work like I need! I saw that it was an option while digging through `workflow_types.go`. I'll double-check that I didn't miss documentation elsewhere, and open a PR to add some notes about it / an example of using it if I can't find anything.

[2020-02-28 21:59] #1747 closed

[2020-02-29 18:39] fsiegmund opened #2337 "Argo Workflow UI stops refreshing"
Checklist:

 * [x ] I've included the version.
 * [x ] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
Argo UI stops refreshing due to call to observer.complete(); in request.ts in onerrror.

**What you expected to happen**:

If allowAutoRetry is set, observer should not be set to complete,

**How to reproduce it (as mini

[2020-02-29 20:49] simster7 commented on #2077
You could always provide a JSON string as input and just unmarshal it inside your container. Would there be any advantage to adding this feature other than the obvious convinced factor of not having to marshal it yourself?

[2020-02-29 21:08] simster7 commented on #2305
Hi @tigerwings. I have a workaround for you, when submitting your workflow just add your template under a `steps` or `dag` template:

[code]

Currently calling `WorkflowTemplates` directly with an individual template is not supported.

[2020-02-29 21:13] simster7 commented on #2305
Going to close this, but if this doesn't solve your issue let me know and I will reopen

[2020-02-29 21:13] #2305 closed

[2020-02-29 21:13] simster7 commented on #2245
Seems to be fixed on master

[2020-02-29 21:13] #2245 closed

[2020-03-01 11:17] rmgpinto commented on #2261
I could be worthwhile to share our docker version: `18.09.9-ce`.

[2020-03-01 16:13] mildewey commented on #2077
You are thinking on the right track, the goal of this suggestion is to separate the logic of unmarshalling the json from the container logic. I don't necessarily have control of the code in the container(s) I want to call, so I can't necessarily put the unmarshalling logic in them. Even when I can, I would prefer a separation of concerns where my container logic is not concerned with dividing out

[2020-03-01 16:28] mildewey commented on #2077
Maybe speaking more about my particular user case will illuminate things better. I have an event system where a separate event producer is creating json/yaml like events without knowing who/what the consumer will be. Some of this information is being used by a router microservices to direct that request to my Argo workflow. Some of the information is audit information. Out of the core information

[2020-03-01 20:33] Mohjive commented on #2011
@devlounge I'd love if you could share your workaround. I have a similar issue, and have a hard time matching pod presets against Argo pods.

[2020-03-01 20:38] Mohjive commented on #2274
I have a similar use case as the above, and step/task start and completion would help.

[2020-03-01 20:57] Mohjive opened #2339 "Git artifact should support username input with ssh authentication"
# Summary
When cloning using ssh with git input artifact it should be possible to supply a custom username

# Motivation
Not all git servers are configured using the "git" user as is hardcoded in git artifact.

# Proposal
A solution would be to use username as defined by usernameSecret

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction

[2020-03-02 00:31] #2337 closed

[2020-03-02 08:05] mark9white commented on #2334
My specific suggested implementation in detail is:
- add RestartOnWorkflowRetry as a boolean to RetryStrategy
- In RetryWorkflow in util.go:
  - we iterate through wf.Status.Nodes finding any that are of Retry type and have RestartOnWorkflowRetry enabled
  - we recursively build a list of all children of these nodes
  - we skip all of those children in the deep copy of the workflow

[2020-03-02 08:08] mark9white commented on #2321
Note that it would also be useful to be able to find/filter by label.

[2020-03-02 09:08] changhc commented on #1722
Hi @alexec , may I take this issue?

[2020-03-02 10:29] Arkanayan commented on #2261
Running `docker logs` in `wait` container working as intended, instantly returning the logs and exiting.

[2020-03-02 15:09] mjmonroe commented on #2077
[AWS Step functions](https://docs.aws.amazon.com/step-functions/latest/dg/concepts-input-output-filtering.html) support such a pattern. Step functions [support a subset](https://docs.aws.amazon.com/step-functions/latest/dg/input-output-inputpath-params.html) of the [JsonPath](https://github.com/json-path/JsonPath) standard, which allows the workflow designer to transform the JSON output of one ste

[2020-03-02 16:27] audriusrudalevicius commented on #1414
I found the issue. The problem was in my workflow after I upgraded argo from 2.4.3 to 2.6.0. I did't changed retry parameters: before it was `{retryStrategy: limit: 10}` (only supported by that version). And after upgrade I got message: `level=info msg="Node not set to be retried after status: Error"`. My fault, didn't noticed this message in workflow-controller logs. The fix for workflow to chang

[2020-03-02 16:28] simster7 commented on #1722
Hey @changhc, feel free to start work on this, I'll assign you the issue. Thanks for contributing!

[2020-03-02 16:29] simster7 commented on #1414
Closing, feel free to reopen if necessary

[2020-03-02 16:29] #1414 closed

[2020-03-02 16:43] descrepes commented on #2249
Hi,
We have exactly the same behavior on Azure.
We are running Argo v2.6.0 and Kubernetes v1.14.8 on AKS.

[code]
I can't find the event type that trigger this restart.
Let me know if you need more logs.

Regards,

Alexandre

[2020-03-02 17:41] #2236 closed

[2020-03-02 17:49] #2328 closed

[2020-03-02 18:26] simster7 commented on #2310
Fixed by #2327

[2020-03-02 18:26] #2310 closed

[2020-03-02 18:44] simster7 commented on #2077
@mildewey Thanks for providing a great description of your use case.

As another possible workaround... if you are generating workflows programmatically, you could populate the `parameters` list with all of the leaf nodes of the dictionary perhaps with their corresponding names being their `JsonPath` values so as to mimic the functionality you desire.

Regardless, we would be open to a community c

[2020-03-02 19:14] simster7 commented on #2288
Good suggestion. Would you be interested in contributing a fix?

[2020-03-02 21:16] simster7 commented on #2083
I'll close this as this doesn't appear to be an issue in 2.6. Please let me know if I'm wrong and I'll reopen

[2020-03-02 21:16] #2083 closed

[2020-03-02 21:20] simster7 commented on #2121
Seems to be resolved

[2020-03-02 21:20] #2121 closed

[2020-03-02 23:21] Mohjive opened #2343 "git artifact fetch of reference fails due to missing credentials"
Checklist:

 * [ x] I've included the version.
 * [ x] I've included reproduction steps.
 * [ x] I've included the workflow YAML.
 * [ x] I've included the logs.

**What happened**:
I tried to checkout a gerrit change reference, using git artifacts. It failed due to the fetch didn't use authentication.

**What you expected to happen**:
The repo is cloned and the change is fetched and checked out.

[2020-03-03 18:18] mac9416 commented on #2315
@alexec still encountering this while trying to reproduce other bugs.

[2020-03-03 18:26] sarabala1979 opened #2348 "Panic on workflow controller if DB connection timeout."
**What happened**:

Argo version 2.5.3

/usr/local/go/src/runtime/asm_amd64.s:1333
panic: runtime error: invalid memory address or nil pointer dereference [recovered]
	panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x10 pc=0x1323065]

goroutine 167 [running]:
k8s.io/apimachinery/pkg/util/runtime.HandleCrash(0x0, 0x0, 0x

[2020-03-03 18:29] #2242 closed

[2020-03-03 18:37] #2261 closed

[2020-03-03 19:00] tcolgate commented on #2261
Can someone test this?

On Tue, 3 Mar 2020, 18:37 Alex Collins, <notifications@github.com> wrote:

[2020-03-03 21:46] rmgpinto commented on #2261
I can test with my workflows.
I'm using the docker images, can you make a 2.6.1-rc?
Thanks

[2020-03-03 23:35] simster7 commented on #1405
For those interested in this issue, I've opened #2352

[2020-03-04 02:17] MrXinWang commented on #2080
@alexec I will try to create a PR for firstly fix the Dockerfile build on arm. Wondering if the community interested in officially support arm, i.e. release a pre-built binary?

[2020-03-04 02:21] MrXinWang commented on #2080
@pisymbol Sorry but I am wondering are you already working on this or can I work together with you?

[2020-03-04 09:51] dmegyesi commented on #2249
Hi,

+1, we have the same behaviour on AWS. Running Argo v2.6.0 on EKS v1.14.9:

[code]

The ConfigMap is 0 bytes, there is no config in it. Let me know if we can supply any additional info that could be useful.

[2020-03-04 10:24] dmegyesi commented on #2249
@descrepes a potential mitigation I found: delete the ConfigMap, so it never gets watched in the first place. Argo seems to start up correctly even in this case and functions properly.

Of course this is only an option if you have an empty ConfigMap anyway.

[2020-03-04 13:24] ghost opened #2354 "can't access web-ui"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:
I cannot access the workflows via the web-ui.

**What you expected to happen**:
1) install argo as directed in quick-start *on remote cluster*
2) kubectl -n argo port-forward deployment/argo-server 2746:2746
3) connect via

[2020-03-04 15:36] dmegyesi opened #2355 "Pod argo-server still keeps restarting, even after #2249"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML. - not applicable
 * [x] I've included the logs.

**What happened**:

https://github.com/argoproj/argo/issues/2249 still happens, it's not fixed.

After upgrading to Argo 2.6.0, the `argo-server` pod keeps restarting with exit code 0, with the following message:

[code]

**

[2020-03-04 16:24] tigerwings commented on #2261
Can this bug fix be merged into v2.5 and v2.6 because it blocks us from using the latest stable versions?

[2020-03-04 16:46] simster7 commented on #2355
@alexec Related to your previous PRs

[2020-03-04 17:10] dmegyesi commented on #2355
Additional info: I tried to replicate the exact same watch behaviour with kubectl, in verbose mode:

[code]

and then `kubectl watch` exited at around ~18:05, without providing any further output.

I will re-run now the command with `time`, to figure out when this happens. Probably some kind of server-side timeout to break the connection?

[2020-03-04 17:23] alexec commented on #2249
Interesting. Can you please create any empty `config` in the map and see what happens?

[2020-03-04 17:24] alexec commented on #2261
We probably. won't update v2.5, as it is now end of life. It should be back-ported to v2.6.1.

[2020-03-04 17:27] alexec commented on #2355
@simster7 there is a bug in the code, but I do not have bandwidth to fix. My suggestion - either (1)  flag around the restart code so people can disable it if it is a problem or (2) find a proper fix.

[2020-03-04 17:27] alexec commented on #2355
I think this is a duplicate of #2090

[2020-03-04 17:28] alexec commented on #2355
Closed as dup.

[2020-03-04 17:29] simster7 commented on #2355
I'll see if I can find a fix

[2020-03-04 17:29] dmegyesi commented on #2355
Can this be relevant? https://github.com/kubernetes/client-go/issues/547

[2020-03-04 17:39] #2313 closed

[2020-03-04 18:01] dseynaev commented on #2272
I have a similar setup and I'm experiencing a similar problem and also traced it down to my OAuth2 proxy. Can you share which OAuth2 proxy you are using and what version fixed the problem @jdu?

[2020-03-04 18:24] antonmedv opened #2356 "Migrate to expr"
# Summary

What about migrating to https://github.com/antonmedv/expr?

# Motivation

Faster, better error messages.

[2020-03-04 18:32] #2090 closed

[2020-03-04 18:33] simster7 commented on #2355
I think this should be the main issue, since it's relevant to the bug being described as opposed to the feature implementation in general. Reopening

[2020-03-04 18:58] whynowy opened #2358 "Docs for aliyun OSS artifact."
# Summary

We need the docs for OSS artifact, probably in https://github.com/argoproj/argo/blob/master/docs/configure-artifact-repository.md

# Motivation

Please give examples of your use case, e.g. when would you use this.

# Proposal

How do you think this should be implemented?

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to t

[2020-03-04 18:59] whynowy commented on #2358
@merlintang

[2020-03-04 20:31] simster7 commented on #2355
Issue was that we were not recognizing when the channel was being closed and instead treating it as a legitimate watch event. Thanks for the great suggestiong @dmegyesi.

Fixed by restarting the watch when it is closed without restarting the server in #2360

[2020-03-04 20:36] simster7 opened #2362 "Ensure that `make codegen` is run in CI"

[2020-03-04 21:03] #2355 closed

[2020-03-04 21:23] BenManifold opened #2363 "Many vulnerable dependencies with fixed newer versions in argoui"
**What happened**:
Our mandatory container scanning found a number of CVEs in the argoproj/argoui image which have fixes already available.

These were found through an automated twistlock scan aimed at the most recent version of argoproj/argo-ui

**What you expected to happen**:
A clean or minimal result for fixed CVEs in twistlock

**How to reproduce it (as minimally and precisely as possible)**

[2020-03-04 21:25] simster7 commented on #2363
`argoproj/argo-ui` is now deprecated and all of the UI code is found in our CLI

[2020-03-05 01:14] merlintang commented on #2358
@whynowy I am so glad to write this document. Thanks

[2020-03-05 01:34] gengu opened #2366 "What do the parameters workflow-workers and pod-workers of workerflowcontroller mean?"
# Summary

What do you want to know about this project?

# Motivation

Why do you need to know this, any examples or use cases you could include?

[2020-03-05 01:50] #2366 closed

[2020-03-05 08:45] rmgpinto commented on #2261
Containers are still stuck in `2.6.1`.

[2020-03-05 08:56] tcolgate commented on #2261
Can you do a `ps -ef` in the running executor container and send us the
result? Does it show docker logs still running? or any zombie processes?

On Thu, 5 Mar 2020 at 08:45, Ricardo Gândara Pinto <notifications@github.com>
wrote:

--
Tristan Colgate-McFarlane
----
  "You can get all your daily vitamins from 52 pints of guiness, and a
glass of milk"

[2020-03-05 09:19] tmbdev opened #2367 "UI and CLI challenges running large (2000 node) workflows"
Checklist:

**What happened**:

I submitted a workflow with 2000 steps (two steps that loop over 1000 input files each)

- the Argo UI hangs and crashes
- "argo watch" tries to display 2000 lines on a single screen and scrolls wildly back and forth

- containers that are waiting to be scheduled are described as "Unschedulable"; that term suggests that the container is permanently impossible to sch

[2020-03-05 09:19] dmegyesi commented on #2355
@simster7 thanks a lot for the quick fix! I can confirm that in the last ~12 hours there were no restarts since I deployed 2.6.1.

[2020-03-05 09:58] rmgpinto commented on #2261
[code]

if I execute `kubectl -n argo exec -it test-workflow-nrf7h-741316927 -c wait -- docker logs 6d57f49eaa0af8ebf36d` it shows the logs and exits.

[2020-03-05 10:28] CermakM commented on #1913
@jamhed Just tested it out. Works like a charm! What a relief to see that ... are there any plans of merging this to the upstream?!

@simster7 :pray:

[2020-03-05 11:59] tcolgate commented on #2261
Right, I think I'm getting closer. MultiReader reads all inputs sequentially, so I think once we exceed the buffer amount on stderr, docker logs blocks to write, and doesn't exit, so we never finish reading stdin. (stupidly, I didn't check the multireader docs, it has been a while since I used it).
Need to try and recreate but should have a fix real soon.

[2020-03-05 13:13] jamhed commented on #1913
@CermakM let me backport it to 2.6.1, and i'll open a pull request.

[2020-03-05 15:01] simster7 commented on #2355
Wooo!

[2020-03-05 15:05] tcolgate commented on #2261
tested this with the following workflow:
[code]
I didn't check to see if that hangs on 2.6.1, but the old code hung on the equivalent with some local testing.

[2020-03-05 15:37] logicfox commented on #859
@jessesuen Now that Argo 2.6 has an OpenAPI spec (https://github.com/argoproj/argo/blob/v2.6.1/api/openapi-spec/swagger.json#L2526-L2680), can we not use that to solve this issue and migrate to `apiextensions.k8s.io/v1`?

[2020-03-05 15:46] BenManifold commented on #2363
If it's deprecated, why is it still being updated and installed alongside argo-workflows?

[2020-03-05 15:50] tigerwings commented on #2261
I tested this workflow with 2.6.1. The issue still exists.

[code]

[2020-03-05 15:52] tcolgate commented on #2261
@tigerwings yes, I hoped that fails with 2.6.1, but I've tested against the #2368, and it works with that patch applied. (this ticket needs reopening)

[2020-03-05 16:38] mac9416 opened #2370 "Make stdout from non-script steps available as an output"
# Summary

There have been a [couple](https://argoproj.slack.com/archives/C8J6SGN12/p1583329753253900?thread_ts=1583326195.250100&cid=C8J6SGN12) [requests](https://argoproj.slack.com/archives/C8J6SGN12/p1583423785269100) for making stdout available as an output for non-script steps.

Wrapping the container to pipe stdout to a file or refactoring to use a script step both feel hacky.

# Motivation

[2020-03-05 17:35] simster7 commented on #2363
How are you installing Argo? It is not on our manifest files for our latest version: https://raw.githubusercontent.com/argoproj/argo/v2.6.1/manifests/install.yaml

I think it might still be getting installed with our Helm charts, but there is a PR open to change that: https://github.com/argoproj/argo-helm/pull/258

[2020-03-05 18:06] BenManifold commented on #2363
We used the Helm charts to install, so that explains why we're getting it.

[2020-03-05 18:11] simster7 commented on #2363
Thanks for reporting this @BenManifold. We'll get the helm charts updated

[2020-03-05 18:11] #2363 closed

[2020-03-05 19:18] foobarbecue opened #2372 "If a step outputs no logs, the Logs display in the UI will show "Waiting for data..." forever"
**What happened**:
Have a step with no output. Click "Logs" in UI. Says "Waiting for data..." forever instead of telling you the logs are blank.

**What you expected to happen**:
Message saying "This container did not output any logs" or similar.

**Environment**:
- Argo version:
Using `argoproj/argoexec:latest`

[code]
- Kubernetes version :
[code]

[2020-03-05 20:53] alexec opened #2374 "Log version on start-up"
# Summary

Both the workflow-controller and argo-server should log the version on start-up.

# Motivation

This will allow us to trace errors to versions.

# Proposal

Logging!

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know what to prioritize.

[2020-03-06 01:52] nicks opened #2376 "Argo getting started fails with Kind"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [x] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:

I'm trying Argo for the first time with Kind v0.7. The Hello World example in the "getting started" guide hangs indefinitely

https://github.com/argoproj/argo/blob/master/docs/getting-started.md

**How to reproduce it (as

[2020-03-06 02:50] simster7 commented on #2376
Would changing your [Workflow executor](https://github.com/argoproj/argo/blob/master/docs/workflow-executors.md) help here?

[2020-03-06 02:51] simster7 commented on #2354
Do you see anything on your browser console? How about network tab?

[2020-03-06 03:34] cmriprocan commented on #1676
would love to see this one too

[2020-03-06 04:21] nicks commented on #2376
OK, I:
- downloaded https://raw.githubusercontent.com/argoproj/argo/stable/manifests/install.yaml locally
- replaced the resource:

[code]

with this

[code]

And it worked OK.

Would it make sense to add these instructions to the Getting Started Guide? I couldn't find anything about this on
https://github.com/argoproj/argo/blob/master/docs/getting-started.md

[2020-03-06 04:30] sarabala1979 commented on #2376
Feel free to update that document for executor selection.

[2020-03-06 07:08] changhc opened #2378 "Use a monospace font family for yaml editors in UI"
# Summary

Use a monospace font family for yaml editors in UI.

# Motivation

Monospace font families are commonly used for code editors. They look nicer and can help reduce errors.

# Proposal

Just a minor change in the css file.

---

**Message from the maintainers**:

If you wish to see this enhancement implemented please add a 👍 reaction to this issue! We often sort issues this way to know wh

[2020-03-06 15:19] simster7 commented on #2378
Great suggestion. Want to own this change?

[2020-03-06 15:19] simster7 commented on #2376
Closing this, feel free to open a PR with the changes.

[2020-03-06 15:19] #2376 closed

[2020-03-06 15:58] #1923 closed

[2020-03-06 16:04] #2372 closed

[2020-03-06 17:24] mac9416 opened #2381 "Make Argo UI not indexed"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [ ] I've included the logs.

**What happened**:

I noticed Argo UI doesn't prevent search engine indexing.

**What you expected to happen**:

I expected Argo UI to prevent search engine indexing. If someone leaves an Argo UI public-facing accidentally, we probably want

[2020-03-06 17:47] danxmoran opened #2382 "Workflow archiving fails, difficult to diagnose why"
Checklist:

 * [x] I've included the version.
 * [x] I've included reproduction steps.
 * [ ] I've included the workflow YAML.
 * [x] I've included the logs.

**What happened**:
Workflow archiving is enabled in my controller, but I've never seen a workflow be successfully archived. I just enabled debug logging and now I can see:
[code]

**What you expected to happen**:
I expected archiving to work

[2020-03-06 17:50] simster7 commented on #2381
Care to submit a PR? :)

[2020-03-06 17:51] simster7 commented on #2382
@alexec should take the first stab at this

[2020-03-06 18:28] #1722 closed

[2020-03-07 00:51] foobarbecue opened #2384 "Don't show retries in UI if first try succeeds"
# Summary

Right now, if a template has a retryStrategy, the UI will always show a node mytemplate but also one called mytemplate(0) . This is unnecessary clutter. (0) and (1) should show up if (0) fails. I don't think any of the (0) nodes are necessary here:

![image](https://user-images.githubusercontent.com/854789/76132986-a9801f00-5fca-11ea-8160-19463668bbc6.png)

# Proposal

I don't know the

[2020-03-07 13:34] jamhed commented on #1913
@CermakM @simster7 https://github.com/argoproj/argo/pull/2385

[2020-03-08 16:42] simster7 commented on #2381
Closed with #2383

[2020-03-08 16:42] #2381 closed

[2020-03-08 16:49] delwaterman commented on #1894
Tested in 2.5.3. Fix works. Thanks! 🥇

[2020-03-08 16:57] delwaterman commented on #2046
So I've been playing around with this and while this does now work, this causes a lot of confusing. For now we're sticking with the pattern of using steps to trigger a single workflow.

I'll think on this a bit, and maybe write up an enhancement proposal for possibly a better solution.

[2020-03-08 17:00] simster7 commented on #1676
I agree that this would be a good enhancement. Before I share my ideas, have you considered a _workaround_ such as this?

[code]
What do you think?

A nice way to solve this would be to expose the variable `{{step.retry.number}}` to the same step, then allow the user to be able to create an expression such as:
[code]

However for this we would need to make two decisions:

1. To allow for expressio

[2020-03-08 17:08] simster7 opened #2391 "`templateRef` rules are confusing and not clear"
Currently we only allow using `templateRef` to trigger `WorkflowTemplates` from `steps` or `dags`. We do not allow this directly from a `template`. This has caused confusion in #2046 and #2305, among others.

We should either:

- Explicitly forbid using `templateRef` in `templates`
- Allow it
- Redesign our approach to this, perhaps in conjunction with the discussions in #2007

[2020-03-08 17:09] #2384 closed

[2020-03-08 17:20] simster7 commented on #2384
Thanks for the bug report @foobarbecue!

[2020-03-08 17:29] simster7 commented on #1923
Fixed in #2331

[2020-03-08 17:30] simster7 commented on #1790
Also fixed with #2331

[2020-03-08 17:38] delwaterman commented on #2391
@simster7 I totally agree. Here's my thinking:

As part of my mental model for Argo I had to drill into my head that a `WorfklowTemplate` (an item defined under the `templates` YAML section) is equivalent to a function definition. And with dealing with either `steps` or `dag` the tasks under the `steps` and `tasks` were function invocations. This was a tricky model to get into my head (and my team

[2020-03-08 17:40] delwaterman commented on #2007
Could we simply this approach by just modifying a Workflow definition, to allow `entrypoint` and `exitHandler` to take templateRef arguments:

[code]

[2020-03-08 17:46] simster7 opened #2392 "Allow simple parameter substitution to happen client-side before submitting"
Inspired by a [question on Slack](https://argoproj.slack.com/archives/C8J6SGN12/p1583525224316400):

This is currently not possible because `retryStrategy.limit` is an `int` field, and since parameter substitution happens server-side, it will not be a valid workflow to send if the field does not contain an `int`.

A possible way to fix this is to enhance `argo submit` to allow for basic parameter

[2020-03-08 17:58] simster7 commented on #2239
@uipo78 Take a look at [Workflow RBAC](https://github.com/argoproj/argo/blob/master/docs/workflow-rbac.md#workfow-rbac)?

[2020-03-08 19:35] danxmoran commented on #2382
One thing I'd suggest is changing [this log](https://github.com/argoproj/argo/blob/master/persist/sqldb/workflow_archive.go#L64) from debug-level to info-level. When I was first trying to diagnose the issue I saw the log statement but didn't notice the level, so I was convinced the controller wasn't even attempting to archive things.

I've updated my deployment to include `UPPERIO_DB_DEBUG=1` in t

[2020-03-08 20:12] danxmoran commented on #2382
Found it! `pq: relation "argo_archived_workflows_labels" does not exist` is the real error. It's triggered by a strange query that might be upper.io doing something:
[code]
Then the following statement in the transaction fails:
[code]
And the failure there is what's reported out in the logs.

[2020-03-08 21:07] simster7 commented on #2318
Fixed in https://github.com/argoproj/argo/pull/2330

[2020-03-08 21:07] #2318 closed

[2020-03-08 21:09] simster7 commented on #1088
Hopefully fixed by #2319 and #2349

[2020-03-08 21:09] #1088 closed

[2020-03-08 21:39] mac9416 opened #2393 "Make aggregated output parameters available by name"
# Summary

I'd like to be able to access aggregated output parameters filtered by name. Right now you [can get](https://github.com/argoproj/argo/issues/861) _all_ the output parameters as JSON using `{{steps.STEP-NAME.outputs.parameters}}`. I'd like to add `.PARAM-NAME` to get JSON for _just_ output params by that name.

# Motivation

Someone [asked on StackOverflow](https://stackoverflow.com/q/60